Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Java, JS, Python, Ruby, documentation, QL-for-QL

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Java:
  - java/**/*
  - change-notes/**/*java.*

JS:
  - javascript/**/*
  - change-notes/**/*javascript*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL": 
  - ql/**/*

address review comments
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/EmptyFeature.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/EmptyFeature.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/FeatureValue.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonTotalFeature.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonTotalFeature.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/TestUtil.qll
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/test.js
Labels: JS

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
Labels: JS

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

Remove additional path-injection sinks
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Remove additional SQL sinks
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Remove additional Xss sinks
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Labels: JS

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
Labels: JS

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Labels: JS

C++: Add more lambda capture IR tests
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Labels: C++

C++: Update tests for handling op bitwise copy in lambda captures
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Labels: C++

C++: Remove exception from `cpp/unused-local-variable` that is no longer needed
  cpp/ql/src/Best Practices/Unused Entities/UnusedLocals.ql
Labels: C++

C++: Add change note for `cpp/unused-local-variable` changes
  cpp/ql/src/change-notes/2022-03-25-unused-lambda-capture.md
Labels: C++, documentation

C++: Update tests after generating reference conversion
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
Labels: C++

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
Labels: JS

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
Labels: JS

Remove additional path-injection sinks
  benjamin-button.md
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS, documentation

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Add benjamin-button.md
  benjamin-button.md
Labels: documentation

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Labels: JS

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Remove additional Xss sinks
  benjamin-button.md
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Labels: JS, documentation

Remove additional SQL sinks
  benjamin-button.md
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS, documentation

Update DangerousUseOfExceptionBlocks.ql
  cpp/ql/src/experimental/Security/CWE/CWE-476/DangerousUseOfExceptionBlocks.ql
Labels: C++

Update QHelp PR comment if it already exists
  .github/workflows/post-pr-comment.yml
  .github/workflows/qhelp-pr-preview.yml
Labels: none

Rename workflow to reflect its generic nature
  .github/workflows/post-pr-comment.yml
  .github/workflows/qhelp-pr-preview.yml
Labels: none

Use gh api instead of third-party actions
  .github/workflows/post-pr-comment.yml
  .github/workflows/qhelp-pr-preview.yml
Labels: none

Use environment variable instead of GH context
  .github/workflows/post-pr-comment.yml
Labels: none

Use --paginate to get all comments
  .github/workflows/qhelp-pr-preview.yml
Labels: none

C#: Add kind tag to Capture model queries.
  csharp/ql/src/utils/model-generator/CaptureSinkModels.ql
  csharp/ql/src/utils/model-generator/CaptureSourceModels.ql
  csharp/ql/src/utils/model-generator/CaptureSummaryModels.ql
Labels: C#

C++: Add tests for copy constructor direct initializations
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

C++: Update tests for copy constructor calls with implied source
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
Labels: C++

Data flow: Introduce `ContentSet`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
Labels: Ruby

Ruby: Add data-flow test for reverse array stores
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/array-flow/array_flow.rb
Labels: Ruby

Java/C#: Update `CaptureModels.qll`
  csharp/ql/src/utils/model-generator/internal/CaptureModels.qll
  java/ql/src/utils/model-generator/internal/CaptureModels.qll
Labels: C#, Java

Python: Implement `ContentSet`
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/query-tests/Security/CWE-090-LdapInjection/LdapInjection.expected
  python/ql/test/query-tests/Security/CWE-918-ServerSideRequestForgery/FullServerSideRequestForgery.expected
  python/ql/test/query-tests/Security/CWE-918-ServerSideRequestForgery/PartialServerSideRequestForgery.expected
Labels: Python

C#: Implement `ContentSet`
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Collections.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Text.qll
Labels: C#

Ruby: Implement `ContentSet`
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
Labels: Ruby
