Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Java, JS, Python, Ruby, documentation, QL-for-QL

Java: Add testcase for generated summary model.
  java/ql/test/library-tests/dataflow/external-models/C.java
  java/ql/test/library-tests/dataflow/external-models/steps.expected
  java/ql/test/library-tests/dataflow/external-models/steps.ql
Labels: Java

Update Zip.qll
  python/ql/src/experimental/semmle/python/frameworks/Zip.qll
Labels: Python

Update Frameworks.qll
  python/ql/src/experimental/semmle/python/Frameworks.qll
Labels: Python

Rename Zip.qll to CopyFile.qll
  python/ql/src/experimental/semmle/python/frameworks/CopyFile.qll
Labels: Python

Update CopyFile.qll
  python/ql/src/experimental/semmle/python/frameworks/CopyFile.qll
Labels: Python

Update zipslip_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-022/zipslip_bad.py
Labels: Python

JS: Support MaD summary steps through properties
  javascript/ql/lib/semmle/javascript/frameworks/data/ModelsAsData.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  javascript/ql/test/library-tests/frameworks/data/test.expected
  javascript/ql/test/library-tests/frameworks/data/test.js
  javascript/ql/test/library-tests/frameworks/data/test.ql
Labels: JS

Ruby: sync files
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
Labels: Ruby

Extend DataFlowCallable to include file scopes
  ql/lib/semmle/go/dataflow/internal/DataFlowDispatch.qll
  ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
  ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
Labels: QL-for-QL

C++: Add `cpp/unused-local-variable` test case with `switch` initializer
  cpp/ql/src/Best Practices/Unused Entities/UnusedLocals.ql
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedLocals/code2.cpp
Labels: C++

Update DangerousUseOfExceptionBlocks.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-476/semmle/tests/DangerousUseOfExceptionBlocks.expected
Labels: C++

Autoformated to make CodeQL happy
  cpp/ql/src/experimental/Security/CWE/CWE-020/NoCheckBeforeUnsafePutUser.ql
Labels: C++

C#: Add more tests for `cs/useless-cast-to-self`
  csharp/ql/test/query-tests/Language Abuse/UselessCastToSelf/UselessCastToSelf.cs
  csharp/ql/test/query-tests/Language Abuse/UselessCastToSelf/UselessCastToSelf.expected
  csharp/ql/test/query-tests/Language Abuse/UselessCastToSelf/options
Labels: C#

fix implicit this (mostly on new deprecated aliases)
  cpp/ql/lib/external/ExternalArtifact.qll
  cpp/ql/lib/semmle/code/cpp/File.qll
  cpp/ql/lib/semmle/code/cpp/XML.qll
  cpp/ql/src/Likely Bugs/Memory Management/UsingExpiredStackAddress.ql
  cpp/ql/src/external/MetricFilter.qll
  csharp/ql/lib/semmle/code/asp/WebConfig.qll
  csharp/ql/lib/semmle/code/csharp/File.qll
  csharp/ql/lib/semmle/code/csharp/XML.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/Format.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/microsoft/Owin.qll
  java/ql/lib/external/ExternalArtifact.qll
  java/ql/lib/semmle/code/FileSystem.qll
  java/ql/lib/semmle/code/java/frameworks/android/SQLite.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/ejb/EJB.qll
  java/ql/lib/semmle/code/xml/XML.qll
  java/ql/src/Security/CWE/CWE-200/TempDirUtils.qll
  javascript/ql/lib/external/ExternalArtifact.qll
  javascript/ql/lib/semmle/javascript/Files.qll
  javascript/ql/lib/semmle/javascript/NPM.qll
  javascript/ql/lib/semmle/javascript/XML.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/src/external/MetricFilter.qll
  python/ql/lib/semmle/python/Files.qll
  python/ql/lib/semmle/python/xml/XML.qll
  python/ql/src/experimental/semmle/python/frameworks/LDAP.qll
  python/ql/src/external/ExternalArtifact.qll
  python/ql/test/TestUtilities/VerifyApiGraphs.qll
  ql/ql/src/codeql/files/FileSystem.qll
  ql/ql/src/codeql_ql/ast/Ast.qll
  ruby/ql/lib/codeql/files/FileSystem.qll
  ruby/ql/lib/codeql/ruby/Concepts.qll
Labels: C++, C#, Java, JS, Python, Ruby, QL-for-QL

fixup getAPrimaryQlClass
  javascript/ql/lib/semmle/javascript/YAML.qll
  ql/ql/src/codeql_ql/ast/Ast.qll
Labels: JS, QL-for-QL

Java: avoid using getUrl as a predicate name
  java/ql/lib/semmle/code/xml/MavenPom.qll
  java/ql/src/Security/CWE/CWE-1104/MavenPomDependsOnBintray.ql
  java/ql/src/Security/CWE/CWE-829/InsecureDependencyResolution.ql
Labels: Java

update documentation to mention getUrl instead of getURL
  docs/codeql/ql-language-reference/ql-language-specification.rst
  docs/codeql/writing-codeql-queries/providing-locations-in-codeql-queries.rst
Labels: documentation

QL: remove acronym FP related to IPA types
  ql/ql/src/codeql_ql/style/AcronymsShouldBeCamelCaseQuery.qll
Labels: QL-for-QL

Java: update expected output
  java/ql/test/library-tests/j2objc/OCNIComment.expected
Labels: Java

JS: update expected output
  javascript/ql/test/library-tests/YAML/printAst.expected
Labels: JS

RB: update expected test output
  ruby/ql/test/library-tests/security/OpenSSL.expected
Labels: Ruby

JS-ML: remove deprecated aliases in internal file
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointData.qll
Labels: JS

Update Sql Injection queries
  java/ql/lib/semmle/code/java/security/SqlInjectionQuery.qll
  java/ql/src/Security/CWE/CWE-089/SqlTainted.ql
  java/ql/src/Security/CWE/CWE-089/SqlTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-089/SqlUnescaped.ql
Labels: Java

Update CommandLineQuery
  java/ql/lib/semmle/code/java/security/CommandLineQuery.qll
Labels: Java

Document flow through arrays in `dataflow.md`
  docs/ql-libraries/dataflow/dataflow.md
Labels: documentation

Remove @xcorail from CODEOWNERS
  CODEOWNERS
Labels: none

Add QLDocs
  java/ql/lib/semmle/code/java/security/CommandLineQuery.qll
  java/ql/lib/semmle/code/java/security/SqlInjectionQuery.qll
Labels: Java

add files in the DOM as a source for js/xss-through-dom
  javascript/ql/lib/semmle/javascript/security/dataflow/XssThroughDomCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/XssThroughDom.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/xss-through-dom.js
Labels: JS

add a taint-step through URL.createObjectURL for js/xss-through-dom
  javascript/ql/lib/semmle/javascript/security/dataflow/XssThroughDomQuery.qll
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/XssThroughDom.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/xss-through-dom.js
Labels: JS

Data flow: Tweak two join-orders
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
Labels: C++, C#, Java, Python, Ruby

WIP: Xerces XXE
  cpp/ql/src/Security/CWE/CWE-611/XercesXXE.ql
Labels: C++

C++: more WIP on Xerces XXE query
  cpp/ql/src/Security/CWE/CWE-611/XercesXXE.ql
Labels: C++

WIP: start on CWE-611 tests
  cpp/ql/src/Security/CWE/CWE-611/XercesXXE.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XercesXXE.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-611/test.cpp
Labels: C++

Python: Refactor how we find a `Class` from `API::Node`
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/RestFramework.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/Tornado.qll
  python/ql/lib/semmle/python/frameworks/Twisted.qll
Labels: Python

Python: Minor refactor for FlaskViewClass
  python/ql/lib/semmle/python/frameworks/Flask.qll
Labels: Python

rename existing getUrl predicate to getRepositoryUrl
  java/ql/lib/semmle/code/xml/MavenPom.qll
  java/ql/src/Security/CWE/CWE-1104/MavenPomDependsOnBintray.ql
  java/ql/src/Security/CWE/CWE-829/InsecureDependencyResolution.ql
Labels: Java

Python: Rename more XML classes to follow convention
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
Labels: Python

Python: Use new `API::CallNode` for XML constant check
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/lib/semmle/python/frameworks/Xmltodict.qll
Labels: Python

Java: Fix Local Temp File/Dir Incorrect Guard Logic
  java/ql/lib/semmle/code/java/os/OSCheck.qll
  java/ql/src/Security/CWE/CWE-200/TempDirLocalInformationDisclosure.ql
  java/ql/src/Security/CWE/CWE-200/TempDirUtils.qll
  java/ql/src/change-notes/2022-04-06-local-temp-file-or-directory-bugfix.md
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/Test.java
Labels: Java, documentation

add change-note
  java/ql/lib/change-notes/2022-04-06-getUrl-deprecation.md
Labels: Java, documentation

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Java:
  - java/**/*
  - change-notes/**/*java.*

JS:
  - javascript/**/*
  - change-notes/**/*javascript*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL": 
  - ql/**/*
