Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Java, JS, Python, Ruby, documentation, QL-for-QL

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Java:
  - java/**/*
  - change-notes/**/*java.*

JS:
  - javascript/**/*
  - change-notes/**/*javascript*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL": 
  - ql/**/*

ML: update expected tests outputs
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/EndpointFeatures.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/ExtractEndpointDataTraining.expected
Labels: JS

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
Labels: JS

Remove additional SQL sinks
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
Labels: JS

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Labels: JS

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

Remove additional path-injection sinks
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Remove additional Xss sinks
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Labels: JS

Add change note
  ql/lib/change-notes/2022-04-08-fix-global-dataflow.md
Labels: documentation, QL-for-QL

Bump minor version of all packs
  cpp/ql/lib/qlpack.yml
  cpp/ql/src/qlpack.yml
  csharp/ql/campaigns/Solorigate/lib/qlpack.yml
  csharp/ql/campaigns/Solorigate/src/qlpack.yml
  csharp/ql/lib/qlpack.yml
  csharp/ql/src/qlpack.yml
  java/ql/lib/qlpack.yml
  java/ql/src/qlpack.yml
  javascript/ql/lib/qlpack.yml
  javascript/ql/src/qlpack.yml
  python/ql/lib/qlpack.yml
  python/ql/src/qlpack.yml
  ruby/ql/lib/qlpack.yml
  ruby/ql/src/qlpack.yml
Labels: C++, C#, Java, JS, Python, Ruby

Bump minor version of packs
  ql/lib/qlpack.yml
  ql/src/qlpack.yml
Labels: QL-for-QL

C++: Flow states and transformers.
  cpp/ql/src/Security/CWE/CWE-611/XercesXXE.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XercesXXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.cpp
Labels: C++

Bump a few more versions
  csharp/downgrades/qlpack.yml
  csharp/ql/campaigns/Solorigate/lib/qlpack.yml
  csharp/ql/campaigns/Solorigate/src/qlpack.yml
  misc/suite-helpers/qlpack.yml
  ruby/ql/examples/qlpack.yml
  ruby/ql/test/qlpack.yml
Labels: C#, Ruby

Bump version of `suite-helpers` dependency
  ql/src/qlpack.yml
Labels: QL-for-QL

Revert "Bump version of `suite-helpers` dependency"
  ql/src/qlpack.yml
Labels: QL-for-QL

Python: Fix broken QHelp
  python/ql/src/experimental/Security/CWE-022/ZipSlip.qhelp
Labels: Python, documentation

Python: Autoformat `ZipSlip.ql`
  python/ql/src/experimental/Security/CWE-022/ZipSlip.ql
Labels: Python

Python: Autoformat `Concepts.qll`
  python/ql/src/experimental/semmle/python/Concepts.qll
Labels: Python

Python: Fix name clash in `CopyFile.qll`
  python/ql/src/experimental/semmle/python/frameworks/CopyFile.qll
Labels: Python

Python: Fix modelling in `ZipSlip.qll`
  python/ql/src/experimental/semmle/python/security/ZipSlip.qll
Labels: Python

Python: Update tests
  python/ql/test/experimental/query-tests/Security/CWE-022/zipslip_bad.py
Labels: Python

Query to detect unsafe getResource calls in Java EE applications
  java/ql/lib/semmle/code/java/frameworks/Servlets.qll
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeResourceGet.java
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.qhelp
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.qll
  java/ql/src/experimental/semmle/code/java/frameworks/Jsf.qll
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeResourceGet.java
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeUrlForward.expected
Labels: Java, documentation

included JavaScript drag and drop API Xss sources
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/frameworks/DragAndDrop.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/dragAndDrop.ts
Labels: JS

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
Labels: JS

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Remove additional path-injection sinks
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Labels: JS

Remove additional SQL sinks
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
Labels: JS

Remove additional Xss sinks
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Labels: JS

Java: Make JumpStmt a concrete class again
  java/ql/lib/semmle/code/java/Statement.qll
Labels: Java

Java: Remove TODO comment for `getRuleExpression()` behavior
  java/ql/lib/semmle/code/java/Expr.qll
Labels: Java

add PoC GitHub Actions inputs as untrusted sources
  javascript/ql/lib/semmle/javascript/security/dataflow/CommandInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/github-actions.js
Labels: JS

Update CODEOWNERS for documentation and license
  CODEOWNERS
Labels: none

Update README to clarify license explanation
  README.md
Labels: documentation

C++: Remove TC from 'Element.getRootCause'.
  cpp/ql/lib/semmle/code/cpp/Element.qll
Labels: C++
