Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Java, JS, Python, Ruby, documentation, QL-for-QL

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Java:
  - java/**/*
  - change-notes/**/*java.*

JS:
  - javascript/**/*
  - change-notes/**/*javascript*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL": 
  - ql/**/*

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
Labels: JS

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
Labels: JS

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Labels: JS

Remove additional Xss sinks
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Labels: JS

Remove additional path-injection sinks
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Add exclusion rules for internal diagnostics queries to all the suite selectors (previously it was only excluded in the Code Scanning selector).
  misc/suite-helpers/lgtm-selectors.yml
  misc/suite-helpers/security-and-quality-selectors.yml
  misc/suite-helpers/security-extended-selectors.yml
Labels: none

Improve documentation of CallExpr.getCalleeName
  ql/lib/semmle/go/Expr.qll
Labels: QL-for-QL

Improve CallNode.getCalleeName
  ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
Labels: QL-for-QL

Add tests for callees through function variables
  ql/test/library-tests/semmle/go/dataflow/CallGraph/getACallee.expected
  ql/test/library-tests/semmle/go/dataflow/CallGraph/test.go
  ql/test/library-tests/semmle/go/dataflow/CallGraph/viableCallee.expected
Labels: QL-for-QL

Look for callees through function variables
  ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
  ql/test/library-tests/semmle/go/dataflow/CallGraph/getACallee.expected
  ql/test/library-tests/semmle/go/dataflow/CallGraph/viableCallee.expected
Labels: QL-for-QL

Fix viableCallable for function variables
  ql/lib/semmle/go/dataflow/internal/DataFlowDispatch.qll
  ql/test/library-tests/semmle/go/dataflow/CallGraph/viableCallee.expected
Labels: QL-for-QL

Add change note
  ql/lib/change-notes/2022-04-14-fix-callee-via-variable.md
Labels: documentation, QL-for-QL

C#: Address review comments.
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
Labels: C#

Ruby: Add barrier guards test involving captured variables
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.rb
Labels: Ruby

Ruby: Handle captured variables in `BarrierGuard::getAGuardedNode()`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
Labels: Ruby

Fix formatting in change log
  ruby/ql/lib/change-notes/released/0.1.0.md
Labels: Ruby, documentation

Fix formatting in change log
  ruby/ql/lib/change-notes/released/0.1.0.md
Labels: Ruby, documentation

Fix formatting in change log
  ruby/ql/lib/CHANGELOG.md
Labels: Ruby, documentation

Fix formatting in change log
  python/ql/lib/change-notes/released/0.1.0.md
Labels: Python, documentation

Fix formatting in change log
  python/ql/lib/CHANGELOG.md
Labels: Python, documentation

Fix formatting in change log
  java/ql/src/change-notes/released/0.1.0.md
Labels: Java, documentation

Fix formatting in change log
  java/ql/src/CHANGELOG.md
Labels: Java, documentation

Fix formatting in change log
  java/ql/lib/change-notes/released/0.1.0.md
Labels: Java, documentation

Fix formatting in change log
  java/ql/lib/CHANGELOG.md
Labels: Java, documentation

Fix formatting in change log
  csharp/ql/lib/change-notes/released/0.1.0.md
Labels: C#, documentation

Fix formatting in change log
  csharp/ql/lib/CHANGELOG.md
Labels: C#, documentation

Fix formatting in change log
  cpp/ql/lib/change-notes/released/0.1.0.md
Labels: C++, documentation

Fix formatting in change log
  cpp/ql/lib/CHANGELOG.md
Labels: C++, documentation

C++: Fix tests after extractor changes that improve `using` position accuracy
  cpp/ql/test/library-tests/usings/Usings1.expected
Labels: C++

C++: Fix the layout of comments in `getBufferSize`
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
Labels: C++

C++: Add a test of NoCheckBeforeUnsafePutUser.ql.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-020/NoCheckBeforeUnsafePutUser/NoCheckBeforeUnsafePutUser.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-020/NoCheckBeforeUnsafePutUser/NoCheckBeforeUnsafePutUser.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-020/NoCheckBeforeUnsafePutUser/test.cpp
Labels: C++

Ruby: Exclude `SplatExpr` from taint tracking
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
Labels: Ruby

Work around missing size for typedef
  cpp/ql/lib/semmle/code/cpp/ir/internal/CppType.qll
Labels: C++

fix PrototypePollutingAssignment examples
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingAssignment.js
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingAssignmentFixed.js
Labels: JS

Swift: rename certain dbscheme columns
  swift/codegen/schema.yml
  swift/ql/lib/swift.dbscheme
Labels: none

Swift: Extract files
  swift/extractor/BUILD.bazel
  swift/extractor/Configuration.h
  swift/extractor/Extractor.cpp
  swift/extractor/Extractor.h
  swift/extractor/main.cpp
  swift/ql/lib/swift.qll
  swift/ql/lib/swift/File.qll
  swift/ql/test/answer.expected
  swift/ql/test/answer.ql
  swift/ql/test/extractor-tests/files/files.expected
  swift/ql/test/extractor-tests/files/files.ql
  swift/ql/test/extractor-tests/files/hello.swift
  swift/tools/qltest.sh
Labels: none

Swift: remove test table from dbscheme
  swift/codegen/prefix.dbscheme
Labels: none

Swift: build with Clang on Linux
  .github/workflows/swift-qltest.yml
Labels: none

Swift: regenerate dbscheme
  swift/ql/lib/swift.dbscheme
Labels: none
