Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Go, Java, JS, Kotlin, Python, Ruby, Swift, documentation, QL-for-QL, DataFlow Library

update code example to be OWASP compliant
  swift/ql/src/queries/Security/CWE-916/InsufficientHashIterations.swift
Labels: Swift

update query description following docs review
  swift/ql/src/queries/Security/CWE-916/InsufficientHashIterations.ql
Labels: Swift

Ruby: make ParameterNode extend LocalSourceNode
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
Labels: Ruby

Ruby: recover some incomplete capture flow
  ruby/ql/lib/codeql/ruby/dataflow/SSA.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/variables/ssa.expected
Labels: Ruby

Ruby: port part of Railties model
  ruby/ql/lib/codeql/ruby/frameworks/Railties.qll
Labels: Ruby

Ruby: port part of the Rails model
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
Labels: Ruby

Ruby: add some captured-variable flow tests
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/global/captured_variables.rb
Labels: Ruby

Ruby: rename one of the PostsController2 classes
  ruby/ql/test/library-tests/frameworks/ActionController.expected
  ruby/ql/test/library-tests/frameworks/active_storage/active_storage.rb
Labels: Ruby

Update type-tracking test
  ruby/ql/test/library-tests/dataflow/array-flow/type-tracking-array-flow.expected
  ruby/ql/test/library-tests/dataflow/global/TypeTrackingInlineTest.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.ql
Labels: Ruby

Ruby: add type-tracking inline test in global flow test
  ruby/ql/test/library-tests/dataflow/global/TypeTrackingInlineTest.expected
  ruby/ql/test/library-tests/dataflow/global/TypeTrackingInlineTest.ql
Labels: Ruby

Ruby: port part of ActionController model
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/src/experimental/weak-params/WeakParams.ql
  ruby/ql/test/library-tests/frameworks/ActionController.expected
  ruby/ql/test/library-tests/frameworks/ActionController.ql
  ruby/ql/test/library-tests/frameworks/action_controller/params-flow.expected
  ruby/ql/test/library-tests/frameworks/action_controller/params_flow.rb
Labels: Ruby

Ruby: add ConstRef
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
Labels: Ruby

Ruby: include SSA param input step for flowsTo
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
Labels: Ruby

Ruby: add some basic tests
  ruby/ql/test/library-tests/dataflow/helpers/dataflow.expected
  ruby/ql/test/library-tests/dataflow/helpers/dataflow.ql
  ruby/ql/test/library-tests/dataflow/helpers/tst.rb
Labels: Ruby

Ruby: Drive-by fix a QL4QL alert
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
Labels: Ruby

Ruby: fix handling of namespaces with no 'self'
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
Labels: Ruby

Ruby: fix implicit 'this'
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
Labels: Ruby

Swift: s/IterableDeclContext/DeclWithMembers/gr
  swift/ql/lib/codeql/swift/elements/decl/DeclWithMembers.qll
  swift/ql/lib/codeql/swift/elements/decl/IterableDeclContext.qll
  swift/ql/lib/codeql/swift/elements/decl/MethodDecl.qll
  swift/ql/lib/codeql/swift/elements/decl/VarDecl.qll
  swift/ql/test/library-tests/elements/decl/iterabledeclcontext/iterabledeclcontext.expected
  swift/ql/test/library-tests/elements/decl/iterabledeclcontext/iterabledeclcontext.ql
Labels: Swift

C++: Add `strcpy` prototype to test
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/test.cpp
Labels: C++

C++: Add `strcpy` test for `cpp/non-constant-format`
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/test.cpp
Labels: C++

Kotlin: Run compiler_arguments test on all platforms
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/app/build.gradle
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/app/src/main/kotlin/testProject/App.kt
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/compArgs.expected
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/compArgs.ql
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/settings.gradle
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/test.py
Labels: Java

Kotlin: Run needless-java-wildcards on all platforms
  java/ql/integration-tests/all-platforms/kotlin/needless-java-wildcards/Test.java
  java/ql/integration-tests/all-platforms/kotlin/needless-java-wildcards/kConsumer.kt
  java/ql/integration-tests/all-platforms/kotlin/needless-java-wildcards/test.expected
  java/ql/integration-tests/all-platforms/kotlin/needless-java-wildcards/test.py
  java/ql/integration-tests/all-platforms/kotlin/needless-java-wildcards/test.ql
  java/ql/integration-tests/all-platforms/kotlin/needless-java-wildcards/user.kt
Labels: Java

QL: prevent some cross-talk between modules
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/Type.qll
Labels: QL-for-QL

Kotlin: Run default-parameter-mad-flow on all platforms
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/lib.kt
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/test.expected
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/test.py
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/test.ql
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/user.kt
Labels: Java

Kotlin: Run java-interface-redeclares-tostring on all platforms
  java/ql/integration-tests/all-platforms/kotlin/java-interface-redeclares-tostring/Test.java
  java/ql/integration-tests/all-platforms/kotlin/java-interface-redeclares-tostring/test.expected
  java/ql/integration-tests/all-platforms/kotlin/java-interface-redeclares-tostring/test.py
  java/ql/integration-tests/all-platforms/kotlin/java-interface-redeclares-tostring/test.ql
  java/ql/integration-tests/all-platforms/kotlin/java-interface-redeclares-tostring/user.kt
Labels: Java

Kotlin: Reunite the parts of gradle_kotlinx_serialization
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/ConstantExpAppearsNonConstant.expected
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/ConstantExpAppearsNonConstant.qlref
  java/ql/integration-tests/posix-only/kotlin/gradle_kotlinx_serialization/ConstantExpAppearsNonConstant.expected
Labels: Java

add explicit this
  ql/ql/src/codeql_ql/ast/Ast.qll
Labels: QL-for-QL

Kotlin: compiler_arguments test: Fix running gradle on Windows
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/test.py
Labels: Java

Kotlin: needless-java-wildcards test: Use portable search path separator
  java/ql/integration-tests/all-platforms/kotlin/needless-java-wildcards/test.py
Labels: Java

Kotlin: default-parameter-mad-flow test: Make kotlinc call work on Windows
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/test.py
Labels: Java

Swift: rework workflows
  .github/workflows/swift-autobuilder.yml
  .github/workflows/swift-codegen.yml
  .github/workflows/swift-integration-tests.yml
  .github/workflows/swift-qltest.yml
  .github/workflows/swift.yml
  swift/actions/create-extractor-pack/action.yml
  swift/actions/env-setup/action.yml
  swift/actions/run-integration-tests/action.yml
  swift/actions/share-extractor-pack/action.yml
Labels: Swift

Swift: use macos-12-xl runners
  .github/workflows/swift.yml
Labels: none

Update cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/test.cpp
Labels: C++

Swift: reenable ql tests on macos
  .github/workflows/swift.yml
  swift/actions/run-ql-tests/action.yml
Labels: Swift

Ruby docs: add LocalSourceNode and remove CfgNode from class list
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-ruby.rst
Labels: documentation

Kotlin: compiler_arguments test: Normalise path separators in output
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/compArgs.ql
Labels: Java

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Go:
  - go/**/*
  - change-notes/**/*go.*

Java:
  - any: [ 'java/**/*', '!java/kotlin-extractor/**/*', '!java/kotlin-explorer/**/*', '!java/ql/test/kotlin/**/*' ]
  - change-notes/**/*java.*

JS:
  - any: [ 'javascript/**/*', '!javascript/ql/experimental/adaptivethreatmodeling/**/*' ]
  - change-notes/**/*javascript*

Kotlin:
  - java/kotlin-extractor/**/*
  - java/kotlin-explorer/**/*
  - java/ql/test/kotlin/**/*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

Swift:
  - swift/**/*
  - change-notes/**/*swift*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL":
  - ql/**/*
  - .github/workflows/ql-for-ql*

# Since these are all shared files that need to be synced, just pick _one_ copy of each.
"DataFlow Library":
  - "java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll"
