Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Java, JS, Python, Ruby, documentation, QL-for-QL

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Java:
  - java/**/*
  - change-notes/**/*java.*

JS:
  - javascript/**/*
  - change-notes/**/*javascript*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL": 
  - ql/**/*

Python: Promote `XMLParsing` concept test
  python/ql/test/experimental/library-tests/frameworks/XML/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/XML/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/XML/ExperimentalXmlConceptsTests.expected
  python/ql/test/experimental/library-tests/frameworks/XML/ExperimentalXmlConceptsTests.ql
  python/ql/test/experimental/library-tests/frameworks/XML/lxml_etree.py
  python/ql/test/experimental/library-tests/frameworks/XML/xml_dom.py
  python/ql/test/experimental/library-tests/frameworks/XML/xml_etree.py
  python/ql/test/experimental/library-tests/frameworks/XML/xml_sax.py
  python/ql/test/experimental/library-tests/frameworks/XML/xmltodict.py
  python/ql/test/experimental/meta/ConceptsTest.qll
Labels: Python

Python: Adjust `XmlBomb.qhelp` from JS
  python/ql/src/experimental/Security/NEW/CWE-776/XmlBomb.qhelp
  python/ql/src/experimental/Security/NEW/CWE-776/examples/XmlBomb.js
  python/ql/src/experimental/Security/NEW/CWE-776/examples/XmlBombBad.py
  python/ql/src/experimental/Security/NEW/CWE-776/examples/XmlBombGood.js
  python/ql/src/experimental/Security/NEW/CWE-776/examples/XmlBombGood.py
Labels: Python, documentation

Python: Add PortSwigger link to `Xxe.qhelp`
  python/ql/src/experimental/Security/NEW/CWE-611/Xxe.qhelp
Labels: Python, documentation

Python: Adjust XXE qhelp
  python/ql/src/experimental/Security/NEW/CWE-611/Xxe.qhelp
  python/ql/src/experimental/Security/NEW/CWE-611/examples/Xxe.js
  python/ql/src/experimental/Security/NEW/CWE-611/examples/XxeBad.py
  python/ql/src/experimental/Security/NEW/CWE-611/examples/XxeGood.js
  python/ql/src/experimental/Security/NEW/CWE-611/examples/XxeGood.py
  python/ql/src/experimental/Security/NEW/XmlEntityInjection.qhelp
  python/ql/test/experimental/library-tests/frameworks/XML/poc/PoC.py
Labels: Python, documentation

Python: Delete `XmlEntityInjection.ql`
  python/ql/src/experimental/Security/CWE-611/XXE.xml
  python/ql/src/experimental/Security/CWE-611/XmlEntityInjection.py
  python/ql/src/experimental/Security/CWE-611/XmlEntityInjection.ql
  python/ql/src/experimental/Security/NEW/XmlEntityInjection.qhelp
  python/ql/src/experimental/semmle/python/security/dataflow/XmlEntityInjection.qll
  python/ql/src/experimental/semmle/python/security/dataflow/XmlEntityInjectionCustomizations.qll
  python/ql/test/experimental/query-tests/Security/CWE-611-SimpleXmlRpcServer/SimpleXmlRpcServer.expected
  python/ql/test/experimental/query-tests/Security/CWE-611-SimpleXmlRpcServer/SimpleXmlRpcServer.qlref
  python/ql/test/experimental/query-tests/Security/CWE-611-SimpleXmlRpcServer/xmlrpc_server.py
  python/ql/test/experimental/query-tests/Security/CWE-611/XmlEntityInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-611/XmlEntityInjection.qlref
  python/ql/test/experimental/query-tests/Security/CWE-611/test.py
Labels: Python, documentation

Python: Promote `XMLParsing` concept
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/frameworks/Xml.qll
  python/ql/src/experimental/semmle/python/security/dataflow/XmlBombCustomizations.qll
  python/ql/src/experimental/semmle/python/security/dataflow/XxeCustomizations.qll
  python/ql/test/experimental/library-tests/frameworks/XML/ExperimentalXmlConceptsTests.ql
Labels: Python

Python: => `XMLParsingVulnerabilityKind`
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/src/experimental/Security/CWE-611/SimpleXmlRpcServer.ql
  python/ql/src/experimental/semmle/python/frameworks/Xml.qll
  python/ql/src/experimental/semmle/python/security/dataflow/XmlBombCustomizations.qll
  python/ql/src/experimental/semmle/python/security/dataflow/XxeCustomizations.qll
  python/ql/test/experimental/library-tests/frameworks/XML/ExperimentalXmlConceptsTests.ql
Labels: Python

Python: Rename lxml XPath tests
  python/ql/test/library-tests/frameworks/lxml/xpath.py
Labels: Python

Python: Handle `XMLParser().close()` for XPath
  python/ql/lib/semmle/python/frameworks/Lxml.qll
Labels: Python

CLI docs: make the running text match the example
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
Labels: documentation

Python: Promote lxml parsing modeling
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/src/experimental/semmle/python/frameworks/Xml.qll
  python/ql/test/library-tests/frameworks/lxml/parsing.py
  python/ql/test/library-tests/frameworks/lxml/xpath.py
Labels: Python

Change `NotASinkType` to `NegativeType`
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointTypes.qll
Labels: JS

Update `endpointTypeEncoded` -> `label`
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointMapping.ql
Labels: JS

Change `encoding` -> `label` and `description` -> `labelName`
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointLabelEncoding.ql
Labels: JS

Add test for query mappings
  javascript/ql/experimental/adaptivethreatmodeling/test/query_mappings/ExtractEndpointLabelEncoding.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/query_mappings/ExtractEndpointLabelEncoding.qlref
  javascript/ql/experimental/adaptivethreatmodeling/test/query_mappings/index.js
Labels: JS

Python: Promote `xmltodict` modeling
  docs/codeql/support/reusables/frameworks.rst
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Xmltodict.qll
  python/ql/src/experimental/semmle/python/frameworks/Xml.qll
  python/ql/test/library-tests/frameworks/xmltodict/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/xmltodict/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/xmltodict/test.py
Labels: Python, documentation

review comments
  javascript/ql/lib/semmle/javascript/frameworks/Handlebars.qll
Labels: JS

Python: Promote `xml.etree` modeling
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/src/experimental/semmle/python/frameworks/Xml.qll
  python/ql/test/library-tests/frameworks/stdlib/XPathExecution.py
  python/ql/test/library-tests/frameworks/stdlib/xml_etree.py
Labels: Python

Python: Add some links in QLDocs
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
Labels: Python

Python: Add note about parseid/XMLID
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
Labels: Python

Python: Model `lxml.etree.XMLID`
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/test/library-tests/frameworks/lxml/parsing.py
Labels: Python

C++: Some enhancements to SensitiveExprs.qll as well, inspired by csharp.
  cpp/ql/lib/semmle/code/cpp/security/SensitiveExprs.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test2.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test3.cpp
Labels: C++

C++: Change note.
  cpp/ql/lib/change-notes/2022-03-31-sensitive-exprs.md
Labels: C++, documentation

Python: Model `lxml.iterparse`
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/test/library-tests/frameworks/lxml/parsing.py
Labels: Python

C++: Fix bad magic.
  cpp/ql/lib/semmle/code/cpp/security/Overflow.qll
Labels: C++

C++: Fix join order.
  cpp/ql/lib/semmle/code/cpp/controlflow/StackVariableReachability.qll
Labels: C++

Python: Model file access from XML parsing
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/lxml/parsing.py
  python/ql/test/library-tests/frameworks/lxml/xpath.py
  python/ql/test/library-tests/frameworks/stdlib/XPathExecution.py
  python/ql/test/library-tests/frameworks/stdlib/xml_etree.py
Labels: Python

Python: Add test showing misalignment of xml.etree modeling
  python/ql/test/library-tests/frameworks/stdlib/XPathExecution.py
  python/ql/test/library-tests/frameworks/stdlib/xml_etree.py
Labels: Python

C++: Update to regexpMatch.
  cpp/ql/lib/semmle/code/cpp/security/SensitiveExprs.qll
Labels: C++

Ruby: Fix broken import
  ruby/ql/src/queries/security/cwe-020/IncompleteUrlSubstringSanitizationSpecific.qll
Labels: Ruby

autoformat
  javascript/ql/lib/semmle/javascript/frameworks/Handlebars.qll
Labels: JS

Java: Fix qldoc as followup to https://github.com/github/codeql/pull/8323
  java/ql/lib/semmle/code/java/frameworks/Networking.qll
  java/ql/lib/semmle/code/java/security/Encryption.qll
  java/ql/lib/semmle/code/java/security/XmlParsers.qll
  java/ql/src/experimental/Security/CWE/CWE-611/XXELib.qll
Labels: Java

Sync shared files
  javascript/ql/lib/semmle/javascript/security/performance/ExponentialBackTracking.qll
  javascript/ql/lib/semmle/javascript/security/performance/ReDoSUtil.qll
  python/ql/lib/semmle/python/security/performance/ExponentialBackTracking.qll
  python/ql/lib/semmle/python/security/performance/ReDoSUtil.qll
Labels: JS, Python

ExponentialBackTracking: Speedup `concretise`
  ruby/ql/lib/codeql/ruby/security/performance/ExponentialBackTracking.qll
  ruby/ql/lib/codeql/ruby/security/performance/ReDoSUtil.qll
Labels: Ruby

SuperlinearBackTracking: Speedup `concretise`
  ruby/ql/lib/codeql/ruby/security/performance/SuperlinearBackTracking.qll
Labels: Ruby

Sync shared files
  javascript/ql/lib/semmle/javascript/security/performance/ExponentialBackTracking.qll
  javascript/ql/lib/semmle/javascript/security/performance/SuperlinearBackTracking.qll
  python/ql/lib/semmle/python/security/performance/ExponentialBackTracking.qll
  python/ql/lib/semmle/python/security/performance/SuperlinearBackTracking.qll
Labels: JS, Python

Address review comment
  ruby/ql/lib/codeql/ruby/security/performance/ExponentialBackTracking.qll
Labels: Ruby

Regex: Further tweaks to `concretise` computations
  javascript/ql/lib/semmle/javascript/security/performance/ExponentialBackTracking.qll
  javascript/ql/lib/semmle/javascript/security/performance/SuperlinearBackTracking.qll
  python/ql/lib/semmle/python/security/performance/ExponentialBackTracking.qll
  python/ql/lib/semmle/python/security/performance/SuperlinearBackTracking.qll
  ruby/ql/lib/codeql/ruby/security/performance/ExponentialBackTracking.qll
  ruby/ql/lib/codeql/ruby/security/performance/SuperlinearBackTracking.qll
Labels: JS, Python, Ruby

Accept intrigus suggested doc clarifications
  java/ql/lib/semmle/code/java/Statement.qll
Labels: Java

Represent switch statement and switch expression results alike
  java/ql/lib/semmle/code/java/Statement.qll
Labels: Java
