Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Java, JS, Python, Ruby, documentation, QL-for-QL

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Java:
  - java/**/*
  - change-notes/**/*java.*

JS:
  - javascript/**/*
  - change-notes/**/*javascript*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL": 
  - ql/**/*

Java: Timing attack
  java/ql/src/experimental/Security/CWE/CWE-208/SafeComparison.java
  java/ql/src/experimental/Security/CWE/CWE-208/TimingAttackAgainstSensitiveInfo.qhelp
  java/ql/src/experimental/Security/CWE/CWE-208/TimingAttackAgainstSensitiveInfo.ql
  java/ql/src/experimental/Security/CWE/CWE-208/UnsafeComparison.java
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstSensitiveInfo/Test.java
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstSensitiveInfo/TimingAttackAgainstSensitiveInfo.expected
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstSensitiveInfo/TimingAttackAgainstSensitiveInfo.qlref
Labels: Java, documentation

Java: Timing attack
  java/ql/src/experimental/Security/CWE/CWE-208/SafeComparison.java
  java/ql/src/experimental/Security/CWE/CWE-208/TimingAttackAgainstSensitiveInfo.qhelp
  java/ql/src/experimental/Security/CWE/CWE-208/TimingAttackAgainstSensitiveInfo.ql
  java/ql/src/experimental/Security/CWE/CWE-208/UnsafeComparison.java
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstSensitiveInfo/Test.java
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstSensitiveInfo/TimingAttackAgainstSensitiveInfo.expected
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstSensitiveInfo/TimingAttackAgainstSensitiveInfo.qlref
Labels: Java, documentation

JS: Recognize subclasses of HTMLElement in domValueRef
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/custom-element.js
Labels: JS

JS: Improve flow through Array.prototype.reduce
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/arrays.js
Labels: JS

JS: Change note
  javascript/ql/src/change-notes/2022-04-07-missing-flow-fixes.md
Labels: JS, documentation

Update CODEOWNERS
  CODEOWNERS
Labels: none

JS: Use Class#getAnInstanceReference
  javascript/ql/lib/semmle/javascript/DOM.qll
Labels: JS

Python: Change XmlBomb vulnerability kind
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/Xmltodict.qll
  python/ql/src/experimental/Security/CWE-611/SimpleXmlRpcServer.ql
  python/ql/src/experimental/semmle/python/security/dataflow/XmlBombCustomizations.qll
  python/ql/test/library-tests/frameworks/lxml/parsing.py
  python/ql/test/library-tests/frameworks/stdlib/XPathExecution.py
  python/ql/test/library-tests/frameworks/stdlib/xml_dom.py
  python/ql/test/library-tests/frameworks/stdlib/xml_etree.py
  python/ql/test/library-tests/frameworks/stdlib/xml_sax.py
  python/ql/test/library-tests/frameworks/xmltodict/test.py
Labels: Python

Update CODEOWNERS
  CODEOWNERS
Labels: none

Update CODEOWNERS
  CODEOWNERS
Labels: none

Revert "C++: Add tests for copy constructor calls with implied source"
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
Labels: C++

Revert "Merge pull request #8592 from jketema/implied-cctor-source"
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
Labels: C++

Revert "Revert "Merge pull request #8592 from jketema/implied-cctor-source""
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
Labels: C++

JS: Update test output
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-312/BuildArtifactLeak.expected
Labels: JS

refactor more python type-trackers to API-graphs
  python/ql/lib/semmle/python/frameworks/Cryptography.qll
  python/ql/src/experimental/semmle/python/frameworks/Xml.qll
Labels: Python

refactor uses of API::Node::getAUse() that should have been something else
  python/ql/lib/semmle/python/frameworks/Asyncpg.qll
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/FlaskSqlAlchemy.qll
  python/ql/lib/semmle/python/frameworks/internal/SubclassFinder.qll
  python/ql/lib/semmle/python/regex.qll
  python/ql/src/Security/CWE-215/FlaskDebug.ql
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
  python/ql/test/experimental/dataflow/typetracking/moduleattr.ql
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
Labels: Python

revert API-graph change in Flask.qll
  python/ql/lib/semmle/python/frameworks/Flask.qll
Labels: Python

fix a ql/field-only-used-in-charpred warning
  python/ql/lib/semmle/python/frameworks/Flask.qll
Labels: Python

Dataflow: remove unused column.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
Labels: Java

Dataflow: Sync.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
Labels: C++, C#, Java, Python, Ruby

JS: Handle accessor-calls to static accessors
  javascript/ql/lib/semmle/javascript/dataflow/internal/CallGraphs.qll
Labels: JS

JS: More tests
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/accessors.js
Labels: JS

JS: Add call-graph test for accessor calls
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/accessors.js
Labels: JS

JS: Autoformat
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
Labels: JS

JS: PropWrite is not a SourceNode
  javascript/ql/lib/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
Labels: JS

JS: Show all accessor calls in CG test
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
Labels: JS

JS: Ensure accessors do not appear to be calls
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
Labels: JS

JS: Add ClassNode.getStaticMember
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/ClassNode/tests.expected
  javascript/ql/test/library-tests/ClassNode/tests.ql
  javascript/ql/test/library-tests/ClassNode/tst.js
Labels: JS

JS: API graph support for accessors (and classes)
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/test/ApiGraphs/accessors/VerifyAssertions.expected
  javascript/ql/test/ApiGraphs/accessors/VerifyAssertions.ql
  javascript/ql/test/ApiGraphs/accessors/index.js
Labels: JS

Document EndpointFeatures.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

Add CalleeAccessPathSimpleFromArgumentTraversal
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

support import in getSimpleAccessPath
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

add generic tests for features
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/EmptyFeature.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/EmptyFeature.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/FeatureValue.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/FeatureValue.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonFeaturizedEndpoint.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonFeaturizedEndpoint.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonFunctionalFeature.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonFunctionalFeature.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonTotalFeature.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonTotalFeature.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/TestUtil.qll
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/test.js
Labels: JS

improve feature documentation
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

add ParameterAccessPathSimpleFromArgumentTraversal
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

improve getSimpleAccessPath
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

refactor calleeAccessPath feature to class
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

improve feature tests with more cases
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/FeatureValue.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonTotalFeature.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/test.html
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/test.js
Labels: JS

rename new features
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/debug/CompareFeatures.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/FeatureValue.expected
Labels: JS

improve access path strings
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS
