Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Java, JS, Python, Ruby, documentation, QL-for-QL

Ruby: fix alert
  ruby/ql/lib/codeql/ruby/experimental/Rbi.qll
Labels: Ruby

Swift: use parenthesis instead of curly braces
  swift/extractor/main.cpp
Labels: none

Minor clean-up in AccessPathSyntax.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/AccessPathSyntax.qll
  java/ql/lib/semmle/code/java/dataflow/internal/AccessPathSyntax.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/AccessPathSyntax.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/AccessPathSyntax.qll
Labels: C#, Java, JS, Ruby

Update java/ql/lib/semmle/code/java/frameworks/android/SharedPreferences.qll
  java/ql/lib/semmle/code/java/frameworks/android/SharedPreferences.qll
Labels: Java

Dataflow: Fix join-on-config producing a CP.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
Labels: Java

Dataflow: Sync.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
Labels: C++, C#, Java, Python, Ruby

Swift: split codegen action and fix dependencies
  .github/workflows/swift-codegen.yml
  .github/workflows/swift-qltest.yml
Labels: none

Swift: fix codegen check
  .github/workflows/swift-codegen.yml
Labels: none

fix qhelp: the window, not the origin, is sending the message
  javascript/ql/src/Security/CWE-020/MissingOriginCheck.qhelp
Labels: JS, documentation

add temporary exception for Swift for QLdoc
  .github/workflows/check-qldoc.yml
Labels: none

update test output to include new queries
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/ExtractEndpointDataTraining.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointData.actual
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataEvaluation.actual
Labels: JS

QL: fix query-id, and add description
  ql/ql/src/queries/style/RedundantImport.ql
Labels: QL-for-QL

include startsWith/endsWith checks in js/missing-origin-check
  javascript/ql/src/Security/CWE-020/MissingOriginCheck.ql
  javascript/ql/test/query-tests/Security/CWE-020/MissingOriginCheck/tst.js
Labels: JS

modify acronyms in class names to address code scanning warnings
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/StoredXssATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/XssThroughDomATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointData.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointMapping.ql
Labels: JS

Python: Fix bad join in `getValue`
  python/ql/lib/semmle/python/essa/Essa.qll
Labels: Python

QL: add swift to QL-for-QL
  .github/workflows/ql-for-ql-build.yml
Labels: none

Python: Fix bad join in `firstUse`
  python/ql/lib/semmle/python/essa/SsaCompute.qll
Labels: Python

Python: Use local flow in `Pythagorean.ql`
  python/ql/src/Numerics/Pythagorean.ql
Labels: Python

update actual and expected test output
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointData.actual
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointData.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataEvaluation.actual
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataEvaluation.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataTraining.actual
Labels: JS

Update analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
Labels: documentation

Swift: use File from QL library
  swift/ql/lib/codeql/swift/elements/File.qll
  swift/ql/lib/swift.qll
  swift/ql/lib/swift/File.qll
Labels: none

Swift: generate QL files properly
  swift/ql/lib/codeql/swift/elements/File.qll
  swift/ql/lib/swift.dbscheme
Labels: none

Swift: Update schema.yml and regenerate files.
  swift/codegen/schema.yml
  swift/ql/lib/codeql/swift/generated/Location.qll
  swift/ql/lib/codeql/swift/generated/expr/BindOptionalExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/CaptureListExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/DotSyntaxBaseIgnoredExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/DynamicTypeExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/EnumIsCaseExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/IfExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/LazyInitializerExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/MakeTemporarilyEscapableExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/ObjCSelectorExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OneWayExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OpenExistentialExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OptionalEvaluationExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/RebindSelfInConstructorExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/SuperRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/TupleElementExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/TypeExpr.qll
  swift/ql/lib/swift.dbscheme
Labels: none

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Java:
  - java/**/*
  - change-notes/**/*java.*

JS:
  - javascript/**/*
  - change-notes/**/*javascript*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL": 
  - ql/**/*
