Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Java, JS, Python, Ruby, documentation, QL-for-QL

Python: Move dataflow call-graph to new qll file
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatchPointsTo.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Labels: Python

C++: Query metadata (precision is provisional, might up it to 'high' later).
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
Labels: C++

C++: Copy the qhelp from Javascript.
  cpp/ql/src/Security/CWE/CWE-611/XXE.qhelp
  cpp/ql/src/Security/CWE/CWE-611/XXEBad.cpp
  cpp/ql/src/Security/CWE/CWE-611/XXEGood.cpp
Labels: C++, documentation

update swift package
  misc/bazel/workspace.bzl
  swift/extractor/BUILD.swift-prebuilt.bazel
Labels: none

make self repository name parametric
  misc/bazel/workspace.bzl
Labels: none

Swift: fetch prebuilt swift and link against it
  misc/bazel/workspace.bzl
  swift/extractor/BUILD.bazel
  swift/extractor/BUILD.swift-prebuilt.bazel
  swift/extractor/main.cpp
Labels: none

turn off universal_binaries for now
  swift/extractor/BUILD.bazel
Labels: none

C++: Changes to the qhelp.
  cpp/ql/src/Security/CWE/CWE-611/XXE.qhelp
  cpp/ql/src/Security/CWE/CWE-611/XXEBad.cpp
  cpp/ql/src/Security/CWE/CWE-611/XXEGood.cpp
Labels: C++, documentation

C++: Change note.
  cpp/ql/src/change-notes/2022-04-13-pexternal-entity-expansion.md
Labels: C++, documentation

Docs: Fix typo and formatting in "Non-extending subtypes"
  docs/codeql/ql-language-reference/types.rst
Labels: documentation

Ruby: add rc/incomplete-sanitization query
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/String.qll
  ruby/ql/lib/codeql/ruby/regexp/RegExpTreeView.qll
  ruby/ql/src/queries/security/cwe-116/IncompleteSanitization.qhelp
  ruby/ql/src/queries/security/cwe-116/IncompleteSanitization.ql
  ruby/ql/src/queries/security/cwe-116/examples/IncompleteSanitization.rb
  ruby/ql/src/queries/security/cwe-116/examples/IncompleteSanitizationGood.rb
  ruby/ql/test/query-tests/security/cwe-116/BadTagFilter/BadTagFilter.expected
  ruby/ql/test/query-tests/security/cwe-116/BadTagFilter/BadTagFilter.qlref
  ruby/ql/test/query-tests/security/cwe-116/BadTagFilter/test.rb
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/IncompleteSanitization.expected
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/IncompleteSanitization.qlref
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/tst.rb
Labels: Ruby, documentation

ML: update regression test output following fix to getAnUnknown predicate
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointData.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataEvaluation.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataTraining.expected
Labels: JS

ML: add regression test for effective sink that is also NotASink
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointData.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataEvaluation.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataTraining.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/index.js
Labels: JS

ML: add defensive check to ensure Unknown endpoints cannot also be NotASink
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointData.qll
Labels: JS

Ruby: improve handling of [g]sub!
  ruby/ql/src/queries/security/cwe-116/IncompleteSanitization.ql
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/IncompleteSanitization.expected
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/tst.rb
Labels: Ruby

Ruby: add changenote for rb/incomplete-sanitization
  ruby/ql/src/change-notes/2022-04-13-incomplete-sanitization.md
Labels: Ruby, documentation

C++: Correct and improve some comments and naming.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.cpp
Labels: C++

remove client-side remote-flow from js/resource-exhaustion
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/resource-exhaustion.js
Labels: JS

remove postmessage events as source for js/resource-exhaustion
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/resource-exhaustion.js
Labels: JS

Distinguish between validated and raw COMMENT_ID
  .github/workflows/post-pr-comment.yml
Labels: none

Fail workflow if COMMENT_ID fails validation
  .github/workflows/post-pr-comment.yml
Labels: none

Pass args to jq via --arg
  .github/workflows/post-pr-comment.yml
Labels: none

C++: Use isBarrier rather than isBarrierOut (which is going away).
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
Labels: C++

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
Labels: JS

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Remove additional path-injection sinks
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Remove additional SQL sinks
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Remove additional Xss sinks
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Labels: JS

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
Labels: JS

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Labels: JS

Swift: cleanup and some docstrings for codegen
  .pre-commit-config.yaml
  swift/codegen/BUILD.bazel
  swift/codegen/codegen.py
  swift/codegen/dbschemegen.py
  swift/codegen/lib/dbscheme.py
  swift/codegen/lib/generator.py
  swift/codegen/lib/options.py
  swift/codegen/lib/paths.py
  swift/codegen/lib/render.py
  swift/codegen/lib/schema.py
  swift/codegen/prefix.dbscheme
  swift/ql/lib/swift.dbscheme
Labels: none

Swift: dbscheme generator
  swift/README.md
  swift/codegen/BUILD.bazel
  swift/codegen/codegen.py
  swift/codegen/dbschemegen.py
  swift/codegen/lib/dbscheme.py
  swift/codegen/lib/generator.py
  swift/codegen/lib/paths.py
  swift/codegen/lib/renderer.py
  swift/codegen/lib/schema.py
  swift/codegen/lib/templates/dbscheme.mustache
  swift/codegen/prefix.dbscheme
  swift/codegen/requirements.txt
  swift/codegen/schema.yml
  swift/ql/lib/swift.dbscheme
Labels: documentation

ATM: new feature to list all imports in an endpoint's file
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/FeatureValue.expected
Labels: JS

Swift: uses classes instead of Enum for Properties
  swift/codegen/lib/schema.py
Labels: none

Swift: use more @property in codegen
  swift/codegen/lib/dbscheme.py
Labels: none

refactor code to solve false positive
  cpp/ql/src/experimental/Security/CWE/CWE-020/NoCheckBeforeUnsafePutUser.ql
Labels: C++

Swift: integrated template name in dataclass
  swift/codegen/dbschemegen.py
  swift/codegen/lib/dbscheme.py
  swift/codegen/lib/render.py
Labels: none

C++: Fix the issue.
  cpp/ql/lib/semmle/code/cpp/AutogeneratedFile.qll
Labels: C++

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Java:
  - java/**/*
  - change-notes/**/*java.*

JS:
  - javascript/**/*
  - change-notes/**/*javascript*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL": 
  - ql/**/*
