Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Java, JS, Python, Ruby, documentation, QL-for-QL

C#: Fix query name for source model generation.
  csharp/ql/src/utils/model-generator/CaptureSourceModels.ql
Labels: C#

rename new features
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/debug/CompareFeatures.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/FeatureValue.expected
Labels: JS

fix semantic merge conflict
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

Address incorrectly reference parameter in QLdoc
  ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
Labels: QL-for-QL

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

Remove additional path-injection sinks
  benjamin-button.md
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS, documentation

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
Labels: JS

Remove additional SQL sinks
  benjamin-button.md
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS, documentation

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Add benjamin-button.md
  benjamin-button.md
Labels: documentation

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Labels: JS

Remove additional Xss sinks
  benjamin-button.md
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Labels: JS, documentation

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
Labels: JS

fix bad join in XmlParsers.qll
  javascript/ql/lib/semmle/javascript/frameworks/XmlParsers.qll
Labels: JS

C#: Add test cases.
  csharp/ql/test/utils/model-generator/CaptureSummaryModels.expected
  csharp/ql/test/utils/model-generator/Summaries.cs
Labels: C#

C#: Exclude overrides of Equals and GetHashCode in model generation.
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
Labels: C#

C#: Exclude IEquatable Equals implementations.
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  csharp/ql/test/utils/model-generator/NoSummaries.cs
Labels: C#

Add change note
  java/ql/src/change-notes/2022-04-01-switch-rule-expressions.md
Labels: Java, documentation

Improve models of spring-beans
  java/ql/lib/semmle/code/java/frameworks/spring/SpringBeans.qll
  java/ql/test/library-tests/frameworks/spring/beans/Test.java
Labels: Java

Fix wrong models of spring-web
  java/ql/lib/semmle/code/java/frameworks/spring/SpringWeb.qll
Labels: Java

Add change note
  java/ql/lib/change-notes/2022-04-01-spring-models-improvements.md
Labels: Java, documentation

rename `isBeforeCode` to `isCommentAfterCode`
  python/ql/lib/semmle/python/filters/GeneratedCode.qll
Labels: Python

update expected output for Locations.ql
  python/ql/test/2/library-tests/locations/general/Locations.expected
  python/ql/test/3/library-tests/locations/general/Locations.expected
Labels: Python

C#: Refactor isIrrelevantOverrideOrImplementation to make it easier to extend it with more methods later.
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
Labels: C#

Update python/ql/lib/change-notes/2022-03-30-flask-recognize-body-param.md
  python/ql/lib/change-notes/2022-03-30-flask-recognize-body-param.md
Labels: Python, documentation

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

Remove additional SQL sinks
  benjamin-button.md
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS, documentation

Remove additional path-injection sinks
  benjamin-button.md
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS, documentation

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Add benjamin-button.md
  benjamin-button.md
Labels: documentation

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
Labels: JS

Remove additional Xss sinks
  benjamin-button.md
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Labels: JS, documentation

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
Labels: JS

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Labels: JS

Bazel: add to CODEOWNERS and move around doc note
  CODEOWNERS
  CONTRIBUTING.md
  WORKSPACE.bazel
  bazel/README.md
Labels: documentation

.gitignore bazel symlinks
  .gitignore
Labels: none

Bazel: add skeleton bazel workspace
  WORKSPACE.bazel
  bazel/README.md
  cpp/BUILD.bazel
  cpp/downgrades/BUILD.bazel
  cpp/ql/lib/BUILD.bazel
Labels: C++, documentation

Apply suggestions from code review
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonFunctionalFeature.ql
Labels: JS

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Java:
  - java/**/*
  - change-notes/**/*java.*

JS:
  - javascript/**/*
  - change-notes/**/*javascript*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL": 
  - ql/**/*
