Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Java, JS, Python, Ruby, documentation, QL-for-QL

reorganize CWE-770 tests
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimit/MissingRateLimiting.expected
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimit/MissingRateLimiting.js
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimit/MissingRateLimiting.qlref
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimit/MissingRateLimitingGood.js
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimit/rateLimit.ts
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/ResourceExhaustion.expected
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/ResourceExhaustion.qlref
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/documentaion-examples/ResourceExhaustion_timeout.js
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/documentaion-examples/ResourceExhaustion_timeout_fixed.js
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/resource-exhaustion.js
Labels: JS

reintroduce the number sinks
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionQuery.qll
  javascript/ql/src/Security/CWE-770/ResourceExhaustion.ql
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/resource-exhaustion.js
Labels: JS

remove the type-overloaded new Buffer() as a sink
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/resource-exhaustion.js
Labels: JS

reintroduce the reverted qhelp
  javascript/ql/src/Security/CWE-770/ResourceExhaustion.qhelp
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_array.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_array_fixed.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_buffer.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_buffer_fixed.js
Labels: JS, documentation

add security severity
  javascript/ql/src/Security/CWE-770/ResourceExhaustion.ql
Labels: JS

Swift: do not fail pack creation if dir does not exist
  swift/tools/create_extractor_pack.py
Labels: none

C++: don't dump global vars without initializers
  cpp/ql/test/library-tests/ir/ir/PrintConfig.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.ql
Labels: C++

Bazel: rename workspace to codeql
  WORKSPACE.bazel
  misc/bazel/workspace.bzl
  misc/bazel/workspace_deps.bzl
Labels: none

Include changes from review
  python/ql/src/experimental/Security/CWE-285/PamAuthorization.ql
  python/ql/src/experimental/Security/CWE-285/PamAuthorizationBad.py
  python/ql/test/experimental/query-tests/Security/CWE-285/PamAuthorization.expected
  python/ql/test/experimental/query-tests/Security/CWE-285/bad.py
  python/ql/test/experimental/query-tests/Security/CWE-285/good.py
  python/ql/test/experimental/query-tests/Security/CWE-285/pam_test.py
Labels: Python

C++: Better join order for reachesWithoutAssignment.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowVar.qll
Labels: C++

Swift: run QL tests on Linux
  .github/workflows/swift-qltest.yml
Labels: none

QL: Add InlineExpectationsTest
  config/identical-files.json
  ql/ql/test/TestUtilities/InlineExpectationsTest.qll
  ql/ql/test/TestUtilities/InlineExpectationsTestPrivate.qll
Labels: QL-for-QL

QL: Add FrameworkCoverage query
  ql/ql/src/queries/reports/FrameworkCoverage.ql
Labels: QL-for-QL

QL: Autoformat
  ql/ql/src/codeql_ql/dataflow/DataFlow.qll
Labels: QL-for-QL

QL: Add some missing qldoc
  ql/ql/src/codeql_ql/dataflow/DataFlow.qll
  ql/ql/src/codeql_ql/dataflow/internal/VarScoping.qll
Labels: QL-for-QL

QL: Add test for getAStringValue
  ql/ql/test/dataflow/getAStringValue/Foo.qll
  ql/ql/test/dataflow/getAStringValue/getAStringValue.expected
  ql/ql/test/dataflow/getAStringValue/getAStringValue.ql
Labels: QL-for-QL

handlebars taint step: conservatively assume unknown templates have no flow to helpers
  javascript/ql/lib/semmle/javascript/frameworks/Handlebars.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/handlebars.js
Labels: JS

add sanitizer step for .length in js/resource-exhaustion
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionQuery.qll
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/resource-exhaustion.js
Labels: JS

update expected output
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/ResourceExhaustion.expected
Labels: JS

remove the length sanitizer from loop-bound-injection - it did nothing
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionQuery.qll
Labels: JS

add test of a length check
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/resource-exhaustion.js
Labels: JS

remove more code that did nothing
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionQuery.qll
Labels: JS

move the sanitizer-guard to the Query.qll file
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionQuery.qll
Labels: JS

minor fixes
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_array.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_array_fixed.js
Labels: JS

Swift: run QL tests on macOS
  .github/actions/fetch-codeql/action.yml
  .github/workflows/swift-qltest.yml
Labels: none

fix shell
  .github/actions/fetch-codeql/action.yml
  .github/workflows/swift-qltest.yml
Labels: none

share variable differently
  .github/actions/fetch-codeql/action.yml
Labels: none

QL: Update printAst output
  ql/ql/test/printAst/printAst.expected
Labels: QL-for-QL

Python: Fix warnings
  python/ql/lib/semmle/python/frameworks/Django.qll
Labels: Python

Swift: run QL tests on macOS
  .github/actions/fetch-codeql/action.yml
  .github/workflows/swift-qltest.yml
Labels: none

Python: Handle django v4 as well in tests
  python/ql/test/library-tests/frameworks/django-v2-v3/testapp/urls.py
Labels: Python

Python: Add test for Django FileField upload_to
  python/ql/test/library-tests/frameworks/django-v2-v3/.gitignore
  python/ql/test/library-tests/frameworks/django-v2-v3/test_file_field
  python/ql/test/library-tests/frameworks/django-v2-v3/testapp/models.py
  python/ql/test/library-tests/frameworks/django-v2-v3/testapp/urls.py
  python/ql/test/library-tests/frameworks/django-v2-v3/testapp/views.py
  python/ql/test/library-tests/frameworks/django-v2-v3/testproj/settings.py
Labels: Python

Python: Handle `find_library` assignment to temp variable
  python/ql/src/experimental/Security/CWE-285/PamAuthorization.ql
  python/ql/test/experimental/query-tests/Security/CWE-285/PamAuthorization.expected
  python/ql/test/experimental/query-tests/Security/CWE-285/pam_test.py
Labels: Python

Python: Delete old dataflow readme
  python/ql/lib/semmle/python/dataflow/new/internal/readme.md
Labels: Python, documentation

ML: fix ATM expected tests outputs
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/EndpointFeatures.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/ExtractEndpointDataTraining.expected
Labels: JS

C++: Remove unfinished parts for now.
  cpp/ql/src/Security/CWE/CWE-611/XercesXXE.ql
Labels: C++

C++: Rename the query file.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XercesXXE.qlref
Labels: C++

Python: Move `MatchUnpacking` to own file
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/MatchUnpacking.qll
Labels: Python

Python: Move `IterableUnpacking` to own file
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/IterableUnpacking.qll
Labels: Python

Python: Autoformat
  python/ql/lib/semmle/python/dataflow/new/internal/IterableUnpacking.qll
  python/ql/lib/semmle/python/dataflow/new/internal/MatchUnpacking.qll
Labels: Python

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Java:
  - java/**/*
  - change-notes/**/*java.*

JS:
  - javascript/**/*
  - change-notes/**/*javascript*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL": 
  - ql/**/*
