Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Java, JS, Python, Ruby, documentation, QL-for-QL

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Java:
  - java/**/*
  - change-notes/**/*java.*

JS:
  - javascript/**/*
  - change-notes/**/*javascript*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL": 
  - ql/**/*

add CompareFeatures.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/debug/CompareFeatures.ql
Labels: JS

refactor EndpointFeatures.ql to use classes
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

refactor getACallBasedTokenFeature to class-use
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

avoid using new feautes by default
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

support await in getSimpleAccessPath
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

add more features
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/FeatureValue.expected
Labels: JS

fix semantic merge conflict
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

address review comments
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/EmptyFeature.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/EmptyFeature.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/FeatureValue.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonTotalFeature.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonTotalFeature.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/TestUtil.qll
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/test.js
Labels: JS

Apply suggestions from code review
  javascript/ql/experimental/adaptivethreatmodeling/test/generic_feature_testing/NonFunctionalFeature.ql
Labels: JS

Python: Rename sink definitions for XXE/XML bomb
  python/ql/src/experimental/semmle/python/security/dataflow/XmlBombCustomizations.qll
  python/ql/src/experimental/semmle/python/security/dataflow/XxeCustomizations.qll
Labels: Python

Python: Move last XXE/XML bomb out of experimental
  python/ql/lib/semmle/python/security/dataflow/XmlBombCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/XmlBombQuery.qll
  python/ql/lib/semmle/python/security/dataflow/XxeCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/XxeQuery.qll
  python/ql/src/Security/CWE-611/Xxe.ql
  python/ql/src/Security/CWE-776/XmlBomb.ql
Labels: Python

Python: Merge pymongo NoSQL tests
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-943/pymongo_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/pymongo_test.py
Labels: Python

Python: Model `pymongo.mongo_client.MongoClient`
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
Labels: Python

Python: Add more `pymongo` NoSQL tests
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-943/pymongo_test.py
Labels: Python

Python: `mongoClientInstance` refactoring
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
Labels: Python

Python: `mongoDBInstance` refactor
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
Labels: Python

Python: Handle `get_database` on `MongoClient` instance
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
Labels: Python

Python: Handle `get_collection` on pymongo DB
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-943/pymongo_test.py
Labels: Python

Python: Fix `SimpleXmlRpcServer.expected`
  python/ql/test/experimental/query-tests/Security/CWE-611-SimpleXmlRpcServer/SimpleXmlRpcServer.expected
Labels: Python

Add tests for SpringController
  java/ql/test/library-tests/frameworks/spring/controller/Test.java
  java/ql/test/library-tests/frameworks/spring/controller/options
  java/ql/test/library-tests/frameworks/spring/controller/test.expected
  java/ql/test/library-tests/frameworks/spring/controller/test.ql
  java/ql/test/stubs/springframework-5.3.8/org/springframework/context/support/DefaultMessageSourceResolvable.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/data/domain/Pageable.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/data/domain/Sort.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/data/util/MethodInvocationRecorder.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/data/util/Streamable.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/http/HttpHeaders.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/ui/Model.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/MimeType.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/validation/Errors.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/validation/FieldError.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/validation/ObjectError.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/annotation/CookieValue.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/annotation/Mapping.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/annotation/MatrixVariable.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/annotation/PathVariable.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/annotation/RequestAttribute.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/annotation/RequestHeader.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/annotation/RequestMapping.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/annotation/RequestMethod.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/annotation/RequestParam.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/annotation/RequestPart.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/annotation/SessionAttribute.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/bind/support/SessionStatus.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/context/request/NativeWebRequest.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/context/request/RequestAttributes.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/context/request/WebRequest.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/reactive/function/client/MimeType.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/servlet/mvc/support/RedirectAttributes.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/util/UriComponents.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/util/UriComponentsBuilder.java
Labels: Java

C++: Rename test, add .expected.
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XercesXXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.cpp
Labels: C++

C++: Clean up the tests, make them a bit more realistic, and add many more test cases.
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.h
Labels: C++

C++: Get the simplest part of the query working, disable the rest for now, fix metadata, formatting etc.
  cpp/ql/src/Security/CWE/CWE-611/XercesXXE.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XercesXXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.cpp
Labels: C++

Pretty-print empty interface without double space
  ql/lib/semmle/go/Types.qll
  ql/test/library-tests/semmle/go/PrintAst/PrintAst.expected
  ql/test/library-tests/semmle/go/PrintAst/PrintAstExcludeComments.expected
Labels: QL-for-QL

Doc: Add any() and none() to the language reference.
  docs/codeql/ql-language-reference/formulas.rst
Labels: documentation

Change `encoding` -> `label` and `description` -> `labelName`
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointLabelEncoding.ql
Labels: JS

Update `endpointTypeEncoded` -> `label`
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointMapping.ql
Labels: JS

Add test for query mappings
  javascript/ql/experimental/adaptivethreatmodeling/test/query_mappings/ExtractEndpointLabelEncoding.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/query_mappings/ExtractEndpointLabelEncoding.qlref
  javascript/ql/experimental/adaptivethreatmodeling/test/query_mappings/index.js
Labels: JS

Change `NotASinkType` to `NegativeType`
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointTypes.qll
Labels: JS

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Remove additional Xss sinks
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Labels: JS

Remove additional path-injection sinks
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Labels: JS

Remove additional SQL sinks
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
Labels: JS

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
Labels: JS

C++: Use `isSanitizerOut(DataFlow::Node node)` in `cpp/command-line-injection`
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
Labels: C++

ML: add defensive check to ensure Unknown endpoints cannot also be NotASink
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointData.qll
Labels: JS
