Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Go, Java, JS, Kotlin, Python, Ruby, Swift, documentation, QL-for-QL, DataFlow Library

Python: Apply suggestions from code review
  python/ql/test/library-tests/essa/ssa-compute/UseUse.ql
Labels: Python

Rework types exported through JSContext
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/WebView.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/webview.swift
Labels: Swift

Swift: Simplify InsecureTLS.ql.
  swift/ql/src/queries/Security/CWE-757/InsecureTLS.ql
Labels: Swift

qlpacks: libraryPathDependencies -> dependencies
  csharp/ql/integration-tests/qlpack.yml
  go/ql/config/legacy-support/qlpack.yml
  java/ql/consistency-queries/qlpack.yml
  java/ql/integration-tests/linux-only/kotlin/qlpack.yml
  java/ql/integration-tests/posix-only/kotlin/qlpack.yml
  misc/legacy-support/cpp/qlpack.yml
  misc/legacy-support/csharp/qlpack.yml
  misc/legacy-support/java/qlpack.yml
  misc/legacy-support/javascript/qlpack.yml
  misc/legacy-support/python/qlpack.yml
  python/tools/recorded-call-graph-metrics/ql/qlpack.yml
  ql/ql/test/callgraph/packs/other/qlpack.yml
  swift/integration-tests/qlpack.yml
Labels: C#, Go, Java, Python, Swift, QL-for-QL

Swift integration-test runner: use --additional-packs
  swift/integration-tests/runner.py
Labels: Swift

Avoid Kotlin 1.5+ function firstNotNullOfOrNull
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

Kotlin: fix wildcard suppression where the annotation applies to a parent type/argument.
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/integration-tests/all-platforms/kotlin/kotlin_java_lowering_wildcards/JavaUser.java
  java/ql/integration-tests/all-platforms/kotlin/kotlin_java_lowering_wildcards/kotlindefns.kt
  java/ql/integration-tests/all-platforms/kotlin/kotlin_java_lowering_wildcards/test.expected
Labels: Java, Kotlin

Use `?.not()` to negate a nullable boolean
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

Legacy support qlpacks: continue using libraryPathDependencies; add a comment noting this is obsolete.
  go/ql/config/legacy-support/qlpack.yml
  misc/legacy-support/cpp/qlpack.yml
  misc/legacy-support/csharp/qlpack.yml
  misc/legacy-support/java/qlpack.yml
  misc/legacy-support/javascript/qlpack.yml
  misc/legacy-support/python/qlpack.yml
Labels: Go

Swift: Correct a comment.
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
Labels: Swift

Add missing SummaryPostUpdateNode
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/webview.swift
Labels: Swift

Swift: Simplify out some variables.
  swift/ql/src/queries/Security/CWE-089/SqlInjection.ql
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/src/queries/Security/CWE-311/CleartextTransmission.ql
  swift/ql/src/queries/Security/CWE-312/CleartextStoragePreferences.ql
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.ql
  swift/ql/src/queries/Security/ECB-Encryption/ECBEncryption.ql
Labels: Swift

Swift: Add and use ApplyExpr.getArgumentByParamName.
  swift/ql/lib/codeql/swift/elements/expr/ApplyExpr.qll
  swift/ql/src/queries/Security/CWE-079/UnsafeWebViewFetch.ql
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Labels: Swift

Kotlin: Move the logs test to all-platforms
  java/ql/integration-tests/all-platforms/kotlin/logs/build.py
  java/ql/integration-tests/all-platforms/kotlin/logs/index_logs.py
  java/ql/integration-tests/all-platforms/kotlin/logs/logs.expected
  java/ql/integration-tests/all-platforms/kotlin/logs/logs.ql
  java/ql/integration-tests/all-platforms/kotlin/logs/test.kt
  java/ql/integration-tests/all-platforms/kotlin/logs/test.py
Labels: Java

Check whether there are internal files in the App that can be read and written by any other App.
  java/ql/src/experimental/Security/CWE/CWE-1025/FileReadWrite.java
  java/ql/src/experimental/Security/CWE/CWE-1025/FileReadWrite.qhelp
  java/ql/src/experimental/Security/CWE/CWE-1025/FileReadWrite.ql
Labels: Java, documentation

Kotlin: fix method types when an inherited method implements a collection type
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/inherited-collection-implementation/Test.java
  java/ql/test/kotlin/library-tests/inherited-collection-implementation/test.expected
  java/ql/test/kotlin/library-tests/inherited-collection-implementation/test.ql
  java/ql/test/kotlin/library-tests/inherited-collection-implementation/user.kt
Labels: Kotlin

Go: exclude protobuf read steps from cleartext-logging query
  go/ql/lib/semmle/go/frameworks/Protobuf.qll
  go/ql/lib/semmle/go/security/CleartextLogging.qll
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-312/go.mod
  go/ql/test/query-tests/Security/CWE-312/protobuf.go
  go/ql/test/query-tests/Security/CWE-312/protos/query.proto
  go/ql/test/query-tests/Security/CWE-312/protos/query/query.pb.go
  go/ql/test/query-tests/Security/CWE-312/vendor/github.com/golang/protobuf/LICENSE
  go/ql/test/query-tests/Security/CWE-312/vendor/github.com/golang/protobuf/proto/stub.go
  go/ql/test/query-tests/Security/CWE-312/vendor/google.golang.org/protobuf/LICENSE
  go/ql/test/query-tests/Security/CWE-312/vendor/google.golang.org/protobuf/internal/impl/stub.go
  go/ql/test/query-tests/Security/CWE-312/vendor/google.golang.org/protobuf/proto/stub.go
  go/ql/test/query-tests/Security/CWE-312/vendor/google.golang.org/protobuf/reflect/protoreflect/stub.go
  go/ql/test/query-tests/Security/CWE-312/vendor/google.golang.org/protobuf/runtime/protoiface/stub.go
  go/ql/test/query-tests/Security/CWE-312/vendor/google.golang.org/protobuf/runtime/protoimpl/stub.go
  go/ql/test/query-tests/Security/CWE-312/vendor/modules.txt
Labels: Go

gofmt
  go/ql/test/query-tests/Security/CWE-312/protobuf.go
Labels: Go

Add change note
  go/ql/src/change-notes/2022-10-28-protobuf-cleartext-logging.md
Labels: Go, documentation

Remove unnecessary import
  go/ql/lib/semmle/go/security/CleartextLogging.qll
Labels: Go

Correct test expectations
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
Labels: Go

Avoid split overrides
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

C++: Simplify 'Buffer.qll' by avoiding 'asIndirectExpr'. This removes the flow from 'x' to 'x++', which makes the whole library a lot simpler.
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowStatic.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/tests.cpp
Labels: C++

add second-order-command-injection query
  javascript/ql/lib/semmle/javascript/security/dataflow/SecondOrderCommandInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/SecondOrderCommandInjectionQuery.qll
  javascript/ql/src/Security/CWE-078/SecondOrderCommandInjection.qhelp
  javascript/ql/src/Security/CWE-078/SecondOrderCommandInjection.ql
  javascript/ql/src/Security/CWE-078/examples/second-order-command-injection-fixed.js
  javascript/ql/src/Security/CWE-078/examples/second-order-command-injection.js
  javascript/ql/src/change-notes/2022-09-05-second-order-command-injection.md
  javascript/ql/test/query-tests/Security/CWE-078/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-078/SecondOrderCommandInjection/SecondOrderCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/SecondOrderCommandInjection/SecondOrderCommandInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-078/SecondOrderCommandInjection/second-order.js
Labels: JS, documentation

Ruby: Add change note
  ruby/ql/lib/change-notes/2022-10-28-try-code-execution.md
Labels: Ruby, documentation

Ruby: Recognise try/try! as code executions
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupport.expected
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupport.ql
  ruby/ql/test/library-tests/frameworks/active_support/active_support.rb
Labels: Ruby

Apply code review findings
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

Swift: fix `RUN_UNDER_FILTER` check
  swift/extractor/main.cpp
Labels: Swift

Swift: refactor `RUN_UNDER` code
  swift/extractor/main.cpp
Labels: Swift

Swift: add debug path mapping to `README.md`
  swift/README.md
Labels: Swift, documentation

Swift: revert wrong paragraph edit in `README.md`
  swift/README.md
Labels: Swift, documentation

Swift: remove unneeded trailing `/` in `README.md`
  swift/README.md
Labels: Swift, documentation

python: add inline query test
  python/ql/test/experimental/dataflow/TestUtil/DataflowConfigTest.qll
  python/ql/test/query-tests/Security/CWE-022-TarSlip/DataFlowQueryTest.expected
  python/ql/test/query-tests/Security/CWE-022-TarSlip/DataFlowQueryTest.ql
  python/ql/test/query-tests/Security/CWE-022-TarSlip/tarslip.py
Labels: Python

Swift: Redesign as a FreeFunctionDecl class + add some qldoc.
  swift/ql/lib/codeql/swift/elements/decl/AbstractFunctionDecl.qll
  swift/ql/lib/codeql/swift/elements/decl/MethodDecl.qll
  swift/ql/src/queries/Security/CWE-089/SqlInjection.ql
Labels: Swift

Swift: `AccessorDecl`s are now `.getAMember()`s.
  swift/ql/lib/codeql/swift/elements/decl/IterableDeclContext.qll
  swift/ql/test/library-tests/elements/decl/iterabledeclcontext/iterabledeclcontext.expected
  swift/ql/test/library-tests/elements/decl/iterabledeclcontext/iterabledeclcontext.ql
  swift/ql/test/library-tests/elements/decl/iterabledeclcontext/iterabledeclcontext.swift
Labels: Swift

Swift: simplify `MethodDecl`
  swift/ql/lib/codeql/swift/elements/decl/MethodDecl.qll
  swift/ql/test/library-tests/elements/decl/iterabledeclcontext/iterabledeclcontext.expected
  swift/ql/test/library-tests/elements/decl/iterabledeclcontext/iterabledeclcontext.ql
Labels: Swift

Fix issue in JsExportedSource
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/WebView.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/webview.swift
Labels: Swift

ruby docs: remove distracting sentence
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-ruby.rst
Labels: documentation

Kotlin: Integration tests: Allow \ as a path separator in logs test
  java/ql/integration-tests/all-platforms/kotlin/logs/index_logs.py
Labels: Java

update documentation following docs review
  swift/ql/src/queries/Security/CWE-916/InsufficientHashIterations.qhelp
  swift/ql/src/queries/Security/CWE-916/InsufficientHashIterations.swift
Labels: Swift, documentation

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Go:
  - go/**/*
  - change-notes/**/*go.*

Java:
  - any: [ 'java/**/*', '!java/kotlin-extractor/**/*', '!java/kotlin-explorer/**/*', '!java/ql/test/kotlin/**/*' ]
  - change-notes/**/*java.*

JS:
  - any: [ 'javascript/**/*', '!javascript/ql/experimental/adaptivethreatmodeling/**/*' ]
  - change-notes/**/*javascript*

Kotlin:
  - java/kotlin-extractor/**/*
  - java/kotlin-explorer/**/*
  - java/ql/test/kotlin/**/*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

Swift:
  - swift/**/*
  - change-notes/**/*swift*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL":
  - ql/**/*
  - .github/workflows/ql-for-ql*

# Since these are all shared files that need to be synced, just pick _one_ copy of each.
"DataFlow Library":
  - "java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll"
  - "java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll"
