Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Go, Java, JS, Kotlin, Python, Ruby, Swift, documentation, QL-for-QL

C++: Precise tracking of union.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

add mybatis sql inject detection
  java/ql/src/change-notes/2022-08-20-mybatis-injection.md
  java/ql/src/experimental/Security/CWE/CWE-089/MybatisXmlSqlTaintedInParam.ql
  java/ql/src/experimental/Security/CWE/CWE-089/MybatisXmlSqlTaintedInParamExample.java
  java/ql/src/experimental/semmle/code/java/MybatisMapper.qll
  java/ql/src/experimental/semmle/code/java/MybatisSqlTaintedInParamLib.qll
Labels: Java, documentation

C++: Fix flow into phi nodes. Accidentally broke this when I removed write side effects as SSA writes.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
Labels: C++

WIP: Fix flow sources.
  cpp/ql/lib/semmle/code/cpp/security/FlowSources.qll
Labels: C++

C++: Fix ExecTainted.
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
Labels: C++

C++: Remove cartesian product in 'ExecTainted'.
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
Labels: C++

don't lowercase the endpointExample, and correctly handle root states
  javascript/ql/src/Security/CWE-178/CaseSensitiveMiddlewarePath.ql
  javascript/ql/test/query-tests/Security/CWE-178/CaseSensitiveMiddlewarePath.expected
  javascript/ql/test/query-tests/Security/CWE-178/tst.js
Labels: JS

restrict suffix-construction to relevant regexps
  java/ql/lib/semmle/code/java/security/regexp/NfaUtils.qll
  javascript/ql/lib/semmle/javascript/security/regexp/NfaUtils.qll
  python/ql/lib/semmle/python/security/regexp/NfaUtils.qll
  ruby/ql/lib/codeql/ruby/security/regexp/NfaUtils.qll
Labels: Java, JS, Python, Ruby

change `ArrayCreationStep` to a `PreCallGraphStep` and unrestrict the storeStep
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/test/library-tests/InterProceduralFlow/tests.expected
  javascript/ql/test/library-tests/frameworks/Collections/test.expected
  javascript/ql/test/library-tests/frameworks/Collections/tst.js
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/UnpromotedRouteHandlerCandidate.expected
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/tests.expected
Labels: JS

recognize an access to the `arguments` object as library-input
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutingAssignmentCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeCodeConstructionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeHtmlConstructionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/regexp/PolynomialReDoSCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/lib/lib.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
Labels: JS

add tests
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/arrays-init.js
  javascript/ql/test/library-tests/TaintTracking/call-apply.js
Labels: JS

implement flow for `.apply()` by adding a `ReflectiveParametersNode` data-flow node
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/Sources.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/DataFlowNode.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/DataFlow/tests.expected
Labels: JS

simplify getALibraryInputParameter by adding more general dataflow for the arguments object
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/lib/lib.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
Labels: JS

improve performance of global dataflow by inlining a step predicate
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

add change-note
  cpp/ql/lib/change-notes/2022-08-22-xml-rename.md
  csharp/ql/lib/change-notes/2022-08-22-xml-rename.md
  java/ql/lib/change-notes/2022-08-22-xml-rename.md
  javascript/ql/lib/change-notes/2022-08-22-xml-rename.md
  python/ql/lib/change-notes/2022-08-22-xml-rename.md
Labels: C++, C#, Java, JS, Python, documentation

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++

C++: Respond to review comments.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Labels: C++

C++: Add tests with FNs.
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++

Fix Fragment tests after androidx stubs update
  java/ql/test/library-tests/frameworks/android/sources/TestActivityAndFragment.java
  java/ql/test/query-tests/security/CWE-470/MainActivity.java
  java/ql/test/stubs/google-android-9.0.0/androidx/fragment/app/FragmentActivity.java
Labels: Java

C++: Add change note
  cpp/ql/lib/change-notes/2022-08-22-link-targets-for-variables.md
Labels: C++, documentation

C++: Add a sanitizer to 'cpp/cleartext-storage-buffer' to improve the performance of the query.
  cpp/ql/src/Security/CWE/CWE-311/CleartextBufferWrite.ql
Labels: C++

Kotlin: Extract type alias doc comments
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/comments/comments.expected
  java/ql/test/kotlin/library-tests/comments/comments.kt
Labels: Kotlin

Add more sanitizers
  java/ql/lib/semmle/code/java/security/StaticInitializationVectorQuery.qll
Labels: Java

Revert "delete some dead code in the kotlin extractor"
  java/kotlin-extractor/src/main/kotlin/utils/List.kt
Labels: Kotlin

C++: Add change note.
  cpp/ql/src/change-notes/2022-08-22-cleartext-buffer-write-sanitizer.md
Labels: C++, documentation

Rename TimingAttackAgainstSensitiveInfo.ql
  java/ql/src/experimental/Security/CWE/CWE-208/TimingAttackAgainstSensitiveInfo/PossibleTimingAttackAgainstSensitiveInfo.ql
Labels: Java

update some comments from XML to Xml
  cpp/ql/lib/semmle/code/cpp/XML.qll
  csharp/ql/lib/semmle/code/csharp/XML.qll
  java/ql/lib/semmle/code/xml/XML.qll
  javascript/ql/lib/semmle/javascript/XML.qll
  python/ql/lib/semmle/python/xml/XML.qll
Labels: C++, C#, Java, JS, Python

rename the XMLDTD class to XmlDTD
  cpp/ql/lib/semmle/code/cpp/XML.qll
  csharp/ql/lib/semmle/code/csharp/XML.qll
  java/ql/lib/semmle/code/xml/XML.qll
  javascript/ql/lib/semmle/javascript/XML.qll
  python/ql/lib/semmle/python/xml/XML.qll
Labels: C++, C#, Java, JS, Python

add change-note
  cpp/ql/lib/change-notes/2022-08-22-xml-rename.md
  csharp/ql/lib/change-notes/2022-08-22-xml-rename.md
  java/ql/lib/change-notes/2022-08-22-xml-rename.md
  javascript/ql/lib/change-notes/2022-08-22-xml-rename.md
  python/ql/lib/change-notes/2022-08-22-xml-rename.md
Labels: C++, C#, Java, JS, Python, documentation

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Labels: JS

Remove additional Xss sinks
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Labels: JS

Remove additional SQL sinks
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
Labels: JS

Remove additional path-injection sinks
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Labels: JS

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Labels: JS

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS

Kotlin: Fix some more not-null-exprs in the extractor
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

Add new Path steps and tests
  java/ql/lib/change-notes/2022-08-22-path-summaries.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/test/library-tests/paths/Test.java
  java/ql/test/library-tests/paths/test.expected
  java/ql/test/library-tests/paths/test.ql
Labels: Java, documentation

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Go:
  - go/**/*
  - change-notes/**/*go.*

Java:
  - any: [ 'java/**/*', '!java/kotlin-extractor/**/*', '!java/kotlin-explorer/**/*', '!java/ql/test/kotlin/**/*' ]
  - change-notes/**/*java.*

JS:
  - any: [ 'javascript/**/*', '!javascript/ql/experimental/adaptivethreatmodeling/**/*' ]
  - change-notes/**/*javascript*

Kotlin:
  - java/kotlin-extractor/**/*
  - java/kotlin-explorer/**/*
  - java/ql/test/kotlin/**/*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

Swift:
  - swift/**/*
  - change-notes/**/*swift*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL":
  - ql/**/*
