Repository github/codeql, changes with the labels that .github/labeler.yml gives for each.
All labels: C++, C#, Go, Java, JS, Kotlin, Python, Ruby, Swift, documentation, QL-for-QL, DataFlow Library, ATM

Address review comments
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: DataFlow Library

C#: Extract compilation DB entity in standalone mode
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CachedSymbol.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/PreprocessorDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NamedType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/StandaloneAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TracingAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/TypeContainerVisitor.cs
  csharp/extractor/Semmle.Extraction/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/StandaloneExtractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/TracingExtractor.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
Labels: C#

Swift: Add more tests for Arrays.
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
Labels: Swift

Swift: Add more tests for Numerics.
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
Labels: Swift

Swift: Extend Numeric models.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Numeric.qll
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
Labels: Swift

Swift: Model RangeReplaceableCollection initializers.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Array.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Collection.qll
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
Labels: Swift

Swift: Change note.
  swift/ql/lib/change-notes/2023-09-29-numeric-models.md
Labels: Swift, documentation

Swift: Remove duplicate row.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Numeric.qll
Labels: Swift

Swift: Simplify FloatPoint model now that it works to do so.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Numeric.qll
Labels: Swift

Adjust expected test output
  csharp/ql/test/library-tests/standalone/errorrecovery/DiagnosticsAndErrors.expected
Labels: C#

Add Django request attributes
  python/ql/lib/semmle/python/frameworks/RestFramework.qll
Labels: Python

Add RestFramework handler kwargs
  python/ql/lib/semmle/python/frameworks/RestFramework.qll
Labels: Python

Add taint tests
  python/ql/test/library-tests/frameworks/rest_framework/taint_test.py
Labels: Python

Swift: Autoformat.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Numeric.qll
Labels: Swift

Add `.qhelp` and apply some review changes
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/frameworks/Apollo.qll
  javascript/ql/lib/semmle/javascript/frameworks/ApolloGraphQL.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CorsPermissiveConfigurationCustomizations.qll
  javascript/ql/src/experimental/Security/CWE-942/CorsPermissiveConfiguration.qhelp
  javascript/ql/src/experimental/Security/CWE-942/CorsPermissiveConfiguration.ql
  javascript/ql/src/experimental/Security/CWE-942/examples/CorsPermissiveConfigurationBad.js
  javascript/ql/src/experimental/Security/CWE-942/examples/CorsPermissiveConfigurationGood.js
  javascript/ql/test/experimental/Security/CWE-942/CorsPermissiveConfiguration.expected
  javascript/ql/test/experimental/Security/CWE-942/CorsPermissiveConfiguration.qlref
  javascript/ql/test/experimental/Security/CWE-942/tst.js
  javascript/ql/test/query-tests/Security/CWE-942/CorsPermissiveConfiguration.expected
  javascript/ql/test/query-tests/Security/CWE-942/CorsPermissiveConfiguration.qlref
Labels: JS, documentation

Kotlin: Drop support for 1.4.32
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/CommentExtractorLighterAST.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/ExperimentalCompilerApi.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/FileEntry.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Functions.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/IrSymbolInternals.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/IsUnderscoreParameter.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Kotlin2ComponentRegistrar.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/ReferenceEntity.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/SyntheticBodyKind.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Types.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/UsesK2.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/allOverriddenIncludingSelf.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/annotationType.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/copyTo.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/createImplicitParameterDeclarationWithWrappedDescriptor.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/getFileClassFqName.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/getKotlinType.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/packageFqName.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/withHasQuestionMark.kt
Labels: Kotlin

Kotlin: Specify language versino when compiling for old compilers
  java/kotlin-extractor/build.py
Labels: Kotlin

Swift: add NilCoalescingTest node to CFG
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowElements.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/cfg.swift
Labels: Swift

Swift: Replace additional taint step with implict read.
  swift/ql/lib/codeql/swift/security/CommandInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/CommandInjectionQuery.qll
  swift/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
Labels: Swift

Swift: Replace a similar additional taint step in another query.
  swift/ql/lib/codeql/swift/security/CleartextStorageDatabaseExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextStorageDatabaseQuery.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
Labels: Swift

Swift: Update for CollectionContent.
  swift/ql/lib/codeql/swift/security/CleartextStorageDatabaseQuery.qll
  swift/ql/lib/codeql/swift/security/CommandInjectionQuery.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
Labels: Swift

Swift: Test insertMany.
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/SQLite.swift
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
Labels: Swift

Java: Let RemoteFlowSource and LocalUserInput extends SourceNode and fine grain the LocalUserInput threat models.
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/frameworks/hudson/Hudson.qll
Labels: Java

Java: Introduce a class of dataflow nodes for the threat modeling.
  java/ql/lib/semmle/code/java/dataflow/ExternalFlowConfiguration.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/test/library-tests/dataflow/threat-models/threat-models1.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models2.ql
Labels: Java

Java: Add some testfiles.
  java/ql/test/library-tests/dataflow/threat-models/Empty.java
  java/ql/test/library-tests/dataflow/threat-models/Test.java
  java/ql/test/library-tests/dataflow/threat-models/TestSources.java
Labels: Java

Java: Cleanup threat model taxanomy to align with the EDR.
  java/ql/lib/ext/threatmodels/threat-model-grouping.model.yml
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/test/library-tests/dataflow/threat-models/Test.java
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.ext.yml
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models1.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models2.expected
Labels: Java

Java: Add some threat model dataflow tests.
  java/ql/test/library-tests/dataflow/threat-models/Test.qll
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.ext.yml
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.ext.yml
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.ext.yml
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.ext.yml
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.ext.yml
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.ql
Labels: Java

C++: Promote 'cpp/use-after-free' and 'cpp/double-free' to Code Scanning.
  cpp/ql/src/Critical/DoubleFree.ql
  cpp/ql/src/Critical/UseAfterFree.ql
Labels: C++

C++: Add change notes.
  cpp/ql/src/change-notes/2023-10-03-double-free.md
  cpp/ql/src/change-notes/2023-10-03-use-after-free.md
Labels: C++, documentation

Java: Address review comments.
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
Labels: Java

Python: use utf-8 for stdout/stderr
  python/tools/recorded-call-graph-metrics/src/cg_trace/main.py
Labels: Python

Remove GoKit from untrusted flow sources test
  go/ql/test/library-tests/semmle/go/frameworks/GoKit/untrustedflowsource.ql
Labels: Go

Enable GoKit module into the default list
  go/ql/lib/change-notes/2023-09-21-enable-gokit-framework-by-default.md
  go/ql/lib/go.qll
  go/ql/lib/semmle/go/frameworks/GoKit.qll
Labels: Go, documentation

Improve output of check-formatting in Makefile
  go/Makefile
Labels: Go

Fix formatting errors in files included in qhelp
  go/ql/src/experimental/CWE-203/timingBad.go
  go/ql/src/experimental/CWE-203/timingGood.go
  go/ql/src/experimental/CWE-74/DsnBad.go
  go/ql/src/experimental/CWE-74/DsnGood.go
Labels: Go

Add change note
  go/ql/src/change-notes/2023-10-03-incorrect-integer-conversion-improved
Labels: Go

C++: Block flow through indirect flow through pointer-arithmetic instructions when following flow for the allocation size.
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
Labels: C++

C++: Actually propagate the 'isBarrier1' or 'isBarrier2' predicates to the dataflow configurations.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ProductFlow.qll
Labels: C++

C++: Accept test changes.
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/test.cpp
Labels: C++

Swift: sync test files and update expectation
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/ast/cfg.swift
Labels: Swift

.github/labeler.yml:

"C++":
  - cpp/**/*
  - change-notes/**/*cpp*

"C#":
  - csharp/**/*
  - change-notes/**/*csharp*

Go:
  - go/**/*
  - change-notes/**/*go.*

Java:
  - any: [ 'java/**/*', '!java/kotlin-extractor/**/*', '!java/ql/test/kotlin/**/*' ]
  - change-notes/**/*java.*

JS:
  - any: [ 'javascript/**/*', '!javascript/ql/experimental/adaptivethreatmodeling/**/*' ]
  - change-notes/**/*javascript*

Kotlin:
  - java/kotlin-extractor/**/*
  - java/ql/test/kotlin/**/*

Python:
  - python/**/*
  - change-notes/**/*python*

Ruby:
  - ruby/**/*
  - change-notes/**/*ruby*

Swift:
  - swift/**/*
  - change-notes/**/*swift*

documentation:
  - "**/*.qhelp"
  - "**/*.md"
  - docs/**/*

"QL-for-QL":
  - ql/**/*
  - .github/workflows/ql-for-ql*

# Since these are all shared files that need to be synced, just pick _one_ copy of each.
"DataFlow Library":
  - "shared/dataflow/**/*"

"ATM":
  - javascript/ql/experimental/adaptivethreatmodeling/**/*
