Repository github/codeql, pull requests merged in 2018-10, with the labels that each got.

#254 C++: Make `Instruction.toString()` less expensive
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
Labels: C++

#250 Version: Bump to 1.18.1 dev.
  cpp/ql/src/META-INF/MANIFEST.MF
  csharp/ql/src/META-INF/MANIFEST.MF
  java/ql/src/META-INF/MANIFEST.MF
  javascript/ql/src/META-INF/MANIFEST.MF
Labels: depends on internal PR

#257 JavaScript: Update model of `DOMException`.
  javascript/externs/web/w3c_dom1.js
Labels: JS

#258 Merge rc/1.18 into master.
  cpp/ql/src/Documentation/CommentedOutCode.qll
  cpp/ql/src/META-INF/MANIFEST.MF
  cpp/ql/src/semmle/code/cpp/Element.qll
  cpp/ql/src/semmle/code/cpp/Specifier.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/internal/ResolveClass.qll
  cpp/ql/src/semmle/code/cpp/pointsto/PointsTo.qll
  cpp/ql/src/semmle/code/cpp/security/Overflow.qll
  cpp/ql/test/library-tests/templates/CPP-204/element.expected
  csharp/ql/src/META-INF/MANIFEST.MF
  java/ql/src/META-INF/MANIFEST.MF
  javascript/ql/src/META-INF/MANIFEST.MF
Labels: Mergeback, depends on internal PR

#262 Merge master into next.
  .gitignore
  change-notes/1.19/analysis-javascript.md
  cpp/ql/src/semmle/code/cpp/XML.qll
  cpp/ql/src/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/test.c
  cpp/ql/test/library-tests/controlflow/guards-ir/test.cpp
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.ql
  csharp/ql/src/semmle/code/csharp/XML.qll
  java/ql/src/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/src/semmle/code/xml/XML.qll
  javascript/externs/web/w3c_dom1.js
  javascript/ql/src/semmle/javascript/XML.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CorsMisconfigurationForCredentials.qll
  javascript/ql/test/library-tests/TaintBarriers/ExampleConfiguration.qll
  javascript/ql/test/library-tests/TaintBarriers/SanitizingGuard.expected
  javascript/ql/test/library-tests/TaintBarriers/TaintedSink.expected
  javascript/ql/test/library-tests/TaintBarriers/isBarrier.expected
  javascript/ql/test/library-tests/TaintBarriers/tst.js
  javascript/ql/test/library-tests/frameworks/Express/RequestExpr.expected
  javascript/ql/test/library-tests/frameworks/Express/RequestInputAccess.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteHandler.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteHandlerExpr.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteHandlerExpr_getAMatchingAncestor.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteHandlerExpr_getBody.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteHandlerExpr_getNextMiddleware.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteHandlerExpr_getPreviousMiddleware.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteHandler_getARequestExpr.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteSetup.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteSetup_getARouteHandler.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteSetup_getARouteHandlerExpr.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteSetup_getLastRouteHandlerExpr.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteSetup_getRequestMethod.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteSetup_getRouteHandlerExpr.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteSetup_getRouter.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteSetup_getServer.expected
  javascript/ql/test/library-tests/frameworks/Express/RouterDefinition_getARouteHandler.expected
  javascript/ql/test/library-tests/frameworks/Express/RouterDefinition_getMiddlewareStackAt.expected
  javascript/ql/test/library-tests/frameworks/Express/StandardRouteHandler.expected
  javascript/ql/test/library-tests/frameworks/Express/isRequest.expected
  javascript/ql/test/library-tests/frameworks/Express/src/express.js
Labels: Mergeback, depends on internal PR

#241 JS: Add HostHeaderPoisoningInEmailGeneration query
  change-notes/1.19/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-640/HostHeaderPoisoningInEmailGeneration.qhelp
  javascript/ql/src/Security/CWE-640/HostHeaderPoisoningInEmailGeneration.ql
  javascript/ql/src/Security/CWE-640/examples/HostHeaderPoisoningInEmailGeneration.js
  javascript/ql/src/Security/CWE-640/examples/HostHeaderPoisoningInEmailGenerationGood.js
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/EmailClients.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/src/semmle/javascript/frameworks/Hapi.qll
  javascript/ql/src/semmle/javascript/frameworks/Koa.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/EmailClients/EmailClients.expected
  javascript/ql/test/library-tests/EmailClients/EmailClients.ql
  javascript/ql/test/library-tests/EmailClients/tst.js
  javascript/ql/test/library-tests/frameworks/Express/HeaderAccess.expected
  javascript/ql/test/library-tests/frameworks/Express/HeaderAccess.ql
  javascript/ql/test/library-tests/frameworks/NodeJSLib/HeaderAccess.expected
  javascript/ql/test/library-tests/frameworks/NodeJSLib/HeaderAccess.ql
  javascript/ql/test/library-tests/frameworks/hapi/HeaderAccess.expected
  javascript/ql/test/library-tests/frameworks/hapi/HeaderAccess.ql
  javascript/ql/test/library-tests/frameworks/koa/HeaderAccess.expected
  javascript/ql/test/library-tests/frameworks/koa/HeaderAccess.ql
  javascript/ql/test/query-tests/Security/CWE-640/HostHeaderPoisoningInEmailGeneration.expected
  javascript/ql/test/query-tests/Security/CWE-640/HostHeaderPoisoningInEmailGeneration.qlref
  javascript/ql/test/query-tests/Security/CWE-640/tst.js
Labels: JS

#259 JavaScript: Fix a bug in ServerSideUrlRedirect
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/ServerSideUrlRedirect.qll
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/ServerSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/express.js
Labels: JS

#266 JS: support noop parentheses in js/useless-assignment-to-local
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/Declarations/DeadStoreOfLocal.ql
  javascript/ql/test/query-tests/Declarations/DeadStoreOfLocal/tst.js
Labels: JS

#268 JavaScript: fix two examples based on LGTM.com alerts
  javascript/ql/src/Security/CWE-079/examples/StoredXss.js
  javascript/ql/src/Security/CWE-079/examples/StoredXssGood.js
Labels: JS

#189 CPP: Permit more typedefs in WrongTypeFormatArguments.ql
  change-notes/1.19/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArguments.ql
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/printf1.h
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_unsigned_chars/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_unsigned_chars/printf1.h
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft/printf1.h
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft/real_world.h
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft_no_wchar/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft_no_wchar/printf1.h
Labels: C++

#260 JavaScript: Introduce new query `UnclearOperatorPrecedence`.
  change-notes/1.19/analysis-javascript.md
  javascript/config/suites/javascript/correctness-more
  javascript/ql/src/Expressions/UnclearOperatorPrecedence.qhelp
  javascript/ql/src/Expressions/UnclearOperatorPrecedence.ql
  javascript/ql/src/Expressions/WhitespaceContradictsPrecedence.ql
  javascript/ql/src/Expressions/examples/UnclearOperatorPrecedence.js
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/test/query-tests/Expressions/UnclearOperatorPrecedence/UnclearOperatorPrecedence.expected
  javascript/ql/test/query-tests/Expressions/UnclearOperatorPrecedence/UnclearOperatorPrecedence.qlref
  javascript/ql/test/query-tests/Expressions/UnclearOperatorPrecedence/tst.js
  javascript/ql/test/query-tests/Expressions/UnclearOperatorPrecedence/tst.min.js
  javascript/ql/test/query-tests/Expressions/WhitespaceContradictsPrecedence/WhitespaceContradictsPrecedence.expected
  javascript/ql/test/query-tests/Expressions/WhitespaceContradictsPrecedence/tst.js
Labels: JS

#267 JavaScript: Fix use of deprecated predicate.
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Labels: JS

#263 TypeScript: add tokenization test cases
  javascript/ql/test/library-tests/TypeScript/Tokens/PrettyPrintTokens.expected
  javascript/ql/test/library-tests/TypeScript/Tokens/PrettyPrintTokens.ql
  javascript/ql/test/library-tests/TypeScript/Tokens/greaterThanTS.ts
  javascript/ql/test/library-tests/TypeScript/Tokens/mixed.ts
  javascript/ql/test/library-tests/TypeScript/Tokens/regexpTS.ts
  javascript/ql/test/library-tests/TypeScript/Tokens/templateLiteralsJS.js
  javascript/ql/test/library-tests/TypeScript/Tokens/templateLiteralsTS.ts
Labels: JS, depends on internal PR

#277 C++: Make cpp/missing-return visible on LGTM again
  change-notes/1.19/analysis-cpp.md
  cpp/ql/src/jsf/4.13 Functions/AV Rule 114.ql
Labels: C++

#276 C++: Suppress PointlessComparison.ql in template instantiations
  cpp/ql/src/Likely Bugs/Arithmetic/PointlessComparison.ql
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.expected
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/Templates.cpp
Labels: C++

#132 JS: http to file access and file to http body taint flow
  javascript/ql/src/Security/CWE-200/FileAccessToHttp.ql
  javascript/ql/src/Security/CWE-912/HttpToFileAccess.ql
  javascript/ql/src/semmle/javascript/Concepts.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/Request.qll
  javascript/ql/src/semmle/javascript/security/dataflow/FileAccessToHttp.qll
  javascript/ql/src/semmle/javascript/security/dataflow/HttpToFileAccess.qll
  javascript/ql/test/query-tests/Security/CWE-200/FileAccessToHttp.expected
  javascript/ql/test/query-tests/Security/CWE-200/FileAccessToHttp.qlref
  javascript/ql/test/query-tests/Security/CWE-200/bufferRead.js
  javascript/ql/test/query-tests/Security/CWE-200/externs/fs.js
  javascript/ql/test/query-tests/Security/CWE-200/googlecompiler.js
  javascript/ql/test/query-tests/Security/CWE-200/readFileSync.js
  javascript/ql/test/query-tests/Security/CWE-200/readStreamRead.js
  javascript/ql/test/query-tests/Security/CWE-200/request.js
  javascript/ql/test/query-tests/Security/CWE-200/sentAsHeaders.js
  javascript/ql/test/query-tests/Security/CWE-912/HttpToFileAccess.expected
  javascript/ql/test/query-tests/Security/CWE-912/HttpToFileAccess.qlref
  javascript/ql/test/query-tests/Security/CWE-912/externs/fs.js
  javascript/ql/test/query-tests/Security/CWE-912/tst.js
Labels: JS

#278 C#: Remove queries.xml from the Metrics folder
  csharp/ql/src/Metrics/queries.xml
  csharp/ql/test/metric-tests/commentedcode/flinesofcommentedcode.qlref
  csharp/ql/test/metric-tests/duplicatedcode/flinesofduplicatedcode.qlref
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependencies.expected
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependencies.qlref
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependenciesSourceLinks.expected
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependenciesSourceLinks.qlref
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/File1.cs
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/File2.cs
  csharp/ql/test/query-tests/Metrics/Files/FLinesOfCommentedCode/file1.cs
  csharp/ql/test/query-tests/Metrics/Files/FLinesOfCommentedCode/file2.cs
  csharp/ql/test/query-tests/Metrics/Files/FLinesOfCommentedCode/flinesofcommentedcode.expected
  csharp/ql/test/query-tests/Metrics/Files/FLinesOfCommentedCode/flinesofcommentedcode.qlref
  csharp/ql/test/query-tests/Metrics/Files/FLinesOfDuplicatedCode/file1.cs
  csharp/ql/test/query-tests/Metrics/Files/FLinesOfDuplicatedCode/file2.cs
  csharp/ql/test/query-tests/Metrics/Files/FLinesOfDuplicatedCode/flinesofduplicatedcode.expected
  csharp/ql/test/query-tests/Metrics/Files/FLinesOfDuplicatedCode/flinesofduplicatedcode.qlref
  csharp/ql/test/query-tests/Metrics/RefTypes/TNumberOfFields/EnumSize.cs
  csharp/ql/test/query-tests/Metrics/RefTypes/TNumberOfFields/EnumSize.expected
  csharp/ql/test/query-tests/Metrics/RefTypes/TNumberOfFields/EnumSize.qlref
Labels: C#

#285 C++: Speed up primitive basic block calculation
  cpp/ql/src/semmle/code/cpp/controlflow/internal/PrimitiveBasicBlocks.qll
Labels: C++

#286 CPP: Fix WrongTypeFormatArguments.ql char16_t * issues (and others)
  change-notes/1.19/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArguments.ql
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/TooManyFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/WrongNumberOfFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/custom_printf.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_byte_wprintf/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_byte_wprintf/WrongTypeFormatArguments.qlref
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_byte_wprintf/formattingFunction.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_byte_wprintf/formattingFunction.ql
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_byte_wprintf/tests.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_word_size/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_word_size/WrongTypeFormatArguments.qlref
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_word_size/tests_32.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_word_size/tests_64.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_two_byte_wprintf/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_two_byte_wprintf/WrongTypeFormatArguments.qlref
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_two_byte_wprintf/formattingFunction.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_two_byte_wprintf/formattingFunction.ql
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_two_byte_wprintf/printf.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_unsigned_chars/formattingFunction.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_unsigned_chars/formattingFunction.ql
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft_no_wchar/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft_no_wchar/printf1.h
Labels: C++

#282 C++: add cached module to SimpleRangeAnalysis
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Labels: C++

#288 CPP: Address Widechartype / WChar_t
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
  cpp/ql/src/Security/CWE/CWE-676/DangerousUseOfCin.ql
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
Labels: C++

#291 Mergeback rc/1.18 to master
  cpp/ql/src/Likely Bugs/UseInOwnInitializer.ql
  cpp/ql/src/semmle/code/cpp/controlflow/internal/PrimitiveBasicBlocks.qll
Labels: C++, Mergeback, depends on internal PR

#227 JavaScript: Add support for state-based taint tracking.
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/Security/CWE-078/CommandInjection.ql
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/TrackedNodes.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirect.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CommandInjection.qll
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.ql
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlowConfig.qll
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.ql
  javascript/ql/test/library-tests/InterProceduralFlow/tst3.js
  javascript/ql/test/library-tests/InterProceduralFlow/tst4.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
Labels: JS

#273 JS: add RemoteFlowSource.isThirdPartyControllable()
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ReflectedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/RemoteFlowSources.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ServerSideUrlRedirect.qll
Labels: JS

#289 CPP: Additional change notes.
  change-notes/1.19/analysis-cpp.md
Labels: C++

#217 C#: Tool to generate stubs for qltests
  csharp/ql/src/Stubs/MinimalStubsFromSource.ql
  csharp/ql/src/Stubs/Stubs.qll
  csharp/ql/src/Stubs/make_stubs.py
  csharp/ql/test/query-tests/Stubs/MinimalStubsFromSource.expected
  csharp/ql/test/query-tests/Stubs/MinimalStubsFromSource.qlref
  csharp/ql/test/query-tests/Stubs/Test.cs
Labels: C#

#279 C#: Improve performance of type conversion library
  csharp/ql/src/semmle/code/csharp/Conversion.qll
Labels: C#

#296 JS: use DataFlow::ArrayCreationNode in additional places
  javascript/ql/src/AngularJS/InsecureUrlWhitelist.ql
  javascript/ql/src/Expressions/UnboundEventHandlerReceiver.ql
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/frameworks/AngularJS/DependencyInjections.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/ExpressModules.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CommandInjection.qll
Labels: JS

#294 JS: Canonicalize 'this' in the data-flow graph
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/Functions.qll
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterProceduralTypeInference.qll
  javascript/ql/src/semmle/javascript/frameworks/LodashUnderscore.qll
  javascript/ql/src/semmle/javascript/frameworks/React.qll
  javascript/ql/test/library-tests/DataFlow/flowStep.expected
  javascript/ql/test/library-tests/DataFlow/sources.expected
  javascript/ql/test/library-tests/Nodes/globalObjectRef.expected
  javascript/ql/test/library-tests/PropWrite/getAPropertyRead.expected
  javascript/ql/test/library-tests/PropWrite/getAPropertyRead2.expected
  javascript/ql/test/library-tests/PropWrite/getAPropertyReference.expected
  javascript/ql/test/library-tests/PropWrite/getAPropertyReference2.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/thisAssignments.js
  javascript/ql/test/library-tests/frameworks/ReactJS/ReactComponent_ref.expected
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/addEventListener.js
Labels: JS

#103 C#: ZipSlip - Refine sanitizers
  csharp/ql/src/semmle/code/csharp/security/dataflow/ZipSlip.qll
  csharp/ql/test/query-tests/Security Features/CWE-022/ZipSlip/ZipSlip.cs
  csharp/ql/test/query-tests/Security Features/CWE-022/ZipSlip/ZipSlip.expected
Labels: C#

#270 CPP: Improvements to Buffer.qll
  cpp/ql/src/semmle/code/cpp/commons/Buffer.qll
Labels: C++, depends on internal PR

#300 JS: polish for #132
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/Security/CWE-200/FileAccessToHttp.ql
  javascript/ql/src/Security/CWE-912/HttpToFileAccess.ql
  javascript/ql/src/Security/CWE-918/RequestForgery.qhelp
  javascript/ql/src/Security/CWE-918/RequestForgery.ql
  javascript/ql/src/semmle/javascript/Concepts.qll
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/frameworks/Electron.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/Request.qll
  javascript/ql/src/semmle/javascript/security/dataflow/FileAccessToHttp.qll
  javascript/ql/src/semmle/javascript/security/dataflow/HttpToFileAccess.qll
  javascript/ql/test/query-tests/Security/CWE-200/FileAccessToHttp.expected
  javascript/ql/test/query-tests/Security/CWE-200/express-send-file.js
  javascript/ql/test/query-tests/Security/CWE-200/externs/fs.js
  javascript/ql/test/query-tests/Security/CWE-200/fs-read-externs.js
  javascript/ql/test/query-tests/Security/CWE-912/HttpToFileAccess.expected
  javascript/ql/test/query-tests/Security/CWE-912/externs/fs.js
  javascript/ql/test/query-tests/Security/CWE-912/fs-writeFile-externs.js
Labels: JS

#235 C++: Finalise docs for cpp/hresult-boolean-conversion and cpp/unsafe-dacl-security-descriptor
  change-notes/1.19/analysis-cpp.md
  cpp/config/suites/c/correctness
  cpp/config/suites/cpp/correctness
  cpp/config/suites/security/cwe-253
  cpp/config/suites/security/cwe-732
  cpp/config/suites/security/default
  cpp/ql/src/Security/CWE/CWE-253/HResultBooleanConversion.qhelp
  cpp/ql/src/Security/CWE/CWE-253/HResultBooleanConversion.ql
Labels: C++, documentation

#309 Java: Add qldoc to a few libraries.
  java/ql/src/semmle/code/java/StringFormat.qll
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
Labels: Java

#299 JS: Add additional Mongoose/MongoDB sinks
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/mongoose.js
Labels: JS

#303 C++: Suppress UnsignedGEZero.ql in template instantiations
  cpp/ql/src/Likely Bugs/Arithmetic/UnsignedGEZero.qll
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/Templates.cpp
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.expected
Labels: C++

#298 JavaScript: do not cache AdditionalPartialInvokeNode
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#302 JavaScript: Add support for Google Cloud Spanner.
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/SQL.qll
  javascript/ql/test/library-tests/frameworks/SQL/SqlString.expected
  javascript/ql/test/library-tests/frameworks/SQL/spanner.js
  javascript/ql/test/library-tests/frameworks/SQL/spanner2.js
Labels: JS

#316 JavaScript: Fix modelling of exported variables that have definitions without (syntactic) right-hand sides.
  javascript/ql/src/semmle/javascript/dataflow/AbstractProperties.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterProceduralTypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/PropertyTypeInference.qll
  javascript/ql/test/library-tests/Flow/AbstractValues.expected
  javascript/ql/test/library-tests/Flow/a.js
  javascript/ql/test/library-tests/Flow/abseval.expected
  javascript/ql/test/library-tests/Flow/b.js
  javascript/ql/test/library-tests/Flow/types.expected
Labels: JS

#310 JS: additional `ClientRequest::getADataNode`s
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/frameworks/Electron.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getADataNode.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getADataNode.ql
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getUrl.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
  javascript/ql/test/library-tests/frameworks/Electron/ClientRequest_getADataNode.expected
  javascript/ql/test/library-tests/frameworks/Electron/ClientRequest_getADataNode.ql
  javascript/ql/test/library-tests/frameworks/NodeJSLib/ClientRequest_getADataNode.expected
  javascript/ql/test/library-tests/frameworks/NodeJSLib/ClientRequest_getADataNode.ql
Labels: JS

#322 C#: Add `csharp-compiler-settings` files
  csharp/config/tracer/linux/csharp-compiler-settings
  csharp/config/tracer/linux/extract-csharp.sh
  csharp/config/tracer/windows/csharp-compiler-settings
Labels: C#

#320 CPP: Add deprecated metadata.
  cpp/ql/src/Likely Bugs/OO/NonVirtualDestructor.ql
Labels: C++

#334 Java: Autoformat the last 5 files (RangeAnalysis).
  java/ql/src/semmle/code/java/dataflow/Bound.qll
  java/ql/src/semmle/code/java/dataflow/ModulusAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/ParityAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/RangeUtils.qll
Labels: Java

#327 C#: Pass `--compiler` flag to extractor on Linux
  csharp/config/tracer/linux/csharp-compiler-settings
  csharp/config/tracer/linux/extract-csharp.sh
  csharp/extractor/Semmle.Extraction.CSharp/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/CompilerVersion.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
Labels: C#

#333 Java: Fix FPs for concurrent modification checks.
  change-notes/1.19/analysis-java.md
  java/ql/src/Likely Bugs/Comparison/UselessComparisonTest.ql
  java/ql/test/query-tests/UselessComparisonTest/B.java
Labels: Java

#336 Java: Clean up dataflow and improve path explanation toStrings.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplDepr.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
Labels: Java

#307 JS: make js/unused-local-variable flag import statements
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/Declarations/UnusedVariable.ql
  javascript/ql/src/semmle/javascript/Util.qll
  javascript/ql/test/library-tests/Util/capitalize.expected
  javascript/ql/test/library-tests/Util/capitalize.ql
  javascript/ql/test/library-tests/Util/pluralize.expected
  javascript/ql/test/library-tests/Util/pluralize.ql
  javascript/ql/test/library-tests/Util/tst.js
  javascript/ql/test/query-tests/Declarations/UnusedVariable/UnusedVariable.expected
  javascript/ql/test/query-tests/Declarations/UnusedVariable/multi-imports.js
Labels: JS

#313 CPP: Fix hasXMacro performance.
  cpp/ql/src/jsf/4.07 Header Files/AV Rule 35.ql
Labels: C++

#329 CPP: Improve Overflowdest.ql
  cpp/ql/src/Critical/OverflowDestination.cpp
  cpp/ql/src/Critical/OverflowDestination.ql
Labels: C++

#342 JavaScript: 1.18.1 cherry-picks
  javascript/externs/web/w3c_dom1.js
  javascript/ql/src/Expressions/ImplicitOperandConversion.qhelp
  javascript/ql/src/LanguageFeatures/EmptyArrayInit.ql
  javascript/ql/src/LanguageFeatures/SemicolonInsertion.ql
  javascript/ql/src/Security/CWE-807/ConditionalBypass.ql
  javascript/ql/src/Statements/MisleadingIndentationAfterControlStmt.ql
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/dataflow/AbstractProperties.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterProceduralTypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/PropertyTypeInference.qll
  javascript/ql/src/semmle/javascript/frameworks/SQL.qll
  javascript/ql/test/library-tests/Flow/AbstractValues.expected
  javascript/ql/test/library-tests/Flow/a.js
  javascript/ql/test/library-tests/Flow/abseval.expected
  javascript/ql/test/library-tests/Flow/b.js
  javascript/ql/test/library-tests/Flow/nestedImport.js
  javascript/ql/test/library-tests/Flow/types.expected
  javascript/ql/test/library-tests/TypeScript/ExpansiveTypes/ExpansiveTypes.expected
  javascript/ql/test/library-tests/TypeScript/ExpansiveTypes/NonExpansiveTypes.expected
  javascript/ql/test/library-tests/TypeScript/ExpansiveTypes/expansive_signature.ts
  javascript/ql/test/library-tests/TypeScript/Tokens/PrettyPrintTokens.expected
  javascript/ql/test/library-tests/TypeScript/Tokens/PrettyPrintTokens.ql
  javascript/ql/test/library-tests/TypeScript/Tokens/greaterThanTS.ts
  javascript/ql/test/library-tests/TypeScript/Tokens/mixed.ts
  javascript/ql/test/library-tests/TypeScript/Tokens/regexpTS.ts
  javascript/ql/test/library-tests/TypeScript/Tokens/templateLiteralsJS.js
  javascript/ql/test/library-tests/TypeScript/Tokens/templateLiteralsTS.ts
  javascript/ql/test/library-tests/frameworks/SQL/SqlString.expected
  javascript/ql/test/library-tests/frameworks/SQL/spanner.js
  javascript/ql/test/library-tests/frameworks/SQL/spanner2.js
  javascript/ql/test/query-tests/LanguageFeatures/SemicolonInsertion/template_literal.ts
  javascript/ql/test/query-tests/Security/CWE-807/ConditionalBypass.expected
  javascript/ql/test/query-tests/Security/CWE-807/tst.js
Labels: depends on internal PR

#349 C#: Remove `global.json`
  csharp/extractor/global.json
Labels: C#

#326 C++: new query for dead code after goto or break
  change-notes/1.19/analysis-cpp.md
  cpp/ql/src/Critical/DeadCodeGoto.cpp
  cpp/ql/src/Critical/DeadCodeGoto.qhelp
  cpp/ql/src/Critical/DeadCodeGoto.ql
  cpp/ql/test/query-tests/Critical/DeadCodeGoto/DeadCodeGoto.expected
  cpp/ql/test/query-tests/Critical/DeadCodeGoto/DeadCodeGoto.qlref
  cpp/ql/test/query-tests/Critical/DeadCodeGoto/test.cpp
Labels: C++, documentation

#341 CPP: Improve AV Rule 114.ql's understanding of return types.
  change-notes/1.19/analysis-cpp.md
  cpp/ql/src/jsf/4.13 Functions/AV Rule 114.ql
  cpp/ql/test/query-tests/jsf/4.13 Functions/AV Rule 114/AV Rule 114.expected
  cpp/ql/test/query-tests/jsf/4.13 Functions/AV Rule 114/test.cpp
Labels: C++

#365 Java: Whitelist Cookie::getName for HTTP response splitting.
  java/ql/src/Security/CWE/CWE-113/ResponseSplitting.qll
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.java
Labels: Java

#363 JavaScript: Improve handling of destructuring assignments.
  javascript/ql/src/semmle/javascript/BasicBlocks.qll
  javascript/ql/src/semmle/javascript/DefUse.qll
  javascript/ql/src/semmle/javascript/SSA.qll
  javascript/ql/test/library-tests/CFG/CFG.expected
  javascript/ql/test/library-tests/Flow/AbstractValues.expected
  javascript/ql/test/library-tests/Flow/abseval.expected
  javascript/ql/test/library-tests/Flow/destructuring.js
  javascript/ql/test/library-tests/Flow/types.expected
  javascript/ql/test/query-tests/Declarations/MissingVarDecl/MissingVarDecl.expected
  javascript/ql/test/query-tests/Declarations/MissingVarDecl/tst3.js
Labels: JS, depends on internal PR

#358 Java: Add additional SQL injection sinks.
  change-notes/1.19/analysis-java.md
  java/ql/src/Security/CWE/CWE-089/SqlInjectionLib.qll
  java/ql/src/semmle/code/java/frameworks/Hibernate.qll
  java/ql/src/semmle/code/java/frameworks/MyBatis.qll
  java/ql/src/semmle/code/java/frameworks/SpringJdbc.qll
Labels: Java

#361 Java: Add remote user input sources for Spring servlets.
  change-notes/1.19/analysis-java.md
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/src/semmle/code/java/frameworks/SpringWeb.qll
Labels: Java

#370 C++: Update a comment
  cpp/ql/test/library-tests/classes/base_classes/base_classes.cpp
Labels: C++

#362 C++: Fix "Overloaded assignment does not return 'this'" for non-returning functions
  cpp/ql/src/jsf/4.10 Classes/AV Rule 82.ql
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 82/AV Rule 82.cpp
Labels: C++

#339 C#: Detect constantly failing assertions in the CFG
  change-notes/1.19/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/frameworks/test/VisualStudio.qll
  csharp/ql/test/library-tests/commons/Assertions/Assertion.expected
  csharp/ql/test/library-tests/commons/Assertions/Assertions.cs
  csharp/ql/test/library-tests/commons/Assertions/FailingAssertion.expected
  csharp/ql/test/library-tests/commons/Assertions/FailingAssertion.ql
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.ql
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.ql
  csharp/ql/test/library-tests/controlflow/graph/Common.qll
  csharp/ql/test/library-tests/controlflow/graph/ConditionBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionalFlow.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.ql
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.ql
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.ql
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.ql
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.ql
  csharp/ql/test/library-tests/controlflow/graph/ExitMethods.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.ql
  csharp/ql/test/library-tests/filters/ClassifyFiles/VisualStudioTest.cs
  csharp/ql/test/library-tests/frameworks/test/Test.expected
  csharp/ql/test/library-tests/frameworks/test/VisualStudio.cs
  csharp/ql/test/query-tests/Dead Code/Tests/deadcode.cs
  csharp/ql/test/query-tests/Nullness/Assert.cs
  csharp/ql/test/query-tests/Nullness/NullAlways.expected
  csharp/ql/test/query-tests/Security Features/CWE-338/TestInsecureRandomness.cs
  csharp/ql/test/query-tests/Security Features/CWE-798/HardcodedCredentials.expected
  csharp/ql/test/query-tests/Security Features/CWE-798/TestHardcodedCredentials.cs
  csharp/ql/test/resources/stubs/Microsoft.VisualStudio.TestTools.UnitTesting.cs
  csharp/ql/test/resources/stubs/System.Windows.cs
Labels: C#

#368 CPP: Improve memberMayBeVarSize
  change-notes/1.19/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/commons/Buffer.qll
Labels: C++

#318 CPP: Speed up OverflowStatic.ql
  cpp/ql/src/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/src/semmle/code/cpp/controlflow/SSAUtils.qll
Labels: C++

#375 JS: truncate js/unknown-directive message content
  javascript/ql/src/Expressions/UnknownDirective.ql
  javascript/ql/src/semmle/javascript/Util.qll
  javascript/ql/test/library-tests/Util/truncate.expected
  javascript/ql/test/library-tests/Util/truncate.ql
  javascript/ql/test/query-tests/Expressions/UnknownDirective/UnknownDirective.expected
  javascript/ql/test/query-tests/Expressions/UnknownDirective/UnknownDirective.js
Labels: JS

#369 C++: Accept test changes after generating class membership info for generated functions
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/header-variant-tests/deduplication/functions.expected
  cpp/ql/test/library-tests/c++_exceptions/graphable.expected
  cpp/ql/test/library-tests/controlflow/exits/exits.expected
  cpp/ql/test/library-tests/declaration/IsMember.expected
  cpp/ql/test/library-tests/depends_friends/Friend1.expected
  cpp/ql/test/library-tests/destructors/cfg.expected
  cpp/ql/test/library-tests/functions/functions/Functions2.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/lambdas/cfg/cfg.expected
  cpp/ql/test/library-tests/members/getters/members.expected
  cpp/ql/test/library-tests/members/templates/members.expected
  cpp/ql/test/library-tests/namespaces/namespaces/decls.expected
  cpp/ql/test/library-tests/noexcept/copy_from_prototype/copy_from_prototype.expected
  cpp/ql/test/library-tests/pod/isPOD03.expected
  cpp/ql/test/library-tests/qualifiers/class-enum/decls.expected
  cpp/ql/test/library-tests/scopes/parents/parents.expected
  cpp/ql/test/library-tests/scopes/scopes/Scopes1.expected
  cpp/ql/test/library-tests/scopes/scopes/Scopes3.expected
  cpp/ql/test/library-tests/scopes/scopes/Scopes4.expected
  cpp/ql/test/library-tests/special_members/detect/detect.expected
  cpp/ql/test/library-tests/structs/compatible_cpp/compatible.expected
  cpp/ql/test/library-tests/typedefs/Typedefs1.expected
  cpp/ql/test/library-tests/virtual_functions/cfg/cfg.expected
  cpp/ql/test/successor-tests/conditional_destructors/cfg.expected
  cpp/ql/test/successor-tests/exceptionhandler/ellipsisexceptionhandler/graphable.expected
  cpp/ql/test/successor-tests/exceptionhandler/exceptionhandler/graphable.expected
  cpp/ql/test/successor-tests/stackvariables/stackvariables/graphable.expected
Labels: C++, depends on internal PR

#374 C++: Round towards +/- Inf in range analysis
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/RegressionTests.cpp
Labels: C++

#372 Java: Improve array length bounds on array phi nodes that may be null.
  java/ql/src/Likely Bugs/Collections/ArrayIndexOutOfBounds.ql
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/RangeUtils.qll
  java/ql/test/query-tests/RangeAnalysis/A.java
  java/ql/test/query-tests/RangeAnalysis/ArrayIndexOutOfBounds.expected
Labels: Java

#338 CPP: Exclude switch statements from HResultBooleanConversion.ql
  cpp/ql/src/Security/CWE/CWE-253/HResultBooleanConversion.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-253/HResultBooleanConversion.c
  cpp/ql/test/query-tests/Security/CWE/CWE-253/HResultBooleanConversion.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-253/HResultBooleanConversion.expected
Labels: C++

#382 Version: Bump to 1.18.1 release.
  cpp/ql/src/META-INF/MANIFEST.MF
  csharp/ql/src/META-INF/MANIFEST.MF
  java/ql/src/META-INF/MANIFEST.MF
  javascript/ql/src/META-INF/MANIFEST.MF
Labels: depends on internal PR

#381 CPP: Fix false positive in EmptyBlock.ql
  change-notes/1.19/analysis-cpp.md
  cpp/ql/src/Best Practices/Likely Errors/EmptyBlock.ql
  cpp/ql/test/query-tests/Best Practices/Likely Errors/EmptyBlock/empty_block.cpp
Labels: C++

#371 C++: Fix AV Rule 85
  cpp/ql/src/jsf/4.10 Classes/AV Rule 85.ql
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 85/AV Rule 85.cpp
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 85/AV Rule 85.expected
Labels: C++

#377 C++: Accept test changes following fix_member_function_indices
  cpp/ql/test/library-tests/members/getters/members.expected
  cpp/ql/test/library-tests/members/templates/members.expected
  cpp/ql/test/library-tests/structs/compatible_cpp/compatible.expected
Labels: C++, depends on internal PR

#379 C#: Improve performance in `ForwarderAssertMethod`
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
Labels: C#

#357 C++: Add C++ analysis team to CODEOWNERS
  CODEOWNERS
Labels: C++

#345 JS: introduce Expr:getUnderlyingX
  javascript/ql/src/Declarations/DeadStoreOfLocal.ql
  javascript/ql/src/semmle/javascript/Constants.qll
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/src/semmle/javascript/Variables.qll
  javascript/ql/test/library-tests/Constants/Constants.expected
  javascript/ql/test/query-tests/Declarations/ArgumentsRedefined/ArgumentsRedefined.expected
  javascript/ql/test/query-tests/Declarations/ArgumentsRedefined/tst.js
  javascript/ql/test/query-tests/Declarations/AssignmentToConst/AssignmentToConst.expected
  javascript/ql/test/query-tests/Declarations/AssignmentToConst/tst.js
  javascript/ql/test/query-tests/Declarations/DeadStoreOfLocal/tst.js
  javascript/ql/test/query-tests/Declarations/MissingVarDecl/MissingVarDecl.expected
  javascript/ql/test/query-tests/Declarations/MissingVarDecl/test.js
  javascript/ql/test/query-tests/Expressions/ImplicitOperandConversion/tst.js
  javascript/ql/test/query-tests/Expressions/SuspiciousPropAccess/tst.js
  javascript/ql/test/query-tests/Statements/SuspiciousUnusedLoopIterationVariable/tst.js
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.expected
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.js
Labels: JS

#373 JS: recognize transform-react-jsx plugin
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/Declarations/UnusedVariable.ql
  javascript/ql/src/semmle/javascript/frameworks/Babel.qll
  javascript/ql/test/query-tests/Declarations/UnusedVariable/Babelrc/.babelrc.json
  javascript/ql/test/query-tests/Declarations/UnusedVariable/Babelrc/importPragma.jsx
  javascript/ql/test/query-tests/Declarations/UnusedVariable/UnusedVariable.expected
  javascript/ql/test/query-tests/Declarations/UnusedVariable/importWithoutPragma.jsx
Labels: JS

#384 Merge rc/1.18 into master.
  cpp/ql/src/META-INF/MANIFEST.MF
  csharp/ql/src/META-INF/MANIFEST.MF
  java/ql/src/META-INF/MANIFEST.MF
  javascript/ql/src/META-INF/MANIFEST.MF
Labels: Mergeback, depends on internal PR

#272 C++/Doc: change note for PR #269
  change-notes/1.19/analysis-cpp.md
Labels: C++, documentation

#380 JS: Use guard nodes in useless-conditionals
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/Statements/UselessConditional.ql
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.expected
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.js
Labels: JS

#383 JS: whitelist js/unused-local-variable near direct `eval` calls
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/Declarations/UnusedVariable.ql
  javascript/ql/test/query-tests/Declarations/UnusedVariable/UnusedVariable.expected
  javascript/ql/test/query-tests/Declarations/UnusedVariable/eval.js
Labels: JS

#330 Java: Add ZipSlip query.
  change-notes/1.19/analysis-java.md
  java/ql/src/Security/CWE/CWE-022/ZipSlip.qhelp
  java/ql/src/Security/CWE/CWE-022/ZipSlip.ql
  java/ql/src/Security/CWE/CWE-022/ZipSlipBad.java
  java/ql/src/Security/CWE/CWE-022/ZipSlipGood.java
  java/ql/src/semmle/code/java/JDK.qll
  java/ql/test/query-tests/security/CWE-022/semmle/tests/ZipSlip.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/ZipSlip.qlref
  java/ql/test/query-tests/security/CWE-022/semmle/tests/ZipTest.java
Labels: Java
