Repository github/codeql, pull requests merged in 2018-12, with the labels that each got.

#556 JavaScript: Add new query `InvalidEntityTranscoding`.
  change-notes/1.20/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-116/DoubleEscaping.qhelp
  javascript/ql/src/Security/CWE-116/DoubleEscaping.ql
  javascript/ql/src/Security/CWE-116/examples/DoubleEscaping.js
  javascript/ql/src/Security/CWE-116/examples/DoubleEscapingGood.js
  javascript/ql/test/query-tests/Security/CWE-116/DoubleEscaping/DoubleEscaping.expected
  javascript/ql/test/query-tests/Security/CWE-116/DoubleEscaping/DoubleEscaping.qlref
  javascript/ql/test/query-tests/Security/CWE-116/DoubleEscaping/tst.js
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteSanitization.qlref
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/tst.js
Labels: JS

#598 C++: data flow AlwaysTrueUponEntryLoop perf fix
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Labels: C++

#586 C#: Handle multiple-field Boolean CFG splitting
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/BooleanNode.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionalFlow.expected
  csharp/ql/test/library-tests/controlflow/graph/Conditions.cs
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Labels: C#

#602 JS: optimistic tracking of Hapi route handlers
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/ConnectExpressShared.qll
  javascript/ql/src/semmle/javascript/frameworks/Hapi.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/heuristics/AdditionalRouteHandlers.qll
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/RouteHandlerCandidate.expected
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/UnpromotedRouteHandlerCandidate.expected
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/src/hapi.js
  javascript/ql/test/library-tests/frameworks/hapi/RouteHandler.expected
  javascript/ql/test/library-tests/frameworks/hapi/RouteSetup.expected
  javascript/ql/test/library-tests/frameworks/hapi/RouteSetup_getARouteHandler.expected
  javascript/ql/test/library-tests/frameworks/hapi/RouteSetup_getServer.expected
  javascript/ql/test/library-tests/frameworks/hapi/src/hapi.js
Labels: JS

#562 CPP: Fix FPs for 'Resource not released in destructor' involving virtual method calls
  cpp/ql/src/jsf/4.10 Classes/AV Rule 79.ql
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 79/AV Rule 79.expected
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 79/DeleteThis.cpp
Labels: C++

#589 C++: add missing 1.19 change notes
  change-notes/1.19/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/RecursionPrevention.qll
Labels: C++

#591 C++: we now process operands for vacuous destructor calls through pointers
  cpp/ql/test/examples/expressions/PrintAST.expected
Labels: C++, depends on internal PR

#603 JavaScript: Fix `InconsistentNew` performance regression.
  change-notes/1.19/analysis-javascript.md
  javascript/ql/src/LanguageFeatures/InconsistentNew.ql
  javascript/ql/test/query-tests/LanguageFeatures/InconsistentNew/InconsistentNew.expected
  javascript/ql/test/query-tests/LanguageFeatures/InconsistentNew/tst.js
Labels: JS

#605 C++: fix expected test output for improved extraction of aggregate initialisers
  cpp/ql/test/library-tests/valuenumbering/HashCons/HashCons.expected
Labels: C++, depends on internal PR

#546 Python: Add QL for VS workspace settings file.
  python/ql/src/.vs/VSWorkspaceSettings.json
Labels: Python

#608 C++: Fix "Overloaded assignment does not return 'this'" for templates
  cpp/ql/src/jsf/4.10 Classes/AV Rule 82.ql
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 82/AV Rule 82.cpp
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 82/AV Rule 82.expected
Labels: C++

#610 JavaScript: Correct change note for new query.
  change-notes/1.19/analysis-javascript.md
Labels: JS

#553 Java: Add two double-checked-locking queries.
  change-notes/1.20/analysis-java.md
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLocking.qhelp
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLocking.ql
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLocking.qll
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLockingBad1.java
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLockingBad2.java
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLockingGood.java
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLockingShared.qhelp
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLockingWithInitRace.qhelp
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLockingWithInitRace.ql
  java/ql/test/query-tests/DoubleCheckedLocking/A.java
  java/ql/test/query-tests/DoubleCheckedLocking/DoubleCheckedLocking.expected
  java/ql/test/query-tests/DoubleCheckedLocking/DoubleCheckedLocking.qlref
  java/ql/test/query-tests/DoubleCheckedLocking/DoubleCheckedLockingWithInitRace.expected
  java/ql/test/query-tests/DoubleCheckedLocking/DoubleCheckedLockingWithInitRace.qlref
Labels: Java

#587 JS: add IncorrectSuffixCheck query
  change-notes/1.20/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-020/IncorrectSuffixCheck.qhelp
  javascript/ql/src/Security/CWE-020/IncorrectSuffixCheck.ql
  javascript/ql/src/Security/CWE-020/examples/IncorrectSuffixCheck.js
  javascript/ql/src/Security/CWE-020/examples/IncorrectSuffixCheckGood.js
  javascript/ql/test/query-tests/Security/CWE-020/IncorrectSuffixCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncorrectSuffixCheck.qlref
  javascript/ql/test/query-tests/Security/CWE-020/examples/IncorrectSuffixCheck.js
  javascript/ql/test/query-tests/Security/CWE-020/examples/IncorrectSuffixCheckGood.js
  javascript/ql/test/query-tests/Security/CWE-020/tst.js
Labels: JS

#611 Java: Fix FP in `UseSSL.ql`.
  java/ql/src/Security/CWE/CWE-319/UseSSL.ql
  java/ql/test/query-tests/security/CWE-311/CWE-319/Test.java
  java/ql/test/query-tests/security/CWE-311/CWE-319/UseSSL.expected
  java/ql/test/query-tests/security/CWE-311/CWE-319/UseSSL.qlref
Labels: Java

#607 JS: model additional React component methods
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/React.qll
  javascript/ql/test/library-tests/frameworks/ReactJS/ReactComponent.expected
  javascript/ql/test/library-tests/frameworks/ReactJS/ReactComponent_getACandidateStateSource.expected
  javascript/ql/test/library-tests/frameworks/ReactJS/ReactComponent_getADirectPropsSource.expected
  javascript/ql/test/library-tests/frameworks/ReactJS/ReactComponent_getAPreviousStateSource.expected
  javascript/ql/test/library-tests/frameworks/ReactJS/ReactComponent_getAPreviousStateSource.ql
  javascript/ql/test/library-tests/frameworks/ReactJS/ReactComponent_getInstanceMethod.expected
  javascript/ql/test/library-tests/frameworks/ReactJS/ReactComponent_ref.expected
  javascript/ql/test/library-tests/frameworks/ReactJS/rare-lifecycle-methods.js
  javascript/ql/test/library-tests/frameworks/ReactJS/react.expected
  javascript/ql/test/query-tests/React/UnusedOrUndefinedStateProperty/UnusedOrUndefinedStateProperty.expected
  javascript/ql/test/query-tests/React/UnusedOrUndefinedStateProperty/issue7506.js
  javascript/ql/test/query-tests/React/UnusedOrUndefinedStateProperty/undefined.js
  javascript/ql/test/query-tests/React/UnusedOrUndefinedStateProperty/unused.js
Labels: JS

#614 1.19: Finalize change notes for Java
  change-notes/1.19/analysis-java.md
Labels: Java, documentation

#618 JavaScript: Fix expected test output.
  javascript/ql/test/query-tests/Security/CWE-754/UnvalidatedDynamicMethodCall.expected
Labels: JS

#616 1.19: Finalize release notes for C#
  change-notes/1.19/analysis-csharp.md
Labels: C#, documentation

#613 C++: Test output changes following CatchAny fix
  cpp/ql/test/library-tests/c++_exceptions/anycatch.expected
  cpp/ql/test/library-tests/c++_exceptions/catchparams.expected
  cpp/ql/test/library-tests/c++_exceptions/handler.expected
Labels: C++

#626 Update logging information based on 'extractor-python.md'
  change-notes/1.19/analysis-python.md
Labels: Python, documentation

#620 JavaScript: Add query help for two externally contributed queries.
  javascript/ql/src/Security/CWE-200/FileAccessToHttp.qhelp
  javascript/ql/src/Security/CWE-200/examples/FileAccessToHttp.js
  javascript/ql/src/Security/CWE-912/HttpToFileAccess.qhelp
  javascript/ql/src/Security/CWE-912/HttpToFileAccess.ql
  javascript/ql/src/Security/CWE-912/examples/HttpToFileAccess.js
  javascript/ql/test/query-tests/Security/CWE-200/FileAccessToHttp.expected
  javascript/ql/test/query-tests/Security/CWE-200/FileAccessToHttp.js
  javascript/ql/test/query-tests/Security/CWE-912/HttpToFileAccess.expected
  javascript/ql/test/query-tests/Security/CWE-912/HttpToFileAccess.js
  javascript/ql/test/query-tests/Security/CWE-912/fs-writeFile-externs.js
Labels: JS

#624 JavaScript: Remove redundant conjunct in `MixedStaticInstanceThisAccess`.
  javascript/ql/src/Declarations/MixedStaticInstanceThisAccess.ql
Labels: JS

#619 1.19: Finalize change notes for JavaScript
  change-notes/1.19/analysis-javascript.md
  change-notes/1.19/extractor-javascript.md
Labels: JS, documentation

#617 CPP: Fix false positives in UnusedStaticVariables.ql
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/Best Practices/Unused Entities/UnusedStaticVariables.ql
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedStaticVariables/UnusedStaticVariables.expected
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedStaticVariables/UnusedStaticVariables.qlref
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedStaticVariables/test.cpp
Labels: C++

#623 JS: add query js/incomplete-url-substring-sanitization
  change-notes/1.20/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.qhelp
  javascript/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.ql
  javascript/ql/src/Security/CWE-020/examples/IncompleteUrlSubstringSanitization_BAD1.js
  javascript/ql/src/Security/CWE-020/examples/IncompleteUrlSubstringSanitization_BAD2.js
  javascript/ql/src/Security/CWE-020/examples/IncompleteUrlSubstringSanitization_GOOD.js
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization.qlref
  javascript/ql/test/query-tests/Security/CWE-020/tst-IncompleteUrlSubstringSanitization.js
Labels: JS

#622 C++: Follow range for statement test output changes
  cpp/ql/test/library-tests/loops/loops.expected
Labels: C++

#635 JavaScript: Add missing query id in change notes.
  change-notes/1.19/analysis-javascript.md
Labels: JS

#593 C#: Rewrite nullness queries
  change-notes/1.20/analysis-csharp.md
  csharp/ql/src/CSI/NullAlways.qhelp
  csharp/ql/src/CSI/NullAlways.ql
  csharp/ql/src/CSI/NullAlwaysBad.cs
  csharp/ql/src/CSI/NullAlwaysGood.cs
  csharp/ql/src/CSI/NullMaybe.qhelp
  csharp/ql/src/CSI/NullMaybe.ql
  csharp/ql/src/CSI/NullMaybeBad.cs
  csharp/ql/src/CSI/NullMaybeGood.cs
  csharp/ql/src/semmle/code/csharp/Stmt.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/test/library-tests/controlflow/guards/BooleanGuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Guards.cs
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/query-tests/Nullness/A.cs
  csharp/ql/test/query-tests/Nullness/Assert.cs
  csharp/ql/test/query-tests/Nullness/B.cs
  csharp/ql/test/query-tests/Nullness/C.cs
  csharp/ql/test/query-tests/Nullness/D.cs
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/EqualityCheck.expected
  csharp/ql/test/query-tests/Nullness/EqualityCheck.ql
  csharp/ql/test/query-tests/Nullness/Forwarding.cs
  csharp/ql/test/query-tests/Nullness/GuardedString.cs
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/Implications.ql
  csharp/ql/test/query-tests/Nullness/NullAlways.expected
  csharp/ql/test/query-tests/Nullness/NullAlwaysBad.cs
  csharp/ql/test/query-tests/Nullness/NullAlwaysGood.cs
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.ql
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
  csharp/ql/test/query-tests/Nullness/NullMaybeBad.cs
  csharp/ql/test/query-tests/Nullness/NullMaybeGood.cs
  csharp/ql/test/query-tests/Nullness/StringConcatenation.cs
Labels: C#

#643 Java: Add org.apache.commons.lang3.StringUtils.isBlank as a nullguard.
  java/ql/src/semmle/code/java/dataflow/NullGuards.qll
Labels: Java

#646 C++: Update stats
  cpp/ql/src/semmlecode.cpp.dbscheme.stats
Labels: C++

#647 JavaScript: Fix performance regression in `MixedStaticInstanceThisAccess`.
  javascript/ql/src/Declarations/MixedStaticInstanceThisAccess.ql
Labels: JS

#625 Merge rc/1.19 into next.
  change-notes/1.19/analysis-cpp.md
  change-notes/1.19/analysis-csharp.md
  change-notes/1.19/analysis-java.md
  change-notes/1.19/analysis-javascript.md
  change-notes/1.19/analysis-python.md
  change-notes/1.19/extractor-javascript.md
  cpp/ql/src/jsf/4.10 Classes/AV Rule 82.ql
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 82/AV Rule 82.cpp
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 82/AV Rule 82.expected
  javascript/ql/src/Declarations/MixedStaticInstanceThisAccess.ql
  javascript/ql/src/Security/CWE-200/FileAccessToHttp.qhelp
  javascript/ql/src/Security/CWE-200/examples/FileAccessToHttp.js
  javascript/ql/src/Security/CWE-912/HttpToFileAccess.qhelp
  javascript/ql/src/Security/CWE-912/HttpToFileAccess.ql
  javascript/ql/src/Security/CWE-912/examples/HttpToFileAccess.js
  javascript/ql/test/query-tests/Security/CWE-200/FileAccessToHttp.expected
  javascript/ql/test/query-tests/Security/CWE-200/FileAccessToHttp.js
  javascript/ql/test/query-tests/Security/CWE-912/HttpToFileAccess.expected
  javascript/ql/test/query-tests/Security/CWE-912/HttpToFileAccess.js
  javascript/ql/test/query-tests/Security/CWE-912/fs-writeFile-externs.js
  python/ql/src/semmle/dataflow/SSA.qll
  python/ql/src/semmle/dataflow/SsaCompute.qll
  python/ql/src/semmle/python/dataflow/SsaDefinitions.qll
  python/ql/src/semmle/python/pointsto/Base.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/src/semmle/python/regex.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/test/library-tests/PointsTo/new/Dataflow.expected
  python/ql/test/library-tests/PointsTo/new/SourceNodeDefinitions.expected
  python/ql/test/library-tests/PointsTo/new/SsaUses.expected
  python/ql/test/library-tests/PointsTo/new/VarUses.expected
  python/ql/test/library-tests/regex/Alternation.expected
  python/ql/test/library-tests/regex/Characters.expected
  python/ql/test/library-tests/regex/FirstLast.expected
  python/ql/test/library-tests/regex/GroupContents.expected
  python/ql/test/library-tests/regex/Regex.expected
  python/ql/test/library-tests/regex/test.py
  python/ql/test/query-tests/Expressions/Regex/test.py
Labels: Mergeback

#649 Query help style guide: editorial review
  docs/query-help-style-guide.md
Labels: documentation

#636 C++: Rename "Incorrect 'not' operator usage"
  change-notes/1.19/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Likely Typos/IncorrectNotOperatorUsage.ql
Labels: C++

#644 CPP: Fix type confusion in IncorrectPointerscaling.ql
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/Security/CWE/CWE-468/IncorrectPointerScaling.ql
  cpp/ql/src/Security/CWE/CWE-468/IncorrectPointerScalingChar.ql
  cpp/ql/src/Security/CWE/CWE-468/IncorrectPointerScalingVoid.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-468/semmle/IncorrectPointerScaling/test_large.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-468/semmle/IncorrectPointerScaling/test_small.cpp
Labels: C++

#650 JavaScript: Avoid unhelpful magic.
  javascript/ql/src/Expressions/DOMProperties.qll
Labels: JS

#653 CPP: Additional change notes (for 1.20)
  change-notes/1.20/analysis-cpp.md
Labels: C++

#609 C#: Autobuilder fixes
  csharp/autobuilder/Semmle.Autobuild.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild/AspBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild/AutobuildOptions.cs
  csharp/autobuilder/Semmle.Autobuild/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild/BuildCommandAutoRule.cs
  csharp/autobuilder/Semmle.Autobuild/BuildCommandRule.cs
  csharp/autobuilder/Semmle.Autobuild/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild/MsBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild/Project.cs
  csharp/autobuilder/Semmle.Autobuild/Solution.cs
  csharp/autobuilder/Semmle.Autobuild/StandaloneBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild/XmlBuildRule.cs
Labels: C#, depends on internal PR

#597 C++: Initial IR-based dataflow implementation
  config/identical-files.json
  cpp/ql/src/filters/ImportAdditionalLibraries.ql
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/PrintAliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/IdentityFunction.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Alias.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FunctionInputsAndOutputs.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/SideEffect.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/IRDataflowTestCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.ql
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Labels: C++

#663 Merge rc/1.19 into next.
  change-notes/1.19/analysis-cpp.md
  change-notes/1.19/analysis-javascript.md
  cpp/ql/src/Likely Bugs/Likely Typos/IncorrectNotOperatorUsage.ql
  csharp/autobuilder/Semmle.Autobuild.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild/AspBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild/AutobuildOptions.cs
  csharp/autobuilder/Semmle.Autobuild/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild/BuildCommandAutoRule.cs
  csharp/autobuilder/Semmle.Autobuild/BuildCommandRule.cs
  csharp/autobuilder/Semmle.Autobuild/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild/MsBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild/Project.cs
  csharp/autobuilder/Semmle.Autobuild/Solution.cs
  csharp/autobuilder/Semmle.Autobuild/StandaloneBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild/XmlBuildRule.cs
  javascript/ql/src/Declarations/MixedStaticInstanceThisAccess.ql
  javascript/ql/src/Expressions/DOMProperties.qll
Labels: Mergeback

#641 CPP: More tests of isSideEffectFree() / ExprHasNoEffect.ql
  cpp/ql/test/library-tests/sideEffects/functions/error.cpp
  cpp/ql/test/library-tests/sideEffects/functions/sideEffects.expected
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/ExprHasNoEffect/ExprHasNoEffect.expected
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/ExprHasNoEffect/expr.cpp
Labels: C++

#660 JS: improve Angularjs alert locations
  javascript/ql/src/AngularJS/DuplicateDependency.ql
  javascript/ql/src/AngularJS/RepeatedInjection.ql
  javascript/ql/src/AngularJS/UnusedAngularDependency.ql
  javascript/ql/test/query-tests/AngularJS/DuplicateDependency/DuplicateDependency.expected
  javascript/ql/test/query-tests/AngularJS/DuplicateDependency/duplicates.js
  javascript/ql/test/query-tests/AngularJS/RepeatedInjection/RepeatedInjection.expected
  javascript/ql/test/query-tests/AngularJS/RepeatedInjection/repeated-injection.js
  javascript/ql/test/query-tests/AngularJS/UnusedAngularDependency/UnusedAngularDependency.expected
  javascript/ql/test/query-tests/AngularJS/UnusedAngularDependency/unused-angular-dependency.js
Labels: JS

#656 JavaScript: Teach `Unused{Variable,Parameter}` to ignore variables with leading underscore.
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/Declarations/UnusedParameter.ql
  javascript/ql/src/Declarations/UnusedParameter.qll
  javascript/ql/src/Declarations/UnusedVariable.ql
  javascript/ql/test/query-tests/Declarations/UnusedParameter/tst.js
  javascript/ql/test/query-tests/Declarations/UnusedVariable/UnusedVariable.expected
  javascript/ql/test/query-tests/Declarations/UnusedVariable/underscore.js
Labels: JS

#581 Query metadata style guide: add to ql/docs
  docs/query-metadata-style-guide.md
Labels: documentation

#637 C#: Fix a bug in `ThrowingCallable`
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionalFlow.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitMethods.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Labels: C#

#673 C#: Sync samples and qltest cases
  csharp/ql/test/query-tests/Nullness/EqualityCheck.expected
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
  csharp/ql/test/query-tests/Nullness/NullMaybeBad.cs
  csharp/ql/test/query-tests/Nullness/NullMaybeGood.cs
Labels: C#

#677 Java: Add deprecation notice to change notes.
  change-notes/1.19/analysis-java.md
Labels: Java, documentation

#632 JS: add crypto.pseudoRandomBytes as source in InsecureRandomness.ql
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/InsecureRandomness.qll
  javascript/ql/test/library-tests/Security/CWE-338/InsecureRandomnessSource.expected
  javascript/ql/test/library-tests/Security/CWE-338/tst.js
Labels: JS

#667 TS: fix extraction of binding pattern with default
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/ql/test/library-tests/TypeScript/BindingPattern/VarDecl.expected
  javascript/ql/test/library-tests/TypeScript/BindingPattern/VarDecl.ql
  javascript/ql/test/library-tests/TypeScript/BindingPattern/tst.tsx
Labels: JS

#659 JS: replace StringLiteral with ConstantString in two queries
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
  javascript/ql/src/semmle/javascript/security/dataflow/CommandInjection.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/child_process-test.js
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/tst.js
Labels: JS

#657 JS: classify additional files
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/GeneratedCode.qll
  javascript/ql/src/semmle/javascript/frameworks/Bundling.qll
  javascript/ql/test/query-tests/filters/ClassifyFiles/AutoRest.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/ClassifyFiles.expected
  javascript/ql/test/query-tests/filters/ClassifyFiles/CodeGenerator.expected
  javascript/ql/test/query-tests/filters/ClassifyFiles/etherpad.html
  javascript/ql/test/query-tests/filters/ClassifyFiles/htmltidy.html
  javascript/ql/test/query-tests/filters/ClassifyFiles/multiple-licenses-3.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/multiple-licenses-4.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/not-multiple-licenses.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/orgmode.html
  javascript/ql/test/query-tests/filters/ClassifyFiles/pandoc.html
  javascript/ql/test/query-tests/filters/ClassifyFiles/purs-bundle.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/purs.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/textmate.html
Labels: JS

#681 C++: Fix name clash in data flow imports
  cpp/ql/src/filters/ImportAdditionalLibraries.ql
Labels: C++

#666 C#: Improve performance of `cs/useless-upcast`
  csharp/ql/src/Language Abuse/UselessUpcast.ql
Labels: C#

#683 C++: Fix all prepareQueries errors and warnings
  cpp/ql/src/Metrics/queries.xml
  cpp/ql/src/semmle/code/cpp/commons/Environment.qll
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
  cpp/ql/src/semmle/code/cpp/security/SensitiveExprs.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTracking.qll
Labels: C++

#687 Merge master into next.
  change-notes/1.20/analysis-javascript.md
  cpp/ql/src/Metrics/queries.xml
  cpp/ql/src/semmle/code/cpp/commons/Environment.qll
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
  cpp/ql/src/semmle/code/cpp/security/SensitiveExprs.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTracking.qll
  csharp/ql/src/Language Abuse/UselessUpcast.ql
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/Concepts.qll
  javascript/ql/src/semmle/javascript/GeneratedCode.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/frameworks/Bundling.qll
  javascript/ql/src/semmle/javascript/frameworks/CookieLibraries.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CommandInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/src/semmle/javascript/security/dataflow/InsecureRandomness.qll
  javascript/ql/test/library-tests/Security/CWE-338/InsecureRandomnessSource.expected
  javascript/ql/test/library-tests/Security/CWE-338/tst.js
  javascript/ql/test/library-tests/frameworks/Concepts/PersistentReadAccess.expected
  javascript/ql/test/library-tests/frameworks/Concepts/PersistentReadAccess.ql
  javascript/ql/test/library-tests/frameworks/Concepts/PersistentReadAccess_getAWrite.expected
  javascript/ql/test/library-tests/frameworks/Concepts/PersistentReadAccess_getAWrite.ql
  javascript/ql/test/library-tests/frameworks/Concepts/PersistentWriteAccess.expected
  javascript/ql/test/library-tests/frameworks/Concepts/PersistentWriteAccess.ql
  javascript/ql/test/library-tests/frameworks/Concepts/persistence.js
  javascript/ql/test/library-tests/frameworks/CookieLibraries/CookieReadAccess.expected
  javascript/ql/test/library-tests/frameworks/CookieLibraries/CookieReadAccess.ql
  javascript/ql/test/library-tests/frameworks/CookieLibraries/CookieReadAccess_getAWrite.expected
  javascript/ql/test/library-tests/frameworks/CookieLibraries/CookieReadAccess_getAWrite.ql
  javascript/ql/test/library-tests/frameworks/CookieLibraries/CookieWriteAccess.expected
  javascript/ql/test/library-tests/frameworks/CookieLibraries/CookieWriteAccess.ql
  javascript/ql/test/library-tests/frameworks/CookieLibraries/tst.js
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/child_process-test.js
  javascript/ql/test/query-tests/Security/CWE-079/StoredXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/stored-xss.js
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/tst.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/AutoRest.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/ClassifyFiles.expected
  javascript/ql/test/query-tests/filters/ClassifyFiles/CodeGenerator.expected
  javascript/ql/test/query-tests/filters/ClassifyFiles/etherpad.html
  javascript/ql/test/query-tests/filters/ClassifyFiles/htmltidy.html
  javascript/ql/test/query-tests/filters/ClassifyFiles/multiple-licenses-3.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/multiple-licenses-4.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/not-multiple-licenses.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/orgmode.html
  javascript/ql/test/query-tests/filters/ClassifyFiles/pandoc.html
  javascript/ql/test/query-tests/filters/ClassifyFiles/purs-bundle.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/purs.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/textmate.html
Labels: Mergeback

#679 C#: Extract stackalloc initializers
  change-notes/1.20/analysis-csharp.md
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Factory.cs
  csharp/ql/test/library-tests/csharp7.3/ArrayCreations.expected
  csharp/ql/test/library-tests/csharp7.3/ArrayCreations.ql
  csharp/ql/test/library-tests/csharp7.3/ArrayElements.expected
  csharp/ql/test/library-tests/csharp7.3/ArrayElements.ql
  csharp/ql/test/library-tests/csharp7.3/csharp73.cs
Labels: C#

#678 JS: add FunctionNode.getThisParameter
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/Receiver/GetReceiver.expected
  javascript/ql/test/library-tests/Receiver/GetReceiver.ql
  javascript/ql/test/library-tests/Receiver/tst.js
Labels: JS

#685 JS: fix FPs in UselessConditional
  javascript/ql/src/Statements/UselessConditional.ql
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.expected
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.js
Labels: JS

#671 JavaScript: Avoid more unhelpful magic.
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#688 Merge master into next.
  change-notes/1.20/analysis-csharp.md
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Factory.cs
  csharp/ql/test/library-tests/csharp7.3/ArrayCreations.expected
  csharp/ql/test/library-tests/csharp7.3/ArrayCreations.ql
  csharp/ql/test/library-tests/csharp7.3/ArrayElements.expected
  csharp/ql/test/library-tests/csharp7.3/ArrayElements.ql
  csharp/ql/test/library-tests/csharp7.3/csharp73.cs
  javascript/ql/src/Statements/UselessConditional.ql
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/Receiver/GetReceiver.expected
  javascript/ql/test/library-tests/Receiver/GetReceiver.ql
  javascript/ql/test/library-tests/Receiver/tst.js
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.expected
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.js
Labels: Mergeback

#690 C++: Delete dead code with warnings in it
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
Labels: C++

#631 JS: add query: js/incomplete-url-regexp
  change-notes/1.20/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-020/IncompleteHostnameRegExp.qhelp
  javascript/ql/src/Security/CWE-020/IncompleteHostnameRegExp.ql
  javascript/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.ql
  javascript/ql/src/Security/CWE-020/examples/IncompleteHostnameRegExp.js
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/src/semmle/javascript/security/dataflow/RegExpInjection.qll
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegExp.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegExp.qlref
  javascript/ql/test/query-tests/Security/CWE-020/tst-IncompleteHostnameRegExp.js
Labels: JS

#642 C#: nullness related extractor refactorings
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Query.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
Labels: C#

#658 C#: Fix extraction bug for variable declarations in for condition
  change-notes/1.20/analysis-csharp.md
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/For.cs
  csharp/ql/test/library-tests/csharp7/CSharp7.cs
  csharp/ql/test/library-tests/csharp7/DefUse.expected
  csharp/ql/test/library-tests/csharp7/IsPatterns.expected
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/csharp7/LocalVariables.expected
Labels: C#

#699 JS: use `.lastIndexOf` in js/incomplete-url-substring-sanitization
  javascript/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.ql
Labels: JS

#700 Mergeback master -> next
  change-notes/1.20/analysis-javascript.md
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-020/IncompleteHostnameRegExp.qhelp
  javascript/ql/src/Security/CWE-020/IncompleteHostnameRegExp.ql
  javascript/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.ql
  javascript/ql/src/Security/CWE-020/examples/IncompleteHostnameRegExp.js
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/src/semmle/javascript/security/dataflow/RegExpInjection.qll
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegExp.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegExp.qlref
  javascript/ql/test/query-tests/Security/CWE-020/tst-IncompleteHostnameRegExp.js
Labels: Mergeback, depends on internal PR

#638 C#: Speedup `Assertions::strictlyDominates()` and `ControlFlowElement::controlsBlock()`
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
Labels: C#

#702 C#: Remove deprecated predicates
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/Stmt.qll
  csharp/ql/src/semmle/code/csharp/Type.qll
  csharp/ql/src/semmle/code/csharp/XML.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/exprs/Access.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/src/semmle/code/csharp/frameworks/Microsoft.qll
  csharp/ql/src/semmle/code/csharp/frameworks/System.qll
  csharp/ql/src/semmle/code/csharp/frameworks/microsoft/Owin.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/CodeDom.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Collections.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Data.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Diagnostics.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/IO.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Reflection.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Runtime.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Text.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Threading.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Web.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Xml.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/codedom/Compiler.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/collections/Generic.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/collections/Specialized.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/data/SqlClient.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/io/Compression.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/runtime/InteropServices.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/threading/Tasks.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/web/Services.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/web/UI.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/web/ui/WebControls.qll
  csharp/ql/src/semmle/code/csharp/frameworks/test/VisualStudio.qll
  csharp/ql/test/library-tests/dataflow/ssa/DefAdjacentUncertainRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/DefAdjacentUncertainRead.ql
  csharp/ql/test/library-tests/dataflow/ssa/ReadAdjacentUncertainRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/ReadAdjacentUncertainRead.ql
  csharp/ql/test/library-tests/dataflow/ssa/SsaAdjacentUncertainRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaAdjacentUncertainRead.ql
Labels: C#

#696 JS: add host as sink for `js/request-forgery`
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/frameworks/Electron.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/src/semmle/javascript/security/dataflow/RequestForgery.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getHost.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getHost.ql
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getUrl.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
  javascript/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
  javascript/ql/test/query-tests/Security/CWE-918/tst.js
Labels: JS

#707 C#: Replace a use of `boundedFastTC` with `fastTC`
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
Labels: C#

#661 C#: Make `cs/dereferenced-value-may-be-null` a path query
  csharp/ql/src/CSI/NullMaybe.ql
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/EqualityCheck.expected
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#689 C#: Remove `getUrl()` predicates
  csharp/ql/src/Useless code/DefaultToString.ql
  csharp/ql/src/semmle/code/cil/Type.qll
  csharp/ql/src/semmle/code/csharp/Element.qll
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/src/semmle/code/csharp/Location.qll
  csharp/ql/src/semmle/code/csharp/Member.qll
  csharp/ql/src/semmle/code/csharp/Namespace.qll
  csharp/ql/src/semmle/code/csharp/Type.qll
  csharp/ql/src/semmle/code/csharp/frameworks/Format.qll
  csharp/ql/test/library-tests/async/Async.expected
  csharp/ql/test/library-tests/expressions/AnonymousObjectCreation3.expected
  csharp/ql/test/library-tests/expressions/AnonymousObjectCreation3.ql
  csharp/ql/test/library-tests/modifiers/Modifiers.expected
  csharp/ql/test/library-tests/namespaces/Namespaces1.expected
  csharp/ql/test/library-tests/namespaces/Namespaces10.expected
  csharp/ql/test/library-tests/namespaces/Namespaces2.expected
  csharp/ql/test/library-tests/namespaces/Namespaces3.expected
  csharp/ql/test/library-tests/namespaces/Namespaces4.expected
  csharp/ql/test/library-tests/namespaces/Namespaces5.expected
  csharp/ql/test/library-tests/namespaces/Namespaces6.expected
  csharp/ql/test/library-tests/namespaces/Namespaces7.expected
  csharp/ql/test/library-tests/namespaces/Namespaces8.expected
  csharp/ql/test/library-tests/types/Types27.ql
  csharp/ql/test/library-tests/types/Types34.expected
  csharp/ql/test/library-tests/types/Types34.ql
Labels: C#

#692 C#: Consider `as` expressions as maybe-`null` in `cs/dereferenced-value-may-be-null`
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#694 C++: Remove infeasible edges to reachable blocks
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/reachability/PrintDominance.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/reachability/ReachableBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/reachability/PrintDominance.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/reachability/ReachableBlock.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/ir/constant_func/constant_func.cpp
  cpp/ql/test/library-tests/ir/constant_func/constant_func.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/ssa_block_count.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ir.expected
Labels: C++

#615 C# extractor: Improve performance by changing the caching
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Accessor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Constructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Event.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Indexer.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Namespace.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NamedType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction/Entity.cs
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Extraction/Symbol.cs
  csharp/ql/test/library-tests/assignables/Assignables.expected
  csharp/ql/test/library-tests/csharp7/TupleTypes.expected
  csharp/ql/test/library-tests/standalone/errorrecovery/ErrorTypes.expected
  csharp/ql/test/library-tests/standalone/errorrecovery/Methods.expected
  csharp/ql/test/library-tests/standalone/errorrecovery/errors.cs
Labels: C#
