Repository github/codeql, pull requests merged in 2019-12, with the labels that each got.

#2442 C#: Add taint-tracking steps through conversion operator calls
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/LocalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/EntityFrameworkCore.cs
Labels: C#

#2479 JavaScript: Introduce `localTaintStep` predicate.
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Labels: JS

#2478 Mergeback from rc/1.23 to master
  change-notes/1.23/analysis-cpp.md
  change-notes/1.23/analysis-java.md
  change-notes/1.23/analysis-javascript.md
  change-notes/1.23/analysis-python.md
  change-notes/1.23/extractor-javascript.md
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck.qhelp
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck.ql
  cpp/ql/src/Security/CWE/CWE-190/ComparisonWithWiderType.ql
  cpp/ql/src/semmle/code/cpp/Enclosing.qll
  cpp/ql/src/semmle/code/cpp/commons/Exclusions.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSAImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSAPublicImports.qll
  cpp/ql/src/semmle/uml/MagicDraw.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSAImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSAPublicImports.qll
  docs/language/learn-ql/cpp/dataflow.rst
  docs/language/learn-ql/ql-training.rst
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/learn-ql/writing-queries/path-queries.rst
  docs/language/learn-ql/writing-queries/writing-queries.rst
  docs/language/ql-training/cpp/snprintf.rst
  docs/language/ql-training/java/apache-struts-java.rst
  docs/language/ql-training/java/global-data-flow-java.rst
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/test/library-tests/dataflow/fields/E.java
  java/ql/test/library-tests/dataflow/fields/flow.expected
  javascript/extractor/src/com/semmle/jcorn/flow/FlowParser.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/flow/input/objectTypeSpread.js
  javascript/extractor/tests/flow/output/trap/objectTypeSpread.js.trap
  javascript/ql/src/semmle/javascript/NodeJS.qll
  python/ql/src/Filters/NotGenerated.ql
  python/ql/src/Filters/NotTest.ql
Labels: C#, C++, JS, Java, Mergeback, Python

#2483 remove java test EmptyInterface
  java/ql/test/query-tests/EmptyInterface/EmptyInterface.expected
  java/ql/test/query-tests/EmptyInterface/EmptyInterface.qlref
  java/ql/test/query-tests/EmptyInterface/IAmAlsoOK.java
  java/ql/test/query-tests/EmptyInterface/IAmBad.java
  java/ql/test/query-tests/EmptyInterface/IAmBadAsWell.java
  java/ql/test/query-tests/EmptyInterface/IAmBadToo.java
  java/ql/test/query-tests/EmptyInterface/IAmNonEmpty.java
  java/ql/test/query-tests/EmptyInterface/IAmNonEmptyAsWell.java
  java/ql/test/query-tests/EmptyInterface/IAmNonEmptyToo.java
  java/ql/test/query-tests/EmptyInterface/IAmOK.java
  java/ql/test/query-tests/EmptyInterface/IAmUseful.java
Labels: Java

#2418 JavaScript: Make `File` not extend `Locatable` anymore.
  javascript/ql/src/semmle/javascript/Files.qll
  javascript/ql/src/semmle/javascript/JSDoc.qll
  javascript/ql/src/semmle/javascript/Locations.qll
  javascript/ql/src/semmle/javascript/dependencies/Dependencies.qll
  javascript/ql/test/library-tests/dependencies/DependencyUses.expected
  javascript/ql/test/query-tests/Metrics/ExternalDependencies/ExternalDependencies.expected
Labels: JS

#2484 JS: Make extractor aware of CodeQL env vars
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/EnvironmentVariables.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Labels: JS

#2481 C#: Fix some IR types that didn't compile.
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/reachability/ReachableBlockInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/TIRVariable.qll
Labels: C#

#2474 C#: Improve performance of dispatch library
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
Labels: C#

#2487 Learning CodeQL docs: add COBOL notes and remove links
  docs/language/global-sphinx-files/global-conf.py
  docs/language/learn-ql/cobol/introduce-libraries-cobol.rst
  docs/language/learn-ql/cobol/ql-for-cobol.rst
  docs/language/ql-training/conf.py
  docs/language/support/cobol-note.rst
  docs/language/support/conf.py
  docs/language/support/framework-support.rst
  docs/language/support/language-support.rst
Labels: documentation

#2490 1.23/sd 4095 finalize change notes csharp
  change-notes/1.23/analysis-csharp.md
Labels: C#, documentation

#2438 C++/C#: use line numbers for instruction IDs
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C#, C++

#2493 Learning CodeQL docs: add COBOL notes and remove links (rc/1.23)
  docs/language/global-sphinx-files/global-conf.py
  docs/language/learn-ql/cobol/introduce-libraries-cobol.rst
  docs/language/learn-ql/cobol/ql-for-cobol.rst
  docs/language/ql-training/conf.py
  docs/language/support/cobol-note.rst
  docs/language/support/conf.py
  docs/language/support/framework-support.rst
  docs/language/support/language-support.rst
Labels: documentation

#2356 Adds CodeQL query to check for insecure RequestValidationMode in ASP.NET
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/Security Features/CWE-016/ASPNetRequestValidationMode.qhelp
  csharp/ql/src/Security Features/CWE-016/ASPNetRequestValidationMode.ql
  csharp/ql/src/Security Features/CWE-016/ASPNetRequestValidationModeBad.config
  csharp/ql/src/Security Features/CWE-016/ASPNetRequestValidationModeGood.config
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetMaxRequestLength/ASPNetMaxRequestLength.cs
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetMaxRequestLength/ASPNetMaxRequestLength.expected
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetMaxRequestLength/ASPNetMaxRequestLength.qlref
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetMaxRequestLength/Web.config
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetMaxRequestLength/bad/Web.config
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetRequestValidationMode/ASPNetRequestValidationMode.expected
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetRequestValidationMode/ASPNetRequestValidationMode.qlref
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetRequestValidationMode/ASPNetRequestValidationModeBad.config
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetRequestValidationMode/ASPNetRequestValidationModeGood.config
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetRequestValidationMode/Program.cs
Labels: C#

#2451 C++/C#: Consistent handling of "may" vs. "must" memory accesses
  cpp/ql/src/semmle/code/cpp/ir/implementation/MemoryAccessKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  csharp/ql/src/semmle/code/csharp/ir/implementation/MemoryAccessKind.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
Labels: C#, C++

#2488 CPP: Speed up SensitiveExprs.qll
  cpp/ql/src/semmle/code/cpp/security/SensitiveExprs.qll
Labels: C++

#2495 C++ tests: generalize arguments tests
  cpp/ql/test/library-tests/arguments/arguments.expected
  cpp/ql/test/library-tests/arguments/arguments.ql
Labels: C++

#2461 CodeQL training: update QL4E links and provide database instructions
  docs/language/ql-training/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training/cpp/bad-overflow-guard.rst
  docs/language/ql-training/cpp/control-flow-cpp.rst
  docs/language/ql-training/cpp/data-flow-cpp.rst
  docs/language/ql-training/cpp/global-data-flow-cpp.rst
  docs/language/ql-training/cpp/intro-ql-cpp.rst
  docs/language/ql-training/cpp/snprintf.rst
  docs/language/ql-training/java/apache-struts-java.rst
  docs/language/ql-training/java/data-flow-java.rst
  docs/language/ql-training/java/global-data-flow-java.rst
  docs/language/ql-training/java/intro-ql-java.rst
  docs/language/ql-training/java/query-injection-java.rst
  docs/language/ql-training/slide-snippets/database-note.rst
  docs/language/ql-training/slide-snippets/intro-ql-general.rst
Labels: documentation

#2496 Merge rc/1.23 into master
  change-notes/1.23/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/reachability/ReachableBlockInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/TIRVariable.qll
  docs/language/learn-ql/cobol/introduce-libraries-cobol.rst
  docs/language/learn-ql/cobol/ql-for-cobol.rst
  docs/language/support/cobol-note.rst
  docs/language/support/conf.py
  docs/language/support/language-support.rst
Labels: Mergeback

#2462 C#: Handle tuple patterns in `is` expressions
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/IsPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Name.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Query.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/VariableDeclaration.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/LocalVariable.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Parameter.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Case.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/ForEach.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/Symbols.cs
  csharp/ql/test/library-tests/regressions/Program.cs
  csharp/ql/test/library-tests/regressions/TypeMentions.expected
Labels: C#

#2497 C#: Remove a Cartesian product
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
Labels: C#

#2454 Java: Allow explicit zero multiplication in java/evaluation-to-constant.
  change-notes/1.24/analysis-java.md
  java/ql/src/Likely Bugs/Arithmetic/ConstantExpAppearsNonConstant.ql
  java/ql/test/query-tests/ConstantExpAppearsNonConstant/ConstantExpAppearsNonConstant.expected
  java/ql/test/query-tests/ConstantExpAppearsNonConstant/Test.java
Labels: Java

#2499 Update supported versions for 1.23 release
  docs/language/support/versions-compilers.csv
Labels: C#, Java, documentation

#2503 CodeQL support docs: remove some full stops
  docs/language/support/versions-compilers.csv
Labels: documentation

#2358 Adds CodeQL query to check for Pages with disabled built-in validation
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/Security Features/CWE-016/ASPNetPagesValidateRequest.qhelp
  csharp/ql/src/Security Features/CWE-016/ASPNetPagesValidateRequest.ql
  csharp/ql/src/Security Features/CWE-016/ASPNetPagesValidateRequestBad.config
  csharp/ql/src/Security Features/CWE-016/ASPNetPagesValidateRequestGood.config
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetPagesValidateRequest/ASPNetPagesValidateRequest.expected
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetPagesValidateRequest/ASPNetPagesValidateRequest.qlref
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetPagesValidateRequest/ASPNetPagesValidateRequestBad.config
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetPagesValidateRequest/ASPNetPagesValidateRequestGood.config
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetPagesValidateRequest/Program.cs
Labels: C#

#2504 C++: Add new queries in 1.23 to legacy suites
  cpp/config/suites/c/correctness
  cpp/config/suites/cpp/correctness
Labels: C++

#2510 C++: Fix getTempVariable join order in IR
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
Labels: C++

#2308 C#: Type-based pruning for data flow
  csharp/ql/src/semmle/code/csharp/Caching.qll
  csharp/ql/src/semmle/code/csharp/Conversion.qll
  csharp/ql/src/semmle/code/csharp/Implements.qll
  csharp/ql/src/semmle/code/csharp/Type.qll
  csharp/ql/src/semmle/code/csharp/Unification.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/cil/dataflow/DataFlow.expected
  csharp/ql/test/library-tests/cil/dataflow/DataFlow.ql
  csharp/ql/test/library-tests/dataflow/call-sensitivity/CallSensitivityFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/A.cs
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/types/Types.cs
  csharp/ql/test/library-tests/dataflow/types/Types.expected
  csharp/ql/test/library-tests/dataflow/types/Types.ql
  csharp/ql/test/query-tests/Likely Bugs/UnsafeYearConstruction/UnsafeYearConstruction.expected
  csharp/ql/test/query-tests/Security Features/CWE-022/TaintedPath/TaintedPath.expected
  csharp/ql/test/query-tests/Security Features/CWE-022/ZipSlip/ZipSlip.expected
  csharp/ql/test/query-tests/Security Features/CWE-078/CommandInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-078/StoredCommandInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/StoredXSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-089/SecondOrderSqlInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-090/LDAPInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-090/StoredLDAPInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-094/CodeInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-099/ResourceInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-112/MissingXMLValidation.expected
  csharp/ql/test/query-tests/Security Features/CWE-117/LogForging.expected
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.expected
  csharp/ql/test/query-tests/Security Features/CWE-201/ExposureInTransmittedData/ExposureInTransmittedData.expected
  csharp/ql/test/query-tests/Security Features/CWE-209/ExceptionInformationExposure.expected
  csharp/ql/test/query-tests/Security Features/CWE-327/DontInstallRootCert/DontInstallRootCert.expected
  csharp/ql/test/query-tests/Security Features/CWE-338/InsecureRandomness.expected
  csharp/ql/test/query-tests/Security Features/CWE-502/UnsafeDeserializationUntrustedInput/UnsafeDeserializationUntrustedInput.expected
  csharp/ql/test/query-tests/Security Features/CWE-601/UrlRedirect/UrlRedirect.expected
  csharp/ql/test/query-tests/Security Features/CWE-611/UntrustedDataInsecureXml.expected
  csharp/ql/test/query-tests/Security Features/CWE-643/StoredXPathInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-643/XPathInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-730/ReDoS/ReDoS.expected
  csharp/ql/test/query-tests/Security Features/CWE-730/ReDoSGlobalTimeout/ReDoS.expected
  csharp/ql/test/query-tests/Security Features/CWE-730/RegexInjection/RegexInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-798/HardcodedConnectionString.expected
  csharp/ql/test/query-tests/Security Features/CWE-798/HardcodedCredentials.expected
  csharp/ql/test/query-tests/Security Features/CWE-807/ConditionalBypass.expected
  csharp/ql/test/query-tests/Security Features/CWE-838/InappropriateEncoding.expected
Labels: C#

#2411 JS: Type-track regexp objects and more fine-grained sanitizer guards
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/TaintBarriers/SanitizingGuard.expected
  javascript/ql/test/library-tests/TaintBarriers/TaintedSink.expected
  javascript/ql/test/library-tests/TaintBarriers/isBarrier.expected
  javascript/ql/test/library-tests/TaintBarriers/tst.js
  javascript/ql/test/query-tests/Security/CWE-079/ExceptionXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/ServerSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/koa.js
Labels: JS

#1914 docs: make a start on query debugging topic
  docs/language/learn-ql/writing-queries/debugging-queries.rst
  docs/language/learn-ql/writing-queries/writing-queries.rst
Labels: documentation

#2509 TS: Rename type table trap to avoid name clash
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Labels: JS

#2515 Python: Fix bad join order in `py/ineffectual-statement`.
  python/ql/src/Statements/StatementNoEffect.ql
Labels: Python

#2511 C++: Compute isInCycle only for raw IR
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C++

#2523 Mergeback 1.23 -> master
  cpp/config/suites/c/correctness
  cpp/config/suites/cpp/correctness
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  docs/language/learn-ql/writing-queries/debugging-queries.rst
  docs/language/learn-ql/writing-queries/writing-queries.rst
  docs/language/ql-training/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training/cpp/bad-overflow-guard.rst
  docs/language/ql-training/cpp/control-flow-cpp.rst
  docs/language/ql-training/cpp/data-flow-cpp.rst
  docs/language/ql-training/cpp/global-data-flow-cpp.rst
  docs/language/ql-training/cpp/intro-ql-cpp.rst
  docs/language/ql-training/cpp/snprintf.rst
  docs/language/ql-training/java/apache-struts-java.rst
  docs/language/ql-training/java/data-flow-java.rst
  docs/language/ql-training/java/global-data-flow-java.rst
  docs/language/ql-training/java/intro-ql-java.rst
  docs/language/ql-training/java/query-injection-java.rst
  docs/language/ql-training/slide-snippets/database-note.rst
  docs/language/ql-training/slide-snippets/intro-ql-general.rst
  docs/language/support/versions-compilers.csv
Labels: Mergeback

#2520 JavaScript: Fix characteristic predicate of `XMLParent`.
  javascript/ql/src/semmle/javascript/XML.qll
Labels: JS

#2528 CPP: Resolve some hidden queries
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/Architecture/FeatureEnvy.ql
  cpp/ql/src/Architecture/InappropriateIntimacy.ql
  cpp/ql/src/Architecture/Refactoring Opportunities/ClassesWithManyFields.ql
  cpp/ql/src/Best Practices/Magic Constants/JapaneseEraDate.ql
Labels: C++

#2491 C++: handle global vars in DefaultTaintTracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#2514 C#: Recognize Code Contract assertions
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Diagnostics.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/diagnostics/Contracts.qll
  csharp/ql/test/library-tests/commons/Assertions/Assertions.cs
  csharp/ql/test/library-tests/commons/Assertions/Assertions.expected
  csharp/ql/test/library-tests/commons/Assertions/Assertions.ql
  csharp/ql/test/library-tests/commons/Assertions/FailingAssertion.expected
Labels: C#

#2533 Add NetBSD/Solaris allocation functions.
  cpp/ql/src/semmle/code/cpp/commons/Alloc.qll
Labels: C++

#2536 Docs: Update references to QL for Eclipse
  CONTRIBUTING.md
  docs/language/learn-ql/ql-training.rst
  docs/language/ql-training/cpp/intro-ql-cpp.rst
  docs/language/ql-training/template.rst
  docs/ql-style-guide.md
Labels: documentation

#2529 Java: Fix characteristic predicate of `XMLParent`.
  java/ql/src/semmle/code/xml/XML.qll
Labels: Java

#2341 Java: Fix a number of performance issues when toString is cached.
  java/ql/src/Violations of Best Practice/Boxed Types/BoxedVariable.ql
  java/ql/src/semmle/code/Location.qll
  java/ql/src/semmle/code/java/deadcode/DeadCode.qll
  java/ql/src/semmle/code/java/frameworks/gwt/GWT.qll
Labels: Java

#2535 Python: Fix characteristic predicate of `XMLParent`
  python/ql/src/semmle/python/xml/XML.qll
Labels: Python

#2534 C++: Fix characteristic predicate of `XMLParent`.
  cpp/ql/src/semmle/code/cpp/XML.qll
  cpp/ql/test/library-tests/files/FilePath.expected
  cpp/ql/test/library-tests/files/FilePath.ql
  cpp/ql/test/library-tests/files/Files.expected
  cpp/ql/test/library-tests/files/Files.ql
  cpp/ql/test/library-tests/files/Files1.expected
  cpp/ql/test/library-tests/files/Files1.ql
  cpp/ql/test/library-tests/files/Files2.expected
  cpp/ql/test/library-tests/files/Files2.ql
  cpp/ql/test/library-tests/files/Files3.expected
  cpp/ql/test/library-tests/files/Files3.ql
  cpp/ql/test/library-tests/files/Files4.expected
  cpp/ql/test/library-tests/files/Files4.ql
Labels: C++

#2545 Docs: Update mention of "QL for Eclipse"
  CONTRIBUTING.md
Labels: documentation

#2538 C#: Add missing `toString()` relations
  csharp/ql/src/semmle/code/csharp/XML.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/GlobalDataFlow.cs
  csharp/ql/test/library-tests/linq/Linq1.expected
  csharp/ql/test/library-tests/standalone/controlflow/cfg.expected
  csharp/ql/test/library-tests/standalone/errorrecovery/ErrorCalls.expected
Labels: C#

#2482 Python: include zope web tests from internal repo
  python/ql/test/library-tests/web/zope/Test.expected
  python/ql/test/library-tests/web/zope/Test.ql
  python/ql/test/library-tests/web/zope/options
  python/ql/test/library-tests/web/zope/test.py
  python/ql/test/query-tests/Security/lib/zope/__init__.py
  python/ql/test/query-tests/Security/lib/zope/interface/__init__.py
Labels: Python, depends on internal PR

#2469 Python: modernise twisted library
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/web/flask/Response.qll
  python/ql/src/semmle/python/web/pyramid/Response.qll
  python/ql/src/semmle/python/web/twisted/Request.qll
  python/ql/src/semmle/python/web/twisted/Response.qll
  python/ql/src/semmle/python/web/twisted/Twisted.qll
  python/ql/test/library-tests/web/twisted/Classes.expected
  python/ql/test/library-tests/web/twisted/Classes.ql
  python/ql/test/library-tests/web/twisted/Methods.expected
  python/ql/test/library-tests/web/twisted/Methods.ql
  python/ql/test/library-tests/web/twisted/Sinks.expected
  python/ql/test/library-tests/web/twisted/Sinks.ql
  python/ql/test/library-tests/web/twisted/Sources.expected
  python/ql/test/library-tests/web/twisted/Sources.ql
  python/ql/test/library-tests/web/twisted/Taint.expected
  python/ql/test/library-tests/web/twisted/Taint.ql
  python/ql/test/library-tests/web/twisted/options
  python/ql/test/library-tests/web/twisted/test.py
  python/ql/test/query-tests/Security/lib/twisted/__init__.py
  python/ql/test/query-tests/Security/lib/twisted/web/__init__.py
  python/ql/test/query-tests/Security/lib/twisted/web/http.py
  python/ql/test/query-tests/Security/lib/twisted/web/resource.py
Labels: Python, depends on internal PR

#2552 JS: add support for import.meta expressions in JavaScript
  change-notes/1.24/analysis-javascript.md
  change-notes/1.24/extractor-javascript.md
  javascript/extractor/src/com/semmle/jcorn/ESNextParser.java
  javascript/extractor/src/com/semmle/js/ast/MetaProperty.java
  javascript/ql/test/library-tests/Modules/ImportMeta.qll
  javascript/ql/test/library-tests/Modules/importmeta.js
  javascript/ql/test/library-tests/Modules/tests.expected
  javascript/ql/test/library-tests/Modules/tests.ql
Labels: JS

#2531 C++: Fix `toString()` predicates that don't hold
  cpp/ql/src/semmle/code/cpp/NameQualifiers.qll
  cpp/ql/src/semmle/code/cpp/Preprocessor.qll
  cpp/ql/test/library-tests/CPP-205/elements.expected
  cpp/ql/test/library-tests/clang_ms/element.expected
  cpp/ql/test/library-tests/conditions/elements.expected
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
  cpp/ql/test/library-tests/macros/inmacroexpansion/inmacroexpansion.expected
  cpp/ql/test/library-tests/ptr_to_member/segfault/exprs.ql
  cpp/ql/test/library-tests/templates/CPP-204/element.expected
  cpp/ql/test/library-tests/templates/instantiations_functions/elements.expected
  cpp/ql/test/library-tests/unnamed/elements.expected
  cpp/ql/test/library-tests/unnamed/elements.ql
Labels: C++

#2519 C++: Get rid of a fastTC and noopt in IR
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
Labels: C++

#2547 QL tutorials: Update formatting and style
  docs/language/learn-ql/beginner/find-thief-1.rst
  docs/language/learn-ql/beginner/find-thief-2.rst
  docs/language/learn-ql/beginner/fire-1.rst
  docs/language/learn-ql/beginner/fire-2.rst
  docs/language/learn-ql/beginner/heir.rst
  docs/language/learn-ql/beginner/ql-tutorials.rst
Labels: documentation

#2551 C++: Alert suppression through single-line /* */ style comments
  cpp/ql/src/AlertSuppression.ql
  cpp/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  cpp/ql/test/query-tests/AlertSuppression/tst.c
  cpp/ql/test/query-tests/AlertSuppression/tstWindows.c
Labels: C++

#2259 C++: move sources into DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Fread.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Printf.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C++

#2463 CPP: Allocation and Deallocation libraries
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/Critical/MemoryFreed.qll
  cpp/ql/src/Critical/MemoryMayNotBeFreed.ql
  cpp/ql/src/Critical/MemoryNeverFreed.ql
  cpp/ql/src/Critical/OverflowCalculated.ql
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
  cpp/ql/src/semmle/code/cpp/commons/Alloc.qll
  cpp/ql/src/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Deallocation.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Allocation.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Deallocation.qll
  cpp/ql/test/library-tests/allocators/allocators.cpp
  cpp/ql/test/library-tests/allocators/allocators.expected
  cpp/ql/test/library-tests/allocators/allocators.ql
  cpp/ql/test/query-tests/Critical/OverflowCalculated/NoSpaceForZeroTerminator.expected
  cpp/ql/test/query-tests/Critical/OverflowCalculated/tests1.cpp
  cpp/ql/test/query-tests/Critical/OverflowCalculated/tests3.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/OverrunWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/tests2.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/NoSpaceForZeroTerminator.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test2.cpp
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 79/AV Rule 79.cpp
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 79/AV Rule 79.expected
Labels: C++

#2557 C# extractor: Catch exceptions when generating trap
  csharp/extractor/Semmle.Extraction.CIL/Factories.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entity.cs
  csharp/extractor/Semmle.Extraction/TrapExtensions.cs
Labels: C#

#2154 C++: add InitializeIndirection for pointer params
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Operand.qll
Labels: C++

#2512 JS: expand the js/exception-xss to handle more types of exceptional flow
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ExceptionXss.qll
  javascript/ql/test/query-tests/Security/CWE-079/ExceptionXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/exception-xss.js
Labels: JS

#2542 C++: Sort through the leap year and japanese era queries
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/Best Practices/Magic Constants/JapaneseEraDate.ql
  cpp/ql/src/Likely Bugs/Leap Year/Adding365DaysPerYear.ql
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification.ql
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
  cpp/ql/src/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYear.ql
  cpp/ql/src/semmle/code/cpp/commons/DateTime.qll
Labels: C++
