Repository github/codeql, pull requests merged in 2019-09, with the labels that each got.

#1850 C#: Remove reference equality check
  csharp/extractor/Semmle.Extraction/Entities/Assembly.cs
Labels: C#

#1828 JS: Make getDocumentation handle chain assignments
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/test/query-tests/JSDoc/JSDocForNonExistentParameter/JSDocForNonExistentParameter.expected
  javascript/ql/test/query-tests/JSDoc/JSDocForNonExistentParameter/tst.js
Labels: JS

#1707 JS: Type-tracking through global access paths
  change-notes/1.23/analysis-javascript.md
  javascript/externs/es/es5.js
  javascript/ql/src/semmle/javascript/Closure.qll
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/tests.expected
  javascript/ql/test/library-tests/Closure/CallGraph.ql
  javascript/ql/test/library-tests/Closure/moduleImport.expected
  javascript/ql/test/library-tests/DataFlow/noBasicBlock.expected
  javascript/ql/test/library-tests/DataFlow/sources.expected
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.expected
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
  javascript/ql/test/library-tests/TypeTracking/tst.js
  javascript/ql/test/library-tests/TypeTracking/tst_conflict.js
Labels: JS

#1787 C++: Local field flow using global library
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Labels: C++

#1852 JavaScript: Fix parsing of asynchronous generator methods.
  change-notes/1.23/extractor-javascript.md
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/es2018/input/asyncIter.js
  javascript/extractor/tests/es2018/output/trap/asyncIter.js.trap
  javascript/ql/test/library-tests/ES20xxFeatures/ES20xxFeatures.expected
  javascript/ql/test/library-tests/ES20xxFeatures/es2018.js
Labels: JS

#1772 C++: Support nested field flow
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/fields/complex.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Labels: C++

#1856 TS: Fixes in base type relation
  javascript/extractor/lib/typescript/src/type_table.ts
  javascript/ql/src/semmle/javascript/CanonicalNames.qll
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/BaseTypes.expected
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/BaseTypes.ql
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/node_modules/@types/mylib/index.d.ts
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/options
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/tst.ts
Labels: JS

#1854 JS: Raise precision of prototype pollution query
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/Security/CWE-400/PrototypePollution.ql
Labels: JS

#1855 C++: Update tests for lambda description changes
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Labels: C++, depends on internal PR

#1859 CPP: Document PartialDefinitions
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.cpp
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.expected
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.ql
Labels: C++

#1847 CPP: Deal with two very similar Japanese era queries
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/Best Practices/Magic Constants/JapaneseEraDate.qhelp
  cpp/ql/src/Best Practices/Magic Constants/JapaneseEraDate.ql
  cpp/ql/src/Likely Bugs/JapaneseEra/ConstructorOrMethodWithExactEraDate.ql
  cpp/ql/src/Likely Bugs/JapaneseEra/StructWithExactEraDate.ql
  cpp/ql/src/Likely Bugs/Memory Management/PotentialBufferOverflow.ql
  cpp/ql/src/Likely Bugs/OO/NonVirtualDestructor.ql
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/ConstructorOrMethodWithExactDate.cpp
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/JapaneseEraDate.expected
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/JapaneseEraDate.qlref
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/StructWithExactDate.cpp
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/ConstructorOrMethodWithExactEraDate.qlref
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/StructWithExactEraDate.expected
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/StructWithExactEraDate.qlref
Labels: C++

#1868 CPP: Tiny fixes
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qll
  cpp/ql/src/Security/CWE/CWE-190/ComparisonWithWiderType.ql
Labels: C++

#1867 CPP: Add date to JapaneseEraDate.ql
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/Best Practices/Magic Constants/JapaneseEraDate.ql
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/ConstructorOrMethodWithExactDate.cpp
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/JapaneseEraDate.expected
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/StructWithExactDate.cpp
Labels: C++

#1842 docs: add rst versions of java training slides
  docs/language/ql-training-rst/_static-training/java-data-flow-code-example.svg
  docs/language/ql-training-rst/_static-training/java-expression-ast.svg
  docs/language/ql-training-rst/_static-training/mismatched-calls-and-returns.svg
  docs/language/ql-training-rst/_static-training/slides-semmle-2/layout.html
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training-rst/cpp/bad-overflow-guard.rst
  docs/language/ql-training-rst/cpp/control-flow-cpp.rst
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/intro-ql-cpp.rst
  docs/language/ql-training-rst/cpp/program-representation-cpp.rst
  docs/language/ql-training-rst/cpp/snprintf.rst
  docs/language/ql-training-rst/index.rst
  docs/language/ql-training-rst/java/apache-struts-java.rst
  docs/language/ql-training-rst/java/data-flow-java.rst
  docs/language/ql-training-rst/java/global-data-flow-java.rst
  docs/language/ql-training-rst/java/intro-ql-java.rst
  docs/language/ql-training-rst/java/program-representation-java.rst
  docs/language/ql-training-rst/java/query-injection-java.rst
  docs/language/ql-training-rst/query-examples/java/data-flow-java-1.ql
  docs/language/ql-training-rst/query-examples/java/data-flow-java-2.ql
  docs/language/ql-training-rst/query-examples/java/global-data-flow-java-1.ql
  docs/language/ql-training-rst/query-examples/java/query-injection-java-1.ql
  docs/language/ql-training-rst/query-examples/java/query-injection-java-2.ql
  docs/language/ql-training-rst/query-examples/java/query-injection-java-3.ql
  docs/language/ql-training-rst/slide-snippets/abstract-syntax-tree.rst
  docs/language/ql-training-rst/slide-snippets/global-data-flow-extra-slides.rst
  docs/language/ql-training-rst/slide-snippets/global-data-flow.rst
  docs/language/ql-training-rst/slide-snippets/local-data-flow.rst
  docs/language/ql-training-rst/slide-snippets/path-queries.rst
  docs/language/ql-training-rst/slide-snippets/snapshot-note.rst
  docs/language/ql-training-rst/template.rst
Labels: documentation

#1806 C++: Add localExprFlow and localExprTaint
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/Critical/NewDelete.qll
  cpp/ql/src/Critical/OverflowStatic.ql
  cpp/ql/src/Likely Bugs/Conversion/LossyFunctionResultCast.ql
  cpp/ql/src/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean.ql
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
  cpp/ql/src/semmle/code/cpp/dataflow/DataFlow.qll
  cpp/ql/src/semmle/code/cpp/dataflow/TaintTracking.qll
  cpp/ql/src/semmle/code/cpp/dataflow/TaintTracking2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#1866 C++: Tests for aliasing of nested structs
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Labels: C++

#1873 JS: Make type inference step through SSA definitions
  javascript/ql/src/semmle/javascript/dataflow/internal/VariableTypeInference.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/tests.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
Labels: JS

#1862 JS: More prototype pollution sinks
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/Security/CWE-400/PrototypePollution.ql
  javascript/ql/src/semmle/javascript/Extend.qll
  javascript/ql/src/semmle/javascript/JsonParsers.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
  javascript/ql/test/library-tests/JsonParsers/JsonParserCalls.expected
  javascript/ql/test/library-tests/JsonParsers/angular.js
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollution.expected
  javascript/ql/test/query-tests/Security/CWE-400/angularmerge.js
Labels: JS

#1880 C++: Pull some of library-tests/dataflow/dataflow-tests into clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
Labels: C++

#1874 JS: Add types to Express model
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/test/library-tests/frameworks/Express/RequestExpr.qll
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
  javascript/ql/test/library-tests/frameworks/Express/tsconfig.json
  javascript/ql/test/library-tests/frameworks/Express/typed_src/shim.d.ts
  javascript/ql/test/library-tests/frameworks/Express/typed_src/tst.ts
Labels: JS

#1777 C++: Don't use definitionByReference for data flow
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Labels: C++

#1887 docs: a couple of slide fixes
  docs/language/ql-training/_static-training/setup-slide.svg
  docs/language/ql-training/_static-training/slides-semmle-2/static/theme/css/default.css
Labels: documentation

#1890 Java: Restrict the output of Range Analysis to the best bounds.
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
Labels: Java

#1869 Python: Prevent divergence in type-hint analysis. (ODASA-8075)
  python/ql/src/semmle/python/objects/Callables.qll
  python/ql/src/semmle/python/objects/Classes.qll
  python/ql/src/semmle/python/objects/Constants.qll
  python/ql/src/semmle/python/objects/Descriptors.qll
  python/ql/src/semmle/python/objects/Instances.qll
  python/ql/src/semmle/python/objects/Modules.qll
  python/ql/src/semmle/python/objects/ObjectInternal.qll
  python/ql/src/semmle/python/objects/Sequences.qll
  python/ql/src/semmle/python/objects/TObject.qll
  python/ql/test/3/library-tests/PointsTo/typehints/Values.expected
  python/ql/test/3/library-tests/PointsTo/typehints/test.py
Labels: Python

#1797 C++/C#/Java: data flow AccessPath up to length 2
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/test/library-tests/dataflow/fields/B.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/query-tests/Likely Bugs/Conversion/CastArrayPointerArithmetic/CastArrayPointerArithmetic.expected
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/fields/B.cs
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/test/library-tests/dataflow/fields/B.java
  java/ql/test/library-tests/dataflow/fields/flow.expected
  java/ql/test/library-tests/dataflow/partial/test.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTaintedLocal.expected
Labels: C#, C++, Java

#1901 docs: fix broken `Expr` links
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
Labels: C++, documentation

#1885 C++: Add D.cpp, ported from D.java
  cpp/ql/test/library-tests/dataflow/fields/D.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Labels: C++

#1900 C++: Fix flow out of `this` by reference
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Labels: C++

#1871 JS: Type tracking through imports
  javascript/ql/src/Declarations/DeadStoreOfLocal.ql
  javascript/ql/src/semmle/javascript/DefUse.qll
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/test/library-tests/DataFlow/flowStep.expected
  javascript/ql/test/library-tests/DefUse/VarDefSource.expected
  javascript/ql/test/library-tests/ModuleImportNodes/TSGlobalImport.expected
  javascript/ql/test/library-tests/ModuleImportNodes/tests.expected
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.expected
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
  javascript/ql/test/library-tests/TypeTracking/client.js
  javascript/ql/test/library-tests/TypeTracking/tst.js
  javascript/ql/test/library-tests/frameworks/ReactJS/tests.expected
  javascript/ql/test/query-tests/Declarations/DeadStoreOfLocal/computedInterfaceProperty.ts
  javascript/ql/test/query-tests/Declarations/DeadStoreOfLocal/exportSymbol.ts
Labels: JS

#1906 docs: update readme following recent project changes
  docs/language/README.rst
Labels: documentation

#1892 JS: Add event handler sinks to CodeInjection
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/tst.js
Labels: JS

#1894 JS: Fix FP in incorrect suffix check
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/Security/CWE-020/IncorrectSuffixCheck.ql
  javascript/ql/test/query-tests/Security/CWE-020/tst.js
Labels: JS

#1845 C# IR: Framework for translating compiler generated elements
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCondition.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclaration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedCallBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedConditionBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedDeclarationBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedExprBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Common.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Delegate.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Foreach.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Lock.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Using.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedCondition.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedDeclaration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRUtilities.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/TempVariableTag.qll
  csharp/ql/test/library-tests/ir/ir/delegates.cs
  csharp/ql/test/library-tests/ir/ir/foreach.cs
  csharp/ql/test/library-tests/ir/ir/lock.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C#

#1905 C++: Resolve all classes
  cpp/ql/src/semmle/code/cpp/internal/ResolveClass.qll
  cpp/ql/test/library-tests/structs/qualified_names/pointerBaseType.expected
Labels: C++

#1888 C++: Hide that IR DataFlow::Node is Instruction
  cpp/ql/src/semmle/code/cpp/ir/dataflow/TaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#1908 QL handbook: Add examples and fix typos
  docs/language/ql-handbook/predicates.rst
  docs/language/ql-handbook/queries.rst
  docs/language/ql-handbook/types.rst
Labels: documentation

#1907 JS: Add type tracking and type info to mongodb/mongoose models
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/typed/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/typed/SqlInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-089/typed/shim.d.ts
  javascript/ql/test/query-tests/Security/CWE-089/typed/tsconfig.json
  javascript/ql/test/query-tests/Security/CWE-089/typed/typedClient.ts
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongodb.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongodb_bodySafe.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongooseJsonParse.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongooseModel.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongooseModelClient.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/node-postgres-LICENSE
  javascript/ql/test/query-tests/Security/CWE-089/untyped/node-sqlite3-LICENSE
  javascript/ql/test/query-tests/Security/CWE-089/untyped/socketio.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/tst.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/tst2.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/tst3.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/tst4.js
Labels: JS

#1883 C++: Don't create partial defs for calls to const functions
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.cpp
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.expected
Labels: C++

#1876 JS: whitelist quote stripping for js/incomplete-sanitization
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/tst.js
Labels: JS

#1857 C# IR: More support for `ForStmt`s
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedCallBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedConditionBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedDeclarationBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedExprBase.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/stmts.cs
Labels: C#

#1910 JavaScript: Add new query `UnusedIndexVariable`.
  change-notes/1.23/analysis-javascript.md
  javascript/config/suites/javascript/correctness-core
  javascript/ql/src/Declarations/UnusedVariable.qll
  javascript/ql/src/LanguageFeatures/UnusedIndexVariable.qhelp
  javascript/ql/src/LanguageFeatures/UnusedIndexVariable.ql
  javascript/ql/src/LanguageFeatures/UnusedIndexVariable.qll
  javascript/ql/src/LanguageFeatures/examples/UnusedIndexVariable.js
  javascript/ql/src/LanguageFeatures/examples/UnusedIndexVariableGood.js
  javascript/ql/src/LanguageFeatures/examples/UnusedIndexVariableGood2.js
  javascript/ql/test/query-tests/Declarations/UnusedVariable/UnusedIndexVariable.js
  javascript/ql/test/query-tests/LanguageFeatures/UnusedIndexVariable/UnusedIndexVariable.expected
  javascript/ql/test/query-tests/LanguageFeatures/UnusedIndexVariable/UnusedIndexVariable.js
  javascript/ql/test/query-tests/LanguageFeatures/UnusedIndexVariable/UnusedIndexVariable.qlref
  javascript/ql/test/query-tests/LanguageFeatures/UnusedIndexVariable/UnusedIndexVariable2.js
  javascript/ql/test/query-tests/LanguageFeatures/UnusedIndexVariable/UnusedIndexVariableGood.js
  javascript/ql/test/query-tests/LanguageFeatures/UnusedIndexVariable/UnusedIndexVariableGood2.js
  javascript/ql/test/query-tests/LanguageFeatures/UnusedIndexVariable/tst.js
Labels: JS

#1912 C++: Stub replacement for security.TaintTracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTracking.qll
Labels: C++

#1886 C++: Get IR taint tracking library in sync
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/TaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/TaintTracking2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingParameter.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingParameter.qll
Labels: C++

#1904 JS: add model for passport.use in the Express model
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/test/library-tests/frameworks/Express/src/passport.js
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
Labels: JS

#1919 JS: simplify `getStringValue()` calls
  javascript/ql/src/Declarations/DeadStore.qll
  javascript/ql/src/Expressions/HapaxLegomenon.ql
  javascript/ql/src/Security/CWE-798/HardcodedCredentials.ql
  javascript/ql/src/semmle/javascript/AMD.qll
  javascript/ql/src/semmle/javascript/Closure.qll
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/NodeJS.qll
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dependencies/FrameworkLibraries.qll
  javascript/ql/src/semmle/javascript/frameworks/Electron.qll
  javascript/ql/src/semmle/javascript/frameworks/xUnit.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/library-tests/StringConcatenation/ContainsTwo.ql
  javascript/ql/test/library-tests/TypeScript/Namespaces/CheckBindings.ql
  javascript/ql/test/tutorials/Validating RAML-based APIs/Osprey.qll
Labels: JS

#1930 docs: update some links in a couple of javascript topics
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
Labels: JS, documentation

#1922 C++: Add PointerToFieldLiteral class
  cpp/ql/src/semmle/code/cpp/exprs/Access.qll
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/drawDifferent.expected
  cpp/ql/test/library-tests/syntax-zoo/pointer_to_member.cpp
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
Labels: C++

#1875 JS: improve hardcoded password FP filters
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/Security/CWE-313/PasswordInConfigurationFile.ql
  javascript/ql/src/Security/CWE-798/HardcodedCredentials.ql
  javascript/ql/src/semmle/javascript/security/SensitiveActions.qll
  javascript/ql/test/library-tests/SensitiveActions/DummyPasswords.expected
  javascript/ql/test/library-tests/SensitiveActions/DummyPasswords.ql
  javascript/ql/test/query-tests/Security/CWE-313/PasswordInConfigurationFile.expected
  javascript/ql/test/query-tests/Security/CWE-313/mysql-config.json
  javascript/ql/test/query-tests/Security/CWE-313/tst.yml
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.js
Labels: JS

#1936 C# extractor: Handle nameof(A.B) where A.B is a qualified namespace
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/MemberAccess.cs
  csharp/ql/test/library-tests/regressions/NameOf.expected
  csharp/ql/test/library-tests/regressions/Program.cs
Labels: C#

#1939 Update remaining links to LGTM blog
  docs/language/ql-training/java/apache-struts-java.rst
  docs/language/ql-training/java/global-data-flow-java.rst
Labels: documentation

#1945 CPP: Add a test of ConditionalDeclExpr.
  cpp/ql/test/library-tests/exprs/conditional_decl/conditionaldeclexpr.cpp
  cpp/ql/test/library-tests/exprs/conditional_decl/conditionaldeclexpr.expected
  cpp/ql/test/library-tests/exprs/conditional_decl/conditionaldeclexpr.ql
Labels: C++

#1947 C++: Autoformat five files
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
  cpp/upgrades/814fae599505510ff15102f4c72600586734770a/lambda_capture.ql
  cpp/upgrades/cac7e92107084af19112986145f72b8de646c39d/values.ql
  cpp/upgrades/cac7e92107084af19112986145f72b8de646c39d/valuetext.ql
Labels: C++

#1941 JavaScript: Fix performance regression in `IncorrectSuffixCheck`.
  javascript/ql/src/Security/CWE-020/IncorrectSuffixCheck.ql
Labels: JS

#1946 JavaScript: Add support for top-level `await`.
  change-notes/1.23/extractor-javascript.md
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/esnext/input/top-level-await.js
  javascript/extractor/tests/esnext/output/trap/top-level-await.js.trap
Labels: JS

#1918 JS: some getAResponseDataNode improvements
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/Security/CWE-078/CommandInjection.ql
  javascript/ql/src/Security/CWE-912/HttpToFileAccess.ql
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/heuristics/AdditionalSources.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CommandInjectionCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/HttpToFileAccessCustomizations.qll
  javascript/ql/test/library-tests/frameworks/NodeJSLib/tests.expected
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/third-party-command-injection.js
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.ql
Labels: JS

#1948 C#: Autoformat
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedCallBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedExprBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Using.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRUtilities.qll
  csharp/ql/test/library-tests/controlflow/guards/Collections.ql
Labels: C#

#1940 Java/C++/C#: Simplify `PathNode` successor logic
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/query-tests/Likely Bugs/UnsafeYearConstruction/UnsafeYearConstruction.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-094/CodeInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.expected
  csharp/ql/test/query-tests/Security Features/CWE-201/ExposureInTransmittedData/ExposureInTransmittedData.expected
  csharp/ql/test/query-tests/Security Features/CWE-209/ExceptionInformationExposure.expected
  csharp/ql/test/query-tests/Security Features/CWE-312/CleartextStorage.expected
  csharp/ql/test/query-tests/Security Features/CWE-359/ExposureOfPrivateInformation.expected
  csharp/ql/test/query-tests/Security Features/CWE-798/HardcodedConnectionString.expected
  csharp/ql/test/query-tests/Security Features/CWE-798/HardcodedCredentials.expected
  csharp/ql/test/query-tests/Security Features/CWE-838/InappropriateEncoding.expected
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayIndexCodeSpecified.expected
  java/ql/test/query-tests/security/CWE-327/semmle/tests/BrokenCryptoAlgorithm.expected
  java/ql/test/query-tests/security/CWE-327/semmle/tests/MaybeBrokenCryptoAlgorithm.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-611/XXE.expected
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedCredentialsApiCall.expected
Labels: depends on internal PR

#1951 C++: Fix HashCons library performance
  cpp/ql/src/semmle/code/cpp/valuenumbering/HashCons.qll
Labels: C++

#1952 Merge rc/1.22 into master
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/global/Capture.cs
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
  docs/language/ql-training/java/apache-struts-java.rst
  docs/language/ql-training/java/global-data-flow-java.rst
Labels: Mergeback

#1929 C#: Fix CFG for nested `finally` blocks
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/CatchInFinally.cs
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Finally.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/graph/cflow.cs
Labels: C#

#1958 docs: a few slide improvements
  docs/language/README.rst
  docs/language/learn-ql/ql-training.rst
  docs/language/ql-training/_static-training/slides-semmle-2/layout.html
  docs/language/ql-training/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training/conf.py
Labels: documentation

#1961 Python: split tests for Functions into more files
  python/ql/test/query-tests/Functions/general/DeprecatedSliceMethod.expected
  python/ql/test/query-tests/Functions/general/ExplicitReturnInInit.expected
  python/ql/test/query-tests/Functions/general/InitIsGenerator.expected
  python/ql/test/query-tests/Functions/general/ModificationOfParameterWithDefault.expected
  python/ql/test/query-tests/Functions/general/NonCls.expected
  python/ql/test/query-tests/Functions/general/NonSelf.expected
  python/ql/test/query-tests/Functions/general/argument_names.py
  python/ql/test/query-tests/Functions/general/explicit_return_in_init.py
  python/ql/test/query-tests/Functions/general/functions_test.py
Labels: Python

#1950 JavaScript: Add support for `rate-limiter-flexible` package.
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/MissingRateLimiting.qll
  javascript/ql/test/query-tests/Security/CWE-770/tst.js
Labels: JS

#1962 Sphinx: Add support for collapsible sections
  docs/language/global-sphinx-files/_static/custom.css_t
  docs/language/global-sphinx-files/_templates/layout.html
Labels: documentation

#1965 C++: Ignore templates in AmbiguouslySignedBitField.ql
  cpp/ql/src/Likely Bugs/AmbiguouslySignedBitField.ql
  cpp/ql/test/query-tests/Likely Bugs/AmbiguouslySignedBitField/test.cpp
Labels: C++

#1884 C++: Data flow through address-of operator (&)
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/fields/struct_init.c
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/unions.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/OverrunWrite.expected
Labels: C++

#1851 C#: Early identification of duplicate extraction
  csharp/extractor/Semmle.Extraction.CSharp/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor.cs
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
  csharp/extractor/Semmle.Extraction/Extractor.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Util/CommandLineExtensions.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
Labels: C#

#1979 C++: ignore uninstantiated templates in WrongTypeFormatArguments.ql
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArguments.ql
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/linux.cpp
Labels: C++

#1967 C++: DefaultTaintTracking flow from a to a[i]
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#1960 Merge rc/1.22 into master
  csharp/autobuilder/Semmle.Autobuild.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild/Autobuilder.cs
  docs/language/README.rst
  docs/language/learn-ql/ql-training.rst
  docs/language/ql-training/_static-training/slides-semmle-2/layout.html
  docs/language/ql-training/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training/conf.py
Labels: Mergeback

#1934 JS: Fix in node.js classifier
  change-notes/1.23/extractor-javascript.md
  javascript/extractor/src/com/semmle/js/extractor/NodeJSDetector.java
  javascript/extractor/src/com/semmle/js/extractor/test/NodeJSDetectorTests.java
  javascript/ql/src/meta/analysis-quality/NumModules.ql
Labels: JS

#1984 docs: fix links in QL topics
  docs/language/learn-ql/java/introduce-libraries-java.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
Labels: documentation

#1983 C#: Fix broken unit test on Windows
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
Labels: C#

#1982 C#: Remove false positives from `cs/dereferenced-value-may-be-null`
  change-notes/1.23/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/commons/ComparisonTest.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/test/library-tests/commons/ComparisonTest/ComparisonTest.cs
  csharp/ql/test/library-tests/commons/ComparisonTest/comparisonTest.expected
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/EqualityCheck.expected
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#1996 JavaScript: Fix IllegalInvocation.
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/LanguageFeatures/IllegalInvocation.ql
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/query-tests/LanguageFeatures/IllegalInvocation/tst.js
Labels: JS

#1916 JS: Add query for detecting potential DOS form a tainted .length property
  change-notes/1.23/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-834/LoopBoundInjection.qhelp
  javascript/ql/src/Security/CWE-834/LoopBoundInjection.ql
  javascript/ql/src/Security/CWE-834/examples/LoopBoundInjection.js
  javascript/ql/src/Security/CWE-834/examples/LoopBoundInjection_fixed.js
  javascript/ql/src/semmle/javascript/security/dataflow/LoopBoundInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/LoopBoundInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjection.expected
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionBad.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionExitBad.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionExitGood.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionGood.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionLodash.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionNested.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionObviousLengthCheck.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionObviousNullPointer.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionObviousNullPointerInPreviousLoop.js
Labels: JS

#1954 JS: Type tracking through captured vars
  javascript/ql/src/meta/analysis-quality/CallGraphQuality.qll
  javascript/ql/src/meta/analysis-quality/DomValueRefs.ql
  javascript/ql/src/meta/analysis-quality/ResolvableCallCandidates.ql
  javascript/ql/src/meta/analysis-quality/ResolvableCallRatio.ql
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.expected
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
  javascript/ql/test/library-tests/TypeTracking/tst.js
  javascript/ql/test/library-tests/frameworks/Electron/BrowserObject.expected
  javascript/ql/test/library-tests/frameworks/Electron/WebContents.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegExp.expected
  javascript/ql/test/query-tests/Security/CWE-020/tst-IncompleteHostnameRegExp.js
Labels: JS

#1998 Python: Add `__aiter__` as a recognised iterator method.
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/3/query-tests/Statements/iter/NonIteratorInForLoop.expected
  python/ql/test/3/query-tests/Statements/iter/async_iterator.py
Labels: Python

#1976 C++: HashCons: Further performance improvements
  cpp/ql/src/semmle/code/cpp/valuenumbering/HashCons.qll
Labels: C++

#1987 CPP: WrongNumberOfFormatArguments.ql Fix
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/TooManyFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/WrongNumberOfFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/a.c
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/b.c
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/c.c
Labels: C++

#1955 Python: Modernise the `py/explicit-return-in-init` query.
  python/ql/src/Classes/Equality.qll
  python/ql/src/Functions/ExplicitReturnInInit.ql
  python/ql/src/semmle/python/Function.qll
  python/ql/test/query-tests/Functions/general/ExplicitReturnInInit.expected
  python/ql/test/query-tests/Functions/general/explicit_return_in_init.py
Labels: Python

#2004 JavaScript: Improve XSS sanitizer detection.
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/sanitiser.js
Labels: JS

#1937 C++: Update test for fix to namespace members
  cpp/ql/test/library-tests/namespaces/same_name/decls.expected
  cpp/ql/test/library-tests/namespaces/same_name/same_name.cpp
Labels: C++, depends on internal PR

#2019 Rename references to `BufferFunction` with `ArrayFunction`
  cpp/ql/src/semmle/code/cpp/models/interfaces/ArrayFunction.qll
Labels: C++

#2023 C++: Implement AggregateLiteral.mayBeImpure()
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/test/library-tests/sideEffects/exprs/exprs.c
  cpp/ql/test/library-tests/sideEffects/exprs/exprs.expected
Labels: C++

#2013 Python: small improvements
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Labels: Python

#1959 C++: Classify more expressions as constant
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/internal/AddressConstantExpression.qll
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/pointer_to_member.cpp
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/staticlocals.cpp
  cpp/ql/test/library-tests/syntax-zoo/tellDifferent.expected
  cpp/ql/test/library-tests/syntax-zoo/tellDifferent.ql
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
Labels: C++

#2037 docs: fix some formatting issues
  docs/language/learn-ql/cpp/conversions-classes.rst
  docs/language/learn-ql/cpp/function-classes.rst
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
  docs/language/learn-ql/cpp/zero-space-terminator.rst
  docs/language/learn-ql/csharp/ql-for-csharp.rst
  docs/language/learn-ql/java/call-graph.rst
  docs/language/learn-ql/java/expressions-statements.rst
  docs/language/learn-ql/java/introduce-libraries-java.rst
  docs/language/learn-ql/java/types-class-hierarchy.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
  docs/language/learn-ql/python/functions.rst
  docs/language/learn-ql/python/introduce-libraries-python.rst
  docs/language/learn-ql/python/pointsto-type-infer.rst
  docs/language/learn-ql/python/statements-expressions.rst
Labels: documentation

#2031 Update tests for changes to reporting of vector_size attribute
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/vector_sizes/code.c
  cpp/ql/test/library-tests/vector_sizes/test.expected
  cpp/ql/test/library-tests/vector_sizes/test.ql
Labels: C++, depends on internal PR

#2034 Python: modernise bottle
  python/ql/src/semmle/python/web/bottle/General.qll
  python/ql/src/semmle/python/web/bottle/Redirect.qll
  python/ql/src/semmle/python/web/bottle/Request.qll
  python/ql/src/semmle/python/web/bottle/Response.qll
  python/ql/test/library-tests/web/bottle/Sources.expected
  python/ql/test/library-tests/web/bottle/Taint.expected
  python/ql/test/query-tests/Security/lib/bottle.py
Labels: Python

#2043 Python: modernise django library
  python/ql/src/semmle/python/web/django/Db.qll
  python/ql/src/semmle/python/web/django/Model.qll
  python/ql/src/semmle/python/web/django/Redirect.qll
  python/ql/src/semmle/python/web/django/Request.qll
  python/ql/src/semmle/python/web/django/Response.qll
  python/ql/src/semmle/python/web/django/Sanitizers.qll
  python/ql/src/semmle/python/web/django/Shared.qll
Labels: Python

#1938 C++: Rename predicates in `FunctionInputsAndOutputs.qll` and add QLDoc
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/IdentityFunction.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Inet.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Memcpy.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strftime.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Swap.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FunctionInputsAndOutputs.qll
Labels: C++

#2057 QL training slides: increase release number and small css tweaks
  docs/language/ql-training/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training/conf.py
Labels: documentation

#2012 Python: modernise cls self argument name checks
  python/ql/src/Functions/NonCls.qhelp
  python/ql/src/Functions/NonCls.ql
  python/ql/src/Functions/NonSelf.py
  python/ql/src/Functions/NonSelf.ql
  python/ql/src/semmle/python/libraries/Zope.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/library-tests/types/functions/Zope.expected
  python/ql/test/library-tests/types/functions/Zope.ql
  python/ql/test/query-tests/Functions/general/ModificationOfParameterWithDefault.expected
  python/ql/test/query-tests/Functions/general/NonCls.expected
  python/ql/test/query-tests/Functions/general/NonSelf.expected
  python/ql/test/query-tests/Functions/general/argument_names.py
  python/ql/test/query-tests/Functions/general/functions_test.py
  python/ql/test/query-tests/Functions/general/parameter_names.py
Labels: Python

#1956 C#: Refactor `getAnOutNode()` predicate
  csharp/ql/src/semmle/code/csharp/Caching.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
Labels: C#
