Repository github/codeql, pull requests merged in 2019-07, with the labels that each got.

#1510 C#: Remove `@precision` for new date queries
  csharp/ql/src/Likely Bugs/LeapYear/UnsafeYearConstruction.ql
  csharp/ql/src/Likely Bugs/MishandlingJapaneseEra.ql
Labels: C#

#1521 C#: Remove false positives in `cs/constant-condition`
  change-notes/1.22/analysis-csharp.md
  csharp/ql/src/Bad Practices/Control-Flow/ConstantCondition.ql
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantCondition.cs
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantCondition.expected
Labels: C#

#1526 JavaScript: Remove two remaining uses of `TrackedExpr`.
  javascript/ql/src/meta/analysis-quality/CandidateTracking.qll
  javascript/ql/src/meta/analysis-quality/UnpromotedRouteHandlerCandidate.ql
  javascript/ql/src/meta/analysis-quality/UnpromotedRouteSetupCandidate.ql
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/src/semmle/javascript/frameworks/Restify.qll
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/UnpromotedRouteHandlerCandidate.expected
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/UnpromotedRouteSetupCandidate.expected
Labels: JS

#1251 [CPP-370] Non-constant `format` arguments to `printf` and friends
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.qhelp
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.c
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/nested.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/consts/NonConstantFormat.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/consts/consts.cpp
Labels: C++

#1488 JS: Add query for measuring call graph quality
  javascript/ql/src/meta/analysis-quality/CallGraphQuality.qll
  javascript/ql/src/meta/analysis-quality/ResolvableCallCandidates.ql
  javascript/ql/src/meta/analysis-quality/ResolvableCallRatio.ql
  javascript/ql/src/meta/analysis-quality/ResolvableCalls.ql
  javascript/ql/src/meta/analysis-quality/UnresolvableCalls.ql
Labels: JS

#1529 JavaScript: Add getter summaries and receiver flow.
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TrackedNodes.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/GermanFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
  javascript/ql/test/library-tests/InterProceduralFlow/properties2.js
  javascript/ql/test/library-tests/InterProceduralFlow/tst6.mjs
Labels: JS

#1485 JS: fix yaml StringIndexOutOfBoundsException
  javascript/extractor/src/com/semmle/js/extractor/YAMLExtractor.java
  javascript/extractor/tests/yaml/input/bad_1022_1_1.yml
  javascript/extractor/tests/yaml/input/good_1021_1_1.yml
  javascript/extractor/tests/yaml/input/good_1_1_1021.yml
  javascript/extractor/tests/yaml/input/orig.yml
  javascript/extractor/tests/yaml/input/x_bad_1_1_1022.yml
  javascript/extractor/tests/yaml/output/trap/bad_1022_1_1.yml.trap
  javascript/extractor/tests/yaml/output/trap/good_1021_1_1.yml.trap
  javascript/extractor/tests/yaml/output/trap/good_1_1_1021.yml.trap
  javascript/extractor/tests/yaml/output/trap/orig.yml.trap
  javascript/extractor/tests/yaml/output/trap/x_bad_1_1_1022.yml.trap
Labels: JS

#1527 JS: classify more files as generated or tests
  javascript/ql/src/filters/ClassifyFiles.ql
  javascript/ql/src/semmle/javascript/GeneratedCode.qll
  javascript/ql/src/semmle/javascript/frameworks/Testing.qll
  javascript/ql/test/query-tests/filters/ClassifyFiles/01.chapter-about-things.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/1.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/ClassifyFiles.expected
  javascript/ql/test/query-tests/filters/ClassifyFiles/implementation.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/implementation.spec.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/implementation.test.js
Labels: JS

#1525 Drop ImportAdditionalLibraries.ql
  cpp/config/suites/lgtm/cpp-queries-lgtm
  cpp/ql/src/filters/ImportAdditionalLibraries.ql
  java/config/suites/lgtm/java-queries-lgtm
  java/ql/src/filters/ImportAdditionalLibraries.ql
  python/config/suites/lgtm/python-queries-lgtm
  python/ql/src/Filters/ImportAdditionalLibraries.ql
Labels: C++, Java, Python

#1530 C++: expand MacroInvocation.getExpr QLDoc
  cpp/ql/src/semmle/code/cpp/Macro.qll
Labels: C++

#1536 C++: Fix performance of leap year queries
  cpp/ql/src/semmle/code/cpp/commons/StructLikeClass.qll
Labels: C++

#1528 JS: Fix source locations for JSDoc type annotations
  javascript/extractor/src/com/semmle/js/ast/Position.java
  javascript/extractor/src/com/semmle/js/parser/JSDocParser.java
  javascript/extractor/tests/comments/output/trap/jsdoc.js.trap
  javascript/extractor/tests/externs/output/trap/Point.js.trap
  javascript/ql/test/library-tests/JSDoc/tests.expected
  javascript/ql/test/library-tests/JSDoc/tst.js
  javascript/ql/test/library-tests/TypeAnnotations/JSDoc/JSDocTypeAnnotations.expected
Labels: JS

#1522 TS: Avoid infinite recursion in stringifyType
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/type_table.ts
  javascript/ql/test/library-tests/TypeScript/ExternalTypes/UniqueSymbols.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/RecursiveTypeAlias/Test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/RecursiveTypeAlias/Test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/RecursiveTypeAlias/test.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/RecursiveTypeAlias/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/Types/GetExprType.expected
  javascript/ql/test/library-tests/TypeScript/Types/GetTypeExprType.expected
Labels: JS

#1517 JS: Augment call graph with instance type tracking
  javascript/ql/src/semmle/javascript/dataflow/LocalObjects.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
Labels: JS

#1439 JS: split CodeInjection.qll into three parts
  javascript/ql/src/semmle/javascript/heuristics/AdditionalSinks.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
Labels: JS

#511 JS: classify files with many short variables as minified
  javascript/ql/src/semmle/javascript/AST.qll
  javascript/ql/test/query-tests/filters/ClassifyFiles/ClassifyFiles.expected
  javascript/ql/test/query-tests/filters/ClassifyFiles/short-variables.js
Labels: JS

#1543 JavaScript: Fix data flow out of reflective calls.
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/DataFlow/flowStep.expected
  javascript/ql/test/library-tests/DataFlow/incomplete.expected
  javascript/ql/test/library-tests/DataFlow/sources.expected
  javascript/ql/test/library-tests/DataFlow/tst.js
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/GermanFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
  javascript/ql/test/library-tests/InterProceduralFlow/tst6.mjs
Labels: JS

#1486 C#: Introduce inherited CFG completions
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/NonReturning.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreBasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/SuccessorType.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/BooleanNode.expected
  csharp/ql/test/library-tests/controlflow/graph/CatchInFinally.cs
  csharp/ql/test/library-tests/controlflow/graph/ConditionBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionalFlow.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/FinallyNode.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Labels: C#

#1546 CPP: Speed up LeapYear.qll 'ChecksForLeapYearFunctionCall'.
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qll
Labels: C++

#1537 CPP: Add some tests
  cpp/ql/src/Likely Bugs/Memory Management/Padding/NonPortablePrintf.ql
  cpp/ql/test/library-tests/functions/getathrowntype/getAThrownType.expected
  cpp/ql/test/library-tests/functions/getathrowntype/getAThrownType.ql
  cpp/ql/test/library-tests/functions/getathrowntype/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/Padding/More64BitWaste/More64BitWaste.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/Padding/More64BitWaste/More64BitWaste.qlref
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/Padding/More64BitWaste/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/Padding/NonPortablePrintf/NonPortablePrintf.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/Padding/NonPortablePrintf/NonPortablePrintf.qlref
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/Padding/NonPortablePrintf/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/ReturnConstType/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/extreme/ArithmeticWithExtremeValues.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/extreme/test.c
Labels: C++

#1535 CPP: Fix false positives from NoSpaceForZeroTerminator.ql
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test.c
Labels: C++, depends on internal PR

#1547 Merge rc/1.21 into master
  javascript/extractor/src/com/semmle/js/ast/Position.java
  javascript/extractor/src/com/semmle/js/parser/JSDocParser.java
  javascript/extractor/tests/comments/output/trap/jsdoc.js.trap
  javascript/extractor/tests/externs/output/trap/Point.js.trap
  javascript/ql/test/library-tests/JSDoc/tests.expected
  javascript/ql/test/library-tests/JSDoc/tst.js
  javascript/ql/test/library-tests/TypeAnnotations/JSDoc/JSDocTypeAnnotations.expected
Labels: Mergeback

#1557 C++: Fix DeclarationHidesVariable FP for nested range-based for loops
  cpp/ql/src/Best Practices/Hiding/DeclarationHidesVariable.ql
  cpp/ql/test/query-tests/Best Practices/Hiding/DeclarationHidesVariable/hiding.cpp
Labels: C++

#1561 JavaScript: Add more default source nodes.
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/test/library-tests/DataFlow/sources.expected
Labels: JS

#1539 Python: Fix bad join ordering in `ControlFlowNode::getAChild()`.
  python/ql/src/analysis/DefinitionTracking.qll
  python/ql/src/semmle/dataflow/SsaCompute.qll
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/dataflow/SsaDefinitions.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/src/semmle/python/types/Extensions.qll
Labels: Python

#1560 JS: Resolve static calls using type tracking
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/constructor-field.ts
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/instance-calls.js
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/static-calls.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/a.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/b.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/c.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/classes.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/es2015.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/getACallee.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/getAFunctionValue.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/getAnArgument.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/getArgument.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/getCalleeName.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/getCalleeNode.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/getLastArgument.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/getNumArgument.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/isImprecise.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/isIncomplete.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/isUncertain.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/m.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/m2.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/n.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/protoclass.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/reflection.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/tests.expected
  javascript/ql/test/library-tests/CallGraphs/FullTest/tests.ql
  javascript/ql/test/library-tests/CallGraphs/FullTest/tst.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/tst2.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/tst3.js
Labels: JS

#1562 CPP: Extend StrcpyFunction and update UsingStrcpyAsBoolean.ql
  cpp/ql/src/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean.ql
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
Labels: C++

#1551 C++: Placeholder translation of delete expressions
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#1552 C++ IR: Support __builtin_addressof
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/clang.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#1559 Reduce precision from `very-high` to `low` due to inability to handle…
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/test.c
Labels: C++

#1553 Java: Add `isNotEmpty` to NullGuards
  java/ql/src/semmle/code/java/dataflow/NullGuards.qll
Labels: Java

#1569 JavaScript: Add concrete syntax examples to all API classes in `Expr.qll`.
  javascript/ql/src/semmle/javascript/Expr.qll
Labels: JS

#1568 C++ IR: Don't propagate GVN through non-exact Copy
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
Labels: C++

#1571 C++ IR: Make TOperand cached
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
Labels: C++

#1573 JS: Avoid tracking classes into receiver of other classes
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/this-calls.js
Labels: JS

#1565 JS: Add metric queries for counting called functions
  javascript/ql/src/meta/analysis-quality/CallGraphQuality.qll
  javascript/ql/src/meta/analysis-quality/CalledFunctionCandidates.ql
  javascript/ql/src/meta/analysis-quality/CalledFunctionRatio.ql
  javascript/ql/src/meta/analysis-quality/CalledFunctions.ql
  javascript/ql/src/meta/analysis-quality/UncalledFunctions.ql
Labels: JS

#1576 Java: Add `isNotEmpty` to NullGuards
  java/ql/src/semmle/code/java/dataflow/NullGuards.qll
Labels: Java

#1574 JavaScript: Add syntax examples in `AMD.qll`, `AST.qll` and `Stmt.qll`.
  javascript/ql/src/semmle/javascript/AMD.qll
  javascript/ql/src/semmle/javascript/AST.qll
  javascript/ql/src/semmle/javascript/Stmt.qll
Labels: JS

#1575 C++: Fix performance of unchecked leap year query
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification.ql
Labels: C++

#1581 Revert "C++: Work around extractor issue CPP-383"
  cpp/ql/src/semmle/code/cpp/controlflow/internal/ConstantExprs.qll
Labels: C++

#1578 JS: More taint steps through arrays and add getASpreadArgument
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/array-mutation.js
Labels: JS

#1580 C++: Fix inconsistent-loop-direction performance
  cpp/ql/src/Likely Bugs/Likely Typos/inconsistentLoopDirection.ql
Labels: C++

#1579 Merge rc/1.20 into rc/1.21.
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Labels: JS, Mergeback

#1566 C++: alias and side effect info for pure functions
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
Labels: C++

#1554 C++ IR: support for translating ErrorExpr
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/bad_asts.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#1541 C++ IR: Make instruction operand getters have only exact results
  cpp/ql/src/semmle/code/cpp/ir/dataflow/TaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeAnalysis.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeUtils.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SignAnalysis.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
Labels: C++

#1567 C++ IR: guard against cycles in operand graph
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
Labels: C++

#1515 CPP: Improvements to ContinueInFalseLoop.ql
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/Likely Bugs/ContinueInFalseLoop.qhelp
  cpp/ql/src/Likely Bugs/ContinueInFalseLoop.ql
  cpp/ql/test/query-tests/Likely Bugs/ContinueInFalseLoop/ContinueInFalseLoop.expected
  cpp/ql/test/query-tests/Likely Bugs/ContinueInFalseLoop/ContinueInFalseLoop.qlref
  cpp/ql/test/query-tests/Likely Bugs/ContinueInFalseLoop/test.cpp
Labels: C++

#1582 JavaScript: Add syntax examples in `Classes.qll`, `JSX.qll` and `Templates.qll`.
  javascript/ql/src/semmle/javascript/Classes.qll
  javascript/ql/src/semmle/javascript/JSX.qll
  javascript/ql/src/semmle/javascript/Templates.qll
Labels: JS

#1584 CPP: Model std::swap
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Swap.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#1593 CPP: Fix FP in AllocaInLoop.ql
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Memory Management/AllocaInLoop.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/AllocaInLoop/AllocaInLoop.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/AllocaInLoop/AllocaInLoop1.cpp
Labels: C++

#1588 Update Python and C# help for commented-out code to use common qhelp
  csharp/ql/src/Bad Practices/Comments/CommentedOutCode.qhelp
  csharp/ql/src/Bad Practices/Comments/CommentedOutCode.ql
  python/ql/src/Lexical/CommentedOutCode.qhelp
  python/ql/src/Lexical/CommentedOutCode.ql
  python/ql/src/Lexical/CommentedOutCodeCommon.qhelp
  python/ql/src/Lexical/CommentedOutCodeExample.qhelp
Labels: C#, Python, documentation

#1592 Revert "JS: adding type tracking in for portal exit nodes"
  javascript/ql/src/semmle/javascript/dataflow/Portals.qll
  javascript/ql/test/library-tests/Portals/PortalEntry.expected
  javascript/ql/test/library-tests/Portals/PortalExit.expected
  javascript/ql/test/library-tests/Portals/src/typeTracking/index.js
  javascript/ql/test/library-tests/Portals/src/typeTracking/nonlocalDataflowRead.js
  javascript/ql/test/library-tests/Portals/src/typeTracking/package.json
Labels: JS

#1586 CPP: Normalize the taint tests
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.ql
Labels: C++

#1603 JavaScript: Add syntax examples to `Comments.qll`, `E4X.qll`, `Functions.qll`, `HTML.qll` and `NodeJS.qll`.
  javascript/ql/src/semmle/javascript/Comments.qll
  javascript/ql/src/semmle/javascript/E4X.qll
  javascript/ql/src/semmle/javascript/Functions.qll
  javascript/ql/src/semmle/javascript/HTML.qll
  javascript/ql/src/semmle/javascript/NodeJS.qll
Labels: JS

#1608 JS: Implement getBasicBlock() for more data flow nodes
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/DataFlow/noBasicBlock.expected
  javascript/ql/test/library-tests/DataFlow/noBasicBlock.ql
  javascript/ql/test/library-tests/ThisExpr/getBasicBlock.expected
  javascript/ql/test/library-tests/ThisExpr/getBasicBlock.ql
Labels: JS

#1503 Java: Restrict Object.toString() dispatch based on a more closed-world assumption.
  change-notes/1.22/analysis-java.md
  java/ql/src/Likely Bugs/Serialization/NonSerializableField.ql
  java/ql/src/semmle/code/java/Collections.qll
  java/ql/src/semmle/code/java/Maps.qll
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/src/semmle/code/java/dataflow/internal/BaseSSA.qll
  java/ql/src/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/src/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/src/semmle/code/java/dispatch/VirtualDispatch.qll
  java/ql/test/query-tests/ContainerSizeCmpZero/ContainerSizeCmpZero.expected
  java/ql/test/query-tests/ContainerSizeCmpZero/Main.java
Labels: Java

#1577 JS: Add getInferredName and use it from FunctionNode and ClassNode
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/semmle/javascript/Classes.qll
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/Functions.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/Classes/tests.expected
  javascript/ql/test/library-tests/ppNames/ppClassName.expected
  javascript/ql/test/library-tests/ppNames/ppClassName.ql
  javascript/ql/test/library-tests/ppNames/ppFnName.expected
  javascript/ql/test/library-tests/ppNames/ppFnName.ql
  javascript/ql/test/library-tests/ppNames/tst.js
Labels: JS

#1617 JS: Restrict Expr.getDocumentation
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/test/library-tests/JSDoc/AssignExpr_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/Function_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/VarDeclStmt_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/tests.expected
  javascript/ql/test/library-tests/JSDoc/tests.ql
  javascript/ql/test/library-tests/JSDoc/tst.js
Labels: JS

#1623 Java: Delete old deprecated code.
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/src/semmle/code/java/Type.qll
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/src/semmle/code/java/dataflow/Guards.qll
Labels: Java

#1532 [CPP-386] Add `getCanonicalQLClass()` for AST QL elements.
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/src/semmle/code/cpp/Element.qll
  cpp/ql/src/semmle/code/cpp/Enum.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/Initializer.qll
  cpp/ql/src/semmle/code/cpp/Macro.qll
  cpp/ql/src/semmle/code/cpp/Parameter.qll
  cpp/ql/src/semmle/code/cpp/PrintAST.qll
  cpp/ql/src/semmle/code/cpp/Struct.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/TypedefType.qll
  cpp/ql/src/semmle/code/cpp/Union.qll
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Nullness.qll
  cpp/ql/src/semmle/code/cpp/exprs/Access.qll
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
  cpp/ql/src/semmle/code/cpp/exprs/BitwiseOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/Cast.qll
  cpp/ql/src/semmle/code/cpp/exprs/ComparisonOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/exprs/Lambda.qll
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/src/semmle/code/cpp/stmts/Block.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/examples/expressions/macro_etc.c
  cpp/ql/test/examples/expressions/union_etc.cpp
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Labels: C++

#1620 JS: Avoid unnecessary import of configuration
  javascript/ql/src/semmle/javascript/security/dataflow/HardcodedDataInterpretedAsCodeCustomizations.qll
Labels: JS

#1625 Python: Fix missing include in `FCommentedOutCode.qhelp`.
  python/ql/src/Lexical/FCommentedOutCode.qhelp
Labels: Python, documentation

#1626 JavaScript: Add concrete syntax examples to `ES2015Modules`, `Externs`, `JSON`, `YAML`.
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/Externs.qll
  javascript/ql/src/semmle/javascript/JSON.qll
  javascript/ql/src/semmle/javascript/YAML.qll
Labels: JS

#1613 JS: Compute global access paths and resolve JSDoc names
  javascript/ql/src/definitions.ql
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/AST.qll
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/src/semmle/javascript/JSDoc.qll
  javascript/ql/src/semmle/javascript/SSA.qll
  javascript/ql/src/semmle/javascript/TypeAnnotations.qll
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/GlobalAccessPaths/GlobalAccessPaths.expected
  javascript/ql/test/library-tests/GlobalAccessPaths/GlobalAccessPaths.ql
  javascript/ql/test/library-tests/GlobalAccessPaths/other_ns.js
  javascript/ql/test/library-tests/GlobalAccessPaths/test.js
  javascript/ql/test/library-tests/JSDoc/NameResolution/bar.js
  javascript/ql/test/library-tests/JSDoc/NameResolution/closure.js
  javascript/ql/test/library-tests/JSDoc/NameResolution/foo.js
  javascript/ql/test/library-tests/JSDoc/NameResolution/test.expected
  javascript/ql/test/library-tests/JSDoc/NameResolution/test.ql
  javascript/ql/test/library-tests/JSDoc/Nodes/COPYING
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocAppliedTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocArrayTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocFunctionTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocNonNullableTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocNullableTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocOptionalParameterTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocRecordTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocRestParameterTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocTag.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocUnionTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDoc_test.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/ObjectExpr_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/ParExpr_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/Parameter_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/getParameterTag.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/next_token.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/tests.expected
  javascript/ql/test/library-tests/JSDoc/Nodes/tests.ql
  javascript/ql/test/library-tests/JSDoc/Nodes/tst.js
  javascript/ql/test/library-tests/SSA/GetRhsNode/GetRhsNode.expected
  javascript/ql/test/library-tests/SSA/GetRhsNode/GetRhsNode.ql
  javascript/ql/test/library-tests/SSA/GetRhsNode/tst.js
Labels: JS

#1615 CPP: Test + workaround for UseInOwnInitializer.ql
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/Likely Bugs/UseInOwnInitializer.ql
  cpp/ql/test/query-tests/Likely Bugs/UseInOwnInitializer/test.cpp
Labels: C++

#1605 CPP: Make BitwiseSignCheck.ql more accurate
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Arithmetic/BitwiseSignCheck.ql
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BitwiseSignCheck/BitwiseSignCheck.expected
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BitwiseSignCheck/bsc.cpp
Labels: C++

#1616 Java: Bugfix for flow through methods with taint step and upcast.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplDepr.qll
  java/ql/test/library-tests/dataflow/taintreturn/Test.java
  java/ql/test/library-tests/dataflow/taintreturn/taintreturn.expected
  java/ql/test/library-tests/dataflow/taintreturn/taintreturn.ql
Labels: Java

#1631 Java: Delete deprecated dependency DataFlowImplDepr.
  config/identical-files.json
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplDepr.qll
Labels: Java

#1511 Java: Minor TypeFlow precision improvement and refactor.
  java/ql/src/semmle/code/java/dataflow/TypeFlow.qll
Labels: Java

#1635 JavaScript: Do not propagate taint through `for`-`in` loop variables.
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
Labels: JS

#1630 Java: Add toString override for SwitchExpr.
  java/ql/src/semmle/code/java/Expr.qll
Labels: Java, depends on internal PR

#1644 JavaScript: Add concrete syntax examples to `JSDoc`, `RegExp`, `Tokens`, `Variables` and `XML`.
  javascript/ql/src/semmle/javascript/JSDoc.qll
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/src/semmle/javascript/Tokens.qll
  javascript/ql/src/semmle/javascript/Variables.qll
  javascript/ql/src/semmle/javascript/XML.qll
Labels: JS

#1564 C#: Disable logger AutoFlush
  csharp/extractor/Semmle.Util/Logger.cs
Labels: C#

#1645 JavaScript: Remove extra backslashes in `MissingRegExpAnchor.qhelp`.
  javascript/ql/src/Security/CWE-020/MissingRegExpAnchor.qhelp
Labels: JS

#1633 Java: Add taint step for String::concat.
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
Labels: Java

#1628 JS: Add self as global object alias
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/Nodes/globalObjectRef.expected
  javascript/ql/test/library-tests/Nodes/globalVarRef.expected
  javascript/ql/test/library-tests/Nodes/tst.js
Labels: JS

#1621 JS: Do not recursively import javascript into DataFlow:: scope
  javascript/ql/src/semmle/javascript/dataflow/AbstractProperties.qll
  javascript/ql/src/semmle/javascript/dataflow/AbstractValues.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/CustomAbstractValueDefinitions.qll
  javascript/ql/src/semmle/javascript/dataflow/LocalObjects.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/dataflow/TrackedNodes.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/AbstractValuesImpl.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/BasicExprTypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterProceduralTypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/PropertyTypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/VariableTypeInference.qll
Labels: JS

#1653 Learn QL: corrections for issues found using Vale
  docs/ql-documentation/learn-ql/advanced/abstract-classes.rst
  docs/ql-documentation/learn-ql/advanced/folding-predicates.rst
  docs/ql-documentation/learn-ql/advanced/monotonic-aggregates.rst
  docs/ql-documentation/learn-ql/beginner/find-thief-1.rst
  docs/ql-documentation/learn-ql/beginner/find-thief-2.rst
  docs/ql-documentation/learn-ql/beginner/fire-1.rst
  docs/ql-documentation/learn-ql/beginner/heir.rst
  docs/ql-documentation/learn-ql/cpp/dataflow.rst
  docs/ql-documentation/learn-ql/cpp/expressions-types.rst
  docs/ql-documentation/learn-ql/cpp/introduce-libraries-cpp.rst
  docs/ql-documentation/learn-ql/cpp/private-field-initialization.rst
  docs/ql-documentation/learn-ql/cpp/zero-space-terminator.rst
  docs/ql-documentation/learn-ql/csharp/dataflow.rst
  docs/ql-documentation/learn-ql/csharp/introduce-libraries-csharp.rst
  docs/ql-documentation/learn-ql/intro-to-data-flow.rst
  docs/ql-documentation/learn-ql/introduction-to-ql.rst
  docs/ql-documentation/learn-ql/java/annotations.rst
  docs/ql-documentation/learn-ql/java/ast-class-reference.rst
  docs/ql-documentation/learn-ql/java/dataflow.rst
  docs/ql-documentation/learn-ql/java/introduce-libraries-java.rst
  docs/ql-documentation/learn-ql/java/source-locations.rst
  docs/ql-documentation/learn-ql/java/types-class-hierarchy.rst
  docs/ql-documentation/learn-ql/javascript/ast-class-reference.rst
  docs/ql-documentation/learn-ql/javascript/dataflow.rst
  docs/ql-documentation/learn-ql/javascript/introduce-libraries-js.rst
  docs/ql-documentation/learn-ql/locations.rst
  docs/ql-documentation/learn-ql/python/control-flow.rst
  docs/ql-documentation/learn-ql/python/functions.rst
  docs/ql-documentation/learn-ql/python/introduce-libraries-python.rst
  docs/ql-documentation/learn-ql/python/pointsto-type-infer.rst
  docs/ql-documentation/learn-ql/python/statements-expressions.rst
  docs/ql-documentation/learn-ql/python/taint-tracking.rst
  docs/ql-documentation/learn-ql/snapshot.rst
  docs/ql-documentation/learn-ql/writing-queries/path-queries.rst
  docs/ql-documentation/learn-ql/writing-queries/writing-queries.rst
  docs/ql-documentation/vale-styles/Semmle/Headings.yml
  docs/ql-documentation/vale-styles/Semmle/ignore.txt
Labels: documentation

#1655 JS: Do not treat the empty string as a credential
  javascript/ql/src/semmle/javascript/security/dataflow/HardcodedCredentialsCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.js
Labels: JS

#1656 JS: Rephrase dead store of local at declaration site
  javascript/ql/src/Declarations/DeadStoreOfLocal.ql
  javascript/ql/test/query-tests/Declarations/DeadStoreOfLocal/DeadStoreOfLocal.expected
Labels: JS

#1657 JS: Add data flow cheat sheet
  docs/ql-documentation/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/ql-documentation/learn-ql/javascript/ql-for-javascript.rst
Labels: JS

#1654 Ql handbook: Corrections for issues found using Vale
  docs/ql-documentation/ql-handbook/annotations.rst
  docs/ql-documentation/ql-handbook/expressions.rst
  docs/ql-documentation/ql-handbook/formulas.rst
  docs/ql-documentation/ql-handbook/modules.rst
  docs/ql-documentation/ql-handbook/name-resolution.rst
  docs/ql-documentation/ql-handbook/queries.rst
  docs/ql-documentation/ql-handbook/recursion.rst
  docs/ql-documentation/ql-handbook/types.rst
  docs/ql-documentation/vale-styles/Semmle/ignore.txt
Labels: documentation

#1659 C++: Accept changes to getValueText
  cpp/ql/test/library-tests/constants/constants/strings.expected
Labels: C++, depends on internal PR

#1663 docs: update readme to mention vscode extension
  docs/ql-documentation/README.rst
Labels: documentation

#1665 QL docs: update paths to change notes in support project
  docs/ql-documentation/support/conf.py
  docs/ql-documentation/support/framework-support.rst
  docs/ql-documentation/support/language-support.rst
Labels: documentation
