Repository github/codeql, pull requests merged in 2019-01, with the labels that each got.

#721 C++: Factor out `reachable` base case
  cpp/ql/src/semmle/code/cpp/controlflow/ControlFlowGraph.qll
Labels: C++

#718 JavaScript: Highlight id attribute (not entire element) in `AmbiguousIdAttribute`.
  javascript/ql/src/DOM/AmbiguousIdAttribute.ql
  javascript/ql/test/query-tests/DOM/HTML/AmbiguousIdAttribute.expected
  javascript/ql/test/query-tests/DOM/HTML/DuplicateAttributes.expected
  javascript/ql/test/query-tests/DOM/HTML/tst.js
Labels: JS

#716 JavaScript: Minor improvements.
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
Labels: JS

#717 JavaScript: Fix performance regression in `IncorrectSuffixCheck`.
  javascript/ql/src/Security/CWE-020/IncorrectSuffixCheck.ql
Labels: JS

#705 JS Query: Missing index adjustment after concurrent modification
  change-notes/1.20/analysis-javascript.md
  javascript/config/suites/javascript/correctness-more
  javascript/ql/src/Statements/LoopIterationSkippedDueToShifting.qhelp
  javascript/ql/src/Statements/LoopIterationSkippedDueToShifting.ql
  javascript/ql/src/Statements/examples/LoopIterationSkippedDueToShifting.js
  javascript/ql/src/Statements/examples/LoopIterationSkippedDueToShiftingGood.js
  javascript/ql/src/Statements/examples/LoopIterationSkippedDueToShiftingGoodFilter.js
  javascript/ql/test/query-tests/Statements/LoopIterationSkippedDueToShifting/LoopIterationSkippedDueToShifting.expected
  javascript/ql/test/query-tests/Statements/LoopIterationSkippedDueToShifting/LoopIterationSkippedDueToShifting.qlref
  javascript/ql/test/query-tests/Statements/LoopIterationSkippedDueToShifting/tst.js
Labels: JS

#590 C#: Extract the metadata handle
  csharp/extractor/Semmle.Extraction.CIL/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/File.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/extractor/Semmle.Extraction.CIL/Tuples.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Symbol.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/Tuples.cs
  csharp/extractor/Semmle.Extraction/Entities/File.cs
  csharp/extractor/Semmle.Extraction/Entities/Folder.cs
  csharp/ql/src/semmle/code/csharp/commons/Disposal.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow.qll
  csharp/ql/src/semmle/code/dotnet/Element.qll
  csharp/ql/src/semmlecode.csharp.dbscheme
  csharp/ql/src/semmlecode.csharp.dbscheme.stats
  csharp/ql/test/library-tests/cil/consistency/Handles.expected
  csharp/ql/test/library-tests/cil/consistency/Handles.ql
Labels: C#

#708 C#: Account for CFG splitting in `AssignableDefinition::getAFirstRead()` and `AssignableRead::getANextRead()`
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/test/library-tests/dataflow/ssa/DefAdjacentRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
  csharp/ql/test/library-tests/dataflow/ssa/ReadAdjacentRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SSAPhi.expected
  csharp/ql/test/library-tests/dataflow/ssa/Splitting.cs
  csharp/ql/test/library-tests/dataflow/ssa/SsaDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefLastRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaExplicitDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaUltimateDef.expected
Labels: C#

#701 Java: Add missing override annotations.
  java/ql/src/Metrics/Internal/Extents.qll
  java/ql/src/external/CodeDuplication.qll
Labels: Java

#686 Java: Remove `Metrics/queries.xml`
  java/ql/src/Metrics/queries.xml
Labels: Java

#668 C++: Follow changes in how conditional expressions are represented in the database
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
  cpp/ql/src/semmlecode.cpp.dbscheme.stats
  cpp/ql/test/library-tests/controlflow/primitives/cfg.expected
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/upperBound.expected
Labels: C++, depends on internal PR

#722 CPP: Improve qldoc for MacroAccess and MacroInvocation.
  cpp/ql/src/semmle/code/cpp/Macro.qll
Labels: C++

#704 TS: fix translation of some binary expressions
  change-notes/1.20/extractor-javascript.md
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/extractor/tests/ts/input/logicalOr.ts
  javascript/extractor/tests/ts/output/trap/exprs.ts.trap
  javascript/extractor/tests/ts/output/trap/logicalOr.ts.trap
Labels: JS

#710 C#: Improve logic for looking up .NET runtime in standalone mode
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Runtime.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
Labels: C#

#728 Java: Add .qlpath to the test dir.
  java/ql/test/.qlpath
Labels: Java

#730 Java: Switch to built-in gcd.
  java/ql/src/semmle/code/java/dataflow/ModulusAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
Labels: Java

#729 Java: Restrict attention to integral types in IntMultToLong.
  change-notes/1.20/analysis-java.md
  java/ql/src/Likely Bugs/Arithmetic/IntMultToLong.ql
  java/ql/test/query-tests/security/CWE-190/semmle/tests/IntMultToLong.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/Test.java
Labels: Java

#732 Java: Reduce precision of java/user-controlled-bypass.
  java/ql/src/Security/CWE/CWE-807/ConditionalBypass.ql
Labels: Java

#733 Java: Remove old dataflow library.
  change-notes/1.20/analysis-java.md
  java/ql/src/filters/ImportAdditionalLibraries.ql
  java/ql/src/semmle/code/java/security/DataFlow.qll
Labels: Java

#727 JavaScript: Restructure implementation of `DataFlow::SourceNode`.
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/EmailClients.qll
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/frameworks/AngularJS/AngularJSCore.qll
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/src/semmle/javascript/frameworks/LodashUnderscore.qll
  javascript/ql/src/semmle/javascript/frameworks/ReactNative.qll
Labels: JS

#726 C#: Fix CFG for `foreach` statements with tuple declarations
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Foreach.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Labels: C#

#734 JavaScript: Remove deprecated APIs.
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/AMD.qll
  javascript/ql/src/semmle/javascript/CanonicalNames.qll
  javascript/ql/src/semmle/javascript/Comments.qll
  javascript/ql/src/semmle/javascript/DataFlow.qll
  javascript/ql/src/semmle/javascript/HTML.qll
  javascript/ql/src/semmle/javascript/Modules.qll
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/dataflow/CallGraph.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/frameworks/AngularJS/AngularJSCore.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/React.qll
  javascript/ql/src/semmle/javascript/frameworks/UriLibraries.qll
  javascript/ql/src/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/src/semmle/javascript/security/dataflow/BrokenCryptoAlgorithm.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextStorage.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirect.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CommandInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ConditionalBypass.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CorsMisconfigurationForCredentials.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/HardcodedCredentials.qll
  javascript/ql/src/semmle/javascript/security/dataflow/InsecureRandomness.qll
  javascript/ql/src/semmle/javascript/security/dataflow/InsufficientPasswordHash.qll
  javascript/ql/src/semmle/javascript/security/dataflow/NosqlInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ReflectedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/RegExpInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ServerSideUrlRedirect.qll
  javascript/ql/src/semmle/javascript/security/dataflow/SqlInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/StackTraceExposure.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeDeserialization.qll
  javascript/ql/src/semmle/javascript/security/dataflow/XmlBomb.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xxe.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssWithCustomSanitizer_old.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssWithCustomSanitizer_old.ql
Labels: JS

#695 cpp - Using the return value of a strcpy or related string copy function in an if statement
  cpp/ql/src/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean.cpp
  cpp/ql/src/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean.qhelp
  cpp/ql/src/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean.ql
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean/UsingStrcpyAsBoolean.expected
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean/UsingStrcpyAsBoolean.qlref
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean/test.c
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean/test.cpp
Labels: C++

#731 JavaScript: Two performance improvements
  javascript/ql/src/LanguageFeatures/InconsistentNew.ql
  javascript/ql/src/Statements/UselessConditional.ql
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
Labels: JS

#737 C++: QL CFG performance and tweaks
  cpp/ql/src/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/test/library-tests/qlcfg/cfg.expected
  cpp/ql/test/library-tests/qlcfg/destructors.cpp
Labels: C++

#752 C++: Exclude copy assignment in LargeParameter.ql
  cpp/ql/src/Critical/LargeParameter.ql
  cpp/ql/test/query-tests/Critical/LargeParameter/test.cpp
Labels: C++

#751 C++: Improvements to "Declaration hides parameter"
  cpp/ql/src/Best Practices/Hiding/DeclarationHidesParameter.ql
Labels: C++

#633 C++: New range analysis
  cpp/ql/src/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/Bound.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeAnalysis.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeUtils.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/inline_assembly.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.ql
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/minmax.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/ternaryLower.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/ternaryLower.ql
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/ternaryUpper.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/ternaryUpper.ql
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.cpp
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.ql
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.ql
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/test.cpp
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Labels: C++

#747 C++: Delete library-tests/qlcfg/cfg.ql
  cpp/ql/test/library-tests/qlcfg/cfg.expected
  cpp/ql/test/library-tests/qlcfg/cfg.ql
Labels: C++

#748 JS: use correct basic block in js/useless-assignment-to-property (ODASA-7636)
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/Declarations/DeadStoreOfProperty.ql
  javascript/ql/test/query-tests/Declarations/DeadStoreOfProperty/odasa-7636.js
Labels: JS

#720 JS: support additional flow syntax
  change-notes/1.20/extractor-javascript.md
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/src/com/semmle/jcorn/flow/FlowParser.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/flow/input/boundExplicitTypeParameters.js
  javascript/extractor/tests/flow/input/declareExport.js
  javascript/extractor/tests/flow/input/explicitTypeParameters.js
  javascript/extractor/tests/flow/input/explicitTypeParametersForArgumentlessConstructorCall.js
  javascript/extractor/tests/flow/input/export.js
  javascript/extractor/tests/flow/input/importNonTypeInDeclaredModule.js
  javascript/extractor/tests/flow/input/importType.js
  javascript/extractor/tests/flow/input/importTypeInDeclaredModule.js
  javascript/extractor/tests/flow/input/notExplicitTypeParameters1.js
  javascript/extractor/tests/flow/input/notExplicitTypeParameters2.js
  javascript/extractor/tests/flow/input/notExplicitTypeParameters3.js
  javascript/extractor/tests/flow/input/practicallyAmbigiousExplicitTypeParameters.js
  javascript/extractor/tests/flow/output/trap/boundExplicitTypeParameters.js.trap
  javascript/extractor/tests/flow/output/trap/declareExport.js.trap
  javascript/extractor/tests/flow/output/trap/explicitTypeParameters.js.trap
  javascript/extractor/tests/flow/output/trap/explicitTypeParametersForArgumentlessConstructorCall.js.trap
  javascript/extractor/tests/flow/output/trap/export.js.trap
  javascript/extractor/tests/flow/output/trap/importNonTypeInDeclaredModule.js.trap
  javascript/extractor/tests/flow/output/trap/importType.js.trap
  javascript/extractor/tests/flow/output/trap/importTypeInDeclaredModule.js.trap
  javascript/extractor/tests/flow/output/trap/notExplicitTypeParameters1.js.trap
  javascript/extractor/tests/flow/output/trap/notExplicitTypeParameters2.js.trap
  javascript/extractor/tests/flow/output/trap/notExplicitTypeParameters3.js.trap
  javascript/extractor/tests/flow/output/trap/practicallyAmbigiousExplicitTypeParameters.js.trap
Labels: JS

#640 JS: handle case-insensitive lodash imports
  javascript/ql/src/semmle/javascript/frameworks/LodashUnderscore.qll
  javascript/ql/test/library-tests/Extend/ExtendCalls.expected
  javascript/ql/test/library-tests/Extend/package.json
  javascript/ql/test/library-tests/Extend/tst.js
Labels: JS

#757 C#: Autoformat QL files
  csharp/ql/src/API Abuse/ClassDoesNotImplementEquals.ql
  csharp/ql/src/API Abuse/InconsistentEqualsGetHashCode.ql
  csharp/ql/src/API Abuse/IncorrectCompareToSignature.ql
  csharp/ql/src/API Abuse/UncheckedReturnValue.ql
  csharp/ql/src/Bad Practices/Naming Conventions/ConstantNaming.ql
  csharp/ql/src/Bad Practices/Naming Conventions/ControlNamePrefixes.ql
  csharp/ql/src/Complexity/ComplexCondition.ql
  csharp/ql/src/Concurrency/LockedWait.ql
  csharp/ql/src/Dead Code/NonAssignedFields.ql
  csharp/ql/src/Language Abuse/MissedTernaryOpportunity.ql
  csharp/ql/src/Likely Bugs/Collections/ContainerSizeCmpZero.ql
  csharp/ql/src/Likely Bugs/Collections/ReadOnlyContainer.ql
  csharp/ql/src/Likely Bugs/EqualityCheckOnFloats.ql
  csharp/ql/src/Likely Bugs/EqualsUsesAs.ql
  csharp/ql/src/Likely Bugs/EqualsUsesIs.ql
  csharp/ql/src/Likely Bugs/IncomparableEquals.ql
  csharp/ql/src/Linq/MissedSelectOpportunity.ql
  csharp/ql/src/Metrics/Files/FCommentRatio.ql
  csharp/ql/src/Metrics/RefTypes/TNumberOfNonConstFields.ql
  csharp/ql/src/Security Features/CWE-134/UncontrolledFormatString.ql
  csharp/ql/src/definitions.ql
  csharp/ql/src/filters/ChangedLines.ql
  csharp/ql/src/filters/NotInTestFile.ql
  csharp/ql/src/filters/NotInTestFileForMetric.ql
  csharp/ql/src/filters/NotInTestMethod.ql
  csharp/ql/src/filters/NotInTestMethodExpectingException.ql
  csharp/ql/src/filters/UnchangedLines.ql
  csharp/ql/test/library-tests/cil/consistency/Handles.ql
  csharp/ql/test/library-tests/controlflow/graph/ConditionalFlow.ql
  csharp/ql/test/library-tests/csharp6/MemberAccess1.ql
  csharp/ql/test/library-tests/csharp6/MemberAccess2.ql
  csharp/ql/test/library-tests/dataflow/defuse/defUseEquivalence.ql
  csharp/ql/test/library-tests/dataflow/defuse/parameterUseEquivalence.ql
  csharp/ql/test/library-tests/dataflow/defuse/useUseEquivalence.ql
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
  csharp/ql/test/library-tests/dataflow/ssa/SsaCapturedVariableDef.ql
  csharp/ql/test/library-tests/generics/Generics2.ql
Labels: C#

#746 C#: Fix performance issue in `isValidExplicitParamsType()`
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
Labels: C#

#745 C#: Speedup `cs/missed-readonly-modifier`
  csharp/ql/src/Language Abuse/MissedReadonlyOpportunity.ql
Labels: C#

#755 C#: Fix some LGTM alerts on the extractor
  csharp/autobuilder/Semmle.Autobuild/Project.cs
  csharp/autobuilder/Semmle.Autobuild/Solution.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/NugetPackages.cs
  csharp/extractor/Semmle.Extraction.CSharp/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Modifier.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Checked.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Return.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Throw.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Unchecked.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Kinds/StmtKind.cs
  csharp/extractor/Semmle.Extraction.CSharp/Kinds/TypeKind.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/Ast.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/Symbols.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Symbol.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Util/CanonicalPathCache.cs
  csharp/extractor/Semmle.Util/Logger.cs
  csharp/extractor/Semmle.Util/Win32.cs
Labels: C#

#744 CPP: Autoformat some untidy files
  cpp/ql/src/Critical/DeadCodeCondition.ql
  cpp/ql/src/Critical/NotInitialised.ql
  cpp/ql/src/Critical/SizeCheck.ql
  cpp/ql/src/Critical/SizeCheck2.ql
  cpp/ql/src/Header Cleanup/Cleanup-DuplicateIncludeGuard.ql
  cpp/ql/src/Likely Bugs/Format/SnprintfOverflow.ql
  cpp/ql/src/Likely Bugs/Likely Typos/LogicalExprCouldBeSimplified.ql
  cpp/ql/src/Power of 10/Rule 1/UseOfJmp.ql
  cpp/ql/src/Power of 10/Rule 2/ExitPermanentLoop.ql
  cpp/ql/src/Power of 10/Rule 7/CheckArguments.ql
Labels: C++

#740 C++: Add inline namespace support
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/Namespace.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
  cpp/ql/src/semmlecode.cpp.dbscheme.stats
Labels: C++, depends on internal PR

#749 C#: Remove `DefUse.qll`
  csharp/ql/src/semmle/code/csharp/dataflow/DefUse.qll
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/Common.qll
Labels: C#

#771 C++: Sync files that should be identical
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
Labels: C++

#768 JavaScript: Track flow into simple callbacks.
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/TrackedNodes.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/GermanFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
  javascript/ql/test/library-tests/InterProceduralFlow/callback.js
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/execSeries.js
Labels: JS

#767 JS: Support unknown event handlers in js/unbound-event-handler-receiver
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/Expressions/UnboundEventHandlerReceiver.ql
  javascript/ql/test/query-tests/Expressions/UnboundEventHandlerReceiver/tst.js
Labels: JS

#665 JS: improve concatenation sanitizer for property injection
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/StringConcatenation.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PropertyInjectionShared.qll
  javascript/ql/src/semmle/javascript/security/dataflow/RemotePropertyInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeDynamicMethodAccess.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCall.qll
  javascript/ql/test/query-tests/Security/CWE-094/UnsafeDynamicMethodAccess/UnsafeDynamicMethodAccess.expected
  javascript/ql/test/query-tests/Security/CWE-094/UnsafeDynamicMethodAccess/tst.js
  javascript/ql/test/query-tests/Security/CWE-754/UnvalidatedDynamicMethodCall.expected
  javascript/ql/test/query-tests/Security/CWE-754/tst.js
Labels: JS

#564 Python: Check for insecure versions of SSL and TLS.
  change-notes/1.20/analysis-python.md
  python/ql/src/Security/CWE-327/InsecureDefaultProtocol.qhelp
  python/ql/src/Security/CWE-327/InsecureDefaultProtocol.ql
  python/ql/src/Security/CWE-327/InsecureProtocol.qhelp
  python/ql/src/Security/CWE-327/InsecureProtocol.ql
  python/ql/src/Security/CWE-327/examples/insecure_default_protocol.py
  python/ql/src/Security/CWE-327/examples/insecure_protocol.py
  python/ql/test/query-tests/Security/CWE-327/InsecureDefaultProtocol.expected
  python/ql/test/query-tests/Security/CWE-327/InsecureDefaultProtocol.qlref
  python/ql/test/query-tests/Security/CWE-327/InsecureProtocol.expected
  python/ql/test/query-tests/Security/CWE-327/InsecureProtocol.py
  python/ql/test/query-tests/Security/CWE-327/InsecureProtocol.qlref
  python/ql/test/query-tests/Security/CWE-327/options
  python/ql/test/query-tests/Security/lib/pyOpenSSL/SSL.py
  python/ql/test/query-tests/Security/lib/pyOpenSSL/__init__.py
Labels: Python

#765 JS: support flow out of "this" in constructor call
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/TrackedNodes.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/InterProceduralFlow/constructor-calls.js
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/constructor-calls.js
Labels: JS

#776 C#: Recognize `ref` assignments through delegate calls
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/test/library-tests/assignables/AssignableAccess.expected
  csharp/ql/test/library-tests/assignables/AssignableDefinition.expected
  csharp/ql/test/library-tests/assignables/AssignableDefinitionNode.expected
  csharp/ql/test/library-tests/assignables/Assignables.cs
  csharp/ql/test/library-tests/assignables/Assignables.expected
  csharp/ql/test/library-tests/assignables/GetAnAssignedValue.expected
Labels: C#

#780 JavaScript: Fix examples in flow-summaries.rst
  javascript/documentation/flow-summaries.rst
Labels: JS

#654 CPP: Work on Lossy function result cast query
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Conversion/LossyFunctionResultCast.cpp
  cpp/ql/src/Likely Bugs/Conversion/LossyFunctionResultCast.qhelp
  cpp/ql/src/Likely Bugs/Conversion/LossyFunctionResultCast.ql
  cpp/ql/test/query-tests/Likely Bugs/Conversion/LossyFunctionResultCast/ImplicitDowncastFromBitfield.expected
  cpp/ql/test/query-tests/Likely Bugs/Conversion/LossyFunctionResultCast/ImplicitDowncastFromBitfield.qlref
  cpp/ql/test/query-tests/Likely Bugs/Conversion/LossyFunctionResultCast/test.cpp
Labels: C++

#783 C++: Speed up getAFeasiblePredecessorBlock
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/reachability/ReachableBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/reachability/ReachableBlock.qll
Labels: C++

#775 Python: dill pickle support.
  change-notes/1.20/analysis-python.md
  python/ql/src/semmle/python/security/injection/Pickle.qll
  python/ql/test/query-tests/Security/CWE-502/UnsafeDeserialization.expected
  python/ql/test/query-tests/Security/CWE-502/test.py
  python/ql/test/query-tests/Security/lib/dill.py
Labels: Python

#764 JS: introduce DataFlow::ClassNode
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/ClassNode/InstanceMember.expected
  javascript/ql/test/library-tests/ClassNode/InstanceMember.ql
  javascript/ql/test/library-tests/ClassNode/InstanceMethod.expected
  javascript/ql/test/library-tests/ClassNode/InstanceMethod.ql
  javascript/ql/test/library-tests/ClassNode/SuperClass.expected
  javascript/ql/test/library-tests/ClassNode/SuperClass.ql
  javascript/ql/test/library-tests/ClassNode/tst.js
  javascript/ql/test/library-tests/Classes/ClassNodeConstructor.expected
  javascript/ql/test/library-tests/Classes/ClassNodeConstructor.ql
  javascript/ql/test/library-tests/Classes/ClassNodeInstanceMethod.expected
  javascript/ql/test/library-tests/Classes/ClassNodeInstanceMethod.ql
  javascript/ql/test/library-tests/Classes/ClassNodeStaticMethod.expected
  javascript/ql/test/library-tests/Classes/ClassNodeStaticMethod.ql
Labels: JS

#682 CPP: Fix false positive in SuspiciousAddWithSizeof.ql
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/Security/CWE/CWE-468/SuspiciousAddWithSizeof.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-468/semmle/SuspiciousAddWithSizeof/SuspiciousAddWithSizeof.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-468/semmle/SuspiciousAddWithSizeof/test.cpp
Labels: C++

#672 CPP: Fix function pointer/lambda related false positives in 'Resource not released in destructor'
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/jsf/4.10 Classes/AV Rule 79.ql
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 79/AV Rule 79.expected
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 79/Lambda.cpp
Labels: C++

#741 JS: support 'this' as the root of an access path
  javascript/ql/src/semmle/javascript/dataflow/internal/AccessPaths.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.ql
  javascript/ql/test/library-tests/TaintTracking/sanitizer-guards.js
Labels: JS

#801 C++: Merge rc/1.19 and #777
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/AutogeneratedFile.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
Labels: C++, Mergeback, depends on internal PR

#769 C++: Speed up Expr.getFullyConverted slightly
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
Labels: C++

#803 C++: Recognize more function decls as code
  cpp/ql/src/Documentation/CommentedOutCode.qll
  cpp/ql/test/query-tests/Documentation/CommentedOutCode/CommentedOutCode.expected
  cpp/ql/test/query-tests/Documentation/CommentedOutCode/test2.cpp
Labels: C++

#786 Java: Fix FP in DoubleCheckedLocking.ql
  change-notes/1.20/analysis-java.md
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLocking.ql
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLocking.qll
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLockingBad3.java
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLockingShared.qhelp
  java/ql/test/query-tests/DoubleCheckedLocking/A.java
  java/ql/test/query-tests/DoubleCheckedLocking/DoubleCheckedLocking.expected
  java/ql/test/query-tests/DoubleCheckedLocking/DoubleCheckedLockingWithInitRace.expected
Labels: Java

#800 C#: Add sources from System.Windows.Forms controls
  change-notes/1.20/analysis-csharp.md
  csharp/ql/src/Security Features/CWE-089/SqlInjection.ql
  csharp/ql/src/Security Features/CWE-134/UncontrolledFormatString.ql
  csharp/ql/src/semmle/code/csharp/dataflow/flowsources/Local.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/windows/Forms.qll
  csharp/ql/src/semmle/code/csharp/security/PrivateData.qll
  csharp/ql/src/semmle/code/csharp/security/SensitiveActions.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/CodeInjection.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/ResourceInjection.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/SqlInjection.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/XSS.qll
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-094/CodeInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-094/CodeInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.cs
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.expected
  csharp/ql/test/query-tests/Security Features/CWE-312/CleartextStorage.cs
  csharp/ql/test/query-tests/Security Features/CWE-312/CleartextStorage.expected
  csharp/ql/test/query-tests/Security Features/CWE-359/ExposureOfPrivateInformation.cs
  csharp/ql/test/query-tests/Security Features/CWE-359/ExposureOfPrivateInformation.expected
  csharp/ql/test/resources/stubs/System.Windows.cs
Labels: C#

#754 C++: Exclude assignment operator in ExprHasNoEffect
  cpp/ql/src/Likely Bugs/Likely Typos/ExprHasNoEffect.ql
  cpp/ql/src/semmle/code/cpp/NameQualifiers.qll
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/ExprHasNoEffect/test.cpp
Labels: C++

#809 CPP: Small change to 'Resource not released in destructor'
  cpp/ql/src/jsf/4.10 Classes/AV Rule 79.ql
Labels: C++

#811 C++: IR sanity queries for outgoing edges
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/raw_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
Labels: C++

#813 C#: Fix FP in cs/call-to-object-tostring
  change-notes/1.20/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/commons/Strings.qll
  csharp/ql/test/query-tests/Useless Code/DefaultToString/DefaultToString.cs
Labels: C#

#798 C#: Redefine `AccessorCall`
  change-notes/1.20/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/Property.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
  csharp/ql/src/semmle/code/csharp/exprs/Access.qll
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Xml.qll
  csharp/ql/src/semmle/code/dotnet/Expr.qll
  csharp/ql/test/library-tests/arguments/argumentByName.expected
  csharp/ql/test/library-tests/arguments/argumentByParameter.expected
  csharp/ql/test/library-tests/assignables/AssignableAccess.expected
  csharp/ql/test/library-tests/assignables/AssignableDefinition.expected
  csharp/ql/test/library-tests/assignables/AssignableDefinitionNode.expected
  csharp/ql/test/library-tests/assignables/Assignables.cs
  csharp/ql/test/library-tests/assignables/Assignables.expected
  csharp/ql/test/library-tests/assignables/GetAnAssignedValue.expected
  csharp/ql/test/library-tests/assignables/TupleDefinition.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaCapturedVariableDef.expected
  csharp/ql/test/library-tests/definitions/definitions.expected
  csharp/ql/test/library-tests/dispatch/GetADynamicTarget.expected
  csharp/ql/test/library-tests/dispatch/viableCallable.expected
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
Labels: C#

#816 CPP: Code tidy / qldoc
  cpp/ql/src/semmle/code/cpp/Field.qll
  cpp/ql/src/semmle/code/cpp/Namespace.qll
  cpp/ql/src/semmle/code/cpp/Struct.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/Union.qll
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/XML.qll
Labels: C++

#739 C++: Clean up "Use of string copy function in a condition" query
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean.qhelp
  cpp/ql/src/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean.ql
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean/UsingStrcpyAsBoolean.expected
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean/test.c
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean/test.cpp
Labels: C++

#736 CPP: Deprecate MacroInvocationExpr and MacroInvocationStmt
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticWithExtremeValues.ql
  cpp/ql/src/semmle/code/cpp/Macro.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/test.cpp
Labels: C++

#802 JavaScript: Fix DoubleEscaping.qhelp
  javascript/ql/src/Security/CWE-116/DoubleEscaping.qhelp
Labels: JS

#735 JS: library for recognizing startsWith, includes, endsWith
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/StringOps.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/StringOps/EndsWith/EndsWith.expected
  javascript/ql/test/library-tests/StringOps/EndsWith/EndsWith.ql
  javascript/ql/test/library-tests/StringOps/EndsWith/tst.js
  javascript/ql/test/library-tests/StringOps/Includes/Includes.expected
  javascript/ql/test/library-tests/StringOps/Includes/Includes.ql
  javascript/ql/test/library-tests/StringOps/Includes/tst.js
  javascript/ql/test/library-tests/StringOps/StartsWith/StartsWith.expected
  javascript/ql/test/library-tests/StringOps/StartsWith/StartsWith.ql
  javascript/ql/test/library-tests/StringOps/StartsWith/tst.js
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/indexOf.js
Labels: JS

#824 CPP: Add 'fread' to BufferAccess.qll
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/security/BufferAccess.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/tests.cpp
Labels: C++

#805 JS: track dataflow sources out of callbacks
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TrackedNodes.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/callbacks.js
Labels: JS

#831 CPP: Tweak tags for consistency
  cpp/ql/src/jsf/4.05 Libraries/AV Rule 20.ql
Labels: C++

#743 C#: Teach data flow library about CFG splitting
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/Stmt.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/TaintTracking.qll
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/TaintedPath.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/UrlRedirect.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/ZipSlip.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Initializers.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.ql
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/csharp7/TupleAccess.expected
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/Common.qll
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlow.ql
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.ql
  csharp/ql/test/library-tests/dataflow/global/Splitting.cs
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.ql
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.ql
  csharp/ql/test/library-tests/dataflow/local/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/local/DataFlow.ql
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/LocalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/local/Splitting.cs
  csharp/ql/test/library-tests/dataflow/local/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTracking.ql
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefElement.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefElement.ql
  csharp/ql/test/library-tests/dispatch/CallGraph.expected
  csharp/ql/test/library-tests/dispatch/GetADynamicTarget.expected
  csharp/ql/test/library-tests/dispatch/ViableCallable.cs
  csharp/ql/test/query-tests/Security Features/CWE-209/ExceptionInformationExposure.cs
Labels: C#

#826 C#: Cleanup dotnet install script after installation in autobuilder
  csharp/autobuilder/Semmle.Autobuild.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild/DotNetRule.cs
Labels: C#

#790 C++: new query for futile arguments to C functions
  cpp/config/suites/c/correctness
  cpp/config/suites/cpp/correctness
  cpp/ql/src/Likely Bugs/Likely Typos/FutileParams.c
  cpp/ql/src/Likely Bugs/Likely Typos/FutileParams.qhelp
  cpp/ql/src/Likely Bugs/Likely Typos/FutileParams.ql
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/FutileParams/FutileParams.expected
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/FutileParams/FutileParams.qlref
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/FutileParams/test.c
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/FutileParams/test.cpp
Labels: C++

#833 JS: relax the `js/trivial-conditional` whitelist
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/Statements/UselessConditional.ql
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.expected
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.js
Labels: JS

#821 CPP: Improve ArrayArgSizeMismatch.ql
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Conversion/ArrayArgSizeMismatch.ql
  cpp/ql/test/query-tests/Likely Bugs/Conversion/ArrayArgSizeMismatch/ArrayArgSizeMismatch.expected
  cpp/ql/test/query-tests/Likely Bugs/Conversion/ArrayArgSizeMismatch/ArrayArgSizeMismatch.qlref
  cpp/ql/test/query-tests/Likely Bugs/Conversion/ArrayArgSizeMismatch/test.cpp
Labels: C++

#825 C#: Improve performance of CFG split set computation
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/test/library-tests/controlflow/graph/SplitsConsistency.expected
  csharp/ql/test/library-tests/controlflow/graph/SplitsConsistency.ql
Labels: C#

#845 C#: Teach guards library about `object.GetType()`
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/test/library-tests/controlflow/guards/BooleanGuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Guards.cs
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/library-tests/controlflow/guards/NullGuardedExpr.expected
Labels: C#

#843 CPP: Improve ArithmeticTainted.ql
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticTainted.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/test5.cpp
Labels: C++

#855 C++: Simplify TranslatedElement.getRealParent
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
Labels: C++

#770 C++: Add addresses to `Expr.isConstant`
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Likely Typos/LogicalExprCouldBeSimplified.ql
  cpp/ql/src/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/internal/AddressConstantExpression.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/constants/addresses/addresses.cpp
  cpp/ql/test/library-tests/constants/addresses/addresses.expected
  cpp/ql/test/library-tests/constants/addresses/addresses.ql
  cpp/ql/test/library-tests/qlcfg/cpp11.cpp
Labels: C++

#848 C#: Suppress cs/catch-of-all-exceptions
  csharp/autobuilder/Semmle.Autobuild/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild/Project.cs
  csharp/extractor/Semmle.Util/CanonicalPathCache.cs
Labels: C#

#759 C#: Remove FPs from cs/call-to-object-tostring
  change-notes/1.20/analysis-csharp.md
  csharp/ql/src/Language Abuse/MissedReadonlyOpportunity.ql
  csharp/ql/src/Likely Bugs/Collections/WriteOnlyContainer.ql
  csharp/ql/src/Useless code/DefaultToString.ql
  csharp/ql/src/semmle/code/csharp/Member.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/Steps.qll
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
  csharp/ql/test/library-tests/modifiers/Effectively.expected
  csharp/ql/test/library-tests/modifiers/Effectively.ql
  csharp/ql/test/query-tests/Useless Code/DefaultToString/DefaultToString.cs
  csharp/ql/test/query-tests/Useless Code/DefaultToString/DefaultToString.expected
Labels: C#
