Repository github/codeql, pull requests merged in 2019-11, with the labels that each got.

#2228 C++: Use getASTVariable in DefaultTaintTracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#2188 C++: Add a sample class in PrintAST.ql
  cpp/ql/src/semmle/code/cpp/PrintAST.ql
Labels: C++

#2240 JavaScript: Use type tracking instead of auxiliary data-flow configuration to track indirect command arguments.
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/ShellCommandInjectionFromEnvironment.expected
Labels: JS

#2239 Query cpp/unused-static-variable was producing incorrect results for constexpr variables
  cpp/ql/src/Best Practices/Unused Entities/UnusedStaticVariables.ql
Labels: C++

#2212 Java: support JDK 13
  java/ql/src/config/semmlecode.dbscheme
  java/ql/src/config/semmlecode.dbscheme.stats
  java/ql/src/semmle/code/java/Completion.qll
  java/ql/src/semmle/code/java/ControlFlowGraph.qll
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/src/semmle/code/java/Statement.qll
  java/ql/test/library-tests/guards12/options
Labels: depends on internal PR

#2179 C#: Fix a FP in cs/local-not-disposed
  change-notes/1.23/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/cil/dataflow/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/local/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/LocalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/local/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/NoDisposeCallOnLocalIDisposable.cs
Labels: C#

#2213 C++: Implement DataFlow::BarrierGuard for AST+IR
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/BarrierGuard.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/DataflowTestCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/IRDataflowTestCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  docs/language/learn-ql/cpp/dataflow.rst
Labels: C++

#2163 Python: Modernise and fix FP in `py/undefined-export`
  python/ql/src/Variables/UndefinedExport.ql
  python/ql/src/semmle/python/Module.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Labels: Python

#2209 C#: Add `precision` tag to `cs/deserialized-delegate`
  change-notes/1.23/analysis-csharp.md
  csharp/ql/src/Security Features/CWE-502/DeserializedDelegate.ql
Labels: C#

#2042 Python: Fix false positives in `py/unused-import`.
  python/ql/src/Imports/UnusedImport.ql
  python/ql/test/query-tests/Imports/unused/imports_test.py
Labels: Python

#2248 Python: Limit what functions we treat as returning sensitive data
  python/ql/src/semmle/python/security/SensitiveData.qll
Labels: Python

#2246 JS: classify Doxygen-generated files
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/semmle/javascript/GeneratedCode.qll
  javascript/ql/test/query-tests/filters/ClassifyFiles/ClassifyFiles.expected
  javascript/ql/test/query-tests/filters/ClassifyFiles/doxygen-generated.html
Labels: JS

#2247 JavaScript: Improve double-escaping query
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/Security/CWE-116/DoubleEscaping.qhelp
  javascript/ql/src/Security/CWE-116/DoubleEscaping.ql
  javascript/ql/test/query-tests/Security/CWE-116/DoubleEscaping/DoubleEscaping.expected
  javascript/ql/test/query-tests/Security/CWE-116/DoubleEscaping/tst.js
Labels: JS

#2231 CPP & C#: Review of qhelp (SD-4028)
  cpp/ql/src/Likely Bugs/Memory Management/Buffer Overflow/NtohlArrayNoBoundOpenSource.qhelp
  cpp/ql/src/Security/CWE/CWE-457/ConditionallyUninitializedVariable.qhelp
  cpp/ql/src/Security/CWE/CWE-457/ConditionallyUninitializedVariable.ql
  csharp/ql/src/Security Features/CWE-091/XMLInjection.qhelp
  csharp/ql/src/Security Features/CWE-114/AssemblyPathInjection.qhelp
  csharp/ql/src/Security Features/CWE-321/HardcodedEncryptionKey.ql
  csharp/ql/src/Security Features/CWE-327/InsecureSQLConnection.qhelp
  csharp/ql/src/Security Features/CWE-327/InsecureSQLConnection.ql
Labels: C#, C++

#2116 JS: Add array callbacks js/use-of-returnless-function query
  javascript/ql/src/Expressions/ExprHasNoEffect.ql
  javascript/ql/src/Expressions/ExprHasNoEffect.qll
  javascript/ql/src/Statements/UseOfReturnlessFunction.ql
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/UseOfReturnlessFunction.expected
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/tst.js
Labels: JS

#2236 JavaScript: Add libraries for forward and backward data-flow exploration.
  javascript/ql/src/semmle/javascript/dataflow/BackwardExploration.qll
  javascript/ql/src/semmle/javascript/dataflow/ForwardExploration.qll
Labels: JS

#2255 C++: localInstruction{Flow,Taint} helpers
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
Labels: C++

#2203 JS: add query for detecting ignored calls to Array.prototype.concat
  change-notes/1.23/analysis-javascript.md
  javascript/config/suites/javascript/correctness-core
  javascript/ql/src/Statements/IgnoreArrayResult.qhelp
  javascript/ql/src/Statements/IgnoreArrayResult.ql
  javascript/ql/src/Statements/examples/IgnoreArrayResult.js
  javascript/ql/src/Statements/examples/IgnoreArrayResultFixed.js
  javascript/ql/test/query-tests/Statements/IgnoreArrayResult/IgnoreArrayResult.expected
  javascript/ql/test/query-tests/Statements/IgnoreArrayResult/IgnoreArrayResult.qlref
  javascript/ql/test/query-tests/Statements/IgnoreArrayResult/tst.js
Labels: JS

#2254 JS: Treat the LHS of a for-of loop as a PropRead
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/DataFlow/flowStep.expected
  javascript/ql/test/library-tests/DataFlow/incomplete.expected
  javascript/ql/test/library-tests/DataFlow/parameters.expected
  javascript/ql/test/library-tests/DataFlow/sources.expected
  javascript/ql/test/library-tests/DataFlow/sources.js
Labels: JS

#2102 JS: add Deferred model in js/use-of-returnless-function
  javascript/ql/src/Statements/UseOfReturnlessFunction.ql
  javascript/ql/test/library-tests/TaintTracking/promise.js
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/tst.js
Labels: JS

#2264 Python: Fix bad join order in `py/unused-import`
  python/ql/src/Imports/UnusedImport.ql
Labels: Python

#2242 Docs: update terminology in markdown files (SD-4059)
  CONTRIBUTING.md
  README.md
  change-notes/1.23/analysis-cpp.md
  change-notes/1.23/analysis-csharp.md
  change-notes/1.23/analysis-java.md
  change-notes/1.23/analysis-javascript.md
  change-notes/support/README.md
  docs/ql-style-guide.md
  docs/query-metadata-style-guide.md
Labels: documentation

#2211 C#: Add precision tags to `UnsafeDeserialization[UntrustedInput].ql`
  change-notes/1.23/analysis-csharp.md
  csharp/ql/src/Security Features/CWE-502/UnsafeDeserialization.qhelp
  csharp/ql/src/Security Features/CWE-502/UnsafeDeserialization.ql
  csharp/ql/src/Security Features/CWE-502/UnsafeDeserializationUntrustedInput.qhelp
  csharp/ql/src/Security Features/CWE-502/UnsafeDeserializationUntrustedInput.ql
  csharp/ql/src/semmle/code/csharp/security/dataflow/UnsafeDeserialization.qll
  csharp/ql/test/query-tests/Security Features/CWE-502/UnsafeDeserialization/ExtractorOptions.cs
  csharp/ql/test/query-tests/Security Features/CWE-502/UnsafeDeserialization/SystemWebStub.cs
  csharp/ql/test/query-tests/Security Features/CWE-502/UnsafeDeserializationUntrustedInput/ExtractorOptions.cs
  csharp/ql/test/query-tests/Security Features/CWE-502/UnsafeDeserializationUntrustedInput/SystemWebStub.cs
  csharp/ql/test/resources/stubs/System.Web.cs
Labels: C#

#2224 JS: Generalize global access paths to include local ones
  javascript/ql/src/semmle/javascript/Closure.qll
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/src/semmle/javascript/JSDoc.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/access-path.js
  javascript/ql/test/library-tests/GlobalAccessPaths/GlobalAccessPaths.expected
  javascript/ql/test/library-tests/GlobalAccessPaths/GlobalAccessPaths.ql
Labels: JS

#2251 JS: Barrier guard improvements
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/TaintBarriers/SanitizingGuard.expected
  javascript/ql/test/library-tests/TaintBarriers/TaintedSink.expected
  javascript/ql/test/library-tests/TaintBarriers/isBarrier.expected
  javascript/ql/test/library-tests/TaintBarriers/tst.js
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.ql
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/sanitizer-function.js
  javascript/ql/test/library-tests/TaintTracking/sanitizer-guards.js
Labels: JS

#2275 Learn CodeQL docs: add short note about new terminology
  docs/language/learn-ql/index.rst
  docs/language/learn-ql/terminology-note.rst
Labels: documentation

#2271 Template members
  cpp/ql/test/library-tests/noexcept/copy_from_prototype/copy_from_prototype.expected
  cpp/ql/test/library-tests/syntax-zoo/drawDifferent.expected
  cpp/ql/test/library-tests/syntax-zoo/tellDifferent.expected
  cpp/ql/test/library-tests/templates/CPP-172-template-members/test.cpp
  cpp/ql/test/library-tests/templates/CPP-172-template-members/test.expected
  cpp/ql/test/library-tests/templates/CPP-172-template-members/test.ql
  cpp/ql/test/library-tests/templates/instantiations_functions/elements.expected
Labels: C++, depends on internal PR

#2272 C++/C#: Fix getIRTypeForPRValue join order
  cpp/ql/src/semmle/code/cpp/ir/implementation/IRType.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/IRType.qll
Labels: C++

#1999 C++: Make sure there's a Instruction for each Expr
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/ir/escape/points_to.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Labels: C++

#2277 C++: Remove tests for CFG differences
  cpp/ql/test/library-tests/syntax-zoo/drawDifferent.expected
  cpp/ql/test/library-tests/syntax-zoo/drawDifferent.ql
  cpp/ql/test/library-tests/syntax-zoo/tellDifferent.expected
  cpp/ql/test/library-tests/syntax-zoo/tellDifferent.ql
Labels: C++

#2244 C++: Minimal caching of the IR type system
  cpp/ql/src/semmle/code/cpp/ir/implementation/IRType.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/CppType.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/IRType.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/CSharpType.qll
Labels: C#, C++

#2262 C++: Rudimentary support for IR data flow virtual dispatch
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dispatch.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
Labels: C++

#2273 CPP: Add tests of NtohlArrayNoBoundOpenSource.ql.
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/Buffer Overflow/NtohlArrayNoBound/NtohlArrayNoBound.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/Buffer Overflow/NtohlArrayNoBound/NtohlArrayNoBound.qlref
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/Buffer Overflow/NtohlArrayNoBound/test.cpp
Labels: C++

#2280 docs: update banner links
  docs/language/global-sphinx-files/_templates/layout.html
Labels: documentation

#2276 JS: Generalize StringOps::Includes to InclusionTest
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/InclusionTests.qll
  javascript/ql/src/semmle/javascript/StringOps.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Labels: JS

#2260 JavaScript: Classify files with names ending in `_min` as minified.
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/semmle/javascript/AST.qll
  javascript/ql/test/query-tests/filters/ClassifyFiles/ClassifyFiles.expected
  javascript/ql/test/query-tests/filters/ClassifyFiles/tst-min.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/tst.min.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/tst_min.js
Labels: JS

#2279 TypeScript: Skip Touchstone files.
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/tests/ts/input/touchstone-file.ts
  javascript/extractor/tests/ts/input/touchstone-file2.ts
Labels: JS

#2284 Docs: Update sidebar
  docs/language/global-sphinx-files/_templates/layout.html
Labels: documentation

#2283 Python: fix python2 specific tests
  python/ql/test/2/library-tests/classes/attr/list_attr.expected
  python/ql/test/2/library-tests/classes/mro/C3.expected
  python/ql/test/2/library-tests/classes/mro/mro.expected
  python/ql/test/2/library-tests/six/test.expected
  python/ql/test/2/library-tests/types/classes/mro_test.expected
  python/ql/test/2/query-tests/Classes/equals-hash/EqualsOrHash.expected
  python/ql/test/2/query-tests/Classes/equals-hash/EqualsOrNotEquals.expected
Labels: Python

#2269 C++: uninit instr for string literal initializers
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
Labels: C++

#2268 C++/C#: Treat string literals like read-only global variables for alias purposes
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/TIRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/internal/TIRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C#, C++

#2075 [CPP-434] Detect signed overflow checks
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck-bad1.cpp
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck-bad2.cpp
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck-good1.cpp
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck-good2.cpp
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck.qhelp
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck.ql
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BadAdditionOverflowCheck/BadAdditionOverflowCheck.expected
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BadAdditionOverflowCheck/SignedOverflowCheck.cpp
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BadAdditionOverflowCheck/SignedOverflowCheck.expected
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BadAdditionOverflowCheck/SignedOverflowCheck.qlref
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BadAdditionOverflowCheck/test.cpp
Labels: C++

#2287 1.22: Update for support info for CodeQL term change
  docs/language/global-sphinx-files/_templates/layout.html
  docs/language/support/conf.py
  docs/language/support/framework-support.rst
  docs/language/support/index.rst
  docs/language/support/language-support.rst
Labels: documentation

#2295 C++: Suppress PointlessSelfComparison.ql on templates
  cpp/ql/src/Likely Bugs/Arithmetic/PointlessSelfComparison.ql
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BadAdditionOverflowCheck/PointlessSelfComparison.expected
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BadAdditionOverflowCheck/templates.cpp
Labels: C++

#2294 1.22 mergeback master
  docs/language/global-sphinx-files/global-conf.py
  docs/language/learn-ql/cpp/zero-space-terminator.rst
  docs/language/learn-ql/csharp/ql-for-csharp.rst
  docs/language/learn-ql/java/call-graph.rst
  docs/language/learn-ql/java/expressions-statements.rst
  docs/language/learn-ql/java/introduce-libraries-java.rst
  docs/language/learn-ql/java/types-class-hierarchy.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
  docs/language/learn-ql/python/functions.rst
  docs/language/learn-ql/python/introduce-libraries-python.rst
  docs/language/learn-ql/python/pointsto-type-infer.rst
  docs/language/learn-ql/python/statements-expressions.rst
  docs/language/support/conf.py
  docs/language/support/framework-support.rst
  docs/language/support/index.rst
  docs/language/support/language-support.rst
  docs/language/support/versions-compilers.csv
Labels: documentation

#2241 Python: Always enable legacy taint tracking configuration
  python/ql/src/semmle/python/dataflow/Legacy.qll
  python/ql/test/library-tests/taint/config/RockPaperScissors.expected
  python/ql/test/library-tests/taint/config/Simple.expected
  python/ql/test/query-tests/Security/CWE-022/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-022/TarSlip.expected
  python/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  python/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  python/ql/test/query-tests/Security/CWE-094/CodeInjection.expected
  python/ql/test/query-tests/Security/CWE-209/StackTraceExposure.expected
  python/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-327/TestNode.expected
  python/ql/test/query-tests/Security/CWE-502/UnsafeDeserialization.expected
  python/ql/test/query-tests/Security/CWE-601/UrlRedirect.expected
Labels: Python

#2274 CPP: Clean up new queries and libraries
  cpp/ql/src/Microsoft/SAL.qll
  cpp/ql/src/Security/CWE/CWE-457/InitializationFunctions.qll
  cpp/ql/src/semmle/code/cpp/NestedFields.qll
  cpp/ql/src/semmle/code/cpp/dispatch/VirtualDispatch.qll
  cpp/ql/src/semmle/code/cpp/security/boostorg/asio/protocols.qll
Labels: C++

#2003 CPP: WrongTypeFormatArguments.ql Fix
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/a.c
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/b.c
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/a.c
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/b.c
Labels: C++

#2249 CPP: TlsSettingsMisconfiguration.ql performance and cleanup
  cpp/ql/src/Likely Bugs/Protocols/boostorg/TlsSettingsMisconfiguration.ql
  cpp/ql/test/query-tests/Likely Bugs/Protocols/boostorg/TlsSettingsMisconfiguration.expected
  cpp/ql/test/query-tests/Likely Bugs/Protocols/boostorg/test2.cpp
Labels: C++

#2289 C++ IR: clearly distinguish between virtual and non-virtual base conversions
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/test/library-tests/ir/escape/points_to.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
Labels: C++

#2232 CPP: Fully support n$ in format strings
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/printf1.h
Labels: C++, depends on internal PR

#2297 JS: use-of-returnless-function: correctly weed out benign calls inside html-attributes
  javascript/ql/src/Statements/UseOfReturnlessFunction.ql
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/UseOfReturnlessFunction.expected
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/tst.html
Labels: JS

#2285 JS: Add syntax examples to DataFlow classes
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
Labels: JS

#1585 C++: add Declaration.hasGlobalOrStdName()
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/Critical/DescriptorMayNotBeClosed.ql
  cpp/ql/src/Critical/DescriptorNeverClosed.ql
  cpp/ql/src/Critical/MemoryMayNotBeFreed.ql
  cpp/ql/src/Critical/OverflowCalculated.ql
  cpp/ql/src/Critical/OverflowDestination.ql
  cpp/ql/src/Critical/OverflowStatic.ql
  cpp/ql/src/Critical/SizeCheck.ql
  cpp/ql/src/Critical/SizeCheck2.ql
  cpp/ql/src/Critical/UseAfterFree.ql
  cpp/ql/src/DefaultOptions.qll
  cpp/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  cpp/ql/src/Security/CWE/CWE-079/CgiXss.ql
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
  cpp/ql/src/Security/CWE/CWE-497/ExposedSystemData.ql
  cpp/ql/src/Security/CWE/CWE-676/DangerousFunctionOverflow.ql
  cpp/ql/src/jsf/4.10 Classes/AV Rule 79.ql
  cpp/ql/src/jsf/4.10 Classes/AV Rule 97.ql
  cpp/ql/src/semmle/code/cpp/Declaration.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/commons/Alloc.qll
  cpp/ql/src/semmle/code/cpp/commons/Environment.qll
  cpp/ql/src/semmle/code/cpp/commons/File.qll
  cpp/ql/src/semmle/code/cpp/commons/StringAnalysis.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Dereferenced.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Nullness.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
  cpp/ql/src/semmle/code/cpp/security/FileWrite.qll
  cpp/ql/src/semmle/code/cpp/security/OutputWrite.qll
  cpp/ql/src/semmle/code/cpp/security/Security.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTracking.qll
Labels: C++

#2305 Java: Add ConditionalExpr to overflow candidate pattern.
  java/ql/src/Likely Bugs/Comparison/UselessComparisonTest.ql
  java/ql/test/query-tests/UselessComparisonTest/A.java
Labels: Java

#2304 Java: Fix range analysis bug in integral inequality bounds.
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/test/query-tests/UselessComparisonTest/C.java
Labels: Java

#2300 CPP: Rename/relocate some queries and libraries
  cpp/ql/src/Likely Bugs/Memory Management/Buffer Overflow/NtohlArrayNoBound.qll
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound-bad.cpp
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound-good.cpp
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound.qhelp
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound.ql
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound.qll
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfiguration.qhelp
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfiguration.ql
  cpp/ql/src/Likely Bugs/Protocols/UseOfDeprecatedHardcodedProtocol.qhelp
  cpp/ql/src/Likely Bugs/Protocols/UseOfDeprecatedHardcodedProtocol.ql
  cpp/ql/src/Microsoft/IgnoreReturnValueSAL.ql
  cpp/ql/src/Microsoft/SAL/IgnoreReturnValueSAL.ql
  cpp/ql/src/Security/CWE/CWE-457/InitializationFunctions.qll
  cpp/ql/src/semmle/code/cpp/dispatch/VirtualDispatchPrototype.qll
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/Buffer Overflow/NtohlArrayNoBound/NtohlArrayNoBound.qlref
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/NtohlArrayNoBound/NtohlArrayNoBound.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/NtohlArrayNoBound/NtohlArrayNoBound.qlref
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/NtohlArrayNoBound/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Protocols/TlsSettingsMisconfiguration.expected
  cpp/ql/test/query-tests/Likely Bugs/Protocols/TlsSettingsMisconfiguration.qlref
  cpp/ql/test/query-tests/Likely Bugs/Protocols/UseOfDeprecatedHardcodedProtocol.expected
  cpp/ql/test/query-tests/Likely Bugs/Protocols/UseOfDeprecatedHardcodedProtocol.qlref
  cpp/ql/test/query-tests/Likely Bugs/Protocols/asio/boost_simulation.hpp
  cpp/ql/test/query-tests/Likely Bugs/Protocols/boostorg/TlsSettingsMisconfiguration.qlref
  cpp/ql/test/query-tests/Likely Bugs/Protocols/boostorg/UseOfDeprecatedHardcodedProtocol.qlref
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test2.cpp
Labels: C++

#2306 Revert "JavaScript: Improve double-escaping query"
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/Security/CWE-116/DoubleEscaping.qhelp
  javascript/ql/src/Security/CWE-116/DoubleEscaping.ql
  javascript/ql/test/query-tests/Security/CWE-116/DoubleEscaping/DoubleEscaping.expected
  javascript/ql/test/query-tests/Security/CWE-116/DoubleEscaping/tst.js
Labels: JS

#2095 C#: Type unification library
  change-notes/1.23/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/Caching.qll
  csharp/ql/src/semmle/code/csharp/Conversion.qll
  csharp/ql/src/semmle/code/csharp/Implements.qll
  csharp/ql/src/semmle/code/csharp/Type.qll
  csharp/ql/src/semmle/code/csharp/Unification.qll
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
  csharp/ql/src/semmle/code/csharp/dispatch/OverridableCallable.qll
  csharp/ql/test/library-tests/dispatch/CallGraph.expected
  csharp/ql/test/library-tests/dispatch/GetADynamicTarget.expected
  csharp/ql/test/library-tests/dispatch/ViableCallable.cs
  csharp/ql/test/library-tests/unification/Unification.cs
  csharp/ql/test/library-tests/unification/Unification.expected
  csharp/ql/test/library-tests/unification/Unification.ql
Labels: C#

#2270 JS: add DataFlow::getEnclosingExpr to get Expr for potentially reflective calls
  javascript/ql/src/Statements/UseOfReturnlessFunction.ql
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/DataFlow/enclosingExpr.expected
  javascript/ql/test/library-tests/DataFlow/enclosingExpr.ql
Labels: JS

#2286 C#: Make qltests pass on all platforms
  csharp/ql/src/semmle/code/cil/ConsistencyChecks.qll
  csharp/ql/test/library-tests/cil/consistency/consistency.expected
  csharp/ql/test/library-tests/cil/dataflow/CallableReturns.expected
  csharp/ql/test/library-tests/cil/dataflow/CallableReturns.ql
  csharp/ql/test/library-tests/commons/Disposal/Class1.cs_
  csharp/ql/test/library-tests/commons/Disposal/Disposal.cs
  csharp/ql/test/library-tests/commons/Disposal/DisposalTests.dll
  csharp/ql/test/library-tests/commons/Disposal/DisposedFields.expected
  csharp/ql/test/library-tests/commons/Disposal/DisposedFields.ql
  csharp/ql/test/library-tests/commons/Disposal/DisposedParameter.expected
  csharp/ql/test/library-tests/commons/Disposal/DisposedParameter.ql
  csharp/ql/test/library-tests/commons/Disposal/UndisposedParameter.expected
  csharp/ql/test/library-tests/commons/Disposal/UndisposedParameter.ql
  csharp/ql/test/library-tests/commons/Disposal/Whitelist.qll
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/AspInline.ql
Labels: C#

#2313 remove duplicate reflectiveCallNode method, and removing redundant getExpr() method
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
Labels: JS

#2315 CPP: Add a quick test of ErroneousType.
  cpp/ql/test/library-tests/types/error/exprs.expected
  cpp/ql/test/library-tests/types/error/exprs.ql
  cpp/ql/test/library-tests/types/error/test.cpp
Labels: C++

#2068 C++: side effect instrs for constructor qualifiers
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir_sanity.expected
  csharp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
Labels: C++

#2258 JS: Skip CodeQL databases in AutoBuild
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
Labels: JS

#2205 Java: Respect Hamcrest assertThat(X, notNullValue())
  java/ql/src/semmle/code/java/dataflow/Nullness.qll
  java/ql/src/semmle/code/java/frameworks/Assertions.qll
  java/ql/test/query-tests/Nullness/A.java
  java/ql/test/query-tests/Nullness/B.java
  java/ql/test/query-tests/Nullness/C.java
  java/ql/test/query-tests/Nullness/NullAlways.expected
  java/ql/test/query-tests/Nullness/NullMaybe.expected
  java/ql/test/query-tests/Nullness/options
  java/ql/test/stubs/hamcrest-2.2/LICENSE.txt
  java/ql/test/stubs/hamcrest-2.2/org/hamcrest/MatcherAssert.java
  java/ql/test/stubs/hamcrest-2.2/org/hamcrest/core/IsNull.java
Labels: Java

#2323 Docs: Tidy up links in relevant topics
  docs/language/learn-ql/intro-to-data-flow.rst
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/learn-ql/writing-queries/path-queries.rst
  docs/language/learn-ql/writing-queries/writing-queries.rst
Labels: documentation

#2320 Python: Add AST classes for walrus operator.
  python/ql/src/semmle/python/AstGenerated.qll
  python/ql/src/semmle/python/Exprs.qll
Labels: Python

#2327 C++: add missing backtick in qldoc comment
  cpp/ql/src/semmle/code/cpp/Declaration.qll
Labels: C++

#2326 Docs: Use "database" consistently
  docs/language/learn-ql/ql-training.rst
Labels: documentation

#2312 C++: New query: Pointer overflow check
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Arithmetic/PointlessSelfComparison.ql
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck.ql
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow-bad.cpp
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow-good.cpp
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow.qhelp
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow.ql
  cpp/ql/src/semmle/code/cpp/commons/Exclusions.qll
  cpp/ql/test/library-tests/exclusions/exclusions.cpp
  cpp/ql/test/library-tests/exclusions/exclusions.expected
  cpp/ql/test/library-tests/exclusions/exclusions.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/PointerOverflow/PointerOverflow.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/PointerOverflow/PointerOverflow.qlref
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/PointerOverflow/no_strict_overflow.c
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/PointerOverflow/test.cpp
Labels: C++

#2324 JS: torrent content as a remote flow source
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/src/semmle/javascript/security/dataflow/StoredXss.qll
  javascript/ql/test/library-tests/TorrentLibraries/ParsedTorrent.expected
  javascript/ql/test/library-tests/TorrentLibraries/ParsedTorrent.ql
  javascript/ql/test/library-tests/TorrentLibraries/UserControlledTorrentInfo.expected
  javascript/ql/test/library-tests/TorrentLibraries/UserControlledTorrentInfo.ql
  javascript/ql/test/library-tests/TorrentLibraries/parsedTorrentRef.expected
  javascript/ql/test/library-tests/TorrentLibraries/parsedTorrentRef.ql
  javascript/ql/test/library-tests/TorrentLibraries/tst.js
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/torrents.js
  javascript/ql/test/query-tests/Security/CWE-079/StoredXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/xss-through-torrent.js
Labels: JS

#2310 JavaScript: Add query `IncompleteUrlSchemeCheck`
  change-notes/1.23/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.qhelp
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/src/Security/CWE-020/examples/IncompleteUrlSchemeCheck.js
  javascript/ql/src/Security/CWE-020/examples/IncompleteUrlSchemeCheckGood.js
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck.js
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck.qlref
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheckGood.js
Labels: JS

#2328 CPP: Add a quick test of RoutineType.
  cpp/ql/test/library-tests/functions/routinetype/routinetype.cpp
  cpp/ql/test/library-tests/functions/routinetype/types.expected
  cpp/ql/test/library-tests/functions/routinetype/types.ql
Labels: C++

#2321 C#: Upgrade extractor to .NET Core 3.0
  csharp/autobuilder/Semmle.Autobuild.Tests/Semmle.Autobuild.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild/Semmle.Autobuild.csproj
  csharp/extractor/Semmle.Extraction.CIL.Driver/Semmle.Extraction.CIL.Driver.csproj
  csharp/extractor/Semmle.Extraction.CIL/Semmle.Extraction.CIL.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Semmle.Extraction.CSharp.Driver.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction.Tests/Semmle.Extraction.Tests.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Util.Tests/Semmle.Util.Tests.csproj
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
  csharp/ql/src/semmle/code/cil/Instructions.qll
  csharp/ql/test/library-tests/cil/dataflow/CallableReturns.expected
  csharp/ql/test/library-tests/conversion/operator/Operator.expected
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.expected
  csharp/ql/test/library-tests/statements/LocalConstDecl1.expected
  csharp/ql/test/library-tests/statements/LocalConstDecl1.ql
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/Class1.cs_
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/DisposalTests.dll
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/NoDisposeCallOnLocalIDisposable.cs
  csharp/ql/test/query-tests/Stubs/MinimalStubsFromSource.expected
Labels: C#

#2309 CPP: QLDoc enhancements
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/TypedefType.qll
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/src/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
  cpp/ql/src/semmle/code/cpp/exprs/BitwiseOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/Cast.qll
  cpp/ql/src/semmle/code/cpp/exprs/ComparisonOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
  cpp/ql/test/library-tests/builtins/edg/expr.expected
Labels: C++

#2338 JS: Add sources for js/indirect-command-line-injection
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/command-line-parameter-command-injection.js
Labels: JS

#2140 Python: Modernise flask + correctly handle flask.make_response
  python/ql/src/Security/CWE-215/FlaskDebug.ql
  python/ql/src/semmle/python/web/flask/General.qll
  python/ql/src/semmle/python/web/flask/Redirect.qll
  python/ql/src/semmle/python/web/flask/Request.qll
  python/ql/src/semmle/python/web/flask/Response.qll
  python/ql/test/library-tests/web/flask/Routing.expected
  python/ql/test/library-tests/web/flask/Routing.ql
  python/ql/test/library-tests/web/flask/Sinks.expected
  python/ql/test/library-tests/web/flask/Sinks.ql
  python/ql/test/library-tests/web/flask/Sources.expected
  python/ql/test/library-tests/web/flask/Sources.ql
  python/ql/test/library-tests/web/flask/Taint.expected
  python/ql/test/library-tests/web/flask/Taint.ql
  python/ql/test/library-tests/web/flask/options
  python/ql/test/library-tests/web/flask/test.py
  python/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  python/ql/test/query-tests/Security/CWE-079/reflected_xss.py
  python/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312/password_in_cookie.py
  python/ql/test/query-tests/Security/lib/flask/__init__.py
  python/ql/test/query-tests/Security/lib/flask/globals.py
  python/ql/test/query-tests/Security/lib/flask/views.py
Labels: Python, depends on internal PR

#2181 Python: modernise pyramid library
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/web/pyramid/Redirect.qll
  python/ql/src/semmle/python/web/pyramid/Request.qll
  python/ql/src/semmle/python/web/pyramid/Response.qll
  python/ql/src/semmle/python/web/pyramid/View.qll
  python/ql/test/library-tests/web/pyramid/Routing.expected
  python/ql/test/library-tests/web/pyramid/Routing.ql
  python/ql/test/library-tests/web/pyramid/Sinks.expected
  python/ql/test/library-tests/web/pyramid/Sinks.ql
  python/ql/test/library-tests/web/pyramid/Sources.expected
  python/ql/test/library-tests/web/pyramid/Sources.ql
  python/ql/test/library-tests/web/pyramid/Taint.expected
  python/ql/test/library-tests/web/pyramid/Taint.ql
  python/ql/test/library-tests/web/pyramid/options
  python/ql/test/library-tests/web/pyramid/test.py
  python/ql/test/query-tests/Security/lib/pyramid/__init__.py
  python/ql/test/query-tests/Security/lib/pyramid/response.py
  python/ql/test/query-tests/Security/lib/pyramid/view.py
Labels: Python, depends on internal PR

#2343 C#: Add missing assignment data flow steps
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/LocalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
Labels: C#

#2346 Java: Fix range analysis bug where int was assumed.
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/test/query-tests/UselessComparisonTest/C.java
Labels: Java

#2167 Java/C++/C#: Refactor dataflow to simplify return flow.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Labels: C#, C++, Java

#2347 JS: fix the check for an "mjs" extension on an extensionless file
  javascript/ql/src/semmle/javascript/NodeJS.qll
Labels: JS, WIP

#2349 Docs: Update readme in docs folder
  docs/language/README.rst
Labels: documentation

#2348 README.md: Don't speak of QL4E anymore
  README.md
Labels: documentation

#2334 C++: simplify PointerOverflow.qhelp
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow-bad.cpp
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow-good.cpp
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow.qhelp
Labels: C++, documentation

#2350 Docs: Update links to new products
  docs/language/learn-ql/introduction-to-ql.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/learn-ql/writing-queries/path-queries.rst
  docs/language/learn-ql/writing-queries/query-metadata.rst
  docs/language/learn-ql/writing-queries/select-statement.rst
Labels: documentation

#2368 JS: Cap length of string extracted as a RegExp
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Labels: JS

#2370 Docs: Update readme in docs folder (cherry-pick from master)
  docs/language/README.rst
Labels: documentation

#2033 C++: Changes following EDG upgrade
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/defuse/definition.expected
  cpp/ql/test/library-tests/defuse/definitionUsePair.expected
  cpp/ql/test/library-tests/defuse/exprDefinition.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
Labels: C++, depends on internal PR

#2340 C#: Teach assertion library about (classical) NUnit assertions
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/src/semmle/code/csharp/frameworks/test/NUnit.qll
  csharp/ql/test/library-tests/frameworks/test/Assertions.expected
  csharp/ql/test/library-tests/frameworks/test/Assertions.ql
  csharp/ql/test/library-tests/frameworks/test/NUnit1.expected
  csharp/ql/test/library-tests/frameworks/test/NUnit2.expected
  csharp/ql/test/library-tests/frameworks/test/Test.expected
  csharp/ql/test/library-tests/frameworks/test/nunit.cs
Labels: C#

#2371 Merge rc/1.23 into master
  README.md
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow-bad.cpp
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow-good.cpp
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow.qhelp
  csharp/ql/test/library-tests/csharp8/DefaultInterfaceMethods.cs
  csharp/ql/test/library-tests/csharp8/DefaultInterfaceMethods.expected
  csharp/ql/test/library-tests/csharp8/DefaultInterfaceMethods.ql
  docs/language/learn-ql/introduction-to-ql.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/learn-ql/writing-queries/path-queries.rst
  docs/language/learn-ql/writing-queries/query-metadata.rst
  docs/language/learn-ql/writing-queries/select-statement.rst
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/ql/src/semmle/javascript/NodeJS.qll
Labels: Mergeback

#2373 Java: Update change note to cover #2304 and #2346.
  change-notes/1.23/analysis-java.md
Labels: Java

#2190 Python: modernise tornado library
  python/ql/src/semmle/python/web/tornado/Redirect.qll
  python/ql/src/semmle/python/web/tornado/Request.qll
  python/ql/src/semmle/python/web/tornado/Response.qll
  python/ql/src/semmle/python/web/tornado/Tornado.qll
  python/ql/test/library-tests/web/tornado/Classes.expected
  python/ql/test/library-tests/web/tornado/Classes.ql
  python/ql/test/library-tests/web/tornado/Sinks.expected
  python/ql/test/library-tests/web/tornado/Sinks.ql
  python/ql/test/library-tests/web/tornado/Sources.expected
  python/ql/test/library-tests/web/tornado/Sources.ql
  python/ql/test/library-tests/web/tornado/Taint.expected
  python/ql/test/library-tests/web/tornado/Taint.ql
  python/ql/test/library-tests/web/tornado/options
  python/ql/test/library-tests/web/tornado/test.py
  python/ql/test/query-tests/Security/lib/tornado/__init__.py
  python/ql/test/query-tests/Security/lib/tornado/web.py
Labels: Python, depends on internal PR

#2380 Docs: Update links from blog to security lab
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/learn-ql/writing-queries/path-queries.rst
  docs/language/learn-ql/writing-queries/writing-queries.rst
Labels: documentation

#2372 CPP: Improve TlsSettingsMisconfiguration qhelp
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfiguration.qhelp
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfiguration.ql
Labels: C++

#2374 Python: Fix non-container FP relating to `MappingProxyType`.
  python/ql/src/Expressions/ContainsNonContainer.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/query-tests/Expressions/general/expressions_test.py
Labels: Python

#2375 Python: Don't report mutable parameters that are in fact immutable.
  python/ql/src/Functions/ModificationOfParameterWithDefault.ql
  python/ql/test/query-tests/Functions/general/ModificationOfParameterWithDefault.expected
  python/ql/test/query-tests/Functions/general/functions_test.py
Labels: Python

#2387 JavaScript: Teach `IncompleteSanitization` to flag incomplete path sanitizers.
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/tst.js
Labels: JS

#2342 C++: Signed Overflow Check qhelp improvements
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck.qhelp
Labels: C++, documentation

#2383 C++: Don't check if a Field is static
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Labels: C++

#2220 JS: Add process.env as source in js/clear-text-logging
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/frameworks/Logging.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextLogging.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextLoggingCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  javascript/ql/test/query-tests/Security/CWE-312/passwords.js
Labels: JS

#2391 C++: Fix FP for expression SFINAE with decltype
  cpp/ql/src/Likely Bugs/Likely Typos/CompareWhereAssignMeant.ql
  cpp/ql/src/Likely Bugs/Likely Typos/ExprHasNoEffect.ql
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/CompareWhereAssignMeant/test.cpp
Labels: C++

#2397 Python: Add `toString` information for all classes without such.
  python/ql/src/external/CodeDuplication.qll
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/Keywords.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/src/semmle/python/types/Extensions.qll
Labels: Python

#2386 QL docs: Update links to blog/demos
  docs/language/learn-ql/ql-training.rst
  docs/language/learn-ql/writing-queries/path-queries.rst
  docs/language/ql-training/cpp/snprintf.rst
  docs/language/ql-training/java/apache-struts-java.rst
  docs/language/ql-training/java/global-data-flow-java.rst
Labels: documentation

#2393 JavaScript: Add a warning to `IncompleteSanitization` help.
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.qhelp
Labels: JS

#2399 C++: Suppress ExprHasNoEffect on template code
  cpp/ql/src/Likely Bugs/Likely Typos/ExprHasNoEffect.ql
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/ExprHasNoEffect/ExprHasNoEffect.expected
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/ExprHasNoEffect/test.cpp
Labels: C++

#1926 C++: DataFlow::Node.toString consistency
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#2400 C++: Tweak 1.23 change note
  change-notes/1.23/analysis-cpp.md
Labels: C++, documentation

#2405 JS: recognize additional binders for js/unbound-event-handler-receiver
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Expressions/UnboundEventHandlerReceiver.ql
  javascript/ql/test/query-tests/Expressions/UnboundEventHandlerReceiver/tst.js
Labels: JS

#2394 JS: model React's getDerivedStateFromError
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/React.qll
  javascript/ql/test/query-tests/React/UnusedOrUndefinedStateProperty/issue-2389.reduced.js
Labels: JS

#2414 C++/C#: Fix QL compilation warnings/errors
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSAImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSAPublicImports.qll
  cpp/ql/src/semmle/uml/MagicDraw.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSAImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSAPublicImports.qll
Labels: C#, C++

#2417 C++: Prevent cached stages from being re-evaluated
  cpp/ql/src/semmle/code/cpp/Enclosing.qll
Labels: C++

#2401 Python: Fix false positive in `py/non-iterator-in-for-loop`
  python/ql/src/semmle/python/objects/TObject.qll
  python/ql/test/query-tests/Statements/general/NonIteratorInForLoop.expected
  python/ql/test/query-tests/Statements/general/test.py
Labels: Python

#2409 Python: Support forward references inside return type annotations.
  python/ql/src/Imports/UnusedImport.ql
  python/ql/test/query-tests/Imports/unused/imports_test.py
Labels: Python

#2369 JavaScript: Share code between `DoubleEscaping` and `IncompleteSanitization`.
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Security/CWE-116/DoubleEscaping.ql
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/query-tests/Security/CWE-116/DoubleEscaping/DoubleEscaping.expected
  javascript/ql/test/query-tests/Security/CWE-116/DoubleEscaping/tst.js
Labels: JS

#2376 CPP: Recommendations and examples for TlsSettingsMisconfiguration.qhelp and UseOfDeprecatedHardCodedProtocol.qhelp
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfiguration.qhelp
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfigurationBad.cpp
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfigurationGood.cpp
  cpp/ql/src/Likely Bugs/Protocols/UseOfDeprecatedHardcodedProtocol.qhelp
  cpp/ql/src/Likely Bugs/Protocols/UseOfDeprecatedHardcodedProtocolBad.cpp
  cpp/ql/src/Likely Bugs/Protocols/UseOfDeprecatedHardcodedProtocolGood.cpp
  cpp/ql/src/Security/CWE/CWE-457/ConditionallyUninitializedVariable.ql
  cpp/ql/test/query-tests/Likely Bugs/Protocols/TlsSettingsMisconfiguration.expected
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test3.cpp
Labels: C++

#2419 Python: Fix false positive for `py/use-of-input`.
  python/ql/src/Expressions/UseofInput.ql
  python/ql/test/2/query-tests/Expressions/safe_input.py
Labels: Python

#2427 C++: Stricter loop-variant check
  cpp/ql/src/Security/CWE/CWE-190/ComparisonWithWiderType.ql
Labels: C++

#2404 C++: Fix SignedOverflowCheck.ql performance
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck.ql
  cpp/ql/src/semmle/code/cpp/commons/Exclusions.qll
Labels: C++

#2396 Java/C++/C#: Add `DataFlowErasedType` class
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java

#2355 CodeQL query to check for insecure MaxLengthRequest values in ASP.NET applications
  csharp/ql/src/Security Features/CWE-016/ASPNetMaxRequestLength.qhelp
  csharp/ql/src/Security Features/CWE-016/ASPNetMaxRequestLength.ql
  csharp/ql/src/Security Features/CWE-016/Web.config.ASPNetMaxRequestLength.bad
  csharp/ql/src/Security Features/CWE-016/Web.config.ASPNetMaxRequestLength.good
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetMaxRequestLength.cs
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetMaxRequestLength.expected
  csharp/ql/test/query-tests/Security Features/CWE-016/ASPNetMaxRequestLength.qlref
  csharp/ql/test/query-tests/Security Features/CWE-016/Web.config
  csharp/ql/test/query-tests/Security Features/CWE-016/bad/Web.config
Labels: C#

#2278 C#: Only set `UseSharedCompilation=false` in autobuilder when needed
  csharp/autobuilder/Semmle.Autobuild.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild/BuildCommandAutoRule.cs
  csharp/autobuilder/Semmle.Autobuild/BuildCommandRule.cs
  csharp/autobuilder/Semmle.Autobuild/BuildScript.cs
  csharp/autobuilder/Semmle.Autobuild/CommandBuilder.cs
  csharp/autobuilder/Semmle.Autobuild/DotNetRule.cs
Labels: C#

#2436 1.23: SD-4095 finalize change notes for Java
  change-notes/1.23/analysis-java.md
Labels: Java, documentation

#2428 JS: remove FP in use-of-returnless-function FP related to super() calls
  javascript/ql/src/Statements/UseOfReturnlessFunction.ql
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/tst.js
Labels: JS

#2439 JS: Use of returnless function hotfix
  javascript/ql/src/Statements/UseOfReturnlessFunction.ql
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/UseOfReturnlessFunction.expected
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/tsconfig.json
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/tst.html
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/tst.js
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/tst.ts
Labels: JS

#2402 CPP: Make NoSpaceForZeroTerminator.ql more conservative.
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/NoSpaceForZeroTerminator.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test2.cpp
Labels: C++

#2434 1.23: SD-4095 finalize change notes for C/C++
  change-notes/1.23/analysis-cpp.md
Labels: C++, documentation

#2421 C++/C#: Cleanup in preparation for indirect alias analysis
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSASanity.ql
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSASanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSASanity.ql
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSASanity.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IntegerConstant.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IntegerInterval.qll
  cpp/ql/test/library-tests/ir/escape/points_to.expected
  cpp/ql/test/library-tests/ir/escape/points_to.ql
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ssa_sanity.qlref
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_sanity.qlref
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ssa_sanity.qlref
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ssa_sanity.qlref
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSASanity.ql
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSASanity.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IntegerConstant.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IntegerInterval.qll
  csharp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_sanity.expected
  csharp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_sanity.qlref
Labels: C#, C++

#2447 Java: Improve performance by normalizing import order to reduce cache invalidation.
  java/ql/src/Security/CWE/CWE-078/ExecTainted.ql
  java/ql/src/Security/CWE/CWE-078/ExecUnescaped.ql
  java/ql/src/Security/CWE/CWE-089/SqlTainted.ql
  java/ql/src/Security/CWE/CWE-089/SqlUnescaped.ql
Labels: Java

#2444 JS: support additional Flow syntax: `...` in object types
  change-notes/1.23/extractor-javascript.md
  javascript/extractor/src/com/semmle/jcorn/flow/FlowParser.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/flow/input/objectTypeSpread.js
  javascript/extractor/tests/flow/output/trap/objectTypeSpread.js.trap
Labels: JS

#2449 Update data-flow note to match that for C/C++
  change-notes/1.23/analysis-java.md
Labels: Java, documentation

#2344 JS: Add prop names for array element pattern PropReads
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/PropWrite/tests.expected
  javascript/ql/test/library-tests/PropWrite/tst.js
Labels: JS

#2392 JS: Avoid redundant window.name sources
  javascript/ql/src/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
Labels: JS

#2433 JS: Allow .js extension in imports of .ts file
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/Modules.qll
  javascript/ql/src/semmle/javascript/Paths.qll
  javascript/ql/test/library-tests/Modules/import-ts-with-js-extension.ts
  javascript/ql/test/library-tests/Modules/tests.expected
Labels: JS

#2443 Python: Update change note for 1.23.
  change-notes/1.23/analysis-python.md
Labels: Python, documentation

#2431 Python: Account for non-evaluation of annotations in cyclic imports.
  python/ql/src/Imports/Cyclic.qll
  python/ql/test/query-tests/Imports/cyclic-module-annotations-fp/ModuleLevelCyclicImport.expected
  python/ql/test/query-tests/Imports/cyclic-module-annotations-fp/ModuleLevelCyclicImport.qlref
  python/ql/test/query-tests/Imports/cyclic-module-annotations-fp/module1.py
  python/ql/test/query-tests/Imports/cyclic-module-annotations-fp/module2.py
  python/ql/test/query-tests/Imports/cyclic-module-annotations-fp/module3.py
  python/ql/test/query-tests/Imports/cyclic-module-annotations-fp/module4.py
Labels: Python

#2362 JS: Add model for `Promise.all()` and related method
  javascript/ql/src/Statements/UseOfReturnlessFunction.ql
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/test/library-tests/Promises/ResolvedPromiseDefinition.qll
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/tst.js
Labels: JS

#2448 Python: Use `import python` consistently in all queries.
  python/ql/src/Filters/NotGenerated.ql
  python/ql/src/Filters/NotTest.ql
  python/ql/src/Security/CWE-798/HardcodedCredentials.ql
  python/ql/src/external/DuplicateBlock.ql
Labels: Python

#2459 Python: modernise TurboGears library
  python/ql/src/semmle/python/web/turbogears/Request.qll
  python/ql/src/semmle/python/web/turbogears/Response.qll
  python/ql/src/semmle/python/web/turbogears/TurboGears.qll
  python/ql/test/library-tests/web/turbogears/Controller.expected
  python/ql/test/library-tests/web/turbogears/Sinks.expected
  python/ql/test/library-tests/web/turbogears/test.py
Labels: Python

#2432 TS: Add option to install dependencies
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
Labels: JS

#2467 CPP: Speed up isCompiledAsC.
  cpp/ql/src/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooFewArguments.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooManyArguments.ql
Labels: C++

#2468 JavaScript: Fix `RegExpTerm.getPredecessor` and `getSuccessor`.
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/test/query-tests/RegExp/UnmatchableCaret/tst.js
  javascript/ql/test/query-tests/RegExp/UnmatchableDollar/UnmatchableDollar.expected
  javascript/ql/test/query-tests/RegExp/UnmatchableDollar/tst.js
Labels: JS

#2456 1.23: SD-4095 finalize change notes for JavaScript
  change-notes/1.23/analysis-javascript.md
  change-notes/1.23/extractor-javascript.md
Labels: JS, documentation

#2330 JS: Added query for detecting XSS that happens through an exception
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Security/CWE-079/ExceptionXss.qhelp
  javascript/ql/src/Security/CWE-079/ExceptionXss.ql
  javascript/ql/src/Security/CWE-079/examples/ExceptionXss.js
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/Stmt.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXssCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ExceptionXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ReflectedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ReflectedXssCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/ExceptionXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ExceptionXss.qlref
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/exception-xss.js
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
Labels: JS

#2473 Java/C++/C#: Bugfix for field flow through reverse read.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/test/library-tests/dataflow/fields/E.java
  java/ql/test/library-tests/dataflow/fields/flow.expected
Labels: C#, C++, Java
