Repository github/codeql, pull requests merged in 2019-05, with the labels that each got.

#1136 [CPP-340] Refinements to FutileParams.ql etc.
  change-notes/1.21/analysis-cpp.md
  cpp/config/suites/c/correctness
  cpp/config/suites/cpp/correctness
  cpp/ql/src/Likely Bugs/Likely Typos/FutileParams.c
  cpp/ql/src/Likely Bugs/Likely Typos/FutileParams.qhelp
  cpp/ql/src/Likely Bugs/Likely Typos/FutileParams.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.c
  cpp/ql/src/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.qhelp
  cpp/ql/src/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooFewArguments.c
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooFewArguments.qhelp
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooFewArguments.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooManyArguments.c
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooManyArguments.qhelp
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooManyArguments.ql
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/FutileParams/FutileParams.expected
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/FutileParams/FutileParams.qlref
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/FutileParams/test.c
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.qlref
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/TooFewArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/TooFewArguments.qlref
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/TooManyArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/TooManyArguments.qlref
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/test.c
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/test.cpp
Labels: C++

#1295 Typescript full mode fixes
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/lib/typescript/src/ast_extractor.ts
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/type_table.ts
  javascript/extractor/lib/typescript/yarn.lock
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ExportEqualsExpr/extern.d.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ExportEqualsExpr/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ExportEqualsExpr/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ExportEqualsExpr/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ExportEqualsExpr/tst.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GlobalThis/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GlobalThis/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GlobalThis/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GlobalThis/tst.ts
Labels: JS

#1261 CPP: Autoformat the Critical queries directory
  cpp/ql/src/Critical/DeadCodeCondition.ql
  cpp/ql/src/Critical/DeadCodeFunction.ql
  cpp/ql/src/Critical/DeadCodeGoto.ql
  cpp/ql/src/Critical/DescriptorMayNotBeClosed.ql
  cpp/ql/src/Critical/DescriptorNeverClosed.ql
  cpp/ql/src/Critical/FileClosed.qll
  cpp/ql/src/Critical/FileMayNotBeClosed.ql
  cpp/ql/src/Critical/FileNeverClosed.ql
  cpp/ql/src/Critical/GlobalUseBeforeInit.ql
  cpp/ql/src/Critical/InconsistentNullnessTesting.ql
  cpp/ql/src/Critical/InitialisationNotRun.ql
  cpp/ql/src/Critical/LargeParameter.ql
  cpp/ql/src/Critical/LateNegativeTest.ql
  cpp/ql/src/Critical/LoopBounds.qll
  cpp/ql/src/Critical/MemoryFreed.qll
  cpp/ql/src/Critical/MemoryMayNotBeFreed.ql
  cpp/ql/src/Critical/MemoryNeverFreed.ql
  cpp/ql/src/Critical/MissingNegativityTest.ql
  cpp/ql/src/Critical/MissingNullTest.ql
  cpp/ql/src/Critical/Negativity.qll
  cpp/ql/src/Critical/NewArrayDeleteMismatch.ql
  cpp/ql/src/Critical/NewDelete.qll
  cpp/ql/src/Critical/NewDeleteArrayMismatch.ql
  cpp/ql/src/Critical/NewFreeMismatch.ql
  cpp/ql/src/Critical/OverflowCalculated.ql
  cpp/ql/src/Critical/OverflowDestination.ql
  cpp/ql/src/Critical/OverflowStatic.ql
  cpp/ql/src/Critical/ReturnStackAllocatedObject.ql
  cpp/ql/src/Critical/ReturnValueIgnored.ql
  cpp/ql/src/Critical/SizeCheck.ql
  cpp/ql/src/Critical/SizeCheck2.ql
  cpp/ql/src/Critical/Unused.ql
  cpp/ql/src/Critical/UseAfterFree.ql
Labels: C++

#1173 C++: Enable cpp/alloca-in-loop on LGTM
  change-notes/1.21/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Memory Management/AllocaInLoop.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/AllocaInLoop/AllocaInLoop.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/AllocaInLoop/BoundedLoop.cpp
Labels: C++

#1245 CPP: Fix performance issues in ClassesWithManyFields.ql
  cpp/ql/src/Architecture/Refactoring Opportunities/ClassesWithManyFields.ql
  cpp/ql/test/query-tests/Architecture/Refactoring Opportunities/ClassesWithManyFields/cwmf.cpp
  cpp/ql/test/query-tests/Architecture/Refactoring Opportunities/ClassesWithManyFields/cwmf.expected
Labels: C++

#1279 CPP: Tests and changes for LargeParameter.ql
  cpp/ql/src/Critical/LargeParameter.ql
  cpp/ql/test/query-tests/Critical/LargeParameter/LargeParameter.expected
  cpp/ql/test/query-tests/Critical/LargeParameter/test.cpp
Labels: C++

#1255 CPP: WrongTypeFormatArguments.ql Improvements
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArguments.ql
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_byte_wprintf/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_byte_wprintf/tests.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_word_size/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_word_size/tests_32.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_word_size/tests_64.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/linux_c.c
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/options
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/printf1.h
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_unsigned_chars/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_unsigned_chars/printf1.h
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft/printf1.h
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft_no_wchar/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft_no_wchar/printf1.h
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft_no_wchar/wide_string.h
Labels: C++, depends on internal PR

#1287 C++: support for fold expressions
  change-notes/1.21/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
  cpp/ql/src/semmlecode.cpp.dbscheme.stats
  cpp/ql/test/library-tests/fold/fold.cpp
  cpp/ql/test/library-tests/fold/fold.expected
  cpp/ql/test/library-tests/fold/fold.ql
Labels: C++, depends on internal PR

#1299 Fix typo in C/C++ QL library docs
  cpp/ql/src/cpp.qll
Labels: C++

#1016 C++: SSA flow through fields and imprecise defs
  cpp/ql/src/semmle/code/cpp/ir/implementation/SSA.md
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/PrintSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/PrintSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/OperandTag.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Labels: C++

#1300 C++: Use a smaller `double` literal in test
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/test.c
Labels: C++

#1298 TS: Backport full-mode fixes to rc/1.20
  javascript/extractor/lib/typescript/src/ast_extractor.ts
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/type_table.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ExportEqualsExpr/extern.d.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ExportEqualsExpr/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ExportEqualsExpr/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ExportEqualsExpr/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ExportEqualsExpr/tst.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GlobalThis/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GlobalThis/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GlobalThis/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GlobalThis/tst.ts
Labels: JS

#1301 C#: Add more data flow tests
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.ql
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/Splitting.cs
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.ql
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
Labels: C#

#1226 Generalize data-flow library in preparation for C# adoption
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplSpecific.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplSpecific.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplDepr.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplSpecific.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
Labels: C++, Java

#1307 JS: Exclude test cases from extraction
  .lgtm.yml
Labels: JS

#1305 Java: Introduce an abstract class RemoteFlowSource to ease customization.
  java/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  java/ql/src/Security/CWE/CWE-078/ExecCommon.qll
  java/ql/src/Security/CWE/CWE-079/XSS.ql
  java/ql/src/Security/CWE/CWE-089/SqlInjectionLib.qll
  java/ql/src/Security/CWE/CWE-113/ResponseSplitting.ql
  java/ql/src/Security/CWE/CWE-113/ResponseSplitting.qll
  java/ql/src/Security/CWE/CWE-129/ImproperValidationOfArrayConstruction.ql
  java/ql/src/Security/CWE/CWE-129/ImproperValidationOfArrayIndex.ql
  java/ql/src/Security/CWE/CWE-134/ExternallyControlledFormatString.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticTainted.ql
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.ql
  java/ql/src/Security/CWE/CWE-601/UrlRedirect.ql
  java/ql/src/Security/CWE/CWE-611/XXE.ql
  java/ql/src/Security/CWE/CWE-681/NumericCastTainted.ql
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/test/library-tests/frameworks/guice/flow.ql
Labels: Java

#1219 CPP: Fix FormatLiteral.isMicrosoft
  cpp/ql/src/semmle/code/cpp/File.qll
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
Labels: C++, depends on internal PR

#1321 Java: Update polyCalls to use virtual dispatch.
  java/ql/src/semmle/code/java/Member.qll
Labels: Java

#1303 C++: Fix `getQualifiedName` performance issues
  change-notes/1.21/analysis-cpp.md
  cpp/ql/src/Critical/DescriptorMayNotBeClosed.ql
  cpp/ql/src/Critical/DescriptorNeverClosed.ql
  cpp/ql/src/Critical/GlobalUseBeforeInit.ql
  cpp/ql/src/Critical/InitialisationNotRun.ql
  cpp/ql/src/Critical/MemoryMayNotBeFreed.ql
  cpp/ql/src/Critical/OverflowCalculated.ql
  cpp/ql/src/Critical/OverflowDestination.ql
  cpp/ql/src/Critical/OverflowStatic.ql
  cpp/ql/src/Critical/SizeCheck.ql
  cpp/ql/src/Critical/SizeCheck2.ql
  cpp/ql/src/Critical/UseAfterFree.ql
  cpp/ql/src/DefaultOptions.qll
  cpp/ql/src/Likely Bugs/Memory Management/ReturnCstrOfLocalStdString.ql
  cpp/ql/src/Metrics/Files/FNumberOfTests.ql
  cpp/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  cpp/ql/src/Security/CWE/CWE-079/CgiXss.ql
  cpp/ql/src/Security/CWE/CWE-121/UnterminatedVarargsCall.ql
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
  cpp/ql/src/Security/CWE/CWE-676/PotentiallyDangerousFunction.ql
  cpp/ql/src/jsf/4.10 Classes/AV Rule 79.ql
  cpp/ql/src/semmle/code/cpp/Declaration.qll
  cpp/ql/src/semmle/code/cpp/Enum.qll
  cpp/ql/src/semmle/code/cpp/FriendDecl.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/ObjectiveC.qll
  cpp/ql/src/semmle/code/cpp/Parameter.qll
  cpp/ql/src/semmle/code/cpp/Print.qll
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/commons/Alloc.qll
  cpp/ql/src/semmle/code/cpp/commons/File.qll
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/commons/StringAnalysis.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Dereferenced.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Nullness.qll
  cpp/ql/src/semmle/code/cpp/internal/QualifiedName.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Inet.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strftime.qll
  cpp/ql/src/semmle/code/cpp/pointsto/PointsTo.qll
  cpp/ql/src/semmle/code/cpp/security/BufferWrite.qll
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
  cpp/ql/src/semmle/code/cpp/security/FileWrite.qll
  cpp/ql/src/semmle/code/cpp/security/OutputWrite.qll
  cpp/ql/test/library-tests/identifiers/qualified_names/qualifiedNames.cpp
  cpp/ql/test/library-tests/identifiers/qualified_names/qualifiedNames.expected
  cpp/ql/test/library-tests/identifiers/qualified_names/qualifiedNames.ql
  cpp/ql/test/library-tests/identifiers/qualified_names/unnamed.expected
  cpp/ql/test/library-tests/identifiers/qualified_names/unnamed.ql
Labels: C++

#1327 JS: Fix lurking cartesian product in Express
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
Labels: JS

#1309 Add `pragma[nomagic]` to `getExplicitArgument()`
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
Labels: C#

#1312 C#: Refactor predicates in `Variable` class to be defined by dispatch
  csharp/ql/src/semmle/code/csharp/Variable.qll
Labels: C#

#1314 JavaScript: Further broaden the whitelist in `PasswordInConfigurationFile`.
  javascript/ql/src/Security/CWE-313/PasswordInConfigurationFile.ql
  javascript/ql/test/query-tests/Security/CWE-313/tst7.yml
Labels: JS

#1325 C++: reachableRecursive refactor for performance
  cpp/ql/src/semmle/code/cpp/controlflow/ControlFlowGraph.qll
  cpp/ql/src/semmle/code/cpp/controlflow/internal/ConstantExprs.qll
Labels: C++

#1326 C++: Use isConstexpr instead of workaround in AddressConstantExpr
  cpp/ql/src/semmle/code/cpp/internal/AddressConstantExpression.qll
Labels: C++

#1308 JS: Add flow through exceptions
  change-notes/1.21/analysis-javascript.md
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/TrackedNodes.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/src/semmle/javascript/frameworks/LodashUnderscore.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/exceptions.js
Labels: JS

#1320 Java: Fix join-order for GuardsLogic::conditionalAssign.
  java/ql/src/semmle/code/java/controlflow/internal/GuardsLogic.qll
Labels: Java

#1324 Java: Add SwitchExpr to Nullness::dereference.
  java/ql/src/semmle/code/java/dataflow/Nullness.qll
Labels: Java

#1317 Java: Refactor Guard.controls in terms of dominating edges.
  java/ql/src/semmle/code/java/controlflow/Dominance.qll
  java/ql/src/semmle/code/java/controlflow/Guards.qll
Labels: Java

#1335 C++: Optimise quadratic code in PreprocessorBranchDirective
  cpp/ql/src/semmle/code/cpp/Preprocessor.qll
Labels: C++

#1340 JavaScript: ECMAScript 2019 support.
  change-notes/1.21/extractor-javascript.md
  change-notes/support/versions-compilers.csv
  javascript/extractor/src/com/semmle/jcorn/ESNextParser.java
  javascript/extractor/src/com/semmle/jcorn/Options.java
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/src/com/semmle/js/extractor/ExtractorConfig.java
  javascript/extractor/tests/es2019/input/json-superset.js
  javascript/extractor/tests/es2019/output/trap/json-superset.js.trap
Labels: JS

#1322 Java: Deprecate RemoteUserInput
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
Labels: Java

#1318 Move prototype pollution query into suite
  javascript/ql/src/Security/CWE-400/PrototypePollution.qhelp
  javascript/ql/src/Security/CWE-400/PrototypePollution.ql
  javascript/ql/src/Security/CWE-400/examples/PrototypePollution1.js
  javascript/ql/src/Security/CWE-400/examples/PrototypePollution2.js
  javascript/ql/src/Security/CWE-400/examples/PrototypePollution_fixed.json
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollution.qlref
Labels: JS

#1316 JS: Fix some FPs in IncorrectSuffixCheck
  change-notes/1.21/analysis-javascript.md
  javascript/ql/src/Security/CWE-020/IncorrectSuffixCheck.ql
  javascript/ql/test/query-tests/Security/CWE-020/tst.js
Labels: JS

#1346 JavaScript: Manually revert #1078.
  javascript/ql/src/semmle/javascript/Functions.qll
  javascript/ql/test/library-tests/Functions/getAnUndefinedReturn.qll
  javascript/ql/test/library-tests/Functions/tests.expected
  javascript/ql/test/library-tests/Functions/tests.ql
  javascript/ql/test/library-tests/Functions/undefinedreturns.js
Labels: JS

#1348 JavaScript: Add CWE-1022 to TargetBlank.
  javascript/ql/src/DOM/TargetBlank.ql
Labels: JS

#1355 JavaScript: Introduce a few convenience predicates.
  javascript/ql/src/semmle/javascript/RangeAnalysis.qll
  javascript/ql/src/semmle/javascript/SSA.qll
  javascript/ql/src/semmle/javascript/StringConcatenation.qll
  javascript/ql/src/semmle/javascript/Variables.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/SensitiveActions.qll
Labels: JS

#1352 C++: Follow extractor changes for 0136
  cpp/ql/test/library-tests/conversions/conversions.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/successor-tests/conditional_destructors/cfg.expected
Labels: C++, depends on internal PR

#1361 C#: Update to Roslyn 3.1
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Modifier.cs
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
Labels: C#

#1342 Java: Check compilation unit of the same element in both disjuncts.
  java/ql/src/semmle/code/java/Annotation.qll
Labels: Java

#1357 JS: Remove jump-to-namespace prefix
  javascript/ql/src/definitions.ql
  javascript/ql/test/query-tests/definitions/definitions.expected
Labels: JS

#1356 JS: Refactor LabelledBarrierGuard
  change-notes/1.21/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/TaintedObject.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCall.qll
  javascript/ql/test/library-tests/LabelledBarrierGuards/LabelledBarrierGuards.expected
  javascript/ql/test/library-tests/LabelledBarrierGuards/LabelledBarrierGuards.ql
  javascript/ql/test/library-tests/LabelledBarrierGuards/tst.js
Labels: JS

#1359 C++: definitions.ql performance tweaks
  cpp/ql/src/definitions.qll
Labels: C++

#1344 Java: Replace ValidatedVariable with guarded accesses.
  change-notes/1.21/analysis-java.md
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/src/semmle/code/java/security/ControlledString.qll
  java/ql/src/semmle/code/java/security/Validation.qll
  java/ql/test/query-tests/security/CWE-089/semmle/examples/ValidatedVariable.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/ValidatedVariable.ql
  java/ql/test/query-tests/security/CWE-089/semmle/examples/controlledString.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/taintedString.expected
Labels: Java

#1336 CPP: Cache Expr.getType().
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
Labels: C++

#1360 JS: Make some DOM concepts customizable
  javascript/ql/src/semmle/javascript/DOM.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirect.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeDynamicMethodAccess.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCall.qll
  javascript/ql/src/semmle/javascript/security/dataflow/XpathInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/library-tests/DOM/Customizations.expected
  javascript/ql/test/library-tests/DOM/Customizations.ql
  javascript/ql/test/library-tests/DOM/customization.js
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
Labels: JS

#1351 JS: Mark some more nodes as incomplete
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/DataFlow/incomplete.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.ql
Labels: JS

#1364 JS: Add change note for TypeScript full extraction
  change-notes/1.21/analysis-javascript.md
Labels: JS

#1367 JavaScript: Introduce `is{Barrier,Sanitizer}Edge` predicate.
  change-notes/1.21/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirect.qll
  javascript/ql/src/semmle/javascript/security/dataflow/InsecureRandomness.qll
  javascript/ql/src/semmle/javascript/security/dataflow/RequestForgery.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ServerSideUrlRedirect.qll
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlowConfig.qll
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.ql
Labels: JS

#1369 JavaScript: Fix an auto-build test.
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
Labels: JS

#1371 JavaScript: Add support for XML extraction.
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
Labels: JS

#1347 C#: Data flow through `this` parameter
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/This.cs
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
Labels: C#

#1372 JavaScript: Make autobuilder fail if no JS/TS code was seen.
  change-notes/1.21/extractor-javascript.md
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
Labels: JS

#1037 Better overflow detection for AssignAdd/AssignSub
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
Labels: C++

#1362 C#: Various small C#8 features
  change-notes/1.21/analysis-csharp.md
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TypeParameter.cs
  csharp/ql/src/semmle/code/csharp/Generics.qll
  csharp/ql/test/library-tests/csharp8/AlternateInterpolatedStrings.cs
  csharp/ql/test/library-tests/csharp8/AlternateInterpolatedStrings.expected
  csharp/ql/test/library-tests/csharp8/AlternateInterpolatedStrings.ql
  csharp/ql/test/library-tests/csharp8/AsyncStreams.cs
  csharp/ql/test/library-tests/csharp8/DefaultInterfaceMethods.expected
  csharp/ql/test/library-tests/csharp8/DefaultInterfaceMethods.ql
  csharp/ql/test/library-tests/csharp8/StaticLocalFunction.cs
  csharp/ql/test/library-tests/csharp8/UnmanagedGenericStructs.cs
  csharp/ql/test/library-tests/csharp8/UnmanagedGenericStructs.expected
  csharp/ql/test/library-tests/csharp8/UnmanagedGenericStructs.ql
Labels: C#

#1315 CPP: Split PotentiallyDangerousFunction.ql
  change-notes/1.21/analysis-cpp.md
  cpp/ql/src/Security/CWE/CWE-676/DangerousFunctionOverflow.c
  cpp/ql/src/Security/CWE/CWE-676/DangerousFunctionOverflow.qhelp
  cpp/ql/src/Security/CWE/CWE-676/DangerousFunctionOverflow.ql
  cpp/ql/src/Security/CWE/CWE-676/PotentiallyDangerousFunction.qhelp
  cpp/ql/src/Security/CWE/CWE-676/PotentiallyDangerousFunction.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-242/semmle/tests/DangerousFunctionOverflow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-242/semmle/tests/DangerousFunctionOverflow.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-242/semmle/tests/PotentiallyDangerousFunction.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-676/semmle/PotentiallyDangerousFunction/DangerousFunctionOverflow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-676/semmle/PotentiallyDangerousFunction/DangerousFunctionOverflow.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-676/semmle/PotentiallyDangerousFunction/PotentiallyDangerousFunction.expected
Labels: C++, depends on internal PR

#1374 docs: add link to style guides in readme
  README.md
  docs/query-help-style-guide.md
  docs/query-metadata-style-guide.md
Labels: documentation

#1368 CIL: Account for multiple `VariableUpdate::getSource()`s in nullness analysis
  csharp/ql/src/semmle/code/cil/CallableReturns.qll
  csharp/ql/test/library-tests/cil/dataflow/CallableReturns.ql
  csharp/ql/test/library-tests/cil/dataflow/DataFlow.cs_
  csharp/ql/test/library-tests/cil/dataflow/DataFlow.dll
  csharp/ql/test/library-tests/cil/dataflow/DataFlow.expected
  csharp/ql/test/library-tests/cil/dataflow/DataFlowUnoptimized.cs_
  csharp/ql/test/library-tests/cil/dataflow/DataFlowUnoptimized.dll
  csharp/ql/test/library-tests/cil/dataflow/Nullness.expected
  csharp/ql/test/library-tests/cil/dataflow/TaintTracking.expected
  csharp/ql/test/library-tests/cil/dataflow/dataflow.cs
Labels: C#

#1376 C++: Use Definition.qll's getName
  cpp/ql/src/semmle/code/cpp/Declaration.qll
  cpp/ql/src/semmle/code/cpp/Enum.qll
  cpp/ql/src/semmle/code/cpp/FriendDecl.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/ObjectiveC.qll
  cpp/ql/src/semmle/code/cpp/Parameter.qll
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/internal/QualifiedName.qll
Labels: C++

#1384 TS: Bump to TypeScript 3.5.1
  change-notes/1.21/analysis-javascript.md
  change-notes/support/versions-compilers.csv
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/lib/typescript/yarn.lock
Labels: JS

#1180 JS: Use flow labels in TaintedPath
  change-notes/1.21/analysis-javascript.md
  javascript/ql/src/Security/Summaries/Configurations.qll
  javascript/ql/src/Security/Summaries/ExtractFlowStepSummaries.ql
  javascript/ql/src/Security/Summaries/ExtractSinkSummaries.ql
  javascript/ql/src/Security/Summaries/ExtractSourceSummaries.ql
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/booleanOps.js
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/normalizedPaths.js
  javascript/ql/test/query-tests/Security/Summaries/ExtractFlowStepSummaries.expected
  javascript/ql/test/query-tests/Security/Summaries/ExtractSinkSummaries.expected
  javascript/ql/test/query-tests/Security/Summaries/ExtractSourceSummaries.expected
Labels: JS

#1380 C++: IR support for range-based `for` loops
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#1377 C#: Teach `cs/useless-upcast` about disambiguating constructor calls
  change-notes/1.21/analysis-csharp.md
  csharp/ql/src/Language Abuse/UselessUpcast.ql
  csharp/ql/test/query-tests/Language Abuse/UselessUpcast/UselessUpcast.cs
  csharp/ql/test/query-tests/Language Abuse/UselessUpcast/UselessUpcast.expected
Labels: C#

#1290 JS: add SemVer library
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-400/PrototypePollution.ql
  javascript/ql/src/semmle/javascript/AMD.qll
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/Modules.qll
  javascript/ql/src/semmle/javascript/NodeJS.qll
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dependencies/Dependencies.qll
  javascript/ql/src/semmle/javascript/dependencies/FrameworkLibraries.qll
  javascript/ql/src/semmle/javascript/dependencies/SemVer.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollution.qll
  javascript/ql/test/library-tests/DependencyModuleImports/Test.expected
  javascript/ql/test/library-tests/DependencyModuleImports/Test.ql
  javascript/ql/test/library-tests/DependencyModuleImports/src/dir-with-complex-package-json/package.json
  javascript/ql/test/library-tests/DependencyModuleImports/src/dir-with-complex-package-json/tst.js
  javascript/ql/test/library-tests/DependencyModuleImports/src/dir-with-package-json/package.json
  javascript/ql/test/library-tests/DependencyModuleImports/src/dir-with-package-json/tst.js
  javascript/ql/test/library-tests/DependencyModuleImports/src/dir-with-package-lock-json/package-lock.json
  javascript/ql/test/library-tests/DependencyModuleImports/src/dir-with-package-lock-json/tst.js
  javascript/ql/test/library-tests/DependencyModuleImports/src/dir-without-package-json/tst.js
  javascript/ql/test/library-tests/DependencyModuleImports/src/package.json
  javascript/ql/test/query-tests/NodeJS/UnusedDependency/src/package-lock.json
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollution.expected
  javascript/ql/test/query-tests/Security/CWE-400/src-non-vulnerable-lodash/package.json
  javascript/ql/test/query-tests/Security/CWE-400/src-non-vulnerable-lodash/tst.js
  javascript/ql/test/query-tests/Security/CWE-400/src-vulnerable-lodash/package.json
  javascript/ql/test/query-tests/Security/CWE-400/src-vulnerable-lodash/tst.js
Labels: JS

#1381 C++: Make `constructor-used-as-copy-constructor` warning/low
  change-notes/1.21/analysis-cpp.md
  cpp/ql/src/jsf/4.10 Classes/AV Rule 77.1.qhelp
  cpp/ql/src/jsf/4.10 Classes/AV Rule 77.1.ql
Labels: C++

#1341 JS: Add queries to the manual suite for LGTM constistency
  javascript/config/suites/javascript/security-extra
Labels: JS

#1382 C++: Use GVN in RedundantNullCheckSimple
  cpp/ql/src/Likely Bugs/RedundantNullCheckSimple.ql
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/test/query-tests/Likely Bugs/RedundantNullCheckSimple/RedundantNullCheckSimple.cpp
  cpp/ql/test/query-tests/Likely Bugs/RedundantNullCheckSimple/RedundantNullCheckSimple.expected
Labels: C++

#1386 JS: Add change note for prototype pollution
  change-notes/1.21/analysis-javascript.md
Labels: JS

#1378 C++: Support inline namespaces in hasQualifiedName/3
  change-notes/1.21/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/internal/QualifiedName.qll
  cpp/ql/test/library-tests/identifiers/qualified_names/qualifiedNames.cpp
  cpp/ql/test/library-tests/identifiers/qualified_names/qualifiedNames.expected
Labels: C++
