Repository github/codeql, pull requests merged in 2019-02, with the labels that each got.

#859 C++: use field overrides in TranslatedElement and subclasses
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCondition.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
Labels: C++

#839 JS: add PropWrites cases for instance fields initialization
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/PropWrite/PropWrite.expected
  javascript/ql/test/library-tests/PropWrite/PropWriteBase.expected
  javascript/ql/test/library-tests/PropWrite/PropWritePropName.expected
  javascript/ql/test/library-tests/PropWrite/PropWriteRhs.expected
  javascript/ql/test/library-tests/PropWrite/classes.ts
  javascript/ql/test/library-tests/PropWrite/getAPropertyReference.expected
  javascript/ql/test/library-tests/PropWrite/getAPropertyReference2.expected
  javascript/ql/test/library-tests/PropWrite/getAPropertySource.expected
  javascript/ql/test/library-tests/PropWrite/getAPropertyWrite.expected
  javascript/ql/test/library-tests/PropWrite/getAPropertyWrite2.expected
  javascript/ql/test/library-tests/PropWrite/hasPropertyWrite.expected
Labels: JS

#861 C++: Revert doc-related changes to dbscheme
  cpp/ql/src/semmlecode.cpp.dbscheme
Labels: C++, documentation

#865 Fix reccomendation for LargeParameter (C++)
  cpp/ql/src/Critical/LargeParameter.cpp
  cpp/ql/src/Critical/LargeParameter.ql
  cpp/ql/test/query-tests/Critical/LargeParameter/LargeParameter.expected
Labels: C++

#870 C++: Use shortestDistances HOP for IR BB indexes
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
Labels: C++

#857 C++: Fix TranslatedElement.getInstruction perf
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
Labels: C++

#863 C++: Speed up variableLiveOnEntryToBlock in IR
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C++

#866 C++: Normalize TInstruction
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C++

#864 C++: Move TIRVariable to its own file
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/TIRVariable.qll
Labels: C++

#838 Java: Add additional taint steps through collections.
  change-notes/1.20/analysis-java.md
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/src/semmle/code/java/security/SecurityTests.qll
  java/ql/test/library-tests/dataflow/collections/Test.java
  java/ql/test/library-tests/dataflow/collections/flow.expected
  java/ql/test/library-tests/dataflow/collections/flow.ql
Labels: Java

#873 C#: Fix FP in cs/format-argument-unused
  change-notes/1.20/analysis-csharp.md
  csharp/ql/src/API Abuse/FormatUnusedArgument.ql
  csharp/ql/test/query-tests/API Abuse/FormatUnusedArgument/FormatUnusedArgument.cs
  csharp/ql/test/query-tests/API Abuse/FormatUnusedArgument/FormatUnusedArgument.expected
Labels: C#

#869 C#: Autoformat QL code
  csharp/ql/src/Language Abuse/MissedReadonlyOpportunity.ql
  csharp/ql/src/Useless code/DefaultToString.ql
  csharp/ql/src/semmle/code/csharp/Member.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/TaintTracking.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/Steps.qll
  csharp/ql/src/semmle/code/csharp/security/PrivateData.qll
  csharp/ql/test/library-tests/controlflow/graph/SplitsConsistency.ql
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/Common.qll
  csharp/ql/test/library-tests/modifiers/Effectively.ql
Labels: C#

#851 JavaScript: Add query for identifying information leak through `postMessage`.
  change-notes/1.20/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-201/PostMessageStar.qhelp
  javascript/ql/src/Security/CWE-201/PostMessageStar.ql
  javascript/ql/src/Security/CWE-201/examples/PostMessageStar.js
  javascript/ql/src/Security/CWE-201/examples/PostMessageStarGood.js
  javascript/ql/src/semmle/javascript/security/SensitiveActions.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextStorage.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PostMessageStar.qll
  javascript/ql/test/query-tests/Security/CWE-201/PostMessageStar.expected
  javascript/ql/test/query-tests/Security/CWE-201/PostMessageStar.js
  javascript/ql/test/query-tests/Security/CWE-201/PostMessageStar.qlref
  javascript/ql/test/query-tests/Security/CWE-201/PostMessageStar2.js
  javascript/ql/test/query-tests/Security/CWE-201/PostMessageStarGood.js
Labels: JS

#877 C#: Use `matchesHandle()` instead of `getLabel()`
  csharp/ql/src/semmle/code/cil/Declaration.qll
  csharp/ql/src/semmle/code/dotnet/Element.qll
Labels: C#

#890 C++: Use more field overriding in IR construction
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
Labels: C++

#882 C++: Speed up IR ConstantAnalysis
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/reachability/ReachableBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/reachability/ReachableBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IntegerPartial.qll
Labels: C++

#828 JS: basic Vue support
  change-notes/1.20/analysis-javascript.md
  javascript/config/suites/javascript/frameworks-more
  javascript/ql/src/Vue/ArrowMethodOnVueInstance.qhelp
  javascript/ql/src/Vue/ArrowMethodOnVueInstance.ql
  javascript/ql/src/Vue/examples/ArrowMethodOnVueInstance.js
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/HTML.qll
  javascript/ql/src/semmle/javascript/frameworks/Vue.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
  javascript/ql/test/library-tests/HTML/HtmlScript/ScriptElement_getScript.expected
  javascript/ql/test/library-tests/HTML/HtmlScript/ScriptElement_getScript.ql
  javascript/ql/test/library-tests/HTML/HtmlScript/tst.html
  javascript/ql/test/library-tests/HTML/HtmlScript/tst.js
  javascript/ql/test/library-tests/frameworks/Vue/Instance.expected
  javascript/ql/test/library-tests/frameworks/Vue/Instance.ql
  javascript/ql/test/library-tests/frameworks/Vue/Instance_getAPropertyValue.expected
  javascript/ql/test/library-tests/frameworks/Vue/Instance_getAPropertyValue.ql
  javascript/ql/test/library-tests/frameworks/Vue/Instance_getOption.expected
  javascript/ql/test/library-tests/frameworks/Vue/Instance_getOption.ql
  javascript/ql/test/library-tests/frameworks/Vue/XssSink.expected
  javascript/ql/test/library-tests/frameworks/Vue/XssSink.ql
  javascript/ql/test/library-tests/frameworks/Vue/single-component-file-1.vue
  javascript/ql/test/library-tests/frameworks/Vue/single-file-component-2.vue
  javascript/ql/test/library-tests/frameworks/Vue/single-file-component-3-script.js
  javascript/ql/test/library-tests/frameworks/Vue/single-file-component-3.vue
  javascript/ql/test/library-tests/frameworks/Vue/tst.js
  javascript/ql/test/query-tests/Vue/ArrowMethodOnVueInstance.expected
  javascript/ql/test/query-tests/Vue/ArrowMethodOnVueInstance.qlref
  javascript/ql/test/query-tests/Vue/tst.js
Labels: JS

#880 JS: Improve js/incomplete-url-substring-sanitization
  javascript/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.ql
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-020/tst-IncompleteUrlSubstringSanitization.js
Labels: JS

#842 CPP: Clean up PotentialBufferOverflow.ql, PotentiallyDangerousFunction.ql
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Memory Management/PotentialBufferOverflow.qhelp
  cpp/ql/src/Likely Bugs/Memory Management/PotentialBufferOverflow.ql
  cpp/ql/src/Security/CWE/CWE-676/DangerousUseOfCin.ql
  cpp/ql/src/Security/CWE/CWE-676/PotentiallyDangerousFunction.qhelp
  cpp/ql/src/Security/CWE/CWE-676/PotentiallyDangerousFunction.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-242/semmle/tests/PotentialBufferOverflow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-242/semmle/tests/PotentiallyDangerousFunction.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-242/semmle/tests/PotentiallyDangerousFunction.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-676/semmle/PotentiallyDangerousFunction/PotentiallyDangerousFunction.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-676/semmle/PotentiallyDangerousFunction/test.c
Labels: C++

#881 C#: Remove `getUrl()` predicate
  csharp/ql/src/Useless code/DefaultToString.ql
  csharp/ql/src/semmle/code/csharp/Element.qll
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/src/semmle/code/csharp/Location.qll
  csharp/ql/src/semmle/code/csharp/frameworks/Format.qll
  csharp/ql/test/library-tests/async/Async.expected
  csharp/ql/test/library-tests/modifiers/Modifiers.expected
  csharp/ql/test/library-tests/namespaces/Namespaces6.expected
  csharp/ql/test/library-tests/types/Types27.expected
  csharp/ql/test/query-tests/Useless Code/DefaultToString/DefaultToString.expected
Labels: C#

#892 C#: Prevent bad magic in `getArgumentForParameter()`
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
Labels: C#

#860 C#: Refactor LibraryTypeDataFlow
  csharp/ql/src/Language Abuse/ForeachCapture.ql
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
Labels: C#

#886 C#: Split up `ControlFlowGraph.qll` into multiple files
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/NonReturning.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreBasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/SuccessorType.qll
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.ql
  csharp/ql/test/library-tests/controlflow/graph/PreBasicBlockConsistency.ql
  csharp/ql/test/library-tests/controlflow/graph/SplitsConsistency.ql
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
Labels: C#

#899 C++: Rename a few problematic IR APIs
  cpp/ql/src/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/FunctionIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/FunctionIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/FunctionIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeAnalysis.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeUtils.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SignAnalysis.qll
  cpp/ql/test/library-tests/ir/escape/escape.ql
  cpp/ql/test/library-tests/ir/escape/ssa_escape.ql
Labels: C++

#905 C#: Use CIL analysis when determining trivial properties
  change-notes/1.20/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/Property.qll
  csharp/ql/test/library-tests/cil/dataflow/TrivialProperties.expected
  csharp/ql/test/library-tests/cil/dataflow/TrivialProperties.ql
Labels: C#

#903 C#: Add QL doc to `SuccessorType.qll`
  csharp/ql/src/semmle/code/csharp/controlflow/internal/SuccessorType.qll
Labels: C#

#900 JS: improve support for destructuring and default values
  javascript/ql/src/Declarations/DeadStoreOfLocal.ql
  javascript/ql/src/semmle/javascript/DefUse.qll
  javascript/ql/src/semmle/javascript/RangeAnalysis.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/VariableTypeInference.qll
  javascript/ql/test/library-tests/DataFlow/flowStep.expected
  javascript/ql/test/library-tests/DataFlow/incomplete.expected
  javascript/ql/test/library-tests/DataFlow/sources.expected
  javascript/ql/test/library-tests/DataFlow/tst.js
  javascript/ql/test/library-tests/DefUse/DefUsePair.expected
  javascript/ql/test/library-tests/DefUse/VarDefDestructuringSource.expected
  javascript/ql/test/library-tests/DefUse/VarDefDestructuringSource.ql
  javascript/ql/test/library-tests/DefUse/VarDefSource.expected
  javascript/ql/test/library-tests/DefUse/tst.js
  javascript/ql/test/query-tests/Statements/UselessComparisonTest/UselessComparisonTest.expected
  javascript/ql/test/query-tests/Statements/UselessComparisonTest/tst.js
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditionalGood.js
Labels: JS

#823 C++: Declaration.getIdentityString and Type.getTypeIdentityString
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/src/semmle/code/cpp/Declaration.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/Print.qll
  cpp/ql/src/semmle/code/cpp/PrintAST.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/identity_string/identity_string.cpp
  cpp/ql/test/library-tests/identity_string/identity_string.expected
  cpp/ql/test/library-tests/identity_string/identity_string.ql
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Labels: C++

#891 JavaScript: Clean up classification of sensitive variable names.
  javascript/ql/src/Security/CWE-312/CleartextStorage.qhelp
  javascript/ql/src/Security/CWE-312/examples/CleartextStorage.js
  javascript/ql/src/Security/CWE-312/examples/CleartextStorageGood.js
  javascript/ql/src/semmle/javascript/security/SensitiveActions.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextLogging.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextStorage.qll
  javascript/ql/src/semmle/javascript/security/dataflow/InsufficientPasswordHash.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PostMessageStar.qll
  javascript/ql/test/query-tests/Security/CWE-312/CleartextStorage.expected
  javascript/ql/test/query-tests/Security/CWE-312/CleartextStorage.js
  javascript/ql/test/query-tests/Security/CWE-312/CleartextStorage2.js
  javascript/ql/test/query-tests/Security/CWE-312/CleartextStorageGood.js
  javascript/ql/test/query-tests/Security/Summaries/ExtractSinkSummaries.expected
Labels: JS

#893 C#: CFG performance improvements
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/test/library-tests/controlflow/splits/SplittingStressTest.cs
  csharp/ql/test/library-tests/controlflow/splits/SplittingStressTest.expected
  csharp/ql/test/library-tests/controlflow/splits/SplittingStressTest.ql
Labels: C#

#908 JavaScript: Assign `FileAccessToHttp` and `HttpToFileAccess` a precision.
  javascript/ql/src/Security/CWE-200/FileAccessToHttp.ql
  javascript/ql/src/Security/CWE-912/HttpToFileAccess.ql
Labels: JS

#909 JavaScript: Improve alert location and message for `IncompleteSanitization`.
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteSanitization.expected
Labels: JS

#919 C++: Split out SSA IR tests
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/ssa_block_count.expected
  cpp/ql/test/library-tests/ir/ir/ssa_block_count.ql
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.qlref
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.qlref
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.qlref
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.qlref
Labels: C++

#915 JS: Model URI and XHR methods from closure library
  javascript/ql/src/semmle/javascript/Closure.qll
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/frameworks/UriLibraries.qll
  javascript/ql/test/library-tests/Closure/Uri.expected
  javascript/ql/test/library-tests/Closure/Uri.ql
  javascript/ql/test/library-tests/Closure/moduleImport.expected
  javascript/ql/test/library-tests/Closure/moduleMember.expected
  javascript/ql/test/library-tests/Closure/moduleMember.ql
  javascript/ql/test/library-tests/Closure/tests/uri.js
  javascript/ql/test/library-tests/frameworks/UriLibraries/UriLibraryStep.expected
  javascript/ql/test/library-tests/frameworks/UriLibraries/closureUri.js
  javascript/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
  javascript/ql/test/query-tests/Security/CWE-918/tst.js
Labels: JS

#847 C#: Model Json.NET dataflow
  change-notes/1.20/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/dataflow/TaintTracking.qll
  csharp/ql/src/semmle/code/csharp/frameworks/JsonNET.qll
  csharp/ql/test/library-tests/frameworks/JsonNET/Json.cs
  csharp/ql/test/library-tests/frameworks/JsonNET/Json.expected
  csharp/ql/test/library-tests/frameworks/JsonNET/Json.ql
  csharp/ql/test/resources/stubs/JsonNET.cs
Labels: C#, enhancement

#895 C#: Avoid using `ExceptionClass` in deliberate Cartesian products
  csharp/ql/src/API Abuse/DisposeNotCalledOnException.ql
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/src/semmle/code/csharp/frameworks/test/VisualStudio.qll
Labels: C#

#901 C#: Improve join order in `conditionalAssign()`
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
Labels: C#

#922 C#: Remove some impossible CFG exception edges
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionalFlow.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/FinallyNode.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/cflow.cs
  csharp/ql/test/library-tests/dataflow/ssa/DefAdjacentRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefElement.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefLastRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaExplicitDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaUltimateDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/Test.cs
Labels: C#

#920 JavaScript: Restrict `InstanceFieldAsPropWrite` to fields with initializers.
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/query-tests/Declarations/DeadStoreOfProperty/DeadStoreOfProperty.expected
  javascript/ql/test/query-tests/Declarations/DeadStoreOfProperty/fieldInit.ts
Labels: JS

#910 JavaScript: Improve handling of regular expressions in taint tracking.
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ReflectedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/StoredXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
  javascript/ql/test/query-tests/Security/CWE-079/StoredXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/sanitiser.js
Labels: JS

#926 C++: Rationalize `RegisterOperand` vs. `MemoryOperand`
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/OperandTag.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeAnalysis.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeUtils.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SignAnalysis.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/raw_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.ql
Labels: C++

#935 C++: Handle pointer decay and inferred array sizes
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IRUtilities.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#930 C#: Add some alert suppression comments
  csharp/autobuilder/Semmle.Autobuild/BuildScript.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/CsProjFile.cs
  csharp/extractor/Semmle.Util/CanonicalPathCache.cs
Labels: C#

#924 C# extractor: Limit trap strings to 1MB
  csharp/extractor/Semmle.Extraction/Tuple.cs
  csharp/ql/test/library-tests/extractor/longstrings/LongStrings.cs
  csharp/ql/test/library-tests/extractor/longstrings/LongStrings.expected
  csharp/ql/test/library-tests/extractor/longstrings/LongStrings.ql
Labels: C#

#927 JavaScript: Be more conservative about templates in `AmbiguousIdAttribute`.
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/DOM/AmbiguousIdAttribute.ql
  javascript/ql/test/query-tests/DOM/HTML/jinja2.html
Labels: JS

#940 CPP/Java: Sync Dataflow
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
Labels: C++, Java

#938 C++: Better tracking of SSA memory accesses
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/Enum.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/MemoryAccessKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/PrintAliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/PrintSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/PrintSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IntegerConstant.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IntegerInterval.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Labels: C++

#916 CPP: Update severity/precision of LargeParameter.ql.
  cpp/ql/src/Critical/LargeParameter.ql
Labels: C++

#879 C++: Add edge-based predicates to IRGuards
  cpp/ql/src/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeAnalysis.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/test.c
Labels: C++

#933 JavaScript: Add `Range.prototype.createContextualFragment` as an XSS sink.
  javascript/ql/src/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
Labels: JS

#808 C#: Work on cs/unsafe-double-checked-lock
  change-notes/1.20/analysis-csharp.md
  csharp/ql/src/Concurrency/UnsafeLazyInitialization.qhelp
  csharp/ql/src/Concurrency/UnsafeLazyInitialization.ql
  csharp/ql/test/query-tests/Concurrency/UnsafeLazyInitialization/UnsafeLazyInitialization.cs
  csharp/ql/test/query-tests/Concurrency/UnsafeLazyInitialization/UnsafeLazyInitialization.expected
Labels: C#

#819 CPP: Improve dataflow in newdelete.qll
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/Critical/NewDelete.qll
  cpp/ql/test/query-tests/Critical/NewFree/NewArrayDeleteMismatch.expected
  cpp/ql/test/query-tests/Critical/NewFree/test.cpp
Labels: C++

#902 C++: Add a queries.xml to the test dir
  cpp/ql/test/library-tests/files/FilePath.expected
  cpp/ql/test/queries.xml
  cpp/ql/test/query-tests/Documentation/DocumentApi/DocumentApi.expected
  cpp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies.expected
  cpp/ql/test/query-tests/Metrics/Dependencies/ExternalDependenciesSourceLinks.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/queries.xml
Labels: C++

#962 C++: Reduce the IRGuards to two cached stages
  cpp/ql/src/semmle/code/cpp/controlflow/IRGuards.qll
Labels: C++

#846 CPP: Improve ReturnStackAllocatedMemory.ql
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/ReturnStackAllocatedMemory.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/ReturnStackAllocatedMemory.qlref
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/test.cpp
Labels: C++

#965 CPP: add a query for catching alloca in a loop
  cpp/ql/src/Likely Bugs/Memory Management/AllocaInLoop.ql
Labels: C++

#960 C#: Cache `Call::getArgumentForParameter()`
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
Labels: C#

#959 C#: Improve performance of `cs/dispose-not-called-on-throw`
  csharp/ql/src/API Abuse/DisposeNotCalledOnException.ql
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
Labels: C#

#967 C#: Use explict recursion in `blockPrecedesVar()`
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
Labels: C#

#961 C#: Update cs/use-of-vulnerable-package to detect CVE-2019-0657
  change-notes/1.20/analysis-csharp.md
  csharp/ql/src/Security Features/CWE-937/Vulnerabilities.qll
  csharp/ql/test/query-tests/Security Features/CWE-937/VulnerablePackage.expected
  csharp/ql/test/query-tests/Security Features/CWE-937/csproj.config
Labels: C#

#970 C++: Use the cached getInstructionCount
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
Labels: C++

#958 JS: add taint steps for fs.realpath and fs.realpathSync
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath.js
Labels: JS

#957 JS: model one more 'autobind' for js/unbound-event-handler-receiver
  javascript/ql/src/Expressions/UnboundEventHandlerReceiver.ql
  javascript/ql/test/query-tests/Expressions/UnboundEventHandlerReceiver/tst.js
Labels: JS

#974 C++: Remove @precision of AllocaInLoop.ql
  cpp/ql/src/Likely Bugs/Memory Management/AllocaInLoop.ql
Labels: C++

#972 CPP: Add support for the Rtl* functions in BufferAccess.ql
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/security/BufferAccess.qll
Labels: C++

#973 JavaScript: Delete an unused `package.json` in a test.
  javascript/ql/test/tutorials/Validating RAML-based APIs/robonode/package.json
Labels: JS

#936 JavaScript: Support simple data flow through Electron IPC
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/Electron.qll
  javascript/ql/test/library-tests/frameworks/Electron/BrowserObject.expected
  javascript/ql/test/library-tests/frameworks/Electron/BrowserObject.ql
  javascript/ql/test/library-tests/frameworks/Electron/IpcFlow.expected
  javascript/ql/test/library-tests/frameworks/Electron/IpcFlow.ql
  javascript/ql/test/library-tests/frameworks/Electron/WebContents.expected
  javascript/ql/test/library-tests/frameworks/Electron/WebContents.ql
  javascript/ql/test/library-tests/frameworks/Electron/WebPreferences.expected
  javascript/ql/test/library-tests/frameworks/Electron/electron.d.ts
  javascript/ql/test/library-tests/frameworks/Electron/electron.js
  javascript/ql/test/library-tests/frameworks/Electron/electron.ts
  javascript/ql/test/library-tests/frameworks/Electron/tsconfig.json
Labels: JS

#971 Move support information to QL repository for easier maintenance
  change-notes/1.19/support/framework-support.rst
  change-notes/1.19/support/java-frameworks.csv
  change-notes/1.19/support/javascript-typescript-frameworks.csv
  change-notes/1.19/support/language-support.rst
  change-notes/1.19/support/python-frameworks.csv
  change-notes/1.19/support/versions-compilers.csv
  change-notes/1.20/support/framework-support.rst
  change-notes/1.20/support/java-frameworks.csv
  change-notes/1.20/support/javascript-typescript-frameworks.csv
  change-notes/1.20/support/language-support.rst
  change-notes/1.20/support/python-frameworks.csv
  change-notes/1.20/support/versions-compilers.csv
Labels: documentation

#981 JS: fix docstring: s/node1/pred + s/node2/succ
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
Labels: JS

#830 C++: Add Function.{isDeclaredConstexpr,isConstexpr}() predicates
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/test/library-tests/clang_ms/element.expected
  cpp/ql/test/library-tests/conditions/elements.expected
  cpp/ql/test/library-tests/functions/constexpr/constexpr.cpp
  cpp/ql/test/library-tests/functions/constexpr/constexpr.expected
  cpp/ql/test/library-tests/functions/constexpr/constexpr.ql
  cpp/ql/test/library-tests/specifiers2/specifiers2.expected
  cpp/ql/test/library-tests/templates/instantiations_functions/elements.expected
  cpp/ql/test/library-tests/unnamed/elements.expected
Labels: C++, depends on internal PR

#982 JS: model string functions from closure library
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/HtmlSanitizers.qll
  javascript/ql/src/semmle/javascript/StringConcatenation.qll
  javascript/ql/src/semmle/javascript/frameworks/ClosureLibrary.qll
  javascript/ql/src/semmle/javascript/frameworks/UriLibraries.qll
  javascript/ql/test/library-tests/HtmlSanitizers/HtmlSanitizerCalls.expected
  javascript/ql/test/library-tests/HtmlSanitizers/closure.js
  javascript/ql/test/library-tests/StringConcatenation/ContainsTwo.expected
  javascript/ql/test/library-tests/StringConcatenation/closure.js
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/closure.js
  javascript/ql/test/library-tests/frameworks/UriLibraries/UriLibraryStep.expected
  javascript/ql/test/library-tests/frameworks/UriLibraries/closureUri.js
Labels: JS

#945 JS: Add ModuleImportNode::Range
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/ModuleImportNodes/CustomImport.expected
  javascript/ql/test/library-tests/ModuleImportNodes/CustomImport.ql
  javascript/ql/test/library-tests/ModuleImportNodes/customImport.js
Labels: JS

#976 JS: Handler deeper access paths in Closure::moduleImport
  javascript/ql/src/semmle/javascript/Closure.qll
  javascript/ql/test/library-tests/Closure/NestedAccess.expected
  javascript/ql/test/library-tests/Closure/NestedAccess.ql
  javascript/ql/test/library-tests/Closure/moduleImport.expected
  javascript/ql/test/library-tests/Closure/tests/nestedAccess.js
Labels: JS

#977 JS: remove audit alerts from package.json
  javascript/ql/test/library-tests/Extend/package.json
Labels: JS

#975 JS: Improve performance of type inference in closure code
  javascript/ql/src/semmle/javascript/dataflow/TypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
Labels: JS

#941 JS: Vue security improvements
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/frameworks/Vue.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/library-tests/frameworks/Vue/Instance.expected
  javascript/ql/test/library-tests/frameworks/Vue/InstanceHeapStep.expected
  javascript/ql/test/library-tests/frameworks/Vue/InstanceHeapStep.ql
  javascript/ql/test/library-tests/frameworks/Vue/Instance_getAPropertyValue.expected
  javascript/ql/test/library-tests/frameworks/Vue/Instance_getOption.expected
  javascript/ql/test/library-tests/frameworks/Vue/TemplateElement.expected
  javascript/ql/test/library-tests/frameworks/Vue/TemplateElement.ql
  javascript/ql/test/library-tests/frameworks/Vue/VHtmlSourceWrite.expected
  javascript/ql/test/library-tests/frameworks/Vue/VHtmlSourceWrite.ql
  javascript/ql/test/library-tests/frameworks/Vue/XssSink.expected
  javascript/ql/test/library-tests/frameworks/Vue/tst.js
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/v-html.vue
Labels: JS

#983 JS: add closure library in globalObjectRef
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/Nodes/globalObjectRef.expected
  javascript/ql/test/library-tests/Nodes/globalVarRef.expected
  javascript/ql/test/library-tests/Nodes/tst3.js
Labels: JS

#968 C#: Improve join orders in `DataFlow` module
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow.qll
Labels: C#

#994 CPP: Add lots more allocation functions to Alloc.qll
  change-notes/1.20/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/commons/Alloc.qll
Labels: C++

#991 C++: Function `error` doesn't always exit
  cpp/ql/src/DefaultOptions.qll
  cpp/ql/test/library-tests/controlflow/exits/exits.expected
Labels: C++

#993 JS: document new behavior of overriding InvokeNode.getACallee()
  change-notes/1.20/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Labels: JS

#947 Polish StringOps module
  javascript/ql/src/semmle/javascript/StringOps.qll
  javascript/ql/test/library-tests/StringConcatenation/ClassContainsTwo.expected
  javascript/ql/test/library-tests/StringConcatenation/ClassContainsTwo.ql
  javascript/ql/test/library-tests/StringOps/EndsWith/EndsWith.expected
Labels: JS

#785 Python: Add query for unsafe use of `tempfile.mktemp`.
  change-notes/1.20/analysis-python.md
  python/ql/src/Security/CWE-377/InsecureTemporaryFile.py
  python/ql/src/Security/CWE-377/InsecureTemporaryFile.qhelp
  python/ql/src/Security/CWE-377/InsecureTemporaryFile.ql
  python/ql/src/Security/CWE-377/SecureTemporaryFile.py
  python/ql/test/query-tests/Security/CWE-377/InsecureTemporaryFile.expected
  python/ql/test/query-tests/Security/CWE-377/InsecureTemporaryFile.py
  python/ql/test/query-tests/Security/CWE-377/InsecureTemporaryFile.qlref
  python/ql/test/query-tests/Security/CWE-377/SecureTemporaryFile.py
  python/ql/test/query-tests/Security/CWE-377/options
  python/ql/test/query-tests/Security/lib/os/__init__.py
Labels: Python

#996 JavaScript: Allow first expression in array literal to be an `in` expression.
  javascript/extractor/src/com/semmle/jcorn/CustomParser.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/e4x/input/regress.js
  javascript/extractor/tests/e4x/output/trap/regress.js.trap
Labels: JS

#992 JavaScript: Add basic support for socket.io
  change-notes/1.20/analysis-javascript.md
  change-notes/1.20/support/javascript-typescript-frameworks.csv
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/SocketIO.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/NamespaceNode.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/NamespaceNode.ql
  javascript/ql/test/library-tests/frameworks/SocketIO/ReceiveNode.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/ReceiveNode.ql
  javascript/ql/test/library-tests/frameworks/SocketIO/ReceiveNode_getAReceivedItem.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/ReceiveNode_getAReceivedItem.ql
  javascript/ql/test/library-tests/frameworks/SocketIO/ReceiveNode_getEventName.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/ReceiveNode_getEventName.ql
  javascript/ql/test/library-tests/frameworks/SocketIO/SendNode.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/SendNode.ql
  javascript/ql/test/library-tests/frameworks/SocketIO/SendNode_getASentItem.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/SendNode_getASentItem.ql
  javascript/ql/test/library-tests/frameworks/SocketIO/SendNode_getAck.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/SendNode_getAck.ql
  javascript/ql/test/library-tests/frameworks/SocketIO/SendNode_getSocket.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/SendNode_getSocket.ql
  javascript/ql/test/library-tests/frameworks/SocketIO/ServerNode.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/ServerNode.ql
  javascript/ql/test/library-tests/frameworks/SocketIO/SocketNode.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/SocketNode.ql
  javascript/ql/test/library-tests/frameworks/SocketIO/tst.js
  javascript/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/socketio.js
Labels: JS

#944 C#: Improve CFG for assignments
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/test/library-tests/controlflow/graph/AccessorCalls.cs
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/BooleanNode.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/goto/Goto1.expected
  csharp/ql/test/library-tests/security/dataflow/flowsources/StoredFlowSources.expected
  csharp/ql/test/library-tests/standalone/controlflow/cfg.expected
  csharp/ql/test/library-tests/standalone/controlflow/cfg.ql
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#988 JS: add taint step through object/array spread operators
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/spread.js
Labels: JS, WIP

#997 JS: model of closure Promises
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/ResolvedPromiseDefinition.expected
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/promise.js
Labels: JS

#1003 JavaScript: Update expected test output.
  javascript/ql/test/library-tests/StringConcatenation/ClassContainsTwo.expected
Labels: JS

#1004 JS: Recognize '+' in suffix check
  javascript/ql/src/Security/CWE-020/IncorrectSuffixCheck.ql
  javascript/ql/test/query-tests/Security/CWE-020/IncorrectSuffixCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/tst.js
Labels: JS

#998 JavaScript: Make file types customisable in AutoBuild.
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
Labels: JS

#1005 C++: Cache TNode and localFlowStep
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Labels: C++
