Repository github/codeql, pull requests merged in 2019-06, with the labels that each got.

#1379 CPP: Add DangerousFunctionOverflow.ql to the security suite.
  cpp/config/suites/security/cwe-676
Labels: C++

#987 C++: add minimal AsmStmt support to IR
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/OperandTag.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
Labels: C++

#1375 C#: Switch expression guards
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/test/library-tests/controlflow/guards/ExtractorOptions.cs
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Guards.cs
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/library-tests/controlflow/guards/MatchingGuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/NullGuardedExpr.expected
Labels: C#

#1390 JavaScript: Shrink `Configurations.qll` some more.
  javascript/ql/src/Security/Summaries/Configurations.qll
  javascript/ql/test/query-tests/Security/Summaries/ExtractFlowStepSummaries.expected
  javascript/ql/test/query-tests/Security/Summaries/ExtractSinkSummaries.expected
  javascript/ql/test/query-tests/Security/Summaries/ExtractSourceSummaries.expected
Labels: JS

#1387 JS: add query js/regex/missing-regexp-anchor
  change-notes/1.21/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-020/IncompleteHostnameRegExp.ql
  javascript/ql/src/Security/CWE-020/MissingRegExpAnchor.qhelp
  javascript/ql/src/Security/CWE-020/MissingRegExpAnchor.ql
  javascript/ql/src/Security/CWE-020/examples/IncompleteHostnameRegExp.js
  javascript/ql/src/Security/CWE-020/examples/MissingRegExpAnchor_BAD.js
  javascript/ql/src/Security/CWE-020/examples/MissingRegExpAnchor_GOOD.js
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegExp.expected
  javascript/ql/test/query-tests/Security/CWE-020/MissingRegExpAnchor.expected
  javascript/ql/test/query-tests/Security/CWE-020/MissingRegExpAnchor.qlref
  javascript/ql/test/query-tests/Security/CWE-020/tst-IncompleteHostnameRegExp.js
  javascript/ql/test/query-tests/Security/CWE-020/tst-SemiAnchoredRegExp.js
  javascript/ql/test/query-tests/Security/CWE-020/tst-UnanchoredUrlRegExp.js
Labels: JS

#1370 C#: Simplify extraction of `is` expressions and `case` statements
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/IsPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Query.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Switch.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/VariableDeclaration.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Case.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/ForEach.cs
  csharp/ql/src/Bad Practices/Control-Flow/ConstantCondition.ql
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Guards.cs
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/library-tests/controlflow/guards/MatchingGuardedExpr.expected
  csharp/ql/test/library-tests/csharp7/Discards.expected
  csharp/ql/test/library-tests/csharp7/TypeCase2.ql
  csharp/ql/test/library-tests/csharp8/patterns.cs
  csharp/ql/test/library-tests/csharp8/patterns.expected
  csharp/ql/test/library-tests/csharp8/patterns.ql
  csharp/ql/test/library-tests/csharp8/ranges.ql
  csharp/ql/test/library-tests/csharp8/switchexprcontrolflow.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaCapturedVariableDef.ql
  csharp/upgrades/57331d90231fc8247d5a5197f4ac45d502708c6a/expr_parent.ql
  csharp/upgrades/57331d90231fc8247d5a5197f4ac45d502708c6a/upgrade.properties
Labels: C#

#1393 JavaScript: Make `Script` and `CodeInAttribute` concrete.
  javascript/ql/src/semmle/javascript/AST.qll
Labels: JS

#1394 C++: add missing close-paragraph tag to qhelp
  cpp/ql/src/Security/CWE/CWE-676/PotentiallyDangerousFunction.qhelp
Labels: C++

#1399 JavaScript: Add three missing `@metricType` annotations.
  javascript/ql/src/filters/FilterFrameworksForMetric.ql
  javascript/ql/src/filters/FilterGeneratedForMetric.ql
  javascript/ql/src/filters/FilterMinifiedForMetric.ql
Labels: JS

#1366 C++: Improve Element::toString() performance
  change-notes/1.21/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/test/library-tests/templates/CPP-204/element.expected
  cpp/ql/test/library-tests/templates/instantiations_functions/elements.expected
  cpp/ql/test/query-tests/definitions/definitions.expected
Labels: C++, depends on internal PR

#1401 C++: Move `Element.toString` performance change note to 1.22 file
  change-notes/1.21/analysis-cpp.md
  change-notes/1.22/analysis-cpp.md
Labels: C++

#1402 JavaScript: `PasswordInConfigurationFile` tweaks
  change-notes/1.21/analysis-javascript.md
  javascript/ql/src/Security/CWE-313/PasswordInConfigurationFile.ql
  javascript/ql/src/semmle/javascript/frameworks/Templating.qll
  javascript/ql/test/query-tests/Security/CWE-313/PasswordInConfigurationFile.expected
  javascript/ql/test/query-tests/Security/CWE-313/tst7.yml
  javascript/ql/test/query-tests/Security/CWE-313/tst8.yml
Labels: JS

#1398 Java: Add SwitchExpr support in Guards.qll
  java/ql/src/semmle/code/java/Statement.qll
  java/ql/src/semmle/code/java/controlflow/Guards.qll
  java/ql/test/library-tests/guards12/Test.java
  java/ql/test/library-tests/guards12/guard.expected
  java/ql/test/library-tests/guards12/guard.ql
  java/ql/test/library-tests/guards12/options
Labels: Java

#1415 QL 1.21: Finalize Java change notes
  change-notes/1.21/analysis-java.md
Labels: Java, documentation

#1417 QL 1.21: Finalize change notes for JavaScript
  change-notes/1.21/analysis-javascript.md
  change-notes/1.21/extractor-javascript.md
Labels: JS, documentation

#1414 QL 1.21: Finalize change notes for C#
  change-notes/1.21/analysis-csharp.md
Labels: C#, documentation

#1420 QL 1.21: javascript change notes - rc/1.21 branch
  change-notes/1.21/analysis-javascript.md
  change-notes/1.21/extractor-javascript.md
Labels: JS, documentation

#1413 QL1.21: Finalize change notes for C/C++
  change-notes/1.21/analysis-cpp.md
Labels: C++, documentation

#1418 Add missing extractor change notes for 1.21.
  change-notes/1.21/analysis-python.md
Labels: Python, documentation

#1400 C++: Suspicious pointer scaling: @precision medium
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/Security/CWE/CWE-468/IncorrectPointerScaling.ql
Labels: C++

#1430 LGTM 1.21: Finalize Python change notes
  change-notes/1.21/analysis-python.md
Labels: Python, documentation

#1426 Update support info for 1.21
  change-notes/support/language-support.rst
  change-notes/support/versions-compilers.csv
Labels: C#, C++, Java, documentation

#1434 Merge 'rc/1.21' back into 'master'
  change-notes/1.21/analysis-cpp.md
  change-notes/1.21/analysis-csharp.md
  change-notes/1.21/analysis-java.md
  change-notes/1.21/analysis-python.md
  change-notes/support/language-support.rst
  change-notes/support/versions-compilers.csv
Labels: Mergeback

#1397 C#: Make `csharp-alerts-lgtm` a stub
  csharp/config/suites/lgtm/csharp-alerts-lgtm
Labels: C#

#1412 Java: Include two more base cases in TypeFlow to improve virtual dispatch.
  java/ql/src/semmle/code/java/dataflow/TypeFlow.qll
Labels: Java

#1421 JavaScript: Add tests for data-flow tutorial.
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query1.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query1.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query2.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query2.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query3.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query3.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query4.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query4.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query5.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query5.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/test1.js
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/test2.js
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/test3.js
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/test4.js
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query1.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query1.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query2.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query2.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query3.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query3.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query4.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query4.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/test.js
Labels: JS

#1410 Python ESSA: Remove method-callsite definitions when call is in a test defining a pi-node.
  python/ql/src/semmle/python/dataflow/SsaDefinitions.qll
  python/ql/test/library-tests/PointsTo/new/Dataflow.expected
  python/ql/test/library-tests/PointsTo/new/Definitions.expected
  python/ql/test/library-tests/PointsTo/new/Live.expected
  python/ql/test/library-tests/PointsTo/new/NameSpace.expected
  python/ql/test/library-tests/PointsTo/new/PointsToUnknown.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithType.expected
  python/ql/test/library-tests/PointsTo/new/SSA.expected
  python/ql/test/library-tests/PointsTo/new/SourceEdgeDefinitions.expected
  python/ql/test/library-tests/PointsTo/new/SourceNodeDefinitions.expected
  python/ql/test/library-tests/PointsTo/new/SsaUses.expected
  python/ql/test/library-tests/PointsTo/new/Values.expected
  python/ql/test/library-tests/PointsTo/new/VarUses.expected
  python/ql/test/library-tests/PointsTo/new/code/b_condition.py
Labels: Python

#1432 JavaScript: Recognise references to the `process` global.
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/ModuleImportNodes/process.js
  javascript/ql/test/library-tests/ModuleImportNodes/process2.js
  javascript/ql/test/library-tests/ModuleImportNodes/tests.expected
Labels: JS

#1409 JS: additional command line injection sinks
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/SystemCommandExecutors.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/other.js
Labels: JS

#1437 C++: use shortestDistances in PrimitiveBasicBlocks
  cpp/ql/src/semmle/code/cpp/controlflow/internal/PrimitiveBasicBlocks.qll
Labels: C++

#1445 Merge 1.21 into master
  cpp/ql/src/semmle/code/cpp/controlflow/internal/PrimitiveBasicBlocks.qll
  java/ql/src/semmle/code/java/frameworks/android/Android.qll
  java/ql/src/semmle/code/xml/AndroidManifest.qll
  java/ql/test/library-tests/frameworks/android/manifest/AndroidManifest.xml
  java/ql/test/library-tests/frameworks/android/manifest/Test.java
  java/ql/test/library-tests/frameworks/android/manifest/manifest.expected
  java/ql/test/library-tests/frameworks/android/manifest/manifest.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query1.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query1.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query2.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query2.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query3.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query3.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query4.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query4.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query5.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query5.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/test1.js
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/test2.js
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/test3.js
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/test4.js
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query1.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query1.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query2.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query2.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query3.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query3.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query4.expected
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/query4.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Local data flow/test.js
  python/ql/src/semmle/python/dataflow/SsaDefinitions.qll
  python/ql/src/semmle/python/objects/Modules.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/test/3/library-tests/six/test.expected
  python/ql/test/library-tests/PointsTo/new/Dataflow.expected
  python/ql/test/library-tests/PointsTo/new/Definitions.expected
  python/ql/test/library-tests/PointsTo/new/Live.expected
  python/ql/test/library-tests/PointsTo/new/NameSpace.expected
  python/ql/test/library-tests/PointsTo/new/PointsToUnknown.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithType.expected
  python/ql/test/library-tests/PointsTo/new/SSA.expected
  python/ql/test/library-tests/PointsTo/new/SourceEdgeDefinitions.expected
  python/ql/test/library-tests/PointsTo/new/SourceNodeDefinitions.expected
  python/ql/test/library-tests/PointsTo/new/SsaUses.expected
  python/ql/test/library-tests/PointsTo/new/Values.expected
  python/ql/test/library-tests/PointsTo/new/VarUses.expected
  python/ql/test/library-tests/PointsTo/new/code/b_condition.py
Labels: Mergeback

#1447 Java: Improve precision of java/unchecked-cast-in-equals
  change-notes/1.22/analysis-java.md
  java/ql/src/Likely Bugs/Comparison/MissingInstanceofInEquals.ql
Labels: Java

#1449 JavaScript: Avoid bad context pushing in `ReflectedXss::HttpResponseSink`.
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
Labels: JS

#1444 JS: make Express inherit from NodeJS
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/frameworks/Express/src/inheritedFromNode.js
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssGood.js
Labels: JS

#1383 Java: add compilation/diagnostic relations to dbscheme
  java/ql/src/config/semmlecode.dbscheme
  java/ql/src/config/semmlecode.dbscheme.stats
Labels: depends on internal PR

#1450 JS: classify JSON-like files with a single line as generated
  javascript/ql/src/semmle/javascript/GeneratedCode.qll
  javascript/ql/test/query-tests/filters/ClassifyFiles/ClassifyFiles.expected
  javascript/ql/test/query-tests/filters/ClassifyFiles/json-like.js
Labels: JS

#1448 JavaScript: Refactor a few access path computation predicates.
  javascript/ql/src/semmle/javascript/dataflow/internal/AccessPaths.qll
Labels: JS

#1419 C#: Improvements to `Stubs.qll`
  csharp/ql/src/Stubs/Stubs.qll
Labels: C#

#1438 CPP: Support for aggregate initializers in getAnAssignedValue()
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/jsf/4.10 Classes/AV Rule 71.ql
  cpp/ql/src/semmle/code/cpp/Field.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/test/library-tests/variables/getanassignedvalue/getanassignedvalue.expected
  cpp/ql/test/library-tests/variables/getanassignedvalue/getanassignedvalue.ql
  cpp/ql/test/library-tests/variables/getanassignedvalue/test.cpp
Labels: C++

#1457 Java 1.21: clarify ECJ support
  change-notes/support/language-support.rst
  change-notes/support/versions-compilers.csv
Labels: Java, documentation

#1451 C#: Move two predicates from `csharp/Element.qll` to `dotnet/Element.qll`
  csharp/ql/src/semmle/code/csharp/Element.qll
  csharp/ql/src/semmle/code/dotnet/Element.qll
Labels: C#

#1422 C#: Fix CFG for switch expressions in Boolean/nullness contexts
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionalFlow.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExtractorOptions.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Switch.cs
Labels: C#

#1404 C#: Improvement to cs/dispose-not-called-on-throw
  change-notes/1.22/analysis-csharp.md
  csharp/ql/src/API Abuse/DisposeNotCalledOnException.ql
  csharp/ql/test/query-tests/API Abuse/DisposeNotCalledOnException/DisposeNotCalledOnException.cs
Labels: C#

#1354 C++: Mishandling Japanese Era and Leap Year in calculations
  cpp/ql/src/Likely Bugs/JapaneseEra/ConstructorOrMethodWithExactEraDate.qhelp
  cpp/ql/src/Likely Bugs/JapaneseEra/ConstructorOrMethodWithExactEraDate.ql
  cpp/ql/src/Likely Bugs/JapaneseEra/StructWithExactEraDate.qhelp
  cpp/ql/src/Likely Bugs/JapaneseEra/StructWithExactEraDate.ql
  cpp/ql/src/Likely Bugs/Leap Year/Adding365daysPerYear.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/Adding365daysPerYear.ql
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qll
  cpp/ql/src/Likely Bugs/Leap Year/LeapYearReferences.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification.ql
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModificationBad.c
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModificationGood.c
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
  cpp/ql/src/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYear.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYear.ql
  cpp/ql/src/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYearBad.c
  cpp/ql/src/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYearGood.c
  cpp/ql/src/semmle/code/cpp/commons/DateTime.qll
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/ConstructorOrMethodWithExactDate.cpp
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/ConstructorOrMethodWithExactEraDate.expected
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/ConstructorOrMethodWithExactEraDate.qlref
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/StructWithExactDate.cpp
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/StructWithExactEraDate.expected
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/StructWithExactEraDate.qlref
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern1/UncheckedLeapYearAfterYearModification.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern1/UncheckedLeapYearAfterYearModification.qlref
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern1/UncheckedReturnValueForTimeFunctions.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern1/UncheckedReturnValueForTimeFunctions.qlref
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern1/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern2/Adding365daysPerYear.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern2/Adding365daysPerYear.qlref
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern2/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern4/UnsafeArrayForDaysOfYear.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern4/UnsafeArrayForDaysOfYear.qlref
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern4/test.cpp
Labels: C++

#1464 C#: Update to `netcoreapp2.2`
  csharp/autobuilder/Semmle.Autobuild.Tests/Semmle.Autobuild.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild/Semmle.Autobuild.csproj
  csharp/extractor/Semmle.Extraction.CIL.Driver/Semmle.Extraction.CIL.Driver.csproj
  csharp/extractor/Semmle.Extraction.CIL/Semmle.Extraction.CIL.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Semmle.Extraction.CSharp.Driver.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction.Tests/Semmle.Extraction.Tests.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Util.Tests/Semmle.Util.Tests.csproj
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
  csharp/ql/test/library-tests/cil/consistency/controlflow.expected
  csharp/ql/test/library-tests/cil/consistency/instructions.expected
  csharp/ql/test/library-tests/cil/dataflow/CallableReturns.expected
  csharp/ql/test/library-tests/cil/dataflow/DataFlow.expected
  csharp/ql/test/library-tests/cil/dataflow/TaintTracking.expected
  csharp/ql/test/library-tests/commons/Disposal/DisposedFields.expected
  csharp/ql/test/library-tests/commons/Disposal/DisposedParameter.expected
  csharp/ql/test/library-tests/commons/Disposal/UndisposedParameter.expected
  csharp/ql/test/library-tests/conversion/boxing/Boxing.expected
  csharp/ql/test/library-tests/conversion/operator/Operator.expected
  csharp/ql/test/library-tests/conversion/reftype/RefType.expected
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.expected
  csharp/ql/test/library-tests/frameworks/format/StringFormatItemParameter.expected
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependencies.expected
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependenciesSourceLinks.expected
  csharp/ql/test/query-tests/Stubs/MinimalStubsFromSource.expected
Labels: depends on internal PR

#1467 CPP: Follow-up for Mishandling Japanese Era and Leap Year in calculations
  cpp/ql/src/Likely Bugs/JapaneseEra/ConstructorOrMethodWithExactEraDate.qhelp
  cpp/ql/src/Likely Bugs/JapaneseEra/ConstructorOrMethodWithExactEraDate.ql
  cpp/ql/src/Likely Bugs/JapaneseEra/StructWithExactEraDate.qhelp
  cpp/ql/src/Likely Bugs/JapaneseEra/StructWithExactEraDate.ql
  cpp/ql/src/Likely Bugs/Leap Year/Adding365daysPerYear.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/Adding365daysPerYear.ql
  cpp/ql/src/Likely Bugs/Leap Year/LeapYearReferences.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification.ql
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
  cpp/ql/src/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYear.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYear.ql
Labels: C++

#1466 CPP: Resolve performance issue in CastArrayPointerArithmetic.ql
  cpp/ql/src/Likely Bugs/Conversion/CastArrayPointerArithmetic.ql
Labels: C++

#1469 CPP: Fix AV Rule 95 performance issue.
  cpp/ql/src/jsf/4.10 Classes/AV Rule 95.ql
Labels: C++

#1365 CPP: Fix for the 'LoopConditionAlwaysTrueUponEntry' logic
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/controlflow/LocalScopeVariableReachability.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/LoopConditionsConst.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/LoopConditionsConst.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/LoopConditionsConst.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/UninitializedLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/test.cpp
Labels: C++

#1431 CPP: Fix TaintedAllocationSize.ql false positives
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/security/TaintTracking.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/test.cpp
Labels: C++

#1468 C#: Include extractor message in diagnostic queries
  csharp/ql/src/Diagnostics/ExtractorError.ql
  csharp/ql/src/Diagnostics/ExtractorMessage.ql
Labels: C#

#1462 C#: Remove uses of deprecated `ControlFlowGraph` module
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/test/library-tests/csharp8/NullCoalescingControlFlow.ql
  csharp/ql/test/library-tests/csharp8/UsingControlFlow.ql
  csharp/ql/test/library-tests/standalone/controlflow/cfg.ql
Labels: C#

#1459 C#: Remove deprecated predicates
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
Labels: C#

#1474 Java: add compilation/diagnostic relations to dbscheme (rc/1.21)
  java/ql/src/config/semmlecode.dbscheme
  java/ql/src/config/semmlecode.dbscheme.stats
Labels: depends on internal PR

#1480 CPP: Speed up StructWithExactEraDate.ql
  cpp/ql/src/Likely Bugs/JapaneseEra/StructWithExactEraDate.ql
Labels: C++

#1481 JavaScript: Fix potential null-pointer exception in YAML extractor.
  javascript/extractor/src/com/semmle/js/extractor/YAMLExtractor.java
Labels: JS

#1479 JavaScript: Remove dependency of module import on `globalVarRef`.
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/ModuleImportNodes/TSGlobalImport.expected
  javascript/ql/test/library-tests/ModuleImportNodes/process.js
  javascript/ql/test/library-tests/ModuleImportNodes/tests.expected
Labels: JS

#1477 TS: Rely on ts.sys.readFile for reading files
  javascript/extractor/lib/typescript/src/main.ts
Labels: JS

#1493 JavaScript: Update link to the OWASP XSS prevetion cheat sheet.
  javascript/ql/src/Security/CWE-079/Xss.qhelp
Labels: JS, documentation

#1490 CPP: Improvements to LeapYear.qll
  cpp/ql/src/Likely Bugs/Leap Year/Adding365DaysPerYear.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/Adding365DaysPerYear.ql
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qll
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/Adding365DaysPerYear/Adding365daysPerYear.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/Adding365DaysPerYear/Adding365daysPerYear.qlref
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/Adding365DaysPerYear/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern2/Adding365daysPerYear.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/AntiPattern2/Adding365daysPerYear.qlref
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification/UncheckedLeapYearAfterYearModification.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification/UncheckedLeapYearAfterYearModification.qlref
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification/UncheckedReturnValueForTimeFunctions.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification/UncheckedReturnValueForTimeFunctions.qlref
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYear/UnsafeArrayForDaysOfYear.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYear/UnsafeArrayForDaysOfYear.qlref
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYear/test.cpp
Labels: C++

#1492 CPP: Fix for 'Expression has no effect' on calls to weak functions
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/ExprHasNoEffect/ExprHasNoEffect.expected
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/ExprHasNoEffect/weak.c
Labels: C++

#1501 Update C# change notes for 1.21 to mention two new queries
  change-notes/1.21/analysis-csharp.md
Labels: C#, documentation

#1504 JavaScript: Teach `ShiftOutOfRange` about BigInt.
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/Expressions/ShiftOutOfRange.qhelp
  javascript/ql/src/Expressions/ShiftOutOfRange.ql
  javascript/ql/test/query-tests/Expressions/ShiftOutOfRange/tst.js
Labels: JS

#1446 C#: Break up a big cached stage into multiple stages
  csharp/ql/src/semmle/code/cil/BasicBlock.qll
  csharp/ql/src/semmle/code/cil/CallableReturns.qll
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/Caching.qll
  csharp/ql/src/semmle/code/csharp/Element.qll
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/src/semmle/code/csharp/Implements.qll
  csharp/ql/src/semmle/code/csharp/Stmt.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/SuccessorType.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/TaintTracking.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/test/library-tests/cil/dataflow/Nullness.expected
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/library-tests/dataflow/local/Common.qll
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/EqualityCheck.expected
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullAlways.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#1500 Add Alistair as code owner for *.qhelp within cpp
  CODEOWNERS
Labels: C++, documentation

#1497 CPP: General clean up for the new dates queries
  cpp/ql/src/Likely Bugs/Leap Year/Adding365DaysPerYear.ql
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qll
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification.ql
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModificationGood.c
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
  cpp/ql/src/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYear.ql
  cpp/ql/src/semmle/code/cpp/commons/DateTime.qll
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYear/UnsafeArrayForDaysOfYear.expected
Labels: C++

#1495 JS: Tweak a taint step to not rely on predecessor being a SourceNode
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/array-callback.js
  javascript/ql/test/query-tests/Security/CWE-079/StoredXss.expected
Labels: JS

#1509 C#: Update `@name` for two queries
  change-notes/1.21/analysis-csharp.md
  csharp/ql/src/Likely Bugs/ThreadUnsafeICryptoTransform.ql
  csharp/ql/src/Likely Bugs/ThreadUnsafeICryptoTransformLambda.ql
Labels: C#, depends on internal PR

#1508 JavaScript: Update externs for `MessageEvent`.
  javascript/externs/web/html5.js
Labels: JS

#1498 C++: fix FP with ExprHasNoEffect in defaulted func
  cpp/ql/src/Likely Bugs/Likely Typos/ExprHasNoEffect.ql
Labels: C++

#1519 CPP: Deprecate Expr.getKind() and Stmt.getKind().
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
Labels: C++

#1516 Java: Add simple sanitizer for java/http-response-splitting.
  java/ql/src/Security/CWE/CWE-113/ResponseSplitting.ql
  java/ql/src/Security/CWE/CWE-113/ResponseSplittingLocal.ql
Labels: Java

#1513 Java: Add SHA512 to the crypto whitelist.
  java/ql/src/semmle/code/java/security/Encryption.qll
Labels: Java

#1460 C#: Refactor `last` predicate
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/SuccessorType.qll
Labels: C#

#1520 C#: Generalize `mono` pattern in tracer config
  csharp/config/tracer/linux/csharp-compiler-settings
Labels: C#

#1524 Java: Don't report lambdas (or other anonymous classes) as dead.
  java/ql/src/Violations of Best Practice/Dead Code/DeadRefTypes.ql
Labels: Java
