Repository github/codeql, pull requests merged in 2019-08, with the labels that each got.

#1661 C++: Stop generating `NoOp` instructions for declarations of externs
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#1652 JavaScript: Deprecate multi-argument `isBarrier` and `isSanitizer` predicates.
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Labels: JS

#1675 C#: Convert `cs/web/xss` to a `path-problem`
  csharp/ql/src/Security Features/CWE-079/XSS.ql
  csharp/ql/src/semmle/code/csharp/security/dataflow/XSS.qll
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/XSS.expected
Labels: C#

#1668 JS: ignore mocked callees for js/superfluous-trailing-arguments
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/LanguageFeatures/SpuriousArguments.ql
  javascript/ql/test/query-tests/LanguageFeatures/SpuriousArguments/SpuriousArguments.expected
  javascript/ql/test/query-tests/LanguageFeatures/SpuriousArguments/tst.js
Labels: JS

#1015 JS: add command line arguments as a source for `js/command-line-injection`
  change-notes/1.22/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-078/IndirectCommandInjection.qhelp
  javascript/ql/src/Security/CWE-078/IndirectCommandInjection.ql
  javascript/ql/src/Security/CWE-078/examples/indirect-command-injection.js
  javascript/ql/src/Security/CWE-078/examples/indirect-command-injection_fixed.js
  javascript/ql/src/semmle/javascript/heuristics/AdditionalSources.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CommandInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CommandInjectionCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-078/command-line-parameter-command-injection.js
Labels: JS

#1672 JS: Add FlowLabel.isData() and .isTaint()
  javascript/ql/src/Security/Summaries/Shared.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/security/TaintedObject.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirect.qll
  javascript/ql/src/semmle/javascript/security/dataflow/HardcodedDataInterpretedAsCodeCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PostMessageStar.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PostMessageStarCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
Labels: JS

#1676 JavaScript: Classify `__mocks__` and `__tests_` as tests.
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/filters/ClassifyFiles.ql
  javascript/ql/test/query-tests/filters/ClassifyFiles/ClassifyFiles.expected
  javascript/ql/test/query-tests/filters/ClassifyFiles/__mocks__/test.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/__tests__/test.js
Labels: JS

#1677 JavaScript: Make flow summaries work for non-taint configurations.
  javascript/ql/src/Security/Summaries/ExtractSinkSummaries.ql
  javascript/ql/src/Security/Summaries/ExtractSourceSummaries.ql
  javascript/ql/src/Security/Summaries/PortalEntrySink.qll
  javascript/ql/src/Security/Summaries/PortalExitSource.qll
Labels: JS

#1682 Java: Improve the precision of java/hardcoded-credential-api-call.
  java/ql/src/Security/CWE/CWE-798/HardcodedCredentialsApiCall.ql
Labels: Java

#1667 JavaScript: Replace `Custom*` with `*::Range`.
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/frameworks/Electron.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/PropertyProjection.qll
  javascript/ql/src/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/test/library-tests/frameworks/NodeJSLib/TestClientRequest.qll
  javascript/ql/test/library-tests/frameworks/NodeJSLib/tests.ql
Labels: JS

#1678 C#: Remove compilation warning
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.ruleset
Labels: C#

#1648 C#: Fix false positives in `cs/unchecked-return-value`
  change-notes/1.22/analysis-csharp.md
  csharp/ql/src/API Abuse/UncheckedReturnValue.ql
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/test/query-tests/API Abuse/UncheckedReturnValue/UncheckedReturnValue.cs
Labels: C#

#1475 C#: Remove unused `PasswordInConfigurationFile.config`
  csharp/ql/src/Configuration/EmptyPasswordInConfigurationFile.config
  csharp/ql/src/Configuration/PasswordInConfigurationFile.config
Labels: C#

#1684 JS: Fix lodash version in proto pollution qhelp
  javascript/ql/src/Security/CWE-400/examples/PrototypePollution_fixed.json
Labels: JS

#1683 JS: Remove experimental warning from type tracking
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
Labels: JS

#1679 Java: Adjust taint steps for Reader::read.
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
Labels: Java

#1688 Java Cookbook: Slight improvement to the IntegerLiteral pattern.
  java/ql/examples/snippets/integer_literal.ql
Labels: Java

#1696 JavaScript: Fix a few potential performance bugs in the library.
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/frameworks/CryptoLibraries.qll
  javascript/ql/src/semmle/javascript/frameworks/Electron.qll
Labels: JS

#1685 C#: Fix data flow for `out`/`ref` parameters
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/GlobalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
Labels: C#

#1697 JS: fix missing this in method
  javascript/ql/src/semmle/javascript/frameworks/AngularJS/AngularJSCore.qll
Labels: JS

#1687 JS: Lower precision of `js/conflicting-html-attribute`
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/DOM/ConflictingAttributes.ql
Labels: JS

#1674 C++: Two IR fixes and a PrintAST workaround
  cpp/ql/src/semmle/code/cpp/PrintAST.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.expected
Labels: C++

#1703 Docs: Correct Unicode Codepoint for '|'
  docs/ql-documentation/ql-spec/language.rst
Labels: documentation

#1699 docs: add `@media print` query to QL language documentation CSS
  docs/ql-documentation/global-sphinx-files/_static/custom.css_t
Labels: documentation

#1686 JS: Introduce DataFlow::lvalueNode()
  javascript/ql/src/semmle/javascript/RangeAnalysis.qll
  javascript/ql/src/semmle/javascript/SSA.qll
  javascript/ql/src/semmle/javascript/Stmt.qll
  javascript/ql/src/semmle/javascript/StringConcatenation.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/GlobalAccessPaths/GlobalAccessPaths.expected
  javascript/ql/test/library-tests/GlobalAccessPaths/test.js
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/destruct.js
  javascript/ql/test/query-tests/Statements/UselessComparisonTest/defaults.js
  javascript/ql/test/query-tests/Statements/UselessComparisonTest/implicitReturn.js
Labels: JS

#1702 C++: add thread_local support
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/test/library-tests/clang_ms/element.expected
  cpp/ql/test/library-tests/conditions/elements.expected
  cpp/ql/test/library-tests/templates/instantiations_functions/elements.expected
  cpp/ql/test/library-tests/unnamed/elements.expected
  cpp/ql/test/library-tests/variables/thread_local/thread_local.cpp
  cpp/ql/test/library-tests/variables/thread_local/thread_local.expected
  cpp/ql/test/library-tests/variables/thread_local/thread_local.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/ReturnStackAllocatedMemory.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/test.cpp
Labels: C++, depends on internal PR

#1570 CPP: Add syntax examples to QLDoc in Class.qll.
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/interfaces.expected
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/interfaces.ql
Labels: C++

#1639 Java/C++/C# DataFlow: Add support for in/out barriers on sources and sinks.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  java/ql/src/Security/CWE/CWE-190/ArithmeticWithExtremeValues.ql
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/test/library-tests/dataflow/inoutbarriers/A.java
  java/ql/test/library-tests/dataflow/inoutbarriers/test.expected
  java/ql/test/library-tests/dataflow/inoutbarriers/test.ql
Labels: C#, C++, Java

#1704 JavaScript: Fix `export default` examples.
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
Labels: JS

#1710 CPP: Delete invalid URL
  cpp/ql/src/Best Practices/Likely Errors/Slicing.ql
Labels: C++

#1708 Support: add note about compiler versions
  change-notes/support/README.md
  change-notes/support/framework-support.rst
  change-notes/support/language-support.rst
  docs/ql-documentation/support/csharp-frameworks.csv
  docs/ql-documentation/support/framework-support.rst
  docs/ql-documentation/support/index.rst
  docs/ql-documentation/support/java-frameworks.csv
  docs/ql-documentation/support/javascript-typescript-frameworks.csv
  docs/ql-documentation/support/language-support.rst
  docs/ql-documentation/support/python-frameworks.csv
  docs/ql-documentation/support/versions-compilers.csv
Labels: documentation

#1651 JavaScript: Add tutorial on flow labels.
  docs/ql-documentation/learn-ql/javascript/dataflow.rst
  docs/ql-documentation/learn-ql/javascript/flow-labels.rst
  docs/ql-documentation/learn-ql/javascript/ql-for-javascript.rst
Labels: JS

#1714 docs: fix typo in Java data flow exercise
  docs/ql-documentation/learn-ql/java/dataflow.rst
Labels: documentation

#1693 JS: Add ClientRequest.getAResponseDataNode
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest.ql
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getADataNode.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getADataNode.ql
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getHost.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getHost.ql
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getUrl.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getUrl.ql
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.ql
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Labels: JS

#1694 JS: Elaborate string concatenation model
  javascript/ql/src/semmle/javascript/StringConcatenation.qll
  javascript/ql/src/semmle/javascript/StringOps.qll
  javascript/ql/src/semmle/javascript/Templates.qll
  javascript/ql/src/semmle/javascript/heuristics/AdditionalSinks.qll
  javascript/ql/src/semmle/javascript/heuristics/SyntacticHeuristics.qll
  javascript/ql/test/library-tests/Security/heuristics/HeuristicSink.expected
  javascript/ql/test/library-tests/StringConcatenation/StringOps.expected
  javascript/ql/test/library-tests/StringConcatenation/StringOps.ql
  javascript/ql/test/library-tests/StringConcatenation/html-concat.js
Labels: JS

#1681 Docs: a few CSS tweaks to improve slide appearance on small screens
  docs/ql-documentation/ql-training-rst/_static-training/curiosity.png
  docs/ql-documentation/ql-training-rst/_static-training/end-slide.svg
  docs/ql-documentation/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/ql-documentation/ql-training-rst/index.rst
  docs/ql-documentation/ql-training-rst/intro-to-ql/intro-cpp-specific.rst
  docs/ql-documentation/ql-training-rst/intro-to-ql/intro-java-specific.rst
  docs/ql-documentation/ql-training-rst/intro-to-ql/intro-ql-cpp.rst
  docs/ql-documentation/ql-training-rst/intro-to-ql/intro-ql-csharp-specific.rst
  docs/ql-documentation/ql-training-rst/intro-to-ql/intro-ql-general.rst
  docs/ql-documentation/ql-training-rst/intro-to-ql/intro-ql-java.rst
Labels: documentation

#1563 CPP: Test cases for EmptyBlock.ql with 'if constexpr'
  cpp/ql/test/query-tests/Best Practices/Likely Errors/EmptyBlock/EmptyBlock.expected
  cpp/ql/test/query-tests/Best Practices/Likely Errors/EmptyBlock/empty_block.cpp
Labels: C++

#1594 CPP: Add test coverage for LeapYearFieldAccess.isModifiedByArithmeticOperation.
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/Adding365DaysPerYear/Adding365daysPerYear.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/Adding365DaysPerYear/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification/UncheckedLeapYearAfterYearModification.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification/UncheckedReturnValueForTimeFunctions.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification/test.cpp
Labels: C++

#1723 JavaScript: Expand qldoc for `{Barrier,Sanitizer}GuardNode`.
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Labels: JS

#1706 CPP: Add syntax examples to QLDoc in Struct.qll, Union.qll.
  cpp/ql/src/semmle/code/cpp/Struct.qll
  cpp/ql/src/semmle/code/cpp/Union.qll
  cpp/ql/test/library-tests/structs/structs/structs.c
  cpp/ql/test/library-tests/structs/structs/structs.cpp
  cpp/ql/test/library-tests/structs/structs/structs.expected
  cpp/ql/test/library-tests/structs/structs/structs.ql
  cpp/ql/test/library-tests/unions/Unions1.expected
  cpp/ql/test/library-tests/unions/Unions1.ql
  cpp/ql/test/library-tests/unions/Unions4.expected
  cpp/ql/test/library-tests/unions/Unions4.ql
  cpp/ql/test/library-tests/unions/unions.cpp
Labels: C++

#1712 C#: Remove two `pragma[nomagic]`
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreSsa.qll
Labels: C#

#1705 CPP: Add syntax examples to QLDoc in Enum.qll.
  cpp/ql/src/semmle/code/cpp/Enum.qll
  cpp/ql/test/library-tests/enums/enums/Enums1.expected
  cpp/ql/test/library-tests/enums/enums/Enums3.expected
  cpp/ql/test/library-tests/enums/enums/Enums3.ql
  cpp/ql/test/library-tests/enums/enums/enums.cpp
Labels: C++

#1550 C++ IR: Fix performance of large value-initialized arrays
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/perf-regression.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/literals/aggregate_literals/arrays_value_init.ql
Labels: C++

#1731 CPP: Add syntax examples to QLDoc in Initializer.qll, Parameter.qll
  cpp/ql/src/semmle/code/cpp/Initializer.qll
  cpp/ql/src/semmle/code/cpp/Parameter.qll
Labels: C++

#1711 Java: Improve barriers for the CWE-190 Arithmetic* queries.
  change-notes/1.22/analysis-java.md
  java/ql/src/Security/CWE/CWE-190/ArithmeticCommon.qll
  java/ql/src/Security/CWE/CWE-190/ArithmeticTainted.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticWithExtremeValues.ql
  java/ql/src/semmle/code/java/JDK.qll
  java/ql/src/semmle/code/java/dataflow/SSA.qll
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTainted.java
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticWithExtremeValues.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/Test.java
Labels: Java

#1724 Java: Treat SecureJDKXercesXMLReader as a secure XMLReader.
  java/ql/src/Security/CWE/CWE-611/XmlParsers.qll
Labels: Java

#1716 CPP: Add syntax examples to QLDoc in Function.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/test/library-tests/functions/functions/Functions1.expected
  cpp/ql/test/library-tests/functions/functions/Functions2.expected
  cpp/ql/test/library-tests/functions/functions/Functions2.ql
  cpp/ql/test/library-tests/functions/functions/functions.cpp
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions4.expected
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions4.ql
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions5.expected
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions5.ql
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions6.expected
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions6.ql
Labels: C++

#1718 Java/C++/C#: Add support for BarrierGuards.
  change-notes/1.22/analysis-java.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Labels: C#, C++, Java

#1738 Java: Dataflow joinorder fix
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Labels: C#, C++, Java

#1673 C#: Apply static CFG splitting limit
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/test/library-tests/controlflow/splits/SplittingStressTest.cs
  csharp/ql/test/library-tests/controlflow/splits/SplittingStressTest.expected
  csharp/ql/test/library-tests/controlflow/splits/SplittingStressTest.ql
Labels: C#

#1715 C++: Initial AST-based flow through fields
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/B.cpp
  cpp/ql/test/library-tests/dataflow/fields/C.cpp
  cpp/ql/test/library-tests/dataflow/fields/complex.cpp
  cpp/ql/test/library-tests/dataflow/fields/constructors.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.ql
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#1743 C++: delete headermaps test
  cpp/ql/test/header-variant-tests/headermaps/1.h
  cpp/ql/test/header-variant-tests/headermaps/2.h
  cpp/ql/test/header-variant-tests/headermaps/3.h
  cpp/ql/test/header-variant-tests/headermaps/4.h
  cpp/ql/test/header-variant-tests/headermaps/5.h
  cpp/ql/test/header-variant-tests/headermaps/6.h
  cpp/ql/test/header-variant-tests/headermaps/7.h
  cpp/ql/test/header-variant-tests/headermaps/8.h
  cpp/ql/test/header-variant-tests/headermaps/big_langtests.hmap
  cpp/ql/test/header-variant-tests/headermaps/big_qltest.hmap
  cpp/ql/test/header-variant-tests/headermaps/headermaps.c
  cpp/ql/test/header-variant-tests/headermaps/headermaps.expected
  cpp/ql/test/header-variant-tests/headermaps/headermaps.ql
  cpp/ql/test/header-variant-tests/headermaps/little_langtests.hmap
  cpp/ql/test/header-variant-tests/headermaps/little_qltest.hmap
  cpp/ql/test/header-variant-tests/headermaps/make_maps.lua
Labels: C++

#1745 C++: Annotate field-flow tests in [ABC].cpp
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/B.cpp
  cpp/ql/test/library-tests/dataflow/fields/C.cpp
Labels: C++

#1742 CPP: Tests for taint through lambdas
  cpp/ql/test/library-tests/dataflow/dataflow-tests/lambdas.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#1610 JavaScript: Start documenting extension points provided by the standard library.
  javascript/documentation/library-customization.rst
Labels: JS

#1744 C++: Field flow through ClassAggregateLiteral
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/fields/struct_init.c
Labels: C++

#1741 C#: Extract assignments for field/property initializers
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
  csharp/ql/src/definitions.ql
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/src/semmle/code/csharp/Property.qll
  csharp/ql/src/semmle/code/csharp/Variable.qll
  csharp/ql/test/library-tests/assignables/AssignableAccess.expected
  csharp/ql/test/library-tests/assignables/AssignableDefinition.expected
  csharp/ql/test/library-tests/assignables/AssignableDefinitionNode.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/dispatch/GetADynamicTarget.expected
  csharp/ql/test/library-tests/expressions/QualifiableExpr.expected
  csharp/ql/test/library-tests/fields/Constants5.expected
Labels: C#

#1717 C#: Improve performance of SSA adjacent reads calculation
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefLastRead.expected
Labels: C#

#1762 C++: Support flow through LambdaExpression
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/lambdas.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++

#1758 Java: Improve performance in all dataflow queries.
  java/ql/src/semmle/code/java/frameworks/google/GoogleHttpClientApi.qll
  java/ql/src/semmle/code/java/frameworks/jackson/JacksonSerializability.qll
Labels: Java

#1753 Zlaski/cpp386a
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/src/semmle/code/cpp/File.qll
  cpp/ql/src/semmle/code/cpp/FriendDecl.qll
  cpp/ql/src/semmle/code/cpp/Macro.qll
  cpp/ql/src/semmle/code/cpp/Namespace.qll
  cpp/ql/src/semmle/code/cpp/Preprocessor.qll
  cpp/ql/src/semmle/code/cpp/Specifier.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Nullness.qll
  cpp/ql/src/semmle/code/cpp/exprs/Access.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Labels: C++

#1764 Java: remove unused VCS relations, library and queries
  change-notes/1.22/analysis-java.md
  java/ql/src/Metrics/History/HChurn.qhelp
  java/ql/src/Metrics/History/HChurn.ql
  java/ql/src/Metrics/History/HLinesAdded.qhelp
  java/ql/src/Metrics/History/HLinesAdded.ql
  java/ql/src/Metrics/History/HLinesDeleted.qhelp
  java/ql/src/Metrics/History/HLinesDeleted.ql
  java/ql/src/Metrics/History/HNumberOfAuthors.qhelp
  java/ql/src/Metrics/History/HNumberOfAuthors.ql
  java/ql/src/Metrics/History/HNumberOfChanges.qhelp
  java/ql/src/Metrics/History/HNumberOfChanges.ql
  java/ql/src/Metrics/History/HNumberOfRecentChanges.qhelp
  java/ql/src/Metrics/History/HNumberOfRecentChanges.ql
  java/ql/src/config/semmlecode.dbscheme
  java/ql/src/config/semmlecode.dbscheme.stats
  java/ql/src/external/VCS.qll
  java/ql/src/filters/RecentDefects.ql
  java/ql/src/filters/RecentDefectsForMetric.ql
Labels: depends on internal PR

#1746 C++: Field flow through ConstructorFieldInit
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/fields/C.cpp
  cpp/ql/test/library-tests/dataflow/fields/constructors.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#1766 Java/C++/C#: Add field flow support for stores in nested fields.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/test/library-tests/dataflow/fields/D.java
  java/ql/test/library-tests/dataflow/fields/flow.expected
Labels: C#, C++, Java

#1769 TS: Fix handling of erroneous rest pattern with default
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/extractor/tests/ts/input/restPatternWithDefault.ts
  javascript/extractor/tests/ts/output/trap/restPatternWithDefault.ts.trap
Labels: JS

#1739 C#: Search from delegate creation in `delegateCallSource()`
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
Labels: C#

#1732 CPP: Add syntax examples to QLDoc in Block.qll, Stmt.qll
  cpp/ql/src/semmle/code/cpp/stmts/Block.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
Labels: C++

#1782 Python: Prevent bad magic during pruning.
  python/ql/src/semmle/python/Pruning.qll
Labels: Python

#1780 C++/C#/Java: Split localFlowStep predicate in two
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Labels: C#, C++, Java

#1748 JS: Type tracking tutorial
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/language/learn-ql/javascript/flow-labels.rst
  docs/language/learn-ql/javascript/ql-for-javascript.rst
  docs/language/learn-ql/javascript/type-tracking.rst
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
Labels: JS

#1786 Sphinx docs: update references on `layout.html`
  docs/language/global-sphinx-files/_templates/layout.html
Labels: documentation

#1768 TS: Add debugging flag and document how to run the debugger
  javascript/extractor/lib/typescript/README.md
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Labels: JS

#1785 C++/C#/Java: Pyrameterize ConfigurationRecursionPrevention
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/DataFlow2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/DataFlow3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/DataFlow4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/DataFlow.qll
  java/ql/src/semmle/code/java/dataflow/DataFlow2.qll
  java/ql/src/semmle/code/java/dataflow/DataFlow3.qll
  java/ql/src/semmle/code/java/dataflow/DataFlow4.qll
  java/ql/src/semmle/code/java/dataflow/DataFlow5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Labels: C#, C++, Java

#1789 Java: Autoformat.
  java/ql/src/Performance/ConcatenationInLoops.ql
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/src/semmle/code/java/Member.qll
  java/ql/src/semmle/code/java/controlflow/internal/Preconditions.qll
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/test/library-tests/frameworks/android/manifest/manifest.ql
  java/ql/test/library-tests/frameworks/guice/flow.ql
Labels: Java

#1783 C++: Don't propagate taint between field and struct [CPP-410]
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
Labels: C++

#1790 C++/C#/Java: Shared TaintTrackingImpl.qll
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
Labels: C#, C++, Java

#1781 C++: Workaround for lambda expression locations
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#1796 C++: Add support for UsingEntry.getEnclosingElement
  cpp/ql/src/semmle/code/cpp/Element.qll
  cpp/ql/test/library-tests/usings/Usings2.expected
  cpp/ql/test/library-tests/usings/Usings2.ql
Labels: C++, depends on internal PR

#1801 CPP: Update taint test comments.
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++

#1750 C++: Minimal IR support for `GNUVectorType`
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SignAnalysis.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
Labels: C++

#1804 TS: Extract type args to tagged template exprs
  javascript/extractor/src/com/semmle/js/ast/NodeCopier.java
  javascript/extractor/src/com/semmle/js/ast/TaggedTemplateExpression.java
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/ql/src/semmle/javascript/Templates.qll
  javascript/ql/test/library-tests/TypeScript/TypeAnnotations/TemplateLiterals.qll
  javascript/ql/test/library-tests/TypeScript/TypeAnnotations/tests.expected
  javascript/ql/test/library-tests/TypeScript/TypeAnnotations/tests.ql
  javascript/ql/test/library-tests/TypeScript/TypeAnnotations/tst.ts
  javascript/ql/test/query-tests/Declarations/UnusedVariable/typeInTemplateLiteralTag.ts
Labels: JS

#1798 Python: Support short mode flags (e.g. `re.M`) in regexes. (ODASA-8056)
  python/ql/src/semmle/python/types/Extensions.qll
  python/ql/test/library-tests/regex/Mode.expected
  python/ql/test/library-tests/regex/test.py
Labels: Python

#1794 Java/C#/C++: Add change notes for in/out barriers and barrierguards.
  change-notes/1.22/analysis-cpp.md
  change-notes/1.22/analysis-csharp.md
  change-notes/1.22/analysis-java.md
Labels: C#, C++, Java

#1773 JavaScript: Raise precision of `UndocumentedParameter` to `high`.
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/JSDoc/UndocumentedParameter.ql
Labels: JS

#1788 JS: Add AdditionalTypeTrackingStep
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.expected
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.ql
  javascript/ql/test/library-tests/TypeTracking/CustomStep.qll
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.ql
  javascript/ql/test/library-tests/TypeTracking/tst.js
Labels: JS

#1811 C/C++ 1.22: finalize change notes
  change-notes/1.22/analysis-cpp.md
Labels: C++, Priority, documentation

#1814 C# 1.22: Finalize change notes
  change-notes/1.22/analysis-csharp.md
Labels: C#, Priority, documentation

#1816 JavaScript 1.22: Finalize release notes
  change-notes/1.22/analysis-javascript.md
Labels: JS, Priority, documentation

#1815 Java 1.22: Minor tidy up to release notes
  change-notes/1.22/analysis-java.md
Labels: Java, Priority, documentation

#1818 C++: Fix lambda_capture upgrade query join order
  cpp/upgrades/814fae599505510ff15102f4c72600586734770a/lambda_capture.ql
Labels: C++, Priority

#1819 C++: Update data flow change notes
  change-notes/1.22/analysis-cpp.md
Labels: C++

#1817 Python: Update change note for 1.22.
  change-notes/1.22/analysis-python.md
Labels: Priority, Python

#1770 CPP: Add syntax examples to QLDoc in various files
  cpp/ql/src/semmle/code/cpp/Comments.qll
  cpp/ql/src/semmle/code/cpp/Field.qll
  cpp/ql/src/semmle/code/cpp/FriendDecl.qll
  cpp/ql/src/semmle/code/cpp/Include.qll
  cpp/ql/src/semmle/code/cpp/Macro.qll
  cpp/ql/src/semmle/code/cpp/exprs/Lambda.qll
Labels: C++

#1822 definitions.qll: Suppress multi-location links.
  cpp/ql/src/definitions.qll
Labels: C++, Priority

#1824 C++: Optimize SubBasicBlocks library
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
Labels: C++, Priority

#1825 JS: Change notes for jump-to-def and documentation improvements
  change-notes/1.22/analysis-javascript.md
Labels: JS

#1831 C++: Performance fix for existsCompleteWithName
  cpp/ql/src/semmle/code/cpp/internal/ResolveClass.qll
Labels: C++, Priority

#1795 Java: Add localExprFlow and localExprTaint.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Labels: Java

#1837 C++: New empty change-notes file for 1.23
  change-notes/1.23/analysis-cpp.md
Labels: C++

#1799 Java/C++/C#: Improve performance of data flow with fields.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Labels: C#, C++, Java

#1836 C++: Support x-macros that are #undef'ed in header
  cpp/ql/src/jsf/4.07 Header Files/AV Rule 35.ql
  cpp/ql/test/query-tests/jsf/4.07 Header Files/AV Rule 35/all1.cpp
  cpp/ql/test/query-tests/jsf/4.07 Header Files/AV Rule 35/all2.cpp
  cpp/ql/test/query-tests/jsf/4.07 Header Files/AV Rule 35/items3.h
Labels: C++

#1809 C#: Consolidate CFG tests
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.ql
  csharp/ql/test/library-tests/controlflow/graph/BooleanNode.expected
  csharp/ql/test/library-tests/controlflow/graph/BooleanNode.ql
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.ql
  csharp/ql/test/library-tests/controlflow/graph/ConditionBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionBlock.ql
  csharp/ql/test/library-tests/controlflow/graph/ConditionalFlow.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionalFlow.ql
  csharp/ql/test/library-tests/controlflow/graph/Consistency.expected
  csharp/ql/test/library-tests/controlflow/graph/Consistency.ql
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.ql
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.ql
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.ql
  csharp/ql/test/library-tests/controlflow/graph/FinallyNode.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.ql
  csharp/ql/test/library-tests/controlflow/graph/PreBasicBlockConsistency.expected
  csharp/ql/test/library-tests/controlflow/graph/PreBasicBlockConsistency.ql
Labels: C#

#1827 C++: Tidy up SubBasicBlocks.qll
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/controlflow/SubBasicBlocks.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
  cpp/ql/test/library-tests/sub_basic_blocks/sbb_test.qll
Labels: C++

#1838 C++: Change name of UncheckedReturnValueForTimeFunctions.ql
  cpp/ql/src/Likely Bugs/Leap Year/Adding365DaysPerYear.ql
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
Labels: C++

#1771 CPP: Add syntax examples to QLDoc in NameQualifiers.qll
  cpp/ql/src/semmle/code/cpp/Enum.qll
  cpp/ql/src/semmle/code/cpp/NameQualifiers.qll
  cpp/ql/test/library-tests/namespaces/namespaces/namequalifiable.expected
  cpp/ql/test/library-tests/namespaces/namespaces/namequalifiable.ql
Labels: C++

#1805 C#: Nested field flow
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
  csharp/ql/test/library-tests/cil/dataflow/TaintTracking.ql
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.ql
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/G.cs
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
Labels: C#

#1807 C#: Introduce `BarrierGuard`s
  change-notes/1.23/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/TaintedPath.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/UrlRedirect.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/ZipSlip.qll
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/Common.qll
  csharp/ql/test/library-tests/dataflow/local/Common.qll
  csharp/ql/test/library-tests/dataflow/local/DataFlow.ql
  csharp/ql/test/library-tests/dataflow/local/TaintTracking.ql
Labels: C#

#1843 Java: Add missing SQL query APIs.
  change-notes/1.23/analysis-java.md
  java/ql/src/semmle/code/java/frameworks/Jdbc.qll
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTaintedLocal.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlUnescaped.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/Test.java
  java/ql/test/query-tests/security/CWE-089/semmle/examples/ValidatedVariable.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/controlledString.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/endsInQuote.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/getAnAppend.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/getToStringCall.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/sbQuery.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/taintedString.expected
Labels: Java

#1835 JavaScript: Fix `DomMethodCallExpr.interpretsArgumentsAsHTML`.
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst3.js
Labels: JS

#1658 [CPP-387] Create a new PR against new location of introduce-libraries…
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
Labels: C++

#1844 JS: Make type information more accessible
  change-notes/1.23/analysis-javascript.md
  javascript/extractor/lib/typescript/src/main.ts
  javascript/ql/src/semmle/javascript/CanonicalNames.qll
  javascript/ql/src/semmle/javascript/JSON.qll
  javascript/ql/src/semmle/javascript/NPM.qll
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/frameworks/Babel.qll
  javascript/ql/src/semmle/javascript/frameworks/Firebase.qll
  javascript/ql/src/semmle/javascript/frameworks/Vue.qll
  javascript/ql/test/library-tests/TypeScript/DeclarationFiles/ReferenceImports.expected
  javascript/ql/test/library-tests/TypeScript/DeclarationFiles/ReferenceImports.ql
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/TypeNames.expected
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/TypeNames.ql
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/bar/client.ts
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/foo/index.ts
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/foo/package.json
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/tsconfig.json
  javascript/ql/test/library-tests/frameworks/Firebase/FirebaseRef.expected
  javascript/ql/test/library-tests/frameworks/Firebase/node_modules/firebase/index.d.ts
  javascript/ql/test/library-tests/frameworks/Firebase/src/import_assign.ts
  javascript/ql/test/library-tests/frameworks/Firebase/src/import_named.ts
  javascript/ql/test/library-tests/frameworks/Firebase/src/import_star.ts
  javascript/ql/test/library-tests/frameworks/Firebase/tsconfig.json
Labels: JS

#1759 Java/C++/C#: Add support for dataflow exploration by partial paths.
  change-notes/1.23/analysis-cpp.md
  change-notes/1.23/analysis-csharp.md
  change-notes/1.23/analysis-java.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/test/library-tests/dataflow/partial/A.java
  java/ql/test/library-tests/dataflow/partial/test.expected
  java/ql/test/library-tests/dataflow/partial/test.ql
Labels: C#, C++, Java

#1802 Java: Add a global extension point for taint steps.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Labels: Java
