Repository github/codeql, pull requests merged in 2020-06, with the labels that each got.

#3579 JS: remove duplicates from change-note
  change-notes/1.25/analysis-javascript.md
Labels: JS

#3578 JS: Sanitizing html-escaping switch-statements
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssGood.js
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssGood3.js
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssWithCustomSanitizer.expected
Labels: JS

#3593 C++: Add QLDoc for AST classes up to Include.qll
  cpp/ql/src/semmle/code/cpp/AutogeneratedFile.qll
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/src/semmle/code/cpp/Comments.qll
  cpp/ql/src/semmle/code/cpp/Compilation.qll
  cpp/ql/src/semmle/code/cpp/Declaration.qll
  cpp/ql/src/semmle/code/cpp/Diagnostics.qll
  cpp/ql/src/semmle/code/cpp/Element.qll
  cpp/ql/src/semmle/code/cpp/Enclosing.qll
  cpp/ql/src/semmle/code/cpp/Enum.qll
  cpp/ql/src/semmle/code/cpp/Field.qll
  cpp/ql/src/semmle/code/cpp/File.qll
  cpp/ql/src/semmle/code/cpp/FriendDecl.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/Include.qll
Labels: C++

#3514 C#: Remove more deprecated classes and predicates
  csharp/ql/src/csharp.qll
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/src/semmle/code/csharp/Generics.qll
  csharp/ql/src/semmle/code/csharp/Stmt.qll
  csharp/ql/src/semmle/code/csharp/Type.qll
  csharp/ql/src/semmle/code/csharp/dataflow/flowsources/PublicCallableParameter.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
Labels: C#

#3415 JS: add MembershipTests.qll
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/InclusionTests.qll
  javascript/ql/src/semmle/javascript/MembershipCandidates.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/TaintBarriers/SanitizingGuard.expected
  javascript/ql/test/library-tests/TaintBarriers/tst.js
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/sanitizer-guards.js
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck.js
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin.expected
  javascript/ql/test/query-tests/Security/CWE-079/unsafe-jquery-plugin.js
Labels: JS

#3602 C++: Make path-problem versions of ir-flow.ql and flow.ql
  cpp/ql/test/library-tests/dataflow/fields/ASTConfiguration.qll
  cpp/ql/test/library-tests/dataflow/fields/IRConfiguration.qll
  cpp/ql/test/library-tests/dataflow/fields/flow.ql
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.ql
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.ql
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.ql
Labels: C++

#3607 Java: Add instanceof type bounds for ArrayAccess.
  java/ql/src/semmle/code/java/dataflow/TypeFlow.qll
Labels: Java

#3123 C++: Wire up param/arg indirections in data flow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
  cpp/ql/test/library-tests/dataflow/fields/struct_init.c
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
Labels: C++, depends on internal PR

#3598 JS: Add StringOps::RegExpTest
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/StringOps.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/library-tests/StringOps/RegExpTest/RegExpTest.expected
  javascript/ql/test/library-tests/StringOps/RegExpTest/RegExpTest.ql
  javascript/ql/test/library-tests/StringOps/RegExpTest/tst.js
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/sanitiser.js
Labels: JS

#3618 Java: Add test case for TypeFlow improvement
  java/ql/test/library-tests/typeflow/A.java
  java/ql/test/library-tests/typeflow/typeflow.expected
Labels: Java

#3620 C++: Fix missing case in ValueNumber::getKind
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
Labels: C++

#3609 JS: Add support for fetch Headers in js/hardcoded-credentials
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/security/dataflow/HardcodedCredentials.qll
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.js
Labels: JS

#3625 JS: add sanitizer guard for `typeof x == "undefined"`
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: JS

#3291 Java: Add a query for SpEL injections
  java/ql/src/experimental/Security/CWE/CWE-094/SaferSpelExpressionEvaluation.java
  java/ql/src/experimental/Security/CWE/CWE-094/SpelInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-094/SpelInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-094/SpelInjectionLib.qll
  java/ql/src/experimental/Security/CWE/CWE-094/SpringFrameworkLib.qll
  java/ql/src/experimental/Security/CWE/CWE-094/UnsafeSpelExpressionEvaluation.java
  java/ql/test/experimental/Security/CWE/CWE-094/SpelInjection.expected
  java/ql/test/experimental/Security/CWE/CWE-094/SpelInjection.java
  java/ql/test/experimental/Security/CWE/CWE-094/SpelInjection.qlref
  java/ql/test/experimental/Security/CWE/CWE-094/options
  java/ql/test/stubs/springframework-5.2.3/org/springframework/expression/EvaluationContext.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/expression/EvaluationException.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/expression/Expression.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/expression/ExpressionParser.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/expression/spel/standard/SpelExpressionParser.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/expression/spel/support/SimpleEvaluationContext.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/expression/spel/support/StandardEvaluationContext.java
Labels: Java

#3591 Python: Fix some problems in TaintKind useage
  change-notes/1.25/analysis-python.md
  python/ql/src/semmle/python/security/strings/Basic.qll
  python/ql/src/semmle/python/security/strings/External.qll
  python/ql/src/semmle/python/web/bottle/Request.qll
  python/ql/src/semmle/python/web/turbogears/Request.qll
  python/ql/src/semmle/python/web/turbogears/Response.qll
Labels: Python

#3629 C++: Remove TInitializeThisValueNumber from IR value numbering
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
Labels: C++

#3601 C#: Avoid multiple taint-tracking configurations
  csharp/ql/src/Security Features/CWE-079/StoredXSS.ql
  csharp/ql/src/semmle/code/csharp/security/dataflow/XSS.qll
Labels: C#

#3329 Java: Add a query for MVEL injections
  java/ql/src/experimental/Security/CWE/CWE-094/MvelInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-094/MvelInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-094/MvelInjectionLib.qll
  java/ql/src/experimental/Security/CWE/CWE-094/UnsafeMvelExpressionEvaluation.java
  java/ql/test/experimental/Security/CWE/CWE-094/MvelInjection.expected
  java/ql/test/experimental/Security/CWE/CWE-094/MvelInjection.java
  java/ql/test/experimental/Security/CWE/CWE-094/MvelInjection.qlref
  java/ql/test/experimental/Security/CWE/CWE-094/options
  java/ql/test/stubs/jsr223-api/javax/script/CompiledScript.java
  java/ql/test/stubs/jsr223-api/javax/script/ScriptContext.java
  java/ql/test/stubs/jsr223-api/javax/script/ScriptException.java
  java/ql/test/stubs/jsr223-api/javax/script/SimpleScriptContext.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/MVEL.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/MVELRuntime.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/ParserContext.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/compiler/Accessor.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/compiler/CompiledAccExpression.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/compiler/CompiledExpression.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/compiler/ExecutableStatement.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/compiler/ExpressionCompiler.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/integration/VariableResolverFactory.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/integration/impl/ImmutableDefaultFactory.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/jsr223/MvelCompiledScript.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/jsr223/MvelScriptEngine.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/templates/CompiledTemplate.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/templates/TemplateCompiler.java
  java/ql/test/stubs/mvel2-2.4.7/org/mvel2/templates/TemplateRuntime.java
Labels: Java

#3563 Python: Handle fabric.api.execute in command injection
  python/ql/src/Security/CWE-078/CommandInjection.ql
  python/ql/src/semmle/python/security/injection/Command.qll
  python/ql/test/library-tests/security/fabric-v1-execute/Taint.qll
  python/ql/test/library-tests/security/fabric-v1-execute/TestTaint.expected
  python/ql/test/library-tests/security/fabric-v1-execute/TestTaint.ql
  python/ql/test/library-tests/security/fabric-v1-execute/options
  python/ql/test/library-tests/security/fabric-v1-execute/test.py
  python/ql/test/query-tests/Security/lib/fabric/api.py
Labels: Python

#3637 C++: Fix data-flow dispatch perf with globals
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
Labels: C++

#3643 JS: extend support for yargs for js/indirect-command-line-injection
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/command-line-parameter-command-injection.js
Labels: JS

#3438 Java: Added a query for unsafe TLS versions
  java/ql/src/experimental/Security/CWE/CWE-327/SaferTLSVersion.java
  java/ql/src/experimental/Security/CWE/CWE-327/SslLib.qll
  java/ql/src/experimental/Security/CWE/CWE-327/UnsafeTLSVersion.java
  java/ql/src/experimental/Security/CWE/CWE-327/UnsafeTlsVersion.qhelp
  java/ql/src/experimental/Security/CWE/CWE-327/UnsafeTlsVersion.ql
  java/ql/test/experimental/Security/CWE/CWE-327/UnsafeTlsVersion.expected
  java/ql/test/experimental/Security/CWE/CWE-327/UnsafeTlsVersion.java
  java/ql/test/experimental/Security/CWE/CWE-327/UnsafeTlsVersion.qlref
Labels: Java

#3659 C++: Performance tweak for 1-field struct loads
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#3645 JS: add query to detect accidential leak of private files
  javascript/ql/src/Security/CWE-200/PrivateFileExposure.qhelp
  javascript/ql/src/Security/CWE-200/PrivateFileExposure.ql
  javascript/ql/test/query-tests/Security/CWE-200/PrivateFileExposure.expected
  javascript/ql/test/query-tests/Security/CWE-200/PrivateFileExposure.qlref
  javascript/ql/test/query-tests/Security/CWE-200/lib/package.json
  javascript/ql/test/query-tests/Security/CWE-200/lib/tst.js
  javascript/ql/test/query-tests/Security/CWE-200/private-file-exposure.js
Labels: JS

#3491 Java: CWE-297 insecure JavaMail SSL configuration
  java/ql/src/experimental/Security/CWE/CWE-297/InsecureJavaMail.qhelp
  java/ql/src/experimental/Security/CWE/CWE-297/InsecureJavaMail.ql
  java/ql/src/experimental/Security/CWE/CWE-297/JavaMail.java
  java/ql/src/experimental/Security/CWE/CWE-297/SimpleMail.java
  java/ql/test/experimental/query-tests/security/CWE-297/InsecureJavaMail.expected
  java/ql/test/experimental/query-tests/security/CWE-297/InsecureJavaMail.java
  java/ql/test/experimental/query-tests/security/CWE-297/InsecureJavaMail.qlref
  java/ql/test/experimental/query-tests/security/CWE-297/options
  java/ql/test/stubs/apache-commons-email-1.6.0/LICENSE.txt
  java/ql/test/stubs/apache-commons-email-1.6.0/org/apache/commons/mail/DefaultAuthenticator.java
  java/ql/test/stubs/apache-commons-email-1.6.0/org/apache/commons/mail/Email.java
  java/ql/test/stubs/apache-commons-email-1.6.0/org/apache/commons/mail/EmailException.java
  java/ql/test/stubs/apache-commons-email-1.6.0/org/apache/commons/mail/SimpleEmail.java
  java/ql/test/stubs/javamail-api-1.6.2/LICENSE.txt
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/Authenticator.java
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/PasswordAuthentication.java
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/Session.java
Labels: Java

#3667 Java: Fix CompileTimeConstantExpr qldoc and add char cast case.
  java/ql/src/semmle/code/java/Expr.qll
Labels: Java

#3681 Merge rc/1.24 into master
  docs/language/learn-ql/go/ast-class-reference.rst
  docs/language/learn-ql/go/introduce-libraries-go.rst
  docs/language/learn-ql/go/ql-for-go.rst
Labels: Mergeback

#3652 C#: Refactor data-flow predicates defined by dispatch
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
Labels: C#

#3685 CodeQL for Go: Edit AST reference
  docs/language/learn-ql/go/ast-class-reference.rst
  docs/language/learn-ql/go/ql-for-go.rst
Labels: documentation

#3692 C++: Fix reference to `Block`
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
Labels: C++

#3691 C++: Add a test case for CWE-114 involving pointers and references.
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/test.cpp
Labels: C++

#3672 JS: add initial version of ServerCrash.ql
  javascript/ql/src/Security/CWE-730/ServerCrash.qhelp
  javascript/ql/src/Security/CWE-730/ServerCrash.ql
  javascript/ql/test/query-tests/Security/CWE-730/ServerCrash.expected
  javascript/ql/test/query-tests/Security/CWE-730/ServerCrash.qlref
  javascript/ql/test/query-tests/Security/CWE-730/server-crash.js
Labels: JS

#3679 JS: Restrict domValueRef to known DOM properties
  javascript/ql/src/semmle/javascript/DOM.qll
  javascript/ql/test/library-tests/DOM/Customizations.expected
  javascript/ql/test/library-tests/DOM/externs/externs.js
  javascript/ql/test/library-tests/DOM/tst.js
  javascript/ql/test/query-tests/Security/CWE-079/externs.js
Labels: JS

#3686 JS: add query js/disabling-certificate-validation
  javascript/ql/src/Security/CWE-295/DisablingCertificateValidation.qhelp
  javascript/ql/src/Security/CWE-295/DisablingCertificateValidation.ql
  javascript/ql/test/query-tests/Security/CWE-295/DisablingCertificateValidation.expected
  javascript/ql/test/query-tests/Security/CWE-295/DisablingCertificateValidation.qlref
  javascript/ql/test/query-tests/Security/CWE-295/tst.js
Labels: JS

#3690 JS: Fix a misleading javadoc comment
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Labels: JS

#3656 JS: support rest-patterns inside property patterns
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/command-line-parameter-command-injection.js
Labels: JS

#3703 Merge rc/1.24 into master
  docs/language/learn-ql/go/ast-class-reference.rst
  docs/language/learn-ql/go/ql-for-go.rst
Labels: Mergeback

#3662 JS: Minor fixes to package export detection
  javascript/ql/src/semmle/javascript/NodeModuleResolutionImpl.qll
  javascript/ql/src/semmle/javascript/PackageExports.qll
  javascript/ql/test/library-tests/PackageExports/absent_main/index.js
  javascript/ql/test/library-tests/PackageExports/absent_main/package.json
  javascript/ql/test/library-tests/PackageExports/esmodules/main.js
  javascript/ql/test/library-tests/PackageExports/esmodules/package.json
  javascript/ql/test/library-tests/PackageExports/tests.expected
Labels: JS

#3680 JS: Add query to detect bad code sanitizers
  javascript/ql/src/Security/CWE-094/ImproperCodeSanitization.qhelp
  javascript/ql/src/Security/CWE-094/ImproperCodeSanitization.ql
  javascript/ql/src/semmle/javascript/heuristics/AdditionalSinks.qll
  javascript/ql/src/semmle/javascript/heuristics/HeuristicSinks.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ImproperCodeSanitization.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ImproperCodeSanitizationCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/ImproperCodeSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/ImproperCodeSanitization.qlref
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/bad-code-sanitization.js
Labels: JS

#3651 JS: initial version of IncompleteMultiCharacterSanitization.ql
  javascript/ql/src/Security/CWE-116/IncompleteMultiCharacterSanitization.qhelp
  javascript/ql/src/Security/CWE-116/IncompleteMultiCharacterSanitization.ql
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteMultiCharacterSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteMultiCharacterSanitization.qlref
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/tst-multi-character-sanitization.js
Labels: JS

#3509 C#: Recognize more calls to `IHtmlHelper.Raw`
  csharp/ql/src/semmle/code/csharp/frameworks/microsoft/AspNetCore.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsinks/Html.qll
Labels: C#

#3704 JS: Step through path.{format,parse} and add model of Micro
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/frameworks/HttpFrameworks.qll
  javascript/ql/src/semmle/javascript/frameworks/Micro.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/library-tests/frameworks/Micro/TestMicro.expected
  javascript/ql/test/library-tests/frameworks/Micro/TestMicro.ql
  javascript/ql/test/library-tests/frameworks/Micro/tst.js
Labels: JS

#2801 JS: improve support for route handlers in containers
  javascript/ql/src/semmle/javascript/Collections.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/test/library-tests/frameworks/Express/RouteHandlerContainer.expected
  javascript/ql/test/library-tests/frameworks/Express/RouteHandlerContainer.qll
  javascript/ql/test/library-tests/frameworks/Express/src/advanced-routehandler-registration.js
  javascript/ql/test/library-tests/frameworks/Express/src/controllers/handler-in-bulk-require.js
  javascript/ql/test/library-tests/frameworks/Express/src/controllers/handler-in-dynamic-require.js
  javascript/ql/test/library-tests/frameworks/Express/src/controllers/index.js
  javascript/ql/test/library-tests/frameworks/Express/src/route-collection.js
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
  javascript/ql/test/library-tests/frameworks/Express/tests.ql
Labels: JS

#3714 QL handbook: Update process for module resolution
  docs/language/ql-handbook/name-resolution.rst
Labels: documentation

#3715 JS: Support calls to returned functions
  javascript/ql/src/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/returned-function.js
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/RouteHandler.expected
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/UnpromotedRouteHandlerCandidate.expected
Labels: JS

#3719 C++/C#: Fix a couple new consistency failures, and improve consistency messages
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRConsistency.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
  csharp/ql/src/experimental/ir/implementation/raw/IRConsistency.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRConsistency.qll
  csharp/ql/test/experimental/ir/ir/raw_ir_consistency.expected
  csharp/ql/test/experimental/ir/ir/unaliased_ssa_consistency.expected
Labels: C++

#3641 JS: Add PreCallGraphStep and use some array steps in type tracking
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/PreCallGraphStep.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/StepSummary.qll
  javascript/ql/test/library-tests/frameworks/SQL/SqlString.expected
  javascript/ql/test/library-tests/frameworks/SQL/sqliteArray.js
Labels: JS

#3673 C++: Add tests for taint through swap
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/swap.h
  cpp/ql/test/library-tests/dataflow/taint-tests/swap1.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/swap2.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#3725 JS: add changenote for yargs
  change-notes/1.25/analysis-javascript.md
Labels: JS

#3713 C++: Add test for differences between AST and IR field flow
  cpp/ql/test/library-tests/dataflow/fields/Nodes.qll
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.ql
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.ql
Labels: C++

#3721 JS: Improve alert message in js/non-linear-pattern
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/LanguageFeatures/NonLinearPattern.qhelp
  javascript/ql/src/LanguageFeatures/NonLinearPattern.ql
  javascript/ql/src/LanguageFeatures/examples/NonLinearPatternTS.ts
  javascript/ql/src/LanguageFeatures/examples/NonLinearPatternTSGood.ts
  javascript/ql/test/query-tests/LanguageFeatures/NonLinearPattern/NonLinearPattern.expected
  javascript/ql/test/query-tests/LanguageFeatures/NonLinearPattern/NonLinearPatternTS.ts
  javascript/ql/test/query-tests/LanguageFeatures/NonLinearPattern/NonLinearPatternTSGood.ts
  javascript/ql/test/query-tests/LanguageFeatures/NonLinearPattern/ts-test.ts
Labels: JS

#3587 C++: IR return indirections for `this`
  cpp/ql/src/semmle/code/cpp/Parameter.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/C.cpp
  cpp/ql/test/library-tests/dataflow/fields/IRConfiguration.qll
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/complex.cpp
  cpp/ql/test/library-tests/dataflow/fields/constructors.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/swap1.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/swap2.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  csharp/ql/src/experimental/ir/implementation/raw/IRVariable.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRVariable.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C++

#3728 C++: Split MemberFunction.qll from Function.qll.
  cpp/ql/src/cpp.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/MemberFunction.qll
Labels: C++

#3654 C++: Speed up IRGuardCondition::controlsBlock
  cpp/ql/src/semmle/code/cpp/controlflow/IRGuards.qll
Labels: C++

#3726 JS: Bad code polish
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-094/ImproperCodeSanitization.qhelp
  javascript/ql/src/Security/CWE-094/ImproperCodeSanitization.ql
  javascript/ql/src/Security/CWE-094/examples/ImproperCodeSanitization.js
  javascript/ql/src/Security/CWE-094/examples/ImproperCodeSanitizationFixed.js
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/ImproperCodeSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/bad-code-sanitization.js
  javascript/ql/test/query-tests/Security/CWE-094/tmp.html
Labels: JS

#3716 Python: Fix FP in treating re.escape as regex
  python/ql/src/semmle/python/regex.qll
  python/ql/test/library-tests/regex/test.py
  python/ql/test/query-tests/Security/CWE-020/hosttest.py
Labels: Python

#3456 Data flow: Track precise types during field flow
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/test/library-tests/dataflow/types/Types.cs
  csharp/ql/test/library-tests/dataflow/types/Types.expected
  csharp/ql/test/library-tests/dataflow/types/Types.ql
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/getter/getter.ql
Labels: C#, C++, Java

#3724 JS: Bad random polish
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-327/BadRandomness.qhelp
  javascript/ql/src/Security/CWE-327/BadRandomness.ql
  javascript/ql/src/Security/CWE-327/examples/bad-random-fixed.js
  javascript/ql/src/Security/CWE-327/examples/bad-random-fixed2.js
  javascript/ql/src/Security/CWE-327/examples/bad-random.js
  javascript/ql/test/query-tests/Security/CWE-327/BadRandomness.expected
  javascript/ql/test/query-tests/Security/CWE-327/bad-random.js
Labels: JS

#3732 JS: Private file exposure polish
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-200/PrivateFileExposure.qhelp
  javascript/ql/src/Security/CWE-200/PrivateFileExposure.ql
  javascript/ql/src/Security/CWE-200/examples/PrivateFileExposure.js
  javascript/ql/src/Security/CWE-200/examples/PrivateFileExposureFixed.js
  javascript/ql/test/query-tests/Security/CWE-200/PrivateFileExposure.expected
  javascript/ql/test/query-tests/Security/CWE-200/private-file-exposure.js
Labels: JS

#3612 C++: Share `TInstruction` across IR stages
  config/identical-files.json
  cpp/ql/src/Likely Bugs/RedundantNullCheckSimple.ql
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/IRType.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/IRFunctionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/IRInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstructionInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/IRFunctionBase.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/IRFunctionBaseInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/TIRVariableInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/TInstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/TInstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/TInstructionInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRFunctionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/IRFunctionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/IRInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstructionInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/CppType.qll
  csharp/ql/src/experimental/ir/implementation/IRType.qll
  csharp/ql/src/experimental/ir/implementation/internal/AliasedSSAStub.qll
  csharp/ql/src/experimental/ir/implementation/internal/IRFunctionBase.qll
  csharp/ql/src/experimental/ir/implementation/internal/IRFunctionBaseInternal.qll
  csharp/ql/src/experimental/ir/implementation/internal/TIRVariableInternal.qll
  csharp/ql/src/experimental/ir/implementation/internal/TInstruction.qll
  csharp/ql/src/experimental/ir/implementation/internal/TInstructionImports.qll
  csharp/ql/src/experimental/ir/implementation/internal/TInstructionInternal.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRFunction.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRFunctionImports.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRInternal.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRFunction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/IRFunctionImports.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/IRInternal.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstructionImports.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstructionInternal.qll
  csharp/ql/src/experimental/ir/internal/TIRVariable.qll
Labels: C#, C++

#3575 Python: Add QLDoc for FunctionValue.getQualifiedName
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Labels: Python

#3689 JS: add simple query for detecting sensitive files downloaded over insecure connection
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-829/InsecureDownload.qhelp
  javascript/ql/src/Security/CWE-829/InsecureDownload.ql
  javascript/ql/src/Security/CWE-829/examples/insecure-download.js
  javascript/ql/src/Security/CWE-829/examples/secure-download.js
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/security/dataflow/InsecureDownload.qll
  javascript/ql/src/semmle/javascript/security/dataflow/InsecureDownloadCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-829/InsecureDownload.expected
  javascript/ql/test/query-tests/Security/CWE-829/InsecureDownload.qlref
  javascript/ql/test/query-tests/Security/CWE-829/insecure-download.js
Labels: JS

#3702 JS: add query js/memory-exhaustion
  change-notes/1.25/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-770/ResourceExhaustion.qhelp
  javascript/ql/src/Security/CWE-770/ResourceExhaustion.ql
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_array.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_array_fixed.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_buffer.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_buffer_fixed.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_timeout.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_timeout_fixed.js
  javascript/ql/src/semmle/javascript/security/dataflow/ResourceExhaustion.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion.expected
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion.qlref
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_array.js
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_array_fixed.js
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_buffer.js
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_buffer_fixed.js
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_timeout.js
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_timeout_fixed.js
  javascript/ql/test/query-tests/Security/CWE-770/resource-exhaustion.js
Labels: Awaiting evaluation, JS

#3610 C#: Add call-sensitivity to data-flow call resolution
  csharp/ql/src/semmle/code/csharp/Unification.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
  csharp/ql/src/semmle/code/csharp/dispatch/OverridableCallable.qll
  csharp/ql/test/library-tests/dataflow/call-sensitivity/CallSensitivityFlow.cs
  csharp/ql/test/library-tests/dataflow/call-sensitivity/CallSensitivityFlow.expected
  csharp/ql/test/library-tests/dispatch/CallContext.expected
  csharp/ql/test/library-tests/dispatch/CallContext.ql
  csharp/ql/test/library-tests/dispatch/ViableCallable.cs
Labels: C#

#3494 Data flow: Use `accessPathLimit()` in partial flow as well
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Labels: C#, C++, Java

#3752 JS: limit size of `getStringValue`
  javascript/ql/src/semmle/javascript/Expr.qll
Labels: JS

#3630 JS: Adds basic support for `webpack-dev-server` and importing from neighbouring packages.
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/Modules.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/test/library-tests/Portals/PortalEntry.expected
  javascript/ql/test/library-tests/Portals/PortalExit.expected
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/child_process-test.js
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib/index.js
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib/package.json
Labels: JS

#3755 JS: polish js/incomplete-html-attribute-sanitization
  change-notes/1.25/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-116/IncompleteMultiCharacterSanitization.qhelp
Labels: JS

#3756 JS: delay merging two slow queries
  change-notes/1.25/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-730/ServerCrash.qhelp
  javascript/ql/src/Security/CWE-730/ServerCrash.ql
  javascript/ql/src/Security/CWE-770/ResourceExhaustion.qhelp
  javascript/ql/src/Security/CWE-770/ResourceExhaustion.ql
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_array.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_array_fixed.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_buffer.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_buffer_fixed.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_timeout.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_timeout_fixed.js
  javascript/ql/src/semmle/javascript/security/dataflow/ResourceExhaustion.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-730/ServerCrash.expected
  javascript/ql/test/query-tests/Security/CWE-730/ServerCrash.qlref
  javascript/ql/test/query-tests/Security/CWE-730/server-crash.js
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion.expected
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion.qlref
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_array.js
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_array_fixed.js
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_buffer.js
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_buffer_fixed.js
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_timeout.js
  javascript/ql/test/query-tests/Security/CWE-770/documentation_examples/ResourceExhaustion_timeout_fixed.js
  javascript/ql/test/query-tests/Security/CWE-770/resource-exhaustion.js
Labels: JS

#3759 JS: Add sprint queries to security suite
  javascript/config/suites/javascript/security
Labels: JS

#3735 JS: polish js/disabling-certificate-validation
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-295/DisablingCertificateValidation.qhelp
  javascript/ql/src/Security/CWE-295/DisablingCertificateValidation.ql
  javascript/ql/src/Security/CWE-295/examples/DisablingCertificateValidation.js
Labels: JS

#3754 C++: Revert #3419 to fix OpenJDK performance
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Labels: C++

#3694 C++: Extend the GetsFunction and SystemFunction models.
  cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
Labels: C++

#3757 JS: Reduce precision of js/unused-npm-dependency
  javascript/config/suites/javascript/frameworks-more
  javascript/ql/src/NodeJS/UnusedDependency.ql
Labels: JS

#3753 JS: Rephrase XSS queries that use exception/dom text as source
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-079/ExceptionXss.ql
  javascript/ql/src/Security/CWE-079/XssThroughDom.ql
  javascript/ql/test/query-tests/Security/CWE-079/ExceptionXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom.expected
Labels: JS

#3758 Python: Changing signature in overriden method is not an error
  python/ql/src/Functions/IncorrectlySpecifiedOverriddenMethod.ql
Labels: Python

#3775 Data flow: Enable syntax highlighting in QLDoc snippets
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
Labels: C#, C++, Java

#3776 C++: QLDoc ObjectiveC.qll, BufferWrite.qll, FileWrite.qll, OutputWrite.qll
  cpp/ql/src/semmle/code/cpp/ObjectiveC.qll
  cpp/ql/src/semmle/code/cpp/security/BufferWrite.qll
  cpp/ql/src/semmle/code/cpp/security/FileWrite.qll
  cpp/ql/src/semmle/code/cpp/security/OutputWrite.qll
Labels: C++

#3766 C++: Add QLDocs for Initializer.qll-Macro.qll and model classes
  cpp/ql/src/semmle/code/cpp/Initializer.qll
  cpp/ql/src/semmle/code/cpp/Iteration.qll
  cpp/ql/src/semmle/code/cpp/Linkage.qll
  cpp/ql/src/semmle/code/cpp/Location.qll
  cpp/ql/src/semmle/code/cpp/Macro.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/DataFlow.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FunctionInputsAndOutputs.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Taint.qll
Labels: C++

#3767 JS: support member calls of `console`
  javascript/ql/src/semmle/javascript/frameworks/Logging.qll
  javascript/ql/test/library-tests/frameworks/Logging/LoggerCall.expected
  javascript/ql/test/library-tests/frameworks/Logging/tst.js
Labels: JS

#3762 Data flow: Model field clearing
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/I.cs
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/fields/F.java
  java/ql/test/library-tests/dataflow/fields/flow.expected
Labels: C#, C++, Java

#3773 JS: don't report insecure randomness when the insecure random is just a fallback
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-327/BadRandomness.ql
  javascript/ql/src/semmle/javascript/security/dataflow/InsecureRandomnessCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-338/tst.js
Labels: JS

#3779 JS: Add more metric queries
  javascript/ql/src/meta/MetaMetrics.qll
  javascript/ql/src/meta/analysis-quality/CallGraphQuality.qll
  javascript/ql/src/meta/analysis-quality/ResolvableImports.ql
  javascript/ql/src/meta/analysis-quality/RouteHandlers.ql
  javascript/ql/src/meta/analysis-quality/SanitizersReachableFromSource.ql
  javascript/ql/src/meta/analysis-quality/SinksReachableFromSanitizer.ql
  javascript/ql/src/meta/analysis-quality/TaintMetrics.qll
  javascript/ql/src/meta/analysis-quality/TaintSinks.ql
  javascript/ql/src/meta/analysis-quality/TaintSources.ql
  javascript/ql/src/meta/analysis-quality/TaintSteps.ql
  javascript/ql/src/meta/analysis-quality/TaintedNodes.ql
  javascript/ql/src/meta/types/TypedExprs.ql
Labels: JS

#3595 Java: Add check for J2EE server directory listing
  java/ql/src/experimental/Security/CWE/CWE-548/InsecureDirectoryConfig.qhelp
  java/ql/src/experimental/Security/CWE/CWE-548/InsecureDirectoryConfig.ql
  java/ql/src/experimental/Security/CWE/CWE-548/web.xml
  java/ql/test/experimental/query-tests/security/CWE-548/InsecureDirectoryConfig.expected
  java/ql/test/experimental/query-tests/security/CWE-548/InsecureDirectoryConfig.qlref
  java/ql/test/experimental/query-tests/security/CWE-548/insecure-web.xml
Labels: Java

#3777 C#/C++: Use CODEQL_EXTRACTOR_<LANG>_* in autobuilder
  csharp/autobuilder/Semmle.Autobuild.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild/AutobuildOptions.cs
  csharp/autobuilder/Semmle.Autobuild/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild/Language.cs
Labels: C#

#3727 C++: Raise cpp/tainted-format-string* precisions to high
  change-notes/1.25/analysis-cpp.md
  cpp/ql/src/Security/CWE/CWE-134/UncontrolledFormatString.ql
  cpp/ql/src/Security/CWE/CWE-134/UncontrolledFormatStringThroughGlobalVar.ql
Labels: C++

#3793 C++: move IR range analysis to experimental
  cpp/ql/src/experimental/semmle/code/cpp/rangeanalysis/ArrayLengthAnalysis.qll
  cpp/ql/src/experimental/semmle/code/cpp/rangeanalysis/Bound.qll
  cpp/ql/src/experimental/semmle/code/cpp/rangeanalysis/InBoundsPointerDeref.qll
  cpp/ql/src/experimental/semmle/code/cpp/rangeanalysis/RangeAnalysis.qll
  cpp/ql/src/experimental/semmle/code/cpp/rangeanalysis/RangeUtils.qll
  cpp/ql/src/experimental/semmle/code/cpp/rangeanalysis/SignAnalysis.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.ql
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/test.cpp
  cpp/ql/test/experimental/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/signanalysis/SignAnalysis.ql
  cpp/ql/test/experimental/library-tests/rangeanalysis/signanalysis/binary_logical_operator.c
  cpp/ql/test/experimental/library-tests/rangeanalysis/signanalysis/bounded_bounds.c
  cpp/ql/test/experimental/library-tests/rangeanalysis/signanalysis/inline_assembly.c
  cpp/ql/test/experimental/library-tests/rangeanalysis/signanalysis/minmax.c
  cpp/ql/test/experimental/library-tests/rangeanalysis/signanalysis/test.c
  cpp/ql/test/experimental/library-tests/rangeanalysis/signanalysis/test.cpp
Labels: C++

#3522 Python : Add Xpath injection query
  python/ql/src/experimental/CWE-643/xpath.qhelp
  python/ql/src/experimental/CWE-643/xpath.ql
  python/ql/src/experimental/CWE-643/xpathBad.py
  python/ql/src/experimental/CWE-643/xpathGood.py
  python/ql/src/experimental/semmle/python/security/injection/Xpath.qll
  python/ql/test/experimental/CWE-643/options
  python/ql/test/experimental/CWE-643/xpath.expected
  python/ql/test/experimental/CWE-643/xpath.py
  python/ql/test/experimental/CWE-643/xpath.qlref
  python/ql/test/experimental/CWE-643/xpathBad.py
  python/ql/test/experimental/CWE-643/xpathFlow.py
  python/ql/test/experimental/CWE-643/xpathGood.py
  python/ql/test/experimental/CWE-643/xpathSinks.expected
  python/ql/test/experimental/CWE-643/xpathSinks.ql
  python/ql/test/query-tests/Security/lib/libxml2/__init__.py
  python/ql/test/query-tests/Security/lib/lxml/__init__.py
  python/ql/test/query-tests/Security/lib/lxml/etree/__init__.py
Labels: Python

#3500 Python: Regexp: Handle repetions {n} (with no ,)
  python/ql/src/semmle/python/regex.qll
  python/ql/test/library-tests/regex/Characters.expected
  python/ql/test/library-tests/regex/FirstLast.expected
  python/ql/test/library-tests/regex/Qualified.expected
  python/ql/test/library-tests/regex/Regex.expected
  python/ql/test/query-tests/Expressions/Regex/DuplicateCharacterInSet.expected
  python/ql/test/query-tests/Expressions/Regex/UnmatchableCaret.expected
  python/ql/test/query-tests/Expressions/Regex/UnmatchableDollar.expected
  python/ql/test/query-tests/Expressions/Regex/test.py
Labels: Python, false-positive

#3774 C#: Enable syntax highlighting in QLDoc snippets
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Initializer.cs
  csharp/ql/src/Security Features/CWE-451/MissingXFrameOptions.ql
  csharp/ql/src/Stubs/Stubs.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/desugar/Foreach.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/desugar/Lock.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/AliasAnalysisImports.qll
  csharp/ql/src/experimental/ir/internal/IRGuards.qll
  csharp/ql/src/experimental/ir/rangeanalysis/RangeAnalysis.qll
  csharp/ql/src/semmle/code/asp/AspNet.qll
  csharp/ql/src/semmle/code/cil/BasicBlock.qll
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/Attribute.qll
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/src/semmle/code/csharp/Comments.qll
  csharp/ql/src/semmle/code/csharp/Conversion.qll
  csharp/ql/src/semmle/code/csharp/Event.qll
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/src/semmle/code/csharp/Generics.qll
  csharp/ql/src/semmle/code/csharp/Implements.qll
  csharp/ql/src/semmle/code/csharp/Member.qll
  csharp/ql/src/semmle/code/csharp/Namespace.qll
  csharp/ql/src/semmle/code/csharp/Property.qll
  csharp/ql/src/semmle/code/csharp/Stmt.qll
  csharp/ql/src/semmle/code/csharp/Type.qll
  csharp/ql/src/semmle/code/csharp/Using.qll
  csharp/ql/src/semmle/code/csharp/Variable.qll
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/src/semmle/code/csharp/commons/ComparisonTest.qll
  csharp/ql/src/semmle/code/csharp/commons/Constants.qll
  csharp/ql/src/semmle/code/csharp/commons/Strings.qll
  csharp/ql/src/semmle/code/csharp/commons/TargetFramework.qll
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/SuccessorType.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/flowsources/PublicCallableParameter.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/ControlFlowReachability.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DelegateDataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/Steps.qll
  csharp/ql/src/semmle/code/csharp/dispatch/OverridableCallable.qll
  csharp/ql/src/semmle/code/csharp/exprs/Access.qll
  csharp/ql/src/semmle/code/csharp/exprs/Assignment.qll
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
  csharp/ql/src/semmle/code/csharp/exprs/Creation.qll
  csharp/ql/src/semmle/code/csharp/exprs/Dynamic.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/src/semmle/code/csharp/exprs/LogicalOperation.qll
  csharp/ql/src/semmle/code/csharp/frameworks/System.qll
  csharp/ql/src/semmle/code/dotnet/Element.qll
Labels: C#

#3783 C++: More QLDoc
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/Member.qll
  cpp/ql/src/semmle/code/cpp/NameQualifiers.qll
  cpp/ql/src/semmle/code/cpp/Namespace.qll
  cpp/ql/src/semmle/code/cpp/NestedFields.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/stmts/Block.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
Labels: C++

#3802 C++: 'modelling' -> 'modeling'.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Deallocation.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Allocation.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Deallocation.qll
  cpp/ql/src/semmle/code/cpp/security/FileWrite.qll
  cpp/ql/src/semmle/code/cpp/security/OutputWrite.qll
Labels: C++

#3781 JS: deprecate member lookup on static types
  change-notes/1.25/analysis-javascript.md
  javascript/extractor/lib/typescript/src/type_table.ts
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/test/library-tests/TypeScript/ArrayTypes/ArrayTypes.expected
  javascript/ql/test/library-tests/TypeScript/ArrayTypes/NumberIndexTypes.expected
  javascript/ql/test/library-tests/TypeScript/ArrayTypes/TupleTypes.expected
  javascript/ql/test/library-tests/TypeScript/BaseTypes/BaseTypes.expected
  javascript/ql/test/library-tests/TypeScript/BaseTypes/SelfTypes.expected
  javascript/ql/test/library-tests/TypeScript/CallSignatureTypes/test.expected
  javascript/ql/test/library-tests/TypeScript/ExpansiveTypes/ExpansiveTypes.expected
  javascript/ql/test/library-tests/TypeScript/ExpansiveTypes/ExpansiveTypes.ql
  javascript/ql/test/library-tests/TypeScript/ExpansiveTypes/NonExpansiveTypes.expected
  javascript/ql/test/library-tests/TypeScript/ExpansiveTypes/NonExpansiveTypes.ql
  javascript/ql/test/library-tests/TypeScript/ExpansiveTypes/Types.expected
  javascript/ql/test/library-tests/TypeScript/ExpansiveTypes/Types.ql
  javascript/ql/test/library-tests/TypeScript/ExternalTypes/GlobalQualifiedNames.expected
  javascript/ql/test/library-tests/TypeScript/ExternalTypes/Types.expected
  javascript/ql/test/library-tests/TypeScript/LexicalTypes/TypeReferences.expected
  javascript/ql/test/library-tests/TypeScript/QualifiedNameResolution/Namespaces.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/EmptyName/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/SemicolonInName/test.expected
  javascript/ql/test/library-tests/TypeScript/TypeVariableTypes/LexicalTypeVariables.expected
  javascript/ql/test/library-tests/TypeScript/TypeVariableTypes/SignatureTypeParameters.expected
Labels: JS

#3627 JS: Ignore returned exprs in defensive programming query
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Expressions/UnneededDefensiveProgramming.ql
  javascript/ql/src/semmle/javascript/DefensiveProgramming.qll
  javascript/ql/test/query-tests/Expressions/UnneededDefensiveProgramming/UnneededDefensiveProgramming.expected
  javascript/ql/test/query-tests/Expressions/UnneededDefensiveProgramming/regression.js
  javascript/ql/test/query-tests/Expressions/UnneededDefensiveProgramming/tst2.js
Labels: Awaiting evaluation, JS

#3797 C#: More data-flow collection tests
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.cs
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.expected
Labels: C#

#3599 JS: Recognize calls to .item and .namedItem
  javascript/ql/src/semmle/javascript/DOM.qll
  javascript/ql/test/library-tests/DOM/Customizations.expected
  javascript/ql/test/library-tests/DOM/nameditems.js
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
Labels: JS

#3807 C++: Even more QLDoc
  cpp/ql/src/semmle/code/cpp/Parameter.qll
  cpp/ql/src/semmle/code/cpp/Specifier.qll
  cpp/ql/src/semmle/code/cpp/Struct.qll
  cpp/ql/src/semmle/code/cpp/TypedefType.qll
  cpp/ql/src/semmle/code/cpp/Union.qll
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/commons/File.qll
  cpp/ql/src/semmle/code/cpp/security/SecurityOptions.qll
Labels: C++

#3800 JS: model npmlog (and recognize the "verbose" log level)
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/Logging.qll
  javascript/ql/test/library-tests/frameworks/Logging/LoggerCall.expected
  javascript/ql/test/library-tests/frameworks/Logging/tst.js
Labels: JS

#3782 JS: Refactor Promises.qll to use PreCallGraphStep
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/StepSummary.qll
  javascript/ql/test/library-tests/Promises/tests.expected
Labels: JS

#3798 C#: Move async data-flow tests from local to global
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/GlobalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/local/Common.qll
  csharp/ql/test/library-tests/dataflow/local/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/LocalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/local/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
Labels: C#

#3813 C++: Improve join order for AliasAnalysis::isArgumentForParameter
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
Labels: C++

#3801 Python: Add support for detecting XSLT Injection (#3521 revived)
  python/ql/src/experimental/CWE-091/Xslt.qhelp
  python/ql/src/experimental/CWE-091/Xslt.ql
  python/ql/src/experimental/CWE-091/xslt.py
  python/ql/src/experimental/semmle/python/security/injection/XSLT.qll
  python/ql/test/experimental/CWE-091/Xslt.expected
  python/ql/test/experimental/CWE-091/Xslt.qlref
  python/ql/test/experimental/CWE-091/XsltSinks.expected
  python/ql/test/experimental/CWE-091/XsltSinks.ql
  python/ql/test/experimental/CWE-091/options
  python/ql/test/experimental/CWE-091/xslt.py
  python/ql/test/experimental/CWE-091/xsltInjection.py
  python/ql/test/experimental/CWE-091/xsltSinks.py
  python/ql/test/query-tests/Security/lib/lxml/etree.py
Labels: Python

#3770 Python: Add a bunch of documentation.
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Expressions/Formatting/AdvancedFormatting.qll
  python/ql/src/Expressions/IsComparisons.qll
  python/ql/src/Expressions/RedundantComparison.qll
  python/ql/src/Lexical/CommentedOutCode.qll
  python/ql/src/Metrics/Internal/Extents.qll
  python/ql/src/Resources/FileOpen.qll
  python/ql/src/analysis/DefinitionTracking.qll
  python/ql/src/external/DefectFilter.qll
  python/ql/src/external/ExternalArtifact.qll
  python/ql/src/external/Thrift.qll
  python/ql/src/semmle/python/Class.qll
  python/ql/src/semmle/python/Comment.qll
  python/ql/src/semmle/python/Comparisons.qll
  python/ql/src/semmle/python/Files.qll
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/dataflow/TaintTracking.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/objects/TObject.qll
  python/ql/src/semmle/python/types/Object.qll
Labels: Python, documentation

#3796 C++: QLDoc for all of `Instruction.qll`
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C++, documentation

#3731 JS: Monorepo support: bugfixes and separate from dependency installation
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/virtual_source_root.ts
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/DependencyInstallationResult.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
  javascript/extractor/src/com/semmle/js/parser/ParsedProject.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Labels: JS

#3613 JS: Don't treat a property of a tainted object as tainted when there exists a dominating write
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/library-tests/GlobalAccessPaths/GlobalAccessPaths.expected
  javascript/ql/test/library-tests/GlobalAccessPaths/GlobalAccessPaths.ql
  javascript/ql/test/library-tests/GlobalAccessPaths/test.js
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/tainted-access-paths.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
Labels: JS

#3815 C++: getCanonicalQLClass -> getAPrimaryQlClass
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/src/semmle/code/cpp/Element.qll
  cpp/ql/src/semmle/code/cpp/Enum.qll
  cpp/ql/src/semmle/code/cpp/Field.qll
  cpp/ql/src/semmle/code/cpp/File.qll
  cpp/ql/src/semmle/code/cpp/FriendDecl.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/Initializer.qll
  cpp/ql/src/semmle/code/cpp/Macro.qll
  cpp/ql/src/semmle/code/cpp/MemberFunction.qll
  cpp/ql/src/semmle/code/cpp/Namespace.qll
  cpp/ql/src/semmle/code/cpp/Parameter.qll
  cpp/ql/src/semmle/code/cpp/Preprocessor.qll
  cpp/ql/src/semmle/code/cpp/PrintAST.qll
  cpp/ql/src/semmle/code/cpp/Specifier.qll
  cpp/ql/src/semmle/code/cpp/Struct.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/TypedefType.qll
  cpp/ql/src/semmle/code/cpp/Union.qll
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/exprs/Access.qll
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
  cpp/ql/src/semmle/code/cpp/exprs/BitwiseOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/Cast.qll
  cpp/ql/src/semmle/code/cpp/exprs/ComparisonOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/exprs/Lambda.qll
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/src/semmle/code/cpp/stmts/Block.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
  cpp/ql/test/library-tests/complex_numbers/expr.ql
  cpp/ql/test/library-tests/using-aliases/using-alias.ql
Labels: C++

#3806 JS: Detect insecure downloads that are saved to sensitive files.
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/security/dataflow/InsecureDownload.qll
  javascript/ql/src/semmle/javascript/security/dataflow/InsecureDownloadCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-829/InsecureDownload.expected
  javascript/ql/test/query-tests/Security/CWE-829/insecure-download.js
Labels: JS

#3823 JS: model fancy-log (and recognize the 'dir' log level)
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/Logging.qll
  javascript/ql/test/library-tests/frameworks/Logging/LoggerCall.expected
  javascript/ql/test/library-tests/frameworks/Logging/tst.js
Labels: JS

#3550 Java: CWE-273 Unsafe certificate trust
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.java
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.qhelp
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.ql
  java/ql/test/experimental/query-tests/security/CWE-273/UnsafeCertTrust.expected
  java/ql/test/experimental/query-tests/security/CWE-273/UnsafeCertTrust.qlref
  java/ql/test/experimental/query-tests/security/CWE-273/UnsafeCertTrustTest.java
Labels: Java

#3436 Java: Added a query for disabled certificate revocation checking
  java/ql/src/experimental/Security/CWE/CWE-299/CustomRevocationChecking.java
  java/ql/src/experimental/Security/CWE/CWE-299/DefaultRevocationChecking.java
  java/ql/src/experimental/Security/CWE/CWE-299/DisabledRevocationChecking.qhelp
  java/ql/src/experimental/Security/CWE/CWE-299/DisabledRevocationChecking.ql
  java/ql/src/experimental/Security/CWE/CWE-299/NoRevocationChecking.java
  java/ql/src/experimental/Security/CWE/CWE-299/RevocationCheckingLib.qll
  java/ql/test/experimental/Security/CWE/CWE-299/DisabledRevocationChecking.expected
  java/ql/test/experimental/Security/CWE/CWE-299/DisabledRevocationChecking.java
  java/ql/test/experimental/Security/CWE/CWE-299/DisabledRevocationChecking.qlref
Labels: Java

#3804 Dataflow: Refactor dispatch with call context.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java

#3831 C++: Remove abstractness from DeclarationEntry, AccessHolder and Call
  cpp/ql/src/semmle/code/cpp/Declaration.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
Labels: C++

#3808 C++: Yet more QLDoc
  cpp/ql/src/semmle/code/cpp/TestFile.qll
  cpp/ql/src/semmle/code/cpp/commons/StringAnalysis.qll
  cpp/ql/src/semmle/code/cpp/exprs/Access.qll
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/BitwiseOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/Cast.qll
  cpp/ql/src/semmle/code/cpp/exprs/ComparisonOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/exprs/Lambda.qll
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/ObjectiveC.qll
  cpp/ql/src/semmle/code/cpp/security/PrintfLike.qll
Labels: C++

#3803 JS: support additional promisification of the fs-module members
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/other-fs-libraries.js
Labels: JS

#3834 JS: Fix classification of .vue files
  javascript/ql/src/filters/ClassifyFiles.qll
  javascript/ql/src/semmle/javascript/GeneratedCode.qll
  javascript/ql/test/query-tests/filters/ClassifyFiles/MyComponent.vue
Labels: JS

#3833 JS: Support @Component classes in Vue
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/frameworks/Vue.qll
  javascript/ql/test/library-tests/frameworks/Vue/Instance.expected
  javascript/ql/test/library-tests/frameworks/Vue/Instance_getAPropertyValue.expected
  javascript/ql/test/library-tests/frameworks/Vue/Instance_getOption.expected
  javascript/ql/test/library-tests/frameworks/Vue/TemplateElement.expected
  javascript/ql/test/library-tests/frameworks/Vue/VHtmlSourceWrite.expected
  javascript/ql/test/library-tests/frameworks/Vue/XssSink.expected
  javascript/ql/test/library-tests/frameworks/Vue/single-file-component-4.vue
  javascript/ql/test/library-tests/frameworks/Vue/single-file-component-5.vue
Labels: JS

#3824 JS: Add steps into static regexp capture group references
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/static-capture-groups.js
Labels: JS

#3843 C++: Bit more QLDoc
  cpp/ql/src/semmle/code/cpp/commons/Synchronization.qll
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/security/FunctionWithWrappers.qll
  cpp/ql/src/semmle/code/cpp/security/Overflow.qll
  cpp/ql/src/semmle/code/cpp/security/SensitiveExprs.qll
Labels: C++

#3849 JS: Add Vue to list of supported frameworks
  docs/language/support/reusables/frameworks.rst
Labels: JS, documentation

#3822 Python: Document internal AST classes.
  python/ql/src/Lexical/CommentedOutCode.qll
  python/ql/src/analysis/DefinitionTracking.qll
  python/ql/src/external/ExternalArtifact.qll
  python/ql/src/external/VCS.qll
  python/ql/src/semmle/python/AstGenerated.qll
  python/ql/src/semmle/python/Comment.qll
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/Files.qll
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/SSA.qll
  python/ql/src/semmle/python/Stmts.qll
  python/ql/src/semmle/python/Variables.qll
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/dataflow/TaintTracking.qll
  python/ql/src/semmle/python/essa/Definitions.qll
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/objects/ObjectInternal.qll
  python/ql/src/semmle/python/objects/TObject.qll
  python/ql/src/semmle/python/pointsto/Base.qll
  python/ql/src/semmle/python/pointsto/CallGraph.qll
  python/ql/src/semmle/python/pointsto/MRO.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/src/semmle/python/pointsto/PointsToContext.qll
  python/ql/src/semmle/python/types/Builtins.qll
  python/ql/src/semmle/python/types/Object.qll
  python/ql/src/semmle/python/web/Http.qll
Labels: Python

#3819 C++: More IR QLDoc (including `Opcode.qll`)
  config/opcode-qldoc.py
  cpp/ql/src/semmle/code/cpp/ir/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/IRConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/EdgeKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/IRConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/IRType.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/MemoryAccessKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/TempVariableTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/src/experimental/ir/implementation/EdgeKind.qll
  csharp/ql/src/experimental/ir/implementation/IRConfiguration.qll
  csharp/ql/src/experimental/ir/implementation/IRType.qll
  csharp/ql/src/experimental/ir/implementation/MemoryAccessKind.qll
  csharp/ql/src/experimental/ir/implementation/Opcode.qll
  csharp/ql/src/experimental/ir/implementation/TempVariableTag.qll
  csharp/ql/src/experimental/ir/implementation/raw/IR.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRFunction.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRVariable.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/Operand.qll
  csharp/ql/src/experimental/ir/implementation/raw/PrintIR.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IR.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRFunction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRVariable.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/PrintIR.qll
Labels: C++

#3852 1.24 -> master mergeback
  docs/language/support/reusables/frameworks.rst
Labels: Mergeback

#3847 C++: make MemberFunction::getTypeOfThis() return PointerType
  cpp/ql/src/semmle/code/cpp/MemberFunction.qll
Labels: C++

#3837 C++/Java: Update QLDoc and terminology in Encryption.qll
  cpp/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.ql
  cpp/ql/src/semmle/code/cpp/security/Encryption.qll
  java/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.ql
  java/ql/src/Security/CWE/CWE-327/MaybeBrokenCryptoAlgorithm.ql
  java/ql/src/semmle/code/java/security/Encryption.qll
  java/ql/test/library-tests/Encryption/insecure.expected
  java/ql/test/library-tests/Encryption/insecure.ql
  java/ql/test/library-tests/Encryption/secure.expected
  java/ql/test/library-tests/Encryption/secure.ql
Labels: C++, Java

#3856 C++: Make getSecureAlgorithmRegex() work as expected.
  cpp/ql/src/semmle/code/cpp/security/Encryption.qll
  cpp/ql/test/library-tests/security/encryption/test.cpp
  cpp/ql/test/library-tests/security/encryption/test.expected
  cpp/ql/test/library-tests/security/encryption/test.ql
Labels: C++
