Repository github/codeql, pull requests merged in 2020-01, with the labels that each got.

#2575 QL HB: Add bindingset example
  docs/language/ql-handbook/predicates.rst
Labels: documentation

#2578 QL spec: fix bullet list in 'Aggregations' section
  docs/language/ql-spec/language.rst
Labels: documentation

#2556 JS: remove FP from js/regexpinjection where no regexp was constructed
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/test/query-tests/Security/CWE-730/RegExpInjection.js
  javascript/ql/test/query-tests/Security/CWE-730/search.js
Labels: JS

#2576 TS: Blacklist cyclic property fallthroughFlowNode
  javascript/extractor/lib/typescript/src/main.ts
Labels: JS

#2579 TS: Suppress output from compiler tracing
  javascript/extractor/lib/typescript/src/common.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/node_modules/@types/foo/index.d.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/test.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/tsconfig.json
Labels: JS

#2583 CodeQL documentation: reorganize 'Advanced QL' topics
  docs/language/learn-ql/advanced/abstract-classes.rst
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/learn-ql/advanced/equivalence.rst
  docs/language/learn-ql/advanced/folding-predicates.rst
  docs/language/learn-ql/writing-queries/debugging-queries.rst
  docs/language/ql-handbook/types.rst
Labels: documentation

#2581 JS: fix FP related to block-level flow type annotations
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Expressions/ExprHasNoEffect.qll
  javascript/ql/test/query-tests/Expressions/ExprHasNoEffect/options
  javascript/ql/test/query-tests/Expressions/ExprHasNoEffect/tst.js
Labels: JS

#2573 JavaScript: Alert suppression through single-line /* */ style comments.
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/AlertSuppression.ql
  javascript/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  javascript/ql/test/query-tests/AlertSuppression/tst.js
  javascript/ql/test/query-tests/AlertSuppression/tstWindows.js
Labels: JS

#2574 JavaScript: Fix timeouts on bwip-js.
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#2590 TS: Do not pass --verbose to yarn
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Labels: JS

#2582 JS: Fix imports spuriously being resolved to a .js file
  javascript/ql/src/semmle/javascript/Modules.qll
  javascript/ql/src/semmle/javascript/Paths.qll
  javascript/ql/test/library-tests/Modules/importcss.js
  javascript/ql/test/library-tests/Modules/tests.expected
Labels: JS

#2580 TS: Wrap some compiler calls in try/catch
  javascript/extractor/lib/typescript/src/ast_extractor.ts
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/type_table.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/bar.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/node_modules/@blah/foo/index.d.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/tsconfig.json
Labels: JS

#2435 JS: Phi edge barrier guards
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/SSA.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/sanitizer-guards.js
Labels: JS

#2568 C#: Remove FP in useless assignment to _
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/Dead Code/DeadStoreOfLocal.ql
  csharp/ql/test/query-tests/Dead Code/DeadStoreOfLocal/DeadStoreOfLocal.cs
Labels: C#

#2570 C++: Fix overlappingVariableMemoryLocations perf
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Labels: C++

#2563 C#: Handle tuple expressions
  .gitignore
  change-notes/1.24/analysis-csharp.md
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Factory.cs
  csharp/ql/test/library-tests/expressions/Tuples1.expected
  csharp/ql/test/library-tests/expressions/Tuples1.ql
  csharp/ql/test/library-tests/expressions/expressions.cs
Labels: C#

#2591 JavaScript: Teach extractor to tolerate assignment patterns in AST.
  javascript/extractor/src/com/semmle/js/ast/DefaultVisitor.java
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/JSExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/errors/input/invalid-assignment-pattern.js
  javascript/extractor/tests/errors/output/trap/invalid-assignment-pattern.js.trap
Labels: JS

#2598 CPP: Exclude functions containing asm from cpp/missing-return
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/jsf/4.13 Functions/AV Rule 114.ql
  cpp/ql/test/query-tests/jsf/4.13 Functions/AV Rule 114/test.c
Labels: C++

#2605 docs: remove extra comma in dataflow articles
  docs/language/learn-ql/cpp/dataflow.rst
  docs/language/learn-ql/java/dataflow.rst
Labels: documentation

#2609 docs: Fix Python taint tracking links
  docs/language/learn-ql/python/introduce-libraries-python.rst
  docs/language/learn-ql/python/taint-tracking.rst
Labels: Python, documentation

#2593 JS: Add RegExpAlwaysMatches query
  change-notes/1.24/analysis-javascript.md
  javascript/config/suites/javascript/correctness-core
  javascript/ql/src/Performance/ReDoS.ql
  javascript/ql/src/RegExp/RegExpAlwaysMatches.qhelp
  javascript/ql/src/RegExp/RegExpAlwaysMatches.ql
  javascript/ql/src/RegExp/examples/RegExpAlwaysMatches.js
  javascript/ql/src/RegExp/examples/RegExpAlwaysMatchesGood.js
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/test/query-tests/RegExp/RegExpAlwaysMatches/RegExpAlwaysMatches.expected
  javascript/ql/test/query-tests/RegExp/RegExpAlwaysMatches/RegExpAlwaysMatches.qlref
  javascript/ql/test/query-tests/RegExp/RegExpAlwaysMatches/tst.js
Labels: JS

#2525 JS: New query: missing await
  javascript/config/suites/javascript/correctness-core
  javascript/ql/src/Expressions/MissingAwait.qhelp
  javascript/ql/src/Expressions/MissingAwait.ql
  javascript/ql/src/Expressions/examples/MissingAwait.js
  javascript/ql/src/Expressions/examples/MissingAwaitGood.js
  javascript/ql/src/semmle/javascript/SSA.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/query-tests/Expressions/MissingAwait/MissingAwait.expected
  javascript/ql/test/query-tests/Expressions/MissingAwait/MissingAwait.qlref
  javascript/ql/test/query-tests/Expressions/MissingAwait/tst.js
Labels: JS

#2610 docs: fix link in Python topic
  docs/language/learn-ql/python/introduce-libraries-python.rst
Labels: Python, documentation

#2604 CPP: Exclude template classes from cpp/assignment-does-not-return-this
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/jsf/4.10 Classes/AV Rule 82.ql
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 82/AV Rule 82.cpp
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 82/AV Rule 82.expected
Labels: C++

#2611 Merge rc/1.23 into master
  CONTRIBUTING.md
  change-notes/1.23/analysis-java.md
  docs/language/learn-ql/ql-training.rst
  docs/language/ql-training/cpp/intro-ql-cpp.rst
  docs/language/ql-training/template.rst
  docs/ql-style-guide.md
Labels: Mergeback

#2577 Multiplication overflow not possible due to type width
  cpp/ql/src/Likely Bugs/Arithmetic/IntMultToLong.ql
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/IntMultToLong/IntMultToLong.c
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/IntMultToLong/IntMultToLong.expected
Labels: C++

#2601 C++: Consolidate opcode properties onto `Opcode` class
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/OpcodeImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/internal/OpcodeImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
Labels: C#, C++

#2589 JS: sharpen js/duplicate-parameter-name
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Declarations/UniqueParameterNames.ql
  javascript/ql/test/query-tests/Declarations/UniqueParameterNames/tst.js
  javascript/ql/test/query-tests/LanguageFeatures/SyntaxError/SyntaxError.expected
  javascript/ql/test/query-tests/LanguageFeatures/SyntaxError/arrows.js
Labels: JS

#2584 Java: Include non-null final fields in clearlyNotNull.
  change-notes/1.24/analysis-java.md
  java/ql/src/semmle/code/java/dataflow/NullGuards.qll
  java/ql/test/query-tests/Nullness/C.java
  java/ql/test/query-tests/UselessNullCheck/A.java
  java/ql/test/query-tests/UselessNullCheck/UselessNullCheck.expected
Labels: Java

#2599 Assign where compare meant false positives
  cpp/ql/src/Likely Bugs/Likely Typos/AssignWhereCompareMeant.ql
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/AssignWhereCompareMeant/AssignWhereCompareMeant.expected
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/AssignWhereCompareMeant/test.cpp
Labels: C++, false-positive

#2540 Python: modernise variables queries
  python/ql/src/Variables/Definition.qll
  python/ql/src/Variables/Global.ql
  python/ql/src/Variables/GlobalAtModuleLevel.ql
  python/ql/src/Variables/LeakingListComprehension.ql
  python/ql/src/Variables/Loop.qll
  python/ql/src/Variables/LoopVariableCapture.ql
  python/ql/src/Variables/MonkeyPatched.qll
  python/ql/src/Variables/MultiplyDefined.ql
  python/ql/src/Variables/ShadowBuiltin.ql
  python/ql/src/Variables/ShadowGlobal.ql
  python/ql/src/Variables/Shadowing.qll
  python/ql/src/Variables/SuspiciousUnusedLoopIterationVariable.ql
  python/ql/src/Variables/Undefined.qll
  python/ql/src/Variables/UndefinedGlobal.ql
  python/ql/src/Variables/UndefinedPlaceHolder.ql
  python/ql/src/Variables/UninitializedLocal.ql
  python/ql/src/Variables/UnusedModuleVariable.ql
  python/ql/src/Variables/UnusedParameter.ql
  python/ql/src/semmle/python/objects/Modules.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/types/ModuleObject.qll
  python/ql/test/library-tests/overrides/FunctionOverrides.expected
  python/ql/test/library-tests/overrides/FunctionOverrides.ql
  python/ql/test/library-tests/overrides/test.py
  python/ql/test/query-tests/Variables/unused/test.py
Labels: Python

#2616 JS: Add change note for js/missing-await
  change-notes/1.24/analysis-javascript.md
Labels: JS

#2530 CPP: Speed up nullCheckAssert in InconsistentCheckReturnNull.ql.
  cpp/ql/src/Likely Bugs/InconsistentCheckReturnNull.ql
Labels: C++

#2614 CPP: Speed up ArithmeticUncontrolled.ql
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
Labels: C++

#2597 C#: Alert suppression through single-line /* */ style comments
  csharp/ql/src/AlertSuppression.ql
  csharp/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  csharp/ql/test/query-tests/AlertSuppression/AlertSuppressionWindows.cs
Labels: C#

#2624 JS: Ignore strict-mode-call-stack-introspection for expr stmts
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/LanguageFeatures/StrictModeCallStackIntrospection.ql
  javascript/ql/test/query-tests/LanguageFeatures/StrictModeCallStackIntrospection/StrictModeCallStackIntrospection.expected
  javascript/ql/test/query-tests/LanguageFeatures/StrictModeCallStackIntrospection/tst.js
Labels: JS

#2569 C++: IR data flow through total chi operands
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#2498 Java/C++/C#: Add support for taint-getter/setter summaries in data flow.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/taintgettersetter/A.java
  java/ql/test/library-tests/dataflow/taintgettersetter/taintgettersetter.expected
  java/ql/test/library-tests/dataflow/taintgettersetter/taintgettersetter.ql
Labels: C#, C++, Java

#2629 C++/C#: Fix missing virtual variables
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ssa_sanity.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_sanity.expected
Labels: C#, C++

#2585 C#: Improvements to cs/serialization-check-bypass
  csharp/ql/src/Security Features/CWE-020/RuntimeChecksBypass.qhelp
  csharp/ql/src/Security Features/CWE-020/RuntimeChecksBypass.ql
  csharp/ql/src/Security Features/CWE-020/RuntimeChecksBypassBad.cs
  csharp/ql/src/Security Features/CWE-020/RuntimeChecksBypassGood.cs
  csharp/ql/test/query-tests/Security Features/CWE-020/RuntimeChecksBypass.cs
  csharp/ql/test/query-tests/Security Features/CWE-020/RuntimeChecksBypassBad.cs
  csharp/ql/test/query-tests/Security Features/CWE-020/RuntimeChecksBypassGood.cs
  csharp/ql/test/query-tests/Security Features/CWE-020/RuntimeChecksbypass.expected
  csharp/ql/test/query-tests/Security Features/CWE-020/RuntimeChecksbypass.qlref
Labels: C#

#2594 C++: compute overlap on irvars with vvar indexes
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Labels: C++

#2627 JS: Ignore useless expression in the first statement of a try block
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Expressions/ExprHasNoEffect.qll
  javascript/ql/test/query-tests/Expressions/ExprHasNoEffect/ExprHasNoEffect.expected
  javascript/ql/test/query-tests/Expressions/ExprHasNoEffect/try.js
Labels: JS

#2505 JS: Add model for EventEmitter from NodeJS
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/Electron.qll
  javascript/ql/src/semmle/javascript/frameworks/EventEmitter.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/SocketIO.qll
  javascript/ql/test/library-tests/frameworks/Electron/BrowserObject.expected
  javascript/ql/test/library-tests/frameworks/Electron/IpcFlow.expected
  javascript/ql/test/library-tests/frameworks/Electron/WebContents.expected
  javascript/ql/test/library-tests/frameworks/Electron/electron.js
  javascript/ql/test/library-tests/frameworks/EventEmitter/test.expected
  javascript/ql/test/library-tests/frameworks/EventEmitter/test.ql
  javascript/ql/test/library-tests/frameworks/EventEmitter/tst.js
Labels: JS

#2617 JS: Add 'prototype pollution in utility function' query
  change-notes/1.24/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.qhelp
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/Security/CWE-400/examples/PrototypePollutionUtility.js
  javascript/ql/src/Security/CWE-400/examples/PrototypePollutionUtility_fixed.js
  javascript/ql/src/Security/CWE-400/examples/PrototypePollutionUtility_fixed2.js
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.qlref
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
  javascript/ql/test/query-tests/Security/CWE-400/examples/PrototypePollutionUtility.js
  javascript/ql/test/query-tests/Security/CWE-400/examples/PrototypePollutionUtility_fixed.js
  javascript/ql/test/query-tests/Security/CWE-400/examples/PrototypePollutionUtility_fixed2.js
Labels: JS

#2637 C#: Fix bad magic optimization in `NonAssignedFields.ql`
  csharp/ql/src/Dead Code/NonAssignedFields.ql
Labels: C#

#2634 C++: Overrideable taint sources in DefaultTaintTracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#2613 C++: performance fixes for getPhiOperandDefinition
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C++

#2635 CPP: Model strdup
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strdup.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#2646 CPP: Fix a mistake in Inet.qll.
  cpp/ql/src/semmle/code/cpp/models/implementations/Inet.qll
Labels: C++

#2648 C++: Performance fix for getMemoryOperandDefinition
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C++

#2638 C++ IR: Support for global virtual dispatch
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dispatch.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
Labels: C++

#2642 C++: Indirection for security.TaintTracking impl
  cpp/ql/src/semmle/code/cpp/security/TaintTracking.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTrackingImpl.qll
Labels: C++

#2647 CPP: Improve strlen model
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/commons/NullTermination.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/test/library-tests/nulltermination/mayAddNullTerminator.expected
  cpp/ql/test/library-tests/nulltermination/test.c
  cpp/ql/test/library-tests/nulltermination/variableMustBeNullTerminated.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/NoSpaceForZeroTerminator.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test.cpp
Labels: C++

#2655 C++: Fix typo in MallocSizeExpr
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound.qll
Labels: C++

#2656 C++: Add DataFlow::Node.asDefiningArgument in IR
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#2661 Java/C++/C#: Remove DataFlowLocation as it's no longer needed.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, Java

#2636 JS: implement SocketIO on top of the EventEmitter model
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/EventEmitter.qll
  javascript/ql/src/semmle/javascript/frameworks/SocketIO.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/ClientReceiveNode.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/ClientReceiveNode_getASender.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/ClientReceiveNode_getAck.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/ClientReceiveNode_getEventName.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/ClientSendNode.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/ClientSendNode_getAck.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/ClientSendNode_getEventName.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/ReceiveNode_getASender.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/ReceiveNode_getEventName.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/SendNode_getAck.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/ServerObject.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/tests.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/tst.js
Labels: JS

#2654 C#: Improvements to cs/dereferenced-value-may-be-null
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#2670 Java: Remove the deprecated ParityAnalysis.
  java/ql/src/semmle/code/java/dataflow/ParityAnalysis.qll
Labels: Java

#2640 Java: Document two FPs with unit tests.
  java/ql/test/query-tests/Nullness/C.java
  java/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: Java

#2622 C++: Add 'implicit function declaration' query
  change-notes/1.24/analysis-cpp.md
  cpp/config/suites/c/correctness
  cpp/config/suites/cpp/correctness
  cpp/ql/src/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.c
  cpp/ql/src/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.qhelp
  cpp/ql/src/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.qll
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooFewArguments.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooFewArguments.qll
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooManyArguments.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooManyArguments.qll
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.expected
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.qlref
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/test.c
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/test2.c
Labels: C++

#2665 C#: ZipSlip query reports alert at source
  csharp/ql/src/Security Features/CWE-022/ZipSlip.ql
  csharp/ql/test/query-tests/Security Features/CWE-022/ZipSlip/ZipSlip.expected
Labels: C#

#2674 Python: Modernise remaining web libraries.
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/web/Http.qll
  python/ql/src/semmle/python/web/cherrypy/General.qll
Labels: Python

#2672 CPP: Support taint flow in and out of qualifiers
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/TaintTestCommon.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#2644 Python: Add deprecated keyword to deprecated functions
  python/ql/src/Security/CWE-327/BrokenCryptoAlgorithm.ql
  python/ql/src/Security/CWE-798/HardcodedCredentials.ql
  python/ql/src/Statements/ModificationOfLocals.ql
  python/ql/src/Statements/RedundantAssignment.ql
  python/ql/src/Variables/UndefinedExport.ql
  python/ql/src/analysis/Sanity.ql
  python/ql/src/external/DuplicateBlock.ql
  python/ql/src/semmle/python/Files.qll
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/dataflow/Configuration.qll
  python/ql/src/semmle/python/dataflow/TaintTracking.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/src/semmle/python/types/FunctionObject.qll
  python/ql/test/2/library-tests/PointsTo/import_time/Pruned.ql
  python/ql/test/2/library-tests/PointsTo/origin_uniqueness/Origin.ql
  python/ql/test/3/library-tests/PointsTo/import_time/Pruned.ql
  python/ql/test/library-tests/DuplicateCode/Duplicate.ql
  python/ql/test/library-tests/DuplicateCode/Similar.ql
  python/ql/test/library-tests/PointsTo/lookup/Lookup.ql
  python/ql/test/library-tests/encoding/CheckEncoding.ql
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.ql
  python/ql/test/library-tests/taint/strings/TestNode.ql
  python/ql/test/library-tests/taint/strings/TestStep.ql
  python/ql/test/library-tests/web/falcon/Taint.ql
  python/ql/test/library-tests/web/flask/Taint.ql
  python/ql/test/library-tests/web/pyramid/Sinks.ql
  python/ql/test/library-tests/web/pyramid/Taint.ql
  python/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.expected
  python/ql/test/query-tests/Security/CWE-327/TestNode.ql
  python/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
Labels: Python

#2662 Python: Only clear taint on constant comparison in if
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/test/library-tests/taint/general/TestDefn.expected
  python/ql/test/library-tests/taint/general/TestSink.expected
  python/ql/test/library-tests/taint/general/TestSource.expected
  python/ql/test/library-tests/taint/general/TestStep.expected
  python/ql/test/library-tests/taint/general/TestVar.expected
  python/ql/test/library-tests/taint/general/test.py
Labels: Python

#2664 Python: Remove unused variable in example for py/url-redirection
  python/ql/src/Security/CWE-601/examples/redirect_bad.py
  python/ql/src/Security/CWE-601/examples/redirect_good.py
  python/ql/test/query-tests/Security/CWE-601/UrlRedirect.expected
  python/ql/test/query-tests/Security/CWE-601/test.py
Labels: Python

#2669 Python: modernise Resources/ queries
  python/ql/src/Resources/FileNotAlwaysClosed.ql
  python/ql/src/Resources/FileOpen.qll
Labels: Python

#2678 C++: IR virtual dispatch through union field access
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dispatch.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
Labels: C++

#2628 Java: Replace ad-hoc TestClass detection.
  change-notes/1.24/analysis-java.md
  java/ql/src/semmle/code/java/UnitTests.qll
Labels: Java

#2679 Java/C++/C#: Remove the deprecated hasFlowForward/hasFlowBackward.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Labels: C#, C++, Java

#2682 C#: Fix outputting floats to the trap file
  csharp/extractor/Semmle.Extraction/TrapExtensions.cs
Labels: C#

#2684 CPP: Test cleanup
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/StackVariableReachabilityWithReassignment.expected
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/StackVariableReachabilityWithReassignment.ql
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/stackVariableReachability.c
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/stackVariableReachability.expected
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/stackVariableReachability.ql
  cpp/ql/test/library-tests/deprecated/stackVariableReachability.c
  cpp/ql/test/library-tests/deprecated/stackVariableReachability.expected
  cpp/ql/test/library-tests/deprecated/stackVariableReachability.ql
  cpp/ql/test/library-tests/functions/unused/unused_functions.expected
  cpp/ql/test/library-tests/functions/unused/unused_functions.qlref
  cpp/ql/test/library-tests/functions/unused_mut/unused_mut.expected
  cpp/ql/test/library-tests/functions/unused_mut/unused_mut.qlref
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedStaticFunctions/UnusedStaticFunctions.expected
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedStaticFunctions/unused_functions.c
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedStaticFunctions/unused_mut.c
  cpp/ql/test/query-tests/Critical/OverflowStatic/OverflowStatic.expected
  cpp/ql/test/query-tests/Critical/OverflowStatic/test2.c
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/StrncpyFlippedArgs/StrncpyFlippedArgs.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/StrncpyFlippedArgs/test.c
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/SuspiciousCallToStrncat/SuspiciousCallToStrncat.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/SuspiciousCallToStrncat/SuspiciousCallToStrncat.qlref
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/SuspiciousCallToStrncat/test.c
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UnsafeUseOfStrcat/strcat.c
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UnsafeUseOfStrcat/strcat.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UnsafeUseOfStrcat/strcat.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/OverflowStatic/OverflowStatic.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/OverflowStatic/OverflowStatic.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/StrncpyFlippedArgs/StrncpyFlippedArgs.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/StrncpyFlippedArgs/StrncpyFlippedArgs.qlref
Labels: C++

#2639 Python: Improve tests for tainted collections
  python/ql/test/library-tests/taint/collections/Taint.qll
  python/ql/test/library-tests/taint/collections/TestStep.expected
  python/ql/test/library-tests/taint/collections/TestStep.ql
  python/ql/test/library-tests/taint/collections/TestTaint.expected
  python/ql/test/library-tests/taint/collections/TestTaint.ql
  python/ql/test/library-tests/taint/collections/test.py
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.expected
  python/ql/test/library-tests/taint/strings/TestNode.expected
  python/ql/test/library-tests/taint/strings/TestStep.expected
  python/ql/test/library-tests/taint/strings/test.py
Labels: Python

#2690 JS: reuse existing type-tracking for classes
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
Labels: JS

#2688 C++: Add the security taint test (previously internal).
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.ql
  cpp/ql/test/library-tests/dataflow/security-taint/test.cpp
Labels: C++

#2687 C++: Use asExpr, not getConvertedResultExpression
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#2675 JS: add model for WebSocket and ws
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/WebSocket.qll
  javascript/ql/test/library-tests/frameworks/WebSocket/browser.js
  javascript/ql/test/library-tests/frameworks/WebSocket/client.js
  javascript/ql/test/library-tests/frameworks/WebSocket/server.js
  javascript/ql/test/library-tests/frameworks/WebSocket/test.expected
  javascript/ql/test/library-tests/frameworks/WebSocket/test.ql
Labels: JS

#2689 JS: use the EventEmitter registration methods instead of just "on"
  javascript/ql/src/semmle/javascript/frameworks/Files.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ZipSlipCustomizations.qll
Labels: JS

#2602 Java: Add a query for suspicious date format patterns.
  change-notes/1.24/analysis-java.md
  java/ql/src/Likely Bugs/Likely Typos/SuspiciousDateFormat.java
  java/ql/src/Likely Bugs/Likely Typos/SuspiciousDateFormat.qhelp
  java/ql/src/Likely Bugs/Likely Typos/SuspiciousDateFormat.ql
  java/ql/test/query-tests/SuspiciousDateFormat/A.java
  java/ql/test/query-tests/SuspiciousDateFormat/SuspiciousDateFormat.expected
  java/ql/test/query-tests/SuspiciousDateFormat/SuspiciousDateFormat.qlref
Labels: Java

#2692 C++: Model that string functions read their buffer
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
Labels: C++

#2680 CPP: Model strndup.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strdup.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/DataFlow.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Taint.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#2657 C++: wire up models library to DefaultTaintTracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Inet.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.ql
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C++

#2667 C++/C#: Make escape analysis unsound by default
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/ir/implementation/IRConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/UseSoundEscapeAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/PrintSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/PrintSSA.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  cpp/ql/test/library-tests/ir/escape/escape.ql
  cpp/ql/test/library-tests/ir/escape/ssa_escape.ql
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.ql
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity_unsound.qlref
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ssa_sanity.ql
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ssa_sanity_unsound.qlref
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.ql
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity_unsound.qlref
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_sanity.ql
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_sanity_unsound.qlref
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.ql
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.qlref
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.ql
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity_unsound.qlref
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ssa_sanity.ql
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ssa_sanity_unsound.qlref
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.ql
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.qlref
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.ql
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity_unsound.qlref
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ssa_sanity.ql
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ssa_sanity_unsound.qlref
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/IRConfiguration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/UseSoundEscapeAnalysis.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/PrintSSA.qll
Labels: C#, C++

#2698 Java: Add change note for java/spring-disabled-csrf-protection.
  change-notes/1.24/analysis-java.md
Labels: Java

#2706 Ql tests for virtual dispatch taint tracking
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.ql
Labels: C++

#2699 JS: Close an unterminated code block
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
Labels: JS

#2709 C++: Fix annotations in testcase file
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.cpp
Labels: C++

#2683 Java: Add new query for large left shifts and bugfix ConstantExpAppearsNonConstant.
  change-notes/1.24/analysis-java.md
  java/ql/src/Likely Bugs/Arithmetic/ConstantExpAppearsNonConstant.qhelp
  java/ql/src/Likely Bugs/Arithmetic/ConstantExpAppearsNonConstant.ql
  java/ql/src/Likely Bugs/Arithmetic/LShiftLargerThanTypeWidth.java
  java/ql/src/Likely Bugs/Arithmetic/LShiftLargerThanTypeWidth.qhelp
  java/ql/src/Likely Bugs/Arithmetic/LShiftLargerThanTypeWidth.ql
  java/ql/src/Likely Bugs/Arithmetic/LShiftLargerThanTypeWidthGood.java
  java/ql/test/query-tests/ConstantExpAppearsNonConstant/ConstantExpAppearsNonConstant.expected
  java/ql/test/query-tests/ConstantExpAppearsNonConstant/Test.java
  java/ql/test/query-tests/LShiftLargerThanTypeWidth/A.java
  java/ql/test/query-tests/LShiftLargerThanTypeWidth/LShiftLargerThanTypeWidth.expected
  java/ql/test/query-tests/LShiftLargerThanTypeWidth/LShiftLargerThanTypeWidth.qlref
Labels: Java

#2713 C++: Taint propagation through dynamic_cast
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C++

#2707 C++: Add TaintFunction model to FormattingFunction
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/Parameter.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/NoSpaceForZeroTerminator.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test.cpp
Labels: C++

#2681 JS: Sharpen missing CSRF middleware query
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddleware.expected
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddlewareBad.js
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddlewareGood.js
  javascript/ql/test/query-tests/Security/CWE-352/csurf_api_example.js
  javascript/ql/test/query-tests/Security/CWE-352/csurf_example.js
  javascript/ql/test/query-tests/Security/CWE-352/lusca_example.js
  javascript/ql/test/query-tests/Security/CWE-352/unused_cookies.js
Labels: JS

#2645 CPP: Fix typo.
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C++

#2641 Documentation update for Issue #2623
  cpp/ql/src/Critical/DescriptorNeverClosed.qhelp
  cpp/ql/src/Critical/DescriptorNeverClosed.ql
Labels: C++

#2660 C#: Add release notes and precisions to queries
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/Security Features/CWE-020/RuntimeChecksBypass.ql
  csharp/ql/src/Security Features/CWE-091/XMLInjection.ql
  csharp/ql/src/Security Features/CWE-114/AssemblyPathInjection.ql
  csharp/ql/src/Security Features/CWE-327/InsecureSQLConnection.ql
Labels: C#

#2720 C++: Always use the old library for the diff test
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.ql
Labels: C++

#2717 C++: Add taint from gets through memcpy
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#2676 C++: data flow through partial chi operands where type is known
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
Labels: C++

#2721 Java/C++/C#: Add change note for taint-getters.
  change-notes/1.24/analysis-cpp.md
  change-notes/1.24/analysis-csharp.md
  change-notes/1.24/analysis-java.md
Labels: C#, C++, Java

#2708 JS: Type-track react component factories
  javascript/ql/src/semmle/javascript/frameworks/React.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/exportedReactComponent.jsx
  javascript/ql/test/library-tests/TaintTracking/importedReactComponent.jsx
  javascript/ql/test/library-tests/frameworks/ReactJS/exportedComponent.jsx
  javascript/ql/test/library-tests/frameworks/ReactJS/importedComponent.jsx
  javascript/ql/test/library-tests/frameworks/ReactJS/tests.expected
Labels: JS

#2705 JS: Add missing models to support CVE-2019-10767
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/frameworks/EventEmitter/customEmitter.js
  javascript/ql/test/library-tests/frameworks/EventEmitter/test.expected
Labels: JS

#2701 Python: modernise import related queries
  python/ql/src/Imports/FromImportOfMutableAttribute.ql
  python/ql/src/Imports/ModuleImportsItself.ql
  python/ql/src/Imports/UnintentionalImport.ql
  python/ql/src/Metrics/DirectImports.ql
  python/ql/src/Metrics/TransitiveImports.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Labels: Python

#2671 Java: Allow null literals as sources in data flow.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/null/A.java
  java/ql/test/library-tests/dataflow/null/testnullflow.expected
  java/ql/test/library-tests/dataflow/null/testnullflow.ql
Labels: Java

#2696 C++/C#: Alias analysis of indirect parameters
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/ir/implementation/MemoryAccessKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysisImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysisInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasConfigurationInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysisImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysisInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasConfigurationImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/test/TestUtilities/InlineExpectationsTest.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/BarrierGuard.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/ir/escape/escape.ql
  cpp/ql/test/library-tests/ir/escape/points_to.expected
  cpp/ql/test/library-tests/ir/escape/points_to.ql
  cpp/ql/test/library-tests/ir/escape/ssa_escape.ql
  cpp/ql/test/library-tests/ir/points_to/points_to.cpp
  cpp/ql/test/library-tests/ir/points_to/points_to.expected
  cpp/ql/test/library-tests/ir/points_to/points_to.ql
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/MemoryAccessKind.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasAnalysisImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasAnalysisInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasConfiguration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasConfigurationImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
Labels: C#, C++

#2718 C++: Fix mapping of sources from Expr to Node
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#2719 Java: Deprecate ParExpr
  change-notes/1.24/analysis-java.md
  java/ql/src/Language Abuse/UselessUpcast.ql
  java/ql/src/Likely Bugs/Arithmetic/BadCheckOdd.ql
  java/ql/src/Likely Bugs/Arithmetic/ConstantExpAppearsNonConstant.ql
  java/ql/src/Likely Bugs/Arithmetic/IntMultToLong.ql
  java/ql/src/Likely Bugs/Comparison/DefineEqualsWhenAddingFields.ql
  java/ql/src/Likely Bugs/Comparison/MissingInstanceofInEquals.ql
  java/ql/src/Likely Bugs/Comparison/NoAssignInBooleanExprs.ql
  java/ql/src/Likely Bugs/Comparison/StringComparison.ql
  java/ql/src/Likely Bugs/Comparison/UselessComparisonTest.ql
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLocking.qll
  java/ql/src/Likely Bugs/Concurrency/NonSynchronizedOverride.ql
  java/ql/src/Likely Bugs/Concurrency/SynchSetUnsynchGet.ql
  java/ql/src/Likely Bugs/Likely Typos/ContradictoryTypeChecks.ql
  java/ql/src/Likely Bugs/Resource Leaks/CloseType.qll
  java/ql/src/Likely Bugs/Statements/Chaining.qll
  java/ql/src/Likely Bugs/Statements/ReturnValueIgnored.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticCommon.qll
  java/ql/src/Security/CWE/CWE-681/NumericCastCommon.qll
  java/ql/src/Security/CWE/CWE-835/InfiniteLoop.ql
  java/ql/src/Violations of Best Practice/Boolean Logic/SimplifyBoolExpr.ql
  java/ql/src/Violations of Best Practice/Naming Conventions/ConfusingOverloading.ql
  java/ql/src/semmle/code/java/Concurrency.qll
  java/ql/src/semmle/code/java/ControlFlowGraph.qll
  java/ql/src/semmle/code/java/Conversions.qll
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/src/semmle/code/java/Reflection.qll
  java/ql/src/semmle/code/java/StringFormat.qll
  java/ql/src/semmle/code/java/Variable.qll
  java/ql/src/semmle/code/java/comparison/Comparison.qll
  java/ql/src/semmle/code/java/controlflow/Guards.qll
  java/ql/src/semmle/code/java/controlflow/UnreachableBlocks.qll
  java/ql/src/semmle/code/java/controlflow/internal/GuardsLogic.qll
  java/ql/src/semmle/code/java/controlflow/internal/Preconditions.qll
  java/ql/src/semmle/code/java/dataflow/IntegerGuards.qll
  java/ql/src/semmle/code/java/dataflow/ModulusAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/NullGuards.qll
  java/ql/src/semmle/code/java/dataflow/Nullness.qll
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/RangeUtils.qll
  java/ql/src/semmle/code/java/dataflow/SSA.qll
  java/ql/src/semmle/code/java/dataflow/SignAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/src/semmle/code/java/deadcode/DeadEnumConstant.qll
  java/ql/src/semmle/code/java/dispatch/DispatchFlow.qll
  java/ql/src/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/src/semmle/code/java/frameworks/Assertions.qll
  java/ql/test/library-tests/guards/guardslogic.ql
Labels: Java

#2726 Java: Improve taint for OutputStream.write and InputStream.read.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/test/library-tests/dataflow/taint/A.java
  java/ql/test/library-tests/dataflow/taint/test.expected
  java/ql/test/library-tests/dataflow/taint/test.ql
Labels: Java

#2725 Java: Add java.lang.Number as a sanitizer for SQL injection.
  java/ql/src/Security/CWE/CWE-089/SqlInjectionLib.qll
  java/ql/src/semmle/code/java/JDK.qll
  java/ql/src/semmle/code/java/security/Random.qll
Labels: Java

#2618 JS: add additional data-flow edges to data-flow related to promises
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/test/library-tests/CustomLoadStoreSteps/test.expected
  javascript/ql/test/library-tests/CustomLoadStoreSteps/test.ql
  javascript/ql/test/library-tests/CustomLoadStoreSteps/tst.js
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/GermanFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TrackedNodes.expected
  javascript/ql/test/library-tests/InterProceduralFlow/promises.js
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/flow.js
  javascript/ql/test/library-tests/Promises/flow.qll
  javascript/ql/test/library-tests/Promises/interflow.js
  javascript/ql/test/library-tests/Promises/options
  javascript/ql/test/library-tests/Promises/tests.expected
  javascript/ql/test/library-tests/Promises/tests.ql
Labels: JS

#2732 Java: Add qlpack.yml in upgrades.
  java/upgrades/qlpack.yml
Labels: Java

#2733 Python: Extend `Value` API.
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Labels: Python

#2728 CPP: Avoid uncessary recursion in printf.qll
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
Labels: C++

#2716 JS: support additional Koa request sources
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/Koa.qll
  javascript/ql/test/library-tests/frameworks/koa/src/koa.js
  javascript/ql/test/library-tests/frameworks/koa/tests.expected
Labels: JS
