Repository github/codeql, pull requests merged in 2020-11, with the labels that each got.

#4586 C#: Fix bad join-order in `commonSubTypeGeneral/2`
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Labels: C#

#4590 Python: Model encoding/decoding with base64 module
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/TestTaint.expected
  python/ql/test/experimental/library-tests/frameworks/stdlib-py3/Decoding.py
  python/ql/test/experimental/library-tests/frameworks/stdlib-py3/Encoding.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/Decoding.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/Encoding.py
  python/ql/test/experimental/meta/ConceptsTest.qll
Labels: Python

#4588 Python: Model PEP 249
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/frameworks/Django.qll
  python/ql/src/experimental/semmle/python/frameworks/MySQLdb.qll
  python/ql/src/experimental/semmle/python/frameworks/MysqlConnectorPython.qll
  python/ql/src/experimental/semmle/python/frameworks/PEP249.qll
  python/ql/test/experimental/library-tests/frameworks/mysql-connector-python/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/mysql-connector-python/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/mysql-connector-python/pep249.py
  python/ql/test/experimental/library-tests/frameworks/mysqldb/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/mysqldb/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/mysqldb/pep249.py
Labels: Python

#3812 Java: Add remote source of Android intent extra
  java/ql/src/experimental/Security/CWE/CWE-749/UnsafeAndroidAccess.ql
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/src/semmle/code/java/frameworks/android/Android.qll
  java/ql/src/semmle/code/java/frameworks/android/Intent.qll
  java/ql/src/semmle/code/xml/AndroidManifest.qll
  java/ql/test/experimental/query-tests/security/CWE-749/AndroidManifest.xml
  java/ql/test/experimental/query-tests/security/CWE-749/IntentUtils.java
  java/ql/test/experimental/query-tests/security/CWE-749/SafeActivity1.java
  java/ql/test/experimental/query-tests/security/CWE-749/SafeActivity2.java
  java/ql/test/experimental/query-tests/security/CWE-749/SafeActivity3.java
  java/ql/test/experimental/query-tests/security/CWE-749/UnsafeActivity1.java
  java/ql/test/experimental/query-tests/security/CWE-749/UnsafeActivity2.java
  java/ql/test/experimental/query-tests/security/CWE-749/UnsafeActivity3.java
  java/ql/test/experimental/query-tests/security/CWE-749/UnsafeActivity4.java
  java/ql/test/experimental/query-tests/security/CWE-749/UnsafeAndroidAccess.expected
  java/ql/test/experimental/query-tests/security/CWE-749/UnsafeAndroidAccess.java
  java/ql/test/experimental/query-tests/security/CWE-749/UnsafeAndroidBroadcastReceiver.java
  java/ql/test/library-tests/dataflow/taintsources/AndroidManifest.xml
  java/ql/test/library-tests/dataflow/taintsources/IntentSources.java
  java/ql/test/library-tests/dataflow/taintsources/options
  java/ql/test/library-tests/dataflow/taintsources/remote.expected
  java/ql/test/stubs/google-android-9.0.0/android/content/BroadcastReceiver.java
  java/ql/test/stubs/google-android-9.0.0/android/content/Context.java
  java/ql/test/stubs/google-android-9.0.0/android/content/Intent.java
  java/ql/test/stubs/google-android-9.0.0/android/os/BaseBundle.java
Labels: Java

#4571 C++/Python: Better syntax for false positives and negatives in inline expectations
  cpp/ql/test/TestUtilities/InlineExpectationsTest.qll
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/B.cpp
  cpp/ql/test/library-tests/dataflow/fields/C.cpp
  cpp/ql/test/library-tests/dataflow/fields/D.cpp
  cpp/ql/test/library-tests/dataflow/fields/E.cpp
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/arrays.cpp
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/complex.cpp
  cpp/ql/test/library-tests/dataflow/fields/constructors.cpp
  cpp/ql/test/library-tests/dataflow/fields/qualifiers.cpp
  cpp/ql/test/library-tests/dataflow/fields/realistic.cpp
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
  cpp/ql/test/library-tests/dataflow/fields/struct_init.c
  cpp/ql/test/library-tests/ir/points_to/points_to.cpp
  python/ql/test/TestUtilities/InlineExpectationsTest.qll
  python/ql/test/experimental/dataflow/global-flow/test.py
  python/ql/test/experimental/dataflow/typetracking/attribute_tests.py
  python/ql/test/experimental/dataflow/typetracking/test.py
  python/ql/test/experimental/library-tests/frameworks/dill/Decoding.py
  python/ql/test/experimental/library-tests/frameworks/django-v1/response_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v1/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/taint_test.py
  python/ql/test/experimental/library-tests/frameworks/django/SqlExecution.py
  python/ql/test/experimental/library-tests/frameworks/flask/old_test.py
  python/ql/test/experimental/library-tests/frameworks/flask/response_test.py
  python/ql/test/experimental/library-tests/frameworks/flask/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/flask/taint_test.py
  python/ql/test/experimental/library-tests/frameworks/stdlib-py3/Decoding.py
  python/ql/test/experimental/library-tests/frameworks/stdlib-py3/Encoding.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/CodeExecutionPossibleFP1.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/CodeExecutionPossibleFP2.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/CodeExecutionPossibleFP3.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/Decoding.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/Encoding.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/FileSystemAccess.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/SafeAccessCheck.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/SystemCommandExecution.py
  python/ql/test/experimental/library-tests/frameworks/yaml/Decoding.py
  python/ql/test/experimental/meta/ConceptsTest.qll
Labels: C++, Python

#4596 Python: Import Customizations into python
  python/ql/src/Customizations.qll
  python/ql/src/python.qll
Labels: Python

#4599 Catchup 1.26
  python/ql/src/Customizations.qll
  python/ql/src/python.qll
Labels: Python

#4597 Python: Fix ql doc
  python/ql/src/semmle/python/dataflow/new/RemoteFlowSources.qll
  python/ql/src/semmle/python/dataflow/new/TypeTracker.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/src/semmle/python/frameworks/MySQLdb.qll
  python/ql/src/semmle/python/frameworks/Werkzeug.qll
Labels: Python

#4605 Python: fix django response modeling
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/test/experimental/library-tests/frameworks/django-v1/response_test.py
Labels: Python

#4608 Python: Remove unnecessary cached annotation from adjacentRefUse
  python/ql/src/semmle/python/essa/SsaCompute.qll
Labels: Python

#4495 C#: Shared interface/implementation for flow summaries
  csharp/ql/src/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/FlowSummarySpecific.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.expected
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.ql
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.expected
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.ql
  csharp/ql/test/library-tests/frameworks/test/Test.ql
Labels: C#

#4589 C++: Model std::vector emplace and emplace_back()
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#4604 C++, C# IR: Stabilize sort order for basic blocks.
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/src/experimental/ir/implementation/raw/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/test/experimental/ir/ir/raw_ir.expected
Labels: C#, C++

#4579 JS: Detect more expensive regexps in js/polynomial-redos
  javascript/ql/src/Performance/PolynomialReDoS.ql
  javascript/ql/src/semmle/javascript/security/performance/PolynomialReDoSCustomizations.qll
  javascript/ql/src/semmle/javascript/security/performance/SuperlinearBackTracking.qll
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/polynomial-redos.js
Labels: JS

#4549 JS: refactor `parameterPropRead` and `reachesReturn` to get a slight performance improvement
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#4552 JS: Add support for importing files compiled into outDir from tsconfig.json
  javascript/ql/src/semmle/javascript/NodeJS.qll
  javascript/ql/src/semmle/javascript/Paths.qll
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/nonUniqueInclude/index.js
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/nonUniqueInclude/src/foo.ts
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/nonUniqueInclude/src2/foo.ts
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/nonUniqueInclude/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/options
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/rootDir/index.js
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/rootDir/src/index.ts
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/rootDir/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/rootDirIsDot/foo.ts
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/rootDirIsDot/index.js
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/rootDirIsDot/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/simpleOutDir/index.js
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/simpleOutDir/src/index.ts
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/simpleOutDir/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/tests.expected
  javascript/ql/test/library-tests/TypeScript/ImportOutDir/tests.ql
Labels: JS

#4603 New UnsafeDeserialization sink and improvements to SnakeYaml sink
  java/change-notes/2020-11-04-commonslang-unsafe-deserialization-sinks.md
  java/ql/src/semmle/code/java/frameworks/SnakeYaml.qll
  java/ql/src/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/src/semmle/code/java/security/UnsafeDeserialization.qll
Labels: Java, documentation

#4575 C#: Restrict post-dominance to normal execution
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Consistency.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/graph/PostDominance.cs
  csharp/ql/test/library-tests/csharp7/IsFlow.expected
  csharp/ql/test/library-tests/csharp8/NullCoalescingControlFlow.expected
  csharp/ql/test/library-tests/csharp8/NullableRefTypes.expected
  csharp/ql/test/library-tests/csharp8/UsingControlFlow.expected
  csharp/ql/test/library-tests/csharp8/ispatternflow.expected
  csharp/ql/test/library-tests/csharp8/switchexprcontrolflow.expected
  csharp/ql/test/library-tests/csharp8/switchstmtctrlflow.expected
  csharp/ql/test/library-tests/goto/Goto1.expected
  csharp/ql/test/library-tests/standalone/controlflow/cfg.expected
Labels: C#

#4607 C#: Disable shared compilation when building with Mono+MSBuild
  csharp/config/tracer/linux/csharp-compiler-settings
  csharp/tools/linux64/compiler-tracing.spec
  csharp/tools/osx64/compiler-tracing.spec
Labels: C#

#4574 JS: Add window object from JSDOM
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/express.js
  javascript/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
  javascript/ql/test/query-tests/Security/CWE-918/tst.js
Labels: JS, documentation

#4600 Java : Refactor all instances of `java.net.URI` into TypeUri
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureBasicAuth.ql
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/frameworks/Networking.qll
Labels: Java

#4624 JS: Don't compute big string concatenations in Expr.qll
  javascript/ql/src/semmle/javascript/Expr.qll
Labels: JS

#4637 C++: pragma[noinline] parameter index predicates
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C#, C++

#4632 Python: move configurations out of queries
  python/ql/src/Security/CWE-022/PathInjection.ql
  python/ql/src/Security/CWE-078/CommandInjection.ql
  python/ql/src/Security/CWE-079/ReflectedXss.ql
  python/ql/src/Security/CWE-089/SqlInjection.ql
  python/ql/src/Security/CWE-094/CodeInjection.ql
  python/ql/src/Security/CWE-502/UnsafeDeserialization.ql
  python/ql/src/semmle/python/security/dataflow/ChainedConfigs12.qll
  python/ql/src/semmle/python/security/dataflow/CodeInjection.qll
  python/ql/src/semmle/python/security/dataflow/CommandInjection.qll
  python/ql/src/semmle/python/security/dataflow/PathInjection.qll
  python/ql/src/semmle/python/security/dataflow/ReflectedXSS.qll
  python/ql/src/semmle/python/security/dataflow/SqlInjection.qll
  python/ql/src/semmle/python/security/dataflow/UnsafeDeserialization.qll
Labels: Python

#4631 Java: Factor NumberFormatException out into a library file
  java/ql/src/Violations of Best Practice/Exception Handling/NumberFormatException.ql
  java/ql/src/semmle/code/java/NumberFormatException.qll
Labels: Java

#4609 JS: Improve handling of destructuring and default exports
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/NodeJS.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
  javascript/ql/test/library-tests/InterProceduralFlow/mixedExports.js
  javascript/ql/test/library-tests/InterProceduralFlow/mixedExportsClient.js
  javascript/ql/test/library-tests/InterProceduralFlow/tests.expected
  javascript/ql/test/library-tests/Portals/PortalEntry.expected
  javascript/ql/test/library-tests/Portals/PortalExit.expected
  javascript/ql/test/library-tests/TypeTracking/destructuring-export-client.js
  javascript/ql/test/library-tests/TypeTracking/destructuring-export.js
Labels: JS

#4174 Python: Dataflow, Test that `pointsTo` implies data flow
  python/ql/test/experimental/dataflow/regression/pointsto.expected
  python/ql/test/library-tests/PointsTo/new/ImpliesDataflow.expected
  python/ql/test/library-tests/PointsTo/new/ImpliesDataflow.ql
  python/ql/test/library-tests/PointsTo/new/code/v_pointsto_regressions.py
  python/ql/test/library-tests/PointsTo/new/code/w_function_values.py
Labels: Python

#4606 C#: Precise data flow for EntityFramework(Core)
  csharp/ql/src/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/FlowSummarySpecific.qll
  csharp/ql/src/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/src/semmle/code/csharp/frameworks/System.qll
  csharp/ql/test/library-tests/frameworks/EntityFramework/Dataflow.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/Dataflow.ql
  csharp/ql/test/library-tests/frameworks/EntityFramework/EntityFramework.cs
  csharp/ql/test/library-tests/frameworks/EntityFramework/EntityFrameworkCore.cs
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.ql
  csharp/ql/test/library-tests/frameworks/EntityFramework/MappedProperties.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/SqlExprs.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/StoredFlowSources.expected
  csharp/ql/test/resources/stubs/EntityFramework.cs
Labels: C#

#4641 C++/C#/Java/JavaScript/Python: Autoformat set literals.
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
  cpp/ql/src/semmle/code/cpp/commons/Strcat.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
  cpp/ql/src/semmle/code/cpp/security/BufferWrite.qll
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/SignAnalysisSpecific.qll
  java/ql/src/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/src/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
  java/ql/src/semmle/code/java/security/FileReadWrite.qll
  javascript/ql/src/experimental/Security/CWE-614/InsecureCookie.qll
  javascript/ql/src/semmle/javascript/JsonStringifiers.qll
  javascript/ql/src/semmle/javascript/NodeJS.qll
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/Fastify.qll
  javascript/ql/src/semmle/javascript/frameworks/LodashUnderscore.qll
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/React.qll
  javascript/ql/src/semmle/javascript/frameworks/Vue.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ImproperCodeSanitizationCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/InsecureDownloadCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  python/ql/src/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/Fabric.qll
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/src/semmle/python/frameworks/Werkzeug.qll
  python/ql/src/semmle/python/security/strings/Basic.qll
  python/ql/test/experimental/dataflow/tainttracking/TestTaintLib.qll
Labels: C#, C++, JS, Java, Python, depends on internal PR

#4642 C++: Improve MemberFunction.qll data flows
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/MemberFunction.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Labels: C++

#4645 C++: Odds and ends
  cpp/ql/src/experimental/semmle/code/cpp/security/PrivateCleartextWrite.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Iterator.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
Labels: C++

#4643 Replace getEncodedFile with shared getFileBySourceArchiveName predicate
  config/identical-files.json
  cpp/ql/src/IDEContextual.qll
  cpp/ql/src/definitions.qll
  cpp/ql/src/localDefinitions.ql
  cpp/ql/src/localReferences.ql
  cpp/ql/src/printAst.ql
  csharp/ql/src/IDEContextual.qll
  csharp/ql/src/definitions.qll
  csharp/ql/src/localDefinitions.ql
  csharp/ql/src/localReferences.ql
  csharp/ql/src/printAst.ql
  java/ql/src/IDEContextual.qll
  java/ql/src/definitions.qll
  java/ql/src/localDefinitions.ql
  java/ql/src/localReferences.ql
  java/ql/src/printAst.ql
  javascript/ql/src/IDEContextual.qll
  javascript/ql/src/definitions.qll
  javascript/ql/src/localDefinitions.ql
  javascript/ql/src/localReferences.ql
  javascript/ql/src/printAst.ql
  python/ql/src/analysis/DefinitionTracking.qll
  python/ql/src/analysis/IDEContextual.qll
  python/ql/src/analysis/LocalDefinitions.ql
  python/ql/src/analysis/LocalReferences.ql
  python/ql/src/printAst.ql
Labels: C#, C++, JS, Java, Python

#4649 Python: Make `ParameterNode` a `CfgNode`
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/basic/callGraph.expected
  python/ql/test/experimental/dataflow/basic/callGraphSinks.expected
  python/ql/test/experimental/dataflow/basic/global.expected
  python/ql/test/experimental/dataflow/basic/globalStep.expected
  python/ql/test/experimental/dataflow/basic/local.expected
  python/ql/test/experimental/dataflow/basic/localStep.expected
  python/ql/test/experimental/dataflow/basic/maximalFlows.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting1.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting2.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting3.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting7.expected
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.expected
  python/ql/test/experimental/dataflow/coverage/localFlow.expected
  python/ql/test/experimental/dataflow/fieldflow/allLocalFlow.expected
  python/ql/test/experimental/dataflow/fieldflow/globalStep.expected
  python/ql/test/experimental/dataflow/fieldflow/localFlow.expected
  python/ql/test/experimental/library-tests/frameworks/modeling-example/ProperModel.expected
  python/ql/test/library-tests/PointsTo/new/ImpliesDataflow.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
Labels: Python

#4567 JS: Add steps through date-formatting functions
  javascript/change-notes/2020-11-06-date-functions.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/DateFunctions.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/dates.js
Labels: JS, documentation

#4650 Python: Update set literal formatting
  python/ql/src/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/Fabric.qll
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/src/semmle/python/frameworks/Werkzeug.qll
Labels: Python

#4602 Java: Add change note for #3812.
  java/change-notes/2020-10-03-android-intent-taintsource.md
Labels: Java, documentation

#4516 C#: Refactor attribute extraction
  csharp/change-notes/2020-10-21-rework-attribute-extraction.md
  csharp/extractor/Semmle.Extraction.CSharp/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Cast.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Initializer.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Literal.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/TypeAccess.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/TypeOf.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/CompilationUnit.cs
  csharp/ql/src/semmle/code/csharp/PrintAst.qll
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/NonReturning.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/test/library-tests/arguments/argumentName.ql
  csharp/ql/test/library-tests/attributes/Assembly1.cs_
  csharp/ql/test/library-tests/attributes/Assembly1.dll
  csharp/ql/test/library-tests/attributes/AttributeArguments.expected
  csharp/ql/test/library-tests/attributes/AttributeArguments.ql
  csharp/ql/test/library-tests/attributes/AttributeElements.expected
  csharp/ql/test/library-tests/attributes/AttributeElements.ql
  csharp/ql/test/library-tests/attributes/PrintAst.expected
  csharp/ql/test/library-tests/attributes/attributes.cs
  csharp/ql/test/library-tests/controlflow/graph/Dominance.ql
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.ql
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.ql
  csharp/ql/test/library-tests/controlflow/guards/AbstractValue.ql
  csharp/ql/test/library-tests/csharp7.2/NumericLiterals.ql
  csharp/ql/test/library-tests/csharp7.3/ArrayCreations.ql
  csharp/ql/test/library-tests/expressions/ArrayCreation11.ql
  csharp/ql/test/library-tests/expressions/PrintAst.expected
  csharp/ql/test/library-tests/expressions/StripCasts.ql
  csharp/ql/test/library-tests/nullable/NullableExpressions.ql
  csharp/ql/test/query-tests/Stubs/MinimalStubsFromSource.expected
Labels: C#, documentation

#4659 JS: Autoformat date-functions file
  javascript/ql/src/semmle/javascript/frameworks/DateFunctions.qll
Labels: JS

#4573 C++: instruction -> operand field flow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/ArithmeticUncontrolled.expected
Labels: C++, depends on internal PR

#4661 C#: Fix parent of 'TypeMention' for some variable declaration
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/VariableDeclaration.cs
  csharp/ql/test/experimental/ir/ir/PrintAst.expected
  csharp/ql/test/library-tests/csharp7/PrintAst.expected
  csharp/ql/test/library-tests/csharp8/PrintAst.expected
  csharp/ql/test/library-tests/definitions/PrintAst.expected
  csharp/ql/test/library-tests/linq/PrintAst.expected
  csharp/ql/test/library-tests/methods/PrintAst.expected
  csharp/ql/test/library-tests/statements/PrintAst.expected
Labels: C#

#4667 Python: Add code snippets for VS Code
  python/.vscode/ql.code-snippets
Labels: Python

#4592 C++: Work around two false positive issues with the UnusedLocals.ql query
  cpp/change-notes/2020-11-02-unused-local-variable.md
  cpp/ql/src/Best Practices/Unused Entities/UnusedLocals.ql
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedLocals/UnusedLocals.expected
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedLocals/code2.cpp
Labels: C++, documentation

#4638 JS: Add support for JWT libraries
  javascript/change-notes/2020-11-09-jwt.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/JWT.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/jwt-server.js
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/jwt.js
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.js
Labels: JS, documentation

#4648 JS: fix parse errors related to char escapes and char ranges
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/parser/RegExpParser.java
  javascript/ql/test/library-tests/RegExp/CharacterRange/CharaterRange.expected
  javascript/ql/test/library-tests/RegExp/CharacterRange/CharaterRange.ql
  javascript/ql/test/library-tests/RegExp/CharacterRange/tst.js
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
Labels: JS

#4666 C#: Upgrade Roslyn dependencies to 3.8.0
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
Labels: C#

#4673 C++: IR post dominance
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRBlock.qll
Labels: C#, C++

#4646 C#: Represent all expressions in post-order in the CFG
  csharp/ql/src/Bad Practices/Control-Flow/ConstantCondition.ql
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/RangeUtils.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Consistency.expected
  csharp/ql/test/library-tests/controlflow/graph/Consistency.ql
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/csharp8/NullCoalescingControlFlow.expected
  csharp/ql/test/library-tests/csharp8/ispatternflow.expected
  csharp/ql/test/library-tests/csharp8/switchexprcontrolflow.expected
  csharp/ql/test/library-tests/dataflow/call-sensitivity/CallSensitivityFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/Splitting.cs
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/modulusanalysis/ModulusAnalysis.cs
  csharp/ql/test/library-tests/dataflow/modulusanalysis/ModulusAnalysis.expected
  csharp/ql/test/library-tests/dataflow/ssa/SSAPhi.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefLastRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaUltimateDef.expected
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantCondition.cs
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantCondition.expected
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#4629 Java: add some improvements to the bean validation query
  java/ql/src/Security/CWE/CWE-094/InsecureBeanValidation.ql
Labels: Java

#4680 C++: Improve PrintAST performance.
  cpp/ql/src/semmle/code/cpp/Type.qll
Labels: C++

#4683 Python: Fix bad join order in TypeTracker::callStep
  python/ql/src/semmle/python/dataflow/new/TypeTracker.qll
  python/ql/test/experimental/dataflow/typetracking/multiple_callables.py
Labels: Python

#4402 Update expected results for `constint' support
  cpp/ql/test/library-tests/clang_ms/element.expected
  cpp/ql/test/library-tests/conditions/elements.expected
  cpp/ql/test/library-tests/templates/instantiations_functions/elements.expected
  cpp/ql/test/library-tests/unnamed/elements.expected
Labels: C++, depends on internal PR

#4684 C++: Clean up Type.qll, getSpecifierString() API.
  cpp/ql/src/semmle/code/cpp/Print.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
Labels: C++

#4663 C#: Refactor pattern extraction
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/IsPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/Pattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/PositionalPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/PropertyPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/RecursivePattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Switch.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Case.cs
Labels: C#

#4558 Remove InitializeNonlocalInstruction
  cpp/ql/src/semmle/code/cpp/ir/implementation/MemoryAccessKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/experimental/ir/implementation/MemoryAccessKind.qll
  csharp/ql/src/experimental/ir/implementation/Opcode.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRConsistency.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRConsistency.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/test/experimental/ir/ir/raw_ir.expected
  csharp/ql/test/experimental/ir/ir/raw_ir_consistency.expected
  csharp/ql/test/experimental/ir/ir/unaliased_ssa_consistency.expected
Labels: C#, C++

#4689 Remove unit tests for duplicate-code detection
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependencies.qlref
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependenciesSourceLinks.qlref
  csharp/ql/test/query-tests/Metrics/Files/FLinesOfDuplicatedCode/flinesofduplicatedcode.qlref
  python/ql/test/query-tests/Metrics/duplicate/FLinesOfDuplicatedCode.qlref
  python/ql/test/query-tests/Metrics/duplicate/FLinesOfSimilarCode.qlref
Labels: C#, Python

#4676 C++: Untrusted data used in external APIs
  config/identical-files.json
  cpp/ql/src/Security/CWE/CWE-020/CountUntrustedDataToExternalAPI.qhelp
  cpp/ql/src/Security/CWE/CWE-020/CountUntrustedDataToExternalAPI.ql
  cpp/ql/src/Security/CWE/CWE-020/ExternalAPISinkExample.cpp
  cpp/ql/src/Security/CWE/CWE-020/ExternalAPITaintStepExample.cpp
  cpp/ql/src/Security/CWE/CWE-020/ExternalAPIs.qll
  cpp/ql/src/Security/CWE/CWE-020/ExternalAPIsSpecific.qll
  cpp/ql/src/Security/CWE/CWE-020/IRCountUntrustedDataToExternalAPI.qhelp
  cpp/ql/src/Security/CWE/CWE-020/IRCountUntrustedDataToExternalAPI.ql
  cpp/ql/src/Security/CWE/CWE-020/IRUntrustedDataToExternalAPI.qhelp
  cpp/ql/src/Security/CWE/CWE-020/IRUntrustedDataToExternalAPI.ql
  cpp/ql/src/Security/CWE/CWE-020/SafeExternalAPIFunction.qll
  cpp/ql/src/Security/CWE/CWE-020/UntrustedDataToExternalAPI.qhelp
  cpp/ql/src/Security/CWE/CWE-020/UntrustedDataToExternalAPI.ql
  cpp/ql/src/Security/CWE/CWE-020/ir/ExternalAPIs.qll
  cpp/ql/src/Security/CWE/CWE-020/ir/ExternalAPIsSpecific.qll
  cpp/ql/src/Security/CWE/CWE-020/ir/SafeExternalAPIFunction.qll
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Getenv.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FlowSource.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FunctionInputsAndOutputs.qll
  cpp/ql/src/semmle/code/cpp/security/FlowSources.qll
Labels: C++, documentation

#4626 C#: Add stats file from the jenkins job
  csharp/ql/src/semmle/code/cil/DataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmlecode.csharp.dbscheme.stats
Labels: C#

#4688 C++: Speed up PrintAST.
  cpp/ql/src/semmle/code/cpp/Element.qll
  cpp/ql/src/semmle/code/cpp/PrintAST.qll
Labels: C++

#4633 C#: Add test cases for native integers
  csharp/ql/test/library-tests/csharp9/NativeInt.cs
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/PrintAst.qlref
  csharp/ql/test/library-tests/csharp9/nativeInt.expected
  csharp/ql/test/library-tests/csharp9/nativeInt.ql
Labels: C#

#4696 C++: Fix bad join order in AliasedSSA::getResultMemoryLocation
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Labels: C++

#4694 JS: Add UntrustedDataToExternalAPI query
  javascript/ql/src/Security/CWE-020/ExternalAPISinkExample.js
  javascript/ql/src/Security/CWE-020/ExternalAPITaintStepExample.js
  javascript/ql/src/Security/CWE-020/ExternalAPIsUsedWithUntrustedData.qhelp
  javascript/ql/src/Security/CWE-020/ExternalAPIsUsedWithUntrustedData.ql
  javascript/ql/src/Security/CWE-020/UntrustedDataToExternalAPI.qhelp
  javascript/ql/src/Security/CWE-020/UntrustedDataToExternalAPI.ql
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ExternalAPIUsedWithUntrustedData.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ExternalAPIUsedWithUntrustedDataCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-020/UntrustedDataToExternalAPI.expected
  javascript/ql/test/query-tests/Security/CWE-020/UntrustedDataToExternalAPI.qlref
  javascript/ql/test/query-tests/Security/CWE-020/tst-UntrustedDataToExternalAPI.js
Labels: JS, documentation

#4623 C#: Add type parameter ref/value type tests
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/TypeParameterNullability.cs
  csharp/ql/test/library-tests/csharp9/typeParameterNullability.expected
  csharp/ql/test/library-tests/csharp9/typeParameterNullability.ql
Labels: C#

#4703 Remove unit tests for duplicate-code detection, take II
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependencies.expected
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependenciesSourceLinks.expected
  csharp/ql/test/query-tests/Metrics/Files/FLinesOfDuplicatedCode/flinesofduplicatedcode.expected
  python/ql/test/query-tests/Metrics/duplicate/FLinesOfDuplicatedCode.expected
  python/ql/test/query-tests/Metrics/duplicate/FLinesOfSimilarCode.expected
Labels: C#, Python

#4427 Java: Add support for FastJson in unsafe deserialization.
  java/change-notes/2020-10-07-fastjson-deserialization-sink.md
  java/ql/src/semmle/code/java/frameworks/FastJson.qll
  java/ql/src/semmle/code/java/security/UnsafeDeserialization.qll
  java/ql/test/query-tests/security/CWE-502/B.java
  java/ql/test/query-tests/security/CWE-502/UnsafeDeserialization.expected
  java/ql/test/query-tests/security/CWE-502/options
  java/ql/test/stubs/fastjson-1.2.74/com/alibaba/fastjson/JSON.java
  java/ql/test/stubs/fastjson-1.2.74/com/alibaba/fastjson/JSONArray.java
  java/ql/test/stubs/fastjson-1.2.74/com/alibaba/fastjson/JSONObject.java
  java/ql/test/stubs/fastjson-1.2.74/com/alibaba/fastjson/TypeReference.java
  java/ql/test/stubs/fastjson-1.2.74/com/alibaba/fastjson/parser/Feature.java
  java/ql/test/stubs/fastjson-1.2.74/com/alibaba/fastjson/parser/ParserConfig.java
  java/ql/test/stubs/fastjson-1.2.74/com/alibaba/fastjson/parser/deserializer/ParseProcess.java
Labels: Java, documentation

#4705 JS: restrict computation of ConcatenationRoot::getConstantStringParts to results that are less than 1 million chars long
  javascript/ql/src/semmle/javascript/StringOps.qll
Labels: JS

#4715 C++: Remove duplication-tests
  cpp/ql/test/duplication-tests/constants/constants.cpp
  cpp/ql/test/duplication-tests/constants/expr.expected
  cpp/ql/test/duplication-tests/constants/expr.ql
  cpp/ql/test/duplication-tests/duplicate_functions/FLinesOfDuplicatedCode.expected
  cpp/ql/test/duplication-tests/duplicate_functions/FLinesOfDuplicatedCode.qlref
  cpp/ql/test/duplication-tests/duplicate_functions/duplicate_functions.cpp
  cpp/ql/test/duplication-tests/duplicate_functions/duplicate_functions.expected
  cpp/ql/test/duplication-tests/duplicate_functions/duplicate_functions.qlref
  cpp/ql/test/duplication-tests/tokenising/FLinesOfDuplicatedCode.expected
  cpp/ql/test/duplication-tests/tokenising/FLinesOfDuplicatedCode.qlref
  cpp/ql/test/duplication-tests/tokenising/duplications.expected
  cpp/ql/test/duplication-tests/tokenising/duplications.ql
  cpp/ql/test/duplication-tests/tokenising/test.c
Labels: C++

#4692 Python: support psycopg
  python/ql/src/semmle/python/Frameworks.qll
  python/ql/src/semmle/python/frameworks/Psycopg2.qll
Labels: Python

#4702 C++: Abstractions for treating qualifiers as parameters in IR
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C#, C++

#4711 JS: Treat `Location`-typed properties as DOM location sources
  javascript/ql/src/semmle/javascript/DOM.qll
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tsconfig.json
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/typed.ts
Labels: JS

#4710 Python: Dataflow, variable capture
  python/ql/test/experimental/dataflow/coverage/argumentPassing.py
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.expected
  python/ql/test/experimental/dataflow/testlib.py
  python/ql/test/experimental/dataflow/validTest.py
  python/ql/test/experimental/dataflow/variable-capture/CaptureTest.expected
  python/ql/test/experimental/dataflow/variable-capture/CaptureTest.ql
  python/ql/test/experimental/dataflow/variable-capture/dict.py
  python/ql/test/experimental/dataflow/variable-capture/in.py
  python/ql/test/experimental/dataflow/variable-capture/nonlocal.py
Labels: Python

#4713 [Docs] Combine non-migrated content into single project
  docs/codeql/support/index.rst
  docs/codeql/support/notes-ql-users.rst
  docs/codeql/support/ql-training.rst
Labels: documentation

#4708 JS: Avoid empty filenames in message of js/exposure-of-private-files
  javascript/ql/src/Security/CWE-200/PrivateFileExposure.ql
  javascript/ql/test/query-tests/Security/CWE-200/PrivateFileExposure.expected
  javascript/ql/test/query-tests/Security/CWE-200/private-file-exposure.js
  javascript/ql/test/query-tests/Security/CWE-200/subfolder/package.json
  javascript/ql/test/query-tests/Security/CWE-200/subfolder/private-file-exposure-2.js
Labels: JS

#4585 JS: Make ReDoS.ql understand lots of character classes
  javascript/ql/src/Performance/ReDoS.ql
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/ReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/polynomial-redos.js
  javascript/ql/test/query-tests/Performance/ReDoS/tst.js
Labels: JS

#4634 C++: Make classes in models.implementations private
  cpp/change-notes/2020-11-05-private-models.md
  cpp/ql/src/Critical/NewDelete.qll
  cpp/ql/src/Security/CWE/CWE-020/SafeExternalAPIFunction.qll
  cpp/ql/src/Security/CWE/CWE-020/ir/SafeExternalAPIFunction.qll
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Deallocation.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Fread.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/GetDelim.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/IdentityFunction.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Inet.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/MemberFunction.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Memcpy.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Memset.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/SmartPointer.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdMap.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdSet.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strdup.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strftime.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Swap.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Allocation.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Deallocation.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Iterator.qll
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
  cpp/ql/src/semmle/code/cpp/security/FileWrite.qll
Labels: C++, documentation

#4716 C++: Simplify and generalize EscapesTree::addressMayEscapeMutablyAt
  cpp/ql/src/semmle/code/cpp/dataflow/EscapesTree.qll
Labels: C++

#4644 C++: Add 'unsafe use of this' query
  cpp/change-notes/2020-11-12-unsafe-use-of-this.md
  cpp/config/suites/cpp/correctness
  cpp/ql/src/Likely Bugs/OO/UnsafeUseOfThis.cpp
  cpp/ql/src/Likely Bugs/OO/UnsafeUseOfThis.qhelp
  cpp/ql/src/Likely Bugs/OO/UnsafeUseOfThis.ql
  cpp/ql/test/query-tests/Critical/UnsafeUseOfThis/UnsafeUseOfThis.expected
  cpp/ql/test/query-tests/Critical/UnsafeUseOfThis/UnsafeUseOfThis.qlref
  cpp/ql/test/query-tests/Critical/UnsafeUseOfThis/test.cpp
Labels: C#, C++, documentation

#4593 JS: Add support for react-hot-loader
  javascript/change-notes/2020-11-11-react-hot-loader.md
  javascript/ql/src/semmle/javascript/frameworks/React.qll
  javascript/ql/test/library-tests/frameworks/ReactJS/higherOrderComponent.jsx
Labels: JS, documentation

#4613 C#: C#9 add test cases for discards as lambda/delegate parameters
  csharp/ql/test/library-tests/csharp9/Discard.cs
  csharp/ql/test/library-tests/csharp9/Discard.expected
  csharp/ql/test/library-tests/csharp9/Discard.ql
  csharp/ql/test/library-tests/csharp9/NativeInt.cs
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/nativeInt.ql
Labels: C#

#4717 C++: Improve EscapesTree.qll analysis in the presence of temporary objects
  cpp/ql/src/semmle/code/cpp/dataflow/EscapesTree.qll
  cpp/ql/test/library-tests/defuse/definition.expected
  cpp/ql/test/library-tests/defuse/definitionUsePair.expected
  cpp/ql/test/library-tests/defuse/exprDefinition.expected
  cpp/ql/test/library-tests/defuse/isAddressOfAccess.expected
  cpp/ql/test/library-tests/defuse/pass_by_ref.cpp
  cpp/ql/test/library-tests/defuse/useOfVar.expected
  cpp/ql/test/library-tests/defuse/useOfVarActual.expected
  cpp/ql/test/library-tests/defuse/useUsePair.expected
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/RegressionTests.cpp
Labels: C++

#4612 C#: C#9 Extract local functions without body
  csharp/extractor/Semmle.Extraction.CSharp/Entities/LocalFunction.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/LocalFunction.cs
  csharp/ql/test/library-tests/csharp8/StaticLocalFunctions.expected
  csharp/ql/test/library-tests/csharp9/LocalFunction.cs
  csharp/ql/test/library-tests/csharp9/LocalFunctionWithoutBody.expected
  csharp/ql/test/library-tests/csharp9/LocalFunctions.expected
  csharp/ql/test/library-tests/csharp9/LocalFunctions.ql
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
Labels: C#

#4728 C++: Remove MagicDraw.qll
  cpp/ql/src/semmle/uml/MagicDraw.qll
Labels: C++

#4726 C++: Revert 4558
  cpp/ql/src/semmle/code/cpp/ir/implementation/MemoryAccessKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/experimental/ir/implementation/MemoryAccessKind.qll
  csharp/ql/src/experimental/ir/implementation/Opcode.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRConsistency.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRConsistency.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/test/experimental/ir/ir/raw_ir.expected
  csharp/ql/test/experimental/ir/ir/raw_ir_consistency.expected
  csharp/ql/test/experimental/ir/ir/unaliased_ssa_consistency.expected
Labels: C#, C++

#4654 C#: Handle parenthesized pattern extraction
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/Pattern.cs
  csharp/ql/test/library-tests/csharp9/ParenthesizedPattern.cs
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
Labels: C#

#3454 Java : add request forgery query
  java/ql/src/Security/CWE/CWE-319/HttpsUrls.ql
  java/ql/src/experimental/CWE-918/RequestForgery.java
  java/ql/src/experimental/CWE-918/RequestForgery.qhelp
  java/ql/src/experimental/CWE-918/RequestForgery.ql
  java/ql/src/experimental/CWE-918/RequestForgery.qll
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureBasicAuth.ql
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/src/semmle/code/java/frameworks/JaxWS.qll
  java/ql/src/semmle/code/java/frameworks/Networking.qll
  java/ql/src/semmle/code/java/frameworks/javase/Http.qll
  java/ql/test/experimental/query-tests/security/CWE-918/JaxWsSSRF.java
  java/ql/test/experimental/query-tests/security/CWE-918/RequestForgery.expected
  java/ql/test/experimental/query-tests/security/CWE-918/RequestForgery.java
  java/ql/test/experimental/query-tests/security/CWE-918/RequestForgery.qlref
  java/ql/test/experimental/query-tests/security/CWE-918/RequestForgery2.java
  java/ql/test/experimental/query-tests/security/CWE-918/Sinks.java
  java/ql/test/experimental/query-tests/security/CWE-918/SpringSSRF.java
  java/ql/test/experimental/query-tests/security/CWE-918/options
  java/ql/test/experimental/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/client/Client.java
  java/ql/test/experimental/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/client/ClientBuilder.java
  java/ql/test/experimental/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/client/WebTarget.java
  java/ql/test/experimental/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/core/Configurable.java
  java/ql/test/experimental/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/core/Configuration.java
  java/ql/test/experimental/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/core/Link.java
  java/ql/test/experimental/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/core/UriBuilder.java
  java/ql/test/experimental/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/core/UriBuilderException.java
  java/ql/test/stubs/servlet-api-2.4/javax/servlet/ServletInputStream.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/core/ParameterizedTypeReference.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/http/HttpEntity.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/http/HttpHeaders.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/http/HttpMethod.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/http/HttpStatus.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/http/RequestEntity.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/http/ResponseEntity.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/http/client/ClientHttpResponse.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/web/client/RequestCallback.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/web/client/ResponseExtractor.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/web/client/RestClientException.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/web/client/RestTemplate.java
Labels: Java, documentation

#4662 C#: Extract type patterns
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/Pattern.cs
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/TypePattern.cs
  csharp/ql/test/library-tests/csharp9/typePattern.expected
  csharp/ql/test/library-tests/csharp9/typePattern.ql
Labels: C#

#4729 C++: Use model interfaces in DefaultSafeExternalAPIFunction
  cpp/ql/src/Security/CWE/CWE-020/SafeExternalAPIFunction.qll
  cpp/ql/src/Security/CWE/CWE-020/ir/SafeExternalAPIFunction.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
Labels: C++

#4727 C++/C#/JS/Python/Java XML.qll: Remove abstract from class hierarchy.
  cpp/ql/src/semmle/code/cpp/XML.qll
  csharp/ql/src/semmle/code/csharp/XML.qll
  java/ql/src/semmle/code/xml/XML.qll
  javascript/ql/src/semmle/javascript/XML.qll
  python/ql/src/semmle/python/xml/XML.qll
Labels: C#, C++, JS, Java, Python

#4664 C#: Refactor CFG implementation
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/NonReturning.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreBasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/SuccessorType.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Common.qll
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Consistency.ql
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.ql
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.ql
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.ql
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
Labels: C#

#4731 C++: Remove uses of abstract from the standard library.
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/src/semmle/code/cpp/MemberFunction.qll
  cpp/ql/src/semmle/code/cpp/Print.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/exprs/ComparisonOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
  cpp/ql/src/semmle/code/cpp/internal/QualifiedName.qll
Labels: C++

#4730 C++: Fix join order in definitionHasPhiNode
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C#, C++

#4614 C#: C#9 Add target typed conditional tests
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/TargetType.cs
  csharp/ql/test/library-tests/csharp9/TargetType.expected
  csharp/ql/test/library-tests/csharp9/TargetType.ql
Labels: C#

#4693 Python: Add example of top-level module shadowing stdlib (v2)
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/LocalModuleWithRef.expected
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/LocalModuleWithRef.ql
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/LocalModules.expected
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/LocalModules.ql
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/ModuleWithLocalRef.expected
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/ModuleWithLocalRef.ql
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/README.md
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/code-invalid-package-name/cmd.py
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/code-invalid-package-name/test_fail.py
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/code-invalid-package-name/test_ok.py
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/code-invalid-package-name/unique_name.py
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/code-invalid-package-name/unique_name_use.py
  python/ql/test/library-tests/PointsTo/regressions/wrong/module-imports/conflict-stdlib/options
Labels: Python, documentation

#4736 C++: Downgrade two queries to recommendation
  cpp/change-notes/2020-11-27-downgrade-to-recommendation.md
  cpp/ql/src/Best Practices/Hiding/LocalVariableHidesGlobalVariable.ql
  cpp/ql/src/jsf/4.07 Header Files/AV Rule 35.ql
Labels: C++, documentation

#4738 C#: Revert "Merge pull request #4653 from tamasvajk/feature/csharp9-relational-pattern"
  csharp/change-notes/2020-11-19-Relational-pattern.md
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/Pattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/RecursivePattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/RelationalPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Kinds/ExprKind.cs
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/src/semmlecode.csharp.dbscheme
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/RelationalPattern.cs
  csharp/ql/test/library-tests/csharp9/relationalPattern.expected
  csharp/ql/test/library-tests/csharp9/relationalPattern.ql
  csharp/upgrades/eedef9359e1e4e1ebcf2a1dc9d2ae75d4ea4d160/old.dbscheme
  csharp/upgrades/eedef9359e1e4e1ebcf2a1dc9d2ae75d4ea4d160/semmlecode.csharp.dbscheme
  csharp/upgrades/eedef9359e1e4e1ebcf2a1dc9d2ae75d4ea4d160/upgrade.properties
Labels: C#, documentation

#4610 Java: Query to detect Local Android DoS caused by NFE
  java/ql/src/experimental/Security/CWE/CWE-755/NFEAndroidDoS.java
  java/ql/src/experimental/Security/CWE/CWE-755/NFEAndroidDoS.qhelp
  java/ql/src/experimental/Security/CWE/CWE-755/NFEAndroidDoS.ql
  java/ql/test/experimental/query-tests/security/CWE-755/AndroidManifest.xml
  java/ql/test/experimental/query-tests/security/CWE-755/IntentUtils.java
  java/ql/test/experimental/query-tests/security/CWE-755/NFEAndroidDoS.expected
  java/ql/test/experimental/query-tests/security/CWE-755/NFEAndroidDoS.java
  java/ql/test/experimental/query-tests/security/CWE-755/NFEAndroidDoS.qlref
  java/ql/test/experimental/query-tests/security/CWE-755/SafeActivity.java
  java/ql/test/experimental/query-tests/security/CWE-755/options
Labels: Java, documentation

#4720 Python: better models of `open` function
  python/change-notes/2020-11-25-better-open-models.md
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/library-tests/frameworks/stdlib/FileSystemAccess.py
Labels: Python, documentation

#4357 Add docs on CodeQL Design Patterns
  docs/ql-design-patterns.md
Labels: documentation

#4668 Dataflow: Refactor pruning stages.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Labels: C#, C++, Java, Python

#4747 Python: Fix documentation for path injection.
  python/ql/src/Security/CWE-022/PathInjection.ql
Labels: Python

#4734 [Docs] Add missing introduction text and improve sidebar toc
  docs/codeql/codeql-cli/index.rst
  docs/codeql/codeql-for-visual-studio-code/about-codeql-for-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/codeql-for-visual-studio-code/customizing-settings.rst
  docs/codeql/codeql-for-visual-studio-code/exploring-data-flow-with-path-queries.rst
  docs/codeql/codeql-for-visual-studio-code/exploring-the-structure-of-your-source-code.rst
  docs/codeql/codeql-for-visual-studio-code/index.rst
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/testing-codeql-queries-in-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/troubleshooting-codeql-for-visual-studio-code.rst
  docs/codeql/codeql-language-guides/index.rst
  docs/codeql/codeql-overview/about-codeql.rst
  docs/codeql/codeql-overview/codeql-glossary.rst
  docs/codeql/codeql-overview/codeql-tools.rst
  docs/codeql/codeql-overview/index.rst
  docs/codeql/codeql-overview/supported-languages-and-frameworks.rst
  docs/codeql/conf.py
  docs/codeql/contents.rst
  docs/codeql/ql-language-reference/about-the-ql-language.rst
  docs/codeql/ql-language-reference/aliases.rst
  docs/codeql/ql-language-reference/annotations.rst
  docs/codeql/ql-language-reference/evaluation-of-ql-programs.rst
  docs/codeql/ql-language-reference/expressions.rst
  docs/codeql/ql-language-reference/formulas.rst
  docs/codeql/ql-language-reference/index.rst
  docs/codeql/ql-language-reference/lexical-syntax.rst
  docs/codeql/ql-language-reference/modules.rst
  docs/codeql/ql-language-reference/name-resolution.rst
  docs/codeql/ql-language-reference/predicates.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
  docs/codeql/ql-language-reference/qldoc-comment-specification.rst
  docs/codeql/ql-language-reference/queries.rst
  docs/codeql/ql-language-reference/recursion.rst
  docs/codeql/ql-language-reference/types.rst
  docs/codeql/ql-language-reference/variables.rst
  docs/codeql/writing-codeql-queries/index.rst
Labels: documentation
