Repository github/codeql, pull requests merged in 2020-12, with the labels that each got.

#4725 C#: Always create basic blocks for nodes with a conditional predecessor
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreBasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/TaintedPath.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/guards/BooleanGuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/MatchingGuardedExpr.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#4677 C++: Decrease largeVariable cut-off to 100k
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Labels: C++

#4763 Java: adjust test options for JDK 15 upgrade
  java/ql/test/library-tests/dataflow/records/options
  java/ql/test/library-tests/dataflow/taint-format/options
  java/ql/test/library-tests/printAst/options
  java/ql/test/library-tests/ssa/options
  java/ql/test/query-tests/StringFormat/options
Labels: Java, depends on internal PR

#4739 Python: Add regex FP with + for flags
  python/ql/test/library-tests/regex/Mode.expected
  python/ql/test/library-tests/regex/test.py
Labels: Python

#3839 Java: Uncaught servlet exception
  java/ql/src/experimental/Security/CWE/CWE-600/UncaughtServletException.java
  java/ql/src/experimental/Security/CWE/CWE-600/UncaughtServletException.qhelp
  java/ql/src/experimental/Security/CWE/CWE-600/UncaughtServletException.ql
  java/ql/src/semmle/code/xml/WebXML.qll
  java/ql/test/experimental/query-tests/security/CWE-600/UncaughtServletException.expected
  java/ql/test/experimental/query-tests/security/CWE-600/UncaughtServletException.java
  java/ql/test/experimental/query-tests/security/CWE-600/UncaughtServletException.qlref
  java/ql/test/experimental/query-tests/security/CWE-600/UncaughtServletException2.java
  java/ql/test/experimental/query-tests/security/CWE-600/options
  java/ql/test/experimental/query-tests/security/CWE-600/web.xml
  java/ql/test/stubs/servlet-api-2.4/javax/servlet/GenericServlet.java
  java/ql/test/stubs/servlet-api-2.4/javax/servlet/http/HttpServlet.java
Labels: Java, documentation

#4767 Python: Update change notes for 1.26
  change-notes/1.26/analysis-python.md
Labels: Python, documentation

#4758 C#: Cleanup CIL extraction structure
  csharp/extractor/Semmle.Extraction.CIL/Context.Factories.cs
  csharp/extractor/Semmle.Extraction.CIL/Context.cs
  csharp/extractor/Semmle.Extraction.CIL/EmptyContext.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/ArrayType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/CilTypeKind.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/ConstructedType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/CustomAttributeDecoder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/DefinitionField.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/DefinitionMethod.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/ErrorType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Event.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/ExceptionRegion.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/File.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/IFileOrFolder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/ILocation.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/IMember.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/ITypeSignature.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Instruction.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/LocalVariable.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/MemberReferenceField.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/MemberReferenceMethod.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/MethodImplementation.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/MethodSpecificationMethod.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/MethodTypeParameter.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Namespace.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Parameter.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/PdbSourceFile.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/PointerType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/PrimitiveType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/SignatureDecoder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/SourceLocation.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeContainer.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeDefinitionType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeParameter.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeReferenceType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeSignatureDecoder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeTypeParameter.cs
  csharp/extractor/Semmle.Extraction.CIL/GenericContext.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/IPdb.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/ISourceFile.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/Location.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/MdProvider.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/MetadataPdbReader.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/Method.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/NativePdbReader.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/PdbReader.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/SequencePoint.cs
  csharp/extractor/Semmle.Extraction.CIL/Tuples.cs
Labels: C#

#4754 C++: Expose more information in FormattingFunction and make subclasses private.
  cpp/change-notes/2020-11-05-formatting-function.md
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/src/semmle/code/cpp/security/BufferWrite.qll
  cpp/ql/src/semmle/code/cpp/security/FileWrite.qll
  cpp/ql/src/semmle/code/cpp/security/OutputWrite.qll
  cpp/ql/src/semmle/code/cpp/security/PrintfLike.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTrackingImpl.qll
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/common.h
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/printf1.h
Labels: C++, depends on internal PR, documentation

#4740 Python: Proper models of json.loads and json.dumps
  python/ql/src/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/TestTaint.expected
Labels: Python

#4700 Python: Add StringConstCompare BarrierGuard
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/dataflow/new/BarrierGuards.qll
  python/ql/src/semmle/python/security/dataflow/CodeInjection.qll
  python/ql/src/semmle/python/security/dataflow/CommandInjection.qll
  python/ql/src/semmle/python/security/dataflow/PathInjection.qll
  python/ql/src/semmle/python/security/dataflow/ReflectedXSS.qll
  python/ql/src/semmle/python/security/dataflow/SqlInjection.qll
  python/ql/src/semmle/python/security/dataflow/UnsafeDeserialization.qll
  python/ql/test/experimental/dataflow/tainttracking/commonSanitizer/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/commonSanitizer/TestTaint.ql
  python/ql/test/experimental/dataflow/tainttracking/commonSanitizer/test_string_const_compare.py
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/TestTaint.ql
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/test_logical.py
  python/ql/test/experimental/dataflow/tainttracking/defaultSanitizer/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultSanitizer/TestTaint.ql
  python/ql/test/experimental/dataflow/tainttracking/defaultSanitizer/test_string_eq.py
  python/ql/test/query-tests/Security/CWE-094/CodeInjection.expected
  python/ql/test/query-tests/Security/CWE-094/code_injection.py
Labels: Python

#4550 [docs] Add new process to generate query help for help site
  .github/workflows/generate-query-help-docs.yml
  docs/codeql/conf.py
  docs/codeql/query-help-markdown.py
  docs/codeql/query-help/conf.py
  docs/codeql/query-help/cpp.rst
  docs/codeql/query-help/csharp.rst
  docs/codeql/query-help/go.rst
  docs/codeql/query-help/index.rst
  docs/codeql/query-help/java.rst
  docs/codeql/query-help/javascript.rst
  docs/codeql/query-help/python.rst
  docs/codeql/query-help/readme.md
  docs/codeql/reusables/query-help-overview.rst
Labels: documentation

#4760 C#: Fix CIL trap file writing in debug mode
  csharp/extractor/Semmle.Extraction/Context.cs
Labels: C#

#4753 JavaScript: Add models for more Mongoose methods.
  javascript/change-notes/2020-11-30-nosql.md
  javascript/ql/src/Security/CWE-089/SqlInjection.qhelp
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
Labels: JS, documentation

#4766 C++: Cleanup data/taint flow tests
  cpp/ql/test/TestUtilities/dataflow/FlowTestCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/DataflowTestCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/IRDataflowTestCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.ql
  cpp/ql/test/library-tests/dataflow/fields/ASTConfiguration.qll
  cpp/ql/test/library-tests/dataflow/fields/IRConfiguration.qll
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.ql
  cpp/ql/test/library-tests/dataflow/fields/flow.ql
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.ql
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.ql
  cpp/ql/test/library-tests/dataflow/fields/path-flow.ql
  cpp/ql/test/library-tests/dataflow/taint-tests/IRTaintTestCommon.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/TaintTestCommon.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.ql
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.ql
Labels: C++

#4704 C#: Update DB stats file
  csharp/ql/src/Language Abuse/UselessTypeTest.ql
  csharp/ql/src/Language Abuse/UselessUpcast.ql
  csharp/ql/src/semmle/code/csharp/Conversion.qll
  csharp/ql/src/semmle/code/csharp/Variable.qll
  csharp/ql/src/semmle/code/csharp/commons/StructuralComparison.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/frameworks/NHibernate.qll
  csharp/ql/src/semmlecode.csharp.dbscheme.stats
Labels: C#

#4546 JS: Add ElectronShellOpenExternalSink class for Electron framework security
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirect.qll
Labels: JS

#4722 C++: Filter out lower bounds on overflowing exprs
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Labels: C++

#4776 JS: Add test case for electron.shell.openExternal sink
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/electron.js
Labels: JS

#4719 C++: Create tests readme.
  cpp/ql/test/README.md
Labels: C++, documentation

#4678 C#: Add queries to check untrusted data flow to external APIs
  csharp/ql/src/Security Features/CWE-020/ExternalAPISinkExample.cs
  csharp/ql/src/Security Features/CWE-020/ExternalAPIsUsedWithUntrustedData.qhelp
  csharp/ql/src/Security Features/CWE-020/ExternalAPIsUsedWithUntrustedData.ql
  csharp/ql/src/Security Features/CWE-020/UntrustedDataToExternalAPI.qhelp
  csharp/ql/src/Security Features/CWE-020/UntrustedDataToExternalAPI.ql
  csharp/ql/src/semmle/code/csharp/frameworks/System.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/ExternalAPIs.qll
  csharp/ql/test/query-tests/Security Features/CWE-020/ExternalAPIsUsedWithUntrustedData.expected
  csharp/ql/test/query-tests/Security Features/CWE-020/ExternalAPIsUsedWithUntrustedData.qlref
  csharp/ql/test/query-tests/Security Features/CWE-020/UntrustedData.cs
  csharp/ql/test/query-tests/Security Features/CWE-020/UntrustedDataToExternalAPI.expected
  csharp/ql/test/query-tests/Security Features/CWE-020/UntrustedDataToExternalAPI.qlref
Labels: C#, documentation

#4746 Java: Improve performance of SSA.
  java/ql/src/semmle/code/java/dataflow/SSA.qll
  java/ql/src/semmle/code/java/dataflow/internal/BaseSSA.qll
Labels: Java

#4718 Java: Remove some deprecated classes.
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/src/semmle/code/java/security/Validation.qll
Labels: Java

#4745 CPP: Add query for CWE-191 into experimental this reveals a dangerous comparison
  cpp/ql/src/experimental/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.c
  cpp/ql/src/experimental/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.ql
Labels: C++, documentation

#4744 JavaScript: Factor out HTML extractor
  javascript/extractor/src/com/semmle/js/extractor/ExtractorConfig.java
  javascript/extractor/src/com/semmle/js/extractor/HTMLExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/html-text-extraction/output/trap/text-examples.html.trap
  javascript/extractor/tests/html/output/trap/entities.html.trap
  javascript/extractor/tests/html/output/trap/module.html.trap
  javascript/extractor/tests/html/output/trap/tst.html.trap
  javascript/extractor/tests/html/output/trap/tst.xhtml.trap
  javascript/extractor/tests/html/output/trap/tst2.html.trap
  javascript/extractor/tests/html/output/trap/tst2.xhtml.trap
  javascript/extractor/tests/node/output/trap/tst.html.trap
  javascript/extractor/tests/shebang/output/trap/tst.html.trap
Labels: JS, depends on internal PR

#4781 C#: Add tests for `PersistentCookie.ql`
  csharp/ql/test/query-tests/Security Features/CWE-539/PersistentCookie/PersistentCookie.cs
  csharp/ql/test/query-tests/Security Features/CWE-539/PersistentCookie/PersistentCookie.expected
  csharp/ql/test/query-tests/Security Features/CWE-539/PersistentCookie/PersistentCookie.qlref
  csharp/ql/test/resources/stubs/System.Web.cs
Labels: C#

#4787 C++: Minor test README fixes
  cpp/ql/test/README.md
Labels: C++, documentation

#4762 JS: Merge SSTI query into js/code-injection
  javascript/ql/src/Security/CWE-094/CodeInjection.qhelp
  javascript/ql/src/Security/CWE-094/CodeInjection.ql
  javascript/ql/src/Security/CWE-094/examples/ServerSideTemplateInjection.js
  javascript/ql/src/Security/CWE-094/examples/ServerSideTemplateInjectionSafe.js
  javascript/ql/src/experimental/Security/CWE-94/ServerSideTemplateInjection.qhelp
  javascript/ql/src/experimental/Security/CWE-94/ServerSideTemplateInjection.ql
  javascript/ql/src/experimental/Security/CWE-94/examples/ServerSideTemplateInjection.js
  javascript/ql/src/experimental/Security/CWE-94/examples/ServerSideTemplateInjectionSafe.js
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/template-sinks.js
Labels: JS, documentation

#4768 Update query and library links for new locations
  docs/codeql/_templates/layout.html
  docs/codeql/codeql-cli/about-the-codeql-cli.rst
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/codeql-cli-reference.rst
  docs/codeql/codeql-cli/creating-codeql-databases.rst
  docs/codeql/codeql-cli/creating-codeql-query-suites.rst
  docs/codeql/codeql-cli/exit-codes.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/index.rst
  docs/codeql/codeql-cli/sarif-output.rst
  docs/codeql/codeql-cli/testing-custom-queries.rst
  docs/codeql/codeql-cli/testing-query-help-files.rst
  docs/codeql/codeql-cli/upgrading-codeql-databases.rst
  docs/codeql/codeql-cli/using-custom-queries-with-the-codeql-cli.rst
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/codeql-language-guides/abstract-syntax-tree-classes-for-working-with-go-programs.rst
  docs/codeql/codeql-language-guides/abstract-syntax-tree-classes-for-working-with-java-programs.rst
  docs/codeql/codeql-language-guides/abstract-syntax-tree-classes-for-working-with-javascript-and-typescript-programs.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-and-tracking-tainted-data-in-python.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-javascript.rst
  docs/codeql/codeql-language-guides/codeql-library-for-cpp.rst
  docs/codeql/codeql-language-guides/codeql-library-for-csharp.rst
  docs/codeql/codeql-language-guides/codeql-library-for-go.rst
  docs/codeql/codeql-language-guides/codeql-library-for-javascript.rst
  docs/codeql/codeql-language-guides/codeql-library-for-python.rst
  docs/codeql/codeql-language-guides/codeql-library-for-typescript.rst
  docs/codeql/codeql-language-guides/conversions-and-classes-in-cpp.rst
  docs/codeql/codeql-language-guides/data-flow-cheat-sheet-for-javascript.rst
  docs/codeql/codeql-language-guides/detecting-a-potential-buffer-overflow.rst
  docs/codeql/codeql-language-guides/functions-in-python.rst
  docs/codeql/codeql-language-guides/pointer-analysis-and-type-inference-in-python.rst
  docs/codeql/codeql-language-guides/using-the-guards-library-in-cpp.rst
  docs/codeql/codeql-language-guides/using-type-tracking-for-api-modeling.rst
  docs/codeql/conf.py
  docs/codeql/index.html
  docs/codeql/ql-language-reference/expressions.rst
  docs/codeql/ql-training/cpp/bad-overflow-guard.rst
  docs/codeql/ql-training/cpp/control-flow-cpp.rst
  docs/codeql/ql-training/cpp/data-flow-cpp.rst
  docs/codeql/ql-training/cpp/intro-ql-cpp.rst
  docs/codeql/ql-training/java/intro-ql-java.rst
  docs/codeql/ql-training/java/query-injection-java.rst
  docs/codeql/ql-training/slide-snippets/local-data-flow.rst
  docs/codeql/reusables/advanced-query-execution.rst
  docs/codeql/reusables/cpp-further-reading.rst
  docs/codeql/reusables/csharp-further-reading.rst
  docs/codeql/reusables/go-further-reading.rst
  docs/codeql/reusables/java-further-reading.rst
  docs/codeql/reusables/javascript-further-reading.rst
  docs/codeql/reusables/python-further-reading.rst
  docs/codeql/writing-codeql-queries/about-data-flow-analysis.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
  docs/codeql/writing-codeql-queries/query-help-files.rst
Labels: Python, documentation

#4777 C#: Improve join-order in `DefaultToString.qll`
  csharp/ql/src/Useless code/DefaultToString.qll
Labels: C#

#4790 Fix links to CodeQL library pages
  docs/codeql/codeql-language-guides/abstract-syntax-tree-classes-for-working-with-java-programs.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-and-tracking-tainted-data-in-python.rst
  docs/codeql/codeql-language-guides/codeql-library-for-cpp.rst
  docs/codeql/codeql-language-guides/codeql-library-for-python.rst
Labels: documentation

#4773 Python: Path injection improvements
  python/change-notes/2020-12-03-model-realpath-abspath.md
  python/ql/src/Security/CWE-022/PathInjection.qhelp
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/path_injection.py
Labels: Python, documentation

#4759 C#: Improve array argument CIL extraction for attributes
  csharp/extractor/Semmle.Extraction.CIL/Entities/Attribute.cs
  csharp/ql/test/library-tests/cil/attributes/Test.cs
  csharp/ql/test/library-tests/cil/attributes/attribute.expected
  csharp/ql/test/library-tests/cil/attributes/attribute.ql
Labels: C#

#4803 Update JavaScript dataflow guide filename to match article title
  docs/codeql/codeql-language-guides/analyzing-data-flow-and-tracking-tainted-data-in-python.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-javascript-and-typescript.rst
  docs/codeql/codeql-language-guides/codeql-for-javascript.rst
  docs/codeql/codeql-language-guides/data-flow-cheat-sheet-for-javascript.rst
  docs/codeql/codeql-language-guides/using-flow-labels-for-precise-data-flow-analysis.rst
  docs/codeql/codeql-language-guides/using-type-tracking-for-api-modeling.rst
  docs/codeql/writing-codeql-queries/about-data-flow-analysis.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
Labels: documentation

#4799 Java: Fix false positive in the XXE query
  java/change-notes/2020-12-09-xxe-fp-fix.md
  java/ql/src/semmle/code/java/security/XmlParsers.qll
  java/ql/test/query-tests/security/CWE-611/SAXParserTests.java
Labels: Java, documentation

#4783 C++: More use of set literals.
  cpp/ql/src/Best Practices/Magic Constants/MagicConstants.qll
  cpp/ql/src/DefaultOptions.qll
  cpp/ql/src/JPL_C/LOC-2/Rule 05/HeapMemory.ql
  cpp/ql/src/JPL_C/LOC-2/Rule 07/ThreadSafety.ql
  cpp/ql/src/JPL_C/LOC-2/Rule 09/Semaphores.qll
  cpp/ql/src/JPL_C/LOC-3/Rule 17/BasicIntTypes.ql
  cpp/ql/src/JPL_C/Tasks.qll
  cpp/ql/src/Likely Bugs/Conversion/LossyFunctionResultCast.ql
  cpp/ql/src/Security/CWE/CWE-457/InitializationFunctions.qll
  cpp/ql/src/Security/CWE/CWE-732/FilePermissions.qll
  cpp/ql/src/semmle/code/cpp/File.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/Print.qll
  cpp/ql/src/semmle/code/cpp/commons/DateTime.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Dataflow.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Deallocation.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Memset.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strdup.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Allocation.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Deallocation.qll
  cpp/ql/src/semmle/code/cpp/security/BufferAccess.qll
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
  cpp/ql/src/semmle/code/cpp/security/Encryption.qll
  cpp/ql/src/semmle/code/cpp/security/Security.qll
Labels: C++

#4801 Python: Add sqlite3 support
  python/change-notes/2020-12-09-add-sqlite3-model.md
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/library-tests/frameworks/stdlib/pep249.py
Labels: Python, documentation

#4813 [docs] Fix find and replace error
  docs/codeql/codeql-cli/about-ql-packs.rst
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
  docs/codeql/index.html
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
  docs/codeql/writing-codeql-queries/find-the-thief.rst
  docs/codeql/writing-codeql-queries/introduction-to-ql.rst
  docs/codeql/writing-codeql-queries/metadata-for-codeql-queries.rst
Labels: documentation

#4805 C++: Refine examples and tests for cpp/memory-unsafe-function-scan (experimental) query
  cpp/ql/src/experimental/Security/CWE/CWE-120/MemoryUnsafeFunctionScan.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/semmle/tests/MemoryUnsafeFunctionScan.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/semmle/tests/MemoryUnsafeFunctionScan.expected
Labels: C++

#4778 JS: add new prototype pollution query and reorganize
  javascript/change-notes/2020-11-25-prototype-pollution.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-843/TypeConfusionThroughParameterTampering.ql
  javascript/ql/src/Security/CWE-915/PrototypePollutingAssignment.qhelp
  javascript/ql/src/Security/CWE-915/PrototypePollutingAssignment.ql
  javascript/ql/src/Security/CWE-915/PrototypePollutingFunction.qhelp
  javascript/ql/src/Security/CWE-915/PrototypePollutingFunction.ql
  javascript/ql/src/Security/CWE-915/PrototypePollutingMergeCall.qhelp
  javascript/ql/src/Security/CWE-915/PrototypePollutingMergeCall.ql
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingAssignment.js
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingAssignmentFixed.js
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingFunction.js
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingFunction_fixed.js
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingFunction_fixed2.js
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingMergeCall1.js
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingMergeCall2.js
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingMergeCall_fixed.json
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/security/TaintedObject.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollutingAssignment.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollutingAssignmentCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TypeConfusionThroughParameterTamperingCustomizations.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/callbacks.js
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollution.qlref
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.qlref
  javascript/ql/test/query-tests/Security/CWE-843/TypeConfusionThroughParameterTampering.expected
  javascript/ql/test/query-tests/Security/CWE-843/tst.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.qlref
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/tst.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/PrototypePollutingFunction.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/PrototypePollutingFunction.qlref
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/examples/PrototypePollutingFunction.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/examples/PrototypePollutingFunction_fixed.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/examples/PrototypePollutingFunction_fixed2.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/path-assignment.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/tests.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingMergeCall/PrototypePollutingMergeCall.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingMergeCall/PrototypePollutingMergeCall.qlref
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingMergeCall/angularmerge.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingMergeCall/src-non-vulnerable-lodash/package.json
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingMergeCall/src-non-vulnerable-lodash/tst.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingMergeCall/src-vulnerable-lodash/package.json
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingMergeCall/src-vulnerable-lodash/tst.js
Labels: JS, documentation

#4780 C#: Add missing CFG edges for nested `finally` blocks
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Finally.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.ql
Labels: C#

#4721 JS: Add suffix/prefix construction to js/redos
  javascript/ql/src/Performance/ReDoS.ql
  javascript/ql/src/semmle/javascript/security/performance/SuperlinearBackTracking.qll
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/ReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/tst.js
Labels: JS

#4819 Python: Model `execute` on a DB connection
  python/ql/src/semmle/python/frameworks/PEP249.qll
  python/ql/test/experimental/library-tests/frameworks/stdlib/pep249.py
Labels: Python

#4820 Python: Add PyMySQL modeling
  python/change-notes/2020-12-14-add-PyMySQL-model.md
  python/ql/src/semmle/python/Frameworks.qll
  python/ql/src/semmle/python/frameworks/MySQLdb.qll
  python/ql/src/semmle/python/frameworks/MysqlConnectorPython.qll
  python/ql/src/semmle/python/frameworks/Psycopg2.qll
  python/ql/src/semmle/python/frameworks/PyMySQL.qll
  python/ql/test/experimental/library-tests/frameworks/pymysql/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/pymysql/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/pymysql/pep249.py
Labels: Python, documentation

#4798 Python: Add example FP for reflected XSS
  python/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  python/ql/test/query-tests/Security/CWE-079/reflected_xss.py
Labels: Python

#4822 C++: Bring 'swap' models together.
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdMap.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdPair.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdSet.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Swap.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Labels: C++

#4796 C#: Various simplifications to CFG logic
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreBasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/ModulusAnalysisSpecific.qll
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/frameworks/test/Test.expected
Labels: C#

#4797 Python: Model sources from stdlib HTTP servers
  python/change-notes/2020-12-08-stdlib-http-source-modeling.md
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/library-tests/frameworks/stdlib/TestTaint.expected
  python/ql/test/experimental/library-tests/frameworks/stdlib/TestTaint.ql
  python/ql/test/experimental/library-tests/frameworks/stdlib/http_server.py
Labels: Python, documentation

#4802 JavaScript: Allow specifying additional remote flow sources through JSON.
  docs/codeql/codeql-language-guides/codeql-for-javascript.rst
  docs/codeql/codeql-language-guides/specifying-additional-remote-flow-sources-for-javascript.rst
  javascript/change-notes/2020-12-09-external-flow-sources.md
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/ql/src/semmle/javascript/security/dataflow/RemoteFlowSources.qll
  javascript/ql/test/library-tests/RemoteFlowSources/RemoteFlowSources.expected
  javascript/ql/test/library-tests/RemoteFlowSources/RemoteFlowSources.ql
  javascript/ql/test/library-tests/RemoteFlowSources/codeql-javascript-remote-flow-sources.json
  javascript/ql/test/library-tests/RemoteFlowSources/tst.js
Labels: JS, documentation

#4831 C++: Fix Printf.qll specsAreKnown
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/test.c
Labels: C++

#4830 Update supported Go frameworks
  docs/codeql/support/reusables/frameworks.rst
Labels: documentation

#4686 JS: remove FPs in `js/build-artifact-leak` where the "leaked" properties are constrained to a safe subset
  javascript/change-notes/2020-12-16-build-artifact-leak.md
  javascript/ql/src/semmle/javascript/security/dataflow/BuildArtifactLeakCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextLoggingCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-312/build-leaks.js
Labels: JS, documentation

#4733 JS: Add more models for command parsing libraries in js/indirect-command-line-injection
  javascript/change-notes/2020-12-16-indirect-cmd-libraries.md
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/command-line-parameter-command-injection.js
Labels: JS, documentation

#4838 [CodeQL docs] Fix two CSS bugs
  docs/codeql/_static/custom.css_t
Labels: documentation

#4839 [CodeQL docs] Fix two CSS bugs (rc/1.26)
  docs/codeql/_static/custom.css_t
Labels: documentation

#4832 [docs] Add GitHub favicon to CodeQL docs
  docs/codeql/conf.py
  docs/codeql/images/site/favicon.ico
  docs/codeql/index.html
  docs/codeql/query-help/conf.py
  docs/codeql/support/conf.py
Labels: depends on internal PR, documentation

#4775 C#: Improve CIL attribute decoding
  csharp/extractor/Semmle.Extraction.CIL/Context.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/ArrayType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/ConstructedType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/CustomAttributeDecoder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/DefinitionMethod.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/ErrorType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/GenericsHelper.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/MethodTypeParameter.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/NamedTypeIdWriter.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/NoMetadataHandleType.FullyQualifiedNameParser.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/NoMetadataHandleType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/PointerType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/PrimitiveType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/SignatureDecoder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeDefinitionType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeParameter.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeReferenceType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeTypeParameter.cs
  csharp/extractor/Semmle.Extraction.CIL/GenericContext.cs
  csharp/extractor/Semmle.Util/StringExtensions.cs
  csharp/ql/test/library-tests/cil/attributes/attribute.expected
Labels: C#

#4827 Python: Reword QLDoc for class modeling with type-tracking
  python/.vscode/ql.code-snippets
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/Fabric.qll
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/src/semmle/python/frameworks/PEP249.qll
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/src/semmle/python/frameworks/Werkzeug.qll
Labels: Python

#4749 Python: Add some command injection tests
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/test_reference.py
  python/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-078/command_injection.py
Labels: Python

#4735 Python: Untrusted data used in external APIs
  python/ql/src/Security/CWE-020-ExternalAPIs/ExternalAPISinkExample.py
  python/ql/src/Security/CWE-020-ExternalAPIs/ExternalAPITaintStepExample.py
  python/ql/src/Security/CWE-020-ExternalAPIs/ExternalAPIs.qll
  python/ql/src/Security/CWE-020-ExternalAPIs/ExternalAPIsUsedWithUntrustedData.qhelp
  python/ql/src/Security/CWE-020-ExternalAPIs/ExternalAPIsUsedWithUntrustedData.ql
  python/ql/src/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.qhelp
  python/ql/src/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.ql
  python/ql/src/python.qll
  python/ql/src/semmle/python/Unit.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/dataflow/new/internal/TaintTrackingPublic.qll
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/ExternalAPIsUsedWithUntrustedData.expected
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/ExternalAPIsUsedWithUntrustedData.qlref
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.expected
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.qlref
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/test.py
Labels: Python, documentation

#4824 C++: Add cases in the Allocation model.
  cpp/ql/src/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strdup.qll
  cpp/ql/test/query-tests/Critical/NewFree/NewFreeMismatch.expected
  cpp/ql/test/query-tests/Critical/NewFree/test.cpp
Labels: C++

#4841 Mergeback rc/1.26
  docs/codeql/support/reusables/frameworks.rst
Labels: documentation

#4833 Java: Add missing broken crypto algorithms
  java/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.qhelp
  java/ql/src/semmle/code/java/security/Encryption.qll
  java/ql/test/library-tests/Encryption/Test.java
  java/ql/test/library-tests/Encryption/cryptoalgospec.expected
  java/ql/test/library-tests/Encryption/insecure.expected
  java/ql/test/library-tests/Encryption/secure.expected
Labels: Java, documentation

#4779 Python: Add modeling of django class based view handlers
  python/change-notes/2020-12-04-django-class-based-view-handlers.md
  python/ql/src/semmle/python/Concepts.qll
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/web/HttpConstants.qll
  python/ql/test/experimental/library-tests/frameworks/django-v1/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/urls.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/views.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testproj/settings.py
Labels: Python, documentation

#4757 Python: Enclosing callable for synthetic arguments
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/consistency/test.py
Labels: Python

#4844 Add provisional support for ServiceStack framework to feature branch
  csharp/ql/src/semmle/code/csharp/frameworks/ServiceStack.qll
  csharp/ql/src/semmle/code/csharp/frameworks/Sql.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/XSS.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsources/Remote.qll
Labels: C#

#4842 C#: Recognize format methods without insertion parameters
  csharp/change-notes/2020-12-17-format-method-empty-overload.md
  csharp/ql/src/API Abuse/FormatInvalid.ql
  csharp/ql/src/API Abuse/FormatInvalidBad.cs
  csharp/ql/src/Security Features/CWE-134/UncontrolledFormatString.ql
  csharp/ql/src/semmle/code/csharp/frameworks/Format.qll
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatInvalid.cs
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatInvalid.expected
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatInvalidBad.cs
  csharp/ql/test/query-tests/API Abuse/FormatMissingArgument/FormatMissingArgument.cs
  csharp/ql/test/query-tests/API Abuse/FormatMissingArgument/FormatMissingArgument.expected
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.cs
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.expected
Labels: C#, documentation

#4856 C++: Test the AST wrapper for IR GVN
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ast_ir_gvn.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ast_ir_gvn.ql
Labels: C++

#4846 C++: Instruction -> Operand interleaving for DefaultTaintTracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
Labels: C++

#4859 Fix typo in docs title
  docs/codeql/query-help/java.rst
Labels: documentation

#4855 Fix for csharp docs
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-csharp.rst
Labels: documentation

#4863 C++: Overridable isSource on DefaultTaintTracking
  cpp/ql/src/Security/CWE/CWE-079/CgiXss.ql
  cpp/ql/src/Security/CWE/CWE-313/CleartextSqliteDatabase.ql
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#4732 JS: Add `security` tag to js/angular/double-compilation
  javascript/ql/src/AngularJS/DoubleCompilation.ql
Labels: JS

#4860 JS: recognize more exported functions in js/shell-command-constructed-from-input
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
Labels: JS

#4866 JS: add js/conditional-bypass example as a test case
  javascript/ql/test/query-tests/Security/CWE-807/ConditionalBypass.expected
  javascript/ql/test/query-tests/Security/CWE-807/DifferentKindsComparisonBypass.expected
  javascript/ql/test/query-tests/Security/CWE-807/example_bypass.js
Labels: JS

#4865 JS: fixup for execa.shell and execa.shellSync models
  javascript/change-notes/202020-12-22-execa.md
  javascript/ql/src/semmle/javascript/frameworks/SystemCommandExecutors.qll
  javascript/ql/test/query-tests/Security/CWE-078/ShellCommandInjectionFromEnvironment.expected
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/tst_shell-command-injection-from-environment.js
Labels: JS, documentation

#4868 JS: Recognize bound exported functions in `js/shell-command-constructed-from-input`
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: JS
