Repository github/codeql, pull requests merged in 2020-02, with the labels that each got.

#2549 Python: Fix several bad join orders.
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
Labels: Python

#2653 JS: fix a few FPs in js/exception-xss
  javascript/ql/src/semmle/javascript/frameworks/Logging.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ExceptionXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssWithCustomSanitizer.expected
  javascript/ql/test/query-tests/Security/CWE-079/exception-xss.js
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
Labels: JS

#2737 C++: Interprocedural indirections in DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
Labels: C++

#2736 C++: Workaround for problem with memcpy flow
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Labels: C++

#2748 C++: Indirection for ValueNumbering
  cpp/ql/src/semmle/code/cpp/valuenumbering/GlobalValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/valuenumbering/GlobalValueNumberingImpl.qll
Labels: C++

#2731 JS: fix FP in js/path-injection by recognizing more prefix checks
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/src/semmle/javascript/StringOps.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/test/library-tests/StringOps/StartsWith/StartsWith.expected
  javascript/ql/test/library-tests/StringOps/StartsWith/tst.js
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/normalizedPaths.js
Labels: Awaiting evaluation, JS

#2755 C++: Don't use GVN in AST DataFlow BarrierNode
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/BarrierGuard.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
Labels: C++

#2710 C#: Remove false positive in cs/non-short-circuit
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/Likely Bugs/DangerousNonShortCircuitLogic.ql
  csharp/ql/test/query-tests/Likely Bugs/DangerousNonShortCircuitLogic/DangerousNonShortCircuitLogic.cs
Labels: C#

#2592 Python: Remove manual TC from `ssaShortCut`.
  python/ql/src/semmle/python/pointsto/PointsTo.qll
Labels: Python

#2757 JavaScript: Teach `resolveMainModule` to try adding extensions.
  javascript/ql/src/semmle/javascript/NodeModuleResolutionImpl.qll
  javascript/ql/test/library-tests/NPM/Modules.expected
  javascript/ql/test/library-tests/NPM/NPMPackage_getMainModule.expected
  javascript/ql/test/library-tests/NPM/PackageJSON.expected
  javascript/ql/test/library-tests/NPM/src/node_modules/d/main.js
  javascript/ql/test/library-tests/NPM/src/node_modules/d/package.json
Labels: JS

#2695 C++: add diff tests for DefaultTaintTracking
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.ql
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.ql
Labels: C++

#2758 JS: Model concat() calls as string concatenation
  javascript/ql/src/semmle/javascript/StringConcatenation.qll
  javascript/ql/test/library-tests/StringConcatenation/ClassContainsTwo.expected
  javascript/ql/test/library-tests/StringConcatenation/ContainsTwo.expected
  javascript/ql/test/library-tests/StringConcatenation/StringOps.expected
  javascript/ql/test/library-tests/StringConcatenation/tst.js
Labels: Awaiting evaluation, JS

#2715 JS: add support for private fields in classes
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/src/com/semmle/jcorn/TokenType.java
  javascript/extractor/tests/shebang/output/trap/tst.html.trap
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/Classes/ClassFlow.qll
  javascript/ql/test/library-tests/Classes/PrivateField.qll
  javascript/ql/test/library-tests/Classes/dataflow.js
  javascript/ql/test/library-tests/Classes/privateFields.js
  javascript/ql/test/library-tests/Classes/tests.expected
  javascript/ql/test/library-tests/Classes/tests.ql
  javascript/ql/test/query-tests/LanguageFeatures/SyntaxError/SyntaxError.expected
  javascript/ql/test/query-tests/LanguageFeatures/SyntaxError/destructingPrivate.js
  javascript/ql/test/query-tests/LanguageFeatures/SyntaxError/privateMethod.js
Labels: JS

#2703 C++: IR dataflow through modeled functions
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#2741 JS: add additional flow steps to js/path-injection
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/tainted-string-steps.js
Labels: JS

#2619 TS: Handle monorepos by rewriting package.json
  javascript/extractor/lib/typescript/src/common.ts
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/virtual_source_root.ts
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/DependencyInstallationResult.java
  javascript/extractor/src/com/semmle/js/extractor/EnvironmentVariables.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Labels: JS

#2738 Java: Add change note for LDAP injection query.
  change-notes/1.24/analysis-java.md
Labels: Java

#2727 Update expected results for changes in Extractor FE
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/locations/overloaded_operators/locations.expected
  cpp/ql/test/library-tests/permissive/calls.expected
  cpp/ql/test/query-tests/definitions/definitions.expected
Labels: C++, depends on internal PR

#2735 JS: Manually prune data flow in prototype-pollution-utility
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Labels: JS

#2759 Java: Move some taint tests.
  java/ql/test/library-tests/dataflow/taint-ioutils/Test.java
  java/ql/test/library-tests/dataflow/taint-ioutils/dataFlow.expected
  java/ql/test/library-tests/dataflow/taint-ioutils/dataFlow.ql
  java/ql/test/library-tests/dataflow/taint-ioutils/options
  java/ql/test/library-tests/dataflow/taint/B.java
  java/ql/test/library-tests/dataflow/taint/MethodFlow.java
  java/ql/test/library-tests/dataflow/taint/StringBuilderTests.java
  java/ql/test/library-tests/dataflow/taint/Varargs.java
  java/ql/test/library-tests/dataflow/taint/test.expected
  java/ql/test/library-tests/dataflow/taintsources/A.java
  java/ql/test/library-tests/dataflow/taintsources/RmiFlow.java
  java/ql/test/library-tests/dataflow/taintsources/RmiFlowImpl.java
  java/ql/test/library-tests/dataflow/taintsources/local.expected
  java/ql/test/library-tests/dataflow/taintsources/local.ql
  java/ql/test/library-tests/dataflow/taintsources/options
  java/ql/test/library-tests/dataflow/taintsources/remote.expected
  java/ql/test/library-tests/dataflow/taintsources/remote.ql
  java/ql/test/stubs/apache-commons-io-2.6/LICENSE.txt
  java/ql/test/stubs/apache-commons-io-2.6/org/apache/commons/io/IOUtils.java
Labels: Java

#2769 Java: Improve performance.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Labels: C#, C++, Java

#2750 C++: Support implicit casts better in range analysis
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/test.cpp
Labels: C++

#2730 JS: model path.parse and support path.win32/posix
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/UriLibraries.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/library-tests/frameworks/UriLibraries/UriLibraryStep.expected
  javascript/ql/test/library-tests/frameworks/UriLibraries/path-parse.js
Labels: JS

#2740 C++: Prevent `AliasedVirtualVariable` from overlapping string literals
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C#, C++

#2745 C++: Fix bug in range analysis.
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/test.cpp
Labels: C++

#2777 JS: update expected output of TaintedPath tests
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/tainted-string-steps.js
Labels: JS

#2686 C++: Move the LoadInstruction from `++` to `e` in `e++`.
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/dataflow/crement/crements.cpp
  cpp/ql/test/library-tests/dataflow/crement/from0.expected
  cpp/ql/test/library-tests/dataflow/crement/from0.ql
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
Labels: C++

#2764 Add DefaultFullHttpResponse to Netty Check
  java/ql/src/Security/CWE/CWE-113/NettyResponseSplitting.ql
Labels: Java

#2770 JS: Bump extractor version string
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Labels: JS

#2760 C++: Emulate old security library's use of predictable more accurately.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/test.cpp
Labels: C++

#2772 C++: Better value numbering support for loading fields in IR
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/GlobalValueNumbering.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/RedundantNullCheckSimple/RedundantNullCheckSimple.cpp
  cpp/ql/test/query-tests/Likely Bugs/RedundantNullCheckSimple/RedundantNullCheckSimple.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
Labels: C++

#2779 JS: Fix join ordering in PrototypePollutionUtility
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
Labels: JS

#2763 C++: DefaultTaintTracking perf fix for globals
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/global.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/global.ql
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/globals.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/IRDataflowTestCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/globals.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
Labels: C++

#2734 Java: Improve taint step modeling to use postupdate nodes.
  java/ql/src/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/test/library-tests/dataflow/taint-ioutils/dataFlow.expected
  java/ql/test/library-tests/dataflow/taint/A.java
  java/ql/test/library-tests/dataflow/taint/test.expected
Labels: Java

#2768 JS: Recognize lazy-cache and property enumeration through libraries
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/LazyCache.qll
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Labels: JS

#2765 C++: Make AST GVN a wrapper for IR-based GVN
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.ql
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_uniqueness.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_uniqueness.ql
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
Labels: C++

#2773 C#: Remove false positives for `cs/useless-assignment-to-local`
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/Dead Code/DeadStoreOfLocal.ql
  csharp/ql/test/query-tests/Dead Code/DeadStoreOfLocal/DeadStoreOfLocal.cs
Labels: C#

#2789 QL language handbook: add link to information about module resolution in QL spec
  docs/language/ql-handbook/modules.rst
Labels: documentation

#2787 JS: Add test case for lazy-cache
  javascript/ql/test/library-tests/frameworks/LazyCache/LazyCache.expected
  javascript/ql/test/library-tests/frameworks/LazyCache/LazyCache.ql
  javascript/ql/test/library-tests/frameworks/LazyCache/tst.js
Labels: JS

#2729 C#: Add new class `AssignableDefinitionNode` to the data-flow library
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
Labels: C#

#2790 JS: model the `send` library for `js/path-injection`
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
Labels: Awaiting evaluation, JS

#2794 JS: make DynamicPropertyAccess.qll from PrototypePollutionUtility.ql
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/DynamicPropertyAccess.qll
Labels: JS

#2806 C++: Fix coversEntireVariable perf in AliasedSSA
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Labels: C++

#2803 C#: Handle implicitly-typed stackallocs
  change-notes/1.24/analysis-csharp.md
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Factory.cs
  csharp/ql/test/library-tests/csharp7.3/ArrayCreations.expected
  csharp/ql/test/library-tests/csharp7.3/ArrayElements.expected
  csharp/ql/test/library-tests/csharp7.3/csharp73.cs
Labels: C#

#2805 C++: IR DataFlowUtil::modelFlow join order fix
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#2807 Remove link to blog
  docs/language/global-sphinx-files/_templates/layout.html
Labels: documentation

#2809 docs: port some more changes onto rc/1.23
  docs/language/learn-ql/advanced/abstract-classes.rst
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/learn-ql/advanced/equivalence.rst
  docs/language/learn-ql/advanced/folding-predicates.rst
  docs/language/learn-ql/writing-queries/debugging-queries.rst
  docs/language/ql-handbook/modules.rst
  docs/language/ql-handbook/types.rst
  docs/language/ql-spec/language.rst
Labels: documentation

#2812 C++: Improve NoSpaceForZeroTerminator.ql
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/NoSpaceForZeroTerminator.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test.cpp
Labels: C++

#2658 C#: Fix cs/serialization-check-bypass
  csharp/ql/src/Security Features/CWE-020/RuntimeChecksBypass.ql
  csharp/ql/test/query-tests/Security Features/CWE-020/RuntimeChecksBypass.cs
  csharp/ql/test/query-tests/Security Features/CWE-020/RuntimeChecksbypass.expected
Labels: C#

#2767 Python: Update expected six results
  python/ql/test/2/library-tests/six/options
  python/ql/test/2/library-tests/six/pointsto.expected
  python/ql/test/2/library-tests/six/pointsto.ql
  python/ql/test/2/library-tests/six/test.expected
  python/ql/test/2/library-tests/six/test.py
  python/ql/test/2/library-tests/six/test.ql
  python/ql/test/3/library-tests/six/options
  python/ql/test/3/library-tests/six/pointsto.expected
  python/ql/test/3/library-tests/six/pointsto.ql
  python/ql/test/3/library-tests/six/test.expected
  python/ql/test/3/library-tests/six/test.py
  python/ql/test/3/library-tests/six/test.ql
Labels: Python

#2799 C++: Fix false negatives for postfix crement expressions
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#2821 C++: Fix perf of IR value numbering
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Operand.qll
Labels: C++

#2780 Python: clean qltest options files
  python/ql/test/2/library-tests/options
  python/ql/test/2/query-tests/options
  python/ql/test/3/library-tests/PointsTo/attributes/options
  python/ql/test/3/library-tests/PointsTo/typehints/options
  python/ql/test/3/library-tests/modules/options
  python/ql/test/3/library-tests/modules/package_members/options
  python/ql/test/3/library-tests/options
  python/ql/test/3/library-tests/six/options
  python/ql/test/3/query-tests/Variables/undefined/options
  python/ql/test/3/query-tests/options
  python/ql/test/library-tests/options
  python/ql/test/library-tests/thrift/options
  python/ql/test/library-tests/web/bottle/options
  python/ql/test/library-tests/web/cherrypy/options
  python/ql/test/library-tests/web/django/options
  python/ql/test/library-tests/web/falcon/options
  python/ql/test/library-tests/web/flask/options
  python/ql/test/library-tests/web/turbogears/options
  python/ql/test/query-tests/options
Labels: Python

#2825 Add `__class_getitem__` special method name to exceptions of `NonSelf`
  python/ql/src/Functions/NonSelf.ql
  python/ql/test/query-tests/Functions/general/parameter_names.py
Labels: Python

#2788 JS: add indirect command injection sink for a concatenated array
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/child_process-test.js
Labels: JS

#2828 JS: add model for chrome-remote-interface as a ClientRequest
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
  javascript/ql/test/query-tests/Security/CWE-918/tst.js
Labels: JS

#2845 JavaScript: Add model of `http2` compatibility API.
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/frameworks/NodeJSLib/createServer.js
  javascript/ql/test/library-tests/frameworks/NodeJSLib/tests.expected
Labels: JS

#2843 C++: Change import order for stable cache checksum
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#2844 C++: Ensure that there is just one overlap for an operand in value numbering
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C++

#2852 C++: Add TLoadTotalOverlapValueNumber to getKind predicate
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Labels: C++

#2835 C++: Value number performance fix
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
Labels: C++

#2802 Python: Fix FP for py/import own module
  python/ql/src/Imports/ModuleImportsItself.ql
  python/ql/test/query-tests/Imports/PyCheckerTests/ImportandImportFrom.expected
  python/ql/test/query-tests/Imports/PyCheckerTests/ModuleImportsItself.expected
  python/ql/test/query-tests/Imports/PyCheckerTests/imports_test.py
  python/ql/test/query-tests/Imports/PyCheckerTests/options
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_notok/__init__.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_notok/bar.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/__init__.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/foo1.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/foo2.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/foo3.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/foo4.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/foo5.py
Labels: Python

#2700 Python: Handle iterable unpacking in taint tracking
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/dataflow/Configuration.qll
  python/ql/src/semmle/python/dataflow/DataFlow.qll
  python/ql/src/semmle/python/dataflow/Files.qll
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/dataflow/Legacy.qll
  python/ql/src/semmle/python/dataflow/StateTracking.qll
  python/ql/src/semmle/python/dataflow/TaintTracking.qll
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/essa/SsaDefinitions.qll
  python/ql/test/3/library-tests/taint/unpacking/Taint.qll
  python/ql/test/3/library-tests/taint/unpacking/TestTaint.expected
  python/ql/test/3/library-tests/taint/unpacking/TestTaint.ql
  python/ql/test/3/library-tests/taint/unpacking/test.py
  python/ql/test/library-tests/taint/collections/TestStep.expected
  python/ql/test/library-tests/taint/collections/TestTaint.expected
  python/ql/test/library-tests/taint/collections/test.py
  python/ql/test/library-tests/taint/general/Contexts.expected
  python/ql/test/library-tests/taint/general/TestDefn.expected
  python/ql/test/library-tests/taint/general/TestSource.expected
  python/ql/test/library-tests/taint/general/TestStep.expected
  python/ql/test/library-tests/taint/general/TestTaint.expected
  python/ql/test/library-tests/taint/general/TestTaint.ql
  python/ql/test/library-tests/taint/general/TestVar.expected
  python/ql/test/library-tests/taint/general/assignment.py
  python/ql/test/library-tests/taint/unpacking/Taint.qll
  python/ql/test/library-tests/taint/unpacking/TestStep.expected
  python/ql/test/library-tests/taint/unpacking/TestStep.ql
  python/ql/test/library-tests/taint/unpacking/TestTaint.expected
  python/ql/test/library-tests/taint/unpacking/TestTaint.ql
  python/ql/test/library-tests/taint/unpacking/test.py
Labels: Python

#2711 Python: fix alerts for py/import-deprecated-module
  python/ql/src/Imports/DeprecatedModule.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/query-tests/Imports/deprecated/DeprecatedModule.expected
  python/ql/test/query-tests/Imports/deprecated/DeprecatedModule.qlref
  python/ql/test/query-tests/Imports/deprecated/test.py
Labels: Python

#2782 JS: Handle 'export * as ns'
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/definitions.ql
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/options
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/reExportLib.js
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/reExportLibClient.js
  javascript/ql/test/library-tests/Flow/abseval.expected
  javascript/ql/test/library-tests/Modules/BulkReExportDeclarations.qll
  javascript/ql/test/library-tests/Modules/ExportDeclarations.qll
  javascript/ql/test/library-tests/Modules/ExportDefaultDeclarations.qll
  javascript/ql/test/library-tests/Modules/ExportSpecifiers.qll
  javascript/ql/test/library-tests/Modules/GlobalVariableRef.qll
  javascript/ql/test/library-tests/Modules/ImportDefaultSpecifiers.qll
  javascript/ql/test/library-tests/Modules/ImportMeta.qll
  javascript/ql/test/library-tests/Modules/ImportNamespaceSpecifier.qll
  javascript/ql/test/library-tests/Modules/ImportSpecifiers.qll
  javascript/ql/test/library-tests/Modules/Imports.qll
  javascript/ql/test/library-tests/Modules/Module_exports.qll
  javascript/ql/test/library-tests/Modules/NamedImportSpecifier.qll
  javascript/ql/test/library-tests/Modules/OtherImports.qll
  javascript/ql/test/library-tests/Modules/ReExportDeclarations.qll
  javascript/ql/test/library-tests/Modules/getAnImportedModule.qll
  javascript/ql/test/library-tests/Modules/getExportedName.qll
  javascript/ql/test/library-tests/Modules/getImportedName.qll
  javascript/ql/test/library-tests/Modules/getLocalName.qll
  javascript/ql/test/library-tests/Modules/getSourceNode.qll
  javascript/ql/test/library-tests/Modules/reExportNamespace.js
  javascript/ql/test/library-tests/Modules/reExportNamespaceClient.js
  javascript/ql/test/library-tests/Modules/tests.expected
  javascript/ql/test/library-tests/Modules/tests.ql
Labels: JS

#2834 Minor update to QL language topics
  docs/language/ql-handbook/index.rst
  docs/language/ql-handbook/lexical-syntax.rst
  docs/language/ql-spec/index.rst
  docs/language/ql-spec/qldoc.rst
Labels: documentation

#2837 docs: expand QL book entry on monotonic aggregates
  docs/language/ql-handbook/expressions.rst
Labels: documentation

#2793 Java: Add String.format as default taint step.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Labels: Java

#2631 Data flow: generalize flow-through summaries
  change-notes/1.24/analysis-cpp.md
  change-notes/1.24/analysis-csharp.md
  change-notes/1.24/analysis-java.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/Caching.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/call-sensitivity/CallSensitivityFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/H.cs
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/call-sensitivity/flow.expected
  java/ql/test/library-tests/dataflow/gettersetter/gettersetter.expected
  java/ql/test/library-tests/dataflow/gettersetter/gettersetter.ql
Labels: C#, C++, Java

#2643 JS: add query js/unsafe-jquery-plugin
  change-notes/1.24/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-079/UnsafeJQueryPlugin.qhelp
  javascript/ql/src/Security/CWE-079/UnsafeJQueryPlugin.ql
  javascript/ql/src/Security/CWE-079/examples/UnsafeJQueryPlugin.js
  javascript/ql/src/Security/CWE-079/examples/UnsafeJQueryPlugin_safe.js
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPlugin.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin.qlref
  javascript/ql/test/query-tests/Security/CWE-079/unsafe-jquery-plugin.js
Labels: JS

#2739 Python: modernise Security/ queries
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.ql
  python/ql/src/Security/CWE-020/IncompleteHostnameRegExp.ql
  python/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.ql
  python/ql/src/Security/CWE-022/PathInjection.ql
  python/ql/src/Security/CWE-022/TarSlip.ql
  python/ql/src/Security/CWE-022/examples/tainted_path.py
  python/ql/src/Security/CWE-078/CommandInjection.ql
  python/ql/src/Security/CWE-078/examples/command_injection.py
  python/ql/src/Security/CWE-079/Jinja2WithoutEscaping.ql
  python/ql/src/Security/CWE-079/ReflectedXss.ql
  python/ql/src/Security/CWE-089/SqlInjection.ql
  python/ql/src/Security/CWE-094/CodeInjection.ql
  python/ql/src/Security/CWE-209/StackTraceExposure.ql
  python/ql/src/Security/CWE-215/FlaskDebug.ql
  python/ql/src/Security/CWE-295/MissingHostKeyValidation.ql
  python/ql/src/Security/CWE-295/RequestWithoutValidation.ql
  python/ql/src/Security/CWE-312/CleartextLogging.ql
  python/ql/src/Security/CWE-312/CleartextStorage.ql
  python/ql/src/Security/CWE-326/WeakCrypto.ql
  python/ql/src/Security/CWE-327/InsecureDefaultProtocol.ql
  python/ql/src/Security/CWE-327/InsecureProtocol.ql
  python/ql/src/Security/CWE-377/InsecureTemporaryFile.ql
  python/ql/src/Security/CWE-502/UnsafeDeserialization.ql
  python/ql/src/Security/CWE-601/UrlRedirect.ql
  python/ql/src/Security/CWE-732/WeakFilePermissions.qhelp
  python/ql/src/Security/CWE-732/WeakFilePermissions.ql
  python/ql/src/Security/CWE-798/HardcodedCredentials.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/library-tests/PointsTo/comparisons/PointsTo.expected
  python/ql/test/library-tests/PointsTo/comparisons/test.py
  python/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  python/ql/test/query-tests/Security/CWE-094/CodeInjection.expected
  python/ql/test/query-tests/Security/CWE-326/WeakCrypto.expected
  python/ql/test/query-tests/Security/CWE-326/weak_crypto.py
  python/ql/test/query-tests/Security/CWE-798/test.py
Labels: Python

#2851 C++: Use IR for security.TaintTracking and GVN
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTracking.qll
  cpp/ql/src/semmle/code/cpp/valuenumbering/GlobalValueNumbering.qll
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.ql
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/GlobalValueNumbering.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/Uniqueness.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/StrncpyFlippedArgs/StrncpyFlippedArgs.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-129/semmle/ImproperArrayIndexValidation/ImproperArrayIndexValidation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/ifs/ifs.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/extreme/ArithmeticWithExtremeValues.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/TaintedCondition.expected
Labels: C++, depends on internal PR

#2860 C++: Manual magic for `isInCycle`
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
Labels: C++

#2854 JavaScript: Distinguish `{lo}` and `{lo,}` in the regular expression parser.
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/parser/RegExpParser.java
  javascript/extractor/tests/exprs/output/trap/regexp.js.trap
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/test/library-tests/RegExp/Bounds/Bounds.expected
  javascript/ql/test/library-tests/RegExp/Bounds/Bounds.ql
  javascript/ql/test/library-tests/RegExp/Bounds/tst.js
Labels: JS

#2861 C++: Import AST GVN module for tests
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/Uniqueness.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/Uniqueness.ql
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.ql
Labels: C++

#2839 C++/C#: Fix sync config file for value numbering sharing
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
Labels: C#, C++

#2876 docs: continue reorganizing 'Advanced QL' (rc/1.23)
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/learn-ql/advanced/constraining-types.rst
  docs/language/learn-ql/advanced/determining-specific-types-variables.rst
  docs/language/learn-ql/advanced/monotonic-aggregates.rst
  docs/language/learn-ql/index.rst
  docs/language/learn-ql/writing-queries/debugging-queries.rst
Labels: documentation

#2877 Merge some rc/1.23 documentation changes into master
  docs/language/global-sphinx-files/_templates/layout.html
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/learn-ql/advanced/constraining-types.rst
  docs/language/learn-ql/advanced/determining-specific-types-variables.rst
  docs/language/learn-ql/advanced/monotonic-aggregates.rst
  docs/language/learn-ql/index.rst
  docs/language/learn-ql/writing-queries/debugging-queries.rst
Labels: Mergeback

#2878 QL handbook: updates for rc/1.23
  docs/language/ql-handbook/expressions.rst
Labels: documentation

#2871 C++: Fix a test that should be working on the AST dataflow.
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.ql
Labels: C++

#2848 C++: Disambiguate SideEffectFunction QLDoc.
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/SideEffect.qll
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Labels: C++

#2856 JS: fix RegExp::getSuccessor/getPredecessor for sequence end/starts
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/test/library-tests/RegExp/predecessors_and_successors/getPredecessor.expected
  javascript/ql/test/library-tests/RegExp/predecessors_and_successors/getPredecessor.ql
  javascript/ql/test/library-tests/RegExp/predecessors_and_successors/getSuccessor.expected
  javascript/ql/test/library-tests/RegExp/predecessors_and_successors/getSuccessor.ql
  javascript/ql/test/library-tests/RegExp/predecessors_and_successors/tst.js
Labels: JS

#2868 JS: Do not flag void operands MissingAwait
  javascript/ql/src/Expressions/MissingAwait.ql
  javascript/ql/test/query-tests/Expressions/MissingAwait/tst.js
Labels: JS

#2778 JS: add dataflow barrier for if(!x)
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/sanitizer-guards.js
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
Labels: Awaiting evaluation, JS

#2883 TS: Depend on TypeScript 3.7.5
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/lib/typescript/yarn.lock
Labels: JS

#2872 Java/C++/C#: Improve join-order in pathStep predicate
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Labels: C#, C++, Java

#2881 C++/Docs: release notes for IR taint tracking and GVN
  change-notes/1.24/analysis-cpp.md
Labels: C++

#2890 C++: add more extensive test for desugaring of range-based-for loops
  cpp/ql/test/library-tests/range_based_for/range_based_for.expected
  cpp/ql/test/library-tests/range_based_for/range_based_for.ql
  cpp/ql/test/library-tests/range_based_for/test.cpp
Labels: C++

#2895 JavaScript: Improve qldoc for `Parameter` to clarify that it also contains catch-clause parameters.
  javascript/ql/src/semmle/javascript/Variables.qll
Labels: JS

#2891 Python: Add AST support for special operations.
  python/ql/src/semmle/python/AstGenerated.qll
Labels: Python

#2796 JS: Improve flow through receiver of partial invokes
  javascript/ql/src/semmle/javascript/Closure.qll
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterProceduralTypeInference.qll
  javascript/ql/src/semmle/javascript/frameworks/AngularJS/AngularJSCore.qll
  javascript/ql/src/semmle/javascript/frameworks/LodashUnderscore.qll
  javascript/ql/src/semmle/javascript/frameworks/React.qll
Labels: JS

#2892 JS: Recognize class members in more cases
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/ClassNode/InstanceMember.expected
  javascript/ql/test/library-tests/ClassNode/InstanceMethod.expected
  javascript/ql/test/library-tests/ClassNode/fields.ts
  javascript/ql/test/library-tests/ClassNode/getAReceiverNode.expected
  javascript/ql/test/library-tests/ClassNode/tst2.js
Labels: JS

#2893 Python: ObjectAPI to ValueAPI: UnnecessaryLambda
  python/ql/src/Expressions/UnnecessaryLambda.ql
Labels: Python

#2810 JS: add a few arrary methods to TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/tainted-string-steps.js
Labels: JS

#2887 C++: Fix IR generation for switch statements
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir_sanity.expected
  csharp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
Labels: C++

#2898 JS: Add is-plain-object sanitizer
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Labels: JS

#2907 C++: Modify the argvlocal tests
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.c
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
Labels: C++

#2855 JS: Handle calls to bound functions
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/bound-function.js
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/GermanFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/bound-function.js
Labels: JS

#2864 C++: Cache DefaultTaintTracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#2906 Python: Add Python 3 Imports tests from internal repo
  python/ql/test/3/query-tests/Imports/encoding_error/EncodingError.expected
  python/ql/test/3/query-tests/Imports/encoding_error/EncodingError.py
  python/ql/test/3/query-tests/Imports/encoding_error/EncodingError.qlref
  python/ql/test/3/query-tests/Imports/syntax_error/EncodingError.expected
  python/ql/test/3/query-tests/Imports/syntax_error/EncodingError.qlref
  python/ql/test/3/query-tests/Imports/syntax_error/SyntaxError.expected
  python/ql/test/3/query-tests/Imports/syntax_error/SyntaxError.qlref
  python/ql/test/3/query-tests/Imports/syntax_error/bad_encoding.py
  python/ql/test/3/query-tests/Imports/syntax_error/nonsense.py
  python/ql/test/3/query-tests/Imports/syntax_error/test.py
Labels: Python

#2723 JS: model `path-is-inside`+`is-path-inside` for `js/path-injection`
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/normalizedPaths.js
Labels: JS

#2910 Java/C++: Minor dataflow cleanup.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
Labels: C++, Java

#2846 JS: add sanitizer for relative ".." in js/path-injection
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/normalizedPaths.js
Labels: JS

#2904 Python: Model outgoing HTTP client requests
  python/ql/src/semmle/python/web/ClientHttpRequest.qll
  python/ql/src/semmle/python/web/Http.qll
  python/ql/src/semmle/python/web/client/Requests.qll
  python/ql/src/semmle/python/web/client/StdLib.qll
  python/ql/test/library-tests/web/client/requests/ClientHttpRequests.expected
  python/ql/test/library-tests/web/client/requests/ClientHttpRequests.ql
  python/ql/test/library-tests/web/client/requests/options
  python/ql/test/library-tests/web/client/requests/test.py
  python/ql/test/library-tests/web/client/six/ClientHttpRequests.expected
  python/ql/test/library-tests/web/client/six/ClientHttpRequests.ql
  python/ql/test/library-tests/web/client/six/options
  python/ql/test/library-tests/web/client/six/test.py
  python/ql/test/library-tests/web/client/stdlib/ClientHttpRequests.expected
  python/ql/test/library-tests/web/client/stdlib/ClientHttpRequests.ql
  python/ql/test/library-tests/web/client/stdlib/options
  python/ql/test/library-tests/web/client/stdlib/test.py
Labels: Python

#2918 C++: Fix performance of UnsignedGEZero.ql
  cpp/ql/src/Likely Bugs/Arithmetic/UnsignedGEZero.qll
Labels: C++

#2884 JS: add query js/exploitable-polynomial-redos
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Performance/PolynomialReDoS.qhelp
  javascript/ql/src/Performance/PolynomialReDoS.ql
  javascript/ql/src/Performance/ReDoS.qhelp
  javascript/ql/src/Performance/ReDoSIntroduction.qhelp
  javascript/ql/src/Performance/ReDoSReferences.qhelp
  javascript/ql/src/semmle/javascript/security/performance/PolynomialReDoS.qll
  javascript/ql/src/semmle/javascript/security/performance/PolynomialReDoSCustomizations.qll
  javascript/ql/src/semmle/javascript/security/performance/SuperlinearBackTracking.qll
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.ql
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialReDoS.qlref
  javascript/ql/test/query-tests/Performance/ReDoS/ReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/polynomial-redos.js
Labels: JS

#2817 Python: ObjectAPI to ValueAPI: TruncatedDivision
  python/ql/src/Expressions/TruncatedDivision.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/2/query-tests/Expressions/TruncatedDivision.expected
  python/ql/test/2/query-tests/Expressions/TruncatedDivision_test.py
Labels: Python

#2875 Python: Add taint for urlsplit
  python/ql/src/semmle/python/security/strings/External.qll
  python/ql/test/library-tests/taint/namedtuple/SanitizedEdges.expected
  python/ql/test/library-tests/taint/namedtuple/SanitizedEdges.ql
  python/ql/test/library-tests/taint/namedtuple/Taint.qll
  python/ql/test/library-tests/taint/namedtuple/TestTaint.expected
  python/ql/test/library-tests/taint/namedtuple/TestTaint.ql
  python/ql/test/library-tests/taint/namedtuple/test.py
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.expected
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.ql
  python/ql/test/library-tests/taint/strings/Taint.qll
  python/ql/test/library-tests/taint/strings/TestNode.expected
  python/ql/test/library-tests/taint/strings/TestNode.ql
  python/ql/test/library-tests/taint/strings/TestStep.expected
  python/ql/test/library-tests/taint/strings/TestTaint.expected
  python/ql/test/library-tests/taint/strings/TestTaint.ql
  python/ql/test/library-tests/taint/strings/test.py
Labels: Python

#2902 Python: Highlight py/use-of-input is for Python 2
  python/ql/src/Expressions/UseofInput.qhelp
  python/ql/src/Expressions/UseofInput.ql
  python/ql/test/2/query-tests/Expressions/UseofInput.expected
Labels: Python

#2914 Python: Remove `--optimize: true` from options files
  python/ql/test/2/library-tests/six/options
  python/ql/test/3/library-tests/PointsTo/typehints/options
  python/ql/test/3/library-tests/six/options
  python/ql/test/library-tests/PointsTo/guarded/options
  python/ql/test/library-tests/PointsTo/new/options
  python/ql/test/library-tests/PointsTo/returns/options
  python/ql/test/library-tests/modules/duplicate_name/options
  python/ql/test/library-tests/regex/options
  python/ql/test/library-tests/web/bottle/options
  python/ql/test/library-tests/web/cherrypy/options
  python/ql/test/library-tests/web/django/options
  python/ql/test/library-tests/web/falcon/options
  python/ql/test/library-tests/web/flask/options
  python/ql/test/library-tests/web/pyramid/options
  python/ql/test/library-tests/web/tornado/options
  python/ql/test/library-tests/web/turbogears/options
  python/ql/test/library-tests/web/twisted/options
  python/ql/test/query-tests/Security/CWE-022/options
  python/ql/test/query-tests/Security/CWE-078/options
  python/ql/test/query-tests/Security/CWE-094/options
  python/ql/test/query-tests/Security/CWE-326/options
  python/ql/test/query-tests/Security/CWE-327/options
  python/ql/test/query-tests/Security/CWE-377/options
  python/ql/test/query-tests/Security/CWE-502/options
  python/ql/test/query-tests/Security/CWE-732/options
  python/ql/test/query-tests/Security/options
Labels: Python

#2920 Java: Remove some irrelevant bounds from TypeFlow.
  java/ql/src/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/src/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/test/library-tests/typeflow/typeflow.expected
Labels: Java

#2927 Java: Add some more taint-getter-setter tests.
  java/ql/test/library-tests/dataflow/taintgettersetter/A.java
  java/ql/test/library-tests/dataflow/taintgettersetter/taintgettersetter.expected
Labels: Java

#2930 C++: Add Expr.getUnconverted predicate
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
Labels: C++

#2934 C++: Test and typos.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/declarationEntry.expected
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/fde.expected
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/fde.ql
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/macro.c
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRVariable.qll
Labels: C++
