Repository github/codeql, pull requests merged in 2020-05, with the labels that each got.

#3311 Python: Propagate taint through parse_qs
  python/ql/src/semmle/python/security/strings/External.qll
  python/ql/test/library-tests/taint/strings/TestStep.expected
  python/ql/test/library-tests/taint/strings/TestTaint.expected
  python/ql/test/library-tests/taint/strings/test.py
Labels: Python

#3213 Python: supress non-useful results (w/ tests) for iter str/seq query
  python/ql/src/Statements/IterableStringOrSequence.ql
  python/ql/test/3/query-tests/Statements/iter/supress_uses_from_tests.py
Labels: Python

#3384 C#: Update `version-compilers.rst` to mention .NET Core 3.1
  docs/language/support/reusables/versions-compilers.rst
Labels: C#

#3385 C++: Remove an unneeded local-flow case
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Labels: C++

#3382 C++: Addresses may escape through call qualifiers
  cpp/ql/src/semmle/code/cpp/dataflow/EscapesTree.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/test/library-tests/defuse/isAddressOfAccess.expected
Labels: C++

#3388 C++: Small tidy up
  cpp/ql/src/Security/CWE/CWE-468/IncorrectPointerScaling.ql
  cpp/ql/src/Security/CWE/CWE-468/IncorrectPointerScalingChar.ql
  cpp/ql/src/Security/CWE/CWE-468/SuspiciousAddWithSizeof.ql
  cpp/ql/src/semmle/code/cpp/models/implementations/Allocation.qll
Labels: C++

#3148 C++: Replace "min = max" with "unique"
  cpp/ql/src/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/src/semmle/code/cpp/controlflow/internal/ConstantExprs.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/constant/ConstantAnalysis.qll
Labels: C++

#3378 Add support for C++20's consteval specifier
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/test/library-tests/clang_ms/element.expected
  cpp/ql/test/library-tests/conditions/elements.expected
  cpp/ql/test/library-tests/templates/instantiations_functions/elements.expected
  cpp/ql/test/library-tests/unnamed/elements.expected
Labels: C++

#3380 JS: Performance tweaks in AMD, mayHaveStringValue, PropWrite
  javascript/ql/src/semmle/javascript/AMD.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/frameworks/AngularJS/AngularJSCore.qll
Labels: JS

#3392 C++/C#: improve qldoc on IR get*ResultExpression
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C++

#3395 C++: Use `unique` aggregate in IRBlock computation
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRBlock.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRBlock.qll
Labels: C++

#3386 JS: less spurious jQuery objects
  javascript/ql/src/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/test/library-tests/frameworks/jQuery/JQueryMethodCall.expected
  javascript/ql/test/library-tests/frameworks/jQuery/interpretsArgumentAsHtml.expected
  javascript/ql/test/library-tests/frameworks/jQuery/jquery-3.2.js
  javascript/ql/test/library-tests/frameworks/jQuery/tst.js
Labels: JS

#3357 JS: pruning load/store steps in the exploratory flow
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#3185 Add details about query tagging to supported-queries.md
  docs/supported-queries.md
Labels: documentation

#3400 C++: Fix fieldFlow join order
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Labels: C++

#3270 C#: Field-sensitive summaries for library code
  csharp/ql/src/semmle/code/csharp/Caching.qll
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/ControlFlowReachability.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DelegateDataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/semmle/code/csharp/exprs/Access.qll
  csharp/ql/src/semmle/code/csharp/frameworks/JsonNET.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.expected
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.ql
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
Labels: C#

#3404 C++: add test for attributes on fields
  cpp/ql/test/library-tests/attributes/field_attributes/field_attributes.cpp
  cpp/ql/test/library-tests/attributes/field_attributes/field_attributes.expected
  cpp/ql/test/library-tests/attributes/field_attributes/field_attributes.ql
  cpp/ql/test/library-tests/attributes/var_attributes/var_attributes.expected
Labels: C++, depends on internal PR

#3110 Data flow: No more flow summaries
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/Common.qll
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/H.cs
  csharp/ql/test/library-tests/dataflow/types/Types.cs
  csharp/ql/test/library-tests/dataflow/types/Types.expected
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/test/library-tests/dataflow/getter/A.java
  java/ql/test/library-tests/dataflow/getter/getter.expected
  java/ql/test/library-tests/dataflow/getter/getter.ql
  java/ql/test/library-tests/dataflow/gettersetter/gettersetter.expected
  java/ql/test/library-tests/dataflow/gettersetter/gettersetter.ql
Labels: C#, C++, Java

#2912 Add check for disabled HTTPOnly setting in Tomcat
  java/ql/src/experimental/Security/CWE/CWE-1004/InsecureTomcatConfig.qhelp
  java/ql/src/experimental/Security/CWE/CWE-1004/InsecureTomcatConfig.ql
  java/ql/src/experimental/Security/CWE/CWE-1004/insecure-web.xml
Labels: Java

#3414 C++: Fix error in QLDoc.
  cpp/ql/src/semmle/code/cpp/exprs/Access.qll
Labels: C++

#3413 Update requirements for docs review
  CODEOWNERS
  docs/supported-queries.md
Labels: documentation

#3401 JS: Ignore JSON-like files in js/useless-expression
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Expressions/ExprHasNoEffect.qll
  javascript/ql/test/query-tests/Expressions/ExprHasNoEffect/jsonlike.js
Labels: JS

#3312 Data flow: Support stores into nodes that are not `PostUpdateNode`s
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java

#3420 JavaScript: Fix missing triple backtick in qldoc comment.
  javascript/ql/src/semmle/javascript/Expr.qll
Labels: JS

#3409 "CodeQL for X" docs: update "Further reading" sections
  docs/language/learn-ql/cpp/conversions-classes.rst
  docs/language/learn-ql/cpp/dataflow.rst
  docs/language/learn-ql/cpp/expressions-types.rst
  docs/language/learn-ql/cpp/function-classes.rst
  docs/language/learn-ql/cpp/guards.rst
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
  docs/language/learn-ql/cpp/private-field-initialization.rst
  docs/language/learn-ql/cpp/ql-for-cpp.rst
  docs/language/learn-ql/cpp/range-analysis.rst
  docs/language/learn-ql/cpp/value-numbering-hash-cons.rst
  docs/language/learn-ql/cpp/zero-space-terminator.rst
  docs/language/learn-ql/csharp/dataflow.rst
  docs/language/learn-ql/csharp/introduce-libraries-csharp.rst
  docs/language/learn-ql/csharp/ql-for-csharp.rst
  docs/language/learn-ql/go/introduce-libraries-go.rst
  docs/language/learn-ql/go/ql-for-go.rst
  docs/language/learn-ql/java/annotations.rst
  docs/language/learn-ql/java/ast-class-reference.rst
  docs/language/learn-ql/java/call-graph.rst
  docs/language/learn-ql/java/dataflow.rst
  docs/language/learn-ql/java/expressions-statements.rst
  docs/language/learn-ql/java/introduce-libraries-java.rst
  docs/language/learn-ql/java/javadoc.rst
  docs/language/learn-ql/java/ql-for-java.rst
  docs/language/learn-ql/java/source-locations.rst
  docs/language/learn-ql/java/types-class-hierarchy.rst
  docs/language/learn-ql/javascript/ast-class-reference.rst
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/language/learn-ql/javascript/dataflow.rst
  docs/language/learn-ql/javascript/flow-labels.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
  docs/language/learn-ql/javascript/ql-for-javascript.rst
  docs/language/learn-ql/javascript/type-tracking.rst
  docs/language/learn-ql/python/control-flow.rst
  docs/language/learn-ql/python/functions.rst
  docs/language/learn-ql/python/introduce-libraries-python.rst
  docs/language/learn-ql/python/pointsto-type-infer.rst
  docs/language/learn-ql/python/ql-for-python.rst
  docs/language/learn-ql/python/statements-expressions.rst
  docs/language/learn-ql/python/taint-tracking.rst
  docs/language/reusables/codeql-ref-tools-further-reading.rst
  docs/language/reusables/cpp-further-reading.rst
  docs/language/reusables/csharp-further-reading.rst
  docs/language/reusables/go-further-reading.rst
  docs/language/reusables/java-further-reading.rst
  docs/language/reusables/javascript-further-reading.rst
  docs/language/reusables/python-further-reading.rst
  docs/language/reusables/python-other-resources.rst
Labels: documentation

#3410 Python: More safe methods for py/modification-of-default-value
  python/ql/src/Functions/ModificationOfParameterWithDefault.ql
  python/ql/test/query-tests/Functions/general/functions_test.py
Labels: Python

#3426 C++: Add testcase for #3110
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
Labels: C++

#3383 Java: Library for pretty-printing AST in linear time.
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/src/semmle/code/java/PrintAst.qll
Labels: Java

#3432 C++: Add a test of TOCTOUFilesystemRace.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/TOCTOUFilesystemRace.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/TOCTOUFilesystemRace.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/test.cpp
Labels: C++

#3425 C++: Remove abstract keyword from a couple of AST classes
  cpp/ql/src/semmle/code/cpp/File.qll
  cpp/ql/src/semmle/code/cpp/Namespace.qll
  cpp/ql/src/semmle/code/cpp/exprs/Cast.qll
Labels: C++

#3398 C#: More results for `cs/web/missing-x-frame-options`
  csharp/ql/src/Security Features/CWE-451/MissingXFrameOptions.ql
Labels: C#

#3430 C++: Add QLDoc to CaptionedComments.qll and CommentedOutCode.qll
  cpp/ql/src/Documentation/CaptionedComments.qll
  cpp/ql/src/Documentation/CommentedOutCode.qll
Labels: C++

#3393 C++: A few IR QLDoc comments
  cpp/ql/src/semmle/code/cpp/ir/implementation/EdgeKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/TempVariableTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/OperandTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/CppType.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IntegerConstant.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/EdgeKind.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/TempVariableTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/internal/OperandTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IntegerConstant.qll
Labels: C++, documentation

#3445 C++: Round result of >> in SimpleRangeAnalysis
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.c
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.cpp
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.expected
Labels: C++

#3389 C++: Post-update flow through &, *, +, ...
  cpp/ql/src/semmle/code/cpp/dataflow/EscapesTree.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/AddressFlow.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/src/semmle/code/cpp/internal/AddressConstantExpression.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/qualifiers.cpp
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.expected
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.ql
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/defuse/addressOf.cpp
  cpp/ql/test/library-tests/defuse/definition.expected
  cpp/ql/test/library-tests/defuse/definitionUsePair.expected
  cpp/ql/test/library-tests/defuse/exprDefinition.expected
  cpp/ql/test/library-tests/defuse/isAddressOfAccess.expected
  cpp/ql/test/library-tests/defuse/parameterUsePair.expected
  cpp/ql/test/library-tests/defuse/useOfVar.expected
  cpp/ql/test/library-tests/defuse/useOfVarActual.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
Labels: C++

#3439 C++: Call qualifiers are passed by reference
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/TOCTOUFilesystemRace.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/test.cpp
Labels: C++

#3441 JS: exclude "@babel/helpers - .." from js/unknown-directive
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Expressions/UnknownDirective.ql
  javascript/ql/test/query-tests/Expressions/UnknownDirective/UnknownDirective.js
Labels: JS

#3449 CodeQL docs: remove information about metric queries
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/learn-ql/writing-queries/query-metadata.rst
  docs/language/learn-ql/writing-queries/select-statement.rst
Labels: documentation

#3442 JS: Small performance improvements.
  javascript/ql/src/semmle/javascript/CFG.qll
  javascript/ql/src/semmle/javascript/InclusionTests.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#3451 JS: recognize reading/wrinting calls to fstream
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/Files.qll
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlip.expected
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlipBad.js
Labels: JS

#3458 JS: add the NoSQL $where as a sink for js/code-injection
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/src/semmle/javascript/heuristics/AdditionalSinks.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/marsdb-flow-from.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/marsdb-flow-to.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/marsdb.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/minimongo.js
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/NoSQLCodeInjection.js
Labels: JS

#3421 C#/Java/C++: Add change note for #3110
  change-notes/1.25/analysis-cpp.md
  change-notes/1.25/analysis-csharp.md
  change-notes/1.25/analysis-java.md
Labels: C#, C++, Java

#3459 C++/C#: Remove `UnmodeledUse` instruction
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/OperandTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCondition.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/internal/OperandTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRBlock.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRConsistency.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRBlock.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRConsistency.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C#, C++

#3422 C++: Add InBoundsPointerDeref.qll to experimental
  cpp/ql/src/experimental/semmle/code/cpp/rangeanalysis/InBoundsPointerDeref.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/Bound.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/arraylengthanalysis/test.cpp
  cpp/ql/test/experimental/library-tests/rangeanalysis/inboundsptr/InBounds.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/inboundsptr/InBounds.ql
  cpp/ql/test/experimental/library-tests/rangeanalysis/inboundsptr/test.cpp
Labels: C++

#3090 Java: CWE-532 sensitive info logging
  java/ql/src/experimental/CWE-532/SensitiveInfoLog.java
  java/ql/src/experimental/CWE-532/SensitiveInfoLog.qhelp
  java/ql/src/experimental/CWE-532/SensitiveInfoLog.ql
Labels: Java

#3469 CodeQL docs migration: Delete `ql-spec` Sphinx project
  docs/language/README.rst
  docs/language/ql-spec/conf.py
  docs/language/ql-spec/index.rst
Labels: documentation

#3359 JS: introduce PropRef#mayHavePropertyName
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/src/semmle/javascript/security/dataflow/XssThroughDom.qll
Labels: JS

#2886 JS: Add helper library for call graph exploration
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/BackwardExploration.qll
  javascript/ql/src/semmle/javascript/dataflow/ForwardExploration.qll
  javascript/ql/src/semmle/javascript/explore/BackwardDataFlow.qll
  javascript/ql/src/semmle/javascript/explore/CallGraph.qll
  javascript/ql/src/semmle/javascript/explore/ForwardDataFlow.qll
Labels: JS

#3467 JS: add support for links in zipslip
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ZipSlipCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/TarSlipBad.js
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlip.expected
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlipGood.js
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/externs.js
Labels: JS

#3472 C++: Improve getParameterString().
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/test/library-tests/functions/functions/Functions1.expected
  cpp/ql/test/library-tests/functions/functions/Functions1.ql
  cpp/ql/test/library-tests/functions/functions/functions.cpp
Labels: C++

#3463 C++: Annotate field flow tests
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/B.cpp
  cpp/ql/test/library-tests/dataflow/fields/C.cpp
  cpp/ql/test/library-tests/dataflow/fields/D.cpp
  cpp/ql/test/library-tests/dataflow/fields/E.cpp
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/complex.cpp
  cpp/ql/test/library-tests/dataflow/fields/constructors.cpp
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.ql
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.ql
  cpp/ql/test/library-tests/dataflow/fields/qualifiers.cpp
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
  cpp/ql/test/library-tests/dataflow/fields/struct_init.c
Labels: C++

#3475 C++: Test field conflation with array in struct
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/field_conflation.c
Labels: C++

#3470 JS: Cache moduleImport and simplify PathExpr hierarchy
  javascript/ql/src/semmle/javascript/AMD.qll
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/Modules.qll
  javascript/ql/src/semmle/javascript/NodeJS.qll
  javascript/ql/src/semmle/javascript/NodeModuleResolutionImpl.qll
  javascript/ql/src/semmle/javascript/Paths.qll
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/frameworks/LazyCache.qll
  javascript/ql/test/library-tests/Modules/tests.ql
Labels: JS

#3408 JS: new query for Unsafe expansion of shorthand HTML tag
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-116/UnsafeHtmlExpansion.qhelp
  javascript/ql/src/Security/CWE-116/UnsafeHtmlExpansion.ql
  javascript/ql/src/Security/CWE-116/examples/UnsafeHtmlExpansion-original.html
  javascript/ql/src/Security/CWE-116/examples/UnsafeHtmlExpansion-transformed.html
  javascript/ql/src/Security/CWE-116/examples/UnsafeHtmlExpansion.js
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/UnsafeHtmlExpansion.expected
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/UnsafeHtmlExpansion.js
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/UnsafeHtmlExpansion.qlref
Labels: JS

#3460 Python: __bool__ does not raise TypeError by default
  python/ql/src/Functions/IncorrectRaiseInSpecialMethod.ql
  python/ql/test/query-tests/Functions/general/IncorrectRaiseInSpecialMethod.expected
  python/ql/test/query-tests/Functions/general/SignatureSpecialMethods.expected
  python/ql/test/query-tests/Functions/general/protocols.py
Labels: Python

#3365 C#: Convert `string.format()` queries to path queries
  csharp/ql/src/API Abuse/FormatInvalid.ql
  csharp/ql/src/API Abuse/FormatMissingArgument.ql
  csharp/ql/src/API Abuse/FormatUnusedArgument.ql
  csharp/ql/src/semmle/code/csharp/frameworks/Format.qll
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatInvalid.expected
  csharp/ql/test/query-tests/API Abuse/FormatMissingArgument/FormatMissingArgument.expected
  csharp/ql/test/query-tests/API Abuse/FormatUnusedArgument/FormatUnusedArgument.expected
Labels: C#

#3351 C#: Teach unification library about nested types
  csharp/ql/src/semmle/code/csharp/Implements.qll
  csharp/ql/src/semmle/code/csharp/Unification.qll
  csharp/ql/test/library-tests/dataflow/types/Types.expected
  csharp/ql/test/library-tests/overrides/Implements.expected
  csharp/ql/test/library-tests/overrides/Overrides19.expected
  csharp/ql/test/library-tests/overrides/Overrides22.expected
  csharp/ql/test/library-tests/overrides/overrides.cs
  csharp/ql/test/library-tests/unification/Unification.cs
  csharp/ql/test/library-tests/unification/Unification.expected
  csharp/ql/test/library-tests/unification/Unification.ql
Labels: C#

#3482 C++: Add GetDelim as taint step
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/GetDelim.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#3473 Java: Extend library support for switch expressions.
  java/ql/src/semmle/code/java/ControlFlowGraph.qll
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/src/semmle/code/java/StringFormat.qll
  java/ql/src/semmle/code/java/controlflow/internal/GuardsLogic.qll
  java/ql/src/semmle/code/java/dataflow/IntegerGuards.qll
  java/ql/src/semmle/code/java/dataflow/Nullness.qll
  java/ql/src/semmle/code/java/dataflow/SignAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/src/semmle/code/java/dispatch/DispatchFlow.qll
  java/ql/src/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/test/library-tests/dataflow/switchexpr/TestSwitchExpr.java
  java/ql/test/library-tests/dataflow/switchexpr/options
  java/ql/test/library-tests/dataflow/switchexpr/switchexprflow.expected
  java/ql/test/library-tests/dataflow/switchexpr/switchexprflow.ql
Labels: Java

#3474 Java: Add taint steps for String.formatted.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Labels: Java

#3481 C++/C#: Allow memory operands to lack a definition
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/OperandTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/internal/OperandTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Operand.qll
Labels: C#, C++

#3480 JS: add fs.open/openSync as writing file system calls
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ZipSlipCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlip.expected
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlipBad.js
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/externs.js
Labels: JS

#3391 JS: recognize .split("?")[0] in more cases for URL redirection
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck.js
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/path-assignment.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst11.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst12.js
Labels: JS

#3483 JS: fix some FNs in the qhelp examples
  javascript/ql/src/Security/CWE-079/examples/XssThroughDom.js
  javascript/ql/src/Security/CWE-079/examples/XssThroughDomFixed.js
  javascript/ql/src/Security/CWE-089/examples/SqlInjection.js
  javascript/ql/src/Security/CWE-134/examples/TaintedFormatStringBad.js
  javascript/ql/src/Security/CWE-134/examples/TaintedFormatStringGood.js
  javascript/ql/src/Security/CWE-327/examples/BrokenCryptoAlgorithm.js
  javascript/ql/src/Security/CWE-352/examples/MissingCsrfMiddlewareBad.js
  javascript/ql/src/Security/CWE-352/examples/MissingCsrfMiddlewareGood.js
  javascript/ql/src/Security/CWE-502/examples/UnsafeDeserializationBad.js
  javascript/ql/src/Security/CWE-502/examples/UnsafeDeserializationGood.js
  javascript/ql/src/Security/CWE-601/examples/ServerSideUrlRedirect.js
  javascript/ql/src/Security/CWE-601/examples/ServerSideUrlRedirectGood.js
  javascript/ql/src/Security/CWE-611/examples/Xxe.js
  javascript/ql/src/Security/CWE-611/examples/XxeGood.js
  javascript/ql/src/Security/CWE-776/examples/XmlBomb.js
  javascript/ql/src/Security/CWE-776/examples/XmlBombGood.js
  javascript/ql/src/Security/CWE-798/examples/HardcodedCredentials.js
  javascript/ql/src/Security/CWE-843/examples/TypeConfusionThroughParameterTampering.js
  javascript/ql/src/Security/CWE-843/examples/TypeConfusionThroughParameterTampering_fixed.js
  javascript/ql/src/Security/CWE-916/examples/InsufficientPasswordHash.js
  javascript/ql/src/Security/CWE-916/examples/InsufficientPasswordHash_fixed.js
  javascript/ql/src/Security/CWE-918/examples/RequestForgeryBad.js
  javascript/ql/src/Security/CWE-918/examples/RequestForgeryGood.js
Labels: JS

#3424 JS: Recognize Express param value callback as RemoteFlowSource
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/ConnectExpressShared.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/Firebase.qll
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/test/library-tests/frameworks/Express/src/express4.js
  javascript/ql/test/library-tests/frameworks/Express/src/params.js
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
Labels: JS

#3468 JavaScript: Model extra sinks in `vm` module
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/express.js
Labels: JS

#3498 JavaScript: Add more models of packages that execute commands over SSH
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/SystemCommandExecutors.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/other.js
Labels: JS

#3488 JS: More type tracking in SQL models
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/SQL.qll
  javascript/ql/test/library-tests/frameworks/SQL/SqlString.expected
  javascript/ql/test/library-tests/frameworks/SQL/mssql2.js
  javascript/ql/test/library-tests/frameworks/SQL/mysql1.js
  javascript/ql/test/library-tests/frameworks/SQL/mysqlImport.js
  javascript/ql/test/library-tests/frameworks/SQL/postgres1.js
  javascript/ql/test/library-tests/frameworks/SQL/postgresImport.js
  javascript/ql/test/library-tests/frameworks/SQL/sequelize.js
  javascript/ql/test/library-tests/frameworks/SQL/sequelizeImport.js
  javascript/ql/test/library-tests/frameworks/SQL/spanner.js
  javascript/ql/test/library-tests/frameworks/SQL/spannerImport.js
  javascript/ql/test/library-tests/frameworks/SQL/sqlite.js
  javascript/ql/test/library-tests/frameworks/SQL/sqliteImport.js
Labels: JS

#3504 JS: apply the unique aggregate where trivially applicable
  javascript/ql/src/semmle/javascript/AMD.qll
  javascript/ql/src/semmle/javascript/InclusionTests.qll
  javascript/ql/src/semmle/javascript/StringOps.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterProceduralTypeInference.qll
Labels: JS

#3497 JS: make LocalObjects::isEscape aware of `yield`
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/LocalObjects.qll
  javascript/ql/test/library-tests/LocalObjects/tst.js
  javascript/ql/test/query-tests/Declarations/UnusedProperty/tst-yield.js
Labels: JS

#3288 CodeQL query to detect JNDI injections
  java/ql/src/experimental/Security/CWE/CWE-074/JndiInjection.java
  java/ql/src/experimental/Security/CWE/CWE-074/JndiInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-074/JndiInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-074/JndiInjectionLib.qll
  java/ql/src/experimental/semmle/code/java/frameworks/Jndi.qll
  java/ql/src/experimental/semmle/code/java/frameworks/Shiro.qll
  java/ql/src/experimental/semmle/code/java/frameworks/spring/SpringJndi.qll
  java/ql/test/experimental/query-tests/security/CWE-074/JndiInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-074/JndiInjection.java
  java/ql/test/experimental/query-tests/security/CWE-074/JndiInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-074/options
  java/ql/test/experimental/stubs/shiro-core-1.5.2/org/apache/shiro/jndi/JndiTemplate.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/AttributesMapper.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/ContextMapper.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/DirContextOperations.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/DirContextProcessor.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/LdapOperations.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/LdapTemplate.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/NameClassPairCallbackHandler.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/filter/EqualsFilter.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/filter/Filter.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/filter/HardcodedFilter.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/query/ConditionCriteria.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/query/ContainerCriteria.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/query/LdapQuery.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/query/LdapQueryBuilder.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/support/LdapEncoder.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/support/LdapNameBuilder.java
  java/ql/test/experimental/stubs/spring-ldap-2.3.2/org/springframework/ldap/support/LdapUtils.java
  java/ql/test/experimental/stubs/springframework-5.2.3/org/springframework/beans/factory/InitializingBean.java
  java/ql/test/experimental/stubs/springframework-5.2.3/org/springframework/jndi/JndiTemplate.java
  java/ql/test/experimental/stubs/springframework-5.2.3/org/springframework/web/bind/annotation/RequestParam.java
Labels: Java

#3487 Add JBoss logging
  java/ql/src/experimental/CWE-532/SensitiveInfoLog.ql
Labels: Java

#3501 C++: Fix struct field conflation in IR data flow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/dispatch.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/global.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/globals.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/shared.h
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
Labels: C++

#3507 Java: Clean up deprecated overrides.
  java/ql/src/semmle/code/FileSystem.qll
  java/ql/src/semmle/code/java/Statement.qll
Labels: Java

#3511 C++: Simplify field conflation test
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/field_conflation.c
Labels: C++

#3510 JavaScript: Lower precision for a number of queries.
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/AngularJS/DeadAngularJSEventListener.ql
  javascript/ql/src/AngularJS/UnusedAngularDependency.ql
  javascript/ql/src/DOM/ConflictingAttributes.ql
  javascript/ql/src/Declarations/DeadStoreOfGlobal.ql
  javascript/ql/src/Declarations/TooManyParameters.ql
  javascript/ql/src/Declarations/UnusedProperty.ql
  javascript/ql/src/Expressions/BitwiseSignCheck.ql
  javascript/ql/src/Expressions/CompareIdenticalValues.ql
  javascript/ql/src/Expressions/MisspelledIdentifier.ql
  javascript/ql/src/JSDoc/BadParamTag.ql
  javascript/ql/src/JSDoc/JSDocForNonExistentParameter.ql
  javascript/ql/src/JSDoc/UndocumentedParameter.ql
  javascript/ql/src/LanguageFeatures/EmptyArrayInit.ql
  javascript/ql/src/LanguageFeatures/SetterIgnoresParameter.ql
  javascript/ql/src/LanguageFeatures/WrongExtensionJSON.ql
  javascript/ql/src/NodeJS/CyclicImport.ql
  javascript/ql/src/NodeJS/UnusedDependency.ql
  javascript/ql/src/Statements/EphemeralLoop.ql
  javascript/ql/src/Statements/NestedLoopsSameVariable.ql
  javascript/ql/src/Statements/ReturnOutsideFunction.ql
Labels: JS

#3512 Mergeback rc/1.24 -> master
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/dispatch.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/global.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/globals.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/shared.h
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  docs/language/README.rst
  docs/language/learn-ql/java/introduce-libraries-java.rst
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/learn-ql/writing-queries/query-metadata.rst
  docs/language/learn-ql/writing-queries/select-statement.rst
  docs/language/ql-spec/conf.py
  docs/language/ql-spec/index.rst
Labels: Mergeback

#3517 CodeQL 1.24: Update information on support
  docs/language/support/language-support.rst
Labels: documentation

#3518 Merge rc/1.24 back to master
  docs/language/support/language-support.rst
Labels: Mergeback

#3505 C++/C#: Remove `UnmodeledDefinition` instruction
  cpp/ql/src/semmle/code/cpp/ir/implementation/MemoryAccessKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SignAnalysis.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/MemoryAccessKind.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRConsistency.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedCallBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Common.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRConsistency.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/rangeanalysis/SignAnalysis.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C#, C++

#3484 C#: Extract indexed initializers correctly
  change-notes/1.25/analysis-csharp.md
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Access.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Initializer.cs
  csharp/ql/test/library-tests/csharp6/MemberInitializer.expected
  csharp/ql/test/library-tests/csharp6/MemberInitializer.ql
  csharp/ql/test/library-tests/csharp6/csharp6.cs
  csharp/ql/test/library-tests/standalone/controlflow/cfg.expected
Labels: C#

#3508 JS: Make ValueNode the representation of a parameter
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Statements/UselessConditional.ql
  javascript/ql/src/semmle/javascript/AST.qll
  javascript/ql/src/semmle/javascript/CFG.qll
  javascript/ql/src/semmle/javascript/DefUse.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/AnalyzedParameters.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/BasicExprTypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/DataFlowNode.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/VariableTypeInference.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/AMD/AmdModuleDefinition.expected
  javascript/ql/test/library-tests/AMD/AmdModuleExpr.expected
  javascript/ql/test/library-tests/DataFlow/enclosingExpr.expected
  javascript/ql/test/library-tests/DataFlow/flowStep.expected
  javascript/ql/test/library-tests/DataFlow/incomplete.expected
  javascript/ql/test/library-tests/DefUse/VarDefSource.expected
  javascript/ql/test/library-tests/Flow/AbstractValues.expected
  javascript/ql/test/library-tests/Flow/abseval.expected
  javascript/ql/test/library-tests/Flow/getAPrototype.expected
  javascript/ql/test/library-tests/Flow/implicit-returns.js
  javascript/ql/test/library-tests/Flow/types.expected
  javascript/ql/test/library-tests/GlobalAccessPaths/GlobalAccessPaths.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TrackedNodes.expected
  javascript/ql/test/library-tests/ModuleImportNodes/tests.expected
  javascript/ql/test/library-tests/PropWrite/tests.expected
  javascript/ql/test/library-tests/frameworks/AngularJS/scopes/ScopeAccess.expected
  javascript/ql/test/library-tests/frameworks/Electron/BrowserObject.expected
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
  javascript/ql/test/library-tests/frameworks/NodeJSLib/tests.expected
  javascript/ql/test/library-tests/frameworks/connect/tests.expected
  javascript/ql/test/library-tests/frameworks/hapi/tests.expected
  javascript/ql/test/library-tests/frameworks/koa/tests.expected
  javascript/ql/test/library-tests/frameworks/restify/tests.expected
  javascript/ql/test/query-tests/Security/CWE-338/InsecureRandomness.expected
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.expected
  javascript/ql/test/query-tests/Statements/UselessConditional/UselessConditional.js
Labels: JS

#3478 JS: Add precise data-flow steps for Promise.all
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/flow2.js
  javascript/ql/test/library-tests/Promises/tests.expected
Labels: JS

#3516 JS: Typescript 3.9.2
  change-notes/1.25/analysis-javascript.md
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/lib/typescript/yarn.lock
  javascript/ql/test/library-tests/TypeScript/CallResolution/CallResolution.expected
  javascript/ql/test/library-tests/TypeScript/CallSignatureTypes/test.expected
Labels: JS

#3453 Python: Support routed parameters in flask
  python/ql/src/semmle/python/web/flask/Request.qll
  python/ql/test/library-tests/web/flask/HttpResponseSinks.expected
  python/ql/test/library-tests/web/flask/HttpSources.expected
  python/ql/test/library-tests/web/flask/Routing.expected
  python/ql/test/library-tests/web/flask/Taint.expected
  python/ql/test/library-tests/web/flask/test.py
Labels: Python

#3525 JS: Share implementation between TaintedPath and ZipSlip
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ZipSlip.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ZipSlipCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlip.expected
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlipGood.js
Labels: JS

#3530 CodeQL docs: refine two article titles
  docs/language/learn-ql/java/ast-class-reference.rst
  docs/language/learn-ql/java/expressions-statements.rst
  docs/language/learn-ql/java/introduce-libraries-java.rst
  docs/language/learn-ql/java/ql-for-java.rst
  docs/language/learn-ql/javascript/ast-class-reference.rst
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/language/learn-ql/javascript/ql-for-javascript.rst
  docs/language/reusables/abstract-syntax-tree.rst
Labels: documentation, migration-prep

#3520 C++: Mark deprecated overrides as deprecated
  cpp/ql/src/semmle/code/cpp/File.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Printf.qll
Labels: C++, HIGH PRIORITY

#3544 CodeQL docs: Fix error in code snippet [cherry-pick]
  docs/language/ql-training/java/global-data-flow-java.rst
Labels: documentation

#3540 Link README.md to CodeQL for Go repo
  README.md
Labels: documentation

#3447 JS: Add query for shell commands constructed from library input.
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-078/UnsafeShellCommandConstruction.qhelp
  javascript/ql/src/Security/CWE-078/UnsafeShellCommandConstruction.ql
  javascript/ql/src/Security/CWE-078/examples/unsafe-shell-command-construction.js
  javascript/ql/src/Security/CWE-078/examples/unsafe-shell-command-construction_fixed.js
  javascript/ql/src/semmle/javascript/PackageExports.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstruction.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/test/library-tests/PackageExports/index.js
  javascript/ql/test/library-tests/PackageExports/lib1/bar.js
  javascript/ql/test/library-tests/PackageExports/lib1/foo.js
  javascript/ql/test/library-tests/PackageExports/lib1/index.js
  javascript/ql/test/library-tests/PackageExports/lib1/main.js
  javascript/ql/test/library-tests/PackageExports/lib1/package.json
  javascript/ql/test/library-tests/PackageExports/lib1/sublib/package.json
  javascript/ql/test/library-tests/PackageExports/lib1/sublib/sublib.js
  javascript/ql/test/library-tests/PackageExports/tests.expected
  javascript/ql/test/library-tests/PackageExports/tests.ql
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.qlref
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib2.js
  javascript/ql/test/query-tests/Security/CWE-078/lib/other.js
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib/index.js
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib/package.json
  javascript/ql/test/query-tests/Security/CWE-078/package.json
Labels: JS

#3489 Python: Modernise `py/missing-equals`.
  python/ql/src/Classes/DefineEqualsWhenAddingAttributes.ql
  python/ql/test/3/query-tests/Classes/equals-attr/DefineEqualsWhenAddingAttributes.expected
  python/ql/test/query-tests/Classes/equals-hash/DefineEqualsWhenAddingFields.expected
Labels: Python

#3407 Python: add BoundMethodValue (round 2)
  python/ql/src/semmle/python/objects/Callables.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/library-tests/PointsTo/calls/Argument.expected
  python/ql/test/library-tests/PointsTo/calls/Argument.ql
  python/ql/test/library-tests/PointsTo/calls/Call.expected
  python/ql/test/library-tests/PointsTo/calls/CallPointsTo.expected
  python/ql/test/library-tests/PointsTo/calls/CallPointsTo.ql
  python/ql/test/library-tests/PointsTo/calls/GetACall.expected
  python/ql/test/library-tests/PointsTo/calls/GetACall.ql
  python/ql/test/library-tests/PointsTo/calls/getArgumentForCall.expected
  python/ql/test/library-tests/PointsTo/calls/getArgumentForCall.ql
  python/ql/test/library-tests/PointsTo/calls/getNamedArgumentForCall.expected
  python/ql/test/library-tests/PointsTo/calls/getNamedArgumentForCall.ql
  python/ql/test/library-tests/PointsTo/calls/getParameter.expected
  python/ql/test/library-tests/PointsTo/calls/getParameter.ql
  python/ql/test/library-tests/PointsTo/calls/getParameterByName.expected
  python/ql/test/library-tests/PointsTo/calls/getParameterByName.ql
  python/ql/test/library-tests/PointsTo/calls/test.py
Labels: Python

#3506 Fixes FPs in SpringBootActuators query
  java/ql/src/experimental/Security/CWE/CWE-016/SpringBootActuators.qll
  java/ql/test/experimental/query-tests/security/CWE-016/SpringBootActuators.java
  java/ql/test/experimental/stubs/springframework-5.2.3/org/springframework/boot/actuate/autoconfigure/security/servlet/EndpointRequest.java
Labels: Java

#3515 Data flow: Remove deprecated predicates
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
Labels: C#, C++, Java

#3479 C++: Allow equality to block taint (security taint tracking)
  change-notes/1.25/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/extreme/ArithmeticWithExtremeValues.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/extreme/test.c
Labels: C++

#3552 Python: Fix filename example
  python/ql/examples/snippets/filename.ql
Labels: Python

#3551 Python: Fix (upcoming) deprecation compiler-warnings
  python/ql/src/Variables/UndefinedExport.ql
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/types/ModuleObject.qll
Labels: Python

#3559 C++: Remove VCS.qll and all queries using it
  change-notes/1.25/analysis-cpp.md
  cpp/ql/src/Metrics/History/HChurn.ql
  cpp/ql/src/Metrics/History/HLinesAdded.ql
  cpp/ql/src/Metrics/History/HLinesDeleted.ql
  cpp/ql/src/Metrics/History/HNumberOfAuthors.ql
  cpp/ql/src/Metrics/History/HNumberOfChanges.ql
  cpp/ql/src/Metrics/History/HNumberOfCoCommits.ql
  cpp/ql/src/Metrics/History/HNumberOfReCommits.ql
  cpp/ql/src/Metrics/History/HNumberOfRecentAuthors.ql
  cpp/ql/src/Metrics/History/HNumberOfRecentChangedFiles.ql
  cpp/ql/src/Metrics/History/HNumberOfRecentChanges.ql
  cpp/ql/src/external/VCS.qll
  cpp/ql/src/external/tests/DefectFromSVN.ql
  cpp/ql/src/external/tests/MetricFromSVN.ql
  cpp/ql/src/filters/RecentDefects.ql
  cpp/ql/src/filters/RecentDefectsForMetric.ql
Labels: C++

#3558 C++: Properly deprecate objc.qll and default.qll
  cpp/ql/src/default.qll
  cpp/ql/src/objc.qll
  cpp/ql/test/header-variant-tests/deduplication/classes.ql
  cpp/ql/test/library-tests/allocators/allocators.ql
  cpp/ql/test/library-tests/conversions/conversions.ql
  cpp/ql/test/library-tests/ir/constant_func/constant_func.ql
  cpp/ql/test/library-tests/ir/escape/escape.ql
  cpp/ql/test/library-tests/ir/escape/ssa_escape.ql
  cpp/ql/test/library-tests/literals/uuidof/uuidof.ql
Labels: C++

#3554 C++: Don't give alerts from TooFewArguments.ql on ambiguous declarations
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooFewArguments.qll
Labels: C++

#3556 C++/JavaScript: Improve CodeDuplication.qll QLDoc
  cpp/ql/src/external/CodeDuplication.qll
  javascript/ql/src/external/CodeDuplication.qll
Labels: C++, JS

#3236 Java: Improper url validation
  java/ql/src/experimental/CWE-939/IncorrectURLVerification.java
  java/ql/src/experimental/CWE-939/IncorrectURLVerification.qhelp
  java/ql/src/experimental/CWE-939/IncorrectURLVerification.ql
Labels: Java

#3539 JS: Add test case for missed captured flow
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/capture-flow.js
Labels: JS

#3527 JS: model fastify
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/Fastify.qll
  javascript/ql/src/semmle/javascript/frameworks/HttpFrameworks.qll
  javascript/ql/test/library-tests/frameworks/fastify/HeaderAccess.qll
  javascript/ql/test/library-tests/frameworks/fastify/HeaderDefinition.qll
  javascript/ql/test/library-tests/frameworks/fastify/HeaderDefinition_defines.qll
  javascript/ql/test/library-tests/frameworks/fastify/HeaderDefinition_getAHeaderName.qll
  javascript/ql/test/library-tests/frameworks/fastify/RedirectInvocation.qll
  javascript/ql/test/library-tests/frameworks/fastify/RequestInputAccess.qll
  javascript/ql/test/library-tests/frameworks/fastify/ResponseSendArgument.qll
  javascript/ql/test/library-tests/frameworks/fastify/RouteHandler.qll
  javascript/ql/test/library-tests/frameworks/fastify/RouteHandler_getARequestExpr.qll
  javascript/ql/test/library-tests/frameworks/fastify/RouteHandler_getAResponseHeader.qll
  javascript/ql/test/library-tests/frameworks/fastify/RouteSetup.qll
  javascript/ql/test/library-tests/frameworks/fastify/RouteSetup_getARouteHandler.qll
  javascript/ql/test/library-tests/frameworks/fastify/RouteSetup_getServer.qll
  javascript/ql/test/library-tests/frameworks/fastify/ServerDefinition.qll
  javascript/ql/test/library-tests/frameworks/fastify/src/fastify.js
  javascript/ql/test/library-tests/frameworks/fastify/tests.expected
  javascript/ql/test/library-tests/frameworks/fastify/tests.ql
Labels: Awaiting evaluation, JS

#3555 JavaScript: Track `require` through local data flow.
  javascript/ql/src/semmle/javascript/NodeJS.qll
  javascript/ql/test/library-tests/NodeJS/Require.expected
  javascript/ql/test/library-tests/NodeJS/g.js
Labels: JS

#3538 QL language: Clarify use of query modules
  docs/language/ql-handbook/modules.rst
Labels: documentation

#3564 JavaScript: Add basic support for reasoning about reflective parameter accesses.
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/DataFlow/argumentPassing.expected
  javascript/ql/test/library-tests/DataFlow/argumentPassing.ql
  javascript/ql/test/library-tests/DataFlow/arguments.js
  javascript/ql/test/library-tests/DataFlow/enclosingExpr.expected
  javascript/ql/test/library-tests/DataFlow/flowStep.expected
  javascript/ql/test/library-tests/DataFlow/getIntValue.expected
  javascript/ql/test/library-tests/DataFlow/incomplete.expected
  javascript/ql/test/library-tests/DataFlow/parameters.expected
  javascript/ql/test/library-tests/DataFlow/sources.expected
Labels: JS

#3513 C#: Remove two deprecated predicates
  csharp/ql/src/semmle/code/csharp/Stmt.qll
Labels: C#

#3387 C++: Eliminate recursion from toString().
  cpp/ql/src/semmle/code/cpp/Declaration.qll
  cpp/ql/src/semmle/code/cpp/Namespace.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/XML.qll
  cpp/ql/src/semmle/code/cpp/exprs/Lambda.qll
  cpp/ql/test/library-tests/templates/isfromtemplateinstantiation/isfromtemplateinstantiation.ql
  cpp/ql/test/library-tests/usings/Usings1.expected
  cpp/ql/test/library-tests/usings/Usings1.ql
  cpp/ql/test/library-tests/usings/Usings2.expected
  cpp/ql/test/library-tests/usings/Usings2.ql
  csharp/ql/src/semmle/code/csharp/XML.qll
  java/ql/src/semmle/code/xml/XML.qll
  javascript/ql/src/semmle/javascript/XML.qll
  python/ql/src/semmle/python/xml/XML.qll
Labels: C++

#3557 C++: QLDoc for legacy libraries in `external` dir
  cpp/ql/src/external/DefectFilter.qll
  cpp/ql/src/external/ExternalArtifact.qll
  cpp/ql/src/external/MetricFilter.qll
Labels: C++

#3565 Docs: Update markdown files with 1.24 title changes
  CONTRIBUTING.md
  docs/ql-style-guide.md
  docs/query-help-style-guide.md
  docs/query-metadata-style-guide.md
Labels: documentation

#3548 C++: Fix duplicate result types
  cpp/ql/src/semmle/code/cpp/ir/internal/CppType.qll
Labels: C++

#3526 Java: Add a few qltest cases for nullness and range analysis FPs.
  java/ql/test/query-tests/Nullness/C.java
  java/ql/test/query-tests/Nullness/NullMaybe.expected
  java/ql/test/query-tests/RangeAnalysis/A.java
  java/ql/test/query-tests/RangeAnalysis/ArrayIndexOutOfBounds.expected
Labels: Java

#3570 C++: Fix mysprintf in taint test
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#3531 JS: Remove timeout for node --version check
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Labels: JS

#3560 JS: Don't flag optionally sanitized XSS sinks.
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/HtmlSanitizers.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/XssThroughDom.qll
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/optionalSanitizer.js
Labels: JS

#3566 JS: js/xss: Sanitize attributes that cannot contain quotes
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IncompleteHtmlAttributeSanitizationCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ReflectedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/StoredXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/XssThroughDom.qll
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/stored-xss.js
Labels: JS

#3532 C++: Remove field conflation caused by IR field flow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/field_conflation.c
Labels: C++

#3568 JS: Avoid string coercion in JSXName.getValue
  javascript/ql/src/semmle/javascript/JSX.qll
Labels: JS

#3567 Implement `asPartialDefinition` for IR dataflow nodes
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.ql
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.ql
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.ql
Labels: C++

#3574 C#: Fix performance issue in unification library
  csharp/ql/src/semmle/code/csharp/Unification.qll
Labels: C#

#3582 C++: QLDoc for BasicBlock, ControlFlowGraph and Dataflow
  cpp/ql/src/semmle/code/cpp/controlflow/BasicBlocks.qll
  cpp/ql/src/semmle/code/cpp/controlflow/ControlFlowGraph.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Dataflow.qll
Labels: C++

#3529 C#: Fix extracted type for nested object initializers
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Initializer.cs
  csharp/ql/test/library-tests/csharp6/MemberInitializer.expected
  csharp/ql/test/library-tests/csharp6/MemberInitializer.ql
Labels: C#

#3528 C#: Fix CFG for C# 6 initializers
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Initializers.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
Labels: C#

#3571 Treat `this` as a parameter in IR generation
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/TempVariableTag.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/TempVariableTag.qll
Labels: C++

#3586 C++: QLDoc for the remaining elements in the controlflow directory
  cpp/ql/src/semmle/code/cpp/controlflow/DefinitionsAndUses.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Dereferenced.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Guards.qll
  cpp/ql/src/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Nullness.qll
  cpp/ql/src/semmle/code/cpp/controlflow/SSA.qll
  cpp/ql/src/semmle/code/cpp/controlflow/SSAUtils.qll
  cpp/ql/src/semmle/code/cpp/controlflow/StackVariableReachability.qll
  cpp/ql/src/semmle/code/cpp/controlflow/SubBasicBlocks.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
Labels: C++

#3499 Java: Add CFG edges for Java 14 pattern-matching instanceof.
  java/ql/src/semmle/code/java/ControlFlowGraph.qll
  java/ql/test/library-tests/ssa/TestInstanceOfPattern.java
  java/ql/test/library-tests/ssa/adjacentUses.expected
  java/ql/test/library-tests/ssa/firstUse.expected
  java/ql/test/library-tests/ssa/options
  java/ql/test/library-tests/ssa/ssaDef.expected
  java/ql/test/library-tests/ssa/ssaUse.expected
Labels: Java

#3573 Java: Fix for private interface methods.
  java/ql/src/semmle/code/java/Member.qll
Labels: Java

#3569 C++: Taint flow consistency change for strftime
  cpp/ql/src/semmle/code/cpp/models/implementations/Strftime.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Taint.qll
Labels: C++

#3577 C++: Fix `MemoryLocation` with multiple `VirtualVariables`
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ssa_consistency_unsound.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/test/library-tests/ir/ir/unaliased_ssa_ssa_consistency.expected
Labels: C++

#3204 C++: Move Expr location workaround to Expr.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/blocks/cpp/exprs.expected
  cpp/ql/test/library-tests/builtins/edg/expr.expected
  cpp/ql/test/library-tests/builtins/type_traits/expr.expected
  cpp/ql/test/library-tests/classes/variadic/expr.expected
  cpp/ql/test/library-tests/conditions/elements.expected
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/primitives/cfg.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/defuse/isAddressOfAccess.expected
  cpp/ql/test/library-tests/defuse/parameterUsePair.expected
  cpp/ql/test/library-tests/defuse/useOfVar.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
  cpp/ql/test/library-tests/range_based_for/range_based_for.expected
  cpp/ql/test/library-tests/sideEffects/exprs/exprs.expected
  cpp/ql/test/library-tests/static_cast/expr.expected
  cpp/ql/test/library-tests/synchronization/synchronization.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/templates/instantiations_functions/elements.expected
  cpp/ql/test/library-tests/templates/isfromtemplateinstantiation/isfromuninstantiatedtemplate.expected
  cpp/ql/test/library-tests/typename/typename.expected
  cpp/ql/test/library-tests/valuenumbering/HashCons/HashCons.expected
Labels: C++, depends on internal PR

#3583 C++: QLDoc for Constants
  cpp/ql/src/semmle/code/cpp/commons/unix/Constants.qll
Labels: C++

#3585 JS: Use newer format for yarn.lock
  javascript/extractor/lib/typescript/yarn.lock
Labels: JS

#3592 CPP: Don't taint the return value of strlen
  change-notes/1.25/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTracking.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTrackingImpl.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#3589 C++: fix IR control flow for cast in placement new
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
Labels: C++

#3594 JS: cache Expr::getStringValue
  javascript/ql/src/semmle/javascript/Expr.qll
Labels: JS
