Repository github/codeql, pull requests merged in 2020-03, with the labels that each got.

#2797 C++: Support dynamic memory allocations in IR alias analysis
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/library-tests/dataflow/security-taint/test.cpp
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C++, depends on internal PR

#2900 C++: Better fix for `void` type on buffer access
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
Labels: C#, C++

#2935 C++: Optimize EnumSwitch.getAMissingCase
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
Labels: C++

#2944 JS: recognize another prefix check for js/path-injection
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/normalizedPaths.js
Labels: Awaiting evaluation, JS

#2956 JS: Really autoformat everything
  javascript/ql/examples/queries/dataflow/StoredXss/StoredXss.ql
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
  javascript/ql/test/library-tests/Classes/tests.ql
  javascript/ql/test/library-tests/CustomLoadStoreSteps/test.ql
  javascript/ql/test/library-tests/DependencyModuleImports/Test.ql
  javascript/ql/test/library-tests/PartialInvokeNode/test.ql
  javascript/ql/test/library-tests/Promises/tests.ql
  javascript/ql/test/library-tests/RangeAnalysis/DeadBranch.ql
  javascript/ql/test/library-tests/RegExp/EscapeInString/EscapeInString.ql
  javascript/ql/test/library-tests/RegExp/MissingUnicodeFlag/MissingUnicodeFlag.ql
  javascript/ql/test/library-tests/RegExp/predecessors_and_successors/getPredecessor.ql
  javascript/ql/test/library-tests/RegExp/predecessors_and_successors/getSuccessor.ql
  javascript/ql/test/library-tests/TorrentLibraries/ParsedTorrent.ql
  javascript/ql/test/library-tests/TorrentLibraries/UserControlledTorrentInfo.ql
  javascript/ql/test/library-tests/TorrentLibraries/parsedTorrentRef.ql
  javascript/ql/test/library-tests/TypeScript/CallSignatureTypes/test.ql
  javascript/ql/test/library-tests/TypeScript/CallSignatures/test.ql
  javascript/ql/test/library-tests/TypeScript/ImportMeta/test.ql
  javascript/ql/test/library-tests/TypeScript/Namespaces/CheckBindings.ql
  javascript/ql/test/library-tests/TypeScript/PathMapping/Imports.ql
  javascript/ql/test/library-tests/TypeScript/PrivateFields/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/test.ql
  javascript/ql/test/library-tests/TypeScript/Tokens/PrettyPrintTokens.ql
  javascript/ql/test/library-tests/TypeScript/TypeAliases/TypeAliases.ql
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/test.ql
  javascript/ql/test/library-tests/frameworks/EventEmitter/test.ql
  javascript/ql/test/library-tests/frameworks/LazyCache/LazyCache.ql
  javascript/ql/test/library-tests/frameworks/WebSocket/test.ql
  javascript/ql/test/library-tests/frameworks/typeahead/test.ql
  javascript/ql/test/query-tests/Security/CWE-020/UselessCharacterEscape.ql
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.ql
Labels: JS

#2959 C++: Add getCanonicalQLClass overrides in Variable
  cpp/ql/src/semmle/code/cpp/Field.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
Labels: C++

#2840 Python: ObjectAPI to ValueAPI: UseofApply
  python/ql/src/Expressions/UseofApply.ql
  python/ql/test/2/query-tests/Expressions/UseofApply.expected
  python/ql/test/2/query-tests/Expressions/UseofApply.py
  python/ql/test/3/query-tests/Expressions/UseofApply/UseofApply.expected
  python/ql/test/3/query-tests/Expressions/UseofApply/UseofApply.py
  python/ql/test/3/query-tests/Expressions/UseofApply/UseofApply.qlref
  python/ql/test/query-tests/Expressions/general/expressions_test.py
Labels: Python

#2867 JS: add query for useless use of cat
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Security/CWE-078/UselessUseOfCat.qhelp
  javascript/ql/src/Security/CWE-078/UselessUseOfCat.ql
  javascript/ql/src/Security/CWE-078/examples/useless-cat-fixed.js
  javascript/ql/src/Security/CWE-078/examples/useless-cat.js
  javascript/ql/src/semmle/javascript/Concepts.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/ShellJS.qll
  javascript/ql/src/semmle/javascript/frameworks/SystemCommandExecutors.qll
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.ql
  javascript/ql/test/query-tests/Security/CWE-078/uselesscat.js
Labels: JS

#2960 JS: handle this parameters when finding unreachable overloads
  javascript/ql/src/Declarations/UnreachableMethodOverloads.ql
  javascript/ql/test/query-tests/Declarations/UnreachableOverloads/UnreachableMethodOverloads.expected
  javascript/ql/test/query-tests/Declarations/UnreachableOverloads/tst.ts
Labels: JS

#2913 JS: Flag deep assignments in prototype pollution query
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.qhelp
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/DynamicPropertyAccess.qll
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/path-assignment.js
Labels: JS

#2958 JS: recognize utility functions implementing a StartsWith check
  javascript/ql/src/semmle/javascript/InclusionTests.qll
  javascript/ql/src/semmle/javascript/StringOps.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/normalizedPaths.js
Labels: JS

#2957 C++: Only return functions that match arguments in DataFlowDispatch::viableCallable
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C++

#2917 C++: `isChiForAllAliasedMemory` recursion through inexact Phi operands
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#2968 C++: Update tests following extractor no longer extracting some unused types
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
  cpp/ql/test/library-tests/templates/instantiations_functions/elements.expected
Labels: C++, depends on internal PR

#2966 Java: Document a FP for nullness in a test.
  java/ql/test/query-tests/Nullness/C.java
  java/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: Java

#2894 Python: ObjectAPI to ValueAPI: IsComparisons
  python/ql/src/Expressions/IsComparisons.qll
Labels: Python

#2964 Python: ObjectAPI to ValueAPI: NotImplemented
  python/ql/src/Exceptions/NotImplemented.qll
Labels: Python

#2945 Python: ObjectAPI to ValueAPI: CallToSuperWrongClass
  python/ql/src/Expressions/CallToSuperWrongClass.ql
Labels: Python

#2943 JS: add type-tracking to the fs-modules and model `original-fs`
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/my-fs-module.js
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/other-fs-libraries.js
Labels: JS

#2965 Python: ObjectAPI to ValueAPI: Raising
  python/ql/src/Exceptions/IllegalRaise.ql
  python/ql/src/Exceptions/Raising.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Labels: Python

#2973 Python: Fix or disable CPs introduced by #2700 and #2875.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/security/strings/External.qll
  python/ql/test/3/library-tests/taint/unpacking/TestTaint.expected
  python/ql/test/library-tests/taint/collections/TestStep.expected
  python/ql/test/library-tests/taint/collections/TestTaint.expected
  python/ql/test/library-tests/taint/namedtuple/TestTaint.expected
  python/ql/test/library-tests/taint/unpacking/TestStep.expected
  python/ql/test/library-tests/taint/unpacking/TestTaint.expected
Labels: Priority, Python

#2979 C++: pragma[noinline] on GVN charpred
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Labels: C++

#2941 C++: Avoid `iDominates*` in Overflow.qll
  cpp/ql/src/semmle/code/cpp/security/Overflow.qll
Labels: C++

#2962 JS: support sanitizers that remove all forward slashes
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
Labels: Awaiting evaluation, JS

#2983 C++: IR: faster definitionReachesRank
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C++

#2969 JS: model `process` as an EventEmitter
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/frameworks/EventEmitter/test.expected
  javascript/ql/test/library-tests/frameworks/EventEmitter/tst.js
Labels: JS

#2988 JS: Autoformat again
  javascript/ql/src/Declarations/UnreachableMethodOverloads.ql
  javascript/ql/src/semmle/javascript/StringOps.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/ShellJS.qll
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.ql
Labels: JS

#2955 JS: recognize more HttpResponseSink
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssContentTypes.js
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssWithCustomSanitizer.expected
Labels: Awaiting evaluation, JS

#2967 JS: Explore fewer spurious flow paths through properties
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/nested-props.js
Labels: JS

#2981 JS: Lower severity of js/syntax-error
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/LanguageFeatures/SyntaxError.ql
Labels: JS

#2986 1.23: Update or remove unwanted links
  docs/language/learn-ql/index.rst
  docs/language/learn-ql/ql-training.rst
  docs/language/ql-training/cpp/bad-overflow-guard.rst
  docs/language/ql-training/java/query-injection-java.rst
  docs/language/ql-training/slide-snippets/intro-ql-general.rst
Labels: documentation

#2963 Python: ObjectAPI to ValueAPI: AdvancedFormatting
  python/ql/src/Expressions/Formatting/AdvancedFormatting.qll
Labels: Python

#3001 JS: Autoformat
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
Labels: JS

#2982 JS: add default/chaining for `request`
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Labels: JS

#2995 Python: Mitigate CP in `nested_sequence_assign`.
  python/ql/src/semmle/python/Flow.qll
Labels: Python

#2897 Code QL pre-migration tasks: update articles relating to CodeQL for JavaScript
  docs/language/learn-ql/javascript/ast-class-reference.rst
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/language/learn-ql/javascript/dataflow.rst
  docs/language/learn-ql/javascript/flow-labels.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
  docs/language/learn-ql/javascript/ql-for-javascript.rst
  docs/language/learn-ql/javascript/type-tracking.rst
Labels: documentation, migration-prep

#2831 C#: Generate fresh TRAP ID for local functions
  csharp/extractor/Semmle.Extraction.CSharp/Entities/LocalFunction.cs
Labels: C#

#2987 JS: Declassify sensitive exprs with special characters
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/SensitiveActions.qll
  javascript/ql/test/library-tests/SensitiveActions/tst.js
Labels: JS

#3021 Java/C++/C#: Fix performance issue in partial paths exploration.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Labels: C#, C++, Java

#3024 JavaScript: Move flow summaries to `experimental`.
  change-notes/1.24/analysis-javascript.md
  javascript/config/suites/javascript/flow-summaries
  javascript/documentation/flow-summaries.rst
  javascript/ql/src/experimental/Summaries/Configurations.qll
  javascript/ql/src/experimental/Summaries/ExtractFlowStepSummaries.ql
  javascript/ql/src/experimental/Summaries/ExtractSinkSummaries.ql
  javascript/ql/src/experimental/Summaries/ExtractSourceSummaries.ql
  javascript/ql/src/experimental/Summaries/ImportFromCsv.qll
  javascript/ql/src/experimental/Summaries/ImportFromExternalPredicates.qll
  javascript/ql/src/experimental/Summaries/PortalEntrySink.qll
  javascript/ql/src/experimental/Summaries/PortalExitSource.qll
  javascript/ql/src/experimental/Summaries/Shared.qll
  javascript/ql/src/experimental/Summaries/SinkFromAnnotation.qll
  javascript/ql/src/experimental/Summaries/SourceFromAnnotation.qll
  javascript/ql/test/query-tests/Security/Summaries/ExtractFlowStepSummaries.qlref
  javascript/ql/test/query-tests/Security/Summaries/ExtractSinkSummaries.qlref
  javascript/ql/test/query-tests/Security/Summaries/ExtractSourceSummaries.qlref
Labels: JS

#2994 C++: Move InstructionSanity out of Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C++

#2977 Python: ObjectAPI to ValueAPI: CatchingBaseException
  python/ql/src/Exceptions/CatchingBaseException.ql
Labels: Python

#2976 Python: ObjectAPI to ValueAPI: EmptyExcept
  python/ql/src/Exceptions/EmptyExcept.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Labels: Python

#2990 Python: ObjectAPI to ValueAPI: RaisingTuple
  python/ql/src/Exceptions/RaisingTuple.ql
Labels: Python

#2925 Python: ObjectAPI to ValueAPI: CallArgs
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Labels: Python

#3030 Python: ObjectAPI to ValueAPI: UseImplicitNoneReturnValue
  python/ql/src/Functions/UseImplicitNoneReturnValue.ql
Labels: Python

#3026 C++: Handle constant variable accesses in SimpleRangeAnalysis.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/wider_type/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/wider_type/test2.c
Labels: C++

#2932 Python: Add example of re.compile missing points-to
  python/ql/test/library-tests/PointsTo/regressions/missing/if-urlsplit-access/Test.expected
  python/ql/test/library-tests/PointsTo/regressions/missing/if-urlsplit-access/Test.ql
  python/ql/test/library-tests/PointsTo/regressions/missing/if-urlsplit-access/options
  python/ql/test/library-tests/PointsTo/regressions/missing/if-urlsplit-access/test.py
  python/ql/test/library-tests/PointsTo/regressions/missing/re-compile/Test.expected
  python/ql/test/library-tests/PointsTo/regressions/missing/re-compile/Test.ql
  python/ql/test/library-tests/PointsTo/regressions/missing/re-compile/test.py
Labels: Python

#3033 Merge rc/1.23 back into master
  docs/language/learn-ql/index.rst
  docs/language/learn-ql/ql-training.rst
  docs/language/ql-training/cpp/bad-overflow-guard.rst
  docs/language/ql-training/java/query-injection-java.rst
  docs/language/ql-training/slide-snippets/intro-ql-general.rst
Labels: Mergeback

#2998 JS: Improve TypeScript memory management and error reporting
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Labels: JS

#3020 Dataflow: Fix bug in type pruning.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/frameworks/JsonNET.qll
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/test/library-tests/dataflow/typepruning/A.java
  java/ql/test/library-tests/dataflow/typepruning/test.expected
  java/ql/test/library-tests/dataflow/typepruning/test.ql
Labels: C#, C++, Java

#2942 Python: Add a bit of regex docs
  python/ql/src/semmle/python/regex.qll
Labels: Python

#3031 Python: ObjectAPI to ValueAPI: SignatureSpecialMethods
  python/ql/src/Functions/SignatureSpecialMethods.ql
  python/ql/test/query-tests/Functions/general/SignatureSpecialMethods.expected
Labels: Python

#3007 Python: Remove usage of deprecated .getValue()
  python/ql/src/Variables/MonkeyPatched.qll
  python/ql/src/semmle/python/dataflow/TaintTracking.qll
  python/ql/src/semmle/python/security/strings/Basic.qll
  python/ql/src/semmle/python/security/strings/External.qll
  python/ql/src/semmle/python/values/StringAttributes.qll
  python/ql/src/semmle/python/web/Http.qll
  python/ql/src/semmle/python/web/django/Request.qll
Labels: Python

#2937 Python: ObjectAPI to ValueAPI: WrongNumberArgumentsForFormat
  python/ql/src/Expressions/WrongNumberArgumentsForFormat.ql
Labels: Python

#3037 Replace remaining links to semmle.com in 'docs' directory
  docs/language/global-sphinx-files/_templates/layout.html
  docs/language/learn-ql/about-ql.rst
Labels: documentation

#3000 JS: Compute barrier guard dominance after exploratory flow
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#2820 Python: modernise Statements/ queries
  python/ql/src/Statements/AssertLiteralConstant.ql
  python/ql/src/Statements/AssertOnTuple.ql
  python/ql/src/Statements/BreakOrReturnInFinally.ql
  python/ql/src/Statements/C_StyleParentheses.ql
  python/ql/src/Statements/ConstantInConditional.ql
  python/ql/src/Statements/DocStrings.ql
  python/ql/src/Statements/ExecUsed.ql
  python/ql/src/Statements/IterableStringOrSequence.ql
  python/ql/src/Statements/MismatchInMultipleAssignment.ql
  python/ql/src/Statements/ModificationOfLocals.ql
  python/ql/src/Statements/NestedLoopsSameVariable.ql
  python/ql/src/Statements/NestedLoopsSameVariableWithReuse.ql
  python/ql/src/Statements/NonIteratorInForLoop.qhelp
  python/ql/src/Statements/NonIteratorInForLoop.ql
  python/ql/src/Statements/RedundantAssignment.ql
  python/ql/src/Statements/ReturnOrYieldOutsideFunction.ql
  python/ql/src/Statements/ShouldUseWithStatement.ql
  python/ql/src/Statements/SideEffectInAssert.py
  python/ql/src/Statements/SideEffectInAssert.ql
  python/ql/src/Statements/StatementNoEffect.ql
  python/ql/src/Statements/StringConcatenationInLoop.qhelp
  python/ql/src/Statements/StringConcatenationInLoop.ql
  python/ql/src/Statements/TopLevelPrint.ql
  python/ql/src/Statements/UnnecessaryDelete.ql
  python/ql/src/Statements/UnnecessaryElseClause.ql
  python/ql/src/Statements/UnnecessaryPass.ql
  python/ql/src/Statements/UnusedExceptionObject.ql
  python/ql/src/Statements/UseOfExit.ql
  python/ql/src/semmle/python/objects/Descriptors.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/ClassValue.expected
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/ClassValue.ql
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/mwe_failure.py
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/mwe_failure_2.py
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/mwe_success.py
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/options
  python/ql/test/3/query-tests/Statements/iter/NonIteratorInForLoop.expected
  python/ql/test/library-tests/descriptors/Methods.expected
  python/ql/test/library-tests/descriptors/Properties.expected
  python/ql/test/library-tests/descriptors/Properties.ql
  python/ql/test/library-tests/descriptors/test.py
  python/ql/test/library-tests/modules/usage/ModuleUsage.expected
  python/ql/test/library-tests/modules/usage/ModuleUsage.ql
  python/ql/test/library-tests/modules/usage/imported.py
  python/ql/test/library-tests/modules/usage/main.py
  python/ql/test/library-tests/modules/usage/myscript.py
  python/ql/test/library-tests/modules/usage/options
  python/ql/test/library-tests/modules/usage/script
  python/ql/test/query-tests/Statements/asserts/SideEffectInAssert.expected
  python/ql/test/query-tests/Statements/asserts/assert.py
  python/ql/test/query-tests/Statements/asserts/side_effect.py
  python/ql/test/query-tests/Statements/general/MismatchInMultipleAssignment.expected
  python/ql/test/query-tests/Statements/general/NonIteratorInForLoop.expected
  python/ql/test/query-tests/Statements/general/RedundantAssignment.expected
  python/ql/test/query-tests/Statements/general/UnnecessaryDelete.expected
  python/ql/test/query-tests/Statements/general/UnnecessaryElseClause.expected
  python/ql/test/query-tests/Statements/general/statements_test.py
Labels: Python

#2823 CodeQL: Python topics (2166) - WIP
  docs/language/learn-ql/python/control-flow-graph.rst
  docs/language/learn-ql/python/control-flow.rst
  docs/language/learn-ql/python/functions.rst
  docs/language/learn-ql/python/introduce-libraries-python.rst
  docs/language/learn-ql/python/pointsto-type-infer.rst
  docs/language/learn-ql/python/ql-for-python.rst
  docs/language/learn-ql/python/statements-expressions.rst
  docs/language/learn-ql/python/taint-tracking.rst
  docs/language/reusables/python-other-resources.rst
Labels: documentation, migration-prep

#2866 CodeQL migration: Java topics - change titles & add intros (2164)
  docs/language/learn-ql/java/annotations.rst
  docs/language/learn-ql/java/ast-class-reference.rst
  docs/language/learn-ql/java/call-graph.rst
  docs/language/learn-ql/java/dataflow.rst
  docs/language/learn-ql/java/expressions-statements.rst
  docs/language/learn-ql/java/introduce-libraries-java.rst
  docs/language/learn-ql/java/javadoc.rst
  docs/language/learn-ql/java/ql-for-java.rst
  docs/language/learn-ql/java/source-locations.rst
  docs/language/learn-ql/java/types-class-hierarchy.rst
Labels: documentation, migration-prep

#3006 C++: IR: Ignore constant static initializers
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/struct_init.cpp
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/variables/variables/variable.expected
Labels: C++

#2970 C++: Tests for variables with ambiguous types
  cpp/ql/test/library-tests/multiple_declarations/variable_types/extracted_once.h
  cpp/ql/test/library-tests/multiple_declarations/variable_types/extracted_twice.h
  cpp/ql/test/library-tests/multiple_declarations/variable_types/file1.c
  cpp/ql/test/library-tests/multiple_declarations/variable_types/file2.c
  cpp/ql/test/library-tests/multiple_declarations/variable_types/varType.expected
  cpp/ql/test/library-tests/multiple_declarations/variable_types/varType.ql
Labels: C++

#3038 Python: ObjectAPI to ValueAPI: DeprecatedSliceMethod
  python/ql/src/Functions/DeprecatedSliceMethod.ql
  python/ql/test/query-tests/Functions/general/DeprecatedSliceMethod.expected
Labels: Python

#2827 Python: ObjectAPI to ValueAPI: ExpectedMappingForFormatString
  python/ql/src/Expressions/ExpectedMappingForFormatString.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/query-tests/Expressions/general/ExpectedMappingForFormatString.expected
Labels: Python

#3046 docs: Remove GitHub variable
  docs/language/learn-ql/csharp/introduce-libraries-csharp.rst
Labels: documentation, migration-prep

#3034 JS: distinguish escapes in strings and regular expression literals
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/CharacterEscapes.qll
  javascript/ql/test/query-tests/Security/CWE-020/UselessCharacterEscape.expected
  javascript/ql/test/query-tests/Security/CWE-020/UselessRegExpCharacterEscape.expected
  javascript/ql/test/query-tests/Security/CWE-020/tst-escapes.js
Labels: Awaiting evaluation, JS

#3047 Java: Add test case to typeflow qltest.
  java/ql/test/library-tests/typeflow/A.java
Labels: Java

#2869 CodeQL docs: update titles, add intros, and a few content updates
  docs/language/learn-ql/cpp/conversions-classes.rst
  docs/language/learn-ql/cpp/dataflow.rst
  docs/language/learn-ql/cpp/expressions-types.rst
  docs/language/learn-ql/cpp/function-classes.rst
  docs/language/learn-ql/cpp/guards.rst
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
  docs/language/learn-ql/cpp/private-field-initialization.rst
  docs/language/learn-ql/cpp/ql-for-cpp.rst
  docs/language/learn-ql/cpp/range-analysis.rst
  docs/language/learn-ql/cpp/value-numbering-hash-cons.rst
  docs/language/learn-ql/cpp/zero-space-terminator.rst
Labels: documentation, migration-prep

#3008 Python: modernise remaining security files
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/security/ClearText.qll
  python/ql/src/semmle/python/security/Crypto.qll
  python/ql/src/semmle/python/security/Exceptions.qll
  python/ql/src/semmle/python/security/SensitiveData.qll
Labels: Python

#3043 CodeQL docs migration prep: Update QL tutorials
  docs/language/learn-ql/beginner/catch-the-fire-starter.rst
  docs/language/learn-ql/beginner/cross-the-river.rst
  docs/language/learn-ql/beginner/crown-the-rightful-heir.rst
  docs/language/learn-ql/beginner/find-the-thief.rst
  docs/language/learn-ql/beginner/find-thief-1.rst
  docs/language/learn-ql/beginner/find-thief-2.rst
  docs/language/learn-ql/beginner/find-thief-3.rst
  docs/language/learn-ql/beginner/fire-2.rst
  docs/language/learn-ql/beginner/ql-tutorials.rst
  docs/language/learn-ql/beginner/river-crossing-1.ql
  docs/language/learn-ql/beginner/river-crossing.ql
  docs/language/learn-ql/index.rst
  docs/language/learn-ql/introduction-to-ql.rst
  docs/language/ql-handbook/name-resolution.rst
Labels: documentation, migration-prep

#3048 Docs: Remove some Semmle references
  CONTRIBUTING.md
  README.md
  docs/query-metadata-style-guide.md
  javascript/extractor/README.md
Labels: documentation

#3023 JS: js/redundant-operation FP with ++expressions
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Expressions/RedundantExpression.ql
  javascript/ql/test/query-tests/Expressions/RedundantExpression/tst.js
Labels: JS

#3050 C++: Fix mismatching new/free FP in template code.
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/Critical/NewDelete.qll
  cpp/ql/test/query-tests/Critical/NewFree/NewFreeMismatch.expected
  cpp/ql/test/query-tests/Critical/NewFree/test2.cpp
Labels: C++

#3005 Python: Modernise StringKind files
  python/ql/src/semmle/python/security/strings/Basic.qll
  python/ql/src/semmle/python/security/strings/Common.qll
  python/ql/src/semmle/python/security/strings/External.qll
Labels: Python

#3051 Java: Add taint steps for java.util.Queue methods.
  java/ql/src/semmle/code/java/dataflow/internal/ContainerFlow.qll
Labels: Java

#3052 Remove information about COBOL analysis
  docs/language/learn-ql/cobol/introduce-libraries-cobol.rst
  docs/language/learn-ql/cobol/ql-for-cobol.rst
  docs/language/learn-ql/index.rst
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/support/cobol-note.rst
  docs/language/support/conf.py
  docs/language/support/language-support.rst
  docs/query-metadata-style-guide.md
Labels: documentation

#3042 Merge rc/1.23 into master
  docs/language/global-sphinx-files/_templates/layout.html
  docs/language/learn-ql/about-ql.rst
Labels: Mergeback

#3058 JS: Fix perf issue in mayReceiveArgument
  javascript/ql/src/semmle/javascript/dataflow/internal/VariableTypeInference.qll
Labels: JS

#2800 CWE-643 XPathInjection on java
  java/ql/src/experimental/CWE-643/XPathInjection.java
  java/ql/src/experimental/CWE-643/XPathInjection.qhelp
  java/ql/src/experimental/CWE-643/XPathInjection.ql
Labels: Java

#2850 ScriptEngine java code injection
  java/ql/src/experimental/CWE-094/ScriptEngine.java
  java/ql/src/experimental/CWE-094/ScriptEngine.qhelp
  java/ql/src/experimental/CWE-094/ScriptEngine.ql
Labels: Java

#3061 C++: Fix getValue in SimpleRangeAnalysis
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.cpp
Labels: C++

#3004 JS: Mongoose and MongoDB improvements
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/typed/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/typed/shim.d.ts
  javascript/ql/test/query-tests/Security/CWE-089/typed/typedClient.ts
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.ql
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/dbo.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongodb.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
Labels: JS

#3054 JS: remove model of Deferred
  javascript/ql/src/Statements/UseOfReturnlessFunction.ql
Labels: JS

#3049 JS: Fix cyclic JSON error during TypeScript extraction
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParserMetadata.java
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ArrowReturn/options
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ArrowReturn/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ArrowReturn/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ArrowReturn/tst.ts
Labels: Awaiting evaluation, JS

#3041 JS: add more ClientRequest models for JQuery
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Labels: Awaiting evaluation, JS

#3057 JS: infer `this` to be `module.exports` in node modules
  javascript/ql/src/semmle/javascript/dataflow/internal/InterProceduralTypeInference.qll
  javascript/ql/test/library-tests/ThisExpr/ThisExpr_analyzed.expected
  javascript/ql/test/library-tests/ThisExpr/getBasicBlock.expected
  javascript/ql/test/library-tests/ThisExpr/getBinder.expected
  javascript/ql/test/library-tests/ThisExpr/module-exports.js
Labels: Awaiting evaluation, JS

#3067 Add execve to CommandExecution
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
Labels: C++

#3064 JS: Don't report TypeScript diagnostics by default
  javascript/extractor/lib/typescript/src/main.ts
Labels: JS

#3022 C#: Ignore `dotnet clean` exit code in autobuilder
  csharp/autobuilder/Semmle.Autobuild/DotNetRule.cs
Labels: C#

#3072 C++: Improvement to cpp/unsigned-comparison-zero
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Arithmetic/UnsignedGEZero.qll
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.c
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.cpp
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.expected
Labels: C++

#3045 JS: loosen qldoc for `barrierGuardIsRelevant`
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#3055 CodeQL docs: update titles and small content changes (CodeQL queries)
  docs/language/learn-ql/cpp/dataflow.rst
  docs/language/learn-ql/csharp/dataflow.rst
  docs/language/learn-ql/intro-to-data-flow.rst
  docs/language/learn-ql/java/dataflow.rst
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/language/learn-ql/javascript/dataflow.rst
  docs/language/learn-ql/locations.rst
  docs/language/learn-ql/ql-training.rst
  docs/language/learn-ql/writing-queries/debugging-queries.rst
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/learn-ql/writing-queries/path-queries.rst
  docs/language/learn-ql/writing-queries/query-help.rst
  docs/language/learn-ql/writing-queries/query-metadata.rst
  docs/language/learn-ql/writing-queries/select-statement.rst
  docs/language/learn-ql/writing-queries/writing-queries.rst
Labels: documentation, migration-prep

#3080 CodeQL docs: tidy up a few links
  docs/language/learn-ql/csharp/introduce-libraries-csharp.rst
  docs/language/learn-ql/csharp/ql-for-csharp.rst
  docs/language/learn-ql/java/ql-for-java.rst
Labels: documentation, migration-prep

#3078 Docs: refactor guidelines for new queries
  CONTRIBUTING.md
  docs/experimental.md
  docs/supported-queries.md
Labels: documentation

#3065 JS: add more models for file related sinks and sources
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/Files.qll
  javascript/ql/test/library-tests/frameworks/Concepts/FileAccess.expected
  javascript/ql/test/library-tests/frameworks/Concepts/FileAccess.ql
  javascript/ql/test/library-tests/frameworks/Concepts/FileNameSource.expected
  javascript/ql/test/library-tests/frameworks/Concepts/file-access.js
Labels: JS

#3036 JS: Add predicates for type-tracking promises
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/StepSummary.qll
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/frameworks/Files.qll
  javascript/ql/test/library-tests/frameworks/Concepts/FileNameSource.expected
  javascript/ql/test/library-tests/frameworks/Concepts/tst-file-names.js
  javascript/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
  javascript/ql/test/query-tests/Security/CWE-918/tst.js
Labels: JS

#3070 JS: add isRelevant(succ) to flowStep predicate
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#3002 CPP: Add query for CWE-273 that detects out-of-order setuid
  cpp/ql/src/experimental/Security/CWE/CWE-273/PrivilegeDroppingOutoforder.c
  cpp/ql/src/experimental/Security/CWE/CWE-273/PrivilegeDroppingOutoforder.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-273/PrivilegeDroppingOutoforder.ql
Labels: C++

#2978 Python: ObjectAPI to ValueAPI: IllegalExceptionHandlerType
  python/ql/src/Exceptions/IllegalExceptionHandlerType.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/types/Exceptions.qll
  python/ql/test/2/library-tests/ControlFlow/Exceptions/Handles.ql
  python/ql/test/3/library-tests/ControlFlow/Exceptions/Handles.ql
  python/ql/test/library-tests/exceptions/Handles.ql
Labels: Python

#3029 Python: ObjectAPI to ValueAPI: Handles
  python/ql/test/2/library-tests/ControlFlow/Exceptions/Handles.ql
  python/ql/test/3/library-tests/ControlFlow/Exceptions/Handles.ql
  python/ql/test/library-tests/exceptions/Handles.ql
Labels: Python

#3056 C++: Model dynamic initialization of static local variables in IR
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/TIRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/CppType.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/variables/variables/variable.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/internal/TIRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRVariable.qll
Labels: C++

#2849 C++: Model for gets
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/library-tests/dataflow/security-taint/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/ArithmeticUncontrolled.expected
Labels: C++, depends on internal PR

#3088 Python: Prepare for autoformatting.
  python/ql/src/Classes/MethodCallOrder.qll
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Testing/Mox.qll
  python/ql/src/analysis/CrossProjectDefinitions.qll
  python/ql/src/analysis/DefinitionTracking.qll
  python/ql/src/semmle/python/AstExtended.qll
  python/ql/src/semmle/python/Class.qll
  python/ql/src/semmle/python/Comparisons.qll
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/Files.qll
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/Function.qll
  python/ql/src/semmle/python/GuardedControlFlow.qll
  python/ql/src/semmle/python/Import.qll
  python/ql/src/semmle/python/Metrics.qll
  python/ql/src/semmle/python/Operations.qll
  python/ql/src/semmle/python/Scope.qll
  python/ql/src/semmle/python/SelfAttribute.qll
  python/ql/src/semmle/python/TestUtils.qll
  python/ql/src/semmle/python/dependencies/Dependencies.qll
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/objects/Callables.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/pointsto/Overview.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/src/semmle/python/pointsto/PointsToContext.qll
  python/ql/src/semmle/python/security/injection/Command.qll
  python/ql/src/semmle/python/security/strings/Basic.qll
  python/ql/src/semmle/python/types/ClassObject.qll
  python/ql/src/semmle/python/types/Exceptions.qll
  python/ql/src/semmle/python/types/FunctionObject.qll
  python/ql/src/semmle/python/types/ModuleObject.qll
  python/ql/src/semmle/python/types/Object.qll
Labels: Python

#2922 Python: Fix bug in `multi_assignment_points_to`.
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/test/library-tests/PointsTo/new/Dataflow.expected
  python/ql/test/library-tests/PointsTo/new/Definitions.expected
  python/ql/test/library-tests/PointsTo/new/PointsToUnknown.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithType.expected
  python/ql/test/library-tests/PointsTo/new/SSA.expected
  python/ql/test/library-tests/PointsTo/new/SourceNodeDefinitions.expected
  python/ql/test/library-tests/PointsTo/new/SsaUses.expected
  python/ql/test/library-tests/PointsTo/new/Values.expected
  python/ql/test/library-tests/PointsTo/new/VarUses.expected
  python/ql/test/library-tests/PointsTo/new/code/a_simple.py
  python/ql/test/library-tests/PointsTo/regressions/missing/if-urlsplit-access/Test.expected
  python/ql/test/library-tests/PointsTo/regressions/missing/if-urlsplit-access/test.py
  python/ql/test/query-tests/analysis/pointsto/Pruned.expected
Labels: Python

#2989 Python: ObjectAPI to ValueAPI: IncorrectExceptOrder
  python/ql/src/Exceptions/IncorrectExceptOrder.ql
  python/ql/test/query-tests/Exceptions/general/IncorrectExceptOrder.expected
Labels: Python

#3085 C++: Manual magic in inStaticInitializer
  cpp/ql/src/semmle/code/cpp/Variable.qll
Labels: C++

#2915 Python: Use `TUnknown` as the result of calls to methods with unknown return types
  python/ql/src/semmle/python/objects/Callables.qll
  python/ql/test/2/library-tests/types/functions/ReturnTypes.expected
  python/ql/test/library-tests/PointsTo/new/Call.expected
  python/ql/test/library-tests/PointsTo/new/NameSpace.expected
  python/ql/test/library-tests/PointsTo/new/PointsToMissing.expected
  python/ql/test/library-tests/PointsTo/new/PointsToMissing.ql
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithType.expected
  python/ql/test/library-tests/PointsTo/new/Values.expected
  python/ql/test/library-tests/PointsTo/new/code/l_calls.py
Labels: Awaiting evaluation, Python

#3076 JS: Mongoose improvements: Mongoose and createConnection
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
Labels: JS

#3082 C++: Model varargs in IR, Part I
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/VarArgs.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/TempVariableTag.qll
  cpp/ql/test/library-tests/arg_matching/arg_matching.expected
  cpp/ql/test/library-tests/arg_matching/arg_matching.ql
  cpp/ql/test/library-tests/arg_matching/args.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/TempVariableTag.qll
Labels: C#, C++, enhancement

#3086 Java: Add apache Base64 taint steps.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Labels: Java

#3081 Java: Add URLDecoder.decode as taint step.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Labels: Java

#2903 Data flow: Refactoring + performance improvements
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java

#2858 Python: support Django 2.x and 3.x
  change-notes/1.24/analysis-python.md
  python/ql/src/semmle/python/web/bottle/General.qll
  python/ql/src/semmle/python/web/bottle/Request.qll
  python/ql/src/semmle/python/web/django/General.qll
  python/ql/src/semmle/python/web/django/Redirect.qll
  python/ql/src/semmle/python/web/django/Request.qll
  python/ql/src/semmle/python/web/django/Response.qll
  python/ql/src/semmle/python/web/django/Shared.qll
  python/ql/test/library-tests/web/django/HttpRedirectSinks.expected
  python/ql/test/library-tests/web/django/HttpRedirectSinks.ql
  python/ql/test/library-tests/web/django/HttpResponseSinks.expected
  python/ql/test/library-tests/web/django/HttpSources.expected
  python/ql/test/library-tests/web/django/test_1x.py
  python/ql/test/library-tests/web/django/test_2x_3x.py
  python/ql/test/library-tests/web/django/views_1x.py
  python/ql/test/library-tests/web/django/views_2x_3x.py
  python/ql/test/query-tests/Security/lib/django/conf/urls.py
  python/ql/test/query-tests/Security/lib/django/shortcuts.py
  python/ql/test/query-tests/Security/lib/django/urls.py
  python/ql/test/query-tests/Security/lib/django/views/__init__.py
  python/ql/test/query-tests/Security/lib/django/views/generic.py
Labels: Python

#3091 C#: Teach XPath injection query about `XPathNavigator`
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/frameworks/system/xml/XPath.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/XPathInjection.qll
  csharp/ql/test/query-tests/Security Features/CWE-643/XPathInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-643/XPathInjection.expected
Labels: C#

#2919 JS: Make sanitizers no longer block taint inside an object
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextLoggingCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeDynamicMethodAccess.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeDynamicMethodAccessCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCall.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCallCustomizations.qll
  javascript/ql/test/library-tests/TaintBarriers/isBarrier.expected
  javascript/ql/test/library-tests/TaintBarriers/isBarrier.ql
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.ql
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/object-bypass-sanitizer.js
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Labels: JS

#3092 C++: Better IR for varargs
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
Labels: C++, enhancement

#3109 JavaScript: Avoid a few bad join orders
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Labels: JS

#3108 Java: Fixup FinalizeMethod definition.
  java/ql/src/semmle/code/java/Member.qll
Labels: Java

#3107 JS: fix FP in js/superfluous-trailing-arguments related to Function.arguments
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/Functions.qll
  javascript/ql/test/query-tests/LanguageFeatures/SpuriousArguments/tst.js
Labels: Awaiting evaluation, JS

#2888 Python: Improve tarslip sanitizer
  python/ql/src/Security/CWE-022/TarSlip.ql
  python/ql/test/query-tests/Security/CWE-022/TarSlip.expected
  python/ql/test/query-tests/Security/CWE-022/tarslip.py
Labels: Python

#3093 JS: Add more sinks to js/tainted-path
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/frameworks/Files.qll
  javascript/ql/test/library-tests/frameworks/Concepts/FileAccess.expected
  javascript/ql/test/library-tests/frameworks/Concepts/FileNameSource.expected
  javascript/ql/test/library-tests/frameworks/Concepts/file-access.js
  javascript/ql/test/library-tests/frameworks/Concepts/tst-file-names.js
Labels: JS

#3115 Java: Fix directory structure in experimental.
  java/ql/src/experimental/Security/CWE/CWE-094/ScriptEngine.java
  java/ql/src/experimental/Security/CWE/CWE-094/ScriptEngine.qhelp
  java/ql/src/experimental/Security/CWE/CWE-094/ScriptEngine.ql
  java/ql/src/experimental/Security/CWE/CWE-643/XPathInjection.java
  java/ql/src/experimental/Security/CWE/CWE-643/XPathInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-643/XPathInjection.ql
Labels: Java

#3106 Java: Sharpen return type of LambdaExpr.getStmtBody().
  java/ql/src/semmle/code/java/Expr.qll
Labels: Java

#3112 C++/C#: Fix invalid overlap
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/InstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/InstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/StrncpyFlippedArgs/StrncpyFlippedArgs.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/InstructionImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir_sanity.expected
  csharp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
Labels: C++, depends on internal PR

#3111 Python: Add fabric command injection support
  change-notes/1.24/analysis-python.md
  python/ql/src/Security/CWE-078/CommandInjection.ql
  python/ql/src/semmle/python/security/injection/Command.qll
  python/ql/test/library-tests/security/command-execution/CommandSinks.expected
  python/ql/test/library-tests/security/command-execution/CommandSinks.ql
  python/ql/test/library-tests/security/command-execution/fabric-LICENSE
  python/ql/test/library-tests/security/command-execution/fabric_v1_test.py
  python/ql/test/library-tests/security/command-execution/fabric_v2_test.py
  python/ql/test/library-tests/security/command-execution/invoke_test.py
  python/ql/test/library-tests/security/command-execution/options
  python/ql/test/query-tests/Security/lib/fabric/__init__.py
  python/ql/test/query-tests/Security/lib/fabric/api.py
  python/ql/test/query-tests/Security/lib/fabric/connection.py
  python/ql/test/query-tests/Security/lib/fabric/group.py
  python/ql/test/query-tests/Security/lib/fabric/tasks.py
  python/ql/test/query-tests/Security/lib/invoke/__init__.py
  python/ql/test/query-tests/Security/lib/invoke/context.py
  python/ql/test/query-tests/Security/lib/invoke/tasks.py
Labels: Python

#3114 Python: Add points-to regression when using @classmethod decorators
  python/ql/test/library-tests/PointsTo/regressions/wrong/classmethod/Test.expected
  python/ql/test/library-tests/PointsTo/regressions/wrong/classmethod/Test.ql
  python/ql/test/library-tests/PointsTo/regressions/wrong/classmethod/test.py
  python/ql/test/query-tests/Expressions/callable/NonCallableCalled.expected
  python/ql/test/query-tests/Expressions/callable/test.py
Labels: Python

#3019 JS: Add data-flow steps for arrays using a pseudo-property
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/Arrays/DataFlow.expected
  javascript/ql/test/library-tests/Arrays/DataFlow.ql
  javascript/ql/test/library-tests/Arrays/arrays.js
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/GermanFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TrackedNodes.expected
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
Labels: JS

#2975 C++/C#: generate IR for funcs excluded in PrintIR
  cpp/ql/src/semmle/code/cpp/ir/implementation/IRConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/IRInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/IRInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/IRConfiguration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/IRConfiguration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRBlock.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/PrintIR.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRBlock.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/PrintIR.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/IRInternal.qll
Labels: C++

#3122 C++: Improve QLDoc for Function.getParameter
  cpp/ql/src/semmle/code/cpp/Function.qll
Labels: C++

#3119 JS: Move SockJS implementation into our standard library
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/experimental/SockJS/SockJS.qll
  javascript/ql/src/semmle/javascript/frameworks/WebSocket.qll
  javascript/ql/test/library-tests/frameworks/WebSocket/browser.js
  javascript/ql/test/library-tests/frameworks/WebSocket/client.js
  javascript/ql/test/library-tests/frameworks/WebSocket/server.js
  javascript/ql/test/library-tests/frameworks/WebSocket/sockjs.js
  javascript/ql/test/library-tests/frameworks/WebSocket/test.expected
  javascript/ql/test/library-tests/frameworks/WebSocket/test.ql
Labels: JS

#3121 C++: Late fix for PR feedback
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C#, C++

#3105 Java: Fix missing jump step from PostUpdate to capture.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/capture/A.java
  java/ql/test/library-tests/dataflow/capture/test.expected
  java/ql/test/library-tests/dataflow/capture/test.ql
Labels: Java

#3097 C++: Implement Instruction.isResultConflated
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir_sanity.expected
  csharp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
Labels: C++

#3073 C#: Add test for `cs/dereferenced-value-may-be-null`
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#3137 C++: Never track flow out of an argv argument
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Labels: C++

#3138 docs: fix links in Python articles (rc/1.23)
  docs/language/learn-ql/cpp/dataflow.rst
  docs/language/learn-ql/java/dataflow.rst
  docs/language/learn-ql/python/introduce-libraries-python.rst
  docs/language/learn-ql/python/taint-tracking.rst
  docs/language/ql-spec/language.rst
Labels: documentation

#3116 JavaScript: Add type tracking to Postgres model.
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/SQL.qll
  javascript/ql/test/library-tests/frameworks/SQL/SqlString.expected
  javascript/ql/test/library-tests/frameworks/SQL/postgres5.js
Labels: JS

#3130 JS: more precise charpreds in taint steps
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Labels: JS

#3095 JS: add more isRelevant() calls
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Labels: Awaiting evaluation, JS

#3149 Change 'Set Literals' to 'Set literals'
  docs/language/ql-spec/language.rst
Labels: documentation

#3147 C++: Fix test expectations for complex literals
  cpp/ql/test/library-tests/literals/literals/literals.expected
Labels: C++, depends on internal PR

#3132 Python: Fix iterable-unpacking taint CP
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/test/3/library-tests/taint/unpacking/TestTaint.expected
  python/ql/test/library-tests/taint/collections/TestStep.expected
  python/ql/test/library-tests/taint/collections/TestTaint.expected
  python/ql/test/library-tests/taint/namedtuple/TestTaint.expected
  python/ql/test/library-tests/taint/unpacking/TestStep.expected
  python/ql/test/library-tests/taint/unpacking/TestTaint.expected
Labels: Python

#3146 CodeQL docs: tidy up 'docs-preparation' branch following pre-migration work
  docs/language/learn-ql/beginner/ql-tutorials.rst
  docs/language/learn-ql/cobol/introduce-libraries-cobol.rst
  docs/language/learn-ql/cpp/conversions-classes.rst
  docs/language/learn-ql/cpp/dataflow.rst
  docs/language/learn-ql/cpp/expressions-types.rst
  docs/language/learn-ql/cpp/function-classes.rst
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
  docs/language/learn-ql/cpp/private-field-initialization.rst
  docs/language/learn-ql/cpp/ql-for-cpp.rst
  docs/language/learn-ql/cpp/zero-space-terminator.rst
  docs/language/learn-ql/csharp/dataflow.rst
  docs/language/learn-ql/csharp/introduce-libraries-csharp.rst
  docs/language/learn-ql/csharp/ql-for-csharp.rst
  docs/language/learn-ql/go/ql-for-go.rst
  docs/language/learn-ql/index.rst
  docs/language/learn-ql/java/dataflow.rst
  docs/language/learn-ql/java/ql-for-java.rst
  docs/language/learn-ql/javascript/dataflow.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
  docs/language/learn-ql/javascript/ql-for-javascript.rst
  docs/language/learn-ql/javascript/type-tracking.rst
  docs/language/learn-ql/python/ql-for-python.rst
  docs/language/learn-ql/ql-training.rst
  docs/language/learn-ql/writing-queries/query-metadata.rst
  docs/language/learn-ql/writing-queries/writing-queries.rst
Labels: documentation, migration-prep

#2921 Java: Add data-flow consistency checks.
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.ql
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.ql
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.ql
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.ql
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.ql
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplConsistency.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Labels: C#, C++, Java

#3127 JS: Fix type-tracking for promises.
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/StepSummary.qll
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/flow.qll
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
  javascript/ql/test/library-tests/frameworks/Concepts/FileNameSource.expected
  javascript/ql/test/library-tests/frameworks/Concepts/tst-file-names.js
Labels: JS

#3162 C++: Remove noise from argHasPostUpdate check
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Labels: C++

#2889 Python: Add example for how to write your own sanitizer
  python/ql/test/library-tests/examples/custom-sanitizer/SanitizedEdges.expected
  python/ql/test/library-tests/examples/custom-sanitizer/SanitizedEdges.ql
  python/ql/test/library-tests/examples/custom-sanitizer/Taint.qll
  python/ql/test/library-tests/examples/custom-sanitizer/TestTaint.expected
  python/ql/test/library-tests/examples/custom-sanitizer/TestTaint.ql
  python/ql/test/library-tests/examples/custom-sanitizer/test.py
Labels: Python

#3152 Move `sync-identical-files.py` into public repo as `sync-files.py`
  .gitignore
  config/sync-files.py
Labels: C#, C++, Java

#3133 JS: Fix perf issue in DictionaryTaintStep
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Labels: JS

#2761 JS: using pseudo-properties to model URL parsing
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
  javascript/ql/test/library-tests/CustomLoadStoreSteps/test.expected
  javascript/ql/test/library-tests/CustomLoadStoreSteps/test.ql
  javascript/ql/test/library-tests/CustomLoadStoreSteps/tst.js
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
Labels: JS
