Repository github/codeql, pull requests merged in 2020-08, with the labels that each got.

#3991 Add VS Code tasks to build and test the C# bits
  csharp/.vscode/extensions.json
  csharp/.vscode/settings.json
  csharp/.vscode/tasks.json
Labels: C#

#3864 JS: only calculate getStringValue for concatenation roots
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/Templates.qll
  javascript/ql/test/library-tests/StringConcatenation/StringOps.expected
  javascript/ql/test/library-tests/StringConcatenation/StringOps.ql
  javascript/ql/test/library-tests/StringConcatenation/tst.js
Labels: JS

#3913 JS: only include named topmost package.json files for js/shell-command-constructed-from-input
  javascript/ql/src/semmle/javascript/PackageExports.qll
  javascript/ql/test/library-tests/PackageExports/tests.expected
Labels: JS

#3876 JS: introduce more conistency-checking
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-078/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.ql
  javascript/ql/test/query-tests/Security/CWE-078/child_process-test.js
  javascript/ql/test/query-tests/Security/CWE-078/command-line-parameter-command-injection.js
  javascript/ql/test/query-tests/Security/CWE-078/execSeries.js
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
  javascript/ql/test/query-tests/Security/CWE-078/uselesscat.js
  javascript/ql/test/query-tests/Security/CWE-079/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-079/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-079/ExceptionXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssGood3.js
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin.expected
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/exception-xss.js
  javascript/ql/test/query-tests/Security/CWE-079/partial.js
  javascript/ql/test/query-tests/Security/CWE-079/sanitiser.js
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
  javascript/ql/test/query-tests/Security/CWE-079/typeahead.js
  javascript/ql/test/query-tests/Security/CWE-079/unsafe-jquery-plugin.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/tst3.js
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/NoSQLCodeInjection.js
  javascript/ql/test/query-tests/Security/CWE-312/passwords.js
  javascript/ql/test/query-tests/Security/CWE-338/tst.js
  javascript/ql/test/query-tests/Security/CWE-346/tst.js
  javascript/ql/test/query-tests/Security/CWE-506/tst.js
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/ServerSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/express.js
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/node.js
  javascript/ql/test/query-tests/Security/CWE-611/Xxe.expected
  javascript/ql/test/query-tests/Security/CWE-611/libxml.sax.js
  javascript/ql/test/query-tests/Security/CWE-611/libxml.saxpush.js
  javascript/ql/test/query-tests/Security/CWE-730/RegExpInjection.js
  javascript/ql/test/query-tests/Security/CWE-754/UnsafeDynamicMethodAccess.js
  javascript/ql/test/query-tests/Security/CWE-754/tst.js
  javascript/ql/test/query-tests/Security/CWE-776/XmlBomb.expected
  javascript/ql/test/query-tests/Security/CWE-776/expat.js
  javascript/ql/test/query-tests/Security/CWE-776/libxml.sax.js
  javascript/ql/test/query-tests/Security/CWE-776/libxml.saxpush.js
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.js
  javascript/ql/test/query-tests/Security/CWE-807/ConditionalBypass.expected
  javascript/ql/test/query-tests/Security/CWE-807/DifferentKindsComparisonBypass.expected
  javascript/ql/test/query-tests/Security/CWE-807/tst.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionBad.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionExitBad.js
  javascript/ql/test/query-tests/Security/CWE-843/tst.js
  javascript/ql/test/query-tests/Security/CWE-918/tst.js
  javascript/ql/test/testUtilities/ConsistencyChecking.qll
Labels: JS

#3835 [js/client-side-unvalidated-url-redirection] add interpretsValueAsJavaScript predicate
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst13.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst14.js
Labels: JS

#4009 C#: Add CodeQL extractor pack files
  csharp/codeql-extractor.yml
  csharp/tools/autobuild.cmd
  csharp/tools/autobuild.sh
  csharp/tools/linux64/compiler-tracing.spec
  csharp/tools/linux64/extract-csharp.sh
  csharp/tools/osx64/compiler-tracing.spec
  csharp/tools/osx64/extract-csharp.sh
  csharp/tools/pre-finalize.cmd
  csharp/tools/pre-finalize.sh
  csharp/tools/win64/compiler-tracing.spec
Labels: C#, depends on internal PR

#3946 Java: Clean up ContainerFlow: address outstanding comments
  java/ql/src/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Labels: Java

#3994 C#: More type-based adjustment of library-flow access paths
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Labels: C#

#3999 C++: Add tests for taint through range-based for loops
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#3948 Java: stack trace exposure: address false positives
  java/ql/src/Security/CWE/CWE-209/StackTraceExposure.ql
Labels: Java

#3928 Java: Move `HeaderSplittingSink` and `WhitelistedSource` into importable library
  java/ql/src/Security/CWE/CWE-113/ResponseSplitting.ql
  java/ql/src/Security/CWE/CWE-113/ResponseSplitting.qll
  java/ql/src/Security/CWE/CWE-113/ResponseSplittingLocal.ql
  java/ql/src/semmle/code/java/security/ResponseSplitting.qll
Labels: Java

#3768 C++: Clean up ConversionConstructor.
  cpp/ql/src/semmle/code/cpp/MemberFunction.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/MemberFunction.qll
  cpp/ql/test/library-tests/functions/functions/Functions2.expected
  cpp/ql/test/library-tests/functions/functions/Functions2.ql
Labels: C++, depends on internal PR

#3881 Java: Centralize and model additional path creations.
  java/ql/src/Security/CWE/CWE-022/PathsCommon.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  java/ql/src/Security/CWE/CWE-022/TaintedPathCommon.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPathLocal.ql
  java/ql/src/semmle/code/java/security/PathCreation.qll
  java/ql/test/library-tests/pathcreation/PathCreation.expected
  java/ql/test/library-tests/pathcreation/PathCreation.java
  java/ql/test/library-tests/pathcreation/PathCreation.ql
Labels: Java

#4022 Java: remove security tag from java/integer-multiplication-cast-to-long
  java/ql/src/Likely Bugs/Arithmetic/IntMultToLong.ql
Labels: Java

#4027 Java: Update precision of java/weak-cryptographic-algorithm.
  java/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.ql
Labels: Java

#3951 C#: DataSet serialization
  csharp/ql/src/experimental/Security Features/Serialization/DataSetSerialization.qhelp
  csharp/ql/src/experimental/Security Features/Serialization/DataSetSerialization.qll
  csharp/ql/src/experimental/Security Features/Serialization/DefiningDatasetRelatedType.qhelp
  csharp/ql/src/experimental/Security Features/Serialization/DefiningDatasetRelatedType.ql
  csharp/ql/src/experimental/Security Features/Serialization/DefiningPotentiallyUnsafeXmlSerialization.qhelp
  csharp/ql/src/experimental/Security Features/Serialization/DefiningPotentiallyUnsafeXmlSerializer.ql
  csharp/ql/src/experimental/Security Features/Serialization/UnsafeTypeUsedDataContractSerializer.qhelp
  csharp/ql/src/experimental/Security Features/Serialization/UnsafeTypeUsedDataContractSerializer.ql
  csharp/ql/src/experimental/Security Features/Serialization/XmlDeserializationWithDataSet.qhelp
  csharp/ql/src/experimental/Security Features/Serialization/XmlDeserializationWithDataSet.ql
  csharp/ql/test/experimental/Security Features/Serialization/DefiningDatasetRelatedType.expected
  csharp/ql/test/experimental/Security Features/Serialization/DefiningDatasetRelatedType.qlref
  csharp/ql/test/experimental/Security Features/Serialization/DefiningPotentiallyUnsafeXmlSerializer.expected
  csharp/ql/test/experimental/Security Features/Serialization/DefiningPotentiallyUnsafeXmlSerializer.qlref
  csharp/ql/test/experimental/Security Features/Serialization/UnsafeTypeUsedDataContractSerializer.expected
  csharp/ql/test/experimental/Security Features/Serialization/UnsafeTypeUsedDataContractSerializer.qlref
  csharp/ql/test/experimental/Security Features/Serialization/XmlDeserializationWithDataSet.expected
  csharp/ql/test/experimental/Security Features/Serialization/XmlDeserializationWithDataSet.qlref
  csharp/ql/test/experimental/Security Features/Serialization/test0.cs
Labels: C#

#4004 [Java] Clarify Wildcard.hasUpperBound() doc
  java/ql/src/semmle/code/java/Generics.qll
Labels: Java

#4020 C++: Taint through RangeBasedForStmt (AST only)
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#4015 JS: Make AST classses non-abstract
  javascript/ql/src/LanguageFeatures/NonLinearPattern.ql
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/Stmt.qll
  javascript/ql/src/semmle/javascript/Variables.qll
Labels: JS

#3976 Java: Insecure basic authentication
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureBasicAuth.java
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureBasicAuth.qhelp
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureBasicAuth.ql
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureBasicAuth.expected
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureBasicAuth.java
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureBasicAuth.qlref
  java/ql/test/experimental/query-tests/security/CWE-522/options
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/Header.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/HeaderElement.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/HeaderElementIterator.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/HeaderIterator.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/HttpEntity.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/HttpEntityEnclosingRequest.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/HttpMessage.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/HttpRequest.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/NameValuePair.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/ParseException.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/ProtocolVersion.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/RequestLine.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/HttpEntityEnclosingRequestBase.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/HttpGet.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/HttpPost.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/HttpPut.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/HttpRequestBase.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/message/AbstractHttpMessage.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/message/BasicHttpEntityEnclosingRequest.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/message/BasicHttpRequest.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/message/BasicRequestLine.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/params/HttpParams.java
Labels: Java

#4014 JS: Add model for JSON.stringify() and similar JSON serializers
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/JsonStringifiers.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/heuristics/AdditionalSources.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextLoggingCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ImproperCodeSanitizationCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PostMessageStar.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/json-stringify.js
Labels: JS

#4028 JS: Fix extractor crash when some parameters have no type annotation
  javascript/extractor/src/com/semmle/js/extractor/ScopeManager.java
  javascript/ql/test/library-tests/TypeScript/RegressionTests/PartialFunctionArgs/Test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/PartialFunctionArgs/Test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/PartialFunctionArgs/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/RegressionTests/PartialFunctionArgs/tst.ts
Labels: JS

#4023 C++: Exclude decrementing unsigned counters from inconsistentLoopDirection.ql
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/Likely Bugs/Likely Typos/inconsistentLoopDirection.ql
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/inconsistentLoopDirection/inconsistentLoopDirection.cpp
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/inconsistentLoopDirection/inconsistentLoopDirection.expected
Labels: C++

#3789 C++ Memory Unsafe Functions
  cpp/ql/src/experimental/Security/CWE/CWE-120/MemoryUnsafeFunctionScan.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-120/MemoryUnsafeFunctionScan.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-120/MemoryUnsafeFunctionScan.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/semmle/tests/MemoryUnsafeFunctionScan.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/semmle/tests/MemoryUnsafeFunctionScan.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/semmle/tests/MemoryUnsafeFunctionScan.qlref
Labels: C++

#3861 C++: Private Data File/Buffer Writes
  cpp/ql/src/experimental/Security/CWE/CWE-359/PrivateCleartextWrite.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-359/PrivateCleartextWrite.ql
  cpp/ql/src/experimental/semmle/code/cpp/security/PrivateCleartextWrite.qll
  cpp/ql/src/experimental/semmle/code/cpp/security/PrivateData.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-359/semmle/tests/PrivateCleartextWrite.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-359/semmle/tests/PrivateCleartextWrite.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-359/semmle/tests/test.cpp
Labels: C++

#4012 JS: rename `getId()` to `getIdentifier()`
  javascript/ql/src/Declarations/ConflictingFunctions.ql
  javascript/ql/src/Declarations/DeadStoreOfLocal.ql
  javascript/ql/src/Declarations/RedeclaredVariable.ql
  javascript/ql/src/Declarations/UnusedVariable.ql
  javascript/ql/src/Expressions/SuspiciousPropAccess.ql
  javascript/ql/src/semmle/javascript/DefUse.qll
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/Functions.qll
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/src/semmle/javascript/Variables.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/BasicExprTypeInference.qll
  javascript/ql/test/library-tests/Functions/getId.qll
  javascript/ql/test/library-tests/TypeScript/Namespaces/CheckBindings.ql
Labels: JS

#3938 Java: Untrusted data used in external APIs
  java/ql/src/Security/CWE/CWE-020/ExternalAPISinkExample.java
  java/ql/src/Security/CWE/CWE-020/ExternalAPITaintStepExample.java
  java/ql/src/Security/CWE/CWE-020/ExternalAPIsUsedWithUntrustedData.qhelp
  java/ql/src/Security/CWE/CWE-020/ExternalAPIsUsedWithUntrustedData.ql
  java/ql/src/Security/CWE/CWE-020/UntrustedDataToExternalAPI.qhelp
  java/ql/src/Security/CWE/CWE-020/UntrustedDataToExternalAPI.ql
  java/ql/src/semmle/code/java/security/ExternalAPIs.qll
Labels: Java

#3600 Add Log4J 2 and a new search string secret
  java/ql/src/experimental/CWE-532/SensitiveInfoLog.ql
Labels: Java

#4063 JS: adjust error message when files have been found while extracting
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Labels: JS

#4053 C++: SimpleRangeAnalysis: unsigned multiplication
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.ql
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.ql
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.c
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.expected
Labels: C++

#4057 C++: SAL.qll QLDoc and cleanup
  cpp/ql/src/Microsoft/SAL.qll
Labels: C++

#4032 C++: Clarify the docs on DataFlow::Node::asExpr
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#4045 C++: Model more of std::string in models.
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#4044 Java: Add PrintWriter.format as XSS sink.
  java/ql/src/semmle/code/java/security/XSS.qll
Labels: Java

#4060 C++: Detect GoogleTest tests cases in FNumberOfTests.ql
  cpp/ql/src/Metrics/Files/FNumberOfTests.ql
Labels: C++

#3981 Python: Dataflow, test magic methods
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/basic/callGraph.ql
  python/ql/test/experimental/dataflow/basic/callGraphSinks.ql
  python/ql/test/experimental/dataflow/basic/callGraphSources.ql
  python/ql/test/experimental/dataflow/callGraphConfig.qll
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/coverage/classes.py
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.expected
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.ql
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/datamodel.py
  python/ql/test/experimental/dataflow/coverage/localFlow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
  python/ql/test/experimental/dataflow/coverage/validTest.py
Labels: Python

#4062 Python: Fix false positive in `py/unintentional-import`.
  python/ql/src/Imports/UnintentionalImport.ql
  python/ql/test/query-tests/Imports/general/ImportStarUsed.expected
  python/ql/test/query-tests/Imports/general/imports_test.py
Labels: Python

#4080 C++: Split test file stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/string.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/stringstream.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#4073 Java: Temporarily move a qltest.
  java/ql/test/experimental/query-tests/security/CWE-074-JndiInjection/JndiInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-074-JndiInjection/JndiInjection.java
  java/ql/test/experimental/query-tests/security/CWE-074-JndiInjection/JndiInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-074-JndiInjection/options
Labels: Java

#4079 C#: Use `DataFlow3` instead of `DataFlow2` in `Xml.qll` to avoid overlap
  csharp/ql/src/semmle/code/csharp/frameworks/system/Xml.qll
Labels: C#

#3930 JS: rewriting DeadStoreOfProperty.ql to avoid bad worst-case runtime
  javascript/ql/src/Declarations/DeadStoreOfProperty.ql
  javascript/ql/test/query-tests/Declarations/DeadStoreOfProperty/DeadStoreOfProperty.expected
  javascript/ql/test/query-tests/Declarations/DeadStoreOfProperty/fieldInit.ts
  javascript/ql/test/query-tests/Declarations/DeadStoreOfProperty/tst.js
Labels: JS

#4054 JS: Detect additional URLs in `js/incomplete-url-substring-sanitization` when the substring check is an includes check
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.ql
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-020/tst-IncompleteUrlSubstringSanitization.js
Labels: JS

#4074 C++: extensible range analysis
  cpp/ql/src/experimental/semmle/code/cpp/models/interfaces/SimpleRangeAnalysisExpr.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/extensibility/extensibility.c
  cpp/ql/test/experimental/library-tests/rangeanalysis/extensibility/extensibility.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/extensibility/extensibility.ql
Labels: C++

#4076 C++: Fix SimpleRangeAnalysis for AssignOperation
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
Labels: C++

#3838 Data flow: Use precise call contexts in `flowFwd()`
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  python/ql/src/experimental/dataflow/internal/DataFlowImpl.qll
  python/ql/src/experimental/dataflow/internal/DataFlowImpl2.qll
  python/ql/src/experimental/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java

#4094 C# Compiler generated flag for length arguments of implicitly sized arrays
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
  csharp/ql/test/library-tests/expressions/ArrayCreation11.expected
  csharp/ql/test/library-tests/expressions/ArrayCreation11.ql
Labels: C#

#4068 C++: Downgrade `cpp/uncontrolled-allocation-size` query precision.
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/Security/CWE/CWE-190/TaintedAllocationSize.ql
Labels: C++

#4093 C#: Add change notes for C# analysis
  change-notes/1.26/analysis-csharp.md
Labels: C#

#4092 JS: correctly treat ES2015 modules as being in strict-mode in the JavaScript extractor
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/ts/output/trap/decorators.ts.trap
  javascript/extractor/tests/ts/output/trap/export.ts.trap
  javascript/ql/test/library-tests/CallGraphs/FullTest/non-strict.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/strict.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/strict2.js
  javascript/ql/test/library-tests/CallGraphs/FullTest/tests.expected
Labels: JS

#4100 C++: fix compilation errors in ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
Labels: C++

#4089 C++: Accept float.toString changes in tests
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.expected
Labels: C++, depends on internal PR

#4099 Java: Use `unique` aggregate in `Node::getEnclosingCallable()`
  docs/ql-libraries/dataflow/dataflow.md
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Labels: Java

#4095 C#: Increase `accessPathLimit` from 3 to 5
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Labels: C#

#4078 C++: Range analysis for unsigned AssignMulExpr
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
Labels: C++

#4098 C++: Support multiplication by constants in range analysis
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
Labels: C++

#4064 C#: Speed up `Implements.qll` and `Unification.qll`
  csharp/ql/src/semmle/code/csharp/Implements.qll
  csharp/ql/src/semmle/code/csharp/Unification.qll
Labels: C#

#4096 JS: Support extracting `.cjs` files.
  change-notes/1.26/analysis-javascript.md
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/ScriptExtractor.java
  javascript/extractor/tests/extensions/input/tst4.cjs
  javascript/extractor/tests/extensions/output/trap/tst4.cjs.trap
  javascript/ql/src/semmle/javascript/NodeJS.qll
  javascript/ql/src/semmle/javascript/NodeModuleResolutionImpl.qll
  javascript/ql/test/library-tests/ModuleTypes/commonjs.cjs
  javascript/ql/test/library-tests/ModuleTypes/import.js
  javascript/ql/test/library-tests/ModuleTypes/mjs.mjs
  javascript/ql/test/library-tests/ModuleTypes/require.js
  javascript/ql/test/library-tests/ModuleTypes/script.js
  javascript/ql/test/library-tests/ModuleTypes/tests.expected
  javascript/ql/test/library-tests/ModuleTypes/tests.ql
Labels: JS

#3855 Add jOOQ methods as SQL Injection Sinks
  java/ql/src/semmle/code/java/frameworks/jOOQ.qll
  java/ql/src/semmle/code/java/security/QueryInjection.qll
Labels: Java

#4107 C++: Initial models for std::vector
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#4106 JS: deprecate TrackedNodes.qll
  javascript/ql/examples/queries/dataflow/StoredXss/StoredXssTypeTracking.ql
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/dataflow/TrackedNodes.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/test/library-tests/InterProceduralFlow/TrackedNodes.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TrackedNodes.ql
  javascript/ql/test/tutorials/Introducing the JavaScript libraries/query15.qll
Labels: JS

#4067 JS: skip binary files when extracting JavaScript
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/ql/test/library-tests/Files/binary.js
Labels: JS

#4116 C#: Order top-level elements by location in `PrintAst.qll`
  csharp/ql/src/semmle/code/csharp/PrintAst.qll
  csharp/ql/test/experimental/ir/ir/PrintAst.expected
  csharp/ql/test/library-tests/csharp7.2/PrintAst.expected
  csharp/ql/test/library-tests/csharp7.3/PrintAst.expected
  csharp/ql/test/library-tests/csharp8/PrintAst.expected
Labels: C#

#4111 C#: Fix nullability warning in Semmle.Extraction
  csharp/extractor/Semmle.Extraction/CommentProcessing.cs
Labels: C#

#4056 Python: Shared dataflow, parameter routing tests
  python/ql/test/experimental/dataflow/coverage/argumentRouting1.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting1.ql
  python/ql/test/experimental/dataflow/coverage/argumentRouting2.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting2.ql
  python/ql/test/experimental/dataflow/coverage/argumentRouting3.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting3.ql
  python/ql/test/experimental/dataflow/coverage/argumentRouting4.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting4.ql
  python/ql/test/experimental/dataflow/coverage/classes.py
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.expected
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.ql
Labels: Python

#4019 JS: Precise data-flow for returns from async functions
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/dataflow/TrackedNodes.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/DataFlowNode.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/tests.expected
  javascript/ql/test/library-tests/DataFlow/flowStep.expected
  javascript/ql/test/library-tests/DataFlow/sources.expected
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlowConfig.qll
  javascript/ql/test/library-tests/InterProceduralFlow/GermanFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.ql
  javascript/ql/test/library-tests/InterProceduralFlow/async.js
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/flow.js
  javascript/ql/test/library-tests/Promises/tests.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/exceptions.js
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.expected
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
  javascript/ql/test/library-tests/frameworks/Electron/BrowserObject.expected
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
  javascript/ql/test/library-tests/frameworks/NodeJSLib/tests.expected
  javascript/ql/test/library-tests/frameworks/connect/tests.expected
  javascript/ql/test/library-tests/frameworks/hapi/tests.expected
Labels: JS

#4097 JS: support module.createRequire
  javascript/ql/src/semmle/javascript/NodeJS.qll
  javascript/ql/test/library-tests/NodeJS/Require.expected
  javascript/ql/test/library-tests/NodeJS/mjs-files/createRequire.mjs
Labels: Awaiting evaluation, JS

#4112 C#: Enable nullability checks in Semmle.Extraction.Tests
  csharp/extractor/Semmle.Extraction.Tests/Layout.cs
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
  csharp/extractor/Semmle.Extraction.Tests/Semmle.Extraction.Tests.csproj
Labels: C#

#4108 JS: support the "type" field on `package.json` files while extracting
  javascript/extractor/src/com/semmle/js/extractor/ExtractorState.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/ScriptExtractor.java
  javascript/extractor/tests/extensions/output/trap/tst4.cjs.trap
  javascript/extractor/tests/moduleTypes1/input/package.json
  javascript/extractor/tests/moduleTypes1/input/tst.js
  javascript/extractor/tests/moduleTypes1/output/trap/package.json.trap
  javascript/extractor/tests/moduleTypes1/output/trap/tst.js.trap
  javascript/extractor/tests/moduleTypes2/input/package.json
  javascript/extractor/tests/moduleTypes2/input/tst2.js
  javascript/extractor/tests/moduleTypes2/output/trap/package.json.trap
  javascript/extractor/tests/moduleTypes2/output/trap/tst2.js.trap
  javascript/ql/test/library-tests/ModuleTypes/commonjsPackage/innermjs.mjs
  javascript/ql/test/library-tests/ModuleTypes/commonjsPackage/package.json
  javascript/ql/test/library-tests/ModuleTypes/commonjsPackage/tst.js
  javascript/ql/test/library-tests/ModuleTypes/modulePackage/package.json
  javascript/ql/test/library-tests/ModuleTypes/modulePackage/subdir/innercjs.cjs
  javascript/ql/test/library-tests/ModuleTypes/modulePackage/subdir/subfile.js
  javascript/ql/test/library-tests/ModuleTypes/modulePackage/tst.js
  javascript/ql/test/library-tests/ModuleTypes/tests.expected
Labels: JS

#4087 JS: proper support for `this` inside a JSX-name
  javascript/extractor/src/com/semmle/jcorn/jsx/JSXParser.java
  javascript/extractor/src/com/semmle/js/ast/AST2JSON.java
  javascript/extractor/src/com/semmle/js/ast/DefaultVisitor.java
  javascript/extractor/src/com/semmle/js/ast/NodeCopier.java
  javascript/extractor/src/com/semmle/js/ast/Visitor.java
  javascript/extractor/src/com/semmle/js/ast/jsx/JSXThisExpr.java
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/ExprKinds.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/extractor/tests/ts/output/trap/tsx.tsx.trap
  javascript/ql/src/semmle/javascript/JSX.qll
  javascript/ql/test/library-tests/frameworks/ReactJS/ReactName.qll
  javascript/ql/test/library-tests/frameworks/ReactJS/tests.expected
  javascript/ql/test/library-tests/frameworks/ReactJS/tests.ql
  javascript/ql/test/library-tests/frameworks/ReactJS/thisAccesses.js
Labels: JS

#4114 C#: Enable nullability on Semmle.Extraction.CIL.Driver
  csharp/extractor/Semmle.Extraction.CIL.Driver/ExtractorOptions.cs
  csharp/extractor/Semmle.Extraction.CIL.Driver/InvalidAssemblyException.cs
  csharp/extractor/Semmle.Extraction.CIL.Driver/Program.cs
  csharp/extractor/Semmle.Extraction.CIL.Driver/Semmle.Extraction.CIL.Driver.csproj
Labels: C#

#4124 Python: Additional taint steps for string methods
  python/ql/src/experimental/dataflow/internal/TaintTrackingPrivate.qll
  python/ql/test/experimental/dataflow/options
  python/ql/test/experimental/dataflow/tainttracking/TestTaintLib.qll
  python/ql/test/experimental/dataflow/tainttracking/string-py3/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/string-py3/TestTaint.ql
  python/ql/test/experimental/dataflow/tainttracking/string-py3/options
  python/ql/test/experimental/dataflow/tainttracking/string-py3/test.py
  python/ql/test/experimental/dataflow/tainttracking/string/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/string/TestTaint.ql
  python/ql/test/experimental/dataflow/tainttracking/string/test.py
Labels: Python

#4013 Python: Shared dataflow: Content flow
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
Labels: Python

#4122 C++: Demonstrate that constexpr implies const
  cpp/ql/test/library-tests/specifiers2/cpp20.cpp
  cpp/ql/test/library-tests/specifiers2/specifiers2.expected
  cpp/ql/test/library-tests/specifiers2/specifiers2pp.cpp
Labels: C++

#4129 C#: Add .editorconfig file
  csharp/.editorconfig
  csharp/.vscode/settings.json
  csharp/extractor/Semmle.Extraction.CIL/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ImplicitCast.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Lambda.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Literal.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/MemberAccess.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/NamespaceDeclaration.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/TypeMention.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TypeParameter.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entities/ExtractionError.cs
  csharp/extractor/Semmle.Extraction/Entities/SourceLocation.cs
  csharp/extractor/Semmle.Extraction/Entity.cs
  csharp/extractor/Semmle.Extraction/Layout.cs
  csharp/extractor/Semmle.Util/DictionaryExtensions.cs
  csharp/extractor/Semmle.Util/FuzzyDictionary.cs
  csharp/extractor/Semmle.Util/IEnumerableExtensions.cs
Labels: C#

#4120 C++: Give fewer types to global variables
  cpp/ql/test/library-tests/variables/global/vardecl.expected
  cpp/ql/test/library-tests/variables/global/vardecl.ql
  cpp/ql/test/library-tests/variables/global/variables.expected
Labels: C++, depends on internal PR

#4125 C++: Model operator[]
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FunctionInputsAndOutputs.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/string.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#4127 Python: Handle f-strings in (current) taint tracking
  change-notes/1.25/analysis-python.md
  python/ql/src/semmle/python/security/strings/Basic.qll
  python/ql/test/3/library-tests/taint/strings/Taint.qll
  python/ql/test/3/library-tests/taint/strings/TestTaint.expected
  python/ql/test/3/library-tests/taint/strings/TestTaint.ql
  python/ql/test/3/library-tests/taint/strings/test.py
Labels: Python

#4137 CPP: Make inline expectation test library language agnostic.
  cpp/ql/test/TestUtilities/InlineExpectationsTest.qll
  cpp/ql/test/TestUtilities/InlineExpectationsTestPrivate.qll
Labels: C++

#4141 JS: make sanitization a "common" technique rather than "important"
  javascript/ql/src/Security/CWE-116/IncompleteHtmlAttributeSanitization.qhelp
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.qhelp
  javascript/ql/src/Security/CWE-116/UnsafeHtmlExpansion.qhelp
  javascript/ql/src/Security/CWE-843/TypeConfusionThroughParameterTampering.qhelp
  python/ql/src/Security/CWE-020/IncompleteHostnameRegExp.qhelp
  python/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.qhelp
Labels: JS, documentation

#4144 C#: Teach autobuilder about `VsDevCmd.bat`
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildTools.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
Labels: C#

#4147 Python: Remove symlink from experimental test
  python/ql/test/experimental/library-tests/CallGraph-xfail/CallGraphTest.qll
  python/ql/test/experimental/library-tests/CallGraph-xfail/PointsTo.ql
  python/ql/test/experimental/library-tests/CallGraph-xfail/PointsTo.qlref
Labels: Python

#4143 Python: Add support for inline test expectations library
  python/ql/test/TestUtilities/InlineExpectationsTest.qll
  python/ql/test/TestUtilities/InlineExpectationsTestPrivate.qll
Labels: Python

#4110 Python: Shared dataflow, parsimonious flow nodes
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/basic/global.expected
  python/ql/test/experimental/dataflow/basic/globalStep.expected
  python/ql/test/experimental/dataflow/basic/local.expected
  python/ql/test/experimental/dataflow/basic/localStep.expected
  python/ql/test/experimental/dataflow/basic/sinks.expected
  python/ql/test/experimental/dataflow/basic/sources.expected
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/coverage/localFlow.expected
  python/ql/test/experimental/dataflow/tainttracking/basic/LocalTaintStep.expected
Labels: Python

#4077 Python: Add support for magic methods
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/SpecialMethods.qll
  python/ql/test/experimental/dataflow/coverage/argumentRouting1.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting1.ql
  python/ql/test/experimental/dataflow/coverage/argumentRouting2.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting3.expected
  python/ql/test/experimental/dataflow/coverage/classes.py
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.expected
Labels: Python

#3921 C++: Adds another redundant null check rule
  cpp/ql/src/experimental/Likely Bugs/RedundantNullCheckParam.cpp
  cpp/ql/src/experimental/Likely Bugs/RedundantNullCheckParam.qhelp
  cpp/ql/src/experimental/Likely Bugs/RedundantNullCheckParam.ql
Labels: C++

#4150 Python: Make import of python private in shared dataflow
  python/ql/src/experimental/dataflow/DataFlow.qll
  python/ql/src/experimental/dataflow/DataFlow2.qll
  python/ql/src/experimental/dataflow/TaintTracking.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/callGraphConfig.qll
  python/ql/test/experimental/dataflow/coverage/argumentRouting1.ql
  python/ql/test/experimental/dataflow/coverage/argumentRouting2.ql
  python/ql/test/experimental/dataflow/coverage/argumentRouting3.ql
  python/ql/test/experimental/dataflow/coverage/argumentRouting4.ql
  python/ql/test/experimental/dataflow/coverage/dataflow.ql
  python/ql/test/experimental/dataflow/regression/dataflow.ql
  python/ql/test/experimental/dataflow/testConfig.qll
Labels: Python

#4151 C++: Taint tests for array and reference assignments.
  cpp/ql/test/library-tests/dataflow/taint-tests/arrayassignment.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#3978 [javascript] CodeQL query to detect if cookies are sent without the flag secure being set
  javascript/ql/src/experimental/Security/CWE-614/InsecureCookie.qhelp
  javascript/ql/src/experimental/Security/CWE-614/InsecureCookie.ql
  javascript/ql/src/experimental/Security/CWE-614/InsecureCookie.qll
  javascript/ql/test/query-tests/Security/CWE-614/InsecureCookies.expected
  javascript/ql/test/query-tests/Security/CWE-614/InsecureCookies.qlref
  javascript/ql/test/query-tests/Security/CWE-614/test_cookie-session.js
  javascript/ql/test/query-tests/Security/CWE-614/test_express-session.js
  javascript/ql/test/query-tests/Security/CWE-614/test_httpserver.js
  javascript/ql/test/query-tests/Security/CWE-614/test_jscookie.js
  javascript/ql/test/query-tests/Security/CWE-614/test_responseCookie.js
Labels: JS

#4155 JS: Lower precision of ambiguous HTML ID attribute
  change-notes/1.26/analysis-javascript.md
  javascript/config/suites/javascript/correctness-core
  javascript/ql/src/DOM/AmbiguousIdAttribute.ql
Labels: JS

#4148 C++: Improvements to string and vector models.
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/string.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#4158 Python: Reformualte explanation of experience from JS
  python/ql/src/experimental/dataflow/internal/TaintTrackingPrivate.qll
Labels: Python

#4136 C#: Add missing QlDocs
  csharp/ql/src/Linq/Helpers.qll
  csharp/ql/src/external/CodeDuplication.qll
  csharp/ql/src/semmle/code/cil/Access.qll
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/src/semmle/code/csharp/Conversion.qll
  csharp/ql/src/semmle/code/csharp/dispatch/RuntimeCallable.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/src/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/src/semmle/code/csharp/frameworks/JsonNET.qll
  csharp/ql/src/semmle/code/csharp/frameworks/NHibernate.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Linq.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/data/Common.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/data/Entity.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/linq/Expressions.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/text/RegularExpressions.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/xml/XPath.qll
  csharp/ql/src/semmle/code/csharp/metrics/Coupling.qll
  csharp/ql/src/semmle/code/csharp/serialization/Deserializers.qll
  csharp/ql/src/semmle/code/csharp/serialization/Serialization.qll
  csharp/ql/src/semmle/code/dotnet/Callable.qll
  csharp/ql/src/semmle/code/dotnet/Variable.qll
Labels: C#

#4113 Enable nullability checks on Semmle.Extraction.CIL
  csharp/extractor/Semmle.Extraction.CIL/CachedFunction.cs
  csharp/extractor/Semmle.Extraction.CIL/Context.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Event.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/ExceptionRegion.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/File.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Instruction.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Namespace.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Parameter.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/SourceLocation.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/extractor/Semmle.Extraction.CIL/Factories.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/MetadataPdbReader.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/NativePdbReader.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/PdbReader.cs
  csharp/extractor/Semmle.Extraction.CIL/Semmle.Extraction.CIL.csproj
  csharp/extractor/Semmle.Util/IEnumerableExtensions.cs
Labels: C#

#4126 C#: Fix computed sizes for implicitly sized array creation
  change-notes/1.26/analysis-csharp.md
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
  csharp/ql/test/library-tests/expressions/AnonymousMethod1.expected
  csharp/ql/test/library-tests/expressions/AnonymousMethod2.expected
  csharp/ql/test/library-tests/expressions/AnonymousMethod3.expected
  csharp/ql/test/library-tests/expressions/AnonymousMethod4.expected
  csharp/ql/test/library-tests/expressions/AnonymousMethod5.expected
  csharp/ql/test/library-tests/expressions/ArrayCreation11.expected
  csharp/ql/test/library-tests/expressions/Lambda1.expected
  csharp/ql/test/library-tests/expressions/Lambda2.expected
  csharp/ql/test/library-tests/expressions/Lambda3.expected
  csharp/ql/test/library-tests/expressions/Lambda4.expected
  csharp/ql/test/library-tests/expressions/Lambda5.expected
  csharp/ql/test/library-tests/expressions/Lambda6.expected
  csharp/ql/test/library-tests/expressions/OperatorCall6.expected
  csharp/ql/test/library-tests/expressions/OperatorCall7.expected
  csharp/ql/test/library-tests/expressions/PrintAst.expected
  csharp/ql/test/library-tests/expressions/QualifiableExpr.expected
  csharp/ql/test/library-tests/expressions/StripCasts.expected
  csharp/ql/test/library-tests/expressions/Tuples1.expected
  csharp/ql/test/library-tests/expressions/expressions.cs
Labels: C#

#4170 Java: remove InefficientToArray.ql
  java/ql/src/Performance/InefficientToArray.java
  java/ql/src/Performance/InefficientToArray.qhelp
  java/ql/src/Performance/InefficientToArray.ql
Labels: Java

#4042 Java: Make XssSink extensible.
  java/ql/src/Security/CWE/CWE-079/XSS.ql
  java/ql/src/Security/CWE/CWE-079/XSSLocal.ql
  java/ql/src/Security/CWE/CWE-209/StackTraceExposure.ql
  java/ql/src/semmle/code/java/security/XSS.qll
Labels: Java

#4165 C#: Fix bug in guards logic for `foreach` loops
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/test/library-tests/controlflow/guards/AbstractValue.expected
  csharp/ql/test/library-tests/controlflow/guards/Collections.cs
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
Labels: C#

#4088 Java: Support String.formatted in the format string queries.
  java/ql/src/semmle/code/java/StringFormat.qll
  java/ql/test/query-tests/StringFormat/A.java
  java/ql/test/query-tests/StringFormat/MissingFormatArg.expected
  java/ql/test/query-tests/StringFormat/UnusedFormatArg.expected
  java/ql/test/query-tests/StringFormat/options
Labels: Java
