Repository github/codeql, pull requests merged in 2020-10, with the labels that each got.

#4367 JS: Fixing an API-graph gotcha in `SQL.qll`
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
  javascript/ql/src/semmle/javascript/frameworks/SQL.qll
  javascript/ql/test/library-tests/frameworks/SQL/SqlString.expected
  javascript/ql/test/library-tests/frameworks/SQL/mssql2.js
Labels: JS

#4374 JavaScript: Teach API graphs to recognise arguments supplied in partial function applications.
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
  javascript/ql/test/ApiGraphs/partial-invoke/VerifyAssertions.expected
  javascript/ql/test/ApiGraphs/partial-invoke/VerifyAssertions.ql
  javascript/ql/test/ApiGraphs/partial-invoke/index.js
  javascript/ql/test/ApiGraphs/partial-invoke/package.json
Labels: JS

#4377 JS: prevent crash when TemplateLiteral is used in import
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/extractor/tests/ts/input/importNonStrings.ts
  javascript/extractor/tests/ts/output/trap/importNonStrings.ts.trap
Labels: JS

#4338 JS: add http request server data as a RemoteFlowSource
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/test/library-tests/frameworks/NodeJSLib/src/http.js
  javascript/ql/test/library-tests/frameworks/NodeJSLib/tests.expected
Labels: JS

#4324 Handle unsigned types in sign analysis (C# and Java)
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/SignAnalysisCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/SignAnalysisSpecific.qll
  csharp/ql/test/library-tests/dataflow/signanalysis/MissingSign.ql
  csharp/ql/test/library-tests/dataflow/signanalysis/SignAnalysis.cs
  csharp/ql/test/library-tests/dataflow/signanalysis/SignAnalysis.expected
  java/ql/src/semmle/code/java/dataflow/internal/rangeanalysis/SignAnalysisCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/rangeanalysis/SignAnalysisSpecific.qll
  java/ql/test/library-tests/dataflow/sign-analysis/A.java
  java/ql/test/library-tests/dataflow/sign-analysis/SignAnalysis.expected
Labels: C#, Java

#4380 C++: Accept test changes in unnamed entity naming
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
  cpp/ql/test/library-tests/noexcept/copy_from_prototype/copy_from_prototype.expected
  cpp/ql/test/library-tests/templates/CPP-202/template_args.expected
  cpp/ql/test/library-tests/templates/decls/decls.expected
  cpp/ql/test/library-tests/unnamed/elements.expected
Labels: C++, depends on internal PR

#4375 JavaScript: Track taint through RegExp.prototype.exec for URL redirection
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst.js
Labels: JS

#4372 Add support for Variable.is_constinit()
  cpp/ql/src/semmle/code/cpp/Variable.qll
Labels: C++, depends on internal PR

#4381 Fix OWASP broken links
  cpp/ql/src/Security/CWE/CWE-022/TaintedPath.qhelp
  csharp/ql/src/Security Features/CWE-022/TaintedPath.qhelp
  csharp/ql/src/Security Features/CWE-022/ZipSlip.qhelp
  csharp/ql/src/Security Features/CWE-643/XPathInjection.qhelp
  csharp/ql/src/experimental/CWE-099/TaintedWebClient.qhelp
  java/ql/src/Security/CWE/CWE-022/TaintedPath.qhelp
  java/ql/src/Security/CWE/CWE-022/ZipSlip.qhelp
  java/ql/src/Security/CWE/CWE-209/StackTraceExposure.qhelp
  java/ql/src/experimental/Security/CWE/CWE-643/XPathInjection.qhelp
  javascript/ql/src/Security/CWE-022/TaintedPath.qhelp
  javascript/ql/src/Security/CWE-022/ZipSlip.qhelp
  javascript/ql/src/Security/CWE-209/StackTraceExposure.qhelp
  javascript/ql/src/Security/CWE-643/XpathInjection.qhelp
  python/ql/src/Security/CWE-022/PathInjection.qhelp
  python/ql/src/Security/CWE-022/TarSlip.qhelp
  python/ql/src/Security/CWE-209/StackTraceExposure.qhelp
Labels: C#, C++, JS, Java, Python, documentation

#4386 C#: Remove deprecated external queries
  csharp/ql/src/external/examples/filters/BumpMetricBy10.ql
  csharp/ql/src/external/examples/filters/EditDefectMessage.ql
  csharp/ql/src/external/examples/filters/ExcludeGeneratedCode.ql
  csharp/ql/src/external/examples/filters/FromSource.ql
  csharp/ql/src/external/tests/DefectFromExternalData.ql
  csharp/ql/src/external/tests/DefectFromExternalDefect.ql
  csharp/ql/src/external/tests/DefectFromExternalMetric.ql
  csharp/ql/src/external/tests/MetricFilter.ql
  csharp/ql/src/external/tests/MetricFromExternalDefect.ql
  csharp/ql/src/external/tests/MetricFromExternalMetric.ql
Labels: C#

#4346 Python: add test for implicit __init__.py files
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/PointsTo.expected
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/PointsTo.qlref
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/Relative.expected
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/Relative.qlref
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/TypeTracker.expected
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/TypeTracker.qlref
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/example.py
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/foo/bar/a.py
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/foo_explicit/__init__.py
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/foo_explicit/bar/__init__.py
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/foo_explicit/bar/a.py
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/options
  python/ql/test/experimental/library-tests/CallGraph/options
  python/ql/test/experimental/library-tests/CallGraph/test.py
Labels: Python

#4354 Python: Better command execution modeling
  python/ql/src/experimental/Security-new-dataflow/CWE-078/CommandInjection.ql
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/library-tests/frameworks/stdlib/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/stdlib/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/stdlib/SystemCommandExecution.py
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-078/CommandInjection.expected
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-078/command_injection.py
  python/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-078/command_injection.py
Labels: Python

#4385 Drop 'tech-inventory' and 'code duplication' queries from the standard query suites
  cpp/ql/src/Metrics/Dependencies/ExternalDependencies.ql
  cpp/ql/src/Metrics/Dependencies/ExternalDependenciesSourceLinks.ql
  cpp/ql/src/Metrics/Files/FLinesOfDuplicatedCode.ql
  cpp/ql/src/codeql-suites/cpp-lgtm-full.qls
  cpp/ql/src/external/DuplicateBlock.ql
  cpp/ql/src/external/DuplicateFunction.ql
  cpp/ql/src/external/MostlyDuplicateClass.ql
  cpp/ql/src/external/MostlyDuplicateFile.ql
  cpp/ql/src/external/MostlyDuplicateFunction.ql
  cpp/ql/src/external/MostlySimilarFile.ql
  csharp/ql/src/Metrics/Dependencies/ExternalDependencies.ql
  csharp/ql/src/Metrics/Dependencies/ExternalDependenciesSourceLinks.ql
  csharp/ql/src/Metrics/Files/FLinesOfDuplicatedCode.ql
  csharp/ql/src/codeql-suites/csharp-lgtm-full.qls
  csharp/ql/src/external/DuplicateMethod.ql
  csharp/ql/src/external/MostlyDuplicateClass.ql
  csharp/ql/src/external/MostlyDuplicateFile.ql
  csharp/ql/src/external/MostlyDuplicateMethod.ql
  csharp/ql/src/external/MostlySimilarFile.ql
  java/ql/src/Metrics/Dependencies/ExternalDependencies.ql
  java/ql/src/Metrics/Dependencies/ExternalDependenciesSourceLinks.ql
  java/ql/src/Metrics/Files/FLinesOfDuplicatedCode.ql
  java/ql/src/Metrics/Files/FLinesOfSimilarCode.ql
  java/ql/src/codeql-suites/java-lgtm-full.qls
  java/ql/src/external/DuplicateAnonymous.ql
  java/ql/src/external/DuplicateBlock.ql
  java/ql/src/external/DuplicateMethod.ql
  java/ql/src/external/MostlyDuplicateClass.ql
  java/ql/src/external/MostlyDuplicateFile.ql
  java/ql/src/external/MostlyDuplicateMethod.ql
  java/ql/src/external/MostlySimilarFile.ql
  javascript/ql/src/Metrics/Dependencies/ExternalDependencies.ql
  javascript/ql/src/Metrics/Dependencies/ExternalDependenciesSourceLinks.ql
  javascript/ql/src/Metrics/FLinesOfDuplicatedCode.ql
  javascript/ql/src/Metrics/FLinesOfSimilarCode.ql
  javascript/ql/src/codeql-suites/javascript-lgtm-full.qls
  javascript/ql/src/external/DuplicateFunction.ql
  javascript/ql/src/external/DuplicateToplevel.ql
  javascript/ql/src/external/SimilarFunction.ql
  javascript/ql/src/external/SimilarToplevel.ql
  python/ql/src/Metrics/Dependencies/ExternalDependencies.ql
  python/ql/src/Metrics/Dependencies/ExternalDependenciesSourceLinks.ql
  python/ql/src/Metrics/FLinesOfDuplicatedCode.ql
  python/ql/src/Metrics/FLinesOfSimilarCode.ql
  python/ql/src/codeql-suites/python-lgtm-full.qls
  python/ql/src/external/DuplicateFunction.ql
  python/ql/src/external/MostlyDuplicateClass.ql
  python/ql/src/external/MostlyDuplicateFile.ql
  python/ql/src/external/MostlySimilarFile.ql
  python/ql/src/external/SimilarFunction.ql
Labels: C#, C++, JS, Java, Python

#4384 Python: Fix `hasLocationInfo` for packages
  python/ql/src/semmle/python/Files.qll
  python/ql/test/library-tests/PointsTo/import_star/Values.expected
Labels: Python

#4394 C++: Clean up and add to taint tests
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/standalone_iterators.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/string.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#4400 JavaScript: Improve API-graph support for function-style classes.
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
  javascript/ql/test/ApiGraphs/classes/classes.js
Labels: JS

#4358 Java: Add taint steps through string formatting methods
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/test/library-tests/dataflow/taint-format/A.java
  java/ql/test/library-tests/dataflow/taint-format/options
  java/ql/test/library-tests/dataflow/taint-format/test.expected
  java/ql/test/library-tests/dataflow/taint-format/test.ql
Labels: Java

#4320 Java: add Spring::MultipartRequest as taint source
  java/change-notes/2020-09-23-spring-multipart-request-sources.md
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/test/library-tests/dataflow/taintsources/SpringMultiPart.java
  java/ql/test/library-tests/dataflow/taintsources/remote.expected
Labels: Java, documentation

#4403 JS: Remove tslint dependency
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/lib/typescript/yarn.lock
Labels: JS

#4399 C#: Handle population of error types
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
Labels: C#

#4345 C++: Models for std::pair, std::map and std::unordered_map
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdMap.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdPair.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/map.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++, documentation

#4395 C++: Merge StdSequenceContainerBeginEnd into the general BeginOrEndFunction
  cpp/ql/src/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
Labels: C++

#4393 C++: No more flow into ReadSideEffect instructions
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/IRTaintTestCommon.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-079/semmle/CgiXss/CgiXss.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
Labels: C++, depends on internal PR

#4363 JS: Refactorization of NoSQL.qll to use API-graphs
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
Labels: Awaiting evaluation, JS

#4344 JS: tag consistency: replace cwe-20 with cwe-020
  javascript/ql/src/Security/CWE-020/IncompleteHostnameRegExp.ql
  javascript/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.ql
  javascript/ql/src/Security/CWE-020/MissingRegExpAnchor.ql
  javascript/ql/src/Security/CWE-020/UselessRegExpCharacterEscape.ql
  javascript/ql/src/Security/CWE-116/DoubleEscaping.ql
  javascript/ql/src/Security/CWE-116/IncompleteHtmlAttributeSanitization.ql
  javascript/ql/src/Security/CWE-116/IncompleteMultiCharacterSanitization.ql
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
  javascript/ql/src/experimental/Security/CWE-020/PostMessageNoOriginCheck.qhelp
  javascript/ql/src/experimental/Security/CWE-020/PostMessageNoOriginCheck.ql
Labels: JS, documentation

#4405 C#: Improve data flow summary for System.Lazy<>
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.expected
Labels: C#

#4353 C#: Precise data-flow for `System.Threading.Tasks`
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/runtime/CompilerServices.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/threading/Tasks.qll
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/GlobalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.cs
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.expected
Labels: C#

#4378 Flow summary nullable
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/src/semmle/code/csharp/frameworks/System.qll
  csharp/ql/test/library-tests/conversion/nullable/Nullable.cs
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.expected
Labels: C#

#4412 Python: Show TypeTracking doesn't work for module members
  python/ql/test/experimental/dataflow/typetracking/mymodule.py
  python/ql/test/experimental/dataflow/typetracking/test.py
Labels: Python

#4376 JS: Use Parameter instead of SimpleParameter in more models
  javascript/ql/src/semmle/javascript/AMD.qll
  javascript/ql/src/semmle/javascript/frameworks/AngularJS/AngularJSCore.qll
  javascript/ql/src/semmle/javascript/frameworks/AngularJS/DependencyInjections.qll
  javascript/ql/src/semmle/javascript/frameworks/AngularJS/ServiceDefinitions.qll
  javascript/ql/src/semmle/javascript/frameworks/Connect.qll
  javascript/ql/src/semmle/javascript/frameworks/Firebase.qll
  javascript/ql/src/semmle/javascript/frameworks/Hapi.qll
  javascript/ql/src/semmle/javascript/frameworks/Koa.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/Restify.qll
  javascript/ql/src/semmle/javascript/heuristics/AdditionalRouteHandlers.qll
  javascript/ql/test/library-tests/AMD/AmdModule.expected
  javascript/ql/test/library-tests/AMD/AmdModuleDefinition.expected
  javascript/ql/test/library-tests/AMD/AmdModuleDefinition.ql
  javascript/ql/test/library-tests/AMD/AmdModuleDependencies.expected
  javascript/ql/test/library-tests/AMD/AmdModuleExportedSymbol.expected
  javascript/ql/test/library-tests/AMD/AmdModuleExpr.expected
  javascript/ql/test/library-tests/AMD/AmdModuleImportedModule.expected
  javascript/ql/test/library-tests/AMD/AmdModule_exports.expected
  javascript/ql/test/library-tests/AMD/tst5.js
  javascript/ql/test/library-tests/frameworks/AngularJS/dependencies/DependencyKinds.expected
  javascript/ql/test/library-tests/frameworks/AngularJS/dependencies/dependency-kinds.js
  javascript/ql/test/library-tests/frameworks/Express/RouteHandler.qll
  javascript/ql/test/library-tests/frameworks/connect/src/test.js
  javascript/ql/test/library-tests/frameworks/connect/tests.expected
Labels: JS

#4336 Java: add Android database taint and SQL injection sinks
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/frameworks/android/Android.qll
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
  java/ql/src/semmle/code/java/security/QueryInjection.qll
  java/ql/test/library-tests/frameworks/android/taint-database/FlowSteps.java
  java/ql/test/library-tests/frameworks/android/taint-database/Sinks.java
  java/ql/test/library-tests/frameworks/android/taint-database/flowSteps.expected
  java/ql/test/library-tests/frameworks/android/taint-database/flowSteps.ql
  java/ql/test/library-tests/frameworks/android/taint-database/options
  java/ql/test/library-tests/frameworks/android/taint-database/sinks.expected
  java/ql/test/library-tests/frameworks/android/taint-database/sinks.ql
  java/ql/test/stubs/android/android/content/ContentProvider.java
  java/ql/test/stubs/android/android/content/ContentResolver.java
  java/ql/test/stubs/android/android/content/ContentValues.java
  java/ql/test/stubs/android/android/content/Context.java
  java/ql/test/stubs/android/android/database/Cursor.java
  java/ql/test/stubs/android/android/database/DatabaseUtils.java
  java/ql/test/stubs/android/android/database/sqlite/SQLiteDatabase.java
  java/ql/test/stubs/android/android/database/sqlite/SQLiteQueryBuilder.java
  java/ql/test/stubs/android/android/net/Uri.java
  java/ql/test/stubs/android/android/os/CancellationSignal.java
  java/ql/test/stubs/android/android/os/ParcelFileDescriptor.java
Labels: Java

#4392 JS: allow flask url_for in TargetBlank.ql
  javascript/ql/src/DOM/TargetBlank.ql
  javascript/ql/test/query-tests/DOM/TargetBlank/tst.js
Labels: JS

#4341 Java: Include column numbers in Location.toString
  java/ql/src/semmle/code/Location.qll
Labels: Java, depends on internal PR

#4414 Python: Shared dataflow, conditionals
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/localFlow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
Labels: Python

#4401 JS: Some preparation for Angular2 model
  javascript/ql/src/semmle/javascript/DOM.qll
  javascript/ql/src/semmle/javascript/Extend.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/ClassNode/InstanceMember.expected
  javascript/ql/test/library-tests/ClassNode/InstanceMethod.expected
  javascript/ql/test/library-tests/ClassNode/SuperClass.expected
  javascript/ql/test/library-tests/ClassNode/fields.ts
  javascript/ql/test/library-tests/ClassNode/getAReceiverNode.expected
  javascript/ql/test/library-tests/ClassNode/getFieldTypeAnnotation.expected
  javascript/ql/test/library-tests/ClassNode/getFieldTypeAnnotation.ql
Labels: JS

#4247 JS: add support for re-exports using the spread operator for NodeJS exports
  javascript/ql/src/NodeJS/MissingExports.ql
  javascript/ql/src/semmle/javascript/AMD.qll
  javascript/ql/src/semmle/javascript/Closure.qll
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/Modules.qll
  javascript/ql/src/semmle/javascript/NodeJS.qll
  javascript/ql/src/semmle/javascript/PackageExports.qll
  javascript/ql/src/semmle/javascript/dataflow/Portals.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/AMD/AmdModule_exports.expected
  javascript/ql/test/library-tests/AMD/AmdModule_exports.ql
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/reexport/a.js
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/reexport/b.js
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/reexport/import.js
  javascript/ql/test/library-tests/Modules/tests.expected
  javascript/ql/test/library-tests/Modules/tests.ql
  javascript/ql/test/library-tests/NodeJS/ModuleAccess.expected
  javascript/ql/test/library-tests/NodeJS/Module_getAnExportedSymbol.expected
  javascript/ql/test/library-tests/NodeJS/Module_getAnImport.expected
  javascript/ql/test/library-tests/NodeJS/Module_getAnImportedModule.expected
  javascript/ql/test/library-tests/NodeJS/Modules.expected
  javascript/ql/test/library-tests/NodeJS/NodeModule_exports.expected
  javascript/ql/test/library-tests/NodeJS/NodeModule_exports.ql
  javascript/ql/test/library-tests/NodeJS/Require.expected
  javascript/ql/test/library-tests/NodeJS/RequireImport.expected
  javascript/ql/test/library-tests/NodeJS/reexport/a.js
  javascript/ql/test/library-tests/NodeJS/reexport/b.js
  javascript/ql/test/library-tests/PackageExports/lib1/baz.js
  javascript/ql/test/library-tests/PackageExports/lib1/reexport/a.js
  javascript/ql/test/library-tests/PackageExports/lib1/reexport/b.js
  javascript/ql/test/library-tests/PackageExports/tests.expected
  javascript/ql/test/library-tests/PackageExports/tests.ql
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.ql
  javascript/ql/test/library-tests/TypeTracking/reexport/a.js
  javascript/ql/test/library-tests/TypeTracking/reexport/b.js
  javascript/ql/test/library-tests/TypeTracking/reexport/test.js
  javascript/ql/test/query-tests/NodeJS/MissingExports/MissingExports.expected
Labels: JS

#4419 JS: detect uses of jsxFactory in js/unused-local-variable
  javascript/ql/src/Declarations/UnusedVariable.ql
  javascript/ql/test/query-tests/Declarations/UnusedVariable/ts/tsconfig.json
  javascript/ql/test/query-tests/Declarations/UnusedVariable/ts/usesreact.tsx
Labels: JS

#4330 C#: Upgrade to .net core app 3.1
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/Semmle.Autobuild.Cpp.Tests.csproj
  cpp/autobuilder/Semmle.Autobuild.Cpp/Semmle.Autobuild.Cpp.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/Semmle.Autobuild.CSharp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.Shared/Semmle.Autobuild.Shared.csproj
  csharp/extractor/Semmle.Extraction.CIL.Driver/Semmle.Extraction.CIL.Driver.csproj
  csharp/extractor/Semmle.Extraction.CIL/Semmle.Extraction.CIL.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Semmle.Extraction.CSharp.Driver.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction.Tests/Semmle.Extraction.Tests.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Util.Tests/Semmle.Util.Tests.csproj
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependencies.expected
  csharp/ql/test/query-tests/Metrics/Dependencies/ExternalDependencies/ExternalDependenciesSourceLinks.expected
  csharp/ql/test/query-tests/Stubs/MinimalStubsFromSource.expected
Labels: C#, C++

#4417 C#: Add test for named tuple types
  csharp/ql/test/library-tests/csharp7/CSharp7.cs
  csharp/ql/test/library-tests/csharp7/CaseCondition.expected
  csharp/ql/test/library-tests/csharp7/ConstructedLocalFunctions.expected
  csharp/ql/test/library-tests/csharp7/DefUse.expected
  csharp/ql/test/library-tests/csharp7/Discards.expected
  csharp/ql/test/library-tests/csharp7/ExpressionBodies.expected
  csharp/ql/test/library-tests/csharp7/ForEach.expected
  csharp/ql/test/library-tests/csharp7/GlobalFlow.expected
  csharp/ql/test/library-tests/csharp7/GlobalTaintTracking.expected
  csharp/ql/test/library-tests/csharp7/IsFlow.expected
  csharp/ql/test/library-tests/csharp7/IsPatterns.expected
  csharp/ql/test/library-tests/csharp7/LocalFunctionCallArguments.expected
  csharp/ql/test/library-tests/csharp7/LocalFunctionCalls.expected
  csharp/ql/test/library-tests/csharp7/LocalFunctionParameters.expected
  csharp/ql/test/library-tests/csharp7/LocalFunctionStmts.expected
  csharp/ql/test/library-tests/csharp7/LocalFunctions.expected
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/csharp7/LocalVariables.expected
  csharp/ql/test/library-tests/csharp7/PrintAst.expected
  csharp/ql/test/library-tests/csharp7/RefDelegates.expected
  csharp/ql/test/library-tests/csharp7/RefExprs.expected
  csharp/ql/test/library-tests/csharp7/RefFunctions.expected
  csharp/ql/test/library-tests/csharp7/RefVariables.expected
  csharp/ql/test/library-tests/csharp7/TaintReaches.expected
  csharp/ql/test/library-tests/csharp7/TupleAccess.expected
  csharp/ql/test/library-tests/csharp7/TupleExpr.expected
  csharp/ql/test/library-tests/csharp7/TupleTypes.expected
  csharp/ql/test/library-tests/csharp7/TypeCase1.expected
  csharp/ql/test/library-tests/csharp7/TypeCase2.expected
  csharp/ql/test/library-tests/csharp7/TypeCase3.expected
  csharp/ql/test/library-tests/csharp7/UnboundLocalFunctions.expected
Labels: C#

#4418 C#: Reenable disabled test on OSX
  csharp/extractor/Semmle.Extraction.Tests/Layout.cs
Labels: C#

#4413 C#: Fix extraction of library indexers with explicit interface implementations
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Accessor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/ql/test/library-tests/indexers/Indexers12.expected
  csharp/ql/test/library-tests/indexers/Indexers12.ql
Labels: C#

#4362 Sign analysis cleanup
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/Sign.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/SignAnalysisCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/SignAnalysisSpecific.qll
  java/ql/src/semmle/code/java/dataflow/internal/rangeanalysis/Sign.qll
  java/ql/src/semmle/code/java/dataflow/internal/rangeanalysis/SignAnalysisCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/rangeanalysis/SignAnalysisSpecific.qll
  java/ql/test/library-tests/dataflow/sign-analysis/SignAnalysis.ql
Labels: C#, Java

#4433 C#: Add missing data-flow for switch expressions
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Conditions.cs
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/graph/Switch.cs
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/Splitting.cs
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
Labels: C#

#4293 C#: Model assertions in the CFG
  csharp/ql/src/semmle/code/csharp/Caching.qll
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreBasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/ConditionalBypass.qll
  csharp/ql/test/library-tests/controlflow/graph/Assert.cs
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/guards/AbstractValue.expected
  csharp/ql/test/library-tests/controlflow/guards/BooleanGuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Guards.cs
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/library-tests/controlflow/guards/NullGuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Splitting.cs
  csharp/ql/test/library-tests/dataflow/signanalysis/SignAnalysis.cs
  csharp/ql/test/library-tests/dataflow/signanalysis/SignAnalysis.expected
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatInvalid.expected
  csharp/ql/test/query-tests/Nullness/Assert.cs
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#4291 JS: lean dependency installation
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/virtual_source_root.ts
  javascript/extractor/src/com/semmle/js/dependencies/AsyncFetcher.java
  javascript/extractor/src/com/semmle/js/dependencies/DependencyResolver.java
  javascript/extractor/src/com/semmle/js/dependencies/Fetcher.java
  javascript/extractor/src/com/semmle/js/dependencies/SemVer.java
  javascript/extractor/src/com/semmle/js/dependencies/packument/PackageJson.java
  javascript/extractor/src/com/semmle/js/dependencies/packument/Packument.java
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/ExtractorState.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/TypeScriptExtractor.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeScriptASTConverter.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeScriptParser.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeScriptParserMetadata.java
Labels: JS

#4389 Improve range analysis for bitwise and
  cpp/ql/src/experimental/semmle/code/cpp/rangeanalysis/ExtendedRangeAnalysis.qll
  cpp/ql/src/experimental/semmle/code/cpp/rangeanalysis/extensions/ConstantBitwiseAndExprRange.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/bitwiseand/bitwiseand.cpp
  cpp/ql/test/experimental/library-tests/rangeanalysis/bitwiseand/bitwiseand.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/bitwiseand/bitwiseand.ql
Labels: C++

#4428 C#: Add '-DisableParallelProcessing' flag to nuget restore in Autobuilder
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
Labels: C#

#4441 JavaScript: Add a negative test for API graphs.
  javascript/ql/test/ApiGraphs/property-read-from-argument/VerifyAssertions.expected
  javascript/ql/test/ApiGraphs/property-read-from-argument/VerifyAssertions.ql
  javascript/ql/test/ApiGraphs/property-read-from-argument/index.js
  javascript/ql/test/ApiGraphs/property-read-from-argument/package.json
Labels: JS

#4437 C#: Include compiler-generated array lengths in the CFG
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
Labels: C#

#4370 C++: Change note for several range-analysis PRs
  cpp/change-notes/2020-09-29-range-analysis-rollup.md
Labels: C++, documentation

#4444 [CodeQL docs] First pass at style updates for docs microsite
  docs/language/global-sphinx-files/_static/custom.css_t
  docs/language/global-sphinx-files/_static/primer.css
  docs/language/global-sphinx-files/_templates/layout.html
  docs/language/global-sphinx-files/global-conf.py
Labels: documentation

#4396 C++: Use [, ...] syntax more widely.
  cpp/ql/src/Critical/OverflowDestination.ql
  cpp/ql/src/Critical/SizeCheck2.ql
  cpp/ql/src/JPL_C/LOC-2/Rule 11/SimpleControlFlowJmp.ql
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
  cpp/ql/src/Microsoft/SAL.qll
  cpp/ql/src/Security/CWE/CWE-121/UnterminatedVarargsCall.ql
  cpp/ql/src/Security/CWE/CWE-676/DangerousUseOfCin.ql
  cpp/ql/src/Security/CWE/CWE-676/PotentiallyDangerousFunction.ql
  cpp/ql/src/Security/CWE/CWE-732/DoNotCreateWorldWritable.ql
  cpp/ql/src/Security/CWE/CWE-732/FilePermissions.qll
  cpp/ql/src/jsf/4.09 Style/AV Rule 53.ql
  cpp/ql/src/jsf/4.12 Templates/AV Rule 104.ql
  cpp/ql/src/semmle/code/cpp/commons/Environment.qll
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/commons/Strcat.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/IdentityFunction.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
  cpp/ql/src/semmle/code/cpp/security/BufferWrite.qll
  cpp/ql/src/semmle/code/cpp/security/FileWrite.qll
  cpp/ql/src/semmle/code/cpp/security/OutputWrite.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTrackingImpl.qll
  cpp/ql/src/semmle/uml/MagicDraw.qll
Labels: C++

#4451 Fix typo in CodeQL docs template
  docs/language/global-sphinx-files/_templates/layout.html
Labels: documentation

#4447 Dataflow: Introduce consistency check for flow targeting PostUpdateNodes
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplConsistency.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll
  python/ql/src/experimental/dataflow/internal/DataFlowImplConsistency.qll
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
Labels: C#, C++, Java, Python

#4420 C++: SimpleRangeAnalysis: widen recursive *, +, -
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
Labels: C++

#4452 C#: Avoid overlapping SSA definitions for `ref`/`out` captured variables
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/test/library-tests/dataflow/ssa/Capture.cs
  csharp/ql/test/library-tests/dataflow/ssa/DefAdjacentRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/IsLiveOutRefParameterDefinition.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefElement.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefLastRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaExplicitDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaUltimateDef.expected
Labels: C#

#4329 JS: Add source and sink for DVSA
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/ServerLess.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/test/library-tests/frameworks/ServerLess/test.expected
  javascript/ql/test/library-tests/frameworks/ServerLess/test.ql
  javascript/ql/test/library-tests/frameworks/ServerLess/tst1/backend/src/mylibrary.js
  javascript/ql/test/library-tests/frameworks/ServerLess/tst1/template.yml
  javascript/ql/test/library-tests/frameworks/ServerLess/tst2/nodejs/index.js
  javascript/ql/test/library-tests/frameworks/ServerLess/tst2/template.yml
  javascript/ql/test/library-tests/frameworks/ServerLess/tst3/function/index.js
  javascript/ql/test/library-tests/frameworks/ServerLess/tst3/template.yml
  javascript/ql/test/library-tests/frameworks/ServerLess/tst4/app.js
  javascript/ql/test/library-tests/frameworks/ServerLess/tst4/template.yml
  javascript/ql/test/library-tests/frameworks/ServerLess/tst5/app.js
  javascript/ql/test/library-tests/frameworks/ServerLess/tst5/template.yml
Labels: JS, documentation

#4391 JavaScript: Improve handling of re-exports in API graphs
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
  javascript/ql/test/ApiGraphs/reexport/VerifyAssertions.expected
  javascript/ql/test/ApiGraphs/reexport/index.js
  javascript/ql/test/ApiGraphs/reexport/lib/stuff.js
  javascript/ql/test/ApiGraphs/reexport/lib/utils2.js
Labels: JS

#4421 C++: Demonstrate overflowing guard bounds
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
Labels: C++

#4457 Java: Track taint through java.io.File constructor and #toURI; URI#toURL
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/test/library-tests/dataflow/taint/B.java
  java/ql/test/library-tests/dataflow/taint/test.expected
Labels: Java

#4439 C++: Additional taint flows through std::map
  cpp/ql/src/semmle/code/cpp/models/implementations/StdMap.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/map.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#4449 JavaScript: Improve integration of TypeScript types into API graphs
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
  javascript/ql/src/semmle/javascript/CanonicalNames.qll
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/ApiGraphs/typed/NodeOfType.expected
  javascript/ql/test/ApiGraphs/typed/NodeOfType.ql
  javascript/ql/test/ApiGraphs/typed/index.ts
Labels: JS

#4423 Python: Attribute access API
  python/ql/src/experimental/dataflow/TypeTracker.qll
  python/ql/src/experimental/dataflow/internal/Attributes.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
  python/ql/src/experimental/dataflow/internal/DataFlowUtil.qll
  python/ql/test/experimental/dataflow/import-helper/ImportHelper.expected
  python/ql/test/experimental/dataflow/typetracking/attribute_tests.py
  python/ql/test/experimental/dataflow/typetracking/import_as_attr.py
  python/ql/test/experimental/dataflow/typetracking/moduleattr.expected
  python/ql/test/experimental/dataflow/typetracking/moduleattr.ql
Labels: Python

#4462 JS: remove stray todo
  javascript/ql/src/Declarations/DeadStoreOfProperty.ql
Labels: JS

#4464 Python: Get rid of `DataFlowCfgNode`
  python/ql/src/experimental/dataflow/internal/Attributes.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
Labels: Python

#4448 Python: simplify import modeling
  python/ql/src/experimental/dataflow/internal/DataFlowUtil.qll
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/dataflow/import-helper/ImportHelper.expected
  python/ql/test/experimental/dataflow/import-helper/ImportHelper.ql
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_string.py
  python/ql/test/experimental/dataflow/typetracking/moduleattr.ql
Labels: Python

#4459 C++: Additional taint flows through std::set
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/models/implementations/StdSet.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/set.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++, documentation

#4429 Python: model invoke library
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/frameworks/Invoke.qll
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/test/experimental/library-tests/frameworks/invoke/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/invoke/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/invoke/invoke_test.py
Labels: Python

#4467 Python: Fix unwanted module type tracking
  python/ql/src/experimental/dataflow/internal/DataFlowUtil.qll
  python/ql/test/experimental/dataflow/import-helper/ImportHelper.expected
  python/ql/test/experimental/dataflow/typetracking/import_as_attr_dotted.py
Labels: Python

#4435 Python: port code injection query
  python/ql/src/experimental/Security-new-dataflow/CWE-094/CodeInjection.ql
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/library-tests/frameworks/stdlib-py2/CodeExecution.py
  python/ql/test/experimental/library-tests/frameworks/stdlib-py2/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/stdlib-py2/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/stdlib-py2/options
  python/ql/test/experimental/library-tests/frameworks/stdlib-py3/CodeExecution.py
  python/ql/test/experimental/library-tests/frameworks/stdlib-py3/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/stdlib-py3/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/stdlib-py3/options
  python/ql/test/experimental/library-tests/frameworks/stdlib/CodeExecution.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/CodeExecutionPossibleFP1.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/CodeExecutionPossibleFP2.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/CodeExecutionPossibleFP3.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/TestTaint.expected
  python/ql/test/experimental/library-tests/frameworks/stdlib/TestTaint.ql
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-094/CodeInjection.expected
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-094/CodeInjection.qlref
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-094/code_injection.py
Labels: Python

#4474 Python: Fix divergence in tuple/subscripted type `toString`
  python/ql/src/semmle/python/objects/Classes.qll
  python/ql/src/semmle/python/objects/Instances.qll
  python/ql/src/semmle/python/objects/ObjectInternal.qll
  python/ql/src/semmle/python/objects/Sequences.qll
Labels: Python

#4469 Java: Track taint through java.io.File::toPath & java.nio.file.Path::toFile
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/test/library-tests/dataflow/taint/B.java
  java/ql/test/library-tests/dataflow/taint/test.expected
Labels: Java

#4424 Python: model Python 2 specific command execution
  python/ql/src/experimental/Security-new-dataflow/CWE-078/CommandInjection.ql
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/library-tests/frameworks/stdlib-py2/SystemCommandExecution.py
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-078-py2/CommandInjection.expected
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-078-py2/CommandInjection.qlref
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-078-py2/command_injection.py
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-078-py2/options
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-078/command_injection.py
Labels: Python

#4371 C#: Reimplement flow-summary compilation
  csharp/ql/src/semmle/code/csharp/dataflow/CallContext.qll
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DelegateDataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.expected
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.ql
  csharp/ql/test/library-tests/dataflow/delegates/DelegateFlow.cs
  csharp/ql/test/library-tests/dataflow/delegates/DelegateFlow.expected
  csharp/ql/test/library-tests/dataflow/delegates/DelegateFlow.ql
  csharp/ql/test/library-tests/dataflow/global/Common.qll
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.ql
  csharp/ql/test/library-tests/dataflow/global/GlobalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaCapturedVariableDef.expected
  csharp/ql/test/query-tests/Security Features/CWE-022/ZipSlip/ZipSlip.expected
  csharp/ql/test/query-tests/Security Features/CWE-078/CommandInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-112/MissingXMLValidation.expected
  csharp/ql/test/query-tests/Security Features/CWE-338/InsecureRandomness.expected
  csharp/ql/test/query-tests/Security Features/CWE-601/UrlRedirect/UrlRedirect.expected
  csharp/ql/test/query-tests/Security Features/CWE-807/ConditionalBypass.expected
  csharp/ql/test/query-tests/Security Features/CWE-838/InappropriateEncoding.expected
Labels: C#

#4472 C#: Change public fields to properties
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildScript.cs
  csharp/extractor/Semmle.Extraction.CIL.Driver/ExtractorOptions.cs
  csharp/extractor/Semmle.Extraction.CIL.Driver/Program.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Instruction.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Program.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Accessor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CommentBlock.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CommentLine.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Constructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Conversion.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Destructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Event.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/EventAccessor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Indexer.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/LocalFunction.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/LocalVariable.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Modifier.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Namespace.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/OrdinaryMethod.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Parameter.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Switch.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/ArrayType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/DynamicType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NamedType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NullType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Nullability.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/PointerType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TupleType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TypeParameter.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/UserOperator.cs
  csharp/extractor/Semmle.Extraction/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction/Entities/File.cs
  csharp/extractor/Semmle.Extraction/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction/Entities/GeneratedLocation.cs
  csharp/extractor/Semmle.Extraction/Entities/SourceLocation.cs
  csharp/extractor/Semmle.Extraction/Extractor.cs
  csharp/extractor/Semmle.Extraction/Id.cs
  csharp/extractor/Semmle.Extraction/Layout.cs
  csharp/extractor/Semmle.Extraction/Options.cs
Labels: C#

#4481 C++: Fix qldoc for getIncludeText
  cpp/ql/src/semmle/code/cpp/Include.qll
Labels: C++

#4482 Python: Add script to promote experimental security queries
  python/ql/src/experimental/Security-new-dataflow/promote.sh
Labels: Python

#4475 [CodeQL docs] Update footer in Sphinx template
  docs/language/global-sphinx-files/_static/custom.css_t
  docs/language/global-sphinx-files/_templates/layout.html
Labels: documentation

#4430 Java: Refactor part of TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/frameworks/Guice.qll
  java/ql/src/semmle/code/java/frameworks/Protobuf.qll
  java/ql/src/semmle/code/java/frameworks/android/Intent.qll
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
  java/ql/src/semmle/code/java/frameworks/jackson/JacksonSerializability.qll
  java/ql/test/library-tests/dataflow/taint-format/A.java
  java/ql/test/library-tests/dataflow/taint-format/test.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/taintedString.expected
Labels: Java

#4364 Python: Shared dataflow, argument passing
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/coverage/argumentPassing.py
  python/ql/test/experimental/dataflow/coverage/argumentRouting1.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting1.ql
  python/ql/test/experimental/dataflow/coverage/argumentRouting2.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting2.ql
  python/ql/test/experimental/dataflow/coverage/argumentRouting3.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting3.ql
  python/ql/test/experimental/dataflow/coverage/argumentRouting4.ql
  python/ql/test/experimental/dataflow/coverage/classes.py
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.expected
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/localFlow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
  python/ql/test/experimental/dataflow/coverage/testlib.py
  python/ql/test/experimental/dataflow/coverage/validTest.py
  python/ql/test/experimental/dataflow/fieldflow/allLocalFlow.expected
  python/ql/test/experimental/dataflow/fieldflow/dataflow.expected
  python/ql/test/experimental/dataflow/fieldflow/examples.py
  python/ql/test/experimental/dataflow/fieldflow/globalStep.expected
  python/ql/test/experimental/dataflow/fieldflow/localFlow.expected
  python/ql/test/experimental/dataflow/fieldflow/postupdates.expected
  python/ql/test/experimental/dataflow/fieldflow/test.py
Labels: Python

#4453 Python: port unsafe deserialization
  python/ql/src/experimental/Security-new-dataflow/CWE-502/UnsafeDeserialization.ql
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/frameworks/Dill.qll
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/src/experimental/semmle/python/frameworks/Yaml.qll
  python/ql/test/experimental/library-tests/frameworks/dill/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/dill/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/dill/Decoding.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/Decoding.py
  python/ql/test/experimental/library-tests/frameworks/yaml/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/yaml/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/yaml/Decoding.py
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-502/UnsafeDeserialization.expected
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-502/UnsafeDeserialization.qlref
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-502/unsafe_deserialization.py
Labels: Python, documentation

#4477 C++: Add ability to dump local dataflow info in IR dumps
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/OperandTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  csharp/ql/src/experimental/ir/implementation/internal/OperandTag.qll
  csharp/ql/src/experimental/ir/implementation/raw/IR.qll
  csharp/ql/src/experimental/ir/implementation/raw/Operand.qll
  csharp/ql/src/experimental/ir/implementation/raw/PrintIR.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IR.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/PrintIR.qll
Labels: C#, C++

#3880 Data flow: Precise access paths
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/test/library-tests/dataflow/fields/complex.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  python/ql/src/experimental/dataflow/internal/DataFlowImpl.qll
  python/ql/src/experimental/dataflow/internal/DataFlowImpl2.qll
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
Labels: C#, C++, Java, Python

#4460 JavaScript: Eliminate source of false positives in `UnsafeShellCommandConstruction`.
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstruction.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: Awaiting evaluation, JS

#4312 Java: QL Query Detector for JHipster Generated CVE-2019-16303
  java/ql/src/Security/CWE/CWE-338/JHipsterGeneratedPRNG.qhelp
  java/ql/src/Security/CWE/CWE-338/JHipsterGeneratedPRNG.ql
  java/ql/src/Security/CWE/CWE-338/JHipsterGeneratedPRNGFixed.java
  java/ql/src/Security/CWE/CWE-338/JHipsterGeneratedPRNGVulnerable.java
  java/ql/src/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/test/query-tests/security/CWE-338/semmle/tests/JHipsterGeneratedPRNG.expected
  java/ql/test/query-tests/security/CWE-338/semmle/tests/JHipsterGeneratedPRNG.qlref
  java/ql/test/query-tests/security/CWE-338/semmle/tests/fixed/RandomUtil.java
  java/ql/test/query-tests/security/CWE-338/semmle/tests/options
  java/ql/test/query-tests/security/CWE-338/semmle/tests/vulnerable/RandomUtil.java
  java/ql/test/stubs/apache-commons-lang3-3.7/LICENSE.txt
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/RandomStringUtils.java
Labels: Java, documentation

#4498 C++: Print static call target for `Call` instruction in dumps
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/test/experimental/ir/ir/raw_ir.expected
Labels: C#, C++

#4501 C++: Annotate IR with partial flow info
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
Labels: C++

#4483 Rebase of #3706
  java/ql/src/experimental/Security/CWE/CWE-749/UnsafeAndroidAccess.java
  java/ql/src/experimental/Security/CWE/CWE-749/UnsafeAndroidAccess.qhelp
  java/ql/src/experimental/Security/CWE/CWE-749/UnsafeAndroidAccess.ql
  java/ql/test/experimental/query-tests/security/CWE-749/UnsafeAndroidAccess.expected
  java/ql/test/experimental/query-tests/security/CWE-749/UnsafeAndroidAccess.java
  java/ql/test/experimental/query-tests/security/CWE-749/UnsafeAndroidAccess.qlref
  java/ql/test/experimental/query-tests/security/CWE-749/options
  java/ql/test/stubs/google-android-9.0.0/android/app/Activity.java
  java/ql/test/stubs/google-android-9.0.0/android/content/Context.java
  java/ql/test/stubs/google-android-9.0.0/android/content/Intent.java
  java/ql/test/stubs/google-android-9.0.0/android/net/Uri.java
  java/ql/test/stubs/google-android-9.0.0/android/os/BaseBundle.java
  java/ql/test/stubs/google-android-9.0.0/android/os/Bundle.java
  java/ql/test/stubs/google-android-9.0.0/android/os/Parcel.java
  java/ql/test/stubs/google-android-9.0.0/android/os/Parcelable.java
  java/ql/test/stubs/google-android-9.0.0/android/view/View.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/WebResourceRequest.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/WebResourceResponse.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/WebSettings.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/WebView.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/WebViewClient.java
Labels: Java, documentation

#4499 JavaScript: Add modelling for `Module.prototype._compile`.
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/module.js
Labels: JS

#4434 JS: add JavaScript printAst query
  javascript/ql/src/printAst.ql
  javascript/ql/src/semmle/javascript/Classes.qll
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/HTML.qll
  javascript/ql/src/semmle/javascript/JSON.qll
  javascript/ql/src/semmle/javascript/JSX.qll
  javascript/ql/src/semmle/javascript/Locations.qll
  javascript/ql/src/semmle/javascript/PrintAst.qll
  javascript/ql/src/semmle/javascript/Stmt.qll
  javascript/ql/src/semmle/javascript/Templates.qll
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/src/semmle/javascript/Variables.qll
  javascript/ql/src/semmle/javascript/YAML.qll
  javascript/ql/test/library-tests/Arrays/printAst.expected
  javascript/ql/test/library-tests/Arrays/printAst.ql
  javascript/ql/test/library-tests/HTML/HTMLElementAndHTMLAttribute/printAst.expected
  javascript/ql/test/library-tests/HTML/HTMLElementAndHTMLAttribute/printAst.ql
  javascript/ql/test/library-tests/JSON/printAst.expected
  javascript/ql/test/library-tests/JSON/printAst.ql
  javascript/ql/test/library-tests/JSX/printAst.expected
  javascript/ql/test/library-tests/JSX/printAst.ql
  javascript/ql/test/library-tests/TypeScript/TypeAnnotations/printAst.expected
  javascript/ql/test/library-tests/TypeScript/TypeAnnotations/printAst.ql
  javascript/ql/test/library-tests/TypeScript/Types/printAst.expected
  javascript/ql/test/library-tests/TypeScript/Types/printAst.ql
  javascript/ql/test/library-tests/YAML/printAst.expected
  javascript/ql/test/library-tests/YAML/printAst.ql
Labels: JS

#4502 C++: Print target variable name for `Load` and `Store`, if known
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/test/experimental/ir/ir/raw_ir.expected
Labels: C#, C++

#4494 JS: Add support for throttle like functions as partial calls
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/GermanFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
  javascript/ql/test/library-tests/InterProceduralFlow/partial.js
Labels: JS, documentation

#4478 JS: add support for custom CSRF protecting middlewares in js/missing-token-validation
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddlewareGood2.js
Labels: JS, documentation

#4497 Add modern C++ variant
  cpp/ql/src/Likely Bugs/Arithmetic/IntMultToLong.cpp
Labels: C++

#4507 JS: add local dataflow to js/template-syntax-in-string-literal
  javascript/ql/src/LanguageFeatures/TemplateSyntaxInStringLiteral.ql
  javascript/ql/test/query-tests/LanguageFeatures/TemplateSyntaxInStringLiteral/TemplateSyntaxInStringLiteral.expected
  javascript/ql/test/query-tests/LanguageFeatures/TemplateSyntaxInStringLiteral/TemplateSyntaxInStringLiteral.js
Labels: JS

#3788 C++: Add bcopy to models and use it.
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/controlflow/Dereferenced.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Memcpy.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/query-tests/Critical/MissingNullTest/MissingNullTest.expected
  cpp/ql/test/query-tests/Critical/MissingNullTest/MissingNullTest.qlref
  cpp/ql/test/query-tests/Critical/MissingNullTest/test.cpp
Labels: C++, documentation

#4518 JS: Do not extend AdditionalTaintStep in the ldap library
  javascript/ql/src/experimental/Security/CWE-090/LdapInjection.qll
  javascript/ql/src/experimental/Security/CWE-090/LdapInjectionCustomizations.qll
Labels: JS

#4517 JS: Support moddern assignment expressions in js/implicit-operand-conversion
  javascript/ql/src/Expressions/ImplicitOperandConversion.ql
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/test/query-tests/Expressions/ImplicitOperandConversion/ImplicitOperandConversion.expected
  javascript/ql/test/query-tests/Expressions/ImplicitOperandConversion/tst.js
Labels: JS

#4514 Python: Add module boundary flow steps
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/pep_328/__init__.py
  python/ql/test/experimental/dataflow/pep_328/package/__init__.py
  python/ql/test/experimental/dataflow/pep_328/package/moduleA.py
  python/ql/test/experimental/dataflow/pep_328/package/subpackage1/__init__.py
  python/ql/test/experimental/dataflow/pep_328/package/subpackage1/moduleX.py
  python/ql/test/experimental/dataflow/pep_328/package/subpackage1/moduleY.py
  python/ql/test/experimental/dataflow/pep_328/package/subpackage2/__init__.py
  python/ql/test/experimental/dataflow/pep_328/package/subpackage2/moduleZ.py
  python/ql/test/experimental/dataflow/pep_328/start.py
  python/ql/test/experimental/dataflow/regression/dataflow.expected
  python/ql/test/experimental/dataflow/regression/test.py
  python/ql/test/experimental/dataflow/typetracking/mymodule.py
  python/ql/test/experimental/dataflow/typetracking/test.py
Labels: Python

#4521 JS: add support for more custom CSRF checking middlewares
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddlewareGood2.js
Labels: JS

#4523 JS: add support for OptionalUse in js/missing-await
  javascript/ql/src/Expressions/MissingAwait.ql
  javascript/ql/test/query-tests/Expressions/MissingAwait/MissingAwait.expected
  javascript/ql/test/query-tests/Expressions/MissingAwait/tst.js
Labels: JS

#4524 Python: Remove cartesian product in `TKwOverflowNode`
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
Labels: Python

#4513 Python: model fabric
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/frameworks/Fabric.qll
  python/ql/test/experimental/library-tests/frameworks/fabric/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/fabric/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/fabric/TestTaint.expected
  python/ql/test/experimental/library-tests/frameworks/fabric/TestTaint.ql
  python/ql/test/experimental/library-tests/frameworks/fabric/fabric_v1_execute.py
  python/ql/test/experimental/library-tests/frameworks/fabric/fabric_v1_test.py
  python/ql/test/experimental/library-tests/frameworks/fabric/fabric_v2_test.py
Labels: Python

#4509 C++: Add IntMultToLong test cases.
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/IntMultToLong/IntMultToLong.cpp
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/IntMultToLong/IntMultToLong.expected
Labels: C++

#4486 JS: avoid using getFirstToken for sorting
  javascript/ql/src/Declarations/UnstableCyclicImport.ql
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/StringOps.qll
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Labels: JS

#4506 JS: Handle jQuery $() sink in a separate data-flow configuration
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/Security/CWE-079/Xss.ql
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.ql
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/jquery.js
Labels: JS, documentation

#4490 Python: model Django HttpRequest as RemoteFlowSource
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/frameworks/Django.qll
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/README.md
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/TestTaint.expected
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/TestTaint.ql
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/dummy_import.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/manage.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/options
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/taint_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/__init__.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/admin.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/apps.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/migrations/__init__.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/models.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/tests.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/urls.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/views.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testproj/__init__.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testproj/asgi.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testproj/settings.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testproj/urls.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testproj/wsgi.py
  python/ql/test/library-tests/web/django/HttpSources.expected
  python/ql/test/library-tests/web/django/views_2x_3x.py
Labels: Python, documentation

#4528 Python: Prevent early join on `argName` in `getArg`
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
Labels: Python

#4527 C++: Improve SizeCheck queries
  cpp/change-notes/2020-10-21-size-check-queries.md
  cpp/ql/src/Critical/SizeCheck.ql
  cpp/ql/src/Critical/SizeCheck2.ql
  cpp/ql/test/query-tests/Critical/SizeCheck/SizeCheck.expected
  cpp/ql/test/query-tests/Critical/SizeCheck/SizeCheck.qlref
  cpp/ql/test/query-tests/Critical/SizeCheck/SizeCheck2.expected
  cpp/ql/test/query-tests/Critical/SizeCheck/SizeCheck2.qlref
  cpp/ql/test/query-tests/Critical/SizeCheck/test.c
  cpp/ql/test/query-tests/Critical/SizeCheck/test2.c
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/SizeCheck2/test.expected
Labels: C++, documentation

#4522 C++: Non-constant format string test case
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/test.cpp
Labels: C++

#4529 Python: Remove bad join in `getCallableScope`
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
Labels: Python

#4476 Python: Port SqlInjection
  python/ql/src/experimental/Security-new-dataflow/CWE-089/SqlInjection.ql
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/frameworks/Django.qll
  python/ql/test/experimental/library-tests/frameworks/django/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/django/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/django/SqlExecution.py
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-089/SqlInjection.expected
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-089/SqlInjection.qlref
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-089/sql_injection.py
Labels: Python

#4525 JavaScript: Include .github hidden folders in autobuild
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
Labels: JS

#4461 Python: implement printAst for Python
  python/ql/src/printAst.ql
  python/ql/src/semmle/python/PrintAst.qll
  python/ql/test/library-tests/taint/general/printAst.expected
  python/ql/test/library-tests/taint/general/printAst.ql
Labels: Python

#3974 Docs: Query classification and display
  docs/query-classification-and-display.md
Labels: documentation

#4532 C++: Harden queries against ErroneousType
  cpp/change-notes/2020-10-21-erroneous-types.md
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArguments.ql
  cpp/ql/src/Likely Bugs/Memory Management/Padding/NonPortablePrintf.ql
Labels: C++, documentation

#4538 C++: Add taint test for memcpy-ing into a vector
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#4540 C++: Improve PrintAST performance if only individual files are printed
  cpp/ql/src/semmle/code/cpp/Print.qll
Labels: C++

#4534 Python: update flask modeling
  python/ql/src/experimental/semmle/python/frameworks/Django.qll
  python/ql/src/experimental/semmle/python/frameworks/Fabric.qll
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/src/experimental/semmle/python/frameworks/Werkzeug.qll
Labels: Python

#4544 Python: Fix bad join order in `adjacentUseUseSameVar`
  python/ql/src/semmle/python/essa/SsaCompute.qll
Labels: Python

#4545 Python: model Django v1 route setup
  python/ql/src/experimental/semmle/python/frameworks/Django.qll
  python/ql/test/experimental/library-tests/frameworks/django-v1/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/django-v1/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/django-v1/response_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v1/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/urls.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/views.py
Labels: Python

#4383 Java: Add modelling for Guava
  java/change-notes/2020-10-16-guava-flow-steps.md
  java/ql/src/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/src/semmle/code/java/dataflow/NullGuards.qll
  java/ql/src/semmle/code/java/frameworks/guava/Guava.qll
  java/ql/src/semmle/code/java/frameworks/guava/StringUtils.qll
  java/ql/test/library-tests/frameworks/guava/Test.java
  java/ql/test/library-tests/frameworks/guava/flow.expected
  java/ql/test/library-tests/frameworks/guava/flow.ql
  java/ql/test/library-tests/frameworks/guava/options
  java/ql/test/stubs/guava-30.0/com/google/common/base/Joiner.java
  java/ql/test/stubs/guava-30.0/com/google/common/base/Splitter.java
  java/ql/test/stubs/guava-30.0/com/google/common/base/Strings.java
Labels: Java, documentation

#4519 C#: Remove dead LoggerType class
  csharp/ql/src/semmle/code/csharp/security/dataflow/LogForging.qll
Labels: C#

#4548 JS: do not crash on empty package.json file
  javascript/extractor/src/com/semmle/js/dependencies/Fetcher.java
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/ql/test/library-tests/MalformedPackageJson/Test.expected
  javascript/ql/test/library-tests/MalformedPackageJson/Test.ql
  javascript/ql/test/library-tests/MalformedPackageJson/nullContents/package.json
  javascript/ql/test/library-tests/MalformedPackageJson/tst.js
Labels: JS

#4416 C#: Add flow summaries for `System.[Value]Tuple`
  csharp/ql/src/semmle/code/csharp/Type.qll
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.expected
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.ql
Labels: C#

#4533 C++: Fix broken qhelp links
  cpp/ql/src/Best Practices/Exceptions/LeakyCatch.qhelp
  cpp/ql/src/Best Practices/Unused Entities/UnusedStaticVariables.qhelp
  cpp/ql/src/Best Practices/UseOfGoto.qhelp
  cpp/ql/src/Critical/MissingNullTest.qhelp
  cpp/ql/src/Likely Bugs/Arithmetic/BadCheckOdd.qhelp
  cpp/ql/src/Likely Bugs/Arithmetic/BitwiseSignCheck.qhelp
  cpp/ql/src/Likely Bugs/Arithmetic/ComparisonPrecedence.qhelp
  cpp/ql/src/Likely Bugs/Arithmetic/FloatComparison.qhelp
  cpp/ql/src/Likely Bugs/Arithmetic/IntMultToLong.qhelp
  cpp/ql/src/Likely Bugs/Conversion/LossyPointerCast.qhelp
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArguments.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/Adding365DaysPerYear.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.qhelp
  cpp/ql/src/Likely Bugs/Leap Year/UnsafeArrayForDaysOfYear.qhelp
  cpp/ql/src/Likely Bugs/Likely Typos/MissingEnumCaseInSwitch.qhelp
  cpp/ql/src/Likely Bugs/Memory Management/SuspiciousCallToMemset.qhelp
  cpp/ql/src/Likely Bugs/NestedLoopSameVar.qhelp
  cpp/ql/src/Likely Bugs/OO/NonVirtualDestructor.qhelp
  cpp/ql/src/Metrics/Files/FMacroRatio.qhelp
  cpp/ql/src/Metrics/Files/FTimeInFrontend.qhelp
  cpp/ql/src/Security/CWE/CWE-089/SqlTainted.qhelp
  cpp/ql/src/jsf/4.10 Classes/AV Rule 89.qhelp
  cpp/ql/src/jsf/4.13 Functions/AV Rule 114.qhelp
  cpp/ql/src/jsf/4.16 Initialization/AV Rule 145.qhelp
  cpp/ql/src/jsf/4.24 Control Flow Structures/AV Rule 189.qhelp
Labels: C++, documentation

#4535 C++: Extend jump-to-def support to template instantiations.
  cpp/ql/src/definitions.ql
  cpp/ql/src/definitions.qll
  cpp/ql/src/localDefinitions.ql
  cpp/ql/src/localReferences.ql
  cpp/ql/test/query-tests/definitions/locationInfo.ql
Labels: C++

#4468 C++: flow through output iterators with user-defined operator= and operator*
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Iterator.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/standalone_iterators.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#4560 C++: Make sure getInstructionTagId has a result for `this` related IPA branches
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
Labels: C++

#4556 C#: Fix bad join-order in `System.Tuple` flow-summaries
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
Labels: C#

#4543 C#: Add flow summary for 'Task.ConfigureAwait()'
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/runtime/CompilerServices.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/threading/Tasks.qll
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/GlobalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/library/LibraryTypeDataFlow.expected
Labels: C#

#3141 Insecure Bean Validation query
  java/change-notes/2020-10-27-insecure-bean-validation.md
  java/ql/src/Security/CWE/CWE-094/InsecureBeanValidation.java
  java/ql/src/Security/CWE/CWE-094/InsecureBeanValidation.qhelp
  java/ql/src/Security/CWE/CWE-094/InsecureBeanValidation.ql
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/test/query-tests/security/CWE-094/InsecureBeanValidation.expected
  java/ql/test/query-tests/security/CWE-094/InsecureBeanValidation.java
  java/ql/test/query-tests/security/CWE-094/InsecureBeanValidation.qlref
  java/ql/test/query-tests/security/CWE-094/options
  java/ql/test/stubs/validation-api-2.0.1.Final/javax/validation/ClockProvider.java
  java/ql/test/stubs/validation-api-2.0.1.Final/javax/validation/ConstraintValidator.java
  java/ql/test/stubs/validation-api-2.0.1.Final/javax/validation/ConstraintValidatorContext.java
Labels: Java, documentation

#4559 JS: add model for Node Redis
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/redis.js
Labels: JS

#4489 C#: Simplify `toString()` for CIL entities
  csharp/change-notes/2020-10-28-cil-to-string.md
  csharp/ql/src/semmle/code/cil/Attribute.qll
  csharp/ql/src/semmle/code/cil/ConsistencyChecks.qll
  csharp/ql/src/semmle/code/cil/Instruction.qll
  csharp/ql/src/semmle/code/cil/Method.qll
  csharp/ql/src/semmle/code/cil/Type.qll
  csharp/ql/src/semmle/code/cil/Variable.qll
  csharp/ql/src/semmle/code/csharp/Attribute.qll
  csharp/ql/src/semmle/code/csharp/Generics.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/cil/consistency/consistency.expected
  csharp/ql/test/library-tests/cil/pdbs/InstructionLocations.ql
  csharp/ql/test/library-tests/cil/regressions/ConstructedMethods.expected
Labels: C#, documentation

#4561 C++: Make BuiltInVarArgs* classes subclasses of VarArgsExpr.
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
Labels: C++

#4563 Python: Remove `refersTo` from `regex.qll`
  python/ql/src/semmle/python/regex.qll
Labels: Python

#4565 C++: Fix spelling in getInstructionTagId
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
Labels: C++

#4484 C#: Add support for custom assert methods (DoesNotReturnIfAttribute)
  csharp/change-notes/2020-10-21-CodeAnalysis-attributes-in-assert.md
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Diagnostics.qll
  csharp/ql/test/library-tests/commons/Assertions/Assertions.ql
  csharp/ql/test/library-tests/frameworks/test/Assertions.expected
  csharp/ql/test/library-tests/frameworks/test/Assertions.ql
  csharp/ql/test/library-tests/frameworks/test/DoesNotReturnIf.cs
Labels: C#, documentation

#4515 C++: Changes to models library.
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/SmartPointer.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdPair.qll
Labels: C++

#4566 JS: Add taint steps through 'classnames' and 'clsx'
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/Classnames.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/classnames.js
Labels: JS, documentation

#4493 Fix C++ Print AST handling of Conversions
  cpp/ql/src/semmle/code/cpp/PrintAST.qll
  cpp/ql/test/examples/expressions/Conversion4.c
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Labels: C++

#4576 Java: Tweak qhelp to make it markdown-compatible.
  java/ql/src/Security/CWE/CWE-094/InsecureBeanValidation.qhelp
Labels: Java, documentation

#4578 Java: Add missing change notes for 1.26
  change-notes/1.26/analysis-java.md
  java/change-notes/2020-05-21-mongodb-sql-injection-sinks.md
  java/change-notes/2020-05-21-websocket-taintsource.md
  java/change-notes/2020-06-30-jooq-sql-injection-sinks.md
  java/change-notes/2020-07-03-more-pathcreations.md
  java/change-notes/2020-07-09-untrusted-data-to-external-api.md
  java/change-notes/2020-07-13-stacktraceexposure-fp-fix.md
  java/change-notes/2020-08-11-printwriter-format-xss-sink.md
  java/change-notes/2020-08-14-dataflow-dispatch-instance-arg-ctx.md
  java/change-notes/2020-08-17-string-formatted.md
  java/change-notes/2020-08-24-records-flow.md
  java/change-notes/2020-08-31-extensible-security-queries.md
  java/change-notes/2020-09-08-blockstmt.md
  java/change-notes/2020-09-17-exectainted-array.md
  java/change-notes/2020-09-21-jhipster-gen-prng-query.md
Labels: Java, documentation

#4577 Fix path transformer handling of extensionless files
  csharp/extractor/Semmle.Extraction/PathTransformer.cs
Labels: C#, Priority

#4568 C#: Fix CFG for assertions with multiple assertion arguments
  csharp/ql/src/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/NonReturning.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/test/library-tests/commons/Assertions/Assertions.ql
  csharp/ql/test/library-tests/controlflow/graph/Assert.cs
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Consistency.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/guards/AbstractValue.expected
  csharp/ql/test/library-tests/controlflow/guards/Assert.cs
  csharp/ql/test/library-tests/controlflow/guards/BooleanGuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/library-tests/frameworks/test/Assertions.ql
Labels: C#

#4580 C#: Convert 1.26 change notes
  change-notes/1.26/analysis-csharp.md
  csharp/change-notes/2020-08-18-ast-viewer.md
  csharp/change-notes/2020-08-18-partial-method-bodies.md
  csharp/change-notes/2020-08-26-implicit-array-lengths.md
  csharp/change-notes/2020-09-02-assembly-insensitive-trap.md
  csharp/change-notes/2020-09-22-weak-encryption.md
Labels: C#, documentation

#4553 C++: Additional pointer tests for DefaultTaintTracking.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/shared.h
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
Labels: C++

#4562 C++: Provide the predicates that can be used to traverse the AST as metadata to PrintAST
  cpp/ql/src/semmle/code/cpp/PrintAST.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Labels: C++

#4581 C++: Add support for StmtExpr to Print AST.
  cpp/ql/src/semmle/code/cpp/PrintAST.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#4539 Python: port path injection
  config/identical-files.json
  python/ql/src/experimental/Security-new-dataflow/CWE-022/ChainedConfigs12.qll
  python/ql/src/experimental/Security-new-dataflow/CWE-022/PathInjection.ql
  python/ql/src/experimental/dataflow/DataFlow3.qll
  python/ql/src/experimental/dataflow/DataFlow4.qll
  python/ql/src/experimental/dataflow/TaintTracking2.qll
  python/ql/src/experimental/dataflow/TaintTracking3.qll
  python/ql/src/experimental/dataflow/TaintTracking4.qll
  python/ql/src/experimental/dataflow/internal/DataFlowImpl3.qll
  python/ql/src/experimental/dataflow/internal/DataFlowImpl4.qll
  python/ql/src/experimental/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/src/experimental/dataflow/internal/tainttracking2/TaintTrackingParameter.qll
  python/ql/src/experimental/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  python/ql/src/experimental/dataflow/internal/tainttracking3/TaintTrackingParameter.qll
  python/ql/src/experimental/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  python/ql/src/experimental/dataflow/internal/tainttracking4/TaintTrackingParameter.qll
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/library-tests/frameworks/stdlib/FileSystemAccess.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/PathNormalization.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/SafeAccessCheck.py
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-022/PathInjection.expected
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-022/PathInjection.qlref
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-022/path_injection.py
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-022/test.py
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-022/test_chaining.py
Labels: Python
