Repository github/codeql, pull requests merged in 2020-09, with the labels that each got.

#3543 Java: add websocket reads as remote flow source.
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/src/semmle/code/java/frameworks/javase/WebSocket.qll
  java/ql/test/query-tests/security/CWE-079/semmle/tests/WebsocketXss.java
Labels: Java

#3363 CodeQL query to detect XSLT injections
  java/ql/src/experimental/Security/CWE/CWE-074/XsltInjection.java
  java/ql/src/experimental/Security/CWE/CWE-074/XsltInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-074/XsltInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-074/XsltInjectionLib.qll
  java/ql/src/semmle/code/java/security/XmlParsers.qll
  java/ql/test/experimental/query-tests/security/CWE-074/XsltInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-074/XsltInjection.java
  java/ql/test/experimental/query-tests/security/CWE-074/XsltInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-074/options
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/Configuration.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/lib/SourceResolver.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/om/NotationSet.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/AbstractXsltTransformer.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/Destination.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/Processor.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/QName.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/SaxonApiException.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/SaxonApiUncheckedException.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XdmItem.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XdmValue.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/Xslt30Transformer.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XsltCompiler.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XsltExecutable.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XsltPackage.java
  java/ql/test/experimental/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XsltTransformer.java
Labels: Java

#4162 C++: SSA and range analysis for reference parameters
  cpp/ql/src/semmle/code/cpp/controlflow/SSAUtils.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeAnalysisUtils.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.cpp
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
Labels: C++

#4123 Java: Add data flow for record getters.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/records/A.java
  java/ql/test/library-tests/dataflow/records/options
  java/ql/test/library-tests/dataflow/records/test.expected
  java/ql/test/library-tests/dataflow/records/test.ql
Labels: Java

#4175 Java: Adjust a few qltests.
  java/ql/test/query-tests/security/CWE-089/semmle/examples/controlledString.ql
  java/ql/test/query-tests/security/CWE-089/semmle/examples/endsInQuote.ql
  java/ql/test/query-tests/security/CWE-089/semmle/examples/taintedString.ql
Labels: Java

#4149 Python: more additional taint steps
  python/ql/src/experimental/dataflow/internal/TaintTrackingPrivate.qll
  python/ql/test/experimental/dataflow/tainttracking/TestTaintLib.qll
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/TestTaint.ql
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/options
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/test_collections.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/test_string.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/test_unpacking.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/TestTaint.ql
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_collections.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_json.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_string.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_unpacking.py
  python/ql/test/experimental/dataflow/tainttracking/string-py3/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/string/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/taintlib.py
Labels: Python

#4081 Java: Use the instance argument type in call contexts.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/test/library-tests/dataflow/callctx/A.java
  java/ql/test/library-tests/dataflow/callctx/test.expected
  java/ql/test/library-tests/dataflow/callctx/test.ql
Labels: Java

#3542 Java : add MongoDB injection sinks
  java/ql/src/Security/CWE/CWE-089/SqlInjectionLib.qll
  java/ql/src/Security/CWE/CWE-089/SqlTaintedLocal.ql
  java/ql/test/query-tests/security/CWE-089/semmle/examples/Mongo.java
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTaintedLocal.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/options
  java/ql/test/stubs/mongodbClient/com/mongodb/BasicDBObject.java
  java/ql/test/stubs/mongodbClient/com/mongodb/DB.java
  java/ql/test/stubs/mongodbClient/com/mongodb/DBCollection.java
  java/ql/test/stubs/mongodbClient/com/mongodb/DBCursor.java
  java/ql/test/stubs/mongodbClient/com/mongodb/DBObject.java
  java/ql/test/stubs/mongodbClient/com/mongodb/Mongo.java
  java/ql/test/stubs/mongodbClient/com/mongodb/MongoClient.java
  java/ql/test/stubs/mongodbClient/com/mongodb/ServerAddress.java
  java/ql/test/stubs/mongodbClient/com/mongodb/util/JSON.java
  java/ql/test/stubs/mongodbClient/org/bson/BSONObject.java
Labels: Java

#4102 C++: Basic input iterator models
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/standalone_iterators.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/string.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#3961 Python: Add type tracker and step summary implementation.
  python/ql/src/experimental/dataflow/TypeTracker.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/typetracking/attribute_tests.py
  python/ql/test/experimental/dataflow/typetracking/test.py
  python/ql/test/experimental/dataflow/typetracking/tracked.expected
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
Labels: Python

#4146 C++: Fix two join orders in FlowVar.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Labels: C++

#4187 Java: Move files in experiemntal dirs to be consistent
  java/ql/src/experimental/Security/CWE/CWE-532/SensitiveInfoLog.java
  java/ql/src/experimental/Security/CWE/CWE-532/SensitiveInfoLog.qhelp
  java/ql/src/experimental/Security/CWE/CWE-532/SensitiveInfoLog.ql
  java/ql/src/experimental/Security/CWE/CWE-939/IncorrectURLVerification.java
  java/ql/src/experimental/Security/CWE/CWE-939/IncorrectURLVerification.qhelp
  java/ql/src/experimental/Security/CWE/CWE-939/IncorrectURLVerification.ql
  java/ql/test/experimental/query-tests/security/CWE-094/MvelInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/MvelInjection.java
  java/ql/test/experimental/query-tests/security/CWE-094/MvelInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-094/SpelInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/SpelInjection.java
  java/ql/test/experimental/query-tests/security/CWE-094/SpelInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-094/options
  java/ql/test/experimental/query-tests/security/CWE-299/DisabledRevocationChecking.expected
  java/ql/test/experimental/query-tests/security/CWE-299/DisabledRevocationChecking.java
  java/ql/test/experimental/query-tests/security/CWE-299/DisabledRevocationChecking.qlref
  java/ql/test/experimental/query-tests/security/CWE-327/UnsafeTlsVersion.expected
  java/ql/test/experimental/query-tests/security/CWE-327/UnsafeTlsVersion.java
  java/ql/test/experimental/query-tests/security/CWE-327/UnsafeTlsVersion.qlref
Labels: Java

#4190 C++: Support `AssignOperation`s with `SimpleRangeAnalysisExpr`s
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Labels: C++

#4134 JS: Add data-flow from `yield` in generators.
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/Functions.qll
  javascript/ql/src/semmle/javascript/Generators.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/TrackedNodes.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/Generators/DataFlow.expected
  javascript/ql/test/library-tests/Generators/DataFlow.ql
  javascript/ql/test/library-tests/Generators/generators.js
Labels: JS

#4189 Python: Move files in experimental dirs to be consistent
  python/ql/src/experimental/Security/CWE-074/JinjaBad.py
  python/ql/src/experimental/Security/CWE-074/JinjaGood.py
  python/ql/src/experimental/Security/CWE-074/TemplateInjection.qhelp
  python/ql/src/experimental/Security/CWE-074/TemplateInjection.ql
  python/ql/src/experimental/Security/CWE-091/Xslt.qhelp
  python/ql/src/experimental/Security/CWE-091/Xslt.ql
  python/ql/src/experimental/Security/CWE-091/xslt.py
  python/ql/src/experimental/Security/CWE-643/xpath.qhelp
  python/ql/src/experimental/Security/CWE-643/xpath.ql
  python/ql/src/experimental/Security/CWE-643/xpathBad.py
  python/ql/src/experimental/Security/CWE-643/xpathGood.py
  python/ql/test/experimental/CWE-074/TemplateInjection.qlref
  python/ql/test/experimental/CWE-074/options
  python/ql/test/experimental/CWE-091/Xslt.qlref
  python/ql/test/experimental/CWE-091/options
  python/ql/test/experimental/CWE-643/options
  python/ql/test/experimental/CWE-643/xpath.qlref
  python/ql/test/experimental/query-tests/Security/CWE-074/AirspeedSsti.py
  python/ql/test/experimental/query-tests/Security/CWE-074/BottleSsti.py
  python/ql/test/experimental/query-tests/Security/CWE-074/Chameleon.py
  python/ql/test/experimental/query-tests/Security/CWE-074/ChevronSsti.py
  python/ql/test/experimental/query-tests/Security/CWE-074/DjangoTemplates.py
  python/ql/test/experimental/query-tests/Security/CWE-074/FlaskTemplate.py
  python/ql/test/experimental/query-tests/Security/CWE-074/Genshi.py
  python/ql/test/experimental/query-tests/Security/CWE-074/JinjaSsti.py
  python/ql/test/experimental/query-tests/Security/CWE-074/MakoSsti.py
  python/ql/test/experimental/query-tests/Security/CWE-074/TRender.py
  python/ql/test/experimental/query-tests/Security/CWE-074/TemplateInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-074/TemplateInjection.qlref
  python/ql/test/experimental/query-tests/Security/CWE-074/options
  python/ql/test/experimental/query-tests/Security/CWE-091/Xslt.expected
  python/ql/test/experimental/query-tests/Security/CWE-091/Xslt.qlref
  python/ql/test/experimental/query-tests/Security/CWE-091/XsltSinks.expected
  python/ql/test/experimental/query-tests/Security/CWE-091/XsltSinks.ql
  python/ql/test/experimental/query-tests/Security/CWE-091/options
  python/ql/test/experimental/query-tests/Security/CWE-091/xslt.py
  python/ql/test/experimental/query-tests/Security/CWE-091/xsltInjection.py
  python/ql/test/experimental/query-tests/Security/CWE-091/xsltSinks.py
  python/ql/test/experimental/query-tests/Security/CWE-643/options
  python/ql/test/experimental/query-tests/Security/CWE-643/xpath.expected
  python/ql/test/experimental/query-tests/Security/CWE-643/xpath.py
  python/ql/test/experimental/query-tests/Security/CWE-643/xpath.qlref
  python/ql/test/experimental/query-tests/Security/CWE-643/xpathBad.py
  python/ql/test/experimental/query-tests/Security/CWE-643/xpathFlow.py
  python/ql/test/experimental/query-tests/Security/CWE-643/xpathGood.py
  python/ql/test/experimental/query-tests/Security/CWE-643/xpathSinks.expected
  python/ql/test/experimental/query-tests/Security/CWE-643/xpathSinks.ql
  python/ql/test/experimental/query-tests/options
Labels: Python

#4188 C#: autobuild: fix buildless mode for CodeQL
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/StandaloneBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
Labels: C#

#4185 JS: only flag unused-variable for array-destructs if it is the last variable
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/Statements/SuspiciousUnusedLoopIterationVariable.ql
  javascript/ql/test/query-tests/Statements/SuspiciousUnusedLoopIterationVariable/SuspiciousUnusedLoopIterationVariable.expected
  javascript/ql/test/query-tests/Statements/SuspiciousUnusedLoopIterationVariable/tst.js
Labels: JS

#4191 JS: give V8 build-ins their correct name
  javascript/extractor/src/com/semmle/jcorn/CustomParser.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/v8/output/trap/tst.js.trap
Labels: JS

#4200 JS: adjust comment about inconsistency for XSS in typeahead
  javascript/ql/test/query-tests/Security/CWE-079/typeahead.js
Labels: JS

#4195 Python: Add a few taint tests for default sanitizer
  python/ql/test/experimental/dataflow/tainttracking/defaultSanitizer/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultSanitizer/TestTaint.ql
  python/ql/test/experimental/dataflow/tainttracking/defaultSanitizer/test.py
Labels: Python

#4192 JavaScript: Add utility predicate `SSA::implicitInit`.
  javascript/ql/src/semmle/javascript/SSA.qll
Labels: JS

#4201 C++: Model iterator versions of string and vector methods
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/string.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#4173 JS: Fix 2 FPs in TargetBlank.ql
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/DOM/TargetBlank.ql
  javascript/ql/src/semmle/javascript/frameworks/Templating.qll
  javascript/ql/test/query-tests/DOM/TargetBlank/TargetBlank.expected
  javascript/ql/test/query-tests/DOM/TargetBlank/tst.html
Labels: JS

#4154 Python more complete dataflow tests
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/consistency/module.py
  python/ql/test/experimental/dataflow/consistency/test.py
  python/ql/test/experimental/dataflow/regression/custom_dataflow.expected
  python/ql/test/experimental/dataflow/regression/custom_dataflow.ql
  python/ql/test/experimental/dataflow/regression/dataflow.expected
  python/ql/test/experimental/dataflow/regression/module.py
  python/ql/test/experimental/dataflow/regression/test.py
Labels: Python

#4179 Python: Taint tracking setup alá Go
  python/ql/src/experimental/Customizations.qll
  python/ql/src/experimental/dataflow/RemoteFlowSources.qll
  python/ql/src/experimental/dataflow/internal/TaintTrackingPublic.qll
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/frameworks/Django.qll
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
Labels: Python

#4207 Python: Small fixes for TypeTracker
  python/ql/src/experimental/dataflow/TypeTracker.qll
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
Labels: Python

#4204 C++: Support `!= constant` in range analysis
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
Labels: C++

#4211 Python: Add example of strange DataFlow::jumpStep
  python/ql/test/experimental/dataflow/strange-essaflow/test.py
  python/ql/test/experimental/dataflow/strange-essaflow/testFlow.expected
  python/ql/test/experimental/dataflow/strange-essaflow/testFlow.ql
Labels: Python

#4202 C++: Improve handling of template functions in cpp/declaration-hides-parameter
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/Best Practices/Hiding/DeclarationHidesParameter.ql
  cpp/ql/test/query-tests/Best Practices/Hiding/DeclarationHidesParameter/DeclarationHidesParameter.expected
  cpp/ql/test/query-tests/Best Practices/Hiding/DeclarationHidesParameter/hiding.cpp
  cpp/ql/test/query-tests/Best Practices/Hiding/DeclarationHidesParameter/hiding.h
Labels: C++

#4209 C++: Fix a few remaining holes in taint through std::string
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/string.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#4210 Python: Remove implicit uses from `essaFlowStep`
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/basic/global.expected
  python/ql/test/experimental/dataflow/basic/globalStep.expected
  python/ql/test/experimental/dataflow/basic/maximalFlows.expected
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/strange-essaflow/testFlow.expected
Labels: Python

#3873 JS: Use local name resolution in TypeAnnotation.hasQualifiedName
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/meta/types/TypesWithQualifiedName.ql
  javascript/ql/src/semmle/javascript/TypeScript.qll
  javascript/ql/test/library-tests/TypeAnnotations/TSUnresolvedQualifiedName/QualifiedNames.expected
  javascript/ql/test/library-tests/TypeScript/HasQualifiedNameFallback/Test.expected
  javascript/ql/test/library-tests/TypeScript/HasQualifiedNameFallback/Test.ql
  javascript/ql/test/library-tests/TypeScript/HasQualifiedNameFallback/relative.ts
  javascript/ql/test/library-tests/TypeScript/HasQualifiedNameFallback/tst.ts
Labels: JS

#4205 C#: Add stable order for generated accessors in printed AST
  csharp/ql/src/semmle/code/csharp/PrintAst.qll
  csharp/ql/test/experimental/ir/ir/PrintAst.expected
  csharp/ql/test/library-tests/assignments/PrintAst.expected
  csharp/ql/test/library-tests/csharp8/PrintAst.expected
  csharp/ql/test/library-tests/definitions/PrintAst.expected
  csharp/ql/test/library-tests/events/PrintAst.expected
  csharp/ql/test/library-tests/expressions/PrintAst.expected
  csharp/ql/test/library-tests/generics/PrintAst.expected
  csharp/ql/test/library-tests/members/PrintAst.expected
Labels: C#

#4206 JS: Fix inconsistencies in `js/unsafe-jquery-plugin`
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/Security/CWE-079/UnsafeJQueryPlugin.ql
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPlugin.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin.expected
  javascript/ql/test/query-tests/Security/CWE-079/unsafe-jquery-plugin.js
Labels: JS

#4196 C++: Add field to object taint tests
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
Labels: C++

#3933 C++: Alternate instruction -> operand flow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#4218 C++: Add cases for conditional and comma operator in AV Rule 82
  cpp/ql/src/jsf/4.10 Classes/AV Rule 82.ql
Labels: C++

#3953 Python: more call graph tracing
  python/tools/recorded-call-graph-metrics/.flake8
  python/tools/recorded-call-graph-metrics/.gitignore
  python/tools/recorded-call-graph-metrics/.isort.cfg
  python/tools/recorded-call-graph-metrics/README.md
  python/tools/recorded-call-graph-metrics/cg_trace.py
  python/tools/recorded-call-graph-metrics/example/simple.xml
  python/tools/recorded-call-graph-metrics/helper.sh
  python/tools/recorded-call-graph-metrics/projects.json
  python/tools/recorded-call-graph-metrics/ql/PointsToFound.ql
  python/tools/recorded-call-graph-metrics/ql/RecordedCalls.qll
  python/tools/recorded-call-graph-metrics/ql/UnidentifiedRecordedCalls.ql
  python/tools/recorded-call-graph-metrics/ql/lib/BytecodeExpr.qll
  python/tools/recorded-call-graph-metrics/ql/lib/RecordedCalls.qll
  python/tools/recorded-call-graph-metrics/ql/query/InternalMetrics.ql
  python/tools/recorded-call-graph-metrics/ql/query/Metrics.ql
  python/tools/recorded-call-graph-metrics/ql/query/PointsToFound.ql
  python/tools/recorded-call-graph-metrics/ql/query/PointsToNotFound.ql
  python/tools/recorded-call-graph-metrics/ql/query/UnidentifiedRecordedCalls.ql
  python/tools/recorded-call-graph-metrics/ql/query/UnknownOpcode.ql
  python/tools/recorded-call-graph-metrics/recreate-db.sh
  python/tools/recorded-call-graph-metrics/requirements.txt
  python/tools/recorded-call-graph-metrics/setup.py
  python/tools/recorded-call-graph-metrics/src/cg_trace/__init__.py
  python/tools/recorded-call-graph-metrics/src/cg_trace/__main__.py
  python/tools/recorded-call-graph-metrics/src/cg_trace/bytecode_reconstructor.py
  python/tools/recorded-call-graph-metrics/src/cg_trace/cmdline.py
  python/tools/recorded-call-graph-metrics/src/cg_trace/exporter.py
  python/tools/recorded-call-graph-metrics/src/cg_trace/generate_bytecode_expr_qll.py
  python/tools/recorded-call-graph-metrics/src/cg_trace/main.py
  python/tools/recorded-call-graph-metrics/src/cg_trace/settings.py
  python/tools/recorded-call-graph-metrics/src/cg_trace/tracer.py
  python/tools/recorded-call-graph-metrics/src/cg_trace/utils.py
  python/tools/recorded-call-graph-metrics/tests/create-test-db.sh
  python/tools/recorded-call-graph-metrics/tests/python-src/BUILD_LIST.py
  python/tools/recorded-call-graph-metrics/tests/python-src/BUILD_TUPLE.py
  python/tools/recorded-call-graph-metrics/tests/python-src/CALL_FUNCTION_EX.py
  python/tools/recorded-call-graph-metrics/tests/python-src/__getitem__.py
  python/tools/recorded-call-graph-metrics/tests/python-src/builtins.py
  python/tools/recorded-call-graph-metrics/tests/python-src/class-simple.py
  python/tools/recorded-call-graph-metrics/tests/python-src/dict-get.py
  python/tools/recorded-call-graph-metrics/tests/python-src/getsockname.py
  python/tools/recorded-call-graph-metrics/tests/python-src/io-builtin.py
  python/tools/recorded-call-graph-metrics/tests/python-src/iteration.py
  python/tools/recorded-call-graph-metrics/tests/python-src/multiple-on-one-line.py
  python/tools/recorded-call-graph-metrics/tests/python-src/problem-1.py
  python/tools/recorded-call-graph-metrics/tests/python-src/problem-2.py
  python/tools/recorded-call-graph-metrics/tests/python-src/simple.py
  python/tools/recorded-call-graph-metrics/tests/python-src/with-exit.py
Labels: Python

#4225 Java: Add 1.25 change notes.
  change-notes/1.25/analysis-java.md
Labels: Java

#4184 Java: Clean up SqlInjectionLib.
  java/ql/src/Security/CWE/CWE-089/SqlInjectionLib.qll
  java/ql/src/Security/CWE/CWE-089/SqlTaintedLocal.ql
  java/ql/src/java.qll
  java/ql/src/semmle/code/Unit.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/security/LdapInjection.qll
  java/ql/src/semmle/code/java/security/QueryInjection.qll
  java/ql/src/semmle/code/java/security/XSS.qll
Labels: Java

#4220 JS: recognize colon in command-prefixes for js/shell-command-constructed-from-input
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: JS, documentation

#4234 C++: Tests and initial models for taint through std::stringstream / std::ostream.
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/stl.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/stringstream.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++, documentation

#4233 C#: Add flag to Standalone extractor to use the self contained .Net framework
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Options.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/ProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Runtime.cs
Labels: C#

#4238 Dataflow: small fixes for naming in taint tracking
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/src/experimental/dataflow/internal/TaintTrackingPrivate.qll
  python/ql/src/experimental/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
Labels: C#, C++, Java, Python

#4236 Python: Expand on taint sanitizer tests
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/TestTaint.ql
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/test.py
  python/ql/test/experimental/dataflow/tainttracking/defaultSanitizer/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultSanitizer/test_logical.py
  python/ql/test/experimental/dataflow/tainttracking/defaultSanitizer/test_string_eq.py
Labels: Python

#4237 C#: Download nuget.exe in auto-builder if it does not exist
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildScript.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
Labels: C#

#4213 C++: Improve performance of getExplicitlyConverted
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.expected
Labels: C++

#4229 C++: Add taint models for std::make_unique and std::make_shared
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/SmartPointer.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/smart_pointer.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++, documentation

#4242 C#: Fix broken auto-builder tests on Windows
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildCommandAutoRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/ProjectOrSolution.cs
Labels: C#

#4241 C#: Correctly propagate exit code in `autobuild.cmd`
  csharp/tools/autobuild.cmd
  csharp/tools/pre-finalize.cmd
Labels: C#

#4132 Python: Shared dataflow, nested comprehensions
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/Comprehensions.qll
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/localFlow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
Labels: Python

#4235 Python: Port use-use implementation from Java
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/essa/SsaCompute.qll
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/TestTaint.expected
Labels: Python

#4227 C++: Support `(bool)x` and `!x` in SimpleRangeAnalysis
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeAnalysisUtils.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeSSA.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/ternaryLower.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/ternaryUpper.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.cpp
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
Labels: C++

#4224 C#: Improve empty collection check to not report on collections with property writes
  csharp/ql/src/semmle/code/csharp/commons/Collections.qll
  csharp/ql/test/query-tests/ReadOnlyContainer/ReadOnlyContainer.cs
  csharp/ql/test/query-tests/ReadOnlyContainer/ReadOnlyContainer.expected
Labels: C#

#4250 C++: Expose getDef(Upper|Lower)Bound as an internal predicate.
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Labels: C++

#4221 C++: Allow .inc files to be included
  cpp/ql/src/jsf/4.06 Pre-Processing Directives/AV Rule 32.ql
Labels: C++

#4252 C++: SimpleRangeAnalysis: Always normalize bounds after a computation
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.expected
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/RegressionTests.cpp
Labels: C++

#4142 C++: Use IR alias analysis for field flow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/Operand.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
Labels: C#, C++

#4226 Python: Add missing 1.25 change notes
  change-notes/1.25/analysis-python.md
Labels: Python, documentation

#4115 C#: Enable nullability of Semmle.Extraction.CSharp.Standalone
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/AssemblyCache.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/AssemblyLoadException.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/CsProjFile.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/NugetPackages.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Options.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Program.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/SolutionFile.cs
Labels: C#

#4254 JS: Bump extractor version string
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Labels: JS

#4139 C#: Skip `foreach` loop bodies in the CFG when the iteration expression is empty
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/LoopUnrolling.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
Labels: C#

#4266 C++: CWE-190 Tests.
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/test2.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/test6.cpp
Labels: C++

#4253 C++: Model more stringstream features
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stringstream.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#4244 JS: Fix Bad join orders in UnsafeJQueryPlugin
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPlugin.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
Labels: JS

#4231 JS: Extra taint-steps to support CVE
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/frameworks/LodashUnderscore.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
  javascript/ql/test/library-tests/InterProceduralFlow/underscore.js
  javascript/ql/test/library-tests/Promises/flow.js
  javascript/ql/test/library-tests/Promises/tests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
  javascript/ql/test/library-tests/frameworks/NodeJSLib/createServer.js
  javascript/ql/test/library-tests/frameworks/NodeJSLib/tests.expected
Labels: JS, documentation

#4269 Java: Rename PrintAst.qll to PrettyPrintAst.qll
  java/ql/src/semmle/code/java/PrettyPrintAst.qll
Labels: Java, depends on internal PR

#4262 C++: Deprecate Location subclasses
  cpp/ql/src/semmle/code/cpp/Location.qll
Labels: C++

#4140 Update tests for extractor changes with ctors
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/header-variant-tests/deduplication/functions.expected
  cpp/ql/test/library-tests/access/canAccessMember/canAccessMember.expected
  cpp/ql/test/library-tests/declaration/IsMember.expected
  cpp/ql/test/library-tests/declarationEntry/more/declarationEntry.expected
  cpp/ql/test/library-tests/fun_decl/test.expected
  cpp/ql/test/library-tests/functions/functions/Functions1.expected
  cpp/ql/test/library-tests/functions/functions/Functions2.expected
  cpp/ql/test/library-tests/identifiers/qualified_names/unnamed.expected
  cpp/ql/test/library-tests/instantiations/test.expected
  cpp/ql/test/library-tests/macros/inmacroexpansion/inmacroexpansion.expected
  cpp/ql/test/library-tests/members/getters/members.expected
  cpp/ql/test/library-tests/scopes/scopes/Scopes1.expected
  cpp/ql/test/library-tests/scopes/scopes/Scopes3.expected
  cpp/ql/test/library-tests/scopes/scopes/Scopes4.expected
  cpp/ql/test/library-tests/sideEffects/functions/sideEffects.expected
  cpp/ql/test/library-tests/special_members/generated_copy/functions.expected
  cpp/ql/test/library-tests/structs/compatible_cpp/compatible.expected
  cpp/ql/test/library-tests/structs/incomplete_definition/pointerbasetype.expected
  cpp/ql/test/library-tests/templates/isfromtemplateinstantiation/isfromtemplateinstantiation.expected
  cpp/ql/test/library-tests/templates/isfromtemplateinstantiation/isfromuninstantiatedtemplate.expected
  cpp/ql/test/library-tests/unions/Unions1.expected
  cpp/ql/test/successor-tests/stackvariables/stackvariables/graphable.expected
Labels: C++, depends on internal PR

#4272 C++: Add AST flow through arrays
  cpp/ql/src/semmle/code/cpp/dataflow/internal/AddressFlow.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/arrays.cpp
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/realistic.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/arrayassignment.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#4251 Python: Implement `BarrierGuard`
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
  python/ql/src/semmle/python/essa/SsaCompute.qll
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/TestTaint.ql
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/test.py
  python/ql/test/experimental/meta/debug/dataflow.qll
Labels: Python

#4261 Java: Add PrintAst
  java/ql/src/printAst.ql
  java/ql/src/semmle/code/Location.qll
  java/ql/src/semmle/code/java/Annotation.qll
  java/ql/src/semmle/code/java/CompilationUnit.qll
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/src/semmle/code/java/Generics.qll
  java/ql/src/semmle/code/java/Import.qll
  java/ql/src/semmle/code/java/Javadoc.qll
  java/ql/src/semmle/code/java/Member.qll
  java/ql/src/semmle/code/java/PrintAst.ql
  java/ql/src/semmle/code/java/PrintAst.qll
  java/ql/src/semmle/code/java/Statement.qll
  java/ql/src/semmle/code/java/Type.qll
  java/ql/src/semmle/code/java/Variable.qll
  java/ql/test/library-tests/JDK/PrintAst.expected
  java/ql/test/library-tests/JDK/PrintAst.qlref
  java/ql/test/library-tests/arrays/PrintAst.expected
  java/ql/test/library-tests/arrays/PrintAst.qlref
  java/ql/test/library-tests/collections/PrintAst.expected
  java/ql/test/library-tests/collections/PrintAst.qlref
  java/ql/test/library-tests/comments/PrintAst.expected
  java/ql/test/library-tests/comments/PrintAst.qlref
  java/ql/test/library-tests/constants/PrintAst.expected
  java/ql/test/library-tests/constants/PrintAst.qlref
  java/ql/test/library-tests/constructors/PrintAst.expected
  java/ql/test/library-tests/constructors/PrintAst.qlref
  java/ql/test/library-tests/dependency-counts/PrintAst.expected
  java/ql/test/library-tests/dependency-counts/PrintAst.qlref
  java/ql/test/library-tests/dependency/PrintAst.expected
  java/ql/test/library-tests/dependency/PrintAst.qlref
  java/ql/test/library-tests/fields/PrintAst.expected
  java/ql/test/library-tests/fields/PrintAst.qlref
  java/ql/test/library-tests/generics/PrintAst.expected
  java/ql/test/library-tests/generics/PrintAst.qlref
  java/ql/test/library-tests/guards12/PrintAst.expected
  java/ql/test/library-tests/guards12/PrintAst.qlref
  java/ql/test/library-tests/java7/Diamond/PrintAst.expected
  java/ql/test/library-tests/java7/Diamond/PrintAst.qlref
  java/ql/test/library-tests/java7/MultiCatch/PrintAst.expected
  java/ql/test/library-tests/java7/MultiCatch/PrintAst.qlref
  java/ql/test/library-tests/javadoc/PrintAst.expected
  java/ql/test/library-tests/javadoc/PrintAst.qlref
  java/ql/test/library-tests/modifiers/PrintAst.expected
  java/ql/test/library-tests/modifiers/PrintAst.qlref
  java/ql/test/library-tests/printAst/A.java
  java/ql/test/library-tests/printAst/PrintAst.expected
  java/ql/test/library-tests/printAst/PrintAst.qlref
  java/ql/test/library-tests/reflection/PrintAst.expected
  java/ql/test/library-tests/reflection/PrintAst.qlref
  java/ql/test/library-tests/typeaccesses/PrintAst.expected
  java/ql/test/library-tests/typeaccesses/PrintAst.qlref
  java/ql/test/library-tests/varargs/PrintAst.expected
  java/ql/test/library-tests/varargs/PrintAst.qlref
Labels: Java

#4268 Java: Fix range analysis false negative
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/test/library-tests/dataflow/range-analysis/A.java
  java/ql/test/library-tests/dataflow/range-analysis/RangeAnalysis.expected
  java/ql/test/library-tests/dataflow/range-analysis/RangeAnalysis.ql
Labels: Java

#4263 JS: Add a js/client-side-url-redirect sink/source for `importScripts`.
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst13.js
Labels: JS, documentation

#4245 Python: Add dataflow tests for dynamic tuple creation
  python/ql/test/experimental/dataflow/coverage/test.py
Labels: Python

#4270 C++: Use underlying type when checking whether a type is a single-field struct.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/test2.cpp
Labels: C++

#4276 C++: More stringstream models.
  change-notes/1.26/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stringstream.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++, documentation

#4290 C++: Fix bad join order introduced by #4270
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#4283 C++: Model getline
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/string.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/stringstream.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Labels: C++

#4292 C++: Cache simpleLocalFlowStep instead of simpleInstructionLocalFlowStep
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#4230 C++: Replace `field -> object` taint rule with `ArrayContent` dataflow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/ref.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-079/semmle/CgiXss/CgiXss.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/ifs/ifs.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/ArithmeticUncontrolled.expected
Labels: C++, depends on internal PR

#4297 C++: Improve `compileTimeConstantInt`
  cpp/ql/src/semmle/code/cpp/controlflow/internal/ConstantExprs.qll
Labels: C++

#4288 Java: Add a container node for Imports in the PrintAst view
  java/ql/src/semmle/code/java/PrintAst.qll
  java/ql/test/library-tests/collections/PrintAst.expected
  java/ql/test/library-tests/dependency-counts/PrintAst.expected
  java/ql/test/library-tests/generics/PrintAst.expected
  java/ql/test/library-tests/java7/Diamond/PrintAst.expected
  java/ql/test/library-tests/java7/MultiCatch/PrintAst.expected
  java/ql/test/library-tests/reflection/PrintAst.expected
  java/ql/test/library-tests/typeaccesses/PrintAst.expected
Labels: Java

#4298 C++: Add test demonstrating field conflation after merging #4230
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
Labels: C++

#4301 Java: Update some CWE claims
  java/ql/src/Likely Bugs/Collections/ArrayIndexOutOfBounds.ql
  java/ql/src/Security/CWE/CWE-089/SqlTainted.ql
  java/ql/src/Security/CWE/CWE-089/SqlTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-089/SqlUnescaped.ql
  java/ql/src/Security/CWE/CWE-611/XXE.ql
Labels: Java

#4296 C#: Avoid bad magic in `UselessUpcast.ql`
  csharp/ql/src/Language Abuse/UselessUpcast.ql
Labels: C#

#4300 C#: Avoid bad magic in `RuntimeChecksBypass.ql`
  csharp/ql/src/Security Features/CWE-020/RuntimeChecksBypass.ql
Labels: C#

#4275 JS: Add some support for indirect route handlers
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/AdditionalRouteHandlers.expected
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/RouteHandler.expected
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/RouteHandlerCandidate.expected
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/UnpromotedRouteHandlerCandidate.expected
  javascript/ql/test/library-tests/frameworks/NodeJSLib/src/indirect.js
  javascript/ql/test/library-tests/frameworks/NodeJSLib/src/indirect2.js
  javascript/ql/test/library-tests/frameworks/NodeJSLib/tests.expected
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddleware.expected
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddlewareBad.js
Labels: JS, documentation

#4246 Java: Minor fixup for SSA AdjacentUsesImpl::varBlockReaches
  java/ql/src/semmle/code/java/dataflow/SSA.qll
  java/ql/src/semmle/code/java/dataflow/internal/BaseSSA.qll
Labels: Java

#4271 Don't trace through pkill or pgrep on macOS.
  csharp/tools/osx64/compiler-tracing.spec
Labels: C#

#4265 Python: Add `ModuleVariableNode` to keep track of global reads and writes
  python/ql/src/experimental/dataflow/TypeTracker.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/basic/globalStep.expected
  python/ql/test/experimental/dataflow/basic/local.expected
  python/ql/test/experimental/dataflow/basic/localStep.expected
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/localFlow.expected
  python/ql/test/experimental/dataflow/global-flow/accesses.expected
  python/ql/test/experimental/dataflow/global-flow/accesses.ql
  python/ql/test/experimental/dataflow/global-flow/known.py
  python/ql/test/experimental/dataflow/global-flow/test.py
  python/ql/test/experimental/dataflow/strange-essaflow/testFlow.expected
  python/ql/test/experimental/dataflow/tainttracking/TestTaintLib.qll
  python/ql/test/experimental/dataflow/tainttracking/basic/LocalTaintStep.expected
  python/ql/test/experimental/dataflow/tainttracking/taintlib.py
  python/ql/test/experimental/dataflow/tainttracking/unwanted-global-flow/test.py
  python/ql/test/experimental/dataflow/tainttracking/unwanted-global-flow/testTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/unwanted-global-flow/testTaint.ql
  python/ql/test/experimental/dataflow/typetracking/test.py
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
Labels: Python

#4308 Python: Make import of DataFlowPrivate private
  python/ql/src/experimental/dataflow/internal/DataFlowUtil.qll
  python/ql/test/experimental/dataflow/basic/maximalFlowsConfig.qll
  python/ql/test/experimental/dataflow/callGraphConfig.qll
  python/ql/test/experimental/dataflow/coverage/argumentRouting1.ql
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.ql
  python/ql/test/experimental/dataflow/strange-essaflow/testFlow.ql
Labels: Python

#4212 C#: Implement support for path transformers
  csharp/extractor/Semmle.Extraction.CIL/Context.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/File.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction.CIL/Factories.cs
  csharp/extractor/Semmle.Extraction.CSharp/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor.cs
  csharp/extractor/Semmle.Extraction.Tests/FilePattern.cs
  csharp/extractor/Semmle.Extraction.Tests/Layout.cs
  csharp/extractor/Semmle.Extraction.Tests/PathTransformer.cs
  csharp/extractor/Semmle.Extraction.Tests/TrapWriter.cs
  csharp/extractor/Semmle.Extraction/Entities/File.cs
  csharp/extractor/Semmle.Extraction/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction/Extractor.cs
  csharp/extractor/Semmle.Extraction/FilePattern.cs
  csharp/extractor/Semmle.Extraction/Layout.cs
  csharp/extractor/Semmle.Extraction/PathTransformer.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Util/CanonicalPathCache.cs
Labels: C#

#4295 C++: Improved qualifier flow in IR taint tracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/ModelUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/MemberFunction.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/IRTaintTestCommon.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Labels: C++

#4302 C++: Fix field conflation after #4230
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-079/semmle/CgiXss/CgiXss.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/ifs/ifs.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/ArithmeticUncontrolled.expected
Labels: C++, depends on internal PR

#4273 C++: Support overriding existing simple range analysis bounds
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/extensibility/extensibility.c
  cpp/ql/test/experimental/library-tests/rangeanalysis/extensibility/extensibility.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/extensibility/extensibility.ql
Labels: C++

#4287 Java: Improve the ExecTainted query
  java/ql/src/Security/CWE/CWE-078/ExecCommon.qll
  java/ql/src/Security/CWE/CWE-078/ExecTainted.ql
  java/ql/src/Security/CWE/CWE-078/ExecTaintedLocal.ql
  java/ql/src/semmle/code/java/security/CommandArguments.qll
  java/ql/test/query-tests/security/CWE-078/ExecRelative.expected
  java/ql/test/query-tests/security/CWE-078/ExecRelative.qlref
  java/ql/test/query-tests/security/CWE-078/ExecTaintedLocal.expected
  java/ql/test/query-tests/security/CWE-078/ExecTaintedLocal.qlref
  java/ql/test/query-tests/security/CWE-078/ExecUnescaped.expected
  java/ql/test/query-tests/security/CWE-078/ExecUnescaped.qlref
  java/ql/test/query-tests/security/CWE-078/Test.java
Labels: Java

#4282 JS: Add missing ES2021 features
  change-notes/1.26/analysis-javascript.md
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/es2021/input/assign.js
  javascript/extractor/tests/es2021/input/numeric.js
  javascript/extractor/tests/es2021/options.json
  javascript/extractor/tests/es2021/output/trap/assign.js.trap
  javascript/extractor/tests/es2021/output/trap/numeric.js.trap
  javascript/ql/src/Expressions/StringInsteadOfRegex.ql
  javascript/ql/src/RegExp/IdentityReplacement.ql
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/heuristics/AdditionalTaintSteps.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextLoggingCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPlugin.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/src/semmle/javascript/security/performance/PolynomialReDoSCustomizations.qll
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
  javascript/ql/test/library-tests/InterProceduralFlow/tst.js
  javascript/ql/test/library-tests/Promises/flow2.js
  javascript/ql/test/library-tests/Promises/tests.expected
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/polynomial-redos.js
Labels: JS, documentation

#4311 JS: improve join-order for HTTP::isDecoratedCall
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
Labels: JS

#4317 JavaScript: Minor improvements to API graph library
  javascript/ql/src/meta/ApiGraphs/ApiGraphEdges.ql
  javascript/ql/src/meta/ApiGraphs/ApiGraphNodes.ql
  javascript/ql/src/meta/ApiGraphs/ApiGraphPointsToEdges.ql
  javascript/ql/src/meta/ApiGraphs/ApiGraphRhsNodes.ql
  javascript/ql/src/meta/ApiGraphs/ApiGraphUseNodes.ql
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
Labels: JS

#4031 Add additional Hibernate SQL sinks
  java/ql/src/semmle/code/java/frameworks/Hibernate.qll
Labels: Java

#4267 JS: Log the amount of memory passed to TypeScript process
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Labels: JS

#4255 Increase insufficient key size value from 1024 to 2048
  change-notes/1.26/analysis-csharp.md
  csharp/ql/src/Security Features/InsufficientKeySize.cs
  csharp/ql/src/Security Features/InsufficientKeySize.qhelp
  csharp/ql/src/Security Features/InsufficientKeySize.ql
  csharp/ql/test/query-tests/Security Features/CWE-327/InsufficientKeySize/InsufficientKeySize.cs
  csharp/ql/test/query-tests/Security Features/CWE-327/InsufficientKeySize/InsufficientKeySize.expected
Labels: C#, documentation

#4314 C#: Fix switch case expression types
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Switch.cs
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/library-tests/csharp8/switchCaseExprTypes.expected
  csharp/ql/test/library-tests/csharp8/switchCaseExprTypes.ql
Labels: C#

#4011 C#: Move ASP extraction from auto builder to `pre-finalize.{sh,cmd}`
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/AspBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/XmlBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/AutobuildOptions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/tools/autobuild.cmd
  csharp/tools/autobuild.sh
  csharp/tools/pre-finalize.cmd
  csharp/tools/pre-finalize.sh
Labels: C#

#4316 C#: Change TrapStackBehaviour of local functions
  csharp/extractor/Semmle.Extraction.CSharp/Entities/LocalFunction.cs
Labels: C#

#4315 Merge rc/1.25 into main
  change-notes/1.25/analysis-java.md
  change-notes/1.25/analysis-python.md
  csharp/extractor/Semmle.Extraction.CIL/Context.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/File.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction.CIL/Factories.cs
  csharp/extractor/Semmle.Extraction.CSharp/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor.cs
  csharp/extractor/Semmle.Extraction.Tests/FilePattern.cs
  csharp/extractor/Semmle.Extraction.Tests/Layout.cs
  csharp/extractor/Semmle.Extraction.Tests/PathTransformer.cs
  csharp/extractor/Semmle.Extraction.Tests/TrapWriter.cs
  csharp/extractor/Semmle.Extraction/Entities/File.cs
  csharp/extractor/Semmle.Extraction/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction/Extractor.cs
  csharp/extractor/Semmle.Extraction/FilePattern.cs
  csharp/extractor/Semmle.Extraction/Layout.cs
  csharp/extractor/Semmle.Extraction/PathTransformer.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Util/CanonicalPathCache.cs
Labels: C#, Java, Mergeback, Python, documentation

#4332 C++: ExtendedRangeAnalysis stub implementation
  cpp/ql/src/experimental/semmle/code/cpp/rangeanalysis/ExtendedRangeAnalysis.qll
  cpp/ql/src/experimental/semmle/code/cpp/rangeanalysis/extensions/SubtractSelf.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/extended/extended.cpp
  cpp/ql/test/experimental/library-tests/rangeanalysis/extended/extended.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/extended/extended.ql
  cpp/ql/test/experimental/library-tests/rangeanalysis/extensibility/extensibility.c
  cpp/ql/test/experimental/library-tests/rangeanalysis/extensibility/extensibility.expected
Labels: C++

#4325 Java: change note for Hiberate ORM improvements
  java/change-notes/2020-09-22-hibernate-sql-sinks.md
Labels: Java, documentation

#4319 Java/Python: Reduce size of `blockPrecedesVar`
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  java/ql/src/semmle/code/java/dataflow/SSA.qll
  java/ql/src/semmle/code/java/dataflow/internal/BaseSSA.qll
  python/ql/src/semmle/python/essa/SsaCompute.qll
Labels: C#, Java, Python

#4334 C++: Manual recursion in `skipCopyValueInstructions`
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Labels: C++

#4310 JS: Extract XML with codeql when run with codeql
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/EnvironmentVariables.java
Labels: JS

#4337 JavaScript: Fix and improve indirect command-argument tracking
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/exec-sh.js
  javascript/ql/test/query-tests/Security/CWE-078/exec-sh2.js
Labels: JS

#4323 Python: WIP for Command Injection query using new dataflow
  python/ql/src/experimental/Security-new-dataflow/CWE-078/CommandInjection.ql
  python/ql/src/experimental/dataflow/TypeTracker.qll
  python/ql/src/experimental/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/experimental/dataflow/internal/DataFlowUtil.qll
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/src/experimental/semmle/python/frameworks/Werkzeug.qll
  python/ql/test/experimental/dataflow/import-helper/ImportHelper.expected
  python/ql/test/experimental/dataflow/import-helper/ImportHelper.ql
  python/ql/test/experimental/dataflow/import-helper/README.md
  python/ql/test/experimental/dataflow/import-helper/mypkg/__init__.py
  python/ql/test/experimental/dataflow/import-helper/mypkg/bar.py
  python/ql/test/experimental/dataflow/import-helper/mypkg/foo.py
  python/ql/test/experimental/dataflow/import-helper/test1.py
  python/ql/test/experimental/dataflow/import-helper/test2.py
  python/ql/test/experimental/dataflow/import-helper/test3.py
  python/ql/test/experimental/dataflow/import-helper/test4.py
  python/ql/test/experimental/dataflow/import-helper/test5.py
  python/ql/test/experimental/dataflow/import-helper/test6.py
  python/ql/test/experimental/dataflow/import-helper/test7.py
  python/ql/test/experimental/library-tests/frameworks/flask/TestTaint.expected
  python/ql/test/experimental/library-tests/frameworks/flask/TestTaint.ql
  python/ql/test/experimental/library-tests/frameworks/flask/test.py
  python/ql/test/experimental/library-tests/frameworks/modeling-example/NaiveModel.expected
  python/ql/test/experimental/library-tests/frameworks/modeling-example/NaiveModel.ql
  python/ql/test/experimental/library-tests/frameworks/modeling-example/ProperModel.expected
  python/ql/test/experimental/library-tests/frameworks/modeling-example/ProperModel.ql
  python/ql/test/experimental/library-tests/frameworks/modeling-example/README.md
  python/ql/test/experimental/library-tests/frameworks/modeling-example/SharedCode.qll
  python/ql/test/experimental/library-tests/frameworks/modeling-example/test.py
  python/ql/test/experimental/library-tests/options
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-078/CommandInjection.expected
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-078/CommandInjection.qlref
  python/ql/test/experimental/query-tests/Security-new-dataflow/CWE-078/command_injection.py
Labels: Python, documentation

#4331 JS: add req.files as a RequestInputAccess in the Express model
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/test/query-tests/Security/CWE-611/Xxe.expected
  javascript/ql/test/query-tests/Security/CWE-611/libxml.noent.js
Labels: JS

#4318 C#: Add implicit cast from array to pointer
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ImplicitCast.cs
  csharp/ql/test/experimental/ir/ir/PrintAst.expected
  csharp/ql/test/experimental/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/conversion/pointer/Pointer.cs
  csharp/ql/test/library-tests/conversion/pointer/Pointer.expected
  csharp/ql/test/library-tests/conversion/pointer/Pointer.ql
  csharp/ql/test/library-tests/dataflow/signanalysis/MissingSign.expected
  csharp/ql/test/library-tests/unsafe/PrintAst.expected
Labels: C#

#4339 Java: Add synthetic nodes for `LocalVariableDeclExpr`s in the AST view
  java/ql/src/semmle/code/java/PrintAst.qll
  java/ql/test/library-tests/java7/MultiCatch/PrintAst.expected
  java/ql/test/library-tests/printAst/A.java
  java/ql/test/library-tests/printAst/PrintAst.expected
  java/ql/test/library-tests/printAst/options
Labels: Java

#4347 JavaScript: Handle empty `package.json` files gracefully.
  javascript/extractor/src/com/semmle/js/extractor/ScriptExtractor.java
  javascript/extractor/tests/moduleTypes3/input/package.json
  javascript/extractor/tests/moduleTypes3/input/tst.js
  javascript/extractor/tests/moduleTypes3/output/trap/package.json.trap
  javascript/extractor/tests/moduleTypes3/output/trap/tst.js.trap
Labels: JS

#4343 C++: Add some IR QLDoc
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/Overlap.qll
  csharp/ql/src/experimental/ir/implementation/raw/Operand.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  csharp/ql/src/experimental/ir/internal/Overlap.qll
Labels: C#, C++

#4328 JS: better join-order fix in HTTP
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
Labels: JS

#4309 Extract constant value of enum member equal clauses
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Field.cs
  csharp/ql/src/Likely Bugs/SelfAssignment.ql
  csharp/ql/test/library-tests/dataflow/signanalysis/MissingSign.expected
  csharp/ql/test/library-tests/dataflow/signanalysis/SignAnalysis.expected
  csharp/ql/test/library-tests/definitions/PrintAst.expected
  csharp/ql/test/library-tests/enums/Enums11.expected
  csharp/ql/test/library-tests/enums/Enums11.ql
  csharp/ql/test/library-tests/enums/PrintAst.expected
  csharp/ql/test/library-tests/enums/enums.cs
  csharp/ql/test/query-tests/Language Abuse/UselessCastToSelf/UselessCastToSelf.cs
  csharp/ql/test/query-tests/Language Abuse/UselessCastToSelf/UselessCastToSelf.expected
  csharp/ql/test/query-tests/Likely Bugs/SelfAssignment/selfassigns.cs
Labels: C#

#4356 C++: accept test changes from extractor frontend upgrade
  cpp/ql/test/library-tests/special_members/generated_copy/functions.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Labels: C++, depends on internal PR

#4352 JS: change `SimpleParameter` to `Parameter` in the express model to support destructuring parameters
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/ServerSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/express.js
Labels: JS

#4342 JS: type-track objects where the "$where" property has been written
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/NoSQLCodeInjection.js
Labels: JS

#4348 JS: Add model for needle in ClientRequests.qll
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Labels: JS, documentation

#4359 JS: also recognize cookie writes are leading to cookie access
  change-notes/1.26/analysis-javascript.md
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddleware.expected
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddlewareBad.js
Labels: JS, documentation

#4361 Python: Hotfix performance problem with flask methods
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
Labels: Python

#4366 Java: Make `FieldRead` and `FieldWrite` extend `RValue` and `LValue`
  java/ql/src/semmle/code/java/Expr.qll
Labels: Java

#4135 C++: Output iterators in AST taint tracking
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Iterator.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#4369 Python: Add taint-step for os.path.join
  python/ql/src/experimental/dataflow/internal/TaintTrackingPrivate.qll
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/test_pathlib.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/test_string.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/TestTaint.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_string.py
Labels: Python

#4256 CWE-327 BrokenCryptoAlgorithm recommendation to AES instead of Blowfish
  python/ql/src/Security/CWE-327/BrokenCryptoAlgorithm.qhelp
  python/ql/src/Security/CWE-327/examples/broken_crypto.py
Labels: Python, documentation

#4322 C++: Support custom defs in SimpleRangeAnalysis
  cpp/ql/src/experimental/semmle/code/cpp/models/interfaces/SimpleRangeAnalysisDefinition.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/extensibility/extensibility.c
  cpp/ql/test/experimental/library-tests/rangeanalysis/extensibility/extensibility.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/extensibility/extensibility.ql
Labels: C++

#4264 C++: Support customizable ranges for RangeSsaDefinitions.
  cpp/ql/src/experimental/semmle/code/cpp/models/interfaces/SimpleRangeAnalysisDef.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Labels: C++
