Repository github/codeql, pull requests merged in 2021-04, with the labels that each got.

#5581 JS: Make Dependency.info work even if version string can't be parsed
  javascript/ql/src/semmle/javascript/dependencies/Dependencies.qll
  javascript/ql/test/library-tests/NPM/src/package.json
  javascript/ql/test/library-tests/NPM/tests.expected
  javascript/ql/test/library-tests/NPM/tests.ql
Labels: JS, no-change-note-required

#5585 JS: Update more query metadata
  javascript/ql/examples/queries/dataflow/BackendIdor/BackendIdor.ql
  javascript/ql/examples/queries/dataflow/DecodingAfterSanitization/DecodingAfterSanitization.ql
  javascript/ql/examples/queries/dataflow/DecodingAfterSanitization/DecodingAfterSanitizationGeneralized.ql
  javascript/ql/examples/queries/dataflow/EvalTaint/EvalTaintPath.ql
  javascript/ql/examples/queries/dataflow/InformationDisclosure/InformationDisclosure.ql
  javascript/ql/examples/queries/dataflow/StoredXss/StoredXss.ql
  javascript/ql/examples/queries/dataflow/StoredXss/StoredXssTypeTracking.ql
  javascript/ql/examples/queries/dataflow/TemplateInjection/TemplateInjection.ql
Labels: JS, no-change-note-required

#5483 Python: Better text for getSourceType in Django
  python/ql/src/semmle/python/frameworks/Django.qll
Labels: Python, no-change-note-required

#5540 C#: Performance tweaks in `SsaImplCommon.qll`
  csharp/ql/src/semmle/code/cil/internal/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/pressa/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/basessa/SsaImplCommon.qll
Labels: C#, no-change-note-required

#5398 Python: Add small api enhancements determined useful during documentation work
  python/change-notes/2021-03-12-small-api-enhancements.md
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/src/semmle/python/dataflow/new/internal/LocalSources.qll
Labels: Python, documentation

#5605 C#: Remove mentions of `exclude-dependency-queries.yml`
  csharp/ql/src/codeql-suites/csharp-code-scanning.qls
  csharp/ql/src/codeql-suites/csharp-security-and-quality.qls
  csharp/ql/src/codeql-suites/csharp-security-extended.qls
Labels: C#

#5574 Update supported Go version to 1.16
  docs/codeql/support/reusables/versions-compilers.rst
Labels: documentation

#5613 Fix ReDOS in cpp/ql/src/Security/CWE/CWE-428/UnsafeCreateProcessCall.ql
  cpp/ql/src/Security/CWE/CWE-428/UnsafeCreateProcessCall.ql
Labels: C++, no-change-note-required

#5530 JS: detect fs modules that pass through a reduce call
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/my-async-fs-module.js
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/other-fs-libraries.js
Labels: JS, no-change-note-required

#5526 JS: consider quoted string concatenations as sanitizers for js/shell-command-injection-from-environment
  javascript/ql/src/semmle/javascript/security/dataflow/ShellCommandInjectionFromEnvironmentCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/tst_shell-command-injection-from-environment.js
Labels: JS, no-change-note-required

#5608 Docs: Mention telemetry in "customizing settings"
  docs/codeql/codeql-for-visual-studio-code/customizing-settings.rst
Labels: documentation

#5606 JS: add joined paths as a sink to js/shell-command-constructed-from-input
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: JS, JS:changes-sources-or-sinks, no-change-note-required

#5304 JS: Implement new metric queries for line counting
  javascript/ql/src/Summary/LinesOfCode.ql
  javascript/ql/test/query-tests/Summary/LinesOfCode.expected
  javascript/ql/test/query-tests/Summary/LinesOfCode.qlref
  javascript/ql/test/query-tests/Summary/src/.eslintrc.yml
  javascript/ql/test/query-tests/Summary/src/externs.js
  javascript/ql/test/query-tests/Summary/src/javascript_file.js
  javascript/ql/test/query-tests/Summary/src/package.json
  javascript/ql/test/query-tests/Summary/src/typescript_file.ts
Labels: JS, no-change-note-required

#5529 JS: recognize headers/url from the HTTP request to a server WebSocket.
  javascript/ql/src/semmle/javascript/frameworks/WebSocket.qll
  javascript/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
  javascript/ql/test/query-tests/Security/CWE-918/tst.js
Labels: JS, no-change-note-required

#5604 C++: Fix FP in cpp/assign-where-compare-meant
  cpp/change-notes/2021-04-06-assign-where-compare-meant.md
  cpp/ql/src/Likely Bugs/Likely Typos/AssignWhereCompareMeant.ql
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/AssignWhereCompareMeant/AssignWhereCompareMeant.expected
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/AssignWhereCompareMeant/test.cpp
Labels: C++, documentation

#5626 Docs: Fix broken link to cached "RemoteFlowSource"
  docs/codeql/codeql-language-guides/data-flow-cheat-sheet-for-javascript.rst
  docs/codeql/codeql-language-guides/specifying-additional-remote-flow-sources-for-javascript.rst
Labels: documentation

#5621 JS: backtrack string-concatenations from shell-execution sinks
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: JS, no-change-note-required

#5622 C++: Inline Location::isBefore
  cpp/ql/src/semmle/code/cpp/Location.qll
Labels: C++, no-change-note-required

#5582 Python: Add support for `__all__` assigned to tuple
  python/ql/src/semmle/python/Module.qll
  python/ql/test/library-tests/modules/__all__/DeclaredInAll.expected
  python/ql/test/library-tests/modules/__all__/DeclaredInAll.ql
  python/ql/test/library-tests/modules/__all__/all_dynamic.py
  python/ql/test/library-tests/modules/__all__/all_indirect.py
  python/ql/test/library-tests/modules/__all__/all_list.py
  python/ql/test/library-tests/modules/__all__/all_set.py
  python/ql/test/library-tests/modules/__all__/all_tuple.py
  python/ql/test/library-tests/modules/__all__/main.py
  python/ql/test/library-tests/modules/__all__/no_all.py
Labels: Python, no-change-note-required

#5624 Python: Improve `CallCfgNode` interface
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Labels: Python, no-change-note-required

#5603 C#: Remove `unique` wrappers from `DataFlow::Node::get(EnclosingCallable|ControlFlowNode)`
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
Labels: C#, no-change-note-required

#5623 C#: Compute enclosing callable as a transitive closure
  csharp/ql/src/semmle/code/csharp/Enclosing.qll
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/src/semmle/code/csharp/Stmt.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
Labels: C#, no-change-note-required

#5475 Java: Improve documentation regarding minus in front of numeric literals
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/test/library-tests/literals-numeric/NumericLiterals.java
  java/ql/test/library-tests/literals-numeric/negativeNumericLiteral.expected
  java/ql/test/library-tests/literals-numeric/negativeNumericLiteral.ql
Labels: Java, no-change-note-required

#5453 C#: Adjust make_stubs.py to use codeql instead of odasa
  csharp/ql/src/Stubs/make_stubs.py
Labels: C#, no-change-note-required

#5137 JS: Model Redux and related libraries
  javascript/change-notes/2021-04-08-redux.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/BasicBlocks.qll
  javascript/ql/src/semmle/javascript/RangeAnalysis.qll
  javascript/ql/src/semmle/javascript/Unit.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/PreCallGraphStep.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/Unit.qll
  javascript/ql/src/semmle/javascript/frameworks/ComposedFunctions.qll
  javascript/ql/src/semmle/javascript/frameworks/Redux.qll
  javascript/ql/test/library-tests/frameworks/Redux/exportedReducer.js
  javascript/ql/test/library-tests/frameworks/Redux/react-redux.jsx
  javascript/ql/test/library-tests/frameworks/Redux/test.expected
  javascript/ql/test/library-tests/frameworks/Redux/test.ql
  javascript/ql/test/library-tests/frameworks/Redux/trivial.js
Labels: JS, documentation

#5609 C#: Dapper support
  csharp/change-notes/2021-04-09-dapper-support.md
  csharp/ql/src/semmle/code/csharp/frameworks/Dapper.qll
  csharp/ql/src/semmle/code/csharp/frameworks/Sql.qll
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjectionDapper.cs
  csharp/ql/test/resources/stubs/Dapper.cs
Labels: C#, documentation

#5633 C#: Improve performance of `Dispatch::SimpleTypeDataFlow::getASourceType()`
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
Labels: C#, no-change-note-required

#5586 JS: Fix a bug in tsconfig file handling
  javascript/change-notes/2021-04-01-tsconfig-file-inclusion-handling.md
  javascript/extractor/src/com/semmle/js/parser/ParsedProject.java
  javascript/ql/src/meta/alerts/ImportGraph.ql
  javascript/ql/test/library-tests/TypeScript/BaseUrl/A/index.ts
  javascript/ql/test/library-tests/TypeScript/BaseUrl/A/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/BaseUrl/B/src/foo.ts
  javascript/ql/test/library-tests/TypeScript/BaseUrl/B/src/lib/bar.ts
  javascript/ql/test/library-tests/TypeScript/BaseUrl/B/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/BaseUrl/test.expected
  javascript/ql/test/library-tests/TypeScript/BaseUrl/test.ql
  javascript/ql/test/library-tests/TypeScript/BaseUrl/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/test.expected
  javascript/ql/test/library-tests/frameworks/Electron/tests.expected
Labels: JS, documentation

#5619 C# Improve default argument value extraction
  csharp/change-notes/2021-04-09-default-argument-values.md
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Default.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Parameter.cs
  csharp/ql/src/semmle/code/csharp/Element.qll
  csharp/ql/src/semmle/code/dotnet/Element.qll
  csharp/ql/test/library-tests/controlflow/graph/Common.qll
  csharp/ql/test/library-tests/controlflow/splits/SplittingStressTest.ql
  csharp/ql/test/library-tests/csharp7.1/DefaultLiterals.ql
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.ql
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.ql
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.ql
  csharp/ql/test/library-tests/dataflow/modulusanalysis/ModulusAnalysis.ql
  csharp/ql/test/library-tests/dataflow/signanalysis/SignAnalysis.ql
  csharp/ql/test/library-tests/dataflow/tuples/DataFlowStep.ql
  csharp/ql/test/library-tests/exprorstmtparent/Parameter.ql
  csharp/ql/test/library-tests/goto/Goto1.ql
  csharp/ql/test/library-tests/parameters/Parameters.cs
  csharp/ql/test/library-tests/parameters/Parameters.cs_
  csharp/ql/test/library-tests/parameters/Parameters.dll
  csharp/ql/test/library-tests/parameters/Parameters.expected
  csharp/ql/test/library-tests/parameters/Parameters.ql
  csharp/ql/test/library-tests/standalone/controlflow/cfg.ql
  csharp/ql/test/query-tests/Stubs/MinimalStubsFromSource.expected
Labels: C#, documentation

#5628 Java: Remove `unique` wrapper from `DataFlow::Node::getEnclosingCallable()`
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Labels: Java, no-change-note-required

#5634 JS: treat "files" in a package.json as main modules, if "main" is not present
  javascript/ql/src/semmle/javascript/NPM.qll
  javascript/ql/src/semmle/javascript/NodeModuleResolutionImpl.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib2/compiled-file.ts
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib2/package.json
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib2/special-file.js
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib3/my-file.ts
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib3/package.json
Labels: JS, no-change-note-required

#5630 JS: add taint-step for URL construction in js/request-forgery
  javascript/ql/src/semmle/javascript/security/dataflow/RequestForgery.qll
  javascript/ql/src/semmle/javascript/security/dataflow/RequestForgeryCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
  javascript/ql/test/query-tests/Security/CWE-918/tst.js
Labels: JS, no-change-note-required

#5607 C++: read and store steps for smart pointers in AST dataflow
  cpp/ql/src/semmle/code/cpp/models/implementations/SmartPointer.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/smart_pointer.cpp
Labels: C++, no-change-note-required

#5625 Docs: Link to CodeQL CLI manual from the sidebar
  docs/codeql/codeql-cli/codeql-cli-reference.rst
  docs/codeql/codeql-cli/index.rst
Labels: documentation

#3810 Python: Function/Class Naming Convention (Syntax)
  python/ql/src/experimental/Classes/NamingConventionsClasses.qhelp
  python/ql/src/experimental/Classes/NamingConventionsClasses.ql
  python/ql/src/experimental/Functions/NamingConventionsFunctions.qhelp
  python/ql/src/experimental/Functions/NamingConventionsFunctions.ql
  python/ql/test/experimental/query-tests/Classes/Naming/NamingConventionsClasses.expected
  python/ql/test/experimental/query-tests/Classes/Naming/NamingConventionsClasses.py
  python/ql/test/experimental/query-tests/Classes/Naming/NamingConventionsClasses.qlref
  python/ql/test/experimental/query-tests/Functions/general/NamingConventionsFunctions.expected
  python/ql/test/experimental/query-tests/Functions/general/NamingConventionsFunctions.py
  python/ql/test/experimental/query-tests/Functions/general/NamingConventionsFunctions.qlref
Labels: Python, documentation

#5653 JS: allow parameters that end with "Command" in js/shell-command-constructed-from-input
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: JS, no-change-note-required

#5637 Java: Add ToStringMethod
  java/ql/src/Security/CWE/CWE-209/StackTraceExposure.ql
  java/ql/src/Security/CWE/CWE-327/MaybeBrokenCryptoAlgorithm.ql
  java/ql/src/Security/CWE/CWE-798/HardcodedCredentialsApiCall.ql
  java/ql/src/Violations of Best Practice/Undesirable Calls/CallsToStringToString.ql
  java/ql/src/Violations of Best Practice/Undesirable Calls/DefaultToString.ql
  java/ql/src/experimental/Security/CWE/CWE-297/InsecureLdapEndpoint.ql
  java/ql/src/semmle/code/java/JDK.qll
  java/ql/src/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/src/semmle/code/java/security/ControlledString.qll
Labels: Java, no-change-note-required

#5638 JS: Join-order improvements preparing for new SmartInliner
  javascript/ql/src/semmle/javascript/JSDoc.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/Fastify.qll
Labels: JS, no-change-note-required

#5636 Java: Adopt shared flow summaries
  config/identical-files.json
  java/ql/src/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowNodes.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/test/library-tests/dataflow/local-additional-taint/localAdditionalTaintStep.ql
Labels: Java, no-change-note-required

#5640 Data flow: Prevent bad join-order in `pathStep`
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  docs/ql-libraries/dataflow/dataflow.md
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
Labels: C#, C++, Java, Python, documentation, no-change-note-required

#4947 Java : add query to detect insecure loading of Dex File
  java/ql/src/experimental/Security/CWE/CWE-094/InsecureDexLoading.qhelp
  java/ql/src/experimental/Security/CWE/CWE-094/InsecureDexLoading.ql
  java/ql/src/experimental/Security/CWE/CWE-094/InsecureDexLoading.qll
  java/ql/src/experimental/Security/CWE/CWE-094/InsecureDexLoadingBad.java
  java/ql/src/experimental/Security/CWE/CWE-094/InsecureDexLoadingGood.java
Labels: Java, documentation

#5538 Java: CWE-555 Query to detect plaintext credentials in Java properties files
  java/ql/src/experimental/Security/CWE/CWE-555/CredentialsInPropertiesFile.qhelp
  java/ql/src/experimental/Security/CWE/CWE-555/CredentialsInPropertiesFile.ql
  java/ql/src/experimental/Security/CWE/CWE-555/configuration.properties
  java/ql/src/experimental/semmle/code/java/frameworks/CredentialsInPropertiesFile.qll
  java/ql/test/experimental/query-tests/security/CWE-555/CredentialsInPropertiesFile.expected
  java/ql/test/experimental/query-tests/security/CWE-555/CredentialsInPropertiesFile.ql
  java/ql/test/experimental/query-tests/security/CWE-555/configuration.properties
  java/ql/test/experimental/query-tests/security/CWE-555/messages.properties
Labels: Java, documentation

#5655 JS: support all ClientRequests in js/disabling-certificate-validation
  javascript/change-notes/2021-04-12-disabling-certificate-validation.md
  javascript/ql/src/Security/CWE-295/DisablingCertificateValidation.ql
  javascript/ql/test/query-tests/Security/CWE-295/DisablingCertificateValidation.expected
  javascript/ql/test/query-tests/Security/CWE-295/tst2.js
Labels: JS, documentation

#5583 C#: Exclude jump-to-def information for elements with too many locations
  csharp/ql/src/definitions.qll
Labels: C#, no-change-note-required

#5485 Python: Model QuerySet chains in Django
  python/change-notes/2021-03-22-django-queryset-chains.md
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/test/library-tests/frameworks/django/SqlExecution.py
Labels: Python, documentation

#5614 Python: Allow absolute imports from source directory
  python/ql/src/semmle/python/Files.qll
  python/ql/src/semmle/python/Module.qll
  python/ql/test/3/library-tests/modules/entry_point/hash_bang/main.py
  python/ql/test/3/library-tests/modules/entry_point/hash_bang/module.py
  python/ql/test/3/library-tests/modules/entry_point/hash_bang/namespace_package/namespace_package_main.py
  python/ql/test/3/library-tests/modules/entry_point/hash_bang/namespace_package/namespace_package_module.py
  python/ql/test/3/library-tests/modules/entry_point/hash_bang/package/__init__.py
  python/ql/test/3/library-tests/modules/entry_point/hash_bang/package/package_main.py
  python/ql/test/3/library-tests/modules/entry_point/hash_bang/package/package_module.py
  python/ql/test/3/library-tests/modules/entry_point/modules.expected
  python/ql/test/3/library-tests/modules/entry_point/modules.ql
  python/ql/test/3/library-tests/modules/entry_point/name_main/main.py
  python/ql/test/3/library-tests/modules/entry_point/name_main/module.py
  python/ql/test/3/library-tests/modules/entry_point/name_main/namespace_package/namespace_package_main.py
  python/ql/test/3/library-tests/modules/entry_point/name_main/namespace_package/namespace_package_module.py
  python/ql/test/3/library-tests/modules/entry_point/name_main/package/__init__.py
  python/ql/test/3/library-tests/modules/entry_point/name_main/package/package_main.py
  python/ql/test/3/library-tests/modules/entry_point/name_main/package/package_module.py
  python/ql/test/3/library-tests/modules/entry_point/no_py_extension/main.secretpy
  python/ql/test/3/library-tests/modules/entry_point/no_py_extension/module.py
  python/ql/test/3/library-tests/modules/entry_point/no_py_extension/namespace_package/namespace_package_main.py
  python/ql/test/3/library-tests/modules/entry_point/no_py_extension/namespace_package/namespace_package_module.py
  python/ql/test/3/library-tests/modules/entry_point/no_py_extension/package/__init__.py
  python/ql/test/3/library-tests/modules/entry_point/no_py_extension/package/package_main.py
  python/ql/test/3/library-tests/modules/entry_point/no_py_extension/package/package_module.py
  python/ql/test/3/library-tests/modules/entry_point/options
Labels: Python, no-change-note-required

#5384 Java: CWE-016 Query to detect insecure configuration of Spring Boot Actuator
  java/ql/src/experimental/Security/CWE/CWE-016/InsecureSpringActuatorConfig.qhelp
  java/ql/src/experimental/Security/CWE/CWE-016/InsecureSpringActuatorConfig.ql
  java/ql/src/experimental/Security/CWE/CWE-016/application.properties
  java/ql/src/experimental/Security/CWE/CWE-016/pom_bad.xml
  java/ql/src/experimental/Security/CWE/CWE-016/pom_good.xml
  java/ql/test/experimental/query-tests/security/CWE-016/InsecureSpringActuatorConfig.expected
  java/ql/test/experimental/query-tests/security/CWE-016/InsecureSpringActuatorConfig.qlref
  java/ql/test/experimental/query-tests/security/CWE-016/SensitiveInfo.java
  java/ql/test/experimental/query-tests/security/CWE-016/application.properties
  java/ql/test/experimental/query-tests/security/CWE-016/pom.xml
Labels: Java, documentation

#5642 Python: Use API graphs in `Stdlib.qll`
  python/ql/src/semmle/python/frameworks/Stdlib.qll
Labels: Python, no-change-note-required

#5658 C++: Fix performance in test
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.ql
Labels: C++

#5629 C++: Remove `unique` wrapper from `DataFlow::Node::getEnclosingCallable`
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Labels: C#, C++, Java, Python, no-change-note-required

#5460 JS: cleanup in API-graphs
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
Labels: JS, no-change-note-required

#5654 C#: First try `pwsh` and then `powershell` when calling `dotnet-install.ps1`
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
Labels: C#

#5662 JS: Simplify JSON API
  javascript/ql/src/Declarations/UnusedVariable.ql
  javascript/ql/src/semmle/javascript/JSON.qll
  javascript/ql/src/semmle/javascript/NPM.qll
  javascript/ql/src/semmle/javascript/Paths.qll
  javascript/ql/src/semmle/javascript/frameworks/Babel.qll
  javascript/ql/src/semmle/javascript/security/dataflow/RemoteFlowSources.qll
Labels: JS, no-change-note-required

#5639 Python: Add missing builtins to `API::builtin`
  python/ql/src/semmle/python/ApiGraphs.qll
Labels: Python, no-change-note-required

#5325 CPP: Add query for CWE-783 Operator Precedence Logic Error When Use Bool Type
  cpp/ql/src/experimental/Security/CWE/CWE-783/OperatorPrecedenceLogicErrorWhenUseBoolType.c
  cpp/ql/src/experimental/Security/CWE/CWE-783/OperatorPrecedenceLogicErrorWhenUseBoolType.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-783/OperatorPrecedenceLogicErrorWhenUseBoolType.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/OperatorPrecedenceLogicErrorWhenUseBoolType.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/OperatorPrecedenceLogicErrorWhenUseBoolType.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/test.cpp
Labels: C++, documentation

#5670 Python: Use API graphs in Dill model
  python/ql/src/semmle/python/frameworks/Dill.qll
Labels: Python, no-change-note-required

#5665 Python: Tornado cleanup using API graphs
  python/ql/src/semmle/python/frameworks/Tornado.qll
Labels: Python, no-change-note-required

#5661 Make Call a subclass of ExprParent.
  java/ql/src/semmle/code/java/Expr.qll
Labels: Java, no-change-note-required

#5671 Python: Use API graphs in Werkzeug
  python/change-notes/2021-04-13-werkzeug-api-graphs.md
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/src/semmle/python/frameworks/Werkzeug.qll
Labels: Python, documentation

#5666 Python: Refactoring and exposing of Django views/fields/forms
  python/ql/src/semmle/python/frameworks/Django.qll
Labels: Python, no-change-note-required

#5591 Java: Add MemberType
  java/change-notes/2021-04-14-membertype.md
  java/ql/src/Performance/InnerClassCouldBeStatic.ql
  java/ql/src/semmle/code/java/PrintAst.qll
  java/ql/src/semmle/code/java/Type.qll
  java/ql/src/semmle/code/java/frameworks/play/Play.qll
Labels: Java, documentation

#5645 Java: Override getAPrimaryQlClass() for more classes
  java/ql/src/semmle/code/FileSystem.qll
  java/ql/src/semmle/code/java/Exception.qll
  java/ql/src/semmle/code/java/Modifier.qll
  java/ql/src/semmle/code/java/Package.qll
  java/ql/src/semmle/code/java/Variable.qll
Labels: Java, no-change-note-required

#5600 CPP: Add query for CWE-691 Insufficient Control Flow Management When Using Bit Operations
  cpp/ql/src/experimental/Security/CWE/CWE-691/InsufficientControlFlowManagementWhenUsingBitOperations.c
  cpp/ql/src/experimental/Security/CWE/CWE-691/InsufficientControlFlowManagementWhenUsingBitOperations.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-691/InsufficientControlFlowManagementWhenUsingBitOperations.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-691/semmle/tests/InsufficientControlFlowManagementWhenUsingBitOperations.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-691/semmle/tests/InsufficientControlFlowManagementWhenUsingBitOperations.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-691/semmle/tests/test.c
Labels: C++, documentation

#5641 Python: Use API graphs in PEP249 support
  python/change-notes/2021-04-13-pep249-api-graphs.md
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/MySQLdb.qll
  python/ql/src/semmle/python/frameworks/MysqlConnectorPython.qll
  python/ql/src/semmle/python/frameworks/PEP249.qll
  python/ql/src/semmle/python/frameworks/Psycopg2.qll
  python/ql/src/semmle/python/frameworks/PyMySQL.qll
  python/ql/src/semmle/python/frameworks/Stdlib.qll
Labels: Python, documentation

#5578 C++: AST dataflow through smart pointers
  cpp/ql/src/semmle/code/cpp/dataflow/internal/AddressFlow.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/SmartPointer.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/PointerWrapper.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/smart_pointer.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
Labels: C++, no-change-note-required

#5677 C++: Fix duplicate names in experimental queries
  cpp/ql/src/experimental/Security/CWE/CWE-788/AccessOfMemoryLocationAfterEndOfBufferUsingStrlen.ql
  cpp/ql/src/experimental/Security/CWE/CWE-788/AccessOfMemoryLocationAfterEndOfBufferUsingStrncat.ql
Labels: C++

#5643 C++: Refactor some side effect generation code
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/PrintIRStoreSteps.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/PrintIRUtilities.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/SideEffects.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Labels: C++, no-change-note-required

#5675 JS: Improve XMLParsers
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
  javascript/ql/src/semmle/javascript/frameworks/XmlParsers.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/xml.js
Labels: JS, no-change-note-required

#5673 C#: Add `Customizations.qll`
  csharp/change-notes/2021-04-14-customizations.md
  csharp/ql/src/Customizations.qll
  csharp/ql/src/csharp.qll
Labels: C#, documentation

#5471 Java: Query for detecting Jakarta Expression Language injections
  java/ql/src/experimental/Security/CWE/CWE-094/FlowUtils.qll
  java/ql/src/experimental/Security/CWE/CWE-094/JakartaExpressionInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-094/JakartaExpressionInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-094/JakartaExpressionInjectionLib.qll
  java/ql/src/experimental/Security/CWE/CWE-094/JexlInjectionLib.qll
  java/ql/src/experimental/Security/CWE/CWE-094/SaferExpressionEvaluationWithJuel.java
  java/ql/src/experimental/Security/CWE/CWE-094/UnsafeExpressionEvaluationWithJuel.java
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.java
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-094/options
  java/ql/test/stubs/java-ee-el/javax/el/ELContext.java
  java/ql/test/stubs/java-ee-el/javax/el/ELManager.java
  java/ql/test/stubs/java-ee-el/javax/el/ELProcessor.java
  java/ql/test/stubs/java-ee-el/javax/el/ExpressionFactory.java
  java/ql/test/stubs/java-ee-el/javax/el/LambdaExpression.java
  java/ql/test/stubs/java-ee-el/javax/el/MethodExpression.java
  java/ql/test/stubs/java-ee-el/javax/el/StandardELContext.java
  java/ql/test/stubs/java-ee-el/javax/el/ValueExpression.java
  java/ql/test/stubs/juel-2.2/de/odysseus/el/ExpressionFactoryImpl.java
  java/ql/test/stubs/juel-2.2/de/odysseus/el/util/SimpleContext.java
Labels: Java, documentation

#5683 JS: fix typescript template literal type crash
  javascript/change-notes/2021-04-15-typescript-template-literal-type-crash.md
  javascript/extractor/src/com/semmle/ts/extractor/TypeScriptASTConverter.java
  javascript/extractor/tests/ts/output/trap/importNonStrings.ts.trap
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TemplateTypes/TemplateTypes.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TemplateTypes/TemplateTypes.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TemplateTypes/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TemplateTypes/tst.ts
Labels: JS, documentation

#5667 C++: Use range analysis in Overflow.qll
  cpp/change-notes/2021-04-13-arithmetic-queries.md
  cpp/ql/src/semmle/code/cpp/security/Overflow.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/extreme/ArithmeticWithExtremeValues.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/extreme/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
Labels: C++, documentation

#5669 Python: Use API graphs for Invoke
  python/ql/src/semmle/python/frameworks/Invoke.qll
Labels: Python, no-change-note-required

#5668 Python: Use API graphs in Fabric model
  python/ql/src/semmle/python/frameworks/Fabric.qll
Labels: Python, no-change-note-required

#5692 Update supported C#/.NET versions
  docs/codeql/support/reusables/versions-compilers.rst
Labels: documentation

#5690 Python: Disallow `PostUpdateNode` as `LocalSourceNode`
  python/ql/src/semmle/python/dataflow/new/internal/LocalSources.qll
Labels: Awaiting evaluation, Python, no-change-note-required

#5708 Java: Fix id in experimental JsonpInjection.ql query
  java/ql/src/experimental/Security/CWE/CWE-352/JsonpInjection.ql
Labels: Java

#5714 Java: Add a few qltests
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/Test.java
  java/ql/test/query-tests/security/CWE-022/semmle/tests/options
  java/ql/test/query-tests/security/CWE-611/SAXSourceTests.java
  java/ql/test/query-tests/security/CWE-611/UnmarshallerTests.java
  java/ql/test/query-tests/security/CWE-611/XXE.expected
  java/ql/test/query-tests/security/CWE-611/options
  java/ql/test/stubs/jaxb-api-2.3.1/javax/xml/bind/JAXBContext.java
  java/ql/test/stubs/jaxb-api-2.3.1/javax/xml/bind/Unmarshaller.java
Labels: Java, no-change-note-required

#5716 JS: fix bad join order in Xss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
Labels: JS, no-change-note-required

#5456 Java: Use shared flow summary library for CSV models.
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/src/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/src/semmle/code/java/frameworks/guava/Base.qll
  java/ql/src/semmle/code/java/frameworks/guava/IO.qll
  java/ql/test/experimental/query-tests/security/CWE-074/XsltInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JexlInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/MvelInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/SpelInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-1004/SensitiveCookieNotHttpOnly.expected
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureBasicAuth.expected
  java/ql/test/experimental/query-tests/security/CWE-652/XQueryInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-918/RequestForgery.expected
  java/ql/test/library-tests/dataflow/external-models/steps.expected
  java/ql/test/library-tests/dataflow/external-models/steps.ql
  java/ql/test/library-tests/dataflow/local-additional-taint/localAdditionalTaintStep.ql
  java/ql/test/library-tests/frameworks/apache-commons-lang3/ObjectUtilsTest.java
  java/ql/test/library-tests/frameworks/guava/TestBase.java
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/ZipSlip.expected
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTaintedLocal.expected
  java/ql/test/query-tests/security/CWE-502/UnsafeDeserialization.expected
  java/ql/test/query-tests/security/CWE-611/XXE.expected
  java/ql/test/query-tests/security/CWE-681/semmle/tests/NumericCastTaintedLocal.expected
Labels: C#, Java, no-change-note-required

#5611 Java: adjust test `options` for JDK 16 upgrade
  java/ql/test/library-tests/dataflow/records/options
  java/ql/test/library-tests/dataflow/taint-format/options
  java/ql/test/library-tests/printAst/options
  java/ql/test/library-tests/ssa/options
  java/ql/test/query-tests/StringFormat/options
Labels: Java, depends on internal PR

#5703 C++: Improve cpp/access-memory-location-after-end-buffer-strncat
  cpp/ql/src/experimental/Security/CWE/CWE-788/AccessOfMemoryLocationAfterEndOfBufferUsingStrncat.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/AccessOfMemoryLocationAfterEndOfBufferUsingStrlen.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/AccessOfMemoryLocationAfterEndOfBufferUsingStrncat.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/test.c
Labels: C++, no-change-note-required

#5674 C#: Improve performance of `SsaImpl::CallGraph::SimpleDelegateAnalysis`
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImpl.qll
Labels: C#, no-change-note-required

#5695 C#: Improve performance of `DisposeNotCalledOnException.ql`
  csharp/ql/src/API Abuse/DisposeNotCalledOnException.ql
Labels: C#, no-change-note-required

#5723 C++: Simplify smart pointer model
  cpp/ql/src/semmle/code/cpp/models/implementations/SmartPointer.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Labels: C++, no-change-note-required

#5684 Python: Add taint tests for .get() in flask
  python/ql/test/library-tests/frameworks/flask/TestTaint.expected
  python/ql/test/library-tests/frameworks/flask/taint_test.py
Labels: Python

#5717 Python: Use API graphs in Django model
  python/ql/src/semmle/python/frameworks/Django.qll
Labels: Python, no-change-note-required

#5726 C++: Fix false positive in return stack allocated memory (second attempt)
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/test.cpp
Labels: C++, no-change-note-required

#5467 [Java] CWE-094: Query to detect Groovy Code Injections
  java/ql/src/experimental/Security/CWE/CWE-094/GroovyInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-094/GroovyInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-094/GroovyInjectionBad.java
  java/ql/src/experimental/Security/CWE/CWE-094/GroovyInjectionBlocklist.java
  java/ql/src/experimental/Security/CWE/CWE-094/GroovyInjectionLib.qll
  java/ql/test/experimental/query-tests/security/CWE-094/GroovyClassLoaderTest.java
  java/ql/test/experimental/query-tests/security/CWE-094/GroovyEvalTest.java
  java/ql/test/experimental/query-tests/security/CWE-094/GroovyInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/GroovyInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-094/GroovyShellTest.java
  java/ql/test/experimental/query-tests/security/CWE-094/options
  java/ql/test/experimental/stubs/groovy-all-3.0.7/groovy/lang/GroovyClassLoader.java
  java/ql/test/experimental/stubs/groovy-all-3.0.7/groovy/lang/GroovyCodeSource.java
  java/ql/test/experimental/stubs/groovy-all-3.0.7/groovy/lang/GroovyObject.java
  java/ql/test/experimental/stubs/groovy-all-3.0.7/groovy/lang/GroovyShell.java
  java/ql/test/experimental/stubs/groovy-all-3.0.7/groovy/lang/Script.java
  java/ql/test/experimental/stubs/groovy-all-3.0.7/groovy/util/Eval.java
Labels: Java, documentation

#5721 Java: add extractor `diagnostic` queries
  java/ql/src/Diagnostics/DiagnosticsReporting.qll
  java/ql/src/Diagnostics/ExtractionErrors.ql
  java/ql/src/Diagnostics/SuccessfullyExtractedFiles.ql
Labels: Java, no-change-note-required

#5676 C#: Speedup `DispatchMethodOrAccessorCall::getAViableOverrider()`
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
Labels: C#, no-change-note-required

#5679 Python: Fix bad points-to joins
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/src/semmle/python/pointsto/PointsToContext.qll
Labels: Python, no-change-note-required

#5725 C#: Various data-flow performance tweaks
  csharp/ql/src/semmle/code/csharp/Caching.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
Labels: C#, no-change-note-required

#5718 C#: Remove CP from `HardcodedCredentials::getCredentialSink`
  csharp/ql/src/semmle/code/csharp/security/dataflow/HardcodedCredentials.qll
Labels: C#, no-change-note-required

#5715 C#: A few minor SSA performance tweaks
  csharp/ql/src/semmle/code/cil/internal/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/pressa/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/basessa/SsaImplCommon.qll
Labels: C#, no-change-note-required

#5422 Java: Migrate LDAP injection sinks to CSV format
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/security/LdapInjection.qll
Labels: Java, no-change-note-required

#5738 C# Add line of code metric query
  csharp/ql/src/Metrics/Summaries/LinesOfCode.ql
  csharp/ql/test/query-tests/Metrics/Summaries/LinesOfCode.expected
  csharp/ql/test/query-tests/Metrics/Summaries/LinesOfCode.qlref
  csharp/ql/test/query-tests/Metrics/Summaries/file1.cs
Labels: C#, no-change-note-required

#5727 Python: Use `LocalSourceNode` in `StepSummary::step`
  python/change-notes/2021-04-20-stepsummary-localsourcenode.md
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.ql
  python/ql/src/semmle/python/ApiGraphs.qll
  python/ql/src/semmle/python/Concepts.qll
  python/ql/src/semmle/python/dataflow/new/TypeTracker.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/src/semmle/python/dataflow/new/internal/LocalSources.qll
  python/ql/src/semmle/python/frameworks/Cryptography.qll
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/PEP249.qll
  python/ql/src/semmle/python/regex.qll
  python/ql/test/experimental/dataflow/ApiGraphs/use.ql
  python/ql/test/experimental/dataflow/typetracking/moduleattr.expected
  python/ql/test/library-tests/frameworks/modeling-example/SharedCode.qll
Labels: Awaiting evaluation, Python, documentation

#5601 CPP: Add query for CWE-691 Insufficient Control Flow Management After Refactoring The Code
  cpp/ql/src/experimental/Security/CWE/CWE-691/InsufficientControlFlowManagementAfterRefactoringTheCode.c
  cpp/ql/src/experimental/Security/CWE/CWE-691/InsufficientControlFlowManagementAfterRefactoringTheCode.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-691/InsufficientControlFlowManagementAfterRefactoringTheCode.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-691/semmle/tests/InsufficientControlFlowManagementAfterRefactoringTheCode.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-691/semmle/tests/InsufficientControlFlowManagementAfterRefactoringTheCode.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-691/semmle/tests/test.c
Labels: C++, documentation

#5682 Fix documentation of Modifier.qll
  java/ql/src/semmle/code/java/Modifier.qll
Labels: Java, no-change-note-required

#5745 C#: Fix special case of default argument value extraction
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/ql/test/library-tests/standalone/errorrecovery/DiagnosticsAndErrors.expected
Labels: C#, no-change-note-required

#5746 Make ExecTainted easier to extend
  java/ql/src/semmle/code/java/JDK.qll
  java/ql/src/semmle/code/java/frameworks/apache/Exec.qll
  java/ql/src/semmle/code/java/security/ExternalProcess.qll
Labels: Java, no-change-note-required

#5747 C++: deprecate cpp/return-stack-allocated-object
  cpp/change-notes/2021-04-21-return-stack-allocated-object.md
  cpp/ql/src/Critical/ReturnStackAllocatedObject.ql
Labels: C++, documentation

#5748 JS: Improve tracking of route handlers and fix a rate-limiting FN/FP
  javascript/change-notes/2021-04-21-rate-limiting-fixes.md
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FunctionWrapperSteps.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/src/semmle/javascript/internal/CachedStages.qll
  javascript/ql/src/semmle/javascript/security/dataflow/MissingRateLimiting.qll
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimiting.expected
  javascript/ql/test/query-tests/Security/CWE-770/tst.js
Labels: JS, JS:changes-sources-or-sinks, documentation

#5742 Python: Add support for new features in Django 3.2
  python/change-notes/2021-04-21-django-v3.2.md
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/test/library-tests/frameworks/django-v2-v3/response_test.py
  python/ql/test/library-tests/frameworks/django/SqlExecution.py
Labels: Python, documentation

#5685 JS: add taint-step for markdown-it when the HTML flag is set
  javascript/change-notes/2021-04-15-markdownit.md
  javascript/ql/src/semmle/javascript/frameworks/Markdown.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.js
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXssWithCustomSanitizer.expected
Labels: JS, documentation

#5731 Docs: New "directional binding" pragmas
  docs/codeql/ql-language-reference/annotations.rst
Labels: documentation, ready-for-docs-review

#5744 Java: Introduce LoC summary metric query
  java/ql/src/Metrics/Summaries/LinesOfCode.ql
  java/ql/test/query-tests/Metrics/A.java
  java/ql/test/query-tests/Metrics/LinesOfCode.expected
  java/ql/test/query-tests/Metrics/LinesOfCode.qlref
Labels: Java, no-change-note-required

#5743 Java/C#: Move a couple of flow summary tweaks to the shared implementation.
  csharp/ql/src/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Labels: C#, Java, no-change-note-required

#5696 Revert "Revert "C++: Work around extractor issue CPP-383""
  cpp/ql/src/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/src/semmle/code/cpp/controlflow/internal/ConstantExprs.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/TranslatedElement.qll
Labels: C#, C++, no-change-note-required

#5722 C#: Add Dapper to supported frameworks
  docs/codeql/support/reusables/frameworks.rst
Labels: C#, documentation

#5749 C#: Adjust 'fromSource' to hold only on files passed to the compiler as a source file
  csharp/ql/src/semmle/code/csharp/File.qll
Labels: C#, no-change-note-required

#5308 C#: Add Console.Read* to local flow sources
  csharp/change-notes/2021-04-22-console-read-local-source.md
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsources/Local.qll
  csharp/ql/test/query-tests/Security Features/CWE-134/ConsoleUncontrolledFormatString.cs
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.expected
Labels: C#, documentation

#5537 Docs: Update the language specification for changes to super.
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#5678 C++: Make exprMightOverflowPositively sound for unanalyzable expressions
  cpp/change-notes/2021-26-04-more-sound-expr-might-overflow.md
  cpp/ql/src/Security/CWE/CWE-190/IntegerOverflowTainted.ql
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Labels: C++, documentation

#5284 Python: port py/insecure-protocol
  python/change-notes/2021-03-15-port-insecure-protocol.md
  python/ql/src/Security/CWE-327/FluentApiModel.qll
  python/ql/src/Security/CWE-327/InsecureProtocol.qhelp
  python/ql/src/Security/CWE-327/InsecureProtocol.ql
  python/ql/src/Security/CWE-327/PyOpenSSL.qll
  python/ql/src/Security/CWE-327/README.md
  python/ql/src/Security/CWE-327/Ssl.qll
  python/ql/src/Security/CWE-327/TlsLibraryModel.qll
  python/ql/test/query-tests/Security/CWE-327/InsecureProtocol.expected
  python/ql/test/query-tests/Security/CWE-327/InsecureProtocol.py
  python/ql/test/query-tests/Security/CWE-327/pyOpenSSL_fluent.py
  python/ql/test/query-tests/Security/CWE-327/ssl_fluent.py
Labels: Python, documentation

#5779 JS: update JS/TS versions in documentation to reflect supported versions
  docs/codeql/support/reusables/versions-compilers.rst
Labels: JS, documentation

#5754 C#: Improve performance of guards library
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/RangeUtils.qll
  csharp/ql/test/library-tests/controlflow/guards-large/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards-large/GuardedExpr.ql
  csharp/ql/test/library-tests/controlflow/guards-large/GuardsStressTest.cs
  csharp/ql/test/library-tests/controlflow/guards/BooleanGuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
Labels: C#, no-change-note-required

#5756 C#: Add missing `StringBuilder` flow summaries
  csharp/change-notes/2021-04-26-string-builder-summaries.md
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.expected
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
Labels: C#, documentation

#5757 Fix all dead qhelp links
  cpp/ql/src/Best Practices/Magic Constants/MagicConstantsNumbers.qhelp
  cpp/ql/src/Best Practices/Magic Constants/MagicConstantsString.qhelp
  cpp/ql/src/Best Practices/SloppyGlobal.qhelp
  cpp/ql/src/Best Practices/UseOfGoto.qhelp
  cpp/ql/src/Critical/ReturnValueIgnored.qhelp
  cpp/ql/src/Likely Bugs/Likely Typos/MissingEnumCaseInSwitch.qhelp
  cpp/ql/src/Metrics/Files/FTransitiveIncludes.qhelp
  cpp/ql/src/Metrics/Files/FTransitiveSourceIncludes.qhelp
  cpp/ql/src/jsf/4.24 Control Flow Structures/AV Rule 189.qhelp
  cpp/ql/src/jsf/4.24 Control Flow Structures/AV Rule 201.qhelp
  csharp/ql/src/Language Abuse/ForeachCapture.qhelp
  csharp/ql/src/Likely Bugs/MishandlingJapaneseEra.qhelp
  csharp/ql/src/Likely Bugs/ReferenceEqualsOnValueTypes.qhelp
  csharp/ql/src/Metrics/Files/FNumberOfTests.qhelp
  csharp/ql/src/Security Features/CWE-011/ASPNetDebug.qhelp
  csharp/ql/src/Security Features/CWE-209/ExceptionInformationExposure.qhelp
  java/ql/src/Likely Bugs/Concurrency/StartInConstructor.qhelp
  java/ql/src/Likely Bugs/Frameworks/Swing/ThreadSafety.qhelp
  java/ql/src/Likely Bugs/Likely Typos/StringBufferCharInit.qhelp
  java/ql/src/Likely Bugs/Resource Leaks/CloseReader.qhelp
  java/ql/src/Likely Bugs/Resource Leaks/CloseSql.qhelp
  java/ql/src/Likely Bugs/Resource Leaks/CloseWriter.qhelp
  java/ql/src/Metrics/RefTypes/TEfferentCoupling.qhelp
  java/ql/src/Metrics/RefTypes/TEfferentSourceCoupling.qhelp
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.qhelp
  java/ql/src/Security/CWE/CWE-611/XXE.qhelp
  java/ql/src/Violations of Best Practice/Dead Code/FinalizerNullsFields.qhelp
  java/ql/src/Violations of Best Practice/legacy/ParameterAssignment.qhelp
  javascript/externs/es/es2016.js
  javascript/externs/es/es6.js
  javascript/ql/src/Declarations/SuspiciousMethodNameDeclaration.qhelp
  javascript/ql/src/Declarations/UnreachableMethodOverloads.qhelp
  javascript/ql/src/LanguageFeatures/PropertyWriteOnPrimitive.qhelp
  javascript/ql/src/NodeJS/CyclicImport.qhelp
  javascript/ql/src/NodeJS/UnusedDependency.qhelp
  javascript/ql/src/Security/CWE-079/UnsafeJQueryPlugin.qhelp
  javascript/ql/src/Security/CWE-400/RemotePropertyInjection.qhelp
  javascript/ql/src/Security/CWE-611/Xxe.qhelp
  javascript/ql/src/Security/CWE-829/InsecureDownload.qhelp
  python/ql/src/Classes/ShouldBeContextManager.qhelp
  python/ql/src/Functions/ModificationOfParameterWithDefault.qhelp
  python/ql/src/Imports/CyclicImport.qhelp
  python/ql/src/Imports/ModuleLevelCyclicImport.qhelp
  python/ql/src/Metrics/ClassEfferentCoupling.qhelp
  python/ql/src/Metrics/ModuleEfferentCoupling.qhelp
  python/ql/src/Variables/ShadowGlobal.qhelp
  python/ql/src/external/MostlyDuplicateClass.qhelp
  python/ql/src/external/MostlyDuplicateFile.qhelp
  python/ql/src/external/MostlySimilarFile.qhelp
  python/ql/src/external/SimilarFunction.qhelp
Labels: C#, C++, JS, Java, Python, documentation

#5780 C++: Cleanup missingGuardAgainstOverflow
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/src/semmle/code/cpp/security/Overflow.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/extreme/ArithmeticWithExtremeValues.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/extreme/test.c
Labels: C++, no-change-note-required

#5770 Python: Use only `TApiNode` in `API::Impl`
  python/ql/src/semmle/python/ApiGraphs.qll
Labels: Python, no-change-note-required

#5557 Java: convert sinks to CSV
  java/ql/src/Security/CWE/CWE-022/ZipSlip.ql
  java/ql/src/Security/CWE/CWE-094/InsecureBeanValidation.ql
  java/ql/src/Security/CWE/CWE-297/UnsafeHostnameVerification.ql
  java/ql/src/Security/CWE/CWE-319/HttpsUrls.ql
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/security/ResponseSplitting.qll
  java/ql/src/semmle/code/java/security/XSS.qll
Labels: Java, no-change-note-required

#5781 Java: Use separate data-flow copy for `PredictableSeedFlowConfiguration`
  config/identical-files.json
  java/ql/src/semmle/code/java/dataflow/DataFlow6.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/src/semmle/code/java/security/Random.qll
Labels: Java, no-change-note-required

#5737 C++: IR Alias Analysis for smart pointers
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/SmartPointer.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Alias.qll
  cpp/ql/test/include/memory.h
  cpp/ql/test/include/type_traits.h
  cpp/ql/test/include/utility.h
  cpp/ql/test/library-tests/dataflow/smart-pointers-taint/test.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/smart_pointer.cpp
  cpp/ql/test/library-tests/ir/points_to/points_to.ql
  cpp/ql/test/library-tests/ir/points_to/smart_pointer.cpp
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/AliasAnalysisImports.qll
Labels: C#, C++, no-change-note-required

#5786 JS: add support for the anser library
  javascript/change-notes/2021-04-27-anser.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/Anser.qll
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/XssThroughDom.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/xss-through-dom.js
Labels: JS, documentation

#5740 C#: Add extraction error diagnostic query
  csharp/change-notes/2021-04-23-model-error-extraction.md
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/ql/src/Diagnostics/DiagnosticExtractionErrors.ql
  csharp/ql/src/Diagnostics/DiagnosticNoExtractionErrors.ql
  csharp/ql/test/library-tests/diagnostics/A.cs
  csharp/ql/test/library-tests/diagnostics/DiagnosticExtractorErrors.expected
  csharp/ql/test/library-tests/diagnostics/DiagnosticExtractorErrors.qlref
  csharp/ql/test/library-tests/diagnostics/DiagnosticNoExtractorErrors.expected
  csharp/ql/test/library-tests/diagnostics/DiagnosticNoExtractorErrors.qlref
  csharp/ql/test/library-tests/diagnostics/Program.cs
  csharp/ql/test/library-tests/standalone/errorrecovery/DiagnosticsAndErrors.expected
Labels: C#, documentation

#5791 Python: Limit absolute imports
  python/ql/src/semmle/python/Module.qll
Labels: Awaiting evaluation, Python, no-change-note-required

#5782 JS: add global replacements using inverted char classes as a sanitizer for DOM based XSS
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/src/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/xss-through-dom.js
Labels: JS, no-change-note-required

#5790 Fix inconsistency in the find-the-thief exercise
  docs/codeql/writing-codeql-queries/find-the-thief.rst
Labels: documentation

#5798 JS: track window object to where .location is read
  javascript/ql/src/semmle/javascript/DOM.qll
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst.js
Labels: JS, no-change-note-required

#5797 C++: Do not inline `Dominance::hasMultiScopeNode`
  cpp/ql/src/semmle/code/cpp/controlflow/Dominance.qll
Labels: C++, no-change-note-required

#5755 Python: Add non-alert data for lines of code and extraction errors
  python/ql/src/Diagnostics/ExtractionErrors.ql
  python/ql/src/Diagnostics/SuccessfullyExtractedFiles.ql
  python/ql/src/Summary/LinesOfCode.ql
  python/ql/src/Summary/LinesOfUserCode.ql
  python/ql/test/query-tests/Diagnostics/ExtractionErrors.expected
  python/ql/test/query-tests/Diagnostics/ExtractionErrors.qlref
  python/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.expected
  python/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.qlref
  python/ql/test/query-tests/Diagnostics/bad_encoding.py
  python/ql/test/query-tests/Diagnostics/good_file.py
  python/ql/test/query-tests/Diagnostics/options
  python/ql/test/query-tests/Diagnostics/syntax_error.py
  python/ql/test/query-tests/Summary/LinesOfCode.expected
  python/ql/test/query-tests/Summary/LinesOfCode.qlref
  python/ql/test/query-tests/Summary/LinesOfUserCode.expected
  python/ql/test/query-tests/Summary/LinesOfUserCode.qlref
  python/ql/test/query-tests/Summary/also_python_code
  python/ql/test/query-tests/Summary/my_file.py
  python/ql/test/query-tests/Summary/not_python
Labels: Python, no-change-note-required

#5656 JS: Add file diagnostics queries
  javascript/ql/src/Diagnostics/ExtractionErrors.ql
  javascript/ql/src/Diagnostics/SuccessfullyExtractedFiles.ql
  javascript/ql/src/semmle/javascript/Errors.qll
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/test/query-tests/Diagnostics/ExtractionErrors.expected
  javascript/ql/test/query-tests/Diagnostics/ExtractionErrors.qlref
  javascript/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.expected
  javascript/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.qlref
  javascript/ql/test/query-tests/Diagnostics/bad1.js
  javascript/ql/test/query-tests/Diagnostics/bad2.ts
  javascript/ql/test/query-tests/Diagnostics/bad3.html
  javascript/ql/test/query-tests/Diagnostics/contains-template.js
  javascript/ql/test/query-tests/Diagnostics/good1.js
  javascript/ql/test/query-tests/Diagnostics/good2.ts
  javascript/ql/test/query-tests/Diagnostics/good3.html
  javascript/ql/test/query-tests/Diagnostics/options
Labels: JS, no-change-note-required

#5395 Python: Make the type tracking implementation shareable
  python/ql/src/experimental/typetracking/TypeTracker.qll
  python/ql/src/experimental/typetracking/TypeTrackerSpecific.qll
Labels: Python

#5784 Java: Add StmtParent as superclass of SwitchExpr
  java/ql/src/semmle/code/java/Expr.qll
Labels: Java, no-change-note-required

#5805 Document `SpringProperty::getSetterMethod`.
  java/ql/src/semmle/code/java/frameworks/spring/SpringProperty.qll
Labels: Java, no-change-note-required

#5804 C++: Improve qhelp and tests for cpp/detect-and-handle-memory-allocation-errors
  cpp/ql/src/experimental/Security/CWE/CWE-570/WrongInDetectingAndHandlingMemoryAllocationErrors.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-570/WrongInDetectingAndHandlingMemoryAllocationErrors.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-570/WrongInDetectingAndHandlingMemoryAllocationErrors.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-570/semmle/tests/WrongInDetectingAndHandlingMemoryAllocationErrors.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-570/semmle/tests/test.cpp
Labels: C++, documentation, ready-for-docs-review

#5597 [Java] JWT without signature check.
  java/ql/src/experimental/Security/CWE/CWE-347/MissingJWTSignatureCheck.java
  java/ql/src/experimental/Security/CWE/CWE-347/MissingJWTSignatureCheck.qhelp
  java/ql/src/experimental/Security/CWE/CWE-347/MissingJWTSignatureCheck.ql
  java/ql/test/experimental/query-tests/security/CWE-347/MissingJWTSignatureCheck.expected
  java/ql/test/experimental/query-tests/security/CWE-347/MissingJWTSignatureCheck.java
  java/ql/test/experimental/query-tests/security/CWE-347/MissingJWTSignatureCheck.qlref
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/LICENSE
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/ClaimJwtException.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/Claims.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/ClaimsMutator.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/ExpiredJwtException.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/Header.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/Jws.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/JwsHeader.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/Jwt.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/JwtException.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/JwtHandler.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/JwtHandlerAdapter.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/JwtParser.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/JwtParserBuilder.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/Jwts.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/MalformedJwtException.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/SignatureException.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/SigningKeyResolver.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/UnsupportedJwtException.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/impl/DefaultJwtParser.java
  java/ql/test/experimental/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/security/SecurityException.java
Labels: Java, documentation

#5808 Fix typo.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Labels: C#, C++, Java, Python, no-change-note-required

#5631 [Java] CWE-348: Using a client-supplied IP address in a security check
  java/ql/src/experimental/Security/CWE/CWE-348/ClientSuppliedIpUsedInSecurityCheck.java
  java/ql/src/experimental/Security/CWE/CWE-348/ClientSuppliedIpUsedInSecurityCheck.qhelp
  java/ql/src/experimental/Security/CWE/CWE-348/ClientSuppliedIpUsedInSecurityCheck.ql
  java/ql/src/experimental/Security/CWE/CWE-348/ClientSuppliedIpUsedInSecurityCheckLib.qll
  java/ql/test/experimental/query-tests/security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.expected
  java/ql/test/experimental/query-tests/security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.java
  java/ql/test/experimental/query-tests/security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.qlref
  java/ql/test/experimental/query-tests/security/CWE-348/options
  java/ql/test/stubs/springframework-5.2.3/org/springframework/beans/factory/annotation/Autowired.java
Labels: Java, documentation
