Repository github/codeql, pull requests merged in 2021-09, with the labels that each got.

#6579 C#: Fix completely broken type argument extraction in NoMetadataHandleType
  csharp/extractor/Semmle.Extraction.CIL/Entities/NoMetadataHandleType.FullyQualifiedNameParser.cs
  csharp/extractor/Semmle.Util/StringExtensions.cs
Labels: C#

#6572 JS: Add model for `live-server`
  javascript/change-notes/2021-08-30-live-server.md
  javascript/ql/lib/semmle/javascript/frameworks/Connect.qll
  javascript/ql/lib/semmle/javascript/frameworks/HttpFrameworks.qll
  javascript/ql/lib/semmle/javascript/frameworks/LiveServer.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/MissingRateLimiting.qll
  javascript/ql/test/library-tests/frameworks/connect/Credentials.qll
  javascript/ql/test/library-tests/frameworks/connect/HeaderDefinition.qll
  javascript/ql/test/library-tests/frameworks/connect/HeaderDefinition_defines.qll
  javascript/ql/test/library-tests/frameworks/connect/HeaderDefinition_getAHeaderName.qll
  javascript/ql/test/library-tests/frameworks/connect/RequestExpr.qll
  javascript/ql/test/library-tests/frameworks/connect/RequestInputAccess.qll
  javascript/ql/test/library-tests/frameworks/connect/ResponseExpr.qll
  javascript/ql/test/library-tests/frameworks/connect/RouteHandler.qll
  javascript/ql/test/library-tests/frameworks/connect/RouteHandler_getARequestExpr.qll
  javascript/ql/test/library-tests/frameworks/connect/RouteHandler_getAResponseExpr.qll
  javascript/ql/test/library-tests/frameworks/connect/RouteHandler_getAResponseHeader.qll
  javascript/ql/test/library-tests/frameworks/connect/RouteSetup.qll
  javascript/ql/test/library-tests/frameworks/connect/RouteSetup_getARouteHandler.qll
  javascript/ql/test/library-tests/frameworks/connect/RouteSetup_getServer.qll
  javascript/ql/test/library-tests/frameworks/connect/ServerDefinition.qll
  javascript/ql/test/library-tests/frameworks/connect/src/test.js
  javascript/ql/test/library-tests/frameworks/connect/tests.expected
  javascript/ql/test/library-tests/frameworks/connect/tests.ql
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXssWithCustomSanitizer.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/live-server.js
Labels: JS, documentation

#6578 C#: Handle non-critical exception in CIL local variable extraction
  csharp/extractor/Semmle.Extraction.CIL/Entities/DefinitionMethod.cs
Labels: C#

#6582 Expression docs: mention multiple sort criteria
  docs/codeql/ql-language-reference/expressions.rst
Labels: documentation, ready-for-doc-review

#6583 Docs: Update documentation for query suites
  docs/codeql/codeql-cli/creating-codeql-query-suites.rst
Labels: documentation, ready-for-doc-review

#6585 Update qldoc for the Access class
  cpp/ql/lib/semmle/code/cpp/exprs/Access.qll
Labels: C++

#6577 C#: Temporarily extract modified pointers as unmodified during CIL ex…
  csharp/extractor/Semmle.Extraction.CIL/Entities/PointerType.cs
Labels: C#

#6547 Python: Add CWE-328 to `py/weak-sensitive-data-hashing`
  python/ql/src/Security/CWE-327/WeakSensitiveDataHashing.ql
Labels: Python, no-change-note-required

#6558 JS/Python: support case insensitive regexps in the ReDoS queries
  config/identical-files.json
  javascript/ql/lib/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/lib/semmle/javascript/security/performance/RegExpTreeView.qll
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/ReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/tst.js
  python/ql/lib/semmle/python/RegexTreeView.qll
  python/ql/lib/semmle/python/security/performance/ReDoSUtil.qll
  python/ql/lib/semmle/python/security/performance/RegExpTreeView.qll
Labels: JS, Python

#6575 Docs: Auto-update copyright year
  docs/codeql/_templates/layout.html
  docs/codeql/index.html
Labels: documentation

#6594 Move unreachable cases of IndirectType into getAContainedType
  java/ql/src/utils/Stubs.qll
Labels: Java, no-change-note-required

#6597 Java: Hide diff for generated files by default
  .gitattributes
Labels: Java

#6596 C#: Fix ordering of stubbed type members, implemented interfaces, and…
  csharp/ql/src/Stubs/Stubs.qll
  csharp/ql/test/query-tests/Stubs/All/AllStubs.expected
  csharp/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
Labels: C#, no-change-note-required

#6604 Java: Add tests for static and final modifiers relating to record classes
  java/ql/test/library-tests/record-classes/MyFinalRecord.java
  java/ql/test/library-tests/record-classes/MyRecord.java
  java/ql/test/library-tests/record-classes/RecordClasses.expected
  java/ql/test/library-tests/record-classes/RecordClasses.ql
  java/ql/test/library-tests/record-classes/Test.java
  java/ql/test/library-tests/record-classes/options
Labels: Java

#6605 Packaging: Normalize all qlpack.yml files for all languages
  cpp/ql/examples/qlpack.lock.yml
  cpp/ql/examples/qlpack.yml
  cpp/ql/lib/qlpack.yml
  cpp/ql/src/codeql-suites/cpp-code-scanning.qls
  cpp/ql/src/codeql-suites/cpp-lgtm-full.qls
  cpp/ql/src/codeql-suites/cpp-security-and-quality.qls
  cpp/ql/src/codeql-suites/cpp-security-extended.qls
  cpp/ql/src/qlpack.yml
  cpp/ql/test/qlpack.lock.yml
  cpp/ql/test/qlpack.yml
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/qlpack.yml
  cpp/upgrades/qlpack.lock.yml
  cpp/upgrades/qlpack.yml
  csharp/ql/examples/qlpack.lock.yml
  csharp/ql/examples/qlpack.yml
  csharp/ql/lib/qlpack.lock.yml
  csharp/ql/lib/qlpack.yml
  csharp/ql/src/qlpack.lock.yml
  csharp/ql/src/qlpack.yml
  csharp/ql/test/qlpack.lock.yml
  csharp/ql/test/qlpack.yml
  csharp/upgrades/qlpack.yml
  java/ql/examples/qlpack.lock.yml
  java/ql/examples/qlpack.yml
  java/ql/src/qlpack.yml
  java/ql/test/qlpack.yml
  javascript/ql/examples/qlpack.yml
  javascript/ql/src/qlpack.yml
  javascript/ql/test/qlpack.yml
  python/ql/examples/qlpack.yml
  python/ql/lib/qlpack.yml
  python/ql/src/qlpack.yml
  python/ql/test/qlpack.yml
Labels: C#, JS, C++, Java, Python, no-change-note-required

#6349 Python: Improve various library modeling
  python/.vscode/ql.code-snippets
  python/ql/lib/semmle/python/dataflow/new/internal/PrintNode.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/MarkupSafe.qll
  python/ql/lib/semmle/python/frameworks/Multidict.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/Tornado.qll
  python/ql/lib/semmle/python/frameworks/Twisted.qll
  python/ql/lib/semmle/python/frameworks/Werkzeug.qll
  python/ql/lib/semmle/python/frameworks/Yarl.qll
  python/ql/lib/semmle/python/frameworks/internal/InstanceTaintStepsHelper.qll
  python/ql/src/meta/alerts/RemoteFlowSources.ql
  python/ql/src/meta/alerts/RemoteFlowSourcesReach.ql
  python/ql/test/experimental/dataflow/TestUtil/FlowTest.qll
  python/ql/test/experimental/dataflow/TestUtil/RoutingTest.qll
  python/ql/test/experimental/dataflow/method-calls/test.ql
  python/ql/test/experimental/dataflow/tainttracking/TestTaintLib.qll
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/test_collections.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_collections.py
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/experimental/meta/InlineTaintTest.qll
  python/ql/test/library-tests/frameworks/aiohttp/taint_test.py
  python/ql/test/library-tests/frameworks/django-v2-v3/taint_test.py
  python/ql/test/library-tests/frameworks/flask/save_uploaded_file.py
  python/ql/test/library-tests/frameworks/flask/taint_test.py
  python/ql/test/library-tests/frameworks/stdlib/http_server.py
  python/ql/test/library-tests/frameworks/tornado/taint_test.py
Labels: Python, no-change-note-required

#6581 CPP: Improvements for cpp/uncontrolled-arithmetic
  cpp/ql/lib/semmle/code/cpp/security/Overflow.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/test.cpp
Labels: C++

#6603 C++: Add test cases for cpp/improper-null-termination.
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ImproperNullTermination/ImproperNullTermination.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ImproperNullTermination/ImproperNullTerminationTainted.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ImproperNullTermination/ImproperNullTerminationTainted.qlref
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ImproperNullTermination/test.cpp
Labels: C++

#6627 C#: Add readme to stub folder
  csharp/ql/src/Stubs/README.md
Labels: C#, documentation

#6629 C#: Fix dispatch library to handle summarized callables with no runti…
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
Labels: C#

#6460 Python: Add regex parsing consistency checks
  python/ql/lib/semmle/python/RegexTreeView.qll
  python/ql/lib/semmle/python/regex.qll
  python/ql/test/library-tests/regex/Alternation.expected
  python/ql/test/library-tests/regex/Characters.expected
  python/ql/test/library-tests/regex/Consistency.expected
  python/ql/test/library-tests/regex/Consistency.ql
  python/ql/test/library-tests/regex/FirstLast.expected
  python/ql/test/library-tests/regex/Regex.expected
  python/ql/test/library-tests/regex/charRangeTest.py
  python/ql/test/library-tests/regex/escapedCharacterTest.py
  python/ql/test/library-tests/regex/test.py
  python/ql/test/library-tests/regexparser/Consistency.expected
  python/ql/test/library-tests/regexparser/Consistency.ql
  python/ql/test/library-tests/regexparser/KnownCVEs.py
  python/ql/test/library-tests/regexparser/polredos.py
  python/ql/test/library-tests/regexparser/redos.py
  python/ql/test/library-tests/regexparser/unittests.py
Labels: Python, no-change-note-required

#6628 C#: improve stubbing to escape more member names (not just fields)
  csharp/ql/src/Stubs/Stubs.qll
Labels: C#, no-change-note-required

#6574 JS: Use API graphs in Vue model
  javascript/ql/lib/semmle/javascript/AMD.qll
  javascript/ql/lib/semmle/javascript/Closure.qll
  javascript/ql/lib/semmle/javascript/Modules.qll
  javascript/ql/lib/semmle/javascript/NodeJS.qll
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/lib/semmle/javascript/frameworks/Vue.qll
  javascript/ql/lib/semmle/javascript/frameworks/Vuex.qll
  javascript/ql/test/library-tests/frameworks/Vue/tests.expected
  javascript/ql/test/library-tests/frameworks/Vue/tests.ql
  javascript/ql/test/library-tests/frameworks/Vue/tst.js
Labels: JS, no-change-note-required

#6635 C#: Fix CWE tag for `cs/insufficient-key-size`
  csharp/ql/src/Security Features/InsufficientKeySize.ql
Labels: C#, no-change-note-required

#6636 C#: Fix member order (yet again) in stubbing
  csharp/ql/src/Stubs/Stubs.qll
  csharp/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
Labels: C#, no-change-note-required

#6637 Java: Fix performance issues with future versions of codeql.
  java/ql/lib/semmle/code/java/Annotation.qll
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/android/Android.qll
Labels: Java

#6631 Claim Java 16 support
  docs/codeql/support/reusables/versions-compilers.rst
Labels: documentation, ready-for-doc-review

#6549 JS: Add `src` as an unsafe DOM property for `js/xss-through-dom`.
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/XssThroughDomCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/XssThroughDom.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/xss-through-dom.js
Labels: JS

#6641 Dataflow: Only calculate fastTC for the relevant part of edges.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
Labels: C#, C++, Java, Python

#6376 Java: Introduce queries to capture information about 3rd party API usage
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/Telemetry/ExternalAPI.qll
  java/ql/src/Telemetry/ExternalLibraryUsage.ql
  java/ql/src/Telemetry/SupportedExternalSinks.ql
  java/ql/src/Telemetry/SupportedExternalSources.ql
  java/ql/src/Telemetry/SupportedExternalTaint.ql
  java/ql/src/Telemetry/UnsupportedExternalAPIs.ql
  java/ql/test/query-tests/Telemetry/ExternalLibraryUsage/ExternalLibraryUsage.class
  java/ql/test/query-tests/Telemetry/ExternalLibraryUsage/ExternalLibraryUsage.expected
  java/ql/test/query-tests/Telemetry/ExternalLibraryUsage/ExternalLibraryUsage.qlref
  java/ql/test/query-tests/Telemetry/ExternalLibraryUsage/Test.java
  java/ql/test/query-tests/Telemetry/SupportedExternalSinks/SupportedExternalSinks.expected
  java/ql/test/query-tests/Telemetry/SupportedExternalSinks/SupportedExternalSinks.java
  java/ql/test/query-tests/Telemetry/SupportedExternalSinks/SupportedExternalSinks.qlref
  java/ql/test/query-tests/Telemetry/SupportedExternalSources/SupportedExternalSources.expected
  java/ql/test/query-tests/Telemetry/SupportedExternalSources/SupportedExternalSources.java
  java/ql/test/query-tests/Telemetry/SupportedExternalSources/SupportedExternalSources.qlref
  java/ql/test/query-tests/Telemetry/SupportedExternalTaint/SupportedExternalTaint.expected
  java/ql/test/query-tests/Telemetry/SupportedExternalTaint/SupportedExternalTaint.java
  java/ql/test/query-tests/Telemetry/SupportedExternalTaint/SupportedExternalTaint.qlref
  java/ql/test/query-tests/Telemetry/UnsupportedExternalAPIs/Test.java
  java/ql/test/query-tests/Telemetry/UnsupportedExternalAPIs/UnsupportedExternalAPIs.expected
  java/ql/test/query-tests/Telemetry/UnsupportedExternalAPIs/UnsupportedExternalAPIs.qlref
Labels: Java, no-change-note-required

#6648 Java: Fix FunctionalInterface.
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/lib/semmle/code/java/dispatch/WrappedInvocation.qll
Labels: Java, no-change-note-required

#6606 Update the docs about qlpacks
  docs/codeql/codeql-cli/about-ql-packs.rst
Labels: documentation

#6630 C# Extend runtime callables to cover interface members with default implementation
  csharp/ql/lib/semmle/code/csharp/dispatch/RuntimeCallable.qll
  csharp/ql/test/library-tests/dispatch/CallGraph.expected
  csharp/ql/test/library-tests/dispatch/GetADynamicTarget.expected
  csharp/ql/test/library-tests/dispatch/ViableCallable.cs
  csharp/ql/test/library-tests/dispatch/viableCallable.expected
Labels: C#, no-change-note-required

#6407 Java: Track taint for CharSequence#subSequence
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/frameworks/Objects.qll
  java/ql/lib/semmle/code/java/frameworks/Strings.qll
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JythonInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/ScriptInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/SpelInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/experimental/query-tests/security/CWE-759/HashWithoutSalt.expected
  java/ql/test/library-tests/dataflow/taint-format/test.expected
  java/ql/test/library-tests/dataflow/taint/B.java
  java/ql/test/library-tests/dataflow/taint/CharSeq.java
  java/ql/test/library-tests/dataflow/taint/test.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTaintedLocal.expected
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayConstructionLocal.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayIndexLocal.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTaintedLocal.expected
  java/ql/test/query-tests/security/CWE-611/XXE.expected
  java/ql/test/query-tests/security/CWE-681/semmle/tests/NumericCastTaintedLocal.expected
Labels: depends on internal PR, Java, no-change-note-required

#6568 C++: Improve predicate upperBound in SimpleRangeAnalysis
  cpp/change-notes/2021-08-31-range-analysis-upper-bound.md
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/RangeSSA.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/ternaryLower.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/ternaryUpper.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.cpp
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
  cpp/ql/test/query-tests/Critical/OverflowStatic/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.c
Labels: C++, documentation

#6649 JS: Detect untrusted inputs in 'discussion' and 'discussion_comment' payloads
  javascript/ql/src/experimental/Security/CWE-094/ExpressionInjection.ql
Labels: JS

#6586 Data flow: Add precise call contexts to stage 2
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dispatch/Dispatch.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java, Python

#6652 JS: Add type tracking through callback arguments
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/lib/semmle/javascript/dataflow/TrackedNodes.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/StepSummary.qll
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.expected
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
  javascript/ql/test/library-tests/TypeTracking/tst.js
Labels: JS

#6312 Python: Deprecate `importNode`
  python/change-notes/2021-07-16-deprecate-importnode.md
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowUtil.qll
  python/ql/test/experimental/dataflow/ApiGraphs/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/ApiGraphs/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/import-helper/ImportHelper.expected
  python/ql/test/experimental/dataflow/import-helper/ImportHelper.ql
  python/ql/test/experimental/dataflow/import-helper/README.md
  python/ql/test/experimental/dataflow/import-helper/mypkg/__init__.py
  python/ql/test/experimental/dataflow/import-helper/mypkg/bar.py
  python/ql/test/experimental/dataflow/import-helper/mypkg/foo.py
  python/ql/test/experimental/dataflow/import-helper/test1.py
  python/ql/test/experimental/dataflow/import-helper/test2.py
  python/ql/test/experimental/dataflow/import-helper/test3.py
  python/ql/test/experimental/dataflow/import-helper/test4.py
  python/ql/test/experimental/dataflow/import-helper/test5.py
  python/ql/test/experimental/dataflow/import-helper/test6.py
  python/ql/test/experimental/dataflow/import-helper/test7.py
  python/ql/test/experimental/dataflow/import-helper/test_deep.py
  python/ql/test/experimental/dataflow/typetracking/moduleattr.ql
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
Labels: documentation, Python

#6274 Python: Support `import *` in API graphs
  python/ql/lib/semmle/python/ApiGraphs.qll
  python/ql/test/experimental/dataflow/ApiGraphs/test.py
  python/ql/test/experimental/dataflow/ApiGraphs/test_import_star.py
  python/ql/test/experimental/dataflow/ApiGraphs/test_import_star2.py
Labels: Python, no-change-note-required

#6564 Java: Add XXE sinks
  java/ql/lib/semmle/code/java/security/XmlParsers.qll
  java/ql/src/experimental/Security/CWE/CWE-611/XXE.java
  java/ql/src/experimental/Security/CWE/CWE-611/XXE.qhelp
  java/ql/src/experimental/Security/CWE/CWE-611/XXE.ql
  java/ql/src/experimental/Security/CWE/CWE-611/XXELib.qll
  java/ql/src/experimental/Security/CWE/CWE-611/XXELocal.qhelp
  java/ql/src/experimental/Security/CWE/CWE-611/XXELocal.ql
  java/ql/test/experimental/query-tests/security/CWE-611/XXE.expected
  java/ql/test/experimental/query-tests/security/CWE-611/XXE.java
  java/ql/test/experimental/query-tests/security/CWE-611/XXE.qlref
  java/ql/test/experimental/query-tests/security/CWE-611/options
  java/ql/test/stubs/apache-commons-digester3-3.2/org/apache/commons/digester3/Digester.java
  java/ql/test/stubs/dom4j-2.1.1/org/dom4j/DocumentException.java
  java/ql/test/stubs/dom4j-2.1.1/org/dom4j/DocumentHelper.java
  java/ql/test/stubs/rundeck-api-java-client-13.2/org/rundeck/api/parser/ParserHelper.java
Labels: documentation, Java

#5888 JS: Use the new non-extending-subtypes syntax
  javascript/ql/lib/semmle/javascript/Base64.qll
  javascript/ql/lib/semmle/javascript/Closure.qll
  javascript/ql/lib/semmle/javascript/InclusionTests.qll
  javascript/ql/lib/semmle/javascript/MembershipCandidates.qll
  javascript/ql/lib/semmle/javascript/StringOps.qll
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/lib/semmle/javascript/frameworks/Cheerio.qll
  javascript/ql/lib/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/lib/semmle/javascript/frameworks/ComposedFunctions.qll
  javascript/ql/lib/semmle/javascript/frameworks/Electron.qll
  javascript/ql/lib/semmle/javascript/frameworks/EventEmitter.qll
  javascript/ql/lib/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/PropertyProjection.qll
  javascript/ql/lib/semmle/javascript/frameworks/Redux.qll
  javascript/ql/lib/semmle/javascript/frameworks/ShellJS.qll
Labels: JS

#6666 Remove incorrect `suites` directive
  csharp/ql/lib/qlpack.yml
Labels: C#

#6592 language reference entry for non-extending subtypes
  docs/codeql/ql-language-reference/types.rst
Labels: documentation, ready-for-doc-review

#6660 C#: Handle `dotnet exec csc.dll` compiler calls on Windows
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Driver.cs
  csharp/tools/linux64/compiler-tracing.spec
  csharp/tools/linux64/extract-csharp.sh
  csharp/tools/osx64/compiler-tracing.spec
  csharp/tools/osx64/extract-csharp.sh
  csharp/tools/win64/compiler-tracing.spec
Labels: C#

#6672 Java: Extend functional interfaces test
  java/ql/test/library-tests/functional-interfaces/Test.java
Labels: Java

#6673 Java: Remove duplicate classes modeling Object.clone
  java/ql/src/Advisory/Java Objects/AvoidCloneMethodAccess.ql
  java/ql/src/Advisory/Java Objects/AvoidCloneOverride.ql
Labels: Java, no-change-note-required

#6665 ReDoS: fix unpaired surrogate test
  python/ql/test/library-tests/regexparser/redos.py
  python/ql/test/query-tests/Security/CWE-730-ReDoS/ReDoS.expected
  python/ql/test/query-tests/Security/CWE-730-ReDoS/redos.py
Labels: Python

#6502 Add data flow debugging guide to CodeQL docs
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/writing-codeql-queries/codeql-queries.rst
  docs/codeql/writing-codeql-queries/debugging-data-flow-queries-using-partial-flow.rst
Labels: documentation, ready-for-doc-review

#6659 Update version numbers for LGTM Enterprise 1.28
  docs/codeql/conf.py
  docs/codeql/ql-training/conf.py
  docs/codeql/support/conf.py
  docs/codeql/support/framework-support.rst
  docs/codeql/support/language-support.rst
Labels: documentation

#6478 Java: Add sources for Jax-RS filters
  java/change-notes/2021-08-12-jax-rs-filter-sources.md
  java/ql/lib/semmle/code/java/frameworks/JaxWS.qll
  java/ql/test/library-tests/frameworks/JaxWs/JakartaContainerRequestContextSources.java
  java/ql/test/library-tests/frameworks/JaxWs/JakartaRsFlow.java
  java/ql/test/library-tests/frameworks/JaxWs/JaxRsContainerRequestContextSources.java
  java/ql/test/library-tests/frameworks/JaxWs/JaxRsFlow.java
  java/ql/test/library-tests/frameworks/JaxWs/JaxRsFlow.ql
  java/ql/test/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/container/ContainerRequestContext.java
  java/ql/test/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/core/Request.java
  java/ql/test/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/core/SecurityContext.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/container/ContainerRequestContext.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Request.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/SecurityContext.java
Labels: documentation, Java

#6680 Java: Use the standard URL format for Location.toString()
  java/change-notes/2021-09-13-location-toString.md
  java/ql/lib/semmle/code/Location.qll
Labels: depends on internal PR, Java

#6653 Java and JS: Add/adapt tests for literals with an unpaired surrogate character
  java/ql/test/library-tests/literals/literalString.expected
  javascript/ql/lib/semmle/javascript/Regexp.qll
  javascript/ql/test/library-tests/literals/test.expected
  javascript/ql/test/library-tests/literals/test.js
  javascript/ql/test/library-tests/literals/test.ql
  javascript/ql/test/query-tests/Performance/ReDoS/tst.js
Labels: JS, Java

#6682 Java: Add support for callback-based library models.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowNodes.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/lib/semmle/code/java/dispatch/DispatchFlow.qll
  java/ql/lib/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/src/Telemetry/ExternalAPI.qll
  java/ql/test/library-tests/dataflow/callback-dispatch/A.java
  java/ql/test/library-tests/dataflow/callback-dispatch/test.expected
  java/ql/test/library-tests/dataflow/callback-dispatch/test.ql
  java/ql/test/library-tests/dataflow/collections/B.java
  java/ql/test/library-tests/dataflow/local-additional-taint/localAdditionalTaintStep.ql
Labels: Java, no-change-note-required

#6640 Python: add parameter default value flow step
  python/change-notes/2021-09-08-add-flow-from-default-values.md
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/coverage/argumentPassing.py
  python/ql/test/experimental/dataflow/coverage/argumentRouting1.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting2.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting3.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting4.expected
  python/ql/test/experimental/dataflow/coverage/argumentRouting5.expected
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
  python/ql/test/library-tests/PointsTo/new/ImpliesDataflow.expected
Labels: documentation, Python, Awaiting evaluation

#6645 Java: Detect spurious param Javadoc tag of generic classes
  java/change-notes/2021-09-13-javadoc-type-parameters.md
  java/ql/src/Advisory/Documentation/SpuriousJavadocParam.java
  java/ql/src/Advisory/Documentation/SpuriousJavadocParam.qhelp
  java/ql/src/Advisory/Documentation/SpuriousJavadocParam.ql
  java/ql/test/query-tests/SpuriousJavadocParam/Test.java
  java/ql/test/query-tests/SpuriousJavadocParam/test.expected
Labels: documentation, Java

#6688 Python: Fix `globals() == locals()` FP
  python/ql/src/Statements/ModificationOfLocals.ql
  python/ql/test/query-tests/Statements/general/C_StyleParentheses.expected
  python/ql/test/query-tests/Statements/general/ShouldUseWithStatement.expected
  python/ql/test/query-tests/Statements/general/test.py
Labels: Python, no-change-note-required

#6591 Java: Simplify setup for flow tests using `InlineExpectationsTest`
  java/ql/test/TestUtilities/InlineFlowTest.qll
  java/ql/test/library-tests/dataflow/collections/containerflow.ql
  java/ql/test/library-tests/dataflow/fluent-methods/flow.ql
  java/ql/test/library-tests/dataflow/taint-format/A.java
  java/ql/test/library-tests/dataflow/taint-format/test.expected
  java/ql/test/library-tests/dataflow/taint-format/test.ql
  java/ql/test/library-tests/dataflow/taint-jackson/dataFlow.ql
  java/ql/test/library-tests/frameworks/JaxWs/JaxRsFlow.ql
  java/ql/test/library-tests/frameworks/apache-collections/test.ql
  java/ql/test/library-tests/frameworks/apache-commons-lang3/flow.ql
  java/ql/test/library-tests/frameworks/apache-http/flow.ql
  java/ql/test/library-tests/frameworks/guava/generated/cache/test.ql
  java/ql/test/library-tests/frameworks/jackson/test.ql
  java/ql/test/library-tests/frameworks/javax-json/test.ql
  java/ql/test/library-tests/frameworks/json-java/test.ql
  java/ql/test/library-tests/frameworks/spring/beans/test.ql
  java/ql/test/library-tests/frameworks/spring/cache/test.ql
  java/ql/test/library-tests/frameworks/spring/http/flow.ql
  java/ql/test/library-tests/frameworks/spring/ui/test.ql
  java/ql/test/library-tests/frameworks/spring/util/test.ql
  java/ql/test/library-tests/frameworks/spring/validation/test.ql
  java/ql/test/library-tests/frameworks/spring/webmultipart/test.ql
  java/ql/test/library-tests/frameworks/spring/webutil/test.ql
  java/ql/test/library-tests/optional/test.ql
Labels: Java

#6336 Python: Two fixes regarding annotated assignments
  python/ql/lib/semmle/python/Flow.qll
  python/ql/src/Variables/UnusedLocalVariable.ql
  python/ql/test/query-tests/Variables/undefined/UninitializedLocal.py
  python/ql/test/query-tests/Variables/unused/UnusedLocalVariable.expected
  python/ql/test/query-tests/Variables/unused/type_annotation_fp.py
Labels: Python, no-change-note-required

#6283 Python: Fix `ExceptStmt::getType`
  python/ql/lib/semmle/python/Stmts.qll
  python/ql/test/query-tests/Exceptions/generators/test.py
Labels: Python, no-change-note-required

#6456 Java: add unsafe-deserialization support for Flexjson
  java/change-notes/2021-08-09-flexjson-unsafe-deserialization.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/Flexjson.qll
  java/ql/lib/semmle/code/java/security/UnsafeDeserializationQuery.qll
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.qhelp
  java/ql/test/query-tests/security/CWE-502/FlexjsonServlet.java
  java/ql/test/query-tests/security/CWE-502/options
  java/ql/test/stubs/flexjson-2.1/flexjson/JSONDeserializer.java
  java/ql/test/stubs/flexjson-2.1/flexjson/ObjectBinder.java
  java/ql/test/stubs/flexjson-2.1/flexjson/ObjectFactory.java
  java/ql/test/stubs/flexjson-2.1/flexjson/factories/ExistingObjectFactory.java
Labels: documentation, Java

#6393 Java: CWE-079 Query to detect XSS with JavaServer Faces (JSF)
  java/change-notes/2021-09-14-jsf-support.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/jsf/JSFRenderer.qll
  java/ql/lib/semmle/code/java/security/XSS.qll
  java/ql/src/Security/CWE/CWE-209/StackTraceExposure.ql
  java/ql/test/query-tests/security/CWE-079/semmle/tests/JsfXSS.java
  java/ql/test/query-tests/security/CWE-079/semmle/tests/options
  java/ql/test/stubs/javax-faces-2.3/javax/faces/component/UIComponent.java
  java/ql/test/stubs/javax-faces-2.3/javax/faces/context/ExternalContext.java
  java/ql/test/stubs/javax-faces-2.3/javax/faces/context/FacesContext.java
  java/ql/test/stubs/javax-faces-2.3/javax/faces/context/ResponseStream.java
  java/ql/test/stubs/javax-faces-2.3/javax/faces/context/ResponseWriter.java
  java/ql/test/stubs/javax-faces-2.3/javax/faces/render/FacesRenderer.java
  java/ql/test/stubs/javax-faces-2.3/javax/faces/render/Renderer.java
Labels: documentation, Java

#6687 C++: Exclude uninstantiated templates from AV Rule 114.
  cpp/ql/src/jsf/4.13 Functions/AV Rule 114.ql
Labels: C++, no-change-note-required

#6692 Java: Test generator uses `InlineFlowTest`
  java/ql/src/utils/GenerateFlowTestCase.py
  java/ql/src/utils/testFooter.qlfrag
  java/ql/src/utils/testHeader.qlfrag
Labels: Java

#6695 JS: add some CWEs to existing queries
  javascript/ql/src/Security/CWE-200/PrivateFileExposure.ql
  javascript/ql/src/Security/CWE-313/PasswordInConfigurationFile.ql
Labels: JS, no-change-note-required

#6584 JS: Add clipboard data as a source for `js/xss`
  javascript/change-notes/2021-09-01-clipboard-data.md
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/Clipboard.qll
  javascript/ql/src/experimental/Security/CWE-079/ClipboardXss.qhelp
  javascript/ql/src/experimental/Security/CWE-079/ClipboardXss.ql
  javascript/ql/src/experimental/Security/CWE-079/examples/clipboard-xss-sample.js
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/clipboard.ts
Labels: JS, documentation

#6136 Spring HTTP: improve content-type sensitivity
  java/change-notes/2021-08-03-spring-content-types.md
  java/ql/lib/semmle/code/java/frameworks/spring/SpringController.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringHttp.qll
  java/ql/lib/semmle/code/java/security/XSS.qll
  java/ql/test/query-tests/security/CWE-079/semmle/tests/SpringXSS.java
Labels: documentation, Java

#6698 JS: Exclude template files in SelfAssignment
  javascript/ql/src/Expressions/SelfAssignment.ql
  javascript/ql/test/query-tests/Expressions/SelfAssignment/template.njk
Labels: JS, no-change-note-required

#6691 Java: Support String#getChars and #translateEscapes
  java/ql/lib/semmle/code/java/frameworks/Strings.qll
  java/ql/test/library-tests/dataflow/taint/B.java
  java/ql/test/library-tests/dataflow/taint/test.expected
Labels: Java

#6685 Java: Add models for android.net.Uri[.Builder]
  java/change-notes/2021-09-13-android-uri.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/android/Android.qll
  java/ql/test/library-tests/frameworks/android/uri/Test.java
  java/ql/test/library-tests/frameworks/android/uri/options
  java/ql/test/library-tests/frameworks/android/uri/test.expected
  java/ql/test/library-tests/frameworks/android/uri/test.ql
  java/ql/test/stubs/google-android-9.0.0/android/net/Uri.java
Labels: documentation, Java

#6643 C++: Add uninterpreted query for obtaining frontend and extraction time
  cpp/ql/src/Metrics/Internal/DiagnosticsSumElapsedTimes.ql
Labels: C++, no-change-note-required

#6694 JS/Java: use the correct cwe tags
  java/ql/src/experimental/Security/CWE/CWE-016/InsecureSpringActuatorConfig.ql
  java/ql/src/experimental/Security/CWE/CWE-094/JShellInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.ql
  java/ql/src/experimental/Security/CWE/CWE-297/InsecureJavaMail.ql
  java/ql/src/experimental/Security/CWE/CWE-297/InsecureLdapEndpoint.ql
  java/ql/src/experimental/Security/CWE/CWE-489/EJBMain.ql
  java/ql/src/experimental/Security/CWE/CWE-489/WebComponentMain.ql
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureBasicAuth.ql
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureLdapAuth.ql
  java/ql/src/experimental/Security/CWE/CWE-532/SensitiveInfoLog.ql
  java/ql/src/experimental/Security/CWE/CWE-548/InsecureDirectoryConfig.ql
  java/ql/src/experimental/Security/CWE/CWE-598/SensitiveGetQuery.ql
  java/ql/src/experimental/Security/CWE/CWE-600/UncaughtServletException.ql
  java/ql/src/experimental/Security/CWE/CWE-601/SpringUrlRedirect.ql
  java/ql/src/experimental/Security/CWE/CWE-759/HashWithoutSalt.ql
  java/ql/src/experimental/Security/CWE/CWE-927/SensitiveBroadcast.ql
  java/ql/src/experimental/Security/CWE/CWE-939/IncorrectURLVerification.ql
  javascript/ql/src/Security/CWE-295/DisablingCertificateValidation.ql
Labels: JS, Java, no-change-note-required

#6588 CPP: Add query for CWE-675: Duplicate Operations on Resource
  cpp/ql/src/experimental/Security/CWE/CWE-675/DoubleRelease.c
  cpp/ql/src/experimental/Security/CWE/CWE-675/DoubleRelease.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-675/DoubleRelease.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-675/semmle/tests/DoubleRelease.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-675/semmle/tests/DoubleRelease.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-675/semmle/tests/test.cpp
Labels: C++, documentation

#6679 Improve precision on OverflowStatic query.
  cpp/change-notes/2021-09-13-overflow-static.md
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/test/query-tests/Critical/OverflowStatic/OverflowStatic.expected
  cpp/ql/test/query-tests/Critical/OverflowStatic/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/var_size_struct.cpp
Labels: C++, documentation

#6700 Dataflow: Fix bad joinorder in subpaths
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
Labels: C#, C++, Java, Python

#6704 JS: fix dbsheme upgrade from TypeScript 4.4 PR
  javascript/upgrades/e34b3e16dba5d11961119818c9beeff334f20a90/semmlecode.javascript.dbscheme
  javascript/upgrades/e34b3e16dba5d11961119818c9beeff334f20a90/upgrade.properties
Labels: JS

#6696 Python: Copy performance fix for `multiples` from ruby
  python/ql/lib/semmle/python/regex.qll
Labels: Python, no-change-note-required

#6667 Add indirect build tracing docs
  docs/codeql/codeql-cli/creating-codeql-databases.rst
Labels: documentation

#6701 Update links in training notes to use CodeQL microsite
  docs/codeql/codeql-language-guides/abstract-syntax-tree-classes-for-working-with-java-programs.rst
  docs/codeql/ql-training/conf.py
  docs/codeql/ql-training/cpp/bad-overflow-guard.rst
  docs/codeql/ql-training/cpp/control-flow-cpp.rst
  docs/codeql/ql-training/cpp/data-flow-cpp.rst
  docs/codeql/ql-training/cpp/global-data-flow-cpp.rst
  docs/codeql/ql-training/cpp/intro-ql-cpp.rst
  docs/codeql/ql-training/cpp/snprintf.rst
  docs/codeql/ql-training/java/apache-struts-java.rst
  docs/codeql/ql-training/java/data-flow-java.rst
  docs/codeql/ql-training/java/global-data-flow-java.rst
  docs/codeql/ql-training/java/intro-ql-java.rst
  docs/codeql/ql-training/java/query-injection-java.rst
  docs/codeql/ql-training/slide-snippets/abstract-syntax-tree.rst
  docs/codeql/ql-training/slide-snippets/database-note.rst
  docs/codeql/ql-training/slide-snippets/intro-ql-general.rst
  docs/codeql/ql-training/slide-snippets/local-data-flow.rst
  docs/codeql/ql-training/template.rst
Labels: documentation

#6461 C#: Add ServiceStack support
  csharp/change-notes/2021-09-09-service-stack-support.md
  csharp/documentation/library-coverage/frameworks.csv
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/ServiceStack.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/CodeInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/SqlInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/XSSSinks.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/ExternalLocationSink.qll
  csharp/ql/test/library-tests/frameworks/ServiceStack/SinksExternal.cs
  csharp/ql/test/library-tests/frameworks/ServiceStack/SinksInjection.cs
  csharp/ql/test/library-tests/frameworks/ServiceStack/SinksXss.cs
  csharp/ql/test/library-tests/frameworks/ServiceStack/Sources.cs
  csharp/ql/test/library-tests/frameworks/ServiceStack/codeInjectionSinks.expected
  csharp/ql/test/library-tests/frameworks/ServiceStack/codeInjectionSinks.ql
  csharp/ql/test/library-tests/frameworks/ServiceStack/externalLocationSink.expected
  csharp/ql/test/library-tests/frameworks/ServiceStack/externalLocationSink.ql
  csharp/ql/test/library-tests/frameworks/ServiceStack/options
  csharp/ql/test/library-tests/frameworks/ServiceStack/remoteFlowSource.expected
  csharp/ql/test/library-tests/frameworks/ServiceStack/remoteFlowSource.ql
  csharp/ql/test/library-tests/frameworks/ServiceStack/sqlSink.expected
  csharp/ql/test/library-tests/frameworks/ServiceStack/sqlSink.ql
  csharp/ql/test/library-tests/frameworks/ServiceStack/xssSink.expected
  csharp/ql/test/library-tests/frameworks/ServiceStack/xssSink.ql
  csharp/ql/test/resources/stubs/ServiceStack.Client/5.11.0/ServiceStack.Client.cs
  csharp/ql/test/resources/stubs/ServiceStack.Client/5.11.0/ServiceStack.Client.csproj
  csharp/ql/test/resources/stubs/ServiceStack.Common/5.11.0/ServiceStack.Common.cs
  csharp/ql/test/resources/stubs/ServiceStack.Common/5.11.0/ServiceStack.Common.csproj
  csharp/ql/test/resources/stubs/ServiceStack.Interfaces/5.11.0/ServiceStack.Interfaces.cs
  csharp/ql/test/resources/stubs/ServiceStack.Interfaces/5.11.0/ServiceStack.Interfaces.csproj
  csharp/ql/test/resources/stubs/ServiceStack.OrmLite.SqlServer/5.11.0/ServiceStack.OrmLite.SqlServer.cs
  csharp/ql/test/resources/stubs/ServiceStack.OrmLite.SqlServer/5.11.0/ServiceStack.OrmLite.SqlServer.csproj
  csharp/ql/test/resources/stubs/ServiceStack.OrmLite/5.11.0/ServiceStack.OrmLite.cs
  csharp/ql/test/resources/stubs/ServiceStack.OrmLite/5.11.0/ServiceStack.OrmLite.csproj
  csharp/ql/test/resources/stubs/ServiceStack.Redis/5.11.0/ServiceStack.Redis.cs
  csharp/ql/test/resources/stubs/ServiceStack.Redis/5.11.0/ServiceStack.Redis.csproj
  csharp/ql/test/resources/stubs/ServiceStack.Text/5.11.0/ServiceStack.Text.cs
  csharp/ql/test/resources/stubs/ServiceStack.Text/5.11.0/ServiceStack.Text.csproj
  csharp/ql/test/resources/stubs/ServiceStack/5.11.0/ServiceStack.cs
  csharp/ql/test/resources/stubs/ServiceStack/5.11.0/ServiceStack.csproj
  csharp/ql/test/resources/stubs/System.Drawing.Common/4.7.0/System.Drawing.Common.cs
  csharp/ql/test/resources/stubs/System.Drawing.Common/4.7.0/System.Drawing.Common.csproj
Labels: C#, documentation

#6196 C#: Migrate SQL sinks to CSV format
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/Sql.qll
  csharp/ql/test/library-tests/frameworks/sql/Sql1.expected
  csharp/ql/test/library-tests/frameworks/sql/Sql1.ql
  csharp/ql/test/library-tests/frameworks/sql/options
  csharp/ql/test/library-tests/frameworks/sql/sql.cs
Labels: C#, documentation, no-change-note-required

#6600 Java: Fix performance of the query User-controlled bypass of sensitive method
  java/change-notes/2021-09-14-conditional-bypass-improvements.md
  java/ql/lib/semmle/code/java/security/ConditionalBypassQuery.qll
  java/ql/lib/semmle/code/java/security/SensitiveActions.qll
  java/ql/src/Security/CWE/CWE-807/ConditionalBypass.ql
  java/ql/test/query-tests/security/CWE-807/semmle/tests/ConditionalBypass.expected
  java/ql/test/query-tests/security/CWE-807/semmle/tests/ConditionalBypass.qlref
  java/ql/test/query-tests/security/CWE-807/semmle/tests/ConditionalBypassTest.expected
  java/ql/test/query-tests/security/CWE-807/semmle/tests/ConditionalBypassTest.java
  java/ql/test/query-tests/security/CWE-807/semmle/tests/ConditionalBypassTest.ql
  java/ql/test/query-tests/security/CWE-807/semmle/tests/TaintedPermissionsCheck.expected
  java/ql/test/query-tests/security/CWE-807/semmle/tests/TaintedPermissionsCheckTest.java
Labels: documentation, Java

#6712 C#: Speedup type subsumption calculation
  csharp/ql/lib/semmle/code/csharp/Unification.qll
  csharp/ql/test/library-tests/dataflow/types/Types.expected
Labels: C#

#6718 C#: Add `subpaths` predicate to XSS queries
  csharp/ql/lib/semmle/code/csharp/security/dataflow/XSSQuery.qll
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/XSS.expected
Labels: C#

#6709 Java: Add container flow to the local taint flow relation.
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Labels: Java

#6557 Python: port modification of default value
  python/change-notes/2021-08-30-port-modifying-default-query.md
  python/ql/src/Functions/ModificationOfParameterWithDefault.ql
  python/ql/src/semmle/python/functions/ModificationOfParameterWithDefault.qll
  python/ql/src/semmle/python/functions/ModificationOfParameterWithDefaultCustomizations.qll
  python/ql/test/query-tests/Functions/ModificationOfParameterWithDefault/ModificationOfParameterWithDefault.expected
  python/ql/test/query-tests/Functions/ModificationOfParameterWithDefault/ModificationOfParameterWithDefault.qlref
  python/ql/test/query-tests/Functions/ModificationOfParameterWithDefault/test.expected
  python/ql/test/query-tests/Functions/ModificationOfParameterWithDefault/test.py
  python/ql/test/query-tests/Functions/ModificationOfParameterWithDefault/test.ql
  python/ql/test/query-tests/Functions/general/ModificationOfParameterWithDefault.expected
  python/ql/test/query-tests/Functions/general/functions_test.py
  python/ql/test/query-tests/Functions/general/options
Labels: documentation, Python

#6589 Python: Promote modeling of SQLAlchemy
  docs/codeql/support/reusables/frameworks.rst
  python/change-notes/2021-09-02-add-Flask-SQLAlchemy-modeling.md
  python/change-notes/2021-09-02-add-SQLAlchemy-modeling.md
  python/change-notes/2021-09-02-add-SQLAlchemyTextClauseInjection-query.md
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/FlaskSqlAlchemy.qll
  python/ql/lib/semmle/python/frameworks/SqlAlchemy.qll
  python/ql/lib/semmle/python/security/dataflow/SQLAlchemyTextClause.qll
  python/ql/lib/semmle/python/security/dataflow/SQLAlchemyTextClauseCustomizations.qll
  python/ql/src/Security/CWE-089/SQLAlchemyTextClauseInjection.qhelp
  python/ql/src/Security/CWE-089/SQLAlchemyTextClauseInjection.ql
  python/ql/src/Security/CWE-089/examples/sqlalchemy_textclause_injection.py
  python/ql/src/experimental/semmle/python/frameworks/SqlAlchemy.qll
  python/ql/test/experimental/library-tests/frameworks/sqlalchemy/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/sqlalchemy/InlineTaintTest.ql
  python/ql/test/experimental/library-tests/frameworks/sqlalchemy/taint_test.py
  python/ql/test/library-tests/frameworks/flask_sqlalchemy/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/flask_sqlalchemy/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/flask_sqlalchemy/InlineTaintTest.expected
  python/ql/test/library-tests/frameworks/flask_sqlalchemy/InlineTaintTest.ql
  python/ql/test/library-tests/frameworks/flask_sqlalchemy/SqlExecution.py
  python/ql/test/library-tests/frameworks/sqlalchemy/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/sqlalchemy/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/sqlalchemy/InlineTaintTest.expected
  python/ql/test/library-tests/frameworks/sqlalchemy/InlineTaintTest.ql
  python/ql/test/library-tests/frameworks/sqlalchemy/SqlExecution.py
  python/ql/test/library-tests/frameworks/sqlalchemy/new_tests.py
  python/ql/test/library-tests/frameworks/sqlalchemy/taint_test.py
  python/ql/test/query-tests/Security/CWE-089-SQLAlchemyTextClauseInjection/SQLAlchemyTextClauseInjection.expected
  python/ql/test/query-tests/Security/CWE-089-SQLAlchemyTextClauseInjection/SQLAlchemyTextClauseInjection.qlref
  python/ql/test/query-tests/Security/CWE-089-SQLAlchemyTextClauseInjection/test.py
Labels: documentation, Python

#6721 Dataflow: Fix join-order in subpaths01
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
Labels: C#, C++, Java, Python

#6720 Java: Fix join-order in isUnreachableInCall.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
Labels: Java

#6409 cpp: Add query to detect unsigned integer to signed integer conversio…
  cpp/ql/src/experimental/Security/CWE/CWE-787/UnsignedToSignedPointerArith.ql
Labels: C++

#6133 C++: Promote `cpp/sql-injection-via-pqxx` out of experimental
  cpp/change-notes/2021-06-22-sql-tainted.md
  cpp/ql/lib/semmle/code/cpp/models/Models.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/MySql.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/PostgreSql.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/SqLite3.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/Sql.qll
  cpp/ql/lib/semmle/code/cpp/security/Security.qll
  cpp/ql/src/Security/CWE/CWE-089/SqlTainted.ql
  cpp/ql/src/experimental/Security/CWE/CWE-089/SqlPqxxTainted.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-089/SqlPqxxTainted.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-089/SqlPqxxTainted.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/test.cpp
Labels: C++, documentation

#6727 Python: Merge SQLAlchemy TextClause injection into `py/sql-injection`
  python/change-notes/2021-09-02-add-SQLAlchemyTextClauseInjection-query.md
  python/change-notes/2021-09-02-add-SQLAlchemyTextClauseInjection.md
  python/ql/lib/semmle/python/security/dataflow/SQLAlchemyTextClause.qll
  python/ql/lib/semmle/python/security/dataflow/SQLAlchemyTextClauseCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/SqlInjectionCustomizations.qll
  python/ql/src/Security/CWE-089/SQLAlchemyTextClauseInjection.qhelp
  python/ql/src/Security/CWE-089/SQLAlchemyTextClauseInjection.ql
  python/ql/src/Security/CWE-089/SqlInjection.qhelp
  python/ql/src/Security/CWE-089/examples/sqlalchemy_textclause_injection.py
  python/ql/test/query-tests/Security/CWE-089-SQLAlchemyTextClauseInjection/SQLAlchemyTextClauseInjection.expected
  python/ql/test/query-tests/Security/CWE-089-SQLAlchemyTextClauseInjection/SQLAlchemyTextClauseInjection.qlref
  python/ql/test/query-tests/Security/CWE-089-SqlInjection/SqlInjection.expected
  python/ql/test/query-tests/Security/CWE-089-SqlInjection/sqlalchemy_textclause.py
Labels: documentation, Python

#6722 Update documentation to reflect changes to `database analyze`
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
Labels: documentation, no-change-note-required

#6728 C++: Add additional functions to the SQL models
  cpp/ql/lib/semmle/code/cpp/models/implementations/MySql.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/SqLite3.qll
Labels: C++

#6732 Python: Minor sqlalchemy comment fixes
  python/ql/lib/semmle/python/frameworks/SqlAlchemy.qll
  python/ql/test/library-tests/frameworks/sqlalchemy/new_tests.py
Labels: Python, no-change-note-required

#6711 Fix Android logging signature
  java/ql/src/experimental/semmle/code/java/Logging.qll
Labels: Java

#6731 Remove `CODEQL_REDUCE_FILES_FOLDERS_RELATIONS`
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildActions.cs
  csharp/codeql-extractor.yml
  javascript/extractor/src/com/semmle/js/extractor/test/TrapTests.java
Labels: C#, JS

#5445 Python: Add LDAP Insecure Authentication query
  python/ql/src/experimental/Security/CWE-522/LDAPInsecureAuth.qhelp
  python/ql/src/experimental/Security/CWE-522/LDAPInsecureAuth.ql
  python/ql/src/experimental/Security/CWE-522/examples/LDAPInsecureAuth.py
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/frameworks/LDAP.qll
  python/ql/src/experimental/semmle/python/security/LDAPInsecureAuth.qll
  python/ql/test/experimental/query-tests/Security/CWE-522-global-option/LDAPInsecureAuth.expected
  python/ql/test/experimental/query-tests/Security/CWE-522-global-option/LDAPInsecureAuth.qlref
  python/ql/test/experimental/query-tests/Security/CWE-522-global-option/ldap2_global.py
  python/ql/test/experimental/query-tests/Security/CWE-522/LDAPInsecureAuth.expected
  python/ql/test/experimental/query-tests/Security/CWE-522/LDAPInsecureAuth.qlref
  python/ql/test/experimental/query-tests/Security/CWE-522/ldap2_private.py
  python/ql/test/experimental/query-tests/Security/CWE-522/ldap2_remote.py
  python/ql/test/experimental/query-tests/Security/CWE-522/ldap3_private.py
  python/ql/test/experimental/query-tests/Security/CWE-522/ldap3_remote.py
Labels: documentation, Python

#6725 Java: Remove requirements for final and access mods from DateFormatThreadUnsafe
  java/ql/src/Likely Bugs/Concurrency/DateFormatThreadUnsafe.java
  java/ql/src/Likely Bugs/Concurrency/DateFormatThreadUnsafe.ql
Labels: Java, no-change-note-required

#6493 Java: Refactor Cleartext Storage queries
  java/ql/lib/semmle/code/java/security/CleartextStorageClassQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageCookieQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStoragePropertiesQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageQuery.qll
  java/ql/src/Security/CWE/CWE-312/CleartextStorageClass.ql
  java/ql/src/Security/CWE/CWE-312/CleartextStorageCookie.ql
  java/ql/src/Security/CWE/CWE-312/CleartextStorageProperties.ql
  java/ql/src/Security/CWE/CWE-312/SensitiveStorage.qll
Labels: documentation, Java, no-change-note-required

#6744 C++: add subpaths to DefaultTaintTracking
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-022/SAMATE/TaintedPath/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-079/semmle/CgiXss/CgiXss.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/SAMATE/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/SAMATE/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/ifs/ifs.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/SAMATE/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-290/semmle/AuthenticationBypass/AuthenticationBypass.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/TaintedCondition.expected
Labels: C++, depends on internal PR

#6747 Java: Organize `utils` into separate directories
  java/ql/src/utils/flow-testcase-generator/FlowTestCase.qll
  java/ql/src/utils/flow-testcase-generator/FlowTestCaseSupportMethods.qll
  java/ql/src/utils/flow-testcase-generator/FlowTestCaseUtils.qll
  java/ql/src/utils/flow-testcase-generator/GenerateFlowTestCase.py
  java/ql/src/utils/flow-testcase-generator/GenerateFlowTestCase.qll
  java/ql/src/utils/flow-testcase-generator/testHeader.qlfrag
  java/ql/src/utils/flow-testcase-generator/testModelsFooter.qlfrag
  java/ql/src/utils/flow-testcase-generator/testModelsHeader.qlfrag
  java/ql/src/utils/stub-generator/MinimalStubsFromSource.ql
  java/ql/src/utils/stub-generator/Stubs.qll
  java/ql/src/utils/stub-generator/makeStubs.py
Labels: Java, no-change-note-required

#6733 C++/C#: Fix QLDoc on `InitializeDynamicAllocationInstruction`.{`getAllocationAddressOperand` and `getAllocationAddress`}
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C#, C++

#6331 Python : Improve Xpath Injection Query
  python/ql/src/experimental/Security/CWE-643/XpathInjection.qhelp
  python/ql/src/experimental/Security/CWE-643/XpathInjection.ql
  python/ql/src/experimental/Security/CWE-643/XpathInjection.qll
  python/ql/src/experimental/Security/CWE-643/XpathInjectionCustomizations.qll
  python/ql/src/experimental/Security/CWE-643/xpath.ql
  python/ql/src/experimental/semmle/python/security/injection/Xpath.qll
  python/ql/test/experimental/query-tests/Security/CWE-643/XpathInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-643/XpathInjection.qlref
  python/ql/test/experimental/query-tests/Security/CWE-643/options
  python/ql/test/experimental/query-tests/Security/CWE-643/xpath.expected
  python/ql/test/experimental/query-tests/Security/CWE-643/xpath.qlref
  python/ql/test/experimental/query-tests/Security/CWE-643/xpathSinks.expected
  python/ql/test/experimental/query-tests/Security/CWE-643/xpathSinks.ql
Labels: documentation, Python

#6753 Fix typo in language spec
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#6754 Update one more link in the QL training content
  docs/codeql/support/ql-training.rst
Labels: documentation

#6745 C++: Handle overflow for upperbound
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
Labels: bug, C++, no-change-note-required

#6757 C++: Small improvement to cpp/improper-null-termination
  cpp/ql/lib/semmle/code/cpp/commons/NullTermination.qll
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ImproperNullTermination/ImproperNullTermination.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ImproperNullTermination/test.cpp
Labels: C++

#6749 Java: Add StringLiteral.isTextBlock().
  java/ql/lib/semmle/code/java/Expr.qll
Labels: Java, no-change-note-required

#6097 Java: Promote XSLT Injection from experimental
  java/change-notes/2021-06-16-xslt-injection-query.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/security/XsltInjection.qll
  java/ql/lib/semmle/code/java/security/XsltInjectionQuery.qll
  java/ql/src/Security/CWE/CWE-074/XsltInjection.java
  java/ql/src/Security/CWE/CWE-074/XsltInjection.qhelp
  java/ql/src/Security/CWE/CWE-074/XsltInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-074/XsltInjectionLib.qll
  java/ql/test/experimental/query-tests/security/CWE-074/XsltInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-074/XsltInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-074/options
  java/ql/test/query-tests/security/CWE-074/XsltInjectionTest.expected
  java/ql/test/query-tests/security/CWE-074/XsltInjectionTest.java
  java/ql/test/query-tests/security/CWE-074/XsltInjectionTest.ql
  java/ql/test/query-tests/security/CWE-074/options
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/Configuration.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/lib/SourceResolver.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/om/NotationSet.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/AbstractXsltTransformer.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/Destination.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/Processor.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/QName.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/SaxonApiException.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/SaxonApiUncheckedException.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XdmItem.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XdmValue.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/Xslt30Transformer.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XsltCompiler.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XsltExecutable.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XsltPackage.java
  java/ql/test/stubs/Saxon-HE-9.9.1-7/net/sf/saxon/s9api/XsltTransformer.java
Labels: documentation, Java, ready-for-doc-review

#6762 Update links to match those on the staging site
  docs/codeql/support/ql-training.rst
Labels: documentation

#6765 Docs: Fix inconsistencies in sphinx config files
  docs/codeql/ql-training/conf.py
  docs/codeql/support/conf.py
Labels: documentation

#6740 Java: Add callback dispatch to more anonymous classes.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/callback-dispatch/A.java
Labels: Java

#6724 Java: Add sources for content providers in Android
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/frameworks/android/Android.qll
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/test/library-tests/frameworks/android/content-provider/AndroidManifest.xml
  java/ql/test/library-tests/frameworks/android/content-provider/Safe.java
  java/ql/test/library-tests/frameworks/android/content-provider/Test.java
  java/ql/test/library-tests/frameworks/android/content-provider/options
  java/ql/test/library-tests/frameworks/android/content-provider/test.expected
  java/ql/test/library-tests/frameworks/android/content-provider/test.ql
  java/ql/test/stubs/google-android-9.0.0/android/annotation/Nullable.java
  java/ql/test/stubs/google-android-9.0.0/android/content/ContentInterface.java
  java/ql/test/stubs/google-android-9.0.0/android/content/ContentProvider.java
  java/ql/test/stubs/google-android-9.0.0/android/content/ContentValues.java
  java/ql/test/stubs/google-android-9.0.0/android/content/pm/PathPermission.java
  java/ql/test/stubs/google-android-9.0.0/android/content/res/AssetFileDescriptor.java
  java/ql/test/stubs/google-android-9.0.0/android/database/Cursor.java
  java/ql/test/stubs/google-android-9.0.0/android/os/CancellationSignal.java
  java/ql/test/stubs/google-android-9.0.0/android/os/ParcelFileDescriptor.java
  java/ql/test/stubs/google-android-9.0.0/android/os/PatternMatcher.java
  java/ql/test/stubs/google-android-9.0.0/android/os/RemoteException.java
  java/ql/test/stubs/google-android-9.0.0/android/util/AndroidException.java
  java/ql/test/stubs/google-android-9.0.0/android/util/ArrayMap.java
  java/ql/test/stubs/google-android-9.0.0/android/util/Pair.java
  java/ql/test/stubs/google-android-9.0.0/androidx/annotation/NonNull.java
Labels: Java

#6505 QL Language Spec: Trailing comma in set literal
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation, no-change-note-required

#6769 Fix dead links in README.md
  README.md
Labels: documentation

#6764 Docs: Fix a few links in the training slides
  docs/codeql/README.rst
  docs/codeql/ql-training/java/apache-struts-java.rst
  docs/codeql/ql-training/java/global-data-flow-java.rst
  docs/codeql/ql-training/slide-snippets/local-data-flow.rst
  docs/codeql/ql-training/template.rst
Labels: documentation

#6678 C++: Refactor code to use predicate isGuardPhi/4
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/NanAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/RangeSSA.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Labels: C++, no-change-note-required

#6748 Java: Avoid stubbing methods with private parameter types
  java/ql/src/utils/stub-generator/Stubs.qll
Labels: Java, no-change-note-required

#6760 Increase precision to high for cpp/static-buffer-overflow
  cpp/change-notes/2021-09-27-overflow-static.md
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/src/Critical/OverflowStatic.ql
  cpp/ql/test/query-tests/Critical/OverflowStatic/OverflowStatic.expected
  cpp/ql/test/query-tests/Critical/OverflowStatic/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowStatic.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/var_size_struct.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/varsize.expected
Labels: C++, depends on internal PR, documentation

#6773 C#: Handle invalid code gracefully: global statements in library
  csharp/extractor/Semmle.Extraction.CSharp/Populators/CompilationUnitVisitor.cs
Labels: C#

#6184 C++: Refactor ExecTainted.ql to only report results after string concatenation
  cpp/change-notes/2021-09-27-command-line-injection.md
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/ResolveCall.qll
  cpp/ql/lib/semmle/code/cpp/models/Models.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/System.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/CommandExecution.qll
  cpp/ql/lib/semmle/code/cpp/security/CommandExecution.qll
  cpp/ql/lib/semmle/code/cpp/security/FunctionWithWrappers.qll
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.c
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
  cpp/ql/test/include/iterator.h
  cpp/ql/test/include/string.h
  cpp/ql/test/include/type_traits.h
  cpp/ql/test/query-tests/Security/CWE/CWE-078/SAMATE/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/test.cpp
Labels: C++, documentation

#6738 Python: Add QLDoc to `Function.getArgByName`
  python/ql/lib/semmle/python/Function.qll
Labels: Python, no-change-note-required

#5852 Java: CWE-798 Query to detect hard-coded Azure credentials
  java/change-notes/2021-05-12-hardcoded-azure-credentials-in-api-call.md
  java/ql/src/Security/CWE/CWE-798/SensitiveApi.qll
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedAzureCredentials.java
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedCredentialsApiCall.expected
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedCredentialsSourceCall.expected
  java/ql/test/query-tests/security/CWE-798/semmle/tests/options
  java/ql/test/stubs/azure-sdk-for-java/com/azure/core/credential/TokenCredential.java
  java/ql/test/stubs/azure-sdk-for-java/com/azure/identity/AadCredentialBuilderBase.java
  java/ql/test/stubs/azure-sdk-for-java/com/azure/identity/ClientSecretCredential.java
  java/ql/test/stubs/azure-sdk-for-java/com/azure/identity/ClientSecretCredentialBuilder.java
  java/ql/test/stubs/azure-sdk-for-java/com/azure/identity/CredentialBuilderBase.java
  java/ql/test/stubs/azure-sdk-for-java/com/azure/identity/TokenCachePersistenceOptions.java
  java/ql/test/stubs/azure-sdk-for-java/com/azure/identity/UsernamePasswordCredential.java
  java/ql/test/stubs/azure-sdk-for-java/com/azure/identity/UsernamePasswordCredentialBuilder.java
  java/ql/test/stubs/azure-sdk-for-java/com/azure/security/keyvault/secrets/SecretClient.java
  java/ql/test/stubs/azure-sdk-for-java/com/azure/security/keyvault/secrets/SecretClientBuilder.java
  java/ql/test/stubs/azure-sdk-for-java/com/azure/security/keyvault/secrets/models/KeyVaultSecret.java
  java/ql/test/stubs/azure-sdk-for-java/com/azure/security/keyvault/secrets/models/SecretProperties.java
Labels: documentation, Java

#5907 Java: CWE-798: Query to detect hard-coded SHIRO key
  java/change-notes/2021-05-24-hardcoded-shiro-key-in-api-call.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/Security/CWE/CWE-798/HardcodedCredentialsApiCall.ql
  java/ql/src/Security/CWE/CWE-798/SensitiveApi.qll
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedCredentialsApiCall.expected
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedShiroKey.java
  java/ql/test/query-tests/security/CWE-798/semmle/tests/options
  java/ql/test/stubs/shiro-core-1.4.0/org/apache/shiro/codec/Base64.java
  java/ql/test/stubs/shiro-core-1.4.0/org/apache/shiro/crypto/AbstractSymmetricCipherService.java
  java/ql/test/stubs/shiro-core-1.4.0/org/apache/shiro/crypto/AesCipherService.java
  java/ql/test/stubs/shiro-core-1.4.0/org/apache/shiro/crypto/CipherService.java
  java/ql/test/stubs/shiro-core-1.4.0/org/apache/shiro/crypto/DefaultBlockCipherService.java
  java/ql/test/stubs/shiro-core-1.4.0/org/apache/shiro/crypto/JcaCipherService.java
  java/ql/test/stubs/shiro-core-1.4.0/org/apache/shiro/crypto/OperationMode.java
  java/ql/test/stubs/shiro-core-1.4.0/org/apache/shiro/crypto/PaddingScheme.java
  java/ql/test/stubs/shiro-core-1.4.0/org/apache/shiro/mgt/AbstractRememberMeManager.java
  java/ql/test/stubs/shiro-core-1.4.0/org/apache/shiro/web/mgt/CookieRememberMeManager.java
Labels: documentation, Java
