Repository github/codeql, pull requests merged in 2021-02, with the labels that each got.

#5058 Python: Add consistency checks to all data-flow test folders
  python/ql/test/experimental/dataflow/basic/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/basic/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/coverage/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/coverage/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/fieldflow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/fieldflow/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/global-flow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/global-flow/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/import-helper/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/import-helper/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/pep_328/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/pep_328/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/regression/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/regression/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/strange-essaflow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/strange-essaflow/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/basic/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/basic/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/commonSanitizer/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/commonSanitizer/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/unwanted-global-flow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/unwanted-global-flow/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/typetracking/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/typetracking/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.ql
Labels: Python

#5064 Python: Add missing override annotation
  python/ql/src/semmle/python/security/injection/Xml.qll
Labels: Python

#5062 JS: add tests for some syntactic XSS vector obfuscations
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/various-concat-obfuscations.js
Labels: JS

#5061 C++: Add more memcpy, memset, strcat and strcpy models
  cpp/ql/src/semmle/code/cpp/models/implementations/Memcpy.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Memset.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++

#5063 C#: Report IndexerProperty as Property in the PrintAST query
  csharp/ql/src/semmle/code/csharp/Property.qll
  csharp/ql/test/library-tests/arguments/PrintAst.expected
  csharp/ql/test/library-tests/attributes/PrintAst.expected
  csharp/ql/test/library-tests/csharp6/PrintAst.expected
  csharp/ql/test/library-tests/csharp8/PrintAst.expected
  csharp/ql/test/library-tests/expressions/PrintAst.expected
  csharp/ql/test/library-tests/generics/PrintAst.expected
  csharp/ql/test/library-tests/members/PrintAst.expected
  csharp/ql/test/library-tests/properties/PrintAst.expected
Labels: C#

#5053 Python: Add locations for ESSA variables
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/src/semmle/python/essa/Essa.qll
Labels: Python

#5042 Python: Add full-path modeling of Django more view classes
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/routing_test.py
Labels: Python

#5068 Remove duplicate word in language specification
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#5051 C#: Reduce caching in `SsaImplCommon.qll`
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
Labels: C#

#5056 JS: Add `js/code-injection` sink for script tags in React
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/react.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/react.js
Labels: JS

#5065 C++: Add sscanf and fscanf models
  cpp/ql/src/semmle/code/cpp/commons/Scanf.qll
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Sscanf.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Labels: C++

#5070 C++: Add strsep model implementation.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strtok.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++

#5059 C++: Exclude custom vprintf implementations from primitiveVariadicFormatter.
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_two_byte_wprintf/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_two_byte_wprintf/formattingFunction.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_two_byte_wprintf/printf.cpp
Labels: C++

#5072 C++: Implement model for _strinc and related functions
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcrement.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++

#5074 C++: Implement a model for _strnextc and its variants
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strnextc.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++

#5049 JS: support html attribute concatenations with single quotes
  javascript/ql/src/semmle/javascript/security/IncompleteBlacklistSanitizer.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IncompleteHtmlAttributeSanitization.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IncompleteHtmlAttributeSanitizationCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteBlacklistSanitizer.expected
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteHtmlAttributeSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/tst.js
Labels: Awaiting evaluation, JS

#4987 JS: flag less overly general functions with js/unneeded-defensive-code
  javascript/change-notes/2021-01-21-unneeded-defensive-code.md
  javascript/ql/src/Expressions/UnneededDefensiveProgramming.ql
  javascript/ql/test/query-tests/Expressions/UnneededDefensiveProgramming/tst.js
Labels: JS, documentation

#5067 C#: Adjust CFG for `{Recursive,Positional,Property}PatternExpr`
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/csharp8/PrintAst.expected
  csharp/ql/test/library-tests/csharp8/ispatternflow.expected
  csharp/ql/test/library-tests/csharp8/switchexprcontrolflow.expected
  csharp/ql/test/library-tests/csharp8/switchstmtctrlflow.expected
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/typePattern.expected
Labels: C#

#5077 C++: Revert #4784
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/ArithmeticUncontrolled.expected
Labels: C++

#4989 Java: Track taint through Spring Java bean getters on super types
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Labels: Java

#4926 Java: Query to detect weak encryption: insufficient key size
  java/ql/src/experimental/Security/CWE/CWE-326/InsufficientKeySize.java
  java/ql/src/experimental/Security/CWE/CWE-326/InsufficientKeySize.qhelp
  java/ql/src/experimental/Security/CWE/CWE-326/InsufficientKeySize.ql
  java/ql/src/semmle/code/java/security/Encryption.qll
  java/ql/test/experimental/query-tests/security/CWE-326/InsufficientKeySize.expected
  java/ql/test/experimental/query-tests/security/CWE-326/InsufficientKeySize.java
  java/ql/test/experimental/query-tests/security/CWE-326/InsufficientKeySize.qlref
Labels: Java, documentation

#5071 C#: Move uncertain-read logic into shared SSA implementation
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImplSpecific.qll
Labels: C#

#5052 C#: Add data flow 'getARuntimeTarget' predicate to 'FunctionPointerCall'
  csharp/ql/src/Dead Code/DeadStoreOfLocal.ql
  csharp/ql/src/experimental/ir/implementation/raw/internal/desugar/Delegate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/CallContext.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DelegateDataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
  csharp/ql/src/semmle/code/csharp/metrics/Coupling.qll
  csharp/ql/test/library-tests/dataflow/delegates/DelegateFlow.cs
  csharp/ql/test/library-tests/dataflow/delegates/DelegateFlow.expected
  csharp/ql/test/library-tests/dataflow/functionpointers/FunctionPointerFlow.cs
  csharp/ql/test/library-tests/dataflow/functionpointers/FunctionPointerFlow.expected
  csharp/ql/test/library-tests/dataflow/functionpointers/FunctionPointerFlow.ql
  csharp/ql/test/library-tests/expressions/DelegateCall1.ql
  csharp/ql/test/library-tests/expressions/DelegateCall2.ql
  csharp/ql/test/library-tests/expressions/DelegateCall3.ql
  csharp/ql/test/library-tests/expressions/EventAccess3.ql
Labels: C#

#5082 C#: Add initial DB scheme
  csharp/upgrades/initial/semmlecode.csharp.dbscheme
Labels: C#

#5081 C++: Add more indirection flow in dataflow models
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/IdentityFunction.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#5088 Python: Fix small typo in test-output
  python/ql/test/experimental/dataflow/import-helper/test4.py
  python/ql/test/experimental/dataflow/import-helper/test7.py
Labels: Python

#5047 Python: dataflow, unify iterated unpacking
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
  python/ql/test/experimental/dataflow/regression/dataflow.expected
  python/ql/test/experimental/dataflow/regression/test.py
Labels: Python

#5076 C++: Improve cpp/unsigned-difference-expression-compared-zero
  cpp/ql/src/experimental/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/UnsignedDifferenceExpressionComparedZero.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/UnsignedDifferenceExpressionComparedZero.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/test.cpp
Labels: C++

#5011 CPP: add query for CWE-788 Access of memory location after the end of a buffer using strlen.
  cpp/ql/src/experimental/Security/CWE/CWE-788/AccessOfMemoryLocationAfterEndOfBufferUsingStrlen.c
  cpp/ql/src/experimental/Security/CWE/CWE-788/AccessOfMemoryLocationAfterEndOfBufferUsingStrlen.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-788/AccessOfMemoryLocationAfterEndOfBufferUsingStrlen.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/AccessOfMemoryLocationAfterEndOfBufferUsingStrlen.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/AccessOfMemoryLocationAfterEndOfBufferUsingStrlen.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/test.c
Labels: C++, documentation

#4854 Java: Insecure LDAP authentication
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureBasicAuth.ql
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureLdapAuth.java
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureLdapAuth.qhelp
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureLdapAuth.ql
  java/ql/src/semmle/code/java/frameworks/Networking.qll
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureLdapAuth.expected
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureLdapAuth.java
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureLdapAuth.qlref
Labels: Java, documentation

#5010 CPP: Add query for CWE-570 detect and handle memory allocation errors.
  cpp/ql/src/experimental/Security/CWE/CWE-570/WrongInDetectingAndHandlingMemoryAllocationErrors.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-570/WrongInDetectingAndHandlingMemoryAllocationErrors.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-570/WrongInDetectingAndHandlingMemoryAllocationErrors.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-570/semmle/tests/WrongInDetectingAndHandlingMemoryAllocationErrors.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-570/semmle/tests/WrongInDetectingAndHandlingMemoryAllocationErrors.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-570/semmle/tests/test.cpp
Labels: C++, documentation

#5094 Promote cpp/unsigned-difference-expression-compared-zero out of experimental
  cpp/change-notes/2020-02-04-unsigned-difference-expression-compared-zero.md
  cpp/config/suites/cpp/correctness
  cpp/ql/src/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.c
  cpp/ql/src/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.qhelp
  cpp/ql/src/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.ql
  cpp/ql/src/experimental/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.c
  cpp/ql/src/experimental/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.qhelp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/UnsignedDifferenceExpressionComparedZero.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/UnsignedDifferenceExpressionComparedZero.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/UnsignedDifferenceExpressionComparedZero.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/UnsignedDifferenceExpressionComparedZero.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/test.cpp
Labels: C++, documentation

#5093 Python: Fix query names with dunder (__)
  python/ql/src/Classes/DefineEqualsWhenAddingAttributes.ql
  python/ql/src/Classes/InitCallsSubclassMethod.ql
  python/ql/src/Classes/MaybeUndefinedClassAttribute.ql
  python/ql/src/Classes/MissingCallToDel.ql
  python/ql/src/Classes/MissingCallToInit.ql
  python/ql/src/Classes/MutatingDescriptor.ql
  python/ql/src/Classes/OverwritingAttributeInSuperClass.ql
  python/ql/src/Classes/SlotsInOldStyleClass.qhelp
  python/ql/src/Classes/SlotsInOldStyleClass.ql
  python/ql/src/Classes/SuperclassDelCalledMultipleTimes.ql
  python/ql/src/Classes/SuperclassInitCalledMultipleTimes.ql
  python/ql/src/Classes/UndefinedClassAttribute.ql
  python/ql/src/Classes/UselessClass.ql
  python/ql/src/Classes/WrongNumberArgumentsInClassInstantiation.ql
  python/ql/src/Expressions/ExplicitCallToDel.ql
  python/ql/src/Expressions/IncorrectComparisonUsingIs.ql
  python/ql/src/Expressions/NonPortableComparisonUsingIs.ql
  python/ql/src/Functions/ExplicitReturnInInit.ql
  python/ql/src/Functions/InitIsGenerator.ql
  python/ql/src/Functions/IterReturnsNonIterator.ql
  python/ql/src/Functions/IterReturnsNonSelf.ql
  python/ql/src/Functions/OverlyComplexDelMethod.ql
  python/ql/src/Imports/UnintentionalImport.ql
  python/ql/src/Statements/TopLevelPrint.ql
  python/ql/src/Variables/UndefinedExport.ql
Labels: Python, documentation

#5101 Add KeGetCurrentProcessorNumberEx to CWE-457 whitelist
  cpp/ql/src/Security/CWE/CWE-457/InitializationFunctions.qll
Labels: C++

#4687 C#: Extract record declarations
  csharp/change-notes/2021-02-04-Records.md
  csharp/extractor/Semmle.Extraction.CSharp/Populators/TypeContainerVisitor.cs
  csharp/ql/src/semmle/code/cil/Declaration.qll
  csharp/ql/src/semmle/code/cil/Types.qll
  csharp/ql/src/semmle/code/csharp/Member.qll
  csharp/ql/src/semmle/code/csharp/PrintAst.qll
  csharp/ql/src/semmle/code/csharp/Type.qll
  csharp/ql/src/semmle/code/dotnet/Declaration.qll
  csharp/ql/src/semmle/code/dotnet/Type.qll
  csharp/ql/test/library-tests/csharp9/InitOnlyProperty.cs
  csharp/ql/test/library-tests/csharp9/IsExternalInit.cs
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/Record.cs
  csharp/ql/test/library-tests/csharp9/initOnlyProperty.expected
  csharp/ql/test/library-tests/csharp9/record.expected
  csharp/ql/test/library-tests/csharp9/record.ql
Labels: C#, documentation

#5100 C++: Add query author and link to original PR in change-note
  cpp/change-notes/2020-02-04-unsigned-difference-expression-compared-zero.md
Labels: C++, documentation

#5090 Docs: Use /blob/ instead of /tree/ for direct query link
  docs/codeql/query-help-markdown.py
Labels: documentation

#5097 C++: QLDoc Improvements
  cpp/ql/src/semmle/code/cpp/Element.qll
  cpp/ql/src/semmle/code/cpp/Namespace.qll
  cpp/ql/src/semmle/code/cpp/Preprocessor.qll
  cpp/ql/src/semmle/code/cpp/Specifier.qll
Labels: C++

#5091 C#: Fix nullable warnings and some code quality issues
  csharp/extractor/Semmle.Extraction.CIL/Entities/ConstructedType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Instruction.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/NamedTypeIdWriter.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/NoMetadataHandleType.FullyQualifiedNameParser.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/NoMetadataHandleType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/SignatureDecoder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeDefinitionType.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/TypeReferenceType.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/MetadataPdbReader.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/Method.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/NativePdbReader.cs
  csharp/extractor/Semmle.Extraction.CIL/PDB/PdbReader.cs
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Driver.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CommentLine.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/LocalFunction.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/DirectiveVisitor.cs
  csharp/extractor/Semmle.Extraction/CommentProcessing.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction/Entities/ExtractionError.cs
  csharp/extractor/Semmle.Extraction/Entities/SourceLocation.cs
  csharp/extractor/Semmle.Extraction/Extractor.cs
  csharp/extractor/Semmle.Extraction/Message.cs
  csharp/extractor/Semmle.Util/Win32.cs
Labels: C#

#5069 Python: Add support for API graphs
  python/change-notes/2021-02-04-api-graphs.md
  python/ql/src/semmle/python/ApiGraphs.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/ApiGraphs/mypkg/__init__.py
  python/ql/test/experimental/dataflow/ApiGraphs/mypkg/bar.py
  python/ql/test/experimental/dataflow/ApiGraphs/mypkg/foo.py
  python/ql/test/experimental/dataflow/ApiGraphs/options
  python/ql/test/experimental/dataflow/ApiGraphs/test.py
  python/ql/test/experimental/dataflow/ApiGraphs/test1.py
  python/ql/test/experimental/dataflow/ApiGraphs/test2.py
  python/ql/test/experimental/dataflow/ApiGraphs/test3.py
  python/ql/test/experimental/dataflow/ApiGraphs/test4.py
  python/ql/test/experimental/dataflow/ApiGraphs/test5.py
  python/ql/test/experimental/dataflow/ApiGraphs/test6.py
  python/ql/test/experimental/dataflow/ApiGraphs/test7.py
  python/ql/test/experimental/dataflow/ApiGraphs/test_deep.py
  python/ql/test/experimental/dataflow/ApiGraphs/use.expected
  python/ql/test/experimental/dataflow/ApiGraphs/use.ql
Labels: Python, documentation

#5095 Javascript: Improve performance of ExplicitInvokeNode::getArgument
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
Labels: JS

#4981 Python: Port url redirect query
  python/change-notes/2021-01-19-port-url-redirect-query.md
  python/ql/src/Security/CWE-601/UrlRedirect.ql
  python/ql/src/experimental/Security-old-dataflow/CWE-601/UrlRedirect.ql
  python/ql/src/semmle/python/Concepts.qll
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/src/semmle/python/frameworks/Tornado.qll
  python/ql/src/semmle/python/security/dataflow/UrlRedirect.qll
  python/ql/test/experimental/library-tests/frameworks/django-v1/response_test.py
  python/ql/test/experimental/library-tests/frameworks/flask/response_test.py
  python/ql/test/experimental/library-tests/frameworks/tornado/basic.py
  python/ql/test/experimental/library-tests/frameworks/tornado/response_test.py
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/query-tests/Security/CWE-601/UrlRedirect.expected
  python/ql/test/query-tests/Security/CWE-601/options
  python/ql/test/query-tests/Security/CWE-601/test.py
Labels: Python, documentation

#5085 C++: Fix FormattingFunction regression.
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
Labels: C++

#5107 JS: Tolerate JSON in script tags
  javascript/extractor/src/com/semmle/js/extractor/HTMLExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/html/input/json_in_script.html
  javascript/extractor/tests/html/output/trap/json_in_script.html.trap
Labels: JS

#5113 Update the language specification to allow empty var_decls
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#5087 JS: Add flowsteps for Immutable collections
  javascript/change-notes/2020-12-22-execa.md
  javascript/change-notes/2021-02-08-immutable.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/frameworks/Immutable.qll
  javascript/ql/test/library-tests/frameworks/Immutable/immutable.js
  javascript/ql/test/library-tests/frameworks/Immutable/tests.expected
  javascript/ql/test/library-tests/frameworks/Immutable/tests.ql
Labels: Awaiting evaluation, JS, documentation

#5121 Javascript Extractor: Update <tt> tages to <code>
  javascript/extractor/src/com/semmle/js/ast/DeclarationFlags.java
  javascript/extractor/src/com/semmle/js/ast/Literal.java
  javascript/extractor/src/com/semmle/js/ast/MemberDefinition.java
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/ScopeManager.java
  javascript/extractor/src/com/semmle/js/parser/ParsedProject.java
  javascript/extractor/src/com/semmle/ts/ast/ArrayTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/ConditionalTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/ExportAsNamespaceDeclaration.java
  javascript/extractor/src/com/semmle/ts/ast/ExpressionWithTypeArguments.java
  javascript/extractor/src/com/semmle/ts/ast/ExternalModuleDeclaration.java
  javascript/extractor/src/com/semmle/ts/ast/GenericTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/GlobalAugmentationDeclaration.java
  javascript/extractor/src/com/semmle/ts/ast/INodeWithSymbol.java
  javascript/extractor/src/com/semmle/ts/ast/ITypeExpression.java
  javascript/extractor/src/com/semmle/ts/ast/ImportTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/ImportWholeDeclaration.java
  javascript/extractor/src/com/semmle/ts/ast/IndexedAccessTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/InferTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/InterfaceTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/IntersectionTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/KeywordTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/MappedTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/NonNullAssertion.java
  javascript/extractor/src/com/semmle/ts/ast/OptionalTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/ParenthesizedTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/PredicateTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/RestTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/TupleTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/TypeAssertion.java
  javascript/extractor/src/com/semmle/ts/ast/TypeParameter.java
  javascript/extractor/src/com/semmle/ts/ast/TypeofTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/UnaryTypeExpr.java
  javascript/extractor/src/com/semmle/ts/ast/UnionTypeExpr.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeExtractor.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeScriptASTConverter.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeScriptParser.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeTable.java
Labels: JS

#5124 Python: Add test for type-tracking through decorators
  python/ql/test/experimental/dataflow/typetracking/test.py
Labels: Python

#5128 Data flow: Take `clearsContent()` into account in flow exploration
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
Labels: C#, C++, Java, Python

#4997 Docs: Add outline for CWE coverage page
  .github/workflows/generate-query-help-docs.yml
  docs/codeql/query-help/codeql-cwe-coverage.md
  docs/codeql/query-help/conf.py
  docs/codeql/query-help/index.rst
Labels: depends on internal PR, documentation

#4945 Java: Insecure JXBrowser
  java/ql/src/experimental/Security/CWE/CWE-295/JxBrowserWithoutCertValidation.java
  java/ql/src/experimental/Security/CWE/CWE-295/JxBrowserWithoutCertValidation.qhelp
  java/ql/src/experimental/Security/CWE/CWE-295/JxBrowserWithoutCertValidation.ql
  java/ql/test/experimental/query-tests/security/CWE-295/jxbrowser-6.23.1/JxBrowserWithoutCertValidation.expected
  java/ql/test/experimental/query-tests/security/CWE-295/jxbrowser-6.23.1/JxBrowserWithoutCertValidation.qlref
  java/ql/test/experimental/query-tests/security/CWE-295/jxbrowser-6.23.1/JxBrowserWithoutCertValidationV6_23_1.java
  java/ql/test/experimental/query-tests/security/CWE-295/jxbrowser-6.23.1/options
  java/ql/test/experimental/query-tests/security/CWE-295/jxbrowser-6.24/JxBrowserWithoutCertValidation.expected
  java/ql/test/experimental/query-tests/security/CWE-295/jxbrowser-6.24/JxBrowserWithoutCertValidation.qlref
  java/ql/test/experimental/query-tests/security/CWE-295/jxbrowser-6.24/JxBrowserWithoutCertValidationV6_24.java
  java/ql/test/experimental/query-tests/security/CWE-295/jxbrowser-6.24/options
  java/ql/test/experimental/stubs/jxbrowser-6.23.1/com/teamdev/jxbrowser/chromium/Browser.java
  java/ql/test/experimental/stubs/jxbrowser-6.23.1/com/teamdev/jxbrowser/chromium/CertificateErrorParams.java
  java/ql/test/experimental/stubs/jxbrowser-6.23.1/com/teamdev/jxbrowser/chromium/LoadHandler.java
  java/ql/test/experimental/stubs/jxbrowser-6.23.1/com/teamdev/jxbrowser/chromium/LoadParams.java
  java/ql/test/experimental/stubs/jxbrowser-6.24/com/teamdev/jxbrowser/chromium/BoundsListener.java
  java/ql/test/experimental/stubs/jxbrowser-6.24/com/teamdev/jxbrowser/chromium/Browser.java
  java/ql/test/experimental/stubs/jxbrowser-6.24/com/teamdev/jxbrowser/chromium/CertificateErrorParams.java
  java/ql/test/experimental/stubs/jxbrowser-6.24/com/teamdev/jxbrowser/chromium/LoadHandler.java
  java/ql/test/experimental/stubs/jxbrowser-6.24/com/teamdev/jxbrowser/chromium/LoadParams.java
Labels: Java, documentation

#5112 JS: Add `js/xss-through-dom` sources for frontend form libraries
  javascript/change-notes/2021-02-08-xss-through-dom-forms.md
  javascript/ql/src/semmle/javascript/DOM.qll
  javascript/ql/src/semmle/javascript/security/dataflow/XssThroughDom.qll
  javascript/ql/src/semmle/javascript/security/dataflow/XssThroughDomCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/XssThroughDom.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/forms.js
Labels: JS, documentation

#5142 Java: Improve MavenPom documentation, rename inconsistent predicates
  java/ql/src/semmle/code/xml/MavenPom.qll
Labels: Java

#5135 Add support for the Preconditions Class in the Guava framework
  java/ql/src/semmle/code/java/frameworks/guava/Guava.qll
  java/ql/src/semmle/code/java/frameworks/guava/Preconditions.qll
Labels: Java

#5153 Move misplaced experimental query into the conventional directory
  java/ql/src/experimental/Security/CWE/CWE-918/RequestForgery.java
  java/ql/src/experimental/Security/CWE/CWE-918/RequestForgery.qhelp
  java/ql/src/experimental/Security/CWE/CWE-918/RequestForgery.ql
  java/ql/src/experimental/Security/CWE/CWE-918/RequestForgery.qll
  java/ql/test/experimental/query-tests/security/CWE-918/RequestForgery.qlref
Labels: Java, documentation

#5154 Java: Re-introduce deprecated versions of old Maven predicate names
  java/ql/src/semmle/code/xml/MavenPom.qll
Labels: Java

#5098 JS: Add more models for XML parsers
  javascript/change-notes/2021-02-08-xml-parser-taint.md
  javascript/ql/src/semmle/javascript/frameworks/XmlParsers.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/xml.js
Labels: JS, documentation

#5146 JS: add two non ReDoS regular expressions to the ReDoS test suite
  javascript/ql/test/query-tests/Performance/ReDoS/tst.js
Labels: JS

#5139 Python: Multiple django improvements
  python/change-notes/2021-02-10-django-improvements.md
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/TestTaint.expected
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/taint_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/views.py
Labels: Python, documentation

#5141 Java: prepare to enforce additional compiler checks in test code
  java/ql/test/experimental/query-tests/security/CWE-273/UnsafeCertTrustTest.java
  java/ql/test/experimental/query-tests/security/CWE-297/InsecureJavaMail.java
  java/ql/test/experimental/query-tests/security/CWE-312/CleartextStorageSharedPrefs.java
  java/ql/test/experimental/query-tests/security/CWE-326/InsufficientKeySize.java
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureBasicAuth.java
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureLdapAuth.java
  java/ql/test/experimental/query-tests/security/CWE-918/SpringSSRF.java
  java/ql/test/library-tests/ExternalProcess/Test.java
  java/ql/test/library-tests/RelativePaths/Test.java
  java/ql/test/library-tests/commentedcode/CommentedCode.java
  java/ql/test/library-tests/dataflow/capture/A.java
  java/ql/test/library-tests/dataflow/taint-ioutils/Test.java
  java/ql/test/library-tests/dataflow/taint-jackson/Test.java
  java/ql/test/library-tests/dataflow/taint/A.java
  java/ql/test/library-tests/dataflow/taint/B.java
  java/ql/test/library-tests/dataflow/taintsources/IntentSources.java
  java/ql/test/library-tests/dataflow/taintsources/RmiFlow.java
  java/ql/test/library-tests/dataflow/taintsources/RmiFlowImpl.java
  java/ql/test/library-tests/dataflow/taintsources/remote.expected
  java/ql/test/library-tests/dispatch/ViableCallable.java
  java/ql/test/library-tests/dispatch/ViableCallable2.java
  java/ql/test/library-tests/guards/Logic.java
  java/ql/test/library-tests/guards/Test.java
  java/ql/test/library-tests/pathcreation/PathCreation.java
  java/ql/test/library-tests/reflection/reflection/ReflectiveAccess.java
  java/ql/test/library-tests/successors/TestThrow2/TestThrow2.java
  java/ql/test/query-tests/CloseResource/CloseReader/CloseReader.java
  java/ql/test/query-tests/ContinueInFalseLoop/A.java
  java/ql/test/query-tests/MissingCallToSuperClone/Test.java
  java/ql/test/query-tests/MissingInstanceofInEquals/GoodReturn.java
  java/ql/test/query-tests/Nullness/C.java
  java/ql/test/query-tests/RangeAnalysis/A.java
  java/ql/test/query-tests/UseBraces/UseBraces.java
  java/ql/test/query-tests/UselessComparisonTest/Test.java
  java/ql/test/query-tests/UselessNullCheck/A.java
  java/ql/test/query-tests/dead-code/DeadField/ReflectionTest.java
  java/ql/test/query-tests/dead-code/DeadMethod/ReflectionMethodTest.java
  java/ql/test/query-tests/security/CWE-022/semmle/tests/ZipTest.java
  java/ql/test/query-tests/security/CWE-078/Test.java
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.java
  java/ql/test/query-tests/security/CWE-311/CWE-319/Test.java
  java/ql/test/query-tests/security/CWE-421/semmle/Test.java
  java/ql/test/query-tests/security/CWE-502/A.java
  java/ql/test/query-tests/security/CWE-502/B.java
  java/ql/test/query-tests/security/CWE-611/DocumentBuilderTests.java
  java/ql/test/query-tests/security/CWE-732/semmle/tests/Test.java
  java/ql/test/query-tests/security/CWE-833/semmle/tests/LockOrderInconsistency.expected
  java/ql/test/query-tests/security/CWE-833/semmle/tests/MethodAccessLockOrder.java
  java/ql/test/stubs/google-android-9.0.0/android/app/Activity.java
  java/ql/test/stubs/google-android-9.0.0/android/content/Intent.java
  java/ql/test/stubs/google-android-9.0.0/android/os/BaseBundle.java
  java/ql/test/stubs/google-android-9.0.0/android/os/Parcel.java
  java/ql/test/stubs/google-android-9.0.0/androidx/security/crypto/EncryptedSharedPreferences.java
Labels: Java

#4954 Java: Add Member.hasQualifiedName.
  java/ql/src/semmle/code/java/Member.qll
Labels: Java

#5147 C++: Add models for BSD-style send and recv functions
  cpp/ql/src/Security/CWE/CWE-020/ExternalAPIsSpecific.qll
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Fread.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/GetDelim.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Getenv.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Recv.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Send.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FlowSource.qll
  cpp/ql/src/semmle/code/cpp/security/FlowSources.qll
  cpp/ql/src/semmle/code/cpp/security/Security.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/remote-flow-sink.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/remote-flow-sink.ql
Labels: C++, depends on internal PR

#5148 JS: Add ClientRequest models for `apollo-client` libraries
  javascript/change-notes/2021-02-11-apollo-client.md
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/apollo.js
Labels: JS, documentation

#5117 JS: Add models for server-side form/file parsing libraries
  javascript/change-notes/2021-02-09-form-parsers.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/semmle/javascript/frameworks/FormParsers.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/form-parsers.js
Labels: JS, documentation

#5168 C++: Model vector versions of BSD-style reads and writes.
  cpp/ql/src/semmle/code/cpp/models/implementations/Recv.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Send.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/defaulttainttracking.cpp
Labels: C++

#5134 Add support for Apache Commons Lang ArrayUtils
  java/ql/src/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/src/semmle/code/java/frameworks/apache/Lang.qll
Labels: Java

#5159 Python: Add FP test for unknown argument in string format
  python/ql/test/query-tests/Expressions/Formatting/UnusedNamedArgumentIn3101Format.expected
  python/ql/test/query-tests/Expressions/Formatting/unknown_format_string.py
Labels: Python

#5170 add change note for new ArrayUtils support
  java/change-notes/2021-02-15-commons-array-utils.md
Labels: Java, documentation

#5158 C++: StdString BSL support
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
Labels: C++

#5120 C#: Add Asp.Net Core redirect sinks
  csharp/ql/src/semmle/code/csharp/frameworks/microsoft/AspNetCore.qll
Labels: C#

#5175 C++: Fix TopLevelFunction's qldoc
  cpp/ql/src/semmle/code/cpp/Function.qll
Labels: C++

#4669 C#: Extract global statements
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Parameter.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statement.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statement`1.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Factory.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/GlobalStatementsBlock.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Labeled.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/CompilationUnitVisitor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/TypeContainerVisitor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/TypeOrNamespaceVisitor.cs
  csharp/ql/src/semmle/code/csharp/PrintAst.qll
  csharp/ql/src/semmle/code/csharp/Stmt.qll
  csharp/ql/src/semmle/code/csharp/commons/Util.qll
  csharp/ql/test/library-tests/csharp9/ForeachExtension.cs
  csharp/ql/test/library-tests/csharp9/GlobalStmt.cs
  csharp/ql/test/library-tests/csharp9/LocalFunctions.expected
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/globalStmt.expected
  csharp/ql/test/library-tests/csharp9/globalStmt.ql
Labels: C#

#5173 C++: Model bsl functions in Swap.qll.
  cpp/ql/src/semmle/code/cpp/models/implementations/Swap.qll
Labels: C++

#5133 Remove sanitizing condition which does not prevent vulnerability.
  java/change-notes/2021-02-15-snakeyaml-fn-fix.md
  java/ql/src/semmle/code/java/frameworks/SnakeYaml.qll
  java/ql/test/query-tests/security/CWE-502/A.java
  java/ql/test/query-tests/security/CWE-502/UnsafeDeserialization.expected
Labels: Java, documentation

#5103 Python: Port Flask models to use API graphs
  python/ql/src/semmle/python/ApiGraphs.qll
  python/ql/src/semmle/python/dataflow/new/internal/Attributes.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/test/experimental/dataflow/ApiGraphs/test.py
Labels: Python

#5167 C++: Refactor Mem*.qll and include bsl model.
  cpp/ql/src/semmle/code/cpp/Declaration.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Memcpy.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Memset.qll
Labels: C++

#5176 BSL support for smart pointers and other std classes.
  cpp/ql/src/semmle/code/cpp/models/implementations/SmartPointer.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdMap.qll
Labels: C++

#5078 Python: Add modeling of Flask blueprints
  python/change-notes/2021-02-03-flask-add-blueprint-modeling.md
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/test/experimental/library-tests/frameworks/flask/external_blueprint.py
  python/ql/test/experimental/library-tests/frameworks/flask/routing_test.py
Labels: Python, documentation

#5165 C++: Refactor IdentityFunction.qll.
  cpp/ql/src/semmle/code/cpp/models/implementations/IdentityFunction.qll
Labels: C++

#5156 C++: Improve StdSet and StdPair models
  cpp/ql/src/semmle/code/cpp/models/implementations/StdPair.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdSet.qll
Labels: C++

#2663 Python: Add false positive test example for issue #2652.
  python/ql/test/query-tests/Variables/unused/UnusedLocalVariable.expected
  python/ql/test/query-tests/Variables/unused/type_annotation_fp.py
Labels: Python

#5180 C++: Refactor StdContainer.qll.
  cpp/ql/src/semmle/code/cpp/models/implementations/StdContainer.qll
Labels: C++

#5092 Add GoKit to Go supported library list
  docs/codeql/support/reusables/frameworks.rst
Labels: documentation

#5126 Java: Add support for Apache Commons Lang StringUtils
  config/identical-files.json
  java/change-notes/2021-02-09-commons-string-utils.md
  java/ql/src/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/test/TestUtilities/InlineExpectationsTest.qll
  java/ql/test/TestUtilities/InlineExpectationsTestPrivate.qll
  java/ql/test/library-tests/frameworks/apache-commons-lang3/Test.java
  java/ql/test/library-tests/frameworks/apache-commons-lang3/flow.expected
  java/ql/test/library-tests/frameworks/apache-commons-lang3/flow.ql
  java/ql/test/library-tests/frameworks/apache-commons-lang3/options
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/StringUtils.java
Labels: Java, documentation

#5066 JS: add query for Express-HBS LFR
  javascript/ql/src/experimental/Security/CWE-073/TemplateObjectInjection.ql
  javascript/ql/src/experimental/Security/CWE-073/documentation-examples/TemplateObjectInjection.js
  javascript/ql/src/experimental/Security/CWE-073/documentation-examples/TemplateObjectInjection_fixed.js
  javascript/ql/test/experimental/Security/CWE-073/TemplateObjectInjection.expected
  javascript/ql/test/experimental/Security/CWE-073/TemplateObjectInjection.qlref
  javascript/ql/test/experimental/Security/CWE-073/tst.js
Labels: JS

#5186 C++: More models work
  cpp/ql/src/semmle/code/cpp/models/implementations/Fread.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Getenv.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
Labels: C++

#5187 C++: Support BSL in Allocation.qll, Deallocation.qll.
  cpp/ql/src/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Deallocation.qll
Labels: C++

#5191 C++: Add test for missing flow due to const specifier
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++

#5184 Python: Use `LocalSourceNode` in type tracker tests
  python/ql/test/experimental/dataflow/typetracking/moduleattr.expected
  python/ql/test/experimental/dataflow/typetracking/moduleattr.ql
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
Labels: Python

#5185 C++: Add isBarrier to cpp/cgi-xss
  cpp/ql/src/Security/CWE/CWE-079/CgiXss.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-079/semmle/CgiXss/CgiXss.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-079/semmle/CgiXss/search.c
Labels: C++

#5192 Python: Expose framework identifier for route-setup and request handler
  python/ql/src/semmle/python/Concepts.qll
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/src/semmle/python/frameworks/Tornado.qll
Labels: Python

#5193 JS: avoid cartesian product in isFilteredPropertyName
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextLoggingCustomizations.qll
Labels: JS

#5182 Docs: Update list of support frameworks in Python
  docs/codeql/support/reusables/frameworks.rst
Labels: documentation

#5111 JS: Include modern Angular in list of supported frameworks
  docs/codeql/support/reusables/frameworks.rst
Labels: JS, documentation

#5157 C++: Improve Iterator models
  cpp/ql/src/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/standalone_iterators.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#5140 JS: Add taint steps for markdown parsers
  javascript/change-notes/2021-02-10-markdown.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/Markdown.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.js
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXssWithCustomSanitizer.expected
Labels: JS, documentation

#5114 Documentation: Make our policy for copied example code clear and visible.
  CONTRIBUTING.md
  cpp/ql/test/README.md
  docs/supported-queries.md
Labels: C++, documentation

#5194 Python: Adjust type-tracking snippets
  python/.vscode/ql.code-snippets
  python/ql/src/semmle/python/dataflow/new/TypeTracker.qll
Labels: Python

#5083 Adding queries related to the Solorigate campaign
  csharp/ql/src/codeql-suites/solorigate.qls
  csharp/ql/src/experimental/Security Features/backdoor/DangerousNativeFunctionCall.qhelp
  csharp/ql/src/experimental/Security Features/backdoor/DangerousNativeFunctionCall.ql
  csharp/ql/src/experimental/Security Features/backdoor/PotentialTimeBomb.qhelp
  csharp/ql/src/experimental/Security Features/backdoor/PotentialTimeBomb.ql
  csharp/ql/src/experimental/Security Features/backdoor/ProcessNameToHashTaintFlow.qhelp
  csharp/ql/src/experimental/Security Features/backdoor/ProcessNameToHashTaintFlow.ql
  csharp/ql/src/experimental/Security Features/campaign/Solorigate-Readme.md
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/ModifiedFnvFunctionDetection.qhelp
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/ModifiedFnvFunctionDetection.ql
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/NumberOfKnownCommandsAboveThreshold.qhelp
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/NumberOfKnownCommandsAboveThreshold.ql
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/NumberOfKnownHashesAboveThreshold.qhelp
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/NumberOfKnownHashesAboveThreshold.ql
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/NumberOfKnownLiteralsAboveThreshold.qhelp
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/NumberOfKnownLiteralsAboveThreshold.ql
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/NumberOfKnownMethodNamesAboveThreshold.qhelp
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/NumberOfKnownMethodNamesAboveThreshold.ql
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/Solorigate.qhelp.inc
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/Solorigate.qll
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/SwallowEverythingExceptionHandler.qhelp
  csharp/ql/src/experimental/Security Features/campaign/Solorigate/SwallowEverythingExceptionHandler.ql
  csharp/ql/src/experimental/code/csharp/Cryptography/NonCryptographicHashes.qll
  csharp/ql/test/experimental/Security Features/backdoor/DangerousNativeFunctionCall.expected
  csharp/ql/test/experimental/Security Features/backdoor/DangerousNativeFunctionCall.qlref
  csharp/ql/test/experimental/Security Features/backdoor/PotentialTimeBomb.expected
  csharp/ql/test/experimental/Security Features/backdoor/PotentialTimeBomb.qlref
  csharp/ql/test/experimental/Security Features/backdoor/ProcessNameToHashTaintFlow.expected
  csharp/ql/test/experimental/Security Features/backdoor/ProcessNameToHashTaintFlow.qlref
  csharp/ql/test/experimental/Security Features/backdoor/test.cs
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/ModifiedFnvFunctionDetection.expected
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/ModifiedFnvFunctionDetection.qlref
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownCommandsAboveThreshold.expected
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownCommandsAboveThreshold.qlref
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownHashesAboveThreshold.expected
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownHashesAboveThreshold.qlref
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownLiteralsAboveThreshold.expected
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownLiteralsAboveThreshold.qlref
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownMethodNamesAboveThreshold.expected
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownMethodNamesAboveThreshold.qlref
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/SwallowEverythingExceptionHandler.expected
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/SwallowEverythingExceptionHandler.qlref
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/test.cs
Labels: C#, documentation

#5207 JS: Minor grammar cleanup of type back-tracking
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
Labels: JS

#5200 JS: Improve performance in API-graphs.
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
Labels: JS

#5196 C++: Fix missing dataflow "out of" const member functions
  cpp/ql/src/semmle/code/cpp/dataflow/internal/AddressFlow.qll
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++

#5150 Java: Add ConditionalExpr.getBranchExpr(boolean)
  csharp/ql/src/semmle/code/csharp/dataflow/ModulusAnalysis.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/RangeUtils.qll
  java/ql/src/Language Abuse/MissedTernaryOpportunity.ql
  java/ql/src/Language Abuse/UselessUpcast.ql
  java/ql/src/Likely Bugs/Arithmetic/CondExprTypes.ql
  java/ql/src/Likely Bugs/Comparison/NoAssignInBooleanExprs.ql
  java/ql/src/Likely Bugs/Resource Leaks/CloseType.qll
  java/ql/src/Security/CWE/CWE-190/ArithmeticCommon.qll
  java/ql/src/Violations of Best Practice/legacy/AutoBoxing.ql
  java/ql/src/semmle/code/java/ControlFlowGraph.qll
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/src/semmle/code/java/controlflow/internal/GuardsLogic.qll
  java/ql/src/semmle/code/java/dataflow/ModulusAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/Nullness.qll
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/RangeUtils.qll
  java/ql/src/semmle/code/java/deadcode/DeadEnumConstant.qll
Labels: C#, Java

#5080 Update CodeQL Style guide to mention acronyms
  docs/ql-style-guide.md
Labels: documentation

#5203 Python: Add `TypeBackTracker`
  python/change-notes/2021-02-18-type-backtrackers.md
  python/ql/src/semmle/python/dataflow/new/TypeTracker.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Labels: Python, documentation

#5211 Docs (CodeQL for VS Code): Move info about telemetry into codeql.github.com
  docs/codeql/codeql-for-visual-studio-code/about-codeql-for-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/about-telemetry-in-codeql-for-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/index.rst
Labels: documentation

#5221 C++: Add CWE-676 tag.
  cpp/ql/src/Security/CWE/CWE-676/DangerousFunctionOverflow.ql
Labels: C++

#5204 JS: use manual recursion in `Refinements::inGuard`
  javascript/ql/src/semmle/javascript/dataflow/Refinements.qll
Labels: JS

#5215 Style Guide: Fix two-letter acronym
  docs/ql-style-guide.md
Labels: documentation

#5233 Python: `for`-iteration of tuples
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
Labels: Python

#5222 Update supported go frameworks
  docs/codeql/support/reusables/frameworks.rst
Labels: documentation

#5217 C++: Implement models for poll, accept and select
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Accept.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Poll.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Select.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/bsd.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Labels: C++

#5136 Java: Add support for framework modelling through csv data.
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/test/library-tests/dataflow/external-models/A.java
  java/ql/test/library-tests/dataflow/external-models/B.java
  java/ql/test/library-tests/dataflow/external-models/C.java
  java/ql/test/library-tests/dataflow/external-models/sinks.expected
  java/ql/test/library-tests/dataflow/external-models/sinks.ql
  java/ql/test/library-tests/dataflow/external-models/srcs.expected
  java/ql/test/library-tests/dataflow/external-models/srcs.ql
  java/ql/test/library-tests/dataflow/external-models/steps.expected
  java/ql/test/library-tests/dataflow/external-models/steps.ql
Labels: Java

#5236 JS: Restrict names of extracted HTML attributes
  javascript/extractor/src/com/semmle/js/extractor/HTMLExtractor.java
  javascript/ql/test/query-tests/DOM/HTML/DuplicateAttributes.html
Labels: JS, depends on internal PR

#5227 JS: Improve TypeInference related join-orderings
  javascript/ql/src/semmle/javascript/AMD.qll
  javascript/ql/src/semmle/javascript/NodeJS.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeInference.qll
Labels: JS, no-change-note-required

#5238 Python: Highlight missing flow from default value in functions
  python/ql/test/experimental/dataflow/coverage/test.py
Labels: Python

#5172 Java: Add support for commons-lang's StrBuilder class
  java/ql/src/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/test/library-tests/frameworks/apache-commons-lang3/StrBuilderTest.java
  java/ql/test/library-tests/frameworks/apache-commons-lang3/StrBuilderTextTest.java
  java/ql/test/library-tests/frameworks/apache-commons-lang3/TextStringBuilderTest.java
  java/ql/test/library-tests/frameworks/apache-commons-lang3/options
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/builder/Builder.java
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/text/StrBuilder.java
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/text/StrMatcher.java
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/text/StrTokenizer.java
  java/ql/test/stubs/apache-commons-text-1.9/org/apache/commons/text/Builder.java
  java/ql/test/stubs/apache-commons-text-1.9/org/apache/commons/text/StrBuilder.java
  java/ql/test/stubs/apache-commons-text-1.9/org/apache/commons/text/StrMatcher.java
  java/ql/test/stubs/apache-commons-text-1.9/org/apache/commons/text/StrTokenizer.java
  java/ql/test/stubs/apache-commons-text-1.9/org/apache/commons/text/StringTokenizer.java
  java/ql/test/stubs/apache-commons-text-1.9/org/apache/commons/text/TextStringBuilder.java
  java/ql/test/stubs/apache-commons-text-1.9/org/apache/commons/text/matcher/StringMatcher.java
Labels: Java, documentation

#5210 JS: improve join-order for Configuration::barrierGuardBlocksEdge
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#5152 Python: Improve pyyaml support
  python/change-notes/2021-02-10-yaml-more-loading-functions.md
  python/ql/src/Security/CWE-502/UnsafeDeserialization.qhelp
  python/ql/src/semmle/python/frameworks/Yaml.qll
  python/ql/test/experimental/library-tests/frameworks/yaml/Decoding.py
Labels: Python, documentation

#5220 Limit C# codeql analysis to the csharp folder
  .github/workflows/codeql-analysis.yml
Labels: C#

#5248 Python: Port `py/insecure-temporary-file`
  python/ql/src/Security/CWE-377/InsecureTemporaryFile.ql
Labels: Python, no-change-note-required

#5195 Java: Add empty file to test.
  java/ql/test/experimental/query-tests/security/CWE-548/A.java
  java/ql/test/experimental/query-tests/security/CWE-555/A.java
Labels: Java

#5251 Python: Port missing host key validation query
  python/ql/src/Security/CWE-295/MissingHostKeyValidation.ql
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Labels: Python, no-change-note-required

#5208 Python: Cleanup Flask models now that we have API graphs
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-078-py2/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  python/ql/test/query-tests/Security/CWE-094/CodeInjection.expected
  python/ql/test/query-tests/Security/CWE-502/UnsafeDeserialization.expected
  python/ql/test/query-tests/Security/CWE-601/UrlRedirect.expected
Labels: Python, no-change-note-required

#4880 Java: Sensitive GET Query
  java/ql/src/experimental/Security/CWE/CWE-598/SensitiveGetQuery.java
  java/ql/src/experimental/Security/CWE/CWE-598/SensitiveGetQuery.qhelp
  java/ql/src/experimental/Security/CWE/CWE-598/SensitiveGetQuery.ql
  java/ql/src/semmle/code/java/frameworks/Servlets.qll
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery.expected
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery.java
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery.qlref
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery2.java
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery3.java
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery4.java
  java/ql/test/experimental/query-tests/security/CWE-598/options
Labels: Java, documentation, no-change-note-required

#5240 JS: Various small performance improvements
  javascript/ql/src/semmle/javascript/AST.qll
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/Refinements.qll
  javascript/ql/src/semmle/javascript/frameworks/PropertyProjection.qll
  javascript/ql/src/semmle/javascript/frameworks/SystemCommandExecutors.qll
  javascript/ql/test/library-tests/Nodes/globalObjectRef.expected
  javascript/ql/test/library-tests/Nodes/globalVarRef.expected
Labels: JS, no-change-note-required

#5253 Python: Remove getAnArg from DataFlow::CallCfgNode
  python/ql/src/Security/CWE-295/MissingHostKeyValidation.ql
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Labels: Python, no-change-note-required

#5249 C++: QLDoc Pure.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  javascript/ql/src/semmle/javascript/Expr.qll
Labels: C++, JS, no-change-note-required

#5105 CWE-1104: Maven POM dependence upon Bintray/JCenter
  java/change-notes/2021-02-23-deprecated-jcenter-bintray.md
  java/ql/src/Security/CWE/CWE-1104/MavenPomDependsOnBintray.qhelp
  java/ql/src/Security/CWE/CWE-1104/MavenPomDependsOnBintray.ql
  java/ql/src/Security/CWE/CWE-1104/bad-bintray-pom.xml
  java/ql/src/Security/CWE/CWE-829/InsecureDependencyResolution.ql
  java/ql/src/semmle/code/xml/MavenPom.qll
  java/ql/test/query-tests/security/CWE-1104/semmle/tests/A.java
  java/ql/test/query-tests/security/CWE-1104/semmle/tests/MavenPomDependsOnBintray.expected
  java/ql/test/query-tests/security/CWE-1104/semmle/tests/MavenPomDependsOnBintray.qlref
  java/ql/test/query-tests/security/CWE-1104/semmle/tests/bad-bintray-pom.xml
Labels: Java, documentation

#5257 C++: Turns out we're in 2021 and not 2020.
  cpp/change-notes/2021-02-04-unsigned-difference-expression-compared-zero.md
Labels: C++, documentation

#5250 Python: Port URL sanitisation queries to API graphs
  python/ql/src/semmle/python/regex.qll
  python/ql/test/library-tests/regex/Mode.expected
  python/ql/test/library-tests/regex/options
  python/ql/test/library-tests/regex/test.py
Labels: Python, no-change-note-required

#5252 Python: Minor cleanup of test setup
  python/ql/test/query-tests/Security/CWE-295-MissingHostKeyValidation/MissingHostKeyValidation.expected
  python/ql/test/query-tests/Security/CWE-295-MissingHostKeyValidation/MissingHostKeyValidation.qlref
  python/ql/test/query-tests/Security/CWE-295-MissingHostKeyValidation/paramiko_host_key.py
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/RequestWithoutValidation.expected
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/RequestWithoutValidation.qlref
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/make_request.py
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/options
  python/ql/test/query-tests/Security/CWE-377/options
Labels: Python, no-change-note-required

#5212 Include @xcorail (GHSL) in code reviews for `experimental` queries
  CODEOWNERS
Labels: in progress

#4737 Python: Force read- and store steps to add nodes.
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/experimental/library-tests/frameworks/modeling-example/ProperModel.expected
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-078-py2/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  python/ql/test/query-tests/Security/CWE-094/CodeInjection.expected
  python/ql/test/query-tests/Security/CWE-502/UnsafeDeserialization.expected
  python/ql/test/query-tests/Security/CWE-601/UrlRedirect.expected
Labels: Python, no-change-note-required

#5102 Java: CWE-489 Query to detect main() method in servlets
  java/ql/src/experimental/Security/CWE/CWE-489/EJBMain.java
  java/ql/src/experimental/Security/CWE/CWE-489/EJBMain.qhelp
  java/ql/src/experimental/Security/CWE/CWE-489/EJBMain.ql
  java/ql/src/experimental/Security/CWE/CWE-489/MainLib.qll
  java/ql/src/experimental/Security/CWE/CWE-489/WebComponentMain.java
  java/ql/src/experimental/Security/CWE/CWE-489/WebComponentMain.qhelp
  java/ql/src/experimental/Security/CWE/CWE-489/WebComponentMain.ql
  java/ql/test/experimental/query-tests/security/CWE-489/ServiceBean.expected
  java/ql/test/experimental/query-tests/security/CWE-489/ServiceBean.java
  java/ql/test/experimental/query-tests/security/CWE-489/ServiceBean.qlref
  java/ql/test/experimental/query-tests/security/CWE-489/ServletContextListenerMain.java
  java/ql/test/experimental/query-tests/security/CWE-489/ServletMain.expected
  java/ql/test/experimental/query-tests/security/CWE-489/ServletMain.java
  java/ql/test/experimental/query-tests/security/CWE-489/ServletMain.qlref
  java/ql/test/experimental/query-tests/security/CWE-489/options
  java/ql/test/stubs/ejb-3.2/javax/ejb/CreateException.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJB.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBContext.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBException.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBHome.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBLocalHome.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBLocalObject.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBMetaData.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EJBObject.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EnterpriseBean.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/EntityBean.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/Handle.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/Handler.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/HomeHandle.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/Remote.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/RemoveException.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/SessionBean.java
  java/ql/test/stubs/ejb-3.2/javax/ejb/SessionContext.java
  java/ql/test/stubs/ejb-3.2/javax/transaction/UserTransaction.java
  java/ql/test/stubs/servlet-api-2.4/javax/servlet/ServletContextEvent.java
  java/ql/test/stubs/servlet-api-2.4/javax/servlet/ServletContextListener.java
Labels: Java, documentation

#5199 JS: Add flow sources from vue-router
  javascript/change-notes/2021-02-16-vue-router.md
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/frameworks/Vue.qll
  javascript/ql/test/library-tests/frameworks/Vue/compont-with-route.vue
  javascript/ql/test/library-tests/frameworks/Vue/router.js
  javascript/ql/test/library-tests/frameworks/Vue/tests.expected
  javascript/ql/test/library-tests/frameworks/Vue/tests.ql
Labels: JS, documentation

#5266 JS: Fix 'is, is' and 'is is'.
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/Stmt.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
Labels: JS, no-change-note-required

#5151 Python: Model get_redirect_url in django
  python/change-notes/2021-02-12-django-get_redirect_url.md
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/TestTaint.expected
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/response_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/urls.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/views.py
Labels: Python, documentation

#5264 C#: Add more well-known enum underlying types
  csharp/extractor/Semmle.Extraction.CIL/Entities/CustomAttributeDecoder.cs
Labels: C#

#5263 C#: Fix potentially concurrent file moves
  csharp/extractor/Semmle.Util/FileUtils.cs
Labels: C#

#4998 C#: Use shared SSA implementation for `{Pre,Base}Ssa`
  config/identical-files.json
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreBasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/pressa/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/pressa/SsaImplSpecific.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/Steps.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/basessa/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/basessa/SsaImplSpecific.qll
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
  csharp/ql/test/library-tests/dataflow/ssa/BaseSsaConsistency.ql
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
Labels: C#, no-change-note-required

#5278 JS: add model for form-data
  javascript/change-notes/2021-02-26-form-data.md
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Labels: JS, documentation
