Repository github/codeql, pull requests merged in 2021-11, with the labels that each got.

#7003 JS: Fix FP in mixed-this static access
  javascript/ql/src/Declarations/MixedStaticInstanceThisAccess.ql
  javascript/ql/test/query-tests/Declarations/MixedStaticInstanceThisAccess/abstract.ts
Labels: JS, no-change-note-required

#7012 Fixed a typo. ( Minor PR)
  ruby/ql/src/queries/security/cwe-732/WeakFilePermissions.ql
Labels: no-change-note-required, Ruby

#6614 Java: Add `CharacterLiteral.getCodePointValue()`
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/test/library-tests/constants/constants/Values.java
  java/ql/test/library-tests/constants/getIntValue.expected
  java/ql/test/library-tests/literals/charLiterals/CharLiterals.java
  java/ql/test/library-tests/literals/charLiterals/charLiterals.expected
  java/ql/test/library-tests/literals/charLiterals/charLiterals.ql
  java/ql/test/library-tests/literals/stringLiterals/StringLiterals.java
  java/ql/test/library-tests/literals/stringLiterals/stringLiterals.expected
Labels: Java

#7008 Java: Model java.util.Optional lambda methods
  java/change-notes/2021-10-29-optional-lambda-flow.md
  java/ql/lib/semmle/code/java/frameworks/Optional.qll
  java/ql/test/library-tests/optional/FunctionalTest.java
Labels: documentation, Java

#5110 C# : Add query to detect SSRF
  csharp/ql/src/experimental/CWE-918/RequestForgery.cs
  csharp/ql/src/experimental/CWE-918/RequestForgery.qhelp
  csharp/ql/src/experimental/CWE-918/RequestForgery.ql
  csharp/ql/src/experimental/CWE-918/RequestForgery.qll
  csharp/ql/test/experimental/CWE-918/RequestForgery.cs
  csharp/ql/test/experimental/CWE-918/RequestForgery.expected
  csharp/ql/test/experimental/CWE-918/RequestForgery.qlref
Labels: C#, documentation

#7004 Java: Deprecate `StringLiteral.getRepresentedString()`
  java/change-notes/2021-10-29-deprecate-String-getRepresentedString.md
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/JDKAnnotations.qll
  java/ql/lib/semmle/code/java/Reflection.qll
  java/ql/lib/semmle/code/java/StringFormat.qll
  java/ql/lib/semmle/code/java/UnitTests.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringComponentScan.qll
  java/ql/lib/semmle/code/java/security/ControlledString.qll
  java/ql/lib/semmle/code/java/security/HttpsUrls.qll
  java/ql/lib/semmle/code/java/security/InsecureBasicAuth.qll
  java/ql/lib/semmle/code/java/security/RelativePaths.qll
  java/ql/lib/semmle/code/java/security/SecurityFlag.qll
  java/ql/lib/semmle/code/java/security/SensitiveActions.qll
  java/ql/src/Performance/InefficientEmptyStringTest.ql
  java/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.ql
  java/ql/src/Security/CWE/CWE-327/MaybeBrokenCryptoAlgorithm.ql
  java/ql/src/Security/CWE/CWE-798/HardcodedCredentials.qll
  java/ql/src/Violations of Best Practice/Dead Code/NonAssignedFields.ql
  java/ql/src/experimental/Security/CWE/CWE-094/SpringViewManipulationLib.qll
  java/ql/src/experimental/Security/CWE/CWE-326/InsufficientKeySize.ql
  java/ql/src/experimental/Security/CWE/CWE-502/UnsafeSpringExporterInConfigurationClass.ql
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureLdapAuth.ql
  java/ql/src/experimental/Security/CWE/CWE-939/IncorrectURLVerification.ql
  java/ql/test/library-tests/Encryption/insecure.ql
  java/ql/test/library-tests/Encryption/secure.ql
  java/ql/test/library-tests/literals/stringLiterals/stringLiterals.expected
  java/ql/test/library-tests/literals/stringLiterals/stringLiterals.ql
Labels: documentation, Java

#7014 C++: Add `isFromSystemMacroDefinition` predicate
  cpp/change-notes/2021-11-01-isFromSystemMacroDefinition.md
  cpp/ql/lib/semmle/code/cpp/commons/Exclusions.qll
Labels: C++, documentation

#6934 Use the new instanceof syntax everywhere
  cpp/ql/src/Security/CWE/CWE-497/ExposedSystemData.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/lib/semmle/javascript/dataflow/Refinements.qll
  javascript/ql/lib/semmle/javascript/security/performance/PolynomialReDoSCustomizations.qll
  javascript/ql/src/experimental/Security/CWE-090/LdapInjectionCustomizations.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/old/TaintTracking.qll
  python/ql/lib/semmle/python/dependencies/TechInventory.qll
  python/ql/lib/semmle/python/objects/ObjectAPI.qll
  python/ql/lib/semmle/python/types/Extensions.qll
Labels: JS, C++, Python, no-change-note-required

#6858 Python: Type tracker changes
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
Labels: Python, Ruby

#7022 JS: add cwe-319 to js/clear-text-cookie
  javascript/ql/src/Security/CWE-614/ClearTextCookie.ql
Labels: JS, no-change-note-required

#7026 Ruby: use the `rb/` prefix in all query ids
  ruby/ql/examples/snippets/emptythen.ql
  ruby/ql/src/ide-contextual-queries/localDefinitions.ql
  ruby/ql/src/ide-contextual-queries/localReferences.ql
  ruby/ql/src/ide-contextual-queries/printAst.ql
Labels: no-change-note-required, Ruby

#6932 Dataflow: Add support for call context restrictions on sources/sinks.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java, Python, Ruby

#6781 JS: Move LDAP injection out of experimental
  javascript/change-notes/2021-10-01-ldap.md
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/frameworks/LdapJS.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/SqlInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/SqlInjectionQuery.qll
  javascript/ql/src/Security/CWE-089/SqlInjection.ql
  javascript/ql/src/experimental/Security/CWE-090/LdapInjection.qhelp
  javascript/ql/src/experimental/Security/CWE-090/LdapInjection.ql
  javascript/ql/src/experimental/Security/CWE-090/LdapInjection.qll
  javascript/ql/src/experimental/Security/CWE-090/LdapInjectionCustomizations.qll
  javascript/ql/src/experimental/Security/CWE-090/Ldapjs.qll
  javascript/ql/src/experimental/Security/CWE-090/examples/example_bad1.js
  javascript/ql/src/experimental/Security/CWE-090/examples/example_bad2.js
  javascript/ql/src/experimental/Security/CWE-090/examples/example_good1.js
  javascript/ql/src/experimental/Security/CWE-090/examples/example_good2.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/ldap.js
Labels: JS, documentation

#6782 Python: Model FastAPI
  docs/codeql/support/reusables/frameworks.rst
  python/change-notes/2021-10-25-add-FastAPI-modeling.md
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/FastApi.qll
  python/ql/lib/semmle/python/frameworks/Pydantic.qll
  python/ql/lib/semmle/python/frameworks/Starlette.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/fastapi/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/fastapi/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/fastapi/InlineTaintTest.expected
  python/ql/test/library-tests/frameworks/fastapi/InlineTaintTest.ql
  python/ql/test/library-tests/frameworks/fastapi/basic.py
  python/ql/test/library-tests/frameworks/fastapi/response_test.py
  python/ql/test/library-tests/frameworks/fastapi/router.py
  python/ql/test/library-tests/frameworks/fastapi/taint_test.py
Labels: documentation, Python

#7023 Python: Add modeling of `toml`
  docs/codeql/support/reusables/frameworks.rst
  python/change-notes/2021-11-02-toml.md
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Toml.qll
  python/ql/test/library-tests/frameworks/toml/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/toml/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/toml/test.py
Labels: documentation, Python

#7025 Dataflow: Replace a 'noinline' pragma with a 'nomagic' pragma
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
Labels: C#, C++, Java, Python, Ruby

#7032 JS: add CWE-497 to js/stack-trace-exposure
  javascript/ql/src/Security/CWE-209/StackTraceExposure.ql
Labels: JS, no-change-note-required

#6966 Android: Add ExplicitIntentSanitizer and allowIntentExtrasImplicitRead
  java/ql/lib/semmle/code/java/frameworks/android/Intent.qll
  java/ql/lib/semmle/code/java/security/AndroidSensitiveCommunicationQuery.qll
  java/ql/src/experimental/Security/CWE/CWE-200/AndroidFileIntentSource.qll
Labels: Java

#7036 Ruby: Truncate concatenated strings in `getValueText`
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
Labels: Ruby

#6881 JS: add pragma[noinline] to predicates where the qldoc mentions join-order
  javascript/ql/lib/semmle/javascript/dataflow/AbstractProperties.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#7048 Ruby: Remove `Node::getEnclosingCallable` and `ParameterNode::isParameterOf`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/security/UrlRedirectCustomizations.qll
Labels: Ruby

#6948 CPP: Add query for CWE-243 Creation of chroot Jail Without Changing Working Directory
  cpp/ql/src/experimental/Security/CWE/CWE-243/IncorrectChangingWorkingDirectory.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-243/IncorrectChangingWorkingDirectory.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-243/IncorrectChangingWorkingDirectory.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-243/semmle/tests/IncorrectChangingWorkingDirectory.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-243/semmle/tests/IncorrectChangingWorkingDirectory.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-243/semmle/tests/test.cpp
Labels: C++, documentation

#6397 Java: Create new Android Intent Redirection query
  java/change-notes/2021-08-02-android-intent-redirect-query.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/android/Intent.qll
  java/ql/lib/semmle/code/java/security/AndroidIntentRedirection.qll
  java/ql/lib/semmle/code/java/security/AndroidIntentRedirectionQuery.qll
  java/ql/src/Security/CWE/CWE-940/AndroidIntentRedirection.qhelp
  java/ql/src/Security/CWE/CWE-940/AndroidIntentRedirection.ql
  java/ql/src/Security/CWE/CWE-940/AndroidIntentRedirectionSample.java
  java/ql/test/library-tests/dataflow/taintsources/IntentSources.java
  java/ql/test/library-tests/frameworks/android/intent/Test.java
  java/ql/test/query-tests/security/CWE-940/AndroidIntentRedirectionTest.expected
  java/ql/test/query-tests/security/CWE-940/AndroidIntentRedirectionTest.java
  java/ql/test/query-tests/security/CWE-940/AndroidIntentRedirectionTest.ql
  java/ql/test/query-tests/security/CWE-940/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-940/options
  java/ql/test/stubs/google-android-9.0.0/android/annotation/NonNull.java
  java/ql/test/stubs/google-android-9.0.0/android/annotation/RequiresPermission.java
  java/ql/test/stubs/google-android-9.0.0/android/app/Activity.java
  java/ql/test/stubs/google-android-9.0.0/android/app/Fragment.java
  java/ql/test/stubs/google-android-9.0.0/android/content/ComponentName.java
  java/ql/test/stubs/google-android-9.0.0/android/content/Context.java
  java/ql/test/stubs/google-android-9.0.0/android/content/ContextWrapper.java
  java/ql/test/stubs/google-android-9.0.0/android/content/Intent.java
  java/ql/test/stubs/google-android-9.0.0/android/content/IntentFilter.java
  java/ql/test/stubs/google-android-9.0.0/android/content/ServiceConnection.java
  java/ql/test/stubs/google-android-9.0.0/android/os/Handler.java
  java/ql/test/stubs/google-android-9.0.0/android/os/UserHandle.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/WebView.java
Labels: documentation, Java, ready-for-doc-review

#7044 JS: Precision fixes, mainly for PrototypePollutingAssignment
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutingAssignmentQuery.qll
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/tst.js
Labels: JS, no-change-note-required

#6714 Yet another SSRF query for Javascript
  javascript/ql/src/experimental/Security/CWE-918/SSRF.js
  javascript/ql/src/experimental/Security/CWE-918/SSRF.qhelp
  javascript/ql/src/experimental/Security/CWE-918/SSRF.ql
  javascript/ql/src/experimental/Security/CWE-918/SSRF.qll
  javascript/ql/src/experimental/Security/CWE-918/SSRFGood.js
  javascript/ql/test/experimental/Security/CWE-918/SSRF.expected
  javascript/ql/test/experimental/Security/CWE-918/SSRF.qlref
  javascript/ql/test/experimental/Security/CWE-918/check-domain.js
  javascript/ql/test/experimental/Security/CWE-918/check-middleware.js
  javascript/ql/test/experimental/Security/CWE-918/check-path.js
  javascript/ql/test/experimental/Security/CWE-918/check-regex.js
  javascript/ql/test/experimental/Security/CWE-918/check-validator.js
  javascript/ql/test/experimental/Security/CWE-918/ternary-operator.js
Labels: JS, documentation

#6995 Rewrite qhelp-pr-preview.yml
  .github/actions/fetch-codeql/action.yml
  .github/workflows/post-pr-comment.yml
  .github/workflows/qhelp-pr-preview.yml
Labels: Ruby

#7038 Merge rc/3.3 into main
  .github/workflows/ruby-build.yml
  .github/workflows/ruby-dataset-measure.yml
  .github/workflows/ruby-qltest.yml
Labels: Mergeback

#7051 C++: Better `InlineExpectation` tests for path-explanations
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/dispatch.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/tainted.ql
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/test_diff.cpp
Labels: C++

#7027 more efficient implementation of calleeApiName
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

#7040 New docs for extractor options
  docs/codeql/codeql-cli/codeql-cli-reference.rst
  docs/codeql/codeql-cli/creating-codeql-databases.rst
  docs/codeql/codeql-cli/extractor-options.rst
  docs/codeql/codeql-cli/using-the-codeql-cli.rst
Labels: documentation

#7018 C++: Further performance improvement for the null termination queries
  cpp/ql/lib/semmle/code/cpp/commons/NullTermination.qll
Labels: C++

#7047 Shared SSA: Improved dominance frontier calculation
  csharp/ql/lib/semmle/code/cil/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/pressa/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/basessa/SsaImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImplCommon.qll
Labels: C#, Ruby

#7002 Java: Add FieldValueNode to break up cartesian step relation.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowNodes.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/lib/semmle/code/java/dispatch/DispatchFlow.qll
  java/ql/lib/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/src/Telemetry/ExternalAPI.qll
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.expected
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedCredentialsApiCall.expected
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedCredentialsSourceCall.expected
Labels: Java, no-change-note-required

#7041 C#: Use `cs/` prefix in all query IDs
  csharp/ql/lib/semmle/code/csharp/PrintAst.ql
  csharp/ql/src/Security Features/CWE-020/ExternalAPIsUsedWithUntrustedData.ql
  csharp/ql/src/Security Features/CWE-020/UntrustedDataToExternalAPI.ql
  csharp/ql/src/experimental/ir/IRConsistency.ql
  csharp/ql/src/experimental/ir/PrintIR.ql
  csharp/ql/src/experimental/ir/implementation/raw/IRConsistency.ql
  csharp/ql/src/experimental/ir/implementation/raw/PrintIR.ql
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConsistency.ql
  csharp/ql/src/printAst.ql
Labels: C#, no-change-note-required

#7060 Python: Use backwards type-tracker in `hashlib.new` modeling
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/stdlib/test_md5.py
Labels: Python, no-change-note-required

#7039 Add updated framework support for JS/Java
  docs/codeql/support/reusables/frameworks.rst
Labels: documentation

#7071 C#: Remove macos compatibility stanzas from tracing config.
  csharp/tools/osx64/compiler-tracing.spec
Labels: C#

#7072 Java: Fix bad magic in SynchSetUnsynchGet.
  java/ql/src/Likely Bugs/Concurrency/SynchSetUnsynchGet.ql
Labels: Java, no-change-note-required

#7074 JS: add cwe-942 to `js/cors-misconfiguration-for-credentials`
  javascript/ql/src/Security/CWE-346/CorsMisconfigurationForCredentials.ql
Labels: JS, no-change-note-required

#7075 JS: add cwe-297 to `js/disabling-certificate-validation`
  javascript/ql/src/Security/CWE-295/DisablingCertificateValidation.ql
Labels: JS, no-change-note-required

#7081 Revert "JS: Skip files with unsupported file encoding"
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
Labels: JS

#7056 Add new option to database analyze tutorial
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/testing-query-help-files.rst
  docs/codeql/writing-codeql-queries/debugging-data-flow-queries-using-partial-flow.rst
  docs/codeql/writing-codeql-queries/query-help-files.rst
Labels: documentation, ready-for-doc-review

#7076 JS: Support more regexp tests in tainted path
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/normalizedPaths.js
Labels: JS, no-change-note-required

#7077 Ruby: Downgrade `rb/hardcoded-credentials` precision from high to medium
  ruby/change-notes/2021-11-08-hardcoded-credentials-downgrade.md
  ruby/ql/src/queries/security/cwe-798/HardcodedCredentials.ql
Labels: documentation, Ruby

#7031 Python: Taint through `async with`
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_async.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_for.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_with.py
  python/ql/test/experimental/meta/InlineTaintTest.qll
  python/ql/test/experimental/meta/debug/InlineTaintTestPaths.expected
  python/ql/test/experimental/meta/debug/InlineTaintTestPaths.ql
Labels: Python

#7059 Ruby: Fix `basicStoreStep`
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.ql
  ruby/ql/test/library-tests/dataflow/type-tracker/type_tracker.rb
Labels: Ruby

#7100 Java: Extract Commons IO into seperate file
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/apache/IO.qll
Labels: Java, no-change-note-required

#7085 Python: model aiopg
  docs/codeql/support/reusables/frameworks.rst
  python/change-notes/2021-11-09-model-aiopg.md
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Aiopg.qll
  python/ql/test/library-tests/frameworks/aiopg/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/aiopg/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/aiopg/test.py
Labels: documentation, Python

#7102 C++: Fix a testcase
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/map.cpp
Labels: C++

#6947 CPP: Add query for CWE-377 Insecure Temporary File
  cpp/ql/src/experimental/Security/CWE/CWE-377/InsecureTemporaryFile.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-377/InsecureTemporaryFile.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-377/InsecureTemporaryFile.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-377/semmle/tests/InsecureTemporaryFile.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-377/semmle/tests/InsecureTemporaryFile.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-377/semmle/tests/test.cpp
Labels: C++, documentation

#7103 JS: add CWE-532 to the js/clear-text-logging query
  javascript/ql/src/Security/CWE-312/CleartextLogging.ql
Labels: JS, no-change-note-required

#7029 JS: add js/session-fixation query
  javascript/change-notes/2021-11-02-session-fixation.md
  javascript/ql/src/Security/CWE-384/SessionFixation.qhelp
  javascript/ql/src/Security/CWE-384/SessionFixation.ql
  javascript/ql/src/Security/CWE-384/examples/SessionFixation.js
  javascript/ql/src/Security/CWE-384/examples/SessionFixationFixed.js
  javascript/ql/test/query-tests/Security/CWE-384/SessionFixation.expected
  javascript/ql/test/query-tests/Security/CWE-384/SessionFixation.qlref
  javascript/ql/test/query-tests/Security/CWE-384/tst.js
Labels: JS, documentation, ready-for-doc-review

#5908 JS: Add library input as source to js/prototype-polluting-assignment
  javascript/change-notes/2020-05-17-prototype-assignment.md
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/lib/semmle/javascript/filters/ClassifyFiles.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutingAssignmentCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutingAssignmentQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/performance/PolynomialReDoSCustomizations.qll
  javascript/ql/src/Security/CWE-915/PrototypePollutingAssignment.ql
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/lib.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/lib.spec.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/package.json
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/tst.js
Labels: JS, documentation

#7021 JS: Add insufficient key size query
  javascript/change-notes/2021-11-02-insufficient-key-size.md
  javascript/ql/lib/semmle/javascript/frameworks/CryptoLibraries.qll
  javascript/ql/lib/semmle/javascript/security/CryptoAlgorithms.qll
  javascript/ql/src/Security/CWE-326/InsufficientKeySize.qhelp
  javascript/ql/src/Security/CWE-326/InsufficientKeySize.ql
  javascript/ql/test/query-tests/Security/CWE-326/InsufficientKeySize.expected
  javascript/ql/test/query-tests/Security/CWE-326/InsufficientKeySize.qlref
  javascript/ql/test/query-tests/Security/CWE-326/tst.js
  python/ql/lib/semmle/python/concepts/CryptoAlgorithms.qll
Labels: JS, documentation, Python

#7083 JS: Limited tracking of object literals with methods
  javascript/ql/lib/semmle/javascript/dataflow/internal/CallGraphs.qll
Labels: JS

#7105 JS: have the aliasPropertyPresenceStep step over extend calls
  javascript/ql/lib/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin/UnsafeJQueryPlugin.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin/unsafe-jquery-plugin.js
Labels: JS, no-change-note-required

#7028 Ruby: Prune nodes before computing `trackUseNode`
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
Labels: Ruby

#7104 Python: model aiomysql
  docs/codeql/support/reusables/frameworks.rst
  python/change-notes/2021-10-11-model-aiomysql.md
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Aiomysql.qll
  python/ql/test/library-tests/frameworks/aiomysql/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/aiomysql/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/aiomysql/test.py
Labels: documentation, Python

#7111 Csharp move PrintAst query to test directory.
  csharp/ql/test/experimental/ir/ir/PrintAst.qlref
  csharp/ql/test/library-tests/arguments/PrintAst.qlref
  csharp/ql/test/library-tests/assignments/PrintAst.qlref
  csharp/ql/test/library-tests/attributes/PrintAst.qlref
  csharp/ql/test/library-tests/comments/PrintAst.qlref
  csharp/ql/test/library-tests/constructors/PrintAst.qlref
  csharp/ql/test/library-tests/conversion/operator/PrintAst.qlref
  csharp/ql/test/library-tests/csharp6/PrintAst.qlref
  csharp/ql/test/library-tests/csharp7.1/PrintAst.qlref
  csharp/ql/test/library-tests/csharp7.2/PrintAst.qlref
  csharp/ql/test/library-tests/csharp7.3/PrintAst.qlref
  csharp/ql/test/library-tests/csharp7/PrintAst.qlref
  csharp/ql/test/library-tests/csharp8/PrintAst.qlref
  csharp/ql/test/library-tests/csharp9/PrintAst.qlref
  csharp/ql/test/library-tests/dataflow/tuples/PrintAst.qlref
  csharp/ql/test/library-tests/definitions/PrintAst.qlref
  csharp/ql/test/library-tests/delegates/PrintAst.qlref
  csharp/ql/test/library-tests/dynamic/PrintAst.qlref
  csharp/ql/test/library-tests/enums/PrintAst.qlref
  csharp/ql/test/library-tests/events/PrintAst.qlref
  csharp/ql/test/library-tests/exceptions/PrintAst.qlref
  csharp/ql/test/library-tests/expressions/PrintAst.qlref
  csharp/ql/test/library-tests/fields/PrintAst.qlref
  csharp/ql/test/library-tests/generics/PrintAst.qlref
  csharp/ql/test/library-tests/goto/PrintAst.qlref
  csharp/ql/test/library-tests/indexers/PrintAst.qlref
  csharp/ql/test/library-tests/initializers/PrintAst.qlref
  csharp/ql/test/library-tests/linq/PrintAst.qlref
  csharp/ql/test/library-tests/members/PrintAst.qlref
  csharp/ql/test/library-tests/methods/PrintAst.qlref
  csharp/ql/test/library-tests/namespaces/PrintAst.qlref
  csharp/ql/test/library-tests/nestedtypes/PrintAst.qlref
  csharp/ql/test/library-tests/operators/PrintAst.qlref
  csharp/ql/test/library-tests/partial/PrintAst.qlref
  csharp/ql/test/library-tests/properties/PrintAst.qlref
  csharp/ql/test/library-tests/statements/PrintAst.qlref
  csharp/ql/test/library-tests/types/PrintAst.qlref
  csharp/ql/test/library-tests/unsafe/PrintAst.qlref
  csharp/ql/test/shared/PrintAst.expected
  csharp/ql/test/shared/PrintAst.ql
Labels: C#

#7033 Python: Model `flask_admin`
  docs/codeql/support/reusables/frameworks.rst
  python/change-notes/2021-11-02-flask_admin.md
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/FlaskAdmin.qll
  python/ql/src/meta/alerts/RequestHandlers.ql
  python/ql/test/library-tests/frameworks/flask_admin/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/flask_admin/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/flask_admin/InlineTaintTest.expected
  python/ql/test/library-tests/frameworks/flask_admin/InlineTaintTest.ql
  python/ql/test/library-tests/frameworks/flask_admin/test.py
Labels: documentation, Python

#7087 Python: Add interesting path-injection FP
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/path_injection.py
Labels: Python

#7057 JS: add js/sensitive-get-query query
  javascript/change-notes/2021-11-04-sensitive-get-query.md
  javascript/ql/src/Security/CWE-598/SensitiveGetQuery.qhelp
  javascript/ql/src/Security/CWE-598/SensitiveGetQuery.ql
  javascript/ql/src/Security/CWE-598/examples/SensitiveGet.js
  javascript/ql/test/query-tests/Security/CWE-598/SensitiveGetQuery.expected
  javascript/ql/test/query-tests/Security/CWE-598/SensitiveGetQuery.qlref
  javascript/ql/test/query-tests/Security/CWE-598/tst.js
Labels: JS, documentation, ready-for-doc-review

#7123 Ruby: Fix performance problem in `Definitions.ql`
  ruby/ql/src/queries/analysis/Definitions.ql
Labels: no-change-note-required, Ruby

#7094 C++: New query 'Failure to use HTTPS URLs'
  cpp/change-notes/2021-11-09-use-of-http.md
  cpp/ql/src/Security/CWE/CWE-319/UseOfHttp.cpp
  cpp/ql/src/Security/CWE/CWE-319/UseOfHttp.qhelp
  cpp/ql/src/Security/CWE/CWE-319/UseOfHttp.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/test.cpp
Labels: C++, documentation

#7096 Python: Fix a bunch of performance issues
  python/ql/lib/semmle/python/essa/Definitions.qll
  python/ql/lib/semmle/python/pointsto/PointsTo.qll
  python/ql/src/Statements/RedundantAssignment.ql
Labels: Python, no-change-note-required

#7119 JavaScript: Improve support for copied properties in API graphs
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/test/ApiGraphs/async-await/tst.ts
Labels: JS

#6535 C#: Add consistency queries
  csharp/ql/consistency-queries/CfgConsistency.ql
  csharp/ql/consistency-queries/qlpack.yml
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImplShared.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplShared.qll
Labels: C#, depends on internal PR, Ruby

#7091 Python: Port `py/request-without-cert-validation` to use API graphs
  python/ql/src/Security/CWE-295/RequestWithoutValidation.ql
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/RequestWithoutValidation.expected
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/make_request.py
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/options
Labels: Python, no-change-note-required

#7133 Python: Minor additions for 3.10
  python/ql/lib/semmle/python/ApiGraphs.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
Labels: Python, no-change-note-required

#7135 Python: Model `b32hexencode`/`b32hexdecode`
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/stdlib/Decoding.py
  python/ql/test/library-tests/frameworks/stdlib/Encoding.py
Labels: Python, no-change-note-required

#7134 Java: Add support for adding additional value steps.
  java/ql/lib/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Labels: Java, no-change-note-required

#7092 Java: Add AsyncTask additional value step
  java/ql/lib/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/lib/semmle/code/java/frameworks/android/AsyncTask.qll
  java/ql/test/experimental/query-tests/security/CWE-200/SensitiveAndroidFileLeak.expected
  java/ql/test/library-tests/frameworks/android/asynctask/Test.java
  java/ql/test/library-tests/frameworks/android/asynctask/options
  java/ql/test/library-tests/frameworks/android/asynctask/test.expected
  java/ql/test/library-tests/frameworks/android/asynctask/test.ql
Labels: Java

#7138 Ruby: Add missing CFG entry for `ForwardParameter`
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/cfg.rb
Labels: Ruby

#7122 C#: Replace `localFlow` with `localFlowStep` in recursive predicate
  csharp/ql/src/Bad Practices/Implementation Hiding/ExposeRepresentation.ql
Labels: C#, no-change-note-required

#7139 JS: improve the got model
  javascript/ql/lib/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/xmlRequest.js
Labels: JS, no-change-note-required

#7063 C++: Use `SimpleRangeAnalysis` in `Printf.qll`
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-242/semmle/tests/OverrunWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-242/semmle/tests/tests.cpp
Labels: C++, depends on internal PR

#7121 Ruby: Fix bad join-order in `resolveConstant`
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
Labels: Ruby

#7045 Data flow: Support hidden return nodes in subpaths predicate
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/async/Async.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/Dataflow.expected
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/test/query-tests/security/cwe-601/UrlRedirect.expected
Labels: C#, C++, Java, Python, Ruby

#5588 Python: Add JWT security-related queries
  python/ql/src/experimental/Security/CWE-347/JWTEmptyKeyOrAlgorithm.py
  python/ql/src/experimental/Security/CWE-347/JWTEmptyKeyOrAlgorithm.qhelp
  python/ql/src/experimental/Security/CWE-347/JWTEmptyKeyOrAlgorithm.ql
  python/ql/src/experimental/Security/CWE-347/JWTMissingSecretOrPublicKeyVerification.py
  python/ql/src/experimental/Security/CWE-347/JWTMissingSecretOrPublicKeyVerification.qhelp
  python/ql/src/experimental/Security/CWE-347/JWTMissingSecretOrPublicKeyVerification.ql
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/frameworks/JWT.qll
  python/ql/src/experimental/semmle/python/libraries/Authlib.qll
  python/ql/src/experimental/semmle/python/libraries/PyJWT.qll
  python/ql/src/experimental/semmle/python/libraries/PythonJose.qll
  python/ql/test/experimental/query-tests/Security/CWE-347/JWTEmptyKeyOrAlgorithm.expected
  python/ql/test/experimental/query-tests/Security/CWE-347/JWTEmptyKeyOrAlgorithm.qlref
  python/ql/test/experimental/query-tests/Security/CWE-347/JWTMissingSecretOrPublicKeyVerification.expected
  python/ql/test/experimental/query-tests/Security/CWE-347/JWTMissingSecretOrPublicKeyVerification.qlref
  python/ql/test/experimental/query-tests/Security/CWE-347/authlib.py
  python/ql/test/experimental/query-tests/Security/CWE-347/pyjwt.py
  python/ql/test/experimental/query-tests/Security/CWE-347/python_jose.py
Labels: documentation, Python

#7112 c++: update ir tests after frontend update
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, depends on internal PR

#7150 Java: Remove class file
  .gitignore
  java/ql/test/query-tests/Telemetry/ExternalLibraryUsage/ExternalLibraryUsage.class
Labels: Java

#7069 Add requirements for Apple Silicon
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
Labels: documentation

#7141 Ruby: Eliminate unnecessary recursion through `RealNode`
  ruby/ql/lib/codeql/ruby/ast/internal/AST.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Variable.qll
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
Labels: Ruby

#7137 JS: recognize library inputs when the library exports "through" a function
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/lib/indirect.js
  javascript/ql/test/query-tests/Performance/ReDoS/lib/lib.js
Labels: JS, no-change-note-required

#7149 C++: Minor improvements to 'Failure to use HTTPS URLs' query
  cpp/ql/src/Security/CWE/CWE-319/UseOfHttp.ql
Labels: C++, no-change-note-required

#6664 Java: Initial CSV model generator
  java/ql/lib/semmle/code/java/frameworks/Strings.qll
  java/ql/src/utils/model-generator/CaptureSinkModels.ql
  java/ql/src/utils/model-generator/CaptureSourceModels.ql
  java/ql/src/utils/model-generator/CaptureSummaryModels.ql
  java/ql/src/utils/model-generator/GenerateFlowModel.py
  java/ql/src/utils/model-generator/ModelGeneratorUtils.qll
  java/ql/test/library-tests/dataflow/taint/CharSeq.java
  java/ql/test/library-tests/dataflow/taint/test.expected
  java/ql/test/utils/model-generator/CaptureSinkModels.expected
  java/ql/test/utils/model-generator/CaptureSinkModels.qlref
  java/ql/test/utils/model-generator/CaptureSourceModels.expected
  java/ql/test/utils/model-generator/CaptureSourceModels.qlref
  java/ql/test/utils/model-generator/CaptureSummaryModels.expected
  java/ql/test/utils/model-generator/CaptureSummaryModels.qlref
  java/ql/test/utils/model-generator/p/AbstractImplOfExternalSPI.java
  java/ql/test/utils/model-generator/p/Factory.java
  java/ql/test/utils/model-generator/p/FinalClass.java
  java/ql/test/utils/model-generator/p/FluentAPI.java
  java/ql/test/utils/model-generator/p/ImmutablePojo.java
  java/ql/test/utils/model-generator/p/ImplOfExternalSPI.java
  java/ql/test/utils/model-generator/p/InnerClasses.java
  java/ql/test/utils/model-generator/p/InnerHolder.java
  java/ql/test/utils/model-generator/p/Joiner.java
  java/ql/test/utils/model-generator/p/MultipleImpls.java
  java/ql/test/utils/model-generator/p/ParamFlow.java
  java/ql/test/utils/model-generator/p/Pojo.java
  java/ql/test/utils/model-generator/p/PrivateFlowViaPublicInterface.java
  java/ql/test/utils/model-generator/p/Sinks.java
  java/ql/test/utils/model-generator/p/SomeEnum.java
  java/ql/test/utils/model-generator/p/Sources.java
Labels: Java, no-change-note-required

#7156 Ruby: Fix scripts/prepare-db-upgrade.sh
  ruby/scripts/prepare-db-upgrade.sh
Labels: Ruby

#7155 Ruby: QL generator: use qualified imports
  ruby/generator/src/main.rs
  ruby/generator/src/ql.rs
  ruby/generator/src/ql_gen.rs
  ruby/ql/lib/codeql/ruby/ast/internal/TreeSitter.qll
Labels: Ruby

#7132 Java: Fix overrides to not be transitive.
  java/change-notes/2021-11-15-overrides.md
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/lib/semmle/code/java/deadcode/EntryPoints.qll
  java/ql/lib/semmle/code/java/deadcode/StrutsEntryPoints.qll
  java/ql/lib/semmle/code/java/frameworks/Thrift.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/ejb/EJB.qll
  java/ql/src/Likely Bugs/Concurrency/NonSynchronizedOverride.ql
  java/ql/src/Likely Bugs/Inheritance/NoNonFinalInConstructor.ql
  java/ql/test/library-tests/overrides/ConstructedOverrides2.expected
Labels: documentation, Java

#7151 Ruby: add `getMethodName` predicate to `DataFlow::CallNode` class
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveStorage.qll
  ruby/ql/lib/codeql/ruby/frameworks/Files.qll
  ruby/ql/lib/codeql/ruby/frameworks/StandardLibrary.qll
Labels: Ruby

#6561 JS/Py/Ruby: add a bad-tag-filter query
  config/identical-files.json
  javascript/change-notes/2021-08-26-bad-tag-filter.md
  javascript/ql/lib/semmle/javascript/AST.qll
  javascript/ql/lib/semmle/javascript/Regexp.qll
  javascript/ql/lib/semmle/javascript/internal/CachedStages.qll
  javascript/ql/lib/semmle/javascript/security/BadTagFilterQuery.qll
  javascript/ql/lib/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/lib/semmle/javascript/security/performance/RegExpTreeView.qll
  javascript/ql/src/Security/CWE-116/BadTagFilter.qhelp
  javascript/ql/src/Security/CWE-116/BadTagFilter.ql
  javascript/ql/src/Security/CWE-116/examples/BadTagFilter.js
  javascript/ql/test/query-tests/Security/CWE-116/BadTagFilter/BadTagFilter.expected
  javascript/ql/test/query-tests/Security/CWE-116/BadTagFilter/BadTagFilter.qlref
  javascript/ql/test/query-tests/Security/CWE-116/BadTagFilter/tst.js
  python/change-notes/2021-08-26-bad-tag-filter.md
  python/ql/lib/semmle/python/RegexTreeView.qll
  python/ql/lib/semmle/python/regex.qll
  python/ql/lib/semmle/python/security/BadTagFilterQuery.qll
  python/ql/lib/semmle/python/security/performance/ReDoSUtil.qll
  python/ql/src/Security/CWE-116/BadTagFilter.qhelp
  python/ql/src/Security/CWE-116/BadTagFilter.ql
  python/ql/src/Security/CWE-116/examples/BadTagFilter.py
  python/ql/test/query-tests/Security/CWE-116-BadTagFilter/BadTagFilter.expected
  python/ql/test/query-tests/Security/CWE-116-BadTagFilter/BadTagFilter.qlref
  python/ql/test/query-tests/Security/CWE-116-BadTagFilter/tst.py
  python/ql/test/query-tests/Security/CWE-730-ReDoS/ReDoS.expected
  ruby/ql/lib/codeql/ruby/ast/Literal.qll
  ruby/ql/lib/codeql/ruby/printAst.qll
  ruby/ql/lib/codeql/ruby/security/BadTagFilterQuery.qll
  ruby/ql/lib/codeql/ruby/security/performance/ExponentialBackTracking.qll
  ruby/ql/lib/codeql/ruby/security/performance/ParseRegExp.qll
  ruby/ql/lib/codeql/ruby/security/performance/PolynomialReDoSCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/performance/PolynomialReDoSQuery.qll
  ruby/ql/lib/codeql/ruby/security/performance/ReDoSUtil.qll
  ruby/ql/lib/codeql/ruby/security/performance/RegExpTreeView.qll
  ruby/ql/lib/codeql/ruby/security/performance/SuperlinearBackTracking.qll
  ruby/ql/src/queries/security/cwe-116/BadTagFilter.qhelp
  ruby/ql/src/queries/security/cwe-116/BadTagFilter.ql
  ruby/ql/src/queries/security/cwe-116/examples/BadTagFilter.rb
  ruby/ql/src/queries/security/cwe-1333/PolynomialReDoS.ql
  ruby/ql/src/queries/security/cwe-1333/ReDoS.ql
  ruby/ql/test/library-tests/regexp/parse.ql
  ruby/ql/test/query-tests/security/cwe-116/BadTagFilter.expected
  ruby/ql/test/query-tests/security/cwe-116/BadTagFilter.qlref
  ruby/ql/test/query-tests/security/cwe-116/test.rb
Labels: JS, documentation, Python, Ruby

#7159 C++: Always recognize pointers as iterators
  cpp/ql/lib/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/types/__wchar_t/wchar_t.expected
  cpp/ql/test/library-tests/types/wchar_t_typedef/wchar_t.expected
  cpp/ql/test/library-tests/variables/variables/types.expected
  cpp/ql/test/query-tests/Likely Bugs/Conversion/CastArrayPointerArithmetic/CastArrayPointerArithmetic.expected
Labels: C++

#6931 Data flow: Restrict derived flow summaries
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/test/library-tests/dataflow/callback-dispatch/A.java
  java/ql/test/library-tests/frameworks/stream/Test.java
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, Ruby

#7168 ATM: use min() instead of rank[1]
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointScoring.qll
Labels: JS, no-change-note-required

#7160 C#: Extend `(Annotated)ExitNode` to also cover static fields
  csharp/ql/lib/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Labels: C#

#7174 C#: move Linq/Helpers.qll to the lib folder
  csharp/ql/lib/Linq/Helpers.qll
  csharp/ql/src/Linq/BadMultipleIteration.ql
  csharp/ql/src/Linq/MissedAllOpportunity.ql
  csharp/ql/src/Linq/MissedCastOpportunity.ql
  csharp/ql/src/Linq/MissedOfTypeOpportunity.ql
  csharp/ql/src/Linq/MissedSelectOpportunity.ql
  csharp/ql/src/Linq/MissedWhereOpportunity.ql
  csharp/ql/src/Linq/RedundantSelect.ql
Labels: C#, no-change-note-required

#7169 use matches instead of regexpMatch/prefix/suffix
  cpp/ql/src/Security/CWE/CWE-313/CleartextSqliteDatabase.ql
  java/ql/src/experimental/Security/CWE/CWE-598/SensitiveGetQuery.ql
  javascript/ql/lib/semmle/javascript/frameworks/AngularJS/AngularJSExpressions.qll
  javascript/ql/lib/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/XssThroughDomCustomizations.qll
  javascript/ql/src/Expressions/UnknownDirective.ql
  javascript/ql/test/library-tests/RangeAnalysis/DeadBranch.ql
  javascript/ql/test/library-tests/StringConcatenation/ClassContainsTwo.ql
  javascript/ql/test/library-tests/StringConcatenation/ContainsTwo.ql
  ruby/ql/src/queries/security/cwe-798/HardcodedCredentials.ql
Labels: JS, C++, Java, no-change-note-required, Ruby

#7179 Ruby: Move SSA consistency queries into shared SSA library
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/cil/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/pressa/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/basessa/SsaImplCommon.qll
  ruby/ql/consistency-queries/SsaConsistency.ql
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImplCommon.qll
Labels: C#, C++, Ruby

#7130 Shared CFG: Add "dead end" consistency query
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImplShared.qll
  csharp/ql/test/library-tests/controlflow/splits/CONSISTENCY/CfgConsistency.expected
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplShared.qll
Labels: C#, Ruby

#7187 Java: Don't clear content in store steps in summaries.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/callback-dispatch/A.java
Labels: Java, no-change-note-required

#7170 Ruby: use A/An/The to start qlDoc for classes
  ruby/ql/lib/codeql/ruby/frameworks/ActiveStorage.qll
  ruby/ql/lib/codeql/ruby/frameworks/Files.qll
  ruby/ql/lib/codeql/ruby/frameworks/StandardLibrary.qll
  ruby/ql/lib/codeql/ruby/security/UrlRedirectCustomizations.qll
  ruby/ql/src/ide-contextual-queries/printAst.ql
  ruby/ql/src/queries/security/cwe-078/KernelOpen.ql
Labels: no-change-note-required, Ruby

#7182 C#: Fix bad magic `Element::fromSource` in context of `SelfAssignment.ql`
  csharp/ql/lib/semmle/code/dotnet/Element.qll
Labels: C#

#7207 JS: Mention .hbs, .ejs, and .njk file extensions
  docs/codeql/support/reusables/versions-compilers.rst
Labels: JS, documentation

#7015 Ruby: Add Server-Side Request Forgery query
  ruby/change-notes/2021-11-09-request-forgery.md
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/dataflow/Sanitizers.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/HttpClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/lib/codeql/ruby/security/ServerSideRequestForgeryCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/ServerSideRequestForgeryQuery.qll
  ruby/ql/lib/codeql/ruby/security/UrlRedirectCustomizations.qll
  ruby/ql/src/queries/security/cwe-918/ServerSideRequestForgery.qhelp
  ruby/ql/src/queries/security/cwe-918/ServerSideRequestForgery.ql
  ruby/ql/src/queries/security/cwe-918/ServerSideRequestForgery.rb
  ruby/ql/test/library-tests/controlflow/graph/Nodes.expected
  ruby/ql/test/library-tests/controlflow/graph/Nodes.ql
  ruby/ql/test/library-tests/frameworks/http_clients/Excon.expected
  ruby/ql/test/library-tests/frameworks/http_clients/Excon.ql
  ruby/ql/test/library-tests/frameworks/http_clients/Faraday.expected
  ruby/ql/test/library-tests/frameworks/http_clients/Faraday.ql
  ruby/ql/test/library-tests/frameworks/http_clients/Faraday.rb
  ruby/ql/test/library-tests/frameworks/http_clients/HttpClient.expected
  ruby/ql/test/library-tests/frameworks/http_clients/HttpClient.ql
  ruby/ql/test/library-tests/frameworks/http_clients/HttpClients.expected
  ruby/ql/test/library-tests/frameworks/http_clients/HttpClients.ql
  ruby/ql/test/library-tests/frameworks/http_clients/Httparty.expected
  ruby/ql/test/library-tests/frameworks/http_clients/Httparty.ql
  ruby/ql/test/library-tests/frameworks/http_clients/NetHttp.expected
  ruby/ql/test/library-tests/frameworks/http_clients/NetHttp.ql
  ruby/ql/test/library-tests/frameworks/http_clients/OpenURI.expected
  ruby/ql/test/library-tests/frameworks/http_clients/OpenURI.ql
  ruby/ql/test/library-tests/frameworks/http_clients/RestClient.expected
  ruby/ql/test/library-tests/frameworks/http_clients/RestClient.ql
  ruby/ql/test/library-tests/frameworks/http_clients/RestClient.rb
  ruby/ql/test/library-tests/frameworks/http_clients/Typhoeus.expected
  ruby/ql/test/library-tests/frameworks/http_clients/Typhoeus.ql
  ruby/ql/test/query-tests/security/cwe-918/ServerSideRequestForgery.expected
  ruby/ql/test/query-tests/security/cwe-918/ServerSideRequestForgery.qlref
  ruby/ql/test/query-tests/security/cwe-918/ServerSideRequestForgery.rb
Labels: documentation, Ruby

#7209 C++: Move experimental test.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-675/semmle/tests/DoubleRelease.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-675/semmle/tests/DoubleRelease.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-675/semmle/tests/test.cpp
Labels: C++

#7206 Update query-metadata-style-guide.md
  docs/query-metadata-style-guide.md
Labels: documentation

#7186 JS: [Internal only] Rename the available ML models external predicate
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/BaseScoring.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointScoring.qll
Labels: JS, depends on internal PR

#7208 Ruby: Restrict use-use flow
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Labels: Ruby

#7172 Ruby: Remove CP in `EnsureSplitImpl::exit/3`
  ruby/ql/lib/codeql/ruby/controlflow/internal/Splitting.qll
Labels: Ruby

#7215 Fix link formatting
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
Labels: documentation

#7098 Ruby: Desugar `for` loops as calls to `each`
  csharp/ql/lib/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImplShared.qll
  ruby/ql/lib/codeql/ruby/AST.qll
  ruby/ql/lib/codeql/ruby/ast/Control.qll
  ruby/ql/lib/codeql/ruby/ast/Expr.qll
  ruby/ql/lib/codeql/ruby/ast/Method.qll
  ruby/ql/lib/codeql/ruby/ast/Parameter.qll
  ruby/ql/lib/codeql/ruby/ast/Pattern.qll
  ruby/ql/lib/codeql/ruby/ast/Scope.qll
  ruby/ql/lib/codeql/ruby/ast/Variable.qll
  ruby/ql/lib/codeql/ruby/ast/internal/AST.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Call.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Expr.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Method.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Parameter.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Scope.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Variable.qll
  ruby/ql/lib/codeql/ruby/controlflow/ControlFlowGraph.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/Completion.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplShared.qll
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/AstDesugar.expected
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/calls/arguments.expected
  ruby/ql/test/library-tests/ast/calls/calls.expected
  ruby/ql/test/library-tests/ast/calls/calls.rb
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/break_ensure.rb
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/Nodes.expected
  ruby/ql/test/library-tests/variables/parameter.expected
  ruby/ql/test/library-tests/variables/ssa.expected
  ruby/ql/test/library-tests/variables/varaccess.expected
  ruby/ql/test/library-tests/variables/variable.expected
  ruby/ql/test/library-tests/variables/varscopes.expected
Labels: C#, Ruby

#6972 Python: Promote ReDoS queries
  python/change-notes/2021-10-28-promote-ReDoS-queries.md
  python/ql/src/Security/CWE-730/PolynomialBackTracking.ql
  python/ql/src/Security/CWE-730/PolynomialReDoS.qhelp
  python/ql/src/Security/CWE-730/PolynomialReDoS.ql
  python/ql/src/Security/CWE-730/ReDoS.qhelp
  python/ql/src/Security/CWE-730/ReDoS.ql
  python/ql/src/Security/CWE-730/ReDoSIntroduction.inc.qhelp
  python/ql/src/Security/CWE-730/ReDoSReferences.inc.qhelp
  python/ql/test/query-tests/Security/CWE-730-PolynomialReDoS/PolynomialReDoS.qlref
  python/ql/test/query-tests/Security/CWE-730-ReDoS/ReDoS.qlref
Labels: documentation, Python, Awaiting evaluation

#7062 Ruby: Add `rb/csrf-protection-disabled` query
  ruby/change-notes/2021-11-04-csrf-protection-disabled.md
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/src/queries/security/cwe-352/CSRFProtectionDisabled.qhelp
  ruby/ql/src/queries/security/cwe-352/CSRFProtectionDisabled.ql
  ruby/ql/src/queries/security/cwe-352/examples/UsersController.rb
  ruby/ql/test/query-tests/security/cwe-352/CSRFProtectionDisabled.expected
  ruby/ql/test/query-tests/security/cwe-352/CSRFProtectionDisabled.qlref
  ruby/ql/test/query-tests/security/cwe-352/railsapp/app/controllers/application_controller.rb
  ruby/ql/test/query-tests/security/cwe-352/railsapp/app/controllers/users_controller.rb
  ruby/ql/test/query-tests/security/cwe-352/railsapp/config/application.rb
  ruby/ql/test/query-tests/security/cwe-352/railsapp/config/environment.rb
  ruby/ql/test/query-tests/security/cwe-352/railsapp/config/environments/development.rb
  ruby/ql/test/query-tests/security/cwe-352/railsapp/config/environments/production.rb
  ruby/ql/test/query-tests/security/cwe-352/railsapp/config/environments/test.rb
  ruby/ql/test/query-tests/security/cwe-352/railsapp/test/controllers/users_controller_test.rb
Labels: documentation, Ruby

#7109 C++: Don't interpret 'ReferenceToInstruction' as a load
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/dispatch.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/tainted.ql
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/test_diff.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/struct_init.c
  cpp/ql/test/library-tests/dataflow/smart-pointers-taint/test.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
Labels: C++

#7218 Ruby: Fix SSA consistency tests + CFG bug
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/cil/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/pressa/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/basessa/SsaImplCommon.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/Splitting.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImplCommon.qll
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/Nodes.expected
Labels: C#, C++, Ruby

#6978 Ruby: add regex injection query
  ruby/change-notes/2021-10-29-regexp-injection.md
  ruby/ql/lib/codeql/ruby/frameworks/StandardLibrary.qll
  ruby/ql/lib/codeql/ruby/security/performance/RegExpInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/performance/RegExpInjectionQuery.qll
  ruby/ql/src/queries/security/cwe-1333/RegExpInjection.qhelp
  ruby/ql/src/queries/security/cwe-1333/RegExpInjection.ql
  ruby/ql/src/queries/security/cwe-1333/examples/regexp_injection_bad.rb
  ruby/ql/src/queries/security/cwe-1333/examples/regexp_injection_good.rb
  ruby/ql/test/query-tests/security/cwe-1333-regexp-injection/RegExpInjection.expected
  ruby/ql/test/query-tests/security/cwe-1333-regexp-injection/RegExpInjection.qlref
  ruby/ql/test/query-tests/security/cwe-1333-regexp-injection/RegExpInjection.rb
Labels: documentation, Ruby

#7188 C++: take IR Operand locations from definitions
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/ir/ir/PrintConfig.qll
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.ql
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-079/semmle/CgiXss/CgiXss.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/SAMATE/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  csharp/ql/src/experimental/ir/implementation/raw/Operand.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Operand.qll
Labels: C#, C++, depends on internal PR

#7181 Java: Add diagnostic query for framework coverage
  java/ql/src/Diagnostics/CoverageDiagnostics.ql
Labels: Java, no-change-note-required

#7226 C++: Hide some IR dataflow nodes
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
Labels: C++

#7145 Python/Ruby: Remove owasp tags
  python/ql/src/Security/CWE-022/PathInjection.ql
  python/ql/src/Security/CWE-078/CommandInjection.ql
  python/ql/src/Security/CWE-089/SqlInjection.ql
  python/ql/src/Security/CWE-094/CodeInjection.ql
  ruby/ql/src/queries/security/cwe-089/SqlInjection.ql
  ruby/ql/src/queries/security/cwe-094/CodeInjection.ql
Labels: Python, no-change-note-required, Ruby

#7131 Python: Model `wsgiref.simple_server` applications
  python/change-notes/2021-11-15-model-wsgiref-simple-server-app.md
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/internal/PoorMansFunctionResolution.qll
  python/ql/test/library-tests/frameworks/internal-ql-helpers/PoorMansFunctionResolutionTest.expected
  python/ql/test/library-tests/frameworks/internal-ql-helpers/PoorMansFunctionResolutionTest.ql
  python/ql/test/library-tests/frameworks/internal-ql-helpers/test.py
  python/ql/test/library-tests/frameworks/stdlib/wsgiref_simple_server_test.py
Labels: documentation, Python

#7173 JS/PY/RB: get ReDoSUtil in sync for ruby
  config/identical-files.json
  javascript/ql/lib/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/lib/semmle/javascript/security/performance/RegExpTreeView.qll
  python/ql/lib/semmle/python/security/performance/ReDoSUtil.qll
  python/ql/lib/semmle/python/security/performance/RegExpTreeView.qll
  ruby/ql/lib/codeql/ruby/security/performance/ReDoSUtil.qll
  ruby/ql/lib/codeql/ruby/security/performance/RegExpTreeView.qll
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/ReDoS.expected
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/tst.rb
Labels: JS, Python, Ruby

#7222 Ruby: fix CI jobs after removal of `.codeql-manifest.json`
  .github/workflows/ruby-dataset-measure.yml
  .github/workflows/ruby-qltest.yml
  ruby/Makefile
  ruby/doc/HOWTO.md
Labels: documentation, Ruby

#6717 Java: CWE-400 - Query to detect uncontrolled thread resource consumption
  java/ql/src/experimental/Security/CWE/CWE-400/LocalThreadResourceAbuse.ql
  java/ql/src/experimental/Security/CWE/CWE-400/ThreadResourceAbuse.java
  java/ql/src/experimental/Security/CWE/CWE-400/ThreadResourceAbuse.qhelp
  java/ql/src/experimental/Security/CWE/CWE-400/ThreadResourceAbuse.ql
  java/ql/src/experimental/Security/CWE/CWE-400/ThreadResourceAbuse.qll
  java/ql/test/experimental/query-tests/security/CWE-400/LocalThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-400/LocalThreadResourceAbuse.qlref
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.java
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.qlref
  java/ql/test/experimental/query-tests/security/CWE-400/UploadListener.java
  java/ql/test/experimental/query-tests/security/CWE-400/options
  java/ql/test/stubs/apache-commons-fileupload-1.4/org/apache/commons/fileupload2/ProgressListener.java
Labels: documentation, Java

#7229 Document XXE sanitisation policy
  java/ql/src/Security/CWE/CWE-611/XXE.qhelp
Labels: documentation, Java

#7185 C#: Enable SSA consistency queries
  csharp/ql/consistency-queries/SsaConsistency.ql
  csharp/ql/lib/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/graph/cflow.cs
Labels: C#

#7232 Data flow: Performance tuning
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#7244 JS: [Internal only] Add ML models specification to ATM query pack definition
  javascript/ql/experimental/adaptivethreatmodeling/src/.gitignore
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: JS

#7240 Note that FEATURE_SECURE_PROCESSING isn't a sufficient defence against XXE
  java/ql/lib/semmle/code/java/security/XmlParsers.qll
  java/ql/test/query-tests/security/CWE-611/DocumentBuilderTests.java
  java/ql/test/query-tests/security/CWE-611/XXE.expected
Labels: Java

#7239 Range analysis and useless-comparison query: don't treat all unicode surrogates as if they are U+FFFD
  java/change-notes/2021-11-25-surrogate-char-literals.md
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/test/library-tests/literals/charLiterals/charLiterals.expected
  java/ql/test/query-tests/UselessComparisonTest/CharLiterals.java
  java/ql/test/query-tests/UselessComparisonTest/UselessComparisonTest.expected
Labels: documentation, Java

#7237 Data flow: Introduce `ConsistencyConfiguration` class
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplConsistency.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplConsistency.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  ruby/ql/consistency-queries/DataFlowConsistency.ql
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplConsistency.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, Java, Python, Ruby

#7178 C#: Initial implementation of csv printing in FlowSummaries test
  csharp/ql/lib/semmle/code/csharp/Member.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.expected
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.ql
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.ql
  csharp/ql/test/shared/FlowSummaries.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: C#, Java, Ruby

#7255 C#: Only include effectively public declarations in flow summaries
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.expected
  csharp/ql/test/shared/FlowSummaries.qll
Labels: C#

#7233 JS/Py: Fix cleartext logging CWEs
  javascript/ql/src/Security/CWE-312/CleartextLogging.ql
  python/ql/src/Security/CWE-312/CleartextLogging.ql
Labels: JS, Python, no-change-note-required

#7046 Python: Add test with custom django json response (FP)
  python/ql/test/library-tests/frameworks/django-v2-v3/response_test.py
Labels: Python, no-change-note-required

#7101 Python: Fix some query-ids
  python/change-notes/2021-11-12-fix-pyhton-query-ids.md
  python/ql/src/Security/CWE-020-ExternalAPIs/ExternalAPIsUsedWithUntrustedData.ql
  python/ql/src/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.ql
  python/ql/src/analysis/LocalDefinitions.ql
  python/ql/src/analysis/LocalReferences.ql
Labels: documentation, Python

#7007 Java: Ratpack HTTP Framework Additional Modeling
  java/change-notes/2021-19-29-improved-ratpack-support.md
  java/ql/lib/semmle/code/java/frameworks/ratpack/Ratpack.qll
  java/ql/lib/semmle/code/java/frameworks/ratpack/RatpackExec.qll
  java/ql/test/library-tests/frameworks/ratpack/resources/PairTest.java
  java/ql/test/library-tests/frameworks/ratpack/resources/Resource.java
  java/ql/test/stubs/ratpack-1.9.x/ratpack/exec/Operation.java
  java/ql/test/stubs/ratpack-1.9.x/ratpack/exec/Promise.java
  java/ql/test/stubs/ratpack-1.9.x/ratpack/exec/Result.java
  java/ql/test/stubs/ratpack-1.9.x/ratpack/func/Block.java
  java/ql/test/stubs/ratpack-1.9.x/ratpack/func/Pair.java
Labels: documentation, Java, hacktoberfest-accepted

#7242 C++: New query for SSL result conflation
  cpp/change-notes/2021-11-25-certificate-result-conflation.md
  cpp/ql/src/Security/CWE/CWE-295/SSLResultConflation.qhelp
  cpp/ql/src/Security/CWE/CWE-295/SSLResultConflation.ql
  cpp/ql/src/Security/CWE/CWE-295/SSLResultConflationBad.cpp
  cpp/ql/src/Security/CWE/CWE-295/SSLResultConflationGood.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-295/SSLResultConflation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-295/SSLResultConflation.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-295/test.cpp
Labels: C++, documentation

#7267 C++: add some more range analysis tests
  cpp/ql/test/query-tests/Security/CWE/CWE-242/semmle/tests/OverrunWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-242/semmle/tests/tests.cpp
Labels: C++
