Repository github/codeql, pull requests merged in 2021-01, with the labels that each got.

#4857 C#: Move `Expr::hasValue()` to `DotNet::Expr`
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/src/semmle/code/dotnet/Expr.qll
Labels: C#

#4891 C++: Fix join order in getAnOverload
  cpp/ql/src/semmle/code/cpp/Function.qll
Labels: C++

#4858 C#: Merge queries `FormatInvalid.ql`, `FormatMissingArgument.ql`, and `FormatUnusedArgument.ql`
  csharp/change-notes/2020-12-21-merge-format-queries.md
  csharp/ql/src/API Abuse/FormatInvalid.qhelp
  csharp/ql/src/API Abuse/FormatInvalid.ql
  csharp/ql/src/API Abuse/FormatInvalidBad.cs
  csharp/ql/src/API Abuse/FormatInvalidGood.cs
  csharp/ql/src/API Abuse/FormatMissingArgument.qhelp
  csharp/ql/src/API Abuse/FormatMissingArgument.ql
  csharp/ql/src/API Abuse/FormatMissingArgumentBad.cs
  csharp/ql/src/API Abuse/FormatMissingArgumentGood.cs
  csharp/ql/src/API Abuse/FormatUnusedArgument.qhelp
  csharp/ql/src/API Abuse/FormatUnusedArgument.ql
  csharp/ql/src/API Abuse/FormatUnusedArgumentBad.cs
  csharp/ql/src/semmle/code/csharp/frameworks/Format.qll
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatInvalid.cs
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatInvalid.expected
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatInvalidBad.cs
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatInvalidGood.cs
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatMissingArgument.cs
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatMissingArgumentBad.cs
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatMissingArgumentGood.cs
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatUnusedArgument.cs
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatUnusedArgumentBad.cs
  csharp/ql/test/query-tests/API Abuse/FormatMissingArgument/FormatMissingArgument.expected
  csharp/ql/test/query-tests/API Abuse/FormatMissingArgument/FormatMissingArgument.qlref
  csharp/ql/test/query-tests/API Abuse/FormatUnusedArgument/FormatUnusedArgument.expected
  csharp/ql/test/query-tests/API Abuse/FormatUnusedArgument/FormatUnusedArgument.qlref
Labels: C#, documentation

#4898 Add MethodAccessSystemGetProperty predicate
  java/ql/src/semmle/code/java/JDK.qll
  java/ql/test/library-tests/JDK/PrintAst.expected
  java/ql/test/library-tests/JDK/SystemGetPropertyCall.expected
  java/ql/test/library-tests/JDK/SystemGetPropertyCall.ql
  java/ql/test/library-tests/JDK/jdk/SystemGetPropertyCall.java
Labels: Java

#4847 JS: Better detection of superliniear regular expressions
  javascript/change-notes/2021-01-04-superliniar-redos.md
  javascript/ql/src/Performance/ReDoS.ql
  javascript/ql/src/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/src/semmle/javascript/security/performance/SuperlinearBackTracking.qll
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/ReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/polynomial-redos.js
  javascript/ql/test/query-tests/Performance/ReDoS/tst.js
Labels: JS, documentation

#4814 Java: Password in Java EE configuration files
  java/ql/src/experimental/Security/CWE/CWE-555/PasswordInConfigurationFile.qhelp
  java/ql/src/experimental/Security/CWE/CWE-555/PasswordInConfigurationFile.ql
  java/ql/src/experimental/Security/CWE/CWE-555/context.xml
  java/ql/test/experimental/query-tests/security/CWE-555/PasswordInConfigurationFile.expected
  java/ql/test/experimental/query-tests/security/CWE-555/PasswordInConfigurationFile.qlref
  java/ql/test/experimental/query-tests/security/CWE-555/applicationContext.xml
  java/ql/test/experimental/query-tests/security/CWE-555/context.xml
  java/ql/test/experimental/query-tests/security/CWE-555/custom-config.xml
Labels: Java, documentation

#4828 Python: add source nodes
  python/ql/src/semmle/python/Concepts.qll
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/dataflow/new/TypeTracker.qll
  python/ql/src/semmle/python/dataflow/new/internal/Attributes.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowUtil.qll
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/src/semmle/python/objects/TObject.qll
  python/ql/src/semmle/python/regex.qll
  python/ql/src/semmle/python/types/Builtins.qll
  python/ql/test/experimental/dataflow/import-helper/ImportHelper.expected
Labels: Awaiting evaluation, Python

#4622 Python: Add source nodes to fix type tracking performance
  python/ql/src/semmle/python/Concepts.qll
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/dataflow/new/TypeTracker.qll
  python/ql/src/semmle/python/dataflow/new/internal/Attributes.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/src/semmle/python/objects/TObject.qll
  python/ql/src/semmle/python/regex.qll
  python/ql/src/semmle/python/types/Builtins.qll
Labels: Python

#4873 Docs: Fix CSS for "pull-quotes" and expandable sections
  docs/codeql/_static/custom.css_t
Labels: documentation

#4878 Docs: Change remaining notes to "pull-quote" directives
  docs/codeql/codeql-cli/creating-codeql-query-suites.rst
  docs/codeql/codeql-language-guides/hash-consing-and-value-numbering.rst
  docs/codeql/ql-language-reference/annotations.rst
  docs/codeql/ql-language-reference/evaluation-of-ql-programs.rst
  docs/codeql/ql-language-reference/expressions.rst
  docs/codeql/ql-language-reference/formulas.rst
  docs/codeql/ql-language-reference/predicates.rst
  docs/codeql/ql-language-reference/types.rst
  docs/codeql/writing-codeql-queries/index.rst
Labels: documentation

#4886 fix for the dead link, #4885
  docs/codeql/codeql-cli/query-reference-files.rst
Labels: documentation

#4913 Add pre-commit hook to scripts folder and document it
  CONTRIBUTING.md
  docs/pre-commit-hook-setup.md
  misc/scripts/pre-commit
Labels: documentation

#4874 Docs: Tweak syntax highlighting
  docs/codeql/codeql-language-guides/codeql-library-for-csharp.rst
  docs/codeql/conf.py
  docs/codeql/ql-language-reference/aliases.rst
  docs/codeql/ql-language-reference/annotations.rst
  docs/codeql/ql-language-reference/evaluation-of-ql-programs.rst
  docs/codeql/ql-language-reference/expressions.rst
  docs/codeql/ql-language-reference/formulas.rst
  docs/codeql/ql-language-reference/modules.rst
  docs/codeql/ql-language-reference/name-resolution.rst
  docs/codeql/ql-language-reference/predicates.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
  docs/codeql/ql-language-reference/queries.rst
  docs/codeql/ql-language-reference/recursion.rst
  docs/codeql/ql-language-reference/types.rst
  docs/codeql/writing-codeql-queries/about-codeql-queries.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
  docs/codeql/writing-codeql-queries/cross-the-river.rst
  docs/codeql/writing-codeql-queries/troubleshooting-query-performance.rst
Labels: documentation

#4904 C++: Add dataflow testcases that need flow through conflated memory
  cpp/ql/test/library-tests/dataflow/fields/conflated.cpp
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
Labels: C++

#4862 JS: add typeof sanitizer to js/shell-command-constructed-from-input
  javascript/ql/src/Security/CWE-915/PrototypePollutingFunction.ql
  javascript/ql/src/semmle/javascript/DefensiveProgramming.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/TaintedObject.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollutingAssignment.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCallCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/XssThroughDom.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: JS

#4903 C#: Port SSA performance improvements from Java
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
Labels: C#

#4914 QL Language specification. Fix multiple spec bugs.
  docs/codeql/ql-language-reference/about-the-ql-language.rst
  docs/codeql/ql-language-reference/index.rst
  docs/codeql/ql-language-reference/lexical-syntax.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
  docs/codeql/ql-language-reference/qldoc-comment-specification.rst
  docs/codeql/writing-codeql-queries/metadata-for-codeql-queries.rst
Labels: documentation

#4905 C#: Fix attribute argument extraction
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction/AssemblyScope.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entities/ExtractionError.cs
  csharp/extractor/Semmle.Extraction/Entities/GeneratedLocation.cs
  csharp/extractor/Semmle.Extraction/Entities/Location.cs
  csharp/extractor/Semmle.Extraction/ExtractionScope.cs
  csharp/extractor/Semmle.Extraction/IExtractionScope.cs
  csharp/extractor/Semmle.Extraction/SourceScope.cs
  csharp/ql/test/library-tests/attributes/AttributeArguments.expected
  csharp/ql/test/library-tests/attributes/AttributeElements.expected
  csharp/ql/test/library-tests/attributes/PrintAst.expected
  csharp/ql/test/library-tests/attributes/attributes.cs
Labels: C#

#4919 JS: add class-field flowstep to js/shell-command-constructed-from-input
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstruction.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: JS

#4810 C++: Query for multiplications used in allocations.
  cpp/ql/src/experimental/Security/CWE/CWE-190/AllocMultiplicationOverflow.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-190/AllocMultiplicationOverflow.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-190/AllocMultiplicationOverflow.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/AllocMultiplicationOverflow/AllocMultiplicationOverflow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/AllocMultiplicationOverflow/AllocMultiplicationOverflow.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/AllocMultiplicationOverflow/test.cpp
Labels: C++, documentation

#4823 JS: Flag more results in js/redos
  javascript/ql/src/Performance/ReDoS.ql
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/ReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/highlight.js
  javascript/ql/test/query-tests/Performance/ReDoS/tst.js
Labels: JS

#4921 JS: support sanitizers that sanitize individual chars in js/shell-commandconstructed-from-input
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: Awaiting evaluation, JS

#4675 Java: Query to detect cleartext storage of sensitive information using Android SharedPreferences
  java/ql/src/experimental/Security/CWE/CWE-312/CleartextStorageSharedPrefs.java
  java/ql/src/experimental/Security/CWE/CWE-312/CleartextStorageSharedPrefs.qhelp
  java/ql/src/experimental/Security/CWE/CWE-312/CleartextStorageSharedPrefs.ql
  java/ql/src/semmle/code/java/frameworks/android/SharedPreferences.qll
  java/ql/test/experimental/query-tests/security/CWE-312/CleartextStorageSharedPrefs.expected
  java/ql/test/experimental/query-tests/security/CWE-312/CleartextStorageSharedPrefs.java
  java/ql/test/experimental/query-tests/security/CWE-312/CleartextStorageSharedPrefs.qlref
  java/ql/test/experimental/query-tests/security/CWE-312/options
  java/ql/test/stubs/google-android-9.0.0/android/content/Context.java
  java/ql/test/stubs/google-android-9.0.0/android/content/SharedPreferences.java
  java/ql/test/stubs/google-android-9.0.0/androidx/security/crypto/EncryptedSharedPreferences.java
  java/ql/test/stubs/google-android-9.0.0/androidx/security/crypto/MasterKey.java
Labels: Java, documentation

#4925 Fix broken links in CodeQL documentation
  docs/codeql/codeql-cli/about-ql-packs.rst
  docs/codeql/codeql-cli/creating-codeql-query-suites.rst
  docs/codeql/codeql-language-guides/analyzing-control-flow-in-python.rst
  docs/codeql/codeql-language-guides/codeql-library-for-cpp.rst
  docs/codeql/codeql-language-guides/codeql-library-for-go.rst
  docs/codeql/codeql-language-guides/codeql-library-for-javascript.rst
  docs/codeql/codeql-language-guides/codeql-library-for-python.rst
  docs/codeql/codeql-language-guides/codeql-library-for-typescript.rst
  docs/codeql/codeql-language-guides/data-flow-cheat-sheet-for-javascript.rst
  docs/codeql/codeql-language-guides/detecting-a-potential-buffer-overflow.rst
  docs/codeql/codeql-language-guides/modeling-data-flow-in-go-libraries.rst
  docs/codeql/codeql-language-guides/pointer-analysis-and-type-inference-in-python.rst
  docs/codeql/codeql-language-guides/using-type-tracking-for-api-modeling.rst
  docs/codeql/ql-language-reference/about-the-ql-language.rst
  docs/codeql/ql-language-reference/annotations.rst
  docs/codeql/ql-language-reference/evaluation-of-ql-programs.rst
  docs/codeql/ql-language-reference/expressions.rst
  docs/codeql/ql-language-reference/formulas.rst
  docs/codeql/ql-language-reference/lexical-syntax.rst
  docs/codeql/ql-language-reference/modules.rst
  docs/codeql/ql-language-reference/name-resolution.rst
  docs/codeql/ql-language-reference/predicates.rst
  docs/codeql/ql-language-reference/types.rst
  docs/codeql/ql-language-reference/variables.rst
  docs/codeql/support/index.rst
  docs/codeql/writing-codeql-queries/about-codeql-queries.rst
  docs/codeql/writing-codeql-queries/cross-the-river.rst
  docs/codeql/writing-codeql-queries/introduction-to-ql.rst
Labels: documentation

#4867 Java: Fix taint-step handling for untrusted-data-external-api
  java/ql/src/semmle/code/java/security/ExternalAPIs.qll
Labels: Java

#4938 C++: Tidy up old QL headers
  cpp/ql/src/Architecture/General Class-Level Information/ClassHierarchies.ql
  cpp/ql/src/Architecture/General Class-Level Information/InheritanceDepthDistribution.ql
  cpp/ql/src/Architecture/General Namespace-Level Information/GlobalNamespaceClasses.ql
  cpp/ql/src/Architecture/Refactoring Opportunities/ClassesWithManyDependencies.ql
Labels: C++

#4933 address #4932,fix for errors of Binding behavior
  docs/codeql/ql-language-reference/predicates.rst
Labels: documentation

#4774 JS: better support for forms in js/xss-through-dom
  javascript/ql/src/semmle/javascript/DOM.qll
  javascript/ql/test/library-tests/DOM/Customizations.expected
  javascript/ql/test/library-tests/DOM/externs/externs.js
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/XssThroughDom.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/xss-through-dom.js
Labels: JS

#4771 Java: Add unsafe hostname verification query and remove existing overlapping query
  java/change-notes/2021-01-12-unsafe-hostname-verification.md
  java/ql/src/Security/CWE/CWE-297/UnsafeHostnameVerification.java
  java/ql/src/Security/CWE/CWE-297/UnsafeHostnameVerification.qhelp
  java/ql/src/Security/CWE/CWE-297/UnsafeHostnameVerification.ql
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.java
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.qhelp
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.ql
  java/ql/src/semmle/code/java/dataflow/FlowSources.qll
  java/ql/src/semmle/code/java/security/Encryption.qll
  java/ql/test/experimental/query-tests/security/CWE-273/UnsafeCertTrust.expected
  java/ql/test/experimental/query-tests/security/CWE-273/UnsafeCertTrustTest.java
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.expected
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.java
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.qlref
Labels: Java, documentation

#4881 CPP: Add query for CWE-401 memory leak on unsuccessful call to realloc function
  cpp/ql/src/experimental/Security/CWE/CWE-401/MemoryLeakOnFailedCallToRealloc.c
  cpp/ql/src/experimental/Security/CWE/CWE-401/MemoryLeakOnFailedCallToRealloc.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-401/MemoryLeakOnFailedCallToRealloc.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-401/semmle/tests/MemoryLeakOnFailedCallToRealloc.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-401/semmle/tests/MemoryLeakOnFailedCallToRealloc.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-401/semmle/tests/test.c
Labels: C++, documentation

#4941 C++: Test of taint through ConstructorDelegationInit.
  cpp/ql/test/library-tests/dataflow/taint-tests/constructor_delegation.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Labels: C++

#4924 C#: Remove throw completion from StringLiteral
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/exceptions/Exceptions1.expected
Labels: C#

#4751 JS: Move `js/log-injection` into non-experimental.
  javascript/change-notes/2020-11-30-loginjection.md
  javascript/ql/src/Security/CWE-117/LogInjection.qhelp
  javascript/ql/src/Security/CWE-117/LogInjection.ql
  javascript/ql/src/Security/CWE-117/examples/logInjectionBad.js
  javascript/ql/src/Security/CWE-117/examples/logInjectionGood.js
  javascript/ql/src/experimental/Security/CWE-117/examples/logInjectionBad.js
  javascript/ql/src/experimental/Security/CWE-117/examples/logInjectionGood.js
  javascript/ql/src/semmle/javascript/frameworks/Logging.qll
  javascript/ql/src/semmle/javascript/security/dataflow/LogInjection.qll
  javascript/ql/test/query-tests/Security/CWE-117/LogInjection.expected
  javascript/ql/test/query-tests/Security/CWE-117/LogInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-117/logInjectionBad.js
  javascript/ql/test/query-tests/Security/CWE-117/logInjectionGood.js
Labels: JS, documentation

#4915 C++: Fix FPs in cpp/sql-injection
  cpp/ql/src/Security/CWE/CWE-089/SqlTainted.ql
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/test.c
Labels: C++

#4952 C#: Fix type mention extraction of named types with nullability enabled
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/ql/test/library-tests/typeMentions/NullableDisabled.cs
  csharp/ql/test/library-tests/typeMentions/NullableEnabled.cs
  csharp/ql/test/library-tests/typeMentions/TypeMentions.expected
  csharp/ql/test/library-tests/typeMentions/TypeMentions.ql
Labels: C#

#4922 C#: Fix expanded assignment lookup in finally blocks for CFG
  csharp/ql/src/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Finally.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
Labels: C#

#4864 Python: Model Django request handler without route
  python/change-notes/2020-12-21-django-with-unknown-route.md
  python/ql/src/semmle/python/Concepts.qll
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/src/semmle/python/web/HttpConstants.qll
  python/ql/test/experimental/library-tests/frameworks/django-v1/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/taint_test.py
  python/ql/test/experimental/library-tests/frameworks/django-v2-v3/testapp/views.py
  python/ql/test/experimental/library-tests/frameworks/flask/old_test.py
  python/ql/test/experimental/library-tests/frameworks/flask/response_test.py
  python/ql/test/experimental/library-tests/frameworks/flask/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/flask/taint_test.py
  python/ql/test/experimental/library-tests/frameworks/stdlib/http_server.py
  python/ql/test/experimental/meta/ConceptsTest.qll
Labels: Python, documentation

#4869 Python: Add Tornado source modeling
  python/change-notes/2020-12-22-tornado-source-modeling.md
  python/ql/src/semmle/python/Frameworks.qll
  python/ql/src/semmle/python/frameworks/Tornado.qll
  python/ql/test/experimental/library-tests/frameworks/tornado/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/tornado/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/tornado/README.md
  python/ql/test/experimental/library-tests/frameworks/tornado/TestTaint.expected
  python/ql/test/experimental/library-tests/frameworks/tornado/TestTaint.ql
  python/ql/test/experimental/library-tests/frameworks/tornado/basic.py
  python/ql/test/experimental/library-tests/frameworks/tornado/options
  python/ql/test/experimental/library-tests/frameworks/tornado/responses.py
  python/ql/test/experimental/library-tests/frameworks/tornado/routing_test.py
  python/ql/test/experimental/library-tests/frameworks/tornado/taint_test.py
Labels: Python, documentation

#4944 Python: Add modeling of Flask class based (HTTP) request handlers
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/test/experimental/library-tests/frameworks/flask/old_test.py
  python/ql/test/experimental/library-tests/frameworks/flask/routing_test.py
Labels: Python, documentation

#4923 C#: SSA refactorings
  csharp/ql/src/semmle/code/csharp/commons/ConsistencyChecks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/defuse/useUseEquivalence.ql
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/ssa/Capture.cs
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
  csharp/ql/test/library-tests/dataflow/ssa/SsaDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefElement.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefLastRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaExplicitDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaImplicitQualifier.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaUltimateDef.expected
  csharp/ql/test/query-tests/Dead Code/DeadStoreOfLocal/DeadStoreOfLocal.cs
  csharp/ql/test/query-tests/Dead Code/DeadStoreOfLocal/DeadStoreOfLocal.expected
Labels: C#

#4960 Java: update documentation on supported language versions
  docs/codeql/support/reusables/versions-compilers.rst
  java/change-notes/2021-01-14-java-15-support.md
Labels: Java, documentation

#4928 JS: generalize js/incomplete-multi-character-sanitization
  javascript/change-notes/2021-01-08-js-incomplete-multi-character-sanitization.md
  javascript/ql/src/Security/CWE-116/IncompleteMultiCharacterSanitization.ql
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteMultiCharacterSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/tst-multi-character-sanitization.js
Labels: JS, documentation

#4973 Add ArrayInit.getSize(), improve documentation
  java/ql/src/semmle/code/java/Expr.qll
Labels: Java

#4962 C#: Improved extraction of type nullability
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Constructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Access.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Cast.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Discard.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ImplicitCast.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Initializer.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Invocation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Literal.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ObjectCreation/AnonymousObjectCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ObjectCreation/BaseObjectCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/Pattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/PositionalPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/PropertyPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/RecursivePattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/UnaryPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Query.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Switch.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/This.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/TypeAccess.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/TypeOf.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/VariableDeclaration.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Indexer.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/LocalVariable.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Catch.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/ForEach.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/TypeMention.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/ArrayType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NamedType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NullType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TupleType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Symbol.cs
Labels: C#

#4975 C#: Fix build error in RelationalPattern
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/RelationalPattern.cs
Labels: C#

#4974 C#: Remove leftover DB upgrade folder
  csharp/upgrades/to_change/upgrade.properties
Labels: C#

#4972 Fix broken links to QLDoc specification
  docs/codeql/ql-language-reference/ql-language-specification.rst
  docs/qldoc-style-guide.md
  docs/query-metadata-style-guide.md
Labels: documentation

#4750 C++: Model classes in StdString.qll.
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/DataFlow.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Taint.qll
Labels: C++

#4946 JS: Add library input as source for `js/polynomial-redos`
  javascript/change-notes/2021-01-14-polynomial-redos.md
  javascript/ql/src/Performance/PolynomialReDoS.ql
  javascript/ql/src/semmle/javascript/PackageExports.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/src/semmle/javascript/security/performance/PolynomialReDoSCustomizations.qll
  javascript/ql/src/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/src/semmle/javascript/security/performance/SuperlinearBackTracking.qll
  javascript/ql/test/library-tests/PackageExports/absent_main/package.json
  javascript/ql/test/library-tests/PackageExports/lib1/foo.js
  javascript/ql/test/library-tests/PackageExports/lib1/main.js
  javascript/ql/test/library-tests/PackageExports/lib1/package.json
  javascript/ql/test/library-tests/PackageExports/tests.expected
  javascript/ql/test/library-tests/PackageExports/tests.ql
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/lib/lib.js
  javascript/ql/test/query-tests/Performance/ReDoS/package.json
  javascript/ql/test/query-tests/Performance/ReDoS/polynomial-redos.js
Labels: JS, documentation

#4969 JS: Recognize DomSanitizer from @angular/core
  javascript/ql/src/semmle/javascript/frameworks/Angular2.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/angular2-client.ts
Labels: Awaiting evaluation, JS

#4978 Java: add change note for `struts.xml` extraction
  java/change-notes/2021-01-19-struts-xml-extraction.md
Labels: Java, documentation

#4982 Update reference to new CodeQL site
  docs/codeql/README.rst
Labels: documentation

#4977 Python: Add change-note for Flask class based view handlers
  python/change-notes/2021-01-12-flask-class-based-view-handlers.md
Labels: Python, documentation

#4971 Python: Avoid duplicated route-setup in django
  python/ql/src/semmle/python/frameworks/Django.qll
Labels: Python

#4979 C++: Improvements to experimental query cpp/memory-leak-on-failed-call-to-realloc
  cpp/ql/src/experimental/Security/CWE/CWE-401/MemoryLeakOnFailedCallToRealloc.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-401/semmle/tests/MemoryLeakOnFailedCallToRealloc.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-401/semmle/tests/test.c
Labels: C++

#4980 JS: add support for unnamed/default exports in PackageExports.qll
  javascript/ql/src/semmle/javascript/PackageExports.qll
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/lib/closure.js
  javascript/ql/test/query-tests/Performance/ReDoS/lib/lib.js
Labels: JS

#4942 JS: Reintroduce js/resource-exhaustion
  javascript/ql/src/experimental/Security/CWE-770/ResourceExhaustion.qhelp
  javascript/ql/src/experimental/Security/CWE-770/ResourceExhaustion.ql
  javascript/ql/src/experimental/Security/CWE-770/examples/ResourceExhaustion_timeout.js
  javascript/ql/src/experimental/Security/CWE-770/examples/ResourceExhaustion_timeout_fixed.js
  javascript/ql/src/experimental/semmle/javascript/security/dataflow/ResourceExhaustion.qll
  javascript/ql/src/experimental/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/test/experimental/Security/CWE-770/ResourceExhaustion.expected
  javascript/ql/test/experimental/Security/CWE-770/ResourceExhaustion.qlref
  javascript/ql/test/experimental/Security/CWE-770/documentaion-examples/ResourceExhaustion_timeout.js
  javascript/ql/test/experimental/Security/CWE-770/documentaion-examples/ResourceExhaustion_timeout_fixed.js
  javascript/ql/test/experimental/Security/CWE-770/resource-exhaustion.js
Labels: Awaiting evaluation, JS, documentation

#4959 C#: Split up SSA implementation
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/commons/ConsistencyChecks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImplSpecific.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/ModulusAnalysisSpecific.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/RangeUtils.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/rangeanalysis/SsaReadPositionSpecific.qll
  csharp/ql/test/library-tests/dataflow/defuse/useUseEquivalence.ql
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
Labels: C#

#4665 Python: Add new-style tests
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/TestUtil/FlowTest.qll
  python/ql/test/experimental/dataflow/TestUtil/LocalFlowStepTest.qll
  python/ql/test/experimental/dataflow/TestUtil/MaximalFlowTest.qll
  python/ql/test/experimental/dataflow/TestUtil/PrintNode.qll
  python/ql/test/experimental/dataflow/TestUtil/RoutingTest.qll
  python/ql/test/experimental/dataflow/basic/localFlowStepTest.expected
  python/ql/test/experimental/dataflow/basic/localFlowStepTest.ql
  python/ql/test/experimental/dataflow/basic/maximalFlowTest.expected
  python/ql/test/experimental/dataflow/basic/maximalFlowTest.ql
  python/ql/test/experimental/dataflow/basic/test.py
  python/ql/test/experimental/dataflow/callGraphConfig.qll
  python/ql/test/experimental/dataflow/coverage/argumentPassing.py
  python/ql/test/experimental/dataflow/coverage/argumentRoutingTest.expected
  python/ql/test/experimental/dataflow/coverage/argumentRoutingTest.ql
  python/ql/test/experimental/dataflow/coverage/classes.py
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.ql
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/dataflowTest.expected
  python/ql/test/experimental/dataflow/coverage/dataflowTest.ql
  python/ql/test/experimental/dataflow/coverage/datamodel.py
  python/ql/test/experimental/dataflow/coverage/test.py
  python/ql/test/experimental/dataflow/fieldflow/dataflow.expected
  python/ql/test/experimental/dataflow/tainttracking/TestTaintLib.qll
  python/ql/test/experimental/dataflow/testConfig.qll
Labels: Python

#4986 JS: Type inference wrongly assumed that all compound-assignments have type number
  javascript/change-notes/2021-01-21-type-inference-compound.md
  javascript/ql/src/Expressions/ImplicitOperandConversion.ql
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/BasicExprTypeInference.qll
  javascript/ql/test/query-tests/LanguageFeatures/PropertyWriteOnPrimitive/tst.js
Labels: JS, documentation

#4996 JS: recognize event emitters in nodejs client requests
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/frameworks/EventEmitter/test.expected
  javascript/ql/test/library-tests/frameworks/EventEmitter/test.ql
  javascript/ql/test/library-tests/frameworks/EventEmitter/tst2.js
  javascript/ql/test/library-tests/frameworks/NodeJSLib/http.js
  javascript/ql/test/library-tests/frameworks/NodeJSLib/tests.expected
Labels: JS

#5000 JS: skip analyzing regular expressions in minified files for ReDoS
  javascript/ql/src/semmle/javascript/security/performance/ReDoSUtil.qll
Labels: JS

#4990 C++: Further improvements to experimental query cpp/memory-leak-on-failed-call-to-realloc
  cpp/ql/src/experimental/Security/CWE/CWE-401/MemoryLeakOnFailedCallToRealloc.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-401/semmle/tests/MemoryLeakOnFailedCallToRealloc.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-401/semmle/tests/test.c
Labels: C++

#5002 C++: Fix path-problem format in cpp/private-cleartext-write
  cpp/ql/src/experimental/Security/CWE/CWE-359/PrivateCleartextWrite.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-359/semmle/tests/PrivateCleartextWrite.expected
Labels: C++

#4951 JS: reintroduce js/server-crash
  javascript/change-notes/2021-01-18-server-crash.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-730/ServerCrash.qhelp
  javascript/ql/src/Security/CWE-730/ServerCrash.ql
  javascript/ql/src/Security/CWE-730/examples/server-crash.BAD.js
  javascript/ql/src/Security/CWE-730/examples/server-crash.GOOD-A.js
  javascript/ql/src/Security/CWE-730/examples/server-crash.GOOD-B.js
  javascript/ql/test/query-tests/Security/CWE-730/ServerCrash.expected
  javascript/ql/test/query-tests/Security/CWE-730/ServerCrash.qlref
  javascript/ql/test/query-tests/Security/CWE-730/server-crash.js
Labels: JS, documentation

#4784 C++: Support longer access paths in IR field flow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/ArithmeticUncontrolled.expected
Labels: C++

#5003 C#: Remove uses of `getAQlClass()`
  cpp/ql/src/semmle/code/cpp/ir/implementation/IRType.qll
  csharp/ql/src/experimental/ir/implementation/IRType.qll
  csharp/ql/src/semmle/code/cil/ConsistencyChecks.qll
  csharp/ql/src/semmle/code/csharp/Element.qll
  csharp/ql/src/semmle/code/dotnet/Element.qll
  csharp/ql/test/library-tests/comments/Comments.expected
  csharp/ql/test/library-tests/comments/Comments.ql
  csharp/ql/test/library-tests/frameworks/test/Test.expected
  csharp/ql/test/library-tests/frameworks/test/Test.ql
  csharp/ql/test/library-tests/generics/ConsistencyChecks.ql
Labels: C#, C++

#5013 JS: remove benign result for js/whitespace-contradicts-precedence related to " | 0" expressions
  javascript/ql/src/Expressions/WhitespaceContradictsPrecedence.ql
  javascript/ql/test/query-tests/Expressions/WhitespaceContradictsPrecedence/tst.js
Labels: JS

#5001 C#: Remove `ReadKind` from the shared SSA library
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImplSpecific.qll
Labels: C#

#4706 JavaScript: Teach API graphs about (some) promisification and bound arguments.
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/ApiGraphs/bound-args/VerifyAssertions.expected
  javascript/ql/test/ApiGraphs/bound-args/VerifyAssertions.ql
  javascript/ql/test/ApiGraphs/bound-args/index.js
  javascript/ql/test/ApiGraphs/bound-args/package.json
  javascript/ql/test/ApiGraphs/promisify/VerifyAssertions.expected
  javascript/ql/test/ApiGraphs/promisify/VerifyAssertions.ql
  javascript/ql/test/ApiGraphs/promisify/index.js
  javascript/ql/test/ApiGraphs/promisify/package.json
Labels: JS

#4995 Python: model HTTP sink in Tornado
  python/ql/src/semmle/python/frameworks/Tornado.qll
  python/ql/test/experimental/library-tests/frameworks/tornado/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/tornado/basic.py
  python/ql/test/experimental/library-tests/frameworks/tornado/response_test.py
  python/ql/test/experimental/library-tests/frameworks/tornado/responses.py
  python/ql/test/experimental/library-tests/frameworks/tornado/routing_test.py
Labels: Python

#5014 Python: Add test of type-tracking self in methods
  python/ql/test/experimental/dataflow/typetracking/test.py
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
Labels: Python

#4970 C#: Fix extraction errors
  csharp/extractor/Semmle.Extraction.CIL/Entities/CustomAttributeDecoder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/NoMetadataHandleType.cs
  csharp/ql/test/library-tests/cil/attributes/attribute.expected
Labels: C#

#5007 Python: Disregard unresolved parameters
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/consistency/modeling-consistency.expected
  python/ql/test/experimental/dataflow/consistency/modeling-consistency.ql
  python/ql/test/experimental/dataflow/coverage/localFlow.expected
Labels: Python

#4712 JS: Api graph tweaks
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/ApiGraphs/call-nodes/index.js
  javascript/ql/test/ApiGraphs/call-nodes/test.expected
  javascript/ql/test/ApiGraphs/call-nodes/test.ql
Labels: JS

#5015 Python: add missing postupdate nodes
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/coverage/test.py
Labels: Python

#5017 C++: Correct pointer to data member example
  cpp/ql/src/semmle/code/cpp/Type.qll
Labels: C++

#4953 CPP: Add query for CWE-14 compiler removal of code to clear buffers.
  cpp/ql/src/experimental/Security/CWE/CWE-14/CompilerRemovalOfCodeToClearBuffers.c
  cpp/ql/src/experimental/Security/CWE/CWE-14/CompilerRemovalOfCodeToClearBuffers.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-14/CompilerRemovalOfCodeToClearBuffers.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-14/semmle/tests/CompilerRemovalOfCodeToClearBuffers.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-14/semmle/tests/CompilerRemovalOfCodeToClearBuffers.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-14/semmle/tests/test.c
Labels: C++, documentation

#5016 C#: Teach CFG about `ExceptionDispatchInfo::Throw`
  csharp/ql/src/semmle/code/csharp/controlflow/internal/NonReturning.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitMethods.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
Labels: C#

#5021 Add "tests" fields to test qlpacks
  cpp/ql/test/qlpack.yml
  csharp/ql/test/qlpack.yml
  java/ql/test/qlpack.yml
  javascript/ql/test/qlpack.yml
  python/ql/test/qlpack.yml
Labels: C#, C++, JS, Java, Python

#4724 C#: Implement CFG for `not` patterns
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExtractorOptions.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/graph/Patterns.cs
  csharp/ql/test/library-tests/controlflow/guards/AbstractValue.expected
  csharp/ql/test/library-tests/controlflow/guards/BooleanGuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/ExtractorOptions.cs
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Guards.cs
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/library-tests/controlflow/guards/NullGuardedExpr.expected
  csharp/ql/test/library-tests/csharp7/IsFlow.expected
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/csharp8/ispatternflow.expected
  csharp/ql/test/library-tests/csharp8/switchexprcontrolflow.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#5026 C++: Remove linear scan of functions table
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
Labels: C++

#5025 JS: Fix performance issue in upgrade script
  javascript/upgrades/c8859f3725d4b070a877f8792214582d517c8a9b/toplevel_parent_xml_node.ql
Labels: JS

#5020 JS: Add test that depends on getAQlClass
  javascript/ql/test/library-tests/DataFlow/tests.expected
  javascript/ql/test/library-tests/DataFlow/tests.ql
Labels: JS

#5031 C++: Remove more linear scans
  cpp/ql/src/semmle/code/cpp/Comments.qll
  cpp/ql/src/semmle/code/cpp/commons/Synchronization.qll
Labels: C++

#5036 C++: Model aliasing of memcpy-like functions and include more functions
  cpp/ql/src/semmle/code/cpp/models/implementations/Memcpy.qll
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
Labels: C++

#4999 C#: Adjust flow into phi nodes
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/SsaImplSpecific.qll
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/LocalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
Labels: C#

#5035 C++: Implied dataflow models
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FunctionInputsAndOutputs.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/standalone_iterators.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/string.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/stringstream.cpp
Labels: C++

#4963 Java: Add flow steps for Guava collection utilities
  java/ql/src/semmle/code/java/frameworks/guava/Collections.qll
  java/ql/src/semmle/code/java/frameworks/guava/Guava.qll
  java/ql/test/library-tests/frameworks/guava/TestCollect.java
  java/ql/test/library-tests/frameworks/guava/TestStrings.java
  java/ql/test/library-tests/frameworks/guava/flow.expected
  java/ql/test/stubs/guava-30.0/com/google/common/base/Splitter.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/AbstractMultimap.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/AbstractTable.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/ImmutableCollection.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/ImmutableList.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/ImmutableMap.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/ImmutableMultimap.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/ImmutableMultiset.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/ImmutableSet.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/ImmutableSortedMap.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/ImmutableSortedSet.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/ImmutableTable.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/Multimap.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/Multiset.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/Sets.java
  java/ql/test/stubs/guava-30.0/com/google/common/collect/Table.java
Labels: Java

#5009 CPP: add query for CWE-788 Access of memory location after the end of a buffer using strncat.
  cpp/ql/src/experimental/Security/CWE/CWE-788/AccessOfMemoryLocationAfterEndOfBufferUsingStrncat.c
  cpp/ql/src/experimental/Security/CWE/CWE-788/AccessOfMemoryLocationAfterEndOfBufferUsingStrncat.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-788/AccessOfMemoryLocationAfterEndOfBufferUsingStrncat.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/AccessOfMemoryLocationAfterEndOfBufferUsingStrncat.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/AccessOfMemoryLocationAfterEndOfBufferUsingStrncat.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-788/semmle/tests/test.c
Labels: C++, documentation

#5038 Python: Fix too many results from DataFlow::importNode
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowUtil.qll
  python/ql/test/experimental/dataflow/import-helper/ImportHelper.expected
  python/ql/test/experimental/dataflow/import-helper/test_deep.py
  python/ql/test/experimental/dataflow/typetracking/test.py
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
Labels: Python

#5023 Python: Only generate one post-update node, even if there are multiple reasons for doing so.
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Labels: Python

#4557 C#: Simpler data-flow modelling of parameters
  csharp/ql/src/semmle/code/cil/Declaration.qll
  csharp/ql/src/semmle/code/csharp/Member.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DelegateDataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/FlowSummarySpecific.qll
  csharp/ql/src/semmle/code/dotnet/Declaration.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/delegates/DelegateFlow.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/Dataflow.expected
Labels: C#

#5028 Docs: Update copyright date in footer
  docs/codeql/_templates/layout.html
  docs/codeql/index.html
Labels: documentation

#5041 CPP: Improve cpp/memory-leak-on-failed-call-to-realloc
  cpp/ql/src/experimental/Security/CWE/CWE-401/MemoryLeakOnFailedCallToRealloc.ql
Labels: C++

#5040 C++: Strset and strtok model implementations
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strset.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strtok.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++

#5043 C++: Uniform treatment of parameters and qualifiers in model dataflow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#5022 Python: Callable for lambdas
  python/ql/src/semmle/python/Function.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/experimental/dataflow/consistency/test.py
Labels: Python

#4752 Python: Dataflow, unpacking assignment
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
Labels: Python

#5029 JS: Ignore Angular templates in a few non-security queries
  javascript/ql/src/Declarations/DeadStoreOfLocal.ql
  javascript/ql/src/Declarations/DeadStoreOfProperty.ql
  javascript/ql/src/Expressions/ExprHasNoEffect.qll
  javascript/ql/src/LanguageFeatures/SyntaxError.ql
Labels: JS

#5046 C++: Model more pure functions
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
Labels: C++
