Repository github/codeql, pull requests merged in 2022-04, with the labels that each got.

#8609 C#: Operator flow
  csharp/ql/lib/semmle/code/csharp/Callable.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  csharp/ql/test/utils/model-generator/CaptureSummaryModels.expected
  csharp/ql/test/utils/model-generator/Summaries.cs
Labels: C#, no-change-note-required

#8622 C++: Fix bad magic and bad join
  cpp/ql/lib/semmle/code/cpp/controlflow/StackVariableReachability.qll
  cpp/ql/lib/semmle/code/cpp/security/Overflow.qll
Labels: C++, no-change-note-required

#8629 C#: Improve query meta data.
  csharp/ql/src/utils/model-generator/CaptureSinkModels.ql
  csharp/ql/src/utils/model-generator/CaptureSourceModels.ql
  csharp/ql/src/utils/model-generator/CaptureSummaryModels.ql
Labels: C#, no-change-note-required

#7339 Python: Cache more predicates to improve performance.
  python/ql/lib/semmle/python/ApiGraphs.qll
  python/ql/lib/semmle/python/AstExtended.qll
  python/ql/lib/semmle/python/Exprs.qll
  python/ql/lib/semmle/python/Flow.qll
  python/ql/lib/semmle/python/Function.qll
  python/ql/lib/semmle/python/Import.qll
  python/ql/lib/semmle/python/Module.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/lib/semmle/python/dataflow/new/internal/LocalSources.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackerSpecific.qll
  python/ql/lib/semmle/python/essa/Essa.qll
  python/ql/lib/semmle/python/essa/SsaCompute.qll
  python/ql/lib/semmle/python/essa/SsaDefinitions.qll
  python/ql/lib/semmle/python/filters/GeneratedCode.qll
  python/ql/lib/semmle/python/internal/Awaited.qll
  python/ql/lib/semmle/python/internal/CachedStages.qll
  python/ql/lib/semmle/python/objects/ObjectInternal.qll
  python/ql/lib/semmle/python/objects/TObject.qll
  python/ql/lib/semmle/python/pointsto/Base.qll
  python/ql/lib/semmle/python/pointsto/PointsTo.qll
  python/ql/lib/semmle/python/types/Object.qll
  python/ql/src/Statements/UnnecessaryDelete.ql
  ql/ql/src/queries/style/NameCasing.ql
Labels: Python, no-change-note-required, QL-for-QL

#8601 Python: Flask: Identify body contents passed via named response parameter in invocations of Response constructor
  python/ql/lib/change-notes/2022-03-30-flask-recognize-body-param.md
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/test/library-tests/frameworks/flask/response_test.py
Labels: C++, documentation, Python

#8623 C++: Some enhancements to SensitiveExprs.qll
  cpp/ql/lib/change-notes/2022-03-31-sensitive-exprs.md
  cpp/ql/lib/semmle/code/cpp/security/SensitiveExprs.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test2.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test3.cpp
Labels: C++, documentation

#8640 Release preparation for version 2.8.5
  cpp/ql/lib/CHANGELOG.md
  cpp/ql/lib/change-notes/released/0.0.13.md
  cpp/ql/lib/codeql-pack.release.yml
  cpp/ql/lib/qlpack.yml
  cpp/ql/src/CHANGELOG.md
  cpp/ql/src/change-notes/released/0.0.13.md
  cpp/ql/src/codeql-pack.release.yml
  cpp/ql/src/qlpack.yml
  csharp/ql/campaigns/Solorigate/lib/CHANGELOG.md
  csharp/ql/campaigns/Solorigate/lib/change-notes/released/1.0.7.md
  csharp/ql/campaigns/Solorigate/lib/codeql-pack.release.yml
  csharp/ql/campaigns/Solorigate/lib/qlpack.yml
  csharp/ql/campaigns/Solorigate/src/CHANGELOG.md
  csharp/ql/campaigns/Solorigate/src/change-notes/released/1.0.7.md
  csharp/ql/campaigns/Solorigate/src/codeql-pack.release.yml
  csharp/ql/campaigns/Solorigate/src/qlpack.yml
  csharp/ql/lib/CHANGELOG.md
  csharp/ql/lib/change-notes/released/0.0.13.md
  csharp/ql/lib/codeql-pack.release.yml
  csharp/ql/lib/qlpack.yml
  csharp/ql/src/CHANGELOG.md
  csharp/ql/src/change-notes/released/0.0.13.md
  csharp/ql/src/codeql-pack.release.yml
  csharp/ql/src/qlpack.yml
  java/ql/lib/CHANGELOG.md
  java/ql/lib/change-notes/released/0.0.13.md
  java/ql/lib/codeql-pack.release.yml
  java/ql/lib/qlpack.yml
  java/ql/src/CHANGELOG.md
  java/ql/src/change-notes/released/0.0.13.md
  java/ql/src/codeql-pack.release.yml
  java/ql/src/qlpack.yml
  javascript/ql/lib/CHANGELOG.md
  javascript/ql/lib/change-notes/released/0.0.14.md
  javascript/ql/lib/codeql-pack.release.yml
  javascript/ql/lib/qlpack.yml
  javascript/ql/src/CHANGELOG.md
  javascript/ql/src/change-notes/released/0.0.14.md
  javascript/ql/src/codeql-pack.release.yml
  javascript/ql/src/qlpack.yml
  python/ql/lib/CHANGELOG.md
  python/ql/lib/change-notes/released/0.0.13.md
  python/ql/lib/codeql-pack.release.yml
  python/ql/lib/qlpack.yml
  python/ql/src/CHANGELOG.md
  python/ql/src/change-notes/released/0.0.13.md
  python/ql/src/codeql-pack.release.yml
  python/ql/src/qlpack.yml
  ruby/ql/lib/CHANGELOG.md
  ruby/ql/lib/change-notes/released/0.0.13.md
  ruby/ql/lib/codeql-pack.release.yml
  ruby/ql/lib/qlpack.yml
  ruby/ql/src/CHANGELOG.md
  ruby/ql/src/change-notes/released/0.0.13.md
  ruby/ql/src/codeql-pack.release.yml
  ruby/ql/src/qlpack.yml
Labels: C#, JS, C++, documentation, Java, Python, Ruby

#8638 Improve wording of isAdditionalFlow/TaintStep qldoc
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking1/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking3/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking4/TaintTrackingImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttrackingforlibraries/TaintTrackingImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#8589 ExponentialBackTracking: Speedup `concretise`
  javascript/ql/lib/semmle/javascript/security/performance/ExponentialBackTracking.qll
  javascript/ql/lib/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/lib/semmle/javascript/security/performance/SuperlinearBackTracking.qll
  python/ql/lib/semmle/python/security/performance/ExponentialBackTracking.qll
  python/ql/lib/semmle/python/security/performance/ReDoSUtil.qll
  python/ql/lib/semmle/python/security/performance/SuperlinearBackTracking.qll
  ruby/ql/lib/codeql/ruby/security/performance/ExponentialBackTracking.qll
  ruby/ql/lib/codeql/ruby/security/performance/ReDoSUtil.qll
  ruby/ql/lib/codeql/ruby/security/performance/SuperlinearBackTracking.qll
Labels: JS, Python, no-change-note-required, Ruby

#8626 C#: Exclude Equals and GetHashCode overrides from model generation.
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  csharp/ql/test/utils/model-generator/CaptureSummaryModels.expected
  csharp/ql/test/utils/model-generator/NoSummaries.cs
  csharp/ql/test/utils/model-generator/Summaries.cs
Labels: C#, no-change-note-required

#8554 C++: Handle bitwise copies in lambda captures
  cpp/ql/src/Best Practices/Unused Entities/UnusedLocals.ql
  cpp/ql/src/change-notes/2022-03-25-unused-lambda-capture.md
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
Labels: C++, depends on internal PR, documentation

#8576 JS: Add decorator edges in API graphs and corresponding MaD tokens
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/Classes.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  javascript/ql/test/library-tests/frameworks/data/paramDecorator.ts
  javascript/ql/test/library-tests/frameworks/data/test.expected
  javascript/ql/test/library-tests/frameworks/data/test.js
  javascript/ql/test/library-tests/frameworks/data/test.ql
Labels: JS, no-change-note-required

#8664 C++: More enhancements to PrivateData.qll
  cpp/ql/lib/semmle/code/cpp/security/PrivateData.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test3.cpp
Labels: C++, no-change-note-required

#8559 C#: Generate Flow Models script
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/src/utils/model-generator/GenerateFlowModel.py
  csharp/ql/test/utils/model-generator/CaptureSinkModels.expected
  csharp/ql/test/utils/model-generator/CaptureSourceModels.expected
  csharp/ql/test/utils/model-generator/CaptureSummaryModels.expected
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, no-change-note-required, Ruby

#8421 Ruby: Add `rb/weak-cryptographic-algorithm` query
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/security/OpenSSL.qll
  ruby/ql/src/change-notes/2022-03-14-rb-weak-cryptographic-algorithm.md
  ruby/ql/src/queries/security/cwe-327/BrokenCryptoAlgorithm.qhelp
  ruby/ql/src/queries/security/cwe-327/BrokenCryptoAlgorithm.ql
  ruby/ql/src/queries/security/cwe-327/examples/broken_crypto.rb
  ruby/ql/test/query-tests/security/cwe-327/BrokenCryptoAlgorithm.expected
  ruby/ql/test/query-tests/security/cwe-327/BrokenCryptoAlgorithm.qlref
  ruby/ql/test/query-tests/security/cwe-327/broken_crypto.rb
Labels: documentation, Ruby

#8672 C++: Add `cpp/unused-local-variable` test case with `switch` initializer
  cpp/ql/src/Best Practices/Unused Entities/UnusedLocals.ql
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedLocals/code2.cpp
Labels: C++, no-change-note-required

#8674 C#: Add more tests for `cs/useless-cast-to-self`
  csharp/ql/test/query-tests/Language Abuse/UselessCastToSelf/UselessCastToSelf.cs
  csharp/ql/test/query-tests/Language Abuse/UselessCastToSelf/UselessCastToSelf.expected
  csharp/ql/test/query-tests/Language Abuse/UselessCastToSelf/options
Labels: C#

#8611 Java: make SwitchCase.getRuleExpression/Statement more consistent
  java/ql/lib/semmle/code/java/Statement.qll
  java/ql/src/change-notes/2022-04-01-switch-rule-expressions.md
  java/ql/test/library-tests/dataflow/switchexpr/TestSwitchExprStmtConsistency.java
  java/ql/test/library-tests/dataflow/switchexpr/switchcasearrows.expected
  java/ql/test/library-tests/dataflow/switchexpr/switchcasearrows.ql
Labels: documentation, Java

#8511 Python: Use `Query.qll` suffix for dataflow configuration definitions
  python/ql/lib/change-notes/2022-03-21-query-suffix-convention.md
  python/ql/lib/semmle/python/security/dataflow/CleartextLogging.qll
  python/ql/lib/semmle/python/security/dataflow/CleartextLoggingQuery.qll
  python/ql/lib/semmle/python/security/dataflow/CleartextStorage.qll
  python/ql/lib/semmle/python/security/dataflow/CleartextStorageQuery.qll
  python/ql/lib/semmle/python/security/dataflow/CodeInjection.qll
  python/ql/lib/semmle/python/security/dataflow/CodeInjectionQuery.qll
  python/ql/lib/semmle/python/security/dataflow/CommandInjection.qll
  python/ql/lib/semmle/python/security/dataflow/CommandInjectionQuery.qll
  python/ql/lib/semmle/python/security/dataflow/LdapInjection.qll
  python/ql/lib/semmle/python/security/dataflow/LdapInjectionQuery.qll
  python/ql/lib/semmle/python/security/dataflow/LogInjection.qll
  python/ql/lib/semmle/python/security/dataflow/LogInjectionQuery.qll
  python/ql/lib/semmle/python/security/dataflow/PathInjection.qll
  python/ql/lib/semmle/python/security/dataflow/PathInjectionQuery.qll
  python/ql/lib/semmle/python/security/dataflow/PolynomialReDoS.qll
  python/ql/lib/semmle/python/security/dataflow/PolynomialReDoSQuery.qll
  python/ql/lib/semmle/python/security/dataflow/ReflectedXSS.qll
  python/ql/lib/semmle/python/security/dataflow/ReflectedXssQuery.qll
  python/ql/lib/semmle/python/security/dataflow/RegexInjection.qll
  python/ql/lib/semmle/python/security/dataflow/RegexInjectionQuery.qll
  python/ql/lib/semmle/python/security/dataflow/ServerSideRequestForgery.qll
  python/ql/lib/semmle/python/security/dataflow/ServerSideRequestForgeryQuery.qll
  python/ql/lib/semmle/python/security/dataflow/SqlInjection.qll
  python/ql/lib/semmle/python/security/dataflow/SqlInjectionQuery.qll
  python/ql/lib/semmle/python/security/dataflow/StackTraceExposure.qll
  python/ql/lib/semmle/python/security/dataflow/StackTraceExposureQuery.qll
  python/ql/lib/semmle/python/security/dataflow/UnsafeDeserialization.qll
  python/ql/lib/semmle/python/security/dataflow/UnsafeDeserializationQuery.qll
  python/ql/lib/semmle/python/security/dataflow/UrlRedirect.qll
  python/ql/lib/semmle/python/security/dataflow/UrlRedirectQuery.qll
  python/ql/lib/semmle/python/security/dataflow/WeakSensitiveDataHashing.qll
  python/ql/lib/semmle/python/security/dataflow/WeakSensitiveDataHashingQuery.qll
  python/ql/lib/semmle/python/security/dataflow/XpathInjection.qll
  python/ql/lib/semmle/python/security/dataflow/XpathInjectionQuery.qll
  python/ql/src/Security/CWE-022/PathInjection.ql
  python/ql/src/Security/CWE-078/CommandInjection.ql
  python/ql/src/Security/CWE-079/ReflectedXss.ql
  python/ql/src/Security/CWE-089/SqlInjection.ql
  python/ql/src/Security/CWE-090/LdapInjection.ql
  python/ql/src/Security/CWE-094/CodeInjection.ql
  python/ql/src/Security/CWE-117/LogInjection.ql
  python/ql/src/Security/CWE-209/StackTraceExposure.ql
  python/ql/src/Security/CWE-312/CleartextLogging.ql
  python/ql/src/Security/CWE-312/CleartextStorage.ql
  python/ql/src/Security/CWE-327/WeakSensitiveDataHashing.ql
  python/ql/src/Security/CWE-502/UnsafeDeserialization.ql
  python/ql/src/Security/CWE-601/UrlRedirect.ql
  python/ql/src/Security/CWE-643/XpathInjection.ql
  python/ql/src/Security/CWE-730/PolynomialReDoS.ql
  python/ql/src/Security/CWE-730/RegexInjection.ql
  python/ql/src/Security/CWE-918/FullServerSideRequestForgery.ql
  python/ql/src/Security/CWE-918/PartialServerSideRequestForgery.ql
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
Labels: documentation, Python

#8661 Java: Fix reflection predicate for `getMethod` having non-public method result
  java/ql/lib/semmle/code/java/Reflection.qll
Labels: Java, no-change-note-required

#8668 Python: Rewrite concepts to use `extends ... instanceof ...`
  python/ql/lib/semmle/python/Concepts.qll
Labels: Python, no-change-note-required

#8676 Make security-related TaintTracking Configuration public
  java/ql/lib/semmle/code/java/security/CommandLineQuery.qll
  java/ql/lib/semmle/code/java/security/SqlInjectionQuery.qll
  java/ql/src/Security/CWE/CWE-089/SqlTainted.ql
  java/ql/src/Security/CWE/CWE-089/SqlTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-089/SqlUnescaped.ql
Labels: Java, no-change-note-required

#8628 C#: Introduce generated flag as a part of the kind column for flow summaries
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  csharp/ql/src/utils/model-generator/CaptureDiscardedSummaryModels.ql
  csharp/ql/src/utils/model-generator/CaptureSummaryModels.ql
  csharp/ql/src/utils/model-generator/internal/CaptureFlow.qll
  csharp/ql/src/utils/model-generator/internal/CaptureModels.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
  csharp/ql/test/utils/model-generator/CaptureSinkModels.expected
  csharp/ql/test/utils/model-generator/CaptureSourceModels.expected
  csharp/ql/test/utils/model-generator/CaptureSummaryModels.expected
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/src/utils/flowtestcasegenerator/FlowTestCase.qll
  java/ql/src/utils/flowtestcasegenerator/GenerateFlowTestCase.qll
  java/ql/src/utils/model-generator/internal/CaptureModels.qll
  java/ql/test/library-tests/dataflow/external-models/C.java
  java/ql/test/library-tests/dataflow/external-models/steps.expected
  java/ql/test/library-tests/dataflow/external-models/steps.ql
  java/ql/test/utils/model-generator/CaptureSinkModels.expected
  java/ql/test/utils/model-generator/CaptureSourceModels.expected
  java/ql/test/utils/model-generator/CaptureSummaryModels.expected
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: C#, Java, no-change-note-required, Ruby

#8679 Java: rename existing getUrl predicate to getRepositoryUrl
  java/ql/lib/change-notes/2022-04-06-getUrl-deprecation.md
  java/ql/lib/semmle/code/xml/MavenPom.qll
  java/ql/src/Security/CWE/CWE-1104/MavenPomDependsOnBintray.ql
  java/ql/src/Security/CWE/CWE-829/InsecureDependencyResolution.ql
Labels: documentation, Java

#8680 Python: Refactor how we find a `Class` from `API::Node`
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/RestFramework.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/Tornado.qll
  python/ql/lib/semmle/python/frameworks/Twisted.qll
Labels: Python, no-change-note-required

#8592 C++: Add tests for copy constructor calls with implied source
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
Labels: C++, depends on internal PR, documentation

#8691 Revert "Merge pull request #8592 from jketema/implied-cctor-source"
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
Labels: C++

#8692 Revert "Revert "Merge pull request #8592 from jketema/implied-cctor-source""
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
Labels: C++, depends on internal PR, no-change-note-required

#8694 Dataflow: Cleanup unused column
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#8642 Post-release preparation for codeql-cli-2.8.5
  cpp/ql/lib/CHANGELOG.md
  cpp/ql/lib/change-notes/released/0.0.13.md
  cpp/ql/lib/codeql-pack.release.yml
  cpp/ql/lib/qlpack.yml
  cpp/ql/src/CHANGELOG.md
  cpp/ql/src/change-notes/released/0.0.13.md
  cpp/ql/src/codeql-pack.release.yml
  cpp/ql/src/qlpack.yml
  csharp/ql/campaigns/Solorigate/lib/CHANGELOG.md
  csharp/ql/campaigns/Solorigate/lib/change-notes/released/1.0.7.md
  csharp/ql/campaigns/Solorigate/lib/codeql-pack.release.yml
  csharp/ql/campaigns/Solorigate/lib/qlpack.yml
  csharp/ql/campaigns/Solorigate/src/CHANGELOG.md
  csharp/ql/campaigns/Solorigate/src/change-notes/released/1.0.7.md
  csharp/ql/campaigns/Solorigate/src/codeql-pack.release.yml
  csharp/ql/campaigns/Solorigate/src/qlpack.yml
  csharp/ql/lib/CHANGELOG.md
  csharp/ql/lib/change-notes/released/0.0.13.md
  csharp/ql/lib/codeql-pack.release.yml
  csharp/ql/lib/qlpack.yml
  csharp/ql/src/CHANGELOG.md
  csharp/ql/src/change-notes/released/0.0.13.md
  csharp/ql/src/codeql-pack.release.yml
  csharp/ql/src/qlpack.yml
  java/ql/lib/CHANGELOG.md
  java/ql/lib/change-notes/released/0.0.13.md
  java/ql/lib/codeql-pack.release.yml
  java/ql/lib/qlpack.yml
  java/ql/src/CHANGELOG.md
  java/ql/src/change-notes/released/0.0.13.md
  java/ql/src/codeql-pack.release.yml
  java/ql/src/qlpack.yml
  javascript/ql/lib/CHANGELOG.md
  javascript/ql/lib/change-notes/released/0.0.14.md
  javascript/ql/lib/codeql-pack.release.yml
  javascript/ql/lib/qlpack.yml
  javascript/ql/src/CHANGELOG.md
  javascript/ql/src/change-notes/released/0.0.14.md
  javascript/ql/src/codeql-pack.release.yml
  javascript/ql/src/qlpack.yml
  python/ql/lib/CHANGELOG.md
  python/ql/lib/change-notes/released/0.0.13.md
  python/ql/lib/codeql-pack.release.yml
  python/ql/lib/qlpack.yml
  python/ql/src/CHANGELOG.md
  python/ql/src/change-notes/released/0.0.13.md
  python/ql/src/codeql-pack.release.yml
  python/ql/src/qlpack.yml
  ruby/ql/lib/CHANGELOG.md
  ruby/ql/lib/change-notes/released/0.0.13.md
  ruby/ql/lib/codeql-pack.release.yml
  ruby/ql/lib/qlpack.yml
  ruby/ql/src/CHANGELOG.md
  ruby/ql/src/change-notes/released/0.0.13.md
  ruby/ql/src/codeql-pack.release.yml
  ruby/ql/src/qlpack.yml
Labels: C#, JS, C++, documentation, Java, Python, Ruby

#8702 C++: Use `isSanitizerOut(DataFlow::Node node)` in `cpp/command-line-injection`
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
Labels: C++, no-change-note-required

#8004 Add query to detect ZipSlip
  python/ql/src/experimental/Security/CWE-022/ZipSlip.qhelp
  python/ql/src/experimental/Security/CWE-022/ZipSlip.ql
  python/ql/src/experimental/Security/CWE-022/zipslip_bad.py
  python/ql/src/experimental/Security/CWE-022/zipslip_good.py
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/frameworks/CopyFile.qll
  python/ql/src/experimental/semmle/python/security/ZipSlip.qll
  python/ql/test/experimental/query-tests/Security/CWE-022/ZipSlip.expected
  python/ql/test/experimental/query-tests/Security/CWE-022/ZipSlip.qlref
  python/ql/test/experimental/query-tests/Security/CWE-022/zipslip_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-022/zipslip_good.py
Labels: documentation, Python

#8700 Swift: first skeleton extractor
  .bazelrc
  .bazelversion
  .gitignore
  BUILD.bazel
  WORKSPACE.bazel
  defs.bzl
  misc/bazel/BUILD.bazel
  misc/bazel/workspace.bzl
  misc/bazel/workspace_deps.bzl
  swift/.clang-format
  swift/.codeqlmanifest.json
  swift/.gitignore
  swift/BUILD.bazel
  swift/README.md
  swift/codeql-extractor.yml
  swift/extractor/BUILD.bazel
  swift/extractor/main.cpp
  swift/ql/lib/qlpack.yml
  swift/ql/lib/swift.dbscheme
  swift/ql/lib/swift.dbscheme.stats
  swift/ql/test/answer.expected
  swift/ql/test/answer.ql
  swift/ql/test/qlpack.yml
  swift/tools/create_extractor_pack.py
  swift/tools/qltest.sh
Labels: C++, documentation

#8717 Swift: enable QL tests on CI
  .github/actions/fetch-codeql/action.yml
  .github/workflows/swift-qltest.yml
Labels: C++, documentation

#8598 Ruby: Add rb/insecure-dependency query
  ruby/ql/lib/codeql/ruby/security/InsecureDependencyQuery.qll
  ruby/ql/src/change-notes/2022-03-30-insecure-dependency.md
  ruby/ql/src/queries/security/cwe-300/InsecureDependencyResolution.qhelp
  ruby/ql/src/queries/security/cwe-300/InsecureDependencyResolution.ql
  ruby/ql/src/queries/security/cwe-300/examples/bad_gemfile.rb
  ruby/ql/src/queries/security/cwe-300/examples/good_gemfile.rb
  ruby/ql/test/query-tests/security/cwe-300/Gemfile
  ruby/ql/test/query-tests/security/cwe-300/InsecureDependency.expected
  ruby/ql/test/query-tests/security/cwe-300/InsecureDependency.ql
  ruby/ql/test/query-tests/security/cwe-300/foo.rb
Labels: documentation, Awaiting evaluation, Ruby

#8770 C#: remove version from downgrades pack
  csharp/downgrades/qlpack.yml
Labels: C#

#8741 C++: Fix issue with extremely long comments in AutogeneratedFile.qll
  cpp/ql/lib/semmle/code/cpp/AutogeneratedFile.qll
Labels: C++, no-change-note-required

#8774 Add `nomagic` to `revPartialPathStep`
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#8659 C#: Add kind tag to Capture model queries.
  csharp/ql/src/utils/model-generator/CaptureSinkModels.ql
  csharp/ql/src/utils/model-generator/CaptureSourceModels.ql
  csharp/ql/src/utils/model-generator/CaptureSummaryModels.ql
Labels: C#, no-change-note-required

#8678 JS: Add files as a source for `js/xss-through-dom`
  javascript/ql/lib/semmle/javascript/security/dataflow/XssThroughDomCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/XssThroughDomQuery.qll
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/XssThroughDom.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/xss-through-dom.js
Labels: JS, no-change-note-required

#8733 Python: Split `DataFlowPrivate`
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatchPointsTo.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/IterableUnpacking.qll
  python/ql/lib/semmle/python/dataflow/new/internal/MatchUnpacking.qll
Labels: Python, no-change-note-required

#8731 Python: Delete old dataflow readme
  python/ql/lib/semmle/python/dataflow/new/internal/readme.md
Labels: documentation, Python

#8701 Doc: Add any() and none() to the language reference.
  docs/codeql/ql-language-reference/formulas.rst
Labels: documentation, ready-for-doc-review

#8728 QL: Add facilities for data flow
  config/identical-files.json
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/AstNodeNumbering.qll
  ql/ql/src/codeql_ql/ast/internal/AstNodes.qll
  ql/ql/src/codeql_ql/dataflow/DataFlow.qll
  ql/ql/src/codeql_ql/dataflow/internal/DataFlowNumbering.qll
  ql/ql/src/codeql_ql/dataflow/internal/GlobalFlow.qll
  ql/ql/src/codeql_ql/dataflow/internal/LocalFlow.qll
  ql/ql/src/codeql_ql/dataflow/internal/NodesInternal.qll
  ql/ql/src/codeql_ql/dataflow/internal/VarScoping.qll
  ql/ql/src/queries/reports/FrameworkCoverage.ql
  ql/ql/test/TestUtilities/InlineExpectationsTest.qll
  ql/ql/test/TestUtilities/InlineExpectationsTestPrivate.qll
  ql/ql/test/dataflow/getAStringValue/Foo.qll
  ql/ql/test/dataflow/getAStringValue/getAStringValue.expected
  ql/ql/test/dataflow/getAStringValue/getAStringValue.ql
  ql/ql/test/printAst/printAst.expected
Labels: QL-for-QL

#8777 Ruby: make PostUpdateNode public
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
Labels: no-change-note-required, Ruby

#8703 Dataflow: Revert support for flow-state based in-/out-barriers
  cpp/ql/lib/change-notes/2022-04-08-flow-state-barriers.md
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/change-notes/2022-04-08-flow-state-barriers.md
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/lib/change-notes/2022-04-08-flow-state-barriers.md
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/lib/change-notes/2022-04-08-flow-state-barriers.md
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking1/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking3/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking4/TaintTrackingImpl.qll
  ruby/ql/lib/change-notes/2022-04-08-flow-state-barriers.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttrackingforlibraries/TaintTrackingImpl.qll
Labels: C#, C++, documentation, Java, Python, Ruby

#8719 Update README to clarify license explanation
  README.md
Labels: documentation, ready-for-doc-review

#8718 Update CODEOWNERS for documentation and license changes
  CODEOWNERS
Labels: documentation

#8773 JS: promote `js/resource-exhaustion` out of experimental
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionQuery.qll
  javascript/ql/src/Security/CWE-770/ResourceExhaustion.qhelp
  javascript/ql/src/Security/CWE-770/ResourceExhaustion.ql
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_array.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_array_fixed.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_buffer.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_buffer_fixed.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_timeout.js
  javascript/ql/src/Security/CWE-770/examples/ResourceExhaustion_timeout_fixed.js
  javascript/ql/src/change-notes/2022-04-19-resource-exhaustion.md
  javascript/ql/src/experimental/Security/CWE-770/ResourceExhaustion.qhelp
  javascript/ql/src/experimental/semmle/javascript/security/dataflow/ResourceExhaustion.qll
  javascript/ql/src/experimental/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/test/experimental/Security/CWE-770/ResourceExhaustion.expected
  javascript/ql/test/experimental/Security/CWE-770/ResourceExhaustion.qlref
  javascript/ql/test/experimental/Security/CWE-770/resource-exhaustion.js
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimit/MissingRateLimiting.expected
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimit/MissingRateLimiting.js
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimit/MissingRateLimiting.qlref
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimit/MissingRateLimitingGood.js
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimit/rateLimit.ts
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimiting.expected
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/ResourceExhaustion.expected
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/ResourceExhaustion.qlref
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/documentaion-examples/ResourceExhaustion_timeout.js
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/documentaion-examples/ResourceExhaustion_timeout_fixed.js
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/resource-exhaustion.js
Labels: JS, documentation

#8789 JS/PY: mention newtype constructors in API graph label classes
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  python/ql/lib/semmle/python/ApiGraphs.qll
Labels: JS, Python, no-change-note-required

#8618 Update existing qhelp comment, if it exists
  .github/workflows/post-pr-comment.yml
  .github/workflows/qhelp-pr-preview.yml
Labels: documentation, Ruby

#8720 C++: Remove TC from `Element.getRootCause`
  cpp/ql/lib/semmle/code/cpp/Element.qll
Labels: C++, no-change-note-required

#8792 C#: Exclude model generation queries from all suites
  csharp/ql/src/utils/model-generator/CaptureSinkModels.ql
  csharp/ql/src/utils/model-generator/CaptureSourceModels.ql
  csharp/ql/src/utils/model-generator/CaptureSummaryModels.ql
  misc/suite-helpers/code-scanning-selectors.yml
  misc/suite-helpers/security-and-quality-selectors.yml
  misc/suite-helpers/security-extended-selectors.yml
Labels: C#, no-change-note-required

#8675 C#: CaptureModel improvements
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  csharp/ql/test/utils/model-generator/CaptureSummaryModels.expected
  csharp/ql/test/utils/model-generator/NoSummaries.cs
  csharp/ql/test/utils/model-generator/Summaries.cs
Labels: C#, no-change-note-required

#8799 C++: Fix the layout of comments in `getBufferSize`
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
Labels: C++, no-change-note-required

#8735 Swift: dbscheme generator
  .pre-commit-config.yaml
  swift/README.md
  swift/codegen/BUILD.bazel
  swift/codegen/codegen.py
  swift/codegen/dbschemegen.py
  swift/codegen/lib/dbscheme.py
  swift/codegen/lib/generator.py
  swift/codegen/lib/options.py
  swift/codegen/lib/paths.py
  swift/codegen/lib/render.py
  swift/codegen/lib/schema.py
  swift/codegen/lib/templates/dbscheme.mustache
  swift/codegen/prefix.dbscheme
  swift/codegen/requirements.txt
  swift/codegen/schema.yml
  swift/ql/lib/swift.dbscheme
Labels: documentation

#8798 C++: Fix tests after extractor changes that improve `using` position accuracy
  cpp/ql/test/library-tests/usings/Usings1.expected
Labels: C++, depends on internal PR, no-change-note-required

#8748 Java: Avoid higher-numbered dataflow configs that depend on lower-numbered ones
  config/identical-files.json
  java/ql/lib/semmle/code/java/dataflow/TaintTracking3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking3/TaintTrackingParameter.qll
  java/ql/lib/semmle/code/java/frameworks/SnakeYaml.qll
  java/ql/lib/semmle/code/java/security/AndroidIntentRedirectionQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageClassQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageQuery.qll
Labels: Java, no-change-note-required

#8801 Ruby: Exclude `SplatExpr` from taint tracking
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
Labels: no-change-note-required, Ruby

#8808 Javascript: Fix PrototypePollutingAssignment example which is incorrect use of express leads to no result when scanning.
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingAssignment.js
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingAssignmentFixed.js
Labels: JS

#8811 Java: get tainttracking3/TaintTrackingImpl.qll in sync
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
Labels: Java, no-change-note-required

#8794 Ruby: Handle captured variables in `BarrierGuard::getAGuardedNode()`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.rb
Labels: no-change-note-required, Ruby

#8793 Exclude internal diagnostics from all selectors
  misc/suite-helpers/lgtm-selectors.yml
  misc/suite-helpers/security-and-quality-selectors.yml
  misc/suite-helpers/security-extended-selectors.yml
Labels: no-change-note-required

#8810 Ruby: dont import the PathGraph module from Query.qll files
  ruby/ql/lib/codeql/ruby/security/CodeInjectionQuery.qll
  ruby/ql/lib/codeql/ruby/security/ServerSideRequestForgeryQuery.qll
  ruby/ql/lib/codeql/ruby/security/UrlRedirectQuery.qll
  ruby/ql/lib/codeql/ruby/security/performance/RegExpInjectionQuery.qll
  ruby/ql/src/queries/security/cwe-918/ServerSideRequestForgery.ql
Labels: no-change-note-required, Ruby

#8578 JS: update `toString()` on API-graph labels.
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/test/ApiGraphs/VerifyAssertions.qll
  javascript/ql/test/ApiGraphs/argprops/index.js
  javascript/ql/test/ApiGraphs/async-await/index.js
  javascript/ql/test/ApiGraphs/async-await/tst.ts
  javascript/ql/test/ApiGraphs/bound-args/index.js
  javascript/ql/test/ApiGraphs/branching-flow/index.js
  javascript/ql/test/ApiGraphs/classes/classes.js
  javascript/ql/test/ApiGraphs/ctor-arg/index.js
  javascript/ql/test/ApiGraphs/custom-entry-point/index.js
  javascript/ql/test/ApiGraphs/cyclic/index.js
  javascript/ql/test/ApiGraphs/dynamic-prop-read/index.js
  javascript/ql/test/ApiGraphs/imprecise-export/index.js
  javascript/ql/test/ApiGraphs/imprecision/index.js
  javascript/ql/test/ApiGraphs/namespaced-package/index.js
  javascript/ql/test/ApiGraphs/nested-property-export/index.js
  javascript/ql/test/ApiGraphs/nonlocal/index.js
  javascript/ql/test/ApiGraphs/partial-invoke/index.js
  javascript/ql/test/ApiGraphs/promises/index.js
  javascript/ql/test/ApiGraphs/promisify/index.js
  javascript/ql/test/ApiGraphs/property-read-from-argument/index.js
  javascript/ql/test/ApiGraphs/reexport/lib/impl.js
  javascript/ql/test/ApiGraphs/reexport/lib/stuff.js
  javascript/ql/test/ApiGraphs/reexport/lib/utils.js
  javascript/ql/test/ApiGraphs/reexport/lib/utils2.js
  javascript/ql/test/ApiGraphs/return-self/index.js
  javascript/ql/test/ApiGraphs/spread/tst.js
  javascript/ql/test/ApiGraphs/typed/index.ts
  javascript/ql/test/library-tests/TypeScript/HasUnderlyingType/HasUnderlyingType.expected
  javascript/ql/test/library-tests/frameworks/Knex/test.expected
  javascript/ql/test/library-tests/frameworks/Redux/test.expected
  python/ql/test/TestUtilities/VerifyApiGraphs.qll
Labels: JS, Python, no-change-note-required

#8791 JS: Support static accessor calls and fix some FP accessor-calls
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/src/change-notes/2022-04-21-static-accessors.md
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/accessors.js
  javascript/ql/test/library-tests/ClassNode/tests.expected
  javascript/ql/test/library-tests/ClassNode/tests.ql
  javascript/ql/test/library-tests/ClassNode/tst.js
Labels: JS, documentation

#8812 Python: Minor Stdlib file system access improvement
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/stdlib-py3/FileSystemAccess.py
  python/ql/test/library-tests/frameworks/stdlib/FileSystemAccess.py
Labels: Python, no-change-note-required

#8806 C++: Work around missing size for typedef
  cpp/ql/lib/semmle/code/cpp/ir/internal/CppType.qll
Labels: C++, no-change-note-required

#8815 C++: Add non-returning function test case using `__builtin_expect`
  cpp/ql/test/query-tests/jsf/4.13 Functions/AV Rule 114/test.c
Labels: C++, no-change-note-required

#8769 Docs - Supported Queries - Fixing broken link
  docs/supported-queries.md
Labels: documentation

#8813 C++: Cover variable sized member arrays without a size in `Buffer.qll`
  cpp/ql/lib/change-notes/2022-04-22-no-size-array.md
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
Labels: C++, documentation

#8818 Replace `help.semmle.com` links by `codeql.github.com` links
  CONTRIBUTING.md
  javascript/ql/lib/semmle/javascript/Routing.qll
  python/ql/src/analysis/ImportFailure.qhelp
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
Labels: JS, documentation, Python, no-change-note-required, Ruby

#8760 Clarify `min`, `max` and `rank` documentation
  docs/codeql/ql-language-reference/expressions.rst
Labels: documentation

#8582 Java: Make `JumpStmt` a proper superclass
  java/ql/lib/change-notes/2022-03-28-JumpStmt-as-superclass.md
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/Statement.qll
  java/ql/src/Likely Bugs/Statements/ContinueInFalseLoop.ql
  java/ql/src/Likely Bugs/Termination/ConstantLoopCondition.ql
  java/ql/src/Security/CWE/CWE-129/ArraySizing.qll
  java/ql/src/Security/CWE/CWE-835/InfiniteLoop.ql
  java/ql/test/library-tests/stmts/JumpTargets.expected
  java/ql/test/library-tests/stmts/SwitchCases.expected
  java/ql/test/library-tests/stmts/options
  java/ql/test/library-tests/stmts/stmts/A.java
Labels: documentation, Java

#8849 C++: add new Windows pool allocation functions in `Allocation.qll`
  cpp/ql/lib/change-notes/2022-04-25-windows-pool-allocation-functions.md
  cpp/ql/lib/semmle/code/cpp/models/implementations/Allocation.qll
Labels: C++, documentation

#8851 Minor clean-up in AccessPathSyntax.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/AccessPathSyntax.qll
  java/ql/lib/semmle/code/java/dataflow/internal/AccessPathSyntax.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/AccessPathSyntax.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/AccessPathSyntax.qll
Labels: C#, JS, Java, no-change-note-required, Ruby

#8817 Java: Add value-preserving flow steps for Android's SharedPreferences
  java/ql/lib/change-notes/2022-04-22-sharedprefs-fluent-steps.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/android/SharedPreferences.qll
  java/ql/test/query-tests/security/CWE-312/CleartextStorageSharedPrefsTest.java
Labels: documentation, Java

#8861 Swift: Update `schema.yml` and regenerate files
  swift/codegen/schema.yml
  swift/ql/lib/codeql/swift/generated/Location.qll
  swift/ql/lib/codeql/swift/generated/expr/BindOptionalExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/CaptureListExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/DotSyntaxBaseIgnoredExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/DynamicTypeExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/EnumIsCaseExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/IfExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/LazyInitializerExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/MakeTemporarilyEscapableExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/ObjCSelectorExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OneWayExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OpenExistentialExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OptionalEvaluationExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/RebindSelfInConstructorExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/SuperRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/TupleElementExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/TypeExpr.qll
  swift/ql/lib/swift.dbscheme
Labels: no-change-note-required, Swift

#8852 Fix test regressions due to C++ frontend update
  cpp/ql/test/library-tests/controlflow/dominance/bbIDominates.expected
  cpp/ql/test/library-tests/controlflow/dominance/dominator.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/depends_initializers/InitializerAccesses.expected
  cpp/ql/test/library-tests/depends_initializers/InitializerCFG.expected
  cpp/ql/test/library-tests/floats/float128/errors.expected
  cpp/ql/test/library-tests/floats/float128/usertypes.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
  cpp/ql/test/library-tests/sideEffects/stmts/stmts.expected
  cpp/ql/test/library-tests/switch/blocks.expected
  cpp/ql/test/library-tests/switch_cfg/cfg.expected
  cpp/ql/test/library-tests/syntax-zoo/builtin.c
  cpp/ql/test/library-tests/vector_types/vector_types.cpp
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/test.cpp
  cpp/ql/test/successor-tests/break_labels/cfg.expected
  cpp/ql/test/successor-tests/dostmt/dostmt07.expected
  cpp/ql/test/successor-tests/dostmt/dostmt08.expected
  cpp/ql/test/successor-tests/ifstmt/ifelsestmt/ifelsestmt08.expected
  cpp/ql/test/successor-tests/ifstmt/ifelsestmt/ifelsestmt10.expected
  cpp/ql/test/successor-tests/ifstmt/ifstmt/ifstmt07.expected
  cpp/ql/test/successor-tests/ifstmt/ifstmt/ifstmt09.expected
  cpp/ql/test/successor-tests/pruning/graphable.expected
  cpp/ql/test/successor-tests/whilestmt/whilestmt07.expected
  cpp/ql/test/successor-tests/whilestmt/whilestmt08.expected
Labels: C++, depends on internal PR, no-change-note-required

#8853 Dataflow: Fix join-on-config producing a CP.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#8229 JS: step through parentheses in barrier functions
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/lib.js
Labels: JS, no-change-note-required

#8871 QL: delete old copy of the identical files scripts
  ql/scripts/identical-files.json
  ql/scripts/merge_stats.py
  ql/scripts/sync-identical-files.py
Labels: QL-for-QL

#8865 Claim Java 18 support
  docs/codeql/support/reusables/versions-compilers.rst
Labels: documentation

#8874 Java insecure cookies query: look through named constants
  java/ql/src/Security/CWE/CWE-614/InsecureCookie.ql
  java/ql/src/change-notes/2022-04-26-insecure-cookie-named-constants.md
Labels: documentation, Java

#8875 Java: Remove some useless imports.
  java/ql/lib/semmle/code/java/Javadoc.qll
  java/ql/lib/semmle/code/java/controlflow/BasicBlocks.qll
  java/ql/lib/semmle/code/java/controlflow/Dominance.qll
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/deadcode/DeadEnumConstant.qll
  java/ql/lib/semmle/code/java/frameworks/ApacheLdap.qll
  java/ql/lib/semmle/code/java/frameworks/Jndi.qll
  java/ql/lib/semmle/code/java/frameworks/SpringLdap.qll
  java/ql/lib/semmle/code/java/frameworks/UnboundId.qll
  java/ql/lib/semmle/code/java/frameworks/struts/StrutsXML.qll
  java/ql/src/Advisory/Declarations/NonPrivateField.ql
  java/ql/src/Likely Bugs/Serialization/NonSerializableField.ql
  java/ql/src/Likely Bugs/Serialization/NonSerializableInnerClass.ql
Labels: Java, no-change-note-required

#8560 PY: move the polynomialbacktracking-test to the test folder
  python/ql/test/query-tests/Security/CWE-730-PolynomialReDoS/PolynomialBackTracking.expected
  python/ql/test/query-tests/Security/CWE-730-PolynomialReDoS/PolynomialBackTracking.ql
Labels: Python, no-change-note-required

#8879 Ruby: fix graph query tests by defining total ordering
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/ancestors.ql
  ruby/ql/test/library-tests/modules/superclasses.expected
  ruby/ql/test/library-tests/modules/superclasses.ql
Labels: Ruby

#8881 Ruby: fix typo in edge key for graph query
  ruby/ql/test/library-tests/modules/superclasses.ql
Labels: Ruby

#8605 Experimental (ATM): update query label mappings
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointTypes.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointLabelEncoding.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointMapping.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/query_mappings/ExtractEndpointLabelEncoding.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/query_mappings/ExtractEndpointLabelEncoding.qlref
  javascript/ql/experimental/adaptivethreatmodeling/test/query_mappings/index.js
Labels: JS

#8607 Ruby: port of `js/incomplete-sanitization`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/String.qll
  ruby/ql/lib/codeql/ruby/regexp/RegExpTreeView.qll
  ruby/ql/src/change-notes/2022-04-13-incomplete-sanitization.md
  ruby/ql/src/queries/security/cwe-116/IncompleteSanitization.qhelp
  ruby/ql/src/queries/security/cwe-116/IncompleteSanitization.ql
  ruby/ql/src/queries/security/cwe-116/examples/IncompleteSanitization.rb
  ruby/ql/src/queries/security/cwe-116/examples/IncompleteSanitizationGood.rb
  ruby/ql/test/query-tests/security/cwe-116/BadTagFilter/BadTagFilter.expected
  ruby/ql/test/query-tests/security/cwe-116/BadTagFilter/BadTagFilter.qlref
  ruby/ql/test/query-tests/security/cwe-116/BadTagFilter/test.rb
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/IncompleteSanitization.expected
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/IncompleteSanitization.qlref
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/tst.rb
Labels: documentation, Ruby

#8736 C++: New query for CWE-611 / XML External Entity Expansion (XXE)
  cpp/ql/src/Security/CWE/CWE-611/XXE.qhelp
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/src/Security/CWE/CWE-611/XXEBad.cpp
  cpp/ql/src/Security/CWE/CWE-611/XXEGood.cpp
  cpp/ql/src/change-notes/2022-04-13-pexternal-entity-expansion.md
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.h
Labels: C++, documentation, ready-for-doc-review

#8515 C++: generate IR for global variables with initializers
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/IRConfiguration.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/IRFunctionBase.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedGlobalVar.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/ir/ir/PrintConfig.qll
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.ql
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/experimental/ir/implementation/IRConfiguration.qll
  csharp/ql/src/experimental/ir/implementation/internal/IRFunctionBase.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/PrintIR.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/PrintIR.qll
  csharp/ql/src/experimental/ir/internal/IRCSharpLanguage.qll
Labels: C#, C++, no-change-note-required

#8885 Replace `git.io` link with the actual URL
  .github/workflows/codeql-analysis.yml
  ruby/extractor/src/main.rs
Labels: Ruby

#8893 Ruby: Simplify flow summary for `fetch`
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
Labels: no-change-note-required, Ruby

#8859 Python: Fix a bunch of bad joins
  python/ql/lib/semmle/python/essa/Essa.qll
  python/ql/lib/semmle/python/essa/SsaCompute.qll
  python/ql/src/Numerics/Pythagorean.ql
  python/ql/test/query-tests/Numerics/Pythagorean.expected
Labels: Python, no-change-note-required

#8693 PY: more API-graphs refactorings
  python/ql/lib/semmle/python/frameworks/Asyncpg.qll
  python/ql/lib/semmle/python/frameworks/Cryptography.qll
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/FlaskSqlAlchemy.qll
  python/ql/lib/semmle/python/frameworks/internal/SubclassFinder.qll
  python/ql/lib/semmle/python/regex.qll
  python/ql/src/Security/CWE-215/FlaskDebug.ql
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
  python/ql/src/experimental/semmle/python/frameworks/Xml.qll
  python/ql/test/experimental/dataflow/typetracking/moduleattr.ql
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
Labels: Python, no-change-note-required

#8876 Java: Make all imports of ExternalFlow private
  java/ql/lib/semmle/code/java/frameworks/Hibernate.qll
  java/ql/lib/semmle/code/java/frameworks/HikariCP.qll
  java/ql/lib/semmle/code/java/frameworks/Jdbc.qll
  java/ql/lib/semmle/code/java/frameworks/Jdbi.qll
  java/ql/lib/semmle/code/java/frameworks/JsonJava.qll
  java/ql/lib/semmle/code/java/frameworks/Logging.qll
  java/ql/lib/semmle/code/java/frameworks/MyBatis.qll
  java/ql/lib/semmle/code/java/frameworks/Optional.qll
  java/ql/lib/semmle/code/java/frameworks/Regex.qll
  java/ql/lib/semmle/code/java/frameworks/SpringJdbc.qll
  java/ql/lib/semmle/code/java/frameworks/Stream.qll
  java/ql/lib/semmle/code/java/frameworks/android/Android.qll
  java/ql/lib/semmle/code/java/frameworks/android/ContentProviders.qll
  java/ql/lib/semmle/code/java/frameworks/android/Intent.qll
  java/ql/lib/semmle/code/java/frameworks/android/SQLite.qll
  java/ql/lib/semmle/code/java/frameworks/android/Widget.qll
  java/ql/lib/semmle/code/java/frameworks/jOOQ.qll
  java/ql/lib/semmle/code/java/security/ImplicitPendingIntents.qll
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/src/experimental/Security/CWE/CWE-073/JFinalController.qll
  java/ql/src/experimental/Security/CWE/CWE-200/InsecureWebResourceResponse.ql
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.ql
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.qll
  java/ql/src/experimental/semmle/code/java/PathSanitizer.qll
Labels: Java, no-change-note-required

#8888 C++: Add support for createLSParser to the CWE-611 XXE query.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.cpp
Labels: C++, no-change-note-required

#8788 Swift: file extraction
  .bazelrc
  swift/codegen/prefix.dbscheme
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftExtractor.h
  swift/extractor/SwiftExtractorConfiguration.h
  swift/extractor/main.cpp
  swift/ql/lib/codeql/swift/elements/File.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/lib/swift.qll
  swift/ql/test/answer.expected
  swift/ql/test/answer.ql
  swift/ql/test/extractor-tests/files/files.expected
  swift/ql/test/extractor-tests/files/files.ql
  swift/ql/test/extractor-tests/files/hello.swift
  swift/tools/qltest.sh
Labels: no-change-note-required, Swift

#8765 Java: Add flow sources and steps for RabbitMQ and JMS
  java/ql/lib/change-notes/2022-04-17-jms.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/JMS.qll
  java/ql/lib/semmle/code/java/frameworks/JavaIo.qll
  java/ql/lib/semmle/code/java/frameworks/RabbitMQ.qll
  java/ql/test/library-tests/frameworks/guava/handwritten/TestIO.java
  java/ql/test/library-tests/frameworks/jms/FlowTest.expected
  java/ql/test/library-tests/frameworks/jms/FlowTest.ql
  java/ql/test/library-tests/frameworks/jms/MessageListenerImpl.java
  java/ql/test/library-tests/frameworks/jms/RemoteSourcesTest.expected
  java/ql/test/library-tests/frameworks/jms/RemoteSourcesTest.ql
  java/ql/test/library-tests/frameworks/jms/options
  java/ql/test/library-tests/frameworks/rabbitmq/FlowTest.expected
  java/ql/test/library-tests/frameworks/rabbitmq/FlowTest.ql
  java/ql/test/library-tests/frameworks/rabbitmq/SourceTest.expected
  java/ql/test/library-tests/frameworks/rabbitmq/SourceTest.ql
  java/ql/test/library-tests/frameworks/rabbitmq/Test.java
  java/ql/test/library-tests/frameworks/rabbitmq/options
  java/ql/test/stubs/jms-api-1/javax/jms/BytesMessage.java
  java/ql/test/stubs/jms-api-1/javax/jms/MapMessage.java
  java/ql/test/stubs/jms-api-1/javax/jms/Message.java
  java/ql/test/stubs/jms-api-1/javax/jms/MessageConsumer.java
  java/ql/test/stubs/jms-api-1/javax/jms/MessageListener.java
  java/ql/test/stubs/jms-api-1/javax/jms/ObjectMessage.java
  java/ql/test/stubs/jms-api-1/javax/jms/QueueReceiver.java
  java/ql/test/stubs/jms-api-1/javax/jms/QueueRequestor.java
  java/ql/test/stubs/jms-api-1/javax/jms/StreamMessage.java
  java/ql/test/stubs/jms-api-1/javax/jms/TextMessage.java
  java/ql/test/stubs/jms-api-1/javax/jms/TopicRequestor.java
  java/ql/test/stubs/rabbitmq-4.12.0/com/rabbitmq/client/AMQP.java
  java/ql/test/stubs/rabbitmq-4.12.0/com/rabbitmq/client/Channel.java
  java/ql/test/stubs/rabbitmq-4.12.0/com/rabbitmq/client/Consumer.java
  java/ql/test/stubs/rabbitmq-4.12.0/com/rabbitmq/client/DefaultConsumer.java
  java/ql/test/stubs/rabbitmq-4.12.0/com/rabbitmq/client/Envelope.java
  java/ql/test/stubs/rabbitmq-4.12.0/com/rabbitmq/client/QueueingConsumer.java
Labels: documentation, Java

#8573 Ruby: Add MissingRegExpAnchor query
  ruby/ql/lib/codeql/ruby/regexp/RegExpTreeView.qll
  ruby/ql/src/change-notes/2022-04-14-rb-missing-regexp-anchor.md
  ruby/ql/src/queries/security/cwe-020/MissingRegExpAnchor.qhelp
  ruby/ql/src/queries/security/cwe-020/MissingRegExpAnchor.ql
  ruby/ql/src/queries/security/cwe-020/examples/missing_regexp_anchor_bad.rb
  ruby/ql/src/queries/security/cwe-020/examples/missing_regexp_anchor_good.rb
  ruby/ql/test/library-tests/regexp/parse.expected
  ruby/ql/test/library-tests/regexp/regexp.expected
  ruby/ql/test/query-tests/security/cwe-020/MissingRegExpAnchor/MissingRegExpAnchor.expected
  ruby/ql/test/query-tests/security/cwe-020/MissingRegExpAnchor/MissingRegExpAnchor.qlref
  ruby/ql/test/query-tests/security/cwe-020/MissingRegExpAnchor/missing_regexp_anchor.rb
Labels: documentation, Ruby

#8658 Ruby: Add InsecureDownload query
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/lib/codeql/ruby/security/InsecureDownloadCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/InsecureDownloadQuery.qll
  ruby/ql/src/change-notes/2022-04-14-rb-insecure-download.md
  ruby/ql/src/queries/security/cwe-829/InsecureDownload.qhelp
  ruby/ql/src/queries/security/cwe-829/InsecureDownload.ql
  ruby/ql/src/queries/security/cwe-829/examples/insecure_download.rb
  ruby/ql/src/queries/security/cwe-829/examples/secure_download.rb
  ruby/ql/test/library-tests/frameworks/http_clients/HttpClients.expected
  ruby/ql/test/query-tests/security/cwe-829/InsecureDownload.expected
  ruby/ql/test/query-tests/security/cwe-829/InsecureDownload.ql
  ruby/ql/test/query-tests/security/cwe-829/insecure_download.rb
Labels: documentation, Awaiting evaluation, Ruby

#8886 JS: Add flow step to `...rest` parameters
  javascript/ql/lib/semmle/javascript/Functions.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/PrototypePollutingFunction.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/tests.js
Labels: JS, no-change-note-required

#8933 C++: Revert #8515
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/IRConfiguration.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/IRFunctionBase.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedGlobalVar.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/ir/ir/PrintConfig.qll
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.ql
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  csharp/ql/src/experimental/ir/implementation/IRConfiguration.qll
  csharp/ql/src/experimental/ir/implementation/internal/IRFunctionBase.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/PrintIR.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/PrintIR.qll
  csharp/ql/src/experimental/ir/internal/IRCSharpLanguage.qll
Labels: C#, C++, no-change-note-required

#8897 Python: Fix bad join in `MethodCallsiteRefinement`
  python/ql/lib/semmle/python/essa/Essa.qll
Labels: Python, no-change-note-required

#8936 QL: Improve camel case query
  ql/ql/src/codeql_ql/style/AcronymsShouldBeCamelCaseQuery.qll
  ql/ql/src/queries/style/AcronymsShouldBeCamelCase.ql
  ql/ql/test/queries/style/AcronymsShouldBeCamelCase/AcronymsShouldBeCamelCase.expected
  ql/ql/test/queries/style/AcronymsShouldBeCamelCase/AcronymsShouldBeCamelCase.qlref
  ql/ql/test/queries/style/AcronymsShouldBeCamelCase/Test.qll
Labels: QL-for-QL

#8869 C#: Port the java FrameworkCoverage query.
  .github/workflows/csv-coverage-metrics.yml
  csharp/ql/src/Metrics/Summaries/FrameworkCoverage.ql
Labels: C#, no-change-note-required

#7914 Ruby: Generalize `ArrayElementContent` to `ElementContent`
  ruby/ql/lib/codeql/ruby/ast/Constant.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Constant.qll
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/String.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsSpecific.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/string-flow/string-flow.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
Labels: no-change-note-required, Ruby

#8934 Swift: added trapgen
  .github/workflows/swift-codegen.yml
  .github/workflows/swift-qltest.yml
  .pre-commit-config.yaml
  swift/.gitignore
  swift/BUILD.bazel
  swift/codegen/BUILD.bazel
  swift/codegen/codegen.py
  swift/codegen/dbschemegen.py
  swift/codegen/lib/BUILD.bazel
  swift/codegen/lib/cpp.py
  swift/codegen/lib/dbscheme.py
  swift/codegen/lib/generator.py
  swift/codegen/lib/options.py
  swift/codegen/lib/paths.py
  swift/codegen/lib/render.py
  swift/codegen/qlgen.py
  swift/codegen/templates/BUILD.bazel
  swift/codegen/templates/cpp_tags.mustache
  swift/codegen/templates/cpp_traps.mustache
  swift/codegen/templates/dbscheme.mustache
  swift/codegen/templates/ql_class.mustache
  swift/codegen/templates/ql_imports.mustache
  swift/codegen/templates/ql_stub.mustache
  swift/codegen/test/BUILD.bazel
  swift/codegen/test/test_render.py
  swift/codegen/trapgen.py
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/trap/BUILD.bazel
  swift/extractor/trap/TrapLabel.h
  swift/extractor/trap/TrapTagTraits.h
Labels: Swift

#8947 Swift: use `#pragma once`
  swift/codegen/lib/render.py
  swift/codegen/templates/cpp_tags.mustache
  swift/codegen/templates/cpp_traps.mustache
  swift/codegen/test/test_ql.py
  swift/codegen/test/test_render.py
  swift/codegen/trapgen.py
  swift/extractor/SwiftExtractor.h
  swift/extractor/SwiftExtractorConfiguration.h
  swift/extractor/trap/TrapLabel.h
  swift/extractor/trap/TrapTagTraits.h
Labels: Swift

#8939 Swift: tracer integration
  .bazelrc
  swift/BUILD.bazel
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/main.cpp
  swift/tools/tracing-config.lua
Labels: Swift

#8946 JS: fix a FN for prototype polluting function query
  javascript/ql/src/Security/CWE-915/PrototypePollutingFunction.ql
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/PrototypePollutingFunction.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/tests.js
Labels: JS, no-change-note-required

#8949 JS: Nit: Fix typo in QLDoc
  javascript/ql/lib/semmle/javascript/security/dataflow/DomBasedXssCustomizations.qll
Labels: JS, no-change-note-required

#8581 Python: Fix bad join in `import_star_read`
  python/ql/lib/semmle/python/Exprs.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/lib/semmle/python/pointsto/PointsTo.qll
Labels: Python, Awaiting evaluation, no-change-note-required

#8960 Swift: cc wrapper rules
  swift/extractor/BUILD.bazel
  swift/rules.bzl
Labels: Swift

#8959 Swift: teach bazel to install python dependencies
  .github/workflows/swift-codegen.yml
  .github/workflows/swift-qltest.yml
  misc/bazel/workspace.bzl
  misc/bazel/workspace_deps.bzl
  swift/codegen/lib/BUILD.bazel
  swift/codegen/test/BUILD.bazel
Labels: Swift
