Repository github/codeql, pull requests merged in 2022-05, with the labels that each got.

#8345 Java: Add `MyBatis`' `Providers` sinks
  java/ql/lib/change-notes/2022-03-15-mybatis-providers.md
  java/ql/lib/semmle/code/java/frameworks/MyBatis.qll
  java/ql/lib/semmle/code/java/security/OgnlInjection.qll
  java/ql/lib/semmle/code/java/security/QueryInjection.qll
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MyBatisAnnotationSqlInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MyBatisProvider.java
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MybatisSqlInjection.java
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MybatisSqlInjectionService.java
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/SqlInjectionMapper.java
  java/ql/test/stubs/org.mybatis-3.5.4/org/apache/ibatis/annotations/DeleteProvider.java
  java/ql/test/stubs/org.mybatis-3.5.4/org/apache/ibatis/annotations/InsertProvider.java
  java/ql/test/stubs/org.mybatis-3.5.4/org/apache/ibatis/annotations/SelectProvider.java
  java/ql/test/stubs/org.mybatis-3.5.4/org/apache/ibatis/annotations/UpdateProvider.java
  java/ql/test/stubs/org.mybatis-3.5.4/org/apache/ibatis/jdbc/AbstractSQL.java
  java/ql/test/stubs/org.mybatis-3.5.4/org/apache/ibatis/jdbc/SQL.java
Labels: documentation, Java

#8955 C#: Add FP test for `cs/useless-cast-to-self`
  csharp/ql/test/query-tests/Language Abuse/UselessCastToSelf/UselessCastToSelf.cs
  csharp/ql/test/query-tests/Language Abuse/UselessCastToSelf/UselessCastToSelf.expected
Labels: C#

#8890 Python: Add support for global attribute writes
  python/ql/lib/semmle/python/dataflow/new/internal/Attributes.qll
  python/ql/test/experimental/dataflow/typetracking/attribute_tests.py
Labels: Python, no-change-note-required

#8732 Python: Don't re-export `python` under `DataFlow::`
  python/ql/lib/change-notes/2022-04-20-export-python-under-DataFlow.md
  python/ql/lib/semmle/python/SpecialMethods.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplSpecific.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowUtil.qll
  python/ql/lib/semmle/python/dataflow/new/internal/LocalSources.qll
  python/ql/test/experimental/dataflow/qll-private-imports/README.md
  python/ql/test/experimental/dataflow/qll-private-imports/Test.expected
  python/ql/test/experimental/dataflow/qll-private-imports/Test.ql
  python/ql/test/experimental/dataflow/qll-private-imports/test.py
Labels: documentation, Python

#8989 JS/RB: have `ApiGraphModelsSpecific.qll` mention all the required predicates
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsSpecific.qll
Labels: JS, no-change-note-required, Ruby

#8948 C++: Add support for SAXParser to the CWE-611 XXE query.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/src/change-notes/2022-04-28-external-entity-expansion.md
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.h
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests2.cpp
Labels: C++, documentation

#8860 Fix broken link in analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
Labels: documentation, ready-for-doc-review

#8943 C++: Remove import order workarounds
  cpp/ql/lib/semmle/code/cpp/security/Overflow.qll
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
  cpp/ql/src/Likely Bugs/OO/UnsafeUseOfThis.ql
Labels: C++, no-change-note-required

#8952 Fix syntax errors in QL comments
  cpp/ql/lib/semmle/code/cpp/Function.qll
  cpp/ql/src/Likely Bugs/Memory Management/SuspiciousCallToMemset.ql
  csharp/ql/lib/semmle/code/csharp/exprs/Call.qll
  csharp/ql/src/API Abuse/IncorrectCompareToSignature.ql
  csharp/ql/src/Documentation/XmldocExtraParam.ql
  csharp/ql/src/Documentation/XmldocExtraTypeParam.ql
  csharp/ql/src/Documentation/XmldocMissingException.ql
  csharp/ql/src/Documentation/XmldocMissingParam.ql
  csharp/ql/src/Documentation/XmldocMissingReturn.ql
  csharp/ql/src/Documentation/XmldocMissingSummary.ql
  csharp/ql/src/Documentation/XmldocMissingTypeParam.ql
  java/ql/lib/semmle/code/java/frameworks/JaxWS.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringEntry.qll
  java/ql/src/experimental/Security/CWE/CWE-939/IncorrectURLVerification.ql
  javascript/ql/lib/semmle/javascript/DefUse.qll
  javascript/ql/lib/semmle/javascript/Externs.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
Labels: C#, JS, C++, Java, no-change-note-required

#9001 Python: Flask: Improve `request.files` modeing
  python/ql/lib/change-notes/2022-05-02-flask-request-files-modeling.md
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/test/library-tests/frameworks/flask/taint_test.py
Labels: documentation, Python

#8872 Java: Add Editable.toString flow step
  java/ql/lib/change-notes/2022-04-26-android-editable-tostring-flow-step.md
  java/ql/lib/semmle/code/java/frameworks/android/Widget.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageAndroidDatabaseQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageQuery.qll
  java/ql/test/library-tests/frameworks/android/widget/TestWidget.java
  java/ql/test/library-tests/frameworks/android/widget/options
  java/ql/test/library-tests/frameworks/android/widget/test.expected
  java/ql/test/library-tests/frameworks/android/widget/test.ql
  java/ql/test/stubs/google-android-9.0.0/android/app/RemoteAction.java
  java/ql/test/stubs/google-android-9.0.0/android/text/Editable.java
  java/ql/test/stubs/google-android-9.0.0/android/text/GetChars.java
  java/ql/test/stubs/google-android-9.0.0/android/text/InputFilter.java
  java/ql/test/stubs/google-android-9.0.0/android/text/Layout.java
  java/ql/test/stubs/google-android-9.0.0/android/text/NoCopySpan.java
  java/ql/test/stubs/google-android-9.0.0/android/text/ParcelableSpan.java
  java/ql/test/stubs/google-android-9.0.0/android/text/PrecomputedText.java
  java/ql/test/stubs/google-android-9.0.0/android/text/TextDirectionHeuristic.java
  java/ql/test/stubs/google-android-9.0.0/android/text/TextUtils.java
  java/ql/test/stubs/google-android-9.0.0/android/text/TextWatcher.java
  java/ql/test/stubs/google-android-9.0.0/android/text/method/KeyListener.java
  java/ql/test/stubs/google-android-9.0.0/android/text/method/MovementMethod.java
  java/ql/test/stubs/google-android-9.0.0/android/text/method/TransformationMethod.java
  java/ql/test/stubs/google-android-9.0.0/android/text/style/URLSpan.java
  java/ql/test/stubs/google-android-9.0.0/android/view/textclassifier/ConversationAction.java
  java/ql/test/stubs/google-android-9.0.0/android/view/textclassifier/ConversationActions.java
  java/ql/test/stubs/google-android-9.0.0/android/view/textclassifier/SelectionEvent.java
  java/ql/test/stubs/google-android-9.0.0/android/view/textclassifier/TextClassification.java
  java/ql/test/stubs/google-android-9.0.0/android/view/textclassifier/TextClassificationContext.java
  java/ql/test/stubs/google-android-9.0.0/android/view/textclassifier/TextClassificationSessionId.java
  java/ql/test/stubs/google-android-9.0.0/android/view/textclassifier/TextClassifier.java
  java/ql/test/stubs/google-android-9.0.0/android/view/textclassifier/TextClassifierEvent.java
  java/ql/test/stubs/google-android-9.0.0/android/view/textclassifier/TextLanguage.java
  java/ql/test/stubs/google-android-9.0.0/android/view/textclassifier/TextSelection.java
  java/ql/test/stubs/google-android-9.0.0/android/widget/EditText.java
  java/ql/test/stubs/google-android-9.0.0/android/widget/Scroller.java
Labels: documentation, Java

#9013 Java: Make more ExternalFlow imports private
  java/ql/lib/semmle/code/java/security/CleartextStorageAndroidFilesystemQuery.qll
  java/ql/lib/semmle/code/java/security/Files.qll
  java/ql/lib/semmle/code/java/security/InformationLeak.qll
  java/ql/lib/semmle/code/java/security/LogInjection.qll
  java/ql/lib/semmle/code/java/security/QueryInjection.qll
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
  java/ql/lib/semmle/code/java/security/UrlRedirect.qll
  java/ql/lib/semmle/code/java/security/XPath.qll
  java/ql/lib/semmle/code/java/security/XSS.qll
  java/ql/lib/semmle/code/java/security/XsltInjection.qll
  java/ql/src/experimental/Security/CWE/CWE-200/AndroidFileIntentSink.qll
  java/ql/src/experimental/Security/CWE/CWE-400/ThreadResourceAbuse.qll
Labels: Java, no-change-note-required

#9018 C++: Support libxml2 in the XXE query
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.h
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests4.cpp
Labels: C++, no-change-note-required

#8706 Java: CWE-552 Add sources and sinks to to detect unsafe getResource calls in Java EE applications
  java/ql/lib/semmle/code/java/frameworks/Servlets.qll
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeResourceGet.java
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.qhelp
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.ql
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.qll
  java/ql/src/experimental/semmle/code/java/frameworks/Jsf.qll
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeResourceGet.java
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeResourceGet2.java
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeUrlForward.expected
  java/ql/test/experimental/query-tests/security/CWE-552/options
  java/ql/test/stubs/jboss-vfs-3.2/org/jboss/vfs/VFS.java
  java/ql/test/stubs/jboss-vfs-3.2/org/jboss/vfs/VirtualFile.java
  java/ql/test/stubs/undertow-io-2.2/io/undertow/server/handlers/resource/FileResourceManager.java
  java/ql/test/stubs/undertow-io-2.2/io/undertow/server/handlers/resource/Resource.java
Labels: documentation, Java, no-change-note-required

#8975 Ruby: fix some flow summary join orders
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
Labels: no-change-note-required, Ruby

#8147 JS: cache RegExpCreationNode::getAReference
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/lib/semmle/javascript/internal/CachedStages.qll
Labels: JS, no-change-note-required

#8549 JS: fix bad join in js/unreachable-method-overloads
  javascript/ql/src/Declarations/UnreachableMethodOverloads.ql
Labels: JS, no-change-note-required

#9017 Data flow: Speedup `subpaths` predicate
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#8870 Data flow: Introduce `expectsContent`
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  docs/ql-libraries/dataflow/dataflow.md
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, documentation, Java, Python, no-change-note-required, Ruby

#8894 C#: Upgrade dotnet to 6.0.202.
  .github/workflows/codeql-analysis.yml
  csharp/ql/src/Stubs/make_stubs_nuget.py
  csharp/ql/test/library-tests/cil/attributes/attribute.expected
  csharp/ql/test/library-tests/cil/typeAnnotations/typeAnnotations.expected
  csharp/ql/test/library-tests/conversion/operator/Operator.expected
  csharp/ql/test/library-tests/dispatch/viableCallable.expected
Labels: C#, depends on internal PR

#8930 QL language reference: variables must be lowerId
  docs/codeql/ql-language-reference/ql-language-specification.rst
  docs/codeql/ql-language-reference/variables.rst
Labels: documentation

#9033 JS: exclude ATM folder from labeler
  .github/labeler.yml
Labels: JS

#9023 Python: Clarify `getArg` is about positional arguments
  python/ql/lib/semmle/python/Flow.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Labels: Python, no-change-note-required

#9019 C++: More XXE Tests
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.h
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests2.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests3.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests5.cpp
Labels: C++, no-change-note-required

#7776 Python: Support Django FileField.upload_to
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/test/library-tests/frameworks/django-v2-v3/.gitignore
  python/ql/test/library-tests/frameworks/django-v2-v3/FileField_test.py
  python/ql/test/library-tests/frameworks/django-v2-v3/test_file_field
  python/ql/test/library-tests/frameworks/django-v2-v3/testapp/models.py
  python/ql/test/library-tests/frameworks/django-v2-v3/testapp/urls.py
  python/ql/test/library-tests/frameworks/django-v2-v3/testapp/views.py
  python/ql/test/library-tests/frameworks/django-v2-v3/testproj/settings.py
Labels: Python, no-change-note-required

#9043 C#: Convert xml injection query to a path problem.
  csharp/ql/src/Security Features/CWE-091/XMLInjection.ql
  csharp/ql/test/query-tests/Security Features/CWE-091/XMLInjection/XMLInjection.expected
Labels: C#, no-change-note-required

#9028 Swift: add `trapgen` unit tests
  swift/codegen/BUILD.bazel
  swift/codegen/lib/cpp.py
  swift/codegen/lib/dbscheme.py
  swift/codegen/requirements.txt
  swift/codegen/templates/cpp_traps.mustache
  swift/codegen/test/BUILD.bazel
  swift/codegen/test/test_cpp.py
  swift/codegen/test/test_dbscheme.py
  swift/codegen/test/test_trapgen.py
  swift/codegen/test/utils.py
  swift/codegen/trapgen.py
Labels: Swift

#9015 Swift: enable dynamic mode
  .gitignore
  misc/bazel/pkg_runfiles.bzl
  misc/bazel/workspace.bzl
  swift/BUILD.bazel
  swift/extractor/BUILD.bazel
  swift/tools/prebuilt/BUILD.bazel
  swift/tools/prebuilt/BUILD.swift-prebuilt.bazel
  swift/tools/qltest.sh
Labels: Swift

#8855 C#: Only allow two read and two store steps in model capturing.
  csharp/ql/src/utils/model-generator/internal/CaptureModels.qll
  java/ql/src/utils/model-generator/internal/CaptureModels.qll
Labels: C#, Java, no-change-note-required

#9044 C#: Flow summaries test should print, whether a summary is generated or not.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, no-change-note-required, Ruby

#8990 JS: Selection API DOM text source
  javascript/ql/lib/change-notes/2022-04-30-xss-selection-source.md
  javascript/ql/lib/semmle/javascript/security/dataflow/XssThroughDomCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/XssThroughDom.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/xss-through-dom.js
Labels: JS, documentation

#8710 JS: drag and drop API Xss sources
  javascript/ql/lib/change-notes/2022-04-11-drag-and-drop-data.md
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/frameworks/Clipboard.qll
  javascript/ql/lib/semmle/javascript/frameworks/DomEvents.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/clipboard.ts
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/dragAndDrop.ts
Labels: JS, documentation

#8724 JS: promote the `js/missing-origin-verification` query
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/Security/CWE-020/MissingOriginCheck.qhelp
  javascript/ql/src/Security/CWE-020/MissingOriginCheck.ql
  javascript/ql/src/Security/CWE-020/examples/MissingOriginCheckBad.js
  javascript/ql/src/Security/CWE-020/examples/MissingOriginCheckGood.js
  javascript/ql/src/change-notes/2022-04-12-postmessage-origin-verification.md
  javascript/ql/src/experimental/Security/CWE-020/PostMessageNoOriginCheck.qhelp
  javascript/ql/src/experimental/Security/CWE-020/PostMessageNoOriginCheck.ql
  javascript/ql/src/experimental/Security/CWE-020/examples/postMessageInsufficientCheck.js
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegExp/IncompleteHostnameRegExp.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegExp/IncompleteHostnameRegExp.qlref
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegExp/tst-IncompleteHostnameRegExp.js
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck/IncompleteUrlSchemeCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck/IncompleteUrlSchemeCheck.js
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck/IncompleteUrlSchemeCheck.qlref
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck/IncompleteUrlSchemeCheckGood.js
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization/IncompleteUrlSubstringSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization/IncompleteUrlSubstringSanitization.qlref
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization/tst-IncompleteUrlSubstringSanitization.js
  javascript/ql/test/query-tests/Security/CWE-020/IncorrectSuffixCheck/IncorrectSuffixCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncorrectSuffixCheck/IncorrectSuffixCheck.qlref
  javascript/ql/test/query-tests/Security/CWE-020/IncorrectSuffixCheck/examples/IncorrectSuffixCheck.js
  javascript/ql/test/query-tests/Security/CWE-020/IncorrectSuffixCheck/examples/IncorrectSuffixCheckGood.js
  javascript/ql/test/query-tests/Security/CWE-020/IncorrectSuffixCheck/tst.js
  javascript/ql/test/query-tests/Security/CWE-020/MissingOriginCheck/MissingOriginCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/MissingOriginCheck/MissingOriginCheck.qlref
  javascript/ql/test/query-tests/Security/CWE-020/MissingOriginCheck/tst.js
  javascript/ql/test/query-tests/Security/CWE-020/MissingRegExpAnchor/MissingRegExpAnchor.expected
  javascript/ql/test/query-tests/Security/CWE-020/MissingRegExpAnchor/MissingRegExpAnchor.qlref
  javascript/ql/test/query-tests/Security/CWE-020/MissingRegExpAnchor/tst-SemiAnchoredRegExp.js
  javascript/ql/test/query-tests/Security/CWE-020/MissingRegExpAnchor/tst-UnanchoredUrlRegExp.js
  javascript/ql/test/query-tests/Security/CWE-020/UntrustedDataToExternalAPI/UntrustedDataToExternalAPI.expected
  javascript/ql/test/query-tests/Security/CWE-020/UntrustedDataToExternalAPI/UntrustedDataToExternalAPI.qlref
  javascript/ql/test/query-tests/Security/CWE-020/UntrustedDataToExternalAPI/tst-UntrustedDataToExternalAPI.js
  javascript/ql/test/query-tests/Security/CWE-020/UselessCharacterEscape/UselessCharacterEscape.expected
  javascript/ql/test/query-tests/Security/CWE-020/UselessCharacterEscape/UselessCharacterEscape.ql
  javascript/ql/test/query-tests/Security/CWE-020/UselessCharacterEscape/UselessRegExpCharacterEscape.expected
  javascript/ql/test/query-tests/Security/CWE-020/UselessCharacterEscape/UselessRegExpCharacterEscape.qlref
  javascript/ql/test/query-tests/Security/CWE-020/UselessCharacterEscape/tst-escapes.js
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/addEventListener.js
Labels: JS, documentation, ready-for-doc-review

#8245 CPP: Add query for CWE-476: NULL Pointer Dereference when using exception handling blocks
  cpp/ql/src/experimental/Security/CWE/CWE-476/DangerousUseOfExceptionBlocks.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-476/DangerousUseOfExceptionBlocks.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-476/DangerousUseOfExceptionBlocks.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-476/semmle/tests/DangerousUseOfExceptionBlocks.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-476/semmle/tests/DangerousUseOfExceptionBlocks.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-476/semmle/tests/test.cpp
Labels: C++, documentation

#9045 Data flow: Speedup `subpaths` predicate (take 2)
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#9034 Swift: add structured C++ generated classes
  swift/codegen/BUILD.bazel
  swift/codegen/cppgen.py
  swift/codegen/dbschemegen.py
  swift/codegen/lib/cpp.py
  swift/codegen/lib/generator.py
  swift/codegen/lib/options.py
  swift/codegen/lib/paths.py
  swift/codegen/lib/ql.py
  swift/codegen/lib/render.py
  swift/codegen/lib/schema.py
  swift/codegen/qlgen.py
  swift/codegen/schema.yml
  swift/codegen/templates/BUILD.bazel
  swift/codegen/templates/cpp_classes.mustache
  swift/codegen/templates/ql_class.mustache
  swift/codegen/templates/ql_stub.mustache
  swift/codegen/templates/trap_tags.mustache
  swift/codegen/templates/trap_traps.mustache
  swift/codegen/test/test_cpp.py
  swift/codegen/test/test_cppgen.py
  swift/codegen/test/test_dbscheme.py
  swift/codegen/test/test_dbschemegen.py
  swift/codegen/test/test_ql.py
  swift/codegen/test/test_qlgen.py
  swift/codegen/test/test_render.py
  swift/codegen/test/test_schema.py
  swift/codegen/test/test_trapgen.py
  swift/codegen/test/utils.py
  swift/codegen/trapgen.py
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/trap/BUILD.bazel
  swift/extractor/trap/TrapLabel.h
  swift/ql/lib/codeql/swift/generated/decl/PatternBindingDecl.qll
Labels: no-change-note-required, Swift

#9094 Swift codegen: add predicate properties
  swift/codegen/cppgen.py
  swift/codegen/dbschemegen.py
  swift/codegen/lib/cpp.py
  swift/codegen/lib/ql.py
  swift/codegen/lib/schema.py
  swift/codegen/qlgen.py
  swift/codegen/schema.yml
  swift/codegen/templates/cpp_classes.mustache
  swift/codegen/templates/ql_class.mustache
  swift/codegen/test/test_cpp.py
  swift/codegen/test/test_cppgen.py
  swift/codegen/test/test_dbschemegen.py
  swift/codegen/test/test_ql.py
  swift/codegen/test/test_qlgen.py
  swift/codegen/test/test_schema.py
  swift/ql/lib/codeql/swift/generated/type/AnyFunctionType.qll
  swift/ql/lib/swift.dbscheme
Labels: no-change-note-required, Swift

#9091 C#: Port the existing compiler-tracing.spec files to Lua.
  csharp/tools/tracing-config.lua
Labels: C#

#8696 Python: Improve experimental modeling for `pymongo`
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-943/pymongo_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/pymongo_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/pymongo_test.py
Labels: Python, no-change-note-required

#9085 JS: add model for the cash library
  javascript/ql/lib/change-notes/2022-05-09-cash.md
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/XssThroughDom.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/xss-through-dom.js
Labels: JS, documentation

#8595 Python : Add query to detect PAM authorization bypass
  python/ql/src/experimental/Security/CWE-285/PamAuthorization.qhelp
  python/ql/src/experimental/Security/CWE-285/PamAuthorization.ql
  python/ql/src/experimental/Security/CWE-285/PamAuthorizationBad.py
  python/ql/src/experimental/Security/CWE-285/PamAuthorizationGood.py
  python/ql/test/experimental/query-tests/Security/CWE-285/PamAuthorization.expected
  python/ql/test/experimental/query-tests/Security/CWE-285/PamAuthorization.qlref
  python/ql/test/experimental/query-tests/Security/CWE-285/pam_test.py
Labels: documentation, Python

#9047 C++: Add support for SAX2XMLReader in the CWE-611 XXE query.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.h
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests3.cpp
Labels: C++, no-change-note-required

#9110 QL: add implicit -all to a query pack to match the CodeQL pack resolution
  ql/ql/src/codeql_ql/ast/Ast.qll
Labels: QL-for-QL

#9105 C#: Lua tracing config: Use API function.
  csharp/tools/tracing-config.lua
Labels: C#

#9022 Ruby: Fix `isLocalSourceNode` implementation
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
Labels: no-change-note-required, Ruby

#8571 Java: Add `ValueDiscardingExpr`
  java/ql/lib/change-notes/2022-05-09-value-discarding-expression.md
  java/ql/lib/semmle/code/java/Collections.qll
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/Maps.qll
  java/ql/src/Likely Bugs/Statements/ReturnValueIgnored.ql
  java/ql/src/Violations of Best Practice/Exception Handling/IgnoreExceptionalReturn.ql
  java/ql/src/experimental/Security/CWE/CWE-297/IgnoredHostnameVerification.ql
  java/ql/test/library-tests/ValueDiscardingExpr/ValueDiscardingExpr.expected
  java/ql/test/library-tests/ValueDiscardingExpr/ValueDiscardingExpr.java
  java/ql/test/library-tests/ValueDiscardingExpr/ValueDiscardingExpr.ql
  java/ql/test/library-tests/ValueDiscardingExpr/options
Labels: documentation, Java

#6360 Python: Add cookie security-related queries
  python/ql/src/experimental/Security/CWE-614/CookieInjection.py
  python/ql/src/experimental/Security/CWE-614/CookieInjection.qhelp
  python/ql/src/experimental/Security/CWE-614/CookieInjection.ql
  python/ql/src/experimental/Security/CWE-614/InsecureCookie.py
  python/ql/src/experimental/Security/CWE-614/InsecureCookie.qhelp
  python/ql/src/experimental/Security/CWE-614/InsecureCookie.ql
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/CookieHeader.qll
  python/ql/src/experimental/semmle/python/frameworks/Django.qll
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/src/experimental/semmle/python/security/injection/CookieInjection.qll
  python/ql/test/experimental/query-tests/Security/CWE-614/CookieInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-614/CookieInjection.qlref
  python/ql/test/experimental/query-tests/Security/CWE-614/InsecureCookie.expected
  python/ql/test/experimental/query-tests/Security/CWE-614/InsecureCookie.qlref
  python/ql/test/experimental/query-tests/Security/CWE-614/django_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-614/django_good.py
  python/ql/test/experimental/query-tests/Security/CWE-614/flask_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-614/flask_good.py
Labels: documentation, Python

#8898 Data flow: Introduce 'with/without content' summary components
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Collections.qll
  csharp/ql/test/library-tests/dataflow/external-models/steps.expected
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, no-change-note-required, Ruby

#9118 C#: Tag telemetry queries with `telemetry`
  csharp/ql/src/Telemetry/ExternalLibraryUsage.ql
  csharp/ql/src/Telemetry/SupportedExternalSinks.ql
  csharp/ql/src/Telemetry/SupportedExternalSources.ql
  csharp/ql/src/Telemetry/SupportedExternalTaint.ql
  csharp/ql/src/Telemetry/UnsupportedExternalAPIs.ql
Labels: C#, no-change-note-required

#9036 Java: CWE-321 Query to detect hardcoded JWT secret keys
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.java
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.qhelp
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.ql
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.qll
  java/ql/test/experimental/query-tests/security/CWE-321/HardcodedJwtKey.expected
  java/ql/test/experimental/query-tests/security/CWE-321/HardcodedJwtKey.java
  java/ql/test/experimental/query-tests/security/CWE-321/HardcodedJwtKey.qlref
  java/ql/test/experimental/query-tests/security/CWE-321/options
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/JWT.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/JWTCreator.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/algorithms/Algorithm.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/exceptions/JWTCreationException.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/exceptions/JWTDecodeException.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/exceptions/JWTVerificationException.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/exceptions/SignatureGenerationException.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/exceptions/SignatureVerificationException.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/interfaces/DecodedJWT.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/interfaces/ECDSAKeyProvider.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/interfaces/JWTVerifier.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/interfaces/KeyProvider.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/interfaces/RSAKeyProvider.java
  java/ql/test/stubs/auth0-jwt-2.3/com/auth0/jwt/interfaces/Verification.java
Labels: documentation, Java

#9098 Dataflow: Performance fixes
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#9116 Java: tolerate `cookie.setSecure(request.isSecure())`
  java/ql/lib/semmle/code/java/frameworks/Servlets.qll
  java/ql/src/Security/CWE/CWE-614/InsecureCookie.ql
  java/ql/src/change-notes/2022-05-11-insecure-cookie.md
  java/ql/test/query-tests/security/CWE-311/CWE-614/semmle/tests/InsecureCookie.expected
  java/ql/test/query-tests/security/CWE-311/CWE-614/semmle/tests/Test.java
Labels: documentation, Java

#9103 JS: add support for typed NextJS route-handlers
  javascript/ql/lib/semmle/javascript/frameworks/Next.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/ServerSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/next.ts
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/tsconfig.json
Labels: JS, no-change-note-required

#9120 Kotlin: Fix some alerts
  java/ql/consistency-queries/locations.ql
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/Variable.qll
Labels: Java, no-change-note-required, Kotlin

#9119 Fix non-US spellings and the corresponding query
  cpp/ql/lib/change-notes/2022-05-11-deprecated-analysed-string.md
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
  cpp/ql/lib/semmle/code/cpp/commons/StringAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/security/BufferWrite.qll
  cpp/ql/test/library-tests/string_analysis/StringAnalysis.ql
  java/ql/lib/semmle/code/java/dataflow/StringPrefixes.qll
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  python/ql/lib/semmle/python/objects/ObjectInternal.qll
  python/ql/lib/semmle/python/objects/Sequences.qll
  ql/ql/src/codeql_ql/style/docs/NonUSSpellingQuery.qll
Labels: JS, C++, documentation, Java, Python, no-change-note-required, QL-for-QL

#9126 Python: Fully disallow `API::moduleImport` of module with dots
  python/ql/lib/change-notes/2022-05-12-moduleimport-disallow-dots.md
  python/ql/lib/semmle/python/ApiGraphs.qll
  python/ql/src/experimental/Security/CWE-285/PamAuthorization.ql
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
  python/ql/test/library-tests/ApiGraphs/py3/ModuleImportWithDots.expected
  python/ql/test/library-tests/ApiGraphs/py3/ModuleImportWithDots.ql
  python/ql/test/library-tests/ApiGraphs/py3/test.py
  python/ql/test/library-tests/ApiGraphs/py3/verifyApiGraphs.ql
Labels: documentation, Python

#9021 JS: promote `js/actions/injection` out of experimental
  javascript/ql/lib/semmle/javascript/Actions.qll
  javascript/ql/lib/semmle/javascript/YAML.qll
  javascript/ql/src/Security/CWE-094/ExpressionInjection.qhelp
  javascript/ql/src/Security/CWE-094/ExpressionInjection.ql
  javascript/ql/src/Security/CWE-094/examples/comment_issue_bad.yml
  javascript/ql/src/Security/CWE-094/examples/comment_issue_good.yml
  javascript/ql/src/change-notes/2022-05-03-actions-injection.md
  javascript/ql/src/experimental/Security/CWE-094/UntrustedCheckout.ql
  javascript/ql/src/experimental/semmle/javascript/Actions.qll
  javascript/ql/test/experimental/Security/CWE-094/ExpressionInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/.github/workflows/comment_issue.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/ExpressionInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/ExpressionInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/empty.js
Labels: JS, documentation, ready-for-doc-review

#9115 JS: resolve main module when there is a folder with the same name as the main file
  javascript/ql/lib/semmle/javascript/NodeModuleResolutionImpl.qll
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/sublib/package.json
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/sublib/sub.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/sublib/sub/empty.js
Labels: JS, no-change-note-required

#9114 C++: Repair support for createLSParser in the CWE-611 XXE query.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests5.cpp
Labels: C++, no-change-note-required

#9113 Claim Go 1.18 support
  docs/codeql/support/reusables/versions-compilers.rst
Labels: documentation

#9136 Kotlin: QLDoc tweaks from intrigus
  java/ql/lib/semmle/code/java/Expr.qll
Labels: Java, no-change-note-required, Kotlin

#9147 Swift: publish C++ generated code as artifacts
  .github/workflows/swift-codegen.yml
  swift/codegen/lib/options.py
Labels: Swift

#9112 Swift: introduce dispatcher
  swift/codegen/cppgen.py
  swift/codegen/lib/cpp.py
  swift/codegen/templates/cpp_classes.mustache
  swift/codegen/templates/trap_tags.mustache
  swift/codegen/templates/trap_traps.mustache
  swift/codegen/trapgen.py
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftDispatcher.h
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftTagTraits.h
  swift/extractor/trap/BUILD.bazel
  swift/extractor/trap/TrapLabel.h
  swift/extractor/trap/TrapLabelStore.h
  swift/extractor/trap/TrapTagTraits.h
  swift/ql/lib/codeql/swift/elements/Location.qll
  swift/ql/lib/codeql/swift/elements/UnknownAstNode.qll
  swift/ql/test/extractor-tests/declarations/test.expected
  swift/ql/test/extractor-tests/declarations/test.ql
  swift/ql/test/extractor-tests/declarations/test.swift
Labels: no-change-note-required, Swift

#9131 Kotlin: Don't use capture_output or text
  java/kotlin-extractor/build.py
  java/kotlin-extractor/kotlin_plugin_versions.py
Labels: Java, Kotlin

#9144 Swift: Introduce visitors
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftDispatcher.h
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftVisitor.h
  swift/extractor/visitors/DeclVisitor.h
  swift/extractor/visitors/ExprVisitor.h
  swift/extractor/visitors/PatternVisitor.h
  swift/extractor/visitors/StmtVisitor.h
  swift/extractor/visitors/TypeVisitor.h
Labels: Swift

#9155 Kotlin: Fix initializer field flow by extracting field finality
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/field-initializer-flow/test.expected
  java/ql/test/kotlin/library-tests/field-initializer-flow/test.kt
  java/ql/test/kotlin/library-tests/field-initializer-flow/test.ql
  java/ql/test/kotlin/library-tests/modifiers/modifiers.expected
  java/ql/test/kotlin/library-tests/variables/variables.expected
Labels: Java

#8956 Java: Fix Intent Redirection sanitizer
  java/ql/lib/change-notes/2022-04-29-intent-redirection-sanitizer-fix.md
  java/ql/lib/semmle/code/java/security/AndroidIntentRedirection.qll
  java/ql/test/query-tests/security/CWE-940/AndroidIntentRedirectionTest.java
Labels: documentation, Java

#9151 Kotlin: Handle variables as comment owners
  java/kotlin-extractor/src/main/kotlin/TrapWriter.kt
  java/kotlin-extractor/src/main/kotlin/comments/CommentExtractor.kt
  java/ql/test/kotlin/library-tests/comments/comments.expected
  java/ql/test/kotlin/library-tests/comments/comments.kt
Labels: Java

#9134 Dataflow: Improve standard order through easier type check elimination.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#9142 C++: Fixes some typos and increases the XXE query precision.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/src/change-notes/2022-05-12-external-entity-expansion.md
Labels: C++, documentation

#8971 Ruby: add safe navigation operator
  ruby/ql/lib/change-notes/2022-05-01-safe-navigation-operator.md
  ruby/ql/lib/codeql/ruby/ast/Call.qll
  ruby/ql/lib/codeql/ruby/ast/Control.qll
  ruby/ql/lib/codeql/ruby/ast/internal/AST.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Call.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Literal.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/AstDesugar.expected
  ruby/ql/test/library-tests/ast/TreeSitter.expected
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/calls/calls.expected
  ruby/ql/test/library-tests/ast/calls/calls.ql
  ruby/ql/test/library-tests/ast/calls/calls.rb
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/Nodes.expected
  ruby/ql/test/library-tests/controlflow/graph/cfg.rb
Labels: documentation, Ruby

#7626 JS: add query for detecting insecure temporary files
  javascript/ql/lib/semmle/javascript/security/dataflow/InsecureTemporaryFileCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/InsecureTemporaryFileQuery.qll
  javascript/ql/src/Security/CWE-377/InsecureTemporaryFile.qhelp
  javascript/ql/src/Security/CWE-377/InsecureTemporaryFile.ql
  javascript/ql/src/Security/CWE-377/examples/insecure-temporary-file.js
  javascript/ql/src/Security/CWE-377/examples/secure-temporary-file.js
  javascript/ql/src/change-notes/2022-01-18-insecure-temporary-file.md
  javascript/ql/test/query-tests/Security/CWE-377/InsecureTemporaryFile.expected
  javascript/ql/test/query-tests/Security/CWE-377/InsecureTemporaryFile.qlref
  javascript/ql/test/query-tests/Security/CWE-377/insecure-temporary-file.js
Labels: JS, documentation

#9150 Kotlin: Add more type check casts to MissingInstanceofInEquals query
  java/ql/src/Likely Bugs/Comparison/MissingInstanceofInEquals.ql
  java/ql/test/kotlin/query-tests/MissingInstanceofInEquals/MissingInstanceofInEquals.expected
  java/ql/test/kotlin/query-tests/MissingInstanceofInEquals/MissingInstanceofInEquals.qlref
  java/ql/test/kotlin/query-tests/MissingInstanceofInEquals/Test.kt
Labels: Java, no-change-note-required

#9149 Kotlin: Exclude operands of `NotNullExpr` from NullMaybe query
  java/ql/src/Likely Bugs/Nullness/NullMaybe.ql
  java/ql/test/kotlin/query-tests/NullMaybe/NullMaybe.expected
  java/ql/test/kotlin/query-tests/NullMaybe/NullMaybe.qlref
  java/ql/test/kotlin/query-tests/NullMaybe/Test.kt
Labels: Java, no-change-note-required

#9146 Kotlin: exclude Kotlin source from 'inner class could be static' check
  java/ql/src/Performance/InnerClassCouldBeStatic.ql
  java/ql/test/kotlin/query-tests/InnerClassCouldBeStatic/InnerClassCouldBeStatic.expected
  java/ql/test/kotlin/query-tests/InnerClassCouldBeStatic/InnerClassCouldBeStatic.qlref
  java/ql/test/kotlin/query-tests/InnerClassCouldBeStatic/Test.kt
Labels: Java, no-change-note-required

#9145 Kotlin: Respect `override` modifier in useless parameter query
  java/ql/lib/semmle/code/java/deadcode/DeadCode.qll
  java/ql/test/kotlin/query-tests/UselessParameter/Test.kt
  java/ql/test/kotlin/query-tests/UselessParameter/UselessParameter.expected
  java/ql/test/kotlin/query-tests/UselessParameter/UselessParameter.qlref
Labels: Java, no-change-note-required

#9180 C#: Add missing EntityFramework SQL sinks
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/test/library-tests/frameworks/EntityFramework/Dataflow.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/EntityFrameworkCore.cs
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.ql
  csharp/ql/test/library-tests/frameworks/EntityFramework/SqlExprs.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/StoredFlowSources.expected
  csharp/ql/test/resources/stubs/EntityFramework.cs
Labels: C#, no-change-note-required

#9181 Java: Rename `FloatingPointLiteral` to `FloatLiteral`
  java/ql/lib/change-notes/2022-05-16-floating-point-literal-rename.md
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/SignAnalysisSpecific.qll
  java/ql/src/Likely Bugs/Comparison/NoComparisonOnFloats.ql
  java/ql/src/Violations of Best Practice/Magic Constants/MagicConstants.qll
  java/ql/test/kotlin/library-tests/literals/literals.expected
  java/ql/test/library-tests/fields/PrintAst.expected
  java/ql/test/library-tests/literals/floatLiterals/floatLiterals.ql
  java/ql/test/library-tests/literals/literals-numeric/negativeNumericLiterals.ql
Labels: documentation, Java

#9184 JS: change @id from js/actions/injection to js/actions/command-injection
  javascript/ql/src/Security/CWE-094/ExpressionInjection.ql
Labels: JS, no-change-note-required

#9174 Kotlin: Fix parent class lookup from field initializers in `isUnspecialised`
  java/kotlin-extractor/src/main/kotlin/utils/TypeSubstitution.kt
  java/ql/test/kotlin/library-tests/classes/diags.expected
  java/ql/test/kotlin/library-tests/classes/diags.ql
Labels: Java

#9178 Ruby: update tree-sitter-ruby
  ruby/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/generator/Cargo.toml
Labels: no-change-note-required, Ruby

#9176 C++: Clean up the XXE query QL.
  cpp/ql/src/Security/CWE/CWE-611/Libxml2.qll
  cpp/ql/src/Security/CWE/CWE-611/XML.qll
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/src/Security/CWE/CWE-611/Xerces.qll
Labels: C++, no-change-note-required

#9186 Kotlin: Add support for InlineExpectationsTest
  java/ql/lib/semmle/code/java/Javadoc.qll
  java/ql/test/TestUtilities/InlineExpectationsTestPrivate.qll
Labels: Java, no-change-note-required

#9082 QL: add query warning about `count(...) = 0`.
  python/ql/src/Security/CWE-022/TarSlip.ql
  python/ql/src/analysis/Consistency.ql
  ql/ql/src/queries/performance/ClassPredicateDoesntMentionThis.ql
  ql/ql/src/queries/style/CountingToZero.ql
Labels: Python, no-change-note-required, QL-for-QL

#9188 QL: Allow class + `Base` in `ql/primary-ql-class-consistency`
  ql/ql/src/queries/style/GetAPrimaryQlClassConsistency.ql
Labels: QL-for-QL

#9187 Update Lua tracing configs.
  csharp/tools/tracing-config.lua
  swift/tools/tracing-config.lua
Labels: C#, depends on internal PR, Swift

#7763 QL: add unused-field query
  java/ql/lib/semmle/code/java/security/IntentUriPermissionManipulation.qll
  java/ql/src/experimental/semmle/code/java/PathSanitizer.qll
  javascript/ql/lib/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/lib/semmle/javascript/frameworks/CryptoLibraries.qll
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/test/experimental/query-tests/Security/CWE-113/HeaderInjection.expected
  ql/ql/src/queries/performance/UnusedField.ql
Labels: JS, Java, Python, no-change-note-required, QL-for-QL

#9190 Data flow: Do not materialize `summaryArgParam`
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, no-change-note-required, Ruby

#9191 Ruby: Force cached taint tracking predicates to be evaluated in data flow stage
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
Labels: no-change-note-required, Ruby

#9201 Java: Move `NumericType` to `Type.qll`
  java/ql/lib/semmle/code/java/JDK.qll
  java/ql/lib/semmle/code/java/Type.qll
Labels: Java, no-change-note-required

#9014 C#: Dataflow callable refactoring.
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Call.qll
  csharp/ql/src/Telemetry/ExternalApi.qll
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.ql
  csharp/ql/test/library-tests/dataflow/delegates/DelegateFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.ql
  csharp/ql/test/library-tests/dataflow/library/FlowSummariesFiltered.ql
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.ql
  csharp/ql/test/shared/FlowSummaries.qll
Labels: C#, no-change-note-required

#9182 use string equality instead of regexps to compare constant strings
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/Likely Bugs/Conversion/LossyFunctionResultCast.ql
  cpp/ql/src/experimental/Security/CWE/CWE-266/IncorrectPrivilegeAssignment.ql
  cpp/ql/src/jsf/4.05 Libraries/AV Rule 23.ql
  cpp/ql/src/jsf/4.05 Libraries/AV Rule 24.ql
  csharp/ql/src/Likely Bugs/LeapYear/UnsafeYearConstruction.ql
  java/ql/lib/semmle/code/java/Collections.qll
  java/ql/lib/semmle/code/java/Maps.qll
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/deadcode/frameworks/FitNesseEntryPoints.qll
  java/ql/lib/semmle/code/java/frameworks/Mockito.qll
  java/ql/lib/semmle/code/java/frameworks/android/Slice.qll
  java/ql/lib/semmle/code/java/security/ExternalAPIs.qll
  java/ql/src/experimental/Security/CWE/CWE-470/UnsafeReflectionLib.qll
  java/ql/src/experimental/Security/CWE/CWE-601/SpringUrlRedirect.qll
  java/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  javascript/ql/lib/semmle/javascript/Expr.qll
  javascript/ql/lib/semmle/javascript/frameworks/xUnit.qll
  javascript/ql/src/Declarations/DeadStoreOfGlobal.ql
  javascript/ql/src/LanguageFeatures/ArgumentsCallerCallee.ql
  javascript/ql/src/LanguageFeatures/BadTypeof.ql
  python/ql/src/experimental/semmle/python/libraries/Authlib.qll
  python/ql/src/external/Thrift.qll
  ql/ql/src/queries/style/UseStringComp.ql
  ruby/ql/lib/codeql/ruby/security/internal/CleartextSources.qll
Labels: C#, JS, C++, Java, Python, no-change-note-required, Ruby, QL-for-QL

#9212 Kotlin: Log peak memory usge before and after extractor
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
Labels: Java, Kotlin

#9123 Kotlin: fix cases where type variables were used out of scope
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/consistency-queries/typeParametersInScope.ql
  java/ql/test/kotlin/library-tests/dataflow/func/util.kt
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/function-n/test.expected
  java/ql/test/kotlin/library-tests/function-n/test.kt
  java/ql/test/kotlin/library-tests/function-n/test.ql
  java/ql/test/library-tests/frameworks/guava/generated/collect/CONSISTENCY/typeParametersInScope.expected
Labels: Java, no-change-note-required

#9217 Kotlin: Tweak logging
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
Labels: Java

#9152 Kotlin: Fix extraction of reflective call generated by Parcelize
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Java

#9210 DataFlow - SummarizedCallable refactor
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
  csharp/ql/test/library-tests/dataflow/library/FlowSummariesFiltered.ql
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.ql
  csharp/ql/test/shared/FlowSummaries.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowNodes.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/src/Telemetry/ExternalApi.qll
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: C#, Java, no-change-note-required, Ruby

#9189 Swift: declaration visitor
  swift/codegen/schema.yml
  swift/extractor/SwiftDispatcher.h
  swift/extractor/visitors/DeclVisitor.h
  swift/extractor/visitors/VisitorBase.h
  swift/ql/lib/codeql/swift/generated/decl/AbstractFunctionDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/ConcreteVarDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/EnumCaseDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/EnumElementDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/GenericContext.qll
  swift/ql/lib/codeql/swift/generated/decl/InfixOperatorDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/IterableDeclContext.qll
  swift/ql/lib/codeql/swift/generated/decl/NominalTypeDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/OperatorDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/PatternBindingDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/TopLevelCodeDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/TypeDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/ValueDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/VarDecl.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/declarations/all.expected
  swift/ql/test/extractor-tests/declarations/all.ql
  swift/ql/test/extractor-tests/declarations/func.expected
  swift/ql/test/extractor-tests/declarations/func.ql
  swift/ql/test/extractor-tests/declarations/func_body.expected
  swift/ql/test/extractor-tests/declarations/func_body.ql
  swift/ql/test/extractor-tests/declarations/func_params.expected
  swift/ql/test/extractor-tests/declarations/func_params.ql
  swift/ql/test/extractor-tests/declarations/test.expected
  swift/ql/test/extractor-tests/declarations/test.swift
Labels: no-change-note-required, Swift

#9192 Swift: statement visitor
  swift/codegen/schema.yml
  swift/extractor/SwiftDispatcher.h
  swift/extractor/SwiftTagTraits.h
  swift/extractor/SwiftVisitor.h
  swift/extractor/visitors/StmtVisitor.h
  swift/ql/lib/codeql/swift/generated/stmt/BraceStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/BreakStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/CaseLabelItem.qll
  swift/ql/lib/codeql/swift/generated/stmt/CaseStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/ConditionElement.qll
  swift/ql/lib/codeql/swift/generated/stmt/ContinueStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/DeferStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/DoCatchStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/DoStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/FallthroughStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/ForEachStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/GuardStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/IfStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/LabeledConditionalStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/LabeledStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/RepeatWhileStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/ReturnStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/StmtCondition.qll
  swift/ql/lib/codeql/swift/generated/stmt/SwitchStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/ThrowStmt.qll
  swift/ql/lib/codeql/swift/generated/stmt/WhileStmt.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/declarations/all.expected
  swift/ql/test/extractor-tests/declarations/func_body.expected
  swift/ql/test/extractor-tests/statements/ConditionElements.expected
  swift/ql/test/extractor-tests/statements/ConditionElements.ql
  swift/ql/test/extractor-tests/statements/LabeledConditionalStmts.expected
  swift/ql/test/extractor-tests/statements/LabeledConditionalStmts.ql
  swift/ql/test/extractor-tests/statements/LabeledStmts.expected
  swift/ql/test/extractor-tests/statements/LabeledStmts.ql
  swift/ql/test/extractor-tests/statements/Labels.expected
  swift/ql/test/extractor-tests/statements/Labels.ql
  swift/ql/test/extractor-tests/statements/main.swift
Labels: no-change-note-required, Swift

#9194 Swift: pattern visitor
  swift/codegen/schema.yml
  swift/extractor/visitors/PatternVisitor.h
  swift/ql/lib/codeql/swift/generated/pattern/BindingPattern.qll
  swift/ql/lib/codeql/swift/generated/pattern/BoolPattern.qll
  swift/ql/lib/codeql/swift/generated/pattern/EnumElementPattern.qll
  swift/ql/lib/codeql/swift/generated/pattern/ExprPattern.qll
  swift/ql/lib/codeql/swift/generated/pattern/IsPattern.qll
  swift/ql/lib/codeql/swift/generated/pattern/NamedPattern.qll
  swift/ql/lib/codeql/swift/generated/pattern/OptionalSomePattern.qll
  swift/ql/lib/codeql/swift/generated/pattern/ParenPattern.qll
  swift/ql/lib/codeql/swift/generated/pattern/TuplePattern.qll
  swift/ql/lib/codeql/swift/generated/pattern/TypedPattern.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/patterns/all.expected
  swift/ql/test/extractor-tests/patterns/all.ql
  swift/ql/test/extractor-tests/patterns/patterns.swift
Labels: no-change-note-required, Swift

#9196 Swift: expression visitor
  swift/codegen/schema.yml
  swift/extractor/visitors/ExprVisitor.h
  swift/ql/lib/codeql/swift/generated/expr/AnyTryExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/ApplyExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/Argument.qll
  swift/ql/lib/codeql/swift/generated/expr/ArrayExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/AssignExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/AutoClosureExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/BindOptionalExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/BooleanLiteralExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/CaptureListExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/ClosureExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/DeclRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/DefaultArgumentExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/DictionaryExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/DotSyntaxBaseIgnoredExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/DynamicTypeExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/EnumIsCaseExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/ExplicitCastExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/Expr.qll
  swift/ql/lib/codeql/swift/generated/expr/FloatLiteralExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/ForceValueExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/IdentityExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/IfExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/ImplicitConversionExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/InOutExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/IntegerLiteralExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/InterpolatedStringLiteralExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/KeyPathExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/LazyInitializerExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/MagicIdentifierLiteralExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/MakeTemporarilyEscapableExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/MemberRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/ObjCSelectorExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OneWayExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OpenExistentialExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OptionalEvaluationExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/RebindSelfInConstructorExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/SelfApplyExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/StringLiteralExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/SubscriptExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/SuperRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/TapExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/TupleElementExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/TupleExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/TypeExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/VarargExpansionExpr.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/declarations/all.expected
  swift/ql/test/extractor-tests/declarations/func.expected
  swift/ql/test/extractor-tests/declarations/func_params.expected
  swift/ql/test/extractor-tests/expressions/all.expected
  swift/ql/test/extractor-tests/expressions/all.ql
  swift/ql/test/extractor-tests/expressions/expressions.swift
  swift/ql/test/extractor-tests/patterns/all.expected
Labels: no-change-note-required, Swift

#9195 Java: Performance fixes for local flow relation
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/test/library-tests/dataflow/external-models/steps.ql
  java/ql/test/library-tests/dataflow/local-additional-taint/localAdditionalTaintStep.ql
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
Labels: C#, Java, no-change-note-required, Ruby

#9219 Improve LiveLiterals
  java/ql/lib/semmle/code/java/frameworks/android/Compose.qll
Labels: Java, no-change-note-required, Kotlin

#9218 Kotlin: Avoid "generic specialisation" label collisions
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/TrapWriter.kt
Labels: Java, Kotlin

#9221 Kotlin: Handle missing kotlinc gracefully
  java/kotlin-extractor/build.py
  java/kotlin-extractor/kotlin_plugin_versions.py
Labels: Java

#9233 Kotlin: Fix test to correctly highlight lack of flow from field init
  java/ql/test/kotlin/library-tests/field-initializer-flow/test.expected
  java/ql/test/kotlin/library-tests/field-initializer-flow/test.ql
Labels: Java

#9121 Kotlin: Write the log file as Line-delimited JSON
  java/kotlin-extractor/src/main/kotlin/utils/Logger.kt
  java/ql/test/kotlin/library-tests/trap/diags.expected
  java/ql/test/kotlin/library-tests/trap/diags.ql
Labels: depends on internal PR, Java, Kotlin

#9154 Kotlin: Adjust diagnostic message severity
  java/kotlin-extractor/src/main/kotlin/ExternalDeclExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Java

#9238 Java: Remove org.dom4j.DocumentHelper:parseText as XXE sink
  java/ql/src/experimental/Security/CWE/CWE-611/XXELib.qll
  java/ql/test/experimental/query-tests/security/CWE-611/XXE.expected
  java/ql/test/experimental/query-tests/security/CWE-611/XXE.java
Labels: Java

#9214 Data flow: Do not discard call context when computing reverse lambda flow through jumps
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call_sensitivity.rb
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#9256 C#: Rank summaries and source code in dataflow callables.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
Labels: C#, no-change-note-required

#9264 Swift: fix extractor built with `NDEBUG`
  swift/extractor/SwiftDispatcher.h
Labels: Swift

#9265 Swift: remove `.codeqlmanifest`
  .codeqlmanifest.json
  swift/.codeqlmanifest.json
  swift/README.md
Labels: documentation, Swift

#9262 Ruby: Eliminate bad `isLocalSourceNode` antijoin
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Labels: no-change-note-required, Ruby

#9234 JS: API graph support for accessors (and classes members)
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/test/ApiGraphs/accessors/VerifyAssertions.expected
  javascript/ql/test/ApiGraphs/accessors/VerifyAssertions.ql
  javascript/ql/test/ApiGraphs/accessors/index.js
Labels: JS, no-change-note-required

#9268 Swift: Extend AST classes and add control-flow library
  config/identical-files.json
  swift/ql/lib/codeql/swift/controlflow/BasicBlocks.qll
  swift/ql/lib/codeql/swift/controlflow/CfgNodes.qll
  swift/ql/lib/codeql/swift/controlflow/ControlFlowGraph.qll
  swift/ql/lib/codeql/swift/controlflow/internal/Completion.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImplShared.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImplSpecific.qll
  swift/ql/lib/codeql/swift/controlflow/internal/PrintCFG.ql
  swift/ql/lib/codeql/swift/controlflow/internal/Scope.qll
  swift/ql/lib/codeql/swift/controlflow/internal/Splitting.qll
  swift/ql/lib/codeql/swift/elements/Element.qll
  swift/ql/lib/codeql/swift/elements/expr/ApplyExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/AutoClosureExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/BinaryExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/ExplicitCastExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/Expr.qll
  swift/ql/lib/codeql/swift/elements/expr/IdentityExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/IfExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/ImplicitConversionExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/LogicalOperation.qll
  swift/ql/lib/codeql/swift/elements/expr/OneWayExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/PrefixUnaryExpr.qll
  swift/ql/lib/codeql/swift/elements/pattern/ParenPattern.qll
  swift/ql/lib/codeql/swift/elements/pattern/TuplePattern.qll
  swift/ql/lib/codeql/swift/elements/stmt/BraceStmt.qll
  swift/ql/lib/codeql/swift/elements/stmt/CaseStmt.qll
  swift/ql/lib/codeql/swift/elements/stmt/ConditionElement.qll
  swift/ql/lib/codeql/swift/elements/stmt/DoCatchStmt.qll
  swift/ql/lib/codeql/swift/elements/stmt/IfStmt.qll
  swift/ql/lib/codeql/swift/elements/stmt/StmtCondition.qll
  swift/ql/lib/codeql/swift/elements/stmt/SwitchStmt.qll
  swift/ql/lib/swift.qll
  swift/ql/test/extractor-tests/statements/ConditionElements.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.ql
  swift/ql/test/library-tests/controlflow/graph/cfg.swift
Labels: no-change-note-required, Swift

#9261 JS: remove support for passport in the session-fixation query
  javascript/ql/src/Security/CWE-384/SessionFixation.ql
  javascript/ql/test/query-tests/Security/CWE-384/SessionFixation.expected
  javascript/ql/test/query-tests/Security/CWE-384/tst.js
Labels: JS, no-change-note-required

#9243 Docs: Update references to github/codeql-go
  .github/workflows/query-list.yml
  README.md
  docs/codeql/codeql-cli/about-ql-packs.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-for-visual-studio-code/exploring-the-structure-of-your-source-code.rst
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
  docs/codeql/codeql-language-guides/modeling-data-flow-in-go-libraries.rst
  docs/codeql/query-help/go.rst
  docs/codeql/reusables/go-further-reading.rst
  docs/codeql/writing-codeql-queries/about-codeql-queries.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
  go/CONTRIBUTING.md
  go/README.md
  go/docs/language/learn-ql/go/library-modeling-go.rst
Labels: documentation, ready-for-doc-review, Go

#8730 C++: Better join order for reachesWithoutAssignment.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowVar.qll
Labels: C++, no-change-note-required

#9274 Swift: Extract semantics and accessor kinds
  swift/codegen/schema.yml
  swift/extractor/visitors/DeclVisitor.h
  swift/extractor/visitors/ExprVisitor.h
  swift/ql/lib/codeql/swift/generated/decl/AbstractStorageDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/AccessorDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/SubscriptDecl.qll
  swift/ql/lib/codeql/swift/generated/expr/DeclRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/LookupExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/MemberRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/SubscriptExpr.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/declarations/accessor.expected
  swift/ql/test/extractor-tests/declarations/accessor.ql
  swift/ql/test/extractor-tests/declarations/all.expected
  swift/ql/test/extractor-tests/declarations/func.expected
  swift/ql/test/extractor-tests/declarations/func_body.expected
  swift/ql/test/extractor-tests/declarations/func_params.expected
  swift/ql/test/extractor-tests/declarations/test.swift
  swift/ql/test/extractor-tests/expressions/all.expected
  swift/ql/test/extractor-tests/expressions/expressions.swift
  swift/ql/test/extractor-tests/expressions/semantics.expected
  swift/ql/test/extractor-tests/expressions/semantics.ql
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
Labels: no-change-note-required, Swift

#9269 Kotlin: Fix CFG
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
  java/ql/test/kotlin/library-tests/controlflow/basic/bbStrictDominance.expected
  java/ql/test/kotlin/library-tests/controlflow/basic/bbSuccessor.expected
  java/ql/test/kotlin/library-tests/controlflow/basic/getASuccessor.expected
  java/ql/test/kotlin/library-tests/controlflow/basic/strictPostDominance.expected
Labels: Java, no-change-note-required, Kotlin

#9281 JS: various QL-for-QL fixes
  javascript/ql/lib/change-notes/2022-05-24-isLibraryFile.md
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/filters/ClassifyFiles.qll
  javascript/ql/lib/semmle/javascript/frameworks/ClosureLibrary.qll
  javascript/ql/lib/semmle/javascript/frameworks/Handlebars.qll
  javascript/ql/lib/semmle/javascript/frameworks/History.qll
  javascript/ql/lib/semmle/javascript/frameworks/UriLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ExceptionXssCustomizations.qll
  javascript/ql/src/Expressions/StringInsteadOfRegex.ql
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
  javascript/ql/src/experimental/Security/CWE-094/UntrustedCheckout.ql
  javascript/ql/test/ApiGraphs/VerifyAssertions.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
Labels: JS, documentation

#9280 Kotlin: Fix missing kotlin to java property mapping
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/java-map-methods/test.expected
  java/ql/test/kotlin/library-tests/java-map-methods/test.kt
  java/ql/test/kotlin/library-tests/java-map-methods/test.ql
Labels: Java

#9206 Ruby: flow through instance variables
  ruby/ql/lib/change-notes/2022-05-23-flow-through-instance-variables.md
  ruby/ql/lib/codeql/ruby/ast/Variable.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/AstDesugar.expected
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/global/Flow.ql
  ruby/ql/test/library-tests/dataflow/global/instance_variables.rb
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
  ruby/ql/test/library-tests/variables/ssa.expected
  ruby/ql/test/library-tests/variables/varaccess.expected
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
Labels: documentation, Ruby

#8942 Ruby: Data-flow through hashes
  ruby/ql/lib/change-notes/2022-05-19-hashes-data-flow.md
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/array-flow/array_flow.rb
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.ql
  ruby/ql/test/library-tests/dataflow/hash-flow/hash_flow.rb
  ruby/ql/test/library-tests/dataflow/params/params-flow.expected
  ruby/ql/test/library-tests/dataflow/params/params_flow.rb
  ruby/ql/test/library-tests/dataflow/string-flow/string-flow.expected
  ruby/ql/test/query-tests/security/cwe-020/IncompleteHostnameRegExp/IncompleteHostnameRegExp.expected
Labels: documentation, Ruby

#9024 Data flow: Introduce `ContentDataFlow.qll`
  config/identical-files.json
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ContentDataFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  csharp/ql/test/library-tests/dataflow/content/ContentFlow.cs
  csharp/ql/test/library-tests/dataflow/content/ContentFlow.expected
  csharp/ql/test/library-tests/dataflow/content/ContentFlow.ql
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#9263 Kotlin: Add support for versions 1.5.0, 1.5.10, and 1.5.21
  java/kotlin-extractor/build.gradle
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Descriptors.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/FileEntry.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Functions.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Types.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/Descriptors.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/FileEntry.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/Functions.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/Types.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_21/Descriptors.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_21/FileEntry.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_21/Functions.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_21/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_21/Types.kt
Labels: Java

#9293 C++: Fix missing closing quote in `cpp/potential-buffer-overflow` qldoc
  cpp/ql/src/Likely Bugs/Memory Management/PotentialBufferOverflow.ql
Labels: C++, no-change-note-required

#9270 C#: Summarized callable
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/Language Abuse/ForeachCapture.ql
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/test/library-tests/dataflow/external-models/steps.ql
  java/ql/test/library-tests/dataflow/local-additional-taint/localAdditionalTaintStep.ql
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
Labels: C#, Java, no-change-note-required, Ruby

#9292 Ruby: rename CfgScope::Range_ to CfgScopeImpl
  ruby/ql/lib/codeql/ruby/controlflow/ControlFlowGraph.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplSpecific.qll
Labels: no-change-note-required, Ruby

#9290 Kotlin: Add support for the 1.7 RC
  java/kotlin-extractor/build.gradle
  java/kotlin-extractor/build.py
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/kotlin-extractor/src/main/kotlin/utils/TypeSubstitution.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_4_32/withHasQuestionMark.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/withHasQuestionMark.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/withHasQuestionMark.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_21/withHasQuestionMark.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_31/withHasQuestionMark.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_10/withHasQuestionMark.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_20/withHasQuestionMark.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0-RC/Descriptors.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0-RC/FileEntry.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0-RC/Functions.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0-RC/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0-RC/Types.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0-RC/withHasQuestionMark.kt
Labels: Java, Kotlin

#9275 Swift: Add shared dataflow library
  config/identical-files.json
  swift/ql/lib/codeql/swift/dataflow/DataFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplConsistency.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPublic.qll
  swift/ql/lib/codeql/swift/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/tainttracking1/TaintTrackingParameter.qll
Labels: no-change-note-required, Swift

#9315 Swift: Sync changes to DataFlowImplCommon from PR #9024.
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplCommon.qll
Labels: no-change-note-required, Swift

#9324 Data flow: Fix bad join in `prohibitsUseUseFlow`
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, no-change-note-required, Ruby

#9288 JS: Remove Buffer.from sink from js/resource-exhaustion
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/src/change-notes/2022-05-24-resource-exhaustion-no-buffer.from.md
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/ResourceExhaustion.expected
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/resource-exhaustion.js
Labels: JS, documentation, JS:changes-sources-or-sinks

#9330 Ruby: fix spelling errors
  ruby/ql/lib/codeql/ruby/ast/Parameter.qll
  ruby/ql/lib/codeql/ruby/ast/Variable.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Parameter.qll
  ruby/ql/src/queries/security/cwe-116/IncompleteSanitization.qhelp
  ruby/ql/src/queries/security/cwe-116/IncompleteSanitization.ql
Labels: documentation, no-change-note-required, Ruby

#9333 Swift: local dataflow
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplSpecific.qll
  swift/ql/lib/codeql/swift/elements/decl/VarDecl.qll
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.ql
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Labels: no-change-note-required, Swift

#9334 Ruby: Data flow for hash-splat expressions in hash literals
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash_flow.rb
Labels: no-change-note-required, Ruby

#9329 Swift: Fixups for #9291
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowElements.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
Labels: no-change-note-required, Swift

#9331 Kotlin: use the same mtimes as Java
  java/kotlin-extractor/src/main/java/com/semmle/extractor/java/OdasaOutput.java
Labels: Java

#9287 Ruby: flow through getters/setters
  ruby/ql/lib/codeql/ruby/ast/Call.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/global/instance_variables.rb
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
  ruby/ql/test/library-tests/dataflow/summaries/summaries.rb
Labels: no-change-note-required, Ruby

#9340 C++: Improve cpp/linux-kernel-no-check-before-unsafe-put-user
  cpp/ql/src/experimental/Security/CWE/CWE-020/NoCheckBeforeUnsafePutUser.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-020/NoCheckBeforeUnsafePutUser/NoCheckBeforeUnsafePutUser.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-020/NoCheckBeforeUnsafePutUser/test.cpp
Labels: C++

#9350 Docs: Note that Gradle builds should use `--no-daemon`
  docs/codeql/codeql-cli/creating-codeql-databases.rst
Labels: documentation

#9341 Ruby: Make `ActiveRecordInstance` public and fix some misidentifications
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/test/library-tests/frameworks/ActiveRecord.expected
  ruby/ql/test/library-tests/frameworks/ActiveRecord.ql
Labels: no-change-note-required, Ruby

#8845 Ruby: Add partial support for working with RBI (Ruby Interface) files
  ruby/ql/lib/codeql/ruby/experimental/Rbi.qll
  ruby/ql/test/library-tests/experimental/Rbi.expected
  ruby/ql/test/library-tests/experimental/Rbi.ql
  ruby/ql/test/library-tests/experimental/test_types.rb
Labels: no-change-note-required, Ruby

#9353 Swift: Extract `isThrowing` and `isAsync`
  swift/codegen/schema.yml
  swift/extractor/visitors/TypeVisitor.h
  swift/ql/lib/codeql/swift/generated/type/AnyFunctionType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/types/ThrowingAndAsync.expected
  swift/ql/test/extractor-tests/types/ThrowingAndAsync.ql
  swift/ql/test/extractor-tests/types/Types.expected
  swift/ql/test/extractor-tests/types/types.swift
Labels: no-change-note-required, Swift

#9220 Associate certain companion object fields with the parent class
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Java

#9357 Kotlin: Disambiguate the names and trap labels of backing fields of extension properties
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/clashing-extension-fields/test.expected
  java/ql/test/kotlin/library-tests/clashing-extension-fields/test.kt
  java/ql/test/kotlin/library-tests/clashing-extension-fields/test.ql
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/delegatedProperties.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
Labels: Java

#9235 JS: Update the extractor to use TypeScript 4.7
  docs/codeql/support/reusables/versions-compilers.rst
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/lib/typescript/yarn.lock
  javascript/extractor/src/com/semmle/js/dependencies/Fetcher.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/ql/lib/change-notes/2022-05-24-typescript-4-7.md
  javascript/ql/lib/semmle/javascript/TypeScript.qll
  javascript/ql/test/library-tests/TypeScript/Types/printAst.expected
  javascript/ql/test/library-tests/TypeScript/Types/tests.expected
  javascript/ql/test/library-tests/TypeScript/Types/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/Types/tst.ts
  javascript/ql/test/library-tests/TypeScript/Types/tstModuleCJS.cts
  javascript/ql/test/library-tests/TypeScript/Types/tstModuleES.mts
  javascript/ql/test/library-tests/TypeScript/Types/tstSuffixA.ts
  javascript/ql/test/library-tests/TypeScript/Types/tstSuffixB.ios.ts
  javascript/ql/test/library-tests/TypeScript/Types/tstSuffixB.ts
  javascript/ql/test/query-tests/Declarations/UnusedVariable/UnusedVariable.expected
  javascript/ql/test/query-tests/Declarations/UnusedVariable/interTypes.ts
Labels: JS, documentation

#9348 JS: use syntactically correct JS in poly-redos example
  javascript/ql/src/Performance/PolynomialReDoS.qhelp
Labels: JS, documentation, no-change-note-required
