Repository github/codeql, pull requests merged in 2022-12, with the labels that each got.

#11511 Rename predicates to fit style guide
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/ATMConfig.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointCharacteristics.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointDataTraining.qll
  javascript/ql/experimental/adaptivethreatmodeling/src/NosqlInjectionATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/SqlInjectionATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/TaintedPathATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/XssATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/EndpointFeatures.ql
Labels: ATM

#11480 Python: Add taint-sinks meta query
  python/ql/src/meta/alerts/TaintSinks.ql
  python/ql/src/meta/analysis-quality/CallGraph.ql
Labels: Python, no-change-note-required

#11508 Swift: add `-merge-modules` to `frontend-invocations` test
  swift/integration-tests/.gitignore
  swift/integration-tests/posix-only/frontend-invocations/F1.swift
  swift/integration-tests/posix-only/frontend-invocations/F2.swift
  swift/integration-tests/posix-only/frontend-invocations/Files.expected
  swift/integration-tests/posix-only/frontend-invocations/Makefile
  swift/integration-tests/posix-only/frontend-invocations/build.sh
  swift/integration-tests/posix-only/frontend-invocations/test.py
Labels: Swift

#11437 Kotlin: Enable java/non-serializable-field for Kotlin
  java/ql/src/Likely Bugs/Serialization/NonSerializableField.ql
  java/ql/src/change-notes/2022-11-25-NonSerializableField-kotlin.md
Labels: documentation, Java

#11500 Swift: remove patches from the extractor
  misc/bazel/workspace.bzl
  swift/extractor/infra/SwiftDispatcher.h
  swift/third_party/swift-llvm-support/patches/remove_getFallthrougDest_assert.patch
Labels: Swift

#11524 Swift: remove obsolete file
  swift/ql/lib/codeql/swift/elements/expr/ArrowExpr.qll
Labels: Swift

#11518 Python: Fix `py/meta/points-to-call-graph`
  python/ql/src/meta/analysis-quality/CallGraph.ql
Labels: Python, no-change-note-required

#11268 Enable accelerated go-extractor opt-in using 'go list -deps'
  go/extractor/extractor.go
  go/extractor/util/util.go
Labels: Go

#11486 ATM: Boost XssThroughDOM
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/XssThroughDomATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/DebugResultInclusion.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointDataTraining.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointMapping.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/Queries.qll
  javascript/ql/experimental/adaptivethreatmodeling/src/XssThroughDomATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/EndpointFeatures.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/ExtractEndpointDataTraining.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/FilteredTruePositives.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/FilteredTruePositives.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataTraining.expected
Labels: ATM

#11520 Swift: add xcode integration test
  swift/integration-tests/.gitignore
  swift/integration-tests/osx-only/hello-xcode/Files.expected
  swift/integration-tests/osx-only/hello-xcode/Files.ql
  swift/integration-tests/osx-only/hello-xcode/codeql-swift-autobuild-test.xcodeproj/project.pbxproj
  swift/integration-tests/osx-only/hello-xcode/codeql-swift-autobuild-test/AppDelegate.swift
  swift/integration-tests/osx-only/hello-xcode/test.py
Labels: Swift

#11513 JS: Remove MkAsyncFunctionResult
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
Labels: JS, no-change-note-required

#11429 Swift: make mapping from swift types to tags explicit
  swift/extractor/infra/CheckTypeMapping.cpp
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/infra/SwiftTagTraits.h
  swift/extractor/translators/DeclTranslator.h
  swift/extractor/translators/TranslatorBase.h
  swift/extractor/trap/TrapTagTraits.h
Labels: Swift

#11525 Add go.work file
  go.work
Labels: no-change-note-required

#11540 Java: fix syntax error in path-injection example fix
  java/ql/src/Security/CWE/CWE-022/TaintedPath.java
Labels: Java

#11523 Swift: resolve symlinks conditionally
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/infra/Path.cpp
  swift/extractor/infra/Path.h
  swift/extractor/infra/SwiftLocationExtractor.cpp
  swift/integration-tests/posix-only/symlinks/.gitignore
  swift/integration-tests/posix-only/symlinks/Files.expected
  swift/integration-tests/posix-only/symlinks/Files.ql
  swift/integration-tests/posix-only/symlinks/main.swift
  swift/integration-tests/posix-only/symlinks/preserve/Package.swift
  swift/integration-tests/posix-only/symlinks/preserve/Sources/.gitkeep
  swift/integration-tests/posix-only/symlinks/resolve/Package.swift
  swift/integration-tests/posix-only/symlinks/resolve/Sources/.gitkeep
  swift/integration-tests/posix-only/symlinks/test.py
Labels: Swift

#11499 Kotlin: Migrate standard library models to data extensions.
  csharp/ql/src/utils/modelconverter/ExtractNegativeSummaries.ql
  java/ql/lib/ext/generated/kotlinstdlib.model.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/generated.qll
  java/ql/lib/semmle/code/java/frameworks/kotlin/NegativeStdLibGenerated.qll
  java/ql/lib/semmle/code/java/frameworks/kotlin/StdLibGenerated.qll
  java/ql/src/utils/modelconverter/ExtractNegativeSummaries.ql
  java/ql/test/library-tests/dataflow/external-models/negativesummaries.expected
  java/ql/test/library-tests/dataflow/external-models/negativesummaries.ql
  misc/scripts/models-as-data/convert_extensions.py
  misc/scripts/models-as-data/generate_flow_model_extensions.py
  misc/scripts/models-as-data/helpers.py
Labels: C#, Java, no-change-note-required

#11537 C++: Change iterator models
  cpp/ql/lib/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/Iterator.qll
Labels: C++, no-change-note-required

#11547 fix: use WHATWG URL for JS examples
  javascript/ql/src/Security/CWE-918/examples/RequestForgeryBad.js
  javascript/ql/src/Security/CWE-918/examples/RequestForgeryGood.js
Labels: JS

#11472 JS: make the JS autobuilder consistent with Ruby when no JS code was detected
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
Labels: JS

#11503 LGTM deprecation: a few more references missed in earlier PRs
  docs/codeql/codeql-language-guides/codeql-library-for-typescript.rst
  docs/codeql/codeql-language-guides/navigating-the-call-graph.rst
  docs/codeql/codeql-language-guides/using-flow-labels-for-precise-data-flow-analysis.rst
  docs/codeql/codeql-language-guides/using-type-tracking-for-api-modeling.rst
  docs/codeql/codeql-language-guides/working-with-source-locations.rst
Labels: documentation

#11487 Java/C#: add SupportedExternalApis telemetry query
  csharp/ql/src/Telemetry/SupportedExternalApis.ql
  csharp/ql/src/change-notes/2022-12-01-supported-external-apis-query.md
  csharp/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.cs
  csharp/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.expected
  csharp/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.qlref
  csharp/ql/test/query-tests/Telemetry/SupportedExternalApis/options
  java/ql/src/Telemetry/SupportedExternalApis.ql
  java/ql/src/change-notes/2022-12-01-supported-external-apis-query.md
  java/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.expected
  java/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.java
  java/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.qlref
Labels: C#, documentation, Java

#11532 ATM: Test for endpoints scored at inference time
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/ATMConfig.qll
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/ExtractEndpointDataInference.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/ExtractEndpointDataInference.ql
Labels: ATM

#11468 LGTM deprecation: Update basic queries to use VS Code
  docs/codeql/codeql-language-guides/basic-query-for-cpp-code.rst
  docs/codeql/codeql-language-guides/basic-query-for-csharp-code.rst
  docs/codeql/codeql-language-guides/basic-query-for-go-code.rst
  docs/codeql/codeql-language-guides/basic-query-for-java-code.rst
  docs/codeql/codeql-language-guides/basic-query-for-javascript-code.rst
  docs/codeql/codeql-language-guides/basic-query-for-python-code.rst
  docs/codeql/codeql-language-guides/basic-query-for-ruby-code.rst
  docs/codeql/images/codeql-for-visual-studio-code/add-codeql-db-github.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-cpp-query-results-1.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-cpp-query-results-2.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-csharp-query-results-1.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-csharp-query-results-2.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-go-query-results-1.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-go-query-results-2.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-java-query-results-1.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-java-query-results-2.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-js-query-results-1.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-js-query-results-2.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-js-query-results-3.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-python-query-results-1.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-python-query-results-2.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-ruby-query-results-1.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-ruby-query-results-2.png
  docs/codeql/images/codeql-for-visual-studio-code/codeql-extension-icon.png
  docs/codeql/images/codeql-for-visual-studio-code/database-selected.png
  docs/codeql/images/codeql-for-visual-studio-code/quick-query-tab-cpp.png
  docs/codeql/images/codeql-for-visual-studio-code/quick-query-tab-csharp.png
  docs/codeql/images/codeql-for-visual-studio-code/quick-query-tab-go.png
  docs/codeql/images/codeql-for-visual-studio-code/quick-query-tab-java.png
  docs/codeql/images/codeql-for-visual-studio-code/quick-query-tab-js.png
  docs/codeql/images/codeql-for-visual-studio-code/quick-query-tab-python.png
  docs/codeql/images/codeql-for-visual-studio-code/quick-query-tab-ruby.png
  docs/codeql/reusables/vs-code-basic-instructions/find-database.rst
  docs/codeql/reusables/vs-code-basic-instructions/note-store-quick-query.rst
  docs/codeql/reusables/vs-code-basic-instructions/run-quick-query-1.rst
  docs/codeql/reusables/vs-code-basic-instructions/run-quick-query-2.rst
  docs/codeql/reusables/vs-code-basic-instructions/setup-to-run-queries.rst
Labels: documentation

#11253 Dynamic: Merge package and type columns
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  javascript/ql/lib/semmle/javascript/frameworks/minimongo/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/minimongo/model.json
  javascript/ql/lib/semmle/javascript/frameworks/mongodb/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/mongodb/model.json
  javascript/ql/lib/semmle/javascript/frameworks/mssql/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/mssql/model.json
  javascript/ql/lib/semmle/javascript/frameworks/mysql/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/mysql/model.json
  javascript/ql/lib/semmle/javascript/frameworks/pg/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/pg/model.json
  javascript/ql/lib/semmle/javascript/frameworks/sequelize/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/sequelize/model.json
  javascript/ql/lib/semmle/javascript/frameworks/spanner/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/spanner/model.json
  javascript/ql/lib/semmle/javascript/frameworks/sqlite3/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/sqlite3/model.json
  javascript/ql/test/ApiGraphs/typed/NodeOfType.expected
  javascript/ql/test/library-tests/frameworks/data/test.expected
  javascript/ql/test/library-tests/frameworks/data/test.ql
  javascript/ql/test/library-tests/frameworks/data/warnings.expected
  javascript/ql/test/library-tests/frameworks/data/warnings.ql
  python/ql/lib/semmle/python/frameworks/Asyncpg.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModels.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModelsSpecific.qll
  python/ql/test/library-tests/frameworks/data/test.ql
  python/ql/test/library-tests/frameworks/data/warnings.expected
  python/ql/test/library-tests/frameworks/data/warnings.ql
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionDispatch.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveStorage.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/lib/codeql/ruby/frameworks/Json.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Regexp.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/ModelsAsData.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsSpecific.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Pathname.qll
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
  ruby/ql/test/library-tests/frameworks/ActionDispatch.ql
  ruby/ql/test/library-tests/frameworks/pathname/Pathname.expected
Labels: JS, Python, no-change-note-required, Ruby

#11560 CI: Change `--ram` value from 52G to 50G in `codeql` tests
  .github/workflows/csharp-qltest.yml
  .github/workflows/js-ml-tests.yml
  .github/workflows/ruby-qltest.yml
  swift/actions/run-ql-tests/action.yml
Labels: C#, JS, no-change-note-required, Ruby, Swift

#11461 Ruby: At most one hash-splat `ParameterNode` per callable
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#11559 Swift: always upload integration test logs
  swift/actions/run-integration-tests/action.yml
Labels: Swift

#11514 Swift: Fix for MaD with generics
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/elements/decl/IterableDeclContext.qll
  swift/ql/lib/codeql/swift/elements/decl/NominalTypeDecl.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.ql
  swift/ql/test/library-tests/dataflow/flowsources/generics.swift
Labels: Swift

#11248 JS: use the shared regex pack
  javascript/ql/lib/change-notes/2022-10-31-shared-redos-pack.md
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/Regexp.qll
  javascript/ql/lib/semmle/javascript/security/BadTagFilterQuery.qll
  javascript/ql/lib/semmle/javascript/security/IncompleteMultiCharacterSanitizationSpecific.qll
  javascript/ql/lib/semmle/javascript/security/OverlyLargeRangeQuery.qll
  javascript/ql/lib/semmle/javascript/security/performance/ExponentialBackTracking.qll
  javascript/ql/lib/semmle/javascript/security/performance/PolynomialReDoSCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/lib/semmle/javascript/security/performance/SuperlinearBackTracking.qll
  javascript/ql/lib/semmle/javascript/security/regexp/ExponentialBackTracking.qll
  javascript/ql/lib/semmle/javascript/security/regexp/NfaUtils.qll
  javascript/ql/lib/semmle/javascript/security/regexp/NfaUtilsSpecific.qll
  javascript/ql/lib/semmle/javascript/security/regexp/PolynomialReDoSCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/regexp/RegExpTreeView.qll
  javascript/ql/lib/semmle/javascript/security/regexp/RegexpMatching.qll
  javascript/ql/lib/semmle/javascript/security/regexp/SuperlinearBackTracking.qll
  javascript/ql/src/Performance/PolynomialReDoS.ql
  javascript/ql/src/Performance/ReDoS.ql
  javascript/ql/src/Security/CWE-020/OverlyLargeRange.ql
  javascript/ql/src/Security/CWE-116/BadTagFilter.ql
  javascript/ql/src/Security/CWE-178/CaseSensitiveMiddlewarePath.ql
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/PolynomialBackTracking.ql
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/ReDoS.expected
Labels: JS, documentation

#11552 Kotlin: Don't add name mangling to top-level internal functions
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/java_and_kotlin_internal/Java.java
  java/ql/test/kotlin/library-tests/java_and_kotlin_internal/Kotlin.kt
  java/ql/test/kotlin/library-tests/java_and_kotlin_internal/visibility.expected
Labels: Kotlin

#11544 Docs: rewrite "defining the results of a query"
  docs/codeql/images/ql-select-statement-basic.png
  docs/codeql/images/ql-select-statement-class-name.png
  docs/codeql/images/ql-select-statement-filename.png
  docs/codeql/images/ql-select-statement-link.png
  docs/codeql/images/ql-select-statement-similarity.png
  docs/codeql/writing-codeql-queries/defining-the-results-of-a-query.rst
Labels: documentation, ready-for-doc-review

#11477 Ruby: Rework call-context sensitivity logic
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call_sensitivity.rb
Labels: no-change-note-required, Ruby

#11527 Java/C#: Delete old model generator scripts and update Java model re-generator script.
  .github/workflows/mad_modelDiff.yml
  .github/workflows/mad_regenerate-models.yml
  csharp/ql/src/utils/model-generator/GenerateFlowModelExtensions.py
  java/ql/src/utils/model-generator/GenerateFlowModelExtensions.py
  java/ql/src/utils/model-generator/RegenerateModels.py
  misc/scripts/models-as-data/generate_flow_model.py
  misc/scripts/models-as-data/generate_flow_model_extensions.py
Labels: C#, Java, no-change-note-required

#11564 Data flow: Add consistency checks for parameter positions
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplConsistency.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplConsistency.qll
  python/ql/test/experimental/dataflow/basic/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/calls/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/coverage/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/fieldflow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/global-flow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/match/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/pep_328/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/regression/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/strange-essaflow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/basic/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/commonSanitizer/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/unwanted-global-flow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/typetracking/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.expected
  python/ql/test/library-tests/ApiGraphs/py3/dataflow-consistency.expected
  python/ql/test/library-tests/frameworks/django-orm/dataflow-consistency.expected
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplConsistency.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplConsistency.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby, Swift, DataFlow Library

#11577 Java: Add Model Difference workflow on model generator changes.
  .github/workflows/mad_modelDiff.yml
Labels: no-change-note-required

#11521 Shared: Add a qlpack with a parameterized module defining type-trackers.
  shared/typetracking/change-notes/2022-12-01-initial-version.md
  shared/typetracking/codeql/typetracking/TypeTracking.qll
  shared/typetracking/qlpack.yml
Labels: documentation

#11446 Swift: Add path injection query
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/FilePath.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsUrl.qll
  swift/ql/lib/codeql/swift/security/PathInjection.qll
  swift/ql/lib/codeql/swift/security/PathInjectionQuery.qll
  swift/ql/src/queries/Security/CWE-022/PathInjection.qhelp
  swift/ql/src/queries/Security/CWE-022/PathInjection.ql
  swift/ql/src/queries/Security/CWE-022/PathInjectionBad.swift
  swift/ql/src/queries/Security/CWE-022/PathInjectionGood.swift
  swift/ql/test/query-tests/Security/CWE-022/PathInjectionTest.expected
  swift/ql/test/query-tests/Security/CWE-022/PathInjectionTest.ql
  swift/ql/test/query-tests/Security/CWE-022/testPathInjection.swift
Labels: documentation, ready-for-doc-review, Swift

#11085 Use latest released bundle for QL-for-QL
  .github/actions/find-latest-bundle/action.yml
  .github/workflows/ql-for-ql-build.yml
Labels: QL-for-QL

#11493 Java: Replace ad-hoc SCC reduction with union-find.
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
Labels: Java, no-change-note-required

#11516 Java: Cleanup imports of `ExternalFlow`
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/lib/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/lib/semmle/code/java/frameworks/Flexjson.qll
  java/ql/lib/semmle/code/java/frameworks/Hibernate.qll
  java/ql/lib/semmle/code/java/frameworks/JaxWS.qll
  java/ql/lib/semmle/code/java/frameworks/Jdbc.qll
  java/ql/lib/semmle/code/java/frameworks/JoddJson.qll
  java/ql/lib/semmle/code/java/frameworks/MyBatis.qll
  java/ql/lib/semmle/code/java/frameworks/Regex.qll
  java/ql/lib/semmle/code/java/frameworks/SpringJdbc.qll
  java/ql/lib/semmle/code/java/frameworks/Stream.qll
  java/ql/lib/semmle/code/java/frameworks/android/Android.qll
  java/ql/lib/semmle/code/java/frameworks/android/ContentProviders.qll
  java/ql/lib/semmle/code/java/frameworks/android/SQLite.qll
  java/ql/lib/semmle/code/java/frameworks/android/SharedPreferences.qll
  java/ql/lib/semmle/code/java/frameworks/android/Slice.qll
  java/ql/lib/semmle/code/java/frameworks/apache/Collections.qll
  java/ql/lib/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/lib/semmle/code/java/frameworks/guava/Collections.qll
  java/ql/lib/semmle/code/java/frameworks/jOOQ.qll
  java/ql/lib/semmle/code/java/frameworks/jackson/JacksonSerializability.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/jsf/JSFRenderer.qll
  java/ql/lib/semmle/code/java/frameworks/ratpack/RatpackExec.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringHttp.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringWebClient.qll
  java/ql/lib/semmle/code/java/security/PartialPathTraversalQuery.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
  java/ql/lib/semmle/code/java/security/SpelInjection.qll
  java/ql/lib/semmle/code/java/security/UnsafeContentUriResolutionQuery.qll
  java/ql/src/experimental/Security/CWE/CWE-073/JFinalController.qll
  java/ql/src/experimental/semmle/code/java/frameworks/SpringResource.qll
  java/ql/src/utils/flowtestcasegenerator/FlowTestCaseSupportMethods.qll
  java/ql/test/kotlin/library-tests/dataflow/extensionMethod/test.ql
  java/ql/test/kotlin/library-tests/dataflow/foreach/test.ql
  java/ql/test/kotlin/library-tests/dataflow/func/test.ql
  java/ql/test/kotlin/library-tests/dataflow/notnullexpr/test.ql
  java/ql/test/kotlin/library-tests/dataflow/whenexpr/test.ql
  java/ql/test/library-tests/dataflow/callback-dispatch/test.ql
  java/ql/test/library-tests/dataflow/collections/containerflow.ql
Labels: Java, no-change-note-required, Kotlin

#11541 C++: Introduce a pre-SSA `DataFlow::Node` class
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
Labels: C++, no-change-note-required

#11435 C++: Rewrite `cpp/path-injection` to not use `DefaultTaintTracking`
  cpp/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-022/SAMATE/TaintedPath/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/stdlib.h
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/test.c
Labels: C++, no-change-note-required

#11504 Fix `mayHaveSideEffects` for `ReturnStmt`
  go/ql/lib/change-notes/2022-12-6-may-have-side-effects-return-stmt.md
  go/ql/lib/semmle/go/Stmt.qll
Labels: documentation, Go

#11551 ATM: Test for contradictory endpoint characteristics
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/ContradictoryEndpointCharacteristics.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/ContradictoryEndpointCharacteristics.ql
Labels: ATM

#11565 JS: handle rephined variable in access path
  javascript/ql/lib/semmle/javascript/dataflow/internal/AccessPaths.qll
  javascript/ql/test/library-tests/TaintTracking/refinement-sanitizer.js
Labels: JS, no-change-note-required

#11576 csharp: URI should be Uri in Owin.qll library.
  csharp/ql/lib/semmle/code/csharp/frameworks/microsoft/Owin.qll
  csharp/ql/src/change-notes/2022-12-05-owin-uri-fix.md
Labels: C#, documentation

#11288 Golang: add `rsync` as a program capable of arbitrary shell command execution
  go/ql/lib/change-notes/2022-11-17-rsync-argument-injection.md
  go/ql/lib/semmle/go/frameworks/SystemCommandExecutors.qll
  go/ql/test/query-tests/Security/CWE-078/ArgumentInjection.go
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
Labels: documentation, Go

#11550 Kotlin: Adapt PathSanitizer
  java/ql/lib/change-notes/2022-12-05-kotlin-path-sanitizer.md
  java/ql/lib/semmle/code/java/frameworks/kotlin/IO.qll
  java/ql/lib/semmle/code/java/frameworks/kotlin/Text.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
  java/ql/test/library-tests/pathsanitizer/Test.java
  java/ql/test/library-tests/pathsanitizer/TestKt.kt
  java/ql/test/library-tests/pathsanitizer/options
Labels: documentation, Java

#11549 Java: Support interprocedural setting of cookie security
  java/ql/lib/change-notes/2022-12-05-insecure-cookie-global-flow.md
  java/ql/src/Security/CWE/CWE-614/InsecureCookie.ql
  java/ql/test/query-tests/security/CWE-311/CWE-614/semmle/tests/Test.java
Labels: documentation, Java

#11434 C++: Deprecate `DefaultTaintTracking` and `TaintTrackingImpl`
  cpp/ql/lib/change-notes/2022-11-25-deprecate-default-taint-tracking.md
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DefaultTaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/security/TaintTrackingImpl.qll
  cpp/ql/src/Security/CWE/CWE-079/CgiXss.ql
  cpp/ql/src/Security/CWE/CWE-089/SqlTainted.ql
  cpp/ql/src/Security/CWE/CWE-114/UncontrolledProcessOperation.ql
  cpp/ql/src/Security/CWE/CWE-120/UnboundedWrite.ql
  cpp/ql/src/Security/CWE/CWE-134/UncontrolledFormatString.ql
  cpp/ql/src/Security/CWE/CWE-134/UncontrolledFormatStringThroughGlobalVar.ql
  cpp/ql/src/Security/CWE/CWE-170/ImproperNullTerminationTainted.ql
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticTainted.ql
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticWithExtremeValues.ql
  cpp/ql/src/Security/CWE/CWE-190/IntegerOverflowTainted.ql
  cpp/ql/src/Security/CWE/CWE-290/AuthenticationBypass.ql
  cpp/ql/src/Security/CWE/CWE-807/TaintedCondition.ql
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/globals/global.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
Labels: C++, documentation

#11192 Share encryption key sizes between Java and Python
  config/identical-files.json
  java/ql/lib/semmle/code/java/security/InsufficientKeySize.qll
  java/ql/lib/semmle/code/java/security/internal/EncryptionKeySizes.qll
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/security/internal/EncryptionKeySizes.qll
  python/ql/src/Security/CWE-326/WeakCryptoKey.qhelp
  python/ql/src/change-notes/2022-11-29-ecc-min-secure-keysize.md
  python/ql/test/query-tests/Security/CWE-326-WeakCryptoKey/WeakCryptoKey.expected
  python/ql/test/query-tests/Security/CWE-326-WeakCryptoKey/weak_crypto.py
Labels: documentation, Java, Python

#11238 Java: Query for detecting enabling Javascript in Android WebSettings
  java/ql/src/Security/CWE/CWE-079/AndroidWebViewSettingsEnabledJavaScript.qhelp
  java/ql/src/Security/CWE/CWE-079/AndroidWebViewSettingsEnabledJavaScript.ql
  java/ql/src/Security/CWE/CWE-079/WebSettingsDisableJavascript.java
  java/ql/src/Security/CWE/CWE-079/WebSettingsEnableJavascript.java
  java/ql/src/change-notes/2022-11-12-websettings-setjavascript-enabled.md
  java/ql/test/query-tests/security/CWE-079/semmle/tests/SetJavascriptEnabled.java
  java/ql/test/query-tests/security/CWE-079/semmle/tests/WebViewSetEnabledJavaScript.expected
  java/ql/test/query-tests/security/CWE-079/semmle/tests/WebViewSetEnabledJavaScript.qlref
  java/ql/test/query-tests/security/CWE-079/semmle/tests/options
Labels: documentation, Java, ready-for-doc-review

#11510 Kotlin: stub trap .class files when extracting a class from Kotlin source
  java/kotlin-extractor/src/main/java/com/semmle/extractor/java/OdasaOutput.java
  java/kotlin-extractor/src/main/kotlin/ExternalDeclExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/ClassNames.kt
  java/ql/integration-tests/all-platforms/kotlin/kotlin_compiler_java_source/jlocs.expected
  java/ql/test/kotlin/library-tests/annotations/jvmName/test.kt
  java/ql/test/kotlin/library-tests/arrays-with-variances/takesArrayList.kt
  java/ql/test/kotlin/library-tests/extensions/extensions.kt
  java/ql/test/kotlin/library-tests/generics-location/locations.expected
  java/ql/test/kotlin/library-tests/instances/classes.expected
  java/ql/test/kotlin/library-tests/java_and_kotlin/Java.java
  java/ql/test/kotlin/library-tests/java_and_kotlin/Kotlin.kt
  java/ql/test/kotlin/library-tests/java_and_kotlin/test.expected
  java/ql/test/kotlin/library-tests/java_and_kotlin_internal/visibility.expected
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/test.kt
  java/ql/test/kotlin/library-tests/jvmoverloads_generics/test.kt
  java/ql/test/kotlin/library-tests/jvmstatic-annotation/PrintAst.expected
  java/ql/test/kotlin/library-tests/jvmstatic-annotation/test.kt
Labels: Java, Kotlin

#10747 Ruby: also treat included/prepended modules as subclasses
  ruby/ql/lib/change-notes/2022-11-28-subclass-calls.md
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/calls.rb
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
Labels: documentation, Ruby

#11517 Ruby: Include SSA "phi reads" in DataFlow::Node
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/Nodes.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/dataflow/local/UseUseExplosion.rb
Labels: no-change-note-required, Ruby

#11566 Swift: Hide `LValueType` in the main AST
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/elements/type/LValueType.qll
  swift/ql/test/extractor-tests/generated/expr/IdentityExpr/IdentityExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr.expected
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr_getType.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
Labels: Swift

#11591 C++: Model `secure_getenv` and `_wgetenv` as local flow sources
  cpp/ql/lib/change-notes/2022-12-08-support-getenv-variants.md
  cpp/ql/lib/semmle/code/cpp/models/implementations/Getenv.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/remote-flow-sink.ql
  cpp/ql/test/library-tests/dataflow/source-sink-tests/local-flow.expected
  cpp/ql/test/library-tests/dataflow/source-sink-tests/local-flow.ql
  cpp/ql/test/library-tests/dataflow/source-sink-tests/remote-flow.expected
  cpp/ql/test/library-tests/dataflow/source-sink-tests/remote-flow.ql
  cpp/ql/test/library-tests/dataflow/source-sink-tests/sources-and-sinks.cpp
Labels: C++, documentation

#10656 Python: Improve the PAM authentication bypass query
  python/ql/lib/change-notes/2022-11-17-py-pam-improve.md
  python/ql/lib/semmle/python/security/dataflow/PamAuthorizationCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/PamAuthorizationQuery.qll
  python/ql/src/Security/CWE-285/PamAuthorization.ql
  python/ql/test/query-tests/Security/CWE-285-PamAuthorization/PamAuthorization.expected
  python/ql/test/query-tests/Security/CWE-285-PamAuthorization/pam_test.py
Labels: documentation, Python, external-contribution

#11589 C#: nint/System.IntPtr and nuint/System.UIntPtr are indistinguishable…
  csharp/ql/test/library-tests/csharp11/NativeInt.cs
  csharp/ql/test/library-tests/csharp11/nativeInt.expected
  csharp/ql/test/library-tests/csharp11/nativeInt.ql
Labels: C#

#11593 C#: Pattern match Span<char> and ReadOnlySpan<char> against a constant string.
  csharp/ql/test/library-tests/csharp11/PatternMatchSpan.cs
  csharp/ql/test/library-tests/csharp11/patternMatchSpan.expected
  csharp/ql/test/library-tests/csharp11/patternMatchSpan.ql
Labels: C#

#11601 C++: Reintroduce `StdBasicStringIterator`
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdString.qll
Labels: C++, no-change-note-required

#11578 Java: Add MyBatis Sql Injection no @Param case
  java/ql/src/experimental/Security/CWE/CWE-089/MyBatisCommonLib.qll
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MyBatisAnnotationSqlInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MybatisSqlInjection.java
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MybatisSqlInjectionService.java
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/SqlInjectionMapper.java
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/SqlInjectionMapper.xml
Labels: Java

#11543 C++: Refactor `isDef` and `isUse` in preparation for iterator flow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
Labels: C++, no-change-note-required

#11608 Docs: Update README to mention Python 2 requirement
  docs/codeql/README.rst
Labels: documentation

#11621 Ruby: Add `SummarizedCallable::getParameter`
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: no-change-note-required, Ruby

#11574 Add a PR check to ensure query IDs are unique
  .github/workflows/check-query-ids.yml
  config/identical-files.json
  java/ql/src/experimental/Security/CWE/CWE-400/LocalThreadResourceAbuse.qhelp
  java/ql/src/experimental/Security/CWE/CWE-400/LocalThreadResourceAbuse.ql
  misc/scripts/check-query-ids.py
  python/ql/src/experimental/Security/CWE-022bis/TarSlipImprov.qhelp.disabled
  python/ql/src/experimental/Security/CWE-022bis/TarSlipImprov.ql
  python/ql/src/experimental/Security/CWE-079/ReflectedXSS.ql
Labels: documentation, Java, Python

#11617 Docs: Make river-crossing example comply with the CodeQL style guide
  docs/codeql/writing-codeql-queries/river-answer-1-path.ql
  docs/codeql/writing-codeql-queries/river-answer-2-abstract-class.ql
  docs/codeql/writing-codeql-queries/river-answer-3-datatypes.ql
Labels: documentation

#11597 Swift: Add taint reach to SummaryStats.ql.
  swift/ql/src/queries/Summary/SummaryStats.ql
Labels: no-change-note-required, Swift

#11596 C++: Performance fix for cpp/cleartext-storage-buffer
  cpp/ql/src/Security/CWE/CWE-311/CleartextBufferWrite.ql
Labels: C++, no-change-note-required

#11610 C++: Model `scanf` and `fscanf` as flow sources
  cpp/ql/lib/change-notes/2022-12-08-support-scanf-dataflow.md
  cpp/ql/lib/semmle/code/cpp/models/Models.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Scanf.qll
  cpp/ql/test/library-tests/dataflow/source-sink-tests/local-flow.ql
  cpp/ql/test/library-tests/dataflow/source-sink-tests/remote-flow.ql
  cpp/ql/test/library-tests/dataflow/source-sink-tests/sources-and-sinks.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
Labels: C++, depends on internal PR, documentation

#11622 Swift: fix extraction of sources from `..`
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/infra/Path.h
  swift/extractor/infra/SwiftLocationExtractor.cpp
  swift/extractor/infra/file/Path.cpp
  swift/extractor/infra/file/Path.h
  swift/integration-tests/posix-only/frontend-invocations/Files.expected
  swift/integration-tests/posix-only/frontend-invocations/G.swift
  swift/integration-tests/posix-only/frontend-invocations/build.sh
  swift/integration-tests/posix-only/frontend-invocations/dir/.empty
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/ast/PrintAst.ql
Labels: Swift

#11616 Kotlin: extract callable modality
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/exprs/funcExprs.expected
  java/ql/test/kotlin/library-tests/java_and_kotlin_internal/visibility.expected
  java/ql/test/kotlin/library-tests/methods/methods.expected
  java/ql/test/kotlin/library-tests/modifiers/modifiers.expected
Labels: Kotlin

#11567 JS: Move MaD models to data extensions
  config/identical-files.json
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/frameworks/ImportGeneratedModels.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsExtensions.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/model.yml
  javascript/ql/lib/semmle/javascript/frameworks/minimongo/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/minimongo/model.yml
  javascript/ql/lib/semmle/javascript/frameworks/mongodb/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/mongodb/model.yml
  javascript/ql/lib/semmle/javascript/frameworks/mssql/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/mssql/model.yml
  javascript/ql/lib/semmle/javascript/frameworks/mysql/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/mysql/model.yml
  javascript/ql/lib/semmle/javascript/frameworks/pg/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/pg/model.yml
  javascript/ql/lib/semmle/javascript/frameworks/sequelize/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/sequelize/model.yml
  javascript/ql/lib/semmle/javascript/frameworks/spanner/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/spanner/model.yml
  javascript/ql/lib/semmle/javascript/frameworks/sqlite3/Model.qll
  javascript/ql/lib/semmle/javascript/frameworks/sqlite3/model.yml
  python/ql/lib/qlpack.yml
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModels.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModelsExtensions.qll
  python/ql/lib/semmle/python/frameworks/data/internal/model.yml
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsExtensions.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/model.yml
  ruby/ql/lib/qlpack.yml
Labels: JS, Python, no-change-note-required, Ruby

#11632 Swift: Rename NSData.qll to NsData.qll
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsData.qll
Labels: Swift

#11633 C++: Accept dataflow consistency changes
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Labels: C++, no-change-note-required

#11588 Kotlin: Fix extraction of `$default` extension functions
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/lib/change-notes/2022-12-09-default-extension-methods.md
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/lib/semmle/code/java/Variable.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/PrintAst.expected
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/test.expected
  java/ql/test/kotlin/library-tests/methods/exprs.expected
  java/ql/test/kotlin/library-tests/methods/methods.expected
  java/ql/test/kotlin/library-tests/methods/methods.ql
  java/ql/test/kotlin/library-tests/methods/methods3.kt
  java/ql/test/kotlin/library-tests/methods/parameters.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/PrintAst.expected
  java/ql/test/kotlin/library-tests/reflection/PrintAst.expected
Labels: documentation, Java, Kotlin

#11602 Kotlin: Improve diagnostic limit message
  java/kotlin-extractor/src/main/kotlin/utils/Logger.kt
Labels: Kotlin

#11640 C++: Prevent an `Expr` from stepping to itself in IR dataflow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++, no-change-note-required

#11643 C++: Generalize the `ArgvSource` flow source
  cpp/ql/lib/change-notes/2022-12-09-generalize-argv-source.md
  cpp/ql/lib/semmle/code/cpp/security/FlowSources.qll
Labels: C++, documentation

#11645 C++: Better caching for IR-based use-use dataflow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++, no-change-note-required

#11644 C++: Make all flow source descriptions start with a lower case letter
  cpp/ql/lib/semmle/code/cpp/models/implementations/Fread.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/GetDelim.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Inet.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Recv.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Scanf.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Send.qll
  cpp/ql/src/Security/CWE/CWE-129/ImproperArrayIndexValidation.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
Labels: C++, no-change-note-required

#11625 Autoformat docs ql files
  docs/codeql/ql-training/query-examples/cpp/bad-overflow-guard-1.ql
  docs/codeql/ql-training/query-examples/cpp/bad-overflow-guard-2.ql
  docs/codeql/ql-training/query-examples/cpp/bad-overflow-guard-3.ql
  docs/codeql/ql-training/query-examples/cpp/control-flow-cpp-1.ql
  docs/codeql/ql-training/query-examples/cpp/control-flow-cpp-2.ql
  docs/codeql/ql-training/query-examples/cpp/control-flow-cpp-3.ql
  docs/codeql/ql-training/query-examples/cpp/control-flow-cpp-4.ql
  docs/codeql/ql-training/query-examples/cpp/control-flow-cpp-5.ql
  docs/codeql/ql-training/query-examples/cpp/data-flow-cpp-1.ql
  docs/codeql/ql-training/query-examples/cpp/data-flow-cpp-2.ql
  docs/codeql/ql-training/query-examples/cpp/empty-if-cpp-class.ql
  docs/codeql/ql-training/query-examples/cpp/empty-if-cpp-model.ql
  docs/codeql/ql-training/query-examples/cpp/empty-if-cpp-predicate.ql
  docs/codeql/ql-training/query-examples/cpp/empty-if-cpp.ql
  docs/codeql/ql-training/query-examples/cpp/global-data-flow-cpp-1.ql
  docs/codeql/ql-training/query-examples/cpp/snprintf-1.ql
  docs/codeql/ql-training/query-examples/java/data-flow-java-1.ql
  docs/codeql/ql-training/query-examples/java/data-flow-java-2.ql
  docs/codeql/ql-training/query-examples/java/empty-if-java-class.ql
  docs/codeql/ql-training/query-examples/java/empty-if-java-model.ql
  docs/codeql/ql-training/query-examples/java/empty-if-java-predicate.ql
  docs/codeql/ql-training/query-examples/java/empty-if-java.ql
  docs/codeql/ql-training/query-examples/java/global-data-flow-java-1.ql
  docs/codeql/ql-training/query-examples/java/query-injection-java-1.ql
  docs/codeql/ql-training/query-examples/java/query-injection-java-2.ql
  docs/codeql/ql-training/query-examples/java/query-injection-java-3.ql
  docs/codeql/writing-codeql-queries/river-answer-1-path.ql
  docs/codeql/writing-codeql-queries/river-answer-2-abstract-class.ql
  docs/codeql/writing-codeql-queries/river-answer-3-datatypes.ql
  docs/codeql/writing-codeql-queries/river-crossing-1.ql
Labels: documentation

#11654 Ruby: Ensure `Node::{toString,getLocation}` are computed in data flow stage
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
Labels: no-change-note-required, Ruby

#11366 Ruby: Add additional sinks to the `rb/kernel-open` query
  ruby/ql/lib/codeql/ruby/frameworks/Files.qll
  ruby/ql/lib/codeql/ruby/security/KernelOpenQuery.qll
  ruby/ql/src/change-notes/2022-11-22-kernel-open-sinks.md
  ruby/ql/src/queries/security/cwe-078/KernelOpen.inc.qhelp
  ruby/ql/src/queries/security/cwe-078/KernelOpen.ql
  ruby/ql/src/queries/security/cwe-078/NonConstantKernelOpen.ql
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/query-tests/security/cwe-078/KernelOpen/KernelOpen.expected
  ruby/ql/test/query-tests/security/cwe-078/KernelOpen/KernelOpen.rb
  ruby/ql/test/query-tests/security/cwe-078/NonConstantKernelOpen/NonConstantKernelOpen.expected
  ruby/ql/test/query-tests/security/cwe-078/NonConstantKernelOpen/NonConstantKernelOpen.rb
Labels: documentation, Ruby

#11241 Java: Query to detect Android Webview file access
  java/ql/lib/semmle/code/java/frameworks/android/WebView.qll
  java/ql/src/Security/CWE/CWE-200/AndroidWebViewSettingsFileAccess.qhelp
  java/ql/src/Security/CWE/CWE-200/AndroidWebViewSettingsFileAccess.ql
  java/ql/src/Security/CWE/CWE-200/AssetLoaderExample.java
  java/ql/src/Security/CWE/CWE-200/WebViewFileAccessSafe.java
  java/ql/src/Security/CWE/CWE-200/WebViewFileAccessUnsafe.java
  java/ql/src/change-notes/2022-11-12-android-webview-file-access.md
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewFileAccess.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewFileAccess.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewFileAccess.qlref
  java/ql/test/query-tests/security/CWE-200/semmle/tests/options
Labels: documentation, Java, ready-for-doc-review

#11555 Added two new CMDi sinks for python's stdlib
  python/ql/lib/change-notes/2022-12-03-new-stdlib-cmdi-sinks.md
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
Labels: documentation, Python

#11669 Swift: wrap extractor with shell script
  swift/BUILD.bazel
  swift/extractor/BUILD.bazel
  swift/extractor/extractor.sh
  swift/tools/qltest.sh
Labels: Swift

#9415 Add TCP and UDP socket client taint sources
  csharp/ql/lib/change-notes/2022-08-24-tcp-udp-sources.md
  csharp/ql/lib/ext/System.IO.model.yml
  csharp/ql/lib/ext/System.Net.model.yml
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/Remote.qll
Labels: C#, documentation

#11664 C++: Fix `cpp/alloca-in-loop` regressions with use-use dataflow
  cpp/ql/src/Likely Bugs/Memory Management/AllocaInLoop.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/AllocaInLoop/AllocaInLoop.expected
Labels: C++, no-change-note-required

#11672 JS: Add data extension sinks
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CommandInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/DomBasedXssCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ReflectedXssCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/RequestForgeryCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ServerSideUrlRedirectCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeDeserializationCustomizations.qll
  javascript/ql/test/library-tests/DataExtensions/Test.expected
  javascript/ql/test/library-tests/DataExtensions/Test.ql
  javascript/ql/test/library-tests/DataExtensions/connection.example.ts
  javascript/ql/test/library-tests/DataExtensions/connection.model.yml
  javascript/ql/test/library-tests/DataExtensions/execa.example.js
  javascript/ql/test/library-tests/DataExtensions/execa.model.yml
  javascript/ql/test/library-tests/DataExtensions/message.example.js
  javascript/ql/test/library-tests/DataExtensions/message.model.yml
  javascript/ql/test/qlpack.yml
Labels: JS, no-change-note-required

#11624 Java/C#: exclude parameterless constructors from `DataFlowTargetApi`
  csharp/ql/lib/semmle/code/csharp/Callable.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/test/utils/model-generator/dataflow/NoSummaries.cs
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/test/utils/model-generator/dataflow/CaptureNeutralModels.expected
Labels: C#, Java, no-change-note-required

#10865 Java: Add library support for activity-alias elements in AndroidManifest.qll
  java/ql/lib/change-notes/2022-10-17-android-activity-alias.md
  java/ql/lib/semmle/code/java/frameworks/android/Android.qll
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/test/library-tests/frameworks/android/activity-alias/AndroidManifest.xml
  java/ql/test/library-tests/frameworks/android/activity-alias/Example2Activity.java
  java/ql/test/library-tests/frameworks/android/activity-alias/ExampleActivity.java
  java/ql/test/library-tests/frameworks/android/activity-alias/TestActivityAlias.expected
  java/ql/test/library-tests/frameworks/android/activity-alias/TestActivityAlias.ql
  java/ql/test/library-tests/frameworks/android/activity-alias/TestActivityAliasExports.expected
  java/ql/test/library-tests/frameworks/android/activity-alias/TestActivityAliasExports.ql
  java/ql/test/library-tests/frameworks/android/activity-alias/options
Labels: documentation, Java

#11639 Swift: switch to bootstrapped Swift compiler
  misc/bazel/workspace.bzl
  swift/extractor/main.cpp
  swift/third_party/swift-llvm-support/BUILD.swift-prebuilt.bazel
Labels: Swift

#11599 Java/Kotlin: Update the diagnostic severity documentation
  java/ql/lib/semmle/code/java/Diagnostics.qll
Labels: Java, no-change-note-required

#11673 JS: Bump version numbers of ML-powered packs after 0.4.4 release
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: ATM

#11619 Java: Switch DispatchFlow to typetracking.
  java/ql/lib/qlpack.yml
  java/ql/lib/semmle/code/java/dispatch/DispatchFlow.qll
  shared/typetracking/codeql/typetracking/TypeTracking.qll
Labels: Java, no-change-note-required

#11662 Swift/C++: Use instanceof in more places
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticExprSpecific.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/SignAnalysisCommon.qll
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
  cpp/ql/lib/semmle/code/cpp/commons/Scanf.qll
  cpp/ql/src/JPL_C/LOC-4/Rule 23/MismatchedIfdefs.ql
  cpp/ql/test/query-tests/Metrics/Dependencies/TestPackage.qll
  swift/ql/lib/codeql/swift/elements/expr/ArithmeticOperation.qll
  swift/ql/lib/codeql/swift/elements/expr/LogicalOperation.qll
Labels: C++, no-change-note-required, Swift

#11668 Java: update `isJdkInternal`
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
Labels: Java, no-change-note-required

#11692 C++: Fix itemization in QLDoc
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++, no-change-note-required

#11696 go: fix bug in zip-slip example fix
  go/ql/src/Security/CWE-022/ZipSlipGood.go
Labels: Go

#11689 JS: Update MissingCsrfMiddleware after 'csurf' deprecation
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.qhelp
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
  javascript/ql/src/Security/CWE-352/examples/MissingCsrfMiddlewareBad.js
  javascript/ql/src/Security/CWE-352/examples/MissingCsrfMiddlewareGood.js
Labels: JS, documentation, no-change-note-required

#11658 C++: Flow through uncertain writes
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
  cpp/ql/test/library-tests/dataflow/source-sink-tests/sources-and-sinks.cpp
Labels: C++, no-change-note-required

#11687 C++: Make `cpp/path-injection` work with use-use dataflow
  cpp/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-022/SAMATE/TaintedPath/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/test.c
Labels: C++, no-change-note-required

#11698 Fix test to use `hasQualifiedName/2`
  go/ql/test/library-tests/semmle/go/Types/Method_hasQualifiedName2.expected
  go/ql/test/library-tests/semmle/go/Types/Method_hasQualifiedName2.ql
Labels: no-change-note-required, Go

#11623 Java/C#: exclude `FunctionalExpr`s from `DataFlowTargetApi`
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
Labels: C#, Java, no-change-note-required

#10663 Javascript: Improve Restify support and add new Spife support
  javascript/ql/lib/change-notes/2022-10-13-restify-framework-support-improvements.md
  javascript/ql/lib/change-notes/2022-10-13-spife-framework-support.md
  javascript/ql/lib/semmle/javascript/frameworks/HttpFrameworks.qll
  javascript/ql/lib/semmle/javascript/frameworks/Restify.qll
  javascript/ql/lib/semmle/javascript/frameworks/Spife.qll
  javascript/ql/lib/semmle/javascript/heuristics/AdditionalRouteHandlers.qll
  javascript/ql/test/library-tests/frameworks/HTTP/RemoteRequestInput.expected
  javascript/ql/test/library-tests/frameworks/NodeJSLib/tests.expected
  javascript/ql/test/library-tests/frameworks/Restify2/src/index.js
  javascript/ql/test/library-tests/frameworks/Restify2/tests.expected
  javascript/ql/test/library-tests/frameworks/Restify2/tests.ql
  javascript/ql/test/library-tests/frameworks/Spife/lib/routes/index.js
  javascript/ql/test/library-tests/frameworks/Spife/lib/routes/parameters.js
  javascript/ql/test/library-tests/frameworks/Spife/lib/settings.js
  javascript/ql/test/library-tests/frameworks/Spife/lib/views/index.js
  javascript/ql/test/library-tests/frameworks/Spife/lib/views/orgs.js
  javascript/ql/test/library-tests/frameworks/Spife/tests.expected
  javascript/ql/test/library-tests/frameworks/Spife/tests.ql
  javascript/ql/test/library-tests/frameworks/restify/tests.expected
Labels: JS, documentation

#11497 Ruby: model `rails/globalid` component
  ruby/ql/lib/change-notes/2022-11-30-rails-globalid.md
  ruby/ql/lib/codeql/ruby/frameworks/GlobalId.qll
  ruby/ql/test/library-tests/frameworks/globalid/GlobalId.expected
  ruby/ql/test/library-tests/frameworks/globalid/GlobalId.ql
  ruby/ql/test/library-tests/frameworks/globalid/globalid.rb
Labels: documentation, Ruby

#11697 Make DataFlowType a singleton
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowUtil.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImplSpecific.qll
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-1004/CookieWithoutHttpOnly.expected
  go/ql/test/experimental/CWE-321/HardcodedKeys.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/experimental/Unsafe/WrongUsageOfUnsafe.expected
  go/ql/test/library-tests/semmle/go/dataflow/ChannelField/test.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/StoredXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Chi/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Encoding/jsoniter.expected
  go/ql/test/library-tests/semmle/go/frameworks/Gorestful/gorestful.expected
  go/ql/test/library-tests/semmle/go/frameworks/Protobuf/TaintFlows.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Spew/TaintFlows.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegexp/IncompleteHostnameRegexp.expected
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
  go/ql/test/query-tests/Security/CWE-022/UnsafeUnzipSymlink.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-078/StoredCommand.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-079/StoredXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-190/AllocationSizeOverflow.expected
  go/ql/test/query-tests/Security/CWE-209/StackTraceExposure.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-322/InsecureHostKeyCallback.expected
  go/ql/test/query-tests/Security/CWE-326/InsufficientKeySize.expected
  go/ql/test/query-tests/Security/CWE-327/UnsafeTLS.expected
  go/ql/test/query-tests/Security/CWE-327/WeakCryptoAlgorithm.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-352/ConstantOauth2State.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-640/EmailInjection.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Labels: no-change-note-required, Go

#10714 Ruby: Model flow through `initialize` constructors
  ruby/ql/lib/change-notes/2022-12-14-constructor-flow.md
  ruby/ql/lib/codeql/ruby/ast/Call.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/src/queries/analysis/Definitions.ql
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call_sensitivity.rb
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/global/TypeTrackingInlineTest.expected
  ruby/ql/test/library-tests/dataflow/global/instance_variables.rb
  ruby/ql/test/query-tests/analysis/Definitions.expected
Labels: documentation, Ruby

#11710 C++: Clarify Allocation.qll and Deallocation.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/Allocation.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/Deallocation.qll
Labels: C++, no-change-note-required

#11600 C++: Fix cpp/offset-use-before-range-check performance.
  cpp/ql/src/Best Practices/Likely Errors/OffsetUseBeforeRangeCheck.ql
Labels: C++, no-change-note-required

#11708 Swift: Fix RemoteFlowSource performance issue.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/WebView.qll
Labels: no-change-note-required, Swift

#11585 Java: add MaD metrics query
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/src/Metrics/Summaries/GeneratedVsManualCoverage.ql
  java/ql/src/change-notes/2022-12-12-java-mad-metrics-query.md
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/GeneratedVsManualCoverage.expected
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/GeneratedVsManualCoverage.qlref
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/IOUtils.java
  java/ql/test/query-tests/Metrics/LinesOfCode/A.java
  java/ql/test/query-tests/Metrics/LinesOfCode/LinesOfCode.expected
  java/ql/test/query-tests/Metrics/LinesOfCode/LinesOfCode.qlref
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, documentation, Java, Python, Go, Ruby, Swift, DataFlow Library

#11674 Data flow: Track callable in flow-through pruning
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl2.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForHttpClientLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForPathname.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForRegExp.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#11705 C#/Java: Migrate tests to use implicitly loaded extensions.
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ext.yml
  csharp/ql/test/library-tests/dataflow/external-models/ext/test.model.yml
  csharp/ql/test/library-tests/dataflow/external-models/sinks.ext.yml
  csharp/ql/test/library-tests/dataflow/external-models/srcs.ext.yml
  csharp/ql/test/library-tests/dataflow/external-models/steps.ext.yml
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
  csharp/ql/test/qlpack.yml
  java/ql/integration-tests/all-platforms/kotlin/annotation-id-consistency/qlpack.yml
  java/ql/integration-tests/all-platforms/kotlin/annotation-id-consistency/test.ext.yml
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/test.ext.yml
  java/ql/src/utils/flowtestcasegenerator/GenerateFlowTestCase.py
  java/ql/test/ext/test.model.yml
  java/ql/test/kotlin/library-tests/dataflow/notnullexpr/test.ext.yml
  java/ql/test/kotlin/library-tests/dataflow/whenexpr/test.ext.yml
  java/ql/test/library-tests/dataflow/callback-dispatch/test.ext.yml
  java/ql/test/library-tests/dataflow/collections/containerflow.ext.yml
  java/ql/test/library-tests/dataflow/external-models/sinks.ext.yml
  java/ql/test/library-tests/dataflow/external-models/srcs.ext.yml
  java/ql/test/library-tests/dataflow/external-models/steps.ext.yml
  java/ql/test/library-tests/dataflow/synth-global/test.ext.yml
  java/ql/test/library-tests/frameworks/android/content-provider-summaries/test.ext.yml
  java/ql/test/library-tests/frameworks/android/intent/test.ext.yml
  java/ql/test/library-tests/frameworks/android/notification/test.ext.yml
  java/ql/test/library-tests/frameworks/apache-collections/test.ext.yml
  java/ql/test/library-tests/frameworks/guava/generated/collect/test.ext.yml
  java/ql/test/library-tests/frameworks/stream/test.ext.yml
  java/ql/test/library-tests/optional/test.ext.yml
  java/ql/test/qlpack.yml
Labels: C#, Java, Kotlin

#11718 Ruby: Recognize custom `self.new` methods that return `self.allocate`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/calls.rb
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
Labels: no-change-note-required, Ruby

#11686 C#: Re-factor and use `ForEach`.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CommentBlock.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Initializer.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/BinaryPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/Pattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/PositionalPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/PropertyPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/RecursivePattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/RelationalPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/UnaryPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/PragmaWarningDirective.cs
Labels: C#

#11680 C++: Update tests after frontend changes
  cpp/ql/test/library-tests/floats/float128/errors.expected
  cpp/ql/test/library-tests/floats/float128/usertypes.expected
Labels: C++, depends on internal PR

#11706 Go: Use any() to stub getCallbackParameter/ReturnType and getSyntheticGlobalType
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: no-change-note-required, Go

#11720 Ruby: Fix bug in call-sensitivity logic for `initialize` calls
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call_sensitivity.rb
Labels: no-change-note-required, Ruby

#11694 C++: Iterator flow for IR-based use-use flow (second attempt)
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++, no-change-note-required

#11727 C++: Fix `DataFlow <-> Expr` mappings for `CrementOperation` and `AssignOperation`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-078/WordexpTainted.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/Adding365DaysPerYear/Adding365daysPerYear.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
Labels: C++, no-change-note-required

#11722 C++: Use `unique` in `getBufferSize`
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/VeryLikelyOverrunWrite.expected
Labels: C++, no-change-note-required

#11661 ATM: speedup the "ATM - Check query suite" CI job
  .github/workflows/atm-check-query-suite.yml
Labels: no-change-note-required

#11733 C#: Add dummy type sizes for the list pattern expressions kinds.
  csharp/ql/lib/semmlecode.csharp.dbscheme.stats
Labels: C#

#11726 ATM: fix script updating endpoint large scale test data
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/ExtractEndpointDataInference.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/ExtractEndpointDataTraining.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/FilteredTruePositives.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/README.md
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/NosqlAndSqlInjection/untyped/graphql.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/NosqlAndSqlInjection/untyped/json-schema-validator.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/NosqlAndSqlInjection/untyped/ldap.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/NosqlAndSqlInjection/untyped/marsdb-flow-to.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/NosqlAndSqlInjection/untyped/marsdb.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/NosqlAndSqlInjection/untyped/mysql.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/NosqlAndSqlInjection/untyped/pg-promise.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/README.md
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/TaintedPath/TaintedPath.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/TaintedPath/express.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/TaintedPath/handlebars.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/TaintedPath/normalizedPaths.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/TaintedPath/other-fs-libraries.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/TaintedPath/prettier.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/TaintedPath/tainted-access-paths.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/TaintedPath/tainted-require.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/DomBasedXss/addEventListener.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/DomBasedXss/classnames.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/DomBasedXss/clipboard.ts
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/DomBasedXss/custom-element.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/DomBasedXss/dates.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/DomBasedXss/dragAndDrop.ts
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/DomBasedXss/externs.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/DomBasedXss/jquery.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/DomBasedXss/trusted-types.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/DomBasedXss/tst.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/DomBasedXss/xmlRequest.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/ExceptionXss/ajv.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/ReflectedXss/ReflectedXss.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/ReflectedXss/live-server.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/ReflectedXss/tst2.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/ReflectedXss/tst3.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/UnsafeHtmlConstruction/jquery-plugin.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/UnsafeHtmlConstruction/lib/src/MyNode.ts
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/UnsafeHtmlConstruction/lib2/index.ts
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/UnsafeHtmlConstruction/lib2/src/MyNode.ts
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/UnsafeHtmlConstruction/main.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/UnsafeJQueryPlugin/unsafe-jquery-plugin.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/Xss/XssThroughDom/xss-through-dom.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/XssThroughDom/BadTagFilter/tst.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/XssThroughDom/DoubleEscaping/tst.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/XssThroughDom/IncompleteSanitization/UnsafeHtmlExpansion.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/XssThroughDom/IncompleteSanitization/tst-multi-character-sanitization.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/autogenerated/XssThroughDom/IncompleteSanitization/tst.js
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/getALikelyExternalLibraryCall.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/update_endpoint_test_files.py
Labels: documentation, ATM

#11724 C++: Use `asExpr` in `cpp/cleartext-transmission`
  cpp/ql/src/Security/CWE/CWE-311/CleartextTransmission.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test3.cpp
Labels: C++, no-change-note-required

#11699 Dynamic: Share more regexp code
  config/identical-files.json
  java/ql/lib/semmle/code/java/regex/RegexTreeView.qll
  javascript/ql/lib/semmle/javascript/Regexp.qll
  javascript/ql/lib/semmle/javascript/security/regexp/HostnameRegexp.qll
  javascript/ql/src/Security/CWE-020/HostnameRegexpShared.qll
  javascript/ql/src/Security/CWE-020/HostnameRegexpSpecific.qll
  javascript/ql/src/Security/CWE-020/IncompleteHostnameRegExp.ql
  javascript/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.qll
  javascript/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitizationSpecific.qll
  javascript/ql/src/Security/CWE-020/MissingRegExpAnchor.ql
  python/ql/lib/semmle/python/RegexTreeView.qll
  python/ql/lib/semmle/python/dataflow/new/Regexp.qll
  python/ql/lib/semmle/python/security/regexp/HostnameRegex.qll
  python/ql/src/Security/CWE-020/HostnameRegexpShared.qll
  python/ql/src/Security/CWE-020/HostnameRegexpSpecific.qll
  python/ql/src/Security/CWE-020/IncompleteHostnameRegExp.ql
  ruby/ql/lib/codeql/ruby/Regexp.qll
  ruby/ql/lib/codeql/ruby/regexp/RegExpTreeView.qll
  ruby/ql/lib/codeql/ruby/security/regexp/HostnameRegexp.qll
  ruby/ql/src/queries/security/cwe-020/HostnameRegexpShared.qll
  ruby/ql/src/queries/security/cwe-020/HostnameRegexpSpecific.qll
  ruby/ql/src/queries/security/cwe-020/IncompleteHostnameRegExp.ql
  ruby/ql/src/queries/security/cwe-020/IncompleteUrlSubstringSanitization.qll
  ruby/ql/src/queries/security/cwe-020/IncompleteUrlSubstringSanitizationSpecific.qll
  ruby/ql/src/queries/security/cwe-020/MissingRegExpAnchor.ql
  shared/regex/codeql/regex/HostnameRegexp.qll
  shared/regex/codeql/regex/MissingRegExpAnchor.qll
  shared/regex/codeql/regex/RegexTreeView.qll
Labels: JS, Java, Python, no-change-note-required, Ruby

#11729 C++: Prepare `cpp/cleartext-storage-database` for use-use flow
  cpp/ql/src/Security/CWE/CWE-313/CleartextSqliteDatabase.ql
Labels: C++, depends on internal PR, no-change-note-required

#11737 Update supported-queries.md
  docs/supported-queries.md
Labels: documentation

#11575 Rb: add Kernel methods as sinks to path-injection
  ruby/ql/lib/change-notes/2022-12-07-kernel-paths.md
  ruby/ql/lib/codeql/ruby/ast/Call.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Call.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
  ruby/ql/lib/codeql/ruby/security/StackTraceExposureCustomizations.qll
  ruby/ql/src/queries/meta/internal/TaintMetrics.qll
  ruby/ql/src/queries/security/cwe-022/PathInjection.ql
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/calls/calls.expected
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/Nodes.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/query-tests/security/cwe-022/PathInjection.expected
  ruby/ql/test/query-tests/security/cwe-022/tainted_path.rb
Labels: documentation, Ruby

#11731 remove com.semmle.util.data.Option from from extractor code interface II
  javascript/extractor/src/com/semmle/js/extractor/HTMLExtractor.java
Labels: JS

#11719 Shared AlertSuppression library
  cpp/ql/src/AlertSuppression.ql
  cpp/ql/src/qlpack.yml
  cpp/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  csharp/ql/src/AlertSuppression.ql
  csharp/ql/src/qlpack.yml
  csharp/ql/test/query-tests/AlertSuppression/.gitattributes
  go/ql/src/AlertSuppression.ql
  go/ql/src/qlpack.yml
  go/ql/test/query-tests/AlertSuppression/.gitattributes
  java/ql/src/AlertSuppression.ql
  java/ql/src/qlpack.yml
  javascript/ql/src/AlertSuppression.ql
  javascript/ql/src/qlpack.yml
  python/config/suites/lgtm/python-queries-lgtm
  python/ql/src/AlertSuppression.ql
  python/ql/src/analysis/AlertSuppression.ql
  python/ql/src/qlpack.yml
  python/ql/test/query-tests/analysis/suppression/AlertSuppression.expected
  python/ql/test/query-tests/analysis/suppression/AlertSuppression.qlref
  ruby/ql/src/AlertSuppression.ql
  ruby/ql/src/qlpack.yml
  ruby/ql/test/query-tests/AlertSuppression/.gitattributes
  shared/util/codeql/suppression/AlertSuppression.qll
Labels: C#, JS, C++, Java, Python, no-change-note-required, Go, Ruby

#11665 Kotlin: Revert type erasure within $default functions
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/parameter-defaults/PrintAst.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/erasure.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/erasure.ql
Labels: Kotlin

#11745 Remove references to lgtm.com in Go folder
  go/CONTRIBUTING.md
  go/README.md
Labels: documentation, Go

#11707 Java: handle printing an empty comment (/**/); add relevant tests
  java/ql/lib/change-notes/2022-12-15-empty-multiline-comments.md
  java/ql/lib/semmle/code/java/Javadoc.qll
  java/ql/test/library-tests/comments/PrintAst.expected
  java/ql/test/library-tests/comments/Test.java
  java/ql/test/library-tests/comments/toString.expected
Labels: documentation, Java

#11756 QL: fix visibility of module parameters
  ql/ql/src/codeql_ql/ast/internal/Type.qll
  ql/ql/test/modules/ClassSig.qll
  ql/ql/test/modules/test.expected
  ql/ql/test/modules/test.ql
Labels: QL-for-QL

#11751 Fix javascript syntax
  javascript/ql/src/Security/CWE-754/examples/UnvalidatedDynamicMethodCallGood.js
  javascript/ql/test/query-tests/Security/CWE-754/UnvalidatedDynamicMethodCall3.js
Labels: JS

#11757 QL/RB: make top TreeSitter.qll comment into a qldoc
  ql/generator/src/main.rs
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ruby/generator/src/main.rs
  ruby/ql/lib/codeql/ruby/ast/internal/TreeSitter.qll
Labels: no-change-note-required, Ruby, QL-for-QL

#11173 QL: improve the dead-code query
  ql/ql/src/codeql_ql/style/DeadCodeQuery.qll
  ql/ql/test/queries/style/DeadCode/Foo.qll
Labels: QL-for-QL

#11572 Java: model top 100 JDK APIs
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/change-notes/2022-12-16-add-top-jdk-models.md
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/java.math.model.yml
  java/ql/lib/ext/java.sql.model.yml
  java/ql/lib/ext/java.util.model.yml
  java/ql/lib/ext/java.util.stream.model.yml
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-755/NFEAndroidDoS.expected
  java/ql/test/ext/TestModels/Test.java
  java/ql/test/ext/TestModels/test.expected
  java/ql/test/ext/TestModels/test.ql
  java/ql/test/ext/TopJdkApis/TopJdkApis.qll
  java/ql/test/ext/TopJdkApis/TopJdkApisTest.expected
  java/ql/test/ext/TopJdkApis/TopJdkApisTest.java
  java/ql/test/ext/TopJdkApis/TopJdkApisTest.ql
  java/ql/test/query-tests/Telemetry/UnsupportedExternalAPIs/Test.java
  java/ql/test/query-tests/Telemetry/UnsupportedExternalAPIs/UnsupportedExternalAPIs.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayConstructionLocal.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayIndexLocal.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTaintedLocal.expected
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, documentation, Java, Python, Go, Ruby, Swift, DataFlow Library

#11762 QL: fix `getAnnotation()` for new-type branches with parameters
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/test/printAst/Foo.qll
  ql/ql/test/printAst/printAst.expected
Labels: QL-for-QL

#11723 CodeQL alert suppression
  cpp/ql/src/AlertSuppression.ql
  cpp/ql/src/change-notes/2022-12-19-alert-suppressions.md
  cpp/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  cpp/ql/test/query-tests/AlertSuppression/tst.c
  cpp/ql/test/query-tests/AlertSuppression/tstWindows.c
  csharp/ql/src/AlertSuppression.ql
  csharp/ql/src/change-notes/2022-12-19-alert-suppressions.md
  csharp/ql/test/query-tests/AlertSuppression/AlertSuppression.cs
  csharp/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  csharp/ql/test/query-tests/AlertSuppression/AlertSuppressionWindows.cs
  go/ql/src/AlertSuppression.ql
  go/ql/src/change-notes/2022-12-19-alert-suppressions.md
  go/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  go/ql/test/query-tests/AlertSuppression/tst.go
  go/ql/test/query-tests/AlertSuppression/tstWindows.go
  java/ql/src/AlertSuppression.ql
  java/ql/src/AlertSuppressionAnnotations.ql
  java/ql/src/change-notes/2022-12-19-alert-suppressions.md
  java/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  java/ql/test/query-tests/AlertSuppression/AlertSuppressionAnnotations.expected
  java/ql/test/query-tests/AlertSuppression/Test.java
  java/ql/test/query-tests/AlertSuppression/TestSuppressWarnings.java
  java/ql/test/query-tests/AlertSuppression/TestWindows.java
  javascript/ql/src/AlertSuppression.ql
  javascript/ql/src/change-notes/2022-12-19-alert-suppressions.md
  javascript/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  javascript/ql/test/query-tests/AlertSuppression/tst.html
  javascript/ql/test/query-tests/AlertSuppression/tst.js
  javascript/ql/test/query-tests/AlertSuppression/tstWindows.html
  javascript/ql/test/query-tests/AlertSuppression/tstWindows.js
  python/ql/src/AlertSuppression.ql
  python/ql/src/change-notes/2022-12-19-alert-suppressions.md
  python/ql/test/query-tests/analysis/suppression/AlertSuppression.expected
  python/ql/test/query-tests/analysis/suppression/test.py
  python/ql/test/query-tests/analysis/suppression/testWindows.py
  ruby/ql/src/AlertSuppression.ql
  ruby/ql/src/change-notes/2022-12-19-alert-suppressions.md
  ruby/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  ruby/ql/test/query-tests/AlertSuppression/Test.rb
  ruby/ql/test/query-tests/AlertSuppression/TestWindows.rb
  shared/util/codeql/util/suppression/AlertSuppression.qll
Labels: C#, JS, C++, documentation, Java, Python, Go, Ruby

#11771 AlertSuppression: fix python test cases
  python/ql/test/query-tests/analysis/suppression/AlertSuppression.expected
  python/ql/test/query-tests/analysis/suppression/test.py
  python/ql/test/query-tests/analysis/suppression/testWindows.py
Labels: Python

#11773 Swift: add AlertSuppression.ql
  swift/ql/src/AlertSuppression.ql
  swift/ql/src/qlpack.yml
  swift/ql/test/query-tests/AlertSuppression/.gitattributes
  swift/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  swift/ql/test/query-tests/AlertSuppression/AlertSuppression.qlref
  swift/ql/test/query-tests/AlertSuppression/tst.swift
  swift/ql/test/query-tests/AlertSuppression/tstWindows.swift
Labels: Swift

#11766 Java: Fix new Android queries' IDs
  java/ql/src/Security/CWE/CWE-079/AndroidWebViewAddJavascriptInterface.ql
  java/ql/src/Security/CWE/CWE-079/AndroidWebViewSettingsEnabledJavaScript.ql
  java/ql/src/Security/CWE/CWE-200/AndroidWebViewSettingsFileAccess.ql
Labels: Java, no-change-note-required

#11519 QL: Mock the `QlBuiltins` module in QL-for-QL
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/AstMocks.qll
  ql/ql/src/codeql_ql/ast/internal/AstNodes.qll
  ql/ql/src/codeql_ql/ast/internal/Builtins.qll
  ql/ql/src/codeql_ql/ast/internal/Module.qll
  ql/ql/src/codeql_ql/ast/internal/Type.qll
  ql/ql/src/codeql_ql/printAstAst.qll
  ql/ql/src/qlpack.yml
  ql/ql/test/modules/Foo.qll
  ql/ql/test/modules/test.expected
  ql/ql/test/queries/style/MissingSecurityMetadata/MissingSecurityMetadata.expected
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/BadNoSecurity.ql
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/BadNoSeverity.ql
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/Good.ql
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/GoodNoPrecision.ql
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/GoodNoSecurity.ql
  shared/util/codeql/util/Either.qll
  shared/util/codeql/util/Option.qll
Labels: QL-for-QL

#11761 C++: Generate IR for `__try __finally` and `__try __except`
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/try_except.c
  cpp/ql/test/library-tests/ir/ir/try_except.cpp
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
Labels: C++, no-change-note-required

#11768 C++: Fix implicit reads on `cpp/cleartext-storage-database`
  cpp/ql/src/Security/CWE/CWE-313/CleartextSqliteDatabase.ql
Labels: C++, depends on internal PR, no-change-note-required

#11630 QL4QL: enable medium precision queries, and make the "suggest instanceof" query louder
  ql/ql/src/codeql-suites/ql-code-scanning.qls
  ql/ql/src/codeql_ql/style/UseInstanceofExtensionQuery.qll
  ql/ql/src/queries/bugs/PathProblemQuery.ql
  ql/ql/src/queries/performance/ClassPredicateDoesntMentionThis.ql
  ql/ql/src/queries/style/OverridingParameterName.ql
  ql/ql/src/queries/style/ToStringInQueryLogic.ql
  ql/ql/src/queries/style/UseInstanceofExtension.ql
  ql/ql/test/queries/style/UseInstanceofExtension/Foo.qll
  ql/ql/test/queries/style/UseInstanceofExtension/UseInstanceofExtension.expected
  ql/ql/test/queries/style/UseInstanceofExtension/UseInstanceofExtension.qlref
Labels: QL-for-QL
