Repository github/codeql, pull requests merged in 2022-03, with the labels that each got.

#8172 add pre-commit configuration
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/pre-commit-hook-setup.md
  misc/scripts/check-qhelp.py
Labels: documentation

#8225 C++: Update the IR translation for structured bindings
  cpp/ql/lib/change-notes/2022-02-24-structured-bindings-in-ir.md
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRUtilities.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, documentation

#7832 Java: Simplify model generator query using flow state.
  java/ql/src/utils/model-generator/CaptureSourceModels.ql
  java/ql/src/utils/model-generator/CaptureSummaryModels.ql
  java/ql/src/utils/model-generator/ModelGeneratorUtils.qll
  java/ql/test/utils/model-generator/CaptureSourceModels.expected
  java/ql/test/utils/model-generator/CaptureSummaryModels.expected
  java/ql/test/utils/model-generator/p/Sources.java
Labels: Java, no-change-note-required

#8252 Docs: Mention `hasPartialFlowRev` and performance problem
  docs/codeql/writing-codeql-queries/debugging-data-flow-queries-using-partial-flow.rst
Labels: documentation

#7549 Python: Points-to performance improvements
  python/ql/lib/semmle/python/pointsto/MRO.qll
  python/ql/lib/semmle/python/pointsto/PointsTo.qll
Labels: Python, no-change-note-required

#8292 Ruby: ApiGraphs: use private imports
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/HttpClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/src/queries/security/cwe-078/KernelOpen.ql
Labels: no-change-note-required, Ruby

#8298 C++: Fix `GVN` performance on more invalid IR
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
  csharp/ql/src/experimental/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
Labels: C#, C++, no-change-note-required

#7933 C++: Improve cpp/system-data-exposure
  cpp/ql/src/Security/CWE/CWE-497/ExposedSystemData.ql
  cpp/ql/src/change-notes/2022-02-10-system-data-exposure.md
  cpp/ql/src/codeql-suites/exclude-slow-queries.yml
  cpp/ql/test/query-tests/Security/CWE/CWE-497/SAMATE/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/SAMATE/OutputWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/SAMATE/OutputWrite.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-497/SAMATE/tests.c
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/OutputWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/OutputWrite.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/tests2.cpp
Labels: C++, depends on internal PR, documentation

#8167 C# Extractor Option for specifying compression.
  csharp/codeql-extractor.yml
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Options.cs
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
  csharp/extractor/Semmle.Extraction/Options.cs
  csharp/extractor/Semmle.Util/CommandLineOptions.cs
  csharp/ql/src/change-notes/2022-02-23-extractor-option-compression.md
Labels: C#, documentation

#8230 C#: Buildless extractor option.
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/AutobuildOptions.cs
  csharp/codeql-extractor.yml
  csharp/ql/src/change-notes/2022-02-24-buildless-extractor-option.md
Labels: C#, documentation

#8293 Ruby: parse more string literals as regular expressions
  .github/workflows/ruby-qltest.yml
  ruby/ql/lib/change-notes/2022-02-28-regex-string-literals.md
  ruby/ql/lib/codeql/ruby/security/performance/ParseRegExp.qll
  ruby/ql/lib/codeql/ruby/security/performance/RegExpTreeView.qll
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/ReDoS.expected
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/tst.rb
Labels: documentation, Ruby

#7920 Ruby: Add String flow summaries
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/String.qll
  ruby/ql/test/library-tests/dataflow/string-flow/string-flow.expected
  ruby/ql/test/library-tests/dataflow/string-flow/string-flow.ql
  ruby/ql/test/library-tests/dataflow/string-flow/string_flow.rb
  ruby/ql/test/query-tests/security/cwe-312/CleartextLogging.expected
Labels: documentation, no-change-note-required, Ruby

#8255 Python: Prevent magic/inlining in `getCase`
  python/ql/lib/semmle/python/Patterns.qll
Labels: Python, no-change-note-required

#7915 Python: promote XPath injection query
  docs/codeql/support/reusables/frameworks.rst
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Libxml2.qll
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/security/dataflow/XpathInjection.qll
  python/ql/lib/semmle/python/security/dataflow/XpathInjectionCustomizations.qll
  python/ql/src/Security/CWE-643/XpathInjection.qhelp
  python/ql/src/Security/CWE-643/XpathInjection.ql
  python/ql/src/Security/CWE-643/xpathBad.py
  python/ql/src/Security/CWE-643/xpathGood.py
  python/ql/src/change-notes/2022-02-09-promote-xpath-injection.md
  python/ql/src/experimental/Security/CWE-643/XpathInjection.qhelp
  python/ql/src/experimental/Security/CWE-643/XpathInjection.ql
  python/ql/src/experimental/Security/CWE-643/XpathInjectionCustomizations.qll
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/experimental/query-tests/Security/CWE-643/XpathInjection.qlref
  python/ql/test/library-tests/frameworks/lxml/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/lxml/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/lxml/test.py
  python/ql/test/library-tests/frameworks/stdlib/XPathExecution.py
  python/ql/test/query-tests/Security/CWE-643-XPathInjection/XpathInjection.expected
  python/ql/test/query-tests/Security/CWE-643-XPathInjection/XpathInjection.qlref
  python/ql/test/query-tests/Security/CWE-643-XPathInjection/xpath.py
  python/ql/test/query-tests/Security/CWE-643-XPathInjection/xpathBad.py
  python/ql/test/query-tests/Security/CWE-643-XPathInjection/xpathFlow.py
  python/ql/test/query-tests/Security/CWE-643-XPathInjection/xpathGood.py
Labels: documentation, Python

#8321 C++: More TPs from `cpp/using-expired-stack-address`
  cpp/ql/src/Likely Bugs/Memory Management/UsingExpiredStackAddress.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UsingExpiredStackAddress/UsingExpiredStackAddress.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UsingExpiredStackAddress/test.cpp
Labels: C++, no-change-note-required

#8330 Ruby: cache regExpSource/1 instead of isInterpretedAsRegExp
  ruby/ql/lib/codeql/ruby/security/performance/ParseRegExp.qll
Labels: no-change-note-required, Ruby

#8059 C++: new query for insufficient key strength
  cpp/ql/src/Security/CWE/CWE-326/InsufficientKeySize.c
  cpp/ql/src/Security/CWE/CWE-326/InsufficientKeySize.qhelp
  cpp/ql/src/Security/CWE/CWE-326/InsufficientKeySize.ql
  cpp/ql/src/change-notes/2022-02-16-insufficient-key-size.md
  cpp/ql/test/query-tests/Security/CWE/CWE-326/InsufficientKeySize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-326/InsufficientKeySize.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-326/test.cpp
Labels: C++, documentation

#8297 JS: Fix ATM timeout on NodeJS
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/NosqlInjectionATM.qll
  javascript/ql/lib/semmle/javascript/frameworks/Testing.qll
Labels: JS, no-change-note-required

#8310 C++: Update the DB scheme stats file
  cpp/ql/lib/semmlecode.cpp.dbscheme.stats
Labels: C++, no-change-note-required

#8334 JS: Add query that maps queries to sink type
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointMapping.ql
Labels: JS

#8319 C#: Add change note about recursive `codeql test run` extraction
  csharp/ql/lib/change-notes/2022-03-03-recursive-qltest-extraction.md
Labels: C#, documentation

#6950 CPP: Add query for CWE-200 Exposure of Sensitive Information to an Unauthorized Actor
  cpp/ql/src/experimental/Security/CWE/CWE-200/ExposureSensitiveInformationUnauthorizedActor.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-200/ExposureSensitiveInformationUnauthorizedActor.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-200/ExposureSensitiveInformationUnauthorizedActor.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-200/test1/ExposureSensitiveInformationUnauthorizedActor.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-200/test1/ExposureSensitiveInformationUnauthorizedActor.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-200/test1/test.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-200/test2/ExposureSensitiveInformationUnauthorizedActor.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-200/test2/ExposureSensitiveInformationUnauthorizedActor.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-200/test2/test.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-200/test3/ExposureSensitiveInformationUnauthorizedActor.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-200/test3/ExposureSensitiveInformationUnauthorizedActor.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-200/test3/test.cpp
Labels: C++, documentation

#8247 CPP: Add query for CWE-190: Integer Overflow or Wraparound when using transform after operation
  cpp/ql/src/experimental/Security/CWE/CWE-190/DangerousUseOfTransformationAfterOperation.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-190/DangerousUseOfTransformationAfterOperation.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-190/DangerousUseOfTransformationAfterOperation.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/DangerousUseOfTransformationAfterOperation/DangerousUseOfTransformationAfterOperation.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/DangerousUseOfTransformationAfterOperation/DangerousUseOfTransformationAfterOperation.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/DangerousUseOfTransformationAfterOperation/test.cpp
Labels: C++, documentation

#8302 Ruby: TypeTracker: add smallstep for functions that return their arguments
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.ql
Labels: Python, no-change-note-required, Ruby

#8275 Python: Add Server-side Request Forgery sinks
  docs/codeql/support/reusables/frameworks.rst
  python/ql/lib/change-notes/2022-03-04-add-ssrf-sinks.md
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
  python/ql/lib/semmle/python/frameworks/Httpx.qll
  python/ql/lib/semmle/python/frameworks/Libtaxii.qll
  python/ql/lib/semmle/python/frameworks/Pycurl.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/Stdlib/Urllib.qll
  python/ql/lib/semmle/python/frameworks/Stdlib/Urllib2.qll
  python/ql/lib/semmle/python/frameworks/Urllib3.qll
  python/ql/test/library-tests/frameworks/aiohttp/client_request.py
  python/ql/test/library-tests/frameworks/httpx/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/httpx/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/httpx/test.py
  python/ql/test/library-tests/frameworks/libtaxii/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/libtaxii/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/libtaxii/test.py
  python/ql/test/library-tests/frameworks/pycurl/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/pycurl/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/pycurl/test.py
  python/ql/test/library-tests/frameworks/stdlib-py2/urllib2.py
  python/ql/test/library-tests/frameworks/stdlib/urllib.py
  python/ql/test/library-tests/frameworks/urllib3/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/urllib3/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/urllib3/test.py
Labels: documentation, Python

#7598 QL: field only used in charPred
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/InterProceduralTypeInference.qll
  javascript/ql/lib/semmle/javascript/explore/BackwardDataFlow.qll
  javascript/ql/lib/semmle/javascript/explore/ForwardDataFlow.qll
  javascript/ql/lib/semmle/javascript/frameworks/AngularJS/AngularJSCore.qll
  javascript/ql/lib/semmle/javascript/frameworks/AngularJS/AngularJSExpressions.qll
  javascript/ql/lib/semmle/javascript/frameworks/Babel.qll
  javascript/ql/lib/semmle/javascript/frameworks/CryptoLibraries.qll
  javascript/ql/lib/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/lib/semmle/javascript/frameworks/HttpProxy.qll
  javascript/ql/lib/semmle/javascript/frameworks/LdapJS.qll
  javascript/ql/lib/semmle/javascript/frameworks/Nest.qll
  javascript/ql/lib/semmle/javascript/frameworks/Next.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/IncompleteBlacklistSanitizer.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/InsecureDownloadCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/LoopBoundInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeHtmlConstructionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCallCustomizations.qll
  javascript/ql/src/LanguageFeatures/TemplateSyntaxInStringLiteral.ql
  javascript/ql/src/Security/CWE-020/IncorrectSuffixCheck.ql
  javascript/ql/src/experimental/Summaries/ImportFromExternalPredicates.qll
  javascript/ql/test/library-tests/CustomAbstractValueDefinitions/CustomAbstractValueDefinitionsFlow.ql
  javascript/ql/test/library-tests/TypeScript/LocalTypeResolution/tests.ql
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.ql
  ql/ql/src/codeql/GlobalValueNumbering.qll
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/Variable.qll
  ql/ql/src/codeql_ql/style/UseInstanceofExtensionQuery.qll
  ql/ql/src/codeql_ql/style/UseSetLiteralQuery.qll
  ql/ql/src/ide-contextual-queries/Definitions.qll
  ql/ql/src/queries/diagnostics/EmptyConsistencies.ql
  ql/ql/src/queries/style/FieldOnlyUsedInCharPred.ql
Labels: JS, no-change-note-required, QL-for-QL

#8366 C++: Mark everything in CodeDuplication.qll as deprecated
  config/identical-files.json
  cpp/ql/src/Metrics/Files/FLinesOfDuplicatedCode.qhelp
  cpp/ql/src/Metrics/Files/FLinesOfDuplicatedCode.ql
  cpp/ql/src/Metrics/Files/FLinesOfDuplicatedCodeCommon.inc.qhelp
  cpp/ql/src/change-notes/2022-03-08-code-duplication-deprecation.md
  cpp/ql/src/change-notes/2022-03-08-code-duplication-queries.md
  cpp/ql/src/external/CodeDuplication.qll
  cpp/ql/src/external/DuplicateBlock.ql
  cpp/ql/src/external/DuplicateFunction.qhelp
  cpp/ql/src/external/DuplicateFunction.ql
  cpp/ql/src/external/MostlyDuplicateClass.qhelp
  cpp/ql/src/external/MostlyDuplicateClass.ql
  cpp/ql/src/external/MostlyDuplicateFile.qhelp
  cpp/ql/src/external/MostlyDuplicateFile.ql
  cpp/ql/src/external/MostlyDuplicateFunction.qhelp
  cpp/ql/src/external/MostlyDuplicateFunction.ql
  cpp/ql/src/external/MostlySimilarFile.qhelp
  cpp/ql/src/external/MostlySimilarFile.ql
Labels: C++, documentation

#8203 C#: Refactoring - Move some of the standalone extractor code to the Standalone project.
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Program.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/StandaloneAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
Labels: C#

#8364 Ruby: Fix regex parsing of `/[|]/`
  ruby/ql/consistency-queries/RegExpConsistency.ql
  ruby/ql/lib/codeql/ruby/security/performance/ParseRegExp.qll
  ruby/ql/lib/codeql/ruby/security/performance/RegExpTreeView.qll
  ruby/ql/test/library-tests/regexp/parse.expected
  ruby/ql/test/library-tests/regexp/regexp.rb
Labels: no-change-note-required, Ruby

#8370 Ruby: Fix off-by-one error in `getGroupName`
  ruby/ql/lib/codeql/ruby/security/performance/ParseRegExp.qll
  ruby/ql/test/library-tests/regexp/regexp.expected
  ruby/ql/test/library-tests/regexp/regexp.ql
Labels: no-change-note-required, Ruby

#8373 Ruby: Fix incorrect parsing of ranges
  ruby/ql/consistency-queries/RegExpConsistency.ql
  ruby/ql/lib/codeql/ruby/security/performance/ParseRegExp.qll
  ruby/ql/test/library-tests/regexp/parse.expected
  ruby/ql/test/library-tests/regexp/regexp.expected
  ruby/ql/test/library-tests/regexp/regexp.ql
Labels: no-change-note-required, Ruby

#8038 C#: Refactor Structural Comparison for Control Flow Elements.
  csharp/ql/lib/semmle/code/csharp/commons/StructuralComparison.qll
  csharp/ql/test/library-tests/structuralcomparison/StructuralComparison.cs
  csharp/ql/test/library-tests/structuralcomparison/structuralComparison.expected
  csharp/ql/test/library-tests/structuralcomparison/structuralComparison.ql
Labels: C#, no-change-note-required

#8385 QL: add query detecting ordering by a constant
  ql/ql/src/queries/bugs/OrderByConst.ql
  ql/ql/test/queries/bugs/OrderByConst/Foo.qll
  ql/ql/test/queries/bugs/OrderByConst/OrderByConst.expected
  ql/ql/test/queries/bugs/OrderByConst/OrderByConst.qlref
Labels: QL-for-QL

#8368 C++: Factor must-flow predicates out of two queries
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/MustFlow.qll
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
  cpp/ql/src/Likely Bugs/OO/UnsafeUseOfThis.ql
  cpp/ql/test/query-tests/Critical/UnsafeUseOfThis/UnsafeUseOfThis.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/ReturnStackAllocatedMemory.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/test.cpp
Labels: C++, no-change-note-required

#8322 C#: Remove legacy `odasa` support
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/StandaloneBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildCommandAutoRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildCommandRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildScript.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/CommandBuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
  csharp/config/tracer/linux/csharp-compiler-settings
  csharp/config/tracer/linux/extract-csharp.sh
  csharp/config/tracer/windows/csharp-compiler-settings
  csharp/extractor/Semmle.Extraction.CIL.Driver/Program.cs
  csharp/extractor/Semmle.Extraction.CIL/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Runtime.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/StandaloneAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Options.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TracingAnalyser.cs
  csharp/extractor/Semmle.Extraction.Tests/Layout.cs
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
  csharp/extractor/Semmle.Extraction/Layout.cs
  csharp/extractor/Semmle.Extraction/PathTransformer.cs
  csharp/extractor/Semmle.Util/CanonicalPathCache.cs
  csharp/extractor/Semmle.Util/Logger.cs
  csharp/ql/lib/change-notes/2022-03-07-legacy-env-vars.md
Labels: C#, depends on internal PR, documentation

#7084 Ruby: Cleanup flow through `self`
  ruby/ql/lib/codeql/ruby/ast/Expr.qll
  ruby/ql/lib/codeql/ruby/ast/Variable.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Variable.qll
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/dataflow/SSA.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionView.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/AstDesugar.expected
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/string-flow/string-flow.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
  ruby/ql/test/library-tests/frameworks/ActiveRecord.expected
  ruby/ql/test/library-tests/variables/ssa.expected
Labels: no-change-note-required, Ruby

#8358 C++: Upgrade cpp/system-data-exposure to high precision
  cpp/ql/src/Security/CWE/CWE-497/ExposedSystemData.ql
  cpp/ql/src/change-notes/2022-03-07-system-data-exposure.md
Labels: C++, documentation

#8389 Ruby: Avoid multiple `RegExpEscape::getValue` results
  ruby/ql/consistency-queries/RegExpConsistency.ql
  ruby/ql/lib/codeql/ruby/security/performance/RegExpTreeView.qll
  ruby/ql/test/library-tests/regexp/parse.expected
  ruby/ql/test/library-tests/regexp/regexp.expected
  ruby/ql/test/library-tests/regexp/regexp.ql
  ruby/ql/test/library-tests/regexp/regexp.rb
Labels: no-change-note-required, Ruby

#8380 JS: support that the base is not a method-call in getAChainedMethodCall
  javascript/ql/lib/semmle/javascript/dataflow/Sources.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/child_process-test.js
Labels: JS, no-change-note-required

#8374 QL: add query detecting block comments in a position where a QLDoc should be
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Creation.qll
  python/ql/lib/semmle/python/Flow.qll
  python/ql/lib/semmle/python/dataflow/old/Implementation.qll
  python/ql/lib/semmle/python/dataflow/old/Legacy.qll
  python/ql/lib/semmle/python/dependencies/Dependencies.qll
  python/ql/lib/semmle/python/objects/ObjectAPI.qll
  python/ql/lib/semmle/python/pointsto/Base.qll
  python/ql/lib/semmle/python/pointsto/PointsTo.qll
  python/ql/lib/semmle/python/security/strings/Common.qll
  python/ql/lib/semmle/python/types/ClassObject.qll
  python/ql/src/Lexical/CommentedOutCode.qll
  python/ql/src/Resources/FileOpen.qll
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/AstNodes.qll
  ql/ql/src/queries/style/NonDocBlock.ql
Labels: C#, C++, Python, no-change-note-required, Ruby, QL-for-QL

#8402 Java: Revert #8360, "Add CompileTimeConstantExpr.getStringified method"
  java/ql/lib/change-notes/2022-03-07-get-stringified-value.md
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/test/library-tests/constants/CompileTimeConstantExpr.ql
  java/ql/test/library-tests/constants/PrintAst.expected
  java/ql/test/library-tests/constants/constants/Stringified.java
  java/ql/test/library-tests/constants/constants/Values.java
  java/ql/test/library-tests/constants/getBooleanValue.ql
  java/ql/test/library-tests/constants/getInitializer.ql
  java/ql/test/library-tests/constants/getIntValue.expected
  java/ql/test/library-tests/constants/getIntValue.ql
  java/ql/test/library-tests/constants/getStringValue.expected
  java/ql/test/library-tests/constants/getStringValue.ql
  java/ql/test/library-tests/constants/getStringified.expected
  java/ql/test/library-tests/constants/getStringified.ql
Labels: documentation, Java

#8246 CPP: Add query for CWE-754: Improper Check for Unusual or Exceptional Conditions when using functions scanf
  cpp/ql/src/experimental/Security/CWE/CWE-754/ImproperCheckReturnValueScanf.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-754/ImproperCheckReturnValueScanf.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-754/ImproperCheckReturnValueScanf.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-754/semmle/tests/ImproperCheckReturnValueScanf.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-754/semmle/tests/ImproperCheckReturnValueScanf.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-754/semmle/tests/test.cpp
Labels: C++, documentation

#8407 Java: Revert #8325, Add CharacterLiteral to CompileTimeConstantExpr.getStringValue
  java/ql/lib/change-notes/2022-03-11-revert-8325.md
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/test/library-tests/constants/CompileTimeConstantExpr.expected
  java/ql/test/library-tests/constants/PrintAst.expected
  java/ql/test/library-tests/constants/constants/Constants.java
  java/ql/test/library-tests/constants/constants/Values.java
  java/ql/test/library-tests/constants/getStringValue.expected
  java/ql/test/library-tests/constants/getStringValue.ql
Labels: documentation, Java

#8408 QL: make a query checking for `edges` relation in a path-problem query
  ql/ql/src/codeql_ql/ast/internal/Module.qll
  ql/ql/src/queries/bugs/PathProblemQuery.ql
Labels: QL-for-QL

#8396 Ruby: resolve `ql/field-only-used-in-charpred` alerts
  javascript/ql/lib/semmle/javascript/security/performance/ReDoSUtil.qll
  python/ql/lib/semmle/python/security/performance/ReDoSUtil.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Scope.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Variable.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionDispatch.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
  ruby/ql/lib/codeql/ruby/security/performance/ReDoSUtil.qll
  ruby/ql/lib/codeql/ruby/security/performance/RegExpTreeView.qll
Labels: JS, Python, no-change-note-required, Ruby

#6112 Python: Port and extend XXE modeling
  python/ql/src/experimental/Security/CWE-611/SimpleXmlRpcServer.ql
  python/ql/src/experimental/Security/CWE-611/XXE.xml
  python/ql/src/experimental/Security/CWE-611/XmlEntityInjection.py
  python/ql/src/experimental/Security/CWE-611/XmlEntityInjection.qhelp
  python/ql/src/experimental/Security/CWE-611/XmlEntityInjection.ql
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/frameworks/Xml.qll
  python/ql/src/experimental/semmle/python/security/dataflow/XmlEntityInjection.qll
  python/ql/src/experimental/semmle/python/security/dataflow/XmlEntityInjectionCustomizations.qll
  python/ql/test/experimental/library-tests/frameworks/XML/ExperimentalXmlConceptsTests.expected
  python/ql/test/experimental/library-tests/frameworks/XML/ExperimentalXmlConceptsTests.ql
  python/ql/test/experimental/library-tests/frameworks/XML/lxml_etree.py
  python/ql/test/experimental/library-tests/frameworks/XML/poc/PoC.py
  python/ql/test/experimental/library-tests/frameworks/XML/poc/flag
  python/ql/test/experimental/library-tests/frameworks/XML/poc/this-dir-is-not-extracted
  python/ql/test/experimental/library-tests/frameworks/XML/xml_dom.py
  python/ql/test/experimental/library-tests/frameworks/XML/xml_etree.py
  python/ql/test/experimental/library-tests/frameworks/XML/xml_sax.py
  python/ql/test/experimental/library-tests/frameworks/XML/xmltodict.py
  python/ql/test/experimental/query-tests/Security/CWE-611/SimpleXmlRpcServer.expected
  python/ql/test/experimental/query-tests/Security/CWE-611/SimpleXmlRpcServer.qlref
  python/ql/test/experimental/query-tests/Security/CWE-611/XmlEntityInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-611/XmlEntityInjection.qlref
  python/ql/test/experimental/query-tests/Security/CWE-611/test.py
  python/ql/test/experimental/query-tests/Security/CWE-611/xmlrpc_server.py
Labels: documentation, Python

#8401 Extend taint tracking interface with flow states
  cpp/ql/lib/change-notes/2022-03-14-taint-interface-cleanup.md
  cpp/ql/lib/semmle/code/cpp/dataflow/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/change-notes/2022-03-14-taint-interface-cleanup.md
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/lib/change-notes/2022-03-14-taint-interface-cleanup.md
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/security/ImplicitPendingIntentsQuery.qll
  java/ql/src/utils/model-generator/CaptureSummaryModels.ql
  python/ql/lib/change-notes/2022-03-14-taint-interface-cleanup.md
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking1/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking3/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking4/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/security/dataflow/PathInjection.qll
  python/ql/src/experimental/semmle/python/security/injection/NoSQLInjection.qll
  ruby/ql/lib/change-notes/2022-03-14-taint-interface-cleanup.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
Labels: C#, C++, documentation, Java, Python, Ruby

#8405 C#/Java: Range analysis: use ranked phi nodes
  csharp/ql/lib/semmle/code/csharp/dataflow/ModulusAnalysis.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/ModulusAnalysisSpecific.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/SsaReadPositionCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/SsaReadPositionSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/ModulusAnalysis.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/ModulusAnalysisSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/SsaReadPositionCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/SsaReadPositionSpecific.qll
Labels: C#, Java, no-change-note-required

#8422 JS: Address some code that weren't affecting any query result
  javascript/ql/lib/change-notes/2022-02-14-deprecated-predicates.md
  javascript/ql/lib/semmle/javascript/DefUse.qll
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/DeepObjectResourceExhaustionQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/HardcodedCredentialsQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/InsecureDownloadQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCallCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCallQuery.qll
  javascript/ql/src/Declarations/Definitions.qll
  javascript/ql/src/experimental/semmle/javascript/security/dataflow/ResourceExhaustion.qll
  javascript/ql/test/library-tests/Classes/AccessorMethods.qll
  javascript/ql/test/library-tests/Classes/ClassDefinition_getName.qll
  javascript/ql/test/library-tests/Classes/ClassDefinition_getSuperClass.qll
  javascript/ql/test/library-tests/Classes/ClassDefinitions.qll
  javascript/ql/test/library-tests/Classes/ClassFlow.qll
  javascript/ql/test/library-tests/Classes/ClassNodeConstructor.qll
  javascript/ql/test/library-tests/Classes/ClassNodeInstanceMethod.qll
  javascript/ql/test/library-tests/Classes/ClassNodeStaticMethod.qll
  javascript/ql/test/library-tests/Classes/ComputedMethods.qll
  javascript/ql/test/library-tests/Classes/ConstructorDefinitions.qll
  javascript/ql/test/library-tests/Classes/FieldInits.qll
  javascript/ql/test/library-tests/Classes/Fields.qll
  javascript/ql/test/library-tests/Classes/MethodDefinitions.qll
  javascript/ql/test/library-tests/Classes/MethodNames.qll
  javascript/ql/test/library-tests/Classes/NewTargetExpr.qll
  javascript/ql/test/library-tests/Classes/PrivateField.qll
  javascript/ql/test/library-tests/Classes/StaticMethods.qll
  javascript/ql/test/library-tests/Classes/SuperExpr.qll
  javascript/ql/test/library-tests/Classes/SyntheticConstructors.qll
  javascript/ql/test/library-tests/Classes/getAMember.qll
  javascript/ql/test/library-tests/DefUse/DefUsePair.expected
  javascript/ql/test/library-tests/DefUse/DefUsePair.ql
Labels: JS, documentation, no-change-note-required

#8427 C++: Fix join in `cpp/return-stack-allocated-memory`
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
Labels: C++, no-change-note-required

#8357 Java: Add JDBC connection SSRF sinks
  java/ql/lib/change-notes/2022-03-14-new-jdbc-ssrf-sinks.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/HikariCP.qll
  java/ql/lib/semmle/code/java/frameworks/Jdbc.qll
  java/ql/lib/semmle/code/java/frameworks/Jdbi.qll
  java/ql/lib/semmle/code/java/frameworks/SpringJdbc.qll
  java/ql/lib/semmle/code/java/security/RequestForgery.qll
  java/ql/test/query-tests/security/CWE-918/JdbcUrlSSRF.java
  java/ql/test/query-tests/security/CWE-918/options
  java/ql/test/stubs/HikariCP-3.4.5/com/zaxxer/hikari/HikariConfig.java
  java/ql/test/stubs/HikariCP-3.4.5/com/zaxxer/hikari/HikariConfigMXBean.java
  java/ql/test/stubs/HikariCP-3.4.5/com/zaxxer/hikari/HikariDataSource.java
  java/ql/test/stubs/jdbi3-core-3.27.2/org/jdbi/v3/core/Handle.java
  java/ql/test/stubs/jdbi3-core-3.27.2/org/jdbi/v3/core/Jdbi.java
  java/ql/test/stubs/jdbi3-core-3.27.2/org/jdbi/v3/core/config/Configurable.java
  java/ql/test/stubs/postgresql-42.3.3/org/postgresql/Driver.java
  java/ql/test/stubs/spring-jdbc-5.3.8/org/springframework/jdbc/datasource/AbstractDataSource.java
  java/ql/test/stubs/spring-jdbc-5.3.8/org/springframework/jdbc/datasource/AbstractDriverBasedDataSource.java
  java/ql/test/stubs/spring-jdbc-5.3.8/org/springframework/jdbc/datasource/DriverManagerDataSource.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/boot/jdbc/DataSourceBuilder.java
Labels: documentation, Java

#8410 Java: Promote Sensitive Logging query
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
  java/ql/src/Security/CWE/CWE-532/SensitiveInfoLog.java
  java/ql/src/Security/CWE/CWE-532/SensitiveInfoLog.qhelp
  java/ql/src/Security/CWE/CWE-532/SensitiveInfoLog.ql
  java/ql/src/change-notes/2022-03-11-sensitive-logging.md
  java/ql/src/experimental/Security/CWE/CWE-532/SensitiveInfoLog.ql
  java/ql/test/query-tests/security/CWE-532/SensitiveLogInfo.expected
  java/ql/test/query-tests/security/CWE-532/SensitiveLogInfo.ql
  java/ql/test/query-tests/security/CWE-532/Test.java
  java/ql/test/query-tests/security/CWE-532/options
Labels: documentation, Java

#8425 C#: Avoid combinatorial explosion in structural comparison library
  csharp/ql/lib/semmle/code/csharp/commons/StructuralComparison.qll
Labels: C#, no-change-note-required

#8365 CI: add QLdoc test
  .github/workflows/check-qldoc.yml
Labels: Ruby

#8403 Rename all upper-case variables, and all lower-case modules
  java/ql/test/library-tests/frameworks/JaxWs/JaxRs.ql
  java/ql/test/library-tests/structure/TypeGetCompilationUnit.ql
  javascript/ql/lib/change-notes/2022-02-07-deprecated-modules.md
  javascript/ql/lib/semmle/javascript/frameworks/Logging.qll
  javascript/ql/lib/semmle/javascript/frameworks/UriLibraries.qll
  javascript/ql/test/library-tests/frameworks/UriLibraries/tests.ql
  python/ql/lib/change-notes/2022-02-07-deprecated-modules.md
  python/ql/lib/semmle/python/Metrics.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/lib/semmle/python/frameworks/Fabric.qll
  python/ql/lib/semmle/python/frameworks/Invoke.qll
  python/ql/lib/semmle/python/frameworks/Mysql.qll
  python/ql/lib/semmle/python/frameworks/RestFramework.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/Tornado.qll
  python/ql/lib/semmle/python/strings.qll
  python/ql/src/experimental/semmle/python/frameworks/Django.qll
  python/ql/src/experimental/semmle/python/frameworks/Werkzeug.qll
  ql/ql/src/codeql_ql/style/AcronymsShouldBeCamelCaseQuery.qll
  ql/ql/src/queries/style/NameCasing.ql
Labels: JS, documentation, Java, Python, QL-for-QL

#8433 JS: Remove `isEffectiveSinkWithOverridingScore` from ML-powered libraries
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/ATMConfig.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointScoring.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointData.qll
Labels: JS

#8437 Added MissingSecurityMetadata query
  ql/ql/src/queries/style/MissingSecurityMetadata.ql
  ql/ql/test/queries/style/MissingSecurityMetadata/MissingSecurityMetadata.expected
  ql/ql/test/queries/style/MissingSecurityMetadata/MissingSecurityMetadata.qlref
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/BadNoSecurity.expected
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/BadNoSecurity.ql
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/BadNoSeverity.expected
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/BadNoSeverity.ql
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/Good.expected
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/Good.ql
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/GoodNoPrecision.expected
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/GoodNoPrecision.ql
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/GoodNoSecurity.expected
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/GoodNoSecurity.ql
  ql/ql/test/queries/style/MissingSecurityMetadata/testcases/GoodNotAQuery.qll
Labels: QL-for-QL

#8446 Java: Add security severity to sensitive logging query
  java/ql/src/Security/CWE/CWE-532/SensitiveInfoLog.ql
Labels: no-change-note-required

#8447 C++: Add missing `security-severity` tags
  cpp/ql/src/Security/CWE/CWE-319/UseOfHttp.ql
  cpp/ql/src/Security/CWE/CWE-326/InsufficientKeySize.ql
Labels: C++, no-change-note-required

#8438 JS: add some API-nodes to js/disabling-certificate-validation
  javascript/ql/src/Security/CWE-295/DisablingCertificateValidation.ql
  javascript/ql/test/query-tests/Security/CWE-295/DisablingCertificateValidation.expected
  javascript/ql/test/query-tests/Security/CWE-295/tst.js
Labels: JS, no-change-note-required

#8253 JS: merge hasDominatingWrite and hasDominatingAssignment
  javascript/ql/lib/semmle/javascript/DynamicPropertyAccess.qll
  javascript/ql/lib/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/internal/CachedStages.qll
Labels: JS, no-change-note-required

#7884 C++: fix hasImplicitCopyConstructor for templates
  cpp/ql/lib/change-notes/2022-03-10-template-implicit-copy.md
  cpp/ql/lib/semmle/code/cpp/Class.qll
  cpp/ql/test/library-tests/special_members/generated_copy/assign.expected
  cpp/ql/test/library-tests/special_members/generated_copy/copy.cpp
  cpp/ql/test/library-tests/special_members/generated_copy/ctor.expected
  cpp/ql/test/library-tests/special_members/generated_copy/functions.expected
Labels: C++, documentation

#8431 Delete dead code
  cpp/ql/lib/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/reachability/DominanceInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/reachability/DominanceInternal.qll
  csharp/ql/lib/semmle/code/cil/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/pressa/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/basessa/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/ServiceStack.qll
  csharp/ql/src/Likely Bugs/EqualityCheckOnFloats.ql
  csharp/ql/src/experimental/ir/implementation/raw/internal/reachability/DominanceInternal.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/reachability/DominanceInternal.qll
  csharp/ql/src/experimental/ir/internal/CSharpType.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/ejb/EJBRestrictions.qll
  java/ql/src/Likely Bugs/Concurrency/BusyWait.ql
  java/ql/src/Performance/ConcatenationInLoops.ql
  java/ql/src/experimental/Security/CWE/CWE-759/HashWithoutSalt.ql
  javascript/ql/lib/semmle/javascript/security/dataflow/InsecureDownloadQuery.qll
  python/ql/lib/semmle/python/Flow.qll
  python/ql/lib/semmle/python/dataflow/old/Implementation.qll
  python/ql/lib/semmle/python/frameworks/Invoke.qll
  python/ql/lib/semmle/python/frameworks/RestFramework.qll
  python/ql/lib/semmle/python/pointsto/Base.qll
  python/ql/src/Lexical/CommentedOutCode.qll
  python/ql/test/library-tests/locations/implicit_concatenation/part_locations.ql
  python/ql/test/library-tests/locations/implicit_concatenation/parts.ql
  ql/ql/src/codeql_ql/bugs/PathProblemQueryQuery.qll
  ql/ql/src/codeql_ql/style/DeadCodeQuery.qll
  ql/ql/src/queries/bugs/PathProblemQuery.ql
  ql/ql/src/queries/style/DeadCode.ql
  ql/ql/src/queries/style/ToStringInQueryLogic.ql
  ql/ql/test/queries/style/DeadCode/DeadCode.expected
  ql/ql/test/queries/style/DeadCode/DeadCode.qlref
  ql/ql/test/queries/style/DeadCode/Foo.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImplCommon.qll
  ruby/ql/lib/codeql/ruby/frameworks/Files.qll
Labels: C#, JS, C++, Java, Python, no-change-note-required, Ruby, QL-for-QL

#8428 C++: Handle C11 _Noreturn in DefaultOptions
  cpp/ql/lib/DefaultOptions.qll
  cpp/ql/lib/Options.qll
  cpp/ql/lib/change-notes/2022-03-14-c11-noreturn.md
  cpp/ql/lib/semmle/code/cpp/Specifier.qll
  cpp/ql/test/query-tests/jsf/4.13 Functions/AV Rule 114/test.c
  cpp/ql/test/query-tests/jsf/4.13 Functions/AV Rule 114/test.cpp
Labels: C++, depends on internal PR, documentation

#8450 disallow lowercase import-as aliases
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Linq.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/data/Common.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/data/Entity.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/linq/Expressions.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/xml/XPath.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/ATMConfig.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/AdaptiveThreatModeling.qll
  javascript/ql/lib/semmle/javascript/frameworks/XmlParsers.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  ql/ql/src/codeql_ql/style/AcronymsShouldBeCamelCaseQuery.qll
  ql/ql/src/queries/style/NameCasing.ql
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplSpecific.qll
Labels: C#, JS, no-change-note-required, Ruby, QL-for-QL

#8164 Ruby: interpret string escape sequences in getConstantValue()
  ruby/ql/lib/change-notes/2022-03-16-string-escape-sequences.md
  ruby/ql/lib/codeql/NumberUtils.qll
  ruby/ql/lib/codeql/ruby/ast/Literal.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Literal.qll
  ruby/ql/lib/codeql/ruby/security/performance/RegExpTreeView.qll
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/AstDesugar.expected
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/escape_sequences/EscapeSequences.expected
  ruby/ql/test/library-tests/ast/escape_sequences/EscapeSequences.ql
  ruby/ql/test/library-tests/ast/escape_sequences/escapes.rb
  ruby/ql/test/library-tests/ast/literals/literals.expected
  ruby/ql/test/library-tests/ast/literals/literals.rb
  ruby/ql/test/library-tests/ast/misc/misc.expected
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/ReDoS.expected
Labels: documentation, Ruby

#8459 JS: add missing @security-severity to JS queries
  javascript/ql/src/Security/CWE-094/UnsafeCodeConstruction.ql
  javascript/ql/src/Security/CWE-347/MissingJWTKeyVerification.ql
  ql/ql/src/queries/style/MissingSecurityMetadata.ql
Labels: JS, no-change-note-required, QL-for-QL

#8399 Ruby: implement getComponent(n) for simple and hash-key symbols
  ruby/ql/lib/codeql/ruby/ast/Literal.qll
  ruby/ql/lib/codeql/ruby/ast/internal/AST.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Literal.qll
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/AstDesugar.expected
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/ValueText.ql
  ruby/ql/test/library-tests/ast/literals/literals.expected
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/frameworks/stdlib/Logger.expected
Labels: no-change-note-required, Ruby

#8320 C++: Handle initialization of structured bindings via bitwise copy in extractor
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Labels: C++, depends on internal PR

#8435 Add flow state versions of isBarrierIn, isBarrierOut, and isBarrierGuard
  cpp/ql/lib/change-notes/2022-03-14-flow-state-barriers.md
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/change-notes/2022-03-14-flow-state-barriers.md
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/lib/change-notes/2022-03-14-flow-state-barriers.md
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/lib/change-notes/2022-03-14-flow-state-barriers.md
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking1/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking3/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking4/TaintTrackingImpl.qll
  ruby/ql/lib/change-notes/2022-03-14-flow-state-barriers.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
Labels: C#, C++, documentation, Java, Python, Ruby

#8304 JS: Refactor the XSS / Client-side-url queries
  javascript/ql/lib/semmle/javascript/security/TaintedUrlSuffix.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/DomBasedXssCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/DomBasedXssQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/src/Security/CWE-079/Xss.ql
  javascript/ql/test/library-tests/frameworks/Templating/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/tst.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst13.js
Labels: JS, no-change-note-required

#8473 QL: expand redundant-inline-cast, and rename to redundant-cast
  ql/ql/src/codeql_ql/style/RedundantCastQuery.qll
  ql/ql/src/codeql_ql/style/RedundantInlineCastQuery.qll
  ql/ql/src/queries/style/RedundantCast.ql
  ql/ql/src/queries/style/RedundantInlineCast.ql
Labels: QL-for-QL

#8474 Dataflow: Flow-state changing steps should always be in path explanations
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#8332 Ruby: Use taint tracking instead of type tracking to define `regExpSource`
  config/identical-files.json
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttrackingforlibraries/TaintTrackingImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttrackingforlibraries/TaintTrackingParameter.qll
  ruby/ql/lib/codeql/ruby/security/performance/ParseRegExp.qll
Labels: no-change-note-required, Ruby

#8483 C++: Add additional command line injection tests
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/test.cpp
Labels: C++

#8478 JS: fix context sensitivity bug in store-load matching
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/change-notes/2022-03-18-store-load-flow-context-sensitivity-bug.md
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/summarize-store-load-in-call.js
Labels: JS, documentation

#8395 Ruby: add `rb/clear-text-storage-sensitive-data` query
  javascript/ql/lib/semmle/javascript/security/internal/SensitiveDataHeuristics.qll
  python/ql/lib/semmle/python/security/internal/SensitiveDataHeuristics.qll
  ruby/ql/lib/codeql/ruby/security/CleartextLoggingCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/CleartextStorageCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/CleartextStorageQuery.qll
  ruby/ql/lib/codeql/ruby/security/internal/CleartextSources.qll
  ruby/ql/lib/codeql/ruby/security/internal/SensitiveDataHeuristics.qll
  ruby/ql/src/change-notes/2022-03-05-rb-clear-text-storage-sensitive-data.md
  ruby/ql/src/queries/security/cwe-312/CleartextStorage.qhelp
  ruby/ql/src/queries/security/cwe-312/CleartextStorage.ql
  ruby/ql/src/queries/security/cwe-312/examples/CleartextStorageBad.rb
  ruby/ql/src/queries/security/cwe-312/examples/CleartextStorageGood.rb
  ruby/ql/test/query-tests/security/cwe-312/CleartextLogging.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextStorage.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextStorage.qlref
  ruby/ql/test/query-tests/security/cwe-312/app/controllers/users_controller.rb
  ruby/ql/test/query-tests/security/cwe-312/app/models/user.rb
Labels: JS, documentation, Python, Ruby

#8512 Fix dead link in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: documentation

#8521 Ruby: sync ExponentialBackTracking.qll
  config/identical-files.json
  ruby/ql/lib/codeql/ruby/security/performance/ExponentialBackTracking.qll
Labels: no-change-note-required, Ruby

#8466 C#: Refactor asPartial to allow re-use.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/src/utils/model-generator/ModelGeneratorUtilsSpecific.qll
  csharp/ql/test/library-tests/dataflow/library/FlowSummariesFiltered.ql
  csharp/ql/test/shared/FlowSummaries.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/src/utils/model-generator/ModelGeneratorUtilsSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, no-change-note-required, Ruby

#8061 Python: Add data-flow through Django ORM models
  python/ql/lib/change-notes/2022-02-17-Django-orm-dataflow-steps.md
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackerSpecific.qll
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/test/2/library-tests/locations/general/Locations.expected
  python/ql/test/3/library-tests/locations/general/Locations.expected
  python/ql/test/library-tests/frameworks/django-orm/.gitignore
  python/ql/test/library-tests/frameworks/django-orm/NormalDataflowTest.expected
  python/ql/test/library-tests/frameworks/django-orm/NormalDataflowTest.ql
  python/ql/test/library-tests/frameworks/django-orm/README.md
  python/ql/test/library-tests/frameworks/django-orm/ReflectedXss.expected
  python/ql/test/library-tests/frameworks/django-orm/ReflectedXss.qlref
  python/ql/test/library-tests/frameworks/django-orm/dataflow-consistency.expected
  python/ql/test/library-tests/frameworks/django-orm/dataflow-consistency.ql
  python/ql/test/library-tests/frameworks/django-orm/dummy_import.py
  python/ql/test/library-tests/frameworks/django-orm/manage.py
  python/ql/test/library-tests/frameworks/django-orm/pytest.ini
  python/ql/test/library-tests/frameworks/django-orm/testapp/__init__.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/admin.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/apps.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/migrations/__init__.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/models.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/orm_form_test.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/orm_inheritance.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/orm_security_tests.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/orm_tests.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/templates/form_example.html
  python/ql/test/library-tests/frameworks/django-orm/testapp/tests.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/urls.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/views.py
  python/ql/test/library-tests/frameworks/django-orm/testproj/__init__.py
  python/ql/test/library-tests/frameworks/django-orm/testproj/asgi.py
  python/ql/test/library-tests/frameworks/django-orm/testproj/settings.py
  python/ql/test/library-tests/frameworks/django-orm/testproj/urls.py
  python/ql/test/library-tests/frameworks/django-orm/testproj/wsgi.py
Labels: documentation, Python

#8507 C++: Make getUnderlyingType nomagic
  cpp/ql/lib/semmle/code/cpp/Type.qll
Labels: C++, no-change-note-required

#8486 Python: switch to shared implementation of IncompleteHostnameRegExp.ql
  config/identical-files.json
  python/ql/lib/semmle/python/RegexTreeView.qll
  python/ql/lib/semmle/python/dataflow/new/Regexp.qll
  python/ql/src/Security/CWE-020/HostnameRegexpShared.qll
  python/ql/src/Security/CWE-020/HostnameRegexpSpecific.qll
  python/ql/src/Security/CWE-020/IncompleteHostnameRegExp.ql
  python/ql/test/query-tests/Security/CWE-020-IncompleteHostnameRegExp/IncompleteHostnameRegExp.expected
Labels: Python, no-change-note-required

#8526 C++: Add internal `ExtractionError` query
  cpp/ql/src/Diagnostics/Internal/ExtractionErrors.ql
  cpp/ql/src/Diagnostics/Internal/ExtractionErrors.qll
  misc/suite-helpers/code-scanning-selectors.yml
Labels: C++, no-change-note-required

#8476 Python/JS/Ruby: Shared concepts scaffolding
  config/identical-files.json
  javascript/ql/lib/semmle/javascript/internal/ConceptsImports.qll
  javascript/ql/lib/semmle/javascript/internal/ConceptsShared.qll
  python/ql/lib/semmle/python/internal/ConceptsImports.qll
  python/ql/lib/semmle/python/internal/ConceptsShared.qll
  ruby/ql/lib/codeql/ruby/internal/ConceptsImports.qll
  ruby/ql/lib/codeql/ruby/internal/ConceptsShared.qll
Labels: JS, Python, no-change-note-required, Ruby

#8491 C++: Use flow states in `cpp/command-line-injection`
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
  cpp/ql/src/change-notes/2022-03-21-command-line-injection-with-flow-states.md
  cpp/ql/test/query-tests/Security/CWE/CWE-078/SAMATE/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/test.cpp
Labels: C++, documentation

#8525 C++: Consider columns in `Location.isBefore`
  cpp/ql/lib/semmle/code/cpp/Location.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#8289 Python: Fix syntax error in `with` test output
  python/ql/test/3/library-tests/with/test.expected
Labels: depends on internal PR, Python, no-change-note-required

#8451 C#: Model generator improvements and more tests
  csharp/ql/lib/semmle/code/csharp/commons/Collections.qll
  csharp/ql/src/utils/model-generator/ModelGeneratorUtilsSpecific.qll
  csharp/ql/test/utils/model-generator/CaptureSummaryModels.expected
  csharp/ql/test/utils/model-generator/NoSummaries.cs
  csharp/ql/test/utils/model-generator/Summaries.cs
  csharp/ql/test/utils/model-generator/options
Labels: C#, no-change-note-required

#8536 JS: Bump version numbers of ML-powered packs after 0.2.0 release
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/model/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/codeql-pack.lock.yml
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/codeql-pack.lock.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/test/codeql-pack.lock.yml
Labels: JS

#8479 C++: Fix expensive getWideCharType().
  cpp/ql/lib/semmle/code/cpp/models/interfaces/FormattingFunction.qll
Labels: C++, no-change-note-required

#8523 JS: Add dedicated API graph label for the receiver, instead of parameter -1
  javascript/ql/lib/change-notes/2022-03-23-api-graph-receiver-label.md
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ExternalAPIUsedWithUntrustedDataCustomizations.qll
  javascript/ql/test/ApiGraphs/bound-args/index.js
  javascript/ql/test/ApiGraphs/partial-invoke/index.js
  javascript/ql/test/library-tests/frameworks/Knex/test.expected
Labels: JS, documentation

#8461 Add query for double-fetch vulnerability
  cpp/ql/src/experimental/Security/CWE/CWE-362/double-fetch.ql
Labels: C++

#8517 Ruby: fix bug with captured variable reads in lambdas
  ruby/ql/lib/codeql/ruby/ast/internal/Variable.qll
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/calls/calls.expected
  ruby/ql/test/library-tests/ast/calls/calls.rb
Labels: no-change-note-required, Ruby

#8543 Ruby: Fix bad name of lambda in test
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/calls/calls.rb
Labels: Ruby

#8535 Ruby: fix location of setter-call argument
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
  ruby/ql/test/library-tests/ast/AstDesugar.expected
  ruby/ql/test/library-tests/ast/calls/calls.expected
  ruby/ql/test/library-tests/concepts/PersistentWriteAccess.expected
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/Nodes.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
  ruby/ql/test/query-tests/security/cwe-295/RequestWithoutValidation.expected
Labels: no-change-note-required, Ruby

#8524 Ruby: Minor change of SSRF concept
  ruby/ql/lib/change-notes/2022-03-09-http-client-getaurlpart.md
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/HttpClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/lib/codeql/ruby/security/ServerSideRequestForgeryCustomizations.qll
  ruby/ql/test/library-tests/frameworks/http_clients/HttpClients.ql
Labels: documentation, Ruby

#8481 JS: recognize string replacement chains as scheme checks in js/incomplete-url-scheme-check
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck.js
Labels: JS, no-change-note-required

#8529 Java: Fix harmless search-replace mistake
  java/ql/test/library-tests/frameworks/apache-commons-lang3/Test.java
Labels: Java

#8534 C++: Handle bitwise copies in copy constructors
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/defuse/isAddressOfAccess.expected
  cpp/ql/test/library-tests/defuse/parameterUsePair.expected
  cpp/ql/test/library-tests/defuse/useOfVar.expected
  cpp/ql/test/library-tests/defuse/useOfVarActual.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Labels: C++, depends on internal PR, no-change-note-required

#8542 C++: Use `iterated (post)dominance frontier` algorithm in `IRBlock`
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRBlock.qll
Labels: C#, C++, no-change-note-required

#8547 Python: Import framework-modeling in `regex.qll`
  python/ql/lib/semmle/python/regex.qll
Labels: Python, no-change-note-required

#8540 Python: Add call graph meta-query
  python/ql/src/meta/analysis-quality/CallGraph.ql
Labels: no-change-note-required

#8506 Java/C#: Generalize script for generating flow models.
  java/ql/src/utils/model-generator/GenerateFlowModel.py
  misc/scripts/models-as-data/generate_flow_model.py
Labels: Java

#8553 Suites: Remove self-referential `from` directives
  cpp/ql/src/codeql-suites/cpp-code-scanning.qls
  cpp/ql/src/codeql-suites/cpp-lgtm-full.qls
  cpp/ql/src/codeql-suites/cpp-security-and-quality.qls
  cpp/ql/src/codeql-suites/cpp-security-extended.qls
Labels: C++

#7806 Python: Add def nodes to API graphs
  python/ql/lib/semmle/python/ApiGraphs.qll
  python/ql/lib/semmle/python/frameworks/Aiomysql.qll
  python/ql/lib/semmle/python/frameworks/Aiopg.qll
  python/ql/lib/semmle/python/frameworks/Asyncpg.qll
  python/ql/lib/semmle/python/frameworks/Requests.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/src/Security/CWE-295/RequestWithoutValidation.ql
  python/ql/test/TestUtilities/VerifyApiGraphs.qll
  python/ql/test/experimental/dataflow/ApiGraphs/awaited.ql
  python/ql/test/experimental/dataflow/ApiGraphs/mypkg/__init__.py
  python/ql/test/experimental/dataflow/ApiGraphs/mypkg/bar.py
  python/ql/test/experimental/dataflow/ApiGraphs/mypkg/foo.py
  python/ql/test/experimental/dataflow/ApiGraphs/use.ql
  python/ql/test/library-tests/ApiGraphs/py2/options
  python/ql/test/library-tests/ApiGraphs/py2/test.py
  python/ql/test/library-tests/ApiGraphs/py2/use.expected
  python/ql/test/library-tests/ApiGraphs/py2/use.ql
  python/ql/test/library-tests/ApiGraphs/py2/verifyApiGraphs.expected
  python/ql/test/library-tests/ApiGraphs/py2/verifyApiGraphs.ql
  python/ql/test/library-tests/ApiGraphs/py3/async_test.py
  python/ql/test/library-tests/ApiGraphs/py3/dataflow-consistency.expected
  python/ql/test/library-tests/ApiGraphs/py3/dataflow-consistency.ql
  python/ql/test/library-tests/ApiGraphs/py3/deftest1.py
  python/ql/test/library-tests/ApiGraphs/py3/deftest2.py
  python/ql/test/library-tests/ApiGraphs/py3/options
  python/ql/test/library-tests/ApiGraphs/py3/test.py
  python/ql/test/library-tests/ApiGraphs/py3/test1.py
  python/ql/test/library-tests/ApiGraphs/py3/test2.py
  python/ql/test/library-tests/ApiGraphs/py3/test3.py
  python/ql/test/library-tests/ApiGraphs/py3/test4.py
  python/ql/test/library-tests/ApiGraphs/py3/test5.py
  python/ql/test/library-tests/ApiGraphs/py3/test6.py
  python/ql/test/library-tests/ApiGraphs/py3/test7.py
  python/ql/test/library-tests/ApiGraphs/py3/test_deep.py
  python/ql/test/library-tests/ApiGraphs/py3/test_import_star.py
  python/ql/test/library-tests/ApiGraphs/py3/test_import_star2.py
  python/ql/test/library-tests/ApiGraphs/py3/verifyApiGraphs.expected
  python/ql/test/library-tests/ApiGraphs/py3/verifyApiGraphs.ql
Labels: Python, no-change-note-required

#8574 QL: two small improvements
  ql/ql/src/codeql_ql/ast/Ast.qll
Labels: QL-for-QL

#8575 QL: fix Import::getImportString
  ql/ql/src/codeql_ql/ast/Ast.qll
Labels: QL-for-QL

#8533 JS/Ruby: Represent non-positional arguments with Argument/Parameter tokens
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  javascript/ql/test/library-tests/frameworks/data/test.expected
  javascript/ql/test/library-tests/frameworks/data/test.js
  javascript/ql/test/library-tests/frameworks/data/test.ql
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveStorage.qll
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/String.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsSpecific.qll
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
  ruby/ql/test/library-tests/dataflow/summaries/summaries.rb
Labels: JS, no-change-note-required, Ruby

#8577 JS/Ruby: Fix regexp in MaD checking
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  javascript/ql/test/library-tests/frameworks/data/warnings.expected
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
Labels: JS, no-change-note-required, Ruby

#8579 JS: write all CSV rows as literals
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Labels: JS, no-change-note-required

#8423 [CPP][Linux Kernel]Add ql to detect CVE-2017-5123
  cpp/ql/src/experimental/Security/CWE/CWE-020/NoCheckBeforeUnsafePutUser.ql
Labels: C++

#7985 Ruby: separate constant propagation of regexps from strings
  ruby/ql/lib/change-notes/2022-03-25-deprecate-getStringOrSymbol.md
  ruby/ql/lib/change-notes/2022-03-25-regexp-constant-values.md
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/ast/Constant.qll
  ruby/ql/lib/codeql/ruby/ast/Expr.qll
  ruby/ql/lib/codeql/ruby/ast/Method.qll
  ruby/ql/lib/codeql/ruby/ast/Pattern.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Constant.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionDispatch.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionView.qll
  ruby/ql/lib/codeql/ruby/frameworks/Files.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/lib/codeql/ruby/frameworks/XmlParsing.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/lib/codeql/ruby/regexp/internal/ParseRegExp.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeDeserializationCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/XSS.qll
  ruby/ql/lib/codeql/ruby/security/internal/CleartextSources.qll
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/ValueText.ql
  ruby/ql/test/library-tests/ast/escape_sequences/EscapeSequences.expected
  ruby/ql/test/library-tests/ast/escape_sequences/EscapeSequences.ql
  ruby/ql/test/library-tests/ast/misc/misc.ql
Labels: documentation, Ruby

#8445 Sign, Modulus, and Range analysis for C++ using sharable semantic layer
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/Semantic.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticBound.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticCFG.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticExpr.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticExprSpecific.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticGuard.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticOpcode.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticSSA.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticType.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticTypeSpecific.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/ConstantAnalysis.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/ConstantAnalysisSpecific.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/ModulusAnalysis.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/ModulusAnalysisSpecific.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysis.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysisSpecific.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeUtils.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/Sign.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/SignAnalysisCommon.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/SignAnalysisSpecific.qll
  cpp/ql/test/library-tests/ir/modulus-analysis/ModulusAnalysis.expected
  cpp/ql/test/library-tests/ir/modulus-analysis/ModulusAnalysis.ql
  cpp/ql/test/library-tests/ir/modulus-analysis/test.cpp
  cpp/ql/test/library-tests/ir/range-analysis/RangeAnalysis.expected
  cpp/ql/test/library-tests/ir/range-analysis/RangeAnalysis.ql
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
  cpp/ql/test/library-tests/ir/sign-analysis/SignAnalysis.expected
  cpp/ql/test/library-tests/ir/sign-analysis/SignAnalysis.ql
  cpp/ql/test/library-tests/ir/sign-analysis/test.cpp
Labels: C++, Java

#8590 Ruby: Cherry pick performance fixes onto `rc/3.5`
  ruby/ql/lib/codeql/ruby/ast/Constant.qll
  ruby/ql/lib/codeql/ruby/ast/Expr.qll
  ruby/ql/lib/codeql/ruby/ast/Literal.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Constant.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Literal.qll
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/security/performance/RegExpTreeView.qll
  ruby/ql/test/library-tests/ast/ValueText.expected
Labels: no-change-note-required, Ruby

#8532 JS/Ruby/Python: rename RegExpTreeView.qll to ReDoSUtilSpecific.qll
  javascript/ql/lib/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/lib/semmle/javascript/security/performance/ReDoSUtilSpecific.qll
  python/ql/lib/semmle/python/security/performance/ReDoSUtil.qll
  python/ql/lib/semmle/python/security/performance/ReDoSUtilSpecific.qll
  python/ql/src/Security/CWE-020/HostnameRegexpSpecific.qll
  ruby/ql/lib/codeql/ruby/security/performance/ReDoSUtil.qll
  ruby/ql/lib/codeql/ruby/security/performance/ReDoSUtilSpecific.qll
Labels: JS, documentation, Python, no-change-note-required, Ruby

#8257 Java: CWE-200 Query to detect insecure WebResourceResponse implementation
  java/ql/src/experimental/Security/CWE/CWE-200/AndroidWebResourceResponse.qll
  java/ql/src/experimental/Security/CWE/CWE-200/InsecureWebResourceResponse.java
  java/ql/src/experimental/Security/CWE/CWE-200/InsecureWebResourceResponse.qhelp
  java/ql/src/experimental/Security/CWE/CWE-200/InsecureWebResourceResponse.ql
  java/ql/src/experimental/semmle/code/java/PathSanitizer.qll
  java/ql/test/experimental/query-tests/security/CWE-200/AndroidManifest.xml
  java/ql/test/experimental/query-tests/security/CWE-200/InsecureWebResourceResponse.expected
  java/ql/test/experimental/query-tests/security/CWE-200/InsecureWebResourceResponse.java
  java/ql/test/experimental/query-tests/security/CWE-200/InsecureWebResourceResponse.qlref
  java/ql/test/experimental/query-tests/security/CWE-200/InsecureWebViewActivity.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/MimeTypeMap.java
  java/ql/test/stubs/google-android-9.0.0/androidx/webkit/WebViewAssetLoader.java
Labels: documentation, Java

#8580 C++: Port PrivateData.qll from C# and use it in cpp/cleartext-transmission
  cpp/ql/lib/change-notes/2022-03-28-private-data.md
  cpp/ql/lib/experimental/semmle/code/cpp/security/PrivateCleartextWrite.qll
  cpp/ql/lib/experimental/semmle/code/cpp/security/PrivateData.qll
  cpp/ql/lib/semmle/code/cpp/security/PrivateData.qll
  cpp/ql/lib/semmle/code/cpp/security/SensitiveExprs.qll
  cpp/ql/src/Security/CWE/CWE-311/CleartextTransmission.ql
  cpp/ql/src/change-notes/2022-03-28-cleartext-transmission.md
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test3.cpp
Labels: C++, documentation

#8348 C#: ExternalAPI implementation for Telemetry.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/Telemetry/ExternalApi.qll
  csharp/ql/src/Telemetry/ExternalLibraryUsage.ql
  csharp/ql/src/Telemetry/SupportedExternalSinks.ql
  csharp/ql/src/Telemetry/SupportedExternalSources.ql
  csharp/ql/src/Telemetry/SupportedExternalTaint.ql
  csharp/ql/src/Telemetry/UnsupportedExternalAPIs.ql
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/ExternalLibraryUsage.cs
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/ExternalLibraryUsage.expected
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/ExternalLibraryUsage.qlref
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/SupportedExternalTaint.expected
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/SupportedExternalTaint.qlref
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/UnsupportedExternalAPIs.expected
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/UnsupportedExternalAPIs.qlref
  csharp/ql/test/query-tests/Telemetry/SupportedExternalSinks/SupportedExternalSinks.cs
  csharp/ql/test/query-tests/Telemetry/SupportedExternalSinks/SupportedExternalSinks.expected
  csharp/ql/test/query-tests/Telemetry/SupportedExternalSinks/SupportedExternalSinks.qlref
  csharp/ql/test/query-tests/Telemetry/SupportedExternalSinks/options
  csharp/ql/test/query-tests/Telemetry/SupportedExternalSources/SupportedExternalSources.cs
  csharp/ql/test/query-tests/Telemetry/SupportedExternalSources/SupportedExternalSources.expected
  csharp/ql/test/query-tests/Telemetry/SupportedExternalSources/SupportedExternalSources.qlref
  java/ql/src/Telemetry/ExternalApi.qll
  java/ql/src/Telemetry/ExternalLibraryUsage.ql
  java/ql/src/Telemetry/SupportedExternalSinks.ql
  java/ql/src/Telemetry/SupportedExternalSources.ql
  java/ql/src/Telemetry/SupportedExternalTaint.ql
  java/ql/src/Telemetry/UnsupportedExternalAPIs.ql
Labels: C#, Java, no-change-note-required

#8624 Ruby: Fix broken import
  ruby/ql/src/queries/security/cwe-020/IncompleteUrlSubstringSanitizationSpecific.qll
Labels: no-change-note-required, Ruby

#8625 Java: Fix acronym casing in qldoc referring to Java class names.
  java/ql/lib/semmle/code/java/frameworks/Networking.qll
  java/ql/lib/semmle/code/java/security/Encryption.qll
  java/ql/lib/semmle/code/java/security/XmlParsers.qll
  java/ql/src/experimental/Security/CWE/CWE-611/XXELib.qll
Labels: Java, no-change-note-required

#8620 CLI docs: make the running text match the example
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
Labels: documentation

#8493 [Java]: Add precondition support for testing library asserts
  java/ql/lib/change-notes/2022-03-18-test-assertion-guards.md
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
  java/ql/lib/semmle/code/java/controlflow/internal/GuardsLogic.qll
  java/ql/lib/semmle/code/java/controlflow/internal/Preconditions.qll
  java/ql/test/library-tests/guards/Logic.java
  java/ql/test/library-tests/guards/Preconditions.java
  java/ql/test/library-tests/guards/guardslogic.expected
  java/ql/test/library-tests/guards/guardspreconditions.expected
  java/ql/test/library-tests/guards/guardspreconditions.ql
  java/ql/test/library-tests/guards/options
  java/ql/test/query-tests/Nullness/NullAlways.expected
  java/ql/test/stubs/junit-jupiter-api-5.2.0/org/junit/jupiter/api/Assertions.java
Labels: documentation, Java
