Repository github/codeql, pull requests merged in 2022-06, with the labels that each got.

#9257 Java: Update commons-io SHA for model regeneration and update models.
  .github/workflows/mad_modelDiff.yml
  .github/workflows/mad_regenerate-models.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/apache/IO.qll
  java/ql/lib/semmle/code/java/frameworks/apache/IOGenerated.qll
  java/ql/lib/semmle/code/java/frameworks/generated.qll
  java/ql/src/utils/model-generator/RegenerateModels.py
  java/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
Labels: Java, no-change-note-required

#9316 Data flow: Make `PathGraph::edges/2` and `PathNode::getASuccessor/1` consistent
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/test/experimental/dataflow/basic/globalStep.expected
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby, Swift

#9351 Python: Support `read` on Django file
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/test/library-tests/frameworks/django-v2-v3/taint_test.py
Labels: Python, no-change-note-required

#9380 Swift: generate `getParent` implementation
  .pre-commit-config.yaml
  config/identical-files.json
  swift/codegen/generators/qlgen.py
  swift/codegen/lib/ql.py
  swift/codegen/lib/schema.py
  swift/codegen/schema.yml
  swift/codegen/templates/ql_parent.mustache
  swift/codegen/test/test_qlgen.py
  swift/codegen/test/test_schema.py
  swift/extractor/visitors/ExprVisitor.h
  swift/ql/lib/codeql/swift/elements.qll
  swift/ql/lib/codeql/swift/elements/Element.qll
  swift/ql/lib/codeql/swift/generated/GetImmediateParent.qll
  swift/ql/lib/codeql/swift/generated/expr/TapExpr.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/declarations/accessor.expected
  swift/ql/test/extractor-tests/declarations/all.expected
  swift/ql/test/extractor-tests/declarations/declarations.swift
  swift/ql/test/extractor-tests/declarations/func.expected
  swift/ql/test/extractor-tests/declarations/func_body.expected
  swift/ql/test/extractor-tests/declarations/func_params.expected
  swift/ql/test/extractor-tests/statements/ConditionElements.expected
  swift/ql/test/extractor-tests/statements/LabeledConditionalStmts.expected
  swift/ql/test/extractor-tests/statements/LabeledStmts.expected
  swift/ql/test/extractor-tests/statements/Labels.expected
  swift/ql/test/extractor-tests/statements/YieldStmts.expected
  swift/ql/test/extractor-tests/statements/statements.swift
  swift/ql/test/library-tests/parent/declarations.swift
  swift/ql/test/library-tests/parent/expressions.swift
  swift/ql/test/library-tests/parent/no_double_parents.expected
  swift/ql/test/library-tests/parent/no_double_parents.ql
  swift/ql/test/library-tests/parent/parent.expected
  swift/ql/test/library-tests/parent/parent.ql
  swift/ql/test/library-tests/parent/patterns.swift
  swift/ql/test/library-tests/parent/statements.swift
  swift/tools/qltest.sh
Labels: no-change-note-required, Swift

#9398 Swift: simplify `GetImmediateParent.qll`
  swift/codegen/generators/qlgen.py
  swift/codegen/lib/ql.py
  swift/codegen/templates/ql_parent.mustache
  swift/codegen/test/test_qlgen.py
  swift/ql/lib/codeql/swift/generated/GetImmediateParent.qll
Labels: no-change-note-required, Swift

#9397 Swift: Use the autogenerated `getParent`
  swift/ql/lib/codeql/swift/controlflow/internal/Scope.qll
Labels: no-change-note-required, Swift

#9402 Swift: merge `codegen` and `cppcodegen`
  .github/workflows/swift-codegen.yml
  swift/BUILD.bazel
  swift/codegen/BUILD.bazel
  swift/codegen/codegen.py
  swift/codegen/cppcodegen.py
  swift/codegen/generators/__init__.py
  swift/codegen/generators/cppgen.py
  swift/codegen/generators/dbschemegen.py
  swift/codegen/generators/generator.py
  swift/codegen/generators/options.py
  swift/codegen/generators/qlgen.py
  swift/codegen/generators/trapgen.py
  swift/extractor/trap/BUILD.bazel
Labels: Swift

#9401 Kotlin: Reuse `codeQlWithHasQuestionMark`
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#9405 Kotlin: Introduce / restore implied wildcard types
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/function-n/test.expected
  java/ql/test/kotlin/library-tests/java-kotlin-collection-type-generic-methods/test.expected
  java/ql/test/kotlin/library-tests/multiple_extensions/calls.expected
  java/ql/test/kotlin/library-tests/reflection/PrintAst.expected
Labels: Kotlin

#9419 Revert "Swift: Control-flow for key paths"
  swift/ql/lib/codeql/swift/controlflow/BasicBlocks.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowElements.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/lib/codeql/swift/controlflow/internal/Scope.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/cfg.swift
Labels: no-change-note-required, Swift

#9418 Kotlin: add test for Java and Kotlin both extending Map.Entry
  java/ql/test/kotlin/library-tests/kotlin-java-map-entries/C.java
  java/ql/test/kotlin/library-tests/kotlin-java-map-entries/b.kt
  java/ql/test/kotlin/library-tests/kotlin-java-map-entries/test.expected
  java/ql/test/kotlin/library-tests/kotlin-java-map-entries/test.ql
Labels: Kotlin

#9410 Swift: extract only primary files
  swift/extractor/SwiftExtractor.cpp
  swift/tools/qltest.sh
Labels: Swift

#9420 Go: Sync InlineExpectationsTest
  config/identical-files.json
  go/ql/test/TestUtilities/InlineExpectationsTest.qll
  go/ql/test/TestUtilities/InlineFlowTest.qll
  go/ql/test/experimental/frameworks/CleverGo/HeaderWrite.ql
  go/ql/test/experimental/frameworks/CleverGo/HttpRedirect.ql
  go/ql/test/experimental/frameworks/CleverGo/HttpResponseBody.ql
  go/ql/test/experimental/frameworks/CleverGo/TaintTracking.ql
  go/ql/test/experimental/frameworks/CleverGo/UntrustedSources.ql
  go/ql/test/experimental/frameworks/Fiber/HeaderWrite.ql
  go/ql/test/experimental/frameworks/Fiber/Redirect.ql
  go/ql/test/experimental/frameworks/Fiber/ResponseBody.ql
  go/ql/test/experimental/frameworks/Fiber/TaintTracking.ql
  go/ql/test/experimental/frameworks/Fiber/UntrustedFlowSources.ql
  go/ql/test/library-tests/semmle/go/Function/isVariadic.ql
  go/ql/test/library-tests/semmle/go/Types/ImplementsComparable.ql
  go/ql/test/library-tests/semmle/go/Types/SignatureType_isVariadic.ql
  go/ql/test/library-tests/semmle/go/concepts/HTTP/Handler.ql
  go/ql/test/library-tests/semmle/go/concepts/LoggerCall/LoggerCall.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowVarArgs/Flows.ql
  go/ql/test/library-tests/semmle/go/dataflow/GuardingFunctions/test.ql
  go/ql/test/library-tests/semmle/go/dataflow/ListOfConstantsSanitizerGuards/test.ql
  go/ql/test/library-tests/semmle/go/dataflow/PromotedFields/DataFlowConfig.ql
  go/ql/test/library-tests/semmle/go/dataflow/PromotedMethods/DataFlowConfig.ql
  go/ql/test/library-tests/semmle/go/dataflow/TypeAssertions/DataFlow.ql
  go/ql/test/library-tests/semmle/go/dataflow/VarArgs/Flows.ql
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithFunctionModels/Flows.ql
  go/ql/test/library-tests/semmle/go/frameworks/CouchbaseV1/test.ql
  go/ql/test/library-tests/semmle/go/frameworks/ElazarlGoproxy/test.ql
  go/ql/test/library-tests/semmle/go/frameworks/EvanphxJsonPatch/TaintFlows.ql
  go/ql/test/library-tests/semmle/go/frameworks/GoKit/untrustedflowsource.ql
  go/ql/test/library-tests/semmle/go/frameworks/K8sIoApiCoreV1/TaintFlowsInline.ql
  go/ql/test/library-tests/semmle/go/frameworks/K8sIoApimachineryPkgRuntime/TaintFlowsInline.ql
  go/ql/test/library-tests/semmle/go/frameworks/K8sIoClientGo/SecretInterfaceSource.ql
  go/ql/test/library-tests/semmle/go/frameworks/NoSQL/Query.ql
  go/ql/test/library-tests/semmle/go/frameworks/Revel/test.ql
  go/ql/test/library-tests/semmle/go/frameworks/SQL/QueryString.ql
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/test.ql
  go/ql/test/library-tests/semmle/go/frameworks/Yaml/tests.ql
  go/ql/test/library-tests/semmle/go/frameworks/Zap/TaintFlows.ql
Labels: Go

#9400 Kotlin: Fix fake raw type symbols used by the Parcelize plugin
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#9427 Swift: build x86_64 on arm64 macOS
  swift/rules.bzl
  swift/tools/prebuilt/BUILD.bazel
Labels: Swift

#9416 Swift: document and partially simplify codegen
  swift/codegen/README.md
  swift/codegen/codegen.py
  swift/codegen/generators/cppgen.py
  swift/codegen/generators/dbschemegen.py
  swift/codegen/generators/trapgen.py
  swift/codegen/lib/cpp.py
  swift/codegen/lib/ql.py
  swift/codegen/templates/cpp_classes.mustache
  swift/codegen/templates/trap_tags.mustache
  swift/codegen/templates/trap_traps.mustache
  swift/codegen/test/test_cppgen.py
  swift/codegen/test/test_trapgen.py
  swift/extractor/trap/BUILD.bazel
Labels: documentation, Swift

#9454 Kotlin: Remove unused idOverride argument to extractFunction
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#9453 Kotlin: Simplify samMember computation
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#9475 Kotlin: Do each build in its own directory
  java/kotlin-extractor/build.py
Labels: Kotlin

#9468 Kotlin: Put overloads together
  java/kotlin-extractor/src/main/kotlin/ExternalDeclExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/TrapWriter.kt
  java/kotlin-extractor/src/main/kotlin/utils/TypeSubstitution.kt
Labels: Kotlin

#9407 RB: fix bad CP in the charPred for CipherOperation
  ruby/ql/lib/codeql/ruby/security/OpenSSL.qll
Labels: no-change-note-required, Ruby

#9399 C++: Improve performance of Printf::callsVariadicFormatter.
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
Labels: C++, no-change-note-required

#9404 Swift: Add `getEnclosingFunction` to `AstNode`
  swift/ql/lib/codeql/swift/elements/AstNode.qll
Labels: no-change-note-required, Swift

#9516 Swift: Reintroduce control-flow for key paths
  swift/ql/lib/codeql/swift/controlflow/BasicBlocks.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowElements.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/lib/codeql/swift/controlflow/internal/Scope.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/cfg.swift
Labels: no-change-note-required, Swift

#9469 Swift: Dataflow through inout parameters
  swift/codegen/schema.yml
  swift/extractor/visitors/DeclVisitor.h
  swift/ql/lib/codeql/swift/controlflow/CfgNodes.qll
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplSpecific.qll
  swift/ql/lib/codeql/swift/elements/decl/ParamDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/ParamDecl.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.ql
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Labels: no-change-note-required, Swift

#9157 Ruby/Python: Add a `BlockMode` concept for `CryptographicOperations`
  javascript/ql/lib/semmle/javascript/internal/ConceptsImports.qll
  javascript/ql/lib/semmle/javascript/internal/ConceptsShared.qll
  javascript/ql/lib/semmle/javascript/security/CryptoAlgorithms.qll
  javascript/ql/lib/semmle/javascript/security/internal/CryptoAlgorithmNames.qll
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/concepts/CryptoAlgorithms.qll
  python/ql/lib/semmle/python/concepts/internal/CryptoAlgorithmNames.qll
  python/ql/lib/semmle/python/frameworks/Cryptodome.qll
  python/ql/lib/semmle/python/frameworks/Cryptography.qll
  python/ql/lib/semmle/python/frameworks/Rsa.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/internal/ConceptsImports.qll
  python/ql/lib/semmle/python/internal/ConceptsShared.qll
  python/ql/src/Security/CWE-327/BrokenCryptoAlgorithm.ql
  python/ql/src/change-notes/2022-05-16-broken-crypto-block-mode.md
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/library-tests/frameworks/crypto/test_aes.py
  python/ql/test/library-tests/frameworks/cryptodome/test_aes.py
  python/ql/test/library-tests/frameworks/cryptography/test_aes.py
  python/ql/test/query-tests/Security/CWE-327-BrokenCryptoAlgorithm/BrokenCryptoAlgorithm.expected
  python/ql/test/query-tests/Security/CWE-327-BrokenCryptoAlgorithm/test_cryptodome.py
  python/ql/test/query-tests/Security/CWE-327-BrokenCryptoAlgorithm/test_cryptography.py
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/internal/ConceptsImports.qll
  ruby/ql/lib/codeql/ruby/internal/ConceptsShared.qll
  ruby/ql/lib/codeql/ruby/security/CryptoAlgorithms.qll
  ruby/ql/lib/codeql/ruby/security/OpenSSL.qll
  ruby/ql/lib/codeql/ruby/security/internal/CryptoAlgorithmNames.qll
  ruby/ql/src/change-notes/2022-05-16-broken-crypto-message.md
  ruby/ql/src/queries/security/cwe-327/BrokenCryptoAlgorithm.ql
  ruby/ql/test/library-tests/concepts/CryptographicOperation.expected
  ruby/ql/test/library-tests/concepts/CryptographicOperation.ql
  ruby/ql/test/library-tests/concepts/cryptographic_operations.rb
  ruby/ql/test/query-tests/security/cwe-327/BrokenCryptoAlgorithm.expected
Labels: JS, documentation, Python, Ruby

#7127 Python: CWE-079 - Add Email injection query
  python/ql/src/experimental/Security/CWE-079/ReflectedXSS.ql
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/frameworks/Django.qll
  python/ql/src/experimental/semmle/python/frameworks/Sendgrid.qll
  python/ql/src/experimental/semmle/python/libraries/FlaskMail.qll
  python/ql/src/experimental/semmle/python/libraries/SmtpLib.qll
  python/ql/src/experimental/semmle/python/security/dataflow/ReflectedXSS.qll
  python/ql/test/experimental/query-tests/Security/CWE-079/ReflectedXSS.expected
  python/ql/test/experimental/query-tests/Security/CWE-079/ReflectedXSS.qlref
  python/ql/test/experimental/query-tests/Security/CWE-079/django_mail.py
  python/ql/test/experimental/query-tests/Security/CWE-079/flask_mail.py
  python/ql/test/experimental/query-tests/Security/CWE-079/sendgrid_mail.py
  python/ql/test/experimental/query-tests/Security/CWE-079/sendgrid_via_mail_send_post_request_body_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-079/smtplib_bad_subparts.py
  python/ql/test/experimental/query-tests/Security/CWE-079/smtplib_bad_via_attach.py
Labels: Python

#9544 Fix URL in readme
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/README.md
Labels: documentation, Ruby

#9542 Swift: extract extension declarations
  swift/codegen/schema.yml
  swift/extractor/visitors/DeclVisitor.h
  swift/ql/lib/codeql/swift/generated/decl/ExtensionDecl.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/declarations/all.expected
  swift/ql/test/extractor-tests/declarations/declarations.swift
  swift/ql/test/extractor-tests/declarations/func.expected
  swift/ql/test/extractor-tests/declarations/func_body.expected
  swift/ql/test/library-tests/parent/declarations.swift
  swift/ql/test/library-tests/parent/parent.expected
Labels: no-change-note-required, Swift

#9549 Swift: remove toString from UnknownElement
  swift/ql/lib/codeql/swift/elements/Element.qll
  swift/ql/test/extractor-tests/expressions/all.expected
  swift/ql/test/extractor-tests/patterns/all.expected
  swift/ql/test/extractor-tests/types/Types.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/parent/parent.expected
Labels: no-change-note-required, Swift

#9550 C++: Add test for Dereferenced.qll.
  cpp/ql/test/library-tests/controlflow/dereferenced/dereferenced.cpp
  cpp/ql/test/library-tests/controlflow/dereferenced/dereferenced.expected
  cpp/ql/test/library-tests/controlflow/dereferenced/dereferenced.ql
Labels: C++, no-change-note-required

#9547 Kotlin: Fix wildcard introduction vs. constructor parameters
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#9526 QL: Add parser support for parameterised modules
  ql/Cargo.lock
  ql/extractor/Cargo.toml
  ql/generator/Cargo.toml
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ql/ql/src/ql.dbscheme
Labels: QL-for-QL

#9411 Swift: extract system and builtin modules separately
  swift/extractor/SwiftExtractor.cpp
  swift/ql/test/library-tests/controlflow/graph/Cfg.ql
Labels: Swift

#9556 Swift: Extract closure parameters
  swift/codegen/schema.yml
  swift/extractor/visitors/ExprVisitor.h
  swift/ql/lib/codeql/swift/generated/GetImmediateParent.qll
  swift/ql/lib/codeql/swift/generated/expr/AbstractClosureExpr.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/library-tests/parent/parent.expected
Labels: no-change-note-required, Swift

#9294 Java: Add support for BarrierGuards as parameterised modules.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPath.ql
Labels: Java, no-change-note-required

#9554 Kotlin: Add more Kotlin <-> Java special method name mappings
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/enum/enumUser.kt
  java/ql/test/kotlin/library-tests/enum/test.expected
  java/ql/test/kotlin/library-tests/enum/test.ql
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/binop.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/java-kotlin-collection-type-generic-methods/test.expected
  java/ql/test/kotlin/library-tests/java-lang-number-conversions/Test.java
  java/ql/test/kotlin/library-tests/java-lang-number-conversions/test.expected
  java/ql/test/kotlin/library-tests/java-lang-number-conversions/test.kt
  java/ql/test/kotlin/library-tests/java-lang-number-conversions/test.ql
  java/ql/test/kotlin/library-tests/java-list-kotlin-user/MyList.java
  java/ql/test/kotlin/library-tests/java-list-kotlin-user/test.expected
  java/ql/test/kotlin/library-tests/java-list-kotlin-user/test.kt
  java/ql/test/kotlin/library-tests/java-list-kotlin-user/test.ql
Labels: Kotlin

#9463 Python: Rewrite `py/request-without-cert-validation`
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
  python/ql/lib/semmle/python/frameworks/Httpx.qll
  python/ql/lib/semmle/python/frameworks/Requests.qll
  python/ql/lib/semmle/python/frameworks/Stdlib/Urllib.qll
  python/ql/lib/semmle/python/frameworks/Stdlib/Urllib2.qll
  python/ql/lib/semmle/python/frameworks/Urllib3.qll
  python/ql/src/Security/CWE-295/RequestWithoutValidation.ql
  python/ql/src/change-notes/2022-06-08-request-without-certificate-validation-modeling.md
  python/ql/test/library-tests/frameworks/aiohttp/client_request.py
  python/ql/test/library-tests/frameworks/httpx/test.py
  python/ql/test/library-tests/frameworks/requests/test.py
  python/ql/test/library-tests/frameworks/stdlib-py2/urllib2.py
  python/ql/test/library-tests/frameworks/stdlib/urllib.py
  python/ql/test/library-tests/frameworks/urllib3/test.py
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/RequestWithoutValidation.expected
  python/ql/test/query-tests/Security/CWE-295-RequestWithoutValidation/make_request.py
Labels: documentation, Python

#9557 Swift: Mark closures as callables in the CFG library
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowElements.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/lib/codeql/swift/controlflow/internal/Scope.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
Labels: no-change-note-required, Swift

#9561 Revert "C++: Fix test failures where location of reference dereference in lambda changed"
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
Labels: C++, depends on internal PR

#7669 QL: field unused in disjunct
  ql/ql/src/queries/performance/VarUnusedInDisjunct.ql
  ql/ql/test/queries/performance/VarUnusedInDisjunct/Test.qll
  ql/ql/test/queries/performance/VarUnusedInDisjunct/VarUnusedInDisjunct.expected
Labels: QL-for-QL

#9200 Python: Modernise weak file permissions query
  python/ql/src/Security/CWE-732/WeakFilePermissions.ql
  python/ql/test/query-tests/Security/CWE-732-WeakFilePermissions/WeakFilePermissions.expected
  python/ql/test/query-tests/Security/CWE-732-WeakFilePermissions/options
Labels: Python, no-change-note-required

#9555 Swift: Add MaD skeleton
  config/identical-files.json
  swift/ql/lib/codeql/swift/controlflow/CfgNodes.qll
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/FlowSummary.qll
  swift/ql/lib/codeql/swift/dataflow/internal/AccessPathSyntax.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/lib/codeql/swift/elements/decl/VarDecl.qll
Labels: no-change-note-required, Swift

#9568 QL: Allow module applications to the right of `::`
  ql/Cargo.lock
  ql/extractor/Cargo.toml
  ql/generator/Cargo.toml
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ql/ql/src/ql.dbscheme
Labels: QL-for-QL

#9573 CaptureSinkModels.ql: Fix typo
  csharp/ql/src/utils/model-generator/CaptureSinkModels.ql
  java/ql/src/utils/model-generator/CaptureSinkModels.ql
Labels: C#, Java, no-change-note-required

#9576 Swift: add empty implementation of `defaultImplicitTaintRead`
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPublic.qll
Labels: no-change-note-required, Swift

#9580 Fix Kotlin single-version build when the best candidate has trailing version info
  java/kotlin-extractor/kotlin_plugin_versions.py
Labels: Kotlin

#9477 RB: Adding experimental query for detecting path traversal in Archive libraries
  ruby/ql/lib/change-notes/released/0.2.3.md
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/Archive.qll
  ruby/ql/test/library-tests/frameworks/archive/Archive.expected
  ruby/ql/test/library-tests/frameworks/archive/Archive.ql
  ruby/ql/test/library-tests/frameworks/archive/Archive.rb
  ruby/ql/test/query-tests/security/cwe-022/ArchiveApiPathTraversal.rb
  ruby/ql/test/query-tests/security/cwe-022/PathInjection.expected
Labels: documentation, Ruby

#9582 Java: Remove some redundant string concatenations, and a double space
  java/ql/src/Likely Bugs/Cloning/MissingCallToSuperClone.ql
  java/ql/src/Likely Bugs/Likely Typos/ConstructorTypo.ql
  java/ql/src/Likely Bugs/Serialization/NonSerializableField.ql
  java/ql/test/query-tests/NonSerializableField/NonSerializableField.expected
Labels: Java, no-change-note-required

#9566 Ruby: recognize ActiveRecord `find_by_x` methods
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/test/library-tests/frameworks/ActionController.expected
  ruby/ql/test/library-tests/frameworks/ActiveRecord.expected
  ruby/ql/test/library-tests/frameworks/ActiveRecord.rb
Labels: no-change-note-required, Ruby

#9563 Kotlin: Name trap files after jvmnames
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/ClassNames.kt
  java/kotlin-extractor/src/main/kotlin/utils/JvmNames.kt
  java/ql/test/kotlin/library-tests/maps-iterator-overloads/test.expected
  java/ql/test/kotlin/library-tests/maps-iterator-overloads/test.kt
  java/ql/test/kotlin/library-tests/maps-iterator-overloads/test.ql
Labels: Kotlin

#9575 QL: support for parameterized modules
  ql/Cargo.lock
  ql/extractor/Cargo.toml
  ql/generator/Cargo.toml
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/AstNodes.qll
  ql/ql/src/codeql_ql/ast/internal/Module.qll
  ql/ql/src/codeql_ql/ast/internal/Predicate.qll
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ql/ql/src/codeql_ql/ast/internal/Type.qll
  ql/ql/src/codeql_ql/style/DeadCodeQuery.qll
  ql/ql/src/ide-contextual-queries/Definitions.qll
  ql/ql/src/ql.dbscheme
  ql/ql/src/queries/diagnostics/EmptyConsistencies.ql
  ql/ql/test/callgraph/ParamModules.qll
  ql/ql/test/callgraph/callgraph.expected
Labels: QL-for-QL

#6570 Python: Broaden noqa regex to allow comments
  python/ql/src/analysis/AlertSuppression.ql
  python/ql/test/query-tests/analysis/suppression/AlertSuppression.expected
Labels: Python, no-change-note-required

#9473 doc: Add missing closing bracket in basic-query-for-cpp-code
  docs/codeql/codeql-language-guides/basic-query-for-cpp-code.rst
Labels: documentation

#9564 C#: Change `kind` query metadata to `diagnostic` for compiler/extractor errors and messages
  csharp/ql/src/Diagnostics/CompilerError.ql
  csharp/ql/src/Diagnostics/CompilerMessage.ql
  csharp/ql/src/Diagnostics/ExtractorError.ql
  csharp/ql/src/Diagnostics/ExtractorMessage.ql
  csharp/ql/src/change-notes/2022-06-15-diagnostic-query-metadata.md
Labels: C#, documentation

#9612 Swift: Fix 'toString' on 'OtherConstructorDeclRefExpr'
  swift/ql/lib/codeql/swift/elements/expr/OtherConstructorDeclRefExpr.qll
  swift/ql/test/extractor-tests/expressions/all.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/parent/parent.expected
Labels: no-change-note-required, Swift

#9611 Swift: Add `nomagic` to `getLocation`
  swift/ql/lib/codeql/swift/elements/Locatable.qll
Labels: no-change-note-required, Swift

#9592 Swift: extend tracer config to handle -resource-dir and drop unsupported CLI args
  swift/tools/tracing-config.lua
Labels: Swift

#9610 C#: Fix global statement extraction
  csharp/extractor/Semmle.Extraction.CSharp/Entities/ImplicitMainMethod.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/OrdinaryMethod.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/GlobalStatementsBlock.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/CompilationUnitVisitor.cs
  csharp/ql/test/library-tests/csharp9-standalone/ExtractorError.expected
  csharp/ql/test/library-tests/csharp9-standalone/ExtractorError.ql
Labels: C#

#9559 Kotlin: substitute fake Parcelize functions with their real equivalent ones
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#9619 Swift: Generate better declaration names
  swift/extractor/visitors/DeclVisitor.h
  swift/ql/test/extractor-tests/declarations/all.expected
  swift/ql/test/extractor-tests/expressions/all.expected
  swift/ql/test/extractor-tests/expressions/semantics.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteFuncDecl/ConcreteFuncDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteFuncDecl/ConcreteFuncDecl_getBody.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteFuncDecl/ConcreteFuncDecl_getGenericTypeParam.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteFuncDecl/ConcreteFuncDecl_getParam.expected
  swift/ql/test/extractor-tests/generated/decl/EnumDecl/EnumDecl_getMember.expected
  swift/ql/test/extractor-tests/statements/ConditionElements.expected
  swift/ql/test/extractor-tests/types/ThrowingAndAsync.expected
  swift/ql/test/extractor-tests/types/Types.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.ql
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/parent/parent.expected
Labels: Swift

#9583 Fix broken links to information about Locations
  go/ql/lib/semmle/go/Errors.qll
  go/ql/lib/semmle/go/Files.qll
  go/ql/lib/semmle/go/Locations.qll
  go/ql/lib/semmle/go/Scopes.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowUtil.qll
  ql/ql/src/codeql/Locations.qll
  ql/ql/src/codeql/files/FileSystem.qll
Labels: no-change-note-required, Go, QL-for-QL

#9581 Kotlin: Remove a redundant cast
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#9432 RB: Adding decompression-api to experimental ruleset
  ruby/ql/src/experimental/decompression-api/DecompressionApi.qhelp
  ruby/ql/src/experimental/decompression-api/DecompressionApi.ql
  ruby/ql/src/experimental/decompression-api/examples/decompress.rb
  ruby/ql/test/query-tests/security/decompression-api/DecompressionApi.expected
  ruby/ql/test/query-tests/security/decompression-api/DecompressionApi.qlref
  ruby/ql/test/query-tests/security/decompression-api/decompression_api.rb
Labels: documentation, Ruby

#9230 Swift: use structured generated C++ classes in `DeclVisitor`
  swift/codegen/schema.yml
  swift/codegen/templates/cpp_classes.mustache
  swift/extractor/SwiftDispatcher.h
  swift/extractor/trap/TrapLabel.h
  swift/extractor/trap/TrapTagTraits.h
  swift/extractor/visitors/DeclVisitor.h
  swift/extractor/visitors/VisitorBase.h
  swift/ql/lib/codeql/swift/generated/Locatable.qll
  swift/ql/lib/swift.dbscheme
Labels: no-change-note-required, Swift

#9622 Swift: add --quiet to codegen
  .pre-commit-config.yaml
  swift/codegen/codegen.py
Labels: Swift

#9572 JS: add heuristic taint-step for potentially unmodelled libraries
  javascript/ql/lib/semmle/javascript/heuristics/AdditionalTaintSteps.qll
  javascript/ql/src/meta/analysis-quality/UnmodelledSteps.ql
Labels: JS, no-change-note-required

#9616 JS: Add withoutPropStep and model raw 'await' step with it
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/StepSummary.qll
  javascript/ql/test/library-tests/TypeTracking/TypeTracking.ql
  javascript/ql/test/library-tests/TypeTracking/raw-await.js
Labels: JS, no-change-note-required

#9631 C++: Add global variable tests
  cpp/ql/test/library-tests/variables/global/b.c
  cpp/ql/test/library-tests/variables/global/c.c
  cpp/ql/test/library-tests/variables/global/c.h
  cpp/ql/test/library-tests/variables/global/vardecl.expected
  cpp/ql/test/library-tests/variables/global/variables.expected
Labels: C++

#9617 Go: Properly escape dash in tracing-config.lua
  go/codeql-tools/tracing-config.lua
Labels: Go

#9637 Swift: Callable abstraction
  swift/codegen/schema.yml
  swift/extractor/visitors/ExprVisitor.h
  swift/ql/lib/codeql/swift/elements.qll
  swift/ql/lib/codeql/swift/elements/Callable.qll
  swift/ql/lib/codeql/swift/elements/decl/ParamDecl.qll
  swift/ql/lib/codeql/swift/generated/Callable.qll
  swift/ql/lib/codeql/swift/generated/GetImmediateParent.qll
  swift/ql/lib/codeql/swift/generated/decl/AbstractFunctionDecl.qll
  swift/ql/lib/codeql/swift/generated/expr/AbstractClosureExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/AutoClosureExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/ClosureExpr.qll
  swift/ql/lib/swift.dbscheme
Labels: no-change-note-required, Swift

#9553 C#/Java: Only display 1k most relevant results for ExternalApi telemetry queries.
  csharp/ql/src/Telemetry/ExternalApi.qll
  csharp/ql/src/Telemetry/ExternalLibraryUsage.ql
  csharp/ql/src/Telemetry/SupportedExternalSinks.ql
  csharp/ql/src/Telemetry/SupportedExternalSources.ql
  csharp/ql/src/Telemetry/SupportedExternalTaint.ql
  csharp/ql/src/Telemetry/UnsupportedExternalAPIs.ql
  java/ql/src/Telemetry/ExternalApi.qll
  java/ql/src/Telemetry/ExternalLibraryUsage.ql
  java/ql/src/Telemetry/SupportedExternalSinks.ql
  java/ql/src/Telemetry/SupportedExternalSources.ql
  java/ql/src/Telemetry/SupportedExternalTaint.ql
  java/ql/src/Telemetry/UnsupportedExternalAPIs.ql
Labels: C#, Java, no-change-note-required

#9640 Kotlin/Java: Add the beginnings of a "visibility" consistency query
  java/ql/consistency-queries/visibility.ql
Labels: Java

#9319 Kotlin: Add taint step for String.valueOf(Editable)
  java/ql/lib/change-notes/2022-05-25-string-valueof-editable-step.md
  java/ql/lib/semmle/code/java/frameworks/android/Widget.qll
  java/ql/test/library-tests/frameworks/android/widget/TestWidget.java
  java/ql/test/library-tests/frameworks/android/widget/TestWidgetKt.kt
  java/ql/test/library-tests/frameworks/android/widget/options
  java/ql/test/library-tests/frameworks/android/widget/test.expected
  java/ql/test/library-tests/frameworks/android/widget/test.ql
Labels: documentation, Java

#9571 Kotlin: Implement array type variance lowering
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/arrays-with-variances/User.java
  java/ql/test/kotlin/library-tests/arrays-with-variances/takesArrayList.kt
  java/ql/test/kotlin/library-tests/arrays-with-variances/test.expected
  java/ql/test/kotlin/library-tests/arrays-with-variances/test.ql
Labels: Kotlin

#9644 C++: Ensure we can round trip between (forward) class declarations
  cpp/ql/lib/change-notes/2022-06-22-class-declaration-entry-fix.md
  cpp/ql/lib/semmle/code/cpp/UserType.qll
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/declarationEntry.cpp
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/declarationEntry.expected
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/fde.expected
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/forwardDeclaration.cpp
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/roundTrip.expected
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/roundTrip.ql
Labels: C++, documentation

#9623 Swift: Interpret MaD strings
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/lib/codeql/swift/elements/decl/MethodDecl.qll
  swift/ql/lib/codeql/swift/elements/expr/ApplyExpr.qll
  swift/ql/lib/codeql/swift/elements/type/AnyGenericType.qll
  swift/ql/lib/codeql/swift/elements/type/NominalType.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
  swift/ql/lib/swift.qll
  swift/ql/test/extractor-tests/expressions/all.expected
  swift/ql/test/extractor-tests/types/Types.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/parent/parent.expected
Labels: no-change-note-required, Swift

#9638 Swift: String length conflation tests (for CVE-2022-23625)
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/test/qlpack.yml
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.expected
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.qlref
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.swift
Labels: no-change-note-required, Swift

#9635 Swift: Add `RemoteFlowSource`
  swift/ql/lib/codeql/swift/dataflow/FlowSources.qll
Labels: no-change-note-required, Swift

#9643 C++: Add variable in namespace test
  cpp/ql/test/library-tests/variables/global/d.cpp
  cpp/ql/test/library-tests/variables/global/d.h
  cpp/ql/test/library-tests/variables/global/e.cpp
  cpp/ql/test/library-tests/variables/global/vardecl.expected
  cpp/ql/test/library-tests/variables/global/variables.expected
Labels: C++

#9668 Swift: Make sure property setters and getters also have `ExprNodes`
  swift/ql/lib/codeql/swift/controlflow/BasicBlocks.qll
  swift/ql/lib/codeql/swift/controlflow/CfgNodes.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
Labels: no-change-note-required, Swift

#9634 JS: add all jquery plugin parameters as source to js/html-constructed-from-input
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeHtmlConstructionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/UnsafeHtmlConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/jquery-plugin.js
Labels: JS, no-change-note-required

#9678 C++: Two small QL fixes
  cpp/ql/lib/semmle/code/cpp/internal/QualifiedName.qll
  cpp/ql/lib/semmle/code/cpp/internal/ResolveClass.qll
Labels: C++, no-change-note-required

#9087 CPP: Add query for CWE-670: Always-Incorrect Control Flow Implementation when use SSL_shutdown
  cpp/ql/src/experimental/Security/CWE/CWE-670/DangerousUseSSL_shutdown.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-670/DangerousUseSSL_shutdown.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-670/DangerousUseSSL_shutdown.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-670/semmle/tests/DangerousUseSSL_shutdown.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-670/semmle/tests/DangerousUseSSL_shutdown.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-670/semmle/tests/test.cpp
Labels: C++, documentation

#9679 JS: Downgrade ast_node_symbol relation
  javascript/downgrades/c0664d5721c90dd32a5b167efea24f9cc6f57cfb/ast_node_symbol.ql
  javascript/downgrades/c0664d5721c90dd32a5b167efea24f9cc6f57cfb/upgrade.properties
Labels: JS, no-change-note-required

#9669 Swift: implement LambdaCall in dataflow library
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Labels: no-change-note-required, Swift

#9683 Kotlin: Remove unused function getDiagnosticLocation
  java/kotlin-extractor/src/main/kotlin/utils/Logger.kt
Labels: Kotlin

#9688 Swift: autopep8 codegen
  .github/workflows/swift-codegen.yml
  .pre-commit-config.yaml
  swift/codegen/.pep8
  swift/codegen/generators/dbschemegen.py
  swift/codegen/test/test_cppgen.py
  swift/codegen/test/test_qlgen.py
  swift/codegen/test/test_schema.py
  swift/codegen/test/test_trapgen.py
  swift/integration-tests/cross-references/test.py
Labels: Swift

#9690 Swift: prevent accidental revert of modified stub
  swift/codegen/generators/qlgen.py
  swift/codegen/test/test_qlgen.py
Labels: Swift

#9691 Swift: remove check for inout params in SSA gen
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplSpecific.qll
Labels: no-change-note-required, Swift

#9689 Kotlin: Make some more methods private
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/AutoCloseableUse.kt
  java/kotlin-extractor/src/main/kotlin/utils/Logger.kt
Labels: Kotlin

#9697 Swift: fix stub revert prevention
  swift/codegen/generators/qlgen.py
  swift/codegen/test/test_qlgen.py
Labels: Swift

#9701 Swift: make `Element::resolve` final
  swift/codegen/templates/ql_class.mustache
  swift/ql/lib/codeql/swift/generated/Element.qll
Labels: no-change-note-required, Swift

#9625 Switch to using Kotlin 1.7 by default
  java/kotlin-extractor/build.gradle
  java/kotlin-extractor/gradle.properties
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/kotlin-extractor/src/main/kotlin/ExternalDeclExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/PrimitiveTypeInfo.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0-RC/Descriptors.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0/Descriptors.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0/FileEntry.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0/Functions.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0/Types.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0/withHasQuestionMark.kt
  java/ql/test/kotlin/library-tests/dataflow/whenexpr/WhenExpr.kt
  java/ql/test/kotlin/library-tests/dataflow/whenexpr/test.expected
Labels: Kotlin

#9681 Kotlin: reintroduce obinit when we have multiple secondary constructors and no primary
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/consistency-queries/calls.ql
  java/ql/test/kotlin/library-tests/lazy-val-multiple-constructors/test.expected
  java/ql/test/kotlin/library-tests/lazy-val-multiple-constructors/test.kt
  java/ql/test/kotlin/library-tests/lazy-val-multiple-constructors/test.ql
Labels: Java, Kotlin

#9614 Swift: extract all output-producing source files, not only primary files
  swift/extractor/SwiftExtractor.cpp
  swift/integration-tests/frontend-invocations/A.swift
  swift/integration-tests/frontend-invocations/B.swift
  swift/integration-tests/frontend-invocations/C.swift
  swift/integration-tests/frontend-invocations/D.swift
  swift/integration-tests/frontend-invocations/E.swift
  swift/integration-tests/frontend-invocations/Esup.swift
  swift/integration-tests/frontend-invocations/Files.expected
  swift/integration-tests/frontend-invocations/Files.ql
  swift/integration-tests/frontend-invocations/Makefile
  swift/integration-tests/frontend-invocations/test.py
  swift/integration-tests/hello-world/test.expected
Labels: Swift

#9695 JS: Fix unused variable FP in template placeholders
  javascript/ql/src/Declarations/UnusedVariable.ql
Labels: JS, no-change-note-required

#9707 Swift: extract more types
  swift/codegen/schema.yml
  swift/extractor/visitors/TypeVisitor.cpp
  swift/extractor/visitors/TypeVisitor.h
  swift/ql/lib/codeql/swift/elements/type/ArchetypeType.qll
  swift/ql/lib/codeql/swift/elements/type/ExistentialType.qll
  swift/ql/lib/codeql/swift/generated/type/ArchetypeType.qll
  swift/ql/lib/codeql/swift/generated/type/DynamicSelfType.qll
  swift/ql/lib/codeql/swift/generated/type/ExistentialType.qll
  swift/ql/lib/codeql/swift/generated/type/InOutType.qll
  swift/ql/lib/codeql/swift/generated/type/NestedArchetypeType.qll
  swift/ql/lib/codeql/swift/generated/type/PrimaryArchetypeType.qll
  swift/ql/lib/codeql/swift/generated/type/ReferenceStorageType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/TestUtils.qll
  swift/ql/test/extractor-tests/generated/type/DynamicSelfType/DynamicSelfType.expected
  swift/ql/test/extractor-tests/generated/type/DynamicSelfType/DynamicSelfType.ql
  swift/ql/test/extractor-tests/generated/type/DynamicSelfType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/DynamicSelfType/dynamic_self.swift
  swift/ql/test/extractor-tests/generated/type/ExistentialType/ExistentialType.expected
  swift/ql/test/extractor-tests/generated/type/ExistentialType/ExistentialType.ql
  swift/ql/test/extractor-tests/generated/type/ExistentialType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/ExistentialType/existential_types.swift
  swift/ql/test/extractor-tests/generated/type/InOutType/InOutType.expected
  swift/ql/test/extractor-tests/generated/type/InOutType/InOutType.ql
  swift/ql/test/extractor-tests/generated/type/InOutType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/InOutType/in_out.swift
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/NestedArchetypeType.expected
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/NestedArchetypeType.ql
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/NestedArchetypeType_getProtocol.expected
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/NestedArchetypeType_getProtocol.ql
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/NestedArchetypeType_getSuperclass.expected
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/NestedArchetypeType_getSuperclass.ql
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/nested_archetypes.swift
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/PrimaryArchetypeType.expected
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/PrimaryArchetypeType.ql
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/PrimaryArchetypeType_getProtocol.expected
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/PrimaryArchetypeType_getProtocol.ql
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/PrimaryArchetypeType_getSuperclass.expected
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/PrimaryArchetypeType_getSuperclass.ql
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/primary_archetypes.swift
  swift/ql/test/extractor-tests/generated/type/UnmanagedStorageType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/UnmanagedStorageType/UnmanagedStorageType.expected
  swift/ql/test/extractor-tests/generated/type/UnmanagedStorageType/UnmanagedStorageType.ql
  swift/ql/test/extractor-tests/generated/type/UnmanagedStorageType/unmanaged_storage.swift
  swift/ql/test/extractor-tests/generated/type/UnownedStorageType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/UnownedStorageType/UnownedStorageType.expected
  swift/ql/test/extractor-tests/generated/type/UnownedStorageType/UnownedStorageType.ql
  swift/ql/test/extractor-tests/generated/type/UnownedStorageType/unowned_storage.swift
  swift/ql/test/extractor-tests/generated/type/VariadicSequenceType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/VariadicSequenceType/VariadicSequenceType.expected
  swift/ql/test/extractor-tests/generated/type/VariadicSequenceType/VariadicSequenceType.ql
  swift/ql/test/extractor-tests/generated/type/VariadicSequenceType/variadic_sequence.swift
  swift/ql/test/extractor-tests/generated/type/WeakStorageType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/WeakStorageType/WeakStorageType.expected
  swift/ql/test/extractor-tests/generated/type/WeakStorageType/WeakStorageType.ql
  swift/ql/test/extractor-tests/generated/type/WeakStorageType/weak_storage.swift
Labels: no-change-note-required, Swift

#9709 Kotlin: Let useFunction worry about isLocalFunction for us
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#9364 Ruby: API graph renaming an documentation
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/lib/codeql/ruby/frameworks/XmlParsing.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/ModelsAsData.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/HttpClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/test/library-tests/dataflow/api-graphs/use.ql
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
Labels: no-change-note-required, Ruby

#9714 Ruby: fix deprecation warning
  ruby/ql/lib/codeql/ruby/frameworks/Railties.qll
Labels: no-change-note-required, Ruby

#9673 Swift: String length conflation query
  swift/ql/lib/codeql/swift/elements/type/Type.qll
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.qhelp
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/src/queries/Security/CWE-135/StringLengthConflationBad.swift
  swift/ql/src/queries/Security/CWE-135/StringLengthConflationGood.swift
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.expected
Labels: documentation, no-change-note-required, ready-for-doc-review, Swift

#9715 JS: always sniff file header of TypeScript files
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Labels: JS

#9725 Kotlin: Extract inlineability of functions
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/lib/change-notes/2022-06-27-isInline.md
  java/ql/lib/semmle/code/java/Modifier.qll
  java/ql/test/kotlin/library-tests/methods/exprs.expected
  java/ql/test/kotlin/library-tests/methods/methods.expected
  java/ql/test/kotlin/library-tests/methods/methods.kt
Labels: documentation, Java, Kotlin

#9724 Kotlin: Make more methods private
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/ClassNames.kt
Labels: Kotlin

#9729 Swift: extract `ProtocolCompositionType` and all `BuiltinType`s
  swift/codegen/generators/qlgen.py
  swift/codegen/lib/ql.py
  swift/codegen/schema.yml
  swift/codegen/test/test_qlgen.py
  swift/extractor/visitors/TypeVisitor.cpp
  swift/extractor/visitors/TypeVisitor.h
  swift/ql/lib/codeql/swift/elements/type/ExistentialType.qll
  swift/ql/lib/codeql/swift/generated/type/ProtocolCompositionType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/TestUtils.qll
  swift/ql/test/extractor-tests/generated/type/BuiltinBridgeObjectType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/BuiltinDefaultActorStorageType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/BuiltinExecutorType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/BuiltinFloatType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/BuiltinIntegerLiteralType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/BuiltinIntegerType/BuiltinIntegerType.expected
  swift/ql/test/extractor-tests/generated/type/BuiltinIntegerType/BuiltinIntegerType.ql
  swift/ql/test/extractor-tests/generated/type/BuiltinIntegerType/BuiltinIntegerType_getWidth.expected
  swift/ql/test/extractor-tests/generated/type/BuiltinIntegerType/BuiltinIntegerType_getWidth.ql
  swift/ql/test/extractor-tests/generated/type/BuiltinIntegerType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/BuiltinIntegerType/builtin_integer_types.swift
  swift/ql/test/extractor-tests/generated/type/BuiltinJobType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/BuiltinNativeObjectType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/BuiltinRawPointerType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/BuiltinRawUnsafeContinuationType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/BuiltinType/BuiltinType.expected
  swift/ql/test/extractor-tests/generated/type/BuiltinType/BuiltinType.ql
  swift/ql/test/extractor-tests/generated/type/BuiltinType/builtin_types.swift
  swift/ql/test/extractor-tests/generated/type/BuiltinUnsafeValueBufferType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/BuiltinVectorType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/ExistentialType/ExistentialType.expected
  swift/ql/test/extractor-tests/generated/type/ExistentialType/existential_types.swift
  swift/ql/test/extractor-tests/generated/type/ProtocolCompositionType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/ProtocolCompositionType/ProtocolCompositionType.expected
  swift/ql/test/extractor-tests/generated/type/ProtocolCompositionType/ProtocolCompositionType.ql
  swift/ql/test/extractor-tests/generated/type/ProtocolCompositionType/ProtocolCompositionType_getMember.expected
  swift/ql/test/extractor-tests/generated/type/ProtocolCompositionType/ProtocolCompositionType_getMember.ql
  swift/ql/test/extractor-tests/generated/type/ProtocolCompositionType/protocol_composition.swift
  swift/ql/test/extractor-tests/generated/type/UnmanagedStorageType/UnmanagedStorageType.expected
  swift/ql/test/extractor-tests/generated/type/UnownedStorageType/UnownedStorageType.expected
  swift/ql/test/extractor-tests/generated/type/WeakStorageType/WeakStorageType.expected
  swift/tools/qltest.sh
Labels: no-change-note-required, Swift

#9706 Ruby: update tree-sitter-ruby
  ruby/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/generator/Cargo.toml
Labels: Ruby

#9369 Python: API graph renaming and documentation
  python/ql/lib/change-notes/2022-06-28-api-graph-api.md
  python/ql/lib/semmle/python/ApiGraphs.qll
  python/ql/lib/semmle/python/filters/Tests.qll
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
  python/ql/lib/semmle/python/frameworks/Aiomysql.qll
  python/ql/lib/semmle/python/frameworks/Aiopg.qll
  python/ql/lib/semmle/python/frameworks/Asyncpg.qll
  python/ql/lib/semmle/python/frameworks/Cryptodome.qll
  python/ql/lib/semmle/python/frameworks/Cryptography.qll
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/lib/semmle/python/frameworks/Fabric.qll
  python/ql/lib/semmle/python/frameworks/FastApi.qll
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/FlaskSqlAlchemy.qll
  python/ql/lib/semmle/python/frameworks/Httpx.qll
  python/ql/lib/semmle/python/frameworks/Invoke.qll
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/lib/semmle/python/frameworks/Requests.qll
  python/ql/lib/semmle/python/frameworks/RestFramework.qll
  python/ql/lib/semmle/python/frameworks/RuamelYaml.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/Tornado.qll
  python/ql/lib/semmle/python/frameworks/Twisted.qll
  python/ql/lib/semmle/python/frameworks/Urllib3.qll
  python/ql/lib/semmle/python/frameworks/Werkzeug.qll
  python/ql/lib/semmle/python/frameworks/Xmltodict.qll
  python/ql/lib/semmle/python/frameworks/Yaml.qll
  python/ql/lib/semmle/python/frameworks/data/ModelsAsData.qll
  python/ql/lib/semmle/python/frameworks/internal/PEP249Impl.qll
  python/ql/lib/semmle/python/frameworks/internal/SubclassFinder.qll
  python/ql/lib/semmle/python/internal/CachedStages.qll
  python/ql/lib/semmle/python/regex.qll
  python/ql/lib/semmle/python/security/dataflow/PathInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/SqlInjectionCustomizations.qll
  python/ql/src/Security/CWE-079/Jinja2WithoutEscaping.ql
  python/ql/src/Security/CWE-285/PamAuthorization.ql
  python/ql/src/Security/CWE-295/MissingHostKeyValidation.ql
  python/ql/src/Security/CWE-327/PyOpenSSL.qll
  python/ql/src/Security/CWE-327/Ssl.qll
  python/ql/src/Security/CWE-732/WeakFilePermissions.ql
  python/ql/src/experimental/semmle/python/frameworks/Django.qll
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/src/experimental/semmle/python/frameworks/LDAP.qll
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
  python/ql/test/TestUtilities/VerifyApiGraphs.qll
  python/ql/test/experimental/dataflow/typetracking/moduleattr.ql
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
  python/ql/test/experimental/meta/MaDTest.qll
  python/ql/test/library-tests/ApiGraphs/py2/use.ql
  python/ql/test/library-tests/frameworks/data/test.ql
Labels: documentation, Python, no-change-note-required

#9732 Swift: add DotSyntaxCallExpr tests
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/DotSyntaxCallExpr.expected
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/DotSyntaxCallExpr.ql
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/DotSyntaxCallExpr_getArgument.expected
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/DotSyntaxCallExpr_getArgument.ql
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/DotSyntaxCallExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/DotSyntaxCallExpr_getType.ql
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/dot_syntax_call.swift
Labels: Swift

#9738 Swift: Add a Locatable.getFile() shortcut similar to the one in CPP.
  swift/ql/lib/codeql/swift/elements/Locatable.qll
Labels: no-change-note-required, Swift

#9743 Swift: Fix `kind` in `swift/string-length-conflation`
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Labels: no-change-note-required, Swift

#9207 Java: Add sources for Android external storage
  java/ql/lib/change-notes/2022-05-18-android-external-storage.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/frameworks/android/ExternalStorage.qll
  java/ql/lib/semmle/code/java/security/FileReadWrite.qll
  java/ql/test/library-tests/frameworks/android/external-storage/Test.java
  java/ql/test/library-tests/frameworks/android/external-storage/options
  java/ql/test/library-tests/frameworks/android/external-storage/test.expected
  java/ql/test/library-tests/frameworks/android/external-storage/test.ql
  java/ql/test/stubs/google-android-9.0.0/android/os/Environment.java
Labels: documentation, Java

#9726 C++: fix join order in UsingExpiredStackAddress
  cpp/ql/src/Likely Bugs/Memory Management/UsingExpiredStackAddress.ql
Labels: C++, no-change-note-required

#8669 Java: Add query for Improper Verification of Intent by Broadcast Receiver (CWE-925)
  java/ql/lib/semmle/code/java/security/ImproperIntentVerificationQuery.qll
  java/ql/src/Security/CWE/CWE-925/AndroidManifest.xml
  java/ql/src/Security/CWE/CWE-925/Bad.java
  java/ql/src/Security/CWE/CWE-925/Good.java
  java/ql/src/Security/CWE/CWE-925/ImproperIntentVerification.qhelp
  java/ql/src/Security/CWE/CWE-925/ImproperIntentVerification.ql
  java/ql/src/change-notes/2022-04-27-intent-verification.md
  java/ql/test/query-tests/security/CWE-925/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-925/BootReceiverXml.java
  java/ql/test/query-tests/security/CWE-925/ImproperIntentVerification.expected
  java/ql/test/query-tests/security/CWE-925/ImproperIntentVerification.ql
  java/ql/test/query-tests/security/CWE-925/options
Labels: documentation, Java, ready-for-doc-review

#9719 Swift: add EnumIsCase test
  swift/ql/test/extractor-tests/generated/expr/EnumIsCaseExpr/EnumIsCaseExpr.expected
  swift/ql/test/extractor-tests/generated/expr/EnumIsCaseExpr/EnumIsCaseExpr.ql
  swift/ql/test/extractor-tests/generated/expr/EnumIsCaseExpr/EnumIsCaseExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/EnumIsCaseExpr/EnumIsCaseExpr_getType.ql
  swift/ql/test/extractor-tests/generated/expr/EnumIsCaseExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/EnumIsCaseExpr/enum_is_case.swift
Labels: Swift

#9746 Swift: add a test case showing module loading problem
  swift/integration-tests/partial-modules/A/Package.swift
  swift/integration-tests/partial-modules/A/Sources/A/A.swift
  swift/integration-tests/partial-modules/A/Sources/A/Asup.swift
  swift/integration-tests/partial-modules/B/Package.swift
  swift/integration-tests/partial-modules/B/Sources/B/B.swift
  swift/integration-tests/partial-modules/B/Sources/B/Bsup.swift
  swift/integration-tests/partial-modules/Package.swift
  swift/integration-tests/partial-modules/Sources/partial-modules/partial_modules.swift
  swift/integration-tests/partial-modules/Unknown.expected
  swift/integration-tests/partial-modules/Unknown.ql
  swift/integration-tests/partial-modules/test.py
Labels: Swift

#9745 Swift: store TRAP files in a temporary folder until the extraction is complete
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftExtractorConfiguration.h
  swift/extractor/main.cpp
Labels: Swift

#9731 Kotlin: Make more methods private
  java/kotlin-extractor/src/main/kotlin/utils/JvmNames.kt
  java/kotlin-extractor/src/main/kotlin/utils/TypeSubstitution.kt
Labels: Kotlin

#9747 Swift: Don't join on index in `swift/string-length-conflation`
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Labels: no-change-note-required, Swift

#9717 Python: Fix bad join in MRO
  python/ql/lib/semmle/python/pointsto/MRO.qll
Labels: Python, no-change-note-required

#9741 Python: Fix bad join in `RegExpBackRef::getGroup`
  python/ql/lib/semmle/python/RegexTreeView.qll
Labels: Python, no-change-note-required

#9733 Python: Fix bad join in MRO `flatten_list`
  python/ql/lib/semmle/python/pointsto/MRO.qll
Labels: Python, no-change-note-required

#9737 Swift: Add ArithmeticOperation.qll library
  swift/ql/lib/codeql/swift/elements/expr/ArithmeticOperation.qll
  swift/ql/lib/codeql/swift/elements/expr/LogicalOperation.qll
  swift/ql/lib/swift.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/elements/expr/arithmeticoperation/arithmeticoperation.expected
  swift/ql/test/library-tests/elements/expr/arithmeticoperation/arithmeticoperation.ql
  swift/ql/test/library-tests/elements/expr/arithmeticoperation/arithmeticoperation.swift
  swift/ql/test/library-tests/elements/expr/logicaloperation/logicaloperation.expected
  swift/ql/test/library-tests/elements/expr/logicaloperation/logicaloperation.ql
  swift/ql/test/library-tests/elements/expr/logicaloperation/logicaloperation.swift
Labels: no-change-note-required, Swift

#9336 Swift: CFG for local declarations
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/cfg.swift
Labels: no-change-note-required, Swift

#9641 Make ActiveRecordInstanceMethodCall Public
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
Labels: no-change-note-required, Ruby

#9748 JS: add navigation.navigate as an XSS / URL sink
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/tst.js
Labels: JS, no-change-note-required

#9753 Recommend installing the latest version of the CLI to use packaging
  docs/codeql/reusables/beta-note-package-management.rst
Labels: documentation

#9750 Swift: also extract imported modules
  swift/extractor/SwiftExtractor.cpp
Labels: Swift

#9759 Swift: fix test case
  swift/ql/test/extractor-tests/generated/type/InOutType/in_out.swift
Labels: Swift

#9702 Swift: emit intermediate build artifacts for own consumption later
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftExtractorConfiguration.h
  swift/extractor/SwiftOutputRewrite.cpp
  swift/extractor/SwiftOutputRewrite.h
  swift/extractor/main.cpp
  swift/tools/tracing-config.lua
Labels: Swift

#9704 Kotlin: note that raw inner classes nest within a raw outer
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/integration-tests/posix-only/kotlin/nested_generic_types/JavaUser.java
  java/ql/integration-tests/posix-only/kotlin/nested_generic_types/KotlinUser.kt
  java/ql/integration-tests/posix-only/kotlin/nested_generic_types/libsrc/extlib/OuterGeneric.java
  java/ql/integration-tests/posix-only/kotlin/nested_generic_types/libsrc/extlib/OuterNotGeneric.java
  java/ql/integration-tests/posix-only/kotlin/nested_generic_types/libsrc/extlib/TypeParamVisibility.java
  java/ql/integration-tests/posix-only/kotlin/nested_generic_types/test.expected
Labels: Java, Kotlin

#9765 Swift: Improvements to the string length conflation query
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.expected
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.swift
Labels: no-change-note-required, Swift

#9767 C++: Typo: intrepret
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
Labels: C++, no-change-note-required

#9754 JS: add model for chownr
  javascript/externs/nodejs/fs.js
  javascript/ql/lib/change-notes/2022-06-30-chownr.md
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/tainted-access-paths.js
Labels: JS, documentation

#9766 Kotlin: Fix a label
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin
