Repository github/codeql, pull requests merged in 2022-09, with the labels that each got.

#10203 SSA: Make shared library a parameterized module
  config/identical-files.json
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImplSpecific.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  csharp/ql/consistency-queries/SsaConsistency.ql
  csharp/ql/lib/semmle/code/cil/Ssa.qll
  csharp/ql/lib/semmle/code/cil/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/cil/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/cil/internal/SsaImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/pressa/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/pressa/SsaImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/basessa/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/basessa/SsaImplSpecific.qll
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
  csharp/ql/test/library-tests/dataflow/ssa/SSAPhiRead.ql
  ruby/ql/consistency-queries/SsaConsistency.ql
  ruby/ql/lib/codeql/ruby/dataflow/SSA.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplSpecific.qll
Labels: C#, C++, no-change-note-required, Ruby, Swift

#10061 Swift: Queries for CWE-311 (originally CWE-200)
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.qhelp
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.swift
  swift/ql/src/queries/Security/CWE-311/CleartextTransmission.qhelp
  swift/ql/src/queries/Security/CWE-311/CleartextTransmission.ql
  swift/ql/src/queries/Security/CWE-311/CleartextTransmission.swift
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.qlref
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.qlref
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.ql
  swift/ql/test/query-tests/Security/CWE-311/testCoreData.swift
  swift/ql/test/query-tests/Security/CWE-311/testRealm.swift
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
  swift/ql/test/query-tests/Security/CWE-311/testURL.swift
Labels: documentation, no-change-note-required, ready-for-doc-review, Swift

#10254 Swift: Add `getBaseTypeDecl` to `TypeDecl`
  swift/ql/lib/codeql/swift/elements/decl/TypeDecl.qll
Labels: Swift

#10247 Kotlin: Remove another cast
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#10246 Kotlin: Refactor extractConstructorCall
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10243 Kotlin: Removed a couple of casts from extractExpression
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10256 Swift: Use TypeDecl.getABaseTypeDecl().
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
Labels: no-change-note-required, Swift

#10257 Java: Correct hasModifier documentation
  java/ql/lib/semmle/code/java/Modifier.qll
Labels: Java, no-change-note-required

#10245 Ruby: Exclude top-level `self` accesses from `trackModule`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/modules_rec.rb
Labels: no-change-note-required, Ruby

#10242 Kotlin: Refactor kotlinFunctionToJavaEquivalent
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#10261 C++: Fix join in sign analysis
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/SignAnalysisCommon.qll
Labels: C++

#10163 C++: New Query: missing return-value check for scanf-like functions
  cpp/ql/lib/semmle/code/cpp/commons/Scanf.qll
  cpp/ql/src/Critical/MissingCheckScanf.cpp
  cpp/ql/src/Critical/MissingCheckScanf.qhelp
  cpp/ql/src/Critical/MissingCheckScanf.ql
  cpp/ql/src/change-notes/2022-08-24-missing-check-scanf.md
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.qlref
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Labels: enhancement, C++, documentation, ready-for-doc-review

#10180 Add missing security tags
  go/ql/src/Security/CWE-322/InsecureHostKeyCallback.ql
  go/ql/src/change-notes/2022-08-29-add-security-severity.md
  java/ql/src/Frameworks/JavaEE/EJB/EjbContainerInterference.ql
  java/ql/src/Frameworks/JavaEE/EJB/EjbFileIO.ql
  java/ql/src/Frameworks/JavaEE/EJB/EjbNative.ql
  java/ql/src/Frameworks/JavaEE/EJB/EjbReflection.ql
  java/ql/src/Frameworks/JavaEE/EJB/EjbSecurityConfiguration.ql
  java/ql/src/Frameworks/JavaEE/EJB/EjbSerialization.ql
  java/ql/src/Frameworks/JavaEE/EJB/EjbSetSocketOrUrlFactory.ql
  java/ql/src/change-notes/2022-08-29-remove-security-tag.md
  python/ql/src/Security/CWE-730/PolynomialReDoS.ql
  python/ql/src/Security/CWE-730/ReDoS.ql
  python/ql/src/Security/CWE-730/RegexInjection.ql
  python/ql/src/change-notes/2022-08-29-missing-security-severity.md
Labels: documentation, Java, Python, Go

#10235 C#: Remove legacy tracer support
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Driver.cs
  csharp/ql/src/Stubs/make_stubs_nuget.py
  csharp/tools/linux64/compiler-tracing.spec
  csharp/tools/osx64/compiler-tracing.spec
  csharp/tools/tracing-config.lua
  csharp/tools/win64/compiler-tracing.spec
Labels: C#

#10263 Kotlin: Remove some casts in useSimpleType
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#10262 Kotlin: Avoid unsafe casts in useArrayType
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#10221 Kotlin: Change `Modifiable::isPublic` to not cover Kotlin `internal` members
  java/ql/lib/semmle/code/java/Modifier.qll
  java/ql/test/kotlin/library-tests/java_and_kotlin_internal/Java.java
  java/ql/test/kotlin/library-tests/java_and_kotlin_internal/Kotlin.kt
  java/ql/test/kotlin/library-tests/java_and_kotlin_internal/visibility.expected
  java/ql/test/kotlin/library-tests/java_and_kotlin_internal/visibility.ql
Labels: Java, no-change-note-required, Kotlin

#10272 Kotlin: Remove some casts from getDeclaringTypeArguments
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10274 Kotlin: Remove a cast in array iterator call extraction
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10273 Kotlin: Remove cast from extractRawMethodAccess
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10275 Kotlin: Fix the type of TypeResultGeneric.cast
  java/kotlin-extractor/src/main/kotlin/utils/TypeResults.kt
Labels: Kotlin

#10233 Swift: show conversions in `PrintAst`
  swift/ql/lib/codeql/swift/elements/expr/Expr.qll
  swift/ql/lib/codeql/swift/printast/PrintAstNode.qll
  swift/ql/test/extractor-tests/declarations/all.expected
  swift/ql/test/extractor-tests/declarations/declarations.swift
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/ast/declarations.swift
Labels: Swift

#10292 QL4QL: Add `--search-path` to `codeql resolve languages` calls
  .github/workflows/ql-for-ql-build.yml
Labels: QL-for-QL

#10279 Kotlin: Remove cast in extractGeneratedClass
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10282 Kotlin: Remove a cast in extendsAdditionAllowed
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#10283 Kotlin: Remove a redundant cast
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#10281 Kotlin: Remove cast in extractFunctionReference
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10267 python: Rewrite EmptyExcept from `points-to` to API graph
  python/ql/src/Exceptions/EmptyExcept.ql
Labels: Python, no-change-note-required

#10209 QL: add query detecting consistent casing of names
  ql/ql/src/codeql_ql/style/NodeName.qll
  ql/ql/src/queries/style/ConsistentCasing.ql
  ql/ql/test/queries/style/Misspelling/Misspelling.expected
Labels: QL-for-QL

#10293 Workflow: Add paths filter to QL for QL workflow
  .github/workflows/ql-for-ql-build.yml
Labels: QL-for-QL

#10298 Ruby: exclude 'require' and 'require_relative' definitions from call graph
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
Labels: no-change-note-required, Ruby

#10302 Merge 3.7 into main
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
Labels: Mergeback, no-change-note-required, Ruby

#10291 Kotlin: Fix array `set` operator extraction
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/operator-overloads/PrintAst.expected
  java/ql/test/kotlin/library-tests/operator-overloads/test.kt
Labels: Kotlin

#10277 C#: Also inject `/p:UseSharedCompilation=false` into `dotnet publish`
  csharp/tools/tracing-config.lua
Labels: C#, no-change-note-required

#10088 parameterised modules in the QL language reference
  docs/codeql/ql-language-reference/index.rst
  docs/codeql/ql-language-reference/modules.rst
  docs/codeql/ql-language-reference/name-resolution.rst
  docs/codeql/ql-language-reference/signatures.rst
Labels: documentation, ready-for-doc-review

#10251 Java: Add new AlarmManager sinks to Use of implicit PendingIntents
  java/ql/lib/semmle/code/java/security/ImplicitPendingIntents.qll
  java/ql/src/change-notes/2022-09-01-implicit-pendingintents-new-sinks.md
  java/ql/test/query-tests/security/CWE-927/ImplicitPendingIntentsTest.java
  java/ql/test/stubs/google-android-9.0.0/android/app/AlarmManager.java
Labels: documentation, Java

#10171 Python: Fixes for variable access
  python/ql/lib/change-notes/2022-08-25-variable-fix.md
  python/ql/test/experimental/dataflow/typetracking/test.py
  python/ql/test/library-tests/PointsTo/new/ImpliesDataflow.expected
  python/ql/test/library-tests/variables/scopes/access.expected
  python/ql/test/library-tests/variables/scopes/access.ql
  python/ql/test/library-tests/variables/scopes/free.expected
  python/ql/test/library-tests/variables/scopes/free.ql
  python/ql/test/library-tests/variables/scopes/globals.expected
  python/ql/test/library-tests/variables/scopes/globals.ql
  python/ql/test/library-tests/variables/scopes/in_class.py
  python/ql/test/library-tests/variables/scopes/locals.expected
  python/ql/test/library-tests/variables/scopes/lookup.expected
  python/ql/test/library-tests/variables/scopes/lookup.ql
  python/ql/test/library-tests/variables/scopes/scopes.expected
Labels: depends on internal PR, documentation, Python

#10309 JS: fix leftover todo in js/insecure-temporary-file
  javascript/ql/src/Security/CWE-377/InsecureTemporaryFile.ql
Labels: JS, no-change-note-required

#10310 Docs: No longer mention required `/p:UseSharedCompilation=false`
  .github/workflows/csv-coverage-metrics.yml
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  docs/codeql/codeql-cli/creating-codeql-databases.rst
Labels: C++, documentation

#10296 Ruby: Add missing edges to the call graph for singleton methods
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/calls.rb
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
Labels: no-change-note-required, Ruby

#10308 Merge `rc/3.7` into `main`
  csharp/tools/tracing-config.lua
Labels: C#

#10294 C#: Add `dotnet build` integration test
  csharp/ql/integration-tests/all-platforms/dotnet_build/Program.cs
  csharp/ql/integration-tests/all-platforms/dotnet_build/dotnet_build.csproj
  csharp/ql/integration-tests/all-platforms/dotnet_build/test.py
  csharp/ql/integration-tests/all-platforms/qlpack.yml
Labels: C#

#10284 Swift: Improve swift/string-length-conflation
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.expected
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation2.swift
Labels: no-change-note-required, Swift

#10240 Java: Support SCCs in TypeFlow.
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
Labels: Java, no-change-note-required

#10249 Java: Documentation fixes in the "Permissive dot regex" experimental query
  java/ql/src/experimental/Security/CWE/CWE-625/PermissiveDotRegex.qhelp
  java/ql/src/experimental/Security/CWE/CWE-625/PermissiveDotRegex.ql
  java/ql/src/experimental/Security/CWE/CWE-625/PermissiveDotRegexQuery.qll
  java/ql/src/experimental/Security/CWE/CWE-625/Regex.qll
Labels: documentation, Java

#10138 Java: Add summaries for ContentResolver and adjacent classes
  java/ql/lib/change-notes/2022-08-23-contentresolver-summaries.md
  java/ql/lib/semmle/code/java/frameworks/android/ContentProviders.qll
  java/ql/test/library-tests/frameworks/android/content-provider-summaries/Test.java
  java/ql/test/library-tests/frameworks/android/content-provider-summaries/options
  java/ql/test/library-tests/frameworks/android/content-provider-summaries/test.expected
  java/ql/test/library-tests/frameworks/android/content-provider-summaries/test.ql
Labels: documentation, Java

#10176 Python: Add testcase for import problem
  python/ql/test/experimental/dataflow/typetracking_imports/README.md
  python/ql/test/experimental/dataflow/typetracking_imports/highlight_problem.expected
  python/ql/test/experimental/dataflow/typetracking_imports/highlight_problem.ql
  python/ql/test/experimental/dataflow/typetracking_imports/options
  python/ql/test/experimental/dataflow/typetracking_imports/pkg/__init__.py
  python/ql/test/experimental/dataflow/typetracking_imports/pkg/alias_only_direct.py
  python/ql/test/experimental/dataflow/typetracking_imports/pkg/alias_problem.py
  python/ql/test/experimental/dataflow/typetracking_imports/pkg/alias_problem_fixed.py
  python/ql/test/experimental/dataflow/typetracking_imports/pkg/alias_star.py
  python/ql/test/experimental/dataflow/typetracking_imports/pkg/foo_def.py
  python/ql/test/experimental/dataflow/typetracking_imports/pkg/other.py
  python/ql/test/experimental/dataflow/typetracking_imports/pkg/problem_absolute_import.py
  python/ql/test/experimental/dataflow/typetracking_imports/pkg/use.py
  python/ql/test/experimental/dataflow/typetracking_imports/pkg/works_absolute_import.py
  python/ql/test/experimental/dataflow/typetracking_imports/tracked.expected
  python/ql/test/experimental/dataflow/typetracking_imports/tracked.qlref
Labels: documentation, Python

#10315 Ruby: Fix bad join in `parameterMatch`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
Labels: no-change-note-required, Ruby

#10297 Kotlin: Lookup getter methods based on special JVM method mapping
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/special-method-getters/test.expected
  java/ql/test/kotlin/library-tests/special-method-getters/test.ql
Labels: Kotlin

#10326 Kotlin: Remove some redundant code
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10324 Kotlin: Remove a cast from extractConstructorCall
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10325 Kotlin: Remove a cast from getDeclaringTypeArguments
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10323 Kotlin: Remove a cast from extractPropertyReference
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10322 Kotlin: Rewrite array type extraction
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#10329 Kotlin: Add todo comment describing type access extraction inconsistency
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#9783 Kotlin: Add MaD for stdlib
  java/ql/lib/change-notes/2022-08-31-kotlin-stdlib.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/KotlinStdLib.qll
  java/ql/lib/semmle/code/java/frameworks/generated.qll
  java/ql/lib/semmle/code/java/frameworks/kotlin/NegativeStdLibGenerated.qll
  java/ql/lib/semmle/code/java/frameworks/kotlin/StdLib.qll
  java/ql/lib/semmle/code/java/frameworks/kotlin/StdLibGenerated.qll
  java/ql/test/kotlin/library-tests/dataflow/summaries/list.kt
  java/ql/test/kotlin/library-tests/dataflow/summaries/test.expected
  java/ql/test/kotlin/library-tests/dataflow/summaries/test.kt
  java/ql/test/kotlin/library-tests/dataflow/summaries/test.ql
  misc/scripts/models-as-data/generate_flow_model.py
Labels: documentation, Java, Kotlin

#10276 Add TypeModel hook for adding MaD type-defs from CodeQL
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/dataflow/Sources.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  javascript/ql/test/ApiGraphs/custom-entry-point/index.js
  javascript/ql/test/ApiGraphs/typed/NodeOfType.expected
  javascript/ql/test/library-tests/TypeScript/HasUnderlyingType/HasUnderlyingType.expected
  javascript/ql/test/library-tests/frameworks/Redux/test.expected
  python/ql/lib/semmle/python/ApiGraphs.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModels.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModelsSpecific.qll
  python/ql/test/library-tests/ApiGraphs/py3/test_entry_point.py
  python/ql/test/library-tests/ApiGraphs/py3/verifyApiGraphs.ql
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsSpecific.qll
  ruby/ql/test/library-tests/dataflow/api-graphs/test1.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/use.ql
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
  ruby/ql/test/library-tests/dataflow/summaries/summaries.rb
Labels: JS, Python, no-change-note-required, Ruby

#10331 Kotlin: Remove a cast from extractConstructorCall
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10321 C++: Speedup 'cpp/using-expired-stack-address' by avoiding a large ne…
  cpp/ql/src/Likely Bugs/Memory Management/UsingExpiredStackAddress.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UsingExpiredStackAddress/UsingExpiredStackAddress.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UsingExpiredStackAddress/test.cpp
Labels: C++, no-change-note-required

#10337 C++: Remove CP in `getAPhiInput`
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticExprSpecific.qll
Labels: C++

#10105 Merge and update `about-ql-packs` with `about-codeql-packs`
  docs/codeql/codeql-cli/about-codeql-packs.rst
  docs/codeql/codeql-cli/about-ql-packs.rst
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/codeql-cli-reference.rst
  docs/codeql/codeql-cli/creating-and-working-with-codeql-packs.rst
  docs/codeql/codeql-cli/creating-codeql-query-suites.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/publishing-and-using-codeql-packs.rst
  docs/codeql/codeql-cli/query-reference-files.rst
  docs/codeql/codeql-cli/specifying-command-options-in-a-codeql-configuration-file.rst
  docs/codeql/codeql-cli/testing-custom-queries.rst
  docs/codeql/codeql-cli/testing-query-help-files.rst
  docs/codeql/codeql-cli/using-custom-queries-with-the-codeql-cli.rst
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
  docs/codeql/codeql-overview/codeql-glossary.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
  docs/codeql/reusables/test-qlpack.rst
  docs/codeql/writing-codeql-queries/about-codeql-queries.rst
Labels: documentation, ready-for-doc-review

#10305 C++: Synthesize `DeclarationEntry`s for IR construction
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Labels: C++, no-change-note-required

#10182 Add docs for codeql workspaces
  docs/codeql/codeql-cli/about-codeql-packs.rst
  docs/codeql/codeql-cli/about-codeql-workspaces.rst
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/codeql-cli-reference.rst
  docs/codeql/codeql-cli/creating-and-working-with-codeql-packs.rst
Labels: documentation, ready-for-doc-review

#9997 C++: Experimental product flow library
  cpp/ql/lib/experimental/semmle/code/cpp/dataflow/ProductFlow.qll
  cpp/ql/src/experimental/Likely Bugs/ArrayAccessProductFlow.ql
  cpp/ql/src/experimental/Likely Bugs/OverrunWriteProductFlow.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/OverrunWriteProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/OverrunWriteProductFlow.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/test.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/ArrayAccessProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/ArrayAccessProductFlow.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/test.cpp
Labels: C++, no-change-note-required

#10146 Remove upgrade database docs
  docs/codeql/codeql-cli/about-codeql-packs.rst
  docs/codeql/codeql-cli/about-codeql-workspaces.rst
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/codeql-cli-reference.rst
  docs/codeql/codeql-cli/creating-and-working-with-codeql-packs.rst
  docs/codeql/codeql-cli/creating-codeql-databases.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/upgrading-codeql-databases.rst
  docs/codeql/codeql-cli/using-the-codeql-cli.rst
Labels: documentation, ready-for-doc-review

#10319 Swift: Add encryption barriers to the two swift/cleartext-* queries
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/src/queries/Security/CWE-311/CleartextTransmission.ql
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testCoreData.swift
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
Labels: no-change-note-required, Swift

#10332 JS: bugfixes in TypeThroughThroughParameterTampering
  javascript/ql/lib/semmle/javascript/security/dataflow/TypeConfusionThroughParameterTamperingQuery.qll
  javascript/ql/src/change-notes/2022-09-07-type-confusion-bugfix.md
  javascript/ql/test/query-tests/Security/CWE-843/TypeConfusionThroughParameterTampering.expected
  javascript/ql/test/query-tests/Security/CWE-843/tst.js
Labels: JS, documentation

#10343 JS: recognize calls to `Function` when spread arguments are used
  javascript/ql/lib/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/tst.js
Labels: JS, no-change-note-required

#10341 Ruby: Inline `getAValueReachableFromSource`
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
Labels: no-change-note-required, Ruby

#10333 Kotlin: Remove a cast from extractStaticInitializer
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10114 Ruby/Python: Shared HTTP client request concept
  config/identical-files.json
  javascript/ql/lib/semmle/javascript/internal/ConceptsShared.qll
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/internal/ConceptsShared.qll
  python/ql/src/Security/CWE-295/RequestWithoutValidation.ql
  ruby/ql/lib/change-notes/2022-08-18-change-http-client-request.md
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForHttpClientLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/HttpClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/lib/codeql/ruby/internal/ConceptsShared.qll
  ruby/ql/lib/codeql/ruby/security/InsecureDownloadCustomizations.qll
  ruby/ql/src/queries/security/cwe-295/RequestWithoutValidation.ql
  ruby/ql/test/query-tests/security/cwe-295/Faraday.rb
  ruby/ql/test/query-tests/security/cwe-295/RequestWithoutValidation.expected
  ruby/ql/test/query-tests/security/cwe-295/RestClient.rb
Labels: JS, documentation, Python, Ruby

#10347 JS: add a markdown step through the `mermaid` library
  javascript/ql/lib/change-notes/2022-08-09-mermaid.md
  javascript/ql/lib/semmle/javascript/frameworks/Markdown.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/UnsafeHtmlConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/main.js
Labels: JS, documentation

#10348 Ruby: Fix ActiveResource HTTP client request modeling
  ruby/ql/lib/codeql/ruby/frameworks/ActiveResource.qll
Labels: no-change-note-required, Ruby

#10314 Python: Revert changes to sensitive data query alert messages
  python/ql/src/Security/CWE-312/CleartextLogging.ql
  python/ql/src/Security/CWE-312/CleartextStorage.ql
  python/ql/src/Security/CWE-327/WeakSensitiveDataHashing.ql
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage-py3/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-327-WeakSensitiveDataHashing/WeakSensitiveDataHashing.expected
Labels: Python, no-change-note-required

#10354 Ruby: Convert data-flow test to use inline test expectations
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.ql
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call_sensitivity.rb
Labels: Ruby

#10216 SSA: Create a new `codeql/shared-ssa` library pack and move implementation there
  .github/workflows/check-qldoc.yml
  .github/workflows/ruby-build.yml
  codeql-workspace.yml
  config/identical-files.json
  cpp/ql/lib/qlpack.yml
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  csharp/ql/lib/qlpack.yml
  csharp/ql/lib/semmle/code/cil/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/lib/qlpack.yml
  shared/README.md
  shared/ssa/codeql/ssa/Ssa.qll
  shared/ssa/qlpack.yml
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplCommon.qll
  swift/ql/lib/qlpack.yml
Labels: C#, C++, documentation, no-change-note-required, Ruby, Swift

#10355 C++: Avoid bad standard order in range analysis
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysis.qll
Labels: C++

#10339 C++: Don't use `getUniqueId` in range analysis
  cpp/ql/lib/experimental/semmle/code/cpp/rangeanalysis/Bound.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticExprSpecific.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
Labels: C++, no-change-note-required

#10356 JS: add taint-step in js/insecure-randomness for selecting a random element
  javascript/ql/lib/semmle/javascript/security/dataflow/InsecureRandomnessCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-338/InsecureRandomness.expected
  javascript/ql/test/query-tests/Security/CWE-338/tst.js
Labels: JS, no-change-note-required

#10360 Dataflow: Fix implicit reads in taint tracking when FlowStates are used
  cpp/ql/lib/change-notes/2022-09-08-implicit-read-flowstates.md
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/change-notes/2022-09-08-implicit-read-flowstates.md
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/lib/change-notes/2022-09-08-implicit-read-flowstates.md
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  java/ql/test/library-tests/dataflow/state/A.java
  java/ql/test/library-tests/dataflow/state/test.ql
  python/ql/lib/change-notes/2022-09-08-implicit-read-flowstates.md
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking1/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking3/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking4/TaintTrackingImpl.qll
  ruby/ql/lib/change-notes/2022-09-08-implicit-read-flowstates.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttrackingforlibraries/TaintTrackingImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
Labels: C#, C++, documentation, Java, Python, Ruby, Swift

#10359 Python: Clean up module resolution
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
  python/ql/lib/semmle/python/dataflow/new/internal/ImportStar.qll
Labels: Python, no-change-note-required

#10365 Kotlin: Fix `isUnspecialised` to handle generic classes inside generic methods
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/TypeSubstitution.kt
  java/ql/test/kotlin/library-tests/classes/PrintAst.expected
  java/ql/test/kotlin/library-tests/classes/anonymousClasses.expected
  java/ql/test/kotlin/library-tests/classes/classes.expected
  java/ql/test/kotlin/library-tests/classes/classes.kt
  java/ql/test/kotlin/library-tests/classes/ctorCalls.expected
  java/ql/test/kotlin/library-tests/classes/genericExprTypes.expected
  java/ql/test/kotlin/library-tests/classes/generic_anonymous.kt
  java/ql/test/kotlin/library-tests/classes/interfaces.expected
  java/ql/test/kotlin/library-tests/classes/localClass.expected
  java/ql/test/kotlin/library-tests/classes/paramTypes.expected
  java/ql/test/kotlin/library-tests/classes/superTypes.expected
Labels: Kotlin

#10239 Kotlin: Fix declaration stack
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/TrapWriter.kt
  java/ql/test/kotlin/library-tests/declaration-stack/Test.kt
  java/ql/test/kotlin/library-tests/declaration-stack/test.expected
  java/ql/test/kotlin/library-tests/declaration-stack/test.ql
Labels: Kotlin

#10351 JS: find a main module in more cases
  javascript/ql/lib/semmle/javascript/NodeModuleResolutionImpl.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/UnsafeHtmlConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/lib/package.json
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/lib/src/MyNode.ts
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/lib2/index.ts
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/lib2/package.json
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/lib2/src/MyNode.ts
Labels: JS, no-change-note-required

#10357 make a shared library of the typo database
  javascript/ql/src/Expressions/Misspelling.qll
  javascript/ql/src/Expressions/TypoDatabase.qll
  javascript/ql/src/qlpack.yml
  ql/ql/src/codeql_ql/style/MisspellingQuery.qll
  ql/ql/src/codeql_ql/style/TypoDatabase.qll
  ql/ql/src/qlpack.yml
  shared/typos/codeql/typos/TypoDatabase.qll
  shared/typos/qlpack.yml
Labels: JS, no-change-note-required, QL-for-QL

#10285 ReDoS: convert RelevantState to a class in the PrefixConstruction module
  java/ql/lib/semmle/code/java/security/regexp/NfaUtils.qll
  javascript/ql/lib/semmle/javascript/security/regexp/NfaUtils.qll
  python/ql/lib/semmle/python/security/regexp/NfaUtils.qll
  ruby/ql/lib/codeql/ruby/security/regexp/NfaUtils.qll
Labels: JS, Java, Python, no-change-note-required, Ruby

#10045 Swift: CWE-757: insecure TLS configuration
  swift/ql/src/queries/Security/CWE-757/InsecureTLS.qhelp
  swift/ql/src/queries/Security/CWE-757/InsecureTLS.ql
  swift/ql/src/queries/Security/CWE-757/SecureTLS.swift
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.qlref
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.swift
Labels: documentation, ready-for-doc-review, Swift

#10328 Kotlin: fix `KFunctionX.invoke` extraction
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/app/build.gradle
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/app/src/main/kotlin/testProject/App.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/diagnostics.expected
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/diagnostics.ql
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/settings.gradle
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/test.py
Labels: Java, Kotlin

#10313 Kotlin: Fix `vararg` extraction outside of method call
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/vararg/args.expected
  java/ql/test/kotlin/library-tests/vararg/args.ql
  java/ql/test/kotlin/library-tests/vararg/test.kt
Labels: Kotlin

#10364 Go: Remove the legacy tracer configuration files.
  go/Makefile
  go/codeql-tools/linux64/compiler-tracing.spec
  go/codeql-tools/osx64/compiler-tracing.spec
  go/codeql-tools/win64/compiler-tracing.spec
Labels: Go

#10106 Java: Query to detect Android backup allowed
  java/ql/lib/change-notes/2022-08-18-android-manifest-backup-predicate.md
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/src/Security/CWE/CWE-312/AllowBackupAttributeEnabled.qhelp
  java/ql/src/Security/CWE/CWE-312/AllowBackupAttributeEnabled.ql
  java/ql/src/Security/CWE/CWE-312/AllowBackupEmpty.xml
  java/ql/src/Security/CWE/CWE-312/AllowBackupFalse.xml
  java/ql/src/Security/CWE/CWE-312/AllowBackupTrue.xml
  java/ql/src/change-notes/2022-08-18-android-allowbackup-query.md
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidDatabaseTest.expected
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidDatabaseTest.java
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidDatabaseTest.ql
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidFilesystemTest.expected
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidFilesystemTest.java
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidFilesystemTest.ql
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageSharedPrefsTest.expected
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageSharedPrefsTest.java
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageSharedPrefsTest.ql
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageSharedPrefsTestKt.kt
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/options
  java/ql/test/query-tests/security/CWE-312/android/backup/AllowBackupEnabledTest.expected
  java/ql/test/query-tests/security/CWE-312/android/backup/AllowBackupEnabledTest.java
  java/ql/test/query-tests/security/CWE-312/android/backup/AllowBackupEnabledTest.qlref
  java/ql/test/query-tests/security/CWE-312/android/backup/TestEmptyManifest/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/TestExplicitlyDisabled/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/TestExplicitlyEnabled/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/TestLibrary/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/TestMissing/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/Testbuild/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/options
  java/ql/test/query-tests/security/CWE-312/options
Labels: documentation, Java, ready-for-doc-review

#10377 C++: Put a warning on the PointsTo library.
  cpp/ql/lib/semmle/code/cpp/pointsto/PointsTo.qll
Labels: C++, no-change-note-required

#10317 PY: deprecate a bunch of unused code
  python/ql/lib/change-notes/2022-09-12-deprecate-pointsto.md
  python/ql/lib/semmle/python/essa/SsaDefinitions.qll
  python/ql/lib/semmle/python/objects/TObject.qll
  python/ql/lib/semmle/python/pointsto/Base.qll
  python/ql/lib/semmle/python/pointsto/Filters.qll
  python/ql/lib/semmle/python/pointsto/PointsToContext.qll
  python/ql/lib/semmle/python/protocols.qll
Labels: documentation, Python

#10382 Ruby: Fix typo in QLDoc
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Labels: no-change-note-required, Ruby

#10366 C++: Use-use flow in `experimental`
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/DataFlow.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/DataFlow2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/DataFlow3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/DataFlow4.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/ResolveCall.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/TaintTracking.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/TaintTracking2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/TaintTracking3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplSpecific.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/ModelUtil.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/PrintIRStoreSteps.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/PrintIRUtilities.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingParameter.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingParameter.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking3/TaintTrackingParameter.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/SideEffects.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/FunctionInputsAndOutputs.qll
Labels: C++, no-change-note-required

#10381 JS: recognize a list of bad strings as a sanitizer for `js/prototype-polluting-assignment`
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutingAssignmentQuery.qll
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/tst.js
Labels: JS, no-change-note-required

#10390 QL: add unmentioned guard class query
  javascript/ql/lib/semmle/javascript/security/dataflow/DomBasedXssQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeHtmlConstructionQuery.qll
  ql/ql/src/queries/bugs/MissingSanitizerGuardCase.ql
Labels: JS, no-change-note-required, QL-for-QL

#10388 JS: recognize returning an instance of a class as exporting that class
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/lib.js
Labels: JS, no-change-note-required

#10399 Swift: print a helpful message on macOS ARM
  swift/rules.bzl
  swift/tools/prebuilt/BUILD.bazel
Labels: Swift

#10406 Ruby: Rewrite a few `::Range` uses to `instanceof`
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/dataflow/RemoteFlowSources.qll
Labels: no-change-note-required, Ruby

#10367 Port Pack Docs changes to 3.7
  docs/codeql/codeql-cli/about-codeql-packs.rst
  docs/codeql/codeql-cli/about-codeql-workspaces.rst
  docs/codeql/codeql-cli/about-ql-packs.rst
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/codeql-cli-reference.rst
  docs/codeql/codeql-cli/creating-and-working-with-codeql-packs.rst
  docs/codeql/codeql-cli/creating-codeql-databases.rst
  docs/codeql/codeql-cli/creating-codeql-query-suites.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/publishing-and-using-codeql-packs.rst
  docs/codeql/codeql-cli/query-reference-files.rst
  docs/codeql/codeql-cli/specifying-command-options-in-a-codeql-configuration-file.rst
  docs/codeql/codeql-cli/testing-custom-queries.rst
  docs/codeql/codeql-cli/testing-query-help-files.rst
  docs/codeql/codeql-cli/upgrading-codeql-databases.rst
  docs/codeql/codeql-cli/using-custom-queries-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/using-the-codeql-cli.rst
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
  docs/codeql/codeql-overview/codeql-glossary.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
  docs/codeql/reusables/test-qlpack.rst
  docs/codeql/writing-codeql-queries/about-codeql-queries.rst
Labels: documentation

#10408 Updated vulnerable XSS.java version
  java/ql/src/Security/CWE/CWE-079/XSS.java
  java/ql/src/Security/CWE/CWE-079/XSS.qhelp
Labels: documentation, Java

#10344 Add information about the `registries` block in `codeql-workspace.yml`
  docs/codeql/codeql-cli/about-codeql-workspaces.rst
  docs/codeql/codeql-cli/publishing-and-using-codeql-packs.rst
Labels: C++, documentation, no-change-note-required, ready-for-doc-review

#10401 Kotlin: Remove a throw statement
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
Labels: Kotlin

#10400 Ruby: Adjust the scope of singleton class targets
  ruby/ql/lib/codeql/ruby/AST.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Scope.qll
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/methods.ql
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/modules.ql
  ruby/ql/test/library-tests/modules/modules.rb
  ruby/ql/test/library-tests/modules/superclasses.expected
Labels: no-change-note-required, Ruby

#10335 Swift: first version of query targeting weak hashing
  swift/ql/lib/codeql/swift/elements/AstNode.qll
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/src/queries/Security/CWE-311/CleartextTransmission.ql
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashing.qhelp
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashing.ql
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashingBad.swift
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashingGood.swift
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.ql
  swift/ql/test/query-tests/Security/CWE-328/WeakSensitiveDataHashing.expected
  swift/ql/test/query-tests/Security/CWE-328/WeakSensitiveDataHashing.qlref
  swift/ql/test/query-tests/Security/CWE-328/testCrypto.swift
Labels: documentation, ready-for-doc-review, Swift

#10412 Revert "Swift: print a helpful message on macOS ARM"
  swift/rules.bzl
  swift/tools/prebuilt/BUILD.bazel
Labels: Swift

#10410 JS: don't report every non-ascii range in js/overly-large-range
  java/ql/lib/semmle/code/java/security/OverlyLargeRangeQuery.qll
  javascript/ql/lib/semmle/javascript/security/OverlyLargeRangeQuery.qll
  javascript/ql/test/query-tests/Security/CWE-020/SuspiciousRegexpRange/tst.js
  python/ql/lib/semmle/python/security/OverlyLargeRangeQuery.qll
  ruby/ql/lib/codeql/ruby/security/OverlyLargeRangeQuery.qll
Labels: JS, Java, Python, no-change-note-required, Ruby

#10334 Java: Implement union type flow and replace ad-hoc variable tracking in dispatch
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dispatch/VirtualDispatch.qll
  java/ql/src/Security/CWE/CWE-327/MaybeBrokenCryptoAlgorithm.ql
  java/ql/test/library-tests/dataflow/callctx/A.java
  java/ql/test/library-tests/dataflow/callctx/test.expected
  java/ql/test/library-tests/dataflow/callctx/test.ql
  java/ql/test/library-tests/dispatch/ViableCallable4.java
  java/ql/test/library-tests/dispatch/viableCallable.expected
  java/ql/test/library-tests/typeflow/UnionTypes.java
  java/ql/test/library-tests/typeflow/typeflow.expected
  java/ql/test/library-tests/typeflow/uniontypeflow.expected
  java/ql/test/library-tests/typeflow/uniontypeflow.ql
Labels: Java, no-change-note-required

#10414 Java: Tweak Member.getQualifiedName()
  java/ql/lib/change-notes/2022-09-13-Member-getQualifiedName.md
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/lib/semmle/code/java/security/ExternalAPIs.qll
  java/ql/test/kotlin/library-tests/data-classes/callees.expected
  java/ql/test/kotlin/library-tests/generics-location/locations.expected
  java/ql/test/kotlin/library-tests/methods-mixed-java-and-kotlin/test.expected
  java/ql/test/kotlin/library-tests/multiple_files/method_accesses.expected
  java/ql/test/kotlin/library-tests/reflection/reflection.expected
  java/ql/test/library-tests/MemberRefExpr/MemberRefExpr.expected
  java/ql/test/library-tests/frameworks/play/PlayMvcHttpRequestHeader.expected
  java/ql/test/library-tests/frameworks/play/PlayMvcResultsClass.expected
Labels: documentation, Java, Kotlin

#10415 Change two ```codeql to ```ql
  python/ql/lib/semmle/python/frameworks/Peewee.qll
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
Labels: Python, no-change-note-required, Ruby

#10402 Kotlin: Add integration test for compiler argument extraction
  java/ql/integration-tests/posix-only/kotlin/compiler_arguments/app/build.gradle
  java/ql/integration-tests/posix-only/kotlin/compiler_arguments/app/src/main/kotlin/testProject/App.kt
  java/ql/integration-tests/posix-only/kotlin/compiler_arguments/compArgs.expected
  java/ql/integration-tests/posix-only/kotlin/compiler_arguments/compArgs.ql
  java/ql/integration-tests/posix-only/kotlin/compiler_arguments/settings.gradle
  java/ql/integration-tests/posix-only/kotlin/compiler_arguments/test.py
Labels: Java

#10407 Go: Rewrite `::Range` patterns to use `instanceof`
  go/ql/lib/semmle/go/Concepts.qll
  go/ql/lib/semmle/go/StringOps.qll
  go/ql/lib/semmle/go/concepts/GeneratedFile.qll
  go/ql/lib/semmle/go/concepts/HTTP.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
  go/ql/lib/semmle/go/frameworks/Email.qll
  go/ql/lib/semmle/go/frameworks/NoSQL.qll
  go/ql/lib/semmle/go/frameworks/SQL.qll
  go/ql/lib/semmle/go/frameworks/Testing.qll
  go/ql/lib/semmle/go/frameworks/WebSocket.qll
  go/ql/lib/semmle/go/frameworks/XPath.qll
  go/ql/lib/semmle/go/security/FlowSources.qll
Labels: no-change-note-required, Go

#10417 remove upper-case variable name from `HubClasses`
  cpp/ql/src/Architecture/General Class-Level Information/HubClasses.ql
Labels: C++, no-change-note-required

#10389 Tweak the query suites documentation
  docs/codeql/codeql-cli/creating-codeql-query-suites.rst
Labels: documentation, ready-for-doc-review

#10418 Add lock files for Swift packs
  swift/ql/lib/qlpack.lock.yml
  swift/ql/src/qlpack.lock.yml
Labels: Priority, Swift

#10270 Update documentation about downloading CodeQL databases using the VS Code extension
  docs/codeql/codeql-cli/creating-codeql-databases.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/codeql-for-visual-studio-code/customizing-settings.rst
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
  docs/codeql/images/codeql-for-visual-studio-code/choose-database.png
  docs/codeql/reusables/download-github-database.rst
  docs/codeql/reusables/download-lgtm-database.rst
  docs/codeql/reusables/index-files-note.rst
Labels: documentation, ready-for-doc-review

#10428 Cherry-pick changes from #10270 onto rc/3.7
  docs/codeql/codeql-cli/creating-codeql-databases.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/codeql-for-visual-studio-code/customizing-settings.rst
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
  docs/codeql/images/codeql-for-visual-studio-code/choose-database.png
  docs/codeql/reusables/download-github-database.rst
  docs/codeql/reusables/download-lgtm-database.rst
  docs/codeql/reusables/index-files-note.rst
Labels: documentation

#10420 remove several upper-case `NamedExpression` variable names
  cpp/ql/src/Architecture/General Class-Level Information/InheritanceDepthDistribution.ql
  cpp/ql/src/Architecture/General Top-Level Information/GeneralStatistics.ql
  cpp/ql/src/Architecture/Refactoring Opportunities/ClassesWithManyDependencies.ql
  cpp/ql/src/Architecture/Refactoring Opportunities/ComplexFunctions.ql
  cpp/ql/src/Metrics/Namespaces/AbstractNamespaces.ql
  cpp/ql/src/Metrics/Namespaces/ConcreteNamespaces.ql
  cpp/ql/src/Metrics/Namespaces/HighAfferentCouplingNamespaces.ql
  cpp/ql/src/Metrics/Namespaces/HighDistanceFromMainLineNamespaces.ql
  cpp/ql/src/Metrics/Namespaces/HighEfferentCouplingNamespaces.ql
  cpp/ql/src/Metrics/Namespaces/StableNamespaces.ql
  cpp/ql/src/Metrics/Namespaces/UnstableNamespaces.ql
Labels: C++, no-change-note-required

#10427 Kotlin: Compile with -Werror, and fix warnings
  java/kotlin-extractor/build.py
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/TypeSubstitution.kt
Labels: Kotlin

#10419 Kotlin: Remove an unused method
  java/kotlin-extractor/src/main/java/com/semmle/extractor/java/OdasaOutput.java
Labels: Kotlin

#10425 Ruby: Fix bad join-order in DB upgrade script
  ruby/ql/lib/upgrades/4ba51641799d2aaa315c7323931e2dd2a94c9f9d/locations_default.ql
Labels: no-change-note-required, Ruby

#10318 Java: Add summaries for NotificationCompat and its inner classes
  java/ql/lib/change-notes/2022-09-06-notificationcompat-summaries.md
  java/ql/lib/semmle/code/java/frameworks/android/Notifications.qll
  java/ql/test/library-tests/frameworks/android/notification/Test.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/NotificationBuilderWithBuilderAccessor.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/NotificationCompat.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/RemoteInput.java
  java/ql/test/stubs/google-android-9.0.0/androidx/versionedparcelable/CustomVersionedParcelable.java
  java/ql/test/stubs/google-android-9.0.0/androidx/versionedparcelable/VersionedParcelable.java
Labels: documentation, Java

#10330 Java: Add Implicit PendingIntents sinks for Compat classes
  java/ql/lib/change-notes/2022-09-07-implicit-pendingintents-compat-sinks.md
  java/ql/lib/semmle/code/java/security/ImplicitPendingIntents.qll
  java/ql/test/query-tests/security/CWE-927/ImplicitPendingIntentsTest.java
  java/ql/test/stubs/google-android-9.0.0/android/app/AppComponentFactory.java
  java/ql/test/stubs/google-android-9.0.0/android/app/AutomaticZenRule.java
  java/ql/test/stubs/google-android-9.0.0/android/service/notification/Condition.java
  java/ql/test/stubs/google-android-9.0.0/android/service/notification/StatusBarNotification.java
  java/ql/test/stubs/google-android-9.0.0/android/service/notification/ZenPolicy.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/AlarmManagerCompat.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/CoreComponentFactory.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/NotificationManagerCompat.java
  java/ql/test/stubs/google-android-9.0.0/androidx/remotecallback/CallbackReceiver.java
  java/ql/test/stubs/google-android-9.0.0/androidx/slice/Clock.java
  java/ql/test/stubs/google-android-9.0.0/androidx/slice/builders/impl/TemplateBuilderImpl.java
  java/ql/test/stubs/google-android-9.0.0/androidx/slice/compat/CompatPermissionManager.java
Labels: documentation, Java

#10435 C++: remove more upper-case variable names
  cpp/ql/src/Architecture/General Class-Level Information/HubClasses.ql
  cpp/ql/src/PointsTo/TaintedFormatStrings.ql
Labels: C++, no-change-note-required

#10440 Java: remove upper-case variable name
  java/ql/src/Architecture/Refactoring Opportunities/HubClasses.ql
Labels: Java, no-change-note-required

#10437 Java: Fix wrong packages in minor analysis change note
  java/ql/lib/change-notes/released/0.3.4.md
Labels: documentation, Java

#9693 Token validation
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/JsonWebTokenHandlerLib.qll
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/delegated-security-validations-always-return-true-bad.cs
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/delegated-security-validations-always-return-true-good.cs
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/delegated-security-validations-always-return-true.qhelp
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/delegated-security-validations-always-return-true.ql
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/security-validation-disabled-bad.cs
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/security-validation-disabled-good.cs
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/security-validation-disabled.qhelp
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/security-validation-disabled.ql
  csharp/ql/test/experimental/Security Features/JsonWebTokenHandler/delegated-security-validations-always-return-true.expected
  csharp/ql/test/experimental/Security Features/JsonWebTokenHandler/delegated-security-validations-always-return-true.qlref
  csharp/ql/test/experimental/Security Features/JsonWebTokenHandler/delegation-test.cs
  csharp/ql/test/experimental/Security Features/JsonWebTokenHandler/security-validation-disabled-test.cs
  csharp/ql/test/experimental/Security Features/JsonWebTokenHandler/security-validation-disabled.expected
  csharp/ql/test/experimental/Security Features/JsonWebTokenHandler/security-validation-disabled.qlref
  csharp/ql/test/experimental/Security Features/JsonWebTokenHandler/stubs.cs
Labels: C#, documentation

#10439 JavaScript: remove upper-case variable names
  javascript/ql/src/meta/extraction-metrics/FileData.ql
  javascript/ql/src/meta/extraction-metrics/PhaseTimings.ql
Labels: JS, no-change-note-required

#10443 QL: recognize the names from all VarDefs
  ql/ql/src/codeql_ql/style/NodeName.qll
Labels: QL-for-QL

#10448 Swift: skip more unsupported CLI args (new in Xcode 14)
  swift/tools/tracing-config.lua
Labels: Swift

#10191 Java: Add test regarding the type of an implicit `this` expression
  java/ql/src/Advisory/Deprecated Code/AvoidDeprecatedCallableAccess.ql
  java/ql/src/Likely Bugs/Collections/IteratorRemoveMayFail.ql
  java/ql/src/Performance/InnerClassCouldBeStatic.ql
  java/ql/src/Violations of Best Practice/Implementation Hiding/ExposeRepresentation.ql
  java/ql/src/Violations of Best Practice/Naming Conventions/AmbiguousOuterSuper.ql
  java/ql/src/change-notes/2022-09-15-implicit-this-generic-method.md
  java/ql/test/library-tests/implicit-this-type/Test.java
  java/ql/test/library-tests/implicit-this-type/test.expected
  java/ql/test/library-tests/implicit-this-type/test.ql
  java/ql/test/query-tests/AmbiguousOuterSuper/AmbiguousOuterSuper.expected
  java/ql/test/query-tests/AmbiguousOuterSuper/AmbiguousOuterSuper.qlref
  java/ql/test/query-tests/AmbiguousOuterSuper/GenericTest.java
  java/ql/test/query-tests/AmbiguousOuterSuper/Test.java
  java/ql/test/query-tests/ExposeRepresentation/ExposeRepresentation.expected
  java/ql/test/query-tests/ExposeRepresentation/ExposeRepresentation.qlref
  java/ql/test/query-tests/ExposeRepresentation/ExposesRep.java
  java/ql/test/query-tests/ExposeRepresentation/User.java
  java/ql/test/query-tests/IteratorRemoveMayFail/IteratorRemoveMayFail.expected
  java/ql/test/query-tests/IteratorRemoveMayFail/Test.java
Labels: documentation, Java

#10449 Correct link to API docs for 'Get a CodeQL database for a repository'
  docs/codeql/reusables/download-github-database.rst
Labels: documentation, ready-for-doc-review

#10416 Java: Remove low confidence dispatch for which we have a manual summary.
  java/ql/lib/change-notes/2022-09-16-dispatch-confidence.md
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dispatch/VirtualDispatch.qll
Labels: documentation, Java

#10393 Java: Model taint flow for java.net.URI constructors in tainted path queries
  java/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  java/ql/src/Security/CWE/CWE-022/TaintedPathCommon.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPathLocal.ql
  java/ql/src/change-notes/2022-09-13-flow-model-for-uri-constructors.md
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/Test.java
Labels: documentation, Java

#10404 Docs: Use `instanceof` in `::Range` pattern description
  docs/ql-design-patterns.md
Labels: documentation

#10455 Swift: Update test for swift/cleartext-transmission
  swift/ql/test/query-tests/Security/CWE-311/testURL.swift
Labels: no-change-note-required, Swift

#10445 Java: Add test for annotations with annotation-array-typed fields
  java/ql/test/library-tests/annotation-arrays/Test.java
  java/ql/test/library-tests/annotation-arrays/test.expected
  java/ql/test/library-tests/annotation-arrays/test.ql
Labels: Java

#10460 Updates the library path section of the CodeQL spec
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#10396 JS: Fix FP in js/regexp/always-matches
  javascript/ql/src/RegExp/RegExpAlwaysMatches.ql
  javascript/ql/src/change-notes/2022-09-13-regexp-always-matches-fp.md
  javascript/ql/test/query-tests/RegExp/RegExpAlwaysMatches/RegExpAlwaysMatches.expected
  javascript/ql/test/query-tests/RegExp/RegExpAlwaysMatches/tst.js
Labels: JS, documentation

#10384 Python: Allow `CallNode.getArgByName` for keyword args after `**kwargs`
  python/ql/lib/change-notes/2022-09-12-CallNode-getArgByName.md
  python/ql/lib/semmle/python/Flow.qll
  python/ql/test/experimental/dataflow/coverage/argumentPassing.py
Labels: documentation, Python

#10464 C#: Remove `dotnet run` support in LUA tracer.
  csharp/tools/tracing-config.lua
Labels: C#

#10468 Add redirect for removed 'About QL packs' article
  docs/codeql/codeql-cli/about-codeql-workspaces.rst
  docs/codeql/codeql-cli/about-ql-packs.rst
Labels: documentation, ready-for-doc-review

#10238 C#: Theorems for Free - Model generation
  csharp/ql/src/utils/model-generator/CaptureDiscardedSummaryModels.ql
  csharp/ql/src/utils/model-generator/CaptureNegativeSummaryModels.ql
  csharp/ql/src/utils/model-generator/CaptureSinkModels.ql
  csharp/ql/src/utils/model-generator/CaptureSourceModels.ql
  csharp/ql/src/utils/model-generator/CaptureSummaryModels.ql
  csharp/ql/src/utils/model-generator/CaptureTypeBasedSummaryModels.ql
  csharp/ql/src/utils/model-generator/internal/CaptureModels.qll
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  csharp/ql/src/utils/model-generator/internal/CaptureSummaryFlow.qll
  csharp/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
  csharp/ql/test/utils/model-generator/dataflow/CaptureNegativeSummaryModels.expected
  csharp/ql/test/utils/model-generator/dataflow/CaptureNegativeSummaryModels.qlref
  csharp/ql/test/utils/model-generator/dataflow/CaptureSinkModels.expected
  csharp/ql/test/utils/model-generator/dataflow/CaptureSinkModels.qlref
  csharp/ql/test/utils/model-generator/dataflow/CaptureSourceModels.expected
  csharp/ql/test/utils/model-generator/dataflow/CaptureSourceModels.qlref
  csharp/ql/test/utils/model-generator/dataflow/CaptureSummaryModels.expected
  csharp/ql/test/utils/model-generator/dataflow/CaptureSummaryModels.qlref
  csharp/ql/test/utils/model-generator/dataflow/NoSummaries.cs
  csharp/ql/test/utils/model-generator/dataflow/Sinks.cs
  csharp/ql/test/utils/model-generator/dataflow/Sources.cs
  csharp/ql/test/utils/model-generator/dataflow/Summaries.cs
  csharp/ql/test/utils/model-generator/dataflow/options
  csharp/ql/test/utils/model-generator/typebasedflow/CaptureTypeBasedSummaryModels.expected
  csharp/ql/test/utils/model-generator/typebasedflow/CaptureTypeBasedSummaryModels.qlref
  csharp/ql/test/utils/model-generator/typebasedflow/TypeBasedSummaries.cs
  java/ql/src/utils/model-generator/CaptureNegativeSummaryModels.ql
  java/ql/src/utils/model-generator/CaptureSinkModels.ql
  java/ql/src/utils/model-generator/CaptureSourceModels.ql
  java/ql/src/utils/model-generator/CaptureSummaryModels.ql
  java/ql/src/utils/model-generator/internal/CaptureModels.qll
  java/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/model-generator/internal/CaptureSummaryFlow.qll
  misc/scripts/models-as-data/generate_flow_model.py
Labels: C#, Java, no-change-note-required

#10438 C++: Add a `cpp/invalid-pointer-deref` query to experimental
  cpp/ql/lib/experimental/semmle/code/cpp/dataflow/ProductFlow.qll
  cpp/ql/lib/experimental/semmle/code/cpp/rangeanalysis/Bound.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticExpr.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticOpcode.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysis.qll
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/OverrunWriteProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/ArrayAccessProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/test.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++, documentation, no-change-note-required

#10457 Java: really return a unique location for non-source entities
  java/ql/lib/semmle/code/Location.qll
Labels: Java, no-change-note-required

#10472 JS: don't mention classes that don't exist in TaintTracking.qll
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
Labels: JS, no-change-note-required

#10475 Go: Fix source/sanitizer class that were never used
  go/ql/lib/semmle/go/security/InsecureRandomness.qll
  go/ql/lib/semmle/go/security/Xss.qll
Labels: no-change-note-required, Go

#10405 update the style guide on alert-messages
  docs/query-metadata-style-guide.md
  ql/ql/src/queries/style/AlertMessage.ql
Labels: documentation, QL-for-QL

#10476 ruby: remove unused predicate from NfaUtilsSpecific
  ruby/ql/lib/codeql/ruby/security/regexp/NfaUtilsSpecific.qll
Labels: no-change-note-required, Ruby
