Repository github/codeql, pull requests merged in 2022-01, with the labels that each got.

#7502 QL: Support trailing comma in set literals
  ql/Cargo.lock
  ql/extractor/Cargo.toml
  ql/generator/Cargo.toml
Labels: QL-for-QL

#7503 Move change notes to correct location
  cpp/old-change-notes/2021-10-07-cleartext-transmission.md
  javascript/ql/src/change-notes/2021-11-08-routing-trees.md
  javascript/ql/src/change-notes/2021-12-07-handlebars-more-raw-interpolation.md
  python/ql/src/change-notes/2021-12-17-add-SSRF-analysis.md
  python/ql/src/change-notes/2021-12-17-add-SSRF-queries.md
  ruby/ql/lib/change-notes/2021-12-21-constants.md
Labels: JS, C++, documentation, Python, Ruby

#7468 C#: Re-factor the ForEachCapture query to use MaD flow summaries.
  csharp/ql/lib/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/src/Language Abuse/ForeachCapture.ql
Labels: C#, no-change-note-required

#7369 JS/Py/Ruby: Add more CWEs to bad-tag-filter queries
  javascript/ql/src/Security/CWE-116/BadTagFilter.ql
  python/ql/src/Security/CWE-116/BadTagFilter.ql
  ruby/ql/src/queries/security/cwe-116/BadTagFilter.ql
Labels: JS, Python, no-change-note-required, Ruby

#7198 Ruby: Flow through arrays/enumerables
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/lib/codeql/ruby/frameworks/StandardLibrary.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.ql
  ruby/ql/test/library-tests/dataflow/array-flow/array_flow.rb
  ruby/ql/test/library-tests/dataflow/local/Nodes.ql
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
  ruby/ql/test/query-tests/security/cwe-022/PathInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/KernelOpen.expected
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-089/SqlInjection.expected
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection.expected
  ruby/ql/test/query-tests/security/cwe-1333-polynomial-redos/PolynomialReDoS.expected
  ruby/ql/test/query-tests/security/cwe-1333-regexp-injection/RegExpInjection.expected
  ruby/ql/test/query-tests/security/cwe-502/oj-global-options/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-601/UrlRedirect.expected
  ruby/ql/test/query-tests/security/cwe-611/Xxe.expected
  ruby/ql/test/query-tests/security/cwe-807-user-controlled-bypass/ConditionalBypass.expected
  ruby/ql/test/query-tests/security/cwe-918/ServerSideRequestForgery.expected
Labels: Ruby

#7506 Python: Fix typo in change note
  python/ql/src/change-notes/2021-12-17-add-SSRF-queries.md
Labels: documentation, Python

#6949 CPP: Add query for CWE-266 Incorrect Privilege Assignment
  cpp/ql/src/experimental/Security/CWE/CWE-266/IncorrectPrivilegeAssignment.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-266/IncorrectPrivilegeAssignment.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-266/IncorrectPrivilegeAssignment.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-266/semmle/tests/IncorrectPrivilegeAssignment.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-266/semmle/tests/IncorrectPrivilegeAssignment.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-266/semmle/tests/test.cpp
Labels: C++, documentation

#7500 Propagate taint through AbstractStringBuilder.reverse()
  java/ql/lib/semmle/code/java/frameworks/Strings.qll
Labels: Java

#7458 QL: add "modelling/modeling" to `ql/non-us-spelling`
  cpp/ql/lib/experimental/semmle/code/cpp/models/interfaces/SimpleRangeAnalysisDefinition.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/JsonNET.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/NHibernate.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/ServiceStack.qll
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/lib/semmle/javascript/Collections.qll
  javascript/ql/lib/semmle/javascript/Generators.qll
  javascript/ql/lib/semmle/javascript/JsonStringifiers.qll
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/RangeAnalysis.qll
  javascript/ql/lib/semmle/javascript/Routing.qll
  javascript/ql/lib/semmle/javascript/SSA.qll
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/dataflow/TypeInference.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/VariableTypeInference.qll
  javascript/ql/lib/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/lib/semmle/javascript/frameworks/Credentials.qll
  javascript/ql/lib/semmle/javascript/frameworks/D3.qll
  javascript/ql/lib/semmle/javascript/frameworks/DateFunctions.qll
  javascript/ql/lib/semmle/javascript/frameworks/Electron.qll
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/FormParsers.qll
  javascript/ql/lib/semmle/javascript/frameworks/GraphQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/lib/semmle/javascript/frameworks/History.qll
  javascript/ql/lib/semmle/javascript/frameworks/HttpProxy.qll
  javascript/ql/lib/semmle/javascript/frameworks/LiveServer.qll
  javascript/ql/lib/semmle/javascript/frameworks/Logging.qll
  javascript/ql/lib/semmle/javascript/frameworks/Markdown.qll
  javascript/ql/lib/semmle/javascript/frameworks/Next.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/Prettier.qll
  javascript/ql/lib/semmle/javascript/frameworks/PropertyProjection.qll
  javascript/ql/lib/semmle/javascript/frameworks/Puppeteer.qll
  javascript/ql/lib/semmle/javascript/frameworks/Redux.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/ShellJS.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/frameworks/UriLibraries.qll
  javascript/ql/lib/semmle/javascript/frameworks/WebSocket.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/BadTagFilterQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/RemoteFlowSources.qll
  javascript/ql/src/experimental/semmle/javascript/Actions.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/objects/TObject.qll
  python/ql/lib/semmle/python/security/BadTagFilterQuery.qll
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/style/docs/NonUSSpellingQuery.qll
  ql/ql/src/queries/style/docs/NonUSSpelling.ql
  ruby/ql/lib/codeql/ruby/dataflow/SSA.qll
  ruby/ql/lib/codeql/ruby/security/BadTagFilterQuery.qll
Labels: C#, JS, C++, Python, Ruby, QL-for-QL

#7508 Python: Fix another change note typo
  python/ql/src/change-notes/2021-12-17-add-SSRF-analysis.md
Labels: documentation, Python

#7493 C++: relax ambiguously-signed-bit-field by allowing GLib's gboolean
  cpp/ql/src/Likely Bugs/AmbiguouslySignedBitField.ql
  cpp/ql/src/change-notes/2021-12-30-ambiguously-signed-bit-field.md
Labels: C++, documentation

#7511 Python: remove duplicated spaces in qldoc
  python/ql/lib/semmle/python/Comparisons.qll
  python/ql/lib/semmle/python/Operations.qll
  python/ql/lib/semmle/python/essa/Essa.qll
  python/ql/lib/semmle/python/essa/SsaDefinitions.qll
  python/ql/src/Security/CWE-327/TlsLibraryModel.qll
Labels: Python, no-change-note-required

#7459 C++: Increase precision of `cpp/arithmetic-uncontrolled` to `high`
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  cpp/ql/src/change-notes/2022-01-05-promote-uncontrolled-arithmetic.md
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/test.cpp
Labels: C++, documentation

#7509 C#: Treat QL test stubs as not from source
  csharp/ql/lib/csharp.qll
  csharp/ql/lib/semmle/code/csharp/File.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/lib/semmle/code/csharp/internal/csharp.qll
  csharp/ql/test/csharp.qll
  csharp/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
Labels: C#

#7416 Remove experimental tag from non-ATM queries
  python/ql/src/experimental/Security/CWE-090/LDAPInjection.ql
  python/ql/src/experimental/Security/CWE-287/ImproperLdapAuth.ql
  python/ql/src/experimental/Security/CWE-522/LDAPInsecureAuth.ql
  python/ql/src/experimental/Security/CWE-943/NoSQLInjection.ql
Labels: Python

#7518 Python: Extend unreachable statement test
  python/ql/test/query-tests/Statements/unreachable/global.py
Labels: Python, no-change-note-required

#7465 C#: Introduce flow summaries for StringValues.
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/microsoft/extensions/Primitives.qll
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.expected
  csharp/ql/test/library-tests/dataflow/library/FlowSummariesFiltered.expected
  csharp/ql/test/library-tests/dataflow/library/options
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/corestubs.cs
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/options
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/stubs.cs
  csharp/ql/test/query-tests/Security Features/CWE-601/UrlRedirect/UrlRedirect.expected
  csharp/ql/test/query-tests/Security Features/CWE-601/UrlRedirect/options
  csharp/ql/test/query-tests/Security Features/CWE-601/UrlRedirect/stubs.cs
  csharp/ql/test/resources/stubs/Microsoft.Extensions.Primitives/6.0.0/Microsoft.Extensions.Primitives.cs
  csharp/ql/test/resources/stubs/Microsoft.Extensions.Primitives/6.0.0/Microsoft.Extensions.Primitives.csproj
Labels: C#

#7516 C#: Introduce Csv validation on kind.
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/test/library-tests/dataflow/external-models/sinks.expected
  csharp/ql/test/library-tests/dataflow/external-models/sinks.ql
  csharp/ql/test/library-tests/dataflow/external-models/srcs.expected
  csharp/ql/test/library-tests/dataflow/external-models/srcs.ql
Labels: C#

#7431 Solorigate: Extract to separate qlpack
  .codeqlmanifest.json
  csharp/ql/campaigns/Solorigate/Solorigate-Readme.md
  csharp/ql/campaigns/Solorigate/lib/CHANGELOG.md
  csharp/ql/campaigns/Solorigate/lib/Solorigate.qll
  csharp/ql/campaigns/Solorigate/lib/change-notes/released/1.0.0.md
  csharp/ql/campaigns/Solorigate/lib/codeql-pack.lock.yml
  csharp/ql/campaigns/Solorigate/lib/codeql-pack.release.yml
  csharp/ql/campaigns/Solorigate/lib/qlpack.yml
  csharp/ql/campaigns/Solorigate/publish.sh
  csharp/ql/campaigns/Solorigate/src/CHANGELOG.md
  csharp/ql/campaigns/Solorigate/src/ModifiedFnvFunctionDetection.qhelp
  csharp/ql/campaigns/Solorigate/src/ModifiedFnvFunctionDetection.ql
  csharp/ql/campaigns/Solorigate/src/NumberOfKnownCommandsAboveThreshold.qhelp
  csharp/ql/campaigns/Solorigate/src/NumberOfKnownCommandsAboveThreshold.ql
  csharp/ql/campaigns/Solorigate/src/NumberOfKnownHashesAboveThreshold.qhelp
  csharp/ql/campaigns/Solorigate/src/NumberOfKnownHashesAboveThreshold.ql
  csharp/ql/campaigns/Solorigate/src/NumberOfKnownLiteralsAboveThreshold.qhelp
  csharp/ql/campaigns/Solorigate/src/NumberOfKnownLiteralsAboveThreshold.ql
  csharp/ql/campaigns/Solorigate/src/NumberOfKnownMethodNamesAboveThreshold.qhelp
  csharp/ql/campaigns/Solorigate/src/NumberOfKnownMethodNamesAboveThreshold.ql
  csharp/ql/campaigns/Solorigate/src/Solorigate.inc.qhelp
  csharp/ql/campaigns/Solorigate/src/SwallowEverythingExceptionHandler.qhelp
  csharp/ql/campaigns/Solorigate/src/SwallowEverythingExceptionHandler.ql
  csharp/ql/campaigns/Solorigate/src/change-notes/released/1.0.0.md
  csharp/ql/campaigns/Solorigate/src/codeql-pack.release.yml
  csharp/ql/campaigns/Solorigate/src/codeql-suites/solorigate.qls
  csharp/ql/campaigns/Solorigate/src/qlpack.lock.yml
  csharp/ql/campaigns/Solorigate/src/qlpack.yml
  csharp/ql/campaigns/Solorigate/test/Solorigate/ModifiedFnvFunctionDetection.expected
  csharp/ql/campaigns/Solorigate/test/Solorigate/ModifiedFnvFunctionDetection.qlref
  csharp/ql/campaigns/Solorigate/test/Solorigate/NumberOfKnownCommandsAboveThreshold.expected
  csharp/ql/campaigns/Solorigate/test/Solorigate/NumberOfKnownCommandsAboveThreshold.qlref
  csharp/ql/campaigns/Solorigate/test/Solorigate/NumberOfKnownHashesAboveThreshold.expected
  csharp/ql/campaigns/Solorigate/test/Solorigate/NumberOfKnownHashesAboveThreshold.qlref
  csharp/ql/campaigns/Solorigate/test/Solorigate/NumberOfKnownLiteralsAboveThreshold.expected
  csharp/ql/campaigns/Solorigate/test/Solorigate/NumberOfKnownLiteralsAboveThreshold.qlref
  csharp/ql/campaigns/Solorigate/test/Solorigate/NumberOfKnownMethodNamesAboveThreshold.expected
  csharp/ql/campaigns/Solorigate/test/Solorigate/NumberOfKnownMethodNamesAboveThreshold.qlref
  csharp/ql/campaigns/Solorigate/test/Solorigate/SwallowEverythingExceptionHandler.expected
  csharp/ql/campaigns/Solorigate/test/Solorigate/SwallowEverythingExceptionHandler.qlref
  csharp/ql/campaigns/Solorigate/test/Solorigate/test.cs
  csharp/ql/campaigns/Solorigate/test/qlpack.lock.yml
  csharp/ql/campaigns/Solorigate/test/qlpack.yml
  csharp/ql/lib/experimental/code/csharp/Cryptography/NonCryptographicHashes.qll
  csharp/ql/lib/qlpack.yml
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/ModifiedFnvFunctionDetection.qlref
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownCommandsAboveThreshold.qlref
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownHashesAboveThreshold.qlref
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownLiteralsAboveThreshold.qlref
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/NumberOfKnownMethodNamesAboveThreshold.qlref
  csharp/ql/test/experimental/Security Features/campaign/Solorigate/SwallowEverythingExceptionHandler.qlref
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: C#, JS, documentation

#7525 C++: Remove `rank` aggregate in `SsaInternals`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Labels: C++

#7507 C#: Refactor and cleanup LibraryTypeDataFlow
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Collections.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Text.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/runtime/CompilerServices.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/threading/Tasks.qll
Labels: C#

#7517 C++: Remove bad self joins in `cpp/toctou-race-condition`.
  cpp/ql/src/Security/CWE/CWE-367/TOCTOUFilesystemRace.ql
Labels: C++, no-change-note-required

#5893 Update README.md
  README.md
Labels: documentation, ready-for-doc-review

#7521 C++: Use Guards library in Overflow.qll
  cpp/ql/lib/semmle/code/cpp/security/Overflow.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/test.c
Labels: C++

#7532 C#: Make support for file scoped namespace declarations.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/NamespaceDeclaration.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/TypeOrNamespaceVisitor.cs
  csharp/ql/test/library-tests/csharp10/FileScopedNamespace.cs
  csharp/ql/test/library-tests/csharp10/fileScopedNamespace.expected
  csharp/ql/test/library-tests/csharp10/fileScopedNamespace.ql
Labels: C#

#7469 C#: Promote existing ad-hoc consistency checks to consistency queries
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImplCommon.qll
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Constructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Initializer.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Tuple.cs
  csharp/ql/consistency-queries/AstConsistency.qll
  csharp/ql/consistency-queries/GenericsConsistency.qll
  csharp/ql/consistency-queries/SsaConsistency.ql
  csharp/ql/lib/semmle/code/cil/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/commons/ConsistencyChecks.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/pressa/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/basessa/SsaImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/arguments/argumentType.expected
  csharp/ql/test/library-tests/csharp7.3/PrintAst.expected
  csharp/ql/test/library-tests/csharp8/PrintAst.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaConsistency.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaConsistency.ql
  csharp/ql/test/library-tests/dataflow/tuples/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/tuples/PrintAst.expected
  csharp/ql/test/library-tests/generics/ConsistencyChecks.expected
  csharp/ql/test/library-tests/generics/ConsistencyChecks.ql
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImplCommon.qll
Labels: C#, C++, Ruby

#7171 JS: Initial models-as-data implementation
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/frameworks/Credentials.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/ModelsAsData.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/Impl.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/Shared.qll
  javascript/ql/test/library-tests/frameworks/data/test.expected
  javascript/ql/test/library-tests/frameworks/data/test.js
  javascript/ql/test/library-tests/frameworks/data/test.ql
Labels: JS, no-change-note-required

#7553 Ruby: Revert "Update clap requirement from 2.33 to 3.0 in /ruby/generator"
  ruby/generator/Cargo.toml
Labels: dependencies, Ruby, rust

#7552 Note that parameterizations of local classes are themselves local
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/test/library-tests/localclasses/Test.java
  java/ql/test/library-tests/localclasses/test.expected
  java/ql/test/library-tests/localclasses/test.ql
Labels: Java

#7559 C#: Constant string interpolation (test only).
  csharp/ql/test/library-tests/csharp10/ConstInterpolatedString.cs
  csharp/ql/test/library-tests/csharp10/constInterpolatedString.expected
  csharp/ql/test/library-tests/csharp10/constInterpolatedString.ql
Labels: C#

#7541 C++: Use an IPA type rather than negative indexes for argument/parameter matching in data flow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#7562 C#: Record types are allowed to seal ToString (test only).
  csharp/ql/test/library-tests/csharp10/RecordTypeSealedToString.cs
  csharp/ql/test/library-tests/csharp10/recordTypeSealedToString.expected
  csharp/ql/test/library-tests/csharp10/recordTypeSealedToString.ql
Labels: C#

#7551 C++: Fix join orders in `cpp/unsigned-difference-expression-compared-zero`
  cpp/ql/src/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.ql
Labels: C++, no-change-note-required

#7574 Add models for AbstractStringBuilder.substring,subsequence,getChars
  java/ql/lib/semmle/code/java/frameworks/Strings.qll
  java/ql/test/library-tests/dataflow/taint/StringBuilderTests.java
  java/ql/test/library-tests/dataflow/taint/test.expected
Labels: Java

#7573 Java: Fix toString on field declarations with single field
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/test/library-tests/JDK/PrintAst.expected
  java/ql/test/library-tests/arrays/PrintAst.expected
  java/ql/test/library-tests/collections/PrintAst.expected
  java/ql/test/library-tests/constants/PrintAst.expected
  java/ql/test/library-tests/constructors/PrintAst.expected
  java/ql/test/library-tests/dependency/PrintAst.expected
  java/ql/test/library-tests/fields/FieldDecl.expected
  java/ql/test/library-tests/fields/FieldDeclLocation.expected
  java/ql/test/library-tests/fields/PrintAst.expected
  java/ql/test/library-tests/generics/PrintAst.expected
  java/ql/test/library-tests/java7/Diamond/PrintAst.expected
  java/ql/test/library-tests/javadoc/PrintAst.expected
  java/ql/test/library-tests/modifiers/PrintAst.expected
  java/ql/test/library-tests/printAst/PrintAst.expected
  java/ql/test/library-tests/typeaccesses/PrintAst.expected
Labels: Java

#7567 ATM: Optimize body tokens by pushing in size restriction
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
Labels: JS

#7566 C++: Smaller join in `reachesRefParameter`
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowVar.qll
Labels: C++

#7576 JS: Bump ATM pack versions to 0.0.4
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: JS

#7097 JS/PY/RB: support a limited number of ranges for ReDoS analysis
  javascript/ql/lib/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/ReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/tst.js
  python/ql/lib/semmle/python/security/performance/ReDoSUtil.qll
  ruby/ql/lib/codeql/ruby/security/performance/ReDoSUtil.qll
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/tst.rb
Labels: JS, Python, Ruby

#7583 C#: Narrow string interpolation expressions to a specific single file in testcase.
  csharp/ql/test/library-tests/csharp10/constInterpolatedString.ql
Labels: C#

#7474 JS: DB reads as taint sources
  javascript/ql/lib/semmle/javascript/Concepts.qll
  javascript/ql/lib/semmle/javascript/frameworks/Knex.qll
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/Shared.qll
  javascript/ql/lib/semmle/javascript/heuristics/AdditionalSources.qll
  javascript/ql/test/library-tests/Security/heuristics/HeuristicSink.ql
  javascript/ql/test/library-tests/Security/heuristics/HeuristicSource.expected
  javascript/ql/test/library-tests/Security/heuristics/HeuristicSource.ql
  javascript/ql/test/library-tests/Security/heuristics/sources.js
Labels: JS

#7548 Java: Add Spring and Apache Common Langs taint flow steps
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/lib/semmle/code/java/frameworks/spring/Spring.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringContext.qll
  java/ql/test/library-tests/frameworks/apache-commons-lang3/StringEscapeUtilsTest.java
  java/ql/test/library-tests/frameworks/spring/context/Test.java
  java/ql/test/library-tests/frameworks/spring/context/flow.expected
  java/ql/test/library-tests/frameworks/spring/context/flow.ql
  java/ql/test/library-tests/frameworks/spring/context/options
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/StringEscapeUtils.java
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/text/translate/CharSequenceTranslator.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/context/HierarchicalMessageSource.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/context/MessageSource.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/context/MessageSourceResolvable.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/context/support/AbstractMessageSource.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/context/support/MessageSourceSupport.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/context/support/StaticMessageSource.java
Labels: Java

#7561 Java: A few perf fixes for getASupertype*().
  java/ql/lib/semmle/code/java/dataflow/SSA.qll
  java/ql/src/Likely Bugs/Collections/ContainsTypeMismatch.ql
  java/ql/src/Likely Bugs/Collections/RemoveTypeMismatch.ql
Labels: Java, no-change-note-required

#7587 Dataflow: Add default taint sanitizer guard
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking1/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking3/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking4/TaintTrackingImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
Labels: C#, C++, Java, Python, Ruby

#7579 Changenotes: Add changenotes for upgrades refactoring
  cpp/ql/lib/change-notes/2022-01-11-remove-upgrades-packs.md
  csharp/ql/lib/change-notes/2022-01-11-remove-upgrades-packs.md
  java/ql/lib/change-notes/2022-01-11-remove-upgrades-packs.md
  javascript/ql/lib/change-notes/2022-01-11-remove-upgrades-packs.md
  python/ql/lib/change-notes/2022-01-11-remove-upgrades-packs.md
Labels: C#, JS, C++, documentation, Java, Python

#7489 Fix example in JavaScript query
  javascript/ql/src/Security/CWE-843/examples/TypeConfusionThroughParameterTampering.js
  javascript/ql/src/Security/CWE-843/examples/TypeConfusionThroughParameterTampering_fixed.js
Labels: JS

#7594 JS: Update names, IDs, and tags for ML-powered queries
  javascript/ql/experimental/adaptivethreatmodeling/src/NosqlInjectionATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/SqlInjectionATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/TaintedPathATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/XssATM.ql
Labels: JS

#7529 QL: recognize dependecies of the form: libraryPathDependencies: library-name
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/test/callgraph/callgraph.expected
  ql/ql/test/callgraph/packs/other/OtherThing.qll
  ql/ql/test/callgraph/packs/other/qlpack.yml
Labels: QL-for-QL

#7118 C#: PrimaryQlClass
  csharp/ql/consistency-queries/PrimaryQlClass.ql
  csharp/ql/lib/semmle/code/csharp/Generics.qll
  csharp/ql/lib/semmle/code/csharp/Modifier.qll
  csharp/ql/lib/semmle/code/csharp/Type.qll
  csharp/ql/lib/semmle/code/csharp/Variable.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/System.qll
  csharp/ql/lib/semmle/code/dotnet/Element.qll
  csharp/ql/lib/semmle/code/dotnet/Namespace.qll
  csharp/ql/lib/semmle/code/dotnet/Type.qll
Labels: C#

#7575 JS: Remove ATM `CodeToFeatures` library
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/BaseScoring.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/CodeToFeatures.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointScoring.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/FeaturizationConfig.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/FunctionBodyFeatures.qll
Labels: JS

#7602 Fix a couple of typos: clases / clasess
  java/ql/lib/semmle/code/java/security/RandomQuery.qll
  javascript/ql/lib/semmle/javascript/heuristics/all.qll
Labels: JS, Java

#7400 Add instructions for creating change notes.
  CONTRIBUTING.md
  docs/change-notes.md
Labels: documentation

#7543 C++: Use range analysis for maximum lengths of `%x` formats
  cpp/ql/lib/change-notes/2022-01-14-hex-format-range-analysis.md
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/VeryLikelyOverrunWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/tests.c
Labels: C++, documentation

#7593 C++: Fix join order in 'getConversionType4'
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
Labels: C++

#7514 Post-release preparation for codeql-cli-2.7.5
  cpp/ql/lib/CHANGELOG.md
  cpp/ql/lib/change-notes/released/0.0.6.md
  cpp/ql/lib/codeql-pack.release.yml
  cpp/ql/lib/qlpack.yml
  cpp/ql/src/CHANGELOG.md
  cpp/ql/src/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.ql
  cpp/ql/src/change-notes/released/0.0.6.md
  cpp/ql/src/codeql-pack.release.yml
  cpp/ql/src/qlpack.yml
  csharp/ql/campaigns/Solorigate/lib/change-notes/released/0.0.6.md
  csharp/ql/campaigns/Solorigate/src/change-notes/released/0.0.6.md
  csharp/ql/campaigns/Solorigate/test/change-notes/released/0.0.7.md
  csharp/ql/lib/CHANGELOG.md
  csharp/ql/lib/change-notes/released/0.0.6.md
  csharp/ql/lib/codeql-pack.release.yml
  csharp/ql/lib/qlpack.yml
  csharp/ql/src/CHANGELOG.md
  csharp/ql/src/change-notes/released/0.0.6.md
  csharp/ql/src/codeql-pack.release.yml
  csharp/ql/src/qlpack.yml
  java/ql/lib/CHANGELOG.md
  java/ql/lib/change-notes/released/0.0.6.md
  java/ql/lib/codeql-pack.release.yml
  java/ql/lib/qlpack.yml
  java/ql/src/CHANGELOG.md
  java/ql/src/change-notes/released/0.0.6.md
  java/ql/src/codeql-pack.release.yml
  java/ql/src/qlpack.yml
  javascript/ql/lib/CHANGELOG.md
  javascript/ql/lib/change-notes/released/0.0.7.md
  javascript/ql/lib/codeql-pack.release.yml
  javascript/ql/lib/qlpack.yml
  javascript/ql/src/CHANGELOG.md
  javascript/ql/src/change-notes/2021-12-07-handlebars-more-raw-interpolation.md
  javascript/ql/src/change-notes/released/0.0.7.md
  javascript/ql/src/codeql-pack.release.yml
  javascript/ql/src/qlpack.yml
  python/ql/lib/CHANGELOG.md
  python/ql/lib/change-notes/released/0.0.6.md
  python/ql/lib/codeql-pack.release.yml
  python/ql/lib/qlpack.yml
  python/ql/src/CHANGELOG.md
  python/ql/src/change-notes/2021-12-17-add-SSRF-analysis.md
  python/ql/src/change-notes/released/0.0.6.md
  python/ql/src/codeql-pack.release.yml
  python/ql/src/qlpack.yml
  ruby/ql/lib/CHANGELOG.md
  ruby/ql/lib/change-notes/released/0.0.6.md
  ruby/ql/lib/codeql-pack.release.yml
  ruby/ql/lib/qlpack.yml
  ruby/ql/src/CHANGELOG.md
  ruby/ql/src/change-notes/released/0.0.6.md
  ruby/ql/src/codeql-pack.release.yml
  ruby/ql/src/qlpack.yml
Labels: C#, JS, C++, documentation, Java, Python, Ruby

#6923 Java: CWE-470 - Queries to detect Fragment Injection in Android applications
  java/ql/lib/semmle/code/java/frameworks/android/Fragment.qll
  java/ql/lib/semmle/code/java/security/FragmentInjection.qll
  java/ql/lib/semmle/code/java/security/FragmentInjectionQuery.qll
  java/ql/src/Security/CWE/CWE-470/FragmentInjection.inc.qhelp
  java/ql/src/Security/CWE/CWE-470/FragmentInjection.java
  java/ql/src/Security/CWE/CWE-470/FragmentInjection.qhelp
  java/ql/src/Security/CWE/CWE-470/FragmentInjection.ql
  java/ql/src/Security/CWE/CWE-470/FragmentInjectionInPreferenceActivity.java
  java/ql/src/Security/CWE/CWE-470/FragmentInjectionInPreferenceActivity.qhelp
  java/ql/src/Security/CWE/CWE-470/FragmentInjectionInPreferenceActivity.ql
  java/ql/src/change-notes/2021-12-15-android-fragment-injection-query.md
  java/ql/test/query-tests/security/CWE-470/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-470/FragmentInjectionInPreferenceActivityTest.expected
  java/ql/test/query-tests/security/CWE-470/FragmentInjectionInPreferenceActivityTest.ql
  java/ql/test/query-tests/security/CWE-470/FragmentInjectionTest.expected
  java/ql/test/query-tests/security/CWE-470/FragmentInjectionTest.ql
  java/ql/test/query-tests/security/CWE-470/MainActivity.java
  java/ql/test/query-tests/security/CWE-470/SafePreferenceActivity.java
  java/ql/test/query-tests/security/CWE-470/UnexportedPreferenceActivity.java
  java/ql/test/query-tests/security/CWE-470/UnsafePreferenceActivity.java
  java/ql/test/query-tests/security/CWE-470/options
  java/ql/test/stubs/google-android-9.0.0/android/app/Fragment.java
  java/ql/test/stubs/google-android-9.0.0/android/app/ListActivity.java
  java/ql/test/stubs/google-android-9.0.0/android/content/ComponentCallbacks2.java
  java/ql/test/stubs/google-android-9.0.0/android/preference/PreferenceActivity.java
  java/ql/test/stubs/google-android-9.0.0/android/view/LayoutInflater.java
  java/ql/test/stubs/google-android-9.0.0/android/view/View.java
  java/ql/test/stubs/google-android-9.0.0/android/view/ViewGroup.java
  java/ql/test/stubs/google-android-9.0.0/android/widget/Button.java
  java/ql/test/stubs/google-android-9.0.0/android/widget/TextView.java
  java/ql/test/stubs/google-android-9.0.0/androidx/activity/ComponentActivity.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/ComponentActivity.java
  java/ql/test/stubs/google-android-9.0.0/androidx/fragment/app/FragmentActivity.java
  java/ql/test/stubs/google-android-9.0.0/androidx/fragment/app/FragmentManager.java
  java/ql/test/stubs/google-android-9.0.0/androidx/fragment/app/FragmentTransaction.java
Labels: documentation, Java, ready-for-doc-review

#6576 Java: Create new query Cleartext storage of sensitive information in Android filesystem
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageAndroidFilesystemQuery.qll
  java/ql/lib/semmle/code/java/security/Files.qll
  java/ql/src/Security/CWE/CWE-312/CleartextStorageAndroidFilesystem.java
  java/ql/src/Security/CWE/CWE-312/CleartextStorageAndroidFilesystem.qhelp
  java/ql/src/Security/CWE/CWE-312/CleartextStorageAndroidFilesystem.ql
  java/ql/src/change-notes/2021-09-01-cleartext-storage-filesystem-query.md
  java/ql/test/query-tests/Telemetry/UnsupportedExternalAPIs/UnsupportedExternalAPIs.expected
  java/ql/test/query-tests/security/CWE-312/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/CleartextStorageAndroidFilesystemTest.expected
  java/ql/test/query-tests/security/CWE-312/CleartextStorageAndroidFilesystemTest.java
  java/ql/test/query-tests/security/CWE-312/CleartextStorageAndroidFilesystemTest.ql
  java/ql/test/stubs/google-android-9.0.0/androidx/security/crypto/EncryptedFile.java
Labels: documentation, Java, ready-for-doc-review

#7588 Dataflow: Add language-specific NeedsReference predicates
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: C#, Java, Ruby

#7615 QL: support this.method() calls in the charpred that references non-extending supertypes
  ql/ql/src/codeql_ql/ast/internal/Predicate.qll
  ql/ql/test/callgraph/Bar.qll
  ql/ql/test/callgraph/callgraph.expected
Labels: QL-for-QL

#7376 JS: Update featurization for absent features optimization
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointFeatures.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointScoring.qll
Labels: JS

#7599 Java: Model Appenable and Writer
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/JavaIo.qll
  java/ql/lib/semmle/code/java/frameworks/Strings.qll
  java/ql/test/library-tests/dataflow/taint/JavaIo.java
  java/ql/test/library-tests/dataflow/taint/test.expected
Labels: Java, no-change-note-required

#7526 Don't include arg -> param edges in PathGraph::edges where arg is not reachable
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/test/library-tests/cil/dataflow/DataFlow.expected
  csharp/ql/test/library-tests/csharp7/GlobalFlow.expected
  csharp/ql/test/library-tests/csharp7/GlobalTaintTracking.expected
  csharp/ql/test/library-tests/dataflow/async/Async.expected
  csharp/ql/test/library-tests/dataflow/call-sensitivity/CallSensitivityFlow.expected
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/types/Types.expected
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  java/ql/test/library-tests/dataflow/call-sensitivity/flow.expected
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/test/query-tests/security/cwe-601/UrlRedirect.expected
Labels: C#, C++, Java, Python, no-change-note-required, Ruby

#7604 Update version numbers in CodeQL support notes for LGTM 1.29
  docs/codeql/support/conf.py
  docs/codeql/support/framework-support.rst
  docs/codeql/support/language-support.rst
Labels: documentation

#7625 C++: Fix some code duplication.
  cpp/ql/lib/semmle/code/cpp/commons/NullTermination.qll
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
Labels: C++, no-change-note-required

#7617 JS: Update alert messages for ML-powered queries
  javascript/ql/experimental/adaptivethreatmodeling/src/NosqlInjectionATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/SqlInjectionATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/TaintedPathATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/XssATM.ql
Labels: JS

#7631 Python: Support SQLAlchemy `scoped_session`
  python/ql/lib/semmle/python/frameworks/SqlAlchemy.qll
  python/ql/test/library-tests/frameworks/sqlalchemy/new_tests.py
Labels: Python, no-change-note-required

#7578 C++: Store destinations should not be uses for dataflow SSA
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++

#7616 JS: Add query help for ML-powered queries
  javascript/ql/experimental/adaptivethreatmodeling/src/NosqlInjectionATM.md
  javascript/ql/experimental/adaptivethreatmodeling/src/SqlInjectionATM.md
  javascript/ql/experimental/adaptivethreatmodeling/src/TaintedPathATM.md
  javascript/ql/experimental/adaptivethreatmodeling/src/XssATM.md
  javascript/ql/experimental/adaptivethreatmodeling/src/codeql-suites/javascript-atm-code-scanning.qls
Labels: JS, documentation

#7286 Java: CWE-552 Query to detect unsafe request dispatcher usage
  java/ql/lib/semmle/code/java/frameworks/Servlets.qll
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeServletRequestDispatch.java
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.qhelp
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.ql
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.qll
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeRequestPath.java
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeServletRequestDispatch.java
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeUrlForward.expected
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeUrlForward.java
  java/ql/test/stubs/servlet-api-2.4/javax/servlet/http/HttpServletRequest.java
Labels: documentation, Java

#7126 Ruby: Add support for GraphQL
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/test/library-tests/frameworks/GraphQL.expected
  ruby/ql/test/library-tests/frameworks/GraphQL.ql
  ruby/ql/test/library-tests/frameworks/StandardLibrary.expected
  ruby/ql/test/library-tests/frameworks/app/graphql/mutations/base_mutation.rb
  ruby/ql/test/library-tests/frameworks/app/graphql/mutations/dummy.rb
  ruby/ql/test/library-tests/frameworks/app/graphql/resolvers/base.rb
  ruby/ql/test/library-tests/frameworks/app/graphql/resolvers/dummy_resolver.rb
  ruby/ql/test/library-tests/frameworks/app/graphql/types/base_argument.rb
  ruby/ql/test/library-tests/frameworks/app/graphql/types/base_field.rb
  ruby/ql/test/library-tests/frameworks/app/graphql/types/base_input_object.rb
  ruby/ql/test/library-tests/frameworks/app/graphql/types/base_interface.rb
  ruby/ql/test/library-tests/frameworks/app/graphql/types/base_object.rb
  ruby/ql/test/library-tests/frameworks/app/graphql/types/mutation_type.rb
  ruby/ql/test/library-tests/frameworks/app/graphql/types/query_type.rb
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection.rb
Labels: Ruby

#7605 C#: Support for record structs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Modifier.cs
  csharp/ql/lib/semmle/code/cil/Types.qll
  csharp/ql/lib/semmle/code/csharp/Type.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/csharp10/RecordTypeSealedToString.cs
  csharp/ql/test/library-tests/csharp10/RecordTypes.cs
  csharp/ql/test/library-tests/csharp10/recordTypeSealedToString.expected
  csharp/ql/test/library-tests/csharp10/recordTypes.expected
  csharp/ql/test/library-tests/csharp10/recordTypes.ql
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/record.ql
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/J.cs
  csharp/ql/test/library-tests/dataflow/tuples/PrintAst.expected
Labels: C#

#7630 C++: Reduce FPs in IncorrectPrivilegeAssignment.ql
  cpp/ql/src/experimental/Security/CWE/CWE-266/IncorrectPrivilegeAssignment.ql
Labels: C++

#7628 C#: Fix false positive alert for shadowing on record types.
  csharp/ql/lib/change-notes/2022-01-18-local-shadows-member.md
  csharp/ql/src/Bad Practices/Declarations/LocalScopeVariableShadowsMember.ql
  csharp/ql/test/query-tests/Bad Practices/Declarations/LocalScopeVariableShadowsMember/LocalScopeVariableShadowsMember.cs
Labels: C#, documentation

#7649 JS: Bump ML-powered query packs to v0.0.5
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: JS

#7334 Ruby: Resolve simple string interpolations
  ruby/ql/lib/codeql/ruby/ast/Literal.qll
  ruby/ql/lib/codeql/ruby/ast/internal/AST.qll
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/AstDesugar.expected
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/control/CaseExpr.expected
  ruby/ql/test/library-tests/ast/control/ControlExpr.expected
  ruby/ql/test/library-tests/ast/control/cases.rb
  ruby/ql/test/library-tests/ast/literals/literals.expected
  ruby/ql/test/library-tests/ast/literals/literals.ql
  ruby/ql/test/library-tests/ast/literals/literals.rb
  ruby/ql/test/library-tests/ast/misc/misc.expected
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/regexp/parse.expected
  ruby/ql/test/library-tests/regexp/regexp.rb
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/ReDoS.expected
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/addressable-LICENSE
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/tst.rb
Labels: Ruby

#7613 Remove security-severity tag to java/random-used-once
  java/ql/src/Likely Bugs/Arithmetic/RandomUsedOnce.ql
  java/ql/src/change-notes/2022-01-19-random-used-once.md
Labels: documentation, Java

#7515 C#: Introduce extractor mode to identify DBs created with `codeql test run`
  csharp/extractor/Semmle.Extraction.CIL.Driver/ExtractorOptions.cs
  csharp/extractor/Semmle.Extraction.CIL.Driver/Program.cs
  csharp/extractor/Semmle.Extraction.CIL/Analyser.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/PdbSourceFile.cs
  csharp/extractor/Semmle.Extraction.CIL/Tuples.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CachedSymbol.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Invocation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/File.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/PreprocessorDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NamedType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/StandaloneAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TracingAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/TypeContainerVisitor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Tuples.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/ExtractorMode.cs
  csharp/extractor/Semmle.Extraction/Extractor/StandaloneExtractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/TracingExtractor.cs
  csharp/extractor/Semmle.Extraction/Options.cs
  csharp/ql/lib/semmle/code/csharp/File.qll
Labels: C#

#7655 JS: Bump ML-powered query packs to v0.0.6
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: JS

#7472 QL-for-QL: Add a could-be-cast query
  ql/ql/src/codeql-suites/ql-code-scanning.qls
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/style/CouldBeCastQuery.qll
  ql/ql/src/queries/style/CouldBeCast.ql
  ql/ql/src/queries/style/RedundantInlineCast.ql
  ql/ql/src/queries/style/docs/MissingQLDoc.ql
  ql/ql/test/printAst/printAst.expected
  ql/ql/test/queries/style/CouldBeCast/CouldBeCast.expected
  ql/ql/test/queries/style/CouldBeCast/CouldBeCast.qlref
  ql/ql/test/queries/style/CouldBeCast/Foo.qll
Labels: QL-for-QL

#7646 C#: Workaround Roslyn bug in `INamedTypeSymbol.TupleElements`
  csharp/extractor/Semmle.Extraction.CSharp/Entities/TypeMention.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TupleType.cs
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/extractor/Semmle.Extraction/TrapExtensions.cs
Labels: C#

#7656 Java: Exclude irrelevant rows from models
  java/ql/src/utils/model-generator/CaptureSinkModels.ql
  java/ql/src/utils/model-generator/ModelGeneratorUtils.qll
  java/ql/test/utils/model-generator/p/Sinks.java
Labels: Java, no-change-note-required

#7651 JS: add CWE-471 to the prototype-pollution queries
  javascript/ql/src/Security/CWE-915/PrototypePollutingAssignment.ql
  javascript/ql/src/Security/CWE-915/PrototypePollutingFunction.ql
  javascript/ql/src/Security/CWE-915/PrototypePollutingMergeCall.ql
Labels: JS, no-change-note-required

#7634 Refactor Apache Commons Lang model
  java/ql/lib/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/lib/semmle/code/java/frameworks/apache/Lang2Generated.qll
  java/ql/lib/semmle/code/java/frameworks/apache/Lang3Generated.qll
Labels: Java, no-change-note-required

#7662 Fix typo in FileWritable
  java/ql/lib/semmle/code/java/security/FileWritable.qll
Labels: Java

#7653 Port changes from main to rc/3.3 to avoid regression
  docs/codeql/support/ql-training.rst
Labels: documentation

#6171 Java: Promote Unsafe certificate trust query from experimental
  java/ql/lib/semmle/code/java/frameworks/Networking.qll
  java/ql/lib/semmle/code/java/security/Encryption.qll
  java/ql/lib/semmle/code/java/security/UnsafeCertTrust.qll
  java/ql/lib/semmle/code/java/security/UnsafeCertTrustQuery.qll
  java/ql/src/Security/CWE/CWE-273/UnsafeCertTrust.java
  java/ql/src/Security/CWE/CWE-273/UnsafeCertTrust.qhelp
  java/ql/src/Security/CWE/CWE-273/UnsafeCertTrust.ql
  java/ql/src/change-notes/2021-06-28-unsafe-cert-trust-query.md
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.qhelp
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.ql
  java/ql/src/experimental/Security/CWE/CWE-327/SslLib.qll
  java/ql/test/experimental/query-tests/security/CWE-273/UnsafeCertTrust.expected
  java/ql/test/experimental/query-tests/security/CWE-273/UnsafeCertTrust.qlref
  java/ql/test/experimental/query-tests/security/CWE-273/UnsafeCertTrustTest.java
  java/ql/test/query-tests/security/CWE-273/UnsafeCertTrustTest.expected
  java/ql/test/query-tests/security/CWE-273/UnsafeCertTrustTest.java
  java/ql/test/query-tests/security/CWE-273/UnsafeCertTrustTest.ql
  java/ql/test/query-tests/security/CWE-273/options
  java/ql/test/stubs/amqp-client-5.12.0/com/rabbitmq/client/ConnectionFactory.java
  java/ql/test/stubs/amqp-client-5.12.0/com/rabbitmq/client/SslContextFactory.java
Labels: documentation, Java, ready-for-doc-review

#7650 C++: Improve cpp/cleartext-transmission
  cpp/ql/lib/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/FlowSource.qll
  cpp/ql/src/Security/CWE/CWE-311/CleartextTransmission.ql
  cpp/ql/src/change-notes/2022-01-19-cleartext-transmission.md
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test3.cpp
Labels: C++, documentation

#6975 Java: CWE-266 - Query to detect Intent URI Permission Manipulation in Android applications
  java/ql/lib/semmle/code/java/frameworks/android/Android.qll
  java/ql/lib/semmle/code/java/frameworks/android/Intent.qll
  java/ql/lib/semmle/code/java/security/IntentUriPermissionManipulation.qll
  java/ql/lib/semmle/code/java/security/IntentUriPermissionManipulationQuery.qll
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/src/Security/CWE/CWE-266/IntentUriPermissionManipulation.java
  java/ql/src/Security/CWE/CWE-266/IntentUriPermissionManipulation.qhelp
  java/ql/src/Security/CWE/CWE-266/IntentUriPermissionManipulation.ql
  java/ql/src/change-notes/2021-10-27-android-intent-uri-permission-manipulation-query.md
  java/ql/test/library-tests/frameworks/android/content-provider/Safe.java
  java/ql/test/query-tests/security/CWE-266/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-266/IntentUriPermissionManipulationTest.expected
  java/ql/test/query-tests/security/CWE-266/IntentUriPermissionManipulationTest.ql
  java/ql/test/query-tests/security/CWE-266/MainActivity.java
  java/ql/test/query-tests/security/CWE-266/options
Labels: documentation, Java, ready-for-doc-review

#6963 Android: Add the Intent parameter of the `onActivityResult` method as a source
  config/identical-files.json
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/frameworks/android/Fragment.qll
  java/ql/lib/semmle/code/java/frameworks/android/OnActivityResultSource.qll
  java/ql/test/library-tests/frameworks/android/sources/OnActivityResultSourceTest.expected
  java/ql/test/library-tests/frameworks/android/sources/OnActivityResultSourceTest.ql
  java/ql/test/library-tests/frameworks/android/sources/Safe.java
  java/ql/test/library-tests/frameworks/android/sources/Safe2.java
  java/ql/test/library-tests/frameworks/android/sources/Test.java
  java/ql/test/library-tests/frameworks/android/sources/TestActivityAndFragment.java
  java/ql/test/library-tests/frameworks/android/sources/TestFragment.java
  java/ql/test/library-tests/frameworks/android/sources/TestMissing.java
  java/ql/test/library-tests/frameworks/android/sources/options
  java/ql/test/stubs/google-android-9.0.0/android/app/Fragment.java
Labels: Java

#7611 Ruby: flag up `protect_from_forgery` calls without an exception strategy
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/src/change-notes/2022-01-19-csrf-protection-weakened.md
  ruby/ql/src/queries/security/cwe-352/CSRFProtectionDisabled.qhelp
  ruby/ql/src/queries/security/cwe-352/CSRFProtectionDisabled.ql
  ruby/ql/test/query-tests/security/cwe-352/CSRFProtectionDisabled.expected
  ruby/ql/test/query-tests/security/cwe-352/railsapp/app/controllers/application_controller.rb
  ruby/ql/test/query-tests/security/cwe-352/railsapp/app/controllers/articles_controller.rb
  ruby/ql/test/query-tests/security/cwe-352/railsapp/app/controllers/users_controller.rb
Labels: documentation, Ruby

#7676 Java: Add data flow node encapsulating instance accesses.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowNodes.qll
Labels: Java, no-change-note-required

#7678 JS: use more set literals
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/Extend.qll
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/frameworks/Cheerio.qll
  javascript/ql/lib/semmle/javascript/frameworks/ConnectExpressShared.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/PkgCloud.qll
  javascript/ql/lib/semmle/javascript/frameworks/Restify.qll
  javascript/ql/lib/semmle/javascript/frameworks/SocketIO.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
  javascript/ql/test/tutorials/Validating RAML-based APIs/HTTP.qll
  javascript/ql/test/tutorials/Validating RAML-based APIs/query2.expected
  javascript/ql/test/tutorials/Validating RAML-based APIs/query2.ql
  javascript/ql/test/tutorials/Validating RAML-based APIs/query3.expected
  javascript/ql/test/tutorials/Validating RAML-based APIs/query3.ql
  javascript/ql/test/tutorials/Validating RAML-based APIs/query4.expected
  javascript/ql/test/tutorials/Validating RAML-based APIs/query4.ql
Labels: JS, no-change-note-required

#7675 JS: move electron sink to the customizations file
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectQuery.qll
Labels: JS

#7679 JS: fix most issues found by ql/class-doc-style
  javascript/ql/lib/semmle/javascript/Externs.qll
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/StringOps.qll
  javascript/ql/lib/semmle/javascript/TypeScript.qll
  javascript/ql/lib/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/lib/semmle/javascript/frameworks/Babel.qll
  javascript/ql/lib/semmle/javascript/frameworks/Cheerio.qll
  javascript/ql/lib/semmle/javascript/frameworks/ExpressModules.qll
  javascript/ql/lib/semmle/javascript/frameworks/Firebase.qll
  javascript/ql/lib/semmle/javascript/frameworks/Next.qll
  javascript/ql/lib/semmle/javascript/frameworks/Redux.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/StoredXssQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
  javascript/ql/src/Declarations/IneffectiveParameterType.ql
  javascript/ql/src/Expressions/ImplicitOperandConversion.ql
  javascript/ql/src/Security/CWE-915/PrototypePollutingFunction.ql
  javascript/ql/src/experimental/Security/CWE-094/UntrustedCheckout.ql
  javascript/ql/src/experimental/Security/CWE-918/SSRF.qll
Labels: JS, no-change-note-required

#7652 Python: Remove usernames as sensitive source for cleartext queries
  python/ql/lib/semmle/python/security/dataflow/CleartextLoggingCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/CleartextStorageCustomizations.qll
  python/ql/src/change-notes/2021-01-19-remove-cleartext-fps.md
  python/ql/test/experimental/dataflow/sensitive-data/test.py
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/test.py
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/test.py
Labels: documentation, Python

#7691 Java: Fix recursion in `entrypointFieldStep`
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Labels: Java

#7659 Python: Move regex injection configuration files
  python/ql/lib/change-notes/2022-01-19-move-regex-injection.md
  python/ql/lib/semmle/python/security/dataflow/RegexInjection.qll
  python/ql/lib/semmle/python/security/dataflow/RegexInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/injection/RegexInjection.qll
  python/ql/lib/semmle/python/security/injection/RegexInjectionCustomizations.qll
  python/ql/src/Security/CWE-730/RegexInjection.ql
Labels: documentation, Python

#7603 Java: Replace Commons IO model
  java/ql/lib/semmle/code/java/frameworks/apache/IO.qll
  java/ql/lib/semmle/code/java/frameworks/apache/IOGenerated.qll
Labels: Java

#7681 Java: Improvements to the Android query Use of implicit PendingIntents
  java/ql/lib/semmle/code/java/frameworks/android/Slice.qll
  java/ql/lib/semmle/code/java/security/ImplicitPendingIntents.qll
  java/ql/src/Security/CWE/CWE-927/ImplicitPendingIntents.qhelp
  java/ql/src/Security/CWE/CWE-927/ImplicitPendingIntents.ql
  java/ql/src/change-notes/2021-12-21-android-implicit-pendingintents.md
Labels: documentation, Java

#7643 C#: Struct (and to a minor extent anonymous types) improvements
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/csharp10/RecordTypes.cs
  csharp/ql/test/library-tests/csharp10/StructTypes.cs
  csharp/ql/test/library-tests/csharp10/WithExpression.cs
  csharp/ql/test/library-tests/csharp10/recordTypes.expected
  csharp/ql/test/library-tests/csharp10/structTypes.expected
  csharp/ql/test/library-tests/csharp10/structTypes.ql
  csharp/ql/test/library-tests/csharp10/withExpression.expected
  csharp/ql/test/library-tests/csharp10/withExpression.ql
  csharp/ql/test/library-tests/dataflow/fields/F.cs
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/J.cs
Labels: C#

#7684 small refactorizations across CodeQL
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
  cpp/ql/lib/semmle/code/cpp/security/BufferWrite.qll
  cpp/ql/src/experimental/Security/CWE/CWE-377/InsecureTemporaryFile.ql
  csharp/ql/test/shared/FlowSummaries.qll
  java/ql/lib/semmle/code/java/frameworks/Servlets.qll
  java/ql/lib/semmle/code/java/frameworks/struts/StrutsConventions.qll
  java/ql/lib/semmle/code/java/security/Encryption.qll
  java/ql/src/Likely Bugs/Comparison/UselessComparisonTest.qll
  java/ql/src/semmle/code/xml/MyBatisMapperXML.qll
  java/ql/src/utils/model-generator/CaptureSummaryModels.ql
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/Routing.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
  javascript/ql/lib/semmle/javascript/dependencies/FrameworkLibraries.qll
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Fastify.qll
  javascript/ql/lib/semmle/javascript/frameworks/HTTP.qll
  javascript/ql/lib/semmle/javascript/frameworks/Templating.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/MissingRateLimiting.qll
  python/ql/lib/semmle/python/frameworks/FastApi.qll
  python/ql/lib/semmle/python/web/cherrypy/Request.qll
  python/ql/lib/semmle/python/web/flask/Request.qll
  python/ql/lib/semmle/python/web/tornado/Request.qll
  python/ql/lib/semmle/python/web/twisted/Request.qll
  python/ql/src/Expressions/Formatting/AdvancedFormatting.qll
  python/ql/src/Expressions/Regex/DuplicateCharacterInSet.ql
  python/ql/src/Statements/ModificationOfLocals.ql
  python/ql/test/library-tests/PointsTo/api/Constants.ql
  ruby/ql/lib/codeql/ruby/ast/Pattern.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/test/TestUtilities/InlineFlowTest.qll
Labels: C#, JS, C++, documentation, Java, Python, no-change-note-required, Ruby

#7682 C++: Use the IR for `cpp/return-stack-allocated-memory`.
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.cpp
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
  cpp/ql/src/change-notes/2022-01-20-return-stack-allocated-memory.md
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/ReturnStackAllocatedMemory.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/test.cpp
Labels: C++, documentation

#7700 JS: Fix copy/paste error in XSS ML-powered queries results patterns
  javascript/ql/experimental/adaptivethreatmodeling/src/XssATM.ql
Labels: JS

#7665 Ruby: Update `StringConstArrayInclusionCall` barrier guard
  ruby/ql/lib/codeql/ruby/dataflow/BarrierGuards.qll
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.rb
Labels: Ruby

#7419 Ruby: Add Module#const_get as a code execution
  ruby/ql/lib/codeql/ruby/frameworks/StandardLibrary.qll
  ruby/ql/test/library-tests/frameworks/StandardLibrary.expected
  ruby/ql/test/library-tests/frameworks/StandardLibrary.ql
  ruby/ql/test/library-tests/frameworks/const_get.rb
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection.expected
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection.rb
Labels: Ruby

#7685 Merge rc/3.3 into rc/3.4
  docs/codeql/support/conf.py
  docs/codeql/support/framework-support.rst
  docs/codeql/support/language-support.rst
Labels: documentation

#7698 Java: Add support for bitwise compound assignments in Guards.
  java/ql/lib/semmle/code/java/controlflow/internal/GuardsLogic.qll
  java/ql/test/query-tests/Nullness/B.java
  java/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: no-change-note-required

#7702 Java: Remove some JNDI Injection sinks
  java/ql/lib/semmle/code/java/security/JndiInjection.qll
  java/ql/test/query-tests/security/CWE-074/JndiInjectionTest.java
  java/ql/test/query-tests/security/CWE-074/options
  java/ql/test/stubs/shiro-core-1.5.2/org/apache/shiro/jndi/JndiCallback.java
  java/ql/test/stubs/shiro-core-1.5.2/org/apache/shiro/jndi/JndiTemplate.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/LdapDataEntry.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/AttributeModificationsAware.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/AttributesMapper.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/AuthenticatedLdapEntryContextCallback.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/AuthenticatedLdapEntryContextMapper.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/AuthenticationErrorCallback.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/ContextExecutor.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/ContextMapper.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/ContextSource.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/DirContextOperations.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/DirContextProcessor.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/DistinguishedName.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/LdapEntryIdentification.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/LdapOperations.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/LdapRdn.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/LdapRdnComponent.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/LdapTemplate.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/NameClassPairCallbackHandler.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/NameClassPairMapper.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/core/SearchExecutor.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/filter/EqualsFilter.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/filter/Filter.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/filter/HardcodedFilter.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/odm/core/ObjectDirectoryMapper.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/query/LdapQuery.java
  java/ql/test/stubs/spring-ldap-2.3.2/org/springframework/ldap/query/SearchScope.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/jndi/JndiCallback.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/jndi/JndiTemplate.java
Labels: Java

#7701 C++: Remove FPs from `cpp/return-stack-allocated-memory`
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/test.cpp
Labels: C++, no-change-note-required

#7717 JS: add CWE-80 to queries that detect bad HTML sanitizers
  javascript/ql/src/Security/CWE-116/BadTagFilter.ql
  javascript/ql/src/Security/CWE-116/IncompleteMultiCharacterSanitization.ql
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
Labels: JS, no-change-note-required

#7688 Data flow: Restructure `RequiredSummaryComponentStack`
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, Ruby

#7719 JS: add CWE-219 to js/exposure-of-private-files
  javascript/ql/src/Security/CWE-200/PrivateFileExposure.ql
Labels: JS, no-change-note-required

#7571 Update docs on the output of `resolve qlpacks`
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
Labels: documentation

#7455 Python: Add shutil module sinks for path injection query
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/stdlib/FileSystemAccess.py
Labels: Python

#7718 C++: Add `security` tag to `cpp/return-stack-allocated-memory`
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
  cpp/ql/src/change-notes/2022-01-24-return-stack-allocated-memory.md
Labels: C++, documentation

#7725 Update supported Go version
  docs/codeql/support/reusables/versions-compilers.rst
Labels: documentation

#7632 JS: add a js/empty-password-in-configuration-file query
  javascript/ql/lib/semmle/javascript/security/PasswordInConfigurationFileQuery.qll
  javascript/ql/src/Security/CWE-313/PasswordInConfigurationFile.ql
  javascript/ql/src/Security/CWE-862/EmptyPasswordInConfigurationFile.qhelp
  javascript/ql/src/Security/CWE-862/EmptyPasswordInConfigurationFile.ql
  javascript/ql/src/change-notes/2022-01-18-empty-password-in-configuration-file.md
  javascript/ql/test/query-tests/Security/CWE-862/EmptyPasswordInConfigurationFile.expected
  javascript/ql/test/query-tests/Security/CWE-862/EmptyPasswordInConfigurationFile.qlref
  javascript/ql/test/query-tests/Security/CWE-862/tst.js
  javascript/ql/test/query-tests/Security/CWE-862/tst.json
  javascript/ql/test/query-tests/Security/CWE-862/tst.yml
Labels: JS, documentation, ready-for-doc-review

#7658 C#: Get rid of negative parameter/argument data-flow positions
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/JsonNET.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/System.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/microsoft/VisualBasic.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/microsoft/extensions/Primitives.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Collections.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/ComponentModel.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Data.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Diagnostics.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Dynamic.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/IO.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Linq.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Net.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Text.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Web.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Xml.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/collections/Concurrent.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/collections/Generic.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/collections/Immutable.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/collections/ObjectModel.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/collections/Specialized.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/componentmodel/Design.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/data/Common.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/net/Http.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/net/Mail.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/runtime/CompilerServices.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/security/Cryptography.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/security/cryptography/X509Certificates.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/text/RegularExpressions.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/threading/Tasks.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/web/ui/WebControls.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/xml/Schema.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/xml/Serialization.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
  csharp/ql/test/library-tests/dataflow/external-models/steps.expected
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.expected
  csharp/ql/test/library-tests/dataflow/library/FlowSummariesFiltered.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.expected
Labels: C#

#4949 C#: Query to detect hash without salt
  csharp/ql/src/experimental/Security Features/CWE-759/HashWithoutSalt.cs
  csharp/ql/src/experimental/Security Features/CWE-759/HashWithoutSalt.qhelp
  csharp/ql/src/experimental/Security Features/CWE-759/HashWithoutSalt.ql
  csharp/ql/test/experimental/Security Features/CWE-759/HashWithoutSalt.cs
  csharp/ql/test/experimental/Security Features/CWE-759/HashWithoutSalt.expected
  csharp/ql/test/experimental/Security Features/CWE-759/HashWithoutSalt.qlref
  csharp/ql/test/experimental/Security Features/CWE-759/Sha1Utils.cs
  csharp/ql/test/experimental/Security Features/CWE-759/Stubs.cs
Labels: C#, documentation

#7715 JS: add a predicate to recognize path arguments in calls to the fs-extra lib
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
Labels: JS

#7677 Ruby: Replace `getValueText` with `getConstantValue`
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/ast/Call.qll
  ruby/ql/lib/codeql/ruby/ast/Constant.qll
  ruby/ql/lib/codeql/ruby/ast/Expr.qll
  ruby/ql/lib/codeql/ruby/ast/Literal.qll
  ruby/ql/lib/codeql/ruby/ast/Method.qll
  ruby/ql/lib/codeql/ruby/ast/Pattern.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Constant.qll
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionView.qll
  ruby/ql/lib/codeql/ruby/frameworks/Files.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/lib/codeql/ruby/frameworks/StandardLibrary.qll
  ruby/ql/lib/codeql/ruby/frameworks/XmlParsing.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeDeserializationCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/XSS.qll
  ruby/ql/lib/codeql/ruby/security/performance/ParseRegExp.qll
  ruby/ql/src/experimental/performance/UseDetect.ql
  ruby/ql/src/queries/security/cwe-732/WeakFilePermissions.ql
  ruby/ql/src/queries/security/cwe-798/HardcodedCredentials.ql
  ruby/ql/test/TestUtilities/InlineFlowTest.qll
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/ValueText.ql
  ruby/ql/test/library-tests/ast/literals/literals.expected
  ruby/ql/test/library-tests/ast/literals/literals.ql
  ruby/ql/test/library-tests/ast/misc/misc.ql
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.ql
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
Labels: no-change-note-required, Ruby

#7732 C++: Add security-severity to `cpp/return-stack-allocated-memory`
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
Labels: C++, no-change-note-required

#7730 C#: Add change notes for the already implemented C# 10 features.
  csharp/ql/lib/change-notes/2022-01-25-csharp10-features.md
Labels: C#, documentation

#7721 JS: add a js/samesite-none-cookie cookie
  javascript/ql/lib/semmle/javascript/frameworks/CookieLibraries.qll
  javascript/ql/src/Security/CWE-1004/ClientExposedCookie.qhelp
  javascript/ql/src/Security/CWE-1275/SameSiteNoneCookie.qhelp
  javascript/ql/src/Security/CWE-1275/SameSiteNoneCookie.ql
  javascript/ql/src/Security/CWE-1275/examples/SameSiteCookieBad.js
  javascript/ql/src/Security/CWE-1275/examples/SameSiteCookieGood.js
  javascript/ql/src/change-notes/2022-01-24-samesite-cookie.md
  javascript/ql/test/query-tests/Security/CWE-1275/SameSiteNoneCookie.expected
  javascript/ql/test/query-tests/Security/CWE-1275/SameSiteNoneCookie.qlref
  javascript/ql/test/query-tests/Security/CWE-1275/tst-sameSite.js
Labels: JS, documentation, ready-for-doc-review

#7737 C++: Upgrade cpp/cleartext-storage-file
  cpp/ql/src/Security/CWE/CWE-311/CleartextFileWrite.ql
  cpp/ql/src/change-notes/2022-01-24-cleartext-storage-file.md
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test2.cpp
Labels: C++, documentation

#7743 CodeQL documentation fixes
  docs/codeql/codeql-language-guides/basic-query-for-cpp-code.rst
  docs/codeql/writing-codeql-queries/debugging-data-flow-queries-using-partial-flow.rst
Labels: documentation

#7739 Merge `rc/3.4` into `main`
  cpp/ql/lib/CHANGELOG.md
  cpp/ql/lib/change-notes/released/0.0.7.md
  cpp/ql/lib/codeql-pack.release.yml
  cpp/ql/lib/qlpack.yml
  cpp/ql/src/CHANGELOG.md
  cpp/ql/src/change-notes/released/0.0.7.md
  cpp/ql/src/codeql-pack.release.yml
  cpp/ql/src/qlpack.yml
  csharp/ql/lib/CHANGELOG.md
  csharp/ql/lib/change-notes/released/0.0.7.md
  csharp/ql/lib/codeql-pack.release.yml
  csharp/ql/lib/qlpack.yml
  csharp/ql/src/CHANGELOG.md
  csharp/ql/src/change-notes/released/0.0.7.md
  csharp/ql/src/codeql-pack.release.yml
  csharp/ql/src/qlpack.yml
  docs/codeql/support/conf.py
  docs/codeql/support/framework-support.rst
  docs/codeql/support/language-support.rst
  java/ql/lib/CHANGELOG.md
  java/ql/lib/change-notes/released/0.0.7.md
  java/ql/lib/codeql-pack.release.yml
  java/ql/lib/qlpack.yml
  java/ql/src/CHANGELOG.md
  java/ql/src/change-notes/released/0.0.7.md
  java/ql/src/codeql-pack.release.yml
  java/ql/src/qlpack.yml
  javascript/ql/lib/CHANGELOG.md
  javascript/ql/lib/change-notes/released/0.0.8.md
  javascript/ql/lib/codeql-pack.release.yml
  javascript/ql/lib/qlpack.yml
  javascript/ql/src/CHANGELOG.md
  javascript/ql/src/change-notes/released/0.0.8.md
  javascript/ql/src/codeql-pack.release.yml
  javascript/ql/src/qlpack.yml
  python/ql/lib/CHANGELOG.md
  python/ql/lib/change-notes/released/0.0.7.md
  python/ql/lib/codeql-pack.release.yml
  python/ql/lib/qlpack.yml
  python/ql/src/CHANGELOG.md
  python/ql/src/change-notes/released/0.0.7.md
  python/ql/src/codeql-pack.release.yml
  python/ql/src/qlpack.yml
  ruby/ql/lib/CHANGELOG.md
  ruby/ql/lib/change-notes/released/0.0.7.md
  ruby/ql/lib/codeql-pack.release.yml
  ruby/ql/lib/qlpack.yml
  ruby/ql/src/CHANGELOG.md
  ruby/ql/src/change-notes/released/0.0.7.md
  ruby/ql/src/codeql-pack.release.yml
  ruby/ql/src/qlpack.yml
Labels: C#, JS, C++, documentation, Java, Python, Ruby

#7744 JS: Move experimental notice to the bottom of the ML-powered query help
  javascript/ql/experimental/adaptivethreatmodeling/src/NosqlInjectionATM.md
  javascript/ql/experimental/adaptivethreatmodeling/src/SqlInjectionATM.md
  javascript/ql/experimental/adaptivethreatmodeling/src/TaintedPathATM.md
  javascript/ql/experimental/adaptivethreatmodeling/src/XssATM.md
Labels: JS, documentation

#7729 Ruby extractor: bump clap
  ruby/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/src/main.rs
  ruby/generator/Cargo.toml
  ruby/generator/src/main.rs
Labels: Ruby

#7726 Ruby: Introduce `TAnyArrayElementContent`
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
Labels: Ruby

#7738 Ruby: Fix bad join in `ActionControllerHelperMethod`
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
Labels: Ruby

#7734 js: add support for the 'node:' prefix for importing internal modules
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/tainted-access-paths.js
Labels: JS

#7568 Ruby: taint steps for pattern matches
  ruby/ql/lib/codeql/ruby/ast/Pattern.qll
  ruby/ql/lib/codeql/ruby/ast/Variable.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Variable.qll
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/case.rb
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/Nodes.expected
  ruby/ql/test/library-tests/dataflow/local/TaintflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/TaintflowStep.ql
  ruby/ql/test/library-tests/dataflow/local/local_dataflow.rb
Labels: Ruby

#7733 Java: Add models for java.util.regex.Pattern and Matcher
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/Regex.qll
  java/ql/test/library-tests/regex/Test.java
  java/ql/test/library-tests/regex/test.expected
  java/ql/test/library-tests/regex/test.ql
Labels: Java

#7751 C#: Update expected test output after passing in `--qltest` in `codeql test run`
  csharp/ql/test/library-tests/standalone/normalmode/normal.expected
  csharp/ql/test/library-tests/standalone/standalonemode/standalone.expected
Labels: C#, depends on internal PR

#7757 C#: Remove stats for removed relations
  csharp/ql/lib/semmlecode.csharp.dbscheme.stats
Labels: C#

#7758 C++: Do not report "Declaration hides variable" for unnamed variables
  cpp/ql/src/Best Practices/Hiding/DeclarationHidesVariable.ql
  cpp/ql/src/change-notes/2022-01-26-unnamed-variable-declaration-hiding.md
  cpp/ql/test/query-tests/Best Practices/Hiding/DeclarationHidesVariable/hiding.cpp
Labels: C++, documentation

#7755 C#: Restrict stub logic to QL test DBs
  csharp/ql/lib/semmle/code/csharp/File.qll
Labels: C#

#6601 Fix order of IR call side effects
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/SideEffects.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Labels: C++, no-change-note-required

#7759 C#: Add more debug context to various error messages
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Accessor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/EventAccessor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Lambda.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/MemberAccess.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ObjectCreation/BaseObjectCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/Pattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/VariableDeclaration.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/LineDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/NullableDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Case.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/TypeContainerVisitor.cs
Labels: C#

#7750 Ruby: Desugar hash literals
  ruby/ql/lib/codeql/ruby/ast/Literal.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Literal.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/frameworks/XmlParsing.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeDeserializationCustomizations.qll
  ruby/ql/test/library-tests/ast/AstDesugar.expected
  ruby/ql/test/library-tests/ast/calls/arguments.expected
  ruby/ql/test/library-tests/ast/calls/calls.expected
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/Nodes.expected
Labels: Ruby

#7683 Ruby: Use multiple threads in QL test CI job
  .github/workflows/ruby-qltest.yml
Labels: Ruby

#7771 Fix typo in CodeQL-query-help-for-JavaScript
  docs/codeql/codeql-language-guides/codeql-library-for-javascript.rst
Labels: documentation

#7768 C#: Add internal extractor diagnostics query
  csharp/ql/src/Metrics/internal/ExtractorDiagnostics.ql
Labels: C#, no-change-note-required

#7724 Add new groups for examples packs
  cpp/ql/examples/qlpack.yml
  cpp/ql/src/qlpack.yml
  csharp/ql/examples/qlpack.yml
  csharp/ql/src/qlpack.yml
  java/ql/examples/qlpack.yml
  java/ql/src/qlpack.yml
  javascript/ql/examples/qlpack.yml
  javascript/ql/src/qlpack.yml
  python/ql/examples/qlpack.yml
  python/ql/src/qlpack.yml
  ruby/ql/examples/qlpack.yml
  ruby/ql/src/qlpack.yml
Labels: C#, JS, C++, Java, Python, Ruby

#7760 JS: add CWE-184 to incomplete-scheme-check and bad-tag-filter
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/src/Security/CWE-116/BadTagFilter.ql
Labels: JS, no-change-note-required

#7633 JS: add js/http-dependency query
  javascript/ql/lib/change-notes/2022-01-08-insecure-dependency-resolution.md
  javascript/ql/src/Security/CWE-300/InsecureDependencyResolution.qhelp
  javascript/ql/src/Security/CWE-300/InsecureDependencyResolution.ql
  javascript/ql/src/Security/CWE-300/examples/bad-package.json
  javascript/ql/src/Security/CWE-300/examples/good-package.json
  javascript/ql/test/query-tests/Security/CWE-300/InsecureDependencyResolution.expected
  javascript/ql/test/query-tests/Security/CWE-300/InsecureDependencyResolution.qlref
  javascript/ql/test/query-tests/Security/CWE-300/foo.js
  javascript/ql/test/query-tests/Security/CWE-300/package.json
Labels: JS, documentation, ready-for-doc-review

#7775 Ruby/C#: more stable graph test ordering
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImplShared.qll
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplShared.qll
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/regexp/parse.expected
  ruby/ql/test/library-tests/regexp/parse.ql
Labels: C#, Ruby

#7779 C#: Add initial downgrade DB scheme for use in tests
  csharp/downgrades/initial/semmlecode.csharp.dbscheme
Labels: C#

#7766 C#: Make `TypeParameterConstraints` a `CachedEntity`
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TypeParameter.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TypeParameterConstraints.cs
Labels: C#
