Repository github/codeql, pull requests merged in 2022-10, with the labels that each got.

#10560 Ruby: treat `Psych` and `YAML` as aliases for rb/unsafe-deserialization
  ruby/ql/lib/codeql/ruby/security/UnsafeDeserializationCustomizations.qll
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.rb
Labels: no-change-note-required, Ruby

#10640 Java: Fix cartesian product
  java/ql/src/Advisory/Documentation/ImpossibleJavadocThrows.ql
Labels: Java, no-change-note-required

#10639 Ruby: Do not attempt to track precise hash indices for floats and complex numbers
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/array-flow/array_flow.rb
Labels: no-change-note-required, Ruby

#10631 Python: Remove last `-p ../lib/` in `options` files
  python/ql/test/query-tests/Security/CWE-078-CommandInjection/options
  python/ql/test/query-tests/Security/CWE-079-Jinja2WithoutEscaping/options
  python/ql/test/query-tests/Security/CWE-209-StackTraceExposure/options
  python/ql/test/query-tests/Security/CWE-215-FlaskDebug/options
  python/ql/test/query-tests/Security/CWE-327-InsecureProtocol/options
  python/ql/test/query-tests/Security/CWE-601-UrlRedirect/options
  python/ql/test/query-tests/Security/CWE-732-WeakFilePermissions/options
Labels: Python, no-change-note-required

#8695 Java: Add support for Annotation types stub generation
  java/ql/src/utils/stub-generator/MinimalStubsFromSource.ql
  java/ql/src/utils/stub-generator/Stubs.qll
  java/ql/src/utils/stub-generator/makeStubs.py
  java/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
  java/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.qlref
  java/ql/test/query-tests/Stubs/Minimal/Test.java
  java/ql/test/query-tests/Stubs/Minimal/options
  java/ql/test/query-tests/Stubs/Minimal/testlib.jar
  java/ql/test/query-tests/Stubs/testlib/README.md
  java/ql/test/query-tests/Stubs/testlib/generate.sh
  java/ql/test/query-tests/Stubs/testlib/org/test/SampleAnnotationType.java
  java/ql/test/query-tests/Stubs/testlib/org/test/SampleType.java
Labels: documentation, Java, no-change-note-required

#10644 Ruby: Prevent reevaluation of expensive predicates
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/ast/Constant.qll
  ruby/ql/lib/codeql/ruby/ast/Module.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionView.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveResource.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/lib/codeql/ruby/frameworks/Railties.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/src/queries/analysis/Definitions.ql
  ruby/ql/test/library-tests/modules/modules.ql
Labels: JS, Python, no-change-note-required, Ruby

#10612 Docs: Add CodeQL system requirements page
  docs/codeql/codeql-overview/index.rst
  docs/codeql/codeql-overview/system-requirements.rst
  docs/codeql/index.html
  docs/codeql/support/reusables/platforms.rst
Labels: documentation, ready-for-doc-review

#10662 Java: Fix stub generator
  java/ql/src/utils/stub-generator/Stubs.qll
  java/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
Labels: Java, no-change-note-required

#10536 Swift: check for using ECB encryption mode
  swift/ql/src/queries/Security/ECB-Encryption/ECBEncryption.qhelp
  swift/ql/src/queries/Security/ECB-Encryption/ECBEncryption.ql
  swift/ql/src/queries/Security/ECB-Encryption/ECBEncryption.swift
  swift/ql/test/query-tests/Security/ECB-Encryption/ECBEncryption.expected
  swift/ql/test/query-tests/Security/ECB-Encryption/ECBEncryption.qlref
  swift/ql/test/query-tests/Security/ECB-Encryption/test.swift
Labels: documentation, ready-for-doc-review, Swift

#10635 C++: Recognize allocation functions heuristically
  cpp/ql/lib/experimental/semmle/code/cpp/dataflow/ProductFlow.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/Allocation.qll
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
Labels: C++, no-change-note-required

#10645 C++: Port SimpleRangeAnalysis tests to the new range-analysis
  cpp/ql/test/library-tests/ir/range-analysis/RangeAnalysis.ql
  cpp/ql/test/library-tests/ir/range-analysis/SimpleRangeAnalysis_tests.cpp
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
  cpp/ql/test/library-tests/ir/range-analysis/test_util.h
Labels: C++

#10597 Swift: URL taint sources
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Url.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.ql
  swift/ql/test/library-tests/dataflow/flowsources/string.swift
  swift/ql/test/library-tests/dataflow/flowsources/url.swift
Labels: no-change-note-required, Swift

#10664 Ruby/Python: Cache more type tracking predicates
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
Labels: Python, no-change-note-required, Ruby

#9811 Kotlin: Implement JvmOverloads annotation
  java/kotlin-extractor/src/main/kotlin/ExternalDeclExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/User.java
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.expected
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.kt
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.py
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.ql
  java/ql/lib/semmle/code/java/Element.qll
  java/ql/lib/semmle/code/java/PrintAst.qll
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/PrintAst.expected
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/PrintAst.qlref
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/test.expected
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/test.kt
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/test.ql
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/User.java
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/test.expected
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/test.kt
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/test.ql
  java/ql/test/kotlin/library-tests/jvmoverloads_generics/User.java
  java/ql/test/kotlin/library-tests/jvmoverloads_generics/test.expected
  java/ql/test/kotlin/library-tests/jvmoverloads_generics/test.kt
  java/ql/test/kotlin/library-tests/jvmoverloads_generics/test.ql
Labels: Java, no-change-note-required, Kotlin

#10671 Java: Revert #10489 and #10640
  java/ql/lib/change-notes/2022-09-20-CompilationUnit-getATypeInScope.md
  java/ql/lib/semmle/code/java/CompilationUnit.qll
  java/ql/src/Advisory/Documentation/ImpossibleJavadocThrows.ql
  java/ql/test/query-tests/Javadoc/ImpossibleJavadocThrows.expected
  java/ql/test/query-tests/Javadoc/ImpossibleJavadocThrows.java
Labels: documentation, Java

#10676 RB: add a link to the source in the alert-message for `rb/kernel-open`
  ruby/ql/src/queries/security/cwe-078/KernelOpen.ql
  ruby/ql/test/query-tests/security/cwe-078/KernelOpen.expected
Labels: no-change-note-required, Ruby

#10681 Swift: Use ClassOrStructDecl
  swift/ql/src/queries/Security/CWE-079/UnsafeWebViewFetch.ql
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/src/queries/Security/CWE-311/CleartextTransmission.ql
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashing.ql
  swift/ql/src/queries/Security/ECB-Encryption/ECBEncryption.ql
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
Labels: no-change-note-required, Swift

#10559 Ruby: some improvements
  config/identical-files.json
  ruby/ql/lib/codeql/ruby/Regexp.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForPathname.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForRegExp.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttrackingforregexp/TaintTrackingImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttrackingforregexp/TaintTrackingParameter.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Object.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Pathname.qll
  ruby/ql/lib/codeql/ruby/regexp/internal/DebugRegExpConfiguration.ql
  ruby/ql/lib/codeql/ruby/regexp/internal/RegExpConfiguration.qll
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/Nodes.expected
  ruby/ql/test/library-tests/dataflow/local/TaintflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/local_dataflow.rb
  ruby/ql/test/library-tests/frameworks/pathname/Pathname.expected
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/calls.rb
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
  ruby/ql/test/query-tests/security/cwe-020/MissingRegExpAnchor/MissingRegExpAnchor.expected
  ruby/ql/test/query-tests/security/cwe-020/MissingRegExpAnchor/missing_regexp_anchor.rb
  ruby/ql/test/query-tests/security/cwe-079/StoredXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/app/views/foo/stores/show.html.erb
Labels: no-change-note-required, Ruby

#10667 C#: Recognize options to `dotnet run` in tracer when injecting `-p:UseSharedCompilation=false`
  csharp/ql/integration-tests/all-platforms/dotnet_run/test.py
  csharp/tools/tracing-config.lua
Labels: C#, no-change-note-required

#10675 Kotlin: extract `isEnumConstant` relation
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/enum/enumUser.kt
  java/ql/test/kotlin/library-tests/enum/test.expected
  java/ql/test/kotlin/library-tests/enum/test.ql
Labels: Kotlin

#10677 Kotlin: Extract parameter modifiers (`noinline`, `crossinline`)
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/lib/semmle/code/java/Modifier.qll
  java/ql/test/kotlin/library-tests/modifiers/modifiers.expected
  java/ql/test/kotlin/library-tests/modifiers/modifiers.kt
Labels: Java, no-change-note-required, Kotlin

#10687 Python: Rewrite `py/flask-debug` to use API graphs instead of type-trackers
  python/ql/src/Security/CWE-215/FlaskDebug.ql
  python/ql/test/query-tests/Security/CWE-215-FlaskDebug/FlaskDebug.expected
  python/ql/test/query-tests/Security/CWE-215-FlaskDebug/test.py
Labels: Python, no-change-note-required

#10674 Kotlin: extract `implInterface`
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/Helpers.kt
  java/ql/test/kotlin/library-tests/classes/superTypes.expected
  java/ql/test/kotlin/library-tests/classes/superTypes.ql
Labels: Kotlin

#10686 Ruby: Remove `PairValueContent`
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
Labels: no-change-note-required, Ruby

#10682 C++: Fix potentially bad join
  cpp/ql/src/Likely Bugs/Conversion/CastArrayPointerArithmetic.ql
Labels: C++, no-change-note-required

#10692 Ruby: fix CFG and toString for anonymous '*' and '**'
  ruby/ql/lib/codeql/ruby/ast/Parameter.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/Nodes.expected
  ruby/ql/test/library-tests/controlflow/graph/cfg.rb
Labels: no-change-note-required, Ruby

#10672 Kotlin: extract unary plus and minus operators
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/exprs/CONSISTENCY/javaEquivalent.expected
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.kt
  java/ql/test/kotlin/library-tests/exprs/unaryOp.expected
Labels: Kotlin

#10665 Java Guidance: ExecTainted.ql (experimental version)
  java/ql/src/experimental/Security/CWE/CWE-078/ExecTainted.java
  java/ql/src/experimental/Security/CWE/CWE-078/ExecTainted.qhelp
Labels: documentation, Java

#10650 Ruby: more type-tracking steps
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackerSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/TestUtilities/InlineFlowTest.qll
  ruby/ql/test/TestUtilities/InlineFlowTestUtil.qll
  ruby/ql/test/TestUtilities/InlineTypeTrackingFlowTest.qll
  ruby/ql/test/library-tests/dataflow/api-graphs/test1.rb
  ruby/ql/test/library-tests/dataflow/array-flow/type-tracking-array-flow.expected
  ruby/ql/test/library-tests/dataflow/array-flow/type-tracking-array-flow.ql
  ruby/ql/test/library-tests/dataflow/hash-flow/type-tracking-hash-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/type-tracking-hash-flow.ql
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
  ruby/ql/test/library-tests/frameworks/ActionDispatch.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/calls.rb
  ruby/ql/test/library-tests/modules/modules.expected
Labels: Python, no-change-note-required, Ruby

#10691 Data flow: Take conjunctive `With(out)Contents` into account in `prohibitsUseUseFlow`
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
  ruby/ql/test/library-tests/dataflow/summaries/summaries.rb
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, Python, no-change-note-required, Ruby, Swift

#10177 Java: Promote `PathSanitizer.qll` from experimental
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/security/Files.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  java/ql/src/Security/CWE/CWE-022/TaintedPathCommon.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPathLocal.ql
  java/ql/src/Security/CWE/CWE-022/ZipSlip.ql
  java/ql/src/change-notes/2022-08-25-path-sanitizer.md
  java/ql/src/experimental/Security/CWE/CWE-073/FilePathInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-200/InsecureWebResourceResponse.ql
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.ql
  java/ql/src/experimental/semmle/code/java/PathSanitizer.qll
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeServletRequestDispatch.java
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeUrlForward.expected
  java/ql/test/library-tests/pathsanitizer/Test.java
  java/ql/test/library-tests/pathsanitizer/options
  java/ql/test/library-tests/pathsanitizer/test.expected
  java/ql/test/library-tests/pathsanitizer/test.ql
  java/ql/test/query-tests/security/CWE-022/semmle/tests/ZipSlip.expected
Labels: documentation, Java

#10709 add BeegoInput.RequestBody source to Beego framework
  go/ql/lib/change-notes/2022-10-06-beego-request-body-source.md
  go/ql/lib/semmle/go/frameworks/Beego.qll
  go/ql/test/library-tests/semmle/go/frameworks/Beego/CleartextLogging.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/test.go
Labels: documentation, Go

#10683 Kotlin: implement $default function synthesis
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/consistency-queries/visibility.ql
  java/ql/integration-tests/posix-only/kotlin/gradle_kotlinx_serialization/PrintAst.expected
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/User.java
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.expected
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.kt
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.py
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.ql
  java/ql/lib/semmle/code/java/Element.qll
  java/ql/test/kotlin/library-tests/data-classes/PrintAst.expected
  java/ql/test/kotlin/library-tests/data-classes/callees.expected
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/PrintAst.expected
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/test.expected
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/test.expected
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/test.ql
  java/ql/test/kotlin/library-tests/methods/exprs.expected
  java/ql/test/kotlin/library-tests/methods/methods.expected
  java/ql/test/kotlin/library-tests/methods/parameters.expected
  java/ql/test/kotlin/library-tests/multiple_extensions/calls.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/PrintAst.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/PrintAst.qlref
  java/ql/test/kotlin/library-tests/parameter-defaults/erasure.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/erasure.ql
  java/ql/test/kotlin/library-tests/parameter-defaults/flowTest.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/flowTest.ql
  java/ql/test/kotlin/library-tests/parameter-defaults/test.kt
  java/ql/test/kotlin/library-tests/reflection/reflection.expected
Labels: Java, no-change-note-required, Kotlin

#10705 Ruby: Take overrides into account for singleton methods defined on modules
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/calls.rb
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
Labels: no-change-note-required, Ruby

#10724 C#: fix some more style-guide violations in the alert-messages
  csharp/ql/src/experimental/CWE-099/TaintedWebClient.ql
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/delegated-security-validations-always-return-true.ql
  csharp/ql/src/experimental/Security Features/backdoor/ProcessNameToHashTaintFlow.ql
  csharp/ql/test/experimental/Security Features/JsonWebTokenHandler/delegated-security-validations-always-return-true.expected
Labels: C#

#10733 Ruby: fix use of deprecated class
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/test/library-tests/frameworks/action_controller/params-flow.ql
Labels: no-change-note-required, Ruby

#10726 Go: fix some more style-guide violations in the alert-messages
  go/ql/lib/semmle/go/security/InsecureRandomnessCustomizations.qll
  go/ql/src/InconsistentCode/WrappedErrorAlwaysNil.ql
  go/ql/src/Security/CWE-020/SuspiciousCharacterInRegexp.ql
  go/ql/src/Security/CWE-117/LogInjection.ql
  go/ql/src/Security/CWE-338/InsecureRandomness.ql
  go/ql/src/change-notes/2022-10-07-alert-messages.md
  go/ql/src/experimental/CWE-369/DivideByZero.ql
  go/ql/src/experimental/CWE-400/DatabaseCallInLoop.ql
  go/ql/src/experimental/CWE-918/SSRF.ql
  go/ql/src/experimental/IntegerOverflow/IntegerOverflow.ql
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-400/DatabaseCallInLoop.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/query-tests/InconsistentCode/WrappedErrorAlwaysNil/WrappedErrorAlwaysNil.expected
  go/ql/test/query-tests/Security/CWE-020/SuspiciousCharacterInRegexp/SuspiciousCharacterInRegexp.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
Labels: documentation, Go

#10734 Kotlin: keep method overloads together
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#10368 Java: Android deeplink analysis
  java/ql/lib/change-notes/2022-09-22-android-deeplink-flow-steps.md
  java/ql/lib/change-notes/2022-09-22-android-deprecate-contextstartactivitymethod.md
  java/ql/lib/semmle/code/java/frameworks/android/Intent.qll
  java/ql/test/library-tests/frameworks/android/intent/AndroidManifest.xml
  java/ql/test/library-tests/frameworks/android/intent/TestStartActivityToGetIntent.java
  java/ql/test/library-tests/frameworks/android/intent/TestStartBroadcastReceiverToIntent.java
  java/ql/test/library-tests/frameworks/android/intent/TestStartServiceToIntent.java
Labels: documentation, Java

#10712 Kotlin: allow building a single embeddable plugin version
  java/kotlin-extractor/build.py
Labels: Kotlin

#10629 Python: Fix flask request modeling
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/Tornado.qll
  python/ql/src/change-notes/2022-09-29-flask-source-modeling.md
  python/ql/src/experimental/Security/CWE-348/ClientSuppliedIpUsedInSecurityCheckLib.qll
  python/ql/src/meta/alerts/RemoteFlowSourcesReach.ql
  python/ql/test/experimental/query-tests/Security/CWE-079/ReflectedXSS.expected
  python/ql/test/experimental/query-tests/Security/CWE-113/HeaderInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-1236/CsvInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-522/LDAPInsecureAuth.expected
  python/ql/test/experimental/query-tests/Security/CWE-614/CookieInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-078-CommandInjection-py2/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-078-CommandInjection/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-079-ReflectedXss/ReflectedXss.expected
  python/ql/test/query-tests/Security/CWE-090-LdapInjection/LdapInjection.expected
  python/ql/test/query-tests/Security/CWE-094-CodeInjection/CodeInjection.expected
  python/ql/test/query-tests/Security/CWE-117-LogInjection/LogInjection.expected
  python/ql/test/query-tests/Security/CWE-502-UnsafeDeserialization/UnsafeDeserialization.expected
  python/ql/test/query-tests/Security/CWE-601-UrlRedirect/UrlRedirect.expected
  python/ql/test/query-tests/Security/CWE-611-Xxe/Xxe.expected
  python/ql/test/query-tests/Security/CWE-643-XPathInjection/XpathInjection.expected
  python/ql/test/query-tests/Security/CWE-730-PolynomialReDoS/PolynomialReDoS.expected
  python/ql/test/query-tests/Security/CWE-730-RegexInjection/RegexInjection.expected
  python/ql/test/query-tests/Security/CWE-776-XmlBomb/XmlBomb.expected
  python/ql/test/query-tests/Security/CWE-918-ServerSideRequestForgery/FullServerSideRequestForgery.expected
  python/ql/test/query-tests/Security/CWE-918-ServerSideRequestForgery/PartialServerSideRequestForgery.expected
Labels: documentation, Python

#10745 Ruby: Cache use of `DataFlowImplFor(Pathname|HttpClientLibraries)`
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/HttpClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Pathname.qll
Labels: no-change-note-required, Ruby

#10720 Kotlin: Consider `::class` type check in `java/unchecked-cast-in-equals`
  java/ql/src/Likely Bugs/Comparison/MissingInstanceofInEquals.ql
  java/ql/test/kotlin/query-tests/MissingInstanceofInEquals/Test.kt
Labels: Java, no-change-note-required, Kotlin

#10728 Kotlin: Extract `override` modifier on SAM methods
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/exprs/funcExprs.expected
  java/ql/test/kotlin/library-tests/exprs/funcExprs.ql
Labels: Kotlin

#10718 Kotlin: ignore properties in `java/internal-representation-exposure` check
  java/ql/src/Violations of Best Practice/Implementation Hiding/ExposeRepresentation.ql
  java/ql/test/kotlin/query-tests/ExposeRepresentation/ExposeRepresentation.expected
  java/ql/test/kotlin/query-tests/ExposeRepresentation/ExposeRepresentation.qlref
  java/ql/test/kotlin/query-tests/ExposeRepresentation/ExposesRep.kt
  java/ql/test/kotlin/query-tests/ExposeRepresentation/User.kt
Labels: Java, no-change-note-required, Kotlin

#10741 Ruby: Avoid computing full `fastTC` for `AstNode::getParent`
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/Completion.qll
Labels: no-change-note-required, Ruby

#10706 C++: Tune cpp/unterminated-variadic-call
  cpp/ql/src/Security/CWE/CWE-121/UnterminatedVarargsCall.ql
  cpp/ql/src/change-notes/2022-10-06-unterminated-variadic-call.md
  cpp/ql/test/query-tests/Security/CWE/CWE-121/semmle/tests/UnterminatedVarargsCall.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-121/semmle/tests/more_tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-121/semmle/tests/tests.c
Labels: C++, documentation

#10704 RB: add some more meta queries for Ruby evaluations
  ruby/ql/src/queries/meta/TaintedNodes.ql
  ruby/ql/src/queries/meta/internal/TaintMetrics.qll
Labels: no-change-note-required, Ruby

#10732 Koltin: Extract the corresponding classes of enum entries
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/methods/clinit.expected
  java/ql/test/kotlin/library-tests/methods/enumClass.kt
  java/ql/test/kotlin/library-tests/methods/exprs.expected
  java/ql/test/kotlin/library-tests/methods/methods.expected
  java/ql/test/kotlin/library-tests/methods/parameters.expected
Labels: Kotlin

#10723 Kotlin: Recognize generated files
  java/ql/lib/semmle/code/java/GeneratedFiles.qll
  java/ql/test/kotlin/library-tests/GeneratedFiles/Generated.expected
  java/ql/test/kotlin/library-tests/GeneratedFiles/Generated.kt
  java/ql/test/kotlin/library-tests/GeneratedFiles/Generated.ql
  java/ql/test/kotlin/library-tests/GeneratedFiles/NonGenerated.kt
Labels: Java, no-change-note-required, Kotlin

#10737 Kotlin: fix type variable erasure inside default function values
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/parameter-defaults/PrintAst.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/erasure.ql
  java/ql/test/kotlin/library-tests/parameter-defaults/test.kt
Labels: Kotlin

#10670 JS: Improve detection of XSS when JSON.stringify()
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/change-notes/2022-10-04-json-stringify-improvement.md
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/json-stringify.jsx
Labels: JS, documentation

#10754 Data flow: Improve `fastTC` bound in `PathNodeImpl::getANonHiddenSuccessor`
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForHttpClientLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForPathname.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForRegExp.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby, Swift

#10763 Ruby: Move `SummarizedCallableFromModel` into `ModelsAsData.qll`
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/ModelsAsData.qll
Labels: no-change-note-required, Ruby

#10731 Ruby: fix some more style-guide violations in the alert-messages
  ruby/ql/src/change-notes/2022-10-07-alert-messages.md
  ruby/ql/src/queries/security/cwe-295/RequestWithoutValidation.ql
  ruby/ql/src/queries/security/cwe-312/CleartextLogging.ql
  ruby/ql/src/queries/security/cwe-312/CleartextStorage.ql
  ruby/ql/src/queries/security/cwe-732/WeakFilePermissions.ql
  ruby/ql/src/queries/security/cwe-798/HardcodedCredentials.ql
  ruby/ql/src/queries/security/cwe-912/HttpToFileAccess.ql
  ruby/ql/test/query-tests/security/cwe-295/RequestWithoutValidation.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextLogging.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextStorage.expected
  ruby/ql/test/query-tests/security/cwe-732/WeakFilePermissions.expected
  ruby/ql/test/query-tests/security/cwe-798/HardcodedCredentials.expected
  ruby/ql/test/query-tests/security/cwe-912/HttpToFileAccess.expected
Labels: documentation, Ruby

#10685 Ruby: summarize unary splat operators and add local field step
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/dataflow/array-flow/type-tracking-array-flow.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
Labels: no-change-note-required, Ruby

#10730 QL: fix some more style-guide violations in the alert-messages
  ql/ql/src/qlpack.yml
  ql/ql/src/queries/bugs/MissingSanitizerGuardCase.ql
  ql/ql/src/queries/performance/DontUseGetAQlClass.ql
  ql/ql/src/queries/performance/NonInitialStdLibImport.ql
  ql/ql/src/queries/performance/TransitiveStep.ql
  ql/ql/src/queries/performance/UnusedField.ql
  ql/ql/src/queries/style/AcronymsShouldBeCamelCase.ql
  ql/ql/src/queries/style/AlertMessage.ql
  ql/ql/src/queries/style/DeadCode.ql
  ql/ql/src/queries/style/FieldOnlyUsedInCharPred.ql
  ql/ql/src/queries/style/RedundantCast.ql
  ql/ql/src/queries/style/RedundantOverride.ql
  ql/ql/src/queries/style/UseInstanceofExtension.ql
  ql/ql/test/queries/style/AcronymsShouldBeCamelCase/AcronymsShouldBeCamelCase.expected
  ql/ql/test/queries/style/DeadCode/DeadCode.expected
  ql/ql/test/queries/style/RedundantCast/RedundantCast.expected
  ql/ql/test/queries/style/RedundantOverride/RedundantOverride.expected
Labels: QL-for-QL

#10756 Kotlin: extract `protected` modifier from java class files
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/integration-tests/posix-only/kotlin/java_modifiers/libsrc/extlib/A.java
  java/ql/integration-tests/posix-only/kotlin/java_modifiers/test.expected
  java/ql/integration-tests/posix-only/kotlin/java_modifiers/test.kt
  java/ql/integration-tests/posix-only/kotlin/java_modifiers/test.py
  java/ql/integration-tests/posix-only/kotlin/java_modifiers/test.ql
Labels: Kotlin

#10772 Swift: Add taint step for subscript expressions
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPrivate.qll
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/subscript.swift
Labels: Swift

#10775 Swift: Add taint sources for custom URL scheme URLs
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/CustomUrlSchemes.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/customurlschemes.swift
Labels: Swift

#10758 Type tracking: Split up `levelStep` into `levelStepCall` and `levelStepNoCall`
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackerSpecific.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
Labels: Python, no-change-note-required, Ruby

#10760 Ruby: Restrict regexp taint flow to `String` summaries
  config/identical-files.json
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttrackingforregexp/TaintTrackingImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttrackingforregexp/TaintTrackingParameter.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/String.qll
  ruby/ql/lib/codeql/ruby/regexp/internal/RegExpConfiguration.qll
Labels: no-change-note-required, Ruby

#10779 C++: Add `UninitializedNode` to experimental IR dataflow
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#10743 Spelling
  cpp/ql/src/Best Practices/Unused Entities/UnusedStaticVariables.qhelp
  cpp/ql/src/Critical/DescriptorMayNotBeClosed.qhelp
  cpp/ql/src/Documentation/DocumentApi.qhelp
  cpp/ql/src/Likely Bugs/Arithmetic/ComparisonPrecedence.qhelp
  cpp/ql/src/Likely Bugs/Likely Typos/IncorrectNotOperatorUsage.qhelp
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow.qhelp
  cpp/ql/src/Likely Bugs/Memory Management/SuspiciousCallToStrncat.qhelp
  cpp/ql/src/Metrics/Classes/CLackOfCohesionCK.qhelp
  cpp/ql/src/Metrics/Namespaces/StableNamespaces.qhelp
  cpp/ql/src/Metrics/Namespaces/UnstableNamespaces.qhelp
  cpp/ql/src/Security/CWE/CWE-732/UnsafeDaclSecurityDescriptor.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-754/ImproperCheckReturnValueScanf.qhelp
  cpp/ql/src/jsf/4.07 Header Files/AV Rule 35.qhelp
  csharp/ql/src/Bad Practices/Implementation Hiding/AbstractToConcreteCollection.qhelp
  csharp/ql/src/Likely Bugs/ConstantComparison.qhelp
  csharp/ql/src/Likely Bugs/MishandlingJapaneseEra.qhelp
  csharp/ql/src/Likely Bugs/ThreadUnsafeICryptoTransformLambda.qhelp
  csharp/ql/src/Security Features/Encryption using ECB.qhelp
  go/ql/src/Security/CWE-322/InsecureHostKeyCallback.qhelp
  go/ql/src/experimental/CWE-321/HardcodedKeys.qhelp
  go/ql/src/experimental/CWE-369/DivideByZero.qhelp
  go/ql/src/experimental/CWE-918/SSRF.qhelp
  go/ql/test/experimental/CWE-942/CorsMisconfiguration.go
  go/ql/test/query-tests/Security/CWE-918/websocket.go
  java/ql/src/Frameworks/Spring/Architecture/Refactoring Opportunities/UnusedBean.qhelp
  java/ql/src/Likely Bugs/Concurrency/DoubleCheckedLockingShared.inc.qhelp
  java/ql/src/Security/CWE/CWE-200/TempDirLocalInformationDisclosure.qhelp
  java/ql/src/Security/CWE/CWE-925/ImproperIntentVerification.qhelp
  java/ql/src/experimental/Security/CWE/CWE-094/SpringViewManipulation.qhelp
  java/ql/src/experimental/Security/CWE/CWE-299/DisabledRevocationChecking.qhelp
  java/ql/src/experimental/Security/CWE/CWE-327/UnsafeTlsVersion.qhelp
  java/ql/src/experimental/Security/CWE/CWE-470/UnsafeReflection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-502/UnsafeDeserializationRmi.qhelp
  java/ql/src/experimental/Security/CWE/CWE-665/CorrectJMXConnectorServerFactoryEnvironmentInitialization.java
  java/ql/src/experimental/Security/CWE/CWE-665/CorrectRMIConnectorServerEnvironmentInitialization.java
  java/ql/src/experimental/Security/CWE/CWE-665/InsecureRmiJmxEnvironmentConfiguration.qhelp
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.java
  javascript/ql/lib/semmle/javascript/PrintAst.qll
  javascript/ql/lib/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/lib/semmle/javascript/frameworks/Immutable.qll
  javascript/ql/src/CHANGELOG.md
  javascript/ql/src/LanguageFeatures/NonLinearPattern.qhelp
  javascript/ql/src/Security/CWE-079/XssThroughDom.qhelp
  javascript/ql/src/Security/CWE-094/ExpressionInjection.qhelp
  javascript/ql/src/Security/CWE-829/InsecureDownload.qhelp
  javascript/ql/src/Statements/UselessComparisonTest.qhelp
  javascript/ql/src/change-notes/released/0.0.10.md
  python/ql/src/Security/CWE-611/Xxe.qhelp
  python/ql/src/experimental/Security/CWE-091/Xslt.qhelp
  python/ql/test/experimental/library-tests/CallGraph/code/runtime_decision.py
  python/ql/test/library-tests/frameworks/modeling-example/NaiveModel.expected
  python/ql/test/library-tests/frameworks/modeling-example/ProperModel.expected
  python/ql/test/library-tests/frameworks/modeling-example/test.py
  ruby/ql/src/CHANGELOG.md
  ruby/ql/src/change-notes/released/0.0.4.md
  ruby/ql/src/queries/security/cwe-502/UnsafeDeserialization.qhelp
  ruby/ql/src/queries/security/cwe-829/InsecureDownload.qhelp
Labels: C#, JS, C++, documentation, Java, Python, Go, Ruby

#10773 Ruby: bugfix in type-tracking singleton class resolution
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/instance_fields.rb
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
Labels: no-change-note-required, Ruby

#10550 C++: New Query `cpp/comma-before-misleading-indentation`
  cpp/ql/src/Best Practices/Likely Errors/CommaBeforeMisleadingIndentation.cpp
  cpp/ql/src/Best Practices/Likely Errors/CommaBeforeMisleadingIndentation.qhelp
  cpp/ql/src/Best Practices/Likely Errors/CommaBeforeMisleadingIndentation.ql
  cpp/ql/src/change-notes/2022-09-30-comma-before-missing-indentation.md
  cpp/ql/test/query-tests/Best Practices/Likely Errors/CommaBeforeMisleadingIndentation/CommaBeforeMisleadingIndentation.expected
  cpp/ql/test/query-tests/Best Practices/Likely Errors/CommaBeforeMisleadingIndentation/CommaBeforeMisleadingIndentation.qlref
  cpp/ql/test/query-tests/Best Practices/Likely Errors/CommaBeforeMisleadingIndentation/test.cpp
Labels: C++, documentation, ready-for-doc-review

#10679 C#/Java: Limit telemetry results.
  csharp/ql/src/Telemetry/ExternalApi.qll
  csharp/ql/src/Telemetry/SupportedExternalSinks.ql
  csharp/ql/src/Telemetry/SupportedExternalSources.ql
  csharp/ql/src/Telemetry/SupportedExternalTaint.ql
  csharp/ql/src/Telemetry/UnsupportedExternalAPIs.ql
  java/ql/src/Telemetry/ExternalApi.qll
  java/ql/src/Telemetry/SupportedExternalSinks.ql
  java/ql/src/Telemetry/SupportedExternalSources.ql
  java/ql/src/Telemetry/SupportedExternalTaint.ql
  java/ql/src/Telemetry/UnsupportedExternalAPIs.ql
Labels: C#, Java, no-change-note-required

#10788 Kotlin: Add Callable.getKotlinParameterDefaultsProxy
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/test/kotlin/library-tests/parameter-defaults/PrintAst.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/defaults.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/defaults.ql
  java/ql/test/kotlin/library-tests/parameter-defaults/test.kt
Labels: Java, no-change-note-required, Kotlin

#10637 Android ContentProvider Incomplete Permissions
  java/ql/lib/change-notes/2022-09-29-contentprovider-incomplete-permissions.md
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissions.qhelp
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissions.ql
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissionsFull.xml
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissionsReadOnly.xml
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissionsReadWrite.xml
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissionsWriteOnly.xml
  java/ql/src/change-notes/2022-09-29-contentprovider-incomplete-permissions.md
  java/ql/test/query-tests/security/CWE-926/incomplete_provider_permissions/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-926/incomplete_provider_permissions/ContentProviderIncompletePermissionsTest.expected
  java/ql/test/query-tests/security/CWE-926/incomplete_provider_permissions/ContentProviderIncompletePermissionsTest.ql
  java/ql/test/query-tests/security/CWE-926/incomplete_provider_permissions/Testbuild/AndroidManifest.xml
Labels: documentation, Java, ready-for-doc-review

#10793 Add clarity to CodeQL extension installation
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
Labels: documentation

#10796 C++: use explicit `this`
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++

#10791 Ruby: treat render 'file:' argument as a file system access
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/src/change-notes/2022-10-12-rails-render-file.md
Labels: documentation, Ruby

#10799 ReDoS: Spelling nfautils
  java/ql/lib/semmle/code/java/security/regexp/NfaUtils.qll
  javascript/ql/lib/semmle/javascript/security/regexp/NfaUtils.qll
  javascript/ql/lib/semmle/javascript/security/regexp/NfaUtilsSpecific.qll
  python/ql/lib/semmle/python/security/regexp/NfaUtils.qll
  python/ql/lib/semmle/python/security/regexp/NfaUtilsSpecific.qll
  ruby/ql/lib/codeql/ruby/security/regexp/NfaUtils.qll
  ruby/ql/lib/codeql/ruby/security/regexp/NfaUtilsSpecific.qll
Labels: JS, Java, Python, no-change-note-required, Ruby

#10789 Kotlin: reduce FPs in useless parameter check for Kotlin code
  java/ql/lib/semmle/code/java/deadcode/DeadCode.qll
  java/ql/test/kotlin/query-tests/UselessParameter/Test.kt
  java/ql/test/kotlin/query-tests/UselessParameter/UselessParameter.expected
Labels: Java, no-change-note-required, Kotlin

#10784 Ruby: model `Pathname#existence` extension from `ActiveSupport`
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupportDataFlow.expected
  ruby/ql/test/library-tests/frameworks/active_support/active_support.rb
Labels: no-change-note-required, Ruby, Ruby GA

#10806 Dataflow: Add additional annotation.
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForHttpClientLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForPathname.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForRegExp.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby, Swift

#10769 C#: Include CIL SSA definitions in `DataFlow::Node`
  csharp/ql/lib/semmle/code/cil/DataFlow.qll
  csharp/ql/lib/semmle/code/cil/Method.qll
  csharp/ql/lib/semmle/code/cil/Ssa.qll
  csharp/ql/lib/semmle/code/cil/Stubs.qll
  csharp/ql/lib/semmle/code/cil/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/commons/Disposal.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
Labels: C#, no-change-note-required

#10790 C#: Deprecate `AssignableRead::getAReachableRead`
  csharp/ql/lib/semmle/code/csharp/Assignable.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Access.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/Format.qll
  csharp/ql/src/API Abuse/DisposeNotCalledOnException.ql
  csharp/ql/src/Useless code/DefaultToStringQuery.qll
Labels: C#, no-change-note-required

#10811 Ruby: remove warning
  ruby/extractor/src/main.rs
Labels: Ruby

#10798 Rb: add case-when expressions as a sink to rb/polynomial-redos
  ruby/ql/lib/codeql/ruby/security/regexp/PolynomialReDoSCustomizations.qll
  ruby/ql/test/query-tests/security/cwe-1333-polynomial-redos/PolynomialReDoS.expected
  ruby/ql/test/query-tests/security/cwe-1333-polynomial-redos/PolynomialReDoS.rb
Labels: no-change-note-required, Ruby

#10801 Spelling ruby
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImplShared.qll
  java/ql/lib/semmle/code/java/security/regexp/ExponentialBackTracking.qll
  java/ql/lib/semmle/code/java/security/regexp/SuperlinearBackTracking.qll
  javascript/ql/lib/semmle/javascript/security/BadTagFilterQuery.qll
  javascript/ql/lib/semmle/javascript/security/regexp/ExponentialBackTracking.qll
  javascript/ql/lib/semmle/javascript/security/regexp/RegexpMatching.qll
  javascript/ql/lib/semmle/javascript/security/regexp/SuperlinearBackTracking.qll
  python/ql/lib/semmle/python/security/BadTagFilterQuery.qll
  python/ql/lib/semmle/python/security/regexp/ExponentialBackTracking.qll
  python/ql/lib/semmle/python/security/regexp/RegexpMatching.qll
  python/ql/lib/semmle/python/security/regexp/SuperlinearBackTracking.qll
  ruby/extractor/src/extractor.rs
  ruby/node-types/src/lib.rs
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/ast/Call.qll
  ruby/ql/lib/codeql/ruby/ast/Constant.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplShared.qll
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/RemoteFlowSources.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/lib/codeql/ruby/experimental/Rbi.qll
  ruby/ql/lib/codeql/ruby/filters/GeneratedCode.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/IO.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/HttpClient.qll
  ruby/ql/lib/codeql/ruby/regexp/internal/ParseRegExp.qll
  ruby/ql/lib/codeql/ruby/security/BadTagFilterQuery.qll
  ruby/ql/lib/codeql/ruby/security/regexp/ExponentialBackTracking.qll
  ruby/ql/lib/codeql/ruby/security/regexp/RegexpMatching.qll
  ruby/ql/lib/codeql/ruby/security/regexp/SuperlinearBackTracking.qll
  ruby/ql/src/CHANGELOG.md
  ruby/ql/src/change-notes/released/0.3.3.md
  ruby/ql/src/experimental/manually-check-http-verb/ManuallyCheckHttpVerb.ql
  ruby/ql/test/query-tests/experimental/manually-check-http-verb/ManuallyCheckHttpVerb.expected
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImplShared.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.ql
Labels: C#, JS, documentation, Java, Python, Ruby, Swift

#10823 Spelling swift
  swift/codegen/generators/qlgen.py
  swift/extractor/infra/SwiftDispatcher.h
  swift/ql/lib/codeql/swift/controlflow/internal/Completion.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
  swift/tools/tracing-config.lua
Labels: Swift

#10778 Python: Add cx_Oracle, phoenixdb, pyodbc models
  docs/codeql/support/reusables/frameworks.rst
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Cx_Oracle.qll
  python/ql/lib/semmle/python/frameworks/Oracledb.qll
  python/ql/lib/semmle/python/frameworks/Phoenixdb.qll
  python/ql/lib/semmle/python/frameworks/Pyodbc.qll
  python/ql/src/change-notes/2022-10-12-cx_oracle-phoenixdb-pyodbc-modeling.md
  python/ql/test/library-tests/frameworks/cx_Oracle/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/cx_Oracle/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/cx_Oracle/pep249.py
  python/ql/test/library-tests/frameworks/oracledb/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/oracledb/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/oracledb/pep249.py
  python/ql/test/library-tests/frameworks/phoenixdb/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/phoenixdb/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/phoenixdb/pep249.py
  python/ql/test/library-tests/frameworks/pyodbc/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/pyodbc/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/pyodbc/pep249.py
Labels: documentation, Python

#10795 Java: Add support for synthetic callables with flow summaries and model Stream.collect
  java/ql/lib/change-notes/2022-10-13-stream-collect.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowNodes.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/lib/semmle/code/java/frameworks/Stream.qll
  java/ql/src/Telemetry/ExternalApi.qll
  java/ql/src/Telemetry/UnsupportedExternalAPIs.ql
  java/ql/test/library-tests/dataflow/stream-collect/A.java
  java/ql/test/library-tests/dataflow/stream-collect/test.expected
  java/ql/test/library-tests/dataflow/stream-collect/test.ql
Labels: documentation, Java

#10749 Ruby: treat Faraday#run_request as remote source
  ruby/ql/lib/change-notes/2022-10-13-faraday-run-request.md
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
Labels: documentation, Ruby, Ruby GA

#10810 Ruby: Update supported languages and frameworks
  docs/codeql/support/reusables/frameworks.rst
  docs/codeql/support/reusables/versions-compilers.rst
Labels: documentation, Ruby GA

#10829 Ruby: Call graph performance improvements
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
Labels: no-change-note-required, Ruby, Ruby GA

#10819 Kotlin: Some windows fixes
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
Labels: Kotlin

#10633 Kotlin: Add a ministdlib test
  java/ql/test/kotlin/library-tests/ministdlib/MiniStdLib.kt
  java/ql/test/kotlin/library-tests/ministdlib/MyClass.kt
  java/ql/test/kotlin/library-tests/ministdlib/classes.expected
  java/ql/test/kotlin/library-tests/ministdlib/classes.ql
  java/ql/test/kotlin/library-tests/ministdlib/options
Labels: Kotlin

#10759 kotlin: Populate numlines
  java/kotlin-extractor/src/main/kotlin/ExternalDeclExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/LinesOfCode.kt
  java/ql/test/kotlin/library-tests/inherited-callee/Test.kt
  java/ql/test/kotlin/library-tests/inherited-callee/test.expected
  java/ql/test/kotlin/library-tests/numlines/callable.expected
  java/ql/test/kotlin/library-tests/numlines/callable.ql
  java/ql/test/kotlin/library-tests/numlines/classes.expected
  java/ql/test/kotlin/library-tests/numlines/classes.ql
  java/ql/test/kotlin/library-tests/numlines/files.expected
  java/ql/test/kotlin/library-tests/numlines/files.ql
  java/ql/test/kotlin/library-tests/numlines/test.kt
Labels: Kotlin

#10815 Swift: cmake generator for better IDE support
  misc/bazel/cmake/BUILD.bazel
  misc/bazel/cmake/cmake.bzl
  misc/bazel/cmake/setup.cmake
  swift/.gitignore
  swift/CMakeLists.txt
  swift/README.md
  swift/extractor/BUILD.bazel
Labels: documentation, Swift

#10836 Ruby: fix spurious singleton calls
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/calls.rb
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
  ruby/ql/test/library-tests/modules/toplevel_self_singleton.rb
Labels: no-change-note-required, Ruby, Ruby GA

#10839 C++: Prepare `FlowSources.qll` for IR-based use-use dataflow
  cpp/ql/lib/semmle/code/cpp/security/FlowSources.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-129/SAMATE/ImproperArrayIndexValidation/ImproperArrayIndexValidation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
Labels: C++, no-change-note-required

#10369 Ruby: add `rb/sensitive-get-query` query
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/lib/codeql/ruby/security/SensitiveActions.qll
  ruby/ql/lib/codeql/ruby/security/SensitiveGetQueryCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/SensitiveGetQueryQuery.qll
  ruby/ql/src/change-notes/2022-09-10-sensitive-get-query.md
  ruby/ql/src/queries/security/cwe-598/SensitiveGetQuery.qhelp
  ruby/ql/src/queries/security/cwe-598/SensitiveGetQuery.ql
  ruby/ql/src/queries/security/cwe-598/examples/routes.rb
  ruby/ql/src/queries/security/cwe-598/examples/users_controller.rb
  ruby/ql/test/query-tests/security/cwe-598/SensitiveGetQuery.expected
  ruby/ql/test/query-tests/security/cwe-598/SensitiveGetQuery.qlref
  ruby/ql/test/query-tests/security/cwe-598/app/controllers/users_controller.rb
  ruby/ql/test/query-tests/security/cwe-598/config/routes.rb
Labels: documentation, Ruby, Ruby GA

#10843 Ruby: fix self variables in blocks
  ruby/ql/lib/codeql/ruby/ast/internal/Variable.qll
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/Nodes.expected
  ruby/ql/test/library-tests/controlflow/graph/cfg.rb
Labels: no-change-note-required, Ruby, Ruby GA

#10850 Ruby: Update test fixture
  ruby/ql/test/library-tests/modules/modules.expected
Labels: no-change-note-required, Ruby

#10814 Dataflow: Add support for synthetic global fields in MaD.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/test/library-tests/dataflow/synth-global/A.java
  java/ql/test/library-tests/dataflow/synth-global/test.expected
  java/ql/test/library-tests/dataflow/synth-global/test.ql
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: C#, Java, Python, no-change-note-required, Ruby, Swift

#10832 RB: add model for the `Digest` and `OpenSSL::Digest` modules
  ruby/ql/lib/change-notes/2022-10-14-digest-model.md
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Digest.qll
  ruby/ql/lib/codeql/ruby/security/OpenSSL.qll
  ruby/ql/test/query-tests/security/cwe-327/BrokenCryptoAlgorithm.expected
  ruby/ql/test/query-tests/security/cwe-327/broken_crypto.rb
Labels: documentation, Ruby, Ruby GA

#10825 Spelling cpp
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/SignAnalysisCommon.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/SignAnalysisSpecific.qll
  cpp/ql/lib/semmle/code/cpp/Linkage.qll
  cpp/ql/lib/semmle/code/cpp/Variable.qll
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
  cpp/ql/lib/semmle/code/cpp/controlflow/BasicBlocks.qll
  cpp/ql/lib/semmle/code/cpp/controlflow/StackVariableReachability.qll
  cpp/ql/lib/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/lib/semmle/code/cpp/exprs/Call.qll
  cpp/ql/lib/semmle/code/cpp/exprs/Cast.qll
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/TOperand.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRUtilities.qll
  cpp/ql/lib/semmle/code/cpp/metrics/MetricFile.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/RangeAnalysisUtils.qll
  cpp/ql/lib/semmle/code/cpp/security/Encryption.qll
  cpp/ql/lib/semmle/code/cpp/security/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/valuenumbering/HashCons.qll
  cpp/ql/src/CHANGELOG.md
  cpp/ql/src/Critical/MemoryMayNotBeFreed.ql
  cpp/ql/src/Likely Bugs/ContinueInFalseLoop.ql
  cpp/ql/src/Likely Bugs/Likely Typos/IncorrectNotOperatorUsage.ql
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound.ql
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
  cpp/ql/src/Likely Bugs/Memory Management/SuspiciousCallToStrncat.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.c
  cpp/ql/src/Security/CWE/CWE-120/OverrunWrite.ql
  cpp/ql/src/Security/CWE/CWE-190/Bounded.qll
  cpp/ql/src/change-notes/released/0.0.8.md
  cpp/ql/src/definitions.ql
  cpp/ql/src/experimental/Best Practices/WrongUintAccess.ql
  cpp/ql/src/experimental/Security/CWE/CWE-273/PrivilegeDroppingOutoforder.ql
  cpp/ql/src/experimental/Security/CWE/CWE-362/double-fetch.ql
  cpp/ql/src/experimental/Security/CWE/CWE-561/FindIncorrectlyUsedSwitch.ql
  cpp/ql/src/experimental/Security/CWE/CWE-703/FindIncorrectlyUsedExceptions.ql
  cpp/ql/src/external/CodeDuplication.qll
  cpp/ql/src/jsf/4.13 Functions/AV Rule 119.ql
  cpp/ql/src/jsf/4.21 Operators/AV Rule 160.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-703/semmle/tests/FindIncorrectlyUsedExceptions.expected
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C#, C++, documentation

#10802 Spelling python
  python/PoCs/XmlParsing/PoC.py
  python/ql/examples/snippets/override_method.ql
  python/ql/lib/CHANGELOG.md
  python/ql/lib/change-notes/released/0.6.1.md
  python/ql/lib/design.md
  python/ql/lib/semmle/python/ApiGraphs.qll
  python/ql/lib/semmle/python/Constants.qll
  python/ql/lib/semmle/python/Flow.qll
  python/ql/lib/semmle/python/dataflow/new/RemoteFlowSources.qll
  python/ql/lib/semmle/python/dataflow/new/SensitiveDataSources.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatchPointsTo.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImplSpecific.qll
  python/ql/lib/semmle/python/dataflow/new/internal/IterableUnpacking.qll
  python/ql/lib/semmle/python/dataflow/new/internal/LocalSources.qll
  python/ql/lib/semmle/python/dataflow/old/Implementation.qll
  python/ql/lib/semmle/python/frameworks/Aioch.qll
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
  python/ql/lib/semmle/python/frameworks/Aiopg.qll
  python/ql/lib/semmle/python/frameworks/ClickhouseDriver.qll
  python/ql/lib/semmle/python/frameworks/Cryptography.qll
  python/ql/lib/semmle/python/frameworks/Pydantic.qll
  python/ql/lib/semmle/python/frameworks/Requests.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/Stdlib/Urllib2.qll
  python/ql/lib/semmle/python/frameworks/internal/SubclassFinder.qll
  python/ql/lib/semmle/python/objects/ObjectAPI.qll
  python/ql/lib/semmle/python/pointsto/PointsTo.qll
  python/ql/lib/semmle/python/regex.qll
  python/ql/lib/semmle/python/security/dataflow/StackTraceExposureQuery.qll
  python/ql/lib/semmle/python/types/IgnoredAndApproximations.txt
  python/ql/src/Security/CWE-327/FluentApiModel.qll
  python/ql/src/Security/CWE-327/InsecureProtocol.ql
  python/ql/src/Security/CWE-327/README.md
  python/ql/src/Security/CWE-798/HardcodedCredentials.ql
  python/ql/src/Variables/Undefined.qll
  python/ql/src/analysis/CrossProjectDefinitions.qll
  python/ql/src/experimental/Security/CWE-1236/CsvInjection.py
  python/ql/src/experimental/semmle/python/templates/DjangoTemplate.qll
  python/ql/src/experimental/semmle/python/templates/FlaskTemplate.qll
  python/ql/src/semmle/python/functions/ModificationOfParameterWithDefaultCustomizations.qll
  python/tools/recorded-call-graph-metrics/src/cg_trace/main.py
  python/tools/recorded-call-graph-metrics/src/cg_trace/tracer.py
Labels: documentation, Python, no-change-note-required

#10768 JS: fix that js/file-system-race could have FPs related to loops
  javascript/ql/src/Security/CWE-367/FileSystemRace.ql
  javascript/ql/src/change-notes/2022-10-04-fix-loops-file-system-race.md
  javascript/ql/test/query-tests/Security/CWE-367/tst.js
Labels: JS, documentation, no-change-note-required

#10077 Add query for tainted `wordexp` calls.
  cpp/ql/src/experimental/Security/CWE/CWE-078/WordexpTainted.c
  cpp/ql/src/experimental/Security/CWE/CWE-078/WordexpTainted.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-078/WordexpTainted.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-078/WordexpTainted.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-078/WordexpTainted.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-078/test.cpp
Labels: C++, documentation

#10821 Kotlin SAM conversion: tolerate property refs used to implement a SAM interface
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/exprs/funcExprs.expected
  java/ql/test/kotlin/library-tests/exprs/samConversion.kt
Labels: Kotlin

#10854 Swift: extract all `ImplicitConversionExpr`
  swift/extractor/visitors/ExprVisitor.cpp
  swift/extractor/visitors/ExprVisitor.h
  swift/extractor/visitors/VisitorBase.h
  swift/ql/test/extractor-tests/generated/expr/AnyHashableErasureExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ArchetypeToSuperExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ArrayToPointerExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ClassMetatypeToObjectExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/CollectionUpcastConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/CovariantFunctionConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/CovariantReturnConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/DerivedToBaseExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/DestructureTupleExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/DifferentiableFunctionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/DifferentiableFunctionExtractOriginalExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ErasureExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ExistentialMetatypeToObjectExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ForeignObjectConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/FunctionConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr.expected
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr.ql
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr_getType.ql
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/implicit_conversions.swift
  swift/ql/test/extractor-tests/generated/expr/InOutToPointerExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/InjectIntoOptionalExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/LinearFunctionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/LinearFunctionExtractOriginalExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/LinearToDifferentiableFunctionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/LoadExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/MetatypeConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/PointerToPointerExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ProtocolMetatypeToObjectExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ReifyPackExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/StringToPointerExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/UnderlyingToOpaqueExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/UnevaluatedInstanceExpr/MISSING_SOURCE.txt
  swift/schema.py
Labels: Swift

#10803 Ruby: Model ActionDispatch::Response
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/security/XSS.qll
  ruby/ql/src/change-notes/2022-10-14-actiondispatch-response.md
  ruby/ql/test/library-tests/frameworks/ActionController.expected
  ruby/ql/test/library-tests/frameworks/ActionController.ql
  ruby/ql/test/library-tests/frameworks/ActionDispatch.expected
  ruby/ql/test/library-tests/frameworks/ActionView.expected
  ruby/ql/test/library-tests/frameworks/app/controllers/comments_controller.rb
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/app/controllers/foo/bars_controller.rb
Labels: documentation, Ruby, Ruby GA

#10780 Swift: detect hardcoded encryption keys
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.qhelp
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.ql
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.swift
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.expected
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.qlref
  swift/ql/test/query-tests/Security/CWE-321/test.swift
Labels: documentation, ready-for-doc-review, Swift

#10689 Swift: Query for CWE-312: Exposure of sensitive information using NSUserDefaults
  swift/README.md
  swift/ql/src/queries/Security/CWE-312/CleartextStoragePreferences.qhelp
  swift/ql/src/queries/Security/CWE-312/CleartextStoragePreferences.ql
  swift/ql/src/queries/Security/CWE-312/CleartextStoragePreferences.swift
  swift/ql/test/query-tests/Security/CWE-312/CleartextStoragePreferences.expected
  swift/ql/test/query-tests/Security/CWE-312/CleartextStoragePreferences.qlref
  swift/ql/test/query-tests/Security/CWE-312/testNSUbiquitousKeyValueStore.swift
  swift/ql/test/query-tests/Security/CWE-312/testUserDefaults.swift
  swift/tools/qltest.sh
Labels: documentation, ready-for-doc-review, Swift

#10816 Kotlin: extract function references using compiler-generated adapters
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/classes/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/reflection/PrintAst.expected
  java/ql/test/kotlin/library-tests/reflection/checkParameterCounts.expected
  java/ql/test/kotlin/library-tests/reflection/checkParameterCounts.ql
  java/ql/test/kotlin/library-tests/reflection/reflection.expected
  java/ql/test/kotlin/library-tests/reflection/reflection.kt
Labels: Kotlin

#10797 Kotlin: fix bit-inversion operator for Byte and Short types
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/exprs/CONSISTENCY/javaEquivalent.expected
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.kt
  java/ql/test/kotlin/library-tests/exprs/unaryOp.expected
Labels: Kotlin

#10856 Swift: show QL class in generated tests on collapsed hierarchies
  swift/codegen/generators/qlgen.py
  swift/codegen/lib/ql.py
  swift/codegen/templates/ql_test_class.mustache
  swift/codegen/test/test_qlgen.py
  swift/ql/test/extractor-tests/generated/File/File.expected
  swift/ql/test/extractor-tests/generated/File/File.ql
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr.expected
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr.ql
  swift/ql/test/extractor-tests/generated/type/BuiltinType/BuiltinType.expected
  swift/ql/test/extractor-tests/generated/type/BuiltinType/BuiltinType.ql
Labels: Swift

#10857 Swift: Give Location a useful toString
  swift/ql/lib/codeql/swift/elements/Location.qll
  swift/ql/lib/codeql/swift/elements/UnknownLocation.qll
  swift/ql/test/library-tests/elements/location/location.expected
  swift/ql/test/library-tests/elements/location/location.ql
  swift/ql/test/library-tests/elements/location/location.swift
Labels: no-change-note-required, Swift

#10818 C++: Fix join in `SsaInternals`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Labels: C++, no-change-note-required

#10864 Ruby: Fix bad join-order in `BarrierGuard::getABarrierNode`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
Labels: no-change-note-required, Ruby, Ruby GA

#10867 Ruby: Remove redundant additional flow step from `OrmTracking::Configuration`
  ruby/ql/lib/codeql/ruby/security/XSS.qll
Labels: no-change-note-required, Ruby

#10822 Koltin: support collection literals
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/collection-literals/PrintAst.expected
  java/ql/test/kotlin/library-tests/collection-literals/PrintAst.qlref
  java/ql/test/kotlin/library-tests/collection-literals/test.kt
Labels: Kotlin

#10860 Kotlin: Add `static` modifier to `clinit`
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/methods/methods.expected
Labels: Kotlin

#10837 Ruby: Add more frameworks to the list of supported frameworks
  docs/codeql/support/reusables/frameworks.rst
Labels: documentation, Ruby, Ruby GA

#10870 Swift: remove obsolete `schema.yml`
  swift/codegen/schema.yml
Labels: Swift

#10774 Swift: Add summaries for tainted URL fields
  swift/ql/lib/codeql/swift/dataflow/FlowSteps.qll
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPrivate.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Url.qll
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/url.swift
Labels: Swift

#10874 Ruby: Fix syntax error in a test
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.rb
Labels: no-change-note-required, Ruby

#10786 Swift: introduce Xcode autobuilder
  swift/BUILD.bazel
  swift/CMakeLists.txt
  swift/tools/autobuild.sh
  swift/xcode-autobuilder/BUILD.bazel
  swift/xcode-autobuilder/CFHelpers.cpp
  swift/xcode-autobuilder/CFHelpers.h
  swift/xcode-autobuilder/XcodeBuildRunner.cpp
  swift/xcode-autobuilder/XcodeBuildRunner.h
  swift/xcode-autobuilder/XcodeProjectParser.cpp
  swift/xcode-autobuilder/XcodeProjectParser.h
  swift/xcode-autobuilder/XcodeTarget.h
  swift/xcode-autobuilder/XcodeWorkspaceParser.cpp
  swift/xcode-autobuilder/XcodeWorkspaceParser.h
  swift/xcode-autobuilder/xcode-autobuilder.cpp
Labels: Swift

#10647 Partially remove mentions of lgtm.com from the CodeQL documentation
  docs/codeql/codeql-cli/creating-codeql-query-suites.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-language-guides/codeql-library-for-ruby.rst
  docs/codeql/writing-codeql-queries/about-codeql-queries.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
  docs/codeql/writing-codeql-queries/query-help-files.rst
Labels: documentation, ready-for-doc-review

#10859 Kotlin: Exclude fields of live literals from `java/field-masks-super-field`
  java/ql/src/Violations of Best Practice/Naming Conventions/FieldMasksSuperField.ql
Labels: Java, no-change-note-required

#10877 Kotlin: Add test for useless null check on safe calls
  java/ql/test/kotlin/query-tests/UselessNullCheck/Test.kt
  java/ql/test/kotlin/query-tests/UselessNullCheck/UselessNullCheck.expected
Labels: Kotlin

#10223 Java: New Android query to detect unsafe content URI resolution
  java/ql/lib/semmle/code/java/security/UnsafeContentUriResolution.qll
  java/ql/lib/semmle/code/java/security/UnsafeContentUriResolutionQuery.qll
  java/ql/src/Security/CWE/CWE-441/UnsafeContentUriResolution.java
  java/ql/src/Security/CWE/CWE-441/UnsafeContentUriResolution.qhelp
  java/ql/src/Security/CWE/CWE-441/UnsafeContentUriResolution.ql
  java/ql/src/change-notes/2022-08-26-unsafe-content-uri-resolution.md
  java/ql/test/query-tests/security/CWE-441/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-441/Test.java
  java/ql/test/query-tests/security/CWE-441/UnsafeContentUriResolutionTest.expected
  java/ql/test/query-tests/security/CWE-441/UnsafeContentUriResolutionTest.ql
  java/ql/test/query-tests/security/CWE-441/options
Labels: documentation, Java, ready-for-doc-review

#10880 Spelling ql
  ql/extractor/src/extractor.rs
  ql/node-types/src/lib.rs
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/AstNodes.qll
  ql/ql/src/codeql_ql/ast/internal/Builtins.qll
  ql/ql/src/codeql_ql/ast/internal/Module.qll
  ql/ql/src/codeql_ql/ast/internal/Predicate.qll
  ql/ql/src/codeql_ql/dataflow/DataFlow.qll
  ql/ql/src/codeql_ql/style/DeadCodeQuery.qll
  ql/ql/src/queries/bugs/InconsistentDeprecation.ql
  ql/ql/src/queries/diagnostics/EmptyConsistencies.ql
  ql/ql/src/queries/style/ConsistentCasing.ql
  ql/ql/src/queries/style/MissingOverride.ql
  ql/ql/src/queries/style/RegexpInsteadOfPattern.ql
  ql/ql/src/queries/style/UseInstanceofExtension.ql
Labels: QL-for-QL

#10824 Spelling csharp
  csharp/extractor/Semmle.Extraction.CIL/Context.Factories.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Base/UnlabelledEntity.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/IMember.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CachedSymbol.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/EventAccessor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Modifier.cs
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/extractor/Semmle.Extraction/Entities/Base/IEntity.cs
  csharp/extractor/Semmle.Util/Enumerators.cs
  csharp/extractor/Semmle.Util/FuzzyDictionary.cs
  csharp/old-change-notes/2020-08-26-implicit-array-lengths.md
  csharp/ql/campaigns/Solorigate/lib/Solorigate.qll
  csharp/ql/lib/experimental/code/csharp/Cryptography/NonCryptographicHashes.qll
  csharp/ql/lib/semmle/code/csharp/AnnotatedType.qll
  csharp/ql/lib/semmle/code/csharp/Conversion.qll
  csharp/ql/lib/semmle/code/csharp/Location.qll
  csharp/ql/lib/semmle/code/csharp/Property.qll
  csharp/ql/lib/semmle/code/csharp/commons/GeneratedCode.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/PreBasicBlocks.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/SuccessorType.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/Steps.qll
  csharp/ql/lib/semmle/code/csharp/exprs/BitwiseOperation.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Call.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Creation.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/System.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/microsoft/AspNetCore.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/security/Cryptography.qll
  csharp/ql/lib/semmle/code/csharp/security/xml/InsecureXMLQuery.qll
  csharp/ql/src/Bad Practices/Magic Constants/MagicConstantsNumbers.cs
  csharp/ql/src/Bad Practices/Magic Constants/MagicNumbersUseConstant.cs
  csharp/ql/src/experimental/Security Features/CWE-327/Azure/UnsafeUsageOfClientSideEncryptionVersion.cs
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/security-validation-disabled.ql
  csharp/ql/src/experimental/Security Features/backdoor/PotentialTimeBomb.ql
  csharp/ql/src/experimental/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/meta/frameworks/UnsupportedExternalAPIs.ql
  csharp/ql/src/utils/model-generator/internal/CaptureModels.qll
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/model-generator/internal/CaptureModels.qll
Labels: C#, documentation, Java, no-change-note-required

#10879 Spelling kotlin
  java/kotlin-extractor/src/main/java/com/semmle/util/expansion/ExpansionEnvironment.java
  java/kotlin-extractor/src/main/java/com/semmle/util/files/FileUtil.java
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#10840 RB: simplify html_safe modeling
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionView.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/lib/codeql/ruby/frameworks/internal/Rails.qll
  ruby/ql/lib/codeql/ruby/security/XSS.qll
  ruby/ql/test/library-tests/frameworks/ActionView.expected
  ruby/ql/test/library-tests/frameworks/ActionView.ql
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/app/controllers/foo/bars_controller.rb
  ruby/ql/test/query-tests/security/cwe-079/app/views/foo/stores/show.html.erb
Labels: no-change-note-required, Ruby

#10648 Kotlin: Implement lockless TRAP writing
  java/kotlin-extractor/src/main/java/com/semmle/extractor/java/OdasaOutput.java
  java/ql/integration-tests/linux-only/kotlin/custom_plugin/diagnostics.expected
  java/ql/integration-tests/linux-only/kotlin/custom_plugin/diagnostics.ql
Labels: depends on internal PR, Java, Kotlin

#10891 Swift: add Xcode autobuilder tests
  .github/workflows/swift-autobuilder.yml
  swift/xcode-autobuilder/BUILD.bazel
  swift/xcode-autobuilder/tests/.gitignore
  swift/xcode-autobuilder/tests/BUILD.bazel
  swift/xcode-autobuilder/tests/autobuild_tester.py
  swift/xcode-autobuilder/tests/hello-autobuilder/commands.expected
  swift/xcode-autobuilder/tests/hello-autobuilder/hello-autobuilder.xcodeproj/project.pbxproj
  swift/xcode-autobuilder/tests/hello-autobuilder/hello-autobuilder.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  swift/xcode-autobuilder/tests/hello-workspace/Hello.xcworkspace/contents.xcworkspacedata
  swift/xcode-autobuilder/tests/hello-workspace/commands.expected
  swift/xcode-autobuilder/tests/hello-workspace/hello-workspace.xcodeproj/project.pbxproj
  swift/xcode-autobuilder/tests/hello-workspace/hello-workspace.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Labels: Swift

#10853 Kotlin: extract called private methods of specialised types, and specialised instances of anonymous types
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/comments/CommentExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/TypeResults.kt
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/test/kotlin/library-tests/classes/PrintAst.expected
  java/ql/test/kotlin/library-tests/classes/superTypes.expected
  java/ql/test/kotlin/library-tests/generic-instance-methods/test.expected
  java/ql/test/kotlin/library-tests/generic-instance-methods/test.kt
  java/ql/test/kotlin/library-tests/private-anonymous-types/test.expected
  java/ql/test/kotlin/library-tests/private-anonymous-types/test.kt
  java/ql/test/kotlin/library-tests/private-anonymous-types/test.ql
Labels: Java, no-change-note-required, Kotlin

#10764 JS: Consider other XSS unsafe content-types when reasoning about XSS vulnerabilities
  javascript/ql/lib/semmle/javascript/security/dataflow/ReflectedXssCustomizations.qll
  javascript/ql/test/library-tests/frameworks/Express/XSS.qll
  javascript/ql/test/library-tests/frameworks/Express/src/express.js
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
  javascript/ql/test/library-tests/frameworks/Express/tests.ql
Labels: JS, no-change-note-required

#10893 Swift: bump actions/setup-python from 3 to 4
  .github/workflows/swift-autobuilder.yml
  .github/workflows/swift-codegen.yml
  .github/workflows/swift-integration-tests.yml
  .github/workflows/swift-qltest.yml
  swift/.python-version
  swift/integration-tests/runner.py
Labels: Swift

#10897 Spelling frontend
  docs/codeql/ql-language-reference/expressions.rst
  docs/codeql/ql-language-reference/signatures.rst
Labels: documentation

#9876 Kotlin: implement default interface forwarding
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/integration-tests/posix-only/kotlin/gradle_kotlinx_serialization/PrintAst.expected
  java/ql/integration-tests/posix-only/kotlin/kotlin-interface-inherited-default/User.java
  java/ql/integration-tests/posix-only/kotlin/kotlin-interface-inherited-default/noforwards.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin-interface-inherited-default/test.expected
  java/ql/integration-tests/posix-only/kotlin/kotlin-interface-inherited-default/test.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin-interface-inherited-default/test.py
  java/ql/integration-tests/posix-only/kotlin/kotlin-interface-inherited-default/test.ql
  java/ql/lib/semmle/code/java/Element.qll
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/test/kotlin/library-tests/classes/PrintAst.expected
  java/ql/test/kotlin/library-tests/classes/genericExprTypes.expected
  java/ql/test/kotlin/library-tests/reflection/reflection.expected
  java/ql/test/kotlin/library-tests/reflection/reflection.ql
  java/ql/test/library-tests/structure/DeclaresMember.expected
  java/ql/test/library-tests/structure/EnclosingCallables.expected
  java/ql/test/library-tests/structure/EnclosingStatements.expected
  java/ql/test/library-tests/structure/HasChildElement.expected
  java/ql/test/library-tests/structure/HasChildElement.ql
  java/ql/test/library-tests/structure/HasMethod.expected
  java/ql/test/library-tests/structure/InSameTopLevelType.expected
  java/ql/test/library-tests/structure/IsInType.expected
  java/ql/test/library-tests/structure/IsNestedType.expected
  java/ql/test/library-tests/structure/TypeGetCompilationUnit.expected
  java/ql/test/library-tests/structure/TypeIsInPackage.expected
  java/ql/test/library-tests/structure/structure/A.java
Labels: Java, no-change-note-required, Kotlin

#10895 Ruby: Block for steps into `self` parameters in `trackModuleAccess`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/calls.rb
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
Labels: no-change-note-required, Ruby, Ruby GA

#10907 QL language spec: pragma[assume_small_delta]
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#10757 Swift: Query for SQL injection
  swift/ql/src/queries/Security/CWE-089/SqlInjection.qhelp
  swift/ql/src/queries/Security/CWE-089/SqlInjection.ql
  swift/ql/src/queries/Security/CWE-089/SqlInjectionBad.swift
  swift/ql/src/queries/Security/CWE-089/SqlInjectionGood.swift
  swift/ql/test/query-tests/Security/CWE-089/SQLite.swift
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.qlref
  swift/ql/test/query-tests/Security/CWE-089/sqlite3_c_api.swift
Labels: documentation, no-change-note-required, ready-for-doc-review, Swift

#10910 Ruby: Refactor call graph logic for singleton methods
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
Labels: no-change-note-required, Ruby

#10885 Kotlin: Add test case for false positive with modified captured variable
  java/ql/test/kotlin/query-tests/ConstantLoopCondition/A.kt
  java/ql/test/kotlin/query-tests/ConstantLoopCondition/ConstantLoopCondition.expected
  java/ql/test/kotlin/query-tests/ConstantLoopCondition/ConstantLoopCondition.qlref
Labels: no-change-note-required, Kotlin

#10894 Kotlin: Refactor PSI handling
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
  java/kotlin-extractor/src/main/kotlin/LinesOfCode.kt
  java/kotlin-extractor/src/main/kotlin/comments/CommentExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/IrVisitorLookup.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_4_32/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_20/Psi2Ir.kt
  java/ql/integration-tests/posix-only/kotlin/logs/index_logs.py
  java/ql/integration-tests/posix-only/kotlin/logs/logs.expected
Labels: Java, Kotlin

#10919 QL language spec: Document built-in equivalence relation module
  docs/codeql/ql-language-reference/modules.rst
Labels: documentation

#10909 Kotlin: Fix varargs dataflow, and varargs default handling
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowNodes.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/test/kotlin/library-tests/parameter-defaults/PrintAst.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/defaults.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/test.kt
  java/ql/test/kotlin/library-tests/vararg/dataflow.expected
Labels: Java, no-change-note-required, Kotlin

#10935 Ruby: include value-preserving flow in localTaintStep
  ruby/ql/lib/change-notes/2022-10-21-local-taint-step.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/test/library-tests/dataflow/local/InlineFlowTest.expected
  ruby/ql/test/library-tests/dataflow/local/InlineFlowTest.ql
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.ql
Labels: documentation, Ruby

#10924 Swift: add qltest tests and fix its failure reporting
  .github/workflows/swift-qltest.yml
  swift/BUILD.bazel
  swift/create_extractor_pack.py
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/customurlschemes.swift
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/data.swift
  swift/ql/test/library-tests/dataflow/taint/subscript.swift
  swift/ql/test/query-tests/Security/CWE-089/SQLite.swift
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  swift/tools/BUILD.bazel
  swift/tools/qltest.sh
  swift/tools/test/qltest/BUILD.bazel
  swift/tools/test/qltest/extractor_options/a.swift
  swift/tools/test/qltest/extractor_options/b.swift
  swift/tools/test/qltest/extractor_options/test.py
  swift/tools/test/qltest/failing_run/a.swift
  swift/tools/test/qltest/failing_run/b.swift
  swift/tools/test/qltest/failing_run/c.swift
  swift/tools/test/qltest/failing_run/test.py
  swift/tools/test/qltest/normal_run/a.swift
  swift/tools/test/qltest/normal_run/b.swift
  swift/tools/test/qltest/normal_run/c.swift
  swift/tools/test/qltest/normal_run/test.py
  swift/tools/test/qltest/utils.py
Labels: Swift

#10936 Kotlin: make internal constructors' trap labels consistent with the Java extractor
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/internal-constructor-called-from-java/User.java
  java/ql/test/kotlin/library-tests/internal-constructor-called-from-java/test.expected
  java/ql/test/kotlin/library-tests/internal-constructor-called-from-java/test.kt
  java/ql/test/kotlin/library-tests/internal-constructor-called-from-java/test.ql
Labels: Kotlin

#10930 Kotlin: give external extension properties with matching name and file distinct trap filenames
  java/kotlin-extractor/src/main/kotlin/ExternalDeclExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/integration-tests/posix-only/kotlin/external-property-overloads/test.expected
  java/ql/integration-tests/posix-only/kotlin/external-property-overloads/test.kt
  java/ql/integration-tests/posix-only/kotlin/external-property-overloads/test.py
  java/ql/integration-tests/posix-only/kotlin/external-property-overloads/test.ql
  java/ql/integration-tests/posix-only/kotlin/external-property-overloads/user.kt
Labels: Java, Kotlin

#10949 Kotlin: exclude Kotlin files from `java/underscore-identifier`
  java/ql/src/Compatibility/JDK9/UnderscoreIdentifier.ql
  java/ql/test/kotlin/query-tests/UnderscoreIdentifier/Test.kt
  java/ql/test/kotlin/query-tests/UnderscoreIdentifier/UnderscoreIdentifier.expected
  java/ql/test/kotlin/query-tests/UnderscoreIdentifier/UnderscoreIdentifier.qlref
  java/ql/test/kotlin/query-tests/UnderscoreIdentifier/test.expected
  java/ql/test/kotlin/query-tests/UnderscoreIdentifier/test.ql
Labels: Java, no-change-note-required, Kotlin

#10912 C++: Update test result after extractor changes
  cpp/ql/test/library-tests/templates/CPP-223/decls.expected
Labels: C++, depends on internal PR
