Repository github/codeql, pull requests merged in 2022-07, with the labels that each got.

#9762 Swift: cleanup
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftExtractorConfiguration.h
  swift/extractor/SwiftOutputRewrite.cpp
  swift/extractor/main.cpp
Labels: Swift

#9755 Kotlin: support JvmStatic annotation
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/integration-tests/linux-only/kotlin/custom_plugin/PrintAst.expected
  java/ql/integration-tests/posix-only/kotlin/gradle_kotlinx_serialization/PrintAst.expected
  java/ql/lib/semmle/code/java/Element.qll
  java/ql/lib/semmle/code/java/PrintAst.qll
  java/ql/test/kotlin/library-tests/classes/PrintAst.expected
  java/ql/test/kotlin/library-tests/data-classes/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs_typeaccess/PrintAst.expected
  java/ql/test/kotlin/library-tests/generics/PrintAst.expected
  java/ql/test/kotlin/library-tests/jvmstatic-annotation/JavaUser.java
  java/ql/test/kotlin/library-tests/jvmstatic-annotation/PrintAst.expected
  java/ql/test/kotlin/library-tests/jvmstatic-annotation/PrintAst.qlref
  java/ql/test/kotlin/library-tests/jvmstatic-annotation/test.expected
  java/ql/test/kotlin/library-tests/jvmstatic-annotation/test.kt
  java/ql/test/kotlin/library-tests/jvmstatic-annotation/test.ql
  java/ql/test/kotlin/library-tests/reflection/PrintAst.expected
  java/ql/test/kotlin/library-tests/reflection/reflection.expected
Labels: Java, no-change-note-required, Kotlin

#9756 JS: add model for the gray-matter library to js/code-injection
  javascript/ql/lib/change-notes/2022-06-22-sensitive-common-words copy.md
  javascript/ql/lib/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/UnsafeCodeConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/lib/index.js
Labels: JS, documentation

#9551 python: Straight port of tarslip
  python/ql/lib/semmle/python/security/dataflow/TarSlipCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/TarSlipQuery.qll
  python/ql/src/Security/CWE-022/TarSlip.ql
  python/ql/test/query-tests/Security/CWE-022-TarSlip/TarSlip.expected
  python/ql/test/query-tests/Security/CWE-022-TarSlip/options
Labels: Python, no-change-note-required

#9768 Kotlin: Mangle names of internal functions to match JVM symbols
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/consistency-queries/visibility.ql
  java/ql/integration-tests/posix-only/kotlin/module_mangled_names/User.java
  java/ql/integration-tests/posix-only/kotlin/module_mangled_names/test.expected
  java/ql/integration-tests/posix-only/kotlin/module_mangled_names/test.py
  java/ql/integration-tests/posix-only/kotlin/module_mangled_names/test.ql
  java/ql/integration-tests/posix-only/kotlin/module_mangled_names/test1.kt
  java/ql/integration-tests/posix-only/kotlin/module_mangled_names/test2.kt
  java/ql/integration-tests/posix-only/kotlin/module_mangled_names/test3.kt
  java/ql/test/kotlin/library-tests/internal-public-alias/User.java
  java/ql/test/kotlin/library-tests/internal-public-alias/test.expected
  java/ql/test/kotlin/library-tests/internal-public-alias/test.kt
  java/ql/test/kotlin/library-tests/internal-public-alias/test.ql
  java/ql/test/kotlin/library-tests/java-kotlin-collection-type-generic-methods/test.expected
  java/ql/test/kotlin/library-tests/methods/methods.expected
  java/ql/test/kotlin/library-tests/modifiers/modifiers.expected
  java/ql/test/kotlin/library-tests/properties/properties.expected
Labels: Java, Kotlin

#9771 Swift: locally run integration tests
  .github/workflows/swift-integration-tests.yml
  CODEOWNERS
  swift/integration-tests/.gitignore
  swift/integration-tests/create_database_utils.py
  swift/integration-tests/cross-references/Functions.expected
  swift/integration-tests/osx-only/frontend-invocations/A.swift
  swift/integration-tests/osx-only/frontend-invocations/B.swift
  swift/integration-tests/osx-only/frontend-invocations/C.swift
  swift/integration-tests/osx-only/frontend-invocations/D.swift
  swift/integration-tests/osx-only/frontend-invocations/E.swift
  swift/integration-tests/osx-only/frontend-invocations/Esup.swift
  swift/integration-tests/osx-only/frontend-invocations/Files.expected
  swift/integration-tests/osx-only/frontend-invocations/Files.ql
  swift/integration-tests/osx-only/frontend-invocations/Makefile
  swift/integration-tests/osx-only/frontend-invocations/test.py
  swift/integration-tests/posix-only/cross-references/Classes.expected
  swift/integration-tests/posix-only/cross-references/Classes.ql
  swift/integration-tests/posix-only/cross-references/Constructors.expected
  swift/integration-tests/posix-only/cross-references/Constructors.ql
  swift/integration-tests/posix-only/cross-references/Destructors.expected
  swift/integration-tests/posix-only/cross-references/Destructors.ql
  swift/integration-tests/posix-only/cross-references/Enums.expected
  swift/integration-tests/posix-only/cross-references/Enums.ql
  swift/integration-tests/posix-only/cross-references/Functions.expected
  swift/integration-tests/posix-only/cross-references/Functions.ql
  swift/integration-tests/posix-only/cross-references/Operators.expected
  swift/integration-tests/posix-only/cross-references/Operators.ql
  swift/integration-tests/posix-only/cross-references/Package.swift
  swift/integration-tests/posix-only/cross-references/Protocols.expected
  swift/integration-tests/posix-only/cross-references/Protocols.ql
  swift/integration-tests/posix-only/cross-references/Sources/cross-references/lib.swift
  swift/integration-tests/posix-only/cross-references/Sources/cross-references/main.swift
  swift/integration-tests/posix-only/cross-references/Structs.expected
  swift/integration-tests/posix-only/cross-references/Structs.ql
  swift/integration-tests/posix-only/cross-references/VarDecls.expected
  swift/integration-tests/posix-only/cross-references/VarDecls.ql
  swift/integration-tests/posix-only/cross-references/test.py
  swift/integration-tests/posix-only/hello-world/Package.swift
  swift/integration-tests/posix-only/hello-world/Sources/hello-world/hello_world.swift
  swift/integration-tests/posix-only/hello-world/test.expected
  swift/integration-tests/posix-only/hello-world/test.py
  swift/integration-tests/posix-only/hello-world/test.ql
  swift/integration-tests/posix-only/partial-modules/A/Package.swift
  swift/integration-tests/posix-only/partial-modules/A/Sources/A/A.swift
  swift/integration-tests/posix-only/partial-modules/A/Sources/A/Asup.swift
  swift/integration-tests/posix-only/partial-modules/B/Package.swift
  swift/integration-tests/posix-only/partial-modules/B/Sources/B/B.swift
  swift/integration-tests/posix-only/partial-modules/B/Sources/B/Bsup.swift
  swift/integration-tests/posix-only/partial-modules/Package.swift
  swift/integration-tests/posix-only/partial-modules/Sources/partial-modules/partial_modules.swift
  swift/integration-tests/posix-only/partial-modules/Unknown.expected
  swift/integration-tests/posix-only/partial-modules/Unknown.ql
  swift/integration-tests/posix-only/partial-modules/test.py
  swift/integration-tests/runner.py
Labels: Swift

#9773 Swift: More improvements to swift/string-length-conflation
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.expected
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.swift
Labels: no-change-note-required, Swift

#9775 Kotlin: don't extract private setters of external classes
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/integration-tests/posix-only/kotlin/private_property_accessors/hasprops.kt
  java/ql/integration-tests/posix-only/kotlin/private_property_accessors/test.expected
  java/ql/integration-tests/posix-only/kotlin/private_property_accessors/test.py
  java/ql/integration-tests/posix-only/kotlin/private_property_accessors/test.ql
  java/ql/integration-tests/posix-only/kotlin/private_property_accessors/usesprops.kt
Labels: Java, Kotlin

#9770 C++: Add `nomagic` to `VariableAccessInInitializer`
  cpp/ql/src/Likely Bugs/UseInOwnInitializer.ql
Labels: C++, no-change-note-required

#9793 C++: Add tests for `AnalysedExpr::isNullCheck` and `AnalysedExpr::isValidCheck`
  cpp/ql/test/library-tests/controlflow/nullness/nullness.expected
  cpp/ql/test/library-tests/controlflow/nullness/nullness.ql
  cpp/ql/test/library-tests/controlflow/nullness/test.cpp
Labels: C++

#9786 C++: LossyFunctionResultCast updates
  cpp/ql/src/Likely Bugs/Conversion/LossyFunctionResultCast.ql
  cpp/ql/test/query-tests/Likely Bugs/Conversion/LossyFunctionResultCast/LossyFunctionResultCast.expected
  cpp/ql/test/query-tests/Likely Bugs/Conversion/LossyFunctionResultCast/LossyFunctionResultCast.qlref
Labels: C++, no-change-note-required

#9570 Update docs to include how to run a pack with path
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
Labels: documentation, ready-for-doc-review

#9774 Swift: disable change note checking for now
  .github/workflows/check-change-note.yml
Labels: no-change-note-required

#9797 Ruby: fix defining every dataflow node as a command execution sink
  ruby/ql/lib/change-notes/2022-07-11-command-execution.md
  ruby/ql/lib/codeql/ruby/frameworks/PosixSpawn.qll
  ruby/ql/lib/codeql/ruby/frameworks/Railties.qll
  ruby/ql/test/library-tests/frameworks/PosixSpawn.ql
  ruby/ql/test/library-tests/frameworks/railties/Railties.expected
  ruby/ql/test/library-tests/frameworks/railties/Railties.ql
Labels: documentation, Ruby

#9801 Kotlin: We can't extract comments for < 1.5.20
  java/kotlin-extractor/src/main/kotlin/comments/CommentExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/IrVisitorLookup.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_4_32/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_21/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_31/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_10/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_20/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0/Psi2Ir.kt
Labels: Kotlin

#9804 C++: Clarify the "most-specific" part of `FunctionCall:getTarget`
  cpp/ql/lib/semmle/code/cpp/exprs/Call.qll
Labels: C++, no-change-note-required

#9545 Java: Fix RefType.getAStrictAncestor() in the presence of type hierarchy cycles
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/test/library-tests/types/cycles/Test.java
  java/ql/test/library-tests/types/cycles/cycles.expected
  java/ql/test/library-tests/types/cycles/cycles.ql
Labels: Java, no-change-note-required

#9785 C++: Nullness.qll bug fixes
  cpp/ql/lib/change-notes/2022-07-12-cover-more-nullness-cases.md
  cpp/ql/lib/semmle/code/cpp/controlflow/Nullness.qll
  cpp/ql/test/library-tests/controlflow/nullness/nullness.expected
  cpp/ql/test/library-tests/controlflow/nullness/nullness.ql
  cpp/ql/test/library-tests/controlflow/nullness/test.cpp
Labels: C++, documentation

#8937 QL: more precise alert locations
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/queries/performance/VarUnusedInDisjunct.ql
  ql/ql/src/queries/style/LibraryAnnotation.ql
  ql/ql/src/queries/style/UseInstanceofExtension.ql
  ql/ql/test/callgraph/callgraph.expected
  ql/ql/test/printAst/printAst.expected
  ql/ql/test/queries/style/AcronymsShouldBeCamelCase/AcronymsShouldBeCamelCase.expected
  ql/ql/test/queries/style/DeadCode/DeadCode.expected
  ql/ql/test/queries/style/MissingOverride/MissingOverride.expected
  ql/ql/test/queries/style/Misspelling/Misspelling.expected
  ql/ql/test/type/type.expected
Labels: QL-for-QL

#9593 QL: followup fixes to parameterized modules
  .github/workflows/ql-for-ql-build.yml
  .github/workflows/ql-for-ql-dataset_measure.yml
  .github/workflows/ql-for-ql-tests.yml
  javascript/ql/src/Expressions/TypoDatabase.qll
  ql/README.md
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/Module.qll
  ql/ql/src/codeql_ql/ast/internal/Predicate.qll
  ql/ql/src/codeql_ql/dataflow/DataFlow.qll
  ql/ql/src/codeql_ql/style/TypoDatabase.qll
  ql/ql/src/queries/diagnostics/EmptyConsistencies.ql
  ql/ql/src/queries/reports/FrameworkCoverage.ql
  ql/ql/test/callgraph/MultiResolve.qll
  ql/ql/test/callgraph/callgraph.expected
  ql/ql/test/queries/style/RedundantCast/Foo.qll
  ql/ql/test/queries/style/RedundantCast/RedundantCast.expected
  ql/ql/test/queries/style/RedundantCast/RedundantCast.qlref
  ql/scripts/create-extractor-pack.ps1
  ql/scripts/create-extractor-pack.sh
  ql/scripts/merge-sarif.js
Labels: JS, documentation, no-change-note-required, QL-for-QL

#7450 QL: Add query detecting suspiciously missing parameters from the QLDoc of a predicate
  javascript/ql/examples/queries/dataflow/TemplateInjection/TemplateInjection.ql
  javascript/ql/lib/definitions.qll
  javascript/ql/lib/semmle/javascript/BasicBlocks.qll
  javascript/ql/lib/semmle/javascript/CharacterEscapes.qll
  javascript/ql/lib/semmle/javascript/Classes.qll
  javascript/ql/lib/semmle/javascript/ES2015Modules.qll
  javascript/ql/lib/semmle/javascript/Paths.qll
  javascript/ql/lib/semmle/javascript/PrintAst.qll
  javascript/ql/lib/semmle/javascript/RangeAnalysis.qll
  javascript/ql/lib/semmle/javascript/Routing.qll
  javascript/ql/lib/semmle/javascript/SSA.qll
  javascript/ql/lib/semmle/javascript/TypeScript.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/Portals.qll
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/frameworks/AngularJS/AngularJSExpressions.qll
  javascript/ql/lib/semmle/javascript/frameworks/AngularJS/ServiceDefinitions.qll
  javascript/ql/lib/semmle/javascript/frameworks/Bundling.qll
  javascript/ql/lib/semmle/javascript/frameworks/ConnectExpressShared.qll
  javascript/ql/lib/semmle/javascript/frameworks/Fastify.qll
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/SocketIO.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/src/Declarations/DeadStoreOfProperty.ql
  javascript/ql/src/LanguageFeatures/TemplateSyntaxInStringLiteral.ql
  javascript/ql/src/Metrics/ES20xxFeatures.qll
  javascript/ql/src/NodeJS/InvalidExport.ql
  javascript/ql/src/RegExp/RegExpAlwaysMatches.ql
  javascript/ql/src/Security/CWE-020/HostnameRegexpShared.qll
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/src/Security/CWE-020/IncorrectSuffixCheck.ql
  javascript/ql/src/Security/CWE-200/PrivateFileExposure.ql
  javascript/ql/src/Security/CWE-384/SessionFixation.ql
  javascript/ql/src/external/DefectFilter.qll
  javascript/ql/src/external/MetricFilter.qll
  python/ql/src/Security/CWE-020/HostnameRegexpShared.qll
  ql/ql/src/codeql_ql/ast/internal/Module.qll
  ql/ql/src/queries/style/MissingParameterInQlDoc.ql
  ql/ql/test/queries/style/MissingParameterInQlDoc/Foo.qll
  ql/ql/test/queries/style/MissingParameterInQlDoc/MissingParameterInQlDoc.expected
  ql/ql/test/queries/style/MissingParameterInQlDoc/MissingParameterInQlDoc.qlref
  ruby/ql/src/queries/security/cwe-020/HostnameRegexpShared.qll
Labels: JS, Python, no-change-note-required, Ruby, QL-for-QL

#9796 Swift: allow skipping fields in cppgen
  swift/codegen/generators/cppgen.py
  swift/codegen/schema.yml
  swift/codegen/test/test_cppgen.py
Labels: Swift

#9817 Java: Model `java.util.Properties.getProperty`
  java/ql/lib/change-notes/2022-07-13-properites.md
  java/ql/lib/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/lib/semmle/code/java/frameworks/Properties.qll
  java/ql/test/library-tests/dataflow/collections/Test.java
  java/ql/test/library-tests/dataflow/collections/flow.expected
Labels: documentation, Java

#9798 JS: use small steps in TypeBackTracker correctly
  javascript/ql/lib/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeHtmlConstructionCustomizations.qll
  javascript/ql/src/Security/CWE-094/ImproperCodeSanitization.ql
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/UnsafeHtmlConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/main.js
Labels: JS, no-change-note-required

#9718 JS: Add 'case sensitive middleware' query
  javascript/ql/lib/semmle/javascript/Routing.qll
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/src/Security/CWE-178/CaseSensitiveMiddlewarePath.qhelp
  javascript/ql/src/Security/CWE-178/CaseSensitiveMiddlewarePath.ql
  javascript/ql/src/Security/CWE-178/examples/CaseSensitiveMiddlewarePath.js
  javascript/ql/src/Security/CWE-178/examples/CaseSensitiveMiddlewarePathGood.js
  javascript/ql/src/change-notes/2022-06-27-case-sensitive-middleware.md
  javascript/ql/test/query-tests/Security/CWE-178/CaseSensitiveMiddlewarePath.expected
  javascript/ql/test/query-tests/Security/CWE-178/CaseSensitiveMiddlewarePath.qlref
  javascript/ql/test/query-tests/Security/CWE-178/charclass.js
  javascript/ql/test/query-tests/Security/CWE-178/tst.js
Labels: JS, documentation, ready-for-doc-review

#9794 JS: exclude variables in .vue files form js/unused-local-variable
  javascript/ql/src/Declarations/UnusedVariable.ql
Labels: JS, no-change-note-required

#9776 New queries to detect unsafe client side encryption in Azure Storage
  csharp/ql/src/experimental/Security Features/CWE-327/Azure/UnsafeUsageOfClientSideEncryptionVersion.cs
  csharp/ql/src/experimental/Security Features/CWE-327/Azure/UnsafeUsageOfClientSideEncryptionVersion.qhelp
  csharp/ql/src/experimental/Security Features/CWE-327/Azure/UnsafeUsageOfClientSideEncryptionVersion.ql
  java/ql/src/experimental/Security/CWE/CWE-327/Azure/UnsafeUsageOfClientSideEncryptionVersion.java
  java/ql/src/experimental/Security/CWE/CWE-327/Azure/UnsafeUsageOfClientSideEncryptionVersion.qhelp
  java/ql/src/experimental/Security/CWE/CWE-327/Azure/UnsafeUsageOfClientSideEncryptionVersion.ql
  python/ql/src/experimental/Security/CWE-327/Azure/UnsafeUsageOfClientSideEncryptionVersion.py
  python/ql/src/experimental/Security/CWE-327/Azure/UnsafeUsageOfClientSideEncryptionVersion.qhelp
  python/ql/src/experimental/Security/CWE-327/Azure/UnsafeUsageOfClientSideEncryptionVersion.ql
Labels: C#, documentation, Java, Python

#9708 Ruby: model the standard library's `Pathname` class
  ruby/ql/lib/codeql/ruby/frameworks/Stdlib.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Pathname.qll
  ruby/ql/test/library-tests/dataflow/pathname-flow/pathame-flow.expected
  ruby/ql/test/library-tests/dataflow/pathname-flow/pathame-flow.ql
  ruby/ql/test/library-tests/dataflow/pathname-flow/pathname_flow.rb
  ruby/ql/test/library-tests/frameworks/pathname/Pathname.expected
  ruby/ql/test/library-tests/frameworks/pathname/Pathname.ql
  ruby/ql/test/library-tests/frameworks/pathname/Pathname.rb
Labels: no-change-note-required, Ruby

#9795 Swift: extract more entities
  swift/codegen/schema.yml
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/infra/SwiftTagTraits.h
  swift/extractor/visitors/DeclVisitor.cpp
  swift/extractor/visitors/DeclVisitor.h
  swift/extractor/visitors/ExprVisitor.cpp
  swift/extractor/visitors/ExprVisitor.h
  swift/extractor/visitors/SwiftVisitor.h
  swift/extractor/visitors/TypeVisitor.cpp
  swift/extractor/visitors/TypeVisitor.h
  swift/extractor/visitors/VisitorBase.h
  swift/ql/lib/codeql/swift/elements.qll
  swift/ql/lib/codeql/swift/elements/decl/IfConfigClause.qll
  swift/ql/lib/codeql/swift/elements/expr/UnresolvedDeclRefExpr.qll
  swift/ql/lib/codeql/swift/generated/GetImmediateParent.qll
  swift/ql/lib/codeql/swift/generated/decl/IfConfigClause.qll
  swift/ql/lib/codeql/swift/generated/decl/IfConfigDecl.qll
  swift/ql/lib/codeql/swift/generated/expr/UnresolvedPatternExpr.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/generated/decl/IfConfigClause/IfConfigClause.expected
  swift/ql/test/extractor-tests/generated/decl/IfConfigClause/IfConfigClause.ql
  swift/ql/test/extractor-tests/generated/decl/IfConfigClause/IfConfigClause_getCondition.expected
  swift/ql/test/extractor-tests/generated/decl/IfConfigClause/IfConfigClause_getCondition.ql
  swift/ql/test/extractor-tests/generated/decl/IfConfigClause/IfConfigClause_getElement.expected
  swift/ql/test/extractor-tests/generated/decl/IfConfigClause/IfConfigClause_getElement.ql
  swift/ql/test/extractor-tests/generated/decl/IfConfigClause/if_config.swift
  swift/ql/test/extractor-tests/generated/decl/IfConfigClause/if_config_active.swift
  swift/ql/test/extractor-tests/generated/decl/IfConfigDecl/IfConfigDecl.expected
  swift/ql/test/extractor-tests/generated/decl/IfConfigDecl/IfConfigDecl.ql
  swift/ql/test/extractor-tests/generated/decl/IfConfigDecl/IfConfigDecl_getClause.expected
  swift/ql/test/extractor-tests/generated/decl/IfConfigDecl/IfConfigDecl_getClause.ql
  swift/ql/test/extractor-tests/generated/decl/IfConfigDecl/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/decl/IfConfigDecl/if_config.swift
  swift/ql/test/extractor-tests/generated/expr/UnresolvedDeclRefExpr/UnresolvedDeclRefExpr.expected
  swift/ql/test/extractor-tests/generated/expr/UnresolvedDeclRefExpr/UnresolvedDeclRefExpr.ql
  swift/ql/test/extractor-tests/generated/expr/UnresolvedDeclRefExpr/UnresolvedDeclRefExpr_getName.expected
  swift/ql/test/extractor-tests/generated/expr/UnresolvedDeclRefExpr/UnresolvedDeclRefExpr_getName.ql
  swift/ql/test/extractor-tests/generated/expr/UnresolvedDeclRefExpr/UnresolvedDeclRefExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/UnresolvedDeclRefExpr/UnresolvedDeclRefExpr_getType.ql
  swift/ql/test/extractor-tests/generated/expr/UnresolvedDeclRefExpr/unresolved_decl_ref.swift
  swift/ql/test/extractor-tests/generated/expr/UnresolvedPatternExpr/UnresolvedPatternExpr.expected
  swift/ql/test/extractor-tests/generated/expr/UnresolvedPatternExpr/UnresolvedPatternExpr.ql
  swift/ql/test/extractor-tests/generated/expr/UnresolvedPatternExpr/UnresolvedPatternExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/UnresolvedPatternExpr/UnresolvedPatternExpr_getType.ql
  swift/ql/test/extractor-tests/generated/expr/UnresolvedPatternExpr/unresolved_pattern_expr.swift
  swift/ql/test/extractor-tests/generated/type/OpenedArchetypeType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/OpenedArchetypeType/OpenedArchetypeType.expected
  swift/ql/test/extractor-tests/generated/type/OpenedArchetypeType/OpenedArchetypeType.ql
  swift/ql/test/extractor-tests/generated/type/OpenedArchetypeType/OpenedArchetypeType_getProtocol.expected
  swift/ql/test/extractor-tests/generated/type/OpenedArchetypeType/OpenedArchetypeType_getProtocol.ql
  swift/ql/test/extractor-tests/generated/type/OpenedArchetypeType/OpenedArchetypeType_getSuperclass.expected
  swift/ql/test/extractor-tests/generated/type/OpenedArchetypeType/OpenedArchetypeType_getSuperclass.ql
  swift/ql/test/extractor-tests/generated/type/OpenedArchetypeType/opened_archetypes.swift
Labels: Swift

#9847 Python: Fix binding incorrect predicate.
  python/ql/lib/semmle/python/frameworks/internal/SubclassFinder.qll
Labels: Python, no-change-note-required

#9837 Move definitions.ql back to src
  go/ql/src/definitions.ql
  javascript/ql/src/definitions.ql
Labels: JS, no-change-note-required, Go

#9857 Added Workflow.getName and Step.GetId
  javascript/ql/lib/semmle/javascript/Actions.qll
Labels: JS, no-change-note-required

#9862 Merge codeql-cli-2.10.1 into main
  go/ql/src/definitions.ql
  javascript/ql/src/definitions.ql
Labels: JS, Mergeback, no-change-note-required, Go

#9848 Swift: More improvements for the string length conflation query
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.expected
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation2.swift
Labels: no-change-note-required, Swift

#9831 Docs: Update supported languages page with links to CLI and pack information
  docs/codeql/codeql-overview/supported-languages-and-frameworks.rst
  docs/codeql/support/reusables/frameworks.rst
Labels: documentation, ready-for-doc-review

#9705 C#: Implement correct behavior for `dotnet build` tracing
  csharp/tools/tracing-config.lua
Labels: C#

#9870 C++: Fix join-order problem in `cpp/command-line-injection`
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
Labels: C++, no-change-note-required

#9868 Ruby: update tree-sitter-ruby
  ruby/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/generator/Cargo.toml
Labels: Ruby

#9878 Ruby: some extractor refactoring
  ruby/extractor/src/extractor.rs
  ruby/extractor/src/main.rs
  ruby/extractor/src/trap.rs
Labels: Ruby

#9880 QL: sync Ruby extractor changes
  ql/extractor/src/extractor.rs
  ql/extractor/src/main.rs
  ql/extractor/src/trap.rs
Labels: QL-for-QL

#9866 Ruby: handle magic coding: comments
  ruby/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/src/main.rs
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/TreeSitter.expected
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/misc/iso-8859-15.rb
Labels: Ruby

#9700 C++: Ensure only one `Variable` exists for every global variable
  cpp/ql/lib/change-notes/2022-06-24-unique-variable.md
  cpp/ql/lib/semmle/code/cpp/Element.qll
  cpp/ql/lib/semmle/code/cpp/Variable.qll
  cpp/ql/lib/semmle/code/cpp/internal/ResolveGlobalVariable.qll
  cpp/ql/test/library-tests/variables/global/variables.expected
Labels: C++, depends on internal PR, documentation

#9872 C++: Fix join-order problem in `cpp/return-stack-allocated-memory`
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
Labels: C++, no-change-note-required

#9883 Ruby/QL: speed up trap writing by putting BufWriter in front of GzEncoder
  ql/extractor/src/trap.rs
  ruby/extractor/src/trap.rs
Labels: Ruby, QL-for-QL

#9735 C++: Remove `pragma[noinline]` from `ResolveGlobalVariable.ql`
  cpp/ql/lib/semmle/code/cpp/internal/ResolveGlobalVariable.qll
Labels: C++, no-change-note-required

#9874 Kotlin: fix for-loop iterators over primitive or wildcard types
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/for-array-iterators/test.expected
  java/ql/test/kotlin/library-tests/for-array-iterators/test.kt
  java/ql/test/kotlin/library-tests/for-array-iterators/test.ql
Labels: Kotlin

#9875 Kotlin: Special-case String.charAt naming
  java/kotlin-extractor/src/main/kotlin/utils/JvmNames.kt
  java/ql/test/kotlin/library-tests/reflection/PrintAst.expected
  java/ql/test/kotlin/library-tests/string-charat/Test.java
  java/ql/test/kotlin/library-tests/string-charat/test.expected
  java/ql/test/kotlin/library-tests/string-charat/test.kt
  java/ql/test/kotlin/library-tests/string-charat/test.ql
Labels: Kotlin

#9838 Move python contextual queries to lib folders
  python/ql/lib/analysis/LocalDefinitions.ql
  python/ql/lib/analysis/LocalReferences.ql
  python/ql/src/change-notes/2022-07-15-move-contextual-queries.md
Labels: documentation, Python

#9894 Java: Add CSV models for java.util.Scanner
  java/ql/lib/change-notes/2022-07-26-scanner-models.md
  java/ql/lib/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/test/library-tests/scanner/Test.java
  java/ql/test/library-tests/scanner/test.expected
  java/ql/test/library-tests/scanner/test.ql
Labels: documentation, Java

#9129 Java: Add Expr::getUnderlyingExpr predicate
  java/ql/lib/change-notes/2022-05-12-get-underlying-expr.md
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageSharedPrefsQuery.qll
  java/ql/lib/semmle/code/java/security/UnsafeAndroidAccess.qll
  java/ql/test/query-tests/security/CWE-312/CleartextStorageSharedPrefsTestKt.kt
  java/ql/test/query-tests/security/CWE-312/options
  java/ql/test/query-tests/security/CWE-749/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-749/UnsafeActivityKt.kt
  java/ql/test/query-tests/security/CWE-749/options
Labels: documentation, Java

#9898 Kotlin: implement super-method calls
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/super-method-calls/test.expected
  java/ql/test/kotlin/library-tests/super-method-calls/test.kt
  java/ql/test/kotlin/library-tests/super-method-calls/test.ql
Labels: Kotlin

#9902 Java: Add support for JUnit5 assertions in the nullness queries.
  java/ql/lib/change-notes/2022-07-27-nullness-junit5.md
  java/ql/lib/semmle/code/java/frameworks/Assertions.qll
Labels: documentation, Java

#9905 Control Flow: extend ordering
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImplShared.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplShared.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImplShared.qll
Labels: C#, no-change-note-required, Ruby, Swift

#9910 Swift: add `--no-cleanup` to integration tests
  swift/integration-tests/create_database_utils.py
Labels: Swift

#9911 Swift: deduplicate `VarDecl`
  swift/extractor/visitors/DeclVisitor.cpp
  swift/extractor/visitors/DeclVisitor.h
  swift/integration-tests/posix-only/cross-references/VarDecls.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getAccessorDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getAccessorDecl.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getAttachedPropertyWrapperType.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getAttachedPropertyWrapperType.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getParentInitializer.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getParentInitializer.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getParentPattern.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getParentPattern.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/var_decls.swift
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getAccessorDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getAccessorDecl.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getAttachedPropertyWrapperType.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getAttachedPropertyWrapperType.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getParentInitializer.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getParentInitializer.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getParentPattern.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getParentPattern.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/param_decls.swift
Labels: Swift

#9824 Add test for Java wildcard substitution
  java/ql/consistency-queries/typeParametersInScope.ql
  java/ql/test/kotlin/library-tests/generic-instance-methods/test.expected
  java/ql/test/library-tests/wildcard-substitution/Lib.java
  java/ql/test/library-tests/wildcard-substitution/User.java
  java/ql/test/library-tests/wildcard-substitution/test.expected
  java/ql/test/library-tests/wildcard-substitution/test.ql
Labels: Java, Kotlin

#9915 Swift: small dispatcher fixes
  swift/extractor/infra/SwiftDispatcher.h
Labels: Swift

#9920 Swift: put all the PCM traps into the same place
  swift/extractor/SwiftExtractor.cpp
Labels: Swift

#9921 Swift: mangle TypeAliasDecls differently
  swift/extractor/visitors/DeclVisitor.cpp
Labels: Swift

#9925 Swift: do not deduplicate PCM variables (as the mangler crashes there sometimes)
  swift/extractor/visitors/DeclVisitor.cpp
Labels: Swift

#9908 Java: Add support for XML InlineExpectationsTest
  java/ql/test/TestUtilities/InlineExpectationsTestPrivate.qll
  java/ql/test/library-tests/xml/Test.java
  java/ql/test/library-tests/xml/XMLTest.expected
  java/ql/test/library-tests/xml/XMLTest.ql
  java/ql/test/library-tests/xml/test.xml
Labels: Java

#9922 Swift: extract precompiled swiftmodule files
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftExtractorConfiguration.h
  swift/extractor/SwiftOutputRewrite.cpp
  swift/extractor/SwiftOutputRewrite.h
  swift/extractor/TargetTrapFile.cpp
  swift/extractor/TargetTrapFile.h
  swift/extractor/main.cpp
  swift/integration-tests/posix-only/partial-modules/Modules.expected
  swift/integration-tests/runner.py
Labels: Swift
