Repository github/codeql, pull requests merged in 2022-11, with the labels that each got.

#10986 JS: push more context into load/store steps from the exploratory flow-analysis
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS, no-change-note-required

#11034 Swift: Add and use AbstractFunctionDecl.hasGlobalName predicate.
  swift/ql/lib/codeql/swift/elements/decl/AbstractFunctionDecl.qll
  swift/ql/lib/codeql/swift/elements/decl/MethodDecl.qll
  swift/ql/src/queries/Security/CWE-089/SqlInjection.ql
Labels: no-change-note-required, Swift

#10576 SSA: Turn consistency predicates into `query` predicates
  csharp/ql/consistency-queries/SsaConsistency.ql
  ruby/ql/consistency-queries/SsaConsistency.ql
  shared/ssa/codeql/ssa/Ssa.qll
Labels: C#, no-change-note-required, Ruby

#11062 Swift: Rename ECB-Encryption directory
  swift/ql/src/queries/Security/CWE-327/ECBEncryption.qhelp
  swift/ql/src/queries/Security/CWE-327/ECBEncryption.ql
  swift/ql/src/queries/Security/CWE-327/ECBEncryption.swift
  swift/ql/test/query-tests/Security/CWE-327/ECBEncryption.expected
  swift/ql/test/query-tests/Security/CWE-327/ECBEncryption.qlref
  swift/ql/test/query-tests/Security/CWE-327/test.swift
  swift/ql/test/query-tests/Security/ECB-Encryption/ECBEncryption.qlref
Labels: documentation, no-change-note-required, Swift

#10917 Ruby: Call-context sensitivity for singleton method calls
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call_sensitivity.rb
Labels: no-change-note-required, Ruby

#11066 SSA: Deprecate `*NoUncertainReads` predicates
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  shared/ssa/codeql/ssa/Ssa.qll
Labels: C#, no-change-note-required

#10951 Kotlin: Fix location (start position) of method calls
  java/kotlin-extractor/src/main/kotlin/TrapWriter.kt
  java/ql/integration-tests/all-platforms/kotlin/enhanced-nullability/test.expected
  java/ql/integration-tests/all-platforms/kotlin/external-property-overloads/test.expected
  java/ql/integration-tests/all-platforms/kotlin/nested_generic_types/test.expected
  java/ql/integration-tests/posix-only/kotlin/generic-extension-property/test.expected
  java/ql/test/kotlin/library-tests/arrays/arrayIterators.expected
  java/ql/test/kotlin/library-tests/call-int-to-char/test.expected
  java/ql/test/kotlin/library-tests/classes/genericExprTypes.expected
  java/ql/test/kotlin/library-tests/dataflow/extensionMethod/test.expected
  java/ql/test/kotlin/library-tests/dataflow/func/test.expected
  java/ql/test/kotlin/library-tests/dataflow/notnullexpr/test.expected
  java/ql/test/kotlin/library-tests/dataflow/summaries/test.expected
  java/ql/test/kotlin/library-tests/exprs/binop.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/exprs/unaryOp.expected
  java/ql/test/kotlin/library-tests/extensions/methodaccesses.expected
  java/ql/test/kotlin/library-tests/fake_overrides/all_kotlin/call.expected
  java/ql/test/kotlin/library-tests/fake_overrides/kotlin_calling_java/call.expected
  java/ql/test/kotlin/library-tests/generic-inner-classes/test.expected
  java/ql/test/kotlin/library-tests/generic-instance-methods/test.expected
  java/ql/test/kotlin/library-tests/generics/generics.expected
  java/ql/test/kotlin/library-tests/inherited-callee/test.expected
  java/ql/test/kotlin/library-tests/inherited-collection-implementation/test.expected
  java/ql/test/kotlin/library-tests/java_and_kotlin/test.expected
  java/ql/test/kotlin/library-tests/jvmstatic-annotation/test.expected
  java/ql/test/kotlin/library-tests/lateinit/test.expected
  java/ql/test/kotlin/library-tests/maps-iterator-overloads/test.expected
  java/ql/test/kotlin/library-tests/methods/exprs.expected
  java/ql/test/kotlin/library-tests/multiple_files/method_accesses.expected
  java/ql/test/kotlin/library-tests/reflection/reflection.expected
  java/ql/test/kotlin/library-tests/special-method-getters/test.expected
  java/ql/test/kotlin/library-tests/static-method-calls/test.expected
  java/ql/test/kotlin/library-tests/stmts/exprs.expected
  java/ql/test/kotlin/library-tests/super-method-calls/test.expected
  java/ql/test/kotlin/library-tests/this/call.expected
  java/ql/test/kotlin/library-tests/vararg/args.expected
  java/ql/test/kotlin/query-tests/MissingInstanceofInEquals/Test.kt
  java/ql/test/kotlin/query-tests/WhitespaceContradictsPrecedence/WhitespaceContradictsPrecedence.expected
  java/ql/test/kotlin/query-tests/WhitespaceContradictsPrecedence/WhitespaceContradictsPrecedence.qlref
  java/ql/test/kotlin/query-tests/WhitespaceContradictsPrecedence/test.kt
Labels: Java, Kotlin

#11027 Swift: WebView JS-native bridge sources
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/WebView.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/webview.swift
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/webview.swift
Labels: Swift

#11075 Ruby: Avoid calls to deprecated SSA predicates
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
Labels: no-change-note-required, Ruby

#11074 Revert "SSA: Turn consistency predicates into `query` predicates"
  csharp/ql/consistency-queries/SsaConsistency.ql
  ruby/ql/consistency-queries/SsaConsistency.ql
  shared/ssa/codeql/ssa/Ssa.qll
Labels: C#, Ruby

#11052 Kotlin: Run default-parameter-mad-flow on all platforms
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/lib.kt
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/test.expected
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/test.py
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/test.ql
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/user.kt
Labels: Java

#11050 Kotlin: Run compiler_arguments test on all platforms
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/app/build.gradle
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/app/src/main/kotlin/testProject/App.kt
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/compArgs.expected
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/compArgs.ql
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/settings.gradle
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/test.py
Labels: Java

#11069 Kotlin vararg constructors: don't call a default-parameter constructor just because there are no varargs
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/parameter-defaults/PrintAst.expected
  java/ql/test/kotlin/library-tests/parameter-defaults/test.kt
Labels: Kotlin

#11064 Kotlin: handle default parameter values inherited from an overridden function
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/inherited-default-value/test.expected
  java/ql/test/kotlin/library-tests/inherited-default-value/test.kt
  java/ql/test/kotlin/library-tests/inherited-default-value/test.ql
Labels: Kotlin

#10931 Ruby: Fix flow steps into phi nodes
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/test/library-tests/dataflow/ssa-flow/ssa-flow.expected
  ruby/ql/test/library-tests/dataflow/ssa-flow/ssa-flow.ql
  ruby/ql/test/library-tests/dataflow/ssa-flow/ssa_flow.rb
Labels: no-change-note-required, Ruby

#11004 Use `${workspace}` for intra-workspace dependencies
  cpp/ql/examples/qlpack.yml
  cpp/ql/lib/qlpack.yml
  cpp/ql/src/qlpack.yml
  cpp/ql/test/qlpack.yml
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/qlpack.yml
  csharp/ql/campaigns/Solorigate/lib/qlpack.yml
  csharp/ql/campaigns/Solorigate/src/qlpack.yml
  csharp/ql/campaigns/Solorigate/test/qlpack.yml
  csharp/ql/consistency-queries/qlpack.yml
  csharp/ql/examples/qlpack.yml
  csharp/ql/lib/qlpack.yml
  csharp/ql/src/qlpack.yml
  csharp/ql/test/qlpack.yml
  go/ql/examples/qlpack.yml
  go/ql/src/qlpack.yml
  go/ql/test/qlpack.yml
  java/ql/examples/qlpack.yml
  java/ql/src/qlpack.yml
  java/ql/test/qlpack.yml
  javascript/ql/examples/qlpack.yml
  javascript/ql/src/qlpack.yml
  javascript/ql/test/qlpack.yml
  python/ql/consistency-queries/qlpack.yml
  python/ql/examples/qlpack.yml
  python/ql/src/qlpack.yml
  python/ql/test/qlpack.yml
  ql/ql/consistency-queries/qlpack.yml
  ql/ql/examples/qlpack.yml
  ql/ql/src/qlpack.yml
  ql/ql/test/callgraph/packs/src/qlpack.yml
  ql/ql/test/qlpack.yml
  ruby/ql/consistency-queries/qlpack.yml
  ruby/ql/examples/qlpack.yml
  ruby/ql/lib/qlpack.yml
  ruby/ql/src/qlpack.yml
  ruby/ql/test/qlpack.yml
  swift/ql/lib/qlpack.yml
  swift/ql/src/qlpack.yml
  swift/ql/test/qlpack.yml
Labels: C#, JS, C++, Java, Python, Go, Ruby, QL-for-QL, Swift

#11092 Swift: Avoid calls to deprecated SSA predicates
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
Labels: no-change-note-required, Swift

#11081 QL4QL: Add DependencyPath.ql query
  ql/ql/src/codeql_ql/dependency/DependencyPath.qll
  ql/ql/src/queries/explore/DependencyPath.ql
Labels: QL-for-QL

#11042 C++: Simplify `buffer.qll` repair
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/VeryLikelyOverrunWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowStatic.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/tests.cpp
Labels: C++, no-change-note-required

#11090 Kotlin: drop same-file requirement for overridden parameter labels
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/integration-tests/all-platforms/kotlin/jvmoverloads-external-class/test.expected
  java/ql/integration-tests/all-platforms/kotlin/jvmoverloads-external-class/test.kt
  java/ql/integration-tests/all-platforms/kotlin/jvmoverloads-external-class/test.py
  java/ql/integration-tests/all-platforms/kotlin/jvmoverloads-external-class/test.ql
  java/ql/integration-tests/all-platforms/kotlin/jvmoverloads-external-class/user.kt
Labels: Java, Kotlin

#11096 Swift: Move the Unit class to its own file
  swift/ql/lib/codeql/swift/Unit.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/swift.qll
Labels: Swift

#11097 C++: Accept test change
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/VeryLikelyOverrunWrite.expected
Labels: C++

#11091 Fix AV Rule 76
  cpp/ql/src/change-notes/2022-11-03-av-rule-76.md
  cpp/ql/src/jsf/4.10 Classes/AV Rule 76.ql
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 76/AV Rule 76.expected
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 76/AV Rule 76.qlref
  cpp/ql/test/query-tests/jsf/4.10 Classes/AV Rule 76/test.cpp
Labels: C++, documentation, no-change-note-required

#11098 Summary metrics: Improve consistency of naming
  csharp/ql/src/Metrics/Summaries/LinesOfCode.ql
  java/ql/src/Metrics/Summaries/LinesOfCode.ql
  ql/ql/src/queries/summary/LinesOfUserCode.ql
  ql/ql/src/queries/summary/NumberOfFilesExtractedWithErrors.ql
  ql/ql/src/queries/summary/NumberOfSuccessfullyExtractedFiles.ql
  ruby/ql/src/queries/summary/LinesOfUserCode.ql
  ruby/ql/src/queries/summary/NumberOfFilesExtractedWithErrors.ql
  ruby/ql/src/queries/summary/NumberOfSuccessfullyExtractedFiles.ql
Labels: C#, Java, no-change-note-required, Ruby, QL-for-QL

#11104 Swift: fix bad join order in WebView/JsExportedSource
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/WebView.qll
Labels: Swift

#11108 C++: Turn `IndirectArgumentOutNode` into a `PartialDefinitionNode`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
Labels: no-change-note-required

#11103 Release preparation for version 2.11.3
  go/ql/lib/CHANGELOG.md
  go/ql/lib/change-notes/released/0.3.3.md
  go/ql/lib/codeql-pack.release.yml
  go/ql/lib/qlpack.yml
  java/ql/lib/CHANGELOG.md
  java/ql/lib/change-notes/released/0.4.3.md
  java/ql/lib/codeql-pack.release.yml
  java/ql/lib/qlpack.yml
  javascript/ql/lib/CHANGELOG.md
  javascript/ql/lib/change-notes/released/0.3.3.md
  javascript/ql/lib/codeql-pack.release.yml
  javascript/ql/lib/qlpack.yml
  misc/suite-helpers/CHANGELOG.md
  misc/suite-helpers/change-notes/released/0.3.3.md
  misc/suite-helpers/codeql-pack.release.yml
  misc/suite-helpers/qlpack.yml
  python/ql/lib/CHANGELOG.md
  python/ql/lib/change-notes/released/0.6.3.md
  python/ql/lib/codeql-pack.release.yml
  python/ql/lib/qlpack.yml
  shared/ssa/CHANGELOG.md
  shared/ssa/change-notes/released/0.0.4.md
  shared/ssa/codeql-pack.release.yml
  shared/ssa/qlpack.yml
  shared/typos/CHANGELOG.md
  shared/typos/change-notes/released/0.0.4.md
  shared/typos/codeql-pack.release.yml
  shared/typos/qlpack.yml
Labels: JS, documentation, Java, Python, Go

#11109 C++: Fix the IR dataflow configuration for the field flow tests
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/E.cpp
  cpp/ql/test/library-tests/dataflow/fields/IRConfiguration.qll
  cpp/ql/test/library-tests/dataflow/fields/conflated.cpp
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
Labels: C++, no-change-note-required

#10904 Java: Fix some join-orders.
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/lib/semmle/code/java/dataflow/NullGuards.qll
  java/ql/lib/semmle/code/java/dataflow/SSA.qll
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/dispatch/DispatchFlow.qll
  java/ql/lib/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/lib/semmle/code/java/frameworks/Rmi.qll
  java/ql/lib/semmle/code/java/frameworks/jackson/JacksonSerializability.qll
Labels: Java, no-change-note-required

#11060 Data flow: Restrict public `PathNode`s to those that may reach a sink
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/SAMATE/TaintedPath/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-079/semmle/CgiXss/CgiXss.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/SAMATE/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/SAMATE/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/ifs/ifs.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/SAMATE/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-290/semmle/AuthenticationBypass/AuthenticationBypass.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/TaintedCondition.expected
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  csharp/ql/test/experimental/Security Features/backdoor/DangerousNativeFunctionCall.expected
  csharp/ql/test/experimental/Security Features/backdoor/PotentialTimeBomb.expected
  csharp/ql/test/experimental/Security Features/backdoor/test.cs
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForHttpClientLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForPathname.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForRegExp.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, depends on internal PR, Java, Python, no-change-note-required, Ruby, Swift, DataFlow Library

#10933 C#: Fix flow steps into phi/uncertain def nodes
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/J.cs
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
Labels: C#, no-change-note-required

#11116 Swift: allow expecting failure in qltest.sh
  swift/tools/qltest.sh
  swift/tools/test/qltest/expected_failure_codes/a.swift
  swift/tools/test/qltest/expected_failure_codes/b.swift
  swift/tools/test/qltest/expected_failure_codes/test.py
  swift/tools/test/qltest/unexpected_return_code/a.swift
  swift/tools/test/qltest/unexpected_return_code/b.swift
  swift/tools/test/qltest/unexpected_return_code/c.swift
  swift/tools/test/qltest/unexpected_return_code/test.py
Labels: Swift

#11013 JS: second-order-command-injection
  javascript/ql/lib/semmle/javascript/security/dataflow/SecondOrderCommandInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/SecondOrderCommandInjectionQuery.qll
  javascript/ql/src/Security/CWE-078/SecondOrderCommandInjection.qhelp
  javascript/ql/src/Security/CWE-078/SecondOrderCommandInjection.ql
  javascript/ql/src/Security/CWE-078/examples/second-order-command-injection-fixed.js
  javascript/ql/src/Security/CWE-078/examples/second-order-command-injection.js
  javascript/ql/src/change-notes/2022-09-05-second-order-command-injection.md
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/CommandInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/child_process-test.js
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/exec-sh.js
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/exec-sh2.js
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/execSeries.js
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/form-parsers.js
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/other.js
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/third-party-command-injection.js
  javascript/ql/test/query-tests/Security/CWE-078/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection/IndirectCommandInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection/command-line-parameter-command-injection.js
  javascript/ql/test/query-tests/Security/CWE-078/SecondOrderCommandInjection/SecondOrderCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/SecondOrderCommandInjection/SecondOrderCommandInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-078/SecondOrderCommandInjection/second-order.js
  javascript/ql/test/query-tests/Security/CWE-078/ShellCommandInjectionFromEnvironment/ShellCommandInjectionFromEnvironment.expected
  javascript/ql/test/query-tests/Security/CWE-078/ShellCommandInjectionFromEnvironment/ShellCommandInjectionFromEnvironment.qlref
  javascript/ql/test/query-tests/Security/CWE-078/ShellCommandInjectionFromEnvironment/tst_shell-command-injection-from-environment.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.qlref
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/isImported.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/lib.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/lib2.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/other.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib/amd.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib/amdSub.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib/index.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib/package.json
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib2/compiled-file.ts
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib2/package.json
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib2/special-file.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib3/my-file.ts
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib3/package.json
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib4/index.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib4/package.json
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/subLib4/subsub.js
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/package.json
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat/UselessUseOfCat.ql
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat/uselesscat.js
Labels: JS, documentation

#11078 add workflow that checks compilation of all queries with the latest stable release
  .github/actions/fetch-codeql/action.yml
  .github/workflows/compile-queries.yml
  go/ql/src/Metrics/FLinesOfCode.ql
  go/ql/src/Metrics/FLinesOfComment.ql
  go/ql/src/experimental/CWE-400/DatabaseCallInLoop.ql
  go/ql/src/experimental/InconsistentCode/DeferInLoop.ql
  swift/ql/lib/codeql/swift/controlflow/internal/Completion.qll
Labels: no-change-note-required, Go, Swift

#11112 C++: Improve `Buffer.qll` performance
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++, no-change-note-required

#11029 Swift: add possibility to run the extractor under an env-specified tool
  swift/README.md
  swift/extractor/main.cpp
  swift/ql/test/extractor-tests/run_under/Strings.expected
  swift/ql/test/extractor-tests/run_under/Strings.ql
  swift/ql/test/extractor-tests/run_under/filtered_in.swift
  swift/ql/test/extractor-tests/run_under/filtered_out.swift
  swift/ql/test/extractor-tests/run_under/normal.swift
  swift/ql/test/extractor-tests/run_under/run_under.sh
  swift/ql/test/extractor-tests/run_under/unfiltered.swift
  swift/tools/qltest.sh
  swift/tools/test/qltest/extractor_env/a.swift
  swift/tools/test/qltest/extractor_env/b.swift
  swift/tools/test/qltest/extractor_env/test.py
  swift/tools/test/qltest/utils.py
Labels: documentation, Swift

#11106 Kotlin: Extract extension binary operators
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/exprs/CONSISTENCY/cfgDeadEnds.expected
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/binop.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.kt
  java/ql/test/kotlin/library-tests/exprs/funcExprs.expected
  java/ql/test/kotlin/library-tests/exprs/unaryOp.expected
Labels: Kotlin

#11126 C++: Let `(Indirect|Direct)Position` be sub classes of `Position`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Labels: C++, no-change-note-required

#11122 Swift: make sed on macos happy
  swift/tools/qltest.sh
Labels: Swift

#11129 Ruby: Improve weak crypto query
  ruby/ql/src/change-notes/2022-11-04-weak-crypto-hash.md
  ruby/ql/src/queries/security/cwe-327/BrokenCryptoAlgorithm.ql
  ruby/ql/test/query-tests/security/cwe-327/BrokenCryptoAlgorithm.expected
  ruby/ql/test/query-tests/security/cwe-327/broken_crypto.rb
Labels: documentation, Ruby

#10957 Ruby: document API graphs
  docs/codeql/codeql-language-guides/codeql-for-ruby.rst
  docs/codeql/codeql-language-guides/using-api-graphs-in-ruby.rst
Labels: documentation, Ruby GA

#11127 ATM: Fix CodeQL pack workspace references
  codeql-workspace.yml
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/test/qlpack.yml
Labels: no-change-note-required, ATM

#10932 Ruby: data flow docs
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-ruby.rst
  docs/codeql/codeql-language-guides/codeql-for-ruby.rst
Labels: documentation, ready-for-doc-review, Ruby GA

#11055 Sink endpoint characteristics
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/ATMConfig.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointCharacteristics.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/NosqlInjectionATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/SqlInjectionATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/TaintedPathATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/XssATM.qll
Labels: ATM

#11036 Swift: Add and use ApplyExpr.getArgumentByParamName.
  swift/ql/src/queries/Security/CWE-079/UnsafeWebViewFetch.ql
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Labels: no-change-note-required, Swift

#11105 Kotlin: use `$default` functions to implement `@JvmOverloads`
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/PrintAst.expected
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/test.expected
Labels: Kotlin

#10886 Dataflow: Fix a couple of join-orders.
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForHttpClientLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForPathname.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForRegExp.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby, Swift, DataFlow Library

#11137 C++: Small fixes for the dataflow tests
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.ql
Labels: C++, no-change-note-required

#11130 Kotlin: always populate the `files` table
  java/kotlin-extractor/src/main/kotlin/ExternalDeclExtractor.kt
Labels: Kotlin

#11121 Kotlin: fix extraction of Java nested wildcards; wildcards in return types
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/integration-tests/all-platforms/kotlin/kotlin_java_lowering_wildcards/JavaDefns2.java
  java/ql/integration-tests/all-platforms/kotlin/kotlin_java_lowering_wildcards/kotlinuser.kt
  java/ql/integration-tests/all-platforms/kotlin/kotlin_java_lowering_wildcards/test.expected
  java/ql/integration-tests/all-platforms/kotlin/kotlin_java_lowering_wildcards/test.py
  java/ql/integration-tests/all-platforms/kotlin/kotlin_java_lowering_wildcards/test.ql
Labels: Java, Kotlin

#10947 Swift: detect hash functions with low # of iterations
  swift/ql/src/queries/Security/CWE-916/InsufficientHashIterations.qhelp
  swift/ql/src/queries/Security/CWE-916/InsufficientHashIterations.ql
  swift/ql/src/queries/Security/CWE-916/InsufficientHashIterations.swift
  swift/ql/test/query-tests/Security/CWE-916/InsufficientHashIterations.expected
  swift/ql/test/query-tests/Security/CWE-916/InsufficientHashIterations.qlref
  swift/ql/test/query-tests/Security/CWE-916/test.swift
Labels: documentation, ready-for-doc-review, Swift

#11056 Ruby: add an AST reference guide
  docs/codeql/codeql-language-guides/abstract-syntax-tree-classes-for-working-with-ruby-programs.rst
  docs/codeql/codeql-language-guides/codeql-for-ruby.rst
Labels: documentation, ready-for-doc-review, Ruby GA

#11094 Swift: refactor visitors to use translations
  .pre-commit-config.yaml
  config/identical-files.json
  swift/codegen/lib/cpp.py
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/translators/BUILD.bazel
  swift/extractor/translators/DeclTranslator.cpp
  swift/extractor/translators/DeclTranslator.h
  swift/extractor/translators/ExprTranslator.cpp
  swift/extractor/translators/ExprTranslator.h
  swift/extractor/translators/PatternTranslator.cpp
  swift/extractor/translators/PatternTranslator.h
  swift/extractor/translators/StmtTranslator.cpp
  swift/extractor/translators/StmtTranslator.h
  swift/extractor/translators/SwiftVisitor.h
  swift/extractor/translators/TranslatorBase.h
  swift/extractor/translators/TypeTranslator.cpp
  swift/extractor/translators/TypeTranslator.h
  swift/extractor/visitors/ExprVisitor.cpp
  swift/extractor/visitors/ExprVisitor.h
  swift/extractor/visitors/PatternVisitor.cpp
  swift/extractor/visitors/PatternVisitor.h
  swift/extractor/visitors/StmtVisitor.cpp
  swift/extractor/visitors/StmtVisitor.h
  swift/extractor/visitors/SwiftVisitor.h
  swift/extractor/visitors/TypeVisitor.cpp
  swift/extractor/visitors/TypeVisitor.h
  swift/ql/lib/codeql/swift/generated/type/AnyFunctionType.qll
  swift/ql/lib/codeql/swift/generated/type/DependentMemberType.qll
  swift/ql/lib/codeql/swift/generated/type/TupleType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/ast/cfg.swift
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/schema.py
Labels: Swift

#11139 Ruby: docs add missing entry
  docs/codeql/codeql-language-guides/codeql-for-ruby.rst
Labels: documentation, Ruby GA

#11124 Swift: extract `AwaitExpr`
  swift/extractor/translators/ExprTranslator.cpp
  swift/extractor/translators/ExprTranslator.h
  swift/ql/test/extractor-tests/generated/expr/AwaitExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/DotSelfExpr/DotSelfExpr.expected
  swift/ql/test/extractor-tests/generated/expr/DotSelfExpr/DotSelfExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/DotSelfExpr/dotself.swift
  swift/ql/test/extractor-tests/generated/expr/IdentityExpr/IdentityExpr.expected
  swift/ql/test/extractor-tests/generated/expr/IdentityExpr/IdentityExpr.ql
  swift/ql/test/extractor-tests/generated/expr/IdentityExpr/IdentityExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/IdentityExpr/IdentityExpr_getType.ql
  swift/ql/test/extractor-tests/generated/expr/IdentityExpr/identity_expressions.swift
  swift/ql/test/extractor-tests/generated/expr/ParenExpr/MISSING_SOURCE.txt
  swift/schema.py
Labels: Swift

#11089 Kotlin: Extract missing arguments of enum constructor calls
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/consistency-queries/callArgs.ql
  java/ql/lib/semmle/code/java/Element.qll
  java/ql/test/kotlin/library-tests/classes/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/exprs_typeaccess/PrintAst.expected
  java/ql/test/kotlin/library-tests/methods/exprs.expected
Labels: Java, no-change-note-required, Kotlin

#11079 Java: Add test for multiply-bounded wildcards
  java/ql/test/library-tests/multiply-bounded-wildcards/Test.java
  java/ql/test/library-tests/multiply-bounded-wildcards/test.expected
  java/ql/test/library-tests/multiply-bounded-wildcards/test.ql
  java/ql/test/library-tests/wildcards-and-captured-types/Test.java
  java/ql/test/library-tests/wildcards-and-captured-types/test.expected
  java/ql/test/library-tests/wildcards-and-captured-types/test.ql
Labels: Java

#11141 Ruby: expand explanation of desugaring
  docs/codeql/codeql-language-guides/abstract-syntax-tree-classes-for-working-with-ruby-programs.rst
Labels: documentation, Ruby GA

#11071 ReDoS: fix canonicalization in NfaUtils
  java/ql/lib/semmle/code/java/security/regexp/NfaUtils.qll
  javascript/ql/lib/semmle/javascript/security/regexp/NfaUtils.qll
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/IncompleteMultiCharacterSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/tst-multi-character-sanitization.js
  python/ql/lib/semmle/python/security/regexp/NfaUtils.qll
  ruby/ql/lib/codeql/ruby/security/regexp/NfaUtils.qll
Labels: JS, Java, Python, no-change-note-required, Ruby

#11143 JS: Bump version numbers of ML-powered packs after 0.4.0 release
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/model/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/codeql-pack.lock.yml
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/codeql-pack.lock.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/test/codeql-pack.lock.yml
Labels: ATM

#10993 Swift: detect the use of constant salts
  swift/ql/src/queries/Security/CWE-760/ConstantSalt.qhelp
  swift/ql/src/queries/Security/CWE-760/ConstantSalt.ql
  swift/ql/src/queries/Security/CWE-760/ConstantSalt.swift
  swift/ql/test/query-tests/Security/CWE-760/ConstantSalt.expected
  swift/ql/test/query-tests/Security/CWE-760/ConstantSalt.qlref
  swift/ql/test/query-tests/Security/CWE-760/test.swift
Labels: documentation, ready-for-doc-review, Swift

#11032 Kotlin: exclude loop variables on ranges from 'unused locals' check
  java/ql/src/Violations of Best Practice/Dead Code/UnreadLocal.ql
  java/ql/test/kotlin/query-tests/UnreadLocal/UnreadLocal.expected
  java/ql/test/kotlin/query-tests/UnreadLocal/UnreadLocal.qlref
  java/ql/test/kotlin/query-tests/UnreadLocal/test.kt
Labels: Java, no-change-note-required, Kotlin

#11140 Merge documentation changes of 2.11.2 into 2.11.3
  docs/codeql/codeql-language-guides/abstract-syntax-tree-classes-for-working-with-ruby-programs.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-ruby.rst
  docs/codeql/codeql-language-guides/basic-query-for-ruby-code.rst
  docs/codeql/codeql-language-guides/codeql-for-ruby.rst
  docs/codeql/codeql-language-guides/using-api-graphs-in-ruby.rst
  docs/codeql/query-help/codeql-cwe-coverage.rst
  docs/codeql/query-help/index.rst
  docs/codeql/reusables/ruby-beta-note.rst
Labels: documentation, Mergeback

#11145 Ruby: add a couple of missing links to a new article
  docs/codeql/writing-codeql-queries/about-data-flow-analysis.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
Labels: documentation

#11068 QL Spec: Add instanceof in classes
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#11147 C++: Fix the use-use dataflow configuration in `dataflow/dataflow-tests`
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/ref.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.ql
Labels: C++

#10890 Java: Add flow summaries for startActivities
  java/ql/lib/change-notes/2022-10-19-android-startactivities-summaries.md
  java/ql/lib/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/lib/semmle/code/java/frameworks/android/Intent.qll
  java/ql/test/library-tests/frameworks/android/intent/TestStartActivityToGetIntent.java
Labels: documentation, Java

#10680 RB: add an unsafe-shell-command-construction query
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Gem.qll
  ruby/ql/lib/codeql/ruby/security/CommandInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeShellCommandConstructionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeShellCommandConstructionQuery.qll
  ruby/ql/src/change-notes/2022-10-10-unsafe-shell-command-construction.md
  ruby/ql/src/queries/security/cwe-078/UnsafeShellCommandConstruction.qhelp
  ruby/ql/src/queries/security/cwe-078/UnsafeShellCommandConstruction.ql
  ruby/ql/src/queries/security/cwe-078/examples/unsafe-shell-command-construction.rb
  ruby/ql/src/queries/security/cwe-078/examples/unsafe-shell-command-construction_fixed.rb
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.rb
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.qlref
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/impl/sub/notImported.rb
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/impl/sub/other.rb
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/impl/sub/other2.rb
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/impl/unsafeShell.rb
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/unsafe-shell.gemspec
Labels: documentation, Ruby

#11045 Kotlin: Excluded compiler generated methods from `java/confusing-method-signature`
  java/ql/src/Violations of Best Practice/Naming Conventions/ConfusingOverloading.ql
  java/ql/test/kotlin/query-tests/ConfusingMethodSignature/Test.kt
Labels: Java, no-change-note-required, Kotlin

#11152 Swift: add bitwise ops to `PrintAst` test
  swift/ql/test/extractor-tests/expressions/all.expected
  swift/ql/test/extractor-tests/expressions/expressions.swift
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/ast/expressions.swift
Labels: Swift

#11154 C++: Fix wrong return types and missing statement in dataflow test
  cpp/ql/test/library-tests/dataflow/dataflow-tests/true_upon_entry.cpp
Labels: C++

#11156 Swift: Add `BitwiseOperation.qll`
  swift/ql/lib/codeql/swift/elements/expr/BitwiseOperation.qll
  swift/ql/lib/swift.qll
  swift/ql/test/extractor-tests/expressions/all.expected
  swift/ql/test/extractor-tests/expressions/expressions.swift
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/ast/expressions.swift
  swift/ql/test/library-tests/elements/expr/bitwiseopration/bitwiseoperation.expected
  swift/ql/test/library-tests/elements/expr/bitwiseopration/bitwiseoperation.ql
  swift/ql/test/library-tests/elements/expr/bitwiseopration/bitwiseoperation.swift
Labels: Swift

#11155 Ruby: Avoid stage recomputation
  ruby/ql/lib/codeql/ruby/regexp/internal/RegExpConfiguration.qll
Labels: no-change-note-required, Ruby

#10378 JS: expand localFieldStep to use access-paths, and build access-paths in more cases
  javascript/ql/lib/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/lib.js
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/UnsafeCodeConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/lib/index.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
Labels: JS, no-change-note-required

#11163 C++: Add dataflow test that deliberately omits the return of a non-void function
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++

#11164 Swift: print unextracted entities
  .github/workflows/swift.yml
  swift/actions/print-unextracted/action.yml
  swift/extractor/print_unextracted/BUILD.bazel
  swift/extractor/print_unextracted/main.cpp
Labels: Swift

#11161 Swift: Add LocalFlowSource class and a few sources.
  swift/ql/lib/codeql/swift/dataflow/FlowSources.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
  swift/ql/src/queries/Summary/FlowSources.ql
  swift/ql/src/queries/Summary/SummaryStats.ql
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/string.swift
Labels: no-change-note-required, Swift

#11149 C++: Clearer messages for the format args queries
  cpp/ql/src/Likely Bugs/Format/TooManyFormatArguments.ql
  cpp/ql/src/Likely Bugs/Format/WrongNumberOfFormatArguments.ql
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/TooManyFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/WrongNumberOfFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/macros.cpp
Labels: C++, depends on internal PR, no-change-note-required

#11168 Swift: extract `PostfixUnaryExpr`
  swift/extractor/translators/ExprTranslator.cpp
  swift/extractor/translators/ExprTranslator.h
  swift/ql/test/extractor-tests/generated/expr/PostfixUnaryExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/PostfixUnaryExpr/PostfixUnaryExpr.expected
  swift/ql/test/extractor-tests/generated/expr/PostfixUnaryExpr/PostfixUnaryExpr.ql
  swift/ql/test/extractor-tests/generated/expr/PostfixUnaryExpr/PostfixUnaryExpr_getArgument.expected
  swift/ql/test/extractor-tests/generated/expr/PostfixUnaryExpr/PostfixUnaryExpr_getArgument.ql
  swift/ql/test/extractor-tests/generated/expr/PostfixUnaryExpr/PostfixUnaryExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/PostfixUnaryExpr/PostfixUnaryExpr_getType.ql
  swift/ql/test/extractor-tests/generated/expr/PostfixUnaryExpr/postfix.swift
Labels: Swift

#11169 Swift: extract remaining `Stmt`s
  swift/extractor/translators/StmtTranslator.cpp
  swift/extractor/translators/StmtTranslator.h
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/stmt/PoundAssertStmt.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/generated/stmt/FailStmt/FailStmt.expected
  swift/ql/test/extractor-tests/generated/stmt/FailStmt/FailStmt.ql
  swift/ql/test/extractor-tests/generated/stmt/FailStmt/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/stmt/FailStmt/fail.swift
  swift/ql/test/extractor-tests/generated/stmt/PoundAssertStmt/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/stmt/PoundAssertStmt/PoundAssertStmt.expected
  swift/ql/test/extractor-tests/generated/stmt/PoundAssertStmt/PoundAssertStmt.ql
  swift/ql/test/extractor-tests/generated/stmt/PoundAssertStmt/static_assert.swift
  swift/ql/test/extractor-tests/generated/stmt/PoundAssertStmt/static_failing_assert.swift
  swift/schema.py
Labels: Swift

#10785 Java: Promote insufficient key size query from experimental
  java/ql/lib/semmle/code/java/security/Encryption.qll
  java/ql/lib/semmle/code/java/security/InsufficientKeySize.qll
  java/ql/lib/semmle/code/java/security/InsufficientKeySizeQuery.qll
  java/ql/src/Security/CWE/CWE-326/InsufficientKeySize.qhelp
  java/ql/src/Security/CWE/CWE-326/InsufficientKeySize.ql
  java/ql/src/Security/CWE/CWE-326/InsufficientKeySizeBad.java
  java/ql/src/change-notes/2022-10-19-insufficient-key-size.md
  java/ql/src/experimental/Security/CWE/CWE-326/InsufficientKeySize.java
  java/ql/src/experimental/Security/CWE/CWE-326/InsufficientKeySize.qhelp
  java/ql/src/experimental/Security/CWE/CWE-326/InsufficientKeySize.ql
  java/ql/test/experimental/query-tests/security/CWE-326/InsufficientKeySize.expected
  java/ql/test/experimental/query-tests/security/CWE-326/InsufficientKeySize.java
  java/ql/test/experimental/query-tests/security/CWE-326/InsufficientKeySize.qlref
  java/ql/test/query-tests/security/CWE-326/InsufficientKeySizeTest.expected
  java/ql/test/query-tests/security/CWE-326/InsufficientKeySizeTest.java
  java/ql/test/query-tests/security/CWE-326/InsufficientKeySizeTest.ql
  java/ql/test/query-tests/security/CWE-326/SignatureTest.java
Labels: documentation, Java, ready-for-doc-review

#11170 Ruby: handle knownOrUnkown in default taint step
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
Labels: no-change-note-required, Ruby

#11176 Swift: extract opaque types and their decls
  swift/extractor/translators/DeclTranslator.cpp
  swift/extractor/translators/DeclTranslator.h
  swift/extractor/translators/TypeTranslator.cpp
  swift/extractor/translators/TypeTranslator.h
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/decl/OpaqueTypeDecl.qll
  swift/ql/lib/codeql/swift/generated/type/OpaqueTypeArchetypeType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/TestUtils.qll
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl.expected
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl.ql
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getBaseType.expected
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getBaseType.ql
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getGenericTypeParam.expected
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getGenericTypeParam.ql
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getOpaqueGenericParam.expected
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getOpaqueGenericParam.ql
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/opaque_types.swift
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType.expected
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType.ql
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType_getProtocol.expected
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType_getProtocol.ql
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType_getSuperclass.expected
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType_getSuperclass.ql
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/opaque_types.swift
  swift/schema.py
Labels: Swift

#11095 JS: recognize more re-exported values as exported
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/sublib/other.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/sublib/sub.js
Labels: JS, no-change-note-required

#11181 Swift: add an internal query-suite for listing all the compiler errors
  swift/ql/lib/codeql/swift/elements/Diagnostics.qll
  swift/ql/src/diagnostics/internal/ExtractionErrors.ql
  swift/ql/test/extractor-tests/generated/Diagnostics/Diagnostics.expected
Labels: Swift

#11177 Swift: extract `PoundDiagnosticDecl` and `MissingMemberDecl`
  swift/extractor/infra/SwiftDiagnosticKind.h
  swift/extractor/invocation/SwiftDiagnosticsConsumer.cpp
  swift/extractor/translators/DeclTranslator.cpp
  swift/extractor/translators/DeclTranslator.h
  swift/ql/lib/codeql/swift/elements/decl/MissingMemberDecl.qll
  swift/ql/lib/codeql/swift/elements/decl/PoundDiagnosticDecl.qll
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/decl/MissingMemberDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/PoundDiagnosticDecl.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/generated/decl/MissingMemberDecl/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/decl/PoundDiagnosticDecl/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/decl/PoundDiagnosticDecl/PoundDiagnosticDecl.expected
  swift/ql/test/extractor-tests/generated/decl/PoundDiagnosticDecl/PoundDiagnosticDecl.ql
  swift/ql/test/extractor-tests/generated/decl/PoundDiagnosticDecl/diagnostics.swift
  swift/schema.py
Labels: Swift

#11024 Ruby: expand DataFlow API
  ruby/ql/lib/codeql/ruby/AST.qll
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/ast/Constant.qll
  ruby/ql/lib/codeql/ruby/ast/Module.qll
  ruby/ql/lib/codeql/ruby/dataflow/SSA.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/lib/codeql/ruby/frameworks/Railties.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeDeserializationCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/XSS.qll
  ruby/ql/src/experimental/weak-params/WeakParams.ql
  ruby/ql/src/queries/security/cwe-078/NonConstantKernelOpen.ql
  ruby/ql/test/library-tests/dataflow/array-flow/type-tracking-array-flow.expected
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/global/TypeTrackingInlineTest.expected
  ruby/ql/test/library-tests/dataflow/global/TypeTrackingInlineTest.ql
  ruby/ql/test/library-tests/dataflow/global/captured_variables.rb
  ruby/ql/test/library-tests/dataflow/helpers/dataflow.expected
  ruby/ql/test/library-tests/dataflow/helpers/dataflow.ql
  ruby/ql/test/library-tests/dataflow/helpers/tst.rb
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.ql
  ruby/ql/test/library-tests/frameworks/ActionController.expected
  ruby/ql/test/library-tests/frameworks/ActionController.ql
  ruby/ql/test/library-tests/frameworks/action_controller/params-flow.expected
  ruby/ql/test/library-tests/frameworks/action_controller/params_flow.rb
  ruby/ql/test/library-tests/frameworks/active_storage/active_storage.rb
  ruby/ql/test/library-tests/variables/ssa.expected
Labels: no-change-note-required, Ruby

#11182 Java/C#: Split active configurations for model generator
  csharp/ql/src/utils/model-generator/CaptureSinkModels.ql
  csharp/ql/src/utils/model-generator/CaptureSourceModels.ql
  csharp/ql/src/utils/model-generator/internal/CaptureModels.qll
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  csharp/ql/src/utils/model-generator/internal/CaptureSummaryFlow.qll
  java/ql/src/utils/model-generator/CaptureSinkModels.ql
  java/ql/src/utils/model-generator/CaptureSourceModels.ql
  java/ql/src/utils/model-generator/internal/CaptureModels.qll
  java/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/model-generator/internal/CaptureSummaryFlow.qll
Labels: C#, Java, no-change-note-required

#11073 Add documentation about the `codeQL.queryHistory.ttl` setting
  docs/codeql/codeql-for-visual-studio-code/customizing-settings.rst
Labels: documentation, ready-for-doc-review

#11193 Swift: avoid wrongly using `doc` instead of `desc` for properties
  swift/codegen/lib/schema/defs.py
  swift/codegen/test/test_schema.py
Labels: Swift

#11188 Java: Improve sink model generation precision by excluding variable capture.
  csharp/ql/src/utils/model-generator/internal/CaptureModels.qll
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/model-generator/internal/CaptureModels.qll
  java/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
Labels: C#, Java, no-change-note-required

#11166 Ruby: generalise summaries for ActiveSupport Hash extensions
  ruby/ql/lib/change-notes/2022-11-08-activesupport-hash-extensions.md
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash_flow.rb
  ruby/ql/test/library-tests/dataflow/hash-flow/type-tracking-hash-flow.expected
  ruby/ql/test/library-tests/frameworks/ActionController.expected
  ruby/ql/test/library-tests/frameworks/action_controller/params-flow.expected
  ruby/ql/test/library-tests/frameworks/action_controller/params_flow.rb
Labels: documentation, Ruby

#11197 C++: Simplify dataflow taint test query
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.ql
Labels: C++

#11184 C++: Re-introduce the `ast` annotations in the taint tests and related test infrastructure
  cpp/ql/test/TestUtilities/dataflow/FlowTestCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.ql
  cpp/ql/test/library-tests/dataflow/taint-tests/arrayassignment.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/bsd.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/constructor_delegation.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/copyableclass.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/copyableclass_declonly.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/map.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/movableclass.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/set.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/smart_pointer.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/standalone_iterators.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/string.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/stringstream.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/structlikeclass.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/swap1.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/swap2.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.ql
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++

#11053 Kotlin: Run java-interface-redeclares-tostring on all platforms
  java/ql/integration-tests/all-platforms/kotlin/java-interface-redeclares-tostring/Test.java
  java/ql/integration-tests/all-platforms/kotlin/java-interface-redeclares-tostring/test.expected
  java/ql/integration-tests/all-platforms/kotlin/java-interface-redeclares-tostring/test.py
  java/ql/integration-tests/all-platforms/kotlin/java-interface-redeclares-tostring/test.ql
  java/ql/integration-tests/all-platforms/kotlin/java-interface-redeclares-tostring/user.kt
Labels: Java

#11201 QL-for-QL: don't use the deprecated set-output feature in github-actions
  .github/workflows/ql-for-ql-build.yml
  .github/workflows/ql-for-ql-dataset_measure.yml
  .github/workflows/ql-for-ql-tests.yml
Labels: QL-for-QL

#11191 RB: add join(" ") calls as a sink for rb/shell-command-constructed-from-input
  ruby/ql/lib/codeql/ruby/security/UnsafeShellCommandConstructionCustomizations.qll
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/impl/unsafeShell.rb
Labels: no-change-note-required, Ruby

#11200 Java/Kotlin: Add ExtractorInformation query
  java/ql/src/Telemetry/ExtractorInformation.ql
Labels: Java, no-change-note-required

#11084 Swift: detect the use of static initialization vectors
  swift/ql/src/queries/Security/CWE-1204/StaticInitializationVector.qhelp
  swift/ql/src/queries/Security/CWE-1204/StaticInitializationVector.ql
  swift/ql/src/queries/Security/CWE-1204/StaticInitializationVector.swift
  swift/ql/test/query-tests/Security/CWE-1204/StaticInitializationVector.expected
  swift/ql/test/query-tests/Security/CWE-1204/StaticInitializationVector.qlref
  swift/ql/test/query-tests/Security/CWE-1204/test.swift
Labels: documentation, ready-for-doc-review, Swift

#11063 Swift: detect the use of constant passwords for password-based encryption
  swift/ql/src/queries/Security/CWE-259/ConstantPassword.qhelp
  swift/ql/src/queries/Security/CWE-259/ConstantPassword.ql
  swift/ql/src/queries/Security/CWE-259/ConstantPassword.swift
  swift/ql/test/query-tests/Security/CWE-259/ConstantPassword.expected
  swift/ql/test/query-tests/Security/CWE-259/ConstantPassword.qlref
  swift/ql/test/query-tests/Security/CWE-259/test.swift
Labels: documentation, ready-for-doc-review, Swift

#11209 Swift: drop impossible nodes from schema
  swift/extractor/infra/SwiftTagTraits.h
  swift/extractor/translators/ExprTranslator.cpp
  swift/extractor/translators/TranslatorBase.h
  swift/ql/lib/codeql/swift/elements.qll
  swift/ql/lib/codeql/swift/elements/expr/ArrowExprConstructor.qll
  swift/ql/lib/codeql/swift/elements/expr/CodeCompletionExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/CodeCompletionExprConstructor.qll
  swift/ql/lib/codeql/swift/elements/expr/EditorPlaceholderExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/EditorPlaceholderExprConstructor.qll
  swift/ql/lib/codeql/swift/elements/expr/PackExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/PackExprConstructor.qll
  swift/ql/lib/codeql/swift/elements/expr/ReifyPackExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/ReifyPackExprConstructor.qll
  swift/ql/lib/codeql/swift/elements/type/PackExpansionType.qll
  swift/ql/lib/codeql/swift/elements/type/PackExpansionTypeConstructor.qll
  swift/ql/lib/codeql/swift/elements/type/PackType.qll
  swift/ql/lib/codeql/swift/elements/type/PackTypeConstructor.qll
  swift/ql/lib/codeql/swift/elements/type/PlaceholderType.qll
  swift/ql/lib/codeql/swift/elements/type/PlaceholderTypeConstructor.qll
  swift/ql/lib/codeql/swift/elements/type/SilBlockStorageType.qll
  swift/ql/lib/codeql/swift/elements/type/SilBlockStorageTypeConstructor.qll
  swift/ql/lib/codeql/swift/elements/type/SilBoxType.qll
  swift/ql/lib/codeql/swift/elements/type/SilBoxTypeConstructor.qll
  swift/ql/lib/codeql/swift/elements/type/SilFunctionType.qll
  swift/ql/lib/codeql/swift/elements/type/SilFunctionTypeConstructor.qll
  swift/ql/lib/codeql/swift/elements/type/SilTokenType.qll
  swift/ql/lib/codeql/swift/elements/type/SilTokenTypeConstructor.qll
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/Synth.qll
  swift/ql/lib/codeql/swift/generated/SynthConstructors.qll
  swift/ql/lib/codeql/swift/generated/expr/ArrowExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/CodeCompletionExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/EditorPlaceholderExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/PackExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/ReifyPackExpr.qll
  swift/ql/lib/codeql/swift/generated/type/PackExpansionType.qll
  swift/ql/lib/codeql/swift/generated/type/PackType.qll
  swift/ql/lib/codeql/swift/generated/type/PlaceholderType.qll
  swift/ql/lib/codeql/swift/generated/type/SilBlockStorageType.qll
  swift/ql/lib/codeql/swift/generated/type/SilBoxType.qll
  swift/ql/lib/codeql/swift/generated/type/SilFunctionType.qll
  swift/ql/lib/codeql/swift/generated/type/SilTokenType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/generated/expr/ArrowExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/CodeCompletionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/EditorPlaceholderExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/PackExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/PackExpansionType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/PackType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/PlaceholderType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/SilBlockStorageType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/SilBoxType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/SilFunctionType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/SilTokenType/MISSING_SOURCE.txt
  swift/schema.py
Labels: Swift

#11202 C++: Fix the `accept` prototype in the dataflow taint tests
  cpp/ql/test/library-tests/dataflow/taint-tests/bsd.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Labels: C++

#11178 JS/RB/PY: Recognize `passcode` as sensitive
  javascript/ql/lib/semmle/javascript/security/internal/SensitiveDataHeuristics.qll
  javascript/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  javascript/ql/test/query-tests/Security/CWE-312/passwords.js
  python/ql/lib/semmle/python/security/internal/SensitiveDataHeuristics.qll
  ruby/ql/lib/codeql/ruby/security/internal/SensitiveDataHeuristics.qll
Labels: JS, Python, no-change-note-required, Ruby

#11211 Swift: fix printing of unextracted entities
  swift/extractor/print_unextracted/main.cpp
  swift/extractor/translators/TranslatorBase.h
Labels: Swift

#11214 CI: remove langauge specific format checks
  .github/workflows/compile-queries.yml
  .github/workflows/js-ml-tests.yml
  .github/workflows/ruby-qltest.yml
  .github/workflows/swift.yml
Labels: JS, Ruby, Swift

#11083 C#: Telemetry query updates.
  csharp/ql/lib/semmle/code/csharp/Type.qll
  csharp/ql/src/Telemetry/ExternalApi.qll
  csharp/ql/src/Telemetry/ExternalLibraryUsage.ql
  csharp/ql/src/meta/frameworks/UnsupportedExternalAPIs.ql
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/ExternalLibraryUsage.expected
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/SupportedExternalTaint.expected
  csharp/ql/test/query-tests/Telemetry/SupportedExternalSinks/SupportedExternalSinks.expected
  csharp/ql/test/query-tests/Telemetry/SupportedExternalSources/SupportedExternalSources.expected
Labels: C#, no-change-note-required

#11212 C++: Improve handling of `std::string::insert` with iterator return type and do some cleanup
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdString.qll
Labels: C++, no-change-note-required

#11187 Ruby: add ActionCable channel RPC params as remote flow sources
  ruby/ql/lib/change-notes/2022-11-09-actioncable-channels.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionCable.qll
  ruby/ql/test/library-tests/frameworks/action_cable/ActionCable.expected
  ruby/ql/test/library-tests/frameworks/action_cable/ActionCable.ql
  ruby/ql/test/library-tests/frameworks/action_cable/action_cable.rb
Labels: documentation, Ruby

#11231 Swift: fix synthesized wrapper decls
  swift/codegen/generators/qlgen.py
  swift/extractor/translators/DeclTranslator.cpp
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/decl/ParamDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/VarDecl.qll
  swift/ql/lib/codeql/swift/generated/expr/TapExpr.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/src/queries/ide-contextual-queries/printAst.ql
  swift/ql/test/TestUtils.qll
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getAccessorDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getAttachedPropertyWrapperType.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getParentInitializer.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getParentPattern.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getPropertyWrapperBackingVar.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getPropertyWrapperBackingVar.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getPropertyWrapperBackingVarBinding.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getPropertyWrapperBackingVarBinding.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getPropertyWrapperProjectionVar.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getPropertyWrapperProjectionVar.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getPropertyWrapperProjectionVarBinding.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getPropertyWrapperProjectionVarBinding.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/var_decls.swift
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getAttachedPropertyWrapperType.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperBackingVar.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperBackingVar.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperBackingVarBinding.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperBackingVarBinding.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperLocalWrappedVar.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperLocalWrappedVar.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperLocalWrappedVarBinding.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperLocalWrappedVarBinding.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperProjectionVar.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperProjectionVar.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperProjectionVarBinding.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getPropertyWrapperProjectionVarBinding.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/param_decls.swift
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/schema.py
Labels: Swift

#11213 Swift: extract or ignore last remaining types
  swift/extractor/infra/SwiftTagTraits.h
  swift/extractor/translators/TypeTranslator.cpp
  swift/extractor/translators/TypeTranslator.h
  swift/ql/lib/codeql/swift/elements.qll
  swift/ql/lib/codeql/swift/elements/type/SequenceArchetypeType.qll
  swift/ql/lib/codeql/swift/elements/type/SequenceArchetypeTypeConstructor.qll
  swift/ql/lib/codeql/swift/elements/type/TypeVariableType.qll
  swift/ql/lib/codeql/swift/elements/type/TypeVariableTypeConstructor.qll
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/Synth.qll
  swift/ql/lib/codeql/swift/generated/SynthConstructors.qll
  swift/ql/lib/codeql/swift/generated/type/ParameterizedProtocolType.qll
  swift/ql/lib/codeql/swift/generated/type/SequenceArchetypeType.qll
  swift/ql/lib/codeql/swift/generated/type/TypeVariableType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/TestUtils.qll
  swift/ql/test/extractor-tests/generated/type/ParameterizedProtocolType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/ParameterizedProtocolType/ParameterizedProtocolType.expected
  swift/ql/test/extractor-tests/generated/type/ParameterizedProtocolType/ParameterizedProtocolType.ql
  swift/ql/test/extractor-tests/generated/type/ParameterizedProtocolType/ParameterizedProtocolType_getArg.expected
  swift/ql/test/extractor-tests/generated/type/ParameterizedProtocolType/ParameterizedProtocolType_getArg.ql
  swift/ql/test/extractor-tests/generated/type/ParameterizedProtocolType/parametrized_protocol_type.swift
  swift/ql/test/extractor-tests/generated/type/SequenceArchetypeType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/TypeVariableType/MISSING_SOURCE.txt
  swift/schema.py
Labels: Swift

#11160 DataFlow: Add read/store stepIsLocal consistency checks
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplConsistency.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplConsistency.qll
  python/ql/test/experimental/dataflow/basic/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/calls/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/coverage/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/fieldflow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/global-flow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/match/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/pep_328/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/regression/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/strange-essaflow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/basic/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/commonSanitizer/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/unwanted-global-flow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/typetracking/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.expected
  python/ql/test/library-tests/ApiGraphs/py3/dataflow-consistency.expected
  python/ql/test/library-tests/frameworks/django-orm/dataflow-consistency.expected
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplConsistency.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplConsistency.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby, Swift, DataFlow Library

#9827 QL: Query for detecting unused parameter in override methods
  ql/ql/src/codeql_ql/performance/VarUnusedInDisjunctQuery.qll
  ql/ql/src/queries/performance/VarUnusedInDisjunct.ql
  ql/ql/src/queries/style/OverrideAny.ql
Labels: QL-for-QL

#11233 JS: Bump version numbers of ML-powered packs after 0.4.1 release
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: ATM

#11111 Swift: Content flow through tuples
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Labels: no-change-note-required, Swift

#11196 Swift: create common `ErrorElement` superclass and tests
  swift/ql/lib/codeql/swift/elements.qll
  swift/ql/lib/codeql/swift/elements/ErrorElement.qll
  swift/ql/lib/codeql/swift/elements/UnresolvedElement.qll
  swift/ql/lib/codeql/swift/elements/UnspecifiedElement.qll
  swift/ql/lib/codeql/swift/generated/ErrorElement.qll
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/Synth.qll
  swift/ql/lib/codeql/swift/generated/UnspecifiedElement.qll
  swift/ql/lib/codeql/swift/generated/expr/ErrorExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OverloadedDeclRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/UnresolvedDeclRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/UnresolvedDotExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/UnresolvedMemberChainResultExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/UnresolvedMemberExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/UnresolvedPatternExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/UnresolvedSpecializeExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/UnresolvedTypeConversionExpr.qll
  swift/ql/lib/codeql/swift/generated/type/ErrorType.qll
  swift/ql/lib/codeql/swift/generated/type/UnresolvedType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/errors/Errors.expected
  swift/ql/test/extractor-tests/errors/Errors.ql
  swift/ql/test/extractor-tests/errors/UnspecifiedElementParents.expected
  swift/ql/test/extractor-tests/errors/UnspecifiedElementParents.ql
  swift/ql/test/extractor-tests/errors/overloaded.swift
  swift/ql/test/extractor-tests/errors/unresolved.swift
  swift/ql/test/extractor-tests/errors/unspecified.swift
  swift/ql/test/extractor-tests/generated/UnresolvedElement/UnresolvedElement.expected
  swift/ql/test/extractor-tests/generated/UnresolvedElement/UnresolvedElement.ql
  swift/ql/test/extractor-tests/generated/UnspecifiedElement/UnspecifiedElement.expected
  swift/ql/test/extractor-tests/generated/UnspecifiedElement/UnspecifiedElement.ql
  swift/ql/test/extractor-tests/generated/UnspecifiedElement/UnspecifiedElement_getIndex.expected
  swift/ql/test/extractor-tests/generated/UnspecifiedElement/UnspecifiedElement_getIndex.ql
  swift/ql/test/extractor-tests/generated/UnspecifiedElement/UnspecifiedElement_getParent.expected
  swift/ql/test/extractor-tests/generated/UnspecifiedElement/UnspecifiedElement_getParent.ql
  swift/ql/test/extractor-tests/generated/decl/IfConfigDecl/IfConfigDecl_getClause.expected
  swift/ql/test/extractor-tests/generated/decl/ModuleDecl/ModuleDecl_getDefaultImportedModule.expected
  swift/ql/test/extractor-tests/generated/expr/BridgeToObjCExpr/bridge_to_objc.swift
  swift/ql/test/extractor-tests/generated/expr/BridgeToObjCExpr/objc.h
  swift/ql/test/extractor-tests/generated/expr/OverloadedDeclRefExpr/OverloadedDeclRefExpr.expected
  swift/ql/test/extractor-tests/generated/expr/OverloadedDeclRefExpr/OverloadedDeclRefExpr.ql
  swift/ql/test/extractor-tests/generated/expr/OverloadedDeclRefExpr/OverloadedDeclRefExpr_getPossibleDeclaration.expected
  swift/ql/test/extractor-tests/generated/expr/OverloadedDeclRefExpr/OverloadedDeclRefExpr_getPossibleDeclaration.ql
  swift/ql/test/extractor-tests/generated/expr/OverloadedDeclRefExpr/OverloadedDeclRefExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/OverloadedDeclRefExpr/OverloadedDeclRefExpr_getType.ql
  swift/ql/test/extractor-tests/generated/type/ErrorType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/NestedArchetypeType.expected
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/NestedArchetypeType_getProtocol.expected
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/NestedArchetypeType_getSuperclass.expected
  swift/ql/test/extractor-tests/generated/type/NestedArchetypeType/nested_archetypes.swift
  swift/ql/test/library-tests/ast/Missing.ql
  swift/ql/test/library-tests/ast/Missing.qlref
  swift/schema.py
Labels: Swift

#11234 C++: Recognize `basic_string::iterator` as an iterator
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdString.qll
Labels: C++, no-change-note-required

#11205 Swift: db up/downgrade scripts
  .github/workflows/swift.yml
  swift/actions/database-upgrade-scripts/action.yml
  swift/downgrades/initial/swift.dbscheme
  swift/downgrades/qlpack.yml
  swift/ql/lib/upgrades/initial/swift.dbscheme
Labels: Swift

#11061 ReDoS: add a shared regex pack
  config/identical-files.json
  shared/regex/change-notes/2022-09-26-initial-version.md
  shared/regex/codeql-pack.lock.yml
  shared/regex/codeql/regex/OverlyLargeRangeQuery.qll
  shared/regex/codeql/regex/RegexTreeView.qll
  shared/regex/codeql/regex/nfa/BadTagFilterQuery.qll
  shared/regex/codeql/regex/nfa/ExponentialBackTracking.qll
  shared/regex/codeql/regex/nfa/NfaUtils.qll
  shared/regex/codeql/regex/nfa/RegexpMatching.qll
  shared/regex/codeql/regex/nfa/SuperlinearBackTracking.qll
  shared/regex/qlpack.yml
Labels: JS, documentation, Java, Python, Ruby

#11207 Ruby: add `SqlConstruction` concept, and implement it for calls to `Arel.sql`
  python/ql/lib/semmle/python/Concepts.qll
  ruby/ql/lib/change-notes/2022-11-10-arel-sql.md
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/frameworks/Arel.qll
  ruby/ql/lib/codeql/ruby/security/SqlInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/SqlInjectionQuery.qll
  ruby/ql/src/change-notes/2022-11-10-arel-sql.md
  ruby/ql/src/queries/security/cwe-089/SqlInjection.ql
  ruby/ql/test/library-tests/frameworks/arel/SqlConstruction.expected
  ruby/ql/test/library-tests/frameworks/arel/SqlConstruction.ql
  ruby/ql/test/query-tests/security/cwe-089/ArelInjection.rb
  ruby/ql/test/query-tests/security/cwe-089/SqlInjection.expected
Labels: documentation, Python, Ruby

#11086 Swift: Add new query for XML External Entities (XML) vulnerabilities
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Data.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/InputStream.qll
  swift/ql/lib/codeql/swift/security/XXE.qll
  swift/ql/lib/codeql/swift/security/XXEQuery.qll
  swift/ql/src/queries/Security/CWE-611/XXE.qhelp
  swift/ql/src/queries/Security/CWE-611/XXE.ql
  swift/ql/src/queries/Security/CWE-611/XXEBad.swift
  swift/ql/src/queries/Security/CWE-611/XXEGood.swift
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
  swift/ql/test/query-tests/Security/CWE-611/XXETest.expected
  swift/ql/test/query-tests/Security/CWE-611/XXETest.ql
  swift/ql/test/query-tests/Security/CWE-611/testXXE.swift
Labels: documentation, ready-for-doc-review, Swift

#11080 Revert "Revert "SSA: Turn consistency predicates into `query` predicates""
  csharp/ql/consistency-queries/SsaConsistency.ql
  ruby/ql/consistency-queries/SsaConsistency.ql
  shared/ssa/codeql/ssa/Ssa.qll
Labels: C#, Ruby

#11249 Java/Kotlin: Add compilation info to telemetry
  java/ql/src/Telemetry/ExtractorInformation.ql
Labels: Java, no-change-note-required

#11232 Go: Optimize trap.Writer by buffering gzip writes
  go/extractor/trap/labels.go
  go/extractor/trap/trapwriter.go
Labels: Go

#11120 Swift: Adds XMLDocument sinks to the XXE query
  swift/ql/lib/codeql/swift/security/XXE.qll
  swift/ql/test/query-tests/Security/CWE-611/testXMLDocumentXXE.swift
  swift/ql/test/query-tests/Security/CWE-611/testXMLParserXXE.swift
Labels: Swift

#11251 Kotlin: Add total number of diagnostics to telemetry
  java/kotlin-extractor/src/main/kotlin/utils/Logger.kt
  java/ql/src/Telemetry/ExtractorInformation.ql
Labels: Java, no-change-note-required, Kotlin

#11174 Non-sink endpoint characteristics
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/ATMConfig.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointCharacteristics.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointTypes.qll
Labels: ATM

#11247 Python: use the shared regex pack
  python/ql/lib/change-notes/2022-10-31-shared-redos-pack.md
  python/ql/lib/qlpack.yml
  python/ql/lib/semmle/python/RegexTreeView.qll
  python/ql/lib/semmle/python/security/BadTagFilterQuery.qll
  python/ql/lib/semmle/python/security/OverlyLargeRangeQuery.qll
  python/ql/lib/semmle/python/security/dataflow/PolynomialReDoSCustomizations.qll
  python/ql/lib/semmle/python/security/regexp/ExponentialBackTracking.qll
  python/ql/lib/semmle/python/security/regexp/NfaUtils.qll
  python/ql/lib/semmle/python/security/regexp/NfaUtilsSpecific.qll
  python/ql/lib/semmle/python/security/regexp/RegexpMatching.qll
  python/ql/lib/semmle/python/security/regexp/SuperlinearBackTracking.qll
  python/ql/src/Security/CWE-020/OverlyLargeRange.ql
  python/ql/src/Security/CWE-116/BadTagFilter.ql
  python/ql/src/Security/CWE-730/PolynomialReDoS.ql
  python/ql/src/Security/CWE-730/ReDoS.ql
  python/ql/test/query-tests/Security/CWE-730-PolynomialReDoS/PolynomialBackTracking.expected
  python/ql/test/query-tests/Security/CWE-730-PolynomialReDoS/PolynomialBackTracking.ql
  python/ql/test/query-tests/Security/CWE-730-PolynomialReDoS/PolynomialReDoS.expected
  python/ql/test/query-tests/Security/CWE-730-ReDoS/ReDoS.expected
  shared/regex/codeql/regex/nfa/NfaUtils.qll
Labels: documentation, Python

#11252 Ruby: add flow summary for Enumerable#index_by
  ruby/ql/lib/change-notes/2022-11-14-activesupport-enumerable-index-by.md
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupportDataFlow.expected
  ruby/ql/test/library-tests/frameworks/active_support/hash_extensions.rb
Labels: documentation, Ruby

#11257 C++: Reduce path duplication
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/Security/CWE/CWE-311/CleartextTransmission.ql
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
Labels: C++, no-change-note-required

#11267 ATM: remove superfluous class in EndpointCharacteristics hierarchy
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointCharacteristics.qll
Labels: ATM

#11255 JS: Handle DynamicImport in the context of a type
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/TypeExprKinds.java
  javascript/extractor/tests/ts/input/dynamic-type.ts
  javascript/extractor/tests/ts/output/trap/dynamic-type.ts.trap
  javascript/ql/src/change-notes/2022-11-14-dynamic-import-type-expr.md
Labels: JS, documentation

#11271 C++: Reintroduce the AST testing configuration for the smart pointer test too
  cpp/ql/test/library-tests/dataflow/smart-pointers-taint/taint.ql
  cpp/ql/test/library-tests/dataflow/smart-pointers-taint/test.cpp
Labels: C++

#11203 C#: update cs/assembly-path-injection cs/hardcoded-key to path-problems
  csharp/ql/src/Security Features/CWE-114/AssemblyPathInjection.ql
  csharp/ql/src/Security Features/CWE-321/HardcodedEncryptionKey.ql
  csharp/ql/test/query-tests/Security Features/CWE-114/AssemblyPathInjection/AssemblyPathInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-321/HardcodedSymmetricEncryptionKey/HardcodedSymmetricEncryptionKey.expected
Labels: C#, no-change-note-required

#11138 Swift: Add AEXML sinks to XXE query
  swift/ql/lib/codeql/swift/frameworks/AEXML.qll
  swift/ql/lib/codeql/swift/security/XXE.qll
  swift/ql/test/query-tests/Security/CWE-611/testAEXMLDocumentXXE.swift
Labels: Swift

#11273 Swift: Add `AdditionalTaintStep`
  swift/ql/lib/codeql/swift/dataflow/FlowSteps.qll
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPrivate.qll
Labels: Swift

#11278 C++: Fix typo in dataflow test comment
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dispatch.cpp
Labels: C++

#11175 JS: extract .erb files as html
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/vue/input/rails.html.erb
  javascript/extractor/tests/vue/output/trap/rails.html.erb.trap
Labels: JS

#11274 Swift: remove double newlines in schema
  .pre-commit-config.yaml
  swift/integration-tests/posix-only/cross-references/test.py
  swift/integration-tests/posix-only/frontend-invocations/test.py
  swift/integration-tests/posix-only/hello-world/test.py
  swift/integration-tests/posix-only/partial-modules/test.py
  swift/integration-tests/runner.py
  swift/schema.py
Labels: Swift

#11277 Swift: remove IPA classes from `cppgen`
  swift/codegen/generators/cppgen.py
  swift/codegen/test/test_cppgen.py
Labels: Swift

#11279 Add more information about ATM queries for external users
  javascript/ql/experimental/adaptivethreatmodeling/README.md
Labels: documentation, ATM

#11263 ATM: Extract training data
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointCharacteristics.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/DebugResultInclusion.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointData.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointData.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointDataTraining.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointDataTraining.qll
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/ExtractEndpointData.qlref
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointData.qlref
Labels: ATM

#11269 Java: Stub generator: Exclude invalid identifiers from generated stubs
  java/ql/src/utils/stub-generator/Stubs.qll
Labels: Java, no-change-note-required

#10855 Ruby: taint-steps for printf calls - and add a `AdditionalTaintStep` class
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/dataflow/FlowSteps.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/lib/codeql/ruby/frameworks/StringFormatters.qll
  ruby/ql/lib/codeql/ruby/security/TaintedFormatStringSpecific.qll
  ruby/ql/test/library-tests/dataflow/string-flow/string-flow.expected
  ruby/ql/test/query-tests/security/cwe-079/StoredXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/app/views/foo/stores/show.html.erb
  ruby/ql/test/query-tests/security/cwe-134/TaintedFormatString.expected
  ruby/ql/test/query-tests/security/cwe-134/tainted_format_string.rb
Labels: no-change-note-required, Ruby

#11183 Dataflow: Introduce support for src/sink grouping in path results.
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForHttpClientLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForPathname.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForRegExp.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby, Swift, DataFlow Library

#11286 Kotlin: Exclude .kt files from resource leak queries
  java/ql/src/Likely Bugs/Resource Leaks/CloseReader.ql
  java/ql/src/Likely Bugs/Resource Leaks/CloseSql.ql
  java/ql/src/Likely Bugs/Resource Leaks/CloseWriter.ql
  java/ql/test/kotlin/query-tests/CloseReader/CloseReader.expected
  java/ql/test/kotlin/query-tests/CloseReader/CloseReader.kt
  java/ql/test/kotlin/query-tests/CloseReader/CloseReader.qlref
  java/ql/test/kotlin/query-tests/CloseWriter/CloseWriter.expected
  java/ql/test/kotlin/query-tests/CloseWriter/CloseWriter.kt
  java/ql/test/kotlin/query-tests/CloseWriter/CloseWriter.qlref
Labels: Java, no-change-note-required, Kotlin

#11284 Kotlin: Exclude .kt files from `java/complex-boolean-expression`
  java/ql/src/Violations of Best Practice/Boolean Logic/SimplifyBoolExpr.ql
  java/ql/test/kotlin/query-tests/SimplifyBoolExpr/SimplifyBoolExpr.expected
  java/ql/test/kotlin/query-tests/SimplifyBoolExpr/SimplifyBoolExpr.kt
  java/ql/test/kotlin/query-tests/SimplifyBoolExpr/SimplifyBoolExpr.qlref
Labels: Java, no-change-note-required, Kotlin

#11290 Kotlin: Exclude .kt files from autoboxing query
  java/ql/src/Violations of Best Practice/legacy/AutoBoxing.ql
  java/ql/test/kotlin/query-tests/AutoBoxing/AutoBoxing.expected
  java/ql/test/kotlin/query-tests/AutoBoxing/AutoBoxing.qlref
  java/ql/test/kotlin/query-tests/AutoBoxing/Test.kt
Labels: Java, no-change-note-required, Kotlin

#11198 SSA: Expose phi-read nodes
  csharp/ql/consistency-queries/SsaConsistency.ql
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/test/library-tests/dataflow/ssa/SSAPhiRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SSAPhiRead.ql
  csharp/ql/test/library-tests/dataflow/ssa/Test.cs
  ruby/ql/consistency-queries/SsaConsistency.ql
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/Nodes.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/dataflow/local/local_dataflow.rb
  ruby/ql/test/library-tests/variables/parameter.expected
  ruby/ql/test/library-tests/variables/ssa.expected
  ruby/ql/test/library-tests/variables/ssa.ql
  ruby/ql/test/library-tests/variables/ssa.rb
  ruby/ql/test/library-tests/variables/varaccess.expected
  ruby/ql/test/library-tests/variables/variable.expected
  ruby/ql/test/library-tests/variables/varscopes.expected
  shared/ssa/codeql/ssa/Ssa.qll
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
Labels: C#, no-change-note-required, Ruby, Swift

#11218 C++: Remove some `IndirectOperand` and `IndirectInstruction` nodes
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-359/semmle/tests/PrivateCleartextWrite.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/test_diff.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/BarrierGuard.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/SAMATE/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
Labels: C++, no-change-note-required

#11299 Kotlin: Exclude .kt files from serializable inner class query
  java/ql/src/Likely Bugs/Serialization/NonSerializableInnerClass.ql
  java/ql/test/kotlin/query-tests/NonSerializableInnerClass/NonSerializableInnerClass.expected
  java/ql/test/kotlin/query-tests/NonSerializableInnerClass/NonSerializableInnerClass.qlref
  java/ql/test/kotlin/query-tests/NonSerializableInnerClass/NonSerializableInnerClassTest.kt
Labels: Java, no-change-note-required, Kotlin
