Repository github/codeql, pull requests merged in 2022-02, with the labels that each got.

#7687 python: Rewrite path injection query to use flow state
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/security/dataflow/ChainedConfigs12.qll
  python/ql/lib/semmle/python/security/dataflow/PathInjection.qll
  python/ql/src/Security/CWE-022/PathInjection.ql
  python/ql/src/experimental/Security/CWE-943/NoSQLInjection.ql
  python/ql/src/experimental/semmle/python/security/injection/NoSQLInjection.qll
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
Labels: Python, no-change-note-required

#7795 Ruby/C#: add semmle.order attribute to edges in CFG tests
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImplShared.qll
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplShared.qll
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
Labels: C#, Ruby

#7787 C/C++ : Useless test
  cpp/ql/src/experimental/Best Practices/UselessTest.cpp
  cpp/ql/src/experimental/Best Practices/UselessTest.qhelp
  cpp/ql/src/experimental/Best Practices/UselessTest.ql
Labels: C++, documentation

#7773 JS: add a js/file-system-race query
  javascript/ql/src/Security/CWE-367/FileSystemRace.qhelp
  javascript/ql/src/Security/CWE-367/FileSystemRace.ql
  javascript/ql/src/Security/CWE-367/examples/file-race-bad.js
  javascript/ql/src/Security/CWE-367/examples/file-race-good.js
  javascript/ql/src/change-notes/2022-01-27-file-system-race.md
  javascript/ql/test/query-tests/Security/CWE-367/FileSystemRace.expected
  javascript/ql/test/query-tests/Security/CWE-367/FileSystemRace.qlref
  javascript/ql/test/query-tests/Security/CWE-367/tst.js
Labels: JS, documentation, ready-for-doc-review

#7799 Ruby: use ruby specific cache key
  .github/workflows/ql-for-ql-dataset_measure.yml
  .github/workflows/ql-for-ql-tests.yml
  .github/workflows/ruby-build.yml
  ruby/actions/create-extractor-pack/action.yml
Labels: Ruby

#7666 Ruby: Add File.open as a FileSystemAccess
  ruby/ql/lib/codeql/ruby/frameworks/Files.qll
  ruby/ql/test/library-tests/frameworks/files/Files.expected
  ruby/ql/test/library-tests/frameworks/files/Files.ql
  ruby/ql/test/library-tests/frameworks/files/Files.rb
Labels: Ruby

#7800 JS: Add model building pack for ML-powered queries
  .codeqlmanifest.json
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/DebugResultInclusion.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/EndToEndEvaluation.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/EndpointScoresIntegrationTest.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/ModelCheck.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/NosqlInjection.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/NosqlInjectionATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/NosqlInjectionATMLite.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/SqlInjection.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/SqlInjectionATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/SqlInjectionATMLite.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/TaintedPath.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/TaintedPathATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/TaintedPathATMLite.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/Xss.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/XssATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/evaluation/XssATMLite.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/CountAlertsAndEndpoints.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/CountSourcesAndSinks.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/Exclusions.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointData.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointData.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointDataEvaluation.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointDataTraining.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointLabelEncoding.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractMisclassifiedEndpointFeatures.ql
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/Labels.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/NoFeaturizationRestrictionsConfig.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/Queries.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/qlpack.yml
Labels: JS

#7268 Java: Produce diffs for model generator changes
  .github/workflows/mad_modelDiff.yml
Labels: Java

#7781 Data flow: Reduce non-linear recursion in `SummaryComponentStack::bottom`
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, Ruby

#7788 python: remove library annotation to clean up QL warnings.
  python/ql/lib/semmle/python/AstExtended.qll
  python/ql/lib/semmle/python/AstGenerated.qll
Labels: Python

#7802 C++: Recognize password struct fields.
  cpp/ql/src/Security/CWE/CWE-311/CleartextTransmission.ql
  cpp/ql/src/change-notes/2022-01-22-cleartext-transmission.md
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test3.cpp
Labels: C++, documentation

#6492 Java: Create new query Cleartext storage of sensitive information in Android databases
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/Thrift.qll
  java/ql/lib/semmle/code/java/frameworks/android/Android.qll
  java/ql/lib/semmle/code/java/frameworks/android/ContentProviders.qll
  java/ql/lib/semmle/code/java/frameworks/android/SQLite.qll
  java/ql/lib/semmle/code/java/frameworks/android/Widget.qll
  java/ql/lib/semmle/code/java/frameworks/struts/StrutsAnnotations.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageAndroidDatabaseQuery.qll
  java/ql/lib/semmle/code/java/security/SensitiveActions.qll
  java/ql/src/Security/CWE/CWE-312/CleartextStorageAndroidDatabase.java
  java/ql/src/Security/CWE/CWE-312/CleartextStorageAndroidDatabase.qhelp
  java/ql/src/Security/CWE/CWE-312/CleartextStorageAndroidDatabase.ql
  java/ql/src/change-notes/2021-08-17-cleartext-storage-database-query.md
  java/ql/test/query-tests/security/CWE-312/CleartextStorageAndroidDatabaseTest.expected
  java/ql/test/query-tests/security/CWE-312/CleartextStorageAndroidDatabaseTest.java
  java/ql/test/query-tests/security/CWE-312/CleartextStorageAndroidDatabaseTest.ql
  java/ql/test/stubs/google-android-9.0.0/android/annotation/IntRange.java
  java/ql/test/stubs/google-android-9.0.0/android/database/DatabaseUtils.java
  java/ql/test/stubs/google-android-9.0.0/android/database/SQLException.java
  java/ql/test/stubs/google-android-9.0.0/android/database/sqlite/SQLiteException.java
  java/ql/test/stubs/google-android-9.0.0/android/database/sqlite/SQLiteQueryBuilder.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/WebResourceResponse.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/WebSettings.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/WebView.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/WebViewClient.java
Labels: documentation, Java, ready-for-doc-review

#7814 Ruby: fix all QL-QL alerts
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/tutorial.qll
  cpp/ql/test/TestUtilities/InlineExpectationsTest.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImplShared.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/tutorial.qll
  csharp/ql/test/TestUtilities/InlineExpectationsTest.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/tutorial.qll
  java/ql/test/TestUtilities/InlineExpectationsTest.qll
  javascript/ql/lib/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/lib/tutorial.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  python/ql/lib/semmle/python/security/performance/ReDoSUtil.qll
  python/ql/lib/tutorial.qll
  python/ql/test/TestUtilities/InlineExpectationsTest.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Variable.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplShared.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/frameworks/StandardLibrary.qll
  ruby/ql/lib/codeql/ruby/security/ServerSideRequestForgeryCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/performance/ReDoSUtil.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
  ruby/ql/lib/tutorial.qll
  ruby/ql/test/TestUtilities/InlineExpectationsTest.qll
Labels: C#, JS, C++, Java, Python, Ruby

#7791 Data flow: Inline `local(Expr|Instruction)?(Flow|Taint)`
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPublic.qll
  docs/ql-libraries/dataflow/dataflow.md
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowUtil.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPublic.qll
Labels: C#, C++, documentation, Java, Python, Ruby

#7811 Python: refactor API-graph labels to an IPA type
  python/ql/lib/semmle/python/ApiGraphs.qll
Labels: Python

#7825 Python: adjust downgrade script location and format
  python/downgrades/503c0516fba2e5da9570f00eb34ef43025ecb8fb/old.dbscheme
  python/downgrades/503c0516fba2e5da9570f00eb34ef43025ecb8fb/py_exprs.ql
  python/downgrades/503c0516fba2e5da9570f00eb34ef43025ecb8fb/py_stmts.ql
  python/downgrades/503c0516fba2e5da9570f00eb34ef43025ecb8fb/semmlecode.python.dbscheme
  python/downgrades/503c0516fba2e5da9570f00eb34ef43025ecb8fb/upgrade.properties
  python/downgrades/initial/semmlecode.python.dbscheme
  python/downgrades/qlpack.yml
Labels: Python

#7836 C++: Fix more FPs in cpp/cleartext-transmission
  cpp/ql/src/Security/CWE/CWE-311/CleartextTransmission.ql
  cpp/ql/src/change-notes/2022-02-22-cleartext-transmission.md
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test3.cpp
Labels: C++, documentation

#7797 Ruby: Pin Rust to 1.54
  .github/workflows/ruby-build.yml
  ruby/actions/create-extractor-pack/action.yml
  ruby/rust-toolchain.toml
Labels: Ruby

#7663 Ruby: Add basic subclassing support to API Graphs
  cpp/ql/test/TestUtilities/InlineExpectationsTest.qll
  csharp/ql/test/TestUtilities/InlineExpectationsTest.qll
  java/ql/test/TestUtilities/InlineExpectationsTest.qll
  python/ql/test/TestUtilities/InlineExpectationsTest.qll
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/test/TestUtilities/InlineExpectationsTest.qll
  ruby/ql/test/library-tests/dataflow/api-graphs/ApiGraphs.expected
  ruby/ql/test/library-tests/dataflow/api-graphs/ApiGraphs.ql
  ruby/ql/test/library-tests/dataflow/api-graphs/test1.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/use.ql
  ruby/ql/test/library-tests/frameworks/ActiveRecordInjection.rb
Labels: C#, C++, Java, Python, Ruby

#7830 C++: Fix re-evaluation in `cpp/return-stack-allocated-memory`
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
Labels: C++, no-change-note-required

#7817 Document and format event-stream-orig.js
  javascript/ql/test/query-tests/Security/CWE-506/HardcodedDataInterpretedAsCode.expected
  javascript/ql/test/query-tests/Security/CWE-506/event-stream-orig.js
Labels: JS

#7839 C++: fix IR generation for constructor base inits when no constructor is present.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#7831 Python: Remove `RegExpTerm` from PrintAST
  python/ql/lib/semmle/python/PrintAst.qll
  python/ql/src/change-notes/2021-01-19-remove-regexp-from-printast.md
Labels: documentation, Python

#7767 Java: Regenerate framework models automatically
  .github/workflows/mad_regenerate-models.yml
  java/ql/src/utils/model-generator/RegenerateModels.py
Labels: Java, no-change-note-required

#7838 Python: Fix performance issue in `charSet`
  python/ql/lib/semmle/python/regex.qll
Labels: Python, no-change-note-required

#7785 Restrict AST nodes according to string length
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/FunctionBodyFeatures.qll
Labels: JS

#7843 JS: add file sources from `jszip` to `js/zip-slip`
  javascript/ql/lib/change-notes/2022-02-04-jszip
  javascript/ql/lib/semmle/javascript/security/dataflow/ZipSlipCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlip.expected
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlipBad.js
Labels: JS, Awaiting evaluation

#7828 JS: Adding model for `.get` function of `Map` in Unvalidated Dynamic Method Call
  javascript/ql/lib/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCallQuery.qll
  javascript/ql/src/Security/CWE-754/examples/UnvalidatedDynamicMethodCallGood.js
  javascript/ql/test/query-tests/Security/CWE-754/UnvalidatedDynamicMethodCall.expected
  javascript/ql/test/query-tests/Security/CWE-754/UnvalidatedDynamicMethodCall2.js
  javascript/ql/test/query-tests/Security/CWE-754/UnvalidatedDynamicMethodCall3.js
  javascript/ql/test/query-tests/Security/CWE-754/UnvalidatedDynamicMethodCallGood.js
  javascript/ql/test/query-tests/Security/CWE-754/UnvalidatedDynamicMethodCallGood3.js
  javascript/ql/test/query-tests/Security/CWE-754/UnvalidatedDynamicMethodCallGood4.js
Labels: JS

#7798 C++: Add query for missing mode argument in `open`/`openat` calls
  cpp/ql/lib/change-notes/2022-02-02-detect-creat-in-openat.md
  cpp/ql/lib/change-notes/2022-02-02-detect-missing-mode-argument-for-open.md
  cpp/ql/lib/semmle/code/cpp/commons/unix/Constants.qll
  cpp/ql/src/Security/CWE/CWE-732/DoNotCreateWorldWritable.ql
  cpp/ql/src/Security/CWE/CWE-732/FilePermissions.qll
  cpp/ql/src/Security/CWE/CWE-732/OpenCallMissingModeArgument.c
  cpp/ql/src/Security/CWE/CWE-732/OpenCallMissingModeArgument.qhelp
  cpp/ql/src/Security/CWE/CWE-732/OpenCallMissingModeArgument.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-732/OpenCallMissingModeArgument.c
  cpp/ql/test/query-tests/Security/CWE/CWE-732/OpenCallMissingModeArgument.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-732/OpenCallMissingModeArgument.qlref
Labels: C++, documentation

#7849 C/C++: Useless Test : verification of "Fully converted" Type
  cpp/ql/src/experimental/Best Practices/UselessTest.ql
Labels: C++

#7809 C#: Add flow test cases for undetected value flow, when making variable bindings in pattern matching.
  csharp/ql/test/library-tests/dataflow/patterns/PatternFlow.expected
  csharp/ql/test/library-tests/dataflow/patterns/PatternFlow.ql
  csharp/ql/test/library-tests/dataflow/patterns/Patterns.cs
Labels: C#

#7870 JS: recognize a nodejs re-exports in a loop
  javascript/ql/lib/semmle/javascript/NodeJS.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/isImported.js
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: JS, no-change-note-required

#7880 QL for QL: sync changes from Ruby
  ql/extractor/src/extractor.rs
  ql/generator/src/main.rs
  ql/generator/src/ql.rs
  ql/generator/src/ql_gen.rs
  ql/node-types/src/lib.rs
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ql/ql/src/ql.dbscheme
  ql/ql/src/ql.dbscheme.stats
Labels: QL-for-QL

#7417 Java: Start running telemetry queries on Code Scanning
  java/ql/src/Telemetry/ExternalLibraryUsage.ql
  java/ql/src/Telemetry/SupportedExternalSinks.ql
  java/ql/src/Telemetry/SupportedExternalSources.ql
  java/ql/src/Telemetry/SupportedExternalTaint.ql
  java/ql/src/Telemetry/UnsupportedExternalAPIs.ql
Labels: Java, no-change-note-required

#7872 Collect framework coverage on demand
  .github/workflows/csv-coverage-metrics.yml
  java/ql/src/Metrics/Summaries/FrameworkCoverage.ql
  misc/suite-helpers/code-scanning-selectors.yml
  misc/suite-helpers/lgtm-selectors.yml
  misc/suite-helpers/security-and-quality-selectors.yml
  misc/suite-helpers/security-extended-selectors.yml
Labels: Java, no-change-note-required

#7876 JS: recognize more startswith sanitizers for path-injection queries
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlip.expected
  javascript/ql/test/query-tests/Security/CWE-022/ZipSlip/ZipSlipBad.js
Labels: JS, no-change-note-required

#7879 Docs: Note codeql-go needs an install step before use
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
Labels: documentation

#7090 Ruby: Cache more predicates
  ruby/ql/lib/codeql/ruby/ast/Erb.qll
  ruby/ql/lib/codeql/ruby/controlflow/BasicBlocks.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
Labels: Ruby

#7824 Ruby: Model calls to `constantize` as code executions
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/test/library-tests/frameworks/ActiveSupport.expected
  ruby/ql/test/library-tests/frameworks/ActiveSupport.ql
  ruby/ql/test/library-tests/frameworks/active_support.rb
Labels: Ruby

#7881 CPP: Fix performance for cpp/cleartext-transmission
  cpp/ql/src/Security/CWE/CWE-311/CleartextTransmission.ql
Labels: C++, no-change-note-required

#7846 C# 10: Tuple deconstruction.
  csharp/ql/test/library-tests/csharp10/Tuples.cs
  csharp/ql/test/library-tests/csharp10/tuples.expected
  csharp/ql/test/library-tests/csharp10/tuples.ql
  csharp/ql/test/library-tests/dataflow/patterns/Patterns.cs
  csharp/ql/test/library-tests/dataflow/tuples/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/tuples/PrintAst.expected
  csharp/ql/test/library-tests/dataflow/tuples/Tuples.cs
  csharp/ql/test/library-tests/dataflow/tuples/Tuples.expected
  csharp/ql/test/library-tests/dataflow/tuples/Tuples.ql
Labels: C#

#7842 Misc: Streamline `consistency-queries/qlpack.yml`
  .codeqlmanifest.json
  csharp/ql/consistency-queries/qlpack.yml
  python/ql/consistency-queries/qlpack.yml
  ql/ql/consistency-queries/qlpack.yml
  ruby/ql/consistency-queries/qlpack.yml
Labels: C#, Python, Ruby, QL-for-QL

#7891 Ruby: Hide more SSA nodes from data-flow path explanations
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
Labels: Ruby

#7061 Ruby: Rails route resolution
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionDispatch.qll
  ruby/ql/lib/codeql/ruby/security/UrlRedirectCustomizations.qll
  ruby/ql/test/library-tests/frameworks/ActionController.expected
  ruby/ql/test/library-tests/frameworks/ActionDispatch.expected
  ruby/ql/test/library-tests/frameworks/ActionDispatch.ql
  ruby/ql/test/library-tests/frameworks/app/config/routes.rb
  ruby/ql/test/library-tests/frameworks/app/controllers/comments_controller.rb
  ruby/ql/test/library-tests/frameworks/app/controllers/photos_controller.rb
  ruby/ql/test/library-tests/frameworks/app/controllers/posts_controller.rb
  ruby/ql/test/library-tests/frameworks/app/controllers/users/notifications_controller.rb
  ruby/ql/test/query-tests/security/cwe-601/UrlRedirect.expected
  ruby/ql/test/query-tests/security/cwe-601/UrlRedirect.rb
Labels: Ruby

#7911 JS: add a getFlowLabel method to the PathNode class
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS

#7841 C++: Update C++ variable hiding test
  cpp/ql/test/query-tests/Best Practices/Hiding/DeclarationHidesVariable/DeclarationHidesVariable.expected
  cpp/ql/test/query-tests/Best Practices/Hiding/DeclarationHidesVariable/hiding.cpp
Labels: C++, depends on internal PR

#5841 JS: Add query for unsafe construction of code from library input
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeCodeConstruction.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeCodeConstructionCustomizations.qll
  javascript/ql/src/Security/CWE-094/UnsafeCodeConstruction.qhelp
  javascript/ql/src/Security/CWE-094/UnsafeCodeConstruction.ql
  javascript/ql/src/Security/CWE-094/examples/UnsafeCodeConstruction.js
  javascript/ql/src/Security/CWE-094/examples/UnsafeCodeConstructionSafe.js
  javascript/ql/src/change-notes/2022-02-04-unsafe-code-construction.md
  javascript/ql/test/library-tests/frameworks/Templating/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/UnsafeCodeConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/UnsafeCodeConstruction.qlref
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/express.js
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/lib/index.js
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/lib/package.json
Labels: JS, documentation, ready-for-doc-review

#7591 JS: Recognize "sql" option as a query string in MySQL
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
  javascript/ql/test/library-tests/frameworks/SQL/SqlString.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mysql.js
Labels: JS, Awaiting evaluation, JS:changes-sources-or-sinks

#7885 Fix and improve Extractor options documentation formatting
  docs/codeql/codeql-cli/extractor-options.rst
Labels: documentation, ready-for-doc-review

#7940 Javascript: move change note
  javascript/ql/src/change-notes/2022-01-08-insecure-dependency-resolution.md
Labels: JS, documentation

#7926 C#: Use Brotli instead of Gzip
  csharp/extractor/Semmle.Extraction/Options.cs
Labels: C#

#7921 JS: add model for the snapdragon library
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/frameworks/Snapdragon.qll
  javascript/ql/src/change-notes/2022-02-10-snapdragon.md
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Performance/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Performance/ReDoS/lib/lib.js
  javascript/ql/test/query-tests/Performance/ReDoS/lib/snapdragon.js
Labels: JS, documentation

#7892 JS: Add a `isNaN` sanitizer, and use it in queries that already had a typeof check
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/security/TaintedObject.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutingAssignmentQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeJQueryPluginQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCallCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCallQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/XssThroughDomQuery.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/lib.js
Labels: JS

#2513 C#: Remove FPs from `cs/dereferenced-value-may-be-null`
  csharp/ql/lib/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/EqualityCheck.expected
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#

#7912 JS: convert more type-trackers to API-graphs
  javascript/ql/lib/semmle/javascript/frameworks/Cheerio.qll
  javascript/ql/lib/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/lib/semmle/javascript/frameworks/Electron.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/SocketIO.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/test/library-tests/frameworks/Cheerio/Cheerio.expected
Labels: JS

#7969 Docs: remove mention of 'filter queries'
  docs/codeql/writing-codeql-queries/metadata-for-codeql-queries.rst
Labels: documentation

#7874 Python: Fix setStoreStep to use `SetElementContent`
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/coverage/dataflow.expected
Labels: Python

#7930 RB: convert the ruby ApiGraphs to use IPA labels
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/test/library-tests/dataflow/api-graphs/use.ql
Labels: no-change-note-required, Ruby

#7979 C#: fix misspellings of 'csharp'
  csharp/ql/campaigns/Solorigate/test/qlpack.yml
  csharp/ql/lib/CHANGELOG.md
  csharp/ql/lib/change-notes/released/0.0.8.md
Labels: C#, documentation

#8012 QL: allow raw db types in upgrade/downgrade scripts
  ql/ql/src/queries/style/DBTypeInNonLib.ql
Labels: QL-for-QL

#8011 Revert "Merge pull request #7982 from jketema/remove-legacy-relations"
  cpp/downgrades/7455933b9d8832b7c385cfca8cf43bddc25b6d0f/old.dbscheme
  cpp/downgrades/7455933b9d8832b7c385cfca8cf43bddc25b6d0f/semmlecode.cpp.dbscheme
  cpp/downgrades/7455933b9d8832b7c385cfca8cf43bddc25b6d0f/upgrade.properties
  cpp/ql/lib/change-notes/2022-02-11-external-artifact.md
  cpp/ql/lib/external/ExternalArtifact.qll
  cpp/ql/lib/semmlecode.cpp.dbscheme
  cpp/ql/lib/semmlecode.cpp.dbscheme.stats
  cpp/ql/lib/upgrades/018f430097e80bcf4b2786c989dae94b7d82b819/old.dbscheme
  cpp/ql/lib/upgrades/018f430097e80bcf4b2786c989dae94b7d82b819/semmlecode.cpp.dbscheme
  cpp/ql/lib/upgrades/018f430097e80bcf4b2786c989dae94b7d82b819/upgrade.properties
  cpp/ql/src/change-notes/2022-02-11-code-duplication.md
  cpp/ql/src/external/CodeDuplication.qll
Labels: C++, documentation

#6443 Java: An experimental query for ignored hostname verification
  java/ql/src/experimental/Security/CWE/CWE-297/CheckedHostnameVerification.java
  java/ql/src/experimental/Security/CWE/CWE-297/IgnoredHostnameVerification.java
  java/ql/src/experimental/Security/CWE/CWE-297/IgnoredHostnameVerification.qhelp
  java/ql/src/experimental/Security/CWE/CWE-297/IgnoredHostnameVerification.ql
  java/ql/test/experimental/query-tests/security/CWE-297/IgnoredHostnameVerification.expected
  java/ql/test/experimental/query-tests/security/CWE-297/IgnoredHostnameVerification.java
  java/ql/test/experimental/query-tests/security/CWE-297/IgnoredHostnameVerification.qlref
Labels: documentation, Java

#4388 Java: CWE-200: Temp directory local information disclosure vulnerability
  java/ql/lib/semmle/code/java/StringFormat.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/ejb/EJBRestrictions.qll
  java/ql/lib/semmle/code/java/security/FileWritable.qll
  java/ql/src/Security/CWE/CWE-200/TempDirLocalInformationDisclosure.qhelp
  java/ql/src/Security/CWE/CWE-200/TempDirLocalInformationDisclosure.ql
  java/ql/src/Security/CWE/CWE-200/TempDirUsageSafe.java
  java/ql/src/Security/CWE/CWE-200/TempDirUsageVulnerable.java
  java/ql/src/Security/CWE/CWE-200/TempDirUtils.qll
  java/ql/src/change-notes/2022-02-04-local-temp-file-or-directory-information-disclosure.md
  java/ql/test/query-tests/security/CWE-200/semmle/tests/Files.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure.qlref
  java/ql/test/query-tests/security/CWE-200/semmle/tests/Test.java
Labels: documentation, Java, ready-for-doc-review

#7783 Python: promote LDAP injection query
  docs/codeql/support/reusables/frameworks.rst
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Ldap.qll
  python/ql/lib/semmle/python/frameworks/Ldap3.qll
  python/ql/lib/semmle/python/security/dataflow/LdapInjection.qll
  python/ql/lib/semmle/python/security/dataflow/LdapInjectionCustomizations.qll
  python/ql/src/Security/CWE-090/LdapInjection.qhelp
  python/ql/src/Security/CWE-090/LdapInjection.ql
  python/ql/src/Security/CWE-090/examples/example_bad1.py
  python/ql/src/Security/CWE-090/examples/example_bad2.py
  python/ql/src/Security/CWE-090/examples/example_good1.py
  python/ql/src/Security/CWE-090/examples/example_good2.py
  python/ql/src/change-notes/2022-02-28-promote-ldap-injection.md
  python/ql/src/experimental/Security/CWE-090/LDAPInjection.ql
  python/ql/src/experimental/semmle/python/security/injection/LDAP.qll
  python/ql/test/experimental/query-tests/Security/CWE-090/LDAPInjection.qlref
  python/ql/test/query-tests/Security/CWE-090-LdapInjection/LdapInjection.expected
  python/ql/test/query-tests/Security/CWE-090-LdapInjection/LdapInjection.qlref
  python/ql/test/query-tests/Security/CWE-090-LdapInjection/ldap3_bad.py
  python/ql/test/query-tests/Security/CWE-090-LdapInjection/ldap3_good.py
  python/ql/test/query-tests/Security/CWE-090-LdapInjection/ldap_bad.py
  python/ql/test/query-tests/Security/CWE-090-LdapInjection/ldap_good.py
Labels: documentation, Python

#7823 Java: Add HTTP Request Splitting to Netty Query
  java/ql/src/Security/CWE/CWE-113/NettyRequestSplitting.java
  java/ql/src/Security/CWE/CWE-113/NettyResponseSplitting.ql
  java/ql/src/Security/CWE/CWE-113/ResponseSplitting.qhelp
  java/ql/src/change-notes/2021-01-02-netty-response-splitting-improve.md
Labels: documentation, Java, ready-for-doc-review

#8035 C#: Downgrade hardcoded credentials queries to medium precision
  csharp/ql/src/Security Features/CWE-798/HardcodedConnectionString.ql
  csharp/ql/src/Security Features/CWE-798/HardcodedCredentials.ql
  csharp/ql/src/change-notes/2022-02-15-hardcoded-credentials-downgrade.md
Labels: C#, documentation

#7988 Java: Add predicates for sealed classes
  java/ql/lib/change-notes/2022-02-14-sealed-classes-predicates.md
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/test/library-tests/types/local-classes/Test.java
  java/ql/test/library-tests/types/local-classes/test.expected
  java/ql/test/library-tests/types/local-classes/test.ql
  java/ql/test/library-tests/types/numeric-types/A.java
  java/ql/test/library-tests/types/numeric-types/FloatingPointTypes.expected
  java/ql/test/library-tests/types/numeric-types/FloatingPointTypes.ql
  java/ql/test/library-tests/types/numeric-types/IntegralTypes.expected
  java/ql/test/library-tests/types/numeric-types/IntegralTypes.ql
  java/ql/test/library-tests/types/numeric-types/NumericTypes.expected
  java/ql/test/library-tests/types/numeric-types/NumericTypes.ql
  java/ql/test/library-tests/types/record-classes/MyFinalRecord.java
  java/ql/test/library-tests/types/record-classes/MyRecord.java
  java/ql/test/library-tests/types/record-classes/RecordClasses.expected
  java/ql/test/library-tests/types/record-classes/RecordClasses.ql
  java/ql/test/library-tests/types/record-classes/Test.java
  java/ql/test/library-tests/types/record-classes/options
  java/ql/test/library-tests/types/sealed-classes/SealedClasses.expected
  java/ql/test/library-tests/types/sealed-classes/SealedClasses.java
  java/ql/test/library-tests/types/sealed-classes/SealedClasses.ql
  java/ql/test/library-tests/types/sealed-classes/options
Labels: documentation, Java

#7712 Java: CWE-073 File path injection with the JFinal framework
  java/ql/src/experimental/Security/CWE/CWE-073/FilePathInjection.java
  java/ql/src/experimental/Security/CWE/CWE-073/FilePathInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-073/FilePathInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-073/JFinalController.qll
  java/ql/src/experimental/semmle/code/java/PathSanitizer.qll
  java/ql/test/experimental/query-tests/security/CWE-073/FilePathInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-073/FilePathInjection.java
  java/ql/test/experimental/query-tests/security/CWE-073/FilePathInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-073/options
  java/ql/test/stubs/jfinal-4.9.15/com/jfinal/core/Controller.java
  java/ql/test/stubs/jfinal-4.9.15/com/jfinal/kit/Kv.java
  java/ql/test/stubs/jfinal-4.9.15/com/jfinal/upload/UploadFile.java
Labels: documentation, Java

#8052 Spelling: Use "descendant" rather than "descendent" for consistency
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowVar.qll
  docs/codeql/ql-language-reference/formulas.rst
Labels: C++, documentation, no-change-note-required

#7886 Ruby: split standard library models into multiple files
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/ast/Call.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionView.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveStorage.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/frameworks/Files.qll
  ruby/ql/lib/codeql/ruby/frameworks/StandardLibrary.qll
  ruby/ql/lib/codeql/ruby/frameworks/Stdlib.qll
  ruby/ql/lib/codeql/ruby/frameworks/XmlParsing.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/BasicObject.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Module.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Object.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/README.md
  ruby/ql/lib/codeql/ruby/frameworks/core/Regexp.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/HttpClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Logger.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Open3.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/README.md
  ruby/ql/src/queries/security/cwe-078/KernelOpen.ql
  ruby/ql/test/library-tests/frameworks/ActiveSupport.ql
  ruby/ql/test/library-tests/frameworks/Core.expected
  ruby/ql/test/library-tests/frameworks/Core.ql
  ruby/ql/test/library-tests/frameworks/Eval.rb
  ruby/ql/test/library-tests/frameworks/StandardLibrary.expected
  ruby/ql/test/library-tests/frameworks/StandardLibrary.ql
  ruby/ql/test/library-tests/frameworks/Stdlib.rb
  ruby/ql/test/library-tests/frameworks/core/BasicObject.expected
  ruby/ql/test/library-tests/frameworks/core/BasicObject.ql
  ruby/ql/test/library-tests/frameworks/core/BasicObject.rb
  ruby/ql/test/library-tests/frameworks/core/Kernel.expected
  ruby/ql/test/library-tests/frameworks/core/Kernel.ql
  ruby/ql/test/library-tests/frameworks/core/Kernel.rb
  ruby/ql/test/library-tests/frameworks/core/Module.expected
  ruby/ql/test/library-tests/frameworks/core/Module.ql
  ruby/ql/test/library-tests/frameworks/core/Module.rb
  ruby/ql/test/library-tests/frameworks/stdlib/Logger.expected
  ruby/ql/test/library-tests/frameworks/stdlib/Logger.ql
  ruby/ql/test/library-tests/frameworks/stdlib/Logging.rb
  ruby/ql/test/library-tests/frameworks/stdlib/Open3.expected
  ruby/ql/test/library-tests/frameworks/stdlib/Open3.ql
  ruby/ql/test/library-tests/frameworks/stdlib/Open3.rb
Labels: documentation, no-change-note-required, Ruby

#7984 JS: fix most ql-for-ql warnings
  javascript/ql/examples/queries/dataflow/BackendIdor/BackendIdor.ql
  javascript/ql/examples/queries/dataflow/InformationDisclosure/InformationDisclosure.ql
  javascript/ql/examples/queries/dataflow/StoredXss/StoredXss.ql
  javascript/ql/examples/queries/dataflow/StoredXss/StoredXssTypeTracking.ql
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/BaseScoring.qll
  javascript/ql/lib/semmle/javascript/DefensiveProgramming.qll
  javascript/ql/lib/semmle/javascript/Routing.qll
  javascript/ql/lib/semmle/javascript/TypeScript.qll
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/dataflow/TypeInference.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/VariableTypeInference.qll
  javascript/ql/lib/semmle/javascript/frameworks/AngularJS/DependencyInjections.qll
  javascript/ql/lib/semmle/javascript/frameworks/AngularJS/ServiceDefinitions.qll
  javascript/ql/lib/semmle/javascript/frameworks/Cheerio.qll
  javascript/ql/lib/semmle/javascript/frameworks/Redux.qll
  javascript/ql/lib/semmle/javascript/frameworks/SocketIO.qll
  javascript/ql/lib/semmle/javascript/security/TaintedObject.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/MissingRateLimiting.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutingAssignmentCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeCodeConstructionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeDynamicMethodAccessCustomizations.qll
  javascript/ql/src/AngularJS/DeadAngularJSEventListener.ql
  javascript/ql/src/AngularJS/IncompatibleService.ql
  javascript/ql/src/Comments/CommentedOut.qll
  javascript/ql/src/Declarations/SuspiciousMethodNameDeclaration.ql
  javascript/ql/src/experimental/Security/CWE-918/SSRF.qll
Labels: JS, no-change-note-required

#8043 JS: Sharpen hardcoded credentials
  javascript/ql/lib/semmle/javascript/security/SensitiveActions.qll
  javascript/ql/src/Security/CWE-798/HardcodedCredentials.ql
  javascript/ql/test/library-tests/SensitiveActions/tests.expected
  javascript/ql/test/library-tests/SensitiveActions/tests.ql
  javascript/ql/test/query-tests/Security/CWE-313/PasswordInConfigurationFile.expected
  javascript/ql/test/query-tests/Security/CWE-313/mysql-config.json
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.js
Labels: JS, no-change-note-required

#7713 Ruby: Add `rb/clear-text-logging-sensitive-data` query
  config/identical-files.json
  ruby/ql/lib/codeql/ruby/security/CleartextLoggingCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/CleartextLoggingQuery.qll
  ruby/ql/lib/codeql/ruby/security/internal/SensitiveDataHeuristics.qll
  ruby/ql/src/change-notes/2022-01-28-rb-clear-text-logging-sensitive-data.md
  ruby/ql/src/queries/security/cwe-312/CleartextLogging.qhelp
  ruby/ql/src/queries/security/cwe-312/CleartextLogging.ql
  ruby/ql/src/queries/security/cwe-312/examples/CleartextLoggingBad.rb
  ruby/ql/src/queries/security/cwe-312/examples/CleartextLoggingGood.rb
  ruby/ql/test/query-tests/security/cwe-312/CleartextLogging.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextLogging.qlref
  ruby/ql/test/query-tests/security/cwe-312/logging.rb
Labels: documentation, Ruby

#8138 Ruby: Implement `FileSystemWriteAccess` concept
  ruby/ql/lib/change-notes/2022-02-20-file-system-write-access.md
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/frameworks/Files.qll
  ruby/ql/test/library-tests/frameworks/files/Files.expected
  ruby/ql/test/library-tests/frameworks/files/Files.ql
  ruby/ql/test/library-tests/frameworks/files/Files.rb
Labels: documentation, Ruby

#8148 Update counting query to match end-to-end results
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/CountAlertsAndEndpoints.ql
Labels: JS

#8153 JS: Add CWE tags for ML-powered queries
  javascript/ql/experimental/adaptivethreatmodeling/src/NosqlInjectionATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/SqlInjectionATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/TaintedPathATM.ql
  javascript/ql/experimental/adaptivethreatmodeling/src/XssATM.ql
Labels: JS

#8151 JS: Separate the ML model for ML-powered queries into its own pack
  .github/workflows/js-ml-tests.yml
  javascript/ql/experimental/adaptivethreatmodeling/model/.gitignore
  javascript/ql/experimental/adaptivethreatmodeling/model/codeql-pack.lock.yml
  javascript/ql/experimental/adaptivethreatmodeling/model/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/codeql-pack.lock.yml
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/codeql-pack.lock.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/test/codeql-pack.lock.yml
Labels: JS

#8162 Docs: Add note about muslc incompatibility
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
Labels: documentation

#8169 C++/C#: Fix spelling of 'postDominanceFrontier'
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRBlock.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRBlock.qll
Labels: C#, C++, no-change-note-required

#8170 C++: Fix Spelling Typos.
  cpp/ql/test/query-tests/Security/CWE/CWE-428/UnsafeCreateProcessCall.cpp
Labels: C++

#8143 QL: add ql-for-ql query for detecting bad predicate qldoc
  javascript/ql/examples/queries/dataflow/StoredXss/StoredXssTypeTracking.ql
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/FunctionBodyFeatures.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractMisclassifiedEndpointFeatures.ql
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/JsonSchema.qll
  javascript/ql/lib/semmle/javascript/SSA.qll
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/lib/semmle/javascript/dependencies/Dependencies.qll
  javascript/ql/lib/semmle/javascript/frameworks/Bundling.qll
  javascript/ql/lib/semmle/javascript/frameworks/Cheerio.qll
  javascript/ql/lib/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/lib/semmle/javascript/frameworks/CookieLibraries.qll
  javascript/ql/lib/semmle/javascript/frameworks/Immutable.qll
  javascript/ql/lib/semmle/javascript/frameworks/LdapJS.qll
  javascript/ql/lib/semmle/javascript/frameworks/Markdown.qll
  javascript/ql/lib/semmle/javascript/frameworks/Micro.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/Puppeteer.qll
  javascript/ql/lib/semmle/javascript/frameworks/Redux.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/Vue.qll
  javascript/ql/lib/semmle/javascript/frameworks/Vuex.qll
  javascript/ql/lib/semmle/javascript/frameworks/XmlParsers.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutingAssignmentCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/XssThroughDomCustomizations.qll
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
  javascript/ql/src/Security/CWE-730/ServerCrash.ql
  javascript/ql/src/printAst.ql
  ql/ql/src/queries/style/docs/PredicateDocs.ql
Labels: JS, no-change-note-required, QL-for-QL

#8168 JS: model hapi handler returns as reflected-xss sinks
  javascript/ql/lib/semmle/javascript/frameworks/Hapi.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.js
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXssWithCustomSanitizer.expected
Labels: JS, no-change-note-required

#8174 C++: Simplify `cpp/declaration-hides-variable`
  cpp/ql/src/Best Practices/Hiding/DeclarationHidesVariable.ql
Labels: C++, no-change-note-required

#8171 update ATM NosqlInjection and SqlInjection query docs
  javascript/ql/experimental/adaptivethreatmodeling/src/NosqlInjectionATM.md
  javascript/ql/experimental/adaptivethreatmodeling/src/SqlInjectionATM.md
Labels: JS, documentation, ready-for-doc-review

#8055 CWE-552: Switch to the shared PathSanitizer library
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.ql
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.qll
Labels: Java

#8014 JS: Functionality from untrusted sources query (CWE-830)
  javascript/ql/lib/semmle/javascript/HTML.qll
  javascript/ql/src/Security/CWE-830/FunctionalityFromUntrustedSource.qhelp
  javascript/ql/src/Security/CWE-830/FunctionalityFromUntrustedSource.ql
  javascript/ql/src/Security/CWE-830/jquery-http-nocheck.html
  javascript/ql/src/Security/CWE-830/jquery-https-check.html
  javascript/ql/src/change-notes/2022-02-14-functionality-from-untrusted-source.md
  javascript/ql/test/query-tests/Security/CWE-830/DynamicCreationOfUntrustedSourceUse.html
  javascript/ql/test/query-tests/Security/CWE-830/FunctionalityFromUntrustedSource.expected
  javascript/ql/test/query-tests/Security/CWE-830/FunctionalityFromUntrustedSource.qlref
  javascript/ql/test/query-tests/Security/CWE-830/StaticCreationOfUntrustedSourceUse.html
Labels: JS, documentation, ready-for-doc-review

#8186 JS: Minor fixup in the client-side request forgery qhelp
  javascript/ql/src/Security/CWE-918/ClientSideRequestForgery.qhelp
Labels: JS, documentation, no-change-note-required

#8150 JS: preparation for sharing MaD library based on API graphs
  javascript/ql/lib/semmle/javascript/frameworks/data/ModelsAsData.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
Labels: JS, no-change-note-required

#7452 Python: Add Python_JWT to JWT security query
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/libraries/Python_JWT.qll
  python/ql/test/experimental/query-tests/Security/CWE-347/JWTMissingSecretOrPublicKeyVerification.expected
  python/ql/test/experimental/query-tests/Security/CWE-347/python_jwt.py
Labels: Python

#7735 Python: promote log injection
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/security/dataflow/LogInjection.qll
  python/ql/lib/semmle/python/security/dataflow/LogInjectionCustomizations.qll
  python/ql/src/Security/CWE-117/LogInjection.qhelp
  python/ql/src/Security/CWE-117/LogInjection.ql
  python/ql/src/Security/CWE-117/LogInjectionBad.py
  python/ql/src/Security/CWE-117/LogInjectionGood.py
  python/ql/src/change-notes/2022-02-25-promote-log-injection.md
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/frameworks/Log.qll
  python/ql/src/experimental/semmle/python/security/injection/LogInjection.qll
  python/ql/test/experimental/query-tests/Security/CWE-117/LogInjection.qlref
  python/ql/test/query-tests/Security/CWE-117-LogInjection/LogInjection.expected
  python/ql/test/query-tests/Security/CWE-117-LogInjection/LogInjection.qlref
  python/ql/test/query-tests/Security/CWE-117-LogInjection/LogInjectionBad.py
  python/ql/test/query-tests/Security/CWE-117-LogInjection/LogInjectionGood.py
Labels: documentation, Python

#8209 C++: Add IR structured binding tests
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#5935 Java : Add SSTI query
  java/ql/src/experimental/Security/CWE/CWE-094/SSTIBad.java
  java/ql/src/experimental/Security/CWE/CWE-094/SSTIGood.java
  java/ql/src/experimental/Security/CWE/CWE-094/TemplateInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-094/TemplateInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-094/TemplateInjection.qll
  java/ql/src/experimental/semmle/code/java/frameworks/FreeMarker.qll
  java/ql/src/experimental/semmle/code/java/frameworks/JinJava.qll
  java/ql/src/experimental/semmle/code/java/frameworks/Pebble.qll
  java/ql/src/experimental/semmle/code/java/frameworks/Thymeleaf.qll
  java/ql/src/experimental/semmle/code/java/frameworks/Velocity.qll
  java/ql/test/experimental/query-tests/security/CWE-094/FreemarkerSSTI.java
  java/ql/test/experimental/query-tests/security/CWE-094/JinJavaSSTI.java
  java/ql/test/experimental/query-tests/security/CWE-094/PebbleSSTI.java
  java/ql/test/experimental/query-tests/security/CWE-094/TemplateInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/TemplateInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-094/ThymeleafSSTI.java
  java/ql/test/experimental/query-tests/security/CWE-094/VelocitySSTI.java
  java/ql/test/experimental/query-tests/security/CWE-094/options
  java/ql/test/experimental/stubs/apache-freemarker-2.3.31/freemarker/cache/StringTemplateLoader.java
  java/ql/test/experimental/stubs/apache-freemarker-2.3.31/freemarker/template/Configuration.java
  java/ql/test/experimental/stubs/apache-freemarker-2.3.31/freemarker/template/ObjectWrapper.java
  java/ql/test/experimental/stubs/apache-freemarker-2.3.31/freemarker/template/ParserConfiguration.java
  java/ql/test/experimental/stubs/apache-freemarker-2.3.31/freemarker/template/Template.java
  java/ql/test/experimental/stubs/apache-freemarker-2.3.31/freemarker/template/TemplateNodeModel.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/Template.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/VelocityContext.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/VelocityEngine.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/app/Velocity.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/app/VelocityEngine.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/context/AbstractContext.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/context/Context.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/runtime/RuntimeServices.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/runtime/RuntimeSingleton.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/runtime/parser/node/SimpleNode.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/runtime/resource/util/StringResourceRepository.java
  java/ql/test/experimental/stubs/apache-velocity-2.3/org/apache/velocity/runtime/resource/util/StringResourceRepositoryImpl.java
  java/ql/test/experimental/stubs/jinjava-2.6.0/com/hubspot/jinjava/Jinjava.java
  java/ql/test/experimental/stubs/jinjava-2.6.0/com/hubspot/jinjava/JinjavaConfig.java
  java/ql/test/experimental/stubs/jinjava-2.6.0/com/hubspot/jinjava/interpret/RenderResult.java
  java/ql/test/experimental/stubs/pebble-3.1.5/com/mitchellbosecke/pebble/PebbleEngine.java
  java/ql/test/experimental/stubs/pebble-3.1.5/com/mitchellbosecke/pebble/template/PebbleTemplate.java
  java/ql/test/experimental/stubs/thymeleaf-3.0.14/org/thymeleaf/ITemplateEngine.java
  java/ql/test/experimental/stubs/thymeleaf-3.0.14/org/thymeleaf/IThrottledTemplateProcessor.java
  java/ql/test/experimental/stubs/thymeleaf-3.0.14/org/thymeleaf/TemplateEngine.java
  java/ql/test/experimental/stubs/thymeleaf-3.0.14/org/thymeleaf/TemplateSpec.java
  java/ql/test/experimental/stubs/thymeleaf-3.0.14/org/thymeleaf/context/Context.java
  java/ql/test/experimental/stubs/thymeleaf-3.0.14/org/thymeleaf/context/IContext.java
Labels: documentation, Java

#8185 JS: recognize modules imported by AMD imports as library inputs
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib/amd.js
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib/amdSub.js
  javascript/ql/test/query-tests/Security/CWE-078/lib/subLib/index.js
Labels: JS, no-change-note-required

#8216 Fix typo
  docs/codeql/codeql-cli/creating-codeql-databases.rst
Labels: documentation

#8228 Fix 0.0.9 change note to match concatenated change log
  csharp/ql/lib/change-notes/released/0.0.9.md
Labels: C#, documentation

#8231 QL: fix ql-for-ql errors inside ql-for-ql
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/ide-contextual-queries/printAst.ql
  ql/ql/src/queries/style/RegexpInsteadOfPattern.ql
Labels: QL-for-QL

#8232 Add new xss queries to result counting query
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/CountAlertsAndEndpoints.ql
Labels: JS

#8173 C++: Add another `CWE-825` query
  cpp/config/suites/c/correctness
  cpp/config/suites/cpp/correctness
  cpp/ql/src/Likely Bugs/Memory Management/UsingExpiredStackAddress.cpp
  cpp/ql/src/Likely Bugs/Memory Management/UsingExpiredStackAddress.qhelp
  cpp/ql/src/Likely Bugs/Memory Management/UsingExpiredStackAddress.ql
  cpp/ql/src/change-notes/2022-02-22-using-expired-stack-address.md
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UsingExpiredStackAddress/UsingExpiredStackAddress.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UsingExpiredStackAddress/UsingExpiredStackAddress.qlref
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UsingExpiredStackAddress/test.cpp
Labels: C++, documentation, ready-for-doc-review

#8227 C++: Promote cpp/non-https-url
  cpp/ql/src/Security/CWE/CWE-319/UseOfHttp.ql
  cpp/ql/src/change-notes/2022-02-24-non-https-url.md
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/test.cpp
Labels: C++, documentation

#8249 Fix error in CodeQL CLI version reported for LGTM 1.29
  docs/codeql/support/conf.py
Labels: documentation

#7774 Add test checking that inheritence is noticed even with annotations present
  java/ql/test/library-tests/method-signatures/Test.java
  java/ql/test/library-tests/method-signatures/signatures.expected
  java/ql/test/library-tests/method-signatures/signatures.ql
  java/ql/test/query-tests/InefficientOutputStream/InefficientOutputStreamAnnotations.java
Labels: Java

#8251 Update supported Java and Python versions
  docs/codeql/support/reusables/versions-compilers.rst
Labels: documentation

#8234 Ruby: add meta-queries for measuring sources, sinks, and call edges
  ruby/ql/src/queries/meta/CallGraph.ql
  ruby/ql/src/queries/meta/TaintSinks.ql
  ruby/ql/src/queries/meta/TaintSources.ql
  ruby/ql/src/queries/meta/internal/TaintMetrics.qll
Labels: no-change-note-required, Ruby

#8149 Shared: use shared access path syntax to parse arguments in CSV rows
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/AccessPathSyntax.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/AccessPathSyntax.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/AccessPathSyntax.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/AccessPathSyntax.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: C#, JS, Java, no-change-note-required, Ruby

#7873 Python: Fix attribute taint
  python/ql/lib/change-notes/2022-02-08-fix-attribute-taint.md
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_attr.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_with.py
Labels: documentation, Python

#8156 QLSpeciifcation: Add documentation for expression pragmas
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#7867 Java: Timing attacks while comparing the headers value
  java/ql/src/experimental/Security/CWE/CWE-208/TimingAttackAgainstHeader.java
  java/ql/src/experimental/Security/CWE/CWE-208/TimingAttackAgainstHeader.qhelp
  java/ql/src/experimental/Security/CWE/CWE-208/TimingAttackAgainstHeader.ql
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstHeader/Test.java
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstHeader/TimingAttackAgainstHeader.expected
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstHeader/TimingAttackAgainstHeader.qlref
Labels: documentation, Java

#8284 C#: Move C# 9 standalone tests
  csharp/ql/test/library-tests/csharp9-standalone/GlobalStmt.cs
  csharp/ql/test/library-tests/csharp9-standalone/globalStmt.expected
  csharp/ql/test/library-tests/csharp9-standalone/globalStmt.ql
  csharp/ql/test/library-tests/csharp9-standalone/options
Labels: C#

#8152 C# Exclude dynamic casts from useless casts check
  csharp/ql/src/Language Abuse/UselessUpcast.ql
  csharp/ql/src/change-notes/2022-02-28-useless-upcast.md
  csharp/ql/test/query-tests/Language Abuse/UselessUpcast/UselessUpcast.cs
Labels: C#, documentation

#8166 Ruby/Python: regex parser: group sequences of 'normal' characters
  python/ql/lib/change-notes/2022-02-25-regex-group-characters.md
  python/ql/lib/semmle/python/RegexTreeView.qll
  python/ql/lib/semmle/python/regex.qll
  python/ql/test/library-tests/regex/FirstLast.expected
  python/ql/test/library-tests/regex/Regex.ql
  python/ql/test/query-tests/Security/CWE-730-ReDoS/ReDoS.expected
  ruby/ql/lib/change-notes/2022-02-25-regex-group-characters.md
  ruby/ql/lib/codeql/ruby/security/performance/ParseRegExp.qll
  ruby/ql/lib/codeql/ruby/security/performance/RegExpTreeView.qll
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/regexp/parse.expected
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/ReDoS.expected
Labels: documentation, Python, Ruby
