Repository github/codeql, pull requests merged in 2023-08, with the labels that each got.

#13645 Go : Improvements to Timing Attacks query
  go/ql/src/experimental/CWE-203/Timing.ql
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-203/timing.go
Labels: Go

#13846 Go: Add language-specific baseline configuration
  go/Makefile
  go/codeql-tools/baseline-config-empty.json
  go/codeql-tools/baseline-config-vendor.json
  go/codeql-tools/configure-baseline.cmd
  go/codeql-tools/configure-baseline.sh
Labels: Go

#13862 C++: Add IR test that shows dataflow regression after frontend update
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.c
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#13309 Ruby: Add LDAP Injection query
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/Ldap.qll
  ruby/ql/lib/codeql/ruby/security/LdapInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/LdapInjectionQuery.qll
  ruby/ql/src/change-notes/2023-05-28-ldap-injection-query.md
  ruby/ql/src/experimental/ldap-injection/LdapInjection.qhelp
  ruby/ql/src/experimental/ldap-injection/LdapInjection.ql
  ruby/ql/src/experimental/ldap-injection/examples/LdapInjectionBad.rb
  ruby/ql/src/experimental/ldap-injection/examples/LdapInjectionGood.rb
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/query-tests/experimental/LdapInjection/LdapInjection.rb
  ruby/ql/test/query-tests/experimental/LdapInjection/Ldapinjection.expected
  ruby/ql/test/query-tests/experimental/LdapInjection/Ldapinjection.qlref
Labels: documentation, Ruby

#13841 JS: Add support for log injection in MaD
  docs/codeql/codeql-language-guides/customizing-library-models-for-javascript.rst
  javascript/ql/lib/change-notes/2023-07-28-mad-log-injection.md
  javascript/ql/lib/semmle/javascript/security/dataflow/LogInjectionQuery.qll
Labels: JS, documentation

#13856 Java: Make the barrier in java/potentially-weak-cryptographic-algorithm less restrictive
  java/ql/lib/semmle/code/java/security/MaybeBrokenCryptoAlgorithmQuery.qll
  java/ql/src/change-notes/2023-08-01-maybebrokencrypto-barrier.md
Labels: documentation, Java

#13788 Java: Tests for Automodel Extraction Queries
  java/ql/src/Telemetry/AutomodelFrameworkModeCharacteristics.qll
  java/ql/src/Telemetry/AutomodelSharedCharacteristics.qll
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractCandidates.qlref
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractNegativeExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractNegativeExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractPositiveExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractPositiveExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/Test.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractCandidates.qlref
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractNegativeExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractNegativeExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractPositiveExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractPositiveExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/com/github/codeql/test/NonPublicClass.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicClass.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicInterface.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/java/io/File.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/java/nio/file/Files.java
Labels: Java, no-change-note-required

#13840 Update supported frameworks
  docs/codeql/reusables/supported-frameworks.rst
Labels: documentation

#13857 Swift: SubExpr may yield unresolved nodes in certain cases while MatchedExpr is always resolved
  swift/extractor/translators/PatternTranslator.cpp
  swift/ql/test/extractor-tests/patterns/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/ast/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/ast/Errors.expected
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
Labels: Swift

#13785 Go: Avoid using getTarget() as it may not exist
  go/ql/lib/semmle/go/dataflow/internal/DataFlowDispatch.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
Labels: no-change-note-required, Go

#13741 Swift: add DataFlow::Content for arrays
  swift/ql/lib/change-notes/2023-07-18-array-content.md
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/lib/codeql/swift/elements/expr/InOutExpr.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Array.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/StandardLibrary.qll
  swift/ql/test/extractor-tests/generated/decl/CapturedDecl/PrintAst.expected
  swift/ql/test/extractor-tests/statements/YieldStmts.expected
  swift/ql/test/extractor-tests/updates/PrintAst.expected
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/FlowConfig.qll
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/elements/expr/assignment/assignment.expected
  swift/ql/test/library-tests/regex/regex.swift
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.swift
Labels: documentation, Swift

#13737 Dynamic: add Fuzzy token
  docs/codeql/codeql-language-guides/customizing-library-models-for-javascript.rst
  javascript/ql/lib/semmle/javascript/frameworks/Vue.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  javascript/ql/test/library-tests/frameworks/data/test.expected
  javascript/ql/test/library-tests/frameworks/data/test.js
  javascript/ql/test/library-tests/frameworks/data/test.ql
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModels.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModelsSpecific.qll
  python/ql/test/library-tests/frameworks/data/test.expected
  python/ql/test/library-tests/frameworks/data/test.py
  python/ql/test/library-tests/frameworks/data/test.ql
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsSpecific.qll
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
  ruby/ql/test/library-tests/dataflow/summaries/summaries.rb
Labels: JS, documentation, Python, no-change-note-required, Ruby

#13755 JavaScript: Improve qhelp for js/server-crash.
  javascript/ql/src/Security/CWE-730/ServerCrash.qhelp
  javascript/ql/src/Security/CWE-730/examples/server-crash.BAD.js
  javascript/ql/src/Security/CWE-730/examples/server-crash.GOOD-A.js
  javascript/ql/src/Security/CWE-730/examples/server-crash.GOOD-B.js
Labels: JS, documentation, ready-for-doc-review

#13835 Don't treat logrus' WithContext method as a logging function
  go/ql/lib/change-notes/2023-07-28-logrus-with-context.md
  go/ql/lib/semmle/go/frameworks/Logrus.qll
  go/ql/test/library-tests/semmle/go/concepts/LoggerCall/logrus.go
Labels: documentation, Go

#13873 C++: Add semantic range analysis test as IR test
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#13874 C++: Improve use-after-free example code
  cpp/ql/src/Critical/UseAfterFree.cpp
Labels: C++, no-change-note-required

#12433 Swift: properly identify types and declarations in trap files via mangling
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/infra/BUILD.bazel
  swift/extractor/infra/SwiftLocationExtractor.cpp
  swift/extractor/infra/SwiftMangledName.cpp
  swift/extractor/infra/SwiftMangledName.h
  swift/extractor/mangler/SwiftMangler.cpp
  swift/extractor/mangler/SwiftMangler.h
  swift/extractor/translators/SwiftVisitor.h
  swift/extractor/trap/TrapLabel.h
  swift/integration-tests/posix-only/deduplication/Decls.expected
  swift/integration-tests/posix-only/deduplication/Decls.ql
  swift/integration-tests/posix-only/deduplication/Package.swift
  swift/integration-tests/posix-only/deduplication/Sources/deduplication/def.swift
  swift/integration-tests/posix-only/deduplication/Sources/deduplication/use.swift
  swift/integration-tests/posix-only/deduplication/Types.expected
  swift/integration-tests/posix-only/deduplication/Types.ql
  swift/ql/test/extractor-tests/generated/expr/MethodLookupExpr/CONSISTENCY/PrintAstConsistency.expected
  swift/ql/test/extractor-tests/generated/type/BuiltinType/builtin_types_dup.swift
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/PrimaryArchetypeType.expected
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/PrimaryArchetypeType_getProtocol.expected
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/PrimaryArchetypeType_getSuperclass.expected
  swift/ql/test/extractor-tests/generated/type/PrimaryArchetypeType/primary_archetypes.swift
  swift/ql/test/extractor-tests/generated/type/TupleType/tuples_builtin_dup.swift
Labels: Swift

#13877 C++: Improve the QL doc of `isConstant`
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
Labels: C++, no-change-note-required

#13509 Convert shared CFG construction library to a parameterized module
  config/identical-files.json
  ruby/ql/consistency-queries/CfgConsistency.ql
  ruby/ql/lib/codeql/ruby/ast/Statement.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Constant.qll
  ruby/ql/lib/codeql/ruby/controlflow/BasicBlocks.qll
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/controlflow/ControlFlowGraph.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/Completion.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplShared.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplSpecific.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/Splitting.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/lib/codeql/ruby/security/HardcodedDataInterpretedAsCodeCustomizations.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/lib/ide-contextual-queries/printCfg.ql
  ruby/ql/lib/qlpack.yml
  ruby/ql/src/experimental/performance/UseDetect.ql
  ruby/ql/src/queries/analysis/Definitions.ql
  ruby/ql/src/queries/variables/DeadStoreOfLocal.ql
  ruby/ql/src/queries/variables/UnusedParameter.ql
  shared/controlflow/change-notes/2023-06-27-initial-version.md
  shared/controlflow/codeql/controlflow/Cfg.qll
  shared/controlflow/qlpack.yml
  shared/util/codeql/util/Location.qll
Labels: documentation, Ruby

#13884 C++: Add test for `__declspec` attribute on a global variable
  cpp/ql/test/library-tests/attributes/var_attributes/ms_var_attributes.cpp
  cpp/ql/test/library-tests/attributes/var_attributes/var_attributes.expected
Labels: C++

#13484 Java: Experimental version of Java Command Injection query
  java/ql/src/experimental/Security/CWE/CWE-078/CommandInjectionRuntimeExec.java
  java/ql/src/experimental/Security/CWE/CWE-078/CommandInjectionRuntimeExec.qhelp
  java/ql/src/experimental/Security/CWE/CWE-078/CommandInjectionRuntimeExec.ql
  java/ql/src/experimental/Security/CWE/CWE-078/CommandInjectionRuntimeExec.qll
  java/ql/src/experimental/Security/CWE/CWE-078/CommandInjectionRuntimeExecLocal.qhelp
  java/ql/src/experimental/Security/CWE/CWE-078/CommandInjectionRuntimeExecLocal.ql
  java/ql/test/experimental/query-tests/security/CWE-078/CommandInjectionRuntimeExecLocal.expected
  java/ql/test/experimental/query-tests/security/CWE-078/CommandInjectionRuntimeExecLocal.qlref
  java/ql/test/experimental/query-tests/security/CWE-078/RuntimeExecTest.java
Labels: documentation, Java

#13869 Swift: Route compiler diagnostics through our log.
  swift/extractor/invocation/SwiftDiagnosticsConsumer.cpp
  swift/extractor/invocation/SwiftDiagnosticsConsumer.h
  swift/extractor/main.cpp
Labels: Swift

#13851 DataFlow: Support stateless `isSink` in `StateConfigSig`s
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl1.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl1.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTracking.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl1.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTracking.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl1.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl2.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplForStringsNewReplacer.qll
  go/ql/lib/semmle/go/dataflow/internal/tainttracking1/TaintTracking.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl1.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTracking.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl1.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking1/TaintTracking.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl1.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForHttpClientLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForPathname.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttracking1/TaintTracking.qll
  shared/dataflow/change-notes/2023-08-02-dataflow-isSink.md
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl1.qll
  swift/ql/lib/codeql/swift/dataflow/internal/tainttracking1/TaintTracking.qll
Labels: C#, C++, documentation, Java, Python, Go, Ruby, Swift

#13888 Revert "Swift: Pragmatic fix for CustomUrlSchemes.qll."
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/CustomUrlSchemes.qll
Labels: no-change-note-required, Swift

#13506 Java: Threat Models
  java/ql/lib/ext/threatmodels/supported-threat-models.model.yml
  java/ql/lib/ext/threatmodels/threat-model-grouping.model.yml
  java/ql/lib/qlpack.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlowConfiguration.qll
  java/ql/test/library-tests/dataflow/threat-models/Empty.java
  java/ql/test/library-tests/dataflow/threat-models/threat-models1.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models1.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models2.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models2.ext.yml
  java/ql/test/library-tests/dataflow/threat-models/threat-models2.ql
Labels: Java, no-change-note-required

#13837 Kotlin: Pass on a parentId and remove some redundant braces
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#13901 Data flow: Refactor shared library
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplSpecific.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplSpecific.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplCommon.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplSpecific.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplSpecific.qll
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/DataFlowParameter.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplSpecific.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#13899 Java: Fix typo in `StdlibRandomSource::getOutput`
  java/ql/lib/change-notes/2023-08-07-randomdatasource-typo-fix.md
  java/ql/lib/semmle/code/java/security/RandomDataSource.qll
Labels: documentation, Java

#13889 Java: remove duplicate models
  java/ql/lib/ext/java.nio.file.model.yml
Labels: Java, no-change-note-required

#13688 C#: Turn RuntimeVersion into a record type.
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Runtime.cs
  csharp/extractor/Semmle.Util/DictionaryExtensions.cs
Labels: C#, no-change-note-required

#13907 C++: Small cleanup of `SsaInternals`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
Labels: C++, no-change-note-required

#13838 Swift: add SetContent for data flow
  swift/ql/lib/change-notes/2023-08-04-collection-content.md
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Collection.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Set.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/StandardLibrary.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Labels: documentation, Swift

#13852 Add option to filter automodel queries
  java/ql/src/Telemetry/AutomodelApplicationModeExtractCandidates.ql
  java/ql/src/Telemetry/AutomodelCandidateFilter.yml
  java/ql/src/Telemetry/AutomodelFrameworkModeExtractCandidates.ql
  java/ql/src/Telemetry/AutomodelJavaUtil.qll
  java/ql/src/qlpack.yml
Labels: Java, no-change-note-required

#13905 Swift: Flow through ForceValueExpr on LHS of assignment
  swift/ql/lib/change-notes/2023-08-07-forced-unwrap copy.md
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Labels: documentation, Swift

#13891 cs/hardcoded-credentials - Removes false positive matches on benign Microsoft.AspNetCore.Identity properties
  csharp/ql/lib/change-notes/2023-08-04-netcore-identity-hardcoded-cred.md
  csharp/ql/lib/semmle/code/csharp/security/dataflow/HardcodedCredentialsQuery.qll
  csharp/ql/test/query-tests/Security Features/CWE-798/HardcodedConnectionString.expected
  csharp/ql/test/query-tests/Security Features/CWE-798/HardcodedCredentials.cs
  csharp/ql/test/query-tests/Security Features/CWE-798/HardcodedCredentials.expected
  csharp/ql/test/query-tests/Security Features/CWE-798/options
Labels: C#, documentation

#13911 C++: Fix taint-flow in preparation for frontend upgrade
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
Labels: C++, no-change-note-required

#13923 Go: Bump extractor dependencies
  go/go.mod
  go/go.sum
  go/vendor/golang.org/x/mod/internal/lazyregexp/lazyre.go
  go/vendor/golang.org/x/mod/modfile/print.go
  go/vendor/golang.org/x/mod/modfile/read.go
  go/vendor/golang.org/x/mod/modfile/rule.go
  go/vendor/golang.org/x/mod/modfile/work.go
  go/vendor/golang.org/x/mod/module/module.go
  go/vendor/golang.org/x/mod/module/pseudo.go
  go/vendor/golang.org/x/mod/semver/semver.go
  go/vendor/golang.org/x/sys/execabs/execabs.go
  go/vendor/golang.org/x/sys/execabs/execabs_go118.go
  go/vendor/golang.org/x/sys/execabs/execabs_go119.go
  go/vendor/golang.org/x/tools/go/gcexportdata/gcexportdata.go
  go/vendor/golang.org/x/tools/go/packages/golist.go
  go/vendor/golang.org/x/tools/go/packages/packages.go
  go/vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  go/vendor/golang.org/x/tools/internal/event/tag/tag.go
  go/vendor/golang.org/x/tools/internal/gcimporter/bexport.go
  go/vendor/golang.org/x/tools/internal/gcimporter/bimport.go
  go/vendor/golang.org/x/tools/internal/gcimporter/gcimporter.go
  go/vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  go/vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  go/vendor/golang.org/x/tools/internal/gcimporter/ureader_yes.go
  go/vendor/golang.org/x/tools/internal/gocommand/invoke.go
  go/vendor/golang.org/x/tools/internal/gocommand/version.go
  go/vendor/golang.org/x/tools/internal/tokeninternal/tokeninternal.go
  go/vendor/golang.org/x/tools/internal/typeparams/common.go
  go/vendor/golang.org/x/tools/internal/typeparams/typeparams_go117.go
  go/vendor/golang.org/x/tools/internal/typeparams/typeparams_go118.go
  go/vendor/golang.org/x/tools/internal/typesinternal/types.go
  go/vendor/modules.txt
Labels: Go

#13931 C++: Revert constant bounds for new range analysis
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExpr.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisConstantSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisRelativeSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/Reason.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/RangeAnalysisUtil.qll
  cpp/ql/src/experimental/Security/CWE/CWE-193/ConstantSizeArrayOffByOne.ql
  cpp/ql/test/library-tests/ir/range-analysis/SimpleRangeAnalysis_tests.cpp
Labels: C++, no-change-note-required

#13731 Python: Aiohttp improvements
  python/ql/lib/change-notes/2023-07-12-aiohttp-improvements.md
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/library-tests/frameworks/aiohttp/InlineTaintTest.ql
  python/ql/test/library-tests/frameworks/aiohttp/client_request.py
  python/ql/test/library-tests/frameworks/aiohttp/response_test.py
  python/ql/test/library-tests/frameworks/aiohttp/taint_test.py
Labels: documentation, Python

#13929 C++: Only consider the maximum buffer size for badly bounded write
  cpp/ql/src/Security/CWE/CWE-120/BadlyBoundedWrite.ql
  cpp/ql/src/change-notes/2023-08-09-badly-bounded-write.md
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/VeryLikelyOverrunWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/tests2.cpp
Labels: C++, documentation

#13927 C#: Fix bad join order
  csharp/ql/lib/semmle/code/csharp/Stmt.qll
Labels: C#, no-change-note-required

#13936 Ruby: Fix bug in `isCapturedAccess`
  ruby/ql/lib/codeql/ruby/ast/internal/Variable.qll
  ruby/ql/test/library-tests/variables/varaccess.expected
  ruby/ql/test/library-tests/variables/varaccess.ql
Labels: no-change-note-required, Ruby

#13919 Kotlin: useFunction might return null
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#13930 Swift: Flow sources for UITextInput
  docs/codeql/reusables/supported-frameworks.rst
  swift/ql/lib/change-notes/2023-08-08-ui-text-input.md
  swift/ql/lib/codeql/swift/frameworks/UIKit/UITextField.qll
  swift/ql/test/library-tests/dataflow/flowsources/uikit.swift
Labels: documentation, Swift

#13885 C#: LINQ recommendation queries.
  csharp/ql/lib/Linq/Helpers.qll
  csharp/ql/src/Linq/MissedAllOpportunity.ql
  csharp/ql/src/Linq/MissedCastOpportunity.ql
  csharp/ql/src/Linq/MissedOfTypeOpportunity.ql
  csharp/ql/src/Linq/MissedSelectOpportunity.ql
  csharp/ql/src/Linq/MissedWhereOpportunity.ql
  csharp/ql/test/query-tests/Linq/MissedCastOpportunity/MissedCastOpportunity.cs
  csharp/ql/test/query-tests/Linq/MissedCastOpportunity/MissedCastOpportunity.expected
  csharp/ql/test/query-tests/Linq/MissedCastOpportunity/MissedCastOpportunity.qlref
  csharp/ql/test/query-tests/Linq/MissedCastOpportunity/options
  csharp/ql/test/query-tests/Linq/MissedWhereOpportunity/MissedWhereOpportunity.cs
  csharp/ql/test/query-tests/Linq/MissedWhereOpportunity/MissedWhereOpportunity.expected
  csharp/ql/test/query-tests/Linq/MissedWhereOpportunity/MissedWhereOpportunity.qlref
  csharp/ql/test/query-tests/Linq/MissedWhereOpportunity/options
Labels: C#, no-change-note-required

#13940 JS: change the defaults in the qhelp for missing-rate-limit to something more reasonable
  javascript/ql/src/Security/CWE-770/examples/MissingRateLimitingGood.js
Labels: JS

#13933 Swift: Models-as-data support for tuple content
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/test/library-tests/dataflow/dataflow/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/FlowConfig.qll
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Labels: no-change-note-required, Swift

#13948 Make `CompareIdenticalValues` test work on arm64
  go/ql/test/query-tests/RedundantCode/CompareIdenticalValues/constants.go
Labels: Go

#13939 Ruby: Fix another bug in `isCapturedAccess`
  ruby/ql/lib/codeql/ruby/ast/internal/Variable.qll
  ruby/ql/test/library-tests/variables/ssa.expected
  ruby/ql/test/library-tests/variables/varaccess.expected
Labels: no-change-note-required, Ruby

#13944 Kotlin: Handle null parent IDs in getFunctionLabel correctly
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#13945 Ruby: Add test for documenting missing flow through destructured parameters
  ruby/ql/test/library-tests/dataflow/params/params_flow.rb
Labels: Ruby

#13952 C#: .NET Runtime path detection (bugfix).
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/ProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Runtime.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
Labels: no-change-note-required

#13876 C#: Include ASP.NET assemblies in the standalone extraction.
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/FileContent.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Runtime.cs
  csharp/extractor/Semmle.Extraction.Tests/FileContent.cs
  csharp/extractor/Semmle.Util/Initializer.cs
Labels: C#, no-change-note-required

#13829 Swift: Correct the behaviour of Type.getName
  swift/ql/.generated.list
  swift/ql/.gitattributes
  swift/ql/lib/change-notes/2023-07-27-type-getname.md
  swift/ql/lib/codeql/swift/elements/type/NominalType.qll
  swift/ql/lib/codeql/swift/elements/type/TupleType.qll
  swift/ql/lib/codeql/swift/elements/type/Type.qll
  swift/ql/lib/codeql/swift/security/StringLengthConflationExtensions.qll
  swift/ql/lib/codeql/swift/security/UnsafeJsEvalExtensions.qll
  swift/ql/test/extractor-tests/generated/type/BuiltinIntegerType/BuiltinIntegerType.expected
  swift/ql/test/extractor-tests/generated/type/BuiltinType/BuiltinType.expected
  swift/ql/test/extractor-tests/generated/type/TupleType/TupleType.expected
  swift/ql/test/library-tests/elements/type/nominaltype/nominaltype.expected
  swift/ql/test/library-tests/elements/type/nominaltype/nominaltype.ql
  swift/ql/test/library-tests/elements/type/nominaltype/nominaltype.swift
  swift/ql/test/library-tests/elements/type/nominaltype/nominaltypedecl.expected
  swift/ql/test/library-tests/elements/type/nominaltype/nominaltypedecl.ql
Labels: documentation, Swift

#13725 C++: Fix barriers in invalid pointer deref
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/InvalidPointerToDereference.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/RangeAnalysisUtil.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++, no-change-note-required

#13334 Ruby: printCfg: only show graph for selected CfgScope
  ruby/ql/lib/ide-contextual-queries/printCfg.ql
Labels: no-change-note-required, Ruby

#13941 Python: fix nice locations for import aliases
  python/ql/lib/analysis/DefinitionTracking.qll
  python/ql/lib/change-notes/2023-08-10-fix-alias-locations.md
  python/ql/test/library-tests/locations/imports/import_statements.py
  python/ql/test/library-tests/locations/imports/imports.expected
  python/ql/test/library-tests/locations/imports/imports.ql
Labels: documentation, Python

#13546 Java: Support for With[out]Element for MaD.
  docs/codeql/codeql-language-guides/customizing-library-models-for-java.rst
  java/ql/lib/change-notes/2023-08-04-mad-withoutelement.md
  java/ql/lib/ext/java.util.model.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/test/library-tests/dataflow/collections/B.java
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/TopJdkApisTest/TopJdkApisTest.expected
Labels: documentation, Java, no-change-note-required

#13836 Swift: 'ParsedSequence' lacks proper types and yields 'Unresolved' AST nodes
  swift/extractor/translators/StmtTranslator.cpp
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/dataflow/flowsources/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/dataflow/taint/libraries/CONSISTENCY/CfgConsistency.expected
Labels: Swift

#13914 ReDoS: escape unicode chars in the output for the ReDoS queries
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/ReDoS.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/tst.js
  python/ql/test/query-tests/Security/CWE-730-ReDoS/ReDoS.expected
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/ReDoS.expected
  shared/regex/codeql/regex/nfa/NfaUtils.qll
  shared/regex/qlpack.yml
  shared/util/codeql/util/Numbers.qll
Labels: JS, Python, Ruby

#13955 Ruby: Make type tracking flow-insensitive for captured variables
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/dataflow/array-flow/type-tracking-array-flow.expected
Labels: no-change-note-required, Ruby

#13968 QL language specs: declarations can shadow dbscheme types and preds
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#13965 C++: Remove more dataflow FPs after frontend upgrade
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++, no-change-note-required

#13910 Swift: CFG test for for-try-await
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/ast/cfg.swift
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/cfg.swift
Labels: Swift

#13973 Go: Don't warn when Go version exactly matches go.mod
  go/extractor/cli/go-autobuilder/go-autobuilder.go
Labels: Go

#13886 Java: automodel application mode: use endpoint class like in framework mode
  java/ql/src/Telemetry/AutomodelApplicationModeCharacteristics.qll
  java/ql/src/Telemetry/AutomodelApplicationModeExtractCandidates.ql
  java/ql/src/Telemetry/AutomodelApplicationModeExtractNegativeExamples.ql
  java/ql/src/Telemetry/AutomodelApplicationModeExtractPositiveExamples.ql
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractNegativeExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractPositiveExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/Test.java
Labels: Java, no-change-note-required

#13744 C#: Add integration test for standalone extraction
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/CommandBuilder.cs
  csharp/ql/integration-tests/all-platforms/standalone/Files.expected
  csharp/ql/integration-tests/all-platforms/standalone/Files.ql
  csharp/ql/integration-tests/all-platforms/standalone/Program.cs
  csharp/ql/integration-tests/all-platforms/standalone/standalone.csproj
  csharp/ql/integration-tests/all-platforms/standalone/test.py
Labels: C#, C++

#13819 Python: Relax module resolution
  python/ql/lib/change-notes/2023-08-08-relax-module-resolution.md
  python/ql/lib/semmle/python/Module.qll
  python/ql/test/experimental/library-tests/CallGraph-implicit-init/example.py
Labels: documentation, Python

#13972 C++: Support subtraction in the new range analysis
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/test.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
Labels: C++, no-change-note-required

#13971 C++: Update test after float128 related extractor changes
  cpp/ql/test/library-tests/floats/float128/errors.expected
  cpp/ql/test/library-tests/floats/float128/errors.ql
  cpp/ql/test/library-tests/floats/float128/float128.cpp
  cpp/ql/test/library-tests/floats/float128/usertypes.expected
Labels: C++, depends on internal PR

#13981 C++: Fix original delta calculation for subtraction in new range analysis
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
Labels: C++, no-change-note-required

#13984 Swift: Fix expected files after a semantic merge conflict
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
Labels: Swift

#13960 Kotlin: Handle Kotlin 2 parents better
  java/kotlin-extractor/src/main/kotlin/ExternalDeclExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/TrapWriter.kt
  java/kotlin-extractor/src/main/kotlin/utils/ClassNames.kt
  java/kotlin-extractor/src/main/kotlin/utils/ExternalDecls.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_4_32/getFileClassFqName.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0/getFileClassFqName.kt
Labels: Kotlin

#13966 C#: Fix `getMadRepresentationSpecific`
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: C#, no-change-note-required

#13595 C#: Adopt shared CFG construction library from shared `controlflow` pack
  config/identical-files.json
  csharp/ql/consistency-queries/CfgConsistency.ql
  csharp/ql/consistency-queries/DataFlowConsistency.ql
  csharp/ql/lib/qlpack.yml
  csharp/ql/lib/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImplShared.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/PreBasicBlocks.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ControlFlowReachability.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/ControlFlowReachability.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/SsaReadPositionSpecific.qll
  csharp/ql/src/Concurrency/FutileSyncOnField.ql
  csharp/ql/src/Concurrency/UnsynchronizedStaticAccess.ql
  csharp/ql/src/Likely Bugs/NestedLoopsSameVariable.ql
  csharp/ql/src/Likely Bugs/Statements/UseBraces.ql
  csharp/ql/src/Likely Bugs/UncheckedCastInEquals.ql
  csharp/ql/src/Security Features/CWE-384/AbandonSession.ql
  csharp/ql/test/library-tests/cil/dataflow/ControlFlow.ql
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.ql
  csharp/ql/test/library-tests/controlflow/graph/Nodes.ql
  csharp/ql/test/library-tests/controlflow/splits/SplittingStressTest.ql
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
  csharp/ql/test/library-tests/goto/Goto1.ql
  csharp/ql/test/library-tests/standalone/controlflow/cfg.ql
  shared/controlflow/codeql/controlflow/Cfg.qll
Labels: C#, no-change-note-required

#13987 Java: Join-order fix in RangeAnalysis.
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
Labels: Java, no-change-note-required

#13988 Swift: fix version check macro to be lexicographic
  swift/extractor/infra/SwiftTagTraits.h
Labels: Swift

#13934 Java: Add dashes to SHA algorithm names in `Encryption.qll`
  java/ql/lib/change-notes/2023-08-15-add-dashes-to-sha-algorithms.md
  java/ql/lib/semmle/code/java/security/Encryption.qll
Labels: documentation, Java

#13916 Java: limit field flow when tracking regex strings
  java/ql/lib/semmle/code/java/regex/RegexFlowConfigs.qll
Labels: Java, no-change-note-required

#13996 C++: Accept regression in test after evaluator fix
  cpp/ql/src/Security/CWE/CWE-120/BadlyBoundedWrite.ql
  cpp/ql/src/change-notes/2023-08-09-badly-bounded-write.md
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/BadlyBoundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/tests2.cpp
Labels: C++, documentation

#13867 Go: Basic Go 1.21 support
  .github/workflows/go-tests-other-os.yml
  .github/workflows/go-tests.yml
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/go.mod
  go/ql/lib/semmle/go/Scopes.qll
  go/ql/lib/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  go/ql/lib/semmle/go/frameworks/Stdlib.qll
  go/ql/test/library-tests/semmle/go/Function/TypeParamType.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/Builtin.go
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.ql
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalFlowStep.expected
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/main.go
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.expected
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.ql
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/main.go
Labels: no-change-note-required, Go

#13413 Java: Trust Boundary Violation Query
  docs/codeql/codeql-language-guides/customizing-library-models-for-java.rst
  java/ql/lib/ext/generated/org.apache.commons.lang.model.yml
  java/ql/lib/ext/javax.servlet.http.model.yml
  java/ql/lib/ext/org.apache.commons.lang.model.yml
  java/ql/lib/ext/org.apache.struts2.dispatcher.model.yml
  java/ql/lib/ext/org.apache.struts2.interceptor.model.yml
  java/ql/lib/ext/org.owasp.esapi.model.yml
  java/ql/lib/ext/play.mvc.model.yml
  java/ql/lib/semmle/code/java/frameworks/Servlets.qll
  java/ql/lib/semmle/code/java/frameworks/owasp/Esapi.qll
  java/ql/lib/semmle/code/java/security/TrustBoundaryViolationQuery.qll
  java/ql/src/Security/CWE/CWE-501/TrustBoundaryFixed.java
  java/ql/src/Security/CWE/CWE-501/TrustBoundaryViolation.qhelp
  java/ql/src/Security/CWE/CWE-501/TrustBoundaryViolation.ql
  java/ql/src/Security/CWE/CWE-501/TrustBoundaryVulnerable.java
  java/ql/src/change-notes/2023-07-25-trust-boundary-violation-query.md
  java/ql/test/query-tests/security/CWE-501/TrustBoundaryViolations.expected
  java/ql/test/query-tests/security/CWE-501/TrustBoundaryViolations.java
  java/ql/test/query-tests/security/CWE-501/TrustBoundaryViolations.ql
  java/ql/test/query-tests/security/CWE-501/options
  java/ql/test/stubs/esapi-2.0.1/org/owasp/esapi/ValidationErrorList.java
  java/ql/test/stubs/esapi-2.0.1/org/owasp/esapi/Validator.java
  java/ql/test/stubs/esapi-2.0.1/org/owasp/esapi/errors/IntrusionException.java
  java/ql/test/stubs/esapi-2.0.1/org/owasp/esapi/errors/ValidationException.java
  shared/mad/codeql/mad/ModelValidation.qll
Labels: documentation, Java, ready-for-doc-review

#13561 Python: Flask & Django Constant Secret Key initialization
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKey.qhelp
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKey.ql
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKeyDjango.qll
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKeyFlask.qll
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKeySource.qll
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/config.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/config1.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/config2.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/config3.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/example_Django_safe.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/example_Django_unsafe.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/example_Flask_safe.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/example_Flask_unsafe.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/example_Flask_unsafe2.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/settings/__init__.py
  python/ql/test/experimental/query-tests/Security/CWE-287-ConstantSecretKey/ConstantSecretKey.expected
  python/ql/test/experimental/query-tests/Security/CWE-287-ConstantSecretKey/ConstantSecretKey.qlref
  python/ql/test/experimental/query-tests/Security/CWE-287-ConstantSecretKey/app_safe.py
  python/ql/test/experimental/query-tests/Security/CWE-287-ConstantSecretKey/app_safe_2.py
  python/ql/test/experimental/query-tests/Security/CWE-287-ConstantSecretKey/app_unsafe.py
  python/ql/test/experimental/query-tests/Security/CWE-287-ConstantSecretKey/config.py
  python/ql/test/experimental/query-tests/Security/CWE-287-ConstantSecretKey/config2.py
Labels: documentation, Python, no-change-note-required, external-contribution

#13881 Introduce shared taint tracking library
  config/identical-files.json
  cpp/ql/lib/semmle/code/cpp/dataflow/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/TaintTrackingImplSpecific.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/new/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingImplSpecific.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTracking.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/TaintTracking.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTracking.qll
  go/ql/lib/semmle/go/dataflow/TaintTracking.qll
  go/ql/lib/semmle/go/dataflow/internal/TaintTrackingImplSpecific.qll
  go/ql/lib/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  go/ql/lib/semmle/go/dataflow/internal/tainttracking1/TaintTracking.qll
  java/ql/lib/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingImplSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTracking.qll
  python/ql/lib/semmle/python/dataflow/new/TaintTracking.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingImplSpecific.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking1/TaintTracking.qll
  ruby/ql/lib/codeql/ruby/TaintTracking.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttracking1/TaintTracking.qll
  shared/dataflow/change-notes/2023-08-04-taint-tracking.md
  shared/dataflow/codeql/dataflow/TaintTracking.qll
  swift/ql/lib/codeql/swift/dataflow/TaintTracking.qll
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/internal/tainttracking1/TaintTracking.qll
Labels: C#, C++, documentation, Java, Python, Go, Ruby, Swift

#13983 Data flow: Earlier call-context based dispatch filtering
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
Labels: no-change-note-required

#13991 Swift: use C++20 constraints and concepts to simplify code
  misc/codegen/templates/trap_tags_h.mustache
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/infra/SwiftLocationExtractor.cpp
  swift/extractor/infra/SwiftLocationExtractor.h
  swift/extractor/print_unextracted/main.cpp
  swift/extractor/translators/TranslatorBase.h
  swift/extractor/trap/TrapLabel.h
Labels: Swift

#14011 Revert "Swift: use C++20 constraints and concepts to simplify code"
  misc/codegen/templates/trap_tags_h.mustache
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/infra/SwiftLocationExtractor.cpp
  swift/extractor/infra/SwiftLocationExtractor.h
  swift/extractor/print_unextracted/main.cpp
  swift/extractor/translators/TranslatorBase.h
  swift/extractor/trap/TrapLabel.h
Labels: Swift

#14001 Clarify system requirements for TypeScript extraction
  docs/codeql/codeql-overview/system-requirements.rst
Labels: documentation

#14012 Java: add sanitizer to command injection query
  java/ql/lib/change-notes/2023-08-21-java-command-injection-sanitizer.md
  java/ql/lib/semmle/code/java/security/CommandLineQuery.qll
Labels: documentation, Java

#13997 Ruby: Include more (hash) splat flow in type tracking
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/dataflow/params/TypeTracker.expected
  ruby/ql/test/library-tests/dataflow/params/TypeTracker.qlref
Labels: no-change-note-required, Ruby

#13738 Python: Include all assignments in data flow paths
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/change-notes/2023-08-17-improved-path-graph.md
  python/ql/test/experimental/dataflow/basic/globalStep.expected
  python/ql/test/experimental/dataflow/path-graph/PathNodes.expected
  python/ql/test/experimental/dataflow/path-graph/PathNodes.ql
  python/ql/test/experimental/dataflow/path-graph/test.py
  python/ql/test/experimental/dataflow/summaries/summaries.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/TarSlip.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/ZipSlip.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/UnsafeUnpack.expected
  python/ql/test/experimental/query-tests/Security/CWE-079/ReflectedXSS.expected
  python/ql/test/experimental/query-tests/Security/CWE-113/HeaderInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-1236/CsvInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-176/UnicodeBypassValidation.expected
  python/ql/test/experimental/query-tests/Security/CWE-208/TimingAttackAgainstHash/PossibleTimingAttackAgainstHash.expected
  python/ql/test/experimental/query-tests/Security/CWE-208/TimingAttackAgainstSensitiveInfo/PossibleTimingAttackAgainstSensitiveInfo.expected
  python/ql/test/experimental/query-tests/Security/CWE-327-UnsafeUsageOfClientSideEncryptionVersion/UnsafeUsageOfClientSideEncryptionVersion.expected
  python/ql/test/experimental/query-tests/Security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.expected
  python/ql/test/experimental/query-tests/Security/CWE-522/LDAPInsecureAuth.expected
  python/ql/test/experimental/query-tests/Security/CWE-614/CookieInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
  python/ql/test/library-tests/frameworks/django-orm/ReflectedXss.expected
  python/ql/test/library-tests/frameworks/modeling-example/NaiveModel.expected
  python/ql/test/library-tests/frameworks/modeling-example/ProperModel.expected
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-022-TarSlip/TarSlip.expected
  python/ql/test/query-tests/Security/CWE-078-CommandInjection-py2/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-078-CommandInjection/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  python/ql/test/query-tests/Security/CWE-079-ReflectedXss/ReflectedXss.expected
  python/ql/test/query-tests/Security/CWE-090-LdapInjection/LdapInjection.expected
  python/ql/test/query-tests/Security/CWE-094-CodeInjection/CodeInjection.expected
  python/ql/test/query-tests/Security/CWE-117-LogInjection/LogInjection.expected
  python/ql/test/query-tests/Security/CWE-209-StackTraceExposure/StackTraceExposure.expected
  python/ql/test/query-tests/Security/CWE-285-PamAuthorization/PamAuthorization.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage-py3/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-327-WeakSensitiveDataHashing/WeakSensitiveDataHashing.expected
  python/ql/test/query-tests/Security/CWE-502-UnsafeDeserialization/UnsafeDeserialization.expected
  python/ql/test/query-tests/Security/CWE-601-UrlRedirect/UrlRedirect.expected
  python/ql/test/query-tests/Security/CWE-611-Xxe/Xxe.expected
  python/ql/test/query-tests/Security/CWE-643-XPathInjection/XpathInjection.expected
  python/ql/test/query-tests/Security/CWE-730-PolynomialReDoS/PolynomialReDoS.expected
  python/ql/test/query-tests/Security/CWE-730-RegexInjection/RegexInjection.expected
  python/ql/test/query-tests/Security/CWE-776-XmlBomb/XmlBomb.expected
  python/ql/test/query-tests/Security/CWE-918-ServerSideRequestForgery/FullServerSideRequestForgery.expected
  python/ql/test/query-tests/Security/CWE-918-ServerSideRequestForgery/PartialServerSideRequestForgery.expected
Labels: documentation, Python

#14016 C#: Respect `$CODEQL_THREADS` environment variable
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyOptions.cs
  csharp/extractor/Semmle.Extraction/Options.cs
  csharp/extractor/Semmle.Util/CommandLineOptions.cs
  csharp/extractor/Semmle.Util/EnvironmentVariables.cs
Labels: C#, no-change-note-required

#13957 C#: Generate source files from cshtml files in standalone
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotnetVersion.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/ProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Razor.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Runtime.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Sdk.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
  csharp/ql/integration-tests/all-platforms/cshtml/Files.expected
  csharp/ql/integration-tests/all-platforms/cshtml/Files.ql
  csharp/ql/integration-tests/all-platforms/cshtml_standalone/Files.expected
  csharp/ql/integration-tests/all-platforms/cshtml_standalone/Files.ql
  csharp/ql/integration-tests/all-platforms/cshtml_standalone/Program.cs
  csharp/ql/integration-tests/all-platforms/cshtml_standalone/Views/Home/Index.cshtml
  csharp/ql/integration-tests/all-platforms/cshtml_standalone/cshtml.csproj
  csharp/ql/integration-tests/all-platforms/cshtml_standalone/test.py
  csharp/tools/tracing-config.lua
Labels: C#

#14014 Swift: flow through keypath optional components
  swift/ql/lib/change-notes/2023-08-21-keypath-optionals.md
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Labels: documentation, Swift

#14021 C++: Add `cpp/non-constant-format` test
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/test.cpp
Labels: C++

#14020 C#: Fix lazy evaluation of not yet downloaded packages
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileContent.cs
  csharp/extractor/Semmle.Extraction.Tests/FileContent.cs
Labels: C#

#13926 JS: fix crash in case of cyclic alias
  javascript/extractor/lib/typescript/src/type_table.ts
  javascript/ql/src/change-notes/2023-08-23-fix-cyclic-alias-extraction.md
  javascript/ql/test/library-tests/TypeScript/RegressionTests/CyclicAlias/test.d.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/CyclicAlias/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/CyclicAlias/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/CyclicAlias/tsconfig.json
Labels: JS, documentation

#14007 JS: Follow immediate predecessors in path resolution
  javascript/ql/lib/semmle/javascript/Paths.qll
  javascript/ql/src/change-notes/2023-08-23-import-path-string.md
  javascript/ql/test/library-tests/Modules/import-indirect-path.js
  javascript/ql/test/library-tests/Modules/tests.expected
Labels: JS, documentation

#14037 Python: Fix tests
  python/ql/test/experimental/query-tests/Security/CWE-287-ConstantSecretKey/ConstantSecretKey.expected
Labels: Python

#13985 CPP: Convert SQL tainted away from away from DefaultTaintTracking.
  cpp/ql/src/Security/CWE/CWE-089/SqlTainted.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
Labels: C++, depends on internal PR, no-change-note-required

#13979 Swift: teach autobuilder about SPM, CocoaPods, and Carthage
  swift/integration-tests/osx-only/autobuilder/failure/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/no-build-system/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/no-swift-with-spm/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/no-xcode-with-spm/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/only-tests-with-spm/diagnostics.expected
  swift/tools/autobuild.sh
  swift/xcode-autobuilder/XcodeBuildRunner.cpp
  swift/xcode-autobuilder/XcodeBuildRunner.h
  swift/xcode-autobuilder/XcodeProjectParser.cpp
  swift/xcode-autobuilder/XcodeProjectParser.h
  swift/xcode-autobuilder/XcodeTarget.h
  swift/xcode-autobuilder/xcode-autobuilder.cpp
Labels: Swift

#14043 C++: Add IR test case that shows regression after frontend update
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.c
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#13903 Java: New models for JAX-RS
  java/ql/lib/change-notes/2023-08-07-jaxrs-new-models.md
  java/ql/lib/ext/jakarta.activation.model.yml
  java/ql/lib/ext/jakarta.xml.bind.attachment.model.yml
  java/ql/lib/ext/javax.activation.model.yml
  java/ql/lib/ext/javax.xml.bind.attachment.model.yml
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/mad/Test.java
  java/ql/test/query-tests/security/CWE-022/semmle/tests/options
  java/ql/test/query-tests/security/CWE-918/mad/Test.java
  java/ql/test/query-tests/security/CWE-918/options
  java/ql/test/stubs/jaxws-api-2.0/javax/activation/DataSource.java
  java/ql/test/stubs/jaxws-api-2.0/javax/activation/FileDataSource.java
  java/ql/test/stubs/jaxws-api-2.0/javax/activation/URLDataSource.java
Labels: documentation, Java

#14026 Data flow: Use call contexts in stage 3
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required

#14027 ReDoS: limit concretize to strings of at most length 100
  shared/regex/codeql/regex/nfa/NfaUtils.qll
Labels: JS, Java, Python, Ruby, Swift

#13900 Java: Improve `JaxWsEndpoint::getARemoteMethod`
  java/ql/lib/change-notes/2023-08-07-jaxrs-webmethod-improvements.md
  java/ql/lib/semmle/code/java/frameworks/JaxWS.qll
  java/ql/test/library-tests/frameworks/JaxWs/JaxWsEndpoint.java
  java/ql/test/stubs/jaxws-api-2.0/javax/xml/bind/annotation/adapters/XmlJavaTypeAdapter.java
Labels: documentation, Java

#14032 Java: Use nested names in MaD signatures.
  java/ql/lib/change-notes/2023-08-23-mad-nestednames.md
  java/ql/lib/ext/android.app.model.yml
  java/ql/lib/ext/android.database.sqlite.model.yml
  java/ql/lib/ext/androidx.core.app.model.yml
  java/ql/lib/ext/com.google.common.collect.model.yml
  java/ql/lib/ext/com.rabbitmq.client.model.yml
  java/ql/lib/ext/generated/kotlinstdlib.model.yml
  java/ql/lib/ext/generated/org.apache.commons.io.model.yml
  java/ql/lib/ext/generated/stapler.model.yml
  java/ql/lib/ext/generated/struts2.model.yml
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/ext/java.util.model.yml
  java/ql/lib/ext/org.apache.commons.collections.keyvalue.model.yml
  java/ql/lib/ext/org.apache.commons.collections.map.model.yml
  java/ql/lib/ext/org.apache.commons.collections4.keyvalue.model.yml
  java/ql/lib/ext/org.apache.commons.collections4.map.model.yml
  java/ql/lib/ext/org.apache.commons.lang3.model.yml
  java/ql/lib/ext/org.apache.hc.core5.http.io.model.yml
  java/ql/lib/ext/org.influxdb.model.yml
  java/ql/lib/ext/org.jboss.logging.model.yml
  java/ql/lib/ext/org.springframework.util.model.yml
  java/ql/lib/ext/org.springframework.web.util.model.yml
  java/ql/lib/ext/struts2.model.yml
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/test/library-tests/dataflow/callback-dispatch/test.ext.yml
Labels: documentation, Java

#14035 Variable capture: synchronize with aliases in nested scopes
  java/ql/test/library-tests/dataflow/capture/B.java
  shared/dataflow/codeql/dataflow/VariableCapture.qll
Labels: Java

#14039 C++: Omit assign case from `cpp/non-constant-format`
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
  cpp/ql/src/change-notes/2023-08-24-remove-non-constant-assign-sources.md
Labels: C++, documentation

#14045 C#: Favor DLLs with most recent .NET Core target framework when resolving dependencies in standalone
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyCache.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
Labels: C#, no-change-note-required

#13779 Python: Understand multiple parse mode flags specified in a regular expression string
  python/ql/lib/change-notes/2023-07-20-regex-parse-modes.md
  python/ql/lib/semmle/python/regexp/internal/ParseRegExp.qll
  python/ql/test/library-tests/regex/Characters.expected
  python/ql/test/library-tests/regex/FirstLast.expected
  python/ql/test/library-tests/regex/GroupContents.expected
  python/ql/test/library-tests/regex/Regex.expected
  python/ql/test/query-tests/Security/CWE-116-BadTagFilter/BadTagFilter.expected
  python/ql/test/query-tests/Security/CWE-116-BadTagFilter/tst.py
  python/ql/test/query-tests/Security/CWE-730-ReDoS/ReDoS.expected
  python/ql/test/query-tests/Security/CWE-730-ReDoS/unittests.py
Labels: documentation, Python

#13827 Swift: Model withUnsafeBytes and similar closure methods
  swift/ql/lib/change-notes/2023-08-04-closure-models.md
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/lib/codeql/swift/frameworks/Frameworks.qll
  swift/ql/lib/codeql/swift/frameworks/JavaScriptCore/JavaScriptCore.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Array.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Collection.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/PointerTypes.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Sequence.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
  swift/ql/lib/codeql/swift/security/UnsafeJsEvalExtensions.qll
  swift/ql/lib/codeql/swift/security/UnsafeJsEvalQuery.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/taint/libraries/int.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/string.swift
  swift/ql/test/query-tests/Security/CWE-094/UnsafeJsEval.expected
Labels: documentation, Swift

#14049 Kotlin: We now support 1.9.10
  docs/codeql/reusables/supported-versions-compilers.rst
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/diagnostics.expected
  java/ql/lib/change-notes/2023-08-24-kotlin-1.9.10.md
Labels: documentation, Java

#14047 Data flow: Fix a bad join order
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required

#14056 Java: Re-generate Jenkins and Stapler models
  java/ql/lib/ext/generated/jenkins.model.yml
  java/ql/lib/ext/generated/stapler.model.yml
  java/ql/lib/ext/hudson.model.model.yml
  java/ql/lib/ext/hudson.model.yml
Labels: Java, no-change-note-required

#14052 Swift: Route compiler diagnostics through our log.
  swift/extractor/invocation/SwiftDiagnosticsConsumer.cpp
  swift/extractor/invocation/SwiftDiagnosticsConsumer.h
  swift/extractor/main.cpp
Labels: Swift

#14013 CPP:Only taint argv indirections
  cpp/ql/lib/change-notes/2023-08-24-no-taint-argv-indirections.md
  cpp/ql/lib/semmle/code/cpp/security/FlowSources.qll
  cpp/ql/src/change-notes/2023-08-24-no-taint-argv-indirections.md
  cpp/ql/src/experimental/Security/CWE/CWE-078/WordexpTainted.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-078/WordexpTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowDestination.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-129/semmle/ImproperArrayIndexValidation/ImproperArrayIndexValidation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
Labels: C++, depends on internal PR, documentation

#14051 Docs: Update screenshots of variant analysis results view
  docs/codeql/images/codeql-for-visual-studio-code/variant-analysis-results-view.png
  docs/codeql/images/codeql-for-visual-studio-code/variant-analysis-results-warning.png
Labels: documentation, ready-for-doc-review

#13313 Ruby: Add Improper LDAP Authentication query (CWE-287)
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/frameworks/Ldap.qll
  ruby/ql/lib/codeql/ruby/security/ImproperLdapAuthCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/ImproperLdapAuthQuery.qll
  ruby/ql/src/change-notes/2023-05-29-improper-ldap-auth-query.md
  ruby/ql/src/experimental/ldap-improper-auth/ImproperLdapAuth.qhelp
  ruby/ql/src/experimental/ldap-improper-auth/ImproperLdapAuth.ql
  ruby/ql/src/experimental/ldap-improper-auth/examples/LdapAuthenticationBad.rb
  ruby/ql/src/experimental/ldap-improper-auth/examples/LdapAuthenticationGood.rb
  ruby/ql/test/query-tests/experimental/ImproperLdapAuth/ImproperLdapAuth.expected
  ruby/ql/test/query-tests/experimental/ImproperLdapAuth/ImproperLdapAuth.qlref
  ruby/ql/test/query-tests/experimental/ImproperLdapAuth/ImproperLdapAuth.rb
Labels: documentation, Ruby

#14028 C#: Improve GetFiles in the Dependency Manager.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileContent.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileInfoExtensions.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/ProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.Tests/FileContent.cs
Labels: C#

#14067 Python: Adopt tests to new `DataflowQueryTest`
  python/ql/test/experimental/dataflow/TestUtil/DataflowQueryTest.qll
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/DataflowQueryTest.ql
  python/ql/test/query-tests/Security/CWE-022-PathInjection/DataflowQueryTest.ql
  python/ql/test/query-tests/Security/CWE-078-CommandInjection/DataflowQueryTest.ql
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/DataflowQueryTest.ql
Labels: Python, no-change-note-required

#13935 Python: MaD on externals
  config/identical-files.json
  python/ql/lib/qlpack.yml
  python/ql/lib/semmle/python/frameworks/data/internal/empty.model.yml
  python/ql/test/experimental/dataflow/model-summaries/InlineTaintTest.ext.yml
  python/ql/test/experimental/dataflow/model-summaries/InlineTaintTest.ql
  python/ql/test/experimental/dataflow/model-summaries/NormalDataflowTest.ext.yml
  python/ql/test/experimental/dataflow/model-summaries/NormalDataflowTest.ql
  python/ql/test/experimental/dataflow/model-summaries/TestSummaries.qll
  python/ql/test/library-tests/frameworks/data/test.ext.yml
  python/ql/test/library-tests/frameworks/data/test.ql
Labels: Python, no-change-note-required

#14059 Python: Fix stdlib sinks in LogInjection query
  python/ql/lib/semmle/python/security/dataflow/LogInjectionCustomizations.qll
Labels: Python, no-change-note-required

#14069 C#: Download `nuget.exe` in the dependency manager (if not present).
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackages.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/ProgressMonitor.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
Labels: C#, no-change-note-required

#14058 CPP: Add parent class for delete and delete[]
  cpp/ql/lib/change-notes/2023-08-25-delete-or-delete-array.md
  cpp/ql/lib/change-notes/2023-08-25-getAllocatorCall-deprecated.md
  cpp/ql/lib/semmle/code/cpp/PrintAST.qll
  cpp/ql/lib/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/Security/CWE/CWE-570/IncorrectAllocationErrorHandling.ql
  cpp/ql/test/library-tests/allocators/allocators.expected
  cpp/ql/test/library-tests/allocators/allocators.ql
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Labels: C++, documentation

#14060 C++: Fix FP in `cpp/compare-where-assign-meant`
  cpp/ql/src/Likely Bugs/Likely Typos/CompareWhereAssignMeant.ql
  cpp/ql/src/change-notes/2023-08-25-compare-where-assign-meant.md
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/CompareWhereAssignMeant/CompareWhereAssignMeant.expected
  cpp/ql/test/query-tests/Likely Bugs/Likely Typos/CompareWhereAssignMeant/test.cpp
Labels: C++, documentation

#14006 C++: Promote `cpp/invalid-pointer-deref` out of experimental
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ProductFlow.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/RangeAnalysisUtil.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticGuard.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/ModulusAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeUtils.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/InvalidPointerToDereference.qll
  cpp/ql/src/Security/CWE/CWE-119/OverrunWriteProductFlow.ql
  cpp/ql/src/Security/CWE/CWE-193/InvalidPointerDeref.cpp
  cpp/ql/src/Security/CWE/CWE-193/InvalidPointerDeref.qhelp
  cpp/ql/src/Security/CWE/CWE-193/InvalidPointerDeref.ql
  cpp/ql/src/change-notes/2023-08-21-invalid-pointer-deref.md
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-193/AllocationToInvalidPointer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/AllocationToInvalidPointer.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerToDereference.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerToDereference.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-193/test.cpp
Labels: C++, documentation, ready-for-doc-review

#14079 Delete thin space from documentation
  csharp/ql/src/Concurrency/UnsynchronizedStaticAccess.qhelp
Labels: C#, documentation

#13954 Java: Automodel: Add Candidates for Regression Testing
  java/ql/src/Telemetry/AutomodelApplicationModeExtractCandidates.ql
  java/ql/src/Telemetry/AutomodelApplicationModeExtractPositiveExamples.ql
  java/ql/src/Telemetry/AutomodelFrameworkModeExtractCandidates.ql
  java/ql/src/Telemetry/AutomodelFrameworkModeExtractPositiveExamples.ql
  java/ql/src/Telemetry/AutomodelSharedCharacteristics.qll
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/Test.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractPositiveExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/java/nio/file/Files.java
Labels: Java, no-change-note-required

#14082 C#: Bump all dependencies
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/Semmle.Autobuild.Cpp.Tests.csproj
  cpp/autobuilder/Semmle.Autobuild.Cpp/Semmle.Autobuild.Cpp.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/Semmle.Autobuild.CSharp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.Shared/Semmle.Autobuild.Shared.csproj
  csharp/extractor/Semmle.Extraction.CIL/Semmle.Extraction.CIL.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction.Tests/Semmle.Extraction.Tests.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Util.Tests/Semmle.Util.Tests.csproj
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
  csharp/ql/integration-tests/posix-only/dotnet_test/dotnet_test.csproj
  csharp/ql/integration-tests/posix-only/dotnet_test_mstest/dotnet_test_mstest.csproj
Labels: C#, C++, no-change-note-required

#14083 C#: Re-factor using statements order in autobuilder.
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpDiagnosticClassifier.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Solution.cs
Labels: C#, no-change-note-required

#13943 Swift: Update the weak sensitive data hashing examples and qhelp
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashing.qhelp
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashingBad.swift
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashingGood.swift
Labels: documentation, no-change-note-required, ready-for-doc-review, Swift

#14086 C#: Various performance fixes
  csharp/ql/lib/semmle/code/csharp/Unification.qll
  csharp/ql/lib/semmle/code/csharp/commons/Assertions.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/dispatch/Dispatch.qll
  shared/controlflow/codeql/controlflow/Cfg.qll
Labels: C#, no-change-note-required

#14034 Swift: New query: Incomplete regular expression for hostnames
  swift/ql/lib/codeql/swift/regex/Regex.qll
  swift/ql/lib/codeql/swift/security/regex/HostnameRegex.qll
  swift/ql/src/change-notes/2023-08-23-incomplete-hostname-regex.md
  swift/ql/src/queries/Security/CWE-020/IncompleteHostnameRegex.qhelp
  swift/ql/src/queries/Security/CWE-020/IncompleteHostnameRegex.ql
  swift/ql/src/queries/Security/CWE-020/IncompleteHostnameRegexBad.swift
  swift/ql/src/queries/Security/CWE-020/IncompleteHostnameRegexGood.swift
  swift/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegex.expected
  swift/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegex.qlref
  swift/ql/test/query-tests/Security/CWE-020/test.swift
Labels: documentation, ready-for-doc-review, Swift

#14084 Python: Remove XSS FP from use of `flask.jsonify`
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/src/change-notes/2023-08-29-fixed-jsonify-xss-fp.md
  python/ql/test/library-tests/frameworks/flask/response_test.py
  python/ql/test/query-tests/Security/CWE-079-ReflectedXss/reflected_xss.py
Labels: documentation, Python

#14096 Ruby: Update expected test output
  .github/workflows/ruby-qltest.yml
  ruby/ql/test/query-tests/security/cwe-1333-exponential-redos/ReDoS.expected
Labels: Ruby

#14008 C++: Reuse even more `DataFlow::Node`s
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/ArrayAccessProductFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/self_argument_flow.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_self_argument_flow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_self_argument_flow.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/OverrunWriteProductFlow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowDestination.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/PotentiallyExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
Labels: C++, depends on internal PR, no-change-note-required

#14038 CPP: Add delete/delete[] calls to the IR.
  cpp/ql/lib/change-notes/2023-08-29-delete-ir.md
  cpp/ql/lib/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/SideEffects.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/DoubleFree.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryFreed.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryNeverFreed.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/test_free.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseAfterFree.expected
  csharp/ql/src/experimental/ir/implementation/Opcode.qll
  csharp/ql/src/experimental/ir/implementation/raw/Instruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Instruction.qll
Labels: C#, C++, documentation

#14098 C#: Speedup `bestImplementation`
  csharp/ql/lib/semmle/code/cil/Stubs.qll
Labels: C#, no-change-note-required

#14100 Data flow: Add consistency checks to shared ql pack
  config/identical-files.json
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/consistency-queries/DataFlowConsistency.ql
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplConsistency.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplConsistency.qll
  python/ql/test/experimental/dataflow/TestUtil/DataFlowConsistency.qll
  ruby/ql/consistency-queries/DataFlowConsistency.ql
  shared/dataflow/codeql/dataflow/internal/DataFlowImplConsistency.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplConsistency.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby, Swift, DataFlow Library

#14110 Ruby: Get rid of unused `EmptinessSuccessor`
  ruby/ql/lib/codeql/ruby/controlflow/ControlFlowGraph.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
Labels: no-change-note-required, Ruby

#14103 C++: Non-certain definitions should always be uses
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Labels: C++, no-change-note-required

#13782 Python: Add `shlex.quote` as `py/shell-command-constructed-from-input` sanitizer
  python/ql/lib/change-notes/2023-07-20-shlex-quote-sanitizer.md
  python/ql/lib/semmle/python/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/UnsafeShellCommandConstructionQuery.qll
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/src/unsafe_shell_test.py
Labels: documentation, Python
