Repository github/codeql, pull requests merged in 2023-12, with the labels that each got.

#14985 Hackathinfixes
  ruby/extractor/rust-toolchain.toml
  ruby/scripts/create-extractor-pack.sh
  shared/tree-sitter-extractor/src/extractor/mod.rs
  shared/yeast/src/lib.rs
  shared/yeast/src/rules.rs
Labels: Ruby

#14987 C++: Remove unneeded dataflow imports
  cpp/ql/src/experimental/Security/CWE/CWE-416/UseAfterExpiredLifetime.ql
  cpp/ql/src/experimental/cryptography/example_alerts/WeakHashes.ql
Labels: C++

#14832 C#: Strengthen call-back heuristics by considering body-less methods
  csharp/ql/lib/semmle/code/csharp/Callable.qll
  csharp/ql/lib/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/lib/semmle/code/csharp/File.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
Labels: C#, no-change-note-required

#8457 Python: Add dataflow consistency query
  python/ql/consistency-queries/DataFlowConsistency.ql
  python/ql/test/experimental/dataflow/TestUtil/DataFlowConsistency.qll
  python/ql/test/experimental/dataflow/basic/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/basic/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/callgraph_crosstalk/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/callgraph_crosstalk/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/calls/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/calls/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/coverage/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/coverage/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/exceptions/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/exceptions/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/fieldflow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/fieldflow/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/global-flow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/global-flow/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/match/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/match/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/pep_328/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/pep_328/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/regression/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/regression/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/strange-essaflow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/strange-essaflow/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/basic/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/basic/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/commonSanitizer/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/commonSanitizer/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/generator-flow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/generator-flow/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/tainttracking/unwanted-global-flow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/unwanted-global-flow/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/typetracking/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/typetracking/dataflow-consistency.ql
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.ql
  python/ql/test/experimental/library-tests/CallGraph/dataflow-consistency.expected
  python/ql/test/experimental/library-tests/CallGraph/dataflow-consistency.ql
  python/ql/test/library-tests/ApiGraphs/py3/dataflow-consistency.expected
  python/ql/test/library-tests/ApiGraphs/py3/dataflow-consistency.ql
  python/ql/test/library-tests/frameworks/django-orm/CONSISTENCY/DataFlowConsistency.expected
  python/ql/test/library-tests/frameworks/django-orm/dataflow-consistency.ql
  python/ql/test/library-tests/frameworks/django/CONSISTENCY/DataFlowConsistency.expected
  python/ql/test/library-tests/frameworks/rest_framework/CONSISTENCY/DataFlowConsistency.expected
  python/ql/test/query-tests/Security/CWE-089-SqlInjection/CONSISTENCY/DataFlowConsistency.expected
Labels: Python

#14988 Java: report any extracted file as successfully extracted
  java/ql/lib/change-notes/2023-12-04-java-successfully-extracted.md
  java/ql/src/Diagnostics/DiagnosticsReporting.qll
  java/ql/src/Diagnostics/SuccessfullyExtractedFiles.ql
Labels: documentation, Java

#14993 Update inconsistent CWE tags
  csharp/ql/src/Security Features/CWE-639/InsecureDirectObjectReference.ql
  csharp/ql/src/experimental/Security Features/CWE-759/HashWithoutSalt.ql
  java/ql/src/experimental/Security/CWE/CWE-073/FilePathInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.ql
  java/ql/src/experimental/Security/CWE/CWE-625/PermissiveDotRegex.ql
Labels: C#, Java, no-change-note-required

#14913 Java: add Spring models
  java/ql/lib/change-notes/2023-11-29-new-spring-models.md
  java/ql/lib/ext/org.springframework.core.io.model.yml
  java/ql/lib/ext/org.springframework.web.util.model.yml
  java/ql/test/library-tests/frameworks/spring/webutil/Test.java
Labels: documentation, Java

#14938 Go: improve test unhandled close writable handle
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/UnhandledCloseWritableHandle.expected
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/tests.go
Labels: Go

#14996 C++: Fix `chmod` prototype in toctou test and additional test
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/test2.cpp
Labels: C++

#14991 C#: Prefer assembly version over netcore version in conflict resolution
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyCacheExtensions.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies/Assemblies.expected
  csharp/ql/integration-tests/windows-only/standalone_dependencies/Assemblies.expected
Labels: C#

#14990 C#: Add a few more `is (not) null` tests
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/EqualityCheck.expected
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullAlways.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#, no-change-note-required

#14997 Kotlin: Accept some location changes in test-kotlin2/library-tests/vararg
  java/ql/test-kotlin2/library-tests/vararg/args.expected
Labels: Java

#14867 C++: Reduce duplication from crement operations
  cpp/ql/lib/change-notes/2023-11-30-as-definition.md
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qll
  cpp/ql/src/Security/CWE/CWE-190/IntegerOverflowTainted.ql
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/Adding365DaysPerYear/Adding365daysPerYear.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
Labels: C++, documentation

#14953 C#: Fix a URL redirection from remote source false positive
  csharp/ql/lib/semmle/code/csharp/security/dataflow/UrlRedirectQuery.qll
  csharp/ql/src/change-notes/2023-11-29-url-redirect-false-positive.md
  csharp/ql/test/library-tests/dataflow/flowsources/remote/remoteFlowSource.ql
  csharp/ql/test/query-tests/Security Features/CWE-601/UrlRedirect/UrlRedirect.cs
  csharp/ql/test/query-tests/Security Features/CWE-601/UrlRedirect/UrlRedirect.expected
  csharp/ql/test/resources/stubs/System.Web.cs
Labels: C#, documentation

#15005 C++: Fix IRGuards ternary behaviour
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/test.c
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
Labels: C++, no-change-note-required

#15008 Kotlin: Track taint through Array.get/set
  java/ql/lib/change-notes/2023-12-05-kotlin-array-get-set.md
  java/ql/lib/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/test-kotlin1/library-tests/dataflow/foreach/C2.kt
  java/ql/test-kotlin1/library-tests/dataflow/foreach/test.expected
Labels: documentation, Java

#14709 Ruby: Adopt shared type tracking library
  config/identical-files.json
  ruby/ql/consistency-queries/TypeTrackingConsistency.ql
  ruby/ql/lib/change-notes/2023-11-21-new-type-tracking-lib.md
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/XmlParsing.qll
  ruby/ql/lib/codeql/ruby/frameworks/rack/internal/App.qll
  ruby/ql/lib/codeql/ruby/frameworks/rack/internal/Response.qll
  ruby/ql/lib/codeql/ruby/regexp/internal/RegExpTracking.qll
  ruby/ql/lib/codeql/ruby/security/InsecureDownloadCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/OpenSSL.qll
  ruby/ql/lib/codeql/ruby/security/StackTraceExposureCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeCodeConstructionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeHtmlConstructionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeShellCommandConstructionCustomizations.qll
  ruby/ql/lib/codeql/ruby/typetracking/ApiGraphShared.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracking.qll
  ruby/ql/lib/codeql/ruby/typetracking/internal/TypeTrackingImpl.qll
  ruby/ql/test/TestUtilities/InlineTypeTrackingFlowTest.qll
  ruby/ql/test/library-tests/dataflow/array-flow/type-tracking-array-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/type-tracking-hash-flow.expected
  ruby/ql/test/library-tests/dataflow/params/TypeTracker.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.ql
Labels: documentation, Ruby

#14962 Go: Improve tests for Incorrect Integer Conversion
  go/ql/test/query-tests/Security/CWE-681/IncorrectIntegerConversion.go
  go/ql/test/query-tests/Security/CWE-681/IncorrectIntegerConversion.ql
  go/ql/test/query-tests/Security/CWE-681/Test32BitArchitectureBuildConstraintInFileName_386.go
  go/ql/test/query-tests/Security/CWE-681/Test32BitArchitectureBuildConstraints.go
  go/ql/test/query-tests/Security/CWE-681/Test64BitArchitectureBuildConstraintInFileName_amd64.go
  go/ql/test/query-tests/Security/CWE-681/Test64BitArchitectureBuildConstraints.go
  go/ql/test/query-tests/Security/CWE-681/TestNoArchitectureBuildConstraints.go
  go/ql/test/query-tests/Security/CWE-681/TestOldBuildConstraints.go
Labels: Go

#14853 Swift: More sinks for swift/cleartext-logging
  swift/ql/lib/codeql/swift/StringFormat.qll
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPrivate.qll
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
  swift/ql/src/change-notes/2023-11-20-cleartext-logging.md
  swift/ql/test/query-tests/Security/CWE-312/CleartextLoggingTest.ql
  swift/ql/test/query-tests/Security/CWE-312/cleartextLoggingTest.swift
Labels: documentation, Swift

#15015 C++: Add `_Exit` to the list of exiting (non-returning) functions
  cpp/ql/lib/DefaultOptions.qll
Labels: no-change-note-required

#14692 Swift: Simplify AdoptsWkNavigationDelegate in WebView.qll.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/WebView.qll
Labels: no-change-note-required, Swift

#14799 DataFlow: Add language-specific predicate for ignoring steps in flow-through calculation
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplSpecific.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/flowOut.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/has-parameter-flow-out.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
Labels: C++, no-change-note-required, DataFlow Library

#15004 Swift: fix autobuilder bug when Xcode failure breaks the whole autobuild process
  swift/integration-tests/.gitignore
  swift/integration-tests/osx-only/autobuilder/xcode-fails-spm-works/Files.expected
  swift/integration-tests/osx-only/autobuilder/xcode-fails-spm-works/Files.ql
  swift/integration-tests/osx-only/autobuilder/xcode-fails-spm-works/Package.swift
  swift/integration-tests/osx-only/autobuilder/xcode-fails-spm-works/Sources/hello-world/hello_world.swift
  swift/integration-tests/osx-only/autobuilder/xcode-fails-spm-works/codeql-swift-autobuild-test.xcodeproj/project.pbxproj
  swift/integration-tests/osx-only/autobuilder/xcode-fails-spm-works/codeql-swift-autobuild-test/AppDelegate.swift
  swift/integration-tests/osx-only/autobuilder/xcode-fails-spm-works/test.py
  swift/swift-autobuilder/swift-autobuilder.cpp
Labels: Swift

#15021 C++: Fix handling of unreached instructions in IRGuards
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/test.c
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
Labels: C++, no-change-note-required

#15009 Docs: DataFlow: Add a missing qualifier
  docs/codeql/writing-codeql-queries/debugging-data-flow-queries-using-partial-flow.rst
Labels: documentation

#15023 Kotlin: Fix dataflow with Array.set wrappers
  java/ql/lib/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/test-kotlin1/library-tests/dataflow/foreach/C2.kt
  java/ql/test-kotlin1/library-tests/dataflow/foreach/test.expected
Labels: Java, no-change-note-required

#14992 C++: replace Guards with IRGuards
  cpp/ql/lib/change-notes/2022-11-21-ir-guards-replacement.md
  cpp/ql/lib/semmle/code/cpp/controlflow/Guards.qll
  cpp/ql/test/library-tests/controlflow/controlflow/SsaLt.expected
  cpp/ql/test/library-tests/controlflow/guards/Guards.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.expected
Labels: C++, documentation

#15029 docs: update supported Swift version
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#15027 C++: Also support the `__noreturn__` attribute in `exits`
  cpp/ql/lib/DefaultOptions.qll
Labels: C++, no-change-note-required

#15024 C#: Add interpolated string handler attributes to generated stubs
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/StubVisitor.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Memory.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Runtime.cs
Labels: C#

#14909 C++: Remove `DefaultTaintTracking` library
  cpp/ql/lib/change-notes/2023-11-25-default-taint-tracking-removal.md
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DefaultTaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/security/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/security/TaintTrackingImpl.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/dispatch.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/tainted.ql
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/test_diff.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/stl.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/tainted.ql
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/globals/global.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/globals/global.ql
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/globals/globals.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/shared.h
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.ql
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.ql
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.ql
  cpp/ql/test/library-tests/dataflow/security-taint/test.cpp
Labels: C++, documentation

#15038 Swift: Model Manual Memory Management closure functions and withMemoryRebound variants
  swift/ql/lib/change-notes/2023-12-07-closure-models.md
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Array.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Data.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/PointerTypes.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/unsafepointer.swift
Labels: documentation, Swift

#14679 Ruby: Experimental model editor support
  ruby/ql/lib/codeql/ruby/frameworks/core/Gem.qll
  ruby/ql/lib/codeql/ruby/security/CodeInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/CommandInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/LogInjectionQuery.qll
  ruby/ql/lib/codeql/ruby/security/PathInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/SqlInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UrlRedirectCustomizations.qll
  ruby/ql/src/queries/modeling/GenerateModel.ql
  ruby/ql/src/utils/modeleditor/ApplicationModeEndpoints.ql
  ruby/ql/src/utils/modeleditor/FrameworkModeEndpoints.ql
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
  ruby/ql/test/query-tests/utils/modeleditor/FrameworkModeEndpoints.expected
  ruby/ql/test/query-tests/utils/modeleditor/FrameworkModeEndpoints.qlref
  ruby/ql/test/query-tests/utils/modeleditor/lib/module.rb
  ruby/ql/test/query-tests/utils/modeleditor/lib/mylib.rb
  ruby/ql/test/query-tests/utils/modeleditor/lib/other.rb
  ruby/ql/test/query-tests/utils/modeleditor/mylib.gemspec
  ruby/ql/test/query-tests/utils/modeleditor/other_lib/lib/other_gem.rb
  ruby/ql/test/query-tests/utils/modeleditor/other_lib/other_lib.gemspec
Labels: no-change-note-required, Ruby

#15040 C++: Fix dataflow inconsistencies
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/ArrayAccessProductFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/OverrunWriteProductFlow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
Labels: C++, depends on internal PR, no-change-note-required

#15046 Dataflow: Add change note about deprecation.
  shared/dataflow/change-notes/2023-12-08-dataflow-old-api-deprecated.md
Labels: documentation, DataFlow Library

#15043 QL4QL: Improvements to `RedundantImport` query
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointCharacteristics.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractMisclassifiedEndpointFeatures.ql
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/FilteredTruePositives.ql
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/lib/semmle/javascript/dataflow/TypeInference.qll
  javascript/ql/lib/semmle/javascript/frameworks/AngularJS/DependencyInjections.qll
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/LoopBoundInjectionQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutionQuery.qll
  javascript/ql/src/meta/analysis-quality/UnmodelledSteps.ql
  javascript/ql/test/library-tests/DependencyModuleImports/Test.ql
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/style/RedundantImportQuery.qll
  ql/ql/test/queries/style/RedundantImport/D.qll
  ql/ql/test/queries/style/RedundantImport/E.qll
  ql/ql/test/queries/style/RedundantImport/RedundantImport.expected
  ql/ql/test/queries/style/RedundantImport/RedundantImport.qlref
  ql/ql/test/queries/style/RedundantImport/folder/A.qll
  ql/ql/test/queries/style/RedundantImport/folder/B.qll
  ql/ql/test/queries/style/RedundantImport/folder/C.qll
Labels: JS, no-change-note-required, QL-for-QL, ATM

#14972 C++: Experimental query for implementation of a cryptographic primitive
  cpp/ql/src/experimental/Security/CWE/CWE-1240/CustomCryptographicPrimitive.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-1240/CustomCryptographicPrimitive.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-1240/CustomCryptographicPrimitive.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-1240/library/tests_library.h
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-1240/tests_crypto.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-1240/tests_not_crypto.cpp
Labels: C++

#14925 Swift: Imprecise Taint Flows
  swift/ql/lib/change-notes/2023-11-27-append.md
  swift/ql/lib/codeql/swift/frameworks/Heuristic.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/array.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/custom.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/ui.swift
Labels: documentation, Swift

#15030 Python: Remove control flow nodes for module entry definitions from the dataflow graph.
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/basic/local.expected
  python/ql/test/experimental/dataflow/basic/sinks.expected
  python/ql/test/experimental/dataflow/basic/sources.expected
  python/ql/test/experimental/dataflow/enclosing-callable/EnclosingCallable.expected
  python/ql/test/experimental/dataflow/import-star/global.expected
  python/ql/test/experimental/import-resolution/ModuleExport.expected
  python/ql/test/experimental/import-resolution/package/subpackage/__init__.py
  python/ql/test/library-tests/PointsTo/new/ImpliesDataflow.expected
Labels: Python, no-change-note-required

#15050 C#: Default parameters for object using attributes.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/ql/test/library-tests/parameters/Parameters.cs
  csharp/ql/test/library-tests/parameters/Parameters.cs_
  csharp/ql/test/library-tests/parameters/Parameters.dll
  csharp/ql/test/library-tests/parameters/Parameters.expected
  csharp/ql/test/library-tests/standalone/errorrecovery/DiagnosticsAndErrors.expected
Labels: C#, no-change-note-required

#15026 Java: Deprecate or remove imports of dataflow library copies
  java/ql/lib/change-notes/2023-12-08-deprecate-reexport-of-old-dataflow-libraries.md
  java/ql/lib/semmle/code/java/frameworks/JsonIo.qll
  java/ql/lib/semmle/code/java/regex/RegexFlowConfigs.qll
  java/ql/lib/semmle/code/java/security/AndroidIntentRedirectionQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageCookieQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageQuery.qll
  java/ql/lib/semmle/code/java/security/HardcodedCredentialsSourceCallQuery.qll
  java/ql/lib/semmle/code/java/security/XmlParsers.qll
  java/ql/src/experimental/Security/CWE/CWE-1004/SensitiveCookieNotHttpOnly.ql
Labels: documentation, Java

#15063 C#: Use `CODEQL_EXTRACTOR_CSHARP_SCRATCH_DIR` instead of `Path.GetTempPath`
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Razor.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Util/EnvironmentVariables.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
Labels: C#, C++, no-change-note-required

#15037 Rangeanalysis: Prune range calculation.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisConstantSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisRelativeSpecific.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
Labels: C++, no-change-note-required

#14910 CPP: Add query for detecteing incorrect error checking for scanf
  cpp/ql/src/Critical/IncorrectCheckScanf.cpp
  cpp/ql/src/Critical/IncorrectCheckScanf.qhelp
  cpp/ql/src/Critical/IncorrectCheckScanf.ql
  cpp/ql/src/Critical/MissingCheckScanf.ql
  cpp/ql/src/Critical/ScanfChecks.qll
  cpp/ql/src/change-notes/2023-12-04-incorrectly-checked-scanf.md
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/IncorrectCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/IncorrectCheckScanf.qlref
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Labels: C++, documentation, ready-for-doc-review

#15051 Python: slightly improve tarslip logic
  python/ql/lib/semmle/python/security/dataflow/TarSlipCustomizations.qll
Labels: Python, no-change-note-required

#15074 Data flow: Use cached `nodeDataFlowType` instead of `getNodeType`
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
Labels: no-change-note-required, DataFlow Library

#15075 C++: Add a `PropertyProvider` for only showing dataflow-relevant IR
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/PrintDataFlowRelevantIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
Labels: C++, no-change-note-required

#15047 C++: Add `PostUpdateNode`s for addresses of outgoing arguments
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/src/Critical/DoubleFree.ql
  cpp/ql/src/Critical/FlowAfterFree.qll
  cpp/ql/src/Critical/UseAfterFree.ql
  cpp/ql/test/query-tests/Critical/MemoryFreed/DoubleFree.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/test_free.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseAfterFree/UseAfterFree.expected
Labels: C++, no-change-note-required

#13608 Java: Add Weak Randomness Query (CWE-330/338)
  java/ql/lib/ext/java.security.spec.model.yml
  java/ql/lib/ext/javax.crypto.spec.model.yml
  java/ql/lib/semmle/code/java/security/InsecureRandomnessQuery.qll
  java/ql/lib/semmle/code/java/security/RandomDataSource.qll
  java/ql/src/Security/CWE/CWE-330/InsecureRandomness.qhelp
  java/ql/src/Security/CWE/CWE-330/InsecureRandomness.ql
  java/ql/src/Security/CWE/CWE-330/examples/InsecureRandomnessCookie.java
  java/ql/src/Security/CWE/CWE-330/examples/SecureRandomnessCookie.java
  java/ql/src/change-notes/2023-11-08-weak-randomness-query.md
  java/ql/test/query-tests/security/CWE-330/InsecureRandomnessTest.expected
  java/ql/test/query-tests/security/CWE-330/InsecureRandomnessTest.ql
  java/ql/test/query-tests/security/CWE-330/WeakRandomCookies.java
  java/ql/test/query-tests/security/CWE-330/options
  java/ql/test/stubs/esapi-2.0.1/org/owasp/esapi/Encoder.java
  java/ql/test/stubs/esapi-2.0.1/org/owasp/esapi/reference/DefaultEncoder.java
Labels: documentation, Java, ready-for-doc-review

#15054 Go: Also follow jump steps when looking for a callee source
  go/ql/lib/change-notes/2023-12-08-find-more-callees-for-captured-functions.md
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
Labels: documentation, Go

#15073 Java: Remove invalid OGNL sinks
  java/ql/lib/ext/struts2.model.yml
  java/ql/src/change-notes/2023-12-12-ognl-invalid-sinks.md
Labels: documentation, Java

#15076 Release change notes for 2.15.4
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#15087 C#: Stub generator support for `ref readonly` parameters.
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/StubVisitor.cs
  csharp/extractor/Semmle.Extraction.Tests/StubGenerator.cs
Labels: C#

#13110 [CSharp] AWS Lambda Modelling
  csharp/ql/lib/change-notes/2023-06-22-aws-lambda-models.md
  csharp/ql/lib/ext/Amazon.Lambda.model.yml
  csharp/ql/test/library-tests/frameworks/Aws/lambda.cs
  csharp/ql/test/library-tests/frameworks/Aws/lambda.expected
  csharp/ql/test/library-tests/frameworks/Aws/lambda.ql
  csharp/ql/test/library-tests/frameworks/Aws/options
  csharp/ql/test/resources/stubs/Amazon.Lambda.APIGatewayEvents/2.7.0/Amazon.Lambda.APIGatewayEvents.cs
  csharp/ql/test/resources/stubs/Amazon.Lambda.APIGatewayEvents/2.7.0/Amazon.Lambda.APIGatewayEvents.csproj
  csharp/ql/test/resources/stubs/Amazon.Lambda.Core/2.2.0/Amazon.Lambda.Core.cs
  csharp/ql/test/resources/stubs/Amazon.Lambda.Core/2.2.0/Amazon.Lambda.Core.csproj
Labels: C#, documentation

#15088 C++: Easier debugging of dataflow node `toString` output
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DebugPrinting.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/Node0ToString.qll
Labels: C++, no-change-note-required

#15094 Revert "Swift: CommonCrypto test cases for the BrokenCryptoAlgorithm query"
  swift/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.expected
  swift/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.qlref.disabled
  swift/ql/test/query-tests/Security/CWE-327/test_commoncrypto.swift
Labels: Swift

#14802 Java: Add `.properties` file references in integration tests
  java/ql/integration-tests/all-platforms/java/buildless-maven/test.expected
  java/ql/integration-tests/all-platforms/java/buildless/test.expected
  java/ql/integration-tests/all-platforms/java/maven-sample/test.expected
Labels: Java

#15098 Fix typo.
  docs/codeql/ql-language-reference/signatures.rst
Labels: documentation

#15099 Fix typo in qll.
  python/ql/lib/semmle/python/frameworks/Flask.qll
Labels: Python, no-change-note-required

#15095 Data flow: Use `Boolean` class
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/util/codeql/util/Boolean.qll
Labels: no-change-note-required, DataFlow Library

#15070 C#: Remove unneeded options and add support for `paths/paths-ignore` in standalone
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/StandaloneBuildRule.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyOptions.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FilePathFilter.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/ProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Options.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Program.cs
  csharp/extractor/Semmle.Extraction.Tests/FilePathFilter.cs
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
Labels: C#

#15090 InlineFlowTest: Allow for custom `getArgString`
  ruby/ql/test/TestUtilities/InlineFlowTest.qll
  shared/dataflow/codeql/dataflow/test/InlineFlowTest.qll
Labels: no-change-note-required, Ruby, DataFlow Library

#15089 C#: Fix names of generic types/methods in model editor queries
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  csharp/ql/src/utils/modeleditor/ApplicationModeEndpoints.ql
  csharp/ql/src/utils/modeleditor/FrameworkModeEndpoints.ql
  csharp/ql/src/utils/modeleditor/ModelEditor.qll
  csharp/ql/test/utils/modeleditor/FrameworkModeEndpoints.expected
  csharp/ql/test/utils/modeleditor/FrameworkModeEndpoints.ext.yml
  csharp/ql/test/utils/modeleditor/PublicGenericClass.cs
Labels: C#, no-change-note-required

#15072 JS: Various TypeScript extraction fixes.
  javascript/extractor/lib/typescript/src/ast_extractor.ts
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/type_table.ts
Labels: JS

#15052 Swift: Expand models for UnsafePointer and friends
  swift/ql/lib/change-notes/2023-12-08-pointermodels.md
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/PointerTypes.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/int.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/string.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/unsafepointer.swift
  swift/ql/test/query-tests/Security/CWE-022/PathInjectionTest.expected
  swift/ql/test/query-tests/Security/CWE-022/testPathInjection.swift
Labels: documentation, Swift

#15106 Swift: Revert:Revert "Swift: CommonCrypto test cases for the BrokenCryptoAlgorithm query"
  swift/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.expected
  swift/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.qlref.disabled
  swift/ql/test/query-tests/Security/CWE-327/test_commoncrypto.swift
Labels: Swift

#15105 JS: fix the parsing of boolean environment variables in the TypeScript extractor
  javascript/extractor/lib/typescript/src/main.ts
Labels: JS

#15110 JavaScript: Add support for XML attributes in the data flow graph
  javascript/ql/lib/semmle/javascript/PrintAst.qll
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/DataFlowNode.qll
Labels: JS, no-change-note-required

#15109 Python: Delete old copy of DataFlowImplConsistency.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplConsistency.qll
Labels: Python, no-change-note-required

#15108 C#: Stub generator scripts.
  csharp/scripts/stubs/README.md
  csharp/scripts/stubs/helpers.py
  csharp/scripts/stubs/make_stubs_all.py
  csharp/scripts/stubs/make_stubs_nuget.py
Labels: C#, documentation, no-change-note-required

#15111 JS: TypeScript extractor fixes into rc/3.12
  javascript/extractor/lib/typescript/src/ast_extractor.ts
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/type_table.ts
Labels: JS

#15107 C++: Produce a better `toString` for dataflow nodes with indirections
  cpp/ql/lib/change-notes/2023-12-14-dataflow-tostring.md
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-078/WordexpTainted.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/ArrayAccessProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-359/semmle/tests/PrivateCleartextWrite.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/SAMATE/TaintedPath/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/SAMATE/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-079/semmle/CgiXss/CgiXss.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/SAMATE/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/OverrunWriteProductFlow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowDestination.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-129/semmle/ImproperArrayIndexValidation/ImproperArrayIndexValidation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/SAMATE/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/ifs/ifs.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-290/semmle/AuthenticationBypass/AuthenticationBypass.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/SAMATE/PotentiallyExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/PotentiallyExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/TaintedCondition.expected
Labels: C++, depends on internal PR, documentation

#15115 JS: add integration test for the new extractor option to disable type extraction
  javascript/ql/integration-tests/all-platforms/no-types/foo.ts
  javascript/ql/integration-tests/all-platforms/no-types/javascript.expected
  javascript/ql/integration-tests/all-platforms/no-types/javascript.ql
  javascript/ql/integration-tests/all-platforms/no-types/qlpack.yml
  javascript/ql/integration-tests/all-platforms/no-types/test.py
  javascript/ql/integration-tests/all-platforms/no-types/tsconfig.json
Labels: JS

#15117 C++: Only consider the maximum buffer size for badly bounded write
  cpp/ql/src/Security/CWE/CWE-120/BadlyBoundedWrite.ql
  cpp/ql/src/change-notes/2023-12-15-badly-bounded-write.md
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/BadlyBoundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/tests2.cpp
Labels: C++, documentation

#15120 C++: Fix joins in `cpp/resource-not-released-in-destructor`
  cpp/ql/lib/semmle/code/cpp/Function.qll
  cpp/ql/src/jsf/4.10 Classes/AV Rule 79.ql
Labels: C++, no-change-note-required

#15125 Swift: Add more test cases for application(...launchOptions...).
  swift/ql/test/library-tests/dataflow/flowsources/customurlschemes.swift
Labels: no-change-note-required, Swift

#15103 Ruby: Model simple pattern matching as value steps instead of taint steps
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/local_dataflow.rb
Labels: no-change-note-required, Ruby

#15012 Java: Fix FPs in Missing certificate pinning
  java/ql/lib/semmle/code/java/security/AndroidCertificatePinningQuery.qll
  java/ql/src/change-notes/2023-12-12-android-certificate-pinning-precision.md
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test1/Test.java
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test2/Test.java
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test3/Test.java
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test4/Test.java
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test5/Test.java
Labels: documentation, Java

#15121 C++: Fix joins in `AV Rule 145`
  cpp/ql/src/jsf/4.16 Initialization/AV Rule 145.ql
Labels: C++, no-change-note-required

#15123 C++: Fix FPs in `cpp/double-free` and `cpp/use-after-free`
  cpp/ql/src/Critical/FlowAfterFree.qll
  cpp/ql/test/query-tests/Critical/MemoryFreed/DoubleFree.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/test_free.cpp
Labels: no-change-note-required

#15119 C#: Escape method names in stub generation.
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/StubVisitor.cs
  csharp/extractor/Semmle.Extraction.Tests/StubGenerator.cs
  csharp/ql/test/resources/stubs/ServiceStack.Common/8.0.0/ServiceStack.Common.cs
  csharp/scripts/stubs/helpers.py
Labels: C#

#15129 C++: Fix joins in `cpp/wrong-type-format-argument`
  cpp/ql/lib/semmle/code/cpp/models/interfaces/FormattingFunction.qll
Labels: C++, no-change-note-required

#15132 C++: Fix joins in `isModifiableAtImpl`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/CppType.qll
Labels: C++, no-change-note-required

#15134 Swift: do not trace codesign binary
  swift/tools/tracing-config.lua
Labels: Swift

#15131 C#: Exclude not existing or problematic files from standalone extraction
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/ql/integration-tests/linux-only/standalone_dependencies_non_utf8_filename/Program.cs
  csharp/ql/integration-tests/linux-only/standalone_dependencies_non_utf8_filename/global.json
  csharp/ql/integration-tests/linux-only/standalone_dependencies_non_utf8_filename/test.csproj
  csharp/ql/integration-tests/linux-only/standalone_dependencies_non_utf8_filename/test.py
Labels: C#

#15124 C#: Add telemetry query to report extractor information
  csharp/ql/src/Telemetry/ExtractorInformation.ql
Labels: C#, no-change-note-required

#14040 Java: Add support for algorithm names specified in `.properties` files to `java/potentially-weak-cryptographic-algorithm`
  java/ql/lib/semmle/code/java/frameworks/Properties.qll
  java/ql/lib/semmle/code/java/security/MaybeBrokenCryptoAlgorithmQuery.qll
  java/ql/src/Security/CWE/CWE-327/MaybeBrokenCryptoAlgorithm.ql
  java/ql/src/change-notes/2023-12-15-weak-cryptographic-algorithm-from-properties-file.md
  java/ql/test/query-tests/security/CWE-327/semmle/tests/MaybeBrokenCryptoAlgorithm.expected
  java/ql/test/query-tests/security/CWE-327/semmle/tests/WeakHashing.java
  java/ql/test/query-tests/security/CWE-327/semmle/tests/example.properties
Labels: documentation, Java

#14848 Python: Adopt shared type tracking library
  config/identical-files.json
  python/ql/lib/change-notes/2023-11-21-new-type-tracking-lib.md
  python/ql/lib/experimental/cryptography/utils/CallCfgNodeWithTarget.qll
  python/ql/lib/semmle/python/dataflow/new/TypeTracker.qll
  python/ql/lib/semmle/python/dataflow/new/TypeTracking.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
  python/ql/lib/semmle/python/dataflow/new/internal/LocalSources.qll
  python/ql/lib/semmle/python/dataflow/new/internal/SummaryTypeTracker.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackerSpecific.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackingImpl.qll
  python/ql/lib/semmle/python/internal/CachedStages.qll
  python/ql/lib/semmle/python/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  python/ql/test/experimental/dataflow/summaries/TestSummaries.qll
  python/ql/test/experimental/dataflow/typetracking-summaries/TestSummaries.qll
  python/ql/test/experimental/dataflow/typetracking-summaries/tracked.ql
  python/ql/test/experimental/dataflow/typetracking/moduleattr.ql
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
  ruby/ql/lib/codeql/ruby/typetracking/internal/TypeTrackingImpl.qll
  shared/typetracking/codeql/typetracking/TypeTracking.qll
  shared/typetracking/codeql/typetracking/internal/SummaryTypeTracker.qll
  shared/typetracking/codeql/typetracking/internal/TypeTrackingImpl.qll
Labels: documentation, Python, Ruby

#15104 Python: Remove `@tags meta` from internal debug queries
  python/ql/src/meta/analysis-quality/TTCallGraph.ql
  python/ql/src/meta/analysis-quality/TTCallGraphMissing.ql
  python/ql/src/meta/analysis-quality/TTCallGraphNew.ql
  python/ql/src/meta/analysis-quality/TTCallGraphNewAmbiguous.ql
  python/ql/src/meta/analysis-quality/TTCallGraphShared.ql
Labels: Python, no-change-note-required

#15101 Python: update to new API update is in a comment, so compilation never failed in CI.
  python/ql/test/experimental/meta/debug/InlineTaintTestPaths.ql
Labels: Python

#15152 C++: Fix unnecessary evaluation of debug strings
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DebugPrinting.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/Node0ToString.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/NormalNode0ToString.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/PrintIRUtilities.qll
Labels: C++, no-change-note-required

#15126 Java: Add the `Map#replace` and `Map#replaceAll` methods to `MapMutator` in `Maps.qll`
  java/ql/lib/change-notes/2023-12-19-add-replace-methods-to-mapmutator.md
  java/ql/lib/semmle/code/java/Maps.qll
Labels: documentation, Java

#15112 Fix sphinx.add_lexer.
  docs/codeql/conf.py
Labels: documentation

#15154 C#: Replace more hand written stubs with generated ones.
  csharp/ql/test/library-tests/dataflow/library/FlowSummariesFiltered.expected
  csharp/ql/test/library-tests/dataflow/library/options
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/options
  csharp/ql/test/library-tests/frameworks/sql/Sql1.expected
  csharp/ql/test/library-tests/frameworks/sql/options
  csharp/ql/test/library-tests/frameworks/sql/sql.cs
  csharp/ql/test/library-tests/frameworks/system/data/entity/options
  csharp/ql/test/library-tests/security/dataflow/flowsources/options
  csharp/ql/test/resources/stubs/EntityFramework.cs
  csharp/ql/test/resources/stubs/EntityFrameworkCore.cs
  csharp/ql/test/resources/stubs/Microsoft.NETCore.Platforms/3.1.0/Microsoft.NETCore.Platforms.csproj
  csharp/ql/test/resources/stubs/System.Configuration.ConfigurationManager/8.0.0/System.Configuration.ConfigurationManager.cs
  csharp/ql/test/resources/stubs/System.Configuration.ConfigurationManager/8.0.0/System.Configuration.ConfigurationManager.csproj
  csharp/ql/test/resources/stubs/System.Data.OleDb/8.0.0/System.Data.OleDb.cs
  csharp/ql/test/resources/stubs/System.Data.OleDb/8.0.0/System.Data.OleDb.csproj
  csharp/ql/test/resources/stubs/System.Data.cs
  csharp/ql/test/resources/stubs/System.Diagnostics.EventLog/8.0.0/System.Diagnostics.EventLog.csproj
  csharp/ql/test/resources/stubs/System.Diagnostics.PerformanceCounter/8.0.0/System.Diagnostics.PerformanceCounter.cs
  csharp/ql/test/resources/stubs/System.Diagnostics.PerformanceCounter/8.0.0/System.Diagnostics.PerformanceCounter.csproj
  csharp/ql/test/resources/stubs/System.Security.AccessControl/4.7.0/System.Security.AccessControl.csproj
  csharp/ql/test/resources/stubs/System.Security.Cryptography.ProtectedData/8.0.0/System.Security.Cryptography.ProtectedData.cs
  csharp/ql/test/resources/stubs/System.Security.Cryptography.ProtectedData/8.0.0/System.Security.Cryptography.ProtectedData.csproj
  csharp/scripts/stubs/make_stubs_all.py
Labels: C#

#15159 C#: Classify test support files in model editor queries
  csharp/ql/src/utils/modeleditor/FrameworkModeEndpointsQuery.qll
  csharp/ql/src/utils/modeleditor/ModelEditor.qll
Labels: C#, no-change-note-required

#15156 C#: Fix working directory structures in standalone
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
  csharp/ql/integration-tests/all-platforms/standalone_dependencies_net48/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_target/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Assemblies.ql
  csharp/ql/integration-tests/windows-only/standalone_dependencies/Assemblies.ql
Labels: C#

#15173 C++: Remove unneeded extractor option
  cpp/ql/test/header-variant-tests/clang-pch/g.c
Labels: C++

#15166 Python: Add scope entry definition nodes
  python/ql/lib/change-notes/2023-12-20-add-scope-entry-definition-nodes.md
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/lib/semmle/python/dataflow/new/internal/LocalSources.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackingImpl.qll
  python/ql/test/experimental/dataflow/coverage/localFlow.expected
  python/ql/test/experimental/dataflow/enclosing-callable/EnclosingCallable.expected
  python/ql/test/experimental/dataflow/typetracking/moduleattr.expected
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
  python/ql/test/library-tests/ApiGraphs/py3/test_crosstalk.expected
  python/ql/test/library-tests/ApiGraphs/py3/test_crosstalk.py
  python/ql/test/library-tests/ApiGraphs/py3/test_crosstalk.ql
Labels: documentation, Python

#14580 Java: Update MaD Declarations after Triage
  java/ql/lib/change-notes/2023-10-24-new-models.md
  java/ql/lib/ext/com.alibaba.druid.sql.repository.model.yml
  java/ql/lib/ext/jakarta.persistence.criteria.model.yml
  java/ql/lib/ext/jakarta.persistence.model.yml
  java/ql/lib/ext/liquibase.database.jvm.model.yml
  java/ql/lib/ext/liquibase.statement.core.model.yml
  java/ql/lib/ext/org.apache.ibatis.mapping.model.yml
  java/ql/lib/ext/org.keycloak.models.map.storage.model.yml
Labels: documentation, Java

#14646 Java: Update MaD Declarations after Triage
  java/ql/lib/change-notes/2023-10-31-new-models.md
  java/ql/lib/ext/com.google.common.io.model.yml
  java/ql/lib/ext/hudson.console.model.yml
  java/ql/lib/ext/hudson.model.yml
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/java.net.model.yml
  java/ql/lib/ext/java.util.logging.model.yml
  java/ql/lib/ext/javax.imageio.stream.model.yml
  java/ql/lib/ext/org.apache.commons.io.model.yml
  java/ql/lib/ext/org.apache.hadoop.hive.ql.exec.model.yml
  java/ql/lib/ext/org.apache.hadoop.hive.ql.metadata.model.yml
  java/ql/lib/ext/org.apache.tools.ant.taskdefs.model.yml
Labels: documentation, Java

#15160 C#: Mention more XSS sanitisation options in query help.
  csharp/ql/src/Security Features/CWE-079/XSS.qhelp
  csharp/ql/src/Security Features/CWE-079/XSSBad.cs
  csharp/ql/src/Security Features/CWE-079/XSSGood.cs
Labels: C#, documentation, ready-for-doc-review

#15164 Update system requirements for ruby
  docs/codeql/codeql-overview/system-requirements.rst
Labels: documentation

#15185 C++: Show indirections when printing SSA variables
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Labels: C++, no-change-note-required

#15116 Swift: separate installation of dependencies and autobuilding
  swift/swift-autobuilder/swift-autobuilder.cpp
Labels: Swift

#14752 Java: Insecure Loading of Class in Android App without Package Signature Checking
  java/ql/src/experimental/Security/CWE/CWE-470/BadClassLoader.java
  java/ql/src/experimental/Security/CWE/CWE-470/GoodClassLoader.java
  java/ql/src/experimental/Security/CWE/CWE-470/LoadClassNoSignatureCheck.qhelp
  java/ql/src/experimental/Security/CWE/CWE-470/LoadClassNoSignatureCheck.ql
  java/ql/test/experimental/query-tests/security/CWE-470/BadClassLoader.java
  java/ql/test/experimental/query-tests/security/CWE-470/GoodClassLoader.java
  java/ql/test/experimental/query-tests/security/CWE-470/LoadClassNoSignatureCheck.expected
  java/ql/test/experimental/query-tests/security/CWE-470/LoadClassNoSignatureCheck.qlref
  java/ql/test/experimental/query-tests/security/CWE-470/options
Labels: documentation, Java

#15191 C++: Show base variable in SSA variable `toString`s
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Labels: C++, no-change-note-required

#12125 C++: Ensure that only one `Function` exists for every function
  cpp/ql/lib/change-notes/2023-12-22-unique-function.md
  cpp/ql/lib/semmle/code/cpp/Element.qll
  cpp/ql/lib/semmle/code/cpp/Function.qll
  cpp/ql/lib/semmle/code/cpp/controlflow/internal/ConstantExprs.qll
  cpp/ql/lib/semmle/code/cpp/internal/ResolveFunction.qll
  cpp/ql/lib/semmle/code/cpp/internal/ResolveGlobalVariable.qll
Labels: C++, documentation

#15183 Java: Fix minor error in `java/potentially-weak-cryptographic-algorithm`
  java/ql/lib/semmle/code/java/security/MaybeBrokenCryptoAlgorithmQuery.qll
  java/ql/src/Security/CWE/CWE-327/MaybeBrokenCryptoAlgorithm.ql
  java/ql/test/query-tests/security/CWE-327/semmle/tests/BrokenCryptoAlgorithm.expected
  java/ql/test/query-tests/security/CWE-327/semmle/tests/MaybeBrokenCryptoAlgorithm.expected
  java/ql/test/query-tests/security/CWE-327/semmle/tests/WeakHashing.java
Labels: Java, no-change-note-required

#15181 GO - Add sink for libxml2 in go/xml/xpath-injection via XPath.qll
  go/ql/lib/change-notes/2023-12-22-minor-analysis-xpath-libxml2.md
  go/ql/lib/semmle/go/frameworks/XPath.qll
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-643/go.mod
  go/ql/test/query-tests/Security/CWE-643/tst.go
  go/ql/test/query-tests/Security/CWE-643/vendor/github.com/lestrrat-go/libxml2/parser/stub.go
  go/ql/test/query-tests/Security/CWE-643/vendor/modules.txt
Labels: documentation, Go
