Repository github/codeql, pull requests merged in 2023-11, with the labels that each got.

#14628 Ruby: Summarized type-tracking stores should target post-update nodes
  python/ql/lib/semmle/python/dataflow/new/internal/SummaryTypeTracker.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackerSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/lib/codeql/ruby/typetracking/internal/SummaryTypeTracker.qll
  ruby/ql/test/library-tests/dataflow/array-flow/type-tracking-array-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/type-tracking-hash-flow.expected
  ruby/ql/test/library-tests/dataflow/params/TypeTracker.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
Labels: Python, no-change-note-required, Ruby

#14648 C++: Remove one use of range analysis in `cpp/invalid-pointer-deref`
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/InvalidPointerToDereference.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/test.cpp
Labels: C++, no-change-note-required

#14656 Rangeanalysis: Share ssaRead predicate
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticSSA.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/ModulusAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisConstantSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisRelativeSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeUtils.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/SignAnalysisCommon.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/internal/RangeUtils.qll
Labels: C++, Java, no-change-note-required

#14617 Python: module for import time flow
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/module-initialization/localFlow.ql
Labels: Python, no-change-note-required

#14639 Swift: New query for Missing Regular Expression Anchor
  shared/regex/codeql/regex/MissingRegExpAnchor.qll
  swift/ql/lib/codeql/swift/regex/Regex.qll
  swift/ql/lib/codeql/swift/security/regex/HostnameRegex.qll
  swift/ql/src/change-notes/2023-10-27-missing-regex-anchor.md
  swift/ql/src/queries/Security/CWE-020/MissingRegexAnchor.qhelp
  swift/ql/src/queries/Security/CWE-020/MissingRegexAnchor.ql
  swift/ql/src/queries/Security/CWE-020/MissingRegexAnchorBad.swift
  swift/ql/src/queries/Security/CWE-020/MissingRegexAnchorGood.swift
  swift/ql/test/query-tests/Security/CWE-020/MissingRegexAnchor.expected
  swift/ql/test/query-tests/Security/CWE-020/MissingRegexAnchor.qlref
  swift/ql/test/query-tests/Security/CWE-020/SemiAnchoredRegex.swift
  swift/ql/test/query-tests/Security/CWE-020/UnanchoredUrlRegex.swift
  swift/ql/test/query-tests/Security/CWE-020/test.swift
Labels: documentation, ready-for-doc-review, Swift

#14659 Java/C++: Share modulus analysis
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/ModulusAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/ModulusAnalysisSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/test/library-tests/ir/modulus-analysis/ModulusAnalysis.ql
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/ModulusAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
Labels: C++, Java, no-change-note-required

#14657 C#: Move qualified name computation into `QualifiedName.qll`
  csharp/ql/lib/semmle/code/cil/Declaration.qll
  csharp/ql/lib/semmle/code/csharp/Callable.qll
  csharp/ql/lib/semmle/code/csharp/Element.qll
  csharp/ql/lib/semmle/code/csharp/Generics.qll
  csharp/ql/lib/semmle/code/csharp/Member.qll
  csharp/ql/lib/semmle/code/csharp/Namespace.qll
  csharp/ql/lib/semmle/code/csharp/Type.qll
  csharp/ql/lib/semmle/code/csharp/Variable.qll
  csharp/ql/lib/semmle/code/csharp/commons/QualifiedName.qll
  csharp/ql/lib/semmle/code/dotnet/Declaration.qll
  csharp/ql/lib/semmle/code/dotnet/Namespace.qll
Labels: C#, no-change-note-required

#14578 Swift: Models for String methods involving closures.
  swift/ql/lib/change-notes/2023-10-24-string.md
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/string.swift
Labels: documentation, Swift

#14647 C++: Adding a model implementation for ODBC.
  cpp/ql/lib/semmle/code/cpp/models/Models.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/ODBC.qll
  cpp/ql/src/change-notes/2023-10-31-odbc-models.md
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/test.c
Labels: C++, documentation

#14664 RangeAnalysis: Improve bounds that rely on relative modulus.
  cpp/ql/test/library-tests/ir/range-analysis/SimpleRangeAnalysis_tests.cpp
  shared/rangeanalysis/codeql/rangeanalysis/ModulusAnalysis.qll
Labels: C++

#14665 C#: Update DependencyManager logic to exclude commented out references.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileContent.cs
  csharp/extractor/Semmle.Extraction.Tests/FileContent.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies/Assemblies.expected
  csharp/ql/integration-tests/windows-only/standalone_dependencies/Assemblies.expected
Labels: C#, no-change-note-required

#14629 Swift: rework resource dir
  swift/extractor/main.cpp
  swift/third_party/BUILD.swift-llvm-support.bazel
  swift/third_party/BUILD.swift-toolchain-linux.bazel
  swift/third_party/BUILD.swift-toolchain-macos.bazel
  swift/third_party/load.bzl
  swift/third_party/swift-llvm-support/BUILD.bazel
  swift/tools/tracing-config.lua
Labels: Swift

#14653 Python: Add AWS Lambda as a supported framework
  docs/codeql/reusables/supported-frameworks.rst
Labels: documentation, no-change-note-required

#14644 Python: filter local self loops
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
  python/ql/test/experimental/dataflow/coverage/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/coverage/loops.py
  python/ql/test/experimental/dataflow/module-initialization/localFlow.ql
  python/ql/test/experimental/dataflow/strange-essaflow/testFlow.ql
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/validTest.py
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.expected
  python/ql/test/library-tests/ApiGraphs/py3/dataflow-consistency.expected
  python/ql/test/library-tests/frameworks/django-orm/dataflow-consistency.expected
Labels: Python, no-change-note-required

#14684 Swift: Fix failing tests
  swift/ql/test/library-tests/dataflow/taint/libraries/string.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/url.swift
Labels: no-change-note-required, Swift

#14691 Swift: Add a webview test case
  swift/ql/test/library-tests/dataflow/flowsources/webview.swift
Labels: no-change-note-required, Swift

#14591 Python: Minor cleanup for string pool interaction
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
Labels: Python, no-change-note-required

#14688 C#: Deprecate `UnboundGenericType::getInstanceType/0`
  csharp/ql/lib/semmle/code/csharp/Generics.qll
Labels: C#, no-change-note-required

#14690 C#: Add another data flow test
  csharp/ql/test/TestUtilities/InlineFlowTest.qll
  csharp/ql/test/library-tests/dataflow/types/Types.cs
  csharp/ql/test/library-tests/dataflow/types/Types.expected
  csharp/ql/test/library-tests/dataflow/types/Types.ql
Labels: C#, no-change-note-required

#14683 Swift: Model NSString.enumerate*
  swift/ql/lib/change-notes/2023-11-03-nsstring.md
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsString.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/nsstring.swift
Labels: documentation, Swift

#14655 C#: Use `project.assets.json` for package dependencies.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyCache.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Assets.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyContainer.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNet.cs
  csharp/extractor/Semmle.Extraction.Tests/Assets.cs
  csharp/extractor/Semmle.Extraction.Tests/DotNet.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
  csharp/extractor/Semmle.Util/IEnumerableExtensions.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies/Assemblies.expected
  csharp/ql/integration-tests/windows-only/standalone_dependencies/Assemblies.expected
Labels: C#, no-change-note-required

#14695 Docs: Put lists in supported-frameworks.rst in more alphabetical order
  docs/codeql/reusables/supported-frameworks.rst
Labels: documentation, ready-for-doc-review

#14682 Swift: Correct a couple of FilePath models.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/FilePath.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/files.swift
Labels: no-change-note-required, Swift

#14680 Swift: Generalize flow through subscript writes / test and fix some closure methods of Data
  swift/ql/lib/change-notes/2023-11-03-subscript.md
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Data.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/data.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/int.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/unsafepointer.swift
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.expected
  swift/ql/test/query-tests/Security/CWE-321/sqlite3_c_api.swift
Labels: documentation, Swift

#14667 C++: Allocate more `FunctionInput` and `FunctionOutput`s
  cpp/ql/lib/semmle/code/cpp/models/implementations/Inet.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Send.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/FunctionInputsAndOutputs.qll
  cpp/ql/test/library-tests/dataflow/source-sink-tests/remote-flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++, no-change-note-required

#14696 Swlft: force canonical type computation before using the type
  swift/extractor/translators/TypeTranslator.cpp
Labels: Swift

#14702 Java: Make integration test more robust wrt recent Java versions.
  java/ql/integration-tests/all-platforms/java/diagnostics/java-version-too-old/test.py
Labels: Java

#14694 Python: Misc: show that all tests passed in validTest
  python/ql/test/experimental/dataflow/validTest.py
Labels: Python

#14697 C++: Simplify the definition of `SemExpr` for range analysis
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/RangeAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/SimpleRangeAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExpr.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
  cpp/ql/test/library-tests/ir/range-analysis/SimpleRangeAnalysis_tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/test.cpp
Labels: C++, no-change-note-required

#14708 C++: Add range analysis testcase
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
Labels: C++

#14714 C++: Add comment to testcase
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
Labels: C++

#14705 Fix a dead ReDoS link in docs
  java/ql/lib/semmle/code/java/security/regexp/ExponentialBackTracking.qll
  java/ql/src/Security/CWE/CWE-730/ReDoSReferences.inc.qhelp
  javascript/ql/lib/semmle/javascript/security/regexp/ExponentialBackTracking.qll
  javascript/ql/src/Performance/ReDoSReferences.inc.qhelp
  python/ql/lib/semmle/python/security/regexp/ExponentialBackTracking.qll
  python/ql/src/Security/CWE-730/ReDoSReferences.inc.qhelp
  ruby/ql/lib/codeql/ruby/security/regexp/ExponentialBackTracking.qll
  ruby/ql/src/queries/security/cwe-1333/ReDoSReferences.inc.qhelp
  shared/regex/codeql/regex/nfa/ExponentialBackTracking.qll
Labels: JS, documentation, Java, Python, no-change-note-required, ready-for-doc-review, Ruby

#14704 C++: IR'ify `cpp/uninitialized-local` and fix FPs
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/MustFlow.qll
  cpp/ql/src/Likely Bugs/Memory Management/UninitializedLocal.ql
  cpp/ql/src/change-notes/2023-11-07-uninitialized-local.md
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/UninitializedLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/test.cpp
Labels: C++, documentation

#14711 Java/C++/RangeAnalysis: Move a couple of utility predicates to shared qlpack
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticCFG.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticGuard.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticSSA.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/SignAnalysisCommon.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/lib/semmle/code/java/dataflow/RangeUtils.qll
  shared/rangeanalysis/codeql/rangeanalysis/ModulusAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/internal/RangeUtils.qll
Labels: C++, Java, no-change-note-required

#14716 JS: catch when the main: path is invalid on Windows
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Labels: JS

#14610 Java: Add JMS sink to java/unsafe-deserialization
  java/ql/lib/semmle/code/java/frameworks/Jms.qll
  java/ql/lib/semmle/code/java/security/UnsafeDeserializationQuery.qll
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.qhelp
  java/ql/src/change-notes/2023-10-26-jms-unsafe-deserialization.md
  java/ql/test/query-tests/security/CWE-502/ObjectMessageTest.java
  java/ql/test/query-tests/security/CWE-502/options
Labels: documentation, Java

#14713 C++: Don't use GVN as SSAVariable in new range analysis
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/test.cpp
Labels: C++, no-change-note-required

#14712 C#: Tracer improvement for `dotnet test`
  csharp/ql/integration-tests/posix-only/dotnet_test/dotnet_test.csproj
  csharp/ql/integration-tests/posix-only/dotnet_test/test.py
  csharp/tools/tracing-config.lua
Labels: C#, no-change-note-required

#14693 C#: Fix compiler warning of possible null de-reference.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/NonGeneratedSourceLocation.cs
  csharp/extractor/Semmle.Extraction/Entities/Base/CachedEntity`1.cs
Labels: C#, no-change-note-required

#14707 C#: Keep only one framework reference nuget package in standalone
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_target/Assemblies.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_target/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_target/Program.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_target/global.json
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_target/net48.csproj
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_target/net70.csproj
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_target/test.py
Labels: C#

#14603 JavaScript/Python/Ruby: Improve alert message for `*/weak-cryptographic-algorithm`.
  javascript/ql/lib/semmle/javascript/frameworks/CryptoLibraries.qll
  javascript/ql/lib/semmle/javascript/internal/ConceptsShared.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/BrokenCryptoAlgorithmCustomizations.qll
  javascript/ql/src/Security/CWE-327/BrokenCryptoAlgorithm.ql
  javascript/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.expected
  python/ql/lib/semmle/python/frameworks/Cryptodome.qll
  python/ql/lib/semmle/python/frameworks/Cryptography.qll
  python/ql/lib/semmle/python/frameworks/Rsa.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/internal/ConceptsShared.qll
  python/ql/src/Security/CWE-327/BrokenCryptoAlgorithm.ql
  python/ql/test/query-tests/Security/CWE-327-BrokenCryptoAlgorithm/BrokenCryptoAlgorithm.expected
  ruby/ql/lib/codeql/ruby/frameworks/core/Digest.qll
  ruby/ql/lib/codeql/ruby/internal/ConceptsShared.qll
  ruby/ql/lib/codeql/ruby/security/OpenSSL.qll
  ruby/ql/src/queries/security/cwe-327/BrokenCryptoAlgorithm.ql
  ruby/ql/test/query-tests/security/cwe-327/BrokenCryptoAlgorithm.expected
Labels: JS, Python, no-change-note-required, Ruby

#14590 Python: Fix dataflow consistency error due to missing class scope
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/calls/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/consistency/class_scope.py
  python/ql/test/experimental/dataflow/coverage/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.expected
  python/ql/test/experimental/library-tests/CallGraph/dataflow-consistency.expected
  python/ql/test/library-tests/ApiGraphs/py3/dataflow-consistency.expected
  python/ql/test/library-tests/frameworks/django-orm/dataflow-consistency.expected
Labels: Python, no-change-note-required

#14668 VS Code extension docs: Changes to database downloads
  docs/codeql/codeql-for-visual-studio-code/customizing-settings.rst
  docs/codeql/codeql-for-visual-studio-code/exploring-the-structure-of-your-source-code.rst
  docs/codeql/images/codeql-for-visual-studio-code/add-database-source-to-workspace.png
  docs/codeql/images/codeql-for-visual-studio-code/open-source-file.png
Labels: documentation, ready-for-doc-review

#14717 Swlft: fix CFG for SingleValueStmtExpr
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/test/extractor-tests/generated/expr/SingleValueStmtExpr/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/dataflow/flowsources/CONSISTENCY/CfgConsistency.expected
Labels: no-change-note-required, Swift

#14718 Restructure go Makefile: Build the per-platform target.
  go/Makefile
Labels: depends on internal PR, Go

#14701 Swift: Promote the command injection query out of experimental
  swift/ql/src/change-notes/2023-11-06-command-injection.md
  swift/ql/src/queries/Security/CWE-078/CommandInjection.qhelp
  swift/ql/src/queries/Security/CWE-078/CommandInjection.ql
  swift/ql/src/queries/Security/CWE-078/CommandInjectionBad.swift
  swift/ql/src/queries/Security/CWE-078/CommandInjectionGood.swift
  swift/ql/test/query-tests/Security/CWE-078/CommandInjection.qlref
Labels: documentation, ready-for-doc-review, Swift

#14661 Swift: Fix defaultImplicitTaintRead on fields
  swift/ql/lib/change-notes/2023-11-01-field-sinks.md
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPublic.qll
  swift/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  swift/ql/test/query-tests/Security/CWE-078/CommandInjection.swift
Labels: documentation, Swift

#14677 JS: Move the language pack build and tests to Bazel
  javascript/BUILD.bazel
  javascript/downgrades/BUILD.bazel
  javascript/externs/BUILD.bazel
  javascript/extractor/BUILD.bazel
  javascript/extractor/lib/typescript/BUILD.bazel
  javascript/extractor/parser-tests/BUILD.bazel
  javascript/extractor/test/com/semmle/js/extractor/test/ASTMatchingTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/AllTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/AutoBuildTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/BUILD.bazel
  javascript/extractor/test/com/semmle/js/extractor/test/ClassPropertiesTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/DecoratorTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/ExportExtensionsTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/FunctionSentTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/JSXTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/NodeJSDetectorTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/NumericSeparatorTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/ObjectRestSpreadTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/RobustnessTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/TrapTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/run_tests.sh
  javascript/extractor/tests/BUILD.bazel
Labels: JS, depends on internal PR

#14721 Java/C++/RangeAnalysis: Move SsaReadPosition to shared qlpack.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticSSA.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeUtils.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/SignAnalysisCommon.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/lib/semmle/code/java/dataflow/RangeUtils.qll
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/ModulusAnalysisSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/SignAnalysisSpecific.qll
  shared/rangeanalysis/codeql/rangeanalysis/ModulusAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/internal/RangeUtils.qll
Labels: C++, Java, no-change-note-required

#14564 C#: Disable CIL extraction by default.
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
  csharp/extractor/Semmle.Extraction/Options.cs
  csharp/ql/src/change-notes/2023-10-24-disable-cil.md
Labels: C#, documentation

#14731 Docs: document dataflow `neverSkip` (and expand section on hidden nodes)
  docs/ql-libraries/dataflow/dataflow.md
Labels: documentation

#14699 Java: model JDK21 SequencedCollection, Set and Map
  java/ql/lib/change-notes/2023-11-06-jdk21-models.md
  java/ql/lib/ext/java.util.model.yml
  java/ql/test/library-tests/dataflow/collections/B.java
Labels: documentation, Java

#14723 C#: Include all (legacy) nuget restored folders in standalone references
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Assemblies.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Program.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/packages.config
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/test.csproj
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/test.py
Labels: C#

#14738 Take our node, not the one that comes first on the PATH.
  javascript/extractor/lib/typescript/BUILD.bazel
Labels: JS

#14726 C++: 28 strsafe library updates2
  cpp/ql/lib/change-notes/2023-11-08-strsafe-models.md
  cpp/ql/lib/semmle/code/cpp/models/implementations/Printf.qll
Labels: C++, documentation

#14743 C#: Adjust standalone integration test to not reference mono assemblies
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Assemblies.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Assemblies.ql
Labels: C#

#14744 C++: Fix `hasRemoteFlowSource` for `fgets`
  cpp/ql/lib/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/test.cpp
Labels: C++, no-change-note-required

#14736 C++: Fix indirect global-variable flow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Labels: C++, no-change-note-required

#14669 C++: Rewrite `cpp/unbounded-write` away from `DefaultTaintTracking`
  cpp/ql/src/Security/CWE/CWE-120/UnboundedWrite.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
Labels: C++, depends on internal PR, no-change-note-required

#14735 C++: Add models for `strlcpy` and `strlcat`
  cpp/ql/lib/change-notes/2023-11-10-strlcpy-strlcat-models.md
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcpy.qll
Labels: C++, documentation

#14745 Swift: parameter packs migration scripts
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/downgrade.ql
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/old.dbscheme
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/swift.dbscheme
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/upgrade.properties
  swift/ql/lib/upgrades/fcc7b497930add320fabeed9b228b264bc847ae6/old.dbscheme
  swift/ql/lib/upgrades/fcc7b497930add320fabeed9b228b264bc847ae6/swift.dbscheme
  swift/ql/lib/upgrades/fcc7b497930add320fabeed9b228b264bc847ae6/upgrade.properties
Labels: Swift

#14749 C++: Move a couple of predicates to `Node0Impl`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++, no-change-note-required

#14750 Swift: update wordings in a downgrade script
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/downgrade.ql
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/upgrade.properties
Labels: Swift

#14742 Java/C++/Rangeanalysis: Share more range analysis utility predicates.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisConstantSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisRelativeSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeUtils.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/lib/semmle/code/java/dataflow/RangeUtils.qll
  java/ql/test/library-tests/dataflow/modulus-analysis/ModulusAnalysis.expected
  java/ql/test/library-tests/dataflow/range-analysis/RangeAnalysis.expected
  shared/rangeanalysis/codeql/rangeanalysis/ModulusAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/internal/RangeUtils.qll
Labels: C++, Java, no-change-note-required

#14756 Swift: do not extract non-AST types, NFC
  swift/extractor/infra/SwiftTagTraits.h
Labels: Swift

#14719 Java integration tests: More preparations to be executed on GH M1 machines
  java/ql/integration-tests/all-platforms/java/android-sample-kotlin-build-script-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-kotlin-build-script/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-old-style/test.py
  java/ql/integration-tests/all-platforms/java/android-sample/test.py
  java/ql/integration-tests/all-platforms/java/diagnostics/java-version-too-old/skip-on-platform-osx-arm
Labels: Java

#14759 Swift: mark BuiltinTuple as experimental
  swift/extractor/infra/SwiftTagTraits.h
Labels: Swift

#14757 Rangeanalysis: Misc simplifications
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticSSA.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/ConstantAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisConstantSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisRelativeSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeUtils.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/SignAnalysisCommon.qll
  cpp/ql/test/library-tests/ir/modulus-analysis/ModulusAnalysis.ql
  cpp/ql/test/library-tests/ir/sign-analysis/SignAnalysis.ql
  java/ql/lib/semmle/code/java/dataflow/NullGuards.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/ModulusAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
Labels: C++, Java, no-change-note-required

#13366 Go: Add Improper LDAP Authentication query (CWE-287)
  go/ql/src/experimental/CWE-287/ImproperLdapAuth.qhelp
  go/ql/src/experimental/CWE-287/ImproperLdapAuth.ql
  go/ql/src/experimental/CWE-287/ImproperLdapAuthCustomizations.qll
  go/ql/src/experimental/CWE-287/examples/LdapAuthBad.go
  go/ql/src/experimental/CWE-287/examples/LdapAuthGood.go
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.expected
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.go
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.qlref
  go/ql/test/experimental/CWE-287/go.mod
  go/ql/test/experimental/CWE-287/vendor/gopkg.in/ldap.v2/stub.go
  go/ql/test/experimental/CWE-287/vendor/modules.txt
Labels: documentation, Go

#14761 Swift: Update the inline dataflow tests
  swift/ql/test/TestUtilities/InlineFlowTest.qll
  swift/ql/test/library-tests/dataflow/capture/FlowInline.expected
  swift/ql/test/library-tests/dataflow/capture/FlowInline.ql
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/DataFlowInline.ql
  swift/ql/test/library-tests/dataflow/dataflow/FlowConfig.qll
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/TaintInline.ql
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/Taint.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/TaintInline.ql
  swift/ql/test/library-tests/dataflow/taint/libraries/int.swift
Labels: no-change-note-required, Swift

#14649 Go: Add Cors Gin Support
  go/ql/lib/change-notes/2023-10-31-add-gin-cors-framework.md
  go/ql/lib/go.qll
  go/ql/lib/semmle/go/frameworks/GinCors.qll
  go/ql/src/experimental/CWE-942/CorsMisconfiguration.ql
  go/ql/test/experimental/CWE-942/CorsGin.go
  go/ql/test/experimental/CWE-942/CorsMisconfiguration.expected
  go/ql/test/experimental/CWE-942/CorsMisconfiguration.go
  go/ql/test/experimental/CWE-942/go.mod
  go/ql/test/experimental/CWE-942/vendor/github.com/gin-contrib/cors/stub.go
  go/ql/test/experimental/CWE-942/vendor/github.com/gin-gonic/gin/stub.go
  go/ql/test/experimental/CWE-942/vendor/modules.txt
Labels: documentation, Go

#14769 C++: Fix nonterminating test
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/tests.cpp
Labels: C++

#14760 C#: Change IsARM to Apple silicon check
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
Labels: C#, C++

#14782 Disable the nuget standalone dependencies test on ARM-osx.
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/skip-on-platform-osx-arm
Labels: C#

#14771 C++: Fix missing results in `cpp/unbounded-write`
  cpp/ql/src/Security/CWE/CWE-120/UnboundedWrite.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/tests.cpp
Labels: C++, no-change-note-required

#14781 Ruby: Include name of variable in `UninitializedDefinition.toString`
  ruby/ql/lib/codeql/ruby/dataflow/SSA.qll
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/variables/ssa.expected
Labels: no-change-note-required, Ruby

#14785 Update metadata-for-codeql-queries.rst
  docs/codeql/writing-codeql-queries/metadata-for-codeql-queries.rst
Labels: documentation, ready-for-doc-review

#14789 C#: Do not call nuget.exe on Apple Silicon
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
Labels: C#

#14419 JavaScript: Adjust XSS and log injection query severities
  javascript/ql/src/Security/CWE-079/ReflectedXss.ql
  javascript/ql/src/Security/CWE-079/StoredXss.ql
  javascript/ql/src/Security/CWE-079/Xss.ql
  javascript/ql/src/Security/CWE-117/LogInjection.ql
  javascript/ql/src/change-notes/2023-10-09-adjust-xss-and-log-injection-severity.md
Labels: JS, documentation, awaiting-response

#14706 Python: Add basic flow for class attributes
  python/ql/lib/change-notes/2023-11-07-class-attribute-flow.md
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/coverage/test.py
  python/ql/test/experimental/dataflow/fieldflow/test.py
  python/ql/test/experimental/dataflow/match/test.py
  python/ql/test/library-tests/PointsTo/new/ImpliesDataflow.expected
Labels: documentation, Python

#14784 C++: Rewrite `cpp/tainted-arithmetic` away from `DefaultTaintTracking`
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticTainted.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-190/SAMATE/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
Labels: C++, depends on internal PR, no-change-note-required

#14778 Go: improve value flow through arrays
  go/ql/lib/change-notes/2023-11-15-bug-fix-value-flow-in-array.md
  go/ql/lib/semmle/go/Expr.qll
  go/ql/lib/semmle/go/dataflow/internal/ContainerFlow.qll
  go/ql/test/library-tests/semmle/go/dataflow/ArrayConversion/main.go
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
Labels: documentation, Go

#14561 C++: Rewrite `cpp/uncontrolled-process-operation` to not use `DefaultTaintTracking`
  cpp/ql/src/Security/CWE/CWE-114/UncontrolledProcessOperation.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-114/SAMATE/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
Labels: C++, depends on internal PR, no-change-note-required

#14794 C++: Catch more returns of stack-allocated memory
  cpp/ql/lib/change-notes/2023-11-15-return-stack-allocated-memory.md
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/ReturnStackAllocatedMemory.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ReturnStackAllocatedMemory/test.cpp
Labels: C++, documentation

#14776 Add content for the queries panel and language selector
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/images/codeql-for-visual-studio-code/choose-language-filter.png
  docs/codeql/images/codeql-for-visual-studio-code/create-query-icon.png
  docs/codeql/images/codeql-for-visual-studio-code/run-local-queries-icon.png
  docs/codeql/images/codeql-for-visual-studio-code/run-local-query-icon.png
Labels: documentation, ready-for-doc-review

#14792 C#: Fix assembly attribute extraction in standalone mode
  csharp/extractor/Semmle.Extraction.CSharp/Populators/TypeContainerVisitor.cs
  csharp/ql/test/library-tests/standalone/assemblyattribute/attr.expected
  csharp/ql/test/library-tests/standalone/assemblyattribute/attr.ql
  csharp/ql/test/library-tests/standalone/assemblyattribute/options
  csharp/ql/test/library-tests/standalone/assemblyattribute/standalone.cs
Labels: C#

#14710 Prepare shared type tracking library for adoption by Ruby
  shared/typetracking/codeql/typetracking/TypeTracking.qll
  shared/typetracking/codeql/typetracking/internal/TypeTrackingImpl.qll
Labels: no-change-note-required

#14791 Python: Update `.expected` to support Python 3.12
  python/ql/src/Summary/options
  python/ql/test/2/library-tests/PointsTo/imports2/Runtime.expected
  python/ql/test/2/library-tests/PointsTo/imports2/Runtime.ql
  python/ql/test/2/library-tests/PointsTo/imports2/RuntimeWithType.expected
  python/ql/test/2/library-tests/PointsTo/imports2/RuntimeWithType.ql
  python/ql/test/2/library-tests/PointsTo/imports2/options
  python/ql/test/2/library-tests/PointsTo/imports2/package/__init__.py
  python/ql/test/2/library-tests/PointsTo/imports2/package/module.py
  python/ql/test/2/library-tests/PointsTo/imports2/package/module2.py
  python/ql/test/2/library-tests/PointsTo/imports2/package/moduleX.py
  python/ql/test/2/library-tests/PointsTo/imports2/package/x.py
  python/ql/test/2/library-tests/PointsTo/imports2/test.py
  python/ql/test/2/library-tests/modules/usage/ModuleUsage.expected
  python/ql/test/2/library-tests/modules/usage/ModuleUsage.ql
  python/ql/test/2/library-tests/modules/usage/imported.py
  python/ql/test/2/library-tests/modules/usage/main.py
  python/ql/test/2/library-tests/modules/usage/myscript.py
  python/ql/test/2/library-tests/modules/usage/options
  python/ql/test/2/library-tests/modules/usage/script
  python/ql/test/2/query-tests/Summary/LinesOfCode.expected
  python/ql/test/2/query-tests/Summary/LinesOfCode.qlref
  python/ql/test/2/query-tests/Summary/LinesOfUserCode.expected
  python/ql/test/2/query-tests/Summary/LinesOfUserCode.qlref
  python/ql/test/2/query-tests/Summary/also_python_code
  python/ql/test/2/query-tests/Summary/my_file.py
  python/ql/test/2/query-tests/Summary/not_python
  python/ql/test/3/library-tests/PointsTo/imports/Runtime.expected
  python/ql/test/3/library-tests/PointsTo/imports/Runtime.ql
  python/ql/test/3/library-tests/PointsTo/imports/RuntimeWithType.expected
  python/ql/test/3/library-tests/PointsTo/imports/RuntimeWithType.ql
  python/ql/test/3/library-tests/PointsTo/imports/options
  python/ql/test/3/library-tests/PointsTo/imports/package/__init__.py
  python/ql/test/3/library-tests/PointsTo/imports/package/module.py
  python/ql/test/3/library-tests/PointsTo/imports/package/module2.py
  python/ql/test/3/library-tests/PointsTo/imports/package/moduleX.py
  python/ql/test/3/library-tests/PointsTo/imports/package/x.py
  python/ql/test/3/library-tests/PointsTo/imports/test.py
  python/ql/test/3/library-tests/modules/usage/ModuleUsage.expected
  python/ql/test/3/library-tests/modules/usage/ModuleUsage.ql
  python/ql/test/3/library-tests/modules/usage/imported.py
  python/ql/test/3/library-tests/modules/usage/main.py
  python/ql/test/3/library-tests/modules/usage/myscript.py
  python/ql/test/3/library-tests/modules/usage/options
  python/ql/test/3/library-tests/modules/usage/script
  python/ql/test/3/library-tests/types/properties/BuiltinProperties.expected
  python/ql/test/3/query-tests/Summary/LinesOfCode.expected
  python/ql/test/3/query-tests/Summary/LinesOfCode.qlref
  python/ql/test/3/query-tests/Summary/LinesOfUserCode.expected
  python/ql/test/3/query-tests/Summary/LinesOfUserCode.qlref
  python/ql/test/3/query-tests/Summary/also_python_code
  python/ql/test/3/query-tests/Summary/my_file.py
  python/ql/test/3/query-tests/Summary/not_python
  python/ql/test/experimental/dataflow/coverage/datamodel.py
  python/ql/test/library-tests/PointsTo/imports/options
  python/ql/test/library-tests/modules/usage/options
Labels: depends on internal PR, Python

#14809 C++: Move change note
  cpp/ql/lib/change-notes/2023-10-31-odbc-models.md
Labels: C++, documentation

#14642 Java: Publish Automodel query pack 0.0.7
  java/ql/automodel/publish.sh
  java/ql/automodel/src/change-notes/released/0.0.7.md
Labels: documentation, Java, no-change-note-required

#14783 Ruby: Include more nodes in `{Hash,Array}LiteralCfgNode`
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.ql
  ruby/ql/test/library-tests/dataflow/array-flow/array_flow.rb
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.ql
  ruby/ql/test/library-tests/dataflow/hash-flow/hash_flow.rb
Labels: no-change-note-required, Ruby

#14808 C++: Delete `cpp/tainted-format-string-through-global`
  cpp/ql/src/Security/CWE/CWE-134/UncontrolledFormatStringThroughGlobalVar.c
  cpp/ql/src/Security/CWE/CWE-134/UncontrolledFormatStringThroughGlobalVar.qhelp
  cpp/ql/src/Security/CWE/CWE-134/UncontrolledFormatStringThroughGlobalVar.ql
  cpp/ql/src/change-notes/2023-11-16-tainted-format-string-through-global-deleted.md
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.qlref
Labels: C++, documentation

#14795 Java: Automodel Extraction: Remove Qualifier Endpoints of Constructors
  java/ql/automodel/src/AutomodelApplicationModeCharacteristics.qll
  java/ql/automodel/src/AutomodelFrameworkModeCharacteristics.qll
  java/ql/automodel/test/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractCandidates.expected
  java/ql/automodel/test/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractNegativeExamples.expected
  java/ql/automodel/test/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractPositiveExamples.expected
  java/ql/automodel/test/AutomodelApplicationModeExtraction/Test.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractCandidates.expected
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicClass.java
Labels: Java

#14793 Java: Improve QHelp for `java/path-injection` to mention less disruptive fixes.
  java/ql/src/Security/CWE/CWE-022/TaintedPath.java
  java/ql/src/Security/CWE/CWE-022/TaintedPath.qhelp
  java/ql/src/Security/CWE/CWE-022/TaintedPathGood.java
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.java
  java/ql/test/query-tests/security/CWE-022/semmle/tests/Test.java
Labels: documentation, Java, ready-for-doc-review

#14812 C++: Convert `cpp/integer-overflow-tainted` away from DefaultTaintTracking
  cpp/ql/src/Security/CWE/CWE-190/IntegerOverflowTainted.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-190/SAMATE/IntegerOverflowTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-197/SAMATE/IntegerOverflowTainted/IntegerOverflowTainted.expected
Labels: C++, no-change-note-required

#14810 C++: Fix dataflow duplication from `ReferenceDereference` expressions
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/TestBase.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
Labels: C++, no-change-note-required

#14818 Java Automodel extraction: fix extracted meta information by using Object for the type of generic parameters
  java/ql/automodel/src/AutomodelAlertSinkUtil.qll
  java/ql/automodel/src/AutomodelApplicationModeCharacteristics.qll
  java/ql/automodel/test/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractCandidates.expected
Labels: Java

#14819 Doc: Fix name of VS Code settings property to use extension packs
  docs/codeql/codeql-for-visual-studio-code/using-the-codeql-model-editor.rst
Labels: documentation

#14816 Post-release preparation for codeql-cli-2.15.3
  swift/ql/lib/change-notes/2023-09-14-move-semantics.md
Labels: documentation, Swift

#14825 C#: Fix integration test failures after dotnet upgrade on runners.
  csharp/ql/integration-tests/all-platforms/dotnet_pack/test.py
  csharp/ql/integration-tests/posix-only/dotnet_test_mstest/dotnet_test_mstest.csproj
Labels: C#

#14814 Kotlin: Build: Refactor version handling
  java/kotlin-extractor/build.py
  java/kotlin-extractor/kotlin_plugin_versions.py
Labels: Kotlin

#14830 C# fix integration tests
  csharp/ql/integration-tests/all-platforms/dotnet_pack/test.py
  csharp/ql/integration-tests/posix-only/dotnet_test_mstest/dotnet_test_mstest.csproj
Labels: C#

#14828 C#: Update insecure randomness query description to match implementation
  csharp/ql/src/Security Features/InsecureRandomness.qhelp
Labels: C#, documentation

#14834 C#: Make assets file reading more robust.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Assets.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
Labels: C#, no-change-note-required

#14843 C#: In Assets parser let TryReadAllText return null on read error.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Assets.cs
Labels: C#

#14815 Type tracking: Parameterize consistency checks
  shared/typetracking/codeql/typetracking/TypeTracking.qll
  shared/typetracking/codeql/typetracking/internal/TypeTrackingImpl.qll
Labels: no-change-note-required

#14835 Kotlin: Fix findTopLevelFunctionOrWarn for Kotlin 2
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#14847 Update cryptography bill of materials queries
  cpp/ql/src/experimental/cryptography/inventory/new_models/AllAsymmetricAlgorithms.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/AllCryptoAlgorithms.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/AsymmetricEncryptionAlgorithms.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/AuthenticatedEncryptionAlgorithms.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/BlockModeAlgorithms.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/BlockModeKnownIVsOrNonces.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/BlockModeUnknownIVsOrNonces.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/EllipticCurveAlgorithmSize.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/EllipticCurveAlgorithms.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/HashingAlgorithms.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/KeyExchangeAlgorithms.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/KnownAsymmetricKeyGeneration.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/SigningAlgorithms.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/SymmetricEncryptionAlgorithms.ql
  cpp/ql/src/experimental/cryptography/inventory/new_models/UnknownAsymmetricKeyGeneration.ql
  python/ql/src/experimental/cryptography/inventory/new_models/AllAsymmetricAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/new_models/AllCryptoAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/new_models/AsymmetricEncryptionAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/new_models/AsymmetricKeyGenOperation.ql
  python/ql/src/experimental/cryptography/inventory/new_models/AuthenticatedEncryptionAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/new_models/BlockModeAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/new_models/BlockModeKnownIVsOrNonces.ql
  python/ql/src/experimental/cryptography/inventory/new_models/BlockModeUnknownIVsOrNonces.ql
  python/ql/src/experimental/cryptography/inventory/new_models/EllipticCurveAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/new_models/HashingAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/new_models/KeyDerivationAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/new_models/KeyExchangeAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/new_models/SigningAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/new_models/SymmetricEncryptionAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/old_models/AllCryptoAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/old_models/BlockModeAlgorithms.ql
  python/ql/src/experimental/cryptography/inventory/old_models/HashingAlgorithms.ql
Labels: C++, Python

#14822 C++: Fix global-variable flow for array types
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/TestBase.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++, no-change-note-required

#14787 Ruby: Prune irrelevant data flow nodes and edges
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/test/library-tests/dataflow/local/Nodes.expected
Labels: no-change-note-required, Ruby

#14845 Automodel: Fix a few nits.
  java/ql/automodel/src/AutomodelEndpointTypes.qll
  java/ql/automodel/src/AutomodelSharedCharacteristics.qll
Labels: Java

#14851 Python: Add test for variable reference in list comprehension
  python/ql/test/experimental/dataflow/coverage/localFlow.expected
  python/ql/test/experimental/dataflow/coverage/test.py
Labels: Python

#14838 C++: Convert `cpp/arithmetic-with-extreme-values` away from `DefaultTaintTracking`
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticWithExtremeValues.ql
Labels: C++, no-change-note-required

#14852 Backport PR #14825
  csharp/ql/integration-tests/all-platforms/dotnet_pack/test.py
  csharp/ql/integration-tests/posix-only/dotnet_test_mstest/dotnet_test_mstest.csproj
Labels: C#

#14767 C#: Framework dependency detection.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Assets.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyContainer.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FrameworkPackageNames.cs
  csharp/extractor/Semmle.Extraction.Tests/Assets.cs
Labels: C#, no-change-note-required

#14831 Kotlin: Add 2.0.0-Beta1
  java/kotlin-extractor/build.py
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2.0.0-Beta1/IrSymbolInternals.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2.0.0-Beta1/JavaBinarySourceElement.kt
Labels: depends on internal PR, Kotlin

#14798 Go: model value flow with array content through slice expressions
  go/ql/lib/change-notes/2023-11-15-bug-fix-value-flow-in-slice-expression.md
  go/ql/lib/semmle/go/dataflow/internal/ContainerFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
  go/ql/test/library-tests/semmle/go/dataflow/ArrayConversion/main.go
  go/ql/test/library-tests/semmle/go/dataflow/SliceExpressions/Flows.expected
  go/ql/test/library-tests/semmle/go/dataflow/SliceExpressions/Flows.ql
  go/ql/test/library-tests/semmle/go/dataflow/SliceExpressions/main.go
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
Labels: documentation, Go

#14858 Python: Test demonstrating the need for phi-read-nodes
  python/ql/test/experimental/dataflow/use-use-flow/read_explosion.py
  python/ql/test/experimental/dataflow/use-use-flow/use-use-counts.expected
  python/ql/test/experimental/dataflow/use-use-flow/use-use-counts.ql
Labels: Python, no-change-note-required

#14855 C#: Tolerate missing call targets in LogMessageSink
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/ExternalLocationSink.qll
  csharp/ql/test/library-tests/standalone/externalLocationSink/externalLocationSink.expected
  csharp/ql/test/library-tests/standalone/externalLocationSink/externalLocationSink.ql
  csharp/ql/test/library-tests/standalone/externalLocationSink/options
  csharp/ql/test/library-tests/standalone/externalLocationSink/standalone.cs
Labels: C#, no-change-note-required

#14861 Python: test demonstrating the need for phi nodes
  python/ql/test/experimental/dataflow/def-use-flow/def_use_counts.expected
  python/ql/test/experimental/dataflow/def-use-flow/def_use_counts.ql
  python/ql/test/experimental/dataflow/def-use-flow/def_use_flow.py
Labels: Python, no-change-note-required

#14868 SSA: Add locations to ease debugging
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
  csharp/ql/lib/semmle/code/cil/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  shared/dataflow/codeql/dataflow/VariableCapture.qll
  shared/ssa/codeql/ssa/Ssa.qll
  shared/ssa/qlpack.yml
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, Java, no-change-note-required, Ruby, Swift, DataFlow Library

#14880 Update change note 0.3.3.md
  swift/ql/src/change-notes/released/0.3.3.md
Labels: documentation, Swift

#14801 C++: Rewrite `cpp/tainted-format-string` away from `DefaultTaintTracking`
  cpp/ql/src/Security/CWE/CWE-134/UncontrolledFormatString.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-134/SAMATE/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.c
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/ifs/ifs.expected
Labels: C++, depends on internal PR, no-change-note-required

#14885 JS: update the JS change notes to mention security severity instead of just severity
  javascript/ql/src/CHANGELOG.md
  javascript/ql/src/change-notes/released/0.8.3.md
Labels: JS, documentation

#14725 Python: Add taint-flow modeling for `re` module
  python/ql/lib/change-notes/2023-11-08-re-modeling.md
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/dataflow/summaries-checks/dummy.py
  python/ql/test/experimental/dataflow/summaries-checks/invalid-spec.expected
  python/ql/test/experimental/dataflow/summaries-checks/invalid-spec.ql
  python/ql/test/experimental/dataflow/summaries-checks/missing-attribute-content.expected
  python/ql/test/experimental/dataflow/summaries-checks/missing-attribute-content.ql
  python/ql/test/library-tests/frameworks/stdlib/test_re.py
Labels: documentation, Python

#14775 Golang: Web Cache Deception Vulnerability
  go/ql/src/experimental/CWE-525/WebCacheDeception.qhelp
  go/ql/src/experimental/CWE-525/WebCacheDeception.ql
  go/ql/src/experimental/CWE-525/WebCacheDeceptionBad.go
  go/ql/src/experimental/CWE-525/WebCacheDeceptionGood.go
  go/ql/test/experimental/CWE-525/WebCacheDeception.expected
  go/ql/test/experimental/CWE-525/WebCacheDeception.qlref
  go/ql/test/experimental/CWE-525/WebCacheDeceptionBad.go
Labels: documentation, Go

#14890 Go: Change how we refer to a query in a change note
  go/ql/lib/change-notes/released/0.7.3.md
Labels: documentation, Go

#14881 C++: Rewrite `cpp/user-controlled-null-termination-tainted` away from `DefaultTaintTracking`
  cpp/ql/src/Security/CWE/CWE-170/ImproperNullTerminationTainted.ql
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/ImproperNullTermination/ImproperNullTerminationTainted.expected
Labels: C++, no-change-note-required

#14889 Fix changelog docs based on latest generator version
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.7.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.8.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.9.3.rst
Labels: documentation

#14886 C++: Rewrite `cpp/tainted-permissions-check` to not use `DefaultTaintTracking`
  cpp/ql/src/Security/CWE/CWE-807/TaintedCondition.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/TaintedCondition.expected
Labels: C++, no-change-note-required

#14902 Codegen: allow marking properties as internal
  misc/codegen/generators/qlgen.py
  misc/codegen/lib/ql.py
  misc/codegen/templates/ql_class.mustache
  misc/codegen/templates/ql_db.mustache
  misc/codegen/templates/ql_stub_class_qldoc.mustache
  misc/codegen/templates/ql_stub_module_qldoc.mustache
  misc/codegen/test/test_ql.py
  misc/codegen/test/test_qlgen.py
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/generated/MacroRole.qll
  swift/ql/lib/codeql/swift/generated/decl/PoundDiagnosticDecl.qll
  swift/schema.py
Labels: no-change-note-required, Swift

#14302 JS: extend DatabaseAccess by `TypeORM` and `sqlite` and `better-sqlite3` packages
  javascript/ql/lib/change-notes/2023-11-23-sqllite.md
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
  javascript/ql/src/experimental/semmle/javascript/SQL.qll
  javascript/ql/test/experimental/TypeOrm/test.ts
  javascript/ql/test/experimental/TypeOrm/tests.expected
  javascript/ql/test/experimental/TypeOrm/tests.ql
  javascript/ql/test/experimental/TypeOrm/tsconfig.json
  javascript/ql/test/library-tests/frameworks/SQL/Credentials.expected
  javascript/ql/test/library-tests/frameworks/SQL/SqlString.expected
  javascript/ql/test/library-tests/frameworks/SQL/better-sqlite3.js
  javascript/ql/test/library-tests/frameworks/SQL/postgres6.js
  javascript/ql/test/library-tests/frameworks/SQL/sqlite.js
  javascript/ql/test/library-tests/frameworks/SQL/sqlite3.js
Labels: JS, documentation, awaiting-response

#14894 C++: Don't short circuit logical negation in conditions
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/constant/ConstantAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCondition.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#14887 Kotlin: Add LighterAST support to numlines extraction
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/LinesOfCode.kt
  java/kotlin-extractor/src/main/kotlin/LinesOfCodePSI.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/LinesOfCodeLighterAST.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_9_0-Beta/CommentExtractorLighterAST.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_9_0-Beta/LinesOfCodeLighterAST.kt
  java/ql/integration-tests/all-platforms/kotlin/extractor_information_kotlin2/ExtractorInformation.expected
Labels: Java, Kotlin

#14874 Ruby: Add test for missing block flow
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/global/blocks.rb
Labels: no-change-note-required, Ruby

#14904 C++: Add Taint through int -> bool casts
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/Security/CWE/CWE-807/TaintedCondition.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/TaintedCondition.expected
Labels: C++, no-change-note-required

#14896 C++: Rewrite `cpp/user-controlled-bypass` away from `DefaultTaintTracking`
  cpp/ql/src/Security/CWE/CWE-290/AuthenticationBypass.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-290/semmle/AuthenticationBypass/AuthenticationBypass.expected
Labels: C++, depends on internal PR, no-change-note-required

#14903 C++: Do not use `isReturnValue` in `getenv`, `gets`, and `fgets` models
  cpp/ql/lib/semmle/code/cpp/models/implementations/Getenv.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/TaintedCondition.expected
Labels: C++, depends on internal PR, no-change-note-required

#14907 C++: Remove workaround for negated conditions in `cpp/user-controlled-bypass`
  cpp/ql/src/Security/CWE/CWE-290/AuthenticationBypass.ql
Labels: C++, no-change-note-required

#14879 Swift: "contentsOf" sources
  swift/ql/lib/change-notes/2023-11-22-contentsof.md
  swift/ql/lib/codeql/swift/frameworks/Frameworks.qll
  swift/ql/lib/codeql/swift/frameworks/Heuristic.qll
  swift/ql/test/library-tests/dataflow/flowsources/custom.swift
Labels: documentation, Swift

#14908 Swift: Flow models for Set
  swift/ql/lib/change-notes/2023-11-24-set.md
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Sequence.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Set.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/set.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/string.swift
Labels: documentation, Swift

#14911 C++: Don't exclude `ExprNode`s as sources
  cpp/ql/src/Security/CWE/CWE-114/UncontrolledProcessOperation.ql
  cpp/ql/src/Security/CWE/CWE-134/UncontrolledFormatString.ql
  cpp/ql/src/Security/CWE/CWE-290/AuthenticationBypass.ql
Labels: C++, no-change-note-required

#14849 Java Automodel extraction: remove primitives in framework mode
  java/ql/automodel/src/AutomodelFrameworkModeCharacteristics.qll
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractCandidates.expected
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractNegativeExamples.expected
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicClass.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicInterface.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/java/io/File.java
Labels: Java, no-change-note-required

#14807 Swift: More sinks for swift/uncontrolled-format-string
  swift/ql/lib/codeql/swift/StringFormat.qll
  swift/ql/lib/codeql/swift/security/UncontrolledFormatStringExtensions.qll
  swift/ql/src/change-notes/2023-11-16-format-string.md
  swift/ql/test/query-tests/Security/CWE-134/UncontrolledFormatString.expected
  swift/ql/test/query-tests/Security/CWE-134/UncontrolledFormatString.swift
Labels: documentation, Swift

#14906 Kotlin 2: Accept some location changes in test-kotlin2/library-tests/stmts
  java/ql/test-kotlin2/library-tests/stmts/exprs.expected
  java/ql/test-kotlin2/library-tests/stmts/stmts.expected
Labels: Java

#14878 C#: Pin integration tests to a specific .NET version.
  csharp/ql/integration-tests/all-platforms/cshtml/global.json
  csharp/ql/integration-tests/all-platforms/cshtml_standalone/global.json
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/global.json
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/global.json
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/global.json
  csharp/ql/integration-tests/all-platforms/diag_recursive_generics/global.json
  csharp/ql/integration-tests/all-platforms/dotnet_build/global.json
  csharp/ql/integration-tests/all-platforms/dotnet_no_args_inject/global.json
  csharp/ql/integration-tests/all-platforms/dotnet_pack/global.json
  csharp/ql/integration-tests/all-platforms/dotnet_publish/global.json
  csharp/ql/integration-tests/all-platforms/dotnet_run/global.json
  csharp/ql/integration-tests/all-platforms/standalone/global.json
  csharp/ql/integration-tests/posix-only/dotnet_test/global.json
  csharp/ql/integration-tests/posix-only/dotnet_test_mstest/global.json
  csharp/ql/integration-tests/posix-only/inherit-env-vars/global.json
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/global.json
  csharp/ql/integration-tests/posix-only/warn_as_error/global.json
Labels: C#, no-change-note-required

#14936 Python: Highlight missing post-update flow for `*args` and `**kwargs`
  python/ql/test/experimental/dataflow/coverage/argumentPassing.py
Labels: Python

#14937 C#: Prevent infinite recursion in `EqualsModuloTupleElementNames`
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/StubVisitor.cs
Labels: C#, no-change-note-required

#14797 Swift: Heuristic sinks for swift/sql-injection
  swift/ql/lib/codeql/swift/security/SqlInjectionExtensions.qll
  swift/ql/src/change-notes/2023-11-14-sql-injection.md
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  swift/ql/test/query-tests/Security/CWE-089/other.swift
Labels: documentation, Swift

#14943 JS: Add django template urls as "save urls"
  javascript/ql/src/DOM/TargetBlank.ql
  javascript/ql/src/change-notes/2023-11-28-django-urls.md
  javascript/ql/test/query-tests/DOM/TargetBlank/tst.js
Labels: JS, documentation
