Repository github/codeql, pull requests merged in 2023-06, with the labels that each got.

#12249 Java: add some neutral models discovered with heuristics
  java/ql/lib/ext/java.io.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/ext/java.nio.file.spi.model.yml
  java/ql/lib/ext/java.text.model.yml
  java/ql/lib/ext/java.util.prefs.model.yml
  java/ql/lib/ext/org.apache.hc.client5.http.protocol.model.yml
  java/ql/test/library-tests/neutrals/neutralsinks/NeutralSinksTest.expected
  java/ql/test/library-tests/neutrals/neutralsinks/NeutralSinksTest.ql
  java/ql/test/library-tests/neutrals/neutralsinks/Test.java
  java/ql/test/library-tests/neutrals/neutralsinks/options
  java/ql/test/stubs/apache-http-5/org/apache/hc/client5/http/protocol/RedirectLocations.java
Labels: Java, no-change-note-required

#13286 Kotlin: Support 1.9.0
  docs/codeql/reusables/supported-versions-compilers.rst
  java/kotlin-extractor/build.py
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/diagnostics.expected
  java/ql/lib/change-notes/2023-05-24-kotlin-1.9.0.md
Labels: documentation, Java, Kotlin

#13285 ReDoS: fix whitespace in the samples in ReDoS.qhelp
  java/ql/src/Security/CWE/CWE-730/ReDoS.qhelp
  javascript/ql/src/Performance/ReDoS.qhelp
  python/ql/src/Security/CWE-730/ReDoS.qhelp
  ruby/ql/src/queries/security/cwe-1333/ReDoS.qhelp
Labels: JS, documentation, Java, Python, Ruby

#13157 JS: update MaD sink kinds
  docs/codeql/codeql-language-guides/customizing-library-models-for-javascript.rst
  javascript/ql/lib/change-notes/2023-05-12-update-js-sink-kinds.md
  javascript/ql/lib/semmle/javascript/frameworks/Credentials.qll
  javascript/ql/lib/semmle/javascript/frameworks/sequelize/model.json
  javascript/ql/lib/semmle/javascript/frameworks/sequelize/model.yml
  javascript/ql/lib/semmle/javascript/security/dataflow/CommandInjectionCustomizations.qll
  javascript/ql/test/library-tests/DataExtensions/execa.model.yml
Labels: JS, documentation

#13298 C#: Extract default parameter values.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ImplicitCast.cs
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/ql/test/library-tests/parameters/Parameters.cs
  csharp/ql/test/library-tests/parameters/Parameters.cs_
  csharp/ql/test/library-tests/parameters/Parameters.dll
  csharp/ql/test/library-tests/parameters/Parameters.expected
  csharp/ql/test/library-tests/parameters/Parameters.ql
Labels: C#, no-change-note-required

#13190 Swift: Adopt the shared sensitive data library
  config/identical-files.json
  swift/ql/.generated.list
  swift/ql/lib/change-notes/2023-05-30-shared-sensitive.md
  swift/ql/lib/codeql/swift/elements/decl/Function.qll
  swift/ql/lib/codeql/swift/generated/Callable.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/lib/codeql/swift/security/internal/SensitiveDataHeuristics.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testURL.swift
  swift/ql/test/query-tests/Security/CWE-328/WeakSensitiveDataHashing.expected
  swift/ql/test/query-tests/Security/CWE-328/testCryptoKit.swift
  swift/schema.py
Labels: documentation, Swift

#13331 C++: Use the shortestDistances HOP to count indirections (rebased copy of #13323)
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
Labels: C++, no-change-note-required

#13353 Fix typo in spelling of expectation
  csharp/ql/test/TestUtilities/InlineFlowTest.qll
  go/ql/test/TestUtilities/InlineFlowTest.qll
  java/ql/test/TestUtilities/InlineFlowTest.qll
  python/ql/test/experimental/meta/ConceptsTest.qll
  ruby/ql/test/TestUtilities/InlineFlowTest.qll
Labels: C#, Java, Python, Go, Ruby

#13228 Java: add error message for outdated sink kinds in `getInvalidModelKind`
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
Labels: Java, no-change-note-required

#13211 Shared: Add stubs for `identify-environment` scripts
  go/Makefile
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  swift/tools/BUILD.bazel
  swift/tools/identify-environment.sh
Labels: Go, Swift

#12036 CPP: Add query for CVE-2022-37454: Integer addition may overflow inside if statement
  cpp/ql/src/experimental/Security/CWE/CWE-190/IfStatementAdditionOverflow.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-190/IfStatementAdditionOverflow.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/IfStatementAdditionOverflow/IfStatementAdditionOverflow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/IfStatementAdditionOverflow/IfStatementAdditionOverflow.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/IfStatementAdditionOverflow/test.cpp
Labels: C++, documentation

#13370 Swift: fix cmake generation
  misc/bazel/cmake/cmake.bzl
  swift/BUILD.bazel
  swift/CMakeLists.txt
  swift/extractor/BUILD.bazel
  swift/logging/tests/assertion-diagnostics/BUILD.bazel
  swift/tools/autobuilder-diagnostics/BUILD.bazel
  swift/xcode-autobuilder/BUILD.bazel
Labels: Swift

#13355 C++: Ensure that the sink instruction occurs last in `cpp/invalid-pointer-deref`
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++

#13374 C++: Remove `cpp/invalid-pointer-deref` results duplicating ones with smaller `k`
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++

#13361 C#: avoid calls to `Location::toString()`
  csharp/ql/src/Bad Practices/Implementation Hiding/ExposeRepresentation.ql
  csharp/ql/src/Complexity/ComplexCondition.ql
  csharp/ql/test/query-tests/Bad Practices/Implementation Hiding/ExposeRepresentation/ExposeRepresentation.expected
Labels: C#, no-change-note-required

#13371 Python: avoid selecting `getLocation()`
  python/ql/src/Expressions/TruncatedDivision.ql
  python/ql/src/Statements/UnnecessaryDelete.ql
  python/ql/test/2/query-tests/Expressions/TruncatedDivision.expected
  python/ql/test/query-tests/Statements/general/UnnecessaryDelete.expected
Labels: Python, no-change-note-required

#13373 Java/Kotlin: Split lines of code by language
  java/ql/src/Metrics/Summaries/LinesOfCode.ql
  java/ql/src/Metrics/Summaries/LinesOfCodeKotlin.ql
  java/ql/src/change-notes/2023-06-05-lines-of-code.md
Labels: documentation, Java

#13386 Java: Update MaD Declarations after Triage
  java/ql/lib/change-notes/2023-06-06-new-models.md
  java/ql/lib/ext/com.alibaba.druid.sql.model.yml
  java/ql/lib/ext/com.fasterxml.jackson.databind.model.yml
  java/ql/lib/ext/com.jcraft.jsch.model.yml
  java/ql/lib/ext/io.netty.handler.ssl.model.yml
  java/ql/lib/ext/okhttp3.model.yml
  java/ql/lib/ext/org.antlr.runtime.model.yml
  java/ql/lib/ext/org.fusesource.leveldbjni.model.yml
  java/ql/lib/ext/org.influxdb.model.yml
  java/ql/lib/ext/org.springframework.core.io.model.yml
  java/ql/lib/ext/org.yaml.snakeyaml.model.yml
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeUrlForward.expected
Labels: documentation, Java

#13392 java: test type tracking through flow summaries
  java/ql/test/library-tests/dispatch/CallableViaSummary.java
  java/ql/test/library-tests/dispatch/viaSummary.expected
  java/ql/test/library-tests/dispatch/viaSummary.ql
Labels: Java

#13225 Java: Migrate path injection sinks to models-as-data (simplified)
  java/ql/lib/change-notes/2023-05-19-path-injection-sinks-mad.md
  java/ql/lib/ext/java.io.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/semmle/code/java/security/TaintedPathQuery.qll
  java/ql/lib/semmle/code/java/security/ZipSlipQuery.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  java/ql/src/Security/CWE/CWE-022/TaintedPathLocal.ql
  java/ql/src/experimental/Security/CWE/CWE-073/FilePathInjection.ql
  java/ql/test/experimental/query-tests/security/CWE-073/FilePathInjection.expected
  java/ql/test/query-tests/Telemetry/SupportedExternalSinks/SupportedExternalSinks.expected
Labels: documentation, Java

#13382 C#: Change standalone extraction to allow unsafe code
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
Labels: C#

#13399 Ruby: update tree-sitter-ruby
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
Labels: Ruby

#13388 Type tracking: Use `noopt`+`inline_late` in `TypeBackTracker::[small]step`
  shared/typetracking/codeql/typetracking/TypeTracking.qll
Labels: Java

#12964 Ruby: Remove canonical return nodes
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rack.qll
  ruby/ql/lib/codeql/ruby/frameworks/actioncontroller/Filters.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/dataflow/local/Nodes.ql
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
Labels: Python, no-change-note-required, Ruby

#13398 Python: Update expected output for syntax error queries
  python/ql/test/2/query-tests/Imports/syntax_error/SyntaxError.expected
  python/ql/test/3/query-tests/Imports/syntax_error/SyntaxError.expected
Labels: depends on internal PR, Python, no-change-note-required

#13283 JS: Be more conservative about flagging "search" call arguments as regex
  javascript/ql/lib/semmle/javascript/Regexp.qll
  javascript/ql/src/change-notes/2023-06-01-restrict-regex-search-function.md
  javascript/ql/test/query-tests/RegExp/RegExpAlwaysMatches/tst.js
  javascript/ql/test/query-tests/Security/CWE-020/MissingRegExpAnchor/MissingRegExpAnchor.expected
  javascript/ql/test/query-tests/Security/CWE-020/MissingRegExpAnchor/tst-UnanchoredUrlRegExp.js
  javascript/ql/test/query-tests/Security/CWE-730/RegExpInjection.expected
  javascript/ql/test/query-tests/Security/CWE-730/RegExpInjection.js
Labels: JS, documentation

#13394 Java: Fix Gson's JsonArray.add models
  java/ql/lib/ext/com.google.gson.model.yml
  java/ql/test/library-tests/frameworks/gson/Test.java
Labels: Java, no-change-note-required

#13350 C++: delete old deprecations
  cpp/ql/lib/change-notes/2022-08-06-delete-deps.md
  cpp/ql/lib/semmle/code/cpp/Class.qll
  cpp/ql/lib/semmle/code/cpp/PrintAST.qll
  cpp/ql/lib/semmle/code/cpp/controlflow/SSA.qll
  cpp/ql/lib/semmle/code/cpp/controlflow/SSAUtils.qll
  cpp/ql/lib/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/TOperand.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/RangeSSA.qll
  cpp/ql/src/Security/CWE/CWE-020/ExternalAPIs.qll
  cpp/ql/src/Security/CWE/CWE-020/ExternalAPIsSpecific.qll
  cpp/ql/src/Security/CWE/CWE-020/SafeExternalAPIFunction.qll
  cpp/ql/src/Security/CWE/CWE-020/ir/ExternalAPIs.qll
  cpp/ql/src/Security/CWE/CWE-020/ir/ExternalAPIsSpecific.qll
  cpp/ql/src/Security/CWE/CWE-020/ir/SafeExternalAPIFunction.qll
  cpp/ql/src/external/CodeDuplication.qll
  cpp/ql/test/library-tests/dataflow/fields/Nodes.qll
Labels: C++, documentation

#13259 Ruby: Refactor and slightly expand `ActionDispatch` modelling
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionDispatch.qll
  ruby/ql/lib/codeql/ruby/frameworks/actiondispatch/internal/Mime.qll
  ruby/ql/lib/codeql/ruby/frameworks/actiondispatch/internal/Request.qll
  ruby/ql/lib/codeql/ruby/frameworks/actiondispatch/internal/Routing.qll
  ruby/ql/test/library-tests/frameworks/action_dispatch/ActionDispatch.expected
  ruby/ql/test/library-tests/frameworks/action_dispatch/ActionDispatch.ql
  ruby/ql/test/library-tests/frameworks/action_dispatch/app/controllers/comments_controller.rb
Labels: no-change-note-required, Ruby

#13409 Java: Fix more problems in the Gson models
  java/ql/lib/ext/com.google.gson.model.yml
  java/ql/test/library-tests/frameworks/gson/Test.java
Labels: Java, no-change-note-required

#13410 Revert "Ruby: update tree-sitter-ruby"
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
Labels: Ruby

#13414 C#: Pass architecture to `dotnet test` in `dotnet_test_mstest`
  csharp/ql/integration-tests/posix-only/dotnet_test_mstest/test.py
Labels: C#

#13408 Java: Add more negation context to reduce string ops and improve perf.
  java/ql/lib/semmle/code/java/security/LogInjection.qll
Labels: Java, no-change-note-required

#13407 Ruby: restrict ORM tracking to calls
  ruby/ql/lib/codeql/ruby/security/XSS.qll
Labels: Awaiting evaluation, no-change-note-required, Ruby

#13406 C++: Fix the `++` problem
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++, no-change-note-required

#13083 Dataflow: Strengthen tracked types.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/change-notes/2023-06-08-type-strengthening.md
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ext.yml
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/Dataflow.expected
  csharp/ql/test/query-tests/Security Features/CWE-338/InsecureRandomness.expected
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/change-notes/2023-06-08-type-strengthening.md
  java/ql/lib/ext/java.sql.model.yml
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/experimental/Security/CWE/CWE-200/AndroidWebResourceResponse.qll
  java/ql/test/experimental/query-tests/security/CWE-020/Log4jInjectionTest.expected
  java/ql/test/experimental/query-tests/security/CWE-200/InsecureWebResourceResponse.expected
  java/ql/test/experimental/query-tests/security/CWE-200/SensitiveAndroidFileLeak.expected
  java/ql/test/experimental/query-tests/security/CWE-470/UnsafeReflection.expected
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeUrlForward.expected
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery.expected
  java/ql/test/experimental/query-tests/security/CWE-755/NFEAndroidDoS.expected
  java/ql/test/ext/TestModels/Test.java
  java/ql/test/library-tests/frameworks/apache-collections/Test.java
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/TopJdkApisTest/TopJdkApisTest.expected
  java/ql/test/query-tests/security/CWE-078/ExecTaintedLocal.expected
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, documentation, Java, Python, Go, Ruby, Swift, DataFlow Library

#13307 Ruby: Add YAML unsafe deserialization sinks
  ruby/ql/lib/change-notes/2023-05-27-unsafe-deserialization.md
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/Yaml.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeDeserializationCustomizations.qll
  ruby/ql/src/queries/security/cwe-502/UnsafeDeserialization.qhelp
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/PlistUnsafeDeserialization.rb
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/YAMLUnsafeDeserialization.rb
Labels: documentation, Ruby

#13391 Python: Avoid duplicated query-id
  python/ql/src/experimental/Security/CWE-074/paramiko/paramiko.ql
Labels: Python

#13424 Multi-variant repository analysis docs update
  docs/codeql/codeql-for-visual-studio-code/running-codeql-queries-at-scale-with-mrva.rst
  docs/codeql/images/codeql-for-visual-studio-code/variant-analysis-code-search-language.png
Labels: documentation

#13420 C#: Make sure System.Private.CoreLib is added only once as a reference in standalone extraction
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
Labels: C#

#13381 JS: remove the second argument of findByIdAndUpdate as a NoSQL sink
  javascript/ql/lib/semmle/javascript/security/TaintedObject.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
Labels: JS, no-change-note-required

#13335 Build: Bump build mode to C++20.
  .bazelrc
  swift/.clang-format
  swift/extractor/infra/file/BUILD.bazel
Labels: depends on internal PR, Swift

#13336 Swift: Fix some C++20 todos.
  swift/extractor/trap/BUILD.bazel
  swift/extractor/trap/TrapLabel.h
  swift/logging/SwiftDiagnostics.h
  swift/logging/SwiftLogging.h
  swift/tools/autobuilder-diagnostics/IncompatibleOs.cpp
  swift/xcode-autobuilder/XcodeBuildRunner.cpp
  swift/xcode-autobuilder/xcode-autobuilder.cpp
Labels: Swift

#13209 python: Container summaries, part 2
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/dataflow/coverage/test_builtins.py
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/UnsafeUnpack.expected
  python/ql/test/experimental/query-tests/Security/CWE-1236/CsvInjection.expected
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-078-CommandInjection-py2/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-078-CommandInjection/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-079-ReflectedXss/ReflectedXss.expected
  python/ql/test/query-tests/Security/CWE-094-CodeInjection/CodeInjection.expected
  python/ql/test/query-tests/Security/CWE-117-LogInjection/LogInjection.expected
  python/ql/test/query-tests/Security/CWE-285-PamAuthorization/PamAuthorization.expected
  python/ql/test/query-tests/Security/CWE-502-UnsafeDeserialization/UnsafeDeserialization.expected
  python/ql/test/query-tests/Security/CWE-601-UrlRedirect/UrlRedirect.expected
  python/ql/test/query-tests/Security/CWE-643-XPathInjection/XpathInjection.expected
  python/ql/test/query-tests/Security/CWE-730-PolynomialReDoS/PolynomialReDoS.expected
Labels: Python, no-change-note-required

#13427 Kotlin: Avoid using deprecated APIs
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/GetByFqName.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_4_32/FirIncompatiblePluginAPI.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_4_32/ReferenceEntity.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_8_0/FirIncompatiblePluginAPI.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_8_0/ReferenceEntity.kt
Labels: Kotlin

#13235 Java: Add Hudson models
  java/ql/lib/change-notes/2023-05-22-hudson-models.md
  java/ql/lib/ext/hudson.model.model.yml
  java/ql/lib/ext/hudson.model.yml
  java/ql/lib/ext/hudson.util.model.yml
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/frameworks/hudson/Hudson.qll
  java/ql/lib/semmle/code/java/security/XSS.qll
  java/ql/test/library-tests/dataflow/taintsources/Hudson.java
  java/ql/test/library-tests/dataflow/taintsources/options
  java/ql/test/query-tests/security/CWE-079/semmle/tests/XSS.java
  java/ql/test/query-tests/security/CWE-079/semmle/tests/options
  java/ql/test/stubs/jenkins/hudson/FilePath.java
  java/ql/test/stubs/jenkins/hudson/Util.java
Labels: documentation, Java

#13380 JS: Fix invalid source kind in test
  javascript/ql/test/library-tests/DataExtensions/Test.expected
  javascript/ql/test/library-tests/DataExtensions/Test.ql
  javascript/ql/test/library-tests/DataExtensions/connection.expected
  javascript/ql/test/library-tests/DataExtensions/connection.ext.yml
  javascript/ql/test/library-tests/DataExtensions/connection.ql
  javascript/ql/test/library-tests/DataExtensions/execa.expected
  javascript/ql/test/library-tests/DataExtensions/execa.ext.yml
  javascript/ql/test/library-tests/DataExtensions/execa.model.yml
  javascript/ql/test/library-tests/DataExtensions/execa.ql
  javascript/ql/test/library-tests/DataExtensions/message.expected
  javascript/ql/test/library-tests/DataExtensions/message.ext.yml
  javascript/ql/test/library-tests/DataExtensions/message.ql
  javascript/ql/test/qlpack.yml
Labels: JS

#13147 C#: Use synthetic global in the EntityFramework code instead of jump steps.
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/test/library-tests/frameworks/EntityFramework/EntityFramework.cs
  csharp/ql/test/library-tests/frameworks/EntityFramework/EntityFrameworkCore.cs
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.expected
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#13227 Java: Add autogenerated models for frameworks related to Jenkins
  java/ql/lib/change-notes/2023-06-14-jenkins-autogenerated-models.md
  java/ql/lib/ext/generated/jenkins-json-lib.model.yml
  java/ql/lib/ext/generated/jenkins.model.yml
  java/ql/lib/ext/generated/stapler.model.yml
Labels: documentation, Java

#13459 Swift: Don't use `std::hash<fs::path>`.
  swift/extractor/infra/SwiftLocationExtractor.h
  swift/extractor/infra/file/BUILD.bazel
  swift/extractor/infra/file/PathHash.h
  swift/extractor/infra/file/PathHash.h.fixed
  swift/extractor/infra/file/PathHash.h.workaround
  swift/extractor/remapping/SwiftFileInterception.cpp
Labels: Swift

#13395 Python: container summaries, part 3
  python/ql/lib/change-notes/2023-06-13-container-store-steps.md
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/dataflow/coverage/test.py
  python/ql/test/experimental/dataflow/coverage/test_builtins.py
  python/ql/test/experimental/dataflow/summaries/summaries.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_collections.py
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/TarSlip.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/UnsafeUnpack.expected
  python/ql/test/library-tests/frameworks/aiohttp/taint_test.py
  python/ql/test/library-tests/frameworks/multidict/taint_test.py
Labels: documentation, Python, Awaiting evaluation

#13240 Swift: reorganize `VarDecl` instances within `BraceStmt`
  swift/ql/.generated.list
  swift/ql/lib/change-notes/2023-06-06-brace-stmt-variables.md
  swift/ql/lib/codeql/swift/elements/pattern/NamedPattern.qll
  swift/ql/lib/codeql/swift/elements/stmt/BraceStmt.qll
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/stmt/BraceStmt.qll
  swift/ql/test/extractor-tests/generated/decl/CapturedDecl/PrintAst.expected
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/elements/expr/methodlookup/PrintAst.expected
  swift/schema.py
Labels: documentation, Swift

#13456 JS: Restrict length of state path in vuex model
  javascript/ql/lib/semmle/javascript/frameworks/Vuex.qll
Labels: JS, no-change-note-required

#13463 Kotlin: Remove use of AccessControlException
  java/kotlin-extractor/src/main/java/com/semmle/util/files/FileUtil.java
Labels: Kotlin

#13150 C#: Remove jump step
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: C#, no-change-note-required

#13485 Exclude `cpp/overrun-write` from `cpp-security-extended.qls`
  cpp/ql/src/Security/CWE/CWE-119/OverrunWriteProductFlow.ql
Labels: C++, no-change-note-required

#13466 C++: Add FP test cases for `cpp/invalid-pointer-deref`
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++

#13423 Ruby: update grammar
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
Labels: Ruby

#13482 Kotlin: Avoid another cause of ConcurrentModificationException with 1.9
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#13475 C#/Go/Java/JS/Python/Ruby: Update the description and qhelp of the Zipslip query
  csharp/ql/src/Security Features/CWE-022/ZipSlip.qhelp
  csharp/ql/src/Security Features/CWE-022/ZipSlip.ql
  csharp/ql/src/change-notes/2023-06-16-zipslip-rename.md
  go/ql/src/Security/CWE-022/ZipSlip.qhelp
  go/ql/src/Security/CWE-022/ZipSlip.ql
  go/ql/src/change-notes/2023-06-16-zipslip-rename.md
  java/ql/src/Security/CWE/CWE-022/ZipSlip.qhelp
  java/ql/src/Security/CWE/CWE-022/ZipSlip.ql
  java/ql/src/change-notes/2023-06-16-zipslip-rename.md
  javascript/ql/src/Security/CWE-022/ZipSlip.qhelp
  javascript/ql/src/Security/CWE-022/ZipSlip.ql
  javascript/ql/src/change-notes/2023-06-16-zipslip-rename.md
  python/ql/src/change-notes/2023-06-16-zipslip-rename.md
  python/ql/src/experimental/Security/CWE-022/ZipSlip.qhelp
  python/ql/src/experimental/Security/CWE-022/ZipSlip.ql
  ruby/ql/src/change-notes/2023-06-16-zipslip-rename.md
  ruby/ql/src/experimental/cwe-022-zipslip/ZipSlip.qhelp
  ruby/ql/src/experimental/cwe-022-zipslip/ZipSlip.ql
Labels: C#, JS, documentation, Java, Python, ready-for-doc-review, Go, Ruby

#13256 Java: Model the Stapler framework
  java/ql/lib/change-notes/2023-05-22-stapler-models.md
  java/ql/lib/ext/org.kohsuke.stapler.bind.model.yml
  java/ql/lib/ext/org.kohsuke.stapler.json.model.yml
  java/ql/lib/ext/org.kohsuke.stapler.model.yml
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/lib/semmle/code/java/frameworks/hudson/Hudson.qll
  java/ql/lib/semmle/code/java/frameworks/stapler/Stapler.qll
  java/ql/test/library-tests/dataflow/taintsources/Stapler.java
  java/ql/test/library-tests/dataflow/taintsources/options
  java/ql/test/library-tests/frameworks/stapler/DataBoundPostConstructTest.java
  java/ql/test/library-tests/frameworks/stapler/HttpResponseTest.java
  java/ql/test/library-tests/frameworks/stapler/options
  java/ql/test/stubs/javax-annotation-api-1.3.2/javax/annotation/PostConstruct.java
  java/ql/test/stubs/jenkins/hudson/model/Descriptor.java
  java/ql/test/stubs/stapler-1.263/org/kohsuke/stapler/DataBoundConstructor.java
  java/ql/test/stubs/stapler-1.263/org/kohsuke/stapler/DataBoundResolvable.java
  java/ql/test/stubs/stapler-1.263/org/kohsuke/stapler/DataBoundSetter.java
  java/ql/test/stubs/stapler-1.263/org/kohsuke/stapler/InjectedParameter.java
Labels: documentation, Java

#13480 Java: clean up mad kinds use
  java/ql/src/Telemetry/AutomodelApplicationModeCharacteristics.qll
  java/ql/src/Telemetry/AutomodelEndpointTypes.qll
  java/ql/src/Telemetry/AutomodelFrameworkModeCharacteristics.qll
  java/ql/src/Telemetry/AutomodelJavaUtil.qll
  java/ql/src/Telemetry/AutomodelSharedCharacteristics.qll
Labels: Java, no-change-note-required

#13497 Swift: remove `std::result_of` from swift headers
  swift/third_party/load.bzl
  swift/third_party/swift-llvm-support/patches/remove-result-of.patch
Labels: Swift

#13500 Release preparation for Swift
  swift/ql/lib/CHANGELOG.md
  swift/ql/lib/change-notes/2023-05-25-dataprotocol-models.md
  swift/ql/lib/change-notes/2023-05-25-fix-ast-and-cfg-inconsistencies.md
  swift/ql/lib/change-notes/2023-05-30-shared-sensitive.md
  swift/ql/lib/change-notes/released/0.1.1.md
  swift/ql/lib/codeql-pack.release.yml
  swift/ql/lib/qlpack.yml
  swift/ql/src/CHANGELOG.md
  swift/ql/src/change-notes/released/0.1.1.md
  swift/ql/src/codeql-pack.release.yml
  swift/ql/src/qlpack.yml
Labels: documentation, Swift

#13460 CPP: delete the deprecated Container::getURL predicates
  cpp/ql/lib/change-notes/2023-06-19-delete-container-url.md
  cpp/ql/lib/semmle/code/cpp/File.qll
Labels: C++, documentation

#13504 Merge rc/3.10 into main
  shared/regex/codeql/regex/nfa/NfaUtils.qll
Labels: Mergeback

#13453 Go: Add failing tests for MaD with pointer content
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/completetest.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/sinks.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/srcs.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/test.go
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/vendor/github.com/nonexistent/test/stub.go
Labels: no-change-note-required, Go

#13443 add QL specification section on module instantiations
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#13513 mention how instantiation-nested predicates are treated in stratification and evaluation
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#13455 Dataflow: add language-specific hook for breaking up big step relation
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#13454 Go: Add models-as-data content for pointer content
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImplSpecific.qll
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/completetest.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/test.go
Labels: C#, no-change-note-required, Go

#13517 QL: Exclude overridden fields from `FieldOnlyUsedInCharPred.ql`
  ql/ql/src/queries/style/FieldOnlyUsedInCharPred.ql
  ql/ql/test/queries/style/FieldOnlyUsedInCharPred/FieldOnlyUsedInCharPred.expected
  ql/ql/test/queries/style/FieldOnlyUsedInCharPred/FieldOnlyUsedInCharPred.qll
  ql/ql/test/queries/style/FieldOnlyUsedInCharPred/FieldOnlyUsedInCharPred.qlref
Labels: QL-for-QL

#13324 Shared: share MaD kind validation across languages
  csharp/ql/lib/qlpack.yml
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  go/ql/lib/qlpack.yml
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  java/ql/lib/qlpack.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  python/ql/lib/qlpack.yml
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/lib/qlpack.yml
  shared/mad/codeql/mad/ModelValidation.qll
  shared/mad/qlpack.yml
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/qlpack.yml
Labels: C#, JS, Java, Python, no-change-note-required, Go, Ruby, Swift

#13511 JS: Single quote was preventing the shell from expanding the BODY variable in Expression injection in Actions example
  javascript/ql/src/Security/CWE-094/examples/comment_issue_good.yml
Labels: JS

#13521 QL: Model `final extends`
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/Type.qll
  ql/ql/src/queries/performance/AbstractClassImport.ql
  ql/ql/test/queries/performance/AbstractClassImport/AbstractClassImport.expected
  ql/ql/test/queries/performance/AbstractClassImport/AbstractClassImport.qlref
  ql/ql/test/queries/performance/AbstractClassImport/AbstractClassImportTest1.qll
  ql/ql/test/queries/performance/AbstractClassImport/AbstractClassImportTest2.qll
  ql/ql/test/queries/performance/AbstractClassImport/AbstractClassImportTest3.qll
  ql/ql/test/queries/performance/AbstractClassImport/AbstractClassImportTestQuery.expected
  ql/ql/test/queries/performance/AbstractClassImport/AbstractClassImportTestQuery.ql
  ql/ql/test/queries/style/MissingOverride/MissingOverride.expected
  ql/ql/test/queries/style/MissingOverride/Test.qll
Labels: QL-for-QL

#13523 Polish QL language spec "Call with results" section
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#13501 JS: Add another example the Hardcoded credential help
  javascript/ql/src/Security/CWE-798/HardcodedCredentials.qhelp
  javascript/ql/src/Security/CWE-798/examples/HardcodedCredentialsHttpRequest.js
  javascript/ql/src/Security/CWE-798/examples/HardcodedCredentialsHttpRequestFixed.js
Labels: JS, documentation

#13534 QL: Fix bad join
  ql/ql/src/codeql_ql/ast/internal/Predicate.qll
Labels: QL-for-QL

#13461 Go: show FunctionModel steps in path summaries
  go/ql/lib/change-notes/2023-06-20-function-model-path-nodes.md
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  go/ql/test/experimental/CWE-134/DsnInjection.expected
  go/ql/test/experimental/CWE-134/DsnInjectionLocal.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-078/StoredCommand.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-079/StoredXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-327/UnsafeTLS.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-352/ConstantOauth2State.expected
Labels: documentation, Go

#13532 Swift: bump C++ version in CMake
  swift/CMakeLists.txt
Labels: Swift

#13526 Kotlin: Define DiagnosticTrapWriter, for type safety
  java/kotlin-extractor/src/main/kotlin/ExternalDeclExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/TrapWriter.kt
  java/kotlin-extractor/src/main/kotlin/utils/Logger.kt
Labels: Kotlin

#13289 Ruby: rack - model redirect responses
  ruby/ql/lib/change-notes/2023-06-08-rack-redirect.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rack.qll
  ruby/ql/lib/codeql/ruby/frameworks/actiondispatch/internal/Request.qll
  ruby/ql/lib/codeql/ruby/frameworks/rack/internal/App.qll
  ruby/ql/lib/codeql/ruby/frameworks/rack/internal/Response.qll
  ruby/ql/test/library-tests/frameworks/rack/Rack.expected
  ruby/ql/test/library-tests/frameworks/rack/Rack.ql
  ruby/ql/test/library-tests/frameworks/rack/rack.rb
Labels: documentation, Ruby

#13537 Ruby: Fix some QLDoc errors in ParseRegExp.qll
  ruby/ql/lib/codeql/ruby/regexp/internal/ParseRegExp.qll
Labels: no-change-note-required, Ruby

#13093 [CSharp] Additional data extensions for sink models
  csharp/ql/lib/change-notes/2023-05-09-models-as-data.md
  csharp/ql/lib/semmle/code/csharp/security/dataflow/CommandInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/LDAPInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/LogForgingQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/UrlRedirectQuery.qll
Labels: C#, documentation

#13533 Swift: Hide summarized nodes from path graphs
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/src/change-notes/2023-06-22-hide-summarized-nodes.md
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/query-tests/Security/CWE-079/UnsafeWebViewFetch.expected
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  swift/ql/test/query-tests/Security/CWE-094/UnsafeJsEval.expected
  swift/ql/test/query-tests/Security/CWE-1204/StaticInitializationVector.expected
  swift/ql/test/query-tests/Security/CWE-134/UncontrolledFormatString.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.expected
  swift/ql/test/query-tests/Security/CWE-760/ConstantSalt.expected
Labels: documentation, Swift

#13425 C++: Fix more conflation in dataflow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/PrintIRFieldFlowSteps.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/PrintIRUtilities.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcpy.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/self_parameter_flow.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_self_parameter_flow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_self_parameter_flow.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowDestination.expected
Labels: C++, no-change-note-required

#13470 Swift: Regular expressions library.
  shared/regex/codeql/regex/nfa/NfaUtils.qll
  swift/ql/lib/change-notes/2023-06-19-regex-library.md
  swift/ql/lib/codeql/swift/regex/Regex.qll
  swift/ql/lib/codeql/swift/regex/RegexTreeView.qll
  swift/ql/lib/codeql/swift/regex/internal/ParseRegex.qll
  swift/ql/lib/qlpack.yml
  swift/ql/src/queries/Summary/SummaryStats.ql
  swift/ql/test/library-tests/regex/parse.expected
  swift/ql/test/library-tests/regex/parse.ql
  swift/ql/test/library-tests/regex/redos_variants.swift
  swift/ql/test/library-tests/regex/regex.expected
  swift/ql/test/library-tests/regex/regex.ql
  swift/ql/test/library-tests/regex/regex.swift
  swift/ql/test/library-tests/regex/regex_swift57.swift.disabled
  swift/ql/test/library-tests/regex/test_fragment_licenses/ANodeBlog-LICENSE
  swift/ql/test/library-tests/regex/test_fragment_licenses/CodeMirror-LICENSE
  swift/ql/test/library-tests/regex/test_fragment_licenses/Prism-LICENSE
  swift/ql/test/library-tests/regex/test_fragment_licenses/Prototype.js-LICENSE
  swift/ql/test/library-tests/regex/test_fragment_licenses/brace-expansion-LICENSE
  swift/ql/test/library-tests/regex/test_fragment_licenses/jest-LICENSE
  swift/ql/test/library-tests/regex/test_fragment_licenses/knockout-LICENSE
  swift/ql/test/library-tests/regex/test_fragment_licenses/marked-LICENSE
  swift/ql/test/library-tests/regex/test_the_tests.swift.disabled
Labels: documentation, Swift

#13515 C++: Dataflow fix for the self-iterators issue
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/self-Iterator.cpp
Labels: C++, no-change-note-required

#13545 Ruby: Reduce string pool pressure by late-inlining `locationRelativePathToString`
  ruby/ql/lib/codeql/ruby/frameworks/Sinatra.qll
Labels: no-change-note-required, Ruby

#13543 Ruby: Add `toString` functionality consistency queries
  ruby/ql/consistency-queries/AstConsistency.ql
  ruby/ql/consistency-queries/CfgConsistency.ql
  ruby/ql/consistency-queries/DataFlowConsistency.ql
Labels: Ruby

#13544 C#: Add `toString` functionality consistency queries
  csharp/ql/consistency-queries/AstConsistency.qll
  csharp/ql/consistency-queries/CfgConsistency.ql
  csharp/ql/consistency-queries/DataFlowConsistency.ql
Labels: C#

#13547 Kotlin: Build: Remove some dead code
  java/kotlin-extractor/build.py
Labels: Kotlin

#12581 python: enable summaries from model
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  python/ql/lib/change-notes/2023-06-20-summaries-from-models.md
  python/ql/lib/semmle/python/dataflow/new/FlowSummary.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModels.qll
  python/ql/test/experimental/dataflow/model-summaries/InlineTaintTest.expected
  python/ql/test/experimental/dataflow/model-summaries/InlineTaintTest.ql
  python/ql/test/experimental/dataflow/model-summaries/NormalDataflowTest.expected
  python/ql/test/experimental/dataflow/model-summaries/NormalDataflowTest.ql
  python/ql/test/experimental/dataflow/model-summaries/TestSummaries.qll
  python/ql/test/experimental/dataflow/model-summaries/model_summaries.py
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
Labels: JS, documentation, Python, Ruby

#13116 C++: include stack-allocated arrays in off-by-one query
  cpp/ql/src/experimental/Security/CWE/CWE-193/ConstantSizeArrayOffByOne.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/test.cpp
Labels: C++

#13536 QL: Improve dead-code query
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/style/DeadCodeQuery.qll
  ql/ql/test/queries/style/DeadCode/DeadCode.expected
  ql/ql/test/queries/style/DeadCode/Foo.qll
Labels: QL-for-QL

#13358 Java: Model `SerialKiller`
  java/ql/lib/semmle/code/java/security/UnsafeDeserializationQuery.qll
  java/ql/src/change-notes/2023-06-02-unsafe-deserialization-serialkiller.md
  java/ql/test/query-tests/security/CWE-502/A.java
  java/ql/test/query-tests/security/CWE-502/options
  java/ql/test/stubs/serialkiller-4.0.0/org/nibblesec/tools/SerialKiller.java
Labels: documentation, Java

#13528 C++: fix range analysis back edge detection for irreducible CFGs
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticSSA.qll
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
Labels: C++, no-change-note-required

#13572 Document deprecated imports
  docs/codeql/ql-language-reference/annotations.rst
  docs/codeql/ql-language-reference/modules.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#13550 Java: Add models for `org.apache.commons.lang`
  java/ql/lib/ext/generated/org.apache.commons.lang.model.yml
  java/ql/src/change-notes/2023-06-23-apache-commons-lang.md
Labels: documentation, Java

#13575 C#: Enable implicit this warnings for remaining packs
  csharp/downgrades/qlpack.yml
  csharp/ql/campaigns/Solorigate/lib/qlpack.yml
  csharp/ql/campaigns/Solorigate/src/qlpack.yml
  csharp/ql/campaigns/Solorigate/test/qlpack.yml
  csharp/ql/consistency-queries/qlpack.yml
  csharp/ql/examples/qlpack.yml
  csharp/ql/integration-tests/qlpack.yml
Labels: C#

#13582 Ruby: Enable implicit this warnings for remaining packs
  ruby/downgrades/qlpack.yml
  ruby/ql/consistency-queries/qlpack.yml
  ruby/ql/examples/qlpack.yml
  ruby/ql/integration-tests/all-platforms/qlpack.yml
Labels: Ruby

#13581 QL: Enable implicit this warnings for remaining packs
  ql/ql/consistency-queries/qlpack.yml
  ql/ql/examples/qlpack.yml
  ql/ql/test/callgraph/packs/lib/qlpack.yml
  ql/ql/test/callgraph/packs/other/qlpack.yml
  ql/ql/test/callgraph/packs/src/qlpack.yml
  ql/ql/test/qlpack.yml
Labels: QL-for-QL

#13559 C++: Add barriers to `cpp/invalid-pointer-deref`
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++

#13579 Javascript: Enable implicit this warnings for remaining packs
  javascript/downgrades/qlpack.yml
  javascript/ql/examples/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/model/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/test/qlpack.yml
  javascript/ql/integration-tests/all-platforms/qlpack.yml
Labels: JS, ATM

#13565 C#: Avoid combinatorial explosions in GVN construction for types
  csharp/ql/consistency-queries/TypeConsistency.qll
  csharp/ql/lib/semmle/code/csharp/AnnotatedType.qll
  csharp/ql/lib/semmle/code/csharp/Generics.qll
  csharp/ql/lib/semmle/code/csharp/Type.qll
  csharp/ql/lib/semmle/code/csharp/TypeRef.qll
  csharp/ql/lib/semmle/code/csharp/Unification.qll
  csharp/ql/lib/semmle/code/dotnet/Generics.qll
Labels: C#, no-change-note-required

#13577 Go: Enable implicit this warnings for remaining packs
  go/downgrades/qlpack.yml
  go/external-packs/codeql/suite-helpers/0.0.2/qlpack.yml
  go/ql/config/legacy-support/qlpack.yml
  go/ql/examples/qlpack.yml
  go/ql/integration-tests/all-platforms/go/qlpack.yml
  go/ql/integration-tests/linux-only/go/qlpack.yml
Labels: Go

#13539 Java: Add URL.toString summary
  java/ql/lib/change-notes/2023-06-22-url-tostring-model.md
  java/ql/lib/ext/java.net.model.yml
Labels: documentation, Java

#12879 Java: Convert all command injection sinks to MaD format
  java/ql/lib/change-notes/2023-04-19-deprecated-execcallable.md
  java/ql/lib/ext/experimental/com.jcraft.jsch.model.yml
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/org.apache.commons.exec.model.yml
  java/ql/lib/semmle/code/java/JDK.qll
  java/ql/lib/semmle/code/java/frameworks/apache/Exec.qll
  java/ql/lib/semmle/code/java/security/CommandLineQuery.qll
  java/ql/lib/semmle/code/java/security/ExternalProcess.qll
  java/ql/src/Security/CWE/CWE-078/ExecTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-078/ExecUnescaped.ql
  java/ql/src/experimental/Security/CWE/CWE-078/ExecTainted.ql
  java/ql/src/experimental/Security/CWE/CWE-078/JSchOSInjection.qll
  java/ql/test/query-tests/security/CWE-078/ExecTaintedLocal.expected
Labels: documentation, Java

#13563 C++: Implement `clearsContent` for IR dataflow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/ArrayAccessProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
  cpp/ql/test/library-tests/dataflow/fields/clearning.cpp
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/OverrunWriteProductFlow.expected
Labels: C++, no-change-note-required

#13568 Java: Tweak some android tests
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script-no-wrapper/project/build.gradle.kts
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script-no-wrapper/test.expected
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script/project/build.gradle.kts
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script/test.expected
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-no-wrapper/project/build.gradle
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-no-wrapper/test.expected
  java/ql/integration-tests/all-platforms/java/android-sample-old-style/project/build.gradle
  java/ql/integration-tests/all-platforms/java/android-sample-old-style/test.expected
Labels: Java

#13580 Python: Enable implicit this warnings for remaining packs
  python/downgrades/qlpack.yml
  python/ql/consistency-queries/qlpack.yml
  python/ql/examples/qlpack.yml
  python/tools/recorded-call-graph-metrics/ql/qlpack.yml
Labels: Python

#13574 CPP: Enable implicit this warnings for remaining packs
  cpp/downgrades/qlpack.yml
  cpp/ql/examples/qlpack.yml
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/qlpack.yml
Labels: C++

#13592 C++: fix irreducible control flow logic
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticSSA.qll
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
Labels: C++, no-change-note-required

#13569 Swift: fix all upstream headers for C++20
  .pre-commit-config.yaml
  swift/third_party/load.bzl
  swift/third_party/swift-llvm-support/patches/add-constructor-to-Compilation.patch
  swift/third_party/swift-llvm-support/patches/remove-redundant-operators.patch
Labels: Swift

#13567 Swift: extend frontend observer
  swift/extractor/main.cpp
  swift/ql/test/extractor-tests/declarations/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/extractor-tests/expressions/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/extractor-tests/generated/decl/EnumDecl/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/extractor-tests/statements/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/ast/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/ast/Errors.expected
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/controlflow/graph/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/dataflow/taint/libraries/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/elements/decl/enumdecl/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/elements/decl/function/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-089/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-1204/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-259/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-311/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-312/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-321/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-327/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-328/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-611/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-757/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-760/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-916/CONSISTENCY/CfgConsistency.expected
  swift/third_party/load.bzl
Labels: Swift

#13117 C++: handle cast arrays properly in off-by-one query
  cpp/ql/src/experimental/Security/CWE/CWE-193/ConstantSizeArrayOffByOne.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/test.cpp
Labels: C++

#13588 C#: Fix external API name for nested types
  csharp/ql/src/Telemetry/ExternalApi.qll
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/ExternalLibraryUsage.cs
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/ExternalLibraryUsage.expected
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/SupportedExternalTaint.expected
Labels: C#, no-change-note-required

#13496 Ruby: overhaul API graphs
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  ruby/ql/lib/change-notes/2023-06-28-tracking-on-demand.md
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/experimental/UnicodeBypassValidationQuery.qll
  ruby/ql/lib/codeql/ruby/experimental/ZipSlipCustomizations.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionMailbox.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionMailer.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveResource.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/lib/codeql/ruby/frameworks/Sqlite3.qll
  ruby/ql/lib/codeql/ruby/frameworks/Twirp.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Gem.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/ModelsAsData.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsSpecific.qll
  ruby/ql/lib/codeql/ruby/security/KernelOpenQuery.qll
  ruby/ql/lib/codeql/ruby/security/OpenSSL.qll
  ruby/ql/lib/codeql/ruby/typetracking/ApiGraphShared.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
  ruby/ql/test/library-tests/dataflow/api-graphs/ApiGraphs.expected
  ruby/ql/test/library-tests/dataflow/api-graphs/VerifyApiGraphExpectations.expected
  ruby/ql/test/library-tests/dataflow/api-graphs/VerifyApiGraphExpectations.ql
  ruby/ql/test/library-tests/dataflow/api-graphs/callbacks.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/chained-access.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/method-callbacks.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/self-dot-class.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/test1.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/use.ql
  ruby/ql/test/library-tests/frameworks/Twirp/Twirp.expected
  ruby/ql/test/library-tests/frameworks/Twirp/Twirp.ql
  ruby/ql/test/library-tests/frameworks/Twirp/hello_world_server.rb
  ruby/ql/test/library-tests/frameworks/action_dispatch/ActionDispatch.expected
  ruby/ql/test/library-tests/frameworks/active_record/ActiveRecord.expected
  ruby/ql/test/library-tests/frameworks/active_record/ActiveRecord.ql
  ruby/ql/test/library-tests/frameworks/active_resource/ActiveResource.expected
  ruby/ql/test/library-tests/frameworks/active_resource/ActiveResource.ql
  ruby/ql/test/query-tests/security/cwe-079/StoredXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/app/views/foo/stores/show.html.erb
  ruby/ql/test/query-tests/security/cwe-089/SqlInjection.expected
  shared/util/codeql/util/test/InlineExpectationsTest.qll
Labels: documentation, Python, Ruby

#13596 C++: Fix join in `argumentOf`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Labels: C++, no-change-note-required

#13600 Kotlin: Remove a use of ObsoleteDescriptorBasedAPI
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#13604 C++: Fix test annotation for `cpp/invalid-pointer-deref` test
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++

#13573 Ruby/Python: Use `inline_late` on member predicates
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  ruby/ql/lib/codeql/Locations.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
Labels: Python, no-change-note-required, Ruby

#13597 Swift: bump Swift build, NFC
  swift/third_party/load.bzl
Labels: Swift

#13605 Java: Add models for `javax.portlet`
  java/ql/lib/change-notes/2023-06-28-javax-portlet-autogenerated-models.md
  java/ql/lib/ext/generated/javax.portlet.model.yml
Labels: documentation, Java

#13587 Java: Fix external API name for nested types
  java/ql/src/Telemetry/ExternalApi.qll
  java/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.expected
  java/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.java
Labels: Java, no-change-note-required

#13598 C++: Add `cpp/constant-array-overflow` FPs
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/test.cpp
Labels: C++

#13617 C++: Add more `cpp/invalid-pointer-deref` FP test cases
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++

#13623 C++: Speed up `cpp/overrun-write`
  cpp/ql/src/Security/CWE/CWE-119/OverrunWriteProductFlow.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/OverrunWriteProductFlow.expected
Labels: C++, no-change-note-required

#13620 Revert "Ruby: overhaul API graphs"
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  ruby/ql/lib/change-notes/2023-06-28-tracking-on-demand.md
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/experimental/UnicodeBypassValidationQuery.qll
  ruby/ql/lib/codeql/ruby/experimental/ZipSlipCustomizations.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionMailbox.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionMailer.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveResource.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/lib/codeql/ruby/frameworks/Sqlite3.qll
  ruby/ql/lib/codeql/ruby/frameworks/Twirp.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Gem.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/ModelsAsData.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsSpecific.qll
  ruby/ql/lib/codeql/ruby/security/KernelOpenQuery.qll
  ruby/ql/lib/codeql/ruby/security/OpenSSL.qll
  ruby/ql/lib/codeql/ruby/typetracking/ApiGraphShared.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
  ruby/ql/test/library-tests/dataflow/api-graphs/ApiGraphs.expected
  ruby/ql/test/library-tests/dataflow/api-graphs/VerifyApiGraphExpectations.ql
  ruby/ql/test/library-tests/dataflow/api-graphs/callbacks.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/chained-access.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/method-callbacks.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/self-dot-class.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/test1.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/use.expected
  ruby/ql/test/library-tests/dataflow/api-graphs/use.ql
  ruby/ql/test/library-tests/frameworks/Twirp/Twirp.expected
  ruby/ql/test/library-tests/frameworks/Twirp/Twirp.ql
  ruby/ql/test/library-tests/frameworks/Twirp/hello_world_server.rb
  ruby/ql/test/library-tests/frameworks/action_dispatch/ActionDispatch.expected
  ruby/ql/test/library-tests/frameworks/active_record/ActiveRecord.expected
  ruby/ql/test/library-tests/frameworks/active_record/ActiveRecord.ql
  ruby/ql/test/library-tests/frameworks/active_resource/ActiveResource.expected
  ruby/ql/test/library-tests/frameworks/active_resource/ActiveResource.ql
  ruby/ql/test/query-tests/security/cwe-079/StoredXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/app/views/foo/stores/show.html.erb
  ruby/ql/test/query-tests/security/cwe-089/SqlInjection.expected
  shared/util/codeql/util/test/InlineExpectationsTest.qll
Labels: documentation, Python, Ruby

#13619 C#: Remove the renaming of `Directory.Build.props` from standalone extraction
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
Labels: C#

#13603 C++: Implement `isUnreachableInCall`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++, no-change-note-required

#13606 Ruby: fix sqlite3 `PreparedStatementExecution.getSql()` predicate
  ruby/ql/lib/codeql/ruby/frameworks/Sqlite3.qll
  ruby/ql/test/library-tests/frameworks/sqlite3/Sqlite3.expected
Labels: no-change-note-required, Ruby

#13632 Misc: add bazel buildifer pre-commit hook
  .pre-commit-config.yaml
  misc/bazel/workspace_deps.bzl
  swift/codegen/BUILD.bazel
  swift/third_party/BUILD.binlog.bazel
  swift/third_party/BUILD.swift-llvm-support.bazel
  swift/xcode-autobuilder/tests/BUILD.bazel
Labels: Swift

#13631 document final extensions in the language reference
  docs/codeql/ql-language-reference/types.rst
Labels: documentation

#13635 C++: Revert parts of #13623
  cpp/ql/src/Security/CWE/CWE-119/OverrunWriteProductFlow.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/OverrunWriteProductFlow.expected
Labels: C++, no-change-note-required

#13502 C++: Account for the signedness of the lesser operand in `cpp/comparison-with-wider-type`
  cpp/ql/src/Security/CWE/CWE-190/ComparisonWithWiderType.ql
  cpp/ql/src/change-notes/2023-06-29-improve-comparison-wider-type.md
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ComparisonWithWiderType/ComparisonWithWiderType.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ComparisonWithWiderType/test.c
Labels: C++, documentation
