Repository github/codeql, pull requests merged in 2023-01, with the labels that each got.

#11796 Ruby: Fix compile error in test
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.ql
Labels: Ruby

#11794 Update annotations-in-java.rst
  docs/codeql/codeql-language-guides/annotations-in-java.rst
Labels: documentation

#11741 Remove references to LGTM in code
  javascript/ql/src/Security/CWE-201/examples/PostMessageStarGood.js
  javascript/ql/test/library-tests/frameworks/ReactNative/WebView.expected
  javascript/ql/test/library-tests/frameworks/ReactNative/webview.js
  javascript/ql/test/query-tests/Security/CWE-201/PostMessageStarGood.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst4.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst8.js
  python/ql/test/3/library-tests/PointsTo/typehints/Values.expected
  python/ql/test/3/library-tests/PointsTo/typehints/test.py
  python/ql/test/library-tests/regex/charSetTest.py
  python/ql/test/library-tests/regex/escapedCharacterTest.py
  python/ql/test/library-tests/regex/test.py
  python/ql/test/library-tests/regexparser/unittests.py
  python/ql/test/query-tests/Classes/conflicting/odasa6643.py
  python/ql/test/query-tests/Classes/missing-init/missing_init.py
  python/ql/test/query-tests/Expressions/eq/expressions_test.py
  python/ql/test/query-tests/Functions/general/explicit_return_in_init.py
  python/ql/test/query-tests/Functions/general/parameter_names.py
  python/ql/test/query-tests/Variables/unused/variables_test.py
  ruby/README.md
Labels: JS, documentation, Python, Ruby

#11800 Remove Go's install-deps.sh script
  go/Makefile
  go/README.md
  go/scripts/install-deps.sh
Labels: documentation, Go

#11554 Update intro tutorial to include Codespaces CodeQL template
  docs/codeql/reusables/codespaces-template-note.rst
  docs/codeql/writing-codeql-queries/find-the-thief.rst
  docs/codeql/writing-codeql-queries/introduction-to-ql.rst
Labels: documentation

#11701 Go: Count fields correctly
  go/ql/lib/change-notes/2022-11-16-implicit-read-flowstates.md
  go/ql/lib/change-notes/2022-12-15-getnumparameter-changed.md
  go/ql/lib/semmle/go/AST.qll
  go/ql/lib/semmle/go/Decls.qll
  go/ql/lib/semmle/go/Expr.qll
Labels: documentation, Go

#11783 Specify language names in extractor packs
  csharp/codeql-extractor.yml
  go/codeql-extractor.yml
  ql/codeql-extractor.yml
  ruby/codeql-extractor.yml
  swift/codeql-extractor.yml
Labels: C#, Go, Ruby, QL-for-QL, Swift

#11811 Merge docs updates from codeql-cli-2.11.5 -> codeql-cli-2.11.6
  docs/codeql/reusables/codespaces-template-note.rst
  docs/codeql/writing-codeql-queries/find-the-thief.rst
  docs/codeql/writing-codeql-queries/introduction-to-ql.rst
Labels: documentation, Mergeback

#11812 Merge docs updates from codeql-cli-2.11.6 into rc/3.8
  docs/codeql/reusables/codespaces-template-note.rst
  docs/codeql/writing-codeql-queries/find-the-thief.rst
  docs/codeql/writing-codeql-queries/introduction-to-ql.rst
Labels: documentation, Mergeback

#11813 Merge docs updates from rc/3.8 into main
  docs/codeql/reusables/codespaces-template-note.rst
  docs/codeql/writing-codeql-queries/find-the-thief.rst
  docs/codeql/writing-codeql-queries/introduction-to-ql.rst
Labels: documentation, Mergeback

#11805 Swift: Add a reference for swift/hardcoded-key.
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.qhelp
Labels: documentation, Swift

#11747 Tutorial: Move QL detective tutorial library into shared `codeql/tutorial` library pack
  .github/workflows/ruby-build.yml
  config/identical-files.json
  cpp/ql/lib/qlpack.yml
  csharp/ql/lib/qlpack.yml
  csharp/ql/lib/tutorial.qll
  go/ql/lib/qlpack.yml
  go/ql/lib/tutorial.qll
  java/ql/lib/qlpack.yml
  java/ql/lib/tutorial.qll
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/tutorial.qll
  python/ql/lib/qlpack.yml
  python/ql/lib/tutorial.qll
  ruby/ql/lib/qlpack.yml
  ruby/ql/lib/tutorial.qll
  shared/tutorial/change-notes/2022-12-19-initial-version.md
  shared/tutorial/qlpack.yml
  shared/tutorial/tutorial.qll
  swift/ql/lib/qlpack.yml
Labels: C#, JS, C++, documentation, Java, Python, Go, Ruby, Swift

#11803 C++: Mark a number of private predicates in the GVN library as deprecated
  cpp/ql/lib/semmle/code/cpp/valuenumbering/GlobalValueNumberingImpl.qll
Labels: C++, no-change-note-required

#11810 Add inline_late pragma to QL language spec
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#11818 C++: Fix the expression kind in two of the downgrade scripts
  cpp/downgrades/23f7cbb88a4eb29f30c3490363dc201bc054c5ff/exprs.ql
  cpp/downgrades/73af5058c6899dcdb05754c27ca966aeb3a68c94/exprs.ql
Labels: C++

#11826 CI: fail if a changenote filename doesn't have the right format
  .github/workflows/check-change-note.yml
Labels: no-change-note-required

#11821 Java: fix typos in MaD row `name` columns for `MappingSqlQuery` and `MappingSqlQueryWithParameters`
  java/ql/lib/change-notes/2023-01-05-fix-mad-typos.md
  java/ql/lib/ext/org.springframework.jdbc.object.model.yml
Labels: documentation, Java

#11823 C++: Use HeuristicAllocationExpr in more queries
  cpp/ql/lib/semmle/code/cpp/models/interfaces/Allocation.qll
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
  cpp/ql/src/Security/CWE/CWE-190/TaintedAllocationSize.ql
  cpp/ql/src/change-notes/2023-01-05-heuristic-allocations.md
  cpp/ql/src/experimental/Security/CWE/CWE-190/AllocMultiplicationOverflow.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/AllocMultiplicationOverflow/AllocMultiplicationOverflow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/AllocMultiplicationOverflow/test.cpp
  cpp/ql/test/query-tests/Critical/OverflowCalculated/NoSpaceForZeroTerminator.expected
  cpp/ql/test/query-tests/Critical/OverflowCalculated/tests3.cpp
  cpp/ql/test/query-tests/Critical/SizeCheck/test.c
  cpp/ql/test/query-tests/Critical/SizeCheck/test2.c
  cpp/ql/test/query-tests/Security/CWE/CWE-131/NoSpaceForZeroTerminator/NoSpaceForZeroTerminator.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-131/NoSpaceForZeroTerminator/NoSpaceForZeroTerminator.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-131/NoSpaceForZeroTerminator/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-131/NoSpaceForZeroTerminator/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-131/NoSpaceForZeroTerminator/test2.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/test.cpp
Labels: C++, documentation

#11832 Go: Handle output from `go version` more gracefully
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/cli/go-autobuilder/go-autobuilder_test.go
Labels: Go

#11670 Swift: Add predicate injection query
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/security/PredicateInjection.qll
  swift/ql/lib/codeql/swift/security/PredicateInjectionQuery.qll
  swift/ql/src/queries/Security/CWE-943/PredicateInjection.qhelp
  swift/ql/src/queries/Security/CWE-943/PredicateInjection.ql
  swift/ql/src/queries/Security/CWE-943/PredicateInjectionBad.swift
  swift/ql/src/queries/Security/CWE-943/PredicateInjectionGood.swift
  swift/ql/test/query-tests/Security/CWE-946/PredicateInjectionTest.expected
  swift/ql/test/query-tests/Security/CWE-946/PredicateInjectionTest.ql
  swift/ql/test/query-tests/Security/CWE-946/predicateInjection.swift
Labels: documentation, ready-for-doc-review, Swift

#11820 Python: fix downgrade script
  python/downgrades/503c0516fba2e5da9570f00eb34ef43025ecb8fb/py_exprs.ql
  python/downgrades/503c0516fba2e5da9570f00eb34ef43025ecb8fb/py_stmts.ql
Labels: Python

#11730 Java: improve naming and description of SqlUnescaped.ql
  java/ql/lib/semmle/code/java/security/SqlConcatenatedLib.qll
  java/ql/lib/semmle/code/java/security/SqlInjectionQuery.qll
  java/ql/src/Security/CWE/CWE-089/SqlConcatenated.java
  java/ql/src/Security/CWE/CWE-089/SqlConcatenated.qhelp
  java/ql/src/Security/CWE/CWE-089/SqlConcatenated.ql
  java/ql/src/change-notes/2023-01-03-renamed-sql-unescaped.md
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlConcatenated.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlConcatenated.qlref
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlUnescaped.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlUnescaped.qlref
  java/ql/test/query-tests/security/CWE-089/semmle/examples/sbQuery.ql
Labels: documentation, Java

#11581 Rb: add stdin as source for unsafe-deserialization
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Base64.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeDeserializationCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeDeserializationQuery.qll
  ruby/ql/src/change-notes/2023-01-06-stdin-as-deserialization-source.md
  ruby/ql/src/queries/security/cwe-502/UnsafeDeserialization.ql
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.rb
Labels: documentation, Ruby

#11781 C++: Map more expressions to `OperandNode`s
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/SAMATE/PotentiallyExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/PotentiallyExposedSystemData.expected
Labels: C++, no-change-note-required

#11815 Ruby: use record_parse_error_for_node to report extractor error
  ruby/extractor/src/extractor.rs
Labels: no-change-note-required, Ruby

#11835 Docs: CodeQL pack compatibility
  docs/codeql/codeql-cli/about-codeql-packs.rst
  docs/codeql/codeql-cli/creating-and-working-with-codeql-packs.rst
  docs/codeql/codeql-cli/publishing-and-using-codeql-packs.rst
Labels: documentation, ready-for-doc-review

#11740 C#: Update stats based on projects.
  csharp/ql/lib/semmlecode.csharp.dbscheme.stats
Labels: C#, no-change-note-required

#11804 C#: Align query IDs.
  csharp/ql/lib/change-notes/2023-01-03-queryids.md
  csharp/ql/src/Metrics/Summaries/FrameworkCoverage.ql
  csharp/ql/src/Metrics/internal/ExtractorDiagnostics.ql
  csharp/ql/src/Telemetry/ExternalLibraryUsage.ql
  csharp/ql/src/Telemetry/SupportedExternalApis.ql
  csharp/ql/src/Telemetry/SupportedExternalSinks.ql
  csharp/ql/src/Telemetry/SupportedExternalSources.ql
  csharp/ql/src/Telemetry/SupportedExternalTaint.ql
  csharp/ql/src/Telemetry/UnsupportedExternalAPIs.ql
  csharp/ql/src/meta/frameworks/UnsupportedExternalAPIs.ql
  csharp/ql/src/utils/model-generator/CaptureDiscardedSummaryModels.ql
  csharp/ql/src/utils/modelconverter/ExtractNeutrals.ql
Labels: C#, documentation

#11711 C#/Java: Delete deprecated ModelCsv classes and related predicates.
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
Labels: C#, Java, no-change-note-required

#11851 JS: fix bad join-order in js/missing-this-qualifier
  javascript/ql/src/Declarations/MissingThisQualifier.ql
Labels: JS, no-change-note-required

#11852 JS: recognize an infinite repetition of a char-class like regex as a char-class like regex
  javascript/ql/lib/semmle/javascript/security/regexp/PolynomialReDoSCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/polynomial-redos.js
Labels: JS, no-change-note-required

#11860 Swift: make compilation with newer STL possible
  swift/extractor/infra/file/BUILD.bazel
  swift/extractor/infra/file/PathHash.h.fixed
  swift/extractor/infra/file/PathHash.h.workaround
Labels: Swift

#11628 Java: Add parameters of methods annotated @JavascriptInterface as remote flow sources
  java/ql/lib/change-notes/2022-01-13-android-javascriptinterface-parameters-remote-sources.md
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/frameworks/android/WebView.qll
  java/ql/test/library-tests/dataflow/taintsources/AndroidExposedObject.java
  java/ql/test/stubs/google-android-9.0.0/android/webkit/JavascriptInterface.java
Labels: documentation, Java

#11785 Swift: Add sinks for the GRDB library
  swift/ql/lib/codeql/swift/security/PathInjection.qll
  swift/ql/src/queries/Security/CWE-089/SqlInjection.ql
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/test/query-tests/Security/CWE-022/testPathInjection.swift
  swift/ql/test/query-tests/Security/CWE-089/GRDB.swift
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testGRDB.swift
Labels: Swift

#11867 QL: move queries folder instead of .cache folder now that we got .qlx
  .github/workflows/ql-for-ql-build.yml
  .github/workflows/ql-for-ql-dataset_measure.yml
  .github/workflows/ql-for-ql-tests.yml
Labels: QL-for-QL

#11770 QL: Add OmittableExists query
  ql/ql/src/codeql_ql/style/ConjunctionParent.qll
  ql/ql/src/queries/style/OmittableExists.ql
  ql/ql/src/queries/style/RedundantAssignment.ql
  ql/ql/test/queries/style/OmittableExists/OmittableExists.expected
  ql/ql/test/queries/style/OmittableExists/OmittableExists.qlref
  ql/ql/test/queries/style/OmittableExists/Test.qll
Labels: QL-for-QL

#11742 Swift: Add more path injection sinks
  swift/ql/lib/codeql/swift/security/PathInjection.qll
  swift/ql/test/query-tests/Security/CWE-022/testPathInjection.swift
Labels: Swift

#11870 Merge codeql-cli-2.12.0 back to main
  docs/codeql/codeql-cli/about-codeql-packs.rst
  docs/codeql/codeql-cli/creating-and-working-with-codeql-packs.rst
  docs/codeql/codeql-cli/publishing-and-using-codeql-packs.rst
Labels: documentation, Mergeback

#11088 Python: Inline query tests
  python/ql/test/experimental/dataflow/TestUtil/DataflowQueryTest.qll
  python/ql/test/query-tests/Security/CWE-022-PathInjection/DataflowQueryTest.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/DataflowQueryTest.ql
  python/ql/test/query-tests/Security/CWE-022-PathInjection/flask_path_injection.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/path_injection.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/test.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/test_chaining.py
  python/ql/test/query-tests/Security/CWE-078-CommandInjection/DataflowQueryTest.expected
  python/ql/test/query-tests/Security/CWE-078-CommandInjection/DataflowQueryTest.ql
  python/ql/test/query-tests/Security/CWE-078-CommandInjection/command_injection.py
Labels: Python

#11721 C#/Java: Re-factor provenance related predicates.
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  csharp/ql/src/utils/modelgenerator/CaptureDiscardedSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/src/Metrics/Summaries/GeneratedVsManualCoverage.ql
  java/ql/test/ext/TopJdkApis/TopJdkApis.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: C#, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#11637 Kotlin: Add 1.8 support
  docs/codeql/reusables/supported-versions-compilers.rst
  java/kotlin-extractor/build.gradle
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorCommandLineProcessor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorComponentRegistrar.kt
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/PrimitiveTypeInfo.kt
  java/kotlin-extractor/src/main/kotlin/utils/GetByFqName.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_4_32/ExperimentalCompilerApi.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_4_32/FirIncompatiblePluginAPI.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_8_0/ExperimentalCompilerApi.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_8_0/FirIncompatiblePluginAPI.kt
  java/ql/integration-tests/all-platforms/kotlin/annotation-id-consistency/PrintAst.expected
  java/ql/integration-tests/all-platforms/kotlin/logs/index_logs.py
  java/ql/integration-tests/linux-only/kotlin/custom_plugin/plugin/Plugin.kt
  java/ql/test/kotlin/library-tests/annotation_classes/PrintAst.expected
  java/ql/test/kotlin/library-tests/annotation_classes/classes.expected
  java/ql/test/kotlin/library-tests/enum/test.expected
  java/ql/test/kotlin/library-tests/java-lang-number-conversions/test.expected
  java/ql/test/kotlin/library-tests/reflection/reflection.expected
Labels: documentation, Java, Kotlin

#11864 JS: Bump version numbers of ML-powered packs after 0.4.5 release
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: ATM

#11872 JS: Fixup some problems in PrintAST
  javascript/ql/lib/semmle/javascript/PrintAst.qll
  javascript/ql/test/library-tests/AST/Decorators/printAst.expected
  javascript/ql/test/library-tests/AST/Decorators/printAst.ql
  javascript/ql/test/library-tests/AST/Decorators/tsconfig.json
  javascript/ql/test/library-tests/AST/Decorators/tst.ts
  javascript/ql/test/library-tests/TypeScript/TypeAnnotations/printAst.expected
  javascript/ql/test/library-tests/TypeScript/Types/printAst.expected
Labels: JS, no-change-note-required

#11738 Go: Models as Data using extensions.
  go/ql/lib/ext/archive_tar.model.yml
  go/ql/lib/ext/builtin.model.yml
  go/ql/lib/ext/dummy.model.yml
  go/ql/lib/ext/net_http.model.yml
  go/ql/lib/qlpack.yml
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  go/ql/lib/semmle/go/dataflow/ExternalFlowExtensions.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImplSpecific.qll
  go/ql/lib/semmle/go/frameworks/stdlib/ArchiveTar.qll
  go/ql/lib/semmle/go/frameworks/stdlib/NetHttp.qll
  go/ql/lib/semmle/go/security/FlowSources.qll
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/completetest.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/completetest.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/sinks.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/sinks.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/srcs.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/srcs.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/steps.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlow/steps.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowVarArgs/Flows.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowVarArgs/Flows.ql
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithFunctionModels/Flows.ql
Labels: no-change-note-required, Go

#11700 [Java] Document fixes for deserialization vulnerabilities by framework
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.qhelp
Labels: documentation, Java, ready-for-doc-review

#11877 QL/Ruby: include OS version in cache keys for Rust binaries
  .github/actions/os-version/action.yml
  .github/workflows/ql-for-ql-build.yml
  .github/workflows/ql-for-ql-dataset_measure.yml
  .github/workflows/ql-for-ql-tests.yml
  .github/workflows/ruby-build.yml
  ruby/actions/create-extractor-pack/action.yml
Labels: no-change-note-required, Ruby, QL-for-QL

#11743 C++: `PostUpdateNode`s for const-pointer arguments
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/AllocMultiplicationOverflow/AllocMultiplicationOverflow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/source-sink-tests/sources-and-sinks.cpp
Labels: C++, no-change-note-required

#11857 C++: Speedup `cpp/missing-check-scanf`
  cpp/ql/src/Critical/MissingCheckScanf.ql
Labels: C++, no-change-note-required

#11883 C++: Fix bad join in `definitionOf`
  cpp/ql/lib/definitions.qll
  cpp/ql/lib/semmle/code/cpp/Location.qll
Labels: C++, no-change-note-required

#11841 Swift: Add integral type classes
  swift/ql/lib/codeql/swift/elements/type/NumericType.qll
  swift/ql/lib/swift.qll
  swift/ql/test/library-tests/elements/type/numerictype/numeric.swift
  swift/ql/test/library-tests/elements/type/numerictype/numerictype.expected
  swift/ql/test/library-tests/elements/type/numerictype/numerictype.ql
Labels: no-change-note-required, Swift

#11886 Fix small typo in good/bad code sample.
  java/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.java
Labels: Java

#11858 JS: track shell:true more in js/shell-command-constructed-from-input
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/lib.js
Labels: JS, no-change-note-required

#11590 Swift: Add Cleartext Logging query
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/security/CleartextLogging.qll
  swift/ql/lib/codeql/swift/security/CleartextLoggingQuery.qll
  swift/ql/src/queries/Security/CWE-312/CleartextLogging.qhelp
  swift/ql/src/queries/Security/CWE-312/CleartextLogging.ql
  swift/ql/src/queries/Security/CWE-312/CleartextLoggingBad.swift
  swift/ql/src/queries/Security/CWE-312/CleartextLoggingGood.swift
  swift/ql/test/query-tests/Security/CWE-312/CleartextLoggingTest.expected
  swift/ql/test/query-tests/Security/CWE-312/CleartextLoggingTest.ql
  swift/ql/test/query-tests/Security/CWE-312/cleartextLoggingTest.swift
Labels: documentation, ready-for-doc-review, Swift

#11884 QL/Ryby: fix qltest on Windows
  .github/workflows/ql-for-ql-tests.yml
  .github/workflows/ruby-build.yml
  ql/rust-toolchain.toml
  ql/tools/qltest.cmd
  ruby/tools/qltest.cmd
Labels: Ruby, QL-for-QL

#11899 Fix partial path traversal Java example
  java/ql/src/Security/CWE/CWE-023/PartialPathTraversalGood.java
  java/ql/src/Security/CWE/CWE-023/PartialPathTraversalRemainder.inc.qhelp
Labels: documentation, Java

#11900 Swift: do not trace lsregister
  swift/tools/tracing-config.lua
Labels: Swift

#11901 Swift: introduce `@ql.internal` pragma for classes
  swift/codegen/generators/qlgen.py
  swift/codegen/lib/ql.py
  swift/codegen/lib/schema/defs.py
  swift/codegen/templates/ql_class.mustache
  swift/codegen/templates/ql_stub.mustache
  swift/codegen/test/test_ql.py
  swift/codegen/test/test_qlgen.py
  swift/codegen/test/test_schema.py
Labels: Swift

#11892 QL: update clap to 3.0 in QL-for-QL
  ql/Cargo.lock
  ql/extractor/Cargo.toml
  ql/generator/Cargo.toml
Labels: QL-for-QL

#11903 QL: Revert "update clap to 3.0 in QL-for-QL"
  ql/Cargo.lock
  ql/extractor/Cargo.toml
  ql/generator/Cargo.toml
Labels: QL-for-QL

#11779 Java: model top JDK APIs
  java/ql/lib/change-notes/2023-01-03-add-more-top-jdk-models.md
  java/ql/lib/ext/java.io.model.yml
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/java.math.model.yml
  java/ql/lib/ext/java.sql.model.yml
  java/ql/lib/ext/java.text.model.yml
  java/ql/lib/ext/java.time.model.yml
  java/ql/lib/ext/java.util.concurrent.atomic.model.yml
  java/ql/lib/ext/java.util.concurrent.model.yml
  java/ql/lib/ext/java.util.model.yml
  java/ql/lib/ext/java.util.stream.model.yml
  java/ql/lib/semmle/code/java/security/ConditionalBypassQuery.qll
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-755/NFEAndroidDoS.expected
  java/ql/test/ext/TestModels/Test.java
  java/ql/test/ext/TopJdkApis/TopJdkApis.qll
  java/ql/test/ext/TopJdkApis/TopJdkApisTest.expected
  java/ql/test/ext/TopJdkApis/TopJdkApisTest.java
  java/ql/test/library-tests/dataflow/taint/B.java
  java/ql/test/library-tests/dataflow/taint/test.expected
  java/ql/test/query-tests/Telemetry/UnsupportedExternalAPIs/Test.java
  java/ql/test/query-tests/Telemetry/UnsupportedExternalAPIs/UnsupportedExternalAPIs.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayConstructionLocal.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayIndexLocal.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTaintedLocal.expected
Labels: documentation, Java

#11283 Java: Android WebView Content Access Query
  java/ql/lib/change-notes/2022-12-21-allowcontentaccessmethod.md
  java/ql/lib/semmle/code/java/frameworks/android/WebView.qll
  java/ql/src/Security/CWE/CWE-200/AndroidWebViewSettingsAllowsContentAccess.qhelp
  java/ql/src/Security/CWE/CWE-200/AndroidWebViewSettingsAllowsContentAccess.ql
  java/ql/src/Security/CWE/CWE-200/ContentAccessDisabled.java
  java/ql/src/Security/CWE/CWE-200/ContentAccessEnabled.java
  java/ql/src/change-notes/2022-12-21-android-allowcontentaccess-query.md
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewContentAccess.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewContentAccess.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewContentAccess.qlref
  java/ql/test/query-tests/security/CWE-200/semmle/tests/options
Labels: documentation, Java, ready-for-doc-review

#11529 Swift: Uncontrolled format string query
  swift/ql/lib/codeql/swift/StringFormat.qll
  swift/ql/lib/codeql/swift/security/UncontrolledFormatStringExtensions.qll
  swift/ql/lib/codeql/swift/security/UncontrolledFormatStringQuery.qll
  swift/ql/src/queries/Security/CWE-134/UncontrolledFormatString.qhelp
  swift/ql/src/queries/Security/CWE-134/UncontrolledFormatString.ql
  swift/ql/src/queries/Security/CWE-134/UncontrolledFormatStringBad.swift
  swift/ql/src/queries/Security/CWE-134/UncontrolledFormatStringGood.swift
  swift/ql/test/query-tests/Security/CWE-134/UncontrolledFormatString.expected
  swift/ql/test/query-tests/Security/CWE-134/UncontrolledFormatString.qlref
  swift/ql/test/query-tests/Security/CWE-134/UncontrolledFormatString.swift
Labels: documentation, no-change-note-required, ready-for-doc-review, Swift

#11896 C++: Fix spurious results in default taint tracking
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DefaultTaintTrackingImpl.qll
  cpp/ql/src/Security/CWE/CWE-190/TaintedAllocationSize.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
Labels: C++, no-change-note-required

#11854 Python: fix bug in `py/tarslip-extended`
  python/ql/src/experimental/Security/CWE-022bis/TarSlipImprov.ql
  python/ql/test/experimental/query-tests/Security/CWE-022/TarSlip.expected
Labels: Python

#11913 C++: Some minor test fixes
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/bad_asts.cpp
  cpp/ql/test/library-tests/ir/ir/bad_stmts.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/allocators.cpp
  cpp/ql/test/library-tests/syntax-zoo/array_delete.cpp
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Labels: C++

#11893 C#: add --working-dir=. to pre-finalize
  csharp/tools/pre-finalize.cmd
  csharp/tools/pre-finalize.sh
Labels: C#

#11919 Swift: remove obsolete configuration fields
  swift/extractor/config/SwiftExtractorConfiguration.h
Labels: Swift

#11908 DataFlow: Add `uniqueParameterNodePositionExclude`
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplConsistency.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplConsistency.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplConsistency.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplConsistency.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby, Swift, DataFlow Library

#11907 C#: CIL attributes
  csharp/extractor/Semmle.Extraction.CIL/Entities/DefinitionMethod.cs
  csharp/ql/lib/change-notes/2023-01-18-cilmethodattributes.md
  csharp/ql/test/library-tests/cil/attributes/attribute.expected
  csharp/ql/test/library-tests/cil/attributes/attribute.ql
Labels: C#, documentation

#11836 Swift: Data flow through optional binding
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/FlowConfig.qll
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/url.swift
Labels: no-change-note-required, Swift

#11905 Swift: Add RNCryptor sinks to swift/constant-password
  swift/ql/src/queries/Security/CWE-259/ConstantPassword.ql
  swift/ql/test/query-tests/Security/CWE-259/ConstantPassword.expected
  swift/ql/test/query-tests/Security/CWE-259/rncryptor.swift
Labels: no-change-note-required, Swift

#11925 Swift: drop dead code
  swift/extractor/infra/SwiftDispatcher.h
Labels: Swift

#11924 Swift: Support more CFG node types in optional binding flow
  swift/ql/lib/codeql/swift/controlflow/CfgNodes.qll
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Labels: Swift

#11814 C# 11: Generic attributes
  csharp/ql/lib/change-notes/2023-01-03-genericattributes.md
  csharp/ql/lib/semmle/code/cil/Attribute.qll
  csharp/ql/lib/semmle/code/cil/Generics.qll
  csharp/ql/lib/semmle/code/csharp/Attribute.qll
  csharp/ql/test/library-tests/cil/typeAnnotations/typeAnnotations.expected
  csharp/ql/test/library-tests/csharp11/GenericAttribute.cs
  csharp/ql/test/library-tests/csharp11/cil/Assembly.cs_
  csharp/ql/test/library-tests/csharp11/cil/assembly.dll
  csharp/ql/test/library-tests/csharp11/cil/class1.cs
  csharp/ql/test/library-tests/csharp11/cil/genericAttribute.expected
  csharp/ql/test/library-tests/csharp11/cil/genericAttribute.ql
  csharp/ql/test/library-tests/csharp11/cil/options
  csharp/ql/test/library-tests/csharp11/genericAttribute.expected
  csharp/ql/test/library-tests/csharp11/genericAttribute.ql
Labels: C#, documentation

#11929 Swift: expand `ref` in autogenerated docs
  swift/codegen/generators/qlgen.py
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/generated/expr/DeclRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/MemberRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OtherConstructorDeclRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/OverloadedDeclRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/SuperRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/UnresolvedDeclRefExpr.qll
Labels: Swift

#11876 Swift: Improve Core Data sinks for swift/cleartext-storage-database
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testCoreData.swift
  swift/ql/test/query-tests/Security/CWE-311/testCoreData2.swift
Labels: no-change-note-required, Swift

#11931 Remove the Csv postfix of some predicate names.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/src/Telemetry/ExternalApi.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/ModelsAsData.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: C#, JS, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#9807 JS: recognize "-->" as a bad tag filter
  javascript/ql/test/query-tests/Security/CWE-116/BadTagFilter/BadTagFilter.expected
  javascript/ql/test/query-tests/Security/CWE-116/BadTagFilter/tst.js
  shared/regex/codeql/regex/nfa/BadTagFilterQuery.qll
Labels: JS, Java, Python, no-change-note-required, Ruby

#11936 C++: In use-use dataflow use the AST representation of IR Instructions and Operands as their strings
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/SAMATE/TaintedPath/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/SAMATE/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/SAMATE/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowDestination.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-326/InsufficientKeySize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/PotentiallyExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
Labels: C++, no-change-note-required

#11941 Add missing toString case for synthetic globals
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#11939 document new namespaces
  docs/codeql/ql-language-reference/name-resolution.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#11958 C++: Add some additional uncontrolled format string tests
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.c
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
Labels: C++

#11927 JS: Updated express-rate-limit example to match implementation examples f…
  javascript/ql/src/Security/CWE-770/examples/MissingRateLimitingGood.js
  javascript/ql/test/query-tests/Security/CWE-770/MissingRateLimit/MissingRateLimitingGood.js
Labels: JS, no-change-note-required

#11909 Rb: recognize string concatenations as sinks for unsafe-code-construction
  ruby/ql/lib/codeql/ruby/ast/Operation.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeCodeConstructionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeShellCommandConstructionCustomizations.qll
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/impl/unsafeShell.rb
  ruby/ql/test/query-tests/security/cwe-094/UnsafeCodeConstruction/UnsafeCodeConstruction.expected
  ruby/ql/test/query-tests/security/cwe-094/UnsafeCodeConstruction/impl/unsafeCode.rb
Labels: no-change-note-required, Ruby

#11963 C++: Add testcase with looping behavior
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
Labels: C++, no-change-note-required

#11453 RB: add unsafe-html-construction query
  ruby/ql/lib/codeql/ruby/security/UnsafeHtmlConstructionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeHtmlConstructionQuery.qll
  ruby/ql/src/change-notes/2022-11-28-unsafe-html-construction.md
  ruby/ql/src/queries/security/cwe-079/UnsafeHtmlConstruction.qhelp
  ruby/ql/src/queries/security/cwe-079/UnsafeHtmlConstruction.ql
  ruby/ql/src/queries/security/cwe-079/examples/unsafe-html-construction.rb
  ruby/ql/src/queries/security/cwe-079/examples/unsafe-html-construction_safe.rb
  ruby/ql/test/query-tests/security/cwe-079/UnsafeHtmlConstruction.expected
  ruby/ql/test/query-tests/security/cwe-079/UnsafeHtmlConstruction.qlref
  ruby/ql/test/query-tests/security/cwe-079/lib/unsafeHtml.rb
  ruby/ql/test/query-tests/security/cwe-079/unsafe-html.gemspec
Labels: documentation, Ruby

#11964 Update supported language versions in documentation
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#11966 Swift: Use numeric types in CleartextLogging.qll.
  swift/ql/lib/codeql/swift/security/CleartextLogging.qll
Labels: no-change-note-required, Swift

#11967 JS: Bump version numbers of ML-powered packs after 0.4.6 release
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: ATM

#11945 C++: Refactor flow out of parameters
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
Labels: C++, no-change-note-required

#11859 JS: slightly broaden the regular expression that recognizes bad string-concats used as shell commands
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/lib.js
Labels: JS, no-change-note-required

#11946 C++: Fix models and simplify taint flow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdSet.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/FormattingFunction.qll
Labels: C++, no-change-note-required

#11957 Update supported-versions-compilers.rst
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#11977 C++: Accept test changes on the use-use flow branch
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowDestination.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.c
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
Labels: C++

#11975 C++: Add another looping dataflow test
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
Labels: C++

#11882 Rename VS Code Extension Run Query command
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/codeql-for-visual-studio-code/exploring-data-flow-with-path-queries.rst
  docs/codeql/reusables/vs-code-basic-instructions/run-quick-query-2.rst
Labels: documentation, ready-for-doc-review

#11906 JS: expand what is parsed as the stem of a pathexpr
  javascript/ql/lib/semmle/javascript/NodeModuleResolutionImpl.qll
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/otherlib/package.json
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/otherlib/src/otherlibimpl.js
Labels: JS, no-change-note-required

#11932 Swift: add and fix some `schema.py` documentation
  swift/codegen/generators/qlgen.py
  swift/codegen/lib/ql.py
  swift/codegen/templates/ql_class.mustache
  swift/codegen/templates/ql_parent.mustache
  swift/codegen/test/test_qlgen.py
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/elements.qll
  swift/ql/lib/codeql/swift/generated/Callable.qll
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/decl/PoundDiagnosticDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/VarDecl.qll
  swift/ql/lib/codeql/swift/generated/expr/SelfApplyExpr.qll
  swift/schema.py
Labels: Swift

#11986 RB: add note in ReDoS qhelp that Ruby 3.2 has fixed ReDoS
  ruby/ql/src/queries/security/cwe-1333/ReDoSIntroduction.inc.qhelp
Labels: documentation, Ruby

#11869 Ruby: Rails - generalize rails flow step for accessing render locals hash in view
  ruby/ql/lib/change-notes/2023-01-13-flow-through-render-locals.md
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/lib/codeql/ruby/security/XSS.qll
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/StoredXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/app/views/foo/bars/show.html.erb
  ruby/ql/test/query-tests/security/cwe-079/app/views/foo/stores/show.html.erb
Labels: documentation, Ruby

#11914 Swift: Add RNCryptor sinks to swift/constant-salt
  swift/ql/src/queries/Security/CWE-760/ConstantSalt.ql
  swift/ql/test/query-tests/Security/CWE-760/ConstantSalt.expected
  swift/ql/test/query-tests/Security/CWE-760/rncryptor.swift
Labels: no-change-note-required, Swift

#11911 Swift: Add RNCryptor sinks to swift/hardcoded-key
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.ql
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.expected
  swift/ql/test/query-tests/Security/CWE-321/rncryptor.swift
Labels: no-change-note-required, Swift

#11997 Go: Fix DepErrors test
  go/extractor/util/util.go
Labels: Go

#12003 C++: Positively phrased sanitizer in `cpp/non-constant-format`
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
Labels: C++, no-change-note-required

#12006 Add link to codeql metadata article for problem.severity
  docs/codeql/writing-codeql-queries/metadata-for-codeql-queries.rst
Labels: documentation

#11942 Swift: add RNCryptor sinks to swift/static-initialization-vector
  swift/ql/src/queries/Security/CWE-1204/StaticInitializationVector.ql
  swift/ql/test/query-tests/Security/CWE-1204/StaticInitializationVector.expected
  swift/ql/test/query-tests/Security/CWE-1204/rncryptor.swift
Labels: no-change-note-required, Swift

#11980 Swift: Structure modernized queries more consistently
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextLoggingQuery.qll
  swift/ql/lib/codeql/swift/security/PathInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/PathInjectionQuery.qll
  swift/ql/lib/codeql/swift/security/PredicateInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/PredicateInjectionQuery.qll
  swift/ql/lib/codeql/swift/security/UncontrolledFormatStringExtensions.qll
  swift/ql/lib/codeql/swift/security/XXEExtensions.qll
  swift/ql/lib/codeql/swift/security/XXEQuery.qll
Labels: no-change-note-required, Swift

#12005 C++: Flow out of invalid functions
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++, no-change-note-required

#12009 DataFlow: Fix join in `fwdFlowRead`
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl2.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplForStringsNewReplacer.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForHttpClientLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForPathname.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForRegExp.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12016 QL: support the NewEntity module in QL-for-QL
  ql/ql/src/codeql_ql/ast/internal/Builtins.qll
  ql/ql/test/modules/Foo.qll
  ql/ql/test/modules/test.expected
Labels: QL-for-QL

#11879 RB: add a RegexExecution concept, and use it for better regexp tracking
  config/identical-files.json
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/Regexp.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForRegExp.qll
  ruby/ql/lib/codeql/ruby/regexp/internal/DebugRegExpConfiguration.ql
  ruby/ql/lib/codeql/ruby/regexp/internal/RegExpConfiguration.qll
  ruby/ql/lib/codeql/ruby/regexp/internal/RegExpTracking.qll
  ruby/ql/lib/codeql/ruby/security/regexp/PolynomialReDoSCustomizations.qll
  ruby/ql/test/query-tests/security/cwe-020/IncompleteHostnameRegExp/IncompleteHostnameRegExp.expected
  ruby/ql/test/query-tests/security/cwe-020/IncompleteHostnameRegExp/tst-IncompleteHostnameRegExp.rb
  ruby/ql/test/query-tests/security/cwe-1333-polynomial-redos/PolynomialReDoS.expected
  ruby/ql/test/query-tests/security/cwe-1333-polynomial-redos/PolynomialReDoS.rb
Labels: no-change-note-required, Ruby

#11579 Kotlin: Remove legacy trap-locking support
  java/kotlin-extractor/src/main/java/com/semmle/extractor/java/OdasaOutput.java
Labels: Kotlin

#12014 JS: add support for axios used as a global variable
  javascript/ql/lib/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/axiosTest.js
Labels: JS, no-change-note-required

#12025 Swift: ignore sandbox-exec
  swift/tools/tracing-config.lua
Labels: Swift

#11988 Use Java 11 for some integration tests
  java/ql/integration-tests/all-platforms/java/gradle-sample/test.py
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample/test.py
Labels: Java

#12008 Java: update package for `QueryProducer` sinks
  java/ql/lib/change-notes/2023-01-27-update-queryproducer-sinks.md
  java/ql/lib/ext/org.hibernate.model.yml
  java/ql/lib/ext/org.hibernate.query.model.yml
Labels: documentation, Java

#11976 C++: Don't count every conversion as a use
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowDestination.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/SAMATE/PotentiallyExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/PotentiallyExposedSystemData.expected
Labels: C++, no-change-note-required

#12031 C++: Add `getCall` predicate to `ArgumentOperand`
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/experimental/ir/implementation/raw/Operand.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/Operand.qll
Labels: C#, C++, no-change-note-required

#12042 QL: update codeql-action in QL-for-QL
  .github/workflows/ql-for-ql-build.yml
  .github/workflows/ql-for-ql-dataset_measure.yml
  .github/workflows/ql-for-ql-tests.yml
Labels: QL-for-QL

#11920 C++: Improve left shift and right shift range analysis accuracy
  cpp/ql/lib/experimental/semmle/code/cpp/rangeanalysis/extensions/ConstantShiftExprRange.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/bitshift/BitShiftRange.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/bitshift/BitShiftRange.ql
  cpp/ql/test/experimental/library-tests/rangeanalysis/bitshift/bitshift.cpp
Labels: C++

#12030 C++: Make iterator classes public
  cpp/ql/lib/semmle/code/cpp/models/implementations/Iterator.qll
Labels: C++, no-change-note-required

#12033 Fix errorneous slash
  docs/codeql/reusables/download-github-database.rst
Labels: documentation
