Repository github/codeql, pull requests merged in 2023-02, with the labels that each got.

#12043 C++: Fix missing subpaths when displaying dataflow paths
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-359/semmle/tests/PrivateCleartextWrite.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
Labels: C++, no-change-note-required

#12046 Swift: Add taint for URLRequest fields
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Url.qll
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/url.swift
Labels: Swift

#11833 PY: track string-constants to regular expression uses
  config/identical-files.json
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplForRegExp.qll
  python/ql/lib/semmle/python/regex.qll
  python/ql/test/query-tests/Expressions/Regex/DuplicateCharacterInSet.expected
  python/ql/test/query-tests/Security/CWE-730-ReDoS/ReDoS.expected
  python/ql/test/query-tests/Security/CWE-730-ReDoS/redos.py
Labels: Python, no-change-note-required

#12057 PY: Sync a dataflow config
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplForRegExp.qll
Labels: Python, no-change-note-required

#11935 Swift: Flow sources through protocol extensions
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.ql
  swift/ql/test/library-tests/dataflow/flowsources/generics.swift
Labels: no-change-note-required, Swift

#11713 Java: Add query for leaking sensitive data through a ResultReceiver
  java/ql/lib/semmle/code/java/security/SensitiveResultReceiverQuery.qll
  java/ql/src/Security/CWE/CWE-927/SensitiveResultReceiver.java
  java/ql/src/Security/CWE/CWE-927/SensitiveResultReceiver.qhelp
  java/ql/src/Security/CWE/CWE-927/SensitiveResultReceiver.ql
  java/ql/src/change-notes/2023-01-12-sensitive-result-receiver.md
  java/ql/test/query-tests/security/CWE-927/SensitiveResultReceiver.expected
  java/ql/test/query-tests/security/CWE-927/SensitiveResultReceiver.java
  java/ql/test/query-tests/security/CWE-927/SensitiveResultReceiver.ql
Labels: documentation, Java, ready-for-doc-review

#12034 Document pragma[assume_small_delta]
  docs/codeql/ql-language-reference/annotations.rst
Labels: documentation

#12061 C++: Fix join order in `cpp/missing-check-scanf`
  cpp/ql/src/Critical/MissingCheckScanf.ql
Labels: C++, no-change-note-required

#12044 Swift: Add new source and flow step related to WkWebView
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/WebView.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/webview.swift
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/webview.swift
Labels: Swift

#12060 C# 11: Nameof on attribute declarations.
  csharp/ql/test/library-tests/csharp11/NameofScope.cs
  csharp/ql/test/library-tests/csharp11/PrintAst.expected
  csharp/ql/test/library-tests/csharp11/nameofScope.expected
  csharp/ql/test/library-tests/csharp11/nameofScope.ql
Labels: C#

#12068 C#: Avoid that the dotnet publish test refers to a specific .NET vers…
  csharp/ql/integration-tests/all-platforms/dotnet_publish/test.py
Labels: C#

#12062 shadowing in the handbook
  docs/codeql/ql-language-reference/name-resolution.rst
Labels: documentation

#12074 shadowing in the QL language specification
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#12065 Update JS CleartextLogging qhelp
  javascript/ql/src/Security/CWE-312/CleartextLogging.qhelp
  javascript/ql/src/Security/CWE-312/examples/CleartextLogging.js
  javascript/ql/src/Security/CWE-312/examples/CleartextLoggingGood.js
Labels: JS, documentation

#11956 Ruby: structured logging
  ruby/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/src/diagnostics.rs
  ruby/extractor/src/extractor.rs
  ruby/extractor/src/main.rs
  ruby/extractor/src/trap.rs
Labels: Ruby

#12084 we actually only distinguish four environments
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#12075 remove statement about namespaces from documentation that no longer holds
  docs/codeql/ql-language-reference/name-resolution.rst
Labels: documentation

#12085 document module signature member defaults
  docs/codeql/ql-language-reference/name-resolution.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
  docs/codeql/ql-language-reference/signatures.rst
Labels: documentation

#12092 Change type name to upper case
  docs/codeql/ql-language-reference/aliases.rst
Labels: documentation

#11171 C++: Use-use flow through global variables
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DefaultTaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.ql
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/consts/NonConstantFormat.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/PotentiallyExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
Labels: C++, no-change-note-required

#12050 C++: Flow out of writes to iterators
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-359/semmle/tests/PrivateCleartextWrite.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-078/SAMATE/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowDestination.expected
Labels: C++, no-change-note-required

#12089 Swift: QLDoc models files consistently.
  swift/ql/lib/codeql/swift/frameworks/AEXML.qll
  swift/ql/lib/codeql/swift/frameworks/Alamofire/Alamofire.qll
  swift/ql/lib/codeql/swift/frameworks/Libxml2.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/CustomUrlSchemes.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Data.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/FilePath.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/InputStream.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsData.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsUrl.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Url.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/UrlSession.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/WebView.qll
Labels: no-change-note-required, Swift

#12077 Update CodeQL CLI docs articles and links to point to new location on GitHub Docs site
  docs/codeql/CONTRIBUTING.md
  docs/codeql/codeql-cli/about-codeql-packs.rst
  docs/codeql/codeql-cli/about-codeql-workspaces.rst
  docs/codeql/codeql-cli/about-ql-packs.rst
  docs/codeql/codeql-cli/about-the-codeql-cli.rst
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/codeql-cli-reference.rst
  docs/codeql/codeql-cli/creating-and-working-with-codeql-packs.rst
  docs/codeql/codeql-cli/creating-codeql-databases.rst
  docs/codeql/codeql-cli/creating-codeql-query-suites.rst
  docs/codeql/codeql-cli/exit-codes.rst
  docs/codeql/codeql-cli/extractor-options.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/index.rst
  docs/codeql/codeql-cli/publishing-and-using-codeql-packs.rst
  docs/codeql/codeql-cli/query-reference-files.rst
  docs/codeql/codeql-cli/sarif-output.rst
  docs/codeql/codeql-cli/specifying-command-options-in-a-codeql-configuration-file.rst
  docs/codeql/codeql-cli/testing-custom-queries.rst
  docs/codeql/codeql-cli/testing-query-help-files.rst
  docs/codeql/codeql-cli/using-custom-queries-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/using-the-codeql-cli.rst
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/codeql-for-visual-studio-code/customizing-settings.rst
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/testing-codeql-queries-in-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/working-with-codeql-packs-in-visual-studio-code.rst
  docs/codeql/codeql-language-guides/codeql-library-for-typescript.rst
  docs/codeql/codeql-overview/about-codeql.rst
  docs/codeql/codeql-overview/codeql-glossary.rst
  docs/codeql/codeql-overview/codeql-tools.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
  docs/codeql/reusables/advanced-query-execution.rst
  docs/codeql/reusables/codeql-cli-articles-migration-note.rst
  docs/codeql/reusables/codeql-cli-migration-toc-note.rst
  docs/codeql/writing-codeql-queries/about-codeql-queries.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
  docs/codeql/writing-codeql-queries/defining-the-results-of-a-query.rst
  docs/codeql/writing-codeql-queries/query-help-files.rst
  docs/query-help-style-guide.md
  docs/supported-queries.md
  go/CONTRIBUTING.md
  go/README.md
  swift/README.md
Labels: documentation, Go, Swift

#11863 Java: update paramsString
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
Labels: Java, no-change-note-required

#12088 document final type aliases
  docs/codeql/ql-language-reference/annotations.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#12097 Add MacOS Ventura to supported platforms
  docs/codeql/reusables/supported-platforms.rst
Labels: documentation

#12086 C#: Change handled exception in `TrapWriter.ArchiveContents`
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
Labels: C#

#12101 Fix files that gofmt can't parse
  go/Makefile
  go/ql/src/experimental/CWE-285/PamAuthBad.go
  go/ql/src/experimental/CWE-285/PamAuthGood.go
  go/ql/src/experimental/CWE-321/HardcodedKeysBad.go
  go/ql/src/experimental/CWE-321/HardcodedKeysGood.go
Labels: Go

#12096 C++: Teach iterator flow about `std::back_inserter`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Labels: C++, no-change-note-required

#12094 Swift: Models for the String class
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Collection.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Data.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Sequence.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/data.swift
  swift/ql/test/library-tests/dataflow/taint/string.swift
  swift/ql/test/query-tests/Security/CWE-094/UnsafeJsEval.expected
Labels: no-change-note-required, Swift

#12102 C++: Fix some typos in the use-use dataflow code
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
Labels: C++, no-change-note-required

#9245 CPP: Add query for CWE-805: Buffer Access with Incorrect Length Value using some functions
  cpp/ql/src/experimental/Security/CWE/CWE-805/BufferAccessWithIncorrectLengthValue.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-805/BufferAccessWithIncorrectLengthValue.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-805/BufferAccessWithIncorrectLengthValue.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-805/semmle/tests/BufferAccessWithIncorrectLengthValue.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-805/semmle/tests/BufferAccessWithIncorrectLengthValue.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-805/semmle/tests/test.cpp
Labels: C++, documentation

#11712 Java: Apply deadcode guard to data flow nodes.
  java/ql/lib/change-notes/2023-02-06-dataflow-deadcode.md
  java/ql/lib/semmle/code/java/Constants.qll
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/dataflow/RangeUtils.qll
  java/ql/lib/semmle/code/java/dataflow/SSA.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowNodes.qll
  java/ql/lib/semmle/code/java/dispatch/WrappedInvocation.qll
  java/ql/src/Likely Bugs/Collections/ArrayIndexOutOfBounds.ql
  java/ql/src/change-notes/2023-02-06-index-out-of-bounds-constant.md
  java/ql/test/query-tests/RangeAnalysis/A.java
  java/ql/test/query-tests/RangeAnalysis/ArrayIndexOutOfBounds.expected
Labels: documentation, Java

#12107 Ruby: downgrade tree-sitter to 0.20.7
  ruby/Cargo.lock
Labels: Ruby

#12106 C++: Replace `toUpperCase().matches("...")` with case-insensitive `regexpMatch`
  cpp/ql/lib/semmle/code/cpp/security/Encryption.qll
Labels: C++, no-change-note-required

#12117 Ruby: Avoid computing `Location::toString` in full
  ruby/ql/lib/codeql/Locations.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
Labels: no-change-note-required, Ruby

#12120 C++: Avoid unnecessary calls to `toLowerCase()`
  cpp/ql/lib/semmle/code/cpp/security/SensitiveExprs.qll
Labels: C++, no-change-note-required

#12128 JS: Bump version numbers of ML-powered packs after 0.4.7 release
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: ready-for-internal-ci, ATM

#11496 Go: Add query to detect lack of error handling for `os.File.Close` on writable handles
  go/ql/src/InconsistentCode/UnhandledCloseWritableHandle.go
  go/ql/src/InconsistentCode/UnhandledCloseWritableHandle.qhelp
  go/ql/src/InconsistentCode/UnhandledCloseWritableHandle.ql
  go/ql/src/InconsistentCode/UnhandledCloseWritableHandleGood.go
  go/ql/src/InconsistentCode/UnhandledCloseWritableHandleNotDeferred.go
  go/ql/src/change-notes/2023-02-06-unhandled-close-writable-handle.md
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/UnhandledCloseWritableHandle.expected
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/UnhandledCloseWritableHandle.qlref
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/tests.go
Labels: documentation, Go

#12127 Go: Consolidate repeated calls to `matches` and `regexpMatch`
  go/ql/lib/semmle/go/Comments.qll
  go/ql/lib/semmle/go/frameworks/Logrus.qll
  go/ql/lib/semmle/go/frameworks/Revel.qll
  go/ql/lib/semmle/go/security/SensitiveActions.qll
  go/ql/src/Security/CWE-209/StackTraceExposure.ql
  go/ql/src/Security/CWE-295/DisabledCertificateCheck.ql
  go/ql/src/Security/CWE-327/InsecureTLS.ql
  go/ql/src/experimental/CWE-942/CorsMisconfiguration.ql
Labels: no-change-note-required, Go

#12123 Update telemetry privacy document for UI interaction and exceptions
  docs/codeql/codeql-for-visual-studio-code/about-telemetry-in-codeql-for-visual-studio-code.rst
Labels: documentation

#12079 C++: allow read steps at the sink in IR taint test
  cpp/ql/test/library-tests/dataflow/taint-tests/arrayassignment.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/map.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.ql
Labels: C++

#12058 C# 11: Check that we get AST for structs that doesn't initialise all fields.
  csharp/ql/test/library-tests/csharp11/PrintAst.expected
  csharp/ql/test/library-tests/csharp11/StructDefault.cs
Labels: C#

#12126 Swift: Move some models into collections
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Collection.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Data.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Sequence.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/data.swift
Labels: no-change-note-required, Swift

#12132 Go: Downgrade `go/log-injection` precision to medium
  go/ql/src/Security/CWE-117/LogInjection.ql
  go/ql/src/change-notes/2023-02-09-log-injection-precision.md
Labels: documentation, Go

#12090 Kotlin: 1.8.10 and 1.8.20 are supported, and use 1.8.10 for CI
  docs/codeql/reusables/supported-versions-compilers.rst
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/ql/lib/change-notes/2023-02-08-kotlin-1.8.20.md
Labels: documentation, Java, Kotlin

#12004 C++: Map operand nodes that are only used once onto the related instruction node
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-129/semmle/ImproperArrayIndexValidation/ImproperArrayIndexValidation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-326/InsufficientKeySize.expected
Labels: C++, no-change-note-required

#12067 C#: Delete dead assembly load code.
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/AssemblyCache.cs
Labels: C#

#12140 Swift: remove query predicates in upgrade/downgrade scripts
  swift/downgrades/15d0da3a76b9dbffb921ae6d585f8a8de8945a0b/iterable_decl_context_members.ql
  swift/downgrades/15d0da3a76b9dbffb921ae6d585f8a8de8945a0b/upgrade.properties
  swift/downgrades/5559b5a367524777b3f6ef3fc285ae81031ca1da/abstract_function_decls.ql
  swift/downgrades/5559b5a367524777b3f6ef3fc285ae81031ca1da/upgrade.properties
  swift/ql/lib/upgrades/62fc609c1ab6ae748ff51362ffa5c368ba834ddf/callable_names.ql
  swift/ql/lib/upgrades/62fc609c1ab6ae748ff51362ffa5c368ba834ddf/upgrade.properties
  swift/ql/lib/upgrades/98a78b66651ad4eb35a8edf1642767c794909ea4/upgrade.properties
Labels: Swift

#12146 C++: Do not mark global indirect flow as spurious in dataflow tests
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++, no-change-note-required

#12000 Rename Query History Actions
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
Labels: documentation, ready-for-doc-review

#12151 C++: Remove experimental copy of the use-use IR dataflow library
  config/identical-files.json
  cpp/ql/lib/experimental/semmle/code/cpp/dataflow/ProductFlow.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/DataFlow.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/DataFlow2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/DataFlow3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/DataFlow4.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/ResolveCall.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/TaintTracking.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/TaintTracking2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/TaintTracking3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplSpecific.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/ModelUtil.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/PrintIRStoreSteps.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/PrintIRUtilities.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingParameter.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingParameter.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/tainttracking3/TaintTrackingParameter.qll
  cpp/ql/src/experimental/Security/CWE/CWE-193/ConstantSizeArrayOffByOne.ql
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/OverrunWriteProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/ArrayAccessProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
Labels: C++

#12149 C++: Fix spurious flow-through
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/BarrierGuard.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dispatch.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/example.c
  cpp/ql/test/library-tests/dataflow/dataflow-tests/has-parameter-flow-out.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/has-parameter-flow-out.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/lambdas.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/ref.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++, no-change-note-required

#12137 Swift: add documentation for generated documentation
  swift/schema.py
  swift/schema_documentation.md
Labels: documentation, Swift

#12150 Swift: control flow for #available
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/controlflow/internal/Completion.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/lib/codeql/swift/elements/stmt/ConditionElement.qll
  swift/ql/lib/codeql/swift/generated/AvailabilitySpec.qll
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/ast/cfg.swift
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/cfg.swift
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/testCoreData2.swift
  swift/schema.py
Labels: no-change-note-required, Swift

#12164 Swift: make `codegen` run also outside `bazel`
  swift/codegen/README.md
  swift/codegen/codegen.py
Labels: documentation, Swift

#10782 Ruby: add library input as a source for `rb/polynomial-redos`
  ruby/ql/lib/codeql/ruby/frameworks/core/Gem.qll
  ruby/ql/lib/codeql/ruby/security/regexp/PolynomialReDoSCustomizations.qll
  ruby/ql/src/change-notes/2022-10-11-poly-redos-lib.md
  ruby/ql/src/queries/security/cwe-1333/PolynomialReDoS.ql
  ruby/ql/test/query-tests/security/cwe-1333-polynomial-redos/PolynomialReDoS.expected
  ruby/ql/test/query-tests/security/cwe-1333-polynomial-redos/lib/index.rb
  ruby/ql/test/query-tests/security/cwe-1333-polynomial-redos/poly-redos.gemspec
Labels: documentation, Ruby

#12131 Add `hasLocationInfo` for `Type`s
  go/ql/lib/semmle/go/Types.qll
  go/ql/test/example-tests/snippets/pointertype.expected
  go/ql/test/example-tests/snippets/type.expected
  go/ql/test/extractor-tests/go1.14/interfaces.expected
  go/ql/test/library-tests/semmle/go/IR/test.expected
  go/ql/test/library-tests/semmle/go/Types/MethodTypes.expected
  go/ql/test/library-tests/semmle/go/Types/QualifiedNames.expected
  go/ql/test/library-tests/semmle/go/Types/StructFields.expected
  go/ql/test/library-tests/semmle/go/Types/Types.expected
  go/ql/test/library-tests/semmle/go/Types/notype.expected
Labels: no-change-note-required, Go

#12147 C# 11: Test of relaxed shift operator requirements.
  csharp/ql/test/library-tests/csharp11/PrintAst.expected
  csharp/ql/test/library-tests/csharp11/RelaxedShift.cs
  csharp/ql/test/library-tests/csharp11/relaxedShift.expected
  csharp/ql/test/library-tests/csharp11/relaxedShift.ql
Labels: C#, no-change-note-required

#12124 Data flow: Call context virtual dispatch pruning in stage 1
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl2.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplCommon.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplForStringsNewReplacer.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplForRegExp.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForHttpClientLibraries.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForPathname.qll
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call_sensitivity.rb
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12162 QLDocs: Document inline_late pragma
  docs/codeql/ql-language-reference/annotations.rst
Labels: documentation

#12130 Go: port integration tests
  go/ql/integration-tests/all-platforms/go/go-get-without-modules-sample/test.expected
  go/ql/integration-tests/all-platforms/go/go-get-without-modules-sample/test.go
  go/ql/integration-tests/all-platforms/go/go-get-without-modules-sample/test.py
  go/ql/integration-tests/all-platforms/go/go-get-without-modules-sample/test.ql
  go/ql/integration-tests/all-platforms/go/go-mod-sample/Makefile
  go/ql/integration-tests/all-platforms/go/go-mod-sample/go.mod
  go/ql/integration-tests/all-platforms/go/go-mod-sample/go.sum
  go/ql/integration-tests/all-platforms/go/go-mod-sample/test.expected
  go/ql/integration-tests/all-platforms/go/go-mod-sample/test.go
  go/ql/integration-tests/all-platforms/go/go-mod-sample/test.py
  go/ql/integration-tests/all-platforms/go/go-mod-sample/test.ql
  go/ql/integration-tests/all-platforms/go/make-sample/Makefile
  go/ql/integration-tests/all-platforms/go/make-sample/go.mod
  go/ql/integration-tests/all-platforms/go/make-sample/go.sum
  go/ql/integration-tests/all-platforms/go/make-sample/test.expected
  go/ql/integration-tests/all-platforms/go/make-sample/test.go
  go/ql/integration-tests/all-platforms/go/make-sample/test.py
  go/ql/integration-tests/all-platforms/go/make-sample/test.ql
  go/ql/integration-tests/all-platforms/go/make-sample/todel.go
  go/ql/integration-tests/all-platforms/go/ninja-sample/.ninja_log
  go/ql/integration-tests/all-platforms/go/ninja-sample/build.ninja
  go/ql/integration-tests/all-platforms/go/ninja-sample/go.mod
  go/ql/integration-tests/all-platforms/go/ninja-sample/go.sum
  go/ql/integration-tests/all-platforms/go/ninja-sample/test.expected
  go/ql/integration-tests/all-platforms/go/ninja-sample/test.go
  go/ql/integration-tests/all-platforms/go/ninja-sample/test.py
  go/ql/integration-tests/all-platforms/go/ninja-sample/test.ql
  go/ql/integration-tests/all-platforms/go/ninja-sample/todel.go
  go/ql/integration-tests/all-platforms/go/qlpack.yml
  go/ql/integration-tests/linux-only/go/dep-sample/test.expected
  go/ql/integration-tests/linux-only/go/dep-sample/test.py
  go/ql/integration-tests/linux-only/go/dep-sample/test.ql
  go/ql/integration-tests/linux-only/go/dep-sample/work/Gopkg.lock
  go/ql/integration-tests/linux-only/go/dep-sample/work/Gopkg.toml
  go/ql/integration-tests/linux-only/go/dep-sample/work/test.go
  go/ql/integration-tests/linux-only/go/dep-sample/work/vendor/golang.org/x/time/AUTHORS
  go/ql/integration-tests/linux-only/go/dep-sample/work/vendor/golang.org/x/time/CONTRIBUTORS
  go/ql/integration-tests/linux-only/go/dep-sample/work/vendor/golang.org/x/time/LICENSE
  go/ql/integration-tests/linux-only/go/dep-sample/work/vendor/golang.org/x/time/PATENTS
  go/ql/integration-tests/linux-only/go/dep-sample/work/vendor/golang.org/x/time/rate/rate.go
  go/ql/integration-tests/linux-only/go/glide-sample/test.expected
  go/ql/integration-tests/linux-only/go/glide-sample/test.py
  go/ql/integration-tests/linux-only/go/glide-sample/test.ql
  go/ql/integration-tests/linux-only/go/glide-sample/work/glide.lock
  go/ql/integration-tests/linux-only/go/glide-sample/work/glide.yaml
  go/ql/integration-tests/linux-only/go/glide-sample/work/test.go
  go/ql/integration-tests/linux-only/go/glide-sample/work/vendor/golang.org/x/time/AUTHORS
  go/ql/integration-tests/linux-only/go/glide-sample/work/vendor/golang.org/x/time/CONTRIBUTING.md
  go/ql/integration-tests/linux-only/go/glide-sample/work/vendor/golang.org/x/time/CONTRIBUTORS
  go/ql/integration-tests/linux-only/go/glide-sample/work/vendor/golang.org/x/time/LICENSE
  go/ql/integration-tests/linux-only/go/glide-sample/work/vendor/golang.org/x/time/PATENTS
  go/ql/integration-tests/linux-only/go/glide-sample/work/vendor/golang.org/x/time/README.md
  go/ql/integration-tests/linux-only/go/glide-sample/work/vendor/golang.org/x/time/go.mod
  go/ql/integration-tests/linux-only/go/glide-sample/work/vendor/golang.org/x/time/rate/rate.go
  go/ql/integration-tests/linux-only/go/glide-sample/work/vendor/golang.org/x/time/rate/rate_test.go
  go/ql/integration-tests/linux-only/go/qlpack.yml
  go/ql/lib/semmle/go/DiagnosticsReporting.qll
  go/ql/src/Diagnostics/ExtractionErrors.ql
Labels: documentation, no-change-note-required, Go

#12169 Move `NumberUtils.qll` from Ruby into shared `util` pack
  ruby/ql/lib/codeql/ruby/ast/internal/Literal.qll
  ruby/ql/lib/codeql/ruby/regexp/RegExpTreeView.qll
  ruby/ql/lib/qlpack.yml
  shared/util/codeql/util/Numbers.qll
Labels: no-change-note-required, Ruby

#12138 Java: Improve performance of GeneratedFileMarker.
  java/ql/lib/semmle/code/java/GeneratedFiles.qll
Labels: Java, no-change-note-required

#12174 Java: Stub generator: Use fully qualified names to avoid conflicts
  java/ql/src/utils/stub-generator/Stubs.qll
Labels: Java, no-change-note-required

#12159 JS: add express-ws as a source
  javascript/ql/lib/change-notes/2023-02-12-express-ws.md
  javascript/ql/lib/semmle/javascript/frameworks/WebSocket.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/express.js
Labels: JS, documentation

#12170 JS: More library inputs
  javascript/ql/lib/semmle/javascript/NodeModuleResolutionImpl.qll
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/PolynomialBackTracking.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/lib/subLib5/main.js
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/lib/subLib5/subclass.js
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/lib/subLib6/index.js
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/lib/subLib6/package.json
Labels: JS, no-change-note-required

#11959 JS: add encodeURIComponent as a sanitizer for request-forgery
  javascript/ql/lib/semmle/javascript/security/dataflow/RequestForgeryCustomizations.qll
  javascript/ql/test/experimental/Security/CWE-918/SSRF.expected
  javascript/ql/test/experimental/Security/CWE-918/check-path.js
  javascript/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
  javascript/ql/test/query-tests/Security/CWE-918/serverSide.js
Labels: JS, no-change-note-required

#12182 C++: Use `Content` approximation
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++, no-change-note-required

#12166 JS: add `HtmlSanitizer` as a sanitizer DOMBasedXss
  javascript/ql/lib/semmle/javascript/security/dataflow/DomBasedXssCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/xss-through-dom.js
Labels: JS, no-change-note-required

#12171 JS: dont recognize regexps that match dot as sanitizers
  javascript/ql/lib/semmle/javascript/MembershipCandidates.qll
  javascript/ql/test/experimental/Security/CWE-918/SSRF.expected
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/lib.js
Labels: JS, no-change-note-required

#12181 C++: Fix node types
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/type-bugs.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/type-bugs.ql
Labels: C++, no-change-note-required

#12185 C++: Update test annotations for use-use dataflow
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-020/NoCheckBeforeUnsafePutUser/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test2.cpp
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test3.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/unions.c
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.c
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests3.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests5.cpp
Labels: C++

#12029 Python: Clean up version handling
  python/ql/lib/change-notes/2023-02-14-python-2-no-longer-supported.md
  python/ql/lib/semmle/python/Constants.qll
  python/ql/lib/semmle/python/types/Builtins.qll
  python/ql/test/2/library-tests/six/pointsto.expected
  python/ql/test/2/query-tests/Imports/syntax_error/EncodingError.expected
Labels: documentation, Python

#12081 Java: update `createTempDirectory` and `copy` "create-file" sinks
  java/ql/lib/change-notes/2023-02-13-update-create-file-sinks.md
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  java/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.expected
Labels: documentation, Java

#12184 C++: Better discrimination for union `Content`s
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++, no-change-note-required

#12188 Go: Upgrade extractor compiler and dependency versions
  .github/workflows/go-tests-other-os.yml
  .github/workflows/go-tests.yml
  go/go.mod
  go/go.sum
  go/ql/test/extractor-tests/diagnostics/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/ql/test/extractor-tests/diagnostics/Diagnostics.expected
  go/ql/test/library-tests/semmle/go/Function/TypeParamType.expected
  go/ql/test/library-tests/semmle/go/Types/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/ql/test/query-tests/Diagnostics/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/ql/test/query-tests/Diagnostics/ExtractionErrors.expected
  go/ql/test/query-tests/RedundantCode/DeadStoreOfLocal/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/ql/test/query-tests/RedundantCode/ImpossibleInterfaceNilCheck/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/vendor/golang.org/x/mod/modfile/read.go
  go/vendor/golang.org/x/mod/modfile/rule.go
  go/vendor/golang.org/x/mod/module/module.go
  go/vendor/golang.org/x/sys/execabs/execabs_go119.go
  go/vendor/golang.org/x/tools/go/gcexportdata/gcexportdata.go
  go/vendor/golang.org/x/tools/go/internal/gcimporter/gcimporter.go
  go/vendor/golang.org/x/tools/go/packages/golist.go
  go/vendor/golang.org/x/tools/go/packages/packages.go
  go/vendor/golang.org/x/tools/internal/gcimporter/bexport.go
  go/vendor/golang.org/x/tools/internal/gcimporter/bimport.go
  go/vendor/golang.org/x/tools/internal/gcimporter/exportdata.go
  go/vendor/golang.org/x/tools/internal/gcimporter/gcimporter.go
  go/vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  go/vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  go/vendor/golang.org/x/tools/internal/gcimporter/newInterface10.go
  go/vendor/golang.org/x/tools/internal/gcimporter/newInterface11.go
  go/vendor/golang.org/x/tools/internal/gcimporter/support_go117.go
  go/vendor/golang.org/x/tools/internal/gcimporter/support_go118.go
  go/vendor/golang.org/x/tools/internal/gcimporter/unified_no.go
  go/vendor/golang.org/x/tools/internal/gcimporter/unified_yes.go
  go/vendor/golang.org/x/tools/internal/gcimporter/ureader_no.go
  go/vendor/golang.org/x/tools/internal/gcimporter/ureader_yes.go
  go/vendor/golang.org/x/tools/internal/gocommand/invoke.go
  go/vendor/golang.org/x/tools/internal/gocommand/version.go
  go/vendor/golang.org/x/tools/internal/pkgbits/codes.go
  go/vendor/golang.org/x/tools/internal/pkgbits/decoder.go
  go/vendor/golang.org/x/tools/internal/pkgbits/doc.go
  go/vendor/golang.org/x/tools/internal/pkgbits/encoder.go
  go/vendor/golang.org/x/tools/internal/pkgbits/flags.go
  go/vendor/golang.org/x/tools/internal/pkgbits/frames_go1.go
  go/vendor/golang.org/x/tools/internal/pkgbits/frames_go17.go
  go/vendor/golang.org/x/tools/internal/pkgbits/reloc.go
  go/vendor/golang.org/x/tools/internal/pkgbits/support.go
  go/vendor/golang.org/x/tools/internal/pkgbits/sync.go
  go/vendor/golang.org/x/tools/internal/pkgbits/syncmarker_string.go
  go/vendor/golang.org/x/tools/internal/tokeninternal/tokeninternal.go
  go/vendor/golang.org/x/tools/internal/typesinternal/errorcode.go
  go/vendor/golang.org/x/tools/internal/typesinternal/errorcode_string.go
  go/vendor/modules.txt
Labels: Go

#12165 Python/Ruby/JS Crypto: Add a few algorithms + block modes
  javascript/ql/lib/semmle/javascript/internal/ConceptsShared.qll
  javascript/ql/lib/semmle/javascript/security/internal/CryptoAlgorithmNames.qll
  python/ql/lib/semmle/python/concepts/internal/CryptoAlgorithmNames.qll
  python/ql/lib/semmle/python/internal/ConceptsShared.qll
  ruby/ql/lib/codeql/ruby/internal/ConceptsShared.qll
  ruby/ql/lib/codeql/ruby/security/internal/CryptoAlgorithmNames.qll
  ruby/ql/test/library-tests/security/CryptoAlgorithms.expected
Labels: JS, Python, no-change-note-required, Ruby

#12193 Python: Fix `from <pkg> import *` import resolution
  python/ql/lib/change-notes/2023-02-15-import-star-package.md
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
  python/ql/test/experimental/import-resolution/main.py
  python/ql/test/experimental/import-resolution/package/subpackage2/__init__.py
Labels: documentation, Python

#12198 Update Twirp change note to new style
  go/ql/lib/change-notes/2023-02-01--add-support-for-twirp-framework.md
Labels: documentation, Go

#12197 Go: complete Go 1.20 support
  docs/codeql/reusables/supported-versions-compilers.rst
  go/ql/lib/change-notes/2023-02-15-golang-120.md
  go/ql/lib/semmle/go/Types.qll
  go/ql/lib/semmle/go/frameworks/Stdlib.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Bytes.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Errors.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Sync.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Unsafe.qll
  go/ql/test/library-tests/semmle/go/Types/QualifiedNames.expected
  go/ql/test/library-tests/semmle/go/Types/Types.expected
  go/ql/test/library-tests/semmle/go/Types/interface.go
  go/ql/test/library-tests/semmle/go/dataflow/ArrayConversion/Flows.expected
  go/ql/test/library-tests/semmle/go/dataflow/ArrayConversion/Flows.ql
  go/ql/test/library-tests/semmle/go/dataflow/ArrayConversion/main.go
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Bytes.go
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Errors.go
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Sync.go
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Unsafe.go
Labels: documentation, Go

#12178 Java - Adding support for com.microsoft.sqlserver.jdbc.SQLServerDataSource to CWE-798
  java/ql/lib/change-notes/2023-02-15-mssql-jdbc-hardcoded-credential-api.md
  java/ql/lib/semmle/code/java/security/SensitiveApi.qll
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedMSSQLCredentials.java
  java/ql/test/query-tests/security/CWE-798/semmle/tests/options
  java/ql/test/stubs/mssql-jdbc-12.2.0/com/microsoft/sqlserver/jdbc/ISQLServerDataSource.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/com/microsoft/sqlserver/jdbc/SQLServerAccessTokenCallback.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/com/microsoft/sqlserver/jdbc/SQLServerDataSource.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/com/microsoft/sqlserver/jdbc/SqlAuthenticationToken.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/javax/crypto/SecretKey.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/javax/crypto/spec/SecretKeySpec.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/javax/naming/RefAddr.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/javax/naming/Reference.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/javax/naming/Referenceable.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/javax/security/auth/Destroyable.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/javax/sql/CommonDataSource.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/javax/sql/DataSource.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/org/ietf/jgss/GSSCredential.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/org/ietf/jgss/GSSName.java
  java/ql/test/stubs/mssql-jdbc-12.2.0/org/ietf/jgss/Oid.java
Labels: documentation, Java

#12196 C#: Add an integration test which uses MSBuild
  csharp/ql/integration-tests/all-platforms/msbuild/Program.cs
  csharp/ql/integration-tests/all-platforms/msbuild/test.csproj
  csharp/ql/integration-tests/all-platforms/msbuild/test.py
Labels: C#

#12202 Swift: generate raw helpers in synthesized stubs
  swift/.gitignore
  swift/codegen/generators/qlgen.py
  swift/codegen/lib/ql.py
  swift/codegen/templates/ql_stub.mustache
  swift/codegen/test/test_ql.py
  swift/codegen/test/test_qlgen.py
  swift/ql/.generated.list
Labels: Swift

#12195 Java: Test generator improvements
  java/ql/src/utils/flowtestcasegenerator/FlowTestCase.qll
  java/ql/src/utils/flowtestcasegenerator/FlowTestCaseUtils.qll
  java/ql/src/utils/flowtestcasegenerator/GenerateFlowTestCase.py
Labels: Java, no-change-note-required

#12205 Swift: fix subtle `codegen` bug on missing files
  swift/codegen/lib/render.py
  swift/codegen/test/test_render.py
  swift/ql/.generated.list
  swift/ql/test/extractor-tests/generated/OtherAvailabilitySpec/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/PlatformVersionAvailabilitySpec/MISSING_SOURCE.txt
Labels: Swift

#12153 C#: Improve C# autobuilder compatibility with Arm-based Macs
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
  csharp/scripts/create-extractor-pack.sh
Labels: C#, C++

#12213 CI: inline the move-caches script into the action
  .github/actions/cache-query-compilation/action.yml
  .github/actions/cache-query-compilation/move-caches.js
  .github/workflows/ql-for-ql-build.yml
Labels: QL-for-QL

#12154 Swift: More path injection sinks
  swift/ql/lib/codeql/swift/security/PathInjectionExtensions.qll
  swift/ql/test/query-tests/Security/CWE-022/testPathInjection.swift
Labels: no-change-note-required, Swift

#12214 Swift: fix weird module naming in codegen
  swift/codegen/schemadefs.py
Labels: Swift

#12167 C#: Checked operator support.
  csharp/ql/lib/change-notes/2023-02-14-checked-operators.md
  csharp/ql/lib/semmle/code/csharp/Callable.qll
  csharp/ql/test/library-tests/csharp11/CheckedOperators.cs
  csharp/ql/test/library-tests/csharp11/PrintAst.expected
  csharp/ql/test/library-tests/csharp11/checkedOperators.expected
  csharp/ql/test/library-tests/csharp11/checkedOperators.ql
  csharp/ql/test/library-tests/dispatch/CallGraph.expected
  csharp/ql/test/library-tests/dispatch/GetADynamicTarget.expected
  csharp/ql/test/library-tests/dispatch/ViableCallable.cs
  csharp/ql/test/library-tests/dispatch/viableCallable.expected
Labels: C#, documentation

#12207 C# 11: Required fields and properties.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Modifier.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Modifiers.cs
  csharp/ql/lib/change-notes/2023-02-16-requiredmembers.md
  csharp/ql/lib/semmle/code/csharp/Member.qll
  csharp/ql/lib/semmle/code/dotnet/Declaration.qll
  csharp/ql/test/library-tests/csharp11/PrintAst.expected
  csharp/ql/test/library-tests/csharp11/RequiredMembers.cs
  csharp/ql/test/library-tests/csharp11/requiredMembers.expected
  csharp/ql/test/library-tests/csharp11/requiredMembers.ql
Labels: C#, documentation

#11570 Python: Unsafe unpacking using `shutil.unpack_archive()` query and tests
  python/ql/src/experimental/Security/CWE-022bis/UnsafeUnpack.qhelp
  python/ql/src/experimental/Security/CWE-022bis/UnsafeUnpack.ql
  python/ql/src/experimental/Security/CWE-022bis/examples/HIT_UnsafeUnpack.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_UnsafeUnpack.py
  python/ql/src/experimental/Security/UnsafeUnpackQuery.qll
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/TarSlip.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/TarSlip.qlref
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/TarSlipImprov.py
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/ZipSlip.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/ZipSlip.qlref
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/zipslip_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/zipslip_good.py
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/DataflowQueryTest.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/DataflowQueryTest.ql
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/UnsafeUnpack.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/UnsafeUnpack.py
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/UnsafeUnpack.qlref
Labels: documentation, Python, external-contribution

#12203 Python: Handle if-then-else definitions in import resolution
  python/ql/lib/change-notes/2023-02-16-import-if-then-else.md
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
  python/ql/test/experimental/import-resolution/if_then_else.py
  python/ql/test/experimental/import-resolution/main.py
  python/ql/test/query-tests/Security/CWE-732-WeakFilePermissions/WeakFilePermissions.expected
Labels: documentation, Python

#12226 Swift: Fix minor mistakes in the String models.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/string.swift
Labels: no-change-note-required, Swift

#12229 Java: Add Gradle wrappers for Kotlin tests
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/.gitattributes
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/gradlew
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/gradlew.bat
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/test.py
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/.gitattributes
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/gradlew
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/gradlew.bat
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/test.py
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/.gitattributes
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/gradlew
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/gradlew.bat
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/test.py
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/.gitattributes
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/gradlew
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/gradlew.bat
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/test.py
Labels: Java

#12183 Python: Update a few examples so queries work on them
  python/ql/src/Security/CWE-022/examples/tainted_path.py
  python/ql/src/Security/CWE-022/examples/tarslip_bad.py
  python/ql/src/Security/CWE-022/examples/tarslip_good.py
Labels: Python

#12223 Java: Announce JDK20 support
  docs/codeql/reusables/supported-versions-compilers.rst
  java/ql/lib/change-notes/2023-02-17-jdk20.md
Labels: documentation, Java

#12215 Java: move java.awt and javax.swing from `isJdkInternal` to `isInfrequentlyUsed`
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
Labels: Java, no-change-note-required

#12247 Go integer conversion: check against sink, not source signedness
  go/ql/lib/semmle/go/security/IncorrectIntegerConversionLib.qll
  go/ql/src/change-notes/2023-02-17-integer-conversion-fix.md
  go/ql/test/query-tests/Security/CWE-681/IncorrectIntegerConversion.go
Labels: documentation, Go

#12233 QL: Add blame extractor
  .github/workflows/ql-for-ql-build.yml
  ql/Cargo.lock
  ql/Cargo.toml
  ql/autobuilder/src/main.rs
  ql/buramu/Cargo.toml
  ql/buramu/README.md
  ql/buramu/src/main.rs
  ql/buramu/tree-sitter-blame/Cargo.toml
  ql/buramu/tree-sitter-blame/binding.gyp
  ql/buramu/tree-sitter-blame/bindings/node/binding.cc
  ql/buramu/tree-sitter-blame/bindings/node/index.js
  ql/buramu/tree-sitter-blame/bindings/rust/build.rs
  ql/buramu/tree-sitter-blame/bindings/rust/lib.rs
  ql/buramu/tree-sitter-blame/dep.out
  ql/buramu/tree-sitter-blame/grammar.js
  ql/buramu/tree-sitter-blame/package.json
  ql/buramu/tree-sitter-blame/src/grammar.json
  ql/buramu/tree-sitter-blame/src/node-types.json
  ql/buramu/tree-sitter-blame/src/parser.c
  ql/buramu/tree-sitter-blame/src/tree_sitter/parser.h
  ql/buramu/tree-sitter-blame/test.blame
  ql/extractor/Cargo.toml
  ql/extractor/src/main.rs
  ql/generator/Cargo.toml
  ql/generator/src/main.rs
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ql/ql/src/ql.dbscheme
  ql/ql/src/queries/reports/OutdatedDeprecations.ql
  ql/rust-toolchain.toml
Labels: documentation, QL-for-QL

#12168 Python: Add modeling of `hmac`
  python/ql/lib/change-notes/2023-02-13-hmac-modeling.md
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/stdlib/test_hmac.py
Labels: documentation, Python

#12250 Swift: Taint sources for FileManager
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/FileManager.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/filemanager.swift
Labels: no-change-note-required, Swift

#12212 Util: Use end line instead of start line for actual results
  go/ql/test/library-tests/semmle/go/Types/variadicFunctions.go
  go/ql/test/library-tests/semmle/go/concepts/HTTP/main.go
  java/ql/test/library-tests/frameworks/apache-commons-lang3/StrBuilderTest.java
  java/ql/test/library-tests/frameworks/apache-commons-lang3/StrBuilderTextTest.java
  java/ql/test/library-tests/frameworks/apache-commons-lang3/TextStringBuilderTest.java
  java/ql/test/query-tests/security/CWE-079/semmle/tests/JsfXSS.java
  java/ql/test/query-tests/security/CWE-489/debuggable-attribute/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-489/debuggable-attribute/Testbuild/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-524/res/layout/Test.xml
  java/ql/test/query-tests/security/CWE-926/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-926/incomplete_provider_permissions/AndroidManifest.xml
  python/ql/test/library-tests/frameworks/django-v2-v3/testproj/settings.py
  python/ql/test/library-tests/frameworks/flask/old_test.py
  ruby/ql/test/library-tests/dataflow/api-graphs/callbacks.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/test1.rb
  ruby/ql/test/library-tests/dataflow/api-graphs/use.ql
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.rb
  ruby/ql/test/query-tests/experimental/improper-memoization/improper_memoization.rb
  ruby/ql/test/query-tests/security/cwe-116/IncompleteMultiCharacterSanitization/incomplete_multi_character_sanitization.rb
  shared/util/codeql/util/test/InlineExpectationsTest.qll
  swift/ql/test/library-tests/dataflow/taint/string.swift
Labels: Java, Python, no-change-note-required, Go, Ruby, Swift

#12260 python: Lower precision as discussed
  python/ql/src/experimental/Security/CWE-022bis/UnsafeUnpack.ql
Labels: Python

#12083 [Ruby] Add support for Twirp framework
  ruby/ql/lib/change-notes/2023-02-03-twirp.md
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/Twirp.qll
  ruby/ql/test/library-tests/frameworks/Twirp/Gemfile
  ruby/ql/test/library-tests/frameworks/Twirp/Twirp.expected
  ruby/ql/test/library-tests/frameworks/Twirp/Twirp.ql
  ruby/ql/test/library-tests/frameworks/Twirp/hello_world/service.proto
  ruby/ql/test/library-tests/frameworks/Twirp/hello_world/service_pb.rb
  ruby/ql/test/library-tests/frameworks/Twirp/hello_world/service_twirp.rb
  ruby/ql/test/library-tests/frameworks/Twirp/hello_world_client.rb
  ruby/ql/test/library-tests/frameworks/Twirp/hello_world_server.rb
Labels: documentation, Ruby

#12242 Java: Test generator fixes
  java/ql/src/utils/flowtestcasegenerator/FlowTestCase.qll
  java/ql/src/utils/flowtestcasegenerator/FlowTestCaseUtils.qll
Labels: Java, no-change-note-required

#12263 Swift: Convert the flow sources test to inline expectations.
  swift/ql/lib/codeql/swift/dataflow/FlowSources.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowConfig.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/FlowSourcesInline.expected
  swift/ql/test/library-tests/dataflow/flowsources/FlowSourcesInline.ql
  swift/ql/test/library-tests/dataflow/flowsources/alamofire.swift
  swift/ql/test/library-tests/dataflow/flowsources/customurlschemes.swift
  swift/ql/test/library-tests/dataflow/flowsources/data.swift
  swift/ql/test/library-tests/dataflow/flowsources/filemanager.swift
  swift/ql/test/library-tests/dataflow/flowsources/generics.swift
  swift/ql/test/library-tests/dataflow/flowsources/nsdata.swift
  swift/ql/test/library-tests/dataflow/flowsources/string.swift
  swift/ql/test/library-tests/dataflow/flowsources/url.swift
  swift/ql/test/library-tests/dataflow/flowsources/webview.swift
Labels: no-change-note-required, Swift

#12265 Swift: Add unary +
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/elements/expr/ArithmeticOperation.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
  swift/ql/test/library-tests/elements/expr/arithmeticoperation/arithmeticoperation.expected
  swift/ql/test/library-tests/elements/expr/arithmeticoperation/arithmeticoperation.ql
  swift/ql/test/library-tests/elements/expr/arithmeticoperation/arithmeticoperation.swift
Labels: no-change-note-required, Swift

#12266 Swift: Taint through arithmetic
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPrivate.qll
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/simple.swift
Labels: no-change-note-required, Swift

#12268 Ruby: update tree-sitter-embedded-template
  ruby/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/generator/Cargo.toml
Labels: no-change-note-required, Ruby

#12269 QL: Add JSON (+C/L) extraction
  ql/Cargo.lock
  ql/autobuilder/src/main.rs
  ql/extractor/Cargo.toml
  ql/extractor/src/main.rs
  ql/generator/Cargo.toml
  ql/generator/src/main.rs
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ql/ql/src/ql.dbscheme
Labels: QL-for-QL

#12259 [rc/3.7]: Add Gradle wrappers for Kotlin tests
  java/ql/integration-tests/posix-only/kotlin/gradle_groovy_app/.gitattributes
  java/ql/integration-tests/posix-only/kotlin/gradle_groovy_app/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/posix-only/kotlin/gradle_groovy_app/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/posix-only/kotlin/gradle_groovy_app/gradlew
  java/ql/integration-tests/posix-only/kotlin/gradle_groovy_app/gradlew.bat
  java/ql/integration-tests/posix-only/kotlin/gradle_groovy_app/test.py
  java/ql/integration-tests/posix-only/kotlin/gradle_kotlinx_serialization/.gitattributes
  java/ql/integration-tests/posix-only/kotlin/gradle_kotlinx_serialization/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/posix-only/kotlin/gradle_kotlinx_serialization/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/posix-only/kotlin/gradle_kotlinx_serialization/gradlew
  java/ql/integration-tests/posix-only/kotlin/gradle_kotlinx_serialization/gradlew.bat
  java/ql/integration-tests/posix-only/kotlin/gradle_kotlinx_serialization/test.py
Labels: Java

#12273 Fix grammar
  java/ql/lib/semmle/code/java/Type.qll
Labels: Java, no-change-note-required

#12271 QL: Fix JSON extraction
  ql/Cargo.lock
  ql/extractor/Cargo.toml
  ql/extractor/src/main.rs
  ql/generator/Cargo.toml
  ql/ql/src/codeql_ql/StructuredLogs.qll
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ql/ql/src/ql.dbscheme
Labels: QL-for-QL

#12277 QL: Clean up structured logs module
  ql/ql/src/codeql_ql/StructuredLogs.qll
Labels: QL-for-QL

#12280 QL: Make the JSON parser a bit more robust
  ql/Cargo.lock
  ql/autobuilder/src/main.rs
  ql/extractor/Cargo.toml
  ql/generator/Cargo.toml
Labels: QL-for-QL

#12279 QL: Start of the AST for `kind: predicates` evaluator logs
  ql/ql/src/codeql_ql/StructuredLogs.qll
Labels: QL-for-QL

#12272 Merge rc/3.7 into rc/3.8
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/.gitattributes
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/gradlew
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/gradlew.bat
  java/ql/integration-tests/all-platforms/kotlin/compiler_arguments/test.py
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/.gitattributes
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/gradlew
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/gradlew.bat
  java/ql/integration-tests/all-platforms/kotlin/gradle_groovy_app/test.py
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/.gitattributes
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/gradlew
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/gradlew.bat
  java/ql/integration-tests/all-platforms/kotlin/gradle_kotlinx_serialization/test.py
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/.gitattributes
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/gradlew
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/gradlew.bat
  java/ql/integration-tests/all-platforms/kotlin/kotlin_kfunction/test.py
Labels: Java

#12282 QL: Handle large numbers and -1 padding
  ql/ql/src/codeql_ql/StructuredLogs.qll
Labels: QL-for-QL

#12285 RA parser first draft
  ql/ql/src/experimental/RA.qll
  ql/ql/test/experimental/raparser.expected
  ql/ql/test/experimental/raparser.ql
Labels: QL-for-QL

#12284 Swift: fix comments in PrintAst library
  swift/ql/lib/codeql/swift/printast/PrintAst.qll
  swift/ql/lib/codeql/swift/printast/PrintAstNode.qll
Labels: Swift

#12258 C#: Generalise modifier extraction from symbols.
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/ql/lib/change-notes/2023-02-22-modifierextraction.md
Labels: C#, documentation, no-change-note-required

#12261 C#/Java: Re-factor the `isSupported` predicate.
  csharp/ql/src/Telemetry/ExternalApi.qll
  csharp/ql/src/Telemetry/SupportedExternalApis.ql
  csharp/ql/src/Telemetry/UnsupportedExternalAPIs.ql
  csharp/ql/src/meta/frameworks/UnsupportedExternalAPIs.ql
  java/ql/src/Telemetry/ExternalApi.qll
  java/ql/src/Telemetry/SupportedExternalApis.ql
  java/ql/src/Telemetry/UnsupportedExternalAPIs.ql
Labels: C#, Java, no-change-note-required

#12286 QL: Add predicates for timestamps and locations
  ql/ql/src/codeql_ql/StructuredLogs.qll
Labels: QL-for-QL

#12296 QL: Remove unused predicates
  ql/ql/src/codeql_ql/StructuredLogs.qll
Labels: QL-for-QL

#12295 QL: Non-recursive join-order-metric query
  ql/ql/src/queries/performance/LargeJoinOrder.ql
Labels: QL-for-QL

#12291 Slow predicates query
  ql/ql/src/codeql_ql/StructuredLogs.qll
  ql/ql/src/experimental/queries/SlowPredicates.ql
Labels: QL-for-QL

#12297 JS: Bump version numbers of ML-powered packs after 0.4.8 release
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: ATM

#12294 QL: Add a visitor for traversing recursive evaluations
  ql/ql/src/codeql_ql/StructuredLogs.qll
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ql/ql/src/queries/performance/LargeTupleSum.ql
Labels: QL-for-QL

#12298 QL: Output more rows in the join order query
  ql/ql/src/codeql_ql/StructuredLogs.qll
  ql/ql/src/queries/performance/LargeJoinOrder.ql
Labels: QL-for-QL

#12299 Add classes and predicates to StructuredLogs
  ql/ql/src/codeql_ql/StructuredLogs.qll
  ql/ql/src/experimental/queries/PredicateSummaries.ql
  ql/ql/src/queries/performance/LargeJoinOrder.ql
Labels: QL-for-QL

#12302 QL: Extend the join-order badness query to recursive predicates
  ql/ql/src/codeql_ql/StructuredLogs.qll
  ql/ql/src/experimental/RA.qll
  ql/ql/src/queries/performance/LargeJoinOrder.ql
  ql/ql/test/experimental/raparser.expected
Labels: QL-for-QL

#12303 QL: Join-order query fixes
  ql/ql/src/queries/performance/LargeJoinOrder.ql
Labels: QL-for-QL

#12281 Add test for a too-new Kotlin version
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/diagnostics.expected
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/fake-kotlinc-source/com/intellij/mock/MockProject.java
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/fake-kotlinc-source/com/intellij/openapi/Disposable.java
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/fake-kotlinc-source/driver/Main.java
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/fake-kotlinc-source/kotlin/KotlinVersion.java
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/fake-kotlinc-source/org/jetbrains/kotlin/cli/common/ExitCode.java
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/fake-kotlinc-source/org/jetbrains/kotlin/cli/common/arguments/CommonToolArguments.java
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/fake-kotlinc-source/org/jetbrains/kotlin/cli/common/arguments/K2JVMCompilerArguments.java
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/fake-kotlinc-source/org/jetbrains/kotlin/cli/common/arguments/ParseCommandLineArgumentsKt.java
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/fake-kotlinc-source/org/jetbrains/kotlin/cli/jvm/K2JVMCompiler.java
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/fake-kotlinc-source/org/jetbrains/kotlin/config/CompilerConfiguration.java
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/fake-kotlinc-source/org/jetbrains/kotlin/utils/KotlinPaths.java
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/test.py
Labels: Java

#12289 Util: Add shared file system implementation
  csharp/ql/lib/qlpack.yml
  csharp/ql/lib/semmle/code/csharp/File.qll
  ruby/ql/lib/codeql/files/FileSystem.qll
  shared/util/codeql/util/FileSystem.qll
Labels: C#, no-change-note-required, Ruby

#12304 QL: More fixes to the join-order query
  ql/ql/src/queries/performance/LargeJoinOrder.ql
Labels: QL-for-QL

#12189 JS: also consider relative exports when finding library inputs
  javascript/ql/lib/semmle/javascript/NPM.qll
  javascript/ql/lib/semmle/javascript/NodeModuleResolutionImpl.qll
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/UnsafeHtmlConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/lib2/package.json
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/lib2/src/MyNode.ts
Labels: JS, no-change-note-required

#12175 JS: add process.env and process.argv etc. as source for `js/regex-injection`
  javascript/ql/lib/change-notes/2023-02-14-regex-injection-process-env.md
  javascript/ql/lib/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/RegExpInjectionCustomizations.qll
  javascript/ql/src/Security/CWE-078/IndirectCommandInjection.ql
  javascript/ql/src/Security/CWE-730/RegExpInjection.ql
  javascript/ql/test/query-tests/Security/CWE-730/RegExpInjection.expected
  javascript/ql/test/query-tests/Security/CWE-730/RegExpInjection.js
Labels: JS, documentation

#12227 Swift: update to 5.7.3
  swift/actions/run-integration-tests/action.yml
  swift/third_party/load.bzl
Labels: Swift

#12305 Java: Add new java.net.URI taintsteps
  java/ql/lib/ext/java.net.model.yml
  java/ql/test/library-tests/frameworks/jdk/java.net/Test.java
  java/ql/test/library-tests/frameworks/jdk/java.net/test.expected
  java/ql/test/library-tests/frameworks/jdk/java.net/test.ql
Labels: Java

#12292 Query and tests for sum without domain
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/queries/bugs/SumWithoutDomain.ql
  ql/ql/test/queries/bugs/SumWithoutDomain/SumWithoutDomain.expected
  ql/ql/test/queries/bugs/SumWithoutDomain/SumWithoutDomain.qlref
  ql/ql/test/queries/bugs/SumWithoutDomain/Test.qll
Labels: QL-for-QL

#12275 Make "Detecting a potential buffer overflow" example more uniform
  docs/codeql/codeql-language-guides/detecting-a-potential-buffer-overflow.rst
Labels: ready-for-doc-review

#11769 JS: Sanitizer for `sanitizer(x) === true`
  javascript/ql/lib/semmle/javascript/Expr.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/lib/lib.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/koarouter.js
Labels: JS, no-change-note-required

#12032 Java: Promote Hardcoded JWT credential query
  java/ql/lib/change-notes/2023-02-17-add-hardcoded-secret-for-jwt-tokens.md
  java/ql/lib/semmle/code/java/security/SensitiveApi.qll
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.java
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.qhelp
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.ql
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.qll
  java/ql/test/experimental/query-tests/security/CWE-321/HardcodedJwtKey.expected
  java/ql/test/experimental/query-tests/security/CWE-321/HardcodedJwtKey.qlref
  java/ql/test/experimental/query-tests/security/CWE-321/options
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedJwtKey.java
  java/ql/test/query-tests/security/CWE-798/semmle/tests/options
Labels: documentation, Java

#12177 JS: More precise type-test sanitizer guards in unsafe-html-construction
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeHtmlConstructionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeHtmlConstructionQuery.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/UnsafeHtmlConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/lib2/index.ts
Labels: JS, no-change-note-required

#12323 C++: Fix missing enclosing callables
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests3.cpp
Labels: C++, no-change-note-required

#12326 Python: Fix expected of call-graph after merge
  python/ql/test/experimental/library-tests/CallGraph/InlineCallGraphTest.expected
  python/ql/test/experimental/library-tests/CallGraph/code/runtime_decision.py
Labels: Python, no-change-note-required

#12324 C++: Use correct DataFlow import in new TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/new/TaintTracking.qll
Labels: C++, no-change-note-required

#12325 C++: Make `gets` indirect output a LocalFlowSource
  cpp/ql/lib/semmle/code/cpp/models/implementations/Gets.qll
Labels: C++, no-change-note-required
