Repository github/codeql, pull requests merged in 2023-03, with the labels that each got.

#12308 Swift: Model assignment operators (+= etc)
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPrivate.qll
  swift/ql/lib/codeql/swift/elements/expr/AssignExpr.qll
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/simple.swift
  swift/ql/test/library-tests/dataflow/taint/string.swift
  swift/ql/test/library-tests/elements/expr/assignment/assignment.expected
  swift/ql/test/library-tests/elements/expr/assignment/assignment.ql
  swift/ql/test/library-tests/elements/expr/assignment/assignment.swift
Labels: no-change-note-required, Swift

#12234 C# 11: Support for `file` scoped types.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Modifier.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Modifiers.cs
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/ql/lib/change-notes/2023-02-17-filescopedtypes.md
  csharp/ql/lib/semmle/code/csharp/Member.qll
  csharp/ql/lib/semmle/code/dotnet/Declaration.qll
  csharp/ql/test/library-tests/csharp11/FileScoped1.cs
  csharp/ql/test/library-tests/csharp11/FileScoped2.cs
  csharp/ql/test/library-tests/csharp11/FileScoped3.cs
  csharp/ql/test/library-tests/csharp11/FileScoped4.cs
  csharp/ql/test/library-tests/csharp11/PrintAst.expected
  csharp/ql/test/library-tests/csharp11/fileScoped.expected
  csharp/ql/test/library-tests/csharp11/fileScoped.ql
Labels: C#, documentation

#12051 Ruby: flow steps for ActionController filters
  ruby/ql/lib/change-notes/2023-02-13-actioncontroller-filters.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/lib/codeql/ruby/frameworks/actioncontroller/Filters.qll
  ruby/ql/test/library-tests/frameworks/action_controller/ActionController.expected
  ruby/ql/test/library-tests/frameworks/action_controller/Filters.expected
  ruby/ql/test/library-tests/frameworks/action_controller/Filters.ql
  ruby/ql/test/library-tests/frameworks/action_controller/filter_flow.rb
  ruby/ql/test/library-tests/frameworks/action_controller/params-flow.expected
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection/CodeInjection.expected
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection/CodeInjection.rb
Labels: documentation, Ruby

#12338 C++: Speedup `cpp/command-line-injection`
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
Labels: C++, no-change-note-required

#12333 ReflectedXss: Prevent bad join order
  javascript/ql/lib/semmle/javascript/security/dataflow/ReflectedXssCustomizations.qll
Labels: JS, no-change-note-required

#12322 C# 11: Support for explicit interface implementations of operators.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Conversion.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/UserOperator.cs
  csharp/ql/lib/change-notes/2023-02-27-explicitinterfacemember.md
  csharp/ql/lib/semmle/code/csharp/Callable.qll
  csharp/ql/test/library-tests/csharp11/PrintAst.expected
  csharp/ql/test/library-tests/csharp11/StaticInterfaceMembers.cs
  csharp/ql/test/library-tests/csharp11/staticInterfaceMembers.expected
  csharp/ql/test/library-tests/csharp11/staticInterfaceMembers.ql
Labels: C#, documentation

#12347 Swift: move location extraction logic into a separate class. NFC
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/infra/SwiftLocationExtractor.cpp
  swift/extractor/infra/SwiftLocationExtractor.h
Labels: Swift

#12348 Swift: move decision making out of dispatcher. NFC
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/infra/SwiftBodyEmissionStrategy.cpp
  swift/extractor/infra/SwiftBodyEmissionStrategy.h
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/invocation/SwiftInvocationExtractor.cpp
Labels: Swift

#12225 Swift: Taint models for NSString
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsObject.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsString.qll
  swift/ql/test/library-tests/dataflow/flowsources/nsstring.swift
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/nsstring.swift
  swift/ql/test/query-tests/Security/CWE-134/UncontrolledFormatString.expected
  swift/ql/test/query-tests/Security/CWE-134/UncontrolledFormatString.swift
Labels: no-change-note-required, Swift

#12320 Python: Document `API::CallNode`
  docs/codeql/codeql-language-guides/using-api-graphs-in-python.rst
Labels: documentation

#12216 Ruby: improve diagnostic messages
  ruby/extractor/src/diagnostics.rs
  ruby/extractor/src/extractor.rs
  ruby/extractor/src/main.rs
  ruby/ql/test/query-tests/diagnostics/ExtractionErrors.expected
Labels: Ruby

#12350 C++: Disable a bad standard order
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
Labels: C++, no-change-note-required

#12355 Swift: Split the taint flow test.
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.ql
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.ql
  swift/ql/test/library-tests/dataflow/taint/core/Taint.qll
  swift/ql/test/library-tests/dataflow/taint/core/TaintInline.expected
  swift/ql/test/library-tests/dataflow/taint/core/TaintInline.ql
  swift/ql/test/library-tests/dataflow/taint/core/simple.swift
  swift/ql/test/library-tests/dataflow/taint/core/subscript.swift
  swift/ql/test/library-tests/dataflow/taint/core/try.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/Taint.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/TaintInline.expected
  swift/ql/test/library-tests/dataflow/taint/libraries/TaintInline.ql
  swift/ql/test/library-tests/dataflow/taint/libraries/data.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/nsdata.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/nsmutabledata.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/nsstring.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/string.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/ui.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/url.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/webview.swift
Labels: no-change-note-required, Swift

#12367 Swift: Additional NSString taint test cases
  swift/ql/test/library-tests/dataflow/taint/libraries/nsstring.swift
Labels: no-change-note-required, Swift

#10431 CPP: Add query for CWE-369: Divide By Zero.
  cpp/ql/src/experimental/Security/CWE/CWE-369/DivideByZeroUsingReturnValue.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-369/DivideByZeroUsingReturnValue.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-369/DivideByZeroUsingReturnValue.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-369/semmle/tests/DivideByZeroUsingReturnValue.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-369/semmle/tests/DivideByZeroUsingReturnValue.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-369/semmle/tests/test.cpp
Labels: C++, documentation

#12378 C++: Silence a number of bogus consistency errors in syntax zoo
  cpp/ql/test/library-tests/syntax-zoo/aggregateinitializer.c
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/allocators.cpp
  cpp/ql/test/library-tests/syntax-zoo/array_delete.cpp
  cpp/ql/test/library-tests/syntax-zoo/assignexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/break_labels.c
  cpp/ql/test/library-tests/syntax-zoo/constmemberaccess.cpp
  cpp/ql/test/library-tests/syntax-zoo/constructorinitializer.cpp
  cpp/ql/test/library-tests/syntax-zoo/cpp11.cpp
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/defconstructornewexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/defdestructordeleteexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/deleteexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/dostmt.c
  cpp/ql/test/library-tests/syntax-zoo/duff.c
  cpp/ql/test/library-tests/syntax-zoo/dummyblock.c
  cpp/ql/test/library-tests/syntax-zoo/ellipsisexceptionhandler.cpp
  cpp/ql/test/library-tests/syntax-zoo/emptyblock.c
  cpp/ql/test/library-tests/syntax-zoo/enum.c
  cpp/ql/test/library-tests/syntax-zoo/exceptionhandler.cpp
  cpp/ql/test/library-tests/syntax-zoo/exprstmt.c
  cpp/ql/test/library-tests/syntax-zoo/fieldaccess.cpp
  cpp/ql/test/library-tests/syntax-zoo/ifelsestmt.c
  cpp/ql/test/library-tests/syntax-zoo/ifstmt.c
  cpp/ql/test/library-tests/syntax-zoo/initializer.c
  cpp/ql/test/library-tests/syntax-zoo/landexpr.c
  cpp/ql/test/library-tests/syntax-zoo/ltrbinopexpr.c
  cpp/ql/test/library-tests/syntax-zoo/membercallexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/membercallexpr_args.cpp
  cpp/ql/test/library-tests/syntax-zoo/ms_assume.cpp
  cpp/ql/test/library-tests/syntax-zoo/newexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/no_dynamic_init.cpp
  cpp/ql/test/library-tests/syntax-zoo/nodefaultswitchstmt.c
  cpp/ql/test/library-tests/syntax-zoo/nonmembercallexpr.c
  cpp/ql/test/library-tests/syntax-zoo/nonmemberfp2callexpr.c
  cpp/ql/test/library-tests/syntax-zoo/nonmemberfpcallexpr.c
  cpp/ql/test/library-tests/syntax-zoo/pmcallexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/questionexpr.c
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/staticlocals.cpp
  cpp/ql/test/library-tests/syntax-zoo/staticmembercallexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/staticmembercallexpr_args.cpp
  cpp/ql/test/library-tests/syntax-zoo/stmt_expr.cpp
  cpp/ql/test/library-tests/syntax-zoo/stream_it.cpp
  cpp/ql/test/library-tests/syntax-zoo/subscriptexpr.c
  cpp/ql/test/library-tests/syntax-zoo/switchstmt.c
  cpp/ql/test/library-tests/syntax-zoo/tinyforstmt.c
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaryopexpr.c
  cpp/ql/test/library-tests/syntax-zoo/vla.c
  cpp/ql/test/library-tests/syntax-zoo/whilestmt.c
Labels: C++

#12356 C++: Include "phi reads" in `DataFlow::Node`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++, no-change-note-required

#12374 ATM: Update model pack to version 0.3.1-2023-03-01-12h42m43s.strong-turtle-1xp3dqvv.ecb17d40286d14132b481c065a43459a7f0ba9059015b7a49c909c9f9ce5fec5
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/codeql-pack.lock.yml
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/codeql-pack.lock.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/test/codeql-pack.lock.yml
Labels: ATM

#12381 C++: Silence some more bogus consistency errors in syntax zoo
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/assignexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/conditional_destructors.cpp
  cpp/ql/test/library-tests/syntax-zoo/constmemberaccess.cpp
  cpp/ql/test/library-tests/syntax-zoo/constructorinitializer.cpp
  cpp/ql/test/library-tests/syntax-zoo/cpp11.cpp
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/defconstructornewexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/defdestructordeleteexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/deleteexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/ellipsisexceptionhandler.cpp
  cpp/ql/test/library-tests/syntax-zoo/exceptionhandler.cpp
  cpp/ql/test/library-tests/syntax-zoo/fieldaccess.cpp
  cpp/ql/test/library-tests/syntax-zoo/ir.cpp
  cpp/ql/test/library-tests/syntax-zoo/membercallexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/membercallexpr_args.cpp
  cpp/ql/test/library-tests/syntax-zoo/ms_try_mix.cpp
  cpp/ql/test/library-tests/syntax-zoo/newexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/nonmembercallexpr.c
  cpp/ql/test/library-tests/syntax-zoo/parameterinitializer.cpp
  cpp/ql/test/library-tests/syntax-zoo/pmcallexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/staticlocals.cpp
  cpp/ql/test/library-tests/syntax-zoo/staticmembercallexpr.cpp
  cpp/ql/test/library-tests/syntax-zoo/staticmembercallexpr_args.cpp
  cpp/ql/test/library-tests/syntax-zoo/stmt_expr.cpp
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
Labels: C++

#12377 JS: add the html argument to the jQuery functions as an XSS sink
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/XssThroughDom.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssThroughDom/xss-through-dom.js
Labels: JS, no-change-note-required

#12379 Revert "C#: Tool status page support"
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  cpp/autobuilder/Semmle.Autobuild.Cpp/CppAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/AutoBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpDiagnosticClassifier.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/AutobuildOptions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildCommandAutoRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildScript.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/DiagnosticClassifier.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/EnvVars.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Language.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MarkdownUtil.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/ProjectOrSolution.cs
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
  csharp/extractor/Semmle.Util/ToolStatusPage.cs
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/test.csproj
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/test.py
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/test.py
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/test.sln
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/test.csproj
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/test.py
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/build.sh
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/test.py
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/build.sh
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/scripts/build.sh
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/test.py
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/build.bat
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/test.py
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/build.bat
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/diagnostics.expected
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/scripts/build.bat
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/test.py
Labels: C#, C++

#12360 ActionController: Prevent bad join
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
Labels: no-change-note-required, Ruby

#12335 Swift: extract lazy declarations
  swift/extractor/SwiftBuiltinSymbols.h
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftExtractor.h
  swift/extractor/config/SwiftExtractorState.h
  swift/extractor/infra/SwiftBodyEmissionStrategy.cpp
  swift/extractor/infra/SwiftBodyEmissionStrategy.h
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/infra/TargetDomains.cpp
  swift/extractor/infra/TargetDomains.h
  swift/extractor/main.cpp
  swift/extractor/translators/DeclTranslator.h
Labels: Swift

#12387 C++: Properly deprecate `hasQualifiedName` by using the `deprecated` keyword
  cpp/ql/lib/semmle/code/cpp/Declaration.qll
Labels: C++, no-change-note-required

#12384 Java TSP: test changes re: formatting improvements
  java/ql/integration-tests/all-platforms/java/diagnostics/android-gradle-incompatibility/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/compilation-error/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/dependency-error/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/java-version-too-old/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/multiple-candidate-builds/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/no-build-system/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/no-gradle-test-classes/diagnostics.expected
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/diagnostics.expected
Labels: Java

#12307 Swift: Update swift/string-length-conflation to taint tracking
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Labels: no-change-note-required, Swift

#12368 Swift: Fill some gaps in arithmetic / bitwise operations modelling
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPrivate.qll
  swift/ql/lib/codeql/swift/elements/expr/ArithmeticOperation.qll
  swift/ql/lib/codeql/swift/elements/expr/BitwiseOperation.qll
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/simple.swift
  swift/ql/test/library-tests/elements/expr/arithmeticoperation/arithmeticoperation.expected
  swift/ql/test/library-tests/elements/expr/arithmeticoperation/arithmeticoperation.swift
  swift/ql/test/library-tests/elements/expr/bitwiseopration/bitwiseoperation.expected
  swift/ql/test/library-tests/elements/expr/bitwiseopration/bitwiseoperation.ql
  swift/ql/test/library-tests/elements/expr/bitwiseopration/bitwiseoperation.swift
Labels: no-change-note-required, Swift

#12208 Add ZipSlip and TarSlip query to ruby
  ruby/ql/lib/codeql/ruby/experimental/ZipSlipCustomizations.qll
  ruby/ql/lib/codeql/ruby/experimental/ZipSlipQuery.qll
  ruby/ql/src/change-notes/2023-02-17-zip-slip-query.md
  ruby/ql/src/experimental/cwe-022-zipslip/ZipSlip.qhelp
  ruby/ql/src/experimental/cwe-022-zipslip/ZipSlip.ql
  ruby/ql/src/experimental/cwe-022-zipslip/examples/zip_slip_bad.rb
  ruby/ql/src/experimental/cwe-022-zipslip/examples/zip_slip_good.rb
  ruby/ql/test/query-tests/experimental/cwe-022-ZipSlip/ZipSlip.expected
  ruby/ql/test/query-tests/experimental/cwe-022-ZipSlip/ZipSlip.qlref
  ruby/ql/test/query-tests/experimental/cwe-022-ZipSlip/zip_slip.rb
Labels: documentation, Ruby

#12391 Swift: Permit data flow out through pointer arguments
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/PointerTypes.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/data.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/nsstring.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/unsafepointer.swift
  swift/ql/test/library-tests/elements/type/pointertypes/pointers.swift
  swift/ql/test/library-tests/elements/type/pointertypes/pointertypes.expected
  swift/ql/test/library-tests/elements/type/pointertypes/pointertypes.ql
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  swift/ql/test/query-tests/Security/CWE-089/sqlite3_c_api.swift
Labels: no-change-note-required, Swift

#12407 C++: Fix `cpp/potential-system-data-exposure`
  cpp/ql/src/Security/CWE/CWE-497/PotentiallyExposedSystemData.ql
  cpp/ql/src/Security/CWE/CWE-497/SystemData.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
Labels: C++, no-change-note-required

#12236 Dataflow: Add a language specific term to `join` and `branch`
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12419 Ruby: Rewrite Stored XSS query to use new data flow interface
  ruby/ql/lib/codeql/ruby/security/StoredXSSQuery.qll
  ruby/ql/lib/codeql/ruby/security/XSS.qll
  ruby/ql/src/queries/security/cwe-079/StoredXSS.ql
Labels: no-change-note-required, Ruby

#12389 C++: Add `deprecated` to predicates that are deprecated according to the QLDoc
  cpp/ql/lib/semmle/code/cpp/Declaration.qll
  cpp/ql/lib/semmle/code/cpp/Function.qll
  cpp/ql/lib/semmle/code/cpp/commons/Alloc.qll
  cpp/ql/src/experimental/Security/CWE/CWE-415/DoubleFree.ql
  cpp/ql/test/library-tests/CPP-205/elements.expected
  cpp/ql/test/library-tests/CPP-205/elements.ql
  cpp/ql/test/library-tests/allocators/allocators.expected
  cpp/ql/test/library-tests/allocators/allocators.ql
  cpp/ql/test/library-tests/noexcept/copy_from_prototype/copy_from_prototype.expected
  cpp/ql/test/library-tests/noexcept/copy_from_prototype/copy_from_prototype.ql
Labels: C++, no-change-note-required

#12264 C#: Stub generator improvements.
  csharp/ql/src/Stubs/Stubs.qll
  csharp/ql/src/Stubs/make_stubs_nuget.py
  csharp/ql/test/query-tests/Stubs/All/AllStubs.expected
  csharp/ql/test/query-tests/Stubs/All/Test.cs
  csharp/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
Labels: C#, no-change-note-required

#12385 C#: Add support for the tool status page
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  cpp/autobuilder/Semmle.Autobuild.Cpp/CppAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/AutoBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpDiagnosticClassifier.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/AutobuildOptions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildCommandAutoRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildScript.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/DiagnosticClassifier.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/EnvVars.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MarkdownUtil.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/ProjectOrSolution.cs
  csharp/extractor/Semmle.Util/Language.cs
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
  csharp/extractor/Semmle.Util/ToolStatusPage.cs
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/test.csproj
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/test.py
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/test.py
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/test.sln
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/test.csproj
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/test.py
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/build.sh
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/test.py
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/build.sh
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/scripts/build.sh
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/test.py
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/build.bat
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/test.py
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/build.bat
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/diagnostics.expected
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/scripts/build.bat
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/test.py
Labels: C#, C++

#12372 C#: Add diagnostic checks to all remaining integration tests
  csharp/ql/integration-tests/all-platforms/dotnet_build/test.py
  csharp/ql/integration-tests/all-platforms/dotnet_pack/test.py
  csharp/ql/integration-tests/all-platforms/dotnet_publish/test.py
  csharp/ql/integration-tests/all-platforms/dotnet_run/test.py
  csharp/ql/integration-tests/all-platforms/msbuild/test.py
  csharp/ql/integration-tests/posix-only/dotnet_test/test.py
  csharp/ql/integration-tests/posix-only/inherit-env-vars/test.py
Labels: C#

#12371 C#: Make diagnostics visible everywhere
  csharp/extractor/Semmle.Util/ToolStatusPage.cs
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/diagnostics.expected
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/diagnostics.expected
Labels: C#

#12422 C++: add false positives to `MissingCheckScanf` test
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Labels: C++

#12388 Swift: introduce type mangling
  swift/extractor/mangler/SwiftMangler.cpp
  swift/extractor/mangler/SwiftMangler.h
  swift/extractor/translators/TypeTranslator.cpp
  swift/extractor/translators/TypeTranslator.h
Labels: Swift

#12392 Swift: mangle builtin types
  swift/extractor/mangler/SwiftMangler.cpp
  swift/extractor/mangler/SwiftMangler.h
Labels: Swift

#12426 C++: fix example code for `FilePermissions.qll`
  cpp/ql/src/Security/CWE/CWE-732/DoNotCreateWorldWritable.c
Labels: C++

#12432 C++: Fix `asUninitialized`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++, no-change-note-required

#12425 Python: Add test of keyword argument with same name as positional-only parameter
  python/ql/test/experimental/dataflow/coverage/argumentPassing.py
Labels: Python

#12429 C++: Implement `getAdditionalFlowIntoCallNodeTerm`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++, no-change-note-required

#12435 C++: Convert a number of data flow based queries to use `ConfigSig`
  cpp/ql/src/Critical/OverflowDestination.ql
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound.ql
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound.qll
  cpp/ql/src/Security/CWE/CWE-020/ExternalAPIs.qll
  cpp/ql/src/Security/CWE/CWE-020/ExternalAPIsSpecific.qll
  cpp/ql/src/Security/CWE/CWE-020/IRUntrustedDataToExternalAPI.ql
  cpp/ql/src/Security/CWE/CWE-020/UntrustedDataToExternalAPI.ql
  cpp/ql/src/Security/CWE/CWE-020/ir/ExternalAPIs.qll
  cpp/ql/src/Security/CWE/CWE-020/ir/ExternalAPIsSpecific.qll
  cpp/ql/src/Security/CWE/CWE-129/ImproperArrayIndexValidation.ql
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  cpp/ql/src/Security/CWE/CWE-295/SSLResultConflation.ql
  cpp/ql/src/Security/CWE/CWE-311/CleartextBufferWrite.ql
  cpp/ql/src/Security/CWE/CWE-311/CleartextFileWrite.ql
  cpp/ql/src/Security/CWE/CWE-311/CleartextTransmission.ql
  cpp/ql/src/Security/CWE/CWE-313/CleartextSqliteDatabase.ql
  cpp/ql/src/Security/CWE/CWE-319/UseOfHttp.ql
  cpp/ql/src/Security/CWE/CWE-326/InsufficientKeySize.ql
  cpp/ql/src/Security/CWE/CWE-497/ExposedSystemData.ql
  cpp/ql/src/change-notes/2023-03-08-deprecated-dataflow-configurations.md
  cpp/ql/src/experimental/Security/CWE/CWE-078/WordexpTainted.ql
  cpp/ql/src/experimental/Security/CWE/CWE-190/AllocMultiplicationOverflow.ql
Labels: C++, documentation

#12434 Ruby: add some links to diagnostic messages
  ruby/extractor/src/diagnostics.rs
  ruby/extractor/src/extractor.rs
  ruby/extractor/src/main.rs
  ruby/ql/test/query-tests/diagnostics/ExtractionErrors.expected
Labels: Ruby

#12383 C#: Append process id to diagnostics filename
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
Labels: C#

#12441 Go: fix incorrect-integer-conversion sanitizer
  go/ql/lib/semmle/go/security/IncorrectIntegerConversionLib.qll
  go/ql/src/Security/CWE-681/IncorrectIntegerConversionQuery.ql
  go/ql/test/query-tests/Security/CWE-681/IncorrectIntegerConversion.ql
Labels: no-change-note-required, Go

#12341 Go: tools status page support
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/diagnostics/diagnostics.go
  go/extractor/extractor.go
  go/extractor/util/util.go
  go/ql/integration-tests/all-platforms/go/diagnostics/build-constraints-exclude-all-go-files/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/build-constraints-exclude-all-go-files/test.py
  go/ql/integration-tests/all-platforms/go/diagnostics/build-constraints-exclude-all-go-files/work/go.mod
  go/ql/integration-tests/all-platforms/go/diagnostics/build-constraints-exclude-all-go-files/work/go.sum
  go/ql/integration-tests/all-platforms/go/diagnostics/build-constraints-exclude-all-go-files/work/test.go
  go/ql/integration-tests/all-platforms/go/diagnostics/go-files-found-not-processed/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/go-files-found-not-processed/test.py
  go/ql/integration-tests/all-platforms/go/diagnostics/go-files-found-not-processed/work/go.mod
  go/ql/integration-tests/all-platforms/go/diagnostics/go-files-found-not-processed/work/go.sum
  go/ql/integration-tests/all-platforms/go/diagnostics/go-files-found-not-processed/work/subdir/go.mod
  go/ql/integration-tests/all-platforms/go/diagnostics/go-files-found-not-processed/work/subdir/go.sum
  go/ql/integration-tests/all-platforms/go/diagnostics/go-files-found-not-processed/work/subdir/test.go
  go/ql/integration-tests/all-platforms/go/diagnostics/newer-go-version-needed/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/newer-go-version-needed/test.py
  go/ql/integration-tests/all-platforms/go/diagnostics/newer-go-version-needed/work/go.mod
  go/ql/integration-tests/all-platforms/go/diagnostics/newer-go-version-needed/work/go.sum
  go/ql/integration-tests/all-platforms/go/diagnostics/newer-go-version-needed/work/test.go
  go/ql/integration-tests/all-platforms/go/diagnostics/no-go-files-found/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/no-go-files-found/test.py
  go/ql/integration-tests/all-platforms/go/diagnostics/no-go-files-found/work/test.txt
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-with-go-mod/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-with-go-mod/test.py
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-with-go-mod/work/go.mod
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-with-go-mod/work/go.sum
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-with-go-mod/work/test.go
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-without-go-mod/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-without-go-mod/test.py
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-without-go-mod/work/test.go
Labels: Go

#12452 C++: Inline `thisCouldAccessMember`
  cpp/ql/lib/semmle/code/cpp/Declaration.qll
Labels: C++, no-change-note-required

#12113 JS: Implement diagnostics
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/HTMLExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/IExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/JSExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/JSONExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/LexicalExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/LoCInfo.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/ParseResultInfo.java
  javascript/extractor/src/com/semmle/js/extractor/ScriptExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/TypeScriptExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/YAMLExtractor.java
  javascript/extractor/src/com/semmle/js/parser/JSONParser.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeScriptParser.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeScriptWrapperOOMError.java
  javascript/ql/integration-tests/all-platforms/diagnostics/syntax-error/bad.js
  javascript/ql/integration-tests/all-platforms/diagnostics/syntax-error/diagnostics.expected
  javascript/ql/integration-tests/all-platforms/diagnostics/syntax-error/test.py
  javascript/ql/integration-tests/all-platforms/qlpack.yml
Labels: JS

#12306 Ruby: ensure that all Ast `Expr`s have a dataflow node type more precise than `ExprNode`
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
Labels: no-change-note-required, Ruby

#12466 The source name of a diagnostic should not change
  go/extractor/diagnostics/diagnostics.go
  go/ql/integration-tests/all-platforms/go/diagnostics/build-constraints-exclude-all-go-files/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-with-go-mod/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-without-go-mod/diagnostics.expected
Labels: Go

#12465 C++: Use `getAUse` in `getIRRepresentationOfIndirectOperand`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
Labels: C++, no-change-note-required

#12461 python: add test documenting effect of scopes
  python/ql/test/library-tests/ApiGraphs/py3/test_captured.py
Labels: Python

#12469 C++: Restrict sinks in `cpp/cleartext-storage-database`
  cpp/ql/src/Security/CWE/CWE-313/CleartextSqliteDatabase.ql
Labels: C++, depends on internal PR, no-change-note-required

#12470 JS: Bump version numbers of ML-powered packs after 0.4.9 release
  javascript/ql/experimental/adaptivethreatmodeling/lib/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Labels: ATM

#12442 Ruby: add some integration tests for diagnostic messages
  ruby/extractor/src/diagnostics.rs
  ruby/extractor/src/extractor.rs
  ruby/ql/integration-tests/all-platforms/diagnostics/syntax-error/bad.rb
  ruby/ql/integration-tests/all-platforms/diagnostics/syntax-error/diagnostics.expected
  ruby/ql/integration-tests/all-platforms/diagnostics/syntax-error/test.py
  ruby/ql/integration-tests/all-platforms/diagnostics/unknown-encoding/diagnostics.expected
  ruby/ql/integration-tests/all-platforms/diagnostics/unknown-encoding/encoding.rb
  ruby/ql/integration-tests/all-platforms/diagnostics/unknown-encoding/test.py
  ruby/ql/integration-tests/all-platforms/qlpack.yml
  ruby/ql/lib/change-notes/2023-03-09-parse-error.md
  ruby/ql/lib/codeql/ruby/Diagnostics.qll
Labels: documentation, Ruby

#12427 Java: Refactor some dataflow queries to the new API
  java/ql/lib/semmle/code/java/security/RequestForgeryConfig.qll
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
  java/ql/lib/semmle/code/java/security/XSS.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  java/ql/src/Security/CWE/CWE-079/XSS.ql
  java/ql/src/Security/CWE/CWE-113/ResponseSplitting.ql
  java/ql/src/Security/CWE/CWE-113/ResponseSplittingLocal.ql
  java/ql/src/Security/CWE/CWE-209/StackTraceExposure.ql
  java/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.ql
  java/ql/src/Security/CWE/CWE-327/MaybeBrokenCryptoAlgorithm.ql
  java/ql/src/Security/CWE/CWE-532/SensitiveInfoLog.ql
  java/ql/src/Security/CWE/CWE-681/NumericCastTainted.ql
  java/ql/src/Security/CWE/CWE-681/NumericCastTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-918/RequestForgery.ql
  java/ql/test/query-tests/security/CWE-532/SensitiveLogInfo.ql
  java/ql/test/query-tests/security/CWE-918/RequestForgery.ql
Labels: Java, no-change-note-required

#12479 C++: Introduce wrapper for the semantic range analysis mimicking the simple one
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/SimpleRangeAnalysis.qll
Labels: C++, no-change-note-required

#12478 JS: fix NPE
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Labels: JS

#12415 Swift: add constructor flow
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/FlowConfig.qll
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Labels: Swift

#12485 Swift: Add generated QLDoc to the Raw.qll file.
  misc/codegen/templates/ql_db.mustache
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/generated/Raw.qll
Labels: no-change-note-required, Swift

#12484 Swift: Update swift/summary/summary-statistics to DataFlow::ConfigSig
  swift/ql/src/queries/Summary/SummaryStats.ql
Labels: no-change-note-required, Swift

#12498 C++: Update `.expected` after frontend changes
  cpp/ql/test/library-tests/declarationEntry/more/declarationEntry.expected
  cpp/ql/test/library-tests/templates/isfromtemplateinstantiation/isfromtemplateinstantiation.expected
  cpp/ql/test/library-tests/templates/isfromtemplateinstantiation/isfromuninstantiatedtemplate.expected
Labels: C++, depends on internal PR

#12475 Dataflow: Add MergePathGraph module.
  cpp/ql/lib/change-notes/2023-03-13-mergepathgraph.md
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlow.qll
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlow.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlow.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/change-notes/2023-03-13-mergepathgraph.md
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/change-notes/2023-03-13-mergepathgraph.md
  go/ql/lib/semmle/go/dataflow/internal/DataFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/change-notes/2023-03-13-mergepathgraph.md
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  python/ql/lib/change-notes/2023-03-13-mergepathgraph.md
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlow.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  ruby/ql/lib/change-notes/2023-03-13-mergepathgraph.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlow.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, documentation, Java, Python, Go, Ruby, Swift, DataFlow Library

#12424 JS: Add html sanitizers as a taint step in a few queries
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/RequestForgeryCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ServerSideUrlRedirectQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/SqlInjectionQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/src/change-notes/2023-03-07-html-sanitizer-for-sql.md
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/html-sanitizer.js
Labels: JS, documentation

#12489 Swift: Skeleton + tests for type alias support
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/elements/type/Type.qll
  swift/ql/lib/codeql/swift/elements/type/TypeAliasType.qll
  swift/ql/test/extractor-tests/declarations/all.expected
  swift/ql/test/extractor-tests/declarations/all.ql
  swift/ql/test/extractor-tests/declarations/declarations.swift
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/ast/declarations.swift
  swift/ql/test/library-tests/elements/type/nominaltype/nominaltype.expected
  swift/ql/test/library-tests/elements/type/nominaltype/nominaltype.ql
  swift/ql/test/library-tests/elements/type/nominaltype/nominaltype.swift
  swift/ql/test/library-tests/elements/type/nominaltype/nominaltypedecl.expected
  swift/ql/test/library-tests/elements/type/nominaltype/nominaltypedecl.ql
Labels: no-change-note-required, Swift

#12486 Ruby: support long paths on Windows
  ruby/extractor/src/extractor.rs
  ruby/extractor/src/file_paths.rs
  ruby/extractor/src/main.rs
Labels: Ruby

#12474 Data flow: Synthesize post-update nodes for callback arguments inside summarized callables
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
Labels: C#, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12431 Kotlin: Test double interceptions
  java/ql/integration-tests/posix-only/kotlin/kotlin_double_interception/code/build.py
  java/ql/integration-tests/posix-only/kotlin/kotlin_double_interception/code/doubleIntercepted.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin_double_interception/code/manual.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin_double_interception/code/manuallyIntercepted.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin_double_interception/code/normal.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin_double_interception/code/notSeen.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin_double_interception/files.expected
  java/ql/integration-tests/posix-only/kotlin/kotlin_double_interception/files.ql
  java/ql/integration-tests/posix-only/kotlin/kotlin_double_interception/test.py
Labels: Java

#12507 C++: Map some indirect nodes to expressions in `localExprFlowStep`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++, no-change-note-required

#12503 Java: Add a qltest demonstrating side-effect on a callback instance.
  java/ql/test/library-tests/dataflow/callback-dispatch/A.java
Labels: Java, no-change-note-required

#12047 Py: add unsafe-shell-command-construction
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Fabric.qll
  python/ql/lib/semmle/python/frameworks/Invoke.qll
  python/ql/lib/semmle/python/frameworks/Setuptools.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/UnsafeShellCommandConstructionQuery.qll
  python/ql/src/Security/CWE-078/UnsafeShellCommandConstruction.qhelp
  python/ql/src/Security/CWE-078/UnsafeShellCommandConstruction.ql
  python/ql/src/Security/CWE-078/examples/unsafe-shell-command-construction.py
  python/ql/src/Security/CWE-078/examples/unsafe-shell-command-construction_fixed.py
  python/ql/src/change-notes/2023-02-03-unsafe-shell-command-construction.md
  python/ql/test/library-tests/frameworks/stdlib/SystemCommandExecution.py
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/DataflowQueryTest.expected
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/DataflowQueryTest.ql
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.qlref
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/options
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/setup.py
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/setup_posix.py
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/src/__init__.py
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/src/unsafe_shell_test.py
Labels: documentation, Python

#12499 Ruby: Add missing flow through `self.new` constructor calls
  ruby/ql/lib/change-notes/2023-03-13-initalize-flow.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call_sensitivity.rb
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/global/TypeTrackingInlineTest.expected
  ruby/ql/test/library-tests/dataflow/global/instance_variables.rb
Labels: documentation, Ruby

#11915 Java: Arbitrary APK installation
  java/ql/lib/semmle/code/java/security/ArbitraryApkInstallation.qll
  java/ql/lib/semmle/code/java/security/ArbitraryApkInstallationQuery.qll
  java/ql/src/Security/CWE/CWE-094/ArbitraryApkInstallation.qhelp
  java/ql/src/Security/CWE/CWE-094/ArbitraryApkInstallation.ql
  java/ql/src/Security/CWE/CWE-094/InstallApkWithFile.java
  java/ql/src/Security/CWE/CWE-094/InstallApkWithFileProvider.java
  java/ql/src/Security/CWE/CWE-094/InstallApkWithPackageInstaller.java
  java/ql/src/change-notes/2023-01-19-arbitrary-apk-installation.md
  java/ql/test/query-tests/security/CWE-094/ApkInstallation.java
  java/ql/test/query-tests/security/CWE-094/ApkInstallationTest.expected
  java/ql/test/query-tests/security/CWE-094/ApkInstallationTest.ql
  java/ql/test/query-tests/security/CWE-094/options
Labels: documentation, Java, ready-for-doc-review

#12508 Swift: add an initial draft for a deduplication test
  swift/extractor/mangler/SwiftMangler.h
  swift/integration-tests/posix-only/deduplication/BuiltinTypes.expected
  swift/integration-tests/posix-only/deduplication/BuiltinTypes.ql
  swift/integration-tests/posix-only/deduplication/Decls.expected
  swift/integration-tests/posix-only/deduplication/Decls.ql
  swift/integration-tests/posix-only/deduplication/Package.swift
  swift/integration-tests/posix-only/deduplication/Relevant.qll
  swift/integration-tests/posix-only/deduplication/Sources/deduplication/def.swift
  swift/integration-tests/posix-only/deduplication/Sources/deduplication/use.swift
  swift/integration-tests/posix-only/deduplication/Types.expected
  swift/integration-tests/posix-only/deduplication/Types.ql
  swift/integration-tests/posix-only/deduplication/test.py
Labels: Swift

#12423 JS: Track trusted types policy callbacks
  javascript/ql/lib/semmle/javascript/frameworks/TrustedTypes.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/trusted-types-lib.js
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/trusted-types.js
Labels: JS, no-change-note-required

#12445 JS: Handle forwardRef in React
  javascript/ql/lib/semmle/javascript/frameworks/React.qll
  javascript/ql/test/library-tests/frameworks/ReactJS/higherOrderComponent.jsx
Labels: JS, Awaiting evaluation, no-change-note-required

#12501 Java: Fix printAST to handle javadoc belonging to multiple elements
  java/ql/lib/semmle/code/java/PrintAst.qll
  java/ql/test/library-tests/printAst/A.java
  java/ql/test/library-tests/printAst/PrintAst.expected
Labels: Java, no-change-note-required

#12513 Data flow: Exclude `expectsContent` nodes from lambda flow
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12515 Java: Remove low-confidence dispatch to known neutrals.
  java/ql/lib/change-notes/2023-03-14-neutral-dispatch.md
  java/ql/lib/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/lib/semmle/code/java/dispatch/VirtualDispatch.qll
Labels: documentation, Java

#12520 Swift: Fix result type of NominalType.getABaseType.
  swift/ql/lib/codeql/swift/elements/type/NominalType.qll
  swift/ql/test/library-tests/elements/type/nominaltype/nominaltype.expected
Labels: no-change-note-required, Swift

#12527 Java: Delete `DataFlowForSerializability` and `DataFlowForOnActivityResult`
  config/identical-files.json
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowForSerializability.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  java/ql/lib/semmle/code/java/frameworks/android/OnActivityResultSource.qll
  java/ql/lib/semmle/code/java/frameworks/google/GoogleHttpClientApi.qll
  java/ql/lib/semmle/code/java/frameworks/jackson/JacksonSerializability.qll
Labels: Java, no-change-note-required

#12534 Swift: Fix `SummaryCall::getEnclosingCallable`
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
Labels: no-change-note-required, Swift

#12530 Java: Refactor more dataflow queries to the new API (take 3)
  java/ql/lib/semmle/code/java/security/AndroidSensitiveCommunicationQuery.qll
  java/ql/lib/semmle/code/java/security/FragmentInjectionQuery.qll
  java/ql/lib/semmle/code/java/security/IntentUriPermissionManipulationQuery.qll
  java/ql/lib/semmle/code/java/security/LogInjectionQuery.qll
  java/ql/lib/semmle/code/java/security/RsaWithoutOaepQuery.qll
  java/ql/lib/semmle/code/java/security/UnsafeContentUriResolutionQuery.qll
  java/ql/src/Security/CWE/CWE-117/LogInjection.ql
  java/ql/src/Security/CWE/CWE-266/IntentUriPermissionManipulation.ql
  java/ql/src/Security/CWE/CWE-441/UnsafeContentUriResolution.ql
  java/ql/src/Security/CWE/CWE-470/FragmentInjection.ql
  java/ql/src/Security/CWE/CWE-780/RsaWithoutOaep.ql
  java/ql/src/Security/CWE/CWE-927/SensitiveCommunication.ql
  java/ql/test/query-tests/security/CWE-117/LogInjectionTest.ql
  java/ql/test/query-tests/security/CWE-266/IntentUriPermissionManipulationTest.ql
  java/ql/test/query-tests/security/CWE-441/UnsafeContentUriResolutionTest.ql
  java/ql/test/query-tests/security/CWE-470/FragmentInjectionTest.ql
  java/ql/test/query-tests/security/CWE-780/RsaWithoutOaepTest.ql
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication.ql
Labels: Java, no-change-note-required

#12532 C++: Use local flow instead of GVN in `getAdditionalFlowIntoCallNodeTerm`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Labels: C++, no-change-note-required

#12523 Polish diagnostic messages
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpDiagnosticClassifier.cs
  csharp/extractor/Semmle.Util/ToolStatusPage.cs
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/diagnostics.expected
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/android-gradle-incompatibility/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/compilation-error/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/dependency-error/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/java-version-too-old/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/multiple-candidate-builds/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/no-build-system/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/no-gradle-test-classes/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/no-gradle-wrapper/diagnostics.expected
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/ql/integration-tests/all-platforms/diagnostics/syntax-error/diagnostics.expected
  ruby/extractor/src/bin/extractor.rs
  ruby/extractor/src/diagnostics.rs
  ruby/extractor/src/extractor.rs
  ruby/ql/integration-tests/all-platforms/diagnostics/syntax-error/diagnostics.expected
  ruby/ql/integration-tests/all-platforms/diagnostics/unknown-encoding/diagnostics.expected
Labels: C#, JS, depends on internal PR, Java, Ruby

#12467 Python/Ruby: Use new parameter position for synthetic hash-splat instead
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/TestUtil/DataFlowConsistency.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Labels: Python, no-change-note-required, Ruby

#12200 C#: Support for virtual dispatch for operators.
  csharp/ql/lib/semmle/code/csharp/dispatch/Dispatch.qll
  csharp/ql/test/library-tests/dispatch/CallContext.expected
  csharp/ql/test/library-tests/dispatch/CallGraph.expected
  csharp/ql/test/library-tests/dispatch/GetADynamicTarget.expected
  csharp/ql/test/library-tests/dispatch/ViableCallable.cs
  csharp/ql/test/library-tests/dispatch/viableCallable.expected
Labels: C#, no-change-note-required

#12559 C++: Add `range` call to test
  cpp/ql/test/library-tests/ir/range-analysis/SimpleRangeAnalysis_tests.cpp
Labels: C++

#12554 Ruby: Rely on built-in hash-flow in clear text storage query
  ruby/ql/lib/change-notes/2023-03-16-cleartext-hash-flow.md
  ruby/ql/lib/codeql/ruby/security/CleartextLoggingCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/CleartextStorageCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/internal/CleartextSources.qll
  ruby/ql/test/query-tests/security/cwe-312/CleartextLogging.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextStorage.expected
  ruby/ql/test/query-tests/security/cwe-312/logging.rb
Labels: documentation, Ruby

#12564 Ruby: Remove some redundant `super` type qualifiers
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/test/library-tests/frameworks/sinatra/Sinatra.expected
Labels: no-change-note-required, Ruby

#12538 DataFlow: Workaround empty predicate usage in IPA branch.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12521 Java: PrintAst: Improve the ranking of callables
  java/ql/lib/semmle/code/java/PrintAst.qll
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/PrintAst.expected
Labels: Java, no-change-note-required, Kotlin

#12558 Go: exclude `net/http.Header.Set` and `.Del` from `go/untrusted-data-to-external-api`
  go/ql/lib/semmle/go/security/ExternalAPIs.qll
  go/ql/src/change-notes/2023-03-16-untrusted-data-write-only-args.md
Labels: documentation, Go

#12011 JS: Add support for TypeScript 5.0
  docs/codeql/reusables/supported-versions-compilers.rst
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/type_table.ts
  javascript/extractor/lib/typescript/yarn.lock
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeScriptASTConverter.java
  javascript/ql/lib/change-notes/2023-01-27-typescript-5-0.md
  javascript/ql/test/library-tests/TypeScript/Types/printAst.expected
  javascript/ql/test/library-tests/TypeScript/Types/tests.expected
  javascript/ql/test/library-tests/TypeScript/Types/tst.ts
Labels: JS, documentation

#12555 JS: Include weak block modes as sink in weak crypto algorithm
  javascript/ql/lib/semmle/javascript/security/dataflow/BrokenCryptoAlgorithmCustomizations.qll
  javascript/ql/src/change-notes/2023-03-16-block-modes.md
  javascript/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.expected
  javascript/ql/test/query-tests/Security/CWE-327/tst.js
Labels: JS, documentation

#12567 Swift: add a query showing successfully extracted files
  swift/ql/src/diagnostics/SuccessfullyExtractedFiles.ql
  swift/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.expected
  swift/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.qlref
  swift/ql/test/query-tests/Diagnostics/error.swift
  swift/ql/test/query-tests/Diagnostics/main.swift
Labels: Swift

#11928 C++: Split new range analysis into constant and relative stages
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticBound.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticLocation.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/IntDelta.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysis.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysisStage.qll
  cpp/ql/test/library-tests/ir/modulus-analysis/ModulusAnalysis.ql
Labels: C++

#11478 Rb: more taint-steps for shell-command-construction
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeCodeConstructionQuery.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeShellCommandConstructionQuery.qll
  ruby/ql/test/library-tests/frameworks/pathname/Pathname.expected
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/impl/unsafeShell.rb
  ruby/ql/test/query-tests/security/cwe-094/UnsafeCodeConstruction/UnsafeCodeConstruction.expected
  ruby/ql/test/query-tests/security/cwe-094/UnsafeCodeConstruction/impl/unsafeCode.rb
Labels: no-change-note-required, Ruby

#12518 JS: recognize more express URL related sources
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/ServerSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/express.js
Labels: JS, no-change-note-required

#12575 QL: add a check to enforce naming convention for new `DataFlow::ConfigSig` modules
  ql/ql/src/queries/style/DataFlowConfigModuleNaming.ql
  ql/ql/test/queries/style/DataFlowConfigModuleNaming/DataFlowConfigModuleNaming.expected
  ql/ql/test/queries/style/DataFlowConfigModuleNaming/DataFlowConfigModuleNaming.qlref
  ql/ql/test/queries/style/DataFlowConfigModuleNaming/Test.qll
Labels: QL-for-QL

#12574 Document upgrade query predicates
  docs/prepare-db-upgrade.md
Labels: documentation

#12464 python: add test for captured variables in lists
  python/ql/test/experimental/dataflow/variable-capture/collections.py
Labels: Python

#12590 Python: Patch uninitialized local query
  python/ql/src/Variables/UninitializedLocal.ql
  python/ql/src/change-notes/2023-03-20-uninitialized-local.md
  python/ql/test/query-tests/Variables/undefined/captured.py
Labels: documentation, Python

#12588 C++: Refactor `BoostorgAsio` to use `DataFlow::ConfigSig`
  cpp/ql/lib/change-notes/2023-03-20-boost-deprecated-dataflow-configurations.md
  cpp/ql/lib/semmle/code/cpp/security/boostorg/asio/protocols.qll
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfiguration.ql
  cpp/ql/src/Likely Bugs/Protocols/UseOfDeprecatedHardcodedProtocol.ql
Labels: C++, documentation

#12550 Java/Python: use Number.qll to parse hex numbers in regex parsing
  java/ql/lib/semmle/code/java/regex/RegexTreeView.qll
  python/ql/lib/qlpack.yml
  python/ql/lib/semmle/python/RegexTreeView.qll
  python/ql/src/qlpack.yml
Labels: Java, Python, no-change-note-required

#12311 Ruby: Add Server Side Template Injection query
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/Erb.qll
  ruby/ql/lib/codeql/ruby/frameworks/Slim.qll
  ruby/ql/lib/codeql/ruby/security/TemplateInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/TemplateInjectionQuery.qll
  ruby/ql/src/change-notes/2023-03-15-ssti-query.md
  ruby/ql/src/experimental/template-injection/TemplateInjection.qhelp
  ruby/ql/src/experimental/template-injection/TemplateInjection.ql
  ruby/ql/src/experimental/template-injection/examples/SSTIBad.rb
  ruby/ql/src/experimental/template-injection/examples/SSTIGood.rb
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/query-tests/experimental/TemplateInjection/ErbInjection.rb
  ruby/ql/test/query-tests/experimental/TemplateInjection/SlimInjection.rb
  ruby/ql/test/query-tests/experimental/TemplateInjection/TemplateInjection.expected
  ruby/ql/test/query-tests/experimental/TemplateInjection/TemplateInjection.qlref
Labels: documentation, Ruby

#12420 Dataflow: Remove revFlowAlias and revFlowApAlias predicates
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12541 Java: Refactor more queries to the new DataFlow module API
  java/ql/lib/semmle/code/java/security/XxeLocalQuery.qll
  java/ql/lib/semmle/code/java/security/XxeRemoteQuery.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPathLocal.ql
  java/ql/src/Security/CWE/CWE-022/ZipSlip.ql
  java/ql/src/Security/CWE/CWE-090/LdapInjection.ql
  java/ql/src/Security/CWE/CWE-090/LdapInjectionLib.qll
  java/ql/src/Security/CWE/CWE-094/InsecureBeanValidation.ql
  java/ql/src/Security/CWE/CWE-134/ExternallyControlledFormatString.ql
  java/ql/src/Security/CWE/CWE-134/ExternallyControlledFormatStringLocal.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticWithExtremeValues.ql
  java/ql/src/Security/CWE/CWE-200/AndroidWebViewSettingsAllowsContentAccess.ql
  java/ql/src/Security/CWE/CWE-297/UnsafeHostnameVerification.ql
  java/ql/src/Security/CWE/CWE-601/UrlRedirect.ql
  java/ql/src/Security/CWE/CWE-601/UrlRedirectLocal.ql
  java/ql/src/Security/CWE/CWE-611/XXE.ql
  java/ql/src/Security/CWE/CWE-611/XXELocal.ql
  java/ql/src/Security/CWE/CWE-643/XPathInjection.ql
  java/ql/src/Security/CWE/CWE-807/TaintedPermissionsCheck.ql
Labels: Java, no-change-note-required

#12596 Swift: remove labels from function type printing
  swift/ql/test/extractor-tests/generated/decl/ConcreteFuncDecl/ConcreteFuncDecl.expected
  swift/third_party/load.bzl
Labels: Swift

#12598 C++: Adjust the internals of default taint tracking to use `DataFlow::ConfigSig`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DefaultTaintTrackingImpl.qll
Labels: C++, no-change-note-required

#12366 Java: Update MaD Declarations after Triage
  java/ql/lib/change-notes/2023-03-20-dataflow-models.md
  java/ql/lib/ext/hudson.model.model.yml
  java/ql/lib/ext/io.netty.handler.codec.http.model.yml
  java/ql/lib/ext/java.net.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/ext/javax.imageio.stream.model.yml
  java/ql/lib/ext/javax.naming.model.yml
  java/ql/lib/ext/javax.servlet.model.yml
  java/ql/lib/ext/org.geogebra.web.full.main.model.yml
Labels: documentation, Java

#12609 Java: maven-http-repository test: add Maven wrapper
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/.gitattributes
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/.mvn/wrapper/maven-wrapper.jar
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/.mvn/wrapper/maven-wrapper.properties
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/mvnw
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/mvnw.cmd
Labels: Java

#12611 C++: Exclude unevaluated accesses in `BufferAccess`
  cpp/ql/lib/change-notes/2023-03-21-buffer-access.md
  cpp/ql/lib/semmle/code/cpp/security/BufferAccess.qll
  cpp/ql/src/Critical/OverflowStatic.ql
  cpp/ql/test/query-tests/Critical/OverflowStatic/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/tests.cpp
Labels: C++, documentation

#12607 Python: Accept dataflow-consistency test changes
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.expected
Labels: Python

#12614 Java: Backport https://github.com/github/codeql/pull/12609 to rc/3.9
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/.gitattributes
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/.mvn/wrapper/maven-wrapper.jar
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/.mvn/wrapper/maven-wrapper.properties
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/mvnw
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/mvnw.cmd
Labels: Java

#12542 Java: Refactor more queries to the new DataFlow module API (part 2)
  java/ql/src/Security/CWE/CWE-078/ExecTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-079/XSSLocal.ql
  java/ql/src/Security/CWE/CWE-089/SqlConcatenated.ql
  java/ql/src/Security/CWE/CWE-089/SqlTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-129/ImproperValidationOfArrayConstruction.ql
  java/ql/src/Security/CWE/CWE-129/ImproperValidationOfArrayConstructionCodeSpecified.ql
  java/ql/src/Security/CWE/CWE-129/ImproperValidationOfArrayConstructionLocal.ql
  java/ql/src/Security/CWE/CWE-129/ImproperValidationOfArrayIndex.ql
  java/ql/src/Security/CWE/CWE-129/ImproperValidationOfArrayIndexCodeSpecified.ql
  java/ql/src/Security/CWE/CWE-129/ImproperValidationOfArrayIndexLocal.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticWithExtremeValues.ql
  java/ql/src/Security/CWE/CWE-209/StackTraceExposure.ql
  java/ql/src/Security/CWE/CWE-614/InsecureCookie.ql
Labels: Java, no-change-note-required

#12617 Mergeback from rc/3.9 to main for small docs change
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp-new.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp.rst
  docs/codeql/codeql-language-guides/codeql-for-cpp.rst
Labels: documentation, Mergeback

#12621 Swift: Cleanup: Remove some unused #includes.
  swift/extractor/main.cpp
Labels: Swift

#12531 Java: Autoformat.
  java/ql/src/Security/CWE/CWE-190/ArithmeticTainted.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticWithExtremeValues.ql
  java/ql/src/Security/CWE/CWE-200/TempDirLocalInformationDisclosure.ql
Labels: Java, no-change-note-required

#12623 Swift: Fix formatting of TypeDecl.qll
  swift/ql/lib/codeql/swift/elements/decl/TypeDecl.qll
Labels: Swift

#12533 Java/dataflow: Misc performance fixes
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplCommon.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
  java/ql/lib/semmle/code/java/dataflow/SSA.qll
  java/ql/lib/semmle/code/java/dataflow/internal/BaseSSA.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/frameworks/JaxWS.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12594 python: add test to validation (and fix it)
  python/ql/test/experimental/dataflow/validTest.py
  python/ql/test/experimental/dataflow/variable-capture/collections.py
Labels: Python

#12630 QL: disable the consistency check
  ql/ql/src/queries/diagnostics/EmptyConsistencies.ql
Labels: QL-for-QL

#12629 QL: regen TreeSitter.qll
  ql/ql/src/codeql_ql/StructuredLogs.qll
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
Labels: QL-for-QL

#12616 Java/C#: Remove useless disjuncts.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/SignAnalysisCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/SignAnalysisCommon.qll
Labels: C#, Java, no-change-note-required

#12529 Ruby: Bump rust toolchain to 1.68
  .github/workflows/ruby-build.yml
  ruby/doc/HOWTO.md
  ruby/extractor/rust-toolchain.toml
  ruby/extractor/src/bin/extractor.rs
Labels: documentation, no-change-note-required, Ruby

#12631 JS: add a missing space in alert message for `js/weak-cryptographic-algorithm`
  javascript/ql/src/Security/CWE-327/BrokenCryptoAlgorithm.ql
  javascript/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.expected
Labels: JS, no-change-note-required

#12635 C++: `bool` -> `int` are safe conversions
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticType.qll
Labels: C++, no-change-note-required

#12637 CI: Add yml files to change note check
  .github/workflows/check-change-note.yml
Labels: no-change-note-required

#12638 Swift: Accept test regressions
  swift/ql/src/queries/Security/CWE-259/ConstantPassword.ql
  swift/ql/src/queries/Security/CWE-760/ConstantSalt.ql
  swift/ql/src/queries/Security/CWE-916/InsufficientHashIterations.ql
  swift/ql/test/query-tests/Security/CWE-916/InsufficientHashIterations.expected
Labels: no-change-note-required, Swift

#12110 Java: add sql summary model discovered with heuristics
  java/ql/lib/change-notes/2023-03-20-nativesql-summary.md
  java/ql/lib/ext/java.sql.model.yml
Labels: documentation, Java

#12634 Swift: add a query showing successfully extracted files
  java/ql/src/Security/CWE/CWE-190/ArithmeticTainted.ql
  java/ql/src/Security/CWE/CWE-200/TempDirLocalInformationDisclosure.ql
  swift/ql/src/diagnostics/SuccessfullyExtractedFiles.ql
  swift/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.expected
  swift/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.qlref
  swift/ql/test/query-tests/Diagnostics/error.swift
  swift/ql/test/query-tests/Diagnostics/main.swift
Labels: Java, no-change-note-required, Swift

#12539 Java/C#: Re-factor model generator taint tracking configurations to use the new API
  csharp/ql/src/utils/modelgenerator/CaptureDiscardedSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSinkModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSourceModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureSummaryFlowQuery.qll
  java/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  java/ql/src/utils/modelgenerator/CaptureSinkModels.ql
  java/ql/src/utils/modelgenerator/CaptureSourceModels.ql
  java/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/modelgenerator/internal/CaptureSummaryFlowQuery.qll
Labels: C#, Java, no-change-note-required

#12421 Dataflow: Instantiate stage 1 access paths with proper unit type
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12643 Java : Add JndiInjection Sanitizer Class
  java/ql/lib/change-notes/2023-03-23-jndi-sanitizer.md
  java/ql/lib/semmle/code/java/security/JndiInjection.qll
  java/ql/lib/semmle/code/java/security/JndiInjectionQuery.qll
Labels: documentation, Java

#12566 Ruby: Include all assignments in data flow paths
  ruby/ql/lib/codeql/ruby/dataflow/SSA.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.expected
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/InlineFlowTest.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/dataflow/params/params-flow.expected
  ruby/ql/test/library-tests/dataflow/pathname-flow/pathame-flow.expected
  ruby/ql/test/library-tests/dataflow/string-flow/string-flow.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
  ruby/ql/test/library-tests/frameworks/active_record/ActiveRecord.expected
  ruby/ql/test/library-tests/frameworks/active_resource/ActiveResource.expected
  ruby/ql/test/library-tests/frameworks/active_storage/ActiveStorage.expected
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupportDataFlow.expected
  ruby/ql/test/library-tests/frameworks/files/Files.expected
  ruby/ql/test/library-tests/frameworks/pathname/Pathname.expected
  ruby/ql/test/library-tests/variables/ssa.expected
  ruby/ql/test/query-tests/experimental/TemplateInjection/TemplateInjection.expected
  ruby/ql/test/query-tests/experimental/cwe-022-ZipSlip/ZipSlip.expected
  ruby/ql/test/query-tests/experimental/manually-check-http-verb/ManuallyCheckHttpVerb.expected
  ruby/ql/test/query-tests/security/cwe-022/PathInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/KernelOpen/KernelOpen.expected
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/StoredXSS.expected
  ruby/ql/test/query-tests/security/cwe-089/SqlInjection.expected
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection/CodeInjection.expected
  ruby/ql/test/query-tests/security/cwe-094/UnsafeCodeConstruction/UnsafeCodeConstruction.expected
  ruby/ql/test/query-tests/security/cwe-117/LogInjection.expected
  ruby/ql/test/query-tests/security/cwe-1333-polynomial-redos/PolynomialReDoS.expected
  ruby/ql/test/query-tests/security/cwe-1333-regexp-injection/RegExpInjection.expected
  ruby/ql/test/query-tests/security/cwe-209/StackTraceExposure.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextLogging.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextStorage.expected
  ruby/ql/test/query-tests/security/cwe-502/oj-global-options/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-506/HardcodedDataInterpretedAsCode.expected
  ruby/ql/test/query-tests/security/cwe-598/SensitiveGetQuery.expected
  ruby/ql/test/query-tests/security/cwe-611/libxml-backend/Xxe.expected
  ruby/ql/test/query-tests/security/cwe-611/xxe/Xxe.expected
  ruby/ql/test/query-tests/security/cwe-732/WeakFilePermissions.expected
  ruby/ql/test/query-tests/security/cwe-798/HardcodedCredentials.expected
  ruby/ql/test/query-tests/security/cwe-807-user-controlled-bypass/ConditionalBypass.expected
  ruby/ql/test/query-tests/security/cwe-829/InsecureDownload.expected
  ruby/ql/test/query-tests/security/cwe-912/HttpToFileAccess.expected
  ruby/ql/test/query-tests/security/cwe-918/ServerSideRequestForgery.expected
  ruby/ql/test/query-tests/security/decompression-api/DecompressionApi.expected
Labels: no-change-note-required, Ruby

#11968 Java: model remaining top-500 JDK APIs
  java/ql/lib/change-notes/2023-02-15-add-top-jdk-models.md
  java/ql/lib/ext/java.awt.model.yml
  java/ql/lib/ext/java.io.model.yml
  java/ql/lib/ext/java.lang.invoke.model.yml
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/java.lang.reflect.model.yml
  java/ql/lib/ext/java.math.model.yml
  java/ql/lib/ext/java.nio.charset.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/ext/java.nio.model.yml
  java/ql/lib/ext/java.sql.model.yml
  java/ql/lib/ext/java.text.model.yml
  java/ql/lib/ext/java.time.chrono.model.yml
  java/ql/lib/ext/java.time.format.model.yml
  java/ql/lib/ext/java.time.model.yml
  java/ql/lib/ext/java.util.concurrent.atomic.model.yml
  java/ql/lib/ext/java.util.concurrent.locks.model.yml
  java/ql/lib/ext/java.util.concurrent.model.yml
  java/ql/lib/ext/java.util.function.model.yml
  java/ql/lib/ext/java.util.logging.model.yml
  java/ql/lib/ext/java.util.model.yml
  java/ql/lib/ext/java.util.regex.model.yml
  java/ql/lib/ext/java.util.stream.model.yml
  java/ql/test/ext/TestModels/Test.java
  java/ql/test/ext/TestModels/test.ext.yml
  java/ql/test/ext/TopJdkApis/TopJdkApis.qll
  java/ql/test/ext/TopJdkApis/TopJdkApisTest.expected
  java/ql/test/ext/TopJdkApis/TopJdkApisTest.java
  java/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.expected
  java/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.java
  java/ql/test/query-tests/Telemetry/UnsupportedExternalAPIs/Test.java
  java/ql/test/query-tests/Telemetry/UnsupportedExternalAPIs/UnsupportedExternalAPIs.expected
Labels: documentation, Java

#12652 C++: Rename `SslContextCallMake` to `SslContextCallGlobal`
  cpp/ql/lib/change-notes/2023-03-20-boost-deprecated-dataflow-configurations.md
  cpp/ql/lib/semmle/code/cpp/security/boostorg/asio/protocols.qll
Labels: C++, documentation

#12656 Dataflow: Minor qldoc fix
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlow.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlow.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTracking.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTracking.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/tainttracking1/TaintTracking.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTracking.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlow.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking1/TaintTracking.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlow.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttracking1/TaintTracking.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/tainttracking1/TaintTracking.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift

#12632 Java: Refactor Android `Query.qll` libraries to new dataflow api
  java/ql/lib/change-notes/2023-03-22-deprecate-webviewdubuggingenabledquery.md
  java/ql/lib/semmle/code/java/security/AndroidCertificatePinningQuery.qll
  java/ql/lib/semmle/code/java/security/AndroidIntentRedirectionQuery.qll
  java/ql/lib/semmle/code/java/security/ImproperIntentVerificationQuery.qll
  java/ql/lib/semmle/code/java/security/SensitiveKeyboardCacheQuery.qll
  java/ql/lib/semmle/code/java/security/UnsafeAndroidAccessQuery.qll
  java/ql/lib/semmle/code/java/security/WebviewDebuggingEnabledQuery.qll
  java/ql/lib/semmle/code/java/security/WebviewDubuggingEnabledQuery.qll
  java/ql/src/Security/CWE/CWE-489/WebviewDebuggingEnabled.ql
  java/ql/src/Security/CWE/CWE-749/UnsafeAndroidAccess.ql
  java/ql/src/Security/CWE/CWE-940/AndroidIntentRedirection.ql
  java/ql/test/query-tests/security/CWE-489/webview-debugging/WebviewDebuggingEnabled.ql
  java/ql/test/query-tests/security/CWE-749/UnsafeAndroidAccessTest.ql
  java/ql/test/query-tests/security/CWE-940/AndroidIntentRedirectionTest.ql
Labels: documentation, Java

#12650 C++: Add StrlenLiteralRangeExpr
  cpp/ql/lib/experimental/semmle/code/cpp/rangeanalysis/ExtendedRangeAnalysis.qll
  cpp/ql/lib/experimental/semmle/code/cpp/rangeanalysis/extensions/StrlenLiteralRangeExpr.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/strlenliteral/StrlenLiteralRange.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/strlenliteral/StrlenLiteralRange.ql
  cpp/ql/test/experimental/library-tests/rangeanalysis/strlenliteral/test.cpp
Labels: C++

#12649 Replace all definitions of `Unit` by `import codeql.util.Unit`
  cpp/ql/lib/qlpack.yml
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  go/ql/lib/qlpack.yml
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  go/ql/lib/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/Unit.qll
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/Unit.qll
  python/ql/lib/qlpack.yml
  python/ql/lib/semmle/python/Unit.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/Unit.qll
  swift/ql/lib/qlpack.yml
Labels: C#, JS, C++, Java, Python, no-change-note-required, Go, Ruby, Swift

#12661 C++: Restrict tests that output all elements
  cpp/ql/test/library-tests/CPP-205/elements.expected
  cpp/ql/test/library-tests/CPP-205/elements.ql
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
  cpp/ql/test/library-tests/lambdas/captures/elements.ql
  cpp/ql/test/library-tests/templates/extern/declarations.expected
  cpp/ql/test/library-tests/templates/extern/declarations.ql
  cpp/ql/test/library-tests/templates/extern/elements.expected
  cpp/ql/test/library-tests/templates/extern/elements.ql
Labels: C++, no-change-note-required

#12540 Ruby: change evaluation order of destructured assignments
  ruby/ql/lib/change-notes/2023-03-21-evaluation-order.md
  ruby/ql/lib/codeql/ruby/ast/Constant.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Constant.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Expr.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/AstDesugar.expected
  ruby/ql/test/library-tests/ast/TreeSitter.expected
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/calls/calls.expected
  ruby/ql/test/library-tests/ast/operations/assignment.expected
  ruby/ql/test/library-tests/ast/operations/operation.expected
  ruby/ql/test/library-tests/ast/operations/operations.rb
  ruby/ql/test/library-tests/ast/operations/unary.expected
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/variables/ssa.expected
  ruby/ql/test/library-tests/variables/varaccess.expected
  ruby/ql/test/library-tests/variables/variable.expected
Labels: documentation, Ruby

#12546 Introduce a shared extractor library
  .github/workflows/ruby-build.yml
  ql/Cargo.lock
  ql/Cargo.toml
  ql/autobuilder/Cargo.toml
  ql/extractor/Cargo.toml
  ql/extractor/src/bin/autobuilder.rs
  ql/extractor/src/bin/extractor.rs
  ql/extractor/src/bin/generator.rs
  ql/extractor/src/extractor.rs
  ql/extractor/src/trap.rs
  ql/generator/Cargo.toml
  ql/generator/src/dbscheme.rs
  ql/generator/src/ql_gen.rs
  ql/node-types/Cargo.toml
  ql/node-types/src/lib.rs
  ql/rust-toolchain.toml
  ql/scripts/create-extractor-pack.ps1
  ql/scripts/create-extractor-pack.sh
  ruby/actions/create-extractor-pack/action.yml
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/Cross.toml
  ruby/extractor/src/bin/extractor.rs
  ruby/extractor/src/bin/generator.rs
  ruby/extractor/src/generator/language.rs
  ruby/extractor/src/generator/ql.rs
  ruby/scripts/create-extractor-pack.sh
  shared/tree-sitter-extractor/.gitignore
  shared/tree-sitter-extractor/Cargo.toml
  shared/tree-sitter-extractor/src/diagnostics.rs
  shared/tree-sitter-extractor/src/extractor.rs
  shared/tree-sitter-extractor/src/file_paths.rs
  shared/tree-sitter-extractor/src/generator/dbscheme.rs
  shared/tree-sitter-extractor/src/generator/language.rs
  shared/tree-sitter-extractor/src/generator/mod.rs
  shared/tree-sitter-extractor/src/generator/ql.rs
  shared/tree-sitter-extractor/src/generator/ql_gen.rs
  shared/tree-sitter-extractor/src/lib.rs
  shared/tree-sitter-extractor/src/node_types.rs
  shared/tree-sitter-extractor/src/options.rs
  shared/tree-sitter-extractor/src/trap.rs
Labels: no-change-note-required, Ruby, QL-for-QL

#12428 Python: Clean up insecure context query
  python/ql/src/Security/CWE-327/FluentApiModel.qll
  python/ql/src/Security/CWE-327/PyOpenSSL.qll
  python/ql/src/Security/CWE-327/Ssl.qll
  python/ql/src/Security/CWE-327/TlsLibraryModel.qll
  python/ql/test/query-tests/Security/CWE-327-InsecureProtocol/InsecureProtocol.expected
Labels: Python, no-change-note-required

#12506 Java: Update MaD Declarations after Triage
  java/ql/lib/change-notes/2023-03-27-hudson-models.md
  java/ql/lib/ext/hudson.model.model.yml
  java/ql/lib/ext/hudson.scm.model.yml
  java/ql/lib/ext/hudson.util.model.yml
Labels: documentation, Java
