Repository github/codeql, pull requests merged in 2023-04, with the labels that each got.

#12738 C++: Fix join order in `cpp/unsafe-strncat`
  cpp/ql/src/Likely Bugs/Memory Management/SuspiciousCallToStrncat.ql
Labels: C++, no-change-note-required

#12725 Swift: add `SuccessfullyExtractedLines` query
  swift/ql/src/diagnostics/SuccessfullyExtractedLines.ql
  swift/ql/test/query-tests/Diagnostics/SuccessfullyExtractedLines.expected
  swift/ql/test/query-tests/Diagnostics/SuccessfullyExtractedLines.qlref
  swift/ql/test/query-tests/Diagnostics/ignored.swift
  swift/ql/test/query-tests/Diagnostics/main.swift
Labels: Swift

#12719 C++: Drop the bit size restriction in `typeBound`
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysisStage.qll
  cpp/ql/test/library-tests/ir/range-analysis/SimpleRangeAnalysis_tests.cpp
Labels: C++

#12671 QL: Make Class.getType() only return ClassType
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/test/type/type.expected
Labels: QL-for-QL

#12741 JS: Fix qhelp after file rename
  javascript/ql/src/Security/CWE-916/InsufficientPasswordHash.qhelp
Labels: JS, documentation

#12735 Fix partial path traversal Java example Again
  java/ql/src/Security/CWE/CWE-023/PartialPathTraversalBad.java
  java/ql/src/Security/CWE/CWE-023/PartialPathTraversalGood.java
  java/ql/src/Security/CWE/CWE-023/PartialPathTraversalRemainder.inc.qhelp
  java/ql/test/query-tests/security/CWE-023/semmle/tests/PartialPathTraversalTest.java
Labels: documentation, Java, ready-for-doc-review

#12729 JS: Modernize crypto libraries
  javascript/ql/lib/semmle/javascript/frameworks/CryptoLibraries.qll
Labels: JS, no-change-note-required

#12743 JS: only set the file in the diagnostics message if the file is within the source root
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Labels: JS

#12746 JS: only set the file in the diagnostics message if the file is within the source root (base rc/3.9)
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Labels: JS

#12728 JS: Use RST syntax for link in docs
  docs/codeql/codeql-language-guides/customizing-library-models-for-javascript.rst
Labels: documentation, no-change-note-required

#12730 Ruby: Minor fix in NetHttpRequest
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/test/library-tests/frameworks/http_clients/HttpClients.expected
  ruby/ql/test/library-tests/frameworks/http_clients/HttpClients.ql
  ruby/ql/test/library-tests/frameworks/http_clients/NetHttp.rb
Labels: no-change-note-required, Ruby

#12246 Fix miscellaneous errors highlighted by QL-for-QL
  go/ql/lib/printAst.ql
  go/ql/lib/semmle/go/Concepts.qll
  go/ql/lib/semmle/go/Files.qll
  go/ql/lib/semmle/go/PrintAst.ql
  go/ql/lib/semmle/go/PrintAst.qll
  go/ql/lib/semmle/go/Scopes.qll
  go/ql/lib/semmle/go/StringOps.qll
  go/ql/lib/semmle/go/Types.qll
  go/ql/lib/semmle/go/controlflow/ControlFlowGraphImpl.qll
  go/ql/lib/semmle/go/dataflow/SSA.qll
  go/ql/lib/semmle/go/dataflow/barrierguardutil/RegexpCheck.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
  go/ql/lib/semmle/go/dependencies/Dependencies.qll
  go/ql/lib/semmle/go/frameworks/Beego.qll
  go/ql/lib/semmle/go/frameworks/Echo.qll
  go/ql/lib/semmle/go/frameworks/K8sIoApiCoreV1.qll
  go/ql/lib/semmle/go/frameworks/Revel.qll
  go/ql/lib/semmle/go/frameworks/stdlib/NetHttp.qll
  go/ql/lib/semmle/go/security/InsecureFeatureFlag.qll
  go/ql/lib/semmle/go/security/SafeUrlFlowCustomizations.qll
  go/ql/lib/semmle/go/security/UnsafeUnzipSymlink.qll
  go/ql/lib/semmle/go/security/ZipSlipCustomizations.qll
  go/ql/src/InconsistentCode/WrappedErrorAlwaysNil.ql
  go/ql/src/RedundantCode/Clones.qll
  go/ql/src/Security/CWE-020/MissingRegexpAnchor.ql
  go/ql/src/Security/CWE-295/DisabledCertificateCheck.ql
  go/ql/src/Security/CWE-326/InsufficientKeySize.ql
  go/ql/src/Security/CWE-327/InsecureTLS.ql
  go/ql/src/Security/CWE-601/OpenUrlRedirect.ql
  go/ql/src/experimental/CWE-1004/AuthCookie.qll
  go/ql/src/experimental/CWE-327/CryptoLibraries.qll
  go/ql/src/experimental/CWE-79/HTMLTemplateEscapingPassthrough.ql
  go/ql/src/experimental/CWE-918/SSRF.qll
  go/ql/src/experimental/CWE-942/CorsMisconfiguration.ql
  go/ql/src/experimental/frameworks/CleverGo.qll
  go/ql/src/experimental/frameworks/Fiber.qll
  go/ql/test/extractor-tests/diagnostics/Diagnostics.ql
  go/ql/test/library-tests/semmle/go/Packages/package.ql
  go/ql/test/library-tests/semmle/go/Types/MethodCount.ql
  go/ql/test/library-tests/semmle/go/Types/Methods.ql
  go/ql/test/library-tests/semmle/go/frameworks/Beego/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/SQL/QueryString.ql
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
Labels: no-change-note-required, Go

#12747 C++: Promote IR-based range-analysis library out of experimental
  cpp/ql/lib/experimental/semmle/code/cpp/rangeanalysis/Bound.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/SimpleRangeAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/Semantic.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticBound.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticCFG.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExpr.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticGuard.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticLocation.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticOpcode.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticSSA.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticType.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticTypeSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/Bound.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/ConstantAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/ConstantAnalysisSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/FloatDelta.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/IntDelta.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/ModulusAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/ModulusAnalysisSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeUtils.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/Sign.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/SignAnalysisCommon.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/SignAnalysisSpecific.qll
  cpp/ql/src/experimental/Likely Bugs/ArrayAccessProductFlow.ql
  cpp/ql/src/experimental/Likely Bugs/OverrunWriteProductFlow.ql
  cpp/ql/src/experimental/Security/CWE/CWE-193/ConstantSizeArrayOffByOne.ql
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
  cpp/ql/test/library-tests/ir/modulus-analysis/ModulusAnalysis.ql
  cpp/ql/test/library-tests/ir/range-analysis/RangeAnalysis.ql
  cpp/ql/test/library-tests/ir/sign-analysis/SignAnalysis.ql
Labels: C++, no-change-note-required

#12396 Go: Add more JWT sinks
  go/ql/src/experimental/CWE-321/HardcodedKeysLib.qll
  go/ql/test/experimental/CWE-321/HardcodedKeys.expected
  go/ql/test/experimental/CWE-321/go.mod
  go/ql/test/experimental/CWE-321/main.go
  go/ql/test/experimental/CWE-321/vendor/github.com/gin-gonic/gin/stub.go
  go/ql/test/experimental/CWE-321/vendor/github.com/gogf/gf-jwt/v2/stub.go
  go/ql/test/experimental/CWE-321/vendor/github.com/golang-jwt/jwt/v4/stub.go
  go/ql/test/experimental/CWE-321/vendor/github.com/iris-contrib/middleware/jwt/stub.go
  go/ql/test/experimental/CWE-321/vendor/github.com/kataras/iris/v12/middleware/jwt/stub.go
  go/ql/test/experimental/CWE-321/vendor/github.com/kataras/jwt/stub.go
  go/ql/test/experimental/CWE-321/vendor/modules.txt
Labels: Go

#12758 C++: Deprecate single-parameter `getFieldExpr` and `getElementExpr`
  cpp/ql/lib/change-notes/2023-04-04-repeated-initializers.md
  cpp/ql/lib/semmle/code/cpp/PrintAST.qll
  cpp/ql/lib/semmle/code/cpp/Variable.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/exprs/Lambda.qll
  cpp/ql/lib/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/valuenumbering/HashCons.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/literals/aggregate_literals/arrays.ql
  cpp/ql/test/library-tests/literals/aggregate_literals/arrays_child_exprs.ql
  cpp/ql/test/library-tests/literals/aggregate_literals/classes.ql
  cpp/ql/test/library-tests/literals/aggregate_literals/classes_child_exprs.ql
Labels: C++, depends on internal PR, documentation

#12763 Swift: Update final two queries to use `DataFlow::ConfigSig`
  swift/ql/lib/codeql/swift/security/CleartextStorageDatabaseQuery.qll
  swift/ql/lib/codeql/swift/security/StringLengthConflationExtensions.qll
  swift/ql/lib/codeql/swift/security/StringLengthConflationQuery.qll
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
Labels: Swift

#12769 Swift: Convert dataflow / taint tests to DataFlow::ConfigSig.
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.ql
  swift/ql/test/library-tests/dataflow/dataflow/DataFlowInline.ql
  swift/ql/test/library-tests/dataflow/dataflow/FlowConfig.qll
  swift/ql/test/library-tests/dataflow/taint/core/Taint.ql
  swift/ql/test/library-tests/dataflow/taint/core/Taint.qll
  swift/ql/test/library-tests/dataflow/taint/core/TaintInline.ql
  swift/ql/test/library-tests/dataflow/taint/libraries/Taint.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/TaintInline.ql
Labels: no-change-note-required, Swift

#12776 Ruby: update tree-sitter to 0.20.10
  ruby/extractor/Cargo.lock
Labels: Ruby

#12779 C++: Fix FN in `cpp/tainted-arithmetic`
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticTainted.ql
  cpp/ql/src/change-notes/2023-04-06-arith-tainted-assign-operations.md
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/test2.cpp
Labels: C++, documentation

#12727 Java: Update MaD Declarations after Triage
  java/ql/lib/change-notes/2023-03-31-new-models.md
  java/ql/lib/ext/java.io.model.yml
  java/ql/lib/ext/java.net.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
Labels: documentation, Java

#12777 C++: Fix number of join order problems in memory corruption queries
  cpp/ql/src/experimental/Likely Bugs/OverrunWriteProductFlow.ql
  cpp/ql/src/experimental/Security/CWE/CWE-193/ConstantSizeArrayOffByOne.ql
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
Labels: C++

#12726 Java: Update MaD Declarations after Triage
  java/ql/lib/change-notes/2023-03-31-new-models-tr2284.md
  java/ql/lib/ext/java.io.model.yml
  java/ql/lib/ext/java.lang.module.model.yml
  java/ql/lib/ext/org.apache.commons.io.model.yml
Labels: documentation, Java

#12768 Merge `rc/3.9` back to `main`
  docs/codeql/reusables/supported-versions-compilers.rst
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Labels: JS, documentation

#12783 Go: hide summary nodes from path explanations
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  go/ql/test/library-tests/semmle/go/dataflow/HiddenNodes/test.expected
  go/ql/test/library-tests/semmle/go/dataflow/HiddenNodes/test.go
  go/ql/test/library-tests/semmle/go/dataflow/HiddenNodes/test.ql
Labels: no-change-note-required, Go

#12731 C#: Re-factor CleartextStorage to use the new API.
  csharp/ql/lib/semmle/code/csharp/security/dataflow/CleartextStorageQuery.qll
  csharp/ql/src/Security Features/CWE-312/CleartextStorage.ql
Labels: C#, no-change-note-required

#12792 JS: add getForwardingFunction and use to sharpen useSelector model
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/frameworks/Redux.qll
  javascript/ql/lib/semmle/javascript/internal/CachedStages.qll
  javascript/ql/test/library-tests/frameworks/Redux/accessPaths.js
  javascript/ql/test/library-tests/frameworks/Redux/test.expected
  javascript/ql/test/library-tests/frameworks/Redux/test.ql
Labels: JS, no-change-note-required

#12799 JS: use 1-based column locations for diagnostics
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/ql/integration-tests/all-platforms/diagnostics/syntax-error/diagnostics.expected
Labels: JS

#12810 QL: Don't warn about cached predicates possibly being inlined
  ql/ql/src/queries/performance/MissingNoinline.ql
Labels: QL-for-QL

#12732 C#: Re-factor data flow unit tests to use the new API.
  csharp/ql/test/TestUtilities/InlineFlowTest.qll
  csharp/ql/test/library-tests/cil/dataflow/TaintTracking.ql
  csharp/ql/test/library-tests/csharp7/GlobalTaintTracking.ql
  csharp/ql/test/library-tests/dataflow/async/Async.ql
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/Common.qll
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/DataFlow.ql
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/TaintTracking.ql
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.ql
  csharp/ql/test/library-tests/dataflow/global/Common.qll
  csharp/ql/test/library-tests/dataflow/global/DataFlow.ql
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.ql
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.ql
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.ql
  csharp/ql/test/library-tests/dataflow/operators/operatorFlow.expected
  csharp/ql/test/library-tests/dataflow/operators/operatorFlow.ql
  csharp/ql/test/library-tests/dataflow/patterns/PatternFlow.ql
  csharp/ql/test/library-tests/dataflow/tuples/Tuples.expected
  csharp/ql/test/library-tests/dataflow/tuples/Tuples.ql
  csharp/ql/test/library-tests/frameworks/EntityFramework/Dataflow.ql
  csharp/ql/test/library-tests/frameworks/JsonNET/Json.ql
  csharp/ql/test/library-tests/frameworks/NHibernate/DataFlow.ql
  csharp/ql/test/library-tests/security/dataflow/flowsources/StoredFlowSources.ql
Labels: C#

#12685 Java: Add command-injection sink kind and refactor command injection queries
  java/ql/lib/change-notes/2023-03-28-cmdi-queries-models-as-data.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/security/CommandLineQuery.qll
  java/ql/src/Security/CWE/CWE-078/ExecTainted.ql
  java/ql/src/Security/CWE/CWE-078/ExecTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-078/ExecUnescaped.ql
  java/ql/src/experimental/Security/CWE/CWE-078/ExecTainted.ql
Labels: documentation, Java

#12723 C#: Re-factor queries to use the new API.
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ExternalAPIsQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/HardcodedCredentialsQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/LDAPInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/LogForgingQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/MissingXMLValidationQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ReDoSQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/RegexInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ResourceInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/SqlInjectionQuery.qll
  csharp/ql/src/Security Features/CWE-020/UntrustedDataToExternalAPI.ql
  csharp/ql/src/Security Features/CWE-089/SecondOrderSqlInjection.ql
  csharp/ql/src/Security Features/CWE-089/SqlInjection.ql
  csharp/ql/src/Security Features/CWE-090/LDAPInjection.ql
  csharp/ql/src/Security Features/CWE-090/StoredLDAPInjection.ql
  csharp/ql/src/Security Features/CWE-099/ResourceInjection.ql
  csharp/ql/src/Security Features/CWE-112/MissingXMLValidation.ql
  csharp/ql/src/Security Features/CWE-117/LogForging.ql
  csharp/ql/src/Security Features/CWE-730/ReDoS.ql
  csharp/ql/src/Security Features/CWE-730/RegexInjection.ql
  csharp/ql/src/Security Features/CWE-798/HardcodedConnectionString.ql
  csharp/ql/src/Security Features/CWE-798/HardcodedCredentials.ql
  csharp/ql/test/query-tests/Security Features/CWE-798/HardcodedConnectionString.expected
Labels: C#, no-change-note-required

#12813 Java: Add tests for SensitiveActions and fix getCommonSensitiveInfoRegex
  java/ql/lib/change-notes/2023-04-13-sensitive-actions-fix-regex.md
  java/ql/lib/semmle/code/java/security/SensitiveActions.qll
  java/ql/test/library-tests/sensitive-actions/Test.java
  java/ql/test/library-tests/sensitive-actions/test.expected
  java/ql/test/library-tests/sensitive-actions/test.ql
Labels: documentation, Java

#12794 Swift: Add CSV extension points to the encryption queries.
  swift/ql/lib/codeql/swift/security/ConstantPasswordExtensions.qll
  swift/ql/lib/codeql/swift/security/ConstantSaltExtensions.qll
  swift/ql/lib/codeql/swift/security/ECBEncryptionExtensions.qll
  swift/ql/lib/codeql/swift/security/HardcodedEncryptionKeyExtensions.qll
  swift/ql/lib/codeql/swift/security/InsecureTLSExtensions.qll
  swift/ql/lib/codeql/swift/security/InsufficientHashIterationsExtensions.qll
  swift/ql/lib/codeql/swift/security/StaticInitializationVectorExtensions.qll
  swift/ql/lib/codeql/swift/security/WeakSensitiveDataHashingExtensions.qll
Labels: no-change-note-required, Swift

#12822 C++: Promote `cpp/redundant-null-check-simple` to Code Scanning
  cpp/ql/src/Likely Bugs/RedundantNullCheckSimple.ql
  cpp/ql/src/change-notes/2023-04-13-redundant-null-check.md
  cpp/ql/test/query-tests/Likely Bugs/RedundantNullCheckSimple/RedundantNullCheckSimple.expected
Labels: C++, documentation

#12823 Bump all qlpacks major versions
  cpp/ql/lib/qlpack.yml
  cpp/ql/src/qlpack.yml
  csharp/ql/campaigns/Solorigate/lib/qlpack.yml
  csharp/ql/campaigns/Solorigate/src/qlpack.yml
  csharp/ql/lib/qlpack.yml
  csharp/ql/src/qlpack.yml
  go/ql/lib/qlpack.yml
  go/ql/src/qlpack.yml
  java/ql/lib/qlpack.yml
  java/ql/src/qlpack.yml
  javascript/ql/lib/qlpack.yml
  javascript/ql/src/qlpack.yml
  misc/suite-helpers/qlpack.yml
  python/ql/lib/qlpack.yml
  python/ql/src/qlpack.yml
  ruby/ql/lib/qlpack.yml
  ruby/ql/src/qlpack.yml
Labels: C#, JS, C++, Java, Python, no-change-note-required, Go, Ruby

#12802 JS: add browser history as XSS sink
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/tst.js
Labels: JS, no-change-note-required

#12803 C#: Re-factor dataflow queries to use the new API.
  csharp/ql/lib/semmle/code/csharp/security/dataflow/TaintedPathQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/UrlRedirectQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/XMLEntityInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/XPathInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ZipSlipQuery.qll
  csharp/ql/src/Likely Bugs/LeapYear/UnsafeYearConstruction.ql
  csharp/ql/src/Likely Bugs/ThreadUnsafeICryptoTransformLambda.ql
  csharp/ql/src/Security Features/CWE-022/TaintedPath.ql
  csharp/ql/src/Security Features/CWE-022/ZipSlip.ql
  csharp/ql/src/Security Features/CWE-091/XMLInjection.ql
  csharp/ql/src/Security Features/CWE-114/AssemblyPathInjection.ql
  csharp/ql/src/Security Features/CWE-134/UncontrolledFormatString.ql
  csharp/ql/src/Security Features/CWE-201/ExposureInTransmittedData.ql
  csharp/ql/src/Security Features/CWE-209/ExceptionInformationExposure.ql
  csharp/ql/src/Security Features/CWE-601/UrlRedirect.ql
  csharp/ql/src/Security Features/CWE-611/UntrustedDataInsecureXml.ql
  csharp/ql/src/Security Features/CWE-643/StoredXPathInjection.ql
  csharp/ql/src/Security Features/CWE-643/XPathInjection.ql
  csharp/ql/src/experimental/CWE-099/TaintedWebClient.ql
  csharp/ql/src/experimental/CWE-099/TaintedWebClientLib.qll
  csharp/ql/src/experimental/Security Features/backdoor/ProcessNameToHashTaintFlow.ql
Labels: C#, no-change-note-required

#12752 C++: Consider ArrayExpr with non-constant size expressions as a BufferAccess
  cpp/ql/lib/semmle/code/cpp/security/BufferAccess.qll
Labels: C++, no-change-note-required, ready-for-internal-ci

#12751 Java: Finish dataflow refactor
  java/ql/lib/change-notes/2023-04-05-deprecated-sensitive-result-receiver-predicate.md
  java/ql/lib/semmle/code/java/security/HardcodedCredentialsSourceCallQuery.qll
  java/ql/lib/semmle/code/java/security/SensitiveResultReceiverQuery.qll
  java/ql/src/Security/CWE/CWE-798/HardcodedCredentialsSourceCall.ql
  java/ql/src/Security/CWE/CWE-927/SensitiveResultReceiver.ql
  java/ql/test/library-tests/frameworks/ratpack/flow.ql
  java/ql/test/query-tests/security/CWE-089/semmle/examples/taintedString.ql
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedCredentialsSourceCall.ql
  java/ql/test/query-tests/security/CWE-927/SensitiveResultReceiver.ql
Labels: documentation, Java, no-change-note-required

#12824 Swift: Add CryptoSwift sinks in swift/weak-sensitive-data-hashing
  swift/ql/lib/codeql/swift/security/WeakSensitiveDataHashingExtensions.qll
  swift/ql/lib/codeql/swift/security/WeakSensitiveDataHashingQuery.qll
  swift/ql/test/query-tests/Security/CWE-328/WeakSensitiveDataHashing.expected
  swift/ql/test/query-tests/Security/CWE-328/testCryptoKit.swift
  swift/ql/test/query-tests/Security/CWE-328/testCryptoSwift.swift
Labels: no-change-note-required, Swift

#12804 Ruby: restrict join order of API graph predicates
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveResource.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveStorage.qll
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
  ruby/ql/lib/codeql/ruby/frameworks/Twirp.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsSpecific.qll
Labels: no-change-note-required, Ruby

#12569 C++: Implement use-after-free and double-free queries using the new IR use-use dataflow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/Critical/DoubleFree.cpp
  cpp/ql/src/Critical/DoubleFree.qhelp
  cpp/ql/src/Critical/DoubleFree.ql
  cpp/ql/src/Critical/FlowAfterFree.qll
  cpp/ql/src/Critical/UseAfterFree.ql
  cpp/ql/src/change-notes/2023-04-11-double-free.md
  cpp/ql/src/change-notes/2023-04-11-use-after-free.md
  cpp/ql/src/experimental/Security/CWE/CWE-415/DoubleFree.ql
  cpp/ql/test/query-tests/Critical/MemoryFreed/DoubleFree.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/DoubleFree.qlref
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryFreed.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryMayNotBeFreed.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryNeverFreed.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.qlref
  cpp/ql/test/query-tests/Critical/MemoryFreed/test_free.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseAfterFree.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/test.cpp
Labels: C++, documentation, ready-for-doc-review

#12839 QL: update regexes used in `QueryDoc.getQueryName()` and in `QueryDoc.getQueryId()/getQueryLanguage()`
  ql/ql/src/codeql_ql/ast/Ast.qll
Labels: QL-for-QL

#12842 Swift: add QLdoc for generated `Raw` and `Synth` modules
  misc/codegen/templates/ql_db.mustache
  misc/codegen/templates/ql_ipa_types.mustache
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/Synth.qll
Labels: Swift

#12826 JS: Improvements to type-tracking through 'extend' and 'this'
  javascript/ql/lib/semmle/javascript/Extend.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/StepSummary.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/PrototypePollutingAssignmentQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
  javascript/ql/src/change-notes/2023-04-14-more-call-graph-steps.md
  javascript/ql/test/query-tests/Security/CWE-020/UntrustedDataToExternalAPI/UntrustedDataToExternalAPI.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/tst.js
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin/unsafe-jquery-plugin.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/tst.js
Labels: JS, documentation

#12818 C++: Use the new dataflow library in `cpp/missing-check-scanf`
  cpp/ql/src/Critical/MissingCheckScanf.ql
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Labels: C++, no-change-note-required

#12599 C++: add overflow detection to new range analysis
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/SimpleRangeAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/FloatDelta.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisConstantSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisRelativeSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeUtils.qll
  cpp/ql/test/library-tests/ir/modulus-analysis/ModulusAnalysis.ql
  cpp/ql/test/library-tests/ir/range-analysis/Overflow.expected
  cpp/ql/test/library-tests/ir/range-analysis/Overflow.ql
  cpp/ql/test/library-tests/ir/range-analysis/SimpleRangeAnalysis_tests.cpp
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
  cpp/ql/test/library-tests/ir/sign-analysis/SignAnalysis.ql
Labels: C++, no-change-note-required

#12850 JS: Remove unused example files and edit qhelp to match
  javascript/ql/src/Security/CWE-916/InsufficientPasswordHash.qhelp
  javascript/ql/src/Security/CWE-916/examples/InsufficientPasswordHash.js
  javascript/ql/src/Security/CWE-916/examples/InsufficientPasswordHash_CryptoJS.js
  javascript/ql/src/Security/CWE-916/examples/InsufficientPasswordHash_CryptoJS_fixed
  javascript/ql/src/Security/CWE-916/examples/InsufficientPasswordHash_fixed.js
Labels: JS, documentation

#12843 Prevent JS join order regression
  javascript/ql/lib/semmle/javascript/InclusionTests.qll
  javascript/ql/lib/semmle/javascript/StringOps.qll
Labels: JS, no-change-note-required

#12760 Swift: route compiler diagnostics through our log
  swift/extractor/invocation/SwiftDiagnosticsConsumer.cpp
  swift/extractor/invocation/SwiftDiagnosticsConsumer.h
  swift/extractor/main.cpp
Labels: Swift

#12805 Remove all `queries.xml` files
  cpp/ql/examples/queries.xml
  cpp/ql/src/queries.xml
  cpp/ql/test/queries.xml
  csharp/ql/examples/queries.xml
  csharp/ql/src/queries.xml
  csharp/ql/test/queries.xml
  go/ql/examples/queries.xml
  go/ql/src/queries.xml
  go/ql/test/queries.xml
  java/ql/examples/queries.xml
  java/ql/src/queries.xml
  java/ql/test/queries.xml
  javascript/ql/examples/queries.xml
  javascript/ql/experimental/adaptivethreatmodeling/src/queries.xml
  javascript/ql/src/queries.xml
  javascript/ql/test/queries.xml
  python/ql/examples/queries.xml
  python/ql/src/queries.xml
  python/ql/test/queries.xml
  ruby/ql/examples/queries.xml
  ruby/ql/src/queries.xml
  swift/ql/src/queries.xml
Labels: C#, JS, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, ATM

#12780 JS: extract YAML library to a shared pack
  javascript/ql/lib/change-notes/2023-04-17-shared-yaml-lib.md
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/PrintAst.qll
  javascript/ql/lib/semmle/javascript/YAML.qll
  javascript/ql/lib/semmle/javascript/linters/ESLint.qll
  shared/yaml/change-notes/2023-04-17-initial-version.md
  shared/yaml/codeql/yaml/Yaml.qll
  shared/yaml/qlpack.yml
Labels: JS, documentation

#12806 Java: Add missing write-file models for Java IO / NIO
  java/ql/lib/change-notes/2023-04-12-new-models-io.md
  java/ql/lib/ext/java.nio.file.model.yml
Labels: documentation, Java

#12812 Java: Refactor Test DataFlow configurations to new API
  java/ql/test/kotlin/library-tests/dataflow/extensionMethod/test.ql
  java/ql/test/kotlin/library-tests/dataflow/foreach/test.ql
  java/ql/test/kotlin/library-tests/dataflow/func/test.ql
  java/ql/test/kotlin/library-tests/dataflow/notnullexpr/test.ql
  java/ql/test/kotlin/library-tests/dataflow/stmtexpr/test.ql
  java/ql/test/kotlin/library-tests/dataflow/taint/test.ql
  java/ql/test/kotlin/library-tests/dataflow/whenexpr/test.ql
  java/ql/test/kotlin/library-tests/field-initializer-flow/test.ql
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/test.ql
  java/ql/test/kotlin/library-tests/parameter-defaults/flowTest.ql
  java/ql/test/kotlin/library-tests/super-method-calls/test.ql
  java/ql/test/kotlin/library-tests/vararg/dataflow.ql
  java/ql/test/library-tests/dataflow/call-sensitivity/flow.ql
  java/ql/test/library-tests/dataflow/callback-dispatch/test.ql
  java/ql/test/library-tests/dataflow/capture/test.ql
  java/ql/test/library-tests/dataflow/collections/flow.ql
  java/ql/test/library-tests/dataflow/entrypoint-types/EntryPointTypesTest.ql
  java/ql/test/library-tests/dataflow/fields/flow.ql
  java/ql/test/library-tests/dataflow/lambda/flow.ql
  java/ql/test/library-tests/dataflow/local-flow/flow.ql
  java/ql/test/library-tests/dataflow/null/testnullflow.ql
  java/ql/test/library-tests/dataflow/records/test.ql
  java/ql/test/library-tests/dataflow/switchexpr/switchexprflow.ql
  java/ql/test/library-tests/dataflow/taint-ioutils/dataFlow.ql
  java/ql/test/library-tests/dataflow/taint/test.ql
  java/ql/test/library-tests/dataflow/taintgettersetter/taintgettersetter.ql
  java/ql/test/library-tests/dataflow/taintreturn/taintreturn.ql
  java/ql/test/library-tests/dataflow/taintsources/local.ql
  java/ql/test/library-tests/dataflow/taintsources/remote.ql
  java/ql/test/library-tests/dataflow/this-flow/this-flow.ql
  java/ql/test/library-tests/dataflow/typepruning/test.ql
  java/ql/test/library-tests/frameworks/android/content-provider/test.ql
  java/ql/test/library-tests/frameworks/android/external-storage/test.ql
  java/ql/test/library-tests/frameworks/android/sources/OnActivityResultSourceTest.ql
  java/ql/test/library-tests/frameworks/android/taint-database/flowSteps.ql
  java/ql/test/library-tests/frameworks/android/taint-database/sinks.ql
  java/ql/test/library-tests/frameworks/apache-http/flow.ql
  java/ql/test/library-tests/frameworks/guava/handwritten/flow.ql
  java/ql/test/library-tests/frameworks/guice/flow.ql
  java/ql/test/library-tests/frameworks/jms/FlowTest.ql
  java/ql/test/library-tests/frameworks/rabbitmq/FlowTest.ql
  java/ql/test/library-tests/frameworks/ratpack/flow.ql
  java/ql/test/library-tests/frameworks/spring/controller/test.ql
  java/ql/test/library-tests/pathsanitizer/test.ql
  java/ql/test/query-tests/security/CWE-079/semmle/tests/XSS.ql
  java/ql/test/query-tests/security/CWE-089/semmle/examples/springjdbc.ql
  java/ql/test/query-tests/security/CWE-643/XPathInjectionTest.ql
Labels: Java, no-change-note-required, Kotlin

#12855 C++: Fix bad self-join in `cpp/use-after-free`
  cpp/ql/src/Critical/UseAfterFree.ql
Labels: C++, no-change-note-required

#12861 C++: Ignore a few more instructions in dataflow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
Labels: C++, no-change-note-required

#10707 Java: Add line break sanitizers to java/log-injection
  java/ql/lib/change-notes/2022-10-06-log-injection-sanitizers.md
  java/ql/lib/semmle/code/java/security/LogInjection.qll
  java/ql/test/query-tests/security/CWE-117/LogInjectionTest.java
Labels: documentation, Java

#12829 C#: Re-factor tainttracking and dataflow configurations to use the new API.
  csharp/ql/lib/semmle/code/csharp/frameworks/Sql.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Xml.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ReDoSQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/UnsafeDeserializationQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/xml/InsecureXMLQuery.qll
  csharp/ql/src/Language Abuse/ForeachCapture.ql
  csharp/ql/src/Security Features/CWE-327/DontInstallRootCert.ql
  csharp/ql/src/Security Features/CWE-327/InsecureSQLConnection.ql
  csharp/ql/src/Security Features/CWE-502/UnsafeDeserializationUntrustedInput.ql
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnly.ql
  csharp/ql/src/experimental/Security Features/CWE-614/CookieWithoutSecure.ql
  csharp/ql/src/experimental/Security Features/CWE-759/HashWithoutSalt.ql
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/JsonWebTokenHandlerLib.qll
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/security-validation-disabled.ql
  csharp/ql/src/experimental/Security Features/Serialization/UnsafeTypeUsedDataContractSerializer.ql
  csharp/ql/src/experimental/dataflow/flowsources/AuthCookie.qll
  csharp/ql/test/library-tests/csharp7/GlobalFlow.ql
  csharp/ql/test/library-tests/dataflow/call-sensitivity/CallSensitivityFlow.ql
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.ql
  csharp/ql/test/library-tests/dataflow/types/Types.ql
Labels: C#, no-change-note-required

#12807 Swift: Dataflow for keypaths
  swift/ql/lib/codeql/swift/controlflow/CfgNodes.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/elements/KeyPathComponent.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/consistency.expected
  swift/ql/test/library-tests/controlflow/graph/consistency.ql
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Labels: no-change-note-required, Swift

#12856 Ruby: Add additional sanitizers for Kernel.open or IO.read or similar sinks with a non-constant value
  ruby/ql/src/queries/security/cwe-078/NonConstantKernelOpen.ql
  ruby/ql/test/query-tests/security/cwe-078/NonConstantKernelOpen/NonConstantKernelOpen.expected
  ruby/ql/test/query-tests/security/cwe-078/NonConstantKernelOpen/NonConstantKernelOpen.rb
Labels: no-change-note-required, Ruby

#12873 Go: Fix platform specific tests
  .github/workflows/go-tests-other-os.yml
  .github/workflows/go-tests.yml
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.ql
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.expected
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.ql
Labels: Go

#12815 C++: Update test expectations after extractor changes
  cpp/ql/test/library-tests/attributes/type_attributes/type_attributes.expected
  cpp/ql/test/library-tests/constants/constants/aggregates.expected
  cpp/ql/test/library-tests/structs/compatible_c/compatible.expected
  cpp/ql/test/library-tests/structs/compatible_c/compatible_types.expected
Labels: C++, depends on internal PR

#12877 Swift: Delete deprecated classes
  swift/ql/lib/codeql/swift/security/CleartextLoggingQuery.qll
  swift/ql/lib/codeql/swift/security/CleartextStorageDatabaseQuery.qll
  swift/ql/lib/codeql/swift/security/CleartextStoragePreferencesQuery.qll
  swift/ql/lib/codeql/swift/security/CleartextTransmissionQuery.qll
  swift/ql/lib/codeql/swift/security/PathInjectionQuery.qll
  swift/ql/lib/codeql/swift/security/PredicateInjectionQuery.qll
  swift/ql/lib/codeql/swift/security/SqlInjectionQuery.qll
  swift/ql/lib/codeql/swift/security/UncontrolledFormatStringQuery.qll
  swift/ql/lib/codeql/swift/security/UnsafeJsEvalQuery.qll
  swift/ql/lib/codeql/swift/security/UnsafeWebViewFetchQuery.qll
  swift/ql/lib/codeql/swift/security/XXEQuery.qll
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/src/queries/Security/CWE-312/CleartextStoragePreferences.ql
Labels: no-change-note-required, Swift

#12876 Swift: Improve ExtensionDecl.toString
  swift/ql/lib/codeql/swift/elements/decl/ExtensionDecl.qll
  swift/ql/test/extractor-tests/declarations/all.expected
  swift/ql/test/extractor-tests/generated/decl/ExtensionDecl/ExtensionDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ExtensionDecl/ExtensionDecl_getMember.expected
  swift/ql/test/extractor-tests/generated/decl/ExtensionDecl/ExtensionDecl_getProtocol.expected
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/elements/decl/extensiondecl/extensiondecl.expected
  swift/ql/test/library-tests/elements/decl/extensiondecl/extensiondecl.ql
  swift/ql/test/library-tests/elements/decl/extensiondecl/extensiondecl.swift
Labels: no-change-note-required, Swift

#12854 JS - NodeJS CWE-444 InsecureHTTPParser
  javascript/ql/src/experimental/Security/CWE-444/InsecureHttpParser.qhelp
  javascript/ql/src/experimental/Security/CWE-444/InsecureHttpParser.ql
  javascript/ql/src/experimental/Security/CWE-444/examples/InsecureHttpParser.js
Labels: JS, documentation

#12875 Prevent Ruby join order regression
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
Labels: no-change-note-required, Ruby

#12793 JavaScript: switch to shared YamlPopulator
  javascript/extractor/src/com/semmle/js/extractor/YAMLExtractor.java
Labels: JS, no-change-note-required

#12883 Swift: aggregate default output directories
  swift/extractor/infra/log/SwiftLogging.cpp
  swift/extractor/main.cpp
Labels: Swift

#12851 Java: Add `*/test/*` to model generator's list of ignored paths
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
Labels: Java, no-change-note-required

#12845 C#: Re-factor Xss to use the new data flow API.
  csharp/ql/lib/semmle/code/csharp/security/dataflow/XSSQuery.qll
  csharp/ql/src/Security Features/CWE-079/StoredXSS.ql
Labels: C#, no-change-note-required

#12841 Ruby: add API node representing a module/class object
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/test/library-tests/dataflow/helpers/dataflow.expected
Labels: no-change-note-required, Ruby

#12888 Update `SimpleXmlRpcServer.ql` to avoid incorrect detection as a trojan by Mcafee
  python/ql/src/experimental/Security/CWE-611/SimpleXmlRpcServer.ql
Labels: Python

#12885 Dataflow: Introduce param module for merging three path graphs.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlow.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlow.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlow.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlow.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift

#12891 Prevent Ruby join order regression
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
Labels: no-change-note-required, Ruby

#12908 Revert "Swift: route compiler diagnostics through our log"
  swift/extractor/invocation/SwiftDiagnosticsConsumer.cpp
  swift/extractor/invocation/SwiftDiagnosticsConsumer.h
  swift/extractor/main.cpp
Labels: Swift

#12907 Ruby: Fix bad join in `DestructuredAssignDesugar`
  ruby/ql/lib/codeql/ruby/ast/internal/Synthesis.qll
Labels: no-change-note-required, Ruby

#12910 Swift: use hashing for lazy decl trap file names
  swift/extractor/SwiftExtractor.cpp
Labels: Swift

#12836 Swift: Downgrade swift/unsafe-js-eval to precision medium.
  swift/ql/src/queries/Security/CWE-094/UnsafeJsEval.ql
Labels: no-change-note-required, Swift

#12658 C#: Add local filesystem writes as External Location sinks
  csharp/ql/lib/ext/System.IO.model.yml
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/ExternalLocationSink.qll
  csharp/ql/src/change-notes/2023-04-05-external-location-sinks.md
  csharp/ql/test/query-tests/Security Features/CWE-312/CleartextStorage.cs
  csharp/ql/test/query-tests/Security Features/CWE-312/CleartextStorage.expected
  csharp/ql/test/query-tests/Security Features/CWE-312/options
  csharp/ql/test/query-tests/Security Features/CWE-359/ExposureOfPrivateInformation.cs
  csharp/ql/test/query-tests/Security Features/CWE-359/ExposureOfPrivateInformation.expected
  csharp/ql/test/query-tests/Security Features/CWE-359/options
Labels: C#, documentation

#12858 Python: Expand modeling of `paramiko`
  python/ql/src/Security/CWE-295/MissingHostKeyValidation.ql
  python/ql/test/query-tests/Security/CWE-295-MissingHostKeyValidation/MissingHostKeyValidation.expected
  python/ql/test/query-tests/Security/CWE-295-MissingHostKeyValidation/paramiko_host_key.py
Labels: Python, no-change-note-required

#12919 Swift: Upgrade two queries to precision high.
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/src/queries/Security/CWE-312/CleartextStoragePreferences.ql
Labels: no-change-note-required, Swift

#12918 Swift: Fix some TODOs with Abseil.
  misc/bazel/workspace.bzl
  swift/extractor/BUILD.bazel
  swift/extractor/main.cpp
  swift/extractor/trap/BUILD.bazel
  swift/extractor/trap/TrapLabel.h
Labels: Swift

#12838 Java: add class that represents callables that are interesting for MaD models
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/lib/semmle/code/java/dataflow/internal/ModelExclusions.qll
  java/ql/src/Metrics/Summaries/GeneratedVsManualCoverageQuery.qll
  java/ql/src/Telemetry/ExternalApi.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/TopJdkApisTest/TopJdkApis/java/lang/AbstractStringBuilder.java
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/TopJdkApisTest/TopJdkApis/java/lang/Enum.java
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/TopJdkApisTest/TopJdkApis/java/lang/StringBuffer.java
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/TopJdkApisTest/TopJdkApis/java/lang/StringBuilder.java
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/TopJdkApisTest/TopJdkApisTest.expected
Labels: Java, no-change-note-required

#12917 Java: Refactor `InlineFlowTest` to remove usage of `DataFlow::Configuration` API
  java/ql/test/TestUtilities/InlineFlowTest.qll
  java/ql/test/library-tests/frameworks/JaxWs/JaxRsFlow.ql
  java/ql/test/library-tests/frameworks/android/slice/test.ql
  java/ql/test/library-tests/frameworks/netty/manual/test.ql
  java/ql/test/library-tests/frameworks/okhttp/test.ql
  java/ql/test/library-tests/frameworks/retrofit/test.ql
Labels: Java, no-change-note-required

#12500 Swift: rework fetching and dispatching
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/infra/SwiftLocationExtractor.cpp
  swift/extractor/infra/SwiftLocationExtractor.h
  swift/extractor/infra/SwiftMangledName.cpp
  swift/extractor/infra/SwiftMangledName.h
  swift/extractor/invocation/BUILD.bazel
  swift/extractor/invocation/SwiftDiagnosticsConsumer.cpp
  swift/extractor/invocation/SwiftInvocationExtractor.cpp
  swift/extractor/mangler/BUILD.bazel
  swift/extractor/mangler/SwiftMangler.cpp
  swift/extractor/mangler/SwiftMangler.h
  swift/extractor/translators/DeclTranslator.cpp
  swift/extractor/translators/DeclTranslator.h
  swift/extractor/translators/SwiftVisitor.h
  swift/extractor/translators/TypeTranslator.h
  swift/extractor/trap/TrapDomain.h
  swift/extractor/trap/TrapLabel.h
  swift/extractor/trap/TrapLabelStore.h
  swift/ql/test/extractor-tests/generated/type/TupleType/TupleType.expected
  swift/ql/test/extractor-tests/generated/type/TupleType/TupleType_getType.expected
  swift/ql/test/extractor-tests/generated/type/TupleType/tuples_builtin.swift
Labels: Swift

#12933 Ruby: Remove empty string DataFlowType in PathNode.
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.expected
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/local/InlineFlowTest.expected
  ruby/ql/test/library-tests/dataflow/params/params-flow.expected
  ruby/ql/test/library-tests/dataflow/pathname-flow/pathame-flow.expected
  ruby/ql/test/library-tests/dataflow/ssa-flow/ssa-flow.expected
  ruby/ql/test/library-tests/dataflow/string-flow/string-flow.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/frameworks/action_controller/params-flow.expected
  ruby/ql/test/library-tests/frameworks/action_mailer/params-flow.expected
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupportDataFlow.expected
  ruby/ql/test/library-tests/frameworks/arel/Arel.expected
  ruby/ql/test/library-tests/frameworks/json/JsonDataFlow.expected
  ruby/ql/test/library-tests/frameworks/sinatra/Flow.expected
  ruby/ql/test/query-tests/experimental/TemplateInjection/TemplateInjection.expected
  ruby/ql/test/query-tests/experimental/cwe-022-ZipSlip/ZipSlip.expected
  ruby/ql/test/query-tests/experimental/manually-check-http-verb/ManuallyCheckHttpVerb.expected
  ruby/ql/test/query-tests/experimental/weak-params/WeakParams.expected
  ruby/ql/test/query-tests/security/cwe-020/MissingFullAnchor/MissingFullAnchor.expected
  ruby/ql/test/query-tests/security/cwe-022/PathInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/KernelOpen/KernelOpen.expected
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/StoredXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/UnsafeHtmlConstruction.expected
  ruby/ql/test/query-tests/security/cwe-089/SqlInjection.expected
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection/CodeInjection.expected
  ruby/ql/test/query-tests/security/cwe-094/UnsafeCodeConstruction/UnsafeCodeConstruction.expected
  ruby/ql/test/query-tests/security/cwe-117/LogInjection.expected
  ruby/ql/test/query-tests/security/cwe-1333-polynomial-redos/PolynomialReDoS.expected
  ruby/ql/test/query-tests/security/cwe-1333-regexp-injection/RegExpInjection.expected
  ruby/ql/test/query-tests/security/cwe-134/TaintedFormatString.expected
  ruby/ql/test/query-tests/security/cwe-209/StackTraceExposure.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextLogging.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextStorage.expected
  ruby/ql/test/query-tests/security/cwe-502/oj-global-options/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-506/HardcodedDataInterpretedAsCode.expected
  ruby/ql/test/query-tests/security/cwe-601/UrlRedirect.expected
  ruby/ql/test/query-tests/security/cwe-611/libxml-backend/Xxe.expected
  ruby/ql/test/query-tests/security/cwe-611/xxe/Xxe.expected
  ruby/ql/test/query-tests/security/cwe-732/WeakFilePermissions.expected
  ruby/ql/test/query-tests/security/cwe-798/HardcodedCredentials.expected
  ruby/ql/test/query-tests/security/cwe-807-user-controlled-bypass/ConditionalBypass.expected
  ruby/ql/test/query-tests/security/cwe-829/InsecureDownload.expected
  ruby/ql/test/query-tests/security/cwe-912/HttpToFileAccess.expected
  ruby/ql/test/query-tests/security/cwe-918/ServerSideRequestForgery.expected
  ruby/ql/test/query-tests/security/decompression-api/DecompressionApi.expected
Labels: no-change-note-required, Ruby

#12921 JS: Fix extractor crash related to recursive generic type alias
  javascript/extractor/lib/typescript/src/type_table.ts
  javascript/ql/src/change-notes/2023-04-26-typescript-compiler-crash.md
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GenericTypeAlias/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GenericTypeAlias/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GenericTypeAlias/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GenericTypeAlias/tst.ts
Labels: JS, documentation

#12913 C#: Re-factor the InappropriateEncoding query to use the new API.
  csharp/ql/src/Security Features/CWE-838/InappropriateEncoding.ql
Labels: C#, no-change-note-required

#10533 Java: Add support for java.util.StringJoiner
  java/ql/lib/change-notes/2022-09-22-stringjoiner-summaries.md
  java/ql/lib/ext/java.util.model.yml
  java/ql/test/ext/TestModels/Test.java
  java/ql/test/library-tests/dataflow/taint/StringJoinerTests.java
  java/ql/test/library-tests/dataflow/taint/test.expected
Labels: documentation, Java

#12915 Update `code-scanning` query suite name to `default`
  docs/codeql/query-help/index.rst
  docs/codeql/reusables/query-help-overview.rst
Labels: documentation, ready-for-doc-review

#12938 Swift: Implement `isAbnormalExitType`
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImplSpecific.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
Labels: no-change-note-required, Swift

#12895 JS: Update `DiagnosticLocation` call to gracefully handle invalid locations
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Labels: JS, depends on internal PR

#12922 Ruby: Fix bad join in `controllerTemplateFile`
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
Labels: no-change-note-required, Ruby

#12905 Swift: Doc review for swift/unsafe-webview-fetch
  swift/ql/src/queries/Security/CWE-079/UnsafeWebViewFetch.qhelp
Labels: documentation, no-change-note-required, ready-for-doc-review, Swift

#12906 Ruby: Prevent flow into `self` in `trackBlock`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Labels: no-change-note-required, Ruby

#12948 Dataflow: Add type to PathNode.toString.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/test/library-tests/csharp7/GlobalFlow.expected
  csharp/ql/test/library-tests/csharp7/GlobalTaintTracking.expected
  csharp/ql/test/library-tests/dataflow/async/Async.expected
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/tuples/Tuples.expected
  csharp/ql/test/library-tests/dataflow/types/Types.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/Dataflow.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-338/InsecureRandomness.expected
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/test/experimental/query-tests/security/CWE-020/Log4jInjectionTest.expected
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MyBatisAnnotationSqlInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-200/SensitiveAndroidFileLeak.expected
  java/ql/test/experimental/query-tests/security/CWE-299/DisabledRevocationChecking.expected
  java/ql/test/experimental/query-tests/security/CWE-327/UnsafeTlsVersion.expected
  java/ql/test/experimental/query-tests/security/CWE-400/LocalThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/library-tests/dataflow/partial/test.expected
  java/ql/test/library-tests/dataflow/partial/testRev.expected
  java/ql/test/query-tests/security/CWE-078/ExecTaintedLocal.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTaintedLocal.expected
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12953 C++: Add FP for `cpp/invalid-pointer-deref`
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++

#12900 C++: IR translation for static local initializers
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/IRFunctionBase.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCondition.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedGlobalVar.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRCppLanguageDebug.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/PrintConfig.qll
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/test.c
  csharp/ql/src/experimental/ir/implementation/internal/IRFunctionBase.qll
Labels: C#, C++, no-change-note-required

#12956 JS: Properly recognise Express middlewares in an array
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/test/library-tests/frameworks/Express/src/express3.js
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
  javascript/ql/test/library-tests/frameworks/Express/typed_src/shim.d.ts
  javascript/ql/test/library-tests/frameworks/Express/typed_src/tst.ts
  javascript/ql/test/library-tests/frameworks/HTTP-heuristics/tests.expected
  javascript/ql/test/library-tests/frameworks/Nest/test.expected
Labels: JS, no-change-note-required

#12954 Java: Add SrcCallable.isImplicitlyPublic convenience predicate.
  java/ql/lib/semmle/code/java/Member.qll
Labels: Java, no-change-note-required

#12960 C++: Add more FPs for `cpp/invalid-pointer-deref`
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++, no-change-note-required

#12944 Go: Add `html/template` functions as sanitisers for XSS queries
  go/ql/lib/semmle/go/security/Xss.qll
  go/ql/src/experimental/CWE-79/HTMLTemplateEscapingPassthrough.ql
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.go
  go/ql/test/query-tests/Security/CWE-079/ReflectedXssGood.go
  go/ql/test/query-tests/Security/CWE-079/StoredXssGood.go
Labels: no-change-note-required, Go

#12867 JS: Ignore more webpack modules
  javascript/ql/lib/semmle/javascript/frameworks/Bundling.qll
  javascript/ql/lib/semmle/javascript/security/regexp/RegExpTreeView.qll
Labels: JS, no-change-note-required

#12951 JS: Stop complaining about comments in JSON files
  javascript/extractor/src/com/semmle/js/parser/JSONParser.java
  javascript/extractor/tests/json/output/trap/comments.json.trap
  javascript/ql/src/change-notes/2023-04-28-json-with-comments.md
  javascript/ql/test/library-tests/JSON/JSONError.expected
Labels: JS, documentation

#12963 JS: Track interfile useRouter
  javascript/ql/lib/semmle/javascript/frameworks/Next.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/react-use-router-lib.js
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/react-use-router.js
Labels: JS, no-change-note-required

#11280 Python: Support more dictionary read/store steps
  python/ql/lib/change-notes/2022-11-15-dictionary-read-store-steps.md
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/dataflow/TestUtil/UnresolvedCalls.qll
  python/ql/test/experimental/dataflow/basic/callGraphSinks.expected
  python/ql/test/experimental/dataflow/basic/callGraphSources.expected
  python/ql/test/experimental/dataflow/basic/global.expected
  python/ql/test/experimental/dataflow/basic/globalStep.expected
  python/ql/test/experimental/dataflow/basic/local.expected
  python/ql/test/experimental/dataflow/basic/localStep.expected
  python/ql/test/experimental/dataflow/basic/maximalFlows.expected
  python/ql/test/experimental/dataflow/basic/sinks.expected
  python/ql/test/experimental/dataflow/basic/sources.expected
  python/ql/test/experimental/dataflow/fieldflow/UnresolvedCalls.ql
  python/ql/test/experimental/dataflow/fieldflow/test_dict.py
  python/ql/test/experimental/dataflow/tainttracking/basic/LocalTaintStep.expected
  python/ql/test/experimental/dataflow/validTest.py
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/UnsafeUnpack.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/options
Labels: documentation, Python
