Repository github/codeql, pull requests merged in 2023-05, with the labels that each got.

#12887 JS: Update model of js-yaml
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeDeserializationCustomizations.qll
  javascript/ql/src/change-notes/2023-04-26-unsafe-yaml-deserialization.md
  javascript/ql/test/query-tests/Security/CWE-502/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-502/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-502/UnsafeDeserialization.expected
  javascript/ql/test/query-tests/Security/CWE-502/tst.js
Labels: JS, documentation

#12949 JS: Add a few more DOM element sources
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
  javascript/ql/test/library-tests/DOM/Customizations.expected
  javascript/ql/test/library-tests/DOM/querySelectorAll.js
  javascript/ql/test/library-tests/frameworks/Angular2/source.component.ts
  javascript/ql/test/library-tests/frameworks/Angular2/test.expected
Labels: JS, no-change-note-required

#12220 add some python sinks for paramiko ssh clients
  python/ql/src/experimental/Security/CWE-074/paramiko/paramiko.qhelp
  python/ql/src/experimental/Security/CWE-074/paramiko/paramiko.ql
  python/ql/src/experimental/Security/CWE-074/paramiko/paramikoBad.py
  python/ql/test/experimental/query-tests/Security/CWE-074/paramiko/paramiko.expected
  python/ql/test/experimental/query-tests/Security/CWE-074/paramiko/paramiko.py
  python/ql/test/experimental/query-tests/Security/CWE-074/paramiko/paramiko.qlref
Labels: documentation, Python, external-contribution

#12930 Dataflow: Refactor access paths to split TypedContent into an explicit pair
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12952 C#: Re-factor ContentFlow to a parameterised module and use the new API.
  config/identical-files.json
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ContentDataFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  csharp/ql/test/library-tests/dataflow/content/ContentFlow.ql
Labels: C#, no-change-note-required

#12969 Java: Fix sink model generator for instance parameters
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
Labels: Java, no-change-note-required

#12966 C++: Dataflow for static local variables
  cpp/ql/lib/change-notes/2023-04-28-static-local-dataflow.md
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/test.cpp
Labels: C++, documentation

#12985 Ruby: add SQL injection sinks to meta query
  ruby/ql/src/queries/meta/internal/TaintMetrics.qll
Labels: no-change-note-required, Ruby

#12984 Dataflow: Replace "extends Node" with "instanceof Node".
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#12825 JS: Allow NonKeyCiphers to include truncated SHA-512 MDs in Forge JS libr…
  javascript/ql/lib/semmle/javascript/frameworks/CryptoLibraries.qll
  javascript/ql/src/change-notes/2023-04-13-Forge-truncated-sha512-hash.md
Labels: JS, documentation

#12989 C++: Add testcase with `cpp/overrun-write` FP
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/OverrunWriteProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/test.cpp
Labels: C++

#12821 Ruby: Add Rails `render inline:` as Template Injection Sink
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/src/experimental/template-injection/examples/SSTIBad.rb
  ruby/ql/src/experimental/template-injection/examples/SSTIGood.rb
  ruby/ql/test/query-tests/experimental/TemplateInjection/ErbInjection.rb
  ruby/ql/test/query-tests/experimental/TemplateInjection/TemplateInjection.expected
Labels: no-change-note-required, Ruby

#12864 Java: Erase generics in `typeAsModel` predicate used in model generator
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
Labels: Java, no-change-note-required

#13001 C#: Make implicit this receivers explicit
  csharp/ql/lib/semmle/code/cil/Attribute.qll
Labels: C#, no-change-note-required

#12999 C++: Make implicit this receivers explicit
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
Labels: C++, no-change-note-required

#13002 JS: Make implicit this receivers explicit
  javascript/ql/lib/semmle/javascript/ES2015Modules.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Labels: JS, no-change-note-required

#12967 Update links to CodeQL manual in the codeql.github.com site
  docs/codeql/codeql-cli/codeql-cli-reference.rst
  docs/codeql/codeql-cli/index.rst
  docs/codeql/codeql-cli/using-the-codeql-cli.rst
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/codeql-for-visual-studio-code/customizing-settings.rst
  docs/codeql/reusables/advanced-query-execution.rst
Labels: documentation

#13004 Python: Make implicit this receivers explicit
  python/ql/lib/semmle/python/security/dataflow/ChainedConfigs12.qll
  python/ql/src/Security/CWE-020-ExternalAPIs/ExternalAPIs.qll
  python/ql/src/Variables/Undefined.qll
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/external/DefectFilter.qll
Labels: Python, no-change-note-required

#12955 Swift: Odds and ends
  swift/ql/lib/codeql/swift/elements/decl/Method.qll
  swift/ql/lib/codeql/swift/elements/decl/TypeDecl.qll
  swift/ql/lib/codeql/swift/elements/type/Type.qll
Labels: no-change-note-required, Swift

#13005 Ruby: Make implicit this receivers explicit
  ruby/ql/lib/codeql/ruby/filters/GeneratedCode.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsSpecific.qll
Labels: no-change-note-required, Ruby

#13011 JS, Python, Ruby: Make implicit this receivers explicit
  javascript/ql/lib/semmle/javascript/security/CryptoAlgorithms.qll
  python/ql/lib/semmle/python/concepts/CryptoAlgorithms.qll
  ruby/ql/lib/codeql/ruby/security/CryptoAlgorithms.qll
Labels: JS, Python, no-change-note-required, Ruby

#12957 Go: Add `go-autobuilder --identify-environment`
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/cli/go-autobuilder/go-autobuilder_test.go
  go/extractor/cli/go-bootstrap/go-bootstrap.go
  go/extractor/cli/go-tokenizer/go-tokenizer.go
  go/extractor/diagnostics/diagnostics.go
  go/extractor/extractor.go
  go/extractor/gomodextractor.go
  go/extractor/srcarchive/projectlayout_test.go
  go/extractor/trap/trapwriter.go
Labels: Go

#13017 Swift: Fix TODO by reorganizing model imports
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/FlowSummary.qll
  swift/ql/lib/codeql/swift/frameworks/Frameworks.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/StandardLibrary.qll
  swift/ql/lib/codeql/swift/frameworks/Xml/AEXML.qll
  swift/ql/lib/codeql/swift/frameworks/Xml/Libxml2.qll
  swift/ql/lib/codeql/swift/frameworks/Xml/Xml.qll
  swift/ql/lib/codeql/swift/security/XXEExtensions.qll
Labels: Swift

#12970 C++: Barrier guards API for indirect expressions
  cpp/ql/lib/change-notes/2023-04-28-indirect-barrier-node.md
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/BarrierGuard.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.ql
Labels: C++, documentation

#12894 C#: Re-factor the UnsafeDeserializationQuery to use the new API.
  csharp/ql/lib/semmle/code/csharp/security/dataflow/UnsafeDeserializationQuery.qll
  csharp/ql/src/Security Features/CWE-502/UnsafeDeserializationUntrustedInput.ql
  csharp/ql/test/query-tests/Security Features/CWE-502/UnsafeDeserializationUntrustedInputNewtonsoftJson/UnsafeDeserializationUntrustedInput.expected
Labels: C#, no-change-note-required

#12982 C++: Handle nonreturning functions in IR generation
  cpp/ql/lib/change-notes/2023-05-02-ir-noreturn-calls.md
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/TInstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/reachability/ReachableBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/reachability/ReachableBlock.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  csharp/ql/src/experimental/ir/implementation/internal/TInstruction.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C#, C++, documentation

#13018 Go: Enable warnings for implicit this receivers
  go/ql/lib/qlpack.yml
  go/ql/src/qlpack.yml
  go/ql/test/qlpack.yml
Labels: no-change-note-required, Go

#12860 Swift: replace assertions and direct prints with proper logging
  misc/codegen/templates/cpp_classes_h.mustache
  misc/codegen/templates/cpp_for_each_label_body.mustache
  misc/codegen/templates/trap_traps_h.mustache
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftExtractor.h
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/infra/file/BUILD.bazel
  swift/extractor/infra/file/FsLogger.h
  swift/extractor/infra/file/Path.cpp
  swift/extractor/infra/file/TargetFile.cpp
  swift/extractor/infra/file/TargetFile.h
  swift/extractor/infra/log/SwiftAssert.h
  swift/extractor/infra/log/SwiftLogging.cpp
  swift/extractor/infra/log/SwiftLogging.h
  swift/extractor/invocation/SwiftInvocationExtractor.cpp
  swift/extractor/main.cpp
  swift/extractor/remapping/SwiftFileInterception.cpp
  swift/extractor/translators/DeclTranslator.cpp
  swift/extractor/translators/DeclTranslator.h
  swift/extractor/translators/ExprTranslator.cpp
  swift/extractor/translators/ExprTranslator.h
  swift/extractor/translators/PatternTranslator.h
  swift/extractor/translators/StmtTranslator.h
  swift/extractor/translators/TranslatorBase.h
  swift/extractor/translators/TypeTranslator.h
  swift/extractor/trap/TrapDomain.h
  swift/extractor/trap/TrapLabel.h
  swift/tools/qltest.sh
Labels: Swift

#13026 Python: Enable implicit this warnings
  python/ql/lib/qlpack.yml
  python/ql/src/qlpack.yml
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/library-tests/ApiGraphs/py2/use.ql
  python/ql/test/qlpack.yml
  python/ql/test/query-tests/Functions/ModificationOfParameterWithDefault/test.ql
Labels: Python, no-change-note-required

#13014 Go: Misc go cleanups
  go/extractor/cli/go-autobuilder/go-autobuilder.go
Labels: Go

#13010 Java: Make implicit this receivers explicit
  java/ql/lib/definitions.qll
  java/ql/lib/semmle/code/configfiles/ConfigFiles.qll
  java/ql/lib/semmle/code/java/Compilation.qll
  java/ql/lib/semmle/code/java/Modules.qll
  java/ql/lib/semmle/code/java/controlflow/unreachableblocks/ExcludeDebuggingProfilingLogging.qll
  java/ql/lib/semmle/code/java/dataflow/InstanceAccess.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/lib/semmle/code/java/deadcode/SpringEntryPoints.qll
  java/ql/lib/semmle/code/java/deadcode/frameworks/FitNesseEntryPoints.qll
  java/ql/lib/semmle/code/java/frameworks/Assertions.qll
  java/ql/lib/semmle/code/java/frameworks/Cucumber.qll
  java/ql/lib/semmle/code/java/frameworks/Jdbc.qll
  java/ql/lib/semmle/code/java/frameworks/Lombok.qll
  java/ql/lib/semmle/code/java/frameworks/Properties.qll
  java/ql/lib/semmle/code/java/frameworks/Rmi.qll
  java/ql/lib/semmle/code/java/frameworks/Selenium.qll
  java/ql/lib/semmle/code/java/frameworks/apache/Exec.qll
  java/ql/lib/semmle/code/java/frameworks/camel/CamelJavaAnnotations.qll
  java/ql/lib/semmle/code/java/frameworks/camel/CamelJavaDSL.qll
  java/ql/lib/semmle/code/java/frameworks/gigaspaces/GigaSpaces.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/JavaServerFaces.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/jsf/JSFAnnotations.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringCamel.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringInitializingBean.qll
  java/ql/lib/semmle/code/java/security/CommandArguments.qll
  java/ql/lib/semmle/code/java/security/FileWritable.qll
  java/ql/lib/semmle/code/java/security/HardcodedCredentials.qll
  java/ql/lib/semmle/code/java/security/HardcodedCredentialsComparison.qll
  java/ql/lib/semmle/code/java/security/SecurityFlag.qll
  java/ql/src/Frameworks/Spring/Architecture/Refactoring Opportunities/UnusedBean.ql
  java/ql/src/Language Abuse/IterableClass.qll
  java/ql/src/Language Abuse/IterableIterator.ql
  java/ql/src/Likely Bugs/Comparison/UselessComparisonTest.qll
  java/ql/src/Likely Bugs/Statements/ImpossibleCast.ql
  java/ql/src/Security/CWE/CWE-190/ComparisonWithWiderType.ql
  java/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.ql
  java/ql/src/Security/CWE/CWE-681/NumericCastCommon.qll
  java/ql/src/experimental/Security/CWE/CWE-094/SpringFrameworkLib.qll
  java/ql/src/experimental/Security/CWE/CWE-299/RevocationCheckingLib.qll
  java/ql/src/experimental/Security/CWE/CWE-327/SslLib.qll
  java/ql/src/experimental/Security/CWE/CWE-346/UnvalidatedCors.ql
  java/ql/src/experimental/Security/CWE/CWE-502/UnsafeDeserializationRmi.ql
  java/ql/test/library-tests/annotations/Annotatable.ql
  java/ql/test/library-tests/annotations/Annotation-values.ql
  java/ql/test/library-tests/annotations/AnnotationType.ql
Labels: Java, no-change-note-required

#12893 Ruby: model sqlite3
  ruby/ql/lib/change-notes/2023-05-03-sqlite3.md
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/Sqlite3.qll
  ruby/ql/test/library-tests/frameworks/sqlite3/Sqlite3.expected
  ruby/ql/test/library-tests/frameworks/sqlite3/Sqlite3.ql
  ruby/ql/test/library-tests/frameworks/sqlite3/sqlite3.rb
Labels: documentation, Ruby

#13008 Java, C#: Make implicit this receivers explicit
  csharp/ql/lib/semmle/code/csharp/dataflow/Bound.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/Sign.qll
  java/ql/lib/semmle/code/java/dataflow/Bound.qll
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/Sign.qll
Labels: C#, Java, no-change-note-required

#13012 Swift: add infrastructure for emitting JSON diagnostics
  misc/bazel/workspace.bzl
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/infra/BUILD.bazel
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/infra/file/BUILD.bazel
  swift/extractor/infra/file/FsLogger.h
  swift/extractor/infra/file/TargetFile.cpp
  swift/extractor/invocation/SwiftInvocationExtractor.cpp
  swift/extractor/main.cpp
  swift/extractor/remapping/SwiftFileInterception.cpp
  swift/extractor/trap/BUILD.bazel
  swift/extractor/trap/TrapDomain.h
  swift/logging/BUILD.bazel
  swift/logging/SwiftAssert.h
  swift/logging/SwiftDiagnostics.cpp
  swift/logging/SwiftDiagnostics.h
  swift/logging/SwiftLogging.cpp
  swift/logging/SwiftLogging.h
  swift/third_party/BUILD.binlog.bazel
  swift/third_party/BUILD.picosha2.bazel
  swift/third_party/BUILD.swift-llvm-support.bazel
  swift/third_party/binlog/BUILD.bazel
  swift/third_party/load.bzl
  swift/third_party/picosha2/BUILD.bazel
Labels: Swift

#12997 C++: Synchronize product dataflow paths on function entry points
  cpp/ql/lib/experimental/semmle/code/cpp/dataflow/ProductFlow.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/OverrunWriteProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/test.cpp
Labels: C++

#13019 Java: switch `url-open-stream` sink models to `experimentalSinkModel`
  docs/codeql/codeql-language-guides/customizing-library-models-for-java.rst
  java/documentation/library-coverage/cwe-sink.csv
  java/ql/lib/change-notes/2023-05-03-url-open-stream-as-experimental.md
  java/ql/lib/ext/com.google.common.io.model.yml
  java/ql/lib/ext/experimental/com.google.common.io.model.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/experimental/Security/CWE/CWE-036/OpenStream.ql
Labels: documentation, Java

#13035 C++: Work around poor codegen for `forex` in IR-based range analysis
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/ModulusAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeUtils.qll
Labels: C++, no-change-note-required

#13055 Shared: Fix clippy in shared extractor
  .github/workflows/tree-sitter-extractor-test.yml
  shared/tree-sitter-extractor/rust-toolchain.toml
  shared/tree-sitter-extractor/src/extractor/simple.rs
  shared/tree-sitter-extractor/src/node_types.rs
Labels: no-change-note-required

#13058 Swift: Standardize terminology for ConfigSig queries
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextLoggingQuery.qll
  swift/ql/lib/codeql/swift/security/CleartextStorageDatabaseExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextStorageDatabaseQuery.qll
  swift/ql/lib/codeql/swift/security/CleartextStoragePreferencesExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextStoragePreferencesQuery.qll
  swift/ql/lib/codeql/swift/security/CleartextTransmissionExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextTransmissionQuery.qll
  swift/ql/lib/codeql/swift/security/ConstantPasswordExtensions.qll
  swift/ql/lib/codeql/swift/security/ConstantPasswordQuery.qll
  swift/ql/lib/codeql/swift/security/ConstantSaltExtensions.qll
  swift/ql/lib/codeql/swift/security/ConstantSaltQuery.qll
  swift/ql/lib/codeql/swift/security/ECBEncryptionExtensions.qll
  swift/ql/lib/codeql/swift/security/ECBEncryptionQuery.qll
  swift/ql/lib/codeql/swift/security/HardcodedEncryptionKeyExtensions.qll
  swift/ql/lib/codeql/swift/security/HardcodedEncryptionKeyQuery.qll
  swift/ql/lib/codeql/swift/security/InsecureTLSExtensions.qll
  swift/ql/lib/codeql/swift/security/InsecureTLSQuery.qll
  swift/ql/lib/codeql/swift/security/InsufficientHashIterationsExtensions.qll
  swift/ql/lib/codeql/swift/security/InsufficientHashIterationsQuery.qll
  swift/ql/lib/codeql/swift/security/PathInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/PathInjectionQuery.qll
  swift/ql/lib/codeql/swift/security/PredicateInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/PredicateInjectionQuery.qll
  swift/ql/lib/codeql/swift/security/SqlInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/SqlInjectionQuery.qll
  swift/ql/lib/codeql/swift/security/StaticInitializationVectorExtensions.qll
  swift/ql/lib/codeql/swift/security/StaticInitializationVectorQuery.qll
  swift/ql/lib/codeql/swift/security/StringLengthConflationExtensions.qll
  swift/ql/lib/codeql/swift/security/StringLengthConflationQuery.qll
  swift/ql/lib/codeql/swift/security/UncontrolledFormatStringExtensions.qll
  swift/ql/lib/codeql/swift/security/UncontrolledFormatStringQuery.qll
  swift/ql/lib/codeql/swift/security/UnsafeJsEvalExtensions.qll
  swift/ql/lib/codeql/swift/security/UnsafeJsEvalQuery.qll
  swift/ql/lib/codeql/swift/security/UnsafeWebViewFetchExtensions.qll
  swift/ql/lib/codeql/swift/security/UnsafeWebViewFetchQuery.qll
  swift/ql/lib/codeql/swift/security/WeakSensitiveDataHashingExtensions.qll
  swift/ql/lib/codeql/swift/security/WeakSensitiveDataHashingQuery.qll
  swift/ql/lib/codeql/swift/security/XXEExtensions.qll
  swift/ql/lib/codeql/swift/security/XXEQuery.qll
  swift/ql/test/query-tests/Security/CWE-022/testPathInjection.swift
Labels: no-change-note-required, Swift

#13030 C#: Never treat warnings as error in the extractor
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/CompilerVersion.cs
  csharp/ql/integration-tests/posix-only/warn_as_error/Errors.expected
  csharp/ql/integration-tests/posix-only/warn_as_error/Errors.ql
  csharp/ql/integration-tests/posix-only/warn_as_error/Program.cs
  csharp/ql/integration-tests/posix-only/warn_as_error/WarnAsError.csproj
  csharp/ql/integration-tests/posix-only/warn_as_error/build.sh
  csharp/ql/integration-tests/posix-only/warn_as_error/test.py
Labels: C#, no-change-note-required

#12852 Java: Model `io.jsonwebtoken.SigningKeyResolverAdapter` and `io.jsonwebtoken.JwsHeader`
  java/ql/lib/change-notes/2023-04-20-create-model-for-io-jsonwebtoken.md
  java/ql/lib/ext/io.jsonwebtoken.model.yml
  java/ql/lib/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/lib/semmle/code/java/frameworks/IoJsonWebToken.qll
  java/ql/test/library-tests/dataflow/taintsources/JwsSigningKeyResolverAdapter.java
  java/ql/test/library-tests/dataflow/taintsources/options
  java/ql/test/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/JwsHeader.java
  java/ql/test/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/SigningKeyResolver.java
  java/ql/test/stubs/jwtk-jjwt-0.11.2/io/jsonwebtoken/SigningKeyResolverAdapter.java
Labels: documentation, Java

#12935 Java: Update customizing library models for java documentation.
  docs/codeql/codeql-language-guides/customizing-library-models-for-java.rst
Labels: documentation

#13036 Java: Minor perf fix for typePrefixContainsAux1.
  java/ql/lib/semmle/code/java/Type.qll
Labels: Java, no-change-note-required

#13037 Java: Enable implicit this receiver warnings
  java/ql/lib/qlpack.yml
  java/ql/src/qlpack.yml
  java/ql/test/qlpack.yml
Labels: Java, no-change-note-required

#13067 Ruby: Remove local identity flow steps
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/test/library-tests/ast/CONSISTENCY/DataFlowConsistency.expected
  ruby/ql/test/library-tests/ast/calls/CONSISTENCY/DataFlowConsistency.expected
Labels: no-change-note-required, Ruby

#13074 C++: Add QLDoc to `getOverflow`
  cpp/ql/src/experimental/Likely Bugs/OverrunWriteProductFlow.ql
Labels: C++

#12896 Swift: Fix member variable CSV sinks (swift/insecure-tls)
  swift/ql/.generated.list
  swift/ql/.gitattributes
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPublic.qll
  swift/ql/lib/codeql/swift/elements/type/DynamicSelfType.qll
  swift/ql/lib/codeql/swift/security/HardcodedEncryptionKeyExtensions.qll
  swift/ql/lib/codeql/swift/security/InsecureTLSExtensions.qll
  swift/ql/lib/codeql/swift/security/PathInjectionExtensions.qll
  swift/ql/test/extractor-tests/generated/type/DynamicSelfType/DynamicSelfType.expected
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/query-tests/Security/CWE-022/PathInjectionTest.ql
  swift/ql/test/query-tests/Security/CWE-022/testPathInjection.swift
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.expected
  swift/ql/test/query-tests/Security/CWE-321/misc.swift
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.swift
Labels: no-change-note-required, Swift

#12909 C#: Re-factor the experimental PotentialTimeBomb to use new API.
  csharp/ql/src/experimental/Security Features/backdoor/PotentialTimeBomb.ql
  csharp/ql/test/experimental/Security Features/backdoor/PotentialTimeBomb.expected
Labels: C#, no-change-note-required

#13021 Update screenshots for changes to variant analysis results view
  docs/codeql/codeql-for-visual-studio-code/troubleshooting-variant-analysis.rst
  docs/codeql/images/codeql-for-visual-studio-code/variant-analysis-results-view.png
  docs/codeql/images/codeql-for-visual-studio-code/variant-analysis-results-warning.png
Labels: documentation, ready-for-doc-review

#13076 JS: Fix broken message in example query
  javascript/ql/examples/queries/dataflow/DecodingAfterSanitization/DecodingAfterSanitizationGeneralized.ql
Labels: JS, no-change-note-required

#13090 JS: Prevent join order regression
  javascript/ql/lib/semmle/javascript/security/dataflow/SecondOrderCommandInjectionCustomizations.qll
Labels: JS, no-change-note-required

#13098 Python: Update expected test output
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.expected
Labels: Python

#12978 JS: Add sources and sinks related to GitHub Actions
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/frameworks/ActionsLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/src/change-notes/2023-05-02-github-actions-sources.md
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/actions.js
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection/actions.js
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/actions.js
Labels: JS, documentation

#13059 C++: Remove self edges
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Labels: C++, no-change-note-required

#13078 C#, C++: Make implicit this receivers explicit
  cpp/ql/lib/semmle/code/cpp/ir/implementation/IRType.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/IRFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/OperandTag.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/IRFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/IRFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  csharp/ql/src/experimental/ir/implementation/IRType.qll
  csharp/ql/src/experimental/ir/implementation/Opcode.qll
  csharp/ql/src/experimental/ir/implementation/internal/OperandTag.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRFunction.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRVariable.qll
  csharp/ql/src/experimental/ir/implementation/raw/PrintIR.qll
  csharp/ql/src/experimental/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/common/TranslatedCallBase.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/common/TranslatedConditionBase.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/common/TranslatedDeclarationBase.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/desugar/Common.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/desugar/Delegate.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/desugar/Foreach.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/desugar/Lock.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedDeclaration.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedElement.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRFunction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRVariable.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/PrintIR.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/AliasConfiguration.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
Labels: C#, C++, no-change-note-required

#13079 C#: Make implicit this receivers explicit
  csharp/ql/lib/Linq/Helpers.qll
  csharp/ql/lib/semmle/code/cil/Handler.qll
  csharp/ql/lib/semmle/code/csharp/Comments.qll
  csharp/ql/lib/semmle/code/csharp/commons/Compilation.qll
  csharp/ql/lib/semmle/code/csharp/commons/StructuralComparison.qll
  csharp/ql/lib/semmle/code/csharp/dispatch/RuntimeCallable.qll
  csharp/ql/lib/semmle/code/csharp/exprs/ComparisonOperation.qll
  csharp/ql/lib/semmle/code/csharp/security/cryptography/EncryptionKeyDataFlowQuery.qll
  csharp/ql/src/Bad Practices/Comments/CommentedOutCode.ql
  csharp/ql/src/Dead Code/DeadRefTypes.ql
  csharp/ql/src/Language Abuse/MissedUsingOpportunity.ql
  csharp/ql/src/Likely Bugs/Collections/ContainerSizeCmpZero.ql
  csharp/ql/src/Likely Bugs/DangerousNonShortCircuitLogic.ql
  csharp/ql/src/Likely Bugs/Dynamic/BadDynamicCall.ql
  csharp/ql/src/Likely Bugs/ObjectComparison.ql
  csharp/ql/src/Likely Bugs/PossibleLossOfPrecision.ql
  csharp/ql/src/Likely Bugs/Statements/UseBraces.ql
  csharp/ql/src/Security Features/CWE-352/MissingAntiForgeryTokenValidation.ql
  csharp/ql/src/experimental/dataflow/flowsources/AuthCookie.qll
  csharp/ql/src/experimental/ir/internal/CSharpType.qll
  csharp/ql/src/experimental/ir/rangeanalysis/Bound.qll
  csharp/ql/src/experimental/ir/rangeanalysis/RangeAnalysis.qll
  csharp/ql/test/library-tests/assemblies/assemblies.ql
Labels: C#, no-change-note-required

#13100 C++: Fix the location of order-by in experimental `RangeNode`
  cpp/ql/lib/experimental/semmle/code/cpp/rangeanalysis/extensions/RangeNode.qll
Labels: C++

#12980 python: update debug queries
  python/ql/test/experimental/dataflow/testConfig.qll
  python/ql/test/experimental/dataflow/testTaintConfig.qll
  python/ql/test/experimental/meta/debug/InlineTaintTestPaths.ql
  python/ql/test/experimental/meta/debug/dataflowTestPaths.ql
Labels: Python, no-change-note-required

#13034 Swift: Delete some TODO comments
  swift/ql/lib/codeql/swift/elements/decl/PrecedenceGroupDecl.qll
  swift/ql/lib/codeql/swift/elements/expr/TupleElementExpr.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/FilePath.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsUrl.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/WebView.qll
  swift/ql/lib/codeql/swift/security/CleartextStoragePreferencesExtensions.qll
  swift/ql/lib/codeql/swift/security/PathInjectionExtensions.qll
  swift/ql/test/query-tests/Security/CWE-611/testLibxmlXXE.swift
Labels: no-change-note-required, Swift

#13038 Go: Downgrade go/autobuilder/package-not-found diagnostic to warning
  go/extractor/diagnostics/diagnostics.go
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-with-go-mod/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-without-go-mod/diagnostics.expected
Labels: Go

#13032 Ruby: Enable implicit this warnings
  ruby/ql/lib/codeql/ruby/frameworks/core/Gem.qll
  ruby/ql/lib/qlpack.yml
  ruby/ql/src/qlpack.yml
  ruby/ql/src/queries/meta/internal/TaintMetrics.qll
  ruby/ql/test/library-tests/dataflow/api-graphs/use.ql
  ruby/ql/test/qlpack.yml
Labels: no-change-note-required, Ruby

#13102 C#: Enable implicit this receiver warnings
  csharp/ql/lib/qlpack.yml
  csharp/ql/src/qlpack.yml
  csharp/ql/test/qlpack.yml
Labels: C#, no-change-note-required

#13084 C++: Make implicit this receivers explicit
  cpp/ql/lib/upgrades/282c13bfdbcbd57a887972b47a471342a4ad5507/member_function_this_type.ql
Labels: C++, no-change-note-required

#12965 Java: Add manual models for `org.apache.commons.net`
  java/ql/lib/change-notes/2023-05-02-apache-commons-net-models.md
  java/ql/lib/ext/org.apache.commons.net.model.yml
Labels: documentation, Java

#13106 C++: Enable implicit this warnings
  cpp/ql/lib/qlpack.yml
  cpp/ql/lib/semmle/code/cpp/controlflow/StackVariableReachability.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
  cpp/ql/src/qlpack.yml
  cpp/ql/test/qlpack.yml
Labels: C++, no-change-note-required

#13101 C++: Cleanup `CallAllocationExprBase` with module signature members
  cpp/ql/lib/semmle/code/cpp/models/implementations/Allocation.qll
Labels: C++, no-change-note-required

#13107 Minor docs updates for Swift public beta
  docs/codeql/query-help/codeql-cwe-coverage.rst
  docs/codeql/query-help/index.rst
  docs/codeql/query-help/swift-cwe.md
  docs/codeql/query-help/swift.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
Labels: documentation, no-change-note-required

#11732 Go: Allow data flow through varargs parameters
  go/ql/lib/change-notes/2023-04-25-data-flow-varargs-parameters.md
  go/ql/lib/semmle/go/Expr.qll
  go/ql/lib/semmle/go/StringOps.qll
  go/ql/lib/semmle/go/dataflow/FunctionInputsAndOutputs.qll
  go/ql/lib/semmle/go/dataflow/internal/ContainerFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
  go/ql/lib/semmle/go/frameworks/Beego.qll
  go/ql/lib/semmle/go/frameworks/BeegoOrm.qll
  go/ql/lib/semmle/go/frameworks/ElazarlGoproxy.qll
  go/ql/lib/semmle/go/frameworks/Email.qll
  go/ql/lib/semmle/go/frameworks/Glog.qll
  go/ql/lib/semmle/go/frameworks/Logrus.qll
  go/ql/lib/semmle/go/frameworks/Revel.qll
  go/ql/lib/semmle/go/frameworks/SQL.qll
  go/ql/lib/semmle/go/frameworks/Spew.qll
  go/ql/lib/semmle/go/frameworks/SystemCommandExecutors.qll
  go/ql/lib/semmle/go/frameworks/Zap.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Fmt.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Log.qll
  go/ql/lib/semmle/go/frameworks/stdlib/NetHttp.qll
  go/ql/lib/semmle/go/security/CommandInjection.qll
  go/ql/lib/semmle/go/security/Xss.qll
  go/ql/src/Security/CWE-352/ConstantOauth2State.ql
  go/ql/src/Security/CWE-601/BadRedirectCheck.ql
  go/ql/src/experimental/frameworks/CleverGo.qll
  go/ql/src/experimental/frameworks/Fiber.qll
  go/ql/test/experimental/frameworks/CleverGo/UntrustedSources.go
  go/ql/test/experimental/frameworks/CleverGo/stubs.go
  go/ql/test/experimental/frameworks/Fiber/UntrustedFlowSources.go
  go/ql/test/experimental/frameworks/Fiber/stubs.go
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowVarArgs/main.go
  go/ql/test/library-tests/semmle/go/dataflow/Nodes/CallNode_getArgument.expected
  go/ql/test/library-tests/semmle/go/dataflow/VarArgs/main.go
  go/ql/test/library-tests/semmle/go/frameworks/SQL/Gorm/gorm.ql
Labels: documentation, Go

#13105 Go: Update "go/autobuilder/package-not-found" diagnostic message
  go/extractor/diagnostics/diagnostics.go
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-with-go-mod/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-without-go-mod/diagnostics.expected
Labels: Go

#13108 Swift: Make implicit this receivers explicit
  swift/ql/lib/codeql/swift/elements/AvailabilityInfo.qll
  swift/ql/lib/codeql/swift/elements/KeyPathComponent.qll
  swift/ql/lib/codeql/swift/elements/Locatable.qll
  swift/ql/lib/codeql/swift/elements/PlatformVersionAvailabilitySpec.qll
  swift/ql/lib/codeql/swift/elements/decl/ExtensionDecl.qll
  swift/ql/lib/codeql/swift/elements/expr/IdentityExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/UnresolvedDeclRefExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/UnresolvedDotExpr.qll
  swift/ql/lib/codeql/swift/elements/pattern/BindingPattern.qll
  swift/ql/lib/codeql/swift/elements/pattern/ParenPattern.qll
  swift/ql/lib/codeql/swift/elements/type/TypeRepr.qll
Labels: no-change-note-required, Swift

#13087 Swift: surface errors about no viable swift targets found
  swift/integration-tests/osx-only/autobuilder/no-swift-with-spm/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/no-swift-with-spm/hello-objective.xcodeproj/project.pbxproj
  swift/integration-tests/osx-only/autobuilder/no-swift-with-spm/hello-objective.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  swift/integration-tests/osx-only/autobuilder/no-swift-with-spm/hello-objective.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  swift/integration-tests/osx-only/autobuilder/no-swift-with-spm/hello-objective/Package.swift
  swift/integration-tests/osx-only/autobuilder/no-swift-with-spm/hello-objective/main.m
  swift/integration-tests/osx-only/autobuilder/no-swift-with-spm/test.py
  swift/integration-tests/osx-only/autobuilder/no-swift/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/no-swift/hello-objective.xcodeproj/project.pbxproj
  swift/integration-tests/osx-only/autobuilder/no-swift/hello-objective.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  swift/integration-tests/osx-only/autobuilder/no-swift/hello-objective.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  swift/integration-tests/osx-only/autobuilder/no-swift/hello-objective/main.m
  swift/integration-tests/osx-only/autobuilder/no-swift/test.py
  swift/integration-tests/osx-only/autobuilder/no-xcode-with-spm/Package.swift
  swift/integration-tests/osx-only/autobuilder/no-xcode-with-spm/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/no-xcode-with-spm/test.py
  swift/integration-tests/osx-only/autobuilder/no-xcode-with-spm/x.swift
  swift/integration-tests/osx-only/autobuilder/only-tests-with-spm/Package.swift
  swift/integration-tests/osx-only/autobuilder/only-tests-with-spm/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/only-tests-with-spm/hello-tests.xcodeproj/project.pbxproj
  swift/integration-tests/osx-only/autobuilder/only-tests-with-spm/hello-tests.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  swift/integration-tests/osx-only/autobuilder/only-tests-with-spm/test.py
  swift/integration-tests/osx-only/autobuilder/only-tests/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/only-tests/hello-tests.xcodeproj/project.pbxproj
  swift/integration-tests/osx-only/autobuilder/only-tests/hello-tests.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  swift/integration-tests/osx-only/autobuilder/only-tests/test.py
  swift/xcode-autobuilder/XcodeProjectParser.cpp
  swift/xcode-autobuilder/XcodeProjectParser.h
  swift/xcode-autobuilder/XcodeTarget.h
  swift/xcode-autobuilder/tests/autobuild_tester.py
  swift/xcode-autobuilder/tests/hello-tests/commands.expected
  swift/xcode-autobuilder/tests/hello-tests/hello-tests.xcodeproj/project.pbxproj
  swift/xcode-autobuilder/tests/hello-tests/hello-tests.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  swift/xcode-autobuilder/xcode-autobuilder.cpp
Labels: Swift

#13015 JS: Make implicit this receivers explicit
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointCharacteristics.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointTypes.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/NosqlInjectionATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/TaintedPathATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/Labels.qll
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/Queries.qll
Labels: no-change-note-required, ATM

#12971 C++: Fix more FPs on `cpp/invalid-pointer-deref`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++, no-change-note-required

#12941 Swift: Add taint sources for UITextField
  swift/ql/lib/codeql/swift/frameworks/Frameworks.qll
  swift/ql/lib/codeql/swift/frameworks/UIKit/UIKit.qll
  swift/ql/lib/codeql/swift/frameworks/UIKit/UITextField.qll
  swift/ql/test/library-tests/dataflow/flowsources/uikit.swift
Labels: no-change-note-required, Swift

#13086 Kotlin: Remove some redundant return statments
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#13088 Kotlin: Small simplification
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#13125 Remove ql/implicit-this restriction to files with explicit this
  ql/ql/src/codeql_ql/style/ImplicitThisQuery.qll
  ql/ql/test/queries/style/ImplicitThis/Bad2.qll
  ql/ql/test/queries/style/ImplicitThis/ImplicitThis.expected
  ql/ql/test/queries/style/ImplicitThis/Okay.qll
Labels: no-change-note-required, QL-for-QL

#13126 Go: Add identify-environment scripts
  go/codeql-tools/identify-environment.cmd
  go/codeql-tools/identify-environment.sh
Labels: Go

#13115 Swift: Accept standardized CSV sink labels
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
  swift/ql/lib/codeql/swift/security/SqlInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/UncontrolledFormatStringExtensions.qll
  swift/ql/lib/codeql/swift/security/UnsafeJsEvalExtensions.qll
Labels: no-change-note-required, Swift

#13124 C#: Only report dataflow inconsistencies (step to itself) in source code.
  csharp/ql/consistency-queries/DataFlowConsistency.ql
  csharp/ql/test/library-tests/cil/attributes/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/consistency/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/dataflow/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/enums/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/functionPointers/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/init-only-prop/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/pdbs/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/regressions/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/typeAnnotations/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/commons/Disposal/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/controlflow/guards/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/csharp11/cil/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/CONSISTENCY/DataFlowConsistency.expected
Labels: C#

#13122 Java: Update MaD Declarations after Triage
  java/ql/lib/change-notes/2023-05-11-new-models.md
  java/ql/lib/ext/org.apache.hadoop.fs.model.yml
Labels: documentation, Java

#13129 Go: --identify-environment output to stdout
  go/extractor/cli/go-autobuilder/go-autobuilder.go
Labels: Go

#13128 Java: Fix ExternalApi.jarContainer().
  java/ql/src/Telemetry/ExternalApi.qll
Labels: Java, no-change-note-required

#12830 Java: Automodel Framework Mode Extraction Queries
  java/ql/src/Telemetry/AutomodelEndpointTypes.qll
  java/ql/src/Telemetry/AutomodelFrameworkModeCharacteristics.qll
  java/ql/src/Telemetry/AutomodelFrameworkModeExtractCandidates.ql
  java/ql/src/Telemetry/AutomodelFrameworkModeExtractNegativeExamples.ql
  java/ql/src/Telemetry/AutomodelFrameworkModeExtractPositiveExamples.ql
  java/ql/src/Telemetry/AutomodelSharedCharacteristics.qll
  java/ql/src/Telemetry/AutomodelSharedUtil.qll
Labels: Java, no-change-note-required

#13042 Kotlin: Remove ODASA_JAVA_LAYOUT support
  java/kotlin-extractor/src/main/java/com/semmle/extractor/java/OdasaOutput.java
Labels: Kotlin

#13119 Go : Add query to detect potential timing attacks
  go/ql/lib/semmle/go/security/SensitiveActions.qll
  go/ql/src/experimental/CWE-203/Timing.qhelp
  go/ql/src/experimental/CWE-203/Timing.ql
  go/ql/src/experimental/CWE-203/timingBad.go
  go/ql/src/experimental/CWE-203/timingGood.go
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-203/Timing.qlref
  go/ql/test/experimental/CWE-203/timing.go
Labels: documentation, no-change-note-required, Go

#12901 Go: Add query to detect DSN Injection.
  go/ql/src/experimental/CWE-134/DsnBad.go
  go/ql/src/experimental/CWE-134/DsnGood.go
  go/ql/src/experimental/CWE-134/DsnInjection.qhelp
  go/ql/src/experimental/CWE-134/DsnInjection.ql
  go/ql/src/experimental/CWE-134/DsnInjectionCustomizations.qll
  go/ql/src/experimental/CWE-134/DsnInjectionLocal.ql
  go/ql/test/experimental/CWE-134/Dsn.go
  go/ql/test/experimental/CWE-134/DsnInjection.expected
  go/ql/test/experimental/CWE-134/DsnInjection.qlref
  go/ql/test/experimental/CWE-134/DsnInjectionLocal.expected
  go/ql/test/experimental/CWE-134/DsnInjectionLocal.qlref
Labels: documentation, Go

#13121 JS: Make implicit this receivers explicit
  javascript/ql/lib/semmle/javascript/linters/ESLint.qll
  javascript/ql/lib/semmle/javascript/meta/ExtractionMetrics.qll
Labels: JS, no-change-note-required

#13099 C++: Use heuristic allocation functions in `cpp/overrun-write`
  cpp/ql/lib/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/src/experimental/Likely Bugs/OverrunWriteProductFlow.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/OverrunWriteProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/test.cpp
Labels: C++, no-change-note-required

#13138 JS: Enable implicit this receiver warnings
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/frameworks/AngularJS/AngularJSCore.qll
  javascript/ql/src/qlpack.yml
  javascript/ql/test/qlpack.yml
  javascript/ql/test/tutorials/Validating RAML-based APIs/query1.ql
  javascript/ql/test/tutorials/Validating RAML-based APIs/query2.ql
  javascript/ql/test/tutorials/Validating RAML-based APIs/query3.ql
  javascript/ql/test/tutorials/Validating RAML-based APIs/query4.ql
Labels: JS, no-change-note-required

#13141 QL: Enable implicit this receiver warnings
  ql/ql/src/codeql/Locations.qll
  ql/ql/src/codeql_ql/style/UseSetLiteralQuery.qll
  ql/ql/src/qlpack.yml
  ql/ql/test/callgraph/Foo.qll
  ql/ql/test/callgraph/callgraph.expected
Labels: no-change-note-required, QL-for-QL

#13144 Go: Make implicit this receivers explicit
  go/ql/test/TestUtilities/InlineFlowTest.qll
Labels: no-change-note-required, Go

#13145 JS: Make implicit this receivers explicit
  javascript/ql/test/tutorials/Validating RAML-based APIs/RAML.qll
Labels: JS, no-change-note-required

#13151 JavaScript: Use gender-neutral language in qhelp for js/user-controlled-bypass
  javascript/ql/src/Security/CWE-807/example.inc.qhelp
Labels: JS, documentation, no-change-note-required

#13155 C++: Add FP test case for `cpp/invalid-pointer-deref`
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
Labels: C++

#13152 JavaScript: Use synchronous APIs in examples for js/shell-command-constructed-from-input.
  javascript/ql/src/Security/CWE-078/examples/unsafe-shell-command-construction.js
  javascript/ql/src/Security/CWE-078/examples/unsafe-shell-command-construction_fixed.js
Labels: JS, no-change-note-required

#13148 Kotlin: Add some documentation on arrays, and tweak the tests we use for them
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Labels: Kotlin

#13131 Swift: Emit a diagnostic when attempting to use the autobuilder on Linux.
  swift/BUILD.bazel
  swift/integration-tests/diagnostics_test_utils.py
  swift/integration-tests/linux-only/autobuilder/unsupported-os/diagnostics.expected
  swift/integration-tests/linux-only/autobuilder/unsupported-os/test.py
  swift/tools/autobuild.sh
  swift/tools/autobuilder-diagnostics/BUILD.bazel
  swift/tools/autobuilder-diagnostics/IncompatibleOs.cpp
Labels: Swift

#13031 C#: Remove local identity flow steps
  csharp/ql/consistency-queries/DataFlowConsistency.ql
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/experimental/ir/offbyone/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/attributes/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/consistency/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/dataflow/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/enums/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/functionPointers/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/init-only-prop/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/pdbs/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/regressions/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/typeAnnotations/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/commons/Disposal/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/controlflow/graph/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/controlflow/guards/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/controlflow/splits/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/csharp11/cil/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/dataflow/defuse/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/dataflow/global/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/dataflow/ssa/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/query-tests/Nullness/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/query-tests/Security Features/CWE-022/ZipSlip/CONSISTENCY/DataFlowConsistency.expected
Labels: C#, no-change-note-required

#12748 JS: Add more sources, more unit tests, fixes to the GitHub Actions injection query
  javascript/ql/lib/change-notes/2023-04-03-gh-injection.md
  javascript/ql/lib/semmle/javascript/Actions.qll
  javascript/ql/src/Security/CWE-094/ExpressionInjection.qhelp
  javascript/ql/src/Security/CWE-094/ExpressionInjection.ql
  javascript/ql/src/Security/CWE-094/examples/comment_issue_bad_env.yml
  javascript/ql/src/experimental/Security/CWE-094/UntrustedCheckout.ql
  javascript/ql/test/experimental/Security/CWE-094/UntrustedCheckout.expected
  javascript/ql/test/experimental/Security/CWE-094/empty.js
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/.github/workflows/comment_issue.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/.github/workflows/discussion.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/.github/workflows/discussion_comment.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/.github/workflows/gollum.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/.github/workflows/issues.yaml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/.github/workflows/pull_request_review.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/.github/workflows/pull_request_review_comment.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/.github/workflows/pull_request_target.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/.github/workflows/push.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/.github/workflows/workflow_run.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/ExpressionInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/action1/action.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/action2/action.yml
  javascript/ql/test/query-tests/Security/CWE-094/ExpressionInjection/empty.js
Labels: JS, documentation

#13113 python: Add tests for container steps
  python/ql/test/experimental/dataflow/coverage/test_builtins.py
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_collections.py
  python/ql/test/experimental/dataflow/validTest.py
Labels: Python, no-change-note-required

#13133 Swift: add location and visibility support to TSP diagnostics
  swift/integration-tests/diagnostics_test_utils.py
  swift/logging/BUILD.bazel
  swift/logging/SwiftDiagnostics.cpp
  swift/logging/SwiftDiagnostics.h
  swift/logging/SwiftLogging.cpp
  swift/logging/SwiftLogging.h
  swift/third_party/BUILD.fmt.bazel
  swift/third_party/load.bzl
  swift/tools/autobuilder-diagnostics/IncompatibleOs.cpp
  swift/xcode-autobuilder/CustomizingBuildDiagnostics.h
  swift/xcode-autobuilder/XcodeBuildRunner.cpp
  swift/xcode-autobuilder/xcode-autobuilder.cpp
Labels: Swift

#13077 Ruby: Improvements to `RegExpTracking`
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/lib/codeql/ruby/regexp/internal/RegExpTracking.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
Labels: Python, no-change-note-required, Ruby

#13135 Go: fix unit test
  go/Makefile
  go/extractor/cli/go-autobuilder/go-autobuilder_test.go
Labels: Go

#13165 JS: fixup in the qhelp for `js/prototype-polluting-assignment`
  javascript/ql/src/Security/CWE-915/PrototypePollutingAssignment.inc.qhelp
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingAssignmentFixed2.js
Labels: JS, documentation

#13166 Java: Add `XPath.evaluate` as XXE sink
  java/ql/lib/semmle/code/java/security/XmlParsers.qll
  java/ql/src/change-notes/2023-05-15-xpath-xxe-sink.md
  java/ql/test/query-tests/security/CWE-611/XPathExpressionTests.java
  java/ql/test/query-tests/security/CWE-611/XXE.expected
Labels: documentation, Java

#13149 C++: Block flow through back-edges in `cpp/overrun-write`
  cpp/ql/src/experimental/Likely Bugs/OverrunWriteProductFlow.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/OverrunWriteProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/test.cpp
Labels: C++

#13169 Swift: Use `...` to find and run all Bazel tests instead of having list them.
  swift/actions/build-and-test/action.yml
Labels: Swift

#13180 Java: Hide GHA variables in `java-version-too-old` test
  java/ql/integration-tests/all-platforms/java/diagnostics/java-version-too-old/test.py
Labels: Java

#13181 Swift: turn internal error into a TSP warning
  swift/logging/SwiftDiagnostics.cpp
  swift/logging/SwiftDiagnostics.h
  swift/tools/autobuilder-diagnostics/IncompatibleOs.cpp
  swift/xcode-autobuilder/CustomizingBuildDiagnostics.h
  swift/xcode-autobuilder/XcodeBuildRunner.cpp
  swift/xcode-autobuilder/xcode-autobuilder.cpp
Labels: Swift

#13182 C++: Add example with conflation in dataflow
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++, no-change-note-required

#13167 Swift: Fix some FPs from the sensitive data library
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextStorageDatabaseExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextStoragePreferencesExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextTransmissionExtensions.qll
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testRealm.swift
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
Labels: no-change-note-required, Swift

#13184 Swift: Mirror changes made in the tutorial docs.
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
Labels: no-change-note-required, Swift

#13177 Swift: Recommend a proper source of randomness in `swift/hardcoded-key`
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.swift
Labels: Swift

#13187 Java: Use empty toolchains.xml for java-version-too-old
  java/ql/integration-tests/all-platforms/java/diagnostics/java-version-too-old/test.py
  java/ql/integration-tests/all-platforms/java/diagnostics/java-version-too-old/toolchains.xml
Labels: Java

#13142 C++: Restrict flow-state space of `cpp/overrun-write`
  cpp/ql/src/experimental/Likely Bugs/OverrunWriteProductFlow.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/OverrunWriteProductFlow.expected
Labels: C++, no-change-note-required

#13183 C#: Include arguments to `ILogger` extension method calls in `LogMessageSink`
  csharp/ql/lib/change-notes/2023-05-16-ilogger-extension-methods.md
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/ExternalLocationSink.qll
  csharp/ql/test/query-tests/Security Features/CWE-117/LogForging.cs
  csharp/ql/test/query-tests/Security Features/CWE-117/LogForging.expected
Labels: C#, documentation

#13068 Ruby: Include `self` parameters in type tracking flow-through logic
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/calls.rb
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
Labels: no-change-note-required, Ruby

#13185 Java: Automodel Extraction Parameter Name Fix
  java/ql/src/Telemetry/AutomodelFrameworkModeCharacteristics.qll
  java/ql/src/Telemetry/AutomodelFrameworkModeExtractCandidates.ql
  java/ql/src/Telemetry/AutomodelFrameworkModeExtractNegativeExamples.ql
  java/ql/src/Telemetry/AutomodelFrameworkModeExtractPositiveExamples.ql
Labels: Java, no-change-note-required

#13197 C++: Add forgotten test annotation for `cpp/invalid-pointer-deref` test
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Labels: C++

#13199 C++: Add forgotten `private` specifiers in product flow
  cpp/ql/lib/experimental/semmle/code/cpp/dataflow/ProductFlow.qll
Labels: C++

#13201 Swift: bump all versions to 0.1.0
  swift/codeql-extractor.yml
  swift/ql/lib/qlpack.yml
  swift/ql/src/qlpack.yml
Labels: Swift

#13194 JS: remove mention of TrackedNode from docs
  docs/codeql/codeql-language-guides/codeql-library-for-javascript.rst
  javascript/ql/test/tutorials/Introducing the JavaScript libraries/query17.qll
  javascript/ql/test/tutorials/Introducing the JavaScript libraries/tests.expected
  javascript/ql/test/tutorials/Introducing the JavaScript libraries/tst.js
Labels: JS, documentation, no-change-note-required

#13139 C++: Speedup product dataflow
  cpp/ql/lib/experimental/semmle/code/cpp/dataflow/ProductFlow.qll
Labels: C++, no-change-note-required

#13204 C#: Add extension method testcase for Models as Data.
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ext.yml
Labels: C#

#13200 C++: Implement the `subpaths` query predicate for `cpp/invalid-pointer-deref`
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
Labels: C++

#13192 Change regexp to include released change-notes pattern
  .github/workflows/check-change-note.yml
Labels: no-change-note-required

#12932 Java: Promote experimental XXE sinks
  java/ql/lib/semmle/code/java/dataflow/RangeUtils.qll
  java/ql/lib/semmle/code/java/frameworks/apache/CommonsXml.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/Xml.qll
  java/ql/lib/semmle/code/java/frameworks/javase/Beans.qll
  java/ql/lib/semmle/code/java/frameworks/rundeck/RundeckXml.qll
  java/ql/lib/semmle/code/java/security/XmlParsers.qll
  java/ql/src/change-notes/2023-04-26-xxe-sinks-promotion.md
  java/ql/src/experimental/Security/CWE/CWE-611/XXE.java
  java/ql/src/experimental/Security/CWE/CWE-611/XXE.qhelp
  java/ql/src/experimental/Security/CWE/CWE-611/XXE.ql
  java/ql/src/experimental/Security/CWE/CWE-611/XXELib.qll
  java/ql/src/experimental/Security/CWE/CWE-611/XXELocal.qhelp
  java/ql/src/experimental/Security/CWE/CWE-611/XXELocal.ql
  java/ql/test/experimental/query-tests/security/CWE-611/XXE.expected
  java/ql/test/experimental/query-tests/security/CWE-611/XXE.java
  java/ql/test/experimental/query-tests/security/CWE-611/XXE.qlref
  java/ql/test/experimental/query-tests/security/CWE-611/options
  java/ql/test/query-tests/security/CWE-611/DigesterTests.java
  java/ql/test/query-tests/security/CWE-611/DocumentBuilderTests.java
  java/ql/test/query-tests/security/CWE-611/ParserHelperTests.java
  java/ql/test/query-tests/security/CWE-611/SAXBuilderTests.java
  java/ql/test/query-tests/security/CWE-611/SAXParserTests.java
  java/ql/test/query-tests/security/CWE-611/SAXReaderTests.java
  java/ql/test/query-tests/security/CWE-611/SAXSourceTests.java
  java/ql/test/query-tests/security/CWE-611/SchemaTests.java
  java/ql/test/query-tests/security/CWE-611/SimpleXMLTests.java
  java/ql/test/query-tests/security/CWE-611/TransformerTests.java
  java/ql/test/query-tests/security/CWE-611/UnmarshallerTests.java
  java/ql/test/query-tests/security/CWE-611/ValidatorTests.java
  java/ql/test/query-tests/security/CWE-611/XMLDecoderTests.java
  java/ql/test/query-tests/security/CWE-611/XMLReaderTests.java
  java/ql/test/query-tests/security/CWE-611/XPathExpressionTests.java
  java/ql/test/query-tests/security/CWE-611/XXE.expected
  java/ql/test/query-tests/security/CWE-611/XXE.ql
  java/ql/test/query-tests/security/CWE-611/XXE.qlref
  java/ql/test/query-tests/security/CWE-611/XmlInputFactoryTests.java
  java/ql/test/query-tests/security/CWE-611/options
Labels: documentation, Java

#13203 C++: Use range analysis-based `hasSize` predicate in `cpp/invalid-pointer-deref`
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
Labels: C++

#13215 C++: Update documentation for `TypeMention`
  cpp/ql/lib/semmle/code/cpp/Type.qll
Labels: C++, no-change-note-required

#13191 C++: Fix pointer/pointee conflation
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-078/SAMATE/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
Labels: C++, no-change-note-required

#13140 Java: Add SQLi sinks for Spring JDBC
  java/ql/lib/change-notes/2023-05-12-spring-jdbc-sql-sinks.md
  java/ql/lib/ext/org.springframework.jdbc.core.namedparam.model.yml
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SpringJdbc.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/jdbc/core/JdbcOperations.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/jdbc/core/JdbcTemplate.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/jdbc/core/namedparam/NamedParameterJdbcOperations.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/jdbc/core/namedparam/ParsedSql.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/jdbc/core/namedparam/SqlParameterSource.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/jdbc/support/JdbcAccessor.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/jdbc/support/KeyHolder.java
Labels: documentation, Java

#13170 Swift: Emit diagnostics on assertion/expectation violations.
  swift/extractor/translators/DeclTranslator.cpp
  swift/integration-tests/BUILD.bazel
  swift/integration-tests/diagnostics_test_utils.py
  swift/logging/Formatters.h
  swift/logging/SwiftAssert.h
  swift/logging/SwiftDiagnostics.h
  swift/logging/tests/assertion-diagnostics/AssertFalse.cpp
  swift/logging/tests/assertion-diagnostics/BUILD.bazel
  swift/logging/tests/assertion-diagnostics/diagnostics.expected
  swift/logging/tests/assertion-diagnostics/test.py
Labels: Swift

#13221 Swift: Taint model for FilePath
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/FilePath.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/files.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/string.swift
Labels: no-change-note-required, Swift

#13224 Swift: Drop support for plaintext diagnostics (and `helpLinks`).
  swift/integration-tests/linux-only/autobuilder/unsupported-os/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/failure/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/no-build-system/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/no-swift-with-spm/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/no-swift/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/no-xcode-with-spm/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/only-tests-with-spm/diagnostics.expected
  swift/integration-tests/osx-only/autobuilder/only-tests/diagnostics.expected
  swift/logging/SwiftDiagnostics.cpp
  swift/logging/SwiftDiagnostics.h
  swift/logging/tests/assertion-diagnostics/diagnostics.expected
Labels: Swift

#13222 add syntax for signature definitions to QL specification
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#13223 Swift: Use asNominalTypeDecl more.
  swift/ql/lib/codeql/swift/elements/AstNode.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Collection.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/CustomUrlSchemes.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/FilePath.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsData.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsString.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Sequence.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Url.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/WebView.qll
  swift/ql/lib/codeql/swift/frameworks/Xml/AEXML.qll
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
  swift/ql/lib/codeql/swift/security/PathInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/XXEExtensions.qll
Labels: no-change-note-required, Swift

#13231 Ruby: Allow for flow through callbacks to summarized methods in type tracking
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
Labels: no-change-note-required, Ruby

#13230 Java: Add TemplateEngine.createTemplate as a Groovy injection sink
  java/ql/lib/ext/groovy.lang.model.yml
  java/ql/src/change-notes/2023-05-19-groovy-injection-sink.md
  java/ql/test/query-tests/security/CWE-094/TemplateEngineTest.java
  java/ql/test/stubs/groovy-all-3.0.7/groovy/lang/Writable.java
  java/ql/test/stubs/groovy-all-3.0.7/groovy/text/Template.java
  java/ql/test/stubs/groovy-all-3.0.7/groovy/text/TemplateEngine.java
Labels: documentation, Java

#13196 JS: require arguments to be shell interpreted to be flagged by indirect-command-injection
  javascript/ql/lib/semmle/javascript/frameworks/ActionsLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/src/change-notes/2023-05-17-indirect-shell.md
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection/command-line-parameter-command-injection.js
Labels: JS, documentation

#13229 C++: Add FP testcase for `cpp/overrun-write`
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/OverrunWriteProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/test.cpp
Labels: C++, no-change-note-required

#13233 Ruby: Allow for flow out of callbacks passed to summarized methods in type tracking
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
Labels: no-change-note-required, Ruby

#12975 JS: Support sub modules
  javascript/ql/lib/change-notes/2023-04-30-npm-submodule.md
  javascript/ql/lib/semmle/javascript/NPM.qll
  javascript/ql/test/library-tests/NPM/src/node_modules/parent-module/main.js
  javascript/ql/test/library-tests/NPM/src/node_modules/parent-module/package.json
  javascript/ql/test/library-tests/NPM/src/node_modules/parent-module/sub-module/main.js
  javascript/ql/test/library-tests/NPM/src/node_modules/parent-module/sub-module/package.json
  javascript/ql/test/library-tests/NPM/src/test-submodule.js
  javascript/ql/test/library-tests/NPM/tests.expected
Labels: JS, documentation

#13164 ReDoS: add another example to the qhelp in poly-redos, showing how to just limit the length of the input
  java/ql/src/Security/CWE/CWE-730/PolynomialReDoS.qhelp
  javascript/ql/src/Performance/PolynomialReDoS.qhelp
  python/ql/src/Security/CWE-730/PolynomialReDoS.qhelp
  ruby/ql/src/queries/security/cwe-1333/PolynomialReDoS.qhelp
Labels: JS, documentation, Java, Python, Ruby

#12991 [Python] Add Unicode Bypass Validation query tests and help
  python/ql/src/experimental/Security/CWE-176/UnicodeBypassValidation.qhelp
  python/ql/src/experimental/Security/CWE-176/UnicodeBypassValidation.ql
  python/ql/src/experimental/Security/CWE-176/UnicodeBypassValidationCustomizations.qll
  python/ql/src/experimental/Security/CWE-176/UnicodeBypassValidationQuery.qll
  python/ql/src/experimental/Security/CWE-176/escape-bypass.py
  python/ql/test/experimental/query-tests/Security/CWE-176/UnicodeBypassValidation.expected
  python/ql/test/experimental/query-tests/Security/CWE-176/UnicodeBypassValidation.qlref
  python/ql/test/experimental/query-tests/Security/CWE-176/samples.py
Labels: documentation, Python, external-contribution

#13250 Hotfix: Go: count passing to a vararg function as escaping
  go/ql/src/RedundantCode/DeadStoreOfField.ql
Labels: no-change-note-required, Go

#13091 Java: Make inputStreamWrapper consider supertypes transitively
  java/ql/lib/change-notes/2023-05-22-inputstreamwrapper-transitive.md
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Labels: documentation, Java

#13213 Swift: Add EnumDecl.getEnumElement(_)
  swift/ql/.generated.list
  swift/ql/.gitattributes
  swift/ql/lib/codeql/swift/elements/decl/EnumDecl.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/decl/Decl.qll
  swift/ql/test/library-tests/elements/decl/enumdecl/enumdecl.expected
  swift/ql/test/library-tests/elements/decl/enumdecl/enumdecl.ql
  swift/ql/test/library-tests/elements/decl/enumdecl/enumdecl.swift
  swift/schema.py
Labels: no-change-note-required, Swift

#12789 Turn inline expectation test into a parameterized module
  cpp/ql/test/library-tests/dataflow/dataflow-tests/has-parameter-flow-out.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/has-parameter-flow-out.ql
  cpp/ql/test/library-tests/dataflow/source-sink-tests/local-flow.expected
  cpp/ql/test/library-tests/dataflow/source-sink-tests/local-flow.ql
  shared/util/codeql/util/test/InlineExpectationsTest.qll
Labels: C++

#13163 Swift: Make the cleartext logging query consistent with other cleartext-* queries.
  swift/ql/src/queries/Security/CWE-312/CleartextLogging.ql
Labels: no-change-note-required, Swift
