Repository github/codeql, pull requests merged in 2024-07, with the labels that each got.

#16804 Python: Fix bad join in `DataFlowDispatch`
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
Labels: Python, no-change-note-required

#16876 Python: Add Hardcoded Credentials MaD support
  python/ql/src/Security/CWE-798/HardcodedCredentials.ql
  python/ql/src/change-notes/2024-06-28-cred-hardcoded.md
Labels: documentation, Python

#16871 C#: Fix quality issues
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpDiagnosticClassifier.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildTools.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/DiagnosticClassifier.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyCache.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyLookupLocation.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Assets.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyContainer.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNetCliInvoker.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/EnvironmentVariableNames.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetExeWrapper.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/StubVisitor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Util/SymbolExtensions.cs
  csharp/extractor/Semmle.Extraction.CSharp/Comments/CommentBinding.cs
  csharp/extractor/Semmle.Extraction.CSharp/Comments/CommentLineType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/ExpressionNodeInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Assignment.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/PropertyPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Parameter.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/CompilerVersion.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Context.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/DirectiveVisitor.cs
  csharp/extractor/Semmle.Extraction.Tests/DotNet.cs
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/EscapingTextWriter.cs
  csharp/extractor/Semmle.Extraction/Extractor/ExtractionContext.cs
  csharp/extractor/Semmle.Extraction/Id.cs
  csharp/extractor/Semmle.Extraction/PathTransformer.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Util/BuildScript.cs
  csharp/extractor/Semmle.Util/CanonicalPathCache.cs
  csharp/extractor/Semmle.Util/EnvironmentVariables.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
  csharp/extractor/Semmle.Util/Initializer.cs
  csharp/extractor/Semmle.Util/LineCounter.cs
  csharp/extractor/Semmle.Util/Logging/FileLogger.cs
  csharp/extractor/Semmle.Util/Logging/PidStreamWriter.cs
  csharp/extractor/Semmle.Util/MemoizedFunc.cs
Labels: C#

#16861 C#/Java: Do not lift source and sink models.
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/Sinks.cs
  csharp/ql/test/utils/modelgenerator/dataflow/Sources.cs
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  java/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ext.yml
  java/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.ext.yml
  java/ql/test/utils/modelgenerator/dataflow/p/ImplOfExternalSPI.java
  java/ql/test/utils/modelgenerator/dataflow/p/PrivateFlowViaPublicInterface.java
  java/ql/test/utils/modelgenerator/dataflow/p/Sinks.java
  java/ql/test/utils/modelgenerator/dataflow/p/Sources.java
  shared/mad/codeql/mad/modelgenerator/ModelPrinting.qll
Labels: C#, Java, no-change-note-required

#16809 Go: Convert Beego sources to MaD
  go/ql/lib/ext/github.com.astaxie.beego.context.model.yml
  go/ql/lib/ext/github.com.astaxie.beego.model.yml
  go/ql/lib/semmle/go/frameworks/Beego.qll
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-74/DsnInjection.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Encoding/jsoniter.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-640/EmailInjection.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Labels: no-change-note-required, Go

#16887 Ruby: Add missing local flow steps
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
Labels: no-change-note-required, Ruby

#16892 C++: Update QLDoc on `GuardCondition`
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Labels: C++, no-change-note-required

#16883 Python: Fix bad join in `getImmediateModuleReference`
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
Labels: Python, no-change-note-required

#16885 Python: Fix bad join in function resolution
  python/ql/lib/semmle/python/frameworks/internal/PoorMansFunctionResolution.qll
Labels: Python, no-change-note-required

#16896 SSA: Add `BasicBlock.{getNode/1,length/0}` to the input signature
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  csharp/ql/lib/semmle/code/cil/Ssa.qll
  csharp/ql/lib/semmle/code/cil/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/VariableCapture.qll
  ruby/ql/lib/codeql/ruby/dataflow/SSA.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  shared/dataflow/codeql/dataflow/VariableCapture.qll
  shared/ssa/codeql/ssa/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, Java, Python, no-change-note-required, Ruby, Swift, DataFlow Library

#16791 C++: Add support for `Element` content
  cpp/ql/lib/change-notes/2024-07-03-extended-mad-syntax.md
  cpp/ql/lib/ext/Boost.Asio.model.yml
  cpp/ql/lib/ext/bsl.array.model.yml
  cpp/ql/lib/ext/bsl.deque.model.yml
  cpp/ql/lib/ext/bsl.forward_list.model.yml
  cpp/ql/lib/ext/bsl.list.model.yml
  cpp/ql/lib/ext/bsl.vector.model.yml
  cpp/ql/lib/ext/std.array.model.yml
  cpp/ql/lib/ext/std.deque.model.yml
  cpp/ql/lib/ext/std.forward_list.model.yml
  cpp/ql/lib/ext/std.iterator.model.yml
  cpp/ql/lib/ext/std.list.model.yml
  cpp/ql/lib/ext/std.vector.model.yml
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowSummaryImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/type-bugs.expected
  cpp/ql/test/library-tests/dataflow/external-models/validatemodels.expected
  cpp/ql/test/library-tests/dataflow/models-as-data/FlowSummaryNode.expected
  cpp/ql/test/library-tests/dataflow/models-as-data/testModels.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_mad-signatures.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_mad-signatures.ql
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
Labels: C++, documentation

#16895 C#: Fix glob pattern processing: allow `**/` to match empty string
  csharp/extractor/Semmle.Extraction.Tests/FilePathFilter.cs
  csharp/extractor/Semmle.Extraction.Tests/FilePattern.cs
  csharp/extractor/Semmle.Extraction/FilePattern.cs
Labels: C#

#16875 C#: Move implicit entry definitions inside method bodies in SSA construction
  csharp/ql/lib/semmle/code/csharp/Assignable.qll
  csharp/ql/lib/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/lib/semmle/code/csharp/Location.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ControlFlowReachability.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/ControlFlowReachability.qll
  csharp/ql/lib/semmle/code/csharp/dispatch/Dispatch.qll
  csharp/ql/lib/semmle/code/csharp/internal/Location.qll
  csharp/ql/src/Concurrency/FutileSyncOnField.ql
  csharp/ql/src/Dead Code/DeadStoreOfLocal.ql
  csharp/ql/test/library-tests/assignables/AssignableDefinitionNode.expected
  csharp/ql/test/library-tests/assignables/AssignableDefinitionNode.ql
  csharp/ql/test/library-tests/csharp7/DefUse.ql
  csharp/ql/test/library-tests/dataflow/defuse/defUseEquivalence.ql
  csharp/ql/test/library-tests/dataflow/defuse/parameterUseEquivalence.ql
  csharp/ql/test/library-tests/dataflow/defuse/useUseEquivalence.ql
  csharp/ql/test/library-tests/dataflow/ssa/DefAdjacentRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/MultiImplementationA.cs
  csharp/ql/test/library-tests/dataflow/ssa/MultiImplementationB.cs
  csharp/ql/test/library-tests/dataflow/ssa/SsaDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefElement.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefLastRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaExplicitDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaImplicitParameterDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaImplicitParameterDef.ql
  csharp/ql/test/library-tests/dataflow/ssa/SsaRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaUltimateDef.expected
Labels: C#, no-change-note-required

#16904 JS: Remove call to shouldExtract
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Labels: JS

#16910 Python: Exclude probable test files in model editor
  python/ql/lib/modeling/Util.qll
Labels: Python, no-change-note-required

#16913 C++: Add `cpp/iterator-to-expired-container` FP test
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/IteratorToExpiredContainer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/test.cpp
Labels: C++

#16810 Java: add diagnostic query indicating low database quality
  .github/workflows/compile-queries.yml
  java/ql/integration-tests/all-platforms/java/buildless-erroneous/DatabaseQualityDiagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-erroneous/DatabaseQualityDiagnostics.qlref
  java/ql/lib/change-notes/2024-06-25-java-tools-status.md
  java/ql/src/Telemetry/DatabaseQuality.qll
  java/ql/src/Telemetry/DatabaseQualityDiagnostics.ql
  java/ql/src/Telemetry/ExtractorInformation.ql
Labels: documentation, Java, ready-for-doc-review

#16922 Kotlin: make wrapper cache downloaded zips
  java/kotlin-extractor/dev/.gitignore
  java/kotlin-extractor/dev/wrapper.py
Labels: Kotlin

#16931 Go: fix `clear` sanitizer
  go/ql/lib/change-notes/2024-07-08-fix-clear-sanitizer.md
  go/ql/lib/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/Builtin.go
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
Labels: documentation, Go

#16929 C++: Add 'cpp/unsafe-strncat' FPs
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/SuspiciousCallToStrncat/SuspiciousCallToStrncat.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/SuspiciousCallToStrncat/test.c
Labels: C++, no-change-note-required

#16930 C++: Promote `cpp/unsafe-strncat` to Code Scanning
  cpp/ql/src/Likely Bugs/Memory Management/SuspiciousCallToStrncat.ql
  cpp/ql/src/change-notes/2024-07-08-unsafe-strncat-query.md
Labels: C++, documentation

#16915 C++: Fix `cpp/iterator-to-expired-container` FPs
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/calls-as-ssa-variables/test.cpp
  cpp/ql/test/library-tests/dataflow/calls-as-ssa-variables/test.expected
  cpp/ql/test/library-tests/dataflow/calls-as-ssa-variables/test.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/IteratorToExpiredContainer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/test.cpp
Labels: C++, no-change-note-required

#16935 C++: Add `cpp/iterator-to-expired-container` FP
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/IteratorToExpiredContainer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/test.cpp
Labels: C++, no-change-note-required

#16884 SSA: Add data flow integration layer
  shared/ssa/codeql/ssa/Ssa.qll
Labels: no-change-note-required

#16945 C#: Order files in buildless extraction
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileProvider.cs
Labels: C#

#16924 C#: Restore Windows dependencies when Windows Forms or WPF usage is detected
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/ql/integration-tests/all-platforms/standalone_winforms/Assemblies.expected
  csharp/ql/integration-tests/all-platforms/standalone_winforms/Assemblies.ql
  csharp/ql/integration-tests/all-platforms/standalone_winforms/CompilationInfo.expected
  csharp/ql/integration-tests/all-platforms/standalone_winforms/CompilationInfo.ql
  csharp/ql/integration-tests/all-platforms/standalone_winforms/Form1.Designer.cs
  csharp/ql/integration-tests/all-platforms/standalone_winforms/Form1.cs
  csharp/ql/integration-tests/all-platforms/standalone_winforms/Program.cs
  csharp/ql/integration-tests/all-platforms/standalone_winforms/global.json
  csharp/ql/integration-tests/all-platforms/standalone_winforms/test.py
  csharp/ql/integration-tests/all-platforms/standalone_winforms/winforms.csproj
Labels: C#

#16946 C#: Perform fewer `regexpCapture`s when matching version numbers
  csharp/ql/lib/semmle/code/csharp/Location.qll
  csharp/ql/lib/semmle/code/csharp/security/xml/InsecureXMLQuery.qll
Labels: C#, no-change-note-required

#16925 Go: Add environment variable to include `vendor` directories in extraction
  go/extractor/extractor.go
  go/ql/integration-tests/all-platforms/go/extract-vendor/build-environment.expected
  go/ql/integration-tests/all-platforms/go/extract-vendor/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/extract-vendor/force_sequential_test_execution
  go/ql/integration-tests/all-platforms/go/extract-vendor/src/go.mod
  go/ql/integration-tests/all-platforms/go/extract-vendor/src/go.sum
  go/ql/integration-tests/all-platforms/go/extract-vendor/src/test.go
  go/ql/integration-tests/all-platforms/go/extract-vendor/src/vendor/example.com/test/add.go
  go/ql/integration-tests/all-platforms/go/extract-vendor/src/vendor/modules.txt
  go/ql/integration-tests/all-platforms/go/extract-vendor/test.expected
  go/ql/integration-tests/all-platforms/go/extract-vendor/test.py
  go/ql/integration-tests/all-platforms/go/extract-vendor/test.ql
Labels: Go

#16941 Go: Allow grouping import paths for models-as-data
  go/ql/lib/ext/empty.model.yml
  go/ql/lib/ext/github.com.astaxie.beego.context.model.yml
  go/ql/lib/ext/github.com.astaxie.beego.model.yml
  go/ql/lib/ext/github.com.astaxie.beego.utils.model.yml
  go/ql/lib/ext/github.com.beego.beego.core.utils.model.yml
  go/ql/lib/ext/github.com.beego.beego.server.web.context.model.yml
  go/ql/lib/ext/github.com.beego.beego.server.web.model.yml
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/ExternalFlowExtensions.qll
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-74/DsnInjection.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Encoding/jsoniter.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-640/EmailInjection.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Labels: no-change-note-required, Go

#16540 JS/TS: insecure Helmet middleware (new query)
  javascript/ql/lib/semmle/javascript/frameworks/helmet/Helmet.Required.Setting.model.yml
  javascript/ql/src/Security/CWE-693/CUSTOMIZING.md
  javascript/ql/src/Security/CWE-693/InsecureHelmet.qhelp
  javascript/ql/src/Security/CWE-693/InsecureHelmet.ql
  javascript/ql/src/Security/CWE-693/examples/helmet_custom.js
  javascript/ql/src/Security/CWE-693/examples/helmet_default.js
  javascript/ql/src/Security/CWE-693/examples/helmet_insecure.js
  javascript/ql/src/change-notes/2024-06-19-insecure-helmet-config.md
  javascript/ql/test/query-tests/Security/CWE-693/InsecureHelmet.expected
  javascript/ql/test/query-tests/Security/CWE-693/InsecureHelmet.qlref
  javascript/ql/test/query-tests/Security/CWE-693/InsecureHelmetBad.js
  javascript/ql/test/query-tests/Security/CWE-693/InsecureHelmetGood.js
Labels: JS, documentation

#16899 Java/Kotlin: Remove legacy $SEMMLE_DIST support
  java/kotlin-extractor/src/main/java/com/semmle/util/process/Env.java
  java/ql/lib/change-notes/2024-07-03-env-var-semmle-dist.md
Labels: documentation, Java, Kotlin

#16771 Python : Arbitrary code execution due to Js2Py
  python/ql/src/experimental/Security/CWE-094/Js2Py.qhelp
  python/ql/src/experimental/Security/CWE-094/Js2Py.ql
  python/ql/src/experimental/Security/CWE-094/Js2pyBad.py
  python/ql/src/experimental/Security/CWE-094/Js2pyGood.py
  python/ql/test/experimental/query-tests/Security/CWE-094/Js2Py.expected
  python/ql/test/experimental/query-tests/Security/CWE-094/Js2Py.qlref
  python/ql/test/experimental/query-tests/Security/CWE-094/Js2PyTest.py
Labels: documentation, Python, external-contribution

#16952 SSA: Make barrier guards a parameterized module
  shared/ssa/codeql/ssa/Ssa.qll
Labels: no-change-note-required

#16962 Swift: Add GA change note.
  swift/ql/lib/change-notes/2024-07-11-swift-ga.md
Labels: documentation, Swift

#16956 C++: Test C++20 implicit array sizes.
  cpp/ql/lib/change-notes/2024-07-10-newarrayexpr-arraysize.md
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/test/library-tests/array_sizes/arr2.expected
  cpp/ql/test/library-tests/array_sizes/implicit_sizes.cpp
  cpp/ql/test/library-tests/array_sizes/new.expected
  cpp/ql/test/library-tests/array_sizes/new.ql
Labels: C++, documentation

#16939 C++: Assorted minor doc improvements
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArguments.ql
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.cpp
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.qhelp
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemoryBad.cpp
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemoryGood.cpp
  cpp/ql/src/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.c
  cpp/ql/src/Security/CWE/CWE-367/TOCTOUFilesystemRaceBad.c
  cpp/ql/src/Security/CWE/CWE-367/TOCTOUFilesystemRaceGood.c
  cpp/ql/src/Security/CWE/CWE-570/IncorrectAllocationErrorHandling.cpp
  cpp/ql/src/Security/CWE/CWE-732/DoNotCreateWorldWritable.c
  cpp/ql/src/Security/CWE/CWE-732/DoNotCreateWorldWritable.qhelp
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_byte_wprintf/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_mixed_word_size/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_signed_chars/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_two_byte_wprintf/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Linux_unsigned_chars/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Microsoft_no_wchar/WrongTypeFormatArguments.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/UnsignedDifferenceExpressionComparedZero.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-570/IncorrectAllocationErrorHandling.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-570/test.cpp
Labels: C++, depends on internal PR, documentation, no-change-note-required, ready-for-doc-review

#16969 C++: Strip specifiers and typedefs when finding iterator parameter for string taint function
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Labels: C++, no-change-note-required

#16968 C#: Order syntax trees before creating compilation
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileProvider.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
Labels: C#

#16966 SSA: Reduce caching in data-flow integration layer
  shared/ssa/codeql/ssa/Ssa.qll
Labels: no-change-note-required

#16940 Python: Handle diagnostics writing for `BuiltinModuleExtractable`
  python/extractor/semmle/logging.py
  python/extractor/semmle/util.py
  python/extractor/semmle/worker.py
Labels: Python

#16886 Added detection for untrusted domains in script content - edited existing library and added new query and tests ("the Polyfill PR")
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/security/FunctionalityFromUntrustedSource.qll
  javascript/ql/lib/semmle/javascript/security/domains/IntegrityCheckingRequired/integrity_checking_required.model.yml
  javascript/ql/lib/semmle/javascript/security/domains/compromised/compromised_domains.model.yml
  javascript/ql/lib/semmle/javascript/security/domains/untrusted/untrusted_domains.model.yml
  javascript/ql/src/Security/CWE-830/CUSTOMIZING.md
  javascript/ql/src/Security/CWE-830/FunctionalityFromUntrustedDomain.qhelp
  javascript/ql/src/Security/CWE-830/FunctionalityFromUntrustedDomain.ql
  javascript/ql/src/Security/CWE-830/FunctionalityFromUntrustedSource.qhelp
  javascript/ql/src/Security/CWE-830/FunctionalityFromUntrustedSource.ql
  javascript/ql/src/Security/CWE-830/polyfill-compromised.html
  javascript/ql/src/Security/CWE-830/polyfill-sri.html
  javascript/ql/src/Security/CWE-830/polyfill-trusted.html
  javascript/ql/src/change-notes/2024-07-08-functionality-from-untrusted-domain.md
  javascript/ql/test/query-tests/Security/CWE-830/FunctionalityFromUntrustedDomain.expected
  javascript/ql/test/query-tests/Security/CWE-830/FunctionalityFromUntrustedDomain.qlref
  javascript/ql/test/query-tests/Security/CWE-830/polyfill-check.html
  javascript/ql/test/query-tests/Security/CWE-830/polyfill-nocheck.html
Labels: JS, documentation, ready-for-doc-review

#16965 Java: add path-injection sink for `hudson.FilePath.exists()`
  java/ql/lib/change-notes/2024-07-11-FilePath-exists-sink.md
  java/ql/lib/ext/hudson.model.yml
  java/ql/test/experimental/query-tests/security/CWE-020/Log4jInjectionTest.expected
  java/ql/test/experimental/query-tests/security/CWE-073/FilePathInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-078/CommandInjectionRuntimeExecLocal.expected
  java/ql/test/experimental/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MyBatisAnnotationSqlInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/BeanShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JythonInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/ScriptInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-1004/SensitiveCookieNotHttpOnly.expected
  java/ql/test/experimental/query-tests/security/CWE-200/InsecureWebResourceResponse.expected
  java/ql/test/experimental/query-tests/security/CWE-200/SensitiveAndroidFileLeak.expected
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstSignagure/Test.expected
  java/ql/test/experimental/query-tests/security/CWE-346/UnvalidatedCors.expected
  java/ql/test/experimental/query-tests/security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.expected
  java/ql/test/experimental/query-tests/security/CWE-352/JsonpInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-470/UnsafeReflection.expected
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery.expected
  java/ql/test/experimental/query-tests/security/CWE-600/UncaughtServletException.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/experimental/query-tests/security/CWE-625/PermissiveDotRegex.expected
  java/ql/test/experimental/query-tests/security/CWE-652/XQueryInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-759/HashWithoutSalt.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.expected
  java/ql/test/library-tests/frameworks/JaxWs/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/ZipSlip.expected
  java/ql/test/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTainted.expected
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/query-tests/security/CWE-094/InsecureBeanValidation.expected
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayConstruction.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayIndex.expected
  java/ql/test/query-tests/security/CWE-134/semmle/tests/ExternallyControlledFormatString.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTainted.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/TempDirLocalInformationDisclosure.expected
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.expected
  java/ql/test/query-tests/security/CWE-327/semmle/tests/BrokenCryptoAlgorithm.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-681/semmle/tests/NumericCastTainted.expected
  java/ql/test/query-tests/security/CWE-807/semmle/tests/TaintedPermissionsCheck.expected
Labels: documentation, Java

#16955 Kotlin: Kotlin support is now out of beta, and generally available
  docs/codeql/codeql-language-guides/abstract-syntax-tree-classes-for-working-with-java-programs.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-java.rst
  docs/codeql/codeql-language-guides/annotations-in-java.rst
  docs/codeql/codeql-language-guides/codeql-for-java.rst
  docs/codeql/codeql-language-guides/codeql-library-for-java.rst
  docs/codeql/codeql-language-guides/customizing-library-models-for-java-and-kotlin.rst
  docs/codeql/codeql-language-guides/overflow-prone-comparisons-in-java.rst
  docs/codeql/codeql-language-guides/types-in-java.rst
  docs/codeql/codeql-language-guides/working-with-source-locations.rst
  docs/codeql/codeql-overview/system-requirements.rst
  docs/codeql/query-help/codeql-cwe-coverage.rst
  docs/codeql/query-help/index.rst
  docs/codeql/reusables/kotlin-beta-note.rst
  docs/codeql/reusables/supported-frameworks.rst
  docs/codeql/reusables/supported-versions-compilers.rst
  java/ql/lib/change-notes/2024-07-11-kotlin-ga.md
Labels: documentation, Java, ready-for-doc-review

#16959 C++: Promote `cp/iterator-to-expired-container` to Code Scanning
  cpp/ql/src/Security/CWE/CWE-416/IteratorToExpiredContainer.ql
  cpp/ql/src/change-notes/2024-07-11-iterator-to-expired-container-query.md
Labels: C++, documentation

#16502 Swift: Remove beta label
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-swift.rst
  docs/codeql/codeql-language-guides/basic-query-for-swift-code.rst
  docs/codeql/codeql-language-guides/codeql-for-swift.rst
  docs/codeql/query-help/codeql-cwe-coverage.rst
  docs/codeql/query-help/index.rst
  docs/codeql/reusables/supported-frameworks.rst
  docs/codeql/reusables/supported-versions-compilers.rst
  docs/codeql/reusables/swift-beta-note.rst
  swift/README.md
  swift/ql/lib/change-notes/2024-07-11-swift-ga.md
Labels: documentation, ready-for-doc-review, Swift

#16873 C#: Narrow source model generation.
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/test/utils/modelgenerator/dataflow/Sources.cs
  misc/scripts/models-as-data/generate_flow_model.py
Labels: C#, no-change-note-required

#16856 Go: Convert chi echo and elazarl sources to MaD
  go/ql/lib/ext/github.com.elazarl.goproxy.model.yml
  go/ql/lib/ext/github.com.go-chi.chi.model.yml
  go/ql/lib/ext/github.com.labstack.echo.model.yml
  go/ql/lib/go.qll
  go/ql/lib/semmle/go/frameworks/Chi.qll
  go/ql/lib/semmle/go/frameworks/Echo.qll
  go/ql/lib/semmle/go/frameworks/ElazarlGoproxy.qll
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-74/DsnInjection.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/Chi/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Encoding/jsoniter.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-640/EmailInjection.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Labels: no-change-note-required, Go

#16979 Dataflow: Replace MakeSets with QlBuiltins::InternSets.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
  shared/util/codeql/util/internal/MakeSets.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#16835 Java: Replace the MaD Object.clone() models with a non-aliasing value step.
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/frameworks/Jndi.qll
  java/ql/lib/semmle/code/java/security/LdapInjection.qll
  java/ql/test/experimental/query-tests/security/CWE-020/Log4jInjectionTest.expected
  java/ql/test/experimental/query-tests/security/CWE-073/FilePathInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-078/CommandInjectionRuntimeExecLocal.expected
  java/ql/test/experimental/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MyBatisAnnotationSqlInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/BeanShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JythonInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/ScriptInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-1004/SensitiveCookieNotHttpOnly.expected
  java/ql/test/experimental/query-tests/security/CWE-200/InsecureWebResourceResponse.expected
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstSignagure/Test.expected
  java/ql/test/experimental/query-tests/security/CWE-346/UnvalidatedCors.expected
  java/ql/test/experimental/query-tests/security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.expected
  java/ql/test/experimental/query-tests/security/CWE-352/JsonpInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-470/UnsafeReflection.expected
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery.expected
  java/ql/test/experimental/query-tests/security/CWE-600/UncaughtServletException.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/experimental/query-tests/security/CWE-625/PermissiveDotRegex.expected
  java/ql/test/experimental/query-tests/security/CWE-652/XQueryInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-759/HashWithoutSalt.expected
  java/ql/test/library-tests/dataflow/local-additional-taint/localAdditionalTaintStep.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.expected
  java/ql/test/library-tests/frameworks/JaxWs/JakartaRsFlow.java
  java/ql/test/library-tests/frameworks/JaxWs/JaxRsFlow.java
  java/ql/test/library-tests/frameworks/JaxWs/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTainted.expected
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/query-tests/security/CWE-094/InsecureBeanValidation.expected
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayConstruction.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayIndex.expected
  java/ql/test/query-tests/security/CWE-134/semmle/tests/ExternallyControlledFormatString.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTainted.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/TempDirLocalInformationDisclosure.expected
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.expected
  java/ql/test/query-tests/security/CWE-327/semmle/tests/BrokenCryptoAlgorithm.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-681/semmle/tests/NumericCastTainted.expected
  java/ql/test/query-tests/security/CWE-807/semmle/tests/TaintedPermissionsCheck.expected
Labels: Java, no-change-note-required

#16972 C++: Update tests to reflect on-demand indexing of special member functions.
  cpp/ql/test/library-tests/atomic/variables.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_mad-signatures.expected
  cpp/ql/test/library-tests/declaration/IsMember.expected
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/declarationEntry.expected
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/fde.expected
  cpp/ql/test/library-tests/declarationEntry/declarationEntry/roundTrip.expected
  cpp/ql/test/library-tests/declarationEntry/more/declarationEntry.expected
  cpp/ql/test/library-tests/depends_initializers/VariableInitializers.expected
  cpp/ql/test/library-tests/functions/functions/Functions1.expected
  cpp/ql/test/library-tests/functions/functions/Functions2.expected
  cpp/ql/test/library-tests/identifiers/qualified_names/qualifiedNames.expected
  cpp/ql/test/library-tests/instantiations/test.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/members/getters/members.expected
  cpp/ql/test/library-tests/members/templates/c1.cpp
  cpp/ql/test/library-tests/members/templates/members.expected
  cpp/ql/test/library-tests/noexcept/copy_from_prototype/copy_from_prototype.expected
  cpp/ql/test/library-tests/noexcept/noexcept/noexcept_specifier.expected
  cpp/ql/test/library-tests/scopes/scopes/Scopes1.expected
  cpp/ql/test/library-tests/scopes/scopes/Scopes3.expected
  cpp/ql/test/library-tests/scopes/scopes/Scopes4.expected
  cpp/ql/test/library-tests/special_members/generated_copy/functions.expected
  cpp/ql/test/library-tests/templates/CPP-203/decls.expected
  cpp/ql/test/library-tests/templates/friends/decls.expected
  cpp/ql/test/library-tests/templates/incomplete_instantiations/test.expected
  cpp/ql/test/library-tests/templates/isfromtemplateinstantiation/isfromtemplateinstantiation.expected
  cpp/ql/test/library-tests/templates/isfromtemplateinstantiation/isfromuninstantiatedtemplate.expected
  cpp/ql/test/library-tests/types/refersTo/refersTo.expected
  cpp/ql/test/successor-tests/forstmt/rangebasedforstmt/cfg.expected
Labels: C++, depends on internal PR

#16963 Go: Convert go-restful, Gin and Mux sources to MaD
  go/ql/lib/ext/github.com.emicklei.go-restful.model.yml
  go/ql/lib/ext/github.com.gin-gonic.gin.model.yml
  go/ql/lib/ext/github.com.gorilla.mux.model.yml
  go/ql/lib/go.qll
  go/ql/lib/semmle/go/frameworks/Gin.qll
  go/ql/lib/semmle/go/frameworks/GoRestfulHttp.qll
  go/ql/lib/semmle/go/frameworks/Mux.qll
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-74/DsnInjection.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/Chi/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Encoding/jsoniter.expected
  go/ql/test/library-tests/semmle/go/frameworks/Gin/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Gorestful/gorestful.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-640/EmailInjection.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Labels: no-change-note-required, Go

#16932 Kotlin: Add 2.0.20 support
  MODULE.bazel
  docs/codeql/reusables/supported-versions-compilers.rst
  java/kotlin-extractor/deps/kotlin-compiler-2.0.20-Beta2.jar
  java/kotlin-extractor/deps/kotlin-compiler-embeddable-2.0.20-Beta2.jar
  java/kotlin-extractor/deps/kotlin-stdlib-2.0.20-Beta2.jar
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_20-Beta2/getKotlinType.kt
  java/kotlin-extractor/versions.bzl
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/diagnostics.expected
  java/ql/lib/change-notes/2024-06-19-kotlin-2.0.20.md
Labels: documentation, Java, Kotlin

#16914 Java: Improve Android app detection
  java/ql/lib/change-notes/2024-06-12-isandroid-deprecated.md
  java/ql/lib/semmle/code/java/frameworks/android/Android.qll
  java/ql/lib/semmle/code/java/security/AndroidCertificatePinningQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageAndroidFilesystemQuery.qll
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/src/change-notes/2024-07-07-android-application-heuristic-updated.md
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test1/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test2/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test3/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test4/AndroidManifest.xml
Labels: documentation, Java

#16964 Java: add `IOUtils.toByteArray` summaries
  java/ql/lib/change-notes/2024-07-11-toByteArray-summary.md
  java/ql/lib/ext/org.apache.commons.io.model.yml
  java/ql/test/experimental/query-tests/security/CWE-020/Log4jInjectionTest.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/ApacheCommonsIoTest/GeneratedVsManualCoverage.expected
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/ApacheCommonsIoTest/IOUtils.java
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
Labels: documentation, Java

#16986 Go: Convert Revel and net/http sources to MaD
  go/ql/lib/ext/github.com.revel.revel.model.yml
  go/ql/lib/ext/net.http.model.yml
  go/ql/lib/semmle/go/frameworks/Revel.qll
  go/ql/lib/semmle/go/frameworks/stdlib/NetHttp.qll
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-74/DsnInjection.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/Chi/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-640/EmailInjection.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Labels: no-change-note-required, Go

#16990 Go: Change string prefix check
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
Labels: no-change-note-required, Go

#17003 Go: Add frameworks to frameworks.csv
  go/documentation/library-coverage/frameworks.csv
Labels: no-change-note-required, Go

#16988 C++: Fix FPs in `cpp/unsigned-difference-expression-compared-zero`
  cpp/ql/src/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.ql
  cpp/ql/src/change-notes/2024-07-16-unsigned-difference-expression-compared-zero-.md
  cpp/ql/test/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/UnsignedDifferenceExpressionComparedZero.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/test.cpp
Labels: C++, documentation

#16992 Go: use package grouping in existing models-as-data models
  go/ql/lib/ext/github.com.couchbase.gocb.model.yml
  go/ql/lib/ext/github.com.go-jose.go-jose.jwt.model.yml
  go/ql/lib/ext/github.com.go-jose.go-jose.model.yml
  go/ql/lib/ext/github.com.golang.protobuf.proto.model.yml
  go/ql/lib/ext/google.golang.org.protobuf.proto.model.yml
  go/ql/lib/ext/gopkg.in.couchbase.gocb.model.yml
  go/ql/lib/ext/gopkg.in.square.go-jose.model.yml
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-74/DsnInjection.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/Chi/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Encoding/jsoniter.expected
  go/ql/test/library-tests/semmle/go/frameworks/Gin/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Gorestful/gorestful.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-640/EmailInjection.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Labels: no-change-note-required, Go

#16907 C++: Add a new `MemoryLocation` to represent sets of `Allocation`s
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/MemoryAccessKind.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/TInstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/TOperand.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/points_to/points_to.expected
  cpp/ql/test/library-tests/ir/points_to/points_to.ql
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/UninitializedLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/test.cpp
Labels: C++, no-change-note-required

#16985 C++: Support MaD alert provenance
  cpp/ql/lib/change-notes/2024-07-16-alert-provenance.md
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowSummaryImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/flow.ql
Labels: C++, documentation

#16960 Go: Convert fasthttp sources to MaD
  go/ql/lib/ext/github.com.valyala.fasthttp.model.yml
  go/ql/lib/semmle/go/frameworks/Fasthttp.qll
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-74/DsnInjection.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/Chi/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/fasthttp.go
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-640/EmailInjection.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Labels: no-change-note-required, Go

#16958 Java: Tag `java/non-https-url` with CWE-345 ("Insufficient Verification of Data Authenticity")
  java/ql/src/Security/CWE/CWE-319/HttpsUrls.ql
Labels: Java, no-change-note-required

#17013 Java: Add test for autobuild with maven-enforcer
  java/ql/integration-tests/all-platforms/java/maven-enforcer/pom.xml
  java/ql/integration-tests/all-platforms/java/maven-enforcer/src/main/java/com/example/App.java
  java/ql/integration-tests/all-platforms/java/maven-enforcer/src/main/resources/my-app.properties
  java/ql/integration-tests/all-platforms/java/maven-enforcer/src/main/resources/page.xml
  java/ql/integration-tests/all-platforms/java/maven-enforcer/src/main/resources/struts.xml
  java/ql/integration-tests/all-platforms/java/maven-enforcer/src/test/java/com/example/AppTest.java
  java/ql/integration-tests/all-platforms/java/maven-enforcer/test.expected
  java/ql/integration-tests/all-platforms/java/maven-enforcer/test.py
  java/ql/integration-tests/all-platforms/java/maven-enforcer/test.ql
Labels: Java

#17016 Go: Output stdout/stderr for `go version` if something goes wrong
  go/extractor/toolchain/toolchain.go
Labels: Go

#17015 Integration tests: port to pytest.
  javascript/ql/integration-tests/all-platforms/diagnostics/internal-error/diagnostics.expected
  javascript/ql/integration-tests/all-platforms/diagnostics/internal-error/test.py
  javascript/ql/integration-tests/all-platforms/diagnostics/syntax-error/test.py
  javascript/ql/integration-tests/all-platforms/no-types/test.py
  javascript/ql/integration-tests/all-platforms/qlpack.yml
  javascript/ql/integration-tests/legacy
Labels: JS, depends on internal PR

#16570 Swift: Use shared library for sensitive private information heuristics
  swift/ql/lib/change-notes/2024-05-23-sensitive-data.md
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testRealm2.swift
Labels: documentation, Swift

#16993 Add models for the `lastaflute` framework
  java/ql/lib/change-notes/2024-07-16-add-models-for-the-lastaflute-framework.md
  java/ql/lib/ext/org.lastaflute.web.model.yml
  java/ql/lib/ext/org.lastaflute.web.ruts.multipart.model.yml
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/library-tests/frameworks/lastaflute/Test.java
  java/ql/test/library-tests/frameworks/lastaflute/options
  java/ql/test/library-tests/frameworks/lastaflute/test.expected
  java/ql/test/library-tests/frameworks/lastaflute/test.ql
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/stubs/lastaflute/org/lastaflute/web/Execute.java
  java/ql/test/stubs/lastaflute/org/lastaflute/web/ruts/multipart/MultipartFormFile.java
Labels: documentation, Java

#16760 Java: make a separate threat model kind for reverse DNS sources
  docs/codeql/reusables/threat-model-description.rst
  java/ql/lib/change-notes/2024-06-14-reverse-dns-separate-threat-model-kind.md
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/test/library-tests/dataflow/taintsources/A.java
  java/ql/test/library-tests/dataflow/taintsources/local.ql
  java/ql/test/library-tests/dataflow/taintsources/reversedns.expected
  java/ql/test/library-tests/dataflow/taintsources/reversedns.ql
  java/ql/test/query-tests/security/CWE-022/semmle/tests/Test.java
  shared/mad/codeql/mad/ModelValidation.qll
  shared/threat-models/ext/threat-model-grouping.model.yml
Labels: documentation, Java

#17048 Docs: Document preference for American English in change notes.
  docs/change-notes.md
Labels: documentation

#17047 C++: Add `UsingEnumDeclarationEntry` changenote.
  cpp/ql/lib/change-notes/2024-07-23-using-enum-declaration.md
Labels: C++, documentation

#17037 C++: Fix issue with cpp/suspicious-allocation-size
  cpp/ql/src/Critical/SizeCheck2.ql
  cpp/ql/src/change-notes/2024-07-22-suspicious-allocation-size.md
  cpp/ql/test/query-tests/Critical/SizeCheck/SizeCheck2.expected
  cpp/ql/test/query-tests/Critical/SizeCheck/test.c
  cpp/ql/test/query-tests/Critical/SizeCheck/test2.c
Labels: C++, documentation

#17036 Java: Move SensitiveLoggerConfig source to extensible format
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
  java/ql/src/change-notes/2024-07-23-java-sensitivelogging-source.md
Labels: documentation, Java

#17055 C++: More tests for cpp/use-after-free
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryFreed.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/test.cpp
Labels: C++, no-change-note-required

#17054 C++: Fix false positives in cpp/incorrectly-checked-scanf
  cpp/ql/src/Critical/ScanfChecks.qll
  cpp/ql/src/change-notes/2024-07-23-incorrectly-checked-scanf.md
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Labels: C++, documentation

#17026 Java: Update `Annotation` predicate examples in language guide
  docs/codeql/codeql-language-guides/annotations-in-java.rst
Labels: documentation

#17057 C++: Avoid expensive negation
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C++, no-change-note-required

#17053 Java: Add comments about use of sink kind `regex-use`
  java/ql/lib/ext/org.apache.commons.lang3.model.yml
  java/ql/lib/semmle/code/java/regex/RegexFlowConfigs.qll
Labels: Java, no-change-note-required

#17034 C++: Add more alias and side effect models
  cpp/ql/lib/semmle/code/cpp/models/Models.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdAlgorithm.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdAllocator.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdException.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdFunction.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdMap.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdMath.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdPair.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdString.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#16981 C++: Alias analysis follow-up to #16907
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/LoopConditionsConst.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/test.cpp
Labels: C++, no-change-note-required

#17064 Swift: Minor fixes
  swift/ql/lib/change-notes/2024-07-24-url-model.md
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Url.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/url.swift
Labels: documentation, Swift

#17070 Dataflow: Replace `ppReprType` with `DataFlowType.toString`.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  docs/ql-libraries/dataflow/dataflow.md
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, documentation, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#16781 Add `rb/weak-sensitive-data-hashing` query port
  ruby/ql/lib/codeql/ruby/security/WeakSensitiveDataHashingCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/WeakSensitiveDataHashingQuery.qll
  ruby/ql/src/change-notes/2024-06-18-weak-sensitive-data-hashing-query.md
  ruby/ql/src/queries/security/cwe-327/WeakSensitiveDataHashing.qhelp
  ruby/ql/src/queries/security/cwe-327/WeakSensitiveDataHashing.ql
  ruby/ql/src/queries/security/cwe-327/examples/weak_certificate_hashing.rb
  ruby/ql/src/queries/security/cwe-327/examples/weak_password_hashing_bad.rb
  ruby/ql/src/queries/security/cwe-327/examples/weak_password_hashing_good.rb
  ruby/ql/test/query-tests/security/cwe-327/WeakSensitiveDataHashing.expected
  ruby/ql/test/query-tests/security/cwe-327/WeakSensitiveDataHashing.qlref
  ruby/ql/test/query-tests/security/cwe-327/weak_hashing.rb
Labels: documentation, Ruby

#17073 C++: Add additional test cases for `explict` and `explicit(bool)` specifiers
  cpp/ql/test/library-tests/specifiers2/cpp20.cpp
  cpp/ql/test/library-tests/specifiers2/inst_func_specifiers.expected
  cpp/ql/test/library-tests/specifiers2/inst_func_specifiers.ql
  cpp/ql/test/library-tests/specifiers2/specifiers2.expected
  cpp/ql/test/library-tests/specifiers2/specifiers2.ql
  cpp/ql/test/library-tests/specifiers2/specifiers2d.expected
  cpp/ql/test/library-tests/specifiers2/templ_func_specifiers.expected
  cpp/ql/test/library-tests/specifiers2/templ_func_specifiers.ql
Labels: C++

#16982 C++: Promote `cpp/unsigned-difference-expression-compared-zero` to Code Scanning
  cpp/ql/src/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.ql
  cpp/ql/src/change-notes/2024-07-11-unsigned-difference-expression-compared-zero-query.md
Labels: C++, documentation

#17028 C++: Improve query doc advice for using encryption
  cpp/ql/src/Security/CWE/CWE-014/MemsetMayBeDeleted.qhelp
  cpp/ql/src/Security/CWE/CWE-311/CleartextStorage.c
  cpp/ql/src/Security/CWE/CWE-311/CleartextStorage.inc.qhelp
  cpp/ql/src/Security/CWE/CWE-313/CleartextSqliteDatabase.c
  cpp/ql/src/Security/CWE/CWE-313/CleartextSqliteDatabase.qhelp
Labels: C++, documentation, ready-for-doc-review

#17077 C++: Add more `explicit(bool)` tests
  cpp/ql/test/library-tests/specifiers2/cpp20.cpp
  cpp/ql/test/library-tests/specifiers2/inst_func_specifiers.expected
  cpp/ql/test/library-tests/specifiers2/specifiers2.expected
  cpp/ql/test/library-tests/specifiers2/specifiers2d.expected
  cpp/ql/test/library-tests/specifiers2/templ_func_specifiers.expected
Labels: C++

#17076 C++: Add missing write side effect to `std::remquo`
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdMath.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/test.cpp
Labels: C++, no-change-note-required

#17062 C++: Speed up alias analysis
  cpp/ql/lib/change-notes/2024-07-25-alias-analysis-perf.md
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/many-defs-per-use.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, documentation

#17060 Update unified changelog for 2.17.6 and 2.18.0
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.18.0.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#17074 Java: fix comments about use of sink kind `regex-use`
  java/ql/lib/ext/org.apache.commons.lang3.model.yml
  java/ql/lib/semmle/code/java/regex/RegexFlowConfigs.qll
Labels: Java, no-change-note-required

#17083 Update codeql changelog to version 2.18.1
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.18.1.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#16947 C++: Update attributes test output
  cpp/ql/test/library-tests/attributes/routine_attributes/arguments.expected
  cpp/ql/test/library-tests/attributes/routine_attributes/routine_attributes.expected
  cpp/ql/test/library-tests/attributes/type_attributes/arguments.expected
  cpp/ql/test/library-tests/attributes/type_attributes/type_attributes.expected
  cpp/ql/test/library-tests/attributes/var_attributes/var_attributes.expected
Labels: C++, depends on internal PR

#16923 Python: Add test for impossible isinstance flow
  python/ql/test/library-tests/dataflow/tainttracking/isinstance/InlineTaintTest.expected
  python/ql/test/library-tests/dataflow/tainttracking/isinstance/InlineTaintTest.ql
  python/ql/test/library-tests/dataflow/tainttracking/isinstance/test.py
Labels: Python

#17071 Java/Kotlin: Remove support for deprecated SOURCE_ARCHIVE and TRAP_FOLDER
  java/kotlin-extractor/src/main/java/com/semmle/extractor/java/OdasaOutput.java
  java/kotlin-extractor/src/main/java/com/semmle/util/process/Env.java
  java/ql/lib/change-notes/2024-07-25-env-vars.md
Labels: documentation, Java, Kotlin

#17090 Remove EOL macOS versions from the supported platforms list
  docs/codeql/reusables/supported-platforms.rst
Labels: documentation

#17091 C++: Update MaD tests with correct template parameter counting in the presence of packs.
  cpp/ql/test/library-tests/dataflow/taint-tests/test_mad-signatures.expected
Labels: C++, depends on internal PR

#17096 Java: Pretty-print experimental models for qltest.
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
Labels: Java, no-change-note-required

#17065 Java: integration tests with proxy server
  java/integration-tests-lib/mitm_proxy.py
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/.gitattributes
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/.gitignore
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/build.gradle
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/buildless-fetches.expected
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/force_sequential_test_execution
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/gradlew
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/gradlew.bat
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/settings.gradle
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/src/main/java/com/fractestexample/Test.java
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/test.expected
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/test.py
  java/ql/integration-tests/all-platforms/java/buildless-proxy-gradle/test.ql
  java/ql/integration-tests/all-platforms/java/buildless-proxy-maven/buildless-fetches.expected
  java/ql/integration-tests/all-platforms/java/buildless-proxy-maven/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-proxy-maven/pom.xml
  java/ql/integration-tests/all-platforms/java/buildless-proxy-maven/src/main/java/com/example/App.java
  java/ql/integration-tests/all-platforms/java/buildless-proxy-maven/src/main/resources/my-app.properties
  java/ql/integration-tests/all-platforms/java/buildless-proxy-maven/src/main/resources/page.xml
  java/ql/integration-tests/all-platforms/java/buildless-proxy-maven/src/main/resources/struts.xml
  java/ql/integration-tests/all-platforms/java/buildless-proxy-maven/src/test/java/com/example/AppTest.java
  java/ql/integration-tests/all-platforms/java/buildless-proxy-maven/test.expected
  java/ql/integration-tests/all-platforms/java/buildless-proxy-maven/test.py
  java/ql/integration-tests/all-platforms/java/buildless-proxy-maven/test.ql
Labels: Java

#17095 C++: Proper MaD support for free functions
  cpp/ql/lib/ext/std.format.model.yml
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/test/library-tests/dataflow/external-models/validatemodels.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/test_mad-signatures.expected
Labels: C++, no-change-note-required

#17098 C++: Update tests after extractor changes
  cpp/ql/test/library-tests/specifiers2/specifiers2.expected
Labels: C++, depends on internal PR

#17101 Java: Fix FPs in `java/unused-reference-type` for JUnit 4-style tests
  java/ql/src/Violations of Best Practice/Dead Code/DeadRefTypes.ql
  java/ql/src/change-notes/2024-07-30-unused.md
  java/ql/test/query-tests/DeadCode/DeadRefTypes/ClassWithAnnotatedMethod.java
  java/ql/test/query-tests/DeadCode/DeadRefTypes/ClassWithAnnotation.java
  java/ql/test/query-tests/DeadCode/DeadRefTypes/DeadRefTypes.expected
  java/ql/test/query-tests/DeadCode/DeadRefTypes/DeadRefTypes.qlref
  java/ql/test/query-tests/DeadCode/DeadRefTypes/MyAnnotation.java
  java/ql/test/query-tests/DeadCode/DeadRefTypes/UnusedClass.java
Labels: documentation, Java

#17100 Java: whitelist variable names containing "tokenizer" for `java/sensitive-log`
  java/ql/lib/semmle/code/java/security/SensitiveActions.qll
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
  java/ql/src/change-notes/2024-07-30-sensitive-log-whitelist-tokenizer.md
  java/ql/test/query-tests/security/CWE-532/Test.java
Labels: documentation, Java

#16971 Python: Add MaD support for DictionaryElement/DictionaryElementAny for sources
  python/ql/lib/change-notes/2024-07-12-mad-dict-sources.md
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModelsSpecific.qll
  python/ql/test/library-tests/frameworks/data/test.expected
  python/ql/test/library-tests/frameworks/data/test.ext.yml
  python/ql/test/library-tests/frameworks/data/test.py
Labels: documentation, Python

#17093 Java: Add support for post-process provenance pretty-printing in `.ql` library-tests
  java/ql/test/library-tests/dataflow/call-sensitivity/flow.expected
  java/ql/test/library-tests/dataflow/call-sensitivity/flow.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.ql
Labels: Java, no-change-note-required

#17109 C++: Mark `constexpr if` as unevaluated
  cpp/ql/lib/change-notes/2024-07-31-constexpr-if.md
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/test/library-tests/exprs/unevaluated/test.cpp
  cpp/ql/test/library-tests/exprs/unevaluated/unevaluated.expected
Labels: C++, documentation

#17110 C++: Improve cpp/memory-may-not-be-freed
  cpp/ql/src/Critical/MemoryMayNotBeFreed.ql
  cpp/ql/src/change-notes/2024-07-31-memory-may-not-be-freed.md
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryFreed.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryNeverFreed.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/test_free.cpp
Labels: C++, documentation

#17023 Java: add apache-ant `Property` path injection sinks
  java/ql/lib/change-notes/2024-07-19-apache-ant-property-sinks.md
  java/ql/lib/ext/org.apache.tools.ant.taskdefs.model.yml
Labels: documentation, Java

#17104 Go: Fix missing `go-jose` package path
  go/ql/lib/ext/github.com.go-jose.go-jose.jwt.model.yml
  go/ql/lib/ext/github.com.go-jose.go-jose.model.yml
  go/ql/lib/semmle/go/frameworks/GoJose.qll
  go/ql/lib/semmle/go/security/ExternalAPIs.qll
  go/ql/src/experimental/frameworks/JWT.qll
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
Labels: no-change-note-required, Go
