Repository github/codeql, pull requests merged in 2024-01, with the labels that each got.

#15048 Ruby: Model editor improvements
  ruby/ql/lib/codeql/ruby/ast/Module.qll
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/src/queries/modeling/internal/Types.qll
  ruby/ql/src/utils/modeleditor/FrameworkModeEndpoints.ql
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
  ruby/ql/test/query-tests/utils/modeleditor/FrameworkModeEndpoints.expected
  ruby/ql/test/query-tests/utils/modeleditor/GenerateModel.expected
  ruby/ql/test/query-tests/utils/modeleditor/GenerateModel.qlref
Labels: no-change-note-required, Ruby

#15049 Kotlin 2: Accept changes in query-tests/UnderscoreIdentifier
  java/ql/test-kotlin2/query-tests/UnderscoreIdentifier/test.expected
Labels: Java

#15214 C++: Improve special members test by printing more function details
  cpp/ql/test/library-tests/special_members/generated_copy/functions.expected
  cpp/ql/test/library-tests/special_members/generated_copy/functions.ql
Labels: C++

#15128 Go: fix FP in incorrect integer conversion query relating to strict comparisons with MaxInt and MaxUint
  go/ql/lib/semmle/go/security/IncorrectIntegerConversionLib.qll
  go/ql/src/change-notes/2023-12-17-incorrect-integer-conversion-fix.md
  go/ql/test/query-tests/Security/CWE-681/IncorrectIntegerConversion.expected
  go/ql/test/query-tests/Security/CWE-681/IncorrectIntegerConversion.go
Labels: documentation, Go

#15211 Go: report any extracted file as successfully extracted
  go/ql/lib/change-notes/2024-01-02-go-successfully-extracted.md
  go/ql/src/Diagnostics/SuccessfullyExtractedFiles.ql
  go/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.expected
Labels: documentation, Go

#15165 ensure `publish.sh` uses the latest `automodel` release
  java/ql/automodel/publish.sh
  java/ql/automodel/src/README.md
Labels: documentation, Java

#15212 C#: Fix Log forging false positive.
  csharp/ql/lib/semmle/code/csharp/frameworks/System.qll
  csharp/ql/src/change-notes/2024-01-03-logforging-false-positive.md
  csharp/ql/test/query-tests/Security Features/CWE-117/LogForging.cs
  csharp/ql/test/query-tests/Security Features/CWE-117/LogForging.expected
Labels: C#, documentation

#15162 Go: Stratify `CFG::succ` to avoid recursion
  go/ql/lib/semmle/go/controlflow/ControlFlowGraphImpl.qll
Labels: no-change-note-required, Go

#15226 0.0.11 release of `automodel` extraction queries
  java/ql/automodel/src/CHANGELOG.md
  java/ql/automodel/src/change-notes/released/0.0.11.md
  java/ql/automodel/src/codeql-pack.release.yml
  java/ql/automodel/src/qlpack.yml
Labels: documentation, Java

#15227 Add test for Java buildless vs Maven multimodule projects
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/buildless-fetches.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/pom.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod1/pom.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod1/src/main/java/com/example/App.java
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod1/src/main/resources/my-app.properties
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod1/src/main/resources/page.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod1/src/main/resources/struts.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod1/src/test/java/com/example/AppTest.java
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod2/pom.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod2/src/main/java/com/example/App2.java
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod2/src/main/resources/my-app.properties
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod2/src/main/resources/page.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod2/src/main/resources/struts.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/submod2/src/test/java/com/example/AppTest2.java
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/test.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/test.py
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/test.ql
Labels: Java

#15222 C#: Update DB stats.
  csharp/ql/lib/semmlecode.csharp.dbscheme.stats
Labels: C#, no-change-note-required

#15229 Merge `codeql-cli-2.15.4` into `codeql-cli-2.15.5`
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation, Mergeback

#15237 Python: Fix typo in upgrade script
  python/downgrades/503c0516fba2e5da9570f00eb34ef43025ecb8fb/upgrade.properties
Labels: Python

#15236 Merge `codeql-cli-2.15.5` back to `main`
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation, Mergeback

#15157 Data flow: Avoid unnecessary non-linear recursion in `fwdFlowIn`
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#15175 C#: Improve arg-param mapping logic to better handle arguments passed to `params` parameters
  csharp/ql/lib/change-notes/2023-12-20-arg-param-mapping.md
  csharp/ql/lib/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Call.qll
  csharp/ql/test/library-tests/arguments/PrintAst.expected
  csharp/ql/test/library-tests/arguments/argumentByName.expected
  csharp/ql/test/library-tests/arguments/argumentByParameter.expected
  csharp/ql/test/library-tests/arguments/argumentName.expected
  csharp/ql/test/library-tests/arguments/argumentType.expected
  csharp/ql/test/library-tests/arguments/arguments.cs
  csharp/ql/test/library-tests/arguments/parameterGetArguments.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
  csharp/ql/test/query-tests/Nullness/Params.cs
Labels: C#, documentation

#15224 Ruby: update tree-sitter-ruby
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/ql/lib/change-notes/2024-01-05-division-newline.md
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/TreeSitter.expected
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/control/CaseExpr.expected
  ruby/ql/test/library-tests/ast/control/ControlExpr.expected
  ruby/ql/test/library-tests/ast/control/cases.rb
  ruby/ql/test/library-tests/ast/operations/binary.expected
  ruby/ql/test/library-tests/ast/operations/operation.expected
  ruby/ql/test/library-tests/ast/operations/operations.rb
Labels: documentation, Ruby

#15122 Swift: Query for Use of an inappropriate cryptographic hashing algorithm on passwords
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Security.qll
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/lib/codeql/swift/security/WeakPasswordHashingExtensions.qll
  swift/ql/lib/codeql/swift/security/WeakPasswordHashingQuery.qll
  swift/ql/lib/codeql/swift/security/WeakSensitiveDataHashingExtensions.qll
  swift/ql/lib/codeql/swift/security/WeakSensitiveDataHashingQuery.qll
  swift/ql/src/change-notes/2023-12-15-weak-password-hashing.md
  swift/ql/src/queries/Security/CWE-328/WeakPasswordHashing.qhelp
  swift/ql/src/queries/Security/CWE-328/WeakPasswordHashing.ql
  swift/ql/src/queries/Security/CWE-328/WeakPasswordHashingBad.swift
  swift/ql/src/queries/Security/CWE-328/WeakPasswordHashingGood.swift
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashing.ql
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashingBad.swift
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashingGood.swift
  swift/ql/src/queries/Summary/QuerySinks.ql
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-328/WeakPasswordHashing.expected
  swift/ql/test/query-tests/Security/CWE-328/WeakPasswordHashing.qlref
  swift/ql/test/query-tests/Security/CWE-328/WeakSensitiveDataHashing.expected
  swift/ql/test/query-tests/Security/CWE-328/testArgon2Swift.swift
  swift/ql/test/query-tests/Security/CWE-328/testCryptoKit.swift
  swift/ql/test/query-tests/Security/CWE-328/testCryptoSwift.swift
Labels: documentation, ready-for-doc-review, Swift

#14681 Java: Add more sinks to the Insecure Randomness query
  java/ql/lib/ext/org.pac4j.jwt.config.encryption.model.yml
  java/ql/lib/ext/org.pac4j.jwt.config.signature.model.yml
  java/ql/lib/semmle/code/java/frameworks/Netty.qll
  java/ql/lib/semmle/code/java/frameworks/OpenSaml.qll
  java/ql/lib/semmle/code/java/frameworks/Servlets.qll
  java/ql/lib/semmle/code/java/security/Cookies.qll
  java/ql/lib/semmle/code/java/security/InsecureRandomnessQuery.qll
  java/ql/lib/semmle/code/java/security/RandomDataSource.qll
  java/ql/test/query-tests/security/CWE-330/InsecureRandomCookies.java
  java/ql/test/query-tests/security/CWE-330/options
  java/ql/test/stubs/netty-4.1.x/io/netty/handler/codec/http/Cookie.java
  java/ql/test/stubs/netty-4.1.x/io/netty/handler/codec/http/DefaultCookie.java
Labels: Java, no-change-note-required

#15231 Note Java 21 support
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#15241 C++: Fix upgrade delete directives
  cpp/downgrades/cf72c8898d19eb1b3374432cf79d8276cb07ad43/upgrade.properties
  cpp/ql/lib/upgrades/098850d25c4e9d417eb74c1bef9deb2f9d2dc417/upgrade.properties
Labels: C++

#15243 Ruby: Fix upgrade delete directives
  ruby/downgrades/f9f0f4023e433184fda76f595247bf448b782135/upgrade.properties
  ruby/ql/lib/upgrades/30e1075bbdc9ce935dbe28dc7175489fe8e69a4c/upgrade.properties
  ruby/ql/lib/upgrades/40be81bc2086eb0368f33c770e0a84817bb340c3/upgrade.properties
Labels: Ruby

#15203 Ruby: Update Kernel.qll to include `Object.send` aliases
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
Labels: no-change-note-required, Ruby

#14895 Kotlin: Add a 2.0.255 snapshot
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/TypeSubstitution.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/parents.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_255-SNAPSHOT/parents.kt
Labels: depends on internal PR, Kotlin

#15230 Swift: Add dataflow tests for property wrappers and SwiftUI
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
  swift/ql/test/library-tests/dataflow/flowsources/swiftui.swift
  swift/ql/test/query-tests/Security/CWE-311/testSwiftUI.swift
Labels: no-change-note-required, Swift

#14954 32 cpp string concatenation library
  cpp/ql/lib/semmle/code/cpp/commons/StringConcatenation.qll
  cpp/ql/test/library-tests/string_concat/concat.cpp
  cpp/ql/test/library-tests/string_concat/stl.h
  cpp/ql/test/library-tests/string_concat/strconcat.expected
  cpp/ql/test/library-tests/string_concat/strconcat.ql
  cpp/ql/test/library-tests/string_concat/type_traits.h
Labels: C++, no-change-note-required

#14724 Java: Environment variable injection query
  java/ql/lib/ext/hudson.model.yml
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/org.apache.commons.exec.environment.model.yml
  java/ql/lib/ext/org.apache.commons.exec.launcher.model.yml
  java/ql/lib/ext/org.apache.commons.exec.model.yml
  java/ql/lib/semmle/code/java/security/TaintedEnvironmentVariableQuery.qll
  java/ql/src/Security/CWE/CWE-078/ExecTaintedEnvironment.qhelp
  java/ql/src/Security/CWE/CWE-078/ExecTaintedEnvironment.ql
  java/ql/src/Security/CWE/CWE-078/ExecTaintedEnvironmentChecked.java
  java/ql/src/Security/CWE/CWE-078/ExecTaintedEnvironmentName.java
  java/ql/src/Security/CWE/CWE-078/ExecTaintedEnvironmentValidated.java
  java/ql/src/Security/CWE/CWE-078/ExecTaintedEnvironmentValue.java
  java/ql/src/change-notes/2024-01-09-environment-variable-injection-query.md
  java/ql/test/query-tests/security/CWE-078/ExecRelative.expected
  java/ql/test/query-tests/security/CWE-078/ExecTaintedEnvironment.expected
  java/ql/test/query-tests/security/CWE-078/ExecTaintedEnvironment.ql
  java/ql/test/query-tests/security/CWE-078/TaintedEnvironment.java
  shared/mad/codeql/mad/ModelValidation.qll
Labels: documentation, Java, ready-for-doc-review

#15252 C++: Remove test that is no longer relevant
  cpp/ql/test/library-tests/builtins/functions_file/builtins.txt
  cpp/ql/test/library-tests/builtins/functions_file/isbuiltin.expected
  cpp/ql/test/library-tests/builtins/functions_file/isbuiltin.ql
  cpp/ql/test/library-tests/builtins/functions_file/test.c
Labels: C++

#15262 C++: Fix QLDoc on `cmpWithLinearBound`
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/RangeAnalysisUtils.qll
Labels: C++, no-change-note-required

#14393 Kotlin: Remove 1.4 compatibility
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/ClassNames.kt
Labels: Kotlin

#14941 Kotlin 2: Accept some location changes
  java/ql/test-kotlin2/library-tests/dataflow/foreach/test.expected
Labels: Java

#14926 Java: Improve Gson parse, get, and stream models
  java/ql/lib/change-notes/2024-01-02-gson-model-updates.md
  java/ql/lib/ext/com.google.gson.model.yml
Labels: documentation, Java

#15221 JS: promote `PropsTaintStep` to a `PreCallGraphStep`
  javascript/ql/lib/semmle/javascript/frameworks/React.qll
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/tooltip.jsx
Labels: JS, no-change-note-required

#15264 Automodel: Do not generate features for compiler-generated program elements.
  java/ql/automodel/src/AutomodelApplicationModeCharacteristics.qll
  java/ql/automodel/src/AutomodelFrameworkModeCharacteristics.qll
  java/ql/automodel/src/AutomodelJavaUtil.qll
Labels: Java

#15260 Data flow: Remove column from `mayBenefitFromCallContext`
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplSpecific.qll
  docs/ql-libraries/dataflow/dataflow.md
  go/ql/lib/semmle/go/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplSpecific.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplSpecific.qll
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.ql
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
Labels: C#, C++, documentation, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#15267 Go: Migrate AppenderOrSprinter model to models-as-data
  go/ql/lib/change-notes/2024-01-09-fmt-apprender-or-sprinter-deprecated.md
  go/ql/lib/ext/fmt.model.yml
  go/ql/lib/semmle/go/frameworks/stdlib/Fmt.qll
  go/ql/src/Security/CWE-352/ConstantOauth2State.ql
  go/ql/test/experimental/CWE-74/DsnInjection.expected
  go/ql/test/experimental/CWE-74/DsnInjectionLocal.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
Labels: documentation, Go

#15277 Swift: fix upgrade and downgrade scripts
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/upgrade.properties
  swift/downgrades/ea1b37a631001395b9f1eeb36bd5ecec871a7190/upgrade.properties
  swift/ql/lib/upgrades/ceca289a0ff56bcc88f72ad78a8fbff1d850922f/upgrade.properties
Labels: Swift

#15261 document weak aliases in the language reference
  docs/codeql/ql-language-reference/aliases.rst
  docs/codeql/ql-language-reference/modules.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#15251 Support dry-run of publishing script
  java/ql/automodel/publish.sh
Labels: Java

#15268 Go: Adds sources and sinks to `go/clear-text-logging`
  go/ql/lib/semmle/go/frameworks/stdlib/Log.qll
  go/ql/lib/semmle/go/security/CleartextLogging.qll
  go/ql/lib/semmle/go/security/SensitiveActions.qll
  go/ql/src/change-notes/2024-01-09-cleartext-logging-new-sources-and-sinks.md
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-312/main.go
Labels: documentation, Go

#15271 JS: faster TypeScript extraction
  javascript/extractor/lib/typescript/src/type_table.ts
Labels: JS

#15265 C++: add `.def` to exceptions to AV rule 32
  cpp/ql/src/change-notes/2024-01-09-add-exception-to-av-rule-32.md
  cpp/ql/src/jsf/4.06 Pre-Processing Directives/AV Rule 32.ql
  cpp/ql/test/query-tests/jsf/4.06 Pre-Processing Directives/AV Rule 32/test.c
  cpp/ql/test/query-tests/jsf/4.06 Pre-Processing Directives/AV Rule 32/test.def
Labels: C++, documentation

#15283 Release automodel extraction queries v0.0.12.
  java/ql/automodel/src/CHANGELOG.md
  java/ql/automodel/src/change-notes/released/0.0.12.md
  java/ql/automodel/src/codeql-pack.release.yml
  java/ql/automodel/src/qlpack.yml
Labels: documentation, Java

#15273 Ruby: Handle captured `yield` calls
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  ruby/ql/consistency-queries/DataFlowConsistency.ql
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call_sensitivity.rb
  ruby/ql/test/library-tests/dataflow/global/TypeTrackingInlineTest.expected
  ruby/ql/test/library-tests/dataflow/global/blocks.rb
  shared/dataflow/codeql/dataflow/internal/DataFlowImplConsistency.qll
Labels: C++, no-change-note-required, Ruby, DataFlow Library

#13624 JS: Add `dot.js` support
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/TemplateEngines.java
  javascript/ql/lib/semmle/javascript/frameworks/Templating.qll
  javascript/ql/src/change-notes/2023-12-18-dot-templates.md
  javascript/ql/test/library-tests/frameworks/Templating/Xss.expected
  javascript/ql/test/library-tests/frameworks/Templating/app.js
  javascript/ql/test/library-tests/frameworks/Templating/test.expected
  javascript/ql/test/library-tests/frameworks/Templating/views/dot_sinks.html.dot
Labels: JS, documentation

#15249 C# 12: Support for lambda `param` parameter and parameter defaults.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/OrdinaryMethod.cs
  csharp/ql/lib/change-notes/2024-01-10-lambda-param-defaults.md
  csharp/ql/lib/semmle/code/csharp/exprs/Call.qll
  csharp/ql/test/library-tests/arguments/PrintAst.expected
  csharp/ql/test/library-tests/arguments/argumentType.expected
  csharp/ql/test/library-tests/arguments/lambdaArgument.expected
  csharp/ql/test/library-tests/arguments/lambdaArgument.ql
  csharp/ql/test/library-tests/arguments/lambdas.cs
  csharp/ql/test/library-tests/parameters/LambdaParameters.cs
  csharp/ql/test/library-tests/parameters/Parameters.expected
Labels: C#, documentation

#15295 JS: Include sink nodes as base-case when resolving types
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
Labels: JS, no-change-note-required

#15288 Update query-metadata-style-guide.md clarify problem.severity
  docs/query-metadata-style-guide.md
Labels: documentation

#15300 C++: Add a test with `__uuidof` in a template.
  cpp/ql/test/library-tests/literals/uuidof/uuidof.cpp
  cpp/ql/test/library-tests/literals/uuidof/uuidof.expected
  cpp/ql/test/library-tests/literals/uuidof/uuidof.ql
Labels: C++, depends on internal PR

#15235 Replace blog link with link to GitHub user docs
  docs/codeql/writing-codeql-queries/metadata-for-codeql-queries.rst
  docs/query-metadata-style-guide.md
Labels: documentation, ready-for-doc-review

#15297 C# 12: Type alias [Test only]
  csharp/ql/test/library-tests/typealias/alias.cs
  csharp/ql/test/library-tests/typealias/alias.expected
  csharp/ql/test/library-tests/typealias/alias.ql
Labels: C#

#15246 C#/Java: Manual neutral summaries should block generated summaries
  csharp/ql/lib/change-notes/2024-01-11-manual-neutral-model-blocks-generated-models.md
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ext.yml
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
  csharp/ql/test/library-tests/dataflow/external-models/Steps.cs
  csharp/ql/test/library-tests/dataflow/external-models/steps.expected
  csharp/ql/test/library-tests/dataflow/external-models/steps.ext.yml
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/change-notes/2024-01-11-manual-neutral-model-blocks-generated-models.md
  java/ql/test/library-tests/dataflow/external-models/C.java
  java/ql/test/library-tests/dataflow/external-models/steps.expected
  java/ql/test/library-tests/dataflow/external-models/steps.ext.yml
Labels: C#, documentation, Java

#15294 Go: Recognize unsafe candidate selection in `go/insecure-randomness`
  go/ql/lib/semmle/go/security/InsecureRandomness.qll
  go/ql/lib/semmle/go/security/InsecureRandomnessCustomizations.qll
  go/ql/src/change-notes/2024-01-10-insecure-randomness-index-flowstep.md
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/sample.go
Labels: documentation, Go

#15304 C++: Revert "Merge pull request #12125 from jketema/unique-function"
  cpp/ql/lib/semmle/code/cpp/Element.qll
  cpp/ql/lib/semmle/code/cpp/Function.qll
  cpp/ql/lib/semmle/code/cpp/internal/ResolveFunction.qll
Labels: C++, no-change-note-required

#15176 Python: Mention more sanitisation options in py/url-redirection qhelp.
  python/ql/src/Security/CWE-601/UrlRedirect.qhelp
  python/ql/src/Security/CWE-601/examples/redirect_good.py
  python/ql/src/Security/CWE-601/examples/redirect_good2.py
Labels: documentation, Python, ready-for-doc-review

#15282 C++: Fix duplicate "final global value" nodes
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++, no-change-note-required

#15305 Revert "Swift: separate installation of dependencies and autobuilding"
  swift/swift-autobuilder/swift-autobuilder.cpp
Labels: Swift

#15296 C#: Improve getRuntimeArgumentForParameter to consider named arguments.
  csharp/ql/lib/semmle/code/csharp/exprs/Call.qll
  csharp/ql/test/library-tests/arguments/PrintAst.expected
  csharp/ql/test/library-tests/arguments/argumentName.expected
  csharp/ql/test/library-tests/arguments/argumentType.expected
  csharp/ql/test/library-tests/arguments/lambdaArgument.expected
  csharp/ql/test/library-tests/arguments/lambdas.cs
Labels: C#, no-change-note-required

#15266 Update supported-versions-compilers.rst on release candidate branch
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#15315 C++: Fix typo
  cpp/ql/src/experimental/Security/CWE/CWE-1240/CustomCryptographicPrimitive.ql
Labels: C++

#14123 Go: fasthttp
  go/ql/lib/change-notes/2023-09-18-add-support-for-fasthttp-framework.md
  go/ql/lib/ext/github.com.valyala.fasthttp.model.yml
  go/ql/lib/go.qll
  go/ql/lib/semmle/go/frameworks/Fasthttp.qll
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/AdditionalTaintSteps.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/AdditionalTaintSteps.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/EscapeFunction.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/EscapeFunction.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/FileSystemAccess.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/FileSystemAccess.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/OpenRedirect.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/SSRF.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/SSRF.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/UntrustedRemoteFlowSource.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/UntrustedRemoteFlowSource.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/Xss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/Xss.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/fasthttp.go
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/go.mod
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/vendor/github.com/valyala/fasthttp/stub.go
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/vendor/modules.txt
Labels: documentation, Go

#15324 Go: add fasthttp to frameworks for coverage
  go/documentation/library-coverage/coverage.csv
  go/documentation/library-coverage/coverage.rst
  go/documentation/library-coverage/frameworks.csv
Labels: Go

#15327 Go: Better handle pre-release versions
  go/extractor/cli/go-autobuilder/go-autobuilder.go
Labels: Go

#15244 Java: Improve Regex flag parsing
  java/ql/lib/change-notes/2024-01-06-regex-flag-parsing.md
  java/ql/lib/semmle/code/java/regex/regex.qll
  java/ql/test/library-tests/regex/parser/RegexParseTests.expected
  java/ql/test/library-tests/regex/parser/RegexParseTests.ql
  java/ql/test/library-tests/regex/parser/Test.java
Labels: documentation, Java

#15259 Swift: upgrade to 5.9.2
  swift/ql/lib/change-notes/2024-01-09-swift-5.9.2.md
  swift/ql/test/library-tests/dataflow/capture/FlowInline.expected
  swift/ql/test/library-tests/dataflow/dataflow/DataFlowInline.expected
  swift/ql/test/library-tests/dataflow/flowsources/FlowSourcesInline.expected
  swift/ql/test/library-tests/dataflow/taint/core/TaintInline.expected
  swift/ql/test/library-tests/dataflow/taint/libraries/TaintInline.expected
  swift/ql/test/query-tests/Security/CWE-022/PathInjectionTest.expected
  swift/ql/test/query-tests/Security/CWE-312/CleartextLoggingTest.expected
  swift/ql/test/query-tests/Security/CWE-611/XXETest.expected
  swift/third_party/load.bzl
Labels: documentation, Swift

#15322 Swift extractor: Generalise SwiftDiagnostics
  swift/extractor/main.cpp
  swift/logging/SwiftDiagnostics.cpp
  swift/logging/SwiftDiagnostics.h
  swift/logging/SwiftLogging.cpp
  swift/logging/SwiftLogging.h
  swift/logging/tests/assertion-diagnostics/AssertFalse.cpp
  swift/swift-autobuilder/BuildRunner.cpp
  swift/swift-autobuilder/swift-autobuilder.cpp
  swift/tools/diagnostics/AutobuilderIncompatibleOs.cpp
Labels: Swift

#15333 Add note about telemetry for CodeQL extension settings
  docs/codeql/codeql-for-visual-studio-code/about-telemetry-in-codeql-for-visual-studio-code.rst
Labels: documentation

#15279 Generate Changelogs for 2.15.5 & 2.16.0
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.10.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.7.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.4.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.4.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.9.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.6.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.7.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.8.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.9.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#15219 Swift: switch to shared, parameterized CFG library
  swift/ql/consistency-queries/CfgConsistency.ql
  swift/ql/lib/change-notes/2024-01-05-parameterized-cfg-library.md
  swift/ql/lib/codeql/swift/controlflow/BasicBlocks.qll
  swift/ql/lib/codeql/swift/controlflow/CfgNodes.qll
  swift/ql/lib/codeql/swift/controlflow/ControlFlowGraph.qll
  swift/ql/lib/codeql/swift/controlflow/internal/AstControlFlowTrees.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImplShared.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImplSpecific.qll
  swift/ql/lib/codeql/swift/controlflow/internal/Splitting.qll
  swift/ql/lib/qlpack.yml
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.ql
Labels: documentation, Swift

#15341 Go: Exclude all FlowSummaryNodes from test results
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.ql
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.expected
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.ql
Labels: Go

#15348 Swift: Add `nomagic` to `Pattern.getMatchingExpr`
  swift/ql/lib/codeql/swift/elements/pattern/Pattern.qll
Labels: no-change-note-required, Swift

#15329 C++: update tests to pick up destructor changes
  cpp/ql/test/library-tests/c++_exceptions/graphable.expected
  cpp/ql/test/library-tests/c++_exceptions/unreachable.expected
  cpp/ql/test/library-tests/destructors/cfg.expected
  cpp/ql/test/library-tests/destructors/jump_destructs.expected
  cpp/ql/test/successor-tests/stackvariables/stackvariables/graphable.expected
Labels: C++, depends on internal PR

#15351 JS/PY/JAVA/RB: mark the range [0-?] as good in the overly-large-range query
  javascript/ql/test/query-tests/Security/CWE-020/SuspiciousRegexpRange/tst.js
  shared/regex/codeql/regex/OverlyLargeRangeQuery.qll
Labels: JS, Java, Python, Ruby

#15326 Automodel: Apply negative characteristics only to endpoints of the right kind.
  java/ql/automodel/src/AutomodelApplicationModeCharacteristics.qll
  java/ql/automodel/src/AutomodelApplicationModeExtractCandidates.ql
  java/ql/automodel/src/AutomodelApplicationModeExtractNegativeExamples.ql
  java/ql/automodel/src/AutomodelApplicationModeExtractPositiveExamples.ql
  java/ql/automodel/src/AutomodelEndpointTypes.qll
  java/ql/automodel/src/AutomodelFrameworkModeCharacteristics.qll
  java/ql/automodel/src/AutomodelFrameworkModeExtractCandidates.ql
  java/ql/automodel/src/AutomodelFrameworkModeExtractNegativeExamples.ql
  java/ql/automodel/src/AutomodelFrameworkModeExtractPositiveExamples.ql
  java/ql/automodel/src/AutomodelSharedCharacteristics.qll
  java/ql/automodel/src/AutomodelSharedGetCallable.qll
  java/ql/automodel/test/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractCandidates.expected
  java/ql/automodel/test/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractPositiveExamples.expected
  java/ql/automodel/test/AutomodelApplicationModeExtraction/Test.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractCandidates.expected
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractNegativeExamples.expected
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicClass.java
Labels: Java

#15256 Js/Py/Rb: Report any extracted file as successfully extracted
  javascript/ql/lib/change-notes/2024-01-17-successfully-extracted-diagnostic.md
  javascript/ql/src/Diagnostics/SuccessfullyExtractedFiles.ql
  javascript/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.expected
  python/ql/lib/change-notes/2024-01-17-successfully-extracted-diagnostic.md
  python/ql/src/Diagnostics/SuccessfullyExtractedFiles.ql
  python/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.expected
  ruby/ql/lib/change-notes/2024-01-17-successfully-extracted-diagnostic.md
  ruby/ql/src/queries/diagnostics/SuccessfullyExtractedFiles.ql
  ruby/ql/test/query-tests/diagnostics/SuccessfullyExtractedFiles.expected
Labels: JS, documentation, Python, Ruby

#15360 C#: Report any extracted file as successfully extracted
  csharp/ql/lib/change-notes/2024-01-17-csharp-successfully-extracted.md
  csharp/ql/src/Diagnostics/ExtractedFiles.ql
  csharp/ql/test/library-tests/diagnostics/DiagnosticNoExtractorErrors.expected
  csharp/ql/test/library-tests/diagnostics/DiagnosticNoExtractorErrors.qlref
  csharp/ql/test/library-tests/diagnostics/ExtractedFiles.expected
  csharp/ql/test/library-tests/diagnostics/ExtractedFiles.qlref
Labels: C#, documentation

#15375 Fix change note category for clarity
  java/ql/src/change-notes/released/0.8.6.md
Labels: documentation, Java

#15349 Remove outdated CodeQL CLI docs
  docs/codeql/codeql-cli/about-codeql-packs.rst
  docs/codeql/codeql-cli/about-codeql-workspaces.rst
  docs/codeql/codeql-cli/about-ql-packs.rst
  docs/codeql/codeql-cli/about-the-codeql-cli.rst
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/codeql-cli-reference.rst
  docs/codeql/codeql-cli/creating-and-working-with-codeql-packs.rst
  docs/codeql/codeql-cli/creating-codeql-databases.rst
  docs/codeql/codeql-cli/creating-codeql-query-suites.rst
  docs/codeql/codeql-cli/exit-codes.rst
  docs/codeql/codeql-cli/extractor-options.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/index.rst
  docs/codeql/codeql-cli/publishing-and-using-codeql-packs.rst
  docs/codeql/codeql-cli/query-reference-files.rst
  docs/codeql/codeql-cli/sarif-output.rst
  docs/codeql/codeql-cli/specifying-command-options-in-a-codeql-configuration-file.rst
  docs/codeql/codeql-cli/testing-custom-queries.rst
  docs/codeql/codeql-cli/testing-query-help-files.rst
  docs/codeql/codeql-cli/using-custom-queries-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/using-the-codeql-cli.rst
  docs/codeql/contents.rst
  docs/codeql/index.html
Labels: documentation, ready-for-doc-review

#15367 C#: Consider nullable simple types as sanitizers.
  csharp/ql/lib/change-notes/2024-01-18-simpletype-sanitizer.md
  csharp/ql/lib/semmle/code/csharp/security/Sanitizers.qll
  csharp/ql/test/query-tests/Security Features/CWE-117/LogForgingAsp.cs
Labels: C#, documentation

#15376 Regenerate 2.16.0 changelog with fixed changenote
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.0.rst
Labels: documentation

#15039 C#: Add flow steps from a PageModel to cshtml page.
  csharp/ql/lib/semmle/code/csharp/frameworks/Razor.qll
  csharp/ql/src/change-notes/2023-12-12-page-model-flow-steps.md
  csharp/ql/test/query-tests/Security Features/CWE-079/XssPageModels/TestModel.cs
  csharp/ql/test/query-tests/Security Features/CWE-079/XssPageModels/TestPage.cshtml
  csharp/ql/test/query-tests/Security Features/CWE-079/XssPageModels/TestPage.cshtml.g.cs
  csharp/ql/test/query-tests/Security Features/CWE-079/XssPageModels/options
  csharp/ql/test/query-tests/Security Features/CWE-079/XssPageModels/test.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/XssPageModels/test.ql
Labels: C#, documentation

#15373 Go: Add flow sources for AWS Lambda function handlers
  go/ql/lib/change-notes/2024-01-18-aws-lambda-sources.md
  go/ql/lib/semmle/go/frameworks/AwsLambda.qll
  go/ql/test/library-tests/semmle/go/frameworks/AwsLambda/go.mod
  go/ql/test/library-tests/semmle/go/frameworks/AwsLambda/test.expected
  go/ql/test/library-tests/semmle/go/frameworks/AwsLambda/test.go
  go/ql/test/library-tests/semmle/go/frameworks/AwsLambda/test.ql
  go/ql/test/library-tests/semmle/go/frameworks/AwsLambda/vendor/github.com/aws/aws-lambda-go/lambda/stub.go
  go/ql/test/library-tests/semmle/go/frameworks/AwsLambda/vendor/modules.txt
Labels: documentation, Go

#15378 Note AWS Lambda support
  docs/codeql/reusables/supported-frameworks.rst
Labels: documentation

#15187 Python: Add support for more URL redirect sanitisers.
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/lib/semmle/python/frameworks/Stdlib/Urllib.qll
  python/ql/lib/semmle/python/frameworks/Yarl.qll
  python/ql/lib/semmle/python/security/dataflow/UrlRedirectCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/UrlRedirectQuery.qll
  python/ql/src/Security/CWE-601/UrlRedirect.qhelp
  python/ql/src/Security/CWE-601/examples/redirect_good2.py
  python/ql/src/Security/CWE-601/examples/redirect_good3.py
  python/ql/src/change-notes/2023-12-21-url-redirect-more-sanitizers.md
  python/ql/test/query-tests/Security/CWE-601-UrlRedirect/UrlRedirect.expected
  python/ql/test/query-tests/Security/CWE-601-UrlRedirect/test.py
Labels: documentation, Python

#15404 C#: Add dummy stats for inline_array_type.
  csharp/ql/lib/semmlecode.csharp.dbscheme.stats
Labels: C#

#15188 Java: Update MaD Declarations after Triage
  java/ql/lib/change-notes/2023-12-21-new-models.md
  java/ql/lib/ext/java.awt.model.yml
  java/ql/lib/ext/javax.servlet.http.model.yml
Labels: documentation, Java

#15401 CPP: Fix join ordering hints to make them do what they intend.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Labels: C++, no-change-note-required

#15408 Log advice when a newer Go version is required under Actions
  go/extractor/cli/go-autobuilder/go-autobuilder.go
Labels: Go

#15395 C#: Try fallback `dotnet restore` without nuget.config
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNet.cs
  csharp/extractor/Semmle.Extraction.Tests/DotNet.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/Assemblies.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/proj/Program.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/proj/nuget.config
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/proj/proj.csproj
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/standalone.sln
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/test.py
Labels: C#

#15359 C#: Threat Modeling - Introduce `ThreatModelFlowSource`
  csharp/ql/lib/change-notes/2024-01-17-introduce-threatmodelflowsource.md
  csharp/ql/lib/qlpack.yml
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/NHibernate.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/FlowSources.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/Local.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/Remote.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/Stored.qll
  csharp/ql/test/library-tests/dataflow/threat-models/Test.cs
  csharp/ql/test/library-tests/dataflow/threat-models/Test.qll
  csharp/ql/test/library-tests/dataflow/threat-models/TestSources.cs
  csharp/ql/test/library-tests/dataflow/threat-models/options
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.ext.yml
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.ql
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.ext.yml
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.ql
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.ext.yml
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.ql
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.ext.yml
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.ql
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.ext.yml
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.ql
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.ext.yml
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.ql
Labels: C#, documentation

#15410 C++: Remove more `asExpr` duplication
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/string_concat/strconcat.expected
Labels: C++, no-change-note-required

#15343 Generalization of FlowAfterFree
  cpp/ql/lib/semmle/code/cpp/models/implementations/Deallocation.qll
  cpp/ql/lib/semmle/code/cpp/security/flowafterfree/FlowAfterFree.qll
  cpp/ql/lib/semmle/code/cpp/security/flowafterfree/UseAfterFree.qll
  cpp/ql/src/Critical/DoubleFree.ql
  cpp/ql/src/Critical/UseAfterFree.ql
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryFreed.expected
Labels: C++, no-change-note-required

#15291 Java: Introduce a common sanitizer type for types which cannot realistically carry taint.
  java/ql/lib/change-notes/2024-01-20-introduce-simplescalarsanitizer-class-for-common-sanitizer.md
  java/ql/lib/semmle/code/java/security/BrokenCryptoAlgorithmQuery.qll
  java/ql/lib/semmle/code/java/security/CommandLineQuery.qll
  java/ql/lib/semmle/code/java/security/ExecTaintedLocalQuery.qll
  java/ql/lib/semmle/code/java/security/HttpsUrlsQuery.qll
  java/ql/lib/semmle/code/java/security/JndiInjectionQuery.qll
  java/ql/lib/semmle/code/java/security/LdapInjection.qll
  java/ql/lib/semmle/code/java/security/LogInjection.qll
  java/ql/lib/semmle/code/java/security/OgnlInjectionQuery.qll
  java/ql/lib/semmle/code/java/security/RequestForgery.qll
  java/ql/lib/semmle/code/java/security/ResponseSplittingQuery.qll
  java/ql/lib/semmle/code/java/security/Sanitizers.qll
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
  java/ql/lib/semmle/code/java/security/SqlConcatenatedQuery.qll
  java/ql/lib/semmle/code/java/security/SqlInjectionQuery.qll
  java/ql/lib/semmle/code/java/security/SqlTaintedLocalQuery.qll
  java/ql/lib/semmle/code/java/security/TaintedPathQuery.qll
  java/ql/lib/semmle/code/java/security/TemplateInjection.qll
  java/ql/lib/semmle/code/java/security/TrustBoundaryViolationQuery.qll
  java/ql/lib/semmle/code/java/security/UnsafeContentUriResolution.qll
  java/ql/lib/semmle/code/java/security/XsltInjectionQuery.qll
  java/ql/lib/semmle/code/java/security/regexp/PolynomialReDoSQuery.qll
  java/ql/src/experimental/Security/CWE/CWE-020/Log4jJndiInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-073/FilePathInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-078/CommandInjectionRuntimeExec.qll
  java/ql/src/experimental/Security/CWE/CWE-089/MyBatisAnnotationSqlInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-089/MyBatisMapperXmlSqlInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-348/ClientSuppliedIpUsedInSecurityCheck.ql
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeUrlForward.qll
Labels: documentation, Java

#15394 C#: Add more santizers to the `cs/web/unvalidated-url-redirection` query.
  csharp/ql/lib/semmle/code/csharp/frameworks/Format.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/UrlRedirectQuery.qll
  csharp/ql/src/change-notes/2024-01-22-url-redirect-sanitizer.md
  csharp/ql/test/query-tests/Security Features/CWE-601/UrlRedirect/UrlRedirect.cs
  csharp/ql/test/query-tests/Security Features/CWE-601/UrlRedirect/UrlRedirect.expected
Labels: C#, documentation

#15402 C#: Enable standalone extraction via `--build-mode`
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
Labels: C#

#15411 Go: Refactor autobuilder to split it up a bit
  go/extractor/autobuilder/build-environment.go
  go/extractor/autobuilder/build-environment_test.go
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/cli/go-autobuilder/go-autobuilder_test.go
  go/extractor/project/project.go
  go/extractor/toolchain/toolchain.go
  go/extractor/toolchain/toolchain_test.go
Labels: Go

#15384 Kotlin: Support Kotlin 2.0.0-Beta3
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_0-Beta3/IrSymbolInternals.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_0-Beta3/JavaBinarySourceElement.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_0-Beta3/parents.kt
Labels: depends on internal PR, Kotlin

#15413 Add tests for Java buildless w/sibling projects
  java/ql/integration-tests/all-platforms/java/buildless-gradle/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven/test.actual
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/buildless-fetches.expected
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/force_sequential_test_execution
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample/.gitattributes
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample/.gitignore
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample/build.gradle
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample/gradle/verification-metadata.xml
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample/gradlew
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample/gradlew.bat
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample/settings.gradle
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample/src/main/java/com/example/App.java
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample/src/test/java/com/example/AppTest.java
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample2/.gitattributes
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample2/.gitignore
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample2/build.gradle
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample2/gradle/verification-metadata.xml
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample2/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample2/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample2/gradlew
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample2/gradlew.bat
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample2/settings.gradle
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample2/src/main/java/com/example/App2.java
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/gradle-sample2/src/test/java/com/example/AppTest2.java
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-1/pom.xml
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-1/src/main/java/com/example/App3.java
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-1/src/main/resources/my-app.properties
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-1/src/main/resources/page.xml
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-1/src/main/resources/struts.xml
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-1/src/test/java/com/example/AppTest3.java
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-2/pom.xml
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-2/src/main/java/com/example/App4.java
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-2/src/main/resources/my-app.properties
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-2/src/main/resources/page.xml
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-2/src/main/resources/struts.xml
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/maven-project-2/src/test/java/com/example/AppTest4.java
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/test.expected
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/test.py
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/test.ql
Labels: Java

#15318 C++: First-class destructors in AST
  cpp/ql/lib/semmle/code/cpp/PrintAST.qll
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/lib/semmle/code/cpp/stmts/Stmt.qll
  cpp/ql/test/library-tests/destructors/PrintAST.expected
  cpp/ql/test/library-tests/destructors/PrintAST.ql
  cpp/ql/test/library-tests/destructors/destructors.expected
  cpp/ql/test/library-tests/destructors/destructors.ql
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Labels: C++, depends on internal PR

#15424 C#: Improve log messages in buildless mode + some cleanup/refactoring
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyCache.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Assets.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNetCliInvoker.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileContent.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileInfoExtensions.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FilePathFilter.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackages.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/ProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Razor.cs
  csharp/extractor/Semmle.Extraction.Tests/Assets.cs
  csharp/extractor/Semmle.Extraction.Tests/DotNet.cs
  csharp/extractor/Semmle.Extraction.Tests/FileContent.cs
  csharp/extractor/Semmle.Extraction.Tests/FilePathFilter.cs
  csharp/extractor/Semmle.Extraction.Tests/LoggerStub.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
  csharp/extractor/Semmle.Util.Tests/CanonicalPathCache.cs
  csharp/extractor/Semmle.Util.Tests/FileUtils.cs
  csharp/extractor/Semmle.Util/Logger.cs
Labels: C#

#15432 C#: Filter results of division by 0 from `cs/telemetry/extraction-information`
  csharp/ql/src/Telemetry/ExtractorInformation.ql
Labels: C#, no-change-note-required

#15435 remove an FP in overly-large-range for [@-Z]
  javascript/ql/test/query-tests/Security/CWE-020/SuspiciousRegexpRange/tst.js
  shared/regex/codeql/regex/OverlyLargeRangeQuery.qll
Labels: JS, no-change-note-required

#15433 Swift: update formatting to `clang-format` 17.0.6
  .clang-format
  .github/workflows/swift.yml
  .pre-commit-config.yaml
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/infra/SwiftLocationExtractor.h
  swift/extractor/translators/PatternTranslator.cpp
  swift/extractor/trap/TrapLabel.h
  swift/integration-tests/.clang-format
  swift/logging/SwiftLogging.h
Labels: Swift

#15409 Java: Improve the QHelp for `java/path-injection`.
  java/ql/src/Security/CWE/CWE-022/TaintedPath.qhelp
  java/ql/src/Security/CWE/CWE-022/TaintedPathGood.java
  java/ql/src/Security/CWE/CWE-022/ZipSlip.qhelp
  java/ql/src/Security/CWE/CWE-022/examples/TaintedPath.java
  java/ql/src/Security/CWE/CWE-022/examples/TaintedPathGoodFolder.java
  java/ql/src/Security/CWE/CWE-022/examples/TaintedPathGoodNormalize.java
  java/ql/src/Security/CWE/CWE-022/examples/ZipSlipBad.java
  java/ql/src/Security/CWE/CWE-022/examples/ZipSlipGood.java
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.java
Labels: documentation, Java, ready-for-doc-review

#15434 DataFlow: Fix join order
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#15427 C++: Add `asExpr` and `asIndirectExpr` library tests (and fix more duplication)
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/asExpr/test-indirect.expected
  cpp/ql/test/library-tests/dataflow/asExpr/test-indirect.ql
  cpp/ql/test/library-tests/dataflow/asExpr/test.cpp
  cpp/ql/test/library-tests/dataflow/asExpr/test.expected
  cpp/ql/test/library-tests/dataflow/asExpr/test.ql
Labels: C++, no-change-note-required

#15420 Java: Update MaD Declarations after Triage
  java/ql/lib/change-notes/2024-01-24-new-models.md
  java/ql/lib/ext/com.fasterxml.jackson.databind.model.yml
  java/ql/lib/ext/javax.servlet.model.yml
Labels: documentation, Java

#15437 C#: Introduce log verbosity extractor option
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/codeql-extractor.yml
  csharp/extractor/Semmle.Extraction.CIL.Driver/Program.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Options.cs
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
  csharp/extractor/Semmle.Extraction/Options.cs
  csharp/extractor/Semmle.Util/Logger.cs
  csharp/extractor/Semmle.Util/Logging/CombinedLogger.cs
  csharp/extractor/Semmle.Util/Logging/ConsoleLogger.cs
  csharp/extractor/Semmle.Util/Logging/FileLogger.cs
  csharp/extractor/Semmle.Util/Logging/ILogger.cs
  csharp/extractor/Semmle.Util/Logging/PidStreamWriter.cs
  csharp/extractor/Semmle.Util/Logging/Severity.cs
  csharp/extractor/Semmle.Util/Logging/Verbosity.cs
  csharp/extractor/Semmle.Util/Logging/VerbosityExtensions.cs
  csharp/ql/lib/change-notes/2024-01-25-extractor-option-logging.md
Labels: C#, documentation

#15438 Generate changelog for 2.16.1
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.10.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.7.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.4.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.4.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.9.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.6.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.7.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.8.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.9.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#15447 Merge `codeql-cli-2.16.0` back into `codeql-cli-2.16.1`
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.0.rst
  java/ql/src/change-notes/released/0.8.6.md
Labels: documentation, Java

#15446 Merge `codeql-cli-2.16.1` back to `main`
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.10.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.7.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.4.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.4.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.5.9.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.6.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.7.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.8.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.9.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
  java/ql/src/change-notes/released/0.8.6.md
Labels: documentation, Java

#15436 Java: Add models for overloads of DatagramPacket constructor
  java/ql/lib/ext/java.net.model.yml
Labels: Java, no-change-note-required

#15281 Java: Add query for exposure of sensitive information to android notifiactions
  java/ql/lib/ext/android.app.model.yml
  java/ql/lib/ext/androidx.core.app.model.yml
  java/ql/lib/semmle/code/java/security/SensitiveUiQuery.qll
  java/ql/src/Security/CWE/CWE-200/AndroidSensitiveNotifications.java
  java/ql/src/Security/CWE/CWE-200/AndroidSensitiveNotifications.qhelp
  java/ql/src/Security/CWE/CWE-200/AndroidSensitiveNotifications.ql
  java/ql/src/change-notes/2024-01-15-android-sensitive-notification-query.md
  java/ql/test/library-tests/frameworks/android/notification/Test.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/SensitiveNotification/Test.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/SensitiveNotification/options
  java/ql/test/query-tests/security/CWE-200/semmle/tests/SensitiveNotification/test.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/SensitiveNotification/test.ql
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/Files.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/TempDirLocalInformationDisclosure.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/TempDirLocalInformationDisclosure.qlref
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/Test.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/TestSafe.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/options
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewAccess/WebViewContentAccess.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewAccess/WebViewContentAccess.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewAccess/WebViewContentAccess.qlref
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewAccess/WebViewFileAccess.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewAccess/WebViewFileAccess.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewAccess/WebViewFileAccess.qlref
  java/ql/test/query-tests/security/CWE-200/semmle/tests/WebViewAccess/options
  java/ql/test/query-tests/security/CWE-200/semmle/tests/options
  java/ql/test/stubs/google-android-9.0.0/android/app/Notification.java
  java/ql/test/stubs/google-android-9.0.0/android/content/pm/ShortcutInfo.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/NotificationCompat.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/Person.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/content/LocusIdCompat.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/content/pm/ShortcutInfoCompat.java
  shared/mad/codeql/mad/ModelValidation.qll
Labels: documentation, Java, ready-for-doc-review

#14940 Kotlin 2: Comment improvements
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/comments/CommentExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_9_0-Beta/CommentExtractorLighterAST.kt
  java/ql/test-kotlin2/library-tests/comments/comments.expected
  java/ql/test-kotlin2/library-tests/comments/comments.kt
Labels: Java, Kotlin

#15428 Kotlin: Catch/ignore a IllegalArgumentException exception
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Labels: Kotlin

#15390 Python: Support `a` (ASCII) inline regex flag
  python/ql/lib/change-notes/2024-01-21-regex-ascii-flag.md
  python/ql/lib/semmle/python/regexp/internal/ParseRegExp.qll
  python/ql/test/library-tests/regex/Characters.expected
  python/ql/test/library-tests/regex/FirstLast.expected
  python/ql/test/library-tests/regex/GroupContents.expected
  python/ql/test/library-tests/regex/Mode.expected
  python/ql/test/library-tests/regex/Qualified.expected
  python/ql/test/library-tests/regex/Regex.expected
  python/ql/test/library-tests/regex/test.py
Labels: documentation, Python

#15456 C++: Fix FP in `cpp/incorrectly-checked-scanf`
  cpp/ql/src/Critical/ScanfChecks.qll
  cpp/ql/src/change-notes/2024-01-29-incorrectly-checked-scanf.md
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Labels: C++, documentation

#15460 C++: Fix another FP in `cpp/incorrectly-checked-scanf`
  cpp/ql/src/Critical/ScanfChecks.qll
  cpp/ql/src/change-notes/2024-01-29-incorrectly-checked-scanf-2.md
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Labels: C++, documentation

#15448 cpp/incorrect-string-type-conversion false positive fixes
  cpp/ql/src/Security/CWE/CWE-704/WcharCharConversion.ql
  cpp/ql/src/change-notes/2024-01-29-false_positive_incorrect_string_type_conversion.md
  cpp/ql/test/query-tests/Security/CWE/CWE-704/WcharCharConversion.cpp
Labels: C++, documentation

#15467 Ruby: Block flow from LHS of && expressions
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/InlineFlowTest.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/dataflow/local/local_dataflow.rb
Labels: no-change-note-required, Ruby

#15470 Ruby: Correctly report supported status of summary and neutral models
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
Labels: no-change-note-required, Ruby

#15398 Python: Add `html.escape` as HTML sanitizer
  python/ql/lib/change-notes/2024-01-22-html-escape.md
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/stdlib/test_html.py
Labels: documentation, Python

#15465 JS/TS/Python/Ruby: Renames diagnostic query files and tests
  javascript/ql/src/Diagnostics/ExtractedFiles.ql
  javascript/ql/test/query-tests/Diagnostics/ExtractedFiles.expected
  javascript/ql/test/query-tests/Diagnostics/ExtractedFiles.qlref
  javascript/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.qlref
  python/ql/src/Diagnostics/ExtractedFiles.ql
  python/ql/test/query-tests/Diagnostics/ExtractedFiles.expected
  python/ql/test/query-tests/Diagnostics/ExtractedFiles.qlref
  python/ql/test/query-tests/Diagnostics/SuccessfullyExtractedFiles.qlref
  ruby/ql/src/queries/diagnostics/ExtractedFiles.ql
  ruby/ql/test/query-tests/diagnostics/ExtractedFiles.expected
  ruby/ql/test/query-tests/diagnostics/ExtractedFiles.qlref
  ruby/ql/test/query-tests/diagnostics/SuccessfullyExtractedFiles.qlref
Labels: JS, Python, no-change-note-required, Ruby

#14544 Ruby: additional unsafe deserialization sinks for ox and one for oj
  ruby/ql/lib/codeql/ruby/security/UnsafeDeserializationCustomizations.qll
  ruby/ql/src/change-notes/2024-01-30-unsafe-deserialization-sinks.md
  ruby/ql/src/queries/security/cwe-502/UnsafeDeserialization.qhelp
  ruby/ql/src/queries/security/cwe-502/examples/UnsafeDeserializationBad.rb
  ruby/ql/test/query-tests/security/cwe-502/ox-global-options/OxGlobalOptions.rb
  ruby/ql/test/query-tests/security/cwe-502/ox-global-options/Startup.rb
  ruby/ql/test/query-tests/security/cwe-502/ox-global-options/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-502/ox-global-options/UnsafeDeserialization.qlref
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.rb
Labels: documentation, Ruby

#15468 Ruby: Rework `mayBenefitFromCallContext`
  ruby/ql/lib/codeql/ruby/ast/Call.qll
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/typetracking/internal/TypeTrackingImpl.qll
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
Labels: no-change-note-required, Ruby

#15461 C++: Support function calls throwing exceptions in the IR
  cpp/ql/lib/change-notes/2024-01-30-throwing-model.md
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCondition.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedGlobalVar.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/lib/semmle/code/cpp/models/Models.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StructuredExceptionHandling.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/Throwing.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.c
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, documentation

#15473 Ruby: Only generate models for public methods
  ruby/ql/src/queries/modeling/internal/Util.qll
Labels: no-change-note-required, Ruby

#15463 False positive fix for cpp/uninitialized-local
  cpp/ql/src/Likely Bugs/Memory Management/UninitializedLocal.ql
  cpp/ql/src/change-notes/2024-01-29-uninitialized-local-false-positive.md
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/test.cpp
Labels: C++, documentation

#15485 Ruby: Only model relevant files for type models
  ruby/ql/src/queries/modeling/internal/Types.qll
  ruby/ql/src/queries/modeling/internal/Util.qll
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
Labels: no-change-note-required, Ruby

#15370 Ruby: Model flow through `ViewComponent` render methods
  ruby/ql/lib/change-notes/2024-01-22-erb-render-flow.md
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/ViewComponent.qll
  ruby/ql/lib/codeql/ruby/security/CodeInjectionQuery.qll
  ruby/ql/lib/codeql/ruby/typetracking/internal/TypeTrackingImpl.qll
  ruby/ql/test/library-tests/dataflow/erb/erb.expected
  ruby/ql/test/library-tests/dataflow/erb/erb.ql
  ruby/ql/test/library-tests/dataflow/erb/main.rb
  ruby/ql/test/library-tests/dataflow/erb/view1.html.erb
  ruby/ql/test/library-tests/dataflow/erb/view1.rb
  ruby/ql/test/library-tests/dataflow/erb/view2.html.erb
  ruby/ql/test/library-tests/dataflow/erb/view2.rb
  ruby/ql/test/library-tests/dataflow/erb/view3.html.erb
  ruby/ql/test/library-tests/dataflow/erb/view3.rb
  ruby/ql/test/library-tests/dataflow/erb/view4.rb
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/dataflow/params/TypeTracker.expected
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
Labels: documentation, Ruby

#14554 Ruby: Add Insecure Randomness Query
  ruby/ql/lib/codeql/ruby/security/InsecureRandomnessCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/InsecureRandomnessQuery.qll
  ruby/ql/src/change-notes/2023-12-18-insecure-randomness-query.md
  ruby/ql/src/experimental/insecure-randomness/InsecureRandomness.qhelp
  ruby/ql/src/experimental/insecure-randomness/InsecureRandomness.ql
  ruby/ql/src/experimental/insecure-randomness/examples/InsecureRandomnessBad.rb
  ruby/ql/src/experimental/insecure-randomness/examples/InsecureRandomnessGood.rb
  ruby/ql/test/query-tests/experimental/InsecureRandomness/InsecureRandomness.expected
  ruby/ql/test/query-tests/experimental/InsecureRandomness/InsecureRandomness.qlref
  ruby/ql/test/query-tests/experimental/InsecureRandomness/InsecureRandomness.rb
Labels: documentation, Ruby
