Repository github/codeql, pull requests merged in 2024-11, with the labels that each got.

#17880 Ruby: Do not distinguish between symbols and strings in hash keys
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.rb
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash_flow.rb
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupportDataFlow.expected
  ruby/ql/test/library-tests/frameworks/active_support/hash_extensions.rb
Labels: no-change-note-required, Ruby

#17875 Python: Improve parser logging/timing/customisability
  python/extractor/semmle/python/imports.py
  python/extractor/semmle/python/modules.py
  python/extractor/semmle/python/parser/tsg_parser.py
  python/extractor/semmle/util.py
Labels: Python, no-change-note-required

#17789 Python: Refactor references to NormalCall.
  python/ql/src/meta/analysis-quality/CallGraphQuality.qll
  python/ql/test/experimental/library-tests/CallGraph/InlineCallGraphTest.ql
  python/ql/test/library-tests/dataflow/calls/DataFlowCallTest.ql
Labels: Python, no-change-note-required

#17865 Rust: Exclude results inside macro expansions from unused entity queries
  rust/ql/lib/codeql/rust/elements/internal/AstNodeImpl.qll
  rust/ql/src/queries/unusedentities/UnreachableCode.ql
  rust/ql/src/queries/unusedentities/UnusedValue.ql
  rust/ql/src/queries/unusedentities/UnusedVariable.ql
  rust/ql/src/queries/unusedentities/UnusedVariable.qll
  rust/ql/test/query-tests/unusedentities/UnreachableCode.expected
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/UnusedVariable.expected
  rust/ql/test/query-tests/unusedentities/main.rs
  rust/ql/test/query-tests/unusedentities/options
  rust/ql/test/query-tests/unusedentities/unreachable.rs
Labels: Rust

#17849 Rust: try to speed things up a bit
  rust/extractor/src/main.rs
  rust/extractor/src/rust_analyzer.rs
  rust/extractor/src/translate/base.rs
Labels: Rust

#17897 Rust: fix semantic merge conflict about semantics
  rust/extractor/src/main.rs
Labels: Rust

#17898 Rust: CFG classes are in expression module iff they correspond to exp…
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
Labels: Rust

#17256 JS: Add support for threat models
  docs/codeql/codeql-language-guides/customizing-library-models-for-javascript.rst
  docs/codeql/reusables/beta-note-threat-models.rst
  javascript/ql/lib/change-notes/2024-10-29-threat-models.md
  javascript/ql/lib/ext/default-threat-models-fixup.model.yml
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/Concepts.qll
  javascript/ql/lib/semmle/javascript/frameworks/CommandLineArguments.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.model.yml
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/ModelsAsData.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CommandInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ConditionalBypassCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CorsMisconfigurationForCredentialsCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/DeepObjectResourceExhaustionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/DomBasedXssCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/IndirectCommandInjectionQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/NosqlInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/RegExpInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/RemoteFlowSources.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/RemotePropertyInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/RequestForgeryCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/SqlInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TemplateObjectInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeDeserializationCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeDynamicMethodAccessCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCallCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/XmlBombCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/XxeCustomizations.qll
  javascript/ql/src/experimental/Security/CWE-942/CorsPermissiveConfigurationCustomizations.qll
  javascript/ql/test/library-tests/threat-models/default/ActiveKinds.expected
  javascript/ql/test/library-tests/threat-models/default/ActiveKinds.ql
  javascript/ql/test/library-tests/threat-models/sources/TestSources.expected
  javascript/ql/test/library-tests/threat-models/sources/TestSources.ql
  javascript/ql/test/library-tests/threat-models/sources/externs.js
  javascript/ql/test/library-tests/threat-models/sources/sources.js
  javascript/ql/test/query-tests/Security/CWE-089/local-threat-source/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/local-threat-source/SqlInjection.ext.yml
  javascript/ql/test/query-tests/Security/CWE-089/local-threat-source/SqlInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-089/local-threat-source/test.js
Labels: JS, documentation

#17832 CodeQL 2.19.2 changedocs
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.19.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.19.2.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#17891 Swift: Update models for better Swift 6 compatibility.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Collection.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Sequence.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/TaintInline.expected
Labels: Swift

#17888 Rust: Data flow additions
  rust/ql/lib/codeql/rust/controlflow/CfgNodes.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  rust/ql/test/extractor-tests/generated/MacroItems/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
Labels: no-change-note-required, Rust

#17915 Rust: Include literals in the CFG for literal patterns
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/variables/Cfg.expected
Labels: Rust

#17863 Shared: Add a Universal Flow library and refactor TypeFlow to use it.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TypeFlow.qll
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
  shared/typeflow/codeql/typeflow/TypeFlow.qll
  shared/typeflow/codeql/typeflow/UniversalFlow.qll
  shared/typeflow/codeql/typeflow/internal/TypeFlowImpl.qll
Labels: C++, Java, no-change-note-required

#17917 Rust: Fix unique type data flow inconsistency
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/extractor-tests/generated/BecomeExpr/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/ClosureExpr/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/Function/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/LetExpr/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/MacroItems/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/MatchArm/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/MatchExpr/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/Trait/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/controlflow/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/dataflow/barrier/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/variables/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/query-tests/unusedentities/CONSISTENCY/DataFlowConsistency.expected
Labels: Rust

#17908 Rust: Expose counts of data flow inconsistencies
  rust/ql/consistency-queries/DataFlowConsistency.ql
  rust/ql/src/queries/diagnostics/DataFlowConsistencyCounts.ql
  rust/ql/src/queries/summary/Stats.qll
  rust/ql/src/queries/summary/SummaryStats.ql
  rust/ql/test/query-tests/diagnostics/DataFlowConsistencyCounts.expected
  rust/ql/test/query-tests/diagnostics/DataFlowConsistencyCounts.qlref
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
  shared/dataflow/codeql/dataflow/internal/DataFlowImplConsistency.qll
Labels: no-change-note-required, Rust, DataFlow Library

#17920 Rust: exclude uncompiled files from semantics and surface semantic-less reason
  rust/extractor/src/main.rs
  rust/extractor/src/rust_analyzer.rs
  rust/extractor/src/translate/base.rs
Labels: Rust

#17742 C#: Models for higher order methods.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
Labels: C#, Java, no-change-note-required

#17921 Rust: Implement enclosing callable
  rust/ql/lib/codeql/rust/controlflow/CfgNodes.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/extractor-tests/generated/BecomeExpr/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/ClosureExpr/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/ContinueExpr/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/Function/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/LetExpr/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/LoopExpr/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/MacroItems/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/MatchArm/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/MatchExpr/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/controlflow/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/dataflow/barrier/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/variables/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/query-tests/unusedentities/CONSISTENCY/DataFlowConsistency.expected
Labels: Rust

#17912 fix: add "actions" tag to ActionsArtifactLeak
  javascript/ql/src/Security/CWE-312/ActionsArtifactLeak.ql
Labels: JS, no-change-note-required

#17913 Rust: Fix rust/unused-variable FPs
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/src/queries/unusedentities/UnusedVariable.ql
  rust/ql/src/queries/unusedentities/UnusedVariable.qll
  rust/ql/test/query-tests/unusedentities/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/UnusedVariable.expected
  rust/ql/test/query-tests/unusedentities/main.rs
  rust/ql/test/query-tests/unusedentities/more.rs
Labels: Rust

#17931 Rust: allow to specify the target directory
  rust/codeql-extractor.yml
  rust/extractor/macros/src/lib.rs
  rust/extractor/src/config.rs
  rust/extractor/src/main.rs
  rust/extractor/src/rust_analyzer.rs
Labels: Rust

#17932 Kotlin: Support NotNullExpr in TypeFlow.
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
Labels: Java, no-change-note-required

#17881 KE2: Extract safe qualified expressions
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
  java/kotlin-extractor2/src/main/kotlin/entities/MethodCall.kt
  java/ql/lib/config/semmlecode.dbscheme
  java/ql/lib/semmle/code/java/Expr.qll
Labels: Java, Kotlin

#17943 Rust: accept some inconsitencies for now
  rust/ql/test/extractor-tests/canonical_path/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/extractor-tests/generated/MacroItems/CONSISTENCY/DataFlowConsistency.expected
Labels: Rust

#17935 Changedocs for 2.19.3
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.19.3.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#17923 Rust: More tests for rust/deadcode
  rust/ql/test/query-tests/unusedentities/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/query-tests/unusedentities/UnreachableCode.expected
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/main.rs
  rust/ql/test/query-tests/unusedentities/unreachable.rs
Labels: Rust

#17947 Rust: Mark SSA data flow nodes in output and hide them in paths
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
Labels: Rust

#17890 Kotlin extractor: use special <nulltype> for null literals
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test-kotlin1/library-tests/classes/genericExprTypes.expected
  java/ql/test-kotlin2/library-tests/classes/genericExprTypes.expected
Labels: Java, Kotlin

#17952 Java: Move non-experimental models out of the experimental folder.
  java/ql/lib/ext/experimental/java.nio.model.yml
  java/ql/lib/ext/experimental/java.util.zip.model.yml
  java/ql/lib/ext/experimental/org.apache.shiro.authc.model.yml
  java/ql/lib/ext/experimental/s3-transfer-manager.model.yml
  java/ql/lib/ext/experimental/spring-core.model.yml
  java/ql/lib/ext/java.nio.model.yml
  java/ql/lib/ext/java.util.zip.model.yml
  java/ql/lib/ext/net.lingala.zip4j.model.yml
  java/ql/lib/ext/org.apache.shiro.authc.model.yml
  java/ql/lib/ext/org.springframework.core.io.model.yml
  java/ql/lib/ext/software.amazon.awssdk.transfer.s3.model.model.yml
Labels: Java, no-change-note-required

#17956 Rust: Update cargo dependencies.
  Cargo.lock
  ql/Cargo.lock
  ruby/extractor/Cargo.toml
  shared/tree-sitter-extractor/Cargo.toml
Labels: Ruby, QL-for-QL, Rust

#17941 Go: fix missing qualified names for some promoted methods
  go/extractor/extractor.go
  go/ql/lib/change-notes/2024-11-07-fix-missing-qualified-names-for-methods.md
  go/ql/test/library-tests/semmle/go/Types/Field_getPackage.expected
  go/ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName2.expected
  go/ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName3.expected
  go/ql/test/library-tests/semmle/go/Types/MethodCount.expected
  go/ql/test/library-tests/semmle/go/Types/MethodTypes.expected
  go/ql/test/library-tests/semmle/go/Types/Method_hasQualifiedName2.expected
  go/ql/test/library-tests/semmle/go/Types/Method_hasQualifiedName3.expected
  go/ql/test/library-tests/semmle/go/Types/Methods.expected
  go/ql/test/library-tests/semmle/go/Types/QualifiedNames.expected
  go/ql/test/library-tests/semmle/go/Types/SignatureType_getNumParameter.expected
  go/ql/test/library-tests/semmle/go/Types/SignatureType_getNumResult.expected
  go/ql/test/library-tests/semmle/go/Types/StructFields.expected
  go/ql/test/library-tests/semmle/go/Types/Types.expected
  go/ql/test/library-tests/semmle/go/Types/pkg1/promotedStructs.go
  go/ql/test/library-tests/semmle/go/Types/promoted.go
  go/ql/test/library-tests/semmle/go/aliases/InterfaceImpls/test.expected
  go/ql/test/library-tests/semmle/go/aliases/InterfaceImpls/test.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/test.go
Labels: documentation, Go

#17951 JS: Added support for reverse function
  javascript/ql/lib/change-notes/2024-11-11-reserve-support.md
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/tst.js
Labels: JS, documentation

#17960 C++: Add tests for experimental `cpp/guarded-free` query
  cpp/ql/test/experimental/query-tests/Best Practices/GuardedFree/GuardedFree.expected
  cpp/ql/test/experimental/query-tests/Best Practices/GuardedFree/GuardedFree.qlref
  cpp/ql/test/experimental/query-tests/Best Practices/GuardedFree/test.cpp
Labels: C++

#17959 Rust: Setup inline flow test library
  rust/ql/test/library-tests/dataflow/barrier/inline-flow.expected
  rust/ql/test/library-tests/dataflow/barrier/inline-flow.ql
  rust/ql/test/library-tests/dataflow/barrier/main.rs
  rust/ql/test/utils/InlineFlowTest.qll
Labels: Rust

#17761 KE2: extract binary operators
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Labels: Kotlin

#17892 C++: Initial telemetry queries
  cpp/ql/src/Telemetry/CompilerErrors.ql
  cpp/ql/src/Telemetry/DatabaseQuality.ql
  cpp/ql/src/Telemetry/Diagnostics.qll
  cpp/ql/src/Telemetry/ExtractionMetrics.ql
  cpp/ql/src/Telemetry/Metrics.qll
  cpp/ql/src/Telemetry/MissingIncludes.ql
  cpp/ql/src/Telemetry/SucceededIncludes.ql
  cpp/ql/test/library-tests/extraction_errors/CompilerErrors.expected
  cpp/ql/test/library-tests/extraction_errors/CompilerErrors.qlref
  cpp/ql/test/library-tests/extraction_errors/DatabaseQuality.expected
  cpp/ql/test/library-tests/extraction_errors/DatabaseQuality.qlref
  cpp/ql/test/library-tests/extraction_errors/ErrorExprs.expected
  cpp/ql/test/library-tests/extraction_errors/ErrorExprs.ql
  cpp/ql/test/library-tests/extraction_errors/ExtractionMetrics.expected
  cpp/ql/test/library-tests/extraction_errors/ExtractionMetrics.qlref
  cpp/ql/test/library-tests/extraction_errors/SucceededIncludes.expected
  cpp/ql/test/library-tests/extraction_errors/SucceededIncludes.qlref
  cpp/ql/test/library-tests/extraction_errors/diags.expected
  cpp/ql/test/library-tests/extraction_errors/diags.ql
  cpp/ql/test/library-tests/extraction_errors/error_variables.expected
  cpp/ql/test/library-tests/extraction_errors/error_variables.ql
  cpp/ql/test/library-tests/extraction_errors/functions.expected
  cpp/ql/test/library-tests/extraction_errors/functions.ql
  cpp/ql/test/library-tests/extraction_errors/test.c
  cpp/ql/test/library-tests/extraction_errors/test.cpp
  cpp/ql/test/library-tests/extraction_errors/test.h
Labels: C++, no-change-note-required

#17597 Java: Add model for CharArrayWriter.toString().
  java/ql/lib/ext/java.io.model.yml
Labels: Java, no-change-note-required

#16764 Python: tests with false positives around `match`
  python/ql/test/query-tests/Functions/return_values/ConsistentReturns.expected
  python/ql/test/query-tests/Functions/return_values/functions_test.py
  python/ql/test/query-tests/Statements/unreachable/UnreachableCode.expected
  python/ql/test/query-tests/Statements/unreachable/test.py
Labels: Python

#17963 chore(actions): bump to artifacts@v4
  .github/workflows/csv-coverage-metrics.yml
  .github/workflows/csv-coverage-pr-artifacts.yml
  .github/workflows/csv-coverage-timeseries.yml
  .github/workflows/csv-coverage.yml
  .github/workflows/mad_modelDiff.yml
  .github/workflows/mad_regenerate-models.yml
  .github/workflows/post-pr-comment.yml
  .github/workflows/qhelp-pr-preview.yml
  .github/workflows/ql-for-ql-build.yml
  .github/workflows/ql-for-ql-dataset_measure.yml
  .github/workflows/query-list.yml
  .github/workflows/ruby-build.yml
  .github/workflows/ruby-dataset-measure.yml
  .github/workflows/swift.yml
Labels: QL-for-QL

#17939 KE2: Extract `compareTo` calls for binary comparisons
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
  java/kotlin-extractor2/src/main/kotlin/entities/MethodCall.kt
Labels: Kotlin

#17948 Revert "C++: Do not generate IR for functions with multiple entry points"
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/test/library-tests/ir/multiple-entry-points/raw_ir.expected
Labels: C++, no-change-note-required

#17949 Rust: Handle async blocks in CFG and SSA
  rust/ql/lib/codeql/rust/controlflow/BasicBlocks.qll
  rust/ql/lib/codeql/rust/controlflow/internal/CfgConsistency.qll
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/controlflow/internal/Scope.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  rust/ql/lib/codeql/rust/elements/AsyncBlockExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/AstNodeImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/lib/rust.qll
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/test.rs
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/variables.expected
  rust/ql/test/library-tests/variables/variables.rs
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/unreachable.rs
Labels: Rust

#17884 KE2: implement basic usage of properties, variables and flexible types
  java/kotlin-extractor2/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/TrapWriter.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Function.kt
  java/kotlin-extractor2/src/main/kotlin/entities/MethodCall.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Types.kt
  java/kotlin-extractor2/src/main/kotlin/utils/JvmNames.kt
Labels: Kotlin

#17965 JS: Added support for toSorted and toReversed
  javascript/ql/lib/change-notes/2024-11-12-immutable-array-operations.md
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/tst.js
Labels: JS, documentation

#17978 KE2: Rename safeAccess to isSafeAccess
  java/ql/lib/semmle/code/java/Expr.qll
Labels: Java

#17977 JS: Added support for Array.prototype.toSpliced() ES2023 feature
  javascript/ql/lib/change-notes/2024-11-15-toSpliced-support.md
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/lib/semmle/javascript/Regexp.qll
  javascript/ql/test/library-tests/Arrays/DataFlow.expected
  javascript/ql/test/library-tests/Arrays/TaintFlow.expected
  javascript/ql/test/library-tests/Arrays/arrays.js
  javascript/ql/test/library-tests/Arrays/printAst.expected
  javascript/ql/test/library-tests/RegExp/IsRegex/IsRegex.expected
  javascript/ql/test/library-tests/RegExp/IsRegex/IsRegex.ql
  javascript/ql/test/library-tests/RegExp/IsRegex/tst.js
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/array-mutation.js
  javascript/ql/test/library-tests/TaintTracking/tst.js
Labels: JS, documentation

#18002 Rust: add optional dependencies to ql tests
  rust/extractor/src/config.rs
  rust/extractor/src/qltest.rs
  rust/ql/integration-tests/qltest/dependencies/functions.expected
  rust/ql/integration-tests/qltest/dependencies/functions.ql
  rust/ql/integration-tests/qltest/dependencies/options.yml
  rust/ql/integration-tests/qltest/dependencies/test.rs
  rust/ql/integration-tests/qltest/test.py
Labels: Rust

#17992 C#: Consider the extraction of empty binlog files acceptable
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
Labels: C#

#17989 Swift: More model repairs for Swift 6
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Collection.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Numeric.qll
  swift/ql/lib/codeql/swift/security/CommandInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/PredicateInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/SqlInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/UncontrolledFormatStringExtensions.qll
  swift/ql/lib/codeql/swift/security/UnsafeJsEvalExtensions.qll
  swift/ql/lib/codeql/swift/security/UnsafeUnpackExtensions.qll
  swift/ql/lib/codeql/swift/security/regex/RegexInjectionExtensions.qll
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/TaintInline.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/TaintInline.expected
  swift/ql/test/query-tests/Security/CWE-611/XXETest.expected
Labels: no-change-note-required, Swift

#17535 JS: Follow use-use flow after a post-update
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/BasicBlocks.qll
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/BarrierGuards.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/Contents.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/DataFlowNode.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/DataFlowPrivate.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/TaintTrackingPrivate.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/VariableCapture.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/VariableOrThis.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/sharedlib/Ssa.qll
  javascript/ql/lib/semmle/javascript/internal/BasicBlockInternal.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/DomBasedXssQuery.qll
  javascript/ql/test/library-tests/DataFlow/tests.expected
  javascript/ql/test/library-tests/FlowSummary/DataFlowConsistency.expected
  javascript/ql/test/library-tests/PropWrite/tests.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/capture-flow.js
  javascript/ql/test/library-tests/TaintTracking/tst.js
  javascript/ql/test/library-tests/TripleDot/useuse.js
  javascript/ql/test/library-tests/frameworks/Immutable/immutable.js
  javascript/ql/test/library-tests/frameworks/ReactJS/tests.expected
  javascript/ql/test/query-tests/Security/CWE-020/UntrustedDataToExternalAPI/UntrustedDataToExternalAPI.expected
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin/UnsafeJQueryPlugin.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/ImproperCodeSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-200/FileAccessToHttp.expected
  javascript/ql/test/query-tests/Security/CWE-201/PostMessageStar.expected
  javascript/ql/test/query-tests/Security/CWE-312/BuildArtifactLeak.expected
  javascript/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  javascript/ql/test/query-tests/Security/CWE-312/passwords.js
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingMergeCall/PrototypePollutingMergeCall.expected
Labels: JS, no-change-note-required

#17993 JS: Added support for Array.prototype.with() ES2023 feature
  javascript/ql/lib/change-notes/2024-11-18-ES2023-array-protype-with.md
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/tst.js
Labels: JS, documentation

#18011 Revert "Rust: allow to specify more cargo configuration options"
  Cargo.lock
  rust/codeql-extractor.yml
  rust/extractor/Cargo.toml
  rust/extractor/macros/src/lib.rs
  rust/extractor/src/config.rs
  rust/extractor/src/main.rs
  rust/extractor/src/rust_analyzer.rs
  rust/ql/integration-tests/options/cfg/Cargo.toml
  rust/ql/integration-tests/options/cfg/functions.expected
  rust/ql/integration-tests/options/cfg/functions.override.expected
  rust/ql/integration-tests/options/cfg/functions.ql
  rust/ql/integration-tests/options/cfg/src/lib.rs
  rust/ql/integration-tests/options/cfg/test_cfg_overrides_option.py
  rust/ql/integration-tests/options/features/Cargo.toml
  rust/ql/integration-tests/options/features/functions.all.expected
  rust/ql/integration-tests/options/features/functions.bar.expected
  rust/ql/integration-tests/options/features/functions.expected
  rust/ql/integration-tests/options/features/functions.foo.expected
  rust/ql/integration-tests/options/features/functions.ql
  rust/ql/integration-tests/options/features/src/lib.rs
  rust/ql/integration-tests/options/features/test_features_option.py
  rust/ql/integration-tests/options/target/Cargo.toml
  rust/ql/integration-tests/options/target/functions.Darwin.expected
  rust/ql/integration-tests/options/target/functions.Linux.expected
  rust/ql/integration-tests/options/target/functions.Windows.expected
  rust/ql/integration-tests/options/target/functions.ql
  rust/ql/integration-tests/options/target/src/lib.rs
  rust/ql/integration-tests/options/target/test_target_option.py
Labels: Rust

#17938 C++: Fix some FPs in `cpp/missing-check-scanf` (second attempt)
  cpp/ql/lib/change-notes/2024-11-18-guard-conditions.md
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/test.cpp
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Labels: C++, documentation, no-change-note-required

#18003 Rust: only accept `options.yml` in QL tests
  rust/extractor/src/config.rs
  rust/ql/integration-tests/qltest/failing_cargo_check/options.yml
  rust/ql/test/extractor-tests/generated/options.yml
  rust/ql/test/library-tests/controlflow/options.yml
  rust/ql/test/options.yml
  rust/ql/test/query-tests/diagnostics/ExtractedFiles.expected
  rust/ql/test/query-tests/diagnostics/LinesOfUserCodeInFiles.expected
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
  rust/ql/test/query-tests/diagnostics/options.yml
Labels: Rust

#18015 Remove duplicated "Supported CPU architectures" from "Supported platforms" table
  docs/codeql/reusables/supported-platforms.rst
Labels: documentation

#17988 Java: fix unreachable basic blocks in const switch stmt
  java/ql/lib/change-notes/2024-11-14-unreachable-basic-block-in-constant-switch-statement.md
  java/ql/lib/semmle/code/java/controlflow/UnreachableBlocks.qll
  java/ql/test/library-tests/unreachableblocks/UnreachableBlocks.expected
Labels: documentation, Java

#18012 Revert "Revert "Rust: allow to specify more cargo configuration options""
  Cargo.lock
  MODULE.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/defs.bzl
  rust/ast-generator/Cargo.toml
  rust/codeql-extractor.yml
  rust/extractor/Cargo.toml
  rust/extractor/macros/Cargo.toml
  rust/extractor/macros/src/lib.rs
  rust/extractor/src/config.rs
  rust/extractor/src/config/deserialize_vec.rs
  rust/extractor/src/main.rs
  rust/extractor/src/rust_analyzer.rs
  rust/ql/integration-tests/options/cfg/Cargo.toml
  rust/ql/integration-tests/options/cfg/functions.expected
  rust/ql/integration-tests/options/cfg/functions.override.expected
  rust/ql/integration-tests/options/cfg/functions.ql
  rust/ql/integration-tests/options/cfg/src/lib.rs
  rust/ql/integration-tests/options/cfg/test_cfg_overrides_option.py
  rust/ql/integration-tests/options/features/Cargo.toml
  rust/ql/integration-tests/options/features/functions.all.expected
  rust/ql/integration-tests/options/features/functions.bar.expected
  rust/ql/integration-tests/options/features/functions.expected
  rust/ql/integration-tests/options/features/functions.foo.expected
  rust/ql/integration-tests/options/features/functions.ql
  rust/ql/integration-tests/options/features/src/lib.rs
  rust/ql/integration-tests/options/features/test_features_option.py
  rust/ql/integration-tests/options/target/Cargo.toml
  rust/ql/integration-tests/options/target/functions.Darwin.expected
  rust/ql/integration-tests/options/target/functions.Linux.expected
  rust/ql/integration-tests/options/target/functions.Windows.expected
  rust/ql/integration-tests/options/target/functions.ql
  rust/ql/integration-tests/options/target/src/lib.rs
  rust/ql/integration-tests/options/target/test_target_option.py
  rust/update_cargo_deps.sh
Labels: Rust

#18007 Rust: Improve CFG for `let` expressions
  rust/ql/lib/codeql/rust/controlflow/internal/Splitting.qll
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/test.rs
Labels: Rust

#18010 Rust: Include method calls in DataFlowCall and implement simple call target resolution
  rust/ql/lib/codeql/rust/controlflow/CfgNodes.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/global/main.rs
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/dataflow/global/viableCallable.ql
Labels: Rust

#17971 Rust: Include patterns as data flow nodes
  rust/ql/lib/codeql/rust/controlflow/CfgNodes.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/extractor-tests/generated/MacroItems/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
Labels: Rust

#18006 KE2: Extract parenthesized expressions
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
  java/kotlin-extractor2/src/main/kotlin/entities/MethodCall.kt
Labels: Kotlin

#18016 KE2: Use the right file numbers
  java/kotlin-extractor2/src/main/kotlin/KotlinExtractor.kt
Labels: Kotlin

#18023 Bazel: add an `install` shortcut and an `experimental` attribute to `codeql_pack`
  .github/workflows/cpp-swift-analysis.yml
  actions/BUILD.bazel
  misc/bazel/pkg.bzl
  rust/BUILD.bazel
  rust/README.md
  swift/README.md
  swift/actions/build-and-test/action.yml
Labels: documentation, Rust, Swift, Actions

#18024 Rust: Handle early returns in `async` blocks in CFG
  rust/ql/lib/codeql/rust/controlflow/internal/Scope.qll
  rust/ql/test/library-tests/controlflow-unstable/Cfg.expected
  rust/ql/test/library-tests/controlflow-unstable/Cfg.qlref
  rust/ql/test/library-tests/controlflow-unstable/options.yml
  rust/ql/test/library-tests/controlflow-unstable/test.rs
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/test.rs
Labels: Rust

#17370 Python: Bottle Framework Support
  python/ql/lib/change-notes/2024-08-30-bottle.md
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Bottle.qll
  python/ql/test/library-tests/frameworks/bottle/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/bottle/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/bottle/InlineTaintTest.expected
  python/ql/test/library-tests/frameworks/bottle/InlineTaintTest.ql
  python/ql/test/library-tests/frameworks/bottle/basic_test.py
  python/ql/test/library-tests/frameworks/bottle/header_test.py
  python/ql/test/library-tests/frameworks/bottle/taint_test.py
Labels: documentation, Python

#18030 Python: Fix pruning of literals in `match` pattern
  python/extractor/semmle/python/passes/pruner.py
  python/ql/test/query-tests/Statements/unreachable/UnreachableCode.expected
Labels: Python, no-change-note-required

#18038 C++: fix typo in qhelp
  cpp/ql/src/Critical/UseAfterFree.qhelp
Labels: C++, documentation, no-change-note-required

#18034 Go: Allow package-level variables in models-as-data models
  go/ql/lib/ext/os.model.yml
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Os.qll
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/completetest.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/sinks.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/sinks.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/srcs.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/srcs.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/test.go
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/vendor/github.com/nonexistent/test/stub.go
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/completetest.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/sinks.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/sinks.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/srcs.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/srcs.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/test.go
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/vendor/github.com/nonexistent/test/stub.go
Labels: no-change-note-required, Go

#18033 C#: Update to .NET 9
  csharp/.vscode/launch.json
  csharp/autobuilder/Semmle.Autobuild.CSharp/AutoBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MarkdownUtil.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Assets.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNetVersion.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileContent.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNetCliInvoker.cs
  csharp/extractor/Semmle.Extraction.CSharp/CodeAnalysisExtensions/SymbolExtensions.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Base/CachedEntity.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Base/IEntity.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression`1.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NamedType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Nullability.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/UserOperator.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Context.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TrapWriter.cs
  csharp/extractor/Semmle.Extraction.CSharp/Trap/EscapingTextWriter.cs
  csharp/extractor/Semmle.Extraction.CSharp/Trap/TrapExtensions.cs
  csharp/extractor/Semmle.Util/CanonicalPathCache.cs
  csharp/extractor/Semmle.Util/CommandBuilder.cs
  csharp/ql/integration-tests/all-platforms/dotnet_build/test.py
Labels: C#, no-change-note-required

#17986 C++: Reduce number of FPs `cpp/guarded-free` and turn `if(x) { free(x) }` cases from FNs to TPs
  cpp/ql/src/experimental/Best Practices/GuardedFree.ql
  cpp/ql/test/experimental/query-tests/Best Practices/GuardedFree/GuardedFree.expected
  cpp/ql/test/experimental/query-tests/Best Practices/GuardedFree/test.cpp
Labels: C++

#18042 Util: Refactor `DenseRank` implementation
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  shared/util/codeql/util/DenseRank.qll
Labels: no-change-note-required, Rust

#18005 JS: Added support for Array.prototype.[findLastIndex, findLast] ES2022 feature
  javascript/ql/lib/change-notes/2024-11-18-ES2022-find-functions.md
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/src/Statements/UseOfReturnlessFunction.ql
  javascript/ql/test/library-tests/Arrays/DataFlow.expected
  javascript/ql/test/library-tests/Arrays/DataFlow.ql
  javascript/ql/test/library-tests/Arrays/TaintFlow.expected
  javascript/ql/test/library-tests/Arrays/TaintFlow.ql
  javascript/ql/test/library-tests/Arrays/arrays.js
  javascript/ql/test/library-tests/Arrays/printAst.expected
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/UseOfReturnlessFunction.expected
  javascript/ql/test/query-tests/Statements/UseOfReturnlessFunction/tst.js
Labels: JS, documentation

#18041 Rust: Include `self` parameters in the CFG
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/test.rs
  rust/ql/test/library-tests/variables/Cfg.expected
Labels: Rust

#18052 Add Deserialize() and Deserialize<T> to System.Web.Serialization stubs
  csharp/ql/test/resources/stubs/System.Web.cs
Labels: C#

#17876 Data flow: Track call contexts in `parameterValueFlow`
  java/ql/test/library-tests/dataflow/getter/getter.expected
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
Labels: Java, no-change-note-required, DataFlow Library

#17918 Rust: Add (auto-generated) CFG node wrapper classes
  misc/codegen/codegen.py
  misc/codegen/generators/qlgen.py
  misc/codegen/lib/ql.py
  misc/codegen/lib/schema.py
  misc/codegen/lib/schemadefs.py
  misc/codegen/loaders/schemaloader.py
  misc/codegen/templates/ql_cfg_nodes.mustache
  rust/codegen.conf
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/controlflow/CfgNodes.qll
  rust/ql/lib/codeql/rust/controlflow/internal/CfgConsistency.qll
  rust/ql/lib/codeql/rust/controlflow/internal/CfgNodes.qll
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/controlflow/internal/Scope.qll
  rust/ql/lib/codeql/rust/controlflow/internal/generated/CfgNodes.qll
  rust/ql/lib/codeql/rust/dataflow/Ssa.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/AstNodeImpl.qll
  rust/ql/lib/codeql/rust/internal/CachedStages.qll
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/test.rs
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/query-tests/diagnostics/CfgConsistencyCounts.expected
  rust/ql/test/utils/InlineFlowTest.qll
  rust/schema/annotations.py
Labels: Rust

#18047 JS: Added taint-step String.prototype.toWellFormed ES2023 feature
  javascript/ql/lib/change-notes/2024-11-20-ES2023-string-protytpe-toWellFormed.md
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/string-immutable-operations.js
Labels: JS, documentation

#18057 Revert "Merge pull request #17938 from MathiasVP/fix-fp-in-missing-check-scanf-fixing-take-2"
  cpp/ql/lib/change-notes/released/2.1.1.md
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/test.cpp
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Labels: C++, documentation

#18008 JS: Added support for [Object, Map].groupBy ES2024 feature
  javascript/ql/lib/change-notes/2024-11-20-ES2024-group-functions.md
  javascript/ql/lib/semmle/javascript/Collections.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/tst.js
Labels: JS, documentation

#18025 Rust: SQL Injection Query
  rust/ql/lib/codeql/rust/Concepts.qll
  rust/ql/lib/codeql/rust/security/SqlInjectionExtensions.qll
  rust/ql/lib/qlpack.yml
  rust/ql/src/queries/security/CWE-089/SqlInjection.qhelp
  rust/ql/src/queries/security/CWE-089/SqlInjection.ql
  rust/ql/src/queries/security/CWE-089/SqlInjectionBad.rs
  rust/ql/src/queries/security/CWE-089/SqlInjectionGood.rs
  rust/ql/test/query-tests/security/CWE-089/.gitignore
  rust/ql/test/query-tests/security/CWE-089/.sqlx/query-c996a36820ff0b98021fa553b09b6da5ed65c28f666a68c4d73a1918f0eaa6f6.json
  rust/ql/test/query-tests/security/CWE-089/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.qlref
  rust/ql/test/query-tests/security/CWE-089/cargo.toml.manual
  rust/ql/test/query-tests/security/CWE-089/migrations/20241031153051_create.sql
  rust/ql/test/query-tests/security/CWE-089/options.yml
  rust/ql/test/query-tests/security/CWE-089/sqlx.rs
Labels: documentation, no-change-note-required, ready-for-doc-review, Rust

#18022 Delete Automodel Queries
  java/ql/automodel/publish.sh
  java/ql/automodel/src/AutomodelAlertSinkUtil.qll
  java/ql/automodel/src/AutomodelAlertSinks.ql
  java/ql/automodel/src/AutomodelAlertSinksPerQuery.ql
  java/ql/automodel/src/AutomodelApplicationModeCharacteristics.qll
  java/ql/automodel/src/AutomodelApplicationModeExtractCandidates.ql
  java/ql/automodel/src/AutomodelApplicationModeExtractNegativeExamples.ql
  java/ql/automodel/src/AutomodelApplicationModeExtractPositiveExamples.ql
  java/ql/automodel/src/AutomodelCandidateFilter.yml
  java/ql/automodel/src/AutomodelCountGeneratedSinks.ql
  java/ql/automodel/src/AutomodelEndpointTypes.qll
  java/ql/automodel/src/AutomodelFrameworkModeCharacteristics.qll
  java/ql/automodel/src/AutomodelFrameworkModeExtractCandidates.ql
  java/ql/automodel/src/AutomodelFrameworkModeExtractNegativeExamples.ql
  java/ql/automodel/src/AutomodelFrameworkModeExtractPositiveExamples.ql
  java/ql/automodel/src/AutomodelJavaUtil.qll
  java/ql/automodel/src/AutomodelSharedCharacteristics.qll
  java/ql/automodel/src/AutomodelSinkModelMrvaQueries.ql
  java/ql/automodel/src/change-notes/2024-11-19-drop-automodel.md
  java/ql/automodel/src/codeql-pack.release.yml
  java/ql/automodel/src/qlpack.yml
  java/ql/automodel/test/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractionTests.expected
  java/ql/automodel/test/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractionTests.ql
  java/ql/automodel/test/AutomodelApplicationModeExtraction/PluginImpl.java
  java/ql/automodel/test/AutomodelApplicationModeExtraction/Test.java
  java/ql/automodel/test/AutomodelApplicationModeExtraction/hudson/Plugin.java
  java/ql/automodel/test/AutomodelExtractionTests.qll
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractionTests.expected
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractionTests.ql
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/MyWriter.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/NonPublicClass.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicClass.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicInterface.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/java/io/File.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/java/nio/file/Files.java
  java/ql/automodel/test/change-notes/2024-05-23-Version1.md
  java/ql/automodel/test/qlpack.yml
Labels: documentation, Java

#18037 Python: Add some test cases for flow involving global and captured variables
  python/ql/test/library-tests/dataflow/global-or-captured-vars/test.expected
  python/ql/test/library-tests/dataflow/global-or-captured-vars/test.py
  python/ql/test/library-tests/dataflow/global-or-captured-vars/test.ql
Labels: Python, no-change-note-required

#18031 KE2: Start working on KtTypes
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Types.kt
  java/ql/lib/config/semmlecode.dbscheme
  java/ql/lib/semmle/code/Location.qll
  java/ql/lib/semmle/code/java/KotlinType.qll
Labels: Java, Kotlin

#18064 KE2: Use the right language version
  java/kotlin-extractor2/src/main/kotlin/KotlinExtractor.kt
Labels: Kotlin

#18072 Revert "C++: Implement compilation_build_mode"
  cpp/downgrades/f0156f5f88ab5967c79162012c20f30600ca5ebf/old.dbscheme
  cpp/downgrades/f0156f5f88ab5967c79162012c20f30600ca5ebf/semmlecode.cpp.dbscheme
  cpp/downgrades/f0156f5f88ab5967c79162012c20f30600ca5ebf/upgrade.properties
  cpp/ql/lib/semmle/code/cpp/Compilation.qll
  cpp/ql/lib/semmlecode.cpp.dbscheme
  cpp/ql/lib/semmlecode.cpp.dbscheme.stats
  cpp/ql/lib/upgrades/e51fad7a2436caefab0c6bd52f05e28e7cce4d92/old.dbscheme
  cpp/ql/lib/upgrades/e51fad7a2436caefab0c6bd52f05e28e7cce4d92/semmlecode.cpp.dbscheme
  cpp/ql/lib/upgrades/e51fad7a2436caefab0c6bd52f05e28e7cce4d92/upgrade.properties
Labels: C++, no-change-note-required

#18079 KE2: Remove some dead code
  java/kotlin-extractor2/src/main/kotlin/entities/Class.kt
Labels: Kotlin

#18076 KE2: Add warnings-as-error to build system, but commented out for now
  java/kotlin-extractor2/BUILD.bazel
Labels: Kotlin

#18075 KE2: Small refactoring
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Labels: Kotlin

#17919 C++: Remove FPs from cpp/too-few-arguments
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooFewArguments.qll
  cpp/ql/src/change-notes/2024-11-22-too-few-arguments.md
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.expected
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/TooFewArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/TooManyArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Underspecified Functions/test.c
Labels: C++, documentation

#17869 Java: Improve weak crypto query
  java/ql/lib/semmle/code/java/security/Encryption.qll
  java/ql/lib/semmle/code/java/security/MaybeBrokenCryptoAlgorithmQuery.qll
  java/ql/src/change-notes/2024-10-29-weak-crypto-hash.md
  java/ql/test/query-tests/security/CWE-327/semmle/tests/BrokenCryptoAlgorithm.expected
Labels: documentation, Java

#18058 KE2: Extract `when` expressions
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
  java/ql/lib/config/semmlecode.dbscheme
  java/ql/lib/semmle/code/java/Expr.qll
Labels: Java, Kotlin

#18070 Rust: Use extended canonical paths to resolve calls in data flow
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  shared/util/codeql/util/Option.qll
Labels: no-change-note-required, Rust

#18081 KE2: Add more dbscheme comments
  java/ql/lib/config/semmlecode.dbscheme
Labels: Java

#17953 JS: upgrade TypeScript to 5.7
  2024-11-25-ts57.md
  javascript/extractor/lib/typescript/package-lock.json
  javascript/extractor/lib/typescript/package.json
  javascript/ql/integration-tests/diagnostics/internal-error/src/my_failure.ts
  javascript/ql/test/library-tests/TypeScript/Types/printAst.expected
  javascript/ql/test/library-tests/TypeScript/Types/tests.expected
  javascript/ql/test/library-tests/TypeScript/Types/tst.ts
Labels: JS, documentation

#18092 Rust: Generate `ParamBase`, a superclass of `Param` and `SelfParam`
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/controlflow/internal/generated/CfgNodes.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/elements.qll
  rust/ql/lib/codeql/rust/elements/Param.qll
  rust/ql/lib/codeql/rust/elements/ParamBase.qll
  rust/ql/lib/codeql/rust/elements/SelfParam.qll
  rust/ql/lib/codeql/rust/elements/internal/ParamBaseImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/ParamImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/SelfParamImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Param.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParamBase.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/SelfParam.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/extractor-tests/generated/.generated_tests.list
  rust/ql/test/extractor-tests/generated/Param/Param.expected
  rust/ql/test/extractor-tests/generated/Param/Param.ql
  rust/ql/test/extractor-tests/generated/Param/Param_getPat.expected
  rust/ql/test/extractor-tests/generated/Param/Param_getTy.expected
  rust/ql/test/extractor-tests/generated/Param/gen_param.rs
  rust/ql/test/extractor-tests/generated/SelfParam/SelfParam.expected
  rust/ql/test/extractor-tests/generated/SelfParam/SelfParam.ql
  rust/ql/test/extractor-tests/generated/SelfParam/SelfParam_getName.expected
  rust/ql/test/extractor-tests/generated/SelfParam/gen_self_param.rs
  rust/schema/annotations.py
Labels: Rust

#18084 Java: add SHA3 family to list of secure crypto algorithms
  java/ql/lib/semmle/code/java/security/Encryption.qll
  java/ql/src/change-notes/2024-11-22-sha3.md
  java/ql/test/query-tests/security/CWE-327/semmle/tests/WeakHashing.java
Labels: documentation, Java

#18093 C++: Add more `CommandExecutionFunction`s
  cpp/ql/lib/semmle/code/cpp/models/Models.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Win32CommandExecution.qll
Labels: C++, no-change-note-required

#18094 Codegen/Rust: allow renaming in QL
  misc/codegen/generators/qlgen.py
  misc/codegen/lib/schemadefs.py
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/controlflow/internal/generated/CfgNodes.qll
  rust/ql/lib/codeql/rust/elements/internal/MatchExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/MatchExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/test/extractor-tests/generated/MatchExpr/MatchExpr.expected
  rust/ql/test/extractor-tests/generated/MatchExpr/MatchExpr.ql
  rust/ql/test/extractor-tests/generated/MatchExpr/MatchExpr_getScrutinee.expected
  rust/ql/test/extractor-tests/generated/MatchExpr/MatchExpr_getScrutinee.ql
  rust/schema/annotations.py
Labels: Rust

#17940 Rust: Add unresolved macro calls diagnostic
  rust/ql/src/queries/diagnostics/UnextractedElements.ql
  rust/ql/src/queries/diagnostics/UnresolvedMacroCalls.ql
  rust/ql/src/queries/summary/SummaryStats.ql
  rust/ql/test/query-tests/diagnostics/CONSISTENCY/ExtractionConsistency.expected
  rust/ql/test/query-tests/diagnostics/ExtractionWarnings.expected
  rust/ql/test/query-tests/diagnostics/LinesOfCode.expected
  rust/ql/test/query-tests/diagnostics/LinesOfUserCode.expected
  rust/ql/test/query-tests/diagnostics/LinesOfUserCodeInFiles.expected
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
  rust/ql/test/query-tests/diagnostics/UnresolvedMacroCalls.expected
  rust/ql/test/query-tests/diagnostics/UnresolvedMacroCalls.qlref
  rust/ql/test/query-tests/diagnostics/my_macro.rs
Labels: Rust

#18105 Rust: Change `&String` to `&str`
  rust/ast-generator/src/main.rs
Labels: Rust

#18069 Rust: Add some flow source models
  rust/ql/lib/codeql/rust/Concepts.qll
  rust/ql/lib/codeql/rust/Frameworks.qll
  rust/ql/lib/codeql/rust/frameworks/Reqwest.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Env.qll
  rust/ql/src/queries/summary/SummaryStats.ql
  rust/ql/src/queries/summary/TaintSources.ql
  rust/ql/test/library-tests/dataflow/sources/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/InlineFlow.ql
  rust/ql/test/library-tests/dataflow/sources/TaintSources.expected
  rust/ql/test/library-tests/dataflow/sources/TaintSources.qlref
  rust/ql/test/library-tests/dataflow/sources/options.yml
  rust/ql/test/library-tests/dataflow/sources/reqwest.rs
  rust/ql/test/library-tests/dataflow/sources/test.rs
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
Labels: no-change-note-required, Rust

#18107 Rust: rename `MatchExpr.expr` to `scrutinee` in all layers
  rust/ast-generator/src/main.rs
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/translate/generated.rs
  rust/ql/.generated.list
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/rust.dbscheme
  rust/schema/annotations.py
  rust/schema/ast.py
Labels: Rust

#18086 Add script and VSCode task for creating change notes
  .vscode/tasks.json
  misc/scripts/create-change-note.py
Labels: no-change-note-required

#18078 Rust: Data flow through variants
  rust/ql/lib/codeql/rust/controlflow/CfgNodes.qll
  rust/ql/lib/codeql/rust/controlflow/internal/CfgNodes.qll
  rust/ql/lib/codeql/rust/dataflow/DataFlow.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/barrier/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.ql
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
Labels: Rust

#17997 java: inline range test
  java/ql/test/library-tests/dataflow/range-analysis-inline/B.java
  java/ql/test/library-tests/dataflow/range-analysis-inline/range.expected
  java/ql/test/library-tests/dataflow/range-analysis-inline/range.ql
Labels: Java, no-change-note-required

#18087 Java: add SHA-384 to list of secure crypto algorithms
  java/ql/lib/semmle/code/java/security/Encryption.qll
  java/ql/src/change-notes/2024-11-24-sha2.md
  java/ql/test/query-tests/security/CWE-327/semmle/tests/WeakHashing.java
Labels: documentation, Java

#18095 KE2: Remove some old debugging code
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Function.kt
Labels: Kotlin

#18096 KE2: Don't actually deprecate WhenBranch.getCondition() yet
  java/ql/lib/semmle/code/java/Expr.qll
Labels: Java

#18108 Go: model `slices` package (skipping functions that involve iterating over a function)
  go/ql/lib/ext/slices.model.yml
  go/ql/src/change-notes/2024-11-26-model-slices-package.md
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Slices.go
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/go.mod
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/vendor/modules.txt
Labels: documentation, Go

#18115 Rust: Rename `expr` on `CallExpr` and `LetExpr`
  rust/ast-generator/src/main.rs
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/translate/generated.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/controlflow/internal/generated/CfgNodes.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/LetExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/CallExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/LetExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/frameworks/Reqwest.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Env.qll
  rust/ql/lib/codeql/rust/internal/CachedStages.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/extractor-tests/generated/CallExpr/CallExpr.expected
  rust/ql/test/extractor-tests/generated/CallExpr/CallExpr.ql
  rust/ql/test/extractor-tests/generated/CallExpr/CallExpr_getFunction.expected
  rust/ql/test/extractor-tests/generated/CallExpr/CallExpr_getFunction.ql
  rust/ql/test/extractor-tests/generated/LetExpr/LetExpr.expected
  rust/ql/test/extractor-tests/generated/LetExpr/LetExpr.ql
  rust/ql/test/extractor-tests/generated/LetExpr/LetExpr_getScrutinee.expected
  rust/ql/test/extractor-tests/generated/LetExpr/LetExpr_getScrutinee.ql
  rust/ql/test/library-tests/dataflow/sources/InlineFlow.ql
  rust/ql/test/utils/InlineFlowTest.qll
  rust/schema/ast.py
Labels: Rust

#18118 KE2: Put diagnostics from the analysis API into the database
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/TrapWriter.kt
  java/kotlin-extractor2/src/main/kotlin/utils/Logger.kt
  java/ql/lib/semmle/code/java/Diagnostics.qll
Labels: Java, Kotlin

#18114 C++: Actually check function names in MaD
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.h
  cpp/ql/test/library-tests/dataflow/taint-tests/test_mad-signatures.expected
Labels: C++, no-change-note-required

#18083 Rust: add extended canonical paths on enum variants
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/translate/base.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements.qll
  rust/ql/lib/codeql/rust/elements/Addressable.qll
  rust/ql/lib/codeql/rust/elements/Item.qll
  rust/ql/lib/codeql/rust/elements/Variant.qll
  rust/ql/lib/codeql/rust/elements/internal/AddressableImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Addressable.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Item.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Variant.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/extractor-tests/canonical_path/anonymous.rs
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.rs
  rust/ql/test/extractor-tests/canonical_path/regular.rs
  rust/ql/test/extractor-tests/generated/Variant/Variant.ql
  rust/ql/test/extractor-tests/generated/Variant/Variant_getCrateOrigin.expected
  rust/ql/test/extractor-tests/generated/Variant/Variant_getCrateOrigin.ql
  rust/ql/test/extractor-tests/generated/Variant/Variant_getExtendedCanonicalPath.expected
  rust/ql/test/extractor-tests/generated/Variant/Variant_getExtendedCanonicalPath.ql
  rust/schema/annotations.py
  rust/schema/prelude.py
Labels: Rust

#18044 JS: Merge 'main' and implement 'speculativeTaintStep'
  javascript/ql/lib/semmle/javascript/dataflow/internal/TaintTrackingPrivate.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/IndirectCommandInjectionQuery.qll
  javascript/ql/test/experimental/Security/CWE-918/SSRF.expected
  javascript/ql/test/library-tests/Arrays/DataFlow.expected
  javascript/ql/test/library-tests/Arrays/TaintFlow.expected
  javascript/ql/test/library-tests/Arrays/printAst.expected
  javascript/ql/test/library-tests/FlowSummary/DataFlowConsistency.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/local-threat-source/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-117/LogInjection.expected
Labels: JS, no-change-note-required

#18110 KE2: Extract lambda expressions
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/TrapWriter.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Function.kt
  java/kotlin-extractor2/src/main/kotlin/entities/FunctionalInterface.kt
  java/kotlin-extractor2/src/main/kotlin/utils/Helpers.kt
Labels: Kotlin

#18135 KE2: Remove some debugging functions, and mark some others as private
  java/kotlin-extractor2/src/main/kotlin/KotlinExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Labels: Kotlin

#17258 Go: Models as Data Documentation
  docs/codeql/codeql-language-guides/codeql-for-go.rst
  docs/codeql/codeql-language-guides/customizing-library-models-for-go.rst
Labels: documentation, ready-for-doc-review

#18127 KE2: Extract `null` literal
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Labels: Kotlin

#18117 Python: Add change note for CFG pruning fix
  python/extractor/semmle/util.py
  python/ql/lib/change-notes/2024-11-26-fix-match-cfg-pruning.md
Labels: documentation, Python

#18143 Swift: Fix makeIterator() models
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Array.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Collection.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Dictionary.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/DataFlowInline.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test2.swift
  swift/ql/test/query-tests/Security/CWE-020/MissingRegexAnchor.expected
  swift/ql/test/query-tests/Security/CWE-020/UnanchoredUrlRegex.swift
Labels: no-change-note-required, Swift

#18146 KE2: Fix build
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Labels: Kotlin

#18148 KE2: Simplify escaping a dollar in a string
  java/kotlin-extractor2/src/main/kotlin/utils/ClassNames.kt
Labels: Kotlin

#18149 KE2: Small method renaming
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Labels: Kotlin

#18141 C#: Exclude `get`-only property accesses from `CallTargetStats`
  csharp/ql/src/Telemetry/DatabaseQuality.qll
  csharp/ql/src/change-notes/2024-11-28-db-quality-property-access.md
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/IsNotOkayCall.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/IsNotOkayCall.ql
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/NoTarget.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/NoTarget.ql
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/Quality.cs
Labels: C#, documentation

#18140 Rust: Add `getStaticTarget` to `CallExprBase`
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallExprBaseImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/ResolvableImpl.qll
Labels: Rust

#18147 Rust: add diagnostics queries to integration tests
  rust/ql/integration-tests/conftest.py
  rust/ql/integration-tests/hello-project/Cargo.toml
  rust/ql/integration-tests/hello-project/ExtractionErrors.expected
  rust/ql/integration-tests/hello-project/ExtractionErrors.qlref
  rust/ql/integration-tests/hello-project/ExtractionWarnings.expected
  rust/ql/integration-tests/hello-project/ExtractionWarnings.qlref
  rust/ql/integration-tests/hello-project/rust-project.json
  rust/ql/integration-tests/hello-project/summary.expected
  rust/ql/integration-tests/hello-project/summary.qlref
  rust/ql/integration-tests/hello-project/test_project.py
  rust/ql/integration-tests/hello-workspace/Cargo.toml
  rust/ql/integration-tests/hello-workspace/ExtractionErrors.expected
  rust/ql/integration-tests/hello-workspace/ExtractionErrors.qlref
  rust/ql/integration-tests/hello-workspace/ExtractionWarnings.expected
  rust/ql/integration-tests/hello-workspace/ExtractionWarnings.qlref
  rust/ql/integration-tests/hello-workspace/rust-project.json
  rust/ql/integration-tests/hello-workspace/summary.expected
  rust/ql/integration-tests/hello-workspace/summary.qlref
  rust/ql/integration-tests/hello-workspace/test_workspace.py
Labels: Rust

#18097 Rust: New query for bad 'ctor' initialization
  rust/ql/src/queries/security/CWE-696/BadCtorInitialization.qhelp
  rust/ql/src/queries/security/CWE-696/BadCtorInitialization.ql
  rust/ql/src/queries/security/CWE-696/BadCtorInitializationBad.rs
  rust/ql/src/queries/security/CWE-696/BadCtorInitializationGood.rs
  rust/ql/test/query-tests/security/CWE-696/BadCTorInitialization.expected
  rust/ql/test/query-tests/security/CWE-696/BadCTorInitialization.qlref
  rust/ql/test/query-tests/security/CWE-696/options.yml
  rust/ql/test/query-tests/security/CWE-696/test.rs
Labels: documentation, ready-for-doc-review, Rust

#18154 Swift: Fix for OptionSet and BinaryInteger models
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/RawRepresentable.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/TaintInline.expected
Labels: no-change-note-required, Swift

#18129 Rust: Sink models for rust/sql-injection
  rust/ql/lib/codeql/rust/Concepts.qll
  rust/ql/lib/codeql/rust/Frameworks.qll
  rust/ql/lib/codeql/rust/frameworks/Sqlx.qll
  rust/ql/test/query-tests/security/CWE-089/SqlSinks.expected
  rust/ql/test/query-tests/security/CWE-089/SqlSinks.ql
  rust/ql/test/query-tests/security/CWE-089/sqlx.rs
Labels: Rust

#18167 Rust: fix windows flakiness
  Cargo.lock
  MODULE.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.dunce-1.0.5.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/defs.bzl
  rust/extractor/Cargo.toml
  rust/extractor/src/rust_analyzer.rs
Labels: Rust
