Repository github/codeql, pull requests merged in 2024-05, with the labels that each got.

#16318 Dataflow: Use doublyBoundedFastTC.
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#16369 C++: Update IR tests after better handling of init statements in the extractor
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, depends on internal PR

#16367 C++: Improve documentation for `cpp/iterator-to-expired-container`
  cpp/ql/src/Security/CWE/CWE-416/IteratorToExpiredContainer.qhelp
  cpp/ql/src/Security/CWE/CWE-416/IteratorToExpiredContainer.ql
  cpp/ql/src/Security/CWE/CWE-416/IteratorToExpiredContainerExtendedLifetime-fixed.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/IteratorToExpiredContainer.expected
Labels: C++, documentation, no-change-note-required, ready-for-doc-review

#16375 Go: Allow version suffixes
  go/extractor/project/project.go
Labels: Go

#16331 Cpp: new experimental query cpp/guarded-free
  cpp/ql/src/experimental/Best Practices/GuardedFree.cpp
  cpp/ql/src/experimental/Best Practices/GuardedFree.qhelp
  cpp/ql/src/experimental/Best Practices/GuardedFree.ql
Labels: C++, documentation

#16378 Ruby: fix wording in rb/request-without-cert-validation
  ruby/ql/src/queries/security/cwe-295/RequestWithoutValidation.ql
  ruby/ql/test/query-tests/security/cwe-295/RequestWithoutValidation.expected
Labels: no-change-note-required, Ruby

#16392 External flow: standardize `empty.model.yml`
  csharp/ql/lib/ext/empty.model.yml
  go/ql/lib/ext/empty.model.yml
  java/ql/lib/ext/empty.model.yml
  java/ql/lib/ext/experimental/empty.model.yml
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/empty.model.yml
  python/ql/lib/semmle/python/frameworks/data/internal/empty.model.yml
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/empty.model.yml
Labels: C#, JS, Java, Python, no-change-note-required, Go, Ruby

#16396 C#: Change nuget feed responsiveness checking to be opt-out
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/RazorGenerator.cs
  csharp/extractor/Semmle.Util/EnvironmentVariables.cs
  csharp/ql/integration-tests/all-platforms/standalone_resx/CompilationInfo.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/CompilationInfo.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/CompilationInfo.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/test.py
Labels: C#

#16345 C++: Clean up SSA and stop relying on memory edges for iterator flow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/standalone_iterators.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Labels: C++, no-change-note-required

#16373 C++: Update test results after extractor changes
  cpp/ql/test/successor-tests/stackvariables/stackvariables/graphable.expected
Labels: C++, depends on internal PR

#16297 Java: Identify more APIs as supported in the telemetry queries.
  java/ql/lib/semmle/code/java/dataflow/ApiSinks.qll
  java/ql/lib/semmle/code/java/dataflow/ApiSources.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSinks.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/security/AndroidSensitiveCommunicationQuery.qll
  java/ql/lib/semmle/code/java/security/ArbitraryApkInstallation.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageAndroidDatabaseQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageAndroidFilesystemQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageCookieQuery.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageSharedPrefsQuery.qll
  java/ql/lib/semmle/code/java/security/ExternallyControlledFormatStringQuery.qll
  java/ql/lib/semmle/code/java/security/ImplicitPendingIntents.qll
  java/ql/lib/semmle/code/java/security/InsecureBasicAuth.qll
  java/ql/lib/semmle/code/java/security/InsecureLdapAuth.qll
  java/ql/lib/semmle/code/java/security/InsecureRandomnessQuery.qll
  java/ql/lib/semmle/code/java/security/InsecureTrustManager.qll
  java/ql/lib/semmle/code/java/security/IntentUriPermissionManipulation.qll
  java/ql/lib/semmle/code/java/security/JWT.qll
  java/ql/lib/semmle/code/java/security/JndiInjection.qll
  java/ql/lib/semmle/code/java/security/OgnlInjection.qll
  java/ql/lib/semmle/code/java/security/QueryInjection.qll
  java/ql/lib/semmle/code/java/security/SensitiveResultReceiverQuery.qll
  java/ql/lib/semmle/code/java/security/SensitiveUiQuery.qll
  java/ql/lib/semmle/code/java/security/SpelInjection.qll
  java/ql/lib/semmle/code/java/security/StackTraceExposureQuery.qll
  java/ql/lib/semmle/code/java/security/TempDirLocalInformationDisclosureQuery.qll
  java/ql/lib/semmle/code/java/security/UnsafeAndroidAccess.qll
  java/ql/lib/semmle/code/java/security/UnsafeContentUriResolution.qll
  java/ql/lib/semmle/code/java/security/UnsafeDeserializationQuery.qll
  java/ql/lib/semmle/code/java/security/UrlRedirect.qll
  java/ql/lib/semmle/code/java/security/WebviewDebuggingEnabledQuery.qll
  java/ql/lib/semmle/code/java/security/XPath.qll
  java/ql/lib/semmle/code/java/security/XSS.qll
  java/ql/lib/semmle/code/java/security/ZipSlipQuery.qll
  java/ql/src/Telemetry/ExternalApi.qll
  java/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.expected
  java/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.java
Labels: Java, no-change-note-required

#16402 C++: Improve UseOfStringAfterLifetimeEnds doc.
  cpp/ql/src/Security/CWE/CWE-416/UseOfStringAfterLifetimeEnds.qhelp
  cpp/ql/src/Security/CWE/CWE-416/UseOfStringAfterLifetimeEnds.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfStringAfterLifetimeEnds/UseOfStringAfterLifetimeEnds.expected
Labels: C++, documentation, no-change-note-required, ready-for-doc-review

#16406 C++: Add test case for reassignment to UseAfterFree.ql.
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryFreed.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/test.cpp
Labels: C++, no-change-note-required

#16414 C++: Correctly handle destructors at the end of range-based for-loops in the IR
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#16415 C++: Clean up `IRVariable`s using final aliases
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
Labels: C++, no-change-note-required

#16399 C#: Make `Element.getLocation` (mostly) functional
  csharp/ql/lib/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/lib/semmle/code/csharp/Location.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/csharp7/TupleTypes.expected
  csharp/ql/test/library-tests/exprorstmtparent/Callable.expected
  csharp/ql/test/library-tests/exprorstmtparent/Declaration.expected
  csharp/ql/test/library-tests/exprorstmtparent/Indexer.expected
  csharp/ql/test/library-tests/exprorstmtparent/Parameter.expected
  csharp/ql/test/library-tests/exprorstmtparent/Property.expected
  csharp/ql/test/library-tests/extractor/tagstack/Bodies.expected
  csharp/ql/test/library-tests/extractor/tagstack/Classes.expected
  csharp/ql/test/library-tests/extractor/tagstack/Methods.expected
  csharp/ql/test/library-tests/standalone/errorrecovery/ErrorTypes.expected
  csharp/ql/test/library-tests/standalone/errorrecovery/Methods.expected
Labels: C#, no-change-note-required

#16317 Go: add bazel build
  .bazelrc
  .pre-commit-config.yaml
  MODULE.bazel
  go/BUILD.bazel
  go/codeql-tools/BUILD.bazel
  go/create_extractor_pack.py
  go/downgrades/BUILD.bazel
  go/extractor/.gitattributes
  go/extractor/BUILD.bazel
  go/extractor/autobuilder/BUILD.bazel
  go/extractor/cli/go-autobuilder/BUILD.bazel
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/cli/go-bootstrap/BUILD.bazel
  go/extractor/cli/go-build-runner/BUILD.bazel
  go/extractor/cli/go-extractor/BUILD.bazel
  go/extractor/cli/go-gen-dbscheme/BUILD.bazel
  go/extractor/cli/go-tokenizer/BUILD.bazel
  go/extractor/dbscheme/BUILD.bazel
  go/extractor/diagnostics/BUILD.bazel
  go/extractor/project/BUILD.bazel
  go/extractor/srcarchive/BUILD.bazel
  go/extractor/toolchain/BUILD.bazel
  go/extractor/trap/BUILD.bazel
  go/extractor/util/BUILD.bazel
  go/extractor/vendor/golang.org/x/mod/internal/lazyregexp/BUILD.bazel
  go/extractor/vendor/golang.org/x/mod/modfile/BUILD.bazel
  go/extractor/vendor/golang.org/x/mod/module/BUILD.bazel
  go/extractor/vendor/golang.org/x/mod/semver/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/go/gcexportdata/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/go/internal/packagesdriver/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/go/packages/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/go/types/objectpath/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/event/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/event/core/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/event/keys/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/event/label/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/event/tag/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/gcimporter/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/gocommand/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/packagesinternal/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/pkgbits/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/tokeninternal/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/typeparams/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/typesinternal/BUILD.bazel
  go/extractor/vendor/golang.org/x/tools/internal/versions/BUILD.bazel
  go/extractor/vendor/modules.txt
  go/gen.py
  go/rules.bzl
Labels: Go

#16356 C#: Base telemetry Api Source/Sink nodes on abstract classes.
  csharp/ql/lib/semmle/code/csharp/security/dataflow/CodeInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ConditionalBypassQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ExposureOfPrivateInformationQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/HardcodedCredentialsQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/LDAPInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/LogForgingQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/MissingXMLValidationQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ReDoSQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/RegexInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ResourceInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/SqlInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/TaintedPathQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/UnsafeDeserializationQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/UrlRedirectQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/XMLEntityInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/XPathInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ZipSlipQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/AllSinks.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/ApiSinks.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/ExternalLocationSink.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/FlowSinks.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/ParallelSink.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/Remote.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/AllSources.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/ApiSources.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/FlowSources.qll
  csharp/ql/src/Telemetry/ExternalApi.qll
Labels: C#, no-change-note-required

#16416 C++: Add `cpp/iterator-to-expired-container` FP
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/IteratorToExpiredContainer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/test.cpp
Labels: C++, no-change-note-required

#16436 C++: Add test case that shows that no destructors are attached to unwinds
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#16426 C++: Update test results after extractor changes
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, depends on internal PR

#16442 C++: Add `cpp/uninitialized-local` FP
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/LoopConditionsConst.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/UninitializedLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/test.cpp
Labels: C++

#16440 C++: Fix location of SSA def for local variable addresses
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/IteratorToExpiredContainer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/test.cpp
Labels: C++, no-change-note-required

#16417 JS: Remove some FPs from the hardcoded-credentials query
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/Security/CWE-798/HardcodedCredentials.qhelp
  javascript/ql/src/Security/CWE-798/HardcodedCredentials.ql
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.js
Labels: JS, documentation, no-change-note-required

#16444 Shared data flow: Make summaryThroughStepValue include param outputs
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#16404 C++: Improve qhelp for WrongTypeFormatArguments.
  cpp/ql/src/Likely Bugs/Format/TooManyFormatArguments.qhelp
  cpp/ql/src/Likely Bugs/Format/WrongNumberOfFormatArguments.qhelp
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArguments.cpp
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArguments.qhelp
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArgumentsBad.cpp
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArgumentsGood.cpp
Labels: C++, documentation, no-change-note-required, ready-for-doc-review

#16405 C++: Improve qhelp for StrncpyFlippedArgs.
  cpp/ql/src/Likely Bugs/Memory Management/StrncpyFlippedArgs.cpp
  cpp/ql/src/Likely Bugs/Memory Management/StrncpyFlippedArgs.qhelp
  cpp/ql/src/Likely Bugs/Memory Management/StrncpyFlippedArgsBad.cpp
  cpp/ql/src/Likely Bugs/Memory Management/StrncpyFlippedArgsGood.cpp
Labels: C++, documentation, no-change-note-required, ready-for-doc-review

#16447 C++: Update test results after extractor changes
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, depends on internal PR

#16450 C++: Add IR tests demonstrating some inconsistencies that may occur
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Labels: C++

#16454 Go: Fix shadowed variable in `RunListWithEnv`
  go/extractor/BUILD.bazel
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/extractor.go
  go/extractor/toolchain/toolchain.go
  go/extractor/util/util.go
Labels: Go

#16299 C++: Remove an unnecessary column
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Labels: C++, no-change-note-required

#16445 C++: Improve qhelp for DoubleFree.
  cpp/ql/src/Critical/DoubleFree.qhelp
  cpp/ql/src/Critical/DoubleFreeBad.cpp
  cpp/ql/src/Critical/DoubleFreeBad2.cpp
  cpp/ql/src/Critical/DoubleFreeGood.cpp
  cpp/ql/src/Critical/DoubleFreeGood2.cpp
Labels: C++, documentation, no-change-note-required, ready-for-doc-review

#16455 C++: Ensure destructors for ifs are called after both branches and for both if and constexpr if
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#16457 Go: Fix `getType` on `ImplicitVarArgsSlice`
  go/ql/lib/change-notes/2024-05-08-fix-flow-variadic-builtin-variable.md
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
Labels: documentation, Go

#16320 [8th May 2024] Add deprecation notices to CodeQL for VS Code documentation
  CONTRIBUTING.md
  README.md
  docs/codeql/codeql-for-visual-studio-code/about-codeql-for-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/about-telemetry-in-codeql-for-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/analyzing-your-projects.rst
  docs/codeql/codeql-for-visual-studio-code/customizing-settings.rst
  docs/codeql/codeql-for-visual-studio-code/exploring-data-flow-with-path-queries.rst
  docs/codeql/codeql-for-visual-studio-code/exploring-the-structure-of-your-source-code.rst
  docs/codeql/codeql-for-visual-studio-code/index.rst
  docs/codeql/codeql-for-visual-studio-code/running-codeql-queries-at-scale-with-mrva.rst
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/testing-codeql-queries-in-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/troubleshooting-codeql-for-visual-studio-code.rst
  docs/codeql/codeql-for-visual-studio-code/troubleshooting-variant-analysis.rst
  docs/codeql/codeql-for-visual-studio-code/using-the-codeql-model-editor.rst
  docs/codeql/codeql-for-visual-studio-code/working-with-codeql-packs-in-visual-studio-code.rst
  docs/codeql/codeql-language-guides/codeql-library-for-ruby.rst
  docs/codeql/codeql-overview/about-codeql.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.8.1.rst
  docs/codeql/codeql-overview/codeql-tools.rst
  docs/codeql/ql-training/cpp/bad-overflow-guard.rst
  docs/codeql/ql-training/cpp/control-flow-cpp.rst
  docs/codeql/ql-training/cpp/data-flow-cpp.rst
  docs/codeql/ql-training/cpp/global-data-flow-cpp.rst
  docs/codeql/ql-training/cpp/intro-ql-cpp.rst
  docs/codeql/ql-training/cpp/snprintf.rst
  docs/codeql/ql-training/java/apache-struts-java.rst
  docs/codeql/ql-training/java/data-flow-java.rst
  docs/codeql/ql-training/java/global-data-flow-java.rst
  docs/codeql/ql-training/java/intro-ql-java.rst
  docs/codeql/ql-training/java/query-injection-java.rst
  docs/codeql/ql-training/template.rst
  docs/codeql/reusables/vs-code-basic-instructions/note-store-quick-query.rst
  docs/codeql/reusables/vs-code-basic-instructions/setup-to-run-queries.rst
  docs/codeql/reusables/vs-code-deprecation-note.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
  docs/codeql/writing-codeql-queries/defining-the-results-of-a-query.rst
  docs/codeql/writing-codeql-queries/introduction-to-ql.rst
  docs/codeql/writing-codeql-queries/metadata-for-codeql-queries.rst
  docs/ql-style-guide.md
  docs/supported-queries.md
  go/CONTRIBUTING.md
  go/ql/docs/experimental.md
  python/ql/src/CHANGELOG.md
  python/ql/src/change-notes/released/0.0.9.md
Labels: documentation, Python, ready-for-doc-review, Go

#16459 C++: Fix destructor translation for handlers
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#16458 Go: fix `hasQualifiedName` and models-as-data for built-in functions
  go/ql/lib/change-notes/2024-05-08-builtin-functions-no-package.md
  go/ql/lib/semmle/go/Scopes.qll
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalFlowStep.ql
  go/ql/test/library-tests/semmle/go/dataflow/PromotedFields/LocalFlowStep.ql
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
Labels: documentation, Go

#16464 Go: Fix test expectations
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
Labels: Go

#16131 C++: Improve the cpp/path-injection qhelp
  cpp/ql/src/Security/CWE/CWE-022/TaintedPath.c
  cpp/ql/src/Security/CWE/CWE-022/TaintedPath.qhelp
  cpp/ql/src/Security/CWE/CWE-022/examples/TaintedPath.c
  cpp/ql/src/Security/CWE/CWE-022/examples/TaintedPathFolder.c
  cpp/ql/src/Security/CWE/CWE-022/examples/TaintedPathNormalize.c
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/test.c
Labels: C++, documentation, ready-for-doc-review

#16401 Java/Kotlin: Remove support for some deprecated environment variables
  java/kotlin-extractor/src/main/java/com/semmle/util/process/Env.java
  java/ql/lib/change-notes/2024-05-02-env-vars.md
Labels: documentation, Java, Kotlin

#16220 Go: Add an example specific to domain names in missing-regexp-anchor
  go/ql/src/Security/CWE-020/MissingRegexpAnchor.qhelp
  go/ql/src/Security/CWE-020/MissingRegexpAnchorGoodDomain.go
Labels: documentation, Go

#16398 Go: update `make` and CI to use `bazel`
  .github/workflows/go-tests-other-os.yml
  .github/workflows/go-tests.yml
  go/Makefile
  go/actions/test/action.yml
Labels: Go

#16419 C#: Use entities in reorder directives
  csharp/downgrades/ab09ac8287516082b7a7367f8fda1862b1be47c5/upgrade.properties
  csharp/ql/lib/upgrades/0f562410898f4d4afab2da91f5aaece660ebfa88/upgrade.properties
Labels: C#

#16420 Go: Use entities in reorder directives
  go/ql/lib/upgrades/b37faf5d62cccefad9fcfd8f5c026620097b2355/upgrade.properties
Labels: Go

#16422 JS: Use entities in reorder directives
  javascript/ql/lib/upgrades/9ca3692b65fd8d751431861d1a25c57f3e61d15b/upgrade.properties
  javascript/ql/lib/upgrades/c73fbfca57f3d593b9ff50c6aa3a886d6888efec/upgrade.properties
Labels: JS

#16423 Python: Use entities in reorder directives
  python/ql/lib/upgrades/4f1806347d7fafe2f78508da01c01e5aff5f7cbb/upgrade.properties
Labels: Python

#16478 Java: Clean up some instances of getQualifiedName.
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/lib/semmle/code/java/frameworks/JAXB.qll
  java/ql/lib/semmle/code/java/security/Encryption.qll
  java/ql/lib/semmle/code/java/security/XSS.qll
  java/ql/src/Likely Bugs/Concurrency/WaitOutsideLoop.ql
  java/ql/src/Security/CWE/CWE-319/UseSSLSocketFactories.ql
  java/ql/src/Security/CWE/CWE-676/PotentiallyDangerousFunction.ql
  java/ql/src/experimental/Security/CWE/CWE-078/CommandInjectionRuntimeExec.qll
  java/ql/src/experimental/Security/CWE/CWE-939/IncorrectURLVerification.ql
Labels: Java, no-change-note-required

#16374 Java: Improve finding best type for models and lifting.
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  java/ql/test/utils/modelgenerator/dataflow/p/AbstractImplOfExternalSPI.java
  java/ql/test/utils/modelgenerator/dataflow/p/ImplOfExternalSPI.java
  java/ql/test/utils/modelgenerator/dataflow/p/Inheritance.java
  java/ql/test/utils/modelgenerator/dataflow/p/MultipleImpls.java
Labels: C#, Java, no-change-note-required

#16105 Python: Promote Header Injection query from experimental
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/Werkzeug.qll
  python/ql/lib/semmle/python/security/dataflow/HttpHeaderInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/HttpHeaderInjectionQuery.qll
  python/ql/src/Security/CWE-113/HeaderInjection.qhelp
  python/ql/src/Security/CWE-113/HeaderInjection.ql
  python/ql/src/Security/CWE-113/examples/header_injection.py
  python/ql/src/change-notes/2024-04-08-header-injection-promotion.md
  python/ql/src/experimental/Security/CWE-113/HeaderInjection.qhelp
  python/ql/src/experimental/Security/CWE-113/header_injection.py
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/CookieHeader.qll
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/src/experimental/semmle/python/frameworks/Django.qll
  python/ql/src/experimental/semmle/python/frameworks/Flask.qll
  python/ql/src/experimental/semmle/python/frameworks/Werkzeug.qll
  python/ql/src/experimental/semmle/python/security/injection/HTTPHeaders.qll
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/experimental/query-tests/Security/CWE-113/HeaderInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-113/HeaderInjection.qlref
  python/ql/test/experimental/query-tests/Security/CWE-113/django_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-113/flask_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-614/CookieInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-614/InsecureCookie.expected
  python/ql/test/experimental/query-tests/Security/CWE-614/django_bad.py
  python/ql/test/library-tests/frameworks/flask/response_test.py
  python/ql/test/library-tests/frameworks/stdlib/wsgiref_simple_server_test.py
  python/ql/test/query-tests/Security/CWE-113-HeaderInjection/Tests1/HeaderInjection.expected
  python/ql/test/query-tests/Security/CWE-113-HeaderInjection/Tests1/HeaderInjection.qlref
  python/ql/test/query-tests/Security/CWE-113-HeaderInjection/Tests1/flask_tests.py
  python/ql/test/query-tests/Security/CWE-113-HeaderInjection/Tests1/wsgiref_tests.py
  python/ql/test/query-tests/Security/CWE-113-HeaderInjection/Tests2-with-wsgi-validator/HeaderInjection.expected
  python/ql/test/query-tests/Security/CWE-113-HeaderInjection/Tests2-with-wsgi-validator/HeaderInjection.qlref
  python/ql/test/query-tests/Security/CWE-113-HeaderInjection/Tests2-with-wsgi-validator/HeaderWriteTest.expected
  python/ql/test/query-tests/Security/CWE-113-HeaderInjection/Tests2-with-wsgi-validator/HeaderWriteTest.ql
  python/ql/test/query-tests/Security/CWE-113-HeaderInjection/Tests2-with-wsgi-validator/wsgiref_tests.py
Labels: documentation, Python

#16421 Java: Use entities in reorder directives
  java/ql/lib/upgrades/8ab354e68e86100ee3abe28bd44f491ecc77c1dd/upgrade.properties
  java/ql/lib/upgrades/b4e689c90426b017ad550e30a439cab2763ff424/upgrade.properties
Labels: Java

#16479 Java: Add test case for a custom Java trust store
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/buildless-fetches.expected
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/cert.pem
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/jdk8_shipped_cacerts_plus_cert_pem
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/key.pem
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/pom.xml
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/repo/snapshots/com/github/my/snapshot/test/snapshottest/1.0-SNAPSHOT/maven-metadata.xml
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/repo/snapshots/com/github/my/snapshot/test/snapshottest/1.0-SNAPSHOT/maven-metadata.xml.md5
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/repo/snapshots/com/github/my/snapshot/test/snapshottest/1.0-SNAPSHOT/maven-metadata.xml.sha1
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/repo/snapshots/com/github/my/snapshot/test/snapshottest/1.0-SNAPSHOT/snapshottest-1.0-20230901.050514-100.jar
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/repo/snapshots/com/github/my/snapshot/test/snapshottest/1.0-SNAPSHOT/snapshottest-1.0-20230901.050514-100.jar.md5
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/repo/snapshots/com/github/my/snapshot/test/snapshottest/1.0-SNAPSHOT/snapshottest-1.0-20230901.050514-100.jar.sha1
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/repo/snapshots/com/github/my/snapshot/test/snapshottest/1.0-SNAPSHOT/snapshottest-1.0-20230901.050514-100.pom
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/repo/snapshots/com/github/my/snapshot/test/snapshottest/1.0-SNAPSHOT/snapshottest-1.0-20230901.050514-100.pom.md5
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/repo/snapshots/com/github/my/snapshot/test/snapshottest/1.0-SNAPSHOT/snapshottest-1.0-20230901.050514-100.pom.sha1
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/server.py
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/src/main/java/Test.java
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/test.expected
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/test.py
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/test.ql
Labels: Java

#16488 Java: Add comments to tests that spawn an HTTP/S server
  java/ql/integration-tests/all-platforms/java/buildless-dependency-different-repository/test.py
  java/ql/integration-tests/all-platforms/java/buildless-inherit-trust-store/test.py
  java/ql/integration-tests/all-platforms/java/buildless-snapshot-repository/test.py
Labels: Java

#16468 Java: add test cases for Maven and Gradle stalling in buildless mode
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/.gitattributes
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/.gitignore
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/build.gradle
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/force_sequential_test_execution
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/gradle/verification-metadata.xml
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/gradlew
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/gradlew.bat
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/settings.gradle
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/src/main/java/com/example/App.java
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/src/test/java/com/example/AppTest.java
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/test.expected
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/test.py
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/test.ql
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/.gitattributes
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/.mvn/wrapper/maven-wrapper.jar
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/.mvn/wrapper/maven-wrapper.properties
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/force_sequential_test_execution
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/mvnw
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/mvnw.cmd
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/pom.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/src/main/java/com/example/App.java
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/src/main/resources/my-app.properties
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/src/main/resources/page.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/src/main/resources/struts.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/src/test/java/com/example/AppTest.java
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/test.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/test.py
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/test.ql
Labels: Java

#16483 Python: The MaD token `Instance` now follows subclasses
  python/ql/lib/semmle/python/ApiGraphs.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModelsSpecific.qll
  python/ql/test/library-tests/frameworks/data/test.expected
  python/ql/test/library-tests/frameworks/data/test.py
Labels: Python, no-change-note-required

#16495 C++: Delete duplicated case in IR generation
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
Labels: C++, no-change-note-required

#16487 C++/C#: Move the Windows autobuilder into a subfolder in `ql/csharp`.
  .github/workflows/csharp-qltest.yml
  CODEOWNERS
  cpp/autobuilder/.gitignore
  cpp/autobuilder/README.md
  csharp/CSharp.sln
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/Semmle.Autobuild.Cpp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.Cpp/CppAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Cpp/Program.cs
  csharp/autobuilder/Semmle.Autobuild.Cpp/Properties/AssemblyInfo.cs
  csharp/autobuilder/Semmle.Autobuild.Cpp/Semmle.Autobuild.Cpp.csproj
Labels: C#, C++, depends on internal PR, documentation

#16336 Java: Add Android Gradle Plugin 8 and Spring Boot 3 tests
  java/integration-tests-lib/toolchains_test_utils.py
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gitattributes
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gitignore
  java/ql/integration-tests/all-platforms/java/android-8-sample/build.gradle
  java/ql/integration-tests/all-platforms/java/android-8-sample/force_sequential_test_execution
  java/ql/integration-tests/all-platforms/java/android-8-sample/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/java/android-8-sample/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/java/android-8-sample/gradlew
  java/ql/integration-tests/all-platforms/java/android-8-sample/gradlew.bat
  java/ql/integration-tests/all-platforms/java/android-8-sample/project/build.gradle
  java/ql/integration-tests/all-platforms/java/android-8-sample/project/src/main/AndroidManifest.xml
  java/ql/integration-tests/all-platforms/java/android-8-sample/project/src/main/java/com/github/androidsample/Main.java
  java/ql/integration-tests/all-platforms/java/android-8-sample/settings.gradle
  java/ql/integration-tests/all-platforms/java/android-8-sample/test.expected
  java/ql/integration-tests/all-platforms/java/android-8-sample/test.py
  java/ql/integration-tests/all-platforms/java/android-8-sample/test.ql
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/test.py
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/.gitattributes
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/.gitignore
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/README
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/build.gradle
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/force_sequential_test_execution
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/gradlew
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/gradlew.bat
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/settings.gradle
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/src/main/java/com/github/springbootsample/SpringBootSampleApplication.java
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/src/main/resources/application.properties
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/src/test/java/com/github/springbootsample/SpringBootSampleApplicationTests.java
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/test.expected
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/test.py
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/test.ql
Labels: Java

#16135 Python: Add Gradio models
  docs/codeql/reusables/supported-frameworks.rst
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Gradio.qll
  python/ql/src/change-notes/2024-04-05-gradio-models.md
  python/ql/test/library-tests/frameworks/gradio/source_test.expected
  python/ql/test/library-tests/frameworks/gradio/source_test.py
  python/ql/test/library-tests/frameworks/gradio/source_test.ql
  python/ql/test/library-tests/frameworks/gradio/taint_step_test.expected
  python/ql/test/library-tests/frameworks/gradio/taint_step_test.py
  python/ql/test/library-tests/frameworks/gradio/taint_step_test.qlref
Labels: documentation, Python

#16505 C#: Pin dotnet SDK version in integration test relying on razor sourc…
  csharp/ql/integration-tests/all-platforms/cshtml_standalone_flowsteps/XSS.expected
  csharp/ql/integration-tests/all-platforms/cshtml_standalone_flowsteps/global.json
Labels: C#

#16497 Java: Add tests for `comparison-with-wider-type`.
  java/ql/src/Security/CWE/CWE-190/ComparisonWithWiderType.ql
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ComparisonWithWiderType.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ComparisonWithWiderType.java
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ComparisonWithWiderType.qlref
Labels: Java, no-change-note-required

#16507 JS: Update the insecure-randomness QHelp
  javascript/ql/src/Security/CWE-338/InsecureRandomness.qhelp
  javascript/ql/src/Security/CWE-338/examples/InsecureRandomness_fixed.js
Labels: JS, documentation

#13554 JS: Decompression Bombs
  javascript/ql/src/experimental/Security/CWE-522-DecompressionBombs/DecompressionBombs.qhelp
  javascript/ql/src/experimental/Security/CWE-522-DecompressionBombs/DecompressionBombs.ql
  javascript/ql/src/experimental/Security/CWE-522-DecompressionBombs/DecompressionBombs.qll
  javascript/ql/src/experimental/Security/CWE-522-DecompressionBombs/jszip_good.js
  javascript/ql/src/experimental/Security/CWE-522-DecompressionBombs/node-tar_good.js
  javascript/ql/src/experimental/Security/CWE-522-DecompressionBombs/zlib_good.js
  javascript/ql/src/experimental/semmle/javascript/FormParsers.qll
  javascript/ql/src/experimental/semmle/javascript/ReadableStream.qll
  javascript/ql/test/experimental/FormParsers/RemoteFlowSource.expected
  javascript/ql/test/experimental/FormParsers/RemoteFlowSource.ql
  javascript/ql/test/experimental/FormParsers/busybus.js
  javascript/ql/test/experimental/FormParsers/dicer.js
  javascript/ql/test/experimental/FormParsers/formidable.js
  javascript/ql/test/experimental/FormParsers/multiparty.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/DecompressionBombs.expected
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/DecompressionBombs.qlref
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/adm-zip.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/decompress.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/fflate.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/gunzip-maybe.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/jszip.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/node-tar.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/pako.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/unbzip2.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/unzip.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/unzipper.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/yauzl.js
  javascript/ql/test/query-tests/Security/CWE-522-DecompressionBombs/zlib.js
Labels: JS, documentation, external-contribution

#16509 Go: make two barriers recognise named types whose underlying types are integer types
  go/ql/lib/change-notes/2024-05-16-incorrect-integer-conversion-defined-types.md
  go/ql/lib/semmle/go/security/IncorrectIntegerConversionLib.qll
Labels: documentation, Go

#16376 C#/C++: Convert C# code to use `paket` package manager
  .gitattributes
  .github/workflows/codeql-analysis.yml
  .github/workflows/csharp-qltest.yml
  csharp/.config/dotnet-tools.json
  csharp/.gitignore
  csharp/.paket/Paket.Restore.targets
  csharp/Directory.Build.targets
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/Semmle.Autobuild.CSharp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/paket.references
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/paket.references
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/Semmle.Autobuild.Cpp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/paket.references
  csharp/autobuilder/Semmle.Autobuild.Cpp/Semmle.Autobuild.Cpp.csproj
  csharp/autobuilder/Semmle.Autobuild.Cpp/paket.references
  csharp/autobuilder/Semmle.Autobuild.Shared/Semmle.Autobuild.Shared.csproj
  csharp/autobuilder/Semmle.Autobuild.Shared/paket.references
  csharp/before.CSharp.sln.targets
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Semmle.Extraction.CSharp.DependencyFetching.csproj
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.DependencyStubGenerator/Semmle.Extraction.CSharp.DependencyStubGenerator.csproj
  csharp/extractor/Semmle.Extraction.CSharp.DependencyStubGenerator/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Semmle.Extraction.CSharp.Driver.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Driver/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/Semmle.Extraction.CSharp.StubGenerator.csproj
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.Util/Semmle.Extraction.CSharp.Util.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Util/paket.references
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction.CSharp/paket.references
  csharp/extractor/Semmle.Extraction.Tests/Semmle.Extraction.Tests.csproj
  csharp/extractor/Semmle.Extraction.Tests/paket.references
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Extraction/paket.references
  csharp/extractor/Semmle.Util.Tests/Semmle.Util.Tests.csproj
  csharp/extractor/Semmle.Util.Tests/paket.references
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
  csharp/extractor/Semmle.Util/paket.references
  csharp/paket.dependencies
  csharp/paket.lock
  csharp/ql/paket.dependencies
  csharp/scripts/create-extractor-pack.sh
Labels: C#, depends on internal PR

#16194 Python: test the MaD path for constructor calls
  python/ql/test/library-tests/dataflow/model-summaries/InlineTaintTest.ext.yml
  python/ql/test/library-tests/dataflow/model-summaries/NormalDataflowTest.ext.yml
  python/ql/test/library-tests/dataflow/model-summaries/model_summaries.py
Labels: Python

#16508 Swift: update prebuilt package
  swift/third_party/load.bzl
Labels: Swift

#13556 Ruby: Decompression Bombs
  ruby/ql/src/experimental/CWE-522-DecompressionBombs/DecompressionBombs.qhelp
  ruby/ql/src/experimental/CWE-522-DecompressionBombs/DecompressionBombs.ql
  ruby/ql/src/experimental/CWE-522-DecompressionBombs/DecompressionBombs.qll
  ruby/ql/src/experimental/CWE-522-DecompressionBombs/example_bad.rb
  ruby/ql/src/experimental/CWE-522-DecompressionBombs/example_good.rb
  ruby/ql/test/query-tests/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  ruby/ql/test/query-tests/experimental/CWE-522-DecompressionBombs/DecompressionBombs.qlref
  ruby/ql/test/query-tests/experimental/CWE-522-DecompressionBombs/gzipBombs.rb
  ruby/ql/test/query-tests/experimental/CWE-522-DecompressionBombs/zipBombs.rb
Labels: documentation, Ruby, external-contribution

#16476 C#: Update non-Roslyn thirdparty dependencies
  csharp/paket.dependencies
  csharp/paket.lock
Labels: C#

#16506 Java: Add change note for Gradle JDK version detection
  java/ql/lib/change-notes/2024-05-16-gradle-jdk-detection.md
Labels: documentation, Java

#14291 JS: Shelljs improvement
  javascript/ql/lib/semmle/javascript/frameworks/ShellJS.qll
  javascript/ql/test/library-tests/frameworks/Shelljs/ShellJS.expected
  javascript/ql/test/library-tests/frameworks/Shelljs/tst.js
Labels: JS

#16496 Stop building the CodeQL for VS Code docs now they've been migrated
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp-new.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-csharp.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-java.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-javascript-and-typescript.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-python.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-ruby.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-swift.rst
  docs/codeql/codeql-language-guides/customizing-library-models-for-java-and-kotlin.rst
  docs/codeql/codeql-language-guides/data-flow-cheat-sheet-for-javascript.rst
  docs/codeql/codeql-language-guides/using-flow-labels-for-precise-data-flow-analysis.rst
  docs/codeql/codeql-overview/codeql-glossary.rst
  docs/codeql/conf.py
  docs/codeql/contents.rst
  docs/codeql/reusables/codespaces-template-note.rst
  docs/codeql/reusables/setup-to-run-tutorials.rst
  docs/codeql/writing-codeql-queries/about-codeql-queries.rst
  docs/codeql/writing-codeql-queries/about-data-flow-analysis.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
  docs/codeql/writing-codeql-queries/debugging-data-flow-queries-using-partial-flow.rst
  docs/codeql/writing-codeql-queries/introduction-to-ql.rst
Labels: documentation, ready-for-doc-review

#16512 Python: Allow provenance in additional taint steps
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPublic.qll
  python/ql/test/experimental/query-tests/Security/CWE-091-XsltInjection/XsltInjection.expected
  python/ql/test/library-tests/dataflow/summaries/summaries.expected
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.expected
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/NoSqlInjection.expected
Labels: Python, no-change-note-required

#16418 C++: Use entities in reorder directives
  cpp/downgrades/19887dbd33327fb07d54251786e0cb2578539775/upgrade.properties
  cpp/ql/lib/upgrades/ddd31fd02e51ad270bc9e6712708e5a5b6881518/upgrade.properties
Labels: C++

#16425 Swift: Use entities in reorder directives
  swift/downgrades/15d0da3a76b9dbffb921ae6d585f8a8de8945a0b/upgrade.properties
  swift/downgrades/5559b5a367524777b3f6ef3fc285ae81031ca1da/upgrade.properties
  swift/downgrades/ba4171b90d0665b40e9e203bac9e3d4a0b2d03ec/upgrade.properties
  swift/downgrades/f5a22f5168adfd7f308b5941c11852c925edd638/upgrade.properties
  swift/downgrades/f6a8ee8a21fb596fa84261ddedb68c00d8457ef4/upgrade.properties
  swift/ql/lib/upgrades/147e087e57e51b2eb41e75c9c97380d0e6c20ecb/upgrade.properties
  swift/ql/lib/upgrades/62fc609c1ab6ae748ff51362ffa5c368ba834ddf/upgrade.properties
  swift/ql/lib/upgrades/98a78b66651ad4eb35a8edf1642767c794909ea4/upgrade.properties
  swift/ql/lib/upgrades/e646f9e0308ec7135c83c0fdf96896d2737a8013/upgrade.properties
  swift/ql/lib/upgrades/f937d9e63094280b7ec0ef26c70310daad5c1f79/upgrade.properties
Labels: Swift

#16510 Go: Update the QHelp for `go/command-injection`.
  go/ql/lib/semmle/go/security/CommandInjectionCustomizations.qll
  go/ql/src/Security/CWE-078/CommandInjection.go
  go/ql/src/Security/CWE-078/CommandInjection.qhelp
  go/ql/src/Security/CWE-078/StoredCommand.qhelp
  go/ql/src/Security/CWE-078/examples/CommandInjection.go
  go/ql/src/Security/CWE-078/examples/CommandInjectionGood.go
  go/ql/src/Security/CWE-078/examples/CommandInjectionGood2.go
  go/ql/src/Security/CWE-078/examples/CommandInjectionGood3.go
  go/ql/src/Security/CWE-078/examples/StoredCommand.go
  go/ql/src/Security/CWE-078/examples/StoredCommandGood.go
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection2.go
  go/ql/test/query-tests/Security/CWE-078/GitSubcommands.go
Labels: documentation, no-change-note-required, Go

#16527 C++: Static variables are initialized to zero or null by compiler
  cpp/ql/src/Critical/NotInitialised.ql
  cpp/ql/src/change-notes/2024-05-19-avoid-reporting-static-variable.md
  cpp/ql/test/query-tests/Critical/NotInitialised/NotInitialised.expected
  cpp/ql/test/query-tests/Critical/NotInitialised/NotInitialised.qlref
  cpp/ql/test/query-tests/Critical/NotInitialised/test.cpp
Labels: C++, documentation

#16528 C++: Update an instance of the name 'Semmle' in a doc page.
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.qhelp
Labels: C++, documentation, no-change-note-required, ready-for-doc-review

#16498 C#: Use nuget.exe from the executing machine instead of always downlo…
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/EnvironmentVariableNames.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileProvider.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetExeWrapper.cs
Labels: C#

#16473 C#: Fix performance issue in EntityFramework modelling
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.expected
Labels: C#, no-change-note-required

#16446 Ruby/Python/JS/Swift: Add category of Private information to shared sensitive data heuristics
  javascript/ql/lib/change-notes/2024-05-09-sensitive-heuristics.md
  javascript/ql/lib/semmle/javascript/security/internal/SensitiveDataHeuristics.qll
  python/ql/lib/change-notes/2024-05-09-sensitive-heuristics.md
  python/ql/lib/semmle/python/security/internal/SensitiveDataHeuristics.qll
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/test.py
  ruby/ql/lib/change-notes/2024-05-09-sensitive-heuristics.md
  ruby/ql/lib/codeql/ruby/security/internal/SensitiveDataHeuristics.qll
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/lib/codeql/swift/security/internal/SensitiveDataHeuristics.qll
Labels: JS, documentation, Python, Ruby, Swift

#16537 C++: Fix typo in `cpp/network-to-host-function-as-array-bound`
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound.qll
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/NtohlArrayNoBound/NtohlArrayNoBound.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/NtohlArrayNoBound/test.cpp
Labels: C++, no-change-note-required

#16424 Ruby: Use entities in reorder directives
  ruby/downgrades/307ebf14d59930ba903d71d377f6f4129d0a6d22/upgrade.properties
  ruby/downgrades/4ba51641799d2aaa315c7323931e2dd2a94c9f9d/upgrade.properties
  ruby/downgrades/fabe9e179ed1e3d0e45ccfab6ce94b4bab02dee5/upgrade.properties
  ruby/ql/lib/upgrades/09a494ce67d8141f28d6411f89b9ff7bdad440f3/upgrade.properties
  ruby/ql/lib/upgrades/1199e154f5e9b3560297633c6ebb4dfe0b191ae4/upgrade.properties
  ruby/ql/lib/upgrades/24d81950f3ab7e67e14553e1a5111a04e8ae8445/upgrade.properties
  ruby/ql/lib/upgrades/3595c826de6db850f16b9da265a54dbf24dd3126/upgrade.properties
  ruby/ql/lib/upgrades/40be81bc2086eb0368f33c770e0a84817bb340c3/upgrade.properties
  ruby/ql/lib/upgrades/b5aef9c93ae64f848017d2dcb760eed916ab0cdd/upgrade.properties
  ruby/ql/lib/upgrades/f765176af8e0a5128d2adb1ae9c5a6b1c8e7b20b/upgrade.properties
Labels: Ruby

#16394 Data flow: Synthesize parameter return nodes
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ProductFlow.qll
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/OverrunWriteProductFlow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.expected
  csharp/ql/test/library-tests/dataflow/constructors/ConstructorFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/tuples/Tuples.expected
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  go/ql/test/library-tests/semmle/go/frameworks/GoMicro/LogInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/test/experimental/query-tests/security/CWE-299/DisabledRevocationChecking.expected
  java/ql/test/experimental/query-tests/security/CWE-400/LocalThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/library-tests/dataflow/capture/test.expected
  java/ql/test/library-tests/dataflow/partial/testRev.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTainted.expected
  ruby/ql/test/library-tests/dataflow/erb/erb.expected
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/params/params-flow.expected
  ruby/ql/test/library-tests/frameworks/action_controller/params-flow.expected
  shared/dataflow/change-notes/2024-05-06-param-return-nodes.md
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.expected
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
Labels: C#, C++, depends on internal PR, documentation, Java, Go, Ruby, Swift, DataFlow Library

#16546 JS: fix that very large TypeScript files would crash the extractor
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/ql/lib/change-notes/2024-05-21-big-ts-files.md
Labels: JS, documentation

#16544 Bazel/C#: avoid zipmerge
  csharp/BUILD.bazel
  misc/bazel/csharp.bzl
  misc/bazel/pkg.bzl
Labels: C#

#16549 C#: Fix TSP diagnostic message
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
  csharp/ql/integration-tests/all-platforms/standalone/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/standalone_failed/diagnostics.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/diagnostics.expected
Labels: C#

#16477 C#: Inline expectation for model generator test.
  csharp/ql/test/TestUtilities/InlineMadTest.qll
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.expected
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.qlref
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.expected
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.qlref
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.expected
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.qlref
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.expected
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.qlref
  csharp/ql/test/utils/modelgenerator/dataflow/NoSummaries.cs
  csharp/ql/test/utils/modelgenerator/dataflow/Sinks.cs
  csharp/ql/test/utils/modelgenerator/dataflow/Sources.cs
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
  csharp/ql/test/utils/modelgenerator/typebasedflow/CaptureTypeBasedSummaryModels.expected
  csharp/ql/test/utils/modelgenerator/typebasedflow/CaptureTypeBasedSummaryModels.ql
  csharp/ql/test/utils/modelgenerator/typebasedflow/CaptureTypeBasedSummaryModels.qlref
  csharp/ql/test/utils/modelgenerator/typebasedflow/TypeBasedSummaries.cs
  java/ql/test/TestUtilities/InlineMadTest.qll
  shared/mad/codeql/mad/test/InlineMadTest.qll
Labels: C#, Java, no-change-note-required

#16550 Java: Improve sanitizer for java/zipslip
  java/ql/lib/semmle/code/java/security/ZipSlipQuery.qll
  java/ql/src/change-notes/2024-05-22-zipslip-number-sanitizer.md
Labels: documentation, Java

#16481 Tree-sitter: Bump to 0.22.6
  python/extractor/tsg-python/Cargo.toml
  ql/Cargo.lock
  ql/buramu/tree-sitter-blame/Cargo.toml
  ql/extractor/Cargo.toml
  ql/ql/src/codeql_ql/StructuredLogs.qll
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ql/ql/src/ql.dbscheme
  ql/rust-toolchain.toml
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/cargo-bazel-lock.json
  ruby/extractor/rust-toolchain.toml
  ruby/extractor/src/extractor.rs
  ruby/ql/test/library-tests/frameworks/action_view/ActionView.expected
  shared/tree-sitter-extractor/Cargo.toml
  shared/tree-sitter-extractor/rust-toolchain.toml
  shared/tree-sitter-extractor/src/extractor/mod.rs
  shared/tree-sitter-extractor/src/extractor/simple.rs
Labels: Python, no-change-note-required, Ruby, QL-for-QL

#16185 Ruby: ActiveRecord - refine `conditions` argument as an SQLi sink
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/test/query-tests/security/cwe-089/ActiveRecordInjection.rb
  ruby/ql/test/query-tests/security/cwe-089/SqlInjection.expected
Labels: no-change-note-required, Ruby

#16524 Adds another rule for null deref
  cpp/ql/src/experimental/Likely Bugs/DerefNullResult.cpp
  cpp/ql/src/experimental/Likely Bugs/DerefNullResult.qhelp
  cpp/ql/src/experimental/Likely Bugs/DerefNullResult.ql
Labels: C++, documentation

#16521 C#: Refactor common msbuild properties
  csharp/Directory.Build.props
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/Semmle.Autobuild.CSharp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/Properties/AssemblyInfo.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/Semmle.Autobuild.Cpp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.Cpp/Properties/AssemblyInfo.cs
  csharp/autobuilder/Semmle.Autobuild.Cpp/Semmle.Autobuild.Cpp.csproj
  csharp/autobuilder/Semmle.Autobuild.Shared/Properties/AssemblyInfo.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Semmle.Autobuild.Shared.csproj
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Properties/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Semmle.Extraction.CSharp.DependencyFetching.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Properties/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Semmle.Extraction.CSharp.Driver.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Properties/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/Properties/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/Semmle.Extraction.CSharp.StubGenerator.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Util/Semmle.Extraction.CSharp.Util.csproj
  csharp/extractor/Semmle.Extraction.CSharp/Properties/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction.Tests/Properties/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.Tests/Semmle.Extraction.Tests.csproj
  csharp/extractor/Semmle.Extraction/Properties/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Util.Tests/Properties/AssemblyInfo.cs
  csharp/extractor/Semmle.Util.Tests/Semmle.Util.Tests.csproj
  csharp/extractor/Semmle.Util/Properties/AssemblyInfo.cs
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
  csharp/ql/Directory.Build.props
  csharp/scripts/stubs/helpers.py
Labels: C#

#16556 Data flow: Remove two redundant conjuncts
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#16533 C++: Make `IRGuardCondition` handle `p` in `if(p)` and `if(!p)` better in C programs
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.expected
Labels: C++, no-change-note-required

#16551 Java: Revise some jdk time-related models
  java/ql/lib/ext/generated/java.time.chrono.model.yml
  java/ql/lib/ext/generated/java.time.model.yml
  java/ql/lib/ext/generated/java.time.temporal.model.yml
  java/ql/lib/ext/generated/java.time.zone.model.yml
  java/ql/lib/ext/java.time.chrono.model.yml
  java/ql/lib/ext/java.time.model.yml
  java/ql/lib/ext/java.time.temporal.model.yml
  java/ql/lib/ext/java.time.zone.model.yml
  java/ql/lib/ext/java.util.model.yml
  java/ql/test/experimental/query-tests/security/CWE-020/Log4jInjectionTest.expected
  java/ql/test/experimental/query-tests/security/CWE-073/FilePathInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-078/CommandInjectionRuntimeExecLocal.expected
  java/ql/test/experimental/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/experimental/query-tests/security/CWE-094/BeanShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JythonInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/ScriptInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-1004/SensitiveCookieNotHttpOnly.expected
  java/ql/test/experimental/query-tests/security/CWE-200/InsecureWebResourceResponse.expected
  java/ql/test/experimental/query-tests/security/CWE-200/SensitiveAndroidFileLeak.expected
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstSignagure/Test.expected
  java/ql/test/experimental/query-tests/security/CWE-346/UnvalidatedCors.expected
  java/ql/test/experimental/query-tests/security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.expected
  java/ql/test/experimental/query-tests/security/CWE-352/JsonpInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-470/UnsafeReflection.expected
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery.expected
  java/ql/test/experimental/query-tests/security/CWE-600/UncaughtServletException.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/experimental/query-tests/security/CWE-625/PermissiveDotRegex.expected
  java/ql/test/experimental/query-tests/security/CWE-652/XQueryInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-759/HashWithoutSalt.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.expected
  java/ql/test/library-tests/frameworks/JaxWs/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/ZipSlip.expected
  java/ql/test/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTainted.expected
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/query-tests/security/CWE-094/InsecureBeanValidation.expected
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayConstruction.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayIndex.expected
  java/ql/test/query-tests/security/CWE-134/semmle/tests/ExternallyControlledFormatString.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTainted.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/TempDirLocalInformationDisclosure.expected
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.expected
  java/ql/test/query-tests/security/CWE-311/CWE-319/HttpsUrls.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-681/semmle/tests/NumericCastTainted.expected
  java/ql/test/query-tests/security/CWE-807/semmle/tests/TaintedPermissionsCheck.expected
Labels: Java, no-change-note-required

#16511 Dataflow: Add provenance for configuration-specific steps.
  csharp/ql/test/experimental/Security Features/CWE-759/HashWithoutSalt.expected
  csharp/ql/test/query-tests/Security Features/CWE-209/ExceptionInformationExposure.expected
  csharp/ql/test/query-tests/Security Features/CWE-338/InsecureRandomness.expected
  ruby/ql/test/query-tests/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  ruby/ql/test/query-tests/experimental/LdapInjection/Ldapinjection.expected
  ruby/ql/test/query-tests/experimental/cwe-022-ZipSlip/ZipSlip.expected
  ruby/ql/test/query-tests/experimental/cwe-176/UnicodeBypassValidation.expected
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/StoredXSS.expected
  ruby/ql/test/query-tests/security/cwe-506/HardcodedDataInterpretedAsCode.expected
  ruby/ql/test/query-tests/security/cwe-601/UrlRedirect.expected
  ruby/ql/test/query-tests/security/cwe-798/HardcodedCredentials.expected
  ruby/ql/test/query-tests/security/cwe-915/MassAssignment.expected
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/TaintTracking.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  swift/ql/test/query-tests/Security/CWE-022/UnsafeUnpack/UnsafeUnpack.expected
  swift/ql/test/query-tests/Security/CWE-094/UnsafeJsEval.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-312/CleartextStoragePreferences.expected
Labels: C#, no-change-note-required, Ruby, Swift, DataFlow Library

#16557 C++: Fix `cpp/use-of-unique-pointer-after-lifetime-ends` FP
  cpp/ql/src/Security/CWE/CWE-416/UseOfUniquePointerAfterLifetimeEnds.ql
  cpp/ql/src/change-notes/2024-05-22-use-of-unique-pointer-after-lifetime-ends-fp.md
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfUniquePtrAfterLifetimeEnds/test.cpp
Labels: C++, documentation

#16563 C++: Avoid a CP in `cpp/alloca-in-loop`
  cpp/ql/src/Likely Bugs/Memory Management/AllocaInLoop.ql
Labels: C++, no-change-note-required

#16562 Dataflow: Fix qltests following https://github.com/github/codeql/pull/16511
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/SAMATE/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  go/ql/test/experimental/CWE-1004/CookieWithoutHttpOnly.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/OpenRedirect.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-190/AllocationSizeOverflow.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
  java/ql/test/experimental/query-tests/security/CWE-094/BeanShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-1004/SensitiveCookieNotHttpOnly.expected
  java/ql/test/experimental/query-tests/security/CWE-200/SensitiveAndroidFileLeak.expected
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-470/LoadClassNoSignatureCheck.expected
  java/ql/test/experimental/query-tests/security/CWE-470/UnsafeReflection.expected
  java/ql/test/experimental/query-tests/security/CWE-502/UnsafeDeserializationRmi.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/experimental/query-tests/security/CWE-652/XQueryInjection.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTainted.expected
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/query-tests/security/CWE-311/CWE-319/HttpsUrls.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/TarSlip.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/UnsafeUnpack.expected
  python/ql/test/experimental/query-tests/Security/CWE-074-paramiko/paramiko.expected
  python/ql/test/experimental/query-tests/Security/CWE-079/EmailXss.expected
  python/ql/test/experimental/query-tests/Security/CWE-091-XsltInjection/XsltInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-176/UnicodeBypassValidation.expected
  python/ql/test/experimental/query-tests/Security/CWE-327-UnsafeUsageOfClientSideEncryptionVersion/UnsafeUsageOfClientSideEncryptionVersion.expected
  python/ql/test/experimental/query-tests/Security/CWE-409/DecompressionBombs.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-209-StackTraceExposure/StackTraceExposure.expected
  python/ql/test/query-tests/Security/CWE-285-PamAuthorization/PamAuthorization.expected
  python/ql/test/query-tests/Security/CWE-327-WeakSensitiveDataHashing/WeakSensitiveDataHashing.expected
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/NoSqlInjection.expected
Labels: C++, Java, Python, no-change-note-required, Go

#16553 Java: Reword recommendation section of XXE query
  java/ql/src/Security/CWE/CWE-611/XXE.qhelp
Labels: documentation, Java, no-change-note-required, ready-for-doc-review

#16559 C#: Simplify logic in `JsonWebTokenHandlerLib.qll`
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/JsonWebTokenHandlerLib.qll
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/delegated-security-validations-always-return-true.ql
Labels: C#, no-change-note-required

#16134 C#: Avoid process creation indirection in auto-builder
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/StandaloneBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/tools/tracing-config.lua
Labels: C#, depends on internal PR, no-change-note-required

#16568 Swift: add flags and instructions for building on macOS ARM
  .bazelrc
  swift/README.md
Labels: documentation, Swift

#16552 Java: Remove source dispatch when there's an exact match from a manual model.
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/src/utils/modeleditor/ModelEditor.qll
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
Labels: Java, no-change-note-required, DataFlow Library

#16573 Java: Fix join-order in viableImplInCallContext.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
Labels: Java, no-change-note-required

#16567 C#: Refactor static compilation state
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/StandaloneAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TracingAnalyser.cs
  csharp/extractor/Semmle.Extraction/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/StandaloneExtractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/TracingExtractor.cs
Labels: C#

#16580 `monotonicAggregates` can apply to modules (see language spec)
  docs/codeql/ql-language-reference/annotations.rst
Labels: documentation

#16572 Java: include link to `remote source` in TrustBoundaryViolation.ql
  java/ql/src/Security/CWE/CWE-501/TrustBoundaryViolation.ql
  java/ql/src/change-notes/2024-05-23-trusted-boundary-violation.md
Labels: documentation, Java

#16579 C#: Fix integration test expected file
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_fallback/diagnostics.expected
Labels: C#

#16578 Java: Do not lift neutrals in Model generation.
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/modelgenerator/internal/CaptureSummaryFlowQuery.qll
  java/ql/test/utils/modelgenerator/dataflow/p/ImplOfExternalSPI.java
  java/ql/test/utils/modelgenerator/dataflow/p/Inheritance.java
  java/ql/test/utils/modelgenerator/dataflow/p/PrivateFlowViaPublicInterface.java
Labels: Java, no-change-note-required

#16500 Java: Add support for flow through side-effects on static fields.
  java/ql/lib/change-notes/2024-05-15-static-field-side-effect.md
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/fields/G.java
  java/ql/test/library-tests/dataflow/fields/flow.expected
Labels: documentation, Java

#14294 JS: provide command execution sinks for execa package
  javascript/ql/src/experimental/semmle/javascript/Execa.qll
  javascript/ql/test/experimental/Execa/CommandInjection/tests.expected
  javascript/ql/test/experimental/Execa/CommandInjection/tests.js
  javascript/ql/test/experimental/Execa/CommandInjection/tests.ql
  javascript/ql/test/experimental/Execa/PathInjection/tests.expected
  javascript/ql/test/experimental/Execa/PathInjection/tests.js
  javascript/ql/test/experimental/Execa/PathInjection/tests.ql
Labels: JS

#16577 C#: Adjust compiler argument integration test
  csharp/ql/integration-tests/linux-only/compiler_args/CompilerArgs.expected
  csharp/ql/integration-tests/linux-only/compiler_args/CompilerArgs.ql
Labels: C#

#16451 Tree-sitter: Respect verbosity defined in `CODEQL_VERBOSITY`
  ql/Cargo.lock
  ql/extractor/src/extractor.rs
  ql/extractor/src/generator.rs
  ql/rust-toolchain.toml
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/cargo-bazel-lock.json
  ruby/extractor/rust-toolchain.toml
  ruby/extractor/src/extractor.rs
  ruby/extractor/src/generator.rs
  shared/tree-sitter-extractor/Cargo.toml
  shared/tree-sitter-extractor/rust-toolchain.toml
  shared/tree-sitter-extractor/src/extractor/mod.rs
Labels: no-change-note-required, Ruby, QL-for-QL

#16520 C#: Make the flow summary filtering in the adapter.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/Language Abuse/ForeachCapture.ql
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
Labels: C#, no-change-note-required

#16586 Python: Use Rust 1.74
  python/extractor/tsg-python/Cargo.Bazel.lock
  python/extractor/tsg-python/Cargo.toml
  python/extractor/tsg-python/rust-toolchain.toml
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/cargo-bazel-lock.json
Labels: depends on internal PR, Python, no-change-note-required, Ruby

#16585 Ruby: Change how we pull in `shared/tree-sitter-extractor` dependency
  config/identical-files.json
  ruby/actions/create-extractor-pack/action.yml
  ruby/extractor/.cargo/config.toml
  ruby/extractor/BUILD.bazel
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/cargo-bazel-lock.json
  ruby/extractor/codeql-extractor-fake-crate/BUILD.bazel
  ruby/extractor/codeql-extractor-fake-crate/Cargo.toml
  ruby/extractor/codeql-extractor-fake-crate/README.md
  ruby/extractor/codeql-extractor-fake-crate/src/lib.rs
  ruby/scripts/create-extractor-pack.sh
  shared/tree-sitter-extractor/BUILD.bazel
Labels: documentation, Ruby

#16596 C#: Pin dotnet SDK version in integration test relying on razor source generator
  csharp/ql/integration-tests/all-platforms/cshtml_standalone_flowsteps/XSS.expected
  csharp/ql/integration-tests/all-platforms/cshtml_standalone_flowsteps/global.json
Labels: C#

#16519 Bazel-build for C# language pack
  .bazelrc
  .bazelrc.internal
  .gitattributes
  BUILD.bazel
  MODULE.bazel
  csharp/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Cpp/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.Shared/BUILD.bazel
  csharp/downgrades/BUILD.bazel
  csharp/extractor/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.DependencyStubGenerator/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.Driver/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.Util/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp/BUILD.bazel
  csharp/extractor/Semmle.Extraction.Tests/BUILD.bazel
  csharp/extractor/Semmle.Extraction/BUILD.bazel
  csharp/extractor/Semmle.Extraction/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction/paket.references
  csharp/extractor/Semmle.Util.Tests/BUILD.bazel
  csharp/extractor/Semmle.Util/BUILD.bazel
  csharp/extractor/Testrunner/BUILD.bazel
  csharp/extractor/Testrunner/Testrunner.cs
  csharp/paket.dependencies
  csharp/paket.lock
  csharp/paket.main.bzl
  csharp/paket.main_extension.bzl
  csharp/ql/integration-tests/posix-only/standalone_dependencies_executing_runtime/Assemblies.expected
  csharp/scripts/BUILD.bazel
  csharp/scripts/gen-assembly-info.py
  csharp/tools/BUILD.bazel
  csharp/update-deps.sh
  misc/bazel/csharp.bzl
  misc/bazel/pkg.bzl
Labels: C#, depends on internal PR

#16456 Dataflow: Implement call context grouping to improve performance
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/call-sensitivity/CallSensitivityFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/call-sensitivity/flow.expected
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplConsistency.qll
  shared/util/codeql/util/internal/MakeSets.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#16599 C++: Make the padding test independent of the `predefined_macros` file
  cpp/ql/test/library-tests/padding/options
Labels: C++

#16589 Rewrite recommendations for the query `cpp/no-space-for-terminator`
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.qhelp
Labels: C++, documentation, ready-for-doc-review

#16529 Python: Model Flask SessionInterface request parameter
  python/ql/lib/change-notes/2024-05-20-flask-session-interface.md
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/test/library-tests/frameworks/flask/session_interface.py
Labels: documentation, Python

#16484 C#: Lift models.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureSummaryFlowQuery.qll
  csharp/ql/test/library-tests/dataflow/library/FlowSummariesFiltered.ql
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
Labels: C#, no-change-note-required

#16603 Dataflow/Go: Add getLocation to DataFlowCall and DataFlowCallable for easier debugging.
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  shared/dataflow/codeql/dataflow/DataFlow.qll
Labels: no-change-note-required, Go, DataFlow Library

#16602 Data flow: Fix bad join
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#16432 Bazel: add codeql specific packaging library
  .bazelrc
  .gitattributes
  .github/workflows/zipmerge-test.yml
  MODULE.bazel
  misc/bazel/internal/BUILD.bazel
  misc/bazel/internal/install.py
  misc/bazel/internal/ripunzip/BUILD.bazel
  misc/bazel/internal/ripunzip/LICENSE.txt
  misc/bazel/internal/ripunzip/README.md
  misc/bazel/internal/ripunzip/ripunzip-linux
  misc/bazel/internal/ripunzip/ripunzip-macos
  misc/bazel/internal/ripunzip/ripunzip-windows.exe
  misc/bazel/internal/zipmerge/.clang-format
  misc/bazel/internal/zipmerge/BUILD.bazel
  misc/bazel/internal/zipmerge/test-files/almost-minimal.zip
  misc/bazel/internal/zipmerge/test-files/directory-partial.zip
  misc/bazel/internal/zipmerge/test-files/directory.zip
  misc/bazel/internal/zipmerge/test-files/empty.zip
  misc/bazel/internal/zipmerge/test-files/footers.jar
  misc/bazel/internal/zipmerge/test-files/minimal-x3.zip
  misc/bazel/internal/zipmerge/test-files/minimal.zip
  misc/bazel/internal/zipmerge/test-files/no-footers.jar
  misc/bazel/internal/zipmerge/zipmerge.cpp
  misc/bazel/internal/zipmerge/zipmerge.h
  misc/bazel/internal/zipmerge/zipmerge_main.cpp
  misc/bazel/internal/zipmerge/zipmerge_test.cpp
  misc/bazel/lfs.bzl
  misc/bazel/pkg.bzl
  misc/bazel/pkg_runfiles.bzl
  misc/codegen/loaders/dbschemeloader.py
  swift/BUILD.bazel
  swift/actions/run-integration-tests/action.yml
  swift/extractor/BUILD.bazel
  swift/third_party/BUILD.swift-toolchain-linux.bazel
  swift/third_party/BUILD.swift-toolchain-macos.bazel
  swift/third_party/resource-dir/BUILD.bazel
  swift/third_party/resource-dir/LICENSE.txt
  swift/third_party/resource-dir/README.md
  swift/third_party/resource-dir/resource-dir-linux.zip
  swift/third_party/resource-dir/resource-dir-macos.zip
  swift/third_party/resource-dir/update.sh
  swift/third_party/swift-llvm-support/BUILD.bazel
  swift/tools/BUILD.bazel
Labels: documentation, Swift

#16615 Revert "Bazel: add codeql specific packaging library"
  .bazelrc
  .gitattributes
  .github/workflows/zipmerge-test.yml
  MODULE.bazel
  misc/bazel/internal/BUILD.bazel
  misc/bazel/internal/install.py
  misc/bazel/internal/ripunzip/BUILD.bazel
  misc/bazel/internal/ripunzip/LICENSE.txt
  misc/bazel/internal/ripunzip/README.md
  misc/bazel/internal/ripunzip/ripunzip-linux
  misc/bazel/internal/ripunzip/ripunzip-macos
  misc/bazel/internal/ripunzip/ripunzip-windows.exe
  misc/bazel/internal/zipmerge/.clang-format
  misc/bazel/internal/zipmerge/BUILD.bazel
  misc/bazel/internal/zipmerge/test-files/almost-minimal.zip
  misc/bazel/internal/zipmerge/test-files/directory-partial.zip
  misc/bazel/internal/zipmerge/test-files/directory.zip
  misc/bazel/internal/zipmerge/test-files/empty.zip
  misc/bazel/internal/zipmerge/test-files/footers.jar
  misc/bazel/internal/zipmerge/test-files/minimal-x3.zip
  misc/bazel/internal/zipmerge/test-files/minimal.zip
  misc/bazel/internal/zipmerge/test-files/no-footers.jar
  misc/bazel/internal/zipmerge/zipmerge.cpp
  misc/bazel/internal/zipmerge/zipmerge.h
  misc/bazel/internal/zipmerge/zipmerge_main.cpp
  misc/bazel/internal/zipmerge/zipmerge_test.cpp
  misc/bazel/lfs.bzl
  misc/bazel/pkg.bzl
  misc/bazel/pkg_runfiles.bzl
  misc/codegen/loaders/dbschemeloader.py
  swift/BUILD.bazel
  swift/actions/run-integration-tests/action.yml
  swift/extractor/BUILD.bazel
  swift/third_party/BUILD.swift-toolchain-linux.bazel
  swift/third_party/BUILD.swift-toolchain-macos.bazel
  swift/third_party/resource-dir/BUILD.bazel
  swift/third_party/resource-dir/LICENSE.txt
  swift/third_party/resource-dir/README.md
  swift/third_party/resource-dir/resource-dir-linux.zip
  swift/third_party/resource-dir/resource-dir-macos.zip
  swift/third_party/resource-dir/update.sh
  swift/third_party/swift-llvm-support/BUILD.bazel
  swift/tools/BUILD.bazel
Labels: documentation, Swift

#16616 Reinstate bazel packaging library with a backward compatibility fix
  .bazelrc
  .gitattributes
  .github/workflows/zipmerge-test.yml
  MODULE.bazel
  misc/bazel/internal/BUILD.bazel
  misc/bazel/internal/install.py
  misc/bazel/internal/ripunzip/BUILD.bazel
  misc/bazel/internal/ripunzip/LICENSE.txt
  misc/bazel/internal/ripunzip/README.md
  misc/bazel/internal/ripunzip/ripunzip-linux
  misc/bazel/internal/ripunzip/ripunzip-macos
  misc/bazel/internal/ripunzip/ripunzip-windows.exe
  misc/bazel/internal/zipmerge/.clang-format
  misc/bazel/internal/zipmerge/BUILD.bazel
  misc/bazel/internal/zipmerge/test-files/almost-minimal.zip
  misc/bazel/internal/zipmerge/test-files/directory-partial.zip
  misc/bazel/internal/zipmerge/test-files/directory.zip
  misc/bazel/internal/zipmerge/test-files/empty.zip
  misc/bazel/internal/zipmerge/test-files/footers.jar
  misc/bazel/internal/zipmerge/test-files/minimal-x3.zip
  misc/bazel/internal/zipmerge/test-files/minimal.zip
  misc/bazel/internal/zipmerge/test-files/no-footers.jar
  misc/bazel/internal/zipmerge/zipmerge.cpp
  misc/bazel/internal/zipmerge/zipmerge.h
  misc/bazel/internal/zipmerge/zipmerge_main.cpp
  misc/bazel/internal/zipmerge/zipmerge_test.cpp
  misc/bazel/lfs.bzl
  misc/bazel/pkg.bzl
  misc/bazel/pkg_runfiles.bzl
  misc/codegen/loaders/dbschemeloader.py
  swift/BUILD.bazel
  swift/actions/run-integration-tests/action.yml
  swift/extractor/BUILD.bazel
  swift/third_party/BUILD.swift-toolchain-linux.bazel
  swift/third_party/BUILD.swift-toolchain-macos.bazel
  swift/third_party/resource-dir/BUILD.bazel
  swift/third_party/resource-dir/LICENSE.txt
  swift/third_party/resource-dir/README.md
  swift/third_party/resource-dir/resource-dir-linux.zip
  swift/third_party/resource-dir/resource-dir-macos.zip
  swift/third_party/resource-dir/update.sh
  swift/third_party/swift-llvm-support/BUILD.bazel
  swift/tools/BUILD.bazel
Labels: documentation, Swift

#16628 Disable csrf for ServerHttpSecurity
  java/ql/lib/semmle/code/java/security/SpringCsrfProtection.qll
  java/ql/src/change-notes/2024-05-30-disabled-csrf-query.md
  java/ql/test/query-tests/security/CWE-352/SpringCsrfProtectionTest.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/security/config/web/server/ServerHttpSecurity.java
Labels: documentation, Java

#16631 Tree-sitter: Allow for multiple file lists in simple extractor
  ql/extractor/src/extractor.rs
  shared/tree-sitter-extractor/src/extractor/simple.rs
  shared/tree-sitter-extractor/tests/integration_test.rs
  shared/tree-sitter-extractor/tests/multiple_languages.rs
Labels: no-change-note-required, QL-for-QL

#16634 Swift: remove integration test running in CI
  .github/workflows/swift.yml
  swift/actions/run-integration-tests/action.yml
Labels: Swift

#16632 Bazel: fix non-swift macOS builds
  .bazelrc
  .github/workflows/go-tests-other-os.yml
  .github/workflows/go-tests.yml
  misc/bazel/internal/zipmerge/BUILD.bazel
  misc/bazel/os.bzl
  misc/bazel/pkg.bzl
  swift/actions/build-and-test/action.yml
  swift/rules.bzl
Labels: Swift

#16624 Go: Add back taint models for `append` and `copy`
  go/ql/lib/change-notes/2024-05-09-model-append-copy-max-min.md
  go/ql/lib/semmle/go/frameworks/Stdlib.qll
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-327/UnsafeTLS.expected
Labels: documentation, Go

#16561 Java: Improve dispatch through TypeFlow of effectively private calls.
  java/ql/lib/change-notes/2024-05-23-typeflow-precision.md
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/test/library-tests/dispatch/ViableCallable.java
Labels: documentation, Java

#16641 Mark all integration tests as legacy
  csharp/ql/integration-tests/legacy
  go/ql/integration-tests/legacy
  java/ql/integration-tests/legacy
  javascript/ql/integration-tests/legacy
  ruby/ql/integration-tests/legacy
  swift/ql/integration-tests/legacy
Labels: C#, JS, Java, Go, Ruby, Swift

#16633 Data flow: Inline `isUnreachableInCall1`
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library
