Repository github/codeql, pull requests merged in 2024-12, with the labels that each got.

#18173 Rust: elaborate on `path_to_file_id` comment
  rust/extractor/src/rust_analyzer.rs
Labels: Rust

#18144 Rust: Exclude data flow inconsistencies that stem from other inconsis…
  rust/ql/consistency-queries/DataFlowConsistency.ql
  rust/ql/lib/codeql/rust/AstConsistency.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowConsistency.qll
  rust/ql/src/queries/diagnostics/DataFlowConsistencyCounts.ql
  rust/ql/src/queries/summary/Stats.qll
  rust/ql/test/extractor-tests/generated/MacroItems/CONSISTENCY/AstConsistency.expected
  rust/ql/test/extractor-tests/generated/MacroItems/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/query-tests/diagnostics/AstConsistencyCounts.expected
Labels: Rust

#18113 Data flow: Move more logic into `DataFlowImplCommon`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ProductFlow.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
Labels: C++, no-change-note-required, DataFlow Library

#18168 KE2: Remove the fakeOverride code
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/comments/CommentExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Function.kt
  java/kotlin-extractor2/src/main/kotlin/utils/IrVisitorLookup.kt
Labels: Kotlin

#18164 Add query to ensure predicates starting with 'get' return a value
  ql/ql/src/queries/style/ValidatePredicateGetReturns.ql
  ql/ql/test/queries/style/ValidatePredicateGetReturns/ValidatePredicateGetReturns.expected
  ql/ql/test/queries/style/ValidatePredicateGetReturns/ValidatePredicateGetReturns.qlref
  ql/ql/test/queries/style/ValidatePredicateGetReturns/test.qll
Labels: QL-for-QL

#18128 KE2: Extract `bool`, `char`, `float`, `double` constants
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Labels: Kotlin

#18166 C#: Fix calls with no target in DB quality query
  csharp/ql/src/Telemetry/DatabaseQuality.qll
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/IsNotOkayCall.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/NoTarget.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/Quality.cs
Labels: C#, no-change-note-required

#18131 Rust: Data flow through tuple and struct fields
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
Labels: Rust

#18001 Go: Fix missing promoted fields due to name clash
  go/ql/lib/change-notes/2024-11-17-fix-missing-promoted-fields-and-methods-name-clash.md
  go/ql/lib/semmle/go/Types.qll
  go/ql/test/library-tests/semmle/go/Types/Field_getPackage.expected
  go/ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName2.expected
  go/ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName3.expected
  go/ql/test/library-tests/semmle/go/Types/ImplementsComparable.expected
  go/ql/test/library-tests/semmle/go/Types/MethodCount.expected
  go/ql/test/library-tests/semmle/go/Types/MethodTypes.expected
  go/ql/test/library-tests/semmle/go/Types/Method_hasQualifiedName2.expected
  go/ql/test/library-tests/semmle/go/Types/Method_hasQualifiedName3.expected
  go/ql/test/library-tests/semmle/go/Types/Methods.expected
  go/ql/test/library-tests/semmle/go/Types/QualifiedNames.expected
  go/ql/test/library-tests/semmle/go/Types/SignatureType_getNumParameter.expected
  go/ql/test/library-tests/semmle/go/Types/SignatureType_getNumResult.expected
  go/ql/test/library-tests/semmle/go/Types/SignatureType_isVariadic.expected
  go/ql/test/library-tests/semmle/go/Types/StructFields.expected
  go/ql/test/library-tests/semmle/go/Types/Types.expected
  go/ql/test/library-tests/semmle/go/Types/embedded.go
  go/ql/test/library-tests/semmle/go/Types/main.go
  go/ql/test/library-tests/semmle/go/Types/pkg1/tst.go
  go/ql/test/library-tests/semmle/go/Types/pkg2/tst.go
Labels: documentation, Go

#18178 C#: Restrict `cs/thread-unsafe-icryptotransform-field-in-class` to source fields
  csharp/ql/src/Likely Bugs/ThreadUnsafeICryptoTransform.ql
Labels: C#, no-change-note-required

#18130 Rust: Adopt shared flow summaries library
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  rust/ql/lib/codeql/rust/dataflow/DataFlow.qll
  rust/ql/lib/codeql/rust/dataflow/FlowSummary.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/FlowSummaryImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallExprBaseImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/dataflow/models/main.rs
  rust/ql/test/library-tests/dataflow/models/models.expected
  rust/ql/test/library-tests/dataflow/models/models.ql
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, no-change-note-required, Ruby, Rust, DataFlow Library

#18186 C#: Remove change note.
  csharp/ql/lib/change-notes/2024-11-19-extractor-dotnet.md
Labels: C#, documentation

#18125 JS: Derive type-tracking steps from flow summaries
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/dataflow/FlowSummary.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/StepSummary.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/sharedlib/SummaryTypeTracker.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/AmbiguousCoreMethods.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Arrays.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/ExceptionFlow.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Iterators.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/JsonStringify.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Maps.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Promises.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Sets.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Strings.qll
  javascript/ql/test/library-tests/FlowSummary/test.ql
  javascript/ql/test/library-tests/TypeTracking2/DependencyRestriction.expected
  javascript/ql/test/library-tests/TypeTracking2/DependencyRestriction.ql
  javascript/ql/test/library-tests/TypeTracking2/summaries.js
  javascript/ql/test/library-tests/TypeTracking2/test.expected
  javascript/ql/test/library-tests/TypeTracking2/test.ql
  javascript/ql/test/testUtilities/InlineSummaries.qll
Labels: JS, no-change-note-required

#18177 Rust: Use canonical paths for variants in data flow
  rust/ql/lib/codeql/rust/dataflow/FlowSummary.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/dataflow/models/main.rs
Labels: Rust

#18175 JS: Update data flow documentation and tutorials for JavaScript
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-javascript-and-typescript.rst
  docs/codeql/codeql-language-guides/codeql-library-for-javascript.rst
  docs/codeql/codeql-language-guides/data-flow-cheat-sheet-for-javascript.rst
  docs/codeql/codeql-language-guides/using-flow-labels-for-precise-data-flow-analysis.rst
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query1.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query2.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query3.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query4.ql
  javascript/ql/test/tutorials/Analyzing data flow in JavaScript/Global data flow/query5.ql
  javascript/ql/test/tutorials/Introducing the JavaScript libraries/query17.qll
Labels: JS, documentation

#18182 KE2: Remove some unnecessary !!s
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Labels: Kotlin

#18159 C#: Only extract public and protected members from metadata.
  csharp/extractor/Semmle.Extraction.CSharp/CodeAnalysisExtensions/SymbolExtensions.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/ql/lib/change-notes/2024-12-03-public-protected-reference.md
  csharp/ql/test/library-tests/conversion/operator/Operator.expected
  csharp/ql/test/library-tests/conversion/reftype/RefType.expected
  csharp/ql/test/library-tests/csharp9/FunctionPointer.expected
  csharp/ql/test/library-tests/tuples/tuples.expected
Labels: C#, documentation

#18189 C#: Update the MessagePack nuget dependency.
  csharp/paket.dependencies
  csharp/paket.lock
  csharp/paket.main.bzl
Labels: C#, no-change-note-required

#18160 Rust: Handle closures/lambdas in data flow
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
Labels: Rust

#18197 AlertFiltering: prohibit partial filtering
  shared/util/codeql/util/AlertFiltering.qll
Labels: no-change-note-required

#18142 Swift: extract variables as children of `ForEachStmt`
  swift/extractor/translators/StmtTranslator.cpp
  swift/ql/.generated.list
  swift/ql/.gitattributes
  swift/ql/lib/codeql/swift/elements/stmt/ForEachStmt.qll
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/stmt/ForEachStmt.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt.expected
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt.ql
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt_getIteratorVar.expected
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt_getIteratorVar.ql
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt_getLabel.expected
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt_getLabel.ql
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt_getNextCall.expected
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt_getNextCall.ql
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt_getVariable.expected
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt_getVariable.ql
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt_getWhere.expected
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/ForEachStmt_getWhere.ql
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/for.swift
  swift/ql/test/library-tests/elements/expr/methodlookup/PrintAst.expected
  swift/schema.py
Labels: Swift

#18195 C#: Add field-flow for dynamic fields
  csharp/ql/lib/change-notes/2024-12-03-dynamic-field-flow.md
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/L.cs
Labels: C#, documentation

#18198 Rust: improve `TupleStructPat.toString`
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/internal/TupleStructPatImpl.qll
  rust/ql/test/extractor-tests/generated/BoxPat/BoxPat_getPat.expected
  rust/ql/test/extractor-tests/generated/IdentPat/IdentPat_getPat.expected
  rust/ql/test/extractor-tests/generated/LetExpr/LetExpr_getPat.expected
  rust/ql/test/extractor-tests/generated/LetStmt/LetStmt_getPat.expected
  rust/ql/test/extractor-tests/generated/MatchArm/MatchArm_getPat.expected
  rust/ql/test/extractor-tests/generated/OrPat/OrPat_getPat.expected
  rust/ql/test/extractor-tests/generated/RefPat/RefPat_getPat.expected
  rust/ql/test/extractor-tests/generated/TupleStructPat/TupleStructPat.expected
  rust/ql/test/extractor-tests/generated/TupleStructPat/TupleStructPat_getField.expected
  rust/ql/test/extractor-tests/generated/TupleStructPat/TupleStructPat_getPath.expected
  rust/ql/test/library-tests/controlflow-unstable/Cfg.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/models/models.expected
  rust/ql/test/library-tests/variables/Cfg.expected
Labels: Rust

#18176 Rust: Improve rust/ctor-initialization
  rust/ql/src/queries/security/CWE-696/BadCtorInitialization.ql
  rust/ql/test/query-tests/security/CWE-696/BadCTorInitialization.expected
  rust/ql/test/query-tests/security/CWE-696/test.rs
Labels: no-change-note-required, Rust

#18145 Python: Add guide describing how to extend the parser
  python/extractor/extending-the-parser.md
Labels: documentation, Python, no-change-note-required

#18014 Brodes/seh flow phase1 throwing models
  cpp/ql/lib/change-notes/2024-11-18-throwing-functions.md
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Memcpy.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Memset.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/NoexceptFunction.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcpy.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StructuredExceptionHandling.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/NonThrowing.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/Throwing.qll
  cpp/ql/src/Security/CWE/CWE-570/IncorrectAllocationErrorHandling.ql
Labels: C++, documentation

#18091 C#: Bazel build should target .NET9 framework.
  .github/workflows/csharp-qltest.yml
  csharp/ql/test/library-tests/assemblies/compilation.expected
  csharp/ql/test/library-tests/frameworks/format/StringFormatItemParameter.expected
  csharp/ql/test/library-tests/generics/Generics.ql
  csharp/ql/test/utils/modeleditor/ApplicationModeEndpoints.expected
  misc/bazel/csharp.bzl
Labels: C#, no-change-note-required

#18201 Go: Fix some spurious results in ExternalFlowInheritance tests
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/test_fields.go
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/vendor/github.com/nonexistent/test/stub.go
Labels: no-change-note-required, Go

#18212 Update action.yml to use artifacts@v4
  go/actions/test/action.yml
Labels: Go

#18150 KE2: restore basic function label construction
  java/kotlin-extractor2/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Function.kt
Labels: Kotlin

#18179 Dataflow: Remove tracked types from Access Paths, track tainted object type, and tweak type pruning.
  csharp/ql/lib/change-notes/2024-12-04-dataflow-type-pruning-tweak.md
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  java/ql/lib/change-notes/2024-12-04-dataflow-type-pruning-tweak.md
  java/ql/test/library-tests/dataflow/capture/inlinetest.expected
  java/ql/test/library-tests/frameworks/android/intent/test.expected
  java/ql/test/library-tests/frameworks/android/notification/test.expected
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
Labels: C#, documentation, Java, DataFlow Library

#18202 Rust: Add default taint flow steps
  rust/ql/.generated.list
  rust/ql/lib/codeql/rust/controlflow/internal/generated/CfgNodes.qll
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
  rust/ql/lib/codeql/rust/elements/CastExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/CastExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/CastExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/test/extractor-tests/generated/.generated_tests.list
  rust/ql/test/extractor-tests/generated/CastExpr/gen_cast_expr.rs
  rust/ql/test/library-tests/dataflow/models/main.rs
  rust/ql/test/library-tests/dataflow/models/models.expected
  rust/ql/test/library-tests/dataflow/models/models.ql
  rust/ql/test/library-tests/dataflow/taint/TaintFlowStep.expected
  rust/ql/test/library-tests/dataflow/taint/TaintFlowStep.ql
  rust/ql/test/library-tests/dataflow/taint/inline-taint-flow.expected
  rust/ql/test/library-tests/dataflow/taint/inline-taint-flow.ql
  rust/ql/test/library-tests/dataflow/taint/main.rs
  rust/schema/annotations.py
Labels: Rust

#18213 C++: Fix a join-order problem that happens on #18207
  cpp/ql/src/Best Practices/GuardedFree.ql
Labels: C++, no-change-note-required

#18090 C#: Use dedicated lock type where applicable.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Options.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Program.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/ExtractionContext.cs
  csharp/extractor/Semmle.Util/Logging/PidStreamWriter.cs
  csharp/extractor/Testrunner/Testrunner.cs
Labels: C#, no-change-note-required

#18188 Rust: Basic data flow through arrays
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/dataflow/taint/TaintFlowStep.expected
  rust/ql/test/library-tests/dataflow/taint/inline-taint-flow.expected
  rust/ql/test/library-tests/dataflow/taint/main.rs
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/variables.expected
  rust/ql/test/library-tests/variables/variables.rs
Labels: Rust

#18112 Python: Add API graph support for parameter annotations
  python/ql/lib/change-notes/2024-11-26-parameter-annotation-api-graph-support.md
  python/ql/lib/semmle/python/ApiGraphs.qll
  python/ql/lib/semmle/python/dataflow/new/internal/LocalSources.qll
  python/ql/test/library-tests/ApiGraphs/py3/test_annotations.py
Labels: documentation, Python

#18219 Rust: update inline expectations
  rust/ql/test/library-tests/dataflow/sources/test.rs
Labels: Rust

#18049 Brodes/seh flow phase2 splitting seh edges
  cpp/ql/lib/semmle/code/cpp/ir/implementation/EdgeKind.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#18224 Rust: tweak/define more `toString` implementations
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/internal/MethodCallExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/StructImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/VariantImpl.qll
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
  rust/ql/test/extractor-tests/generated/MacroItems/CONSISTENCY/AstConsistency.expected
  rust/ql/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr.expected
  rust/ql/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getArgList.expected
  rust/ql/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getGenericArgList.expected
  rust/ql/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getNameRef.expected
  rust/ql/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getReceiver.expected
  rust/ql/test/extractor-tests/utf8/ast.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/variables/Cfg.expected
Labels: Rust

#18205 C#: Narrow pattern types
  csharp/.vscode/launch.json
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/Pattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/RecursivePattern.cs
Labels: C#, no-change-note-required

#18194 C++: Fix a FP in cpp/wrong-number-format-arguments caused by an extraction error
  cpp/ql/src/Likely Bugs/Format/WrongNumberOfFormatArguments.ql
  cpp/ql/src/change-notes/2024-12-05-wrong-number-format-arguments.md
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/WrongNumberOfFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/syntax_errors.c
Labels: C++, documentation

#18220 Rust: Cache `defaultAdditionalTaintStep`
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/ArrayExprImpl.qll
  rust/ql/lib/codeql/rust/internal/CachedStages.qll
Labels: Rust

#18029 C#: Set proxy environment variables, if Dependabot proxy is detected
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependabotProxy.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNetCliInvoker.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/EnvironmentVariableNames.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
Labels: C#

#18199 C#: Update Roslyn nuget dependencies.
  csharp/paket.dependencies
  csharp/paket.lock
  csharp/paket.main.bzl
  csharp/ql/integration-tests/posix/standalone_dependencies_executing_runtime/Assemblies.expected
  csharp/ql/lib/change-notes/2024-12-04-dotnet9.md
  csharp/ql/test/library-tests/frameworks/format/StringFormatItemParameter.expected
  csharp/ql/test/library-tests/methods/Parameters4.ql
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/IsNotOkayCall.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/NoTarget.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/Quality.cs
Labels: C#, documentation

#18236 Rust: Add % of files extracted without errors to summary stats.
  rust/ql/integration-tests/hello-project/summary.expected
  rust/ql/integration-tests/hello-workspace/summary.cargo.expected
  rust/ql/integration-tests/hello-workspace/summary.rust-project.expected
  rust/ql/src/queries/summary/SummaryStats.ql
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
Labels: no-change-note-required, Rust

#18200 C++: Fix more FPs with extraction errors on cpp/wrong-type-format-arguments
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArguments.ql
  cpp/ql/src/change-notes/2024-12-05-wrong-type-format-args.md
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongTypeFormatArguments/Buildless/tests.c
Labels: C++, documentation

#18238 Port "C#: Set proxy environment variables, if Dependabot proxy is detected" to 2.20.0 release branch
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependabotProxy.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNetCliInvoker.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/EnvironmentVariableNames.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
Labels: C#

#18222 C++: Fix FPs in cpp/badly-bounded-write caused by extraction errors
  cpp/ql/src/Security/CWE/CWE-120/BadlyBoundedWrite.ql
  cpp/ql/src/change-notes/2024-12-05-badly-bounded-write.md
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/errors.c
Labels: C++, documentation

#18233 C++: Fix two bad joins in barrier guards
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Labels: C++, no-change-note-required

#18232 Rust: Fix a bug where captured `self` parameters where not considered captured
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/variables.expected
  rust/ql/test/library-tests/variables/variables.rs
Labels: Rust

#18234 C#: Clean up dependencies Newtonsoft.Json.
  csharp/autobuilder/Semmle.Autobuild.CSharp/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.CSharp/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/paket.references
Labels: C#

#18229 Rust: Fix unwanted 'self' results from rust/unused-variable
  rust/ql/src/queries/unusedentities/UnusedVariable.qll
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/UnusedVariable.expected
  rust/ql/test/query-tests/unusedentities/main.rs
Labels: no-change-note-required, Rust

#18239 C++: Fix word duplication in change note
  cpp/ql/src/change-notes/2024-12-05-wrong-number-format-arguments.md
Labels: C++, documentation

#18237 KE2: extractExpression always returns an ID
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
  java/kotlin-extractor2/src/main/kotlin/entities/FunctionalInterface.kt
  java/kotlin-extractor2/src/main/kotlin/entities/MethodCall.kt
Labels: Kotlin

#18245 C#: Shorten test target names to make Windows happy.
  csharp/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/BUILD.bazel
  csharp/extractor/Semmle.Extraction.Tests/BUILD.bazel
  csharp/extractor/Semmle.Util.Tests/BUILD.bazel
Labels: C#

#18136 C++: Model Microsoft's "Active Template Library"
  cpp/ql/lib/ext/CA2CAEX.model.yml
  cpp/ql/lib/ext/CAtlArray.model.yml
  cpp/ql/lib/ext/CAtlFile.model.yml
  cpp/ql/lib/ext/CAtlFileMappingBase.model.yml
  cpp/ql/lib/ext/CAtlList.model.yml
  cpp/ql/lib/ext/CAtlTemporaryFile.model.yml
  cpp/ql/lib/ext/CComBSTR.model.yml
  cpp/ql/lib/ext/CComSafeArray.model.yml
  cpp/ql/lib/ext/CPathT.model.yml
  cpp/ql/lib/ext/CRegKey.model.yml
  cpp/ql/lib/ext/CSimpleArray.model.yml
  cpp/ql/lib/ext/CSimpleMap.model.yml
  cpp/ql/lib/ext/CUrl.model.yml
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/lib/semmle/code/cpp/models/Models.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CA2AEX.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CAtlFile.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CAtlFileMapping.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CAtlTemporaryFile.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CComBSTR.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CPathT.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CRegKey.qll
  cpp/ql/src/change-notes/2024-11-27-active-template-library.md
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/validatemodels.expected
  cpp/ql/test/library-tests/dataflow/source-sink-tests/atl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/atl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_mad-signatures.expected
Labels: C++, documentation

#18254 KE2: extractExpressionStmt can be used with null statements
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Labels: Kotlin

#18248 C#: Enable Semmle.Util.Tests.
  csharp/BUILD.bazel
  csharp/extractor/Semmle.Util.Tests/LongPaths.cs
Labels: C#

#18251 C++: Consider writes to arrays as uncertain
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TypeFlow.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
Labels: C++, no-change-note-required

#18209 Update codeql unified changelog
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.19.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#18257 Upgrade bazel to 8.0.0.
  .bazelrc
  .bazelversion
  MODULE.bazel
  csharp/scripts/BUILD.bazel
  go/BUILD.bazel
  java/kotlin-extractor/BUILD.bazel
  misc/bazel/BUILD.bazel
  misc/codegen/BUILD.bazel
  misc/codegen/generators/BUILD.bazel
  misc/codegen/lib/BUILD.bazel
  misc/codegen/loaders/BUILD.bazel
  misc/codegen/test/BUILD.bazel
  misc/ripunzip/BUILD.bazel
  python/extractor/BUILD.bazel
  rust/codegen/BUILD.bazel
  swift/extractor/BUILD.bazel
  swift/logging/tests/assertion-diagnostics/BUILD.bazel
  swift/ql/integration-tests/BUILD.bazel
  swift/swift-autobuilder/tests/BUILD.bazel
  swift/third_party/resource-dir/BUILD.bazel
  swift/tools/BUILD.bazel
  swift/tools/test/qltest/BUILD.bazel
Labels: C#, Python, Go, Rust, Swift, Kotlin

#18231 Rust: Models-as-data for flow summaries
  rust/ql/lib/codeql/rust/dataflow/FlowSummary.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/FlowSummaryImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/ModelsAsData.qll
  rust/ql/lib/codeql/rust/dataflow/internal/empty.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-core.model.yml
  rust/ql/lib/qlpack.yml
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/models/main.rs
  rust/ql/test/library-tests/dataflow/models/models.expected
  rust/ql/test/library-tests/dataflow/models/models.ext.yml
  rust/ql/test/library-tests/dataflow/models/models.ql
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.qlref
  rust/ql/test/utils/InlineFlowTest.qll
  rust/ql/test/utils/PrettyPrintModels.ql
  rust/ql/test/utils/ProvenancePathGraph.qll
Labels: Rust

#18214 Java: add File.getName as a path injection sanitizer
  java/ql/lib/change-notes/2024-12-06-file-getname.md
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.java
Labels: documentation, Java

#18153 Java: add SSRF sink model for the third parameter of `RestTemplate.getForObject`
  java/ql/lib/change-notes/2024-11-28-model-resttemplate-getforobject-third-parameter.md
  java/ql/lib/semmle/code/java/frameworks/spring/SpringWebClient.qll
  java/ql/lib/semmle/code/java/security/RequestForgery.qll
  java/ql/test/query-tests/security/CWE-918/SpringSSRF.java
Labels: documentation, Java

#17996 Java: Make separate classes for different control flow node kinds
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
Labels: Java, no-change-note-required

#18269 C#: Remove false-positive reflection calls in dataflow
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dispatch/Dispatch.qll
Labels: C#, no-change-note-required

#18246 C#: Fix some new compiler warnings
  csharp/.config/dotnet-tools.json
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/paket.lock
  csharp/paket.main.bzl
Labels: C#, no-change-note-required

#18263 Data flow: Remove unused column from `flowThroughOutOfCall`
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#18203 JS: Use TaintedUrlSuffix in ClientSideUrlRedirect
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/lib/semmle/javascript/security/TaintedUrlSuffix.qll
  javascript/ql/lib/semmle/javascript/security/TaintedUrlSuffixCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectQuery.qll
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/react.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/regexp-exec.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst10.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst12.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst13.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst15.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/tst7.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/typed.ts
  javascript/ql/test/testUtilities/ConsistencyChecking.qll
Labels: JS, no-change-note-required

#18277 C++: Fix small PrintAST and PrintIR issue
  cpp/ql/lib/semmle/code/cpp/PrintAST.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#18215 KE2: Upgrade to Kotlin 2.1.0; restore basic type parameter and type argument extraction
  MODULE.bazel
  java/kotlin-extractor2/.idea/libraries/jetbrains_kotlin_annotation_processing.xml
  java/kotlin-extractor2/.idea/libraries/jetbrains_kotlin_compiler.xml
  java/kotlin-extractor2/BUILD.bazel
  java/kotlin-extractor2/src/main/kotlin/KotlinExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Class.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Function.kt
  java/kotlin-extractor2/src/main/kotlin/entities/FunctionalInterface.kt
  java/kotlin-extractor2/src/main/kotlin/entities/MethodCall.kt
  java/kotlin-extractor2/src/main/kotlin/entities/TypeArgument.kt
  java/kotlin-extractor2/src/main/kotlin/entities/TypeParameter.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Types.kt
  java/kotlin-extractor2/src/main/kotlin/utils/TypeResults.kt
  maven_install.json
Labels: Kotlin

#18284 Go: Model `os.Args` as a `commandargs` source
  go/ql/lib/change-notes/2024-12-13-os-args-model.md
  go/ql/lib/ext/os.model.yml
  go/ql/test/experimental/CWE-74/DsnInjectionLocal.expected
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/commandargs/test.expected
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/commandargs/test.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/commandargs/test.ql
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/commandargs/test_os.go
Labels: documentation, Go

#18282 Swift: remove linux from standard pack
  misc/bazel/utils.bzl
  swift/BUILD.bazel
Labels: Swift

#18275 Go: Make models-as-data source models for variadic parameters work
  go/ql/lib/change-notes/2024-12-12-variadic-parameter-sources.md
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  go/ql/lib/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithExternalFlow/main.go
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
Labels: documentation, Go

#18270 Rust: Flow through captured variables
  rust/ql/consistency-queries/VariableCaptureConsistency.ql
  rust/ql/lib/codeql/rust/dataflow/Ssa.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  rust/ql/test/library-tests/dataflow/closures/inline-flow.expected
  rust/ql/test/library-tests/dataflow/closures/inline-flow.ql
  rust/ql/test/library-tests/dataflow/closures/main.rs
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/DataFlowConsistency.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/variables/Ssa.expected
Labels: Rust

#18297 Rust: Fix semantic merge conflicts
  rust/ql/test/library-tests/dataflow/closures/inline-flow.ql
  rust/ql/test/query-tests/security/CWE-327/BrokenCryptoAlgorithm.qlref
Labels: Rust

#18289 Swift: improve diagnostics for OS incompatibility
  swift/BUILD.bazel
  swift/extractor/BUILD.bazel
  swift/extractor/incompatible-extractor.sh
  swift/ql/integration-tests/autobuilder/unsupported-os/diagnostics.expected
  swift/tools/autobuild.cmd
  swift/tools/autobuild.sh
  swift/tools/diagnostics/AutobuilderIncompatibleOs.cpp
  swift/tools/incompatible-os/BUILD.bazel
  swift/tools/incompatible-os/IncompatibleOs.cpp
Labels: Swift

#18207 C++: Fix some FPs in cpp/missing-check-scanf (third attempt!)
  cpp/ql/lib/change-notes/2024-12-04-guard-conditions.md
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/test.cpp
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Labels: C++, documentation

#18281 C++: Add word missing from change note
  cpp/ql/lib/CHANGELOG.md
  cpp/ql/lib/change-notes/released/3.0.0.md
Labels: C++, documentation

#18290 Rust: Fix two bad joins
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
Labels: Rust

#18292 Rust: Never skip assignment LHS in data flow
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/barrier/inline-flow.expected
  rust/ql/test/library-tests/dataflow/closures/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/models/models.expected
  rust/ql/test/library-tests/dataflow/taint/inline-taint-flow.expected
Labels: Rust

#18307 C++: Fix two more dataflow-related joins
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
Labels: C++, no-change-note-required

#18308 C++: Introduce a new base class for template parameters
  cpp/ql/lib/change-notes/2024-12-17-template-parameter-base.md
  cpp/ql/lib/change-notes/2024-12-17-template-parameter.md
  cpp/ql/lib/semmle/code/cpp/Class.qll
  cpp/ql/lib/semmle/code/cpp/Declaration.qll
  cpp/ql/lib/semmle/code/cpp/Print.qll
  cpp/ql/lib/semmle/code/cpp/Type.qll
  cpp/ql/lib/semmle/code/cpp/commons/Dependency.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/lib/semmle/code/cpp/internal/QualifiedName.qll
  cpp/ql/src/Best Practices/Unused Entities/UnusedLocals.ql
  cpp/ql/src/Likely Bugs/Arithmetic/PointlessSelfComparison.qll
  cpp/ql/src/Likely Bugs/ReturnConstTypeCommon.qll
  cpp/ql/src/jsf/4.13 Functions/AV Rule 114.ql
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/declaration/declaration.cpp
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/proxy_class/locations.expected
  cpp/ql/test/library-tests/proxy_class/locations.ql
Labels: C++, depends on internal PR, documentation

#18303 C#: Move external api declarations to the library pack.
  csharp/ql/lib/semmle/code/csharp/telemetry/ExternalApi.qll
  csharp/ql/lib/semmle/code/csharp/telemetry/TestLibrary.qll
  csharp/ql/src/Telemetry/ExternalApi.qll
  csharp/ql/src/Telemetry/ExternalLibraryUsage.ql
  csharp/ql/src/Telemetry/SupportedExternalApis.ql
  csharp/ql/src/Telemetry/SupportedExternalSinks.ql
  csharp/ql/src/Telemetry/SupportedExternalSources.ql
  csharp/ql/src/Telemetry/SupportedExternalTaint.ql
  csharp/ql/src/Telemetry/TestLibrary.qll
  csharp/ql/src/Telemetry/UnsupportedExternalAPIs.ql
  csharp/ql/src/change-notes/2024-12-17-move-libraries.md
  csharp/ql/src/meta/frameworks/UnsupportedExternalAPIs.ql
  csharp/ql/src/utils/modeleditor/ModelEditor.qll
Labels: C#, documentation

#18310 C++: Fix `forex` recursion in sign analysis
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/SignAnalysisCommon.qll
Labels: C++, no-change-note-required

#18312 Rust: Add data flow tests for operator overloading
  rust/ql/test/library-tests/dataflow/global/main.rs
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
Labels: Rust

#14350 Shared: Add DataFlow::DeduplicatePathGraph
  java/ql/test/library-tests/dataflow/deduplicate-path-graph/A.java
  java/ql/test/library-tests/dataflow/deduplicate-path-graph/test.expected
  java/ql/test/library-tests/dataflow/deduplicate-path-graph/test.ql
  ruby/ql/src/queries/security/cwe-094/CodeInjection.ql
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection/CodeInjection.expected
  shared/dataflow/change-notes/2023-10-02-deduplicate-path-graph.md
  shared/dataflow/codeql/dataflow/DataFlow.qll
Labels: documentation, Java, Ruby, DataFlow Library

#18314 Rust: Add read steps for tuple and reference patterns
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/dataflow/pointers/inline-flow.expected
  rust/ql/test/library-tests/dataflow/pointers/main.rs
Labels: Rust

#18331 Rust: support `paths` and `paths-ignore` from the code scanning configuration file
  Cargo.lock
  Cargo.toml
  misc/bazel/3rdparty/BUILD.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.android_system_properties-0.1.5.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.cc-1.2.5.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.filetime-0.2.25.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.fsevent-sys-4.1.0.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.getrandom-0.2.15.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.iana-time-zone-haiku-0.1.2.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.inotify-0.9.6.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.inotify-sys-0.1.5.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.is-terminal-0.4.13.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.kqueue-1.0.8.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.kqueue-sys-1.0.4.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.libc-0.2.169.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.libredox-0.1.3.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.mio-0.8.11.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.notify-6.1.1.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.num_cpus-1.16.0.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.parking_lot_core-0.9.10.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.perf-event-0.4.7.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.perf-event-open-sys-1.0.1.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.ra_ap_profile-0.0.248.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.ra_ap_stdx-0.0.248.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.rand-0.8.5.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.tree-sitter-0.24.5.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.tree-sitter-embedded-template-0.23.2.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.tree-sitter-json-0.24.8.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.tree-sitter-ql-0.23.1.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.tree-sitter-ruby-0.23.1.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/defs.bzl
  rust/BUILD.bazel
  rust/autobuild/BUILD.bazel
  rust/autobuild/Cargo.toml
  rust/autobuild/src/main.rs
  rust/ql/integration-tests/file-exclusions/Cargo.lock
  rust/ql/integration-tests/file-exclusions/Cargo.toml
  rust/ql/integration-tests/file-exclusions/_git/garbage.rs
  rust/ql/integration-tests/file-exclusions/codeql-config.yml
  rust/ql/integration-tests/file-exclusions/source_archive.default.expected
  rust/ql/integration-tests/file-exclusions/source_archive.with_config.expected
  rust/ql/integration-tests/file-exclusions/src/lib.rs
  rust/ql/integration-tests/file-exclusions/src/maybe_ignore/a_source.rs
  rust/ql/integration-tests/file-exclusions/src/maybe_ignore/mod.rs
  rust/ql/integration-tests/file-exclusions/test_file_exclusion.py
  rust/ql/integration-tests/file-exclusions/tests/integration.rs
  rust/tools/autobuild.cmd
  rust/tools/autobuild.sh
Labels: Rust

#18339 C++: Remove duplicate word from change note
  cpp/ql/src/CHANGELOG.md
  cpp/ql/src/change-notes/released/1.3.0.md
Labels: C++, documentation

#18328 CI: fix rust formatting
  .github/workflows/ql-for-ql-tests.yml
  .github/workflows/ruby-build.yml
  .github/workflows/rust.yml
  .github/workflows/tree-sitter-extractor-test.yml
  ql/ql/test/dataflow/getAStringValue/getAStringValue.expected
  rust/ast-generator/BUILD.bazel
  rust/ast-generator/patches/rust-analyzer.patch
  rust/ast-generator/src/main.rs
  rust/lint.py
Labels: QL-for-QL, Rust

#18335 C++: Simplify some semmle-extractor-options in tests
  cpp/ql/test/library-tests/builtins/type_traits/clang.cpp
  cpp/ql/test/library-tests/clang_builtin_macros/extended.cpp
  cpp/ql/test/library-tests/complex_numbers/conjugation.c
  cpp/ql/test/library-tests/complex_numbers/test.c
  cpp/ql/test/library-tests/constants/addresses/addresses.cpp
  cpp/ql/test/library-tests/constexpr_if/test.cpp
  cpp/ql/test/library-tests/conversions/complex.c
  cpp/ql/test/library-tests/fold/fold.cpp
  cpp/ql/test/library-tests/ir/ir/complex.c
  cpp/ql/test/library-tests/ir/ir/coroutines.cpp
  cpp/ql/test/library-tests/ir/types/complex.c
  cpp/ql/test/library-tests/specifiers2/cpp20.cpp
  cpp/ql/test/library-tests/structs/compatible_c/b1.c
  cpp/ql/test/library-tests/structs/compatible_c/b2.c
  cpp/ql/test/library-tests/structs/compatible_c/c1_gnu.c
  cpp/ql/test/library-tests/structs/compatible_c/c2_gnu.c
  cpp/ql/test/library-tests/syntax-zoo/builtin.c
  cpp/ql/test/library-tests/syntax-zoo/cpp11.cpp
  cpp/ql/test/library-tests/syntax-zoo/cpp17.cpp
  cpp/ql/test/library-tests/types/datasizeof/datasizeof.cpp
  cpp/ql/test/library-tests/vector_types/vector_types.cpp
Labels: C++

#18338 Update CodeQL changelog for versions 2.19.4 and 2.20.0
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.19.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.20.0.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#18334 C++: Update test after extractor changes
  cpp/ql/test/library-tests/unspecified_type/types/unspecified_type.expected
Labels: C++, depends on internal PR

#18351 Clarify immutable actions help text
  actions/ql/src/Security/CWE-829/UnversionedImmutableAction.md
Labels: documentation, Actions

#18356 Update suites for Actions queries
  actions/ql/src/Security/CWE-829/UnversionedImmutableAction.ql
  actions/ql/src/codeql-suites/actions-all.qls
  actions/ql/src/codeql-suites/actions-bughalla.qls
  actions/ql/src/codeql-suites/actions-code-scanning.qls
  actions/ql/src/codeql-suites/actions-security-and-quality.qls
  actions/ql/src/codeql-suites/actions-security-extended.qls
Labels: no-change-note-required, Actions

#18322 C#: Add common sources for Blazor components
  csharp/ql/lib/change-notes/2024-12-18-blazor-attribute-sources.md
  csharp/ql/lib/ext/Microsoft.AspNetCore.Components.model.yml
Labels: C#, documentation

#18347 Rust: reinstate extraction of test code
  rust/autobuild/src/main.rs
  rust/extractor/src/config.rs
  rust/ql/integration-tests/file-exclusions/codeql-config.yml
  rust/ql/integration-tests/file-exclusions/source_archive.default.expected
  rust/ql/integration-tests/options/cfg/functions.expected
  rust/ql/integration-tests/options/cfg/functions.override.expected
  rust/ql/integration-tests/options/cfg/src/lib.rs
  rust/ql/integration-tests/options/cfg/test_cfg_overrides_option.py
Labels: Rust
