Repository github/codeql, pull requests merged in 2024-04, with the labels that each got.

#16026 RB: Add barrier guard for `.html_safe?` to the XSS queries
  ruby/ql/lib/codeql/ruby/security/UnsafeHtmlConstructionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeHtmlConstructionQuery.qll
  ruby/ql/lib/codeql/ruby/security/XSS.qll
  ruby/ql/test/query-tests/security/cwe-079/UnsafeHtmlConstruction.expected
  ruby/ql/test/query-tests/security/cwe-079/lib/unsafeHtml.rb
Labels: no-change-note-required, Ruby

#16016 C#: Remove support for legacy LGTM options in autobuilder
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  cpp/autobuilder/Semmle.Autobuild.Cpp/CppAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/AutobuildOptions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildCommandAutoRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildCommandRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Options.cs
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
  csharp/extractor/Semmle.Extraction/Options.cs
Labels: C#, C++, no-change-note-required

#16066 QL: Run diagnostics and summary metrics in code scanning
  ql/ql/src/codeql-suites/ql-code-scanning.qls
Labels: QL-for-QL

#16060 C++: Output destructor calls for delete expressions
  cpp/ql/lib/semmle/code/cpp/PrintAST.qll
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/compiler_generated/compilerGenerated.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, depends on internal PR, no-change-note-required

#16079 Kotlin 2: Accept some more location changes
  java/ql/test-kotlin2/library-tests/exprs/exprs.expected
Labels: Java, Kotlin

#16078 Kotlin 2: Accept more changes
  java/ql/test-kotlin2/library-tests/exprs/exprs.expected
Labels: Java, Kotlin

#15890 [cpp-docs] Fix 404 link in guards library doc.
  docs/codeql/codeql-language-guides/using-the-guards-library-in-cpp.rst
Labels: documentation

#13303 JS: Move Directive subclasses into module and support "use client/server"
  javascript/ql/lib/semmle/javascript/AST.qll
  javascript/ql/lib/semmle/javascript/Functions.qll
  javascript/ql/lib/semmle/javascript/Stmt.qll
  javascript/ql/lib/semmle/javascript/frameworks/Bundling.qll
  javascript/ql/src/Expressions/UnknownDirective.ql
  javascript/ql/test/library-tests/Directives/KnownDirective.ql
  javascript/ql/test/query-tests/Expressions/UnknownDirective/UnknownDirective.expected
  javascript/ql/test/query-tests/Expressions/UnknownDirective/UnknownDirective.js
Labels: JS, no-change-note-required

#16089 C++: Fix join order in 'cpp/double-free'.
  cpp/ql/src/Critical/DoubleFree.ql
  cpp/ql/test/query-tests/Critical/MemoryFreed/DoubleFree.expected
Labels: C++, no-change-note-required

#16042 Remove [potentially] untrue claims about models-as-data
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
Labels: C#, no-change-note-required, Go, Swift

#16096 Go: Revert `go version` call in `LoadGoModules`
  go/extractor/project/project.go
Labels: Go

#16039 C#: Reword public mentions of C# buildless
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/ql/src/Telemetry/ExtractorInformation.ql
Labels: C#, no-change-note-required

#15923 Properly shared `XML.qll` implementation
  config/identical-files.json
  cpp/ql/lib/qlpack.yml
  cpp/ql/lib/semmle/code/cpp/XML.qll
  csharp/ql/lib/qlpack.yml
  csharp/ql/lib/semmle/code/csharp/XML.qll
  java/ql/lib/qlpack.yml
  java/ql/lib/semmle/code/java/frameworks/spring/SpringBean.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringProperty.qll
  java/ql/lib/semmle/code/xml/Ant.qll
  java/ql/lib/semmle/code/xml/XML.qll
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/XML.qll
  javascript/ql/lib/semmle/javascript/frameworks/ServerLess.qll
  python/ql/lib/qlpack.yml
  python/ql/lib/semmle/python/frameworks/ServerLess.qll
  python/ql/lib/semmle/python/xml/XML.qll
  shared/xml/codeql/xml/Xml.qll
  shared/xml/qlpack.yml
Labels: C#, JS, C++, Java, Python, no-change-note-required

#16087 Data flow: Do not require stores to have matching reads in flow exploration
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#16108 C#: Remove unused classes from `Util` project
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Lambda.cs
  csharp/extractor/Semmle.Util.Tests/ActionMap.cs
  csharp/extractor/Semmle.Util.Tests/TextTest.cs
  csharp/extractor/Semmle.Util/ActionMap.cs
  csharp/extractor/Semmle.Util/Enumerators.cs
  csharp/extractor/Semmle.Util/FileRenamer.cs
  csharp/extractor/Semmle.Util/FuzzyDictionary.cs
  csharp/extractor/Semmle.Util/SharedReference.cs
  csharp/extractor/Semmle.Util/StringBuilderExtensions.cs
  csharp/extractor/Semmle.Util/StringExtensions.cs
  csharp/extractor/Semmle.Util/Text.cs
  csharp/extractor/Semmle.Util/Worklist.cs
Labels: C#

#15985 Ruby: Extend barrier guards to handle phi inputs
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-flow.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-flow.ql
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.ql
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier_flow.rb
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  shared/ssa/codeql/ssa/Ssa.qll
Labels: no-change-note-required, Ruby

#16036 C#: Properly dispose diagnostic writer objects
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  cpp/autobuilder/Semmle.Autobuild.Cpp/Program.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/Program.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/extractor/Semmle.Util/ToolStatusPage/DiagnosticMessage.cs
  csharp/extractor/Semmle.Util/ToolStatusPage/DiagnosticsStream.cs
  csharp/extractor/Semmle.Util/ToolStatusPage/IDiagnosticsWriter.cs
Labels: C#, C++

#16088 C#: Include all non-source-code properties in data flow
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Labels: C#, no-change-note-required

#16104 C#: Mark more expressions as compiler generated
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Assignment.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Cast.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Collections/Spread.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Default.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Discard.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ElementAccess.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ImplicitCast.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Initializer.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/InterpolatedString.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Literal.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ObjectCreation/AnonymousObjectCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ObjectCreation/DateTimeObjectCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/BinaryPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/ListPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/PositionalPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/PropertyPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/RecursivePattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/RelationalPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/SlicePattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Patterns/UnaryPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Query.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Switch.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/This.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/TypeAccess.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/TypeOf.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/VariableDeclaration.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
  csharp/ql/lib/semmle/code/csharp/PrintAst.qll
  csharp/ql/lib/semmle/code/csharp/Variable.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/attributes/PrintAst.expected
  csharp/ql/test/library-tests/comments/PrintAst.expected
  csharp/ql/test/library-tests/csharp11/PrintAst.expected
  csharp/ql/test/library-tests/csharp6/PrintAst.expected
  csharp/ql/test/library-tests/csharp7.2/PrintAst.expected
  csharp/ql/test/library-tests/csharp7/PrintAst.expected
  csharp/ql/test/library-tests/csharp8/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/definitions/PrintAst.expected
  csharp/ql/test/library-tests/enums/PrintAst.expected
  csharp/ql/test/library-tests/events/PrintAst.expected
  csharp/ql/test/library-tests/expressions/PrintAst.expected
  csharp/ql/test/library-tests/fields/PrintAst.expected
  csharp/ql/test/library-tests/generics/PrintAst.expected
  csharp/ql/test/library-tests/indexers/PrintAst.expected
Labels: C#, no-change-note-required

#16115 Data flow: Fix bad join
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#16119 C++: Add more missing variable declaration tests
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#16100 RB: fix language specifier typo in qhelp for rb/multi-char-san
  ruby/ql/src/queries/security/cwe-116/IncompleteMultiCharacterSanitization.qhelp
Labels: documentation, Ruby

#16054 JS: more implied receiver steps
  javascript/ql/lib/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/implied-receiver.js
Labels: JS, no-change-note-required

#16123 Go: miscellaneous trivial fixes
  go/extractor/extractor.go
  go/ql/lib/semmle/go/Expr.qll
  go/ql/lib/semmle/go/Scopes.qll
  go/ql/lib/semmle/go/Stmt.qll
Labels: no-change-note-required, Go

#16130 Add changelog for 2.17.0
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.0.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#16133 Docs: Mark Swift version 5.10 as supported
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#16137 Docs: Remove Swift version in footnote
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#15728 Java/Shared: Refactor `TypeFlow.qll` into a shared library
  java/ql/lib/qlpack.yml
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
  shared/typeflow/change-notes/2024-02-26-initial-version.md
  shared/typeflow/codeql/typeflow/TypeFlow.qll
  shared/typeflow/codeql/typeflow/internal/TypeFlowImpl.qll
  shared/typeflow/qlpack.yml
Labels: documentation, Java

#16127 Python: Extractor: Remove dependency installation fallback
  python/extractor/buildtools/index.py
Labels: Python

#16140 C++: Add alias models for `fopen` and friends
  cpp/ql/lib/semmle/code/cpp/models/Models.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Fopen.qll
Labels: C++, no-change-note-required

#16122 Ruby: Fix CFG for nodes that may raise
  ruby/ql/lib/codeql/ruby/controlflow/internal/Completion.qll
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/Nodes.expected
  ruby/ql/test/library-tests/controlflow/graph/ifs.rb
  ruby/ql/test/library-tests/controlflow/graph/raise.rb
Labels: no-change-note-required, Ruby

#16116 C++: Update supported compiler versions based on frontend documentation
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#16136 JS: Make getInstance() propagate to subclasses
  docs/codeql/codeql-language-guides/customizing-library-models-for-javascript.rst
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/src/change-notes/2024-04-08-instance-to-subclasses.md
  javascript/ql/test/library-tests/frameworks/data/test.expected
  javascript/ql/test/library-tests/frameworks/data/test.js
  javascript/ql/test/library-tests/frameworks/data/test.ql
Labels: JS, documentation

#16146 C++: Add example with missing destructor call on parameter
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#16128 Java: add link to the source variable in the alert-message for `java/implicit-cast-in-compound-assignment`
  java/ql/src/Likely Bugs/Arithmetic/InformationLoss.ql
  java/ql/test/query-tests/security/CWE-190/semmle/tests/InformationLoss.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/Test.java
Labels: Java

#16124 C#: Validate all nuget feeds to respond in reasonable time
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.Nuget.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/EnvironmentVariableNames.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNet.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
  csharp/extractor/Semmle.Util/EnvironmentVariables.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/Assemblies.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/CompilationInfo.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/CompilationInfo.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/diagnostics.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/proj/Program.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/proj/nuget.config
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/proj/proj.csproj
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/standalone.sln
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/test.py
Labels: C#

#16158 Python: Disable failing integration tests
  python/extractor/cli-integration-test/force-enable-library-extraction/disabled-test.sh
  python/extractor/cli-integration-test/ignore-venv/disabled-test.sh
Labels: Python, no-change-note-required

#16153 CI: apply `setup-swift` workaround
  swift/actions/run-integration-tests/action.yml
Labels: Swift

#15887 C#: Fully qualified name.
  csharp/ql/integration-tests/all-platforms/diag_recursive_generics/Types.ql
  csharp/ql/lib/semmle/code/csharp/Element.qll
  csharp/ql/lib/semmle/code/csharp/Member.qll
  csharp/ql/lib/semmle/code/csharp/Namespace.qll
  csharp/ql/lib/semmle/code/csharp/commons/QualifiedName.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ExternalAPIsQuery.qll
  csharp/ql/test/library-tests/attributes/AttributeElements.ql
  csharp/ql/test/library-tests/constructors/Destructors1.ql
  csharp/ql/test/library-tests/csharp11/fileScoped.ql
  csharp/ql/test/library-tests/csharp11/nativeInt.ql
  csharp/ql/test/library-tests/csharp9/covariantReturn.ql
  csharp/ql/test/library-tests/csharp9/foreach.ql
  csharp/ql/test/library-tests/csharp9/record.ql
  csharp/ql/test/library-tests/csharp9/withExpr.ql
  csharp/ql/test/library-tests/dispatch/GetADynamicTarget.ql
  csharp/ql/test/library-tests/enums/Enums3.ql
  csharp/ql/test/library-tests/frameworks/system/Dispose/Dispose.ql
  csharp/ql/test/library-tests/frameworks/system/Equals/Equals.ql
  csharp/ql/test/library-tests/generics/Generics.ql
  csharp/ql/test/library-tests/overrides/Overrides22.ql
  csharp/ql/test/library-tests/unification/Unification.ql
Labels: C#, no-change-note-required

#16112 Python: Various extractor fixups
  python/extractor/BUILD.bazel
  python/extractor/licenses.md
  python/extractor/make_zips.py
  python/extractor/tsg-python/Cargo.toml
  python/extractor/tsg-python/tsp/BUILD.bazel
  python/extractor/unparse.py
Labels: documentation, Python, no-change-note-required

#16159 Python: Fixup integration tests after no dep inst
  python/extractor/cli-integration-test/force-enable-library-extraction/disabled-test.sh
  python/extractor/cli-integration-test/force-enable-library-extraction/repo_dir/foo.py
  python/extractor/cli-integration-test/ignore-venv/disabled-test.sh
  python/extractor/cli-integration-test/ignore-venv/test.sh
Labels: Python

#16160 Java: Delete models for JDK internal packages
  java/ql/lib/ext/generated/jdk.internal.access.foreign.model.yml
  java/ql/lib/ext/generated/jdk.internal.access.model.yml
  java/ql/lib/ext/generated/jdk.internal.misc.model.yml
  java/ql/lib/ext/generated/jdk.internal.org.objectweb.asm.model.yml
Labels: Java, no-change-note-required

#16162 Make duplicated content clear
  docs/codeql/codeql-language-guides/customizing-library-models-for-csharp.rst
  docs/codeql/codeql-language-guides/customizing-library-models-for-java-and-kotlin.rst
  docs/codeql/reusables/threat-model-description.rst
Labels: documentation

#16064 Automodel: Filter unexploitable types in application mode.
  java/ql/automodel/src/AutomodelApplicationModeCharacteristics.qll
  java/ql/automodel/test/AutomodelApplicationModeExtraction/Test.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/MyWriter.java
Labels: Java

#16151 C++: Use the shared typeflow library
  cpp/ql/lib/qlpack.yml
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TypeFlow.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/type-bugs.expected
Labels: C++, no-change-note-required

#16169 Python: Fix `RemoteFlowSourceFromCsv`
  python/ql/lib/semmle/python/frameworks/data/ModelsAsData.qll
Labels: no-change-note-required

#16170 Go: Add comments in extractor with link to online documentation
  go/extractor/extractor.go
Labels: no-change-note-required, Go

#16172 Go: Avoid magic in `TSynthLocation` definition
  go/ql/lib/semmle/go/internal/Locations.qll
Labels: no-change-note-required, Go

#16167 Bazel: move patching of `rules_kotlin` to a registry override
  .bazelrc
  .bazelrc.exported
  MODULE.bazel
  misc/bazel/registry/README.md
  misc/bazel/registry/bazel_registry.json
  misc/bazel/registry/fix.py
  misc/bazel/registry/modules/rules_kotlin/1.9.4-codeql.1/MODULE.bazel
  misc/bazel/registry/modules/rules_kotlin/1.9.4-codeql.1/patches/codeql_add_language_version_option.patch
  misc/bazel/registry/modules/rules_kotlin/1.9.4-codeql.1/patches/codeql_do_not_emit_jdeps.patch
  misc/bazel/registry/modules/rules_kotlin/1.9.4-codeql.1/patches/module_dot_bazel_version.patch
  misc/bazel/registry/modules/rules_kotlin/1.9.4-codeql.1/source.json
  misc/bazel/registry/modules/rules_kotlin/metadata.json
Labels: documentation

#11703 Go: Add and Modify Sanitizers For TaintedPath
  go/ql/lib/change-notes/2024-03-11-addional-gopath-sanitizers.md
  go/ql/lib/semmle/go/security/TaintedPathCustomizations.qll
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.go
Labels: documentation, Go

#15993 C#: Exclude Semmle.* dlls when using the executing runtime.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyCache.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyLookupLocation.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.Nuget.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_executing_runtime/Assemblies.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_executing_runtime/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_executing_runtime/Program.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_executing_runtime/test.py
Labels: C#, no-change-note-required

#15865 Go: extractor: do not store intermediate values in long string concatenations
  go/extractor/extractor.go
  go/ql/test/extractor-tests/no-intermediate-strings/tst.expected
  go/ql/test/extractor-tests/no-intermediate-strings/tst.go
  go/ql/test/extractor-tests/no-intermediate-strings/tst.ql
Labels: Go

#16174 RB: don't mention arrays in the qhelp for rb/shell-command-constructed-from-input
  ruby/ql/src/queries/security/cwe-078/UnsafeShellCommandConstruction.qhelp
  ruby/ql/src/queries/security/cwe-078/examples/unsafe-shell-command-construction_fixed.rb
Labels: documentation, Ruby

#16138 C++: Update expected test results
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/test/library-tests/CPP-205/elements.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
Labels: C++, depends on internal PR, no-change-note-required

#16175 C++: Add alias and side-effect models for more iterator functions
  cpp/ql/lib/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#16178 Bazel: `swift/third_party/load.bzl` cleanup and `bazel mod tidy` enablement
  MODULE.bazel
  swift/third_party/load.bzl
Labels: Swift

#16179 C++: Delete a noisy test that's not very helpful
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.ql
Labels: C++, no-change-note-required

#16180 Go: Tweak go tainted path additions
  go/ql/lib/semmle/go/security/TaintedPathCustomizations.qll
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.go
Labels: no-change-note-required, Go

#16120 Go: Fix data flow through variable defined in type switch guard
  go/ql/lib/change-notes/2024-04-06-type-switch-implicitly-declared-variables.md
  go/ql/lib/semmle/go/Scopes.qll
  go/ql/lib/semmle/go/Stmt.qll
  go/ql/lib/semmle/go/controlflow/ControlFlowGraphImpl.qll
  go/ql/lib/semmle/go/controlflow/IR.qll
  go/ql/test/library-tests/semmle/go/controlflow/ControlFlowGraph/CFG.expected
  go/ql/test/library-tests/semmle/go/controlflow/ControlFlowGraph/CFG.ql
  go/ql/test/library-tests/semmle/go/controlflow/ControlFlowGraph/ControlFlowNode_getASuccessor.expected
  go/ql/test/library-tests/semmle/go/controlflow/ControlFlowGraph/stmts.go
  go/ql/test/library-tests/semmle/go/dataflow/Switch/DataFlow.expected
  go/ql/test/library-tests/semmle/go/dataflow/Switch/DataFlow.ql
  go/ql/test/library-tests/semmle/go/dataflow/Switch/switch.go
Labels: documentation, Go

#16176 C#: Adjust conditional access locations
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/ExpressionNodeInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ElementAccess.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/Locations.cs
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/library-tests/csharp6/MemberAccess.expected
  csharp/ql/test/library-tests/csharp6/MemberAccess.ql
  csharp/ql/test/library-tests/csharp6/MemberAccess1.expected
  csharp/ql/test/library-tests/csharp6/MemberAccess1.ql
  csharp/ql/test/library-tests/csharp6/MemberAccess2.expected
  csharp/ql/test/library-tests/csharp6/MemberAccess2.ql
  csharp/ql/test/library-tests/csharp6/MemberInitializer.expected
  csharp/ql/test/library-tests/csharp8/NullableRefTypes.expected
  csharp/ql/test/library-tests/dynamic/DynamicElementAccess.expected
  csharp/ql/test/query-tests/Nullness/EqualityCheck.expected
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
Labels: C#, no-change-note-required

#16111 RB: Improve QHelp for `rb/url-redirect`, and fix an FP.
  ruby/ql/lib/codeql/ruby/ast/internal/Constant.qll
  ruby/ql/lib/codeql/ruby/security/UrlRedirectCustomizations.qll
  ruby/ql/src/queries/security/cwe-601/UrlRedirect.qhelp
  ruby/ql/src/queries/security/cwe-601/examples/redirect_good.rb
  ruby/ql/src/queries/security/cwe-601/examples/url_redirect.rb
  ruby/ql/src/queries/security/cwe-601/examples/url_redirect_domain.rb
  ruby/ql/src/queries/security/cwe-601/examples/url_redirect_good.rb
  ruby/ql/test/query-tests/security/cwe-601/UrlRedirect.rb
Labels: documentation, no-change-note-required, Ruby

#16177 Kotlin: Add 2.0.0-RC1 support (and remove 2.0.0-Beta4)
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/FirMetadataSourceFirFile.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_9_0-Beta/CommentExtractorLighterAST.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_9_0-Beta/FirMetadataSourceFirFile.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_9_0-Beta/LinesOfCodeLighterAST.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_0-RC1/FirMetadataSourceFirFile.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_0-RC1/IrSymbolInternals.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_0-RC1/JavaBinarySourceElement.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_0-RC1/JvmDefaultModeEnabled.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_0-RC1/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_0-RC1/parents.kt
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/diagnostics.expected
Labels: depends on internal PR, Java, Kotlin

#16184 Go: Add integration test library
  go/integration-tests-lib/go_integration_test.py
Labels: Go

#16163 Docs: Add macOS 14 to list of supported operating systems
  docs/codeql/reusables/supported-platforms.rst
Labels: documentation

#16189 Python: Modifies check for py launcher on Windows
  python/extractor/buildtools/version.py
Labels: Python, no-change-note-required

#15987 Ruby: Add query for insecure mass assignment
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/security/MassAssignmentCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/MassAssignmentQuery.qll
  ruby/ql/src/change-notes/2024-03-22-mass-assignment.md
  ruby/ql/src/queries/security/cwe-915/MassAssignment.qhelp
  ruby/ql/src/queries/security/cwe-915/MassAssignment.ql
  ruby/ql/src/queries/security/cwe-915/examples/MassAssignmentBad.rb
  ruby/ql/src/queries/security/cwe-915/examples/MassAssignmentGood.rb
  ruby/ql/test/query-tests/security/cwe-915/MassAssignment.expected
  ruby/ql/test/query-tests/security/cwe-915/MassAssignment.qlref
  ruby/ql/test/query-tests/security/cwe-915/test.rb
Labels: documentation, Ruby

#16164 C#: Check fallback nuget feeds before trying to use them in the fallb…
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.Nuget.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNetCliInvoker.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/EnvironmentVariableNames.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNetCliInvoker.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackages.cs
  csharp/extractor/Semmle.Extraction.Tests/DotNet.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
  csharp/extractor/Semmle.Util/EnvironmentVariables.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/CompilationInfo.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/proj/nuget.config
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/test.py
Labels: C#

#16197 Swift: accept new test results
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
Labels: Swift

#16125 C++: Generate IR for destruction of unconditionally constructed temporaries
  cpp/ql/lib/semmle/code/cpp/PrintAST.qll
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/IteratorToExpiredContainer.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/test.cpp
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/destructors_for_temps.cpp
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/modulus-analysis/ModulusAnalysis.expected
  cpp/ql/test/library-tests/ir/range-analysis/Overflow.expected
  cpp/ql/test/library-tests/ir/range-analysis/RangeAnalysis.expected
  cpp/ql/test/library-tests/ir/sign-analysis/SignAnalysis.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/types/irtypes.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
Labels: C++, no-change-note-required

#16201 C++: Add new AST consistency check
  cpp/ql/src/Metrics/Internal/ASTConsistency.ql
Labels: C++, no-change-note-required

#16195 C#: Split `DependencyManager` into multiple classes
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileInfoExtensions.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileProvider.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetExeWrapper.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/extractor/Semmle.Util/TemporaryDirectory.cs
Labels: C#

#16186 C#: Fix issue with suppress nullable warning directly on a method call.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CallTypeExtensions.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/PostfixUnary.cs
  csharp/ql/lib/change-notes/2024-04-12-suppress-nullable-warning.md
  csharp/ql/test/library-tests/expressions/ConstructorInitializers.expected
  csharp/ql/test/library-tests/expressions/PrintAst.expected
  csharp/ql/test/library-tests/expressions/QualifiableExpr.expected
  csharp/ql/test/library-tests/expressions/SuppressNullableWarning.expected
  csharp/ql/test/library-tests/expressions/SuppressNullableWarning.ql
  csharp/ql/test/library-tests/expressions/expressions.cs
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
Labels: C#, documentation

#16208 Kotlin/Bazel: provide wrapper for managing versions of `kotlinc`
  java/kotlin-extractor/deps.bzl
  java/kotlin-extractor/deps/dev/.gitignore
  java/kotlin-extractor/deps/dev/kotlinc
  java/kotlin-extractor/deps/dev/kotlinc.bat
  java/kotlin-extractor/versions.bzl
Labels: Kotlin

#16211 Dataflow: Amend change note for alert provenance.
  shared/dataflow/change-notes/2024-04-09-alert-provenance.md
Labels: documentation, DataFlow Library

#16216 Go: Respect `GOTOOLCHAIN` in `GetEnvGoVersion` if already set
  go/extractor/toolchain/toolchain.go
Labels: Go

#16217 Go: Fix broken changenote metadata
  go/ql/lib/change-notes/2024-03-11-addional-gopath-sanitizers.md
Labels: documentation, Go

#16200 C#: Logging
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyLookupLocation.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNetCliInvoker.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNetCliInvoker.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetExeWrapper.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Razor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.Tests/DotNet.cs
Labels: C#, no-change-note-required

#16181 Dynamic languages: Deprecate models-as-data CSV interface
  javascript/ql/lib/qlpack.yml
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.model.yml
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.model.yml
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  javascript/ql/test/library-tests/frameworks/data/test.ext.yml
  javascript/ql/test/library-tests/frameworks/data/test.ql
  javascript/ql/test/library-tests/frameworks/data/warnings.expected
  javascript/ql/test/library-tests/frameworks/data/warnings.ext.yml
  javascript/ql/test/library-tests/frameworks/data/warnings.ql
  python/ql/lib/semmle/python/frameworks/Asyncpg.model.yml
  python/ql/lib/semmle/python/frameworks/Asyncpg.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModels.qll
  python/ql/test/library-tests/frameworks/data/warnings.expected
  python/ql/test/library-tests/frameworks/data/warnings.ext.yml
  python/ql/test/library-tests/frameworks/data/warnings.ql
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveStorage.model.yml
  ruby/ql/lib/codeql/ruby/frameworks/ActiveStorage.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.model.yml
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/frameworks/Json.model.yml
  ruby/ql/lib/codeql/ruby/frameworks/Json.qll
  ruby/ql/lib/codeql/ruby/frameworks/actiondispatch/internal/Mime.model.yml
  ruby/ql/lib/codeql/ruby/frameworks/actiondispatch/internal/Mime.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Regexp.model.yml
  ruby/ql/lib/codeql/ruby/frameworks/core/Regexp.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Pathname.model.yml
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Pathname.qll
  ruby/ql/lib/qlpack.yml
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ext.yml
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
  ruby/ql/test/library-tests/frameworks/json/JsonDataFlow.expected
  ruby/ql/test/query-tests/security/cwe-022/PathInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection/CodeInjection.expected
Labels: JS, Python, no-change-note-required, Ruby

#16213 C#: Move source code generators to dedicated classes
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileContent.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/ISourceGenerator.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/ImplicitUsingsGenerator.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/Razor.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/SourceGeneratorBase.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/WebViewGenerator.cs
Labels: C#

#16205 Tiny docs fix
  ruby/ql/lib/codeql/ruby/security/CodeInjectionCustomizations.qll
Labels: no-change-note-required, Ruby

#16188 Java: add test for a Maven project with an unreachable repository
  java/ql/integration-tests/all-platforms/java/buildless-maven-tolerate-unavailable-dependency/buildless-fetches.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-tolerate-unavailable-dependency/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-tolerate-unavailable-dependency/pom.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-tolerate-unavailable-dependency/src/main/java/dlfs/App.java
  java/ql/integration-tests/all-platforms/java/buildless-maven-tolerate-unavailable-dependency/src/site/site.xml
  java/ql/integration-tests/all-platforms/java/buildless-maven-tolerate-unavailable-dependency/src/test/java/dlfs/AppTest.java
  java/ql/integration-tests/all-platforms/java/buildless-maven-tolerate-unavailable-dependency/test.py
Labels: Java

#16149 C++: Improvements to reduce false alarms
  cpp/ql/src/Critical/GlobalUseBeforeInit.ql
  cpp/ql/src/Critical/InconsistentNullnessTesting.ql
  cpp/ql/src/change-notes/2024-04-09-reduce-FP.md
  cpp/ql/test/query-tests/Critical/GlobalUseBeforeInit/GlobalUseBeforeInit.expected
  cpp/ql/test/query-tests/Critical/GlobalUseBeforeInit/GlobalUseBeforeInit.qlref
  cpp/ql/test/query-tests/Critical/GlobalUseBeforeInit/test.cpp
Labels: C++, documentation

#16227 C#: Update MaD id in expected file.
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
Labels: C#

#16229 Upgrade rules_pkg to 0.10.1.
  MODULE.bazel
  cpp/BUILD.bazel
  cpp/downgrades/BUILD.bazel
  cpp/ql/lib/BUILD.bazel
  csharp/ql/lib/BUILD.bazel
  java/ql/lib/config/BUILD.bazel
  javascript/ql/lib/BUILD.bazel
  misc/bazel/pkg_runfiles.bzl
  misc/bazel/workspace_deps.bzl
  python/downgrades/BUILD.bazel
  python/ql/lib/BUILD.bazel
  ruby/downgrades/BUILD.bazel
  ruby/ql/lib/BUILD.bazel
  swift/BUILD.bazel
  swift/downgrades/BUILD.bazel
  swift/third_party/BUILD.swift-toolchain-linux.bazel
  swift/third_party/BUILD.swift-toolchain-macos.bazel
  swift/tools/BUILD.bazel
Labels: C#, JS, C++, depends on internal PR, Java, Python, Ruby, Swift

#16230 C++: Use interpolation to avoid a bad join order
  cpp/ql/src/Critical/GlobalUseBeforeInit.ql
  cpp/ql/test/query-tests/Critical/GlobalUseBeforeInit/GlobalUseBeforeInit.expected
Labels: C++, no-change-note-required

#16231 Python: Remove test with CRLF line endings
  python/ql/test/extractor-tests/line_endings/README.md
  python/ql/test/extractor-tests/line_endings/Test.expected
  python/ql/test/extractor-tests/line_endings/Test.ql
  python/ql/test/extractor-tests/line_endings/continuation.py
  python/ql/test/extractor-tests/line_endings/feeds.py
  python/ql/test/extractor-tests/line_endings/string_cr_conversion.py
  python/ql/test/extractor-tests/line_endings/test.py
Labels: documentation, Python, no-change-note-required

#16203 C++: Break dataflow big-step on right-hand side of assignments
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplSpecific.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-078/WordexpTainted.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/AllocMultiplicationOverflow/AllocMultiplicationOverflow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/ArrayAccessProductFlow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-359/semmle/tests/PrivateCleartextWrite.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/SAMATE/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-079/semmle/CgiXss/CgiXss.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/SAMATE/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/OverrunWriteProductFlow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowDestination.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-129/SAMATE/ImproperArrayIndexValidation/ImproperArrayIndexValidation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-129/semmle/ImproperArrayIndexValidation/ImproperArrayIndexValidation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/SAMATE/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/consts/NonConstantFormat.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/ifs/ifs.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/SAMATE/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-290/semmle/AuthenticationBypass/AuthenticationBypass.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/PotentiallyExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/TaintedCondition.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-843/TypeConfusion.expected
Labels: C++, depends on internal PR, no-change-note-required

#16233 Python: Fix flags test
  python/ql/test/extractor-tests/flags/Flags.ql
Labels: Python, no-change-note-required

#16161 JS: Parser: Never run in strict mode
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/strictmode/output/trap/assignargs.js.trap
  javascript/ql/src/change-notes/2024-04-17-strict-mode.md
Labels: JS, documentation

#16232 C++: Add `cpp/iterator-to-expired-container` FP test
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/IteratorToExpiredContainer.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/test.cpp
Labels: C++

#16240 C#: Fix cleanup logic in dependency manager
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
Labels: C#

#16215 C#: Take more sources and sinks into account when reporting in the te…
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/AllSinks.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/ParallelSink.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/AllSources.qll
  csharp/ql/src/Likely Bugs/ParallelSink.qll
  csharp/ql/src/Likely Bugs/ThreadUnsafeICryptoTransformLambda.ql
  csharp/ql/src/Telemetry/ExternalApi.qll
  csharp/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.cs
  csharp/ql/test/query-tests/Telemetry/SupportedExternalApis/SupportedExternalApis.expected
Labels: C#, no-change-note-required

#16139 C++: Enable sound IR
  cpp/ql/lib/change-notes/2024-04-05-sound-ir.md
  cpp/ql/lib/semmle/code/cpp/ir/implementation/IRConfiguration.qll
  cpp/ql/test/experimental/library-tests/rangeanalysis/arraylengthanalysis/ArrayLengthAnalysisTest.expected
  cpp/ql/test/experimental/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/points_to/smart_pointer.cpp
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
Labels: C++, documentation

#16247 C#: Adjust known type telemetry query
  csharp/ql/src/Telemetry/ExtractorInformation.ql
Labels: C#, no-change-note-required

#16238 C++: Fix `cpp/iterator-to-expired-container` FPs
  cpp/ql/src/experimental/Security/CWE/CWE-416/IteratorToExpiredContainer.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/IteratorToExpiredContainer.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/test.cpp
Labels: C++

#16251 Data flow: Fix a bad join
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#16241 JS: Improve support for `export * as ...` declarations
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/ES2015Modules.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/lib/semmle/javascript/dataflow/Sources.qll
  javascript/ql/test/ApiGraphs/custom-use-steps/VerifyAssertions.expected
  javascript/ql/test/ApiGraphs/custom-use-steps/VerifyAssertions.ql
  javascript/ql/test/ApiGraphs/custom-use-steps/index.js
  javascript/ql/test/ApiGraphs/custom-use-steps/package.json
  javascript/ql/test/ApiGraphs/reexport/index.js
  javascript/ql/test/ApiGraphs/reexport/lib/esmodule-reexport.js
  javascript/ql/test/ApiGraphs/reexport/lib/esmodule-reexported1.js
  javascript/ql/test/ApiGraphs/reexport/lib/esmodule-reexported2.js
  javascript/ql/test/library-tests/Modules/tests.expected
Labels: JS, no-change-note-required

#16234 Go: Fix FPs in `go/incorrect-integer-conversion` query
  go/ql/lib/semmle/go/security/IncorrectIntegerConversionLib.qll
  go/ql/src/change-notes/2024-04-17-incorrect-integer-conversion-barriers.md
  go/ql/test/query-tests/Security/CWE-681/IncorrectIntegerConversion.go
Labels: documentation, Go

#16187 C++: Placeholder CFG for coroutines
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Labels: C++, no-change-note-required

#16249 C#: Do not call `CSharpCompilation.Clone`
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
Labels: C#, no-change-note-required

#16246 C++: Add Parameter nodes for functions without bodies
  cpp/ql/lib/change-notes/2024-04-18-param-nodes.md
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/parameters-without-defs/test.cpp
  cpp/ql/test/library-tests/dataflow/parameters-without-defs/test.expected
  cpp/ql/test/library-tests/dataflow/parameters-without-defs/test.ql
Labels: C++, documentation

#16290 Java: Fix join-order.
  java/ql/lib/semmle/code/java/os/OSCheck.qll
Labels: Java, no-change-note-required

#16289 C++: Improve handling of re-use expressions
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
Labels: C++, depends on internal PR, no-change-note-required

#16296 C++: Fix aliased IR test
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
Labels: C++

#16255 Fix more FPs in `cpp/iterator-to-expired-container`
  cpp/ql/src/experimental/Security/CWE/CWE-416/IteratorToExpiredContainer.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/test.cpp
Labels: C++

#16298 C++: Update expected test results after extractor changes
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, depends on internal PR

#15599 Dataflow: update fieldFlowBranchLimit semantics
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplSpecific.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/swap2.cpp
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.ql
  csharp/ql/test/library-tests/dataflow/types/Types.ql
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/frameworks/guava/handwritten/flow.ql
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  shared/dataflow/change-notes/2024-04-19-fieldflowbranchlimit.md
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/test/InlineFlowTest.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/test/TestUtilities/InlineFlowTest.qll
Labels: C#, C++, documentation, Java, Python, Go, Ruby, Swift, DataFlow Library

#16301 C++: Implement proper coroutine support in IR
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Labels: C++, no-change-note-required

#16302 C++: `fieldFlowBranchLimit` follow-up (1)
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Labels: C++, no-change-note-required

#16304 C#: Fix a bad join
  csharp/ql/src/Security Features/CWE-352/MissingAntiForgeryTokenValidation.ql
Labels: C#, no-change-note-required

#16225 C#: Add resource generator
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/EnvironmentVariableNames.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileProvider.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Sdk.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/DotnetSourceGeneratorBase.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/DotnetSourceGeneratorWrapper/DotnetSourceGeneratorWrapper.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/DotnetSourceGeneratorWrapper/Razor.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/DotnetSourceGeneratorWrapper/Resx.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/ImplicitUsingsGenerator.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/Razor.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/RazorGenerator.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/ResxGenerator.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/SourceGeneratorBase.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/WebViewGenerator.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
  csharp/extractor/Semmle.Util/TemporaryDirectory.cs
  csharp/ql/integration-tests/all-platforms/standalone_resx/CompilationInfo.expected
  csharp/ql/integration-tests/all-platforms/standalone_resx/CompilationInfo.ql
  csharp/ql/integration-tests/all-platforms/standalone_resx/Files.expected
  csharp/ql/integration-tests/all-platforms/standalone_resx/Files.ql
  csharp/ql/integration-tests/all-platforms/standalone_resx/Members.expected
  csharp/ql/integration-tests/all-platforms/standalone_resx/Members.ql
  csharp/ql/integration-tests/all-platforms/standalone_resx/Program.cs
  csharp/ql/integration-tests/all-platforms/standalone_resx/global.json
  csharp/ql/integration-tests/all-platforms/standalone_resx/resx.csproj
  csharp/ql/integration-tests/all-platforms/standalone_resx/test.py
  csharp/ql/integration-tests/all-platforms/standalone_resx/test.resx
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/CompilationInfo.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error_timeout/CompilationInfo.expected
Labels: C#

#16306 JS: do fewer regexp matches in SensitiveActions
  javascript/ql/lib/semmle/javascript/security/SensitiveActions.qll
  javascript/ql/lib/semmle/javascript/security/internal/SensitiveDataHeuristics.qll
  python/ql/lib/semmle/python/security/internal/SensitiveDataHeuristics.qll
  ruby/ql/lib/codeql/ruby/security/internal/SensitiveDataHeuristics.qll
  swift/ql/lib/codeql/swift/security/internal/SensitiveDataHeuristics.qll
Labels: JS, Python, no-change-note-required, Ruby, Swift

#15905 Python: Start modelling the standard library using MaD
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/Stdlib/StdLib.model.yml
Labels: Python, no-change-note-required

#16310 C#: Add integration test with multiple versions of the same nuget pac…
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_versions/Assemblies.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_versions/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_versions/Program.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_versions/d1/test1.csproj
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_versions/d2/test2.csproj
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_versions/global.json
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_versions/test.py
Labels: C#

#16311 C#: Do not download `Microsoft.CodeAnalysis.ResxSourceGenerator` when…
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/ResxGenerator.cs
Labels: C#

#16312 C#: Fix `global.json` and `packages.config` lookup
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileContent.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/DotnetSourceGeneratorBase.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
Labels: C#

#16313 Data flow: Fix bad join
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#16319 C++: Fix comment in IR test
  cpp/ql/test/library-tests/ir/ir/ir.cpp
Labels: C++

#16315 Bazel: introduce buildifier formatting
  .github/workflows/buildifier.yml
  .pre-commit-config.yaml
  BUILD.bazel
  MODULE.bazel
  javascript/BUILD.bazel
  javascript/extractor/BUILD.bazel
  misc/codegen/BUILD.bazel
  misc/codegen/generators/BUILD.bazel
  python/extractor/tsg-python/tsp/BUILD.bazel
  swift/extractor/BUILD.bazel
  swift/logging/BUILD.bazel
Labels: JS, Python, Swift

#16308 JS: Fix naming issue in generated models
  javascript/ql/lib/semmle/javascript/frameworks/data/ModelsAsData.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  javascript/ql/test/library-tests/ModelGeneration/ModelGeneration.expected
  javascript/ql/test/library-tests/frameworks/data/test.expected
  javascript/ql/test/library-tests/frameworks/data/test.ext.yml
  javascript/ql/test/library-tests/frameworks/data/test.js
Labels: JS, no-change-note-required

#16314 Ruby: do fewer regexp matches in SensitiveActions
  ruby/ql/lib/codeql/ruby/security/SensitiveActions.qll
Labels: no-change-note-required, Ruby

#16061 JS: More robust CommonJS/ES2015 detection logic for extractor
  javascript/extractor/src/com/semmle/js/extractor/AbstractDetector.java
  javascript/extractor/src/com/semmle/js/extractor/ES2015Detector.java
  javascript/extractor/src/com/semmle/js/extractor/JSExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/NodeJSDetector.java
  javascript/extractor/test/com/semmle/js/extractor/test/AllTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/BUILD.bazel
  javascript/extractor/test/com/semmle/js/extractor/test/ES2015DetectorTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/NodeJSDetectorTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/TrapTests.java
  javascript/extractor/tests/flow/output/trap/anonFunctionWithoutParens.js.trap
  javascript/extractor/tests/flow/output/trap/anonIndexer.js.trap
  javascript/extractor/tests/flow/output/trap/declared-module-imports.js.trap
  javascript/extractor/tests/flow/output/trap/exportOpaqueType.js.trap
  javascript/extractor/tests/flow/output/trap/importTypeInDeclaredModule.js.trap
  javascript/extractor/tests/flow/output/trap/variance.js.trap
  javascript/extractor/tests/node/input/detection.js
  javascript/extractor/tests/node/output/trap/detection.js.trap
  javascript/ql/lib/change-notes/2024-04-02-more-robust-commonjs-detection.md
Labels: JS, documentation

#16325 Go: Fix `LoadGoModules` missing out on `toolchain` directives
  go/extractor/project/project.go
  go/extractor/project/project_test.go
Labels: Go

#16326 Update codeql-changelog index.rst to include codeql-cli-2.17.1
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.1.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#16329 C++: Fix typo.
  cpp/ql/src/experimental/Security/CWE/CWE-125/DangerousWorksWithMultibyteOrWideCharacters.ql
Labels: C++, no-change-note-required

#16322 C++: Print destructors for children of statements that are again statements
  cpp/ql/lib/semmle/code/cpp/PrintAST.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#16323 JS: Expose InternalModuleNaming
  javascript/ql/lib/semmle/javascript/endpoints/EndpointNaming.qll
Labels: JS, no-change-note-required

#16338 C#: Store buildless extraction timing information and return in telem…
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TracingAnalyser.cs
  csharp/ql/src/Telemetry/ExtractorInformation.ql
Labels: C#, no-change-note-required

#16339 C++: Remove a stage by properly caching `getResultIRType`
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Labels: C++, no-change-note-required

#16342 C++: Don't emit destructor calls as part of 'TranslatedResultCopy' as this has already been done in some other 'TranslatedExpr'.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, depends on internal PR, no-change-note-required

#16333 C++: Fix `GuardCondition` comparison with constant pointers
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/guards/Guards.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.ql
  cpp/ql/test/library-tests/controlflow/guards/test.cpp
Labels: C++, no-change-note-required

#16349 Ruby: Add URI.open example to rb/kernel-open qhelp
  ruby/ql/src/queries/security/cwe-078/examples/file_open.rb
  ruby/ql/src/queries/security/cwe-078/examples/kernel_open.rb
Labels: no-change-note-required, Ruby

#16155 Python: add test for `Argument[0, self, self:]` for instance methods
  python/ql/test/library-tests/dataflow/model-summaries/InlineTaintTest.ext.yml
  python/ql/test/library-tests/dataflow/model-summaries/NormalDataflowTest.ext.yml
  python/ql/test/library-tests/dataflow/model-summaries/model_summaries.py
Labels: Python

#16248 C#: Restore projects and collect dependencies for projects in the same folder sequentially.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Assets.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyContainer.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/extractor/Semmle.Extraction.Tests/Assets.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_project/Assemblies.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_project/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_project/Program.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_project/global.json
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_project/standalone1.csproj
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_project/standalone2.csproj
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_project/test.py
Labels: C#, no-change-note-required

#16354 Ruby: Reduce FPs for rb/incomplete-hostname-regexp
  ruby/ql/lib/codeql/ruby/Regexp.qll
  ruby/ql/test/query-tests/security/cwe-020/IncompleteHostnameRegExp/IncompleteHostnameRegExp.expected
  ruby/ql/test/query-tests/security/cwe-020/IncompleteHostnameRegExp/tst-IncompleteHostnameRegExp.rb
Labels: no-change-note-required, Ruby

#16358 Bazel: add empty registry override
  .bazelrc
  .bazelrc.internal
  misc/bazel/registry/AUTHORS
  misc/bazel/registry/LICENSE
  misc/bazel/registry/NOTICE
  misc/bazel/registry/README.md
  misc/bazel/registry/bazel_registry.json
  misc/bazel/registry/fix.py
Labels: documentation

#16330 All: delete outdated deprecations
  cpp/ql/lib/change-notes/2024-04-26-outdated-deprecations.md
  cpp/ql/lib/semmle/code/cpp/valuenumbering/GlobalValueNumberingImpl.qll
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ast_gvn.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ast_gvn.ql
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ast_uniqueness.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ast_uniqueness.ql
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.ql
  csharp/ql/lib/change-notes/2024-04-26-outdated-deprecations.md
  csharp/ql/lib/semmle/code/csharp/Callable.qll
  csharp/ql/lib/semmle/code/csharp/exprs/Assignment.qll
  csharp/ql/lib/semmle/code/csharp/exprs/BitwiseOperation.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ExternalAPIsQuery.qll
  go/ql/lib/change-notes/2024-04-26-outdated-deprecations.md
  go/ql/lib/semmle/go/security/FlowSources.qll
  java/ql/lib/change-notes/2024-04-26-outdated-deprecations.md
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/regex/RegexTreeView.qll
  javascript/ql/lib/change-notes/2024-04-26-outdated-deprecations.md
  javascript/ql/lib/semmle/javascript/Concepts.qll
  javascript/ql/lib/semmle/javascript/Regexp.qll
  javascript/ql/lib/semmle/javascript/security/BadTagFilterQuery.qll
  javascript/ql/lib/semmle/javascript/security/OverlyLargeRangeQuery.qll
  javascript/ql/lib/semmle/javascript/security/regexp/RegexpMatching.qll
  javascript/ql/src/Security/CWE-020/HostnameRegexpShared.qll
  python/ql/lib/change-notes/2024-04-26-outdated-deprecations.md
  python/ql/lib/semmle/python/dataflow/new/Regexp.qll
  python/ql/src/Security/CWE-020/HostnameRegexpShared.qll
  ruby/ql/lib/change-notes/2024-04-26-outdated-deprecations.md
  ruby/ql/lib/codeql/ruby/Regexp.qll
  ruby/ql/src/queries/security/cwe-020/HostnameRegexpShared.qll
Labels: C#, JS, C++, documentation, Java, Python, Go, Ruby

#16328 C++: Reduce duplication from cpp/path-injection
  cpp/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  cpp/ql/src/change-notes/2024-04-25-path-injection.md
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/stdlib.h
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/test.c
Labels: C++, documentation

#16341 Java: Remove support for deprecated ODASA_BUILD_ERROR_DIR env var
  java/kotlin-extractor/src/main/java/com/semmle/util/process/Env.java
  java/ql/lib/change-notes/2024-04-26-env-vars.md
Labels: documentation, Java, Kotlin

#16355 C++: Promote `cpp/iterator-to-expired-container` out of experimental
  cpp/ql/src/Security/CWE/CWE-416/IteratorToExpiredContainer.qhelp
  cpp/ql/src/Security/CWE/CWE-416/IteratorToExpiredContainer.ql
  cpp/ql/src/Security/CWE/CWE-416/IteratorToExpiredContainerExtendedLifetime.cpp
  cpp/ql/src/change-notes/2024-04-29-iterator-to-expired-container.md
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/IteratorToExpiredContainer.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/IteratorToExpiredContainer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/IteratorToExpiredContainer.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/IteratorToExpiredContainer/test.cpp
Labels: C++, documentation

#16364 C++: Support `IRGuard`s with no implicit boolean conversion
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/guards/Guards.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.expected
  cpp/ql/test/library-tests/controlflow/guards/test.c
Labels: C++, no-change-note-required

#16366 C++: Fix IR destructor calls on `JumpStmt`s
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required
