Repository github/codeql, pull requests merged in 2024-09, with the labels that each got.

#17244 Swift: Work around some QHelp rendering issues.
  swift/ql/src/queries/Security/CWE-020/IncompleteHostnameRegex.qhelp
  swift/ql/src/queries/Security/CWE-116/BadTagFilter.qhelp
  swift/ql/src/queries/Security/CWE-1333/ReDoS.qhelp
Labels: documentation, Swift

#17347 C++: Add test for cpp/uninitialized-local and va_copy
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/UninitializedLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/test.cpp
Labels: C++, no-change-note-required

#17328 C++: Tweak the `bounded` barrier
  cpp/ql/src/Security/CWE/CWE-190/Bounded.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticUncontrolled/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/test.cpp
Labels: C++

#17348 C++: Update expected test results after #17347
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/LoopConditionsConst.expected
Labels: C++

#17346 C#: Support SyntheticField in MaD.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ext.yml
Labels: C#, no-change-note-required

#17354 C++: Make realloc a data-flow function
  cpp/ql/lib/change-notes/2024-09-03-realloc-data-flow.md
  cpp/ql/lib/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow-ir.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/type-bugs.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Labels: C++, documentation

#17367 Go: Remove change note from 1.15.md
  go/ql/lib/change-notes/released/1.1.5.md
Labels: documentation, Go

#17366 Go: Remove threat models change note from 1.15.md
  go/ql/lib/change-notes/2024-09-03-local-threat-models-file-environment.md
  go/ql/lib/change-notes/released/1.1.5.md
Labels: documentation, Go

#17362 Dataflow: Fix minor typo.
  shared/dataflow/codeql/dataflow/DataFlow.qll
Labels: no-change-note-required, DataFlow Library

#17373 C#: Add change note for `build-mode:none` GA
  csharp/ql/lib/change-notes/2024-09-04-build-mode-none.md
Labels: C#, documentation

#17350 Bump `tree-sitter` to `0.23.0`
  ql/Cargo.lock
  ql/buramu/Cargo.toml
  ql/buramu/tree-sitter-blame/Cargo.toml
  ql/buramu/tree-sitter-blame/binding.gyp
  ql/buramu/tree-sitter-blame/bindings/node/binding.cc
  ql/buramu/tree-sitter-blame/bindings/node/index.js
  ql/buramu/tree-sitter-blame/bindings/rust/build.rs
  ql/buramu/tree-sitter-blame/bindings/rust/lib.rs
  ql/buramu/tree-sitter-blame/package.json
  ql/buramu/tree-sitter-blame/src/grammar.json
  ql/buramu/tree-sitter-blame/src/parser.c
  ql/buramu/tree-sitter-blame/src/tree_sitter/parser.h
  ql/extractor/Cargo.toml
  ql/extractor/src/extractor.rs
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/codeql-extractor-fake-crate/Cargo.toml
  ruby/extractor/src/extractor.rs
  shared/tree-sitter-extractor/Cargo.toml
  shared/tree-sitter-extractor/tests/integration_test.rs
  shared/tree-sitter-extractor/tests/multiple_languages.rs
Labels: no-change-note-required, Ruby, QL-for-QL

#17378 Go: Add `getParent` and `getIndex` for `TypeParamType`
  go/ql/lib/semmle/go/Scopes.qll
  go/ql/lib/semmle/go/Types.qll
  go/ql/test/library-tests/semmle/go/Function/TypeParamType.expected
  go/ql/test/library-tests/semmle/go/Function/TypeParamType.ql
Labels: no-change-note-required, Go

#17375 Add changelogs up to 2.18.3
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.10.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.10.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.10.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.10.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.10.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.11.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.12.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.13.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.14.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.15.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.18.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.18.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.18.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.18.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.7.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.7.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.8.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.8.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.8.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.8.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.8.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.9.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.9.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.9.2.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.9.3.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#16814 WIP: Python: CORS Bypass
  python/ql/src/experimental/Security/CWE-346/CorsBad.py
  python/ql/src/experimental/Security/CWE-346/CorsBypass.qhelp
  python/ql/src/experimental/Security/CWE-346/CorsBypass.ql
  python/ql/src/experimental/Security/CWE-346/CorsGood.py
  python/ql/test/experimental/query-tests/Security/CWE-346/Cors.py
  python/ql/test/experimental/query-tests/Security/CWE-346/CorsBypass.expected
  python/ql/test/experimental/query-tests/Security/CWE-346/CorsBypass.qlref
Labels: documentation, Python, external-contribution

#17352 Swift: upgrade prebuilt toolchain to 5.10.1
  swift/third_party/load.bzl
Labels: Swift

#17351 C++: Make swap member functions data-flow functions
  cpp/ql/lib/change-notes/2024-09-04-swap-data-flow.md
  cpp/ql/lib/semmle/code/cpp/models/implementations/Swap.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow-ir.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/type-bugs.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/map.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/set.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/string.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/stringstream.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Labels: C++, documentation

#17381 Go: Fix QLDoc for ResultVariableDecl
  go/ql/lib/semmle/go/Decls.qll
Labels: no-change-note-required, Go

#13560 C++: Decompression Bombs
  cpp/ql/src/experimental/Security/CWE/CWE-409/Brotli.qll
  cpp/ql/src/experimental/Security/CWE/CWE-409/DecompressionBomb.qll
  cpp/ql/src/experimental/Security/CWE/CWE-409/DecompressionBombs.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-409/DecompressionBombs.ql
  cpp/ql/src/experimental/Security/CWE/CWE-409/LibArchive.qll
  cpp/ql/src/experimental/Security/CWE/CWE-409/MiniZip.qll
  cpp/ql/src/experimental/Security/CWE/CWE-409/ZSTD.qll
  cpp/ql/src/experimental/Security/CWE/CWE-409/ZlibGzopen.qll
  cpp/ql/src/experimental/Security/CWE/CWE-409/ZlibInflator.qll
  cpp/ql/src/experimental/Security/CWE/CWE-409/ZlibUncompress.qll
  cpp/ql/src/experimental/Security/CWE/CWE-409/example_bad.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-409/example_good.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-409/DecompressionBombs/DecompressionBombs.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-409/DecompressionBombs/DecompressionBombs.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-409/DecompressionBombs/brotliTest.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-409/DecompressionBombs/libarchiveTests.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-409/DecompressionBombs/main.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-409/DecompressionBombs/minizipTest.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-409/DecompressionBombs/zlibTest.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-409/DecompressionBombs/zstdTest.cpp
Labels: C++, documentation, external-contribution

#17391 C++: Add testcase with IR inconsistencies
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/ir.c
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Labels: C++

#17369 Go: add tests regarding type aliasing
  go/ql/test/library-tests/semmle/go/aliases/InterfaceImpls/test.expected
  go/ql/test/library-tests/semmle/go/aliases/InterfaceImpls/test.go
  go/ql/test/library-tests/semmle/go/aliases/InterfaceImpls/test.ql
  go/ql/test/library-tests/semmle/go/aliases/MethodDefs/methods.go
  go/ql/test/library-tests/semmle/go/aliases/MethodDefs/test.expected
  go/ql/test/library-tests/semmle/go/aliases/MethodDefs/test.ql
  go/ql/test/library-tests/semmle/go/aliases/defsuses/defsuses.go
  go/ql/test/library-tests/semmle/go/aliases/defsuses/test.expected
  go/ql/test/library-tests/semmle/go/aliases/defsuses/test.ql
Labels: Go

#17371 C++: Update expected test results after extractor changes
  cpp/ql/test/header-variant-tests/multi-target-includes/includes.expected
  cpp/ql/test/library-tests/includes/include_next/includes.expected
Labels: C++, depends on internal PR

#17330 Java/C#: Field based model generator (Experimental).
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.expected
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
  java/ql/lib/semmle/code/java/dataflow/internal/ContentDataFlow.qll
  java/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.expected
  java/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  java/ql/test/utils/modelgenerator/dataflow/p/Factory.java
  java/ql/test/utils/modelgenerator/dataflow/p/FinalClass.java
  java/ql/test/utils/modelgenerator/dataflow/p/FluentAPI.java
  java/ql/test/utils/modelgenerator/dataflow/p/ImmutablePojo.java
  java/ql/test/utils/modelgenerator/dataflow/p/Inheritance.java
  java/ql/test/utils/modelgenerator/dataflow/p/InnerClasses.java
  java/ql/test/utils/modelgenerator/dataflow/p/InnerHolder.java
  java/ql/test/utils/modelgenerator/dataflow/p/Joiner.java
  java/ql/test/utils/modelgenerator/dataflow/p/MultipleImpl2.java
  java/ql/test/utils/modelgenerator/dataflow/p/MultipleImpls.java
  java/ql/test/utils/modelgenerator/dataflow/p/ParamFlow.java
  java/ql/test/utils/modelgenerator/dataflow/p/Pojo.java
  java/ql/test/utils/modelgenerator/dataflow/p/PrivateFlowViaPublicInterface.java
  misc/scripts/models-as-data/generate_flow_model.py
  shared/mad/codeql/mad/modelgenerator/ModelPrinting.qll
Labels: C#, Java, no-change-note-required

#17358 Go: Support 1.23 (Transparent aliases)
  MODULE.bazel
  go/actions/test/action.yml
  go/extractor/autobuilder/build-environment.go
  go/extractor/extractor.go
  go/extractor/go.mod
  go/ql/test/extractor-tests/diagnostics/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/ql/test/library-tests/semmle/go/Files/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/ql/test/library-tests/semmle/go/Function/TypeParamType.expected
  go/ql/test/library-tests/semmle/go/Types/Aliases.expected
  go/ql/test/library-tests/semmle/go/Types/Aliases.ql
  go/ql/test/library-tests/semmle/go/Types/Field_getPackage.expected
  go/ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName2.expected
  go/ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName3.expected
  go/ql/test/library-tests/semmle/go/Types/QualifiedNames.expected
  go/ql/test/library-tests/semmle/go/Types/SignatureType_getNumParameter.expected
  go/ql/test/library-tests/semmle/go/Types/SignatureType_getNumResult.expected
  go/ql/test/library-tests/semmle/go/Types/StructFields.expected
  go/ql/test/library-tests/semmle/go/Types/Types.expected
  go/ql/test/library-tests/semmle/go/Types/aliases.go
  go/ql/test/query-tests/Diagnostics/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/ql/test/query-tests/Diagnostics/ExtractionErrors.expected
  go/ql/test/query-tests/Summary/CONSISTENCY/UnexpectedFrontendErrors.expected
Labels: Go

#17389 CI: Upgrade bazel rules.
  MODULE.bazel
Labels: depends on internal PR

#17314 Python: Exclude certificate classification fo sensitive data queries
  python/ql/lib/semmle/python/security/dataflow/CleartextLoggingCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/CleartextStorageCustomizations.qll
  python/ql/src/change-notes/2024-08-27-sensitive-certificate.md
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/test.py
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage-py3/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage-py3/test.py
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/test.py
Labels: documentation, Python

#17396 Rust: generate test code from schema docstrings
  misc/codegen/generators/__init__.py
  misc/codegen/generators/qlgen.py
  misc/codegen/generators/rustgen.py
  misc/codegen/generators/rusttestgen.py
  misc/codegen/lib/rust.py
  misc/codegen/lib/schema.py
  misc/codegen/lib/schemadefs.py
  misc/codegen/loaders/schemaloader.py
  misc/codegen/templates/rust_test_code.mustache
  rust/.generated.list
  rust/.gitattributes
  rust/codegen.conf
  rust/ql/lib/codeql/rust/elements/Function.qll
  rust/ql/lib/codeql/rust/generated/Function.qll
  rust/ql/lib/codeql/rust/generated/Raw.qll
  rust/ql/test/extractor-tests/generated/Function/Function.expected
  rust/ql/test/extractor-tests/generated/Function/gen_function.rs
  rust/ql/test/extractor-tests/generated/Function/test.rs
  rust/schema.py
Labels: no-change-note-required

#17213 JS: Improve handling of spread arguments and rest parameters [shared data flow branch]
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/Contents.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/DataFlowImplConsistency.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/DataFlowNode.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/DataFlowPrivate.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/FlowSummaryPrivate.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/TaintTrackingPrivate.qll
  javascript/ql/lib/semmle/javascript/frameworks/AsyncPackage.qll
  javascript/ql/lib/semmle/javascript/frameworks/Markdown.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Arrays.qll
  javascript/ql/lib/semmle/javascript/security/TaintedUrlSuffix.qll
  javascript/ql/test/library-tests/Arrays/DataFlow.expected
  javascript/ql/test/library-tests/Arrays/TaintFlow.expected
  javascript/ql/test/library-tests/Arrays/arrays.js
  javascript/ql/test/library-tests/Arrays/printAst.expected
  javascript/ql/test/library-tests/DataFlow/tests.expected
  javascript/ql/test/library-tests/FlowSummary/DataFlowConsistency.expected
  javascript/ql/test/library-tests/FlowSummary/tst.js
  javascript/ql/test/library-tests/Promises/flow2.js
  javascript/ql/test/library-tests/Promises/tests.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/arrays-init.js
  javascript/ql/test/library-tests/TaintTracking/call-apply.js
  javascript/ql/test/library-tests/TaintTracking/spread.js
  javascript/ql/test/library-tests/TaintTracking/use-use-after-implicit-read.js
  javascript/ql/test/library-tests/TripleDot/test.expected
  javascript/ql/test/library-tests/TripleDot/test.ql
  javascript/ql/test/library-tests/TripleDot/tst.js
  javascript/ql/test/library-tests/frameworks/AsyncPackage/AsyncTaintTracking.expected
  javascript/ql/test/query-tests/Security/CWE-020/UntrustedDataToExternalAPI/UntrustedDataToExternalAPI.expected
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/tainted-url-suffix-arguments.js
  javascript/ql/test/query-tests/Security/CWE-079/ExceptionXss/ExceptionXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.js
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXssWithCustomSanitizer.expected
  javascript/ql/test/query-tests/Security/CWE-079/StoredXss/StoredXss.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/ImproperCodeSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  javascript/ql/test/query-tests/Security/CWE-400/ReDoS/PolynomialReDoS.expected
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/ServerSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-730/RegExpInjection.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingFunction/PrototypePollutingFunction.expected
  javascript/ql/test/testUtilities/InlineFlowTest.qll
  javascript/ql/test/testUtilities/InlineFlowTestUtil.qll
Labels: JS, no-change-note-required

#17395 Go: Add change note and update docs for Go 1.23
  docs/codeql/reusables/supported-versions-compilers.rst
  go/ql/lib/change-notes/2024-09-06-go-1.23-supported.md
Labels: documentation, Go

#17399 C++: Re-introduce the original version of the `many_defs_per_use` IR test
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/many-defs-per-use.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#17418 C++: Add IR inconsistency test
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/ir.c
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Labels: C++

#17420 C#: Fix trivial upgrade.properties errors
  csharp/downgrades/ab09ac8287516082b7a7367f8fda1862b1be47c5/upgrade.properties
  csharp/ql/lib/upgrades/ba2201248071b2bf0bb52909b35014091d2e18a6/upgrade.properties
  csharp/ql/lib/upgrades/dd813977f70fcbf737b0bbe9dc8297edff713168/upgrade.properties
  csharp/ql/lib/upgrades/efcd69e086a26dd33395f2ddb3113b2849399040/upgrade.properties
Labels: C#

#17421 C++: Fix IR inconsistency due to throwing `__except` block
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/try_except.cpp
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Labels: C++, no-change-note-required

#17434 Bazel: remove non-working fake `tree-sitter-extractor` workaround
  .gitignore
  Cargo.lock
  Cargo.toml
  MODULE.bazel
  config/identical-files.json
  ruby/extractor/.cargo/config.toml
  ruby/extractor/BUILD.bazel
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/codeql-extractor-fake-crate/BUILD.bazel
  ruby/extractor/codeql-extractor-fake-crate/Cargo.toml
  ruby/extractor/codeql-extractor-fake-crate/README.md
  ruby/extractor/codeql-extractor-fake-crate/src/lib.rs
  rust/extractor/.cargo/config.toml
  rust/extractor/BUILD.bazel
  rust/extractor/Cargo.toml
  rust/extractor/codeql-extractor-fake-crate/BUILD.bazel
  rust/extractor/codeql-extractor-fake-crate/Cargo.toml
  rust/extractor/codeql-extractor-fake-crate/README.md
  rust/extractor/codeql-extractor-fake-crate/src/lib.rs
  shared/tree-sitter-extractor/BUILD.bazel
Labels: documentation, Ruby

#17426 Rust: Add a README.md
  rust/README.md
Labels: documentation, rust

#17384 Brodes/overflow buffer fixes upstream
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/lib/semmle/code/cpp/security/BufferAccess.qll
  cpp/ql/src/Critical/OverflowStatic.ql
  cpp/ql/src/Security/CWE/CWE-119/OverflowBuffer.ql
  cpp/ql/src/change-notes/2024-09-04-overflow-buffer-false-positives.md
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/tests.cpp
Labels: C++, documentation

#17433 TS: Support TypeScript 5.6
  docs/codeql/reusables/supported-versions-compilers.rst
  javascript/extractor/lib/typescript/package-lock.json
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/src/com/semmle/ts/extractor/TypeScriptASTConverter.java
  javascript/ql/lib/change-notes/2024-09-10-support-typescript-5.6.md
  javascript/ql/test/library-tests/Modules/arbitrarySpecifier.ts
  javascript/ql/test/library-tests/Modules/jsArbitrarySpecifier.js
  javascript/ql/test/library-tests/Modules/tests.expected
  javascript/ql/test/library-tests/TypeScript/EmbeddedInScript/Test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/test.expected
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/test.expected
  javascript/ql/test/library-tests/TypeScript/Types/tests.expected
Labels: JS, documentation

#17415 Rust: Basic control flow graph setup
  rust/ql/lib/codeql/rust/controlflow/BasicBlocks.qll
  rust/ql/lib/codeql/rust/controlflow/ControlFlowGraph.qll
  rust/ql/lib/codeql/rust/controlflow/internal/Completion.qll
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/controlflow/internal/PrintCfg.ql
  rust/ql/lib/codeql/rust/controlflow/internal/Scope.qll
  rust/ql/lib/codeql/rust/controlflow/internal/Splitting.qll
  rust/ql/lib/codeql/rust/controlflow/internal/SuccessorType.qll
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/Cfg.ql
  rust/ql/test/library-tests/controlflow/test.rs
Labels: no-change-note-required, Rust

#17277 Docs: Give clearer example of multiple query predicates in one ql file
  docs/prepare-db-upgrade.md
Labels: documentation

#17401 Javascript: Query to detect GITHUB_TOKEN leaked in artifacts
  javascript/ql/src/Security/CWE-312/ActionsArtifactLeak.qhelp
  javascript/ql/src/Security/CWE-312/ActionsArtifactLeak.ql
  javascript/ql/src/Security/CWE-312/examples/actions-artifact-leak-fixed.yml
  javascript/ql/src/Security/CWE-312/examples/actions-artifact-leak.yml
  javascript/ql/src/change-notes/2024-09-06-new-actions-artifact-leak-query.md
  javascript/ql/test/query-tests/Security/CWE-312/.github/workflows/test.yml
  javascript/ql/test/query-tests/Security/CWE-312/ActionsArtifactLeak.expected
  javascript/ql/test/query-tests/Security/CWE-312/ActionsArtifactLeak.qlref
Labels: JS, documentation

#17429 Go: fix multiple anonymous type parameters
  go/extractor/extractor.go
  go/ql/lib/change-notes/2024-09-10-multiple-anonymous-type-parameters.md
  go/ql/test/library-tests/semmle/go/Function/TypeParamType.expected
  go/ql/test/library-tests/semmle/go/Function/TypeParamType.ql
  go/ql/test/library-tests/semmle/go/Function/genericFunctions.go
  go/ql/test/library-tests/semmle/go/Function/getParameter.expected
  go/ql/test/library-tests/semmle/go/Function/getTypeParameter.expected
Labels: documentation, Go

#17445 Rust: make ql tests extract files together
  rust/ql/test/.gitignore
  rust/ql/test/extractor-tests/generated/File/File.expected
  rust/tools/qltest.sh
Labels: Rust

#17439 C#: Include `.razor` files in `File::fromSource`
  csharp/ql/integration-tests/all-platforms/cshtml/Files.ql
  csharp/ql/lib/semmle/code/csharp/File.qll
Labels: C#, no-change-note-required

#17450 Rust: Add query suites
  rust/ql/src/codeql-suites/rust-code-scanning.qls
  rust/ql/src/codeql-suites/rust-security-and-quality.qls
  rust/ql/src/codeql-suites/rust-security-experimental.qls
  rust/ql/src/codeql-suites/rust-security-extended.qls
Labels: no-change-note-required, Rust

#17442 Rust: Extracted Files diagnostic query
  rust/ql/src/queries/diagnostics/ExtractedFiles.ql
  rust/ql/test/query-tests/diagnostics/ExtractedFiles.expected
  rust/ql/test/query-tests/diagnostics/ExtractedFiles.qlref
  rust/ql/test/query-tests/diagnostics/does_not_compile.rs
  rust/ql/test/query-tests/diagnostics/error.rs
  rust/ql/test/query-tests/diagnostics/main.rs
  rust/ql/test/query-tests/diagnostics/my_macro.rs
  rust/ql/test/query-tests/diagnostics/my_struct.rs
Labels: no-change-note-required, Rust

#17430 C++: Fix `__finally` related inconsistencies
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
Labels: C++, no-change-note-required

#17448 Rust: integrate into standard files+location library
  misc/codegen/lib/schema.py
  misc/codegen/loaders/schemaloader.py
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/translate.rs
  rust/extractor/src/trap.rs
  rust/prefix.dbscheme
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/IDEContextual.qll
  rust/ql/lib/codeql/Locations.qll
  rust/ql/lib/codeql/files/FileSystem.qll
  rust/ql/lib/codeql/rust/controlflow/internal/PrintCfg.ql
  rust/ql/lib/codeql/rust/elements.qll
  rust/ql/lib/codeql/rust/elements/DbFile.qll
  rust/ql/lib/codeql/rust/elements/DbFileConstructor.qll
  rust/ql/lib/codeql/rust/elements/DbLocation.qll
  rust/ql/lib/codeql/rust/elements/DbLocationConstructor.qll
  rust/ql/lib/codeql/rust/elements/File.qll
  rust/ql/lib/codeql/rust/elements/Locatable.qll
  rust/ql/lib/codeql/rust/elements/Location.qll
  rust/ql/lib/codeql/rust/elements/UnknownFile.qll
  rust/ql/lib/codeql/rust/elements/UnknownLocation.qll
  rust/ql/lib/codeql/rust/generated/DbFile.qll
  rust/ql/lib/codeql/rust/generated/DbLocation.qll
  rust/ql/lib/codeql/rust/generated/File.qll
  rust/ql/lib/codeql/rust/generated/Locatable.qll
  rust/ql/lib/codeql/rust/generated/Location.qll
  rust/ql/lib/codeql/rust/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/generated/Raw.qll
  rust/ql/lib/codeql/rust/generated/Synth.qll
  rust/ql/lib/codeql/rust/generated/SynthConstructors.qll
  rust/ql/lib/codeql/rust/generated/UnknownFile.qll
  rust/ql/lib/codeql/rust/generated/UnknownLocation.qll
  rust/ql/lib/codeql/rust/printast/PrintAst.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/lib/rust.qll
  rust/ql/test/TestUtils.qll
  rust/ql/test/extractor-tests/File/EmptyLocation.expected
  rust/ql/test/extractor-tests/File/EmptyLocation.ql
  rust/ql/test/extractor-tests/File/File.expected
  rust/ql/test/extractor-tests/File/File.ql
  rust/ql/test/extractor-tests/File/a_file.rs
  rust/ql/test/extractor-tests/File/another_file.rs
  rust/ql/test/extractor-tests/generated/File/File.ql
  rust/ql/test/extractor-tests/generated/File/test.rs
  rust/schema.py
  shared/tree-sitter-extractor/BUILD.bazel
  shared/tree-sitter-extractor/src/extractor/mod.rs
Labels: Rust

#17475 C#: Extract attributes on indexers.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Indexer.cs
  csharp/ql/lib/change-notes/2024-09-16-indexer-attributes.md
  csharp/ql/test/library-tests/attributes/AttributeArguments.expected
  csharp/ql/test/library-tests/attributes/AttributeElements.expected
  csharp/ql/test/library-tests/attributes/ExperimentalAttributes.expected
  csharp/ql/test/library-tests/attributes/PrintAst.expected
  csharp/ql/test/library-tests/attributes/attributes.cs
Labels: C#, documentation

#17464 Rust: Add lines-of-code queries
  rust/ql/lib/codeql/files/FileSystem.qll
  rust/ql/src/queries/summary/LinesOfCode.ql
  rust/ql/src/queries/summary/LinesOfUserCode.ql
  rust/ql/src/queries/summary/LinesOfUserCodeInFiles.ql
  rust/ql/src/queries/summary/Stats.qll
  rust/ql/src/queries/summary/SummaryStats.ql
  rust/ql/test/query-tests/diagnostics/LinesOfCode.expected
  rust/ql/test/query-tests/diagnostics/LinesOfCode.qlref
  rust/ql/test/query-tests/diagnostics/LinesOfUserCode.expected
  rust/ql/test/query-tests/diagnostics/LinesOfUserCode.qlref
  rust/ql/test/query-tests/diagnostics/LinesOfUserCodeInFiles.expected
  rust/ql/test/query-tests/diagnostics/LinesOfUserCodeInFiles.qlref
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
  rust/ql/test/query-tests/diagnostics/SummaryStats.qlref
Labels: no-change-note-required, Rust

#17478 Python: replace `src_archive` exclusion patterns with `*.testproj` ones
  python/ql/test/2/extractor-tests/hidden/options
  python/ql/test/extractor-tests/exo_path/options
  python/ql/test/extractor-tests/filter-option/options
  python/ql/test/extractor-tests/flags/options
  python/ql/test/extractor-tests/identical_contents/options
  python/ql/test/extractor-tests/paths/options
  python/ql/test/extractor-tests/thrift/options
  python/ql/test/library-tests/modules/spurious_init/options
  python/ql/test/library-tests/thrift/options
Labels: Python

#17474 Swift: tentative fix to Cfg disambuigation
  swift/ql/test/library-tests/controlflow/graph/Cfg.ql
Labels: Swift

#17460 Rust: introduce typed labels
  misc/codegen/generators/rustgen.py
  misc/codegen/lib/rust.py
  misc/codegen/templates/rust_classes.mustache
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/translate.rs
  rust/extractor/src/trap.rs
  rust/schema.py
Labels: no-change-note-required, Rust

#17456 CodeQL 2.18.4 unified changelog
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.18.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#17479 Rust: introduce `Unextracted` and `Missing` "marker" classes
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements.qll
  rust/ql/lib/codeql/rust/elements/Missing.qll
  rust/ql/lib/codeql/rust/elements/MissingExpr.qll
  rust/ql/lib/codeql/rust/elements/MissingImpl.qll
  rust/ql/lib/codeql/rust/elements/MissingPat.qll
  rust/ql/lib/codeql/rust/elements/Unextracted.qll
  rust/ql/lib/codeql/rust/elements/UnextractedImpl.qll
  rust/ql/lib/codeql/rust/elements/Unimplemented.qll
  rust/ql/lib/codeql/rust/generated/Missing.qll
  rust/ql/lib/codeql/rust/generated/MissingExpr.qll
  rust/ql/lib/codeql/rust/generated/MissingPat.qll
  rust/ql/lib/codeql/rust/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/generated/Raw.qll
  rust/ql/lib/codeql/rust/generated/Synth.qll
  rust/ql/lib/codeql/rust/generated/Unextracted.qll
  rust/ql/lib/codeql/rust/generated/Unimplemented.qll
  rust/ql/lib/rust.dbscheme
  rust/schema.py
Labels: Rust

#17465 Rust: Add Missing Elements query
  rust/ql/src/queries/diagnostics/UnextractedElements.ql
  rust/ql/test/query-tests/diagnostics/UnextractedElements.expected
  rust/ql/test/query-tests/diagnostics/UnextractedElements.qlref
  rust/ql/test/query-tests/diagnostics/main.rs
  rust/ql/test/query-tests/diagnostics/my_macro.rs
Labels: no-change-note-required, Rust

#17485 Merge rc/3.15 into main
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.18.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#17487 Swift: Add change note
  swift/ql/lib/change-notes/2024-09-16-final-classes.md
  swift/ql/test/query-tests/Security/CWE-078/CommandInjection.expected.orig
Labels: documentation, Swift

#17477 Rust/Codegen: make `() -> ()` the default signature
  misc/codegen/lib/schema.py
  misc/codegen/loaders/schemaloader.py
  rust/schema.py
Labels: Rust

#17383 Update "About CodeQL" to cover the information needs of security researchers better
  docs/codeql/codeql-language-guides/codeql-for-cpp.rst
  docs/codeql/codeql-language-guides/codeql-for-go.rst
  docs/codeql/codeql-language-guides/codeql-for-java.rst
  docs/codeql/codeql-language-guides/codeql-for-javascript.rst
  docs/codeql/codeql-overview/about-codeql.rst
  docs/codeql/writing-codeql-queries/running-codeql-queries.rst
Labels: documentation, ready-for-doc-review

#17484 Java: Deprecate RefType.nestedName(), and add RefType.getNestedName()
  java/ql/automodel/src/AutomodelAlertSinkUtil.qll
  java/ql/automodel/src/AutomodelApplicationModeCharacteristics.qll
  java/ql/automodel/src/AutomodelFrameworkModeCharacteristics.qll
  java/ql/lib/change-notes/2024-09-16-nestedName.md
  java/ql/lib/semmle/code/java/Annotation.qll
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.ql
  java/ql/src/Telemetry/ExternalApi.qll
  java/ql/src/utils/flowtestcasegenerator/FlowTestCaseUtils.qll
  java/ql/src/utils/modeleditor/ModelEditor.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/test/library-tests/neutrals/neutralsinks/NeutralSinksTest.ql
Labels: documentation, Java

#17361 Update the Docs landing page for the CodeQL docs site
  docs/codeql/_templates/layout.html
  docs/codeql/codeql-language-guides/codeql-for-cpp.rst
  docs/codeql/codeql-language-guides/codeql-for-go.rst
  docs/codeql/codeql-language-guides/codeql-for-java.rst
  docs/codeql/codeql-language-guides/codeql-for-javascript.rst
  docs/codeql/codeql-overview/about-codeql.rst
  docs/codeql/codeql-overview/codeql-tools.rst
  docs/codeql/index.html
  docs/codeql/writing-codeql-queries/index.rst
  docs/codeql/writing-codeql-queries/running-codeql-queries.rst
Labels: documentation, ready-for-doc-review

#16936 C#: Adopt shared SSA data-flow integration
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/barrier-guards/BarrierFlow.cs
  csharp/ql/test/library-tests/dataflow/barrier-guards/barrier-flow.expected
  csharp/ql/test/library-tests/dataflow/barrier-guards/barrier-flow.ql
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/tuples/DataFlowStep.expected
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Labels: C#, no-change-note-required, Ruby

#17492 Rust: add windows tools
  rust/tools/BUILD.bazel
  rust/tools/autobuild.cmd
  rust/tools/autobuild.sh
  rust/tools/index-files.cmd
Labels: Rust

#17459 C#: Add MaD support for `Attribute.Getter` and `Attribute.Setter`.
  csharp/ql/lib/change-notes/2024-09-16-accessor-mad.md
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  csharp/ql/test/library-tests/dataflow/external-models/Sinks.cs
  csharp/ql/test/library-tests/dataflow/external-models/Sources.cs
  csharp/ql/test/library-tests/dataflow/external-models/sinks.expected
  csharp/ql/test/library-tests/dataflow/external-models/sinks.ext.yml
  csharp/ql/test/library-tests/dataflow/external-models/srcs.expected
  csharp/ql/test/library-tests/dataflow/external-models/srcs.ext.yml
Labels: C#, documentation

#17490 Java: Fix support for variable capture inside object initializers.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/capture/B.java
  java/ql/test/library-tests/dataflow/capture/inlinetest.expected
  shared/dataflow/codeql/dataflow/VariableCapture.qll
Labels: Java, no-change-note-required, DataFlow Library

#17499 Rust: Add more summary stats.
  rust/ql/src/queries/summary/SummaryStats.ql
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
Labels: no-change-note-required, Rust

#17400 Go: add tests for dataflow relating to type aliasing
  go/ql/test/library-tests/semmle/go/aliases/DataflowFields/embedding.go
  go/ql/test/library-tests/semmle/go/aliases/DataflowFields/go.mod
  go/ql/test/library-tests/semmle/go/aliases/DataflowFields/pkg1/struct.go
  go/ql/test/library-tests/semmle/go/aliases/DataflowFields/pkg2/struct.go
  go/ql/test/library-tests/semmle/go/aliases/DataflowFields/simple.go
  go/ql/test/library-tests/semmle/go/aliases/DataflowFields/test.expected
  go/ql/test/library-tests/semmle/go/aliases/DataflowFields/test.ql
  go/ql/test/library-tests/semmle/go/aliases/InterfaceImpls/flow.expected
  go/ql/test/library-tests/semmle/go/aliases/InterfaceImpls/flow.ql
  go/ql/test/library-tests/semmle/go/aliases/InterfaceImpls/test.expected
  go/ql/test/library-tests/semmle/go/aliases/InterfaceImpls/test.go
  go/ql/test/library-tests/semmle/go/aliases/MethodDefs/methods.go
  go/ql/test/library-tests/semmle/go/aliases/MethodDefs/test.expected
  go/ql/test/library-tests/semmle/go/aliases/defsuses/defsuses.go
  go/ql/test/library-tests/semmle/go/aliases/defsuses/test.expected
Labels: Go

#17412 JS: Fix handling of constant array index reads, and fix the fallout
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/Contents.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/DataFlowPrivate.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/FlowSummaryPrivate.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/TaintTrackingPrivate.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Arrays.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/ForOfLoops.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Strings.qll
  javascript/ql/lib/semmle/javascript/security/TaintedUrlSuffix.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/DomBasedXssQuery.qll
  javascript/ql/test/library-tests/Arrays/DataFlow.expected
  javascript/ql/test/library-tests/Arrays/arrays.js
  javascript/ql/test/library-tests/FlowSummary/tst.js
  javascript/ql/test/library-tests/TaintedUrlSuffix/test.expected
  javascript/ql/test/library-tests/TaintedUrlSuffix/test.ql
  javascript/ql/test/library-tests/TaintedUrlSuffix/tst.js
  javascript/ql/test/library-tests/TripleDot/arrays.js
  javascript/ql/test/library-tests/TripleDot/tst.js
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/tst.js
  javascript/ql/test/query-tests/Security/CWE-601/ClientSideUrlRedirect/ClientSideUrlRedirect.expected
  javascript/ql/test/query-tests/Security/CWE-915/PrototypePollutingAssignment/PrototypePollutingAssignment.expected
Labels: JS, no-change-note-required

#17501 KE2: Adjust build scripts and add support for building inside IDEA
  java/kotlin-extractor2/.gitignore
  java/kotlin-extractor2/.idea/.gitignore
  java/kotlin-extractor2/.idea/kotlinc.xml
  java/kotlin-extractor2/.idea/libraries/jetbrains_kotlin_annotation_processing.xml
  java/kotlin-extractor2/.idea/libraries/jetbrains_kotlin_compiler.xml
  java/kotlin-extractor2/.idea/misc.xml
  java/kotlin-extractor2/.idea/modules.xml
  java/kotlin-extractor2/.idea/vcs.xml
  java/kotlin-extractor2/BUILD.bazel
  java/kotlin-extractor2/kotlin-extractor2.iml
  java/kotlin-extractor2/src/main/java/com/semmle/extractor/java/OdasaOutput.java
Labels: Java

#17508 Rust: Add consistency-queries pack
  rust/ql/consistency-queries/Placeholder.ql
  rust/ql/consistency-queries/qlpack.yml
Labels: Rust

#17491 Rust: add basic integration tests and fix archiving on Windows
  Cargo.lock
  rust/extractor/Cargo.toml
  rust/extractor/src/archive.rs
  rust/extractor/src/main.rs
  rust/extractor/src/path.rs
  rust/extractor/src/trap.rs
  rust/integration-tests/conftest.py
  rust/integration-tests/hello-project/functions.expected
  rust/integration-tests/hello-project/functions.ql
  rust/integration-tests/hello-project/manifests/Cargo.toml
  rust/integration-tests/hello-project/manifests/rust-project.json
  rust/integration-tests/hello-project/source_archive.expected
  rust/integration-tests/hello-project/src/directory_module/ignored.rs
  rust/integration-tests/hello-project/src/directory_module/mod.rs
  rust/integration-tests/hello-project/src/directory_module/nested_module.rs
  rust/integration-tests/hello-project/src/file_module.rs
  rust/integration-tests/hello-project/src/main.rs
  rust/integration-tests/hello-project/test_project.py
  rust/integration-tests/hello-workspace/exe/Cargo.toml
  rust/integration-tests/hello-workspace/exe/src/a_module.rs
  rust/integration-tests/hello-workspace/exe/src/main.rs
  rust/integration-tests/hello-workspace/functions.expected
  rust/integration-tests/hello-workspace/functions.ql
  rust/integration-tests/hello-workspace/lib/Cargo.toml
  rust/integration-tests/hello-workspace/lib/src/a_module/mod.rs
  rust/integration-tests/hello-workspace/lib/src/lib.rs
  rust/integration-tests/hello-workspace/manifests/Cargo.toml
  rust/integration-tests/hello-workspace/manifests/rust-project.json
  rust/integration-tests/hello-workspace/source_archive.expected
  rust/integration-tests/hello-workspace/test_workspace.py
  rust/integration-tests/qlpack.lock.yml
  rust/integration-tests/qlpack.yml
  rust/integration-tests/test.py
  rust/lint.py
Labels: Rust

#17504 Data flow: Remove spurious space in ` Sink:x` provenance
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  java/ql/test/experimental/query-tests/security/CWE-020/Log4jInjectionTest.expected
  java/ql/test/experimental/query-tests/security/CWE-073/FilePathInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-078/CommandInjectionRuntimeExecLocal.expected
  java/ql/test/experimental/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/experimental/query-tests/security/CWE-1004/SensitiveCookieNotHttpOnly.expected
  java/ql/test/experimental/query-tests/security/CWE-200/SensitiveAndroidFileLeak.expected
  java/ql/test/experimental/query-tests/security/CWE-346/UnvalidatedCors.expected
  java/ql/test/experimental/query-tests/security/CWE-352/JsonpInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-400/LocalThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/ZipSlip.expected
  java/ql/test/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTainted.expected
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/query-tests/security/CWE-094/InsecureBeanValidation.expected
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.expected
  java/ql/test/query-tests/security/CWE-134/semmle/tests/ExternallyControlledFormatString.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/TempDirLocalInformationDisclosure.expected
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.expected
  java/ql/test/query-tests/security/CWE-311/CWE-319/HttpsUrls.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: C++, Java, no-change-note-required, Ruby, DataFlow Library

#17363 C#/Java: Content based model generation improvements.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  java/ql/test/utils/modelgenerator/dataflow/p/InnerHolder.java
  java/ql/test/utils/modelgenerator/dataflow/p/Joiner.java
  java/ql/test/utils/modelgenerator/dataflow/p/MultiPaths.java
  java/ql/test/utils/modelgenerator/dataflow/p/MultipleImpls.java
  java/ql/test/utils/modelgenerator/dataflow/p/Pojo.java
  java/ql/test/utils/modelgenerator/dataflow/p/PrivateFlowViaPublicInterface.java
  shared/dataflow/codeql/dataflow/internal/ContentDataFlowImpl.qll
  shared/mad/codeql/mad/modelgenerator/ModelPrinting.qll
Labels: C#, Java, no-change-note-required, DataFlow Library

#17513 C#/Go: Fix test expectations including double space
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.expected
  csharp/ql/test/query-tests/Security Features/CWE-020/UntrustedDataToExternalAPI.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/StoredXSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/XSSAsp/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-201/ExposureInTransmittedData/ExposureInTransmittedData.expected
  csharp/ql/test/query-tests/Security Features/CWE-321/HardcodedSymmetricEncryptionKey/HardcodedSymmetricEncryptionKey.expected
  csharp/ql/test/query-tests/Security Features/CWE-838/InappropriateEncoding.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Encoding/jsoniter.expected
  go/ql/test/library-tests/semmle/go/frameworks/Gin/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Gorestful/gorestful.expected
  go/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegexp/IncompleteHostnameRegexp.expected
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
  go/ql/test/query-tests/Security/CWE-022/UnsafeUnzipSymlink.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-078/StoredCommand.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
Labels: C#, no-change-note-required, Go

#17515 Go: Run CI when shared libraries change
  .github/workflows/go-tests.yml
Labels: no-change-note-required

#17483 C#: Restrict dataflow node creation to source and source-referenced entities
  csharp/ql/lib/change-notes/2024-09-19-reduced-dataflow-nodes.md
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Labels: C#, documentation

#17510 Model summary for `org.springframework.core.io.getInputStream` methods
  java/ql/lib/ext/org.springframework.core.io.model.yml
  java/ql/lib/ext/org.springframework.web.multipart.model.yml
  java/ql/src/change-notes/2024-09-18-getInputStream-summary.md
  java/ql/test/library-tests/frameworks/spring/webmultipart/test.expected
Labels: documentation, Java

#17523 Codegen/Rust: allow breaking up schema file
  misc/codegen/codegen.py
  misc/codegen/loaders/schemaloader.py
  rust/BUILD.bazel
  rust/codegen.conf
  rust/ql/lib/rust.dbscheme
  rust/schema/__init__.py
  rust/schema/ast.py
  rust/schema/prelude.py
Labels: Rust

#17498 Rust: Improve CFG
  rust/ql/lib/codeql/rust/controlflow/internal/Completion.qll
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/controlflow/internal/Scope.qll
  rust/ql/lib/codeql/rust/controlflow/internal/SuccessorType.qll
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/test.rs
Labels: no-change-note-required, Rust

#16811 CPP: Disabled SSL certificate verification
  cpp/ql/src/experimental/Security/CWE/CWE-295/CurlSSL.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-295/CurlSSL.ql
  cpp/ql/src/experimental/Security/CWE/CWE-295/CurlSSLBad.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-295/CurlSSLGood.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-295/CurlSSL.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-295/CurlSSL.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-295/CurlSSL.qlref
Labels: C++, documentation

#17520 Shared: Do not use `@kind graph` for CFG test output
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.ql
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/Cfg.ql
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/Cfg.ql
  shared/controlflow/codeql/controlflow/Cfg.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/Cfg.ql
Labels: C#, no-change-note-required, Ruby, Rust, Swift

#17530 Codegen: allow full annotation of classes
  misc/codegen/lib/schema.py
  misc/codegen/lib/schemadefs.py
  misc/codegen/loaders/schemaloader.py
  misc/codegen/test/test_schemaloader.py
  rust/schema/__init__.py
  rust/schema/prelude.py
Labels: Rust

#17497 Rust: Placeholder queries for unused variable, unused value
  rust/ql/src/queries/unusedentities/UnusedValue.qhelp
  rust/ql/src/queries/unusedentities/UnusedValue.ql
  rust/ql/src/queries/unusedentities/UnusedValueBad.rs
  rust/ql/src/queries/unusedentities/UnusedValueGood.rs
  rust/ql/src/queries/unusedentities/UnusedVariable.qhelp
  rust/ql/src/queries/unusedentities/UnusedVariable.ql
  rust/ql/src/queries/unusedentities/UnusedVariableBad.rs
  rust/ql/src/queries/unusedentities/UnusedVariableGood.rs
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/UnusedValue.qlref
  rust/ql/test/query-tests/unusedentities/UnusedVariable.expected
  rust/ql/test/query-tests/unusedentities/UnusedVariable.qlref
  rust/ql/test/query-tests/unusedentities/main.rs
Labels: documentation, no-change-note-required, ready-for-doc-review, Rust

#17538 Update index.html
  docs/codeql/index.html
Labels: documentation

#17533 Codegen: introduce inherited pragmas and move remaining decorations
  misc/codegen/generators/qlgen.py
  misc/codegen/generators/rusttestgen.py
  misc/codegen/lib/ql.py
  misc/codegen/lib/schema.py
  misc/codegen/lib/schemadefs.py
  misc/codegen/loaders/schemaloader.py
  misc/codegen/test/test_cppgen.py
  misc/codegen/test/test_dbschemegen.py
  misc/codegen/test/test_qlgen.py
  misc/codegen/test/test_schemaloader.py
Labels: Rust

#17539 Rust/Codegen: allow to "detach" property emission
  misc/codegen/generators/rustgen.py
  misc/codegen/lib/rust.py
  misc/codegen/lib/schemadefs.py
  misc/codegen/templates/rust_classes.mustache
Labels: Rust

#17537 Rust: take test code also from property descriptions
  misc/codegen/generators/rusttestgen.py
  misc/codegen/lib/schema.py
Labels: Rust

#17540 Python: Expand `StringConstCompareBarrier` sanitizer gaurds to cover additional constants
  python/ql/lib/change-notes/2024-09-20-const-compare-gaurd.md
  python/ql/lib/semmle/python/dataflow/new/BarrierGuards.qll
  python/ql/lib/semmle/python/security/dataflow/CodeInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/CommandInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/LdapInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/LogInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/PathInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/PolynomialReDoSCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/ReflectedXSSCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/ServerSideRequestForgeryCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/SqlInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/UnsafeDeserializationCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/UrlRedirectCustomizations.qll
  python/ql/src/experimental/Security/CWE-074/TemplateInjectionCustomizations.qll
  python/ql/src/experimental/Security/CWE-091/XsltInjectionCustomizations.qll
  python/ql/src/experimental/semmle/python/security/dataflow/EmailXss.qll
  python/ql/src/experimental/semmle/python/security/injection/CsvInjection.qll
  python/ql/test/library-tests/dataflow/tainttracking/commonSanitizer/InlineTaintTest.ql
  python/ql/test/library-tests/dataflow/tainttracking/commonSanitizer/test_const_compare.py
Labels: documentation, Python

#17216 Go: support extracting test code
  go/codeql-extractor.yml
  go/extractor/cli/go-extractor/go-extractor.go
  go/extractor/extractor.go
  go/extractor/toolchain/toolchain.go
  go/ql/integration-tests/go-mod-sample/src/blackbox_test.go
  go/ql/integration-tests/go-mod-sample/src/test.go
  go/ql/integration-tests/go-mod-sample/src/test_test.go
  go/ql/integration-tests/test-extraction-autobuild/src/Makefile
  go/ql/integration-tests/test-extraction-autobuild/src/go.mod
  go/ql/integration-tests/test-extraction-autobuild/src/go.sum
  go/ql/integration-tests/test-extraction-autobuild/src/testme.go
  go/ql/integration-tests/test-extraction-autobuild/src/testme_blackbox_test.go
  go/ql/integration-tests/test-extraction-autobuild/src/testme_test.go
  go/ql/integration-tests/test-extraction-autobuild/test.expected
  go/ql/integration-tests/test-extraction-autobuild/test.py
  go/ql/integration-tests/test-extraction-autobuild/test.ql
  go/ql/integration-tests/test-extraction-traced/src/Makefile
  go/ql/integration-tests/test-extraction-traced/src/go.mod
  go/ql/integration-tests/test-extraction-traced/src/go.sum
  go/ql/integration-tests/test-extraction-traced/src/testme.go
  go/ql/integration-tests/test-extraction-traced/src/testme_blackbox_test.go
  go/ql/integration-tests/test-extraction-traced/src/testme_test.go
  go/ql/integration-tests/test-extraction-traced/test.expected
  go/ql/integration-tests/test-extraction-traced/test.py
  go/ql/integration-tests/test-extraction-traced/test.ql
  go/ql/integration-tests/traced-extraction/src/Makefile
  go/ql/integration-tests/traced-extraction/src/go.mod
  go/ql/integration-tests/traced-extraction/src/go.sum
  go/ql/integration-tests/traced-extraction/src/testme.go
  go/ql/integration-tests/traced-extraction/src/testme_blackbox_test.go
  go/ql/integration-tests/traced-extraction/src/testme_test.go
  go/ql/integration-tests/traced-extraction/test.expected
  go/ql/integration-tests/traced-extraction/test.py
  go/ql/integration-tests/traced-extraction/test.ql
Labels: Go

#17300 Data flow: Cache `TNodeEx`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ProductFlow.qll
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-1004/CookieWithoutHttpOnly.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-078/CommandInjectionRuntimeExecLocal.expected
  java/ql/test/library-tests/frameworks/apache-commons-lang3/flow.expected
  java/ql/test/query-tests/security/CWE-078/ExecTainted.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/frameworks/action_controller/params-flow.expected
  ruby/ql/test/query-tests/experimental/LdapInjection/Ldapinjection.expected
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/StoredXSS.expected
  ruby/ql/test/query-tests/security/cwe-089/SqlInjection.expected
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection/CodeInjection.expected
  ruby/ql/test/query-tests/security/cwe-117/LogInjection.expected
  ruby/ql/test/query-tests/security/cwe-1333-regexp-injection/RegExpInjection.expected
  ruby/ql/test/query-tests/security/cwe-134/TaintedFormatString.expected
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.expected
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
Labels: C++, depends on internal PR, Java, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#17543 Rust: generate the extractor
  rust/extractor/src/main.rs
  rust/extractor/src/translate.rs
  rust/extractor/src/translate/.gitattributes
  rust/extractor/src/translate/base.rs
  rust/extractor/src/translate/generated.rs
  rust/generate-schema/src/main.rs
  rust/schema/.gitattributes
  rust/schema/ast.py
Labels: no-change-note-required, Rust

#17305 Python: Add Support for CORS Middlewares
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/frameworks/FastApi.qll
  python/ql/lib/semmle/python/frameworks/Starlette.qll
  python/ql/src/change-notes/2024-08-26-Cors-misconfiguration-middleware.md
  python/ql/src/experimental/Security/CWE-942/CorsMisconfigurationMiddleware.qhelp
  python/ql/src/experimental/Security/CWE-942/CorsMisconfigurationMiddleware.ql
  python/ql/src/experimental/Security/CWE-942/CorsMisconfigurationMiddlewareBad.py
  python/ql/src/experimental/Security/CWE-942/CorsMisconfigurationMiddlewareGood.py
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/library-tests/frameworks/fastapi/middleware.py
  python/ql/test/library-tests/frameworks/starlette/Middleware.py
  python/ql/test/query-tests/Security/CWE-942-CorsMisconfigurationMiddleware/CorsMisconfigurationMiddleware.expected
  python/ql/test/query-tests/Security/CWE-942-CorsMisconfigurationMiddleware/CorsMisconfigurationMiddleware.qlref
  python/ql/test/query-tests/Security/CWE-942-CorsMisconfigurationMiddleware/fastapi.py
  python/ql/test/query-tests/Security/CWE-942-CorsMisconfigurationMiddleware/starlette.py
Labels: documentation, Python

#17360 Go: Expose whether functions are variadic in their pp() output
  go/ql/lib/semmle/go/Types.qll
  go/ql/test/library-tests/semmle/go/PrintAst/PrintAst.expected
  go/ql/test/library-tests/semmle/go/PrintAst/PrintAstExcludeComments.expected
Labels: no-change-note-required, Go

#17557 Rust: CFG improvements
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/controlflow/ControlFlowGraph.qll
  rust/ql/lib/codeql/rust/controlflow/internal/Completion.qll
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/controlflow/internal/SuccessorType.qll
  rust/ql/lib/codeql/rust/elements/internal/MatchExprImpl.qll
  rust/ql/test/library-tests/controlflow/Cfg.expected
  shared/controlflow/codeql/controlflow/Cfg.qll
Labels: no-change-note-required, Rust

#17571 Downgrade IncorrectIntegerConversionQuery precision to high
  go/ql/src/Security/CWE-681/IncorrectIntegerConversionQuery.ql
  go/ql/src/change-notes/2024-09-24-incorrect-integer-conversion-query-precision.md
Labels: documentation, Go

#17578 Cpp: Replace sink inlining with a forward scan from source.
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/InvalidPointerToDereference.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: C++, no-change-note-required, DataFlow Library

#17558 Rust: Enable CFG consistency checks
  csharp/ql/consistency-queries/CfgConsistency.ql
  ruby/ql/consistency-queries/CfgConsistency.ql
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/consistency-queries/CfgConsistency.ql
  rust/ql/consistency-queries/Placeholder.ql
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/elements/LogicalOperation.qll
  rust/ql/lib/codeql/rust/elements/internal/BinaryExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/PrefixExprImpl.qll
  rust/ql/lib/rust.qll
  rust/ql/test/extractor-tests/generated/BinaryExpr/BinaryExpr.expected
  rust/ql/test/extractor-tests/generated/BinaryExpr/BinaryExpr_getLhs.expected
  rust/ql/test/extractor-tests/generated/BinaryExpr/BinaryExpr_getOperatorName.expected
  rust/ql/test/extractor-tests/generated/BinaryExpr/BinaryExpr_getRhs.expected
  rust/ql/test/extractor-tests/generated/ClosureExpr/ClosureExpr_getBody.expected
  rust/ql/test/extractor-tests/generated/IfExpr/IfExpr_getCondition.expected
  rust/ql/test/extractor-tests/generated/MatchArm/CONSISTENCY/CfgConsistency.expected
  rust/ql/test/extractor-tests/generated/MatchArm/MatchArm_getExpr.expected
  rust/ql/test/extractor-tests/generated/MatchExpr/CONSISTENCY/CfgConsistency.expected
  rust/ql/test/extractor-tests/generated/PrefixExpr/PrefixExpr.expected
  rust/ql/test/extractor-tests/generated/PrefixExpr/PrefixExpr_getExpr.expected
  rust/ql/test/extractor-tests/generated/PrefixExpr/PrefixExpr_getOperatorName.expected
  rust/ql/test/library-tests/controlflow/CONSISTENCY/CfgConsistency.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  shared/controlflow/codeql/controlflow/Cfg.qll
Labels: C#, no-change-note-required, Ruby, Rust

#17580 Revert changes that made the links in the drop-down on CodeQL docs site relative
  docs/codeql/_templates/layout.html
Labels: documentation, no-change-note-required

#17576 C++: Do not wrap quoted text to the next line
  cpp/ql/lib/semmle/code/cpp/Type.qll
Labels: C++, no-change-note-required

#17586 Fix link to change logs on landing page
  docs/codeql/index.html
Labels: documentation, no-change-note-required

#17583 C++: Remove `inline` pragma from sink
  cpp/ql/lib/semmle/code/cpp/security/flowafterfree/FlowAfterFree.qll
Labels: C++, no-change-note-required

#17587 Resolve id conflict with XssWithAdditionalSources.ql
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.ql
Labels: JS

#17555 Add support for Kotlin 2.1.0-Beta1
  MODULE.bazel
  docs/codeql/reusables/supported-versions-compilers.rst
  java/kotlin-extractor/deps/kotlin-compiler-2.1.0-Beta1.jar
  java/kotlin-extractor/deps/kotlin-compiler-embeddable-2.1.0-Beta1.jar
  java/kotlin-extractor/deps/kotlin-stdlib-2.1.0-Beta1.jar
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/MetaAnnotationSupport.kt
  java/kotlin-extractor/src/main/kotlin/utils/JvmNames.kt
  java/kotlin-extractor/src/main/kotlin/utils/TypeSubstitution.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/CodeQLIrConst.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/CodeQLIsRoot.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Types.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_20/Types.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_1_0-Beta1/CodeQLIrConst.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_1_0-Beta1/CodeQLIsRoot.kt
  java/kotlin-extractor/versions.bzl
  java/ql/integration-tests/kotlin/all-platforms/diagnostics/kotlin-version-too-new/diagnostics.expected
  java/ql/lib/change-notes/2024-09-20-kotlin-2.1.0.md
Labels: documentation, Java, Kotlin

#17582 C#: `AttributeCollection` is no longer considered a HTML sink.
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsinks/Html.qll
  csharp/ql/src/change-notes/2024-09-25-attribute-collection-sink.md
  csharp/ql/test/query-tests/Security Features/CWE-079/XSSAsp/AspInline.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/XSSAsp/XSS.cs
  csharp/ql/test/query-tests/Security Features/CWE-079/XSSAsp/XSS.expected
Labels: C#, documentation

#17509 C#/Java: Re-factor the model generator to be a parameterized module.
  config/identical-files.json
  csharp/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsPrinting.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureSummaryFlowQuery.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.ql
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  java/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  java/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsPrinting.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/modelgenerator/internal/CaptureSummaryFlowQuery.qll
  java/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  java/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  java/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.ql
  java/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.ql
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
  shared/mad/codeql/mad/modelgenerator/internal/ModelPrinting.qll
  shared/mad/qlpack.yml
Labels: C#, Java, no-change-note-required

#17591 Add change note for Java 23 support
  java/ql/lib/change-notes/2024-09-25-java-23.md
Labels: documentation, Java

#17589 Rust: Repair rust/diagnostics/unextracted-elements
  rust/ql/src/queries/diagnostics/UnextractedElements.ql
  rust/ql/test/query-tests/diagnostics/UnextractedElements.expected
  rust/ql/test/query-tests/diagnostics/UnextractedElements.qlref
Labels: Rust

#17203 Python: Add support for threat models
  docs/codeql/codeql-language-guides/customizing-library-models-for-python.rst
  docs/codeql/reusables/beta-note-threat-models.rst
  python/ql/lib/change-notes/2024-08-16-threat-models.md
  python/ql/lib/ext/default-threat-models-fixup.model.yml
  python/ql/lib/qlpack.yml
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/dataflow/new/RemoteFlowSources.qll
  python/ql/lib/semmle/python/frameworks/PEP249.qll
  python/ql/lib/semmle/python/frameworks/Stdlib.model.yml
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/lib/semmle/python/frameworks/data/ModelsAsData.qll
  python/ql/lib/semmle/python/security/dataflow/CodeInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/CommandInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/CookieInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/HttpHeaderInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/LdapInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/LogInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/PamAuthorizationCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/PathInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/PolynomialReDoSCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/ReflectedXSSCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/RegexInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/ServerSideRequestForgeryCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/SqlInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/UnsafeDeserializationCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/UrlRedirectCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/XpathInjectionCustomizations.qll
  python/ql/src/experimental/Security/CWE-074/TemplateInjectionCustomizations.qll
  python/ql/src/experimental/Security/CWE-091/XsltInjectionCustomizations.qll
  python/ql/src/experimental/Security/CWE-094/Js2Py.ql
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/experimental/meta/InlineTaintTest.qll
  python/ql/test/library-tests/frameworks/django-v2-v3/manage.py
  python/ql/test/library-tests/frameworks/django-v2-v3/testproj/asgi.py
  python/ql/test/library-tests/frameworks/django-v2-v3/testproj/wsgi.py
  python/ql/test/library-tests/frameworks/psycopg/pep249.py
  python/ql/test/library-tests/frameworks/rest_framework/manage.py
  python/ql/test/library-tests/frameworks/stdlib-py3/FileSystemAccess.py
  python/ql/test/library-tests/frameworks/stdlib/FileSystemAccess.py
  python/ql/test/library-tests/frameworks/stdlib/threat_models.py
  python/ql/test/library-tests/frameworks/stdlib/wsgiref_simple_server_test.py
  python/ql/test/library-tests/threat-models/default/ActiveKinds.expected
  python/ql/test/library-tests/threat-models/default/ActiveKinds.ql
  python/ql/test/query-tests/Security/CWE-089-SqlInjection-local-threat-model/SqlInjection.expected
  python/ql/test/query-tests/Security/CWE-089-SqlInjection-local-threat-model/SqlInjection.ext.yml
  python/ql/test/query-tests/Security/CWE-089-SqlInjection-local-threat-model/SqlInjection.qlref
  python/ql/test/query-tests/Security/CWE-089-SqlInjection-local-threat-model/test.py
  shared/threat-models/codeql/threatmodels/ThreatModels.qll
Labels: documentation, Python

#17507 KE2: Format code in IDEA
  java/kotlin-extractor2/src/main/kotlin/KotlinExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/TrapFileWriter.kt
  java/kotlin-extractor2/src/main/kotlin/TrapWriter.kt
  java/kotlin-extractor2/src/main/kotlin/utils/Logger.kt
  java/kotlin-extractor2/src/main/kotlin/utils/TypeResults.kt
Labels: Java

#17585 Shared: Add CFG consistency check for scopes with missing entry points
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  ql/.gitignore
  ruby/.gitignore
  ruby/ql/consistency-queries/CfgConsistency.ql
  rust/ql/consistency-queries/CfgConsistency.ql
  rust/ql/test/library-tests/controlflow/Cfg.ql
  shared/controlflow/codeql/controlflow/Cfg.qll
Labels: C#, no-change-note-required, Ruby, Rust

#17553 C++: Remove FPs in cpp/wrong-number-format-arguments due to BMN
  cpp/ql/lib/semmle/code/cpp/Function.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/src/change-notes/2024-09-26-wrong-number-format-arguments.md
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/WrongNumberOfFormatArguments.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/custom_printf.cpp
  cpp/ql/test/query-tests/Likely Bugs/Format/WrongNumberOfFormatArguments/test.c
Labels: C++, documentation

#17594 KE2: Remove the declaration stack for now
  java/kotlin-extractor2/src/main/kotlin/KotlinExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Class.kt
Labels: Java

#17505 Go: Add tests for model inheritance and fix bug in promoted methods
  go/ql/lib/change-notes/2024-09-24-incorrectly-promoted-methods.md
  go/ql/lib/semmle/go/Types.qll
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/go.mod
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_IEmbedI1_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_IEmbedI1_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_IEmbedI1_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_IEmbedI2_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_IEmbedI2_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_IEmbedI2_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedI1_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedI1_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedI1_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedI2_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedI2_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedI2_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedS1_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedS1_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedS1_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedS2_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedS2_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SEmbedS2_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedI1_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedI1_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedI1_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedI2_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedI2_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedI2_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedS1_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedS1_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedS1_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedS2_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedS2_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_SImplEmbedS2_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i1_subtypes_false.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i1_subtypes_false.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i1_subtypes_false.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i1_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i1_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i1_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i2_subtypes_false.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i2_subtypes_false.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i2_subtypes_false.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i2_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i2_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_i2_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_s1_subtypes_false.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_s1_subtypes_false.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_s1_subtypes_false.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_s1_subtypes_true.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_s1_subtypes_true.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_s1_subtypes_true.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/ql_I1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/ql_I1.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/ql_S1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/ql_S1.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/test.go
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/vendor/github.com/nonexistent/test/stub.go
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/vendor/modules.txt
Labels: documentation, Go

#17560 Codegen: Do not cache injectors/projectors in `Synth` module
  misc/codegen/templates/ql_synth_types.mustache
  rust/ql/.generated.list
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/generated/Synth.qll
Labels: no-change-note-required, Rust, Swift

#17600 KE2: Add bugfix from KE1's #17599
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
Labels: Java

#17599 Kotlin: Fix the return type for lambda constructors
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test-kotlin1/library-tests/methods/constructors.expected
  java/ql/test-kotlin1/library-tests/methods/constructors.ql
  java/ql/test-kotlin2/library-tests/methods/constructors.expected
  java/ql/test-kotlin2/library-tests/methods/constructors.ql
Labels: Java, Kotlin

#17607 Go: Add comments noting methods from embedded interfaces are already included
  go/extractor/extractor.go
  go/ql/lib/semmle/go/Types.qll
Labels: no-change-note-required, Go

#17605 Java: Add a couple of neutrals
  java/ql/lib/ext/java.lang.model.yml
Labels: Java, no-change-note-required

#17602 Rust: Prune CFG for obviously impossible `true/false` edges
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/controlflow/internal/Completion.qll
  rust/ql/lib/codeql/rust/elements/internal/LiteralExprImpl.qll
  rust/ql/test/extractor-tests/generated/ArrayExpr/ArrayExpr_getExpr.expected
  rust/ql/test/extractor-tests/generated/BreakExpr/BreakExpr_getExpr.expected
  rust/ql/test/extractor-tests/generated/IndexExpr/IndexExpr_getIndex.expected
  rust/ql/test/extractor-tests/generated/LetStmt/LetStmt_getInitializer.expected
  rust/ql/test/extractor-tests/generated/LiteralExpr/LiteralExpr.expected
  rust/ql/test/extractor-tests/generated/LiteralExpr/LiteralExpr_getTextValue.expected
  rust/ql/test/extractor-tests/generated/LiteralPat/LiteralPat_getLiteral.expected
  rust/ql/test/extractor-tests/generated/MatchArm/MatchArm_getExpr.expected
  rust/ql/test/extractor-tests/generated/PrefixExpr/PrefixExpr_getExpr.expected
  rust/ql/test/extractor-tests/generated/RangeExpr/RangeExpr_getEnd.expected
  rust/ql/test/extractor-tests/generated/RangeExpr/RangeExpr_getStart.expected
  rust/ql/test/extractor-tests/generated/RecordExprField/RecordExprField_getExpr.expected
  rust/ql/test/extractor-tests/generated/ReturnExpr/ReturnExpr_getExpr.expected
  rust/ql/test/extractor-tests/generated/TupleExpr/TupleExpr_getField.expected
  rust/ql/test/extractor-tests/generated/YeetExpr/YeetExpr_getExpr.expected
  rust/ql/test/extractor-tests/generated/YieldExpr/YieldExpr_getExpr.expected
  rust/ql/test/extractor-tests/utf8/ast.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/test.rs
Labels: Rust

#17579 Java: Add more type-based sanitizers.
  java/ql/lib/semmle/code/java/security/Sanitizers.qll
Labels: Java, no-change-note-required

#17617 Rust: Add extraction error consistency query
  rust/ql/.generated.list
  rust/ql/consistency-queries/ExtractionConsistency.ql
  rust/ql/lib/codeql/rust/elements/ExprStmt.qll
  rust/ql/lib/codeql/rust/elements/IfExpr.qll
  rust/ql/lib/codeql/rust/elements/PrefixExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/ExprStmtImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/IfExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/PrefixExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ExprStmt.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/IfExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/PrefixExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/test/extractor-tests/generated/.generated_tests.list
  rust/ql/test/extractor-tests/generated/ExprStmt/ExprStmt.expected
  rust/ql/test/extractor-tests/generated/ExprStmt/ExprStmt_getExpr.expected
  rust/ql/test/extractor-tests/generated/ExprStmt/gen_expr_stmt.rs
  rust/ql/test/extractor-tests/generated/IfExpr/gen_if_expr.rs
  rust/ql/test/extractor-tests/generated/PrefixExpr/gen_prefix_expr.rs
  rust/ql/test/extractor-tests/utf8/CONSISTENCY/ExtractionConsistency.expected
  rust/ql/test/library-tests/controlflow/CONSISTENCY/CfgConsistency.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/test.rs
  rust/ql/test/query-tests/diagnostics/CONSISTENCY/ExtractionConsistency.expected
  rust/schema/annotations.py
Labels: Rust

#17521 C#/Java: Content based model generation improvements.
  csharp/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureMixedNeutralModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureMixedSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs_
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.dll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
  java/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  java/ql/src/utils/modelgenerator/CaptureMixedNeutralModels.ql
  java/ql/src/utils/modelgenerator/CaptureMixedSummaryModels.ql
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/test/library-tests/dataflow/external-models/C.java
  java/ql/test/library-tests/dataflow/external-models/steps.expected
  java/ql/test/library-tests/dataflow/external-models/steps.ext.yml
  java/ql/test/library-tests/dataflow/external-models/stubs/Library.java
  java/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  java/ql/test/utils/modelgenerator/dataflow/p/Factory.java
  java/ql/test/utils/modelgenerator/dataflow/p/Fanout.java
  java/ql/test/utils/modelgenerator/dataflow/p/FinalClass.java
  java/ql/test/utils/modelgenerator/dataflow/p/FluentAPI.java
  java/ql/test/utils/modelgenerator/dataflow/p/ImmutablePojo.java
  java/ql/test/utils/modelgenerator/dataflow/p/Inheritance.java
  java/ql/test/utils/modelgenerator/dataflow/p/InnerClasses.java
  java/ql/test/utils/modelgenerator/dataflow/p/InnerHolder.java
  java/ql/test/utils/modelgenerator/dataflow/p/Joiner.java
  java/ql/test/utils/modelgenerator/dataflow/p/MultiPaths.java
  java/ql/test/utils/modelgenerator/dataflow/p/MultipleImpl2.java
  java/ql/test/utils/modelgenerator/dataflow/p/MultipleImpls.java
  java/ql/test/utils/modelgenerator/dataflow/p/ParamFlow.java
  java/ql/test/utils/modelgenerator/dataflow/p/Pojo.java
  java/ql/test/utils/modelgenerator/dataflow/p/PrivateFlowViaPublicInterface.java
  java/ql/test/utils/modelgenerator/dataflow/p/SyntheticCollections.java
  misc/scripts/models-as-data/generate_flow_model.py
  shared/dataflow/codeql/dataflow/internal/ContentDataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
Labels: C#, Java, no-change-note-required, DataFlow Library

#17619 C#: reduce extraction message severity for missing text files
  csharp/extractor/Semmle.Extraction.CSharp/Entities/File.cs
Labels: C#

#17623 Rust: Add labelled block example
  rust/ql/.generated.list
  rust/ql/lib/codeql/rust/elements/BreakExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/BreakExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/BreakExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/test/extractor-tests/generated/.generated_tests.list
  rust/ql/test/extractor-tests/generated/BreakExpr/BreakExpr.expected
  rust/ql/test/extractor-tests/generated/BreakExpr/BreakExpr_getExpr.expected
  rust/ql/test/extractor-tests/generated/BreakExpr/BreakExpr_getLifetime.expected
  rust/ql/test/extractor-tests/generated/BreakExpr/gen_break_expr.rs
  rust/schema/annotations.py
Labels: Rust

#17626 Rust: Add more CFG tests
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/test/library-tests/controlflow/CONSISTENCY/CfgConsistency.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/test.rs
Labels: Rust

#17625 Java: Minor model tweak and comment fix.
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/java.util.model.yml
  java/ql/test/library-tests/dataflow/collections/containerflow.expected
Labels: Java, no-change-note-required

#17624 Rust: extract comments
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/translate/base.rs
  rust/extractor/src/translate/generated.rs
  rust/generate-schema/src/main.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/files/FileSystem.qll
  rust/ql/lib/codeql/rust/elements.qll
  rust/ql/lib/codeql/rust/elements/Comment.qll
  rust/ql/lib/codeql/rust/elements/Token.qll
  rust/ql/lib/codeql/rust/elements/internal/CommentConstructor.qll
  rust/ql/lib/codeql/rust/elements/internal/CommentImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/TokenImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Comment.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/SynthConstructors.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Token.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/extractor-tests/generated/.generated_tests.list
  rust/ql/test/extractor-tests/generated/.gitattributes
  rust/ql/test/extractor-tests/generated/Comment/Comment.expected
  rust/ql/test/extractor-tests/generated/Comment/Comment.ql
  rust/ql/test/extractor-tests/generated/Comment/comments.rs
  rust/ql/test/extractor-tests/generated/Comment/gen_comment.rs
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
  rust/schema/prelude.py
Labels: no-change-note-required, Rust
