Repository github/codeql, pull requests merged in 2024-03, with the labels that each got.

#15774 Java: Fix provenance of Map.Entry.copyOf models
  java/ql/lib/ext/java.util.model.yml
Labels: Java, no-change-note-required

#15753 Ruby: Model Rails translation methods
  ruby/ql/lib/change-notes/2024-02-29-i18n-translate.md
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/Translation.qll
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/app/controllers/foo/bars_controller.rb
  ruby/ql/test/query-tests/security/cwe-079/app/views/foo/bars/show.html.erb
Labels: documentation, Ruby

#15769 Match changelog updates with public unified changelog
  java/ql/src/CHANGELOG.md
  java/ql/src/change-notes/released/0.8.9.md
Labels: documentation, Java

#15762 C#: Fetch .NET in dependency manager instead of autobuilder
  cpp/autobuilder/Semmle.Autobuild.Cpp/Program.cs
  csharp/CSharp.sln
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/AutoBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/Constants.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/Program.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/StandaloneBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildCommandAutoRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildCommandRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildTools.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Project.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Solution.cs
  csharp/extractor/Semmle.Extraction.CIL.Driver/Program.cs
  csharp/extractor/Semmle.Extraction.CIL/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyOptions.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FilePathFilter.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Runtime.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyStubGenerator/Program.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Options.cs
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/StubGenerator.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
  csharp/extractor/Semmle.Extraction/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Util/BuildActions.cs
  csharp/extractor/Semmle.Util/BuildScript.cs
  csharp/extractor/Semmle.Util/CanonicalPathCache.cs
  csharp/extractor/Semmle.Util/CommandBuilder.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
Labels: C#, C++, no-change-note-required

#15628 Cpp non constant format as path query
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
  cpp/ql/src/change-notes/2024-02-29-non-constant-format-path-query.md
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/consts/NonConstantFormat.expected
Labels: C++, depends on internal PR, documentation

#15779 C#: Add `build_modes: none` to `codeql-extractor.yml`
  csharp/codeql-extractor.yml
  csharp/ql/integration-tests/all-platforms/cshtml_standalone/test.py
  csharp/ql/integration-tests/all-platforms/cshtml_standalone_disabled/test.py
  csharp/ql/integration-tests/all-platforms/cshtml_standalone_flowsteps/test.py
  csharp/ql/integration-tests/all-platforms/cshtml_standalone_net6/test.py
  csharp/ql/integration-tests/all-platforms/standalone/test.py
  csharp/ql/integration-tests/all-platforms/standalone_dependencies_net48/test.py
  csharp/ql/integration-tests/linux-only/standalone_dependencies_non_utf8_filename/test.py
  csharp/ql/integration-tests/posix-only/standalone_dependencies/test.py
  csharp/ql/integration-tests/posix-only/standalone_dependencies_multi_target/test.py
  csharp/ql/integration-tests/posix-only/standalone_dependencies_no_framework/test.py
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/test.py
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/test.py
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_no_sources/test.py
  csharp/ql/integration-tests/windows-only/standalone_dependencies/test.py
Labels: C#, no-change-note-required

#15766 Java: add neutral models
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/java.security.model.yml
  java/ql/lib/ext/java.text.model.yml
  java/ql/lib/ext/java.util.model.yml
  java/ql/lib/ext/java.util.stream.model.yml
  java/ql/test/ext/TopJdkApis/TopJdkApisTest.expected
Labels: Java, no-change-note-required

#15362 Go: Add `go.work` file
  go/extractor/go.work
  go/extractor/go.work.sum
Labels: Go

#15764 C#: Don't inject compiler flags when dotnet is used to execute an application.
  csharp/ql/integration-tests/all-platforms/dotnet_build/Program.cs
  csharp/ql/integration-tests/all-platforms/dotnet_build/test.py
  csharp/ql/integration-tests/all-platforms/dotnet_run/test.py
  csharp/tools/tracing-config.lua
Labels: C#

#15772 Java: do not generate models for `toString` and lambda flow methods
  java/ql/lib/semmle/code/java/dataflow/internal/ModelExclusions.qll
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/TopJdkApisTest/TopJdkApisTest.expected
  java/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.expected
Labels: Java, no-change-note-required

#15780 Ruby: sinks for code injection via calls to `method`
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
  ruby/ql/src/change-notes/2024-03-01-method-code-injection-sinks.md
  ruby/ql/test/library-tests/frameworks/core/Kernel.expected
  ruby/ql/test/library-tests/frameworks/core/Kernel.ql
  ruby/ql/test/library-tests/frameworks/core/Kernel.rb
Labels: documentation, Ruby

#15783 Java: extractor information: tolerate fractional percentages
  java/ql/integration-tests/all-platforms/java/buildless-erroneous/ExtractorInformation.expected
  java/ql/src/Telemetry/ExtractorInformation.ql
Labels: Java, no-change-note-required

#15790 Go: Allow 1.22 as a supported version
  go/extractor/autobuilder/build-environment.go
Labels: Go

#15791 Go: Use Go 1.22 for the extractor
  go/extractor/go.mod
  go/extractor/go.work.sum
Labels: Go

#15793 Go: Add changenote for autobuilder refactor
  go/ql/lib/change-notes/2024-03-04-autobuilder-changes.md
Labels: documentation, Go

#15786 Java: sensitive logging query exclude null in variable name
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
  java/ql/src/change-notes/2024-03-04-sensitive-log-remove-null-from-sources.md
  java/ql/test/query-tests/security/CWE-532/Test.java
Labels: documentation, Java

#15765 Kotlin 2: Accept loc changes in library-tests/exprs/delegatedProperties
  java/ql/test-kotlin2/library-tests/exprs/delegatedProperties.expected
Labels: Java

#15713 Kotlin 2: Accept some PrintAst changes in library-tests/exprs
  java/ql/test-kotlin2/library-tests/exprs/PrintAst.expected
Labels: Java

#15789 Go: Various minor improvements in autobuilder implementation
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/project/project.go
  go/extractor/util/util.go
Labels: Go

#15712 Kotlin 2: Accept changes in library-tests/reflection
  java/ql/test-kotlin2/library-tests/reflection/reflection.expected
Labels: Java

#15781 Python: Fix missing DictionaryElementContents
  python/ql/lib/change-notes/2024-03-01-dict-update-content.md
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/fieldflow/test_dict.py
Labels: documentation, Python

#15775 Python: Add consistency check for `PhaseDependentFlow`
  python/ql/consistency-queries/PhaseDependentFlowConsistency.ql
Labels: Python

#15720 Python: Add precision to NoSQL query
  python/ql/src/Security/CWE-943/NoSqlInjection.ql
  python/ql/src/change-notes/2024-03-04-nosql-injection.md
Labels: documentation, Python

#13692 Mention needed imports at top of "Analyzing data flow in Java"
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-java.rst
Labels: documentation

#15800 Fix Markdown formatting on Ruby changenotes
  ruby/ql/lib/change-notes/2024-02-26-arel-sqlliteral.md
  ruby/ql/lib/change-notes/2024-02-29-i18n-translate.md
Labels: documentation, Ruby

#15795 Go: Add Macaron sources
  go/ql/lib/change-notes/2024-03-04-macaron-sources.md
  go/ql/lib/ext/gopkg.in.macaron.model.yml
  go/ql/test/library-tests/semmle/go/frameworks/Macaron/Sources.expected
  go/ql/test/library-tests/semmle/go/frameworks/Macaron/Sources.ql
  go/ql/test/library-tests/semmle/go/frameworks/Macaron/sources.go
  go/ql/test/library-tests/semmle/go/frameworks/Macaron/vendor/gopkg.in/macaron.v1/stub.go
Labels: documentation, Go

#15796 C#: Variable capture follow-up
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/global/Capture.cs
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
Labels: C#, no-change-note-required

#15811 Go: Only check strings of length <= 100 for dummy password with <= 2 unique characters
  go/ql/lib/semmle/go/security/SensitiveActions.qll
Labels: no-change-note-required, Go

#15803 Kotlin 2: Accept more location changes
  java/ql/test-kotlin2/library-tests/exprs/exprs.expected
Labels: Java, Kotlin

#15810 Go: Improve names of auto-generated Go modules
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/project/project.go
  go/extractor/project/project_test.go
  go/extractor/toolchain/toolchain.go
  go/extractor/util/util.go
  go/extractor/util/util_test.go
  go/ql/integration-tests/all-platforms/go/mixed-layout/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/mixed-layout/force_sequential_test_execution
  go/ql/integration-tests/all-platforms/go/mixed-layout/src/module/go.mod
  go/ql/integration-tests/all-platforms/go/mixed-layout/src/module/go.sum
  go/ql/integration-tests/all-platforms/go/mixed-layout/src/module/test.go
  go/ql/integration-tests/all-platforms/go/mixed-layout/src/stray-files/test.go
  go/ql/integration-tests/all-platforms/go/mixed-layout/src/workspace/go.work
  go/ql/integration-tests/all-platforms/go/mixed-layout/src/workspace/subdir/go.mod
  go/ql/integration-tests/all-platforms/go/mixed-layout/src/workspace/subdir/go.sum
  go/ql/integration-tests/all-platforms/go/mixed-layout/src/workspace/subdir/test.go
  go/ql/integration-tests/all-platforms/go/mixed-layout/test.expected
  go/ql/integration-tests/all-platforms/go/mixed-layout/test.py
  go/ql/integration-tests/all-platforms/go/mixed-layout/test.ql
  go/ql/integration-tests/all-platforms/go/single-go-mod-and-go-files-not-under-it/test.expected
Labels: Go

#15808 C#: Add package source error count to DB
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/CompilationInfo.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/CompilationInfo.ql
Labels: C#

#15782 Ruby: Model `Typhoeus::Request.new`
  ruby/ql/lib/change-notes/2024-03-01-typhoeus-request.md
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/test/library-tests/frameworks/http_clients/HttpClients.expected
  ruby/ql/test/library-tests/frameworks/http_clients/Typhoeus.rb
Labels: documentation, Ruby

#15722 Ruby: Include request forgery sinks from MaD
  ruby/ql/lib/codeql/ruby/security/ServerSideRequestForgeryCustomizations.qll
Labels: no-change-note-required, Ruby

#15817 C++: Suppress implicit destructors on expr in preparation for destructors on temporaries
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
Labels: C++, no-change-note-required

#15140 Data flow: prune context-sensitivity relations
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
Labels: C#, no-change-note-required, Ruby, Swift, DataFlow Library

#15816 C++: Remove the pruning stage from dataflow SSA
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
Labels: C++, no-change-note-required

#15130 Go: new query for detect DOS vulnerability
  go/ql/src/experimental/CWE-770/DenialOfService.qhelp
  go/ql/src/experimental/CWE-770/DenialOfService.ql
  go/ql/src/experimental/CWE-770/DenialOfServiceBad.go
  go/ql/src/experimental/CWE-770/DenialOfServiceGood.go
  go/ql/test/experimental/CWE-770/DenialOfService.expected
  go/ql/test/experimental/CWE-770/DenialOfService.qlref
  go/ql/test/experimental/CWE-770/DenialOfServiceBad.go
  go/ql/test/experimental/CWE-770/DenialOfServiceGood.go
Labels: documentation, Go

#15822 Dataflow: Misc performance fixes
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#15799 Kotlin: Docs: Give upper bound as 1.9.2x rather than 1.9.20
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#15829 Kotlin 2: Accept more loc changes in exprs test
  java/ql/test-kotlin2/library-tests/exprs/exprs.expected
Labels: Java, Kotlin

#15705 Shared: Fill some QLDoc holes
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
Labels: no-change-note-required, DataFlow Library

#15839 Java: Explicitly import Lock class
  java/ql/test/ext/TopJdkApis/TopJdkApisTest.java
Labels: Java

#15844 C#: Improve `global.json` file parsing
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
Labels: C#

#15778 Java: Add tests for multi-release jars under Java 11 and 17
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java11/ExtractorInformation.expected
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java11/ExtractorInformation.qlref
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java11/mod1/mod1pkg/Mod1Class.java
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java11/mod1/module-info.java
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java11/mod2/mod2pkg/User.java
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java11/mod2/module-info.java
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java11/test.py
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java17/ExtractorInformation.expected
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java17/ExtractorInformation.qlref
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java17/mod1/mod1pkg/Mod1Class.java
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java17/mod1/module-info.java
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java17/mod2/mod2pkg/User.java
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java17/mod2/module-info.java
  java/ql/integration-tests/all-platforms/java/multi-release-jar-java17/test.py
Labels: Java

#15821 Data flow: Allow for direct stores into nodes with `clearsContent`
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#15763 JS: Improve detection of classes with escaping instances
  javascript/ql/lib/semmle/javascript/endpoints/EndpointNaming.qll
  javascript/ql/test/library-tests/EndpointNaming/pack1/main.js
Labels: JS, no-change-note-required

#15848 Kotlin 2: Accept some more loc changes in exprs test
  java/ql/test-kotlin2/library-tests/exprs/exprs.expected
Labels: Java, Kotlin

#15760 JS: Summarise store steps for type tracking
  javascript/ql/lib/semmle/javascript/dataflow/internal/StepSummary.qll
  javascript/ql/test/library-tests/TypeTracking/summarize.js
Labels: JS, no-change-note-required

#15823 JS: Call graph improvements
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/src/change-notes/2024-03-07-lift-cg-restriction.md
  javascript/ql/test/library-tests/CallGraphs/FullTest/tests.expected
Labels: JS, documentation

#15847 Ruby: Exclude calls with arguments from `OrmFieldAsSource`
  ruby/ql/lib/codeql/ruby/security/XSS.qll
Labels: no-change-note-required, Ruby

#13553 Go: Decompression Bombs
  go/ql/src/experimental/CWE-522-DecompressionBombs/DecompressionBombs.qhelp
  go/ql/src/experimental/CWE-522-DecompressionBombs/DecompressionBombs.ql
  go/ql/src/experimental/CWE-522-DecompressionBombs/example_good.go
  go/ql/src/experimental/CWE-522-DecompressionBombs/example_good_2.go
  go/ql/src/experimental/frameworks/DecompressionBombs.qll
  go/ql/src/experimental/frameworks/DecompressionBombsCustomizations.qll
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombTest.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombTest.ql
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.qlref
  go/ql/test/experimental/CWE-522-DecompressionBombs/go.mod
  go/ql/test/experimental/CWE-522-DecompressionBombs/test.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/DataDog/zstd/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/dsnet/compress/bzip2/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/dsnet/compress/flate/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/golang/snappy/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/klauspost/compress/flate/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/klauspost/compress/gzip/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/klauspost/compress/s2/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/klauspost/compress/snappy/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/klauspost/compress/zip/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/klauspost/compress/zlib/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/klauspost/compress/zstd/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/klauspost/pgzip/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/github.com/ulikunitz/xz/stub.go
  go/ql/test/experimental/CWE-522-DecompressionBombs/vendor/modules.txt
Labels: documentation, Go, external-contribution

#15629 C#: Remove `Stored` variants of queries
  csharp/ql/src/Security Features/CWE-078/StoredCommandInjection.qhelp
  csharp/ql/src/Security Features/CWE-078/StoredCommandInjection.ql
  csharp/ql/src/Security Features/CWE-079/StoredXSS.qhelp
  csharp/ql/src/Security Features/CWE-079/StoredXSS.ql
  csharp/ql/src/Security Features/CWE-089/SecondOrderSqlInjection.qhelp
  csharp/ql/src/Security Features/CWE-089/SecondOrderSqlInjection.ql
  csharp/ql/src/Security Features/CWE-090/StoredLDAPInjection.qhelp
  csharp/ql/src/Security Features/CWE-090/StoredLDAPInjection.ql
  csharp/ql/src/Security Features/CWE-643/StoredXPathInjection.qhelp
  csharp/ql/src/Security Features/CWE-643/StoredXPathInjection.ql
  csharp/ql/src/change-notes/2024-03-11-remove-stored-query-variants.md
  csharp/ql/test/query-tests/Security Features/CWE-078/CommandInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-078/CommandInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-078/CommandInjection.ext.yml
  csharp/ql/test/query-tests/Security Features/CWE-078/StoredCommandInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-078/StoredCommandInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-078/StoredCommandInjection.qlref
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/StoredXSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/StoredXSS.ext.yml
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/StoredXSS.qlref
  csharp/ql/test/query-tests/Security Features/CWE-089/SecondOrderSqlInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-089/SecondOrderSqlInjection.qlref
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.ext.yml
  csharp/ql/test/query-tests/Security Features/CWE-090/LDAPInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-090/LDAPInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-090/LDAPInjection.ext.yml
  csharp/ql/test/query-tests/Security Features/CWE-090/StoredLDAPInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-090/StoredLDAPInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-090/StoredLDAPInjection.qlref
  csharp/ql/test/query-tests/Security Features/CWE-643/StoredXPathInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-643/StoredXPathInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-643/StoredXPathInjection.qlref
  csharp/ql/test/query-tests/Security Features/CWE-643/XPathInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-643/XPathInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-643/XPathInjection.ext.yml
Labels: C#, documentation

#15756 C#: Remove `AddLocalSource` classes from queries
  csharp/ql/lib/semmle/code/csharp/security/dataflow/CodeInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ResourceInjectionQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/SqlInjectionQuery.qll
  csharp/ql/src/change-notes/2024-03-06-remove-default-local-sources.md
  csharp/ql/test/query-tests/Security Features/CWE-094/CodeInjection.ext.yml
Labels: C#, documentation

#15695 Python: Add `.copy()` method call as copy step
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/test/query-tests/Functions/ModificationOfParameterWithDefault/test.py
Labels: Python, no-change-note-required

#15854 C#: Change ID of buildless output assembly
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Assembly.cs
Labels: C#

#15835 C++: Provide an initial SSA definition of the address of a variable
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow-ir.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow-ir.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
  cpp/ql/test/query-tests/Likely Bugs/Protocols/TlsSettingsMisconfiguration.expected
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test2.cpp
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test3.cpp
Labels: C++, no-change-note-required

#15855 Python: Add test for `ReturnValue.TupleElement[n]`
  python/ql/test/experimental/dataflow/model-summaries/InlineTaintTest.ext.yml
  python/ql/test/experimental/dataflow/model-summaries/NormalDataflowTest.ext.yml
  python/ql/test/experimental/dataflow/model-summaries/model_summaries.py
Labels: Python, no-change-note-required

#15551 python: Remove `TaintStepFromSummary`
  python/ql/lib/semmle/python/dataflow/new/FlowSummary.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/frameworks/data/ModelsAsData.qll
Labels: Python, no-change-note-required

#15841 Python: Add example of missing use-use flow
  python/ql/test/library-tests/essa/ssa-compute/test2.py
Labels: Python

#15868 C#: Overall change note for C# 12 / .NET 8 support.
  csharp/ql/lib/change-notes/2024-03-11-csharp12-dotnet8.md
Labels: C#, documentation

#15843 Go: Promote `go/uncontrolled-allocation-size` from experimental
  go/ql/lib/semmle/go/security/UncontrolledAllocationSize.qll
  go/ql/lib/semmle/go/security/UncontrolledAllocationSizeCustomizations.qll
  go/ql/src/Security/CWE-770/UncontrolledAllocationSize.qhelp
  go/ql/src/Security/CWE-770/UncontrolledAllocationSize.ql
  go/ql/src/Security/CWE-770/UncontrolledAllocationSizeBad.go
  go/ql/src/Security/CWE-770/UncontrolledAllocationSizeGood.go
  go/ql/src/change-notes/2024-03-07-uncontrolled-allocation-size.md
  go/ql/src/experimental/CWE-770/DenialOfService.qhelp
  go/ql/src/experimental/CWE-770/DenialOfService.ql
  go/ql/test/experimental/CWE-770/DenialOfService.expected
  go/ql/test/experimental/CWE-770/DenialOfService.qlref
  go/ql/test/query-tests/Security/CWE-770/UncontrolledAllocationSize.expected
  go/ql/test/query-tests/Security/CWE-770/UncontrolledAllocationSize.ql
  go/ql/test/query-tests/Security/CWE-770/UncontrolledAllocationSizeBad.go
  go/ql/test/query-tests/Security/CWE-770/UncontrolledAllocationSizeGood.go
Labels: documentation, ready-for-doc-review, Go

#15857 Ruby: Model second argument of `ActiveRecord` `from`
  ruby/ql/lib/change-notes/2024-03-08-activerecord-from.md
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/test/query-tests/security/cwe-089/ActiveRecordInjection.rb
  ruby/ql/test/query-tests/security/cwe-089/SqlInjection.expected
Labels: documentation, Ruby

#15880 Add changelog for 2.16.4
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.3.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#15820 C++: Add a new query for detecting type confusion vulnerabilities
  cpp/ql/src/Security/CWE/CWE-843/TypeConfusion.qhelp
  cpp/ql/src/Security/CWE/CWE-843/TypeConfusion.ql
  cpp/ql/src/Security/CWE/CWE-843/TypeConfusionBad.cpp
  cpp/ql/src/Security/CWE/CWE-843/TypeConfusionCommon.cpp
  cpp/ql/src/Security/CWE/CWE-843/TypeConfusionGood.cpp
  cpp/ql/src/change-notes/2024-03-05-type-confusion-query.md
  cpp/ql/test/query-tests/Security/CWE/CWE-843/TypeConfusion.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-843/TypeConfusion.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-843/test.cpp
Labels: C++, documentation, ready-for-doc-review

#15867 Data flow: Add `ConfigSig::accessPathLimit`
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl1.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl1.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ContentDataFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl1.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl1.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl1.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl1.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl1.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl1.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#15881 C#: Deduplicate not yet restored package names
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
Labels: C#

#15876 Java: Accept test changes
  java/ql/integration-tests/all-platforms/java/buildless-erroneous/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-gradle/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless/diagnostics.expected
Labels: Java

#15731 Java: More sanitizers for request-forgery
  java/ql/lib/semmle/code/java/security/RequestForgery.qll
  java/ql/src/change-notes/2024-03-12-request-sanitizers.md
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect2.java
Labels: documentation, Java

#15869 Java: Add path-injection sink for `ParcelFileDescriptor::open`
  java/ql/lib/change-notes/2024-03-11-add-parcelfiledescriptor-open-model.md
  java/ql/lib/ext/android.os.model.yml
Labels: documentation, Java

#15877 C#: Add source models for values from the Windows registry
  csharp/ql/lib/change-notes/2024-03-11-registry-sources.md
  csharp/ql/lib/ext/Microsoft.Win32.model.yml
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/Local.qll
  csharp/ql/test/library-tests/dataflow/flowsources/local/registry/Registry.expected
  csharp/ql/test/library-tests/dataflow/flowsources/local/registry/Registry.ext.yml
  csharp/ql/test/library-tests/dataflow/flowsources/local/registry/Registry.ql
  csharp/ql/test/library-tests/dataflow/flowsources/local/registry/UseRegistry.cs
  csharp/ql/test/library-tests/dataflow/flowsources/local/registry/options
  shared/mad/codeql/mad/ModelValidation.qll
  shared/threat-models/ext/threat-model-grouping.model.yml
Labels: C#, documentation

#15524 Ruby: Add some more command injection sinks
  ruby/ql/lib/change-notes/2024-02-27-process-spawn.md
  ruby/ql/lib/codeql/ruby/frameworks/Stdlib.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Open3.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Process.qll
  ruby/ql/lib/codeql/ruby/frameworks/terrapin/model.yml
  ruby/ql/test/library-tests/frameworks/stdlib/CommandExecution.expected
  ruby/ql/test/library-tests/frameworks/stdlib/CommandExecution.ql
  ruby/ql/test/library-tests/frameworks/stdlib/Open3.expected
  ruby/ql/test/library-tests/frameworks/stdlib/Open3.ql
  ruby/ql/test/library-tests/frameworks/stdlib/Open3.rb
  ruby/ql/test/library-tests/frameworks/stdlib/process.rb
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.rb
Labels: documentation, Ruby

#15866 Ruby: Lower access path limit to 1 for `OrmTracking`
  ruby/ql/lib/codeql/ruby/security/XSS.qll
Labels: no-change-note-required, Ruby

#15776 Python: Add type-tracking consistency query
  python/ql/consistency-queries/TypeTrackingConsistency.ql
  python/ql/test/library-tests/essa/ssa-compute/CONSISTENCY/TypeTrackingConsistency.expected
Labels: Python

#15889 Kotlin 2: Accept more changes in the exprs test
  java/ql/test-kotlin2/library-tests/exprs/exprs.expected
Labels: Java, Kotlin

#15768 JS: Do not treat AMD pseudo-dependencies as imports
  javascript/ql/lib/semmle/javascript/AMD.qll
  javascript/ql/test/library-tests/AMD/tests.expected
Labels: JS, no-change-note-required

#15899 C++: Add IR tests for the destruction of temporaries
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/destructors_for_temps.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#15510 JS: Add support for TS 5.4
  docs/codeql/reusables/supported-versions-compilers.rst
  javascript/extractor/lib/typescript/package-lock.json
  javascript/extractor/lib/typescript/package.json
  javascript/ql/lib/change-notes/2024-02-02-typescript-5-4.md
  javascript/ql/test/library-tests/TypeScript/Types/printAst.expected
  javascript/ql/test/library-tests/TypeScript/Types/tests.expected
  javascript/ql/test/library-tests/TypeScript/Types/tst.ts
Labels: JS, documentation

#15893 JS: allow more flow through .filter()
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.js
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXssWithCustomSanitizer.expected
Labels: JS

#15900 C++: Add models for `GLib` allocation and deallocation
  cpp/ql/lib/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Deallocation.qll
  cpp/ql/src/change-notes/2024-03-13-glib-alloc-and-dealloc.md
  cpp/ql/test/query-tests/Critical/MemoryFreed/DoubleFree.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryFreed.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/test_free.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/test.cpp
Labels: C++, documentation

#15918 C++: Fix dataflow node <> expression problem on prvalues
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++, no-change-note-required

#15875 C++: Clean up `cpp/non-constant-format`
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/consts/NonConstantFormat.expected
Labels: C++, no-change-note-required

#15922 C#: Handle namespace resolution error more gracefully
  csharp/extractor/Semmle.Extraction.CSharp/Entities/NamespaceDeclaration.cs
Labels: C#

#15924 Go: Consider more strings as hardcoded credentials
  go/ql/lib/semmle/go/security/HardcodedCredentials.qll
  go/ql/src/Security/CWE-798/HardcodedCredentials.ql
  go/ql/src/change-notes/2024-03-14-hardcoded-credentials-more-sources.md
  go/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
Labels: documentation, Go

#15925 C++: Follow-up to #15918
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Labels: C++, no-change-note-required

#15931 QL4QL: Remove `MissingOverride` query
  ql/ql/src/queries/style/MissingOverride.ql
  ql/ql/test/queries/style/MissingOverride/MissingOverride.expected
  ql/ql/test/queries/style/MissingOverride/MissingOverride.qlref
  ql/ql/test/queries/style/MissingOverride/Test.qll
Labels: no-change-note-required, QL-for-QL

#15929 C#: Add classes extending `SourceNode` for local and stored source models
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/Local.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/flowsources/Stored.qll
Labels: C#, no-change-note-required

#15933 Go: Mention raw string iterals in QHelp for `go/incomplete-hostname-regexp`.
  go/ql/src/Security/CWE-020/IncompleteHostnameRegexp.qhelp
  go/ql/src/Security/CWE-020/IncompleteHostnameRegexpGood2.go
Labels: documentation, no-change-note-required, ready-for-doc-review, Go

#15934 C++: Add alias and side-effect models to `begin` and `end` functions
  cpp/ql/lib/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#15941 C++: Handle `switch` statements in the guards library
  cpp/ql/lib/change-notes/2024-03-15-switches-in-guard-conditions.md
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/library-tests/controlflow/guards/Guards.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.ql
  cpp/ql/test/library-tests/controlflow/guards/test.cpp
Labels: C++, documentation

#15943 Kotlin 2: Accept more location changes
  java/ql/test-kotlin2/library-tests/exprs/exprs.expected
Labels: Java, Kotlin

#15953 C#: Iterate text files only once
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
Labels: C#

#15952 C#: Add logging for source file parsing
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
Labels: C#

#15951 Fix minor formatting issues in changenotes
  csharp/ql/src/change-notes/2024-03-11-remove-stored-query-variants.md
  ruby/ql/lib/change-notes/2024-02-26-arel-sqlliteral.md
  ruby/ql/lib/change-notes/2024-02-29-i18n-translate.md
Labels: C#, documentation, Ruby

#15907 Ruby: Model ActiveDispatch::Http::UploadedFile
  ruby/ql/lib/change-notes/2024-03-14-actiondispatch-uploadedfile.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/test/library-tests/dataflow/global/instance_variables.rb
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/frameworks/action_controller/ActionController.expected
  ruby/ql/test/library-tests/frameworks/action_controller/params-flow.expected
  ruby/ql/test/library-tests/frameworks/action_controller/params_flow.rb
Labels: documentation, Ruby

#15939 C++: Add an experimental query for surprising lifetimes from range-based for loops
  cpp/ql/lib/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdMap.qll
  cpp/ql/src/experimental/Security/CWE/CWE-416/IteratorToExpiredContainer.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-416/IteratorToExpiredContainer.ql
  cpp/ql/src/experimental/Security/CWE/CWE-416/IteratorToExpiredContainerExtendedLifetime.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/IteratorToExpiredContainer.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/IteratorToExpiredContainer.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/test.cpp
Labels: C++, documentation, no-change-note-required, ready-for-doc-review

#15947 Fix model provenance to df-manual
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/javax.crypto.model.yml
Labels: Java, no-change-note-required

#15897 Java: add test for partial gradle wrapper without gradle on the path
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/.gitattributes
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/.gitignore
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/build.gradle
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/force_sequential_test_execution
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/gradle/verification-metadata.xml
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/gradlew
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/gradlew.bat
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/settings.gradle
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/src/main/java/com/example/App.java
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/src/test/java/com/example/AppTest.java
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/test.expected
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/test.py
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/test.ql
Labels: Java

#15734 Data flow: Account for hidden `subpath` wrappers
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  python/ql/test/experimental/dataflow/summaries/summaries.expected
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  shared/dataflow/change-notes/2024-02-28-hidden-subpaths.md
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: C#, documentation, Python, Ruby, DataFlow Library

#15729 python: Rewrite `HardcodedCredentials` away from `PointsTo`
  python/ql/src/Security/CWE-798/HardcodedCredentials.ql
Labels: Python, no-change-note-required

#15895 Java: update the url-redirection in the same style as the C# qhelp
  csharp/ql/src/Security Features/CWE-601/UrlRedirect.qhelp
  java/ql/src/Security/CWE/CWE-601/UrlRedirect.java
  java/ql/src/Security/CWE/CWE-601/UrlRedirect.qhelp
  java/ql/src/Security/CWE/CWE-601/examples/UrlRedirect.java
  java/ql/src/Security/CWE/CWE-601/examples/UrlRedirectGood.java
  java/ql/src/Security/CWE/CWE-601/examples/UrlRedirectGoodDomain.java
Labels: C#, documentation, Java, ready-for-doc-review

#15960 C++: Convert `cpp/uninitialized-local` to a `path-problem` query
  cpp/ql/src/Likely Bugs/Memory Management/UninitializedLocal.ql
  cpp/ql/src/change-notes/2024-03-18-uninitialized-local-path-problem.md
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/UninitializedLocal.expected
Labels: C++, depends on internal PR, documentation

#15882 JS: Add `DataFlow::Node.getLocation`
  config/identical-files.json
  javascript/ql/lib/semmle/javascript/AST.qll
  javascript/ql/lib/semmle/javascript/CFG.qll
  javascript/ql/lib/semmle/javascript/Comments.qll
  javascript/ql/lib/semmle/javascript/Errors.qll
  javascript/ql/lib/semmle/javascript/Files.qll
  javascript/ql/lib/semmle/javascript/HTML.qll
  javascript/ql/lib/semmle/javascript/JSDoc.qll
  javascript/ql/lib/semmle/javascript/JSON.qll
  javascript/ql/lib/semmle/javascript/Lines.qll
  javascript/ql/lib/semmle/javascript/Locations.qll
  javascript/ql/lib/semmle/javascript/Regexp.qll
  javascript/ql/lib/semmle/javascript/RestrictedLocations.qll
  javascript/ql/lib/semmle/javascript/SSA.qll
  javascript/ql/lib/semmle/javascript/Tokens.qll
  javascript/ql/lib/semmle/javascript/Variables.qll
  javascript/ql/lib/semmle/javascript/XML.qll
  javascript/ql/lib/semmle/javascript/YAML.qll
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/frameworks/Templating.qll
  javascript/ql/lib/semmle/javascript/internal/CachedStages.qll
  javascript/ql/lib/semmle/javascript/internal/Locations.qll
  javascript/ql/test/testUtilities/internal/InlineExpectationsTestImpl.qll
Labels: JS, no-change-note-required

#15883 JS: show test changes after #15823
  javascript/ql/test/ApiGraphs/classes/classes.js
  javascript/ql/test/library-tests/TypeTracking/TypeTracking.expected
  javascript/ql/test/library-tests/TypeTracking/implicit-receiver.js
Labels: JS

#15937 C++: Handle destructors of temporaries with extended lifetimes
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Labels: C++, depends on internal PR

#15965 Ruby: remove isString from TSymbol
  ruby/ql/lib/codeql/ruby/ast/internal/Constant.qll
Labels: no-change-note-required, Ruby

#15958 C++: Implement guards logic for switch statements
  cpp/ql/lib/change-notes/2024-03-19-predicates-for-switches-as-guards.md
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/EdgeKind.qll
  cpp/ql/src/Critical/ScanfChecks.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.ql
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.ql
Labels: C++, documentation

#15959 JDK22 upgrade test changes
  java/ql/test-kotlin1/library-tests/java-kotlin-collection-type-generic-methods/test.expected
Labels: Java, Kotlin

#14426 Ruby: Track flow into ActiveRecord scopes
  ruby/ql/lib/change-notes/2024-03-19-activerecord-scopes.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.ql
  ruby/ql/test/library-tests/dataflow/hash-flow/hash_flow.rb
  ruby/ql/test/query-tests/security/cwe-089/ActiveRecordInjection.rb
  ruby/ql/test/query-tests/security/cwe-089/SqlInjection.expected
Labels: documentation, Ruby

#15946 Java: more manual models
  java/ql/lib/ext/java.io.model.yml
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/java.net.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/ext/java.util.model.yml
  java/ql/lib/ext/javax.crypto.spec.model.yml
Labels: Java, no-change-note-required

#15968 C++: Fabricate destructors for temporaries that occur in dynamic initializations
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Labels: C++, depends on internal PR

#15936 Python: No `fieldFlowBranchLimit` for `SummarizedCallable`s
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplSpecific.qll
  python/ql/test/experimental/dataflow/summaries/InlineTaintTest.expected
  python/ql/test/experimental/dataflow/summaries/InlineTaintTest.ql
  python/ql/test/experimental/dataflow/summaries/TestSummaries.qll
  python/ql/test/experimental/dataflow/summaries/conflicting_summaries.py
  python/ql/test/experimental/dataflow/summaries/extracted_package/__init__.py
  python/ql/test/experimental/dataflow/summaries/extracted_package/functions.py
Labels: Python, no-change-note-required

#15976 C++: Fix interface for `GuardCondition.comparesEq` and `GuardCondition.ensuresEq`
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.ql
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.ql
Labels: no-change-note-required

#15969 C++: Disable _some_ constant folding in IR
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/constant/ConstantAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IntegerPartial.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#15980 C++: Support `<` reasoning for `switch` statements in Guards library
  cpp/ql/lib/change-notes/2024-03-19-predicates-for-switches-as-guards-2.md
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.ql
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.ql
Labels: C++, documentation

#15971 Upgrade to bazel 7.1
  .bazelversion
Labels: depends on internal PR

#15973 Kotlin 2: Accept more test changes
  java/ql/test-kotlin2/library-tests/exprs/exprs.expected
Labels: Java, Kotlin

#15978 C++: Handle destructors at temporary object lifetime expressions
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/successor-tests/conditional_destructors/cfg.expected
Labels: C++, depends on internal PR

#15989 Docs: Add Go 1.22 to supported versions range
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#15845 Python: Build external extractor
  codeql-workspace.yml
  python/BUILD.bazel
  python/codeql-extractor.yml
  python/extractor/BUILD.bazel
  python/extractor/cli-integration-test/writing-diagnostics/test_diagnostics_output.py
  python/extractor/qlpack.yml
  python/extractor/tests/test_patterns.py
  python/extractor/tsg-python/BUILD.bazel
  python/extractor/tsg-python/Cargo.Bazel.lock
  python/extractor/tsg-python/Cargo.lock
  python/extractor/tsg-python/Cargo.toml
  python/extractor/tsg-python/src/main.rs
  python/extractor/tsg-python/tsp/.gitignore
  python/extractor/tsg-python/tsp/.npmignore
  python/extractor/tsg-python/tsp/BUILD.bazel
  python/extractor/tsg-python/tsp/Cargo.toml
  python/extractor/tsg-python/tsp/LICENSE
  python/extractor/tsg-python/tsp/README.md
  python/extractor/tsg-python/tsp/binding.gyp
  python/extractor/tsg-python/tsp/bindings/node/binding.cc
  python/extractor/tsg-python/tsp/bindings/node/index.js
  python/extractor/tsg-python/tsp/bindings/rust/README.md
  python/extractor/tsg-python/tsp/bindings/rust/build.rs
  python/extractor/tsg-python/tsp/bindings/rust/lib.rs
  python/extractor/tsg-python/tsp/grammar.js
  python/extractor/tsg-python/tsp/log.html
  python/extractor/tsg-python/tsp/package.json
  python/extractor/tsg-python/tsp/queries/highlights.scm
  python/extractor/tsg-python/tsp/queries/tags.scm
  python/extractor/tsg-python/tsp/src/grammar.json
  python/extractor/tsg-python/tsp/src/node-types.json
  python/extractor/tsg-python/tsp/src/parser.c
  python/extractor/tsg-python/tsp/src/scanner.cc
  python/extractor/tsg-python/tsp/src/tree_sitter/parser.h
  python/tools/BUILD.bazel
  python/tools/autobuild.cmd
  python/tools/autobuild.sh
  python/tools/lgtm-scripts/index.cmd
  python/tools/lgtm-scripts/index.sh
  python/tools/lgtm-scripts/python_setup.cmd
  python/tools/lgtm-scripts/python_setup.sh
  python/tools/pre-finalize.cmd
  python/tools/pre-finalize.sh
Labels: documentation, Python, no-change-note-required

#15935 Go: Make `CODEQL_EXTRACTOR_GO_FAST_PACKAGE_INFO` on by default
  go/extractor/extractor.go
Labels: Go

#15996 Make `cpp/missing-check-scanf` a `path-problem` query
  cpp/ql/src/Critical/MissingCheckScanf.ql
  cpp/ql/src/change-notes/2024-03-20-missing-check-scanf-path-problem.md
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
Labels: C++, documentation

#15991 C++: Handle destruction of temporaries in expressions with a `thow` at the root
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Labels: C++, depends on internal PR

#15998 C++: Simplify use of guard conditions in `cpp/incorrectly-checked-scanf`
  cpp/ql/src/Critical/ScanfChecks.qll
Labels: C++, no-change-note-required

#15994 C#: Avoid using TRAP stack in buildless mode
  csharp/extractor/Semmle.Extraction/Context.cs
Labels: C#, no-change-note-required

#15967 Swift: add `-headerpad_max_install_names` to link options
  swift/extractor/BUILD.bazel
Labels: Swift

#15997 C++: Simplify use of guard conditions in `cpp/missing-check-scanf`
  cpp/ql/src/Critical/MissingCheckScanf.ql
Labels: C++, no-change-note-required

#16007 C++: Fix `cpp/boost/tls-settings-misconfiguration` FPs
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfiguration.ql
  cpp/ql/test/query-tests/Likely Bugs/Protocols/TlsSettingsMisconfiguration.expected
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test2.cpp
Labels: C++, no-change-note-required

#16003 C++: Add tests showing missing destructors for initialization statements
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++

#16008 C++: Handle `getInitializingExpr` in PrintAST
  cpp/ql/lib/semmle/code/cpp/PrintAST.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Labels: C++, no-change-note-required

#15874 Show lines of code data in debug mode only
  cpp/ql/src/Summary/LinesOfUserCode.ql
  csharp/ql/src/Metrics/Summaries/LinesOfCode.ql
  go/ql/src/Summary/LinesOfCode.ql
  java/ql/src/Metrics/Summaries/LinesOfCode.ql
  javascript/ql/src/Summary/LinesOfUserCode.ql
  python/ql/src/Summary/LinesOfUserCode.ql
  ql/ql/src/queries/summary/LinesOfCode.ql
  ql/ql/src/queries/summary/LinesOfUserCode.ql
  ruby/ql/src/queries/summary/LinesOfCode.ql
  ruby/ql/src/queries/summary/LinesOfUserCode.ql
  swift/ql/src/diagnostics/SuccessfullyExtractedLines.ql
Labels: C#, JS, C++, Java, Python, no-change-note-required, Go, Ruby, QL-for-QL, Swift

#16004 C#: Simplify the output of `cs/wrong-compareto-signature` to remove e…
  csharp/ql/src/API Abuse/IncorrectCompareToSignature.ql
  csharp/ql/src/change-notes/2024-03-21-change-compareto-signature.md
  csharp/ql/test/query-tests/API Abuse/IncorrectCompareToSignature/IncorrectCompareToSignature.expected
Labels: C#, documentation

#16012 Swift genrule: Replace local with no-sandbox.
  swift/third_party/BUILD.swift-toolchain-linux.bazel
Labels: Swift

#16013 Merge rc/3.13 into main
  cpp/ql/lib/qlpack.yml
  cpp/ql/src/qlpack.yml
  csharp/ql/campaigns/Solorigate/lib/qlpack.yml
  csharp/ql/campaigns/Solorigate/src/qlpack.yml
  csharp/ql/lib/qlpack.yml
  csharp/ql/src/qlpack.yml
  go/ql/consistency-queries/qlpack.yml
  go/ql/lib/qlpack.yml
  go/ql/src/qlpack.yml
  java/ql/automodel/src/qlpack.yml
  java/ql/lib/qlpack.yml
  java/ql/src/qlpack.yml
  javascript/ql/lib/qlpack.yml
  javascript/ql/src/qlpack.yml
  misc/suite-helpers/qlpack.yml
  python/ql/lib/qlpack.yml
  python/ql/src/qlpack.yml
  ruby/ql/lib/qlpack.yml
  ruby/ql/src/qlpack.yml
  shared/controlflow/qlpack.yml
  shared/dataflow/qlpack.yml
  shared/mad/qlpack.yml
  shared/rangeanalysis/qlpack.yml
  shared/regex/qlpack.yml
  shared/ssa/qlpack.yml
  shared/threat-models/qlpack.yml
  shared/tutorial/qlpack.yml
  shared/typetracking/qlpack.yml
  shared/typos/qlpack.yml
  shared/util/qlpack.yml
  shared/yaml/qlpack.yml
  swift/ql/lib/qlpack.yml
  swift/ql/src/qlpack.yml
Labels: Mergeback, no-change-note-required

#16014 C++: Handle destructors of range-based for-loop, if, and switch initializer statements
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Labels: C++, depends on internal PR

#16017 C++: Add destructor test cases for AV Rule 114
  cpp/ql/test/query-tests/jsf/4.13 Functions/AV Rule 114/AV Rule 114.expected
  cpp/ql/test/query-tests/jsf/4.13 Functions/AV Rule 114/test.cpp
Labels: C++

#16010 Python: Two small join-order fixes
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/frameworks/SqlAlchemy.qll
Labels: Python, no-change-note-required

#16011 Java/Kotlin: Remove references to legacy ODASA_SNAPSHOT env var
  java/kotlin-extractor/src/main/java/com/semmle/util/process/Env.java
  java/ql/lib/change-notes/2024-03-21-env-vars.md
Labels: documentation, Java, Kotlin

#16019 C#: add hint regarding ECB to weak encryption QHelp
  csharp/ql/src/Security Features/WeakEncryption.qhelp
Labels: C#, documentation

#16018 C++: Add precision to `cpp/boost/tls-settings-misconfiguration` and `cpp/boost/use-of-deprecated-hardcoded-security-protocol`
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfiguration.ql
  cpp/ql/src/Likely Bugs/Protocols/UseOfDeprecatedHardcodedProtocol.ql
  cpp/ql/src/change-notes/2024-03-22-boost-ssl.md
Labels: C++, documentation

#16002 JS: change the precision of the `js/unsafe-external-link` query to `low`
  javascript/ql/src/DOM/TargetBlank.qhelp
  javascript/ql/src/DOM/TargetBlank.ql
  javascript/ql/src/change-notes/2024-03-21-target-blank-precision.md
Labels: JS, documentation, ready-for-doc-review

#16024 Update CodeQL CLI to version 2.16.5
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.5.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#15957 C#: Limit extracted compilation and extraction messages
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/CompilerDiagnostic.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Diagnostic.cs
  csharp/extractor/Semmle.Extraction.CSharp/Tuples.cs
  csharp/extractor/Semmle.Extraction/Entities/ExtractionError.cs
  csharp/extractor/Semmle.Extraction/Entities/ExtractionMessage.cs
  csharp/extractor/Semmle.Util/EnvironmentVariables.cs
  csharp/ql/integration-tests/all-platforms/standalone/Diag.expected
  csharp/ql/integration-tests/all-platforms/standalone/Diag.ql
  csharp/ql/integration-tests/all-platforms/standalone/Program.cs
  csharp/ql/integration-tests/all-platforms/standalone/test.py
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget_config_error/CompilationInfo.ql
  csharp/ql/src/Telemetry/ExtractorInformation.ql
Labels: C#, no-change-note-required

#16028 Java: whitelist variable name `tokenImage` for `java/sensitive-log` as it's used in code generated by JavaCC
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
  java/ql/src/change-notes/2024-03-24-sensitive-log-whitelist-tokenimage.md
  java/ql/test/query-tests/security/CWE-532/TokenSequenceParserTest.java
Labels: documentation, Java

#16020 Go: Update query help for `go/path-injection` to include example fixes.
  go/ql/src/Security/CWE-022/TaintedPath.qhelp
  go/ql/src/Security/CWE-022/TaintedPathGood.go
  go/ql/src/Security/CWE-022/TaintedPathGood2.go
Labels: documentation, ready-for-doc-review, Go

#16030 Java: Update buildless test expectations
  java/ql/integration-tests/all-platforms/java/buildless-erroneous/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-gradle/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-multimodule/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless/diagnostics.expected
Labels: Java

#16022 Kotlin 2: Accept more location changes
  java/ql/test-kotlin2/library-tests/exprs/exprs.expected
Labels: Java, Kotlin

#15903 Python: test MaD syntax for keyword argument
  python/ql/test/experimental/dataflow/model-summaries/InlineTaintTest.ext.yml
  python/ql/test/experimental/dataflow/model-summaries/NormalDataflowTest.ext.yml
  python/ql/test/experimental/dataflow/model-summaries/model_summaries.py
Labels: Python, no-change-note-required

#16023 Java: support Java 22 language features
  java/ql/consistency-queries/children.ql
  java/ql/lib/change-notes/2024-03-22-anonymous-variables.md
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
  java/ql/lib/semmle/code/java/Dependency.qll
  java/ql/lib/semmle/code/java/DependencyCounts.qll
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/PrettyPrintAst.qll
  java/ql/lib/semmle/code/java/PrintAst.qll
  java/ql/lib/semmle/code/java/Statement.qll
  java/ql/lib/semmle/code/java/Variable.qll
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/test/library-tests/dependency/PrintAst.expected
  java/ql/test/library-tests/guards12/PrintAst.expected
  java/ql/test/library-tests/guards12/Test.java
  java/ql/test/library-tests/guards12/guard.expected
  java/ql/test/library-tests/guards12/options
  java/ql/test/library-tests/pattern-switch/cfg/Exhaustive.java
  java/ql/test/library-tests/pattern-switch/cfg/Test.java
  java/ql/test/library-tests/pattern-switch/cfg/options
  java/ql/test/library-tests/pattern-switch/cfg/test.expected
  java/ql/test/library-tests/prettyprint/Test.java
  java/ql/test/library-tests/prettyprint/options
  java/ql/test/library-tests/prettyprint/pp.expected
  java/ql/test/library-tests/printAst/AnonDecls.java
  java/ql/test/library-tests/printAst/PrintAst.expected
  java/ql/test/library-tests/printAst/options
  java/ql/test/library-tests/switch-default-impossible-dispatch/Test.java
  java/ql/test/library-tests/switch-default-impossible-dispatch/options
  java/ql/test/library-tests/switch-default-impossible-dispatch/test.expected
Labels: documentation, Java

#16047 Update Java version supported to 22
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#16040 Use correct model pack name in qltest data extension
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/test.ext.yml
Labels: Java
