Repository github/codeql, pull requests merged in 2024-06, with the labels that each got.

#16623 Bazel: Use new packaging rules
  .github/workflows/csharp-qltest.yml
  .github/workflows/ql-for-ql-build.yml
  .github/workflows/ql-for-ql-dataset_measure.yml
  .github/workflows/ql-for-ql-tests.yml
  .github/workflows/ruby-dataset-measure.yml
  .github/workflows/ruby-qltest.yml
  .gitignore
  codeql-workspace.yml
  cpp/downgrades/BUILD.bazel
  cpp/ql/lib/BUILD.bazel
  csharp/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.Cpp/BUILD.bazel
  go/BUILD.bazel
  go/Makefile
  go/actions/test/action.yml
  go/codeql-tools/BUILD.bazel
  go/create_extractor_pack.py
  go/extractor-smoke-test/test.sh
  misc/bazel/csharp.bzl
  python/BUILD.bazel
  python/extractor/BUILD.bazel
  python/tools/BUILD.bazel
  ruby/BUILD.bazel
  ruby/Makefile
  ruby/tools/BUILD.bazel
  swift/.gitignore
  swift/actions/run-ql-tests/action.yml
Labels: C#, C++, depends on internal PR, Python, Go, Ruby, QL-for-QL, Swift

#16654 Python: Fixes an error in the deprecation notice for a taint tracking configuration
  python/ql/lib/semmle/python/security/dataflow/ServerSideRequestForgeryQuery.qll
Labels: Python, no-change-note-required

#16619 Go: Fix bug in ResponseWriter for variadic MaD
  go/ql/lib/semmle/go/frameworks/stdlib/NetHttp.qll
Labels: no-change-note-required, Go

#16636 Tree-sitter: Verbosity fixes
  ruby/extractor/src/extractor.rs
  shared/tree-sitter-extractor/src/autobuilder.rs
  shared/tree-sitter-extractor/src/extractor/mod.rs
  shared/tree-sitter-extractor/src/extractor/simple.rs
Labels: no-change-note-required, Ruby

#16637 C#: Improve performance of `MissingXMLValidation` query
  csharp/ql/lib/semmle/code/csharp/frameworks/system/Xml.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/MissingXMLValidationQuery.qll
  csharp/ql/test/query-tests/Security Features/CWE-112/MissingXMLValidation.expected
Labels: C#, no-change-note-required

#16598 Python: Add models for `opml`
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Opml.qll
  python/ql/src/change-notes/2024-05-27-opml-models.md
Labels: documentation, Python

#16646 Python: Update url-redirect qhelp with `https:/example.com` handling
  python/ql/src/Security/CWE-601/UrlRedirect.qhelp
  python/ql/src/Security/CWE-601/examples/redirect_good2.py
Labels: documentation, Python

#16661 C#: Quote packages.config paths
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetExeWrapper.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget with_space/Assemblies.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget with_space/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget with_space/Program.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget with_space/global.json
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget with_space/packages.config
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget with_space/skip-on-platform-osx-arm
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget with_space/test.csproj
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget with_space/test.py
Labels: C#

#16656 Javascript: use `codeql_pack` for javascript extractor
  csharp/.gitignore
  csharp/tools/BUILD.bazel
  javascript/BUILD.bazel
  javascript/downgrades/BUILD.bazel
  javascript/externs/BUILD.bazel
  javascript/extractor/lib/typescript/BUILD.bazel
  javascript/extractor/test/com/semmle/js/extractor/test/AllTests.java
  javascript/resources/BUILD.bazel
  javascript/resources/codeql-extractor.yml
  javascript/resources/tools/autobuild.cmd
  javascript/resources/tools/autobuild.sh
  javascript/resources/tools/baseline-config.json
  javascript/resources/tools/configure-baseline.cmd
  javascript/resources/tools/configure-baseline.sh
  javascript/resources/tools/index-dir.sh
  ql/.gitignore
  ruby/.gitignore
Labels: C#, JS

#16600 Java: Add more File-related sinks to the path-injection query
  java/ql/lib/ext/java.io.model.yml
  java/ql/src/change-notes/2024-05-27-path-injection-file-sinks.md
  java/ql/test/experimental/query-tests/security/CWE-020/Log4jInjectionTest.expected
  java/ql/test/experimental/query-tests/security/CWE-073/FilePathInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-078/CommandInjectionRuntimeExecLocal.expected
  java/ql/test/experimental/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MyBatisAnnotationSqlInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/BeanShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JythonInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/ScriptInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-1004/SensitiveCookieNotHttpOnly.expected
  java/ql/test/experimental/query-tests/security/CWE-200/InsecureWebResourceResponse.expected
  java/ql/test/experimental/query-tests/security/CWE-200/SensitiveAndroidFileLeak.expected
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstSignagure/Test.expected
  java/ql/test/experimental/query-tests/security/CWE-346/UnvalidatedCors.expected
  java/ql/test/experimental/query-tests/security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.expected
  java/ql/test/experimental/query-tests/security/CWE-352/JsonpInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-470/UnsafeReflection.expected
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery.expected
  java/ql/test/experimental/query-tests/security/CWE-600/UncaughtServletException.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/experimental/query-tests/security/CWE-625/PermissiveDotRegex.expected
  java/ql/test/experimental/query-tests/security/CWE-652/XQueryInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-759/HashWithoutSalt.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.expected
  java/ql/test/library-tests/frameworks/JaxWs/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/Test.java
  java/ql/test/query-tests/security/CWE-022/semmle/tests/ZipSlip.expected
  java/ql/test/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTainted.expected
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/query-tests/security/CWE-094/InsecureBeanValidation.expected
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayConstruction.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayIndex.expected
  java/ql/test/query-tests/security/CWE-134/semmle/tests/ExternallyControlledFormatString.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTainted.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/TempDirLocalInformationDisclosure.expected
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.expected
  java/ql/test/query-tests/security/CWE-311/CWE-319/HttpsUrls.expected
  java/ql/test/query-tests/security/CWE-327/semmle/tests/BrokenCryptoAlgorithm.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-681/semmle/tests/NumericCastTainted.expected
  java/ql/test/query-tests/security/CWE-807/semmle/tests/TaintedPermissionsCheck.expected
Labels: depends on internal PR, documentation, Java

#16571 Go: remove flow step duplication in configs
  go/ql/lib/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  go/ql/lib/semmle/go/security/CleartextLogging.qll
  go/ql/lib/semmle/go/security/OpenUrlRedirect.qll
  go/ql/src/experimental/frameworks/DecompressionBombsCustomizations.qll
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
Labels: no-change-note-required, Go

#16662 C++: Ignore `gets`'es with incorrect parameter counts
  cpp/ql/src/Security/CWE/CWE-676/DangerousFunctionOverflow.ql
  cpp/ql/src/change-notes/2014-06-05-gets-parameter.md
  cpp/ql/test/query-tests/Security/CWE/CWE-676/semmle/PotentiallyDangerousFunction/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-676/semmle/PotentiallyDangerousFunction/test.cpp
Labels: C++, documentation

#16683 Go: Refactor findMethodWithGivenReceiver
  go/extractor/trap/labels.go
Labels: no-change-note-required, Go

#16685 Java: Add change note documenting ECJ improvements
  java/ql/lib/change-notes/2024-06-05-ecj-support.md
Labels: documentation, Java

#16682 Java integration tests: accept new output
  java/ql/integration-tests/all-platforms/java/android-sample-kotlin-build-script-no-wrapper/test.expected
  java/ql/integration-tests/all-platforms/java/android-sample-kotlin-build-script/test.expected
  java/ql/integration-tests/all-platforms/java/android-sample-no-wrapper/test.expected
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script-no-wrapper/test.expected
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script/test.expected
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-no-wrapper/test.expected
  java/ql/integration-tests/all-platforms/java/android-sample-old-style/test.expected
  java/ql/integration-tests/all-platforms/java/android-sample/test.expected
  java/ql/integration-tests/all-platforms/java/ant-sample/test.expected
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/test.expected
  java/ql/integration-tests/all-platforms/java/gradle-sample-kotlin-script/test.expected
  java/ql/integration-tests/all-platforms/java/gradle-sample/test.expected
  java/ql/integration-tests/all-platforms/java/java-web-jsp/test.expected
  java/ql/integration-tests/all-platforms/java/maven-sample-extract-properties/test.expected
  java/ql/integration-tests/all-platforms/java/maven-sample-large-xml-files/test.expected
  java/ql/integration-tests/all-platforms/java/maven-sample-small-xml-files/test.expected
  java/ql/integration-tests/all-platforms/java/maven-sample-xml-mode-all/test.expected
  java/ql/integration-tests/all-platforms/java/maven-sample-xml-mode-byname/test.expected
  java/ql/integration-tests/all-platforms/java/maven-sample-xml-mode-disabled/test.expected
  java/ql/integration-tests/all-platforms/java/maven-sample-xml-mode-smart/test.expected
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample-without-gradle/test.expected
  java/ql/integration-tests/all-platforms/java/partial-gradle-sample/test.expected
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/test.expected
Labels: Java

#16676 C/C#/Java/Swift: Cover all params in QLDoc of `modelCoverage`
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
Labels: C#, C++, Java, no-change-note-required, Swift

#16673 C#: Fix erroneous logger disposal
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
Labels: C#

#16663 Ruby: Add consistency query for extraction errors
  ruby/ql/consistency-queries/AstConsistency.ql
  ruby/ql/test/library-tests/ast/Ast.expected
  ruby/ql/test/library-tests/ast/AstDesugar.expected
  ruby/ql/test/library-tests/ast/TreeSitter.expected
  ruby/ql/test/library-tests/ast/ValueText.expected
  ruby/ql/test/library-tests/ast/calls/arguments.expected
  ruby/ql/test/library-tests/ast/calls/calls.expected
  ruby/ql/test/library-tests/ast/calls/calls.rb
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.rb
  ruby/ql/test/library-tests/dataflow/summaries/summaries.rb
  ruby/ql/test/library-tests/frameworks/action_view/app/views/foo/bars/show.html.erb
  ruby/ql/test/query-tests/diagnostics/CONSISTENCY/AstConsistency.expected
  ruby/ql/test/query-tests/security/cwe-300/Gemfile
Labels: no-change-note-required, Ruby

#16668 JS: Use `resources/tools` from external repo, not internal.
  javascript/BUILD.bazel
Labels: JS

#16681 Ripunzip: provide installer
  .gitattributes
  MODULE.bazel
  misc/bazel/BUILD.bazel
  misc/bazel/internal/ripunzip/BUILD.bazel
  misc/bazel/internal/ripunzip/README.md
  misc/bazel/pkg.bzl
  misc/bazel/runfiles.sh
  misc/ripunzip/BUILD.bazel
  misc/ripunzip/LICENSE.txt
  misc/ripunzip/README.md
  misc/ripunzip/install.sh
  misc/ripunzip/ripunzip-linux
  misc/ripunzip/ripunzip-macos
  misc/ripunzip/ripunzip-windows.exe
  swift/third_party/resource-dir/BUILD.bazel
  swift/third_party/resource-dir/update.sh
Labels: documentation, Swift

#16523 Adding case to InsecureSQLConnection.ql when Encrypt set in initializer
  csharp/ql/src/Security Features/CWE-327/InsecureSQLConnection.ql
  csharp/ql/test/query-tests/Security Features/CWE-327/InsecureSQLConnection/InsecureSQLConnection.cs
  csharp/ql/test/query-tests/Security Features/CWE-327/InsecureSQLConnection/InsecureSQLConnection.expected
Labels: C#, no-change-note-required

#16688 C++: Fix IR generation for builtins and add flow through `__builtin_bit_cast`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#16665 C++: Support for extension models (.yml)
  cpp/ql/lib/change-notes/2024-06-14-boost-asio.md
  cpp/ql/lib/change-notes/2024-06-14-models-as-data-yml-extensions.md
  cpp/ql/lib/ext/Boost.Asio.model.yml
  cpp/ql/lib/ext/empty.model.yml
  cpp/ql/lib/qlpack.yml
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/ExternalFlowExtensions.qll
  cpp/ql/test/library-tests/dataflow/external-models/asio_streams.cpp
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/flow.ext.yml
  cpp/ql/test/library-tests/dataflow/external-models/flow.ql
  cpp/ql/test/library-tests/dataflow/external-models/sinks.expected
  cpp/ql/test/library-tests/dataflow/external-models/sinks.ext.yml
  cpp/ql/test/library-tests/dataflow/external-models/sinks.ql
  cpp/ql/test/library-tests/dataflow/external-models/sources.expected
  cpp/ql/test/library-tests/dataflow/external-models/sources.ext.yml
  cpp/ql/test/library-tests/dataflow/external-models/sources.ql
  cpp/ql/test/library-tests/dataflow/external-models/steps.expected
  cpp/ql/test/library-tests/dataflow/external-models/steps.ext.yml
  cpp/ql/test/library-tests/dataflow/external-models/steps.ql
  cpp/ql/test/library-tests/dataflow/external-models/test.cpp
  cpp/ql/test/library-tests/dataflow/external-models/validatemodels.expected
  cpp/ql/test/library-tests/dataflow/external-models/validatemodels.ql
  cpp/ql/test/library-tests/dataflow/source-sink-tests/asio_streams.cpp
  docs/codeql/codeql-language-guides/codeql-for-cpp.rst
  docs/codeql/codeql-language-guides/customizing-library-models-for-cpp.rst
  shared/mad/codeql/mad/ModelValidation.qll
Labels: C++, documentation, ready-for-doc-review

#16687 Ruby: Bump tree-sitter grammar
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/cargo-bazel-lock.json
Labels: no-change-note-required, Ruby

#16677 C++: Extend barrier guards to handle phi inputs
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/src/Likely Bugs/Memory Management/AllocaInLoop.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/BarrierGuard.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/TestBase.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow-ir.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
Labels: C++, no-change-note-required

#16693 C++: Correctly identify orphaned variables as static
  cpp/ql/lib/semmle/code/cpp/Variable.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/variables/variables/variable.expected
  cpp/ql/test/library-tests/variables/variables/variables.cpp
Labels: C++, no-change-note-required

#16647 C#: Make summary generation idempotent.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs_
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.dll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ext.yml
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
  csharp/ql/test/library-tests/dataflow/external-models/Steps.cs
  csharp/ql/test/library-tests/dataflow/external-models/steps.expected
  csharp/ql/test/library-tests/dataflow/external-models/steps.ext.yml
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
Labels: C#, no-change-note-required

#16684 Add changelog for 2.17.4
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#16460 Go: Use new type for all semantic versions
  go/extractor/autobuilder/BUILD.bazel
  go/extractor/autobuilder/build-environment.go
  go/extractor/autobuilder/build-environment_test.go
  go/extractor/cli/go-autobuilder/BUILD.bazel
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/project/BUILD.bazel
  go/extractor/project/project.go
  go/extractor/toolchain/BUILD.bazel
  go/extractor/toolchain/toolchain.go
  go/extractor/toolchain/toolchain_test.go
  go/extractor/util/BUILD.bazel
  go/extractor/util/semver.go
  go/extractor/util/semver_test.go
Labels: Go

#16702 Add changelog for 2.17.4 to release brach
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#16210 Dataflow: Add support for pretty-printed alert provenance in tests
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  csharp/ql/test/query-tests/Security Features/CWE-807/ConditionalBypass.expected
  csharp/ql/test/query-tests/Security Features/CWE-807/ConditionalBypass.ql
  csharp/ql/test/query-tests/Security Features/CWE-807/ConditionalBypass.qlref
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.ql
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.qlref
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/test/query-tests/security/CWE-311/CWE-319/HttpsUrls.expected
  java/ql/test/query-tests/security/CWE-311/CWE-319/HttpsUrls.ql
  java/ql/test/query-tests/security/CWE-311/CWE-319/HttpsUrls.qlref
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.ql
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.qlref
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/test/ProvenancePathGraph.qll
Labels: C#, JS, Java, Python, no-change-note-required, Go, Ruby, DataFlow Library

#16705 C#: Add assembly attributes to assemblies built with Bazel
  csharp/Directory.Build.props
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.CSharp/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.Cpp/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.Shared/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Properties/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Semmle.Extraction.CSharp.DependencyFetching.csproj
  csharp/extractor/Semmle.Extraction.CSharp.DependencyStubGenerator/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.Driver/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/Properties/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/Semmle.Extraction.CSharp.StubGenerator.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Util/BUILD.bazel
  csharp/extractor/Semmle.Extraction.Tests/BUILD.bazel
  csharp/extractor/Semmle.Extraction/BUILD.bazel
  csharp/extractor/Semmle.Util.Tests/BUILD.bazel
  csharp/extractor/Semmle.Util/BUILD.bazel
  csharp/scripts/BUILD.bazel
  csharp/scripts/gen-assembly-info.py
  csharp/scripts/gen-git-assembly-info.py
  misc/bazel/csharp.bzl
Labels: C#

#16690 C++: Fix missing results for `comparesEq` in `IRGuardCondition`
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/guards/Guards.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.expected
  cpp/ql/test/library-tests/controlflow/guards/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/BarrierGuard.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/TestBase.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
Labels: C++, no-change-note-required

#16482 Java: Add RSA/ECB/OEAP ciphers to the list of secure algorithms
  java/ql/lib/semmle/code/java/security/BrokenCryptoAlgorithmQuery.qll
  java/ql/src/change-notes/2024-05-13-rsa-ecb-secure.md
Labels: documentation, Java

#16714 C++: Support `__builtin_expect` in `IRGuards`
  cpp/ql/lib/change-notes/2024-10-06-builtin-expect.md
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/library-tests/controlflow/guards/Guards.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.expected
  cpp/ql/test/library-tests/controlflow/guards/test.cpp
Labels: C++, documentation

#16703 Go: Use toolchain directives for version selection if available, and add tests (v2)
  go/extractor/project/BUILD.bazel
  go/extractor/project/project.go
  go/extractor/project/project_test.go
Labels: Go

#16721 Dataflow: Remove unused import.
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
Labels: no-change-note-required, DataFlow Library

#16716 Rust: Move to bzlmod.
  .bazelversion
  MODULE.bazel
  csharp/extractor/Semmle.Extraction.CSharp/BUILD.bazel
  javascript/BUILD.bazel
  misc/bazel/rust.bzl
  python/extractor/tsg-python/BUILD.bazel
  python/extractor/tsg-python/Cargo.Bazel.lock
  python/extractor/tsg-python/Cargo.toml
  ruby/extractor/BUILD.bazel
  ruby/extractor/Cargo.toml
  ruby/extractor/cargo-bazel-lock.json
Labels: C#, JS, depends on internal PR, Python, Ruby

#16724 C++: Cache `asExpr` (and `asIndirectExpr`) implementation predicates
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ExprNodes.qll
Labels: C++, no-change-note-required

#16712 Java: Add `FileUtils` sinks to path injection
  java/ql/lib/ext/org.apache.commons.io.model.yml
  java/ql/src/change-notes/2024-06-10-path-injection-fileutils-sinks.md
  java/ql/test/experimental/query-tests/security/CWE-020/Log4jInjectionTest.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
Labels: documentation, Java

#16545 Swift: Salvage
  swift/ql/.generated.list
  swift/ql/.gitattributes
  swift/ql/lib/codeql/swift/elements/expr/BooleanLiteralExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/BuiltinLiteralExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/FloatLiteralExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/IntegerLiteralExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/LiteralExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/MagicIdentifierLiteralExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/StringLiteralExpr.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test2.swift
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
  swift/ql/test/library-tests/elements/expr/builtinliteralexpr/builtinliteralexpr.expected
  swift/ql/test/library-tests/elements/expr/builtinliteralexpr/builtinliteralexpr.ql
  swift/ql/test/library-tests/elements/expr/builtinliteralexpr/builtinliteralexpr.swift
Labels: no-change-note-required, Swift

#16671 Go: Convert old-style models for built-ins to MaD
  go/ql/lib/ext/builtin.model.yml
  go/ql/lib/semmle/go/frameworks/Stdlib.qll
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-74/DsnInjection.expected
  go/ql/test/experimental/CWE-74/DsnInjectionLocal.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/steps.expected
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Encoding/jsoniter.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-327/UnsafeTLS.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-640/EmailInjection.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Labels: no-change-note-required, Go

#16726 Go: Only log one line for stray .go files
  go/extractor/util/util.go
Labels: Go

#16704 Go: Fix build scripts running for each workspace
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/project/project.go
  go/extractor/toolchain/toolchain.go
Labels: Go

#16657 Python: Add additional sanitizers to SSRF
  python/ql/lib/semmle/python/security/dataflow/ServerSideRequestForgeryCustomizations.qll
  python/ql/src/change-notes/2024-06-04-ssrf-sanitizers.md
  python/ql/test/query-tests/Security/CWE-918-ServerSideRequestForgery/full_partial_test.py
Labels: documentation, Python

#16471 Ruby: Add some method calls as a Source
  ruby/ql/lib/codeql/ruby/experimental/UnicodeBypassValidationQuery.qll
  ruby/ql/test/query-tests/experimental/cwe-176/UnicodeBypassValidation.expected
Labels: Ruby, external-contribution

#16732 C#: Refactor extractor state classes and simplify extraction code
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/CompilerDiagnostic.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Invocation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/File.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/NonGeneratedSourceLocation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/OrdinaryMethod.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/LineOrSpanDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/PragmaChecksumDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NamedType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/UsingDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Context.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/StandaloneAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TracingAnalyser.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entities/Base/Entity.cs
  csharp/extractor/Semmle.Extraction/Entities/Base/IEntity.cs
  csharp/extractor/Semmle.Extraction/Entities/ExtractionMessage.cs
  csharp/extractor/Semmle.Extraction/Entities/File.cs
  csharp/extractor/Semmle.Extraction/Extractor/ExtractionContext.cs
  csharp/extractor/Semmle.Extraction/Extractor/StandaloneExtractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/TracingExtractor.cs
Labels: C#

#16740 SSA: Fix bad join in `lastRefRedefExt`
  shared/ssa/codeql/ssa/Ssa.qll
Labels: no-change-note-required

#16748 Mergeback from `rc/3.14`
  shared/ssa/codeql/ssa/Ssa.qll
Labels: no-change-note-required

#16731 Kotlin: expose kotlin version picker for internal packaging
  java/kotlin-extractor/BUILD.bazel
  java/kotlin-extractor/current_kotlin_version.py
  java/kotlin-extractor/defaults/BUILD.bazel
  java/kotlin-extractor/deps.bzl
  java/kotlin-extractor/pick-kotlin-version.py
Labels: Kotlin

#16749 C++: Fix `ArrayExpr` FPs in `cpp/double-free`
  cpp/ql/lib/change-notes/2024-06-10-builtin-expect.md
  cpp/ql/lib/change-notes/2024-06-13-double-free.md
  cpp/ql/lib/semmle/code/cpp/security/flowafterfree/FlowAfterFree.qll
  cpp/ql/test/query-tests/Critical/MemoryFreed/DoubleFree.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/MemoryFreed.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/test_free.cpp
Labels: C++, documentation

#16727 Go: Prevent `go.mod` files from being added to every directory with stray source files
  go/extractor/project/project.go
Labels: Go

#16723 `pkg.bzl`: Significantly restructure `codeql_pack` rule.
  javascript/BUILD.bazel
  misc/bazel/internal/install.py
  misc/bazel/pkg.bzl
  swift/BUILD.bazel
  swift/third_party/resource-dir/BUILD.bazel
Labels: JS, depends on internal PR, Swift

#16720 Kotlin: cleanup after internal changes
  java/kotlin-extractor/BUILD.bazel
  java/kotlin-extractor/build.py
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/ql/lib/change-notes/2024-06-13-kotlin-qltest-support.md
Labels: depends on internal PR, documentation, Java, Kotlin

#16694 Kotlin: Remove unused PopulationSpecFile
  java/kotlin-extractor/src/main/java/com/semmle/extractor/java/OdasaOutput.java
  java/kotlin-extractor/src/main/java/com/semmle/util/extraction/PopulationSpecFile.java
Labels: Kotlin

#16762 Python: failing unused import test case
  python/ql/test/query-tests/Imports/unused/UnusedImport.expected
  python/ql/test/query-tests/Imports/unused/imports_test.py
  python/ql/test/query-tests/Imports/unused/pytest_fixtures.py
Labels: Python

#16763 C++: Add test that show that routine attributes are not fully de-duplicated
  cpp/ql/test/library-tests/attributes/routine_attributes/arguments.expected
  cpp/ql/test/library-tests/attributes/routine_attributes/routine_attributes.expected
  cpp/ql/test/library-tests/attributes/routine_attributes/routine_attributes2.cpp
  cpp/ql/test/library-tests/attributes/routine_attributes/routine_attributes2.h
  cpp/ql/test/library-tests/attributes/routine_attributes/routine_attributes3.cpp
Labels: C++

#16761 Java: Exclude loopback address from reverse DNS source
  java/ql/lib/change-notes/2024-06-14-exclude-loopback-from-reverse-dns.md
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/test/query-tests/security/CWE-807/semmle/tests/ConditionalBypassTest.java
Labels: documentation, Java

#16766 Add powershell to list of requirements on windows
  docs/codeql/codeql-overview/system-requirements.rst
Labels: documentation

#16765 C++: Add more tests that show we do not properly deduplicate attributes
  cpp/ql/test/library-tests/attributes/type_attributes/arguments.expected
  cpp/ql/test/library-tests/attributes/type_attributes/type_attributes.expected
  cpp/ql/test/library-tests/attributes/type_attributes/type_attributes2.cpp
  cpp/ql/test/library-tests/attributes/type_attributes/type_attributes2.h
  cpp/ql/test/library-tests/attributes/type_attributes/type_attributes3.cpp
  cpp/ql/test/library-tests/attributes/var_attributes/var_attributes.expected
  cpp/ql/test/library-tests/attributes/var_attributes/var_attributes2.cpp
  cpp/ql/test/library-tests/attributes/var_attributes/var_attributes2.h
  cpp/ql/test/library-tests/attributes/var_attributes/var_attributes3.cpp
Labels: C++

#16751 Java: Calculate 2nd level scopes for implicit instance accesses.
  java/ql/lib/change-notes/2024-06-17-ffbl-implicit-this.md
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
Labels: documentation, Java

#16752 C#/Java: Add some (shared) helper classes for Neutrals, Sources and Sink
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/utils/modeleditor/FrameworkModeEndpointsQuery.qll
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, Java, no-change-note-required, DataFlow Library

#16773 add 2.17.5 unified changelog
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.5.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#16772 Java: Opt-in `java/tainted-permissions-check` to threat models.
  java/ql/lib/semmle/code/java/security/TaintedPermissionsCheckQuery.qll
  java/ql/src/change-notes/2024-06-17-tainted-permissions-check.md
Labels: documentation, Java

#16503 Ruby: Use additional sensitive data heuristics for CleartextSources
  ruby/ql/lib/change-notes/2024-05-15-cleartext-sources.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/security/CleartextLoggingQuery.qll
  ruby/ql/lib/codeql/ruby/security/CleartextStorageQuery.qll
  ruby/ql/lib/codeql/ruby/security/internal/CleartextSources.qll
  ruby/ql/test/query-tests/security/cwe-312/CleartextStorage.expected
  ruby/ql/test/query-tests/security/cwe-312/app/controllers/users_controller.rb
Labels: documentation, Ruby

#16650 Ruby: ActionDispatch - support `path => target` route format
  ruby/ql/lib/codeql/ruby/frameworks/actiondispatch/internal/Routing.qll
  ruby/ql/test/library-tests/frameworks/action_dispatch/ActionDispatch.expected
  ruby/ql/test/library-tests/frameworks/action_dispatch/app/config/routes.rb
  ruby/ql/test/library-tests/frameworks/action_dispatch/app/controllers/posts_controller.rb
Labels: no-change-note-required, Ruby

#16777 Swift: Add missing bracket in example
  swift/ql/src/queries/Security/CWE-311/CleartextTransmission.swift
Labels: Swift

#16667 Add support for flow through content of global variables
  go/ql/lib/change-notes/2024-06-17-go-global-variable-writes.md
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  go/ql/test/experimental/CWE-1004/CookieWithoutHttpOnly.expected
  go/ql/test/experimental/CWE-321-V2/HardCodedKeys.expected
  go/ql/test/library-tests/semmle/go/dataflow/GlobalVariableSideEffects/globalVariable.go
Labels: documentation, Go

#16778 2.17.4 Changelog patch
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.17.4.rst
Labels: documentation

#16754 Python: Disregard unused imports in `pytest` tests
  python/ql/src/Imports/UnusedImport.ql
  python/ql/test/query-tests/Imports/unused/UnusedImport.expected
  python/ql/test/query-tests/Imports/unused/imports_test.py
  python/ql/test/query-tests/Imports/unused/pytest_fixtures.py
Labels: Python, no-change-note-required

#16697 Go: Introduce Threat Modeling
  go/ql/lib/change-notes/2024-06-06-add-go-threatmodelflowsource.md
  go/ql/lib/qlpack.yml
  go/ql/lib/semmle/go/security/FlowSources.qll
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/Test.qll
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/go.mod
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/test.go
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.ql
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.ql
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.ql
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.ql
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.ql
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.ql
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/vendor/github.com/nonexistent/sources/sources.go
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/vendor/modules.txt
Labels: documentation, Go

#16709 Go: Refactor queries to use `ThreatModelFlowSource` instead of `RemoteFlowSource`
  go/ql/lib/change-notes/2024-06-08-refactor-go-queries-to-use-threatmodelflowsource.md
  go/ql/lib/semmle/go/security/CommandInjectionCustomizations.qll
  go/ql/lib/semmle/go/security/ExternalAPIs.qll
  go/ql/lib/semmle/go/security/LogInjectionCustomizations.qll
  go/ql/lib/semmle/go/security/MissingJwtSignatureCheckCustomizations.qll
  go/ql/lib/semmle/go/security/OpenUrlRedirectCustomizations.qll
  go/ql/lib/semmle/go/security/ReflectedXssCustomizations.qll
  go/ql/lib/semmle/go/security/RequestForgeryCustomizations.qll
  go/ql/lib/semmle/go/security/SqlInjectionCustomizations.qll
  go/ql/lib/semmle/go/security/TaintedPathCustomizations.qll
  go/ql/lib/semmle/go/security/UncontrolledAllocationSizeCustomizations.qll
  go/ql/lib/semmle/go/security/XPathInjectionCustomizations.qll
  go/ql/src/Security/CWE-640/EmailInjectionCustomizations.qll
  go/ql/src/experimental/CWE-090/LDAPInjection.qll
  go/ql/src/experimental/CWE-203/Timing.ql
  go/ql/src/experimental/CWE-287/ImproperLdapAuthCustomizations.qll
  go/ql/src/experimental/CWE-369/DivideByZero.ql
  go/ql/src/experimental/CWE-74/DsnInjection.ql
  go/ql/src/experimental/CWE-79/HTMLTemplateEscapingPassthrough.ql
  go/ql/src/experimental/CWE-807/SensitiveConditionBypass.qll
  go/ql/src/experimental/CWE-840/ConditionalBypass.ql
  go/ql/src/experimental/CWE-918/SSRF.qll
  go/ql/src/experimental/CWE-942/CorsMisconfiguration.ql
  go/ql/src/experimental/frameworks/DecompressionBombs.qll
Labels: documentation, Go

#16776 C#: Make sure no file is added twice to the compilation
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/ql/integration-tests/all-platforms/source_generator/Diag.expected
  csharp/ql/integration-tests/all-platforms/source_generator/Diag.ql
  csharp/ql/integration-tests/all-platforms/source_generator/Files.expected
  csharp/ql/integration-tests/all-platforms/source_generator/Files.ql
  csharp/ql/integration-tests/all-platforms/source_generator/Generated/x.cs
  csharp/ql/integration-tests/all-platforms/source_generator/Program.cs
  csharp/ql/integration-tests/all-platforms/source_generator/global.json
  csharp/ql/integration-tests/all-platforms/source_generator/test.csproj
  csharp/ql/integration-tests/all-platforms/source_generator/test.py
Labels: C#

#16784 C++/Java: Accept new warning format in ql tests
  cpp/ql/test/library-tests/dataflow/dataflow-edge-tests/additionalEdges.expected
  cpp/ql/test/library-tests/dataflow/dataflow-edge-tests/standardEdges.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/has-parameter-flow-out.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-number-of-outnodes.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/smart-pointers-taint/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  java/ql/test/library-tests/pathcreation/PathCreation.expected
  javascript/ql/test/tutorials/Validating RAML-based APIs/query2.expected
  javascript/ql/test/tutorials/Validating RAML-based APIs/query3.expected
  javascript/ql/test/tutorials/Validating RAML-based APIs/query4.expected
  python/ql/test/library-tests/dataflow/qll-private-imports/Test.expected
Labels: JS, C++, depends on internal PR, Java, Python

#16739 JS: Allow many Array steps to be used in type-tracking
  javascript/ql/lib/change-notes/2024-06-14-type-tracking-array-steps.md
  javascript/ql/lib/semmle/javascript/Arrays.qll
  javascript/ql/test/library-tests/Arrays/DataFlow.expected
  javascript/ql/test/library-tests/Arrays/TaintFlow.expected
  javascript/ql/test/library-tests/Arrays/arrays.js
  javascript/ql/test/library-tests/Arrays/printAst.expected
  javascript/ql/test/library-tests/frameworks/Collections/test.expected
  javascript/ql/test/library-tests/frameworks/Collections/tst.js
Labels: JS, documentation

#16795 C++: Remove unneeded options from tests
  cpp/ql/test/header-variant-tests/iquote/iquote.c
  cpp/ql/test/library-tests/CPP-207/options
  cpp/ql/test/library-tests/attributes/availability/options
  cpp/ql/test/library-tests/clang_builtin_macros/addressof.c
  cpp/ql/test/library-tests/clang_builtin_macros/extended.cpp
  cpp/ql/test/library-tests/clang_builtin_macros/options
  cpp/ql/test/library-tests/clang_builtin_macros/test.cpp
  cpp/ql/test/library-tests/clang_ms/options
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/declspec/guard/test.cpp
  cpp/ql/test/library-tests/specifiers2/cpp20.cpp
  cpp/ql/test/library-tests/structs/compatible_c/c1_gnu.c
  cpp/ql/test/library-tests/structs/compatible_c/c2_gnu.c
  cpp/ql/test/library-tests/templates/CPP-223/test.cpp
  cpp/ql/test/library-tests/vector_types/options
  cpp/ql/test/library-tests/vector_types/vector_types.cpp
Labels: C++

#14088 JS: decoding JWT without signature verification
  javascript/ql/src/experimental/Security/CWE-347/Examples/Bad.js
  javascript/ql/src/experimental/Security/CWE-347/Examples/Good.js
  javascript/ql/src/experimental/Security/CWE-347/JWT.qll
  javascript/ql/src/experimental/Security/CWE-347/decodeJwtWithoutVerification.qhelp
  javascript/ql/src/experimental/Security/CWE-347/decodeJwtWithoutVerification.ql
  javascript/ql/src/experimental/Security/CWE-347/decodeJwtWithoutVerificationLocalSource.ql
  javascript/ql/test/experimental/Security/CWE-347/localsource/JsonWebToken.js
  javascript/ql/test/experimental/Security/CWE-347/localsource/decodeJwtWithoutVerificationLocalSource.expected
  javascript/ql/test/experimental/Security/CWE-347/localsource/decodeJwtWithoutVerificationLocalSource.qlref
  javascript/ql/test/experimental/Security/CWE-347/localsource/jose.js
  javascript/ql/test/experimental/Security/CWE-347/localsource/jwtDecode.js
  javascript/ql/test/experimental/Security/CWE-347/localsource/jwtSimple.js
  javascript/ql/test/experimental/Security/CWE-347/remotesource/JsonWebToken.js
  javascript/ql/test/experimental/Security/CWE-347/remotesource/decodeJwtWithoutVerification.expected
  javascript/ql/test/experimental/Security/CWE-347/remotesource/decodeJwtWithoutVerification.qlref
  javascript/ql/test/experimental/Security/CWE-347/remotesource/jose.js
  javascript/ql/test/experimental/Security/CWE-347/remotesource/jwtDecode.js
  javascript/ql/test/experimental/Security/CWE-347/remotesource/jwtSimple.js
Labels: JS, documentation

#16790 JavaScript: Fix CodeQL alert in extractor
  javascript/extractor/src/com/semmle/jcorn/Identifiers.java
Labels: JS

#14293 JS: Dynamic import as code injection sink
  javascript/ql/src/experimental/Security/CWE-094-dataURL/CodeInjection.inc.qhelp
  javascript/ql/src/experimental/Security/CWE-094-dataURL/CodeInjection.qhelp
  javascript/ql/src/experimental/Security/CWE-094-dataURL/CodeInjection.ql
  javascript/ql/src/experimental/Security/CWE-094-dataURL/examples/CodeInjection.js
  javascript/ql/test/experimental/Security/CWE-094-dataURL/CodeInjection.expected
  javascript/ql/test/experimental/Security/CWE-094-dataURL/CodeInjection.qlref
  javascript/ql/test/experimental/Security/CWE-094-dataURL/test.js
Labels: JS, documentation, external-contribution

#15060 JS: Env Injection query
  javascript/ql/src/experimental/Security/CWE-099/EnvValueAndKeyInjection.qhelp
  javascript/ql/src/experimental/Security/CWE-099/EnvValueAndKeyInjection.ql
  javascript/ql/src/experimental/Security/CWE-099/EnvValueInjection.qhelp
  javascript/ql/src/experimental/Security/CWE-099/EnvValueInjection.ql
  javascript/ql/src/experimental/Security/CWE-099/examples/Bad_Value_And_Key_Assignment.js
  javascript/ql/src/experimental/Security/CWE-099/examples/Bad_Value_Assignment.js
  javascript/ql/test/experimental/Security/CWE-099/EnvValueAndKeyInjection/EnvValueAndKeyInjection.expected
  javascript/ql/test/experimental/Security/CWE-099/EnvValueAndKeyInjection/EnvValueAndKeyInjection.qlref
  javascript/ql/test/experimental/Security/CWE-099/EnvValueAndKeyInjection/test.js
  javascript/ql/test/experimental/Security/CWE-099/EnvValueInjection/EnvValueInjection.expected
  javascript/ql/test/experimental/Security/CWE-099/EnvValueInjection/EnvValueInjection.qlref
  javascript/ql/test/experimental/Security/CWE-099/EnvValueInjection/test.js
Labels: JS, documentation

#16794 Ruby: Rework `Sinatra.FilterJumpStep`
  ruby/ql/lib/codeql/ruby/frameworks/Sinatra.qll
  ruby/ql/test/library-tests/frameworks/sinatra/Flow.expected
  ruby/ql/test/library-tests/frameworks/sinatra/Flow.ql
  ruby/ql/test/library-tests/frameworks/sinatra/Sinatra.expected
Labels: no-change-note-required, Ruby

#16734 Document builtin InternSets module
  docs/codeql/ql-language-reference/modules.rst
Labels: documentation

#16729 JS: Extract SAP XSJS file types as Javascript
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/test/com/semmle/js/extractor/test/AutoBuildTests.java
Labels: JS

#16796 Go: Fix bug removing "vendor/" from package paths
  go/ql/lib/semmle/go/Packages.qll
Labels: no-change-note-required, Go

#16805 C++: Fix missing `asExpr` for temporary materializations with conversions
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ExprNodes.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/TestBase.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Labels: C++, no-change-note-required

#16759 C#/Java: Introduce source and sink model generation sanitisers.
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/Sinks.cs
  csharp/ql/test/utils/modelgenerator/dataflow/Sources.cs
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.ext.yml
  java/ql/test/utils/modelgenerator/dataflow/p/Sinks.java
  java/ql/test/utils/modelgenerator/dataflow/p/Sources.java
Labels: C#, Java, no-change-note-required

#16753 Go: a few small clean ups
  go/ql/lib/semmle/go/Scopes.qll
  go/ql/lib/semmle/go/frameworks/BeegoOrm.qll
  go/ql/lib/semmle/go/frameworks/Logrus.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Fmt.qll
  go/ql/lib/semmle/go/frameworks/stdlib/HtmlTemplate.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Log.qll
Labels: no-change-note-required, Go

#16775 C#/Java: Parameterized module for model printing.
  config/identical-files.json
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  csharp/ql/src/utils/modelconverter/InterpretModel.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsPrinting.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureSummaryFlowQuery.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsPrinting.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/modelgenerator/internal/CaptureSummaryFlowQuery.qll
  java/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  shared/mad/codeql/mad/modelgenerator/ModelPrinting.qll
Labels: C#, Java, no-change-note-required

#16785 Dataflow: Replace stage 3 type pruning with flow-insensitive type pruning.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Labels: C#, C++, Java, Python, no-change-note-required, Go, Ruby, Swift, DataFlow Library

#16797 C++: Add extensible predicates to `Allocation` and `Deallocation`
  cpp/ql/lib/change-notes/2024-06-20-extensible-allocation-deallocation.md
  cpp/ql/lib/ext/allocation/Bsd.allocation.model.yml
  cpp/ql/lib/ext/allocation/Glibc.allocation.model.yml
  cpp/ql/lib/ext/allocation/OpenSSL.allocation.model.yml
  cpp/ql/lib/ext/allocation/Std.allocation.model.yml
  cpp/ql/lib/ext/allocation/Windows.allocation.model.yml
  cpp/ql/lib/ext/allocation/empty.allocation.model.yml
  cpp/ql/lib/ext/deallocation/Bsd.deallocation.model.yml
  cpp/ql/lib/ext/deallocation/Std.deallocation.model.yml
  cpp/ql/lib/ext/deallocation/Windows.deallocation.model.yml
  cpp/ql/lib/ext/deallocation/empty.deallocation.model.yml
  cpp/ql/lib/qlpack.yml
  cpp/ql/lib/semmle/code/cpp/models/implementations/Allocation.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Deallocation.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/Allocation.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/Deallocation.qll
Labels: C++, documentation

#16823 Java: Adjust and tolerate variability in test expectations
  java/ql/integration-tests/all-platforms/java/diagnostics/dependency-error/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/dependency-error/test.py
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/diagnostics.expected
Labels: Java

#16819 Go: Make DataFlowType a singleton (remove workaround)
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
Labels: no-change-note-required, Go

#16818 C++: Update expected test results
  cpp/ql/test/library-tests/arguments/arguments.expected
  cpp/ql/test/library-tests/arguments/arguments.ql
Labels: C++, depends on internal PR

#16831 Backport Maven regex fix to rc/3.14
  java/ql/integration-tests/all-platforms/java/diagnostics/dependency-error/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/dependency-error/test.py
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/diagnostics.expected
Labels: Java

#16833 C++: Simplify `cpp/incorrect-allocation-error-handling`
  cpp/ql/src/Security/CWE/CWE-570/IncorrectAllocationErrorHandling.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-570/IncorrectAllocationErrorHandling.expected
Labels: C++, no-change-note-required

#16834 Shared: add location for 'this' CaptureContainer
  shared/dataflow/codeql/dataflow/VariableCapture.qll
Labels: no-change-note-required, DataFlow Library

#16789 python: Document MaD format
  docs/codeql/codeql-language-guides/codeql-for-python.rst
  docs/codeql/codeql-language-guides/customizing-library-models-for-python.rst
  python/ql/lib/change-notes/2024-06-24-Data-extensions-supported-by-queries-and-documented.md
  python/ql/lib/semmle/python/frameworks/Fabric.qll
  python/ql/lib/semmle/python/security/dataflow/CodeInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/CommandInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/LogInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/UnsafeDeserializationCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/UrlRedirectCustomizations.qll
  python/ql/test/library-tests/dataflow/model-summaries/InlineTaintTest.ext.yml
  python/ql/test/library-tests/dataflow/model-summaries/NormalDataflowTest.ext.yml
  python/ql/test/library-tests/dataflow/model-summaries/model_summaries.py
  python/ql/test/library-tests/frameworks/fabric/fabric_v1_test.py
Labels: documentation, Python, ready-for-doc-review

#16722 C#/Java: Respect manual neutrals, sources and sinks in model generation.
  csharp/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSinkModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSourceModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureSummaryFlowQuery.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/Sinks.cs
  csharp/ql/test/utils/modelgenerator/dataflow/Sources.cs
  java/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  java/ql/src/utils/modelgenerator/CaptureSinkModels.ql
  java/ql/src/utils/modelgenerator/CaptureSourceModels.ql
  java/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/modelgenerator/internal/CaptureSummaryFlowQuery.qll
  java/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  java/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ext.yml
  java/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.ext.yml
  java/ql/test/utils/modelgenerator/dataflow/p/Sinks.java
  java/ql/test/utils/modelgenerator/dataflow/p/Sources.java
Labels: C#, Java, no-change-note-required

#16802 Java: document extraction system requirements
  docs/codeql/codeql-overview/system-requirements.rst
Labels: documentation

#16736 Java/Kotlin: Tag the LoC queries 'debug'
  java/ql/src/Metrics/Summaries/LinesOfCodeJava.ql
  java/ql/src/Metrics/Summaries/LinesOfCodeKotlin.ql
Labels: Java, no-change-note-required

#16832 C#: Update (some) nuget dependencies
  csharp/paket.dependencies
  csharp/paket.lock
  csharp/paket.main.bzl
Labels: C#

#16841 Kotlin: exclude `KotlinExtractorDbScheme.kt` generated by hand
  java/kotlin-extractor/BUILD.bazel
Labels: Kotlin

#16836 C#: Be more consistent when picking between locations.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CachedSymbol.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Constructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Conversion.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Indexer.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/DynamicType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NamedType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TracingAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/Locations.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/InternalError.cs
  csharp/extractor/Semmle.Extraction/LocationExtensions.cs
  csharp/extractor/Semmle.Extraction/Message.cs
  csharp/ql/test/library-tests/exprorstmtparent/Callable.expected
Labels: C#, no-change-note-required

#16806 Dataflow: Add path-problem view of intermediate stages for debug purposes.
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Labels: no-change-note-required, DataFlow Library

#16799 Go: Make models-as-data package column match any version without "$ANYVERSION"
  go/ql/lib/ext/github.com.go-jose.go-jose.model.yml
  go/ql/lib/ext/github.com.go-pg.pg.orm.model.yml
  go/ql/lib/ext/github.com.kataras.iris.middleware.jwt.model.yml
  go/ql/lib/ext/github.com.lestrrat-go.jwx.jwk.model.yml
  go/ql/lib/ext/github.com.sendgrid.sendgrid-go.helpers.mail.model.yml
  go/ql/lib/ext/golang.org.x.net.html.model.yml
  go/ql/lib/ext/google.golang.org.protobuf.internal.encoding.text.model.yml
  go/ql/lib/ext/google.golang.org.protobuf.internal.impl.model.yml
  go/ql/lib/ext/google.golang.org.protobuf.proto.model.yml
  go/ql/lib/ext/google.golang.org.protobuf.reflect.protoreflect.model.yml
  go/ql/lib/ext/k8s.io.apimachinery.pkg.runtime.model.yml
  go/ql/lib/semmle/go/Packages.qll
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/steps.ext.yml
Labels: no-change-note-required, Go

#16855 C#: Fix integration test expected file
  csharp/ql/integration-tests/posix-only/standalone_dependencies_executing_runtime/Assemblies.expected
Labels: C#

#16847 Java: Adjust test expectations for Java diagnostic severity changes
  java/ql/integration-tests/all-platforms/java/buildless-gradle-timeout/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-timeout/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/buildless-maven-tolerate-unavailable-dependency/diagnostics.expected
Labels: Java

#16857 C#: Change `string.Format` calls to interpolated strings
  csharp/autobuilder/Semmle.Autobuild.CSharp/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/Program.cs
  csharp/autobuilder/Semmle.Autobuild.Cpp/Program.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Project.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Destructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/OrdinaryMethod.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TracingAnalyser.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Extractor/ExtractionContext.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Util/Logging/ILogger.cs
  csharp/extractor/Testrunner/Testrunner.cs
Labels: C#

#16858 C#: Fix solution file
  csharp/CSharp.sln
Labels: C#

#16860 Python: fix typo pointed out in review but missed by me
  python/ql/lib/change-notes/2024-06-24-Data-extensions-supported-by-queries-and-documented.md
Labels: documentation, Python

#14342 JS: Add Permissive CORS query (CWE-942)
  javascript/ql/src/change-notes/2023-11-27-cors-permissive-configuarion.md
  javascript/ql/src/experimental/Security/CWE-942/Apollo.qll
  javascript/ql/src/experimental/Security/CWE-942/Cors.qll
  javascript/ql/src/experimental/Security/CWE-942/CorsPermissiveConfiguration.qhelp
  javascript/ql/src/experimental/Security/CWE-942/CorsPermissiveConfiguration.ql
  javascript/ql/src/experimental/Security/CWE-942/CorsPermissiveConfigurationCustomizations.qll
  javascript/ql/src/experimental/Security/CWE-942/CorsPermissiveConfigurationQuery.qll
  javascript/ql/src/experimental/Security/CWE-942/examples/CorsPermissiveConfigurationBad.js
  javascript/ql/src/experimental/Security/CWE-942/examples/CorsPermissiveConfigurationGood.js
  javascript/ql/test/experimental/Security/CWE-942/CorsPermissiveConfiguration.expected
  javascript/ql/test/experimental/Security/CWE-942/CorsPermissiveConfiguration.qlref
  javascript/ql/test/experimental/Security/CWE-942/apollo-test.js
  javascript/ql/test/experimental/Security/CWE-942/express-test.js
Labels: JS, documentation, external-contribution

#16747 C#: Add binlog support to buildless with source generator support
  csharp/autobuilder/Semmle.Autobuild.CSharp/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/StandaloneBuildRule.cs
  csharp/codeql-extractor.yml
  csharp/extractor/Semmle.Extraction.CSharp.Driver/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp/Entities/File.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/BinaryLogAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Options.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TracingAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/paket.references
  csharp/extractor/Semmle.Extraction/Entities/File.cs
  csharp/extractor/Semmle.Extraction/Extractor/BinaryLogExtractionContext.cs
  csharp/extractor/Semmle.Extraction/Extractor/ExtractorMode.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
  csharp/paket.dependencies
  csharp/paket.lock
  csharp/paket.main.bzl
  csharp/ql/integration-tests/all-platforms/binlog/Files.expected
  csharp/ql/integration-tests/all-platforms/binlog/Files.ql
  csharp/ql/integration-tests/all-platforms/binlog/a/A.cs
  csharp/ql/integration-tests/all-platforms/binlog/a/test.csproj
  csharp/ql/integration-tests/all-platforms/binlog/b/B.cs
  csharp/ql/integration-tests/all-platforms/binlog/b/test.csproj
  csharp/ql/integration-tests/all-platforms/binlog/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/binlog/global.json
  csharp/ql/integration-tests/all-platforms/binlog/test.py
  csharp/ql/integration-tests/all-platforms/binlog/test.sln
  csharp/ql/integration-tests/posix-only/standalone_dependencies_executing_runtime/Assemblies.expected
Labels: C#

#16332 JS: upgrade TypeScript to 5.5
  docs/codeql/reusables/supported-versions-compilers.rst
  javascript/extractor/lib/typescript/package-lock.json
  javascript/extractor/lib/typescript/package.json
  javascript/ql/lib/change-notes/2024-04-26-typescript-5-5.md
  javascript/ql/test/library-tests/TypeScript/Types/printAst.expected
  javascript/ql/test/library-tests/TypeScript/Types/tests.expected
  javascript/ql/test/library-tests/TypeScript/Types/tst.ts
Labels: JS, WIP, documentation

#15921 Java: add models for some resource-related methods
  java/ql/lib/change-notes/2024-06-28-resource-models.md
  java/ql/lib/ext/io.undertow.server.handlers.resource.model.yml
  java/ql/lib/ext/jakarta.faces.context.model.yml
  java/ql/lib/ext/javax.faces.context.model.yml
  java/ql/lib/ext/javax.servlet.model.yml
  java/ql/lib/ext/org.jboss.vfs.model.yml
  java/ql/lib/ext/org.springframework.core.io.model.yml
  java/ql/test/experimental/query-tests/security/CWE-020/Log4jInjectionTest.expected
  java/ql/test/experimental/query-tests/security/CWE-073/FilePathInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-078/CommandInjectionRuntimeExecLocal.expected
  java/ql/test/experimental/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MyBatisAnnotationSqlInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/BeanShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JythonInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/ScriptInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-1004/SensitiveCookieNotHttpOnly.expected
  java/ql/test/experimental/query-tests/security/CWE-200/InsecureWebResourceResponse.expected
  java/ql/test/experimental/query-tests/security/CWE-200/SensitiveAndroidFileLeak.expected
  java/ql/test/experimental/query-tests/security/CWE-208/TimingAttackAgainstSignagure/Test.expected
  java/ql/test/experimental/query-tests/security/CWE-346/UnvalidatedCors.expected
  java/ql/test/experimental/query-tests/security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.expected
  java/ql/test/experimental/query-tests/security/CWE-352/JsonpInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-470/UnsafeReflection.expected
  java/ql/test/experimental/query-tests/security/CWE-598/SensitiveGetQuery.expected
  java/ql/test/experimental/query-tests/security/CWE-600/UncaughtServletException.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/experimental/query-tests/security/CWE-625/PermissiveDotRegex.expected
  java/ql/test/experimental/query-tests/security/CWE-652/XQueryInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-759/HashWithoutSalt.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.expected
  java/ql/test/library-tests/frameworks/JaxWs/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/ZipSlip.expected
  java/ql/test/query-tests/security/CWE-078/ExecTainted.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTainted.expected
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/query-tests/security/CWE-094/InsecureBeanValidation.expected
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayConstruction.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayIndex.expected
  java/ql/test/query-tests/security/CWE-134/semmle/tests/ExternallyControlledFormatString.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTainted.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/TempDirLocalInformationDisclosure/TempDirLocalInformationDisclosure.expected
  java/ql/test/query-tests/security/CWE-297/UnsafeHostnameVerification.expected
  java/ql/test/query-tests/security/CWE-327/semmle/tests/BrokenCryptoAlgorithm.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-681/semmle/tests/NumericCastTainted.expected
  java/ql/test/query-tests/security/CWE-807/semmle/tests/TaintedPermissionsCheck.expected
Labels: documentation, Java

#16870 C++: Update test expectations
  cpp/ql/test/library-tests/arguments/arguments.expected
Labels: C++, depends on internal PR

#16866 Go: Add Go JOSE to library coverage frameworks
  go/documentation/library-coverage/frameworks.csv
Labels: no-change-note-required, Go
