Repository github/codeql, pull requests merged in 2025-08, with the labels that each got.

#20149 C++: Expose SSA definitions from dataflow
  cpp/ql/lib/change-notes/2025-07-31-ssa.md
  cpp/ql/lib/semmle/code/cpp/controlflow/SSA.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ModelUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/PrintDataFlowRelevantIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
Labels: C++, documentation

#20147 Rust: Add metric for DCA and debug predicates for type that reach the length limit
  rust/ql/integration-tests/query-suite/rust-code-scanning.qls.expected
  rust/ql/integration-tests/query-suite/rust-security-and-quality.qls.expected
  rust/ql/integration-tests/query-suite/rust-security-extended.qls.expected
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/src/queries/summary/NodesWithTypeAtLengthLimit.ql
Labels: no-change-note-required, Rust

#20129 C++: Static variables are initialized to zero or null by compiler
  cpp/ql/src/Critical/InitialisationNotRun.ql
  cpp/ql/src/change-notes/2025-07-27-avoid-reporting-static-global-variable.md
  cpp/ql/test/query-tests/Critical/InitialisationNotRun/InitialisationNotRun.expected
  cpp/ql/test/query-tests/Critical/InitialisationNotRun/InitialisationNotRun.qlref
  cpp/ql/test/query-tests/Critical/InitialisationNotRun/test.cpp
Labels: C++, documentation

#20160 Rust: Add type inference test cases resembling missing call targets in SQLx.
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Labels: no-change-note-required, Rust

#20161 Rust: Fix two bad joins introduced by magic
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
Labels: no-change-note-required, Rust

#20164 Rust: Fix bad join
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
Labels: no-change-note-required, Rust

#20163 Java: Assume normal termination in post-dominance.
  java/ql/lib/semmle/code/java/controlflow/BasicBlocks.qll
  java/ql/test-kotlin1/library-tests/controlflow/basic/strictPostDominance.expected
  java/ql/test-kotlin2/library-tests/controlflow/basic/strictPostDominance.expected
Labels: Java, no-change-note-required, Kotlin

#20173 Rust: Remove restriction in `PathTypeMention`
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeMention.qll
Labels: no-change-note-required, Rust

#19802 Rust: Update SqlxQuery, SqlxExecute to use getCanonicalPath
  rust/ql/lib/codeql/rust/Frameworks.qll
  rust/ql/lib/codeql/rust/frameworks/Sqlx.qll
  rust/ql/lib/codeql/rust/frameworks/sqlx.model.yml
  rust/ql/test/query-tests/security/CWE-089/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-089/sqlx.rs
Labels: no-change-note-required, Rust

#20121 Guards: Improve support for wrapped guards
  java/ql/lib/change-notes/2025-07-28-guardwrappers.md
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
  java/ql/test/library-tests/guards/Guards.java
  java/ql/test/library-tests/guards/GuardsInline.expected
  java/ql/test/query-tests/Nullness/C.java
  java/ql/test/query-tests/Nullness/NullMaybe.expected
  shared/controlflow/codeql/controlflow/Guards.qll
Labels: documentation, Java

#20189 Java: use java 17 in `no-wrapper` tests
  java/ql/integration-tests/java/android-sample-kotlin-build-script-no-wrapper/test.py
  java/ql/integration-tests/java/android-sample-no-wrapper/test.py
  java/ql/integration-tests/java/android-sample-old-style-kotlin-build-script-no-wrapper/test.py
  java/ql/integration-tests/java/android-sample-old-style-no-wrapper/test.py
Labels: Java

#20172 Shared: Use `final` aliases in `ConcentsShared.qll`
  javascript/ql/lib/semmle/javascript/Concepts.qll
  shared/concepts/codeql/concepts/ConceptsShared.qll
Labels: JS, no-change-note-required

#20156 C++: Value numbering for casts that only modify specifiers
  cpp/ql/lib/change-notes/2025-08-02-gvn.md
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/StrncpyFlippedArgs/StrncpyFlippedArgs.expected
Labels: C++, documentation

#20137 Rust: New Query rust/cleartext-storage-database
  rust/ql/integration-tests/query-suite/rust-code-scanning.qls.expected
  rust/ql/integration-tests/query-suite/rust-security-and-quality.qls.expected
  rust/ql/integration-tests/query-suite/rust-security-extended.qls.expected
  rust/ql/lib/codeql/rust/security/CleartextStorageDatabaseExtensions.qll
  rust/ql/src/change-notes/2025-08-04-cleartext-storage-database.md
  rust/ql/src/queries/security/CWE-312/CleartextStorageDatabase.qhelp
  rust/ql/src/queries/security/CWE-312/CleartextStorageDatabase.ql
  rust/ql/src/queries/security/CWE-312/CleartextStorageDatabaseBad.rs
  rust/ql/src/queries/security/CWE-312/CleartextStorageDatabaseGood.rs
  rust/ql/src/queries/summary/Stats.qll
  rust/ql/test/query-tests/security/CWE-312/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-312/CONSISTENCY/TypeInferenceConsistency.expected
  rust/ql/test/query-tests/security/CWE-312/Cargo.lock
  rust/ql/test/query-tests/security/CWE-312/CleartextStorageDatabase.expected
  rust/ql/test/query-tests/security/CWE-312/CleartextStorageDatabase.qlref
  rust/ql/test/query-tests/security/CWE-312/options.yml
  rust/ql/test/query-tests/security/CWE-312/test_logging.rs
  rust/ql/test/query-tests/security/CWE-312/test_storage.rs
Labels: documentation, ready-for-doc-review, Rust

#20204 Actions: clarify doc for untrusted checkout
  actions/ql/src/Security/CWE-829/UntrustedCheckoutCritical.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutHigh.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutMedium.md
Labels: documentation, Actions

#20101 Fix #19294, Ruby NetHttpRequest improvements
  ruby/ql/lib/change-notes/2025-07-21-nethttprequest-improvements.md
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/test/library-tests/frameworks/http_clients/HttpClients.expected
  ruby/ql/test/library-tests/frameworks/http_clients/NetHttp.rb
Labels: documentation, Ruby

#20210 Go: Update Go version to 1.25.0
  MODULE.bazel
  go/actions/test/action.yml
  go/extractor/autobuilder/build-environment.go
  go/extractor/go.mod
Labels: depends on internal PR, Go

#20218 C++: Improvements to `IRGuard`s
  cpp/ql/lib/change-notes/2025-08-13-guards.md
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/test/library-tests/controlflow/guards/Guards.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.ql
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.ql
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.ql
  cpp/ql/test/library-tests/controlflow/guards/test.c
  cpp/ql/test/library-tests/controlflow/guards/test.cpp
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.c
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-295/SSLResultConflation.expected
Labels: C++, documentation

#20226 Rust: Update StartswithCall to use getCanonicalPath
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
  rust/ql/test/query-tests/security/CWE-022/TaintedPathSinks.ql
  rust/ql/test/query-tests/security/CWE-022/src/main.rs
Labels: no-change-note-required, Rust

#20183 Java: Enable BarrierGuard wrappers
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
  java/ql/lib/semmle/code/java/dataflow/internal/SsaImpl.qll
  java/ql/lib/semmle/code/java/security/ArithmeticCommon.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
  shared/controlflow/codeql/controlflow/Guards.qll
Labels: Java, no-change-note-required

#20229 C#: Replace input interpolation with environment variable
  csharp/actions/create-extractor-pack/action.yml
Labels: C#

#20223 Go: Mention Go 1.25 as supported
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#20238 Rust: Update StreamCipherInit to use getCanonicalPath.
  rust/ql/lib/codeql/rust/frameworks/rustcrypto/RustCrypto.qll
  rust/ql/test/query-tests/security/CWE-327/BrokenCryptoAlgorithm.expected
  rust/ql/test/query-tests/security/CWE-327/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-327/test_cipher.rs
Labels: no-change-note-required, Rust

#20095 Java: Add `previous-id` and adjust tags for `java/garbage-collection` and `java/run-finalizers-on-exit`
  java/ql/integration-tests/java/query-suite/java-code-quality-extended.qls.expected
  java/ql/src/Violations of Best Practice/Undesirable Calls/CallsToRunFinalizersOnExit.ql
  java/ql/src/Violations of Best Practice/Undesirable Calls/GarbageCollection.ql
  java/ql/src/change-notes/2025-07-19-adjust-tags.md
Labels: documentation, Java

#20234 Type inference: Rename some variables
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Labels: no-change-note-required

#20248 Rust: Adjust jump-to-def for paths with generic arguments
  rust/ql/lib/codeql/rust/internal/Definitions.qll
  rust/ql/test/library-tests/definitions/Definitions.expected
  rust/ql/test/library-tests/definitions/main.rs
Labels: no-change-note-required, Rust

#12660 Correct menu title name of "Open Workspace"
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
Labels: documentation

#20269 rust integration test: use all output from codeql test run
  rust/ql/integration-tests/qltest/test_qltest.py
Labels: Rust

#17660 Remove unnecessary query
  java/ql/src/Language Abuse/EmptyStatement.java
  java/ql/src/Language Abuse/EmptyStatement.qhelp
  java/ql/src/Language Abuse/EmptyStatement.ql
  java/ql/src/change-notes/2024-10-03-remove-java-query.md
Labels: documentation, Java

#20283 Rust: Update expected test output
  rust/ql/test/query-tests/security/CWE-117/LogInjection.expected
Labels: no-change-note-required, Rust

#20273 Rust: Include `getAttributeMacroExpansion` in `isInMacroExpansion`
  rust/ql/lib/change-notes/2025-08-25-in-macro-expansion.md
  rust/ql/lib/codeql/rust/elements/internal/MacroCallImpl.qll
Labels: documentation, Rust

#14331 C++: use in/out barriers with flow state
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
Labels: C++, no-change-note-required

#20289 Rust: Fix minor typo in bound in comment
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
Labels: no-change-note-required

#20268 Add changelog entry for CodeQL CLI version 2.22.4
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.22.4.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#20190 Java: Enhance `java/jvm-exit` query and add to quality
  java/ql/integration-tests/java/query-suite/java-code-quality-extended.qls.expected
  java/ql/integration-tests/java/query-suite/not_included_in_qls.expected
  java/ql/src/Violations of Best Practice/Undesirable Calls/CallsToSystemExit.java
  java/ql/src/Violations of Best Practice/Undesirable Calls/CallsToSystemExit.qhelp
  java/ql/src/Violations of Best Practice/Undesirable Calls/CallsToSystemExit.ql
  java/ql/test/query-tests/CallsToSystemExit/CallsToSystemExit.expected
  java/ql/test/query-tests/CallsToSystemExit/CallsToSystemExit.qlref
  java/ql/test/query-tests/CallsToSystemExit/ExampleRuntimeExit.java
  java/ql/test/query-tests/CallsToSystemExit/ExampleRuntimeHalt.java
  java/ql/test/query-tests/CallsToSystemExit/ExampleSystemExit.java
  java/ql/test/query-tests/CallsToSystemExit/LocalClassInTestMethod.java
Labels: documentation, Java, no-change-note-required

#20299 Rust: Minor tweaks to certain type inference
  rust/ql/lib/codeql/rust/elements/RangeExprExt.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/pattern_matching.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Labels: no-change-note-required, Rust

#20297 JS: Change pruning to not rely on Import
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
Labels: JS, no-change-note-required

#20303 Python: Add jump-to-def tests for unpacking assignments
  python/ql/test/query-tests/analysis/jump_to_defn/Definitions.expected
  python/ql/test/query-tests/analysis/jump_to_defn/test.py
Labels: Python, no-change-note-required

#20205 Java: port quality query `java/mocking-all-non-private-methods-means-unit-test-is-too-big`
  java/ql/integration-tests/java/query-suite/java-code-quality-extended.qls.expected
  java/ql/integration-tests/java/query-suite/java-code-quality.qls.expected
  java/ql/src/Violations of Best Practice/Testing/ExcessivePublicMethodMocking.md
  java/ql/src/Violations of Best Practice/Testing/ExcessivePublicMethodMocking.ql
  java/ql/test/query-tests/ExcessivePublicMethodMocking/Employee.java
  java/ql/test/query-tests/ExcessivePublicMethodMocking/EmployeeRecord.java
  java/ql/test/query-tests/ExcessivePublicMethodMocking/EmployeeStatus.java
  java/ql/test/query-tests/ExcessivePublicMethodMocking/ExcessivePublicMethodMocking.expected
  java/ql/test/query-tests/ExcessivePublicMethodMocking/ExcessivePublicMethodMocking.qlref
  java/ql/test/query-tests/ExcessivePublicMethodMocking/TestORM.java
  java/ql/test/query-tests/ExcessivePublicMethodMocking/options
  java/ql/test/stubs/junit-4.13/LICENSE-junit.txt
  java/ql/test/stubs/junit-4.13/org/junit/Assert.java
  java/ql/test/stubs/junit-4.13/org/junit/Test.java
  java/ql/test/stubs/junit-4.13/org/junit/function/ThrowingRunnable.java
  java/ql/test/stubs/mockito-5.14/org/mockito/ArgumentMatchers.java
  java/ql/test/stubs/mockito-5.14/org/mockito/MockSettings.java
  java/ql/test/stubs/mockito-5.14/org/mockito/Mockito.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/MockitoCore.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/creation/MockSettingsImpl.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/handler/MockHandlerFactory.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/handler/MockHandlerImpl.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/progress/MockingProgress.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/util/MockUtil.java
  java/ql/test/stubs/mockito-5.14/org/mockito/invocation/MockHandler.java
  java/ql/test/stubs/mockito-5.14/org/mockito/mock/MockCreationSettings.java
  java/ql/test/stubs/mockito-5.14/org/mockito/plugins/MockMaker.java
  java/ql/test/stubs/mockito-5.14/org/mockito/stubbing/Answer.java
  java/ql/test/stubs/mockito-5.14/org/mockito/stubbing/OngoingStubbing.java
  java/ql/test/stubs/mockito-5.14/org/mockito/stubbing/Stubber.java
Labels: documentation, Java, no-change-note-required

#20270 Rust: Improve FS models
  rust/ql/lib/change-notes/2025-08-22-fs.md
  rust/ql/lib/codeql/rust/frameworks/asyncstd/fs.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/fs.model.yml
  rust/ql/lib/codeql/rust/frameworks/tokio/fs.model.yml
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/TaintSources.expected
  rust/ql/test/library-tests/dataflow/sources/test.rs
  rust/ql/test/query-tests/security/CWE-022/Cargo.lock
  rust/ql/test/query-tests/security/CWE-022/TaintedPath.expected
  rust/ql/test/query-tests/security/CWE-022/options.yml
  rust/ql/test/query-tests/security/CWE-022/src/main.rs
Labels: documentation, Rust

#20225 Rust: Fallback crate resolution
  rust/ql/lib/codeql/rust/elements/internal/TypeParamImpl.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/PathResolutionConsistency.qll
  rust/ql/test/extractor-tests/macro-expansion/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/path-resolution/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/path-resolution/path-resolution.expected
  rust/ql/test/query-tests/security/CWE-696/CONSISTENCY/PathResolutionConsistency.expected
Labels: no-change-note-required, Rust

#20048 JS: Exclude patched libraries from `xml-bomb` sink
  javascript/ql/lib/change-notes/2025-07-15-xml-bomb-sinks.md
  javascript/ql/lib/semmle/javascript/frameworks/XmlParsers.qll
  javascript/ql/test/query-tests/Security/CWE-776/XmlBomb.expected
  javascript/ql/test/query-tests/Security/CWE-776/libxml.js
  javascript/ql/test/query-tests/Security/CWE-776/libxml.noent.js
  javascript/ql/test/query-tests/Security/CWE-776/libxml.sax.js
  javascript/ql/test/query-tests/Security/CWE-776/libxml.saxpush.js
  python/ql/lib/change-notes/2025-07-15-xml-bomb-sinks-python.md
  python/ql/lib/semmle/python/frameworks/Lxml.qll
  python/ql/test/library-tests/frameworks/lxml/parsing.py
  python/ql/test/query-tests/Security/CWE-776-XmlBomb/XmlBomb.expected
Labels: JS, documentation, Python

#20178 Java: Added new query `java/visible-for-testing-abuse`
  java/ql/integration-tests/java/query-suite/java-code-quality-extended.qls.expected
  java/ql/integration-tests/java/query-suite/java-code-quality.qls.expected
  java/ql/src/Violations of Best Practice/Implementation Hiding/VisibleForTestingAbuse.md
  java/ql/src/Violations of Best Practice/Implementation Hiding/VisibleForTestingAbuse.ql
  java/ql/test/query-tests/VisibleForTestingAbuse/VisibleForTestingAbuse.expected
  java/ql/test/query-tests/VisibleForTestingAbuse/VisibleForTestingAbuse.qlref
  java/ql/test/query-tests/VisibleForTestingAbuse/packageone/AnnotatedClass.java
  java/ql/test/query-tests/VisibleForTestingAbuse/packageone/SourcePackage.java
  java/ql/test/query-tests/VisibleForTestingAbuse/packageone/SourcePackage1.java
  java/ql/test/query-tests/VisibleForTestingAbuse/packageone/VisibleForTesting.java
  java/ql/test/query-tests/VisibleForTestingAbuse/packagetwo/Annotated.java
  java/ql/test/query-tests/VisibleForTestingAbuse/packagetwo/Source.java
  java/ql/test/query-tests/VisibleForTestingAbuse/packagetwo/Test.java
  java/ql/test/query-tests/VisibleForTestingAbuse/packagetwo/UseWithinAnnotation.java
Labels: documentation, Java, no-change-note-required

#20276 Python: Add support for Psycopg2 database connection pools
  python/ql/lib/change-notes/2025-08-25-psycopg2-connection-pool-modelling.md
  python/ql/lib/semmle/python/frameworks/Psycopg2.qll
  python/ql/test/library-tests/frameworks/psycopg2/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/psycopg2/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/psycopg2/connectionpool.py
Labels: documentation, Python

#20312 Rust: Tune rust/diagnostic/database-quality
  rust/ql/src/change-notes/2025-08-28-diagnostic-database-quality.md
  rust/ql/src/queries/telemetry/DatabaseQualityDiagnostics.ql
Labels: documentation, Rust
