Repository github/codeql, pull requests merged in 2025-05, with the labels that each got.

#19419 Rust: Use type inference to insert implicit borrows and derefs
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/utils-tests/modelgenerator/CaptureSummaryModels.expected
Labels: Rust

#19437 Docs: Fix escaping in 2.21.0 changelog
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.21.0.rst
Labels: documentation

#19367 Rust: Type inference for `?` expressions
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/frameworks/postgres/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Labels: Rust

#19439 JS: Modeling of `fastify`
  javascript/ql/lib/change-notes/2025-04-30-fastify-all.md
  javascript/ql/lib/semmle/javascript/frameworks/Fastify.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/fastify.js
Labels: JS, documentation

#19441 Merge back 2.21.2 release branch
  actions/ql/lib/CHANGELOG.md
  actions/ql/lib/change-notes/released/0.4.7.md
  actions/ql/src/CHANGELOG.md
  actions/ql/src/change-notes/released/0.5.4.md
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.21.1.rst
Labels: documentation, Actions

#19429 Fix cwe tags to include leading zero
  cpp/ql/src/Security/CWE/CWE-014/MemsetMayBeDeleted.ql
  cpp/ql/src/Security/CWE/CWE-020/CountUntrustedDataToExternalAPI.ql
  cpp/ql/src/Security/CWE/CWE-020/IRCountUntrustedDataToExternalAPI.ql
  cpp/ql/src/Security/CWE/CWE-020/IRUntrustedDataToExternalAPI.ql
  cpp/ql/src/Security/CWE/CWE-020/UntrustedDataToExternalAPI.ql
  cpp/ql/src/change-notes/2025-05-01-cwe-tag-changed.md
  cpp/ql/src/experimental/Security/CWE/CWE-020/LateCheckOfFunctionArgument.ql
  csharp/ql/src/Configuration/PasswordInConfigurationFile.ql
  csharp/ql/src/Security Features/CWE-011/ASPNetDebug.ql
  csharp/ql/src/Security Features/CWE-016/ASPNetMaxRequestLength.ql
  csharp/ql/src/Security Features/CWE-016/ASPNetPagesValidateRequest.ql
  csharp/ql/src/Security Features/CWE-020/ExternalAPIsUsedWithUntrustedData.ql
  csharp/ql/src/Security Features/CWE-020/RuntimeChecksBypass.ql
  csharp/ql/src/Security Features/CWE-020/UntrustedDataToExternalAPI.ql
  csharp/ql/src/Security Features/CWE-248/MissingASPNETGlobalErrorHandler.ql
  csharp/ql/src/change-notes/2025-05-01-cwe-tag-changed.md
  go/ql/src/Security/CWE-020/ExternalAPIsUsedWithUntrustedData.ql
  go/ql/src/Security/CWE-020/IncompleteHostnameRegexp.ql
  go/ql/src/Security/CWE-020/MissingRegexpAnchor.ql
  go/ql/src/Security/CWE-020/SuspiciousCharacterInRegexp.ql
  go/ql/src/Security/CWE-020/UntrustedDataToExternalAPI.ql
  go/ql/src/Security/CWE-020/UntrustedDataToUnknownExternalAPI.ql
  go/ql/src/change-notes/2025-05-01-cwe-tag-changed.md
  go/ql/src/experimental/CWE-090/LDAPInjection.ql
  go/ql/src/experimental/CWE-74/DsnInjection.ql
  go/ql/src/experimental/CWE-74/DsnInjectionLocal.ql
  go/ql/src/experimental/CWE-79/HTMLTemplateEscapingPassthrough.ql
  java/ql/src/Security/CWE/CWE-020/ExternalAPIsUsedWithUntrustedData.ql
  java/ql/src/Security/CWE/CWE-020/UntrustedDataToExternalAPI.ql
  java/ql/src/Security/CWE/CWE-113/NettyResponseSplitting.ql
  java/ql/src/change-notes/2025-05-01-cwe-tag-changed.md
  javascript/ql/src/Electron/DisablingWebSecurity.ql
  javascript/ql/src/Security/CWE-020/ExternalAPIsUsedWithUntrustedData.ql
  javascript/ql/src/Security/CWE-020/UntrustedDataToExternalAPI.ql
  javascript/ql/src/change-notes/2025-05-01-cwe-tag-changed.md
  javascript/ql/src/experimental/heuristics/ql/src/Security/CWE-020/UntrustedDataToExternalAPI.ql
  python/ql/src/Expressions/UseofInput.ql
  python/ql/src/Security/CWE-020-ExternalAPIs/ExternalAPIsUsedWithUntrustedData.ql
  python/ql/src/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.ql
  python/ql/src/Security/CWE-020/CookieInjection.ql
  python/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.ql
  python/ql/src/change-notes/2025-05-01-cwe-tag-changed.md
  python/ql/src/experimental/Security/CWE-094/Js2Py.ql
  ruby/ql/src/change-notes/2025-05-01-cwe-tag-changed.md
  ruby/ql/src/experimental/template-injection/TemplateInjection.ql
Labels: C#, JS, C++, documentation, Java, Python, Go, Ruby

#18449 Misc: Add script for calculating totals for a MRVA run
  misc/scripts/calculate_mrva_totals.py
Labels: no-change-note-required

#19432 python: model `send_header` from `http.server`
  python/ql/lib/change-notes/2025-04-30-model-send-header.md
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/stdlib/http_server.py
Labels: documentation, Python

#19434 C++: Limit flow through sinks and sources in `cpp/upcast-array-pointer-arithmetic`
  cpp/ql/src/Likely Bugs/Conversion/CastArrayPointerArithmetic.ql
  cpp/ql/test/query-tests/Likely Bugs/Conversion/CastArrayPointerArithmetic/CastArrayPointerArithmetic.expected
Labels: C++, no-change-note-required

#19442 Rust: Strengthen modeling of the `Clone` trait
  rust/ql/lib/codeql/rust/frameworks/stdlib/Clone.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/dataflow/modeled/inline-flow.expected
  rust/ql/test/library-tests/dataflow/modeled/main.rs
  rust/ql/test/utils-tests/modelgenerator/CaptureSummaryModels.expected
  rust/ql/test/utils-tests/modelgenerator/option.rs
Labels: Rust

#19444 Python: modeling of `hdbcli`
  docs/codeql/reusables/supported-frameworks.rst
  python/ql/lib/change-notes/2025-05-01-hdbcli.md
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Hdbcli.qll
  python/ql/test/library-tests/frameworks/hdbcli/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/hdbcli/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/hdbcli/pep249.py
Labels: documentation, Python

#19413 Add code quality suite selector and use that in the code quality suites
  actions/ql/src/codeql-suites/actions-code-quality.qls
  cpp/ql/src/codeql-suites/cpp-code-quality.qls
  csharp/ql/src/API Abuse/FormatInvalid.ql
  csharp/ql/src/API Abuse/NoDisposeCallOnLocalIDisposable.ql
  csharp/ql/src/Bad Practices/Control-Flow/ConstantCondition.ql
  csharp/ql/src/Dead Code/DeadStoreOfLocal.ql
  csharp/ql/src/Likely Bugs/Collections/ContainerLengthCmpOffByOne.ql
  csharp/ql/src/Likely Bugs/Collections/ContainerSizeCmpZero.ql
  csharp/ql/src/Likely Bugs/DangerousNonShortCircuitLogic.ql
  csharp/ql/src/Likely Bugs/EqualityCheckOnFloats.ql
  csharp/ql/src/Likely Bugs/ReferenceEqualsOnValueTypes.ql
  csharp/ql/src/Likely Bugs/SelfAssignment.ql
  csharp/ql/src/Likely Bugs/UncheckedCastInEquals.ql
  csharp/ql/src/Performance/UseTryGetValue.ql
  csharp/ql/src/Useless code/DefaultToString.ql
  csharp/ql/src/Useless code/IntGetHashCode.ql
  csharp/ql/src/codeql-suites/csharp-code-quality.qls
  go/ql/src/InconsistentCode/LengthComparisonOffByOne.ql
  go/ql/src/InconsistentCode/MissingErrorCheck.ql
  go/ql/src/InconsistentCode/UnhandledCloseWritableHandle.ql
  go/ql/src/InconsistentCode/WrappedErrorAlwaysNil.ql
  go/ql/src/RedundantCode/NegativeLengthCheck.ql
  go/ql/src/RedundantCode/RedundantRecover.ql
  go/ql/src/codeql-suites/go-code-quality.qls
  java/ql/integration-tests/java/query-suite/java-code-quality.qls.expected
  java/ql/src/Language Abuse/TypeVariableHidesType.ql
  java/ql/src/Likely Bugs/Arithmetic/IntMultToLong.ql
  java/ql/src/Likely Bugs/Collections/WriteOnlyContainer.ql
  java/ql/src/Likely Bugs/Comparison/IncomparableEquals.ql
  java/ql/src/Likely Bugs/Comparison/InconsistentEqualsHashCode.ql
  java/ql/src/Likely Bugs/Comparison/MissingInstanceofInEquals.ql
  java/ql/src/Likely Bugs/Comparison/RefEqBoxed.ql
  java/ql/src/Likely Bugs/Likely Typos/ContradictoryTypeChecks.ql
  java/ql/src/Likely Bugs/Likely Typos/SuspiciousDateFormat.ql
  java/ql/src/Likely Bugs/Resource Leaks/CloseReader.ql
  java/ql/src/Likely Bugs/Resource Leaks/CloseWriter.ql
  java/ql/src/codeql-suites/java-code-quality.qls
  javascript/ql/src/Declarations/IneffectiveParameterType.ql
  javascript/ql/src/Expressions/MissingAwait.ql
  javascript/ql/src/LanguageFeatures/SpuriousArguments.ql
  javascript/ql/src/RegExp/RegExpAlwaysMatches.ql
  javascript/ql/src/codeql-suites/javascript-code-quality.qls
  misc/suite-helpers/code-quality-selectors.yml
  python/ql/integration-tests/query-suite/python-code-quality.qls.expected
  python/ql/src/Functions/NonCls.ql
  python/ql/src/Functions/NonSelf.ql
  python/ql/src/codeql-suites/python-code-quality.qls
  ruby/ql/integration-tests/query-suite/ruby-code-quality.qls.expected
  ruby/ql/src/codeql-suites/ruby-code-quality.qls
  ruby/ql/src/queries/performance/DatabaseQueryInLoop.ql
  ruby/ql/src/queries/variables/DeadStoreOfLocal.ql
  rust/ql/src/codeql-suites/rust-code-quality.qls
  swift/ql/src/codeql-suites/swift-code-quality.qls
Labels: C#, JS, C++, Java, Python, no-change-note-required, Go, Ruby, Rust, Swift, Actions

#19382 Shared: Re-factor summary, source and sink model generators into separate modules.
  cpp/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  cpp/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  cpp/ql/src/utils/modelgenerator/CaptureSinkModels.ql
  cpp/ql/src/utils/modelgenerator/CaptureSourceModels.ql
  cpp/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  cpp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  cpp/ql/src/utils/modelgenerator/internal/CaptureModelsPrinting.qll
  cpp/ql/test/library-tests/dataflow/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  cpp/ql/test/library-tests/dataflow/modelgenerator/dataflow/CaptureHeuristicSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSinkModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSourceModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPartialPath.ql
  csharp/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsPrinting.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicSummaryModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.ql
  java/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  java/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  java/ql/src/utils/modelgenerator/CaptureSinkModels.ql
  java/ql/src/utils/modelgenerator/CaptureSourceModels.ql
  java/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  java/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPartialPath.ql
  java/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsPrinting.qll
  java/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  java/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  java/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicSummaryModels.ql
  java/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.ql
  java/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ql
  java/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.ql
  rust/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  rust/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  rust/ql/src/utils/modelgenerator/CaptureSinkModels.ql
  rust/ql/src/utils/modelgenerator/CaptureSourceModels.ql
  rust/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  rust/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPartialPath.ql
  rust/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
  rust/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  rust/ql/src/utils/modelgenerator/internal/CaptureModelsPrinting.qll
  rust/ql/test/utils-tests/modelgenerator/CaptureSinkModels.ql
  rust/ql/test/utils-tests/modelgenerator/CaptureSourceModels.ql
  rust/ql/test/utils-tests/modelgenerator/CaptureSummaryModels.ql
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
  shared/mad/codeql/mad/modelgenerator/internal/ModelPrinting.qll
Labels: C#, C++, Java, no-change-note-required, Rust

#19422 JS: Modeling of `ShellJS` functions
  javascript/ql/lib/change-notes/2025-04-30-shelljs.md
  javascript/ql/lib/ext/shelljs.model.yml
  javascript/ql/lib/semmle/javascript/frameworks/ShellJS.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CleartextLoggingCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/src/Security/CWE-295/DisablingCertificateValidation.ql
  javascript/ql/test/library-tests/frameworks/Shelljs/ShellJS.expected
  javascript/ql/test/library-tests/frameworks/Shelljs/tst.js
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection/actions.js
Labels: JS, documentation

#19421 Rust: extract declarations of builtin types
  rust/BUILD.bazel
  rust/extractor/src/main.rs
  rust/ql/integration-tests/hello-project/diagnostics.expected
  rust/ql/integration-tests/hello-project/steps.cargo.expected
  rust/ql/integration-tests/hello-project/steps.ql
  rust/ql/integration-tests/hello-project/steps.rust-project.expected
  rust/ql/integration-tests/hello-project/summary.expected
  rust/ql/integration-tests/hello-workspace/diagnostics.cargo.expected
  rust/ql/integration-tests/hello-workspace/diagnostics.rust-project.expected
  rust/ql/integration-tests/hello-workspace/steps.cargo.expected
  rust/ql/integration-tests/hello-workspace/steps.ql
  rust/ql/integration-tests/hello-workspace/steps.rust-project.expected
  rust/ql/integration-tests/hello-workspace/summary.cargo.expected
  rust/ql/integration-tests/hello-workspace/summary.rust-project.expected
  rust/ql/integration-tests/workspace-with-glob/steps.expected
  rust/ql/integration-tests/workspace-with-glob/steps.ql
  rust/ql/test/TestUtils.qll
  rust/ql/test/query-tests/diagnostics/LinesOfCode.expected
  rust/ql/test/query-tests/diagnostics/SummaryStatsReduced.expected
  rust/tools/builtins/BUILD.bazel
  rust/tools/builtins/types.rs
Labels: Rust

#19431 Rust: Remove visibility check in path resolution
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/test/library-tests/dataflow/modeled/inline-flow.expected
  rust/ql/test/library-tests/dataflow/modeled/main.rs
  rust/ql/test/query-tests/security/CWE-022/CONSISTENCY/PathResolutionConsistency.expected
Labels: Rust

#19464 Go: fix database inconsistency when receiver has alias type
  go/extractor/extractor.go
  go/extractor/trap/labels.go
Labels: no-change-note-required, Go

#19440 Rust: Update generated models for core and std
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-alloc.model.yml
  rust/ql/lib/ext/generated/rust/lang-alloc.model.yml
  rust/ql/lib/ext/generated/rust/lang-core.model.yml
  rust/ql/lib/ext/generated/rust/lang-proc_macro.model.yml
  rust/ql/lib/ext/generated/rust/lang-std.model.yml
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/modeled/inline-flow.expected
Labels: Rust

#19469 Add CodeQL Quantum models and queries (Java, C++) to experimental
  CODEOWNERS
  cpp/ql/integration-tests/query-suite/not_included_in_qls.expected
  cpp/ql/lib/experimental/quantum/Language.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/AlgToAVCFlow.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/BlockAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/CipherAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/HashAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/KnownAlgorithmConstants.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/OpenSSLAlgorithmInstanceBase.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/OpenSSLAlgorithmInstances.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/PaddingAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/CipherAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/DirectAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/HashAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/OpenSSLAlgorithmValueConsumerBase.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/OpenSSLAlgorithmValueConsumers.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/PaddingAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/CtxFlow.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/LibraryDetector.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/OpenSSL.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPCipherInitializer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPCipherOperation.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPHashInitializer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPHashOperation.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/OpenSSLOperationBase.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/OpenSSLOperations.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Random.qll
  cpp/ql/lib/qlpack.yml
  cpp/ql/src/experimental/quantum/PrintCBOMGraph.ql
  java/ql/integration-tests/java/query-suite/not_included_in_qls.expected
  java/ql/lib/experimental/quantum/JCA.qll
  java/ql/lib/experimental/quantum/Language.qll
  java/ql/lib/qlpack.yml
  java/ql/src/experimental/quantum/Analysis/ArtifactReuse.qll
  java/ql/src/experimental/quantum/Analysis/InsecureNonceSource.ql
  java/ql/src/experimental/quantum/Analysis/KnownWeakKDFIterationCount.ql
  java/ql/src/experimental/quantum/Analysis/ReusedNonce.ql
  java/ql/src/experimental/quantum/Analysis/UnknownKDFIterationCount.ql
  java/ql/src/experimental/quantum/Examples/BrokenCrypto.ql
  java/ql/src/experimental/quantum/Examples/TestAESGCMNonce.ql
  java/ql/src/experimental/quantum/Examples/TestCipher.ql
  java/ql/src/experimental/quantum/Examples/TestHash.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricCipherAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricOperationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownCipherAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownEllipticCurveAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownHashingAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownHashingOperation.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownHashingOperationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownKeyDerivationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownKeyDerivationOperation.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownKeyDerivationOperationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownSymmetricCipherAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/LikelyCryptoAPIFunction.ql
  java/ql/src/experimental/quantum/InventorySlices/UnknownOperationAlgorithm.ql
  java/ql/src/experimental/quantum/PrintCBOMGraph.ql
  shared/quantum/codeql/quantum/experimental/Model.qll
  shared/quantum/qlpack.yml
Labels: C++, Java, no-change-note-required

#19456 Add new stubs definitions to System.Web
  csharp/ql/test/experimental/CWE-918/options
  csharp/ql/test/library-tests/dataflow/flowsources/remote/options
  csharp/ql/test/library-tests/dataflow/global/options
  csharp/ql/test/query-tests/Security Features/CWE-117/options
  csharp/ql/test/query-tests/Security Features/CWE-285/MissingAccessControl/WebFormsTests/options
  csharp/ql/test/query-tests/Security Features/CWE-601/UrlRedirect/options
  csharp/ql/test/query-tests/Security Features/CWE-611/options
  csharp/ql/test/query-tests/Security Features/CWE-639/WebFormsTests/options
  csharp/ql/test/resources/stubs/System.Net.cs
  csharp/ql/test/resources/stubs/System.Web.Http.cs
  csharp/ql/test/resources/stubs/System.Web.cs
Labels: C#

#19452 Shared: Remove the language-specific model generator scripts
  .github/workflows/mad_modelDiff.yml
  cpp/ql/src/utils/modelgenerator/GenerateFlowModel.py
  csharp/ql/src/utils/modelgenerator/GenerateFlowModel.py
  java/ql/src/utils/modelgenerator/GenerateFlowModel.py
  java/ql/src/utils/modelgenerator/RegenerateModels.py
  misc/scripts/models-as-data/generate_mad.py
  rust/ql/src/utils/modelgenerator/GenerateFlowModel.py
Labels: C#, C++, Java, Rust

#19476 ruby: adjust precision of `rb/useless-assignment-to-local`
  ruby/ql/integration-tests/query-suite/ruby-code-quality.qls.expected
  ruby/ql/src/change-notes/2025-05-12-rb-useless-assignment-to-local-precision-high.md
  ruby/ql/src/queries/variables/DeadStoreOfLocal.ql
Labels: documentation, Ruby

#19454 Rust: Add Operation class
  rust/ql/lib/codeql/rust/elements/AssignmentOperation.qll
  rust/ql/lib/codeql/rust/elements/LogicalOperation.qll
  rust/ql/lib/codeql/rust/elements/Operation.qll
  rust/ql/lib/codeql/rust/elements/internal/BinaryExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/OperationImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/PrefixExprImpl.qll
  rust/ql/lib/rust.qll
  rust/ql/test/library-tests/operations/Operations.expected
  rust/ql/test/library-tests/operations/Operations.ql
  rust/ql/test/library-tests/operations/test.rs
Labels: Rust

#19475 Rust: Add `LiteralExpr` sub classes
  rust/ql/lib/codeql/rust/elements/LiteralExprExt.qll
  rust/ql/lib/codeql/rust/elements/internal/LiteralExprImpl.qll
  rust/ql/lib/rust.qll
  rust/ql/test/extractor-tests/literal/literal.expected
  rust/ql/test/extractor-tests/literal/literal.ql
  rust/ql/test/extractor-tests/literal/literal.rs
Labels: Rust

#19462 Update changelogs for CodeQL CLI 2.21.2
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.21.2.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#19477 C++: Fix infinite range analysis loop on invalid SSA
  cpp/ql/lib/change-notes/2025-05-13-range-analysis-infinite-loop.md
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/IRFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/IRFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/IRFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
Labels: C++, documentation

#19443 Shared: Generate more value-preserving flow summaries
  cpp/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  cpp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  cpp/ql/test/library-tests/dataflow/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  cpp/ql/test/library-tests/dataflow/modelgenerator/dataflow/CaptureHeuristicSummaryModels.ql
  cpp/ql/test/library-tests/dataflow/modelgenerator/dataflow/summaries.cpp
  csharp/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPartialPath.ql
  csharp/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicSummaryModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
  java/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  java/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPartialPath.ql
  java/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/test/utils/modelgenerator/dataflow/CaptureContentSummaryModels.ql
  java/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicSummaryModels.ql
  java/ql/test/utils/modelgenerator/dataflow/p/FinalClass.java
  java/ql/test/utils/modelgenerator/dataflow/p/ImmutablePojo.java
  java/ql/test/utils/modelgenerator/dataflow/p/Inheritance.java
  java/ql/test/utils/modelgenerator/dataflow/p/InnerClasses.java
  java/ql/test/utils/modelgenerator/dataflow/p/MultiPaths.java
  java/ql/test/utils/modelgenerator/dataflow/p/MultipleImpl2.java
  java/ql/test/utils/modelgenerator/dataflow/p/MultipleImpls.java
  java/ql/test/utils/modelgenerator/dataflow/p/ParamFlow.java
  java/ql/test/utils/modelgenerator/dataflow/p/Sources.java
  rust/ql/src/utils/modelgenerator/CaptureContentSummaryModels.ql
  rust/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPartialPath.ql
  rust/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
  rust/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  rust/ql/test/utils-tests/modelgenerator/CaptureSummaryModels.ql
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
  shared/mad/codeql/mad/modelgenerator/internal/ModelPrinting.qll
Labels: C#, C++, Java, no-change-note-required, Rust

#19271 C#: Improve precision of `cs/uncontrolled-format-string`.
  csharp/ql/lib/semmle/code/csharp/frameworks/Format.qll
  csharp/ql/src/API Abuse/FormatInvalid.ql
  csharp/ql/src/Security Features/CWE-134/UncontrolledFormatString.ql
  csharp/ql/src/change-notes/2025-04-10-uncontrolled-format-string.md
  csharp/ql/test/query-tests/Security Features/CWE-134/ConsoleUncontrolledFormatString.cs
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.cs
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.expected
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.qlref
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatStringBad.cs
Labels: C#, documentation

#19483 Ruby: More captured exit read nodes
  ruby/ql/lib/change-notes/2025-05-13-captured-variables-live-more-often.md
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/test/query-tests/variables/DeadStoreOfLocal/DeadStoreOfLocal.rb
Labels: documentation, Awaiting evaluation, Ruby

#19482 C#: Add `cs/call-to-gc` to the code quality suite.
  csharp/ql/integration-tests/posix/query-suite/csharp-code-quality.qls.expected
  csharp/ql/src/API Abuse/CallToGCCollect.ql
Labels: C#, no-change-note-required

#19490 Swift: add new `TypeValueExpr` to CFG
  swift/ql/lib/change-notes/2025-05-14-type_value_expr_cfg.md
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/test/library-tests/ast/Errors.expected
  swift/ql/test/library-tests/ast/Missing.expected
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/ast/cfg.swift
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/cfg.swift
  swift/tools/qltest.sh
Labels: documentation, Swift

#19484 Go: Remove redundant code in `IR::ExtractTupleElementInstruction.getResultType()` and expand tests
  go/ql/lib/semmle/go/controlflow/IR.qll
  go/ql/test/library-tests/semmle/go/IR/test.expected
  go/ql/test/library-tests/semmle/go/IR/test.go
  go/ql/test/library-tests/semmle/go/IR/test.ql
Labels: no-change-note-required, Go

#19493 C++: Fix IR edge case where there are no function calls taking an argument
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/test/library-tests/ir/no-function-calls/PrintAST.expected
  cpp/ql/test/library-tests/ir/no-function-calls/PrintAST.ql
  cpp/ql/test/library-tests/ir/no-function-calls/PrintConfig.qll
  cpp/ql/test/library-tests/ir/no-function-calls/aliased_ir.expected
  cpp/ql/test/library-tests/ir/no-function-calls/aliased_ir.ql
  cpp/ql/test/library-tests/ir/no-function-calls/test.cpp
Labels: C++, no-change-note-required

#19474 Rust: Type inference and path resolution for builtins
  rust/ql/lib/codeql/rust/elements/internal/LiteralExprImpl.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Bultins.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/modeled/inline-flow.expected
  rust/ql/test/library-tests/dataflow/modeled/main.rs
  rust/ql/test/library-tests/path-resolution/main.rs
  rust/ql/test/library-tests/path-resolution/my.rs
  rust/ql/test/library-tests/path-resolution/path-resolution.expected
  rust/ql/test/library-tests/path-resolution/path-resolution.ql
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/library-tests/type-inference/type-inference.ql
  rust/ql/test/library-tests/variables/CONSISTENCY/PathResolutionConsistency.expected
Labels: Rust

#19427 Adding comprehensive docs for customizing `actions/unpinned-tag` query
  docs/codeql/codeql-language-guides/customizing-library-models-for-actions.rst
Labels: documentation

#19448 Ruby printAst: fix order for synth children of real parents
  ruby/ql/lib/change-notes/2025-05-02-ruby-printast-order-fix.md
  ruby/ql/lib/codeql/ruby/printAst.qll
  ruby/ql/test/library-tests/ast/Ast.expected
Labels: documentation, Ruby, Run: RTJO Language Tests

#19503 Rust: Fix semantic merge conflict
  rust/ql/test/extractor-tests/macro_expansion/PrintAst.expected
Labels: Rust

#19356 JS: Merge `ES6Class` to `FunctionStyleClass`
  javascript/ql/lib/change-notes/2025-04-29-combined-es6-func.md
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/prototypes.js
Labels: JS, documentation

#19497 C#: Improve the query `cs/gethashcode-is-not-defined`.
  csharp/ql/lib/semmle/code/csharp/frameworks/system/collections/Generic.qll
  csharp/ql/src/Likely Bugs/HashedButNoHash.ql
  csharp/ql/src/change-notes/2025-05-15-gethashcode-is-not-defined.md
  csharp/ql/test/query-tests/Likely Bugs/HashedButNoHash/HashedButNoHash.cs
  csharp/ql/test/query-tests/Likely Bugs/HashedButNoHash/HashedButNoHash.expected
  csharp/ql/test/query-tests/Likely Bugs/HashedButNoHash/HashedButNoHash.qlref
Labels: C#, documentation

#19498 C++: Exclude tests in model generation
  cpp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
Labels: C++, no-change-note-required

#19424 Python: Extract files in hidden dirs by default
  python/extractor/cli-integration-test/hidden-files/config.yml
  python/extractor/cli-integration-test/hidden-files/query-default.expected
  python/extractor/cli-integration-test/hidden-files/query-skipped.expected
  python/extractor/cli-integration-test/hidden-files/query.ql
  python/extractor/cli-integration-test/hidden-files/repo_dir/.hidden_dir/internal_non_hidden/another_non_hidden.py
  python/extractor/cli-integration-test/hidden-files/repo_dir/.hidden_dir/visible_file_in_hidden_dir.py
  python/extractor/cli-integration-test/hidden-files/repo_dir/.hidden_file.py
  python/extractor/cli-integration-test/hidden-files/repo_dir/foo.py
  python/extractor/cli-integration-test/hidden-files/test.sh
  python/extractor/semmle/path_filters.py
  python/extractor/semmle/traverser.py
  python/extractor/semmle/util.py
  python/ql/lib/change-notes/2025-04-30-extract-hidden-files-by-default.md
  python/ql/test/2/extractor-tests/hidden/test.expected
  python/ql/test/extractor-tests/filter-option/Test.expected
Labels: documentation, Python

#19508 C++: Minor cleanup of qltest options
  cpp/ql/test/library-tests/structs/compatible_c/c1_gnu.c
  cpp/ql/test/library-tests/structs/compatible_c/c2_gnu.c
  cpp/ql/test/library-tests/vector_types/options
Labels: C++

#19509 Quantum: Expand OpenSSL cipher modeling and fix JCA false reporting of intermediate calls
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPCipherOperation.qll
  java/ql/lib/experimental/quantum/JCA.qll
Labels: C++, Java

#19492 C++: Add summary models for `openssl` and `sqlite`
  cpp/ql/lib/ext/generated/openssl.model.yml
  cpp/ql/lib/ext/generated/sqlite.model.yml
  cpp/ql/src/change-notes/2025-05-14-openssl-sqlite-models.md
  cpp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/validatemodels.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_mad-signatures.expected
Labels: C++, documentation

#19510 C/CPP: Update FlowSources to add wmain
  cpp/ql/lib/change-notes/2025-05-16-wmain-support.md
  cpp/ql/lib/semmle/code/cpp/security/FlowSources.qll
Labels: C++, documentation

#19515 C++: Do not use deprecated `hasLocationInfo` in `FlowTestCommon`
  cpp/ql/lib/utils/test/dataflow/FlowTestCommon.qll
Labels: C++, no-change-note-required

#19511 C++: Make `node.asExpr() instanceof ArrayAggregateLiteral` satisfiable
  cpp/ql/lib/change-notes/2025-05-16-array-aggregate-literals.md
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ExprNodes.qll
  cpp/ql/test/library-tests/dataflow/asExpr/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/consts/NonConstantFormat.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
Labels: C++, documentation

#19518 C++/Swift: delete outdated deprecations
  cpp/ql/lib/change-notes/2025-05-18-2025-May-outdated-deprecations.md
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/security/Security.qll
  cpp/ql/lib/semmle/code/cpp/security/SecurityOptions.qll
  swift/ql/lib/change-notes/2025-05-18-2025-May-outdated-deprecations.md
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/FlowSummary.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/lib/codeql/swift/security/WeakSensitiveDataHashingQuery.qll
Labels: C++, documentation, Swift

#19523 Swift: Mention Swift 6.1 support in the supported compilers doc
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#19521 Crypto: Model OpenSSL intermediate digest operations
  cpp/ql/lib/experimental/quantum/OpenSSL/OpenSSL.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPCipherOperation.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPHashOperation.qll
Labels: C++

#19528 Crypto: Add OpenSSL elliptic curve algorithm instances and consumers
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/AlgToAVCFlow.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/BlockAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/CipherAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/EllipticCurveAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/HashAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/KnownAlgorithmConstants.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/OpenSSLAlgorithmInstanceBase.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/OpenSSLAlgorithmInstances.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/PaddingAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/CipherAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/DirectAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/EllipticCurveAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/HashAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/OpenSSLAlgorithmValueConsumerBase.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/OpenSSLAlgorithmValueConsumers.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/PaddingAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPCipherInitializer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPCipherOperation.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPHashOperation.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/OpenSSLOperationBase.qll
  java/ql/lib/experimental/quantum/JCA.qll
  shared/quantum/codeql/quantum/experimental/Model.qll
Labels: C++, Java

#19531 Changenotes for 2.21.3
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.20.6.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.21.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.21.3.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
  go/ql/lib/CHANGELOG.md
  go/ql/lib/change-notes/released/4.1.0.md
  go/ql/lib/change-notes/released/4.2.0.md
  java/ql/lib/CHANGELOG.md
  java/ql/lib/change-notes/released/7.0.0.md
  java/ql/lib/change-notes/released/7.1.2.md
  ruby/ql/lib/CHANGELOG.md
  ruby/ql/lib/change-notes/released/4.0.0.md
  swift/ql/lib/CHANGELOG.md
  swift/ql/lib/change-notes/released/4.2.0.md
Labels: documentation, Java, Go, Ruby, Swift

#19536 C#: Update SDK version in integration test
  csharp/ql/integration-tests/all-platforms/blazor_build_mode_none/BlazorTest/global.json
  csharp/ql/integration-tests/all-platforms/blazor_build_mode_none/XSS.expected
Labels: C#

#19499 Rust: Bulk model generator
  .gitignore
  Cargo.toml
  misc/scripts/models-as-data/rust_bulk_generate_mad.py
  rust/ql/lib/ext/generated/actix-web/repo-https-github.com-actix-actix-web-actix-files.model.yml
  rust/ql/lib/ext/generated/actix-web/repo-https-github.com-actix-actix-web-actix-http-test.model.yml
  rust/ql/lib/ext/generated/actix-web/repo-https-github.com-actix-actix-web-actix-http.model.yml
  rust/ql/lib/ext/generated/actix-web/repo-https-github.com-actix-actix-web-actix-multipart.model.yml
  rust/ql/lib/ext/generated/actix-web/repo-https-github.com-actix-actix-web-actix-router.model.yml
  rust/ql/lib/ext/generated/actix-web/repo-https-github.com-actix-actix-web-actix-test.model.yml
  rust/ql/lib/ext/generated/actix-web/repo-https-github.com-actix-actix-web-actix-web-actors.model.yml
  rust/ql/lib/ext/generated/actix-web/repo-https-github.com-actix-actix-web-actix-web-codegen.model.yml
  rust/ql/lib/ext/generated/actix-web/repo-https-github.com-actix-actix-web-actix-web.model.yml
  rust/ql/lib/ext/generated/actix-web/repo-https-github.com-actix-actix-web-awc.model.yml
  rust/ql/lib/ext/generated/clap/repo-https-github.com-clap-rs-clap-clap.model.yml
  rust/ql/lib/ext/generated/clap/repo-https-github.com-clap-rs-clap-clap_bench.model.yml
  rust/ql/lib/ext/generated/clap/repo-https-github.com-clap-rs-clap-clap_builder.model.yml
  rust/ql/lib/ext/generated/clap/repo-https-github.com-clap-rs-clap-clap_complete.model.yml
  rust/ql/lib/ext/generated/clap/repo-https-github.com-clap-rs-clap-clap_complete_nushell.model.yml
  rust/ql/lib/ext/generated/clap/repo-https-github.com-clap-rs-clap-clap_derive.model.yml
  rust/ql/lib/ext/generated/clap/repo-https-github.com-clap-rs-clap-clap_lex.model.yml
  rust/ql/lib/ext/generated/clap/repo-https-github.com-clap-rs-clap-clap_mangen.model.yml
  rust/ql/lib/ext/generated/hyper/repo-https-github.com-hyperium-hyper-hyper.model.yml
  rust/ql/lib/ext/generated/libc/repo-https-github.com-rust-lang-libc-libc-test.model.yml
  rust/ql/lib/ext/generated/libc/repo-https-github.com-rust-lang-libc-libc.model.yml
  rust/ql/lib/ext/generated/log/repo-https-github.com-rust-lang-log-log.model.yml
  rust/ql/lib/ext/generated/memchr/repo-https-github.com-BurntSushi-memchr-memchr.model.yml
  rust/ql/lib/ext/generated/memchr/repo-shared.model.yml
  rust/ql/lib/ext/generated/once_cell/repo-https-github.com-matklad-once_cell-once_cell.model.yml
  rust/ql/lib/ext/generated/rand/repo-benches.model.yml
  rust/ql/lib/ext/generated/rand/repo-https-github.com-rust-random-rand-rand.model.yml
  rust/ql/lib/ext/generated/rand/repo-https-github.com-rust-random-rand-rand_chacha.model.yml
  rust/ql/lib/ext/generated/rand/repo-https-github.com-rust-random-rand-rand_core.model.yml
  rust/ql/lib/ext/generated/rand/repo-https-github.com-rust-random-rand-rand_pcg.model.yml
  rust/ql/lib/ext/generated/reqwest/repo-https-github.com-seanmonstar-reqwest-reqwest.model.yml
  rust/ql/lib/ext/generated/rocket/repo-https-github.com-rwf2-Rocket-rocket.model.yml
  rust/ql/lib/ext/generated/rocket/repo-https-github.com-rwf2-Rocket-rocket_codegen.model.yml
  rust/ql/lib/ext/generated/rocket/repo-https-github.com-rwf2-Rocket-rocket_http.model.yml
  rust/ql/lib/ext/generated/rocket/repo-https-github.com-rwf2-Rocket-tree-v0.5-contrib-db_pools-rocket_db_pools.model.yml
  rust/ql/lib/ext/generated/rocket/repo-https-github.com-rwf2-Rocket-tree-v0.5-contrib-dyn_templates-rocket_dyn_templates.model.yml
  rust/ql/lib/ext/generated/rocket/repo-https-github.com-rwf2-Rocket-tree-v0.5-contrib-sync_db_pools-rocket_sync_db_pools.model.yml
  rust/ql/lib/ext/generated/rocket/repo-https-github.com-rwf2-Rocket-tree-v0.5-contrib-ws-rocket_ws.model.yml
  rust/ql/lib/ext/generated/rocket/repo-pastebin.model.yml
  rust/ql/lib/ext/generated/rocket/repo-tls.model.yml
  rust/ql/lib/ext/generated/rocket/repo-todo.model.yml
  rust/ql/lib/ext/generated/serde/repo-https-github.com-serde-rs-serde-serde.model.yml
  rust/ql/lib/ext/generated/serde/repo-https-github.com-serde-rs-serde-serde_derive.model.yml
  rust/ql/lib/ext/generated/serde/repo-serde_test_suite.model.yml
  rust/ql/lib/ext/generated/smallvec/repo-https-github.com-servo-rust-smallvec-smallvec.model.yml
  rust/ql/lib/ext/generated/tokio/repo-benches.model.yml
  rust/ql/lib/ext/generated/tokio/repo-https-github.com-tokio-rs-tokio-tokio-macros.model.yml
  rust/ql/lib/ext/generated/tokio/repo-https-github.com-tokio-rs-tokio-tokio-stream.model.yml
  rust/ql/lib/ext/generated/tokio/repo-https-github.com-tokio-rs-tokio-tokio-test.model.yml
  rust/ql/lib/ext/generated/tokio/repo-https-github.com-tokio-rs-tokio-tokio-util.model.yml
  rust/ql/lib/ext/generated/tokio/repo-https-github.com-tokio-rs-tokio-tokio.model.yml
  rust/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
Labels: Rust

#19542 Rust: ignore `target` in `qltest`
  rust/extractor/src/qltest.rs
Labels: Rust

#19507 Exclude some queries from query suites by lowering their precision.
  csharp/ql/integration-tests/posix/query-suite/csharp-security-and-quality.qls.expected
  csharp/ql/integration-tests/posix/query-suite/csharp-security-extended.qls.expected
  csharp/ql/integration-tests/posix/query-suite/not_included_in_qls.expected
  csharp/ql/src/Configuration/PasswordInConfigurationFile.ql
  csharp/ql/src/Security Features/CWE-798/HardcodedConnectionString.ql
  csharp/ql/src/Security Features/CWE-798/HardcodedCredentials.ql
  csharp/ql/src/change-notes/2025-05-16-hardcoded-credentials.md
  go/ql/integration-tests/query-suite/go-security-and-quality.qls.expected
  go/ql/integration-tests/query-suite/go-security-extended.qls.expected
  go/ql/integration-tests/query-suite/not_included_in_qls.expected
  go/ql/src/Security/CWE-798/HardcodedCredentials.ql
  go/ql/src/change-notes/2025-05-16-hardcoded-credentials.md
  java/ql/integration-tests/java/query-suite/java-security-and-quality.qls.expected
  java/ql/integration-tests/java/query-suite/java-security-extended.qls.expected
  java/ql/integration-tests/java/query-suite/not_included_in_qls.expected
  java/ql/src/Security/CWE/CWE-798/HardcodedCredentialsApiCall.ql
  java/ql/src/change-notes/2025-05-16-hardcoded-credentials.md
  javascript/ql/integration-tests/query-suite/javascript-code-scanning.qls.expected
  javascript/ql/integration-tests/query-suite/javascript-security-and-quality.qls.expected
  javascript/ql/integration-tests/query-suite/javascript-security-extended.qls.expected
  javascript/ql/integration-tests/query-suite/not_included_in_qls.expected
  javascript/ql/src/Security/CWE-313/PasswordInConfigurationFile.ql
  javascript/ql/src/Security/CWE-798/HardcodedCredentials.ql
  javascript/ql/src/change-notes/2025-05-16-hardcoded-credentials.md
  python/ql/integration-tests/query-suite/not_included_in_qls.expected
  python/ql/integration-tests/query-suite/python-security-and-quality.qls.expected
  python/ql/integration-tests/query-suite/python-security-extended.qls.expected
  python/ql/src/Security/CWE-798/HardcodedCredentials.ql
  python/ql/src/change-notes/2025-05-16-hardcoded-credentials.md
  ruby/ql/integration-tests/query-suite/not_included_in_qls.expected
  ruby/ql/integration-tests/query-suite/ruby-security-and-quality.qls.expected
  ruby/ql/integration-tests/query-suite/ruby-security-extended.qls.expected
  ruby/ql/src/change-notes/2025-05-16-hardcoded-credentials.md
  ruby/ql/src/queries/security/cwe-798/HardcodedCredentials.ql
  swift/ql/integration-tests/posix/query-suite/not_included_in_qls.expected
  swift/ql/integration-tests/posix/query-suite/swift-code-scanning.qls.expected
  swift/ql/integration-tests/posix/query-suite/swift-security-and-quality.qls.expected
  swift/ql/integration-tests/posix/query-suite/swift-security-extended.qls.expected
  swift/ql/src/change-notes/2025-05-16-hardcoded-credentials.md
  swift/ql/src/queries/Security/CWE-259/ConstantPassword.ql
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.ql
Labels: C#, JS, documentation, Java, Python, Go, Ruby, Swift

#19505 Java: Use the shared BasicBlocks library.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticCFG.qll
  java/ql/lib/change-notes/2025-05-16-shared-basicblocks.md
  java/ql/lib/qlpack.yml
  java/ql/lib/semmle/code/java/controlflow/BasicBlocks.qll
  java/ql/lib/semmle/code/java/controlflow/Dominance.qll
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
  java/ql/lib/semmle/code/java/controlflow/Paths.qll
  java/ql/lib/semmle/code/java/controlflow/SuccessorType.qll
  java/ql/lib/semmle/code/java/controlflow/UnreachableBlocks.qll
  java/ql/lib/semmle/code/java/controlflow/internal/GuardsLogic.qll
  java/ql/lib/semmle/code/java/dataflow/Nullness.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/BaseSSA.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/SsaImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/SsaReadPositionSpecific.qll
  java/ql/lib/semmle/code/java/security/AndroidWebViewCertificateValidationQuery.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
  java/ql/lib/semmle/code/java/security/UrlForwardQuery.qll
  java/ql/lib/semmle/code/java/security/Validation.qll
  java/ql/src/Likely Bugs/Concurrency/UnreleasedLock.ql
  java/ql/src/Likely Bugs/Likely Typos/NestedLoopsSameVariable.ql
  java/ql/src/Violations of Best Practice/Dead Code/DeadLocals.qll
  java/ql/src/Violations of Best Practice/Declarations/Common.qll
  java/ql/src/meta/ssa/UseWithoutUniqueSsaVariable.ql
  java/ql/test-kotlin1/library-tests/controlflow/basic/bbStrictDominance.ql
  java/ql/test-kotlin1/library-tests/controlflow/basic/bbSuccessor.ql
  java/ql/test-kotlin1/library-tests/controlflow/dominance/dominanceWrong.ql
  java/ql/test-kotlin2/library-tests/controlflow/basic/bbStrictDominance.ql
  java/ql/test-kotlin2/library-tests/controlflow/basic/bbSuccessor.ql
  java/ql/test-kotlin2/library-tests/controlflow/dominance/dominanceWrong.ql
  java/ql/test/library-tests/controlflow/basic/bbStrictDominance.ql
  java/ql/test/library-tests/controlflow/basic/bbSuccessor.ql
  java/ql/test/library-tests/controlflow/dominance/dominanceWrong.ql
  shared/controlflow/codeql/controlflow/BasicBlock.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/internal/RangeUtils.qll
Labels: C++, documentation, Java, Kotlin

#19446 Rust: Model std::net and tokio `fs`, `io`, `net`
  rust/ql/lib/codeql/rust/frameworks/reqwest.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/io.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/net.model.yml
  rust/ql/lib/codeql/rust/frameworks/tokio/fs.model.yml
  rust/ql/lib/codeql/rust/frameworks/tokio/io.model.yml
  rust/ql/lib/codeql/rust/frameworks/tokio/net.model.yml
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/ExtractionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/TaintSources.expected
  rust/ql/test/library-tests/dataflow/sources/options.yml
  rust/ql/test/library-tests/dataflow/sources/test.rs
Labels: Rust

#19549 Rust: Type inference for non-overloadable operators
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Labels: Rust

#19547 Quantum: Add OpenSSL PKEY algorithm value consumers.
  cpp/ql/lib/experimental/quantum/Language.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/OpenSSLAlgorithmValueConsumers.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/PKeyAlgorithmValueConsumer.qll
Labels: C++

#19534 Rust: Improve performance of type inference
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Labels: no-change-note-required, Rust

#19552 Crypto: Misc. refactoring and code clean up.
  cpp/ql/lib/experimental/quantum/Language.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/AlgToAVCFlow.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/BlockAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/CipherAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/KnownAlgorithmConstants.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/PaddingAlgorithmInstance.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/CipherAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/EllipticCurveAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/OpenSSLAlgorithmValueConsumerBase.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/PKeyAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmValueConsumers/PaddingAlgorithmValueConsumer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/CtxFlow.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/OpenSSL.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/ECKeyGenOperation.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPHashOperation.qll
Labels: C++

#19134 Rust: Compute canonical paths in QL
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowConsistency.qll
  rust/ql/lib/codeql/rust/elements/internal/AddressableImpl.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/PathResolutionConsistency.qll
  rust/ql/src/queries/telemetry/RustAnalyzerComparison.qll
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.ql
  rust/ql/test/extractor-tests/canonical_path_disabled/canonical_paths.expected
Labels: Rust

#19516 JS: More efficient nested package naming
  javascript/ql/lib/semmle/javascript/NPM.qll
  javascript/ql/src/NodeJS/UnresolvableImport.ql
  javascript/ql/test/library-tests/NPM/tests.expected
Labels: JS, no-change-note-required

#19555 Rust: Remove unused impl type
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeMention.qll
Labels: Rust

#19535 Rust: Add ComparisonOperation library.
  rust/ql/lib/codeql/rust/elements/ComparisonOperation.qll
  rust/ql/lib/codeql/rust/elements/LogicalOperation.qll
  rust/ql/lib/codeql/rust/security/UncontrolledAllocationSizeExtensions.qll
  rust/ql/lib/rust.qll
  rust/ql/test/library-tests/operations/Operations.ql
  rust/ql/test/library-tests/operations/test.rs
Labels: no-change-note-required, Rust

#19560 Java: Add test showing correct usage
  java/ql/src/Performance/StringReplaceAllWithNonRegex.md
  java/ql/test/query-tests/StringReplaceAllWithNonRegex/Test.java
Labels: documentation, Java, no-change-note-required

#19556 Java: Fix SpringRequestMappingMethod URL Extraction #2
  java/ql/lib/change-notes/2025-05-22-spring-request-mapping-value.md
  java/ql/lib/semmle/code/java/frameworks/spring/SpringController.qll
  java/ql/test/library-tests/frameworks/spring/controller/RequestController.expected
  java/ql/test/library-tests/frameworks/spring/controller/RequestController.ql
  java/ql/test/library-tests/frameworks/spring/controller/Test.java
Labels: documentation, Java

#19546 Rust: Models for log_err
  rust/ql/lib/codeql/rust/frameworks/log.model.yml
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
  rust/ql/test/query-tests/security/CWE-312/options.yml
  rust/ql/test/query-tests/security/CWE-312/test_logging.rs
Labels: Rust

#19553 Crypto: Improve literal filtering for OpenSSL for algorithms and generic sources
  cpp/ql/lib/experimental/quantum/Language.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/AlgorithmInstances/KnownAlgorithmConstants.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/GenericSourceCandidateLiteral.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/OpenSSL.qll
Labels: C++

#19494 actions: add some missing permissions
  actions/ql/lib/ext/config/actions_permissions.yml
  actions/ql/src/change-notes/2025-05-14-minimal-permission-for-add-to-project.md
  actions/ql/test/query-tests/Security/CWE-275/.github/workflows/perms10.yml
  actions/ql/test/query-tests/Security/CWE-275/.github/workflows/perms8.yml
  actions/ql/test/query-tests/Security/CWE-275/.github/workflows/perms9.yml
  actions/ql/test/query-tests/Security/CWE-275/MissingActionsPermissions.expected
Labels: documentation, Actions

#19567 SSA: Distinguish between has and controls branch edge.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
  java/ql/lib/semmle/code/java/dataflow/internal/SsaImpl.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/sharedlib/Ssa.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  shared/dataflow/codeql/dataflow/VariableCapture.qll
  shared/ssa/change-notes/2025-05-23-guards-interface.md
  shared/ssa/codeql/ssa/Ssa.qll
Labels: C#, JS, C++, documentation, Java, Ruby, Rust, DataFlow Library

#19569 Shared/C++: Handle non-standard return values in MaD flow sources/sinks
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowSummaryImpl.qll
  cpp/ql/test/library-tests/dataflow/models-as-data/tests.cpp
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
Labels: C++, no-change-note-required, DataFlow Library

#19575 Rust: Resolve function calls to traits methods
  rust/ql/lib/codeql/rust/elements/internal/CallExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/MethodCallExprImpl.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/main.rs
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/library-tests/type-inference/type-inference.ql
Labels: Rust

#19582 Swift: Fix type string representation
  swift/extractor/translators/ExprTranslator.cpp
  swift/ql/test/extractor-tests/generated/expr/TypeValueExpr/TypeValueExpr.expected
  swift/ql/test/library-tests/ast/Errors.expected
  swift/ql/test/library-tests/ast/Missing.expected
  swift/ql/test/library-tests/ast/PrintAst.expected
Labels: Swift

#19578 JS: Explicitly Filter Quality Queries for Inclusion in `Security-and-Quality`
  javascript/ql/src/codeql-suites/javascript-security-and-quality.qls
Labels: JS

#19576 Swift: Update to Swift 6.1.1
  .github/workflows/swift.yml
  swift/ql/lib/change-notes/2025-05-27-swift.6.1.1.md
  swift/third_party/resources/resource-dir-linux.zip
  swift/third_party/resources/resource-dir-macos.zip
  swift/third_party/resources/swift-prebuilt-linux.tar.zst
  swift/third_party/resources/swift-prebuilt-macos.tar.zst
Labels: documentation, Swift

#19529 Rust: Model Pin
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-alloc.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-core.model.yml
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/dataflow/modeled/inline-flow.expected
  rust/ql/test/library-tests/dataflow/modeled/main.rs
Labels: Rust

#19595 C++: Add missing `ReadFileEx` flow summary
  cpp/ql/lib/ext/Windows.model.yml
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/sources.expected
  cpp/ql/test/library-tests/dataflow/external-models/validatemodels.expected
  cpp/ql/test/library-tests/dataflow/external-models/windows.cpp
Labels: C++, no-change-note-required

#19598 Go: Explicitly check whether proxy env vars are empty
  go/extractor/util/registryproxy.go
Labels: Go

#19580 Rust: Also include prelude path resolution in Core
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
Labels: Rust

#19491 Go: Check more things while running tests
  go/Makefile
  go/extractor/extractor.go
  go/ql/test/query-tests/definitions/definitions.expected
  go/ql/test/query-tests/definitions/greet.go
Labels: no-change-note-required, Go

#19428 QL tests: run with --check-diff-informed
  .github/workflows/csharp-qltest.yml
  .github/workflows/ruby-qltest-rtjo.yml
  .github/workflows/ruby-qltest.yml
  go/Makefile
  ruby/Makefile
Labels: Go, Ruby

#19588 Rust: re-enable attribute macro expansion in library mode
  rust/extractor/src/translate/base.rs
Labels: Rust

#19593 Rust: Type inference for operator overloading
  rust/ql/lib/codeql/rust/elements/internal/BinaryExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/OperationImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/PrefixExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/RefExprImpl.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Labels: Rust

#19551 Rust: use all features by default
  rust/codeql-extractor.yml
  rust/extractor/src/config.rs
  rust/ql/integration-tests/options/features/functions.none.expected
  rust/ql/integration-tests/options/features/test_features_option.py
Labels: Rust

#19627 Bulk MAD generator: Support databases from DCA runs
  cpp/misc/bulk_generation_targets.json
  cpp/ql/lib/ext/generated/openssl/openssl.model.yml
  cpp/ql/lib/ext/generated/sqlite/sqlite.model.yml
  cpp/ql/lib/qlpack.yml
  misc/scripts/models-as-data/bulk_generate_mad.py
  misc/scripts/models-as-data/rust_bulk_generate_mad.py
  rust/misc/bulk_generation_targets.json
Labels: C++, no-change-note-required, Rust
