Repository github/codeql, pull requests merged in 2025-09, with the labels that each got.

#20305 C#: Fix context-sensitive dispatch when using `base` qualifier
  csharp/ql/lib/change-notes/2025-08-29-base-qualifier-dispatch.md
  csharp/ql/lib/semmle/code/csharp/dispatch/Dispatch.qll
  csharp/ql/test/library-tests/dataflow/call-sensitivity/CallSensitivityFlow.cs
  csharp/ql/test/library-tests/dataflow/call-sensitivity/CallSensitivityFlow.expected
Labels: C#, documentation

#20320 Specify default queries in `codeql-extractor.yml`
  actions/extractor/codeql-extractor.yml
  csharp/codeql-extractor.yml
  go/codeql-extractor.yml
  javascript/resources/codeql-extractor.yml
  python/codeql-extractor.yml
  ruby/codeql-extractor.yml
  rust/codeql-extractor.yml
  swift/codeql-extractor.yml
Labels: C#, JS, Python, Go, Ruby, Rust, Swift, Actions

#20340 Rust: Deref as taint step
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
  rust/ql/src/queries/security/CWE-798/HardcodedCryptographicValue.ql
  rust/ql/test/library-tests/dataflow/strings/inline-taint-flow.expected
  rust/ql/test/query-tests/security/CWE-022/TaintedPath.expected
  rust/ql/test/query-tests/security/CWE-825/AccessAfterLifetime.expected
  rust/ql/test/query-tests/security/CWE-825/main.rs
Labels: no-change-note-required, Rust

#20334 Swift: Fix a Ql4Ql violation.
  swift/ql/lib/codeql/swift/elements/decl/internal/EnumDeclImpl.qll
Labels: no-change-note-required, Swift

#20327 Go: Fix some Ql4Ql violations.
  go/ql/lib/semmle/go/StringOps.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowUtil.qll
  go/ql/src/experimental/IntegerOverflow/RangeAnalysis.qll
Labels: no-change-note-required, Go

#20328 Java: Fix some Ql4Ql violations.
  java/ql/lib/experimental/quantum/JCA.qll
  java/ql/lib/experimental/quantum/Language.qll
  java/ql/lib/printAst.ql
  java/ql/lib/semmle/code/java/Concurrency.qll
  java/ql/lib/semmle/code/java/Conversions.qll
  java/ql/lib/semmle/code/java/Statement.qll
  java/ql/lib/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/SignAnalysisSpecific.qll
  java/ql/lib/semmle/code/java/frameworks/Mockito.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/ejb/EJB.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageAndroidFilesystemQuery.qll
  java/ql/lib/semmle/code/java/security/FileWritable.qll
  java/ql/lib/semmle/code/java/security/TempDirUtils.qll
  java/ql/lib/semmle/code/java/security/UnsafeDeserializationQuery.qll
  java/ql/src/Likely Bugs/Comparison/HashedButNoHash.ql
  java/ql/src/Likely Bugs/Concurrency/NotifyWithoutSynch.ql
  java/ql/src/Likely Bugs/Termination/SpinOnField.ql
  java/ql/src/Violations of Best Practice/Magic Constants/MagicConstants.qll
  java/ql/src/Violations of Best Practice/Naming Conventions/ConfusingOverloading.ql
  java/ql/src/experimental/quantum/Analysis/ArtifactReuse.qll
  java/ql/src/experimental/quantum/Examples/BrokenCrypto.ql
  java/ql/src/utils/flowtestcasegenerator/FlowTestCase.qll
Labels: Java, no-change-note-required

#20332 Ruby: Fix some Ql4Ql violations.
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/lib/codeql/ruby/regexp/internal/ParseRegExp.qll
  ruby/ql/lib/codeql/ruby/security/ImproperMemoizationQuery.qll
Labels: no-change-note-required, Ruby

#20351 Rust: Assign locations to all `DataFlowCallable`s
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/dataflow/global/viableCallable.qlref
Labels: no-change-note-required, Rust

#20324 Actions: Fix some Ql4Ql violations.
  actions/ql/lib/codeql/Locations.qll
  actions/ql/lib/codeql/actions/Ast.qll
  actions/ql/lib/codeql/actions/ast/internal/Ast.qll
  actions/ql/lib/codeql/actions/controlflow/BasicBlocks.qll
  actions/ql/lib/codeql/actions/dataflow/ExternalFlow.qll
  actions/ql/lib/codeql/actions/dataflow/FlowSources.qll
  actions/ql/lib/codeql/actions/security/ArgumentInjectionQuery.qll
  actions/ql/lib/codeql/actions/security/ArtifactPoisoningQuery.qll
  actions/ql/lib/codeql/actions/security/ControlChecks.qll
  actions/ql/lib/codeql/actions/security/EnvVarInjectionQuery.qll
  actions/ql/lib/codeql/actions/security/OutputClobberingQuery.qll
  actions/ql/lib/codeql/actions/security/UseOfUnversionedImmutableAction.qll
  actions/ql/src/experimental/Security/CWE-829/ArtifactPoisoningPathTraversal.ql
Labels: no-change-note-required, Actions

#20064 Update Go Path Injection Sanitizer and Sink
  go/ql/lib/change-notes/2025-07-15-path-injection-sanitizers.md
  go/ql/lib/ext/os.model.yml
  go/ql/lib/semmle/go/security/TaintedPathCustomizations.qll
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Os.go
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.go
Labels: documentation, Go

#20325 C++: Fix some Ql4Ql violations.
  cpp/ql/lib/Options.qll
  cpp/ql/lib/change-notes/2025-09-03-rename-api.md
  cpp/ql/lib/experimental/semmle/code/cpp/rangeanalysis/RangeAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/Concept.qll
  cpp/ql/lib/semmle/code/cpp/Declaration.qll
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
  cpp/ql/lib/semmle/code/cpp/controlflow/Dominance.qll
  cpp/ql/lib/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRUtilities.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/FunctionInputsAndOutputs.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExpr.qll
  cpp/ql/lib/semmle/code/cpp/security/FileWrite.qll
  cpp/ql/lib/semmle/code/cpp/security/boostorg/asio/protocols.qll
  cpp/ql/src/Best Practices/Magic Constants/MagicConstants.qll
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qll
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfiguration.ql
  cpp/ql/src/Metrics/Internal/CallableExtents.ql
  cpp/ql/src/Security/CWE/CWE-190/IntegerOverflowTainted.ql
  cpp/ql/src/Security/CWE/CWE-457/UninitializedVariables.qll
  cpp/ql/src/Security/CWE/CWE-570/IncorrectAllocationErrorHandling.ql
  cpp/ql/src/change-notes/2025-09-03-rename-api.md
  cpp/ql/src/definitions.ql
  cpp/ql/src/experimental/Likely Bugs/RedundantNullCheckParam.ql
  cpp/ql/src/experimental/Security/CWE/CWE-1126/DeclarationOfVariableWithUnnecessarilyWideScope.ql
  cpp/ql/src/experimental/Security/CWE/CWE-125/DangerousWorksWithMultibyteOrWideCharacters.ql
  cpp/ql/src/experimental/Security/CWE/CWE-243/IncorrectChangingWorkingDirectory.ql
  cpp/ql/src/experimental/Security/CWE/CWE-416/UseAfterExpiredLifetime.ql
  cpp/ql/src/external/DefectFilter.qll
  cpp/ql/src/external/MetricFilter.qll
  cpp/ql/src/jsf/4.10 Classes/AV Rule 96.ql
Labels: C++, documentation, no-change-note-required

#20136 Java: Add test for flexible constructor support
  java/ql/test/library-tests/flexible-constructors/CONSISTENCY/diags.expected
  java/ql/test/library-tests/flexible-constructors/FlexibleConstructors.java
  java/ql/test/library-tests/flexible-constructors/InstanceInitializerCalls.expected
  java/ql/test/library-tests/flexible-constructors/InstanceInitializerCalls.ql
  java/ql/test/library-tests/flexible-constructors/PrettyPrint.expected
  java/ql/test/library-tests/flexible-constructors/PrettyPrint.ql
  java/ql/test/library-tests/flexible-constructors/PrintAst.expected
  java/ql/test/library-tests/flexible-constructors/PrintAst.qlref
  java/ql/test/library-tests/flexible-constructors/SuperPredecessor.expected
  java/ql/test/library-tests/flexible-constructors/SuperPredecessor.ql
  java/ql/test/library-tests/flexible-constructors/options
Labels: depends on internal PR, Java

#20376 Go: Set log level based on `CODEQL_VERBOSITY`
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/cli/go-extractor/BUILD.bazel
  go/extractor/cli/go-extractor/go-extractor.go
  go/extractor/util/BUILD.bazel
  go/extractor/util/logging.go
  go/extractor/util/logging_test.go
Labels: Go

#20355 Java: Update tests results with disabled annotation processing when lombok is not used.
  java/ql/integration-tests/java/buildless-erroneous/ExtractorInformation.expected
Labels: depends on internal PR, Java

#20097 Java: Add support to `ModuleImportDeclaration`
  java/ql/lib/change-notes/2025-07-21-module-import-declarations.md
  java/ql/lib/semmle/code/java/Import.qll
  java/ql/test/library-tests/module-import-declarations/ImportedPackage.expected
  java/ql/test/library-tests/module-import-declarations/ImportedPackage.ql
  java/ql/test/library-tests/module-import-declarations/ImportedType.expected
  java/ql/test/library-tests/module-import-declarations/ImportedType.ql
  java/ql/test/library-tests/module-import-declarations/Test.java
  java/ql/test/library-tests/module-import-declarations/options
Labels: depends on internal PR, documentation, Java

#20380 Java: Fix broken performance.
  java/ql/src/Violations of Best Practice/Naming Conventions/ConfusingOverloading.ql
Labels: Java, no-change-note-required

#19932 Python: Modernize 4 queries for missing/multiple calls to init/del methods
  python/ql/integration-tests/query-suite/python-code-quality-extended.qls.expected
  python/ql/integration-tests/query-suite/python-code-quality.qls.expected
  python/ql/integration-tests/query-suite/python-security-and-quality.qls.expected
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/src/Classes/CallsToInitDel/MethodCallOrder.qll
  python/ql/src/Classes/CallsToInitDel/MissingCallToDel.qhelp
  python/ql/src/Classes/CallsToInitDel/MissingCallToDel.ql
  python/ql/src/Classes/CallsToInitDel/MissingCallToInit.qhelp
  python/ql/src/Classes/CallsToInitDel/MissingCallToInit.ql
  python/ql/src/Classes/CallsToInitDel/SuperclassDelCalledMultipleTimes.qhelp
  python/ql/src/Classes/CallsToInitDel/SuperclassDelCalledMultipleTimes.ql
  python/ql/src/Classes/CallsToInitDel/SuperclassInitCalledMultipleTimes.qhelp
  python/ql/src/Classes/CallsToInitDel/SuperclassInitCalledMultipleTimes.ql
  python/ql/src/Classes/CallsToInitDel/examples/MissingCallToDel.py
  python/ql/src/Classes/CallsToInitDel/examples/MissingCallToInit.py
  python/ql/src/Classes/CallsToInitDel/examples/SuperclassDelCalledMultipleTimes.py
  python/ql/src/Classes/CallsToInitDel/examples/SuperclassInitCalledMultipleTimesBad1.py
  python/ql/src/Classes/CallsToInitDel/examples/SuperclassInitCalledMultipleTimesBad3.py
  python/ql/src/Classes/CallsToInitDel/examples/SuperclassInitCalledMultipleTimesGood2.py
  python/ql/src/Classes/MethodCallOrder.qll
  python/ql/src/Classes/MissingCallToDel.qhelp
  python/ql/src/Classes/MissingCallToDel.ql
  python/ql/src/Classes/MissingCallToInit.py
  python/ql/src/Classes/MissingCallToInit.qhelp
  python/ql/src/Classes/MissingCallToInit.ql
  python/ql/src/Classes/SuperclassDelCalledMultipleTimes.qhelp
  python/ql/src/Classes/SuperclassDelCalledMultipleTimes.ql
  python/ql/src/Classes/SuperclassDelCalledMultipleTimes2.py
  python/ql/src/Classes/SuperclassInitCalledMultipleTimes.qhelp
  python/ql/src/Classes/SuperclassInitCalledMultipleTimes.ql
  python/ql/src/Classes/SuperclassInitCalledMultipleTimes2.py
  python/ql/src/change-notes/2025-06-04-missing-multiple-calls-to-init-del.md
  python/ql/test/query-tests/Classes/missing-del/MissingCallToDel.expected
  python/ql/test/query-tests/Classes/missing-del/MissingCallToDel.qlref
  python/ql/test/query-tests/Classes/missing-del/missing_del.py
  python/ql/test/query-tests/Classes/missing-init/MissingCallToInit.expected
  python/ql/test/query-tests/Classes/missing-init/MissingCallToInit.qlref
  python/ql/test/query-tests/Classes/missing-init/missing_init.py
  python/ql/test/query-tests/Classes/multiple/SuperclassDelCalledMultipleTimes.expected
  python/ql/test/query-tests/Classes/multiple/SuperclassDelCalledMultipleTimes.qlref
  python/ql/test/query-tests/Classes/multiple/SuperclassInitCalledMultipleTimes.expected
  python/ql/test/query-tests/Classes/multiple/SuperclassInitCalledMultipleTimes.qlref
  python/ql/test/query-tests/Classes/multiple/multiple-del/SuperclassDelCalledMultipleTimes.expected
  python/ql/test/query-tests/Classes/multiple/multiple-del/SuperclassDelCalledMultipleTimes.qlref
  python/ql/test/query-tests/Classes/multiple/multiple-del/multiple_del.py
  python/ql/test/query-tests/Classes/multiple/multiple-init/SuperclassInitCalledMultipleTimes.expected
  python/ql/test/query-tests/Classes/multiple/multiple-init/SuperclassInitCalledMultipleTimes.qlref
  python/ql/test/query-tests/Classes/multiple/multiple-init/multiple_init.py
  python/ql/test/query-tests/Classes/multiple/multiple_init.py
Labels: documentation, Python

#20366 C#/Java/Rust: Improve database quality diagnostics query.
  csharp/ql/integration-tests/all-platforms/standalone/DatabaseQualityDiagnostics.expected
  csharp/ql/src/Telemetry/DatabaseQualityDiagnostics.ql
  csharp/ql/src/change-notes/2025-09-04-database-diagnostics.md
  java/ql/integration-tests/java/buildless-erroneous/DatabaseQualityDiagnostics.expected
  java/ql/src/Telemetry/DatabaseQualityDiagnostics.ql
  java/ql/src/change-notes/2025-09-04-database-diagnostics.md
  rust/ql/src/change-notes/2025-09-04-database-diagnostics.md
  rust/ql/src/queries/telemetry/DatabaseQualityDiagnostics.ql
Labels: C#, documentation, Java, Rust

#20383 Java: Fix more broken performance.
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/frameworks/android/ExternalStorage.qll
  java/ql/src/Likely Bugs/Collections/ContainsTypeMismatch.ql
  java/ql/src/Likely Bugs/Collections/RemoveTypeMismatch.ql
  java/ql/src/Likely Bugs/Frameworks/Swing/BadlyOverriddenAdapter.ql
  java/ql/src/Likely Bugs/Likely Typos/SelfAssignment.ql
Labels: Java, no-change-note-required

#20348 Rust: Infer certain type for shorthand `self`
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Labels: no-change-note-required, Rust

#20382 C++: Simplify `cpp/certificate-not-checked`
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/src/Security/CWE/CWE-295/SSLResultNotChecked.ql
Labels: C++, no-change-note-required

#20345 Java: Add MaDs for `java.crypto.KDF`
  java/ql/lib/change-notes/2025-09-02-kdf-api.md
  java/ql/lib/ext/javax.crypto.model.yml
  java/ql/lib/ext/javax.crypto.spec.model.yml
  java/ql/test/library-tests/dataflow/kdf/KDFDataflowTest.java
  java/ql/test/library-tests/dataflow/kdf/options
  java/ql/test/library-tests/dataflow/kdf/test.expected
  java/ql/test/library-tests/dataflow/kdf/test.ql
Labels: documentation, Java

#20317 JS: Avoid overriding Expr predicates in xUnit.qll
  javascript/ql/lib/semmle/javascript/frameworks/xUnit.qll
  javascript/ql/test/library-tests/frameworks/xUnit/tests.expected
Labels: JS, no-change-note-required

#20370 Shared: Use `sourceBoundedFastTC` in TypeTracking
  shared/typetracking/codeql/typetracking/internal/TypeTrackingImpl.qll
Labels: no-change-note-required

#20400 C++: Cleanup `ScanfChecks.qll`
  cpp/ql/src/Critical/ScanfChecks.qll
Labels: C++, no-change-note-required

#20434 javascript: Fix spelling error in documentation
  javascript/ql/src/Security/CWE-116/IncompleteMultiCharacterSanitization.qhelp
Labels: JS, documentation

#20437 C++: Tweak a release note
  cpp/ql/lib/change-notes/2025-09-02-vla.md
Labels: C++, documentation

#20438 Shared: Remove antijoin from `Guards.qll`
  shared/controlflow/codeql/controlflow/Guards.qll
Labels: no-change-note-required

#20390 DataFlow: Permit local flow between post-update nodes
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/models-as-data/consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  javascript/ql/test/library-tests/FlowSummary/DataFlowConsistency.expected
  shared/dataflow/codeql/dataflow/internal/DataFlowImplConsistency.qll
Labels: JS, C++, no-change-note-required, DataFlow Library

#20445 C#: Fix failing integration test after new version of `NewtonSoft.JSon` has been released.
  csharp/ql/integration-tests/posix/standalone_dependencies_nuget_config_error/Assemblies.expected
  csharp/ql/integration-tests/posix/standalone_dependencies_nuget_config_error/proj/proj.csproj
  csharp/ql/integration-tests/posix/standalone_dependencies_nuget_config_error_timeout/Assemblies.expected
  csharp/ql/integration-tests/posix/standalone_dependencies_nuget_config_error_timeout/proj/proj.csproj
  csharp/ql/integration-tests/posix/standalone_dependencies_nuget_config_fallback/Assemblies.expected
  csharp/ql/integration-tests/posix/standalone_dependencies_nuget_config_fallback/proj/proj.csproj
Labels: C#

#20435 JS: Promisification library modeling and enhance flow
  javascript/ql/lib/change-notes/2025-09-15-promisifications.md
  javascript/ql/lib/ext/call-me-maybe.model.yml
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/PromisifyFlow.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/promisification.js
Labels: JS, documentation

#20398 Rust: Add tests and models for Warp
  rust/ql/lib/codeql/rust/frameworks/warp.model.yml
  rust/ql/test/library-tests/dataflow/sources/Cargo.lock
  rust/ql/test/library-tests/dataflow/sources/TaintSources.expected
  rust/ql/test/library-tests/dataflow/sources/options.yml
  rust/ql/test/library-tests/dataflow/sources/web_frameworks.rs
Labels: no-change-note-required, Rust

#20449 C#: Bugfix for nullguards for complex patterns.
  csharp/ql/lib/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/change-notes/2025-09-17-nullguard-pattern.md
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Labels: C#, documentation

#20162 Python: Add jump steps for global variable nested field access
  python/ql/lib/change-notes/2025-08-11-jump-step-global-nested.md
  python/ql/lib/semmle/python/dataflow/new/internal/Attributes.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/library-tests/dataflow/fieldflow/test.py
  python/ql/test/library-tests/dataflow/fieldflow/test_global.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/DataflowQueryTest.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/DataflowQueryTest.ql
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.qlref
  python/ql/test/query-tests/Security/CWE-022-PathInjection/fastapi_path_injection.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/flask_path_injection.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/path_injection.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/pathlib_use.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/test.py
Labels: documentation, Python

#20395 JS: Add most `medium` precision queries to the `code-quality-extended` suite.
  javascript/ql/integration-tests/query-suite/javascript-code-quality-extended.qls.expected
  javascript/ql/integration-tests/query-suite/not_included_in_qls.expected
  javascript/ql/src/Comments/CommentedOutCode.ql
  javascript/ql/src/Comments/TodoComments.ql
  javascript/ql/src/DOM/Alert.ql
  javascript/ql/src/Declarations/RedeclaredVariable.ql
  javascript/ql/src/Declarations/UnusedParameter.ql
  javascript/ql/src/LanguageFeatures/ArgumentsCallerCallee.ql
  javascript/ql/src/LanguageFeatures/DebuggerStatement.ql
  javascript/ql/src/LanguageFeatures/Eval.ql
  javascript/ql/src/Performance/ReassignParameterAndUseArguments.ql
  javascript/ql/src/RegExp/BackspaceEscape.ql
  javascript/ql/src/Statements/ImplicitReturn.ql
  javascript/ql/src/Statements/InconsistentReturn.ql
Labels: JS, no-change-note-required

#20217 Python: Modernize the Signature Mismatch query
  python/ql/src/Functions/IncorrectlyOverriddenMethod.ql
  python/ql/src/Functions/SignatureOverriddenMethod.py
  python/ql/src/Functions/SignatureOverriddenMethod.qhelp
  python/ql/src/Functions/SignatureOverriddenMethod.ql
  python/ql/src/change-notes/2025-08-19-signature-mismatch.md
  python/ql/test/query-tests/Functions/general/SignatureOverriddenMethod.expected
  python/ql/test/query-tests/Functions/overriding/SignatureOverriddenMethod.expected
  python/ql/test/query-tests/Functions/overriding/SignatureOverriddenMethod.qlref
  python/ql/test/query-tests/Functions/overriding/WrongNameForArgumentInCall.expected
  python/ql/test/query-tests/Functions/overriding/test.py
Labels: documentation, Python

#20450 JS: Improve graphql flow
  javascript/ql/lib/change-notes/2025-09-17-graphql-enhance.md
  javascript/ql/lib/ext/graph-ql.model.yml
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/graph-ql.js
Labels: JS, documentation

#20460 Rust: Convert data flow test to `@kind path-problem`
  rust/ql/test/library-tests/dataflow/sources/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/InlineFlow.ql
Labels: Rust

#20490 documentation: add some missing mentions of `additional` and `extensible`
  docs/codeql/ql-language-reference/annotations.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
Labels: documentation

#20378 Jave: Use force local to make parsing local after global regex finding.
  java/ql/lib/semmle/code/java/regex/RegexFlowConfigs.qll
Labels: Java, no-change-note-required

#20454 Rust: Account for attribute expansions in path resolution
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/utils/test/PathResolutionInlineExpectationsTest.qll
  rust/ql/test/library-tests/path-resolution/main.rs
  rust/ql/test/library-tests/path-resolution/path-resolution.expected
  rust/ql/test/library-tests/path-resolution/proc_macro.rs
  rust/ql/test/query-tests/security/CWE-696/BadCTorInitialization.expected
Labels: no-change-note-required, Rust

#20263 Python: Modernize the Unreachable Except Block query
  python/ql/lib/semmle/python/frameworks/builtins.model.yml
  python/ql/src/Exceptions/IncorrectExceptOrder.qhelp
  python/ql/src/Exceptions/IncorrectExceptOrder.ql
  python/ql/src/meta/ClassHierarchy/process-builtin-exceptions.py
  python/ql/test/query-tests/Exceptions/general/CatchingBaseException.expected
  python/ql/test/query-tests/Exceptions/general/EmptyExcept.expected
  python/ql/test/query-tests/Exceptions/general/IllegalExceptionHandlerType.expected
  python/ql/test/query-tests/Exceptions/general/IncorrectExceptOrder.expected
  python/ql/test/query-tests/Exceptions/general/IncorrectExceptOrder.qlref
  python/ql/test/query-tests/Exceptions/general/NotImplementedIsNotAnException.expected
  python/ql/test/query-tests/Exceptions/general/exceptions_test.py
Labels: documentation, Python, no-change-note-required

#20452 Rust, shared: Support `Parameter` in source MaD models
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/FlowSummaryPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  rust/ql/lib/change-notes/2025-09-19-parameter-mad.md
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/FlowSummaryImpl.qll
  rust/ql/lib/utils/test/InlineFlowTest.qll
  rust/ql/test/library-tests/dataflow/models/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/models/main.rs
  rust/ql/test/library-tests/dataflow/models/models.expected
  rust/ql/test/library-tests/dataflow/models/models.ext.yml
  rust/ql/test/library-tests/dataflow/sources/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/web_frameworks.rs
  rust/ql/test/query-tests/security/CWE-918/Cargo.lock
  rust/ql/test/query-tests/security/CWE-918/RequestForgery.expected
  rust/ql/test/query-tests/security/CWE-918/options.yml
  rust/ql/test/query-tests/security/CWE-918/request_forgery_tests.rs
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
Labels: C#, JS, C++, documentation, Java, Python, Go, Ruby, Rust, Swift, DataFlow Library

#20368 Go: Support `git_source`
  go/extractor/util/registryproxy.go
  go/extractor/util/registryproxy_test.go
Labels: Go

#20520 Add .orig files to the .gitignore.
  .gitignore
Labels: no-change-note-required

#20502 Rust: Check call arities in path resolution
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallableImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/query-tests/security/CWE-327/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-798/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-798/HardcodedCryptographicValue.expected
Labels: no-change-note-required, Rust

#20530 Attribute `js/cors-permissive-configuration` to original author
  javascript/ql/src/CHANGELOG.md
  javascript/ql/src/change-notes/released/2.1.0.md
Labels: JS, documentation

#20531 Fix formatting in codeql-cli-2.23.1.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.23.1.rst
Labels: documentation

#20529 Rust: Correct from model to taint
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-core.model.yml
  rust/ql/lib/codeql/rust/security/HardcodedCryptographicValueExtensions.qll
  rust/ql/test/library-tests/dataflow/strings/inline-taint-flow.expected
  rust/ql/test/library-tests/dataflow/strings/main.rs
  rust/ql/test/query-tests/security/CWE-022/TaintedPath.expected
  rust/ql/test/query-tests/security/CWE-798/HardcodedCryptographicValue.expected
Labels: no-change-note-required, Rust

#20523 Go: mistyped-exponentiation: notice constants with likely-bitmask values
  go/ql/src/InconsistentCode/MistypedExponentiation.ql
  go/ql/test/query-tests/InconsistentCode/MistypedExponentiation/main.go
Labels: no-change-note-required, Go

#20514 C++: Update tests after extractor changes
  cpp/ql/test/library-tests/permissive/accesses.expected
  cpp/ql/test/library-tests/permissive/calls.expected
  cpp/ql/test/library-tests/permissive/permissive.cpp
Labels: C++

#20515 Rust: Update Supported languages and frameworks
  docs/codeql/reusables/supported-frameworks.rst
Labels: documentation, no-change-note-required

#20546 Java: Fix false positives in evaluation-to-constant query for ErrorType
  java/ql/integration-tests/java/evaluation-to-constant-errortype/ConstantExpAppearsNonConstant.expected
  java/ql/integration-tests/java/evaluation-to-constant-errortype/ConstantExpAppearsNonConstant.qlref
  java/ql/integration-tests/java/evaluation-to-constant-errortype/Test.java
  java/ql/integration-tests/java/evaluation-to-constant-errortype/test.py
  java/ql/src/Likely Bugs/Arithmetic/ConstantExpAppearsNonConstant.ql
Labels: Java, no-change-note-required

#20554 Rust: Consistency fix for reusables/extractors.rst.
  docs/codeql/reusables/extractors.rst
Labels: documentation, no-change-note-required, ready-for-doc-review
