Repository github/codeql, pull requests merged in 2025-07, with the labels that each got.

#19907 C++: fix `(no string representation)` for `ConstructorInit`
  cpp/ql/lib/semmle/code/cpp/exprs/Call.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ptr_to_member/segfault/exprs.expected
Labels: C++, no-change-note-required

#19891 Go/Ruby/Python: Freeze quality queries in `security-and-quality`.
  csharp/ql/src/codeql-suites/csharp-security-and-quality.qls
  go/ql/src/codeql-suites/go-security-and-quality.qls
  java/ql/src/codeql-suites/java-security-and-quality.qls
  javascript/ql/src/codeql-suites/javascript-security-and-quality.qls
  misc/suite-helpers/security-and-frozen-quality-selectors.yml
  python/ql/src/codeql-suites/python-security-and-quality.qls
  ruby/ql/src/codeql-suites/ruby-security-and-quality.qls
Labels: C#, JS, Java, Python, no-change-note-required, Go, Ruby

#19926 Ruby: Do not compute `StringlikeLiteralImpl.getStringValue` for large strings
  ruby/ql/lib/codeql/ruby/ast/internal/Literal.qll
Labels: no-change-note-required, Ruby

#19892 Fix markdown query help formatting
  actions/ql/src/Security/CWE-077/EnvPathInjectionCritical.md
  actions/ql/src/Security/CWE-077/EnvPathInjectionMedium.md
  actions/ql/src/Security/CWE-077/EnvVarInjectionCritical.md
  actions/ql/src/Security/CWE-077/EnvVarInjectionMedium.md
  actions/ql/src/Security/CWE-094/CodeInjectionCritical.md
  actions/ql/src/Security/CWE-094/CodeInjectionMedium.md
  actions/ql/src/Security/CWE-1395/UseOfKnownVulnerableAction.md
  actions/ql/src/Security/CWE-275/MissingActionsPermissions.md
  actions/ql/src/Security/CWE-285/ImproperAccessControl.md
  actions/ql/src/Security/CWE-312/ExcessiveSecretsExposure.md
  actions/ql/src/Security/CWE-312/SecretsInArtifacts.md
  actions/ql/src/Security/CWE-312/UnmaskedSecretExposure.md
  actions/ql/src/Security/CWE-349/CachePoisoningViaCodeInjection.md
  actions/ql/src/Security/CWE-349/CachePoisoningViaDirectCache.md
  actions/ql/src/Security/CWE-349/CachePoisoningViaPoisonableStep.md
  actions/ql/src/Security/CWE-367/UntrustedCheckoutTOCTOUCritical.md
  actions/ql/src/Security/CWE-367/UntrustedCheckoutTOCTOUHigh.md
  actions/ql/src/Security/CWE-571/ExpressionIsAlwaysTrueCritical.md
  actions/ql/src/Security/CWE-571/ExpressionIsAlwaysTrueHigh.md
  actions/ql/src/Security/CWE-829/ArtifactPoisoningCritical.md
  actions/ql/src/Security/CWE-829/ArtifactPoisoningMedium.md
  actions/ql/src/Security/CWE-829/UnpinnedActionsTag.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutCritical.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutHigh.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutMedium.md
  actions/ql/src/Violations Of Best Practice/CodeQL/UnnecessaryUseOfAdvancedConfig.md
  actions/ql/src/experimental/Security/CWE-088/ArgumentInjectionCritical.md
  actions/ql/src/experimental/Security/CWE-088/ArgumentInjectionMedium.md
  actions/ql/src/experimental/Security/CWE-829/UnversionedImmutableAction.md
  docs/query-help-style-guide.md
  java/ql/src/Performance/StringReplaceAllWithNonRegex.md
  java/ql/src/Violations of Best Practice/Undesirable Calls/DoNotCallFinalize.md
  ruby/ql/src/queries/variables/UninitializedLocal.md
Labels: documentation, Java, Ruby, Actions

#19903 Rust: Apply inherent method prioritization inside type inference loop
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/dataflow/models/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/test.rs
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/query-tests/security/CWE-312/CONSISTENCY/PathResolutionConsistency.expected
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Labels: no-change-note-required, Rust

#19676 Fixes in cpp/global-use-before-init
  cpp/ql/src/Critical/GlobalUseBeforeInit.ql
  cpp/ql/src/change-notes/2025-07-01-global-vars-ubi-query-fixes.md.md
  cpp/ql/test/query-tests/Critical/GlobalUseBeforeInit/GlobalUseBeforeInit.expected
  cpp/ql/test/query-tests/Critical/GlobalUseBeforeInit/test.cpp
Labels: C++, documentation

#19951 Rust: add trailing newline to rust-cwe.md
  docs/codeql/query-help/rust-cwe.md
Labels: documentation

#19956 Java: disable failing maven fetches expectations for now
  java/ql/integration-tests/java/maven-enforcer-multiple-versions/maven-fetches.expected.disabled
  java/ql/integration-tests/java/maven-enforcer-single-version/maven-fetches.expected.disabled
  java/ql/integration-tests/java/maven-enforcer/maven-fetches.expected.disabled
Labels: Java

#19955 C++: Add flow summaries for `CreateThread` and friends
  cpp/ql/lib/ext/Windows.model.yml
  cpp/ql/src/change-notes/2025-07-12-create-thread.md
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/validatemodels.expected
  cpp/ql/test/library-tests/dataflow/external-models/windows.cpp
Labels: C++, documentation

#19861 Rust: refactor `ast-generator` to have all customization at the start
  rust/ast-generator/src/field_info.rs
  rust/ast-generator/src/main.rs
Labels: Rust

#19961 Rust: Speed up use of Location.contains
  rust/ql/lib/codeql/rust/elements/internal/LocationImpl.qll
Labels: no-change-note-required, Rust

#19967 Rust: format
  rust/ast-generator/src/main.rs
Labels: Rust

#19969 C++: Add glibc to the list of bulk generation targets
  cpp/bulk_generation_targets.yml
Labels: C++

#19977 Ruby: Fix typo in query message
  ruby/ql/src/experimental/ldap-improper-auth/ImproperLdapAuth.ql
  ruby/ql/test/query-tests/experimental/ImproperLdapAuth/ImproperLdapAuth.expected
Labels: Ruby

#19975 Rust: Fix SSA inconsistencies
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  rust/ql/test/library-tests/variables/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/main.rs
  rust/ql/test/library-tests/variables/variables.expected
Labels: no-change-note-required, Rust

#19963 Ruby/QL: add discard predicates for locations
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ruby/ql/lib/codeql/ruby/ast/internal/TreeSitter.qll
  shared/tree-sitter-extractor/src/generator/mod.rs
  shared/tree-sitter-extractor/src/generator/ql_gen.rs
Labels: no-change-note-required, Ruby, QL-for-QL

#19990 C++: Rename a changenote file
  cpp/ql/lib/change-notes/2025-06-24-arm64.md
Labels: C++, documentation

#19976 C++: Output `CopyValue` in the IR when there is a non-transparent conversion
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ExprNodes.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/dataflow/asExpr/test.cpp
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Labels: C++, no-change-note-required

#19988 Rust: path resolution: handle items in `extern` blocks
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
  rust/ql/test/extractor-tests/canonical_path/regular.rs
Labels: no-change-note-required, Rust

#19993 Rust: Add type inference inline expectations for all function calls
  rust/ql/lib/rust.qll
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/dereference.rs
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/library-tests/type-inference/type-inference.ql
Labels: no-change-note-required, Rust

#19971 Rust: Improve type inference for `for` loops and range expressions
  rust/ql/lib/change-notes/2025-07-07-type-inference-for-loops.md
  rust/ql/lib/codeql/rust/elements/RangeExprExt.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/lib/rust.qll
  rust/ql/test/library-tests/dataflow/sources/TaintSources.expected
  rust/ql/test/library-tests/dataflow/sources/test.rs
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Labels: documentation, Rust

#19950 Java: Add 'Useless serialization member in record class' query
  java/ql/integration-tests/java/query-suite/java-code-quality-extended.qls.expected
  java/ql/integration-tests/java/query-suite/java-code-quality.qls.expected
  java/ql/src/Violations of Best Practice/Records/IgnoredSerializationMembersOfRecordClass.md
  java/ql/src/Violations of Best Practice/Records/IgnoredSerializationMembersOfRecordClass.ql
  java/ql/test/query-tests/IgnoredSerializationMembersOfRecordClass/IgnoredSerializationMembersOfRecordClass.expected
  java/ql/test/query-tests/IgnoredSerializationMembersOfRecordClass/IgnoredSerializationMembersOfRecordClass.qlref
  java/ql/test/query-tests/IgnoredSerializationMembersOfRecordClass/Test.java
  java/ql/test/query-tests/IgnoredSerializationMembersOfRecordClass/options
Labels: documentation, Java, no-change-note-required, ready-for-doc-review

#19996 Rust: Adjust the inferred type of string literals
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/query-tests/security/CWE-825/AccessAfterLifetime.expected
  rust/ql/test/query-tests/security/CWE-825/lifetime.rs
Labels: no-change-note-required, Rust

#20010 C++: Fix some typos in recent change notes
  cpp/ql/src/CHANGELOG.md
  cpp/ql/src/change-notes/released/1.4.1.md
  cpp/ql/src/change-notes/released/1.4.3.md
Labels: C++, documentation

#20001 Rust: fix missing canonical paths for trait impls on builtin numeric types
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
  rust/ql/test/extractor-tests/canonical_path/regular.rs
Labels: no-change-note-required, Rust

#20013 QL4QL: Discard predicates are always alive
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/style/DeadCodeQuery.qll
  ql/ql/test/queries/style/DeadCode/Foo.qll
Labels: QL-for-QL

#20003 Rust: add test cases for basic unwrapping and pattern matching
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Labels: Rust

#20015 Rust: Fix bad join
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
Labels: no-change-note-required, Rust

#20002 Rust: Add more test cases for sensitive data
  rust/ql/test/library-tests/sensitivedata/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/sensitivedata/test.rs
Labels: no-change-note-required, Rust

#19942 Rust: Update legacy MaD models 2
  rust/ql/lib/codeql/rust/frameworks/postgres.model.yml
  rust/ql/lib/codeql/rust/frameworks/rustcrypto/rustcrypto.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/io.model.yml
  rust/ql/lib/codeql/rust/frameworks/tokio-postgres.model.yml
  rust/ql/lib/codeql/rust/frameworks/tokio/io.model.yml
  rust/ql/test/library-tests/frameworks/postgres/main.rs
  rust/ql/test/query-tests/security/CWE-328/WeakSensitiveDataHashing.expected
  rust/ql/test/query-tests/security/CWE-328/test.rs
Labels: no-change-note-required, Rust

#19995 Rust: Disambiguate associated function calls
  rust/ql/lib/change-notes/2025-07-10-assoc-func-disambiguation.md
  rust/ql/lib/codeql/rust/elements/internal/CallExprBaseImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/MethodCallExprImpl.qll
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/extractor-tests/macro-expansion/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/main.rs
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/test_futures_io.rs
  rust/ql/test/library-tests/path-resolution/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/query-tests/security/CWE-022/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-022/TaintedPath.expected
  rust/ql/test/query-tests/security/CWE-022/src/main.rs
Labels: documentation, Rust

#19943 Support approximate related locations
  java/ql/lib/semmle/code/java/security/regexp/PolynomialReDoSQuery.qll
  python/ql/lib/semmle/python/security/dataflow/PolynomialReDoSQuery.qll
  ruby/ql/lib/codeql/ruby/security/regexp/PolynomialReDoSQuery.qll
  shared/util/codeql/util/AlertFiltering.qll
Labels: Java, Python, no-change-note-required, Ruby

#20014 C++: Do not alert on unreachable code in `cpp/incorrect-string-type-conversion`
  cpp/ql/src/Security/CWE/CWE-704/WcharCharConversion.ql
  cpp/ql/src/change-notes/2025-07-10-wchar-fp.md
  cpp/ql/test/query-tests/Security/CWE/CWE-704/WcharCharConversion.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-704/WcharCharConversion.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-704/WcharCharConversion.qlref
Labels: C++, documentation

#20027 Rust: Remove `Resolvable.resolvesAsItem`
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/internal/ResolvableImpl.qll
  rust/ql/src/queries/telemetry/RustAnalyzerComparison.qll
Labels: no-change-note-required, Rust

#19672 Python: Support type annotations in call graph
  python/ql/lib/change-notes/2025-06-04-call-graph-type-annotations.md
  python/ql/lib/semmle/python/Exprs.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/test/experimental/library-tests/CallGraph-type-annotations/InlineCallGraphTest.expected
  python/ql/test/experimental/library-tests/CallGraph-type-annotations/InlineCallGraphTest.qlref
  python/ql/test/experimental/library-tests/CallGraph-type-annotations/type_annotations.py
Labels: documentation, Python

#20025 Java: add extra sink for `java/unsafe-deserialization`
  java/ql/lib/change-notes/2025-07-11-unsafe-deserialization-extra-sink.md
  java/ql/lib/semmle/code/java/JDK.qll
  java/ql/lib/semmle/code/java/security/UnsafeDeserializationQuery.qll
  java/ql/test/query-tests/security/CWE-502/A.java
  java/ql/test/query-tests/security/CWE-502/UnsafeDeserialization.expected
  java/ql/test/query-tests/security/CWE-502/UnsafeDeserialization.ext.yml
  java/ql/test/query-tests/security/CWE-502/com/example/MyObjectInput.java
Labels: documentation, Java

#20026 C++: Fix C++20 concept related class extensions
  cpp/ql/lib/semmle/code/cpp/Concept.qll
Labels: C++, no-change-note-required

#19946 Rust: Update legacy MaD models 3
  rust/ql/lib/codeql/rust/frameworks/http.model.yml
  rust/ql/lib/codeql/rust/frameworks/reqwest.model.yml
  rust/ql/lib/codeql/rust/frameworks/rusqlite.model.yml
  rust/ql/lib/codeql/rust/frameworks/rustls.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-alloc.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-core.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/net.model.yml
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/modeled/inline-flow.expected
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/TaintSources.expected
  rust/ql/test/library-tests/dataflow/sources/test.rs
  rust/ql/test/library-tests/dataflow/strings/inline-taint-flow.expected
  rust/ql/test/library-tests/frameworks/rusqlite/main.rs
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/query-tests/security/CWE-020/RegexInjection.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-311/CleartextTransmission.expected
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
  rust/ql/test/query-tests/security/CWE-770/UncontrolledAllocationSize.expected
  rust/ql/test/query-tests/security/CWE-825/AccessInvalidPointer.expected
Labels: no-change-note-required, Rust

#19731 Ruby: enable overlay compilation
  ruby/ql/lib/qlpack.yml
Labels: no-change-note-required, Ruby

#20039 Kotlin: tweak plugin test
  java/ql/integration-tests/kotlin/linux/custom_plugin/plugin/BUILD.bazel
  java/ql/integration-tests/kotlin/linux/custom_plugin/test.py
Labels: Java

#20030 JavaScript: Ignore `outDir`s that would exclude everything
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/test/com/semmle/js/extractor/test/AutoBuildTests.java
  javascript/ql/lib/change-notes/2025-07-11-ignore-outdirs-that-would-exclude-everything.md
Labels: JS, documentation

#20049 Java: use `overlayChangedFiles` in discard prediactes
  java/ql/lib/semmle/code/Location.qll
  java/ql/lib/semmle/code/java/Overlay.qll
Labels: Java, no-change-note-required

#20011 Overlay: Add XML and Java property discarding
  java/ql/lib/semmle/code/java/Overlay.qll
Labels: Java, no-change-note-required

#20059 C++: Reduce duplication in `cpp/uncontrolled-process-operation`
  cpp/ql/src/Security/CWE/CWE-114/UncontrolledProcessOperation.ql
Labels: C++, no-change-note-required

#20066 C++: Don't wrap calls through function pointers in `FunctionWithWrappers`
  cpp/ql/lib/change-notes/2025-07-16-FunctionWithWrappers.md
  cpp/ql/lib/semmle/code/cpp/security/FunctionWithWrappers.qll
  cpp/ql/src/change-notes/2025-07-16-FunctionWithWrappers.md
Labels: C++, documentation

#20069 C++: Support the spaceship operator in the IR
  cpp/ql/lib/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Labels: C++, no-change-note-required

#20053 Go: Fix compilation of DataFlowImplConsistency.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplConsistency.qll
Labels: no-change-note-required, Go

#19872 Overlay: Enable overlay compilation for Java
  java/ql/lib/qlpack.yml
Labels: Java, no-change-note-required

#20067 Java: allow the definition of `java/unsafe-deserialization` sinks using data extensions
  java/ql/lib/change-notes/2025-07-16-models-as-data-unsafe-deserialization-sinks.md
  java/ql/lib/change-notes/2025-07-16-unsafe-deserialization-sinks-deprecation.md
  java/ql/lib/ext/com.alibaba.com.caucho.hessian.io.model.yml
  java/ql/lib/ext/com.caucho.burlap.io.model.yml
  java/ql/lib/ext/com.caucho.hessian.io.model.yml
  java/ql/lib/ext/com.cedarsoftware.util.io.model.yml
  java/ql/lib/ext/com.esotericsoftware.yamlbeans.model.yml
  java/ql/lib/ext/java.beans.model.yml
  java/ql/lib/ext/org.apache.commons.lang.model.yml
  java/ql/lib/ext/org.apache.commons.lang3.model.yml
  java/ql/lib/ext/org.exolab.castor.xml.model.yml
  java/ql/lib/ext/org.ho.yaml.model.yml
  java/ql/lib/ext/org.jabsorb.model.yml
  java/ql/lib/semmle/code/java/frameworks/Castor.qll
  java/ql/lib/semmle/code/java/frameworks/HessianBurlap.qll
  java/ql/lib/semmle/code/java/frameworks/JYaml.qll
  java/ql/lib/semmle/code/java/frameworks/Jabsorb.qll
  java/ql/lib/semmle/code/java/frameworks/YamlBeans.qll
  java/ql/lib/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/lib/semmle/code/java/security/UnsafeDeserializationQuery.qll
  java/ql/test/query-tests/security/CWE-502/UnsafeDeserialization.expected
  java/ql/test/query-tests/security/CWE-611/XXE.expected
  shared/mad/codeql/mad/ModelValidation.qll
Labels: documentation, Java

#19931 Ql4ql: Quality query tagging.
  docs/query-metadata-style-guide.md
  java/ql/src/Language Abuse/TypeVariableHidesType.ql
  javascript/ql/src/Quality/UnhandledErrorInStreamPipeline.ql
  ql/ql/src/codeql/files/FileSystem.qll
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/queries/style/MissingQualityMetadata.ql
  ql/ql/src/queries/style/MissingSecurityMetadata.ql
  ql/ql/test/queries/style/MissingQualityMetadata/MissingQualityMetadata.expected
  ql/ql/test/queries/style/MissingQualityMetadata/MissingQualityMetadata.qlref
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/BadQualityMaintainabilityWrongToplevel.expected
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/BadQualityMaintainabilityWrongToplevel.ql
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/BadQualityMultipleTopLevel.expected
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/BadQualityMultipleTopLevel.ql
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/BadQualityNoToplevel.expected
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/BadQualityNoToplevel.ql
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/BadQualityReliabilityWrongToplevel.expected
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/BadQualityReliabilityWrongToplevel.ql
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodNotQuality.expected
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodNotQuality.ql
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityMaintainability.expected
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityMaintainability.ql
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityMaintainabilityWithCrossSub.expected
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityMaintainabilityWithCrossSub.ql
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityMaintainabilityWithSub.expected
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityMaintainabilityWithSub.ql
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityReliability.expected
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityReliability.ql
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityReliabilityWithCrossSub.expected
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityReliabilityWithCrossSub.ql
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityReliabilityWithSub.expected
  ql/ql/test/queries/style/MissingQualityMetadata/testcases/GoodQualityReliabilityWithSub.ql
  ql/ql/test/queries/style/MissingSecurityMetadata/MissingSecurityMetadata.expected
Labels: JS, documentation, Java, no-change-note-required, QL-for-QL

#19885 Java: Add AnnotatedExitNodes to the CFG.
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
  java/ql/lib/semmle/code/java/controlflow/Paths.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
  java/ql/test-kotlin1/library-tests/controlflow/basic/bbStmts.expected
  java/ql/test-kotlin1/library-tests/controlflow/basic/bbStrictDominance.expected
  java/ql/test-kotlin1/library-tests/controlflow/basic/bbSuccessor.expected
  java/ql/test-kotlin1/library-tests/controlflow/basic/getASuccessor.expected
  java/ql/test-kotlin1/library-tests/controlflow/dominance/dominator.expected
  java/ql/test-kotlin2/library-tests/controlflow/basic/bbStmts.expected
  java/ql/test-kotlin2/library-tests/controlflow/basic/bbStrictDominance.expected
  java/ql/test-kotlin2/library-tests/controlflow/basic/bbSuccessor.expected
  java/ql/test-kotlin2/library-tests/controlflow/basic/getASuccessor.expected
  java/ql/test-kotlin2/library-tests/controlflow/dominance/dominator.expected
  java/ql/test/library-tests/controlflow/basic/bbStmts.expected
  java/ql/test/library-tests/controlflow/basic/bbStrictDominance.expected
  java/ql/test/library-tests/controlflow/basic/bbSuccessor.expected
  java/ql/test/library-tests/controlflow/dominance/dominator.expected
  java/ql/test/library-tests/guards/guards.expected
  java/ql/test/library-tests/guards/guardslogic.expected
  java/ql/test/library-tests/guards/guardspreconditions.expected
  java/ql/test/library-tests/java7/MultiCatch/MultiCatchControlFlow.expected
  java/ql/test/library-tests/pattern-instanceof/cfg.expected
  java/ql/test/library-tests/pattern-switch/cfg/test.expected
  java/ql/test/library-tests/successors/CloseReaderTest/TestSucc.expected
  java/ql/test/library-tests/successors/LoopVarReadTest/TestSucc.expected
  java/ql/test/library-tests/successors/SaveFileTest/TestSucc.expected
  java/ql/test/library-tests/successors/SchackTest/TestSucc.expected
  java/ql/test/library-tests/successors/TestBreak/TestSucc.expected
  java/ql/test/library-tests/successors/TestContinue/FalseSuccessors.expected
  java/ql/test/library-tests/successors/TestContinue/TestSucc.expected
  java/ql/test/library-tests/successors/TestDeclarations/TestSucc.expected
  java/ql/test/library-tests/successors/TestFinally/TestSucc.expected
  java/ql/test/library-tests/successors/TestFinallyBreakContinue/TestSucc.expected
  java/ql/test/library-tests/successors/TestLoopBranch/TestSucc.expected
  java/ql/test/library-tests/successors/TestThrow/TestSucc.expected
  java/ql/test/library-tests/successors/TestThrow2/TestSucc.expected
  java/ql/test/library-tests/successors/TestTryCatch/TestSucc.expected
  java/ql/test/library-tests/successors/TestTryWithResources/TestSucc.expected
  java/ql/test/library-tests/unreachableblocks/UnreachableBlocks.expected
Labels: Java, no-change-note-required, Kotlin

#20083 Java: Prune PathGraph for CsrfUnprotectedRequestType.ql
  java/ql/lib/semmle/code/java/security/CsrfUnprotectedRequestTypeQuery.qll
  java/ql/src/Security/CWE/CWE-352/CsrfUnprotectedRequestType.ql
Labels: Java, no-change-note-required

#20091 Java: Fix accidental CP in CFG for asserts.
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
Labels: Java, no-change-note-required

#20077 Java: Diff-informed queries: phase 3 (non-trivial locations)
  java/ql/lib/semmle/code/java/security/AndroidSensitiveCommunicationQuery.qll
  java/ql/lib/semmle/code/java/security/ArithmeticTaintedQuery.qll
  java/ql/lib/semmle/code/java/security/ArithmeticUncontrolledQuery.qll
  java/ql/lib/semmle/code/java/security/ConditionalBypassQuery.qll
  java/ql/lib/semmle/code/java/security/ExternalAPIs.qll
  java/ql/lib/semmle/code/java/security/ImproperValidationOfArrayConstructionCodeSpecifiedQuery.qll
  java/ql/lib/semmle/code/java/security/ImproperValidationOfArrayConstructionQuery.qll
  java/ql/lib/semmle/code/java/security/ImproperValidationOfArrayIndexCodeSpecifiedQuery.qll
  java/ql/lib/semmle/code/java/security/ImproperValidationOfArrayIndexQuery.qll
  java/ql/lib/semmle/code/java/security/InsecureCookieQuery.qll
  java/ql/lib/semmle/code/java/security/InsecureLdapAuthQuery.qll
  java/ql/lib/semmle/code/java/security/LogInjectionQuery.qll
  java/ql/lib/semmle/code/java/security/MaybeBrokenCryptoAlgorithmQuery.qll
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
  java/ql/lib/semmle/code/java/security/SqlConcatenatedQuery.qll
  java/ql/lib/semmle/code/java/security/TaintedEnvironmentVariableQuery.qll
  java/ql/lib/semmle/code/java/security/TempDirLocalInformationDisclosureQuery.qll
  java/ql/lib/semmle/code/java/security/TrustBoundaryViolationQuery.qll
  java/ql/lib/semmle/code/java/security/UnsafeCertTrustQuery.qll
  java/ql/src/Security/CWE/CWE-200/AndroidWebViewSettingsAllowsContentAccess.ql
  java/ql/test/query-tests/security/CWE-020/ExternalAPISinkExample.java
  java/ql/test/query-tests/security/CWE-020/ExternalAPITaintStepExample.java
  java/ql/test/query-tests/security/CWE-020/ExternalAPIsUsedWithUntrustedData.expected
  java/ql/test/query-tests/security/CWE-020/ExternalAPIsUsedWithUntrustedData.qlref
  java/ql/test/query-tests/security/CWE-020/UntrustedDataToExternalAPI.expected
  java/ql/test/query-tests/security/CWE-020/UntrustedDataToExternalAPI.qlref
  java/ql/test/query-tests/security/CWE-117/LogInjectionTest.expected
  java/ql/test/query-tests/security/CWE-117/LogInjectionTest.ext.yml
  java/ql/test/query-tests/security/CWE-117/LogInjectionTest.java
  java/ql/test/query-tests/security/CWE-117/LogInjectionTest.ql
  java/ql/test/query-tests/security/CWE-117/LogInjectionTest.qlref
  java/ql/test/query-tests/security/CWE-273/UnsafeCertTrustTest.expected
  java/ql/test/query-tests/security/CWE-273/UnsafeCertTrustTest.java
  java/ql/test/query-tests/security/CWE-273/UnsafeCertTrustTest.ql
  java/ql/test/query-tests/security/CWE-273/UnsafeCertTrustTest.qlref
  java/ql/test/query-tests/security/CWE-501/TrustBoundaryViolations.expected
  java/ql/test/query-tests/security/CWE-501/TrustBoundaryViolations.java
  java/ql/test/query-tests/security/CWE-501/TrustBoundaryViolations.ql
  java/ql/test/query-tests/security/CWE-501/TrustBoundaryViolations.qlref
  java/ql/test/query-tests/security/CWE-532/SensitiveLogInfo.expected
  java/ql/test/query-tests/security/CWE-532/SensitiveLogInfo.ql
  java/ql/test/query-tests/security/CWE-532/SensitiveLogInfo.qlref
  java/ql/test/query-tests/security/CWE-532/Test.java
  java/ql/test/query-tests/security/CWE-807/semmle/tests/ConditionalBypassTest.expected
  java/ql/test/query-tests/security/CWE-807/semmle/tests/ConditionalBypassTest.java
  java/ql/test/query-tests/security/CWE-807/semmle/tests/ConditionalBypassTest.ql
  java/ql/test/query-tests/security/CWE-807/semmle/tests/ConditionalBypassTest.qlref
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication.expected
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication.ql
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication/SensitiveCommunication.expected
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication/SensitiveCommunication.java
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication/SensitiveCommunication.qlref
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication/options
Labels: Java, no-change-note-required

#20092 Java: Improve more join-orders
  java/ql/src/Likely Bugs/Collections/ArrayIndexOutOfBounds.ql
  java/ql/src/Likely Bugs/Statements/PartiallyMaskedCatch.ql
Labels: Java, no-change-note-required

#20018 Java: Update qhelp: SnakeYaml is safe from version 2.0
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.qhelp
Labels: documentation, Java

#20041 Rust: Type inference for tuples
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/internal/TuplePatImpl.qll
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/lib/codeql/rust/internal/TypeMention.qll
  rust/ql/src/change-notes/2025-07-15-type-inference-tuples.md
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/pattern_matching.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Labels: documentation, Rust

#20076 Rust: Type inference refactor and improve join orders
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Labels: no-change-note-required, Rust

#20052 Python: Minor documantation updates to several quality queries
  python/ql/src/Exceptions/CatchingBaseException.qhelp
  python/ql/src/Exceptions/EmptyExcept.qhelp
  python/ql/src/Expressions/CallToSuperWrongClass.qhelp
  python/ql/src/Expressions/DuplicateKeyInDictionaryLiteral.py
  python/ql/src/Expressions/DuplicateKeyInDictionaryLiteral.qhelp
  python/ql/src/Expressions/ExplicitCallToDel.qhelp
  python/ql/src/Expressions/IncorrectComparisonUsingIs.qhelp
  python/ql/src/Expressions/IncorrectComparisonUsingIs.ql
  python/ql/src/Expressions/UnsupportedFormatCharacter.qhelp
  python/ql/src/Functions/ConsistentReturns.qhelp
  python/ql/src/Functions/ConsistentReturns.ql
  python/ql/src/Functions/InitIsGenerator.qhelp
  python/ql/src/Functions/ModificationOfParameterWithDefault.qhelp
  python/ql/test/query-tests/Functions/return_values/ConsistentReturns.expected
Labels: documentation, Python, no-change-note-required

#20124 Rust: Replace QL model for Clone with MaD
  rust/ql/lib/codeql/rust/Frameworks.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Clone.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-core.model.yml
  rust/ql/test/library-tests/dataflow/modeled/inline-flow.expected
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
Labels: no-change-note-required, Rust

#19804 Rust: Update DotDotCheck to use getCanonicalPath
  rust/ql/lib/codeql/rust/security/TaintedPathExtensions.qll
Labels: no-change-note-required, Rust

#20132 SSA: Update data flow integration and BarrierGuard interface to use GuardValue.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/SsaImpl.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/BarrierGuards.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/TaintTrackingPrivate.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/sharedlib/Ssa.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  shared/dataflow/codeql/dataflow/VariableCapture.qll
  shared/ssa/codeql/ssa/Ssa.qll
Labels: C#, JS, C++, Java, no-change-note-required, Ruby, Rust, DataFlow Library
