Repository github/codeql, pull requests merged in 2025-03, with the labels that each got.

#18896 Rust: Model pointer read and write functions
  rust/ql/integration-tests/hello-project/summary.expected
  rust/ql/integration-tests/hello-workspace/summary.cargo.expected
  rust/ql/integration-tests/hello-workspace/summary.rust-project.expected
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-core.model.yml
  rust/ql/lib/ext/generated/rust/lang-alloc.model.yml
  rust/ql/lib/ext/generated/rust/lang-core.model.yml
  rust/ql/lib/ext/generated/rust/lang-proc_macro.model.yml
  rust/ql/lib/ext/generated/rust/lang-std.model.yml
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/modeled/inline-flow.expected
  rust/ql/test/library-tests/dataflow/modeled/main.rs
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
  rust/ql/test/utils-tests/modelgenerator/option.rs
Labels: Rust

#18888 Set the executable bit on the scripts in the Actions extractor
  actions/extractor/BUILD.bazel
Labels: no-change-note-required, Actions

#18904 C#: Pin .NET for the integration test
  csharp/ql/integration-tests/posix/standalone_dependencies_nuget_config_error/global.json
Labels: C#

#18837 C++: Improve and promote cpp/overflow-buffer
  cpp/ql/lib/change-notes/2025-02-20-getbuffersize.md
  cpp/ql/lib/change-notes/2025-02-25-getbuffersize.md
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/src/Security/CWE/CWE-119/OverflowBuffer.ql
  cpp/ql/src/change-notes/2025-02-20-overflow-buffer.md
  cpp/ql/src/change-notes/2025-02-27-static-buffer-overflow.md
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/OverflowStatic.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/SAMATE/tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/BadlyBoundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowStatic.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/var_size_struct.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/VeryLikelyOverrunWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/varbuffer.c
Labels: C++, documentation

#18865 Add CodeQL recommendation against Path.Combine
  csharp/ql/src/Bad Practices/PathCombine.qhelp
  csharp/ql/src/Bad Practices/PathCombine.ql
  csharp/ql/src/change-notes/2025-02-26-path-combine.md
  csharp/ql/test/query-tests/Bad Practices/Path Combine/PathCombine.cs
  csharp/ql/test/query-tests/Bad Practices/Path Combine/PathCombine.expected
  csharp/ql/test/query-tests/Bad Practices/Path Combine/PathCombine.qlref
  csharp/ql/test/query-tests/Bad Practices/Path Combine/options
Labels: C#, documentation

#18872 Rust: Allow SSA and some data flow for mutable borrows
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowConsistency.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/main.rs
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/dataflow/modeled/inline-flow.expected
  rust/ql/test/library-tests/dataflow/pointers/inline-flow.expected
  rust/ql/test/library-tests/dataflow/pointers/main.rs
  rust/ql/test/library-tests/dataflow/sources/test.rs
  rust/ql/test/library-tests/dataflow/strings/inline-taint-flow.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/Ssa.ql
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-089/sqlx.rs
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
  rust/ql/test/utils-tests/modelgenerator/CaptureSummaryModels.expected
Labels: Rust

#18900 Java: handle lock state check stored in variable for `java/unreleased-lock`
  java/ql/src/Likely Bugs/Concurrency/UnreleasedLock.ql
  java/ql/src/change-notes/2025-03-02-unreleased-lock-fp.md
  java/ql/test/query-tests/UnreleasedLock/UnreleasedLock.expected
  java/ql/test/query-tests/UnreleasedLock/UnreleasedLock.java
Labels: documentation, Java

#18914 C++ query to extract the number of errors due to include file resolution failure
  cpp/ql/src/Metrics/Internal/IncludeResolutionStatus.ql
Labels: C++, no-change-note-required

#18922 Rust: Exclude functions without canonical path from model generation
  rust/ql/src/utils/modelgenerator/internal/CaptureModels.qll
Labels: Rust

#18919 Rust: Move `AstConsistency.qll` into `internal`
  rust/ql/consistency-queries/AstConsistency.ql
  rust/ql/lib/codeql/rust/internal/AstConsistency.qll
  rust/ql/src/queries/diagnostics/AstConsistencyCounts.ql
  rust/ql/src/queries/summary/Stats.qll
Labels: Rust

#18917 Update supported Java version
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#18925 Mergeback codeql-cli-2.20.6 to rc/3.17
  docs/codeql/reusables/supported-versions-compilers.rst
Labels: documentation

#18923 C++: Update template test to also output the value of template arguments
  cpp/ql/test/library-tests/templates/nontype_instantiations/general/test.expected
  cpp/ql/test/library-tests/templates/nontype_instantiations/general/test.ql
Labels: C++

#18869 Ssa: Update qltests including consistency checks
  csharp/ql/consistency-queries/SsaConsistency.ql
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/test/library-tests/dataflow/ssa/SSAPhiRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SSAPhiRead.ql
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowNodes.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/SsaImpl.qll
  ruby/ql/consistency-queries/SsaConsistency.ql
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/test/library-tests/variables/ssa.expected
  ruby/ql/test/library-tests/variables/ssa.ql
  rust/ql/consistency-queries/SsaConsistency.ql
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/Ssa.ql
  shared/ssa/codeql/ssa/Ssa.qll
Labels: C#, Java, no-change-note-required, Ruby, Rust

#18908 C++: Change countNumberOfBranchesUsingParameter to match qldoc closer.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Labels: C++, no-change-note-required

#18920 Go: Do not track taint into a `sync.Map` via the key of a key-value pair
  go/ql/lib/change-notes/2025-03-04-improve-models-for-sync-map.md
  go/ql/lib/ext/sync.model.yml
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Sync.go
Labels: documentation, Go

#18936 Python: Include `py/not-named-self` and `py/not-named-cls` in the CCR suite
  python/ql/src/codeql-suites/python-ccr.qls
Labels: Python

#18907 [CWE-925] Intent verification is only needed on non-empty onReceive methods.
  java/ql/lib/semmle/code/java/security/ImproperIntentVerificationQuery.qll
  java/ql/src/change-notes/2025-03-03-fix-improper-intent-verification-query.md
  java/ql/test/query-tests/security/CWE-925/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-925/EmptyReceiverXml.java
Labels: documentation, Java

#18935 C#: Fewer alerts in `cs/useless-if-statement`.
  csharp/ql/src/Useless code/FutileConditional.ql
  csharp/ql/src/change-notes/2025-03-05-useless-if-statement.md
  csharp/ql/test/query-tests/Useless Code/FutileConditional/FutileConditional.cs
  csharp/ql/test/query-tests/Useless Code/FutileConditional/FutileConditional.expected
  csharp/ql/test/query-tests/Useless Code/FutileConditional/FutileConditional.qlref
  csharp/ql/test/query-tests/Useless Code/FutileConditional/options
Labels: C#, documentation

#18929 Go: Support more dependency managers in `IsGolangVendorDirectory`
  go/extractor/util/util.go
Labels: Go

#18937 Rust: Fix bad joins
  rust/ql/lib/codeql/rust/elements/internal/FormatTemplateVariableAccessConstructor.qll
Labels: Rust

#18944 Changedocs for 2.20.6
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.20.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.20.5.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.20.6.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Labels: documentation

#18928 C++: Improve query description and fix alignment of the text
  cpp/ql/src/Metrics/Internal/IncludeResolutionStatus.ql
Labels: C++, no-change-note-required

#18941 Ssa: Extend consistency checks and reduce phi read nodes
  java/ql/consistency-queries/SsaConsistency.ql
  java/ql/lib/semmle/code/java/dataflow/internal/BaseSSA.qll
  java/ql/lib/semmle/code/java/dataflow/internal/SsaImpl.qll
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  rust/ql/test/query-tests/security/CWE-089/CONSISTENCY/SsaConsistency.expected
  shared/ssa/codeql/ssa/Ssa.qll
Labels: Java, no-change-note-required, Ruby, Rust

#18951 Update codeql-cli-2.20.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.20.4.rst
Labels: documentation

#18945 Move UnversionedImmutableAction.ql to experimental
  actions/ql/src/change-notes/2025-02-27-immutable-actions-list.md
  actions/ql/src/experimental/Security/CWE-829/UnversionedImmutableAction.md
  actions/ql/src/experimental/Security/CWE-829/UnversionedImmutableAction.ql
  actions/ql/test/query-tests/Security/CWE-829/UnversionedImmutableAction.qlref
Labels: documentation, Actions

#18953 Update codeql-cli-2.20.4.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.20.4.rst
Labels: documentation

#18866 C#: Add cs/call-to-object-tostring to the CCR query suite.
  csharp/ql/src/codeql-suites/csharp-ccr.qls
Labels: C#

#18955 C++: Share indirect dataflow nodes across `CopyValue` instructions
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow-ir.expected
Labels: C++, no-change-note-required

#18932 C#: Special handling of unknown types in `isMatchingConstant`.
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/Completion.qll
  csharp/ql/src/change-notes/2025-03-10-unknown-type-matching.md
  csharp/ql/test/query-tests/standalone/Bad Practices/Control-Flow/ConstantCondition/ConstantCondition.cs
  csharp/ql/test/query-tests/standalone/Bad Practices/Control-Flow/ConstantCondition/ConstantCondition.expected
  csharp/ql/test/query-tests/standalone/Bad Practices/Control-Flow/ConstantCondition/ConstantCondition.qlref
  csharp/ql/test/query-tests/standalone/Bad Practices/Control-Flow/ConstantCondition/options
  csharp/ql/test/query-tests/standalone/Likely Bugs/IncomparableEquals/IncomparableEquals.cs
  csharp/ql/test/query-tests/standalone/Likely Bugs/IncomparableEquals/IncomparableEquals.expected
  csharp/ql/test/query-tests/standalone/Likely Bugs/IncomparableEquals/IncomparableEquals.qlref
  csharp/ql/test/query-tests/standalone/Likely Bugs/IncomparableEquals/options
  csharp/ql/test/query-tests/standalone/Likely Bugs/ObjectComparison/ObjectComparison.cs
  csharp/ql/test/query-tests/standalone/Likely Bugs/ObjectComparison/ObjectComparison.expected
  csharp/ql/test/query-tests/standalone/Likely Bugs/ObjectComparison/ObjectComparison.qlref
  csharp/ql/test/query-tests/standalone/Likely Bugs/ObjectComparison/options
Labels: C#, documentation

#18798 JS: upgrade TypeScript to 5.8
  docs/codeql/reusables/supported-versions-compilers.rst
  javascript/extractor/lib/typescript/package-lock.json
  javascript/extractor/lib/typescript/package.json
  javascript/ql/lib/change-notes/2025-02-17-typescript-5-8.md
Labels: JS, documentation

#18813 Rust: add flag to turn off extractor path resolution
  rust/codeql-extractor.yml
  rust/extractor/src/config.rs
  rust/extractor/src/main.rs
  rust/extractor/src/translate.rs
  rust/extractor/src/translate/base.rs
  rust/ql/test/extractor-tests/canonical_path_disabled/anonymous.rs
  rust/ql/test/extractor-tests/canonical_path_disabled/canonical_paths.expected
  rust/ql/test/extractor-tests/canonical_path_disabled/canonical_paths.qlref
  rust/ql/test/extractor-tests/canonical_path_disabled/options.yml
  rust/ql/test/extractor-tests/canonical_path_disabled/regular.rs
Labels: Rust

#18892 JS: Sharpen up EnumerationRegExp
  javascript/ql/lib/semmle/javascript/MembershipCandidates.qll
  javascript/ql/src/change-notes/2025-02-28-membership-regexp-test.md
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/regexp-sanitiser.js
Labels: JS, documentation

#18918 Rust: tweak qltest logs
  rust/tools/qltest.cmd
  rust/tools/qltest.sh
Labels: Rust

#18963 JS: Remove TaintedNodes.ql from default meta query suite
  javascript/ql/src/meta/alerts/TaintedNodes.ql
Labels: JS, no-change-note-required

#18959 JS: ensure the result from getPathFromFork is unique (to avoid a blowup)
  javascript/ql/lib/semmle/javascript/Routing.qll
Labels: JS, no-change-note-required

#18962 JS: Unfold local type aliases in getAnUnderlyingType
  javascript/ql/lib/semmle/javascript/TypeScript.qll
  javascript/ql/test/library-tests/frameworks/HTTP/RemoteRequestInput.expected
  javascript/ql/test/library-tests/frameworks/HTTP/express-typed.ts
Labels: JS, no-change-note-required

#18964 JS: Refactor `markdown-table` library modeling
  javascript/ql/lib/change-notes/2025-03-10-js-refactor-markdown-table.md
  javascript/ql/lib/ext/markdown-table.model.yml
  javascript/ql/lib/semmle/javascript/frameworks/Markdown.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.js
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXssWithCustomSanitizer.expected
Labels: JS, documentation

#18940 Go: Add test for FP in `go/unhandled-writable-file-close`
  go/ql/src/InconsistentCode/UnhandledCloseWritableHandle.ql
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/UnhandledCloseWritableHandle.expected
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/UnhandledCloseWritableHandle.qlref
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/tests.go
Labels: no-change-note-required, Go

#18952 Rust: Improve rust/unused-variable and rust/unused-value
  rust/ql/src/queries/unusedentities/UnusedValue.ql
  rust/ql/src/queries/unusedentities/UnusedVariable.qll
  rust/ql/test/query-tests/unusedentities/CONSISTENCY/ExtractionConsistency.expected
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/main.rs
  rust/ql/test/query-tests/unusedentities/undefined_macros/main.rs
  rust/ql/test/query-tests/unusedentities/undefined_macros/options.yml
Labels: no-change-note-required, Rust

#18966 Add missing dependency
  actions/ql/src/qlpack.yml
Labels: Actions

#18793 Java: Promote Spring Boot Actuators query from experimental
  java/ql/lib/semmle/code/java/frameworks/spring/SpringBoot.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringSecurity.qll
  java/ql/lib/semmle/code/java/security/SpringBootActuatorsQuery.qll
  java/ql/src/Security/CWE/CWE-200/SpringBootActuators.java
  java/ql/src/Security/CWE/CWE-200/SpringBootActuators.qhelp
  java/ql/src/Security/CWE/CWE-200/SpringBootActuators.ql
  java/ql/src/change-notes/2025-02-24-spring-boot-actuators-promo.md
  java/ql/src/experimental/Security/CWE/CWE-016/SpringBootActuators.java
  java/ql/src/experimental/Security/CWE/CWE-016/SpringBootActuators.qhelp
  java/ql/src/experimental/Security/CWE/CWE-016/SpringBootActuators.ql
  java/ql/src/experimental/Security/CWE/CWE-016/SpringBootActuators.qll
  java/ql/test/experimental/query-tests/security/CWE-016/SpringBootActuators.expected
  java/ql/test/experimental/query-tests/security/CWE-016/SpringBootActuators.java
  java/ql/test/experimental/query-tests/security/CWE-016/SpringBootActuators.qlref
  java/ql/test/query-tests/security/CWE-200/semmle/tests/SpringBootActuators/SpringBootActuatorsTest.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/SpringBootActuators/SpringBootActuatorsTest.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/SpringBootActuators/SpringBootActuatorsTest.ql
  java/ql/test/query-tests/security/CWE-200/semmle/tests/SpringBootActuators/options
  java/ql/test/stubs/springframework-5.3.8/org/springframework/security/config/annotation/web/builders/HttpSecurity.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurer.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/security/config/annotation/web/configurers/ExpressionUrlAuthorizationConfigurer.java
Labels: documentation, Java, ready-for-doc-review

#18946 Rust: Add regular expression injection query
  rust/ql/integration-tests/hello-project/summary.expected
  rust/ql/integration-tests/hello-workspace/summary.cargo.expected
  rust/ql/integration-tests/hello-workspace/summary.rust-project.expected
  rust/ql/lib/codeql/rust/frameworks/regex.model.yml
  rust/ql/lib/codeql/rust/security/regex/RegexInjectionExtensions.qll
  rust/ql/src/queries/security/CWE-020/RegexInjection.qhelp
  rust/ql/src/queries/security/CWE-020/RegexInjection.ql
  rust/ql/src/queries/security/CWE-020/RegexInjectionBad.rs
  rust/ql/src/queries/security/CWE-020/RegexInjectionGood.rs
  rust/ql/test/default-threat-models.model.yml
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/sources/TaintSources.expected
  rust/ql/test/qlpack.yml
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
  rust/ql/test/query-tests/security/CWE-020/RegexInjection.expected
  rust/ql/test/query-tests/security/CWE-020/RegexInjection.qlref
  rust/ql/test/query-tests/security/CWE-020/RegexInjectionSink.expected
  rust/ql/test/query-tests/security/CWE-020/RegexInjectionSink.ql
  rust/ql/test/query-tests/security/CWE-020/main.rs
  rust/ql/test/query-tests/security/CWE-020/options.yml
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-089/sqlx.rs
Labels: documentation, ready-for-doc-review, Rust

#18961 C#: Add `cs/local-not-disposed` to the CCR suite.
  csharp/ql/src/codeql-suites/csharp-ccr.qls
Labels: C#

#18983 Ruby: Add `SyntheticGlobal` test
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ext.yml
  ruby/ql/test/library-tests/dataflow/summaries/summaries.rb
Labels: Ruby

#18965 Minor example workflow fix
  actions/ql/src/Security/CWE-829/ArtifactPoisoningCritical.md
  actions/ql/src/Security/CWE-829/ArtifactPoisoningMedium.md
Labels: documentation, Actions

#18973 JS: Fix attributes nodes missing an enclosing callable
  javascript/ql/lib/semmle/javascript/dataflow/internal/DataFlowPrivate.qll
  javascript/ql/src/change-notes/2025-03-11-vue-fix.md
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/v-html.vue
Labels: JS, documentation

#18986 JS: Removed auto generated stats file
  javascript/ql/lib/upgrades/c88c69174bd0dd4e95f1bcfbada68a2505e812c3/semmlecode.javascript.dbscheme.stats
Labels: JS

#18976 C#: Increase precision of `cs/constant-condition`.
  csharp/ql/src/Bad Practices/Control-Flow/ConstantCondition.ql
  csharp/ql/src/change-notes/2025-03-11-constant-condition.md
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantCondition.cs
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantCondition.expected
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantCondition.qlref
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantConditionBad.cs
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantConditionalExpressionCondition.cs
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantForCondition.cs
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantIfCondition.cs
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantIsNullOrEmpty.cs
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantNullCoalescingLeftHandOperand.cs
  csharp/ql/test/query-tests/Bad Practices/Control-Flow/ConstantCondition/ConstantWhileCondition.cs
Labels: C#, documentation

#18855 Python: Add more documentation in regards to SSRF
  python/ql/src/Security/CWE-918/ServerSideRequestForgery-end.inc.qhelp
Labels: documentation, Python

#18975 JS: Update Angular Client Request's with API graph and `Tanstack` Angular modeling
  javascript/ql/lib/change-notes/2025-03-11-tanstack-angular.md
  javascript/ql/lib/ext/tanstack.model.yml
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXssWithResponseThreat/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXssWithResponseThreat/test.ts
Labels: JS, documentation

#18738 Python: Don't prune any `MatchLiteralPattern`s
  python/extractor/semmle/python/passes/pruner.py
  python/ql/lib/change-notes/2025-02-11-fix-match-literal-pruning.md
  python/ql/test/query-tests/Statements/unreachable/UnreachableCode.expected
Labels: documentation, Python

#18228 Rust: extract crate graph
  Cargo.lock
  MODULE.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/defs.bzl
  rust/extractor/Cargo.toml
  rust/extractor/src/crate_graph.rs
  rust/extractor/src/diagnostics.rs
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/main.rs
  rust/extractor/src/trap.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/integration-tests/hello-project/diagnostics.expected
  rust/ql/integration-tests/hello-project/functions.ql
  rust/ql/integration-tests/hello-project/steps.cargo.expected
  rust/ql/integration-tests/hello-project/steps.rust-project.expected
  rust/ql/integration-tests/hello-project/summary.expected
  rust/ql/integration-tests/hello-workspace/diagnostics.cargo.expected
  rust/ql/integration-tests/hello-workspace/diagnostics.rust-project.expected
  rust/ql/integration-tests/hello-workspace/functions.ql
  rust/ql/integration-tests/hello-workspace/steps.cargo.expected
  rust/ql/integration-tests/hello-workspace/steps.rust-project.expected
  rust/ql/integration-tests/hello-workspace/summary.cargo.expected
  rust/ql/integration-tests/hello-workspace/summary.rust-project.expected
  rust/ql/integration-tests/options/cfg/functions.ql
  rust/ql/integration-tests/options/features/functions.ql
  rust/ql/integration-tests/options/target/functions.ql
  rust/ql/integration-tests/qltest/dependencies/functions.ql
  rust/ql/integration-tests/qltest/failing_cargo_check/functions.ql
  rust/ql/integration-tests/qltest/lib/functions.ql
  rust/ql/integration-tests/qltest/main/functions.ql
  rust/ql/integration-tests/workspace-with-glob/steps.expected
  rust/ql/lib/codeql/files/FileSystem.qll
  rust/ql/lib/codeql/rust/elements.qll
  rust/ql/lib/codeql/rust/elements/Crate.qll
  rust/ql/lib/codeql/rust/elements/internal/CrateConstructor.qll
  rust/ql/lib/codeql/rust/elements/internal/CrateImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/LocatableImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Crate.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/SynthConstructors.qll
  rust/ql/lib/codeql/rust/internal/AstConsistency.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/src/queries/summary/SummaryStats.ql
  rust/ql/test/TestUtils.qll
  rust/ql/test/extractor-tests/crate_graph/crates.expected
  rust/ql/test/extractor-tests/crate_graph/crates.ql
  rust/ql/test/extractor-tests/crate_graph/main.rs
  rust/ql/test/extractor-tests/crate_graph/module.rs
  rust/ql/test/extractor-tests/crate_graph/modules.expected
  rust/ql/test/extractor-tests/crate_graph/modules.ql
  rust/ql/test/extractor-tests/generated/Crate/MISSING_SOURCE.txt
  rust/ql/test/extractor-tests/utf8/ast.ql
  rust/ql/test/library-tests/path-resolution/path-resolution.ql
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
  rust/schema/prelude.py
Labels: Rust

#18999 C#: Add cs/constant-condition to the CCR suite.
  csharp/ql/src/codeql-suites/csharp-ccr.qls
Labels: C#

#18977 Rust: Source and sink doc / tidy up
  rust/ql/lib/codeql/rust/Concepts.qll
  rust/ql/lib/codeql/rust/dataflow/FlowSink.qll
  rust/ql/lib/codeql/rust/dataflow/FlowSource.qll
  rust/ql/lib/codeql/rust/security/CleartextLoggingExtensions.qll
  rust/ql/lib/codeql/rust/security/SqlInjectionExtensions.qll
  rust/ql/lib/codeql/rust/security/WeakSensitiveDataHashingExtensions.qll
  rust/ql/lib/codeql/rust/security/regex/RegexInjectionExtensions.qll
  rust/ql/src/queries/summary/QuerySinkCounts.ql
  rust/ql/src/queries/summary/QuerySinks.ql
  rust/ql/src/queries/summary/Stats.qll
Labels: no-change-note-required, Rust

#18985 Rust/Swift: Add `get(Immediate)Child` predicate
  misc/codegen/templates/ql_parent.mustache
  rust/ql/.generated.list
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/internal/AstConsistency.qll
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
Labels: no-change-note-required, Rust, Swift

#18871 Python: Move min/maxParameter methods to `Function` class
  python/ql/lib/change-notes/2025-02-26-add-get-min-max-parameters-to-function-class.md
  python/ql/lib/semmle/python/Function.qll
  python/ql/lib/semmle/python/objects/ObjectAPI.qll
Labels: documentation, Python

#19005 C#: Revisit `cs/local-not-disposed` tests.
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/Class1.cs_
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/DisposalTests.dll
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/NoDisposeCallOnLocalIDisposable.cs
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/NoDisposeCallOnLocalIDisposable.expected
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/NoDisposeCallOnLocalIDisposable.qlref
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/NoDisposeCallOnLocalIDisposableBad.cs
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/options
Labels: C#

#18921 Python: Add support for forward references in unused var query
  python/ql/lib/semmle/python/Exprs.qll
  python/ql/src/Variables/UnusedModuleVariable.ql
  python/ql/src/change-notes/2025-03-04-fix-forward-annotation-fp-in-unused-global-var-query.md
  python/ql/test/query-tests/Variables/unused/variables_test.py
Labels: documentation, Python

#19009 JS: Add support for `unescape`
  javascript/ql/lib/change-notes/2025-03-13-unescape.md
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/tst.js
Labels: JS, documentation

#19001 C++: Refine `Node.asDefinition`
  cpp/ql/lib/change-notes/2025-03-13-ascertaindef.md
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/Security/CWE/CWE-079/CgiXss.ql
  cpp/ql/src/Security/CWE/CWE-114/UncontrolledProcessOperation.ql
  cpp/ql/src/Security/CWE/CWE-134/UncontrolledFormatString.ql
  cpp/ql/src/Security/CWE/CWE-170/ImproperNullTerminationTainted.ql
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticTainted.ql
Labels: C++, documentation

#19018 Rust: fix `qltest.sh` for some versions of macOS
  rust/tools/qltest.sh
Labels: Rust

#18980 Fixing BasicIntTypes to allow C Standard Integers and 'bool'
  cpp/ql/src/JPL_C/LOC-3/Rule 17/BasicIntTypes.ql
  cpp/ql/src/change-notes/2025-03-11-basic-int-types.md
  cpp/ql/test/query-tests/JPL_C/LOC-3/Rule 17/BasicIntTypes.expected
Labels: C++, documentation

#19010 C#: Increase precision of `cs/useless-gethashcode-call`.
  csharp/ql/src/Useless code/IntGetHashCode.ql
  csharp/ql/src/change-notes/2025-03-13-useless-gethashcode-call.md
  csharp/ql/test/query-tests/Useless Code/IntGetHashCode/IntGetHashCode.cs
  csharp/ql/test/query-tests/Useless Code/IntGetHashCode/IntGetHashCode.expected
  csharp/ql/test/query-tests/Useless Code/IntGetHashCode/IntGetHashCode.qlref
Labels: C#, documentation

#19014 C#: Add `cs/useless-gethashcode-call` to the CCR suite.
  csharp/ql/src/codeql-suites/csharp-ccr.qls
Labels: C#

#18632 Rust: Implement basic type inference in QL
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/consistency-queries/PathResolutionConsistency.ql
  rust/ql/consistency-queries/TypeInferenceConsistency.ql
  rust/ql/integration-tests/hello-project/summary.expected
  rust/ql/integration-tests/hello-workspace/summary.cargo.expected
  rust/ql/integration-tests/hello-workspace/summary.rust-project.expected
  rust/ql/lib/codeql/rust/controlflow/CfgNodes.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallExprBaseImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/FieldExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/GenericArgListImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/GenericParamListImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/MethodCallExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/RecordExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/RecordPatImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/StructImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/TupleStructPatImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/TypeParamImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/VariantImpl.qll
  rust/ql/lib/codeql/rust/internal/AstConsistency.qll
  rust/ql/lib/codeql/rust/internal/CachedStages.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/PathResolutionConsistency.qll
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/lib/codeql/rust/internal/TypeInferenceConsistency.qll
  rust/ql/lib/codeql/rust/internal/TypeMention.qll
  rust/ql/lib/qlpack.yml
  rust/ql/src/queries/summary/Stats.qll
  rust/ql/src/queries/summary/SummaryStats.ql
  rust/ql/test/extractor-tests/generated/Trait/Trait_getGenericParamList.expected
  rust/ql/test/extractor-tests/utf8/ast.expected
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/main.rs
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/dataflow/models/main.rs
  rust/ql/test/library-tests/dataflow/models/models.expected
  rust/ql/test/library-tests/path-resolution/CONSISTENCY/AstConsistency.expected
  rust/ql/test/library-tests/path-resolution/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/path-resolution/main.rs
  rust/ql/test/library-tests/path-resolution/path-resolution.ql
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/library-tests/type-inference/type-inference.ql
  rust/ql/test/query-tests/diagnostics/AstConsistencyCounts.expected
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
  shared/typeinference/qlpack.yml
Labels: no-change-note-required, Rust

#19007 JS: Fix bug in API graphs getPromised() missing async function returns
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/test/ApiGraphs/async-await/wrap-async-in-thunk.js
Labels: JS, no-change-note-required

#18942 C++: Refactor SSA usage in data flow.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/InvalidPointerToDereference.qll
  cpp/ql/src/Likely Bugs/Memory Management/AllocaInLoop.ql
  cpp/ql/src/Security/CWE/CWE-119/OverrunWriteProductFlow.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow-ir.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/SAMATE/TaintedPath/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/SAMATE/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/consts/NonConstantFormat.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  shared/ssa/codeql/ssa/Ssa.qll
Labels: C++, depends on internal PR, no-change-note-required

#19006 Js: Added support for `@tanstack/vue-query`
  javascript/ql/lib/change-notes/2025-03-13-tanstack-vue.md
  javascript/ql/lib/ext/tanstack.model.yml
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/frameworks/Tanstack.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXssWithResponseThreat/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXssWithResponseThreat/test.vue
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXssWithResponseThreat/testReactUseQueries.jsx
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXssWithResponseThreat/testUseQueries.vue
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXssWithResponseThreat/testUseQueries2.vue
Labels: JS, documentation

#19023 Actions: Fix typos in query names for env var injection
  actions/ql/src/Security/CWE-077/EnvPathInjectionCritical.ql
  actions/ql/src/Security/CWE-077/EnvPathInjectionMedium.ql
  actions/ql/src/Security/CWE-077/EnvVarInjectionCritical.ql
  actions/ql/src/Security/CWE-077/EnvVarInjectionMedium.ql
  actions/ql/src/change-notes/2025-03-13-environment-query-names.md
Labels: documentation, Actions

#19028 Rust: Make `Crate` a sub class of `Locatable`
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/ql/.generated.list
  rust/ql/lib/codeql/rust/elements/Crate.qll
  rust/ql/lib/codeql/rust/elements/internal/CrateImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Crate.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/extractor-tests/crate_graph/crates.expected
  rust/ql/test/extractor-tests/crate_graph/crates.ql
  rust/schema/prelude.py
Labels: Rust

#19015 Java: Fix FP in "Time-of-check time-of-use race condition" (`java/toctou-race-condition`)
  java/ql/src/Security/CWE/CWE-367/TOCTOURace.ql
  java/ql/src/change-notes/2025-03-13-fix-toctou-false-positive.md
  java/ql/test/query-tests/security/CWE-367/semmle/tests/FieldAlwaysLocked.java
  java/ql/test/query-tests/security/CWE-367/semmle/tests/FieldNotAlwaysLocked.java
  java/ql/test/query-tests/security/CWE-367/semmle/tests/TOCTOURace.expected
  java/ql/test/query-tests/security/CWE-367/semmle/tests/TOCTOURace.qlref
  java/ql/test/query-tests/security/CWE-367/semmle/tests/Test.java
Labels: documentation, Java

#19032 Docs: Remove old CodeQL training slide template
  docs/codeql/ql-training/_static-training/slides-semmle-2/end_slide.html
  docs/codeql/ql-training/_static-training/slides-semmle-2/layout.html
  docs/codeql/ql-training/_static-training/slides-semmle-2/slide.html
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/config.rb
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/hammer.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/modernizr.custom.45394.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/order.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/polyfills/classList.min.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/polyfills/dataset.min.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/polyfills/history.min.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-apollo.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-clj.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-css.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-go.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-hs.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-lisp.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-lua.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-ml.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-n.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-proto.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-scala.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-sql.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-tex.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-vb.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-vhdl.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-wiki.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-xq.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/lang-yaml.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/prettify.css
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/prettify/prettify.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/require-1.0.8.min.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/slide-controller.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/slide-deck-instantiate.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/slide-deck.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/slide-testing.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/js/slides.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/slide_config.js
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/slide_config.js_t
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/theme/css/hieroglyph.css
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/theme/css/io2013.css
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/theme/css/phone.css
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/theme/scss/_base.scss
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/theme/scss/_variables.scss
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/theme/scss/default.scss
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/theme/scss/hieroglyph.scss
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/theme/scss/io2013.scss
  docs/codeql/ql-training/_static-training/slides-semmle-2/static/theme/scss/phone.scss
  docs/codeql/ql-training/_static-training/slides-semmle-2/theme.conf
  docs/codeql/ql-training/_static-training/slides-semmle-2/title_slide.html
Labels: documentation

#19004 Rust: Extract data flow node and content into separate files
  rust/ql/lib/codeql/rust/dataflow/DataFlow.qll
  rust/ql/lib/codeql/rust/dataflow/internal/Content.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowConsistency.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/FlowSummaryImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/Node.qll
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
  rust/ql/lib/codeql/rust/internal/CachedStages.qll
  rust/ql/lib/codeql/rust/security/WeakSensitiveDataHashingExtensions.qll
  rust/ql/lib/utils/test/InlineFlowTest.qll
  rust/ql/src/queries/security/CWE-312/CleartextLogging.ql
  rust/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.ql
  rust/ql/test/library-tests/dataflow/taint/TaintFlowStep.ql
Labels: Rust

#18984 JS: Extractor handle error instead of exiting.
  javascript/extractor/src/com/semmle/js/ast/MemberExpression.java
  javascript/extractor/src/com/semmle/ts/ast/ITypeExpression.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeScriptASTConverter.java
  javascript/extractor/tests/ts/input/invalidExtends.ts
  javascript/extractor/tests/ts/output/trap/invalidExtends.ts.trap
  javascript/ql/test/library-tests/TypeScript/Types/printAst.expected
  javascript/ql/test/library-tests/TypeScript/Types/tests.expected
Labels: JS

#19027 JS: Add support for `escape`
  javascript/ql/lib/change-notes/2025-03-14-escape.md
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/string-manipulations.js
Labels: JS, documentation

#19030 C++: Fix ATL models' namespace column
  cpp/ql/lib/ext/CA2CAEX.model.yml
  cpp/ql/lib/ext/CAtlArray.model.yml
  cpp/ql/lib/ext/CAtlFile.model.yml
  cpp/ql/lib/ext/CAtlFileMappingBase.model.yml
  cpp/ql/lib/ext/CAtlList.model.yml
  cpp/ql/lib/ext/CAtlTemporaryFile.model.yml
  cpp/ql/lib/ext/CComBSTR.model.yml
  cpp/ql/lib/ext/CComSafeArray.model.yml
  cpp/ql/lib/ext/CPathT.model.yml
  cpp/ql/lib/ext/CRegKey.model.yml
  cpp/ql/lib/ext/CSimpleArray.model.yml
  cpp/ql/lib/ext/CSimpleMap.model.yml
  cpp/ql/lib/ext/CSimpleStringT.model.yml
  cpp/ql/lib/ext/CStrBufT.model.yml
  cpp/ql/lib/ext/CStringData.model.yml
  cpp/ql/lib/ext/CStringT.model.yml
  cpp/ql/lib/ext/CUrl.model.yml
  cpp/ql/lib/semmle/code/cpp/models/implementations/CA2AEX.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CAtlFile.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CAtlFileMapping.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CAtlTemporaryFile.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CComBSTR.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CPathT.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/CRegKey.qll
  cpp/ql/src/change-notes/2025-03-14-mad-atl-fix.md
  cpp/ql/test/library-tests/dataflow/source-sink-tests/atl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/atl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_mad-signatures.expected
Labels: C++, documentation

#19035 Rust: Limit `TypePath`s to at most length 10
  rust/ql/test/library-tests/type-inference/CONSISTENCY/ExtractionConsistency.expected
  rust/ql/test/library-tests/type-inference/loop/main.rs
  rust/ql/test/library-tests/type-inference/loop/options.yml
  rust/ql/test/library-tests/type-inference/type-inference.expected
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Labels: Rust

#19039 Rust: Assume in the CFG that lowercase identifiers are in fact identifiers
  rust/ql/lib/codeql/rust/controlflow/internal/Completion.qll
  rust/ql/test/library-tests/controlflow-unstable/Cfg.expected
  rust/ql/test/library-tests/controlflow/BasicBlocks.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/variables/Cfg.expected
Labels: Rust

#19038 Rust: Small type inference tweaks
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Labels: no-change-note-required, Rust

#19000 Rust: Add cleartext transmission query
  rust/ql/lib/codeql/rust/frameworks/reqwest.model.yml
  rust/ql/lib/codeql/rust/frameworks/url.model.yml
  rust/ql/lib/codeql/rust/security/CleartextTransmissionExtensions.qll
  rust/ql/lib/ext/generated/reqwest/repo-https-github.com-seanmonstar-reqwest-reqwest.model.yml
  rust/ql/src/queries/security/CWE-311/CleartextTransmission.qhelp
  rust/ql/src/queries/security/CWE-311/CleartextTransmission.ql
  rust/ql/src/queries/security/CWE-311/CleartextTransmission.rs
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/query-tests/security/CWE-020/RegexInjection.expected
  rust/ql/test/query-tests/security/CWE-311/CleartextTransmission.expected
  rust/ql/test/query-tests/security/CWE-311/CleartextTransmission.qlref
  rust/ql/test/query-tests/security/CWE-311/main.rs
  rust/ql/test/query-tests/security/CWE-311/options.yml
Labels: documentation, ready-for-doc-review, Rust

#19029 Swift: simplify `codeql` workflow
  .github/workflows/codegen.yml
  .github/workflows/swift.yml
  misc/codegen/.python-version
  swift/actions/build-and-test/action.yml
  swift/actions/database-upgrade-scripts/action.yml
  swift/actions/run-ql-tests/action.yml
  swift/actions/share-extractor-pack/action.yml
Labels: Swift

#18967 Correct modelgenerator exclusion in suite helper
  misc/suite-helpers/security-experimental-selectors.yml
Labels: no-change-note-required

#19016 C#: Add `cs/non-short-circuit` to the CCR suite.
  csharp/ql/src/codeql-suites/csharp-ccr.qls
Labels: C#

#19024 Rust: SSA: restrict mutablyBorrowed to variables with a 'mut' modifier
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
Labels: Rust

#19047 Java: add integration test for failed Gradle download
  java/ql/integration-tests/java/gradle-sample-without-wrapper-or-gradle-buildless/.gitattributes
  java/ql/integration-tests/java/gradle-sample-without-wrapper-or-gradle-buildless/.gitignore
  java/ql/integration-tests/java/gradle-sample-without-wrapper-or-gradle-buildless/build.gradle
  java/ql/integration-tests/java/gradle-sample-without-wrapper-or-gradle-buildless/diagnostics.expected
  java/ql/integration-tests/java/gradle-sample-without-wrapper-or-gradle-buildless/settings.gradle
  java/ql/integration-tests/java/gradle-sample-without-wrapper-or-gradle-buildless/source_archive.expected
  java/ql/integration-tests/java/gradle-sample-without-wrapper-or-gradle-buildless/src/main/java/com/example/App.java
  java/ql/integration-tests/java/gradle-sample-without-wrapper-or-gradle-buildless/src/test/java/com/example/AppTest.java
  java/ql/integration-tests/java/gradle-sample-without-wrapper-or-gradle-buildless/test.py
Labels: Java

#19054 Add change notes for recent Java changes
  java/ql/lib/change-notes/2025-03-18-cyclic-types.md
  java/ql/lib/change-notes/2025-03-18-gradle-fixes.md
  java/ql/lib/change-notes/2025-03-18-maven-enforcer.md
Labels: documentation, Java

#19012 JS: Make API graphs use steps from summaries
  javascript/ql/lib/ext/tanstack.model.yml
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/Contents.qll
  javascript/ql/lib/semmle/javascript/frameworks/D3.qll
  javascript/ql/lib/semmle/javascript/frameworks/Puppeteer.qll
  javascript/ql/lib/semmle/javascript/frameworks/Vuex.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  javascript/ql/lib/semmle/javascript/internal/CachedStages.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Arrays.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/ExternalAPIUsedWithUntrustedDataCustomizations.qll
  javascript/ql/src/experimental/Security/CWE-347/JWT.qll
  javascript/ql/src/experimental/semmle/javascript/Execa.qll
  javascript/ql/test/ApiGraphs/dynamic-prop-read/index.js
  javascript/ql/test/library-tests/frameworks/data/test.expected
  javascript/ql/test/library-tests/frameworks/data/test.ext.yml
  javascript/ql/test/library-tests/frameworks/data/test.js
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXssWithResponseThreat/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXssWithResponseThreat/testUseQueries.vue
Labels: JS, no-change-note-required

#18646 Java: path sanitizer for `replace`, `replaceAll`, and `matches`
  java/ql/lib/change-notes/2025-03-10-matches-replace-path-sanitizer.md
  java/ql/lib/semmle/code/java/JDK.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
  java/ql/test/library-tests/pathsanitizer/Test.java
Labels: documentation, Java

#19057 Rust: Take dependency renaming into account when extracting the crate graph
  rust/extractor/src/crate_graph.rs
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/Crate.qll
  rust/ql/lib/codeql/rust/elements/internal/CrateImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/NamedCrate.qll
  rust/ql/lib/codeql/rust/elements/internal/NamedCrateConstructor.qll
  rust/ql/lib/codeql/rust/elements/internal/NamedCrateImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Crate.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/NamedCrate.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/SynthConstructors.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/src/queries/summary/SummaryStats.ql
  rust/ql/test/TestUtils.qll
  rust/ql/test/extractor-tests/crate_graph/crates.expected
  rust/ql/test/extractor-tests/crate_graph/crates.ql
  rust/ql/test/extractor-tests/crate_graph/options.yml
  rust/schema/prelude.py
Labels: Rust

#19048 Swift: add summary about total extracted nodes
  swift/ql/src/change-notes/2025-03-18-number_of_nodes.md
  swift/ql/src/diagnostics/internal/AstNodes.ql
Labels: documentation, Swift

#19072 Rust: fix canonical paths broken on `StructExpr` and `StructPath`
  rust/extractor/src/translate/base.rs
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
Labels: Rust

#19062 Rust: Improve handling of trait bounds
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Labels: no-change-note-required, Rust

#19071 Rust: preserve ordering in rust generated code
  misc/codegen/generators/rustgen.py
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
Labels: Rust

#19069 JS: Use StringBuilder when building up type name in JSDoc
  javascript/extractor/src/com/semmle/js/parser/JSDocParser.java
Labels: JS, no-change-note-required

#19049 JS: Modeling of `underscore.string` package
  javascript/ql/lib/change-notes/2025-03-17-underscore-string.md
  javascript/ql/lib/ext/underscore.string.model.yml
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/frameworks/UnderscoreDotString.qll
  javascript/ql/test/library-tests/TripleDot/underscore.string.js
Labels: JS, documentation

#19082 Avoid CodeQL alert against integration test
  java/ql/integration-tests/java/buildless-inherit-trust-store/server.py
Labels: Java

#19084 Rust: fix crate_graph.rs
  rust/extractor/src/crate_graph.rs
Labels: Rust

#19092 Java: fix comma splice in alert message
  java/ql/src/Security/CWE/CWE-327/MaybeBrokenCryptoAlgorithm.ql
  java/ql/test/query-tests/security/CWE-327/semmle/tests/MaybeBrokenCryptoAlgorithm.expected
Labels: Java

#19050 C#: Fix buildless fallback restore logic
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/ql/src/change-notes/2025-03-21-dependency-fetching.md
Labels: C#, documentation

#19081 Rust: Adjustments to type inference
  rust/ql/lib/codeql/rust/elements/internal/FieldExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/StructImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/VariantImpl.qll
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/library-tests/type-inference/type-inference.ql
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Labels: no-change-note-required, Rust

#19051 Rust: Path resolution improvements
  rust/ql/integration-tests/hello-workspace/exe/src/main.rs
  rust/ql/integration-tests/hello-workspace/lib/src/a_module/mod.rs
  rust/ql/integration-tests/hello-workspace/path-resolution.expected
  rust/ql/integration-tests/hello-workspace/path-resolution.ql
  rust/ql/integration-tests/hello-workspace/rust-project.json
  rust/ql/integration-tests/hello-workspace/summary.cargo.expected
  rust/ql/integration-tests/hello-workspace/summary.rust-project.expected
  rust/ql/lib/codeql/rust/elements/internal/CrateImpl.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/PathResolutionConsistency.qll
  rust/ql/lib/utils/test/PathResolutionInlineExpectationsTest.qll
  rust/ql/src/queries/telemetry/RustAnalyzerComparison.qll
  rust/ql/test/extractor-tests/canonical_path/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/extractor-tests/canonical_path_disabled/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/path-resolution/main.rs
  rust/ql/test/library-tests/path-resolution/my2/mod.rs
  rust/ql/test/library-tests/path-resolution/my2/my3/mod.rs
  rust/ql/test/library-tests/path-resolution/my2/nested2.rs
  rust/ql/test/library-tests/path-resolution/path-resolution.expected
  rust/ql/test/library-tests/path-resolution/path-resolution.ql
Labels: Rust

#19101 Rust: accept test changes for now
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
Labels: Rust

#19097 Docs: add guidance for `previous-id` metadata
  docs/codeql/writing-codeql-queries/metadata-for-codeql-queries.rst
  docs/query-metadata-style-guide.md
Labels: documentation

#19091 JS: `got` package modeling
  javascript/ql/lib/change-notes/2025-03-24-got-package.md
  javascript/ql/lib/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Labels: JS, documentation

#19088 Go: Add database source models for the github.com/couchbase/gocb package (#2)
  go/ql/lib/change-notes/2025-03-03-couchbase-source-models.md
  go/ql/lib/ext/github.com.couchbase.gocb.model.yml
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/go.mod
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/test_beego_orm.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/test_couchbase_gocb_v1.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/test_couchbase_gocb_v2.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/test_gorm.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/test_jmoiron_sqlx.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/beego/beego/v2/client/orm/stub.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/couchbase/gocb/stub.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/couchbase/gocb/v2/stub.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/jmoiron/sqlx/conn.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/jmoiron/sqlx/db.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/jmoiron/sqlx/namedstmt.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/jmoiron/sqlx/row.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/jmoiron/sqlx/rows.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/jmoiron/sqlx/stmt.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/jmoiron/sqlx/stub.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/jmoiron/sqlx/tx.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/gorm.io/gorm/stub.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/modules.txt
Labels: documentation, Go

#19053 Go: Fix false positives when logging using `%T`
  go/ql/lib/semmle/go/Concepts.qll
  go/ql/lib/semmle/go/security/CleartextLoggingCustomizations.qll
  go/ql/lib/semmle/go/security/LogInjectionCustomizations.qll
  go/ql/src/Security/CWE-352/ConstantOauth2State.ql
  go/ql/src/change-notes/2025-03-20-logging-false-positive-type-format-specifier.md
  go/ql/test/library-tests/semmle/go/concepts/LoggerCall/LoggerCall.ql
  go/ql/test/library-tests/semmle/go/concepts/LoggerCall/glog.go
  go/ql/test/library-tests/semmle/go/concepts/LoggerCall/logrus.go
  go/ql/test/library-tests/semmle/go/concepts/LoggerCall/main.go
  go/ql/test/library-tests/semmle/go/concepts/LoggerCall/stdlib.go
  go/ql/test/query-tests/Security/CWE-117/LogInjection.go
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.qlref
  go/ql/test/query-tests/Security/CWE-312/klog.go
  go/ql/test/query-tests/Security/CWE-312/main.go
  go/ql/test/query-tests/Security/CWE-312/overrides.go
  go/ql/test/query-tests/Security/CWE-312/passwords.go
  go/ql/test/query-tests/Security/CWE-312/protobuf.go
Labels: documentation, Go

#19079 CI: Add RTJO tests for Go and Ruby
  .github/workflows/go-tests-rtjo.yml
  .github/workflows/ruby-qltest-rtjo.yml
  go/Makefile
  go/actions/test/action.yml
Labels: Go

#19085 Fix potentially privileged pull request medium query
  actions/ql/lib/change-notes/2025-03-20.md
  actions/ql/lib/ext/config/context_event_map.yml
  actions/ql/lib/ext/config/externally_triggereable_events.yml
  actions/ql/test/query-tests/Security/CWE-094/CodeInjectionCritical.expected
  actions/ql/test/query-tests/Security/CWE-094/CodeInjectionMedium.expected
Labels: documentation, Actions

#19070 C#: Update CompLog dependency to 0.9.8
  csharp/paket.dependencies
  csharp/paket.lock
  csharp/paket.main.bzl
Labels: C#

#19110 Rust: accept test changes for now
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
Labels: Rust

#19067 Rust: Add a couple of test cases for data flow through conversions
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
Labels: Rust

#19106 Rust: Add reverse post-update flow steps
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowConsistency.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/Node.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/main.rs
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/taint/TaintFlowStep.expected
Labels: Rust

#18947 Java: Add new quality query to detect empty methods
  java/ql/lib/semmle/code/java/UnitTests.qll
  java/ql/src/Language Abuse/EmptyMethod.md
  java/ql/src/Language Abuse/EmptyMethod.ql
  java/ql/src/change-notes/2025-03-10-empty-method.md
  java/ql/src/experimental/Security/CWE/CWE-489/TestLib.qll
  java/ql/test/query-tests/EmptyMethod/Class1.java
  java/ql/test/query-tests/EmptyMethod/EmptyMethod.expected
  java/ql/test/query-tests/EmptyMethod/EmptyMethod.qlref
  java/ql/test/query-tests/EmptyMethod/Test.java
  java/ql/test/query-tests/EmptyMethod/options
  java/ql/test/stubs/aspectj/LICENSE.txt
  java/ql/test/stubs/aspectj/org/aspectj/lang/annotation/Pointcut.java
Labels: documentation, Java, ready-for-doc-review

#18974 Rename the CCR query suite to code-quality
  actions/ql/src/codeql-suites/actions-code-quality.qls
  cpp/ql/src/codeql-suites/cpp-code-quality.qls
  csharp/ql/src/codeql-suites/csharp-code-quality.qls
  go/ql/src/codeql-suites/go-code-quality.qls
  java/ql/src/codeql-suites/java-code-quality.qls
  javascript/ql/src/codeql-suites/javascript-code-quality.qls
  misc/scripts/generate-code-scanning-query-list.py
  python/ql/src/codeql-suites/python-code-quality.qls
  ruby/ql/src/codeql-suites/ruby-code-quality.qls
  rust/ql/src/codeql-suites/rust-code-quality.qls
  swift/ql/src/codeql-suites/swift-code-quality.qls
Labels: C#, JS, C++, Java, Python, Go, Ruby, Rust, Swift, Actions

#19114 C#: Correct printing of returns via out/ref parameters in model generation.
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
Labels: C#, no-change-note-required

#18960 Rust: TaintedPath query
  python/ql/lib/semmle/python/Concepts.qll
  rust/ql/integration-tests/hello-project/summary.expected
  rust/ql/integration-tests/hello-workspace/summary.cargo.expected
  rust/ql/integration-tests/hello-workspace/summary.rust-project.expected
  rust/ql/lib/codeql/rust/Concepts.qll
  rust/ql/lib/codeql/rust/Frameworks.qll
  rust/ql/lib/codeql/rust/dataflow/DataFlow.qll
  rust/ql/lib/codeql/rust/dataflow/internal/Content.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/FlowSummaryImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
  rust/ql/lib/codeql/rust/frameworks/Poem.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/fs.model.yml
  rust/ql/lib/codeql/rust/security/TaintedPathExtensions.qll
  rust/ql/src/queries/security/CWE-022/TaintedPath.qhelp
  rust/ql/src/queries/security/CWE-022/TaintedPath.ql
  rust/ql/src/queries/security/CWE-022/examples/TaintedPath.rs
  rust/ql/src/queries/security/CWE-022/examples/TaintedPathGoodFolder.rs
  rust/ql/src/queries/security/CWE-022/examples/TaintedPathGoodNormalize.rs
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
  rust/ql/test/query-tests/security/CWE-020/RegexInjection.expected
  rust/ql/test/query-tests/security/CWE-022/TaintedPath.expected
  rust/ql/test/query-tests/security/CWE-022/TaintedPath.qlref
  rust/ql/test/query-tests/security/CWE-022/TaintedPathSinks.expected
  rust/ql/test/query-tests/security/CWE-022/TaintedPathSinks.ql
  rust/ql/test/query-tests/security/CWE-022/options.yml
  rust/ql/test/query-tests/security/CWE-022/rust-toolchain.toml
  rust/ql/test/query-tests/security/CWE-022/src/main.rs
Labels: documentation, Python, no-change-note-required, ready-for-doc-review, Rust

#18850 C#: Automatically use configured private registry feeds
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependabotProxy.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/EnvironmentVariableNames.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/extractor/Semmle.Extraction.Tests/DotNet.cs
  csharp/ql/integration-tests/all-platforms/standalone_resx/CompilationInfo.expected
  csharp/ql/integration-tests/all-platforms/standalone_winforms/CompilationInfo.expected
Labels: C#

#19099 JS: Added support for missing `axios` methods
  javascript/ql/lib/change-notes/2025-03-24-axios-additional-methods.md
  javascript/ql/lib/ext/axios.model.yml
  javascript/ql/lib/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXssWithResponseThreat/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXssWithResponseThreat/interceptors.js
  javascript/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
  javascript/ql/test/query-tests/Security/CWE-918/axiosInterceptors.serverSide.js
Labels: JS, documentation

#19129 JS: Add support for `async` `readFile`
  javascript/ql/lib/change-notes/2025-03-26-async-fileRead.md
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/query-tests/Security/CWE-200/FileAccessToHttp.expected
  javascript/ql/test/query-tests/Security/CWE-200/FileAccessToHttp.js
Labels: JS, documentation

#19130 Rust: Implement toString on type aliases and add docs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/GenericParamList.qll
  rust/ql/lib/codeql/rust/elements/TypeAlias.qll
  rust/ql/lib/codeql/rust/elements/internal/GenericParamListImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/TypeAliasImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/GenericParamList.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/TypeAlias.qll
  rust/ql/test/extractor-tests/generated/.generated_tests.list
  rust/ql/test/extractor-tests/generated/GenericParamList/GenericParamList.expected
  rust/ql/test/extractor-tests/generated/GenericParamList/GenericParamList_getGenericParam.expected
  rust/ql/test/extractor-tests/generated/GenericParamList/gen_generic_param_list.rs
  rust/ql/test/extractor-tests/generated/Trait/AssocItemList_getAssocItem.expected
  rust/ql/test/extractor-tests/generated/TypeAlias/TypeAlias.expected
  rust/ql/test/extractor-tests/generated/TypeAlias/TypeAlias_getName.expected
  rust/ql/test/extractor-tests/generated/TypeAlias/TypeAlias_getTypeRepr.expected
  rust/ql/test/extractor-tests/generated/TypeAlias/gen_type_alias.rs
  rust/ql/test/library-tests/path-resolution/path-resolution.expected
  rust/schema/annotations.py
Labels: Rust

#19124 JS: Support for newer version of `Hapi` - `@hapi/hapi`
  javascript/ql/lib/change-notes/2025-03-26-Hapi.md
  javascript/ql/lib/semmle/javascript/frameworks/Hapi.qll
  javascript/ql/test/library-tests/frameworks/hapi/src/hapihapi.js
  javascript/ql/test/library-tests/frameworks/hapi/tests.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/hapi.js
Labels: JS, documentation

#19090 Go: Add `database` source models for the `squirrel` package (#2)
  go/ql/lib/change-notes/2025-03-02-squirrel-source-models.md
  go/ql/lib/ext/github.com.masterminds.squirrel.model.yml
  go/ql/lib/go.qll
  go/ql/lib/semmle/go/frameworks/Squirrel.qll
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/go.mod
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/source.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/test.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/test_Masterminds_squirrel.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/Masterminds/squirrel/stub.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/nonexistent/sources/stub.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/modules.txt
Labels: documentation, Go

#19128 C#: Make `getPreUpdateNode` Unique Again
  csharp/ql/consistency-queries/DataFlowConsistency.ql
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
Labels: C#, no-change-note-required

#19139 Rust: fix CleartextLogging query
  rust/ql/lib/codeql/rust/frameworks/log.model.yml
  rust/ql/test/query-tests/security/CWE-020/RegexInjection.expected
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
Labels: Rust

#19132 JS: Add GuardedRouteHandler access path component
  docs/codeql/codeql-language-guides/customizing-library-models-for-javascript.rst
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  javascript/ql/test/library-tests/frameworks/data/guardedRouteHandler.js
  javascript/ql/test/library-tests/frameworks/data/test.expected
  javascript/ql/test/library-tests/frameworks/data/test.ext.yml
Labels: JS, documentation, no-change-note-required

#19087 C++: Add QL Tests for Multiline Directive Support
  cpp/ql/test/library-tests/preprocessor/preprocessor/pp.cpp
  cpp/ql/test/library-tests/preprocessor/preprocessor/preproc.expected
Labels: C++, depends on internal PR

#19123 Rust: Also resolve `crate` paths in non-source files
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
Labels: Rust

#19044 Ssa: Trim the use-use relation to skip irrelevant nodes
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow-ir.expected
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  java/ql/lib/semmle/code/java/dataflow/internal/SsaImpl.qll
  java/ql/test/library-tests/dataflow/capture/test.expected
  java/ql/test/library-tests/dataflow/null/testnullflow.expected
  java/ql/test/library-tests/dataflow/partial/test.expected
  java/ql/test/library-tests/dataflow/partial/testRev.expected
  java/ql/test/library-tests/dataflow/switchexpr/switchexprflow.expected
  java/ql/test/library-tests/dataflow/taint-ioutils/dataFlow.expected
  java/ql/test/library-tests/dataflow/this-flow/this-flow.expected
  javascript/ql/lib/semmle/javascript/dataflow/internal/sharedlib/Ssa.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  shared/ssa/codeql/ssa/Ssa.qll
Labels: C#, JS, C++, Java, no-change-note-required, Ruby, Rust

#19144 C++: Escape any `$` - specifically in `$@` - coming from error messages
  cpp/ql/src/Diagnostics/ExtractionWarnings.ql
  cpp/ql/src/Diagnostics/Internal/ExtractionErrors.ql
  cpp/ql/test/query-tests/Diagnostics/ExtractionErrors.expected
  cpp/ql/test/query-tests/Diagnostics/ExtractionWarnings.expected
  cpp/ql/test/query-tests/Diagnostics/Info.expected
  cpp/ql/test/query-tests/Diagnostics/containserror.cpp
Labels: C++, no-change-note-required

#19102 Shared, type inference: Add inference for type parameters with constraints (base type mentions)
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Labels: no-change-note-required, Rust

#18845 Python: Modernize File Not Always Closed query
  python/ql/src/Resources/FileNotAlwaysClosed.py
  python/ql/src/Resources/FileNotAlwaysClosed.qhelp
  python/ql/src/Resources/FileNotAlwaysClosed.ql
  python/ql/src/Resources/FileNotAlwaysClosedQuery.qll
  python/ql/src/Resources/FileOpen.qll
  python/ql/src/Resources/examples/FileNotAlwaysClosed.py
  python/ql/test/query-tests/Resources/Dataflow.expected
  python/ql/test/query-tests/Resources/Dataflow.ql
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed.expected
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed.qlref
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed/resources_test.py
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed/test.expected
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed/test.ql
Labels: documentation, Python, no-change-note-required

#19122 C#: Blazor: Add non-local jump node for parameter passing
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/DotnetSourceGeneratorWrapper/DotnetSourceGeneratorWrapper.cs
  csharp/ql/integration-tests/all-platforms/blazor/BlazorTest/Components/Pages/TestPage.razor
  csharp/ql/integration-tests/all-platforms/blazor/XSS.expected
  csharp/ql/integration-tests/all-platforms/blazor/XSS.qlref
  csharp/ql/integration-tests/all-platforms/blazor_build_mode_none/BlazorTest/Components/Pages/TestPage.razor
  csharp/ql/integration-tests/all-platforms/blazor_build_mode_none/XSS.expected
  csharp/ql/integration-tests/all-platforms/blazor_build_mode_none/XSS.qlref
  csharp/ql/integration-tests/all-platforms/blazor_net_8/BlazorTest/Components/Pages/TestPage.razor
  csharp/ql/integration-tests/all-platforms/blazor_net_8/XSS.expected
  csharp/ql/integration-tests/all-platforms/blazor_net_8/XSS.qlref
  csharp/ql/lib/change-notes/2025-03-26-blazor-parameter-passing.md
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/microsoft/aspnetcore/Components.qll
  csharp/ql/test/library-tests/frameworks/microsoft/aspnetcore/blazor/Name.cs
  csharp/ql/test/library-tests/frameworks/microsoft/aspnetcore/blazor/NameList.cs
  csharp/ql/test/library-tests/frameworks/microsoft/aspnetcore/blazor/Xss.expected
  csharp/ql/test/library-tests/frameworks/microsoft/aspnetcore/blazor/Xss.qlref
  csharp/ql/test/library-tests/frameworks/microsoft/aspnetcore/blazor/remoteFlowSource.expected
Labels: C#, documentation

#18956 Python: Modernize special method query
  python/ql/src/Functions/SignatureSpecialMethods.ql
  python/ql/src/change-notes/2025-03-20-modernize-special-method-wrong-signature-query.md
  python/ql/test/query-tests/Functions/general/SignatureSpecialMethods.expected
  python/ql/test/query-tests/Functions/general/om_test.py
Labels: documentation, Python

#19113 Rust: crate_graph: generate 'use' statements for re-exported items
  rust/extractor/src/crate_graph.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/internal/UseImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/UseTreeImpl.qll
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
  rust/ql/test/extractor-tests/canonical_path_disabled/canonical_paths.expected
  rust/ql/test/extractor-tests/crate_graph/module.rs
  rust/ql/test/extractor-tests/crate_graph/modules.expected
  rust/ql/test/extractor-tests/generated/MacroItems/CONSISTENCY/AstConsistency.expected
  rust/ql/test/extractor-tests/generated/MacroItems/MacroItems_getItem.expected
  rust/ql/test/extractor-tests/generated/UseTree/UseTree.expected
  rust/ql/test/extractor-tests/generated/UseTree/UseTree_getPath.expected
  rust/ql/test/extractor-tests/generated/UseTree/UseTree_getRename.expected
  rust/ql/test/extractor-tests/generated/UseTree/UseTree_getUseTreeList.expected
Labels: Rust

#19147 Ssa: Refactor data flow integration to make the input signature simpler
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowNodes.qll
  java/ql/lib/semmle/code/java/dataflow/internal/SsaImpl.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/sharedlib/Ssa.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  shared/ssa/codeql/ssa/Ssa.qll
Labels: C#, JS, C++, Java, no-change-note-required, Ruby, Rust

#19117 JavaScript: Add support for indexing additional SAP related JSON files
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/tests/ui5/input/test.view.json
  javascript/extractor/tests/ui5/output/trap/test.view.json.trap
  javascript/extractor/tests/xsjs/input/.xsaccess
  javascript/extractor/tests/xsjs/input/xs-app.json
  javascript/extractor/tests/xsjs/output/trap/.xsaccess.trap
  javascript/extractor/tests/xsjs/output/trap/xs-app.json.trap
Labels: JS

#19118 JS: support `hana` db client
  javascript/ql/lib/change-notes/2025-03-26-hana-db-client.md
  javascript/ql/lib/ext/hana-db-client.model.yml
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/hana.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/hana.js
Labels: JS, documentation

#19093 Java: Adjust caching of BasicBlocks, BaseSSA, and CompileTimeConstants
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/controlflow/BasicBlocks.qll
  java/ql/lib/semmle/code/java/dataflow/internal/BaseSSA.qll
  java/ql/lib/semmle/code/java/environment/SystemProperty.qll
Labels: Java, no-change-note-required

#19063 Codegen: add `ql.db_table_name` property pragma
  .bazelrc
  .bazelrc.internal
  MODULE.bazel
  misc/codegen/.python-version
  misc/codegen/generators/cppgen.py
  misc/codegen/generators/dbschemegen.py
  misc/codegen/generators/qlgen.py
  misc/codegen/generators/rustgen.py
  misc/codegen/lib/schemadefs.py
  misc/codegen/requirements_lock.txt
  misc/codegen/test/test_cppgen.py
  misc/codegen/test/test_dbschemegen.py
  misc/codegen/test/test_qlgen.py
  misc/codegen/test/test_schemaloader.py
  rust/ast-generator/src/main.rs
  rust/extractor/src/crate_graph.rs
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/translate/generated.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/internal/PathImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Path.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/frameworks/rustcrypto/RustCrypto.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/lib/codeql/rust/internal/TypeMention.qll
  rust/ql/lib/codeql/rust/security/regex/RegexInjectionExtensions.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/extractor-tests/generated/Path/Path.expected
  rust/ql/test/extractor-tests/generated/Path/Path.ql
  rust/ql/test/extractor-tests/generated/Path/Path_getSegment.expected
  rust/ql/test/extractor-tests/generated/Path/Path_getSegment.ql
  rust/schema/annotations.py
  rust/schema/ast.py
Labels: Rust

#19152 Java buildless: add buildless-maven variant with a wildcard mirrorOf spec
  java/ql/integration-tests/java/buildless-maven-mirrorof/buildless-fetches.expected
  java/ql/integration-tests/java/buildless-maven-mirrorof/diagnostics.expected
  java/ql/integration-tests/java/buildless-maven-mirrorof/maven-fetches.expected
  java/ql/integration-tests/java/buildless-maven-mirrorof/pom.xml
  java/ql/integration-tests/java/buildless-maven-mirrorof/settings-xml.expected
  java/ql/integration-tests/java/buildless-maven-mirrorof/settings.xml
  java/ql/integration-tests/java/buildless-maven-mirrorof/source_archive.expected
  java/ql/integration-tests/java/buildless-maven-mirrorof/src/main/java/com/example/App.java
  java/ql/integration-tests/java/buildless-maven-mirrorof/src/main/resources/my-app.properties
  java/ql/integration-tests/java/buildless-maven-mirrorof/src/main/resources/page.xml
  java/ql/integration-tests/java/buildless-maven-mirrorof/src/main/resources/struts.xml
  java/ql/integration-tests/java/buildless-maven-mirrorof/src/test/java/com/example/AppTest.java
  java/ql/integration-tests/java/buildless-maven-mirrorof/test.py
Labels: Java

#19168 Actions: rename changenote file
  actions/ql/lib/change-notes/2025-03-20-code-injection-pr.md
Labels: documentation, Actions

#19169 Javascript, add missing `*` to changenote
  javascript/ql/lib/change-notes/2025-03-24-axios-additional-methods.md
Labels: JS, documentation
