Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-go, @github/codeql-java, @github/codeql-dynamic, @github/codeql-swift, @github/codeql-kotlin, @github/codeql-ml-powered-queries-reviewers, @github/codeql-cli-reviewers, @github/codeql-vscode-reviewers, @github/codeql-frontend-reviewers, @github/codeql-analysis-reviewers, @github/codeql-ql-for-ql-reviewers, @github/codeql-ci-reviewers, @github/code-scanning-product, @github/codeql-ruby

C++: Disable standard order for 'fwdFlow' in stage 1 of dataflow.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
Owners: @github/codeql-c-analysis

DataFlow: Sync identical files.
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-go, @github/codeql-java, @github/codeql-dynamic, @github/codeql-swift

python: add test for captured variables this illustrates that the function implementing the comprehension does not capture `mod_local`.
  python/ql/test/experimental/dataflow/variable-capture/collections.py
Owners: @github/codeql-dynamic

Swift: Add a few more test cases for sensitive data.
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testCoreData2.swift
Owners: @github/codeql-swift

Ruby: lower severity of parse error to warning
  ruby/extractor/src/extractor.rs
  ruby/ql/integration-tests/all-platforms/diagnostics/syntax-error/diagnostics.expected
  ruby/ql/lib/change-notes/2023-03-09-parse-error.md
  ruby/ql/lib/codeql/ruby/Diagnostics.qll
Owners: @github/codeql-dynamic

Ruby: fix comment
  ruby/extractor/src/diagnostics.rs
Owners: @github/codeql-dynamic

Testing update
  cpp/LeaveMeHere.txt
Owners: @github/codeql-c-analysis

Python: Use new parameter position for synthetic `**kwargs` instead
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Owners: @github/codeql-dynamic

The source name of a diagnostic should not change
  go/extractor/diagnostics/diagnostics.go
  go/ql/integration-tests/all-platforms/go/diagnostics/build-constraints-exclude-all-go-files/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-with-go-mod/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-without-go-mod/diagnostics.expected
Owners: @github/codeql-go

Ruby: Use new parameter position for synthetic hash-splat instead
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Owners: @github/codeql-dynamic

C++: C++: Use `getAUse` in `getIRRepresentationOfIndirectOperand`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
Owners: @github/codeql-c-analysis

Python: Use _one_ parameter position for normal parameters
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImplSpecific.qll
  python/ql/test/experimental/dataflow/TestUtil/DataFlowConsistency.qll
Owners: @github/codeql-dynamic

Python: Remove solved consistency work-around
  python/ql/test/experimental/dataflow/TestUtil/DataFlowConsistency.qll
Owners: @github/codeql-dynamic

C++: Severely restrict the set of sinks in 'cpp/cleartext-storage-database'. This reduces the number of sinks considered on the 'sysown/proxysql' from > 62000 sinks to ~1000 sinks.
  cpp/ql/src/Security/CWE/CWE-313/CleartextSqliteDatabase.ql
Owners: @github/codeql-c-analysis

Update docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp.rst
Owners: none

C++: No need for 'matches'.
  cpp/ql/src/Security/CWE/CWE-313/CleartextSqliteDatabase.ql
Owners: @github/codeql-c-analysis

Remove unused imports
  java/ql/lib/semmle/code/java/security/ArbitraryApkInstallationQuery.qll
Owners: @github/codeql-java

Refactor to module api for PathNodes
  java/ql/src/Security/CWE/CWE-094/ArbitraryApkInstallation.ql
Owners: @github/codeql-java

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/go/ @github/codeql-go
/java/ @github/codeql-java
/javascript/ @github/codeql-dynamic
/python/ @github/codeql-dynamic
/ruby/ @github/codeql-dynamic
/swift/ @github/codeql-swift
/misc/codegen/ @github/codeql-swift
/java/kotlin-extractor/ @github/codeql-kotlin
/java/kotlin-explorer/ @github/codeql-kotlin

# ML-powered queries
/javascript/ql/experimental/adaptivethreatmodeling/ @github/codeql-ml-powered-queries-reviewers

# CodeQL tools and associated docs
/docs/codeql/codeql-cli/ @github/codeql-cli-reviewers
/docs/codeql/codeql-for-visual-studio-code/ @github/codeql-vscode-reviewers
/docs/codeql/ql-language-reference/ @github/codeql-frontend-reviewers
/docs/query-*-style-guide.md @github/codeql-analysis-reviewers

# QL for QL reviewers
/ql/ @github/codeql-ql-for-ql-reviewers

# Bazel (excluding BUILD.bazel files)
WORKSPACE.bazel @github/codeql-ci-reviewers
.bazelversion @github/codeql-ci-reviewers
.bazelrc @github/codeql-ci-reviewers
**/*.bzl @github/codeql-ci-reviewers

# Documentation etc
/*.md @github/code-scanning-product
/LICENSE @github/code-scanning-product

# Workflows
/.github/workflows/ @github/codeql-ci-reviewers
/.github/workflows/atm-* @github/codeql-ml-powered-queries-reviewers
/.github/workflows/go-* @github/codeql-go
/.github/workflows/js-ml-tests.yml @github/codeql-ml-powered-queries-reviewers
/.github/workflows/ql-for-ql-* @github/codeql-ql-for-ql-reviewers
/.github/workflows/ruby-* @github/codeql-ruby
/.github/workflows/swift.yml @github/codeql-swift
