Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CPP: Add tests of taint through qualifiers.
  cpp/ql/test/library-tests/dataflow/taint-tests/TaintTestCommon.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

CPP: Slight rearrange.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
Owners: @Semmle/cpp-analysis

C++: Some data flow through partial chi operands
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

CPP: Support taint flow to qualifiers.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

CPP: Support taint flow from qualifiers.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

CPP: Allow flow to return value.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

Python: Extend `Value` API.
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Add check for disabled CSRF protection in Spring
  java/ql/src/Security/CWE/CWE-352/SpringCSRFProtection.qhelp
  java/ql/src/Security/CWE/CWE-352/SpringCSRFProtection.ql
Owners: @felicitymay, @Semmle/java

Query to detect LDAP injections in Java
  java/ql/src/Security/CWE/CWE-90/LdapInjection.ql
Owners: @Semmle/java

Fix typo.
  ql/src/semmle/go/controlflow/IR.qll
Owners: none

Add explanatory comment.
  ql/src/semmle/go/dataflow/internal/DataFlowPrivate.qll
Owners: none

C++: Add test demonstrating a flow not detected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dispatch.cpp
Owners: @Semmle/cpp-analysis

C++: Added union field flow for globals
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
Owners: @Semmle/cpp-analysis

C++: Accepted output on tests
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

CPP: Autoformat.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
Owners: @Semmle/cpp-analysis

Java: Add change note.
  change-notes/1.24/analysis-java.md
Owners: none

C#: sync-indentical-files.
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Owners: @Semmle/cs

Python: Modernise injection security libraries.
  python/ql/src/semmle/python/security/injection/Command.qll
  python/ql/src/semmle/python/security/injection/Exec.qll
  python/ql/src/semmle/python/security/injection/Marshal.qll
  python/ql/src/semmle/python/security/injection/Path.qll
  python/ql/src/semmle/python/security/injection/Pickle.qll
  python/ql/src/semmle/python/security/injection/Sql.qll
  python/ql/src/semmle/python/security/injection/Xml.qll
  python/ql/src/semmle/python/security/injection/Yaml.qll
  python/ql/test/library-tests/web/django/Sinks.expected
  python/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
Owners: @Semmle/python

C++: Merge the OverflowStatic tests.
  cpp/ql/test/query-tests/Critical/OverflowStatic/OverflowStatic.expected
  cpp/ql/test/query-tests/Critical/OverflowStatic/test2.c
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/OverflowStatic/OverflowStatic.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/OverflowStatic/OverflowStatic.qlref
Owners: @Semmle/cpp-analysis

C++: Merge the StrncpyFlippedArgs tests.
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/StrncpyFlippedArgs/StrncpyFlippedArgs.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/StrncpyFlippedArgs/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/StrncpyFlippedArgs/StrncpyFlippedArgs.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/StrncpyFlippedArgs/StrncpyFlippedArgs.qlref
Owners: @Semmle/cpp-analysis

C++: Move the SuspiciousCallToStrncat test to the expected location.
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/SuspiciousCallToStrncat/SuspiciousCallToStrncat.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/SuspiciousCallToStrncat/SuspiciousCallToStrncat.qlref
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/SuspiciousCallToStrncat/test.c
Owners: @Semmle/cpp-analysis

C++: Merge two tests of UnusedStaticFunctions from the library-tests into the existing test in query-test.
  cpp/ql/test/library-tests/functions/unused/unused_functions.expected
  cpp/ql/test/library-tests/functions/unused/unused_functions.qlref
  cpp/ql/test/library-tests/functions/unused_mut/unused_mut.expected
  cpp/ql/test/library-tests/functions/unused_mut/unused_mut.qlref
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedStaticFunctions/UnusedStaticFunctions.expected
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedStaticFunctions/unused_functions.c
  cpp/ql/test/query-tests/Best Practices/Unused Entities/UnusedStaticFunctions/unused_mut.c
Owners: @Semmle/cpp-analysis

C++: Move a test from library-tests to query-tests.
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UnsafeUseOfStrcat/strcat.c
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UnsafeUseOfStrcat/strcat.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UnsafeUseOfStrcat/strcat.qlref
Owners: @Semmle/cpp-analysis

C++: Rename test of the now un-deprecated StackVariableReachability.
  cpp/ql/test/library-tests/stack_variable_reachability/stackVariableReachability.c
  cpp/ql/test/library-tests/stack_variable_reachability/stackVariableReachability.expected
  cpp/ql/test/library-tests/stack_variable_reachability/stackVariableReachability.ql
Owners: @Semmle/cpp-analysis

Update change-notes/1.24/analysis-java.md
  change-notes/1.24/analysis-java.md
Owners: none

C++: Remove parameter from predicate for some tiny performance benefits
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
Owners: @Semmle/cpp-analysis

TS: Only require SCRATCH_DIR when installing dependencies
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Owners: @Semmle/js

Java/C++/C#: Remove the deprecated hasFlowForward/hasFlowBackward.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

CPP: Model strndup.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strdup.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

JS: Sharpen missing CSRF middleware query
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
Owners: @Semmle/js

JS: Add test and dont check predecessors
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddleware.expected
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddlewareBad.js
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddlewareGood.js
  javascript/ql/test/query-tests/Security/CWE-352/csurf_api_example.js
  javascript/ql/test/query-tests/Security/CWE-352/csurf_example.js
  javascript/ql/test/query-tests/Security/CWE-352/lusca_example.js
  javascript/ql/test/query-tests/Security/CWE-352/unused_cookies.js
Owners: @Semmle/js

JS: Ignore calls and csrf/captcha access
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
  javascript/ql/test/query-tests/Security/CWE-352/unused_cookies.js
Owners: @Semmle/js

C#: Fix outputting floats to the trap file. In some locales, the extractor output invalid floating point values to the trap file.
  csharp/extractor/Semmle.Extraction/TrapExtensions.cs
Owners: @Semmle/cs

TS: Be compatible with odasa/qltest
  javascript/extractor/lib/typescript/src/virtual_source_root.ts
Owners: @Semmle/js

CPP: Autoformat.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strdup.qll
Owners: @Semmle/cpp-analysis

C++: Test to show lack of flow to crement operands
  cpp/ql/test/library-tests/dataflow/crement/crements.cpp
  cpp/ql/test/library-tests/dataflow/crement/from0.expected
  cpp/ql/test/library-tests/dataflow/crement/from0.ql
Owners: @Semmle/cpp-analysis

C++: Put a little bit of content in the StackVariableReachability test.
  cpp/ql/test/library-tests/stack_variable_reachability/StackVariableReachabilityWithReassignment.expected
  cpp/ql/test/library-tests/stack_variable_reachability/StackVariableReachabilityWithReassignment.ql
  cpp/ql/test/library-tests/stack_variable_reachability/stackVariableReachability.c
Owners: @Semmle/cpp-analysis

CPP: Better location for the StackVariableReachability test.
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/StackVariableReachabilityWithReassignment.expected
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/StackVariableReachabilityWithReassignment.ql
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/stackVariableReachability.c
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/stackVariableReachability.expected
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/stackVariableReachability.ql
Owners: @Semmle/cpp-analysis

changes based on review
  javascript/ql/src/semmle/javascript/frameworks/WebSocket.qll
Owners: @Semmle/js

Query to detect LDAP injections in Java
  java/ql/src/Security/CWE/CWE-90/LdapInjection.ql
  java/ql/src/Security/CWE/CWE-90/LdapInjectionLib.qll
Owners: @Semmle/java

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
