Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

C++: Add testcase demonstrating unexpectly different value numbers
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/test.cpp
Owners: @Semmle/cpp-analysis

C++/C#: Sync identical files
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++: Accept output
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Owners: @Semmle/cpp-analysis

C++: Update test annotations and accept output
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/GlobalValueNumbering.expected
  cpp/ql/test/query-tests/Likely Bugs/RedundantNullCheckSimple/RedundantNullCheckSimple.cpp
  cpp/ql/test/query-tests/Likely Bugs/RedundantNullCheckSimple/RedundantNullCheckSimple.expected
Owners: @Semmle/cpp-analysis

C++: Add comment explaining buggy value number
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/test.cpp
Owners: @Semmle/cpp-analysis

update expected output of TaintedPath tests
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/tainted-string-steps.js
Owners: @Semmle/js

Java: Fix .expected
  java/ql/test/library-tests/dataflow/taint-ioutils/dataFlow.expected
Owners: @Semmle/java

C++: New autoformat.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

C++: Remove commented entries.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

C++: Add 'strlen' back.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
Owners: @Semmle/cpp-analysis

C++: Remove single argument functions.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
Owners: @Semmle/cpp-analysis

C++: Update comment.
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/test.cpp
Owners: @Semmle/cpp-analysis

C++: Emulate old security library's use of predictable more accurately.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

C++: Post-merge fix.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

C++: Interaction with another PR.
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
Owners: @Semmle/cpp-analysis

C++: Rename CongruentCopyInstructionTotal to LoadTotalOverlapInstruction and extend LoadInstruction instead of CopyInstruction
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++/C#: Sync identical files
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

JS: Fix join ordering
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
Owners: @Semmle/js

Python: Fix typo (trakcing => tracking)
  python/ql/src/semmle/python/web/django/Response.qll
Owners: @Semmle/python

JS: Bump extractor version string
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Owners: @Semmle/js

add dataflow barrier for if(xrandr)
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
Owners: @Semmle/js

Python: Clean up six tests
  python/ql/test/2/library-tests/six/options
  python/ql/test/2/library-tests/six/pointsto.expected
  python/ql/test/2/library-tests/six/pointsto.ql
  python/ql/test/2/library-tests/six/test.expected
  python/ql/test/2/library-tests/six/test.py
  python/ql/test/2/library-tests/six/test.ql
  python/ql/test/3/library-tests/six/options
  python/ql/test/3/library-tests/six/pointsto.expected
  python/ql/test/3/library-tests/six/pointsto.ql
  python/ql/test/3/library-tests/six/test.expected
  python/ql/test/3/library-tests/six/test.py
  python/ql/test/3/library-tests/six/test.ql
Owners: @Semmle/python

Python: Use --lang=3 in tests
  python/ql/test/3/library-tests/PointsTo/attributes/options
  python/ql/test/3/library-tests/PointsTo/typehints/options
  python/ql/test/3/library-tests/modules/options
  python/ql/test/3/library-tests/modules/package_members/options
  python/ql/test/3/library-tests/options
  python/ql/test/3/library-tests/six/options
  python/ql/test/3/query-tests/Variables/undefined/options
  python/ql/test/3/query-tests/options
  python/ql/test/library-tests/web/bottle/options
  python/ql/test/library-tests/web/cherrypy/options
  python/ql/test/library-tests/web/django/options
  python/ql/test/library-tests/web/falcon/options
  python/ql/test/library-tests/web/flask/options
  python/ql/test/library-tests/web/turbogears/options
Owners: @Semmle/python

Python: Remove ignored automatic_locations in qltest options files
  python/ql/test/2/library-tests/options
  python/ql/test/2/query-tests/options
  python/ql/test/3/library-tests/options
  python/ql/test/3/query-tests/options
  python/ql/test/library-tests/options
  python/ql/test/library-tests/thrift/options
  python/ql/test/query-tests/options
Owners: @Semmle/python

JS: Fix typo in test query
  javascript/ql/test/library-tests/Modules/getExportedName.qll
  javascript/ql/test/library-tests/Modules/tests.expected
Owners: @Semmle/js

JS: Move tests into one file
  javascript/ql/test/library-tests/Modules/BulkReExportDeclarations.qll
  javascript/ql/test/library-tests/Modules/ExportDeclarations.qll
  javascript/ql/test/library-tests/Modules/ExportDefaultDeclarations.qll
  javascript/ql/test/library-tests/Modules/ExportSpecifiers.qll
  javascript/ql/test/library-tests/Modules/GlobalVariableRef.qll
  javascript/ql/test/library-tests/Modules/ImportDefaultSpecifiers.qll
  javascript/ql/test/library-tests/Modules/ImportMeta.qll
  javascript/ql/test/library-tests/Modules/ImportNamespaceSpecifier.qll
  javascript/ql/test/library-tests/Modules/ImportSpecifiers.qll
  javascript/ql/test/library-tests/Modules/Imports.qll
  javascript/ql/test/library-tests/Modules/Module_exports.qll
  javascript/ql/test/library-tests/Modules/NamedImportSpecifier.qll
  javascript/ql/test/library-tests/Modules/OtherImports.qll
  javascript/ql/test/library-tests/Modules/ReExportDeclarations.qll
  javascript/ql/test/library-tests/Modules/getAnImportedModule.qll
  javascript/ql/test/library-tests/Modules/getExportedName.qll
  javascript/ql/test/library-tests/Modules/getImportedName.qll
  javascript/ql/test/library-tests/Modules/getLocalName.qll
  javascript/ql/test/library-tests/Modules/getSourceNode.qll
  javascript/ql/test/library-tests/Modules/tests.expected
  javascript/ql/test/library-tests/Modules/tests.ql
Owners: @Semmle/js

JS: Add tests for 'export * as ns'
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/options
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/reExportLib.js
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/reExportLibClient.js
  javascript/ql/test/library-tests/Modules/reExportNamespace.js
  javascript/ql/test/library-tests/Modules/reExportNamespaceClient.js
  javascript/ql/test/library-tests/Modules/tests.expected
Owners: @Semmle/js

JS: Rename/deprecate a predicate to loosen its return type
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
Owners: @Semmle/js

Fix environment setup on Windows.
  Makefile
Owners: none

JS: Implement type inference through export * as ns
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
Owners: @Semmle/js

JS: Change note
  change-notes/1.24/analysis-javascript.md
Owners: none

C++: add IR-based wrapper for value numbering
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++: separate IR ValueNumber newtype and interface
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C#: Include TValueNumber in internal files
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
Owners: @Semmle/cs

C++: Implemented getKind to new GVN class and added predicates for obtaining expressions from a GVN
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++: Replace rank[1] with min
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++: Add getDebugString predicate and use it in ValueNumberPropertyProvider
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++: Added charpred to ensure that only instructions that have a source representation have a GVN
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

move the if(!x) from DataFLow to TaintTracking
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
Owners: @Semmle/js

add test for new barrier
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/sanitizer-guards.js
Owners: @Semmle/js
