Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

Update query help to use goxpath
  ql/src/experimental/Security/CWE-643/XPathInjection.qhelp
Owners: none

Track taint through element writes.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
  ql/src/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
  ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.expected
  ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  ql/test/query-tests/Security/CWE-079/tst.go
Owners: none

Data flow: No more flow summaries
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
Owners: @Semmle/cs

Data flow: Sync files
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C#: Add flow-through data-flow test using nested fields
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/H.cs
Owners: @Semmle/cs

Java: Update test
  java/ql/test/library-tests/dataflow/getter/A.java
  java/ql/test/library-tests/dataflow/getter/getter.expected
  java/ql/test/library-tests/dataflow/getter/getter.ql
  java/ql/test/library-tests/dataflow/gettersetter/gettersetter.expected
  java/ql/test/library-tests/dataflow/gettersetter/gettersetter.ql
Owners: @Semmle/java

Java: Fix missing jump step from PostUpdate to capture.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
Owners: @Semmle/java

Java: Sharpen return type of LambdaExpr.getStmtBody().
  java/ql/src/semmle/code/java/Expr.qll
Owners: @Semmle/java

fix FP in superfluous-trailing-arguments related to Function.arguments
  javascript/ql/src/semmle/javascript/Functions.qll
  javascript/ql/test/query-tests/LanguageFeatures/SpuriousArguments/tst.js
Owners: @Semmle/js

Java: Fixup FinalizeMethod definition.
  java/ql/src/semmle/code/java/Member.qll
Owners: @Semmle/java

Python: TarSlip sanitizer: explain tests with `not`
  python/ql/test/query-tests/Security/CWE-022/tarslip.py
Owners: @Semmle/python

JavaScript: Inline `promiseStep/4`.
  javascript/ql/src/semmle/javascript/Promises.qll
Owners: @Semmle/js

Update javascript/ql/test/library-tests/frameworks/Concepts/file-access.js
  javascript/ql/test/library-tests/frameworks/Concepts/file-access.js
Owners: @Semmle/js

autoformat
  javascript/ql/src/semmle/javascript/Functions.qll
Owners: @Semmle/js

change note
  change-notes/1.24/analysis-javascript.md
Owners: none

Fixed code style for SockJS
  javascript/ql/src/experimental/SockJS/SockJS.qll
Owners: @Semmle/js

JavaScript: Autoformat.
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Owners: @Semmle/js

Apply suggestion from code review
  ql/src/experimental/Security/CWE-643/XPathInjection.ql
Owners: none

Fix copy-paste errors, remove debugging code
  ql/src/experimental/Security/CWE-643/XPathInjection.ql
Owners: none

Python: Add abstract class CommandSink
  python/ql/src/Security/CWE-078/CommandInjection.ql
  python/ql/src/semmle/python/security/injection/Command.qll
Owners: @Semmle/python

Dataflow: Exclude flow param-param flow through with identical params.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Python: Model fabric/invoke command injection sinks
  python/ql/src/semmle/python/security/injection/Command.qll
  python/ql/test/library-tests/security/command-execution/CommandSinks.expected
  python/ql/test/library-tests/security/command-execution/CommandSinks.ql
  python/ql/test/library-tests/security/command-execution/fabric-LICENSE
  python/ql/test/library-tests/security/command-execution/fabric_test.py
  python/ql/test/library-tests/security/command-execution/invoke_test.py
  python/ql/test/library-tests/security/command-execution/options
  python/ql/test/query-tests/Security/lib/fabric/__init__.py
  python/ql/test/query-tests/Security/lib/fabric/connection.py
  python/ql/test/query-tests/Security/lib/fabric/group.py
  python/ql/test/query-tests/Security/lib/fabric/tasks.py
  python/ql/test/query-tests/Security/lib/invoke/__init__.py
  python/ql/test/query-tests/Security/lib/invoke/context.py
  python/ql/test/query-tests/Security/lib/invoke/tasks.py
Owners: @Semmle/python

Python: Model fabric v1.x command injection sinks
  python/ql/src/semmle/python/security/injection/Command.qll
  python/ql/test/library-tests/security/command-execution/CommandSinks.expected
  python/ql/test/library-tests/security/command-execution/fabric_v1_test.py
  python/ql/test/library-tests/security/command-execution/fabric_v2_test.py
  python/ql/test/query-tests/Security/lib/fabric/api.py
Owners: @Semmle/python

C++/C#: Add sanity test for invalid overlap from `getDefinitionOverlap()`
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/InstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/InstructionImports.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity_unsound.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/InstructionImports.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir_sanity.expected
  csharp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++: Fix getExtentOverlap for entire allocation
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.expected
Owners: @Semmle/cpp-analysis

C++/C#: Fix bad overlap sanity failures
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++: QLDoc terminology: object -> mem allocation
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C#: Fixup to follow C++ changes
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir_sanity.expected
  csharp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
Owners: @Semmle/cs

Update javascript/ql/src/experimental/SockJS/SockJS.qll
  javascript/ql/src/experimental/SockJS/SockJS.qll
Owners: @Semmle/js

Update javascript/ql/src/experimental/SockJS/SockJS.qll
  javascript/ql/src/experimental/SockJS/SockJS.qll
Owners: @Semmle/js

C++: Accept test diffs
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/StrncpyFlippedArgs/StrncpyFlippedArgs.expected
Owners: @Semmle/cpp-analysis

remove previous SockJS implementation, and move example to WebSocket test
  javascript/ql/src/experimental/SockJS/SockJS.qll
  javascript/ql/test/library-tests/frameworks/WebSocket/sockjs.js
Owners: @Semmle/js

autoformat WebSocket tests
  javascript/ql/test/library-tests/frameworks/WebSocket/browser.js
  javascript/ql/test/library-tests/frameworks/WebSocket/client.js
  javascript/ql/test/library-tests/frameworks/WebSocket/server.js
  javascript/ql/test/library-tests/frameworks/WebSocket/sockjs.js
  javascript/ql/test/library-tests/frameworks/WebSocket/test.expected
Owners: @Semmle/js

add SockJS to the existing WebSocket model
  javascript/ql/src/semmle/javascript/frameworks/WebSocket.qll
  javascript/ql/test/library-tests/frameworks/WebSocket/browser.js
  javascript/ql/test/library-tests/frameworks/WebSocket/test.expected
Owners: @Semmle/js

add test for remote flow sources in WebSockets
  javascript/ql/test/library-tests/frameworks/WebSocket/test.expected
  javascript/ql/test/library-tests/frameworks/WebSocket/test.ql
Owners: @Semmle/js

Python: Autoformat Command.qll
  python/ql/src/semmle/python/security/injection/Command.qll
Owners: @Semmle/python

Python: update 1.24 changelog
  change-notes/1.24/analysis-python.md
Owners: none

Refine virtual call targets by local reasoning where possible.
  ql/src/semmle/go/dataflow/internal/DataFlowDispatch.qll
Owners: none

Add queries to inspect and measure dispatch differences.
  ql/src/semmle/go/dataflow/internal/CompareDispatch.qhelp
  ql/src/semmle/go/dataflow/internal/CompareDispatch.ql
  ql/src/semmle/go/dataflow/internal/DispatchStats.ql
Owners: none

Python: Add points-to regression when using @classmethod decorators
  python/ql/test/library-tests/PointsTo/regressions/wrong/classmethod/Test.expected
  python/ql/test/library-tests/PointsTo/regressions/wrong/classmethod/Test.ql
  python/ql/test/library-tests/PointsTo/regressions/wrong/classmethod/test.py
  python/ql/test/query-tests/Expressions/callable/NonCallableCalled.expected
  python/ql/test/query-tests/Expressions/callable/test.py
Owners: @Semmle/python
