Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205

C++: Change note for recursion prevention
  change-notes/1.22/analysis-cpp.md
Owners: none

Update docs/language/learn-ql/javascript/type-tracking.rst
  docs/language/learn-ql/javascript/type-tracking.rst
Owners: @felicity-semmle, @jf205

C++/C#/Java: Autoformat
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Java: Autoformat.
  java/ql/src/Performance/ConcatenationInLoops.ql
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/src/semmle/code/java/Member.qll
  java/ql/src/semmle/code/java/controlflow/internal/Preconditions.qll
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/test/library-tests/frameworks/android/manifest/manifest.ql
  java/ql/test/library-tests/frameworks/guice/flow.ql
Owners: @Semmle/java

JS: Add AdditionalTypeTrackingStep
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.expected
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.ql
  javascript/ql/test/library-tests/TypeTracking/CustomStep.qll
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.ql
  javascript/ql/test/library-tests/TypeTracking/tst.js
Owners: @Semmle/js

docs: remove HS, GA, add GTM ref
  docs/language/global-sphinx-files/_templates/layout.html
Owners: @felicity-semmle, @jf205

C++/C#/Java: Shared TaintTrackingImpl.qll
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Python: Revert tests removed in #1767.
  python/ql/test/library-tests/ControlFlow/splitting/SuccessorCount.expected
  python/ql/test/library-tests/ControlFlow/splitting/SuccessorCount.ql
  python/ql/test/library-tests/ControlFlow/truefalse/ExceptionalSuccessors.expected
  python/ql/test/library-tests/ControlFlow/truefalse/ExceptionalSuccessors.ql
  python/ql/test/library-tests/ControlFlow/truefalse/TrueFalseSuccessors.expected
  python/ql/test/library-tests/ControlFlow/truefalse/TrueFalseSuccessors.ql
  python/ql/test/library-tests/PointsTo/new/Dataflow.expected
  python/ql/test/library-tests/PointsTo/new/Dataflow.ql
  python/ql/test/query-tests/Resources/Dataflow.expected
  python/ql/test/query-tests/Resources/Dataflow.ql
Owners: none

Python tests: Update test results to account for better handling of branches in finally blocks.
  python/ql/test/library-tests/ControlFlow/splitting/SuccessorCount.expected
  python/ql/test/library-tests/ControlFlow/truefalse/ExceptionalSuccessors.expected
  python/ql/test/library-tests/ControlFlow/truefalse/TrueFalseSuccessors.expected
  python/ql/test/library-tests/PointsTo/new/Dataflow.expected
  python/ql/test/query-tests/Resources/Dataflow.expected
Owners: none

C#: Add field initializers to CFG for constructors
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DelegateDataFlow.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.ql
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Initializers.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/csharp8/NullableRefTypes.ql
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
Owners: @Semmle/cs

Fix false positive in a py/unreachable-statement
  change-notes/1.22/analysis-python.md
  python/ql/src/Expressions/Comparisons/UselessComparisonTest.ql
  python/ql/src/Statements/UnreachableCode.ql
  python/ql/src/semmle/python/Exprs.qll
  python/ql/test/query-tests/Statements/unreachable/test.py
Owners: none

[CPP-387] Address review comments; some line reordering.
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: @felicity-semmle, @jf205

C#: Revert a few changes
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Owners: @Semmle/cs

Java/C#/C++: Add change notes for in/out barriers and barrierguards.
  change-notes/1.22/analysis-cpp.md
  change-notes/1.22/analysis-csharp.md
  change-notes/1.22/analysis-java.md
Owners: none

C#: Handle constructors with member initializers and `base()` calls in CFG
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Initializers.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Owners: @Semmle/cs

C#: Add change note
  change-notes/1.22/analysis-csharp.md
Owners: none

Java/C++/C#: Remove some `unbind()` calls from shared data flow implementation
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C#: Disable field flow for `cs/inappropriate-encoding`
  csharp/ql/src/Security Features/CWE-838/InappropriateEncoding.ql
Owners: @Semmle/cs

C#: Generalize CFG entry/exit nodes to include field/property initializers
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/src/semmle/code/csharp/Enclosing.qll
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Owners: @Semmle/cs

Java/C++/C#: Improve data flow join orders for field flow
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C#: Use `TaintTracking2` in `cs/inappropriate-encoding`
  csharp/ql/src/Security Features/CWE-838/InappropriateEncoding.ql
Owners: @Semmle/cs

C#: Avoid recomputation in last data flow stage
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
Owners: @Semmle/cs

C#: Data flow through fields
  csharp/ql/src/semmle/code/csharp/AnnotatedType.qll
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/src/semmle/code/csharp/Property.qll
  csharp/ql/src/semmle/code/csharp/Variable.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/ControlFlowReachability.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DelegateDataFlow.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/csharp8/NullableRefTypes.ql
  csharp/ql/test/library-tests/dataflow/fields/A.cs
  csharp/ql/test/library-tests/dataflow/fields/B.cs
  csharp/ql/test/library-tests/dataflow/fields/C.cs
  csharp/ql/test/library-tests/dataflow/fields/D.cs
  csharp/ql/test/library-tests/dataflow/fields/E.cs
  csharp/ql/test/library-tests/dataflow/fields/F.cs
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.ql
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.ql
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.ql
  csharp/ql/test/library-tests/dataflow/local/Common.qll
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
Owners: @Semmle/cs

C#: Handle constructors with member initializers and `base()` calls in CFG
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Initializers.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Owners: @Semmle/cs

C#: Add change note
  change-notes/1.22/analysis-csharp.md
Owners: none

Java/C++/C#: `flowCandFwdRead()` refactor
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Revert "C#: Generalize CFG entry/exit nodes to include field/property initializers"
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/src/semmle/code/csharp/Enclosing.qll
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Owners: @Semmle/cs

C#: Add field initializers to CFG for constructors
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DelegateDataFlow.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.ql
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Initializers.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/csharp8/NullableRefTypes.ql
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
Owners: @Semmle/cs

C#: Revert a few changes
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Owners: @Semmle/cs

C++/C#/Java: defaultAdditionalTaintStep
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Java: Add localExprFlow and localExprTaint.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Owners: @Semmle/java

C++: Workaround for lambda expression locations
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

C#: Nested field flow
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/G.cs
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
Owners: @Semmle/cs

Python: Support short mode flags (e.g. `re.M`) in regexes.
  python/ql/src/semmle/python/types/Extensions.qll
  python/ql/test/library-tests/regex/Mode.expected
  python/ql/test/library-tests/regex/test.py
Owners: none

C++: Add support for UsingEntry.getEnclosingElement
  cpp/ql/src/semmle/code/cpp/Element.qll
  cpp/ql/test/library-tests/usings/Usings2.expected
  cpp/ql/test/library-tests/usings/Usings2.ql
Owners: @Semmle/cpp-analysis

docs: rename QL training sphinx project
  docs/language/ql-training-rst/conf.py
Owners: @felicity-semmle, @jf205

docs: add several cpp training slides
  docs/language/ql-training-rst/cpp/bad-overflow-guard.rst
  docs/language/ql-training-rst/cpp/control-flow-cpp.rst
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/program-representation-cpp.rst
  docs/language/ql-training-rst/cpp/snprintf.rst
  docs/language/ql-training-rst/index.rst
  docs/language/ql-training-rst/query-examples/cpp/bad-overflow-guard-1.ql
  docs/language/ql-training-rst/query-examples/cpp/bad-overflow-guard-2.ql
  docs/language/ql-training-rst/query-examples/cpp/bad-overflow-guard-3.ql
  docs/language/ql-training-rst/query-examples/cpp/control-flow-cpp-1.ql
  docs/language/ql-training-rst/query-examples/cpp/control-flow-cpp-2.ql
  docs/language/ql-training-rst/query-examples/cpp/control-flow-cpp-3.ql
  docs/language/ql-training-rst/query-examples/cpp/control-flow-cpp-4.ql
  docs/language/ql-training-rst/query-examples/cpp/control-flow-cpp-5.ql
  docs/language/ql-training-rst/query-examples/cpp/data-flow-cpp-1.ql
  docs/language/ql-training-rst/query-examples/cpp/data-flow-cpp-2.ql
  docs/language/ql-training-rst/query-examples/cpp/global-data-flow-cpp-1.ql
  docs/language/ql-training-rst/query-examples/cpp/snprintf-1.ql
Owners: @felicity-semmle, @jf205

docs: further css tweaks
  docs/language/ql-training-rst/_static-training/semmle-template.svg
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training-rst/cpp/control-flow-cpp.rst
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/program-representation-cpp.rst
  docs/language/ql-training-rst/cpp/snprintf.rst
  docs/language/ql-training-rst/intro-to-ql/intro-ql-cpp.rst
  docs/language/ql-training-rst/intro-to-ql/intro-ql-java.rst
Owners: @felicity-semmle, @jf205

docs: address comments on bad overflow guard slides
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training-rst/cpp/bad-overflow-guard.rst
Owners: @felicity-semmle, @jf205

docs: fix some errors picked up by vale linter
  docs/language/ql-training-rst/cpp/bad-overflow-guard.rst
  docs/language/ql-training-rst/cpp/control-flow-cpp.rst
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/program-representation-cpp.rst
Owners: @felicity-semmle, @jf205
