Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

Python: Moves library and queries over to the new predicates, removes old ones
  python/ql/src/Expressions/Formatting/AdvancedFormatting.qll
  python/ql/src/Expressions/Formatting/MixedExplicitImplicitIn3101Format.ql
  python/ql/src/Expressions/Formatting/UnusedArgumentIn3101Format.ql
  python/ql/src/Expressions/Formatting/UnusedNamedArgumentIn3101Format.ql
  python/ql/src/Expressions/Formatting/WrongNameInArgumentsFor3101Format.ql
  python/ql/src/Expressions/Formatting/WrongNumberArgumentsFor3101Format.ql
  python/ql/test/library-tests/formatting/FormatArguments.ql
  python/ql/test/library-tests/formatting/FormatFields.ql
Owners: @Semmle/python

Python: Adds modernizations and moves query over to them
  python/ql/src/Exceptions/IllegalRaise.ql
  python/ql/src/Exceptions/Raising.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Python: Removes now obsolete original predicate
  python/ql/src/Exceptions/Raising.qll
Owners: @Semmle/python

Python: Adds modernized predicate and moves queries over to it
  python/ql/src/Exceptions/IllegalRaise.ql
  python/ql/src/Exceptions/NotImplemented.qll
  python/ql/src/Exceptions/NotImplementedIsNotAnException.ql
  python/ql/src/Expressions/NonCallableCalled.ql
Owners: @Semmle/python

Python: Removes obsolete predicate
  python/ql/src/Exceptions/NotImplemented.qll
Owners: @Semmle/python

fix capitalization of predicate
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
Owners: @Semmle/js

doc fixes
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
Owners: @Semmle/js

update expected output
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssWithCustomSanitizer.expected
Owners: @Semmle/js

refactor header checks to be based on dominance
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXssContentTypes.js
Owners: @Semmle/js

use regexp term instead of char class
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
Owners: @Semmle/js

JS: Add some tests
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/nested-props.js
Owners: @Semmle/js

JS: Restrict reachableFromStoreBase
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

use RegExpTerm to generalize predicate
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
Owners: @Semmle/js

add taint step for replace call that only removes dots
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
Owners: @Semmle/js

Java: Document a FP in a test.
  java/ql/test/query-tests/Nullness/C.java
  java/ql/test/query-tests/Nullness/NullMaybe.expected
Owners: @Semmle/java

JS: add `process` EventEmitter test
  javascript/ql/test/library-tests/frameworks/EventEmitter/tst.js
Owners: @Semmle/js

C++: Tests for variables with ambiguous types
  cpp/ql/test/library-tests/multiple_declarations/variable_types/extracted_once.h
  cpp/ql/test/library-tests/multiple_declarations/variable_types/extracted_twice.h
  cpp/ql/test/library-tests/multiple_declarations/variable_types/file1.c
  cpp/ql/test/library-tests/multiple_declarations/variable_types/file2.c
  cpp/ql/test/library-tests/multiple_declarations/variable_types/varType.expected
  cpp/ql/test/library-tests/multiple_declarations/variable_types/varType.ql
Owners: @Semmle/cpp-analysis

Python: Fix or disable CPs introduced by #2700 and #2875.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/security/strings/External.qll
  python/ql/test/3/library-tests/taint/unpacking/TestTaint.expected
  python/ql/test/library-tests/taint/unpacking/TestStep.expected
  python/ql/test/library-tests/taint/unpacking/TestTaint.expected
Owners: @Semmle/python

Python: Fix broken test output.
  python/ql/test/library-tests/taint/collections/TestStep.expected
  python/ql/test/library-tests/taint/collections/TestTaint.expected
  python/ql/test/library-tests/taint/namedtuple/TestTaint.expected
Owners: @Semmle/python

C++/C#: generate IR for funcs excluded in PrintIR Previously, functions excluded from PrintIR would not have IR generated. This sometimes affected escacpe analysis of functions that were printed.
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/PrintIR.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/PrintIR.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Python: Removes unused import
  python/ql/src/Expressions/Formatting/AdvancedFormatting.qll
Owners: @Semmle/python

Python: Moves statement out of quantifier that it didnt need to be in
  python/ql/src/Expressions/WrongNumberArgumentsForFormat.ql
Owners: @Semmle/python

Python: Moves `non_local_control_flow` to new API, and fixes bug in ClassValue implementation
  python/ql/src/Exceptions/EmptyExcept.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Python: Moves predicates over to suffixed form
  python/ql/src/Exceptions/EmptyExcept.ql
Owners: @Semmle/python

Python: Adds modernized predicates and moves query over to them
  python/ql/src/Exceptions/EmptyExcept.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Python: Removes obsolete predicates
  python/ql/src/Exceptions/EmptyExcept.ql
Owners: @Semmle/python

Python: Modernizes query
  python/ql/src/Exceptions/CatchingBaseException.ql
Owners: @Semmle/python

Python: Adds preliminary modernization
  python/ql/src/Exceptions/IllegalExceptionHandlerType.ql
Owners: @Semmle/python

Python: Moves old predicates to suffixed form
  python/ql/src/Exceptions/IllegalExceptionHandlerType.ql
  python/ql/src/semmle/python/types/Exceptions.qll
  python/ql/test/2/library-tests/ControlFlow/Exceptions/Handles.ql
  python/ql/test/3/library-tests/ControlFlow/Exceptions/Handles.ql
  python/ql/test/library-tests/exceptions/Handles.ql
Owners: @Semmle/python

Python: Moves more predicates over to suffixed form
  python/ql/src/semmle/python/types/Exceptions.qll
Owners: @Semmle/python

Python: Adds modernized predicates
  python/ql/src/semmle/python/types/Exceptions.qll
Owners: @Semmle/python

Python: Moves query over to modernized predicates
  python/ql/src/Exceptions/IllegalExceptionHandlerType.ql
Owners: @Semmle/python

JS: model `process` as an EventEmitter
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/frameworks/EventEmitter/test.expected
Owners: @Semmle/js

C++: pragma[noinline] on GVN charpred
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

JS: support mongodb v3 (minimally)
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongodb.js
Owners: @Semmle/js

Remove a mistaken uniqueness annotation.
  extractor/dbscheme/tables.go
  ql/src/go.dbscheme
  upgrades/ffced433fce33521f90c1b6c66b611902cdceac2/go.dbscheme
Owners: none

JS: bump change notes for mongodb
  change-notes/1.24/analysis-javascript.md
Owners: none

JS: Lower severity of js/syntax-error
  javascript/ql/src/LanguageFeatures/SyntaxError.ql
Owners: @Semmle/js

JS: Change note
  change-notes/1.24/analysis-javascript.md
Owners: none

JS: add default/chaining tests for `request`
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Owners: @Semmle/js
