Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

IncompleteHostnameRegexp: Use a reluctant regexp
  ql/src/Security/CWE-020/IncompleteHostnameRegexp.ql
  ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegexp/IncompleteHostnameRegexp.expected
Owners: none

Adds preliminary modernization
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Expressions/WrongNameForArgumentInCall.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/types/Exceptions.qll
Owners: @Semmle/python

Adds descriptiveString
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

C++: release note for DefaultTaintTracking
  change-notes/1.24/analysis-cpp.md
Owners: none

C++: change note for IR-based GVN
  change-notes/1.24/analysis-cpp.md
Owners: none

"Fix" spelling
  cpp/ql/src/semmle/code/cpp/models/interfaces/SideEffect.qll
Owners: @Semmle/cpp-analysis

"Fix" spelling
  cpp/ql/src/semmle/code/cpp/models/interfaces/SideEffect.qll
Owners: @Semmle/cpp-analysis

Maybe fixes a bug in the results?
  python/ql/src/semmle/python/types/Exceptions.qll
Owners: @Semmle/python

corrections on qldoc
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

Ensure `LGTM_INDEX_BUILD_COMMAND` takes precedence over build-command guessing.
  extractor/cli/go-autobuilder/go-autobuilder.go
Owners: none

update doc for VarAccessBarrier, and make the class private
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Owners: @Semmle/js

update expected output
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
Owners: @Semmle/js

remove dead predicate
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Owners: @Semmle/js

restricts alerts to the first line
  javascript/ql/src/Security/CWE-078/UselessUseOfCat.ql
Owners: @Semmle/js

simplify the output file argument
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Owners: @Semmle/js

support arrow functions in the callbacks
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/uselesscat.js
Owners: @Semmle/js

add isSync predicate to SystemCommandExecution
  javascript/ql/src/semmle/javascript/Concepts.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/ShellJS.qll
  javascript/ql/src/semmle/javascript/frameworks/SystemCommandExecutors.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.ql
Owners: @Semmle/js

require that an options object has a known set of properties
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/uselesscat.js
Owners: @Semmle/js

TS: Depend on TypeScript 3.7.5
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/lib/typescript/yarn.lock
Owners: @Semmle/js

Apply suggestions from code review
  docs/language/learn-ql/python/functions.rst
  docs/language/learn-ql/python/introduce-libraries-python.rst
Owners: @shati-patel, @jf205

use SystemCommandExecution and a few small fixes
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
Owners: @Semmle/js

require the file to be non-empty
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Owners: @Semmle/js

insert placeholder qhelp
  javascript/ql/src/Security/CWE-078/UselessUseOfCat.qhelp
Owners: @mchammer01

Add missing QLDoc for public elements.
  ql/src/RedundantCode/Clones.qll
  ql/src/semmle/go/Concepts.qll
  ql/src/semmle/go/Expr.qll
  ql/src/semmle/go/Scopes.qll
  ql/src/semmle/go/Stmt.qll
  ql/src/semmle/go/StringOps.qll
  ql/src/semmle/go/controlflow/ControlFlowGraph.qll
  ql/src/semmle/go/controlflow/ControlFlowGraphImpl.qll
  ql/src/semmle/go/controlflow/IR.qll
  ql/src/semmle/go/dataflow/SSA.qll
  ql/src/semmle/go/dataflow/SsaImpl.qll
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
  ql/src/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  ql/src/semmle/go/security/ReflectedXssCustomizations.qll
  ql/src/semmle/go/security/StringBreakCustomizations.qll
Owners: none

C++: Add switch testcases demonstrating incorrect IR
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cpp-analysis

C++: Fix IR generation and accept output
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cpp-analysis

Python: Add more tarslip examples
  python/ql/test/query-tests/Security/CWE-022/tarslip.py
Owners: @Semmle/python

Python: TarSlip sanitizer: only clear taint on false edge
  python/ql/src/Security/CWE-022/TarSlip.ql
  python/ql/test/query-tests/Security/CWE-022/TarSlip.expected
  python/ql/test/query-tests/Security/CWE-022/tarslip.py
Owners: @Semmle/python

Python: TarSlip sanitizer: handle not
  python/ql/src/Security/CWE-022/TarSlip.ql
  python/ql/test/query-tests/Security/CWE-022/TarSlip.expected
  python/ql/test/query-tests/Security/CWE-022/tarslip.py
Owners: @Semmle/python

C++: add more extensive test for desugaring of range-based-for loops
  cpp/ql/test/library-tests/range_based_for/range_based_for.expected
  cpp/ql/test/library-tests/range_based_for/range_based_for.ql
  cpp/ql/test/library-tests/range_based_for/test.cpp
Owners: @Semmle/cpp-analysis

Python: Add AST support for special operations.
  python/ql/src/semmle/python/AstGenerated.qll
Owners: @Semmle/python

Address review comments
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Address review comment.
  ql/src/semmle/go/Expr.qll
Owners: none

Docs: Simplify change note
  change-notes/1.24/analysis-cpp.md
Owners: none

C++: Change edge to DefaultEdge
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
Owners: @Semmle/cpp-analysis

C++: Add sanity check to Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
Owners: @Semmle/cpp-analysis

autoformat
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

C++: Accept output
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cpp-analysis

C++/C#: Sync identical files
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Replaces deprecation with renaming
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/types/Exceptions.qll
  python/ql/src/semmle/python/types/FunctionObject.qll
Owners: @Semmle/python

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
