Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

java: add more tests for java/maven/non-https-url
  java/ql/test/query-tests/security/CWE-829/semmle/tests/InsecureDependencyResolution.expected
  java/ql/test/query-tests/security/CWE-829/semmle/tests/insecure-pom.xml
  java/ql/test/query-tests/security/CWE-829/semmle/tests/secure-pom.xml
Owners: @Semmle/java

java: sharpen java/maven/non-https-url to allow localhost URLs
  java/ql/src/Security/CWE/CWE-829/InsecureDependencyResolution.ql
  java/ql/test/query-tests/security/CWE-829/semmle/tests/InsecureDependencyResolution.expected
Owners: @Semmle/java

C++: IR: Result of `x` in `x++` is now the Load
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/dataflow/crement/crements.cpp
  cpp/ql/test/library-tests/dataflow/crement/from0.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
Owners: @Semmle/cpp-analysis

C++: Unshare code between assignment types
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
Owners: @Semmle/cpp-analysis

C++: Move Load from AssignmentOperation to its LHS
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/dataflow/crement/crements.cpp
  cpp/ql/test/library-tests/dataflow/crement/from0.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
Owners: @Semmle/cpp-analysis

C++: Use asExpr, not getConvertedResultExpression
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

adjust the ReceiveNode docstrings
  javascript/ql/src/semmle/javascript/frameworks/WebSocket.qll
Owners: @Semmle/js

Python: Use variables in collection-taint test
  python/ql/test/library-tests/taint/collections/TestNode.expected
  python/ql/test/library-tests/taint/collections/TestNode.ql
  python/ql/test/library-tests/taint/collections/TestStep.expected
  python/ql/test/library-tests/taint/collections/TestTaint.expected
  python/ql/test/library-tests/taint/collections/TestTaint.ql
  python/ql/test/library-tests/taint/collections/test.py
Owners: @Semmle/python

Python: Stop using deprecated getName in collections taint test
  python/ql/test/library-tests/taint/collections/TestStep.ql
Owners: @Semmle/python

C++: Autoformat tests.
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/StackVariableReachabilityWithReassignment.ql
  cpp/ql/test/library-tests/controlflow/stackvariablereachability/stackVariableReachability.ql
Owners: @Semmle/cpp-analysis

JS: Recognize req.user a cookie access
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
  javascript/ql/test/query-tests/Security/CWE-352/MissingCsrfMiddleware.expected
  javascript/ql/test/query-tests/Security/CWE-352/unused_cookies.js
Owners: @Semmle/js

C++: autoformat fixup
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

TS: Allow .js extensions in cross package imports
  javascript/extractor/lib/typescript/src/common.ts
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Owners: @Semmle/js

TS: Simplify string equality check
  javascript/extractor/lib/typescript/src/common.ts
Owners: @Semmle/js

TS: Remove unneeded alias PackageLocationMap
  javascript/extractor/lib/typescript/src/common.ts
  javascript/extractor/lib/typescript/src/main.ts
Owners: @Semmle/js

TS: Document nodeModulesRex
  javascript/extractor/lib/typescript/src/main.ts
Owners: @Semmle/js

Update javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/main.ts
Owners: @Semmle/js

java: fixup whitespace/tabs in test
  java/ql/test/query-tests/security/CWE-829/semmle/tests/secure-pom.xml
Owners: @Semmle/java

TS: Move definition of mainStr
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Owners: @Semmle/js

TS: Address comments in guessMainFile
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Owners: @Semmle/js

Address review comments.
  ql/examples/snippets/constant.ql
  ql/examples/snippets/fieldread.ql
  ql/examples/snippets/fieldwrite.ql
  ql/examples/snippets/type.ql
  ql/examples/snippets/varread.ql
  ql/examples/snippets/varwrite.ql
Owners: none

C++: Add the security taint test (previously internal).
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.ql
  cpp/ql/test/library-tests/dataflow/security-taint/test.cpp
Owners: @Semmle/cpp-analysis

fix typos
  javascript/ql/src/semmle/javascript/frameworks/WebSocket.qll
Owners: @Semmle/js

use the EventEmitter registration methods instead of just "on"
  javascript/ql/src/semmle/javascript/frameworks/Files.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ZipSlipCustomizations.qll
Owners: @Semmle/js

reuse existing type-tracking for classes
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
Owners: @Semmle/js

Fix regex in ClassifyFiles.
  ql/src/filters/ClassifyFiles.ql
  ql/test/query-tests/filters/ClassifyFiles/ClassifyFiles.expected
  ql/test/query-tests/filters/ClassifyFiles/hello2.go
Owners: none

C++: Model that string functions read their buffer
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
Owners: @Semmle/cpp-analysis

Python: Fix divergence in tuple `toString`.
  python/ql/src/semmle/python/objects/Sequences.qll
Owners: @Semmle/python

Add failing test case for RedundantExpr.
  ql/test/query-tests/RedundantCode/RedundantExpr/tst.go
Owners: none

Java: Initial add of Security Sensitive non-CSPRNG usage
  java/ql/src/Security/CWE/CWE-338/PredictableRandomNumberGenerator.java
  java/ql/src/Security/CWE/CWE-338/PredictableRandomNumberGenerator.qhelp
  java/ql/src/Security/CWE/CWE-338/PredictableRandomNumberGenerator.ql
  java/ql/src/Security/CWE/CWE-338/PredictableRandomNumberGeneratorSource.qll
  java/ql/src/Security/CWE/CWE-338/types.qll
  java/ql/src/semmle/code/java/JDK.qll
  java/ql/src/semmle/code/java/security/Random.qll
Owners: @Semmle/java, @felicitymay

C++: Accept test changes
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
Owners: @Semmle/cpp-analysis

C++: add diff tests for DefaultTaintTracking
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.ql
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.ql
Owners: @Semmle/cpp-analysis

C++: Remove acceidentally added tests
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_ir.qlref
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_ir.qlref
Owners: @Semmle/cpp-analysis

C++: Added DefaultTaintTracking diff tests
  cpp/ql/test/library-tests/dataflow/taint-tests/default_taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/test_default_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_default_diff.ql
Owners: @Semmle/cpp-analysis

CPP: Not in std namespace.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strdup.qll
Owners: @Semmle/cpp-analysis

Java: Add change note for java/spring-disabled-csrf-protection.
  change-notes/1.24/analysis-java.md
Owners: none

Java: Add a query for suspicious date format patterns.
  java/ql/src/Likely Bugs/Likely Typos/SuspiciousDateFormat.java
  java/ql/src/Likely Bugs/Likely Typos/SuspiciousDateFormat.qhelp
  java/ql/src/Likely Bugs/Likely Typos/SuspiciousDateFormat.ql
Owners: @Semmle/java, @felicitymay

Java: Add a change note for `java/suspicious-date-format`.
  change-notes/1.24/analysis-java.md
Owners: none

Java: Add a test for `java/suspicious-date-format`.
  java/ql/test/query-tests/SuspiciousDateFormat/A.java
  java/ql/test/query-tests/SuspiciousDateFormat/SuspiciousDateFormat.expected
  java/ql/test/query-tests/SuspiciousDateFormat/SuspiciousDateFormat.qlref
Owners: @Semmle/java

Java: Update help and description of `java/suspicious-date-format`.
  java/ql/src/Likely Bugs/Likely Typos/SuspiciousDateFormat.qhelp
  java/ql/src/Likely Bugs/Likely Typos/SuspiciousDateFormat.ql
Owners: @felicitymay, @Semmle/java

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
