Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac

JS: Add DataFlow::Node.getImmediatePredecessor()
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
Owners: @Semmle/js

JS: Add SsaExplicitDefinition.getRhsNode
  javascript/ql/src/semmle/javascript/SSA.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/SSA/GetRhsNode/GetRhsNode.expected
  javascript/ql/test/library-tests/SSA/GetRhsNode/GetRhsNode.ql
  javascript/ql/test/library-tests/SSA/GetRhsNode/tst.js
Owners: @Semmle/js

JS: Move JSDoc tests into JSDoc/Nodes
  javascript/ql/test/library-tests/JSDoc/Nodes/COPYING
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDoc.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocAppliedTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocArrayTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocFunctionTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocNonNullableTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocNullableTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocOptionalParameterTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocRecordTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocRestParameterTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocTag.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDocUnionTypeExpr.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/ObjectExpr_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/ParExpr_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/Parameter_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/getParameterTag.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/next_token.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/tests.expected
  javascript/ql/test/library-tests/JSDoc/Nodes/tests.ql
  javascript/ql/test/library-tests/JSDoc/Nodes/tst.js
Owners: @Semmle/js

JS: Compute qualified name of classes
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Owners: @Semmle/js

JS: Add TypeAnnotation.getClass
  javascript/ql/src/semmle/javascript/JSDoc.qll
  javascript/ql/src/semmle/javascript/TypeAnnotations.qll
  javascript/ql/src/semmle/javascript/TypeScript.qll
Owners: @Semmle/js

JS: Downgrade the contract for getImmediatePredecessor
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
Owners: @Semmle/js

JS: Use defSourceNode from getRhsNode
  javascript/ql/src/semmle/javascript/SSA.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/GlobalAccessPaths/GlobalAccessPaths.expected
  javascript/ql/test/library-tests/GlobalAccessPaths/test.js
Owners: @Semmle/js

JS: Fix join order
  javascript/ql/src/semmle/javascript/JSDoc.qll
Owners: @Semmle/js

JS: Handle IIFE parameters
  javascript/ql/src/semmle/javascript/JSDoc.qll
  javascript/ql/test/library-tests/JSDoc/NameResolution/bar.js
  javascript/ql/test/library-tests/JSDoc/NameResolution/test.expected
Owners: @Semmle/js

JS: Avoid materializing DataFlow::Node.getFile
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
Owners: @Semmle/js

JS: cache getEnclosingContainer
  javascript/ql/src/semmle/javascript/AST.qll
Owners: @Semmle/js

JS: Add JSDoc name resolution test
  javascript/ql/test/library-tests/JSDoc/NameResolution/bar.js
  javascript/ql/test/library-tests/JSDoc/NameResolution/closure.js
  javascript/ql/test/library-tests/JSDoc/NameResolution/foo.js
  javascript/ql/test/library-tests/JSDoc/NameResolution/test.expected
  javascript/ql/test/library-tests/JSDoc/NameResolution/test.ql
Owners: @Semmle/js

JS: Rename JSDoc.qll to avoid conflict with JSDoc module
  javascript/ql/test/library-tests/JSDoc/Nodes/JSDoc_test.qll
  javascript/ql/test/library-tests/JSDoc/Nodes/tests.expected
  javascript/ql/test/library-tests/JSDoc/Nodes/tests.ql
Owners: @Semmle/js

JS: Restrict importLookup to ASTNode
  javascript/ql/src/definitions.ql
Owners: @Semmle/js

JS: Add jsdoc type lookup to definitions.ql
  javascript/ql/src/definitions.ql
Owners: @Semmle/js

JS: Address comments
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/src/semmle/javascript/JSDoc.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
Owners: @Semmle/js

Python: Fix missing include in `FCommentedOutCode.qhelp`.
  python/ql/src/Lexical/FCommentedOutCode.qhelp
Owners: none

JavaScript: Add concrete syntax examples to `ES2015Modules`, `Externs`, `JSON`, `YAML`.
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/Externs.qll
  javascript/ql/src/semmle/javascript/JSON.qll
  javascript/ql/src/semmle/javascript/YAML.qll
Owners: @Semmle/js

Python: Clarify pruning code.
  python/ql/src/semmle/python/Pruning.qll
  python/ql/test/library-tests/ControlFlow/pruning/Constraint.expected
Owners: none

JavaScript: Address review comments.
  javascript/documentation/library-customization.rst
Owners: @Semmle/js

Python: Do not give module names to folders without __init__.py unless specified during extraction.
  python/ql/src/semmle/python/Module.qll
Owners: none

JS: Add self as global object alias
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/Nodes/globalObjectRef.expected
  javascript/ql/test/library-tests/Nodes/globalVarRef.expected
  javascript/ql/test/library-tests/Nodes/tst.js
Owners: @Semmle/js

Python: Add failing test for analysis of property with .setter.
  python/ql/test/library-tests/PointsTo/properties/Lookup.expected
  python/ql/test/library-tests/PointsTo/properties/Lookup.ql
  python/ql/test/library-tests/PointsTo/properties/Values.expected
  python/ql/test/library-tests/PointsTo/properties/Values.ql
  python/ql/test/library-tests/PointsTo/properties/test.py
Owners: none

Python points-to: Support property setters and deleters.
  python/ql/src/semmle/python/objects/Descriptors.qll
  python/ql/src/semmle/python/objects/TObject.qll
  python/ql/test/library-tests/PointsTo/properties/Values.expected
  python/ql/test/library-tests/PointsTo/properties/Values.ql
Owners: none

Java: Add toString override for SwitchExpr.
  java/ql/src/semmle/code/java/Expr.qll
Owners: @Semmle/java

Java: Delete deprecated dependency DataFlowImplDepr.
  config/identical-files.json
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplDepr.qll
Owners: @Semmle/java

Java: Add taint step for String::concat.
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
Owners: @Semmle/java

Python deprecate and hide top-level predicates.
  python/ql/src/Statements/IterableStringOrSequence.ql
  python/ql/src/analysis/Summary.ql
  python/ql/src/semmle/python/Files.qll
  python/ql/src/semmle/python/Function.qll
  python/ql/src/semmle/python/Import.qll
  python/ql/src/semmle/python/Module.qll
  python/ql/src/semmle/python/ModuleUtil.qll
  python/ql/src/semmle/python/objects/Modules.qll
  python/ql/src/semmle/python/objects/TObject.qll
  python/ql/src/semmle/python/types/ClassObject.qll
  python/ql/src/semmle/python/types/ModuleObject.qll
  python/ql/src/semmle/python/types/Object.qll
Owners: none

Python points-to: Infer types for comprehensions.
  python/ql/src/semmle/python/objects/TObject.qll
  python/ql/test/query-tests/analysis/pointsto/CallGraphEfficiency.expected
  python/ql/test/query-tests/analysis/pointsto/CallGraphMarginalEfficiency.expected
  python/ql/test/query-tests/analysis/pointsto/Pruned.expected
Owners: none

JavaScript: Make name of `hasLocation` relation in location manager configurable.
  javascript/extractor/src/com/semmle/js/extractor/LocationManager.java
Owners: @Semmle/js

JavaScript: Add upgrade script.
  javascript/ql/src/semmlecode.javascript.dbscheme.stats
  javascript/upgrades/480c0c6f68fac1441d25defa4562f61a5f968d11/hasLocation.ql
  javascript/upgrades/480c0c6f68fac1441d25defa4562f61a5f968d11/old.dbscheme
  javascript/upgrades/480c0c6f68fac1441d25defa4562f61a5f968d11/semmlecode.javascript.dbscheme
  javascript/upgrades/480c0c6f68fac1441d25defa4562f61a5f968d11/upgrade.properties
  javascript/upgrades/480c0c6f68fac1441d25defa4562f61a5f968d11/yaml_locations.ql
Owners: @Semmle/js

JavaScript: Update TRAP test outputs.
  javascript/extractor/tests/yaml/output/trap/bad_1022_1_1.yml.trap
  javascript/extractor/tests/yaml/output/trap/cyclic.yaml.trap
  javascript/extractor/tests/yaml/output/trap/good_1021_1_1.yml.trap
  javascript/extractor/tests/yaml/output/trap/good_1_1_1021.yml.trap
  javascript/extractor/tests/yaml/output/trap/merge.yaml.trap
  javascript/extractor/tests/yaml/output/trap/orig.yml.trap
  javascript/extractor/tests/yaml/output/trap/tst.yml.trap
  javascript/extractor/tests/yaml/output/trap/x_bad_1_1_1022.yml.trap
Owners: @Semmle/js

JavaScript: Add upgrade script.
  javascript/ql/src/semmlecode.javascript.dbscheme.stats
  javascript/upgrades/64ea4d71964ad03f6604cf49f4869163dacbab66/hasLocation.ql
  javascript/upgrades/64ea4d71964ad03f6604cf49f4869163dacbab66/json_locations.ql
  javascript/upgrades/64ea4d71964ad03f6604cf49f4869163dacbab66/old.dbscheme
  javascript/upgrades/64ea4d71964ad03f6604cf49f4869163dacbab66/semmlecode.javascript.dbscheme
  javascript/upgrades/64ea4d71964ad03f6604cf49f4869163dacbab66/upgrade.properties
Owners: @Semmle/js

JavaScript: Store JSON locations in `json_locations` table instead of `hasLocation`.
  javascript/extractor/src/com/semmle/js/extractor/JSONExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/ql/src/semmle/javascript/JSON.qll
  javascript/ql/src/semmlecode.javascript.dbscheme
Owners: @Semmle/js

JavaScript: Update TRAP test outputs.
  javascript/extractor/tests/errors/output/trap/json.js.trap
  javascript/extractor/tests/excludes/output/trap/empty.json.trap
  javascript/extractor/tests/json/output/trap/array.json.trap
  javascript/extractor/tests/json/output/trap/comments.json.trap
  javascript/extractor/tests/json/output/trap/duplicate-keys.json.trap
  javascript/extractor/tests/json/output/trap/neg.json.trap
  javascript/extractor/tests/json/output/trap/neg2.json.trap
  javascript/extractor/tests/json/output/trap/null.json.trap
  javascript/extractor/tests/json/output/trap/tst.json.trap
  javascript/extractor/tests/node/output/trap/package.json.trap
  javascript/extractor/tests/rcfiles/output/trap/.babelrc.trap
  javascript/extractor/tests/rcfiles/output/trap/.eslintrc.trap
Owners: @Semmle/js

JavaScript: store YAML locations in `yaml_locations` table instead of `hasLocation`.
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/YAMLExtractor.java
  javascript/ql/src/semmle/javascript/YAML.qll
  javascript/ql/src/semmlecode.javascript.dbscheme
Owners: @Semmle/js

Java: Add support for in/out barriers on sources and sinks.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/test/library-tests/dataflow/inoutbarriers/A.java
  java/ql/test/library-tests/dataflow/inoutbarriers/test.expected
  java/ql/test/library-tests/dataflow/inoutbarriers/test.ql
Owners: @Semmle/java

Python: remove some unnecessary pragmas.
  python/ql/src/semmle/python/objects/Descriptors.qll
Owners: none

Python objects: Add explanatory comment.
  python/ql/src/semmle/python/objects/TObject.qll
Owners: none

Java: Deprecate isBarrierEdge.
  java/ql/src/Security/CWE/CWE-190/ArithmeticWithExtremeValues.ql
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
Owners: @Semmle/java

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
