Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

add taint step through the `json2csv` library
  javascript/change-notes/2021-06-24-json.md
  javascript/ql/src/semmle/javascript/JsonStringifiers.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/json-stringify.js
Owners: @github/codeql-javascript

add taint step through the `prettyjson` library
  javascript/change-notes/2021-06-24-json.md
  javascript/ql/src/semmle/javascript/JsonStringifiers.qll
  javascript/ql/test/query-tests/Security/CWE-117/LogInjection.expected
  javascript/ql/test/query-tests/Security/CWE-117/logInjectionBad.js
Owners: @github/codeql-javascript

add support for the `flatted` library
  javascript/change-notes/2021-06-24-json.md
  javascript/ql/src/semmle/javascript/JsonParsers.qll
  javascript/ql/src/semmle/javascript/JsonStringifiers.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/json-stringify.js
Owners: @github/codeql-javascript

add step through the `fclone` library
  javascript/change-notes/2021-06-24-json.md
  javascript/ql/src/semmle/javascript/Extend.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXssWithCustomSanitizer.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/tst2.js
Owners: @github/codeql-javascript

add support for the `teleport-javascript` library
  javascript/change-notes/2021-06-24-json.md
  javascript/ql/src/semmle/javascript/JsonParsers.qll
  javascript/ql/src/semmle/javascript/JsonStringifiers.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/json-stringify.js
Owners: @github/codeql-javascript

add support for the `replicator` library
  javascript/change-notes/2021-06-24-json.md
  javascript/ql/src/semmle/javascript/JsonParsers.qll
  javascript/ql/src/semmle/javascript/JsonStringifiers.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/json-stringify.js
Owners: @github/codeql-javascript

add support for the `safe-stable-stringify` library
  javascript/change-notes/2021-06-24-json.md
  javascript/ql/src/semmle/javascript/JsonStringifiers.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/json-stringify.js
Owners: @github/codeql-javascript

JS: Add change note
  javascript/change-notes/2021-07-12-more-precise-capture-steps.md
Owners: @github/codeql-javascript

add support for the `json-cycle` library
  javascript/change-notes/2021-06-24-json.md
  javascript/ql/src/semmle/javascript/Extend.qll
  javascript/ql/src/semmle/javascript/JsonParsers.qll
  javascript/ql/src/semmle/javascript/JsonStringifiers.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/json-stringify.js
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/ReflectedXssWithCustomSanitizer.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss/tst2.js
Owners: @github/codeql-javascript

add support for the `strip-json-comments` library
  javascript/change-notes/2021-06-24-json.md
  javascript/ql/src/semmle/javascript/JsonParsers.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/json-stringify.js
Owners: @github/codeql-javascript

add support for the `fast-json-stringify` library
  javascript/change-notes/2021-06-24-json.md
  javascript/ql/src/semmle/javascript/JsonStringifiers.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/json-stringify.js
Owners: @github/codeql-javascript

C++: Fix annotations.
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/test.c
Owners: @github/codeql-c-analysis

C++: Address code review.
  cpp/ql/src/Diagnostics/FailedExtractorInvocations.ql
Owners: @github/codeql-c-analysis

C++: Fix warning from compile-query.
  cpp/ql/src/Diagnostics/FailedExtractorInvocations.ql
Owners: @github/codeql-c-analysis

Add information on overwrite options to the CodeQL CLI docs
  docs/codeql/codeql-cli/creating-codeql-databases.rst
Owners: none

C++: Include ComplementExpr as a sanitizer.
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
Owners: @github/codeql-c-analysis

Python: Add change note
  python/change-notes/2021-07-12-add-typetrackingnode.md
Owners: @github/codeql-python

Python: Make deprecation warning more prominent
  python/ql/src/semmle/python/dataflow/new/internal/LocalSources.qll
Owners: @github/codeql-python

Grammar
  docs/codeql/codeql-cli/creating-codeql-databases.rst
Owners: none

Data flow: Fix bad join-orders in `summaryNodeType`
  csharp/ql/src/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
Owners: @github/codeql-csharp

Data flow: Sync
  java/ql/src/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
Owners: @github/codeql-java

FsPickler
  csharp/ql/src/semmle/code/csharp/security/dataflow/UnsafeDeserialization.qll
  csharp/ql/src/semmle/code/csharp/serialization/Deserializers.qll
Owners: @github/codeql-csharp

SharpSerializer
  csharp/ql/src/semmle/code/csharp/security/dataflow/UnsafeDeserialization.qll
  csharp/ql/src/semmle/code/csharp/serialization/Deserializers.qll
Owners: @github/codeql-csharp

YamlDotNet
  csharp/ql/src/semmle/code/csharp/security/dataflow/UnsafeDeserialization.qll
  csharp/ql/src/semmle/code/csharp/serialization/Deserializers.qll
Owners: @github/codeql-csharp

Python: Fix typo
  python/ql/src/semmle/python/dataflow/new/internal/LocalSources.qll
Owners: @github/codeql-python

add support for the `change-case` library
  javascript/change-notes/2021-07-12-case.md
  javascript/ql/src/semmle/javascript/frameworks/StringFormatters.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/case.js
Owners: @github/codeql-javascript

add support for many more case changing libraries
  javascript/change-notes/2021-07-12-case.md
  javascript/ql/src/semmle/javascript/frameworks/StringFormatters.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/case.js
Owners: @github/codeql-javascript

make explicit calls to member predicates
  python/ql/src/semmle/python/RegexTreeView.qll
Owners: @github/codeql-python

JsonConvert
  csharp/ql/src/Security Features/CWE-502/UnsafeDeserializationUntrustedInput.ql
  csharp/ql/src/semmle/code/csharp/frameworks/JsonNET.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/UnsafeDeserialization.qll
  csharp/ql/src/semmle/code/csharp/serialization/Deserializers.qll
Owners: @github/codeql-csharp

Apply suggestions from code review
  javascript/ql/test/library-tests/TaintTracking/capture-flow.js
Owners: @github/codeql-javascript

C#: Add Nullable test to external flow
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
Owners: @github/codeql-csharp

Fix NullableType to include qualified name of type arguments
  csharp/ql/src/semmle/code/csharp/Type.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
Owners: @github/codeql-csharp

C#: Skip `dotnet restore` in standalone extraction when `nuget_restore: false` is set
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
Owners: @github/codeql-csharp

Python: Port `py/sql-injection` to use proper source/sink customization
  python/ql/src/Security/CWE-089/SqlInjection.ql
  python/ql/src/semmle/python/security/dataflow/SqlInjection.qll
  python/ql/src/semmle/python/security/dataflow/SqlInjectionCustomizations.qll
Owners: @github/codeql-python

Python: Port `py/stack-trace-exposure` to use proper source/sink customization
  python/ql/src/Security/CWE-209/StackTraceExposure.ql
  python/ql/src/semmle/python/security/dataflow/StackTraceExposure.qll
  python/ql/src/semmle/python/security/dataflow/StackTraceExposureCustomizations.qll
Owners: @github/codeql-python

Python: Port `py/command-line-injection` to use proper source/sink customization
  python/ql/src/Security/CWE-078/CommandInjection.ql
  python/ql/src/semmle/python/security/dataflow/CommandInjection.qll
  python/ql/src/semmle/python/security/dataflow/CommandInjectionCustomizations.qll
Owners: @github/codeql-python

Python: Port `py/url-redirection` to use proper source/sink customization
  python/ql/src/Security/CWE-601/UrlRedirect.ql
  python/ql/src/semmle/python/security/dataflow/UrlRedirect.qll
  python/ql/src/semmle/python/security/dataflow/UrlRedirectCustomizations.qll
Owners: @github/codeql-python

Python: Port `py/code-injection` to use proper source/sink customization
  python/ql/src/Security/CWE-094/CodeInjection.ql
  python/ql/src/semmle/python/security/dataflow/CodeInjection.qll
  python/ql/src/semmle/python/security/dataflow/CodeInjectionCustomizations.qll
Owners: @github/codeql-python

Python: Port `py/unsafe-deserialization` to use proper source/sink customization
  python/ql/src/Security/CWE-502/UnsafeDeserialization.ql
  python/ql/src/semmle/python/security/dataflow/UnsafeDeserialization.qll
  python/ql/src/semmle/python/security/dataflow/UnsafeDeserializationCustomizations.qll
Owners: @github/codeql-python

Python: Port `py/reflective-xss` to use proper source/sink customization
  python/ql/src/Security/CWE-079/ReflectedXss.ql
  python/ql/src/semmle/python/security/dataflow/ReflectedXSS.qll
  python/ql/src/semmle/python/security/dataflow/ReflectedXSSCustomizations.qll
Owners: @github/codeql-python
