Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

Conflate references and referents more thoroughly in taint tracking.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
  ql/src/semmle/go/dataflow/internal/TaintTrackingUtil.qll
Owners: none

C++: Accept test changes
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
Owners: @Semmle/cpp-analysis

Python: Fixes bug in modernization
  python/ql/src/Exceptions/RaisingTuple.ql
Owners: @Semmle/python

Python: Removes superfluous cast
  python/ql/src/Exceptions/EmptyExcept.ql
Owners: @Semmle/python

Python: Fixes erroneous modernization bug
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Move directory to experimental
  java/ql/src/experimental/CWE-643/XPathInjection.java
  java/ql/src/experimental/CWE-643/XPathInjection.qhelp
  java/ql/src/experimental/CWE-643/XPathInjection.ql
Owners: @Semmle/java, @felicitymay

Move directory to experimental
  java/ql/src/experimental/CWE-094/ScriptEngine.java
  java/ql/src/experimental/CWE-094/ScriptEngine.qhelp
  java/ql/src/experimental/CWE-094/ScriptEngine.ql
Owners: @Semmle/java, @felicitymay

Reduce false positives with small heuristics
  cpp/ql/src/Security/CWE/CWE-273/PrivilegeDroppingOutoforder.ql
Owners: @Semmle/cpp-analysis

JS: Only evaluate relevant barrier guards
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

JS: Lift some internal members to private top-level
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

JS: Add qldoc to a private predicate
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

JS: Do not restart in the middle of a message
  javascript/extractor/lib/typescript/src/main.ts
Owners: @Semmle/js

JS: Improve error reporting
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Owners: @Semmle/js

JS: Extract compiler-restarting into a function
  javascript/extractor/lib/typescript/src/main.ts
Owners: @Semmle/js

JS: Raise default memory limit to 2.4G
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Owners: @Semmle/js

JS: Declassify sensitive exprs with special characters
  javascript/ql/src/semmle/javascript/security/SensitiveActions.qll
  javascript/ql/test/library-tests/SensitiveActions/tst.js
Owners: @Semmle/js

JS: Change note
  change-notes/1.24/analysis-javascript.md
Owners: none

move existing array taint stracking into Arrays.qll
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
Owners: @Semmle/js

add test for data-flow on arrays
  javascript/ql/test/library-tests/Arrays/DataFlow.ql
  javascript/ql/test/library-tests/Arrays/arrays.js
Owners: @Semmle/js

add data-flow steps for arrays
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/test/library-tests/Arrays/DataFlow.expected
Owners: @Semmle/js

move `Array.from` to ArrayCreationNode
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Owners: @Semmle/js

Java/C++/C#: Fix bug in type pruning.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
Owners: @Semmle/java

Java/C++/C#: Simplify.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
Owners: @Semmle/java

Java/C++/C#: Sync.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Java: Add test.
  java/ql/test/library-tests/dataflow/typepruning/A.java
  java/ql/test/library-tests/dataflow/typepruning/test.expected
  java/ql/test/library-tests/dataflow/typepruning/test.ql
Owners: @Semmle/java

Java/C++/C#: Fix performance issue in partial paths exploration.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C#: Ignore `dotnet clean` exit code in autobuilder
  csharp/autobuilder/Semmle.Autobuild/DotNetRule.cs
Owners: @Semmle/cs

Fix constant values test data
  ql/test/library-tests/semmle/go/Expr/ConstantValues.expected
Owners: none

Make @uintptrtype a @unsignedintegertype
  extractor/dbscheme/tables.go
  upgrades/b9a2082d22aebdd102e11995a7cfd46e0268a813/go.dbscheme
  upgrades/b9a2082d22aebdd102e11995a7cfd46e0268a813/old.dbscheme
  upgrades/b9a2082d22aebdd102e11995a7cfd46e0268a813/upgrade.properties
Owners: none

JS: Update vague variable name
  javascript/extractor/lib/typescript/src/main.ts
Owners: @Semmle/js

JavaScript: Move flow summaries to `experimental`.
  change-notes/1.24/analysis-javascript.md
  javascript/config/suites/javascript/flow-summaries
  javascript/documentation/flow-summaries.rst
  javascript/ql/src/experimental/Summaries/Configurations.qll
  javascript/ql/src/experimental/Summaries/ExtractFlowStepSummaries.ql
  javascript/ql/src/experimental/Summaries/ExtractSinkSummaries.ql
  javascript/ql/src/experimental/Summaries/ExtractSourceSummaries.ql
  javascript/ql/src/experimental/Summaries/ImportFromCsv.qll
  javascript/ql/src/experimental/Summaries/ImportFromExternalPredicates.qll
  javascript/ql/src/experimental/Summaries/PortalEntrySink.qll
  javascript/ql/src/experimental/Summaries/PortalExitSource.qll
  javascript/ql/src/experimental/Summaries/Shared.qll
  javascript/ql/src/experimental/Summaries/SinkFromAnnotation.qll
  javascript/ql/src/experimental/Summaries/SourceFromAnnotation.qll
  javascript/ql/test/query-tests/Security/Summaries/ExtractFlowStepSummaries.qlref
  javascript/ql/test/query-tests/Security/Summaries/ExtractSinkSummaries.qlref
  javascript/ql/test/query-tests/Security/Summaries/ExtractSourceSummaries.qlref
Owners: @Semmle/js

JS: Test: Add file that is lacking qldoc
  javascript/ql/src/semmle/javascript/SomeFile.qll
Owners: @Semmle/js

Python: Fix string taint tests
  python/ql/src/semmle/python/security/strings/Basic.qll
Owners: @Semmle/python

Python: Remove code that adds taint to unrelated ControlFlowNode
  python/ql/src/semmle/python/security/strings/Basic.qll
Owners: @Semmle/python

C++: Handle constant variable accesses in SimpleRangeAnalysis.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Owners: @Semmle/cpp-analysis

Python: Fix minor bug in modernisation-rewrite
  python/ql/src/semmle/python/security/Crypto.qll
Owners: @Semmle/python

two bugfixes
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/Arrays/arrays.js
Owners: @Semmle/js

update expected output
  javascript/ql/test/library-tests/Arrays/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/GermanFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TrackedNodes.expected
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
Owners: @Semmle/js

Python: Resolve autoformat ugliness
  python/ql/src/Statements/StatementNoEffect.ql
  python/ql/src/Statements/UnnecessaryDelete.ql
Owners: @Semmle/python

Python: Use unambiguous name getCallNode
  python/ql/src/semmle/python/objects/Descriptors.qll
Owners: @Semmle/python
