Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205

C++: Add localExprTaint for IR
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
Owners: @Semmle/cpp-analysis

C++: Show that there are too many partial defs
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.cpp
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.expected
Owners: @Semmle/cpp-analysis

C++: Don't create partial defs for calls to const
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.expected
Owners: @Semmle/cpp-analysis

C# IR: Add support for multiple decls and updates
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedCallBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedConditionBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedDeclarationBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedExprBase.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/OperandTag.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/stmts.cs
Owners: @Semmle/cs

C# IR: Object creation refactoring
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/test/library-tests/ir/ir/obj_creation.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

C# IR: Initializers
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/test/library-tests/ir/ir/collections.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Delete useless file
  csharp/ql/src/semmle/code/csharp/ir/internal/OperandTag.qll
Owners: @Semmle/cs

Update .github/ISSUE_TEMPLATE/lgtm-com---false-positive.md
  .github/ISSUE_TEMPLATE/lgtm-com---false-positive.md
Owners: none

Update issue templates
  .github/ISSUE_TEMPLATE/lgtm-com---false-positive.md
Owners: none

C++: Stub replacement for security.TaintTracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

C#: Update a `.qlref`.
  csharp/ql/test/query-tests/Metrics/RefTypes/TNumberOfFields/EnumSize.qlref
Owners: @Semmle/cs

Add query for detecting potential DOS form a tainted .length property
  javascript/ql/src/Security/CWE-834/TaintedLength.qhelp
  javascript/ql/src/Security/CWE-834/TaintedLength.ql
  javascript/ql/src/Security/CWE-834/examples/TaintedLength.js
  javascript/ql/src/Security/CWE-834/examples/TaintedLength_fixed.js
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedLength.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedLengthCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLength.expected
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLength.qlref
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthBad.js
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthExitBad.js
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthExitGood.js
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthGood.js
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthLodash.js
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthNested.js
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthObviousLengthCheck.js
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthObviousNullPointer.js
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthObviousNullPointerInPreviousLoop.js
Owners: @mc-semmle, @Semmle/js

C++: Add pointer-to-member test to syntax-zoo
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/drawDifferent.expected
  cpp/ql/test/library-tests/syntax-zoo/pointer_to_member.cpp
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/tellDifferent.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
Owners: @Semmle/cpp-analysis

Python docs: Remove all references to ClassExpr and FunctionExpr; we want to remove them eventually.
  docs/language/learn-ql/python/statements-expressions.rst
Owners: @felicity-semmle, @jf205

Python docs: remove confusing reference to SSA as 'dataflow' and add a reference to the taint-tracking library from the library overview page.
  docs/language/learn-ql/python/introduce-libraries-python.rst
Owners: @felicity-semmle, @jf205

docs: add rst versions of java slide decks and improve a few c++ slides
  docs/language/ql-training-rst/_static-training/java-data-flow-code-example.svg
  docs/language/ql-training-rst/_static-training/java-expression-ast.svg
  docs/language/ql-training-rst/_static-training/mismatched-calls-and-returns.svg
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/index.rst
  docs/language/ql-training-rst/java/apache-struts-java.rst
  docs/language/ql-training-rst/java/data-flow-java.rst
  docs/language/ql-training-rst/java/global-data-flow-java.rst
  docs/language/ql-training-rst/java/intro-ql-java.rst
  docs/language/ql-training-rst/java/program-representation-java.rst
  docs/language/ql-training-rst/java/query-injection-java.rst
  docs/language/ql-training-rst/query-examples/java/data-flow-java-1.ql
  docs/language/ql-training-rst/query-examples/java/data-flow-java-2.ql
  docs/language/ql-training-rst/query-examples/java/global-data-flow-java-1.ql
  docs/language/ql-training-rst/query-examples/java/query-injection-java-1.ql
  docs/language/ql-training-rst/query-examples/java/query-injection-java-2.ql
  docs/language/ql-training-rst/query-examples/java/query-injection-java-3.ql
  docs/language/ql-training-rst/slide-snippets/global-data-flow-extra-slides.rst
Owners: @felicity-semmle, @jf205

Python docs: Replace remaining references to old 'Object' API are replaced by new 'Value' API.
  docs/language/learn-ql/python/introduce-libraries-python.rst
  docs/language/learn-ql/python/taint-tracking.rst
Owners: @felicity-semmle, @jf205

Python docs: Fix typos and rst formatting issue.
  docs/language/learn-ql/python/introduce-libraries-python.rst
Owners: @felicity-semmle, @jf205

docs: make use of includes for local and global data flow slides
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/java/global-data-flow-java.rst
  docs/language/ql-training-rst/slide-snippets/global-data-flow.rst
  docs/language/ql-training-rst/slide-snippets/local-data-flow.rst
  docs/language/ql-training-rst/slide-snippets/path-queries.rst
Owners: @felicity-semmle, @jf205

docs: fix include in data flow slides
  docs/language/ql-training-rst/java/apache-struts-java.rst
  docs/language/ql-training-rst/java/data-flow-java.rst
Owners: @felicity-semmle, @jf205

docs: fix speaker note bug
  docs/language/ql-training-rst/_static-training/slides-semmle-2/layout.html
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
Owners: @felicity-semmle, @jf205

docs: add template slide deck
  docs/language/ql-training-rst/index.rst
  docs/language/ql-training-rst/template.rst
Owners: @felicity-semmle, @jf205

docs: update images
  docs/language/ql-training-rst/_static-training/java-data-flow-code-example.svg
  docs/language/ql-training-rst/_static-training/java-expression-ast.svg
  docs/language/ql-training-rst/_static-training/mismatched-calls-and-returns.svg
Owners: @felicity-semmle, @jf205

docs: address review comments
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training-rst/cpp/bad-overflow-guard.rst
  docs/language/ql-training-rst/cpp/control-flow-cpp.rst
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/intro-ql-cpp.rst
  docs/language/ql-training-rst/cpp/program-representation-cpp.rst
  docs/language/ql-training-rst/cpp/snprintf.rst
  docs/language/ql-training-rst/java/apache-struts-java.rst
  docs/language/ql-training-rst/java/data-flow-java.rst
  docs/language/ql-training-rst/java/global-data-flow-java.rst
  docs/language/ql-training-rst/java/intro-ql-java.rst
  docs/language/ql-training-rst/java/program-representation-java.rst
  docs/language/ql-training-rst/java/query-injection-java.rst
  docs/language/ql-training-rst/slide-snippets/abstract-syntax-tree.rst
  docs/language/ql-training-rst/slide-snippets/global-data-flow-extra-slides.rst
  docs/language/ql-training-rst/slide-snippets/local-data-flow.rst
  docs/language/ql-training-rst/slide-snippets/path-queries.rst
  docs/language/ql-training-rst/slide-snippets/snapshot-note.rst
  docs/language/ql-training-rst/template.rst
Owners: @felicity-semmle, @jf205

docs: toctree path
  docs/language/ql-training-rst/index.rst
Owners: @felicity-semmle, @jf205

Update docs/language/ql-training-rst/slide-snippets/local-data-flow.rst
  docs/language/ql-training-rst/slide-snippets/local-data-flow.rst
Owners: @felicity-semmle, @jf205

docs: add ql-training page to learn-ql project
  docs/language/learn-ql/index.rst
  docs/language/learn-ql/ql-training.rst
Owners: @felicity-semmle, @jf205

docs: remove VA section from writing-queries.rst
  docs/language/learn-ql/writing-queries/writing-queries.rst
Owners: @felicity-semmle, @jf205

docs: rework ql-training.rst
  docs/language/learn-ql/ql-training.rst
Owners: @felicity-semmle, @jf205

docs: reorganize and add some ref bookmarks to learn-ql index
  docs/language/learn-ql/index.rst
Owners: @felicity-semmle, @jf205

docs: specify sphinx 1.7.9 in readme
  docs/language/README.rst
Owners: @felicity-semmle, @jf205

docs: update layout.html
  docs/language/global-sphinx-files/_templates/layout.html
Owners: @felicity-semmle, @jf205

docs: fix a couple of links
  docs/language/learn-ql/ql-training.rst
Owners: @felicity-semmle, @jf205

Update docs/language/learn-ql/ql-training.rst
  docs/language/learn-ql/ql-training.rst
Owners: @felicity-semmle, @jf205

Update docs/language/learn-ql/ql-training.rst
  docs/language/learn-ql/ql-training.rst
Owners: @felicity-semmle, @jf205

docs: fix typo
  docs/language/ql-training/cpp/bad-overflow-guard.rst
Owners: @felicity-semmle, @jf205

Update docs/language/README.rst
  docs/language/README.rst
Owners: @felicity-semmle, @jf205

docs: updated slide background
  docs/language/ql-training/_static-training/setup-slide.svg
Owners: @felicity-semmle, @jf205

docs: slides fix for edge and ff
  docs/language/ql-training/_static-training/slides-semmle-2/static/theme/css/default.css
Owners: @felicity-semmle, @jf205

docs: improve slide layout for printing
  docs/language/ql-training/_static-training/slides-semmle-2/static/theme/css/default.css
Owners: @felicity-semmle, @jf205
