Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

Deduplicate Jexl configuration
  java/ql/src/Security/CWE/CWE-094/JexlInjection.ql
  java/ql/src/semmle/code/java/security/JexlInjectionQuery.qll
  java/ql/test/query-tests/security/CWE-094/JexlInjectionTest.ql
Owners: @github/codeql-java

Add docs to RandomQuery.qll
  java/ql/src/semmle/code/java/security/RandomQuery.qll
Owners: @github/codeql-java

Add change note
  java/change-notes/2021-07-02-split-queries.md
Owners: @github/codeql-java

Python: port redos .qhelp from js
  python/ql/src/Security/CWE-730/PolynomialReDoS.qhelp
  python/ql/src/Security/CWE-730/ReDoS.qhelp
  python/ql/src/Security/CWE-730/ReDoSIntroduction.inc.qhelp
  python/ql/src/Security/CWE-730/ReDoSReferences.inc.qhelp
Owners: @github/codeql-python

JS: Update test output
  javascript/ql/test/library-tests/DataFlow/tests.expected
  javascript/ql/test/library-tests/Promises/tests.expected
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
Owners: @github/codeql-javascript

JS: Treat string literals as source nodes
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
Owners: @github/codeql-javascript

JS: Update React to handle string literals being SourceNodes
  javascript/ql/src/semmle/javascript/frameworks/React.qll
Owners: @github/codeql-javascript

JS: Dont use getALocalSource() when marking Vue template sinks
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
Owners: @github/codeql-javascript

JS: Add comment to VueTemplateSink class
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
Owners: @github/codeql-javascript

Fix markdown link in framework coverage PR comment
  misc/scripts/library-coverage/comment-pr.py
Owners: none

JS: Update test output after rebasing
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

Python/JS: Make much more private
  javascript/ql/src/semmle/javascript/security/performance/ExponentialBackTracking.qll
  python/ql/src/semmle/python/security/performance/ExponentialBackTracking.qll
Owners: @github/codeql-javascript, @github/codeql-python

Python: make the import of `RedosUtil` public This mirrors `SuperlinearBacktracking.qll` An alternative is to keep it private and import it again in the query files.
  javascript/ql/src/semmle/javascript/security/performance/ExponentialBackTracking.qll
  python/ql/src/semmle/python/security/performance/ExponentialBackTracking.qll
Owners: @github/codeql-javascript, @github/codeql-python

JS: Add spread step when bactracking in API graphs
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
  javascript/ql/test/ApiGraphs/spread/VerifyAssertions.expected
  javascript/ql/test/ApiGraphs/spread/VerifyAssertions.ql
  javascript/ql/test/ApiGraphs/spread/package.json
  javascript/ql/test/ApiGraphs/spread/tst.js
Owners: @github/codeql-javascript

JS: Make VueRouterFlowSource a subclass of ClientSideRemoteFlowSource
  javascript/ql/src/semmle/javascript/frameworks/Vue.qll
Owners: @github/codeql-javascript

JS: Add API graph edges for indirect propref members
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
Owners: @github/codeql-javascript

JS: Change note
  javascript/change-notes/2021-06-30-vuex.md
Owners: @github/codeql-javascript

JS: Model vuex
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/Vuex.qll
  javascript/ql/test/library-tests/frameworks/Vuex/test.expected
  javascript/ql/test/library-tests/frameworks/Vuex/test.ql
  javascript/ql/test/library-tests/frameworks/Vuex/vuex.js
Owners: @github/codeql-javascript

JS: Add support for createNamespacedHelpers
  javascript/ql/src/semmle/javascript/frameworks/Vuex.qll
  javascript/ql/test/library-tests/frameworks/Vuex/vuex.js
Owners: @github/codeql-javascript

QHelp preview
  .github/workflows/qhelp.yml
Owners: none

JS: Add test case with spurious call/return flow
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/capture-flow.js
Owners: @github/codeql-javascript

JS: Do not capture own variables
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
Owners: @github/codeql-javascript

Python: AttrRef getOjbect/1 -> accesses/2
  python/ql/src/semmle/python/dataflow/new/internal/Attributes.qll
Owners: @github/codeql-python

Revert "Python: Add getPostUpdateNode to DataFlow::Node"
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Owners: @github/codeql-python

Python: Fix code after removing `getPostUpdateNode`
  python/ql/src/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
Owners: @github/codeql-python

Python: Apply suggestions from code review
  python/ql/src/semmle/python/dataflow/new/internal/Attributes.qll
Owners: @github/codeql-python

Add CWE-348 ClientSuppliedIpUsedInSecurityCheck
  python/ql/src/experimental/Security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.py
  python/ql/src/experimental/Security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.qhelp
  python/ql/src/experimental/Security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.ql
  python/ql/src/experimental/Security/CWE-348/ClientSuppliedIpUsedInSecurityCheckLib.qll
  python/ql/test/experimental/query-tests/Security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.expected
  python/ql/test/experimental/query-tests/Security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.py
  python/ql/test/experimental/query-tests/Security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.qlref
Owners: @github/codeql-python, @xcorail

JS: Update tests
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
Owners: @github/codeql-javascript

Handle .inc.qhelp files
  .github/workflows/qhelp.yml
Owners: none

JS: Summarize steps into captured variables
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
Owners: @github/codeql-javascript

Escape file paths
  .github/workflows/qhelp.yml
Owners: none

Reduce size of `lookupMethodOrConst`
  ql/src/codeql_ruby/ast/internal/Module.qll
  ql/test/library-tests/ast/constants/constants.expected
  ql/test/library-tests/modules/methods.expected
Owners: none

Update `constants.rb` test
  ql/test/library-tests/ast/Ast.expected
  ql/test/library-tests/ast/constants/constants.expected
  ql/test/library-tests/ast/constants/constants.rb
Owners: none

Data flow through constants
  ql/src/codeql_ruby/ast/Constant.qll
  ql/src/codeql_ruby/ast/Module.qll
  ql/src/codeql_ruby/ast/internal/Module.qll
  ql/src/codeql_ruby/dataflow/internal/DataFlowPrivate.qll
  ql/test/library-tests/ast/constants/constants.expected
  ql/test/library-tests/ast/constants/constants.ql
  ql/test/library-tests/modules/methods.ql
Owners: none

C++: Replace cached with more efficient QL.
  cpp/ql/src/semmle/code/cpp/File.qll
Owners: @github/codeql-c-analysis

Java: Add signature to Map.put.
  java/ql/src/semmle/code/java/dataflow/internal/ContainerFlow.qll
Owners: @github/codeql-java

Java: Add test for override of Map.put highlighting problem.
  java/ql/test/library-tests/frameworks/JaxWs/JakartaRsFlow.java
Owners: @github/codeql-java

Java: Fix subtypes interpretation.
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/test/library-tests/frameworks/JaxWs/JakartaRsFlow.java
Owners: @github/codeql-java

Use Argument ranges in CSV rows
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
Owners: @github/codeql-java

Convert sql-related flow steps to CSV
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
Owners: @github/codeql-java
