Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

Add tests and change note.
  change-notes/1.24/analysis-go.md
  ql/test/library-tests/semmle/go/frameworks/SQL/QueryString.expected
  ql/test/library-tests/semmle/go/frameworks/SQL/main.go
  ql/test/query-tests/Security/CWE-089/main.go
Owners: none

Autoformat.
  ql/src/semmle/go/frameworks/SQL.qll
Owners: none

C++: Factored the body of MistypedFunctionArguments.ql out into a library file
  cpp/ql/src/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.qll
Owners: @Semmle/cpp-analysis

C++: Factored the body of TooFewArguments.ql out into a library file
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooFewArguments.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooFewArguments.qll
Owners: @Semmle/cpp-analysis

C++: Factored the body of TooManyArguments.ql out into a library file
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooManyArguments.ql
  cpp/ql/src/Likely Bugs/Underspecified Functions/TooManyArguments.qll
Owners: @Semmle/cpp-analysis

Update change-notes/1.24/analysis-javascript.md
  change-notes/1.24/analysis-javascript.md
Owners: none

C++: Fix formatting
  cpp/ql/src/Likely Bugs/Underspecified Functions/MistypedFunctionArguments.qll
Owners: @Semmle/cpp-analysis

C++: Use newly created library versions of the 'Underspecified Functions' queries in new ImplicitFunctionDeclaration query
  cpp/ql/src/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.ql
Owners: @Semmle/cpp-analysis

C++: Set branch for Odasa
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
  cpp/ql/src/semmle/code/cpp/exprs/BitwiseOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/ComparisonOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
  cpp/ql/src/semmlecode.cpp.dbscheme.stats
  cpp/upgrades/bd182f697bf1316c401421d64e582871331a69f4/old.dbscheme
  cpp/upgrades/bd182f697bf1316c401421d64e582871331a69f4/semmlecode.cpp.dbscheme
  cpp/upgrades/bd182f697bf1316c401421d64e582871331a69f4/upgrade.properties
Owners: @Semmle/cpp-analysis

Python: minor cleanup of UninitializedLocal
  python/ql/test/query-tests/Variables/undefined/UninitializedLocal.py
Owners: @Semmle/python

Java/C++/C#: Small perf improvement and simplification.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

JS: Ignore strict-mode-call-stack-introspection for expr stmts
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/LanguageFeatures/StrictModeCallStackIntrospection.ql
  javascript/ql/test/query-tests/LanguageFeatures/StrictModeCallStackIntrospection/StrictModeCallStackIntrospection.expected
  javascript/ql/test/query-tests/LanguageFeatures/StrictModeCallStackIntrospection/tst.js
Owners: @Semmle/js

Python: WIP Improve UninitializedLocal
  python/ql/src/Variables/UninitializedLocal.ql
  python/ql/test/2/query-tests/Variables/undefined/UninitializedLocal.py
  python/ql/test/query-tests/Variables/undefined/UninitializedLocal.py
Owners: @Semmle/python

Remove `Entity.getAUse()` and replace uses with `getAReference()`.
  ql/src/InconsistentCode/InconsistentLoopOrientation.ql
  ql/src/RedundantCode/DeadStoreOfLocal.ql
  ql/src/semmle/go/Scopes.qll
  ql/src/semmle/go/controlflow/IR.qll
  ql/src/semmle/go/dataflow/SSA.qll
  ql/test/library-tests/semmle/go/Scopes/DeclaredEntity.expected
  ql/test/library-tests/semmle/go/Scopes/EntityReference.expected
  ql/test/library-tests/semmle/go/Scopes/EntityReference.ql
  ql/test/library-tests/semmle/go/Scopes/EntityType.expected
  ql/test/library-tests/semmle/go/Scopes/EntityUse.expected
  ql/test/library-tests/semmle/go/Scopes/Methods.expected
  ql/test/library-tests/semmle/go/Scopes/main.go
  ql/test/library-tests/semmle/go/dataflow/SSA/VarUses.expected
Owners: none

JS: Build access paths for array accesses
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
Owners: @Semmle/js

JS: Add PrototypePollutionUtility query
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.qhelp
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/Security/CWE-400/examples/PrototypePollutionUtility.js
  javascript/ql/src/Security/CWE-400/examples/PrototypePollutionUtility_fixed.js
  javascript/ql/src/Security/CWE-400/examples/PrototypePollutionUtility_fixed2.js
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.qlref
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js, @mchammer01

JS: More sanitizers
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
Owners: @Semmle/js

JS: Support enumeration through Object.entries
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Add another test and more barriers
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Add test with typeof on value
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Do not require flow from key -> rhs
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
Owners: @Semmle/js

JS: Fix FPs from Object.create(null)
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Guard against more FPs
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Add qhelp samples to test suite
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/examples/PrototypePollutionUtility.js
  javascript/ql/test/query-tests/Security/CWE-400/examples/PrototypePollutionUtility_fixed.js
  javascript/ql/test/query-tests/Security/CWE-400/examples/PrototypePollutionUtility_fixed2.js
Owners: @Semmle/js

JS: Support Reflect.ownKeys
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Add regression test
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Add test for rephinement nodes
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Add sanitizer for "in" exprs
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Address review comments
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.qhelp
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
Owners: @mchammer01, @Semmle/js

JS: Add change note and fix cwe tags
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
Owners: @Semmle/js

Java/C++/C#: Address review comment.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Java: Replace ad-hoc TestClass detection.
  java/ql/src/semmle/code/java/UnitTests.qll
Owners: @Semmle/java

CPP: Correct test.
  cpp/ql/test/query-tests/jsf/4.13 Functions/AV Rule 114/test.cpp
Owners: @Semmle/cpp-analysis

CPP: Improve locations for AV Rule 114.ql.
  cpp/ql/src/jsf/4.13 Functions/AV Rule 114.ql
  cpp/ql/test/query-tests/jsf/4.13 Functions/AV Rule 114/AV Rule 114.expected
  cpp/ql/test/query-tests/jsf/4.13 Functions/AV Rule 114/test.cpp
Owners: @Semmle/cpp-analysis

CPP: Autoformat.
  cpp/ql/src/jsf/4.13 Functions/AV Rule 114.ql
Owners: @Semmle/cpp-analysis

CPP: Change note.
  change-notes/1.24/analysis-cpp.md
Owners: none

Fix a typo.
  ql/src/semmle/go/controlflow/IR.qll
Owners: none

Make `reads(ValueEntity)` and `writes(ValueEntity)` work for fields.
  ql/src/semmle/go/controlflow/IR.qll
Owners: none

Added dbscheme file
  cpp/ql/src/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis

Fix code that does not account for the fact that `Field` is a subtype of `ValueEntity`.
  ql/src/semmle/go/dataflow/GlobalValueNumbering.qll
  ql/src/semmle/go/dataflow/internal/DataFlowPrivate.qll
  ql/test/library-tests/semmle/go/dataflow/GlobalValueNumbering/regressions.go
Owners: none
