Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

C++: Get rid of the trivial 'True' condition. Turns out it's not actually needed.
  cpp/ql/src/semmle/code/cpp/controlflow/StackVariableReachability.qll
Owners: @github/codeql-c-analysis

Fix framework coverage commenting action
  misc/scripts/library-coverage/comment-pr.py
Owners: none

Rename predicate with snake cased name
  ql/test/library-tests/dataflow/api-graphs/use.ql
Owners: none

Mobile stubs
  java/ql/test/experimental/query-tests/security/CWE-094/options
  java/ql/test/experimental/stubs/jshell/jdk/jshell/JShell.java
  java/ql/test/experimental/stubs/jshell/jdk/jshell/Snippet.java
  java/ql/test/experimental/stubs/jshell/jdk/jshell/SnippetEvent.java
  java/ql/test/experimental/stubs/jshell/jdk/jshell/SourceCodeAnalysis.java
Owners: @github/codeql-java, @xcorail

Python: last batch of unittest for now
  python/ql/test/library-tests/regex/SubstructureTests.ql
  python/ql/test/library-tests/regex/escapedCharacterTest.py
  python/ql/test/library-tests/regex/groupTest.py
Owners: @github/codeql-python

C++: Add more random sources.
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
Owners: @github/codeql-c-analysis

DataFlow: Address review comments.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
Owners: @github/codeql-java, @github/codeql-go

Dataflow: Sync.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
Owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-go, @github/codeql-python

C++/C#/Java/Python: Add change notes.
  cpp/change-notes/2021-06-24-dataflow-implicit-reads.md
  csharp/change-notes/2021-06-24-dataflow-implicit-reads.md
  java/change-notes/2021-06-24-dataflow-implicit-reads.md
  python/change-notes/2021-06-24-dataflow-implicit-reads.md
Owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-python

Python: Do not use of `String::toUnicode` until it is shipped.
  python/ql/src/semmle/python/RegexTreeViewBindOld.qll
Owners: @github/codeql-python

Python: Rename directory
  python/ql/test/query-tests/Security/CWE-730/KnownCVEs.py
  python/ql/test/query-tests/Security/CWE-730/PolynomialBackTracking.expected
  python/ql/test/query-tests/Security/CWE-730/PolynomialBackTracking.qlref
  python/ql/test/query-tests/Security/CWE-730/ReDoS.expected
  python/ql/test/query-tests/Security/CWE-730/ReDoS.qlref
  python/ql/test/query-tests/Security/CWE-730/ReDoSRegexParsing.expected
  python/ql/test/query-tests/Security/CWE-730/ReDoSRegexParsing.ql
  python/ql/test/query-tests/Security/CWE-730/ReDosRegexHierarchy.expected
  python/ql/test/query-tests/Security/CWE-730/ReDosRegexHierarchy.ql
  python/ql/test/query-tests/Security/CWE-730/redos.py
  python/ql/test/query-tests/Security/CWE-730/unittests.py
Owners: @github/codeql-python

Python: rename directory
  python/ql/src/Security/CWE-730/PolynomialBackTracking.ql
  python/ql/src/Security/CWE-730/PolynomialReDoS.ql
  python/ql/src/Security/CWE-730/ReDoS.ql
  python/ql/src/Security/CWE-730/ReDoSUtil.qll
  python/ql/src/Security/CWE-730/SuperlinearBackTracking.qll
Owners: @github/codeql-python

Python: Rename file
  python/ql/src/Security/CWE-730/ReDoSUtil.qll
  python/ql/src/semmle/python/RegexTreeView.qll
  python/ql/src/semmle/python/security/dataflow/PolynomialReDoS.qll
Owners: @github/codeql-python

Python: remove test predicate
  python/ql/src/Security/CWE-730/PolynomialReDoS.ql
Owners: @github/codeql-python

Make initial changes for multi-db options
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/creating-codeql-databases.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/writing-codeql-queries/about-codeql-queries.rst
Owners: none

C++: Convert 'cpp/uncontrolled-arithmetic' to use a 'TaintTracking::Configuration'.
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/test.c
Owners: @github/codeql-c-analysis

C++: Block flow through all bitwise 'and' and 'or' operations. This seems to be a common source of false positives on LGTM.
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/ArithmeticUncontrolled.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/test.c
Owners: @github/codeql-c-analysis

C++: Add QLDoc.
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
Owners: @github/codeql-c-analysis

Add ConstantAccessCfgNode
  ql/src/codeql_ruby/controlflow/CfgNodes.qll
Owners: none

Refactor ApiGraphs.qll
  ql/src/codeql_ruby/ApiGraphs.qll
Owners: none

C++: Add change-note.
  cpp/change-notes/2021-06-24-uncontrolled-arithmetic.md
Owners: @github/codeql-c-analysis

Update build.yml
  .github/workflows/build.yml
Owners: none

Python: remember to update refs
  python/ql/test/query-tests/Security/CWE-730/PolynomialBackTracking.qlref
  python/ql/test/query-tests/Security/CWE-730/ReDoS.qlref
  python/ql/test/query-tests/Security/CWE-730/ReDoSRegexParsing.ql
  python/ql/test/query-tests/Security/CWE-730/ReDosRegexHierarchy.ql
Owners: @github/codeql-python

Remove unnecessary qualifier
  ql/src/codeql_ruby/controlflow/CfgNodes.qll
Owners: none

Python: refactor to allow sharing
  python/ql/src/Security/CWE-730/PolynomialBackTracking.ql
  python/ql/src/Security/CWE-730/ReDoS.ql
  python/ql/src/semmle/python/regex/ExponentialBackTracking.qll
  python/ql/src/semmle/python/regex/ReDoSUtil.qll
  python/ql/src/semmle/python/regex/RegExpTreeView.qll
  python/ql/src/semmle/python/regex/SuperlinearBackTracking.qll
Owners: @github/codeql-python

Address comment
  ql/src/codeql_ruby/ApiGraphs.qll
Owners: none

Split ReDoS query into .ql and .qll, and add .qhelp
  ql/src/codeql_ruby/regexp/ExponentialBackTracking.qll
  ql/src/codeql_ruby/regexp/ParseRegExp.qll
  ql/src/queries/security/cwe-1333/ReDoS.qhelp
  ql/src/queries/security/cwe-1333/ReDoS.ql
  ql/src/queries/security/cwe-1333/ReDoSIntroduction.inc.qhelp
  ql/src/queries/security/cwe-1333/ReDoSReferences.inc.qhelp
Owners: none

Python: Model `CookieWrite` for `aiohttp`
  python/ql/src/semmle/python/frameworks/Aiohttp.qll
  python/ql/test/library-tests/frameworks/aiohttp/response_test.py
Owners: @github/codeql-python

Python: Model `CookieWrite` for `flask`
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/test/library-tests/frameworks/flask/response_test.py
Owners: @github/codeql-python

Python: Model `CookieWrite` for `tornado`
  python/ql/src/semmle/python/frameworks/Tornado.qll
  python/ql/test/library-tests/frameworks/tornado/response_test.py
Owners: @github/codeql-python

Python: Model `CookieWrite` for `twisted`
  python/ql/src/semmle/python/frameworks/Twisted.qll
  python/ql/test/library-tests/frameworks/twisted/response_test.py
Owners: @github/codeql-python

Python: Add change-note for `CookieWrite`
  python/change-notes/2021-06-24-add-CookieWrite-concept.md
Owners: @github/codeql-python

Python: Minor django fixup
  python/ql/src/semmle/python/frameworks/Django.qll
Owners: @github/codeql-python

Python: Model `CookieWrite` for `django`
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/test/library-tests/frameworks/django-v2-v3/response_test.py
Owners: @github/codeql-python

Python: Add `HTTP::Server::CookieWrite` concept
  python/ql/src/semmle/python/Concepts.qll
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/library-tests/frameworks/aiohttp/response_test.py
  python/ql/test/library-tests/frameworks/django-v2-v3/response_test.py
  python/ql/test/library-tests/frameworks/flask/response_test.py
  python/ql/test/library-tests/frameworks/tornado/response_test.py
  python/ql/test/library-tests/frameworks/twisted/response_test.py
Owners: @github/codeql-python, @xcorail

Python: Port `py/clear-text-storage-sensitive-data`
  python/ql/src/Security/CWE-312/CleartextStorage.ql
  python/ql/src/experimental/Security-old-dataflow/CWE-312/CleartextLogging.ql
  python/ql/src/experimental/Security-old-dataflow/CWE-312/CleartextStorage.ql
  python/ql/src/semmle/python/security/dataflow/CleartextStorage.qll
  python/ql/src/semmle/python/security/dataflow/CleartextStorageCustomizations.qll
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage-py3/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage-py3/options
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/options
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/password_in_cookie.py
Owners: @github/codeql-python, @xcorail

make the package job depend on compile-queries
  .github/workflows/build.yml
Owners: none

Comment out temporarily-unused predicates
  ql/src/codeql_ruby/regexp/RegExpTreeView.qll
Owners: none

Fix printAst to support adding edges in AstDesugar test
  ql/src/codeql_ruby/printAst.qll
  ql/test/library-tests/ast/Ast.expected
  ql/test/library-tests/ast/AstDesugar.ql
Owners: none

C#: Handle CSV data-flow summaries with `out`/`ref` parameters
  csharp/ql/src/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.expected
  csharp/ql/test/library-tests/frameworks/JsonNET/Json.cs
  csharp/ql/test/library-tests/frameworks/JsonNET/Json.expected
Owners: @github/codeql-csharp
