Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205

Update change-notes/1.22/analysis-cpp.md
  change-notes/1.22/analysis-cpp.md
Owners: none

Add a note about QLDoc comments
  change-notes/1.22/analysis-cpp.md
Owners: none

Minor tidy up to release notes
  change-notes/1.22/analysis-java.md
Owners: none

Finalize release notes
  change-notes/1.22/analysis-javascript.md
Owners: none

JS: Add change note about CHA
  change-notes/1.22/analysis-javascript.md
Owners: none

Python: Update change note for 1.22.
  change-notes/1.22/analysis-python.md
Owners: none

C++: Fix lambda_capture upgrade query join order
  cpp/upgrades/814fae599505510ff15102f4c72600586734770a/lambda_capture.ql
Owners: @Semmle/cpp-analysis

C++: Reorganize the data flow change note
  change-notes/1.22/analysis-cpp.md
Owners: none

C++: Change note for flow through fields
  change-notes/1.22/analysis-cpp.md
Owners: none

C++: improved wording
  change-notes/1.22/analysis-cpp.md
Owners: none

Address review comments and add missing notes.
  change-notes/1.22/analysis-python.md
Owners: none

C++: Change note for getValueText change
  change-notes/1.22/analysis-cpp.md
Owners: none

Python points-to: Speed up binaryPointsTo predicate.
  python/ql/src/semmle/python/pointsto/PointsTo.qll
Owners: none

definitions.qll: Suppress multi-location links.
  cpp/ql/src/definitions.qll
Owners: @Semmle/cpp-analysis

Python: Remove tests for pruning in QL.
  python/ql/test/library-tests/ControlFlow/pruning/Constraint.expected
  python/ql/test/library-tests/ControlFlow/pruning/Constraint.ql
  python/ql/test/library-tests/ControlFlow/pruning/ContradictoryEdge.expected
  python/ql/test/library-tests/ControlFlow/pruning/ContradictoryEdge.ql
  python/ql/test/library-tests/ControlFlow/pruning/Pruned.expected
  python/ql/test/library-tests/ControlFlow/pruning/Pruned.ql
  python/ql/test/library-tests/ControlFlow/pruning/SimpleDead.expected
  python/ql/test/library-tests/ControlFlow/pruning/SimpleDead.ql
  python/ql/test/library-tests/ControlFlow/pruning/options
  python/ql/test/library-tests/ControlFlow/pruning/test.expected
  python/ql/test/library-tests/ControlFlow/pruning/test.py
  python/ql/test/library-tests/ControlFlow/pruning/test.ql
  python/ql/test/library-tests/PointsTo/guarded/options
  python/ql/test/library-tests/PointsTo/new/options
Owners: none

Python: Remove pruning in QL; rely on the extractor to do it.
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/Pruning.qll
Owners: none

[CPP-387] Add ClassDerivatio, VirtualClassDerivation, ExprCall. Remove ParenthesizedBracedInitializerList.
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: @felicity-semmle, @jf205

[CPP-387] Remove duplicate FriendDecl entry.
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: @felicity-semmle, @jf205

[CPP-387] Remove duplicate EnumConstant entry.
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: @felicity-semmle, @jf205

[PR/1660] Rename BuiltinVarList to BuiltinVarArgsList.
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
Owners: @Semmle/cpp-analysis

[PR/1660] Fix up charpred.
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
Owners: @Semmle/cpp-analysis

C++: Optimize SubBasicBlock::getNumberOfNodes()
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
Owners: @Semmle/cpp-analysis

C++: Optimize SubBasicBlock::getNode(int)
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
Owners: @Semmle/cpp-analysis

C++: Optimize SubBasicBlock::getPosInBasicBlock()
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
Owners: @Semmle/cpp-analysis

JS: Change notes for jump-to-def and documentation improvements
  change-notes/1.22/analysis-javascript.md
Owners: none

Update global variables
  docs/language/global-sphinx-files/global-conf.py
Owners: @felicity-semmle, @jf205

Update change-notes/1.22/analysis-javascript.md
  change-notes/1.22/analysis-javascript.md
Owners: none

C++: Sync the two copies of SubBasicBlocks.qll
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/controlflow/SubBasicBlocks.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
Owners: @Semmle/cpp-analysis

C++: Use the word "rank" to denote a rank
  cpp/ql/src/semmle/code/cpp/controlflow/SubBasicBlocks.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
Owners: @Semmle/cpp-analysis

C++: Simplify SubBasicBlock::getNumberOfNodes
  cpp/ql/src/semmle/code/cpp/controlflow/SubBasicBlocks.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
Owners: @Semmle/cpp-analysis

C++: s/pos/index/ in SubBasicBlocks
  cpp/ql/src/semmle/code/cpp/controlflow/SubBasicBlocks.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
Owners: @Semmle/cpp-analysis

C++: Remove one nomagic and explain the other
  cpp/ql/src/semmle/code/cpp/controlflow/SubBasicBlocks.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
Owners: @Semmle/cpp-analysis

docs: clang-ci support
  docs/language/support/language-support.rst
  docs/language/support/versions-compilers.csv
Owners: @felicity-semmle, @jf205

Python docs: Replace remaining references to old 'Object' API are replaced by new 'Value' API.
  docs/language/learn-ql/python/introduce-libraries-python.rst
  docs/language/learn-ql/python/taint-tracking.rst
Owners: @felicity-semmle, @jf205

Python docs: Remove all references to ClassExpr and FunctionExpr; we want to remove them eventually.
  docs/language/learn-ql/python/statements-expressions.rst
Owners: @felicity-semmle, @jf205

Python docs: remove confusing reference to SSA as 'dataflow' and add a reference to the taint-tracking library from the library overview page.
  docs/language/learn-ql/python/introduce-libraries-python.rst
Owners: @felicity-semmle, @jf205

C++: Performance fix for existsCompleteWithName
  cpp/ql/src/semmle/code/cpp/internal/ResolveClass.qll
Owners: @Semmle/cpp-analysis

C++: Restore and deprecate getPosInBasicBlock
  cpp/ql/src/semmle/code/cpp/controlflow/SubBasicBlocks.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/SubBasicBlocks.qll
Owners: @Semmle/cpp-analysis

C++: Don't use deprecated interface in test
  cpp/ql/test/library-tests/sub_basic_blocks/sbb_test.qll
Owners: @Semmle/cpp-analysis

JavaScript: Fix `DomMethodCallExpr.interpretsArgumentsAsHTML`.
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst3.js
Owners: @Semmle/js
