Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

Apply suggestion for ql help
  java/ql/src/Security/CWE/CWE-190/BuggyDivideAndConquer.qhelp
Owners: @felicitymay

Apply suggestion for ql help
  java/ql/src/Security/CWE/CWE-190/BuggyDivideAndConquer.qhelp
Owners: @felicitymay

Apply suggestion for ql help
  java/ql/src/Security/CWE/CWE-190/BuggyDivideAndConquer.qhelp
Owners: @felicitymay

Change query severity from error to warning
  java/ql/src/Security/CWE/CWE-190/BuggyDivideAndConquer.ql
Owners: @Semmle/java

C++: Add 'override' specifiers where I missed them.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
Owners: @Semmle/cpp-analysis

C#: More XPath injection sinks
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/frameworks/system/xml/XPath.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/XPathInjection.qll
  csharp/ql/test/query-tests/Security Features/CWE-643/XPathInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-643/XPathInjection.expected
Owners: @Semmle/cs

C++: Fix formatting
  cpp/ql/test/library-tests/arg_matching/arg_matching.ql
Owners: @Semmle/cpp-analysis

C++: .expected change (desirable).
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/StrncpyFlippedArgs/StrncpyFlippedArgs.expected
Owners: @Semmle/cpp-analysis

Remove security tag from query
  java/ql/src/Security/CWE/CWE-190/BuggyDivideAndConquer.ql
Owners: @Semmle/java

Simplify query, fix bug
  java/ql/src/Security/CWE/CWE-190/BuggyDivideAndConquer.ql
Owners: @Semmle/java

CWE-643 XPathInjection on Go
  ql/src/experimental/Security/CWE-643/XPathInjection.go
  ql/src/experimental/Security/CWE-643/XPathInjection.qhelp
  ql/src/experimental/Security/CWE-643/XPathInjection.ql
Owners: none

C++: Better IR for varargs
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

add extra sinks to js/tainted-path
  javascript/ql/src/semmle/javascript/frameworks/Files.qll
  javascript/ql/test/library-tests/frameworks/Concepts/FileAccess.expected
  javascript/ql/test/library-tests/frameworks/Concepts/FileNameSource.expected
  javascript/ql/test/library-tests/frameworks/Concepts/file-access.js
  javascript/ql/test/library-tests/frameworks/Concepts/tst-file-names.js
Owners: @Semmle/js

inline promiseStep predicate
  javascript/ql/src/semmle/javascript/Promises.qll
Owners: @Semmle/js

Autoformat
  csharp/ql/src/semmle/code/csharp/frameworks/system/xml/XPath.qll
Owners: @Semmle/cs

Address sensitive info logging
  java/ql/src/experimental/CWE-532/SensitiveInfoLog.java
  java/ql/src/experimental/CWE-532/SensitiveInfoLog.qhelp
  java/ql/src/experimental/CWE-532/SensitiveInfoLog.ql
Owners: @Semmle/java, @felicitymay

Fix the issue of mixed tabs and spaces
  java/ql/src/experimental/CWE-532/SensitiveInfoLog.java
Owners: @Semmle/java

C++: mustwrite = false.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
Owners: @Semmle/cpp-analysis

C++: Autoformat.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
Owners: @Semmle/cpp-analysis

Python: Autoformat `library-tests`.
  python/ql/test/library-tests/PointsTo/general/interesting.qll
  python/ql/test/library-tests/PointsTo/new/Util.qll
  python/ql/test/library-tests/state_tracking/Lib.qll
  python/ql/test/library-tests/taint/collections/Taint.qll
  python/ql/test/library-tests/taint/config/TaintLib.qll
  python/ql/test/library-tests/taint/dataflow/Config.qll
  python/ql/test/library-tests/taint/example/DilbertConfig.qll
  python/ql/test/library-tests/taint/extensions/ExtensionsLib.qll
  python/ql/test/library-tests/taint/general/TaintLib.qll
  python/ql/test/library-tests/taint/namedtuple/Taint.qll
  python/ql/test/library-tests/taint/strings/Taint.qll
Owners: @Semmle/python

Python: Autoformat `objects`.
  python/ql/src/semmle/python/objects/Callables.qll
  python/ql/src/semmle/python/objects/Classes.qll
  python/ql/src/semmle/python/objects/Constants.qll
  python/ql/src/semmle/python/objects/Descriptors.qll
  python/ql/src/semmle/python/objects/Instances.qll
  python/ql/src/semmle/python/objects/Modules.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/objects/ObjectInternal.qll
  python/ql/src/semmle/python/objects/Sequences.qll
  python/ql/src/semmle/python/objects/TObject.qll
Owners: @Semmle/python

Python: Autoformat `pointsto`.
  python/ql/src/semmle/python/pointsto/Base.qll
  python/ql/src/semmle/python/pointsto/CallGraph.qll
  python/ql/src/semmle/python/pointsto/Filters.qll
  python/ql/src/semmle/python/pointsto/Final.qll
  python/ql/src/semmle/python/pointsto/MRO.qll
  python/ql/src/semmle/python/pointsto/Overview.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/src/semmle/python/pointsto/PointsToContext.qll
Owners: @Semmle/python

Python: Autoformat `security`.
  python/ql/src/semmle/python/security/ClearText.qll
  python/ql/src/semmle/python/security/Crypto.qll
  python/ql/src/semmle/python/security/Exceptions.qll
  python/ql/src/semmle/python/security/Paths.qll
  python/ql/src/semmle/python/security/SQL.qll
  python/ql/src/semmle/python/security/SensitiveData.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/src/semmle/python/security/flow/AnyCall.qll
  python/ql/src/semmle/python/security/injection/Command.qll
  python/ql/src/semmle/python/security/injection/Deserialization.qll
  python/ql/src/semmle/python/security/injection/Exec.qll
  python/ql/src/semmle/python/security/injection/Marshal.qll
  python/ql/src/semmle/python/security/injection/Path.qll
  python/ql/src/semmle/python/security/injection/Pickle.qll
  python/ql/src/semmle/python/security/injection/Sql.qll
  python/ql/src/semmle/python/security/injection/Xml.qll
  python/ql/src/semmle/python/security/injection/Yaml.qll
  python/ql/src/semmle/python/security/strings/Basic.qll
  python/ql/src/semmle/python/security/strings/Common.qll
  python/ql/src/semmle/python/security/strings/External.qll
  python/ql/src/semmle/python/security/strings/Untrusted.qll
Owners: @Semmle/python

Python: Autoformat `values`.
  python/ql/src/semmle/python/types/Builtins.qll
  python/ql/src/semmle/python/types/ClassObject.qll
  python/ql/src/semmle/python/types/Descriptors.qll
  python/ql/src/semmle/python/types/Exceptions.qll
  python/ql/src/semmle/python/types/Extensions.qll
  python/ql/src/semmle/python/types/FunctionObject.qll
  python/ql/src/semmle/python/types/ImportTime.qll
  python/ql/src/semmle/python/types/ModuleKind.qll
  python/ql/src/semmle/python/types/ModuleObject.qll
  python/ql/src/semmle/python/types/Object.qll
  python/ql/src/semmle/python/types/Properties.qll
  python/ql/src/semmle/python/types/Version.qll
Owners: @Semmle/python

Python: Autoformat `web`.
  python/ql/src/semmle/python/web/Http.qll
  python/ql/src/semmle/python/web/HttpConstants.qll
  python/ql/src/semmle/python/web/HttpRedirect.qll
  python/ql/src/semmle/python/web/django/General.qll
  python/ql/src/semmle/python/web/django/Request.qll
  python/ql/src/semmle/python/web/falcon/General.qll
  python/ql/src/semmle/python/web/tornado/Tornado.qll
  python/ql/src/semmle/python/web/webob/Request.qll
Owners: @Semmle/python

Python: Autoformat `semmle/python` top-level.
  python/ql/src/semmle/python/AstExtended.qll
  python/ql/src/semmle/python/AstGenerated.qll
  python/ql/src/semmle/python/Class.qll
  python/ql/src/semmle/python/Comment.qll
  python/ql/src/semmle/python/Comparisons.qll
  python/ql/src/semmle/python/Comprehensions.qll
  python/ql/src/semmle/python/Constants.qll
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/Files.qll
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/Function.qll
  python/ql/src/semmle/python/GuardedControlFlow.qll
  python/ql/src/semmle/python/Import.qll
  python/ql/src/semmle/python/Keywords.qll
  python/ql/src/semmle/python/Metrics.qll
  python/ql/src/semmle/python/Module.qll
  python/ql/src/semmle/python/Operations.qll
  python/ql/src/semmle/python/SSA.qll
  python/ql/src/semmle/python/Scope.qll
  python/ql/src/semmle/python/SelfAttribute.qll
  python/ql/src/semmle/python/Stmts.qll
  python/ql/src/semmle/python/TestUtils.qll
  python/ql/src/semmle/python/Variables.qll
Owners: @Semmle/python

Python: Autoformat rest of `semmle/python`.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/dependencies/Dependencies.qll
  python/ql/src/semmle/python/dependencies/DependencyKind.qll
  python/ql/src/semmle/python/dependencies/TechInventory.qll
  python/ql/src/semmle/python/essa/Definitions.qll
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/essa/SsaCompute.qll
  python/ql/src/semmle/python/essa/SsaDefinitions.qll
  python/ql/src/semmle/python/filters/GeneratedCode.qll
  python/ql/src/semmle/python/filters/Tests.qll
  python/ql/src/semmle/python/libraries/Zope.qll
  python/ql/src/semmle/python/protocols.qll
  python/ql/src/semmle/python/regex.qll
  python/ql/src/semmle/python/strings.qll
  python/ql/src/semmle/python/templates/PyxlTags.qll
  python/ql/src/semmle/python/templates/Templates.qll
  python/ql/src/semmle/python/values/StringAttributes.qll
Owners: @Semmle/python

Python: Autoformat query-local libs.
  python/ql/src/Classes/ClassAttributes.qll
  python/ql/src/Classes/Equality.qll
  python/ql/src/Classes/MethodCallOrder.qll
  python/ql/src/Exceptions/NotImplemented.qll
  python/ql/src/Exceptions/Raising.qll
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Expressions/Formatting/AdvancedFormatting.qll
  python/ql/src/Expressions/IsComparisons.qll
  python/ql/src/Expressions/RedundantComparison.qll
  python/ql/src/Lexical/CommentedOutCode.qll
  python/ql/src/Metrics/Internal/Extents.qll
  python/ql/src/Testing/Mox.qll
  python/ql/src/analysis/CrossProjectDefinitions.qll
  python/ql/src/analysis/DefinitionTracking.qll
Owners: @Semmle/python

Python: Autoformat remaining `.qll`.
  python/ql/src/default.qll
  python/ql/src/external/CodeDuplication.qll
  python/ql/src/external/DefectFilter.qll
  python/ql/src/external/ExternalArtifact.qll
  python/ql/src/external/Thrift.qll
  python/ql/src/external/VCS.qll
  python/ql/src/python.qll
  python/ql/src/semmle/crypto/Crypto.qll
  python/ql/src/semmle/files/FileSystem.qll
Owners: @Semmle/python

C++: More missing override tags.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcat.qll
Owners: @Semmle/cpp-analysis

C++: Fix handling of `std::va_list` that is used as a function parameter
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cpp-analysis

C++: Implement Instruction.isResultConflated
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Add missing Qldoc for modules.
  ql/src/RedundantCode/Clones.qll
  ql/src/semmle/go/Concepts.qll
  ql/src/semmle/go/StringOps.qll
  ql/src/semmle/go/controlflow/IR.qll
  ql/src/semmle/go/dataflow/DataFlow.qll
  ql/src/semmle/go/dataflow/SSA.qll
  ql/src/semmle/go/dataflow/TaintTracking.qll
  ql/src/semmle/go/frameworks/Glog.qll
  ql/src/semmle/go/frameworks/Logrus.qll
  ql/src/semmle/go/frameworks/SQL.qll
  ql/src/semmle/go/frameworks/Stdlib.qll
  ql/src/semmle/go/security/AllocationSizeOverflow.qll
  ql/src/semmle/go/security/AllocationSizeOverflowCustomizations.qll
  ql/src/semmle/go/security/CleartextLogging.qll
  ql/src/semmle/go/security/CleartextLoggingCustomizations.qll
  ql/src/semmle/go/security/CommandInjection.qll
  ql/src/semmle/go/security/CommandInjectionCustomizations.qll
  ql/src/semmle/go/security/FlowSources.qll
  ql/src/semmle/go/security/OpenUrlRedirect.qll
  ql/src/semmle/go/security/OpenUrlRedirectCustomizations.qll
  ql/src/semmle/go/security/ReflectedXss.qll
  ql/src/semmle/go/security/ReflectedXssCustomizations.qll
  ql/src/semmle/go/security/SensitiveActions.qll
  ql/src/semmle/go/security/SqlInjection.qll
  ql/src/semmle/go/security/SqlInjectionCustomizations.qll
  ql/src/semmle/go/security/StringBreak.qll
  ql/src/semmle/go/security/StringBreakCustomizations.qll
  ql/src/semmle/go/security/TaintedPath.qll
  ql/src/semmle/go/security/TaintedPathCustomizations.qll
  ql/src/semmle/go/security/ZipSlip.qll
  ql/src/semmle/go/security/ZipSlipCustomizations.qll
Owners: none

C++: accept extractor changes to IR
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
Owners: @Semmle/cpp-analysis

C++: Fix formatting
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
Owners: @Semmle/cpp-analysis

Added experimental SockJS support
  javascript/ql/src/experimental/SockJS/SockJS.qll
  javascript/ql/src/experimental/SockJS/examples/server.js
Owners: @Semmle/js

C++: Remove redundant case
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Apply suggestions from review
  ql/src/experimental/Security/CWE-643/XPathInjection.qhelp
  ql/src/experimental/Security/CWE-643/XPathInjection.ql
Owners: none

Update xpath example, use goxpath package
  ql/src/experimental/Security/CWE-643/XPathInjection.go
Owners: none

Restructure query, add default sanitizer
  ql/src/experimental/Security/CWE-643/XPathInjection.ql
Owners: none

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
