Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

Add models for Apache Commons tuples
  java/ql/src/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/test/library-tests/frameworks/apache-commons-lang3/PairTest.java
  java/ql/test/library-tests/frameworks/apache-commons-lang3/TripleTest.java
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/tuple/ImmutablePair.java
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/tuple/ImmutableTriple.java
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/tuple/MutablePair.java
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/tuple/MutableTriple.java
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/tuple/Pair.java
  java/ql/test/stubs/apache-commons-lang3-3.7/org/apache/commons/lang3/tuple/Triple.java
Owners: @github/codeql-java

C++: Test spacing.
  cpp/ql/test/query-tests/Security/CWE/CWE-327/BrokenCryptoAlgorithm.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-327/test2.cpp
Owners: @github/codeql-c-analysis

Model constructors for (Imm|M)utable(Pair|Triple)
  java/ql/src/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/test/library-tests/frameworks/apache-commons-lang3/PairTest.java
  java/ql/test/library-tests/frameworks/apache-commons-lang3/TripleTest.java
Owners: @github/codeql-java

Add change note
  java/change-notes/2021-05-11-apache-tuples.md
Owners: @github/codeql-java

Order left and right consistently
  java/ql/src/semmle/code/java/frameworks/apache/Lang.qll
Owners: @github/codeql-java

Add tests for Pair.of and Triple.of
  java/ql/test/library-tests/frameworks/apache-commons-lang3/PairTest.java
  java/ql/test/library-tests/frameworks/apache-commons-lang3/TripleTest.java
Owners: @github/codeql-java

C++: Add a test case involving an array.
  cpp/ql/test/query-tests/Security/CWE/CWE-327/BrokenCryptoAlgorithm.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-327/test2.cpp
Owners: @github/codeql-c-analysis

C++: Fix some incorrect uses of 'const' in the tests.
  cpp/ql/test/query-tests/Security/CWE/CWE-327/test2.cpp
Owners: @github/codeql-c-analysis

C++: Exclude template code.
  cpp/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-327/BrokenCryptoAlgorithm.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-327/test2.cpp
Owners: @github/codeql-c-analysis

Improve style of interpretField
  java/ql/src/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
Owners: @github/codeql-java

Field foo of -> Field[foo] of
  java/ql/src/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/src/semmle/code/java/frameworks/apache/Lang.qll
Owners: @github/codeql-java

C#: Adjust `getQualifiedName` for type parameters
  csharp/change-notes/2021-06-16-qualified-names.md
  csharp/ql/src/semmle/code/csharp/Generics.qll
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.cs
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
  csharp/ql/test/library-tests/dispatch/GetADynamicTarget.expected
  csharp/ql/test/library-tests/generics/Generics.expected
  csharp/ql/test/library-tests/overrides/Overrides22.expected
Owners: @github/codeql-csharp

Add `RequestForgerySanitizer`
  java/ql/src/Security/CWE/CWE-749/UnsafeAndroidAccess.ql
  java/ql/test/query-tests/security/CWE-749/UnsafeAndroidAccess.java
  java/ql/test/query-tests/security/CWE-749/UnsafeAndroidAccessTest.ql
Owners: @github/codeql-java

Fix test comments
  java/ql/test/query-tests/security/CWE-749/UnsafeAndroidAccess.java
Owners: @github/codeql-java

C++: Repair funcion call in a function call.
  cpp/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-327/BrokenCryptoAlgorithm.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-327/test2.cpp
Owners: @github/codeql-c-analysis

C++: Exclude functions that don't involve buffers.
  cpp/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-327/BrokenCryptoAlgorithm.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-327/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-327/test2.cpp
Owners: @github/codeql-c-analysis

C++: Increase query precision to high.
  cpp/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.ql
Owners: @github/codeql-c-analysis

Tidy up PotentiallyUnsafeSqlExecutingMethodCall characteristic predicate
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
Owners: none

try to avoid a future merge conflict
  ql/test/library-tests/frameworks/ActiveRecordInjection.rb
Owners: none

Add QLDoc to ActiveRecord.qll
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
Owners: none

remove recvCls field from ActiveRecordModelClassMethodCall
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
Owners: none

Extend qhelp references
  python/ql/src/experimental/Security/CWE-943/NoSQLInjection.qhelp
Owners: @github/codeql-python, @xcorail

Rename mongoclient tests
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_subscript_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_subscript_good.py
Owners: @github/codeql-python, @xcorail

Port to Decoding
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/src/experimental/semmle/python/security/injection/NoSQLInjection.qll
Owners: @github/codeql-python, @xcorail

Polish Concepts documentation
  python/ql/src/experimental/semmle/python/Concepts.qll
Owners: @github/codeql-python, @xcorail

Update .expected
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
Owners: @github/codeql-python, @xcorail

Python: Extensions needed for polynomial ReDoS
  python/ql/src/semmle/python/RegexTreeViewBindOld.qll
Owners: @github/codeql-python

Remove unnecessary spaces in TRAP output
  extractor/src/extractor.rs
Owners: none

Use hexadecimal encoding for TRAP labels
  extractor/src/extractor.rs
Owners: none

Add .qlref
  python/ql/src/experimental/Security/CWE-287/examples/ImproperLdapAuth.qlref
Owners: @github/codeql-python, @xcorail

Change qhelp explanation
  python/ql/src/experimental/Security/CWE-287/ImproperLdapAuth.qhelp
Owners: @github/codeql-python, @xcorail

Rework LDAP framework modeling
  python/ql/src/experimental/semmle/python/frameworks/LDAP.qll
Owners: @github/codeql-python, @xcorail

Change query objective
  python/ql/src/experimental/Security/CWE-287/ImproperLdapAuth.ql
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/src/experimental/semmle/python/security/LDAPImproperAuth.qll
Owners: @github/codeql-python, @xcorail

Update .expected
  python/ql/src/experimental/Security/CWE-287/examples/ImproperLdapAuth.qlref
  python/ql/test/experimental/query-tests/Security/CWE-287/ImproperLdapAuth.expected
Owners: @github/codeql-python, @xcorail

C#: Cache `NamedElement::hasQualifiedName/2`
  csharp/ql/src/semmle/code/dotnet/Element.qll
Owners: @github/codeql-csharp

C#: Remove bad magic
  csharp/ql/src/semmle/code/csharp/Member.qll
Owners: @github/codeql-csharp

Python: expose predicate
  python/ql/src/semmle/python/regex.qll
Owners: @github/codeql-python

Python: Configurations for Polynomial ReDoS
  python/ql/src/semmle/python/security/dataflow/PolynomialReDoS.qll
Owners: @github/codeql-python

Python: Add `SuperLinearBacktracking.qll`
  python/ql/src/Security/CWE-730-bind-old/SuperlinearBackTracking.qll
Owners: @github/codeql-python

Python: Polynomial ReDoS query (+ a test query)
  python/ql/src/Security/CWE-730-bind-old/PolynomialBackTracking.ql
  python/ql/src/Security/CWE-730-bind-old/PolynomialReDoS.ql
Owners: @github/codeql-python
