Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

Python new taint-tracking: Fix some typos and clarify documentation.
  python/ql/src/semmle/python/dataflow/Configuration.qll
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/test/library-tests/taint/config/RockPaperScissors.expected
  python/ql/test/library-tests/taint/config/RockPaperScissors.ql
Owners: none

docs: make use of includes for local and global data flow slides
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/java/global-data-flow-java.rst
  docs/language/ql-training-rst/slide-snippets/global-data-flow.rst
  docs/language/ql-training-rst/slide-snippets/local-data-flow.rst
  docs/language/ql-training-rst/slide-snippets/path-queries.rst
Owners: @felicity-semmle, @jf205

docs: add template slide deck
  docs/language/ql-training-rst/index.rst
  docs/language/ql-training-rst/template.rst
Owners: @felicity-semmle, @jf205

docs: fix include in data flow slides
  docs/language/ql-training-rst/java/apache-struts-java.rst
  docs/language/ql-training-rst/java/data-flow-java.rst
Owners: @felicity-semmle, @jf205

C#: Refactor local data flow step relations
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
Owners: @Semmle/cs

Python taint-tracking: Add documented example test.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/test/library-tests/taint/example/DilbertConfig.qll
  python/ql/test/library-tests/taint/example/Edges.expected
  python/ql/test/library-tests/taint/example/Edges.ql
  python/ql/test/library-tests/taint/example/ExampleConfig.expected
  python/ql/test/library-tests/taint/example/ExampleConfig.ql
  python/ql/test/library-tests/taint/example/Nodes.expected
  python/ql/test/library-tests/taint/example/Nodes.ql
  python/ql/test/library-tests/taint/example/example.py
Owners: none

Python taint-tracking. Add an adapter for old 'dataflow config'.
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/test/library-tests/taint/dataflow/Dataflow.expected
  python/ql/test/library-tests/taint/dataflow/TestNode.expected
Owners: none

Python taint-tracking. Reorder columns in some tests for easier comprehension of expected output.
  python/ql/test/library-tests/taint/config/TestNode.expected
  python/ql/test/library-tests/taint/config/TestNode.ql
  python/ql/test/library-tests/taint/config/TestSink.expected
  python/ql/test/library-tests/taint/config/TestSink.ql
  python/ql/test/library-tests/taint/general/Contexts.expected
  python/ql/test/library-tests/taint/general/Contexts.ql
Owners: none

C++: Improve name/descr. of leap year queries
  cpp/ql/src/Likely Bugs/Leap Year/Adding365DaysPerYear.ql
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
Owners: @Semmle/cpp-analysis

docs: fix speaker note bug
  docs/language/ql-training-rst/_static-training/slides-semmle-2/layout.html
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
Owners: @felicity-semmle, @jf205

C++: Tweak the getValueText() code
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
Owners: @Semmle/cpp-analysis

CPP: Add a scoped enum example.
  cpp/ql/src/semmle/code/cpp/Enum.qll
Owners: @Semmle/cpp-analysis

Python docs: Fix typos and rst formatting issue.
  docs/language/learn-ql/python/introduce-libraries-python.rst
Owners: @felicity-semmle, @jf205

Python: Add change note for CWE-312 queries.
  change-notes/1.23/analysis-python.md
Owners: none

CPP: Add a new, combined Japanese era query.
  cpp/ql/src/Best Practices/Magic Constants/JapaneseEraDate.qhelp
  cpp/ql/src/Best Practices/Magic Constants/JapaneseEraDate.ql
Owners: @semmledocs-ac, @Semmle/cpp-analysis

CPP: Give the two japanese era queries unique @names.
  cpp/ql/src/Likely Bugs/JapaneseEra/ConstructorOrMethodWithExactEraDate.ql
  cpp/ql/src/Likely Bugs/JapaneseEra/StructWithExactEraDate.ql
Owners: @Semmle/cpp-analysis

CPP: Deprecate the two old queries.
  cpp/ql/src/Likely Bugs/JapaneseEra/ConstructorOrMethodWithExactEraDate.ql
  cpp/ql/src/Likely Bugs/JapaneseEra/StructWithExactEraDate.ql
Owners: @Semmle/cpp-analysis

C#: Treat _ as an ordinary variable in a foreach.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/ForEach.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/TypeMention.cs
  csharp/ql/test/library-tests/regressions/Program.cs
  csharp/ql/test/library-tests/regressions/TypeMentions.expected
Owners: @Semmle/cs

C#: Add NamespaceAccess, and make namespaces declarations.
  csharp/ql/src/semmle/code/csharp/Namespace.qll
  csharp/ql/src/semmle/code/csharp/exprs/Access.qll
  csharp/ql/test/library-tests/regressions/NameOf.expected
Owners: @Semmle/cs

C#: Add namespace_access_expr because of nameof(Namespace)
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Access.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Name.cs
  csharp/extractor/Semmle.Extraction.CSharp/Kinds/ExprKind.cs
  csharp/ql/src/semmlecode.csharp.dbscheme.stats
  csharp/ql/test/library-tests/regressions/Program.cs
  csharp/ql/test/library-tests/regressions/TypeMentions.expected
  csharp/upgrades/d8a619a011a649390ee658cbbceaa1241e08f24b/old.dbscheme
  csharp/upgrades/d8a619a011a649390ee658cbbceaa1241e08f24b/semmlecode.csharp.dbscheme
  csharp/upgrades/d8a619a011a649390ee658cbbceaa1241e08f24b/upgrade.properties
Owners: @Semmle/cs

C#: Fix typementions of arrays.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/TypeMention.cs
  csharp/ql/test/library-tests/regressions/Program.cs
  csharp/ql/test/library-tests/regressions/TypeMentions.expected
Owners: @Semmle/cs

C#: Minor edits
  csharp/extractor/Semmle.Extraction.CSharp/Entities/TypeMention.cs
  csharp/ql/test/library-tests/regressions/Program.cs
Owners: @Semmle/cs

C#: Analysis change notes.
  change-notes/1.23/analysis-csharp.md
Owners: none

C#: Update expected test output.
  csharp/ql/test/library-tests/assignables/AssignableDefinition.expected
  csharp/ql/test/library-tests/assignables/AssignableDefinitionNode.expected
  csharp/ql/test/library-tests/assignables/Assignables.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/exprorstmtparent/Declaration.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Owners: @Semmle/cs

C#: Name DotNet::Namespace a declaration.
  csharp/ql/src/semmle/code/dotnet/Namespace.qll
Owners: @Semmle/cs

CPP: Add a combined test for the combined query.
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/ConstructorOrMethodWithExactDate.cpp
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/JapaneseEraDate.expected
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/JapaneseEraDate.qlref
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/StructWithExactDate.cpp
Owners: @Semmle/cpp-analysis

CPP: Remove the old test. I don't think preserving a duplicate test of deprecated queries is helpful.
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/ConstructorOrMethodWithExactDate.cpp
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/ConstructorOrMethodWithExactEraDate.expected
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/ConstructorOrMethodWithExactEraDate.qlref
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/StructWithExactDate.cpp
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/StructWithExactEraDate.expected
  cpp/ql/test/query-tests/Likely Bugs/Japanese Era/StructWithExactEraDate.qlref
Owners: @Semmle/cpp-analysis

C#: Update test output (following merge).
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
Owners: @Semmle/cs

CPP: Change note.
  change-notes/1.23/analysis-cpp.md
Owners: none

C#: Introduce `BarrierGuard`s
  change-notes/1.23/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/TaintedPath.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/UrlRedirect.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/ZipSlip.qll
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/Common.qll
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/TaintTracking.ql
  csharp/ql/test/library-tests/dataflow/local/Common.qll
  csharp/ql/test/library-tests/dataflow/local/DataFlow.ql
  csharp/ql/test/library-tests/dataflow/local/TaintTracking.ql
Owners: @Semmle/cs

C#: Revert to using `GuardedDataFlowNode` in `TaintedPath.qll`
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/TaintedPath.qll
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/Common.qll
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/TaintTracking.ql
  csharp/ql/test/library-tests/dataflow/local/Common.qll
  csharp/ql/test/library-tests/dataflow/local/DataFlow.ql
  csharp/ql/test/library-tests/dataflow/local/TaintTracking.ql
Owners: @Semmle/cs

C#: Address review comments
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/TaintedPath.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/UrlRedirect.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/ZipSlip.qll
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/Common.qll
  csharp/ql/test/library-tests/dataflow/local/Common.qll
Owners: @Semmle/cs

C++: Sync identical files
  cpp/ql/src/semmle/code/cpp/ir/implementation/EdgeKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/MemoryAccessKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/TempVariableTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/OperandTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/TIRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IntegerConstant.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IntegerInterval.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IntegerPartial.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/Overlap.qll
Owners: @Semmle/cpp-analysis

C#: Tidy up CommentProcessing.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CommentBlock.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CommentLine.cs
  csharp/extractor/Semmle.Extraction.CSharp/Tuples.cs
  csharp/extractor/Semmle.Extraction/CommentProcessing.cs
  csharp/extractor/Semmle.Extraction/Comments.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/LocationExtensions.cs
Owners: @Semmle/cs

C#: Refactoring tuple writing to remove Tuple intermediate object and write straight to trap file.
  csharp/extractor/Semmle.Extraction/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction/Entities/ExtractionError.cs
  csharp/extractor/Semmle.Extraction/Entities/File.cs
  csharp/extractor/Semmle.Extraction/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction/Entities/GeneratedLocation.cs
  csharp/extractor/Semmle.Extraction/Entities/SourceLocation.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Extraction/Tuples.cs
Owners: @Semmle/cs

C#: Rename some methods.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Initializer.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Invocation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/IsPattern.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Lambda.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ObjectCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Query.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/VariableDeclaration.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/NamespaceDeclaration.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Case.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/ForEach.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/Goto.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/LocalFunction.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TypeParameter.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/UsingDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/CompilationUnit.cs
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entity.cs
  csharp/extractor/Semmle.Extraction/Id.cs
  csharp/extractor/Semmle.Extraction/InternalError.cs
  csharp/extractor/Semmle.Extraction/Tuple.cs
Owners: @Semmle/cs

CPP: Add taint tests for std::string etc.
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

C#: Resolve merge conflicts.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
Owners: @Semmle/cs

C#: Make the trap compression algorithm configurable.
  csharp/extractor/Semmle.Extraction.CIL.Driver/ExtractorOptions.cs
  csharp/extractor/Semmle.Extraction.CIL.Driver/Program.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CSharp/Analyser.cs
  csharp/extractor/Semmle.Extraction.Tests/Layout.cs
  csharp/extractor/Semmle.Extraction/Layout.cs
  csharp/extractor/Semmle.Extraction/Options.cs
  csharp/extractor/Semmle.Extraction/TrapExtensions.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
Owners: @Semmle/cs

C#: Compare CIL entities directly by handle rather than by label. C#: Remove IDs from the CIL extractor and make consistent with C# extractor. C#: Fix method collisions.
  csharp/extractor/Semmle.Extraction.CIL/Context.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Event.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/File.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/LocalVariable.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Namespace.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Parameter.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/SourceLocation.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/extractor/Semmle.Extraction.CIL/ExtractionProduct.cs
  csharp/extractor/Semmle.Extraction.CIL/Factories.cs
  csharp/extractor/Semmle.Extraction.CIL/Id.cs
  csharp/extractor/Semmle.Extraction.CIL/Semmle.Extraction.CIL.csproj
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Modifier.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/UsingDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Tuples.cs
  csharp/extractor/Semmle.Extraction/CommentProcessing.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction/Entity.cs
  csharp/extractor/Semmle.Extraction/Id.cs
  csharp/extractor/Semmle.Extraction/Options.cs
  csharp/extractor/Semmle.Extraction/Symbol.cs
  csharp/extractor/Semmle.Extraction/TrapExtensions.cs
  csharp/extractor/Semmle.Extraction/Tuple.cs
  csharp/extractor/Semmle.Util/IEnumerableExtensions.cs
Owners: @Semmle/cs

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205
