Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

Shorten example code
  ql/src/Security/CWE-643/XPathInjection.go
Owners: none

C++: Fix test expectations for complex literals
  cpp/ql/test/library-tests/literals/literals/literals.expected
Owners: @Semmle/cpp-analysis

Add byte slice type
  ql/src/semmle/go/Types.qll
  ql/src/semmle/go/security/XPathInjectionCustomizations.qll
Owners: none

fixed typo "the the"
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

the ``expression`` => ``<expression>``
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

Update docs/language/ql-handbook/expressions.rst
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

"and hence" => ", so"
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

"aggregation yields" => "query returns"
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

Try to fix test
  ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  ql/test/query-tests/Security/CWE-643/XPathInjection.go
  ql/test/query-tests/Security/CWE-643/go.mod
  ql/test/query-tests/Security/CWE-643/vendor/github.com/ChrisTrenkamp/goxpath/LICENSE
  ql/test/query-tests/Security/CWE-643/vendor/github.com/ChrisTrenkamp/goxpath/README.md
  ql/test/query-tests/Security/CWE-643/vendor/github.com/ChrisTrenkamp/goxpath/goxpath.go
  ql/test/query-tests/Security/CWE-643/vendor/github.com/ChrisTrenkamp/goxpath/tree/tree.go
  ql/test/query-tests/Security/CWE-643/vendor/modules.txt
Owners: none

Python: Constrain execution paths for taint_at_depth
  python/ql/src/semmle/python/dataflow/Implementation.qll
Owners: @Semmle/python

Review feeback for OpenStream
  java/ql/src/experimental/Security/CWE/CWE-036/OpenStream.ql
Owners: @Semmle/java

Fix OpenStream documentation
  java/ql/src/experimental/Security/CWE/CWE-036/OpenStream.qhelp
Owners: @felicitymay

C++: Replace "min = max" with "unique"
  cpp/ql/src/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/src/semmle/code/cpp/controlflow/internal/ConstantExprs.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/constant/ConstantAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/constant/ConstantAnalysis.qll
Owners: @Semmle/cpp-analysis

Update language.rst
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

add code scanning suites
  cpp/ql/src/codeql-suites/cpp-code-scanning.qls
  csharp/ql/src/codeql-suites/csharp-code-scanning.qls
  java/ql/src/codeql-suites/java-code-scanning.qls
  javascript/ql/src/codeql-suites/javascript-code-scanning.qls
  misc/suite-helpers/code-scanning-selectors.yml
  python/ql/src/codeql-suites/python-code-scanning.qls
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python

add code scanning suites
  ql/src/codeql-suites/go-code-scanning.qls
Owners: none

C#: Enable nullability in Autobuilder.
  csharp/autobuilder/Semmle.Autobuild.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild/AspBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild/AutobuildOptions.cs
  csharp/autobuilder/Semmle.Autobuild/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild/BuildCommandAutoRule.cs
  csharp/autobuilder/Semmle.Autobuild/BuildScript.cs
  csharp/autobuilder/Semmle.Autobuild/CommandBuilder.cs
  csharp/autobuilder/Semmle.Autobuild/DotNetRule.cs
  csharp/autobuilder/Semmle.Autobuild/MsBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild/Program.cs
  csharp/autobuilder/Semmle.Autobuild/Project.cs
  csharp/autobuilder/Semmle.Autobuild/ProjectOrSolution.cs
  csharp/autobuilder/Semmle.Autobuild/Semmle.Autobuild.csproj
  csharp/autobuilder/Semmle.Autobuild/Solution.cs
  csharp/autobuilder/Semmle.Autobuild/StandaloneBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild/XmlBuildRule.cs
  csharp/extractor/Semmle.Util.Tests/Semmle.Util.Tests.csproj
Owners: @Semmle/cs

Ignore type incompatible sinks
  ql/src/Security/CWE-643/XPathInjection.ql
  ql/src/semmle/go/security/XPathInjectionCustomizations.qll
Owners: none

C++: Better support for complex numbers in IR and AST
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/IRType.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/CppType.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/complex.c
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/types/complex.c
  cpp/ql/test/library-tests/ir/types/irtypes.cpp
  cpp/ql/test/library-tests/ir/types/irtypes.expected
  cpp/ql/test/library-tests/ir/types/irtypes.ql
  csharp/ql/src/semmle/code/csharp/ir/implementation/IRType.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/CSharpType.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Remove user ids from the check since they get logged a lot and are less sensitive
  java/ql/src/experimental/CWE-532/SensitiveInfoLog.ql
Owners: @Semmle/java

C++/C#: Fix formatting
  cpp/ql/src/semmle/code/cpp/ir/implementation/IRType.qll
  cpp/ql/test/library-tests/ir/types/irtypes.ql
  csharp/ql/src/semmle/code/csharp/ir/implementation/IRType.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++: Fix test output
  cpp/ql/test/library-tests/variables/variables/types.expected
Owners: @Semmle/cpp-analysis

Include join order fix from #3142
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Include Gradle Logging
  java/ql/src/experimental/CWE-532/SensitiveInfoLog.ql
Owners: @Semmle/java

Move `sync-identical-files.py` into public repo as `sync-files.py`
  .gitignore
  config/sync-files.py
Owners: none

Fix LGTM alerts
  config/sync-files.py
Owners: none

C++: Fix formatting
  cpp/ql/src/semmle/code/cpp/ir/internal/IRCppLanguage.qll
Owners: @Semmle/cpp-analysis

more precise warning message for implicit string/number conversions
  javascript/ql/src/Expressions/ImplicitOperandConversion.ql
  javascript/ql/test/query-tests/Expressions/ImplicitOperandConversion/ImplicitOperandConversion.expected
  javascript/ql/test/query-tests/Expressions/ImplicitOperandConversion/tst.js
Owners: @Semmle/js

Data flow: Add module doc comment for `TaintTrackingImpl.qll`
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Add Qldoc for the last few remaining predicates.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
  ql/src/semmle/go/dataflow/internal/TaintTrackingUtil.qll
Owners: none

Update docs/language/learn-ql/python/ql-for-python.rst
  docs/language/learn-ql/python/ql-for-python.rst
Owners: @shati-patel, @jf205

Data flow: Add module doc comment for `TaintTrackingImpl.qll`
  ql/src/semmle/go/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
Owners: none

JS: Fix perf issue in DictionaryTaintStep
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Owners: @Semmle/js

Python: Autoformat a few final stragglers.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/web/django/General.qll
  python/ql/src/semmle/python/web/django/Redirect.qll
  python/ql/src/site.qll
Owners: @Semmle/python

Python: Autoformat one final straggler.
  python/ql/src/Security/CWE-078/CommandInjection.ql
Owners: @Semmle/python

Python: Fix outdated link in `ImportFailure.qhelp`.
  python/ql/src/analysis/ImportFailure.qhelp
Owners: @felicitymay

Python: Fix test failures.
  python/ql/test/3/library-tests/PointsTo/consts/BooleanConstants.expected
  python/ql/test/library-tests/PointsTo/customise/test.expected
  python/ql/test/library-tests/PointsTo/extensions/Extend.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithType.expected
  python/ql/test/library-tests/PointsTo/new/SSA.expected
  python/ql/test/library-tests/taint/exception_traceback/TestNode.expected
  python/ql/test/library-tests/taint/extensions/TestNode.expected
  python/ql/test/library-tests/taint/extensions/TestStep.expected
  python/ql/test/library-tests/taint/general/Contexts.expected
Owners: @Semmle/python

Docs: Bump supported Go version.
  docs/language/support/versions-compilers.csv
Owners: @shati-patel, @jf205

C++: Remove noise from argHasPostUpdate check
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
Owners: @Semmle/cpp-analysis

C++: Fix other copies of the argHasPostUpdate test
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Owners: @Semmle/cpp-analysis
