Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

revert Array.from change
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/Arrays/DataFlow.expected
  javascript/ql/test/library-tests/Arrays/arrays.js
Owners: @Semmle/js

remove redundant qldoc, and change parameter names to better reflect behavior
  javascript/ql/src/semmle/javascript/Arrays.qll
Owners: @Semmle/js

expose arrayFunctionTaintStep in TaintTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
Owners: @Semmle/js

Python: Updates expected results
  python/ql/test/query-tests/Exceptions/general/IncorrectExceptOrder.expected
Owners: @Semmle/python

add test case for tuple-like use
  javascript/ql/test/library-tests/Arrays/arrays.js
Owners: @Semmle/js

Python: Moves predicates over to suffixed form
  python/ql/src/Exceptions/IllegalExceptionHandlerType.ql
  python/ql/src/semmle/python/types/Exceptions.qll
  python/ql/test/2/library-tests/ControlFlow/Exceptions/Handles.ql
  python/ql/test/3/library-tests/ControlFlow/Exceptions/Handles.ql
  python/ql/test/library-tests/exceptions/Handles.ql
Owners: @Semmle/python

C++: accept test changes
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
Owners: @Semmle/cpp-analysis

Python: Moves more predicates over to suffixed form
  python/ql/src/semmle/python/types/Exceptions.qll
Owners: @Semmle/python

Python: Adds modernized predicates
  python/ql/src/semmle/python/types/Exceptions.qll
Owners: @Semmle/python

Python: Modernizes queries
  python/ql/src/Exceptions/IllegalExceptionHandlerType.ql
  python/ql/test/2/library-tests/ControlFlow/Exceptions/Handles.ql
  python/ql/test/3/library-tests/ControlFlow/Exceptions/Handles.ql
  python/ql/test/library-tests/exceptions/Handles.ql
Owners: @Semmle/python

C++: Address review comments
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Owners: @Semmle/cpp-analysis

C++: Add testcase that previously resulted in a false positive
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/wider_type/test.c
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/wider_type/test2.c
Owners: @Semmle/cpp-analysis

Java : CWE - 297 - Check server identity when using SSL email
  java/ql/src/experimental/CWE-297/Email.qll
  java/ql/src/experimental/CWE-297/apache_insecure_smtp.qhelp
  java/ql/src/experimental/CWE-297/apache_insecure_smtp.ql
  java/ql/src/experimental/CWE-297/example/email.java
  java/ql/src/experimental/CWE-297/example/emailCorrect.java
Owners: @Semmle/java, @felicitymay

Python: Swaps out element_from_tuple
  python/ql/src/semmle/python/types/Exceptions.qll
Owners: @Semmle/python

Python: Adds Rasmus's suggestion
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Python: Modernizes query
  python/ql/src/Functions/UseImplicitNoneReturnValue.ql
Owners: @Semmle/python

Python: Modernizes query and expecteds
  python/ql/src/Functions/SignatureSpecialMethods.ql
  python/ql/test/query-tests/Functions/general/SignatureSpecialMethods.expected
Owners: @Semmle/python

Update python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Python: Modernizes query
  python/ql/src/Functions/SignatureOverriddenMethod.ql
Owners: @Semmle/python

Python: Adds preliminary modernization
  python/ql/src/Functions/ReturnValueIgnored.ql
Owners: @Semmle/python

extractor: Close files even when writes fail
  extractor/trap/trapwriter.go
Owners: none

C++: Allow multiple results in getValue
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Owners: @Semmle/cpp-analysis

JS: fixup typetracking usage: t2 -> t2.continue()
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
Owners: @Semmle/js

JS: support mongodb v3 (minimally)
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongodb.js
Owners: @Semmle/js

JS: refactoring: make separate modules for mongoose Model and Query
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
Owners: @Semmle/js

JS: replace Model class with opaque type tracking predicate
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
Owners: @Semmle/js

JS: adjust tests slightly to also support DatabaseAccess testing
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
Owners: @Semmle/js

JS: add additional mongoose and mongodb js/nosql-injection sinks
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
Owners: @Semmle/js

JS: add test for DatabaseAccess
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.ql
Owners: @Semmle/js

JS: support optional options argument to MongoClient.connect
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
Owners: @Semmle/js

JS: make use of TypeScript types for mongoose Model and Query
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/typed/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/typed/shim.d.ts
  javascript/ql/test/query-tests/Security/CWE-089/typed/typedClient.ts
Owners: @Semmle/js

JS: bump change notes for mongodb
  change-notes/1.24/analysis-javascript.md
Owners: none

JS: add mongodb .connect tests
  javascript/ql/test/query-tests/Security/CWE-089/untyped/dbo.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongodb.js
Owners: @Semmle/js

C#: Fix tests.
  csharp/ql/src/semmle/code/csharp/frameworks/JsonNET.qll
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
Owners: @Semmle/cs

Dataflow: Adjust imports.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplConsistency.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Move files related to integer overflow detection under the src/experimental folder
  ql/src/experimental/integer-overflow-detection/RangeAnalysis.qll
  ql/src/experimental/integer-overflow-detection/findOverflowExpr.qhelp
  ql/src/experimental/integer-overflow-detection/findOverflowExpr.ql
  ql/src/experimental/integer-overflow-detection/integer-overflow-example.go
  ql/src/experimental/integer-overflow-detection/integer-overflow-solution-example.go
Owners: none

add type tracking predicates for promises
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
Owners: @Semmle/js

add extra promise test for `chrome-remote-interface`
  javascript/ql/test/query-tests/Security/CWE-918/tst.js
Owners: @Semmle/js

JS: distinguishes escapes in strings and regular expression literals
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/CharacterEscapes.qll
  javascript/ql/test/query-tests/Security/CWE-020/UselessCharacterEscape.expected
  javascript/ql/test/query-tests/Security/CWE-020/UselessRegExpCharacterEscape.expected
  javascript/ql/test/query-tests/Security/CWE-020/tst-escapes.js
Owners: @Semmle/js

refactor chrome-remote-interface to use type-tracking promise steps
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Owners: @Semmle/js
