Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205

Java/C++/C#: Adjust toString of empty accesspath.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C# IR: Support for `ContinueStmt`
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/jumps.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

PR fixes
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/jumps.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

C#: Restructure existing CFG tests for try/finally
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/CatchInFinally.cs
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Finally.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/graph/cflow.cs
Owners: @Semmle/cs

C#: Fix CFG for nested `finally` blocks
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Consistency.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
Owners: @Semmle/cs

C#: Add new CFG test for try/finally
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Consistency.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/Finally.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
Owners: @Semmle/cs

C++: Add DataFlow::instructionNode
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

Fixed CP problem
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
Owners: @Semmle/cs

Fix comment
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
Owners: @Semmle/cs

C++: Turn a comment into QLDoc
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Owners: @Semmle/cpp-analysis

C++: Autoformat IR SSA files
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/PrintSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/PrintSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
Owners: @Semmle/cpp-analysis

updated query ID and expected output
  javascript/ql/src/Security/CWE-834/TaintedLength.ql
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLength.expected
Owners: @Semmle/js

add loop-bound-injection to change-notes
  change-notes/1.23/analysis-javascript.md
Owners: none

added js/loop-bound-injection to javascript security suite
  javascript/config/suites/javascript/security
Owners: @Semmle/js

changes based on review from max
  javascript/ql/src/Security/CWE-834/TaintedLength.qhelp
  javascript/ql/src/Security/CWE-834/TaintedLength.ql
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedLength.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedLengthCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLength.expected
Owners: @mc-semmle, @Semmle/js

two tiny qldoc changes
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedLengthCustomizations.qll
Owners: @Semmle/js

[CPP-418] Calls, casts, assignments and other goodness.
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/Cast.qll
Owners: @Semmle/cpp-analysis

change DOS to DoS, and other small documentation fixes
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/Security/CWE-834/TaintedLength.qhelp
  javascript/ql/src/Security/CWE-834/TaintedLength.ql
  javascript/ql/src/Security/CWE-834/examples/TaintedLength_fixed.js
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedLengthCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthExitBad.js
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthExitGood.js
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLengthObviousLengthCheck.js
Owners: @mc-semmle, @Semmle/js

use superscript to denote the size of the tainted object
  javascript/ql/src/Security/CWE-834/LoopBoundInjection.qhelp
  javascript/ql/src/Security/CWE-834/LoopBoundInjection.ql
  javascript/ql/src/Security/CWE-834/examples/LoopBoundInjection.js
  javascript/ql/src/Security/CWE-834/examples/LoopBoundInjection_fixed.js
Owners: @mc-semmle, @Semmle/js

rename TaintedLength to LoopBoundInjection
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-834/LoopBoundInjection.qhelp
  javascript/ql/src/Security/CWE-834/LoopBoundInjection.ql
  javascript/ql/src/semmle/javascript/security/dataflow/LoopBoundInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/LoopBoundInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjection.expected
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionBad.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionExitBad.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionExitGood.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionGood.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionLodash.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionNested.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionObviousLengthCheck.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionObviousNullPointer.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionObviousNullPointerInPreviousLoop.js
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLength.expected
  javascript/ql/test/query-tests/Security/CWE-834/TaintedLength.qlref
Owners: @Semmle/js, @mc-semmle

C++: Simplify `toString` of ImplicitParameterNode
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Owners: @Semmle/cpp-analysis

C++: IR DataFlow::Node.toString consistency
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

fix consistency and spelling in the documentation
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/Security/CWE-834/LoopBoundInjection.qhelp
  javascript/ql/src/Security/CWE-834/examples/LoopBoundInjection.js
  javascript/ql/src/Security/CWE-834/examples/LoopBoundInjection_fixed.js
  javascript/ql/src/semmle/javascript/security/dataflow/LoopBoundInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/LoopBoundInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionBad.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionExitBad.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionExitGood.js
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionGood.js
Owners: @mc-semmle, @Semmle/js

fix capitalization in test case
  javascript/ql/test/query-tests/Security/CWE-834/LoopBoundInjectionExitGood.js
Owners: @Semmle/js

docs: fix broken links in js topics
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
Owners: @felicity-semmle, @jf205

JavaScript: Fix description of call graphs.
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
Owners: @felicity-semmle, @jf205

JavaScript: Fix link to restify in library tutorial.
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
Owners: @felicity-semmle, @jf205

JS: Recognize 'require' calls in more cases
  javascript/extractor/src/com/semmle/js/extractor/NodeJSDetector.java
  javascript/extractor/src/com/semmle/js/extractor/test/NodeJSDetectorTests.java
Owners: @Semmle/js

JS: Add NumModules metric
  javascript/ql/src/meta/analysis-quality/NumModules.ql
Owners: @Semmle/js

JS: Update extractor version string
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Owners: @Semmle/js

QL lexer: Require whitespace character after annotation
  docs/language/global-sphinx-files/qllexer.py
Owners: @felicity-semmle, @jf205

[CPP-418] Typo.
  cpp/ql/src/semmle/code/cpp/exprs/Cast.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Expressions.
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
Owners: @Semmle/cpp-analysis

JS: change passwords in tests
  javascript/ql/test/query-tests/Security/CWE-313/PasswordInConfigurationFile.expected
  javascript/ql/test/query-tests/Security/CWE-313/mysql-config.json
  javascript/ql/test/query-tests/Security/CWE-313/tst.yml
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.js
Owners: @Semmle/js

JS: whitelist some hardcoded dummy-passwords in two queries
  javascript/ql/src/Security/CWE-313/PasswordInConfigurationFile.ql
  javascript/ql/src/Security/CWE-798/HardcodedCredentials.ql
  javascript/ql/src/semmle/javascript/security/SensitiveActions.qll
  javascript/ql/test/library-tests/SensitiveActions/DummyPasswords.expected
  javascript/ql/test/library-tests/SensitiveActions/DummyPasswords.ql
  javascript/ql/test/query-tests/Security/CWE-313/PasswordInConfigurationFile.expected
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
Owners: @Semmle/js

JS: add change notes
  change-notes/1.23/analysis-javascript.md
Owners: none

JS: exclude keys from whitelist
  javascript/ql/src/Security/CWE-798/HardcodedCredentials.ql
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.js
Owners: @Semmle/js

C#: Address review comments
  csharp/extractor/Semmle.Extraction.CSharp/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor.cs
Owners: @Semmle/cs

C# IR: Fix for init
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/stmts.cs
Owners: @Semmle/cs

C#: Handle nameof(A.B) where A.B is a nested namespace.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/MemberAccess.cs
  csharp/ql/test/library-tests/regressions/NameOf.expected
  csharp/ql/test/library-tests/regressions/Program.cs
Owners: @Semmle/cs
