Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205

JS: Restrict flow to access paths assigned in a unique file
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/test/library-tests/TypeTracking/tst.js
  javascript/ql/test/library-tests/TypeTracking/tst_conflict.js
Owners: @Semmle/js

JS: Add type-tracking test case
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.expected
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
  javascript/ql/test/library-tests/TypeTracking/tst.js
Owners: @Semmle/js

JS: Use global access paths to recognize .prototype
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Owners: @Semmle/js

JS: Make type tracking work through access paths
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
Owners: @Semmle/js

JS: Remove globalFlowPred()
  javascript/ql/src/semmle/javascript/Closure.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeInference.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
Owners: @Semmle/js

JS: cache things
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Owners: @Semmle/js

JS: Update test
  javascript/ql/test/library-tests/CallGraphs/FullTest/tests.expected
Owners: @Semmle/js

JS: Update DataFlow tests
  javascript/ql/test/library-tests/DataFlow/noBasicBlock.expected
  javascript/ql/test/library-tests/DataFlow/sources.expected
Owners: @Semmle/js

JS: Resolve simple calls based on qualified name
  javascript/ql/src/semmle/javascript/Closure.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
Owners: @Semmle/js

JS: Explain use of t.call()
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Owners: @Semmle/js

JS: Update TypeTracking test
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.expected
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
  javascript/ql/test/library-tests/TypeTracking/tst.js
Owners: @Semmle/js

JS: Allow calls to externs
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
Owners: @Semmle/js

JS: Handle RHS in more cases
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
Owners: @Semmle/js

JS: Make getAFunctionValue follow global access paths
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
Owners: @Semmle/js

JS: Fix closure namespace prefix and update tests
  javascript/ql/src/semmle/javascript/Closure.qll
  javascript/ql/test/library-tests/Closure/CallGraph.ql
  javascript/ql/test/library-tests/Closure/moduleImport.expected
Owners: @Semmle/js

JS: Use access paths from Closure module
  javascript/ql/src/semmle/javascript/Closure.qll
Owners: @Semmle/js

JS: Remove fake JSONType from es5.js externs
  javascript/externs/es/es5.js
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
Owners: @Semmle/js

JS: Handle constructor calls to avoid regression
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
Owners: @Semmle/js

JS: Workaround for JSON externs
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
Owners: @Semmle/js

JS: Change note
  change-notes/1.23/analysis-javascript.md
Owners: none

JS: Make getDocumentation handle chain assignments
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/test/query-tests/JSDoc/JSDocForNonExistentParameter/JSDocForNonExistentParameter.expected
  javascript/ql/test/query-tests/JSDoc/JSDocForNonExistentParameter/tst.js
Owners: @Semmle/js

JS: Change note
  change-notes/1.23/analysis-javascript.md
Owners: none

C#: Add loop unrolling tests
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/LoopUnrolling.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
Owners: @Semmle/cs

C#: Loop unrolling for `foreach` statements
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Owners: @Semmle/cs

C#: Add a few `pragma[nomagic]`
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/Implements.qll
Owners: @Semmle/cs

C#: Teach guards library about collections
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/frameworks/System.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Linq.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/collections/Generic.qll
  csharp/ql/test/library-tests/controlflow/guards/AbstractValue.expected
  csharp/ql/test/library-tests/controlflow/guards/AbstractValue.ql
  csharp/ql/test/library-tests/controlflow/guards/BooleanGuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Collections.cs
  csharp/ql/test/library-tests/controlflow/guards/Collections.expected
  csharp/ql/test/library-tests/controlflow/guards/Collections.ql
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
  csharp/ql/test/query-tests/Nullness/Implications.expected
Owners: @Semmle/cs

C#: Speedup `Completion::isValidFor()`
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Completion.qll
Owners: @Semmle/cs

JS: Add test for simple capture flow
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/capture-flow.js
Owners: @Semmle/js

JS: Remove capture-call edges subsumed by local flow edges
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

C++: Add localExprFlow and localExprTaint
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

C++: Use localExprFlow in existing queries
  cpp/ql/src/Critical/NewDelete.qll
  cpp/ql/src/Critical/OverflowStatic.ql
  cpp/ql/src/Likely Bugs/Conversion/LossyFunctionResultCast.ql
  cpp/ql/src/Likely Bugs/Likely Typos/UsingStrcpyAsBoolean.ql
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
Owners: @Semmle/cpp-analysis

C++: Mention localExpr{Flow,Taint} in module QLDoc
  cpp/ql/src/semmle/code/cpp/dataflow/DataFlow.qll
  cpp/ql/src/semmle/code/cpp/dataflow/TaintTracking.qll
Owners: @Semmle/cpp-analysis

C++: Make TaintTracking2 QLDoc more like DataFlow2
  cpp/ql/src/semmle/code/cpp/dataflow/TaintTracking2.qll
Owners: @Semmle/cpp-analysis

JavaScript: Fix parsing of asynchronous generator methods.
  change-notes/1.23/extractor-javascript.md
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/es2018/input/asyncIter.js
  javascript/extractor/tests/es2018/output/trap/asyncIter.js.trap
  javascript/ql/test/library-tests/ES20xxFeatures/ES20xxFeatures.expected
  javascript/ql/test/library-tests/ES20xxFeatures/es2018.js
Owners: @Semmle/js

C++: Test to show false flow through object copy
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

C++: Local field flow using global library
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

JS: Raise precision of prototype-pollution query
  javascript/ql/src/Security/CWE-400/PrototypePollution.ql
Owners: @Semmle/js

JS: Add change note
  change-notes/1.23/analysis-javascript.md
Owners: none

C++/C#/Java: data flow AccessPath up to length 2
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C++/C#/Java: AccessPath class names reflect length
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java
