Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

C#: Address review comments.
  csharp/extractor/Semmle.Extraction.CIL/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Accessor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Constructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Destructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Event.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/EventAccessor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Indexer.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/LocalVariable.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/OrdinaryMethod.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Parameter.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statement.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Symbol.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/ArrayType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NamedType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/PointerType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TupleType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/UserOperator.cs
  csharp/ql/src/semmle/code/cil/ConsistencyChecks.qll
  csharp/ql/src/semmle/code/cil/Method.qll
  csharp/ql/src/semmle/code/cil/Type.qll
Owners: @Semmle/cs

C#: Code tidy. Rename variables, delete dead code, format whitespace, improve comments.
  csharp/extractor/Semmle.Extraction.CIL/Context.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Event.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/LocalVariable.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Parameter.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/extractor/Semmle.Extraction.CIL/ExtractionProduct.cs
  csharp/extractor/Semmle.Extraction.CIL/Factories.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CommentBlock.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CommentLine.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/LocalVariable.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/extractor/Semmle.Extraction.CSharp/Tuples.cs
  csharp/extractor/Semmle.Extraction.Tests/Layout.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entity.cs
  csharp/extractor/Semmle.Extraction/FreshEntity.cs
  csharp/extractor/Semmle.Extraction/Id.cs
  csharp/extractor/Semmle.Extraction/LocationExtensions.cs
  csharp/extractor/Semmle.Extraction/Symbol.cs
  csharp/extractor/Semmle.Extraction/TrapBuilder.cs
  csharp/extractor/Semmle.Extraction/TrapExtensions.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Extraction/Tuple.cs
  csharp/ql/src/semmle/code/cil/ConsistencyChecks.qll
Owners: @Semmle/cs

C#: Address review comments. Tidy up tuple generation, consolidating code and use run-time type information instead of FirstParam/NextParam.
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/extractor/Semmle.Extraction.CIL/Factories.cs
  csharp/extractor/Semmle.Extraction.CSharp/Tuples.cs
  csharp/extractor/Semmle.Extraction.Tests/Layout.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/TrapBuilder.cs
  csharp/extractor/Semmle.Extraction/TrapExtensions.cs
  csharp/extractor/Semmle.Extraction/TrapWriter.cs
  csharp/extractor/Semmle.Extraction/Tuple.cs
  csharp/extractor/Semmle.Extraction/Tuples.cs
Owners: @Semmle/cs

C#: Add more CIL consistency tests.
  csharp/ql/src/semmle/code/cil/ConsistencyChecks.qll
  csharp/ql/src/semmle/code/cil/Generics.qll
Owners: @Semmle/cs

C#: Fix violations
  csharp/extractor/Semmle.Extraction.CIL/Factories.cs
  csharp/extractor/Semmle.Extraction/FreshEntity.cs
  csharp/extractor/Semmle.Extraction/Id.cs
Owners: @Semmle/cs

C#: Fix up tests. Fix cil_class, and add locations for constructed methods and types.
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/ql/src/semmle/code/cil/ConsistencyChecks.qll
  csharp/ql/src/semmle/code/cil/Generics.qll
  csharp/ql/src/semmle/code/cil/Method.qll
  csharp/ql/src/semmle/code/cil/Type.qll
  csharp/ql/test/library-tests/cil/consistency/Handles.expected
  csharp/ql/test/library-tests/cil/consistency/Handles.ql
Owners: @Semmle/cs

CPP: Add models for std::string.
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strings.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

Java: Add missing SQL query APIs.
  java/ql/src/semmle/code/java/frameworks/Jdbc.qll
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTaintedLocal.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlUnescaped.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/Test.java
  java/ql/test/query-tests/security/CWE-089/semmle/examples/ValidatedVariable.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/controlledString.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/endsInQuote.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/getAnAppend.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/getToStringCall.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/sbQuery.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/taintedString.expected
Owners: @Semmle/java

Add change note.
  change-notes/1.23/analysis-java.md
Owners: none

Python: Update CWE-312 queries to use new taint-tracking configuration.
  python/ql/src/Security/CWE-312/CleartextLogging.ql
  python/ql/src/Security/CWE-312/CleartextStorage.ql
  python/ql/src/semmle/python/dataflow/Files.qll
  python/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312/test.py
Owners: none

C#: Upgrade to Roslyn 3.2.
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
Owners: @Semmle/cs

C#: Fix changed qltest.
  csharp/ql/test/library-tests/conversion/operator/Operator.ql
  csharp/ql/test/library-tests/expressions/StripCasts.expected
Owners: @Semmle/cs

JavaScript: Restrict `setAttribute` sink to potentially dangerous attribute names.
  javascript/ql/src/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst3.js
Owners: @Semmle/js

Python: Add syntax example comments for document generation.
  python/ql/src/semmle/python/AstExtended.qll
  python/ql/src/semmle/python/Class.qll
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/Function.qll
  python/ql/src/semmle/python/Import.qll
  python/ql/src/semmle/python/Keywords.qll
  python/ql/src/semmle/python/Stmts.qll
Owners: none

Python: Move TaintTracking.qll from semmle.python.security to semmle.python.dataflow, for consistency with other code.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/dataflow/TaintTracking.qll
  python/ql/src/semmle/python/security/TaintTest.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/test/library-tests/taint/general/TestDefn.ql
  python/ql/test/library-tests/taint/general/TestVar.ql
Owners: none

Java/C++/C#: Add support for dataflow exploration by partial paths.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Java: Add test.
  java/ql/test/library-tests/dataflow/partial/A.java
  java/ql/test/library-tests/dataflow/partial/test.expected
  java/ql/test/library-tests/dataflow/partial/test.ql
Owners: @Semmle/java

Java/C++/C#: Add change notes.
  change-notes/1.23/analysis-cpp.md
  change-notes/1.23/analysis-csharp.md
  change-notes/1.23/analysis-java.md
Owners: none

Java: Extend test with graph.
  java/ql/test/library-tests/dataflow/partial/test.expected
  java/ql/test/library-tests/dataflow/partial/test.ql
Owners: @Semmle/java

CPP: Permit data flow from qualifier to return value.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

CPP: Add models for stringstream.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strings.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

C#: Remove reference equality
  csharp/extractor/Semmle.Extraction/Entities/Assembly.cs
Owners: @Semmle/cs

Python: Clarify comment about 'syntax:' comment and add ... to for and async for comments.
  python/ql/src/semmle/python/AstExtended.qll
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/Stmts.qll
Owners: none

CPP: Test to make models more visible.
  cpp/ql/test/library-tests/dataflow/taint-tests/models.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/models.ql
Owners: @Semmle/cpp-analysis

CPP: Explicit sink parameters.
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/models.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

CPP: Add TInReturnValue and cover the last couple of cases.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strings.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FunctionInputsAndOutputs.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/models.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

CPP: Permit more taint flow cases.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/stl.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

CPP: Change note.
  change-notes/1.23/analysis-cpp.md
Owners: none

JS: Add Firebase test with types
  javascript/ql/test/library-tests/frameworks/Firebase/FirebaseRef.expected
  javascript/ql/test/library-tests/frameworks/Firebase/node_modules/firebase/index.d.ts
  javascript/ql/test/library-tests/frameworks/Firebase/src/import_assign.ts
  javascript/ql/test/library-tests/frameworks/Firebase/src/import_named.ts
  javascript/ql/test/library-tests/frameworks/Firebase/src/import_star.ts
  javascript/ql/test/library-tests/frameworks/Firebase/tsconfig.json
Owners: @Semmle/js

JS: Use type info in Firebase model
  javascript/ql/src/semmle/javascript/frameworks/Firebase.qll
Owners: @Semmle/js

JS: Add Node.hasUnderlyingType
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
Owners: @Semmle/js

TS: Emit module bindings for all files in node_modules
  javascript/extractor/lib/typescript/src/main.ts
Owners: @Semmle/js

JS: Deprecate and remove path resolution for reference comments
  javascript/ql/src/semmle/javascript/TypeScript.qll
Owners: @Semmle/js

JS: Avoid materializing JSONValue.getFile()
  javascript/ql/src/semmle/javascript/JSON.qll
  javascript/ql/src/semmle/javascript/NPM.qll
  javascript/ql/src/semmle/javascript/frameworks/Babel.qll
Owners: @Semmle/js

JS: Avoid materializing HTML::Element.getFile()
  javascript/ql/src/semmle/javascript/frameworks/Vue.qll
Owners: @Semmle/js

JS: Update DeclarationFiles test
  javascript/ql/test/library-tests/TypeScript/DeclarationFiles/ReferenceImports.expected
  javascript/ql/test/library-tests/TypeScript/DeclarationFiles/ReferenceImports.ql
Owners: @Semmle/js

TS: Handle locally defined packages
  javascript/ql/src/semmle/javascript/CanonicalNames.qll
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/TypeNames.expected
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/TypeNames.ql
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/bar/client.ts
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/foo/index.ts
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/foo/package.json
  javascript/ql/test/library-tests/TypeScript/ImportOwnPackage/tsconfig.json
Owners: @Semmle/js

JS: Add change note
  change-notes/1.23/analysis-javascript.md
Owners: none

CPP: Layout.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

JS: use JSDoc types in class tracking
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
Owners: @Semmle/js

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205
