Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

JS: Close an unterminated code block
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
Owners: @Semmle/js

Fix hash-consing of literals.
  ql/src/RedundantCode/Clones.qll
Owners: none

Python: Autoformat dataflow files
  python/ql/src/semmle/python/dataflow/Configuration.qll
  python/ql/src/semmle/python/dataflow/DataFlow.qll
  python/ql/src/semmle/python/dataflow/Files.qll
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/dataflow/Legacy.qll
  python/ql/src/semmle/python/dataflow/StateTracking.qll
  python/ql/src/semmle/python/dataflow/TaintTracking.qll
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/essa/SsaDefinitions.qll
Owners: @Semmle/python

C++: Remove test for unrelated issue
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
Owners: @Semmle/cpp-analysis

Python: Add tests for nested assignment
  python/ql/test/library-tests/taint/general/Contexts.expected
  python/ql/test/library-tests/taint/general/TestDefn.expected
  python/ql/test/library-tests/taint/general/TestSource.expected
  python/ql/test/library-tests/taint/general/TestStep.expected
  python/ql/test/library-tests/taint/general/TestTaint.expected
  python/ql/test/library-tests/taint/general/TestTaint.ql
  python/ql/test/library-tests/taint/general/TestVar.expected
  python/ql/test/library-tests/taint/general/assignment.py
Owners: @Semmle/python

Python: Recognize nested tuple/list assignment
  python/ql/src/semmle/python/Flow.qll
  python/ql/test/library-tests/taint/general/TestDefn.expected
  python/ql/test/library-tests/taint/general/TestStep.expected
  python/ql/test/library-tests/taint/general/TestTaint.expected
  python/ql/test/library-tests/taint/general/TestVar.expected
Owners: @Semmle/python

Python: Recognize taint for iterable unpacking
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/test/library-tests/taint/collections/TestStep.expected
  python/ql/test/library-tests/taint/collections/TestTaint.expected
  python/ql/test/library-tests/taint/collections/test.py
  python/ql/test/library-tests/taint/unpacking/TestStep.expected
  python/ql/test/library-tests/taint/unpacking/TestTaint.expected
Owners: @Semmle/python

Python: Add iterable unpacking tests
  python/ql/test/library-tests/taint/unpacking/Taint.qll
  python/ql/test/library-tests/taint/unpacking/TestStep.expected
  python/ql/test/library-tests/taint/unpacking/TestStep.ql
  python/ql/test/library-tests/taint/unpacking/TestTaint.expected
  python/ql/test/library-tests/taint/unpacking/TestTaint.ql
  python/ql/test/library-tests/taint/unpacking/test.py
Owners: @Semmle/python

CPP: 'sometimes copying' is considered data flow.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strdup.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/DataFlow.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Taint.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

CPP: Repair flow.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

Python: Add tests for extended iterable unpacking
  python/ql/test/3/library-tests/taint/unpacking/Taint.qll
  python/ql/test/3/library-tests/taint/unpacking/TestTaint.expected
  python/ql/test/3/library-tests/taint/unpacking/TestTaint.ql
  python/ql/test/3/library-tests/taint/unpacking/test.py
Owners: @Semmle/python

Python: Recognize taint for extended iterable unpacking
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/essa/SsaDefinitions.qll
  python/ql/test/3/library-tests/taint/unpacking/TestTaint.expected
  python/ql/test/3/library-tests/taint/unpacking/test.py
Owners: @Semmle/python

C++: Move files to new DefaultTaintTracking folder and fix imports
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/default_taint.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_default_diff.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_default_diff.ql
  cpp/ql/test/library-tests/dataflow/taint-tests/test_default_diff.ql
Owners: @Semmle/cpp-analysis

Python: Autoformat query
  python/ql/src/Imports/FromImportOfMutableAttribute.ql
Owners: @Semmle/python

Python: Modernise import related queries
  python/ql/src/Imports/FromImportOfMutableAttribute.ql
  python/ql/src/Imports/ModuleImportsItself.ql
  python/ql/src/Imports/UnintentionalImport.ql
  python/ql/src/Metrics/DirectImports.ql
  python/ql/src/Metrics/TransitiveImports.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

C++: Modify test to exercise virtual dispatch analysis
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/default_taint.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_default_diff.expected
Owners: @Semmle/cpp-analysis

C++: Accept test diffs
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

Queries to detect ReDoS and Regex injections in Java
  java/ql/src/Security/CWE/CWE-400/ReDoS.ql
  java/ql/src/Security/CWE/CWE-400/Regex.qll
  java/ql/src/Security/CWE/CWE-400/RegexInjection.ql
  java/ql/src/semmle/code/java/JDK.qll
Owners: @Semmle/java

C++: Accept more test output after merge
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Owners: @Semmle/cpp-analysis

Apply suggestions from code review
  java/ql/src/Security/CWE/CWE-90/LdapInjection.qhelp
Owners: @felicitymay

Apply suggestion from code review
  java/ql/src/Security/CWE/CWE-90/LdapInjection.qhelp
Owners: @felicitymay

Modernizes ExpectedMappingForFormatString.ql
  python/ql/src/Expressions/ExpectedMappingForFormatString.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/query-tests/Expressions/general/ExpectedMappingForFormatString.expected
Owners: @Semmle/python

C++: IR dataflow through modeled functions
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

C++: Move getACallArgumentOrIndirection
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

Add getAnOperand to OperatorExpr
  ql/src/semmle/go/Expr.qll
Owners: none

Move OpenUrlRedirect tests into their own directory
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.go
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.qlref
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirectGood.go
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/stdlib.go
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/util.go
Owners: none

Add `BadRedirectCheck` query
  change-notes/1.24/analysis-go.md
  ql/src/Security/CWE-601/BadRedirectCheck.go
  ql/src/Security/CWE-601/BadRedirectCheck.qhelp
  ql/src/Security/CWE-601/BadRedirectCheck.ql
  ql/src/Security/CWE-601/BadRedirectCheckGood.go
  ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.go
  ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.qlref
  ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheckGood.go
  ql/test/query-tests/Security/CWE-601/BadRedirectCheck/cves.go
  ql/test/query-tests/Security/CWE-601/BadRedirectCheck/main.go
Owners: none

BadRedirectSanitizer: Bind e to hp
  change-notes/1.24/analysis-go.md
  ql/src/Security/CWE-601/BadRedirectCheck.qhelp
  ql/src/Security/CWE-601/BadRedirectCheck.ql
Owners: none

Apply suggestions from code review
  ql/src/Security/CWE-601/BadRedirectCheck.qhelp
  ql/src/Security/CWE-601/BadRedirectCheck.ql
Owners: none

BadRedirectSanitizer: Transition to using data-flow API
  ql/src/Security/CWE-601/BadRedirectCheck.ql
  ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
Owners: none

SsaWithFilds: Add a getQualifiedName predicate
  ql/src/semmle/go/dataflow/SSA.qll
  ql/test/library-tests/semmle/go/dataflow/SSA/DefUse.expected
  ql/test/library-tests/semmle/go/dataflow/SSA/SsaDefinition.expected
  ql/test/library-tests/semmle/go/dataflow/SSA/SsaWithFields.expected
  ql/test/library-tests/semmle/go/dataflow/SSA/SsaWithFields.ql
  ql/test/library-tests/semmle/go/dataflow/SSA/VarDefs.expected
  ql/test/library-tests/semmle/go/dataflow/SSA/VarUses.expected
  ql/test/library-tests/semmle/go/dataflow/SSA/main.go
Owners: none

BadRedirectSanitizer: Use SsaWithFields instead of ValueEntity
  ql/src/Security/CWE-601/BadRedirectCheck.ql
  ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
Owners: none

C++: Move files to new DefaultTaintTracking folder and fix imports
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/default_taint.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_default_diff.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_default_diff.ql
  cpp/ql/test/library-tests/dataflow/taint-tests/test_default_diff.ql
Owners: @Semmle/cpp-analysis

C++: Modify test to exercise virtual dispatch analysis
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/default_taint.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_default_diff.expected
Owners: @Semmle/cpp-analysis

C++: Added DefaultTaintTracking diff tests
  cpp/ql/test/library-tests/dataflow/taint-tests/default_taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/test_default_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_default_diff.ql
Owners: @Semmle/cpp-analysis

add support for `this` references in classes that extend EventEmitter
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
Owners: @Semmle/js

add EventEmitter models for `net.createServer()` and `respjs`.
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
Owners: @Semmle/js

C++: Accept test output after merging master into branch
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_default_diff.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_default_diff.ql
Owners: @Semmle/cpp-analysis

C++: Renamed test_default_diff to test_diff to be consistent with taint-tests
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.ql
Owners: @Semmle/cpp-analysis

C++: Add taint tests of formatting functions.
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Owners: @Semmle/cpp-analysis
