Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

C#: Migrate System.Int32 flow summaries to CSV
  csharp/ql/src/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.expected
Owners: @github/codeql-csharp

Rework timeseries report to iterate git history only once
  misc/scripts/library-coverage/generate-timeseries.py
Owners: none

Add updated C# framework coverage report
  csharp/documentation/library-coverage/coverage.rst
Owners: @github/codeql-csharp

Python: Fix qhelp for NoSQL injection
  python/ql/src/experimental/Security/CWE-943/NoSQLInjection.qhelp
Owners: @github/codeql-python, @xcorail

Python: handle a few more escapes
  python/ql/src/semmle/python/RegexTreeView.qll
Owners: @github/codeql-python

Java: remove duplicate query
  java/ql/src/experimental/Security/CWE/CWE-078/ExecCommon.qll
  java/ql/src/experimental/Security/CWE/CWE-078/ExecTainted.ql
Owners: @github/codeql-java, @xcorail

Revert "Java: remove duplicate query"
  java/ql/src/experimental/Security/CWE/CWE-078/ExecCommon.qll
  java/ql/src/experimental/Security/CWE/CWE-078/ExecTainted.ql
Owners: @github/codeql-java, @xcorail

Python: Don't rely on `d = d.getOutput()` for `Decoding`
  python/ql/src/experimental/semmle/python/security/injection/NoSQLInjection.qll
Owners: @github/codeql-python, @xcorail

Java: update @id of experimental ExecTainted.ql query
  java/ql/src/experimental/Security/CWE/CWE-078/ExecTainted.ql
Owners: @github/codeql-java, @xcorail

Change ID and description of cloned query
  java/ql/src/experimental/Security/CWE/CWE-078/ExecTainted.ql
Owners: @github/codeql-java, @xcorail

Apply suggestions from code review
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/creating-codeql-databases.rst
Owners: none

Add extra reference to docs.github.com
  docs/codeql/codeql-cli/creating-codeql-databases.rst
Owners: none

Rephrase .qhelp
  python/ql/src/experimental/Security/CWE-287/ImproperLdapAuth.qhelp
Owners: @github/codeql-python, @xcorail

Fix tests
  python/ql/src/experimental/Security/CWE-287/examples/auth_bad_2.py
  python/ql/src/experimental/Security/CWE-287/examples/auth_bad_3.py
  python/ql/src/experimental/Security/CWE-287/examples/auth_good_2.py
  python/ql/src/experimental/Security/CWE-287/examples/auth_good_3.py
  python/ql/test/experimental/query-tests/Security/CWE-287/auth_bad_2.py
  python/ql/test/experimental/query-tests/Security/CWE-287/auth_bad_3.py
  python/ql/test/experimental/query-tests/Security/CWE-287/auth_good_2.py
  python/ql/test/experimental/query-tests/Security/CWE-287/auth_good_3.py
Owners: @github/codeql-python, @xcorail

Update `.expected`
  python/ql/test/experimental/query-tests/Security/CWE-287/ImproperLdapAuth.expected
Owners: @github/codeql-python, @xcorail

Fix CSV framework coverage commenter workflow
  misc/scripts/library-coverage/comment-pr.py
Owners: none

add Crlf Injection
  java/ql/src/experimental/Security/CWE/CWE-093/CrlfInjection.java
  java/ql/src/experimental/Security/CWE/CWE-093/CrlfInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-093/CrlfInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-093/CrlfInjectionLib.qll
  java/ql/test/experimental/query-tests/security/CWE-093/CrlfInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-093/CrlfInjection.java
  java/ql/test/experimental/query-tests/security/CWE-093/CrlfInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-093/options
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/Address.java
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/BodyPart.java
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/Message.java
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/Multipart.java
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/Transport.java
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/internet/InternetAddress.java
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/internet/MimeBodyPart.java
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/internet/MimeMessage.java
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/internet/MimeMultipart.java
  java/ql/test/stubs/javamail-api-1.6.2/javax/mail/internet/MimeUtility.java
  java/ql/test/stubs/slf4j-1.6.4/org/slf4j/Logger.java
  java/ql/test/stubs/slf4j-1.6.4/org/slf4j/LoggerFactory.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/web/bind/annotation/RestController.java
Owners: @github/codeql-java, @xcorail

Remove 'magic' from tests
  java/ql/src/semmle/code/java/frameworks/spring/SpringBeans.qll
  java/ql/test/library-tests/frameworks/spring/beans/Test.java
  java/ql/test/library-tests/frameworks/spring/beans/test.ql
Owners: @github/codeql-java

Python: track if qualifiers allow unbounded repeats. This in preparation for ReDoS
  python/ql/src/semmle/python/regex.qll
  python/ql/test/library-tests/regex/Qualified.expected
  python/ql/test/library-tests/regex/Qualified.ql
  python/ql/test/library-tests/regex/Regex.ql
Owners: @github/codeql-python

Python: Make ast viewer see regexes This work is due to @erik-krogh who also - made corresponding fixes to `RegexTreeView.qll` - implemented `toUnicode` so it is available on `String`s
  python/ql/src/semmle/python/PrintAst.qll
Owners: @github/codeql-python

Python: Add ReDoS as identical files from JS The library specific file is `RegExpTreeView`. The files are recorded as identical via the mapping in `identical-files.json`.
  config/identical-files.json
  python/ql/src/Security/CWE-730/PolynomialBackTracking.ql
  python/ql/src/Security/CWE-730/PolynomialReDoS.ql
  python/ql/src/Security/CWE-730/ReDoS.ql
  python/ql/src/semmle/python/regex/ExponentialBackTracking.qll
  python/ql/src/semmle/python/regex/ReDoSUtil.qll
  python/ql/src/semmle/python/regex/RegExpTreeView.qll
  python/ql/src/semmle/python/regex/SuperlinearBackTracking.qll
  python/ql/src/semmle/python/security/dataflow/PolynomialReDoS.qll
Owners: @github/codeql-python

Python: More precise regex parsing
  python/ql/src/semmle/python/regex.qll
  python/ql/test/library-tests/regex/charRangeTest.py
  python/ql/test/library-tests/regex/charSetTest.py
  python/ql/test/library-tests/regex/escapedCharacterTest.py
  python/ql/test/library-tests/regex/groupTest.py
Owners: @github/codeql-python

JS: Refactor ReDoS to make files sharable the extra ordering conditions in ReDoSUtil will be needed for the Python implementation.
  javascript/ql/src/Performance/ReDoS.ql
  javascript/ql/src/semmle/javascript/security/performance/ExponentialBackTracking.qll
  javascript/ql/src/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/src/semmle/javascript/security/performance/RegExpTreeView.qll
  javascript/ql/src/semmle/javascript/security/performance/SuperlinearBackTracking.qll
Owners: @github/codeql-javascript

Python: A parse-tree-view of regular expressions This contains several contributions from @erik-krogh and also some fixes from @nickrolfe
  python/ql/src/semmle/python/RegexTreeView.qll
Owners: @github/codeql-python

Python: inline test of regex components - Added naive implementation of `charRange` so the test can run. - Made predicates public as needed.
  python/ql/src/semmle/python/regex.qll
  python/ql/test/library-tests/regex/SubstructureTests.expected
  python/ql/test/library-tests/regex/SubstructureTests.ql
  python/ql/test/library-tests/regex/charRangeTest.py
  python/ql/test/library-tests/regex/charSetTest.py
  python/ql/test/library-tests/regex/escapedCharacterTest.py
  python/ql/test/library-tests/regex/groupTest.py
Owners: @github/codeql-python

Python: add change note
  python/change-notes/2021-07-28-port-RoDoS-queries.md
Owners: @github/codeql-python

Model Spring `util`
  java/change-notes/2021-05-31-add-spring-stringutils.md
  java/ql/src/semmle/code/java/frameworks/spring/Spring.qll
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
Owners: @github/codeql-java

Generate tests for Spring util
  java/ql/test/library-tests/frameworks/spring/util/Test.java
  java/ql/test/library-tests/frameworks/spring/util/springutil.ssv
  java/ql/test/library-tests/frameworks/spring/util/test.expected
  java/ql/test/library-tests/frameworks/spring/util/test.ql
Owners: @github/codeql-java

Model Spring AntPath utils
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
Owners: @github/codeql-java

Fix tests for Spring util
  java/ql/test/library-tests/frameworks/spring/util/Test.java
  java/ql/test/library-tests/frameworks/spring/util/test.ql
Owners: @github/codeql-java

Add stubs for Spring util tests
  java/ql/test/library-tests/frameworks/spring/util/options
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/AntPathMatcher.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/AutoPopulatingList.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/Base64Utils.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/CollectionUtils.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/CompositeIterator.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/FastByteArrayOutputStream.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/FileCopyUtils.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/FileSystemUtils.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/LinkedMultiValueMap.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/MultiValueMap.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/MultiValueMapAdapter.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/ObjectUtils.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/PathMatcher.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/PropertiesPersister.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/PropertyPlaceholderHelper.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/ResourceUtils.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/RouteMatcher.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/SerializationUtils.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/StreamUtils.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/StringUtils.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/StringValueResolver.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/SystemPropertyUtils.java
Owners: @github/codeql-java

Update getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
Owners: none

fixup! Model spring `util`
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
Owners: @github/codeql-java

fixup! Fix tests for Spring util
  java/ql/test/library-tests/frameworks/spring/util/Test.java
  java/ql/test/library-tests/frameworks/spring/util/springutil.ssv
  java/ql/test/library-tests/frameworks/spring/util/test.ql
Owners: @github/codeql-java

Merge tests and update `.expected`
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-943/flask_mongoengine_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/flask_mongoengine_db_document_subclass_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/flask_mongoengine_db_document_subclass_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/flask_mongoengine_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_connect_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_connect_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_connect_via_connection_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_connect_via_connection_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_document_subclass_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_document_subclass_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_get_db_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_get_db_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_get_db_via_connection_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_get_db_via_connection_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_subscript_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_subscript_good.py
Owners: @github/codeql-python, @xcorail

Delete trivial tests
  python/ql/test/experimental/query-tests/Security/CWE-943/flask_mongoengine_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/flask_pymongo_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/flask_pymongo_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/pymongo_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/pymongo_good.py
Owners: @github/codeql-python, @xcorail

Add JAX-RS XSS tests
  java/ql/test/query-tests/security/CWE-079/semmle/tests/JaxXSS.java
  java/ql/test/query-tests/security/CWE-079/semmle/tests/options
  java/ql/test/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/Produces.java
  java/ql/test/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/core/MediaType.java
Owners: @github/codeql-java

Convert XSS test to inline expectations
  java/ql/test/query-tests/security/CWE-079/semmle/tests/XSS.expected
  java/ql/test/query-tests/security/CWE-079/semmle/tests/XSS.java
  java/ql/test/query-tests/security/CWE-079/semmle/tests/XSS.ql
  java/ql/test/query-tests/security/CWE-079/semmle/tests/XSS.qlref
Owners: @github/codeql-java

Fixup JaxRs.ql to cope with stubbed MediaType file
  java/ql/test/library-tests/frameworks/JaxWs/JaxRs.ql
Owners: @github/codeql-java

Fix test mistakes
  java/ql/test/query-tests/security/CWE-079/semmle/tests/JaxXSS.java
Owners: @github/codeql-java
