Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205

C++: Change name of UncheckedReturn...Functions.ql
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
Owners: @Semmle/cpp-analysis

C++: Split valuetext off into its own table
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis

Fixed errors
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
Owners: @Semmle/cs

C++: Handle values with no valuetext
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
Owners: @Semmle/cpp-analysis

Python remove a couple of small AST related modules, moving contents to more appropriate modules.
  python/ql/src/python.qll
  python/ql/src/semmle/python/AST.qll
  python/ql/src/semmle/python/Assigns.qll
  python/ql/src/semmle/python/AstExtended.qll
  python/ql/src/semmle/python/Stmts.qll
Owners: none

Python: Move NameNode class in Flow.qll with other CFG classes.
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/flow/NameNode.qll
Owners: none

C++: If we don't have a valuetext, then see if one of our conversions does
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
Owners: @Semmle/cpp-analysis

Python: Move classes for lists of AST nodes into AstExtended.qll
  python/ql/src/python.qll
  python/ql/src/semmle/python/AstExtended.qll
  python/ql/src/semmle/python/Lists.qll
Owners: none

Fixed unused predicate error
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
Owners: @Semmle/cs

C++: Add an upgrade script
  cpp/upgrades/cac7e92107084af19112986145f72b8de646c39d/old.dbscheme
  cpp/upgrades/cac7e92107084af19112986145f72b8de646c39d/semmlecode.cpp.dbscheme
  cpp/upgrades/cac7e92107084af19112986145f72b8de646c39d/upgrade.properties
  cpp/upgrades/cac7e92107084af19112986145f72b8de646c39d/values.ql
  cpp/upgrades/cac7e92107084af19112986145f72b8de646c39d/valuetext.ql
Owners: @Semmle/cpp-analysis

Python: Implement 'hasAttribute()' on ObjectInternal and use it to implement the same predicate on Value, ModuleObject and ClassObject.
  python/ql/src/semmle/python/objects/Classes.qll
  python/ql/src/semmle/python/objects/Modules.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/objects/ObjectInternal.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/src/semmle/python/types/ClassObject.qll
  python/ql/src/semmle/python/types/ModuleObject.qll
Owners: none

C++: Update stats for valuetext
  cpp/ql/src/semmlecode.cpp.dbscheme.stats
Owners: @Semmle/cpp-analysis

Java: Change extension point to use a unit type.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Owners: @Semmle/java

Python: Add new API for taint-tracking configuration. As yet, unsupported.
  python/ql/src/semmle/python/dataflow/Configuration.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
Owners: none

Python taint-tracking. Fill in most of new configuration-base taint-tracking implementation.
  python/ql/src/semmle/python/dataflow/Configuration.qll
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/security/Paths.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
Owners: none

Python taint-tracking: Lengthen steps to better conform to old edge relation.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/security/Paths.qll
Owners: none

Python taint-tracking: update test results.
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/test/library-tests/taint/config/TaintLib.qll
  python/ql/test/library-tests/taint/config/TaintedArgument.ql
  python/ql/test/library-tests/taint/config/TestNode.ql
  python/ql/test/library-tests/taint/config/TestSink.ql
  python/ql/test/library-tests/taint/config/TestSource.ql
  python/ql/test/library-tests/taint/config/TestStep.ql
  python/ql/test/library-tests/taint/dataflow/TestNode.expected
  python/ql/test/library-tests/taint/dataflow/TestNode.ql
  python/ql/test/library-tests/taint/exception_traceback/TestNode.expected
  python/ql/test/library-tests/taint/exception_traceback/TestStep.expected
  python/ql/test/library-tests/taint/exception_traceback/TestStep.ql
  python/ql/test/library-tests/web/bottle/Taint.expected
  python/ql/test/library-tests/web/falcon/Sinks.expected
  python/ql/test/library-tests/web/falcon/Taint.expected
  python/ql/test/library-tests/web/turbogears/Taint.expected
Owners: none

Python taint-tracking: Further enhancements to new implementation for better debugging and backwards compatibility.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/test/library-tests/taint/config/RockPaperScissors.expected
  python/ql/test/library-tests/taint/config/Simple.expected
  python/ql/test/library-tests/taint/config/TestNode.expected
  python/ql/test/library-tests/taint/config/TestSink.expected
  python/ql/test/library-tests/taint/config/TestSource.expected
  python/ql/test/library-tests/taint/config/TestStep.expected
  python/ql/test/library-tests/taint/exception_traceback/TestStep.expected
  python/ql/test/library-tests/taint/exception_traceback/TestStep.ql
  python/ql/test/library-tests/taint/general/Contexts.expected
  python/ql/test/library-tests/taint/general/Contexts.ql
  python/ql/test/library-tests/taint/general/ModuleAttribute.ql
  python/ql/test/library-tests/taint/general/TestNode.expected
  python/ql/test/library-tests/taint/general/TestNode.ql
  python/ql/test/library-tests/taint/general/TestStep.ql
Owners: none

Python: Fix up pi-node handling in taint-tracking.
  python/ql/src/Security/CWE-022/TarSlip.ql
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/test/query-tests/Functions/general/ModificationOfParameterWithDefault.expected
  python/ql/test/query-tests/Security/CWE-327/TestNode.expected
  python/ql/test/query-tests/Security/CWE-327/TestNode.ql
Owners: none

Python taint-tracking. Rework handling of sequences and dicts of taint for performance.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
Owners: none

Python taint-tracking: Fix up handling of contexts for __init__ and for context-free taints.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/security/Paths.qll
  python/ql/test/library-tests/taint/general/Contexts.expected
  python/ql/test/library-tests/taint/general/ModuleAttribute.expected
  python/ql/test/library-tests/taint/general/ModuleAttribute.ql
  python/ql/test/library-tests/taint/general/ParamSource.expected
  python/ql/test/library-tests/taint/general/TestDefn.expected
  python/ql/test/library-tests/taint/general/TestDefn.ql
  python/ql/test/library-tests/taint/general/TestStep.expected
  python/ql/test/library-tests/taint/general/TestStep.ql
Owners: none

Python taint-tracking: Improve layout and documentation.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/dataflow/Legacy.qll
Owners: none

Python taint-tracking: Fix performance of 'flowsTo' and 'testEvaluates'.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
Owners: none

Python taint-tracking: Fix ambiguous flow through class instantiation. Tweak the path query to ensure edge to sink is always present.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/test/library-tests/taint/config/RockPaperScissors.expected
  python/ql/test/library-tests/taint/config/Simple.expected
  python/ql/test/library-tests/taint/config/TaintedArgument.expected
  python/ql/test/library-tests/taint/config/TestNode.expected
  python/ql/test/library-tests/taint/config/TestStep.expected
  python/ql/test/library-tests/taint/invalid/NoSink.expected
  python/ql/test/library-tests/taint/invalid/NoSink.ql
  python/ql/test/library-tests/taint/invalid/NoSource.expected
  python/ql/test/library-tests/taint/invalid/NoSource.ql
  python/ql/test/library-tests/taint/invalid/test.py
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.expected
  python/ql/test/query-tests/Functions/general/ModificationOfParameterWithDefault.expected
Owners: none

Python: Check-in two missing files.
  python/ql/src/semmle/python/dataflow/Paths.qll
  python/ql/src/semmle/python/dataflow/Presentation.qll
Owners: none

Python taint-tracking. Add some tests and fix up various parts of the implementation.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/test/library-tests/taint/config/RockPaperScissors.expected
  python/ql/test/library-tests/taint/config/RockPaperScissors.ql
  python/ql/test/library-tests/taint/config/Simple.expected
  python/ql/test/library-tests/taint/config/Simple.ql
  python/ql/test/library-tests/taint/config/TaintLib.qll
  python/ql/test/library-tests/taint/config/TaintedArgument.expected
  python/ql/test/library-tests/taint/config/TaintedArgument.ql
  python/ql/test/library-tests/taint/config/TestNode.expected
  python/ql/test/library-tests/taint/config/TestNode.ql
  python/ql/test/library-tests/taint/config/TestSink.expected
  python/ql/test/library-tests/taint/config/TestSink.ql
  python/ql/test/library-tests/taint/config/TestSource.expected
  python/ql/test/library-tests/taint/config/TestSource.ql
  python/ql/test/library-tests/taint/config/TestStep.expected
  python/ql/test/library-tests/taint/config/TestStep.ql
  python/ql/test/library-tests/taint/config/carrier.py
  python/ql/test/library-tests/taint/config/deep.py
  python/ql/test/library-tests/taint/config/module.py
  python/ql/test/library-tests/taint/config/rockpaperscissors.py
  python/ql/test/library-tests/taint/config/sanitizer.py
  python/ql/test/library-tests/taint/config/test.py
Owners: none

Python: Update a test result.
  python/ql/test/3/library-tests/web/django/Taint.expected
Owners: none

Python taint-tracking: Fix up SQL injection query.
  python/ql/src/Security/CWE-089/SqlInjection.ql
  python/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
Owners: none

Python taint-tracking: Fix up handling of legacy (config-less) taint-tracking
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/security/Paths.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/test/3/library-tests/web/django/Taint.expected
  python/ql/test/library-tests/taint/config/RockPaperScissors.expected
  python/ql/test/library-tests/taint/config/Simple.expected
  python/ql/test/library-tests/taint/config/TestNode.expected
  python/ql/test/library-tests/taint/config/TestStep.expected
  python/ql/test/library-tests/taint/general/TaintLib.qll
  python/ql/test/library-tests/taint/strings/Taint.qll
  python/ql/test/query-tests/Security/CWE-022/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-022/TarSlip.expected
  python/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  python/ql/test/query-tests/Security/CWE-094/CodeInjection.expected
  python/ql/test/query-tests/Security/CWE-209/StackTraceExposure.expected
  python/ql/test/query-tests/Security/CWE-502/UnsafeDeserialization.expected
Owners: none

Python: Reorganise code a bit to minimize diff for PR.
  python/ql/src/Security/CWE-089/SqlInjection.ql
  python/ql/src/Security/CWE-209/StackTraceExposure.ql
  python/ql/src/Security/CWE-327/BrokenCryptoAlgorithm.ql
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/dataflow/Paths.qll
  python/ql/src/semmle/python/dataflow/Presentation.qll
  python/ql/src/semmle/python/security/Paths.qll
Owners: none

Python: Update unitialized local to use new taint-tracking config.
  python/ql/src/Variables/Undefined.qll
  python/ql/src/semmle/python/dataflow/Implementation.qll
Owners: none

Python taint-tracking. Fix performance for a couple of predicates.
  python/ql/src/semmle/python/dataflow/Implementation.qll
Owners: none

Python taint-tracking: Remove old implementation.
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/security/TaintTest.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/src/semmle/python/web/Http.qll
  python/ql/test/library-tests/taint/config/RockPaperScissors.expected
  python/ql/test/library-tests/taint/config/Simple.expected
  python/ql/test/library-tests/taint/config/TaintedArgument.expected
  python/ql/test/library-tests/taint/config/TestNode.expected
  python/ql/test/library-tests/taint/config/TestSink.expected
  python/ql/test/library-tests/taint/config/TestSource.expected
  python/ql/test/library-tests/taint/config/TestStep.expected
  python/ql/test/library-tests/taint/dataflow/Dataflow.expected
  python/ql/test/library-tests/taint/dataflow/TestNode.expected
  python/ql/test/library-tests/taint/general/TaintLib.qll
  python/ql/test/library-tests/taint/general/TestDefn.ql
  python/ql/test/library-tests/taint/general/TestStep.ql
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.expected
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.ql
  python/ql/test/library-tests/taint/strings/Taint.qll
  python/ql/test/library-tests/taint/strings/TestNode.ql
  python/ql/test/library-tests/taint/strings/TestStep.ql
Owners: none

Python taint-tracking: make sure all features of legacy extensions are supported.
  python/ql/src/semmle/python/dataflow/Configuration.qll
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/test/library-tests/taint/config/RockPaperScissors.expected
  python/ql/test/library-tests/taint/config/Simple.expected
  python/ql/test/library-tests/taint/config/TestNode.expected
  python/ql/test/library-tests/taint/config/TestStep.expected
  python/ql/test/library-tests/taint/extensions/TestNode.expected
  python/ql/test/library-tests/taint/extensions/TestNode.ql
  python/ql/test/library-tests/taint/extensions/TestStep.expected
  python/ql/test/library-tests/taint/extensions/TestStep.ql
  python/ql/test/library-tests/taint/general/ParamSource.expected
  python/ql/test/library-tests/taint/general/TaintLib.qll
  python/ql/test/library-tests/taint/general/TaintSanity.ql
  python/ql/test/library-tests/taint/general/TestDefn.expected
  python/ql/test/library-tests/taint/general/TestSink.expected
  python/ql/test/library-tests/taint/general/TestStep.expected
  python/ql/test/library-tests/taint/general/TestVar.expected
  python/ql/test/library-tests/taint/general/TestVar.ql
  python/ql/test/library-tests/web/bottle/Taint.expected
Owners: none

Python taint-tracking: Avoid ambiguous flows through calls. Fix up tests.
  python/ql/src/Security/CWE-209/StackTraceExposure.ql
  python/ql/src/Security/CWE-327/BrokenCryptoAlgorithm.ql
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/security/Crypto.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/test/query-tests/Security/CWE-209/StackTraceExposure.expected
  python/ql/test/query-tests/Security/CWE-327/TestNode.expected
  python/ql/test/query-tests/Security/CWE-601/UrlRedirect.expected
Owners: none

Python taint-tracking. Further improvements to new taint-tracking.
  python/ql/src/semmle/python/dataflow/Configuration.qll
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
Owners: none

Python taint-tracking: Remove warnings from test output.
  python/ql/test/library-tests/web/bottle/Taint.expected
  python/ql/test/library-tests/web/falcon/Taint.expected
  python/ql/test/library-tests/web/turbogears/Taint.expected
  python/ql/test/query-tests/Security/CWE-327/TestNode.expected
Owners: none

Python taint-tracking. Fix bug in legacy API.
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/test/library-tests/taint/general/ModuleAttribute.expected
  python/ql/test/library-tests/taint/general/TestDefn.expected
  python/ql/test/library-tests/taint/general/TestDefn.ql
  python/ql/test/library-tests/taint/general/TestStep.ql
Owners: none

C++: Add a comment
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
Owners: @Semmle/cpp-analysis

docs: add rst versions of java slide decks and improve a few c++ slides
  docs/language/ql-training-rst/_static-training/java-data-flow-code-example.svg
  docs/language/ql-training-rst/_static-training/java-expression-ast.svg
  docs/language/ql-training-rst/_static-training/mismatched-calls-and-returns.svg
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/index.rst
  docs/language/ql-training-rst/java/apache-struts-java.rst
  docs/language/ql-training-rst/java/data-flow-java.rst
  docs/language/ql-training-rst/java/global-data-flow-java.rst
  docs/language/ql-training-rst/java/intro-ql-java.rst
  docs/language/ql-training-rst/java/program-representation-java.rst
  docs/language/ql-training-rst/java/query-injection-java.rst
  docs/language/ql-training-rst/query-examples/java/data-flow-java-1.ql
  docs/language/ql-training-rst/query-examples/java/data-flow-java-2.ql
  docs/language/ql-training-rst/query-examples/java/global-data-flow-java-1.ql
  docs/language/ql-training-rst/query-examples/java/query-injection-java-1.ql
  docs/language/ql-training-rst/query-examples/java/query-injection-java-2.ql
  docs/language/ql-training-rst/query-examples/java/query-injection-java-3.ql
  docs/language/ql-training-rst/slide-snippets/global-data-flow-extra-slides.rst
Owners: @felicity-semmle, @jf205
