Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

Use string interpolation
  misc/scripts/library-coverage/compare-files-comment-pr.py
Owners: none

Change workflow step name
  .github/workflows/csv-coverage-pr-comment.yml
Owners: none

Handle case when changes had been reported, and then removed
  misc/scripts/library-coverage/comment-pr.py
Owners: none

Compute framework coverage diff in artifacts job
  .github/workflows/csv-coverage-pr-artifacts.yml
  .github/workflows/csv-coverage-pr-comment.yml
  misc/scripts/library-coverage/comment-pr.py
  misc/scripts/library-coverage/compare-files-comment-pr.py
  misc/scripts/library-coverage/compare-folders.py
  misc/scripts/library-coverage/compare.py
  misc/scripts/library-coverage/utils.py
Owners: none

AST synthesis: Move location information into a separate predicate
  ql/src/codeql_ruby/ast/internal/AST.qll
  ql/src/codeql_ruby/ast/internal/Synthesis.qll
  ql/test/library-tests/ast/AstDesugar.expected
  ql/test/library-tests/controlflow/graph/Cfg.expected
Owners: none

add taint step through the `kleur` library
  javascript/change-notes/2021-06-22-colors.md
  javascript/ql/src/semmle/javascript/frameworks/Logging.qll
  javascript/ql/test/query-tests/Security/CWE-117/LogInjection.expected
  javascript/ql/test/query-tests/Security/CWE-117/logInjectionBad.js
Owners: @github/codeql-javascript

add taint step through the `chalk` library
  javascript/change-notes/2021-06-22-colors.md
  javascript/ql/src/semmle/javascript/frameworks/Logging.qll
  javascript/ql/test/query-tests/Security/CWE-117/LogInjection.expected
  javascript/ql/test/query-tests/Security/CWE-117/logInjectionBad.js
Owners: @github/codeql-javascript

add taint step through the `strip-ansi` library
  javascript/change-notes/2021-06-22-colors.md
  javascript/ql/src/semmle/javascript/frameworks/Logging.qll
  javascript/ql/test/query-tests/Security/CWE-117/LogInjection.expected
  javascript/ql/test/query-tests/Security/CWE-117/logInjectionBad.js
Owners: @github/codeql-javascript

Fix constant value stubbing
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Generate stub for nested classes
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Add support for event stubbing
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Fix protected internal on override in the same assembly
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Extract private/internal members from referenced assemblies + stub required non public constructors
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Add query to select all public declarations from target assemblies
  csharp/ql/src/Stubs/AllStubsFromReference.ql
  csharp/ql/src/Stubs/make_stubs_nuget.py
Owners: @github/codeql-csharp

Exclude default struct constructors from stubs
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Fix ExtraGeneratedConstructor to exclude static constructors and take into account generic derived classes
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Only stub declarations from libraries
  csharp/ql/src/Stubs/AllStubsFromReference.ql
  csharp/ql/src/Stubs/MinimalStubsFromSource.ql
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Stub unsafe modifier
  csharp/ql/src/Stubs/Stubs.qll
  csharp/ql/src/Stubs/make_stubs_nuget.py
Owners: @github/codeql-csharp

Fix accessibility modifier stubbing
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Add support for delegate stubbing
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Stub IndexerName attribute
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Add support for base ctor calls in stubbing
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Generate stubs per assembly
  csharp/ql/src/Stubs/AllStubsFromReference.ql
  csharp/ql/src/Stubs/AllStubsFromSource.ql
  csharp/ql/src/Stubs/MinimalStubsFromSource.ql
  csharp/ql/src/Stubs/Stubs.qll
  csharp/ql/test/query-tests/Stubs/All/AllStubs.expected
  csharp/ql/test/query-tests/Stubs/All/Test.cs
  csharp/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
Owners: @github/codeql-csharp

Fix generic type constraint stubbing on overrides
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Escape field names
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Add support for explicitly implemented indexers
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Add stubbing tests
  csharp/ql/src/Stubs/AllStubsFromSource.ql
  csharp/ql/src/Stubs/Stubs.qll
  csharp/ql/test/query-tests/Stubs/All/AllStubs.expected
  csharp/ql/test/query-tests/Stubs/All/AllStubs.qlref
  csharp/ql/test/query-tests/Stubs/All/Test.cs
  csharp/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
  csharp/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.qlref
  csharp/ql/test/query-tests/Stubs/Minimal/Test.cs
  csharp/ql/test/query-tests/Stubs/MinimalStubsFromSource.expected
Owners: @github/codeql-csharp

Fix generic type constraint order
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

C#: Add nuget based stubbing script
  csharp/ql/src/Stubs/helpers.py
  csharp/ql/src/Stubs/make_stubs.py
  csharp/ql/src/Stubs/make_stubs_nuget.py
Owners: @github/codeql-csharp

Use dotnet format to format the output stub file
  csharp/ql/src/Stubs/make_stubs_nuget.py
Owners: @github/codeql-csharp

Split generated stubs to separate files
  csharp/ql/src/Stubs/AllStubsFromReference.ql
  csharp/ql/src/Stubs/helpers.py
  csharp/ql/src/Stubs/make_stubs_nuget.py
Owners: @github/codeql-csharp

Fix qualified name stubbing for nested types
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Fix all remaining issues to stub entity framework core
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Only stub effectively public declarations
  csharp/ql/src/Stubs/MinimalStubsFromSource.ql
Owners: @github/codeql-csharp

Fix abstract override member generation
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

C#: Improve performance of stubbing library
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Adjust script to handle .net core framework reference
  csharp/ql/src/Stubs/make_stubs_nuget.py
Owners: @github/codeql-csharp

Handle all structs (simple types, intptr, system.void)
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Reduce size of stubDefaultArguments predicate
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Introduce test option to include files from projects
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/CsProjFile.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Options.cs
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
Owners: @github/codeql-csharp
