Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

Improve method documentation
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Improve inline-expectation style
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Simplify getInput
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

C++: More test cases.
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test2.cpp
Owners: @github/codeql-c-analysis

C++: Fix some easy FPs.
  cpp/ql/src/semmle/code/cpp/security/SensitiveExprs.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test2.cpp
Owners: @github/codeql-c-analysis

C++: Add simple dataflow to the query.
  cpp/ql/src/Security/CWE/CWE-311/CleartextFileWrite.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/test2.cpp
Owners: @github/codeql-c-analysis

C++: Change note.
  cpp/change-notes/2021-07-13-cleartext-storage-file.md
Owners: @github/codeql-c-analysis

Add generated tests
  java/ql/test/library-tests/frameworks/spring/webmultipart/Test.java
  java/ql/test/library-tests/frameworks/spring/webmultipart/test.expected
  java/ql/test/library-tests/frameworks/spring/webmultipart/test.ql
Owners: @github/codeql-java

Model Spring `web.multipart`
  java/change-notes/2021-07-01-spring-webmultipart.md
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/frameworks/spring/Spring.qll
  java/ql/src/semmle/code/java/frameworks/spring/SpringWebMultipart.qll
Owners: @github/codeql-java

Add stubs
  java/ql/test/library-tests/frameworks/spring/webmultipart/options
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/RequestDispatcher.java
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/Servlet.java
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/ServletConfig.java
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/ServletContext.java
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/ServletInputStream.java
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/ServletOutputStream.java
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/ServletRequest.java
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/ServletResponse.java
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/http/Cookie.java
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/http/HttpServletRequest.java
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/http/HttpSession.java
  java/ql/test/stubs/javax-servlet-2.5/javax/servlet/http/HttpSessionContext.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/core/io/support/ResourceRegion.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/http/CacheControl.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/http/ContentDisposition.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/http/HttpRange.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/http/MediaType.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/MimeType.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/multipart/MultipartHttpServletRequest.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/multipart/MultipartResolver.java
Owners: @github/codeql-java

Fix tests
  java/ql/test/library-tests/frameworks/spring/webmultipart/Test.java
  java/ql/test/library-tests/frameworks/spring/webmultipart/test.ql
Owners: @github/codeql-java

C++: Increase the query precision.
  cpp/ql/src/Security/CWE/CWE-311/CleartextFileWrite.ql
Owners: @github/codeql-c-analysis

Python: Add `import *` tests
  python/ql/test/experimental/dataflow/ApiGraphs/test.py
  python/ql/test/experimental/dataflow/ApiGraphs/test_import_star.py
  python/ql/test/experimental/dataflow/ApiGraphs/test_import_star2.py
Owners: @github/codeql-python, @xcorail

Change variable name to correct sanitized input variable
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_good.py
Owners: @github/codeql-python, @xcorail

Python: Refactor built-ins logic
  python/ql/src/semmle/python/ApiGraphs.qll
Owners: @github/codeql-python

Python: Support `import *` in API graphs
  python/ql/src/semmle/python/ApiGraphs.qll
Owners: @github/codeql-python

Apply suggestions from code review
  cpp/ql/src/experimental/Security/CWE/CWE-703/FindIncorrectlyUsedExceptions.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-703/FindIncorrectlyUsedExceptions.ql
Owners: @github/codeql-c-analysis, @xcorail

Update cpp/ql/src/experimental/Security/CWE/CWE-758/UndefinedOrImplementationDefinedBehavior.ql
  cpp/ql/src/experimental/Security/CWE/CWE-758/UndefinedOrImplementationDefinedBehavior.ql
Owners: @github/codeql-c-analysis, @xcorail

use the new `.toUnicode` method in the Angular2 model
  javascript/ql/src/semmle/javascript/frameworks/Angular2.qll
Owners: @github/codeql-javascript

Dataflow: Sync.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
Owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-go, @github/codeql-python

Dataflow: Refactor
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Owners: @github/codeql-java, @github/codeql-go

Dataflow: Simplify call context checks.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Owners: @github/codeql-java, @github/codeql-go

Address review comments
  ql/src/codeql_ruby/ast/Constant.qll
  ql/src/codeql_ruby/ast/internal/Module.qll
  ql/test/library-tests/ast/Ast.expected
  ql/test/library-tests/ast/constants/constants.expected
  ql/test/library-tests/ast/constants/constants.ql
  ql/test/library-tests/ast/constants/constants.rb
Owners: none
