Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

fixes minor bug
  python/ql/src/semmle/python/types/Exceptions.qll
Owners: @Semmle/python

autoformat all the things
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Expressions/WrongNameForArgumentInCall.ql
  python/ql/src/semmle/python/types/Exceptions.qll
  python/ql/src/semmle/python/types/FunctionObject.qll
Owners: @Semmle/python

fix a missed renaming
  python/ql/src/Expressions/WrongNameForArgumentInCall.ql
Owners: @Semmle/python

Adds test cases.
  python/ql/test/query-tests/Expressions/general/expressions_test.py
Owners: @Semmle/python

Replaces name-reference to the class with canonical predicate.
  python/ql/src/Expressions/TruncatedDivision.ql
Owners: @Semmle/python

Swaps ...obj for ...val
  python/ql/src/Expressions/TruncatedDivision.ql
Owners: @Semmle/python

Adds test output.
  python/ql/test/query-tests/Expressions/general/TruncatedDivision.expected
Owners: @Semmle/python

Adds modernized files.
  python/ql/src/Expressions/TruncatedDivision.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/query-tests/Expressions/general/TruncatedDivision.qlref
Owners: @Semmle/python

Removes conflicting NumericValue definition
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

autoformats
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Move query over to Rasmus's API for NumericValue
  python/ql/src/Expressions/TruncatedDivision.ql
Owners: @Semmle/python

Move the query and examples over to 2/query-tests
  python/ql/test/2/query-tests/Expressions/TruncatedDivision.py
  python/ql/test/query-tests/Expressions/general/TruncatedDivision.expected
  python/ql/test/query-tests/Expressions/general/TruncatedDivision.qlref
  python/ql/test/query-tests/Expressions/general/expressions_test.py
Owners: @Semmle/python

Moves other affected queries over to the *_objectapi convention
  python/ql/src/Classes/WrongNameForArgumentInClassInstantiation.ql
  python/ql/src/Classes/WrongNumberArgumentsInClassInstantiation.ql
  python/ql/src/Exceptions/IllegalExceptionHandlerType.ql
  python/ql/src/Functions/IncorrectlyOverriddenMethod.ql
  python/ql/test/3/library-tests/types/exceptions/Viable.ql
  python/ql/test/library-tests/exceptions/Handles.ql
  python/ql/test/library-tests/types/exceptions/ExitRaises.ql
  python/ql/test/library-tests/types/exceptions/Handles.ql
  python/ql/test/library-tests/types/exceptions/Viable.ql
Owners: @Semmle/python

Adds modernization
  python/ql/src/Expressions/UnnecessaryLambda.ql
Owners: @Semmle/python

Adds bulk of modernizations
  python/ql/src/Expressions/IsComparisons.qll
Owners: @Semmle/python

Updates last library difference
  python/ql/src/Expressions/IsComparisons.qll
Owners: @Semmle/python

JavaScript: Improve qldoc for `Parameter` to clarify that it also contains catch-clause parameters.
  javascript/ql/src/semmle/javascript/Variables.qll
Owners: @Semmle/js

C#: Adopt taint-getter-setter tests from Java
  csharp/ql/test/library-tests/dataflow/taintgettersetter/TaintGetterSetter.cs
  csharp/ql/test/library-tests/dataflow/taintgettersetter/TaintGetterSetter.expected
  csharp/ql/test/library-tests/dataflow/taintgettersetter/TaintGetterSetter.ql
Owners: @Semmle/cs

Java: Add taint-getter-setter test
  java/ql/test/library-tests/dataflow/taintgettersetter/A.java
  java/ql/test/library-tests/dataflow/taintgettersetter/taintgettersetter.expected
Owners: @Semmle/java

Data flow: Sync files
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Java/C#: Update expected test output
  csharp/ql/test/library-tests/dataflow/taintgettersetter/TaintGetterSetter.expected
  java/ql/test/library-tests/dataflow/taintgettersetter/taintgettersetter.expected
Owners: @Semmle/cs, @Semmle/java

Data flow: Generalize taint summaries
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/test/library-tests/dataflow/fields/H.cs
Owners: @Semmle/cs

small changes based on review
  javascript/ql/src/Security/CWE-078/UselessUseOfCat.ql
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Owners: @Semmle/js

Improve join-order in pathStep predicate.
  ql/src/semmle/go/dataflow/internal/DataFlowImpl.qll
Owners: none

Track simple call contexts in `nodeCand[Fwd]1`.
  ql/src/semmle/go/dataflow/internal/DataFlowImpl.qll
Owners: none

Update javascript/ql/src/semmle/javascript/Variables.qll
  javascript/ql/src/semmle/javascript/Variables.qll
Owners: @Semmle/js

Sharpen the sources for `StringBreak`.
  ql/src/semmle/go/security/StringBreakCustomizations.qll
  ql/test/query-tests/Security/CWE-089/StringBreak.expected
  ql/test/query-tests/Security/CWE-089/tst.go
Owners: none

Simplify `getACallee()`.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
  ql/test/library-tests/semmle/go/dataflow/CallGraph/main.go
Owners: none

JS: Add change note
  change-notes/1.24/analysis-javascript.md
Owners: none

pre-migration tasks: replace titles
  docs/language/learn-ql/javascript/ast-class-reference.rst
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/language/learn-ql/javascript/flow-labels.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
  docs/language/learn-ql/javascript/type-tracking.rst
Owners: @shati-patel, @jf205

C#: Add similar fix to translation of switch statements in C#
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
Owners: @Semmle/cs

Python: Update change-notes
  change-notes/1.24/analysis-python.md
Owners: none

big refactor of UselessUseOfCal
  javascript/ql/src/Security/CWE-078/UselessUseOfCat.ql
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.ql
  javascript/ql/test/query-tests/Security/CWE-078/uselesscat.js
Owners: @Semmle/js

Python: Add example for how to write your own sanitizer
  python/ql/test/library-tests/examples/custom-sanitizer/SanitizedEdges.expected
  python/ql/test/library-tests/examples/custom-sanitizer/SanitizedEdges.ql
  python/ql/test/library-tests/examples/custom-sanitizer/Taint.qll
  python/ql/test/library-tests/examples/custom-sanitizer/TestTaint.expected
  python/ql/test/library-tests/examples/custom-sanitizer/TestTaint.ql
  python/ql/test/library-tests/examples/custom-sanitizer/test.py
Owners: @Semmle/python

JS: Track flow into calls to bound functions
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/bound-function.js
Owners: @Semmle/js

JS: Also track into callbacks
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/bound-function.js
Owners: @Semmle/js

JS: Also propagate out of returns
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/bound-function.js
Owners: @Semmle/js

JS: Update expected output
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/GermanFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TaintTracking.expected
Owners: @Semmle/js

JS: Add change note
  change-notes/1.24/analysis-javascript.md
Owners: none

C++/C#: Accept test output after adding sanity check to Instruction.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/ir/constant_func/constant_func.expected
  cpp/ql/test/library-tests/ir/escape/escape.expected
  cpp/ql/test/library-tests/ir/escape/ssa_escape.expected
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_uniqueness.expected
  cpp/ql/test/query-tests/Likely Bugs/RedundantNullCheckSimple/RedundantNullCheckSimple.expected
  csharp/ql/test/library-tests/ir/offbyone/OffByOneRA.expected
  csharp/ql/test/library-tests/ir/rangeanalysis/RangeAnalysis.expected
Owners: @Semmle/cpp-analysis, @Semmle/cs

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
