Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

nit: add dot to qhelp
  java/ql/src/experimental/CWE-643/XPathInjection.qhelp
Owners: @felicitymay

JS: Fix perf issue in mayReceiveArgument
  javascript/ql/src/semmle/javascript/dataflow/internal/VariableTypeInference.qll
Owners: @Semmle/js

autoformat
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
Owners: @Semmle/js

Java: Add taint steps for java.util.Queue methods.
  java/ql/src/semmle/code/java/dataflow/internal/ContainerFlow.qll
Owners: @Semmle/java

JS: Add a comment
  javascript/extractor/lib/typescript/src/main.ts
Owners: @Semmle/js

remove model of Deferred
  javascript/ql/src/Statements/UseOfReturnlessFunction.ql
Owners: @Semmle/js

C++: Clean up the test.
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/test.cpp
Owners: @Semmle/cpp-analysis

C++: Add new test cases.
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/test.cpp
Owners: @Semmle/cpp-analysis

C++: Correct hasUpperBoundsCheck.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTrackingImpl.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/test.cpp
Owners: @Semmle/cpp-analysis

JS: Refactor metadata class a bit
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParserMetadata.java
Owners: @Semmle/js

JS: Remove unneeded forwarding method
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
Owners: @Semmle/js

Address review comments
  ql/src/InconsistentCode/MistypedExponentiation.ql
Owners: none

MistypedExponentiation: Add a heuristic to reduce FPs
  ql/src/InconsistentCode/MistypedExponentiation.ql
  ql/test/query-tests/InconsistentCode/MistypedExponentiation/main.go
Owners: none

Remove information about COBOL analysis
  docs/language/learn-ql/cobol/introduce-libraries-cobol.rst
  docs/language/learn-ql/cobol/ql-for-cobol.rst
  docs/language/learn-ql/index.rst
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/support/cobol-note.rst
  docs/language/support/conf.py
  docs/language/support/language-support.rst
  docs/query-metadata-style-guide.md
Owners: @shati-patel, @jf205

Python: Make two tests not depend on minor Python version.
  python/ql/src/Imports/SyntaxError.ql
  python/ql/test/2/query-tests/Imports/syntax_error/SyntaxError.expected
  python/ql/test/3/query-tests/Imports/syntax_error/SyntaxError.expected
  python/ql/test/query-tests/Imports/unused/options
Owners: @Semmle/python

C++: autoformat
  cpp/ql/src/semmle/code/cpp/ir/ValueNumbering.qll
Owners: @Semmle/cpp-analysis

Python: Use `TUnknown` instead of `TUnknownInstance`.
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/test/library-tests/PointsTo/new/PointsToUnknown.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithType.expected
  python/ql/test/library-tests/PointsTo/new/Values.expected
  python/ql/test/library-tests/PointsTo/regressions/missing/if-urlsplit-access/Test.expected
Owners: @Semmle/python

Apply suggestions from code review
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/query-metadata-style-guide.md
Owners: @shati-patel, @jf205

C++: update test expectations
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Owners: @Semmle/cpp-analysis

C++: autoformat
  cpp/ql/src/semmle/code/cpp/ir/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/IRSanity.ql
  cpp/ql/src/semmle/code/cpp/ir/PrintIR.ql
  cpp/ql/src/semmle/code/cpp/ir/PrintIR.qll
Owners: @Semmle/cpp-analysis

C++: add argv chi chain example to ssa test
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Owners: @Semmle/cpp-analysis

C++: Model dynamic initialization of static local variables in IR
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/TIRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/CppType.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/internal/TIRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRVariable.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++: Fix formatting
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
Owners: @Semmle/cpp-analysis

Add change note
  change-notes/1.24/analysis-go.md
Owners: none

Add new query `AllocationSizeOverflow`.
  change-notes/1.24/analysis-go.md
  ql/src/Security/CWE-190/AllocationSizeOverflow.go
  ql/src/Security/CWE-190/AllocationSizeOverflow.qhelp
  ql/src/Security/CWE-190/AllocationSizeOverflow.ql
  ql/src/Security/CWE-190/AllocationSizeOverflowGood.go
  ql/src/semmle/go/security/AllocationSizeOverflow.qll
  ql/src/semmle/go/security/AllocationSizeOverflowCustomizations.qll
  ql/test/query-tests/Security/CWE-190/AllocationSizeOverflow.expected
  ql/test/query-tests/Security/CWE-190/AllocationSizeOverflow.go
  ql/test/query-tests/Security/CWE-190/AllocationSizeOverflow.qlref
  ql/test/query-tests/Security/CWE-190/AllocationSizeOverflowGood.go
  ql/test/query-tests/Security/CWE-190/AllocationSizeOverflowGood2.go
  ql/test/query-tests/Security/CWE-190/stubs.go
  ql/test/query-tests/Security/CWE-190/tst.go
  ql/test/query-tests/Security/CWE-190/tst2.go
Owners: none

Fix typo.
  ql/src/semmle/go/security/AllocationSizeOverflow.qll
Owners: none

Simplify a condition.
  ql/src/semmle/go/security/AllocationSizeOverflowCustomizations.qll
Owners: none

Make query more extensible.
  ql/src/semmle/go/security/AllocationSizeOverflowCustomizations.qll
Owners: none

C++: Fix failed tests
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/variables/variables/variable.expected
Owners: @Semmle/cpp-analysis

Also treat second argument to `make` (slice capacity) as an allocation size.
  ql/src/semmle/go/security/AllocationSizeOverflowCustomizations.qll
  ql/test/query-tests/Security/CWE-190/AllocationSizeOverflow.expected
  ql/test/query-tests/Security/CWE-190/tst.go
Owners: none

C++: Fix formatting
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
Owners: @Semmle/cpp-analysis

Data flow: Refactoring + performance improvements
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
Owners: @Semmle/cs

Data flow: Sync files
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

JS: add some tests for `this`
  javascript/ql/test/library-tests/ThisExpr/ThisExpr_analyzed.expected
  javascript/ql/test/library-tests/ThisExpr/getBasicBlock.expected
  javascript/ql/test/library-tests/ThisExpr/getBinder.expected
  javascript/ql/test/library-tests/ThisExpr/module-exports.js
Owners: @Semmle/js

JS: infer `this` to be `module.exports` in node modules
  javascript/ql/src/semmle/javascript/dataflow/internal/InterProceduralTypeInference.qll
  javascript/ql/test/library-tests/ThisExpr/ThisExpr_analyzed.expected
Owners: @Semmle/js

Take promoted methods into account when computing method sets.
  ql/src/semmle/go/Types.qll
Owners: none

Add tests.
  ql/test/library-tests/semmle/go/Types/Field_getPackage.expected
  ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName2.expected
  ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName3.expected
  ql/test/library-tests/semmle/go/Types/MethodCount.expected
  ql/test/library-tests/semmle/go/Types/MethodDecls.expected
  ql/test/library-tests/semmle/go/Types/MethodTypes.expected
  ql/test/library-tests/semmle/go/Types/Methods.expected
  ql/test/library-tests/semmle/go/Types/QualifiedNames.expected
  ql/test/library-tests/semmle/go/Types/SignatureType_getNumParameter.expected
  ql/test/library-tests/semmle/go/Types/SignatureType_getNumResult.expected
  ql/test/library-tests/semmle/go/Types/StructFields.expected
  ql/test/library-tests/semmle/go/Types/Types.expected
  ql/test/library-tests/semmle/go/Types/pkg1/embedding.go
Owners: none

Reformulate `hasQualifiedName` in terms of method sets.
  ql/src/semmle/go/Scopes.qll
Owners: none

Add another test.
  ql/test/library-tests/semmle/go/Types/Method_hasQualifiedName2.expected
  ql/test/library-tests/semmle/go/Types/Method_hasQualifiedName2.ql
  ql/test/library-tests/semmle/go/Types/Method_hasQualifiedName3.expected
  ql/test/library-tests/semmle/go/Types/Method_hasQualifiedName3.ql
Owners: none

C++: Demonstrate false positives when a const variable is initialized in a parameter list
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.cpp
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.expected
Owners: @Semmle/cpp-analysis

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
