Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

C++: Add an ArrayFunction model to FormattingFunction.
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/NoSpaceForZeroTerminator.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test.cpp
Owners: @Semmle/cpp-analysis

C++: Change note.
  change-notes/1.24/analysis-cpp.md
Owners: none

C++: Add a TaintFunction model to FormattingFunction.
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

C++: Add tests demonstrating differences between AST virtual dispatch analysis and IR virtual dispatch analysis
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.ql
Owners: @Semmle/cpp-analysis

C++: Accept new output in already existing test
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
Owners: @Semmle/cpp-analysis

Java: Add new query for large left shifts and bugfix ConstantExpAppearsNonConstant.
  change-notes/1.24/analysis-java.md
  java/ql/src/Likely Bugs/Arithmetic/ConstantExpAppearsNonConstant.qhelp
  java/ql/src/Likely Bugs/Arithmetic/ConstantExpAppearsNonConstant.ql
  java/ql/src/Likely Bugs/Arithmetic/LShiftLargerThanTypeWidth.java
  java/ql/src/Likely Bugs/Arithmetic/LShiftLargerThanTypeWidth.qhelp
  java/ql/src/Likely Bugs/Arithmetic/LShiftLargerThanTypeWidth.ql
  java/ql/src/Likely Bugs/Arithmetic/LShiftLargerThanTypeWidthGood.java
  java/ql/test/query-tests/ConstantExpAppearsNonConstant/ConstantExpAppearsNonConstant.expected
  java/ql/test/query-tests/ConstantExpAppearsNonConstant/Test.java
  java/ql/test/query-tests/LShiftLargerThanTypeWidth/A.java
  java/ql/test/query-tests/LShiftLargerThanTypeWidth/LShiftLargerThanTypeWidth.expected
  java/ql/test/query-tests/LShiftLargerThanTypeWidth/LShiftLargerThanTypeWidth.qlref
Owners: @felicitymay, @Semmle/java

Apply suggestions from code review
  java/ql/src/Likely Bugs/Arithmetic/LShiftLargerThanTypeWidth.qhelp
Owners: @felicitymay

Java: Reword help according to review comment.
  java/ql/src/Likely Bugs/Arithmetic/LShiftLargerThanTypeWidth.qhelp
Owners: @felicitymay

Java: Fix whitespace query.
  java/ql/src/Likely Bugs/Arithmetic/WhitespaceContradictsPrecedence.ql
Owners: @Semmle/java

Java: Add upgrade script.
  java/upgrades/e7706df98aaefcf055f35f50582f2686f41c23bb/annotValue.ql
  java/upgrades/e7706df98aaefcf055f35f50582f2686f41c23bb/callableEnclosingExpr.ql
  java/upgrades/e7706df98aaefcf055f35f50582f2686f41c23bb/exprs.ql
  java/upgrades/e7706df98aaefcf055f35f50582f2686f41c23bb/hasLocation.ql
  java/upgrades/e7706df98aaefcf055f35f50582f2686f41c23bb/isParenthesized.ql
  java/upgrades/e7706df98aaefcf055f35f50582f2686f41c23bb/numlines.ql
  java/upgrades/e7706df98aaefcf055f35f50582f2686f41c23bb/old.dbscheme
  java/upgrades/e7706df98aaefcf055f35f50582f2686f41c23bb/semmlecode.dbscheme
  java/upgrades/e7706df98aaefcf055f35f50582f2686f41c23bb/statementEnclosingExpr.ql
  java/upgrades/e7706df98aaefcf055f35f50582f2686f41c23bb/upgrade.properties
Owners: @Semmle/java

Java: Add Expr.isParenthesized, adjust VarAccess.toString, and fix tests.
  java/ql/src/Complexity/ComplexCondition.ql
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/test/library-tests/constants/CompileTimeConstantExpr.expected
  java/ql/test/library-tests/constants/getIntValue.expected
  java/ql/test/query-tests/Nullness/NullExprDeref.expected
Owners: @Semmle/java

Java: Update dbscheme for ParExpr removal.
  java/ql/src/config/semmlecode.dbscheme
  java/ql/src/config/semmlecode.dbscheme.stats
Owners: @Semmle/java

Java: Update 2 queries.
  java/ql/src/Likely Bugs/Arithmetic/MultiplyRemainder.ql
  java/ql/src/Likely Bugs/Arithmetic/WhitespaceContradictsPrecedence.ql
Owners: @Semmle/java

C++: Fix formatting
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.ql
Owners: @Semmle/cpp-analysis

JS: Type-track react component factories
  javascript/ql/src/semmle/javascript/frameworks/React.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/exportedReactComponent.jsx
  javascript/ql/test/library-tests/TaintTracking/importedReactComponent.jsx
  javascript/ql/test/library-tests/frameworks/ReactJS/exportedComponent.jsx
  javascript/ql/test/library-tests/frameworks/ReactJS/importedComponent.jsx
  javascript/ql/test/library-tests/frameworks/ReactJS/tests.expected
Owners: @Semmle/js

C#: Add test showing false positive
  csharp/ql/test/query-tests/Likely Bugs/DangerousNonShortCircuitLogic/DangerousNonShortCircuitLogic.cs
  csharp/ql/test/query-tests/Likely Bugs/DangerousNonShortCircuitLogic/DangerousNonShortCircuitLogic.expected
Owners: @Semmle/cs

Python: Autoformat web tests QL files
  python/ql/test/library-tests/web/bottle/Routing.ql
  python/ql/test/library-tests/web/bottle/Sinks.ql
  python/ql/test/library-tests/web/bottle/Sources.ql
  python/ql/test/library-tests/web/bottle/Taint.ql
  python/ql/test/library-tests/web/cherrypy/Sinks.ql
  python/ql/test/library-tests/web/cherrypy/Sources.ql
  python/ql/test/library-tests/web/django/Sinks.ql
  python/ql/test/library-tests/web/django/Sources.ql
  python/ql/test/library-tests/web/falcon/Routing.ql
  python/ql/test/library-tests/web/falcon/Sinks.ql
  python/ql/test/library-tests/web/falcon/Sources.ql
  python/ql/test/library-tests/web/falcon/Taint.ql
  python/ql/test/library-tests/web/flask/Routing.ql
  python/ql/test/library-tests/web/flask/Sinks.ql
  python/ql/test/library-tests/web/flask/Sources.ql
  python/ql/test/library-tests/web/flask/Taint.ql
  python/ql/test/library-tests/web/pyramid/Routing.ql
  python/ql/test/library-tests/web/pyramid/Sinks.ql
  python/ql/test/library-tests/web/pyramid/Sources.ql
  python/ql/test/library-tests/web/pyramid/Taint.ql
  python/ql/test/library-tests/web/tornado/Classes.ql
  python/ql/test/library-tests/web/tornado/Sinks.ql
  python/ql/test/library-tests/web/tornado/Sources.ql
  python/ql/test/library-tests/web/tornado/Taint.ql
  python/ql/test/library-tests/web/turbogears/Controller.ql
  python/ql/test/library-tests/web/turbogears/Sinks.ql
  python/ql/test/library-tests/web/turbogears/Sources.ql
  python/ql/test/library-tests/web/turbogears/Taint.ql
  python/ql/test/library-tests/web/twisted/Sinks.ql
  python/ql/test/library-tests/web/twisted/Sources.ql
  python/ql/test/library-tests/web/twisted/Taint.ql
Owners: @Semmle/python

Python: Remove unused variable from exists expression
  python/ql/src/semmle/python/web/twisted/Response.qll
Owners: @Semmle/python

Python: Don't make duplicate sink for Tornado handler
  python/ql/src/semmle/python/web/tornado/Response.qll
  python/ql/test/library-tests/web/tornado/HttpSinks.expected
Owners: @Semmle/python

Python: Fix tornado lib: a redirect is not a http response
  python/ql/src/semmle/python/web/tornado/Redirect.qll
  python/ql/src/semmle/python/web/tornado/Response.qll
  python/ql/test/library-tests/web/tornado/HttpRedirectSinks.expected
  python/ql/test/library-tests/web/tornado/HttpRedirectSinks.ql
  python/ql/test/library-tests/web/tornado/HttpResponseSinks.expected
  python/ql/test/library-tests/web/tornado/HttpResponseSinks.ql
Owners: @Semmle/python

Python: Update web libraries to use HttpSources and HttpSinks
  change-notes/1.24/analysis-python.md
  python/ql/src/semmle/python/web/bottle/Request.qll
  python/ql/src/semmle/python/web/cherrypy/Request.qll
  python/ql/src/semmle/python/web/django/Response.qll
  python/ql/src/semmle/python/web/falcon/Request.qll
  python/ql/src/semmle/python/web/falcon/Response.qll
  python/ql/src/semmle/python/web/flask/Request.qll
  python/ql/src/semmle/python/web/pyramid/Request.qll
  python/ql/src/semmle/python/web/tornado/Request.qll
  python/ql/src/semmle/python/web/turbogears/Request.qll
  python/ql/src/semmle/python/web/twisted/Request.qll
  python/ql/src/semmle/python/web/twisted/Response.qll
  python/ql/test/library-tests/web/bottle/HttpSources.expected
  python/ql/test/library-tests/web/bottle/Sources.expected
  python/ql/test/library-tests/web/bottle/Sources.ql
  python/ql/test/library-tests/web/cherrypy/HttpSources.expected
  python/ql/test/library-tests/web/cherrypy/Sources.expected
  python/ql/test/library-tests/web/cherrypy/Sources.ql
  python/ql/test/library-tests/web/falcon/HttpSources.expected
  python/ql/test/library-tests/web/falcon/Sources.expected
  python/ql/test/library-tests/web/falcon/Sources.ql
  python/ql/test/library-tests/web/pyramid/HttpSources.expected
  python/ql/test/library-tests/web/pyramid/Sources.expected
  python/ql/test/library-tests/web/pyramid/Sources.ql
  python/ql/test/library-tests/web/tornado/HttpSources.expected
  python/ql/test/library-tests/web/tornado/Sources.expected
  python/ql/test/library-tests/web/tornado/Sources.ql
  python/ql/test/library-tests/web/turbogears/HttpSources.expected
  python/ql/test/library-tests/web/turbogears/Sources.expected
  python/ql/test/library-tests/web/turbogears/Sources.ql
  python/ql/test/library-tests/web/twisted/HttpSinks.expected
  python/ql/test/library-tests/web/twisted/HttpSources.expected
  python/ql/test/library-tests/web/twisted/Sinks.expected
  python/ql/test/library-tests/web/twisted/Sinks.ql
  python/ql/test/library-tests/web/twisted/Sources.expected
  python/ql/test/library-tests/web/twisted/Sources.ql
Owners: @Semmle/python

Python: Temporarily disable falcon HttpSinks test
  python/ql/test/library-tests/web/falcon/HttpSinks.expected
  python/ql/test/library-tests/web/falcon/HttpSinks.ql
Owners: @Semmle/python

Python: For web tests, use more precise name HttpResponseSinks
  python/ql/test/library-tests/web/bottle/HttpResponseSinks.expected
  python/ql/test/library-tests/web/bottle/HttpResponseSinks.ql
  python/ql/test/library-tests/web/cherrypy/HttpResponseSinks.expected
  python/ql/test/library-tests/web/cherrypy/HttpResponseSinks.ql
  python/ql/test/library-tests/web/django/HttpResponseSinks.expected
  python/ql/test/library-tests/web/django/HttpResponseSinks.ql
  python/ql/test/library-tests/web/falcon/HttpResponseSinks.expected
  python/ql/test/library-tests/web/falcon/HttpResponseSinks.ql
  python/ql/test/library-tests/web/flask/HttpResponseSinks.expected
  python/ql/test/library-tests/web/flask/HttpResponseSinks.ql
  python/ql/test/library-tests/web/pyramid/HttpResponseSinks.expected
  python/ql/test/library-tests/web/pyramid/HttpResponseSinks.ql
  python/ql/test/library-tests/web/turbogears/HttpResponseSinks.expected
  python/ql/test/library-tests/web/turbogears/HttpResponseSinks.ql
  python/ql/test/library-tests/web/twisted/HttpResponseSinks.expected
  python/ql/test/library-tests/web/twisted/HttpResponseSinks.ql
Owners: @Semmle/python

Python: Fix typo (reques => request)
  python/ql/src/semmle/python/web/tornado/Response.qll
  python/ql/test/library-tests/web/tornado/HttpSinks.expected
Owners: @Semmle/python

Python: Add toString to TurboGears HttpResponseTaintSinks
  python/ql/src/semmle/python/web/turbogears/Response.qll
  python/ql/test/library-tests/web/turbogears/HttpSinks.expected
  python/ql/test/library-tests/web/turbogears/Sinks.expected
  python/ql/test/library-tests/web/turbogears/Sinks.ql
Owners: @Semmle/python

C++: Autoformat.
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
Owners: @Semmle/cpp-analysis

Update javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
Owners: @Semmle/js

Apply suggestions from code review
  javascript/ql/src/Security/CWE-352/MissingCsrfMiddleware.ql
Owners: @Semmle/js

C++: Fix annotations in testcase file
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.cpp
Owners: @Semmle/cpp-analysis

adjust type-tracking on custom EventEmitters
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/frameworks/EventEmitter/customEmitter.js
  javascript/ql/test/library-tests/frameworks/EventEmitter/test.expected
Owners: @Semmle/js

C#: Remove false positive for out params
  csharp/ql/src/Likely Bugs/DangerousNonShortCircuitLogic.ql
  csharp/ql/test/query-tests/Likely Bugs/DangerousNonShortCircuitLogic/DangerousNonShortCircuitLogic.cs
  csharp/ql/test/query-tests/Likely Bugs/DangerousNonShortCircuitLogic/DangerousNonShortCircuitLogic.expected
Owners: @Semmle/cs

adjust API naming
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

C++: Correct a few test comments.
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
Owners: @Semmle/cpp-analysis

C++: Fix warnings.
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
Owners: @Semmle/cpp-analysis

C++: Taint from FormattingFunction varargs.
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

C++: Modify ParameterIndex to account for varargs.
  cpp/ql/src/semmle/code/cpp/Parameter.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/format.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

C++: Update change note.
  change-notes/1.24/analysis-cpp.md
Owners: none

C#: Analysis change notes
  change-notes/1.24/analysis-csharp.md
Owners: none

Python: Add tests for py/import-deprecated-module
  python/ql/test/query-tests/Imports/deprecated/DeprecatedModule.expected
  python/ql/test/query-tests/Imports/deprecated/DeprecatedModule.qlref
  python/ql/test/query-tests/Imports/deprecated/test.py
Owners: @Semmle/python

Python: Autoformat
  python/ql/src/Imports/DeprecatedModule.ql
Owners: @Semmle/python
