Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

docs: update images
  docs/language/ql-training-rst/_static-training/java-data-flow-code-example.svg
  docs/language/ql-training-rst/_static-training/java-expression-ast.svg
  docs/language/ql-training-rst/_static-training/mismatched-calls-and-returns.svg
Owners: @felicity-semmle, @jf205

Update docs/language/ql-training-rst/slide-snippets/local-data-flow.rst
  docs/language/ql-training-rst/slide-snippets/local-data-flow.rst
Owners: @felicity-semmle, @jf205

JS: Add deprecated predicate alias
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
Owners: @Semmle/js

JS: Add angular.fromJson as JSON parser
  javascript/ql/src/semmle/javascript/JsonParsers.qll
  javascript/ql/test/library-tests/JsonParsers/JsonParserCalls.expected
  javascript/ql/test/library-tests/JsonParsers/angular.js
Owners: @Semmle/js

JS: Add angular.merge sink to prototype pollution query
  javascript/ql/src/Security/CWE-400/PrototypePollution.ql
  javascript/ql/src/semmle/javascript/Extend.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollution.expected
  javascript/ql/test/query-tests/Security/CWE-400/angularmerge.js
Owners: @Semmle/js

JS: Add change note
  change-notes/1.23/analysis-javascript.md
Owners: none

C++: Remark in DefinitionByReference charpred
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Owners: @Semmle/cpp-analysis

docs: add ql-training page to learn-ql project
  docs/language/learn-ql/index.rst
  docs/language/learn-ql/ql-training.rst
Owners: @felicity-semmle, @jf205

JS: whitelist quote stripping for js/incomplete-sanitization
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
  javascript/ql/test/query-tests/Security/CWE-116/IncompleteSanitization/tst.js
Owners: @Semmle/js

Python: Modernise the `py/non-iterable-in-for-loop` query.
  python/ql/src/Statements/NonIteratorInForLoop.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/query-tests/Statements/general/NonIteratorInForLoop.expected
  python/ql/test/query-tests/Statements/general/test.py
Owners: none

C++: Use mangled_name in ResolveClass.qll
  cpp/ql/src/semmle/code/cpp/internal/ResolveClass.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis

C++: Add an upgrade script
  cpp/upgrades/81a312e6dafdffb650e1c7e3dc02cc37505e2505/old.dbscheme
  cpp/upgrades/81a312e6dafdffb650e1c7e3dc02cc37505e2505/semmlecode.cpp.dbscheme
  cpp/upgrades/81a312e6dafdffb650e1c7e3dc02cc37505e2505/upgrade.properties
Owners: @Semmle/cpp-analysis

C++: Updates stats to include mangled_name table
  cpp/ql/src/semmlecode.cpp.dbscheme.stats
Owners: @Semmle/cpp-analysis

JS: Use express module instead
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
Owners: @Semmle/js

Comment out diverging example for now.
  python/ql/test/3/library-tests/PointsTo/typehints/Values.expected
  python/ql/test/3/library-tests/PointsTo/typehints/test.py
Owners: none

docs: reorganize and add some ref bookmarks to learn-ql index
  docs/language/learn-ql/index.rst
Owners: @felicity-semmle, @jf205

docs: rework ql-training.rst
  docs/language/learn-ql/ql-training.rst
Owners: @felicity-semmle, @jf205

docs: remove VA section from writing-queries.rst
  docs/language/learn-ql/writing-queries/writing-queries.rst
Owners: @felicity-semmle, @jf205

docs: fix a couple of links
  docs/language/learn-ql/ql-training.rst
Owners: @felicity-semmle, @jf205

docs: update layout.html
  docs/language/global-sphinx-files/_templates/layout.html
Owners: @felicity-semmle, @jf205

docs: specify sphinx 1.7.9 in readme
  docs/language/README.rst
Owners: @felicity-semmle, @jf205

Python: Use same dummy `filepath` as in old API.
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: none

Update docs/language/learn-ql/ql-training.rst
  docs/language/learn-ql/ql-training.rst
Owners: @felicity-semmle, @jf205

Update docs/language/learn-ql/ql-training.rst
  docs/language/learn-ql/ql-training.rst
Owners: @felicity-semmle, @jf205

Update docs/language/README.rst
  docs/language/README.rst
Owners: @felicity-semmle, @jf205

docs: fix typo
  docs/language/ql-training/cpp/bad-overflow-guard.rst
Owners: @felicity-semmle, @jf205

C++: Pull some of library-tests/dataflow/dataflow-tests into clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
Owners: @Semmle/cpp-analysis

Java: Autoformat.
  java/ql/src/semmle/code/java/ControlFlowGraph.qll
  java/ql/src/semmle/code/java/Conversions.qll
  java/ql/src/semmle/code/java/Expr.qll
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/src/semmle/code/java/dataflow/SSA.qll
  java/ql/src/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/src/semmle/code/java/dataflow/internal/BaseSSA.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/dispatch/VirtualDispatch.qll
Owners: @Semmle/java

C++: Sync files.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/EdgeKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
Owners: @Semmle/cpp-analysis

Add test cases for nested subscripts.
  python/ql/test/3/library-tests/PointsTo/typehints/Values.expected
  python/ql/test/3/library-tests/PointsTo/typehints/test.py
Owners: none

docs: slides fix for edge and ff
  docs/language/ql-training/_static-training/slides-semmle-2/static/theme/css/default.css
Owners: @felicity-semmle, @jf205

docs: updated slide background
  docs/language/ql-training/_static-training/setup-slide.svg
Owners: @felicity-semmle, @jf205

C++: Hide that IR DataFlow::Node is Instruction
  cpp/ql/src/semmle/code/cpp/ir/dataflow/TaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

JS: Add event handler sink to code injection
  javascript/ql/src/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
Owners: @Semmle/js

Add a new issue template for false positive in LGTM.com
  .github/ISSUE_TEMPLATE/lgtm-com---false-positive.md
Owners: none

Java: Restrict the output of Range Analysis to the best bounds.
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
Owners: @Semmle/java

docs: improve slide layout for printing
  docs/language/ql-training/_static-training/slides-semmle-2/static/theme/css/default.css
Owners: @felicity-semmle, @jf205

JS: Add test
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/tst.js
Owners: @Semmle/js

add xlink:href as xss target when using setAttribute
  javascript/ql/src/semmle/javascript/security/dataflow/DOM.qll
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst3.js
Owners: @Semmle/js

JS: Add regression test
  javascript/ql/test/query-tests/Security/CWE-020/IncorrectSuffixCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/tst.js
Owners: @Semmle/js

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205
