Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-go, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @github/codeql-ruby, @github/codeql-c, @github/codeql-kotlin, @github/codeql-ml-powered-queries-reviewers, @github/codeql-cli-reviewers, @github/codeql-vscode-reviewers, @github/codeql-frontend-reviewers, @github/codeql-analysis-reviewers, @github/codeql-ql-for-ql-reviewers, @github/codeql-ci-reviewers, @github/code-scanning-product

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/go/ @github/codeql-go
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python
/ruby/ @github/codeql-ruby
/swift/ @github/codeql-c
/java/kotlin-extractor/ @github/codeql-kotlin
/java/kotlin-explorer/ @github/codeql-kotlin

# ML-powered queries
/javascript/ql/experimental/adaptivethreatmodeling/ @github/codeql-ml-powered-queries-reviewers

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

# CodeQL tools and associated docs
/docs/codeql-cli/ @github/codeql-cli-reviewers
/docs/codeql-for-visual-studio-code/ @github/codeql-vscode-reviewers
/docs/ql-language-reference/ @github/codeql-frontend-reviewers
/docs/query-*-style-guide.md @github/codeql-analysis-reviewers

# QL for QL reviewers
/ql/ @github/codeql-ql-for-ql-reviewers

# Bazel (excluding BUILD.bazel files)
WORKSPACE.bazel @github/codeql-ci-reviewers
**/*.bzl @github/codeql-ci-reviewers

# Documentation etc
/*.md @github/code-scanning-product
/LICENSE @github/code-scanning-product

# Workflows
/.github/workflows/ @github/codeql-ci-reviewers
/.github/workflows/go-* @github/codeql-go
/.github/workflows/js-ml-tests.yml @github/codeql-ml-powered-queries-reviewers
/.github/workflows/ql-for-ql-* @github/codeql-ql-for-ql-reviewers
/.github/workflows/ruby-* @github/codeql-ruby

Inline Expectation Tests: sync
  cpp/ql/test/TestUtilities/InlineExpectationsTest.qll
  csharp/ql/test/TestUtilities/InlineExpectationsTest.qll
  go/ql/test/TestUtilities/InlineExpectationsTest.qll
  java/ql/test/TestUtilities/InlineExpectationsTest.qll
  ql/ql/test/TestUtilities/InlineExpectationsTest.qll
  ruby/ql/test/TestUtilities/InlineExpectationsTest.qll
Owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-go, @github/codeql-java, @github/codeql-ql-for-ql-reviewers, @github/codeql-ruby

Inline Expectation Tests: Allow `tag[foo bar]`
  python/ql/test/TestUtilities/InlineExpectationsTest.qll
  python/ql/test/experimental/meta/MaDTest.qll
  python/ql/test/library-tests/frameworks/asyncpg/test.py
Owners: @github/codeql-python

Swift: add `UnknownLocation`
  swift/extractor/SwiftExtractor.cpp
  swift/ql/lib/codeql/swift/elements/Locatable.qll
  swift/ql/lib/codeql/swift/elements/Location.qll
  swift/ql/test/extractor-tests/declarations/accessor.ql
  swift/ql/test/extractor-tests/files/files.expected
Owners: @github/codeql-c

Swift: extract system and builtin modules separately
  swift/extractor/SwiftExtractor.cpp
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
Owners: @github/codeql-c

Swift: remove redundant import
  swift/ql/lib/codeql/swift/elements/Locatable.qll
Owners: @github/codeql-c

ControlFlow: add further ordering fallback
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImplShared.qll
Owners: @github/codeql-c

Format `FlaskMail.qll` and `Sendgrid.qll`
  python/ql/src/experimental/semmle/python/frameworks/Sendgrid.qll
  python/ql/src/experimental/semmle/python/libraries/FlaskMail.qll
Owners: @github/codeql-python

Increased query robustness and test coverage
  ruby/ql/src/experimental/decompression-api/DecompressionAPI.ql
  ruby/ql/test/query-tests/security/decompression-api/DecompressionAPI.expected
  ruby/ql/test/query-tests/security/decompression-api/decompression_api.rb
Owners: @github/codeql-ruby

tweak metadata
  ruby/ql/src/experimental/decompression-api/DecompressionAPI.ql
Owners: @github/codeql-ruby
