Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

Java SSRF query: document RequestForgeryAdditionalTaintStep and use Unit not string for a supertype.
  java/ql/src/semmle/code/java/security/RequestForgery.qll
Owners: @github/codeql-java

Java SSRF query: copyedit qhelp
  java/ql/src/Security/CWE/CWE-918/RequestForgery.qhelp
Owners: @github/codeql-java

Copyedit comments and function names
  java/change-notes/2021-04-06-ssrf-query.md
  java/ql/src/Security/CWE/CWE-918/RequestForgery.qhelp
  java/ql/src/Security/CWE/CWE-918/RequestForgery.ql
  java/ql/src/semmle/code/java/security/RequestForgery.qll
Owners: @github/codeql-java

Update java/ql/src/semmle/code/java/security/RequestForgery.qll
  java/ql/src/semmle/code/java/security/RequestForgery.qll
Owners: @github/codeql-java

Copyedit documentation
  java/ql/src/semmle/code/java/security/RequestForgery.qll
Owners: @github/codeql-java

Update test results to account for changed model structure
  java/ql/test/query-tests/security/CWE-918/RequestForgery.expected
Owners: @github/codeql-java

Tidy and remove catersian product from getUrlArgument
  java/ql/src/semmle/code/java/security/RequestForgery.qll
Owners: @github/codeql-java

Fix casing of change note
  java/change-notes/2021-04-06-ssrf-query.md
Owners: @github/codeql-java

Improve comment casing
  java/ql/src/semmle/code/java/security/RequestForgery.qll
Owners: @github/codeql-java

Improve RequestForgery.qhelp recommendation
  java/ql/src/Security/CWE/CWE-918/RequestForgery.qhelp
Owners: @github/codeql-java

Java SSRF query: comment on sanitizing regex
  java/ql/src/semmle/code/java/security/RequestForgery.qll
Owners: @github/codeql-java

Fix getAnArgUsageOffset and improve its space complexity
  java/ql/src/semmle/code/java/StringFormat.qll
  java/ql/test/library-tests/format-strings/Test.java
  java/ql/test/library-tests/format-strings/test.expected
  java/ql/test/library-tests/format-strings/test.ql
Owners: @github/codeql-java

Fix and document one-based argument indexing in StringFormat's `getAnArgUsageOffset`
  java/ql/src/semmle/code/java/StringFormat.qll
Owners: @github/codeql-java

Improve StringBuilder append chain tracking
  java/ql/src/semmle/code/java/security/RequestForgery.qll
  java/ql/test/query-tests/security/CWE-918/RequestForgery.expected
  java/ql/test/query-tests/security/CWE-918/RequestForgery.java
Owners: @github/codeql-java

Simplify and improve AddExpr logic
  java/ql/src/semmle/code/java/security/RequestForgery.qll
Owners: @github/codeql-java

Broaden PrimitiveSanitizer to include boxed primitives and other java.lang.Numbers
  java/ql/src/semmle/code/java/security/RequestForgery.qll
Owners: @github/codeql-java

Convert SSRF sinks into url-open CSV sinks
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/src/semmle/code/java/frameworks/JaxWS.qll
  java/ql/src/semmle/code/java/frameworks/spring/SpringHttp.qll
  java/ql/src/semmle/code/java/frameworks/spring/SpringWebClient.qll
  java/ql/src/semmle/code/java/security/RequestForgery.qll
  java/ql/test/query-tests/security/CWE-918/RequestForgery.expected
Owners: @github/codeql-java

Remove redundant test
  java/ql/test/query-tests/security/CWE-918/Sinks.java
Owners: @github/codeql-java

Tidy Spring test
  java/ql/test/query-tests/security/CWE-918/SpringSSRF.java
Owners: @github/codeql-java

Remove dead code from test
  java/ql/test/query-tests/security/CWE-918/RequestForgery2.java
Owners: @github/codeql-java

Tidy Jax-RS test
  java/ql/test/query-tests/security/CWE-918/JaxWsSSRF.java
Owners: @github/codeql-java

Convert request forgery tests to inline expectations; add missing models revealed by this process.
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/src/semmle/code/java/frameworks/spring/SpringHttp.qll
  java/ql/test/query-tests/security/CWE-918/JaxWsSSRF.java
  java/ql/test/query-tests/security/CWE-918/RequestForgery.expected
  java/ql/test/query-tests/security/CWE-918/RequestForgery.java
  java/ql/test/query-tests/security/CWE-918/RequestForgery.qlref
  java/ql/test/query-tests/security/CWE-918/RequestForgery2.java
  java/ql/test/query-tests/security/CWE-918/SpringSSRF.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/message/BasicHttpEntityEnclosingRequest.java
Owners: @github/codeql-java

Factor request-forgery config so it can be used in an inline-expectations test
  java/ql/src/Security/CWE/CWE-918/RequestForgery.ql
  java/ql/src/semmle/code/java/security/RequestForgeryConfig.qll
  java/ql/test/query-tests/security/CWE-918/RequestForgery.ql
Owners: @github/codeql-java

Split and rename JavaNetHttp and ApacheHttp tests for consistency
  java/ql/test/query-tests/security/CWE-918/ApacheHttpSSRF.java
  java/ql/test/query-tests/security/CWE-918/JavaNetHttpSSRF.java
  java/ql/test/query-tests/security/CWE-918/RequestForgery2.java
Owners: @github/codeql-java

Add missing tests, add additional models revealed missing in the process, and add stubs to support them all.
  java/ql/src/semmle/code/java/frameworks/ApacheHttp.qll
  java/ql/src/semmle/code/java/frameworks/spring/SpringWebClient.qll
  java/ql/test/query-tests/security/CWE-918/RequestForgery2.java
  java/ql/test/query-tests/security/CWE-918/SpringSSRF.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/Contract.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/HttpHost.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/annotation/Contract.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/annotation/ThreadingBehavior.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/config/RequestConfig.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/HttpDelete.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/HttpHead.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/HttpOptions.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/HttpPatch.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/HttpTrace.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/HttpUriRequest.java
  java/ql/test/stubs/apache-http-4.4.13/org/apache/http/client/methods/RequestBuilder.java
Owners: @github/codeql-java

Note incidental extra models in change note
  java/change-notes/2021-04-06-ssrf-query.md
Owners: @github/codeql-java

Improve docs
  java/ql/src/semmle/code/java/security/RequestForgery.qll
  java/ql/src/semmle/code/java/security/RequestForgeryConfig.qll
Owners: @github/codeql-java

Remove no-longer-needed BasicRequestLine model from InsecureBasicAuth.ql; adjust test expectations accordingly
  java/ql/src/experimental/Security/CWE/CWE-522/InsecureBasicAuth.ql
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureBasicAuth.expected
Owners: @github/codeql-java, @xcorail

Rename RequestForgery.java -> SanitizationTests.java
  java/ql/test/query-tests/security/CWE-918/SanitizationTests.java
Owners: @github/codeql-java

Adjust Spring models to use erased function signatures
  java/ql/src/semmle/code/java/frameworks/spring/SpringHttp.qll
Owners: @github/codeql-java

Add Jakarta WS url-open sink
  java/ql/src/semmle/code/java/frameworks/JaxWS.qll
  java/ql/test/query-tests/security/CWE-918/JakartaWsSSRF.java
  java/ql/test/query-tests/security/CWE-918/options
  java/ql/test/stubs/javax-ws-rs-api-2.1.1/javax/ws/rs/client/Client.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/client/Client.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/client/ClientBuilder.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/client/WebTarget.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Configuration.java
Owners: @github/codeql-java

Remove commented code
  misc/scripts/library-coverage/compare-files-comment-pr.py
Owners: none

Add CSV coverage PR commenter
  .github/workflows/csv-coverage-pr-artifacts.yml
  .github/workflows/csv-coverage-pr-comment.yml
  misc/scripts/library-coverage/compare-files-comment-pr.py
  misc/scripts/library-coverage/compare-files.py
  misc/scripts/library-coverage/utils.py
Owners: none

Apply suggestions from code review
  .github/workflows/csv-coverage-pr-artifacts.yml
  .github/workflows/csv-coverage-pr-comment.yml
Owners: none

Apply code review findings
  .github/workflows/csv-coverage-pr-artifacts.yml
  .github/workflows/csv-coverage-pr-comment.yml
Owners: none

C++: Add a test case with a template class.
  cpp/ql/test/query-tests/Security/CWE/CWE-327/BrokenCryptoAlgorithm.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-327/test2.cpp
Owners: @github/codeql-c-analysis

C++: Add a test case involving a harmless assert.
  cpp/ql/test/query-tests/Security/CWE/CWE-327/BrokenCryptoAlgorithm.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-327/test2.cpp
Owners: @github/codeql-c-analysis

C++: Add test cases involving strings and comparisons.
  cpp/ql/test/query-tests/Security/CWE/CWE-327/BrokenCryptoAlgorithm.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-327/test2.cpp
Owners: @github/codeql-c-analysis

C++: Add a test case involving nested function calls.
  cpp/ql/test/query-tests/Security/CWE/CWE-327/BrokenCryptoAlgorithm.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-327/test2.cpp
Owners: @github/codeql-c-analysis

Add support for CSV-specified flow to or from fields.
  java/ql/src/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
Owners: @github/codeql-java

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
