Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

JS: address doc-review comments
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/Security/CWE-079/UnsafeJQueryPlugin.qhelp
Owners: @mchammer01

JS: add FP tests for js/unsafe-jquery-plugin
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin.expected
  javascript/ql/test/query-tests/Security/CWE-079/unsafe-jquery-plugin.js
Owners: @Semmle/js

JS: address review comments for js/unsafe-jquery-plugin
  javascript/ql/src/Security/CWE-079/UnsafeJQueryPlugin.qhelp
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPlugin.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin.expected
  javascript/ql/test/query-tests/Security/CWE-079/unsafe-jquery-plugin.js
Owners: @mchammer01, @Semmle/js

JS: fix FP for js/unsafe-jquery-plugin
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPlugin.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin.expected
Owners: @Semmle/js

JS: change severity to warning
  javascript/ql/src/Security/CWE-079/UnsafeJQueryPlugin.ql
Owners: @Semmle/js

JS: add query "Unsafe jQuery plugin"
  change-notes/1.24/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-079/UnsafeJQueryPlugin.qhelp
  javascript/ql/src/Security/CWE-079/UnsafeJQueryPlugin.ql
  javascript/ql/src/Security/CWE-079/examples/UnsafeJQueryPlugin.js
  javascript/ql/src/Security/CWE-079/examples/UnsafeJQueryPlugin_safe.js
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPlugin.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin.qlref
  javascript/ql/test/query-tests/Security/CWE-079/unsafe-jquery-plugin.js
Owners: @Semmle/js, @mchammer01

C++: Prevent `AliasedVirtualVariable` from overlapping string literals
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++: add SSA test for void* buffer parameters
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Owners: @Semmle/cpp-analysis

C++: update test expectations post-merge
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
Owners: @Semmle/cpp-analysis

C++: Accept autoformat and test changes
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
Owners: @Semmle/cpp-analysis

C++: Accept GVN test output
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Owners: @Semmle/cpp-analysis

Queries to detect ReDoS and Regex injections in Java
  java/ql/src/Security/CWE/CWE-400/ReDoS.java
  java/ql/src/Security/CWE/CWE-400/ReDoS.qhelp
  java/ql/src/Security/CWE/CWE-400/ReDoS.ql
  java/ql/src/Security/CWE/CWE-400/Regex.qll
  java/ql/src/Security/CWE/CWE-400/RegexInjection.java
  java/ql/src/Security/CWE/CWE-400/RegexInjection.qhelp
  java/ql/src/Security/CWE/CWE-400/RegexInjection.ql
  java/ql/test/query-tests/security/CWE-400/ReDoS.java
  java/ql/test/query-tests/security/CWE-400/ReDoS.qlref
  java/ql/test/query-tests/security/CWE-400/RegexInjection.java
  java/ql/test/query-tests/security/CWE-400/RegexInjection.qlref
  java/ql/test/query-tests/security/CWE-400/options
Owners: @Semmle/java, @felicitymay

Queries to detect ReDoS and Regex injections in Java
  java/ql/src/Security/CWE/CWE-400/RegexInjection.java
Owners: @Semmle/java

C++: Fix formatting
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

fix compilation of PrototypePollutionUtility after refactor
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
Owners: @Semmle/js

Reorganise modelling of string concatenation.
  ql/src/semmle/go/StringOps.qll
  ql/src/semmle/go/security/UrlConcatenation.qll
  ql/test/library-tests/semmle/go/StringOps/Concatenation/ConcatenationElement.expected
  ql/test/library-tests/semmle/go/StringOps/Concatenation/ConcatenationElement.ql
  ql/test/library-tests/semmle/go/StringOps/Concatenation/ConcatenationElement_asNode.expected
  ql/test/library-tests/semmle/go/StringOps/Concatenation/ConcatenationElement_asNode.ql
  ql/test/library-tests/semmle/go/StringOps/Concatenation/ConcatenationElement_getOperand.expected
  ql/test/library-tests/semmle/go/StringOps/Concatenation/ConcatenationElement_getOperand.ql
  ql/test/library-tests/semmle/go/StringOps/Concatenation/ConcatenationElement_getStringValue.expected
  ql/test/library-tests/semmle/go/StringOps/Concatenation/ConcatenationElement_getStringValue.ql
  ql/test/library-tests/semmle/go/StringOps/Concatenation/main.go
  ql/test/library-tests/semmle/go/StringOps/HasPrefix/HasPrefix.expected
  ql/test/library-tests/semmle/go/StringOps/HasPrefix/HasPrefix.ql
  ql/test/library-tests/semmle/go/StringOps/HasPrefix/main.go
Owners: none

Add query StringBreak.
  change-notes/1.24/analysis-go.md
  ql/src/Security/CWE-089/StringBreak.go
  ql/src/Security/CWE-089/StringBreak.qhelp
  ql/src/Security/CWE-089/StringBreak.ql
  ql/src/Security/CWE-089/StringBreakGood.go
  ql/src/semmle/go/security/StringBreak.qll
  ql/src/semmle/go/security/StringBreakCustomizations.qll
  ql/test/query-tests/Security/CWE-089/StringBreak.expected
  ql/test/query-tests/Security/CWE-089/StringBreak.go
  ql/test/query-tests/Security/CWE-089/StringBreak.qlref
  ql/test/query-tests/Security/CWE-089/StringBreakGood.go
  ql/test/query-tests/Security/CWE-089/go.mod
  ql/test/query-tests/Security/CWE-089/vendor/github.com/Masterminds/squirrel/LICENSE
  ql/test/query-tests/Security/CWE-089/vendor/github.com/Masterminds/squirrel/README.md
  ql/test/query-tests/Security/CWE-089/vendor/github.com/Masterminds/squirrel/go.mod
  ql/test/query-tests/Security/CWE-089/vendor/github.com/Masterminds/squirrel/squirrel.go
  ql/test/query-tests/Security/CWE-089/vendor/modules.txt
Owners: none

C++: Replace rank[1] with min
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

TS: Add upgrade script
  javascript/upgrades/96b0a386b6fb8da2b5f2514f26154a10c906f9c5/old.dbscheme
  javascript/upgrades/96b0a386b6fb8da2b5f2514f26154a10c906f9c5/semmlecode.javascript.dbscheme
  javascript/upgrades/96b0a386b6fb8da2b5f2514f26154a10c906f9c5/upgrade.properties
Owners: @Semmle/js

TS: Resolve imports using TypeScript symbols
  change-notes/1.24/analysis-javascript.md
  javascript/extractor/lib/typescript/src/ast_extractor.ts
  javascript/extractor/src/com/semmle/js/ast/ImportDeclaration.java
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/extractor/src/com/semmle/ts/ast/ExternalModuleReference.java
  javascript/ql/src/semmle/javascript/Modules.qll
  javascript/ql/src/semmlecode.javascript.dbscheme
  javascript/ql/test/library-tests/TypeScript/PathMapping/Imports.expected
  javascript/ql/test/library-tests/TypeScript/PathMapping/Imports.ql
  javascript/ql/test/library-tests/TypeScript/PathMapping/src/lib/foo.ts
  javascript/ql/test/library-tests/TypeScript/PathMapping/test/test_foo.ts
  javascript/ql/test/library-tests/TypeScript/PathMapping/tsconfig.json
Owners: @Semmle/js

JS: Add UnresolvableImport metric
  javascript/ql/src/meta/analysis-quality/UnresolvableImports.ql
Owners: @Semmle/js

C++: Replace implementation of hasLocationInfo with getLocation
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/Bound.qll
Owners: @Semmle/cpp-analysis

C++: GVN should use getUnconverted[...] instead of getConverted[...]
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++: Fix spelling
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++: Don't call getUnconvertedResultExpression in ValueNumbering's getDebugString. Instead, call that one in the AST wrapper
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++: Accept test output
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Owners: @Semmle/cpp-analysis

TS: Pass virtual source root explicitly to Node.js process
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/DependencyInstallationResult.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Owners: @Semmle/js

C++: Add charpred to ASTValueNumbering class to ensure that only value which have AST representations are numbered
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++: Accepted test output for test_ir_expr
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/test_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/test_ir_expr.ql
Owners: @Semmle/cpp-analysis

C#: Distinguish between local variables extracted in different compilations.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/LocalVariable.cs
  csharp/extractor/Semmle.Extraction/Symbol.cs
Owners: @Semmle/cs

C++: Formatting
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++: Fix imports
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++/C#: Sync identical files
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Fix bug in CPP range analysis.
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeAnalysis.qll
Owners: @Semmle/cpp-analysis

add qldoc to isPrivateField
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
Owners: @Semmle/js

Python: Fix minor problems in security examples
  python/ql/src/Security/CWE-022/examples/tainted_path.py
  python/ql/src/Security/CWE-078/examples/command_injection.py
Owners: @Semmle/python

Python: Consistenly use "a user-provided value"
  python/ql/src/Security/CWE-079/ReflectedXss.ql
  python/ql/src/Security/CWE-094/CodeInjection.ql
  python/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  python/ql/test/query-tests/Security/CWE-094/CodeInjection.expected
Owners: @Semmle/python

Python: Value::forString and friends returns StringValue
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Python: Limit the number of implicitly defined global variables.
  python/ql/src/semmle/python/essa/Definitions.qll
Owners: @Semmle/python

Accept test output
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
Owners: @Semmle/cpp-analysis

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
