Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

Update cpp/change-notes/2021-06-21-weak-cryptographic-algorithm.md
  cpp/change-notes/2021-06-21-weak-cryptographic-algorithm.md
Owners: @github/codeql-c-analysis

Bump `codeql` submodule
  ql/src/codeql_ruby/dataflow/internal/DataFlowImpl.qll
Owners: none

Java: Fix some qltests.
  java/ql/src/semmle/code/java/frameworks/JaxWS.qll
  java/ql/src/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/test/experimental/query-tests/security/CWE-327/UnsafeTlsVersion.expected
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureLdapAuth.expected
  java/ql/test/experimental/query-tests/security/CWE-927/SensitiveBroadcast.expected
  java/ql/test/library-tests/frameworks/apache-commons-lang3/ArrayUtilsTest.java
  java/ql/test/library-tests/frameworks/guava/TestBase.java
  java/ql/test/library-tests/frameworks/guava/TestCollect.java
  java/ql/test/query-tests/security/CWE-078/ExecTaintedLocal.expected
Owners: @github/codeql-java, @xcorail

Java: Remove outdated test.
  java/ql/test/library-tests/dataflow/collections/ContainterTest.java
  java/ql/test/library-tests/dataflow/collections/flow.expected
Owners: @github/codeql-java

C++: Share the 'bounded' predicate from 'cpp/uncontrolled-arithmetic' and use it in 'cpp/tainted-arithmetic'.
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticTainted.ql
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  cpp/ql/src/Security/CWE/CWE-190/Bounded.qll
Owners: @github/codeql-c-analysis

Python: Address review comments
  python/ql/src/Security/CWE-327/Ssl.qll
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/src/semmle/python/frameworks/Cryptography.qll
  python/ql/test/experimental/dataflow/method-calls/test.expected
  python/ql/test/experimental/dataflow/method-calls/test.py
  python/ql/test/experimental/dataflow/method-calls/test.ql
Owners: @github/codeql-python, @xcorail

Python: Expand `__main__.py` comment
  python/ql/src/semmle/python/Files.qll
Owners: @github/codeql-python

Add inline expectations test framework
  ql/test/TestUtilities/InlineExpectationsTest.qll
  ql/test/TestUtilities/InlineExpectationsTestPrivate.qll
  scripts/identical-files.json
Owners: none

Use flowsTo
  ql/src/codeql_ruby/ApiGraphs.qll
Owners: none

First version of ApiGraphs
  ql/src/codeql_ruby/ApiGraphs.qll
Owners: none

Add test case for ApiGraph
  ql/test/library-tests/dataflow/api-graphs/test1.rb
  ql/test/library-tests/dataflow/api-graphs/use.expected
  ql/test/library-tests/dataflow/api-graphs/use.ql
Owners: none

Performance: Fix bad join ordering
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

add model for the `dayjs` library
  javascript/change-notes/2021-06-21-dates.md
  javascript/ql/src/semmle/javascript/frameworks/DateFunctions.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/dates.js
Owners: @github/codeql-javascript

add model for the `formatByString` and `formatByNumber` functions in `@date-io`
  javascript/ql/src/semmle/javascript/frameworks/DateFunctions.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/dates.js
Owners: @github/codeql-javascript

add model for the `luxon` library
  javascript/change-notes/2021-06-21-dates.md
  javascript/ql/src/semmle/javascript/frameworks/DateFunctions.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/dates.js
Owners: @github/codeql-javascript

Refined outline; revised Sink section
  go/oauth2-notes.org
Owners: none

Create EmailClients.qll
  python/ql/src/experimental/semmle/python/EmailClients.qll
Owners: @github/codeql-python, @xcorail

Add query tests
  python/ql/test/experimental/query-tests/Security/CWE-079/flask_mail_bad_1.py
  python/ql/test/experimental/query-tests/Security/CWE-079/flask_mail_bad_2.py
  python/ql/test/experimental/query-tests/Security/CWE-079/flask_mail_bulk_email_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-079/sendgrid_mail_helper_content_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-079/sendgrid_via_mail_send_post_request_body_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-079/smtplib_bad_subparts.py
  python/ql/test/experimental/query-tests/Security/CWE-079/smtplib_bad_via_attach.py
Owners: @github/codeql-python, @xcorail

Update versions-compilers.rst
  docs/codeql/support/reusables/versions-compilers.rst
Owners: none

Update FindIncorrectlyUsedSwitch.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-561/FindIncorrectlyUsedSwitch.qhelp
Owners: @github/codeql-c-analysis, @xcorail

add CWE-1333 to the JS ReDoS queries
  javascript/ql/src/Performance/PolynomialReDoS.ql
  javascript/ql/src/Performance/ReDoS.ql
Owners: @github/codeql-javascript

Add CallNode class
  ql/src/codeql_ruby/ApiGraphs.qll
  ql/src/codeql_ruby/controlflow/CfgNodes.qll
  ql/src/codeql_ruby/dataflow/internal/DataFlowPublic.qll
Owners: none

Use ApiGraphs in WeakFilePermissions query
  ql/src/queries/security/cwe-732/WeakFilePermissions.ql
Owners: none

add support for `kew`
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

add support for the `when` polyfill, and expand the defition of `ES2015PromiseDefinition`
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

add support for the `promise-polyfill` polyfill
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

add support for the `native-promise-only` polyfill
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

add support for the `rsvp` and `es6-promise` polyfill
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

add support for the `promise` polyfill
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

add support for the `any-promise` polyfill
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

add support for the `pinkie` polyfill
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

add support for the `lie` polyfill
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

add support for the `pinkie-promise` polyfill
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

add support for the `synchronous-promise` library
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @github/codeql-javascript

add support for the `promise.allsettled` library
  javascript/change-notes/2021-06-18-promises.md
  javascript/ql/src/semmle/javascript/Promises.qll
Owners: @github/codeql-javascript

Remove methodName field
  ql/src/queries/security/cwe-732/WeakFilePermissions.ql
Owners: none

refactor `promisify` models into a module
  javascript/ql/src/semmle/javascript/ApiGraphs.qll
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
Owners: @github/codeql-javascript

add support for moment/dayjs/luxon instances returned by `@date-io` adapters
  javascript/change-notes/2021-06-21-dates.md
  javascript/ql/src/semmle/javascript/frameworks/DateFunctions.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/dates.js
Owners: @github/codeql-javascript

Performance: Remove pragma[noopt]
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

Java: Improve test and fix a few missing cases.
  java/ql/src/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/test/library-tests/dataflow/collections/B.java
  java/ql/test/library-tests/dataflow/collections/containerflow.ql
Owners: @github/codeql-java
