Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

Python: Support %-style formatting for MarkupSafe
  python/ql/src/semmle/python/frameworks/MarkupSafe.qll
  python/ql/test/library-tests/frameworks/markupsafe/taint_test.py
Owners: @github/codeql-python

JS: Add API for customizing import resolution
  javascript/ql/src/semmle/javascript/Paths.qll
  javascript/ql/test/library-tests/ImportResolutionApi/packages/pack1/src/components/calendar/index.js
  javascript/ql/test/library-tests/ImportResolutionApi/packages/pack1/src/components/notification/index.js
  javascript/ql/test/library-tests/ImportResolutionApi/packages/pack2/exact-imported.js
  javascript/ql/test/library-tests/ImportResolutionApi/packages/pack2/special.js
  javascript/ql/test/library-tests/ImportResolutionApi/packages/pack2/src/components/monitor/index.js
  javascript/ql/test/library-tests/ImportResolutionApi/packages/pack2/src/components/notification/index.js
  javascript/ql/test/library-tests/ImportResolutionApi/packages/pack2/src/components/special/index.js
  javascript/ql/test/library-tests/ImportResolutionApi/packages/pack2/src/index.js
  javascript/ql/test/library-tests/ImportResolutionApi/test.expected
  javascript/ql/test/library-tests/ImportResolutionApi/test.ql
Owners: @github/codeql-javascript

JS: Support path mappings from tsconfig.json
  javascript/ql/src/semmle/javascript/Paths.qll
Owners: @github/codeql-javascript

JS: Migrate babel to new API
  javascript/ql/src/semmle/javascript/frameworks/Babel.qll
  javascript/ql/test/library-tests/frameworks/babel/root-import/Imports.expected
Owners: @github/codeql-javascript

JS: Support babel-plugin-module-resolver
  javascript/ql/src/semmle/javascript/Paths.qll
  javascript/ql/src/semmle/javascript/frameworks/Babel.qll
  javascript/ql/test/library-tests/frameworks/babel/root-import/Imports.expected
  javascript/ql/test/library-tests/frameworks/babel/root-import/tst5/index.js
  javascript/ql/test/library-tests/frameworks/babel/root-import/tst5/package.json
  javascript/ql/test/library-tests/frameworks/babel/root-import/tst5/src/b.js
  javascript/ql/test/library-tests/frameworks/babel/root-import/tst5/src/c.js
Owners: @github/codeql-javascript

JS: Include aliases of PathExprs
  javascript/ql/src/semmle/javascript/Paths.qll
Owners: @github/codeql-javascript

JS: Treat path.resolve as a PathExpr
  javascript/ql/src/semmle/javascript/NodeJS.qll
Owners: @github/codeql-javascript

JS: Add Module.getABulkExportedValue
  javascript/ql/src/semmle/javascript/Modules.qll
  javascript/ql/src/semmle/javascript/NodeJS.qll
Owners: @github/codeql-javascript

JS: Support webpack aliases
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/Webpack.qll
Owners: @github/codeql-javascript

JS: Resolve absolute paths from the root
  javascript/ql/src/semmle/javascript/Paths.qll
Owners: @github/codeql-javascript

JS: Add webpack test
  javascript/ql/test/library-tests/Webpack/configuration/folderA/foo.js
  javascript/ql/test/library-tests/Webpack/configuration/folderB/foo.js
  javascript/ql/test/library-tests/Webpack/configuration/webpack.config.js
  javascript/ql/test/library-tests/Webpack/folderA/foo.js
  javascript/ql/test/library-tests/Webpack/folderB/foo.js
  javascript/ql/test/library-tests/Webpack/package.json
  javascript/ql/test/library-tests/Webpack/src/main.js
  javascript/ql/test/library-tests/Webpack/test.expected
  javascript/ql/test/library-tests/Webpack/test.ql
Owners: @github/codeql-javascript

Python: Avoid multiple results for `toString`
  python/ql/src/semmle/python/regex.qll
  python/ql/test/library-tests/regex/SubstructureTests.ql
  python/ql/test/query-tests/Expressions/Regex/BackspaceEscape.expected
  python/ql/test/query-tests/Expressions/Regex/DuplicateCharacterInSet.expected
  python/ql/test/query-tests/Expressions/Regex/MissingPartSpecialGroup.expected
  python/ql/test/query-tests/Expressions/Regex/UnmatchableCaret.expected
  python/ql/test/query-tests/Expressions/Regex/UnmatchableDollar.expected
  python/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegExp.expected
Owners: @github/codeql-python

Python: mimic JS file hierarchy
  config/identical-files.json
  python/ql/src/Security/CWE-730/PolynomialBackTracking.ql
  python/ql/src/Security/CWE-730/PolynomialReDoS.ql
  python/ql/src/Security/CWE-730/ReDoS.ql
  python/ql/src/semmle/python/security/performance/ExponentialBackTracking.qll
  python/ql/src/semmle/python/security/performance/ReDoSUtil.qll
  python/ql/src/semmle/python/security/performance/RegExpTreeView.qll
  python/ql/src/semmle/python/security/performance/SuperlinearBackTracking.qll
Owners: @github/codeql-python

Python: comment out temporarily unused predicate
  python/ql/src/semmle/python/RegexTreeView.qll
Owners: @github/codeql-python

JS: Propagate React components through recompose HOCs
  javascript/ql/src/semmle/javascript/frameworks/ComposedFunctions.qll
  javascript/ql/src/semmle/javascript/frameworks/React.qll
  javascript/ql/test/library-tests/frameworks/ReactJS/higherOrderComponent.jsx
Owners: @github/codeql-javascript

JS: Drive-by fixes in ComposedFunctions.qll
  javascript/ql/src/semmle/javascript/frameworks/ComposedFunctions.qll
Owners: @github/codeql-javascript

JS: Change note
  javascript/change-notes/2021-06-30-recompose.md
Owners: @github/codeql-javascript

Python: comment out temporarily unused predicate
  python/ql/src/semmle/python/RegexTreeView.qll
Owners: @github/codeql-python

Python: expand `ArgumentNode` to include arguments of non-resolved calls
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Owners: @github/codeql-python

Also cover jakarta version of javax.json, and some missed methods
  java/ql/src/semmle/code/java/frameworks/JavaxJson.qll
  java/ql/test/library-tests/frameworks/javax-json/Test.java
  java/ql/test/library-tests/frameworks/javax-json/options
  java/ql/test/library-tests/frameworks/javax-json/test.ql
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/Json.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonArray.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonArrayBuilder.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonBuilderFactory.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonMergePatch.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonNumber.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonObject.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonObjectBuilder.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonPatch.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonPatchBuilder.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonPointer.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonReader.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonReaderFactory.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonString.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonStructure.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonValue.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonWriter.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/JsonWriterFactory.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/stream/JsonGenerator.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/stream/JsonGeneratorFactory.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/stream/JsonLocation.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/stream/JsonParser.java
  java/ql/test/stubs/jakarta-json-2.0.1/jakarta/json/stream/JsonParserFactory.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/Json.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonBuilderFactory.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonMergePatch.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonPatch.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonPatchBuilder.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonPointer.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/stream/JsonGenerator.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/stream/JsonGeneratorFactory.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/stream/JsonLocation.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/stream/JsonParser.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/stream/JsonParserFactory.java
Owners: @github/codeql-java

Python: Prevent magic in `hasAttribute`
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @github/codeql-python

Python: Fix clear text logging sink
  python/ql/src/semmle/python/security/dataflow/CleartextLoggingCustomizations.qll
Owners: @github/codeql-python

Python: Just one `nomagic`
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @github/codeql-python

Define query
  cpp/ql/src/experimental/Security/CWE/CWE-348/IpAddressForgery.ql
Owners: @github/codeql-c-analysis, @xcorail

Define metadata
  cpp/ql/src/experimental/Security/CWE/CWE-348/IpAddressForgery.ql
Owners: @github/codeql-c-analysis, @xcorail

Rename IP address spoofing
  cpp/ql/src/experimental/Security/CWE/CWE-348/IpAddressSpoofing.ql
Owners: @github/codeql-c-analysis, @xcorail

Define test
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-348/IpAddressSpoofing.c
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-348/IpAddressSpoofing.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-348/IpAddressSpoofing.qlref
Owners: @github/codeql-c-analysis, @xcorail

Add URLClassLoader and Spring WebClient SSRF sinks
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/frameworks/spring/SpringWebClient.qll
  java/ql/test/query-tests/security/CWE-918/ReactiveWebClientSSRF.java
  java/ql/test/query-tests/security/CWE-918/URLClassLoaderSSRF.java
  java/ql/test/query-tests/security/CWE-918/options
  java/ql/test/stubs/projectreactor-3.4.3/reactor/core/publisher/Mono.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/reactive/function/client/DefaultWebClientBuilder.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/web/reactive/function/client/WebClient.java
Owners: @github/codeql-java

Sanitize on string parse
  cpp/ql/src/experimental/Security/CWE/CWE-348/IpAddressSpoofing.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-348/IpAddressSpoofing.c
Owners: @github/codeql-c-analysis, @xcorail

Document query
  cpp/ql/src/experimental/Security/CWE/CWE-348/IpAddressSpoofing.c
  cpp/ql/src/experimental/Security/CWE/CWE-348/IpAddressSpoofing.qhelp
Owners: @github/codeql-c-analysis, @xcorail

Comment query
  cpp/ql/src/experimental/Security/CWE/CWE-348/IpAddressSpoofing.ql
Owners: @github/codeql-c-analysis, @xcorail

Reduce precision
  cpp/ql/src/experimental/Security/CWE/CWE-348/IpAddressSpoofing.ql
Owners: @github/codeql-c-analysis, @xcorail

Update FindIncorrectlyUsedSwitch.ql
  cpp/ql/src/experimental/Security/CWE/CWE-561/FindIncorrectlyUsedSwitch.ql
Owners: @github/codeql-c-analysis, @xcorail

JS: add Mootools XSS sinks
  javascript/change-notes/2021-06-30-mootools.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/MooTools.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/tst.js
Owners: @github/codeql-javascript

Update Java and Python
  docs/codeql/support/reusables/frameworks.rst
Owners: none

Create frameworks.rst
  docs/codeql/support/reusables/frameworks.rst
Owners: none

Update python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Owners: @github/codeql-python

Python: Add tests showing sensitive data cross-talk
  python/ql/test/experimental/dataflow/sensitive-data/test.py
Owners: @github/codeql-python, @xcorail

Python: Fix a QLDoc for SensitiveDataSources
  python/ql/src/semmle/python/dataflow/new/SensitiveDataSources.qll
Owners: @github/codeql-python

Python: Limit SensitiveDataSources to prevent _some_ cross-talk
  python/ql/src/semmle/python/dataflow/new/SensitiveDataSources.qll
  python/ql/test/experimental/dataflow/sensitive-data/test.py
Owners: @github/codeql-python, @xcorail
