Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

JS: Add qldoc to Webpack.qll
  javascript/ql/src/semmle/javascript/Webpack.qll
Owners: @github/codeql-javascript

JS: Autoformat
  javascript/ql/src/semmle/javascript/Paths.qll
  javascript/ql/src/semmle/javascript/Webpack.qll
  javascript/ql/src/semmle/javascript/frameworks/Babel.qll
  javascript/ql/test/library-tests/Webpack/test.ql
Owners: @github/codeql-javascript

JS: Autoformat
  javascript/ql/src/semmle/javascript/frameworks/ComposedFunctions.qll
Owners: @github/codeql-javascript

Add change note
  java/change-notes/2021-07-01-url-classloader-reactive-webclient.md
Owners: @github/codeql-java

Python: Add `@security-severity` to `py/unused-global-variable`
  python/ql/src/Variables/UnusedModuleVariable.ql
Owners: @github/codeql-python

Python/JS: Make most of the new library private
  javascript/ql/src/semmle/javascript/security/performance/ExponentialBackTracking.qll
  python/ql/src/semmle/python/security/performance/ExponentialBackTracking.qll
Owners: @github/codeql-javascript, @github/codeql-python

Use Argument ranges in CSV rows
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
Owners: @github/codeql-java

Use ArrayElementOf in Android sinks
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
  java/ql/test/library-tests/frameworks/android/taint-database/Sinks.java
Owners: @github/codeql-java

Convert SQL sinks to CSV format
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/frameworks/Hibernate.qll
  java/ql/src/semmle/code/java/frameworks/Jdbc.qll
  java/ql/src/semmle/code/java/frameworks/MyBatis.qll
  java/ql/src/semmle/code/java/frameworks/SpringJdbc.qll
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
  java/ql/src/semmle/code/java/frameworks/jOOQ.qll
  java/ql/src/semmle/code/java/security/QueryInjection.qll
  java/ql/test/library-tests/frameworks/android/taint-database/sinks.expected
Owners: @github/codeql-java

Convert android tests to inline expectations
  java/ql/test/library-tests/frameworks/android/taint-database/FlowSteps.java
  java/ql/test/library-tests/frameworks/android/taint-database/Sinks.java
  java/ql/test/library-tests/frameworks/android/taint-database/flowSteps.expected
  java/ql/test/library-tests/frameworks/android/taint-database/flowSteps.ql
  java/ql/test/library-tests/frameworks/android/taint-database/sinks.expected
  java/ql/test/library-tests/frameworks/android/taint-database/sinks.ql
Owners: @github/codeql-java

Include overrides for SQLiteQueryBuilder sinks
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
Owners: @github/codeql-java

Convert tainted arrays to arrays of tainted elements in tests
  java/ql/test/library-tests/frameworks/android/taint-database/FlowSteps.java
  java/ql/test/library-tests/frameworks/android/taint-database/Sinks.java
Owners: @github/codeql-java

Use ArrayElement of to handle arargs case in SpringJdbc.qll
  java/ql/src/semmle/code/java/frameworks/SpringJdbc.qll
Owners: @github/codeql-java

Rename test labels for more clarity
  java/ql/test/library-tests/frameworks/android/taint-database/FlowSteps.java
  java/ql/test/library-tests/frameworks/android/taint-database/Sinks.java
  java/ql/test/library-tests/frameworks/android/taint-database/flowSteps.ql
  java/ql/test/library-tests/frameworks/android/taint-database/sinks.ql
Owners: @github/codeql-java

Remove ArrayElement from sink specifications
  java/ql/src/semmle/code/java/frameworks/SpringJdbc.qll
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
  java/ql/test/library-tests/frameworks/android/taint-database/Sinks.java
Owners: @github/codeql-java

JS: Remove CWE tag from todo comment query
  javascript/ql/src/Comments/TodoComments.ql
Owners: @github/codeql-javascript

Deduplicate shared body of regular and experimental versions of `java/command-line-injection` query.
  java/ql/src/Security/CWE/CWE-078/ExecTainted.ql
  java/ql/src/Security/CWE/CWE-078/ExecUnescaped.ql
  java/ql/src/experimental/Security/CWE/CWE-078/ExecCommon.qll
  java/ql/src/experimental/Security/CWE/CWE-078/ExecTainted.ql
  java/ql/src/semmle/code/java/security/CommandLineQuery.qll
Owners: @github/codeql-java, @xcorail

Fix URLClassLoader test
  java/ql/test/query-tests/security/CWE-918/URLClassLoaderSSRF.java
Owners: @github/codeql-java

Manual fixes
  csharp/ql/test/library-tests/asp/basic/Test.cs
  csharp/ql/test/library-tests/asp/basic/options
  csharp/ql/test/library-tests/csharp8/options
  csharp/ql/test/library-tests/csharp9/GlobalStmt.cs
  csharp/ql/test/library-tests/encoding/SBCS.cs
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/StoredXSS.cs
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/options
  csharp/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
  csharp/ql/test/query-tests/Stubs/Minimal/Test.cs
Owners: @github/codeql-csharp

Mark failing tests as missing
  java/ql/test/library-tests/frameworks/android/taint-database/FlowSteps.java
Owners: @github/codeql-java

Expose call graph through `Call::getATarget()`
  ql/src/codeql_ruby/ast/Call.qll
  ql/test/library-tests/controlflow/graph/Cfg.expected
  ql/test/library-tests/modules/callgraph.ql
Owners: none

Python: Remove pointless `LocalSourceNode`s
  python/ql/src/semmle/python/dataflow/new/internal/LocalSources.qll
Owners: @github/codeql-python

Move tests under `test/`
  python/ql/test/experimental/query-tests/Security/CWE-437/JWTEmptyKeyOrAlgorithm.qlref
  python/ql/test/experimental/query-tests/Security/CWE-437/JWTMissingSecretOrPublicKeyVerification.qlref
  python/ql/test/experimental/query-tests/Security/CWE-437/pyjwt.py
Owners: @github/codeql-python, @xcorail

Add `JWT` framework to `Frameworks.qll`
  python/ql/src/experimental/semmle/python/Frameworks.qll
Owners: @github/codeql-python, @xcorail

Make `verifiesSignature()` a predicate
  python/ql/src/experimental/Security/CWE-347/JWTMissingSecretOrPublicKeyVerification.ql
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/frameworks/JWT.qll
Owners: @github/codeql-python, @xcorail

Add `.expected` results
  python/ql/test/experimental/query-tests/Security/CWE-437/JWTEmptyKeyOrAlgorithm.expected
  python/ql/test/experimental/query-tests/Security/CWE-437/JWTMissingSecretOrPublicKeyVerification.expected
Owners: @github/codeql-python, @xcorail

Delete outdated comment
  python/ql/src/experimental/semmle/python/frameworks/JWT.qll
Owners: @github/codeql-python, @xcorail

C++: Make isMicrosoft() faster.
  cpp/ql/src/semmle/code/cpp/File.qll
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
Owners: @github/codeql-c-analysis

Python: Clean up `LocalSourceNode` charpred
  python/ql/src/semmle/python/dataflow/new/internal/LocalSources.qll
Owners: @github/codeql-python

Remove non-ASCII characters
  java/ql/src/semmle/code/java/frameworks/google/Gson.qll
  java/ql/test/stubs/joddjson-6.0.3/jodd/json/JsonParser.java
Owners: @github/codeql-java

Optimize the query
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.ql
Owners: @github/codeql-java

Update the query and add comments
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.ql
  java/ql/src/semmle/code/java/frameworks/Flexjson.qll
Owners: @github/codeql-java

Update the query for Flexjson
  java/ql/src/semmle/code/java/frameworks/Flexjson.qll
  java/ql/test/query-tests/security/CWE-502/FlexjsonServlet.java
  java/ql/test/query-tests/security/CWE-502/UnsafeDeserialization.expected
  java/ql/test/stubs/flexjson-2.1/flexjson/factories/ExistingObjectFactory.java
Owners: @github/codeql-java

Add tests for private methods
  ql/test/library-tests/modules/ancestors.expected
  ql/test/library-tests/modules/callgraph.expected
  ql/test/library-tests/modules/calls.rb
  ql/test/library-tests/modules/methods.expected
  ql/test/library-tests/modules/modules.expected
  ql/test/library-tests/modules/private.rb
  ql/test/library-tests/modules/superclasses.expected
Owners: none

Model private methods and "main objects"
  ql/src/codeql_ruby/AST.qll
  ql/src/codeql_ruby/ast/Method.qll
  ql/src/codeql_ruby/ast/Module.qll
  ql/src/codeql_ruby/ast/internal/Module.qll
  ql/src/codeql_ruby/controlflow/ControlFlowGraph.qll
  ql/src/codeql_ruby/dataflow/internal/DataFlowDispatch.qll
  ql/test/library-tests/modules/ancestors.expected
  ql/test/library-tests/modules/callgraph.expected
  ql/test/library-tests/modules/callgraph.ql
  ql/test/library-tests/modules/methods.expected
  ql/test/library-tests/modules/modules.expected
  ql/test/library-tests/modules/superclasses.expected
Owners: none

Address review comments
  ql/src/codeql_ruby/ast/Method.qll
  ql/src/codeql_ruby/ast/Module.qll
  ql/src/codeql_ruby/ast/internal/Module.qll
  ql/src/codeql_ruby/dataflow/internal/DataFlowDispatch.qll
  ql/test/library-tests/modules/ancestors.expected
  ql/test/library-tests/modules/methods.expected
  ql/test/library-tests/modules/modules.expected
  ql/test/library-tests/modules/superclasses.expected
Owners: none

JS: Bump TypeScript version to 4.3.5
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/lib/typescript/yarn.lock
Owners: @github/codeql-javascript

Split up Random.qll
  java/ql/src/Likely Bugs/Arithmetic/BadAbsOfRandom.ql
  java/ql/src/Likely Bugs/Arithmetic/RandomUsedOnce.ql
  java/ql/src/Security/CWE/CWE-129/ArraySizing.qll
  java/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  java/ql/src/Security/CWE/CWE-335/PredictableSeed.ql
  java/ql/src/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/src/semmle/code/java/security/RandomDataSource.qll
  java/ql/src/semmle/code/java/security/RandomQuery.qll
Owners: @github/codeql-java

Split up JexlInjection.qll
  java/ql/src/Security/CWE/CWE-094/JexlInjection.ql
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/security/JexlInjectionQuery.qll
  java/ql/src/semmle/code/java/security/JexlInjectionSinkModels.qll
  java/ql/test/query-tests/security/CWE-094/JexlInjectionTest.ql
Owners: @github/codeql-java

Split Android XSS sink defintions out of XSS.qll
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/frameworks/android/XssSinks.qll
  java/ql/src/semmle/code/java/security/XSS.qll
Owners: @github/codeql-java

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
