Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

js/732: Support secure-fs-extra
  javascript/ql/src/experimental/Security/CWE-732/ModableDirectoryCreation.qll
  javascript/ql/src/experimental/Security/CWE-732/ModableFileCreation.qll
  javascript/ql/src/experimental/Security/CWE-732/OverpermissiveFileSystemMode.qll
  javascript/ql/src/experimental/Security/CWE-732/OverpermissiveLiteralDirectoryCreation.ql
  javascript/ql/test/experimental/Security/CWE-732/ModableDirectoryCreation/ModableDirectoryCreation.expected
  javascript/ql/test/experimental/Security/CWE-732/ModableDirectoryCreation/modable.js
  javascript/ql/test/experimental/Security/CWE-732/ModableFileCreation/ModableFileCreationTest.expected
  javascript/ql/test/experimental/Security/CWE-732/ModableFileCreation/modable.js
  javascript/ql/test/experimental/Security/CWE-732/OverpermissiveLiteralDirectoryCreation/DirModePropertyArgument1.js
  javascript/ql/test/experimental/Security/CWE-732/OverpermissiveLiteralDirectoryCreation/DirModePropertyArgument2.js
  javascript/ql/test/experimental/Security/CWE-732/OverpermissiveLiteralDirectoryCreation/OverpermissiveLiteralDirectoryCreation.expected
Owners: @github/codeql-javascript, @xcorail

C++: Fix non-monotonic recursion problems in 'StackVariableReachabilityWithReassignment' by using the old StackVariableReachability predicates that don't care about paths.
  cpp/ql/src/semmle/code/cpp/controlflow/StackVariableReachability.qll
Owners: @github/codeql-c-analysis

C++: Accept test changes.
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseAfterFree.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/UninitializedLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/test.cpp
Owners: @github/codeql-c-analysis

C++: Accept more test changes. These all arise because we now transitively pull in 'semmle.code.cpp.Print' when including 'cpp'.
  cpp/ql/test/library-tests/fields/fields/Fields.expected
  cpp/ql/test/library-tests/functions/routinetype/types.expected
  cpp/ql/test/library-tests/typedefs/Typedefs2.expected
  cpp/ql/test/library-tests/types/__wchar_t/wchar_t.expected
  cpp/ql/test/library-tests/types/cstd_types/cstd_types_fastestminimumwidth.expected
  cpp/ql/test/library-tests/types/cstd_types/cstd_types_fixedwidth.expected
  cpp/ql/test/library-tests/types/cstd_types/cstd_types_fixedwidthenum.expected
  cpp/ql/test/library-tests/types/cstd_types/cstd_types_maximumwidth.expected
  cpp/ql/test/library-tests/types/cstd_types/cstd_types_minimumwidth.expected
  cpp/ql/test/library-tests/types/integral_types_ms/vars.expected
  cpp/ql/test/library-tests/types/wchar_t_typedef/wchar_t.expected
  cpp/ql/test/library-tests/variables/variables/types.expected
  cpp/ql/test/library-tests/variables/variables/variable.expected
Owners: @github/codeql-c-analysis

remove debug code
  python/ql/src/semmle/python/PrintAst.qll
Owners: @github/codeql-python

JS: Extractor version bump
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Owners: @github/codeql-javascript

add support for graphql in `@actions/github`
  javascript/change-notes/2021-06-09-graphql.md
  javascript/ql/src/semmle/javascript/frameworks/GraphQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/graphql.js
Owners: @github/codeql-javascript

require that the URL refers to graphql in some way
  javascript/ql/src/semmle/javascript/frameworks/GraphQL.qll
Owners: @github/codeql-javascript

C++: Add change-note.
  cpp/change-notes/2021-06-15-path-sensitive-stack-reachability.md
Owners: @github/codeql-c-analysis

Python: Autoformat
  python/ql/src/semmle/python/Frameworks.qll
Owners: @github/codeql-python

Apply code review findings
  .github/workflows/csv-coverage-timeseries.yml
  .github/workflows/csv-coverage.yml
Owners: none

add ActiveRecord find_by_sql as an SQL executing method call
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
Owners: none

limit SqlExecutingMethodCall to those that are called with a StringlikeLiteral argument
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
  ql/test/library-tests/frameworks/ActiveRecordInjection.rb
Owners: none

rename SqlExecutingMethodCall as PotentiallyUnsafeSqlExecutingMethodCall
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
  ql/test/library-tests/frameworks/ActiveRecord.expected
  ql/test/library-tests/frameworks/ActiveRecord.ql
Owners: none

cleanup ActiveRecord.qll
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
Owners: none

add a class to represent ActiveRecord models
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
Owners: none

Model some SQL fragment sinks in ActiveRecord model classes
  ql/src/codeql_ruby/Concepts.qll
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
Owners: none

add base SqlExecution concepts
  ql/src/codeql_ruby/Concepts.qll
Owners: none

account for chained method calls when constructing ActiveRecord SQL queries
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
  ql/test/library-tests/frameworks/ActiveRecord.expected
  ql/test/library-tests/frameworks/ActiveRecordInjection.rb
Owners: none

add shell ActiveRecord library tests
  ql/test/library-tests/frameworks/ActiveRecord.expected
  ql/test/library-tests/frameworks/ActiveRecord.ql
  ql/test/library-tests/frameworks/ActiveRecordInjection.rb
Owners: none

remove accidentally unbound variable
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
Owners: none

format QL
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
  ql/test/library-tests/frameworks/ActiveRecord.ql
Owners: none

Python: Fix names of supported PyPI packages
  docs/codeql/support/reusables/frameworks.rst
  python/ql/src/semmle/python/frameworks/MySQLdb.qll
  python/ql/src/semmle/python/frameworks/MysqlConnectorPython.qll
Owners: @github/codeql-python

Python: Rename .qll file for mysql-connector-python support
  python/ql/src/semmle/python/Frameworks.qll
  python/ql/src/semmle/python/frameworks/Mysql.qll
Owners: @github/codeql-python

Include some more types of expressions as possible active record SQL sink arguments
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
  ql/test/library-tests/frameworks/ActiveRecord.expected
  ql/test/library-tests/frameworks/ActiveRecordInjection.rb
Owners: none

Python: Move cached predicates in type tracker library to same stage
  python/ql/src/semmle/python/dataflow/new/internal/TypeTracker.qll
Owners: @github/codeql-python

Python: Add `Node::getPreUpdateNode`
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Owners: @github/codeql-python

Python: Remove shared changes.
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
Owners: @github/codeql-python

Python: More cleanup
  python/ql/src/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/src/semmle/python/frameworks/Simplejson.qll
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/src/semmle/python/frameworks/Ujson.qll
  python/ql/test/experimental/dataflow/TestUtil/PrintNode.qll
Owners: @github/codeql-python, @xcorail

Add files via upload
  cpp/ql/src/experimental/Security/CWE/CWE-561/FindIncorrectlyUsedSwitch.c
  cpp/ql/src/experimental/Security/CWE/CWE-561/FindIncorrectlyUsedSwitch.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-561/FindIncorrectlyUsedSwitch.ql
Owners: @github/codeql-c-analysis, @xcorail

Add files via upload
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-561/semmle/tests/FindIncorrectlyUsedSwitch.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-561/semmle/tests/FindIncorrectlyUsedSwitch.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-561/semmle/tests/test.c
Owners: @github/codeql-c-analysis, @xcorail

Add files via upload
  cpp/ql/src/experimental/Security/CWE/CWE-703/FindIncorrectlyUsedExceptions.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-703/FindIncorrectlyUsedExceptions.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-703/FindIncorrectlyUsedExceptions.ql
Owners: @github/codeql-c-analysis, @xcorail

Add files via upload
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-703/semmle/tests/FindIncorrectlyUsedExceptions.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-703/semmle/tests/FindIncorrectlyUsedExceptions.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-703/semmle/tests/test.cpp
Owners: @github/codeql-c-analysis, @xcorail

Add files via upload
  cpp/ql/src/experimental/Security/CWE/CWE-783/OperatorPrecedenceLogicErrorWhenUseBitwiseOrLogicalOperations.c
  cpp/ql/src/experimental/Security/CWE/CWE-783/OperatorPrecedenceLogicErrorWhenUseBitwiseOrLogicalOperations.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-783/OperatorPrecedenceLogicErrorWhenUseBitwiseOrLogicalOperations.ql
Owners: @github/codeql-c-analysis, @xcorail

Add files via upload
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-783/semmle/tests/OperatorPrecedenceLogicErrorWhenUseBitwiseOrLogicalOperations.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-783/semmle/tests/OperatorPrecedenceLogicErrorWhenUseBitwiseOrLogicalOperations.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-783/semmle/tests/test.cpp
Owners: @github/codeql-c-analysis, @xcorail

Match sanitizer inputs' naming
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
  python/ql/src/experimental/semmle/python/security/injection/NoSQLInjection.qll
Owners: @github/codeql-python, @xcorail

Python: add test with known CVEs
  python/ql/test/query-tests/Security/CWE-730-bind-old/KnownCVEs.py
Owners: @github/codeql-python

Python: deduplicate tests
  python/ql/test/query-tests/Security/CWE-730-bind-old/KnownCVEs.py
Owners: @github/codeql-python

Add security-severity scores
  ql/src/Security/CWE-020/IncompleteHostnameRegexp.ql
  ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  ql/src/Security/CWE-020/MissingRegexpAnchor.ql
  ql/src/Security/CWE-020/SuspiciousCharacterInRegexp.ql
  ql/src/Security/CWE-020/UntrustedDataToExternalAPI.ql
  ql/src/Security/CWE-020/UntrustedDataToUnknownExternalAPI.ql
  ql/src/Security/CWE-022/TaintedPath.ql
  ql/src/Security/CWE-022/UnsafeUnzipSymlink.ql
  ql/src/Security/CWE-022/ZipSlip.ql
  ql/src/Security/CWE-078/CommandInjection.ql
  ql/src/Security/CWE-078/StoredCommand.ql
  ql/src/Security/CWE-079/ReflectedXss.ql
  ql/src/Security/CWE-079/StoredXss.ql
  ql/src/Security/CWE-089/SqlInjection.ql
  ql/src/Security/CWE-089/StringBreak.ql
  ql/src/Security/CWE-190/AllocationSizeOverflow.ql
  ql/src/Security/CWE-209/StackTraceExposure.ql
  ql/src/Security/CWE-295/DisabledCertificateCheck.ql
  ql/src/Security/CWE-312/CleartextLogging.ql
  ql/src/Security/CWE-327/InsecureTLS.ql
  ql/src/Security/CWE-338/InsecureRandomness.ql
  ql/src/Security/CWE-352/ConstantOauth2State.ql
  ql/src/Security/CWE-601/BadRedirectCheck.ql
  ql/src/Security/CWE-601/OpenUrlRedirect.ql
  ql/src/Security/CWE-640/EmailInjection.ql
  ql/src/Security/CWE-643/XPathInjection.ql
  ql/src/Security/CWE-681/IncorrectIntegerConversion.ql
  ql/src/Security/CWE-798/HardcodedCredentials.ql
  ql/src/Security/CWE-918/RequestForgery.ql
Owners: none

Python: Clean up `Cryptography.qll`
  python/ql/src/semmle/python/frameworks/Cryptography.qll
Owners: @github/codeql-python
