Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

Java: Reduce long comment.
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.ql
Owners: @github/codeql-java

Apply suggestions from code review
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.ql
Owners: @github/codeql-java

Java: Fix qhelp errors.
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.qhelp
Owners: @github/codeql-java

Java: Apply suggestions from review.
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.ql
Owners: @github/codeql-java

Java: Factor out `SecurityFlag` library.
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.ql
  java/ql/src/Security/CWE/CWE-297/UnsafeHostnameVerification.ql
  java/ql/src/semmle/code/java/security/SecurityFlag.qll
Owners: @github/codeql-java

Move back to experimental.........
  java/ql/src/experimental/Security/CWE/CWE-295/InsecureTrustManager.java
  java/ql/src/experimental/Security/CWE/CWE-295/InsecureTrustManager.qhelp
  java/ql/src/experimental/Security/CWE/CWE-295/InsecureTrustManager.ql
  java/ql/test/experimental/query-tests/security/CWE-295/InsecureTrustManager.expected
  java/ql/test/experimental/query-tests/security/CWE-295/InsecureTrustManager.qlref
  java/ql/test/experimental/query-tests/security/CWE-295/InsecureTrustManagerTest.java
Owners: @github/codeql-java, @xcorail

Fix test location.
  java/ql/test/experimental/query-tests/security/CWE-295/InsecureTrustManager.qlref
  java/ql/test/experimental/query-tests/security/CWE-295/InsecureTrustManager/InsecureTrustManager.expected
  java/ql/test/experimental/query-tests/security/CWE-295/InsecureTrustManager/InsecureTrustManager.qlref
  java/ql/test/experimental/query-tests/security/CWE-295/InsecureTrustManager/InsecureTrustManagerTest.java
Owners: @github/codeql-java, @xcorail

Java: Add change-note.
  java/change-notes/2021-05-04-insecure-trust-manager.md
Owners: @github/codeql-java

Apply suggestions from code review.
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.qhelp
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.ql
Owners: @github/codeql-java

Java: Move comments to separate lines.
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.java
Owners: @github/codeql-java

Apply suggestions from code review
  java/ql/src/semmle/code/java/security/SecurityFlag.qll
Owners: @github/codeql-java

Remove change-note.
  java/change-notes/2021-05-04-insecure-trust-manager.md
Owners: @github/codeql-java

Accept test changes.
  java/ql/test/experimental/query-tests/security/CWE-295/InsecureTrustManager/InsecureTrustManager.expected
Owners: @github/codeql-java, @xcorail

Python: Refactor PEP249 to encapsulate in module
  python/ql/src/semmle/python/frameworks/Aioch.qll
  python/ql/src/semmle/python/frameworks/ClickhouseDriver.qll
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/MySQLdb.qll
  python/ql/src/semmle/python/frameworks/Mysql.qll
  python/ql/src/semmle/python/frameworks/PEP249.qll
  python/ql/src/semmle/python/frameworks/Psycopg2.qll
  python/ql/src/semmle/python/frameworks/PyMySQL.qll
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/src/semmle/python/frameworks/internal/PEP249Impl.qll
Owners: @github/codeql-python

Python: Improve QLDoc of PEP249 modeling
  python/ql/src/semmle/python/frameworks/internal/PEP249Impl.qll
Owners: @github/codeql-python

Python: Add cursor::instance for PEP249
  python/ql/src/semmle/python/frameworks/internal/PEP249Impl.qll
Owners: @github/codeql-python

Python: Rename `cursor` => `Cursor` in PEP249
  python/ql/src/semmle/python/frameworks/PEP249.qll
  python/ql/src/semmle/python/frameworks/internal/PEP249Impl.qll
Owners: @github/codeql-python

Python: Add modeling of `peewee`
  docs/codeql/support/reusables/frameworks.rst
  python/change-notes/2021-06-25-add-peewee-modeling.md
  python/ql/src/semmle/python/Frameworks.qll
  python/ql/src/semmle/python/frameworks/Peewee.qll
  python/ql/test/library-tests/frameworks/peewee/sql_execution.py
Owners: @github/codeql-python

Auto formatting .ql file
  java/ql/src/experimental/Security/CWE/CWE-665/InsecureRmiJmxEnvironmentConfiguration.ql
Owners: @github/codeql-java, @xcorail

Python: Add missing qldocs and note aparent bugs found while reading through the code..
  python/ql/src/semmle/python/PrintAst.qll
  python/ql/src/semmle/python/RegexTreeView.qll
  python/ql/src/semmle/python/regex.qll
  python/ql/src/semmle/python/security/dataflow/PolynomialReDoS.qll
Owners: @github/codeql-python

Python: Try turning on `toUnicode` see if the tests pass..
  python/ql/src/semmle/python/RegexTreeView.qll
Owners: @github/codeql-python

Ensure only one query per language is tagged `lines-of-code`
  cpp/ql/src/Summary/LinesOfCode.ql
  javascript/ql/src/Summary/LinesOfCode.ql
Owners: @github/codeql-c-analysis, @github/codeql-javascript

Python: fix qldoc
  python/ql/src/semmle/python/RegexTreeView.qll
  python/ql/src/semmle/python/security/dataflow/PolynomialReDoS.qll
Owners: @github/codeql-python

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Update FindIncorrectlyUsedExceptions.ql
  cpp/ql/src/experimental/Security/CWE/CWE-703/FindIncorrectlyUsedExceptions.ql
Owners: @github/codeql-c-analysis, @xcorail

C#: Add active preprocessor conditions as suffix in all TRAP `.push` instructions
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CommentBlock.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Diagnostic.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Event.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Namespace.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/NamespaceDeclaration.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/DefineDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/ElifDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/ElseDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/EndIfDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/EndRegionDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/ErrorDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/IfDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/LineDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/NullableDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/PragmaChecksumDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/PragmaWarningDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/PreprocessorDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/RegionDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/UndefineDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/WarningDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TypeParameterConstraints.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/UsingDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/DirectiveVisitor.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entities/Base/CachedEntity`1.cs
  csharp/extractor/Semmle.Extraction/Entities/Base/FreshEntity.cs
  csharp/extractor/Semmle.Extraction/Entities/ExtractionError.cs
  csharp/extractor/Semmle.Extraction/Entities/File.cs
  csharp/extractor/Semmle.Extraction/Entities/Folder.cs
  csharp/ql/test/library-tests/comments/DefineDirectives.expected
  csharp/ql/test/library-tests/comments/Directives.expected
  csharp/ql/test/library-tests/comments/IfDirectives.expected
  csharp/ql/test/library-tests/comments/PrintAst.expected
  csharp/ql/test/library-tests/comments/trivia.cs
Owners: @github/codeql-csharp

Python: Handle both positional and keyword args for LDAP bind
  python/ql/src/experimental/semmle/python/frameworks/LDAP.qll
  python/ql/test/experimental/query-tests/Security/CWE-287/ImproperLdapAuth.expected
  python/ql/test/experimental/query-tests/Security/CWE-287/auth_bad_2.py
  python/ql/test/experimental/query-tests/Security/CWE-287/auth_bad_3.py
Owners: @github/codeql-python, @xcorail

Python: Inline `LDAPImproperAuth.qll`
  python/ql/src/experimental/Security/CWE-287/ImproperLdapAuth.ql
  python/ql/src/experimental/semmle/python/security/LDAPImproperAuth.qll
Owners: @github/codeql-python, @xcorail

Python: Minor refactoring cleanup
  python/ql/src/experimental/semmle/python/frameworks/LDAP.qll
Owners: @github/codeql-python, @xcorail

Python: Fix select for py/improper-ldap-auth
  python/ql/src/experimental/Security/CWE-287/ImproperLdapAuth.ql
  python/ql/test/experimental/query-tests/Security/CWE-287/ImproperLdapAuth.expected
Owners: @github/codeql-python, @xcorail

Adjust framework coverage jobs to cover C#
  csharp/documentation/library-coverage/cwe-sink.csv
  csharp/documentation/library-coverage/frameworks.csv
  csharp/ql/src/meta/frameworks/Coverage.ql
  misc/scripts/library-coverage/compare.py
  misc/scripts/library-coverage/create-pr.py
  misc/scripts/library-coverage/generate-report.py
  misc/scripts/library-coverage/generate-timeseries.py
  misc/scripts/library-coverage/settings.py
Owners: @github/codeql-csharp

Adjust coverage report generator to allow multiple sink identifiers per CWE
  csharp/documentation/library-coverage/coverage.csv
  csharp/documentation/library-coverage/coverage.rst
  csharp/documentation/library-coverage/cwe-sink.csv
  misc/scripts/library-coverage/generate-report.py
Owners: @github/codeql-csharp

Adjust framework coverage report generator to include all sources not just remote ones
  misc/scripts/library-coverage/generate-report.py
Owners: none

Migrate StringContent sink to CSV format
  csharp/ql/src/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/XSS.qll
Owners: @github/codeql-csharp

Fix timeseries coverage report to handle multiple languages
  misc/scripts/library-coverage/generate-timeseries.py
Owners: none

C#: Convert System.Console.Read* local flow source to CSV
  csharp/ql/src/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsources/Local.qll
Owners: @github/codeql-csharp

C#: Add framework coverage report
  csharp/documentation/library-coverage/coverage.csv
  csharp/documentation/library-coverage/coverage.rst
  misc/scripts/library-coverage/generate-report.py
Owners: @github/codeql-csharp

Fix missing summarizedCallable case
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
Owners: @github/codeql-csharp

Fix flow from `Element of Argument[0]` for `Int32.TryParse(ReadOnlySpan<Char>,...`
  csharp/ql/src/semmle/code/csharp/dataflow/LibraryTypeDataFlow.qll
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/GlobalDataFlow.cs
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/library/FlowSummaries.expected
Owners: @github/codeql-csharp

C#: Migrate System.Web.HttpResponse sinks to CSV
  csharp/ql/src/semmle/code/csharp/dataflow/ExternalFlow.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsinks/Html.qll
Owners: @github/codeql-csharp
