Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac

C++: Accept changes to getValueText
  cpp/ql/test/library-tests/constants/constants/strings.expected
Owners: @Semmle/cpp-analysis

[CPP-387] Add placeholder for declarations.
  docs/ql-documentation/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: none

Add a `__builtin_va_list` type, to complement `__builtin_va_*` expressions.
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
Owners: @Semmle/cpp-analysis

C++: Stop generating `NoOp` instructions for declarations of externs
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cpp-analysis

docs: gitignore .pyc files generated during sphinx-build
  docs/ql-documentation/.gitignore
Owners: none

JS: Move a comment
  javascript/ql/src/Declarations/DeadStoreOfLocal.ql
Owners: @Semmle/js

JS: add query js/indirect-command-line-injection
  change-notes/1.22/analysis-javascript.md
  javascript/config/suites/javascript/security
  javascript/ql/src/Security/CWE-078/IndirectCommandInjection.qhelp
  javascript/ql/src/Security/CWE-078/IndirectCommandInjection.ql
  javascript/ql/src/Security/CWE-078/examples/indirect-command-injection.js
  javascript/ql/src/Security/CWE-078/examples/indirect-command-injection_fixed.js
  javascript/ql/src/semmle/javascript/heuristics/AdditionalSources.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CommandInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/CommandInjectionCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/IndirectCommandInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-078/command-line-parameter-command-injection.js
Owners: @Semmle/js

docs: gitignore rst vscode settings
  docs/ql-documentation/.gitignore
Owners: none

JavaScript: Address review comments.
  javascript/documentation/library-customization.rst
Owners: @Semmle/js

JavaScript: Address review comments.
  docs/ql-documentation/learn-ql/javascript/flow-labels.rst
Owners: none

JavaScript: Accept review suggestion.
  docs/ql-documentation/learn-ql/javascript/flow-labels.rst
Owners: none

Python: Add a way to easily specify constant values for in new Value API.
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/objects/Constants.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/library-tests/PointsTo/api/Constants.expected
  python/ql/test/library-tests/PointsTo/api/Constants.ql
  python/ql/test/library-tests/PointsTo/api/test.py
Owners: none

docs: update readme to mention vscode extension
  docs/ql-documentation/README.rst
Owners: none

docs: update paths to change notes
  docs/ql-documentation/support/framework-support.rst
  docs/ql-documentation/support/language-support.rst
Owners: none

docs: exclude readme from build
  docs/ql-documentation/support/conf.py
Owners: none

Java: update XXE qhelp with note on processing limits
  java/ql/src/Security/CWE/CWE-611/XXE.qhelp
Owners: @Semmle/java

[CPP-387] Have almost all expressions done...
  docs/ql-documentation/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: none

JavaScript: Replace `Custom*` with `*::Range`.
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/src/semmle/javascript/frameworks/Electron.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/PropertyProjection.qll
  javascript/ql/src/semmle/javascript/frameworks/jQuery.qll
Owners: @Semmle/js

Python: Treat the result of calling a missing module member as 'unknown'.
  change-notes/1.22/analysis-python.md
  python/ql/src/semmle/python/objects/Modules.qll
  python/ql/test/library-tests/PointsTo/absent/Absent.expected
  python/ql/test/library-tests/PointsTo/absent/absent.py
  python/ql/test/library-tests/PointsTo/decorators/Values.expected
Owners: none

JS: whitelist trivial throwers in js/superfluous-trailing-arguments
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/LanguageFeatures/SpuriousArguments.ql
  javascript/ql/test/query-tests/LanguageFeatures/SpuriousArguments/SpuriousArguments.expected
  javascript/ql/test/query-tests/LanguageFeatures/SpuriousArguments/tst.js
Owners: @Semmle/js

Remove reference to internal tooling from public repository
  misc/emacs/ql-mode-base.el
Owners: none

Python: Add missing function to flask test stub.
  python/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  python/ql/test/query-tests/Security/lib/flask/__init__.py
Owners: none

JavaScript: Address further review comments.
  docs/ql-documentation/learn-ql/javascript/flow-labels.rst
Owners: none

JS: Add FlowLabel.isData() and .isTaint()
  javascript/ql/src/Security/Summaries/Shared.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/security/TaintedObject.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirect.qll
  javascript/ql/src/semmle/javascript/security/dataflow/HardcodedDataInterpretedAsCodeCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PostMessageStar.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PostMessageStarCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
Owners: @Semmle/js

C++: Two IR fixes
  cpp/ql/src/semmle/code/cpp/PrintAST.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cpp-analysis

[CPP-387] Finished declarations, started on types.
  docs/ql-documentation/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: none

Use Value object from new API
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.ql
Owners: none

C++: Add sanity test for definitions that don't dominate their uses.
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/raw_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.expected
Owners: @Semmle/cpp-analysis

C#: Convert `cs/web/xss` to a `path-problem`
  csharp/ql/src/Security Features/CWE-079/XSS.ql
  csharp/ql/src/semmle/code/csharp/security/dataflow/XSS.qll
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/XSS.expected
Owners: @Semmle/cs

[CPP-387] Fill in a few more types. Remove the `Superclass` column as it is redundant and may lead to documentation inconsistencies.
  docs/ql-documentation/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: none

Python objects: Add clarify comments on callResult predicates.
  python/ql/src/semmle/python/objects/ObjectInternal.qll
Owners: none

Python: Add some more utility predicates and classes to the new 'Value' API.
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/library-tests/PointsTo/api/QualifedNames.expected
  python/ql/test/library-tests/PointsTo/api/QualifedNames.ql
  python/ql/test/library-tests/PointsTo/api/test.py
Owners: none

JavaScript: Classify `__mocks__` and `__tests_` as tests.
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/filters/ClassifyFiles.ql
  javascript/ql/test/query-tests/filters/ClassifyFiles/ClassifyFiles.expected
  javascript/ql/test/query-tests/filters/ClassifyFiles/__mocks__/test.js
  javascript/ql/test/query-tests/filters/ClassifyFiles/__tests__/test.js
Owners: @Semmle/js

JavaScript: Make flow summaries work for non-taint configurations.
  javascript/ql/src/Security/Summaries/ExtractSinkSummaries.ql
  javascript/ql/src/Security/Summaries/ExtractSourceSummaries.ql
  javascript/ql/src/Security/Summaries/PortalEntrySink.qll
  javascript/ql/src/Security/Summaries/PortalExitSource.qll
Owners: @Semmle/js

C#: Remove rule CA1022, which caused the analyzer to crash, generating a compilation warning (and possibly, instability).
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.ruleset
Owners: @Semmle/cs

Java: Adjust taint steps for Reader::read.
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
Owners: @Semmle/java

JavaScript: Rename a test.
  javascript/ql/test/library-tests/frameworks/NodeJSLib/TestClientRequest.qll
  javascript/ql/test/library-tests/frameworks/NodeJSLib/tests.ql
Owners: @Semmle/js

Java: Autoformat cookbook examples.
  java/ql/examples/snippets/castexpr.ql
  java/ql/examples/snippets/catch_exception.ql
  java/ql/examples/snippets/constructor_call.ql
  java/ql/examples/snippets/eq_true.ql
  java/ql/examples/snippets/extend_class.ql
  java/ql/examples/snippets/field_read.ql
  java/ql/examples/snippets/integer_literal.ql
  java/ql/examples/snippets/method_call.ql
  java/ql/examples/snippets/mutualrecursion.ql
  java/ql/examples/snippets/null_argument.ql
  java/ql/examples/snippets/override_method.ql
  java/ql/examples/snippets/switchcase.ql
  java/ql/examples/snippets/ternaryconditional.ql
  java/ql/examples/snippets/throw_exception.ql
  java/ql/examples/snippets/tryfinally.ql
  java/ql/examples/snippets/unusedmethod.ql
Owners: @Semmle/java

CPP: Autoformat cookbook examples.
  cpp/ql/examples/snippets/castexpr.ql
  cpp/ql/examples/snippets/catch_exception.ql
  cpp/ql/examples/snippets/constructor_call.ql
  cpp/ql/examples/snippets/derives_from_class.ql
  cpp/ql/examples/snippets/eq_true.ql
  cpp/ql/examples/snippets/field_access.ql
  cpp/ql/examples/snippets/function_call.ql
  cpp/ql/examples/snippets/integer_literal.ql
  cpp/ql/examples/snippets/throw_exception.ql
Owners: @Semmle/cpp-analysis

C#: Autoformat cookbook examples.
  csharp/ql/examples/snippets/cast_expr.ql
  csharp/ql/examples/snippets/catch_exception.ql
  csharp/ql/examples/snippets/constructor_call.ql
  csharp/ql/examples/snippets/eq_true.ql
  csharp/ql/examples/snippets/extend_class.ql
  csharp/ql/examples/snippets/field_read.ql
  csharp/ql/examples/snippets/integer_literal.ql
  csharp/ql/examples/snippets/method_call.ql
  csharp/ql/examples/snippets/mutual_recursion.ql
  csharp/ql/examples/snippets/null_argument.ql
  csharp/ql/examples/snippets/override_method.ql
  csharp/ql/examples/snippets/switch_case.ql
  csharp/ql/examples/snippets/ternary_conditional.ql
  csharp/ql/examples/snippets/throw_exception.ql
  csharp/ql/examples/snippets/try_finally.ql
Owners: @Semmle/cs

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
