Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

Python: Update test results for `ReturnTypes.ql` for Python 2.
  python/ql/test/2/library-tests/types/functions/ReturnTypes.expected
Owners: @Semmle/python

autoformat
  python/ql/src/Expressions/IsComparisons.qll
Owners: @Semmle/python

changes indents to 4
  python/ql/src/Expressions/ExpectedMappingForFormatString.ql
Owners: @Semmle/python

Un-autoformats
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Adds objectapi suffix to private predicates
  python/ql/src/Expressions/CallArgs.qll
Owners: @Semmle/python

Swaps arg_count globally
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Functions/IncorrectlySpecifiedOverriddenMethod.ql
Owners: @Semmle/python

Swaps get_function_or_initializer globally
  python/ql/src/Classes/WrongNameForArgumentInClassInstantiation.ql
  python/ql/src/Classes/WrongNumberArgumentsInClassInstantiation.ql
  python/ql/src/Expressions/CallArgs.qll
Owners: @Semmle/python

Swaps illegally_named_parameter globally
  python/ql/src/Classes/WrongNameForArgumentInClassInstantiation.ql
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Expressions/WrongNameForArgumentInCall.ql
  python/ql/src/Functions/IncorrectlyOverriddenMethod.ql
Owners: @Semmle/python

Swaps too_few_args globally
  python/ql/src/Classes/WrongNumberArgumentsInClassInstantiation.ql
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Expressions/WrongNumberArgumentsInCall.ql
Owners: @Semmle/python

Swaps too_many_args globally
  python/ql/src/Classes/WrongNumberArgumentsInClassInstantiation.ql
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Expressions/WrongNumberArgumentsInCall.ql
Owners: @Semmle/python

Swaps wrong_args globally
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Functions/IncorrectlyOverriddenMethod.ql
Owners: @Semmle/python

Swaps correct_args_if_called_as_method globally
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Expressions/WrongNumberArgumentsInCall.ql
  python/ql/src/Functions/IncorrectlyOverriddenMethod.ql
  python/ql/src/Functions/IncorrectlySpecifiedOverriddenMethod.ql
Owners: @Semmle/python

Swaps overridden_call globally
  python/ql/src/Expressions/CallArgs.qll
Owners: @Semmle/python

Removes erroneous expected result for py3
  python/ql/test/3/query-tests/Expressions/UseofApply/UseofApply.expected
Owners: @Semmle/python

Removes the general versions of the query.
  python/ql/test/query-tests/Expressions/general/UseofApply.expected
  python/ql/test/query-tests/Expressions/general/UseofApply.qlref
Owners: @Semmle/python

Update docs/experimental.md
  docs/experimental.md
Owners: none

C++: Change definition of isChiForAllAliasedMemory to recurse through inexact PhiInstructions
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

Python: Remove unused import in test
  python/ql/test/library-tests/web/client/six/ClientHttpRequests.expected
  python/ql/test/library-tests/web/client/six/test.py
Owners: @Semmle/python

Python: Explain complexity of HTTPConnection.request
  python/ql/src/semmle/python/web/client/StdLib.qll
Owners: @Semmle/python

Python: Consolidate stdlib http client tests
  python/ql/test/2/library-tests/web/client/stdlib/ClientHttpRequests.expected
  python/ql/test/2/library-tests/web/client/stdlib/test.py
  python/ql/test/3/library-tests/web/client/stdlib/ClientHttpRequests.expected
  python/ql/test/3/library-tests/web/client/stdlib/ClientHttpRequests.ql
  python/ql/test/library-tests/web/client/six/ClientHttpRequests.expected
  python/ql/test/library-tests/web/client/six/ClientHttpRequests.ql
  python/ql/test/library-tests/web/client/six/options
  python/ql/test/library-tests/web/client/six/test.py
  python/ql/test/library-tests/web/client/stdlib/ClientHttpRequests.expected
  python/ql/test/library-tests/web/client/stdlib/options
  python/ql/test/library-tests/web/client/stdlib/test.py
Owners: @Semmle/python

Python: Make Client::HttpRequest extend ControlFlowNode
  python/ql/src/semmle/python/web/Http.qll
  python/ql/src/semmle/python/web/client/Requests.qll
  python/ql/src/semmle/python/web/client/StdLib.qll
Owners: @Semmle/python

Python: Model outgoing http client requests
  python/ql/src/semmle/python/web/ClientHttpRequest.qll
  python/ql/src/semmle/python/web/Http.qll
  python/ql/src/semmle/python/web/client/Requests.qll
  python/ql/src/semmle/python/web/client/StdLib.qll
  python/ql/test/2/library-tests/web/client/stdlib/ClientHttpRequests.expected
  python/ql/test/2/library-tests/web/client/stdlib/ClientHttpRequests.ql
  python/ql/test/2/library-tests/web/client/stdlib/test.py
  python/ql/test/3/library-tests/web/client/stdlib/ClientHttpRequests.expected
  python/ql/test/3/library-tests/web/client/stdlib/ClientHttpRequests.ql
  python/ql/test/3/library-tests/web/client/stdlib/test.py
  python/ql/test/library-tests/web/client/requests/ClientHttpRequests.expected
  python/ql/test/library-tests/web/client/requests/ClientHttpRequests.ql
  python/ql/test/library-tests/web/client/requests/options
  python/ql/test/library-tests/web/client/requests/test.py
  python/ql/test/library-tests/web/client/stdlib/ClientHttpRequests.expected
  python/ql/test/library-tests/web/client/stdlib/ClientHttpRequests.ql
  python/ql/test/library-tests/web/client/stdlib/options
  python/ql/test/library-tests/web/client/stdlib/test.py
Owners: @Semmle/python

Python: Remove unnecessary cast
  python/ql/src/semmle/python/web/client/Requests.qll
Owners: @Semmle/python

Clarify field identity.
  ql/src/semmle/go/Scopes.qll
Owners: none

C++: Fix performance of UnsignedGEZero.ql
  cpp/ql/src/Likely Bugs/Arithmetic/UnsignedGEZero.qll
Owners: @Semmle/cpp-analysis

C++: Autoformat
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

Java: Remove some irrelevant bounds from TypeFlow.
  java/ql/src/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/src/semmle/code/java/dispatch/ObjFlow.qll
Owners: @Semmle/java

Python: Use slightly better name than foobar
  python/ql/src/semmle/python/security/strings/External.qll
Owners: @Semmle/python

Python: Show that we have initial taint in urlsplit test
  python/ql/test/library-tests/taint/namedtuple/TestTaint.expected
  python/ql/test/library-tests/taint/namedtuple/test.py
Owners: @Semmle/python

Python: Add sanitized edges for urlsplit test
  python/ql/test/library-tests/taint/namedtuple/SanitizedEdges.expected
  python/ql/test/library-tests/taint/namedtuple/SanitizedEdges.ql
Owners: @Semmle/python

Java: Add data-flow consistency checks.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/java

Python: Fix bug in `multi_assignment_points_to`.
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/test/library-tests/PointsTo/new/PointsToUnknown.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithType.expected
  python/ql/test/library-tests/PointsTo/new/SSA.expected
  python/ql/test/library-tests/PointsTo/new/Values.expected
Owners: @Semmle/python

Removes obsolete `asBuiltin` predicate
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Combine and clean up the test files
  python/ql/test/2/query-tests/Expressions/TruncatedDivision.expected
  python/ql/test/2/query-tests/Expressions/TruncatedDivision.py
  python/ql/test/2/query-tests/Expressions/TruncatedDivision_test.py
Owners: @Semmle/python

Java: add `Customizations.qll`
  java/ql/src/Customizations.qll
  java/ql/src/java.qll
Owners: @Semmle/java

Java: add release note for `Customizations.qll`
  change-notes/1.24/analysis-java.md
Owners: none

Update docs/experimental.md
  docs/experimental.md
Owners: none

`CONTRIBUTING.md`: add paragraph on maintaining backwards compatibility
  CONTRIBUTING.md
Owners: none

Updates query to use the new CallArgs code
  python/ql/src/Expressions/CallArgs.qll
Owners: @Semmle/python

Adds documentation for `isAbstract`
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python
