Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

C++: Autoformat.
  cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
Owners: @Semmle/cpp-analysis

C++: Add support for fgetws.
  change-notes/1.24/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
Owners: @Semmle/cpp-analysis

C++: Block duplicate taint results from 'gets' and other functions.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/uncontrolled/ArithmeticUncontrolled.expected
Owners: @Semmle/cpp-analysis

refactor the getOptionsArg predicate into the SystemCommandExecution class
  javascript/ql/src/semmle/javascript/Concepts.qll
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/src/semmle/javascript/frameworks/ShellJS.qll
  javascript/ql/src/semmle/javascript/frameworks/SystemCommandExecutors.qll
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.ql
Owners: @Semmle/js

C++: Cache DefaultTaintTracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

complete qldoc
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Owners: @Semmle/js

change regexpMatch to regexpFind
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Owners: @Semmle/js

Make `Field.getPackage()` behave sensibly.
  ql/src/semmle/go/Scopes.qll
  ql/test/library-tests/semmle/go/Types/Field_getPackage.expected
  ql/test/library-tests/semmle/go/Types/Field_getPackage.ql
  ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName2.expected
  ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName2.ql
  ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName3.expected
  ql/test/library-tests/semmle/go/Types/Field_hasQualifiedName3.ql
Owners: none

remove the last dependency on PrettyPrinting
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/uselesscat.js
Owners: @Semmle/js

add qhelp
  javascript/ql/src/Security/CWE-078/UselessUseOfCat.qhelp
  javascript/ql/src/Security/CWE-078/examples/useless-cat-fixed.js
  javascript/ql/src/Security/CWE-078/examples/useless-cat.js
Owners: @mchammer01, @Semmle/js

add change note
  change-notes/1.24/analysis-javascript.md
Owners: none

add default message if not pretty printed call can be created
  javascript/ql/src/Security/CWE-078/UselessUseOfCat.ql
Owners: @Semmle/js

C++: hasGlobalOrStdName().
  cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
Owners: @Semmle/cpp-analysis

Python: Highlight py/use-of-input is for Python 2
  python/ql/src/Expressions/UseofInput.qhelp
  python/ql/src/Expressions/UseofInput.ql
  python/ql/test/2/query-tests/Expressions/UseofInput.expected
Owners: @felicitymay, @Semmle/python

JS: Rephrase change note
  change-notes/1.24/analysis-javascript.md
Owners: none

Python: Add Python 3 Imports tests from internal repo
  python/ql/test/3/query-tests/Imports/encoding_error/EncodingError.expected
  python/ql/test/3/query-tests/Imports/encoding_error/EncodingError.py
  python/ql/test/3/query-tests/Imports/encoding_error/EncodingError.qlref
  python/ql/test/3/query-tests/Imports/syntax_error/EncodingError.expected
  python/ql/test/3/query-tests/Imports/syntax_error/EncodingError.qlref
  python/ql/test/3/query-tests/Imports/syntax_error/SyntaxError.expected
  python/ql/test/3/query-tests/Imports/syntax_error/SyntaxError.qlref
  python/ql/test/3/query-tests/Imports/syntax_error/bad_encoding.py
  python/ql/test/3/query-tests/Imports/syntax_error/nonsense.py
  python/ql/test/3/query-tests/Imports/syntax_error/test.py
Owners: @Semmle/python

C++: Refine nodeIsBarrierIn using getNodeForSource.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

Update change-notes/1.24/analysis-javascript.md
  change-notes/1.24/analysis-javascript.md
Owners: none

C++: Adjust layout of the argvlocal test.
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.c
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
Owners: @Semmle/cpp-analysis

C++: Modify the argvlocal tests.
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.c
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
Owners: @Semmle/cpp-analysis

small correction in doc + autoformat
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Owners: @Semmle/js

Add guidelines for experimental CodeQL queries and libraries
  CONTRIBUTING.md
  cpp/ql/src/experimental/README.md
  cpp/ql/test/experimental/README.md
  csharp/ql/src/experimental/README.md
  csharp/ql/test/experimental/README.md
  docs/experimental.md
  java/ql/src/experimental/README.md
  java/ql/test/experimental/README.md
  javascript/ql/src/experimental/README.md
  javascript/ql/test/experimental/README.md
  python/ql/src/experimental/README.md
  python/ql/test/experimental/README.md
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python

JS: add tests for js/path-injection
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/normalizedPaths.js
Owners: @Semmle/js

JS: model `path-is-inside`+`is-path-inside` for `js/path-injection`
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
Owners: @Semmle/js

Java/C++: Minor dataflow cleanup.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
Owners: @Semmle/cpp-analysis, @Semmle/java

Apply suggestions from code review
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Owners: @Semmle/js

docs: Detail support for C18.
  docs/language/support/versions-compilers.csv
Owners: @shati-patel, @jf205

docs: Update clang/gcc versions supported
  docs/language/support/versions-compilers.csv
Owners: @shati-patel, @jf205

docs: Correct AC5 version
  docs/language/support/versions-compilers.csv
Owners: @shati-patel, @jf205

add tests for third party command execution libraries (and two small fixes)
  javascript/ql/src/semmle/javascript/frameworks/SystemCommandExecutors.qll
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/uselesscat.js
Owners: @Semmle/js

arg -> param
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Owners: @Semmle/js

add extra sanity-check that the output looks good
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Owners: @Semmle/js

Remove an unused predicate.
  ql/src/semmle/go/dataflow/internal/DataFlowDispatch.qll
Owners: none

pre-migration work: fix typos
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
Owners: @shati-patel, @jf205

Python: docs: Use <code> tag consistently in UseofInput.qhelp
  python/ql/src/Expressions/UseofInput.qhelp
Owners: @felicitymay

Python: Remove `--optimize: true` from options files
  python/ql/test/2/library-tests/six/options
  python/ql/test/3/library-tests/PointsTo/typehints/options
  python/ql/test/3/library-tests/six/options
  python/ql/test/library-tests/PointsTo/guarded/options
  python/ql/test/library-tests/PointsTo/new/options
  python/ql/test/library-tests/PointsTo/returns/options
  python/ql/test/library-tests/modules/duplicate_name/options
  python/ql/test/library-tests/regex/options
  python/ql/test/library-tests/web/bottle/options
  python/ql/test/library-tests/web/cherrypy/options
  python/ql/test/library-tests/web/django/options
  python/ql/test/library-tests/web/falcon/options
  python/ql/test/library-tests/web/flask/options
  python/ql/test/library-tests/web/pyramid/options
  python/ql/test/library-tests/web/tornado/options
  python/ql/test/library-tests/web/turbogears/options
  python/ql/test/library-tests/web/twisted/options
  python/ql/test/query-tests/Security/CWE-022/options
  python/ql/test/query-tests/Security/CWE-078/options
  python/ql/test/query-tests/Security/CWE-094/options
  python/ql/test/query-tests/Security/CWE-326/options
  python/ql/test/query-tests/Security/CWE-327/options
  python/ql/test/query-tests/Security/CWE-377/options
  python/ql/test/query-tests/Security/CWE-502/options
  python/ql/test/query-tests/Security/CWE-732/options
  python/ql/test/query-tests/Security/options
Owners: @Semmle/python

Python: Add test for missing points-to information
  python/ql/test/library-tests/PointsTo/new/PointsToMissing.ql
Owners: @Semmle/python

Python: Add tests for missing points-to for built-in methods.
  python/ql/test/library-tests/PointsTo/new/Call.expected
  python/ql/test/library-tests/PointsTo/new/NameSpace.expected
  python/ql/test/library-tests/PointsTo/new/PointsToMissing.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithType.expected
  python/ql/test/library-tests/PointsTo/new/Values.expected
  python/ql/test/library-tests/PointsTo/new/code/l_calls.py
Owners: @Semmle/python

Python: Use `object` as default return type for built-ins.
  python/ql/src/semmle/python/objects/Callables.qll
  python/ql/test/library-tests/PointsTo/new/PointsToMissing.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithType.expected
  python/ql/test/library-tests/PointsTo/new/Values.expected
Owners: @Semmle/python

Address code review comments for `experimental.md`
  docs/experimental.md
Owners: none

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
