Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

Add spurious results now found in JaxXSS.java
  java/ql/test/query-tests/security/CWE-079/semmle/tests/JaxXSS.java
Owners: @github/codeql-java

Polish documentation, `mongoCollectionMethod()` and update `.expected`
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
Owners: @github/codeql-python, @xcorail

Apply suggestions from code review
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
Owners: @github/codeql-python, @xcorail

Move `xmltodict` to its own file under `frameworks/`
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
  python/ql/src/experimental/semmle/python/frameworks/Xmltodict.qll
Owners: @github/codeql-python, @xcorail

Java: add `permits` relation to dbscheme (sealed classes)
  java/upgrades/60a4ba1a4757a01b9dfc134179788753c1388ede/old.dbscheme
  java/upgrades/60a4ba1a4757a01b9dfc134179788753c1388ede/semmlecode.dbscheme
  java/upgrades/60a4ba1a4757a01b9dfc134179788753c1388ede/upgrade.properties
Owners: @github/codeql-java

Java: add dbscheme stats for `permits` relation
  java/ql/src/config/semmlecode.dbscheme.stats
Owners: @github/codeql-java

Java: add `jakarta.*` package to known frameworks
  java/documentation/library-coverage/frameworks.csv
Owners: @github/codeql-java

add a sanitizer for string replacements
  java/ql/src/experimental/Security/CWE/CWE-093/CrlfInjection.java
  java/ql/src/experimental/Security/CWE/CWE-093/CrlfInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-093/CrlfInjection.ql
  java/ql/src/experimental/Security/CWE/CWE-093/CrlfInjectionLib.qll
  java/ql/test/experimental/query-tests/security/CWE-093/CrlfInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-093/CrlfInjection.java
Owners: @github/codeql-java, @xcorail

Adjust code review findings (string escaping)
  misc/scripts/library-coverage/comment-pr.py
Owners: none

Modify qhelp
  java/ql/src/experimental/Security/CWE/CWE-093/CrlfInjection.qhelp
Owners: @github/codeql-java, @xcorail

Improve performance of `seqChild/4`
  ql/src/codeql_ruby/regexp/RegExpTreeView.qll
Owners: none

C#: Address review comments
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/ElifDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/ElseDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/IfDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/DirectiveVisitor.cs
Owners: @github/codeql-csharp

Autoformat
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
Owners: @github/codeql-java

Python: Fix concepts-tests for SQLAlchemy
  python/ql/test/experimental/library-tests/frameworks/sqlalchemy/ConceptsTest.ql
  python/ql/test/experimental/library-tests/frameworks/sqlalchemy/SqlExecution.py
Owners: @github/codeql-python, @xcorail

Python: Apply performance fix by @hvitved
  python/ql/src/semmle/python/RegexTreeView.qll
Owners: @github/codeql-python

Python: Fixup after merging main
  python/ql/test/experimental/library-tests/frameworks/sqlalchemy/ConceptsTest.expected
  python/ql/test/experimental/library-tests/frameworks/sqlalchemy/SqlExecution.py
Owners: @github/codeql-python, @xcorail

Python: Add taint-tests for SQLAlchemy
  python/ql/test/experimental/library-tests/frameworks/sqlalchemy/InlineTaintTest.expected
  python/ql/test/experimental/library-tests/frameworks/sqlalchemy/InlineTaintTest.ql
  python/ql/test/experimental/library-tests/frameworks/sqlalchemy/taint_test.py
Owners: @github/codeql-python, @xcorail

Python: undo autoformat character mangling
  python/ql/src/semmle/python/RegexTreeView.qll
Owners: @github/codeql-python

Python: Add taint-step for `sqlalchemy.text`
  python/ql/src/experimental/semmle/python/frameworks/SqlAlchemy.qll
  python/ql/test/experimental/library-tests/frameworks/sqlalchemy/taint_test.py
Owners: @github/codeql-python, @xcorail

Python: Give up on providing values for form feeds
  python/ql/src/semmle/python/RegexTreeView.qll
Owners: @github/codeql-python

Python: Limit test files
  python/ql/test/library-tests/regex/Alternation.ql
  python/ql/test/library-tests/regex/GroupContents.ql
  python/ql/test/library-tests/regex/Mode.ql
  python/ql/test/library-tests/regex/Qualified.ql
Owners: @github/codeql-python

Python: Adjust test expectations so we can see the light go green. But we should perhaps do something about those duplicate results.
  python/ql/test/query-tests/Expressions/Regex/BackspaceEscape.expected
  python/ql/test/query-tests/Expressions/Regex/DuplicateCharacterInSet.expected
  python/ql/test/query-tests/Expressions/Regex/MissingPartSpecialGroup.expected
  python/ql/test/query-tests/Expressions/Regex/UnmatchableCaret.expected
  python/ql/test/query-tests/Expressions/Regex/UnmatchableDollar.expected
Owners: @github/codeql-python

Add more qldoc comments from Python version
  ql/src/codeql_ruby/regexp/ExponentialBackTracking.qll
Owners: none

Add missing tests for AntPathMatcher's protected methods; fix models accordingly
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
  java/ql/test/library-tests/frameworks/spring/util/Test.java
Owners: @github/codeql-java

Remove model for protected class
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
Owners: @github/codeql-java

Add missing CollectionUtils model
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
  java/ql/test/library-tests/frameworks/spring/util/Test.java
Owners: @github/codeql-java

Drop tests for protected inner classes
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
Owners: @github/codeql-java

Drop redundant model that can be inherited from java.util.Iterator
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
Owners: @github/codeql-java

Amend models of MultiValueMap.addAll overloads
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
  java/ql/test/library-tests/frameworks/spring/util/Test.java
Owners: @github/codeql-java

Drop models for stringifying functions
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
  java/ql/test/library-tests/frameworks/spring/util/Test.java
Owners: @github/codeql-java

Update java/ql/test/library-tests/frameworks/spring/util/test.ql
  java/ql/test/library-tests/frameworks/spring/util/test.ql
Owners: @github/codeql-java

Import SpringUtil from ExternalFlow.qll
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
Owners: @github/codeql-java

Clean up test
  java/ql/test/library-tests/frameworks/spring/util/Test.java
  java/ql/test/library-tests/frameworks/spring/util/test.ql
Owners: @github/codeql-java

Genericise test util functions
  java/ql/test/library-tests/frameworks/spring/util/Test.java
Owners: @github/codeql-java

Remove superfluous (Object) casts
  java/ql/test/library-tests/frameworks/spring/util/Test.java
Owners: @github/codeql-java

Genericise MultiValueMaps; remove non-longer-needed casts
  java/ql/test/library-tests/frameworks/spring/util/Test.java
Owners: @github/codeql-java

Fix LinkedMultiValueMap models and make tests more realistic
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
  java/ql/test/library-tests/frameworks/spring/util/Test.java
Owners: @github/codeql-java

Fix test indentation
  java/ql/test/library-tests/frameworks/spring/util/Test.java
Owners: @github/codeql-java

Update java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
  java/ql/src/semmle/code/java/frameworks/spring/SpringUtil.qll
Owners: @github/codeql-java

Stub more of Spring
  java/ql/test/stubs/springframework-5.3.8/org/springframework/context/MessageSourceResolvable.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/context/support/DefaultMessageSourceResolvable.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/util/ObjectUtils.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/validation/Errors.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/validation/FieldError.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/validation/ObjectError.java
Owners: @github/codeql-java
