Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac

CPP: Basic taint between parameters.
  cpp/ql/src/semmle/code/cpp/dataflow/TaintTracking.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

CPP: Change note.
  change-notes/1.22/analysis-cpp.md
Owners: none

Python points-to: Track implicit module attributes through phi-nodes.
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/test/library-tests/PointsTo/new/Dataflow.expected
  python/ql/test/library-tests/PointsTo/new/NameSpace.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithType.expected
  python/ql/test/library-tests/PointsTo/new/SSA.expected
  python/ql/test/library-tests/PointsTo/new/SsaUses.expected
  python/ql/test/library-tests/PointsTo/new/Values.expected
  python/ql/test/library-tests/PointsTo/new/code/j_convoluted_imports.py
Owners: none

JS: Update yet more tests
  javascript/ql/test/library-tests/Classes/tests.expected
  javascript/ql/test/library-tests/Functions/tests.expected
  javascript/ql/test/library-tests/TypeScript/ImportEquals/Resolution.expected
Owners: @Semmle/js

JS: Avoid having multiple names again
  javascript/ql/src/semmle/javascript/Classes.qll
  javascript/ql/src/semmle/javascript/Functions.qll
  javascript/ql/test/library-tests/Functions/tests.expected
  javascript/ql/test/library-tests/TypeScript/ImportEquals/Resolution.expected
  javascript/ql/test/library-tests/ppNames/ppClassName.expected
  javascript/ql/test/library-tests/ppNames/ppFnName.expected
Owners: @Semmle/js

JS: Quantify of ValueProperty instead of Property
  javascript/ql/src/semmle/javascript/Classes.qll
Owners: @Semmle/js

Python: Better API for parameters.
  python/ql/src/semmle/python/AstExtended.qll
  python/ql/src/semmle/python/Function.qll
  python/ql/src/semmle/python/pointsto/Base.qll
  python/ql/test/library-tests/PointsTo/new/SourceNodeDefinitions.expected
  python/ql/test/library-tests/parameters/Annotations.expected
  python/ql/test/library-tests/parameters/Annotations.ql
  python/ql/test/library-tests/parameters/Defaults.expected
  python/ql/test/library-tests/parameters/Defaults.ql
  python/ql/test/library-tests/parameters/Special.expected
  python/ql/test/library-tests/parameters/Special.ql
  python/ql/test/library-tests/parameters/test.py
Owners: none

CPP: Test showing that Adding365daysPerYear.ql doesn't actually care whether the return value of the time conversion function is checked.
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/Adding365DaysPerYear/Adding365daysPerYear.expected
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/Adding365DaysPerYear/test.cpp
Owners: @Semmle/cpp-analysis

JS: Allow PropAccess when guessing name
  javascript/ql/src/semmle/javascript/Classes.qll
  javascript/ql/src/semmle/javascript/Functions.qll
Owners: @Semmle/js

Add bind-socket-all-network-interfaces Python query
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.py
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.qhelp
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.ql
  python/ql/test/query-tests/Security/CVE-2018-1281/BindToAllInterfaces.expected
  python/ql/test/query-tests/Security/CVE-2018-1281/BindToAllInterfaces.qlref
  python/ql/test/query-tests/Security/CVE-2018-1281/BindToAllInterfaces_test.py
  python/ql/test/query-tests/Security/CVE-2018-1281/options
Owners: none

Fix formatting of ql and qhelp
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.qhelp
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.ql
Owners: none

Make all imports of `cpp` private
  cpp/ql/src/semmle/code/cpp/ir/IRConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/ValueCategory.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IRUtilities.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IntegerConstant.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/OperandTag.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/Overlap.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/TempVariableTag.qll
Owners: @Semmle/cpp-analysis

Remove unnecessary dependencies on `cpp`
  cpp/ql/src/semmle/code/cpp/ir/internal/IntegerConstant.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/Overlap.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/TempVariableTag.qll
Owners: @Semmle/cpp-analysis

[CPP-340] Remove colons and extraenous QLDoc comments; add a few more classes.
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/src/semmle/code/cpp/Enum.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/Initializer.qll
  cpp/ql/src/semmle/code/cpp/Parameter.qll
  cpp/ql/src/semmle/code/cpp/PrintAST.qll
  cpp/ql/src/semmle/code/cpp/Struct.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/TypedefType.qll
  cpp/ql/src/semmle/code/cpp/Union.qll
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Nullness.qll
  cpp/ql/src/semmle/code/cpp/exprs/Access.qll
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
  cpp/ql/src/semmle/code/cpp/exprs/BitwiseOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/Cast.qll
  cpp/ql/src/semmle/code/cpp/exprs/ComparisonOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/exprs/Lambda.qll
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FormattingFunction.qll
  cpp/ql/src/semmle/code/cpp/stmts/Block.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Owners: @Semmle/cpp-analysis

JS: Update test outputs
  javascript/ql/test/library-tests/ClassNode/InstanceMember.expected
  javascript/ql/test/library-tests/ClassNode/InstanceMethod.expected
  javascript/ql/test/library-tests/ppNames/ppFnName.expected
Owners: @Semmle/js

Python: Performance improvements to points-to. Uses extensional (not IPA) for origins and prevents some harmful magic.
  python/ql/src/semmle/python/pointsto/PointsTo.qll
Owners: none

CPP: Add test cases.
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BitwiseSignCheck/BitwiseSignCheck.expected
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BitwiseSignCheck/bsc.cpp
Owners: @Semmle/cpp-analysis

CPP: Fix query.
  cpp/ql/src/Likely Bugs/Arithmetic/BitwiseSignCheck.ql
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BitwiseSignCheck/BitwiseSignCheck.expected
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/BitwiseSignCheck/bsc.cpp
Owners: @Semmle/cpp-analysis

JavaScript: Add syntax examples to `Comments.qll`, `E4X.qll`, `Functions.qll`, `HTML.qll` and `NodeJS.qll`.
  javascript/ql/src/semmle/javascript/Comments.qll
  javascript/ql/src/semmle/javascript/E4X.qll
  javascript/ql/src/semmle/javascript/Functions.qll
  javascript/ql/src/semmle/javascript/HTML.qll
  javascript/ql/src/semmle/javascript/NodeJS.qll
Owners: @Semmle/js

CPP: Change note.
  change-notes/1.22/analysis-cpp.md
Owners: none

Add support for Python 2 socket implementation
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.ql
  python/ql/test/query-tests/Security/CVE-2018-1281/options
Owners: none

[CPP-340] Eliminate superfluous print-outs of `NestedStruct`, `NestedUnion` and `MemberFunction`
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/Struct.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/examples/expressions/union_etc.cpp
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Owners: @Semmle/cpp-analysis

JS: Implement ThisNode.getBasicBlock
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Owners: @Semmle/js

JS: Add test
  javascript/ql/test/library-tests/ThisExpr/getBasicBlock.expected
  javascript/ql/test/library-tests/ThisExpr/getBasicBlock.ql
Owners: @Semmle/js

JS: Implement getBasicBlock() for exceptional nodes
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/DataFlow/noBasicBlock.expected
  javascript/ql/test/library-tests/DataFlow/noBasicBlock.ql
Owners: @Semmle/js

JS: Move getDocumentation tests into one file
  javascript/ql/test/library-tests/JSDoc/AssignExpr_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/Function_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/VarDeclStmt_getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/tests.expected
  javascript/ql/test/library-tests/JSDoc/tests.ql
Owners: @Semmle/js

JS: Add test for other expressions that have docs
  javascript/ql/test/library-tests/JSDoc/getDocumentation.qll
  javascript/ql/test/library-tests/JSDoc/tests.expected
Owners: @Semmle/js

JS: Add array literal elements
  javascript/ql/test/library-tests/JSDoc/tests.expected
  javascript/ql/test/library-tests/JSDoc/tst.js
Owners: @Semmle/js

JavaScript: Start documenting extension points provided by the standard library.
  javascript/documentation/library-customization.rst
Owners: @Semmle/js

JS: Restrict Expr.getDocumentation()
  javascript/ql/src/semmle/javascript/Expr.qll
  javascript/ql/test/library-tests/JSDoc/tests.expected
Owners: @Semmle/js

Python points-to: Remove negative recursion when using legacy points-to in legacy points-to extensions.
  python/ql/src/semmle/python/objects/Callables.qll
  python/ql/src/semmle/python/objects/Classes.qll
  python/ql/src/semmle/python/objects/Constants.qll
  python/ql/src/semmle/python/objects/Descriptors.qll
  python/ql/src/semmle/python/objects/Instances.qll
  python/ql/src/semmle/python/objects/Modules.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/objects/ObjectInternal.qll
  python/ql/src/semmle/python/objects/Sequences.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/src/semmle/python/types/Extensions.qll
  python/ql/test/3/library-tests/PointsTo/attributes/Test.expected
  python/ql/test/library-tests/PointsTo/extensions/Extend.expected
  python/ql/test/library-tests/PointsTo/extensions/Extend.ql
  python/ql/test/library-tests/PointsTo/general/GlobalPointsTo.expected
  python/ql/test/library-tests/PointsTo/general/LocalPointsTo.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
Owners: none

Python: modernize regex library to use new points-to.
  python/ql/src/semmle/python/regex.qll
  python/ql/test/library-tests/regex/options
Owners: none

Fix typo.
  python/ql/src/semmle/python/objects/ObjectInternal.qll
Owners: none

Java: Add qldoc and change note.
  change-notes/1.22/analysis-java.md
  java/ql/src/semmle/code/java/dispatch/ObjFlow.qll
Owners: @Semmle/java

C++: Fix test breaks due to private imports of `cpp`
  cpp/ql/src/Likely Bugs/RedundantNullCheckSimple.ql
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
Owners: @Semmle/cpp-analysis

C++: Delete unused file ValueCategory.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/ValueCategory.qll
Owners: @Semmle/cpp-analysis

C++: further optimization of overlap computation
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Owners: @Semmle/cpp-analysis

[CPP-386] Fix Local{Class,Struct,Union}, macro invocations, printing of member functions and operators.
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/Macro.qll
  cpp/ql/src/semmle/code/cpp/Struct.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/examples/expressions/macro_etc.c
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Owners: @Semmle/cpp-analysis

C++: Move imports from instantiated pyrameterized modules into separate file
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/IRBlockImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/IRImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/IRVariableImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/InstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/OperandImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/PrintIRImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRBlockImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRBlockImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRVariableImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/OperandImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/PrintIRImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRBlock.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Operand.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/IRBlockImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/IRImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/IRVariableImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/InstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/OperandImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/PrintIRImports.qll
Owners: @Semmle/cpp-analysis

C++: Move IR files that are now pyrameterized into `implementation`.
  cpp/ql/src/semmle/code/cpp/ir/IRConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/EdgeKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/IRConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/IRVariableImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/InstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/OperandImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/EdgeKindInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/IRConfigurationInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/OperandTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/OperandTagInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/TIRVariable.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/internal/TIRVariableInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRVariableImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/OperandImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCondition.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/IRVariableImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/InstructionImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/OperandImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IRLanguageInternal.qll
Owners: @Semmle/cpp-analysis

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
