Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

Stubs in javax-ws-rs-api-3.0.0
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/BeanParam.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/Consumes.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/CookieParam.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/DELETE.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/FormParam.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/GET.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/HEAD.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/HeaderParam.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/MatrixParam.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/OPTIONS.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/POST.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/PUT.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/Path.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/PathParam.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/Produces.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/QueryParam.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/client/Client.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/CacheControl.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Configurable.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Context.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Cookie.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/EntityTag.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Form.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/GenericEntity.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/HttpHeaders.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Link.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/MediaType.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/MultivaluedMap.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/NewCookie.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/PathSegment.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Response.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/UriBuilder.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/UriBuilderException.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/UriInfo.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Variant.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/ext/MessageBodyReader.java
Owners: @github/codeql-java

Move Jax XSS sinks to JaxWS.qll and add tests
  java/ql/src/semmle/code/java/frameworks/JaxWS.qll
  java/ql/src/semmle/code/java/security/XSS.qll
  java/ql/test/library-tests/frameworks/JaxWs/JaxRs.ql
  java/ql/test/library-tests/frameworks/JaxWs/JaxRs1.java
Owners: @github/codeql-java

Comment out stubs (Jakarta)
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/client/Client.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Configurable.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Link.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/MediaType.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/NewCookie.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/core/Response.java
  java/ql/test/stubs/javax-ws-rs-api-3.0.0/jakarta/ws/rs/ext/MessageBodyReader.java
Owners: @github/codeql-java

Duplicate tests for Jakarta
  java/ql/test/library-tests/frameworks/JaxWs/JakartaRs1.java
  java/ql/test/library-tests/frameworks/JaxWs/JakartaRs2.java
  java/ql/test/library-tests/frameworks/JaxWs/JakartaRsFlow.java
  java/ql/test/library-tests/frameworks/JaxWs/UrlRedirect.expected
  java/ql/test/library-tests/frameworks/JaxWs/UrlRedirectJakarta.java
  java/ql/test/library-tests/frameworks/JaxWs/options
Owners: @github/codeql-java

Account for shade reloc specifications within an expectation, and add a test case.
  java/ql/src/semmle/code/xml/MavenPom.qll
  java/ql/test/library-tests/maven/shade-relocations/ShadeRelocations.expected
  java/ql/test/library-tests/maven/shade-relocations/ShadeRelocations.ql
  java/ql/test/library-tests/maven/shade-relocations/pom.xml
  java/ql/test/library-tests/maven/shade-relocations/src/main/java/somepackage/Test.java
Owners: @github/codeql-java

Fix package of SnakeYaml's Yaml class
  java/ql/src/semmle/code/java/frameworks/SnakeYaml.qll
Owners: @github/codeql-java

Improve doc style
  java/ql/src/semmle/code/xml/MavenPom.qll
Owners: @github/codeql-java

Python: Clarify SensitiveAttributeAccess
  python/ql/src/semmle/python/dataflow/new/SensitiveDataSources.qll
  python/ql/test/experimental/dataflow/sensitive-data/test.py
Owners: @github/codeql-python, @xcorail

Fix tests for experimental httponly query
  java/ql/src/experimental/Security/CWE/CWE-1004/SensitiveCookieNotHttpOnly.ql
  java/ql/test/experimental/query-tests/security/CWE-1004/SensitiveCookieNotHttpOnly.expected
Owners: @github/codeql-java, @xcorail

Model NewCookie
  java/ql/src/semmle/code/java/frameworks/JaxWS.qll
  java/ql/test/library-tests/frameworks/JaxWs/JakartaRsFlow.java
  java/ql/test/library-tests/frameworks/JaxWs/JaxRsFlow.java
Owners: @github/codeql-java

Update experimental query using NewCookie
  java/ql/src/experimental/Security/CWE/CWE-1004/SensitiveCookieNotHttpOnly.ql
  java/ql/test/experimental/query-tests/security/CWE-1004/SensitiveCookieNotHttpOnly.expected
Owners: @github/codeql-java, @xcorail

Python: Add more tests for sensitive function handling
  python/ql/test/experimental/dataflow/sensitive-data/test.py
Owners: @github/codeql-python, @xcorail

Python: Use real config in TestSensitiveDataSources
  python/ql/test/experimental/dataflow/sensitive-data/TestSensitiveDataSources.ql
Owners: @github/codeql-python, @xcorail

Fix codeql CLI path
  .github/workflows/csv-coverage-timeseries.yml
  misc/scripts/library-coverage/generate-timeseries.py
Owners: none

Python: Better handling of sensitive functions
  python/ql/src/semmle/python/dataflow/new/SensitiveDataSources.qll
  python/ql/src/semmle/python/security/dataflow/WeakSensitiveDataHashing.qll
  python/ql/test/experimental/dataflow/sensitive-data/TestSensitiveDataSources.ql
  python/ql/test/experimental/dataflow/sensitive-data/test.py
Owners: @github/codeql-python, @xcorail

autoformatting
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
Owners: @github/codeql-c-analysis

Comment changes
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
Owners: @github/codeql-c-analysis

set precision to high for rb/hardcoded-credentials
  ql/src/queries/security/cwe-798/HardcodedCredentials.ql
Owners: none

Python: Fix tests
  python/ql/test/experimental/meta/ConceptsTest.qll
Owners: @github/codeql-python, @xcorail

limit additional flow steps in rb/hardcoded-credentials to string concatenation
  ql/src/queries/security/cwe-798/HardcodedCredentials.ql
Owners: none

Changes to structure per feedback of @jbj
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
  cpp/ql/test/library-tests/types/cstd_types/cstd_types_fastestminimumwidth.expected
  cpp/ql/test/library-tests/types/cstd_types/cstd_types_fastestminimumwidth.ql
  cpp/ql/test/library-tests/types/cstd_types/cstd_types_fixedwidth.expected
  cpp/ql/test/library-tests/types/cstd_types/cstd_types_maximumwidth.expected
  cpp/ql/test/library-tests/types/cstd_types/cstd_types_minimumwidth.expected
Owners: @github/codeql-c-analysis

comment change
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
Owners: @github/codeql-c-analysis

add graphql injection to the sql-injection query
  javascript/change-notes/2021-06-09-graphql.md
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/GraphQL.qll
  javascript/ql/src/semmle/javascript/security/dataflow/SqlInjection.qll
  javascript/ql/src/semmle/javascript/security/dataflow/SqlInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/graphql.js
Owners: @github/codeql-javascript

more maintainable pattern for class abstractions
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
Owners: @github/codeql-c-analysis

changlog entry
  cpp/change-notes/2021-06-10-std-types.md
Owners: @github/codeql-c-analysis

this should be abstract
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
Owners: @github/codeql-c-analysis

implement printAst for python regexps
  python/ql/src/semmle/python/PrintAst.qll
  python/ql/src/semmle/python/RegexTreeViewBindOld.qll
Owners: @github/codeql-python

Python: Add tests for `rsa` PyPI package
  python/ql/test/library-tests/frameworks/rsa/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/rsa/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/rsa/InlineTaintTest.expected
  python/ql/test/library-tests/frameworks/rsa/InlineTaintTest.ql
  python/ql/test/library-tests/frameworks/rsa/test_rsa.py
Owners: @github/codeql-python

Python: fixes suggested by lgtm run - exclude verbose mode regexes - correct value for (common) escaped characters
  python/ql/src/Security/CWE-730-bind-old/ReDoSUtil.qll
  python/ql/src/semmle/python/RegexTreeViewBindOld.qll
Owners: @github/codeql-python

Python: Model `rsa`
  docs/codeql/support/reusables/frameworks.rst
  python/change-notes/2021-06-09-rsa-add-modeling.md
  python/ql/src/semmle/python/Frameworks.qll
  python/ql/src/semmle/python/frameworks/Rsa.qll
  python/ql/test/library-tests/frameworks/rsa/test_rsa.py
Owners: @github/codeql-python

Python: Apply suggestions from code review
  python/ql/src/semmle/python/frameworks/Aiohttp.qll
Owners: @github/codeql-python

Python: Fix syntax error
  python/ql/src/semmle/python/frameworks/Aiohttp.qll
Owners: @github/codeql-python

Python: Restore javascript file that should have never been touched
  javascript/ql/src/semmle/javascript/security/performance/ReDoSUtil.qll
Owners: @github/codeql-javascript

Python: fix rawValue (thanks @erik-krogh)
  python/ql/src/semmle/python/RegexTreeViewBindOld.qll
Owners: @github/codeql-python

Python: remove `\b` and `\B` from `RegExpCharacterClassEscape`
  python/ql/src/semmle/python/RegexTreeViewBindOld.qll
Owners: @github/codeql-python

HardCodedCredentials: fix query metadata comment
  ql/src/queries/security/cwe-798/HardcodedCredentials.ql
Owners: none

Python: Fix last TODOs in aiohttp tests
  python/ql/test/library-tests/frameworks/aiohttp/taint_test.py
Owners: @github/codeql-python

Add change note
  java/change-notes/2021-06-11-tainted-key-read-steps.md
Owners: @github/codeql-java

Python: Model `aiohttp.StreamReader`
  python/ql/src/semmle/python/frameworks/Aiohttp.qll
  python/ql/test/library-tests/frameworks/aiohttp/taint_test.py
Owners: @github/codeql-python

Add modelling for more `com.google.common.base` methods
  java/ql/src/semmle/code/java/frameworks/guava/Base.qll
Owners: @github/codeql-java

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
