Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205

JavaScript: Fix performance regression in `IncorrectSuffixCheck`.
  javascript/ql/src/Security/CWE-020/IncorrectSuffixCheck.ql
Owners: @Semmle/js

Address PR comments
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
Owners: @Semmle/cs

CPP: Tiny qldoc fixes.
  cpp/ql/src/jsf/4.10 Classes/AV Rule 81.ql
  cpp/ql/src/jsf/4.21 Operators/AV Rule 159.ql
  cpp/ql/src/jsf/4.28 Portable Code/AV Rule 213.ql
  cpp/ql/src/semmle/code/cpp/controlflow/Guards.qll
  cpp/ql/src/semmle/code/cpp/controlflow/SSA.qll
  cpp/ql/src/semmle/code/cpp/padding/Padding.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/RangeSSA.qll
Owners: @Semmle/cpp-analysis

C++: Rename predicates in `FunctionInputsAndOutputs.qll` and add QLDoc
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/IdentityFunction.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Inet.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Memcpy.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strftime.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Swap.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/FunctionInputsAndOutputs.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Address review comments.
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/Cast.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Update references to BuiltInOperationBuiltInOffsetOf and __builtin_offsetof.
  cpp/ql/src/semmle/code/cpp/commons/Buffer.qll
  cpp/ql/src/semmle/code/cpp/controlflow/internal/CFG.qll
  cpp/ql/test/library-tests/builtins/edg/expr.expected
Owners: @Semmle/cpp-analysis

Update remaining links to blog
  docs/language/ql-training/java/apache-struts-java.rst
  docs/language/ql-training/java/global-data-flow-java.rst
Owners: @felicity-semmle, @jf205

C#: Include runtime target in TTransitiveCaptureCall
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Owners: @Semmle/cs

JS: Change note
  change-notes/1.23/extractor-javascript.md
Owners: none

C++: Data flow through address-of operator (&)
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Owners: @Semmle/cpp-analysis

C++: Accept changes in CWE-{119,120} tests
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/unions.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/OverrunWrite.expected
Owners: @Semmle/cpp-analysis

C++: Annotate changes in struct_init.c test
  cpp/ql/test/library-tests/dataflow/fields/struct_init.c
Owners: @Semmle/cpp-analysis

C++: Document tests better
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/fields/struct_init.c
Owners: @Semmle/cpp-analysis

Python: Modernise the `py/mixed-tuple-returns` query.
  python/ql/src/Functions/ReturnConsistentTupleSizes.ql
Owners: none

C#: Add capture test for nested lambdas, commented out
  csharp/ql/test/library-tests/dataflow/global/Capture.cs
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
Owners: @Semmle/cs

C#: Add test for transitive capture calls.
  csharp/ql/test/library-tests/dataflow/global/Capture.cs
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
Owners: @Semmle/cs

C# IR: using, checked, unchecked stmts
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/stmts.cs
  csharp/ql/test/library-tests/ir/ir/using.cs
Owners: @Semmle/cs

PR fixes
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/stmts.cs
  csharp/ql/test/library-tests/ir/ir/using.cs
Owners: @Semmle/cs

CPP: Add a test of ConditionalDeclExpr.
  cpp/ql/test/library-tests/exprs/conditional_decl/conditionaldeclexpr.cpp
  cpp/ql/test/library-tests/exprs/conditional_decl/conditionaldeclexpr.expected
  cpp/ql/test/library-tests/exprs/conditional_decl/conditionaldeclexpr.ql
Owners: @Semmle/cpp-analysis

Address further review comments.
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
Owners: @Semmle/cpp-analysis

C# autobuilder: Build all solutions at the highest depth
  csharp/autobuilder/Semmle.Autobuild/Autobuilder.cs
Owners: @Semmle/cs

[CPP-418] Reformat.
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
Owners: @Semmle/cpp-analysis

Address PR comments
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/using.cs
Owners: @Semmle/cs

JavaScript: Add support for top-level `await`.
  change-notes/1.23/extractor-javascript.md
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/esnext/input/top-level-await.js
  javascript/extractor/tests/esnext/output/trap/top-level-await.js.trap
Owners: @Semmle/js

C++: Autoformat five files
  cpp/ql/src/semmle/code/cpp/Variable.qll
  cpp/ql/src/semmle/code/cpp/commons/CommonType.qll
  cpp/upgrades/814fae599505510ff15102f4c72600586734770a/lambda_capture.ql
  cpp/upgrades/cac7e92107084af19112986145f72b8de646c39d/values.ql
  cpp/upgrades/cac7e92107084af19112986145f72b8de646c39d/valuetext.ql
Owners: @Semmle/cpp-analysis

C#: Adjust line numbers in test case.
  csharp/ql/test/library-tests/dataflow/global/Capture.cs
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
Owners: @Semmle/cs

C#: Autoformat
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedCallBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedExprBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Using.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRUtilities.qll
  csharp/ql/test/library-tests/controlflow/guards/Collections.ql
Owners: @Semmle/cs

C#: Fix potential bug in CaptureOutNode.
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/global/Capture.cs
  csharp/ql/test/library-tests/dataflow/global/DataFlow.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/GetAnOutNode.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTracking.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
Owners: @Semmle/cs

JavaScript: Add support for `rate-limiter-flexible` package.
  change-notes/1.23/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/MissingRateLimiting.qll
  javascript/ql/test/query-tests/Security/CWE-770/tst.js
Owners: @Semmle/js

Java/C++/C#: Simplify `PathNode` successor logic
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
Owners: @Semmle/cs

C#: Update expected test output
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.expected
  csharp/ql/test/query-tests/Likely Bugs/UnsafeYearConstruction/UnsafeYearConstruction.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/XSS.expected
  csharp/ql/test/query-tests/Security Features/CWE-094/CodeInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.expected
  csharp/ql/test/query-tests/Security Features/CWE-201/ExposureInTransmittedData/ExposureInTransmittedData.expected
  csharp/ql/test/query-tests/Security Features/CWE-209/ExceptionInformationExposure.expected
  csharp/ql/test/query-tests/Security Features/CWE-312/CleartextStorage.expected
  csharp/ql/test/query-tests/Security Features/CWE-359/ExposureOfPrivateInformation.expected
  csharp/ql/test/query-tests/Security Features/CWE-798/HardcodedConnectionString.expected
  csharp/ql/test/query-tests/Security Features/CWE-798/HardcodedCredentials.expected
  csharp/ql/test/query-tests/Security Features/CWE-838/InappropriateEncoding.expected
Owners: @Semmle/cs

Java: Update expected test output
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.expected
  java/ql/test/query-tests/security/CWE-129/semmle/tests/ImproperValidationOfArrayIndexCodeSpecified.expected
  java/ql/test/query-tests/security/CWE-327/semmle/tests/BrokenCryptoAlgorithm.expected
  java/ql/test/query-tests/security/CWE-327/semmle/tests/MaybeBrokenCryptoAlgorithm.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
  java/ql/test/query-tests/security/CWE-611/XXE.expected
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedCredentialsApiCall.expected
Owners: @Semmle/java

Sync files
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C++: Test for pointer-to-member-function CFG
  cpp/ql/test/library-tests/syntax-zoo/pointer_to_member.cpp
  cpp/ql/test/library-tests/syntax-zoo/tellDifferent.expected
Owners: @Semmle/cpp-analysis

Distribute a recursive call into a recursive disjunction.
  cpp/ql/src/semmle/code/cpp/valuenumbering/HashCons.qll
Owners: @Semmle/cpp-analysis

HashCons: Make some functionality apparent.
  cpp/ql/src/semmle/code/cpp/valuenumbering/HashCons.qll
Owners: @Semmle/cpp-analysis

C++: Pointer-to-member-function is constant
  cpp/ql/src/semmle/code/cpp/internal/AddressConstantExpression.qll
  cpp/ql/test/library-tests/syntax-zoo/tellDifferent.expected
Owners: @Semmle/cpp-analysis

C#: Add autobuilder unit test for multiple csproj files.
  csharp/autobuilder/Semmle.Autobuild.Tests/BuildScripts.cs
Owners: @Semmle/cs

C++: Annotate `tellDifferent` with template status
  cpp/ql/test/library-tests/syntax-zoo/tellDifferent.expected
  cpp/ql/test/library-tests/syntax-zoo/tellDifferent.ql
Owners: @Semmle/cpp-analysis

C++: Test for template pointer-to-member CFG
  cpp/ql/test/library-tests/syntax-zoo/pointer_to_member.cpp
  cpp/ql/test/library-tests/syntax-zoo/tellDifferent.expected
Owners: @Semmle/cpp-analysis
