Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

add change note
  change-notes/1.24/analysis-javascript.md
Owners: none

C++: IR DataFlowUtil::modelFlow join order fix
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

Python: Add testcases for py/import-own-module
  python/ql/test/query-tests/Imports/PyCheckerTests/ImportandImportFrom.expected
  python/ql/test/query-tests/Imports/PyCheckerTests/ModuleImportsItself.expected
  python/ql/test/query-tests/Imports/PyCheckerTests/imports_test.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_notok/__init__.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/__init__.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/foo1.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/foo2.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/foo3.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/foo4.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/foo5.py
Owners: @Semmle/python

C++: Fix coversEntireVariable perf in AliasedSSA
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Owners: @Semmle/cpp-analysis

C++: Add += and friends to adjustedSink
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

C#: Address review comment - Flow from expressions with a value is excluded.
  csharp/ql/src/Security Features/CWE-020/RuntimeChecksBypass.ql
  csharp/ql/test/query-tests/Security Features/CWE-020/RuntimeChecksBypass.cs
  csharp/ql/test/query-tests/Security Features/CWE-020/RuntimeChecksbypass.expected
Owners: @Semmle/cs

C#: Remove condition around initializer.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
Owners: @Semmle/cs

Remove link to blog
  docs/language/global-sphinx-files/_templates/layout.html
Owners: @shati-patel, @jf205

C++: autoformat
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

Rename the go module to github.com/github/codeql-go
  extractor/cli/go-autobuilder/go-autobuilder.go
  extractor/cli/go-autobuilder/go-autobuilder_test.go
  extractor/cli/go-extractor/go-extractor.go
  extractor/dbscheme/dbscheme.go
  extractor/extractor.go
  extractor/trap/trapwriter.go
  go.mod
Owners: none

Fix tests to use codeql-go repository name
  ql/test/library-tests/semmle/go/Scopes/MethodImplementsName.expected
  ql/test/library-tests/semmle/go/Scopes/MethodImplementsName.ql
  ql/test/library-tests/semmle/go/Scopes/Methods.expected
  ql/test/library-tests/semmle/go/Scopes/TypeImplements.ql
  ql/test/library-tests/semmle/go/Types/QualifiedNames.expected
Owners: none

C#: Extract `stackalloc` information
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Tuples.cs
  csharp/ql/src/semmle/code/csharp/exprs/Creation.qll
  csharp/ql/src/semmlecode.csharp.dbscheme
  csharp/ql/test/library-tests/csharp7.3/ArrayCreations.expected
  csharp/ql/test/library-tests/csharp7.3/ArrayCreations.ql
  csharp/ql/test/library-tests/csharp7.3/ArrayElements.expected
  csharp/ql/test/library-tests/csharp7.3/ArrayElements.ql
Owners: @Semmle/cs

C#: Add DB upgrade script
  csharp/upgrades/cf21dd4151d107ab649a2a218e7f52e355c43906/old.dbscheme
  csharp/upgrades/cf21dd4151d107ab649a2a218e7f52e355c43906/semmlecode.csharp.dbscheme
  csharp/upgrades/cf21dd4151d107ab649a2a218e7f52e355c43906/upgrade.properties
Owners: @Semmle/cs

C#: Add DB stats for `explicitly_sized_array_creation`
  csharp/ql/src/semmlecode.csharp.dbscheme.stats
Owners: @Semmle/cs

C#: Add change note
  change-notes/1.24/analysis-csharp.md
Owners: none

Address review comments.
  ql/src/semmle/go/StringOps.qll
  ql/src/semmle/go/dataflow/internal/DataFlowDispatch.qll
Owners: none

C++: fix cartesian product in FunctionWithWrapper
  cpp/ql/src/semmle/code/cpp/security/FunctionWithWrappers.qll
Owners: @Semmle/cpp-analysis

C++: unflip cause strings in FunctionWithWrapper
  cpp/ql/src/semmle/code/cpp/security/FunctionWithWrappers.qll
Owners: @Semmle/cpp-analysis

Create an action workflow for CodeQL tests
  .github/workflows/codeqltest.yml
Owners: none

Force git not to mangle line endings for files relevant to tests
  .gitattributes
Owners: none

docs: add link to module resolution in ql spec
  docs/language/ql-handbook/modules.rst
Owners: @shati-patel, @jf205

docs: move folding predicates topic
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/learn-ql/advanced/folding-predicates.rst
  docs/language/learn-ql/writing-queries/debugging-queries.rst
Owners: @shati-patel, @jf205

docs: delete equivalence topic
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/learn-ql/advanced/equivalence.rst
Owners: @shati-patel, @jf205

docs: move abstract classes topic to handbook
  docs/language/learn-ql/advanced/abstract-classes.rst
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/ql-handbook/types.rst
Owners: @shati-patel, @jf205

Update docs/language/learn-ql/writing-queries/debugging-queries.rst
  docs/language/learn-ql/writing-queries/debugging-queries.rst
Owners: @shati-patel, @jf205

docs: address review comments
  docs/language/learn-ql/writing-queries/debugging-queries.rst
Owners: @shati-patel, @jf205

Remove trailing ; in QL language spec
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

Fix typos in QL language spec
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

Python: In py/import-own-module handle `from foo import *`
  python/ql/src/Imports/ModuleImportsItself.ql
  python/ql/test/query-tests/Imports/PyCheckerTests/ModuleImportsItself.expected
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_notok/__init__.py
Owners: @Semmle/python

Python: Fix FPs for py/import-own-module
  python/ql/src/Imports/ModuleImportsItself.ql
  python/ql/test/query-tests/Imports/PyCheckerTests/ModuleImportsItself.expected
  python/ql/test/query-tests/Imports/PyCheckerTests/options
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/__init__.py
Owners: @Semmle/python

Python: Update tests for py/import-own-module
  python/ql/test/query-tests/Imports/PyCheckerTests/ModuleImportsItself.expected
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_notok/__init__.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_notok/bar.py
  python/ql/test/query-tests/Imports/PyCheckerTests/pkg_ok/__init__.py
Owners: @Semmle/python

Address review comments
  change-notes/1.24/analysis-csharp.md
  csharp/ql/src/semmle/code/csharp/exprs/Creation.qll
Owners: @Semmle/cs

add a few arrary methods to TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Owners: @Semmle/js

Python: Django tests need --lang=3
  python/ql/test/library-tests/web/django/options
Owners: @Semmle/python

add HTMLSanitizerCall as a sanitizer for XSS
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
Owners: @Semmle/js

C++: Additional test cases.
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test.cpp
Owners: @Semmle/cpp-analysis

C++: Understand formatting function varargs as needing null termination.
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/NoSpaceForZeroTerminator.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-131/semmle/NoSpaceForZeroTerminator/test.cpp
Owners: @Semmle/cpp-analysis

C++: Change note.
  change-notes/1.24/analysis-cpp.md
Owners: none

C++: Clearer comments in NoSpaceForZeroTerminator.ql.
  cpp/ql/src/Security/CWE/CWE-131/NoSpaceForZeroTerminator.ql
Owners: @Semmle/cpp-analysis

add test for escaping XSS function
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
Owners: @Semmle/js

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
