Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac

Reduce partial definition flow edge redundancy
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Owners: @Semmle/cpp-analysis

Introduce partial-definition nodes
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Owners: @Semmle/cpp-analysis

Propagate data flow through `NewExpr`s
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

Handle constructor call qualifiers
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
Owners: @Semmle/cpp-analysis

C++: PartialDefNode -> PartialDefinitionNode
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

C++: Tidy up DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

Exclude partial defs from ordinary SSA handling
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Owners: @Semmle/cpp-analysis

C++: Remove TThisVar
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Owners: @Semmle/cpp-analysis

Add missing `getType` override
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

C++: Accept AST field flow test output
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/complex.cpp
  cpp/ql/test/library-tests/dataflow/fields/constructors.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

C++ field flow: Add test.
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/B.cpp
  cpp/ql/test/library-tests/dataflow/fields/C.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.ql
Owners: @Semmle/cpp-analysis

Add extra test cases
  cpp/ql/test/library-tests/dataflow/fields/complex.cpp
  cpp/ql/test/library-tests/dataflow/fields/constructors.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.ql
  cpp/ql/test/library-tests/dataflow/fields/simple.cpp
Owners: @Semmle/cpp-analysis

Remove unused args
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Owners: @Semmle/cpp-analysis

C++: Undo autoformat of FlowVar.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Owners: @Semmle/cpp-analysis

C++: Unify partial def and def-by-ref
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Owners: @Semmle/cpp-analysis

Override getFunction on PostUpdateNodes
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

Only split BBs for var-defining partial-defs
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Owners: @Semmle/cpp-analysis

Use more meaningful name
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.ql
Owners: @Semmle/cpp-analysis

Add handling of post-constructor-call nodes
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

C#: WIP
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefLastRead.expected
Owners: @Semmle/cs

CPP: Simplify the VirtualFunctions test.
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions4.expected
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions4.ql
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions5.expected
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions5.ql
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions6.expected
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions6.ql
Owners: @Semmle/cpp-analysis

CPP: Test PureVirtualFunction.
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions4.expected
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/VirtualFunctions4.ql
Owners: @Semmle/cpp-analysis

CPP: QLDoc Function.qll.
  cpp/ql/src/semmle/code/cpp/Function.qll
Owners: @Semmle/cpp-analysis

CPP: Add test cases.
  cpp/ql/test/library-tests/functions/functions/Functions1.expected
  cpp/ql/test/library-tests/functions/functions/Functions2.expected
  cpp/ql/test/library-tests/functions/functions/functions.cpp
Owners: @Semmle/cpp-analysis

CPP: Improve the MemberFunctions test.
  cpp/ql/test/library-tests/functions/functions/Functions2.expected
  cpp/ql/test/library-tests/functions/functions/Functions2.ql
Owners: @Semmle/cpp-analysis

C#: Improve performance of SSA adjacent reads calculation
  csharp/ql/src/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefLastRead.expected
Owners: @Semmle/cs

docs: 2nd review comment
  CONTRIBUTING.md
Owners: none

Update cpp/ql/src/semmle/code/cpp/Struct.qll
  cpp/ql/src/semmle/code/cpp/Struct.qll
Owners: @Semmle/cpp-analysis

Update cpp/ql/src/semmle/code/cpp/Union.qll
  cpp/ql/src/semmle/code/cpp/Union.qll
Owners: @Semmle/cpp-analysis

Update cpp/ql/src/semmle/code/cpp/Struct.qll
  cpp/ql/src/semmle/code/cpp/Struct.qll
Owners: @Semmle/cpp-analysis

Update cpp/ql/src/semmle/code/cpp/Union.qll
  cpp/ql/src/semmle/code/cpp/Union.qll
Owners: @Semmle/cpp-analysis

CPP: Brace placement.
  cpp/ql/src/semmle/code/cpp/Struct.qll
Owners: @Semmle/cpp-analysis

CPP: Brace placement.
  cpp/ql/src/semmle/code/cpp/Function.qll
Owners: @Semmle/cpp-analysis

CPP: Brace placement.
  cpp/ql/src/semmle/code/cpp/Enum.qll
  cpp/ql/test/library-tests/lambdas/captures/elements.ql
Owners: @Semmle/cpp-analysis

CPP: Minor changes.
  cpp/ql/src/semmle/code/cpp/Enum.qll
Owners: @Semmle/cpp-analysis

Rough first draft of final document.
  docs/ql-documentation/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: none

CPP: Update test annotations.
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/Adding365DaysPerYear/test.cpp
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/UncheckedLeapYearAfterYearModification/test.cpp
Owners: @Semmle/cpp-analysis

Java: Add change note.
  change-notes/1.22/analysis-java.md
Owners: none
