Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

Python: Make Sanitizer available for urlsplit taint
  python/ql/src/semmle/python/security/strings/External.qll
  python/ql/test/library-tests/taint/namedtuple/Taint.qll
  python/ql/test/library-tests/taint/namedtuple/TestTaint.expected
  python/ql/test/library-tests/taint/namedtuple/test.py
Owners: @Semmle/python

JS: Proto pollution: Add is-plain-object sanitizer
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

better printing of the options arg
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/uselesscat.js
Owners: @Semmle/js

Python: Add more urlsplit tests
  python/ql/test/library-tests/taint/namedtuple/TestTaint.expected
  python/ql/test/library-tests/taint/namedtuple/test.py
Owners: @Semmle/python

pre-migration tasks: start adding intros
  docs/language/learn-ql/javascript/flow-labels.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
  docs/language/learn-ql/javascript/ql-for-javascript.rst
Owners: @shati-patel, @jf205

C#
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
Owners: @Semmle/cs

sync
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Python: urlsplit sanitizer handles `in [KNOWN_VALUE]`
  python/ql/src/semmle/python/security/strings/External.qll
  python/ql/test/library-tests/taint/namedtuple/TestTaint.expected
  python/ql/test/library-tests/taint/namedtuple/test.py
Owners: @Semmle/python

Java: Calling openStream on URLs created from remote source can lead to local file disclosure.
  java/ql/src/Security/CWE/CWE-036/OpenStream.java
  java/ql/src/Security/CWE/CWE-036/OpenStream.qhelp
  java/ql/src/Security/CWE/CWE-036/OpenStream.ql
Owners: @Semmle/java, @felicitymay

Fix whitespace issues in OpenStream.java
  java/ql/src/Security/CWE/CWE-036/OpenStream.java
Owners: @Semmle/java

Add query documentation header
  java/ql/src/Security/CWE/CWE-036/OpenStream.ql
Owners: @Semmle/java

Adds missing result to expected file
  python/ql/test/2/query-tests/Expressions/TruncatedDivision.expected
Owners: @Semmle/python

Fixes more porting errors
  python/ql/test/2/library-tests/ControlFlow/Exceptions/Handles.ql
  python/ql/test/2/library-tests/types/exceptions/ExitRaises.ql
  python/ql/test/3/library-tests/ControlFlow/Exceptions/Handles.ql
Owners: @Semmle/python

C++: Better fix for `void` type on buffer access
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Add type for java.net.URL
  java/ql/src/Security/CWE/CWE-036/OpenStream.ql
  java/ql/src/semmle/code/java/frameworks/Networking.qll
Owners: @Semmle/java

CodeQL query to detect open Spring Boot actuator endpoints
  java/ql/src/Security/CWE/CWE-016/SpringBootActuators.java
  java/ql/src/Security/CWE/CWE-016/SpringBootActuators.qhelp
  java/ql/src/Security/CWE/CWE-016/SpringBootActuators.ql
  java/ql/src/Security/CWE/CWE-016/SpringBootActuators.qll
  java/ql/test/query-tests/security/CWE-016/SpringBootActuators.java
  java/ql/test/query-tests/security/CWE-016/SpringBootActuators.qlref
Owners: @Semmle/java, @felicitymay

C++/C#: Move sanity check inside InstructionSanity module and accept tests
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/ir/constant_func/constant_func.expected
  cpp/ql/test/library-tests/ir/escape/escape.expected
  cpp/ql/test/library-tests/ir/escape/ssa_escape.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_sanity_unsound.expected
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_uniqueness.expected
  cpp/ql/test/query-tests/Likely Bugs/RedundantNullCheckSimple/RedundantNullCheckSimple.expected
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir_sanity.expected
  csharp/ql/test/library-tests/ir/ir/unaliased_ssa_sanity.expected
  csharp/ql/test/library-tests/ir/offbyone/OffByOneRA.expected
  csharp/ql/test/library-tests/ir/rangeanalysis/RangeAnalysis.expected
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++/C#: Bind parameter in new case.
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Add test, which does not work yet.
  ql/test/library-tests/semmle/go/dataflow/InterProceduralDataFlow/Test.expected
  ql/test/library-tests/semmle/go/dataflow/InterProceduralDataFlow/receivers.go
Owners: none

Don't track receivers into virtual calls.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

Treat receiver variables as parameters.
  ql/src/semmle/go/Decls.qll
  ql/src/semmle/go/Scopes.qll
  ql/src/semmle/go/controlflow/ControlFlowGraphImpl.qll
  ql/src/semmle/go/controlflow/IR.qll
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

doc changes from review
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
Owners: @Semmle/js

JS: Fix test
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

C++: Add a taint test for gets.
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/library-tests/dataflow/security-taint/test.cpp
Owners: @Semmle/cpp-analysis

C++: Model 'gets'.
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
Owners: @Semmle/cpp-analysis

C++: Change note.
  change-notes/1.24/analysis-cpp.md
Owners: none

Update cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Gets.qll
Owners: @Semmle/cpp-analysis

TS: Add test and documentation for private fields
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/extractor/tests/ts/input/privateField.ts
  javascript/extractor/tests/ts/output/trap/privateField.ts.trap
  javascript/ql/test/library-tests/TypeScript/PrivateFields/test.expected
  javascript/ql/test/library-tests/TypeScript/PrivateFields/test.ql
  javascript/ql/test/library-tests/TypeScript/PrivateFields/tst.ts
Owners: @Semmle/js

TS: Add change note
  change-notes/1.24/analysis-javascript.md
Owners: none

TS: Add test case for import type * as ns
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/test.expected
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/tst.ts
Owners: @Semmle/js

TS: Add upgrade script and stats
  javascript/ql/src/semmlecode.javascript.dbscheme.stats
  javascript/upgrades/dad09eeeff5cf8c9c2b674d5053c63ab44e091df/old.dbscheme
  javascript/upgrades/dad09eeeff5cf8c9c2b674d5053c63ab44e091df/semmlecode.javascript.dbscheme
  javascript/upgrades/dad09eeeff5cf8c9c2b674d5053c63ab44e091df/upgrade.properties
Owners: @Semmle/js

TS: Add test case to DeclBeforeUse
  javascript/ql/test/query-tests/Declarations/DeclBeforeUse/typescript.ts
Owners: @Semmle/js

TS: Disable export analysis for type-only exports
  javascript/ql/src/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/exportFunction.ts
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/importFunction.ts
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/importType.ts
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/test.expected
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/test.ql
Owners: @Semmle/js

TS: Update to TypeScript 3.8.2
  javascript/extractor/lib/typescript/package.json
  javascript/extractor/lib/typescript/yarn.lock
Owners: @Semmle/js

TS: Fix imports
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
Owners: @Semmle/js

TS: Support type-only import/export
  javascript/extractor/src/com/semmle/js/ast/ExportNamedDeclaration.java
  javascript/extractor/src/com/semmle/js/ast/ImportDeclaration.java
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/ExprKinds.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/ql/src/semmle/javascript/AST.qll
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmlecode.javascript.dbscheme
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/test.expected
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/test.ql
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/tst.ts
Owners: @Semmle/js

TS: Handle export * as ns
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/ql/test/library-tests/TypeScript/ExportNamespaceSpecifier/client.ts
  javascript/ql/test/library-tests/TypeScript/ExportNamespaceSpecifier/lib.ts
  javascript/ql/test/library-tests/TypeScript/ExportNamespaceSpecifier/reexport.ts
  javascript/ql/test/library-tests/TypeScript/ExportNamespaceSpecifier/test.expected
  javascript/ql/test/library-tests/TypeScript/ExportNamespaceSpecifier/test.ql
Owners: @Semmle/js

TS: Add test for named re-export and exportsAs
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/exportClass.ts
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/importRexportedClass.ts
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/namedReexport.ts
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/test.expected
  javascript/ql/test/library-tests/TypeScript/TypeOnlyImportExport/test.ql
Owners: @Semmle/js

TS: Fix javadoc
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
Owners: @Semmle/js

TS: Fix expected output
  javascript/ql/test/library-tests/TypeScript/ExportNamespaceSpecifier/test.expected
Owners: @Semmle/js

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
