Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

C++: Removed abstract classes from binary and assignment operations
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
  cpp/ql/src/semmle/code/cpp/exprs/BitwiseOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/ComparisonOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis

Fix comments
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
Owners: @Semmle/cpp-analysis

C++: Updated upgrade script
  cpp/upgrades/bd182f697bf1316c401421d64e582871331a69f4/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis

C++: Use the IR from the LGTM suite
  cpp/ql/src/Likely Bugs/Arithmetic/SignedOverflowCheck.ql
  cpp/ql/src/Likely Bugs/InconsistentCheckReturnNull.ql
  cpp/ql/src/Likely Bugs/Memory Management/PointerOverflow.ql
  cpp/ql/src/Likely Bugs/Memory Management/StrncpyFlippedArgs.ql
  cpp/ql/src/Likely Bugs/RedundantNullCheckSimple.ql
  cpp/ql/src/Security/CWE/CWE-311/CleartextFileWrite.ql
Owners: @Semmle/cpp-analysis

C#: Update .gitignore
  .gitignore
Owners: none

C#: Tests for tuple expressions.
  csharp/ql/test/library-tests/expressions/expressions.cs
Owners: @Semmle/cs

C#: Handle TupleType expression.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Factory.cs
Owners: @Semmle/cs

C#: Add test for tuple expressions.
  csharp/ql/test/library-tests/expressions/Tuples1.expected
  csharp/ql/test/library-tests/expressions/Tuples1.ql
Owners: @Semmle/cs

C#: Update change notes.
  change-notes/1.24/analysis-csharp.md
Owners: none

C++: Deprecate UninitializedNode in IR data flow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

C++: IR data flow through total chi operands
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

C#: Add test
  csharp/ql/test/query-tests/Dead Code/DeadStoreOfLocal/DeadStoreOfLocal.cs
  csharp/ql/test/query-tests/Dead Code/DeadStoreOfLocal/DeadStoreOfLocal.expected
Owners: @Semmle/cs

C#: Remove false positive and update test output
  csharp/ql/src/Dead Code/DeadStoreOfLocal.ql
  csharp/ql/test/query-tests/Dead Code/DeadStoreOfLocal/DeadStoreOfLocal.cs
  csharp/ql/test/query-tests/Dead Code/DeadStoreOfLocal/DeadStoreOfLocal.expected
Owners: @Semmle/cs

C#: Analysis change notes
  change-notes/1.24/analysis-csharp.md
Owners: none

C++: Fix overlappingVariableMemoryLocations perf
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Owners: @Semmle/cpp-analysis

JavaScript: Fix join order in `PathNode.getASuccessor`.
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

JavaScript: Prevent joining on configuration in `onPath`.
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

refactor isInterpretedAsRegExp to directly work on a DataFlow node
  javascript/ql/src/semmle/javascript/Regexp.qll
Owners: @Semmle/js

JavaScript: Alert suppression through single-line /* */ style comments.
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/AlertSuppression.ql
  javascript/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  javascript/ql/test/query-tests/AlertSuppression/tst.js
  javascript/ql/test/query-tests/AlertSuppression/tstWindows.js
Owners: @Semmle/js

QL HB: Add bindingset example
  docs/language/ql-handbook/predicates.rst
Owners: @shati-patel, @jf205

TS: Blacklist cyclic property fallthroughFlowNode
  javascript/extractor/lib/typescript/src/main.ts
Owners: @Semmle/js

QL HB: Use "real" example
  docs/language/ql-handbook/predicates.rst
Owners: @shati-patel, @jf205

Alert suppression through single-line /* */ style comments.
  change-notes/1.24/analysis-go.md
  ql/src/AlertSuppression.ql
  ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  ql/test/query-tests/AlertSuppression/tst.go
  ql/test/query-tests/AlertSuppression/tstWindows.go
Owners: none

QL HB: Reword description
  docs/language/ql-handbook/predicates.rst
Owners: @shati-patel, @jf205

C++: Add test demonstrating the false positive
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/IntMultToLong/IntMultToLong.c
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/IntMultToLong/IntMultToLong.expected
Owners: @Semmle/cpp-analysis

C++: Improve query precision
  cpp/ql/src/Likely Bugs/Arithmetic/IntMultToLong.ql
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/IntMultToLong/IntMultToLong.c
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/IntMultToLong/IntMultToLong.expected
Owners: @Semmle/cpp-analysis

TS: Add test with traceResolution: true
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/node_modules/@types/foo/index.d.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/test.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/tsconfig.json
Owners: @Semmle/js

TS: Disable output from tracing
  javascript/extractor/lib/typescript/src/common.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/TraceResolution/test.expected
Owners: @Semmle/js

docs: fix list
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

TS: Add regression test
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/bar.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/node_modules/@blah/foo/index.d.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/tsconfig.json
Owners: @Semmle/js

TS: Guard getTypeAtLocation with try/catch
  javascript/extractor/lib/typescript/src/ast_extractor.ts
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/test.expected
Owners: @Semmle/js

TS: Wrap getTypeOfSymbolAtLocation in try/catch
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/type_table.ts
Owners: @Semmle/js

add test for block-level flow type annotations
  javascript/ql/test/query-tests/Expressions/ExprHasNoEffect/options
  javascript/ql/test/query-tests/Expressions/ExprHasNoEffect/tst.js
Owners: @Semmle/js

TS: Print warning when bailing out of symbol type
  javascript/extractor/lib/typescript/src/type_table.ts
Owners: @Semmle/js

TS: explain test case
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportSelf/test.ql
Owners: @Semmle/js

JS: Add test showing spurious .css import
  javascript/ql/test/library-tests/Modules/importcss.js
  javascript/ql/test/library-tests/Modules/tests.expected
Owners: @Semmle/js

JS: do not resolve arbitrary extensions to JavaScript files
  javascript/ql/src/semmle/javascript/Modules.qll
  javascript/ql/src/semmle/javascript/Paths.qll
  javascript/ql/test/library-tests/Modules/tests.expected
Owners: @Semmle/js

docs: move folding predicates topic
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/learn-ql/advanced/folding-predicates.rst
  docs/language/learn-ql/writing-queries/debugging-queries.rst
Owners: @shati-patel, @jf205

docs: move abstract classes topic to handbook
  docs/language/learn-ql/advanced/abstract-classes.rst
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/ql-handbook/types.rst
Owners: @shati-patel, @jf205

docs: delete equivalence topic
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/learn-ql/advanced/equivalence.rst
Owners: @shati-patel, @jf205
