Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac

Move support topics into 'support' directory
  docs/ql-documentation/support/csharp-frameworks.csv
  docs/ql-documentation/support/framework-support.rst
  docs/ql-documentation/support/java-frameworks.csv
  docs/ql-documentation/support/javascript-typescript-frameworks.csv
  docs/ql-documentation/support/language-support.rst
  docs/ql-documentation/support/python-frameworks.csv
  docs/ql-documentation/support/versions-compilers.csv
Owners: none

CPP: Deprecate Interface and remove the test.
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/interfaces.expected
  cpp/ql/test/library-tests/virtual_functions/virtual_functions/interfaces.ql
Owners: @Semmle/cpp-analysis

CPP: Implement simple changes.
  cpp/ql/src/semmle/code/cpp/Class.qll
Owners: @Semmle/cpp-analysis

CPP: Clean up Class, ClassDerivation and ClassTemplateSpecialization QLDoc.
  cpp/ql/src/semmle/code/cpp/Class.qll
Owners: @Semmle/cpp-analysis

CPP: Bracket consistency.
  cpp/ql/src/semmle/code/cpp/Class.qll
Owners: @Semmle/cpp-analysis

CPP: Improvements to qldoc.
  cpp/ql/src/semmle/code/cpp/Class.qll
Owners: @Semmle/cpp-analysis

CPP: Add syntax examples for Class.qll.
  cpp/ql/src/semmle/code/cpp/Class.qll
Owners: @Semmle/cpp-analysis

CPP: Indentation.
  cpp/ql/src/semmle/code/cpp/Class.qll
Owners: @Semmle/cpp-analysis

CPP: Bits and bobs.
  cpp/ql/src/semmle/code/cpp/Class.qll
Owners: @Semmle/cpp-analysis

CPP: class, struct or union where appropriate.
  cpp/ql/src/semmle/code/cpp/Class.qll
Owners: @Semmle/cpp-analysis

C++: Update test results to latest master
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
Owners: @Semmle/cpp-analysis

C++ IR: Fix performance of large array value init
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/perf-regression.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/literals/aggregate_literals/arrays_value_init.ql
Owners: @Semmle/cpp-analysis

C++ IR: Remove fields from InstructionTag
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
Owners: @Semmle/cpp-analysis

C++ IR: Remove unused predicate
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
Owners: @Semmle/cpp-analysis

JavaScript: Fix `export default` examples.
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
Owners: @Semmle/js

JS: add ClientRequest.getAResponseDataNode()
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
Owners: @Semmle/js

JS: Move ClientRequest classes into a module and publish them
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
Owners: @Semmle/js

JS: Bugfixes
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
Owners: @Semmle/js

JS: Add test query for getAResponseDataNode
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.ql
Owners: @Semmle/js

JS: Test for 'request' package
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Owners: @Semmle/js

JS: Test for XMLHttpRequest
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Owners: @Semmle/js

JS: Fix indentation of qldoc comment
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
Owners: @Semmle/js

JS: Test for 'axios' package
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Owners: @Semmle/js

JS: Test for 'got' package
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Owners: @Semmle/js

JS: Move ClientRequest tests into shared ql file
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest.ql
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getADataNode.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getADataNode.ql
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getHost.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getHost.ql
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getUrl.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequest_getUrl.ql
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.ql
Owners: @Semmle/js

JS: Add caution to XMLHttpRequest class
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
Owners: @Semmle/js

JS: Fix a qldoc comment
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
Owners: @Semmle/js

JS: Test for fetch
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Owners: @Semmle/js

JS: Test for 'superagent' package
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Owners: @Semmle/js

JS: Address comments
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Owners: @Semmle/js

JS: Add qldoc
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
Owners: @Semmle/js

JS: Rename getResponseFormat => getResponseType
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
Owners: @Semmle/js

JS: Test for XhrIo
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Owners: @Semmle/js

JS: Add newline in test
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Owners: @Semmle/js

JS: Add more axios tests
  javascript/ql/test/library-tests/frameworks/ClientRequests/ClientRequests.expected
  javascript/ql/test/library-tests/frameworks/ClientRequests/tst.js
Owners: @Semmle/js

JS: Add predicate that disappeared during conflict resolution
  javascript/ql/src/semmle/javascript/frameworks/ClientRequests.qll
Owners: @Semmle/js

CPP: QLDoc examples in Struct.qll and Union.qll.
  cpp/ql/src/semmle/code/cpp/Struct.qll
  cpp/ql/src/semmle/code/cpp/Union.qll
Owners: @Semmle/cpp-analysis

CPP: Test LocalEnum and NestedEnum.
  cpp/ql/test/library-tests/enums/enums/Enums1.expected
  cpp/ql/test/library-tests/enums/enums/Enums3.expected
  cpp/ql/test/library-tests/enums/enums/enums.cpp
Owners: @Semmle/cpp-analysis

CPP: Improve the Enums3 test.
  cpp/ql/test/library-tests/enums/enums/Enums3.expected
  cpp/ql/test/library-tests/enums/enums/Enums3.ql
Owners: @Semmle/cpp-analysis

CPP: QLDoc Enum.qll.
  cpp/ql/src/semmle/code/cpp/Enum.qll
Owners: @Semmle/cpp-analysis

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
