Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

Use ArrayElement of in flow step specifications
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
  java/ql/test/library-tests/frameworks/android/taint-database/FlowSteps.java
Owners: @github/codeql-java

Fix up tests and update models
  java/ql/src/semmle/code/java/frameworks/android/SQLite.qll
Owners: @github/codeql-java

C++: Add test cases involving file descriptor versions.
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/TOCTOUFilesystemRace.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/test2.cpp
Owners: @github/codeql-c-analysis

C++: Mark the cases we're not sure about.
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/test2.cpp
Owners: @github/codeql-c-analysis

C++: Clarify the note about file descriptors.
  cpp/ql/src/Security/CWE/CWE-367/TOCTOUFilesystemRace.ql
Owners: @github/codeql-c-analysis

C++: Move some variant tests to a case we definitely do want to flag the base case of.
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/TOCTOUFilesystemRace.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/test2.cpp
Owners: @github/codeql-c-analysis

C++: Another test case to consider.
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/TOCTOUFilesystemRace.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/test2.cpp
Owners: @github/codeql-c-analysis

C++: Fix numbering.
  cpp/ql/test/query-tests/Security/CWE/CWE-367/semmle/test2.cpp
Owners: @github/codeql-c-analysis

Python: Add `TypeTrackingNode`
  python/.vscode/ql.code-snippets
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.ql
  python/ql/src/Security/CWE-215/FlaskDebug.ql
  python/ql/src/semmle/python/ApiGraphs.qll
  python/ql/src/semmle/python/Concepts.qll
  python/ql/src/semmle/python/dataflow/new/SensitiveDataSources.qll
  python/ql/src/semmle/python/dataflow/new/TypeTracker.qll
  python/ql/src/semmle/python/dataflow/new/internal/LocalSources.qll
  python/ql/src/semmle/python/dataflow/new/internal/TypeTracker.qll
  python/ql/src/semmle/python/dataflow/new/internal/TypeTrackerSpecific.qll
  python/ql/src/semmle/python/frameworks/Aiohttp.qll
  python/ql/src/semmle/python/frameworks/Cryptography.qll
  python/ql/src/semmle/python/frameworks/Django.qll
  python/ql/src/semmle/python/frameworks/Fabric.qll
  python/ql/src/semmle/python/frameworks/Flask.qll
  python/ql/src/semmle/python/frameworks/Invoke.qll
  python/ql/src/semmle/python/frameworks/MarkupSafe.qll
  python/ql/src/semmle/python/frameworks/Multidict.qll
  python/ql/src/semmle/python/frameworks/PEP249.qll
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/src/semmle/python/frameworks/Tornado.qll
  python/ql/src/semmle/python/frameworks/Twisted.qll
  python/ql/src/semmle/python/frameworks/Yarl.qll
  python/ql/src/semmle/python/frameworks/internal/PoorMansFunctionResolution.qll
  python/ql/src/semmle/python/frameworks/internal/SelfRefMixin.qll
  python/ql/src/semmle/python/regex.qll
  python/ql/test/experimental/dataflow/typetracking/moduleattr.ql
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
  python/ql/test/library-tests/frameworks/modeling-example/SharedCode.qll
Owners: @github/codeql-python, @xcorail

Makefile targets for cleaning and zipping the session
  cpp/codeql-dataflow-sql-injection/Makefile
Owners: @github/codeql-c-analysis

Another workspace sample
  cpp/codeql-dataflow-sql-injection/cpp-sqli.code-workspace
Owners: @github/codeql-c-analysis

Add tornado source
  python/ql/src/experimental/Security/CWE-348/ClientSuppliedIpUsedInSecurityCheckLib.qll
  python/ql/test/experimental/query-tests/Security/CWE-348/ClientSuppliedIpUsedInSecurityCheck.expected
  python/ql/test/experimental/query-tests/Security/CWE-348/flask_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-348/flask_good.py
  python/ql/test/experimental/query-tests/Security/CWE-348/tornado_bad.py
Owners: @github/codeql-python, @xcorail

Add files via upload
  cpp/ql/src/experimental/Security/CWE/CWE-758/UndefinedOrImplementationDefinedBehavior.c
  cpp/ql/src/experimental/Security/CWE/CWE-758/UndefinedOrImplementationDefinedBehavior.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-758/UndefinedOrImplementationDefinedBehavior.ql
Owners: @github/codeql-c-analysis, @xcorail

Add files via upload
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-758/semmle/tests/UndefinedOrImplementationDefinedBehavior.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-758/semmle/tests/UndefinedOrImplementationDefinedBehavior.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-758/semmle/tests/test.c
Owners: @github/codeql-c-analysis, @xcorail

Don't use any() as sink
  ql/src/experimental/CWE-942/CorsMisconfiguration.ql
Owners: none

First draft of sinks for unsafe deserialization with Jackson
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.ql
  java/ql/src/semmle/code/java/security/UnsafeDeserialization.qll
Owners: @github/codeql-java

Cover attacker-controlled types for deserialization with Jackson
  java/ql/src/semmle/code/java/security/UnsafeDeserialization.qll
Owners: @github/codeql-java

Added Jackson to UnsafeDeserialization.qhelp
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.qhelp
Owners: @github/codeql-java

Removed getAnAccess() calls for Jackson
  java/ql/src/semmle/code/java/security/UnsafeDeserialization.qll
Owners: @github/codeql-java

Added a change note for Jackson
  java/change-notes/2021-05-17-jackson-deserialization-sink.md
Owners: @github/codeql-java

Added comments for Jackson in UnsafeDeserialization.qll
  java/ql/src/semmle/code/java/security/UnsafeDeserialization.qll
Owners: @github/codeql-java

Better taint propagation in UnsafeTypeConfig
  java/ql/src/semmle/code/java/security/UnsafeDeserialization.qll
  java/ql/test/query-tests/security/CWE-502/JacksonTest.java
  java/ql/test/query-tests/security/CWE-502/UnsafeDeserialization.expected
Owners: @github/codeql-java

Minor improvements for Jackson in UnsafeDeserialization.qll
  java/change-notes/2021-05-17-jackson-deserialization-sink.md
  java/ql/src/semmle/code/java/security/UnsafeDeserialization.qll
Owners: @github/codeql-java

enable unicode support in the Python ReDoS query
  python/ql/src/semmle/python/RegexTreeView.qll
  python/ql/test/query-tests/Security/CWE-730/ReDoS.expected
  python/ql/test/query-tests/Security/CWE-730/redos.py
Owners: @github/codeql-python

Query to detect unsafe request dispatcher
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeRequestDispatch.java
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeRequestDispatch.qhelp
  java/ql/src/experimental/Security/CWE/CWE-552/UnsafeRequestDispatch.ql
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeRequestDispatch.expected
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeRequestDispatch.java
  java/ql/test/experimental/query-tests/security/CWE-552/UnsafeRequestDispatch.qlref
  java/ql/test/experimental/query-tests/security/CWE-552/options
Owners: @github/codeql-java, @xcorail

Single HttpOnly query
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore.qhelp
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore.ql
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseSystemWeb.qhelp
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseSystemWeb.ql
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore.qhelp
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore.ql
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb.qhelp
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb.ql
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore/CookieBuilder/HttpOnly.expected
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore/CookieBuilder/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore/NoPolicy/HttpOnly.expected
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore/NoPolicy/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore/UseCookiePolicyCallback/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseSystemWeb/HttpOnly.expected
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseSystemWeb/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore/NoPolicy/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigEmpty/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigEmpty/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigFalse/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigFalse/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/HttpCookiesTrue/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/HttpCookiesTrue/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLAspNetCore/NoPolicy/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigEmpty/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigFalse/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/FormsTrue/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/HttpCookiesTrue/Program.cs
Owners: @github/codeql-csharp, @xcorail

Single Secure query
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore.qhelp
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore.ql
  csharp/ql/src/experimental/Security Features/CWE-614/RequireSSLAspNetCore.qhelp
  csharp/ql/src/experimental/Security Features/CWE-614/RequireSSLAspNetCore.ql
  csharp/ql/src/experimental/Security Features/CWE-614/RequireSSLFalseAspNetCore.qhelp
  csharp/ql/src/experimental/Security Features/CWE-614/RequireSSLFalseAspNetCore.ql
  csharp/ql/src/experimental/Security Features/CWE-614/RequireSSLFalseSystemWeb.qhelp
  csharp/ql/src/experimental/Security Features/CWE-614/RequireSSLFalseSystemWeb.ql
  csharp/ql/src/experimental/Security Features/CWE-614/RequireSSLSystemWeb.qhelp
  csharp/ql/src/experimental/Security Features/CWE-614/RequireSSLSystemWeb.ql
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseAspNetCore/CookieBuilder/RequireSSL.expected
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseAspNetCore/CookieBuilder/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseAspNetCore/NoPolicy/RequireSSL.expected
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseAspNetCore/NoPolicy/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseAspNetCore/UseCookiePolicyCallback/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseSystemWeb/RequireSSL.expected
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseSystemWeb/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigEmpty/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigFalse/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/FormsTrue/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/HttpCookiesTrue/RequireSSL.qlref
Owners: @github/codeql-csharp, @xcorail

Remove redundant `iResponse.getAppendMethod() = mc.getTarget()`, it is already covered by higher level `exists`
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore.ql
Owners: @github/codeql-csharp, @xcorail

typo accessibe -> accessible
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore.qhelp
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseSystemWeb.qhelp
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore.qhelp
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb.qhelp
Owners: @github/codeql-csharp, @xcorail

Extract to predicate isCookieWithSensitiveName
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore.ql
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseSystemWeb.ql
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore.ql
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb.ql
  csharp/ql/src/semmle/code/csharp/dataflow/flowsources/AuthCookie.qll
Owners: @github/codeql-csharp, @xcorail

delete unused predicate
  csharp/ql/src/semmle/code/csharp/frameworks/system/Web.qll
Owners: @github/codeql-csharp

comments
  csharp/ql/src/Security Features/CWE-614/RequireSSL.ql
  csharp/ql/src/experimental/Security Features/CWE-614/CookieWithoutSecure.ql
  csharp/ql/src/semmle/code/asp/WebConfig.qll
  csharp/ql/src/semmle/code/csharp/dataflow/flowsources/AuthCookie.qll
Owners: @github/codeql-csharp, @xcorail

comments
  csharp/ql/src/experimental/Security Features/CWE-614/CookieWithoutSecure.ql
Owners: @github/codeql-csharp, @xcorail

AuthCookie.qll moved to experimental
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnly.ql
  csharp/ql/src/experimental/Security Features/CWE-614/CookieWithoutSecure.ql
  csharp/ql/src/experimental/dataflow/flowsources/AuthCookie.qll
Owners: @github/codeql-csharp, @xcorail

fix help files
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnly.qhelp
  csharp/ql/src/experimental/Security Features/CWE-614/CookieWithoutSecure.qhelp
Owners: @github/codeql-csharp, @xcorail

Autoformat
  csharp/ql/src/semmle/code/asp/WebConfig.qll
  csharp/ql/src/semmle/code/csharp/frameworks/microsoft/AspNetCore.qll
Owners: @github/codeql-csharp

Rename files
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnly.qhelp
  csharp/ql/src/experimental/Security Features/CWE-1004/CookieWithoutHttpOnly.ql
  csharp/ql/src/experimental/Security Features/CWE-614/CookieWithoutSecure.qhelp
  csharp/ql/src/experimental/Security Features/CWE-614/CookieWithoutSecure.ql
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore/CookieBuilder/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore/NoPolicy/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseAspNetCore/UseCookiePolicyCallback/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseSystemWeb/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore/NoPolicy/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore/UseCookiePolicyAlways/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore/UseCookiePolicyCallback/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlyAspNetCore/UseCookiePolicyNone/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigEmpty/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigFalse/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/HttpCookiesTrue/HttpOnly.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLAspNetCore/NoPolicy/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLAspNetCore/UseCookiePolicyAlways/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLAspNetCore/UseCookiePolicyCallback/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLAspNetCore/UseCookiePolicyNone/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseAspNetCore/CookieBuilder/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseAspNetCore/NoPolicy/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseAspNetCore/UseCookiePolicyCallback/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseSystemWeb/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigEmpty/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigFalse/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/FormsTrue/RequireSSL.qlref
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/HttpCookiesTrue/RequireSSL.qlref
Owners: @github/codeql-csharp, @xcorail

Apply changes from code review
  csharp/ql/src/experimental/dataflow/flowsources/AuthCookie.qll
Owners: @github/codeql-csharp, @xcorail

Apply changes from code review
  csharp/ql/src/experimental/dataflow/flowsources/AuthCookie.qll
  csharp/ql/src/semmle/code/csharp/frameworks/microsoft/AspNetCore.qll
Owners: @github/codeql-csharp, @xcorail

add support for the `json5` library
  javascript/change-notes/2021-06-24-json.md
  javascript/ql/src/semmle/javascript/JsonParsers.qll
  javascript/ql/src/semmle/javascript/JsonStringifiers.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/json-stringify.js
Owners: @github/codeql-javascript
