Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

C#: General code tidy.
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/CsProjFile.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/DotNetRuntimeInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/MSBuildHelper.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/NugetPackageRepository.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/NugetPackages.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Program.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/ProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/SolutionFile.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/NamespaceDeclaration.cs
  csharp/extractor/Semmle.Extraction/Extractor.cs
Owners: @Semmle/cs

Python: Fix iterable-unpacking taint CP
  python/ql/src/semmle/python/dataflow/Implementation.qll
Owners: @Semmle/python

C#: Cache a few more data flow predicates
  csharp/ql/src/semmle/code/csharp/Caching.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
Owners: @Semmle/cs

Add XPath framework models
  ql/src/semmle/go/frameworks/XPath.qll
  ql/src/semmle/go/security/XPathInjection.qll
  ql/src/semmle/go/security/XPathInjectionCustomizations.qll
  ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  ql/test/query-tests/Security/CWE-643/XPathInjection.go
  ql/test/query-tests/Security/CWE-643/XPathInjection.qlref
Owners: none

Add XPath model to default imports
  ql/src/go.qll
Owners: none

Move XPath injection query to supported query
  ql/src/Security/CWE-643/XPathInjection.go
  ql/src/Security/CWE-643/XPathInjection.qhelp
  ql/src/Security/CWE-643/XPathInjection.ql
  ql/src/experimental/Security/CWE-643/XPathInjection.ql
Owners: none

C++: Never track flow out of an argv argument
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

C#: Enable nullability in Semmle.Util
  csharp/extractor/Semmle.Util/ActionMap.cs
  csharp/extractor/Semmle.Util/CanonicalPathCache.cs
  csharp/extractor/Semmle.Util/CommandLineExtensions.cs
  csharp/extractor/Semmle.Util/DictionaryExtensions.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
  csharp/extractor/Semmle.Util/FuzzyDictionary.cs
  csharp/extractor/Semmle.Util/IEnumerableExtensions.cs
  csharp/extractor/Semmle.Util/LineCounter.cs
  csharp/extractor/Semmle.Util/Logger.cs
  csharp/extractor/Semmle.Util/LoggerUtils.cs
  csharp/extractor/Semmle.Util/ProcessStartInfoExtensions.cs
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
  csharp/extractor/Semmle.Util/SharedReference.cs
Owners: @Semmle/cs

C#: Fix tests
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/CsProjFile.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/NugetPackages.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Program.cs
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/ql/src/semmle/code/csharp/exprs/Access.qll
  csharp/ql/test/library-tests/standalone/controlflow/cfg.expected
  csharp/ql/test/library-tests/standalone/errorrecovery/ErrorCalls.expected
  csharp/ql/test/library-tests/standalone/regressions/ConstCase.expected
  csharp/ql/test/library-tests/standalone/regressions/ConstCase.ql
Owners: @Semmle/cs

new one
  java/ql/src/Frameworks/Spring/XML Configuration Errors/insecureOAuthVersion.java
  java/ql/src/Frameworks/Spring/XML Configuration Errors/insecureOAuthVersion.qhelp
  java/ql/src/Frameworks/Spring/XML Configuration Errors/insecureOAuthVersion.ql
  java/ql/src/Frameworks/Spring/XML Configuration Errors/insecureOAuthVersion.xml
Owners: @Semmle/java, @felicitymay

autoformat
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Owners: @Semmle/js

Add a model for Read methods on io.Reader
  ql/src/semmle/go/frameworks/Stdlib.qll
Owners: none

xml file changed
  java/ql/src/Frameworks/Spring/XML Configuration Errors/insecureOAuthVersion.xml
Owners: @Semmle/java

autoformat
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
Owners: @Semmle/js

add test case for XSS on url suffix
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
Owners: @Semmle/js

Python: Fix iterable-unpacking tests
  python/ql/test/3/library-tests/taint/unpacking/TestTaint.expected
  python/ql/test/library-tests/taint/collections/TestStep.expected
  python/ql/test/library-tests/taint/collections/TestTaint.expected
  python/ql/test/library-tests/taint/namedtuple/TestTaint.expected
  python/ql/test/library-tests/taint/unpacking/TestStep.expected
  python/ql/test/library-tests/taint/unpacking/TestTaint.expected
Owners: @Semmle/python

Data flow: No magic in parameterThroughFlowCand
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
Owners: @Semmle/cpp-analysis

C++/C#/Java: Sync identical files
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Address review comments
  ql/src/semmle/go/security/OpenUrlRedirectCustomizations.qll
Owners: none

Address review comments
  ql/src/semmle/go/frameworks/Stdlib.qll
Owners: none

Add a test for the Read taint step
  ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.expected
  ql/test/library-tests/semmle/go/frameworks/TaintSteps/main.go
Owners: none

unique aggregate in handbook and reference
  docs/language/ql-handbook/expressions.rst
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

mention set literals in handbook
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

whitespace fix
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

C#: Use `unique` aggregate in `ExprOrStmtParent::getChild[Expr|Stmt]`
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
Owners: @Semmle/cs

C++: Only allow flow through non-conflated chi instructions
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.expected
Owners: @Semmle/cpp-analysis

Apply suggestions from code review
  ql/src/semmle/go/frameworks/XPath.qll
Owners: none

Update docs/language/ql-handbook/expressions.rst
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

better wording for type compatibilit
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

docs: tidy up 'codeql for x' pages
  docs/language/learn-ql/cpp/dataflow.rst
  docs/language/learn-ql/cpp/ql-for-cpp.rst
  docs/language/learn-ql/csharp/introduce-libraries-csharp.rst
  docs/language/learn-ql/csharp/ql-for-csharp.rst
  docs/language/learn-ql/go/ql-for-go.rst
  docs/language/learn-ql/java/ql-for-java.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
  docs/language/learn-ql/javascript/ql-for-javascript.rst
  docs/language/learn-ql/javascript/type-tracking.rst
  docs/language/learn-ql/python/ql-for-python.rst
Owners: @shati-patel, @jf205

docs: 'What's new' -> 'Further reading'
  docs/language/learn-ql/beginner/ql-tutorials.rst
  docs/language/learn-ql/cobol/introduce-libraries-cobol.rst
  docs/language/learn-ql/cpp/conversions-classes.rst
  docs/language/learn-ql/cpp/dataflow.rst
  docs/language/learn-ql/cpp/expressions-types.rst
  docs/language/learn-ql/cpp/function-classes.rst
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
  docs/language/learn-ql/cpp/private-field-initialization.rst
  docs/language/learn-ql/cpp/zero-space-terminator.rst
  docs/language/learn-ql/csharp/dataflow.rst
  docs/language/learn-ql/java/dataflow.rst
  docs/language/learn-ql/javascript/dataflow.rst
  docs/language/learn-ql/javascript/type-tracking.rst
  docs/language/learn-ql/writing-queries/query-metadata.rst
  docs/language/learn-ql/writing-queries/writing-queries.rst
Owners: @shati-patel, @jf205

docs: small change to codeql training landing page
  docs/language/learn-ql/ql-training.rst
Owners: @shati-patel, @jf205

docs: simplify 'learning codeql' landing page
  docs/language/learn-ql/index.rst
Owners: @shati-patel, @jf205

better wording for the unique aggregate
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

unique in aggregate section
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

Update docs/language/ql-handbook/expressions.rst
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

autoformat
  javascript/ql/test/library-tests/CustomLoadStoreSteps/test.ql
Owners: @Semmle/js

Move CWE-036 directory to experimental
  java/ql/src/experimental/Security/CWE/CWE-036/OpenStream.java
  java/ql/src/experimental/Security/CWE/CWE-036/OpenStream.qhelp
  java/ql/src/experimental/Security/CWE/CWE-036/OpenStream.ql
Owners: @Semmle/java, @felicitymay

Don't match unexported functions
  ql/src/semmle/go/frameworks/XPath.qll
Owners: none

Apply style suggestions
  ql/src/Security/CWE-643/XPathInjection.qhelp
Owners: none
