Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

TS: Fix handling of erroneous rest pattern with default
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/extractor/tests/ts/input/restPatternWithDefault.ts
  javascript/extractor/tests/ts/output/trap/restPatternWithDefault.ts.trap
Owners: @Semmle/js

[CPP-387] Begin pretty-printing code examples.
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: @felicity-semmle, @jf205

C++: Accept a false negative in OverrunWrite.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/OverrunWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/unions.c
Owners: @Semmle/cpp-analysis

Java/C++/C#: Improve data flow join orders for field flow
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

JavaScript: Raise precision of `UndocumentedParameter` to `high`.
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/JSDoc/UndocumentedParameter.ql
Owners: @Semmle/js

TS: Review
  javascript/extractor/lib/typescript/README.md
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Owners: @Semmle/js

Revert "Python tests: TEMPORARILY remove 5 tests to allow modification of extractor CFG pass"
  python/ql/test/library-tests/ControlFlow/splitting/SuccessorCount.expected
  python/ql/test/library-tests/ControlFlow/splitting/SuccessorCount.ql
  python/ql/test/library-tests/ControlFlow/truefalse/ExceptionalSuccessors.expected
  python/ql/test/library-tests/ControlFlow/truefalse/ExceptionalSuccessors.ql
  python/ql/test/library-tests/ControlFlow/truefalse/TrueFalseSuccessors.expected
  python/ql/test/library-tests/ControlFlow/truefalse/TrueFalseSuccessors.ql
  python/ql/test/library-tests/PointsTo/new/Dataflow.expected
  python/ql/test/library-tests/PointsTo/new/Dataflow.ql
  python/ql/test/query-tests/Resources/Dataflow.expected
  python/ql/test/query-tests/Resources/Dataflow.ql
Owners: none

TS: Allow changing the port
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Owners: @Semmle/js

Python ESSA: Move all Essa code to semmle.python.essa folder.
  python/ql/src/Resources/FileOpen.qll
  python/ql/src/analysis/CrossProjectDefinitions.qll
  python/ql/src/analysis/DefinitionTracking.qll
  python/ql/src/python.qll
  python/ql/src/semmle/dataflow/SSA.qll
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/essa/SsaCompute.qll
  python/ql/src/semmle/python/essa/SsaDefinitions.qll
  python/ql/src/semmle/python/pointsto/Base.qll
  python/ql/src/semmle/python/pointsto/Filters.qll
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/test/library-tests/PointsTo/new/Live.ql
  python/ql/test/library-tests/PointsTo/new/SourceEdgeDefinitions.ql
  python/ql/test/library-tests/PointsTo/new/SourceNodeDefinitions.ql
  python/ql/test/library-tests/PointsTo/new/SsaUses.ql
  python/ql/test/library-tests/PointsTo/new/VarUses.ql
Owners: none

Python ESSA: Move definition sub-classes from points-to folder to essa folder.
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/pointsto/Base.qll
Owners: none

Python ESSA: Remove unnecessary intermediate class.
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/test/library-tests/PointsTo/new/Sanity.ql
Owners: none

Python ESSA: Move variable definitions into new file and unify 'generic' and 'python specific' parts.
  python/ql/src/semmle/python/essa/Definitions.qll
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/essa/SsaDefinitions.qll
Owners: none

Java: Don't use the deprecated Configuration2
  java/ql/src/Security/CWE/CWE-079/XSS.ql
  java/ql/src/Security/CWE/CWE-079/XSSLocal.ql
  java/ql/src/Security/CWE/CWE-209/StackTraceExposure.ql
  java/ql/src/Security/CWE/CWE-611/XXE.ql
Owners: @Semmle/java

Java: Use pyrameterized modules for TaintTracking
  config/identical-files.json
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/src/semmle/code/java/dataflow/TaintTracking2.qll
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingParameter.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingParameter.qll
Owners: @Semmle/java

C++: Fix mismatch between taint and dataflow copy
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingParameter.qll
Owners: @Semmle/cpp-analysis

C++: Use pyrameterized modules for TaintTracking
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/dataflow/TaintTracking2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingParameter.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingParameter.qll
  cpp/ql/test/library-tests/dataflow/recursion/chained_use.ql
Owners: @Semmle/cpp-analysis

C++: Proper fix for TaintTracking2 parameter
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingParameter.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingParameter.qll
Owners: @Semmle/cpp-analysis

C#: Use pyrameterized modules for TaintTracking
  config/identical-files.json
  csharp/ql/src/semmle/code/csharp/dataflow/TaintTracking.qll
  csharp/ql/src/semmle/code/csharp/dataflow/TaintTracking2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/TaintTracking3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/TaintTracking4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/TaintTracking5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingPublic.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingUtil.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingParameter.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingParameter.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingParameter.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingParameter.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingParameter.qll
  csharp/ql/test/library-tests/cil/dataflow/TaintTracking.ql
Owners: @Semmle/cs

Java: Remove wrong definition of taint tracking
  java/ql/src/semmle/code/java/dataflow/TaintTracking.qll
  java/ql/src/semmle/code/java/dataflow/TaintTracking2.qll
Owners: @Semmle/java

C++/Java: Change notes for Configuration2 rename
  change-notes/1.22/analysis-cpp.md
  change-notes/1.22/analysis-java.md
Owners: none

C#: Get rid of `TaintTrackingUtil.qll`
  csharp/ql/src/semmle/code/csharp/dataflow/internal/TaintTrackingUtil.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingParameter.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingParameter.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingParameter.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingParameter.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingParameter.qll
Owners: @Semmle/cs

Java/C++/C#: Remove some `unbind()` calls from shared data flow implementation
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C#: Disable field flow for `cs/inappropriate-encoding`
  csharp/ql/src/Security Features/CWE-838/InappropriateEncoding.ql
Owners: @Semmle/cs

Python ESSA: Create classes for ESSA definitions and refinements to keep computation of definitions and refinements in one place.
  python/ql/src/semmle/python/essa/Definitions.qll
  python/ql/src/semmle/python/essa/SsaDefinitions.qll
Owners: none

Java/C++/C#: `flowCandFwdRead()` refactor
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C++: Don't use definitionByReference for data flow
  change-notes/1.22/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Owners: @Semmle/cpp-analysis

C++: Change def-by-ref to define the var access
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Owners: @Semmle/cpp-analysis

Python: Prevent bad magic during pruning.
  python/ql/src/semmle/python/Pruning.qll
Owners: none

C++: Data flow through & and *
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Owners: @Semmle/cpp-analysis

CPP: Add a reverse-link for consistency between Field and MemberVariable.
  cpp/ql/src/semmle/code/cpp/Field.qll
Owners: @Semmle/cpp-analysis

[CPP-387] Finished multi-line syntax examples. Awaiting feedback.
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: @felicity-semmle, @jf205

C++/C#/Java: Split localFlowStep predicate in two
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C#/Java: Remove `cached` from wrapper predicate
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cs, @Semmle/java

Revert "C#: Generalize CFG entry/exit nodes to include field/property initializers"
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/src/semmle/code/csharp/Enclosing.qll
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Owners: @Semmle/cs

C#: Refactor how simpleLocalFlowStep is called
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
Owners: @Semmle/cs

C++/C#/Java: Change another caller of localFlow
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C++: No taint between field and struct
  cpp/ql/src/semmle/code/cpp/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
Owners: @Semmle/cpp-analysis

JS: Hyphenate type-tracking when used as adjective
  docs/language/learn-ql/javascript/type-tracking.rst
Owners: @felicity-semmle, @jf205

JS: Address comments
  docs/language/learn-ql/javascript/type-tracking.rst
Owners: @felicity-semmle, @jf205

C/C#/Java: Share ConfigurationRecursionPrevention
  cpp/ql/src/semmle/code/cpp/dataflow/DataFlow2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/DataFlow3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/DataFlow4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/DataFlow5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/DataFlow.qll
  java/ql/src/semmle/code/java/dataflow/DataFlow2.qll
  java/ql/src/semmle/code/java/dataflow/DataFlow3.qll
  java/ql/src/semmle/code/java/dataflow/DataFlow4.qll
  java/ql/src/semmle/code/java/dataflow/DataFlow5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205
