Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205

C++: Fixes from Geoffrey's review round 2
  cpp/ql/src/jsf/4.10 Classes/AV Rule 85.ql
  cpp/ql/src/jsf/4.10 Classes/AV Rule 88.ql
  cpp/ql/src/jsf/4.13 Functions/AV Rule 114.ql
  cpp/ql/src/semmle/code/cpp/Compilation.qll
  cpp/ql/src/semmle/code/cpp/Print.qll
  cpp/ql/src/semmle/code/cpp/PrintAST.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/commons/Assertions.qll
  cpp/ql/src/semmle/code/cpp/commons/Dependency.qll
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/controlflow/DefinitionsAndUses.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Guards.qll
  cpp/ql/src/semmle/code/cpp/controlflow/IRGuards.qll
  cpp/ql/src/semmle/code/cpp/controlflow/SSAUtils.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTracking.qll
Owners: @Semmle/cpp-analysis

C++: Fix autoformat of //-comments after +
  cpp/ql/src/semmle/code/cpp/metrics/MetricClass.qll
  cpp/ql/src/semmle/code/cpp/metrics/MetricFile.qll
  cpp/ql/src/semmle/code/cpp/metrics/MetricFunction.qll
Owners: @Semmle/cpp-analysis

C++: Tidy up long comments that attach to items
  cpp/ql/src/semmle/code/cpp/controlflow/Dominance.qll
  cpp/ql/src/semmle/code/cpp/padding/SanityCheck.ql
  cpp/ql/src/semmle/code/cpp/pointsto/PointsTo.qll
  cpp/ql/src/semmle/code/cpp/valuenumbering/GlobalValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/valuenumbering/HashCons.qll
Owners: @Semmle/cpp-analysis

C++: Fixes from Geoffrey's review round 4
  cpp/ql/src/semmle/code/cpp/security/BufferAccess.qll
  cpp/ql/src/semmle/code/cpp/security/BufferWrite.qll
Owners: @Semmle/cpp-analysis

JS: Use ValueNode, not SSA node, to model NamedImportSpecifier
  javascript/ql/src/semmle/javascript/DefUse.qll
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/test/library-tests/DataFlow/flowStep.expected
Owners: @Semmle/js

JS: Add explicit type tracking test
  javascript/ql/test/library-tests/TypeTracking/ClassStyle.expected
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
  javascript/ql/test/library-tests/TypeTracking/client.js
  javascript/ql/test/library-tests/TypeTracking/tst.js
Owners: @Semmle/js

JS: regression test for DeadStoreOfLocal
  javascript/ql/test/query-tests/Declarations/DeadStoreOfLocal/DeadStoreOfLocal.expected
  javascript/ql/test/query-tests/Declarations/DeadStoreOfLocal/computedInterfaceProperty.ts
  javascript/ql/test/query-tests/Declarations/DeadStoreOfLocal/exportSymbol.ts
Owners: @Semmle/js

JS: Fixes in DeadStoreOfLocal
  javascript/ql/src/Declarations/DeadStoreOfLocal.ql
  javascript/ql/test/query-tests/Declarations/DeadStoreOfLocal/DeadStoreOfLocal.expected
Owners: @Semmle/js

JS: Use ValueNode for all ImportSpecifiers
  javascript/ql/src/semmle/javascript/ES2015Modules.qll
  javascript/ql/src/semmle/javascript/dataflow/Sources.qll
  javascript/ql/test/library-tests/ModuleImportNodes/TSGlobalImport.expected
  javascript/ql/test/library-tests/ModuleImportNodes/tests.expected
Owners: @Semmle/js

JS: Update tests
  javascript/ql/test/library-tests/DefUse/VarDefSource.expected
  javascript/ql/test/library-tests/frameworks/ReactJS/tests.expected
Owners: @Semmle/js

docs: fix broken links in js topics
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
Owners: @felicity-semmle, @jf205

docs: update readme
  docs/language/README.rst
Owners: @felicity-semmle, @jf205

add model for passport.use in the Express model
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/test/library-tests/frameworks/Express/src/passport.js
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
Owners: @Semmle/js

Better retrieval for the `GetEnumerator` call
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Foreach.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
Owners: @Semmle/cs

C#: Address review comments
  csharp/ql/src/semmle/code/csharp/controlflow/Guards.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/Linq.qll
  csharp/ql/src/semmle/code/csharp/frameworks/system/collections/Generic.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/LoopUnrolling.cs
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/guards/AbstractValue.expected
  csharp/ql/test/library-tests/controlflow/guards/Collections.cs
  csharp/ql/test/library-tests/controlflow/guards/Collections.expected
  csharp/ql/test/library-tests/controlflow/guards/Implications.expected
Owners: @Semmle/cs

JS: Add change note
  change-notes/1.23/analysis-javascript.md
Owners: none

fix comment in passport test
  javascript/ql/test/library-tests/frameworks/Express/src/passport.js
Owners: @Semmle/js

updated expected values for the Express test
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
Owners: @Semmle/js

made the two Passport classes in the Express model private
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
Owners: @Semmle/js

JS: Use type tracking in mongodb/mongoose model
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/mongooseModel.js
  javascript/ql/test/query-tests/Security/CWE-089/mongooseModelClient.js
Owners: @Semmle/js

JS: Move typed test into separate test
  javascript/ql/test/query-tests/Security/CWE-089/tsconfig.json
  javascript/ql/test/query-tests/Security/CWE-089/typed/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/typed/SqlInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-089/typed/shim.d.ts
  javascript/ql/test/query-tests/Security/CWE-089/typed/tsconfig.json
  javascript/ql/test/query-tests/Security/CWE-089/typed/typedClient.ts
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.qlref
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongodb.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongodb_bodySafe.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongooseJsonParse.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongooseModel.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongooseModelClient.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/node-postgres-LICENSE
  javascript/ql/test/query-tests/Security/CWE-089/untyped/node-sqlite3-LICENSE
  javascript/ql/test/query-tests/Security/CWE-089/untyped/socketio.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/tst.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/tst2.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/tst3.js
  javascript/ql/test/query-tests/Security/CWE-089/untyped/tst4.js
Owners: @Semmle/js

JS: Use type info in mongodb/mongoose model
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/shim.d.ts
  javascript/ql/test/query-tests/Security/CWE-089/tsconfig.json
  javascript/ql/test/query-tests/Security/CWE-089/typedClient.ts
Owners: @Semmle/js

JS: Change note
  change-notes/1.23/analysis-javascript.md
Owners: none

QL HB: Fix typo [SD-3862]
  docs/language/ql-handbook/types.rst
Owners: @felicity-semmle, @jf205

QL HB: Expand bindingset example [SD-3863]
  docs/language/ql-handbook/predicates.rst
Owners: @felicity-semmle, @jf205

QL HB: Explain use of cast [SD-3865]
  docs/language/ql-handbook/types.rst
Owners: @felicity-semmle, @jf205

QL HB: Add predicate call example [SD-3864]
  docs/language/ql-handbook/queries.rst
Owners: @felicity-semmle, @jf205

[CPP-418] Initial modifications to Type.qll. To be continued.
  cpp/ql/src/semmle/code/cpp/Type.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Add descriptions for QL classes in Type.qll. (Still need to figure out how to describe unknown and erroneous types.)
  cpp/ql/src/semmle/code/cpp/Type.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Add QLDoc entries for typedef types, user types, bitwise operations and built-in operations.
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/TypedefType.qll
  cpp/ql/src/semmle/code/cpp/UserType.qll
  cpp/ql/src/semmle/code/cpp/exprs/BitwiseOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Logical and comparison operators; reformat built-ins.
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/ComparisonOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Address @geoffw0's review comments.
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Add concrete syntax for arithmetic operation, EXCEPT for assorted complex number operations, where surface syntax could not be determined.
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Tweak vector initializer syntax.
  cpp/ql/src/semmle/code/cpp/Type.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Some more complex numbers, vectors.
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Some assignments and call expressions. Some could not be divined.
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
Owners: @Semmle/cpp-analysis

[CPP-418] Merge detritus.
  cpp/ql/src/semmle/code/cpp/Type.qll
Owners: @Semmle/cpp-analysis

C#: Update expected test output
  csharp/ql/test/query-tests/Nullness/Implications.expected
Owners: @Semmle/cs

C++: Fix up IR data flow QLDoc
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DataFlow4.qll
Owners: @Semmle/cpp-analysis

C++: Shared TaintTrackingImpl for IR TaintTracking
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/ir/dataflow/TaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/TaintTracking2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingParameter.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingParameter.qll
Owners: @Semmle/cpp-analysis
