Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac

Java/C++/C#: Sync dataflow.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Python: Assorted improvements to API.
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/objects/Constants.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: none

Python: Add redimentary tests for new Value API.
  python/ql/test/library-tests/PointsTo/api/ClassValue.expected
  python/ql/test/library-tests/PointsTo/api/ClassValue.ql
  python/ql/test/library-tests/PointsTo/api/Value.expected
  python/ql/test/library-tests/PointsTo/api/Value.ql
Owners: none

Python: Update all remaining taint-tracking queries to use configurations.
  python/ql/src/Security/CWE-022/PathInjection.ql
  python/ql/src/Security/CWE-078/CommandInjection.ql
  python/ql/src/Security/CWE-209/StackTraceExposure.ql
  python/ql/src/Security/CWE-327/BrokenCryptoAlgorithm.ql
  python/ql/src/Security/CWE-601/UrlRedirect.ql
  python/ql/src/Security/CWE-798/HardcodedCredentials.ql
  python/ql/src/semmle/python/security/injection/Path.qll
  python/ql/src/semmle/python/web/Http.qll
  python/ql/src/semmle/python/web/django/Redirect.qll
  python/ql/src/semmle/python/web/flask/Redirect.qll
  python/ql/src/semmle/python/web/pyramid/Redirect.qll
  python/ql/src/semmle/python/web/tornado/Redirect.qll
Owners: none

Use js/examples instead of js/cookbook in @id
  javascript/ql/examples/queries/dataflow/BackendIdor/BackendIdor.ql
  javascript/ql/examples/queries/dataflow/DecodingAfterSanitization/DecodingAfterSanitization.ql
  javascript/ql/examples/queries/dataflow/DecodingAfterSanitization/DecodingAfterSanitizationGeneralized.ql
  javascript/ql/examples/queries/dataflow/EvalTaint/EvalTaint.ql
  javascript/ql/examples/queries/dataflow/EvalTaint/EvalTaintPath.ql
  javascript/ql/examples/queries/dataflow/InformationDisclosure/InformationDisclosure.ql
  javascript/ql/examples/queries/dataflow/StoredXss/StoredXss.ql
  javascript/ql/examples/queries/dataflow/StoredXss/StoredXssTrackedNode.ql
  javascript/ql/examples/queries/dataflow/TemplateInjection/TemplateInjection.ql
Owners: @Semmle/js

Update javascript example queries
  javascript/ql/examples/queries/dataflow/BackendIdor/BackendIdor.ql
  javascript/ql/examples/queries/dataflow/DecodingAfterSanitization/DecodingAfterSanitization.ql
  javascript/ql/examples/queries/dataflow/DecodingAfterSanitization/DecodingAfterSanitizationGeneralized.ql
  javascript/ql/examples/queries/dataflow/EvalTaint/EvalTaint.ql
  javascript/ql/examples/queries/dataflow/EvalTaint/EvalTaintPath.ql
  javascript/ql/examples/queries/dataflow/InformationDisclosure/InformationDisclosure.ql
  javascript/ql/examples/queries/dataflow/StoredXss/StoredXss.ql
  javascript/ql/examples/queries/dataflow/StoredXss/StoredXssTrackedNode.ql
  javascript/ql/examples/queries/dataflow/TemplateInjection/TemplateInjection.ql
Owners: @Semmle/js

C++: Follow changes to how lambdas are extracted
  cpp/ql/src/semmle/code/cpp/exprs/Lambda.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis

C++: Add an upgrade script
  cpp/upgrades/814fae599505510ff15102f4c72600586734770a/lambda_capture.ql
  cpp/upgrades/814fae599505510ff15102f4c72600586734770a/old.dbscheme
  cpp/upgrades/814fae599505510ff15102f4c72600586734770a/semmlecode.cpp.dbscheme
  cpp/upgrades/814fae599505510ff15102f4c72600586734770a/upgrade.properties
Owners: @Semmle/cpp-analysis

C++: Update stats following lambda change
  cpp/ql/src/semmlecode.cpp.dbscheme.stats
Owners: @Semmle/cpp-analysis

C++: Update lambda test output
  cpp/ql/test/library-tests/lambdas/captures/captures.expected
Owners: @Semmle/cpp-analysis

C#: Refactor `CertificateValidationDisabled.ql`
  csharp/ql/src/Security Features/CWE-295/CertificateValidationDisabled.ql
  csharp/ql/src/Security Features/CWE-327/DecryptWithoutHash.ql
  csharp/ql/test/query-tests/Security Features/CWE-295/CertificateValidationDisabled/CertificateValidationDisabled.cs
  csharp/ql/test/query-tests/Security Features/CWE-295/CertificateValidationDisabled/CertificateValidationDisabled.expected
  csharp/ql/test/query-tests/Security Features/CWE-327/DecryptWithoutHash/DecryptWithoutHash.expected
  csharp/ql/test/query-tests/Security Features/CWE-327/DecryptWithoutHash/DecryptWithoutHash.qlref
  csharp/ql/test/query-tests/Security Features/CWE-327/DecryptWithoutHash/Test.cs
Owners: @Semmle/cs

docs: update read-me-project and change format
  docs/ql-documentation/support/read-me-project.rst
  docs/ql-documentation/support/read-me-project.txt
Owners: none

JavaScript: Add configuration-file snippet to dbscheme.
  javascript/ql/src/semmlecode.javascript.dbscheme.stats
  javascript/upgrades/4e26462d907d2cfb7ec8a08f8ccdf40732038ef8/old.dbscheme
  javascript/upgrades/4e26462d907d2cfb7ec8a08f8ccdf40732038ef8/semmlecode.javascript.dbscheme
  javascript/upgrades/4e26462d907d2cfb7ec8a08f8ccdf40732038ef8/upgrade.properties
Owners: @Semmle/js

JavaScript: Add concrete syntax examples to `JSDoc`, `RegExp`, `Tokens`, `Variables` and `XML`.
  javascript/ql/src/semmle/javascript/JSDoc.qll
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/src/semmle/javascript/Tokens.qll
  javascript/ql/src/semmle/javascript/Variables.qll
  javascript/ql/src/semmle/javascript/XML.qll
Owners: @Semmle/js

JavaScript: Remove extra backslashes in `MissingRegExpAnchor.qhelp`.
  javascript/ql/src/Security/CWE-020/MissingRegExpAnchor.qhelp
Owners: @Semmle/js

JS: Add taint-tracking test for logical operators
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/logical-operator.js
Owners: @Semmle/js

Python: Extends new Value API a bit to support callable subclasses and sequences.
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: none

JS: Remove `x -> x&&y` from local flow steps
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/BasicExprTypeInference.qll
  javascript/ql/test/library-tests/DataFlow/flowStep.expected
  javascript/ql/test/library-tests/DataFlow/getALocalSource.expected
  javascript/ql/test/library-tests/DataFlow/getALocalSource.ql
  javascript/ql/test/library-tests/DataFlow/getIntValue.expected
  javascript/ql/test/library-tests/DataFlow/tst.js
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
Owners: @Semmle/js

C#: Add more tests for `cs/unchecked-return-value`
  csharp/ql/test/query-tests/API Abuse/UncheckedReturnValue/UncheckedReturnValue.cs
  csharp/ql/test/query-tests/API Abuse/UncheckedReturnValue/UncheckedReturnValue.expected
Owners: @Semmle/cs

Change `__builtin_types` to `__builtin_types_compatible_p`
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
Owners: @Semmle/cpp-analysis

Add test case.
  cpp/ql/test/library-tests/builtins/builtins/builtins.expected
  cpp/ql/test/library-tests/builtins/builtins/types.c
Owners: @Semmle/cpp-analysis

C#: Fix false positives in `cs/unchecked-return-value`
  change-notes/1.22/analysis-csharp.md
  csharp/ql/src/API Abuse/UncheckedReturnValue.ql
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/test/query-tests/API Abuse/UncheckedReturnValue/UncheckedReturnValue.expected
Owners: @Semmle/cs

Point the old BuiltInOperationBuiltInTypes at our new BuiltInOperationBuiltInTypesCompatibleP, for backward compatibility.
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
Owners: @Semmle/cpp-analysis

JavaScript: Fix semantic merge conflict.
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
Owners: @Semmle/js

C++: Add stats for 'constexpr if'
  cpp/ql/src/semmlecode.cpp.dbscheme.stats
Owners: @Semmle/cpp-analysis

C++: Add CFG test for constexpr_if
  cpp/ql/test/library-tests/constexpr_if/cfg.expected
  cpp/ql/test/library-tests/constexpr_if/cfg.ql
Owners: @Semmle/cpp-analysis

C++: Add a test for constexpr if
  cpp/ql/test/library-tests/constexpr_if/stmts.expected
  cpp/ql/test/library-tests/constexpr_if/stmts.ql
  cpp/ql/test/library-tests/constexpr_if/test.cpp
Owners: @Semmle/cpp-analysis

C++: Add an upgrade script
  cpp/upgrades/950219747b684ffdd229775acfcc5267eea3dc4f/old.dbscheme
  cpp/upgrades/950219747b684ffdd229775acfcc5267eea3dc4f/semmlecode.cpp.dbscheme
  cpp/upgrades/950219747b684ffdd229775acfcc5267eea3dc4f/upgrade.properties
Owners: @Semmle/cpp-analysis

C++: Add support for constexpr if
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis

Update learning QL topics for issues found by Vale
  docs/ql-documentation/learn-ql/advanced/abstract-classes.rst
  docs/ql-documentation/learn-ql/advanced/folding-predicates.rst
  docs/ql-documentation/learn-ql/advanced/monotonic-aggregates.rst
  docs/ql-documentation/learn-ql/beginner/find-thief-1.rst
  docs/ql-documentation/learn-ql/beginner/find-thief-2.rst
  docs/ql-documentation/learn-ql/beginner/fire-1.rst
  docs/ql-documentation/learn-ql/beginner/heir.rst
  docs/ql-documentation/learn-ql/cpp/dataflow.rst
  docs/ql-documentation/learn-ql/cpp/expressions-types.rst
  docs/ql-documentation/learn-ql/cpp/introduce-libraries-cpp.rst
  docs/ql-documentation/learn-ql/cpp/private-field-initialization.rst
  docs/ql-documentation/learn-ql/cpp/zero-space-terminator.rst
  docs/ql-documentation/learn-ql/csharp/dataflow.rst
  docs/ql-documentation/learn-ql/csharp/introduce-libraries-csharp.rst
  docs/ql-documentation/learn-ql/intro-to-data-flow.rst
  docs/ql-documentation/learn-ql/introduction-to-ql.rst
  docs/ql-documentation/learn-ql/java/annotations.rst
  docs/ql-documentation/learn-ql/java/ast-class-reference.rst
  docs/ql-documentation/learn-ql/java/dataflow.rst
  docs/ql-documentation/learn-ql/java/introduce-libraries-java.rst
  docs/ql-documentation/learn-ql/java/source-locations.rst
  docs/ql-documentation/learn-ql/java/types-class-hierarchy.rst
  docs/ql-documentation/learn-ql/javascript/ast-class-reference.rst
  docs/ql-documentation/learn-ql/javascript/dataflow.rst
  docs/ql-documentation/learn-ql/javascript/introduce-libraries-js.rst
  docs/ql-documentation/learn-ql/locations.rst
  docs/ql-documentation/learn-ql/python/control-flow.rst
  docs/ql-documentation/learn-ql/python/functions.rst
  docs/ql-documentation/learn-ql/python/introduce-libraries-python.rst
  docs/ql-documentation/learn-ql/python/pointsto-type-infer.rst
  docs/ql-documentation/learn-ql/python/statements-expressions.rst
  docs/ql-documentation/learn-ql/python/taint-tracking.rst
  docs/ql-documentation/learn-ql/snapshot.rst
  docs/ql-documentation/learn-ql/writing-queries/path-queries.rst
  docs/ql-documentation/learn-ql/writing-queries/writing-queries.rst
Owners: none

Update whitelist for Headings and Spelling rules
  docs/ql-documentation/vale-styles/Semmle/Headings.yml
  docs/ql-documentation/vale-styles/Semmle/ignore.txt
Owners: none

JavaScript: Add tutorial on flow labels.
  docs/ql-documentation/learn-ql/javascript/dataflow.rst
  docs/ql-documentation/learn-ql/javascript/flow-labels.rst
  docs/ql-documentation/learn-ql/javascript/ql-for-javascript.rst
Owners: none

JavaScript: Deprecate multi-argument `isBarrier` and `isSanitizer` predicates.
  change-notes/1.22/analysis-javascript.md
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Owners: @Semmle/js

Update QL handbook issues highlighted by Vale
  docs/ql-documentation/ql-handbook/annotations.rst
  docs/ql-documentation/ql-handbook/expressions.rst
  docs/ql-documentation/ql-handbook/formulas.rst
  docs/ql-documentation/ql-handbook/modules.rst
  docs/ql-documentation/ql-handbook/name-resolution.rst
  docs/ql-documentation/ql-handbook/queries.rst
  docs/ql-documentation/ql-handbook/recursion.rst
  docs/ql-documentation/ql-handbook/types.rst
Owners: none

Update the Spelling whitelist
  docs/ql-documentation/vale-styles/Semmle/ignore.txt
Owners: none

JS: Do not treat the empty string as a credential
  javascript/ql/src/semmle/javascript/security/dataflow/HardcodedCredentialsCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.js
Owners: @Semmle/js

JS: Rephrase dead store of local at declaration site
  javascript/ql/src/Declarations/DeadStoreOfLocal.ql
  javascript/ql/test/query-tests/Declarations/DeadStoreOfLocal/DeadStoreOfLocal.expected
Owners: @Semmle/js

JS: Add data flow cheat sheet
  docs/ql-documentation/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/ql-documentation/learn-ql/javascript/ql-for-javascript.rst
Owners: none

Update cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
Owners: @Semmle/cpp-analysis

[CPP-387] Create a new PR against new location of introduce-libraries-cpp.rst.
  docs/ql-documentation/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: none

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
