Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205

C++/C#/Java: Restore the AccessPathCons class
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Java: Accept test changes
  java/ql/test/library-tests/dataflow/fields/B.java
  java/ql/test/library-tests/dataflow/fields/flow.expected
  java/ql/test/library-tests/dataflow/partial/test.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTaintedLocal.expected
Owners: @Semmle/java

C++: Accept test changes
  cpp/ql/test/library-tests/dataflow/fields/B.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

C#: Accept test results
  csharp/ql/test/library-tests/dataflow/fields/B.cs
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
Owners: @Semmle/cs

C#/C++/Java: Prettier AccessPath.toString
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/query-tests/Likely Bugs/Conversion/CastArrayPointerArithmetic/CastArrayPointerArithmetic.expected
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C#/C++/Java: Make AccessPath abstract
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

CPP: Replace query paths with @name and @id.
  cpp/ql/src/Likely Bugs/JapaneseEra/ConstructorOrMethodWithExactEraDate.ql
  cpp/ql/src/Likely Bugs/JapaneseEra/StructWithExactEraDate.ql
  cpp/ql/src/Likely Bugs/Memory Management/PotentialBufferOverflow.ql
  cpp/ql/src/Likely Bugs/OO/NonVirtualDestructor.ql
Owners: @Semmle/cpp-analysis

C#/C++/Java: Unbreak partial data flow support
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/test/library-tests/dataflow/partial/test.expected
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

TS: Fix skewed arrays due to recursive call
  javascript/extractor/lib/typescript/src/type_table.ts
Owners: @Semmle/js

C#/C++/Java: Prettier PartialAccessPath.toString
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/test/library-tests/dataflow/partial/test.expected
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C#/C++/Java: distinguish toString of nil from cons
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/test/library-tests/dataflow/partial/test.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTaintedLocal.expected
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

JS: Include base types in TypeName
  javascript/ql/src/semmle/javascript/CanonicalNames.qll
Owners: @Semmle/js

JS: Add test
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/BaseTypes.expected
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/BaseTypes.ql
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/node_modules/@types/mylib/index.d.ts
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/options
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/ExternalBaseTypes/tst.ts
Owners: @Semmle/js

C#/C++/Java: Revert AccessPathNil.toString changes
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ArithmeticTaintedLocal.expected
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C++: Update taint-tests for changed lambda support
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Owners: @Semmle/cpp-analysis

JS: Avoid breaking local object analysis
  javascript/ql/src/semmle/javascript/dataflow/internal/VariableTypeInference.qll
  javascript/ql/test/library-tests/CallGraphs/FullTest/tests.expected
Owners: @Semmle/js

JS: Make getALocalValue overriders include super
  javascript/ql/src/semmle/javascript/dataflow/internal/VariableTypeInference.qll
Owners: @Semmle/js

JS: Make type inference flow go through ssa definition node
  javascript/ql/src/semmle/javascript/dataflow/internal/VariableTypeInference.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
Owners: @Semmle/js

C++: Support nested field flow
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/fields/complex.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

C#: Add change note
  change-notes/1.23/analysis-csharp.md
Owners: none

CPP: Add QLDoc to the PartialDefinitions class.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Owners: @Semmle/cpp-analysis

CPP: Add a test of PartialDefinitions.
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.cpp
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.expected
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.ql
Owners: @Semmle/cpp-analysis

CPP: Effect of 'Support nested field flow'.
  cpp/ql/test/library-tests/dataflow/partialdefinitions/partialdefinitions.expected
Owners: @Semmle/cpp-analysis

C++: Don't use definitionByReference for data flow
  change-notes/1.23/analysis-cpp.md
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/fields/A.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
Owners: @Semmle/cpp-analysis

docs: address review comments
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training-rst/cpp/bad-overflow-guard.rst
  docs/language/ql-training-rst/cpp/control-flow-cpp.rst
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/intro-ql-cpp.rst
  docs/language/ql-training-rst/cpp/program-representation-cpp.rst
  docs/language/ql-training-rst/cpp/snprintf.rst
  docs/language/ql-training-rst/java/apache-struts-java.rst
  docs/language/ql-training-rst/java/data-flow-java.rst
  docs/language/ql-training-rst/java/global-data-flow-java.rst
  docs/language/ql-training-rst/java/intro-ql-java.rst
  docs/language/ql-training-rst/java/program-representation-java.rst
  docs/language/ql-training-rst/java/query-injection-java.rst
  docs/language/ql-training-rst/slide-snippets/abstract-syntax-tree.rst
  docs/language/ql-training-rst/slide-snippets/global-data-flow-extra-slides.rst
  docs/language/ql-training-rst/slide-snippets/local-data-flow.rst
  docs/language/ql-training-rst/slide-snippets/path-queries.rst
  docs/language/ql-training-rst/slide-snippets/snapshot-note.rst
  docs/language/ql-training-rst/template.rst
Owners: @felicity-semmle, @jf205

docs: toctree path
  docs/language/ql-training-rst/index.rst
Owners: @felicity-semmle, @jf205

Python: Prevent divergence in type-hint analysis. (ODASA-8075)
  python/ql/src/semmle/python/objects/Callables.qll
  python/ql/src/semmle/python/objects/Classes.qll
  python/ql/src/semmle/python/objects/Constants.qll
  python/ql/src/semmle/python/objects/Descriptors.qll
  python/ql/src/semmle/python/objects/Instances.qll
  python/ql/src/semmle/python/objects/Modules.qll
  python/ql/src/semmle/python/objects/ObjectInternal.qll
  python/ql/src/semmle/python/objects/Sequences.qll
  python/ql/src/semmle/python/objects/TObject.qll
Owners: none

CPP: Add test cases.
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/ConstructorOrMethodWithExactDate.cpp
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/StructWithExactDate.cpp
Owners: @Semmle/cpp-analysis

CPP: Add the new Japanese era.
  cpp/ql/src/Best Practices/Magic Constants/JapaneseEraDate.ql
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/ConstructorOrMethodWithExactDate.cpp
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/JapaneseEraDate.expected
  cpp/ql/test/query-tests/Best Practices/Magic Constants/Japanese Era/StructWithExactDate.cpp
Owners: @Semmle/cpp-analysis

CPP: Change note.
  change-notes/1.23/analysis-cpp.md
Owners: none

C++: Fix ConditionDeclExpr data flow
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

C++: Allow field flow in conservativeDataFlowStep
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
Owners: @Semmle/cpp-analysis

C++: Tests for aliasing of nested structs
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

CPP: Remove an unnecessary include.
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qll
Owners: @Semmle/cpp-analysis

CPP: Alignment.
  cpp/ql/src/Security/CWE/CWE-190/ComparisonWithWiderType.ql
Owners: @Semmle/cpp-analysis

JS: Use type info to recognize routers
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
Owners: @Semmle/js

JS: Update Express test
  javascript/ql/test/library-tests/frameworks/Express/RequestExpr.qll
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
  javascript/ql/test/library-tests/frameworks/Express/tsconfig.json
  javascript/ql/test/library-tests/frameworks/Express/typed_src/shim.d.ts
  javascript/ql/test/library-tests/frameworks/Express/typed_src/tst.ts
Owners: @Semmle/js

JS: Handle router chaining in type tracking predicate
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
Owners: @Semmle/js

JS: Use type info in Express Request/Response
  javascript/ql/src/semmle/javascript/frameworks/Express.qll
Owners: @Semmle/js

Add test case for divergence.
  python/ql/test/3/library-tests/PointsTo/typehints/Values.expected
  python/ql/test/3/library-tests/PointsTo/typehints/test.py
Owners: none
