Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

Python: Modernise Statements/ queries
  python/ql/src/Statements/DocStrings.ql
  python/ql/src/Statements/IterableStringOrSequence.ql
  python/ql/src/Statements/MismatchInMultipleAssignment.ql
  python/ql/src/Statements/ModificationOfLocals.ql
  python/ql/src/Statements/NonIteratorInForLoop.qhelp
  python/ql/src/Statements/NonIteratorInForLoop.ql
  python/ql/src/Statements/RedundantAssignment.ql
  python/ql/src/Statements/ShouldUseWithStatement.ql
  python/ql/src/Statements/StatementNoEffect.ql
  python/ql/src/Statements/StringConcatenationInLoop.qhelp
  python/ql/src/Statements/StringConcatenationInLoop.ql
  python/ql/src/Statements/TopLevelPrint.ql
  python/ql/src/Statements/UnnecessaryDelete.ql
  python/ql/src/Statements/UnusedExceptionObject.ql
  python/ql/src/Statements/UseOfExit.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/query-tests/Statements/general/MismatchInMultipleAssignment.expected
  python/ql/test/query-tests/Statements/general/NonIteratorInForLoop.expected
  python/ql/test/query-tests/Statements/general/RedundantAssignment.expected
  python/ql/test/query-tests/Statements/general/UnnecessaryDelete.expected
  python/ql/test/query-tests/Statements/general/UnnecessaryElseClause.expected
  python/ql/test/query-tests/Statements/general/statements_test.py
Owners: @Semmle/python, @felicitymay

Python: Descriptor tests fixup (1/3)
  python/ql/test/library-tests/descriptors/Methods.expected
  python/ql/test/library-tests/descriptors/Properties.expected
  python/ql/test/library-tests/descriptors/test.py
Owners: @Semmle/python

Python: Descriptor tests fixup (2/3)
  python/ql/test/library-tests/descriptors/Properties.expected
  python/ql/test/library-tests/descriptors/Properties.ql
Owners: @Semmle/python

Python: Descriptor tests fixup (3/3)
  python/ql/test/library-tests/descriptors/Methods.expected
  python/ql/test/library-tests/descriptors/Properties.expected
  python/ql/test/library-tests/descriptors/test.py
Owners: @Semmle/python

Python: Add a script that we can't classify usage of
  python/ql/test/library-tests/modules/usage/ModuleUsage.expected
  python/ql/test/library-tests/modules/usage/myscript.py
Owners: @Semmle/python

Python: Make ModelUsage test language agnostic
  python/ql/test/library-tests/modules/usage/ModuleUsage.expected
  python/ql/test/library-tests/modules/usage/ModuleUsage.ql
Owners: @Semmle/python

Python: Add ModuleValue.{isUsedAsModule, isUsedAsScript}
  python/ql/src/Statements/TopLevelPrint.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/library-tests/modules/usage/ModuleUsage.expected
  python/ql/test/library-tests/modules/usage/ModuleUsage.ql
  python/ql/test/library-tests/modules/usage/imported.py
  python/ql/test/library-tests/modules/usage/main.py
  python/ql/test/library-tests/modules/usage/options
  python/ql/test/library-tests/modules/usage/script
Owners: @Semmle/python

Python: Add PropertyValue
  python/ql/src/semmle/python/objects/Descriptors.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/library-tests/descriptors/Properties.expected
  python/ql/test/library-tests/descriptors/Properties.ql
Owners: @Semmle/python

Python: Add some confusing (but valid) property tests
  python/ql/test/library-tests/descriptors/Methods.expected
  python/ql/test/library-tests/descriptors/test.py
Owners: @Semmle/python

Python: Recognize shebangs in module usage detection
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/library-tests/modules/usage/ModuleUsage.expected
Owners: @Semmle/python

Python: More iterator => iterable renaming
  python/ql/test/3/query-tests/Statements/iter/NonIteratorInForLoop.expected
Owners: @Semmle/python

Python: Modernise Statements/RedundantAssignment
  python/ql/src/Statements/RedundantAssignment.ql
Owners: @Semmle/python

Python: Fix modernisation of py/iteration-string-and-sequence
  python/ql/src/Statements/IterableStringOrSequence.ql
Owners: @Semmle/python

Python: Move subprocess.call so super-class detection works
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/ClassValue.expected
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/ClassValue.ql
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/mwe_failure.py
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/mwe_failure_2.py
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/mwe_success.py
  python/ql/test/3/library-tests/PointsTo/regressions/subprocess-assert/options
  python/ql/test/query-tests/Statements/asserts/SideEffectInAssert.expected
  python/ql/test/query-tests/Statements/asserts/assert.py
  python/ql/test/query-tests/Statements/asserts/side_effect.py
Owners: @Semmle/python

Java/C++/C#: Improve join-order in pathStep predicate
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C++ Repair GlobalValueNumbering (AST) test.
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/GlobalValueNumbering.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/GlobalValueNumbering.ql
Owners: @Semmle/cpp-analysis

C++: Rename some tests for clarity / less emphasis on the AST.
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/Uniqueness.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ast_gvn.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ast_gvn.ql
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ast_uniqueness.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ast_uniqueness.ql
Owners: @Semmle/cpp-analysis

C++: Delete TODO.
  cpp/ql/src/semmle/code/cpp/models/interfaces/SideEffect.qll
Owners: @Semmle/cpp-analysis

C++: Correct SideEffectFunction model for PureStrFunction.
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
Owners: @Semmle/cpp-analysis

C++: Improve the SideEffect library QLDoc.
  cpp/ql/src/semmle/code/cpp/models/interfaces/SideEffect.qll
Owners: @Semmle/cpp-analysis

C++: Effects on tests.
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Owners: @Semmle/cpp-analysis

Python: Autoformat security/strings/External.qll
  python/ql/src/semmle/python/security/strings/External.qll
Owners: @Semmle/python

Python: Make library-tests/taint/strings tests more transparent
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.expected
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.ql
  python/ql/test/library-tests/taint/strings/Taint.qll
  python/ql/test/library-tests/taint/strings/TestNode.expected
  python/ql/test/library-tests/taint/strings/TestNode.ql
  python/ql/test/library-tests/taint/strings/TestStep.expected
  python/ql/test/library-tests/taint/strings/TestTaint.expected
  python/ql/test/library-tests/taint/strings/TestTaint.ql
  python/ql/test/library-tests/taint/strings/test.py
Owners: @Semmle/python

Python: Fix error after merge conflict
  python/ql/src/Statements/StatementNoEffect.ql
Owners: @Semmle/python

Python: Add basic taint support for urlsplit/urlparse
  python/ql/src/semmle/python/security/strings/External.qll
  python/ql/test/library-tests/taint/namedtuple/Taint.qll
  python/ql/test/library-tests/taint/namedtuple/TestTaint.expected
  python/ql/test/library-tests/taint/namedtuple/TestTaint.ql
  python/ql/test/library-tests/taint/namedtuple/test.py
  python/ql/test/library-tests/taint/strings/TestStep.expected
  python/ql/test/library-tests/taint/strings/TestTaint.expected
  python/ql/test/library-tests/taint/strings/test.py
Owners: @Semmle/python

change useless cat query to only flag instances that can be re-written to
  javascript/ql/src/Security/CWE-078/UselessUseOfCat.ql
  javascript/ql/src/semmle/javascript/security/UselessUseOfCat.qll
  javascript/ql/test/query-tests/Security/CWE-078/UselessCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.expected
  javascript/ql/test/query-tests/Security/CWE-078/UselessUseOfCat.ql
  javascript/ql/test/query-tests/Security/CWE-078/uselesscat.js
Owners: @Semmle/js

docs: add info about using getAQlClass()
  docs/language/learn-ql/writing-queries/debugging-queries.rst
Owners: @shati-patel, @jf205

docs: delete constraining-types.rst
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/learn-ql/advanced/constraining-types.rst
Owners: @shati-patel, @jf205

docs: remove advanced ql topic about determining specific types
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/learn-ql/advanced/determining-specific-types-variables.rst
Owners: @shati-patel, @jf205

docs: delete advanced-ql section
  docs/language/learn-ql/advanced/advanced-ql.rst
  docs/language/learn-ql/advanced/monotonic-aggregates.rst
  docs/language/learn-ql/index.rst
Owners: @shati-patel, @jf205

Java/C++/C#: s/Callable/DataFlowCallable/
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Apply suggestions from code review
  docs/language/learn-ql/python/control-flow.rst
  docs/language/learn-ql/python/functions.rst
  docs/language/learn-ql/python/introduce-libraries-python.rst
  docs/language/learn-ql/python/pointsto-type-infer.rst
  docs/language/learn-ql/python/statements-expressions.rst
  docs/language/learn-ql/python/taint-tracking.rst
Owners: @shati-patel, @jf205

Correction one more mention of tutorials
  docs/language/learn-ql/python/control-flow.rst
Owners: @shati-patel, @jf205

Update intro for library overview topic
  docs/language/learn-ql/python/introduce-libraries-python.rst
Owners: @shati-patel, @jf205

docs: expand handbook entry on monotonic aggregates
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

docs: technical feedback
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

JS: Recognize class members in more cases
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/ClassNode/InstanceMember.expected
  javascript/ql/test/library-tests/ClassNode/InstanceMethod.expected
  javascript/ql/test/library-tests/ClassNode/fields.ts
  javascript/ql/test/library-tests/ClassNode/getAReceiverNode.expected
  javascript/ql/test/library-tests/ClassNode/tst2.js
Owners: @Semmle/js

C# pre-migration changes: titles & intros
  docs/language/learn-ql/csharp/dataflow.rst
  docs/language/learn-ql/csharp/introduce-libraries-csharp.rst
  docs/language/learn-ql/csharp/ql-for-csharp.rst
Owners: @shati-patel, @jf205

Remove test actions
  .github/workflows/codeqltest.yml
Owners: none

Add Action for testing using the CodeQL CLI
  .github/workflows/codeqltest.yml
Owners: none

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
