Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

Python: Add `MethodCallNode` class
  python/ql/src/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Owners: @github/codeql-python

Python: Clean up `Ssl.qll`
  python/ql/src/Security/CWE-327/Ssl.qll
Owners: @github/codeql-python

Python: Clean up `Stdlib.qll`
  python/ql/src/experimental/semmle/python/frameworks/Stdlib.qll
Owners: @github/codeql-python, @xcorail

Python: Add change note
  python/change-notes/2021-06-15-add-method-call-conveniences.md
Owners: @github/codeql-python

Python: Fix up `getAMethodCall`
  python/ql/src/semmle/python/dataflow/new/internal/LocalSources.qll
Owners: @github/codeql-python

JS: Add Knex model
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/Knex.qll
  javascript/ql/test/library-tests/frameworks/Knex/test.expected
  javascript/ql/test/library-tests/frameworks/Knex/test.ql
  javascript/ql/test/library-tests/frameworks/Knex/tst.js
Owners: @github/codeql-javascript

JS: Change note
  javascript/change-notes/2021-06-11-knex.md
Owners: @github/codeql-javascript

C#: Fix Modifiable::isUnsafe to handle declarations extracted from assemblies
  csharp/ql/src/semmle/code/csharp/Member.qll
  csharp/ql/test/library-tests/unsafe/unsafe4.ql
Owners: @github/codeql-csharp

Add change note
  csharp/change-notes/2021-06-15-unsafe-non-source-code.md
Owners: @github/codeql-csharp

Python: Autoformat
  python/ql/src/Security/CWE-327/Ssl.qll
Owners: @github/codeql-python

Simplify tests
  python/ql/test/experimental/query-tests/Security/CWE-943/flask_mongoengine_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/flask_mongoengine_get_db_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/flask_mongoengine_get_db_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/flask_mongoengine_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoclient_subscript_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoclient_subscript_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_connect_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_connect_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_connect_via_connection_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_connect_via_connection_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_flask_db_document_subclass_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_flask_db_document_subclass_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_get_db_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_get_db_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_get_db_via_connection_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_get_db_via_connection_good.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_good.py
Owners: @github/codeql-python, @xcorail

Update .expected
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
Owners: @github/codeql-python, @xcorail

change name
  java/ql/src/semmle/code/java/frameworks/Castor.qll
  java/ql/src/semmle/code/java/security/UnsafeDeserialization.qll
Owners: @github/codeql-java

JS: Sharpen recognition of string 'match' calls
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteHostnameRegExp.expected
  javascript/ql/test/query-tests/Security/CWE-020/MissingRegExpAnchor.expected
  javascript/ql/test/query-tests/Security/CWE-020/tst-IncompleteHostnameRegExp.js
  javascript/ql/test/query-tests/Security/CWE-020/tst-UnanchoredUrlRegExp.js
Owners: @github/codeql-javascript

C#: Add tests for abstract/virtual modifier of interface members
  csharp/ql/test/library-tests/modifiers/Effectively.expected
  csharp/ql/test/library-tests/modifiers/Modifiers.cs
  csharp/ql/test/library-tests/modifiers/Modifiers.expected
Owners: @github/codeql-csharp

C#: Allow abstract modifier on interface members
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Modifier.cs
  csharp/ql/test/library-tests/modifiers/Modifiers.expected
Owners: @github/codeql-csharp

Move tests back from internal repo
  java/ql/test/query-tests/security/CWE-311/CWE-319/HttpsUrls.expected
  java/ql/test/query-tests/security/CWE-311/CWE-319/HttpsUrls.qlref
  java/ql/test/query-tests/security/CWE-311/CWE-319/HttpsUrlsTest.java
  java/ql/test/query-tests/security/CWE-311/CWE-319/UseSSL.expected
  java/ql/test/query-tests/security/CWE-311/CWE-319/UseSSLTest.java
Owners: @github/codeql-java

C#: Add more tests to effective visibility
  csharp/ql/test/library-tests/modifiers/Effectively.expected
  csharp/ql/test/library-tests/modifiers/Modifiers.cs
  csharp/ql/test/library-tests/modifiers/Modifiers.expected
Owners: @github/codeql-csharp

Fix effective privateness of explicitly implemented members
  csharp/ql/src/semmle/code/csharp/Member.qll
  csharp/ql/test/library-tests/modifiers/Effectively.expected
Owners: @github/codeql-csharp

Apply code review findings
  csharp/ql/src/semmle/code/csharp/Member.qll
Owners: @github/codeql-csharp

Adjust comments on isEffectively*
  csharp/ql/src/semmle/code/csharp/Member.qll
Owners: @github/codeql-csharp

Add change notes
  csharp/change-notes/2021-06-15-effective-visibility.md
Owners: @github/codeql-csharp

Fix isEffectively* predicates to members extracted from multiple assemblies
  csharp/ql/src/semmle/code/csharp/Member.qll
Owners: @github/codeql-csharp

Fix effective publicness of `protected private` and `protected internal`
  csharp/ql/src/semmle/code/csharp/Member.qll
  csharp/ql/test/library-tests/modifiers/Effectively.expected
Owners: @github/codeql-csharp

Bump `codeql` submodule
  ql/src/codeql_ruby/typetracking/TypeTracker.qll
Owners: none

Python: Avoid `__main__.py` files as entry points.
  python/ql/src/semmle/python/Files.qll
Owners: @github/codeql-python

Moved from experimental
  java/ql/src/Security/CWE/CWE-094/GroovyInjection.qhelp
  java/ql/src/Security/CWE/CWE-094/GroovyInjection.ql
  java/ql/src/Security/CWE/CWE-094/GroovyInjectionBad.java
  java/ql/src/Security/CWE/CWE-094/GroovyInjectionBlocklist.java
  java/ql/src/Security/CWE/CWE-094/GroovyInjectionLib.qll
  java/ql/test/experimental/query-tests/security/CWE-094/GroovyInjection.qlref
  java/ql/test/experimental/query-tests/security/CWE-094/options
  java/ql/test/query-tests/security/CWE-094/GroovyClassLoaderTest.java
  java/ql/test/query-tests/security/CWE-094/GroovyEvalTest.java
  java/ql/test/query-tests/security/CWE-094/GroovyInjection.expected
  java/ql/test/query-tests/security/CWE-094/GroovyInjection.qlref
  java/ql/test/query-tests/security/CWE-094/GroovyShellTest.java
  java/ql/test/query-tests/security/CWE-094/options
  java/ql/test/stubs/groovy-all-3.0.7/groovy/lang/GroovyClassLoader.java
  java/ql/test/stubs/groovy-all-3.0.7/groovy/lang/GroovyCodeSource.java
  java/ql/test/stubs/groovy-all-3.0.7/groovy/lang/GroovyObject.java
  java/ql/test/stubs/groovy-all-3.0.7/groovy/lang/GroovyShell.java
  java/ql/test/stubs/groovy-all-3.0.7/groovy/lang/Script.java
  java/ql/test/stubs/groovy-all-3.0.7/groovy/util/Eval.java
Owners: @github/codeql-java, @xcorail

Refactor to use CSV sink models
  java/ql/src/Security/CWE/CWE-094/GroovyInjection.ql
  java/ql/src/Security/CWE/CWE-094/GroovyInjectionLib.qll
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/security/GroovyInjection.qll
Owners: @github/codeql-java

Add change note
  java/change-notes/2021-06-14-groovy-code-injection-query.md
Owners: @github/codeql-java

Add codehaus sink and taint steps
  java/ql/src/semmle/code/java/security/GroovyInjection.qll
Owners: @github/codeql-java

Add stubs
  java/ql/test/stubs/groovy-all-3.0.7/groovy/lang/GroovyRuntimeException.java
  java/ql/test/stubs/groovy-all-3.0.7/groovy/lang/GroovyShell.java
  java/ql/test/stubs/groovy-all-3.0.7/org/codehaus/groovy/control/CompilationFailedException.java
  java/ql/test/stubs/groovy-all-3.0.7/org/codehaus/groovy/control/CompilationUnit.java
  java/ql/test/stubs/groovy-all-3.0.7/org/codehaus/groovy/control/CompilerConfiguration.java
  java/ql/test/stubs/groovy-all-3.0.7/org/codehaus/groovy/control/ErrorCollector.java
  java/ql/test/stubs/groovy-all-3.0.7/org/codehaus/groovy/control/SourceUnit.java
  java/ql/test/stubs/groovy-all-3.0.7/org/codehaus/groovy/control/io/AbstractReaderSource.java
  java/ql/test/stubs/groovy-all-3.0.7/org/codehaus/groovy/control/io/ReaderSource.java
  java/ql/test/stubs/groovy-all-3.0.7/org/codehaus/groovy/control/io/StringReaderSource.java
Owners: @github/codeql-java

Refine sinks and add more taint steps
  java/ql/src/semmle/code/java/security/GroovyInjection.qll
Owners: @github/codeql-java

Use InlineExpectationsTest
  java/ql/test/query-tests/security/CWE-094/GroovyClassLoaderTest.java
  java/ql/test/query-tests/security/CWE-094/GroovyEvalTest.java
  java/ql/test/query-tests/security/CWE-094/GroovyInjection.expected
  java/ql/test/query-tests/security/CWE-094/GroovyInjection.qlref
  java/ql/test/query-tests/security/CWE-094/GroovyInjectionTest.expected
  java/ql/test/query-tests/security/CWE-094/GroovyInjectionTest.ql
  java/ql/test/query-tests/security/CWE-094/GroovyShellTest.java
  java/ql/test/stubs/groovy-all-3.0.7/groovy/util/Eval.java
Owners: @github/codeql-java

Fix tests
  java/ql/test/query-tests/security/CWE-094/GroovyClassLoaderTest.java
  java/ql/test/query-tests/security/CWE-094/GroovyCompilationUnitTest.java
  java/ql/test/query-tests/security/CWE-094/GroovyEvalTest.java
  java/ql/test/query-tests/security/CWE-094/GroovyShellTest.java
Owners: @github/codeql-java

Make sinks more specific, improve tests
  java/ql/src/semmle/code/java/security/GroovyInjection.qll
  java/ql/test/query-tests/security/CWE-094/GroovyClassLoaderTest.java
  java/ql/test/stubs/groovy-all-3.0.7/groovy/lang/GroovyClassLoader.java
  java/ql/test/stubs/groovy-all-3.0.7/org/codehaus/groovy/ast/ClassNode.java
Owners: @github/codeql-java

Add new URL(tainted) as taint step
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
Owners: @github/codeql-java

Fix SSRF tests affected by the new URL summary
  java/ql/test/experimental/query-tests/security/CWE-918/RequestForgery.expected
Owners: @github/codeql-java, @xcorail

Fix InsecureBasicAuth tests affected by the new URL summary
  java/ql/test/experimental/query-tests/security/CWE-522/InsecureBasicAuth.expected
Owners: @github/codeql-java, @xcorail

Add tests for CompilationUnit's subtypes
  java/ql/test/query-tests/security/CWE-094/GroovyCompilationUnitTest.java
  java/ql/test/stubs/groovy-all-3.0.7/org/codehaus/groovy/tools/javac/JavaAwareCompilationUnit.java
  java/ql/test/stubs/groovy-all-3.0.7/org/codehaus/groovy/tools/javac/JavaStubCompilationUnit.java
Owners: @github/codeql-java

Consider subtypes of ReaderSource
  java/ql/src/semmle/code/java/security/GroovyInjection.qll
  java/ql/test/query-tests/security/CWE-094/GroovyCompilationUnitTest.java
Owners: @github/codeql-java

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
