Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

JS: Add test with non-guard sanitizer
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.ql
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/object-bypass-sanitizer.js
Owners: @Semmle/js

JS: Add change note
  change-notes/1.24/analysis-javascript.md
Owners: none

JS: Add variant of test that passes
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Split test case function in two
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/object-bypass-sanitizer.js
Owners: @Semmle/js

JS: Autoformat
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Owners: @Semmle/js

JS: Accept test case change
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Update some qldoc comments
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Owners: @Semmle/js

JS: Add explanation for test failure
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Update some queries that used data as source
  javascript/ql/src/semmle/javascript/security/dataflow/CleartextLoggingCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeDynamicMethodAccess.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeDynamicMethodAccessCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCall.qll
  javascript/ql/src/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCallCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  javascript/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
Owners: @Semmle/js

JS: Add some lines in test case
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Update TaintBarriers/isBarrier test
  javascript/ql/test/library-tests/TaintBarriers/isBarrier.expected
  javascript/ql/test/library-tests/TaintBarriers/isBarrier.ql
Owners: @Semmle/js

JS: Adjust whitespace in change notes
  change-notes/1.24/analysis-javascript.md
Owners: none

Address review comments
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
Owners: @Semmle/cs

Data flow: Sync files
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Python: Prepare for autoformatting.
  python/ql/src/Classes/MethodCallOrder.qll
  python/ql/src/Expressions/CallArgs.qll
  python/ql/src/Testing/Mox.qll
  python/ql/src/analysis/CrossProjectDefinitions.qll
  python/ql/src/analysis/DefinitionTracking.qll
  python/ql/src/semmle/python/AstExtended.qll
  python/ql/src/semmle/python/Class.qll
  python/ql/src/semmle/python/Comparisons.qll
  python/ql/src/semmle/python/Exprs.qll
  python/ql/src/semmle/python/Files.qll
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/Function.qll
  python/ql/src/semmle/python/GuardedControlFlow.qll
  python/ql/src/semmle/python/Import.qll
  python/ql/src/semmle/python/Metrics.qll
  python/ql/src/semmle/python/Operations.qll
  python/ql/src/semmle/python/Scope.qll
  python/ql/src/semmle/python/SelfAttribute.qll
  python/ql/src/semmle/python/TestUtils.qll
  python/ql/src/semmle/python/dependencies/Dependencies.qll
  python/ql/src/semmle/python/essa/Essa.qll
  python/ql/src/semmle/python/objects/Callables.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/pointsto/Overview.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/src/semmle/python/pointsto/PointsToContext.qll
  python/ql/src/semmle/python/security/injection/Command.qll
  python/ql/src/semmle/python/security/strings/Basic.qll
  python/ql/src/semmle/python/types/ClassObject.qll
  python/ql/src/semmle/python/types/Exceptions.qll
  python/ql/src/semmle/python/types/FunctionObject.qll
  python/ql/src/semmle/python/types/ModuleObject.qll
  python/ql/src/semmle/python/types/Object.qll
Owners: @Semmle/python

C++: Comments for future maintainers
  cpp/ql/src/semmle/code/cpp/Variable.qll
Owners: @Semmle/cpp-analysis

C++: Fix formatting
  cpp/ql/src/semmle/code/cpp/exprs/ObjectiveC.qll
Owners: @Semmle/cpp-analysis

C++: Make vararg utilities internal for now.
  cpp/ql/src/semmle/code/cpp/Function.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/ObjectiveC.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/VarArgs.qll
  cpp/ql/test/library-tests/arg_matching/arg_matching.ql
Owners: @Semmle/cpp-analysis

C++: Move VarArgs utilities location
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/VarArgs.qll
  cpp/ql/test/library-tests/arg_matching/arg_matching.ql
Owners: @Semmle/cpp-analysis

Add examples qlpack.yml to CodeQL manifest
  .codeqlmanifest.json
  Makefile
Owners: none

C++: Add IR test for strcpy/strcat.
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cpp-analysis

C++: Add some SideEffect models.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cpp-analysis

C++: Offset .expected for cleaner diff.
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cpp-analysis

Address review comments
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
Owners: @Semmle/cs

Data flow: Sync files
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C++: Autoformat.
  cpp/ql/src/semmle/code/cpp/models/implementations/Strcpy.qll
Owners: @Semmle/cpp-analysis

C++: Fix formatting
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
Owners: @Semmle/cpp-analysis

Update python/ql/test/query-tests/Exceptions/generators/test.py
  python/ql/test/query-tests/Exceptions/generators/test.py
Owners: @Semmle/python

Update python/ql/src/Exceptions/UnguardedNextInGenerator.ql
  python/ql/src/Exceptions/UnguardedNextInGenerator.ql
Owners: @Semmle/python

JS: Add getDefaultSourceLabel()
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Owners: @Semmle/js

JS: Update prototype pollution query
  javascript/ql/src/semmle/javascript/security/dataflow/PrototypePollutionCustomizations.qll
Owners: @Semmle/js

JS: Autformat
  javascript/ql/src/semmle/javascript/security/dataflow/UnvalidatedDynamicMethodCallCustomizations.qll
  javascript/ql/test/library-tests/TaintBarriers/isBarrier.ql
Owners: @Semmle/js

JavaScript: Avoid a few bad join orders.
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

JavaScript: Split up a predicate to avoid bad join order.
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Owners: @Semmle/js

C#: Add `XPathNavigator` test for `cs/xml/xpath-injection`
  csharp/ql/test/query-tests/Security Features/CWE-643/XPathInjection.cs
Owners: @Semmle/cs

C#: Teach XPath injection query about `XPathNavigator`
  csharp/ql/src/semmle/code/csharp/frameworks/system/xml/XPath.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/XPathInjection.qll
  csharp/ql/test/query-tests/Security Features/CWE-643/XPathInjection.expected
Owners: @Semmle/cs

C#: Add change note
  change-notes/1.24/analysis-csharp.md
Owners: none

Apply suggestion for ql help
  java/ql/src/Security/CWE/CWE-190/BuggyDivideAndConquer.ql
Owners: @Semmle/java

Apply suggestion for ql help
  java/ql/src/Security/CWE/CWE-190/BuggyDivideAndConquer.qhelp
Owners: @felicitymay

Apply suggestion for ql help
  java/ql/src/Security/CWE/CWE-190/BuggyDivideAndConquer.qhelp
Owners: @felicitymay
