Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

Python: Stop py/import-deprecated-module from double alerting
  python/ql/src/Imports/DeprecatedModule.ql
  python/ql/test/query-tests/Imports/deprecated/DeprecatedModule.expected
  python/ql/test/query-tests/Imports/deprecated/test.py
Owners: @Semmle/python

Python: py/import-deprecated-module handle backwards compatible code
  python/ql/src/Imports/DeprecatedModule.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/query-tests/Imports/deprecated/DeprecatedModule.expected
  python/ql/test/query-tests/Imports/deprecated/test.py
Owners: @Semmle/python

Python: Fix recommended module for deprecated posixfile
  python/ql/src/Imports/DeprecatedModule.ql
  python/ql/test/query-tests/Imports/deprecated/DeprecatedModule.expected
Owners: @Semmle/python

Address review comments
  ql/src/Security/CWE-601/BadRedirectCheck.ql
Owners: none

C++: Add test demonstrating false negative when using dynamic_cast
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
Owners: @Semmle/cpp-analysis

C++: Add instruction for CheckedConvertOrNull and handle it in alias analysis and data flow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
Owners: @Semmle/cpp-analysis

C++: Accept output
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/test_diff.expected
Owners: @Semmle/cpp-analysis

C#: Sync identical files
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Owners: @Semmle/cs

C++/C#: Add new `MemoryAccessKind` to represent entire allocation
  cpp/ql/src/semmle/code/cpp/ir/implementation/MemoryAccessKind.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/MemoryAccessKind.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++/C#: Share alias analysis between C++ and C#
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysisImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysisInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysisImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysisInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasAnalysisImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasAnalysisInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++/C#: Parameterize alias analysis based on `AliasConfiguration`
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysisInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasConfigurationInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysisInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasConfigurationImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasAnalysisInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasConfiguration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/AliasConfigurationImports.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++/C#: Update SimpleSSA to use `Allocation` instead of `IRVariable`
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SimpleSSA.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++: Update AliasedSSA to use `Allocation` instead of `IRVariable`
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Owners: @Semmle/cpp-analysis

C++/C#: Update shared file list
  config/identical-files.json
Owners: none

C++: New test framework that allows expected results as comments in source code
  cpp/ql/test/TestUtilities/InlineExpectationsTest.qll
Owners: @Semmle/cpp-analysis

C++: Update points_to tests to use new framework
  cpp/ql/test/library-tests/ir/escape/points_to.expected
  cpp/ql/test/library-tests/ir/escape/points_to.ql
  cpp/ql/test/library-tests/ir/points_to/points_to.cpp
  cpp/ql/test/library-tests/ir/points_to/points_to.expected
  cpp/ql/test/library-tests/ir/points_to/points_to.ql
Owners: @Semmle/cpp-analysis

C++: Update escape analysis tests to new API
  cpp/ql/test/library-tests/ir/escape/escape.ql
  cpp/ql/test/library-tests/ir/escape/ssa_escape.ql
Owners: @Semmle/cpp-analysis

C++: Accept IR dump test results changes due to new alias analysis
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Owners: @Semmle/cpp-analysis

C++: Accept dataflow test changes due to new alias analysis
  cpp/ql/test/library-tests/dataflow/dataflow-tests/BarrierGuard.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

OpenUrlRedirect: only make some parts of the URL untrusted
  ql/src/semmle/go/security/OpenUrlRedirectCustomizations.qll
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/stdlib.go
Owners: none

OpenUrlRedirect: make functions like isValidRedirect barrier guards
  ql/src/semmle/go/security/OpenUrlRedirectCustomizations.qll
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/stdlib.go
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/util.go
Owners: none

OpenUrlRedirect: Add untrusted methods
  ql/src/semmle/go/security/OpenUrlRedirectCustomizations.qll
Owners: none

TaintTracking: Make functionModelStep take a FunctionModel
  ql/src/semmle/go/dataflow/internal/TaintTrackingUtil.qll
Owners: none

Add DataFlow2
  ql/src/go.qll
  ql/src/semmle/go/dataflow/DataFlow2.qll
  ql/src/semmle/go/dataflow/internal/DataFlowImpl2.qll
Owners: none

OpenUrlRedirect: Fix test compilation
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/util.go
Owners: none

OpenUrlRedirect: Use a data-flow configuration to track whole URLs
  ql/src/semmle/go/security/OpenUrlRedirect.qll
  ql/src/semmle/go/security/OpenUrlRedirectCustomizations.qll
Owners: none

TaintTracking: minor functionNodeStep call improvement
  ql/src/semmle/go/dataflow/internal/TaintTrackingUtil.qll
Owners: none

Apply review comments
  ql/src/Security/CWE-601/OpenUrlRedirect.ql
  ql/src/semmle/go/security/OpenUrlRedirect.qll
  ql/src/semmle/go/security/OpenUrlRedirectCustomizations.qll
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
Owners: none

HTTP: Use Field.getQualifiedName in UserControlledRequestField
  ql/src/semmle/go/frameworks/HTTP.qll
Owners: none

Revert "Add DataFlow2"
  ql/src/go.qll
  ql/src/semmle/go/dataflow/DataFlow2.qll
  ql/src/semmle/go/dataflow/internal/DataFlowImpl2.qll
Owners: none

Apply suggestion from code review
  java/ql/src/Security/CWE/CWE-90/LdapInjection.qhelp
Owners: @felicitymay

Makefile: Make extractor-common extractor target
  Makefile
Owners: none

Apply suggestions from self code review
  java/ql/src/Security/CWE/CWE-338/PredictableRandomNumberGenerator.java
  java/ql/src/Security/CWE/CWE-338/PredictableRandomNumberGenerator.qhelp
Owners: @Semmle/java, @felicitymay

Update change-notes/1.24/analysis-csharp.md
  change-notes/1.24/analysis-csharp.md
Owners: none

C#: Address review comment: an SQL
  csharp/ql/src/Security Features/CWE-327/InsecureSQLConnection.ql
Owners: @Semmle/cs

add support for private fields in classes
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/src/com/semmle/jcorn/TokenType.java
  javascript/ql/src/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/test/library-tests/Classes/ClassFlow.qll
  javascript/ql/test/library-tests/Classes/PrivateField.qll
  javascript/ql/test/library-tests/Classes/dataflow.js
  javascript/ql/test/library-tests/Classes/privateFields.js
  javascript/ql/test/library-tests/Classes/tests.expected
  javascript/ql/test/library-tests/Classes/tests.ql
Owners: @Semmle/js

C#/C++: Autoformat post rebase.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/PrintSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/PrintSSA.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/PrintSSA.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Javascript/Python: Sync XML.qll
  javascript/ql/src/semmle/javascript/XML.qll
  python/ql/src/semmle/python/xml/XML.qll
Owners: @Semmle/js, @Semmle/python

JS: add koa test
  javascript/ql/test/library-tests/frameworks/koa/src/koa.js
Owners: @Semmle/js

JS: support additional Koa request sources
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/Koa.qll
  javascript/ql/test/library-tests/frameworks/koa/tests.expected
Owners: @Semmle/js
