Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

C++: add IR-based wrapper for value numbering
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

C#: Sync files
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
Owners: @Semmle/cs

Update csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
Owners: @Semmle/cs

C++: Added getAnExpr predicate to ValueNumber class
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
Owners: @Semmle/cpp-analysis

Update cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
Owners: @Semmle/cpp-analysis

C++: Fix incorrect merge conflict resolution
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
Owners: @Semmle/cpp-analysis

C++: Added IR global value numbering uniqueness test
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_uniqueness.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_uniqueness.ql
Owners: @Semmle/cpp-analysis

C++: Updated ir_uniqueness test based on Robert's comments (and accepted output)
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_uniqueness.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_uniqueness.ql
Owners: @Semmle/cpp-analysis

C++: Added getAnExpr test
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/test_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/test_ir_expr.ql
Owners: @Semmle/cpp-analysis

Update cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
Owners: @Semmle/cpp-analysis

C++: Added getKind predicate
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
Owners: @Semmle/cpp-analysis

Update csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingImports.qll
Owners: @Semmle/cs

C++: Fix new formatting (hopefully)
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++: Sync'd unaliased_ssa and aliased_ssa files
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++: Accepted ir_gvn output after changing toString implemenetation
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Owners: @Semmle/cpp-analysis

C++/C#: Sync identical files
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingImports.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

add "slice" as a recognized prefix method in ClientSideUrlRedirectCustomizations.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ClientSideUrlRedirectCustomizations.qll
Owners: @Semmle/js

Python: Extend `Value` API.
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

add test for new prefix check on TaintedPath
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/normalizedPaths.js
Owners: @Semmle/js

C++: Fix bad merge
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Owners: @Semmle/cpp-analysis

C++: Use getDebugString instead of toString in ValueNumberPropertyProvider
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++: Accept output
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Owners: @Semmle/cpp-analysis

C++: Fix new formatting
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/ValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++/C#: Sync identical files
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/ValueNumbering.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/gvn/ValueNumbering.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

CPP: Avoid uncessary recursion
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
Owners: @Semmle/cpp-analysis

C#: Add more flow-through data-flow tests
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/H.cs
Owners: @Semmle/cs

C++: Fix new formatting
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
Owners: @Semmle/cpp-analysis

C++: Modify Bound.qll to use hasLocationInfo instead of getLocation on ValueNumber
  cpp/ql/src/semmle/code/cpp/rangeanalysis/Bound.qll
Owners: @Semmle/cpp-analysis

C++: Sync identical files
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
Owners: @Semmle/cpp-analysis

Python: Autoformat security
  python/ql/src/Security/CVE-2018-1281/BindToAllInterfaces.ql
  python/ql/src/Security/CWE-020/IncompleteHostnameRegExp.ql
  python/ql/src/Security/CWE-020/IncompleteUrlSubstringSanitization.ql
  python/ql/src/Security/CWE-022/PathInjection.ql
  python/ql/src/Security/CWE-022/TarSlip.ql
  python/ql/src/Security/CWE-078/CommandInjection.ql
  python/ql/src/Security/CWE-079/Jinja2WithoutEscaping.ql
  python/ql/src/Security/CWE-079/ReflectedXss.ql
  python/ql/src/Security/CWE-089/SqlInjection.ql
  python/ql/src/Security/CWE-094/CodeInjection.ql
  python/ql/src/Security/CWE-209/StackTraceExposure.ql
  python/ql/src/Security/CWE-215/FlaskDebug.ql
  python/ql/src/Security/CWE-295/MissingHostKeyValidation.ql
  python/ql/src/Security/CWE-295/RequestWithoutValidation.ql
  python/ql/src/Security/CWE-312/CleartextLogging.ql
  python/ql/src/Security/CWE-312/CleartextStorage.ql
  python/ql/src/Security/CWE-326/WeakCrypto.ql
  python/ql/src/Security/CWE-327/InsecureDefaultProtocol.ql
  python/ql/src/Security/CWE-327/InsecureProtocol.ql
  python/ql/src/Security/CWE-377/InsecureTemporaryFile.ql
  python/ql/src/Security/CWE-502/UnsafeDeserialization.ql
  python/ql/src/Security/CWE-601/UrlRedirect.ql
  python/ql/src/Security/CWE-732/WeakFilePermissions.ql
Owners: @Semmle/python

C++: Accept output. Currently too many locations are being reported due to the hasLocationInfo not picked the 'smallest' location (as Robert suggested we should do)
  cpp/ql/test/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
Owners: @Semmle/cpp-analysis

rename getASourceAccess to getAnAliasedSourceNode
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/src/semmle/javascript/StringOps.qll
Owners: @Semmle/js

add pragma[inline] to getAnAliasedSourceNode
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
Owners: @Semmle/js

update docString on getAnAliasedSourceNode
  javascript/ql/src/semmle/javascript/GlobalAccessPaths.qll
Owners: @Semmle/js

C++: Workaround for problem with memcpy flow
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Owners: @Semmle/cpp-analysis

C++: Interprocedural indirection taint tracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

Java: Add change note for LDAP injection query.
  change-notes/1.24/analysis-java.md
Owners: none

Queries to detect ReDoS and Regex injections in Java
  java/ql/src/Security/CWE/CWE-400/ReDoS.ql
  java/ql/src/Security/CWE/CWE-400/Regex.qll
  java/ql/src/Security/CWE/CWE-400/RegexInjection.ql
  java/ql/src/semmle/code/java/JDK.qll
Owners: @Semmle/java

JS: minor fixups
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPluginCustomizations.qll
Owners: @Semmle/js

JS: fix FP for js/unsafe-jquery-plugin
  javascript/ql/src/semmle/javascript/security/dataflow/UnsafeJQueryPlugin.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeJQueryPlugin.expected
Owners: @Semmle/js

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
