Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

add data-flow steps for resolved promises using pseudo-properties
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/flow.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @Semmle/js

add data-flow steps for when Promise handlers return other promises
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/flow.js
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @Semmle/js

C#: ZipSlip query reports alert at source
  csharp/ql/src/Security Features/CWE-022/ZipSlip.ql
  csharp/ql/test/query-tests/Security Features/CWE-022/ZipSlip/ZipSlip.expected
Owners: @Semmle/cs

changes based on review
  javascript/ql/src/semmle/javascript/frameworks/SocketIO.qll
Owners: @Semmle/js

copy data from both callbacks in Promise data-flow
  javascript/ql/src/semmle/javascript/Promises.qll
Owners: @Semmle/js

add support for creating a promise with another resolved promise, e.g: Promise.resolve(otherPromise)
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/test/library-tests/Promises/flow.js
  javascript/ql/test/library-tests/Promises/flow.qll
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @Semmle/js

Add check for disabled CSRF protection in Spring
  java/ql/src/Security/CWE/CWE-352/SpringCSRFProtection.qhelp
  java/ql/src/Security/CWE/CWE-352/SpringCSRFProtection.ql
Owners: @felicitymay, @Semmle/java

add change note for EventEmitter
  change-notes/1.24/analysis-javascript.md
Owners: none

update expected output
  javascript/ql/test/library-tests/InterProceduralFlow/DataFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/GermanFlow.expected
  javascript/ql/test/library-tests/InterProceduralFlow/TrackedNodes.expected
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
Owners: @Semmle/js

Python: Autoformat Resources/ queries
  python/ql/src/Resources/FileNotAlwaysClosed.ql
  python/ql/src/Resources/FileOpen.qll
Owners: @Semmle/python

Python: Modernise Resources/ queries
  python/ql/src/Resources/FileNotAlwaysClosed.ql
  python/ql/src/Resources/FileOpen.qll
Owners: @Semmle/python

Java: Remove the deprecated ParityAnalysis.
  java/ql/src/semmle/code/java/dataflow/ParityAnalysis.qll
Owners: @Semmle/java

TS: Print TypeScript semantic errors in log
  javascript/extractor/lib/typescript/src/main.ts
Owners: @Semmle/js

TS: Handle monorepos by rewriting package.json
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
Owners: @Semmle/js

JS: Make return type class for installDependencies()
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/DependencyInstallationResult.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
Owners: @Semmle/js

Java: Allow null literals as sources in data flow.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/test/library-tests/dataflow/null/A.java
  java/ql/test/library-tests/dataflow/null/testnullflow.expected
  java/ql/test/library-tests/dataflow/null/testnullflow.ql
Owners: @Semmle/java

TS: Guess main file location
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Owners: @Semmle/js

TS: Add some documentation
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Owners: @Semmle/js

TS: Install deps under scratch dir
  javascript/extractor/lib/typescript/src/common.ts
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/DependencyInstallationResult.java
  javascript/extractor/src/com/semmle/js/extractor/EnvironmentVariables.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Owners: @Semmle/js

update change notes to reflect that library models have improved
  change-notes/1.24/analysis-javascript.md
Owners: none

C++: Test lack of flow through read side effect
  cpp/ql/src/semmle/code/cpp/models/implementations/Inet.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
Owners: @Semmle/cpp-analysis

C++: Flow through read side effects
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
Owners: @Semmle/cpp-analysis

C++: Add ReadSideEffectInstruction to IR
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Python: Make py/weak-cryptographic-algorithm a path-problem
  python/ql/src/Security/CWE-327/BrokenCryptoAlgorithm.ql
  python/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.expected
Owners: @Semmle/python

Python: Autoformat
  python/ql/src/Security/CWE-327/BrokenCryptoAlgorithm.ql
  python/ql/src/Security/CWE-798/HardcodedCredentials.ql
Owners: @Semmle/python

Python: Remove use of deprecated methods
  python/ql/src/Statements/ModificationOfLocals.ql
  python/ql/src/Statements/RedundantAssignment.ql
  python/ql/src/Variables/UndefinedExport.ql
  python/ql/src/analysis/Sanity.ql
  python/ql/src/external/DuplicateBlock.ql
  python/ql/src/semmle/python/Files.qll
  python/ql/src/semmle/python/pointsto/PointsTo.qll
  python/ql/test/2/library-tests/PointsTo/import_time/Pruned.ql
  python/ql/test/2/library-tests/PointsTo/origin_uniqueness/Origin.ql
  python/ql/test/3/library-tests/PointsTo/import_time/Pruned.ql
  python/ql/test/library-tests/DuplicateCode/Duplicate.ql
  python/ql/test/library-tests/DuplicateCode/Similar.ql
  python/ql/test/library-tests/PointsTo/lookup/Lookup.ql
  python/ql/test/library-tests/encoding/CheckEncoding.ql
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.ql
  python/ql/test/library-tests/taint/strings/TestNode.ql
  python/ql/test/library-tests/taint/strings/TestStep.ql
  python/ql/test/library-tests/web/falcon/Taint.ql
  python/ql/test/library-tests/web/flask/Taint.ql
  python/ql/test/library-tests/web/pyramid/Sinks.ql
  python/ql/test/library-tests/web/pyramid/Taint.ql
  python/ql/test/query-tests/Security/CWE-327/TestNode.ql
Owners: @Semmle/python

Python: Make py/hardcoded-credentials a path-problem
  python/ql/src/Security/CWE-798/HardcodedCredentials.ql
  python/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
Owners: @Semmle/python

Python: Add deprecated keyword to deprecated functions
  python/ql/src/semmle/python/Files.qll
  python/ql/src/semmle/python/Flow.qll
  python/ql/src/semmle/python/dataflow/Configuration.qll
  python/ql/src/semmle/python/dataflow/TaintTracking.qll
  python/ql/src/semmle/python/types/FunctionObject.qll
Owners: @Semmle/python

C++: Autoformat
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasAnalysis.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/AliasAnalysis.qll
Owners: @Semmle/cpp-analysis

C++: accept test changes
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
Owners: @Semmle/cpp-analysis

Python: Show that `e, f, g = tainted_list` doesn't work
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.expected
  python/ql/test/library-tests/taint/strings/TestNode.expected
  python/ql/test/library-tests/taint/strings/TestStep.expected
  python/ql/test/library-tests/taint/strings/test.py
Owners: @Semmle/python

Python: Move tests of collection-taint to own dir
  python/ql/test/library-tests/taint/collections/Taint.qll
  python/ql/test/library-tests/taint/collections/TestNode.expected
  python/ql/test/library-tests/taint/collections/TestNode.ql
  python/ql/test/library-tests/taint/collections/TestStep.expected
  python/ql/test/library-tests/taint/collections/TestStep.ql
  python/ql/test/library-tests/taint/collections/test.py
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.expected
  python/ql/test/library-tests/taint/strings/TestNode.expected
  python/ql/test/library-tests/taint/strings/TestStep.expected
  python/ql/test/library-tests/taint/strings/test.py
Owners: @Semmle/python

Python: Improve tests for StringDictKind taint
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.expected
  python/ql/test/library-tests/taint/strings/TestNode.expected
  python/ql/test/library-tests/taint/strings/TestStep.expected
  python/ql/test/library-tests/taint/strings/test.py
Owners: @Semmle/python

Python: Show that `list(tainted_string)` works
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.expected
  python/ql/test/library-tests/taint/strings/TestNode.expected
  python/ql/test/library-tests/taint/strings/TestStep.expected
  python/ql/test/library-tests/taint/strings/test.py
Owners: @Semmle/python

implement a model of WebSocket and ws based on the EventEmitter model
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/WebSocket.qll
  javascript/ql/test/library-tests/frameworks/WebSocket/browser.js
  javascript/ql/test/library-tests/frameworks/WebSocket/client.js
  javascript/ql/test/library-tests/frameworks/WebSocket/server.js
  javascript/ql/test/library-tests/frameworks/WebSocket/test.expected
  javascript/ql/test/library-tests/frameworks/WebSocket/test.ql
Owners: @Semmle/js

add change note
  change-notes/1.24/analysis-javascript.md
Owners: none

C#: Address review comments
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/test/query-tests/Nullness/E.cs
Owners: @Semmle/cs

Python: Modernise remaining web libraries.
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/web/Http.qll
  python/ql/src/semmle/python/web/cherrypy/General.qll
Owners: @Semmle/python

TS: Support tsconfig.json extending from ./node_modules
  javascript/extractor/lib/typescript/src/common.ts
  javascript/extractor/lib/typescript/src/main.ts
  javascript/extractor/lib/typescript/src/virtual_source_root.ts
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/DependencyInstallationResult.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Owners: @Semmle/js

C++: Reformat a predicate
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis
