Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go

Handle types defined in multiple assemblies
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Handle system.object missing base type
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Constructor.cs
Owners: @github/codeql-csharp

Improve QL check for path match on netcore.app.ref in exluded assemblies
  csharp/ql/src/Stubs/AllStubsFromReference.ql
Owners: @github/codeql-csharp

Fix various stubbing issues
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Add missing required private constructors
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Remove _stub.cs file generation
  csharp/ql/src/Stubs/make_stubs_nuget.py
Owners: @github/codeql-csharp

Handle types that are defined in multiple assemblies
  csharp/ql/src/Stubs/Stubs.qll
  csharp/ql/test/query-tests/Stubs/All/AllStubs.expected
Owners: @github/codeql-csharp

Add csproj generation
  csharp/ql/src/Stubs/make_stubs_nuget.py
Owners: @github/codeql-csharp

Move default excluded assembly definition
  csharp/ql/src/Stubs/AllStubsFromReference.ql
  csharp/ql/src/Stubs/AllStubsFromSource.ql
  csharp/ql/src/Stubs/MinimalStubsFromSource.ql
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Fix tuple stubbing with arity < 2
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Change base class of GeneratedDeclaration to Modifiable
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Handle special case of duplicate type constraints
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Add test for tuples with arity < 2
  csharp/ql/test/query-tests/Stubs/All/AllStubs.expected
  csharp/ql/test/query-tests/Stubs/All/Test.cs
Owners: @github/codeql-csharp

Fix code review findings
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Fix nested class names in comments of stubs expected test file
  csharp/ql/test/query-tests/Stubs/All/AllStubs.expected
Owners: @github/codeql-csharp

Add files via upload
  cpp/ql/src/experimental/Security/CWE/CWE-703/FindIncorrectlyUsedExceptions.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-703/FindIncorrectlyUsedExceptions.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-703/FindIncorrectlyUsedExceptions.ql
Owners: @github/codeql-c-analysis, @xcorail

Add files via upload
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-703/semmle/tests/FindIncorrectlyUsedExceptions.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-703/semmle/tests/FindIncorrectlyUsedExceptions.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-703/semmle/tests/test.cpp
Owners: @github/codeql-c-analysis, @xcorail

Regenerate stubs to update nested class names in comments
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.Components.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.Http.Abstractions.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.Http.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.Mvc.Abstractions.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.Mvc.Core.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.Mvc.ViewFeatures.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.Routing.Abstractions.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.SignalR.Core.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.Extensions.FileSystemGlobbing.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.Extensions.Logging.EventSource.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.Extensions.Primitives.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/System.Security.AccessControl.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/Microsoft.VisualBasic.Core.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Collections.Immutable.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Collections.Specialized.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Collections.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.ComponentModel.TypeConverter.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Diagnostics.DiagnosticSource.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Diagnostics.Tracing.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Formats.Asn1.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.IO.FileSystem.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Memory.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Net.HttpListener.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Net.Mail.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Net.Requests.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.ObjectModel.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Reflection.Metadata.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Runtime.InteropServices.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Runtime.Intrinsics.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Runtime.Loader.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Runtime.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Security.Cryptography.Algorithms.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Security.Cryptography.X509Certificates.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Text.Json.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Xml.ReaderWriter.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Xml.XmlSerializer.cs
Owners: @github/codeql-csharp

Added sinks for RmiBasedExporter and HessianExporter
  java/ql/src/experimental/Security/CWE/CWE-502/UnsafeSpringExporterLib.qll
  java/ql/src/experimental/Security/CWE/CWE-502/UnsafeSpringExporterQuery.inc.qhelp
  java/ql/test/experimental/query-tests/security/CWE-502/SpringExporterUnsafeDeserialization.java
  java/ql/test/experimental/query-tests/security/CWE-502/UnsafeSpringExporterInConfigurationClass.expected
  java/ql/test/experimental/query-tests/security/CWE-502/UnsafeSpringExporterInXMLConfiguration.expected
  java/ql/test/experimental/query-tests/security/CWE-502/beans.xml
  java/ql/test/stubs/springframework-5.2.3/org/springframework/remoting/caucho/HessianExporter.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/remoting/caucho/HessianServiceExporter.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/remoting/rmi/RmiBasedExporter.java
  java/ql/test/stubs/springframework-5.2.3/org/springframework/remoting/rmi/RmiServiceExporter.java
Owners: @github/codeql-java, @xcorail

add support for the `chokidar` library
  javascript/change-notes/2021-06-22-chokidar.md
  javascript/ql/src/semmle/javascript/frameworks/Files.qll
  javascript/ql/test/library-tests/frameworks/Concepts/tests.expected
  javascript/ql/test/library-tests/frameworks/Concepts/tst-file-names.js
Owners: @github/codeql-javascript

C++: Respond to review comments.
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
Owners: @github/codeql-c-analysis

Python: Make `import python` private in Concepts.qll
  python/ql/src/semmle/python/Concepts.qll
Owners: @github/codeql-python

Python: Apply suggestions from code review
  python/ql/src/semmle/python/frameworks/MarkupSafe.qll
Owners: @github/codeql-python

add comment about why `colors/safe` is not safe
  javascript/ql/src/semmle/javascript/frameworks/Logging.qll
Owners: @github/codeql-javascript

update change-note
  javascript/change-notes/2021-06-22-chokidar.md
Owners: @github/codeql-javascript

Python: Move pathlib tests to Python 3 only tests
  python/ql/test/library-tests/frameworks/stdlib-py3/FileSystemAccess.py
  python/ql/test/library-tests/frameworks/stdlib/FileSystemAccess.py
Owners: @github/codeql-python

Python: Add FileSystemWriteAccess concept
  python/ql/src/semmle/python/Concepts.qll
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/library-tests/frameworks/stdlib-py3/FileSystemAccess.py
  python/ql/test/library-tests/frameworks/stdlib/FileSystemAccess.py
Owners: @github/codeql-python, @xcorail

Python: Split cleartext tests
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/CleartextLogging.qlref
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/options
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/test.py
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/CleartextStorage.qlref
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/options
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/password_in_cookie.py
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/test.py
Owners: @github/codeql-python

Python: Add leading space in some inline tests
  python/ql/test/library-tests/frameworks/stdlib-py3/FileSystemAccess.py
  python/ql/test/library-tests/frameworks/stdlib/FileSystemAccess.py
Owners: @github/codeql-python

Python: Also model `pathlib.Path().open().write()`
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/stdlib-py3/FileSystemAccess.py
  python/ql/test/library-tests/frameworks/stdlib/FileSystemAccess.py
Owners: @github/codeql-python

Python: Expand cleartext query tests
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/test.py
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage-py3/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage-py3/CleartextStorage.qlref
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage-py3/options
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage-py3/test.py
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextStorage/test.py
Owners: @github/codeql-python

Fix VoidType handling
  csharp/ql/src/Stubs/Stubs.qll
Owners: @github/codeql-csharp

Regenerate stubs (add System.Void struct)
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Runtime.cs
Owners: @github/codeql-csharp

C++: Make the new SQL abstract classes extend 'Function' instead. This is more in line with how we model RemoteFlowFunction.
  cpp/ql/src/Security/CWE/CWE-089/SqlTainted.ql
  cpp/ql/src/semmle/code/cpp/models/Models.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/MySql.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/PostgreSql.qll
  cpp/ql/src/semmle/code/cpp/models/implementations/SqLite3.qll
  cpp/ql/src/semmle/code/cpp/models/interfaces/Sql.qll
  cpp/ql/src/semmle/code/cpp/security/Security.qll
  cpp/ql/src/semmle/code/cpp/security/Sql.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
Owners: @github/codeql-c-analysis

Update cpp/ql/src/semmle/code/cpp/controlflow/StackVariableReachability.qll
  cpp/ql/src/semmle/code/cpp/controlflow/StackVariableReachability.qll
Owners: @github/codeql-c-analysis

C#: Only use TRAP stack when entity is not covered by a conditional preprocessor directive
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CommentBlock.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Diagnostic.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Event.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Namespace.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/NamespaceDeclaration.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/TypeParameterConstraints.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/UsingDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/DirectiveVisitor.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entities/Base/CachedEntity`1.cs
  csharp/extractor/Semmle.Extraction/Entities/Base/FreshEntity.cs
  csharp/extractor/Semmle.Extraction/Entities/ExtractionError.cs
  csharp/extractor/Semmle.Extraction/Entities/File.cs
  csharp/extractor/Semmle.Extraction/Entities/Folder.cs
  csharp/extractor/Semmle.Extraction/TrapStackBehaviour.cs
  csharp/ql/test/library-tests/comments/DefineDirectives.expected
  csharp/ql/test/library-tests/comments/Directives.expected
  csharp/ql/test/library-tests/comments/IfDirectives.expected
  csharp/ql/test/library-tests/comments/PrintAst.expected
  csharp/ql/test/library-tests/comments/trivia.cs
Owners: @github/codeql-csharp

Apply suggestions from code review
  java/ql/src/experimental/Security/CWE/CWE-502/UnsafeSpringExporterQuery.inc.qhelp
Owners: @github/codeql-java, @xcorail

Python: Update jmespath tests
  python/ql/test/library-tests/frameworks/jmespath/taint_test.py
Owners: @github/codeql-python

Python: Apply suggestions from code review
  python/ql/src/semmle/python/frameworks/Rsa.qll
Owners: @github/codeql-python

C#: Change Newtonsoft.Json stub to nuget-based one
  csharp/ql/test/library-tests/frameworks/JsonNET/Json.cs
  csharp/ql/test/library-tests/frameworks/JsonNET/Json.expected
  csharp/ql/test/resources/stubs/JsonNET.cs
  csharp/ql/test/resources/stubs/Newtonsoft.Json/13.0.1/Newtonsoft.Json.cs
  csharp/ql/test/resources/stubs/Newtonsoft.Json/13.0.1/Newtonsoft.Json.csproj
Owners: @github/codeql-csharp
