Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205

Python: Add test to confirm #1212 is fixed.
  python/ql/test/query-tests/Statements/unreachable/imports.py
Owners: none

C++: Test for x-macro FP observed in the wild
  cpp/ql/test/query-tests/jsf/4.07 Header Files/AV Rule 35/AV Rule 35.expected
  cpp/ql/test/query-tests/jsf/4.07 Header Files/AV Rule 35/all1.cpp
  cpp/ql/test/query-tests/jsf/4.07 Header Files/AV Rule 35/all2.cpp
  cpp/ql/test/query-tests/jsf/4.07 Header Files/AV Rule 35/items3.h
Owners: @Semmle/cpp-analysis

C++: Support x-macros that are #undef'ed in header
  cpp/ql/src/jsf/4.07 Header Files/AV Rule 35.ql
  cpp/ql/test/query-tests/jsf/4.07 Header Files/AV Rule 35/AV Rule 35.expected
Owners: @Semmle/cpp-analysis

General tidy up and refactor
  csharp/ql/src/semmle/code/csharp/ir/IRConfiguration.qll
  csharp/ql/src/semmle/code/csharp/ir/Util.qll
  csharp/ql/src/semmle/code/csharp/ir/ValueNumbering.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/EdgeKind.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/ValueCategory.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRVariable.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Operand.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/PrintIR.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/constant/PrintConstantAnalysis.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCondition.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRUtilities.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/OperandTag.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/TIRVariable.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/raw_ir_sanity.expected
Owners: @Semmle/cs

Rename `Cpp` -> `CSharp`
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
Owners: @Semmle/cs

Jump statements
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/stmts.cs
Owners: @Semmle/cs

Updated expected for crement ops
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Arrays fixed, simple variable initialization fixed.
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/PrintIR.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/test/library-tests/ir/ir/array_acc.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/simple_function.cs
  csharp/ql/test/library-tests/ir/ir/test.ql
  csharp/ql/test/library-tests/ir/ir/variables.cs
Owners: @Semmle/cs

Added stmts
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/stmts.cs
Owners: @Semmle/cs

Initial work for objects and statements
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
Owners: @Semmle/cs

Work on throw statements, bug fixes, small refactor.
  csharp/ql/src/semmle/code/csharp/ir/implementation/internal/OperandTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/stmts.cs
Owners: @Semmle/cs

Added support for switch stmt (CS 6.0 style)
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRUtilities.qll
Owners: @Semmle/cs

Fixed function calls
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/test/library-tests/ir/ir/func_with_param_call.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/simple_call.cs
Owners: @Semmle/cs

Applied the review comments
  csharp/ql/src/semmle/code/csharp/ir/IR.qll
  csharp/ql/src/semmle/code/csharp/ir/IRConfiguration.qll
  csharp/ql/src/semmle/code/csharp/ir/Util.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/IRConfiguration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/SSA.md
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCondition.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Deleted folder
  csharp/ql/src/semmle/code/csharp/ir/dataflow/DataFlow.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/DataFlow2.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/DataFlow3.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/DataFlow4.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/TaintTracking.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/internal/DataFlowImplSpecific.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cs

Fixed whitespace errors in PR
  csharp/ql/src/semmle/code/csharp/ir/Util.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/EdgeKind.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
Owners: @Semmle/cs

Update csharp/ql/src/semmle/code/csharp/ir/PrintIR.ql
  csharp/ql/src/semmle/code/csharp/ir/PrintIR.ql
Owners: @Semmle/cs

Object creation and initialization + refactoring
  csharp/ql/src/semmle/code/csharp/ir/implementation/internal/OperandTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
Owners: @Semmle/cs

Update csharp/ql/src/semmle/code/csharp/ir/IRSanity.ql
  csharp/ql/src/semmle/code/csharp/ir/IRSanity.ql
Owners: @Semmle/cs

Arithmetic increment and decrement expressions
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/test/library-tests/ir/ir/crement.cs
Owners: @Semmle/cs

Fixed var addressing and other changes
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/test/library-tests/ir/ir/ir.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/simple_function.cs
  csharp/ql/test/library-tests/ir/ir/test.ql
  csharp/ql/test/library-tests/ir/ir/variables.cs
Owners: @Semmle/cs

Preliminary refactoring
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Objects tests and fix in PrintIR
  csharp/ql/test/library-tests/ir/ir/obj_creation.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Fixed and refactored code for arrays
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/test/library-tests/ir/ir/array.cs
  csharp/ql/test/library-tests/ir/ir/hs_err_pid6462.log
  csharp/ql/test/library-tests/ir/ir/obj_creation.csq
  csharp/ql/test/library-tests/ir/ir/stmts.cs
Owners: @Semmle/cs

Functional basic porting
  csharp/ql/src/semmle/code/csharp/ir/IR.qll
  csharp/ql/src/semmle/code/csharp/ir/IRConfiguration.qll
  csharp/ql/src/semmle/code/csharp/ir/IRSanity.ql
  csharp/ql/src/semmle/code/csharp/ir/PrintIR.ql
  csharp/ql/src/semmle/code/csharp/ir/PrintIR.qll
  csharp/ql/src/semmle/code/csharp/ir/Util.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/PrintIR.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCondition.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/reachability/ReachableBlockInternal.qll
  csharp/ql/test/library-tests/ir/ir/ir.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/raw_ir.qlref
  csharp/ql/test/library-tests/ir/ir/raw_ir_consist.expected
  csharp/ql/test/library-tests/ir/ir/raw_ir_sanity.qlref
  csharp/ql/test/library-tests/ir/ir/test.ql
Owners: @Semmle/cs

Update csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRSanity.ql
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRSanity.ql
Owners: @Semmle/cs

Update csharp/ql/src/semmle/code/csharp/ir/implementation/raw/PrintIR.ql
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/PrintIR.ql
Owners: @Semmle/cs

Fixed bugs, updated tests
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/test/library-tests/ir/ir/array_acc.cs
  csharp/ql/test/library-tests/ir/ir/hs_err_pid6462.log
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/variables.cs
Owners: @Semmle/cs

Synced more files
  config/identical-files.json
Owners: none

Locatable -> Language::AST
  csharp/ql/src/semmle/code/csharp/ir/Util.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCondition.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
Owners: @Semmle/cs

Casts and IsExpr
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/test/library-tests/ir/ir/isexpr.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Work on classes + refactor
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/test/library-tests/ir/ir/constructor_init.cs
  csharp/ql/test/library-tests/ir/ir/inheritance_polymorphism.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Fixed sanity checks
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
Owners: @Semmle/cs

Fixed PR errors
  csharp/ql/src/semmle/code/csharp/ir/Util.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCondition.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclaration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/TIRVariable.qll
  csharp/ql/test/library-tests/ir/ir/array.cs
  csharp/ql/test/library-tests/ir/ir/casts.cs
  csharp/ql/test/library-tests/ir/ir/constructor_init.cs
  csharp/ql/test/library-tests/ir/ir/crement.cs
  csharp/ql/test/library-tests/ir/ir/func_with_param_call.cs
  csharp/ql/test/library-tests/ir/ir/isexpr.cs
  csharp/ql/test/library-tests/ir/ir/obj_creation.cs
  csharp/ql/test/library-tests/ir/ir/prop.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
  csharp/ql/test/library-tests/ir/ir/raw_ir_sanity.expected
  csharp/ql/test/library-tests/ir/ir/simple_call.cs
  csharp/ql/test/library-tests/ir/ir/simple_function.cs
  csharp/ql/test/library-tests/ir/ir/stmts.cs
  csharp/ql/test/library-tests/ir/ir/variables.cs
Owners: @Semmle/cs

Tidy up + more comment
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Properties
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/test/library-tests/ir/ir/prop.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Synced files
  config/identical-files.json
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
Owners: @Semmle/cpp-analysis

Added cast exprs + deleted commented code
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/test/library-tests/ir/ir/casts.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Synced files
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
Owners: @Semmle/cs

C++: New change-notes file for 1.23
  change-notes/1.23/analysis-cpp.md
Owners: none
