Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

C++: Add tests and accept output
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.ql
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_uniqueness.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_uniqueness.ql
Owners: @Semmle/cpp-analysis

update docstring
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

C++: Formatting
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.ql
Owners: @Semmle/cpp-analysis

C++: Accepted ir_gvn output after toString change
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Owners: @Semmle/cpp-analysis

C++: Exclude UnknownLocation results from getLocation if there is a location that's known
  cpp/ql/src/semmle/code/cpp/ir/internal/ASTValueNumbering.qll
Owners: @Semmle/cpp-analysis

C++/C#: Sync identical files
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
Owners: @Semmle/cs

JS: Detect property enumeration through for-own
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
Owners: @Semmle/js

JS: Handle imports through lazy-cache
  javascript/ql/src/javascript.qll
  javascript/ql/src/semmle/javascript/frameworks/LazyCache.qll
Owners: @Semmle/js

JS: Add libraries to change note
  change-notes/1.24/analysis-javascript.md
Owners: none

JS: Fix qldoc comment
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
Owners: @Semmle/js

JS: Add test and handle parameter with source object
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

JS: Handle more libraries
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/tests.js
Owners: @Semmle/js

C++: Accept output
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
Owners: @Semmle/cpp-analysis

Data flow: Fix bad join order in `getReturnPosition()`
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Adds test for TruncatedQuery.
  .gitignore
  python/ql/test/query-tests/Expressions/general/expressions_test.py
Owners: @Semmle/python

C++: autoformat and accept test changes
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Owners: @Semmle/cpp-analysis

Modernizes the HashedButNoHash query.
  python/ql/src/Expressions/HashedButNoHash.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Removes erroneous addition.
  change-notes/1.23/analysis-python.md
Owners: none

Removes erroneous addition.
  python/ql/src/Security/CWE-770/MissingRateLimiting.qhelp
Owners: @felicitymay

Removes erroneous addition.
  python/ql/src/Security/CWE-770/MissingRateLimiting.ql
Owners: @Semmle/python

Removes erroneous addition.
  python/ql/src/semmle/python/web/RateLimiters.qll
Owners: @Semmle/python

Adds a bunch of predicates for `the...Type()` predicates
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Use getSourceDeclaration
  java/ql/src/Security/CWE/CWE-470/ReflectionBad.ql
Owners: @Semmle/java

JS: Add test case for lazy-cache
  javascript/ql/test/library-tests/frameworks/LazyCache/LazyCache.expected
  javascript/ql/test/library-tests/frameworks/LazyCache/LazyCache.ql
  javascript/ql/test/library-tests/frameworks/LazyCache/tst.js
Owners: @Semmle/js

add indirect command injection sink for a concatenated array
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/child_process-test.js
Owners: @Semmle/js

Remove vendored path prefix of vendored packages
  ql/src/semmle/go/Packages.qll
  ql/test/library-tests/semmle/go/Packages/PackagePath.expected
  ql/test/library-tests/semmle/go/Packages/PackagePath.ql
  ql/test/library-tests/semmle/go/Packages/go.mod
  ql/test/library-tests/semmle/go/Packages/main.go
  ql/test/library-tests/semmle/go/Packages/vendor/github.com/nonexistent-test-pkg/README.md
  ql/test/library-tests/semmle/go/Packages/vendor/github.com/nonexistent-test-pkg/pkg.go
  ql/test/library-tests/semmle/go/Packages/vendor/modules.txt
Owners: none

Package tests: Limit to specific packages
  ql/test/library-tests/semmle/go/Packages/PackagePath.expected
  ql/test/library-tests/semmle/go/Packages/PackagePath.ql
  ql/test/library-tests/semmle/go/Packages/go.mod
Owners: none

Package tests: also select raw database path
  ql/test/library-tests/semmle/go/Packages/PackagePath.expected
  ql/test/library-tests/semmle/go/Packages/PackagePath.ql
Owners: none

docs: add link to module resolution in ql spec
  docs/language/ql-handbook/modules.rst
Owners: @shati-patel, @jf205

C#: Options control whether to prefix assemblies to trap IDs.
  csharp/extractor/Semmle.Extraction.CIL.Driver/ExtractorOptions.cs
  csharp/extractor/Semmle.Extraction.CIL.Driver/Program.cs
  csharp/extractor/Semmle.Extraction.CIL/Context.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CIL/Entities/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Symbol.cs
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/extractor/Semmle.Extraction/Extractor.cs
  csharp/extractor/Semmle.Extraction/Options.cs
  csharp/ql/src/semmle/code/cil/ConsistencyChecks.qll
  csharp/ql/test/library-tests/cil/consistency/Handles.expected
  csharp/ql/test/library-tests/cil/consistency/Handles.ql
Owners: @Semmle/cs

Add call graph test.
  ql/test/library-tests/semmle/go/dataflow/CallGraph/getACall.expected
  ql/test/library-tests/semmle/go/dataflow/CallGraph/getACall.ql
  ql/test/library-tests/semmle/go/dataflow/CallGraph/getACallee.expected
  ql/test/library-tests/semmle/go/dataflow/CallGraph/getACallee.ql
  ql/test/library-tests/semmle/go/dataflow/CallGraph/main.go
Owners: none

Make CallNode.getCalleeName() more robust to missing type information.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

Teach `Function.getACall` to take virtual dispatch into account.
  ql/src/semmle/go/Scopes.qll
Owners: none

Remove `Function.getACallExpr`.
  ql/src/RedundantCode/NegativeLengthCheck.ql
  ql/src/semmle/go/Expr.qll
  ql/src/semmle/go/Scopes.qll
Owners: none

Make regular expression for format strings more precise.
  ql/src/semmle/go/StringOps.qll
Owners: none

Remove `CallExpr.getACallee()`.
  ql/src/semmle/go/Expr.qll
  ql/src/semmle/go/dataflow/internal/DataFlowDispatch.qll
Owners: none

Locally resolve calls to function expressions.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

Remove predicate `CallExpr.calls`.
  ql/src/semmle/go/Expr.qll
Owners: none

Move virtual dispatch resolution from `CallExpr` to `CallNode` and generalise it very slightly.
  ql/src/semmle/go/Expr.qll
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

Minor refactoring.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
