Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

C++: Rephrase ThisFlow to get space for ctor inits
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

C++: Field flow through ConstructorFieldInit
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/C.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
Owners: @Semmle/cpp-analysis

C++: Flow from parameters to ConstructorFieldInit
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/fields/constructors.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

JavaScript: Apply suggestions from code review
  javascript/documentation/library-customization.rst
Owners: @Semmle/js

C++: Support member initializer lists > 1000 items
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

Python points-to: Add .getAstNode() method to TaintedNode for forward compatibility with upcoming taint-tracking enhancements.
  python/ql/src/semmle/python/security/TaintTracking.qll
  python/ql/test/3/library-tests/web/django/Taint.ql
  python/ql/test/library-tests/taint/strings/DistinctStringKinds.ql
  python/ql/test/library-tests/taint/strings/TestNode.ql
  python/ql/test/library-tests/taint/strings/TestStep.ql
  python/ql/test/library-tests/web/bottle/Taint.ql
  python/ql/test/library-tests/web/falcon/Taint.ql
  python/ql/test/library-tests/web/turbogears/Taint.ql
  python/ql/test/query-tests/Security/CWE-327/TestNode.ql
Owners: none

JS: Address review comments
  docs/language/learn-ql/javascript/type-tracking.rst
Owners: @felicity-semmle, @jf205

JS: Rename the two tutorials
  docs/language/learn-ql/javascript/flow-labels.rst
  docs/language/learn-ql/javascript/type-tracking.rst
Owners: @felicity-semmle, @jf205

JS: Add type tracking templates to cheat sheet
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
Owners: @felicity-semmle, @jf205

C#: Data flow through fields (WIP)
  csharp/ql/src/semmle/code/csharp/AnnotatedType.qll
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/src/semmle/code/csharp/Property.qll
  csharp/ql/src/semmle/code/csharp/Variable.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/ControlFlowReachability.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DelegateDataFlow.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/csharp8/NullableRefTypes.ql
  csharp/ql/test/library-tests/dataflow/fields/A.cs
  csharp/ql/test/library-tests/dataflow/fields/B.cs
  csharp/ql/test/library-tests/dataflow/fields/C.cs
  csharp/ql/test/library-tests/dataflow/fields/D.cs
  csharp/ql/test/library-tests/dataflow/fields/E.cs
  csharp/ql/test/library-tests/dataflow/fields/F.cs
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.ql
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.ql
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.ql
  csharp/ql/test/library-tests/dataflow/local/Common.qll
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
Owners: @Semmle/cs

C#: Generalize CFG entry/exit nodes to include field/property initializers
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/src/semmle/code/csharp/Enclosing.qll
  csharp/ql/src/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/src/semmle/code/csharp/controlflow/BasicBlocks.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/src/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Owners: @Semmle/cs

Java: Don't use default dataflow in libs imported by default.
  java/ql/src/semmle/code/java/frameworks/google/GoogleHttpClientApi.qll
  java/ql/src/semmle/code/java/frameworks/jackson/JacksonSerializability.qll
Owners: @Semmle/java

C#: Data flow through fields
  csharp/ql/src/semmle/code/csharp/AnnotatedType.qll
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/Callable.qll
  csharp/ql/src/semmle/code/csharp/Property.qll
  csharp/ql/src/semmle/code/csharp/Variable.qll
  csharp/ql/src/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/ControlFlowReachability.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DelegateDataFlow.qll
  csharp/ql/src/semmle/code/csharp/exprs/Expr.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/csharp8/NullableRefTypes.ql
  csharp/ql/test/library-tests/dataflow/fields/A.cs
  csharp/ql/test/library-tests/dataflow/fields/B.cs
  csharp/ql/test/library-tests/dataflow/fields/C.cs
  csharp/ql/test/library-tests/dataflow/fields/D.cs
  csharp/ql/test/library-tests/dataflow/fields/E.cs
  csharp/ql/test/library-tests/dataflow/fields/F.cs
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.ql
  csharp/ql/test/library-tests/dataflow/global/DataFlowEdges.ql
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingEdges.ql
  csharp/ql/test/library-tests/dataflow/local/Common.qll
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
Owners: @Semmle/cs

C++: Support flow through LambdaExpression
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/lambdas.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Owners: @Semmle/cpp-analysis

Restore dataflow libraries clobbered by my last commit.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
Owners: @Semmle/cpp-analysis

Add Apache Shiro third-party notice
  java/ql/test/stubs/shiro-core-1.4.0/NOTICE
Owners: @Semmle/java

Add j2objc license
  java/ql/test/stubs/j2objc/LICENSE
Owners: @Semmle/java

Add jquery-datatables license to make it clear which option we choose
  javascript/ql/test/query-tests/filters/ClassifyFiles/LICENSE-jquery-datatables.txt
Owners: @Semmle/js

Add PSF license
  python/ql/test/LICENSE-PSF.md
Owners: none

Add Babylon license
  javascript/extractor/LICENSE-babylon.md
  javascript/extractor/README.md
Owners: @Semmle/js

Add Java stubs readme
  java/ql/test/stubs/README.md
Owners: @Semmle/java

Java: remove obsolete `VCS.qll` and associated queries
  java/ql/src/Metrics/History/HChurn.qhelp
  java/ql/src/Metrics/History/HChurn.ql
  java/ql/src/Metrics/History/HLinesAdded.qhelp
  java/ql/src/Metrics/History/HLinesAdded.ql
  java/ql/src/Metrics/History/HLinesDeleted.qhelp
  java/ql/src/Metrics/History/HLinesDeleted.ql
  java/ql/src/Metrics/History/HNumberOfAuthors.qhelp
  java/ql/src/Metrics/History/HNumberOfAuthors.ql
  java/ql/src/Metrics/History/HNumberOfChanges.qhelp
  java/ql/src/Metrics/History/HNumberOfChanges.ql
  java/ql/src/Metrics/History/HNumberOfRecentChanges.qhelp
  java/ql/src/Metrics/History/HNumberOfRecentChanges.ql
  java/ql/src/config/semmlecode.dbscheme
  java/ql/src/config/semmlecode.dbscheme.stats
  java/ql/src/external/VCS.qll
  java/ql/src/filters/RecentDefects.ql
  java/ql/src/filters/RecentDefectsForMetric.ql
Owners: @felicity-semmle, @Semmle/java

Java: add change note for `VCS.qll` removal
  change-notes/1.22/analysis-java.md
Owners: none

Zlaski/cpp386a (#1753)
  cpp/ql/src/semmle/code/cpp/Class.qll
  cpp/ql/src/semmle/code/cpp/File.qll
  cpp/ql/src/semmle/code/cpp/FriendDecl.qll
  cpp/ql/src/semmle/code/cpp/Macro.qll
  cpp/ql/src/semmle/code/cpp/Namespace.qll
  cpp/ql/src/semmle/code/cpp/Preprocessor.qll
  cpp/ql/src/semmle/code/cpp/Specifier.qll
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Nullness.qll
  cpp/ql/src/semmle/code/cpp/exprs/Access.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/stmts/Stmt.qll
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Owners: @Semmle/cpp-analysis

CPP: Examples Lambda.qll.
  cpp/ql/src/semmle/code/cpp/exprs/Lambda.qll
Owners: @Semmle/cpp-analysis

CPP: Examples Macro.qll.
  cpp/ql/src/semmle/code/cpp/Macro.qll
Owners: @Semmle/cpp-analysis

C++: Test to show false flow through object copy
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

JS: Address comments
  docs/language/learn-ql/javascript/type-tracking.rst
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
Owners: @felicity-semmle, @jf205, @Semmle/js

CPP: Examples Comments.qll.
  cpp/ql/src/semmle/code/cpp/Comments.qll
Owners: @Semmle/cpp-analysis

CPP: Examples FriendDecl.qll.
  cpp/ql/src/semmle/code/cpp/FriendDecl.qll
Owners: @Semmle/cpp-analysis

CPP: Examples Field.qll.
  cpp/ql/src/semmle/code/cpp/Field.qll
Owners: @Semmle/cpp-analysis

C++: Remove the primitive field flow in FlowVar
  cpp/ql/src/semmle/code/cpp/dataflow/internal/FlowVar.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

Java/C++/C#: Add field flow support for stores in nested fields.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/test/library-tests/dataflow/fields/D.java
  java/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

TS: Add debugging flag and document how to run the debugger
  javascript/extractor/lib/typescript/README.md
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Owners: @Semmle/js

CPP: Add a test of NameQualifiableElement and NameQualifyingElement.
  cpp/ql/test/library-tests/namespaces/namespaces/namequalifiable.expected
  cpp/ql/test/library-tests/namespaces/namespaces/namequalifiable.ql
Owners: @Semmle/cpp-analysis

CPP: Examples NameQualifiers.qll.
  cpp/ql/src/semmle/code/cpp/NameQualifiers.qll
Owners: @Semmle/cpp-analysis

CPP: Examples Include.qll.
  cpp/ql/src/semmle/code/cpp/Include.qll
Owners: @Semmle/cpp-analysis

Python tests: TEMPORARILY remove 5 tests to allow modification of extractor CFG pass.
  python/ql/test/library-tests/ControlFlow/splitting/SuccessorCount.expected
  python/ql/test/library-tests/ControlFlow/splitting/SuccessorCount.ql
  python/ql/test/library-tests/ControlFlow/truefalse/ExceptionalSuccessors.expected
  python/ql/test/library-tests/ControlFlow/truefalse/ExceptionalSuccessors.ql
  python/ql/test/library-tests/ControlFlow/truefalse/TrueFalseSuccessors.expected
  python/ql/test/library-tests/ControlFlow/truefalse/TrueFalseSuccessors.ql
  python/ql/test/library-tests/PointsTo/new/Dataflow.expected
  python/ql/test/library-tests/PointsTo/new/Dataflow.ql
  python/ql/test/query-tests/Resources/Dataflow.expected
  python/ql/test/query-tests/Resources/Dataflow.ql
Owners: none

C#: Avoid recomputation in last data flow stage
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dispatch/Dispatch.qll
Owners: @Semmle/cs

C#: Use `TaintTracking2` in `cs/inappropriate-encoding`
  csharp/ql/src/Security Features/CWE-838/InappropriateEncoding.ql
Owners: @Semmle/cs

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205
