Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

JS: Fix the FP
  javascript/ql/src/Security/CWE-020/IncorrectSuffixCheck.ql
  javascript/ql/test/query-tests/Security/CWE-020/IncorrectSuffixCheck.expected
Owners: @Semmle/js

JS: Change note
  change-notes/1.23/analysis-javascript.md
Owners: none

C#: Adjust date query severity and add precisions. Tidy up tags.
  csharp/ql/src/Likely Bugs/LeapYear/UnsafeYearConstruction.ql
  csharp/ql/src/Likely Bugs/MishandlingJapaneseEra.ql
Owners: @Semmle/cs

C#: Add change note for datetime queries.
  change-notes/1.23/analysis-csharp.md
Owners: none

Vale linter: fix typo
  docs/language/vale-styles/Semmle/ignore.txt
Owners: @felicity-semmle, @jf205

C++: Update test output
  cpp/ql/test/library-tests/structs/qualified_names/pointerBaseType.expected
Owners: @Semmle/cpp-analysis

C++: Resolve all classes
  cpp/ql/src/semmle/code/cpp/internal/ResolveClass.qll
Owners: @Semmle/cpp-analysis

Framework for the translation of compiler elements
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Common.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedCondition.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedDeclaration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedStmt.qll
Owners: @Semmle/cs

Initial restructure
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCondition.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclaration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedCallBlueprint.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedConditionBlueprint.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedDeclarationBlueprint.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedExprBlueprint.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/OperandTag.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Delegate creation and call
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Delegate.qll
  csharp/ql/test/library-tests/ir/ir/delegates.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Lock stmt
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Lock.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/TempVariableTag.qll
  csharp/ql/test/library-tests/ir/ir/lock.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Foreach stmt
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Foreach.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/TempVariableTag.qll
  csharp/ql/test/library-tests/ir/ir/foreach.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Fixed sanity checks
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Foreach.qll
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

Fix some PR comments
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Delegate.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Foreach.qll
Owners: @Semmle/cs

More PR fixes
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedFunction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedDeclarationBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Delegate.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Foreach.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Lock.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/IRUtilities.qll
  csharp/ql/test/library-tests/ir/ir/lock.cs
  csharp/ql/test/library-tests/ir/ir/raw_ir.expected
Owners: @Semmle/cs

More PR fixes
  csharp/ql/src/semmle/code/csharp/ir/internal/IRCSharpLanguage.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/OperandTag.qll
Owners: @Semmle/cs

More fixes for the PR comments
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/IRConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/InstructionTag.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedCondition.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedDeclaration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedInitialization.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/TranslatedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedCallBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedConditionBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedDeclarationBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/common/TranslatedExprBase.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Common.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Delegate.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Foreach.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Lock.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/Using.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedCall.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedCondition.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedDeclaration.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedElement.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedExpr.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedStmt.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/OperandTag.qll
  csharp/ql/src/semmle/code/csharp/ir/internal/TempVariableTag.qll
Owners: @Semmle/cs

add setAttributeNS method in the XSS test
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst3.js
Owners: @Semmle/js

JS: simplify cache interaction
  javascript/extractor/src/com/semmle/js/extractor/ExtractionMetrics.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/test/TrapTests.java
  javascript/ql/src/semmle/javascript/meta/ExtractionMetrics.qll
Owners: @Semmle/js

JS: apply google-java-format to extractor source code
  javascript/extractor/src/com/semmle/js/ast/DefaultVisitor.java
  javascript/extractor/src/com/semmle/js/ast/Visitor.java
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/TypeExprKinds.java
  javascript/extractor/src/com/semmle/js/extractor/test/AutoBuildTests.java
  javascript/extractor/src/com/semmle/js/parser/JSDocParser.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
  javascript/extractor/src/com/semmle/ts/ast/UnaryTypeExpr.java
  javascript/extractor/src/com/semmle/ts/extractor/TypeExtractor.java
Owners: @Semmle/js

JS: record metrics during extraction
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/CFGExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/ExtractionMetrics.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/HTMLExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/JSExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/LexicalExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/src/com/semmle/js/extractor/TextualExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/TypeScriptExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/test/NodeJSDetectorTests.java
  javascript/extractor/src/com/semmle/js/parser/JSParser.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptParser.java
Owners: @Semmle/js

JS: additional extraction metrics cleanup
  javascript/ql/src/meta/extraction-metrics/FileData.ql
  javascript/ql/src/meta/extraction-metrics/MissingMetrics.ql
  javascript/ql/src/meta/extraction-metrics/PhaseTimings.ql
  javascript/ql/src/semmle/javascript/meta/ExtractionMetrics.qll
  javascript/ql/src/semmlecode.javascript.dbscheme
Owners: @Semmle/js

JS: add QL classes for the extraction metrics
  javascript/ql/src/meta/extraction-metrics/FileData.ql
  javascript/ql/src/meta/extraction-metrics/MissingMetrics.ql
  javascript/ql/src/meta/extraction-metrics/PhaseTimings.ql
  javascript/ql/src/semmle/javascript/meta/ExtractionMetrics.qll
  javascript/ql/test/library-tests/meta/Extraction/FileWithExtractionMetrics.expected
  javascript/ql/test/library-tests/meta/Extraction/FileWithExtractionMetrics.ql
  javascript/ql/test/library-tests/meta/Extraction/FileWithExtractionMetrics_length.expected
  javascript/ql/test/library-tests/meta/Extraction/FileWithExtractionMetrics_length.ql
  javascript/ql/test/library-tests/meta/Extraction/FileWithExtractionMetrics_phases.expected
  javascript/ql/test/library-tests/meta/Extraction/FileWithExtractionMetrics_phases.ql
  javascript/ql/test/library-tests/meta/Extraction/tst.html
  javascript/ql/test/library-tests/meta/Extraction/tst.js
  javascript/ql/test/library-tests/meta/Extraction/tst.ts
  javascript/ql/test/library-tests/meta/Extraction/tst2.js
Owners: @Semmle/js

JS: add extraction metrics to the dbscheme
  javascript/ql/src/semmlecode.javascript.dbscheme.stats
  javascript/upgrades/b9202b62ec8a0304316515941cb45646c6dd6fdd/old.dbscheme
  javascript/upgrades/b9202b62ec8a0304316515941cb45646c6dd6fdd/semmlecode.javascript.dbscheme
  javascript/upgrades/b9202b62ec8a0304316515941cb45646c6dd6fdd/upgrade.properties
Owners: @Semmle/js

JS: fixup dbscheme in upgrade directory
  javascript/upgrades/b9202b62ec8a0304316515941cb45646c6dd6fdd/semmlecode.javascript.dbscheme
Owners: @Semmle/js

docs: fix broken `Expr` links
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: @felicity-semmle, @jf205

JS: address review comments
  javascript/extractor/src/com/semmle/js/extractor/ExtractionMetrics.java
  javascript/ql/src/semmle/javascript/meta/ExtractionMetrics.qll
Owners: @Semmle/js

C++: Make PartialDefinitionNode private
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

C++: Test to show lack of flow from `this` by ref.
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

C++: Fix flow from `this` by ref.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/by_reference.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

add setAttributeNS('xlink', 'href',..) example in XSS test
  javascript/ql/test/query-tests/Security/CWE-079/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/tst3.js
Owners: @Semmle/js

C++: Add D.cpp, ported from D.java
  cpp/ql/test/library-tests/dataflow/fields/D.cpp
  cpp/ql/test/library-tests/dataflow/fields/flow.expected
Owners: @Semmle/cpp-analysis

C++: Fixes from Geoffrey's review round 3
  cpp/ql/src/semmle/code/cpp/exprs/Assignment.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/internal/QualifiedName.qll
Owners: @Semmle/cpp-analysis

C++: Fix long comments without * on each line
  cpp/ql/src/jsf/4.09 Style/AV Rule 63.ql
  cpp/ql/src/jsf/4.10 Classes/AV Rule 73.ql
  cpp/ql/src/jsf/4.24 Control Flow Structures/AV Rule 191.ql
  cpp/ql/src/semmle/code/cpp/metrics/MetricClass.qll
Owners: @Semmle/cpp-analysis

C++: Prepare BufferWrite.qll for autoformat
  cpp/ql/src/semmle/code/cpp/security/BufferWrite.qll
Owners: @Semmle/cpp-analysis

C++: Don't use @param in QLDoc
  cpp/ql/src/semmle/code/cpp/commons/Printf.qll
  cpp/ql/src/semmle/code/cpp/commons/Scanf.qll
  cpp/ql/src/semmle/code/cpp/security/TaintTracking.qll
Owners: @Semmle/cpp-analysis

C++: Simplify has{Copy,Move}Signature
  cpp/ql/src/semmle/code/cpp/Function.qll
Owners: @Semmle/cpp-analysis

C++: Turn more "short" comments into "long"
  cpp/ql/src/Likely Bugs/OO/NonVirtualDestructorInBaseClass.ql
  cpp/ql/src/jsf/4.09 Style/AV Rule 45.ql
  cpp/ql/src/jsf/4.09 Style/AV Rule 53.ql
  cpp/ql/src/jsf/4.10 Classes/AV Rule 78.ql
  cpp/ql/src/jsf/4.10 Classes/AV Rule 82.ql
  cpp/ql/src/jsf/4.15 Declarations and Definitions/AV Rule 138.ql
  cpp/ql/src/jsf/4.18 Constants/AV Rule 151.1.ql
  cpp/ql/src/jsf/4.20 Unions and Bit Fields/AV Rule 153.ql
  cpp/ql/src/jsf/4.20 Unions and Bit Fields/AV Rule 156.ql
  cpp/ql/src/jsf/4.21 Operators/AV Rule 157.ql
  cpp/ql/src/jsf/4.21 Operators/AV Rule 158.ql
  cpp/ql/src/jsf/4.21 Operators/AV Rule 159.ql
  cpp/ql/src/jsf/4.21 Operators/AV Rule 165.ql
  cpp/ql/src/jsf/4.21 Operators/AV Rule 168.ql
  cpp/ql/src/jsf/4.22 Pointers and References/AV Rule 173.ql
  cpp/ql/src/jsf/4.25 Expressions/AV Rule 202.ql
  cpp/ql/src/jsf/4.28 Portable Code/AV Rule 212.ql
  cpp/ql/src/jsf/4.28 Portable Code/AV Rule 213.ql
  cpp/ql/src/semmle/code/cpp/commons/Assertions.qll
  cpp/ql/src/semmle/code/cpp/controlflow/Guards.qll
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
  cpp/ql/src/semmle/code/cpp/security/Overflow.qll
Owners: @Semmle/cpp-analysis

C++: Fixes to avoid confusing autoformat
  cpp/ql/src/Critical/NotInitialised.ql
  cpp/ql/src/JPL_C/LOC-2/Rule 03/LoopBounds.ql
  cpp/ql/src/Likely Bugs/Arithmetic/PointlessSelfComparison.ql
  cpp/ql/src/Likely Bugs/Memory Management/UninitializedLocal.ql
  cpp/ql/src/Metrics/Files/FNumberOfClasses.ql
  cpp/ql/src/Microsoft/SAL.qll
  cpp/ql/src/Power of 10/Rule 2/BoundedLoopIterations.ql
  cpp/ql/src/Power of 10/Rule 7/CheckArguments.ql
  cpp/ql/src/Security/CWE/CWE-120/BadlyBoundedWrite.ql
  cpp/ql/src/Security/CWE/CWE-120/OverrunWrite.ql
  cpp/ql/src/Security/CWE/CWE-120/OverrunWriteFloat.ql
  cpp/ql/src/Security/CWE/CWE-120/UnboundedWrite.ql
  cpp/ql/src/Security/CWE/CWE-290/AuthenticationBypass.ql
  cpp/ql/src/Security/CWE/CWE-676/DangerousUseOfCin.ql
  cpp/ql/src/Security/CWE/CWE-764/TwiceLocked.ql
  cpp/ql/src/jsf/3.02 Code Size and Complexity/AV Rule 2.ql
  cpp/ql/src/jsf/4.09 Style/AV Rule 46.ql
  cpp/ql/src/jsf/4.09 Style/AV Rule 48.ql
  cpp/ql/src/jsf/4.09 Style/AV Rule 49.ql
  cpp/ql/src/jsf/4.10 Classes/AV Rule 71.1.ql
  cpp/ql/src/jsf/4.10 Classes/AV Rule 71.ql
Owners: @Semmle/cpp-analysis

C++: Don't use deprecated predicates in test
  cpp/ql/src/semmle/code/cpp/TypedefType.qll
  cpp/ql/test/library-tests/typedefs/Typedefs3.expected
  cpp/ql/test/library-tests/typedefs/Typedefs3.ql
Owners: @Semmle/cpp-analysis

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205
