Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

C++: Fix false positives
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.cpp
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/PointlessComparison/PointlessComparison.expected
Owners: @Semmle/cpp-analysis

C++: The extractor already provides the getValue result when the variable is a local variable. Thus we can simplify the QL code.
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Owners: @Semmle/cpp-analysis

C++: Change note.
  change-notes/1.24/analysis-cpp.md
Owners: none

refactor based on review
  javascript/ql/src/semmle/javascript/frameworks/jQuery.qll
Owners: @Semmle/js

JS: Dont report TypeScript diagnostics by default
  javascript/extractor/lib/typescript/src/main.ts
Owners: @Semmle/js

Add execve to CommandExecution
  cpp/ql/src/semmle/code/cpp/security/CommandExecution.qll
Owners: @Semmle/cpp-analysis

C++: Update expression precedences
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/BitwiseOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Call.qll
  cpp/ql/src/semmle/code/cpp/exprs/Cast.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
Owners: @Semmle/cpp-analysis

C++: Add support for the spaceship operator
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis

C++: Update DB Stats
  cpp/ql/src/semmlecode.cpp.dbscheme.stats
Owners: @Semmle/cpp-analysis

C++: Add upgrade script
  cpp/upgrades/c9ac0461491edef3b1ab79f03d007a47522dda90/old.dbscheme
  cpp/upgrades/c9ac0461491edef3b1ab79f03d007a47522dda90/semmlecode.cpp.dbscheme
  cpp/upgrades/c9ac0461491edef3b1ab79f03d007a47522dda90/upgrade.properties
Owners: @Semmle/cpp-analysis

add isRelevant check on flowStep predicate
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

add more models for file related sinks and sources
  javascript/ql/src/semmle/javascript/frameworks/Files.qll
  javascript/ql/test/library-tests/frameworks/Concepts/FileAccess.expected
  javascript/ql/test/library-tests/frameworks/Concepts/FileAccess.ql
  javascript/ql/test/library-tests/frameworks/Concepts/FileNameSource.expected
  javascript/ql/test/library-tests/frameworks/Concepts/file-access.js
Owners: @Semmle/js

Python: Use `TUnknown` instead of `TUnknownInstance`.
  python/ql/src/semmle/python/objects/Callables.qll
Owners: @Semmle/python

docs: update titles and intros (writing codeql queries)
  docs/language/learn-ql/intro-to-data-flow.rst
  docs/language/learn-ql/locations.rst
  docs/language/learn-ql/writing-queries/debugging-queries.rst
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/learn-ql/writing-queries/path-queries.rst
  docs/language/learn-ql/writing-queries/query-help.rst
  docs/language/learn-ql/writing-queries/query-metadata.rst
  docs/language/learn-ql/writing-queries/select-statement.rst
Owners: @shati-patel, @jf205

docs: open-source -> open source
  docs/language/learn-ql/ql-training.rst
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
Owners: @shati-patel, @jf205

docs: retitle locations
  docs/language/learn-ql/locations.rst
Owners: @shati-patel, @jf205

docs: rework 'CodeQL queries' landing page
  docs/language/learn-ql/writing-queries/writing-queries.rst
Owners: @shati-patel, @jf205

docs: update links following titles changes
  docs/language/learn-ql/cpp/dataflow.rst
  docs/language/learn-ql/csharp/dataflow.rst
  docs/language/learn-ql/intro-to-data-flow.rst
  docs/language/learn-ql/java/dataflow.rst
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/language/learn-ql/javascript/dataflow.rst
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
  docs/language/learn-ql/writing-queries/path-queries.rst
  docs/language/learn-ql/writing-queries/query-metadata.rst
  docs/language/learn-ql/writing-queries/select-statement.rst
Owners: @shati-patel, @jf205

docs: 'About CodeQL queries' content updates
  docs/language/learn-ql/writing-queries/introduction-to-queries.rst
Owners: @shati-patel, @jf205

Python: Fix up tests.
  python/ql/test/2/library-tests/types/functions/ReturnTypes.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithContext.expected
  python/ql/test/library-tests/PointsTo/new/PointsToWithType.expected
  python/ql/test/library-tests/PointsTo/new/Values.expected
Owners: @Semmle/python

Python: Fix comment based on review.
  python/ql/test/library-tests/PointsTo/new/PointsToMissing.ql
Owners: @Semmle/python

Python: Fix test result for pruning test.
  python/ql/test/query-tests/analysis/pointsto/Pruned.expected
Owners: @Semmle/python

C++: Support the mirror case with <=.
  cpp/ql/src/Likely Bugs/Arithmetic/UnsignedGEZero.qll
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.c
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.cpp
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.expected
Owners: @Semmle/cpp-analysis

C++: Behaviour preserving transform.
  cpp/ql/src/Likely Bugs/Arithmetic/UnsignedGEZero.qll
Owners: @Semmle/cpp-analysis

C++: Additional test cases for the recursive bit of UnsignedGEZero.
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.c
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.cpp
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.expected
Owners: @Semmle/cpp-analysis

C++: Change note.
  change-notes/1.24/analysis-cpp.md
Owners: none

C++: Add some test cases for the mirror case, with <=.
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.c
  cpp/ql/test/query-tests/Likely Bugs/Arithmetic/UnsignedGEZero/UnsignedGEZero.cpp
Owners: @Semmle/cpp-analysis

Remove an unused and potentially confusing predicate.
  ql/src/semmle/go/Types.qll
  ql/test/library-tests/semmle/go/Types/MethodDecls.expected
  ql/test/library-tests/semmle/go/Types/MethodDecls.ql
Owners: none

C#: Add test for `cs/dereferenced-value-may-be-null`
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Owners: @Semmle/cs

Python: Fix up regression comment.
  python/ql/test/library-tests/PointsTo/regressions/missing/if-urlsplit-access/test.py
Owners: @Semmle/python

Update javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/Promises.qll
Owners: @Semmle/js

C++: Fixup test .expected files after merge.
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
Owners: @Semmle/cpp-analysis

refactor StepSummary into an internal .qll
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/StepSummary.qll
  javascript/ql/src/semmle/javascript/frameworks/Files.qll
Owners: @Semmle/js

Python: ObjectAPI.qll: Adds `getOrigin` predicate
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Python: Exceptions.qll: Updates `handledObject` to use `getOrigin`
  python/ql/src/semmle/python/types/Exceptions.qll
Owners: @Semmle/python

JS: add Mongoose Document tests
  javascript/ql/test/query-tests/Security/CWE-089/untyped/DatabaseAccesses.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
Owners: @Semmle/js

JS: add Mongoose createConnection tests
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
Owners: @Semmle/js

JS: fixup mongoose test
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
  javascript/ql/test/query-tests/Security/CWE-089/untyped/mongoose.js
Owners: @Semmle/js

JS: model Mongoose Document for additional js/nosql-injection sinks
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
Owners: @Semmle/js

JS: model mongoose Model on createConnection.<model/models>
  javascript/ql/src/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/test/query-tests/Security/CWE-089/untyped/SqlInjection.expected
Owners: @Semmle/js

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
