Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

Python: Add bottle improvement to change-notes
  change-notes/1.25/analysis-python.md
Owners: none

Replace broken link
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/creating-a-boosted-query.md
Owners: @github/codeql-javascript

ATM: Initial commit of ATM for JavaScript beta
  javascript/ql/src/experimental/adaptivethreatmodeling/ATMConfig.qll
  javascript/ql/src/experimental/adaptivethreatmodeling/AdaptiveThreatModeling.qll
  javascript/ql/src/experimental/adaptivethreatmodeling/CodeToFeatures.qll
  javascript/ql/src/experimental/adaptivethreatmodeling/CoreKnowledge.qll
  javascript/ql/src/experimental/adaptivethreatmodeling/EndpointFilterUtils.qll
  javascript/ql/src/experimental/adaptivethreatmodeling/NosqlInjectionATM.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/README.md
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/ATM.svg
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/about-adaptive-threat-modeling.md
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/creating-a-boosted-query.md
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/optional-step6-all-results.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step1.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step2.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step3.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step4.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step5.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step6.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/support-and-feedback.md
Owners: @github/codeql-javascript

ATM: Initial commit of ATM for JavaScript beta
  javascript/ql/src/experimental/adaptivethreatmodeling/ATMConfig.qll
  javascript/ql/src/experimental/adaptivethreatmodeling/AdaptiveThreatModeling.qll
  javascript/ql/src/experimental/adaptivethreatmodeling/CodeToFeatures.qll
  javascript/ql/src/experimental/adaptivethreatmodeling/CoreKnowledge.qll
  javascript/ql/src/experimental/adaptivethreatmodeling/EndpointFilterUtils.qll
  javascript/ql/src/experimental/adaptivethreatmodeling/NosqlInjectionATM.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/README.md
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/ATM.svg
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/about-adaptive-threat-modeling.md
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/creating-a-boosted-query.md
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/optional-step6-all-results.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step1.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step2.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step3.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step4.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step5.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/resources/step6.ql
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/support-and-feedback.md
Owners: @github/codeql-javascript

correct "known endpoints" to "candidate endpoints"
  javascript/ql/src/experimental/adaptivethreatmodeling/docs/about-adaptive-threat-modeling.md
Owners: @github/codeql-javascript

Update ql/src/semmle/go/frameworks/Email.qll
  ql/src/semmle/go/frameworks/Email.qll
Owners: none

Add support for Mux library
  change-notes/2020-05-05-mux-model.md
  ql/src/go.qll
  ql/src/semmle/go/frameworks/Mux.qll
  ql/test/library-tests/semmle/go/frameworks/Mux/UntrustedFlowSources.expected
  ql/test/library-tests/semmle/go/frameworks/Mux/UntrustedFlowSources.ql
  ql/test/library-tests/semmle/go/frameworks/Mux/go.mod
  ql/test/library-tests/semmle/go/frameworks/Mux/mux.go
  ql/test/library-tests/semmle/go/frameworks/Mux/vendor/github.com/gorilla/mux/LICENSE
  ql/test/library-tests/semmle/go/frameworks/Mux/vendor/github.com/gorilla/mux/stub.go
  ql/test/library-tests/semmle/go/frameworks/Mux/vendor/modules.txt
Owners: none

Add two function models for handling MIME APIs.
  ql/src/semmle/go/frameworks/Email.qll
Owners: none

Simplify modeling of `NewContent`.
  ql/src/semmle/go/frameworks/Email.qll
  ql/test/experimental/CWE-640/EmailInjection.expected
  ql/test/library-tests/semmle/go/frameworks/Email/MailData.expected
Owners: none

Add change note for `CleartextLogging`.
  change-notes/2020-05-05-clear-text-logging.md
Owners: none

Tweak test.
  ql/test/library-tests/semmle/go/frameworks/Email/EmailData.expected
  ql/test/library-tests/semmle/go/frameworks/Email/EmailData.ql
  ql/test/library-tests/semmle/go/frameworks/Email/MailData.expected
  ql/test/library-tests/semmle/go/frameworks/Email/mail.go
Owners: none

Improve and extend various standard-library function models.
  ql/src/semmle/go/frameworks/Stdlib.qll
Owners: none

change getSplitAt to getSeparator
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
Owners: @github/codeql-javascript

fix number of arguments for String.prototype.split
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
Owners: @github/codeql-javascript

change naming of StringSplitCall methods
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
Owners: @github/codeql-javascript

update expected output
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
Owners: @github/codeql-javascript

change getAnElementRead to getASubstringRead
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
Owners: @github/codeql-javascript

add change note for js/xss
  change-notes/1.25/analysis-javascript.md
Owners: none

add change note and new test for js/incomplete-url-scheme-check
  change-notes/1.25/analysis-javascript.md
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck.js
Owners: @github/codeql-javascript

add test and change-note to prototype-polution
  change-notes/1.25/analysis-javascript.md
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility.expected
  javascript/ql/test/query-tests/Security/CWE-400/PrototypePollutionUtility/path-assignment.js
Owners: @github/codeql-javascript

C++: Autoformat.
  cpp/ql/src/semmle/code/cpp/Namespace.qll
Owners: @github/codeql-c-analysis

Data flow: Support stores into nodes that are not `PostUpdateNode`s
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java

more -> additional
  change-notes/1.25/analysis-javascript.md
Owners: none

JS: address review comments
  javascript/ql/src/Security/CWE-116/UnsafeHtmlExpansion.ql
Owners: @github/codeql-javascript

C++: Fix isfromtemplateinstantiation test.
  cpp/ql/test/library-tests/templates/isfromtemplateinstantiation/isfromtemplateinstantiation.ql
Owners: @github/codeql-c-analysis

Update javascript/ql/src/experimental/Security/CWE-94/ServerSideTemplateInjection.qhelp
  javascript/ql/src/experimental/Security/CWE-94/ServerSideTemplateInjection.qhelp
Owners: @mchammer01

Update javascript/ql/src/experimental/Security/CWE-94/ServerSideTemplateInjection.qhelp
  javascript/ql/src/experimental/Security/CWE-94/ServerSideTemplateInjection.qhelp
Owners: @mchammer01
