Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

Data flow: Fix bad join-order in `TPathNodeSink`
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Suppress unhelpful magic.
  ql/src/semmle/go/Scopes.qll
Owners: none

Fix squirrel test build
  ql/test/query-tests/Security/CWE-089/vendor/github.com/Masterminds/squirrel/squirrel.go
Owners: none

Remove accidentally added CleartextStorage tests
  ql/test/query-tests/Security/CWE-312/CleartextStorage.go
  ql/test/query-tests/Security/CWE-312/CleartextStorageGood.go
Owners: none

Fix CleartextStorage tests
  ql/src/Security/CWE-312/CleartextLoggingGood.go
  ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  ql/test/query-tests/Security/CWE-312/CleartextLoggingGood.go
  ql/test/query-tests/Security/CWE-312/go.mod
  ql/test/query-tests/Security/CWE-312/main.go
  ql/test/query-tests/Security/CWE-312/server1.go
  ql/test/query-tests/Security/CWE-312/util.go
  ql/test/query-tests/Security/CWE-312/vendor/github.com/golang/glog/LICENSE
  ql/test/query-tests/Security/CWE-312/vendor/github.com/golang/glog/README.md
  ql/test/query-tests/Security/CWE-312/vendor/github.com/golang/glog/glog.go
  ql/test/query-tests/Security/CWE-312/vendor/github.com/sirupsen/logrus/LICENSE
  ql/test/query-tests/Security/CWE-312/vendor/github.com/sirupsen/logrus/README.md
  ql/test/query-tests/Security/CWE-312/vendor/github.com/sirupsen/logrus/logrus.go
  ql/test/query-tests/Security/CWE-312/vendor/modules.txt
Owners: none

Remove build ignore from HardcodedCredentials example
  ql/src/Security/CWE-798/HardcodedCredentials.go
Owners: none

JS: model the `send` library for `js/path-injection`
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
Owners: @Semmle/js

Fix typos in QL language spec
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

Remove trailing ; in QL language spec
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

update expected output of tests
  javascript/ql/test/library-tests/TaintBarriers/SanitizingGuard.expected
  javascript/ql/test/library-tests/TaintTracking/DataFlowTracking.expected
  javascript/ql/test/library-tests/TaintTracking/sanitizer-guards.js
Owners: @Semmle/js

Java: Add String.format as default taint step.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Owners: @Semmle/java

JS: make DynamicPropertyAccess.qll from PrototypePollutionUtility.ql
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/DynamicPropertyAccess.qll
Owners: @Semmle/js

JS: remove unused imports
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
Owners: @Semmle/js

Java: Add String.join as default taint step.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Owners: @Semmle/java

JS: Improve flow through partial invokes
  javascript/ql/src/semmle/javascript/Closure.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/src/semmle/javascript/frameworks/AngularJS/AngularJSCore.qll
Owners: @Semmle/js

JS: Rewrite AnalyzedThisInArrayIterationFunction
  javascript/ql/src/semmle/javascript/StandardLibrary.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/InterProceduralTypeInference.qll
Owners: @Semmle/js

JS: Rewrite React::AnalyzedThisInBoundCallback
  javascript/ql/src/semmle/javascript/frameworks/React.qll
Owners: @Semmle/js

expose TaintTracking::arrayFunctionTaintStep and add a step for "concat"
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Owners: @Semmle/js

JS: Rewrite LodashUnderscore::AnalyzedThisInBoundCallback
  javascript/ql/src/semmle/javascript/frameworks/LodashUnderscore.qll
Owners: @Semmle/js

expand how indirectCommandArguments are found
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/child_process-test.js
Owners: @Semmle/js

cpp: Adds a member predicate to get a FunctionAccess from a Function
  cpp/ql/src/semmle/code/cpp/Function.qll
Owners: @Semmle/cpp-analysis

Rename `Comparison` to `ComparisonExpr`.
  ql/src/InconsistentCode/WhitespaceContradictsPrecedence.ql
  ql/src/RedundantCode/CompareIdenticalValues.ql
  ql/src/RedundantCode/NegativeLengthCheck.ql
  ql/src/semmle/go/Expr.qll
Owners: none

Rename `ParenExpr.getExpression()` to `getExpr()` for consistency with similar predicates in other classes.
  ql/src/semmle/go/Expr.qll
  ql/src/semmle/go/controlflow/ControlFlowGraph.qll
  ql/src/semmle/go/controlflow/ControlFlowGraphImpl.qll
  ql/src/semmle/go/controlflow/IR.qll
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

JS: Update expected output of existing test
  javascript/ql/test/library-tests/Flow/abseval.expected
Owners: @Semmle/js

JS: Fix deprecated API usage
  javascript/ql/src/definitions.ql
  javascript/ql/src/semmle/javascript/dataflow/internal/InterModuleTypeInference.qll
Owners: @Semmle/js

C++:autoformat
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Owners: @Semmle/cpp-analysis

C++: tests for alias analysis of malloc
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/library-tests/dataflow/security-taint/test.cpp
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Owners: @Semmle/cpp-analysis

C++: Dynamic allocations in IR alias analysis
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasConfiguration.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Owners: @Semmle/cpp-analysis

C++/C#: sync changes
  csharp/ql/src/semmle/code/csharp/ir/implementation/Opcode.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Owners: @Semmle/cs

C++: document DynamicAllocationInstruction
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Data flow: Improve performance of `flowFwdStore()`
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C++: Fix false negatives for postfix crement expressions
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
Owners: @Semmle/cpp-analysis

Add XPathInjection
  java/ql/src/Security/CWE/CWE-643/XPathInjection.java
  java/ql/src/Security/CWE/CWE-643/XPathInjection.qhelp
  java/ql/src/Security/CWE/CWE-643/XPathInjection.ql
Owners: @Semmle/java, @felicitymay

C++: Accept output
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Owners: @Semmle/cpp-analysis

C++: Move fix to adjustedSink to avoid generating too many instructions
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
Owners: @Semmle/cpp-analysis

C++: Accept output
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/diff_ir_expr.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Owners: @Semmle/cpp-analysis

C#: Handle expressions of typeImplicitStackAllocArrayCreationExpressionSyntax
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ArrayCreation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Factory.cs
  csharp/ql/test/library-tests/csharp7.3/ArrayCreations.expected
  csharp/ql/test/library-tests/csharp7.3/ArrayElements.expected
  csharp/ql/test/library-tests/csharp7.3/csharp73.cs
Owners: @Semmle/cs

C#: Analysis change notes
  change-notes/1.24/analysis-csharp.md
Owners: none

add unary type-tracking predicates
  javascript/ql/src/semmle/javascript/security/dataflow/IndirectCommandArgument.qll
Owners: @Semmle/js

C++: Simplify
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis
