Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

Python: remove leftover arg in test code
  python/ql/test/library-tests/PointsTo/regressions/wrong/classmethod/test.py
Owners: @Semmle/python

C++: failing test for non-conflated escaped var
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/ir/ssa/ssa.cpp
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/unaliased_ssa_ir_unsound.expected
Owners: @Semmle/cpp-analysis

C++: Phi-node conflation is not about vvars
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_sanity.expected
Owners: @Semmle/cpp-analysis

Python: Add test-case with swapped decorator order
  python/ql/test/library-tests/PointsTo/regressions/wrong/classmethod/Test.expected
  python/ql/test/library-tests/PointsTo/regressions/wrong/classmethod/test.py
Owners: @Semmle/python

Java: Add test.
  java/ql/test/library-tests/dataflow/capture/A.java
  java/ql/test/library-tests/dataflow/capture/test.expected
  java/ql/test/library-tests/dataflow/capture/test.ql
Owners: @Semmle/java

C++: Sync identical files
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++: Fix conflated-memory sanity query
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRSanity.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Java: Fix directory structure in experimental.
  java/ql/src/experimental/Security/CWE/CWE-094/ScriptEngine.java
  java/ql/src/experimental/Security/CWE/CWE-094/ScriptEngine.qhelp
  java/ql/src/experimental/Security/CWE/CWE-094/ScriptEngine.ql
  java/ql/src/experimental/Security/CWE/CWE-643/XPathInjection.java
  java/ql/src/experimental/Security/CWE/CWE-643/XPathInjection.qhelp
  java/ql/src/experimental/Security/CWE/CWE-643/XPathInjection.ql
Owners: @Semmle/java, @felicitymay

Fix error in Qldoc
  ql/src/semmle/go/security/FlowSources.qll
Owners: none

JavaScript: Add type tracking to Postgres model.
  change-notes/1.24/analysis-javascript.md
  javascript/ql/src/semmle/javascript/frameworks/SQL.qll
  javascript/ql/test/library-tests/frameworks/SQL/SqlString.expected
  javascript/ql/test/library-tests/frameworks/SQL/postgres5.js
Owners: @Semmle/js

C#: Make `IRConfiguration.qll` just forward to the implementation
  csharp/ql/src/semmle/code/csharp/ir/IRConfiguration.qll
Owners: @Semmle/cs

Experimental: Add sanitiser edge for request forgery.
  ql/src/experimental/RequestForgery/RequestForgery.qll
  ql/src/experimental/RequestForgery/RequestForgeryCustomizations.qll
Owners: none

Concepts: Add `HTTP::ClientRequest` class and module.
  ql/src/semmle/go/Concepts.qll
Owners: none

Experimental: Remove query precision for now.
  ql/src/experimental/RequestForgery/RequestForgery.ql
Owners: none

Model HTTP request functions in `net/http` package.
  ql/src/semmle/go/frameworks/HTTP.qll
Owners: none

Experimental: Add query for request forgery.
  ql/src/experimental/RequestForgery/RequestForgery.ql
  ql/src/experimental/RequestForgery/RequestForgery.qll
  ql/src/experimental/RequestForgery/RequestForgeryCustomizations.qll
Owners: none

Java: Add taint steps through Jackson serialization methods.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Owners: @Semmle/java

Java: Add tests for Jackson taint steps.
  java/ql/test/library-tests/dataflow/taint-jackson/Test.java
  java/ql/test/library-tests/dataflow/taint-jackson/dataFlow.expected
  java/ql/test/library-tests/dataflow/taint-jackson/dataFlow.ql
  java/ql/test/library-tests/dataflow/taint-jackson/options
  java/ql/test/stubs/jackson-databind-2.10/com/fasterxml/jackson/core/JsonFactory.java
  java/ql/test/stubs/jackson-databind-2.10/com/fasterxml/jackson/core/JsonGenerator.java
  java/ql/test/stubs/jackson-databind-2.10/com/fasterxml/jackson/databind/ObjectMapper.java
  java/ql/test/stubs/jackson-databind-2.10/com/fasterxml/jackson/databind/ObjectWriter.java
  java/ql/test/stubs/jackson-databind-2.10/jackson-LICENSE.txt
Owners: @Semmle/java

C++: Add field flow and accept tests
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.expected
Owners: @Semmle/cpp-analysis

C++: Demonstrate amount of field flow already present
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.ql
Owners: @Semmle/cpp-analysis

C++: Split parameter node class into an explicit and implicit version
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

C++: Autoformat
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

autoformat
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

add more isRelevant calls
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

outline predicate to fix join-ordering
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

remove isRelevant from flowStep
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

change-note
  change-notes/1.24/analysis-javascript.md
Owners: none

Revert "Add queries to inspect and measure dispatch differences."
  ql/src/semmle/go/dataflow/internal/CompareDispatch.qhelp
  ql/src/semmle/go/dataflow/internal/CompareDispatch.ql
  ql/src/semmle/go/dataflow/internal/DispatchStats.ql
Owners: none

Python: Reduce result set in custom taint sanitizer
  python/ql/test/library-tests/examples/custom-sanitizer/Taint.qll
Owners: @Semmle/python

Python: Autoformat
  python/ql/test/library-tests/examples/custom-sanitizer/Taint.qll
Owners: @Semmle/python

OpenUrlRedirect: Expand safe URL flow configuration
  ql/src/semmle/go/frameworks/Stdlib.qll
  ql/src/semmle/go/security/OpenUrlRedirect.qll
  ql/src/semmle/go/security/OpenUrlRedirectCustomizations.qll
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/stdlib.go
Owners: none

Fix tests
  ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
Owners: none

Address review comments.
  ql/src/semmle/go/security/OpenUrlRedirect.qll
Owners: none

OpenUrlRedirect: Use a taint-tracking safe URLs
  ql/src/semmle/go/security/OpenUrlRedirect.qll
  ql/src/semmle/go/security/OpenUrlRedirectCustomizations.qll
Owners: none

Make header `Get` and `Values` calls into taint steps
  ql/src/semmle/go/frameworks/HTTP.qll
Owners: none

OpenUrlRedirect: Exclude header sources
  ql/src/semmle/go/security/OpenUrlRedirectCustomizations.qll
Owners: none

OpenUrlRedirect: Add support for url.Host reassignments
  ql/src/semmle/go/security/OpenUrlRedirect.qll
Owners: none

Fix tests
  ql/test/library-tests/semmle/go/frameworks/HTTP/UntrustedFlowSources.expected
  ql/test/query-tests/Security/CWE-089/SqlInjection.expected
Owners: none

Address review comments.
  ql/src/semmle/go/security/OpenUrlRedirect.qll
Owners: none

OpenUrlRedirect: Add change note for fixed FPs
  change-notes/1.24/analysis-go.md
Owners: none
