Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

Manually improve tests
  java/ql/test/library-tests/frameworks/apache-collections/Test.java
  java/ql/test/library-tests/frameworks/apache-collections/test.ql
Owners: @github/codeql-java

Python/JS: Sync ReDoS files
  config/identical-files.json
  javascript/ql/src/Performance/ReDoS.ql
  javascript/ql/src/semmle/javascript/security/performance/ExponentialBackTracking.qll
  javascript/ql/src/semmle/javascript/security/performance/ReDoSUtil.qll
  javascript/ql/src/semmle/javascript/security/performance/RegExpTreeView.qll
  javascript/ql/src/semmle/javascript/security/performance/SuperlinearBackTracking.qll
  python/ql/src/Security/CWE-730/ReDoS.ql
  python/ql/src/semmle/python/RegexTreeView.qll
  python/ql/src/semmle/python/regex/ReDoSUtil.qll
  python/ql/src/semmle/python/regex/RegExpTreeView.qll
  python/ql/src/semmle/python/regex/SuperlinearBackTracking.qll
Owners: @github/codeql-javascript, @github/codeql-python

Python: remember to update refs
  python/ql/src/semmle/python/PrintAst.qll
  python/ql/src/semmle/python/RegexTreeView.qll
Owners: @github/codeql-python

Fix locations of regexp nodes in AST viewer
  ql/src/codeql_ruby/printAst.qll
Owners: none

Python/JS: fix qldoc and ref
  javascript/ql/src/semmle/javascript/security/performance/ExponentialBackTracking.qll
  javascript/ql/src/semmle/javascript/security/performance/RegExpTreeView.qll
  python/ql/src/Security/CWE-730/PolynomialReDoS.ql
  python/ql/src/semmle/python/regex/ExponentialBackTracking.qll
  python/ql/src/semmle/python/regex/RegExpTreeView.qll
Owners: @github/codeql-javascript, @github/codeql-python

Make \h and \H character class escapes
  ql/src/codeql_ruby/regexp/RegExpTreeView.qll
  ql/test/library-tests/regexp/parse.expected
Owners: none

C#: Add active preprocessor conditions as suffix in all TRAP `.push` instructions
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Field.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/DefineDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/ElifDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/ElseDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/EndIfDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/EndRegionDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/ErrorDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/IfDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/LineDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/NullableDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/PragmaChecksumDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/PragmaWarningDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/PreprocessorDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/RegionDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/UndefineDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/WarningDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Property.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Context.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/DirectiveVisitor.cs
  csharp/extractor/Semmle.Extraction.CSharp/SymbolExtensions.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/TrapStackBehaviour.cs
  csharp/ql/test/library-tests/comments/BindingAfter.expected
  csharp/ql/test/library-tests/comments/BindingBefore.expected
  csharp/ql/test/library-tests/comments/BindingParent.expected
  csharp/ql/test/library-tests/comments/Bindings.expected
  csharp/ql/test/library-tests/comments/Comments.expected
  csharp/ql/test/library-tests/comments/ExtractorMessage.expected
  csharp/ql/test/library-tests/comments/ExtractorMessage.qlref
  csharp/ql/test/library-tests/comments/trivia.cs
Owners: @github/codeql-csharp

Python/JS: Fix qldoc
  javascript/ql/src/semmle/javascript/security/performance/ExponentialBackTracking.qll
  python/ql/src/semmle/python/regex/ExponentialBackTracking.qll
Owners: @github/codeql-javascript, @github/codeql-python

Recognise \t as not escaping t
  ql/src/codeql_ruby/regexp/RegExpTreeView.qll
  ql/test/library-tests/regexp/parse.expected
  ql/test/library-tests/regexp/regexp.rb
Owners: none

Add query test for ReDoS.ql, ported from JS
  ql/test/query-tests/security/cwe-1333/ANodeBlog-LICENSE
  ql/test/query-tests/security/cwe-1333/CodeMirror-LICENSE
  ql/test/query-tests/security/cwe-1333/Prism-LICENSE
  ql/test/query-tests/security/cwe-1333/Prototype.js-LICENSE
  ql/test/query-tests/security/cwe-1333/ReDoS.expected
  ql/test/query-tests/security/cwe-1333/ReDoS.qlref
  ql/test/query-tests/security/cwe-1333/brace-expansion-LICENSE
  ql/test/query-tests/security/cwe-1333/jest-LICENSE
  ql/test/query-tests/security/cwe-1333/knockout-LICENSE
  ql/test/query-tests/security/cwe-1333/marked-LICENSE
  ql/test/query-tests/security/cwe-1333/tst.rb
Owners: none

Add change note
  java/change-notes/2021-06-25-apache-collections-maputils-keyvalue.md
Owners: @github/codeql-java

Python: Add `Logging` concept
  python/ql/src/semmle/python/Concepts.qll
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/library-tests/frameworks/stdlib/Logging.py
Owners: @github/codeql-python, @xcorail

Python: Model logging from the `logging` module
  python/ql/src/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/stdlib/Logging.py
Owners: @github/codeql-python

Python: Minor QLDoc fixup
  python/ql/src/semmle/python/security/dataflow/CleartextStorage.qll
Owners: @github/codeql-python

Python: Fix indentation of `hashlib` modeling
  python/ql/src/semmle/python/frameworks/Stdlib.qll
Owners: @github/codeql-python

Python: Port `py/clear-text-logging-sensitive-data`
  python/ql/src/Security/CWE-312/CleartextLogging.ql
  python/ql/src/semmle/python/security/dataflow/CleartextLogging.qll
  python/ql/src/semmle/python/security/dataflow/CleartextLoggingCustomizations.qll
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312-CleartextLogging/options
Owners: @github/codeql-python

C++: Use call context information to perform function-pointer resolution.
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
Owners: @github/codeql-c-analysis

Manually improve tests #2
  java/ql/test/library-tests/frameworks/apache-collections/Test.java
Owners: @github/codeql-java

Fixed and validated qhelp
  java/ql/src/experimental/Security/CWE/CWE-665/CorrectJMXConnectorServerFactoryEnvironmentInitialisation.java
  java/ql/src/experimental/Security/CWE/CWE-665/CorrectRMIConnectorServerEnvironmentInitalisation.java
  java/ql/src/experimental/Security/CWE/CWE-665/InsecureRmiJmxEnvironmentConfiguration.qhelp
  java/ql/src/experimental/Security/CWE/CWE-665/example_filter_java_10.java
  java/ql/src/experimental/Security/CWE/CWE-665/example_filter_java_9.java
Owners: @github/codeql-java, @xcorail

Added chapter about generating qhelp files locally
  docs/query-help-style-guide.md
Owners: none

Import Apache Collections models in ExternalFlow
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
Owners: @github/codeql-java

Python: Add tests for `peewee`
  python/ql/test/library-tests/frameworks/peewee/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/peewee/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/peewee/InlineTaintTest.expected
  python/ql/test/library-tests/frameworks/peewee/InlineTaintTest.ql
  python/ql/test/library-tests/frameworks/peewee/sql_execution.py
Owners: @github/codeql-python

Update java/ql/src/experimental/Security/CWE/CWE-665/InsecureRmiJmxEnvironmentConfiguration.ql
  java/ql/src/experimental/Security/CWE/CWE-665/InsecureRmiJmxEnvironmentConfiguration.ql
Owners: @github/codeql-java, @xcorail

Fixed wrong match for symbolic constant
  java/ql/src/experimental/Security/CWE/CWE-665/InsecureRmiJmxEnvironmentConfiguration.ql
Owners: @github/codeql-java, @xcorail

Update InsecureRmiJmxEnvironmentConfiguration.ql
  java/ql/src/experimental/Security/CWE/CWE-665/InsecureRmiJmxEnvironmentConfiguration.ql
Owners: @github/codeql-java, @xcorail

Java: Use machine-in-the-middle consistently
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.qhelp
Owners: @github/codeql-java

Java: Remove overlapping code
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.java
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.qhelp
  java/ql/src/experimental/Security/CWE/CWE-273/UnsafeCertTrust.ql
  java/ql/test/experimental/query-tests/security/CWE-273/UnsafeCertTrustTest.java
Owners: @github/codeql-java, @xcorail

Java: Accept test changes
  java/ql/test/experimental/query-tests/security/CWE-273/UnsafeCertTrust.expected
Owners: @github/codeql-java, @xcorail

Java: Add insecure trust manager query.
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.java
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.qhelp
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.ql
  java/ql/test/query-tests/security/CWE-295/InsecureTrustManager.expected
  java/ql/test/query-tests/security/CWE-295/InsecureTrustManager.qlref
  java/ql/test/query-tests/security/CWE-295/InsecureTrustManagerTest.java
Owners: @github/codeql-java

Java: Fix Typos
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.ql
Owners: @github/codeql-java

Java: Apply suggestions from code review
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.java
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.ql
Owners: @github/codeql-java

Java: Accept test changes.
  java/ql/test/query-tests/security/CWE-295/InsecureTrustManager.expected
Owners: @github/codeql-java

Java: Flag "intentionally" unsafe methods in tests.
  java/ql/test/query-tests/security/CWE-295/InsecureTrustManager.expected
  java/ql/test/query-tests/security/CWE-295/InsecureTrustManagerTest.java
Owners: @github/codeql-java

Java: Expand tests.
  java/ql/test/query-tests/security/CWE-295/InsecureTrustManagerTest.java
Owners: @github/codeql-java

Java: Explicitly list custom flow steps.
  java/ql/src/Security/CWE/CWE-297/UnsafeHostnameVerification.ql
Owners: @github/codeql-java

Java: Fix compilation errors in test.
  java/ql/test/query-tests/security/CWE-295/InsecureTrustManagerTest.java
Owners: @github/codeql-java

Java: Apply suggestions for QHelp
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.qhelp
Owners: @github/codeql-java

Java: Remove "intention-guessing" sanitizer & simplify.
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.ql
Owners: @github/codeql-java

Java: Switch from tabs to spaces.
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.java
Owners: @github/codeql-java

Java: Use `this` consistently in QL classes.
  java/ql/src/Security/CWE/CWE-295/InsecureTrustManager.ql
Owners: @github/codeql-java

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
