Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

Add models for Spring validation.Errors
  java/change-notes/2021-04-02-add-spring-validation-errors.md
  java/ql/src/semmle/code/java/frameworks/spring/Spring.qll
  java/ql/src/semmle/code/java/frameworks/spring/SpringErrors.qll
  java/ql/test/library-tests/frameworks/spring/ValidationErrorsTest.java
Owners: @github/codeql-java

fixup! Add models for Spring validation.Errors
  java/ql/src/semmle/code/java/frameworks/spring/Spring.qll
  java/ql/src/semmle/code/java/frameworks/spring/SpringValidation.qll
Owners: @github/codeql-java

Remove unnecessary code from stubs
  java/ql/test/stubs/springframework-5.3.8/org/springframework/validation/FieldError.java
  java/ql/test/stubs/springframework-5.3.8/org/springframework/validation/ObjectError.java
Owners: @github/codeql-java

Import springvalidation in `ExternalFlow.qll`
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
Owners: @github/codeql-java

fix rb/sql-injection FPs due to not accounting for overridden ActiveRecord methods
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
  ql/test/query-tests/security/cwe-089/ActiveRecordInjection.rb
  ql/test/query-tests/security/cwe-089/SqlInjection.expected
Owners: none

improve some rails framework tests
  ql/test/library-tests/frameworks/ActionController.expected
  ql/test/library-tests/frameworks/ActiveRecord.expected
  ql/test/library-tests/frameworks/ActiveRecordInjection.rb
Owners: none

Python: Highlight problem picking `DataFlow::Node` for `Assign`
  python/ql/src/semmle/python/frameworks/Aiohttp.qll
  python/ql/src/semmle/python/frameworks/Django.qll
Owners: @github/codeql-python

Hardcode `ldap2` binding functions
  python/ql/src/experimental/semmle/python/frameworks/LDAP.qll
Owners: @github/codeql-python, @xcorail

Add models of the javax.json package
  java/change-notes/2021-06-29-javax-json-models.md
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/frameworks/JavaxJson.qll
  java/ql/test/library-tests/frameworks/javax-json/Test.java
  java/ql/test/library-tests/frameworks/javax-json/options
  java/ql/test/library-tests/frameworks/javax-json/test.expected
  java/ql/test/library-tests/frameworks/javax-json/test.ql
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonArray.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonArrayBuilder.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonNumber.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonObject.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonObjectBuilder.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonReader.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonReaderFactory.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonString.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonStructure.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonValue.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonWriter.java
  java/ql/test/stubs/javax-json-api-1.1.4/javax/json/JsonWriterFactory.java
Owners: @github/codeql-java

Fix qldocs typo
  python/ql/src/experimental/semmle/python/frameworks/NoSQL.qll
Owners: @github/codeql-python, @xcorail

Take back non-trivial tests
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_bad.py
  python/ql/test/experimental/query-tests/Security/CWE-943/mongoengine_good.py
Owners: @github/codeql-python, @xcorail

Update `.expected`
  python/ql/test/experimental/query-tests/Security/CWE-943/NoSQLInjection.expected
Owners: @github/codeql-python, @xcorail

Add flow-through test case generator
  java/ql/src/utils/GenerateFlowTestCase.py
  java/ql/src/utils/GenerateFlowTestCase.qll
  java/ql/src/utils/testFooter.qlfrag
Owners: @github/codeql-java

Add flow-through test case generator
  java/ql/src/utils/GenerateFlowTestCase.py
  java/ql/src/utils/GenerateFlowTestCase.qll
  java/ql/src/utils/testFooter.qlfrag
  java/ql/src/utils/testHeader.qlfrag
Owners: @github/codeql-java

Determine when a model row didn't produce any tests; fix the model specifications revealed defective by this feature.
  java/ql/src/utils/GenerateFlowTestCase.py
Owners: @github/codeql-java

Fix open-for-writing statement
  java/ql/src/utils/GenerateFlowTestCase.py
Owners: @github/codeql-java

Fix output of nested and generic type names, and disambiguate overloads where necessary
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Document test generator
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Always use source declarations (i.e, raw types) when naming types in tests
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Fix testing methods with 2-qualifier or deeper input specifications
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Fix formatting of instance variables
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Test case generator: improve error reporting
  java/ql/src/utils/GenerateFlowTestCase.py
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Fix test-generation when a type variable's bound is itself a type variable
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Add help text to GenerateFlowTestCase.py
  java/ql/src/utils/GenerateFlowTestCase.py
Owners: @github/codeql-java

Switch to an abstract unit / predicate approach to specifying rows to generate tests for
  java/ql/src/utils/GenerateFlowTestCase.py
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Revise ExternalFlow and FlowSummaryImpl API used for test generation
  java/ql/src/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/src/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
Owners: @github/codeql-java

Fix test case generation when no auxiliary support functions are required
  java/ql/src/utils/GenerateFlowTestCase.py
  java/ql/src/utils/testFooter.qlfrag
  java/ql/src/utils/testHeader.qlfrag
  java/ql/src/utils/testModelsFooter.qlfrag
  java/ql/src/utils/testModelsHeader.qlfrag
Owners: @github/codeql-java

Fix: restrict generated test cases to requested rows
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Test case generator: rework to use a less-invasive ExternalFlow API
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Sync FlowSummaryImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
Owners: @github/codeql-csharp

Make interpretSpec/3 private again
  csharp/ql/src/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
Owners: @github/codeql-csharp, @github/codeql-java

SSV -> CSV everywhere
  java/ql/src/utils/GenerateFlowTestCase.py
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Adjust import
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Use new interpretSpec/2 predicate where appropriate
  java/ql/src/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
Owners: @github/codeql-java

Resolve missing qldoc errors
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Document Content::hasLocationInfo
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Owners: @github/codeql-java

GenerateFlowTestCase: make imports private
  java/ql/src/utils/GenerateFlowTestCase.qll
Owners: @github/codeql-java

Sync FlowSummaryImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
Owners: @github/codeql-csharp

Specify `plain-text body`
  python/ql/test/experimental/query-tests/Security/CWE-079/django_mail.py
  python/ql/test/experimental/query-tests/Security/CWE-079/flask_mail.py
Owners: @github/codeql-python, @xcorail

Almost fix `getFlaskMailArgument(...)`
  python/ql/src/experimental/semmle/python/libraries/FlaskMail.qll
Owners: @github/codeql-python, @xcorail

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
