Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

use LibraryName class for websocket library names
  javascript/ql/src/semmle/javascript/frameworks/WebSocket.qll
Owners: @Semmle/js

JS: Skip .js files with a same-named .ts file next to it
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Owners: @Semmle/js

JS: Fix trailing whitespace
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Owners: @Semmle/js

JS: Update old entry point and add a test
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/ql/test/library-tests/TypeScript/CompiledOutput/index.js
  javascript/ql/test/library-tests/TypeScript/CompiledOutput/index.ts
  javascript/ql/test/library-tests/TypeScript/CompiledOutput/test.expected
  javascript/ql/test/library-tests/TypeScript/CompiledOutput/test.ql
Owners: @Semmle/js

C#: Add more tests for `cs/information-exposure-through-exception`
  csharp/ql/test/query-tests/Security Features/CWE-209/ExceptionInformationExposure.cs
  csharp/ql/test/query-tests/Security Features/CWE-209/ExceptionInformationExposure.expected
Owners: @Semmle/cs

JS: Inline variable again
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Owners: @Semmle/js

C++: Late fix for PR feedback
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/Instruction.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/Instruction.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

C++: Improve QLDoc for Function.getParameter
  cpp/ql/src/semmle/code/cpp/Function.qll
Owners: @Semmle/cpp-analysis

C++: Wire up param/arg indirections in data flow
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

Update ql/src/semmle/go/dataflow/internal/DataFlowDispatch.qll
  ql/src/semmle/go/dataflow/internal/DataFlowDispatch.qll
Owners: none

Java: Add org.apache.commons.codec.(De|En)coder to TainTrackingUtil
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Owners: @Semmle/java

Java: teach Encryption.qll about MessageDigest.getInstance
  java/ql/src/semmle/code/java/security/Encryption.qll
Owners: @Semmle/java

Java: teach UnsafeDeserialization about ValidatingObjectInputStream
  java/ql/src/semmle/code/java/security/UnsafeDeserialization.qll
Owners: @Semmle/java

C#: Improvements to buildless extraction, particularly for .NET Core.
  .gitignore
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/AssemblyCache.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/CsProjFile.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/DotNetRuntimeInfo.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/MSBuildHelper.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/NugetPackageRepository.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/NugetPackages.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Program.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/ProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/SolutionFile.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Access.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/MemberAccess.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NamedType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/UsingDirective.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/ExtractionScope.cs
  csharp/extractor/Semmle.Extraction/Extractor.cs
Owners: @Semmle/cs

autoformat
  javascript/ql/src/semmle/javascript/frameworks/WebSocket.qll
Owners: @Semmle/js

C#: Move `HtmlSink`s from `XSS.qll` into separate file
  csharp/ql/src/Security Features/CWE-838/InappropriateEncoding.ql
  csharp/ql/src/semmle/code/csharp/security/dataflow/XSS.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsinks/Html.qll
Owners: @Semmle/cs

C#: Introduce `RemoteFlowSink` class
  csharp/ql/src/Security Features/CWE-201/ExposureInTransmittedData.ql
  csharp/ql/src/Security Features/CWE-209/ExceptionInformationExposure.ql
  csharp/ql/src/semmle/code/csharp/security/dataflow/XSS.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsinks/Email.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsinks/ExternalLocationSink.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsinks/Html.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsinks/Remote.qll
  csharp/ql/test/query-tests/Security Features/CWE-209/ExceptionInformationExposure.cs
  csharp/ql/test/query-tests/Security Features/CWE-209/ExceptionInformationExposure.expected
Owners: @Semmle/cs

C#: Add change note
  change-notes/1.24/analysis-csharp.md
Owners: none

C#: Move all predefined sources and sinks into `security/dataflow/flow{sinks,sources}`
  csharp/ql/src/Security Features/CWE-091/XMLInjection.ql
  csharp/ql/src/Security Features/CWE-114/AssemblyPathInjection.ql
  csharp/ql/src/Security Features/CWE-134/UncontrolledFormatString.ql
  csharp/ql/src/Security Features/InsecureRandomness.ql
  csharp/ql/src/semmle/code/csharp/dataflow/flowsources/PublicCallableParameter.qll
  csharp/ql/src/semmle/code/csharp/dataflow/flowsources/Remote.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/CleartextStorage.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/CodeInjection.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/CommandInjection.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/ConditionalBypass.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/ExposureOfPrivateInformation.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/LDAPInjection.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/LogForging.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/MissingXMLValidation.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/ReDoS.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/RegexInjection.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/ResourceInjection.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/SqlInjection.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/TaintedPath.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/UnsafeDeserialization.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/UrlRedirect.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/XMLEntityInjection.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/XPathInjection.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/XSS.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsinks/ExternalLocationSink.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsources/Local.qll
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsources/Remote.qll
  csharp/ql/test/library-tests/dataflow/flowsources/publicparameter/PublicCallableParameterFlowSource.cs
  csharp/ql/test/library-tests/dataflow/flowsources/publicparameter/publicCallableParameterFlowSource.expected
  csharp/ql/test/library-tests/dataflow/flowsources/publicparameter/publicCallableParameterFlowSource.ql
  csharp/ql/test/library-tests/dataflow/flowsources/remote/remoteFlowSource.ql
Owners: @Semmle/cs

Add a test.
  ql/test/library-tests/semmle/go/dataflow/CallGraph/getACallee.expected
  ql/test/library-tests/semmle/go/dataflow/CallGraph/main.go
  ql/test/library-tests/semmle/go/dataflow/CallGraph/viableCallee.expected
  ql/test/library-tests/semmle/go/dataflow/CallGraph/viableCallee.ql
Owners: none

add tests for type-tracking promises
  javascript/ql/test/library-tests/Promises/flow.qll
  javascript/ql/test/library-tests/Promises/promises.js
  javascript/ql/test/library-tests/frameworks/Concepts/tst-file-names.js
Owners: @Semmle/js

add a new LoadStoreStep as a StepSummary for TypeTracking
  javascript/ql/src/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/src/semmle/javascript/dataflow/internal/StepSummary.qll
Owners: @Semmle/js

support small steps for promise tracking
  javascript/ql/src/semmle/javascript/Promises.qll
Owners: @Semmle/js

update expected output
  javascript/ql/test/library-tests/Promises/tests.expected
  javascript/ql/test/library-tests/frameworks/Concepts/FileNameSource.expected
Owners: @Semmle/js

use LoadStoreStep for type-tracking promises
  javascript/ql/src/semmle/javascript/Promises.qll
Owners: @Semmle/js

Data flow: Remove uses of `Node.getLocation()`.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C++: Add AssignExpr + Initializer to lib overview
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: @shati-patel, @jf205

C++: Removed toString from PostUpdateNodes. They were more confusing than helpful
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/fields/ir-flow.expected
Owners: @Semmle/cpp-analysis

C++: Clean up the ParameterNode class tree
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

C#: Remove compiler warning in `Remote.qll`
  csharp/ql/src/semmle/code/csharp/security/dataflow/flowsinks/Remote.qll
Owners: @Semmle/cs

mention set literals in the specification
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

sentence about semantics
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

C#: Fix typo
  csharp/ql/test/query-tests/Nullness/E.cs
Owners: @Semmle/cs

information on version support
  docs/language/ql-spec/language.rst
Owners: @shati-patel, @jf205

HTTP: Add some more untrusted fields and methods
  ql/src/semmle/go/frameworks/HTTP.qll
  ql/test/library-tests/semmle/go/frameworks/HTTP/UntrustedFlowSources.expected
Owners: none

OpenUrlRedirect: Whitelist some more fields and methods
  ql/src/semmle/go/security/OpenUrlRedirectCustomizations.qll
Owners: none

more precise charpreds in taint steps
  javascript/ql/src/semmle/javascript/Arrays.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
Owners: @Semmle/js

autoformat and update expected output
  javascript/ql/test/library-tests/Promises/AdditionalPromises.expected
  javascript/ql/test/library-tests/Promises/flow.qll
  javascript/ql/test/library-tests/Promises/tests.expected
Owners: @Semmle/js

delete Xss.actual
  javascript/ql/src/Security/CWE-079/Xss.actual
Owners: @Semmle/js

add urlSuffix support to DomBasedXSS
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
Owners: @Semmle/js

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
