Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/cpp-analysis, @semmledocs-ac, @jf205, @felicity-semmle, @mc-semmle

CODEOWNERS:

/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/cpp/ @Semmle/cpp-analysis
/cpp/**/*.qhelp @semmledocs-ac
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicity-semmle
/javascript/**/*.qhelp @mc-semmle
/python/**/*.qhelp @felicity-semmle
/docs/language/ @felicity-semmle @jf205

docs: rationalize images and slide backgrounds
  docs/language/ql-training-rst/_static-training/agenda-slide.svg
  docs/language/ql-training-rst/_static-training/alternative-slide.svg
  docs/language/ql-training-rst/_static-training/lgtm-info.png
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training-rst/_static-training/title-slide.svg
Owners: @felicity-semmle, @jf205

docs: 2nd round of suggestions
  docs/language/ql-training-rst/cpp/bad-overflow-guard.rst
  docs/language/ql-training-rst/cpp/control-flow-cpp.rst
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/program-representation-cpp.rst
  docs/language/ql-training-rst/cpp/snprintf.rst
  docs/language/ql-training-rst/query-examples/java/empty-if-java.ql
  docs/language/ql-training-rst/slide-snippets/info.rst
  docs/language/ql-training-rst/slide-snippets/intro-ql-general.rst
Owners: @felicity-semmle, @jf205

docs: address first round of review comments on other slides and add intro to ql decks
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training-rst/conf.py
  docs/language/ql-training-rst/cpp/bad-overflow-guard.rst
  docs/language/ql-training-rst/cpp/control-flow-cpp.rst
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/intro-ql-cpp.rst
  docs/language/ql-training-rst/cpp/program-representation-cpp.rst
  docs/language/ql-training-rst/cpp/snprintf.rst
  docs/language/ql-training-rst/index.rst
  docs/language/ql-training-rst/java/intro-ql-java.rst
  docs/language/ql-training-rst/query-examples/cpp/data-flow-cpp-2.ql
  docs/language/ql-training-rst/query-examples/cpp/empty-if-cpp-class.ql
  docs/language/ql-training-rst/query-examples/cpp/empty-if-cpp-model.ql
  docs/language/ql-training-rst/query-examples/cpp/empty-if-cpp-predicate.ql
  docs/language/ql-training-rst/query-examples/cpp/empty-if-cpp.ql
  docs/language/ql-training-rst/query-examples/java/empty-if-java-class.ql
  docs/language/ql-training-rst/query-examples/java/empty-if-java-model.ql
  docs/language/ql-training-rst/query-examples/java/empty-if-java-predicate.ql
  docs/language/ql-training-rst/query-examples/java/empty-if-java.ql
  docs/language/ql-training-rst/slide-snippets/info.rst
  docs/language/ql-training-rst/slide-snippets/intro-ql-general.rst
Owners: @felicity-semmle, @jf205

docs: improve scaling behaviour, fix fonts and headings
  docs/language/ql-training-rst/_static-training/setup-slide.svg
  docs/language/ql-training-rst/_static-training/slides-semmle-2/end_slide.html
  docs/language/ql-training-rst/_static-training/slides-semmle-2/layout.html
  docs/language/ql-training-rst/_static-training/slides-semmle-2/slide.html
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training-rst/cpp/bad-overflow-guard.rst
  docs/language/ql-training-rst/cpp/control-flow-cpp.rst
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/intro-ql-cpp.rst
  docs/language/ql-training-rst/cpp/program-representation-cpp.rst
  docs/language/ql-training-rst/cpp/snprintf.rst
  docs/language/ql-training-rst/graph-tests.rst
  docs/language/ql-training-rst/index.rst
  docs/language/ql-training-rst/java/intro-ql-java.rst
  docs/language/ql-training-rst/slide-snippets/intro-ql-general.rst
Owners: @felicity-semmle, @jf205

Python: Extend `hasAttribute` to unknown-but-defined module variables.
  python/ql/src/semmle/python/types/ModuleObject.qll
Owners: none

Python add new queries for clear-text logging and storage.
  python/ql/src/Security/CWE-312/CleartextLogging.qhelp
  python/ql/src/Security/CWE-312/CleartextLogging.ql
  python/ql/src/Security/CWE-312/CleartextStorage.qhelp
  python/ql/src/Security/CWE-312/CleartextStorage.ql
  python/ql/src/Security/CWE-312/examples/password_in_cookie.py
  python/ql/src/semmle/python/security/SensitiveData.qll
Owners: @felicity-semmle

Python: Use Value API for sensitive data analysis.
  python/ql/src/semmle/python/objects/Modules.qll
  python/ql/src/semmle/python/security/SensitiveData.qll
  python/ql/test/library-tests/security/sensitive/Sources.expected
  python/ql/test/library-tests/security/sensitive/Sources.ql
  python/ql/test/library-tests/security/sensitive/test.py
Owners: none

Python: Add library support for cookies. Update and extend sensitive data library.
  python/ql/src/semmle/python/security/ClearText.qll
  python/ql/src/semmle/python/security/SensitiveData.qll
  python/ql/src/semmle/python/web/Http.qll
  python/ql/src/semmle/python/web/bottle/Response.qll
  python/ql/src/semmle/python/web/django/Response.qll
  python/ql/src/semmle/python/web/flask/General.qll
  python/ql/src/semmle/python/web/pyramid/Response.qll
  python/ql/src/semmle/python/web/tornado/Tornado.qll
Owners: none

Python: Add tests for clear-text storage and logging.
  python/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312/CleartextLogging.qlref
  python/ql/test/query-tests/Security/CWE-312/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312/CleartextStorage.qlref
  python/ql/test/query-tests/Security/CWE-312/options
  python/ql/test/query-tests/Security/CWE-312/password_in_cookie.py
  python/ql/test/query-tests/Security/CWE-312/test.py
Owners: none

Add missing html tag
  python/ql/src/Security/CWE-312/CleartextStorage.qhelp
Owners: @felicity-semmle

Python tests: Fix up CWE-327 tests to use new sensitive-data library.
  python/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.expected
  python/ql/test/query-tests/Security/CWE-327/TestNode.expected
  python/ql/test/query-tests/Security/CWE-327/test_cryptography.py
  python/ql/test/query-tests/Security/CWE-327/test_pycrypto.py
Owners: none

Python tests: Fix up tests for CWE-312 to not use external locations.
  python/ql/src/semmle/python/dataflow/Files.qll
  python/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  python/ql/test/query-tests/Security/CWE-312/CleartextStorage.expected
  python/ql/test/query-tests/Security/CWE-312/test.py
Owners: none

Add tests.
  python/ql/test/query-tests/Variables/undefined/UndefinedExport.expected
  python/ql/test/query-tests/Variables/undefined/UndefinedExport.qlref
  python/ql/test/query-tests/Variables/undefined/decorated_exports.py
  python/ql/test/query-tests/Variables/undefined/exports.py
  python/ql/test/query-tests/Variables/undefined/unknown_import_star.py
Owners: none

docs: some more slide fixes
  docs/language/ql-training-rst/cpp/program-representation-cpp.rst
  docs/language/ql-training-rst/java/intro-ql-java.rst
  docs/language/ql-training-rst/slide-snippets/intro-ql-general.rst
Owners: @felicity-semmle, @jf205

Java: Add a global extension point for taint steps.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Owners: @Semmle/java

CPP: Update test comments.
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Owners: @Semmle/cpp-analysis

Update test results for `UndefinedGlobal.ql`.
  python/ql/test/query-tests/Variables/undefined/UndefinedGlobal.expected
Owners: none

TS: Extract type args to tagged template exprs
  javascript/extractor/src/com/semmle/js/ast/NodeCopier.java
  javascript/extractor/src/com/semmle/js/ast/TaggedTemplateExpression.java
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
  javascript/extractor/src/com/semmle/js/parser/TypeScriptASTConverter.java
  javascript/ql/src/semmle/javascript/Templates.qll
  javascript/ql/test/library-tests/TypeScript/TypeAnnotations/TemplateLiterals.qll
  javascript/ql/test/library-tests/TypeScript/TypeAnnotations/tests.expected
  javascript/ql/test/library-tests/TypeScript/TypeAnnotations/tests.ql
  javascript/ql/test/library-tests/TypeScript/TypeAnnotations/tst.ts
  javascript/ql/test/query-tests/Declarations/UnusedVariable/typeInTemplateLiteralTag.ts
Owners: @Semmle/js

C++: Minimal IR support for `GNUVectorType`
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/src/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/src/semmle/code/cpp/exprs/Literal.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/src/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/src/semmle/code/cpp/rangeanalysis/SignAnalysis.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_sanity.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_sanity.expected
Owners: @Semmle/cpp-analysis

C++: Accept test output after fixes for `PointerAdd` element sizes
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_ir.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/test_diff.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_ir.expected
Owners: @Semmle/cpp-analysis

C++: Fixup after rebase
  cpp/ql/src/semmle/code/cpp/Type.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Owners: @Semmle/cpp-analysis

[CPP-387] Address more feedback.
  docs/language/learn-ql/cpp/introduce-libraries-cpp.rst
Owners: @felicity-semmle, @jf205

C#: Nested field flow
  csharp/ql/src/semmle/code/csharp/Assignable.qll
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/src/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
  csharp/ql/test/library-tests/cil/dataflow/TaintTracking.ql
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.ql
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/G.cs
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/ssa/PreSsaConsistency.ql
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
Owners: @Semmle/cs

CPP: More thorough test of LambdaCapture.
  cpp/ql/test/library-tests/lambdas/captures/captures.expected
  cpp/ql/test/library-tests/lambdas/captures/captures.ql
Owners: @Semmle/cpp-analysis

CPP: Make LambdaCapture an Element.
  cpp/ql/src/semmle/code/cpp/exprs/Lambda.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
Owners: @Semmle/cpp-analysis

CPP: Another test case.
  cpp/ql/test/library-tests/lambdas/captures/captures.cpp
  cpp/ql/test/library-tests/lambdas/captures/captures.expected
  cpp/ql/test/library-tests/lambdas/captures/elements.expected
Owners: @Semmle/cpp-analysis

CPP: Update stats.
  cpp/ql/src/semmlecode.cpp.dbscheme.stats
Owners: @Semmle/cpp-analysis

CPP: Upgrade script.
  cpp/upgrades/c3e69834734e3ef4170e996c5b96a89619799346/old.dbscheme
  cpp/upgrades/c3e69834734e3ef4170e996c5b96a89619799346/semmlecode.cpp.dbscheme
  cpp/upgrades/c3e69834734e3ef4170e996c5b96a89619799346/upgrade.properties
Owners: @Semmle/cpp-analysis

docs: address review comments
  docs/language/ql-training-rst/_static-training/slides-semmle-2/static/theme/css/default.css
  docs/language/ql-training-rst/cpp/bad-overflow-guard.rst
  docs/language/ql-training-rst/cpp/control-flow-cpp.rst
  docs/language/ql-training-rst/cpp/data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/global-data-flow-cpp.rst
  docs/language/ql-training-rst/cpp/intro-ql-cpp.rst
  docs/language/ql-training-rst/cpp/program-representation-cpp.rst
  docs/language/ql-training-rst/cpp/snprintf.rst
  docs/language/ql-training-rst/java/intro-ql-java.rst
  docs/language/ql-training-rst/slide-snippets/intro-ql-general.rst
Owners: @felicity-semmle, @jf205

Java/C++/C#: Improve performance of pruning in field flow.
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
Owners: @Semmle/java

Java/C++/C#: Sync.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Java/C#/C++: Add change notes for in/out barriers and barrierguards.
  change-notes/1.22/analysis-cpp.md
  change-notes/1.22/analysis-csharp.md
  change-notes/1.22/analysis-java.md
Owners: none

C++/C#/Java: localFlowStep performance fix
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

C#: Consolidate CFG tests
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlockDominance.ql
  csharp/ql/test/library-tests/controlflow/graph/BooleanNode.expected
  csharp/ql/test/library-tests/controlflow/graph/BooleanNode.ql
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.ql
  csharp/ql/test/library-tests/controlflow/graph/ConditionBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionBlock.ql
  csharp/ql/test/library-tests/controlflow/graph/ConditionalFlow.expected
  csharp/ql/test/library-tests/controlflow/graph/ConditionalFlow.ql
  csharp/ql/test/library-tests/controlflow/graph/Consistency.expected
  csharp/ql/test/library-tests/controlflow/graph/Consistency.ql
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.ql
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/ElementGraph.ql
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryPoint.ql
  csharp/ql/test/library-tests/controlflow/graph/FinallyNode.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.ql
  csharp/ql/test/library-tests/controlflow/graph/PreBasicBlockConsistency.expected
  csharp/ql/test/library-tests/controlflow/graph/PreBasicBlockConsistency.ql
Owners: @Semmle/cs

Python: Prevent bad magic in one predicate.
  python/ql/src/semmle/python/objects/Constants.qll
Owners: none

Python: Fix tags and message for CWE-312 queries.
  python/ql/src/Security/CWE-312/CleartextLogging.ql
  python/ql/src/Security/CWE-312/CleartextStorage.ql
  python/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
Owners: none

Fix sort order for table
  change-notes/1.22/analysis-cpp.md
Owners: none

Minor tidying up
  change-notes/1.22/analysis-cpp.md
Owners: none

CPP: Change note for QLDoc work.
  change-notes/1.22/analysis-cpp.md
Owners: none

Tidy up release notes
  change-notes/1.22/analysis-csharp.md
Owners: none
