Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @github/codeql-c-analysis, @github/codeql-csharp, @github/codeql-java, @github/codeql-javascript, @github/codeql-python, @xcorail, @github/codeql-go

Add support for LGTM_INDEX_FILTERS environment variable
  .github/workflows/build.yml
  Cargo.lock
  Cargo.toml
  autobuilder/Cargo.toml
  autobuilder/src/main.rs
  create-extractor-pack.ps1
  create-extractor-pack.sh
  tools/autobuild.cmd
  tools/autobuild.sh
Owners: none

Create apache-struts-online.txt
  java/apache-struts-online.txt
Owners: @github/codeql-java

Add basic test for regex parsing
  ql/test/library-tests/regexp/parse.expected
  ql/test/library-tests/regexp/parse.ql
  ql/test/library-tests/regexp/regexp.rb
Owners: none

update SqlInjection tests
  ql/test/query-tests/security/cwe-089/ActiveRecordInjection.rb
  ql/test/query-tests/security/cwe-089/SqlInjection.expected
Owners: none

Implement rb/sql-injection
  ql/src/queries/security/cwe-089/SqlInjection.qhelp
  ql/src/queries/security/cwe-089/SqlInjection.ql
  ql/src/queries/security/cwe-089/examples/SqlInjection.rb
  ql/test/query-tests/security/cwe-089/ActiveRecordInjection.rb
  ql/test/query-tests/security/cwe-089/SqlInjection.expected
  ql/test/query-tests/security/cwe-089/SqlInjection.qlref
Owners: none

Make ActiveRecord model flag more potentially dangerous SQL executions
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
  ql/test/library-tests/frameworks/ActiveRecord.expected
Owners: none

Support named :conditions parameter to some SQL executing ActiveRecord calls
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
Owners: none

update ActiveRecord test output
  ql/test/library-tests/frameworks/ActiveRecord.expected
Owners: none

Implement two common barrier guards
  ql/src/codeql_ruby/dataflow/BarrierGuards.qll
Owners: none

Support ActiveRecord SQL executing calls where there is a self receiver (implicit or explicit)
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
Owners: none

Add more defaultAdditionalTaintSteps
  ql/src/codeql_ruby/dataflow/internal/TaintTrackingPrivate.qll
Owners: none

Convenience classes for wrapping some Exprs as ExprCfgNodes
  ql/src/codeql_ruby/controlflow/CfgNodes.qll
Owners: none

Make BarrierGuard abstract
  ql/src/codeql_ruby/dataflow/internal/DataFlowPublic.qll
Owners: none

Create Frameworks.qll to act as a container for all framework models
  ql/src/codeql_ruby/Concepts.qll
  ql/src/codeql_ruby/Frameworks.qll
  ql/src/codeql_ruby/dataflow/RemoteFlowSources.qll
Owners: none

Apply suggestions from code review
  ql/src/codeql_ruby/controlflow/CfgNodes.qll
  ql/src/codeql_ruby/dataflow/internal/TaintTrackingPrivate.qll
  ql/src/queries/security/cwe-089/SqlInjection.ql
Owners: none

StringInterpolationComponentCfgNode extends ExprNodes::StmtSequenceCfgNode
  ql/src/codeql_ruby/controlflow/CfgNodes.qll
  ql/src/codeql_ruby/dataflow/internal/TaintTrackingPrivate.qll
Owners: none

update SqlInjection tests
  ql/test/query-tests/security/cwe-089/ActiveRecordInjection.rb
  ql/test/query-tests/security/cwe-089/SqlInjection.expected
Owners: none

remove unnecessary ExprNodes prefix
  ql/src/codeql_ruby/controlflow/CfgNodes.qll
Owners: none

Update ql/src/codeql_ruby/dataflow/BarrierGuards.qll
  ql/src/codeql_ruby/dataflow/BarrierGuards.qll
Owners: none

update ActiveRecord test output
  ql/test/library-tests/frameworks/ActiveRecord.expected
Owners: none

Fix handling of arrays passed to ActiveRecord SQL methods
  ql/src/codeql_ruby/frameworks/ActiveRecord.qll
Owners: none

Address review comments
  ql/src/codeql_ruby/controlflow/CfgNodes.qll
  ql/src/codeql_ruby/dataflow/BarrierGuards.qll
  ql/src/codeql_ruby/dataflow/internal/TaintTrackingPrivate.qll
  ql/test/query-tests/security/cwe-089/ActiveRecordInjection.rb
Owners: none

Update autobuilder/src/main.rs
  autobuilder/src/main.rs
Owners: none

Add missing use statement
  autobuilder/src/main.rs
Owners: none

Apply suggestions from code review
  ql/src/codeql_ruby/dataflow/internal/TaintTrackingPrivate.qll
Owners: none

Create parent folders
  .github/workflows/build.yml
Owners: none

XML validation and spelling/ordering changes
  java/ql/src/experimental/Security/CWE/CWE-665/InsecureRmiJmxEnvironmentConfiguration.qhelp
Owners: @github/codeql-java, @xcorail

C++: Fix join order in 'bbSuccessorEntryReachesLoopInvariant'.
  cpp/ql/src/semmle/code/cpp/controlflow/StackVariableReachability.qll
Owners: @github/codeql-c-analysis

Fix test case
  ql/test/library-tests/dataflow/api-graphs/test1.rb
  ql/test/library-tests/dataflow/api-graphs/use.expected
  ql/test/library-tests/dataflow/api-graphs/use.ql
Owners: none

Model isNotEmpty from Apache Commons Collections
  java/ql/src/semmle/code/java/dataflow/NullGuards.qll
  java/ql/src/semmle/code/java/frameworks/apache/Collections.qll
Owners: @github/codeql-java

Model and use isEmpty from Apache Collections
  java/ql/src/semmle/code/java/dataflow/NullGuards.qll
  java/ql/src/semmle/code/java/frameworks/apache/Collections.qll
Owners: @github/codeql-java

Model MapUtils class and keyvalue package
  java/ql/src/semmle/code/java/frameworks/apache/Collections.qll
Owners: @github/codeql-java

Fix models (addressing PR review comments)
  java/ql/src/semmle/code/java/frameworks/apache/Collections.qll
Owners: @github/codeql-java

Add automatically-generated tests
  java/ql/test/library-tests/frameworks/apache-collections/Test.java
  java/ql/test/library-tests/frameworks/apache-collections/test.expected
  java/ql/test/library-tests/frameworks/apache-collections/test.ql
Owners: @github/codeql-java

Manually edit tests so they pass
  java/ql/test/library-tests/frameworks/apache-collections/Test.java
Owners: @github/codeql-java

Add automatically-generated stubs
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/Factory.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/Get.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/IterableGet.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/IterableMap.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/IterableSortedMap.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/KeyValue.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/MapIterator.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/MapUtils.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/MultiMap.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/OrderedIterator.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/OrderedMap.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/OrderedMapIterator.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/Predicate.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/Put.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/Transformer.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/Unmodifiable.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/keyvalue/AbstractKeyValue.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/keyvalue/AbstractMapEntry.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/keyvalue/AbstractMapEntryDecorator.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/keyvalue/DefaultKeyValue.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/keyvalue/DefaultMapEntry.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/keyvalue/TiedMapEntry.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/keyvalue/UnmodifiableMapEntry.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/map/AbstractIterableMap.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/map/AbstractMapDecorator.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/map/MultiValueMap.java
Owners: @github/codeql-java

Add options file
  java/ql/test/library-tests/frameworks/apache-collections/options
Owners: @github/codeql-java

Manually update automatically generated stubs
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/MapUtils.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/keyvalue/AbstractMapEntry.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/keyvalue/DefaultMapEntry.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/keyvalue/UnmodifiableMapEntry.java
  java/ql/test/stubs/apache-commons-collections4-4.4/org/apache/commons/collections4/map/MultiValueMap.java
Owners: @github/codeql-java

Duplicate models for old package name
  java/ql/src/semmle/code/java/frameworks/apache/Collections.qll
Owners: @github/codeql-java

Add Apache Commons Collections to coverage reports
  java/documentation/library-coverage/frameworks.csv
Owners: @github/codeql-java

CODEOWNERS:

/cpp/ @github/codeql-c-analysis
/csharp/ @github/codeql-csharp
/java/ @github/codeql-java
/javascript/ @github/codeql-javascript
/python/ @github/codeql-python

# Make @xcorail (GitHub Security Lab) a code owner for experimental queries so he gets pinged when we promote a query out of experimental
/cpp/**/experimental/**/* @github/codeql-c-analysis @xcorail
/csharp/**/experimental/**/* @github/codeql-csharp @xcorail
/java/**/experimental/**/* @github/codeql-java @xcorail
/javascript/**/experimental/**/* @github/codeql-javascript @xcorail
/python/**/experimental/**/* @github/codeql-python @xcorail

# Notify members of codeql-go about PRs to the shared data-flow library files
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
/java/ql/src/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll @github/codeql-java @github/codeql-go
