Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

calling `pop` or `shift` on a SplitPath returns a PosixPath
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
Owners: @Semmle/js

qldoc on splitPath
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Owners: @Semmle/js

JS: fix RegExp::getSuccessor/getPredecessor for sequence end/starts
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/test/library-tests/RegExp/predecessors_and_successors/getPredecessor.expected
  javascript/ql/test/library-tests/RegExp/predecessors_and_successors/getSuccessor.expected
Owners: @Semmle/js

JS: Fix typo in comment
  javascript/ql/src/semmle/javascript/dataflow/Nodes.qll
Owners: @Semmle/js

Python: Fix typos
  python/ql/src/Security/CWE-079/Jinja2WithoutEscaping.ql
  python/ql/src/Security/CWE-089/SqlInjection.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Python: Use StringValue instead of Value::forString
  python/ql/src/Security/CWE-022/TarSlip.ql
Owners: @Semmle/python

changes based on review
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/normalizedPaths.js
Owners: @Semmle/js

Java: Fix qldoc.
  java/ql/src/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
Owners: @Semmle/java

update expected output
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/Consistency.expected
Owners: @Semmle/js

Address review comments
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
Owners: @Semmle/cs

Data flow: Sync files
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Mention cookbook queries in 1.24 changenotes
  change-notes/1.24/analysis-go.md
Owners: none

C++: Fix join order
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
Owners: @Semmle/cpp-analysis

C++/C#/Java: Sync identical files
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Python: Improve django tests (and prepare for v2 + v3 support)
  python/ql/test/library-tests/web/django/HttpResponseSinks.expected
  python/ql/test/library-tests/web/django/HttpSources.expected
  python/ql/test/library-tests/web/django/test_1x.py
  python/ql/test/library-tests/web/django/views_1x.py
Owners: @Semmle/python

Python: Add HttpRedirectSinks test for django
  python/ql/src/semmle/python/web/django/Redirect.qll
  python/ql/test/library-tests/web/django/HttpRedirectSinks.expected
  python/ql/test/library-tests/web/django/HttpRedirectSinks.ql
  python/ql/test/query-tests/Security/lib/django/shortcuts.py
Owners: @Semmle/python

Python: Follow conventions of getASomething
  python/ql/src/semmle/python/web/bottle/General.qll
  python/ql/src/semmle/python/web/bottle/Request.qll
  python/ql/src/semmle/python/web/django/General.qll
  python/ql/src/semmle/python/web/django/Request.qll
Owners: @Semmle/python

docs: technical feedback
  docs/language/ql-handbook/expressions.rst
Owners: @shati-patel, @jf205

Data flow: Improve join-order in `pathStep` predicate
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
Owners: @Semmle/cs

Data flow: Sync files
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Data flow: Track simple call contexts in `nodeCand[Fwd]1`
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
Owners: @Semmle/cs

Data flow: Sync files
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Data flow: Fix typo
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Renames typeErrorType to typeError
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Swaps xType for just x, at least when it's new
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Moves to higher level API
  python/ql/src/Expressions/UseofApply.ql
Owners: @Semmle/python

Fixes expected results bug
  python/ql/test/query-tests/Expressions/general/UseofApply.expected
Owners: @Semmle/python

Fixes renaming bug
  python/ql/src/Expressions/HashedButNoHash.ql
Owners: @Semmle/python

JS: introduce RegExpSequence::nextElement and previousElement
  javascript/ql/src/semmle/javascript/Regexp.qll
Owners: @Semmle/js

C++: Manual magic for `isInCycle`
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
Owners: @Semmle/cpp-analysis

Rename `ArrowExpr` to `RecvExpr` and address further review comments.
  ql/docs/learn-ql/introduce-libraries.rst
  ql/src/semmle/go/Expr.qll
  ql/src/semmle/go/Stmt.qll
Owners: none

use a barrier directly instead of a barrier guard
  javascript/ql/src/Security/CWE-400/PrototypePollutionUtility.ql
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/src/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPath.qll
  javascript/ql/src/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
  javascript/ql/test/library-tests/TaintBarriers/SanitizingGuard.expected
Owners: @Semmle/js

Python: Add support for Django 2.x and 3.x
  python/ql/src/semmle/python/web/django/General.qll
  python/ql/src/semmle/python/web/django/Request.qll
  python/ql/src/semmle/python/web/django/Response.qll
  python/ql/src/semmle/python/web/django/Shared.qll
  python/ql/test/library-tests/web/django/HttpRedirectSinks.expected
  python/ql/test/library-tests/web/django/HttpResponseSinks.expected
  python/ql/test/library-tests/web/django/HttpSources.expected
  python/ql/test/library-tests/web/django/test_2x_3x.py
  python/ql/test/library-tests/web/django/views_2x_3x.py
  python/ql/test/query-tests/Security/lib/django/conf/urls.py
  python/ql/test/query-tests/Security/lib/django/shortcuts.py
  python/ql/test/query-tests/Security/lib/django/urls.py
  python/ql/test/query-tests/Security/lib/django/views/__init__.py
  python/ql/test/query-tests/Security/lib/django/views/generic.py
Owners: @Semmle/python

Python: Write DjangoPathRoute in modern way
  python/ql/src/semmle/python/web/django/General.qll
Owners: @Semmle/python

Python: Write DjangoRegexRoute in more modern way
  python/ql/src/semmle/python/web/django/General.qll
Owners: @Semmle/python

Python: Autoformat django/General.qll
  python/ql/src/semmle/python/web/django/General.qll
Owners: @Semmle/python

C#: DB upgrade script
  csharp/upgrades/ad622770b3c38e7639883301e9e52ff1f3a4df4c/old.dbscheme
  csharp/upgrades/ad622770b3c38e7639883301e9e52ff1f3a4df4c/semmlecode.csharp.dbscheme
  csharp/upgrades/ad622770b3c38e7639883301e9e52ff1f3a4df4c/upgrade.properties
Owners: @Semmle/cs

C#: Add test for a qualifiable delegate invocation
  csharp/ql/test/library-tests/delegates/delegates.cs
  csharp/ql/test/library-tests/expressions/QualifiableExpr.expected
Owners: @Semmle/cs

C#: Address review comment
  csharp/ql/src/semmle/code/csharp/exprs/Call.qll
Owners: @Semmle/cs

C#: @delegate_invocation_expr are qualifable
  csharp/ql/src/semmlecode.csharp.dbscheme
Owners: @Semmle/cs
