Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

Use buffered writers
  extractor/trap/trapwriter.go
Owners: none

C++: autoformat fixup
  cpp/ql/src/semmle/code/cpp/ir/implementation/aliased_ssa/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/IRSanity.qll
  cpp/ql/src/semmle/code/cpp/ir/implementation/unaliased_ssa/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/raw/IRSanity.qll
  csharp/ql/src/semmle/code/csharp/ir/implementation/unaliased_ssa/IRSanity.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs

Update docs/language/learn-ql/javascript/introduce-libraries-ts.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
Owners: @shati-patel, @jf205

Update docs/language/learn-ql/javascript/type-tracking.rst
  docs/language/learn-ql/javascript/type-tracking.rst
Owners: @shati-patel, @jf205

pre-migration tasks: address review comments
  docs/language/learn-ql/javascript/ast-class-reference.rst
  docs/language/learn-ql/javascript/dataflow.rst
  docs/language/learn-ql/javascript/flow-labels.rst
  docs/language/learn-ql/javascript/introduce-libraries-js.rst
  docs/language/learn-ql/javascript/introduce-libraries-ts.rst
  docs/language/learn-ql/javascript/type-tracking.rst
Owners: @shati-patel, @jf205

Sharpen `stringConcatStep` to exclude addition.
  ql/src/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
Owners: none

Introduce post-update nodes for arguments with a mutable type.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

Add a taint-tracking model for `copy`.
  ql/src/semmle/go/dataflow/FunctionInputsAndOutputs.qll
  ql/src/semmle/go/frameworks/Stdlib.qll
  ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalFlowStep.expected
  ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
  ql/test/library-tests/semmle/go/dataflow/FlowSteps/main.go
Owners: none

Fix flow step from global functions to their use.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
  ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalFlowStep.expected
Owners: none

Add taint-tracking model for `append`.
  ql/src/semmle/go/frameworks/Stdlib.qll
  ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
Owners: none

Don't rely on flow through function models in definition of `PostUpdateNode`.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

Factor out an auxiliary predicate.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

Introduce (un-)marshaling functions as a concept and instantiate it with the functions in `encoding/json`.
  ql/src/semmle/go/Concepts.qll
  ql/src/semmle/go/frameworks/Stdlib.qll
  ql/src/semmle/go/security/StringBreakCustomizations.qll
Owners: none

Update docs/language/learn-ql/javascript/type-tracking.rst
  docs/language/learn-ql/javascript/type-tracking.rst
Owners: @shati-patel, @jf205

Update docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
  docs/language/learn-ql/javascript/dataflow-cheat-sheet.rst
Owners: @shati-patel, @jf205

Python: Modernise StringKind files
  python/ql/src/semmle/python/security/strings/Basic.qll
  python/ql/src/semmle/python/security/strings/Common.qll
  python/ql/src/semmle/python/security/strings/External.qll
Owners: @Semmle/python

C++: Test for constant static initializer
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/struct_init.cpp
Owners: @Semmle/cpp-analysis

C++: Ignore constant static initializers
  cpp/ql/src/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/rangeanalysis/signanalysis/SignAnalysis.expected
Owners: @Semmle/cpp-analysis

Add libraries for go.mod expressions
  ql/src/go.qll
  ql/src/semmle/go/AST.qll
  ql/src/semmle/go/Files.qll
  ql/src/semmle/go/GoModExpr.qll
Owners: none

Add libraries modeling dependencies
  ql/src/semmle/go/dependencies/Dependencies.qll
  ql/src/semmle/go/dependencies/DependencyCustomizations.qll
  ql/src/semmle/go/dependencies/SemVer.qll
Owners: none

Add go.mod expression tests
  ql/test/library-tests/semmle/go/GoModExpr/ExcludeLines.expected
  ql/test/library-tests/semmle/go/GoModExpr/ExcludeLines.ql
  ql/test/library-tests/semmle/go/GoModExpr/ReplaceLines.expected
  ql/test/library-tests/semmle/go/GoModExpr/ReplaceLines.ql
  ql/test/library-tests/semmle/go/GoModExpr/RequireLines.expected
  ql/test/library-tests/semmle/go/GoModExpr/RequireLines.ql
  ql/test/library-tests/semmle/go/GoModExpr/pkg1/go.mod
  ql/test/library-tests/semmle/go/GoModExpr/pkg1/pkg1.go
  ql/test/library-tests/semmle/go/GoModExpr/pkg2/go.mod
  ql/test/library-tests/semmle/go/GoModExpr/pkg2/pkg2.go
  ql/test/library-tests/semmle/go/GoModExpr/squirrel/LICENSE
  ql/test/library-tests/semmle/go/GoModExpr/squirrel/README.md
  ql/test/library-tests/semmle/go/GoModExpr/squirrel/go.mod
  ql/test/library-tests/semmle/go/GoModExpr/squirrel/squirrel.go
Owners: none

Add tests for dependencies library
  ql/test/library-tests/semmle/go/dependencies/GoModDependency.expected
  ql/test/library-tests/semmle/go/dependencies/GoModDependency.ql
  ql/test/library-tests/semmle/go/dependencies/SemVer.expected
  ql/test/library-tests/semmle/go/dependencies/SemVer.ql
  ql/test/library-tests/semmle/go/dependencies/ShaVer.expected
  ql/test/library-tests/semmle/go/dependencies/ShaVer.ql
  ql/test/library-tests/semmle/go/dependencies/codeql-go/go.mod
  ql/test/library-tests/semmle/go/dependencies/fabric-snaps/LICENSE
  ql/test/library-tests/semmle/go/dependencies/fabric-snaps/go.mod
  ql/test/library-tests/semmle/go/dependencies/hrm-profile-tool/LICENSE
  ql/test/library-tests/semmle/go/dependencies/hrm-profile-tool/go.mod
  ql/test/library-tests/semmle/go/dependencies/sweb/LICENSE
  ql/test/library-tests/semmle/go/dependencies/sweb/go.mod
Owners: none

extractor: Don't log directory being walked for go.mod files
  extractor/extractor.go
Owners: none

Address review comments
  ql/src/semmle/go/GoModExpr.qll
  ql/src/semmle/go/dependencies/Dependencies.qll
  ql/src/semmle/go/dependencies/SemVer.qll
  ql/test/library-tests/semmle/go/GoModExpr/ExcludeLines.expected
  ql/test/library-tests/semmle/go/GoModExpr/ExcludeLines.ql
  ql/test/library-tests/semmle/go/GoModExpr/ReplaceLines.expected
  ql/test/library-tests/semmle/go/GoModExpr/ReplaceLines.ql
  ql/test/library-tests/semmle/go/GoModExpr/RequireLines.expected
  ql/test/library-tests/semmle/go/GoModExpr/RequireLines.ql
  ql/test/library-tests/semmle/go/dependencies/SemVer.ql
  ql/test/library-tests/semmle/go/dependencies/ShaVer.ql
  ql/test/library-tests/semmle/go/dependencies/fabric-snaps/README.md
  ql/test/library-tests/semmle/go/dependencies/hrm-profile-tool/README.md
  ql/test/library-tests/semmle/go/dependencies/sweb/README.md
Owners: none

Dependencies: Make getAnImport() more precise
  ql/src/semmle/go/dependencies/Dependencies.qll
Owners: none

Remove DependencyCustomizations
  ql/src/semmle/go/dependencies/Dependencies.qll
  ql/src/semmle/go/dependencies/DependencyCustomizations.qll
Owners: none

Add test for replace line with versions
  ql/test/library-tests/semmle/go/GoModExpr/ExcludeLines.expected
  ql/test/library-tests/semmle/go/GoModExpr/ReplaceLines.expected
  ql/test/library-tests/semmle/go/GoModExpr/RequireLines.expected
  ql/test/library-tests/semmle/go/GoModExpr/pkg2/go.mod
Owners: none

GoModExpr.qll: Rename getOffsetToken to GoModLine.getToken
  ql/src/semmle/go/GoModExpr.qll
Owners: none

Address review comments.
  ql/src/semmle/go/dependencies/Dependencies.qll
  ql/src/semmle/go/dependencies/SemVer.qll
Owners: none

Add a GoModFile class
  ql/src/go.qll
  ql/src/semmle/go/GoMod.qll
Owners: none

Add a change note about go.mod extraction
  change-notes/1.24/extractor-go.md
Owners: none

Address review comments.
  ql/src/semmle/go/GoMod.qll
  ql/src/semmle/go/dependencies/Dependencies.qll
  ql/src/semmle/go/dependencies/SemVer.qll
Owners: none

Address review comments.
  ql/src/semmle/go/dataflow/FunctionInputsAndOutputs.qll
Owners: none

Update docs/language/learn-ql/python/introduce-libraries-python.rst
  docs/language/learn-ql/python/introduce-libraries-python.rst
Owners: @shati-patel, @jf205

Python: Remove usage of deprecated .getValue()
  python/ql/src/Variables/MonkeyPatched.qll
  python/ql/src/semmle/python/dataflow/TaintTracking.qll
  python/ql/src/semmle/python/security/strings/Basic.qll
  python/ql/src/semmle/python/security/strings/External.qll
  python/ql/src/semmle/python/values/StringAttributes.qll
  python/ql/src/semmle/python/web/Http.qll
  python/ql/src/semmle/python/web/django/Request.qll
Owners: @Semmle/python

Python: Fix formatting of isLegalExceptionType
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Python: Modernise remaining Security/*.qll files
  python/ql/src/semmle/python/security/ClearText.qll
  python/ql/src/semmle/python/security/Crypto.qll
  python/ql/src/semmle/python/security/Exceptions.qll
  python/ql/src/semmle/python/security/SensitiveData.qll
Owners: @Semmle/python

Add test case from https://github.com/github/codeql-go/issues/48.
  ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  ql/test/query-tests/Security/CWE-089/issue48.go
Owners: none

Add another test for StringBreak.
  ql/test/query-tests/Security/CWE-089/tst.go
Owners: none

Add model of ioutil.ReadAll
  ql/src/semmle/go/frameworks/Stdlib.qll
Owners: none

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
