Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

a bit of self-review and an auto-format
  javascript/ql/src/semmle/javascript/Promises.qll
  javascript/ql/src/semmle/javascript/dataflow/Configuration.qll
Owners: @Semmle/js

fix a number of FPs in js/exception-xss
  javascript/ql/src/semmle/javascript/security/dataflow/DomBasedXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/ExceptionXss.qll
  javascript/ql/src/semmle/javascript/security/dataflow/Xss.qll
  javascript/ql/test/query-tests/Security/CWE-079/tst.js
Owners: @Semmle/js

CPP: Use hasGlobalName where appropriate.
  cpp/ql/src/semmle/code/cpp/models/implementations/Pure.qll
Owners: @Semmle/cpp-analysis

C#: Default parameter values are maybe null
  csharp/ql/src/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/test/query-tests/Nullness/E.cs
  csharp/ql/test/query-tests/Nullness/Implications.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Owners: @Semmle/cs

C#: Analysis change notes
  change-notes/1.24/analysis-csharp.md
Owners: none

changes based on review
  javascript/ql/src/semmle/javascript/frameworks/SocketIO.qll
  javascript/ql/test/library-tests/frameworks/SocketIO/tests.expected
  javascript/ql/test/library-tests/frameworks/SocketIO/tst.js
Owners: @Semmle/js

CPP: Fix the nulltermination test.
  cpp/ql/test/library-tests/nulltermination/test.c
Owners: @Semmle/cpp-analysis

CPP: Re-layout test.
  cpp/ql/test/library-tests/nulltermination/mayAddNullTerminator.expected
  cpp/ql/test/library-tests/nulltermination/test.c
  cpp/ql/test/library-tests/nulltermination/variableMustBeNullTerminated.expected
Owners: @Semmle/cpp-analysis

C++: Fix formatting in example
  cpp/ql/src/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.c
Owners: @Semmle/cpp-analysis

C++: Rename .qlhelp to .qhelp
  cpp/ql/src/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.qhelp
Owners: @hubwriter

Add failing test case.
  ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  ql/test/query-tests/Security/CWE-089/main.go
Owners: none

C++: Fix typo in MallocSizeExpr
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound.qll
Owners: @Semmle/cpp-analysis

Make `CallNode.getReceiver()` less syntactic.
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

Autoformat.
  ql/src/semmle/go/controlflow/ControlFlowGraphImpl.qll
Owners: none

Make taint tracking less syntactic.
  ql/src/semmle/go/dataflow/internal/TaintTrackingUtil.qll
Owners: none

Model panic from out-of-bounds index expression.
  ql/src/semmle/go/controlflow/ControlFlowGraphImpl.qll
  ql/test/library-tests/semmle/go/controlflow/ControlFlowGraph/ControlFlowNode_getASuccessor.expected
Owners: none

Autoformat.
  ql/src/semmle/go/controlflow/IR.qll
Owners: none

Update HTTP library.
  ql/src/semmle/go/frameworks/HTTP.qll
Owners: none

Model implicit dereferences in data flow.
  ql/src/semmle/go/dataflow/internal/DataFlowPrivate.qll
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
  ql/test/query-tests/Security/CWE-022/ZipSlip.expected
Owners: none

Refactor implementation of `SliceNode`.
  ql/src/semmle/go/controlflow/IR.qll
  ql/src/semmle/go/dataflow/internal/DataFlowUtil.qll
Owners: none

Add IR instructions to model implicit pointer dereferences.
  ql/src/semmle/go/controlflow/ControlFlowGraphImpl.qll
  ql/src/semmle/go/controlflow/IR.qll
  ql/test/library-tests/semmle/go/controlflow/ControlFlowGraph/ControlFlowNode_getASuccessor.expected
Owners: none

Add a few variants to test.
  ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  ql/test/query-tests/Security/CWE-089/main.go
Owners: none

Add change note.
  change-notes/1.24/analysis-go.md
Owners: none

Remove `CallExpr.getQualifier()` and its single, pointless, use.
  ql/src/semmle/go/Expr.qll
  ql/src/semmle/go/dataflow/internal/DataFlowPrivate.qll
Owners: none

Streamline definition of `UserControlledRequestField`.
  ql/src/semmle/go/frameworks/HTTP.qll
Owners: none

Take implicit dereferences in index and slice expressions into account as well.
  ql/src/semmle/go/controlflow/ControlFlowGraphImpl.qll
  ql/src/semmle/go/controlflow/IR.qll
Owners: none

Make ImpossibleInterfaceNilCheck more robust.
  ql/src/RedundantCode/ImpossibleInterfaceNilCheck.ql
  ql/test/query-tests/RedundantCode/ImpossibleInterfaceNilCheck/err.go
Owners: none

C++: Add DataFlow::Node.asDefiningArgument in IR
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Owners: @Semmle/cpp-analysis

C++: Test IR taint through library functions
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.ql
Owners: @Semmle/cpp-analysis

C++: Wire up models to DefaultTaintTracking
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/tainted.expected
Owners: @Semmle/cpp-analysis

add support for subclasses of EventEmitter
  javascript/ql/src/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/test/library-tests/frameworks/EventEmitter/test.expected
  javascript/ql/test/library-tests/frameworks/EventEmitter/tst.js
Owners: @Semmle/js

C++: autoformat
  cpp/ql/src/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
Owners: @Semmle/cpp-analysis

C#: Add precision to queries
  csharp/ql/src/Security Features/CWE-020/RuntimeChecksBypass.ql
  csharp/ql/src/Security Features/CWE-091/XMLInjection.ql
  csharp/ql/src/Security Features/CWE-114/AssemblyPathInjection.ql
  csharp/ql/src/Security Features/CWE-327/InsecureSQLConnection.ql
Owners: @Semmle/cs

C#: Analysis change notes
  change-notes/1.24/analysis-csharp.md
Owners: none

Java/C++/C#: Remove DataFlowLocation as it's no longer needed.
  cpp/ql/src/semmle/code/cpp/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/src/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  java/ql/src/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
Owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java

Python: Highlight that any comparison will clear taint
  python/ql/test/library-tests/taint/general/TestDefn.expected
  python/ql/test/library-tests/taint/general/TestSink.expected
  python/ql/test/library-tests/taint/general/TestSource.expected
  python/ql/test/library-tests/taint/general/TestStep.expected
  python/ql/test/library-tests/taint/general/TestVar.expected
  python/ql/test/library-tests/taint/general/test.py
Owners: @Semmle/python

Python: Only comparison with constant will clear taint
  python/ql/src/semmle/python/dataflow/Implementation.qll
  python/ql/test/library-tests/taint/general/TestSink.expected
  python/ql/test/library-tests/taint/general/TestStep.expected
  python/ql/test/library-tests/taint/general/TestVar.expected
Owners: @Semmle/python

Python: Add false positive test example for issue #2652.
  python/ql/test/query-tests/Variables/unused/UnusedLocalVariable.expected
  python/ql/test/query-tests/Variables/unused/type_annotation_fp.py
Owners: @Semmle/python

Python: Remove unused variable in example for py/url-redirection
  python/ql/src/Security/CWE-601/examples/redirect_bad.py
  python/ql/src/Security/CWE-601/examples/redirect_good.py
  python/ql/test/query-tests/Security/CWE-601/UrlRedirect.expected
  python/ql/test/query-tests/Security/CWE-601/test.py
Owners: @Semmle/python

remove use of .getAlocalSource() i custom load/store test
  javascript/ql/test/library-tests/CustomLoadStoreSteps/test.ql
Owners: @Semmle/js

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205
