Repository github/codeql, changes with the owners that CODEOWNERS names for each.
All owners: @Semmle/cpp-analysis, @Semmle/cs, @Semmle/java, @Semmle/js, @Semmle/python, @hubwriter, @jf205, @felicitymay, @mchammer01, @shati-patel

CODEOWNERS:

/cpp/ @Semmle/cpp-analysis
/csharp/ @Semmle/cs
/java/ @Semmle/java
/javascript/ @Semmle/js
/python/ @Semmle/python
/cpp/**/*.qhelp @hubwriter
/csharp/**/*.qhelp @jf205
/java/**/*.qhelp @felicitymay
/javascript/**/*.qhelp @mchammer01
/python/**/*.qhelp @felicitymay
/docs/language/ @shati-patel @jf205

C#: Update .expected file.
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
Owners: @Semmle/cs

Python: Adapt twisted tests so they pass
  python/ql/test/library-tests/web/twisted/Classes.expected
  python/ql/test/library-tests/web/twisted/Methods.expected
  python/ql/test/library-tests/web/twisted/Sinks.expected
  python/ql/test/library-tests/web/twisted/Sources.expected
  python/ql/test/library-tests/web/twisted/Taint.expected
  python/ql/test/library-tests/web/twisted/options
  python/ql/test/query-tests/Security/lib/twisted/__init__.py
  python/ql/test/query-tests/Security/lib/twisted/web/__init__.py
  python/ql/test/query-tests/Security/lib/twisted/web/http.py
  python/ql/test/query-tests/Security/lib/twisted/web/resource.py
Owners: @Semmle/python

Python: Restructure logic in Twisted.qll
  python/ql/src/semmle/python/web/twisted/Twisted.qll
Owners: @Semmle/python

Python: Add twisted tests from internal repo
  python/ql/test/library-tests/web/twisted/Classes.expected
  python/ql/test/library-tests/web/twisted/Classes.ql
  python/ql/test/library-tests/web/twisted/Methods.expected
  python/ql/test/library-tests/web/twisted/Methods.ql
  python/ql/test/library-tests/web/twisted/Sinks.expected
  python/ql/test/library-tests/web/twisted/Sinks.ql
  python/ql/test/library-tests/web/twisted/Sources.expected
  python/ql/test/library-tests/web/twisted/Sources.ql
  python/ql/test/library-tests/web/twisted/Taint.expected
  python/ql/test/library-tests/web/twisted/Taint.ql
  python/ql/test/library-tests/web/twisted/options
  python/ql/test/library-tests/web/twisted/test.py
Owners: @Semmle/python

Python: Autoformat twisted library
  python/ql/src/semmle/python/web/twisted/Request.qll
  python/ql/src/semmle/python/web/twisted/Response.qll
  python/ql/src/semmle/python/web/twisted/Twisted.qll
Owners: @Semmle/python

Python: Modernise twisted library
  python/ql/src/semmle/python/web/twisted/Response.qll
  python/ql/src/semmle/python/web/twisted/Twisted.qll
  python/ql/test/library-tests/web/twisted/Classes.ql
  python/ql/test/library-tests/web/twisted/Methods.expected
  python/ql/test/library-tests/web/twisted/Methods.ql
Owners: @Semmle/python

add support for import.meta expressions in JavaScript
  javascript/extractor/src/com/semmle/jcorn/ESNextParser.java
  javascript/extractor/src/com/semmle/js/ast/MetaProperty.java
  javascript/ql/test/library-tests/Modules/ImportMeta.qll
  javascript/ql/test/library-tests/Modules/importmeta.js
  javascript/ql/test/library-tests/Modules/tests.expected
  javascript/ql/test/library-tests/Modules/tests.ql
Owners: @Semmle/js

add change note
  change-notes/1.24/analysis-javascript.md
Owners: none

changes based on review
  javascript/extractor/src/com/semmle/jcorn/ESNextParser.java
Owners: @Semmle/js

inline definition of importIdentifier
  javascript/extractor/src/com/semmle/jcorn/ESNextParser.java
Owners: @Semmle/js

Python: Add getAReturnedNode to PythonFunctionValue
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/web/flask/Response.qll
  python/ql/src/semmle/python/web/pyramid/Response.qll
  python/ql/src/semmle/python/web/twisted/Response.qll
Owners: @Semmle/python

move change notes to extractor-javascript.md
  change-notes/1.24/analysis-javascript.md
  change-notes/1.24/extractor-javascript.md
Owners: none

Teach TRAP writer to truncate strings longer than 1MiB.
  extractor/trap/trapwriter.go
  extractor/trap/trapwriter_test.go
Owners: none

Update java/ql/src/Security/CWE/CWE-829/InsecureDependencyResolution.qhelp
  java/ql/src/Security/CWE/CWE-829/InsecureDependencyResolution.qhelp
Owners: @felicitymay

C++: Alert suppresion through single-line /* */ style comments
  cpp/ql/src/AlertSuppression.ql
  cpp/ql/test/query-tests/AlertSuppression/AlertSuppression.expected
  cpp/ql/test/query-tests/AlertSuppression/tst.c
  cpp/ql/test/query-tests/AlertSuppression/tstWindows.c
Owners: @Semmle/cpp-analysis

C#: Sync `XML.qll` with other languages
  config/identical-files.json
  csharp/ql/src/semmle/code/csharp/XML.qll
  csharp/ql/src/semmle/files/FileSystem.qll
Owners: @Semmle/cs

C#: Update `XML.qll` for backwards compatibility
  csharp/ql/src/semmle/code/csharp/XML.qll
Owners: @Semmle/cs

Sync `XML.qll`
  cpp/ql/src/semmle/code/cpp/XML.qll
  java/ql/src/semmle/code/xml/XML.qll
  javascript/ql/src/semmle/javascript/XML.qll
  python/ql/src/semmle/python/xml/XML.qll
Owners: @Semmle/cpp-analysis, @Semmle/java, @Semmle/js, @Semmle/python

remove FP from js/regexpinjection where no regexp was constructed
  javascript/ql/src/semmle/javascript/Regexp.qll
  javascript/ql/test/query-tests/Security/CWE-730/RegExpInjection.js
  javascript/ql/test/query-tests/Security/CWE-730/search.js
Owners: @Semmle/js

C#: WIP Adding exception handlers. C#: Improve robustness by catching and logging exceptions when generating trap IDs.
  csharp/extractor/Semmle.Extraction.CIL/Factories.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/extractor/Semmle.Extraction/Entity.cs
  csharp/extractor/Semmle.Extraction/TrapExtensions.cs
Owners: @Semmle/cs

more precise heuristic to identify allowed call targets
  javascript/ql/src/semmle/javascript/Regexp.qll
Owners: @Semmle/js

Python: Add override helpers to Value classes
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/library-tests/overrides/FunctionOverrides.expected
  python/ql/test/library-tests/overrides/FunctionOverrides.ql
  python/ql/test/library-tests/overrides/test.py
Owners: @Semmle/python

Python: Modernise Variables/MonkeyPatched.qll
  python/ql/src/Variables/MonkeyPatched.qll
Owners: @Semmle/python

Python: Modernise py/unused-parameter
  python/ql/src/Variables/UnusedParameter.ql
Owners: @Semmle/python

Python: Rewrite casts for py/undefined-global-variable
  python/ql/src/Variables/UndefinedGlobal.ql
Owners: @Semmle/python

Python: Modernise Variables/Undefined.qll
  python/ql/src/Variables/Undefined.qll
Owners: @Semmle/python

Python: Add ModuleValue::hasCompleteExportInfo
  python/ql/src/semmle/python/objects/Modules.qll
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/src/semmle/python/types/ModuleObject.qll
Owners: @Semmle/python

Python: Modernise py/undefined-global-variable
  python/ql/src/Variables/UndefinedGlobal.ql
Owners: @Semmle/python

Python: Modernise py/unused-loop-variable
  python/ql/src/Variables/SuspiciousUnusedLoopIterationVariable.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
  python/ql/test/query-tests/Variables/unused/test.py
Owners: @Semmle/python

Python: Modernise py/local-shadows-global
  python/ql/src/Variables/ShadowGlobal.ql
Owners: @Semmle/python

Python: Add Module::builtinModule()
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Python: Modernise py/local-shadows-builtin
  python/ql/src/Variables/ShadowBuiltin.ql
Owners: @Semmle/python

Python: Modernise py/uninitialized-local-variable
  python/ql/src/Variables/UninitializedLocal.ql
  python/ql/src/semmle/python/objects/ObjectAPI.qll
Owners: @Semmle/python

Python: Autoformat Variables/*
  python/ql/src/Variables/Definition.qll
  python/ql/src/Variables/Global.ql
  python/ql/src/Variables/GlobalAtModuleLevel.ql
  python/ql/src/Variables/LeakingListComprehension.ql
  python/ql/src/Variables/Loop.qll
  python/ql/src/Variables/LoopVariableCapture.ql
  python/ql/src/Variables/MultiplyDefined.ql
  python/ql/src/Variables/ShadowBuiltin.ql
  python/ql/src/Variables/ShadowGlobal.ql
  python/ql/src/Variables/Shadowing.qll
  python/ql/src/Variables/SuspiciousUnusedLoopIterationVariable.ql
  python/ql/src/Variables/Undefined.qll
  python/ql/src/Variables/UndefinedGlobal.ql
  python/ql/src/Variables/UndefinedPlaceHolder.ql
  python/ql/src/Variables/UninitializedLocal.ql
  python/ql/src/Variables/UnusedModuleVariable.ql
  python/ql/src/Variables/UnusedParameter.ql
Owners: @Semmle/python

Python: Address comments for modernising Variables/
  python/ql/src/Variables/LoopVariableCapture.ql
  python/ql/src/Variables/ShadowBuiltin.ql
  python/ql/src/Variables/ShadowGlobal.ql
  python/ql/src/Variables/SuspiciousUnusedLoopIterationVariable.ql
  python/ql/src/Variables/UndefinedGlobal.ql
  python/ql/src/semmle/python/objects/Modules.qll
Owners: @Semmle/python

C++: Remove abstract classes from unary operations
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/BitwiseOperation.qll
  cpp/ql/src/semmle/code/cpp/exprs/Expr.qll
  cpp/ql/src/semmle/code/cpp/exprs/LogicalOperation.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis

C++: Added update script
  cpp/upgrades/bd182f697bf1316c401421d64e582871331a69f4/old.dbscheme
  cpp/upgrades/bd182f697bf1316c401421d64e582871331a69f4/semmlecode.cpp.dbscheme
  cpp/upgrades/bd182f697bf1316c401421d64e582871331a69f4/upgrade.properties
Owners: @Semmle/cpp-analysis

Remove @prefix_crement_oper_expr and @postfix_crement_oper_expr clauses
  cpp/ql/src/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis

C++: Rename crement operations
  cpp/ql/src/semmle/code/cpp/exprs/ArithmeticOperation.qll
  cpp/ql/src/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis

C++: Format .dbscheme file
  cpp/ql/src/semmlecode.cpp.dbscheme
Owners: @Semmle/cpp-analysis
